{
  "title": "Cloud Natural Language API",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "name": "language",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "canonicalName": "Cloud Natural Language",
  "version": "v2",
  "schemas": {
    "XPSTablesClassificationMetrics": {
      "id": "XPSTablesClassificationMetrics",
      "description": "Metrics for Tables classification problems.",
      "type": "object",
      "properties": {
        "curveMetrics": {
          "description": "Metrics building a curve.",
          "type": "array",
          "items": {
            "$ref": "XPSTablesClassificationMetricsCurveMetrics"
          }
        }
      }
    },
    "XPSCategoryStats": {
      "properties": {
        "topCategoryStats": {
          "items": {
            "$ref": "XPSCategoryStatsSingleCategoryStats"
          },
          "description": "The statistics of the top 20 CATEGORY values, ordered by CategoryStats.SingleCategoryStats.count.",
          "type": "array"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "type": "object",
      "id": "XPSCategoryStats",
      "description": "The data statistics of a series of CATEGORY values."
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "properties": {
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          },
          "type": "array",
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it."
        }
      },
      "id": "XPSImageSegmentationEvaluationMetrics",
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "type": "object"
    },
    "XPSBatchPredictResponse": {
      "id": "XPSBatchPredictResponse",
      "type": "object",
      "properties": {
        "exampleSet": {
          "$ref": "XPSExampleSet",
          "description": "Examples for batch prediction result. Under full API implementation, results are stored in shared RecordIO of AnnotatedExample protobufs, the annotations field of which is populated by XPS backend."
        }
      }
    },
    "XPSResponseExplanationParameters": {
      "properties": {
        "integratedGradientsAttribution": {
          "$ref": "XPSIntegratedGradientsAttribution",
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
        },
        "xraiAttribution": {
          "$ref": "XPSXraiAttribution",
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead."
        }
      },
      "id": "XPSResponseExplanationParameters",
      "deprecated": true,
      "type": "object"
    },
    "TpuMetric": {
      "type": "object",
      "id": "TpuMetric",
      "properties": {
        "tpuType": {
          "enum": [
            "UNKNOWN_TPU_TYPE",
            "TPU_V2_POD",
            "TPU_V2",
            "TPU_V3_POD",
            "TPU_V3",
            "TPU_V5_LITEPOD"
          ],
          "type": "string",
          "description": "Required. Type of TPU, e.g. TPU_V2, TPU_V3_POD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "tpuSec": {
          "description": "Required. Seconds of TPU usage, e.g. 3600.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ModerateTextRequest": {
      "id": "ModerateTextRequest",
      "description": "The document moderation request message.",
      "type": "object",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "modelVersion": {
          "type": "string",
          "description": "Optional. The model version to use for ModerateText.",
          "enumDescriptions": [
            "The default model version.",
            "Use the v1 model, this model is used by default when not provided. The v1 model only returns probability (confidence) score for each category.",
            "Use the v2 model. The v2 model only returns probability (confidence) score for each category, and returns severity score for a subset of the categories."
          ],
          "enum": [
            "MODEL_VERSION_UNSPECIFIED",
            "MODEL_VERSION_1",
            "MODEL_VERSION_2"
          ]
        }
      }
    },
    "XPSVideoModelArtifactSpec": {
      "properties": {
        "servingArtifact": {
          "$ref": "XPSModelArtifactItem",
          "description": "The default model binary file used for serving (e.g. batch predict) via public Cloud AI Platform API."
        },
        "exportArtifact": {
          "items": {
            "$ref": "XPSModelArtifactItem"
          },
          "description": "The model binary files in different formats for model export.",
          "type": "array"
        }
      },
      "id": "XPSVideoModelArtifactSpec",
      "type": "object"
    },
    "XPSImageExportModelSpec": {
      "type": "object",
      "id": "XPSImageExportModelSpec",
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format.",
      "properties": {
        "exportModelOutputConfig": {
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "type": "array",
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          }
        }
      }
    },
    "XPSTranslationEvaluationMetrics": {
      "properties": {
        "bleuScore": {
          "type": "number",
          "description": "BLEU score.",
          "format": "double"
        },
        "baseBleuScore": {
          "type": "number",
          "description": "BLEU score for base model.",
          "format": "double"
        }
      },
      "id": "XPSTranslationEvaluationMetrics",
      "description": "Evaluation metrics for the dataset.",
      "type": "object"
    },
    "XPSCoreMlFormat": {
      "properties": {},
      "id": "XPSCoreMlFormat",
      "description": "A model format used for iOS mobile devices.",
      "type": "object"
    },
    "XPSDockerFormat": {
      "properties": {
        "cpuArchitecture": {
          "description": "Optional. Additional cpu information describing the requirements for the to be exported model files.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CPU_ARCHITECTURE_UNSPECIFIED",
            "CPU_ARCHITECTURE_X86_64"
          ]
        },
        "gpuArchitecture": {
          "enum": [
            "GPU_ARCHITECTURE_UNSPECIFIED",
            "GPU_ARCHITECTURE_NVIDIA"
          ],
          "description": "Optional. Additional gpu information describing the requirements for the to be exported model files.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "XPSDockerFormat",
      "description": "A model format used for Docker containers. Use the params field to customize the container. The container is verified to work correctly on ubuntu 16.04 operating system.",
      "type": "object"
    },
    "Color": {
      "type": "object",
      "id": "Color",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "blue": {
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float",
          "type": "number"
        },
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        }
      }
    },
    "XPSTrainResponse": {
      "type": "object",
      "id": "XPSTrainResponse",
      "properties": {
        "speechTrainResp": {
          "$ref": "XPSSpeechModelSpec"
        },
        "translationTrainResp": {
          "$ref": "XPSTranslationTrainResponse"
        },
        "textToSpeechTrainResp": {
          "$ref": "XPSTextToSpeechTrainResponse"
        },
        "tablesTrainResp": {
          "$ref": "XPSTablesTrainResponse"
        },
        "imageClassificationTrainResp": {
          "$ref": "XPSImageClassificationTrainResponse"
        },
        "modelToken": {
          "type": "string",
          "description": "Token that represents the trained model. This is considered immutable and is persisted in AutoML. xPS can put their own proto in the byte string, to e.g. point to the model checkpoints. The token is passed to other xPS APIs to refer to the model.",
          "format": "byte"
        },
        "errorAnalysisConfigs": {
          "type": "array",
          "description": "Optional vision model error analysis configuration. The field is set when model error analysis is enabled in the training request. The results of error analysis will be binded together with evaluation results (in the format of AnnotatedExample).",
          "items": {
            "$ref": "XPSVisionErrorAnalysisConfig"
          }
        },
        "imageSegmentationTrainResp": {
          "$ref": "XPSImageSegmentationTrainResponse"
        },
        "videoActionRecognitionTrainResp": {
          "$ref": "XPSVideoActionRecognitionTrainResponse"
        },
        "videoObjectTrackingTrainResp": {
          "$ref": "XPSVideoObjectTrackingTrainResponse"
        },
        "deployedModelSizeBytes": {
          "type": "string",
          "description": "Estimated model size in bytes once deployed.",
          "format": "int64"
        },
        "textTrainResp": {
          "$ref": "XPSTextTrainResponse",
          "description": "Will only be needed for uCAIP from Beta."
        },
        "imageObjectDetectionTrainResp": {
          "$ref": "XPSImageObjectDetectionModelSpec"
        },
        "videoClassificationTrainResp": {
          "$ref": "XPSVideoClassificationTrainResponse"
        },
        "evaluationMetricsSet": {
          "description": "The trained model evaluation metrics. This can be optionally returned.",
          "$ref": "XPSEvaluationMetricsSet"
        },
        "explanationConfigs": {
          "deprecated": true,
          "type": "array",
          "description": "VisionExplanationConfig for XAI on test set. Optional for when XAI is enable in training request.",
          "items": {
            "$ref": "XPSResponseExplanationSpec"
          }
        },
        "evaluatedExampleSet": {
          "$ref": "XPSExampleSet",
          "description": "Examples used to evaluate the model (usually the test set), with the predicted annotations. The file_spec should point to recordio file(s) of AnnotatedExample. For each returned example, the example_id_token and annotations predicted by the model must be set. The example payload can and is recommended to be omitted."
        }
      }
    },
    "XPSConfusionMatrix": {
      "id": "XPSConfusionMatrix",
      "description": "Confusion matrix of the model running the classification.",
      "type": "object",
      "properties": {
        "sentimentLabel": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Sentiment labels used in the confusion matrix. Set only for text sentiment models. For AutoML Text Revamp, use `annotation_spec_id_token` instead and leave this field empty."
        },
        "category": {
          "description": "Category (mainly for segmentation). Set only for image segmentation models. Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "row": {
          "type": "array",
          "description": "Rows in the confusion matrix. The number of rows is equal to the size of `annotation_spec_id_token`. `row[i].value[j]` is the number of examples that have ground truth of the `annotation_spec_id_token[i]` and are predicted as `annotation_spec_id_token[j]` by the model being evaluated.",
          "items": {
            "$ref": "XPSConfusionMatrixRow"
          }
        },
        "annotationSpecIdToken": {
          "items": {
            "type": "string"
          },
          "description": "For the following three repeated fields, only one is intended to be set. annotation_spec_id_token is preferable to be set. ID tokens of the annotation specs used in the confusion matrix.",
          "type": "array"
        }
      }
    },
    "XPSTextToSpeechTrainResponse": {
      "properties": {},
      "id": "XPSTextToSpeechTrainResponse",
      "description": "TextToSpeech train response",
      "type": "object"
    },
    "XPSVideoObjectTrackingTrainResponse": {
      "properties": {
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64"
        },
        "exportModelSpec": {
          "description": "Populated for AutoML request only.",
          "$ref": "XPSVideoExportModelSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        }
      },
      "type": "object",
      "id": "XPSVideoObjectTrackingTrainResponse"
    },
    "XPSConfidenceMetricsEntry": {
      "properties": {
        "confidenceThreshold": {
          "description": "Metrics are computed with an assumption that the model never return predictions with score lower than this value.",
          "format": "float",
          "type": "number"
        },
        "precisionAt1": {
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "format": "float",
          "type": "number"
        },
        "truePositiveCount": {
          "description": "The number of model created labels that match a ground truth label.",
          "format": "int64",
          "type": "string"
        },
        "recall": {
          "description": "Recall (true positive rate) for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "description": "The harmonic mean of recall and precision.",
          "format": "float"
        },
        "trueNegativeCount": {
          "type": "string",
          "description": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label.",
          "format": "int64"
        },
        "positionThreshold": {
          "description": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold.",
          "format": "int32",
          "type": "integer"
        },
        "recallAt1": {
          "description": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "falsePositiveRate": {
          "description": "False Positive Rate for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "falsePositiveCount": {
          "type": "string",
          "description": "The number of model created labels that do not match a ground truth label.",
          "format": "int64"
        },
        "falseNegativeCount": {
          "type": "string",
          "description": "The number of ground truth labels that are not matched by a model created label.",
          "format": "int64"
        },
        "f1ScoreAt1": {
          "type": "number",
          "description": "The harmonic mean of recall_at1 and precision_at1.",
          "format": "float"
        },
        "falsePositiveRateAt1": {
          "type": "number",
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "XPSConfidenceMetricsEntry",
      "description": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16."
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "type": "object",
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "confidenceThreshold": {
          "description": "The confidence threshold value used to compute the metrics.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "type": "number",
          "description": "Precision for the given confidence threshold.",
          "format": "float"
        },
        "recall": {
          "description": "Recall for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "description": "The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "XPSTablesRegressionMetrics": {
      "properties": {
        "rootMeanSquaredLogError": {
          "type": "number",
          "description": "Root mean squared log error.",
          "format": "double"
        },
        "rootMeanSquaredError": {
          "description": "Root mean squared error.",
          "format": "double",
          "type": "number"
        },
        "meanAbsoluteError": {
          "description": "Mean absolute error.",
          "format": "double",
          "type": "number"
        },
        "rSquared": {
          "type": "number",
          "description": "R squared.",
          "format": "double"
        },
        "regressionMetricsEntries": {
          "type": "array",
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          }
        },
        "meanAbsolutePercentageError": {
          "description": "Mean absolute percentage error, only set if all of the target column's values are positive.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "XPSTablesRegressionMetrics",
      "description": "Metrics for Tables regression problems.",
      "type": "object"
    },
    "XPSVideoBatchPredictOperationMetadata": {
      "id": "XPSVideoBatchPredictOperationMetadata",
      "type": "object",
      "properties": {
        "outputExamples": {
          "description": "All the partial batch prediction results that are completed at the moment. Output examples are sorted by completion time. The order will not be changed. Each output example should be the path of a single RecordIO file of AnnotatedExamples.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "XPSTableSpec": {
      "type": "object",
      "id": "XPSTableSpec",
      "properties": {
        "rowCount": {
          "description": "The number of rows in the table.",
          "format": "int64",
          "type": "string"
        },
        "importedDataSizeInBytes": {
          "type": "string",
          "description": "The total size of imported data of the table.",
          "format": "int64"
        },
        "columnSpecs": {
          "type": "object",
          "description": "Mapping from column id to column spec.",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          }
        },
        "validRowCount": {
          "description": "The number of valid rows.",
          "format": "int64",
          "type": "string"
        },
        "timeColumnId": {
          "description": "The id of the time column.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "XPSTextTrainResponse": {
      "id": "XPSTextTrainResponse",
      "type": "object",
      "properties": {
        "componentModel": {
          "type": "array",
          "description": "Component submodels.",
          "items": {
            "$ref": "XPSTextComponentModel"
          }
        }
      }
    },
    "XPSTablesTrainResponse": {
      "properties": {
        "tablesModelColumnInfo": {
          "type": "array",
          "description": "Output only. Auxiliary information for each of the input_feature_column_specs, with respect to this particular model.",
          "items": {
            "$ref": "XPSTablesModelColumnInfo"
          }
        },
        "predictionSampleRows": {
          "type": "array",
          "description": "Sample rows from the dataset this model was trained.",
          "items": {
            "$ref": "XPSRow"
          }
        },
        "trainCostMilliNodeHours": {
          "description": "The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget.",
          "format": "int64",
          "type": "string"
        },
        "modelStructure": {
          "$ref": "XPSTablesModelStructure"
        }
      },
      "type": "object",
      "id": "XPSTablesTrainResponse"
    },
    "XPSTrackMetricsEntry": {
      "properties": {
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSTrackMetricsEntryConfidenceMetricsEntry"
          },
          "description": "Output only. Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them.",
          "type": "array"
        },
        "meanBoundingBoxIou": {
          "type": "number",
          "description": "Output only. The mean bounding box iou over all confidence thresholds.",
          "format": "float"
        },
        "iouThreshold": {
          "description": "Output only. The intersection-over-union threshold value between bounding boxes across frames used to compute this metric entry.",
          "format": "float",
          "type": "number"
        },
        "meanTrackingAveragePrecision": {
          "type": "number",
          "description": "Output only. The mean average precision over all confidence thresholds.",
          "format": "float"
        },
        "meanMismatchRate": {
          "type": "number",
          "description": "Output only. The mean mismatch rate over all confidence thresholds.",
          "format": "float"
        }
      },
      "id": "XPSTrackMetricsEntry",
      "description": "Track matching model metrics for a single track match threshold and multiple label match confidence thresholds. Next tag: 6.",
      "type": "object"
    },
    "XPSFloat64Stats": {
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "standardDeviation": {
          "type": "number",
          "description": "The standard deviation of the series.",
          "format": "double"
        },
        "mean": {
          "type": "number",
          "description": "The mean of the series.",
          "format": "double"
        },
        "histogramBuckets": {
          "items": {
            "$ref": "XPSFloat64StatsHistogramBucket"
          },
          "description": "Histogram buckets of the data series. Sorted by the min value of the bucket, ascendingly, and the number of the buckets is dynamically generated. The buckets are non-overlapping and completely cover whole FLOAT64 range with min of first bucket being `\"-Infinity\"`, and max of the last one being `\"Infinity\"`.",
          "type": "array"
        },
        "quantiles": {
          "description": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "type": "object",
      "id": "XPSFloat64Stats",
      "description": "The data statistics of a series of FLOAT64 values."
    },
    "XPSTablesModelStructure": {
      "type": "object",
      "id": "XPSTablesModelStructure",
      "description": "A description of Tables model structure.",
      "properties": {
        "modelParameters": {
          "items": {
            "$ref": "XPSTablesModelStructureModelParameters"
          },
          "type": "array",
          "description": "A list of models."
        }
      }
    },
    "XPSTablesTrainingOperationMetadata": {
      "properties": {
        "createModelStage": {
          "enum": [
            "CREATE_MODEL_STAGE_UNSPECIFIED",
            "DATA_PREPROCESSING",
            "TRAINING",
            "EVALUATING",
            "MODEL_POST_PROCESSING"
          ],
          "description": "Current stage of creating model.",
          "enumDescriptions": [
            "Unspecified stage.",
            "Prepare the model training pipeline and run data processing.",
            "Training model.",
            "Run evaluation.",
            "Finalizing model training pipeline."
          ],
          "type": "string"
        },
        "topTrials": {
          "items": {
            "$ref": "XPSTuningTrial"
          },
          "type": "array",
          "description": "This field is for training. When the operation is terminated successfully, AutoML Backend post this field to operation metadata in spanner. If the metadata has no trials returned, the training operation is supposed to be a failure."
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective for model."
        },
        "trainBudgetMilliNodeHours": {
          "description": "Creating model budget.",
          "format": "int64",
          "type": "string"
        },
        "trainingObjectivePoints": {
          "description": "This field records the training objective value with respect to time, giving insight into how the model architecture search is performing as training time elapses.",
          "type": "array",
          "items": {
            "$ref": "XPSTrainingObjectivePoint"
          }
        },
        "trainingStartTime": {
          "description": "Timestamp when training process starts.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSTablesTrainingOperationMetadata"
    },
    "XPSModelArtifactItem": {
      "type": "object",
      "id": "XPSModelArtifactItem",
      "description": "A single model artifact item.",
      "properties": {
        "artifactFormat": {
          "enum": [
            "ARTIFACT_FORMAT_UNSPECIFIED",
            "TF_CHECKPOINT",
            "TF_SAVED_MODEL",
            "TF_LITE",
            "EDGE_TPU_TF_LITE",
            "TF_JS",
            "CORE_ML"
          ],
          "type": "string",
          "description": "The model artifact format.",
          "enumDescriptions": [
            "Should not be used.",
            "The Tensorflow checkpoints. See https://www.tensorflow.org/guide/checkpoint.",
            "The Tensorflow SavedModel binary.",
            "Model artifact in generic TensorFlow Lite (.tflite) format. See https://www.tensorflow.org/lite.",
            "Used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
            "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
            "Used for iOS mobile devices in (.mlmodel) format. See https://developer.apple.com/documentation/coreml"
          ]
        },
        "gcsUri": {
          "description": "The Google Cloud Storage URI that stores the model binary files.",
          "type": "string"
        }
      }
    },
    "XPSTrainingObjectivePoint": {
      "properties": {
        "value": {
          "description": "The objective value when this point was recorded.",
          "format": "float",
          "type": "number"
        },
        "createTime": {
          "type": "string",
          "description": "The time at which this point was recorded.",
          "format": "google-datetime"
        }
      },
      "id": "XPSTrainingObjectivePoint",
      "type": "object"
    },
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "type": "object",
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "confidenceThreshold": {
          "type": "number",
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "format": "float"
        },
        "precision": {
          "type": "number",
          "description": "Output only. Precision for the given confidence threshold.",
          "format": "float"
        },
        "recall": {
          "type": "number",
          "description": "Output only. Recall for the given confidence threshold.",
          "format": "float"
        },
        "f1Score": {
          "type": "number",
          "description": "Output only. The harmonic mean of recall and precision.",
          "format": "float"
        }
      }
    },
    "XPSRegressionMetricsEntry": {
      "properties": {
        "trueValue": {
          "type": "number",
          "description": "The actual target value for a row in the dataset.",
          "format": "float"
        },
        "predictedValue": {
          "type": "number",
          "description": "The observed value for a row in the dataset.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "XPSRegressionMetricsEntry",
      "description": "A pair of actual & observed values for the model being evaluated."
    },
    "XPSTablesModelStructureModelParameters": {
      "properties": {
        "hyperparameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParametersParameter"
          }
        }
      },
      "id": "XPSTablesModelStructureModelParameters",
      "description": "Model hyper-parameters for a model.",
      "type": "object"
    },
    "AnalyzeSentimentRequest": {
      "type": "object",
      "id": "AnalyzeSentimentRequest",
      "description": "The sentiment analysis request message.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "description": "The encoding type used by the API to calculate sentence offsets.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "type": "string",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ]
        }
      }
    },
    "XPSArrayStats": {
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "memberStats": {
          "description": "Stats of all the values of all arrays, as if they were a single long series of data. The type depends on the element type of the array.",
          "$ref": "XPSDataStats"
        }
      },
      "type": "object",
      "id": "XPSArrayStats",
      "description": "The data statistics of a series of ARRAY values."
    },
    "XPSTrackMetricsEntryConfidenceMetricsEntry": {
      "type": "object",
      "id": "XPSTrackMetricsEntryConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold. Next tag: 6.",
      "properties": {
        "boundingBoxIou": {
          "description": "Output only. Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold).",
          "format": "float",
          "type": "number"
        },
        "mismatchRate": {
          "type": "number",
          "description": "Output only. Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity.",
          "format": "float"
        },
        "trackingRecall": {
          "description": "Output only. Tracking recall.",
          "format": "float",
          "type": "number"
        },
        "confidenceThreshold": {
          "type": "number",
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "format": "float"
        },
        "trackingPrecision": {
          "type": "number",
          "description": "Output only. Tracking precision.",
          "format": "float"
        }
      }
    },
    "XPSColumnSpecCorrelatedColumn": {
      "properties": {
        "correlationStats": {
          "$ref": "XPSCorrelationStats"
        },
        "columnId": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "XPSColumnSpecCorrelatedColumn",
      "description": "Identifies a table's column, and its correlation with the column this ColumnSpec describes."
    },
    "XPSImageObjectDetectionModelSpec": {
      "type": "object",
      "id": "XPSImageObjectDetectionModelSpec",
      "properties": {
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "stopReason": {
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ]
        },
        "classCount": {
          "type": "string",
          "description": "Total number of classes.",
          "format": "int64"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec"
        },
        "maxBoundingBoxCount": {
          "description": "Max number of bounding box.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DiskMetric": {
      "properties": {
        "gibSec": {
          "description": "Required. Seconds of physical disk usage, e.g. 3600.",
          "format": "int64",
          "type": "string"
        },
        "diskType": {
          "description": "Required. Type of Disk, e.g. REGIONAL_SSD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_DISK_TYPE",
            "REGIONAL_SSD",
            "REGIONAL_STORAGE",
            "PD_SSD",
            "PD_STANDARD",
            "STORAGE_SNAPSHOT"
          ]
        }
      },
      "type": "object",
      "id": "DiskMetric"
    },
    "XPSFloat64StatsHistogramBucket": {
      "properties": {
        "count": {
          "description": "The number of data values that are in the bucket, i.e. are between min and max values.",
          "format": "int64",
          "type": "string"
        },
        "min": {
          "description": "The minimum value of the bucket, inclusive.",
          "format": "double",
          "type": "number"
        },
        "max": {
          "description": "The maximum value of the bucket, exclusive unless max = `\"Infinity\"`, in which case it's inclusive.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "XPSFloat64StatsHistogramBucket",
      "description": "A bucket of a histogram."
    },
    "XPSSpeechEvaluationMetrics": {
      "id": "XPSSpeechEvaluationMetrics",
      "type": "object",
      "properties": {
        "subModelEvaluationMetrics": {
          "type": "array",
          "description": "Evaluation metrics for all submodels contained in this model.",
          "items": {
            "$ref": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
          }
        }
      }
    },
    "XPSCommonStats": {
      "type": "object",
      "id": "XPSCommonStats",
      "description": "Common statistics for a column with a specified data type.",
      "properties": {
        "distinctValueCount": {
          "type": "string",
          "format": "int64"
        },
        "validValueCount": {
          "type": "string",
          "format": "int64"
        },
        "nullValueCount": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "XPSTextExtractionEvaluationMetrics": {
      "type": "object",
      "id": "XPSTextExtractionEvaluationMetrics",
      "properties": {
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "description": "If the enclosing EvaluationMetrics.label is empty, confidence_metrics_entries is an evaluation of the entire model across all labels. If the enclosing EvaluationMetrics.label is set, confidence_metrics_entries applies to that label.",
          "type": "array"
        },
        "bestF1ConfidenceMetrics": {
          "deprecated": true,
          "description": "Values are at the highest F1 score on the precision-recall curve. Only confidence_threshold, recall, precision, and f1_score will be set.",
          "$ref": "XPSConfidenceMetricsEntry"
        },
        "perLabelConfidenceMetrics": {
          "additionalProperties": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "deprecated": true,
          "type": "object",
          "description": "Only recall, precision, and f1_score will be set."
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the model, at the default confidence threshold (0.0). Only set for whole-model evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        }
      }
    },
    "XPSRegressionEvaluationMetrics": {
      "properties": {
        "meanAbsolutePercentageError": {
          "type": "number",
          "description": "Mean absolute percentage error. Only set if all ground truth values are positive.",
          "format": "float"
        },
        "meanAbsoluteError": {
          "description": "Mean Absolute Error (MAE).",
          "format": "float",
          "type": "number"
        },
        "rSquared": {
          "description": "R squared.",
          "format": "float",
          "type": "number"
        },
        "regressionMetricsEntries": {
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "type": "array"
        },
        "rootMeanSquaredError": {
          "description": "Root Mean Squared Error (RMSE).",
          "format": "float",
          "type": "number"
        },
        "rootMeanSquaredLogError": {
          "type": "number",
          "description": "Root mean squared log error.",
          "format": "float"
        }
      },
      "id": "XPSRegressionEvaluationMetrics",
      "description": "Model evaluation metrics for regression problems. It can be used for Tables.",
      "type": "object"
    },
    "XPSResponseExplanationMetadataOutputMetadata": {
      "type": "object",
      "id": "XPSResponseExplanationMetadataOutputMetadata",
      "description": "Metadata of the prediction output to be explained.",
      "properties": {
        "outputTensorName": {
          "description": "Name of the output tensor. Only needed in train response.",
          "type": "string"
        }
      }
    },
    "XPSStructType": {
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "XPSDataType"
          },
          "description": "Unordered map of struct field names to their data types.",
          "type": "object"
        }
      },
      "id": "XPSStructType",
      "description": "`StructType` defines the DataType-s of a STRUCT type.",
      "type": "object"
    },
    "XPSTablesConfidenceMetricsEntry": {
      "properties": {
        "falseNegativeCount": {
          "type": "string",
          "description": "False negative count.",
          "format": "int64"
        },
        "confidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold value used to compute the metrics.",
          "format": "double"
        },
        "truePositiveCount": {
          "type": "string",
          "description": "True positive count.",
          "format": "int64"
        },
        "recall": {
          "type": "number",
          "description": "Recall = #true positives / (#true positives + #false negatives).",
          "format": "double"
        },
        "f1Score": {
          "description": "The harmonic mean of recall and precision. (2 * precision * recall) / (precision + recall)",
          "format": "double",
          "type": "number"
        },
        "falsePositiveCount": {
          "description": "False positive count.",
          "format": "int64",
          "type": "string"
        },
        "precision": {
          "type": "number",
          "description": "Precision = #true positives / (#true positives + #false positives).",
          "format": "double"
        },
        "falsePositiveRate": {
          "description": "FPR = #false positives / (#false positives + #true negatives)",
          "format": "double",
          "type": "number"
        },
        "trueNegativeCount": {
          "description": "True negative count.",
          "format": "int64",
          "type": "string"
        },
        "truePositiveRate": {
          "description": "TPR = #true positives / (#true positives + #false negatvies)",
          "format": "double",
          "type": "number"
        }
      },
      "id": "XPSTablesConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "type": "object"
    },
    "XPSColorMapIntColor": {
      "properties": {
        "blue": {
          "description": "The value should be in range of [0, 255].",
          "format": "int32",
          "type": "integer"
        },
        "red": {
          "description": "The value should be in range of [0, 255].",
          "format": "int32",
          "type": "integer"
        },
        "green": {
          "type": "integer",
          "description": "The value should be in range of [0, 255].",
          "format": "int32"
        }
      },
      "id": "XPSColorMapIntColor",
      "description": "RGB color and each channel is represented by an integer.",
      "type": "object"
    },
    "AnalyzeEntitiesResponse": {
      "properties": {
        "languageSupported": {
          "type": "boolean",
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis."
        },
        "entities": {
          "items": {
            "$ref": "Entity"
          },
          "type": "array",
          "description": "The recognized entities in the input document."
        },
        "languageCode": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details."
        }
      },
      "id": "AnalyzeEntitiesResponse",
      "description": "The entity analysis response message.",
      "type": "object"
    },
    "XPSTfSavedModelFormat": {
      "properties": {},
      "type": "object",
      "id": "XPSTfSavedModelFormat",
      "description": "A tensorflow model format in SavedModel format."
    },
    "XPSCorrelationStats": {
      "type": "object",
      "id": "XPSCorrelationStats",
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same.",
      "properties": {
        "cramersV": {
          "type": "number",
          "description": "The correlation value using the Cramer's V measure.",
          "format": "double"
        }
      }
    },
    "XPSTablesModelStructureModelParametersParameter": {
      "properties": {
        "stringValue": {
          "description": "String type parameter value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Parameter name."
        },
        "intValue": {
          "type": "string",
          "description": "Integer type parameter value.",
          "format": "int64"
        },
        "floatValue": {
          "description": "Float type parameter value.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "XPSTablesModelStructureModelParametersParameter"
    },
    "XPSVideoActionMetricsEntry": {
      "properties": {
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          },
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array"
        },
        "meanAveragePrecision": {
          "description": "The mean average precision.",
          "format": "float",
          "type": "number"
        },
        "precisionWindowLength": {
          "type": "string",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "XPSVideoActionMetricsEntry",
      "description": "The Evaluation metrics entry given a specific precision_window_length."
    },
    "XPSIntegratedGradientsAttribution": {
      "id": "XPSIntegratedGradientsAttribution",
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
      "properties": {
        "stepCount": {
          "type": "integer",
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "format": "int32"
        }
      },
      "deprecated": true,
      "type": "object"
    },
    "EntityMention": {
      "type": "object",
      "id": "EntityMention",
      "description": "Represents a mention for an entity in the text. Currently, proper noun mentions are supported.",
      "properties": {
        "text": {
          "$ref": "TextSpan",
          "description": "The mention text."
        },
        "type": {
          "type": "string",
          "description": "The type of the entity mention.",
          "enumDescriptions": [
            "Unknown",
            "Proper name",
            "Common noun (or noun compound)"
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "PROPER",
            "COMMON"
          ]
        },
        "sentiment": {
          "$ref": "Sentiment",
          "description": "For calls to AnalyzeEntitySentiment this field will contain the sentiment expressed for this mention of the entity in the provided document."
        },
        "probability": {
          "description": "Probability score associated with the entity. The score shows the probability of the entity mention being the entity type. The score is in (0, 1] range.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "TextSpan": {
      "properties": {
        "content": {
          "type": "string",
          "description": "The content of the text span, which is a substring of the document."
        },
        "beginOffset": {
          "type": "integer",
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request.",
          "format": "int32"
        }
      },
      "id": "TextSpan",
      "description": "Represents a text span in the input document.",
      "type": "object"
    },
    "XPSStringStats": {
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "topUnigramStats": {
          "items": {
            "$ref": "XPSStringStatsUnigramStats"
          },
          "type": "array",
          "description": "The statistics of the top 20 unigrams, ordered by StringStats.UnigramStats.count."
        }
      },
      "id": "XPSStringStats",
      "description": "The data statistics of a series of STRING values.",
      "type": "object"
    },
    "XPSImageSegmentationTrainResponse": {
      "properties": {
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "NOTE: These fields are not used/needed in EAP but will be set later."
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64"
        },
        "stopReason": {
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "type": "string"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "colorMaps": {
          "items": {
            "$ref": "XPSColorMap"
          },
          "description": "Color map of the model.",
          "type": "array"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        }
      },
      "id": "XPSImageSegmentationTrainResponse",
      "type": "object"
    },
    "XPSTablesEvaluationMetrics": {
      "properties": {
        "classificationMetrics": {
          "description": "Classification metrics.",
          "$ref": "XPSTablesClassificationMetrics"
        },
        "regressionMetrics": {
          "$ref": "XPSTablesRegressionMetrics",
          "description": "Regression metrics."
        }
      },
      "id": "XPSTablesEvaluationMetrics",
      "type": "object"
    },
    "XPSTfLiteFormat": {
      "properties": {},
      "id": "XPSTfLiteFormat",
      "description": "LINT.IfChange A model format used for mobile and IoT devices. See https://www.tensorflow.org/lite.",
      "type": "object"
    },
    "XPSSpeechModelSpec": {
      "properties": {
        "subModelSpecs": {
          "items": {
            "$ref": "XPSSpeechModelSpecSubModelSpec"
          },
          "description": "Model specs for all submodels contained in this model.",
          "type": "array"
        },
        "datasetId": {
          "type": "string",
          "description": "Required for speech xps backend. Speech xps has to use dataset_id and model_id as the primary key in db so that speech API can query the db directly.",
          "format": "int64"
        },
        "language": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSSpeechModelSpec"
    },
    "XPSTablesModelColumnInfo": {
      "type": "object",
      "id": "XPSTablesModelColumnInfo",
      "description": "An information specific to given column and Tables Model, in context of the Model and the predictions created by it.",
      "properties": {
        "featureImportance": {
          "type": "number",
          "description": "When given as part of a Model: Measurement of how much model predictions correctness on the TEST data depend on values in this column. A value between 0 and 1, higher means higher influence. These values are normalized - for all input feature columns of a given model they add to 1. When given back by Predict or Batch Predict: Measurement of how impactful for the prediction returned for the given row the value in this column was. Specifically, the feature importance specifies the marginal contribution that the feature made to the prediction score compared to the baseline score. These values are computed using the Sampled Shapley method.",
          "format": "float"
        },
        "columnId": {
          "description": "The ID of the column.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "XPSReportingMetrics": {
      "properties": {
        "metricEntries": {
          "description": "One entry per metric name. The values must be aggregated per metric name.",
          "type": "array",
          "items": {
            "$ref": "XPSMetricEntry"
          }
        },
        "effectiveTrainingDuration": {
          "description": "The effective time training used. If set, this is used for quota management and billing. Deprecated. AutoML BE doesn't use this. Don't set.",
          "format": "google-duration",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSReportingMetrics"
    },
    "XPSStringStatsUnigramStats": {
      "properties": {
        "count": {
          "description": "The number of occurrences of this unigram in the series.",
          "format": "int64",
          "type": "string"
        },
        "value": {
          "description": "The unigram.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSStringStatsUnigramStats",
      "description": "The statistics of a unigram."
    },
    "XPSExportModelOutputConfig": {
      "properties": {
        "coreMlFormat": {
          "$ref": "XPSCoreMlFormat"
        },
        "outputGcsUri": {
          "type": "string",
          "description": "The Google Cloud Storage directory where XPS will output the exported models and related files. Format: gs://bucket/directory"
        },
        "tfSavedModelFormat": {
          "$ref": "XPSTfSavedModelFormat"
        },
        "dockerFormat": {
          "$ref": "XPSDockerFormat"
        },
        "tfLiteFormat": {
          "$ref": "XPSTfLiteFormat"
        },
        "edgeTpuTfLiteFormat": {
          "$ref": "XPSEdgeTpuTfLiteFormat"
        },
        "tfJsFormat": {
          "$ref": "XPSTfJsFormat"
        },
        "exportFirebaseAuxiliaryInfo": {
          "description": "For any model and format: If true, will additionally export FirebaseExportedModelInfo in a firebase.txt file.",
          "type": "boolean"
        },
        "outputGcrUri": {
          "description": "The Google Contained Registry path the exported files to be pushed to. This location is set if the exported format is DOCKDER.",
          "type": "string"
        }
      },
      "id": "XPSExportModelOutputConfig",
      "type": "object"
    },
    "XPSImageModelServingSpecModelThroughputEstimation": {
      "properties": {
        "nodeQps": {
          "description": "The approximate qps a deployed node can serve.",
          "format": "double",
          "type": "number"
        },
        "servomaticPartitionType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ]
        },
        "latencyInMilliseconds": {
          "description": "Estimated latency.",
          "format": "double",
          "type": "number"
        },
        "computeEngineAcceleratorType": {
          "enum": [
            "UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_L4",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "TPU_V2",
            "TPU_V3",
            "TPU_V4_POD",
            "TPU_V5_LITEPOD"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A100 80GB GPU.",
            "Nvidia L4 GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H200 141Gb GPU.",
            "Nvidia B200 GPU.",
            "Nvidia GB200 GPU.",
            "TPU v2 (JellyFish).",
            "TPU v3 (DragonFish).",
            "TPU_v4 (PufferFish).",
            "TPU v5 Lite Pods."
          ]
        }
      },
      "type": "object",
      "id": "XPSImageModelServingSpecModelThroughputEstimation"
    },
    "XPSDataErrors": {
      "type": "object",
      "id": "XPSDataErrors",
      "description": "Different types of errors and the stats associatesd with each error.",
      "properties": {
        "errorType": {
          "description": "Type of the error.",
          "enumDescriptions": [
            "Not specified.",
            "Audio format not in the formats by cloud-speech AutoML. Currently only wav and flac file formats are supported.",
            "File format differnt from what is specified in the file name extension.",
            "File too large. Maximum allowed size is 50 MB.",
            "Transcript is missing."
          ],
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "UNSUPPORTED_AUDIO_FORMAT",
            "FILE_EXTENSION_MISMATCH_WITH_AUDIO_FORMAT",
            "FILE_TOO_LARGE",
            "MISSING_TRANSCRIPTION"
          ]
        },
        "count": {
          "type": "integer",
          "description": "Number of records having errors associated with the enum.",
          "format": "int32"
        }
      }
    },
    "XPSTranslationPreprocessResponse": {
      "id": "XPSTranslationPreprocessResponse",
      "description": "Translation preprocess response.",
      "type": "object",
      "properties": {
        "validExampleCount": {
          "type": "string",
          "description": "Total valid example count.",
          "format": "int64"
        },
        "parsedExampleCount": {
          "description": "Total example count parsed.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AnalyzeSentimentResponse": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details."
        },
        "sentences": {
          "items": {
            "$ref": "Sentence"
          },
          "type": "array",
          "description": "The sentiment for all the sentences in the document."
        },
        "documentSentiment": {
          "$ref": "Sentiment",
          "description": "The overall sentiment of the input document."
        },
        "languageSupported": {
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AnalyzeSentimentResponse",
      "description": "The sentiment analysis response message."
    },
    "XPSCategoryStatsSingleCategoryStats": {
      "type": "object",
      "id": "XPSCategoryStatsSingleCategoryStats",
      "description": "The statistics of a single CATEGORY value.",
      "properties": {
        "count": {
          "type": "string",
          "description": "The number of occurrences of this value in the series.",
          "format": "int64"
        },
        "value": {
          "description": "The CATEGORY value.",
          "type": "string"
        }
      }
    },
    "Sentiment": {
      "id": "Sentiment",
      "description": "Represents the feeling associated with the entire text or entities in the text.",
      "type": "object",
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf] range, which represents the absolute magnitude of sentiment regardless of score (positive or negative).",
          "format": "float",
          "type": "number"
        },
        "score": {
          "type": "number",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "format": "float"
        }
      }
    },
    "XPSBoundingBoxMetricsEntry": {
      "properties": {
        "meanAveragePrecision": {
          "description": "The mean average precision.",
          "format": "float",
          "type": "number"
        },
        "iouThreshold": {
          "type": "number",
          "description": "The intersection-over-union threshold value used to compute this metrics entry.",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
          }
        }
      },
      "type": "object",
      "id": "XPSBoundingBoxMetricsEntry",
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds."
    },
    "ClassifyTextRequest": {
      "type": "object",
      "id": "ClassifyTextRequest",
      "description": "The document classification request message.",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        }
      }
    },
    "XPSVideoClassificationTrainResponse": {
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64"
        }
      },
      "id": "XPSVideoClassificationTrainResponse",
      "type": "object"
    },
    "RamMetric": {
      "properties": {
        "gibSec": {
          "type": "string",
          "description": "Required. VM memory in Gigabyte second, e.g. 3600. Using int64 type to match billing metrics definition.",
          "format": "int64"
        },
        "ramType": {
          "enum": [
            "UNKNOWN_RAM_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "C3",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "type": "string",
          "description": "Required. Type of ram.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ]
        },
        "memories": {
          "type": "number",
          "description": "Required. VM memory in gb.",
          "format": "double"
        },
        "trackingLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\""
        },
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ]
        }
      },
      "id": "RamMetric",
      "type": "object"
    },
    "XPSSpeechPreprocessStats": {
      "type": "object",
      "id": "XPSSpeechPreprocessStats",
      "properties": {
        "trainWordsCount": {
          "description": "The number of words in the training data set.",
          "format": "int32",
          "type": "integer"
        },
        "trainExamplesCount": {
          "description": "The number of examples labeled as TRAIN by Speech xps server.",
          "format": "int32",
          "type": "integer"
        },
        "testSentencesCount": {
          "description": "The number of sentences in the test data set.",
          "format": "int32",
          "type": "integer"
        },
        "testWordsCount": {
          "type": "integer",
          "description": "The number of words in the test data set.",
          "format": "int32"
        },
        "dataErrors": {
          "items": {
            "$ref": "XPSDataErrors"
          },
          "type": "array",
          "description": "Different types of data errors and the counts associated with them."
        },
        "numHumanLabeledExamples": {
          "description": "The number of rows marked HUMAN_LABELLED",
          "format": "int32",
          "type": "integer"
        },
        "testExamplesCount": {
          "description": "The number of examples labelled as TEST by Speech xps server.",
          "format": "int32",
          "type": "integer"
        },
        "trainSentencesCount": {
          "description": "The number of sentences in the training data set.",
          "format": "int32",
          "type": "integer"
        },
        "numMachineTranscribedExamples": {
          "description": "The number of rows marked as MACHINE_TRANSCRIBED",
          "format": "int32",
          "type": "integer"
        },
        "numLogsExamples": {
          "type": "integer",
          "description": "The number of samples found in the previously recorded logs data.",
          "format": "int32"
        }
      }
    },
    "InfraUsage": {
      "id": "InfraUsage",
      "description": "LINT: LEGACY_NAMES Infra Usage of billing metrics.",
      "type": "object",
      "properties": {
        "cpuMetrics": {
          "type": "array",
          "description": "Aggregated core metrics since requested start_time.",
          "items": {
            "$ref": "CpuMetric"
          }
        },
        "tpuMetrics": {
          "items": {
            "$ref": "TpuMetric"
          },
          "type": "array",
          "description": "Aggregated tpu metrics since requested start_time."
        },
        "diskMetrics": {
          "items": {
            "$ref": "DiskMetric"
          },
          "type": "array",
          "description": "Aggregated persistent disk metrics since requested start_time."
        },
        "ramMetrics": {
          "type": "array",
          "description": "Aggregated ram metrics since requested start_time.",
          "items": {
            "$ref": "RamMetric"
          }
        },
        "gpuMetrics": {
          "type": "array",
          "description": "Aggregated gpu metrics since requested start_time.",
          "items": {
            "$ref": "GpuMetric"
          }
        }
      }
    },
    "XPSConfusionMatrixRow": {
      "type": "object",
      "id": "XPSConfusionMatrixRow",
      "description": "A row in the confusion matrix.",
      "properties": {
        "exampleCount": {
          "type": "array",
          "description": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "count": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message).",
          "type": "array"
        }
      }
    },
    "XPSResponseExplanationMetadata": {
      "deprecated": true,
      "type": "object",
      "id": "XPSResponseExplanationMetadata",
      "properties": {
        "inputs": {
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataInputMetadata"
          },
          "description": "Metadata of the input.",
          "type": "object"
        },
        "outputs": {
          "type": "object",
          "description": "Metadata of the output.",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataOutputMetadata"
          }
        }
      }
    },
    "XPSPreprocessResponse": {
      "id": "XPSPreprocessResponse",
      "type": "object",
      "properties": {
        "outputExampleSet": {
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data.",
          "$ref": "XPSExampleSet"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        },
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        },
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        }
      }
    },
    "XPSTextComponentModel": {
      "properties": {
        "versionNumber": {
          "description": "The servomatic model version number. Populated by uCAIP BE as part of online PredictRequest.",
          "format": "int64",
          "type": "string"
        },
        "onlinePredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold online prediction model.",
          "type": "string"
        },
        "servoModelName": {
          "type": "string",
          "description": "The name of servo model. Populated by uCAIP BE as part of online PredictRequest."
        },
        "submodelType": {
          "enum": [
            "TEXT_MODEL_TYPE_UNSPECIFIED",
            "TEXT_MODEL_TYPE_DEFAULT",
            "TEXT_MODEL_TYPE_META_ARCHITECT",
            "TEXT_MODEL_TYPE_ATC",
            "TEXT_MODEL_TYPE_CLARA2",
            "TEXT_MODEL_TYPE_CHATBASE",
            "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING",
            "TEXT_MODEL_TYPE_TEXT_EXTRACTION",
            "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION",
            "TEXT_MODEL_TYPE_COMPOSITE",
            "TEXT_MODEL_TYPE_ALL_MODELS",
            "TEXT_MODEL_TYPE_BERT",
            "TEXT_MODEL_TYPE_ENC_PALM"
          ],
          "type": "string",
          "description": "The type of trained NL submodel",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Model type for entity extraction.",
            "Model type for relationship extraction.",
            "A composite model represents a set of component models that have to be used together for prediction. A composite model appears to be a single model to the model user. It may contain only one component model.",
            "Model type used to train default, MA, and ATC models in a single batch worker pipeline.",
            "BERT pipeline needs a specific model type, since it uses a different TFX configuration compared with DEFAULT (despite sharing most of the code).",
            "Model type for EncPaLM."
          ]
        },
        "batchPredictionModelGcsUri": {
          "type": "string",
          "description": "The Cloud Storage resource path to hold batch prediction model."
        },
        "tfRuntimeVersion": {
          "type": "string",
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list"
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud Ai Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "partition": {
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ],
          "description": "The partition where the model is deployed. Populated by uCAIP BE as part of online PredictRequest.",
          "enumDescriptions": [
            "",
            "The default partition.",
[...]
