{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "title": "Cloud Natural Language API",
  "rootUrl": "https://language.googleapis.com/",
  "name": "language",
  "batchPath": "batch",
  "revision": "20260412",
  "version_module": true,
  "id": "language:v2",
  "canonicalName": "Cloud Natural Language",
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "version": "v2",
  "baseUrl": "https://language.googleapis.com/",
  "schemas": {
    "XPSTablesModelStructureModelParametersParameter": {
      "id": "XPSTablesModelStructureModelParametersParameter",
      "type": "object",
      "properties": {
        "name": {
          "description": "Parameter name.",
          "type": "string"
        },
        "stringValue": {
          "description": "String type parameter value.",
          "type": "string"
        },
        "floatValue": {
          "type": "number",
          "format": "double",
          "description": "Float type parameter value."
        },
        "intValue": {
          "type": "string",
          "description": "Integer type parameter value.",
          "format": "int64"
        }
      }
    },
    "XPSEvaluationMetrics": {
      "description": "Contains xPS-specific model evaluation metrics either for a single annotation spec (label), or for the model overall. Next tag: 18.",
      "properties": {
        "tablesEvalMetrics": {
          "$ref": "XPSTablesEvaluationMetrics"
        },
        "textExtractionEvalMetrics": {
          "$ref": "XPSTextExtractionEvaluationMetrics"
        },
        "regressionEvalMetrics": {
          "$ref": "XPSRegressionEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "videoClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "textClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "category": {
          "type": "integer",
          "description": "The integer category label for which this evaluation metric instance had been created. Valid categories are 0 or higher. Overall model evaluation should set this to negative values (rather than implicit zero). Only used for Image Segmentation (prefer to set annotation_spec_id_token instead). Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "format": "int32"
        },
        "tablesClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "evaluatedExampleCount": {
          "format": "int32",
          "description": "The number of examples used to create this evaluation metrics instance.",
          "type": "integer"
        },
        "imageObjectDetectionEvalMetrics": {
          "$ref": "XPSImageObjectDetectionEvaluationMetrics"
        },
        "videoActionRecognitionEvalMetrics": {
          "$ref": "XPSVideoActionRecognitionEvaluationMetrics"
        },
        "translationEvalMetrics": {
          "$ref": "XPSTranslationEvaluationMetrics"
        },
        "label": {
          "description": "The label for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The label maps to AnnotationSpec.display_name in Public API protos. Only used by MVP implementation and text sentiment FULL implementation.",
          "type": "string"
        },
        "imageSegmentationEvalMetrics": {
          "$ref": "XPSImageSegmentationEvaluationMetrics"
        },
        "textSentimentEvalMetrics": {
          "$ref": "XPSTextSentimentEvaluationMetrics"
        },
        "videoObjectTrackingEvalMetrics": {
          "$ref": "XPSVideoObjectTrackingEvaluationMetrics"
        },
        "annotationSpecIdToken": {
          "description": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead.",
          "type": "string"
        }
      },
      "id": "XPSEvaluationMetrics",
      "type": "object"
    },
    "XPSResponseExplanationMetadataInputMetadata": {
      "id": "XPSResponseExplanationMetadataInputMetadata",
      "type": "object",
      "description": "Metadata of the input of a feature.",
      "properties": {
        "inputTensorName": {
          "description": "Name of the input tensor for this model. Only needed in train response.",
          "type": "string"
        },
        "visualizationConfig": {
          "description": "Visualization configurations for image explanation.",
          "$ref": "XPSVisualization"
        },
        "modality": {
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "NUMERIC",
            "IMAGE",
            "CATEGORICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "AnnotateTextRequest": {
      "description": "The request message for the text annotation API, which can perform multiple analysis types in one call.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "features": {
          "description": "Required. The enabled features.",
          "$ref": "AnnotateTextRequestFeatures"
        },
        "encodingType": {
          "type": "string",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "description": "The encoding type used by the API to calculate offsets."
        }
      },
      "id": "AnnotateTextRequest",
      "type": "object"
    },
    "XPSFileSpec": {
      "description": "Spec of input and output files, on external file systems (for example, Colossus Namespace System or Google Cloud Storage).",
      "properties": {
        "directoryPath": {
          "description": "Deprecated. Use file_spec.",
          "deprecated": true,
          "type": "string"
        },
        "fileFormat": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Internal format for parallel text data used by Google Translate.",
            "",
            "Only the lexicographically first file described by the file_spec contains the header line.",
            ""
          ],
          "enum": [
            "FILE_FORMAT_UNKNOWN",
            "FILE_FORMAT_SSTABLE",
            "FILE_FORMAT_TRANSLATION_RKV",
            "FILE_FORMAT_RECORDIO",
            "FILE_FORMAT_RAW_CSV",
            "FILE_FORMAT_RAW_CAPACITOR"
          ]
        },
        "singleFilePath": {
          "description": "Deprecated. Use file_spec.",
          "deprecated": true,
          "type": "string"
        },
        "fileSpec": {
          "description": "Single file path, or file pattern of format \"/path/to/file@shard_count\". E.g. /cns/cell-d/somewhere/file@2 is expanded to two files: /cns/cell-d/somewhere/file-00000-of-00002 and /cns/cell-d/somewhere/file-00001-of-00002.",
          "type": "string"
        }
      },
      "id": "XPSFileSpec",
      "type": "object"
    },
    "ClassifyTextRequest": {
      "description": "The document classification request message.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      },
      "id": "ClassifyTextRequest",
      "type": "object"
    },
    "ModerateTextRequest": {
      "description": "The document moderation request message.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "modelVersion": {
          "type": "string",
          "enumDescriptions": [
            "The default model version.",
            "Use the v1 model, this model is used by default when not provided. The v1 model only returns probability (confidence) score for each category.",
            "Use the v2 model. The v2 model only returns probability (confidence) score for each category, and returns severity score for a subset of the categories."
          ],
          "description": "Optional. The model version to use for ModerateText.",
          "enum": [
            "MODEL_VERSION_UNSPECIFIED",
            "MODEL_VERSION_1",
            "MODEL_VERSION_2"
          ]
        }
      },
      "id": "ModerateTextRequest",
      "type": "object"
    },
    "XPSSpeechModelSpec": {
      "id": "XPSSpeechModelSpec",
      "type": "object",
      "properties": {
        "language": {
          "type": "string"
        },
        "subModelSpecs": {
          "type": "array",
          "items": {
            "$ref": "XPSSpeechModelSpecSubModelSpec"
          },
          "description": "Model specs for all submodels contained in this model."
        },
        "datasetId": {
          "type": "string",
          "format": "int64",
          "description": "Required for speech xps backend. Speech xps has to use dataset_id and model_id as the primary key in db so that speech API can query the db directly."
        }
      }
    },
    "XPSVideoObjectTrackingEvaluationMetrics": {
      "id": "XPSVideoObjectTrackingEvaluationMetrics",
      "type": "object",
      "description": "Model evaluation metrics for ObjectTracking problems. Next tag: 10.",
      "properties": {
        "evaluatedBoundingboxCount": {
          "description": "The number of bounding boxes used for model evaluation.",
          "format": "int32",
          "type": "integer"
        },
        "evaluatedTrackCount": {
          "format": "int32",
          "description": "The number of tracks used for model evaluation.",
          "type": "integer"
        },
        "boundingBoxMetricsEntries": {
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          },
          "description": "Output only. The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array"
        },
        "trackMeanMismatchRate": {
          "description": "Output only. The single metric for tracking consistency evaluation: the mean_mismatch_rate averaged over all track_metrics_entries.",
          "format": "float",
          "type": "number"
        },
        "trackMetricsEntries": {
          "description": "Output only. The tracks match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSTrackMetricsEntry"
          },
          "type": "array"
        },
        "trackMeanBoundingBoxIou": {
          "format": "float",
          "description": "Output only. The single metric for tracks bounding box iou evaluation: the mean_bounding_box_iou averaged over all track_metrics_entries.",
          "type": "number"
        },
        "evaluatedFrameCount": {
          "format": "int32",
          "description": "The number of video frames used for model evaluation.",
          "type": "integer"
        },
        "boundingBoxMeanAveragePrecision": {
          "format": "float",
          "description": "Output only. The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number"
        },
        "trackMeanAveragePrecision": {
          "format": "float",
          "description": "Output only. The single metric for tracks accuracy evaluation: the mean_average_precision averaged over all track_metrics_entries.",
          "type": "number"
        }
      }
    },
    "XPSClassificationEvaluationMetrics": {
      "description": "Model evaluation metrics for classification problems. It can be used for image and video classification. Next tag: 9.",
      "properties": {
        "baseAuPrc": {
          "type": "number",
          "description": "The Area under precision recall curve metric based on priors.",
          "format": "float"
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the evaluation. Only set for MULTICLASS classification problems where number of annotation specs is no more than 10. Only set for model level evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "evaluatedExamplesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples used for model evaluation."
        },
        "auPrc": {
          "format": "float",
          "description": "The Area under precision recall curve metric.",
          "type": "number"
        },
        "auRoc": {
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "format": "float",
          "type": "number"
        },
        "logLoss": {
          "type": "number",
          "format": "float",
          "description": "The Log Loss metric."
        },
        "confidenceMetricsEntries": {
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "type": "array"
        }
      },
      "id": "XPSClassificationEvaluationMetrics",
      "type": "object"
    },
    "XPSColorMap": {
      "description": "Map from color to display name. Will only be used by Image Segmentation for uCAIP.",
      "properties": {
        "color": {
          "description": "This type is deprecated in favor of the IntColor below. This is because google.type.Color represent color has a float which semantically does not reflect discrete classes/categories concept. Moreover, to handle it well we need to have some tolerance when converting to a discretized color. As such, the recommendation is to have API surface still use google.type.Color while internally IntColor is used.",
          "deprecated": true,
          "$ref": "Color"
        },
        "displayName": {
          "description": "Should be used during preprocessing.",
          "type": "string"
        },
        "intColor": {
          "$ref": "XPSColorMapIntColor"
        },
        "annotationSpecIdToken": {
          "description": "Should be used during training.",
          "type": "string"
        }
      },
      "id": "XPSColorMap",
      "type": "object"
    },
    "XPSMetricEntryLabel": {
      "id": "XPSMetricEntryLabel",
      "type": "object",
      "properties": {
        "labelValue": {
          "description": "The value of the label.",
          "type": "string"
        },
        "labelName": {
          "description": "The name of the label.",
          "type": "string"
        }
      }
    },
    "XPSColorMapIntColor": {
      "id": "XPSColorMapIntColor",
      "type": "object",
      "description": "RGB color and each channel is represented by an integer.",
      "properties": {
        "red": {
          "type": "integer",
          "format": "int32",
          "description": "The value should be in range of [0, 255]."
        },
        "green": {
          "description": "The value should be in range of [0, 255].",
          "format": "int32",
          "type": "integer"
        },
        "blue": {
          "description": "The value should be in range of [0, 255].",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "confidenceThreshold": {
          "format": "float",
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "type": "number"
        },
        "recall": {
          "type": "number",
          "format": "float",
          "description": "Output only. Recall for the given confidence threshold."
        },
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Output only. Precision for the given confidence threshold."
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "Output only. The harmonic mean of recall and precision."
        }
      },
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry",
      "type": "object"
    },
    "XPSTrainingObjectivePoint": {
      "properties": {
        "value": {
          "description": "The objective value when this point was recorded.",
          "format": "float",
          "type": "number"
        },
        "createTime": {
          "description": "The time at which this point was recorded.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "XPSTrainingObjectivePoint",
      "type": "object"
    },
    "XPSTextExtractionEvaluationMetrics": {
      "id": "XPSTextExtractionEvaluationMetrics",
      "type": "object",
      "properties": {
        "bestF1ConfidenceMetrics": {
          "description": "Values are at the highest F1 score on the precision-recall curve. Only confidence_threshold, recall, precision, and f1_score will be set.",
          "deprecated": true,
          "$ref": "XPSConfidenceMetricsEntry"
        },
        "perLabelConfidenceMetrics": {
          "description": "Only recall, precision, and f1_score will be set.",
          "deprecated": true,
          "additionalProperties": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "type": "object"
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "description": "If the enclosing EvaluationMetrics.label is empty, confidence_metrics_entries is an evaluation of the entire model across all labels. If the enclosing EvaluationMetrics.label is set, confidence_metrics_entries applies to that label."
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the model, at the default confidence threshold (0.0). Only set for whole-model evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        }
      }
    },
    "XPSEvaluationMetricsSet": {
      "id": "XPSEvaluationMetricsSet",
      "type": "object",
      "description": "Specifies location of model evaluation metrics.",
      "properties": {
        "evaluationMetrics": {
          "description": "Inline EvaluationMetrics - should be relatively small. For passing large quantities of exhaustive metrics, use file_spec.",
          "items": {
            "$ref": "XPSEvaluationMetrics"
          },
          "type": "array"
        },
        "numEvaluationMetrics": {
          "format": "int64",
          "description": "Number of the evaluation metrics (usually one per label plus overall).",
          "type": "string"
        },
        "fileSpec": {
          "description": "File spec containing evaluation metrics of a model, must point to RecordIO file(s) of intelligence.cloud.automl.xps.EvaluationMetrics messages.",
          "$ref": "XPSFileSpec"
        }
      }
    },
    "XPSTablesClassificationMetricsCurveMetrics": {
      "id": "XPSTablesClassificationMetricsCurveMetrics",
      "type": "object",
      "description": "Metrics curve data point for a single value.",
      "properties": {
        "confidenceMetricsEntries": {
          "description": "Metrics that have confidence thresholds. Precision-recall curve and ROC curve can be derived from them.",
          "items": {
            "$ref": "XPSTablesConfidenceMetricsEntry"
          },
          "type": "array"
        },
        "aucPr": {
          "description": "The area under the precision-recall curve.",
          "format": "double",
          "type": "number"
        },
        "logLoss": {
          "description": "The Log loss metric.",
          "format": "double",
          "type": "number"
        },
        "positionThreshold": {
          "description": "The position threshold value used to compute the metrics.",
          "format": "int32",
          "type": "integer"
        },
        "value": {
          "description": "The CATEGORY row value (for ARRAY unnested) the curve metrics are for.",
          "type": "string"
        },
        "aucRoc": {
          "type": "number",
          "description": "The area under receiver operating characteristic curve.",
          "format": "double"
        }
      }
    },
    "DiskMetric": {
      "id": "DiskMetric",
      "type": "object",
      "properties": {
        "gibSec": {
          "description": "Required. Seconds of physical disk usage, e.g. 3600.",
          "format": "int64",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_DISK_TYPE",
            "REGIONAL_SSD",
            "REGIONAL_STORAGE",
            "PD_SSD",
            "PD_STANDARD",
            "STORAGE_SNAPSHOT"
          ],
          "description": "Required. Type of Disk, e.g. REGIONAL_SSD."
        }
      }
    },
    "XPSTextTrainResponse": {
      "properties": {
        "componentModel": {
          "description": "Component submodels.",
          "items": {
            "$ref": "XPSTextComponentModel"
          },
          "type": "array"
        }
      },
      "id": "XPSTextTrainResponse",
      "type": "object"
    },
    "XPSVideoActionMetricsEntry": {
      "id": "XPSVideoActionMetricsEntry",
      "type": "object",
      "description": "The Evaluation metrics entry given a specific precision_window_length.",
      "properties": {
        "meanAveragePrecision": {
          "type": "number",
          "description": "The mean average precision.",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          },
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
        },
        "precisionWindowLength": {
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GpuMetric": {
      "properties": {
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "gpuSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of GPU usage, e.g. 3600."
        },
        "gpuType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_GPU_TYPE",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "NVIDIA_TESLA_K80",
            "NVIDIA_L4",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_V100",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_RTX_PRO_6000"
          ],
          "description": "Required. Type of GPU, e.g. NVIDIA_TESLA_V100."
        },
        "trackingLabels": {
          "type": "object",
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GpuMetric",
      "type": "object"
    },
    "XPSTablesModelColumnInfo": {
      "description": "An information specific to given column and Tables Model, in context of the Model and the predictions created by it.",
      "properties": {
        "columnId": {
          "description": "The ID of the column.",
          "format": "int32",
          "type": "integer"
        },
        "featureImportance": {
          "format": "float",
          "description": "When given as part of a Model: Measurement of how much model predictions correctness on the TEST data depend on values in this column. A value between 0 and 1, higher means higher influence. These values are normalized - for all input feature columns of a given model they add to 1. When given back by Predict or Batch Predict: Measurement of how impactful for the prediction returned for the given row the value in this column was. Specifically, the feature importance specifies the marginal contribution that the feature made to the prediction score compared to the baseline score. These values are computed using the Sampled Shapley method.",
          "type": "number"
        }
      },
      "id": "XPSTablesModelColumnInfo",
      "type": "object"
    },
    "XPSVideoModelArtifactSpec": {
      "id": "XPSVideoModelArtifactSpec",
      "type": "object",
      "properties": {
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "exportArtifact": {
          "type": "array",
          "description": "The model binary files in different formats for model export.",
          "items": {
            "$ref": "XPSModelArtifactItem"
          }
        }
      }
    },
    "XPSIntegratedGradientsAttribution": {
      "deprecated": true,
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
      "properties": {
        "stepCount": {
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "XPSIntegratedGradientsAttribution",
      "type": "object"
    },
    "XPSTablesModelStructure": {
      "description": "A description of Tables model structure.",
      "properties": {
        "modelParameters": {
          "items": {
            "$ref": "XPSTablesModelStructureModelParameters"
          },
          "description": "A list of models.",
          "type": "array"
        }
      },
      "id": "XPSTablesModelStructure",
      "type": "object"
    },
    "XPSVideoExportModelSpec": {
      "id": "XPSVideoExportModelSpec",
      "type": "object",
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format.",
      "properties": {
        "exportModelOutputConfig": {
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          },
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "type": "array"
        }
      }
    },
    "XPSPreprocessResponse": {
      "id": "XPSPreprocessResponse",
      "type": "object",
      "properties": {
        "outputExampleSet": {
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data.",
          "$ref": "XPSExampleSet"
        },
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        },
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        }
      }
    },
    "XPSVideoActionRecognitionTrainResponse": {
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        }
      },
      "id": "XPSVideoActionRecognitionTrainResponse",
      "type": "object"
    },
    "XPSDataStats": {
      "description": "The data statistics of a series of values that share the same DataType.",
      "properties": {
        "float64Stats": {
          "description": "The statistics for FLOAT64 DataType.",
          "$ref": "XPSFloat64Stats"
        },
        "arrayStats": {
          "description": "The statistics for ARRAY DataType.",
          "$ref": "XPSArrayStats"
        },
        "categoryStats": {
          "description": "The statistics for CATEGORY DataType.",
          "$ref": "XPSCategoryStats"
        },
        "distinctValueCount": {
          "type": "string",
          "description": "The number of distinct values.",
          "format": "int64"
        },
        "stringStats": {
          "description": "The statistics for STRING DataType.",
          "$ref": "XPSStringStats"
        },
        "nullValueCount": {
          "type": "string",
          "description": "The number of values that are null.",
          "format": "int64"
        },
        "timestampStats": {
          "description": "The statistics for TIMESTAMP DataType.",
          "$ref": "XPSTimestampStats"
        },
        "validValueCount": {
          "type": "string",
          "description": "The number of values that are valid.",
          "format": "int64"
        },
        "structStats": {
          "description": "The statistics for STRUCT DataType.",
          "$ref": "XPSStructStats"
        }
      },
      "id": "XPSDataStats",
      "type": "object"
    },
    "XPSEdgeTpuTfLiteFormat": {
      "id": "XPSEdgeTpuTfLiteFormat",
      "type": "object",
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "properties": {}
    },
    "XPSImageObjectDetectionEvaluationMetrics": {
      "id": "XPSImageObjectDetectionEvaluationMetrics",
      "type": "object",
      "description": "Model evaluation metrics for image object detection problems. Evaluates prediction quality of labeled bounding boxes.",
      "properties": {
        "evaluatedBoundingBoxCount": {
          "type": "integer",
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had.",
          "format": "int32"
        },
        "boundingBoxMeanAveragePrecision": {
          "format": "float",
          "description": "The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number"
        },
        "boundingBoxMetricsEntries": {
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          },
          "description": "The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "type": "array"
        }
      }
    },
    "Sentiment": {
      "id": "Sentiment",
      "type": "object",
      "description": "Represents the feeling associated with the entire text or entities in the text.",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float",
          "description": "A non-negative number in the [0, +inf] range, which represents the absolute magnitude of sentiment regardless of score (positive or negative)."
        },
        "score": {
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "format": "float",
          "type": "number"
        }
      }
    },
    "XPSTimestampStatsGranularStats": {
      "id": "XPSTimestampStatsGranularStats",
      "type": "object",
      "description": "Stats split by a defined in context granularity.",
      "properties": {
        "buckets": {
          "type": "object",
          "description": "A map from granularity key to example count for that key. E.g. for hour_of_day `13` means 1pm, or for month_of_year `5` means May).",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "XPSResponseExplanationMetadata": {
      "deprecated": true,
      "properties": {
        "inputs": {
          "description": "Metadata of the input.",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataInputMetadata"
          },
          "type": "object"
        },
        "outputs": {
          "description": "Metadata of the output.",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataOutputMetadata"
          },
          "type": "object"
        }
      },
      "id": "XPSResponseExplanationMetadata",
      "type": "object"
    },
    "XPSSpeechModelSpecSubModelSpec": {
      "id": "XPSSpeechModelSpecSubModelSpec",
      "type": "object",
      "properties": {
        "contextId": {
          "description": "In S3, Recognition ClientContextId.context_id",
          "type": "string"
        },
        "clientId": {
          "description": "In S3, Recognition ClientContextId.client_id",
          "type": "string"
        },
        "isEnhancedModel": {
          "description": "If true then it means we have an enhanced version of the biasing models.",
          "type": "boolean"
        },
        "biasingModelType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "description": "Type of the biasing model."
        }
      }
    },
    "XPSConfusionMatrixRow": {
      "id": "XPSConfusionMatrixRow",
      "type": "object",
      "description": "A row in the confusion matrix.",
      "properties": {
        "count": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message).",
          "type": "array"
        },
        "exampleCount": {
          "type": "array",
          "description": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "XPSColumnSpec": {
      "id": "XPSColumnSpec",
      "type": "object",
      "properties": {
        "dataType": {
          "description": "The data type of the column. It's outputed in Preprocess rpc and a required input for RefreshTablesStats and Train.",
          "$ref": "XPSDataType"
        },
        "dataStats": {
          "description": "The data stats of the column. It's outputed in RefreshTablesStats and a required input for Train.",
          "$ref": "XPSDataStats"
        },
        "topCorrelatedColumns": {
          "description": "It's outputed in RefreshTablesStats, and a required input in Train.",
          "items": {
            "$ref": "XPSColumnSpecCorrelatedColumn"
          },
          "type": "array"
        },
        "forecastingMetadata": {
          "$ref": "XPSColumnSpecForecastingMetadata"
        },
        "columnId": {
          "type": "integer",
          "format": "int32",
          "description": "The unique id of the column. When Preprocess, the Tables BE will popuate the order id of the column, which reflects the order of the column inside the table, i.e. 0 means the first column in the table, N-1 means the last column. AutoML BE will persist this order id in Spanner and set the order id here when calling RefreshTablesStats and Train. Note: it's different than the column_spec_id that is generated in AutoML BE."
        },
        "displayName": {
          "description": "The display name of the column. It's outputed in Preprocess and a required input for RefreshTablesStats and Train.",
          "type": "string"
        }
      }
    },
    "XPSColumnSpecCorrelatedColumn": {
      "description": "Identifies a table's column, and its correlation with the column this ColumnSpec describes.",
      "properties": {
        "correlationStats": {
          "$ref": "XPSCorrelationStats"
        },
        "columnId": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "XPSColumnSpecCorrelatedColumn",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "XPSModelArtifactItem": {
      "description": "A single model artifact item.",
      "properties": {
        "artifactFormat": {
          "enum": [
            "ARTIFACT_FORMAT_UNSPECIFIED",
            "TF_CHECKPOINT",
            "TF_SAVED_MODEL",
            "TF_LITE",
            "EDGE_TPU_TF_LITE",
            "TF_JS",
            "CORE_ML"
          ],
          "description": "The model artifact format.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The Tensorflow checkpoints. See https://www.tensorflow.org/guide/checkpoint.",
            "The Tensorflow SavedModel binary.",
            "Model artifact in generic TensorFlow Lite (.tflite) format. See https://www.tensorflow.org/lite.",
            "Used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
            "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
            "Used for iOS mobile devices in (.mlmodel) format. See https://developer.apple.com/documentation/coreml"
          ]
        },
        "gcsUri": {
          "description": "The Google Cloud Storage URI that stores the model binary files.",
          "type": "string"
        }
      },
      "id": "XPSModelArtifactItem",
      "type": "object"
    },
    "XPSConfidenceMetricsEntry": {
      "description": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16.",
      "properties": {
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Precision for the given confidence threshold."
        },
        "falsePositiveRate": {
          "type": "number",
          "description": "False Positive Rate for the given confidence threshold.",
          "format": "float"
        },
        "falseNegativeCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of ground truth labels that are not matched by a model created label."
        },
        "truePositiveCount": {
          "type": "string",
          "description": "The number of model created labels that match a ground truth label.",
          "format": "int64"
        },
        "positionThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold."
        },
        "recall": {
          "description": "Recall (true positive rate) for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "falsePositiveCount": {
          "format": "int64",
          "description": "The number of model created labels that do not match a ground truth label.",
          "type": "string"
        },
        "trueNegativeCount": {
          "format": "int64",
          "description": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label.",
          "type": "string"
        },
        "f1ScoreAt1": {
          "type": "number",
          "description": "The harmonic mean of recall_at1 and precision_at1.",
          "format": "float"
        },
        "falsePositiveRateAt1": {
          "type": "number",
          "format": "float",
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "recallAt1": {
          "type": "number",
          "format": "float",
          "description": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "confidenceThreshold": {
          "description": "Metrics are computed with an assumption that the model never return predictions with score lower than this value.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall and precision."
        },
        "precisionAt1": {
          "type": "number",
          "format": "float",
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        }
      },
      "id": "XPSConfidenceMetricsEntry",
      "type": "object"
    },
    "XPSTrackMetricsEntryConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold. Next tag: 6.",
      "properties": {
        "trackingPrecision": {
          "format": "float",
          "description": "Output only. Tracking precision.",
          "type": "number"
        },
        "confidenceThreshold": {
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "format": "float",
          "type": "number"
        },
        "trackingRecall": {
          "type": "number",
          "format": "float",
          "description": "Output only. Tracking recall."
        },
        "boundingBoxIou": {
          "type": "number",
          "format": "float",
          "description": "Output only. Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold)."
        },
        "mismatchRate": {
          "format": "float",
          "description": "Output only. Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity.",
          "type": "number"
        }
      },
      "id": "XPSTrackMetricsEntryConfidenceMetricsEntry",
      "type": "object"
    },
    "XPSTfJsFormat": {
      "id": "XPSTfJsFormat",
      "type": "object",
      "description": "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
      "properties": {}
    },
    "XPSFloat64Stats": {
      "id": "XPSFloat64Stats",
      "type": "object",
      "description": "The data statistics of a series of FLOAT64 values.",
      "properties": {
        "mean": {
          "type": "number",
          "description": "The mean of the series.",
          "format": "double"
        },
        "quantiles": {
          "type": "array",
          "description": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values.",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "standardDeviation": {
          "type": "number",
          "format": "double",
          "description": "The standard deviation of the series."
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "histogramBuckets": {
          "type": "array",
          "description": "Histogram buckets of the data series. Sorted by the min value of the bucket, ascendingly, and the number of the buckets is dynamically generated. The buckets are non-overlapping and completely cover whole FLOAT64 range with min of first bucket being `\"-Infinity\"`, and max of the last one being `\"Infinity\"`.",
          "items": {
            "$ref": "XPSFloat64StatsHistogramBucket"
          }
        }
      }
    },
    "XPSFloat64StatsHistogramBucket": {
      "description": "A bucket of a histogram.",
      "properties": {
        "min": {
          "format": "double",
          "description": "The minimum value of the bucket, inclusive.",
          "type": "number"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of data values that are in the bucket, i.e. are between min and max values."
        },
        "max": {
          "description": "The maximum value of the bucket, exclusive unless max = `\"Infinity\"`, in which case it's inclusive.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "XPSFloat64StatsHistogramBucket",
      "type": "object"
    },
    "XPSImageModelServingSpec": {
      "description": "Serving specification for image models.",
      "properties": {
        "modelThroughputEstimation": {
          "items": {
            "$ref": "XPSImageModelServingSpecModelThroughputEstimation"
          },
          "description": "Populate under uCAIP request scope.",
          "type": "array"
        },
        "nodeQps": {
          "type": "number",
          "description": "An estimated value of how much traffic a node can serve. Populated for AutoMl request only.",
          "format": "double"
        },
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        }
      },
      "id": "XPSImageModelServingSpec",
      "type": "object"
    },
    "XPSTextComponentModel": {
      "id": "XPSTextComponentModel",
      "type": "object",
      "description": "Component model.",
      "properties": {
        "onlinePredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold online prediction model.",
          "type": "string"
        },
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        },
        "servoModelName": {
          "description": "The name of servo model. Populated by uCAIP BE as part of online PredictRequest.",
          "type": "string"
        },
        "partition": {
          "description": "The partition where the model is deployed. Populated by uCAIP BE as part of online PredictRequest.",
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ]
        },
        "versionNumber": {
          "description": "The servomatic model version number. Populated by uCAIP BE as part of online PredictRequest.",
          "format": "int64",
          "type": "string"
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud Ai Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "submodelName": {
          "description": "The name of the trained NL submodel.",
          "type": "string"
        },
        "submodelType": {
          "enum": [
            "TEXT_MODEL_TYPE_UNSPECIFIED",
            "TEXT_MODEL_TYPE_DEFAULT",
            "TEXT_MODEL_TYPE_META_ARCHITECT",
            "TEXT_MODEL_TYPE_ATC",
            "TEXT_MODEL_TYPE_CLARA2",
            "TEXT_MODEL_TYPE_CHATBASE",
            "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING",
            "TEXT_MODEL_TYPE_TEXT_EXTRACTION",
            "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION",
            "TEXT_MODEL_TYPE_COMPOSITE",
            "TEXT_MODEL_TYPE_ALL_MODELS",
            "TEXT_MODEL_TYPE_BERT",
            "TEXT_MODEL_TYPE_ENC_PALM"
          ],
          "description": "The type of trained NL submodel",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Model type for entity extraction.",
            "Model type for relationship extraction.",
            "A composite model represents a set of component models that have to be used together for prediction. A composite model appears to be a single model to the model user. It may contain only one component model.",
            "Model type used to train default, MA, and ATC models in a single batch worker pipeline.",
            "BERT pipeline needs a specific model type, since it uses a different TFX configuration compared with DEFAULT (despite sharing most of the code).",
            "Model type for EncPaLM."
          ]
        },
        "batchPredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold batch prediction model.",
          "type": "string"
        }
      }
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "description": "The harmonic mean of recall and precision.",
          "format": "float"
        },
        "confidenceThreshold": {
          "description": "The confidence threshold value used to compute the metrics.",
          "format": "float",
          "type": "number"
        },
        "recall": {
          "description": "Recall for the given confidence threshold.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry",
      "type": "object"
    },
    "XPSImageModelServingSpecModelThroughputEstimation": {
      "properties": {
        "servomaticPartitionType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ]
        },
        "latencyInMilliseconds": {
          "type": "number",
          "description": "Estimated latency.",
          "format": "double"
        },
        "computeEngineAcceleratorType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A100 80GB GPU.",
            "Nvidia L4 GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H200 141Gb GPU.",
            "Nvidia B200 GPU.",
            "Nvidia GB200 GPU.",
            "TPU v2 (JellyFish).",
            "TPU v3 (DragonFish).",
            "TPU_v4 (PufferFish).",
            "TPU v5 Lite Pods."
          ],
          "enum": [
            "UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_L4",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "TPU_V2",
            "TPU_V3",
            "TPU_V4_POD",
            "TPU_V5_LITEPOD"
          ]
        },
        "nodeQps": {
          "type": "number",
          "description": "The approximate qps a deployed node can serve.",
          "format": "double"
        }
      },
      "id": "XPSImageModelServingSpecModelThroughputEstimation",
      "type": "object"
    },
    "XPSRegressionEvaluationMetrics": {
      "description": "Model evaluation metrics for regression problems. It can be used for Tables.",
      "properties": {
        "meanAbsoluteError": {
          "type": "number",
          "description": "Mean Absolute Error (MAE).",
          "format": "float"
        },
        "rSquared": {
          "type": "number",
          "description": "R squared.",
          "format": "float"
        },
        "rootMeanSquaredError": {
          "type": "number",
          "format": "float",
          "description": "Root Mean Squared Error (RMSE)."
        },
        "regressionMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "description": "A list of actual versus predicted points for the model being evaluated."
        },
        "meanAbsolutePercentageError": {
          "type": "number",
          "format": "float",
          "description": "Mean absolute percentage error. Only set if all ground truth values are positive."
        },
        "rootMeanSquaredLogError": {
          "description": "Root mean squared log error.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "XPSRegressionEvaluationMetrics",
      "type": "object"
    },
    "XPSTablesTrainResponse": {
      "properties": {
        "tablesModelColumnInfo": {
          "type": "array",
          "description": "Output only. Auxiliary information for each of the input_feature_column_specs, with respect to this particular model.",
          "items": {
            "$ref": "XPSTablesModelColumnInfo"
          }
        },
        "predictionSampleRows": {
          "description": "Sample rows from the dataset this model was trained.",
          "items": {
            "$ref": "XPSRow"
          },
          "type": "array"
        },
        "trainCostMilliNodeHours": {
          "type": "string",
          "description": "The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget.",
          "format": "int64"
        },
        "modelStructure": {
          "$ref": "XPSTablesModelStructure"
        }
      },
      "id": "XPSTablesTrainResponse",
      "type": "object"
    },
    "XPSRegressionMetricsEntry": {
      "id": "XPSRegressionMetricsEntry",
      "type": "object",
      "description": "A pair of actual & observed values for the model being evaluated.",
      "properties": {
        "trueValue": {
          "description": "The actual target value for a row in the dataset.",
          "format": "float",
          "type": "number"
        },
        "predictedValue": {
          "type": "number",
          "format": "float",
          "description": "The observed value for a row in the dataset."
        }
      }
    },
    "XPSResponseExplanationParameters": {
      "id": "XPSResponseExplanationParameters",
      "type": "object",
      "deprecated": true,
      "properties": {
        "integratedGradientsAttribution": {
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
          "$ref": "XPSIntegratedGradientsAttribution"
        },
        "xraiAttribution": {
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead.",
          "$ref": "XPSXraiAttribution"
        }
      }
    },
    "XPSTablesTrainingOperationMetadata": {
      "id": "XPSTablesTrainingOperationMetadata",
      "type": "object",
      "properties": {
        "trainBudgetMilliNodeHours": {
          "description": "Creating model budget.",
          "format": "int64",
          "type": "string"
        },
        "trainingStartTime": {
          "description": "Timestamp when training process starts.",
          "format": "google-datetime",
          "type": "string"
        },
        "optimizationObjective": {
          "description": "The optimization objective for model.",
          "type": "string"
        },
        "trainingObjectivePoints": {
          "type": "array",
          "description": "This field records the training objective value with respect to time, giving insight into how the model architecture search is performing as training time elapses.",
          "items": {
            "$ref": "XPSTrainingObjectivePoint"
          }
        },
        "topTrials": {
          "type": "array",
          "items": {
            "$ref": "XPSTuningTrial"
          },
          "description": "This field is for training. When the operation is terminated successfully, AutoML Backend post this field to operation metadata in spanner. If the metadata has no trials returned, the training operation is supposed to be a failure."
        },
        "createModelStage": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified stage.",
            "Prepare the model training pipeline and run data processing.",
            "Training model.",
            "Run evaluation.",
            "Finalizing model training pipeline."
          ],
          "enum": [
            "CREATE_MODEL_STAGE_UNSPECIFIED",
            "DATA_PREPROCESSING",
            "TRAINING",
            "EVALUATING",
            "MODEL_POST_PROCESSING"
          ],
          "description": "Current stage of creating model."
        }
      }
    },
    "XPSTablesClassificationMetrics": {
      "description": "Metrics for Tables classification problems.",
      "properties": {
        "curveMetrics": {
          "description": "Metrics building a curve.",
          "items": {
            "$ref": "XPSTablesClassificationMetricsCurveMetrics"
          },
          "type": "array"
        }
      },
      "id": "XPSTablesClassificationMetrics",
      "type": "object"
    },
    "XPSBoundingBoxMetricsEntry": {
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds.",
      "properties": {
        "meanAveragePrecision": {
          "format": "float",
          "description": "The mean average precision.",
          "type": "number"
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
          },
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
        },
        "iouThreshold": {
          "type": "number",
          "description": "The intersection-over-union threshold value used to compute this metrics entry.",
          "format": "float"
        }
      },
      "id": "XPSBoundingBoxMetricsEntry",
      "type": "object"
    },
    "XPSVideoBatchPredictOperationMetadata": {
      "properties": {
        "outputExamples": {
          "description": "All the partial batch prediction results that are completed at the moment. Output examples are sorted by completion time. The order will not be changed. Each output example should be the path of a single RecordIO file of AnnotatedExamples.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "XPSVideoBatchPredictOperationMetadata",
      "type": "object"
    },
    "XPSExampleSet": {
      "description": "Set of examples or input sources.",
      "properties": {
        "fileSpec": {
          "description": "File spec of the examples or input sources.",
          "$ref": "XPSFileSpec"
        },
        "numExamples": {
          "type": "string",
          "format": "int64",
          "description": "Number of examples."
        },
        "numInputSources": {
          "type": "string",
          "format": "int64",
          "description": "Number of input sources."
        },
        "fingerprint": {
          "format": "int64",
          "description": "Fingerprint of the example set.",
          "type": "string"
        }
      },
      "id": "XPSExampleSet",
      "type": "object"
    },
    "XPSImageObjectDetectionModelSpec": {
      "properties": {
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec"
        },
        "maxBoundingBoxCount": {
          "type": "string",
          "description": "Max number of bounding box.",
          "format": "int64"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "stopReason": {
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ]
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "classCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of classes."
        }
      },
      "id": "XPSImageObjectDetectionModelSpec",
      "type": "object"
    },
    "XPSTfSavedModelFormat": {
      "id": "XPSTfSavedModelFormat",
      "type": "object",
      "description": "A tensorflow model format in SavedModel format.",
      "properties": {}
    },
    "XPSTablesEvaluationMetrics": {
      "id": "XPSTablesEvaluationMetrics",
      "type": "object",
      "properties": {
        "classificationMetrics": {
          "description": "Classification metrics.",
          "$ref": "XPSTablesClassificationMetrics"
        },
        "regressionMetrics": {
          "description": "Regression metrics.",
          "$ref": "XPSTablesRegressionMetrics"
        }
      }
    },
    "XPSArrayStats": {
      "description": "The data statistics of a series of ARRAY values.",
      "properties": {
        "memberStats": {
          "description": "Stats of all the values of all arrays, as if they were a single long series of data. The type depends on the element type of the array.",
          "$ref": "XPSDataStats"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "id": "XPSArrayStats",
      "type": "object"
    },
    "XPSDataErrors": {
      "description": "Different types of errors and the stats associatesd with each error.",
      "properties": {
        "errorType": {
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "UNSUPPORTED_AUDIO_FORMAT",
            "FILE_EXTENSION_MISMATCH_WITH_AUDIO_FORMAT",
            "FILE_TOO_LARGE",
            "MISSING_TRANSCRIPTION"
          ],
          "description": "Type of the error.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Audio format not in the formats by cloud-speech AutoML. Currently only wav and flac file formats are supported.",
            "File format differnt from what is specified in the file name extension.",
            "File too large. Maximum allowed size is 50 MB.",
            "Transcript is missing."
          ]
        },
        "count": {
          "format": "int32",
          "description": "Number of records having errors associated with the enum.",
          "type": "integer"
        }
      },
      "id": "XPSDataErrors",
      "type": "object"
    },
    "XPSTablesRegressionMetrics": {
      "id": "XPSTablesRegressionMetrics",
      "type": "object",
      "description": "Metrics for Tables regression problems.",
      "properties": {
        "rootMeanSquaredError": {
          "format": "double",
          "description": "Root mean squared error.",
          "type": "number"
        },
        "meanAbsoluteError": {
          "type": "number",
          "format": "double",
          "description": "Mean absolute error."
        },
        "rSquared": {
          "type": "number",
          "description": "R squared.",
          "format": "double"
        },
        "meanAbsolutePercentageError": {
          "format": "double",
          "description": "Mean absolute percentage error, only set if all of the target column's values are positive.",
          "type": "number"
        },
        "rootMeanSquaredLogError": {
          "description": "Root mean squared log error.",
          "format": "double",
          "type": "number"
        },
        "regressionMetricsEntries": {
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "type": "array"
        }
      }
    },
    "XPSTablesDatasetMetadata": {
      "id": "XPSTablesDatasetMetadata",
      "type": "object",
      "description": "Metadata for a dataset used for AutoML Tables.",
      "properties": {
        "mlUseColumnId": {
          "type": "integer",
          "format": "int32",
          "description": "Id the column to split the table."
        },
        "targetColumnCorrelations": {
          "description": "(the column id : its CorrelationStats with target column).",
          "additionalProperties": {
            "$ref": "XPSCorrelationStats"
          },
          "type": "object"
        },
        "primaryTableSpec": {
          "description": "Primary table.",
          "$ref": "XPSTableSpec"
        },
        "targetColumnId": {
          "type": "integer",
          "description": "Id of the primary table column that should be used as the training label.",
          "format": "int32"
        },
        "weightColumnId": {
          "format": "int32",
          "description": "Id of the primary table column that should be used as the weight column.",
          "type": "integer"
        }
      }
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          },
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it."
        }
      },
      "id": "XPSImageSegmentationEvaluationMetrics",
      "type": "object"
    },
    "XPSXpsOperationMetadata": {
      "id": "XPSXpsOperationMetadata",
      "type": "object",
      "properties": {
        "tablesTrainingOperationMetadata": {
          "$ref": "XPSTablesTrainingOperationMetadata"
        },
        "reportingMetrics": {
          "description": "Metrics for the operation. By the time the operation is terminated (whether succeeded or failed) as returned from XPS, AutoML BE assumes the metrics are finalized. AutoML BE transparently posts the metrics to Chemist if it's not empty, regardless of the response content or error type. If user is supposed to be charged in case of cancellation/error, this field should be set. In the case where the type of LRO doesn't require any billing, this field should be left unset.",
          "$ref": "XPSReportingMetrics"
        },
        "exampleCount": {
          "description": "Optional. XPS server can opt to provide example count of the long running operation (e.g. training, data importing, batch prediction).",
          "format": "int64",
          "type": "string"
        },
        "videoTrainingOperationMetadata": {
          "$ref": "XPSVideoTrainingOperationMetadata"
        },
        "visionTrainingOperationMetadata": {
          "$ref": "XPSVisionTrainingOperationMetadata"
        },
        "videoBatchPredictOperationMetadata": {
          "$ref": "XPSVideoBatchPredictOperationMetadata"
        }
      }
    },
    "XPSXraiAttribution": {
      "deprecated": true,
      "id": "XPSXraiAttribution",
      "type": "object",
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Only supports image Models (modality is IMAGE).",
      "properties": {
        "stepCount": {
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "XPSVisualization": {
      "deprecated": true,
      "id": "XPSVisualization",
      "type": "object",
      "description": "Visualization configurations for image explanation.",
      "properties": {
        "clipPercentLowerbound": {
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62.",
          "format": "float",
          "type": "number"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ],
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ]
        },
        "colorMap": {
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ],
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ]
        },
        "clipPercentUpperbound": {
          "type": "number",
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9.",
          "format": "float"
        },
        "overlayType": {
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ],
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ]
        },
        "polarity": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ],
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ],
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE."
        }
      }
    },
    "XPSSpeechPreprocessStats": {
      "id": "XPSSpeechPreprocessStats",
      "type": "object",
      "properties": {
        "testSentencesCount": {
          "format": "int32",
          "description": "The number of sentences in the test data set.",
          "type": "integer"
        },
        "numMachineTranscribedExamples": {
          "type": "integer",
          "description": "The number of rows marked as MACHINE_TRANSCRIBED",
          "format": "int32"
        },
        "trainWordsCount": {
          "type": "integer",
          "description": "The number of words in the training data set.",
          "format": "int32"
        },
        "trainExamplesCount": {
          "type": "integer",
          "description": "The number of examples labeled as TRAIN by Speech xps server.",
          "format": "int32"
        },
        "numHumanLabeledExamples": {
          "description": "The number of rows marked HUMAN_LABELLED",
          "format": "int32",
          "type": "integer"
        },
        "trainSentencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of sentences in the training data set."
        },
        "dataErrors": {
          "type": "array",
          "description": "Different types of data errors and the counts associated with them.",
          "items": {
            "$ref": "XPSDataErrors"
          }
        },
        "testExamplesCount": {
          "format": "int32",
          "description": "The number of examples labelled as TEST by Speech xps server.",
          "type": "integer"
        },
        "numLogsExamples": {
          "format": "int32",
          "description": "The number of samples found in the previously recorded logs data.",
          "type": "integer"
        },
        "testWordsCount": {
          "type": "integer",
          "description": "The number of words in the test data set.",
          "format": "int32"
        }
      }
    },
    "XPSImageExportModelSpec": {
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format.",
      "properties": {
        "exportModelOutputConfig": {
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          },
          "type": "array"
        }
      },
      "id": "XPSImageExportModelSpec",
      "type": "object"
    },
    "XPSCoreMlFormat": {
      "id": "XPSCoreMlFormat",
      "type": "object",
      "description": "A model format used for iOS mobile devices.",
      "properties": {}
    },
    "RamMetric": {
      "id": "RamMetric",
      "type": "object",
      "properties": {
        "ramType": {
          "description": "Required. Type of ram.",
          "enum": [
            "UNKNOWN_RAM_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "C3",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ]
        },
        "gibSec": {
          "format": "int64",
          "description": "Required. VM memory in Gigabyte second, e.g. 3600. Using int64 type to match billing metrics definition.",
          "type": "string"
        },
        "memories": {
          "description": "Required. VM memory in gb.",
          "format": "double",
          "type": "number"
        },
        "trackingLabels": {
          "type": "object",
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "additionalProperties": {
            "type": "string"
          }
        },
[...]
