{
  "baseUrl": "https://libraryagent.googleapis.com/",
  "title": "Library Agent API",
  "version_module": true,
  "revision": "20260402",
  "description": "A simple Google Example Library API.",
  "name": "libraryagent",
  "schemas": {
    "GoogleExampleLibraryagentV1Book": {
      "description": "A single book in the library.",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
          "type": "string"
        },
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        }
      },
      "id": "GoogleExampleLibraryagentV1Book"
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "description": "Response message for LibraryAgent.ListShelves.",
      "type": "object",
      "properties": {
        "shelves": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "description": "The list of shelves.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse"
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "id": "GoogleExampleLibraryagentV1Shelf",
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      }
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "description": "Response message for LibraryAgent.ListBooks.",
      "type": "object",
      "properties": {
        "books": {
          "description": "The list of books.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "shelves": {
      "methods": {
        "get": {
          "id": "libraryagent.shelves.get",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "flatPath": "v1/shelves/{shelvesId}",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the shelf to retrieve.",
              "location": "path",
              "type": "string",
              "pattern": "^shelves/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "flatPath": "v1/shelves",
          "parameters": {
            "pageSize": {
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "libraryagent.shelves.list",
          "path": "v1/shelves"
        }
      },
      "resources": {
        "books": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "libraryagent.shelves.books.list",
              "path": "v1/{+parent}/books",
              "flatPath": "v1/shelves/{shelvesId}/books",
              "parameters": {
                "parent": {
                  "pattern": "^shelves/[^/]+$",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist."
            },
            "get": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to retrieve.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "libraryagent.shelves.books.get",
              "path": "v1/{+name}"
            },
            "borrow": {
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the book to borrow.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.borrow",
              "path": "v1/{+name}:borrow",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "return": {
              "id": "libraryagent.shelves.books.return",
              "path": "v1/{+name}:return",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to return.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "id": "libraryagent:v1",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "version": "v1",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Libraryagent"
}