{
  "basePath": "",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://libraryagent.googleapis.com/",
  "canonicalName": "Libraryagent",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "name": "libraryagent",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/docs/quota",
  "version": "v1",
  "description": "A simple Google Example Library API.",
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "schemas": {
    "GoogleExampleLibraryagentV1Book": {
      "description": "A single book in the library.",
      "type": "object",
      "id": "GoogleExampleLibraryagentV1Book",
      "properties": {
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
          "type": "string"
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        }
      }
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "properties": {
        "books": {
          "description": "The list of books.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for LibraryAgent.ListBooks.",
      "type": "object"
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "description": "Response message for LibraryAgent.ListShelves.",
      "type": "object",
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "properties": {
        "shelves": {
          "description": "The list of shelves.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object",
      "id": "GoogleExampleLibraryagentV1Shelf",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      }
    }
  },
  "revision": "20260421",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "servicePath": "",
  "id": "libraryagent:v1",
  "kind": "discovery#restDescription",
  "title": "Library Agent API",
  "resources": {
    "shelves": {
      "methods": {
        "get": {
          "id": "libraryagent.shelves.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the shelf to retrieve.",
              "location": "path",
              "pattern": "^shelves/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v1/shelves/{shelvesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist."
        },
        "list": {
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "libraryagent.shelves.list",
          "parameterOrder": [],
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "path": "v1/shelves",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/shelves",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "books": {
          "methods": {
            "return": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:return",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "id": "libraryagent.shelves.books.return",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the book to return.",
                  "location": "path",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string"
                }
              }
            },
            "borrow": {
              "path": "v1/{+name}:borrow",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "id": "libraryagent.shelves.books.borrow",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the book to borrow.",
                  "location": "path",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string"
                }
              }
            },
            "get": {
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "httpMethod": "GET",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the book to retrieve.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "libraryagent.shelves.books.get",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1/{+parent}/books",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "flatPath": "v1/shelves/{shelvesId}/books",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "libraryagent.shelves.books.list",
              "parameters": {
                "parent": {
                  "pattern": "^shelves/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "protocol": "rest"
}