{
  "schemas": {
    "GoogleExampleLibraryagentV1Shelf": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      },
      "id": "GoogleExampleLibraryagentV1Shelf",
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object"
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        },
        "shelves": {
          "description": "The list of shelves.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        }
      },
      "description": "Response message for LibraryAgent.ListShelves.",
      "type": "object",
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse"
    },
    "GoogleExampleLibraryagentV1Book": {
      "properties": {
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        },
        "name": {
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
          "type": "string"
        }
      },
      "id": "GoogleExampleLibraryagentV1Book",
      "description": "A single book in the library.",
      "type": "object"
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        },
        "books": {
          "description": "The list of books.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          }
        }
      },
      "description": "Response message for LibraryAgent.ListBooks.",
      "type": "object",
      "id": "GoogleExampleLibraryagentV1ListBooksResponse"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "discoveryVersion": "v1",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "description": "A simple Google Example Library API.",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "canonicalName": "Libraryagent",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "name": "libraryagent",
  "batchPath": "batch",
  "version": "v1",
  "resources": {
    "shelves": {
      "methods": {
        "get": {
          "id": "libraryagent.shelves.get",
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "flatPath": "v1/shelves/{shelvesId}",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the shelf to retrieve.",
              "pattern": "^shelves/[^/]+$",
              "location": "path"
            }
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "httpMethod": "GET"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/shelves",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "libraryagent.shelves.list",
          "flatPath": "v1/shelves",
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "type": "string",
              "location": "query"
            }
          }
        }
      },
      "resources": {
        "books": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "httpMethod": "GET",
              "id": "libraryagent.shelves.books.get",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the book to retrieve.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path"
                }
              }
            },
            "return": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the book to return.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "id": "libraryagent.shelves.books.return",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "path": "v1/{+name}:return",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "pattern": "^shelves/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer"
                }
              },
              "flatPath": "v1/shelves/{shelvesId}/books",
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "id": "libraryagent.shelves.books.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/books"
            },
            "borrow": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the book to borrow.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "libraryagent.shelves.books.borrow",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:borrow"
            }
          }
        }
      }
    }
  },
  "revision": "20260312",
  "title": "Library Agent API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://libraryagent.googleapis.com/",
  "ownerName": "Google",
  "id": "libraryagent:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "version_module": true
}