{
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "ownerName": "Google",
  "canonicalName": "Libraryagent",
  "protocol": "rest",
  "name": "libraryagent",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "description": "A simple Google Example Library API.",
  "revision": "20260409",
  "schemas": {
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "description": "Response message for LibraryAgent.ListShelves.",
      "type": "object",
      "properties": {
        "shelves": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "description": "The list of shelves.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse"
    },
    "GoogleExampleLibraryagentV1Book": {
      "description": "A single book in the library.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
          "type": "string"
        },
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        }
      },
      "id": "GoogleExampleLibraryagentV1Book"
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      },
      "id": "GoogleExampleLibraryagentV1Shelf"
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "description": "Response message for LibraryAgent.ListBooks.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        },
        "books": {
          "description": "The list of books.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          }
        }
      },
      "id": "GoogleExampleLibraryagentV1ListBooksResponse"
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "id": "libraryagent:v1",
  "resources": {
    "shelves": {
      "methods": {
        "get": {
          "id": "libraryagent.shelves.get",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the shelf to retrieve.",
              "type": "string",
              "required": true,
              "pattern": "^shelves/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/shelves/{shelvesId}",
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "id": "libraryagent.shelves.list",
          "path": "v1/shelves",
          "parameters": {
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "type": "integer",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "flatPath": "v1/shelves"
        }
      },
      "resources": {
        "books": {
          "methods": {
            "list": {
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "flatPath": "v1/shelves/{shelvesId}/books",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "type": "string",
                  "required": true,
                  "pattern": "^shelves/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "libraryagent.shelves.books.list",
              "path": "v1/{+parent}/books",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              }
            },
            "borrow": {
              "id": "libraryagent.shelves.books.borrow",
              "path": "v1/{+name}:borrow",
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the book to borrow.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "return": {
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "libraryagent.shelves.books.return",
              "path": "v1/{+name}:return",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the book to return.",
                  "type": "string",
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before."
            },
            "get": {
              "id": "libraryagent.shelves.books.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the book to retrieve.",
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "version": "v1",
  "batchPath": "batch",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Library Agent API"
}