{
  "rootUrl": "https://libraryagent.googleapis.com/",
  "version_module": true,
  "description": "A simple Google Example Library API.",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "name": "libraryagent",
  "schemas": {
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        },
        "books": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "type": "array",
          "description": "The list of books."
        }
      },
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "description": "Response message for LibraryAgent.ListBooks."
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "id": "GoogleExampleLibraryagentV1Shelf",
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        },
        "theme": {
          "type": "string",
          "description": "The theme of the shelf"
        }
      }
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        },
        "shelves": {
          "description": "The list of shelves.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        }
      },
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "description": "Response message for LibraryAgent.ListShelves."
    },
    "GoogleExampleLibraryagentV1Book": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the book."
        },
        "name": {
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
          "type": "string"
        },
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        }
      },
      "id": "GoogleExampleLibraryagentV1Book",
      "description": "A single book in the library."
    }
  },
  "revision": "20260507",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "shelves": {
      "methods": {
        "list": {
          "id": "libraryagent.shelves.list",
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "flatPath": "v1/shelves",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "path": "v1/shelves"
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/shelves/{shelvesId}",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "libraryagent.shelves.get",
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the shelf to retrieve.",
              "pattern": "^shelves/[^/]+$",
              "required": true
            }
          }
        }
      },
      "resources": {
        "books": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/books",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "pattern": "^shelves/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "format": "int32"
                }
              },
              "id": "libraryagent.shelves.books.list",
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "flatPath": "v1/shelves/{shelvesId}/books"
            },
            "get": {
              "id": "libraryagent.shelves.books.get",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the book to retrieve.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "borrow": {
              "path": "v1/{+name}:borrow",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the book to borrow.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "id": "libraryagent.shelves.books.borrow",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow"
            },
            "return": {
              "httpMethod": "POST",
              "id": "libraryagent.shelves.books.return",
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the book to return.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:return"
            }
          }
        }
      }
    }
  },
  "version": "v1",
  "batchPath": "batch",
  "id": "libraryagent:v1",
  "kind": "discovery#restDescription",
  "canonicalName": "Libraryagent",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/docs/quota",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "ownerName": "Google",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "title": "Library Agent API",
  "servicePath": ""
}