{
  "description": "",
  "title": "Local Services API",
  "rootUrl": "https://localservices.googleapis.com/",
  "id": "localservices:v1",
  "name": "localservices",
  "version_module": true,
  "revision": "20260422",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "canonicalName": "Localservices",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "baseUrl": "https://localservices.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        },
        "detailedLeadReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "type": "object",
      "properties": {
        "chargedConnectedCallDurationSeconds": {
          "type": "string",
          "description": "Duration of the charged phone call in seconds.",
          "format": "google-duration"
        },
        "chargedCallTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the phone call which resulted in a charged phone lead."
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "description": "Container for phone lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "type": "object",
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "properties": {
        "leadCreationTimestamp": {
          "format": "google-datetime",
          "description": "Timestamp of when the lead was created.",
          "type": "string"
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the lead."
        },
        "chargeStatus": {
          "type": "string",
          "description": "Whether the lead has been charged.",
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ]
        },
        "leadId": {
          "type": "string",
          "format": "int64",
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report."
        },
        "phoneLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
          "description": "More information associated to only phone leads."
        },
        "leadPrice": {
          "type": "number",
          "description": "Price of the lead (available only after it has been charged).",
          "format": "double"
        },
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        },
        "timezone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Timezone of the particular provider associated to a lead."
        },
        "accountId": {
          "type": "string",
          "description": "Identifies account that received the lead.",
          "format": "int64"
        },
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "googleAdsLeadId": {
          "type": "string",
          "description": "Unique identifier of a Detailed Lead Report.",
          "format": "int64"
        },
        "leadType": {
          "type": "string",
          "description": "Lead type.",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        },
        "bookingLead": {
          "description": "More information associated to only booking leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data."
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "properties": {
        "averageWeeklyBudget": {
          "type": "number",
          "description": "Average weekly budget in the currency code of the account.",
          "format": "double"
        },
        "impressionsLastTwoDays": {
          "description": "Number of impressions that customers have had in the past 2 days.",
          "format": "int64",
          "type": "string"
        },
        "currentPeriodChargedLeads": {
          "type": "string",
          "description": "Number of charged leads the account received in current specified period.",
          "format": "int64"
        },
        "currentPeriodPhoneCalls": {
          "type": "string",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls.",
          "format": "int64"
        },
        "previousPeriodChargedLeads": {
          "format": "int64",
          "description": "Number of charged leads the account received in previous specified period.",
          "type": "string"
        },
        "businessName": {
          "description": "Business name of the account.",
          "type": "string"
        },
        "phoneLeadResponsiveness": {
          "format": "double",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "type": "number"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the account.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "averageFiveStarRating": {
          "description": "Average review rating score from 1-5 stars.",
          "format": "double",
          "type": "number"
        },
        "previousPeriodTotalCost": {
          "type": "number",
          "description": "Total cost of the account in previous specified period in the account's specified currency.",
          "format": "double"
        },
        "totalReview": {
          "type": "integer",
          "description": "Total number of reviews the account has up to current date.",
          "format": "int32"
        },
        "previousPeriodPhoneCalls": {
          "type": "string",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "format": "int64"
        },
        "currentPeriodTotalCost": {
          "description": "Total cost of the account in current specified period in the account's specified currency.",
          "format": "double",
          "type": "number"
        },
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Unique identifier of the GLS account.",
          "type": "string"
        },
        "currentPeriodConnectedPhoneCalls": {
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period.",
          "type": "string"
        },
        "previousPeriodConnectedPhoneCalls": {
          "type": "string",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "description": "Container for booking lead specific information.",
      "type": "object",
      "properties": {
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "bookingAppointmentTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when service is provided by advertiser."
        },
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the booking lead.",
          "type": "string"
        }
      }
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "description": "Container for message lead specific information.",
      "type": "object",
      "properties": {
        "postalCode": {
          "description": "The postal code of the customer who created the lead.",
          "type": "string"
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the message lead.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        },
        "accountReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "type": "array"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "resources": {
    "accountReports": {
      "methods": {
        "search": {
          "flatPath": "v1/accountReports:search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "httpMethod": "GET",
          "id": "localservices.accountReports.search",
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "path": "v1/accountReports:search",
          "parameters": {
            "query": {
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "location": "query",
              "type": "string"
            },
            "endDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "location": "query"
            },
            "endDate.month": {
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            },
            "startDate.year": {
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "format": "int32"
            },
            "startDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer"
            },
            "startDate.month": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "endDate.year": {
              "location": "query",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          }
        }
      }
    },
    "detailedLeadReports": {
      "methods": {
        "search": {
          "path": "v1/detailedLeadReports:search",
          "parameters": {
            "startDate.year": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "startDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional."
            },
            "endDate.month": {
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            },
            "endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required."
            },
            "endDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            }
          },
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "flatPath": "v1/detailedLeadReports:search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "httpMethod": "GET",
          "id": "localservices.detailedLeadReports.search"
        }
      }
    }
  },
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "version": "v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true
}