{
  "baseUrl": "https://logging.googleapis.com/",
  "revision": "20260401",
  "name": "logging",
  "discoveryVersion": "v1",
  "title": "Cloud Logging API",
  "batchPath": "batch",
  "rootUrl": "https://logging.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/logging/docs/",
  "ownerDomain": "google.com",
  "canonicalName": "Logging",
  "schemas": {
    "ListLogEntriesRequest": {
      "id": "ListLogEntriesRequest",
      "type": "object",
      "description": "The parameters to ListLogEntries.",
      "properties": {
        "projectIds": {
          "description": "Optional. Deprecated. Use resource_names instead. One or more project identifiers or project numbers from which to retrieve log entries. Example: \"my-project-1A\".",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter that chooses which log entries to return. For more information, see Logging query language (https://docs.cloud.google.com/logging/docs/view/logging-query-language).Only log entries that match the filter are returned. An empty filter matches all log entries in the resources listed in resource_names. Referencing a parent resource that is not listed in resource_names will cause the filter to return no results. The maximum length of a filter is 20,000 characters.To make queries faster, you can make the filter more selective by using restrictions on indexed fields (https://docs.cloud.google.com/logging/docs/view/logging-query-language#indexed-fields) as well as limit the time range of the query by adding range restrictions on the timestamp field."
        },
        "orderBy": {
          "description": "Optional. How the results should be sorted. Presently, the only permitted values are \"timestamp asc\" (default) and \"timestamp desc\". The first option returns entries in order of increasing values of LogEntry.timestamp (oldest first), and the second option returns entries in order of decreasing timestamps (newest first). Entries with equal timestamps are returned in order of their insert_id values.We recommend setting the order_by field to \"timestamp desc\" when listing recently ingested log entries. If not set, the default value of \"timestamp asc\" may take a long time to fetch matching logs that are only recently ingested.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. page_token must be the value of next_page_token from the previous response. The values of other method parameters should be identical to those in the previous call."
        },
        "resourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Names of one or more parent resources from which to retrieve log entries. Resources may either be resource containers or specific LogViews. For the case of resource containers, all logs ingested into that container will be returned regardless of which LogBuckets they are actually stored in - i.e. these queries may fan out to multiple regions. In the event of region unavailability, specify a specific set of LogViews that do not include the unavailable region. projects/[PROJECT_ID] organizations/[ORGANIZATION_ID] billingAccounts/[BILLING_ACCOUNT_ID] folders/[FOLDER_ID] projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]Projects listed in the project_ids field are added to this list. A maximum of 100 resources may be specified in a single request."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of results to return from this request. Default is 50. If the value is negative, the request is rejected.The presence of next_page_token in the response indicates that more results might be available."
        }
      }
    },
    "QueryBuilderConfig": {
      "description": "Defines a structured query configuration that can be used instead of writing raw SQL. This configuration represents the components of a SQL query (FROM, SELECT, WHERE, ORDER BY, LIMIT) and is typically converted into an executable query (e.g., BigQuery SQL) by the backend service to retrieve data for analysis or visualization.",
      "properties": {
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "The limit to use for the query. This equates to the LIMIT clause in SQL. A limit of 0 will be treated as not enabled."
        },
        "fieldSources": {
          "type": "array",
          "items": {
            "$ref": "FieldSource"
          },
          "description": "Defines the items to include in the query result, analogous to a SQL SELECT clause."
        },
        "resourceNames": {
          "description": "Required. The view/resource to query. For now only a single view/resource will be sent, but there are plans to allow multiple views in the future. Marking as repeated for that purpose. Example: - \"projects/123/locations/global/buckets/456/views/_Default\" - \"projects/123/locations/global/metricBuckets/456/views/_Default\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "description": "The filter to use for the query. This equates to the WHERE clause in SQL.",
          "$ref": "FilterPredicate"
        },
        "orderBys": {
          "type": "array",
          "items": {
            "$ref": "SortOrderParameter"
          },
          "description": "The sort orders to use for the query. This equates to the ORDER BY clause in SQL."
        },
        "searchTerm": {
          "type": "string",
          "description": "The plain text search to use for the query. There is no support for multiple search terms. This uses the SEARCH functionality in BigQuery. For example, a search_term = 'ERROR' would result in the following SQL:SELECT * FROM resource WHERE SEARCH(resource, 'ERROR') LIMIT 100"
        }
      },
      "id": "QueryBuilderConfig",
      "type": "object"
    },
    "TailLogEntriesRequest": {
      "id": "TailLogEntriesRequest",
      "type": "object",
      "description": "The parameters to TailLogEntries.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. A filter that chooses which log entries to return. For more information, see Logging query language (https://docs.cloud.google.com/logging/docs/view/logging-query-language).Only log entries that match the filter are returned. An empty filter matches all log entries in the resources listed in resource_names. Referencing a parent resource that is not listed in resource_names will cause the filter to return no results. The maximum length of a filter is 20,000 characters."
        },
        "resourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Name of a parent resource from which to retrieve log entries: projects/[PROJECT_ID] organizations/[ORGANIZATION_ID] billingAccounts/[BILLING_ACCOUNT_ID] folders/[FOLDER_ID]May alternatively be one or more views: projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]"
        },
        "bufferWindow": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The amount of time to buffer log entries at the server before being returned to prevent out of order results due to late arriving log entries. Valid values are between 0-60000 milliseconds. Defaults to 2000 milliseconds."
        }
      }
    },
    "LogBucket": {
      "description": "Describes a repository in which log entries are stored.",
      "properties": {
        "cmekSettings": {
          "$ref": "CmekSettings",
          "description": "Optional. The CMEK settings of the log bucket. If present, new log entries written to this log bucket are encrypted using the CMEK key provided in this configuration. If a log bucket has CMEK settings, the CMEK settings cannot be disabled later by updating the log bucket. Changing the KMS key is allowed."
        },
        "analyticsEnabled": {
          "description": "Optional. Whether log analytics is enabled for this bucket.Once enabled, log analytics features cannot be disabled.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Describes this bucket.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the bucket.For example:projects/my-project/locations/global/buckets/my-bucketFor a list of supported locations, see Supported Regions (https://docs.cloud.google.com/logging/docs/region-support)For the location of global it is unspecified where log entries are actually stored.After a bucket has been created, the location cannot be changed.",
          "readOnly": true
        },
        "indexConfigs": {
          "type": "array",
          "items": {
            "$ref": "IndexConfig"
          },
          "description": "Optional. A list of indexed fields and related configuration data."
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of the bucket.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Logs will be retained by default for this amount of time, after which they will automatically be deleted. The minimum retention period is 1 day. If this value is set to zero at bucket creation time, the default time of 30 days will be used."
        },
        "restrictedFields": {
          "description": "Optional. Log entry field paths that are denied access in this bucket.The following fields and their children are eligible: textPayload, jsonPayload, protoPayload, httpRequest, labels, sourceLocation.Restricting a repeated field will restrict all values. Adding a parent will block all child fields. (e.g. foo.bar will block foo.bar.baz)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locked": {
          "type": "boolean",
          "description": "Optional. Whether the bucket is locked.The retention period on a locked bucket cannot be changed. Locked buckets may only be deleted if they are empty."
        },
        "lifecycleState": {
          "description": "Output only. The bucket lifecycle state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The resource has been marked for deletion by the user. For some resources (e.g. buckets), this can be reversed by an un-delete operation.",
            "The resource has been marked for an update by the user. It will remain in this state until the update is complete.",
            "The resource has been marked for creation by the user. It will remain in this state until the creation is complete.",
            "The resource is in an INTERNAL error state."
          ],
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED",
            "UPDATING",
            "CREATING",
            "FAILED"
          ]
        },
        "createTime": {
          "description": "Output only. The creation timestamp of the bucket. This is not set for any of the default buckets.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "LogBucket",
      "type": "object"
    },
    "AppHubApplication": {
      "description": "Resource identifiers associated with an AppHub application AppHub resources are of the form projects//locations//applications/ projects//locations//applications//services/ projects//locations//applications//workloads/ These resources can be reconstructed from the components below.",
      "properties": {
        "container": {
          "type": "string",
          "description": "Resource container that owns the application. Example: \"projects/management_project\""
        },
        "location": {
          "type": "string",
          "description": "Location associated with the Application. Example: \"us-east1\""
        },
        "id": {
          "description": "Application Id. Example: \"my-app\"",
          "type": "string"
        }
      },
      "id": "AppHubApplication",
      "type": "object"
    },
    "Explicit": {
      "id": "Explicit",
      "type": "object",
      "description": "Specifies a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 <= i < N-1): boundsi Lower bound (1 <= i < N); boundsi - 1The bounds field must contain at least one element. If bounds has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "properties": {
        "bounds": {
          "description": "The values must be monotonically increasing.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for SetIamPolicy method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\""
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "BigQueryOptions": {
      "description": "Options that change functionality of a sink exporting data to BigQuery.",
      "properties": {
        "usesTimestampColumnPartitioning": {
          "type": "boolean",
          "description": "Output only. True if new timestamp column based partitioning is in use, false if legacy ingress-time partitioning is in use.All new sinks will have this field set true and will use timestamp column based partitioning. If use_partitioned_tables is false, this value has no meaning and will be false. Legacy sinks using partitioned tables will have this field set to false.",
          "readOnly": true
        },
        "usePartitionedTables": {
          "type": "boolean",
          "description": "Optional. Whether to use BigQuery's partition tables (https://docs.cloud.google.com/bigquery/docs/partitioned-tables). By default, Cloud Logging creates dated tables based on the log entries' timestamps, e.g. syslog_20170523. With partitioned tables the date suffix is no longer present and special query syntax (https://docs.cloud.google.com/bigquery/docs/querying-partitioned-tables) has to be used instead. In both cases, tables are sharded based on UTC timezone."
        }
      },
      "id": "BigQueryOptions",
      "type": "object"
    },
    "ListRecentQueriesResponse": {
      "id": "ListRecentQueriesResponse",
      "type": "object",
      "description": "The response from ListRecentQueries.",
      "properties": {
        "unreachable": {
          "description": "The unreachable resources. Each resource can be either 1) a saved query if a specific query is unreachable or 2) a location if a specific location is unreachable. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/recentQueries/[QUERY_ID]\" \"projects/[PROJECT_ID]/locations/[LOCATION_ID]\" For example:\"projects/my-project/locations/global/recentQueries/12345678\" \"projects/my-project/locations/global\"If there are unreachable resources, the response will first return pages that contain recent queries, and then return pages that contain the unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        },
        "recentQueries": {
          "description": "A list of recent queries.",
          "type": "array",
          "items": {
            "$ref": "RecentQuery"
          }
        }
      }
    },
    "Settings": {
      "description": "Describes the settings associated with a project, folder, organization, or billing account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the settings.",
          "readOnly": true
        },
        "defaultSinkConfig": {
          "$ref": "DefaultSinkConfig",
          "description": "Optional. Overrides the built-in configuration for _Default sink."
        },
        "kmsKeyName": {
          "description": "Optional. The resource name for the configured Cloud KMS key.KMS key name format: \"projects/[PROJECT_ID]/locations/[LOCATION]/keyRings/[KEYRING]/cryptoKeys/[KEY]\" For example:\"projects/my-project/locations/us-central1/keyRings/my-ring/cryptoKeys/my-key\"To enable CMEK, set this field to a valid kms_key_name for which the associated service account has the required roles/cloudkms.cryptoKeyEncrypterDecrypter role assigned for the key.The Cloud KMS key used by the Log Router can be updated by changing the kms_key_name to a new valid key name.To disable CMEK for the Log Router, set this field to an empty string.See Configure CMEK for Cloud Logging (https://docs.cloud.google.com/logging/docs/routing/managed-encryption) for more information.",
          "type": "string"
        },
        "disableDefaultSink": {
          "type": "boolean",
          "description": "Optional. If set to true, the _Default sink in newly created projects and folders will created in a disabled state. This can be used to automatically disable log storage if there is already an aggregated sink configured in the hierarchy. The _Default sink can be re-enabled manually if needed."
        },
        "storageLocation": {
          "type": "string",
          "description": "Optional. The storage location for the _Default and _Required log buckets of newly created projects and folders, unless the storage location is explicitly provided.Example value: europe-west1.Note: this setting does not affect the location of resources where a location is explicitly provided when created, such as custom log buckets."
        },
        "loggingServiceAccountId": {
          "type": "string",
          "description": "Output only. The service account for the given resource container, such as project or folder. Log sinks use this service account as their writer_identity if no custom service account is provided in the request when calling the create sink method.",
          "readOnly": true
        },
        "kmsServiceAccountId": {
          "description": "Output only. The service account that will be used by the Log Router to access your Cloud KMS key.Before enabling CMEK, you must first assign the role roles/cloudkms.cryptoKeyEncrypterDecrypter to the service account that will be used to access your Cloud KMS key. Use GetSettings to obtain the service account ID.See Configure CMEK for Cloud Logging (https://docs.cloud.google.com/logging/docs/routing/managed-encryption) for more information.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Settings",
      "type": "object"
    },
    "SortOrderParameter": {
      "description": "A sort order for a query based on a column.",
      "properties": {
        "fieldSource": {
          "description": "The field to sort on. Can be one of the FieldSource types: field name, alias ref, variable ref, or a literal value.",
          "$ref": "FieldSource"
        },
        "sortOrderDirection": {
          "description": "The sort order to use for the query.",
          "enumDescriptions": [
            "Invalid value, do not use.",
            "No sorting will be applied. This is used to determine if the query is in pass thru mode. To correctly chart a query in pass thru mode, NONE will need to be sent",
            "The lowest-valued entries will be selected.",
            "The highest-valued entries will be selected."
          ],
          "type": "string",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "SORT_ORDER_NONE",
            "SORT_ORDER_ASCENDING",
            "SORT_ORDER_DESCENDING"
          ]
        }
      },
      "id": "SortOrderParameter",
      "type": "object"
    },
    "BucketMetadata": {
      "id": "BucketMetadata",
      "type": "object",
      "description": "Metadata for LongRunningUpdateBucket Operations.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The create time of an operation."
        },
        "state": {
          "description": "Output only. State of an operation.",
          "readOnly": true,
          "enumDescriptions": [
            "Should not be used.",
            "The operation is scheduled.",
            "Waiting for necessary permissions.",
            "The operation is running.",
            "The operation was completed successfully.",
            "The operation failed.",
            "The operation was cancelled by the user.",
            "The operation is waiting for quota."
          ],
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_SCHEDULED",
            "OPERATION_STATE_WAITING_FOR_PERMISSIONS",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED",
            "OPERATION_STATE_CANCELLED",
            "OPERATION_STATE_PENDING"
          ]
        },
        "updateBucketRequest": {
          "description": "LongRunningUpdateBucket RPC request.",
          "$ref": "UpdateBucketRequest"
        },
        "createBucketRequest": {
          "$ref": "CreateBucketRequest",
          "description": "LongRunningCreateBucket RPC request."
        },
        "endTime": {
          "description": "The end time of an operation.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListViewsResponse": {
      "description": "The response from ListViews.",
      "properties": {
        "views": {
          "description": "A list of views.",
          "type": "array",
          "items": {
            "$ref": "LogView"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        }
      },
      "id": "ListViewsResponse",
      "type": "object"
    },
    "CopyLogEntriesMetadata": {
      "id": "CopyLogEntriesMetadata",
      "type": "object",
      "description": "Metadata for CopyLogEntries long running operations.",
      "properties": {
        "request": {
          "$ref": "CopyLogEntriesRequest",
          "description": "CopyLogEntries RPC request. This field is deprecated and not used.",
          "deprecated": true
        },
        "progress": {
          "description": "Estimated progress of the operation (0 - 100%).",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The create time of an operation."
        },
        "writerIdentity": {
          "description": "The IAM identity of a service account that must be granted access to the destination.If the service account is not granted permission to the destination within an hour, the operation will be cancelled.For example: \"serviceAccount:foo@bar.com\"",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. State of an operation.",
          "readOnly": true,
          "enumDescriptions": [
            "Should not be used.",
            "The operation is scheduled.",
            "Waiting for necessary permissions.",
            "The operation is running.",
            "The operation was completed successfully.",
            "The operation failed.",
            "The operation was cancelled by the user.",
            "The operation is waiting for quota."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_SCHEDULED",
            "OPERATION_STATE_WAITING_FOR_PERMISSIONS",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED",
            "OPERATION_STATE_CANCELLED",
            "OPERATION_STATE_PENDING"
          ]
        },
        "source": {
          "description": "Source from which to copy log entries.For example, a log bucket:\"projects/my-project/locations/global/buckets/my-source-bucket\"",
          "type": "string"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.For example,\"copy\"",
          "type": "string"
        },
        "endTime": {
          "description": "The end time of an operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "cancellationRequested": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation."
        },
        "destination": {
          "description": "Destination to which to copy log entries.For example, a Cloud Storage bucket:\"storage.googleapis.com/my-cloud-storage-bucket\"",
          "type": "string"
        }
      }
    },
    "CmekSettings": {
      "id": "CmekSettings",
      "type": "object",
      "description": "Describes the customer-managed encryption key (CMEK) settings associated with a project, folder, organization, billing account, or flexible resource.Note: CMEK for the Log Router can currently only be configured for Google Cloud organizations. Once configured, it applies to all projects and folders in the Google Cloud organization.See Configure CMEK for Cloud Logging (https://docs.cloud.google.com/logging/docs/routing/managed-encryption) for more information.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the CMEK settings.",
          "readOnly": true
        },
        "kmsKeyVersionName": {
          "description": "Output only. The CryptoKeyVersion resource name for the configured Cloud KMS key.KMS key name format: \"projects/[PROJECT_ID]/locations/[LOCATION]/keyRings/[KEYRING]/cryptoKeys/[KEY]/cryptoKeyVersions/[VERSION]\" For example:\"projects/my-project/locations/us-central1/keyRings/my-ring/cryptoKeys/my-key/cryptoKeyVersions/1\"This is a read-only field used to convey the specific configured CryptoKeyVersion of kms_key that has been configured. It will be populated in cases where the CMEK settings are bound to a single key version.If this field is populated, the kms_key is tied to a specific CryptoKeyVersion.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccountId": {
          "description": "Output only. The service account that will be used by the Log Router to access your Cloud KMS key.Before enabling CMEK for Log Router, you must first assign the cloudkms.cryptoKeyEncrypterDecrypter role to the service account that the Log Router will use to access your Cloud KMS key. Use GetCmekSettings to obtain the service account ID.See Configure CMEK for Cloud Logging (https://docs.cloud.google.com/logging/docs/routing/managed-encryption) for more information.",
          "readOnly": true,
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Optional. The resource name for the configured Cloud KMS key.KMS key name format: \"projects/[PROJECT_ID]/locations/[LOCATION]/keyRings/[KEYRING]/cryptoKeys/[KEY]\" For example:\"projects/my-project/locations/us-central1/keyRings/my-ring/cryptoKeys/my-key\"To enable CMEK for the Log Router, set this field to a valid kms_key_name for which the associated service account has the needed cloudkms.cryptoKeyEncrypterDecrypter roles assigned for the key.The Cloud KMS key used by the Log Router can be updated by changing the kms_key_name to a new valid key name or disabled by setting the key name to an empty string. Encryption operations that are in progress will be completed with the key that was in use when they started. Decryption operations will be completed using the key that was used at the time of encryption unless access to that key has been revoked.To disable CMEK for the Log Router, set this field to an empty string.See Configure CMEK for Cloud Logging (https://docs.cloud.google.com/logging/docs/routing/managed-encryption) for more information.",
          "type": "string"
        }
      }
    },
    "SourceReference": {
      "description": "A reference to a particular snapshot of the source tree used to build and deploy an application.",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Optional. A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\""
        },
        "revisionId": {
          "type": "string",
          "description": "The canonical and persistent identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\""
        }
      },
      "id": "SourceReference",
      "type": "object"
    },
    "MetricDescriptor": {
      "description": "Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type's existing data unusable.",
      "properties": {
        "unit": {
          "description": "The units in which the metric value is reported. It is only applicable if the value_type is INT64, DOUBLE, or DISTRIBUTION. The unit defines the representation of the stored metric values.Different systems might scale the values to be more easily displayed (so a value of 0.02kBy might be displayed as 20By, and a value of 3523kBy might be displayed as 3.5MBy). However, if the unit is kBy, then the value of the metric is always in thousands of bytes, no matter how it might be displayed.If you want a custom metric to record the exact number of CPU-seconds used by a job, you can create an INT64 CUMULATIVE metric whose unit is s{CPU} (or equivalently 1s{CPU} or just s). If the job uses 12,005 CPU-seconds, then the value is written as 12005.Alternatively, if you want a custom metric to record data in a more granular way, you can create a DOUBLE CUMULATIVE metric whose unit is ks{CPU}, and then write the value 12.005 (which is 12005/1000), or use Kis{CPU} and write 11.723 (which is 12005/1024).The supported units are a subset of The Unified Code for Units of Measure (https://unitsofmeasure.org/ucum.html) standard:Basic units (UNIT) bit bit By byte s second min minute h hour d day 1 dimensionlessPrefixes (PREFIX) k kilo (10^3) M mega (10^6) G giga (10^9) T tera (10^12) P peta (10^15) E exa (10^18) Z zetta (10^21) Y yotta (10^24) m milli (10^-3) u micro (10^-6) n nano (10^-9) p pico (10^-12) f femto (10^-15) a atto (10^-18) z zepto (10^-21) y yocto (10^-24) Ki kibi (2^10) Mi mebi (2^20) Gi gibi (2^30) Ti tebi (2^40) Pi pebi (2^50)GrammarThe grammar also includes these connectors: / division or ratio (as an infix operator). For examples, kBy/{email} or MiBy/10ms (although you should almost never have /s in a metric unit; rates should always be computed at query time from the underlying cumulative or delta value). . multiplication or composition (as an infix operator). For examples, GBy.d or k{watt}.h.The grammar for a unit is as follows: Expression = Component { \".\" Component } { \"/\" Component } ; Component = ( [ PREFIX ] UNIT | \"%\" ) [ Annotation ] | Annotation | \"1\" ; Annotation = \"{\" NAME \"}\" ; Notes: Annotation is just a comment if it follows a UNIT. If the annotation is used alone, then the unit is equivalent to 1. For examples, {request}/s == 1/s, By{transmitted}/s == By/s. NAME is a sequence of non-blank printable ASCII characters not containing { or }. 1 represents a unitary dimensionless unit (https://en.wikipedia.org/wiki/Dimensionless_quantity) of 1, such as in 1/s. It is typically used when none of the basic units are appropriate. For example, \"new users per day\" can be represented as 1/d or {new-users}/d (and a metric value 5 would mean \"5 new users). Alternatively, \"thousands of page views per day\" would be represented as 1000/d or k1/d or k{page_views}/d (and a metric value of 5.3 would mean \"5300 page views per day\"). % represents dimensionless value of 1/100, and annotates values giving a percentage (so the metric values are typically in the range of 0..100, and a metric value 3 means \"3 percent\"). 10^2.% indicates a metric contains a ratio, typically in the range 0..1, that will be multiplied by 100 and displayed as a percentage (so a metric value 0.03 means \"3 percent\").",
          "type": "string"
        },
        "monitoredResourceTypes": {
          "description": "Read-only. If present, then a time series, which is identified partially by a metric type and a MonitoredResourceDescriptor, that is associated with this metric type can only be associated with one of the monitored resource types listed here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "The set of labels that can be used to describe a specific instance of this metric type. For example, the appengine.googleapis.com/http/server/response_latencies metric type has a label for the HTTP response code, response_code, so you can look at latencies for successful responses or just for responses that failed.",
          "type": "array",
          "items": {
            "$ref": "LabelDescriptor"
          }
        },
        "metadata": {
          "$ref": "MetricDescriptorMetadata",
          "description": "Optional. Metadata which can be used to guide usage of the metric."
        },
        "launchStage": {
          "description": "Optional. The launch stage of the metric definition.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "name": {
          "description": "The resource name of the metric descriptor.",
          "type": "string"
        },
        "metricKind": {
          "description": "Whether the metric records instantaneous values, changes to a value, etc. Some combinations of metric_kind and value_type might not be supported.",
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "type": "string",
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ]
        },
        "valueType": {
          "description": "Whether the measurement is an integer, a floating-point number, etc. Some combinations of metric_kind and value_type might not be supported.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is GAUGE.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is GAUGE.",
            "The value is a Distribution.",
            "The value is money."
          ],
          "type": "string",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ]
        },
        "type": {
          "description": "The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined metric types have the DNS name custom.googleapis.com or external.googleapis.com. Metric types should use a natural hierarchical grouping. For example: \"custom.googleapis.com/invoice/paid/amount\" \"external.googleapis.com/prometheus/up\" \"appengine.googleapis.com/http/server/response_latencies\" ",
          "type": "string"
        },
        "displayName": {
          "description": "A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example \"Request count\". This field is optional but it is recommended to be set for any metrics associated with user-visible concepts, such as Quota.",
          "type": "string"
        },
        "description": {
          "description": "A detailed description of the metric, which can be used in documentation.",
          "type": "string"
        }
      },
      "id": "MetricDescriptor",
      "type": "object"
    },
    "MonitoredResourceMetadata": {
      "id": "MonitoredResourceMetadata",
      "type": "object",
      "description": "Auxiliary metadata for a MonitoredResource object. MonitoredResource objects contain the minimum set of information to uniquely identify a monitored resource instance. There is some other useful auxiliary metadata. Monitoring and Logging use an ingestion pipeline to extract metadata for cloud resources of all types, and store the metadata in this message.",
      "properties": {
        "userLabels": {
          "type": "object",
          "description": "Output only. A map of user-defined metadata labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "systemLabels": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. Values for predefined system metadata labels. System labels are a kind of metadata extracted by Google, including \"machine_image\", \"vpc\", \"subnet_id\", \"security_group\", \"name\", etc. System label values can be only strings, Boolean values, or a list of strings. For example: { \"name\": \"my-test-instance\", \"security_group\": [\"a\", \"b\", \"c\"], \"spot_instance\": false } ",
          "type": "object"
        }
      }
    },
    "LogErrorGroup": {
      "id": "LogErrorGroup",
      "type": "object",
      "description": "Contains metadata that associates the LogEntry to Error Reporting error groups.",
      "properties": {
        "id": {
          "description": "The id is a unique identifier for a particular error group; it is the last part of the error group resource name: /project/[PROJECT_ID]/errors/[ERROR_GROUP_ID]. Example: COShysOX0r_51QE. The id is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see Google Cloud Privacy Notice (https://cloud.google.com/terms/cloud-privacy-notice).",
          "type": "string"
        }
      }
    },
    "LocationMetadata": {
      "description": "Cloud Logging specific location metadata.",
      "properties": {
        "logAnalyticsEnabled": {
          "type": "boolean",
          "description": "Indicates whether or not Log Analytics features are supported in the given location."
        }
      },
      "id": "LocationMetadata",
      "type": "object"
    },
    "LogEntrySourceLocation": {
      "id": "LogEntrySourceLocation",
      "type": "object",
      "description": "Additional information about the source code location that produced the log entry.",
      "properties": {
        "line": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Line within the source file. 1-based; 0 indicates no line number available."
        },
        "file": {
          "description": "Optional. Source file name. Depending on the runtime environment, this might be a simple name or a fully-qualified name.",
          "type": "string"
        },
        "function": {
          "type": "string",
          "description": "Optional. Human-readable name of the function or method being invoked, with optional context such as the class or package name. This information may be used in contexts such as the logs viewer, where a file and line number are less meaningful. The format can vary by language. For example: qual.if.ied.Class.method (Java), dir/package.func (Go), function (Python)."
        }
      }
    },
    "Link": {
      "description": "Describes a link connected to an analytics enabled bucket.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of the link.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the link. The name can have up to 100 characters. A valid link id (at the end of the link name) must only have alphanumeric characters and underscores within it. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" For example:`projects/my-project/locations/global/buckets/my-bucket/links/my_link",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Describes this link.The maximum length of the description is 8000 characters."
        },
        "lifecycleState": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED",
            "UPDATING",
            "CREATING",
            "FAILED"
          ],
          "description": "Output only. The resource lifecycle state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The resource has been marked for deletion by the user. For some resources (e.g. buckets), this can be reversed by an un-delete operation.",
            "The resource has been marked for an update by the user. It will remain in this state until the update is complete.",
            "The resource has been marked for creation by the user. It will remain in this state until the creation is complete.",
            "The resource is in an INTERNAL error state."
          ],
          "type": "string"
        },
        "bigqueryDataset": {
          "$ref": "BigQueryDataset",
          "description": "Optional. The information of a BigQuery Dataset. When a link is created, a BigQuery dataset is created along with it, in the same project as the LogBucket it's linked to. This dataset will also have BigQuery Views corresponding to the LogViews in the bucket."
        }
      },
      "id": "Link",
      "type": "object"
    },
    "LogMetric": {
      "description": "Describes a logs-based metric. The value of the metric is the number of log entries that match a logs filter in a given time interval.Logs-based metrics can also be used to extract values from logs and create a distribution of the values. The distribution records the statistics of the extracted values along with an optional histogram of the values as specified by the bucket options.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of the metric.This field may not be present for older metrics.",
          "readOnly": true
        },
        "version": {
          "enum": [
            "V2",
            "V1"
          ],
          "description": "Deprecated. The API version that created or updated this metric. The v2 format is used by default and cannot be changed.",
          "enumDescriptions": [
            "Logging API v2.",
            "Logging API v1."
          ],
          "deprecated": true,
          "type": "string"
        },
        "metricDescriptor": {
          "$ref": "MetricDescriptor",
          "description": "Optional. The metric descriptor associated with the logs-based metric. If unspecified, it uses a default metric descriptor with a DELTA metric kind, INT64 value type, with no labels and a unit of \"1\". Such a metric counts the number of log entries matching the filter expression.The name, type, and description fields in the metric_descriptor are output only, and is constructed using the name and description field in the LogMetric.To create a logs-based metric that records a distribution of log values, a DELTA metric kind with a DISTRIBUTION value type must be used along with a value_extractor expression in the LogMetric.Each label in the metric descriptor must have a matching label name as the key and an extractor expression as the value in the label_extractors map.The metric_kind and value_type fields in the metric_descriptor cannot be updated once initially configured. New labels can be added in the metric_descriptor, but existing labels cannot be modified except for their description."
        },
        "bucketName": {
          "type": "string",
          "description": "Optional. The resource name of the Log Bucket that owns the Log Metric. Only Log Buckets in projects are supported. The bucket has to be in the same project as the metric.For example:projects/my-project/locations/global/buckets/my-bucketIf empty, then the Log Metric is considered a non-Bucket Log Metric."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. If set to True, then this metric is disabled and it does not generate any points."
        },
        "bucketOptions": {
          "$ref": "BucketOptions",
          "description": "Optional. The bucket_options are required when the logs-based metric is using a DISTRIBUTION value type and it describes the bucket boundaries used to create a histogram of the extracted values."
        },
        "filter": {
          "description": "Required. An advanced logs filter (https://cloud.google.com/logging/docs/view/advanced_filters) which is used to match log entries. Example: \"resource.type=gae_app AND severity>=ERROR\" The maximum length of the filter is 20000 characters.",
          "type": "string"
        },
        "valueExtractor": {
          "type": "string",
          "description": "Optional. A value_extractor is required when using a distribution logs-based metric to extract the values to record from a log entry. Two functions are supported for value extraction: EXTRACT(field) or REGEXP_EXTRACT(field, regex). The arguments are: field: The name of the log entry field from which the value is to be extracted. regex: A regular expression using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax) with a single capture group to extract data from the specified log entry field. The value of the field is converted to a string before applying the regex. It is an error to specify a regex that does not include exactly one capture group.The result of the extraction must be convertible to a double type, as the distribution always records double values. If either the extraction or the conversion to double fails, then those values are not recorded in the distribution.Example: REGEXP_EXTRACT(jsonPayload.request, \".*quantity=(\\d+).*\")"
        },
        "description": {
          "description": "Optional. A description of this metric, which is used in documentation. The maximum length of the description is 8000 characters.",
          "type": "string"
        },
        "name": {
          "description": "Required. The client-assigned metric identifier. Examples: \"error_count\", \"nginx/requests\".Metric identifiers are limited to 100 characters and can include only the following characters: A-Z, a-z, 0-9, and the special characters _-.,+!*',()%/. The forward-slash character (/) denotes a hierarchy of name pieces, and it cannot be the first character of the name.This field is the [METRIC_ID] part of a metric resource name in the format \"projects/PROJECT_ID/metrics/METRIC_ID\". Example: If the resource name of a metric is \"projects/my-project/metrics/nginx%2Frequests\", this field's value is \"nginx/requests\".",
          "type": "string"
        },
        "labelExtractors": {
          "type": "object",
          "description": "Optional. A map from a label key string to an extractor expression which is used to extract data from a log entry field and assign as the label value. Each label key specified in the LabelDescriptor must have an associated extractor expression in this map. The syntax of the extractor expression is the same as for the value_extractor field.The extracted value is converted to the type defined in the label descriptor. If either the extraction or the type conversion fails, the label will have a default value. The default value for a string label is an empty string, for an integer label its 0, and for a boolean label its false.Note that there are upper bounds on the maximum number of labels and the number of active time series that are allowed in a project.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of the metric.This field may not be present for older metrics.",
          "readOnly": true
        },
        "resourceName": {
          "description": "Output only. The resource name of the metric: \"projects/[PROJECT_ID]/metrics/[METRIC_ID]\" ",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "LogMetric",
      "type": "object"
    },
    "LoggingQuery": {
      "description": "Describes a Cloud Logging query that can be run in Logs Explorer UI or via the logging API.In addition to the query itself, additional information may be stored to capture the display configuration and other UI state used in association with analysis of query results.",
      "properties": {
        "summaryFields": {
          "description": "Optional. The set of summary fields to display for this saved query.",
          "type": "array",
          "items": {
            "$ref": "SummaryField"
          }
        },
        "summaryFieldStart": {
          "description": "Characters will be counted from the start of the string.",
          "type": "integer",
          "format": "int32"
        },
        "filter": {
          "description": "Required. An advanced query using the Logging Query Language (https://docs.cloud.google.com/logging/docs/view/logging-query-language). The maximum length of the filter is 20000 characters.",
          "type": "string"
        },
        "summaryFieldEnd": {
          "type": "integer",
          "format": "int32",
          "description": "Characters will be counted from the end of the string."
        }
      },
      "id": "LoggingQuery",
      "type": "object"
    },
    "RecentQuery": {
      "description": "Describes a recent query executed on the Logs Explorer or Log Analytics page within the last ~ 30 days.",
      "properties": {
        "loggingQuery": {
          "description": "Logging query that can be executed in Logs Explorer or via Logging API.",
          "$ref": "LoggingQuery"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the recent query.In the format: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/recentQueries/[QUERY_ID]\" For a list of supported locations, see Supported Regions (https://docs.cloud.google.com/logging/docs/region-support)The QUERY_ID is a system generated alphanumeric ID.",
          "readOnly": true
        },
        "lastRunTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this query was last run.",
          "readOnly": true
        },
        "opsAnalyticsQuery": {
          "$ref": "OpsAnalyticsQuery",
          "description": "Analytics query that can be executed in Log Analytics."
        }
      },
      "id": "RecentQuery",
      "type": "object"
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions",
      "type": "object"
    },
    "FilterPredicate": {
      "description": "A filter for a query. This equates to the WHERE clause in SQL.",
      "properties": {
        "leafPredicate": {
          "$ref": "FilterExpression",
          "description": "The leaves of the filter predicate. This equates to the last leaves of the filter predicate associated with an operator."
        },
        "childPredicates": {
          "description": "The children of the filter predicate. This equates to the branches of the filter predicate that could contain further nested leaves.",
          "type": "array",
          "items": {
            "$ref": "FilterPredicate"
          }
        },
        "operatorType": {
          "description": "The operator type for the filter. Currently there is no support for multiple levels of nesting, so this will be a single value with no joining of different operator types",
          "enumDescriptions": [
            "Invalid value, do not use.",
            "AND will be the default operator type.",
            "OR operator type.",
            "LEAF operator type."
          ],
          "type": "string",
          "enum": [
            "OPERATOR_TYPE_UNSPECIFIED",
            "AND",
            "OR",
            "LEAF"
          ]
        }
      },
      "id": "FilterPredicate",
      "type": "object"
    },
    "CopyLogEntriesResponse": {
      "description": "Response type for CopyLogEntries long running operations.",
      "properties": {
        "logEntriesCopiedCount": {
          "description": "Number of log entries copied.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CopyLogEntriesResponse",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: \"us-east1\"."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "id": "Location",
      "type": "object"
    },
    "MonitoredResourceDescriptor": {
      "description": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of \"gce_instance\" and specifies the use of the labels \"instance_id\" and \"zone\" to identify particular VM instances.Different APIs can support different monitored resource types. APIs generally provide a list method that returns the monitored resource descriptors used by the API.",
      "properties": {
        "name": {
          "description": "Optional. The resource name of the monitored resource descriptor: \"projects/{project_id}/monitoredResourceDescriptors/{type}\" where {type} is the value of the type field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format \"monitoredResourceDescriptors/{type}\".",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "LabelDescriptor"
          },
          "description": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels \"database_id\" and \"zone\"."
        },
        "description": {
          "type": "string",
          "description": "Optional. A detailed description of the monitored resource type that might be used in documentation."
        },
        "launchStage": {
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "Optional. The launch stage of the monitored resource definition.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ]
        },
        "type": {
          "type": "string",
          "description": "Required. The monitored resource type. For example, the type \"cloudsql_database\" represents databases in Google Cloud SQL. For a list of types, see Monitored resource types (https://cloud.google.com/monitoring/api/resources) and Logging resource types (https://cloud.google.com/logging/docs/api/v2/resource-list)."
        },
        "displayName": {
          "description": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, \"Google Cloud SQL Database\".",
          "type": "string"
        }
      },
      "id": "MonitoredResourceDescriptor",
      "type": "object"
    },
    "SummaryField": {
      "id": "SummaryField",
      "type": "object",
      "description": "A field from the LogEntry that is added to the summary line (https://docs.cloud.google.com/logging/docs/view/logs-explorer-interface#preferences) for a query in the Logs Explorer.",
      "properties": {
        "field": {
          "description": "Optional. The field from the LogEntry to include in the summary line, for example resource.type or jsonPayload.name.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy."
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Policy",
      "type": "object"
    },
    "TailLogEntriesResponse": {
      "id": "TailLogEntriesResponse",
      "type": "object",
      "description": "Result returned from TailLogEntries.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          },
          "description": "A list of log entries. Each response in the stream will order entries with increasing values of LogEntry.timestamp. Ordering is not guaranteed between separate responses."
        },
        "suppressionInfo": {
          "description": "If entries that otherwise would have been included in the session were not sent back to the client, counts of relevant entries omitted from the session with the reason that they were not included. There will be at most one of each reason per response. The counts represent the number of suppressed entries since the last streamed response.",
          "type": "array",
          "items": {
            "$ref": "SuppressionInfo"
          }
        }
      }
    },
    "ListMonitoredResourceDescriptorsResponse": {
      "description": "Result returned from ListMonitoredResourceDescriptors.",
      "properties": {
        "resourceDescriptors": {
          "type": "array",
          "items": {
            "$ref": "MonitoredResourceDescriptor"
          },
          "description": "A list of resource descriptors."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken.",
          "type": "string"
        }
      },
      "id": "ListMonitoredResourceDescriptorsResponse",
      "type": "object"
    },
    "CreateBucketRequest": {
      "description": "The parameters to CreateBucket.",
      "properties": {
        "bucket": {
          "description": "Required. The new bucket. The region specified in the new bucket must be compliant with any Location Restriction Org Policy. The name field in the bucket is ignored.",
          "$ref": "LogBucket"
        },
        "parent": {
          "type": "string",
          "description": "Required. The resource in which to create the log bucket: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]\" For example:\"projects/my-project/locations/global\""
        },
        "bucketId": {
          "type": "string",
          "description": "Required. A client-assigned identifier such as \"my-bucket\". Identifiers are limited to 100 characters and can include only letters, digits, underscores, hyphens, and periods. Bucket identifiers must start with an alphanumeric character."
        }
      },
      "id": "CreateBucketRequest",
      "type": "object"
    },
    "ListExclusionsResponse": {
      "description": "Result returned from ListExclusions.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        },
        "exclusions": {
          "description": "A list of exclusions.",
          "type": "array",
          "items": {
            "$ref": "LogExclusion"
          }
        }
      },
      "id": "ListExclusionsResponse",
      "type": "object"
    },
    "ListSavedQueriesResponse": {
      "description": "The response from ListSavedQueries.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The unreachable resources. It can be either 1) a saved query if a specific query is unreachable or 2) a location if a specific location is unreachabe. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/savedQueries/[QUERY_ID]\" \"projects/[PROJECT_ID]/locations/[LOCATION_ID]\" For example: \"projects/my-project/locations/global/savedQueries/12345678\" \"projects/my-project/locations/global\" If there are unreachable resources, the response will first return pages that contain saved queries, and then return pages that contain the unreachable resources."
        },
        "savedQueries": {
          "description": "A list of saved queries.",
          "type": "array",
          "items": {
            "$ref": "SavedQuery"
          }
        }
      },
      "id": "ListSavedQueriesResponse",
      "type": "object"
    },
    "DeleteLinkRequest": {
      "description": "The parameters to DeleteLink.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The full resource name of the link to delete. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" "
        }
      },
      "id": "DeleteLinkRequest",
      "type": "object"
    },
    "ListBucketsResponse": {
      "id": "ListBucketsResponse",
      "type": "object",
      "description": "The response from ListBuckets.",
      "properties": {
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "LogBucket"
          },
          "description": "A list of buckets."
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        }
      }
    },
    "AppHubService": {
      "description": "Metadata associated with an App Hub service.",
      "properties": {
        "criticalityType": {
          "type": "string",
          "description": "Service criticality type Example: \"CRITICAL\""
        },
        "environmentType": {
          "type": "string",
          "description": "Service environment type Example: \"DEV\""
        },
        "id": {
          "type": "string",
          "description": "Service Id. Example: \"my-service\""
        }
      },
      "id": "AppHubService",
      "type": "object"
    },
    "AppHubWorkload": {
      "id": "AppHubWorkload",
      "type": "object",
      "description": "Metadata associated with an App Hub workload.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Workload Id. Example: \"my-workload\""
        },
        "environmentType": {
          "description": "Workload environment type Example: \"DEV\"",
          "type": "string"
        },
        "criticalityType": {
          "type": "string",
          "description": "Workload criticality type Example: \"CRITICAL\""
        }
      }
    },
    "WriteLogEntriesResponse": {
      "id": "WriteLogEntriesResponse",
      "type": "object",
      "description": "Result returned from WriteLogEntries.",
      "properties": {}
    },
    "MetricDescriptorMetadata": {
      "description": "Additional annotations that can be used to guide the usage of a metric.",
      "properties": {
        "launchStage": {
          "description": "Deprecated. Must use the MetricDescriptor.launch_stage instead.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "samplePeriod": {
          "description": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period.",
          "type": "string",
          "format": "google-duration"
        },
        "ingestDelay": {
          "description": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors.",
          "type": "string",
          "format": "google-duration"
        },
        "timeSeriesResourceHierarchyLevel": {
          "description": "The scope of the timeseries data of the metric.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED",
              "PROJECT",
              "ORGANIZATION",
              "FOLDER"
            ],
            "enumDescriptions": [
              "Do not use this default value.",
              "Scopes a metric to a project.",
              "Scopes a metric to an organization.",
              "Scopes a metric to a folder."
            ]
          }
        }
      },
      "id": "MetricDescriptorMetadata",
      "type": "object"
    },
    "LogEntry": {
      "description": "An individual entry in a log.",
      "properties": {
        "spanId": {
          "type": "string",
          "description": "Optional. The ID of the Cloud Trace (https://docs.cloud.google.com/trace/docs) span associated with the current operation in which the log is being written.A Span (https://docs.cloud.google.com/trace/docs/reference/v2/rest/v2/projects.traces/batchWrite#Span) represents a single operation within a trace. Whereas a trace may involve multiple different microservices running on multiple different machines, a span generally corresponds to a single logical operation being performed in a single instance of a microservice on one specific machine. Spans are the nodes within the tree that is a trace.Applications that are instrumented for tracing (https://docs.cloud.google.com/trace/docs/setup) will generally assign a new, unique span ID on each incoming request. It is also common to create and record additional spans corresponding to internal processing elements as well as issuing requests to dependencies.The span ID is expected to be a 16-character, hexadecimal encoding of an 8-byte array and should not be zero. It should be unique within the trace and should, ideally, be generated in a manner that is uniformly random.Example values: 000000000000004a 7a2190356c3fc94b 0000f00300090021 d39223e101960076"
        },
        "otel": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The structured OpenTelemetry protocol payload. Contains the OpenTelemetry Resource, Instrumentation Scope, and Entities attributes for this log as they are defined in the OTLP specification, and any other fields that do not have a direct analog in the LogEntry. See https://opentelemetry.io/docs/specs/otel/logs/data-model/",
          "type": "object"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time the event described by the log entry occurred. This time is used to compute the log entry's age and to enforce the logs retention period. If this field is omitted in a new log entry, then Logging assigns it the current time. Timestamps have nanosecond accuracy, but trailing zeros in the fractional seconds might be omitted when the timestamp is displayed."
        },
        "traceSampled": {
          "description": "Optional. The sampling decision of the span associated with the log entry at the time the log entry was created. This field corresponds to the sampled flag in the W3C trace-context specification (https://www.w3.org/TR/trace-context/#sampled-flag). A non-sampled trace value is still useful as a request correlation identifier. The default is False.",
          "type": "boolean"
        },
        "apphub": {
          "description": "Output only. AppHub application metadata associated with this LogEntry. May be empty if there is no associated AppHub application or multiple associated applications (such as for VPC flow logs)",
          "readOnly": true,
          "$ref": "AppHub"
        },
        "operation": {
          "$ref": "LogEntryOperation",
          "description": "Optional. Information about an operation associated with the log entry, if applicable."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of key, value pairs that provides additional information about the log entry. The labels can be user-defined or system-defined.User-defined labels are arbitrary key, value pairs that you can use to classify logs.System-defined labels are defined by cloud services for platform logs. They have two components - a service namespace component and the attribute name. For example: compute.googleapis.com/resource_name.Cloud Logging truncates label keys that exceed 512 B and label values that exceed 64 KB upon their associated log entry being written. The truncation is indicated by an ellipsis at the end of the character string.",
          "type": "object"
        },
        "apphubSource": {
          "description": "Output only. AppHub application metadata associated with the source application. This is only populated if the log represented \"edge\"-like data (such as for VPC flow logs) with a source.",
          "readOnly": true,
          "$ref": "AppHub"
        },
        "resource": {
          "$ref": "MonitoredResource",
          "description": "Required. The monitored resource that produced this log entry.Example: a log entry that reports a database error would be associated with the monitored resource designating the particular database that reported the error."
        },
        "severity": {
          "description": "Optional. The severity of the log entry. The default value is LogSeverity.DEFAULT.",
          "enumDescriptions": [
            "(0) The log entry has no assigned severity level.",
            "(100) Debug or trace information.",
            "(200) Routine information, such as ongoing status or performance.",
            "(300) Normal but significant events, such as start up, shut down, or a configuration change.",
            "(400) Warning events might cause problems.",
            "(500) Error events are likely to cause problems.",
            "(600) Critical events cause more severe problems or outages.",
            "(700) A person must take an action immediately.",
            "(800) One or more systems are unusable."
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ]
        },
        "httpRequest": {
          "description": "Optional. Information about the HTTP request associated with this log entry, if applicable.",
          "$ref": "HttpRequest"
        },
        "sourceLocation": {
          "description": "Optional. Source code location information associated with the log entry, if any.",
          "$ref": "LogEntrySourceLocation"
        },
        "protoPayload": {
          "description": "The log entry payload, represented as a protocol buffer. Some Google Cloud Platform services use this field for their log entry payloads.The following protocol buffer types are supported; user-defined types are not supported:\"type.googleapis.com/google.cloud.audit.AuditLog\" \"type.googleapis.com/google.appengine.logging.v1.RequestLog\"",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "insertId": {
          "description": "Optional. A unique identifier for the log entry. If you provide a value, then Logging considers other log entries in the same project, with the same timestamp, and with the same insert_id to be duplicates which are removed in a single query result. However, there are no guarantees of de-duplication in the export of logs.If the insert_id is omitted when writing a log entry, the Logging API assigns its own unique identifier in this field.In queries, the insert_id is also used to order log entries that have the same log_name and timestamp values.",
          "type": "string"
        },
        "apphubDestination": {
          "$ref": "AppHub",
          "description": "Output only. AppHub application metadata associated with the destination application. This is only populated if the log represented \"edge\"-like data (such as for VPC flow logs) with a destination.",
          "readOnly": true
        },
        "metadata": {
          "deprecated": true,
          "description": "Output only. Deprecated. This field is not used by Logging. Any value written to it is cleared.",
          "readOnly": true,
          "$ref": "MonitoredResourceMetadata"
        },
        "split": {
          "$ref": "LogSplit",
          "description": "Optional. Information indicating this LogEntry is part of a sequence of multiple log entries split from a single LogEntry."
        },
        "logName": {
          "description": "Required. The resource name of the log to which this log entry belongs: \"projects/[PROJECT_ID]/logs/[LOG_ID]\" \"organizations/[ORGANIZATION_ID]/logs/[LOG_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID]\" \"folders/[FOLDER_ID]/logs/[LOG_ID]\" A project number may be used in place of PROJECT_ID. The project number is translated to its corresponding PROJECT_ID internally and the log_name field will contain PROJECT_ID in queries and exports.[LOG_ID] must be URL-encoded within log_name. Example: \"organizations/1234567890/logs/cloudresourcemanager.googleapis.com%2Factivity\".[LOG_ID] must be less than 512 characters long and can only include the following characters: upper and lower case alphanumeric characters, forward-slash, underscore, hyphen, and period.For backward compatibility, if log_name begins with a forward-slash, such as /projects/..., then the log entry is processed as usual, but the forward-slash is removed. Listing the log entry will not show the leading slash and filtering for a log name with a leading slash will never return any results.",
          "type": "string"
        },
        "receiveTimestamp": {
          "description": "Output only. The time the log entry was received by Logging.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "jsonPayload": {
          "description": "The log entry payload, represented as a structure that is expressed as a JSON object.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "textPayload": {
          "type": "string",
          "description": "The log entry payload, represented as a Unicode string (UTF-8)."
        },
        "trace": {
          "type": "string",
          "description": "Optional. The trace ID being written to Cloud Trace (https://docs.cloud.google.com/trace/docs) in association with this log entry. For example, if your trace data is stored in the Cloud project \"my-trace-project\" and if the service that is creating the log entry receives a trace header that includes the trace ID \"12345\", then the service should use \"12345\".The REST resource name of the trace is also supported, but using this format is not recommended. An example trace REST resource name is similar to \"projects/my-trace-project/traces/12345\".The trace field provides the link between logs and traces. By using this field, you can navigate from a log entry to a trace."
        },
        "errorGroups": {
          "type": "array",
          "items": {
            "$ref": "LogErrorGroup"
          },
          "description": "Output only. The Error Reporting (https://cloud.google.com/error-reporting) error groups associated with this LogEntry. Error Reporting sets the values for this field during error group creation.For more information, see View error details( https://cloud.google.com/error-reporting/docs/viewing-errors#view_error_details)This field isn't available during log routing (https://cloud.google.com/logging/docs/routing/overview)",
          "readOnly": true
        }
      },
      "id": "LogEntry",
      "type": "object"
    },
    "SavedQuery": {
      "description": "Describes a query that has been saved by a user.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A human readable description of the saved query."
        },
        "opsAnalyticsQuery": {
          "$ref": "OpsAnalyticsQuery",
          "description": "Analytics query that can be executed in Log Analytics."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user specified title for the SavedQuery."
        },
        "visibility": {
          "description": "Required. The visibility status of this query, which determines its ownership.",
          "enumDescriptions": [
            "The saved query visibility is unspecified. A CreateSavedQuery request with an unspecified visibility will be rejected.",
            "The saved query is only visible to the user that created it.",
            "The saved query is visible to anyone in the project."
          ],
          "type": "string",
          "enum": [
            "VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "SHARED"
          ]
        },
        "loggingQuery": {
          "description": "Logging query that can be executed in Logs Explorer or via Logging API.",
          "$ref": "LoggingQuery"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the saved query was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The timestamp when the saved query was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the saved query.In the format: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/savedQueries/[QUERY_ID]\" For a list of supported locations, see Supported Regions (https://docs.cloud.google.com/logging/docs/region-support#bucket-regions)After the saved query is created, the location cannot be changed.If the user doesn't provide a QUERY_ID, the system will generate an alphanumeric ID.",
          "readOnly": true
        }
      },
      "id": "SavedQuery",
      "type": "object"
    },
    "LabelDescriptor": {
      "description": "A description of a label.",
      "properties": {
        "description": {
          "description": "A human-readable description for the label.",
          "type": "string"
        },
        "key": {
          "description": "The label key.",
          "type": "string"
        },
        "valueType": {
          "description": "The type of data that can be assigned to the label.",
          "enumDescriptions": [
            "A variable-length string. This is the default.",
            "Boolean; true or false.",
            "A 64-bit signed integer."
          ],
          "type": "string",
          "enum": [
            "STRING",
            "BOOL",
            "INT64"
          ]
        }
      },
      "id": "LabelDescriptor",
      "type": "object"
    },
    "SuppressionInfo": {
      "description": "Information about entries that were omitted from the session.",
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "RATE_LIMIT",
            "NOT_CONSUMED"
          ],
          "description": "The reason that entries were omitted from the session.",
          "enumDescriptions": [
            "Unexpected default.",
            "Indicates suppression occurred due to relevant entries being received in excess of rate limits. For quotas and limits, see Logging API quotas and limits (https://docs.cloud.google.com/logging/quotas#api-limits).",
            "Indicates suppression occurred due to the client not consuming responses quickly enough."
          ]
        },
        "suppressedCount": {
          "description": "A lower bound on the count of entries omitted due to reason.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SuppressionInfo",
      "type": "object"
    },
    "LogScope": {
      "description": "Describes a group of resources to read log entries from.",
      "properties": {
        "resourceNames": {
          "description": "Required. Names of one or more parent resources (organizations and folders are not supported.): projects/[PROJECT_ID]May alternatively be one or more views: projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]A log scope can include a maximum of 5 projects and a maximum of 100 resources in total.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The creation timestamp of the log scope.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of the log scope.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The resource name of the log scope.Log scopes are only available in the global location. For example:projects/my-project/locations/global/logScopes/my-log-scope",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Describes this log scope.The maximum length of the description is 8000 characters.",
          "type": "string"
        }
      },
      "id": "LogScope",
      "type": "object"
    },
    "LogExclusion": {
[...]
