{
  "batchPath": "batch",
  "protocol": "rest",
  "version_module": true,
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "looker.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "looker.projects.locations.get"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "looker.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.operations.get"
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "looker.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "id": "looker.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "instances": {
              "methods": {
                "restart": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restart",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.instances.restart",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "RestartInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Restart instance.",
                  "path": "v1/{+name}:restart",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "restore": {
                  "id": "looker.projects.locations.instances.restore",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:restore",
                  "description": "Restore Looker instance.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Instance being restored Format: projects/{project}/locations/{location}/instances/{instance}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "looker.projects.locations.instances.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "instanceId": {
                      "description": "Required. The unique instance identifier. Must contain only lowercase letters, numbers, or hyphens, with the first character a letter and the last a letter or a number. 63 characters maximum.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/instances",
                  "description": "Creates a new Instance in a given project and location."
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of instances to return. If unspecified at most 256 will be returned. The maximum possible value is 2048.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token received from a previous ListInstancesRequest.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "path": "v1/{+parent}/instances",
                  "description": "Lists Instances in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "looker.projects.locations.instances.list"
                },
                "patch": {
                  "id": "looker.projects.locations.instances.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Update Instance.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Field mask used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Whether to force cascading delete."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "description": "Delete instance.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.instances.delete"
                },
                "export": {
                  "id": "looker.projects.locations.instances.export",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:export",
                  "description": "Export instance.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "ExportInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Instance.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Instance"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.instances.get"
                },
                "import": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.instances.import",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ImportInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Import instance.",
                  "path": "v1/{+name}:import"
                }
              },
              "resources": {
                "backups": {
                  "methods": {
                    "get": {
                      "path": "v1/{+name}",
                      "description": "",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "InstanceBackup"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}/backups/{backup}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "looker.projects.locations.instances.backups.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Delete backup.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "looker.projects.locations.instances.backups.delete"
                    },
                    "create": {
                      "id": "looker.projects.locations.instances.backups.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/backups",
                      "description": "Backup Looker instance.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "InstanceBackup"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "description": "List backups of Looker instance.",
                      "path": "v1/{+parent}/backups",
                      "response": {
                        "$ref": "ListInstanceBackupsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of instances to return.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token received from a previous ListInstances request."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Sort results. Default order is \"create_time desc\". Other supported fields are \"state\" and \"expire_time\". https://google.aip.dev/132#ordering"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "looker.projects.locations.instances.backups.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/looker/docs/reference/rest/",
  "canonicalName": "Looker",
  "title": "Looker (Google Cloud core) API",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://looker.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://looker.mtls.googleapis.com/",
  "id": "looker:v1",
  "baseUrl": "https://looker.googleapis.com/",
  "version": "v1",
  "servicePath": "",
  "schemas": {
    "ListInstancesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "type": "array",
          "description": "The list of instances matching the request filters, up to the requested ListInstancesRequest.pageSize."
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next ListInstancesRequest.pageSize results. If empty, the results list is exhausted.",
          "type": "string"
        }
      },
      "description": "Response from ListInstances.",
      "id": "ListInstancesResponse",
      "type": "object"
    },
    "RestartInstanceRequest": {
      "description": "Request options for restarting an instance.",
      "properties": {},
      "type": "object",
      "id": "RestartInstanceRequest"
    },
    "ExportMetadata": {
      "properties": {
        "lookerInstance": {
          "description": "Name of the exported instance. Format: projects/{project}/locations/{location}/instances/{instance}",
          "type": "string"
        },
        "filePaths": {
          "description": "List of files created as part of export artifact (excluding the metadata). The paths are relative to the folder containing the metadata.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lookerPlatformEdition": {
          "description": "Platform edition of the exported instance.",
          "type": "string"
        },
        "lookerEncryptionKey": {
          "description": "Looker encryption key, encrypted with the provided export encryption key. This value will only be populated if the looker instance uses Looker managed encryption instead of CMEK.",
          "type": "string"
        },
        "source": {
          "description": "The source type of the migration.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LOOKER_CORE",
            "LOOKER_ORIGINAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Source not specified",
            "Source of export is Looker Core",
            "Source of export is Looker Original"
          ]
        },
        "exportEncryptionKey": {
          "description": "Encryption key that was used to encrypt the export artifacts.",
          "$ref": "ExportMetadataEncryptionKey"
        },
        "lookerVersion": {
          "description": "Version of instance when the export was created.",
          "type": "string"
        }
      },
      "description": "ExportMetadata represents the metadata of the exported artifacts. The metadata.json file in export artifact can be parsed as this message",
      "id": "ExportMetadata",
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "properties": {
        "time": {
          "description": "Required. Time in UTC when the period starts and ends.",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "description": "Required. End date of the deny maintenance period.",
          "$ref": "Date"
        },
        "startDate": {
          "description": "Required. Start date of the deny maintenance period.",
          "$ref": "Date"
        }
      },
      "description": "Specifies the maintenance denial period.",
      "id": "DenyMaintenancePeriod",
      "type": "object"
    },
    "ImportInstanceRequest": {
      "properties": {
        "gcsUri": {
          "description": "Path to the import folder in Google Cloud Storage, in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      },
      "description": "Requestion options for importing looker data to an Instance",
      "id": "ImportInstanceRequest",
      "type": "object"
    },
    "CustomDomain": {
      "type": "object",
      "id": "CustomDomain",
      "description": "Custom domain information.",
      "properties": {
        "state": {
          "description": "Domain state.",
          "enum": [
            "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED",
            "MODIFYING",
            "AVAILABLE",
            "UNAVAILABLE",
            "UNKNOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "DNS record is not created.",
            "DNS record is created.",
            "Calling SLM to update.",
            "ManagedCertificate is ready.",
            "ManagedCertificate is not ready.",
            "Status is not known."
          ]
        },
        "domain": {
          "description": "Domain name.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "MaintenanceWindow": {
      "type": "object",
      "id": "MaintenanceWindow",
      "description": "Specifies the recurring maintenance window.",
      "properties": {
        "startTime": {
          "description": "Required. Time in UTC when the period starts. Maintenance will be scheduled within 60 minutes.",
          "$ref": "TimeOfDay"
        },
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Required. Day of the week for this MaintenanceWindow (in UTC)."
        }
      }
    },
    "PeriodicExportConfig": {
      "properties": {
        "startTime": {
          "description": "Required. Time in UTC to start the periodic export job.",
          "$ref": "TimeOfDay"
        },
        "kmsKey": {
          "description": "Required. Name of the CMEK key in KMS. Format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}",
          "type": "string"
        },
        "gcsUri": {
          "description": "Required. Cloud Storage bucket URI for periodic export. Format: gs://{bucket_name}",
          "type": "string"
        }
      },
      "description": "Configuration for periodic export.",
      "id": "PeriodicExportConfig",
      "type": "object"
    },
    "AdminSettings": {
      "description": "Looker instance Admin settings fields.",
      "properties": {
        "allowedEmailDomains": {
          "description": "Email domain allowlist for the instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AdminSettings"
    },
    "RestoreInstanceRequest": {
      "type": "object",
      "id": "RestoreInstanceRequest",
      "description": "Request options for restoring an instance",
      "properties": {
        "backup": {
          "description": "Required. Backup being used to restore the instance Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
          "type": "string"
        }
      }
    },
    "PscConfig": {
      "properties": {
        "allowedVpcs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of VPCs that are allowed ingress into looker. Format: projects/{project}/global/networks/{network}"
        },
        "serviceAttachments": {
          "type": "array",
          "items": {
            "$ref": "ServiceAttachment"
          },
          "description": "Optional. List of egress service attachment configurations."
        },
        "lookerServiceAttachmentUri": {
          "description": "Output only. URI of the Looker service attachment.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Information for Private Service Connect (PSC) setup for a Looker instance.",
      "id": "PscConfig",
      "type": "object"
    },
    "ControlledEgressConfig": {
      "type": "object",
      "id": "ControlledEgressConfig",
      "description": "Controlled egress configuration.",
      "properties": {
        "egressFqdns": {
          "description": "Optional. List of fully qualified domain names to be added to the allowlist for outbound traffic.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "webProxyIps": {
          "description": "Output only. The list of IP addresses used by Secure Web Proxy for outbound traffic.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "marketplaceEnabled": {
          "description": "Optional. Whether marketplace is enabled.",
          "type": "boolean"
        }
      }
    },
    "ExportEncryptionConfig": {
      "id": "ExportEncryptionConfig",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Required. Name of the CMEK key in KMS.",
          "type": "string"
        }
      },
      "description": "Configuration for Encryption - e.g. CMEK."
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Instance": {
      "description": "A Looker instance.",
      "properties": {
        "controlledEgressConfig": {
          "description": "Optional. Controlled egress configuration.",
          "$ref": "ControlledEgressConfig"
        },
        "lookerUri": {
          "description": "Output only. Looker instance URI which can be used to access the Looker Instance UI.",
          "readOnly": true,
          "type": "string"
        },
        "publicIpEnabled": {
          "description": "Whether public IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "egressPublicIp": {
          "description": "Output only. Public Egress IP (IPv4).",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Encryption configuration (CMEK). Only set if CMEK has been enabled on the instance.",
          "$ref": "EncryptionConfig"
        },
        "periodicExportConfig": {
          "description": "Optional. Configuration for periodic export.",
          "$ref": "PeriodicExportConfig"
        },
        "catalogIntegrationOptOut": {
          "description": "Optional. Indicates whether catalog integration is disabled for the Looker instance.",
          "type": "boolean"
        },
        "userMetadata": {
          "description": "Optional. User metadata.",
          "$ref": "UserMetadata"
        },
        "adminSettings": {
          "description": "Looker Instance Admin settings.",
          "$ref": "AdminSettings"
        },
        "fipsEnabled": {
          "description": "Optional. Whether FIPS is enabled on the Looker instance.",
          "type": "boolean"
        },
        "classType": {
          "description": "Optional. Storage class of the instance.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage class.",
            "Filestore.",
            "PD SSD."
          ],
          "enum": [
            "CLASS_TYPE_UNSPECIFIED",
            "R1",
            "P1"
          ]
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "EXPORTING",
            "IMPORTING"
          ],
          "description": "Output only. The state of the instance.",
          "enumDescriptions": [
            "State is unspecified.",
            "Instance is active and ready for use.",
            "Instance provisioning is in progress.",
            "Instance is in a failed state.",
            "Instance was suspended.",
            "Instance update is in progress.",
            "Instance delete is in progress.",
            "Instance is being exported.",
            "Instance is importing data."
          ]
        },
        "geminiEnabled": {
          "description": "Optional. Whether Gemini feature is enabled on the Looker instance or not.",
          "type": "boolean"
        },
        "lastDenyMaintenancePeriod": {
          "readOnly": true,
          "$ref": "DenyMaintenancePeriod",
          "description": "Output only. Last computed maintenance denial period for this instance."
        },
        "ingressPublicIp": {
          "description": "Output only. Public Ingress IP (IPv4).",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
          "readOnly": true,
          "type": "string"
        },
        "linkedLspProjectNumber": {
          "type": "string",
          "description": "Optional. Linked Google Cloud Project Number for Looker Studio Pro.",
          "format": "int64"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "createTime": {
          "description": "Output only. The time when the Looker instance provisioning was first requested.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "denyMaintenancePeriod": {
          "description": "Maintenance denial period for this instance.",
          "$ref": "DenyMaintenancePeriod"
        },
        "oauthConfig": {
          "description": "Looker instance OAuth login settings.",
          "$ref": "OAuthConfig"
        },
        "ingressPrivateIp": {
          "description": "Output only. Private Ingress IP (IPv4).",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the Looker instance was last updated.",
          "format": "google-datetime"
        },
        "consumerNetwork": {
          "description": "Network name in the consumer project. Format: `projects/{project}/global/networks/{network}`. Note that the consumer network may be in a different GCP project than the consumer project that is hosting the Looker Instance.",
          "type": "string"
        },
        "ingressIpAllowlistConfig": {
          "description": "Optional. Ingress IP allowlist configuration for the Looker instance.",
          "$ref": "IngressIpAllowlistConfig"
        },
        "maintenanceSchedule": {
          "description": "Maintenance schedule for this instance.",
          "$ref": "MaintenanceSchedule"
        },
        "lookerVersion": {
          "description": "Output only. The Looker version that the instance is using.",
          "readOnly": true,
          "type": "string"
        },
        "privateIpEnabled": {
          "description": "Whether private IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "customDomain": {
          "description": "Custom domain configuration for the instance.",
          "$ref": "CustomDomain"
        },
        "pscConfig": {
          "description": "Optional. PSC configuration. Used when `psc_enabled` is true.",
          "$ref": "PscConfig"
        },
        "pscEnabled": {
          "description": "Optional. Whether to use Private Service Connect (PSC) for private IP connectivity. If true, neither `public_ip_enabled` nor `private_ip_enabled` can be true.",
          "type": "boolean"
        },
        "controlledEgressEnabled": {
          "description": "Optional. Whether controlled egress is enabled on the Looker instance.",
          "type": "boolean"
        },
        "platformEdition": {
          "description": "Platform edition.",
          "type": "string",
          "enumDescriptions": [
            "Platform edition is unspecified.",
            "Trial.",
            "Standard.",
            "Subscription Standard.",
            "Subscription Enterprise.",
            "Subscription Embed.",
            "Nonprod Subscription Standard.",
            "Nonprod Subscription Enterprise.",
            "Nonprod Subscription Embed.",
            "Trial Standard.",
            "Trial Enterprise.",
            "Trial Embed."
          ],
          "enum": [
            "PLATFORM_EDITION_UNSPECIFIED",
            "LOOKER_CORE_TRIAL",
            "LOOKER_CORE_STANDARD",
            "LOOKER_CORE_STANDARD_ANNUAL",
            "LOOKER_CORE_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_EMBED_ANNUAL",
            "LOOKER_CORE_NONPROD_STANDARD_ANNUAL",
            "LOOKER_CORE_NONPROD_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_NONPROD_EMBED_ANNUAL",
            "LOOKER_CORE_TRIAL_STANDARD",
            "LOOKER_CORE_TRIAL_ENTERPRISE",
            "LOOKER_CORE_TRIAL_EMBED"
          ]
        },
        "maintenanceWindow": {
          "description": "Maintenance window for this instance.",
          "$ref": "MaintenanceWindow"
        },
        "reservedRange": {
          "description": "Name of a reserved IP address range within the Instance.consumer_network, to be used for private services access connection. May or may not be specified in a create request.",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        }
      },
      "type": "object",
      "id": "Instance"
    },
    "ListInstanceBackupsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instanceBackups": {
          "items": {
            "$ref": "InstanceBackup"
          },
          "type": "array",
          "description": "The list of instances matching the request filters, up to the requested `page_size`."
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next `page_size` results. If empty, the results list is exhausted.",
          "type": "string"
        }
      },
      "description": "Response from listing Looker instance backups.",
      "id": "ListInstanceBackupsResponse",
      "type": "object"
    },
    "ExportInstanceRequest": {
      "type": "object",
      "id": "ExportInstanceRequest",
      "description": "Request options for exporting data of an Instance.",
      "properties": {
        "gcsUri": {
          "description": "The path to the folder in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/folderName`.",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Required. Encryption configuration (CMEK). For CMEK enabled instances it should be same as looker CMEK.",
          "$ref": "ExportEncryptionConfig"
        }
      }
    },
    "OAuthConfig": {
      "id": "OAuthConfig",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "Input only. Client ID from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. Client secret from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        },
        "sharedOauthClientEnabled": {
          "description": "Optional. Whether to use the shared OAuth client. Instances specifying this field do not need to provide client_id and client_secret.",
          "type": "boolean"
        }
      },
      "description": "Looker instance OAuth login settings."
    },
    "InstanceBackup": {
      "type": "object",
      "id": "InstanceBackup",
      "description": "The details of a backup resource.",
      "properties": {
        "name": {
          "description": "Immutable. The relative resource name of the backup, in the following form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}/backups/{backup}`",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. The time when the backup will be deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed."
          ],
          "description": "Output only. The current state of the backup.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfig": {
          "readOnly": true,
          "$ref": "EncryptionConfig",
          "description": "Output only. Current status of the CMEK encryption"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the backup was started.",
          "format": "google-datetime"
        }
      }
    },
    "MaintenanceSchedule": {
      "type": "object",
      "id": "MaintenanceSchedule",
      "description": "Published upcoming future maintenance schedule.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The scheduled end time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "UserMetadata": {
      "properties": {
        "additionalViewerUserCount": {
          "type": "integer",
          "description": "Optional. The number of additional viewer users the instance owner has purchased.",
          "format": "int32"
        },
        "additionalStandardUserCount": {
          "description": "Optional. The number of additional standard users the instance owner has purchased.",
          "format": "int32",
          "type": "integer"
        },
        "additionalDeveloperUserCount": {
          "type": "integer",
          "description": "Optional. The number of additional developer users the instance owner has purchased.",
          "format": "int32"
        }
      },
      "description": "Metadata about users for a Looker instance.",
      "id": "UserMetadata",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "IngressIpAllowlistRule": {
      "id": "IngressIpAllowlistRule",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description for the IP range.",
          "type": "string"
        },
        "ipRange": {
          "description": "Optional. The IP range to allow ingress traffic from.",
          "type": "string"
        }
      },
      "description": "Ingress IP allowlist rule."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "IngressIpAllowlistConfig": {
      "properties": {
        "enabled": {
          "description": "Optional. Whether ingress IP allowlist functionality is enabled on the Looker instance.",
          "type": "boolean"
        },
        "googleServicesEnabled": {
          "description": "Optional. Whether google service connections are enabled for the instance.",
          "type": "boolean"
        },
        "allowlistRules": {
          "items": {
            "$ref": "IngressIpAllowlistRule"
          },
          "type": "array",
          "description": "Optional. List of IP range rules to allow ingress traffic."
        }
      },
      "description": "Ingress IP allowlist configuration.",
      "id": "IngressIpAllowlistConfig",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "EncryptionConfig": {
      "description": "Encryption configuration (i.e. CMEK).",
      "properties": {
        "kmsKeyState": {
          "enumDescriptions": [
            "CMEK status not specified.",
            "CMEK key is currently valid.",
            "CMEK key is currently revoked (instance should in restricted mode)."
          ],
          "description": "Output only. Status of the CMEK key.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "VALID",
            "REVOKED"
          ]
        },
        "kmsKeyNameVersion": {
          "description": "Output only. Full name and version of the CMEK key currently in use to encrypt Looker data. Format: `projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`. Empty if CMEK is not configured in this instance.",
          "readOnly": true,
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Name of the CMEK key in KMS (input parameter).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EncryptionConfig"
    },
    "ServiceAttachment": {
      "id": "ServiceAttachment",
      "type": "object",
      "properties": {
        "localFqdn": {
          "description": "Optional. Fully qualified domain name that will be used in the private DNS record created for the service attachment.",
          "type": "string"
        },
        "connectionStatus": {
          "enum": [
            "UNKNOWN",
            "ACCEPTED",
            "PENDING",
            "REJECTED",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Connection status.",
          "enumDescriptions": [
            "Connection status is unspecified.",
            "Connection is established and functioning normally.",
            "Connection is not established (Looker tenant project hasn't been allowlisted).",
            "Connection is not established (Looker tenant project is explicitly in reject list).",
            "Issue with target service attachment, e.g. NAT subnet is exhausted.",
            "Target service attachment does not exist. This status is a terminal state."
          ]
        },
        "localFqdns": {
          "description": "Optional. List of fully qualified domain names that will be used in the private DNS record created for the service attachment.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "failureReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reason the service attachment creation failed. This value will only be populated if the service attachment encounters an issue during provisioning."
        },
        "targetServiceAttachmentUri": {
          "description": "Required. URI of the service attachment to connect to. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}",
          "type": "string"
        }
      },
      "description": "Service attachment configuration."
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        }
      }
    },
    "Date": {
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "ExportMetadataEncryptionKey": {
      "id": "ExportMetadataEncryptionKey",
      "type": "object",
      "properties": {
        "cmek": {
          "description": "Name of the CMEK.",
          "type": "string"
        },
        "version": {
          "description": "Version of the CMEK.",
          "type": "string"
        }
      },
      "description": "Encryption key details for the exported artifact."
    }
  },
  "revision": "20260326",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "name": "looker"
}