{
  "rootUrl": "https://looker.googleapis.com/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://looker.mtls.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "version_module": true,
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "looker.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "cancel": {
                  "id": "looker.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "looker.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "looker.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "instances": {
              "resources": {
                "backups": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "looker.projects.locations.instances.backups.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "description": "Delete backup."
                    },
                    "list": {
                      "description": "List backups of Looker instance.",
                      "path": "v1/{+parent}/backups",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Sort results. Default order is \"create_time desc\". Other supported fields are \"state\" and \"expire_time\". https://google.aip.dev/132#ordering"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}.",
                          "required": true
                        },
                        "pageSize": {
                          "description": "The maximum number of instances to return.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token received from a previous ListInstances request."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "looker.projects.locations.instances.backups.list",
                      "response": {
                        "$ref": "ListInstanceBackupsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}/backups/{backup}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "id": "looker.projects.locations.instances.backups.get",
                      "response": {
                        "$ref": "InstanceBackup"
                      },
                      "description": "",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}"
                    },
                    "create": {
                      "path": "v1/{+parent}/backups",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "description": "Backup Looker instance.",
                      "httpMethod": "POST",
                      "id": "looker.projects.locations.instances.backups.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "InstanceBackup"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "description": "Gets details of a single Instance.",
                  "id": "looker.projects.locations.instances.get",
                  "response": {
                    "$ref": "Instance"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`."
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of instances to return. If unspecified at most 256 will be returned. The maximum possible value is 2048.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token received from a previous ListInstancesRequest.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "looker.projects.locations.instances.list",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists Instances in a given project and location.",
                  "path": "v1/{+parent}/instances",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances"
                },
                "create": {
                  "parameters": {
                    "instanceId": {
                      "description": "Required. The unique instance identifier. Must contain only lowercase letters, numbers, or hyphens, with the first character a letter and the last a letter or a number. 63 characters maximum.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "looker.projects.locations.instances.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new Instance in a given project and location.",
                  "path": "v1/{+parent}/instances",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances"
                },
                "import": {
                  "id": "looker.projects.locations.instances.import",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`."
                    }
                  },
                  "request": {
                    "$ref": "ImportInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:import",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import",
                  "description": "Import instance."
                },
                "export": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "ExportInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.instances.export",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Export instance.",
                  "path": "v1/{+name}:export",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export"
                },
                "patch": {
                  "id": "looker.projects.locations.instances.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Field mask used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "description": "Update Instance."
                },
                "restart": {
                  "description": "Restart instance.",
                  "path": "v1/{+name}:restart",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restart",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "RestartInstanceRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "looker.projects.locations.instances.restart",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "restore": {
                  "description": "Restore Looker instance.",
                  "path": "v1/{+name}:restore",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Instance being restored Format: projects/{project}/locations/{location}/instances/{instance}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "id": "looker.projects.locations.instances.restore",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "description": "Delete instance.",
                  "id": "looker.projects.locations.instances.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "force": {
                      "description": "Whether to force cascading delete.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "id": "looker.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage."
                }
              },
              "httpMethod": "GET",
              "id": "looker.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "IngressIpAllowlistConfig": {
      "id": "IngressIpAllowlistConfig",
      "type": "object",
      "description": "Ingress IP allowlist configuration.",
      "properties": {
        "enabled": {
          "description": "Optional. Whether ingress IP allowlist functionality is enabled on the Looker instance.",
          "type": "boolean"
        },
        "allowlistRules": {
          "description": "Optional. List of IP range rules to allow ingress traffic.",
          "type": "array",
          "items": {
            "$ref": "IngressIpAllowlistRule"
          }
        },
        "googleServicesEnabled": {
          "type": "boolean",
          "description": "Optional. Whether google service connections are enabled for the instance."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "OAuthConfig": {
      "id": "OAuthConfig",
      "type": "object",
      "description": "Looker instance OAuth login settings.",
      "properties": {
        "clientSecret": {
          "description": "Input only. Client secret from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        },
        "sharedOauthClientEnabled": {
          "description": "Optional. Whether to use the shared OAuth client. Instances specifying this field do not need to provide client_id and client_secret.",
          "type": "boolean"
        },
        "clientId": {
          "description": "Input only. Client ID from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        }
      }
    },
    "RestoreInstanceRequest": {
      "id": "RestoreInstanceRequest",
      "type": "object",
      "description": "Request options for restoring an instance",
      "properties": {
        "backup": {
          "description": "Required. Backup being used to restore the instance Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
          "type": "string"
        }
      }
    },
    "CustomDomain": {
      "type": "object",
      "id": "CustomDomain",
      "description": "Custom domain information.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "DNS record is not created.",
            "DNS record is created.",
            "Calling SLM to update.",
            "ManagedCertificate is ready.",
            "ManagedCertificate is not ready.",
            "Status is not known."
          ],
          "description": "Domain state.",
          "enum": [
            "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED",
            "MODIFYING",
            "AVAILABLE",
            "UNAVAILABLE",
            "UNKNOWN"
          ]
        },
        "domain": {
          "description": "Domain name.",
          "type": "string"
        }
      }
    },
    "ExportEncryptionConfig": {
      "type": "object",
      "id": "ExportEncryptionConfig",
      "description": "Configuration for Encryption - e.g. CMEK.",
      "properties": {
        "kmsKeyName": {
          "description": "Required. Name of the CMEK key in KMS.",
          "type": "string"
        }
      }
    },
    "ImportInstanceRequest": {
      "description": "Requestion options for importing looker data to an Instance",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Path to the import folder in Google Cloud Storage, in the form `gs://bucketName/folderName`."
        }
      },
      "id": "ImportInstanceRequest",
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "description": "Specifies the maintenance denial period.",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "Required. Start date of the deny maintenance period."
        },
        "endDate": {
          "description": "Required. End date of the deny maintenance period.",
          "$ref": "Date"
        },
        "time": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC when the period starts and ends."
        }
      },
      "id": "DenyMaintenancePeriod",
      "type": "object"
    },
    "MaintenanceSchedule": {
      "description": "Published upcoming future maintenance schedule.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The scheduled end time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MaintenanceSchedule"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Status"
    },
    "EncryptionConfig": {
      "description": "Encryption configuration (i.e. CMEK).",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Name of the CMEK key in KMS (input parameter)."
        },
        "kmsKeyState": {
          "enumDescriptions": [
            "CMEK status not specified.",
            "CMEK key is currently valid.",
            "CMEK key is currently revoked (instance should in restricted mode)."
          ],
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "VALID",
            "REVOKED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Status of the CMEK key."
        },
        "kmsKeyNameVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full name and version of the CMEK key currently in use to encrypt Looker data. Format: `projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`. Empty if CMEK is not configured in this instance."
        }
      },
      "id": "EncryptionConfig",
      "type": "object"
    },
    "PscConfig": {
      "type": "object",
      "id": "PscConfig",
      "description": "Information for Private Service Connect (PSC) setup for a Looker instance.",
      "properties": {
        "allowedVpcs": {
          "description": "Optional. List of VPCs that are allowed ingress into looker. Format: projects/{project}/global/networks/{network}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAttachments": {
          "type": "array",
          "items": {
            "$ref": "ServiceAttachment"
          },
          "description": "Optional. List of egress service attachment configurations."
        },
        "lookerServiceAttachmentUri": {
          "description": "Output only. URI of the Looker service attachment.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MaintenanceWindow": {
      "description": "Specifies the recurring maintenance window.",
      "properties": {
        "dayOfWeek": {
          "description": "Required. Day of the week for this MaintenanceWindow (in UTC).",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
          "description": "Required. Time in UTC when the period starts. Maintenance will be scheduled within 60 minutes.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object",
      "id": "MaintenanceWindow"
    },
    "Instance": {
      "description": "A Looker instance.",
      "properties": {
        "egressPublicIp": {
          "description": "Output only. Public Egress IP (IPv4).",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "encryptionConfig": {
          "description": "Encryption configuration (CMEK). Only set if CMEK has been enabled on the instance.",
          "$ref": "EncryptionConfig"
        },
        "adminSettings": {
          "$ref": "AdminSettings",
          "description": "Looker Instance Admin settings."
        },
        "pscEnabled": {
          "description": "Optional. Whether to use Private Service Connect (PSC) for private IP connectivity. If true, neither `public_ip_enabled` nor `private_ip_enabled` can be true.",
          "type": "boolean"
        },
        "fipsEnabled": {
          "description": "Optional. Whether FIPS is enabled on the Looker instance.",
          "type": "boolean"
        },
        "denyMaintenancePeriod": {
          "$ref": "DenyMaintenancePeriod",
          "description": "Maintenance denial period for this instance."
        },
        "catalogIntegrationOptOut": {
          "type": "boolean",
          "description": "Optional. Indicates whether catalog integration is disabled for the Looker instance."
        },
        "maintenanceSchedule": {
          "$ref": "MaintenanceSchedule",
          "description": "Maintenance schedule for this instance."
        },
        "lookerUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Looker instance URI which can be used to access the Looker Instance UI."
        },
        "platformEdition": {
          "type": "string",
          "enumDescriptions": [
            "Platform edition is unspecified.",
            "Trial.",
            "Standard.",
            "Subscription Standard.",
            "Subscription Enterprise.",
            "Subscription Embed.",
            "Nonprod Subscription Standard.",
            "Nonprod Subscription Enterprise.",
            "Nonprod Subscription Embed.",
            "Trial Standard.",
            "Trial Enterprise.",
            "Trial Embed."
          ],
          "description": "Platform edition.",
          "enum": [
            "PLATFORM_EDITION_UNSPECIFIED",
            "LOOKER_CORE_TRIAL",
            "LOOKER_CORE_STANDARD",
            "LOOKER_CORE_STANDARD_ANNUAL",
            "LOOKER_CORE_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_EMBED_ANNUAL",
            "LOOKER_CORE_NONPROD_STANDARD_ANNUAL",
            "LOOKER_CORE_NONPROD_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_NONPROD_EMBED_ANNUAL",
            "LOOKER_CORE_TRIAL_STANDARD",
            "LOOKER_CORE_TRIAL_ENTERPRISE",
            "LOOKER_CORE_TRIAL_EMBED"
          ]
        },
        "consumerNetwork": {
          "type": "string",
          "description": "Network name in the consumer project. Format: `projects/{project}/global/networks/{network}`. Note that the consumer network may be in a different GCP project than the consumer project that is hosting the Looker Instance."
        },
        "lastDenyMaintenancePeriod": {
          "description": "Output only. Last computed maintenance denial period for this instance.",
          "$ref": "DenyMaintenancePeriod",
          "readOnly": true
        },
        "reservedRange": {
          "type": "string",
          "description": "Name of a reserved IP address range within the Instance.consumer_network, to be used for private services access connection. May or may not be specified in a create request."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Maintenance window for this instance."
        },
        "updateTime": {
          "description": "Output only. The time when the Looker instance was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "ingressPublicIp": {
          "description": "Output only. Public Ingress IP (IPv4).",
          "type": "string",
          "readOnly": true
        },
        "customDomain": {
          "description": "Custom domain configuration for the instance.",
          "$ref": "CustomDomain"
        },
        "oauthConfig": {
          "description": "Looker instance OAuth login settings.",
          "$ref": "OAuthConfig"
        },
        "geminiEnabled": {
          "type": "boolean",
          "description": "Optional. Whether Gemini feature is enabled on the Looker instance or not."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the Looker instance provisioning was first requested.",
          "format": "google-datetime"
        },
        "lookerVersion": {
          "description": "Output only. The Looker version that the instance is using.",
          "type": "string",
          "readOnly": true
        },
        "userMetadata": {
          "description": "Optional. User metadata.",
          "$ref": "UserMetadata"
        },
        "classType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage class.",
            "Filestore.",
            "PD SSD."
          ],
          "description": "Optional. Storage class of the instance.",
          "enum": [
            "CLASS_TYPE_UNSPECIFIED",
            "R1",
            "P1"
          ]
        },
        "publicIpEnabled": {
          "description": "Whether public IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "Optional. PSC configuration. Used when `psc_enabled` is true."
        },
        "controlledEgressConfig": {
          "description": "Optional. Controlled egress configuration.",
          "$ref": "ControlledEgressConfig"
        },
        "ingressIpAllowlistConfig": {
          "$ref": "IngressIpAllowlistConfig",
          "description": "Optional. Ingress IP allowlist configuration for the Looker instance."
        },
        "linkedLspProjectNumber": {
          "description": "Optional. Linked Google Cloud Project Number for Looker Studio Pro.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the instance.",
          "enumDescriptions": [
            "State is unspecified.",
            "Instance is active and ready for use.",
            "Instance provisioning is in progress.",
            "Instance is in a failed state.",
            "Instance was suspended.",
            "Instance update is in progress.",
            "Instance delete is in progress.",
            "Instance is being exported.",
            "Instance is importing data."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "EXPORTING",
            "IMPORTING"
          ]
        },
        "ingressPrivateIp": {
          "description": "Output only. Private Ingress IP (IPv4).",
          "readOnly": true,
          "type": "string"
        },
        "controlledEgressEnabled": {
          "type": "boolean",
          "description": "Optional. Whether controlled egress is enabled on the Looker instance."
        },
        "periodicExportConfig": {
          "description": "Optional. Configuration for periodic export.",
          "$ref": "PeriodicExportConfig"
        },
        "privateIpEnabled": {
          "type": "boolean",
          "description": "Whether private IP is enabled on the Looker instance."
        }
      },
      "id": "Instance",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PeriodicExportConfig": {
      "description": "Configuration for periodic export.",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Required. Cloud Storage bucket URI for periodic export. Format: gs://{bucket_name}"
        },
        "kmsKey": {
          "description": "Required. Name of the CMEK key in KMS. Format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}",
          "type": "string"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC to start the periodic export job."
        }
      },
      "id": "PeriodicExportConfig",
      "type": "object"
    },
    "ExportMetadataEncryptionKey": {
      "id": "ExportMetadataEncryptionKey",
      "type": "object",
      "description": "Encryption key details for the exported artifact.",
      "properties": {
        "cmek": {
          "description": "Name of the CMEK.",
          "type": "string"
        },
        "version": {
          "description": "Version of the CMEK.",
          "type": "string"
        }
      }
    },
    "UserMetadata": {
      "type": "object",
      "id": "UserMetadata",
      "description": "Metadata about users for a Looker instance.",
      "properties": {
        "additionalDeveloperUserCount": {
          "type": "integer",
          "description": "Optional. The number of additional developer users the instance owner has purchased.",
          "format": "int32"
        },
        "additionalViewerUserCount": {
          "type": "integer",
          "description": "Optional. The number of additional viewer users the instance owner has purchased.",
          "format": "int32"
        },
        "additionalStandardUserCount": {
          "type": "integer",
          "description": "Optional. The number of additional standard users the instance owner has purchased.",
          "format": "int32"
        }
      }
    },
    "RestartInstanceRequest": {
      "description": "Request options for restarting an instance.",
      "properties": {},
      "type": "object",
      "id": "RestartInstanceRequest"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "description": "API version used to start the operation."
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "ControlledEgressConfig": {
      "description": "Controlled egress configuration.",
      "properties": {
        "marketplaceEnabled": {
          "description": "Optional. Whether marketplace is enabled.",
          "type": "boolean"
        },
        "webProxyIps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of IP addresses used by Secure Web Proxy for outbound traffic."
        },
        "egressFqdns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of fully qualified domain names to be added to the allowlist for outbound traffic."
        }
      },
      "type": "object",
      "id": "ControlledEgressConfig"
    },
    "ExportMetadata": {
      "description": "ExportMetadata represents the metadata of the exported artifacts. The metadata.json file in export artifact can be parsed as this message",
      "properties": {
        "exportEncryptionKey": {
          "description": "Encryption key that was used to encrypt the export artifacts.",
          "$ref": "ExportMetadataEncryptionKey"
        },
        "lookerEncryptionKey": {
          "description": "Looker encryption key, encrypted with the provided export encryption key. This value will only be populated if the looker instance uses Looker managed encryption instead of CMEK.",
          "type": "string"
        },
        "lookerInstance": {
          "type": "string",
          "description": "Name of the exported instance. Format: projects/{project}/locations/{location}/instances/{instance}"
        },
        "lookerVersion": {
          "type": "string",
          "description": "Version of instance when the export was created."
        },
        "source": {
          "type": "string",
          "enumDescriptions": [
            "Source not specified",
            "Source of export is Looker Core",
            "Source of export is Looker Original"
          ],
          "description": "The source type of the migration.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LOOKER_CORE",
            "LOOKER_ORIGINAL"
          ]
        },
        "lookerPlatformEdition": {
          "type": "string",
          "description": "Platform edition of the exported instance."
        },
        "filePaths": {
          "description": "List of files created as part of export artifact (excluding the metadata). The paths are relative to the folder containing the metadata.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ExportMetadata",
      "type": "object"
    },
    "ListInstanceBackupsResponse": {
      "type": "object",
      "id": "ListInstanceBackupsResponse",
      "description": "Response from listing Looker instance backups.",
      "properties": {
        "instanceBackups": {
          "type": "array",
          "items": {
            "$ref": "InstanceBackup"
          },
          "description": "The list of instances matching the request filters, up to the requested `page_size`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If provided, a page token that can look up the next `page_size` results. If empty, the results list is exhausted."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "type": "object",
      "description": "Response from ListInstances.",
      "properties": {
        "instances": {
          "description": "The list of instances matching the request filters, up to the requested ListInstancesRequest.pageSize.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next ListInstancesRequest.pageSize results. If empty, the results list is exhausted.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "TimeOfDay"
    },
    "InstanceBackup": {
      "type": "object",
      "id": "InstanceBackup",
      "description": "The details of a backup resource.",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the backup was started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The relative resource name of the backup, in the following form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}/backups/{backup}`"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the backup will be deleted.",
          "format": "google-datetime"
        },
        "encryptionConfig": {
          "description": "Output only. Current status of the CMEK encryption",
          "readOnly": true,
          "$ref": "EncryptionConfig"
        }
      }
    },
    "ExportInstanceRequest": {
      "description": "Request options for exporting data of an Instance.",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The path to the folder in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/folderName`."
        },
        "encryptionConfig": {
          "$ref": "ExportEncryptionConfig",
          "description": "Required. Encryption configuration (CMEK). For CMEK enabled instances it should be same as looker CMEK."
        }
      },
      "id": "ExportInstanceRequest",
      "type": "object"
    },
    "IngressIpAllowlistRule": {
      "type": "object",
      "id": "IngressIpAllowlistRule",
      "description": "Ingress IP allowlist rule.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description for the IP range."
        },
        "ipRange": {
          "type": "string",
          "description": "Optional. The IP range to allow ingress traffic from."
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ServiceAttachment": {
      "description": "Service attachment configuration.",
      "properties": {
        "localFqdns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of fully qualified domain names that will be used in the private DNS record created for the service attachment."
        },
        "targetServiceAttachmentUri": {
          "description": "Required. URI of the service attachment to connect to. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}",
          "type": "string"
        },
        "connectionStatus": {
          "enumDescriptions": [
            "Connection status is unspecified.",
            "Connection is established and functioning normally.",
            "Connection is not established (Looker tenant project hasn't been allowlisted).",
            "Connection is not established (Looker tenant project is explicitly in reject list).",
            "Issue with target service attachment, e.g. NAT subnet is exhausted.",
            "Target service attachment does not exist. This status is a terminal state."
          ],
          "enum": [
            "UNKNOWN",
            "ACCEPTED",
            "PENDING",
            "REJECTED",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Connection status."
        },
        "localFqdn": {
          "type": "string",
          "description": "Optional. Fully qualified domain name that will be used in the private DNS record created for the service attachment."
        },
        "failureReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reason the service attachment creation failed. This value will only be populated if the service attachment encounters an issue during provisioning."
        }
      },
      "id": "ServiceAttachment",
      "type": "object"
    },
    "AdminSettings": {
      "type": "object",
      "id": "AdminSettings",
      "description": "Looker instance Admin settings fields.",
      "properties": {
        "allowedEmailDomains": {
          "description": "Email domain allowlist for the instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "description": "",
  "baseUrl": "https://looker.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Looker",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "ownerName": "Google",
  "id": "looker:v1",
  "fullyEncodeReservedExpansion": true,
  "title": "Looker (Google Cloud core) API",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/looker/docs/reference/rest/",
  "revision": "20260326",
  "name": "looker",
  "protocol": "rest",
  "basePath": "",
  "ownerDomain": "google.com"
}