{
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "title": "Managed Service for Apache Kafka API",
  "mtlsRootUrl": "https://managedkafka.mtls.googleapis.com/",
  "id": "managedkafka:v1",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "canonicalName": "Managed Kafka",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "schemas": {
    "Schema": {
      "id": "Schema",
      "description": "Schema for a Kafka message.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "The schema payload.",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "schemaType": {
          "description": "Optional. The schema type of the schema.",
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        }
      }
    },
    "LookupVersionRequest": {
      "id": "LookupVersionRequest",
      "description": "Request for LookupVersion.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "deleted": {
          "description": "Optional. If true, soft-deleted versions will be included in lookup, no matter if the subject is active or soft-deleted. If false, soft-deleted versions will be excluded. The default is false.",
          "type": "boolean"
        },
        "schemaType": {
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being looked up. The default is false.",
          "type": "boolean"
        }
      }
    },
    "AclEntry": {
      "properties": {
        "host": {
          "description": "Required. The host. Must be set to \"*\" for Managed Service for Apache Kafka.",
          "type": "string"
        },
        "principal": {
          "description": "Required. The principal. Specified as Google Cloud account, with the Kafka StandardAuthorizer prefix \"User:\". For example: \"User:test-kafka-client@test-project.iam.gserviceaccount.com\". Can be the wildcard \"User:*\" to refer to all users.",
          "type": "string"
        },
        "permissionType": {
          "description": "Required. The permission type. Accepted values are (case insensitive): ALLOW, DENY.",
          "type": "string"
        },
        "operation": {
          "description": "Required. The operation type. Allowed values are (case insensitive): ALL, READ, WRITE, CREATE, DELETE, ALTER, DESCRIBE, CLUSTER_ACTION, DESCRIBE_CONFIGS, ALTER_CONFIGS, and IDEMPOTENT_WRITE. See https://kafka.apache.org/documentation/#operations_resources_and_protocols for valid combinations of resource_type and operation for different Kafka API requests.",
          "type": "string"
        }
      },
      "id": "AclEntry",
      "description": "Represents the access granted for a given Resource Pattern in an ACL.",
      "type": "object"
    },
    "SchemaConfig": {
      "properties": {
        "alias": {
          "description": "Optional. The subject to which this subject is an alias of. Only applicable for subject config.",
          "type": "string"
        },
        "compatibility": {
          "description": "Required. The compatibility type of the schema. The default value is BACKWARD. If unset in a SchemaSubject-level SchemaConfig, defaults to the global value. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "string",
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ]
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. If unset in a SchemaSubject-level SchemaConfig, the global value will be used. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "boolean"
        }
      },
      "id": "SchemaConfig",
      "description": "SchemaConfig represents configuration for a schema registry or a specific subject.",
      "type": "object"
    },
    "ResumeConnectorResponse": {
      "id": "ResumeConnectorResponse",
      "description": "Response for ResumeConnector.",
      "type": "object",
      "properties": {}
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "ConsumerGroup": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}",
          "type": "string"
        },
        "topics": {
          "description": "Optional. Metadata for this consumer group for all topics it has metadata for. The key of the map is a topic name, structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsumerTopicMetadata"
          }
        }
      },
      "id": "ConsumerGroup",
      "description": "A Kafka consumer group in a given cluster.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Context": {
      "id": "Context",
      "description": "Context represents an independent schema grouping in a schema registry instance.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the context. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}` The context name {context} can contain the following: * Up to 255 characters. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        },
        "subjects": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The subjects of the context.",
          "type": "array"
        }
      }
    },
    "StopConnectorRequest": {
      "properties": {},
      "id": "StopConnectorRequest",
      "description": "Request for StopConnector.",
      "type": "object"
    },
    "TaskRetryPolicy": {
      "id": "TaskRetryPolicy",
      "description": "Task Retry Policy is implemented on a best-effort basis. The default policy retries tasks with a minimum_backoff of 60 seconds, and a maximum_backoff of 12 hours. You can disable the policy by setting the task_retry_disabled field to true. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. Note that the delay between consecutive task restarts may not always precisely match the configured settings. This can happen when the ConnectCluster is in rebalancing state or if the ConnectCluster is unresponsive etc. The default values for minimum and maximum backoffs are 60 seconds and 12 hours respectively.",
      "type": "object",
      "properties": {
        "maximumBackoff": {
          "description": "Optional. The maximum amount of time to wait before retrying a failed task. This sets an upper bound for the backoff delay.",
          "type": "string",
          "format": "google-duration"
        },
        "minimumBackoff": {
          "format": "google-duration",
          "description": "Optional. The minimum amount of time to wait before retrying a failed task. This sets a lower bound for the backoff delay.",
          "type": "string"
        },
        "taskRetryDisabled": {
          "description": "Optional. If true, task retry is disabled.",
          "type": "boolean"
        }
      }
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "Response for ListClusters.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "clusters": {
          "description": "The list of Clusters in the requested parent.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        }
      }
    },
    "NetworkConfig": {
      "properties": {
        "subnet": {
          "description": "Required. Name of the VPC subnet in which to create Private Service Connect (PSC) endpoints for the Kafka brokers and bootstrap address. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} The subnet must be located in the same region as the Kafka cluster. The project may differ. Multiple subnets from the same parent network must not be specified.",
          "type": "string"
        }
      },
      "id": "NetworkConfig",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka cluster.",
      "type": "object"
    },
    "Acl": {
      "properties": {
        "etag": {
          "description": "Optional. `etag` is used for concurrency control. An `etag` is returned in the response to `GetAcl` and `CreateAcl`. Callers are required to put that etag in the request to `UpdateAcl` to ensure that their change will be applied to the same version of the acl that exists in the Kafka Cluster. A terminal 'T' character in the etag indicates that the AclEntries were truncated; more entries for the Acl exist on the Kafka Cluster, but can't be returned in the Acl due to repeated field limits.",
          "type": "string"
        },
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The ACL resource name derived from the name. For cluster resource_type, this is always \"kafka-cluster\". Can be the wildcard literal \"*\".",
          "type": "string"
        },
        "patternType": {
          "description": "Output only. The ACL pattern type derived from the name. One of: LITERAL, PREFIXED.",
          "type": "string",
          "readOnly": true
        },
        "aclEntries": {
          "description": "Required. The ACL entries that apply to the resource pattern. The maximum number of allowed entries 100.",
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          }
        },
        "resourceType": {
          "readOnly": true,
          "description": "Output only. The ACL resource type derived from the name. One of: CLUSTER, TOPIC, GROUP, TRANSACTIONAL_ID.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
          "type": "string"
        }
      },
      "id": "Acl",
      "description": "Represents the set of ACLs for a given Kafka Resource Pattern, which consists of resource_type, resource_name and pattern_type.",
      "type": "object"
    },
    "TrustConfig": {
      "id": "TrustConfig",
      "description": "Sources of CA certificates to install in the broker's truststore.",
      "type": "object",
      "properties": {
        "casConfigs": {
          "items": {
            "$ref": "CertificateAuthorityServiceConfig"
          },
          "description": "Optional. Configuration for the Google Certificate Authority Service. Maximum 10.",
          "type": "array"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "AccessConfig": {
      "properties": {
        "networkConfigs": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "type": "array"
        }
      },
      "id": "AccessConfig",
      "description": "The configuration of access to the Kafka cluster.",
      "type": "object"
    },
    "ListSchemaRegistriesResponse": {
      "properties": {
        "schemaRegistries": {
          "items": {
            "$ref": "SchemaRegistry"
          },
          "description": "The schema registry instances.",
          "type": "array"
        }
      },
      "id": "ListSchemaRegistriesResponse",
      "description": "Request for ListSchemaRegistries.",
      "type": "object"
    },
    "AddAclEntryResponse": {
      "properties": {
        "acl": {
          "description": "The updated acl.",
          "$ref": "Acl"
        },
        "aclCreated": {
          "description": "Whether the acl was created as a result of adding the acl entry.",
          "type": "boolean"
        }
      },
      "id": "AddAclEntryResponse",
      "description": "Response for AddAclEntry.",
      "type": "object"
    },
    "ListConsumerGroupsResponse": {
      "id": "ListConsumerGroupsResponse",
      "description": "Response for ListConsumerGroups.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "consumerGroups": {
          "description": "The list of consumer group in the requested parent. The order of the consumer groups is unspecified.",
          "type": "array",
          "items": {
            "$ref": "ConsumerGroup"
          }
        }
      }
    },
    "RestartConnectorRequest": {
      "properties": {},
      "id": "RestartConnectorRequest",
      "description": "Request for RestartConnector.",
      "type": "object"
    },
    "ListAclsResponse": {
      "properties": {
        "acls": {
          "description": "The list of acls in the requested parent. The order of the acls is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Acl"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListAclsResponse",
      "description": "Response for ListAcls.",
      "type": "object"
    },
    "SchemaRegistry": {
      "id": "SchemaRegistry",
      "description": "SchemaRegistry is a schema registry instance.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the schema registry instance. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` The instance name {schema_registry} can contain the following: * Up to 255 characters. * Letters (uppercase or lowercase), numbers, and underscores.",
          "type": "string"
        },
        "contexts": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The contexts of the schema registry instance.",
          "type": "array"
        }
      }
    },
    "SchemaVersion": {
      "properties": {
        "id": {
          "format": "int32",
          "description": "Required. The schema ID.",
          "type": "integer"
        },
        "schema": {
          "description": "Required. The schema payload.",
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema.",
          "type": "array"
        },
        "subject": {
          "description": "Required. The subject of the version.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version ID",
          "type": "integer",
          "format": "int32"
        },
        "schemaType": {
          "description": "Optional. The schema type of the schema.",
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        }
      },
      "id": "SchemaVersion",
      "description": "Version of a schema.",
      "type": "object"
    },
    "Topic": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "string"
        },
        "configs": {
          "description": "Optional. Configurations for the topic that are overridden from the cluster defaults. The key of the map is a Kafka topic property name, for example: `cleanup.policy`, `compression.type`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "partitionCount": {
          "format": "int32",
          "description": "Required. The number of partitions this topic has. The partition count can only be increased, not decreased. Please note that if partitions are increased for a topic that has a key, the partitioning logic or the ordering of the messages will be affected.",
          "type": "integer"
        },
        "replicationFactor": {
          "format": "int32",
          "description": "Required. Immutable. The number of replicas of each partition. A replication factor of 3 is recommended for high availability.",
          "type": "integer"
        }
      },
      "id": "Topic",
      "description": "A Kafka topic in a given cluster.",
      "type": "object"
    },
    "RemoveAclEntryResponse": {
      "id": "RemoveAclEntryResponse",
      "description": "Response for RemoveAclEntry.",
      "type": "object",
      "properties": {
        "acl": {
          "description": "The updated acl. Returned if the removed acl entry was not the last entry in the acl.",
          "$ref": "Acl"
        },
        "aclDeleted": {
          "description": "Returned with value true if the removed acl entry was the last entry in the acl, resulting in acl deletion.",
          "type": "boolean"
        }
      }
    },
    "ListTopicsResponse": {
      "properties": {
        "topics": {
          "items": {
            "$ref": "Topic"
          },
          "description": "The list of topics in the requested parent. The order of the topics is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListTopicsResponse",
      "description": "Response for ListTopics.",
      "type": "object"
    },
    "CheckCompatibilityResponse": {
      "properties": {
        "is_compatible": {
          "description": "The compatibility check result. If true, the schema is compatible with the resource.",
          "type": "boolean"
        },
        "messages": {
          "description": "Failure reasons if verbose = true.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CheckCompatibilityResponse",
      "description": "Response for CheckCompatibility.",
      "type": "object"
    },
    "UpdateSchemaModeRequest": {
      "id": "UpdateSchemaModeRequest",
      "description": "Request for updating schema registry or subject mode.",
      "type": "object",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "description": "Required. The mode type.",
          "type": "string"
        }
      }
    },
    "ConsumerTopicMetadata": {
      "properties": {
        "partitions": {
          "description": "Optional. Metadata for this consumer group and topic for all partition indexes it has metadata for.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsumerPartitionMetadata"
          }
        }
      },
      "id": "ConsumerTopicMetadata",
      "description": "Metadata for a consumer group corresponding to a specific topic.",
      "type": "object"
    },
    "CreateVersionResponse": {
      "id": "CreateVersionResponse",
      "description": "Response for CreateVersion.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "The unique identifier of the schema created.",
          "type": "integer"
        }
      }
    },
    "GcpConfig": {
      "id": "GcpConfig",
      "description": "Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Optional. Immutable. The Cloud KMS Key name to use for encryption. The key must be located in the same region as the cluster and cannot be changed. Structured like: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}.",
          "type": "string"
        },
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka cluster.",
          "$ref": "AccessConfig"
        }
      }
    },
    "PauseConnectorRequest": {
      "properties": {},
      "id": "PauseConnectorRequest",
      "description": "Request for PauseConnector.",
      "type": "object"
    },
    "Cluster": {
      "id": "Cluster",
      "description": "An Apache Kafka cluster deployed in a location.",
      "type": "object",
      "properties": {
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "gcpConfig": {
          "$ref": "GcpConfig",
          "description": "Required. Configuration properties for a Kafka cluster deployed to Google Cloud Platform."
        },
        "updateOptions": {
          "$ref": "UpdateOptions",
          "description": "Optional. UpdateOptions represents options that control how updates to the cluster are applied."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the cluster was created.",
          "type": "string"
        },
        "rebalanceConfig": {
          "description": "Optional. Rebalance configuration for the Kafka cluster.",
          "$ref": "RebalanceConfig"
        },
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka cluster.",
          "$ref": "CapacityConfig"
        },
        "kafkaVersion": {
          "description": "Output only. Only populated when FULL view is requested. The Kafka version of the cluster.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the cluster was last updated.",
          "type": "string"
        },
        "brokerDetails": {
          "description": "Output only. Only populated when FULL view is requested. Details of each broker in the cluster.",
          "type": "array",
          "items": {
            "$ref": "BrokerDetails"
          },
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is being updated."
          ],
          "description": "Output only. The current state of the cluster.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tlsConfig": {
          "description": "Optional. TLS configuration for the Kafka cluster.",
          "$ref": "TlsConfig"
        }
      }
    },
    "RestartConnectorResponse": {
      "id": "RestartConnectorResponse",
      "description": "Response for RestartConnector.",
      "type": "object",
      "properties": {}
    },
    "CreateSchemaRegistryRequest": {
      "properties": {
        "schemaRegistry": {
          "description": "Required. The schema registry instance to create. The name field is ignored.",
          "$ref": "SchemaRegistry"
        },
        "schemaRegistryId": {
          "description": "Required. The schema registry instance ID to use for this schema registry. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (-). The maximum length is 63 characters. The ID must not start with a number.",
          "type": "string"
        }
      },
      "id": "CreateSchemaRegistryRequest",
      "description": "Request to create a schema registry instance.",
      "type": "object"
    },
    "UpdateOptions": {
      "properties": {
        "allowBrokerDownscaleOnClusterUpscale": {
          "description": "Optional. If true, allows an update operation that increases the total vCPU and/or memory allocation of the cluster to significantly decrease the per-broker vCPU and/or memory allocation. This can result in reduced performance and availability. By default, the update operation will fail if an upscale request results in a vCPU or memory allocation for the brokers that is smaller than 90% of the current broker size.",
          "type": "boolean"
        }
      },
      "id": "UpdateOptions",
      "description": "UpdateOptions specifies options that influence how a cluster update is applied. These options control the behavior of the update process, rather than defining the desired end-state of a cluster.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ConnectGcpConfig": {
      "id": "ConnectGcpConfig",
      "description": "Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
      "type": "object",
      "properties": {
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka Connect cluster.",
          "$ref": "ConnectAccessConfig"
        },
        "secretPaths": {
          "description": "Optional. Secrets to load into workers. Exact SecretVersions from Secret Manager must be provided -- aliases are not supported. Up to 32 secrets may be loaded into one cluster. Format: projects//secrets//versions/",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "The HTTP request/response body as raw binary.",
          "type": "string"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "CheckCompatibilityRequest": {
      "properties": {
        "schemaType": {
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string"
        },
        "verbose": {
          "description": "Optional. If true, the response will contain the compatibility check result with reasons for failed checks. The default is false.",
          "type": "boolean"
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema.",
          "type": "array"
        }
      },
      "id": "CheckCompatibilityRequest",
      "description": "Request for CheckCompatibility.",
      "type": "object"
    },
    "SchemaMode": {
      "properties": {
        "mode": {
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "description": "Required. The mode type of a schema registry (READWRITE by default) or of a subject (unset by default, which means use the global schema registry setting).",
          "type": "string"
        }
      },
      "id": "SchemaMode",
      "description": "SchemaMode represents the mode of a schema registry or a specific subject. Four modes are supported: * NONE: deprecated. This was the default mode for a subject, but now the default is unset (which means use the global schema registry setting) * READONLY: The schema registry is in read-only mode. * READWRITE: The schema registry is in read-write mode, which allows limited write operations on the schema. * IMPORT: The schema registry is in import mode, which allows more editing operations on the schema for data importing purposes.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "StopConnectorResponse": {
      "properties": {},
      "id": "StopConnectorResponse",
      "description": "Response for StopConnector.",
      "type": "object"
    },
    "PauseConnectorResponse": {
      "properties": {},
      "id": "PauseConnectorResponse",
      "description": "Response for PauseConnector.",
      "type": "object"
    },
    "SchemaReference": {
      "id": "SchemaReference",
      "description": "SchemaReference is a reference to a schema.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Required. The version of the reference.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Required. The name of the reference.",
          "type": "string"
        },
        "subject": {
          "description": "Required. The subject of the reference.",
          "type": "string"
        }
      }
    },
    "UpdateSchemaConfigRequest": {
      "properties": {
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the normalize field for the SchemaConfig.",
          "type": "boolean"
        },
        "compatibility": {
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "description": "Required. The compatibility type of the schemas. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the compatibility field for the SchemaConfig.",
          "type": "string"
        }
      },
      "id": "UpdateSchemaConfigRequest",
      "description": "Request for updating schema config. On a SchemaSubject-level SchemaConfig, an unset field will be removed from the SchemaConfig.",
      "type": "object"
    },
    "TlsConfig": {
      "properties": {
        "sslPrincipalMappingRules": {
          "description": "Optional. A list of rules for mapping from SSL principal names to short names. These are applied in order by Kafka. Refer to the Apache Kafka documentation for `ssl.principal.mapping.rules` for the precise formatting details and syntax. Example: \"RULE:^CN=(.*?),OU=ServiceUsers.*$/$1@example.com/,DEFAULT\" This is a static Kafka broker configuration. Setting or modifying this field will trigger a rolling restart of the Kafka brokers to apply the change. An empty string means no rules are applied (Kafka default).",
          "type": "string"
        },
        "trustConfig": {
          "$ref": "TrustConfig",
          "description": "Optional. The configuration of the broker truststore. If specified, clients can use mTLS for authentication."
        }
      },
      "id": "TlsConfig",
      "description": "The TLS configuration for the Kafka cluster.",
      "type": "object"
    },
    "ConnectCluster": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the cluster was created.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "config": {
          "description": "Optional. Configurations for the worker that are overridden from the defaults. The key of the map is a Kafka Connect worker property name, for example: `exactly.once.source.support`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "description": "Output only. The current state of the Kafka Connect cluster.",
          "type": "string",
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is detached."
          ],
          "readOnly": true
        },
        "kafkaCluster": {
          "description": "Required. Immutable. The name of the Kafka cluster this Kafka Connect cluster is attached to. Structured like: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the cluster was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "gcpConfig": {
          "$ref": "ConnectGcpConfig",
          "description": "Required. Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
          "type": "string"
        },
        "capacityConfig": {
          "$ref": "CapacityConfig",
          "description": "Required. Capacity configuration for the Kafka Connect cluster."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        }
      },
      "id": "ConnectCluster",
      "description": "An Apache Kafka Connect cluster deployed in a location.",
      "type": "object"
    },
    "ResumeConnectorRequest": {
      "properties": {},
      "id": "ResumeConnectorRequest",
      "description": "Request for ResumeConnector.",
      "type": "object"
    },
    "ConsumerPartitionMetadata": {
      "id": "ConsumerPartitionMetadata",
      "description": "Metadata for a consumer group corresponding to a specific partition.",
      "type": "object",
      "properties": {
        "offset": {
          "format": "int64",
          "description": "Required. The current offset for this partition, or 0 if no offset has been committed.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. The associated metadata for this partition, or empty if it does not exist.",
          "type": "string"
        }
      }
    },
    "ListConnectorsResponse": {
      "id": "ListConnectorsResponse",
      "description": "Response for ListConnectors.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "connectors": {
          "description": "The list of connectors in the requested parent.",
          "type": "array",
          "items": {
            "$ref": "Connector"
          }
        }
      }
    },
    "Connector": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
          "type": "string"
        },
        "configs": {
          "description": "Optional. Connector config as keys/values. The keys of the map are connector property names, for example: `connector.class`, `tasks.max`, `key.converter`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNASSIGNED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "RESTARTING",
            "STOPPED"
          ],
          "description": "Output only. The current state of the connector.",
          "type": "string",
          "enumDescriptions": [
            "A state was not specified.",
            "The connector is not assigned to any tasks, usually transient.",
            "The connector is running.",
            "The connector has been paused.",
            "The connector has failed. See logs for why.",
            "The connector is restarting.",
            "The connector has been stopped."
          ],
          "readOnly": true
        },
        "taskRestartPolicy": {
          "description": "Optional. Restarts the individual tasks of a Connector.",
          "$ref": "TaskRetryPolicy"
        }
      },
      "id": "Connector",
      "description": "A Kafka Connect connector in a given ConnectCluster.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "ListConnectClustersResponse": {
      "properties": {
        "connectClusters": {
          "items": {
            "$ref": "ConnectCluster"
          },
          "description": "The list of Connect clusters in the requested parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListConnectClustersResponse",
      "description": "Response for ListConnectClusters.",
      "type": "object"
    },
    "CertificateAuthorityServiceConfig": {
      "properties": {
        "caPool": {
          "description": "Required. The name of the CA pool to pull CA certificates from. Structured like: projects/{project}/locations/{location}/caPools/{ca_pool}. The CA pool does not need to be in the same project or location as the Kafka cluster.",
          "type": "string"
        }
      },
      "id": "CertificateAuthorityServiceConfig",
      "description": "A configuration for the Google Certificate Authority Service.",
      "type": "object"
    },
    "ConnectNetworkConfig": {
      "id": "ConnectNetworkConfig",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka Connect cluster.",
      "type": "object",
      "properties": {
        "additionalSubnets": {
          "deprecated": true,
          "description": "Optional. Deprecated: Managed Kafka Connect clusters can now reach any endpoint accessible from the primary subnet without the need to define additional subnets. Please see https://cloud.google.com/managed-service-for-apache-kafka/docs/connect-cluster/create-connect-cluster#worker-subnet for more information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsDomainNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional DNS domain names from the subnet's network to be made visible to the Connect Cluster. When using MirrorMaker2, it's necessary to add the bootstrap address's dns domain name of the target cluster to make it visible to the connector. For example: my-kafka-cluster.us-central1.managedkafka.my-project.cloud.goog",
          "type": "array"
        },
        "primarySubnet": {
          "description": "Required. VPC subnet to make available to the Kafka Connect cluster. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} It is used to create a Private Service Connect (PSC) interface for the Kafka Connect workers. It must be located in the same region as the Kafka Connect cluster. The CIDR range of the subnet must be within the IPv4 address ranges for private networks, as specified in RFC 1918. The primary subnet CIDR range must have a minimum size of /22 (1024 addresses).",
          "type": "string"
        }
      }
    },
    "CapacityConfig": {
      "id": "CapacityConfig",
      "description": "A capacity configuration of a Kafka cluster.",
      "type": "object",
      "properties": {
        "vcpuCount": {
          "format": "int64",
          "description": "Required. The number of vCPUs to provision for the cluster. Minimum: 3.",
          "type": "string"
        },
        "memoryBytes": {
          "format": "int64",
          "description": "Required. The memory to provision for the cluster in bytes. The CPU:memory ratio (vCPU:GiB) must be between 1:1 and 1:8. Minimum: 3221225472 (3 GiB).",
          "type": "string"
        }
      }
    },
    "RebalanceConfig": {
      "id": "RebalanceConfig",
      "description": "Defines rebalancing behavior of a Kafka cluster.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Optional. The rebalance behavior for the cluster. When not specified, defaults to `NO_REBALANCE`.",
          "type": "string",
          "enumDescriptions": [
            "A mode was not specified. Do not use.",
            "Do not rebalance automatically.",
            "Automatically rebalance topic partitions among brokers when the cluster is scaled up."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "NO_REBALANCE",
            "AUTO_REBALANCE_ON_SCALE_UP"
          ]
        }
      }
    },
    "CreateVersionRequest": {
      "properties": {
        "schemaType": {
          "description": "Optional. The type of the schema. It is optional. If not specified, the schema type will be AVRO.",
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        },
        "version": {
          "format": "int32",
          "description": "Optional. The version to create. It is optional. If not specified, the version will be created with the max version ID of the subject increased by 1. If the version ID is specified, it will be used as the new version ID and must not be used by an existing version of the subject.",
          "type": "integer"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored. The default is false.",
          "type": "boolean"
        },
        "id": {
          "description": "Optional. The schema ID of the schema. If not specified, the schema ID will be generated by the server. If the schema ID is specified, it must not be used by an existing schema that is different from the schema to be created.",
          "type": "integer",
          "format": "int32"
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema.",
          "type": "array"
        }
      },
      "id": "CreateVersionRequest",
      "description": "Request for CreateVersion.",
      "type": "object"
    },
    "BrokerDetails": {
      "id": "BrokerDetails",
      "description": "Details of a broker in the Kafka cluster.",
      "type": "object",
      "properties": {
        "rack": {
          "readOnly": true,
          "description": "Output only. The rack of the broker.",
          "type": "string"
        },
        "brokerIndex": {
          "description": "Output only. The index of the broker.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "nodeId": {
          "description": "Output only. The node id of the broker.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "ConnectAccessConfig": {
      "properties": {
        "networkConfigs": {
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka Connect cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "type": "array",
          "items": {
            "$ref": "ConnectNetworkConfig"
          }
        }
      },
      "id": "ConnectAccessConfig",
      "description": "The configuration of access to the Kafka Connect cluster.",
      "type": "object"
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "Manage Apache Kafka clusters and resources. ",
  "version_module": true,
  "servicePath": "",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/managed-service-for-apache-kafka/docs",
  "rootUrl": "https://managedkafka.googleapis.com/",
  "revision": "20260305",
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-northeast3.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-west4.rep.googleapis.com/"
    }
  ],
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "managedkafka.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "id": "managedkafka.projects.locations.get",
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "clusters": {
              "methods": {
                "get": {
                  "parameters": {
                    "view": {
                      "description": "Optional. Specifies the view of the Cluster resource to be returned. Defaults to CLUSTER_VIEW_BASIC. See the ClusterView enum for possible values.",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include the basic metadata of the Cluster. This is the default value (for both ListClusters and GetCluster).",
                        "Include everything, including data fetched from the Kafka cluster source of truth."
                      ],
                      "enum": [
                        "CLUSTER_VIEW_UNSPECIFIED",
                        "CLUSTER_VIEW_BASIC",
                        "CLUSTER_VIEW_FULL"
                      ]
                    },
                    "name": {
                      "description": "Required. The name of the cluster whose configuration to return.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "managedkafka.projects.locations.clusters.get",
                  "description": "Returns the properties of a single cluster.",
                  "response": {
                    "$ref": "Cluster"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "managedkafka.projects.locations.clusters.create",
                  "description": "Creates a new cluster in a given project and location.",
                  "path": "v1/{+parent}/clusters",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent region in which to create the cluster. Structured like `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "Required. The ID to use for the cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "id": "managedkafka.projects.locations.clusters.patch",
                  "description": "Updates the properties of a single cluster.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of clusters to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Optional. Order by fields for the result.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent location whose clusters are to be listed. Structured like `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter expression for the result.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/clusters",
                  "id": "managedkafka.projects.locations.clusters.list",
                  "description": "Lists the clusters in a given project and location.",
                  "response": {
                    "$ref": "ListClustersResponse"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "managedkafka.projects.locations.clusters.delete",
                  "description": "Deletes a single cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the cluster to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "topics": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent cluster in which to create the topic. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "topicId": {
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.clusters.topics.create",
                      "description": "Creates a new topic in a given project and location.",
                      "response": {
                        "$ref": "Topic"
                      },
                      "path": "v1/{+parent}/topics",
                      "request": {
                        "$ref": "Topic"
                      }
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Topic"
                      },
                      "response": {
                        "$ref": "Topic"
                      },
                      "id": "managedkafka.projects.locations.clusters.topics.patch",
                      "description": "Updates the properties of a single topic.",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the Topic resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the topic whose configuration to return. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "managedkafka.projects.locations.clusters.topics.get",
                      "description": "Returns the properties of a single topic.",
                      "response": {
                        "$ref": "Topic"
                      }
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent is returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. The parent cluster whose topics are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/topics",
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "id": "managedkafka.projects.locations.clusters.topics.list",
                      "description": "Lists the topics in a given cluster."
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "managedkafka.projects.locations.clusters.topics.delete",
                      "description": "Deletes a single topic.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the topic to delete. `projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "acls": {
                  "methods": {
                    "list": {
                      "id": "managedkafka.projects.locations.clusters.acls.list",
                      "description": "Lists the acls in a given cluster.",
                      "response": {
                        "$ref": "ListAclsResponse"
                      },
                      "path": "v1/{+parent}/acls",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent cluster whose acls are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListAcls` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAcls` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of acls to return. The service may return fewer than this value. If unset or zero, all acls for the parent is returned.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the acl to return. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.get",
                      "description": "Returns the properties of a single acl.",
                      "response": {
                        "$ref": "Acl"
                      },
                      "path": "v1/{+name}"
                    },
                    "create": {
                      "path": "v1/{+parent}/acls",
                      "request": {
                        "$ref": "Acl"
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.create",
                      "description": "Creates a new acl in the given project, location, and cluster.",
                      "response": {
                        "$ref": "Acl"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent cluster in which to create the acl. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "aclId": {
[...]
