{
  "title": "Manufacturer Center API",
  "version": "v1",
  "ownerName": "Google",
  "name": "manufacturers",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Manufacturer Center",
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "version_module": true,
  "description": "Public API for managing Manufacturer Center related data.",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "rootUrl": "https://manufacturers.googleapis.com/",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "delete": {
              "id": "manufacturers.accounts.products.delete",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "description": "Deletes the product from a Manufacturer Center account.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                }
              },
              "path": "v1/{+parent}/products/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}"
            },
            "list": {
              "id": "manufacturers.accounts.products.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "description": "Lists all the products in a Manufacturer Center account.",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The token returned by the previous request.",
                  "location": "query",
                  "type": "string"
                },
                "include": {
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "type": "string",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "repeated": true
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path"
                }
              },
              "path": "v1/{+parent}/products",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/products"
            },
            "update": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Attributes"
              },
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "name": {
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "path": "v1/{+parent}/products/{+name}",
              "id": "manufacturers.accounts.products.update",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product."
            },
            "get": {
              "response": {
                "$ref": "Product"
              },
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "id": "manufacturers.accounts.products.get",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "path": "v1/{+parent}/products/{+name}",
              "parameters": {
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                },
                "include": {
                  "type": "string",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "repeated": true,
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned."
                }
              }
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "response": {
                    "$ref": "ProductCertification"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/productCertifications",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/languages/[^/]+$"
                    }
                  },
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies."
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260417",
  "servicePath": "",
  "ownerDomain": "google.com",
  "basePath": "",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Image": {
      "id": "Image",
      "type": "object",
      "description": "An image.",
      "properties": {
        "type": {
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ]
        },
        "status": {
          "description": "The status of the image. @OutputOnly",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "type": "string",
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ]
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."
        }
      }
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "properties": {
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        }
      },
      "description": "Description of a certification.",
      "type": "object",
      "id": "GoogleShoppingManufacturersV1ProductCertification"
    },
    "DestinationStatus": {
      "properties": {
        "approvedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "disapprovedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "status": {
          "description": "The status of the destination.",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ]
        },
        "pendingCountries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The destination status.",
      "type": "object",
      "id": "DestinationStatus"
    },
    "Price": {
      "description": "A price.",
      "properties": {
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        },
        "amount": {
          "type": "string",
          "description": "The numeric value of the price."
        }
      },
      "id": "Price",
      "type": "object"
    },
    "Count": {
      "type": "object",
      "id": "Count",
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "description": "The unit in which these products are counted.",
          "type": "string"
        }
      },
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
    },
    "VoluntaryNutritionFact": {
      "description": "Voluntary Nutrition Facts.",
      "properties": {
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        },
        "dailyPercentage": {
          "type": "number",
          "description": "Daily percentage.",
          "format": "double"
        },
        "name": {
          "type": "string",
          "description": "Name."
        }
      },
      "id": "VoluntaryNutritionFact",
      "type": "object"
    },
    "ProductCertification": {
      "id": "ProductCertification",
      "type": "object",
      "description": "Product certification data.",
      "properties": {
        "productCode": {
          "type": "array",
          "description": "Optional. Another name for GTIN.",
          "items": {
            "type": "string"
          }
        },
        "destinationStatuses": {
          "description": "Output only. The statuses of the destinations.",
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array",
          "readOnly": true
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "countryCode": {
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "brand": {
          "type": "string",
          "description": "Required. This is the product's brand name. The brand is used to help identify your product."
        },
        "mpn": {
          "type": "array",
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "items": {
            "type": "string"
          }
        },
        "productType": {
          "description": "Optional. These are your own product categorization system in your product data.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "issues": {
          "description": "Output only. A server-generated list of issues associated with the product.",
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "certification": {
          "type": "array",
          "description": "Required. A list of certifications to link to the described product.",
          "items": {
            "$ref": "Certification"
          }
        }
      }
    },
    "Capacity": {
      "type": "object",
      "id": "Capacity",
      "properties": {
        "value": {
          "description": "The numeric value of the capacity.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      },
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
    },
    "Product": {
      "id": "Product",
      "type": "object",
      "description": "Product data.",
      "properties": {
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "issues": {
          "type": "array",
          "description": "A server-generated list of issues associated with the product.",
          "items": {
            "$ref": "Issue"
          }
        },
        "name": {
          "type": "string",
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "destinationStatuses": {
          "description": "The status of the destinations.",
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array"
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        }
      }
    },
    "Nutrition": {
      "properties": {
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "dietaryFiberDailyPercentage": {
          "type": "number",
          "description": "Dietary fiber daily percentage.",
          "format": "double"
        },
        "totalCarbohydrateDailyPercentage": {
          "type": "number",
          "description": "Total carbohydrate daily percentage.",
          "format": "double"
        },
        "polyunsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Polyunsaturated fat."
        },
        "polyols": {
          "$ref": "FloatUnit",
          "description": "Polyols."
        },
        "addedSugars": {
          "$ref": "FloatUnit",
          "description": "Added sugars."
        },
        "potassiumDailyPercentage": {
          "description": "Potassium daily percentage.",
          "format": "double",
          "type": "number"
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrate": {
          "$ref": "FloatUnit",
          "description": "Total carbohydrate."
        },
        "protein": {
          "description": "Protein.",
          "$ref": "FloatUnit"
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "cholesterolDailyPercentage": {
          "description": "Cholesterol daily percentage.",
          "format": "double",
          "type": "number"
        },
        "dietaryFiber": {
          "$ref": "FloatUnit",
          "description": "Dietary fiber."
        },
        "addedSugarsDailyPercentage": {
          "description": "Added sugars daily percentage.",
          "format": "double",
          "type": "number"
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "saturatedFatDailyPercentage": {
          "type": "number",
          "description": "Saturated fat daily percentage.",
          "format": "double"
        },
        "transFatDailyPercentage": {
          "description": "Trans fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "folateDailyPercentage": {
          "type": "number",
          "description": "Folate daily percentage.",
          "format": "double"
        },
        "totalSugars": {
          "$ref": "FloatUnit",
          "description": "Total sugars."
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "totalFat": {
          "$ref": "FloatUnit",
          "description": "Total fat."
        },
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "voluntaryNutritionFact": {
          "type": "array",
          "description": "Voluntary nutrition fact.",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "sodiumDailyPercentage": {
          "description": "Sodium daily percentage.",
          "format": "double",
          "type": "number"
        },
        "ironDailyPercentage": {
          "description": "Iron daily percentage.",
          "format": "double",
          "type": "number"
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "servingSizeDescription": {
          "type": "string",
          "description": "Food Serving Size. Serving size description."
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "format": "double",
          "type": "number"
        },
        "totalSugarsDailyPercentage": {
          "description": "Total sugars daily percentage.",
          "format": "double",
          "type": "number"
        },
        "vitaminD": {
          "$ref": "FloatUnit",
          "description": "Vitamin D."
        },
        "iron": {
          "description": "Iron.",
          "$ref": "FloatUnit"
        },
        "starch": {
          "$ref": "FloatUnit",
          "description": "Starch."
        },
        "folateMcgDfe": {
          "type": "number",
          "description": "Folate mcg DFE.",
          "format": "double"
        },
        "totalFatDailyPercentage": {
          "type": "number",
          "description": "Total fat daily percentage.",
          "format": "double"
        },
        "proteinDailyPercentage": {
          "description": "Protein daily percentage.",
          "format": "double",
          "type": "number"
        },
        "monounsaturatedFat": {
          "description": "Monounsaturated fat.",
          "$ref": "FloatUnit"
        },
        "preparedSizeDescription": {
          "type": "string",
          "description": "Prepared size description."
        },
        "cholesterol": {
          "description": "Cholesterol.",
          "$ref": "FloatUnit"
        },
        "vitaminDDailyPercentage": {
          "description": "Vitamin D daily percentage.",
          "format": "double",
          "type": "number"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        }
      },
      "type": "object",
      "id": "Nutrition"
    },
    "ListProductsResponse": {
      "type": "object",
      "id": "ListProductsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        },
        "products": {
          "type": "array",
          "description": "List of the products.",
          "items": {
            "$ref": "Product"
          }
        }
      }
    },
    "Attributes": {
      "properties": {
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "itemGroupId": {
          "type": "string",
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid."
        },
        "material": {
          "type": "string",
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material."
        },
        "sizeType": {
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "releaseDate": {
          "type": "string",
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release."
        },
        "nutrition": {
          "$ref": "Nutrition",
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings."
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "productDetail": {
          "type": "array",
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "productType": {
          "type": "array",
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "items": {
            "type": "string"
          }
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "ageGroup": {
          "type": "string",
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup."
        },
        "title": {
          "type": "string",
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title."
        },
        "featureDescription": {
          "type": "array",
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "virtualModelLink": {
          "type": "string",
          "description": "Virtual Model (3d) asset link."
        },
        "videoLink": {
          "type": "array",
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "items": {
            "type": "string"
          }
        },
        "certification": {
          "description": "Optional. List of certifications claimed by this product.",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "type": "array"
        },
        "richProductContent": {
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "includedDestination": {
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disclosureDate": {
          "type": "string",
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "color": {
          "type": "string",
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color."
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "productHighlight": {
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "intendedCountry": {
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "additionalImageLink": {
          "type": "array",
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "items": {
            "$ref": "Image"
          }
        },
        "grocery": {
          "$ref": "Grocery",
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery."
        },
        "productName": {
          "type": "string",
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname."
        },
        "scent": {
          "type": "string",
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent."
        },
        "excludedDestination": {
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        }
      },
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "type": "object",
      "id": "Attributes"
    },
    "FeatureDescription": {
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "An optional image describing the feature."
        },
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        },
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        }
      },
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "type": "object",
      "id": "FeatureDescription"
    },
    "FloatUnit": {
      "properties": {
        "amount": {
          "description": "amount.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "description": "unit.",
          "type": "string"
        }
      },
      "description": "Combination of float amount and unit.",
      "type": "object",
      "id": "FloatUnit"
    },
    "ListProductCertificationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "productCertifications": {
          "type": "array",
          "description": "The product certifications from the specified certification body.",
          "items": {
            "$ref": "ProductCertification"
          }
        }
      },
      "description": "Response for ListProductCertifications method.",
      "type": "object",
      "id": "ListProductCertificationsResponse"
    },
    "Issue": {
      "description": "Product issue.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Longer description of the issue focused on how to resolve it."
        },
        "destination": {
          "type": "string",
          "description": "The destination this issue applies to."
        },
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "resolution": {
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "description": "What needs to happen to resolve the issue.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ]
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "description": "The severity of the issue.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "title": {
          "type": "string",
          "description": "Short title describing the nature of the issue."
        },
        "timestamp": {
          "type": "string",
          "description": "The timestamp when this issue appeared.",
          "format": "google-datetime"
        },
        "attribute": {
          "type": "string",
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116."
        },
        "applicableCountries": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Issue",
      "type": "object"
    },
    "Certification": {
      "description": "Description of a certification.",
      "properties": {
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        }
      },
      "id": "Certification",
      "type": "object"
    },
    "ProductDetail": {
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "The value of the attribute."
        },
        "sectionName": {
          "type": "string",
          "description": "A short section name that can be reused between multiple product details."
        },
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        }
      },
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "type": "object",
      "id": "ProductDetail"
    },
    "Grocery": {
      "properties": {
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "nutritionClaim": {
          "description": "Nutrition claim.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "alcoholByVolume": {
          "description": "Alcohol by volume.",
          "format": "double",
          "type": "number"
        },
        "directions": {
          "type": "string",
          "description": "Directions."
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "storageInstructions": {
          "type": "string",
          "description": "Storage instructions."
        },
        "activeIngredients": {
          "type": "string",
          "description": "Active ingredients."
        }
      },
      "type": "object",
      "id": "Grocery"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "protocol": "rest",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "id": "manufacturers:v1"
}