{
  "name": "manufacturers",
  "servicePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "description": "Public API for managing Manufacturer Center related data.",
  "id": "manufacturers:v1",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "discoveryVersion": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "title": "Manufacturer Center API",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://manufacturers.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Product"
              },
              "path": "v1/{+parent}/products/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string"
                },
                "include": {
                  "repeated": true,
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ]
                }
              },
              "parameterOrder": [
                "parent",
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "id": "manufacturers.accounts.products.get",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear."
            },
            "update": {
              "id": "manufacturers.accounts.products.update",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "name": {
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent",
                "name"
              ],
              "httpMethod": "PUT",
              "path": "v1/{+parent}/products/{+name}",
              "request": {
                "$ref": "Attributes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "delete": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent",
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "manufacturers.accounts.products.delete",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "description": "Deletes the product from a Manufacturer Center account.",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/products/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ]
            },
            "list": {
              "path": "v1/{+parent}/products",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "response": {
                "$ref": "ListProductsResponse"
              },
              "description": "Lists all the products in a Manufacturer Center account.",
              "flatPath": "v1/accounts/{accountsId}/products",
              "id": "manufacturers.accounts.products.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "The token returned by the previous request.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "location": "query",
                  "format": "int32"
                },
                "include": {
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "location": "query",
                  "repeated": true,
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ]
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "path": "v1/{+parent}/productCertifications",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ]
                },
                "get": {
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "ProductCertification"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260417",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "basePath": "",
  "protocol": "rest",
  "canonicalName": "Manufacturer Center",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "schemas": {
    "Price": {
      "description": "A price.",
      "type": "object",
      "properties": {
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        },
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        }
      },
      "id": "Price"
    },
    "Nutrition": {
      "type": "object",
      "id": "Nutrition",
      "properties": {
        "polyunsaturatedFat": {
          "description": "Polyunsaturated fat.",
          "$ref": "FloatUnit"
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "totalSugars": {
          "$ref": "FloatUnit",
          "description": "Total sugars."
        },
        "voluntaryNutritionFact": {
          "items": {
            "$ref": "VoluntaryNutritionFact"
          },
          "type": "array",
          "description": "Voluntary nutrition fact."
        },
        "dietaryFiberDailyPercentage": {
          "description": "Dietary fiber daily percentage.",
          "format": "double",
          "type": "number"
        },
        "starch": {
          "description": "Starch.",
          "$ref": "FloatUnit"
        },
        "totalFatDailyPercentage": {
          "description": "Total fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "addedSugarsDailyPercentage": {
          "type": "number",
          "description": "Added sugars daily percentage.",
          "format": "double"
        },
        "folateDailyPercentage": {
          "description": "Folate daily percentage.",
          "format": "double",
          "type": "number"
        },
        "potassium": {
          "$ref": "FloatUnit",
          "description": "Potassium."
        },
        "servingsPerContainer": {
          "type": "string",
          "description": "Servings per container."
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        },
        "cholesterol": {
          "$ref": "FloatUnit",
          "description": "Cholesterol."
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "transFatDailyPercentage": {
          "type": "number",
          "description": "Trans fat daily percentage.",
          "format": "double"
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "vitaminDDailyPercentage": {
          "type": "number",
          "description": "Vitamin D daily percentage.",
          "format": "double"
        },
        "proteinDailyPercentage": {
          "type": "number",
          "description": "Protein daily percentage.",
          "format": "double"
        },
        "monounsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Monounsaturated fat."
        },
        "cholesterolDailyPercentage": {
          "description": "Cholesterol daily percentage.",
          "format": "double",
          "type": "number"
        },
        "potassiumDailyPercentage": {
          "type": "number",
          "description": "Potassium daily percentage.",
          "format": "double"
        },
        "servingSizeDescription": {
          "type": "string",
          "description": "Food Serving Size. Serving size description."
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "totalSugarsDailyPercentage": {
          "type": "number",
          "description": "Total sugars daily percentage.",
          "format": "double"
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "format": "double",
          "type": "number"
        },
        "folateMcgDfe": {
          "type": "number",
          "description": "Folate mcg DFE.",
          "format": "double"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "saturatedFatDailyPercentage": {
          "description": "Saturated fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "sodiumDailyPercentage": {
          "description": "Sodium daily percentage.",
          "format": "double",
          "type": "number"
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "ironDailyPercentage": {
          "type": "number",
          "description": "Iron daily percentage.",
          "format": "double"
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "calcium": {
          "$ref": "FloatUnit",
          "description": "Calcium."
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrateDailyPercentage": {
          "description": "Total carbohydrate daily percentage.",
          "format": "double",
          "type": "number"
        },
        "energyFromFat": {
          "$ref": "FloatUnit",
          "description": "Energy from fat."
        },
        "folateFolicAcid": {
          "$ref": "FloatUnit",
          "description": "Folate folic acid."
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "protein": {
          "$ref": "FloatUnit",
          "description": "Protein."
        },
        "polyols": {
          "description": "Polyols.",
          "$ref": "FloatUnit"
        }
      }
    },
    "VoluntaryNutritionFact": {
      "type": "object",
      "description": "Voluntary Nutrition Facts.",
      "id": "VoluntaryNutritionFact",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name."
        },
        "dailyPercentage": {
          "description": "Daily percentage.",
          "format": "double",
          "type": "number"
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        }
      }
    },
    "Grocery": {
      "properties": {
        "alcoholByVolume": {
          "description": "Alcohol by volume.",
          "format": "double",
          "type": "number"
        },
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "directions": {
          "type": "string",
          "description": "Directions."
        },
        "derivedNutritionClaim": {
          "type": "array",
          "description": "Derived nutrition claim.",
          "items": {
            "type": "string"
          }
        },
        "storageInstructions": {
          "type": "string",
          "description": "Storage instructions."
        },
        "ingredients": {
          "type": "string",
          "description": "Ingredients."
        },
        "nutritionClaim": {
          "description": "Nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "allergens": {
          "description": "Allergens.",
          "type": "string"
        }
      },
      "id": "Grocery",
      "type": "object"
    },
    "ListProductsResponse": {
      "properties": {
        "products": {
          "items": {
            "$ref": "Product"
          },
          "type": "array",
          "description": "List of the products."
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        }
      },
      "id": "ListProductsResponse",
      "type": "object"
    },
    "FeatureDescription": {
      "properties": {
        "text": {
          "type": "string",
          "description": "A detailed description of the feature."
        },
        "headline": {
          "type": "string",
          "description": "A short description of the feature."
        },
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        }
      },
      "id": "FeatureDescription",
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "type": "object"
    },
    "ProductCertification": {
      "description": "Product certification data.",
      "type": "object",
      "properties": {
        "certification": {
          "type": "array",
          "description": "Required. A list of certifications to link to the described product.",
          "items": {
            "$ref": "Certification"
          }
        },
        "productCode": {
          "description": "Optional. Another name for GTIN.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mpn": {
          "type": "array",
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "items": {
            "type": "string"
          }
        },
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "readOnly": true,
          "description": "Output only. A server-generated list of issues associated with the product.",
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Required. This is to clearly identify the product you are certifying."
        },
        "brand": {
          "type": "string",
          "description": "Required. This is the product's brand name. The brand is used to help identify your product."
        },
        "destinationStatuses": {
          "readOnly": true,
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array",
          "description": "Output only. The statuses of the destinations."
        },
        "countryCode": {
          "type": "array",
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "productType": {
          "type": "array",
          "description": "Optional. These are your own product categorization system in your product data.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ProductCertification"
    },
    "Issue": {
      "properties": {
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "The timestamp when this issue appeared.",
          "format": "google-datetime"
        },
        "applicableCountries": {
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "resolution": {
          "type": "string",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "description": "What needs to happen to resolve the issue.",
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ]
        },
        "description": {
          "description": "Longer description of the issue focused on how to resolve it.",
          "type": "string"
        },
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Short title describing the nature of the issue."
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "description": "The severity of the issue.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "destination": {
          "type": "string",
          "description": "The destination this issue applies to."
        }
      },
      "id": "Issue",
      "description": "Product issue.",
      "type": "object"
    },
    "ListProductCertificationsResponse": {
      "id": "ListProductCertificationsResponse",
      "properties": {
        "productCertifications": {
          "type": "array",
          "description": "The product certifications from the specified certification body.",
          "items": {
            "$ref": "ProductCertification"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for ListProductCertifications method."
    },
    "Attributes": {
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "type": "object",
      "properties": {
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description."
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "pattern": {
          "type": "string",
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern."
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "count": {
          "$ref": "Count",
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
        },
        "productPageUrl": {
          "type": "string",
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage."
        },
        "sizeType": {
          "type": "array",
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string",
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title."
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "sizeSystem": {
          "type": "string",
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem."
        },
        "virtualModelLink": {
          "type": "string",
          "description": "Virtual Model (3d) asset link."
        },
        "includedDestination": {
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gtin": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin."
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "productHighlight": {
          "items": {
            "type": "string"
          },
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "type": "array"
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "additionalImageLink": {
          "items": {
            "$ref": "Image"
          },
          "type": "array",
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage."
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "richProductContent": {
          "items": {
            "type": "string"
          },
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "type": "array"
        },
        "certification": {
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "description": "Optional. List of certifications claimed by this product.",
          "type": "array"
        },
        "intendedCountry": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown."
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme.",
          "type": "string"
        },
        "featureDescription": {
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "productDetail": {
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "type": "array"
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "excludedDestination": {
          "type": "array",
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "nutrition": {
          "$ref": "Nutrition",
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings."
        },
        "material": {
          "type": "string",
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material."
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "ageGroup": {
          "type": "string",
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup."
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype."
        },
        "disclosureDate": {
          "type": "string",
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        }
      },
      "id": "Attributes"
    },
    "Image": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ]
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."
        },
        "status": {
          "description": "The status of the image. @OutputOnly",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ]
        }
      },
      "id": "Image",
      "description": "An image.",
      "type": "object"
    },
    "Capacity": {
      "type": "object",
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "id": "Capacity",
      "properties": {
        "value": {
          "type": "string",
          "description": "The numeric value of the capacity.",
          "format": "int64"
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      }
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "description": "Description of a certification.",
      "type": "object",
      "properties": {
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        }
      },
      "id": "GoogleShoppingManufacturersV1ProductCertification"
    },
    "DestinationStatus": {
      "type": "object",
      "description": "The destination status.",
      "id": "DestinationStatus",
      "properties": {
        "destination": {
          "type": "string",
          "description": "The name of the destination."
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ],
          "description": "The status of the destination."
        },
        "pendingCountries": {
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "type": "array"
        },
        "disapprovedCountries": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        }
      }
    },
    "ProductDetail": {
      "properties": {
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        }
      },
      "id": "ProductDetail",
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Count": {
      "id": "Count",
      "properties": {
        "value": {
          "type": "string",
          "description": "The numeric value of the number of products in a package.",
          "format": "int64"
        },
        "unit": {
          "description": "The unit in which these products are counted.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
    },
    "Product": {
      "properties": {
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "contentLanguage": {
          "type": "string",
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en)."
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "destinationStatuses": {
          "type": "array",
          "description": "The status of the destinations.",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "issues": {
          "description": "A server-generated list of issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        },
        "feedLabel": {
          "type": "string",
          "description": "Optional. The feed label for the product."
        }
      },
      "id": "Product",
      "description": "Product data.",
      "type": "object"
    },
    "FloatUnit": {
      "type": "object",
      "description": "Combination of float amount and unit.",
      "id": "FloatUnit",
      "properties": {
        "amount": {
          "type": "number",
          "description": "amount.",
          "format": "double"
        },
        "unit": {
          "description": "unit.",
          "type": "string"
        }
      }
    },
    "Certification": {
      "properties": {
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        }
      },
      "id": "Certification",
      "description": "Description of a certification.",
      "type": "object"
    }
  },
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}