{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "Public API for managing Manufacturer Center related data.",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$",
                  "location": "path"
                },
                "include": {
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "repeated": true,
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned."
                },
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Product"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "id": "manufacturers.accounts.products.get",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "path": "v1/{+parent}/products/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ]
            },
            "update": {
              "parameterOrder": [
                "parent",
                "name"
              ],
              "id": "manufacturers.accounts.products.update",
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "name": {
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "request": {
                "$ref": "Attributes"
              },
              "path": "v1/{+parent}/products/{+name}"
            },
            "delete": {
              "description": "Deletes the product from a Manufacturer Center account.",
              "id": "manufacturers.accounts.products.delete",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "path": "v1/{+parent}/products/{+name}"
            },
            "list": {
              "parameters": {
                "include": {
                  "type": "string",
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "repeated": true,
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ]
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The token returned by the previous request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListProductsResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/products",
              "description": "Lists all the products in a Manufacturer Center account.",
              "id": "manufacturers.accounts.products.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/products",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ]
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.patch"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "path": "v1/{+name}"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page."
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "path": "v1/{+parent}/productCertifications"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "servicePath": "",
  "canonicalName": "Manufacturer Center",
  "kind": "discovery#restDescription",
  "revision": "20260410",
  "rootUrl": "https://manufacturers.googleapis.com/",
  "schemas": {
    "VoluntaryNutritionFact": {
      "id": "VoluntaryNutritionFact",
      "type": "object",
      "properties": {
        "dailyPercentage": {
          "type": "number",
          "description": "Daily percentage.",
          "format": "double"
        },
        "name": {
          "description": "Name.",
          "type": "string"
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        }
      },
      "description": "Voluntary Nutrition Facts."
    },
    "DestinationStatus": {
      "description": "The destination status.",
      "properties": {
        "status": {
          "description": "The status of the destination.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ]
        },
        "disapprovedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destination": {
          "type": "string",
          "description": "The name of the destination."
        },
        "approvedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pendingCountries": {
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DestinationStatus",
      "type": "object"
    },
    "Product": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "issues": {
          "description": "A server-generated list of issues associated with the product.",
          "items": {
            "$ref": "Issue"
          },
          "type": "array"
        },
        "destinationStatuses": {
          "type": "array",
          "description": "The status of the destinations.",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "feedLabel": {
          "type": "string",
          "description": "Optional. The feed label for the product."
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        }
      },
      "id": "Product",
      "type": "object",
      "description": "Product data."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Certification": {
      "id": "Certification",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        }
      },
      "description": "Description of a certification."
    },
    "ProductDetail": {
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "id": "ProductDetail",
      "type": "object",
      "properties": {
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the attribute."
        },
        "attributeName": {
          "type": "string",
          "description": "The name of the attribute."
        }
      }
    },
    "Image": {
      "id": "Image",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ]
        },
        "status": {
          "description": "The status of the image. @OutputOnly",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "type": "string",
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ]
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."
        }
      },
      "description": "An image."
    },
    "Price": {
      "id": "Price",
      "type": "object",
      "properties": {
        "amount": {
          "type": "string",
          "description": "The numeric value of the price."
        },
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        }
      },
      "description": "A price."
    },
    "ListProductCertificationsResponse": {
      "properties": {
        "productCertifications": {
          "description": "The product certifications from the specified certification body.",
          "items": {
            "$ref": "ProductCertification"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListProductCertificationsResponse",
      "type": "object",
      "description": "Response for ListProductCertifications method."
    },
    "Capacity": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The numeric value of the capacity.",
          "format": "int64"
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      },
      "id": "Capacity",
      "type": "object",
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
    },
    "Count": {
      "id": "Count",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        },
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
    },
    "Grocery": {
      "properties": {
        "storageInstructions": {
          "type": "string",
          "description": "Storage instructions."
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "nutritionClaim": {
          "type": "array",
          "description": "Nutrition claim.",
          "items": {
            "type": "string"
          }
        },
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "directions": {
          "type": "string",
          "description": "Directions."
        },
        "ingredients": {
          "type": "string",
          "description": "Ingredients."
        },
        "indications": {
          "type": "string",
          "description": "Indications."
        },
        "alcoholByVolume": {
          "description": "Alcohol by volume.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "Grocery",
      "type": "object"
    },
    "Issue": {
      "description": "Product issue.",
      "properties": {
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue."
        },
        "title": {
          "type": "string",
          "description": "Short title describing the nature of the issue."
        },
        "timestamp": {
          "type": "string",
          "description": "The timestamp when this issue appeared.",
          "format": "google-datetime"
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Longer description of the issue focused on how to resolve it."
        },
        "resolution": {
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "description": "What needs to happen to resolve the issue."
        },
        "applicableCountries": {
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Issue",
      "type": "object"
    },
    "Attributes": {
      "properties": {
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "items": {
            "$ref": "Image"
          },
          "type": "array"
        },
        "videoLink": {
          "type": "array",
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "items": {
            "type": "string"
          }
        },
        "includedDestination": {
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title."
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "pattern": {
          "type": "string",
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern."
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "sizeSystem": {
          "type": "string",
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem."
        },
        "material": {
          "type": "string",
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material."
        },
        "gender": {
          "type": "string",
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender."
        },
        "featureDescription": {
          "type": "array",
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "disclosureDate": {
          "type": "string",
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."
        },
        "sizeType": {
          "type": "array",
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          }
        },
        "theme": {
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme.",
          "type": "string"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "certification": {
          "type": "array",
          "description": "Optional. List of certifications claimed by this product.",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          }
        },
        "mpn": {
          "type": "string",
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn."
        },
        "productPageUrl": {
          "type": "string",
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage."
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "excludedDestination": {
          "type": "array",
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          }
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "virtualModelLink": {
          "type": "string",
          "description": "Virtual Model (3d) asset link."
        },
        "format": {
          "type": "string",
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format."
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "richProductContent": {
          "type": "array",
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "items": {
            "type": "string"
          }
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "productType": {
          "type": "array",
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "items": {
            "type": "string"
          }
        },
        "productDetail": {
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "items": {
            "$ref": "ProductDetail"
          },
          "type": "array"
        },
        "intendedCountry": {
          "type": "array",
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown.",
          "items": {
            "type": "string"
          }
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "productHighlight": {
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "itemGroupId": {
          "type": "string",
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid."
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        }
      },
      "id": "Attributes",
      "type": "object",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116."
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "type": "object",
      "properties": {
        "products": {
          "description": "List of the products.",
          "items": {
            "$ref": "Product"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        }
      }
    },
    "FloatUnit": {
      "id": "FloatUnit",
      "type": "object",
      "properties": {
        "unit": {
          "description": "unit.",
          "type": "string"
        },
        "amount": {
          "description": "amount.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Combination of float amount and unit."
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "description": "Description of a certification.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        }
      },
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "type": "object"
    },
    "Nutrition": {
      "id": "Nutrition",
      "type": "object",
      "properties": {
        "saturatedFatDailyPercentage": {
          "type": "number",
          "description": "Saturated fat daily percentage.",
          "format": "double"
        },
        "dietaryFiberDailyPercentage": {
          "description": "Dietary fiber daily percentage.",
          "format": "double",
          "type": "number"
        },
        "totalSugars": {
          "description": "Total sugars.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrateDailyPercentage": {
          "type": "number",
          "description": "Total carbohydrate daily percentage.",
          "format": "double"
        },
        "potassiumDailyPercentage": {
          "type": "number",
          "description": "Potassium daily percentage.",
          "format": "double"
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "transFatDailyPercentage": {
          "description": "Trans fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "totalFatDailyPercentage": {
          "description": "Total fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "cholesterol": {
          "description": "Cholesterol.",
          "$ref": "FloatUnit"
        },
        "calciumDailyPercentage": {
          "type": "number",
          "description": "Calcium daily percentage.",
          "format": "double"
        },
        "addedSugarsDailyPercentage": {
          "type": "number",
          "description": "Added sugars daily percentage.",
          "format": "double"
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "servingsPerContainer": {
          "type": "string",
          "description": "Servings per container."
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "servingSizeDescription": {
          "type": "string",
          "description": "Food Serving Size. Serving size description."
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "sodiumDailyPercentage": {
          "description": "Sodium daily percentage.",
          "format": "double",
          "type": "number"
        },
        "totalSugarsDailyPercentage": {
          "description": "Total sugars daily percentage.",
          "format": "double",
          "type": "number"
        },
        "ironDailyPercentage": {
          "type": "number",
          "description": "Iron daily percentage.",
          "format": "double"
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "proteinDailyPercentage": {
          "description": "Protein daily percentage.",
          "format": "double",
          "type": "number"
        },
        "folateMcgDfe": {
          "type": "number",
          "description": "Folate mcg DFE.",
          "format": "double"
        },
        "monounsaturatedFat": {
          "description": "Monounsaturated fat.",
          "$ref": "FloatUnit"
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "folateDailyPercentage": {
          "type": "number",
          "description": "Folate daily percentage.",
          "format": "double"
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "cholesterolDailyPercentage": {
          "description": "Cholesterol daily percentage.",
          "format": "double",
          "type": "number"
        },
        "starch": {
          "description": "Starch.",
          "$ref": "FloatUnit"
        },
        "iron": {
          "description": "Iron.",
          "$ref": "FloatUnit"
        },
        "protein": {
          "description": "Protein.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "vitaminDDailyPercentage": {
          "description": "Vitamin D daily percentage.",
          "format": "double",
          "type": "number"
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "polyols": {
          "description": "Polyols.",
          "$ref": "FloatUnit"
        },
        "polyunsaturatedFat": {
          "description": "Polyunsaturated fat.",
          "$ref": "FloatUnit"
        },
        "voluntaryNutritionFact": {
          "description": "Voluntary nutrition fact.",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          },
          "type": "array"
        }
      }
    },
    "ProductCertification": {
      "description": "Product certification data.",
      "properties": {
        "countryCode": {
          "type": "array",
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "items": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "array",
          "description": "Optional. Another name for GTIN.",
          "items": {
            "type": "string"
          }
        },
        "mpn": {
          "type": "array",
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "items": {
            "type": "string"
          }
        },
        "productType": {
          "description": "Optional. These are your own product categorization system in your product data.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "certification": {
          "type": "array",
          "description": "Required. A list of certifications to link to the described product.",
          "items": {
            "$ref": "Certification"
          }
        },
        "issues": {
          "description": "Output only. A server-generated list of issues associated with the product.",
          "readOnly": true,
          "items": {
            "$ref": "Issue"
          },
          "type": "array"
        },
        "destinationStatuses": {
          "type": "array",
          "description": "Output only. The statuses of the destinations.",
          "readOnly": true,
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637."
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "brand": {
          "description": "Required. This is the product's brand name. The brand is used to help identify your product.",
          "type": "string"
        }
      },
      "id": "ProductCertification",
      "type": "object"
    },
    "FeatureDescription": {
      "id": "FeatureDescription",
      "type": "object",
      "properties": {
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        },
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        },
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        }
      },
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc."
    }
  },
  "documentationLink": "https://developers.google.com/manufacturers/",
  "title": "Manufacturer Center API",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "name": "manufacturers",
  "basePath": "",
  "version": "v1",
  "id": "manufacturers:v1",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/"
}