{
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "discoveryVersion": "v1",
  "id": "marketingplatformadmin:v1alpha",
  "resources": {
    "organizations": {
      "methods": {
        "get": {
          "description": "Looks up a single organization.",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Organization"
          },
          "httpMethod": "GET",
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}"
            }
          },
          "id": "marketingplatformadmin.organizations.get",
          "path": "v1alpha/{+name}"
        },
        "reportPropertyUsage": {
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "parameters": {
            "organization": {
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}"
            }
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "parameterOrder": [
            "organization"
          ],
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only."
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "v1alpha/organizations",
          "id": "marketingplatformadmin.organizations.list",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token."
            }
          },
          "path": "v1alpha/organizations",
          "description": "Returns a list of organizations that the user has access to.",
          "parameterOrder": [],
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ]
        },
        "findSalesPartnerManagedClients": {
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "parameters": {
            "organization": {
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "httpMethod": "POST",
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "parameterOrder": [
            "organization"
          ],
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients."
        }
      },
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                }
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "httpMethod": "GET"
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again."
            },
            "delete": {
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "required": true,
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$"
                }
              },
              "path": "v1alpha/{+name}"
            },
            "setPropertyServiceLevel": {
              "description": "Updates the service level for an Analytics property.",
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "parameters": {
                "analyticsAccountLink": {
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "required": true
                }
              },
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel"
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "version": "v1alpha",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "servicePath": "",
  "name": "marketingplatformadmin",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "schemas": {
    "FindSalesPartnerManagedClientsResponse": {
      "type": "object",
      "properties": {
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "description": "The clients managed by the sales org.",
          "type": "array"
        }
      },
      "id": "FindSalesPartnerManagedClientsResponse",
      "description": "Response message for FindSalesPartnerManagedClients RPC."
    },
    "SetPropertyServiceLevelRequest": {
      "type": "object",
      "properties": {
        "serviceLevel": {
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "description": "Required. The service level to set for this property."
        },
        "analyticsProperty": {
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        }
      },
      "id": "SetPropertyServiceLevelRequest",
      "description": "Request message for SetPropertyServiceLevel RPC."
    },
    "BillInfo": {
      "id": "BillInfo",
      "description": "Contains the bill amount.",
      "type": "object",
      "properties": {
        "eventFee": {
          "$ref": "Money",
          "description": "The amount of the event fee."
        },
        "baseFee": {
          "$ref": "Money",
          "description": "The amount of the monthly base fee."
        },
        "priceProtectionCredit": {
          "description": "The amount of the price protection credit, this is only available for eligible customers.",
          "$ref": "Money"
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "PropertyUsage": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the property.",
          "type": "string"
        },
        "property": {
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "totalEventCount": {
          "type": "string",
          "format": "int64",
          "description": "Total event count that the property received during the requested month."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the property's parent account."
        },
        "serviceLevel": {
          "description": "The service level of the property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "type": "string",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "type": "string",
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "description": "The subtype of the analytics property. This affects the billable event count."
        },
        "billableEventCount": {
          "description": "The number of events for which the property is billed in the requested month.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PropertyUsage",
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events."
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "AnalyticsAccountLink": {
      "id": "AnalyticsAccountLink",
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\"",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human-readable name for the Analytics account."
        },
        "linkVerificationState": {
          "readOnly": true,
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "type": "string",
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization."
        },
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        }
      }
    },
    "ReportPropertyUsageRequest": {
      "id": "ReportPropertyUsageRequest",
      "description": "Request message for ReportPropertyUsage RPC.",
      "type": "object",
      "properties": {
        "month": {
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\"",
          "type": "string"
        }
      }
    },
    "Organization": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        }
      },
      "id": "Organization",
      "description": "A resource message representing a Google Marketing Platform organization."
    },
    "ListOrganizationsResponse": {
      "id": "ListOrganizationsResponse",
      "description": "Response message for ListOrganizations RPC.",
      "type": "object",
      "properties": {
        "organizations": {
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "items": {
            "$ref": "Organization"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "FindSalesPartnerManagedClientsRequest": {
      "type": "object",
      "properties": {
        "isActive": {
          "description": "Optional. If set, only active and just ended clients will be returned.",
          "type": "boolean"
        }
      },
      "id": "FindSalesPartnerManagedClientsRequest",
      "description": "Request message for FindSalesPartnerManagedClients RPC."
    },
    "SetPropertyServiceLevelResponse": {
      "type": "object",
      "properties": {},
      "id": "SetPropertyServiceLevelResponse",
      "description": "Response message for SetPropertyServiceLevel RPC."
    },
    "ClientData": {
      "type": "object",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        },
        "organization": {
          "$ref": "Organization",
          "description": "The end client that has/had contract with the requested sales org."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the contract between the sales org and the end client."
        }
      },
      "id": "ClientData",
      "description": "Contains the client data."
    },
    "ReportPropertyUsageResponse": {
      "type": "object",
      "properties": {
        "propertyUsages": {
          "items": {
            "$ref": "PropertyUsage"
          },
          "description": "Usage data for all properties in the specified organization and month.",
          "type": "array"
        },
        "billInfo": {
          "$ref": "BillInfo",
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data."
        }
      },
      "id": "ReportPropertyUsageResponse",
      "description": "Response message for ReportPropertyUsage RPC."
    },
    "ListAnalyticsAccountLinksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "analyticsAccountLinks": {
          "items": {
            "$ref": "AnalyticsAccountLink"
          },
          "description": "Analytics account links in this organization.",
          "type": "array"
        }
      },
      "id": "ListAnalyticsAccountLinksResponse",
      "description": "Response message for ListAnalyticsAccountLinks RPC."
    },
    "Money": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type."
    }
  },
  "revision": "20260309",
  "basePath": "",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "canonicalName": "Google Marketing Platform Admin API",
  "title": "Google Marketing Platform Admin API",
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  }
}