{
  "protocol": "rest",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        },
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        }
      }
    }
  },
  "description": "Create and manage meetings in Google Meet.",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "version": "v2",
  "version_module": true,
  "discoveryVersion": "v1",
  "id": "meet:v2",
  "revision": "20260414",
  "canonicalName": "Meet",
  "servicePath": "",
  "baseUrl": "https://meet.googleapis.com/",
  "resources": {
    "spaces": {
      "methods": {
        "patch": {
          "description": "Updates details about a meeting space. For an example, see [Update a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#update-meeting-space).",
          "path": "v2/{+name}",
          "flatPath": "v2/spaces/{spacesId}",
          "response": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "request": {
            "$ref": "Space"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request."
            },
            "name": {
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "type": "string",
              "required": true,
              "pattern": "^spaces/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "meet.spaces.patch"
        },
        "endActiveConference": {
          "request": {
            "$ref": "EndActiveConferenceRequest"
          },
          "httpMethod": "POST",
          "description": "Ends an active conference (if there's one). For an example, see [End active conference](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#end-active-conference).",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "path": "v2/{+name}:endActiveConference",
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "id": "meet.spaces.endActiveConference",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "type": "string",
              "required": true,
              "pattern": "^spaces/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^spaces/[^/]+$",
              "location": "path",
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "meet.spaces.get",
          "response": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "path": "v2/{+name}",
          "flatPath": "v2/spaces/{spacesId}",
          "description": "Gets details about a meeting space. For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "httpMethod": "GET"
        },
        "create": {
          "parameters": {},
          "parameterOrder": [],
          "id": "meet.spaces.create",
          "response": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "path": "v2/spaces",
          "flatPath": "v2/spaces",
          "description": "Creates a space.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Space"
          }
        }
      }
    },
    "conferenceRecords": {
      "methods": {
        "get": {
          "id": "meet.conferenceRecords.get",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^conferenceRecords/[^/]+$",
              "location": "path",
              "description": "Required. Resource name of the conference.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ConferenceRecord"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "path": "v2/{+name}",
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}",
          "description": "Gets a conference record by conference ID."
        },
        "list": {
          "id": "meet.conferenceRecords.list",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. Page token returned from previous List Call."
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v2/conferenceRecords",
          "flatPath": "v2/conferenceRecords",
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "description": "Lists the conference records. By default, ordered by start time and in descending order."
        }
      },
      "resources": {
        "transcripts": {
          "resources": {
            "entries": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "response": {
                    "$ref": "TranscriptEntry"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "description": "Gets a `TranscriptEntry` resource by entry ID. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "meet.conferenceRecords.transcripts.entries.list",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token returned from previous List Call."
                    },
                    "pageSize": {
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "path": "v2/{+parent}/entries",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries",
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                },
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token returned from previous List Call."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "meet.conferenceRecords.transcripts.list",
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order.",
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+parent}/transcripts",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Transcript"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+name}",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}",
              "description": "Gets a transcript by transcript ID.",
              "id": "meet.conferenceRecords.transcripts.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the transcript.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "smartNotes": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}",
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "meet.conferenceRecords.smartNotes.get",
              "response": {
                "$ref": "SmartNote"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+name}",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "description": "Gets smart notes by smart note ID.",
              "httpMethod": "GET"
            },
            "list": {
              "path": "v2/{+parent}/smartNotes",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes",
              "response": {
                "$ref": "ListSmartNotesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "meet.conferenceRecords.smartNotes.list"
            }
          }
        },
        "participants": {
          "resources": {
            "participantSessions": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ParticipantSession"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "description": "Gets a participant session by participant session ID.",
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "location": "path",
                      "description": "Required. Resource name of the participant.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v2/{+parent}/participantSessions",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`.",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future."
                    },
                    "parent": {
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. Page token returned from previous List Call.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "meet.conferenceRecords.participants.participantSessions.list"
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the participant.",
                  "type": "string",
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "meet.conferenceRecords.participants.get",
              "description": "Gets a participant by participant ID.",
              "path": "v2/{+name}",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "response": {
                "$ref": "Participant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "id": "meet.conferenceRecords.participants.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference."
                },
                "parent": {
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`"
                },
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v2/{+parent}/participants",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`."
            }
          }
        },
        "recordings": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+parent}/recordings",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings",
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order.",
              "id": "meet.conferenceRecords.recordings.list",
              "parameters": {
                "parent": {
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`"
                },
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "response": {
                "$ref": "Recording"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+name}",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}",
              "description": "Gets a recording by recording ID.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the recording.",
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "meet.conferenceRecords.recordings.get"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "title": "Google Meet API",
  "schemas": {
    "TranscriptEntry": {
      "properties": {
        "participant": {
          "type": "string",
          "description": "Output only. Refers to the participant who speaks.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. Timestamp when the transcript entry started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "text": {
          "type": "string",
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change.",
          "readOnly": true
        },
        "languageCode": {
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\"",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript entry ended.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "TranscriptEntry",
      "description": "Single entry for one user’s speech during a transcript session."
    },
    "ListSmartNotesResponse": {
      "id": "ListSmartNotesResponse",
      "description": "Response for ListSmartNotes method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned.",
          "type": "string"
        },
        "smartNotes": {
          "items": {
            "$ref": "SmartNote"
          },
          "type": "array",
          "description": "List of smart notes in one page."
        }
      }
    },
    "Space": {
      "id": "Space",
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
      "type": "object",
      "properties": {
        "meetingCode": {
          "type": "string",
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space.",
          "readOnly": true
        },
        "config": {
          "description": "Configuration pertaining to the meeting space.",
          "$ref": "SpaceConfig"
        },
        "phoneAccess": {
          "type": "array",
          "items": {
            "$ref": "PhoneAccess"
          },
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
          "readOnly": true
        },
        "meetingUri": {
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "readOnly": true,
          "type": "string"
        },
        "activeConference": {
          "description": "Active conference, if it exists.",
          "$ref": "ActiveConference"
        },
        "name": {
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
          "type": "string"
        },
        "gatewaySipAccess": {
          "description": "Output only. The SIP based access methods that can be used to join the conference. Can be empty.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GatewaySipAccess"
          }
        }
      }
    },
    "PhoneAccess": {
      "id": "PhoneAccess",
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number.",
      "properties": {
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character.",
          "type": "string"
        },
        "pin": {
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TranscriptionConfig": {
      "type": "object",
      "properties": {
        "autoTranscriptionGeneration": {
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      },
      "id": "TranscriptionConfig",
      "description": "Configuration related to transcription in a meeting space."
    },
    "EndActiveConferenceRequest": {
      "id": "EndActiveConferenceRequest",
      "description": "Request to end an ongoing conference of a space.",
      "properties": {},
      "type": "object"
    },
    "ListConferenceRecordsResponse": {
      "id": "ListConferenceRecordsResponse",
      "description": "Response of ListConferenceRecords method.",
      "properties": {
        "conferenceRecords": {
          "type": "array",
          "items": {
            "$ref": "ConferenceRecord"
          },
          "description": "List of conferences in one page."
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnonymousUser": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. User provided name when they join a conference anonymously.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AnonymousUser",
      "description": "User who joins anonymously (meaning not signed into a Google Account)."
    },
    "RecordingConfig": {
      "id": "RecordingConfig",
      "description": "Configuration related to recording in a meeting space.",
      "type": "object",
      "properties": {
        "autoRecordingGeneration": {
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      }
    },
    "ParticipantSession": {
      "id": "ParticipantSession",
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Output only. Timestamp when the user session starts.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Session id.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DriveDestination": {
      "id": "DriveDestination",
      "description": "Export location where a recording file is saved in Google Drive.",
      "type": "object",
      "properties": {
        "exportUri": {
          "type": "string",
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`.",
          "readOnly": true
        },
        "file": {
          "type": "string",
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
          "readOnly": true
        }
      }
    },
    "ListParticipantSessionsResponse": {
      "type": "object",
      "properties": {
        "participantSessions": {
          "description": "List of participants in one page.",
          "items": {
            "$ref": "ParticipantSession"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        }
      },
      "id": "ListParticipantSessionsResponse",
      "description": "Response of ListParticipants method."
    },
    "ArtifactConfig": {
      "properties": {
        "recordingConfig": {
          "description": "Configuration for recording.",
          "$ref": "RecordingConfig"
        },
        "transcriptionConfig": {
          "description": "Configuration for auto-transcript.",
          "$ref": "TranscriptionConfig"
        },
        "smartNotesConfig": {
          "description": "Configuration for auto-smart-notes.",
          "$ref": "SmartNotesConfig"
        }
      },
      "type": "object",
      "id": "ArtifactConfig",
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space."
    },
    "ConferenceRecord": {
      "id": "ConferenceRecord",
      "description": "Single instance of a meeting held in a space.",
      "properties": {
        "endTime": {
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "space": {
          "type": "string",
          "description": "Output only. The space where the conference was held.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. Timestamp when the conference started. Always set.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListTranscriptsResponse": {
      "id": "ListTranscriptsResponse",
      "description": "Response for ListTranscripts method.",
      "type": "object",
      "properties": {
        "transcripts": {
          "type": "array",
          "items": {
            "$ref": "Transcript"
          },
          "description": "List of transcripts in one page."
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned.",
          "type": "string"
        }
      }
    },
    "Participant": {
      "properties": {
        "phoneUser": {
          "description": "User calling from their phone.",
          "$ref": "PhoneUser"
        },
        "anonymousUser": {
          "description": "Anonymous user.",
          "$ref": "AnonymousUser"
        },
        "earliestStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the participant first joined the meeting.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
          "readOnly": true,
          "type": "string"
        },
        "latestEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting.",
          "readOnly": true
        },
        "signedinUser": {
          "description": "Signed-in user.",
          "$ref": "SignedinUser"
        }
      },
      "type": "object",
      "id": "Participant",
      "description": "User who attended or is attending a conference."
    },
    "ListRecordingsResponse": {
      "properties": {
        "recordings": {
          "description": "List of recordings in one page.",
          "items": {
            "$ref": "Recording"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListRecordingsResponse",
      "description": "Response for ListRecordings method."
    },
    "SmartNote": {
      "id": "SmartNote",
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference.",
      "properties": {
        "docsDestination": {
          "description": "Output only. The Google Doc destination where the smart notes are saved.",
          "readOnly": true,
          "$ref": "DocsDestination"
        },
        "state": {
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "description": "Output only. Current state.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the smart notes stopped.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the smart notes started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "SignedinUser": {
      "id": "SignedinUser",
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices.",
      "properties": {
        "user": {
          "type": "string",
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\".",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SpaceConfig": {
      "type": "object",
      "properties": {
        "accessType": {
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ],
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ],
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED."
        },
        "attendanceReportGenerationType": {
          "description": "Whether attendance report is enabled for the meeting space.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ],
          "type": "string",
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ]
        },
        "moderation": {
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ],
          "type": "string",
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ],
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies."
        },
        "moderationRestrictions": {
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions.",
          "$ref": "ModerationRestrictions"
        },
        "entryPointAccess": {
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "type": "string",
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ],
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL"
        },
        "artifactConfig": {
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports.",
          "$ref": "ArtifactConfig"
        }
      },
      "id": "SpaceConfig",
      "description": "The configuration pertaining to a meeting space."
    },
    "GatewaySipAccess": {
      "id": "GatewaySipAccess",
      "description": "Details how to join the conference via a SIP gateway.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The SIP URI the conference can be reached through. The string is on one of the formats: \"sip:@\" \"sips:@\" where currently is the 13-digit universal pin, and is a valid address to be resolved using a DNS SRV lookup, or a dotted quad.",
          "type": "string"
        },
        "sipAccessCode": {
          "description": "Permanent numeric code for manual entry on specially configured devices.",
          "type": "string"
        }
      }
    },
    "PhoneUser": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. Partially redacted user's phone number when calling.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PhoneUser",
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account."
    },
    "ListParticipantsResponse": {
      "id": "ListParticipantsResponse",
      "description": "Response of ListParticipants method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response."
        },
        "participants": {
          "description": "List of participants in one page.",
          "items": {
            "$ref": "Participant"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SmartNotesConfig": {
      "id": "SmartNotesConfig",
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931).",
      "type": "object",
      "properties": {
        "autoSmartNotesGeneration": {
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting."
        }
      }
    },
    "ActiveConference": {
      "id": "ActiveConference",
      "description": "Active conference.",
      "properties": {
        "conferenceRecord": {
          "type": "string",
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Recording": {
      "type": "object",
      "properties": {
        "driveDestination": {
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API.",
          "readOnly": true,
          "$ref": "DriveDestination"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the recording started.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Current state.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. Timestamp when the recording ended.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Recording",
      "description": "Metadata about a recording created during a conference."
    },
    "ModerationRestrictions": {
      "type": "object",
      "properties": {
        "chatRestriction": {
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to send chat messages in the meeting space."
        },
        "presentRestriction": {
          "description": "Defines who has permission to share their screen in the meeting space.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "reactionRestriction": {
          "description": "Defines who has permission to send reactions in the meeting space.",
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ]
        },
        "defaultJoinAsViewerType": {
          "description": "Defines whether to restrict the default role assigned to users as viewer.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      },
      "id": "ModerationRestrictions",
      "description": "Defines restrictions for features when the meeting is moderated."
    },
    "ListTranscriptEntriesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned.",
          "type": "string"
        },
        "transcriptEntries": {
          "items": {
            "$ref": "TranscriptEntry"
          },
          "type": "array",
          "description": "List of TranscriptEntries in one page."
        }
      },
      "id": "ListTranscriptEntriesResponse",
      "description": "Response for ListTranscriptEntries method."
    },
    "DocsDestination": {
      "id": "DocsDestination",
      "description": "Google Docs location where the transcript file is saved.",
      "properties": {
        "document": {
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content.",
          "readOnly": true,
          "type": "string"
        },
        "exportUri": {
          "type": "string",
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Transcript": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript started.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript stopped.",
          "readOnly": true
        },
        "docsDestination": {
          "description": "Output only. Where the Google Docs transcript is saved.",
          "readOnly": true,
          "$ref": "DocsDestination"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "description": "Output only. Current state.",
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ]
        }
      },
      "type": "object",
      "id": "Transcript",
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference."
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "rootUrl": "https://meet.googleapis.com/",
  "name": "meet",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com"
}