{
  "name": "meet",
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "description": "Create and manage meetings in Google Meet.",
  "baseUrl": "https://meet.googleapis.com/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        }
      }
    }
  },
  "revision": "20260303",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "resources": {
    "spaces": {
      "methods": {
        "patch": {
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "pattern": "^spaces/[^/]+$"
            }
          },
          "description": "Updates details about a meeting space. For an example, see [Update a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#update-meeting-space).",
          "response": {
            "$ref": "Space"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "id": "meet.spaces.patch",
          "flatPath": "v2/spaces/{spacesId}",
          "request": {
            "$ref": "Space"
          }
        },
        "endActiveConference": {
          "httpMethod": "POST",
          "path": "v2/{+name}:endActiveConference",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "pattern": "^spaces/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "description": "Ends an active conference (if there's one). For an example, see [End active conference](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#end-active-conference).",
          "response": {
            "$ref": "Empty"
          },
          "id": "meet.spaces.endActiveConference",
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "request": {
            "$ref": "EndActiveConferenceRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ]
        },
        "create": {
          "id": "meet.spaces.create",
          "flatPath": "v2/spaces",
          "request": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v2/spaces",
          "parameters": {},
          "description": "Creates a space.",
          "response": {
            "$ref": "Space"
          }
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "pattern": "^spaces/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets details about a meeting space. For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "response": {
            "$ref": "Space"
          },
          "id": "meet.spaces.get",
          "flatPath": "v2/spaces/{spacesId}",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ]
        }
      }
    },
    "conferenceRecords": {
      "methods": {
        "get": {
          "response": {
            "$ref": "ConferenceRecord"
          },
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^conferenceRecords/[^/]+$",
              "description": "Required. Resource name of the conference."
            }
          },
          "description": "Gets a conference record by conference ID.",
          "path": "v2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "id": "meet.conferenceRecords.get",
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}"
        },
        "list": {
          "path": "v2/conferenceRecords",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. Page token returned from previous List Call.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`"
            }
          },
          "description": "Lists the conference records. By default, ordered by start time and in descending order.",
          "id": "meet.conferenceRecords.list",
          "flatPath": "v2/conferenceRecords",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ]
        }
      },
      "resources": {
        "transcripts": {
          "methods": {
            "get": {
              "id": "meet.conferenceRecords.transcripts.get",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                  "description": "Required. Resource name of the transcript.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets a transcript by transcript ID.",
              "response": {
                "$ref": "Transcript"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token returned from previous List Call.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$"
                }
              },
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order.",
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v2/{+parent}/transcripts",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.transcripts.list",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts"
            }
          },
          "resources": {
            "entries": {
              "methods": {
                "get": {
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "TranscriptEntry"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$",
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets a `TranscriptEntry` resource by entry ID. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation."
                },
                "list": {
                  "id": "meet.conferenceRecords.transcripts.entries.list",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "path": "v2/{+parent}/entries",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "Page token returned from previous List Call.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation."
                }
              }
            }
          }
        },
        "participants": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Participant"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the participant.",
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets a participant by participant ID.",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.participants.get",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token returned from previous List Call.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$"
                },
                "filter": {
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`.",
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "httpMethod": "GET",
              "path": "v2/{+parent}/participants",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.participants.list",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants"
            }
          },
          "resources": {
            "participantSessions": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "response": {
                    "$ref": "ParticipantSession"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "description": "Required. Resource name of the participant."
                    }
                  },
                  "description": "Gets a participant session by participant session ID.",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "meet.conferenceRecords.participants.participantSessions.list",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/participantSessions",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Page token returned from previous List Call.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`.",
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  }
                }
              }
            }
          }
        },
        "recordings": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the recording.",
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets a recording by recording ID.",
              "response": {
                "$ref": "Recording"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.recordings.get",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}"
            },
            "list": {
              "id": "meet.conferenceRecords.recordings.list",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET",
              "path": "v2/{+parent}/recordings",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token returned from previous List Call.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order.",
              "response": {
                "$ref": "ListRecordingsResponse"
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://meet.googleapis.com/",
  "canonicalName": "Meet",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "basePath": "",
  "id": "meet:v2",
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "schemas": {
    "PhoneUser": {
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
      "type": "object",
      "id": "PhoneUser",
      "properties": {
        "displayName": {
          "description": "Output only. Partially redacted user's phone number when calling.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "EndActiveConferenceRequest": {
      "id": "EndActiveConferenceRequest",
      "properties": {},
      "type": "object",
      "description": "Request to end an ongoing conference of a space."
    },
    "SmartNotesConfig": {
      "id": "SmartNotesConfig",
      "properties": {
        "autoSmartNotesGeneration": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "type": "string",
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting.",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      },
      "type": "object",
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931)."
    },
    "ParticipantSession": {
      "id": "ParticipantSession",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Session id."
        },
        "startTime": {
          "description": "Output only. Timestamp when the user session starts.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions.",
      "type": "object"
    },
    "ListTranscriptEntriesResponse": {
      "id": "ListTranscriptEntriesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned."
        },
        "transcriptEntries": {
          "description": "List of TranscriptEntries in one page.",
          "type": "array",
          "items": {
            "$ref": "TranscriptEntry"
          }
        }
      },
      "type": "object",
      "description": "Response for ListTranscriptEntries method."
    },
    "ListParticipantSessionsResponse": {
      "id": "ListParticipantSessionsResponse",
      "properties": {
        "participantSessions": {
          "description": "List of participants in one page.",
          "type": "array",
          "items": {
            "$ref": "ParticipantSession"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        }
      },
      "description": "Response of ListParticipants method.",
      "type": "object"
    },
    "Recording": {
      "id": "Recording",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the recording started.",
          "readOnly": true,
          "type": "string"
        },
        "driveDestination": {
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API.",
          "readOnly": true,
          "$ref": "DriveDestination"
        },
        "state": {
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ],
          "description": "Output only. Current state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Timestamp when the recording ended.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
          "readOnly": true
        }
      },
      "description": "Metadata about a recording created during a conference.",
      "type": "object"
    },
    "TranscriptionConfig": {
      "description": "Configuration related to transcription in a meeting space.",
      "type": "object",
      "id": "TranscriptionConfig",
      "properties": {
        "autoTranscriptionGeneration": {
          "type": "string",
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting.",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ]
        }
      }
    },
    "AnonymousUser": {
      "description": "User who joins anonymously (meaning not signed into a Google Account).",
      "type": "object",
      "id": "AnonymousUser",
      "properties": {
        "displayName": {
          "description": "Output only. User provided name when they join a conference anonymously.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Participant": {
      "type": "object",
      "description": "User who attended or is attending a conference.",
      "id": "Participant",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
          "readOnly": true
        },
        "signedinUser": {
          "description": "Signed-in user.",
          "$ref": "SignedinUser"
        },
        "anonymousUser": {
          "$ref": "AnonymousUser",
          "description": "Anonymous user."
        },
        "earliestStartTime": {
          "description": "Output only. Time when the participant first joined the meeting.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "latestEndTime": {
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "phoneUser": {
          "$ref": "PhoneUser",
          "description": "User calling from their phone."
        }
      }
    },
    "Space": {
      "id": "Space",
      "properties": {
        "meetingCode": {
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space.",
          "readOnly": true,
          "type": "string"
        },
        "activeConference": {
          "description": "Active conference, if it exists.",
          "$ref": "ActiveConference"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space)."
        },
        "meetingUri": {
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "readOnly": true,
          "type": "string"
        },
        "config": {
          "$ref": "SpaceConfig",
          "description": "Configuration pertaining to the meeting space."
        }
      },
      "type": "object",
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time."
    },
    "ListConferenceRecordsResponse": {
      "id": "ListConferenceRecordsResponse",
      "properties": {
        "conferenceRecords": {
          "items": {
            "$ref": "ConferenceRecord"
          },
          "description": "List of conferences in one page.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response of ListConferenceRecords method."
    },
    "DocsDestination": {
      "description": "Google Docs location where the transcript file is saved.",
      "type": "object",
      "id": "DocsDestination",
      "properties": {
        "document": {
          "type": "string",
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content.",
          "readOnly": true
        },
        "exportUri": {
          "type": "string",
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
          "readOnly": true
        }
      }
    },
    "SpaceConfig": {
      "type": "object",
      "description": "The configuration pertaining to a meeting space.",
      "id": "SpaceConfig",
      "properties": {
        "entryPointAccess": {
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL",
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ]
        },
        "artifactConfig": {
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports.",
          "$ref": "ArtifactConfig"
        },
        "accessType": {
          "type": "string",
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ],
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ]
        },
        "attendanceReportGenerationType": {
          "type": "string",
          "description": "Whether attendance report is enabled for the meeting space.",
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ]
        },
        "moderation": {
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ],
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ],
          "type": "string"
        },
        "moderationRestrictions": {
          "$ref": "ModerationRestrictions",
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions."
        }
      }
    },
    "SignedinUser": {
      "id": "SignedinUser",
      "properties": {
        "user": {
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\".",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices."
    },
    "TranscriptEntry": {
      "type": "object",
      "description": "Single entry for one user’s speech during a transcript session.",
      "id": "TranscriptEntry",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the transcript entry ended.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\"",
          "readOnly": true
        },
        "text": {
          "type": "string",
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change.",
          "readOnly": true
        },
        "languageCode": {
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
          "readOnly": true,
          "type": "string"
        },
        "participant": {
          "type": "string",
          "description": "Output only. Refers to the participant who speaks.",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the transcript entry started.",
          "readOnly": true
        }
      }
    },
    "ListTranscriptsResponse": {
      "id": "ListTranscriptsResponse",
      "properties": {
        "transcripts": {
          "description": "List of transcripts in one page.",
          "type": "array",
          "items": {
            "$ref": "Transcript"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned.",
          "type": "string"
        }
      },
      "description": "Response for ListTranscripts method.",
      "type": "object"
    },
    "ModerationRestrictions": {
      "id": "ModerationRestrictions",
      "properties": {
        "chatRestriction": {
          "description": "Defines who has permission to send chat messages in the meeting space.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ]
        },
        "presentRestriction": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "type": "string",
          "description": "Defines who has permission to share their screen in the meeting space.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "reactionRestriction": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "type": "string",
          "description": "Defines who has permission to send reactions in the meeting space.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "defaultJoinAsViewerType": {
          "type": "string",
          "description": "Defines whether to restrict the default role assigned to users as viewer.",
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ]
        }
      },
      "type": "object",
      "description": "Defines restrictions for features when the meeting is moderated."
    },
    "ActiveConference": {
      "type": "object",
      "description": "Active conference.",
      "id": "ActiveConference",
      "properties": {
        "conferenceRecord": {
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListParticipantsResponse": {
      "id": "ListParticipantsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        },
        "participants": {
          "type": "array",
          "description": "List of participants in one page.",
          "items": {
            "$ref": "Participant"
          }
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response."
        }
      },
      "type": "object",
      "description": "Response of ListParticipants method."
    },
    "ListRecordingsResponse": {
      "description": "Response for ListRecordings method.",
      "type": "object",
      "id": "ListRecordingsResponse",
      "properties": {
        "recordings": {
          "items": {
            "$ref": "Recording"
          },
          "description": "List of recordings in one page.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned."
        }
      }
    },
    "ConferenceRecord": {
      "type": "object",
      "description": "Single instance of a meeting held in a space.",
      "id": "ConferenceRecord",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "space": {
          "type": "string",
          "description": "Output only. The space where the conference was held.",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conference started. Always set.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Transcript": {
      "id": "Transcript",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the transcript started.",
          "readOnly": true
        },
        "docsDestination": {
          "$ref": "DocsDestination",
          "description": "Output only. Where the Google Docs transcript is saved.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ],
          "description": "Output only. Current state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript stopped.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference."
    },
    "DriveDestination": {
      "type": "object",
      "description": "Export location where a recording file is saved in Google Drive.",
      "id": "DriveDestination",
      "properties": {
        "exportUri": {
          "type": "string",
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`.",
          "readOnly": true
        },
        "file": {
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ArtifactConfig": {
      "id": "ArtifactConfig",
      "properties": {
        "transcriptionConfig": {
          "description": "Configuration for auto-transcript.",
          "$ref": "TranscriptionConfig"
        },
        "recordingConfig": {
          "description": "Configuration for recording.",
          "$ref": "RecordingConfig"
        },
        "smartNotesConfig": {
          "description": "Configuration for auto-smart-notes.",
          "$ref": "SmartNotesConfig"
        }
      },
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space.",
      "type": "object"
    },
    "RecordingConfig": {
      "id": "RecordingConfig",
      "properties": {
        "autoRecordingGeneration": {
          "type": "string",
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ]
        }
      },
      "type": "object",
      "description": "Configuration related to recording in a meeting space."
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "title": "Google Meet API",
  "version": "v2",
  "protocol": "rest"
}