{
  "version": "v2",
  "ownerDomain": "google.com",
  "title": "Google Meet API",
  "name": "meet",
  "id": "meet:v2",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "protocol": "rest",
  "baseUrl": "https://meet.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Meet",
  "version_module": true,
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        }
      }
    }
  },
  "schemas": {
    "ModerationRestrictions": {
      "description": "Defines restrictions for features when the meeting is moderated.",
      "type": "object",
      "id": "ModerationRestrictions",
      "properties": {
        "reactionRestriction": {
          "type": "string",
          "description": "Defines who has permission to send reactions in the meeting space.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "presentRestriction": {
          "description": "Defines who has permission to share their screen in the meeting space.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "defaultJoinAsViewerType": {
          "description": "Defines whether to restrict the default role assigned to users as viewer.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ],
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        },
        "chatRestriction": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "description": "Defines who has permission to send chat messages in the meeting space.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Recording": {
      "id": "Recording",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ],
          "type": "string",
          "description": "Output only. Current state."
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Timestamp when the recording started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
          "type": "string",
          "readOnly": true
        },
        "driveDestination": {
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API.",
          "readOnly": true,
          "$ref": "DriveDestination"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the recording ended.",
          "type": "string"
        }
      },
      "description": "Metadata about a recording created during a conference.",
      "type": "object"
    },
    "Transcript": {
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference.",
      "type": "object",
      "id": "Transcript",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state.",
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ]
        },
        "name": {
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference.",
          "type": "string",
          "readOnly": true
        },
        "docsDestination": {
          "description": "Output only. Where the Google Docs transcript is saved.",
          "readOnly": true,
          "$ref": "DocsDestination"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript stopped.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the transcript started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ListTranscriptEntriesResponse": {
      "id": "ListTranscriptEntriesResponse",
      "properties": {
        "transcriptEntries": {
          "items": {
            "$ref": "TranscriptEntry"
          },
          "type": "array",
          "description": "List of TranscriptEntries in one page."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned."
        }
      },
      "type": "object",
      "description": "Response for ListTranscriptEntries method."
    },
    "ParticipantSession": {
      "id": "ParticipantSession",
      "properties": {
        "startTime": {
          "description": "Output only. Timestamp when the user session starts.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended."
        },
        "name": {
          "description": "Identifier. Session id.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions."
    },
    "RecordingConfig": {
      "id": "RecordingConfig",
      "properties": {
        "autoRecordingGeneration": {
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      },
      "type": "object",
      "description": "Configuration related to recording in a meeting space."
    },
    "EndActiveConferenceRequest": {
      "id": "EndActiveConferenceRequest",
      "properties": {},
      "description": "Request to end an ongoing conference of a space.",
      "type": "object"
    },
    "ListTranscriptsResponse": {
      "description": "Response for ListTranscripts method.",
      "type": "object",
      "id": "ListTranscriptsResponse",
      "properties": {
        "transcripts": {
          "description": "List of transcripts in one page.",
          "type": "array",
          "items": {
            "$ref": "Transcript"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned."
        }
      }
    },
    "GatewaySipAccess": {
      "id": "GatewaySipAccess",
      "properties": {
        "uri": {
          "description": "The SIP URI the conference can be reached through. The string is on one of the formats: \"sip:@\" \"sips:@\" where currently is the 13-digit universal pin, and is a valid address to be resolved using a DNS SRV lookup, or a dotted quad.",
          "type": "string"
        },
        "sipAccessCode": {
          "description": "Permanent numeric code for manual entry on specially configured devices.",
          "type": "string"
        }
      },
      "description": "Details how to join the conference via a SIP gateway.",
      "type": "object"
    },
    "ListConferenceRecordsResponse": {
      "id": "ListConferenceRecordsResponse",
      "properties": {
        "conferenceRecords": {
          "items": {
            "$ref": "ConferenceRecord"
          },
          "description": "List of conferences in one page.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
          "type": "string"
        }
      },
      "description": "Response of ListConferenceRecords method.",
      "type": "object"
    },
    "ListParticipantsResponse": {
      "description": "Response of ListParticipants method.",
      "type": "object",
      "id": "ListParticipantsResponse",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response.",
          "type": "integer"
        },
        "participants": {
          "description": "List of participants in one page.",
          "type": "array",
          "items": {
            "$ref": "Participant"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned."
        }
      }
    },
    "ListRecordingsResponse": {
      "type": "object",
      "description": "Response for ListRecordings method.",
      "id": "ListRecordingsResponse",
      "properties": {
        "recordings": {
          "type": "array",
          "description": "List of recordings in one page.",
          "items": {
            "$ref": "Recording"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned.",
          "type": "string"
        }
      }
    },
    "PhoneUser": {
      "id": "PhoneUser",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. Partially redacted user's phone number when calling.",
          "readOnly": true
        }
      },
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
      "type": "object"
    },
    "ConferenceRecord": {
      "type": "object",
      "description": "Single instance of a meeting held in a space.",
      "id": "ConferenceRecord",
      "properties": {
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends."
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the conference started. Always set."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "type": "string"
        },
        "space": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The space where the conference was held."
        }
      }
    },
    "DocsDestination": {
      "description": "Google Docs location where the transcript file is saved.",
      "type": "object",
      "id": "DocsDestination",
      "properties": {
        "document": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content."
        },
        "exportUri": {
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ActiveConference": {
      "type": "object",
      "description": "Active conference.",
      "id": "ActiveConference",
      "properties": {
        "conferenceRecord": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space."
        }
      }
    },
    "Space": {
      "id": "Space",
      "properties": {
        "config": {
          "$ref": "SpaceConfig",
          "description": "Configuration pertaining to the meeting space."
        },
        "phoneAccess": {
          "type": "array",
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
          "items": {
            "$ref": "PhoneAccess"
          },
          "readOnly": true
        },
        "gatewaySipAccess": {
          "type": "array",
          "description": "Output only. The SIP based access methods that can be used to join the conference. Can be empty.",
          "items": {
            "$ref": "GatewaySipAccess"
          },
          "readOnly": true
        },
        "activeConference": {
          "description": "Active conference, if it exists.",
          "$ref": "ActiveConference"
        },
        "name": {
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
          "type": "string"
        },
        "meetingUri": {
          "readOnly": true,
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "type": "string"
        },
        "meetingCode": {
          "readOnly": true,
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time."
    },
    "SignedinUser": {
      "id": "SignedinUser",
      "properties": {
        "user": {
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\".",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices."
    },
    "TranscriptionConfig": {
      "id": "TranscriptionConfig",
      "properties": {
        "autoTranscriptionGeneration": {
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      },
      "type": "object",
      "description": "Configuration related to transcription in a meeting space."
    },
    "TranscriptEntry": {
      "id": "TranscriptEntry",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript entry started.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\"",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript entry ended.",
          "type": "string"
        },
        "participant": {
          "type": "string",
          "description": "Output only. Refers to the participant who speaks.",
          "readOnly": true
        },
        "text": {
          "readOnly": true,
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change.",
          "type": "string"
        },
        "languageCode": {
          "readOnly": true,
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
          "type": "string"
        }
      },
      "description": "Single entry for one user’s speech during a transcript session.",
      "type": "object"
    },
    "AnonymousUser": {
      "description": "User who joins anonymously (meaning not signed into a Google Account).",
      "type": "object",
      "id": "AnonymousUser",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User provided name when they join a conference anonymously."
        }
      }
    },
    "SpaceConfig": {
      "id": "SpaceConfig",
      "properties": {
        "entryPointAccess": {
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ]
        },
        "accessType": {
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ],
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ]
        },
        "moderation": {
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ],
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ],
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
          "type": "string"
        },
        "artifactConfig": {
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports.",
          "$ref": "ArtifactConfig"
        },
        "attendanceReportGenerationType": {
          "type": "string",
          "description": "Whether attendance report is enabled for the meeting space.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ],
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ]
        },
        "moderationRestrictions": {
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions.",
          "$ref": "ModerationRestrictions"
        }
      },
      "type": "object",
      "description": "The configuration pertaining to a meeting space."
    },
    "Participant": {
      "type": "object",
      "description": "User who attended or is attending a conference.",
      "id": "Participant",
      "properties": {
        "anonymousUser": {
          "$ref": "AnonymousUser",
          "description": "Anonymous user."
        },
        "earliestStartTime": {
          "type": "string",
          "description": "Output only. Time when the participant first joined the meeting.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
          "type": "string",
          "readOnly": true
        },
        "signedinUser": {
          "$ref": "SignedinUser",
          "description": "Signed-in user."
        },
        "phoneUser": {
          "description": "User calling from their phone.",
          "$ref": "PhoneUser"
        },
        "latestEndTime": {
          "type": "string",
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "SmartNotesConfig": {
      "id": "SmartNotesConfig",
      "properties": {
        "autoSmartNotesGeneration": {
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      },
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931).",
      "type": "object"
    },
    "DriveDestination": {
      "id": "DriveDestination",
      "properties": {
        "file": {
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
          "type": "string",
          "readOnly": true
        },
        "exportUri": {
          "readOnly": true,
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`.",
          "type": "string"
        }
      },
      "description": "Export location where a recording file is saved in Google Drive.",
      "type": "object"
    },
    "ArtifactConfig": {
      "id": "ArtifactConfig",
      "properties": {
        "recordingConfig": {
          "$ref": "RecordingConfig",
          "description": "Configuration for recording."
        },
        "transcriptionConfig": {
          "description": "Configuration for auto-transcript.",
          "$ref": "TranscriptionConfig"
        },
        "smartNotesConfig": {
          "description": "Configuration for auto-smart-notes.",
          "$ref": "SmartNotesConfig"
        }
      },
      "type": "object",
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space."
    },
    "ListParticipantSessionsResponse": {
      "id": "ListParticipantSessionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        },
        "participantSessions": {
          "items": {
            "$ref": "ParticipantSession"
          },
          "type": "array",
          "description": "List of participants in one page."
        }
      },
      "type": "object",
      "description": "Response of ListParticipants method."
    },
    "ListSmartNotesResponse": {
      "id": "ListSmartNotesResponse",
      "properties": {
        "smartNotes": {
          "description": "List of smart notes in one page.",
          "type": "array",
          "items": {
            "$ref": "SmartNote"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned."
        }
      },
      "type": "object",
      "description": "Response for ListSmartNotes method."
    },
    "PhoneAccess": {
      "type": "object",
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number.",
      "id": "PhoneAccess",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character."
        },
        "pin": {
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary.",
          "type": "string"
        },
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden.",
          "type": "string"
        }
      }
    },
    "SmartNote": {
      "id": "SmartNote",
      "properties": {
        "startTime": {
          "description": "Output only. Timestamp when the smart notes started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference.",
          "type": "string"
        },
        "docsDestination": {
          "description": "Output only. The Google Doc destination where the smart notes are saved.",
          "$ref": "DocsDestination",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Timestamp when the smart notes stopped.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ],
          "type": "string",
          "description": "Output only. Current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference."
    }
  },
  "revision": "20260414",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://meet.googleapis.com/",
  "resources": {
    "spaces": {
      "methods": {
        "create": {
          "flatPath": "v2/spaces",
          "request": {
            "$ref": "Space"
          },
          "id": "meet.spaces.create",
          "parameterOrder": [],
          "response": {
            "$ref": "Space"
          },
          "description": "Creates a space.",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "path": "v2/spaces"
        },
        "get": {
          "flatPath": "v2/spaces/{spacesId}",
          "id": "meet.spaces.get",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Space"
          },
          "description": "Gets details about a meeting space. For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "pattern": "^spaces/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v2/{+name}"
        },
        "patch": {
          "path": "v2/{+name}",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request.",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "type": "string",
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "pattern": "^spaces/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "response": {
            "$ref": "Space"
          },
          "description": "Updates details about a meeting space. For an example, see [Update a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#update-meeting-space).",
          "id": "meet.spaces.patch",
          "flatPath": "v2/spaces/{spacesId}",
          "request": {
            "$ref": "Space"
          }
        },
        "endActiveConference": {
          "path": "v2/{+name}:endActiveConference",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "pattern": "^spaces/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "description": "Ends an active conference (if there's one). For an example, see [End active conference](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#end-active-conference).",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "request": {
            "$ref": "EndActiveConferenceRequest"
          },
          "id": "meet.spaces.endActiveConference"
        }
      }
    },
    "conferenceRecords": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. Resource name of the conference.",
              "pattern": "^conferenceRecords/[^/]+$",
              "required": true
            }
          },
          "path": "v2/{+name}",
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}",
          "id": "meet.conferenceRecords.get",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ConferenceRecord"
          },
          "description": "Gets a conference record by conference ID.",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ]
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          },
          "description": "Lists the conference records. By default, ordered by start time and in descending order.",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "flatPath": "v2/conferenceRecords",
          "id": "meet.conferenceRecords.list",
          "path": "v2/conferenceRecords",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. Page token returned from previous List Call."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`"
            }
          }
        }
      },
      "resources": {
        "recordings": {
          "methods": {
            "get": {
              "id": "meet.conferenceRecords.recordings.get",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "response": {
                "$ref": "Recording"
              },
              "description": "Gets a recording by recording ID.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the recording.",
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+name}"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token returned from previous List Call."
                },
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+parent}/recordings",
              "id": "meet.conferenceRecords.recordings.list",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "transcripts": {
          "resources": {
            "entries": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "response": {
                    "$ref": "TranscriptEntry"
                  },
                  "description": "Gets a `TranscriptEntry` resource by entry ID. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation."
                },
                "list": {
                  "path": "v2/{+parent}/entries",
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Page token returned from previous List Call.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  },
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries",
                  "id": "meet.conferenceRecords.transcripts.entries.list"
                }
              }
            }
          },
          "methods": {
            "get": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}",
              "id": "meet.conferenceRecords.transcripts.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Transcript"
              },
              "description": "Gets a transcript by transcript ID.",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the transcript.",
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                  "required": true
                }
              },
              "path": "v2/{+name}"
            },
            "list": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "id": "meet.conferenceRecords.transcripts.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order.",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/transcripts"
            }
          }
        },
        "smartNotes": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "response": {
                "$ref": "SmartNote"
              },
              "description": "Gets smart notes by smart note ID.",
              "id": "meet.conferenceRecords.smartNotes.get",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}",
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/smartNotes",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes",
              "id": "meet.conferenceRecords.smartNotes.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSmartNotesResponse"
              },
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order.",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ]
            }
          }
        },
        "participants": {
          "methods": {
            "get": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "id": "meet.conferenceRecords.participants.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Participant"
              },
              "description": "Gets a participant by participant ID.",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the participant.",
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "required": true
                }
              },
              "path": "v2/{+name}"
            },
            "list": {
              "id": "meet.conferenceRecords.participants.list",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+parent}/participants"
            }
          },
          "resources": {
            "participantSessions": {
              "methods": {
                "get": {
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "response": {
                    "$ref": "ParticipantSession"
                  },
                  "description": "Gets a participant session by participant session ID.",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the participant.",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}"
                },
                "list": {
                  "path": "v2/{+parent}/participantSessions",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Page token returned from previous List Call."
                    },
                    "filter": {
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`.",
                  "id": "meet.conferenceRecords.participants.participantSessions.list",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions"
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "servicePath": "",
  "description": "Create and manage meetings in Google Meet.",
  "batchPath": "batch"
}