{
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "basePath": "",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "version_module": true,
  "revision": "20260415",
  "canonicalName": "Merchant",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "schemas": {
    "LatLng": {
      "type": "object",
      "id": "LatLng",
      "properties": {
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "PostalCodeRange": {
      "description": "A range of postal codes that defines the region area.",
      "type": "object",
      "id": "PostalCodeRange",
      "properties": {
        "begin": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: `94108`, `9410*`, `9*`.",
          "type": "string"
        },
        "end": {
          "description": "Optional. A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin.",
          "type": "string"
        }
      }
    },
    "User": {
      "type": "object",
      "id": "User",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
          "type": "string"
        },
        "accessRights": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Standard access rights.",
              "Has access to the same read-only methods as STANDARD, but no access to any mutating methods.",
              "Admin access rights.",
              "Users with this right have access to performance and insights.",
              "Users with this right have access to Merchant API and its notifications. This role is only accessible to accounts that have a developer registration."
            ],
            "enum": [
              "ACCESS_RIGHT_UNSPECIFIED",
              "STANDARD",
              "READ_ONLY",
              "ADMIN",
              "PERFORMANCE_REPORTING",
              "API_DEVELOPER"
            ],
            "type": "string"
          },
          "description": "Required. The [access rights](https://support.google.com/merchants/answer/12160472?sjid=6789834943175119429-EU#accesstypes) the user has."
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The user is pending confirmation. In this state, the user first needs to accept the invitation before performing other actions.",
            "The user is verified."
          ],
          "description": "Output only. The state of the user.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "type": "string"
        }
      },
      "description": "The `User` resource represents a user associated with a Merchant Center account. It is used to manage user permissions and access rights within the account. For more information, see [Frequently asked questions about people and access levels](//support.google.com/merchants/answer/12160472)."
    },
    "WarehouseCutoffTime": {
      "id": "WarehouseCutoffTime",
      "properties": {
        "hour": {
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Hour is based on the timezone of warehouse.",
          "format": "int32",
          "type": "integer"
        },
        "minute": {
          "type": "integer",
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Minute is based on the timezone of warehouse.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListOmnichannelSettingsResponse": {
      "description": "Response message for the ListOmnichannelSettings method.",
      "type": "object",
      "id": "ListOmnichannelSettingsResponse",
      "properties": {
        "omnichannelSettings": {
          "items": {
            "$ref": "OmnichannelSetting"
          },
          "description": "The omnichannel settings from the specified merchant.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CutoffTime": {
      "description": "Business days cutoff time definition.",
      "id": "CutoffTime",
      "properties": {
        "hour": {
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day.",
          "format": "int32",
          "type": "integer"
        },
        "timeZone": {
          "description": "Required. [Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example \"Europe/Zurich\".",
          "type": "string"
        },
        "minute": {
          "type": "integer",
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "LinkGbpAccountResponse": {
      "description": "Response message for the LinkGbpAccount method.",
      "type": "object",
      "id": "LinkGbpAccountResponse",
      "properties": {
        "response": {
          "$ref": "Empty",
          "description": "Empty response."
        }
      }
    },
    "Region": {
      "id": "Region",
      "properties": {
        "regionalInventoryEligible": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the region is eligible for use in the Regional Inventory configuration."
        },
        "name": {
          "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the region.",
          "type": "string"
        },
        "postalCodeArea": {
          "description": "Optional. A list of postal codes that defines the region area.",
          "$ref": "PostalCodeArea"
        },
        "geotargetArea": {
          "description": "Optional. A list of geotargets that defines the region area.",
          "$ref": "GeoTargetArea"
        },
        "radiusArea": {
          "description": "Optional. A radius area that defines the region area.",
          "$ref": "RadiusArea"
        },
        "shippingEligible": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the region is eligible for use in the Shipping Services configuration."
        }
      },
      "type": "object",
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes, radius areas or, in some countries, using predefined geotargets. A region must be defined by specifying exactly one of `postal_code_area`, `geotarget_area`, or `radius_area`. For more information, see [Set up regions ](https://support.google.com/merchants/answer/7410946#zippy=%2Ccreate-a-new-region) for more information."
    },
    "ListSubAccountsResponse": {
      "id": "ListSubAccountsResponse",
      "properties": {
        "accounts": {
          "description": "The accounts for which the given parent account is an aggregator.",
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the `ListSubAccounts` method."
    },
    "GeoTargetArea": {
      "description": "A list of geotargets that defines the region area.",
      "type": "object",
      "id": "GeoTargetArea",
      "properties": {
        "geotargetCriteriaIds": {
          "type": "array",
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (for example, state).",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "LfpProvider": {
      "id": "LfpProvider",
      "properties": {
        "displayName": {
          "description": "The display name of the LFP provider.",
          "type": "string"
        },
        "regionCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region code defined by [CLDR](https://cldr.unicode.org/)."
        },
        "name": {
          "description": "Identifier. The resource name of the LFP provider. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Collection of information related to a Local Feed Partnership (LFP) provider."
    },
    "Warehouse": {
      "description": "A fulfillment warehouse, which stores and handles inventory.",
      "id": "Warehouse",
      "properties": {
        "cutoffTime": {
          "description": "Required. The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code.",
          "$ref": "WarehouseCutoffTime"
        },
        "name": {
          "description": "Required. The name of the warehouse. Must be unique within account.",
          "type": "string"
        },
        "handlingDays": {
          "description": "Required. The number of days it takes for this warehouse to pack up and ship an item. This is on the warehouse level, but can be overridden on the offer level based on the attributes of an item.",
          "format": "int64",
          "type": "string"
        },
        "businessDayConfig": {
          "$ref": "BusinessDayConfig",
          "description": "Business days of the warehouse. If not set, will be Monday to Friday by default."
        },
        "shippingAddress": {
          "$ref": "Address",
          "description": "Required. Shipping address of the warehouse."
        }
      },
      "type": "object"
    },
    "TermsOfService": {
      "description": "The `TermsOfService` message represents a specific version of the terms of service that merchants must accept to access certain features or services. For more information, see [Terms of Service](https://support.google.com/merchants/answer/160173). This message is important for the onboarding process, ensuring that merchants agree to the necessary legal agreements for using the service. Merchants can retrieve the latest terms of service for a given `kind` and `region` through `RetrieveLatestTermsOfService`, and accept them as required through `AcceptTermsOfService`.",
      "id": "TermsOfService",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of service for the Merchant Center application."
          ],
          "description": "The Kind this terms of service version applies to.",
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "type": "string"
        },
        "fileUri": {
          "description": "URI for terms of service file that needs to be displayed to signing users.",
          "type": "string"
        },
        "external": {
          "description": "Whether this terms of service version is external. External terms of service versions can only be agreed through external processes and not directly by the merchant through UI or API.",
          "type": "boolean"
        },
        "regionCode": {
          "description": "Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country where the ToS applies specifically to that country or `001` when the same `TermsOfService` can be signed in any country. However note that when signing a ToS that applies globally we still expect that a specific country is provided (this should be merchant business country or program country of participation).",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `termsOfService/{version}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RequestInventoryVerificationRequest": {
      "description": "Request message for the RequestInventoryVerification method.",
      "type": "object",
      "id": "RequestInventoryVerificationRequest",
      "properties": {}
    },
    "InStock": {
      "type": "object",
      "id": "InStock",
      "properties": {
        "uri": {
          "description": "Optional. Product landing page URI. It is only used for the review of MHLSF in-stock serving. This URI domain should match with the business's homepage. Required to be empty if the lsf_type is GHLSF, and required when the lsf_type is MHLSF_FULL or MHLSF_BASIC.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "description": "Output only. The state of the in-stock serving.",
          "readOnly": true
        }
      },
      "description": "Collection of information related to InStock."
    },
    "Requirement": {
      "type": "object",
      "id": "Requirement",
      "properties": {
        "documentationUri": {
          "description": "Output only. The URL of a help page describing the requirement.",
          "readOnly": true,
          "type": "string"
        },
        "affectedRegionCodes": {
          "description": "Output only. The regions that are currently affected by this requirement not being met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the requirement."
        }
      },
      "description": "Defines a requirement specified for participation in the program."
    },
    "ProposeAccountServiceRequest": {
      "description": "Request to propose an account service.",
      "type": "object",
      "id": "ProposeAccountServiceRequest",
      "properties": {
        "accountService": {
          "$ref": "AccountService",
          "description": "Required. The account service to propose."
        },
        "provider": {
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        }
      }
    },
    "SeasonalOverride": {
      "type": "object",
      "id": "SeasonalOverride",
      "properties": {
        "returnUntilDate": {
          "$ref": "Date",
          "description": "Fixed end date until which the product can be returned."
        },
        "label": {
          "description": "Required. Display name of this seasonal override in Merchant Center.",
          "type": "string"
        },
        "startDate": {
          "description": "Required. Defines the date range when this seasonal override applies. Both start_date and end_date are inclusive. The dates of the seasonal overrides should not overlap.",
          "$ref": "Date"
        },
        "returnDays": {
          "description": "Number of days (from the delivery date) that the product can be returned.",
          "format": "int32",
          "type": "integer"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. seasonal override end date (inclusive)."
        }
      }
    },
    "SetAliasForRelationship": {
      "id": "SetAliasForRelationship",
      "properties": {
        "provider": {
          "description": "Required. The provider of the service. This is a reference to an account such as `providers/123` or `accounts/123`. The same provider must be specified in at least one of the `service` fields.",
          "type": "string"
        },
        "accountIdAlias": {
          "description": "Required. The unique ID of this account in the provider's system. The value must be unique across all accounts on the platform for this provider.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Set an alias for a relationship between a provider and the account to be created."
    },
    "FindLfpProvidersResponse": {
      "id": "FindLfpProvidersResponse",
      "properties": {
        "lfpProviders": {
          "description": "The LFP providers from the specified merchant in the specified country.",
          "items": {
            "$ref": "LfpProvider"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the FindLfpProviders method."
    },
    "MinimumOrderValueTable": {
      "description": "Table of per store minimum order values for the pickup fulfillment type.",
      "id": "MinimumOrderValueTable",
      "properties": {
        "storeCodeSetWithMovs": {
          "description": "Required. A list of store code sets sharing the same minimum order value (MOV). At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
          "items": {
            "$ref": "StoreCodeSetWithMov"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LoyaltyProgramTiers": {
      "id": "LoyaltyProgramTiers",
      "properties": {
        "tierLabel": {
          "description": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Subset of a business's loyalty program."
    },
    "TransitTable": {
      "type": "object",
      "id": "TransitTable",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "TransitTimeRow"
          },
          "description": "Required. If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`."
        },
        "postalCodeGroupNames": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of region names Region.name . The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service.",
          "type": "array"
        },
        "transitTimeLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of transit time labels. The last value can be `\"all other labels\"`. Example: `[\"food\", \"electronics\", \"all other labels\"]`."
        }
      },
      "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both."
    },
    "Address": {
      "description": "Shipping address of the warehouse.",
      "type": "object",
      "id": "Address",
      "properties": {
        "city": {
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (For example neighborhoods or suburbs).",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. [CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (For example \"US\").",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        },
        "streetAddress": {
          "description": "Street-level part of the address. For example: `111w 31st Street`.",
          "type": "string"
        },
        "postalCode": {
          "description": "Required. Postal code or ZIP (For example \"94043\").",
          "type": "string"
        }
      }
    },
    "DeliveryTime": {
      "description": "Time spent in various aspects from order to the delivery of the product.",
      "type": "object",
      "id": "DeliveryTime",
      "properties": {
        "cutoffTime": {
          "$ref": "CutoffTime",
          "description": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST."
        },
        "maxTransitDays": {
          "type": "integer",
          "description": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `min_transit_days`.",
          "format": "int32"
        },
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "maxHandlingDays": {
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `min_handling_days`. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time.",
          "format": "int32",
          "type": "integer"
        },
        "transitTimeTable": {
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
          "$ref": "TransitTable"
        },
        "minTransitDays": {
          "description": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either `min_transit_days`, `max_transit_days` or `transit_time_table` must be set, but not both.",
          "format": "int32",
          "type": "integer"
        },
        "transitBusinessDayConfig": {
          "$ref": "BusinessDayConfig",
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed."
        },
        "minHandlingDays": {
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time.",
          "format": "int32",
          "type": "integer"
        },
        "warehouseBasedDeliveryTimes": {
          "type": "array",
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          },
          "description": "Optional. Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in delivery time should be set."
        }
      }
    },
    "AutomaticImprovements": {
      "id": "AutomaticImprovements",
      "properties": {
        "itemUpdates": {
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticItemUpdates"
        },
        "imageImprovements": {
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticImageImprovements"
        },
        "shippingImprovements": {
          "$ref": "AutomaticShippingImprovements",
          "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask."
        },
        "name": {
          "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account."
    },
    "ImageImprovementsAccountLevelSettings": {
      "description": "Settings for the Automatic Image Improvements.",
      "id": "ImageImprovementsAccountLevelSettings",
      "properties": {
        "allowAutomaticImageImprovements": {
          "description": "Enables automatic image improvements.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Price": {
      "description": "The price represented as a number and currency.",
      "id": "Price",
      "properties": {
        "amountMicros": {
          "type": "string",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListProgramsResponse": {
      "description": "Response message for the ListPrograms method.",
      "type": "object",
      "id": "ListProgramsResponse",
      "properties": {
        "programs": {
          "items": {
            "$ref": "Program"
          },
          "description": "The programs for the given account.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Service": {
      "type": "object",
      "id": "Service",
      "properties": {
        "deliveryCountries": {
          "items": {
            "type": "string"
          },
          "description": "Required. The CLDR territory code of the countries to which the service applies.",
          "type": "array"
        },
        "minimumOrderValue": {
          "description": "Optional. Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with `minimum_order_value_table`.",
          "$ref": "Price"
        },
        "minimumOrderValueTable": {
          "description": "Optional. Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with `minimum_order_value`.",
          "$ref": "MinimumOrderValueTable"
        },
        "rateGroups": {
          "type": "array",
          "items": {
            "$ref": "RateGroup"
          },
          "description": "Optional. Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap."
        },
        "active": {
          "description": "Required. A boolean exposing the active status of the shipping service.",
          "type": "boolean"
        },
        "storeConfig": {
          "$ref": "StoreConfig",
          "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type."
        },
        "deliveryTime": {
          "description": "Required. Time spent in various aspects from order to the delivery of the product.",
          "$ref": "DeliveryTime"
        },
        "shipmentType": {
          "type": "string",
          "enum": [
            "SHIPMENT_TYPE_UNSPECIFIED",
            "DELIVERY",
            "LOCAL_DELIVERY",
            "COLLECTION_POINT"
          ],
          "description": "Optional. Type of locations this service ships orders to.",
          "enumDescriptions": [
            "This service did not specify shipment type.",
            "This service ships orders to an address chosen by the customer.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a local store near by.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a collection point."
          ]
        },
        "loyaltyPrograms": {
          "type": "array",
          "description": "Optional. Loyalty programs that this shipping service is limited to.",
          "items": {
            "$ref": "LoyaltyProgram"
          }
        },
        "currencyCode": {
          "description": "Required. The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups.",
          "type": "string"
        },
        "serviceName": {
          "description": "Required. Free-form name of the service. Must be unique within target account.",
          "type": "string"
        }
      },
      "description": "Shipping service."
    },
    "LinkLfpProviderResponse": {
      "description": "Response message for the LinkLfpProvider method.",
      "id": "LinkLfpProviderResponse",
      "properties": {
        "response": {
          "$ref": "Empty",
          "description": "Empty response."
        }
      },
      "type": "object"
    },
    "GbpAccount": {
      "type": "object",
      "id": "GbpAccount",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "BUSINESS_ACCOUNT"
          ],
          "description": "The type of the Business Profile.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The GBP account is a user account.",
            "The GBP account is a business account."
          ]
        },
        "gbpAccountName": {
          "description": "The name of the Business Profile. For personal accounts: Email id of the owner. For Business accounts: Name of the Business Account.",
          "type": "string"
        },
        "gbpAccountId": {
          "description": "The id of the GBP account.",
          "type": "string"
        },
        "listingCount": {
          "description": "Number of listings under this account.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the GBP account. Format: `accounts/{account}/gbpAccount/{gbp_account}`",
          "type": "string"
        }
      },
      "description": "Collection of information related to a Google Business Profile (GBP) account."
    },
    "ListOnlineReturnPoliciesResponse": {
      "description": "Response message for the `ListOnlineReturnPolicies` method.",
      "type": "object",
      "id": "ListOnlineReturnPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "onlineReturnPolicies": {
          "items": {
            "$ref": "OnlineReturnPolicy"
          },
          "description": "The retrieved return policies.",
          "type": "array"
        }
      }
    },
    "Policy": {
      "description": "The available policies.",
      "type": "object",
      "id": "Policy",
      "properties": {
        "days": {
          "type": "string",
          "description": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns.",
          "format": "int64"
        },
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The number of days within which a return is valid after delivery.",
            "No returns.",
            "Life time returns."
          ],
          "description": "Policy type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ],
          "type": "string"
        }
      }
    },
    "RequestInventoryVerificationResponse": {
      "type": "object",
      "id": "RequestInventoryVerificationResponse",
      "properties": {
        "omnichannelSetting": {
          "$ref": "OmnichannelSetting",
          "description": "The omnichannel setting that was updated."
        }
      },
      "description": "Response message for the RequestInventoryVerification method."
    },
    "CreateUserRequest": {
      "description": "Request message for the `CreateUser` method.",
      "id": "CreateUserRequest",
      "properties": {
        "user": {
          "description": "Optional. The user to create.",
          "$ref": "User"
        },
        "userId": {
          "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
          "type": "string"
        },
        "parent": {
          "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BusinessDayConfig": {
      "description": "Business days of the warehouse.",
      "id": "BusinessDayConfig",
      "properties": {
        "businessDays": {
          "description": "Required. Regular business days. May not be empty.",
          "items": {
            "type": "string",
            "enum": [
              "WEEKDAY_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "StoreCodeSetWithMov": {
      "id": "StoreCodeSetWithMov",
      "properties": {
        "storeCodes": {
          "description": "Optional. A list of unique store codes or empty for the catch all.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "description": "The minimum order value for the given stores.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "description": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency."
    },
    "TermsOfServiceAgreementState": {
      "id": "TermsOfServiceAgreementState",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementState/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}` For example, an identifier could be: `MERCHANT_CENTER-EU` or `MERCHANT_CENTER-US`.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. Region code as defined by https://cldr.unicode.org/. This is the country the current state applies to.",
          "type": "string"
        },
        "termsOfServiceKind": {
          "description": "Required. Terms of Service kind associated with the particular version.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of service for the Merchant Center application."
          ],
          "type": "string",
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ]
        },
        "accepted": {
          "$ref": "Accepted",
          "description": "Optional. The accepted terms of service of this kind and for the associated region_code"
        },
        "required": {
          "description": "Optional. The required terms of service",
          "$ref": "Required"
        }
      },
      "type": "object",
      "description": "This resource represents the agreement state for a given account and terms of service kind. The state is as follows: * If the business has accepted a terms of service, `accepted` will be populated, otherwise it will be empty * If the business must sign a terms of service, `required` will be populated, otherwise it will be empty. Note that both `required` and `accepted` can be present. In this case the `accepted` terms of services will have an expiration date set in the `valid_until` field. The `required` terms of services need to be accepted before `valid_until` in order for the account to continue having a valid agreement. When accepting new terms of services we expect third-party providers to display the text associated with the given terms of service agreement (the url to the file containing the text is added in the Required message below as `tos_file_uri`). The actual acceptance of the terms of service is done by calling accept on the `TermsOfService` resource. `valid_until` field."
    },
    "ShortCode": {
      "description": "An object representing a short code, which is a phone number that is typically much shorter than regular phone numbers and can be used to address messages in MMS and SMS systems, as well as for abbreviated dialing (For example \"Text 611 to see how many minutes you have remaining on your plan.\"). Short codes are restricted to a region and are not internationally dialable, which means the same short code can exist in different regions, with different usage and pricing, even if those regions share the same country calling code (For example: US and CA).",
      "type": "object",
      "id": "ShortCode",
      "properties": {
        "regionCode": {
          "description": "Required. The BCP-47 region code of the location where calls to this short code can be made, such as \"US\" and \"BB\". Reference(s): - http://www.unicode.org/reports/tr35/#unicode_region_subtag",
          "type": "string"
        },
        "number": {
          "description": "Required. The short code digits, without a leading plus ('+') or country calling code. For example \"611\".",
          "type": "string"
        }
      }
    },
    "CustomerService": {
      "type": "object",
      "id": "CustomerService",
      "properties": {
        "phone": {
          "description": "Optional. The phone number where customer service may be called.",
          "$ref": "PhoneNumber"
        },
        "email": {
          "description": "Optional. The email address where customer service may be reached.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The URI where customer service may be found.",
          "type": "string"
        }
      },
      "description": "Customer service information."
    },
    "PhoneNumber": {
      "id": "PhoneNumber",
      "properties": {
        "shortCode": {
          "$ref": "ShortCode",
          "description": "A short code. Reference(s): - https://wikipedia.org/wiki/Short_code"
        },
        "extension": {
          "description": "The phone number's extension. The extension is not standardized in ITU recommendations, except for being defined as a series of numbers with a maximum length of 40 digits. Other than digits, some other dialing characters such as ',' (indicating a wait) or '#' may be stored here. Note that no regions currently use extensions with short codes, so this field is normally only set in conjunction with an E.164 number. It is held separately from the E.164 number to allow for short code extensions in the future.",
          "type": "string"
        },
        "e164Number": {
          "description": "The phone number, represented as a leading plus sign ('+'), followed by a phone number that uses a relaxed ITU E.164 format consisting of the country calling code (1 to 3 digits) and the subscriber number, with no additional spaces or formatting. For example: - correct: \"+15552220123\" - incorrect: \"+1 (555) 222-01234 x123\" The ITU E.164 format limits the latter to 12 digits, but in practice not all countries respect that, so we relax that restriction here. National-only numbers are not allowed. References: - https://www.itu.int/rec/T-REC-E.164-201011-I - https://en.wikipedia.org/wiki/E.164. - https://en.wikipedia.org/wiki/List_of_country_calling_codes",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An object representing a phone number, suitable as an API wire format. This representation: - should not be used for locale-specific formatting of a phone number, such as \"+1 (650) 253-0000 ext. 123\" - is not designed for efficient storage - may not be suitable for dialing - specialized libraries (see references) should be used to parse the number for that purpose To do something meaningful with this number, such as format it for various use-cases, convert it to an `i18n.phonenumbers.PhoneNumber` object first. For instance, in Java this would be: com.google.type.PhoneNumber wireProto = com.google.type.PhoneNumber.newBuilder().build(); com.google.i18n.phonenumbers.Phonenumber.PhoneNumber phoneNumber = PhoneNumberUtil.getInstance().parse(wireProto.getE164Number(), \"ZZ\"); if (!wireProto.getExtension().isEmpty()) { phoneNumber.setExtension(wireProto.getExtension()); } Reference(s): - https://github.com/google/libphonenumber"
    },
    "AccountService": {
      "description": "The `AccountService` message represents a specific service that a provider account offers to a Merchant Center account. `AccountService` defines the permissions and capabilities granted to the provider, allowing for operations such as product management or campaign management. The lifecycle of an `AccountService` involves a proposal phase, where one party suggests the service, and an approval phase, where the other party accepts or rejects it. This handshake mechanism ensures mutual consent before any access is granted. This mechanism safeguards both parties by ensuring that access rights are granted appropriately and that both the business and provider are aware of the services enabled. In scenarios where a user is an admin of both accounts, the approval can happen automatically. The mutability of a service is also managed through `AccountService`. Some services might be immutable, for example, if they were established through other systems or APIs, and you cannot alter them through this API.",
      "id": "AccountService",
      "properties": {
        "localListingManagement": {
          "description": "Service type for local listings management. The business group associated with the external account id will be used to provide local inventory to this Merchant Center account.",
          "$ref": "LocalListingManagement"
        },
        "campaignsManagement": {
          "$ref": "CampaignsManagement",
          "description": "Service type for managing advertising campaigns. Grants the provider access to create and manage the business's ad campaigns, including setting up campaigns, adjusting bids, and optimizing performance."
        },
        "handshake": {
          "$ref": "Handshake",
          "readOnly": true,
          "description": "Output only. Information about the state of the service in terms of establishing it (e.g. is it pending approval or approved)."
        },
        "accountManagement": {
          "description": "Service type for account management. Enables the provider to perform administrative actions on the business's account, such as configuring account settings, managing users, or updating business information.",
          "$ref": "AccountManagement"
        },
        "accountAggregation": {
          "description": "Service type for account aggregation. This enables the provider, which is an advanced account, to manage multiple sub-accounts (client accounts). Through this service, the advanced account provider can perform administrative and operational tasks across all linked sub-accounts. This is useful for agencies, aggregators, or large retailers that need centralized control over many Merchant Center accounts.",
          "$ref": "AccountAggregation"
        },
        "productsManagement": {
          "description": "Service type for managing products. This allows the provider to handle product data on behalf of the business, including reading and writing product listings. It's commonly used when the provider offers inventory management or catalog synchronization services to keep the business's product information up-to-date across platforms.",
          "$ref": "ProductsManagement"
        },
        "comparisonShopping": {
          "$ref": "ComparisonShopping",
          "description": "Service type for comparison shopping. The provider is a CSS (Comparison Shopping Service) managing the account. See https://support.google.com/merchants/answer/12653197"
        },
        "externalAccountId": {
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider.",
          "type": "string"
        },
        "providerDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human-readable display name of the provider account."
        },
        "mutability": {
          "type": "string",
          "enum": [
            "MUTABILITY_UNSPECIFIED",
            "MUTABLE",
            "IMMUTABLE"
          ],
          "readOnly": true,
          "description": "Output only. Whether the service is mutable (e.g. through Approve / Reject RPCs). A service that was created through another system or API might be immutable.",
          "enumDescriptions": [
            "Unused default value",
            "The service can be mutated without restrictions.",
            "The service is read-only and must not be mutated."
          ]
        },
        "provider": {
          "description": "Output only. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the account service. Format: `accounts/{account}/services/{service}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductChange": {
      "type": "object",
      "id": "ProductChange",
      "properties": {
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "reportingContext": {
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "type": "string"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
    },
    "ComparisonShopping": {
      "description": "`ComparisonShopping` payload.",
      "id": "ComparisonShopping",
      "properties": {},
      "type": "object"
    },
    "Pickup": {
      "description": "Collection of information related to Pickup.",
      "type": "object",
      "id": "Pickup",
      "properties": {
        "uri": {
          "description": "Required. Pickup product page URI. It is only used for the review of pickup serving. This URI domain should match with the business's homepage.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "description": "Output only. The state of the pickup serving.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string"
        }
      }
    },
    "PostalAddress": {
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "id": "PostalAddress",
      "properties": {
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "revision": {
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "format": "int32"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array"
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "addressLines": {
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "LoyaltyProgram": {
      "id": "LoyaltyProgram",
      "properties": {
        "programLabel": {
          "description": "This is the loyalty program label set in your loyalty program settings in Merchant Center. This sub-attribute allows Google to map your loyalty program to eligible offers.",
          "type": "string"
        },
        "loyaltyProgramTiers": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgramTiers"
          },
          "description": "Optional. Loyalty program tier of this shipping service."
        }
      },
      "type": "object",
      "description": "[Loyalty program](https://support.google.com/merchants/answer/12922446) provided by a business."
    },
    "CampaignsManagement": {
      "description": "`CampaignManagement` payload.",
      "id": "CampaignsManagement",
      "properties": {},
      "type": "object"
    },
    "AcceptTermsOfServiceResponse": {
      "id": "AcceptTermsOfServiceResponse",
      "properties": {
        "termsOfServiceAgreementState": {
          "description": "The agreement state after accepting the ToS.",
          "$ref": "TermsOfServiceAgreementState"
        }
      },
      "type": "object",
      "description": "Response message for the `AcceptTermsOfService` method."
    },
    "CheckoutSettings": {
      "description": "[CheckoutSettings](https://support.google.com/merchants/answer/13945960) for a specific merchant.",
      "id": "CheckoutSettings",
      "properties": {
        "effectiveUriSettings": {
          "$ref": "UriSettings",
          "readOnly": true,
          "description": "Output only. The effective value of `uri_settings` for a given merchant. If account level settings are present then this value will be a copy of url settings. Otherwise, it will have the value of the parent account (for only marketplace sellers)."
        },
        "uriSettings": {
          "description": "URI settings for cart or checkout URL.",
          "$ref": "UriSettings"
        },
        "eligibleDestinations": {
          "description": "Optional. Required for the create operation. The destinations (also known as [Marketing methods](https://support.google.com/merchants/answer/15130232)) to which the checkout program applies. Valid destination values are `SHOPPING_ADS` and `FREE_LISTINGS`.",
          "items": {
            "type": "string",
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL"
            ],
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail)."
            ]
          },
          "type": "array"
        },
        "effectiveEnrollmentState": {
          "readOnly": true,
          "description": "Output only. The effective value of enrollment_state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "type": "string",
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ]
        },
        "effectiveReviewState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "description": "Output only. The effective value of `review_state` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
          "type": "string"
        },
        "reviewState": {
          "description": "Output only. Reflects the merchant review state in `Checkout` program. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an `enrollment_state` of `ENROLLED` before a review can begin for the merchant.For more details, check the help center doc.",
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ]
        },
        "enrollmentState": {
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` program.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "EmailPreferences": {
      "type": "object",
      "id": "EmailPreferences",
      "properties": {
        "newsAndTips": {
          "description": "Optional. Updates on new features, tips and best practices.",
          "enumDescriptions": [
            "Opt-in status is not specified.",
            "User has opted out of receiving this type of email.",
            "User has opted in to receiving this type of email.",
            "User has opted in to receiving this type of email and the confirmation email has been sent, but user has not yet confirmed the opt in (applies only to certain countries)."
          ],
          "type": "string",
          "enum": [
            "OPT_IN_STATE_UNSPECIFIED",
            "OPTED_OUT",
            "OPTED_IN",
            "UNCONFIRMED"
          ]
        },
        "name": {
          "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
          "type": "string"
        }
      },
      "description": "The categories of notifications the user opted into / opted out of. The email preferences do not include mandatory announcements as users can't opt out of them."
    },
    "Table": {
      "id": "Table",
      "properties": {
        "name": {
          "description": "Name of the table. Required for subtables, ignored for the main table.",
          "type": "string"
        },
        "rowHeaders": {
          "description": "Required. Headers of the table's rows.",
          "$ref": "Headers"
        },
        "columnHeaders": {
          "$ref": "Headers",
          "description": "Headers of the table's columns. Optional: if not set then the table has only one dimension."
        },
        "rows": {
          "description": "Required. The list of rows that constitute the table. Must have the same length as `row_headers`.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A table defining the rate group, when `single_value` is not expressive enough."
    },
    "UnregisterGcpRequest": {
      "type": "object",
      "id": "UnregisterGcpRequest",
      "properties": {},
      "description": "Request message for the UnregisterGCP method."
    },
    "AccountRelationship": {
      "description": "The `AccountRelationship` message defines a formal connection between a merchant's account and a service provider's account. This relationship enables the provider to offer specific services to the business, such as product management or campaign management. It specifies the access rights and permissions to the business's data relevant to those services. Establishing an account relationship involves linking the merchant's account with a provider's account. The provider could be another Google account (like Google Ads or Google My Business) or a third-party platform (such as Shopify or WooCommerce).",
      "id": "AccountRelationship",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
          "type": "string"
        },
        "accountIdAlias": {
          "description": "Optional. An optional alias you can assign to this account relationship. This alias acts as a convenient identifier for your own reference and management. It must be unique among all your account relationships with the same provider. For example, you might use `account_id_alias` to assign a friendly name to this relationship for easier identification in your systems.",
          "type": "string"
        },
        "providerDisplayName": {
          "description": "Output only. The human-readable display name of the provider account.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "Immutable. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAccountServicesResponse": {
      "description": "Response after trying to list account services.",
      "type": "object",
      "id": "ListAccountServicesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages.",
          "type": "string"
        },
        "accountServices": {
          "type": "array",
          "items": {
            "$ref": "AccountService"
          },
          "description": "The account services that match your filter."
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "id": "ListUsersResponse",
      "properties": {
        "users": {
          "type": "array",
          "description": "The users from the specified account.",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the `ListUsers` method."
    },
    "ListAccountsResponse": {
      "type": "object",
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "The accounts matching the `ListAccountsRequest`.",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the `accounts.list` method."
    },
    "Homepage": {
      "type": "object",
      "id": "Homepage",
      "properties": {
        "claimed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the homepage is claimed. See https://support.google.com/merchants/answer/176793."
        },
        "name": {
          "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
          "type": "string"
        },
        "uri": {
          "description": "Required. The URI (typically a URL) of the store's homepage.",
          "type": "string"
        }
      },
      "description": "The `Homepage` message represents a business's store homepage within the system. A business's homepage is the primary domain where customers interact with their store. The homepage can be claimed and verified as a proof of ownership and allows the business to unlock features that require a verified website. For more information, see [Understanding online store URL verification](//support.google.com/merchants/answer/176793)."
    },
    "OnDisplayToOrder": {
      "id": "OnDisplayToOrder",
      "properties": {
        "state": {
          "description": "Output only. The state of the URI.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ]
        },
        "uri": {
          "description": "Required. The on display to order (ODO) policy URI.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Collection of information related to the on display to order ([ODO](https://support.google.com/merchants/answer/14615056?ref_topic=15145747&sjid=6892280366904591178-NC))."
    },
    "AddAccountService": {
      "description": "Additional instructions to add account services during creation of the account.",
      "type": "object",
      "id": "AddAccountService",
      "properties": {
        "comparisonShopping": {
          "$ref": "ComparisonShopping",
          "description": "The provider is a CSS (Comparison Shopping Service) of this account. Payload for service type Comparison Shopping."
        },
        "provider": {
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        },
        "externalAccountId": {
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider. The external account ID must be specified for the campaigns management service type. The external account ID must not be specified for the account aggregation service type. The external account ID is optional / may be specified for all other service types.",
          "type": "string"
        },
        "productsManagement": {
          "$ref": "ProductsManagement",
          "description": "The provider manages products for this account. Payload for service type products management."
        },
        "campaignsManagement": {
          "$ref": "CampaignsManagement",
          "description": "The provider manages campaigns for this account. Payload for service type campaigns management."
        },
        "accountAggregation": {
          "$ref": "AccountAggregation",
          "description": "The provider is an [aggregator](https://support.google.com/merchants/answer/188487) for the account. Payload for service type Account Aggregation."
        },
        "accountManagement": {
          "description": "The provider manages this account. Payload for service type Account Management.",
          "$ref": "AccountManagement"
        }
      }
    },
    "ClaimHomepageRequest": {
      "id": "ClaimHomepageRequest",
      "properties": {
        "overwrite": {
          "description": "Optional. When set to `true`, this option removes any existing claim on the requested website from any other account to the account making the request, effectively replacing the previous claim.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request message for the `ClaimHomepage` method."
    },
    "ListGbpAccountsResponse": {
      "id": "ListGbpAccountsResponse",
      "properties": {
        "gbpAccounts": {
          "description": "The GBP accounts from the specified merchant in the specified country.",
          "items": {
            "$ref": "GbpAccount"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the ListGbpAccounts method."
    },
    "LfpLink": {
      "description": "Collection of information related to the LFP link.",
      "id": "LfpLink",
      "properties": {
        "externalAccountId": {
          "description": "Required. The account ID by which this merchant is known to the LFP provider.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "description": "Output only. The state of the LFP link.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string"
        },
        "lfpProvider": {
          "description": "Required. The resource name of the LFP provider. Format: `lfpProviders/{lfp_provider}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountManagement": {
      "type": "object",
      "id": "AccountManagement",
      "properties": {},
      "description": "`AccountManagement` payload."
    },
    "LinkGbpAccountRequest": {
      "description": "Request message for the LinkGbpAccount method.",
      "id": "LinkGbpAccountRequest",
      "properties": {
        "gbpEmail": {
          "description": "Required. The email address of the Business Profile account.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RadiusArea": {
      "description": "A radius area that defines the region area.",
      "type": "object",
      "id": "RadiusArea",
      "properties": {
        "radius": {
          "description": "Required. The radius distance of the area.",
          "format": "double",
          "type": "number"
        },
        "radiusUnits": {
          "description": "Optional. The unit of the radius.",
          "enumDescriptions": [
            "Unused default value",
            "The distance is measured in miles.",
            "The distance is measured in kilometers."
          ],
          "type": "string",
          "enum": [
            "RADIUS_UNITS_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ]
        },
        "regionCode": {
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to.",
          "type": "string"
        },
        "latLng": {
          "$ref": "LatLng",
          "description": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format."
        }
      }
    },
    "BusinessInfo": {
      "description": "The `BusinessInfo` message contains essential information about a business. This message captures key business details such as physical address, customer service contacts, and region-specific identifiers.",
      "type": "object",
      "id": "BusinessInfo",
      "properties": {
        "phoneVerificationState": {
          "enum": [
            "PHONE_VERIFICATION_STATE_UNSPECIFIED",
            "PHONE_VERIFICATION_STATE_VERIFIED",
            "PHONE_VERIFICATION_STATE_UNVERIFIED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The phone is verified.",
            "The phone is unverified."
          ],
          "description": "Output only. The phone verification state of the business."
        },
        "koreanBusinessRegistrationNumber": {
          "description": "Optional. The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX.",
          "type": "string"
        },
        "customerService": {
          "$ref": "CustomerService",
          "description": "Optional. The customer service of the business."
        },
        "name": {
          "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
          "type": "string"
        },
        "address": {
          "$ref": "PostalAddress",
          "description": "Optional. The address of the business. Only `region_code`, `address_lines`, `postal_code`, `administrative_area` and `locality` fields are supported. All other fields are ignored."
        },
        "phone": {
          "$ref": "PhoneNumber",
          "readOnly": true,
          "description": "Output only. The phone number of the business."
        }
      }
    },
    "AutomaticShippingImprovements": {
      "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data",
      "type": "object",
      "id": "AutomaticShippingImprovements",
      "properties": {
        "allowShippingImprovements": {
          "description": "Enables automatic shipping improvements.",
          "type": "boolean"
        }
      }
    },
    "InventoryVerification": {
      "id": "InventoryVerification",
      "properties": {
        "contactEmail": {
          "description": "Required. The email address of the contact for the inventory verification process.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTION_REQUIRED",
            "INACTIVE",
            "RUNNING",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the inventory verification process.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "When the merchant needs to initiate the inventory verification process. The next state is INACTIVE.",
            "When the merchant is ready to request inventory verification.",
            "The inventory verification process is running. If the merchant is rejected, the next state is INACTIVE.",
            "The inventory verification process succeeded.",
            "When merchant fails the inventory verification process and all attempts are exhausted."
          ]
        },
        "contactState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "description": "Output only. The state of the contact verification.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string"
        },
        "contact": {
          "description": "Required. The name of the contact for the inventory verification process.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Collection of information related to [inventory verification](https://support.google.com/merchants/answer/14684499?ref_topic=15145634&sjid=6892280366904591178-NC)."
    },
    "RestockingFee": {
      "description": "The restocking fee. This can be a flat fee or a micro percent.",
      "id": "RestockingFee",
      "properties": {
        "fixedFee": {
          "$ref": "Price",
          "description": "Fixed restocking fee."
        },
        "microPercent": {
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "OnlineReturnPolicy": {
      "id": "OnlineReturnPolicy",
      "properties": {
        "acceptDefectiveOnly": {
          "description": "Optional. This field specifies if business only accepts defective products for returns.",
          "type": "boolean"
        },
        "policy": {
          "$ref": "Policy",
          "description": "Optional. The return policy."
        },
        "seasonalOverrides": {
          "type": "array",
          "items": {
            "$ref": "SeasonalOverride"
          },
          "description": "Optional. Overrides to the general policy for orders placed during a specific set of time intervals."
        },
        "processRefundDays": {
          "type": "integer",
          "description": "Optional. The field specifies the number of days it takes for business to process refunds.",
          "format": "int32"
        },
        "acceptExchange": {
          "description": "Optional. This field specifies if business allows customers to exchange products.",
          "type": "boolean"
        },
        "returnShippingFee": {
          "$ref": "ReturnShippingFee",
          "description": "Optional. The return shipping fee. Should be set only when customer need to download and print the return label."
        },
        "returnMethods": {
          "type": "array",
          "description": "Optional. The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Return by mail.",
              "Return in store.",
              "Return at a kiosk."
            ],
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK"
            ],
            "type": "string"
          }
        },
        "label": {
          "description": "Optional. Immutable. This field represents the unique user-defined label of the return policy for the given country. It is important to note that the same label cannot be used in different return policies for the same country. If not given, policies will be automatically treated as the 'default' for the country. When using label, you are creating an exception policy in that country to assign a custom return policy to certain product groups, follow the instructions provided in the [Return policy label] (https://support.google.com/merchants/answer/9445425). The label can contain up to 50 characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
          "type": "string"
        },
        "returnPolicyUri": {
          "description": "Required. The return policy uri. This can used by Google to do a sanity check for the policy. It must be a valid URL.",
          "type": "string"
        },
        "countries": {
          "type": "array",
          "description": "Required. Immutable. The countries of sale where the return policy applies. The values must be a valid 2 letter ISO 3166 code.",
          "items": {
            "type": "string"
          }
        },
        "returnPolicyId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Return policy ID generated by Google."
        },
        "returnLabelSource": {
          "description": "Optional. The field specifies the return label source.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Download and print.",
            "Label include in the package.",
            "Customer to provide."
          ],
          "type": "string",
          "enum": [
            "RETURN_LABEL_SOURCE_UNSPECIFIED",
[...]
