{
  "description": "Programmatically manage your Merchant Center Accounts.",
  "discoveryVersion": "v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260310",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "schemas": {
    "AddAccountService": {
      "properties": {
        "accountAggregation": {
          "description": "The provider is an [aggregator](https://support.google.com/merchants/answer/188487) for the account. Payload for service type Account Aggregation.",
          "$ref": "AccountAggregation"
        },
        "campaignsManagement": {
          "$ref": "CampaignsManagement",
          "description": "The provider manages campaigns for this account. Payload for service type campaigns management."
        },
        "accountManagement": {
          "$ref": "AccountManagement",
          "description": "The provider manages this account. Payload for service type Account Management."
        },
        "externalAccountId": {
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider. The external account ID must be specified for the campaigns management service type. The external account ID must not be specified for the account aggregation service type. The external account ID is optional / may be specified for all other service types.",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
        },
        "comparisonShopping": {
          "description": "The provider is a CSS (Comparison Shopping Service) of this account. Payload for service type Comparison Shopping.",
          "$ref": "ComparisonShopping"
        },
        "productsManagement": {
          "description": "The provider manages products for this account. Payload for service type products management.",
          "$ref": "ProductsManagement"
        }
      },
      "id": "AddAccountService",
      "description": "Additional instructions to add account services during creation of the account.",
      "type": "object"
    },
    "AutomaticShippingImprovements": {
      "id": "AutomaticShippingImprovements",
      "properties": {
        "allowShippingImprovements": {
          "description": "Enables automatic shipping improvements.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data"
    },
    "Service": {
      "description": "Shipping service.",
      "type": "object",
      "properties": {
        "shipmentType": {
          "description": "Optional. Type of locations this service ships orders to.",
          "type": "string",
          "enum": [
            "SHIPMENT_TYPE_UNSPECIFIED",
            "DELIVERY",
            "LOCAL_DELIVERY",
            "COLLECTION_POINT"
          ],
          "enumDescriptions": [
            "This service did not specify shipment type.",
            "This service ships orders to an address chosen by the customer.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a local store near by.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a collection point."
          ]
        },
        "storeConfig": {
          "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
          "$ref": "StoreConfig"
        },
        "deliveryTime": {
          "description": "Required. Time spent in various aspects from order to the delivery of the product.",
          "$ref": "DeliveryTime"
        },
        "minimumOrderValue": {
          "$ref": "Price",
          "description": "Optional. Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with `minimum_order_value_table`."
        },
        "deliveryCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The CLDR territory code of the countries to which the service applies."
        },
        "currencyCode": {
          "description": "Required. The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups.",
          "type": "string"
        },
        "loyaltyPrograms": {
          "description": "Optional. Loyalty programs that this shipping service is limited to.",
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgram"
          }
        },
        "serviceName": {
          "type": "string",
          "description": "Required. Free-form name of the service. Must be unique within target account."
        },
        "minimumOrderValueTable": {
          "$ref": "MinimumOrderValueTable",
          "description": "Optional. Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with `minimum_order_value`."
        },
        "rateGroups": {
          "description": "Optional. Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap.",
          "type": "array",
          "items": {
            "$ref": "RateGroup"
          }
        },
        "active": {
          "description": "Required. A boolean exposing the active status of the shipping service.",
          "type": "boolean"
        }
      },
      "id": "Service"
    },
    "InStock": {
      "id": "InStock",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the in-stock serving.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ]
        },
        "uri": {
          "type": "string",
          "description": "Optional. Product landing page URI. It is only used for the review of MHLSF in-stock serving. This URI domain should match with the business's homepage. Required to be empty if the lsf_type is GHLSF, and required when the lsf_type is MHLSF_FULL or MHLSF_BASIC."
        }
      },
      "type": "object",
      "description": "Collection of information related to InStock."
    },
    "RadiusArea": {
      "type": "object",
      "description": "A radius area that defines the region area.",
      "id": "RadiusArea",
      "properties": {
        "radiusUnits": {
          "description": "Optional. The unit of the radius.",
          "type": "string",
          "enum": [
            "RADIUS_UNITS_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ],
          "enumDescriptions": [
            "Unused default value",
            "The distance is measured in miles.",
            "The distance is measured in kilometers."
          ]
        },
        "regionCode": {
          "type": "string",
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to."
        },
        "latLng": {
          "$ref": "LatLng",
          "description": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format."
        },
        "radius": {
          "type": "number",
          "description": "Required. The radius distance of the area.",
          "format": "double"
        }
      }
    },
    "Table": {
      "properties": {
        "rowHeaders": {
          "description": "Required. Headers of the table's rows.",
          "$ref": "Headers"
        },
        "columnHeaders": {
          "description": "Headers of the table's columns. Optional: if not set then the table has only one dimension.",
          "$ref": "Headers"
        },
        "name": {
          "type": "string",
          "description": "Name of the table. Required for subtables, ignored for the main table."
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "Required. The list of rows that constitute the table. Must have the same length as `row_headers`."
        }
      },
      "id": "Table",
      "description": "A table defining the rate group, when `single_value` is not expressive enough.",
      "type": "object"
    },
    "StoreCodeSetWithMov": {
      "type": "object",
      "description": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
      "id": "StoreCodeSetWithMov",
      "properties": {
        "storeCodes": {
          "description": "Optional. A list of unique store codes or empty for the catch all.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "$ref": "Price",
          "description": "The minimum order value for the given stores."
        }
      }
    },
    "AccountAggregation": {
      "description": "`AccountAggregation` payload.",
      "type": "object",
      "properties": {},
      "id": "AccountAggregation"
    },
    "ListAccountRelationshipsResponse": {
      "properties": {
        "accountRelationships": {
          "description": "The account relationships that match your filter.",
          "type": "array",
          "items": {
            "$ref": "AccountRelationship"
          }
        },
        "nextPageToken": {
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages.",
          "type": "string"
        }
      },
      "id": "ListAccountRelationshipsResponse",
      "description": "Response after trying to list account relationships.",
      "type": "object"
    },
    "BusinessDayConfig": {
      "type": "object",
      "description": "Business days of the warehouse.",
      "id": "BusinessDayConfig",
      "properties": {
        "businessDays": {
          "description": "Required. Regular business days. May not be empty.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "WEEKDAY_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      }
    },
    "GetAccountForGcpRegistrationResponse": {
      "description": "Response message for the GetAccountForGcpRegistration method.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the merchant account id that the GCP is registered with."
        }
      },
      "id": "GetAccountForGcpRegistrationResponse"
    },
    "Handshake": {
      "type": "object",
      "description": "The current status of establishing of the service. (for example, pending approval or approved).",
      "id": "Handshake",
      "properties": {
        "approvalState": {
          "type": "string",
          "description": "Output only. The approval state of this handshake.",
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "ESTABLISHED",
            "REJECTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified approval status.",
            "The service was proposed and is waiting to be confirmed.",
            "Both parties have confirmed the service.",
            "The service proposal was rejected."
          ]
        },
        "actor": {
          "description": "Output only. The most recent account to modify the account service's `approval_status`.",
          "type": "string",
          "enum": [
            "ACTOR_UNSPECIFIED",
            "ACCOUNT",
            "OTHER_PARTY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified actor.",
            "The last change was done by the account who has this service.",
            "The last change was done by the other party who this service points to."
          ]
        }
      }
    },
    "Pickup": {
      "description": "Collection of information related to Pickup.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. Pickup product page URI. It is only used for the review of pickup serving. This URI domain should match with the business's homepage.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the pickup serving.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ]
        }
      },
      "id": "Pickup"
    },
    "Program": {
      "id": "Program",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the program. Format: `accounts/{account}/programs/{program}`",
          "type": "string"
        },
        "activeRegionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The regions in which the account is actively participating in the program. Active regions are defined as those where all program requirements affecting the regions have been met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "readOnly": true
        },
        "unmetRequirements": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Requirement"
          },
          "description": "Output only. The requirements that the account has not yet satisfied that are affecting participation in the program."
        },
        "documentationUri": {
          "type": "string",
          "description": "Output only. The URL of a Merchant Center help page describing the program.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. The participation state of the account in the program.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The account is not eligible to participate in the program.",
            "The account is eligible to participate in the program.",
            "The program is enabled for the account."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_ELIGIBLE",
            "ELIGIBLE",
            "ENABLED"
          ]
        }
      },
      "type": "object",
      "description": "Defines participation in a given program for the specified account. Programs provide a mechanism for adding functionality to a Merchant Center accounts. A typical example of this is the [Free product listings](https://support.google.com/merchants/answer/13889434) program, which enables products from a business's store to be shown across Google for free. The following list is the available set of program resource IDs accessible through the API: * `checkout` * `free-listings` * `product-ratings` * `shopping-ads` * `youtube-shopping-checkout`"
    },
    "ListRegionsResponse": {
      "description": "Response message for the `ListRegions` method.",
      "type": "object",
      "properties": {
        "regions": {
          "description": "The regions from the specified business.",
          "type": "array",
          "items": {
            "$ref": "Region"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListRegionsResponse"
    },
    "ReturnShippingFee": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customers will pay the actual return shipping fee."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ],
          "description": "Required. Type of return shipping fee."
        },
        "fixedFee": {
          "$ref": "Price",
          "description": "Fixed return shipping fee amount. This value is only applicable when type is `FIXED`. We will treat the return shipping fee as free if type is `FIXED` and this value is not set."
        }
      },
      "id": "ReturnShippingFee",
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost.",
      "type": "object"
    },
    "AutomaticItemUpdates": {
      "type": "object",
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "id": "AutomaticItemUpdates",
      "properties": {
        "accountItemUpdatesSettings": {
          "description": "Optional. Determines which attributes of the items should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "ItemUpdatesAccountLevelSettings"
        },
        "effectiveAllowConditionUpdates": {
          "readOnly": true,
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean"
        },
        "effectiveAllowAvailabilityUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true
        },
        "effectiveAllowPriceUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true
        },
        "effectiveAllowStrictAvailabilityUpdates": {
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "UriSettings": {
      "description": "URL settings for cart or checkout URL.",
      "type": "object",
      "properties": {
        "checkoutUriTemplate": {
          "type": "string",
          "description": "Checkout URL template. When the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)"
        },
        "cartUriTemplate": {
          "type": "string",
          "description": "Cart URL template. When the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)"
        }
      },
      "id": "UriSettings"
    },
    "TimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "OnDisplayToOrder": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the URI.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ]
        },
        "uri": {
          "type": "string",
          "description": "Required. The on display to order (ODO) policy URI."
        }
      },
      "id": "OnDisplayToOrder",
      "description": "Collection of information related to the on display to order ([ODO](https://support.google.com/merchants/answer/14615056?ref_topic=15145747&sjid=6892280366904591178-NC)).",
      "type": "object"
    },
    "ListUsersResponse": {
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "The users from the specified account."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListUsersResponse",
      "description": "Response message for the `ListUsers` method.",
      "type": "object"
    },
    "LfpLink": {
      "description": "Collection of information related to the LFP link.",
      "type": "object",
      "properties": {
        "externalAccountId": {
          "description": "Required. The account ID by which this merchant is known to the LFP provider.",
          "type": "string"
        },
        "lfpProvider": {
          "type": "string",
          "description": "Required. The resource name of the LFP provider. Format: `lfpProviders/{lfp_provider}`"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string",
          "description": "Output only. The state of the LFP link."
        }
      },
      "id": "LfpLink"
    },
    "TermsOfServiceAgreementState": {
      "description": "This resource represents the agreement state for a given account and terms of service kind. The state is as follows: * If the business has accepted a terms of service, `accepted` will be populated, otherwise it will be empty * If the business must sign a terms of service, `required` will be populated, otherwise it will be empty. Note that both `required` and `accepted` can be present. In this case the `accepted` terms of services will have an expiration date set in the `valid_until` field. The `required` terms of services need to be accepted before `valid_until` in order for the account to continue having a valid agreement. When accepting new terms of services we expect third-party providers to display the text associated with the given terms of service agreement (the url to the file containing the text is added in the Required message below as `tos_file_uri`). The actual acceptance of the terms of service is done by calling accept on the `TermsOfService` resource. `valid_until` field.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementState/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}` For example, an identifier could be: `MERCHANT_CENTER-EU` or `MERCHANT_CENTER-US`.",
          "type": "string"
        },
        "termsOfServiceKind": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of service for the Merchant Center application."
          ],
          "type": "string",
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "description": "Required. Terms of Service kind associated with the particular version."
        },
        "accepted": {
          "$ref": "Accepted",
          "description": "Optional. The accepted terms of service of this kind and for the associated region_code"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Region code as defined by https://cldr.unicode.org/. This is the country the current state applies to."
        },
        "required": {
          "description": "Optional. The required terms of service",
          "$ref": "Required"
        }
      },
      "id": "TermsOfServiceAgreementState"
    },
    "OnlineReturnPolicy": {
      "type": "object",
      "description": "[Online return policy](https://support.google.com/merchants/answer/10220642) object. This is currently used to represent return policies for ads and free listings programs.",
      "id": "OnlineReturnPolicy",
      "properties": {
        "restockingFee": {
          "description": "Optional. The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set.",
          "$ref": "RestockingFee"
        },
        "policy": {
          "$ref": "Policy",
          "description": "Optional. The return policy."
        },
        "processRefundDays": {
          "format": "int32",
          "description": "Optional. The field specifies the number of days it takes for business to process refunds.",
          "type": "integer"
        },
        "label": {
          "type": "string",
          "description": "Optional. Immutable. This field represents the unique user-defined label of the return policy for the given country. It is important to note that the same label cannot be used in different return policies for the same country. If not given, policies will be automatically treated as the 'default' for the country. When using label, you are creating an exception policy in that country to assign a custom return policy to certain product groups, follow the instructions provided in the [Return policy label] (https://support.google.com/merchants/answer/9445425). The label can contain up to 50 characters."
        },
        "returnLabelSource": {
          "type": "string",
          "enum": [
            "RETURN_LABEL_SOURCE_UNSPECIFIED",
            "DOWNLOAD_AND_PRINT",
            "IN_THE_PACKAGE",
            "CUSTOMER_RESPONSIBILITY"
          ],
          "description": "Optional. The field specifies the return label source.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Download and print.",
            "Label include in the package.",
            "Customer to provide."
          ]
        },
        "returnMethods": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Return by mail.",
              "Return in store.",
              "Return at a kiosk."
            ]
          },
          "description": "Optional. The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
        },
        "seasonalOverrides": {
          "description": "Optional. Overrides to the general policy for orders placed during a specific set of time intervals.",
          "type": "array",
          "items": {
            "$ref": "SeasonalOverride"
          }
        },
        "acceptDefectiveOnly": {
          "type": "boolean",
          "description": "Optional. This field specifies if business only accepts defective products for returns."
        },
        "acceptExchange": {
          "type": "boolean",
          "description": "Optional. This field specifies if business allows customers to exchange products."
        },
        "returnShippingFee": {
          "$ref": "ReturnShippingFee",
          "description": "Optional. The return shipping fee. Should be set only when customer need to download and print the return label."
        },
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Immutable. The countries of sale where the return policy applies. The values must be a valid 2 letter ISO 3166 code."
        },
        "returnPolicyUri": {
          "description": "Required. The return policy uri. This can used by Google to do a sanity check for the policy. It must be a valid URL.",
          "type": "string"
        },
        "itemConditions": {
          "description": "Optional. The item conditions accepted for returns must not be empty unless the type of return policy is 'noReturns'.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "New.",
              "Used."
            ],
            "type": "string",
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "USED"
            ]
          }
        },
        "returnPolicyId": {
          "readOnly": true,
          "description": "Output only. Return policy ID generated by Google.",
          "type": "string"
        }
      }
    },
    "AccountRelationship": {
      "description": "The `AccountRelationship` message defines a formal connection between a merchant's account and a service provider's account. This relationship enables the provider to offer specific services to the business, such as product management or campaign management. It specifies the access rights and permissions to the business's data relevant to those services. Establishing an account relationship involves linking the merchant's account with a provider's account. The provider could be another Google account (like Google Ads or Google My Business) or a third-party platform (such as Shopify or WooCommerce).",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Immutable. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        },
        "providerDisplayName": {
          "type": "string",
          "description": "Output only. The human-readable display name of the provider account.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
          "type": "string"
        },
        "accountIdAlias": {
          "description": "Optional. An optional alias you can assign to this account relationship. This alias acts as a convenient identifier for your own reference and management. It must be unique among all your account relationships with the same provider. For example, you might use `account_id_alias` to assign a friendly name to this relationship for easier identification in your systems.",
          "type": "string"
        }
      },
      "id": "AccountRelationship"
    },
    "FindLfpProvidersResponse": {
      "type": "object",
      "description": "Response message for the FindLfpProviders method.",
      "id": "FindLfpProvidersResponse",
      "properties": {
        "lfpProviders": {
          "description": "The LFP providers from the specified merchant in the specified country.",
          "type": "array",
          "items": {
            "$ref": "LfpProvider"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "IdentityAttribute": {
      "id": "IdentityAttribute",
      "properties": {
        "identityDeclaration": {
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account identifies with the attribute.",
            "Indicates that the account does not identify with the attribute."
          ],
          "type": "string",
          "enum": [
            "IDENTITY_DECLARATION_UNSPECIFIED",
            "SELF_IDENTIFIES_AS",
            "DOES_NOT_SELF_IDENTIFY_AS"
          ],
          "description": "Required. The declaration of identity for this attribute."
        }
      },
      "type": "object",
      "description": "All information related to an identity attribute."
    },
    "GbpAccount": {
      "type": "object",
      "description": "Collection of information related to a Google Business Profile (GBP) account.",
      "id": "GbpAccount",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the GBP account. Format: `accounts/{account}/gbpAccount/{gbp_account}`"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "BUSINESS_ACCOUNT"
          ],
          "description": "The type of the Business Profile.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The GBP account is a user account.",
            "The GBP account is a business account."
          ]
        },
        "gbpAccountName": {
          "type": "string",
          "description": "The name of the Business Profile. For personal accounts: Email id of the owner. For Business accounts: Name of the Business Account."
        },
        "listingCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of listings under this account."
        },
        "gbpAccountId": {
          "type": "string",
          "description": "The id of the GBP account."
        }
      }
    },
    "CustomerService": {
      "id": "CustomerService",
      "properties": {
        "uri": {
          "description": "Optional. The URI where customer service may be found.",
          "type": "string"
        },
        "email": {
          "description": "Optional. The email address where customer service may be reached.",
          "type": "string"
        },
        "phone": {
          "$ref": "PhoneNumber",
          "description": "Optional. The phone number where customer service may be called."
        }
      },
      "type": "object",
      "description": "Customer service information."
    },
    "PostalAddress": {
      "type": "object",
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "id": "PostalAddress",
      "properties": {
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "revision": {
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "format": "int32"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        }
      }
    },
    "RestockingFee": {
      "id": "RestockingFee",
      "properties": {
        "microPercent": {
          "type": "integer",
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged.",
          "format": "int32"
        },
        "fixedFee": {
          "$ref": "Price",
          "description": "Fixed restocking fee."
        }
      },
      "type": "object",
      "description": "The restocking fee. This can be a flat fee or a micro percent."
    },
    "StoreConfig": {
      "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
      "type": "object",
      "properties": {
        "storeCodes": {
          "description": "Optional. A list of store codes that provide local delivery. If empty, then `all_stores` must be true.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceRadius": {
          "description": "Maximum delivery radius. This is only required for the local delivery shipment type.",
          "$ref": "Distance"
        },
        "storeServiceType": {
          "enumDescriptions": [
            "Did not specify store service type.",
            "Indicates whether all stores, current and future, listed by this business provide local delivery.",
            "Indicates that only the stores listed in `store_codes` are eligible for local delivery."
          ],
          "description": "Indicates whether all stores, or selected stores, listed by this business provide local delivery.",
          "type": "string",
          "enum": [
            "STORE_SERVICE_TYPE_UNSPECIFIED",
            "ALL_STORES",
            "SELECTED_STORES"
          ]
        },
        "cutoffConfig": {
          "$ref": "CutoffConfig",
          "description": "Configs related to local delivery ends for the day."
        }
      },
      "id": "StoreConfig"
    },
    "LocationIdSet": {
      "type": "object",
      "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
      "id": "LocationIdSet",
      "properties": {
        "locationIds": {
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (For example, state).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AddUser": {
      "id": "AddUser",
      "properties": {
        "user": {
          "description": "Optional. Details about the user to be added. At the moment, only access rights may be specified.",
          "$ref": "User"
        },
        "verificationMailSettings": {
          "$ref": "VerificationMailSettings",
          "description": "Optional. Settings related to configuring the verification email that is sent after adding a user."
        },
        "userId": {
          "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Instruction for adding a user to the account during creation."
    },
    "CampaignsManagement": {
      "properties": {},
      "id": "CampaignsManagement",
      "description": "`CampaignManagement` payload.",
      "type": "object"
    },
    "TransitTable": {
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "TransitTimeRow"
          },
          "description": "Required. If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`."
        },
        "transitTimeLabels": {
          "description": "Required. A list of transit time labels. The last value can be `\"all other labels\"`. Example: `[\"food\", \"electronics\", \"all other labels\"]`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "postalCodeGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of region names Region.name . The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service."
        }
      },
      "id": "TransitTable",
      "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
      "type": "object"
    },
    "OmnichannelSetting": {
      "type": "object",
      "description": "Collection of information related to the omnichannel settings of a merchant.",
      "id": "OmnichannelSetting",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
          "type": "string"
        },
        "lfpLink": {
          "description": "Output only. The established link to a LFP provider.",
          "$ref": "LfpLink",
          "readOnly": true
        },
        "inventoryVerification": {
          "$ref": "InventoryVerification",
          "description": "Optional. The inventory verification contact and state for this country."
        },
        "pickup": {
          "description": "Optional. The Pickup URI and state for this country.",
          "$ref": "Pickup"
        },
        "about": {
          "$ref": "About",
          "description": "Optional. The about page URI and state for this country."
        },
        "odo": {
          "$ref": "OnDisplayToOrder",
          "description": "Optional. The On Display to Order (ODO) policy URI and state for this country."
        },
        "lsfType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google-Hosted Local Store Front. Check the [HC article](https://support.google.com/merchants/answer/14869424) for more details.",
            "Merchant-Hosted Local Store Front Basic. Check the [HC article](https://support.google.com/merchants/answer/14615867) for more details.",
            "Merchant-Hosted Local Store Front Full. Check the [HC article](https://support.google.com/merchants/answer/14617076) for more details."
          ],
          "description": "Required. The Local Store Front type for this country.",
          "type": "string",
          "enum": [
            "LSF_TYPE_UNSPECIFIED",
            "GHLSF",
            "MHLSF_BASIC",
            "MHLSF_FULL"
          ]
        },
        "inStock": {
          "description": "Optional. The InStock URI and state for this country.",
          "$ref": "InStock"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. Region code defined by [CLDR](https://cldr.unicode.org/). Must be provided in the Create method, and is immutable."
        }
      }
    },
    "DisableProgramRequest": {
      "type": "object",
      "description": "Request message for the DisableProgram method.",
      "id": "DisableProgramRequest",
      "properties": {}
    },
    "Account": {
      "description": "The `Account` message represents a business's account within Shopping Ads. It's the primary entity for managing product data, settings, and interactions with Google's services and external providers. Accounts can operate as standalone entities or be part of a advanced account structure. In an advanced account setup the parent account manages multiple sub-accounts. Establishing an account involves configuring attributes like the account name, time zone, and language preferences. The `Account` message is the parent entity for many other resources, for example, `AccountRelationship`, `Homepage`, `BusinessInfo` and so on.",
      "type": "object",
      "properties": {
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. The time zone of the account. On writes, `time_zone` sets both the `reporting_time_zone` and the `display_time_zone`. For reads, `time_zone` always returns the `display_time_zone`. If `display_time_zone` doesn't exist for your account, `time_zone` is empty. The `version` field is not supported, won't be set in responses and will be silently ignored if specified in requests."
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The account's [BCP-47 language code](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`."
        },
        "accountName": {
          "description": "Required. A human-readable name of the account. Don't use punctuation, capitalization, or non-alphanumeric symbols such as the \"/\" or \"_\" symbols. See [Adding a business name](https://support.google.com/merchants/answer/12159159) for more information.",
          "type": "string"
        },
        "adultContent": {
          "type": "boolean",
          "description": "Optional. Whether this account contains adult content."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the account. Format: `accounts/{account}`"
        },
        "accountId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The ID of the account."
        },
        "testAccount": {
          "readOnly": true,
          "description": "Output only. Whether this is a test account.",
          "type": "boolean"
        }
      },
      "id": "Account"
    },
    "TransitTimeValue": {
      "properties": {
        "minTransitDays": {
          "description": "Minimum transit time range in business days. 0 means same day delivery, 1 means next day delivery.",
          "type": "integer",
          "format": "int32"
        },
        "maxTransitDays": {
          "description": "Must be greater than or equal to `min_transit_days`.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "TransitTimeValue",
      "description": "Transit time range (min-max) in business days.",
      "type": "object"
    },
    "RequestInventoryVerificationRequest": {
      "description": "Request message for the RequestInventoryVerification method.",
      "type": "object",
      "properties": {},
      "id": "RequestInventoryVerificationRequest"
    },
    "RequestInventoryVerificationResponse": {
      "id": "RequestInventoryVerificationResponse",
      "properties": {
        "omnichannelSetting": {
          "description": "The omnichannel setting that was updated.",
          "$ref": "OmnichannelSetting"
        }
      },
      "type": "object",
      "description": "Response message for the RequestInventoryVerification method."
    },
    "LocalListingManagement": {
      "id": "LocalListingManagement",
      "properties": {},
      "type": "object",
      "description": "`LocalListingManagement` payload."
    },
    "AccountIssue": {
      "type": "object",
      "description": "Issues with your Merchant Center account that can impact all your products. For more information, see [Account-level issues in Merchant Center](https://support.google.com/merchants/answer/12153802?sjid=17798438912526418908-EU#account).",
      "id": "AccountIssue",
      "properties": {
        "title": {
          "type": "string",
          "description": "The localized title of the issue."
        },
        "severity": {
          "description": "The overall severity of the issue.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ],
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ]
        },
        "impactedDestinations": {
          "description": "The impact this issue has on various destinations.",
          "type": "array",
          "items": {
            "$ref": "ImpactedDestination"
          }
        },
        "detail": {
          "description": "Further localized details about the issue.",
          "type": "string"
        },
        "documentationUri": {
          "type": "string",
          "description": "Link to Merchant Center Help Center providing further information about the issue and how to fix it."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the account issue. Format: `accounts/{account}/issues/{id}`. For example, `accounts/123456/issues/misrepresentation-of-self-or-products-unacceptable-business-practice-policy`."
        }
      }
    },
    "Required": {
      "description": "Describes the terms of service which are required to be accepted.",
      "type": "object",
      "properties": {
        "termsOfService": {
          "type": "string",
          "description": "Required. The `TermsOfService` that need to be accepted."
        },
        "tosFileUri": {
          "description": "Required. Full URL to the terms of service file. This field is the same as `TermsOfService.file_uri`, it is added here for convenience only.",
          "type": "string"
        }
      },
      "id": "Required"
    },
    "InventoryVerification": {
      "description": "Collection of information related to [inventory verification](https://support.google.com/merchants/answer/14684499?ref_topic=15145634&sjid=6892280366904591178-NC).",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "When the merchant needs to initiate the inventory verification process. The next state is INACTIVE.",
            "When the merchant is ready to request inventory verification.",
            "The inventory verification process is running. If the merchant is rejected, the next state is INACTIVE.",
            "The inventory verification process succeeded.",
            "When merchant fails the inventory verification process and all attempts are exhausted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTION_REQUIRED",
            "INACTIVE",
            "RUNNING",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "type": "string",
          "description": "Output only. The state of the inventory verification process."
        },
        "contactEmail": {
          "description": "Required. The email address of the contact for the inventory verification process.",
          "type": "string"
        },
        "contactState": {
          "description": "Output only. The state of the contact verification.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        },
        "contact": {
          "type": "string",
          "description": "Required. The name of the contact for the inventory verification process."
        }
      },
      "id": "InventoryVerification"
    },
    "LinkGbpAccountRequest": {
      "id": "LinkGbpAccountRequest",
      "properties": {
        "gbpEmail": {
          "description": "Required. The email address of the Business Profile account.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for the LinkGbpAccount method."
    },
    "LinkLfpProviderRequest": {
      "id": "LinkLfpProviderRequest",
      "properties": {
        "externalAccountId": {
          "type": "string",
          "description": "Required. The external account ID by which this merchant is known to the LFP provider."
        }
      },
      "type": "object",
      "description": "Request message for the LinkLfpProvider method."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "id": "Date"
    },
    "Accepted": {
      "description": "Describes the [accepted terms of service](https://developers.google.com/merchant/api/guides/accounts/create-and-configure#accept_the_merchant_center_terms_of_service).",
      "type": "object",
      "properties": {
        "termsOfService": {
          "type": "string",
          "description": "Required. The accepted termsOfService."
        },
        "validUntil": {
          "$ref": "Date",
          "description": "Optional. When set, it states that the accepted `TermsOfService` is only valid until the end of this date (in UTC). A new one must be accepted before then. The information of the required `TermsOfService` is found in the `Required` message."
        },
        "acceptedBy": {
          "description": "Required. The account where the acceptance was recorded. This can be the account itself or, in the case of subaccounts, the advanced account.",
          "type": "string"
        }
      },
      "id": "Accepted"
    },
    "Price": {
      "id": "Price",
      "properties": {
        "amountMicros": {
          "type": "string",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        }
      },
      "type": "object",
      "description": "The price represented as a number and currency."
    },
    "AutomaticImprovements": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`."
        },
        "itemUpdates": {
          "$ref": "AutomaticItemUpdates",
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask."
        },
        "imageImprovements": {
          "$ref": "AutomaticImageImprovements",
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask."
        },
        "shippingImprovements": {
          "$ref": "AutomaticShippingImprovements",
          "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask."
        }
      },
      "id": "AutomaticImprovements",
      "description": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account.",
      "type": "object"
    },
    "PhoneNumber": {
      "properties": {
        "e164Number": {
          "description": "The phone number, represented as a leading plus sign ('+'), followed by a phone number that uses a relaxed ITU E.164 format consisting of the country calling code (1 to 3 digits) and the subscriber number, with no additional spaces or formatting. For example: - correct: \"+15552220123\" - incorrect: \"+1 (555) 222-01234 x123\" The ITU E.164 format limits the latter to 12 digits, but in practice not all countries respect that, so we relax that restriction here. National-only numbers are not allowed. References: - https://www.itu.int/rec/T-REC-E.164-201011-I - https://en.wikipedia.org/wiki/E.164. - https://en.wikipedia.org/wiki/List_of_country_calling_codes",
          "type": "string"
        },
        "extension": {
          "type": "string",
          "description": "The phone number's extension. The extension is not standardized in ITU recommendations, except for being defined as a series of numbers with a maximum length of 40 digits. Other than digits, some other dialing characters such as ',' (indicating a wait) or '#' may be stored here. Note that no regions currently use extensions with short codes, so this field is normally only set in conjunction with an E.164 number. It is held separately from the E.164 number to allow for short code extensions in the future."
        },
        "shortCode": {
          "$ref": "ShortCode",
          "description": "A short code. Reference(s): - https://wikipedia.org/wiki/Short_code"
        }
      },
      "id": "PhoneNumber",
      "description": "An object representing a phone number, suitable as an API wire format. This representation: - should not be used for locale-specific formatting of a phone number, such as \"+1 (650) 253-0000 ext. 123\" - is not designed for efficient storage - may not be suitable for dialing - specialized libraries (see references) should be used to parse the number for that purpose To do something meaningful with this number, such as format it for various use-cases, convert it to an `i18n.phonenumbers.PhoneNumber` object first. For instance, in Java this would be: com.google.type.PhoneNumber wireProto = com.google.type.PhoneNumber.newBuilder().build(); com.google.i18n.phonenumbers.Phonenumber.PhoneNumber phoneNumber = PhoneNumberUtil.getInstance().parse(wireProto.getE164Number(), \"ZZ\"); if (!wireProto.getExtension().isEmpty()) { phoneNumber.setExtension(wireProto.getExtension()); } Reference(s): - https://github.com/google/libphonenumber",
      "type": "object"
    },
    "Homepage": {
      "description": "The `Homepage` message represents a business's store homepage within the system. A business's homepage is the primary domain where customers interact with their store. The homepage can be claimed and verified as a proof of ownership and allows the business to unlock features that require a verified website. For more information, see [Understanding online store URL verification](//support.google.com/merchants/answer/176793).",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The URI (typically a URL) of the store's homepage."
        },
        "claimed": {
          "type": "boolean",
          "description": "Output only. Whether the homepage is claimed. See https://support.google.com/merchants/answer/176793.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
          "type": "string"
        }
      },
      "id": "Homepage"
    },
    "ShortCode": {
      "id": "ShortCode",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. The BCP-47 region code of the location where calls to this short code can be made, such as \"US\" and \"BB\". Reference(s): - http://www.unicode.org/reports/tr35/#unicode_region_subtag"
        },
        "number": {
          "type": "string",
          "description": "Required. The short code digits, without a leading plus ('+') or country calling code. For example \"611\"."
        }
      },
      "type": "object",
      "description": "An object representing a short code, which is a phone number that is typically much shorter than regular phone numbers and can be used to address messages in MMS and SMS systems, as well as for abbreviated dialing (For example \"Text 611 to see how many minutes you have remaining on your plan.\"). Short codes are restricted to a region and are not internationally dialable, which means the same short code can exist in different regions, with different usage and pricing, even if those regions share the same country calling code (For example: US and CA)."
    },
    "Address": {
      "description": "Shipping address of the warehouse.",
      "type": "object",
      "properties": {
        "postalCode": {
          "type": "string",
          "description": "Required. Postal code or ZIP (For example \"94043\")."
        },
        "city": {
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (For example neighborhoods or suburbs).",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. [CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (For example \"US\").",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        },
        "streetAddress": {
          "description": "Street-level part of the address. For example: `111w 31st Street`.",
          "type": "string"
        }
      },
      "id": "Address"
    },
    "CarrierRate": {
      "type": "object",
      "description": "A list of carrier rates that can be referred to by `main_table` or `single_value`. Supported carrier services are defined in https://support.google.com/merchants/answer/12577710?ref_topic=12570808&sjid=10662598224319463032-NC#zippy=%2Cdelivery-cost-rate-type%2Ccarrier-rate-au-de-uk-and-us-only.",
      "id": "CarrierRate",
      "properties": {
        "percentageAdjustment": {
          "description": "Optional. Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example `\"5.4\"` increases the rate by 5.4%, `\"-3\"` decreases the rate by 3%.",
          "type": "string"
        },
        "flatAdjustment": {
          "$ref": "Price",
          "description": "Optional. Additive shipping rate modifier. Can be negative. For example `{ \"amount_micros\": 1, \"currency_code\" : \"USD\" }` adds $1 to the rate, `{ \"amount_micros\": -3, \"currency_code\" : \"USD\" }` removes $3 from the rate."
        },
        "name": {
          "description": "Required. Name of the carrier rate. Must be unique per rate group.",
          "type": "string"
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`.",
          "type": "string"
        },
        "originPostalCode": {
          "type": "string",
          "description": "Required. Shipping origin for this carrier rate."
        },
        "carrier": {
          "type": "string",
          "description": "Required. Carrier service, such as `\"UPS\"` or `\"Fedex\"`."
        }
      }
    },
    "ListOmnichannelSettingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "omnichannelSettings": {
          "description": "The omnichannel settings from the specified merchant.",
          "type": "array",
          "items": {
            "$ref": "OmnichannelSetting"
          }
        }
      },
      "id": "ListOmnichannelSettingsResponse",
      "description": "Response message for the ListOmnichannelSettings method.",
      "type": "object"
    },
    "UnregisterGcpRequest": {
      "properties": {},
      "id": "UnregisterGcpRequest",
      "description": "Request message for the UnregisterGCP method.",
      "type": "object"
    },
    "CheckoutSettings": {
      "id": "CheckoutSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`"
        },
        "effectiveEnrollmentState": {
          "description": "Output only. The effective value of enrollment_state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "type": "string",
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ]
        },
        "reviewState": {
          "type": "string",
          "description": "Output only. Reflects the merchant review state in `Checkout` program. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an `enrollment_state` of `ENROLLED` before a review can begin for the merchant.For more details, check the help center doc.",
          "readOnly": true,
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ]
        },
        "eligibleDestinations": {
          "description": "Optional. Required for the create operation. The destinations (also known as [Marketing methods](https://support.google.com/merchants/answer/15130232)) to which the checkout program applies. Valid destination values are `SHOPPING_ADS` and `FREE_LISTINGS`.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail)."
            ],
            "type": "string",
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL"
            ]
          }
        },
        "enrollmentState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "type": "string",
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` program."
        },
        "uriSettings": {
          "description": "URI settings for cart or checkout URL.",
          "$ref": "UriSettings"
        },
        "effectiveReviewState": {
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "type": "string",
          "description": "Output only. The effective value of `review_state` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers)."
        },
        "effectiveUriSettings": {
          "readOnly": true,
          "$ref": "UriSettings",
          "description": "Output only. The effective value of `uri_settings` for a given merchant. If account level settings are present then this value will be a copy of url settings. Otherwise, it will have the value of the parent account (for only marketplace sellers)."
        }
      },
      "type": "object",
      "description": "[CheckoutSettings](https://support.google.com/merchants/answer/13945960) for a specific merchant."
    },
    "ListProgramsResponse": {
      "type": "object",
      "description": "Response message for the ListPrograms method.",
      "id": "ListProgramsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "programs": {
          "description": "The programs for the given account.",
          "type": "array",
          "items": {
            "$ref": "Program"
          }
        }
      }
    },
    "ProposeAccountServiceRequest": {
      "properties": {
        "provider": {
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        },
        "accountService": {
          "description": "Required. The account service to propose.",
          "$ref": "AccountService"
        }
      },
      "id": "ProposeAccountServiceRequest",
      "description": "Request to propose an account service.",
      "type": "object"
    },
    "User": {
      "type": "object",
      "description": "The `User` resource represents a user associated with a Merchant Center account. It is used to manage user permissions and access rights within the account. For more information, see [Frequently asked questions about people and access levels](//support.google.com/merchants/answer/12160472).",
      "id": "User",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the user.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The user is pending confirmation. In this state, the user first needs to accept the invitation before performing other actions.",
            "The user is verified."
          ]
        },
        "accessRights": {
          "description": "Required. The [access rights](https://support.google.com/merchants/answer/12160472?sjid=6789834943175119429-EU#accesstypes) the user has.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Standard access rights.",
              "Has access to the same read-only methods as STANDARD, but no access to any mutating methods.",
              "Admin access rights.",
              "Users with this right have access to performance and insights.",
              "Users with this right have access to Merchant API and its notifications. This role is only accessible to accounts that have a developer registration."
            ],
            "type": "string",
            "enum": [
              "ACCESS_RIGHT_UNSPECIFIED",
              "STANDARD",
              "READ_ONLY",
              "ADMIN",
              "PERFORMANCE_REPORTING",
              "API_DEVELOPER"
            ]
          }
        }
      }
    },
    "TermsOfService": {
      "id": "TermsOfService",
      "properties": {
        "fileUri": {
          "type": "string",
          "description": "URI for terms of service file that needs to be displayed to signing users."
        },
        "external": {
          "type": "boolean",
          "description": "Whether this terms of service version is external. External terms of service versions can only be agreed through external processes and not directly by the merchant through UI or API."
        },
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `termsOfService/{version}`",
          "type": "string"
        },
        "regionCode": {
          "description": "Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country where the ToS applies specifically to that country or `001` when the same `TermsOfService` can be signed in any country. However note that when signing a ToS that applies globally we still expect that a specific country is provided (this should be merchant business country or program country of participation).",
          "type": "string"
        },
        "kind": {
          "description": "The Kind this terms of service version applies to.",
          "type": "string",
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of service for the Merchant Center application."
          ]
        }
      },
      "type": "object",
      "description": "The `TermsOfService` message represents a specific version of the terms of service that merchants must accept to access certain features or services. For more information, see [Terms of Service](https://support.google.com/merchants/answer/160173). This message is important for the onboarding process, ensuring that merchants agree to the necessary legal agreements for using the service. Merchants can retrieve the latest terms of service for a given `kind` and `region` through `RetrieveLatestTermsOfService`, and accept them as required through `AcceptTermsOfService`."
    },
    "AutofeedSettings": {
      "type": "object",
      "description": "Collection of information related to the [autofeed](https://support.google.com/merchants/answer/7538732) settings.",
      "id": "AutofeedSettings",
      "properties": {
        "eligible": {
          "description": "Output only. Determines whether the business is eligible for being enrolled into an autofeed.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`."
        },
        "enableProducts": {
          "description": "Required. Enables or disables product crawling through the autofeed for the given account. Autofeed accounts must meet [certain conditions](https://support.google.com/merchants/answer/7538732#Configure_automated_feeds_Standard_Experience), which can be checked through the `eligible` field. The account must **not** be a marketplace. When the autofeed is enabled for the first time, the products usually appear instantly. When re-enabling, it might take up to 24 hours for products to appear.",
          "type": "boolean"
        }
      }
    },
    "EmailPreferences": {
      "type": "object",
      "description": "The categories of notifications the user opted into / opted out of. The email preferences do not include mandatory announcements as users can't opt out of them.",
      "id": "EmailPreferences",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user."
        },
        "newsAndTips": {
          "type": "string",
          "enum": [
            "OPT_IN_STATE_UNSPECIFIED",
            "OPTED_OUT",
            "OPTED_IN",
            "UNCONFIRMED"
          ],
          "description": "Optional. Updates on new features, tips and best practices.",
          "enumDescriptions": [
            "Opt-in status is not specified.",
            "User has opted out of receiving this type of email.",
            "User has opted in to receiving this type of email.",
            "User has opted in to receiving this type of email and the confirmation email has been sent, but user has not yet confirmed the opt in (applies only to certain countries)."
          ]
        }
      }
    },
    "CutoffTime": {
      "description": "Business days cutoff time definition.",
      "type": "object",
      "properties": {
        "minute": {
          "format": "int32",
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day.",
          "type": "integer"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. [Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example \"Europe/Zurich\"."
        },
        "hour": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day."
        }
      },
      "id": "CutoffTime"
    },
    "ItemUpdatesAccountLevelSettings": {
      "id": "ItemUpdatesAccountLevelSettings",
      "properties": {
        "allowPriceUpdates": {
          "type": "boolean",
          "description": "If price updates are enabled, Google always updates the active price with the crawled information."
        },
        "allowStrictAvailabilityUpdates": {
          "description": "If `allow_availability_updates` is enabled, items are automatically updated in all your Shopping target countries. By default, availability updates will only be applied to items that are 'out of stock' on your website but 'in stock' on Shopping. Set this to true to also update items that are 'in stock' on your website, but 'out of stock' on Google Shopping. In order for this field to have an effect, you must also set `allow_availability_updates`.",
          "type": "boolean"
        },
        "allowConditionUpdates": {
          "type": "boolean",
          "description": "If condition updates are enabled, Google always updates item condition with the condition detected from the details of your product."
        },
        "allowAvailabilityUpdates": {
          "type": "boolean",
          "description": "If availability updates are enabled, any previous availability values get overwritten if Google finds an out-of-stock annotation on the offer's page. If additionally `allow_strict_availability_updates` field is set to true, values get overwritten if Google finds an in-stock annotation on the offer’s page."
        }
      },
      "type": "object",
      "description": "Settings for the Automatic Item Updates."
    },
    "PostalCodeRange": {
      "type": "object",
      "description": "A range of postal codes that defines the region area.",
      "id": "PostalCodeRange",
      "properties": {
        "begin": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: `94108`, `9410*`, `9*`.",
          "type": "string"
        },
        "end": {
          "description": "Optional. A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin.",
          "type": "string"
        }
      }
    },
    "ProductChange": {
      "id": "ProductChange",
      "properties": {
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        },
        "reportingContext": {
          "type": "string",
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
[...]
