{
  "id": "merchantapi:accounts_v1beta",
  "discoveryVersion": "v1",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "protocol": "rest",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "schemas": {
    "ListSubAccountsResponse": {
      "description": "Response message for the `ListSubAccounts` method.",
      "id": "ListSubAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The accounts for which the given parent account is an aggregator."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "BusinessDayConfig": {
      "description": "Business days of the warehouse.",
      "id": "BusinessDayConfig",
      "type": "object",
      "properties": {
        "businessDays": {
          "description": "Required. Regular business days. May not be empty.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "WEEKDAY_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          }
        }
      }
    },
    "LinkLfpProviderRequest": {
      "id": "LinkLfpProviderRequest",
      "type": "object",
      "properties": {
        "externalAccountId": {
          "type": "string",
          "description": "Required. The external account ID by which this merchant is known to the LFP provider."
        }
      },
      "description": "Request message for the LinkLfpProvider method."
    },
    "ListAccountServicesResponse": {
      "id": "ListAccountServicesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages.",
          "type": "string"
        },
        "accountServices": {
          "description": "The account services that match your filter.",
          "type": "array",
          "items": {
            "$ref": "AccountService"
          }
        }
      },
      "description": "Response after trying to list account services."
    },
    "AccountService": {
      "description": "The `AccountService` message represents a specific service that a provider account offers to a Merchant Center account. `AccountService` defines the permissions and capabilities granted to the provider, allowing for operations such as product management or campaign management. The lifecycle of an `AccountService` involves a proposal phase, where one party suggests the service, and an approval phase, where the other party accepts or rejects it. This handshake mechanism ensures mutual consent before any access is granted. This mechanism safeguards both parties by ensuring that access rights are granted appropriately and that both the business and provider are aware of the services enabled. In scenarios where a user is an admin of both accounts, the approval can happen automatically. The mutability of a service is also managed through `AccountService`. Some services might be immutable, for example, if they were established through other systems or APIs, and you cannot alter them through this API.",
      "id": "AccountService",
      "type": "object",
      "properties": {
        "comparisonShopping": {
          "description": "Service type for comparison shopping. The provider is a CSS (Comparison Shopping Service) managing the account. See https://support.google.com/merchants/answer/12653197",
          "$ref": "ComparisonShopping"
        },
        "accountManagement": {
          "$ref": "AccountManagement",
          "description": "Service type for account management. Enables the provider to perform administrative actions on the business's account, such as configuring account settings, managing users, or updating business information."
        },
        "accountAggregation": {
          "$ref": "AccountAggregation",
          "description": "Service type for account aggregation. This enables the provider, which is an advanced account, to manage multiple sub-accounts (client accounts). Through this service, the advanced account provider can perform administrative and operational tasks across all linked sub-accounts. This is useful for agencies, aggregators, or large retailers that need centralized control over many Merchant Center accounts."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the account service. Format: `accounts/{account}/services/{service}`"
        },
        "mutability": {
          "enumDescriptions": [
            "Unused default value",
            "The service can be mutated without restrictions.",
            "The service is read-only and must not be mutated."
          ],
          "readOnly": true,
          "enum": [
            "MUTABILITY_UNSPECIFIED",
            "MUTABLE",
            "IMMUTABLE"
          ],
          "type": "string",
          "description": "Output only. Whether the service is mutable (e.g. through Approve / Reject RPCs). A service that was created through another system or API might be immutable."
        },
        "externalAccountId": {
          "type": "string",
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider."
        },
        "provider": {
          "description": "Output only. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string",
          "readOnly": true
        },
        "productsManagement": {
          "$ref": "ProductsManagement",
          "description": "Service type for managing products. This allows the provider to handle product data on behalf of the business, including reading and writing product listings. It's commonly used when the provider offers inventory management or catalog synchronization services to keep the business's product information up-to-date across platforms."
        },
        "localListingManagement": {
          "description": "Service type for local listings management. The business group associated with the external account id will be used to provide local inventory to this Merchant Center account.",
          "$ref": "LocalListingManagement"
        },
        "providerDisplayName": {
          "type": "string",
          "description": "Output only. The human-readable display name of the provider account.",
          "readOnly": true
        },
        "handshake": {
          "readOnly": true,
          "description": "Output only. Information about the state of the service in terms of establishing it (e.g. is it pending approval or approved).",
          "$ref": "Handshake"
        },
        "campaignsManagement": {
          "$ref": "CampaignsManagement",
          "description": "Service type for managing advertising campaigns. Grants the provider access to create and manage the business's ad campaigns, including setting up campaigns, adjusting bids, and optimizing performance."
        }
      }
    },
    "AddUser": {
      "id": "AddUser",
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. The email address of the user (for example, `john.doe@gmail.com`)."
        },
        "user": {
          "$ref": "User",
          "description": "Optional. Details about the user to be added. At the moment, only access rights may be specified."
        },
        "verificationMailSettings": {
          "description": "Optional. Settings related to configuring the verification email that is sent after adding a user.",
          "$ref": "VerificationMailSettings"
        }
      },
      "description": "Instruction for adding a user to the account during creation."
    },
    "ShortCode": {
      "description": "An object representing a short code, which is a phone number that is typically much shorter than regular phone numbers and can be used to address messages in MMS and SMS systems, as well as for abbreviated dialing (For example \"Text 611 to see how many minutes you have remaining on your plan.\"). Short codes are restricted to a region and are not internationally dialable, which means the same short code can exist in different regions, with different usage and pricing, even if those regions share the same country calling code (For example: US and CA).",
      "id": "ShortCode",
      "type": "object",
      "properties": {
        "number": {
          "description": "Required. The short code digits, without a leading plus ('+') or country calling code. For example \"611\".",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The BCP-47 region code of the location where calls to this short code can be made, such as \"US\" and \"BB\". Reference(s): - http://www.unicode.org/reports/tr35/#unicode_region_subtag"
        }
      }
    },
    "BusinessInfo": {
      "id": "BusinessInfo",
      "type": "object",
      "properties": {
        "koreanBusinessRegistrationNumber": {
          "description": "Optional. The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX.",
          "type": "string"
        },
        "phoneVerificationState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The phone is verified.",
            "The phone is unverified."
          ],
          "readOnly": true,
          "enum": [
            "PHONE_VERIFICATION_STATE_UNSPECIFIED",
            "PHONE_VERIFICATION_STATE_VERIFIED",
            "PHONE_VERIFICATION_STATE_UNVERIFIED"
          ],
          "description": "Output only. The phone verification state of the business.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`"
        },
        "address": {
          "$ref": "PostalAddress",
          "description": "Optional. The address of the business. Only `region_code`, `address_lines`, `postal_code`, `administrative_area` and `locality` fields are supported. All other fields are ignored."
        },
        "phone": {
          "description": "Output only. The phone number of the business.",
          "$ref": "PhoneNumber",
          "readOnly": true
        },
        "customerService": {
          "$ref": "CustomerService",
          "description": "Optional. The customer service of the business."
        }
      },
      "description": "The `BusinessInfo` message contains essential information about a business. This message captures key business details such as physical address, customer service contacts, and region-specific identifiers."
    },
    "Pickup": {
      "id": "Pickup",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the pickup serving.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ]
        },
        "uri": {
          "type": "string",
          "description": "Required. Pickup product page URI. It is only used for the review of pickup serving. This URI domain should match with the business's homepage."
        }
      },
      "description": "Collection of information related to Pickup."
    },
    "AutomaticImprovements": {
      "id": "AutomaticImprovements",
      "type": "object",
      "properties": {
        "imageImprovements": {
          "$ref": "AutomaticImageImprovements",
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`."
        },
        "itemUpdates": {
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticItemUpdates"
        },
        "shippingImprovements": {
          "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticShippingImprovements"
        }
      },
      "description": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account."
    },
    "ListAccountIssuesResponse": {
      "id": "ListAccountIssuesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accountIssues": {
          "type": "array",
          "items": {
            "$ref": "AccountIssue"
          },
          "description": "The issues from the specified account."
        }
      },
      "description": "Response message for the `ListAccountIssues` method."
    },
    "Value": {
      "description": "The single value of a rate group or the value of a rate group table's cell. Exactly one of `no_shipping`, `flat_rate`, `price_percentage`, `carrier_rateName`, `subtable_name` must be set.",
      "id": "Value",
      "type": "object",
      "properties": {
        "carrierRate": {
          "type": "string",
          "description": "The name of a carrier rate referring to a carrier rate defined in the same rate group. Can only be set if all other fields are not set."
        },
        "pricePercentage": {
          "type": "string",
          "description": "A percentage of the price represented as a number in decimal notation (For example, `\"5.4\"`). Can only be set if all other fields are not set."
        },
        "noShipping": {
          "type": "boolean",
          "description": "If true, then the product can't be shipped. Must be true when set, can only be set if all other fields are not set."
        },
        "subtable": {
          "description": "The name of a subtable. Can only be set in table cells (For example, not for single values), and only if all other fields are not set.",
          "type": "string"
        },
        "flatRate": {
          "description": "A flat rate. Can only be set if all other fields are not set.",
          "$ref": "Price"
        }
      }
    },
    "Weight": {
      "id": "Weight",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: kg and lb",
          "enumDescriptions": [
            "unit unspecified",
            "lb unit.",
            "kg unit."
          ],
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "POUND",
            "KILOGRAM"
          ]
        },
        "amountMicros": {
          "type": "string",
          "description": "Required. The weight represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 kg = 1000000 micros). This field can also be set as infinity by setting to -1. This field only support -1 and positive value.",
          "format": "int64"
        }
      },
      "description": "The weight represented as the value in string and the unit."
    },
    "CreateUserRequest": {
      "id": "CreateUserRequest",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`"
        },
        "user": {
          "description": "Optional. The user to create.",
          "$ref": "User"
        },
        "userId": {
          "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
          "type": "string"
        }
      },
      "description": "Request message for the `CreateUser` method."
    },
    "OnDisplayToOrder": {
      "description": "Collection of information related to the on display to order ([ODO](https://support.google.com/merchants/answer/14615056?ref_topic=15145747&sjid=6892280366904591178-NC)).",
      "id": "OnDisplayToOrder",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the URI.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        },
        "uri": {
          "type": "string",
          "description": "Required. The on display to order (ODO) policy URI."
        }
      }
    },
    "AccountManagement": {
      "id": "AccountManagement",
      "type": "object",
      "properties": {},
      "description": "`AccountManagement` payload."
    },
    "Address": {
      "id": "Address",
      "type": "object",
      "properties": {
        "postalCode": {
          "description": "Required. Postal code or ZIP (For example \"94043\").",
          "type": "string"
        },
        "city": {
          "type": "string",
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (For example neighborhoods or suburbs)."
        },
        "streetAddress": {
          "type": "string",
          "description": "Street-level part of the address. For example: `111w 31st Street`."
        },
        "regionCode": {
          "description": "Required. [CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (For example \"US\").",
          "type": "string"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\")."
        }
      },
      "description": "Shipping address of the warehouse."
    },
    "OmnichannelSetting": {
      "id": "OmnichannelSetting",
      "type": "object",
      "properties": {
        "about": {
          "$ref": "About",
          "description": "Optional. The about page URI and state for this country."
        },
        "pickup": {
          "description": "Optional. The Pickup URI and state for this country.",
          "$ref": "Pickup"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. Region code defined by [CLDR](https://cldr.unicode.org/). Must be provided in the Create method, and is immutable."
        },
        "lfpLink": {
          "readOnly": true,
          "$ref": "LfpLink",
          "description": "Output only. The established link to a LFP provider."
        },
        "odo": {
          "description": "Optional. The On Display to Order (ODO) policy URI and state for this country.",
          "$ref": "OnDisplayToOrder"
        },
        "name": {
          "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
          "type": "string"
        },
        "lsfType": {
          "description": "Required. The Local Store Front type for this country.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google-Hosted Local Store Front. Check the [HC article](https://support.google.com/merchants/answer/14869424) for more details.",
            "Merchant-Hosted Local Store Front Basic. Check the [HC article](https://support.google.com/merchants/answer/14615867) for more details.",
            "Merchant-Hosted Local Store Front Full. Check the [HC article](https://support.google.com/merchants/answer/14617076) for more details."
          ],
          "type": "string",
          "enum": [
            "LSF_TYPE_UNSPECIFIED",
            "GHLSF",
            "MHLSF_BASIC",
            "MHLSF_FULL"
          ]
        },
        "inventoryVerification": {
          "description": "Optional. The inventory verification contact and state for this country.",
          "$ref": "InventoryVerification"
        },
        "inStock": {
          "$ref": "InStock",
          "description": "Optional. The InStock URI and state for this country."
        }
      },
      "description": "Collection of information related to the omnichannel settings of a merchant."
    },
    "InStock": {
      "description": "Collection of information related to InStock.",
      "id": "InStock",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. Product landing page URI. It is only used for the review of MHLSF in-stock serving. This URI domain should match with the business's homepage. Required to be empty if the lsf_type is GHLSF, and required when the lsf_type is MHLSF_FULL or MHLSF_BASIC.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the in-stock serving.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        }
      }
    },
    "AccountAggregation": {
      "id": "AccountAggregation",
      "type": "object",
      "properties": {},
      "description": "`AccountAggregation` payload."
    },
    "CreateAndConfigureAccountRequest": {
      "id": "CreateAndConfigureAccountRequest",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "Account",
          "description": "Required. The account to be created."
        },
        "service": {
          "description": "Required. An account service between the account to be created and the provider account is initialized as part of the creation. At least one such service needs to be provided. Currently exactly one of these needs to be `account_aggregation` and `accounts.createAndConfigure` method can be used to create a sub-account under an existing advanced account through this method. Additional `account_management` or `products_management` services may be provided.",
          "type": "array",
          "items": {
            "$ref": "AddAccountService"
          }
        },
        "users": {
          "description": "Optional. Users to be added to the account. This field is deprecated and will not exist after the API evolves out of beta. Use the `user` field instead.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "CreateUserRequest"
          }
        },
        "user": {
          "type": "array",
          "items": {
            "$ref": "AddUser"
          },
          "description": "Optional. Users to be added to the account."
        },
        "setAlias": {
          "description": "Optional. If a relationship is created with a provider, you can set an alias for it with this field. The calling user must be an admin on the provider to be able to set an alias.",
          "type": "array",
          "items": {
            "$ref": "SetAliasForRelationship"
          }
        }
      },
      "description": "Request message for the `CreateAndConfigureAccount` method."
    },
    "Homepage": {
      "id": "Homepage",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`"
        },
        "uri": {
          "description": "Required. The URI (typically a URL) of the store's homepage.",
          "type": "string"
        },
        "claimed": {
          "readOnly": true,
          "description": "Output only. Whether the homepage is claimed. See https://support.google.com/merchants/answer/176793.",
          "type": "boolean"
        }
      },
      "description": "The `Homepage` message represents a business's store homepage within the system. A business's homepage is the primary domain where customers interact with their store. The homepage can be claimed and verified as a proof of ownership and allows the business to unlock features that require a verified website. For more information, see [Understanding online store URL verification](//support.google.com/merchants/answer/176793)."
    },
    "StoreConfig": {
      "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
      "id": "StoreConfig",
      "type": "object",
      "properties": {
        "cutoffConfig": {
          "$ref": "CutoffConfig",
          "description": "Configs related to local delivery ends for the day."
        },
        "storeServiceType": {
          "description": "Indicates whether all stores, or selected stores, listed by this business provide local delivery.",
          "enumDescriptions": [
            "Did not specify store service type.",
            "Indicates whether all stores, current and future, listed by this business provide local delivery.",
            "Indicates that only the stores listed in `store_codes` are eligible for local delivery."
          ],
          "type": "string",
          "enum": [
            "STORE_SERVICE_TYPE_UNSPECIFIED",
            "ALL_STORES",
            "SELECTED_STORES"
          ]
        },
        "storeCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of store codes that provide local delivery. If empty, then `all_stores` must be true."
        },
        "serviceRadius": {
          "$ref": "Distance",
          "description": "Maximum delivery radius. This is only required for the local delivery shipment type."
        }
      }
    },
    "ReturnShippingFee": {
      "id": "ReturnShippingFee",
      "type": "object",
      "properties": {
        "fixedFee": {
          "description": "Fixed return shipping fee amount. This value is only applicable when type is `FIXED`. We will treat the return shipping fee as free if type is `FIXED` and this value is not set.",
          "$ref": "Price"
        },
        "type": {
          "type": "string",
          "description": "Required. Type of return shipping fee.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customers will pay the actual return shipping fee."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ]
        }
      },
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost."
    },
    "ListRegionsResponse": {
      "id": "ListRegionsResponse",
      "type": "object",
      "properties": {
        "regions": {
          "description": "The regions from the specified business.",
          "type": "array",
          "items": {
            "$ref": "Region"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for the `ListRegions` method."
    },
    "WarehouseBasedDeliveryTime": {
      "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in `delivery_time` should be set.",
      "id": "WarehouseBasedDeliveryTime",
      "type": "object",
      "properties": {
        "carrier": {
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. [supported carriers](https://support.google.com/merchants/answer/7050921#zippy=%2Ccarrier-rates-au-de-uk-and-us-only)",
          "type": "string"
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The name of the service must be in the eddSupportedServices list.",
          "type": "string"
        },
        "warehouse": {
          "type": "string",
          "description": "Required. Warehouse name. This should match warehouse."
        }
      }
    },
    "RestockingFee": {
      "description": "The restocking fee. This can be a flat fee or a micro percent.",
      "id": "RestockingFee",
      "type": "object",
      "properties": {
        "fixedFee": {
          "description": "Fixed restocking fee.",
          "$ref": "Price"
        },
        "microPercent": {
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "LocalCutoffTime": {
      "id": "LocalCutoffTime",
      "type": "object",
      "properties": {
        "hour": {
          "description": "Hour local delivery orders must be placed by to process the same day.",
          "format": "int64",
          "type": "string"
        },
        "minute": {
          "type": "string",
          "description": "Minute local delivery orders must be placed by to process the same day.",
          "format": "int64"
        }
      },
      "description": "Time that local delivery ends for the day."
    },
    "ListOnlineReturnPoliciesResponse": {
      "description": "Response message for the `ListOnlineReturnPolicies` method.",
      "id": "ListOnlineReturnPoliciesResponse",
      "type": "object",
      "properties": {
        "onlineReturnPolicies": {
          "type": "array",
          "items": {
            "$ref": "OnlineReturnPolicy"
          },
          "description": "The retrieved return policies."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListOmnichannelSettingsResponse": {
      "id": "ListOmnichannelSettingsResponse",
      "type": "object",
      "properties": {
        "omnichannelSettings": {
          "type": "array",
          "items": {
            "$ref": "OmnichannelSetting"
          },
          "description": "The omnichannel settings from the specified merchant."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for the ListOmnichannelSettings method."
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accounts": {
          "description": "The accounts matching the `ListAccountsRequest`.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        }
      },
      "description": "Response message for the `accounts.list` method."
    },
    "TermsOfServiceAgreementState": {
      "description": "This resource represents the agreement state for a given account and terms of service kind. The state is as follows: * If the business has accepted a terms of service, `accepted` will be populated, otherwise it will be empty * If the business must sign a terms of service, `required` will be populated, otherwise it will be empty. Note that both `required` and `accepted` can be present. In this case the `accepted` terms of services will have an expiration date set in the `valid_until` field. The `required` terms of services need to be accepted before `valid_until` in order for the account to continue having a valid agreement. When accepting new terms of services we expect third-party providers to display the text associated with the given terms of service agreement (the url to the file containing the text is added in the Required message below as `tos_file_uri`). The actual acceptance of the terms of service is done by calling accept on the `TermsOfService` resource. `valid_until` field.",
      "id": "TermsOfServiceAgreementState",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementState/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}` For example, an identifier could be: `MERCHANT_CENTER-EU` or `MERCHANT_CENTER-US`.",
          "type": "string"
        },
        "required": {
          "$ref": "Required",
          "description": "Optional. The required terms of service"
        },
        "regionCode": {
          "description": "Required. Region code as defined by https://cldr.unicode.org/. This is the country the current state applies to.",
          "type": "string"
        },
        "accepted": {
          "description": "Optional. The accepted terms of service of this kind and for the associated region_code",
          "$ref": "Accepted"
        },
        "termsOfServiceKind": {
          "type": "string",
          "description": "Required. Terms of Service kind associated with the particular version.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Merchant Center application."
          ],
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ]
        }
      }
    },
    "Impact": {
      "description": "The impact of the issue on a region.",
      "id": "Impact",
      "type": "object",
      "properties": {
        "severity": {
          "type": "string",
          "description": "The severity of the issue on the destination and region.",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ]
        },
        "regionCode": {
          "description": "The [CLDR region code](https://cldr.unicode.org/) where this issue applies.",
          "type": "string"
        }
      }
    },
    "ShippingSettings": {
      "id": "ShippingSettings",
      "type": "object",
      "properties": {
        "services": {
          "description": "Optional. The target account's list of services.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the shipping settings. Format: `accounts/{account}/shippingSettings`. For example, `accounts/123456/shippingSettings`."
        },
        "etag": {
          "type": "string",
          "description": "Required. This field helps avoid async issues. It ensures that the shipping setting data doesn't change between the `get` call and the `insert` call. The user should follow these steps: 1. Set the etag field as an empty string for the initial shipping setting creation. 2. After the initial creation, call the `get` method to obtain an etag and the current shipping setting data before calling `insert`. 3. Modify the shipping setting information. 4. Call the `insert` method with the shipping setting information and the etag obtained in step 2. 5. If the shipping setting data changes between step 2 and step 4, the insert request will fail because the etag changes every time the shipping setting data changes. In this case, the user should repeat steps 2-4 with the new etag."
        },
        "warehouses": {
          "type": "array",
          "items": {
            "$ref": "Warehouse"
          },
          "description": "Optional. A list of warehouses which can be referred to in `services`."
        }
      },
      "description": "The Merchant Center account's [shipping settings](https://support.google.com/merchants/answer/6069284). The `ShippingSettings` resource lets you retrieve and update the shipping settings of your advanced account and all its associated sub-accounts."
    },
    "Requirement": {
      "id": "Requirement",
      "type": "object",
      "properties": {
        "title": {
          "readOnly": true,
          "description": "Output only. Name of the requirement.",
          "type": "string"
        },
        "affectedRegionCodes": {
          "readOnly": true,
          "description": "Output only. The regions that are currently affected by this requirement not being met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "documentationUri": {
          "type": "string",
          "description": "Output only. The URL of a help page describing the requirement.",
          "readOnly": true
        }
      },
      "description": "Defines a requirement specified for participation in the program."
    },
    "Table": {
      "id": "Table",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the table. Required for subtables, ignored for the main table."
        },
        "columnHeaders": {
          "description": "Headers of the table's columns. Optional: if not set then the table has only one dimension.",
          "$ref": "Headers"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "Required. The list of rows that constitute the table. Must have the same length as `row_headers`."
        },
        "rowHeaders": {
          "$ref": "Headers",
          "description": "Required. Headers of the table's rows."
        }
      },
      "description": "A table defining the rate group, when `single_value` is not expressive enough."
    },
    "Price": {
      "id": "Price",
      "type": "object",
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "description": "The price represented as a number and currency."
    },
    "WarehouseCutoffTime": {
      "id": "WarehouseCutoffTime",
      "type": "object",
      "properties": {
        "hour": {
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Hour is based on the timezone of warehouse.",
          "format": "int32",
          "type": "integer"
        },
        "minute": {
          "type": "integer",
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Minute is based on the timezone of warehouse.",
          "format": "int32"
        }
      },
      "description": "The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code."
    },
    "ListUsersResponse": {
      "description": "Response message for the `ListUsers` method.",
      "id": "ListUsersResponse",
      "type": "object",
      "properties": {
        "users": {
          "description": "The users from the specified account.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "OnlineReturnPolicy": {
      "description": "[Online return policy](https://support.google.com/merchants/answer/10220642) object. This is currently used to represent return policies for ads and free listings programs.",
      "id": "OnlineReturnPolicy",
      "type": "object",
      "properties": {
        "returnShippingFee": {
          "description": "Optional. The return shipping fee. Should be set only when customer need to download and print the return label.",
          "$ref": "ReturnShippingFee"
        },
        "label": {
          "type": "string",
          "description": "Optional. Immutable. This field represents the unique user-defined label of the return policy for the given country. It is important to note that the same label cannot be used in different return policies for the same country. If not given, policies will be automatically treated as the 'default' for the country. When using label, you are creating an exception policy in that country to assign a custom return policy to certain product groups, follow the instructions provided in the [Return policy label] (https://support.google.com/merchants/answer/9445425). The label can contain up to 50 characters."
        },
        "seasonalOverrides": {
          "description": "Optional. Overrides to the general policy for orders placed during a specific set of time intervals.",
          "type": "array",
          "items": {
            "$ref": "SeasonalOverride"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
        },
        "countries": {
          "description": "Required. Immutable. The countries of sale where the return policy applies. The values must be a valid 2 letter ISO 3166 code.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policy": {
          "description": "Optional. The return policy.",
          "$ref": "Policy"
        },
        "returnMethods": {
          "description": "Optional. The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Return by mail.",
              "Return in store.",
              "Return at a kiosk."
            ],
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK"
            ]
          }
        },
        "returnLabelSource": {
          "type": "string",
          "description": "Optional. The field specifies the return label source.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Download and print.",
            "Label include in the package.",
            "Customer to provide."
          ],
          "enum": [
            "RETURN_LABEL_SOURCE_UNSPECIFIED",
            "DOWNLOAD_AND_PRINT",
            "IN_THE_PACKAGE",
            "CUSTOMER_RESPONSIBILITY"
          ]
        },
        "returnPolicyId": {
          "type": "string",
          "description": "Output only. Return policy ID generated by Google.",
          "readOnly": true
        },
        "acceptExchange": {
          "description": "Optional. This field specifies if business allows customers to exchange products.",
          "type": "boolean"
        },
        "restockingFee": {
          "$ref": "RestockingFee",
          "description": "Optional. The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set."
        },
        "returnPolicyUri": {
          "description": "Required. The return policy uri. This can used by Google to do a sanity check for the policy. It must be a valid URL.",
          "type": "string"
        },
        "itemConditions": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "New.",
              "Used."
            ],
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "USED"
            ]
          },
          "description": "Optional. The item conditions accepted for returns must not be empty unless the type of return policy is 'noReturns'."
        },
        "acceptDefectiveOnly": {
          "type": "boolean",
          "description": "Optional. This field specifies if business only accepts defective products for returns."
        },
        "processRefundDays": {
          "type": "integer",
          "description": "Optional. The field specifies the number of days it takes for business to process refunds.",
          "format": "int32"
        }
      }
    },
    "LinkGbpAccountResponse": {
      "id": "LinkGbpAccountResponse",
      "type": "object",
      "properties": {
        "response": {
          "$ref": "Empty",
          "description": "Empty response."
        }
      },
      "description": "Response message for the LinkGbpAccount method."
    },
    "RejectAccountServiceRequest": {
      "description": "Request to reject an account service.",
      "id": "RejectAccountServiceRequest",
      "type": "object",
      "properties": {}
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "ItemUpdatesAccountLevelSettings": {
      "description": "Settings for the Automatic Item Updates.",
      "id": "ItemUpdatesAccountLevelSettings",
      "type": "object",
      "properties": {
        "allowStrictAvailabilityUpdates": {
          "type": "boolean",
          "description": "If `allow_availability_updates` is enabled, items are automatically updated in all your Shopping target countries. By default, availability updates will only be applied to items that are 'out of stock' on your website but 'in stock' on Shopping. Set this to true to also update items that are 'in stock' on your website, but 'out of stock' on Google Shopping. In order for this field to have an effect, you must also set `allow_availability_updates`."
        },
        "allowConditionUpdates": {
          "description": "If condition updates are enabled, Google always updates item condition with the condition detected from the details of your product.",
          "type": "boolean"
        },
        "allowPriceUpdates": {
          "description": "If price updates are enabled, Google always updates the active price with the crawled information.",
          "type": "boolean"
        },
        "allowAvailabilityUpdates": {
          "description": "If availability updates are enabled, any previous availability values get overwritten if Google finds an out-of-stock annotation on the offer's page. If additionally `allow_strict_availability_updates` field is set to true, values get overwritten if Google finds an in-stock annotation on the offer’s page.",
          "type": "boolean"
        }
      }
    },
    "PhoneNumber": {
      "id": "PhoneNumber",
      "type": "object",
      "properties": {
        "extension": {
          "type": "string",
          "description": "The phone number's extension. The extension is not standardized in ITU recommendations, except for being defined as a series of numbers with a maximum length of 40 digits. Other than digits, some other dialing characters such as ',' (indicating a wait) or '#' may be stored here. Note that no regions currently use extensions with short codes, so this field is normally only set in conjunction with an E.164 number. It is held separately from the E.164 number to allow for short code extensions in the future."
        },
        "shortCode": {
          "description": "A short code. Reference(s): - https://wikipedia.org/wiki/Short_code",
          "$ref": "ShortCode"
        },
        "e164Number": {
          "type": "string",
          "description": "The phone number, represented as a leading plus sign ('+'), followed by a phone number that uses a relaxed ITU E.164 format consisting of the country calling code (1 to 3 digits) and the subscriber number, with no additional spaces or formatting. For example: - correct: \"+15552220123\" - incorrect: \"+1 (555) 222-01234 x123\" The ITU E.164 format limits the latter to 12 digits, but in practice not all countries respect that, so we relax that restriction here. National-only numbers are not allowed. References: - https://www.itu.int/rec/T-REC-E.164-201011-I - https://en.wikipedia.org/wiki/E.164. - https://en.wikipedia.org/wiki/List_of_country_calling_codes"
        }
      },
      "description": "An object representing a phone number, suitable as an API wire format. This representation: - should not be used for locale-specific formatting of a phone number, such as \"+1 (650) 253-0000 ext. 123\" - is not designed for efficient storage - may not be suitable for dialing - specialized libraries (see references) should be used to parse the number for that purpose To do something meaningful with this number, such as format it for various use-cases, convert it to an `i18n.phonenumbers.PhoneNumber` object first. For instance, in Java this would be: com.google.type.PhoneNumber wireProto = com.google.type.PhoneNumber.newBuilder().build(); com.google.i18n.phonenumbers.Phonenumber.PhoneNumber phoneNumber = PhoneNumberUtil.getInstance().parse(wireProto.getE164Number(), \"ZZ\"); if (!wireProto.getExtension().isEmpty()) { phoneNumber.setExtension(wireProto.getExtension()); } Reference(s): - https://github.com/google/libphonenumber"
    },
    "AcceptTermsOfServiceResponse": {
      "description": "Response message for the `AcceptTermsOfService` method.",
      "id": "AcceptTermsOfServiceResponse",
      "type": "object",
      "properties": {
        "termsOfServiceAgreementState": {
          "description": "The agreement state after accepting the ToS.",
          "$ref": "TermsOfServiceAgreementState"
        }
      }
    },
    "AutomaticItemUpdates": {
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "id": "AutomaticItemUpdates",
      "type": "object",
      "properties": {
        "effectiveAllowAvailabilityUpdates": {
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean",
          "readOnly": true
        },
        "effectiveAllowStrictAvailabilityUpdates": {
          "readOnly": true,
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean"
        },
        "accountItemUpdatesSettings": {
          "$ref": "ItemUpdatesAccountLevelSettings",
          "description": "Optional. Determines which attributes of the items should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator."
        },
        "effectiveAllowPriceUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true
        },
        "effectiveAllowConditionUpdates": {
          "readOnly": true,
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean"
        }
      }
    },
    "ImageImprovementsAccountLevelSettings": {
      "description": "Settings for the Automatic Image Improvements.",
      "id": "ImageImprovementsAccountLevelSettings",
      "type": "object",
      "properties": {
        "allowAutomaticImageImprovements": {
          "description": "Enables automatic image improvements.",
          "type": "boolean"
        }
      }
    },
    "RegisterGcpRequest": {
      "description": "Request message for the RegisterGCP method.",
      "id": "RegisterGcpRequest",
      "type": "object",
      "properties": {
        "developerEmail": {
          "description": "Immutable. If the developer email provided is associated with a user in the merchant account provided, the user will be updated to have \"API developer\" access type and the email preference corresponding to that user will be updated to have the new \"API notifications\" preference. If the developer email provided is not associated with any user we will just add it as a contact. The email preference corresponding to that contact will have the new \"API notifications\" preference. Make sure the email used is associated with a Google Account (Google Workspace account or Gmail account) and is not a service account as service accounts can't receive emails.",
          "type": "string"
        }
      }
    },
    "LinkLfpProviderResponse": {
      "id": "LinkLfpProviderResponse",
      "type": "object",
      "properties": {
        "response": {
          "$ref": "Empty",
          "description": "Empty response."
        }
      },
      "description": "Response message for the LinkLfpProvider method."
    },
    "BusinessIdentity": {
      "id": "BusinessIdentity",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`"
        },
        "womenOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being women-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        },
        "smallBusiness": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as a small business. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces."
        },
        "blackOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being black-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "promotionsConsent": {
          "enum": [
            "PROMOTIONS_CONSENT_UNSPECIFIED",
            "PROMOTIONS_CONSENT_GIVEN",
            "PROMOTIONS_CONSENT_DENIED"
          ],
          "type": "string",
          "description": "Required. Whether the identity attributes may be used for promotions.",
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account consented to having their business identity used for promotions.",
            "Indicates that the account did not consent to having their business identity used for promotions."
          ]
        },
        "veteranOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being veteran-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "latinoOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being latino-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        }
      },
      "description": "Collection of information related to the [identity of a business](https://support.google.com/merchants/answer/12564247)."
    },
    "ApproveAccountServiceRequest": {
      "description": "Request to approve an account service.",
      "id": "ApproveAccountServiceRequest",
      "type": "object",
      "properties": {}
    },
    "AutomaticImageImprovements": {
      "id": "AutomaticImageImprovements",
      "type": "object",
      "properties": {
        "accountImageImprovementsSettings": {
          "$ref": "ImageImprovementsAccountLevelSettings",
          "description": "Optional. Determines how the images should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator."
        },
        "effectiveAllowAutomaticImageImprovements": {
          "description": "Output only. The effective value of allow_automatic_image_improvements. If account_image_improvements_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973)"
    },
    "GbpAccount": {
      "description": "Collection of information related to a Google Business Profile (GBP) account.",
      "id": "GbpAccount",
      "type": "object",
      "properties": {
        "gbpAccountId": {
          "description": "The id of the GBP account.",
          "type": "string"
        },
        "gbpAccountName": {
          "description": "The name of the Business Profile. For personal accounts: Email id of the owner. For Business accounts: Name of the Business Account.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the GBP account. Format: `accounts/{account}/gbpAccount/{gbp_account}`"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "BUSINESS_ACCOUNT"
          ],
          "type": "string",
          "description": "The type of the Business Profile.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The GBP account is a user account.",
            "The GBP account is a business account."
          ]
        },
        "listingCount": {
          "type": "string",
          "description": "Number of listings under this account.",
          "format": "int64"
        }
      }
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "properties": {
        "accountName": {
          "type": "string",
          "description": "Required. A human-readable name of the account. Don't use punctuation, capitalization, or non-alphanumeric symbols such as the \"/\" or \"_\" symbols. See [Adding a business name](https://support.google.com/merchants/answer/12159159) for more information."
        },
        "timeZone": {
          "description": "Required. The time zone of the account. On writes, `time_zone` sets both the `reporting_time_zone` and the `display_time_zone`. For reads, `time_zone` always returns the `display_time_zone`. If `display_time_zone` doesn't exist for your account, `time_zone` is empty. The `version` field is not supported, won't be set in responses and will be silently ignored if specified in requests.",
          "$ref": "TimeZone"
        },
        "testAccount": {
          "readOnly": true,
          "description": "Output only. Whether this is a test account.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
          "type": "string"
        },
        "accountId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the account.",
          "format": "int64"
        },
        "languageCode": {
          "description": "Required. The account's [BCP-47 language code](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`.",
          "type": "string"
        },
        "adultContent": {
          "description": "Optional. Whether this account contains adult content.",
          "type": "boolean"
        }
      },
      "description": "The `Account` message represents a business's account within Shopping Ads. It's the primary entity for managing product data, settings, and interactions with Google's services and external providers. Accounts can operate as standalone entities or be part of a advanced account structure. In an advanced account setup the parent account manages multiple sub-accounts. Establishing an account involves configuring attributes like the account name, time zone, and language preferences. The `Account` message is the parent entity for many other resources, for example, `AccountRelationship`, `Homepage`, `BusinessInfo` and so on."
    },
    "CustomerService": {
      "id": "CustomerService",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Optional. The email address where customer service may be reached."
        },
        "uri": {
          "description": "Optional. The URI where customer service may be found.",
          "type": "string"
        },
        "phone": {
          "$ref": "PhoneNumber",
          "description": "Optional. The phone number where customer service may be called."
        }
      },
      "description": "Customer service information."
    },
    "CutoffConfig": {
      "description": "Configs related to local delivery ends for the day.",
      "id": "CutoffConfig",
      "type": "object",
      "properties": {
        "storeCloseOffsetHours": {
          "type": "string",
          "description": "Only valid with local delivery fulfillment. Represents cutoff time as the number of hours before store closing. Mutually exclusive with `local_cutoff_time`.",
          "format": "int64"
        },
        "localCutoffTime": {
          "$ref": "LocalCutoffTime",
          "description": "Time that local delivery ends for the day."
        },
        "noDeliveryPostCutoff": {
          "type": "boolean",
          "description": "Businesses can opt-out of showing n+1 day local delivery when they have a shipping service configured to n day local delivery. For example, if the shipping service defines same-day delivery, and it's past the cut-off, setting this field to `true` results in the calculated shipping service rate returning `NO_DELIVERY_POST_CUTOFF`. In the same example, setting this field to `false` results in the calculated shipping time being one day. This is only for local delivery."
        }
      }
    },
    "LocalListingManagement": {
      "description": "`LocalListingManagement` payload.",
      "id": "LocalListingManagement",
      "type": "object",
      "properties": {}
    },
    "Warehouse": {
      "description": "A fulfillment warehouse, which stores and handles inventory.",
      "id": "Warehouse",
      "type": "object",
      "properties": {
        "shippingAddress": {
          "description": "Required. Shipping address of the warehouse.",
          "$ref": "Address"
        },
        "cutoffTime": {
          "description": "Required. The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code.",
          "$ref": "WarehouseCutoffTime"
        },
        "businessDayConfig": {
          "description": "Business days of the warehouse. If not set, will be Monday to Friday by default.",
          "$ref": "BusinessDayConfig"
        },
        "handlingDays": {
          "type": "string",
          "description": "Required. The number of days it takes for this warehouse to pack up and ship an item. This is on the warehouse level, but can be overridden on the offer level based on the attributes of an item.",
          "format": "int64"
        },
        "name": {
          "description": "Required. The name of the warehouse. Must be unique within account.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "DeliveryTime": {
      "description": "Time spent in various aspects from order to the delivery of the product.",
      "id": "DeliveryTime",
      "type": "object",
      "properties": {
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "warehouseBasedDeliveryTimes": {
          "description": "Optional. Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in delivery time should be set.",
          "type": "array",
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          }
        },
        "maxHandlingDays": {
          "type": "integer",
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `min_handling_days`. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time.",
          "format": "int32"
        },
        "cutoffTime": {
          "description": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST.",
          "$ref": "CutoffTime"
        },
        "transitBusinessDayConfig": {
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "maxTransitDays": {
          "type": "integer",
          "description": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `min_transit_days`.",
          "format": "int32"
        },
        "transitTimeTable": {
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
          "$ref": "TransitTable"
        },
        "minTransitDays": {
          "description": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either `min_transit_days`, `max_transit_days` or `transit_time_table` must be set, but not both.",
          "format": "int32",
          "type": "integer"
        },
        "minHandlingDays": {
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "LinkGbpAccountRequest": {
      "description": "Request message for the LinkGbpAccount method.",
      "id": "LinkGbpAccountRequest",
      "type": "object",
      "properties": {
        "gbpEmail": {
          "description": "Required. The email address of the Business Profile account.",
          "type": "string"
        }
      }
    },
    "LfpProvider": {
      "id": "LfpProvider",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the LFP provider. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`",
          "type": "string"
        },
        "regionCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region code defined by [CLDR](https://cldr.unicode.org/)."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the LFP provider."
        }
      },
      "description": "Collection of information related to a Local Feed Partnership (LFP) provider."
    },
    "FindLfpProvidersResponse": {
      "description": "Response message for the FindLfpProviders method.",
      "id": "FindLfpProvidersResponse",
      "type": "object",
      "properties": {
        "lfpProviders": {
          "description": "The LFP providers from the specified merchant in the specified country.",
          "type": "array",
          "items": {
            "$ref": "LfpProvider"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LfpLink": {
      "id": "LfpLink",
      "type": "object",
      "properties": {
        "externalAccountId": {
          "type": "string",
          "description": "Required. The account ID by which this merchant is known to the LFP provider."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the LFP link.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ]
        },
        "lfpProvider": {
          "type": "string",
          "description": "Required. The resource name of the LFP provider. Format: `lfpProviders/{lfp_provider}`"
        }
      },
      "description": "Collection of information related to the LFP link."
    },
    "RadiusArea": {
      "description": "A radius area that defines the region area.",
      "id": "RadiusArea",
      "type": "object",
      "properties": {
        "radius": {
          "description": "Required. The radius distance of the area.",
          "format": "double",
          "type": "number"
        },
        "radiusUnits": {
          "enum": [
            "RADIUS_UNITS_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ],
          "description": "Optional. The unit of the radius.",
          "enumDescriptions": [
            "Unused default value",
            "The distance is measured in miles.",
            "The distance is measured in kilometers."
          ],
          "type": "string"
        },
        "latLng": {
          "description": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format.",
          "$ref": "LatLng"
        },
        "regionCode": {
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to.",
          "type": "string"
        }
      }
    },
    "LatLng": {
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "type": "object",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        }
      }
    },
    "StoreCodeSetWithMov": {
      "id": "StoreCodeSetWithMov",
      "type": "object",
      "properties": {
        "storeCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of unique store codes or empty for the catch all."
        },
        "value": {
          "$ref": "Price",
          "description": "The minimum order value for the given stores."
        }
      },
      "description": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency."
    },
    "AccountRelationship": {
      "description": "The `AccountRelationship` message defines a formal connection between a merchant's account and a service provider's account. This relationship enables the provider to offer specific services to the business, such as product management or campaign management. It specifies the access rights and permissions to the business's data relevant to those services. Establishing an account relationship involves linking the merchant's account with a provider's account. The provider could be another Google account (like Google Ads or Google My Business) or a third-party platform (such as Shopify or WooCommerce).",
      "id": "AccountRelationship",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Immutable. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
          "type": "string"
        },
        "providerDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human-readable display name of the provider account."
        },
        "accountIdAlias": {
          "description": "Optional. An optional alias you can assign to this account relationship. This alias acts as a convenient identifier for your own reference and management. It must be unique among all your account relationships with the same provider. For example, you might use `account_id_alias` to assign a friendly name to this relationship for easier identification in your systems.",
          "type": "string"
        }
      }
    },
    "LoyaltyProgramTiers": {
      "description": "Subset of a business's loyalty program.",
      "id": "LoyaltyProgramTiers",
      "type": "object",
      "properties": {
        "tierLabel": {
          "description": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier.",
          "type": "string"
        }
      }
    },
    "AccountIssue": {
      "id": "AccountIssue",
      "type": "object",
      "properties": {
        "impactedDestinations": {
          "description": "The impact this issue has on various destinations.",
          "type": "array",
          "items": {
            "$ref": "ImpactedDestination"
          }
        },
        "severity": {
          "type": "string",
          "description": "The overall severity of the issue.",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ]
        },
        "detail": {
          "description": "Further localized details about the issue.",
          "type": "string"
        },
        "title": {
          "description": "The localized title of the issue.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the account issue. Format: `accounts/{account}/issues/{id}`. For example, `accounts/123456/issues/misrepresentation-of-self-or-products-unacceptable-business-practice-policy`.",
          "type": "string"
        },
        "documentationUri": {
          "type": "string",
          "description": "Link to Merchant Center Help Center providing further information about the issue and how to fix it."
        }
      },
      "description": "Issues with your Merchant Center account that can impact all your products. For more information, see [Account-level issues in Merchant Center](https://support.google.com/merchants/answer/12153802?sjid=17798438912526418908-EU#account)."
    },
    "GeoTargetArea": {
      "description": "A list of geotargets that defines the region area.",
      "id": "GeoTargetArea",
      "type": "object",
      "properties": {
        "geotargetCriteriaIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (for example, state)."
        }
      }
    },
    "Program": {
      "id": "Program",
      "type": "object",
      "properties": {
        "activeRegionCodes": {
          "description": "Output only. The regions in which the account is actively participating in the program. Active regions are defined as those where all program requirements affecting the regions have been met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "unmetRequirements": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Requirement"
          },
          "description": "Output only. The requirements that the account has not yet satisfied that are affecting participation in the program."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the program. Format: `accounts/{account}/programs/{program}`"
        },
        "documentationUri": {
          "readOnly": true,
          "description": "Output only. The URL of a Merchant Center help page describing the program.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The participation state of the account in the program.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_ELIGIBLE",
            "ELIGIBLE",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The account is not eligible to participate in the program.",
            "The account is eligible to participate in the program.",
            "The program is enabled for the account."
          ]
        }
      },
      "description": "Defines participation in a given program for the specified account. Programs provide a mechanism for adding functionality to a Merchant Center accounts. A typical example of this is the [Free product listings](https://support.google.com/merchants/answer/13889434) program, which enables products from a business's store to be shown across Google for free. The following list is the available set of program resource IDs accessible through the API: * `checkout` * `free-listings` * `product-ratings` * `shopping-ads` * `youtube-shopping-checkout`"
    },
    "CheckoutSettings": {
      "id": "CheckoutSettings",
      "type": "object",
      "properties": {
        "eligibleDestinations": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail)."
            ],
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL"
            ]
          },
          "description": "Optional. Required for the create operation. The destinations (also known as [Marketing methods](https://support.google.com/merchants/answer/15130232)) to which the checkout program applies. Valid destination values are `SHOPPING_ADS` and `FREE_LISTINGS`."
        },
        "effectiveEnrollmentState": {
          "description": "Output only. The effective value of enrollment_state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ]
        },
        "reviewState": {
          "description": "Output only. Reflects the merchant review state in `Checkout` program. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an `enrollment_state` of `ENROLLED` before a review can begin for the merchant.For more details, check the help center doc.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
          "type": "string"
        },
        "effectiveUriSettings": {
          "description": "Output only. The effective value of `uri_settings` for a given merchant. If account level settings are present then this value will be a copy of url settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "$ref": "UriSettings",
          "readOnly": true
        },
        "uriSettings": {
          "$ref": "UriSettings",
          "description": "URI settings for cart or checkout URL."
        },
        "effectiveReviewState": {
          "description": "Output only. The effective value of `review_state` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ]
        },
        "enrollmentState": {
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "readOnly": true,
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "type": "string",
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` program."
        }
      },
      "description": "[CheckoutSettings](https://support.google.com/merchants/answer/13945960) for a specific merchant."
    },
    "VerificationMailSettings": {
      "id": "VerificationMailSettings",
      "type": "object",
      "properties": {
        "verificationMailMode": {
          "type": "string",
          "description": "Optional. Mode of the verification mail. If not set, the default is `SEND_VERIFICATION_MAIL`.",
          "enumDescriptions": [
            "Default first member of every enum. Do not use.",
            "An invitation email is sent to the user added shortly after.",
            "No invitation email is sent. This can be useful if the user is expected to accept the invitation through the API without needing another notification."
          ],
          "enum": [
            "VERIFICATION_MAIL_MODE_UNSPECIFIED",
            "SEND_VERIFICATION_MAIL",
            "SUPPRESS_VERIFICATION_MAIL"
          ]
        }
      },
      "description": "Settings related to the verification email that is sent after adding a user."
    },
    "TransitTimeValue": {
      "description": "Transit time range (min-max) in business days.",
      "id": "TransitTimeValue",
      "type": "object",
      "properties": {
        "minTransitDays": {
          "type": "integer",
          "description": "Minimum transit time range in business days. 0 means same day delivery, 1 means next day delivery.",
          "format": "int32"
        },
        "maxTransitDays": {
          "description": "Must be greater than or equal to `min_transit_days`.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ClaimHomepageRequest": {
      "description": "Request message for the `ClaimHomepage` method.",
      "id": "ClaimHomepageRequest",
      "type": "object",
      "properties": {
        "overwrite": {
          "description": "Optional. When set to `true`, this option removes any existing claim on the requested website from any other account to the account making the request, effectively replacing the previous claim.",
          "type": "boolean"
        }
      }
    },
    "ImpactedDestination": {
      "description": "The impact of the issue on a destination.",
      "id": "ImpactedDestination",
      "type": "object",
      "properties": {
        "reportingContext": {
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
[...]
