{
  "discoveryVersion": "v1",
  "servicePath": "",
  "batchPath": "batch",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "id": "merchantapi:reviews_v1beta",
  "kind": "discovery#restDescription",
  "basePath": "",
  "canonicalName": "Merchant",
  "documentationLink": "https://developers.google.com/merchant/api",
  "version": "reviews_v1beta",
  "name": "merchantapi",
  "title": "Merchant API",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "ownerDomain": "google.com",
  "revision": "20260423",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "version_module": true,
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "schemas": {
    "ListMerchantReviewsResponse": {
      "type": "object",
      "id": "ListMerchantReviewsResponse",
      "description": "Response message for the `ListMerchantsReview` method.",
      "properties": {
        "merchantReviews": {
          "items": {
            "$ref": "MerchantReview"
          },
          "type": "array",
          "description": "The merchant review."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "MerchantReviewStatus": {
      "type": "object",
      "id": "MerchantReviewStatus",
      "description": "The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously.",
      "properties": {
        "lastUpdateTime": {
          "type": "string",
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "type": "array",
          "description": "Output only. The intended destinations for the merchant review.",
          "readOnly": true,
          "items": {
            "$ref": "MerchantReviewDestinationStatus"
          }
        },
        "itemLevelIssues": {
          "type": "array",
          "description": "Output only. A list of all issues associated with the merchant review.",
          "readOnly": true,
          "items": {
            "$ref": "MerchantReviewItemLevelIssue"
          }
        },
        "createTime": {
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ProductReviewAttributes": {
      "type": "object",
      "id": "ProductReviewAttributes",
      "description": "Attributes.",
      "properties": {
        "productNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Descriptive name of a product."
        },
        "transactionId": {
          "type": "string",
          "description": "Optional. A permanent, unique identifier for the transaction associated with the review in the publisher's system. This ID can be used to indicate that multiple reviews are associated with the same transaction."
        },
        "pros": {
          "type": "array",
          "description": "Optional. Contains the advantages based on the opinion of the reviewer. Omit boilerplate text like \"pro:\" unless it was written by the reviewer.",
          "items": {
            "type": "string"
          }
        },
        "subclientName": {
          "type": "string",
          "description": "Optional. The name of the subclient of the product reviews. The subclient is an identifier of the product review source. It should be equivalent to the directory provided in the file data source path."
        },
        "publisherName": {
          "type": "string",
          "description": "Optional. The name of the publisher of the product reviews. The information about the publisher, which may be a retailer, manufacturer, reviews service company, or any entity that publishes product reviews."
        },
        "brands": {
          "description": "Optional. Contains brand names associated with a product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "aggregatorName": {
          "description": "Optional. The name of the aggregator of the product reviews. A publisher may use a reviews aggregator to manage reviews and provide the feeds. This element indicates the use of an aggregator and contains information about the aggregator.",
          "type": "string"
        },
        "maxRating": {
          "format": "int64",
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min attribute.",
          "type": "string"
        },
        "isVerifiedPurchase": {
          "type": "boolean",
          "description": "Optional. Indicates whether the reviewer's purchase is verified."
        },
        "cons": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains the disadvantages based on the opinion of the reviewer. Omit boilerplate text like \"con:\" unless it was written by the reviewer.",
          "type": "array"
        },
        "gtins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains GTINs (global trade item numbers) associated with a product. Sub-types of GTINs (e.g. UPC, EAN, ISBN, JAN) are supported.",
          "type": "array"
        },
        "content": {
          "type": "string",
          "description": "Optional. The content of the review. If empty, the content might still get populated from pros and cons."
        },
        "productLinks": {
          "description": "Optional. The URI of the product. This URI can have the same value as the `review_link` element, if the review URI and the product URI are the same.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reviewerId": {
          "description": "Optional. The author of the product review. A permanent, unique identifier for the author of the review in the publisher's system.",
          "type": "string"
        },
        "reviewerIsAnonymous": {
          "description": "Optional. Set to true if the reviewer should remain anonymous.",
          "type": "boolean"
        },
        "reviewerUsername": {
          "type": "string",
          "description": "Optional. The name of the reviewer of the product review."
        },
        "isSpam": {
          "description": "Optional. Indicates whether the review is marked as spam in the publisher's system.",
          "type": "boolean"
        },
        "collectionMethod": {
          "description": "Optional. The method used to collect the review.",
          "type": "string",
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "UNSOLICITED",
            "POST_FULFILLMENT"
          ]
        },
        "isIncentivizedReview": {
          "type": "boolean",
          "description": "Optional. Indicates whether the review is incentivized."
        },
        "publisherFavicon": {
          "type": "string",
          "description": "Optional. A link to the company favicon of the publisher. The image dimensions should be favicon size: 16x16 pixels. The image format should be GIF, JPG or PNG."
        },
        "reviewCountry": {
          "type": "string",
          "description": "Optional. The country of the review defined by ISO 3166-1 Alpha-2 Country Code."
        },
        "rating": {
          "type": "number",
          "description": "Optional. The reviewer's overall rating of the product.",
          "format": "double"
        },
        "reviewLink": {
          "description": "Optional. The URI of the review landing page.",
          "$ref": "ReviewLink"
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        },
        "asins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Contains ASINs (Amazon Standard Identification Numbers) associated with a product."
        },
        "skus": {
          "description": "Optional. Contains SKUs (stock keeping units) associated with a product. Often this matches the product Offer Id in the product feed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mpns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains MPNs (manufacturer part numbers) associated with a product.",
          "type": "array"
        },
        "reviewerImageLinks": {
          "description": "Optional. A URI to an image of the reviewed product created by the review author. The URI does not have to end with an image file extension.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reviewTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The timestamp indicating when the review was written."
        },
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "minRating": {
          "type": "string",
          "description": "Optional. Contains the ratings associated with the review. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "format": "int64"
        }
      }
    },
    "CustomAttribute": {
      "type": "object",
      "id": "CustomAttribute",
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "properties": {
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "groupValues": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty."
        },
        "value": {
          "type": "string",
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty."
        }
      }
    },
    "MerchantReview": {
      "type": "object",
      "id": "MerchantReview",
      "description": "A review for a merchant. For more information, see [Introduction to Merchant Review Feeds](https://developers.google.com/merchant-review-feeds)",
      "properties": {
        "merchantReviewId": {
          "description": "Required. The user provided merchant review ID to uniquely identify the merchant review.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the merchant review. Format: `\"{merchantreview.name=accounts/{account}/merchantReviews/{merchantReview}}\"`"
        },
        "merchantReviewAttributes": {
          "description": "Optional. A list of merchant review attributes.",
          "$ref": "MerchantReviewAttributes"
        },
        "customAttributes": {
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as experimental attributes. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "merchantReviewStatus": {
          "description": "Output only. The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously.",
          "readOnly": true,
          "$ref": "MerchantReviewStatus"
        },
        "dataSource": {
          "description": "Output only. The primary data source of the merchant review.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ProductReview": {
      "id": "ProductReview",
      "description": "A review for a product. For more information, see [Introduction to Product Review Feeds](https://developers.google.com/product-review-feeds)",
      "properties": {
        "dataSource": {
          "description": "Output only. The primary data source of the product review.",
          "readOnly": true,
          "type": "string"
        },
        "productReviewId": {
          "description": "Required. The permanent, unique identifier for the product review in the publisher’s system.",
          "type": "string"
        },
        "productReviewStatus": {
          "description": "Output only. The status of a product review, data validation issues, that is, information about a product review computed asynchronously.",
          "readOnly": true,
          "$ref": "ProductReviewStatus"
        },
        "productReviewAttributes": {
          "description": "Optional. A list of product review attributes.",
          "$ref": "ProductReviewAttributes"
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Optional. A list of custom (merchant-provided) attributes.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the product review. Format: `\"{productreview.name=accounts/{account}/productReviews/{productReview}}\"`"
        }
      },
      "type": "object"
    },
    "MerchantReviewAttributes": {
      "type": "object",
      "id": "MerchantReviewAttributes",
      "description": "Attributes.",
      "properties": {
        "rating": {
          "type": "number",
          "description": "Optional. The reviewer's overall rating of the merchant.",
          "format": "double"
        },
        "reviewCountry": {
          "type": "string",
          "description": "Optional. The country where the reviewer made the order defined by ISO 3166-1 Alpha-2 Country Code."
        },
        "reviewLanguage": {
          "type": "string",
          "description": "Optional. The language of the review defined by BCP-47 language code."
        },
        "maxRating": {
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min rating.",
          "type": "string",
          "format": "int64"
        },
        "isAnonymous": {
          "type": "boolean",
          "description": "Optional. Set to true if the reviewer should remain anonymous."
        },
        "merchantRatingLink": {
          "description": "Optional. URL to the landing page that hosts the reviews for this merchant. Do not use a redirect URL.",
          "type": "string"
        },
        "merchantLink": {
          "description": "Optional. URL to the merchant's main website. Do not use a redirect URL for this value. In other words, the value should point directly to the merchant's site.",
          "type": "string"
        },
        "reviewTime": {
          "format": "google-datetime",
          "description": "Required. The timestamp indicating when the review was written.",
          "type": "string"
        },
        "minRating": {
          "description": "Optional. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "type": "string",
          "format": "int64"
        },
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "merchantDisplayName": {
          "description": "Optional. Human-readable display name for the merchant.",
          "type": "string"
        },
        "content": {
          "description": "Required. This should be any freeform text provided by the user and should not be truncated. If multiple responses to different questions are provided, all responses should be included, with the minimal context for the responses to make sense. Context should not be provided if questions were left unanswered.",
          "type": "string"
        },
        "collectionMethod": {
          "description": "Optional. The method used to collect the review.",
          "type": "string",
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation when the user placed an order.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "MERCHANT_UNSOLICITED",
            "POINT_OF_SALE",
            "AFTER_FULFILLMENT"
          ]
        },
        "reviewerId": {
          "type": "string",
          "description": "Optional. A permanent, unique identifier for the author of the review in the publisher's system."
        },
        "reviewerUsername": {
          "type": "string",
          "description": "Optional. Display name of the review author."
        },
        "merchantId": {
          "type": "string",
          "description": "Required. Must be unique and stable across all requests. In other words, if a request today and another 90 days ago refer to the same merchant, they must have the same id."
        }
      }
    },
    "ListProductReviewsResponse": {
      "id": "ListProductReviewsResponse",
      "description": "response message for the ListProductReviews method.",
      "properties": {
        "productReviews": {
          "type": "array",
          "description": "The product review.",
          "items": {
            "$ref": "ProductReview"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductChange": {
      "id": "ProductChange",
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "properties": {
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        }
      },
      "type": "object"
    },
    "ProductReviewStatus": {
      "id": "ProductReviewStatus",
      "description": "Product review status.",
      "properties": {
        "createTime": {
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "description": "Output only. The intended destinations for the product review.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ProductReviewDestinationStatus"
          }
        },
        "itemLevelIssues": {
          "type": "array",
          "description": "Output only. A list of all issues associated with the product review.",
          "readOnly": true,
          "items": {
            "$ref": "ProductReviewItemLevelIssue"
          }
        },
        "lastUpdateTime": {
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ProductReviewDestinationStatus": {
      "id": "ProductReviewDestinationStatus",
      "description": "The destination status of the product review status.",
      "properties": {
        "reportingContext": {
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Output only. The name of the reporting context.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        }
      },
      "type": "object"
    },
    "MerchantReviewItemLevelIssue": {
      "id": "MerchantReviewItemLevelIssue",
      "description": "The ItemLevelIssue of the merchant review status.",
      "properties": {
        "reportingContext": {
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "Output only. The reporting context the issue applies to.",
          "readOnly": true
        },
        "code": {
          "type": "string",
          "description": "Output only. The error code of the issue.",
          "readOnly": true
        },
        "resolution": {
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "readOnly": true,
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the merchant review.",
            "Issue disapproves the merchant review."
          ],
          "description": "Output only. How this issue affects serving of the merchant review.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ]
        },
        "attribute": {
          "type": "string",
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. A short issue description in English.",
          "readOnly": true
        },
        "documentation": {
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true,
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "Output only. A detailed issue description in English.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ProductReviewItemLevelIssue": {
      "type": "object",
      "id": "ProductReviewItemLevelIssue",
      "description": "The ItemLevelIssue of the product review status.",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Output only. A detailed issue description in English.",
          "readOnly": true
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ],
          "description": "Output only. How this issue affects serving of the product review.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product review.",
            "Issue disapproves the product review."
          ]
        },
        "attribute": {
          "type": "string",
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. A short issue description in English.",
          "readOnly": true
        },
        "documentation": {
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true,
          "type": "string"
        },
        "reportingContext": {
          "description": "Output only. The reporting context the issue applies to.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ]
        },
        "code": {
          "type": "string",
          "description": "Output only. The error code of the issue.",
          "readOnly": true
        },
        "resolution": {
          "type": "string",
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "readOnly": true
        }
      }
    },
    "ReviewLink": {
      "type": "object",
      "id": "ReviewLink",
      "description": "The URI of the review landing page.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "The review page contains only this single review.",
            "The review page contains a group of reviews including this review."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SINGLETON",
            "GROUP"
          ],
          "description": "Optional. Type of the review URI."
        },
        "link": {
          "description": "Optional. The URI of the review landing page. For example: `http://www.example.com/review_5.html`.",
          "type": "string"
        }
      }
    },
    "MerchantReviewDestinationStatus": {
      "id": "MerchantReviewDestinationStatus",
      "description": "The destination status of the merchant review status.",
      "properties": {
        "reportingContext": {
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "Output only. The name of the reporting context.",
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ]
        }
      },
      "type": "object"
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "description": "The message that the merchant will receive to notify about product status change event",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "type": "string"
        },
        "changes": {
          "items": {
            "$ref": "ProductChange"
          },
          "type": "array",
          "description": "A message to describe the change that happened to the product"
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource that changed, in this case it will always be `Product`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT"
          ]
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string"
        },
        "attribute": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`."
        },
        "resourceId": {
          "type": "string",
          "description": "The product id."
        },
        "resource": {
          "type": "string",
          "description": "The product name. Format: `accounts/{account}/products/{product}`"
        },
        "account": {
          "type": "string",
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "merchantReviews": {
          "methods": {
            "get": {
              "path": "reviews/v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "description": "Gets a merchant review.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$"
                }
              },
              "response": {
                "$ref": "MerchantReview"
              },
              "id": "merchantapi.accounts.merchantReviews.get",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "id": "merchantapi.accounts.merchantReviews.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "reviews/v1beta/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes merchant review.",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$"
                }
              }
            },
            "list": {
              "description": "Lists merchant reviews.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The account to list merchant reviews for. Format: accounts/{account}",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of merchant reviews to return. The service can return fewer than this value. The maximum value is 1000; values above 1000 are coerced to 1000. If unspecified, the maximum number of reviews is returned.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListMerchantReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMerchantReviews` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListMerchantReviewsResponse"
              },
              "path": "reviews/v1beta/{+parent}/merchantReviews",
              "httpMethod": "GET",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews",
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.merchantReviews.list"
            },
            "insert": {
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The account where the merchant review will be inserted. Format: accounts/{account}",
                  "location": "path"
                },
                "dataSource": {
                  "description": "Required. The data source of the [merchantreview](https://support.google.com/merchants/answer/7045996?sjid=5253581244217581976-EU) Format: `accounts/{account}/dataSources/{datasource}`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "MerchantReview"
              },
              "description": "Inserts a review for your Merchant Center account. If the review already exists, then the review is replaced with the new instance.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews:insert",
              "path": "reviews/v1beta/{+parent}/merchantReviews:insert",
              "httpMethod": "POST",
              "request": {
                "$ref": "MerchantReview"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.merchantReviews.insert"
            }
          }
        },
        "productReviews": {
          "methods": {
            "delete": {
              "id": "merchantapi.accounts.productReviews.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "path": "reviews/v1beta/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the Product review. Format: accounts/{account}/productReviews/{productReview}",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a product review.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "get": {
              "id": "merchantapi.accounts.productReviews.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "path": "reviews/v1beta/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "ProductReview"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$",
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/productReviews/{productReview}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Gets a product review."
            },
            "list": {
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews",
              "path": "reviews/v1beta/{+parent}/productReviews",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListProductReviewsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The account to list product reviews for. Format: accounts/{account}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListProductReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductReviews` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists product reviews.",
              "id": "merchantapi.accounts.productReviews.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Inserts a product review.",
              "response": {
                "$ref": "ProductReview"
              },
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The account where the product review will be inserted. Format: accounts/{account}",
                  "location": "path",
                  "required": true
                },
                "dataSource": {
                  "description": "Required. Format: `accounts/{account}/dataSources/{datasource}`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "reviews/v1beta/{+parent}/productReviews:insert",
              "httpMethod": "POST",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews:insert",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ProductReview"
              },
              "id": "merchantapi.accounts.productReviews.insert"
            }
          }
        }
      }
    }
  }
}