{
  "rootUrl": "https://merchantapi.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "title": "Merchant API",
  "version": "notifications_v1",
  "discoveryVersion": "v1",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "accounts": {
      "resources": {
        "notificationsubscriptions": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListNotificationSubscriptionsResponse"
              },
              "description": "Gets all the notification subscriptions for a merchant.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of notification subscriptions to return in a page. The default value for `page_size` is 100. The maximum value is `200`. Values above `200` will be coerced to `200`.",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The merchant account who owns the notification subscriptions. Format: `accounts/{account}`",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "merchantapi.accounts.notificationsubscriptions.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "notifications/v1/accounts/{accountsId}/notificationsubscriptions",
              "path": "notifications/v1/{+parent}/notificationsubscriptions"
            },
            "create": {
              "path": "notifications/v1/{+parent}/notificationsubscriptions",
              "flatPath": "notifications/v1/accounts/{accountsId}/notificationsubscriptions",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.notificationsubscriptions.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The merchant account that owns the new notification subscription. Format: `accounts/{account}`",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "NotificationSubscription"
              },
              "description": "Creates a notification subscription for a business. For standalone or subaccounts accounts, the business can create a subscription for self. For MCAs, the business can create a subscription for all managed accounts or for a specific subaccount. See [Decode notifications](/merchant/api/guides/accounts/notifications#decode_notifications) for information on how to decode the notification payload and how to interpret its contents. We will allow the following types of notification subscriptions to exist together (per business as a subscriber per event type): 1. Subscription for all managed accounts + subscription for self. 2. Multiple \"partial\" subscriptions for managed accounts + subscription for self. we will not allow (per business as a subscriber per event type): 1. Multiple self subscriptions. 2. Multiple \"all managed accounts\" subscriptions. 3. \"All managed accounts\" subscription and partial subscriptions at the same time. 4. Multiple partial subscriptions for the same target account.",
              "response": {
                "$ref": "NotificationSubscription"
              }
            },
            "patch": {
              "description": "Updates an existing notification subscription for a merchant.",
              "response": {
                "$ref": "NotificationSubscription"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "NotificationSubscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.notificationsubscriptions.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/notificationsubscriptions/[^/]+$",
                  "type": "string",
                  "description": "Output only. The `name` of the notification configuration. Generated by the Content API upon creation of a new `NotificationSubscription`. The `account` represents the merchant ID of the merchant that owns the configuration. Format: `accounts/{account}/notificationsubscriptions/{notification_subscription}`",
                  "required": true
                },
                "updateMask": {
                  "description": "List of fields being updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "notifications/v1/{+name}",
              "flatPath": "notifications/v1/accounts/{accountsId}/notificationsubscriptions/{notificationsubscriptionsId}"
            },
            "delete": {
              "description": "Deletes a notification subscription for a merchant.",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the notification subscription to be deleted.",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/notificationsubscriptions/[^/]+$"
                }
              },
              "id": "merchantapi.accounts.notificationsubscriptions.delete",
              "path": "notifications/v1/{+name}",
              "flatPath": "notifications/v1/accounts/{accountsId}/notificationsubscriptions/{notificationsubscriptionsId}"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.notificationsubscriptions.get",
              "parameters": {
                "name": {
                  "description": "Required. The `name` of the notification subscription.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/notificationsubscriptions/[^/]+$",
                  "location": "path"
                }
              },
              "path": "notifications/v1/{+name}",
              "flatPath": "notifications/v1/accounts/{accountsId}/notificationsubscriptions/{notificationsubscriptionsId}",
              "description": "Gets notification subscriptions for an account.",
              "response": {
                "$ref": "NotificationSubscription"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20260423",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/merchant/api",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "version_module": true,
  "servicePath": "",
  "schemas": {
    "NotificationSubscription": {
      "type": "object",
      "description": "Represents a notification subscription owned by a Merchant account. See [Decode notifications](/merchant/api/guides/accounts/notifications#decode_notifications) for information on how to decode the notification payload and how to interpret its contents.",
      "id": "NotificationSubscription",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The `name` of the notification configuration. Generated by the Content API upon creation of a new `NotificationSubscription`. The `account` represents the merchant ID of the merchant that owns the configuration. Format: `accounts/{account}/notificationsubscriptions/{notification_subscription}`"
        },
        "registeredEvent": {
          "enum": [
            "NOTIFICATION_EVENT_TYPE_UNSPECIFIED",
            "PRODUCT_STATUS_CHANGE"
          ],
          "type": "string",
          "description": "The event that the merchant wants to be notified about.",
          "enumDescriptions": [
            "Notifications event type is unspecified.",
            "Notification of product status changes, for example when product becomes disapproved."
          ]
        },
        "callBackUri": {
          "description": "URL to be used to push the notification to the merchant.",
          "type": "string"
        },
        "targetAccount": {
          "type": "string",
          "description": "The `name` of the account you want to receive notifications for. Format: `accounts/{account}`"
        },
        "allManagedAccounts": {
          "type": "boolean",
          "description": "If this value is true, the requesting account is notified of the specified event for all managed accounts (can be subaccounts or other linked accounts) including newly added accounts on a daily basis."
        }
      }
    },
    "ProductStatusChangeMessage": {
      "type": "object",
      "description": "The message that the merchant will receive to notify about product status change event",
      "id": "ProductStatusChangeMessage",
      "properties": {
        "managingAccount": {
          "type": "string",
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The product id."
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "The product name. Format: `accounts/{account}/products/{product}`"
        },
        "attribute": {
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ]
        },
        "changes": {
          "type": "array",
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "resourceType": {
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT"
          ],
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product"
          ],
          "type": "string"
        }
      }
    },
    "ListNotificationSubscriptionsResponse": {
      "id": "ListNotificationSubscriptionsResponse",
      "properties": {
        "notificationSubscriptions": {
          "items": {
            "$ref": "NotificationSubscription"
          },
          "description": "The list of notification subscriptions requested by the merchant.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for the ListNotificationSubscription method.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "ProductChange": {
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "type": "object",
      "id": "ProductChange",
      "properties": {
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "type": "string",
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "id": "merchantapi:notifications_v1",
  "name": "merchantapi",
  "canonicalName": "Merchant"
}