{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "version": "accounts_v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "canonicalName": "Merchant",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/merchant/api",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "name": "merchantapi",
  "title": "Merchant API",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "revision": "20260419",
  "servicePath": "",
  "schemas": {
    "AutomaticItemUpdates": {
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "id": "AutomaticItemUpdates",
      "type": "object",
      "properties": {
        "effectiveAllowConditionUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "effectiveAllowStrictAvailabilityUpdates": {
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true,
          "type": "boolean"
        },
        "effectiveAllowAvailabilityUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "effectiveAllowPriceUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "accountItemUpdatesSettings": {
          "description": "Optional. Determines which attributes of the items should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "ItemUpdatesAccountLevelSettings"
        }
      }
    },
    "LatLng": {
      "type": "object",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng"
    },
    "VerificationMailSettings": {
      "id": "VerificationMailSettings",
      "description": "Settings related to the verification email that is sent after adding a user.",
      "type": "object",
      "properties": {
        "verificationMailMode": {
          "enum": [
            "VERIFICATION_MAIL_MODE_UNSPECIFIED",
            "SEND_VERIFICATION_MAIL",
            "SUPPRESS_VERIFICATION_MAIL"
          ],
          "description": "Optional. Mode of the verification mail. If not set, the default is `SEND_VERIFICATION_MAIL`.",
          "type": "string",
          "enumDescriptions": [
            "Default first member of every enum. Do not use.",
            "An invitation email is sent to the user added shortly after.",
            "No invitation email is sent. This can be useful if the user is expected to accept the invitation through the API without needing another notification."
          ]
        }
      }
    },
    "Handshake": {
      "type": "object",
      "properties": {
        "approvalState": {
          "enumDescriptions": [
            "Unspecified approval status.",
            "The service was proposed and is waiting to be confirmed.",
            "Indicates that the service proposal has been accepted and will be established after a fixed delay set by the service provider.",
            "Both parties have confirmed the service.",
            "The service proposal was rejected."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The approval state of this handshake.",
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "WAITING",
            "ESTABLISHED",
            "REJECTED"
          ]
        },
        "actor": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified actor.",
            "The last change was done by the account who has this service.",
            "The last change was done by the other party who this service points to."
          ],
          "enum": [
            "ACTOR_UNSPECIFIED",
            "ACCOUNT",
            "OTHER_PARTY"
          ],
          "description": "Output only. The most recent account to modify the account service's `approval_status`.",
          "type": "string"
        }
      },
      "id": "Handshake",
      "description": "The current status of establishing of the service. (for example, pending approval, approved, established)."
    },
    "CheckoutSettings": {
      "type": "object",
      "properties": {
        "eligibleDestinations": {
          "type": "array",
          "items": {
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL"
            ],
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail)."
            ],
            "type": "string"
          },
          "description": "Optional. Required for the create operation. The destinations (also known as [Marketing methods](https://support.google.com/merchants/answer/15130232)) to which the checkout program applies. Valid destination values are `SHOPPING_ADS` and `FREE_LISTINGS`."
        },
        "effectiveUriSettings": {
          "description": "Output only. The effective value of `uri_settings` for a given merchant. If account level settings are present then this value will be a copy of url settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "$ref": "UriSettings",
          "readOnly": true
        },
        "uriSettings": {
          "description": "URI settings for cart or checkout URL.",
          "$ref": "UriSettings"
        },
        "effectiveReviewState": {
          "description": "Output only. The effective value of `review_state` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "readOnly": true
        },
        "reviewState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. Reflects the merchant review state in `Checkout` program. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an `enrollment_state` of `ENROLLED` before a review can begin for the merchant.For more details, check the help center doc.",
          "type": "string"
        },
        "effectiveEnrollmentState": {
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "description": "Output only. The effective value of enrollment_state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`"
        },
        "enrollmentState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "type": "string",
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` program."
        }
      },
      "description": "[CheckoutSettings](https://support.google.com/merchants/answer/13945960) for a specific merchant.",
      "id": "CheckoutSettings"
    },
    "DisableProgramRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for the DisableProgram method.",
      "id": "DisableProgramRequest"
    },
    "ShippingSettings": {
      "id": "ShippingSettings",
      "description": "The Merchant Center account's [shipping settings](https://support.google.com/merchants/answer/6069284). The `ShippingSettings` resource lets you retrieve and update the shipping settings of your advanced account and all its associated sub-accounts.",
      "type": "object",
      "properties": {
        "warehouses": {
          "description": "Optional. A list of warehouses which can be referred to in `services`.",
          "items": {
            "$ref": "Warehouse"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of the shipping settings. Format: `accounts/{account}/shippingSettings`. For example, `accounts/123456/shippingSettings`.",
          "type": "string"
        },
        "services": {
          "description": "Optional. The target account's list of services.",
          "items": {
            "$ref": "Service"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Required. This field helps avoid async issues. It ensures that the shipping setting data doesn't change between the `get` call and the `insert` call. The user should follow these steps: 1. Set the etag field as an empty string for the initial shipping setting creation. 2. After the initial creation, call the `get` method to obtain an etag and the current shipping setting data before calling `insert`. 3. Modify the shipping setting information. 4. Call the `insert` method with the shipping setting information and the etag obtained in step 2. 5. If the shipping setting data changes between step 2 and step 4, the insert request will fail because the etag changes every time the shipping setting data changes. In this case, the user should repeat steps 2-4 with the new etag."
        }
      }
    },
    "StoreConfig": {
      "id": "StoreConfig",
      "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
      "type": "object",
      "properties": {
        "storeServiceType": {
          "type": "string",
          "enumDescriptions": [
            "Did not specify store service type.",
            "Indicates whether all stores, current and future, listed by this business provide local delivery.",
            "Indicates that only the stores listed in `store_codes` are eligible for local delivery."
          ],
          "enum": [
            "STORE_SERVICE_TYPE_UNSPECIFIED",
            "ALL_STORES",
            "SELECTED_STORES"
          ],
          "description": "Indicates whether all stores, or selected stores, listed by this business provide local delivery."
        },
        "serviceRadius": {
          "description": "Maximum delivery radius. This is only required for the local delivery shipment type.",
          "$ref": "Distance"
        },
        "cutoffConfig": {
          "description": "Configs related to local delivery ends for the day.",
          "$ref": "CutoffConfig"
        },
        "storeCodes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of store codes that provide local delivery. If empty, then `all_stores` must be true.",
          "type": "array"
        }
      }
    },
    "ListAccountIssuesResponse": {
      "description": "Response message for the `ListAccountIssues` method.",
      "id": "ListAccountIssuesResponse",
      "type": "object",
      "properties": {
        "accountIssues": {
          "type": "array",
          "items": {
            "$ref": "AccountIssue"
          },
          "description": "The issues from the specified account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GeoTargetArea": {
      "type": "object",
      "properties": {
        "geotargetCriteriaIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (for example, state)."
        }
      },
      "description": "A list of geotargets that defines the region area.",
      "id": "GeoTargetArea"
    },
    "Table": {
      "type": "object",
      "properties": {
        "rowHeaders": {
          "description": "Required. Headers of the table's rows.",
          "$ref": "Headers"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "Required. The list of rows that constitute the table. Must have the same length as `row_headers`.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name of the table. Required for subtables, ignored for the main table."
        },
        "columnHeaders": {
          "description": "Headers of the table's columns. Optional: if not set then the table has only one dimension.",
          "$ref": "Headers"
        }
      },
      "id": "Table",
      "description": "A table defining the rate group, when `single_value` is not expressive enough."
    },
    "Address": {
      "id": "Address",
      "description": "Shipping address of the warehouse.",
      "type": "object",
      "properties": {
        "postalCode": {
          "description": "Required. Postal code or ZIP (For example \"94043\").",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. [CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (For example \"US\").",
          "type": "string"
        },
        "city": {
          "type": "string",
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (For example neighborhoods or suburbs)."
        },
        "streetAddress": {
          "description": "Street-level part of the address. For example: `111w 31st Street`.",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        }
      }
    },
    "CarrierRate": {
      "description": "A list of carrier rates that can be referred to by `main_table` or `single_value`. Supported carrier services are defined in https://support.google.com/merchants/answer/12577710?ref_topic=12570808&sjid=10662598224319463032-NC#zippy=%2Cdelivery-cost-rate-type%2Ccarrier-rate-au-de-uk-and-us-only.",
      "id": "CarrierRate",
      "type": "object",
      "properties": {
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`.",
          "type": "string"
        },
        "flatAdjustment": {
          "description": "Optional. Additive shipping rate modifier. Can be negative. For example `{ \"amount_micros\": 1, \"currency_code\" : \"USD\" }` adds $1 to the rate, `{ \"amount_micros\": -3, \"currency_code\" : \"USD\" }` removes $3 from the rate.",
          "$ref": "Price"
        },
        "originPostalCode": {
          "type": "string",
          "description": "Required. Shipping origin for this carrier rate."
        },
        "percentageAdjustment": {
          "type": "string",
          "description": "Optional. Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example `\"5.4\"` increases the rate by 5.4%, `\"-3\"` decreases the rate by 3%."
        },
        "carrier": {
          "type": "string",
          "description": "Required. Carrier service, such as `\"UPS\"` or `\"Fedex\"`."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the carrier rate. Must be unique per rate group."
        }
      }
    },
    "Region": {
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes, radius areas or, in some countries, using predefined geotargets. A region must be defined by specifying exactly one of `postal_code_area`, `geotarget_area`, or `radius_area`. For more information, see [Set up regions ](https://support.google.com/merchants/answer/7410946#zippy=%2Ccreate-a-new-region) for more information.",
      "id": "Region",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. The display name of the region.",
          "type": "string"
        },
        "radiusArea": {
          "description": "Optional. A radius area that defines the region area.",
          "$ref": "RadiusArea"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`"
        },
        "postalCodeArea": {
          "description": "Optional. A list of postal codes that defines the region area.",
          "$ref": "PostalCodeArea"
        },
        "geotargetArea": {
          "description": "Optional. A list of geotargets that defines the region area.",
          "$ref": "GeoTargetArea"
        },
        "regionalInventoryEligible": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the region is eligible for use in the Regional Inventory configuration."
        },
        "shippingEligible": {
          "description": "Output only. Indicates if the region is eligible for use in the Shipping Services configuration.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "LocationIdSet": {
      "type": "object",
      "properties": {
        "locationIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (For example, state).",
          "type": "array"
        }
      },
      "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
      "id": "LocationIdSet"
    },
    "AccountAggregation": {
      "id": "AccountAggregation",
      "description": "`AccountAggregation` payload.",
      "type": "object",
      "properties": {}
    },
    "Program": {
      "id": "Program",
      "description": "Defines participation in a given program for the specified account. Programs provide a mechanism for adding functionality to a Merchant Center accounts. A typical example of this is the [Free product listings](https://support.google.com/merchants/answer/13889434) program, which enables products from a business's store to be shown across Google for free. The following list is the available set of program resource IDs accessible through the API: * `checkout` * `free-listings` * `product-ratings` * `shopping-ads` * `youtube-affiliate` * `youtube-shopping-checkout`",
      "type": "object",
      "properties": {
        "activeRegionCodes": {
          "description": "Output only. The regions in which the account is actively participating in the program. Active regions are defined as those where all program requirements affecting the regions have been met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_ELIGIBLE",
            "ELIGIBLE",
            "ENABLED"
          ],
          "description": "Output only. The participation state of the account in the program.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The account is not eligible to participate in the program.",
            "The account is eligible to participate in the program.",
            "The program is enabled for the account."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the program. Format: `accounts/{account}/programs/{program}`"
        },
        "documentationUri": {
          "description": "Output only. The URL of a Merchant Center help page describing the program.",
          "readOnly": true,
          "type": "string"
        },
        "unmetRequirements": {
          "items": {
            "$ref": "Requirement"
          },
          "description": "Output only. The requirements that the account has not yet satisfied that are affecting participation in the program.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "BatchUpdateRegionsResponse": {
      "id": "BatchUpdateRegionsResponse",
      "description": "Response message for the `BatchUpdateRegions` method.",
      "type": "object",
      "properties": {
        "regions": {
          "description": "The updated region(s).",
          "items": {
            "$ref": "Region"
          },
          "type": "array"
        }
      }
    },
    "CampaignsManagement": {
      "description": "`CampaignManagement` payload.",
      "id": "CampaignsManagement",
      "type": "object",
      "properties": {}
    },
    "ApproveAccountServiceRequest": {
      "id": "ApproveAccountServiceRequest",
      "description": "Request to approve an account service.",
      "type": "object",
      "properties": {}
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "AccountService": {
      "type": "object",
      "properties": {
        "provider": {
          "description": "Output only. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "readOnly": true,
          "type": "string"
        },
        "handshake": {
          "$ref": "Handshake",
          "readOnly": true,
          "description": "Output only. Information about the state of the service in terms of establishing it (e.g. is it pending approval or approved)."
        },
        "localListingManagement": {
          "description": "Service type for local listings management. The business group associated with the external account id will be used to provide local inventory to this Merchant Center account.",
          "$ref": "LocalListingManagement"
        },
        "accountManagement": {
          "description": "Service type for account management. Enables the provider to perform administrative actions on the business's account, such as configuring account settings, managing users, or updating business information.",
          "$ref": "AccountManagement"
        },
        "externalAccountId": {
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider.",
          "type": "string"
        },
        "mutability": {
          "type": "string",
          "enum": [
            "MUTABILITY_UNSPECIFIED",
            "MUTABLE",
            "IMMUTABLE"
          ],
          "description": "Output only. Whether the service is mutable (e.g. through Approve / Reject RPCs). A service that was created through another system or API might be immutable.",
          "readOnly": true,
          "enumDescriptions": [
            "Unused default value",
            "The service can be mutated without restrictions.",
            "The service is read-only and must not be mutated."
          ]
        },
        "productsManagement": {
          "description": "Service type for managing products. This allows the provider to handle product data on behalf of the business, including reading and writing product listings. It's commonly used when the provider offers inventory management or catalog synchronization services to keep the business's product information up-to-date across platforms.",
          "$ref": "ProductsManagement"
        },
        "accountAggregation": {
          "description": "Service type for account aggregation. This enables the provider, which is an advanced account, to manage multiple sub-accounts (client accounts). Through this service, the advanced account provider can perform administrative and operational tasks across all linked sub-accounts. This is useful for agencies, aggregators, or large retailers that need centralized control over many Merchant Center accounts.",
          "$ref": "AccountAggregation"
        },
        "campaignsManagement": {
          "description": "Service type for managing advertising campaigns. Grants the provider access to create and manage the business's ad campaigns, including setting up campaigns, adjusting bids, and optimizing performance.",
          "$ref": "CampaignsManagement"
        },
        "providerDisplayName": {
          "description": "Output only. The human-readable display name of the provider account.",
          "readOnly": true,
          "type": "string"
        },
        "comparisonShopping": {
          "description": "Service type for comparison shopping. The provider is a CSS (Comparison Shopping Service) managing the account. See https://support.google.com/merchants/answer/12653197",
          "$ref": "ComparisonShopping"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the account service. Format: `accounts/{account}/services/{service}`"
        }
      },
      "id": "AccountService",
      "description": "The `AccountService` message represents a specific service that a provider account offers to a Merchant Center account. `AccountService` defines the permissions and capabilities granted to the provider, allowing for operations such as product management or campaign management. The lifecycle of an `AccountService` involves a proposal phase, where one party suggests the service, and an approval phase, where the other party accepts or rejects it. This handshake mechanism ensures mutual consent before any access is granted. This mechanism safeguards both parties by ensuring that access rights are granted appropriately and that both the business and provider are aware of the services enabled. In scenarios where a user is an admin of both accounts, the approval can happen automatically. The mutability of a service is also managed through `AccountService`. Some services might be immutable, for example, if they were established through other systems or APIs, and you cannot alter them through this API."
    },
    "InventoryVerification": {
      "id": "InventoryVerification",
      "description": "Collection of information related to [inventory verification](https://support.google.com/merchants/answer/14684499?ref_topic=15145634&sjid=6892280366904591178-NC).",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "When the merchant needs to initiate the inventory verification process. The next state is INACTIVE.",
            "When the merchant is ready to request inventory verification.",
            "The inventory verification process is running. If the merchant is rejected, the next state is INACTIVE.",
            "The inventory verification process succeeded.",
            "When merchant fails the inventory verification process and all attempts are exhausted."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the inventory verification process.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTION_REQUIRED",
            "INACTIVE",
            "RUNNING",
            "SUCCEEDED",
            "SUSPENDED"
          ]
        },
        "contact": {
          "description": "Required. The name of the contact for the inventory verification process.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "Required. The email address of the contact for the inventory verification process."
        },
        "contactState": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. The state of the contact verification.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        }
      }
    },
    "Price": {
      "type": "object",
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        }
      },
      "description": "The price represented as a number and currency.",
      "id": "Price"
    },
    "VerifySelfRequest": {
      "description": "Request message for the `VerifySelf` method.",
      "id": "VerifySelfRequest",
      "type": "object",
      "properties": {}
    },
    "AutomaticImageImprovements": {
      "type": "object",
      "properties": {
        "accountImageImprovementsSettings": {
          "description": "Optional. Determines how the images should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "ImageImprovementsAccountLevelSettings"
        },
        "effectiveAllowAutomaticImageImprovements": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_automatic_image_improvements. If account_image_improvements_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
        }
      },
      "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973)",
      "id": "AutomaticImageImprovements"
    },
    "BatchCreateRegionsRequest": {
      "description": "Request message for the `BatchCreateRegions` method.",
      "id": "BatchCreateRegionsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The region(s) to create. The maximum number of regions that can be created in a batch is 100.",
          "items": {
            "$ref": "CreateRegionRequest"
          },
          "type": "array"
        }
      }
    },
    "SetAliasForRelationship": {
      "type": "object",
      "properties": {
        "provider": {
          "description": "Required. The provider of the service. This is a reference to an account such as `providers/123` or `accounts/123`. The same provider must be specified in at least one of the `service` fields.",
          "type": "string"
        },
        "accountIdAlias": {
          "type": "string",
          "description": "Required. The unique ID of this account in the provider's system. The value must be unique across all accounts on the platform for this provider."
        }
      },
      "id": "SetAliasForRelationship",
      "description": "Set an alias for a relationship between a provider and the account to be created."
    },
    "BusinessInfo": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`"
        },
        "address": {
          "description": "Optional. The address of the business. Only `region_code`, `address_lines`, `postal_code`, `administrative_area` and `locality` fields are supported. All other fields are ignored.",
          "$ref": "PostalAddress"
        },
        "phoneVerificationState": {
          "description": "Output only. The phone verification state of the business.",
          "enum": [
            "PHONE_VERIFICATION_STATE_UNSPECIFIED",
            "PHONE_VERIFICATION_STATE_VERIFIED",
            "PHONE_VERIFICATION_STATE_UNVERIFIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The phone is verified.",
            "The phone is unverified."
          ],
          "readOnly": true
        },
        "koreanBusinessRegistrationNumber": {
          "description": "Optional. The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX.",
          "type": "string"
        },
        "phone": {
          "description": "Output only. The phone number of the business.",
          "$ref": "PhoneNumber",
          "readOnly": true
        },
        "customerService": {
          "description": "Optional. The customer service of the business.",
          "$ref": "CustomerService"
        }
      },
      "id": "BusinessInfo",
      "description": "The `BusinessInfo` message contains essential information about a business. This message captures key business details such as physical address, customer service contacts, and region-specific identifiers."
    },
    "MinimumOrderValueTable": {
      "type": "object",
      "properties": {
        "storeCodeSetWithMovs": {
          "items": {
            "$ref": "StoreCodeSetWithMov"
          },
          "description": "Required. A list of store code sets sharing the same minimum order value (MOV). At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
          "type": "array"
        }
      },
      "description": "Table of per store minimum order values for the pickup fulfillment type.",
      "id": "MinimumOrderValueTable"
    },
    "CustomerService": {
      "description": "Customer service information.",
      "id": "CustomerService",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. The URI where customer service may be found."
        },
        "email": {
          "type": "string",
          "description": "Optional. The email address where customer service may be reached."
        },
        "phone": {
          "description": "Optional. The phone number where customer service may be called.",
          "$ref": "PhoneNumber"
        }
      }
    },
    "Headers": {
      "description": "A non-empty list of row or column headers for a table. Exactly one of `prices`, `weights`, `num_items`, `postal_code_group_names`, or `location` must be set.",
      "id": "Headers",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "LocationIdSet"
          },
          "description": "Required. A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set."
        },
        "prices": {
          "type": "array",
          "items": {
            "$ref": "Price"
          },
          "description": "Required. A list of inclusive order price upper bounds. The last price's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"currency_code\": \"USD\"}, {\"amount_micros\": 500000000, \"currency_code\": \"USD\"}, {\"amount_micros\": -1, \"currency_code\": \"USD\"}]` represents the headers \"<= $10\", \"<= $500\", and \"> $500\". All prices within a service must have the same currency. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set."
        },
        "weights": {
          "type": "array",
          "items": {
            "$ref": "Weight"
          },
          "description": "Required. A list of inclusive order weight upper bounds. The last weight's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"unit\": \"kg\"}, {\"amount_micros\": 50000000, \"unit\": \"kg\"}, {\"amount_micros\": -1, \"unit\": \"kg\"}]` represents the headers \"<= 10kg\", \"<= 50kg\", and \"> 50kg\". All weights within a service must have the same unit. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set."
        },
        "numberOfItems": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of inclusive number of items upper bounds. The last value can be `\"infinity\"`. For example `[\"10\", \"50\", \"infinity\"]` represents the headers \"<= 10 items\", \"<= 50 items\", and \"> 50 items\". Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array"
        },
        "postalCodeGroupNames": {
          "type": "array",
          "description": "Required. A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OnDisplayToOrder": {
      "id": "OnDisplayToOrder",
      "description": "Collection of information related to the on display to order ([ODO](https://support.google.com/merchants/answer/14615056?ref_topic=15145747&sjid=6892280366904591178-NC)).",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The on display to order (ODO) policy URI.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the URI.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "readOnly": true
        }
      }
    },
    "UpdateRegionRequest": {
      "type": "object",
      "properties": {
        "region": {
          "description": "Required. The updated region.",
          "$ref": "Region"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`."
        }
      },
      "description": "Request message for the `UpdateRegion` method.",
      "id": "UpdateRegionRequest"
    },
    "AccountIssue": {
      "type": "object",
      "properties": {
        "detail": {
          "description": "Further localized details about the issue.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the account issue. Format: `accounts/{account}/issues/{id}`. For example, `accounts/123456/issues/misrepresentation-of-self-or-products-unacceptable-business-practice-policy`.",
          "type": "string"
        },
        "title": {
          "description": "The localized title of the issue.",
          "type": "string"
        },
        "documentationUri": {
          "type": "string",
          "description": "Link to Merchant Center Help Center providing further information about the issue and how to fix it."
        },
        "impactedDestinations": {
          "description": "The impact this issue has on various destinations.",
          "items": {
            "$ref": "ImpactedDestination"
          },
          "type": "array"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ],
          "description": "The overall severity of the issue.",
          "type": "string",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ]
        }
      },
      "id": "AccountIssue",
      "description": "Issues with your Merchant Center account that can impact all your products. For more information, see [Account-level issues in Merchant Center](https://support.google.com/merchants/answer/12153802?sjid=17798438912526418908-EU#account)."
    },
    "RateGroup": {
      "type": "object",
      "properties": {
        "applicableShippingLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of [shipping labels](https://support.google.com/merchants/answer/6324504) defining the products to which this rate group applies to. This is a disjunction: only one of the labels has to match for the rate group to apply. May only be empty for the last rate group of a service."
        },
        "mainTable": {
          "description": "A table defining the rate group, when `single_value` is not expressive enough. Can only be set if `single_value` is not set.",
          "$ref": "Table"
        },
        "carrierRates": {
          "items": {
            "$ref": "CarrierRate"
          },
          "description": "Optional. A list of carrier rates that can be referred to by `main_table` or `single_value`.",
          "type": "array"
        },
        "name": {
          "description": "Optional. Name of the rate group. If set has to be unique within shipping service.",
          "type": "string"
        },
        "singleValue": {
          "description": "The value of the rate group (For example flat rate $10). Can only be set if `main_table` and `subtables` are not set.",
          "$ref": "Value"
        },
        "subtables": {
          "type": "array",
          "description": "Optional. A list of subtables referred to by `main_table`. Can only be set if `main_table` is set.",
          "items": {
            "$ref": "Table"
          }
        }
      },
      "id": "RateGroup",
      "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap."
    },
    "Accepted": {
      "type": "object",
      "properties": {
        "acceptedBy": {
          "type": "string",
          "description": "Required. The account where the acceptance was recorded. This can be the account itself or, in the case of subaccounts, the advanced account."
        },
        "termsOfService": {
          "type": "string",
          "description": "Required. The accepted termsOfService."
        },
        "validUntil": {
          "description": "Optional. When set, it states that the accepted `TermsOfService` is only valid until the end of this date (in UTC). A new one must be accepted before then. The information of the required `TermsOfService` is found in the `Required` message.",
          "$ref": "Date"
        }
      },
      "id": "Accepted",
      "description": "Describes the [accepted terms of service](https://developers.google.com/merchant/api/guides/accounts/create-and-configure#accept_the_merchant_center_terms_of_service)."
    },
    "Policy": {
      "id": "Policy",
      "description": "The available policies.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The number of days within which a return is valid after delivery.",
            "No returns.",
            "Life time returns."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ],
          "description": "Policy type."
        },
        "days": {
          "description": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GbpAccount": {
      "id": "GbpAccount",
      "description": "Collection of information related to a Google Business Profile (GBP) account.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the GBP account. Format: `accounts/{account}/gbpAccount/{gbp_account}`"
        },
        "gbpAccountId": {
          "type": "string",
          "description": "The id of the GBP account."
        },
        "listingCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of listings under this account."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "BUSINESS_ACCOUNT"
          ],
          "description": "The type of the Business Profile.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The GBP account is a user account.",
            "The GBP account is a business account."
          ]
        },
        "gbpAccountName": {
          "description": "The name of the Business Profile. For personal accounts: Email id of the owner. For Business accounts: Name of the Business Account.",
          "type": "string"
        }
      }
    },
    "Account": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Output only. The ID of the account.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "adultContent": {
          "description": "Optional. Whether this account contains adult content.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "Required. The time zone of the account. On writes, `time_zone` sets both the `reporting_time_zone` and the `display_time_zone`. For reads, `time_zone` always returns the `display_time_zone`. If `display_time_zone` doesn't exist for your account, `time_zone` is empty. The `version` field is not supported, won't be set in responses and will be silently ignored if specified in requests.",
          "$ref": "TimeZone"
        },
        "accountName": {
          "description": "Required. A human-readable name of the account. Don't use punctuation, capitalization, or non-alphanumeric symbols such as the \"/\" or \"_\" symbols. See [Adding a business name](https://support.google.com/merchants/answer/12159159) for more information.",
          "type": "string"
        },
        "testAccount": {
          "description": "Output only. Whether this is a test account.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The account's [BCP-47 language code](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`."
        }
      },
      "description": "The `Account` message represents a business's account within Merchant Center. It's the primary entity for managing product data, settings, and interactions with Google's services and external providers. Accounts can operate as standalone entities or be part of a advanced account structure. In an advanced account setup the parent account manages multiple sub-accounts. Establishing an account involves configuring attributes like the account name, time zone, and language preferences. The `Account` message is the parent entity for many other resources, for example, `AccountRelationship`, `Homepage`, `BusinessInfo` and so on.",
      "id": "Account"
    },
    "BatchDeleteRegionsRequest": {
      "description": "Request message for the `BatchDeleteRegions` method.",
      "id": "BatchDeleteRegionsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "DeleteRegionRequest"
          },
          "description": "Required. The names of the regions to delete. A maximum of 100 regions can be deleted in a batch."
        }
      }
    },
    "ImageImprovementsAccountLevelSettings": {
      "description": "Settings for the Automatic Image Improvements.",
      "id": "ImageImprovementsAccountLevelSettings",
      "type": "object",
      "properties": {
        "allowAutomaticImageImprovements": {
          "type": "boolean",
          "description": "Enables automatic image improvements."
        }
      }
    },
    "ProductsManagement": {
      "type": "object",
      "properties": {},
      "description": "`ProductsManagement` payload.",
      "id": "ProductsManagement"
    },
    "AutomaticImprovements": {
      "id": "AutomaticImprovements",
      "description": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account.",
      "type": "object",
      "properties": {
        "shippingImprovements": {
          "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticShippingImprovements"
        },
        "name": {
          "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
          "type": "string"
        },
        "imageImprovements": {
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticImageImprovements"
        },
        "itemUpdates": {
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticItemUpdates"
        }
      }
    },
    "BusinessIdentity": {
      "type": "object",
      "properties": {
        "smallBusiness": {
          "description": "Optional. Specifies whether the business identifies itself as a small business. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces.",
          "$ref": "IdentityAttribute"
        },
        "veteranOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being veteran-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "womenOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being women-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "name": {
          "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
          "type": "string"
        },
        "promotionsConsent": {
          "description": "Required. Whether the identity attributes may be used for promotions.",
          "enum": [
            "PROMOTIONS_CONSENT_UNSPECIFIED",
            "PROMOTIONS_CONSENT_GIVEN",
            "PROMOTIONS_CONSENT_DENIED"
          ],
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account consented to having their business identity used for promotions.",
            "Indicates that the account did not consent to having their business identity used for promotions."
          ],
          "type": "string"
        },
        "blackOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being black-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "latinoOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being latino-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        }
      },
      "id": "BusinessIdentity",
      "description": "Collection of information related to the [identity of a business](https://support.google.com/merchants/answer/12564247)."
    },
    "PhoneNumber": {
      "type": "object",
      "properties": {
        "e164Number": {
          "description": "The phone number, represented as a leading plus sign ('+'), followed by a phone number that uses a relaxed ITU E.164 format consisting of the country calling code (1 to 3 digits) and the subscriber number, with no additional spaces or formatting. For example: - correct: \"+15552220123\" - incorrect: \"+1 (555) 222-01234 x123\" The ITU E.164 format limits the latter to 12 digits, but in practice not all countries respect that, so we relax that restriction here. National-only numbers are not allowed. References: - https://www.itu.int/rec/T-REC-E.164-201011-I - https://en.wikipedia.org/wiki/E.164. - https://en.wikipedia.org/wiki/List_of_country_calling_codes",
          "type": "string"
        },
        "shortCode": {
          "description": "A short code. Reference(s): - https://wikipedia.org/wiki/Short_code",
          "$ref": "ShortCode"
        },
        "extension": {
          "description": "The phone number's extension. The extension is not standardized in ITU recommendations, except for being defined as a series of numbers with a maximum length of 40 digits. Other than digits, some other dialing characters such as ',' (indicating a wait) or '#' may be stored here. Note that no regions currently use extensions with short codes, so this field is normally only set in conjunction with an E.164 number. It is held separately from the E.164 number to allow for short code extensions in the future.",
          "type": "string"
        }
      },
      "description": "An object representing a phone number, suitable as an API wire format. This representation: - should not be used for locale-specific formatting of a phone number, such as \"+1 (650) 253-0000 ext. 123\" - is not designed for efficient storage - may not be suitable for dialing - specialized libraries (see references) should be used to parse the number for that purpose To do something meaningful with this number, such as format it for various use-cases, convert it to an `i18n.phonenumbers.PhoneNumber` object first. For instance, in Java this would be: com.google.type.PhoneNumber wireProto = com.google.type.PhoneNumber.newBuilder().build(); com.google.i18n.phonenumbers.Phonenumber.PhoneNumber phoneNumber = PhoneNumberUtil.getInstance().parse(wireProto.getE164Number(), \"ZZ\"); if (!wireProto.getExtension().isEmpty()) { phoneNumber.setExtension(wireProto.getExtension()); } Reference(s): - https://github.com/google/libphonenumber",
      "id": "PhoneNumber"
    },
    "EmailPreferences": {
      "id": "EmailPreferences",
      "description": "The categories of notifications the user opted into / opted out of. The email preferences do not include mandatory announcements as users can't opt out of them.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user."
        },
        "newsAndTips": {
          "type": "string",
          "enumDescriptions": [
            "Opt-in status is not specified.",
            "User has opted out of receiving this type of email.",
            "User has opted in to receiving this type of email.",
            "User has opted in to receiving this type of email and the confirmation email has been sent, but user has not yet confirmed the opt in (applies only to certain countries)."
          ],
          "enum": [
            "OPT_IN_STATE_UNSPECIFIED",
            "OPTED_OUT",
            "OPTED_IN",
            "UNCONFIRMED"
          ],
          "description": "Optional. Updates on new features, tips and best practices."
        }
      }
    },
    "RestockingFee": {
      "id": "RestockingFee",
      "description": "The restocking fee. This can be a flat fee or a micro percent.",
      "type": "object",
      "properties": {
        "fixedFee": {
          "description": "Fixed restocking fee.",
          "$ref": "Price"
        },
        "microPercent": {
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone"
    },
    "AddAccountService": {
      "type": "object",
      "properties": {
        "accountManagement": {
          "description": "The provider manages this account. Payload for service type Account Management.",
          "$ref": "AccountManagement"
        },
        "comparisonShopping": {
          "description": "The provider is a CSS (Comparison Shopping Service) of this account. Payload for service type Comparison Shopping.",
          "$ref": "ComparisonShopping"
        },
        "campaignsManagement": {
          "description": "The provider manages campaigns for this account. Payload for service type campaigns management.",
          "$ref": "CampaignsManagement"
        },
        "accountAggregation": {
          "description": "The provider is an [aggregator](https://support.google.com/merchants/answer/188487) for the account. Payload for service type Account Aggregation.",
          "$ref": "AccountAggregation"
        },
        "productsManagement": {
          "description": "The provider manages products for this account. Payload for service type products management.",
          "$ref": "ProductsManagement"
        },
        "provider": {
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        },
        "externalAccountId": {
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider. The external account ID must be specified for the campaigns management service type. The external account ID must not be specified for the account aggregation service type. The external account ID is optional / may be specified for all other service types.",
          "type": "string"
        }
      },
      "description": "Additional instructions to add account services during creation of the account.",
      "id": "AddAccountService"
    },
    "Requirement": {
      "type": "object",
      "properties": {
        "affectedRegionCodes": {
          "description": "Output only. The regions that are currently affected by this requirement not being met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the requirement."
        },
        "documentationUri": {
          "description": "Output only. The URL of a help page describing the requirement.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Defines a requirement specified for participation in the program.",
      "id": "Requirement"
    },
    "Weight": {
      "id": "Weight",
      "description": "The weight represented as the value in string and the unit.",
      "type": "object",
      "properties": {
        "amountMicros": {
          "description": "Required. The weight represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 kg = 1000000 micros). This field can also be set as infinity by setting to -1. This field only support -1 and positive value.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "type": "string",
          "enumDescriptions": [
            "unit unspecified",
            "lb unit.",
            "kg unit."
          ],
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "POUND",
            "KILOGRAM"
          ],
          "description": "Required. The weight unit. Acceptable values are: kg and lb"
        }
      }
    },
    "AccountManagement": {
      "description": "`AccountManagement` payload.",
      "id": "AccountManagement",
      "type": "object",
      "properties": {}
    },
    "CreateAndConfigureAccountRequest": {
      "type": "object",
      "properties": {
        "account": {
          "description": "Required. The account to be created.",
          "$ref": "Account"
        },
        "service": {
          "items": {
            "$ref": "AddAccountService"
          },
          "description": "Required. An account service between the account to be created and the provider account is initialized as part of the creation. At least one such service needs to be provided. Currently exactly one of these needs to be `account_aggregation` and `accounts.createAndConfigure` method can be used to create a sub-account under an existing advanced account through this method. Additional `account_management` or `products_management` services may be provided.",
          "type": "array"
        },
        "user": {
          "type": "array",
          "items": {
            "$ref": "AddUser"
          },
          "description": "Optional. Users to be added to the account."
        },
        "setAlias": {
          "items": {
            "$ref": "SetAliasForRelationship"
          },
          "description": "Optional. If a relationship is created with a provider, you can set an alias for it with this field. The calling user must be an admin on the provider to be able to set an alias.",
          "type": "array"
        }
      },
      "description": "Request message for the `CreateAndConfigureAccount` method.",
      "id": "CreateAndConfigureAccountRequest"
    },
    "BusinessDayConfig": {
      "id": "BusinessDayConfig",
      "description": "Business days of the warehouse.",
      "type": "object",
      "properties": {
        "businessDays": {
          "description": "Required. Regular business days. May not be empty.",
          "items": {
            "enum": [
              "WEEKDAY_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        }
      }
    },
    "GetAccountForGcpRegistrationResponse": {
      "id": "GetAccountForGcpRegistrationResponse",
      "description": "Response message for the GetAccountForGcpRegistration method.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the merchant account id that the GCP is registered with.",
          "type": "string"
        }
      }
    },
    "LinkGbpAccountRequest": {
      "type": "object",
      "properties": {
        "gbpEmail": {
          "type": "string",
          "description": "Required. The email address of the Business Profile account."
        }
      },
      "id": "LinkGbpAccountRequest",
      "description": "Request message for the LinkGbpAccount method."
    },
    "PostalCodeRange": {
      "type": "object",
      "properties": {
        "end": {
          "description": "Optional. A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin.",
          "type": "string"
        },
        "begin": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: `94108`, `9410*`, `9*`.",
          "type": "string"
        }
      },
      "id": "PostalCodeRange",
      "description": "A range of postal codes that defines the region area."
    },
    "ProductChange": {
      "type": "object",
      "properties": {
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ]
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "id": "ProductChange"
    },
    "ListAccountsResponse": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "The accounts matching the `ListAccountsRequest`.",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for the `accounts.list` method.",
      "id": "ListAccountsResponse"
    },
    "LoyaltyProgramTiers": {
      "type": "object",
      "properties": {
        "tierLabel": {
          "type": "string",
          "description": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier."
        }
      },
      "description": "Subset of a business's loyalty program.",
      "id": "LoyaltyProgramTiers"
    },
    "AddUser": {
      "description": "Instruction for adding a user to the account during creation.",
      "id": "AddUser",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
          "type": "string"
        },
        "user": {
          "description": "Optional. Details about the user to be added. At the moment, only access rights may be specified.",
          "$ref": "User"
        },
        "verificationMailSettings": {
          "description": "Optional. Settings related to configuring the verification email that is sent after adding a user.",
          "$ref": "VerificationMailSettings"
        }
      }
    },
    "ImpactedDestination": {
      "type": "object",
      "properties": {
        "reportingContext": {
          "type": "string",
          "description": "The impacted reporting context.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ]
        },
        "impacts": {
          "type": "array",
          "items": {
            "$ref": "Impact"
          },
          "description": "The (negative) impact for various regions on the given destination."
        }
      },
      "description": "The impact of the issue on a destination.",
      "id": "ImpactedDestination"
    },
    "RadiusArea": {
      "type": "object",
      "properties": {
        "radius": {
          "type": "number",
          "format": "double",
          "description": "Required. The radius distance of the area."
        },
        "radiusUnits": {
          "type": "string",
          "enumDescriptions": [
            "Unused default value",
            "The distance is measured in miles.",
            "The distance is measured in kilometers."
          ],
          "enum": [
            "RADIUS_UNITS_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ],
          "description": "Optional. The unit of the radius."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to."
        },
        "latLng": {
          "description": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format.",
          "$ref": "LatLng"
        }
      },
      "description": "A radius area that defines the region area.",
      "id": "RadiusArea"
    },
    "Distance": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value of distance."
        },
        "unit": {
          "description": "Unit can differ based on country, it is parameterized to include miles and kilometers.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ],
          "enumDescriptions": [
            "Unit unspecified",
            "Unit in miles",
            "Unit in kilometers"
          ],
          "type": "string"
        }
      },
      "id": "Distance",
      "description": "Maximum delivery radius. This is only required for the local delivery shipment type."
    },
    "TermsOfService": {
      "id": "TermsOfService",
      "description": "The `TermsOfService` message represents a specific version of the terms of service that merchants must accept to access certain features or services. For more information, see [Terms of Service](https://support.google.com/merchants/answer/160173). This message is important for the onboarding process, ensuring that merchants agree to the necessary legal agreements for using the service. Merchants can retrieve the latest terms of service for a given `kind` and `region` through `RetrieveLatestTermsOfService`, and accept them as required through `AcceptTermsOfService`.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of service for the Merchant Center application."
          ],
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "description": "The Kind this terms of service version applies to."
        },
        "fileUri": {
          "type": "string",
          "description": "URI for terms of service file that needs to be displayed to signing users."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the terms of service version. Format: `termsOfService/{version}`"
        },
        "regionCode": {
          "type": "string",
          "description": "Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country where the ToS applies specifically to that country or `001` when the same `TermsOfService` can be signed in any country. However note that when signing a ToS that applies globally we still expect that a specific country is provided (this should be merchant business country or program country of participation)."
        },
        "external": {
          "type": "boolean",
          "description": "Whether this terms of service version is external. External terms of service versions can only be agreed through external processes and not directly by the merchant through UI or API."
        }
      }
    },
    "RegisterGcpRequest": {
      "type": "object",
      "properties": {
        "developerEmail": {
          "type": "string",
          "description": "Immutable. Optional field. Developer role can be also added by using `users.update` method. If the developer email provided is associated with a user in the provided merchant account, the user will be updated to have `API_DEVELOPER` `access_rights` and the email preference corresponding to that user will be updated to have the new API notifications preference. If the developer email provided is not associated with any user, it is added as a contact. The email preference corresponding to that contact will have the new API notifications preference. Make sure the email used is associated with a Google Account and is not a service account as service accounts can't receive emails."
        }
      },
      "description": "Request message for the RegisterGCP method.",
      "id": "RegisterGcpRequest"
    },
    "ComparisonShopping": {
      "type": "object",
      "properties": {},
      "id": "ComparisonShopping",
      "description": "`ComparisonShopping` payload."
    },
    "TransitTimeValue": {
      "type": "object",
      "properties": {
        "minTransitDays": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum transit time range in business days. 0 means same day delivery, 1 means next day delivery."
        },
        "maxTransitDays": {
          "type": "integer",
          "format": "int32",
          "description": "Must be greater than or equal to `min_transit_days`."
        }
      },
      "description": "Transit time range (min-max) in business days.",
      "id": "TransitTimeValue"
    },
    "LfpProvider": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the LFP provider."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LFP provider. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`"
        },
        "regionCode": {
          "description": "Output only. Region code defined by [CLDR](https://cldr.unicode.org/).",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Collection of information related to a Local Feed Partnership (LFP) provider.",
      "id": "LfpProvider"
    },
    "Impact": {
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The [CLDR region code](https://cldr.unicode.org/) where this issue applies."
        },
        "severity": {
          "description": "The severity of the issue on the destination and region.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ],
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "type": "string"
        }
      },
      "id": "Impact",
      "description": "The impact of the issue on a region."
    },
    "LocalCutoffTime": {
      "id": "LocalCutoffTime",
      "description": "Time that local delivery ends for the day.",
      "type": "object",
      "properties": {
        "hour": {
          "type": "string",
          "format": "int64",
          "description": "Hour local delivery orders must be placed by to process the same day."
        },
        "minute": {
          "type": "string",
          "format": "int64",
          "description": "Minute local delivery orders must be placed by to process the same day."
        }
      }
    },
    "About": {
      "description": "Collection of information related to the about page ([impressum](https://support.google.com/merchants/answer/14675634?ref_topic=15145634&sjid=6892280366904591178-NC)).",
      "id": "About",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. The state of the URI.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        },
        "uri": {
          "type": "string",
          "description": "Required. The about page URI."
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "users": {
          "description": "The users from the specified account.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        }
      },
      "id": "ListUsersResponse",
      "description": "Response message for the `ListUsers` method."
    },
    "FindLfpProvidersResponse": {
      "id": "FindLfpProvidersResponse",
      "description": "Response message for the FindLfpProviders method.",
      "type": "object",
      "properties": {
        "lfpProviders": {
          "type": "array",
          "description": "The LFP providers from the specified merchant in the specified country.",
          "items": {
            "$ref": "LfpProvider"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Required": {
      "type": "object",
      "properties": {
        "termsOfService": {
          "description": "Required. The `TermsOfService` that need to be accepted.",
          "type": "string"
        },
        "tosFileUri": {
          "type": "string",
          "description": "Required. Full URL to the terms of service file. This field is the same as `TermsOfService.file_uri`, it is added here for convenience only."
        }
      },
      "description": "Describes the terms of service which are required to be accepted.",
      "id": "Required"
    },
    "AccountRelationship": {
      "description": "The `AccountRelationship` message defines a formal connection between a merchant's account and a service provider's account. This relationship enables the provider to offer specific services to the business, such as product management or campaign management. It specifies the access rights and permissions to the business's data relevant to those services. Establishing an account relationship involves linking the merchant's account with a provider's account. The provider could be another Google account (like Google Ads or Google My Business) or a third-party platform (such as Shopify or WooCommerce).",
      "id": "AccountRelationship",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Immutable. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        },
        "providerDisplayName": {
[...]
