{
  "discoveryVersion": "v1",
  "id": "merchantapi:accounts_v1beta",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "canonicalName": "Merchant",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "name": "merchantapi",
  "resources": {
    "accounts": {
      "methods": {
        "createAndConfigure": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a Merchant Center account with additional configuration. Adds the user that makes the request as an admin for the new account.",
          "path": "accounts/v1beta/accounts:createAndConfigure",
          "id": "merchantapi.accounts.createAndConfigure",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "Account"
          },
          "flatPath": "accounts/v1beta/accounts:createAndConfigure",
          "parameterOrder": [],
          "request": {
            "$ref": "CreateAndConfigureAccountRequest"
          }
        },
        "createTestAccount": {
          "id": "merchantapi.accounts.createTestAccount",
          "httpMethod": "POST",
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "parent": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The account resource name to create the test account under. Format: accounts/{account}"
            }
          },
          "request": {
            "$ref": "Account"
          },
          "flatPath": "accounts/v1beta/accounts/{accountsId}:createTestAccount",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a Merchant Center test account. Test accounts are intended for development and testing purposes, such as validating API integrations or new feature behavior. Key characteristics and limitations of test accounts: - Immutable Type: A test account cannot be converted into a regular (live) Merchant Center account. Likewise, a regular account cannot be converted into a test account. - Non-Serving Products: Any products, offers, or data created within a test account will not be published or made visible to end-users on any Google surfaces. They are strictly for testing environments. - Separate Environment: Test accounts operate in a sandbox-like manner, isolated from live serving and real user traffic.",
          "path": "accounts/v1beta/{+parent}:createTestAccount"
        },
        "get": {
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the account to retrieve. Format: `accounts/{account}`",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET",
          "id": "merchantapi.accounts.get",
          "path": "accounts/v1beta/{+name}",
          "description": "Retrieves an account from your Merchant Center account. After inserting, updating, or deleting an account, it may take several minutes before changes take effect.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "id": "merchantapi.accounts.patch",
          "request": {
            "$ref": "Account"
          },
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "updateMask": {
              "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_name` - `adult_content` - `language_code` - `time_zone`",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounts/v1beta/{+name}",
          "description": "Updates an account regardless of its type: standalone, advanced account or sub-account. Executing this method requires admin access."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounts/v1beta/accounts",
          "description": "Note: For the `accounts.list` method, quota and limits usage are charged for each user, and not for the Merchant Center ID or the advanced account ID. To list several sub-accounts, you should use the `accounts.listSubaccounts` method, which is more suitable for advanced accounts use case.",
          "httpMethod": "GET",
          "id": "merchantapi.accounts.list",
          "flatPath": "accounts/v1beta/accounts",
          "parameterOrder": [],
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "Optional. Returns only accounts that match the [filter](https://developers.google.com/merchant/api/guides/accounts/filter). For more details, see the [filter syntax reference](https://developers.google.com/merchant/api/guides/accounts/filter-syntax).",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500.",
              "type": "integer"
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounts/v1beta/{+name}",
          "description": "Deletes the specified account regardless of its type: standalone, advanced account or sub-account. Deleting an advanced account leads to the deletion of all of its sub-accounts. This also deletes the account's [developer registration entity](/merchant/api/reference/rest/accounts_v1beta/accounts.developerRegistration) and any associated GCP project to the account. Executing this method requires admin access. The deletion succeeds only if the account does not provide services to any other account and has no processed offers. You can use the `force` parameter to override this.",
          "httpMethod": "DELETE",
          "id": "merchantapi.accounts.delete",
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "force": {
              "description": "Optional. If set to `true`, the account is deleted even if it provides services to other accounts or has processed offers.",
              "type": "boolean",
              "location": "query"
            },
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the account to delete. Format: `accounts/{account}`",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Empty"
          }
        },
        "listSubaccounts": {
          "httpMethod": "GET",
          "id": "merchantapi.accounts.listSubaccounts",
          "flatPath": "accounts/v1beta/accounts/{accountsId}:listSubaccounts",
          "parameterOrder": [
            "provider"
          ],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token.",
              "location": "query"
            },
            "provider": {
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The aggregation service provider. Format: `accounts/{accountId}`",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ListSubAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounts/v1beta/{+provider}:listSubaccounts",
          "description": "List all sub-accounts for a given advanced account. This is a convenience wrapper for the more powerful `accounts.list` method. This method will produce the same results as calling `ListsAccounts` with the following filter: `relationship(providerId={parent} AND service(type=\"ACCOUNT_AGGREGATION\"))`"
        }
      },
      "resources": {
        "termsOfServiceAgreementStates": {
          "methods": {
            "get": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates/{termsOfServiceAgreementStatesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/termsOfServiceAgreementStates/[^/]+$",
                  "description": "Required. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementStates/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}`"
                }
              },
              "httpMethod": "GET",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.get",
              "path": "accounts/v1beta/{+name}",
              "description": "Returns the state of a terms of service agreement.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "retrieveForApplication": {
              "path": "accounts/v1beta/{+parent}/termsOfServiceAgreementStates:retrieveForApplication",
              "description": "Retrieves the state of the agreement for the application terms of service. Application terms of service covers permissions related to the usage of data provided through Merchant Center, CSS Center, Manufacturer Center, and more.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates:retrieveForApplication",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The account for which to get a TermsOfServiceAgreementState Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "httpMethod": "GET",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.retrieveForApplication"
            }
          }
        },
        "gbpAccounts": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/gbpAccounts",
              "description": "List the GBP accounts for a given merchant.",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.gbpAccounts.list",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListGbpAccounts` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListGbpAccounts` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of `GbpAccount` resources to return. The service returns fewer than this value if the number of gbp accounts is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the parent resource under which the GBP accounts are listed. Format: `accounts/{account}`.",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "ListGbpAccountsResponse"
              }
            },
            "linkGbpAccount": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/gbpAccounts:linkGbpAccount",
              "description": "Link the specified merchant to a GBP account for all countries. To run this method, you must have admin access to the Merchant Center account. If you don't have admin access, the request fails with the error message `User is not an administrator of account {ACCOUNT_ID}`.",
              "httpMethod": "POST",
              "id": "merchantapi.accounts.gbpAccounts.linkGbpAccount",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts:linkGbpAccount",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "LinkGbpAccountRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The name of the parent resource to which the GBP account is linked. Format: `accounts/{account}`."
                }
              },
              "response": {
                "$ref": "LinkGbpAccountResponse"
              }
            }
          }
        },
        "autofeedSettings": {
          "methods": {
            "getAutofeedSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the autofeed settings of an account.",
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.autofeedSettings.getAutofeedSettings",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "description": "Required. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "AutofeedSettings"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "parameterOrder": [
                "name"
              ]
            },
            "updateAutofeedSettings": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "AutofeedSettings"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. List of fields being updated.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AutofeedSettings"
              },
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.autofeedSettings.updateAutofeedSettings",
              "path": "accounts/v1beta/{+name}",
              "description": "Updates the autofeed settings of an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "programs": {
          "methods": {
            "enable": {
              "response": {
                "$ref": "Program"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the program for which to enable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "EnableProgramRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:enable",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.programs.enable",
              "httpMethod": "POST",
              "description": "Enable participation in the specified program for the account.",
              "path": "accounts/v1beta/{+name}:enable",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "get": {
              "description": "Retrieves the specified program for the account.",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Program"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "description": "Required. The name of the program to retrieve. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.programs.get",
              "httpMethod": "GET"
            },
            "disable": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Disable participation in the specified program for the account.",
              "path": "accounts/v1beta/{+name}:disable",
              "id": "merchantapi.accounts.programs.disable",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The name of the program for which to disable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Program"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:disable",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DisableProgramRequest"
              }
            },
            "list": {
              "path": "accounts/v1beta/{+parent}/programs",
              "description": "Retrieves all programs for the account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A continuation token, received from a previous `ListPrograms` call. Provide this to retrieve the next page.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The name of the account for which to retrieve all programs. Format: `accounts/{account}`"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of programs to return in a single response. If unspecified (or 0), a default size of 1000 is used. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListProgramsResponse"
              },
              "httpMethod": "GET",
              "id": "merchantapi.accounts.programs.list"
            }
          },
          "resources": {
            "checkoutSettings": {
              "methods": {
                "getCheckoutSettings": {
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+name}",
                  "description": "Gets `CheckoutSettings` for the given merchant. This includes information about review state, enrollment state and URL settings.",
                  "httpMethod": "GET",
                  "id": "merchantapi.accounts.programs.checkoutSettings.getCheckoutSettings",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "CheckoutSettings"
                  }
                },
                "updateCheckoutSettings": {
                  "httpMethod": "PATCH",
                  "id": "merchantapi.accounts.programs.checkoutSettings.updateCheckoutSettings",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `eligible_destinations` - `uri_settings`",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+name}",
                  "description": "Updates `CheckoutSettings` for the given merchant."
                },
                "create": {
                  "id": "merchantapi.accounts.programs.checkoutSettings.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The merchant account for which the `CheckoutSettings` will be created.",
                      "pattern": "^accounts/[^/]+/programs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "description": "Creates `CheckoutSettings` for the given merchant.",
                  "path": "accounts/v1beta/{+parent}/checkoutSettings"
                },
                "deleteCheckoutSettings": {
                  "path": "accounts/v1beta/{+name}",
                  "description": "Deletes `CheckoutSettings` and unenrolls merchant from `Checkout` program.",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "merchantapi.accounts.programs.checkoutSettings.deleteCheckoutSettings"
                }
              }
            }
          }
        },
        "users": {
          "methods": {
            "delete": {
              "id": "merchantapi.accounts.users.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the user to delete. Format: `accounts/{account}/users/{email}` It is also possible to delete the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes a Merchant Center account user. Executing this method requires admin access. The user to be deleted can't be the last admin user of that account.",
              "path": "accounts/v1beta/{+name}"
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent, which owns this collection of users. Format: `accounts/{account}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of users to return. The service may return fewer than this value. If unspecified, at most 50 users will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUsers` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListUsersResponse"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.users.list",
              "httpMethod": "GET",
              "description": "Lists all users of a Merchant Center account.",
              "path": "accounts/v1beta/{+parent}/users",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "patch": {
              "path": "accounts/v1beta/{+name}",
              "description": "Updates a Merchant Center account user. Executing this method requires admin access.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "User"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `access_rights`",
                  "type": "string"
                },
                "name": {
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "User"
              },
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.users.patch"
            },
            "create": {
              "description": "Creates a Merchant Center account user. Executing this method requires admin access.",
              "path": "accounts/v1beta/{+parent}/users",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "userId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The email address of the user (for example, `john.doe@gmail.com`)."
                }
              },
              "response": {
                "$ref": "User"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "User"
              },
              "id": "merchantapi.accounts.users.create",
              "httpMethod": "POST"
            },
            "get": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "User"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the user to retrieve. Format: `accounts/{account}/users/{email}` It is also possible to retrieve the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "id": "merchantapi.accounts.users.get",
              "path": "accounts/v1beta/{+name}",
              "description": "Retrieves a Merchant Center account user.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          },
          "resources": {
            "me": {
              "methods": {
                "verifySelf": {
                  "description": "Updates the user that is represented by the caller from pending to verified.",
                  "path": "accounts/v1beta/{+account}/users/me:verifySelf",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "parameters": {
                    "account": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the account under which the caller is a user. Format: `accounts/{account}`",
                      "pattern": "^accounts/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "User"
                  },
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/users/me:verifySelf",
                  "parameterOrder": [
                    "account"
                  ],
                  "request": {
                    "$ref": "VerifySelfRequest"
                  },
                  "id": "merchantapi.accounts.users.me.verifySelf",
                  "httpMethod": "PATCH"
                }
              }
            }
          }
        },
        "developerRegistration": {
          "methods": {
            "registerGcp": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:registerGcp",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RegisterGcpRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration` The {account} used must be the same account where user calling this API method is directly added to.",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "httpMethod": "POST",
              "id": "merchantapi.accounts.developerRegistration.registerGcp",
              "path": "accounts/v1beta/{+name}:registerGcp",
              "description": "Registers the GCP used for the API call to the shopping account passed in the request. Will create a user with an \"API developer\" and add the \"developer_email\" as a contact with \"API notifications\" email preference on.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "getDeveloperRegistration": {
              "id": "merchantapi.accounts.developerRegistration.getDeveloperRegistration",
              "httpMethod": "GET",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The `name` (ID) of the developer registration.",
                  "pattern": "^accounts/[^/]+/developerRegistration$"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves a developer registration for a merchant.",
              "path": "accounts/v1beta/{+name}"
            },
            "getAccountForGcpRegistration": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "description": "Retrieves the merchant account that the calling GCP is registered with.",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.developerRegistration.getAccountForGcpRegistration",
              "flatPath": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "parameterOrder": [],
              "parameters": {},
              "response": {
                "$ref": "GetAccountForGcpRegistrationResponse"
              }
            },
            "unregisterGcp": {
              "path": "accounts/v1beta/{+name}:unregisterGcp",
              "description": "Unregister the calling GCP from the calling shopping account. Note that the GCP will still be able to access the API for at most 1 day from the unregister succussful call.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "UnregisterGcpRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:unregisterGcp",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration`"
                }
              },
              "httpMethod": "POST",
              "id": "merchantapi.accounts.developerRegistration.unregisterGcp"
            }
          }
        },
        "regions": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListRegionsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 regions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The account to list regions for. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token."
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.regions.list",
              "httpMethod": "GET",
              "description": "Lists the regions in your Merchant Center account.",
              "path": "accounts/v1beta/{+parent}/regions",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "delete": {
              "description": "Deletes a region definition from your Merchant Center account. Executing this method requires admin access.",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.regions.delete",
              "httpMethod": "DELETE"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "description": "Retrieves a region defined in your Merchant Center account.",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.regions.get",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the region to retrieve. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Region"
              }
            },
            "create": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Region"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account to create a region for. Format: `accounts/{account}`"
                },
                "regionId": {
                  "type": "string",
                  "description": "Required. The identifier for the region, unique over all regions of the same account.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Region"
              },
              "httpMethod": "POST",
              "id": "merchantapi.accounts.regions.create",
              "path": "accounts/v1beta/{+parent}/regions",
              "description": "Creates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "patch": {
              "description": "Updates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Region"
              },
              "parameters": {
                "updateMask": {
                  "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Region"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.regions.patch",
              "httpMethod": "PATCH"
            }
          }
        },
        "businessInfo": {
          "methods": {
            "getBusinessInfo": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the business info. Format: `accounts/{account}/businessInfo`. For example, `accounts/123456/businessInfo`.",
                  "pattern": "^accounts/[^/]+/businessInfo$"
                }
              },
              "response": {
                "$ref": "BusinessInfo"
              },
              "httpMethod": "GET",
              "id": "merchantapi.accounts.businessInfo.getBusinessInfo",
              "path": "accounts/v1beta/{+name}",
              "description": "Retrieves the business info of an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "updateBusinessInfo": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "description": "Updates the business info of an account. Executing this method requires admin access.",
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.businessInfo.updateBusinessInfo",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "BusinessInfo"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `address` - `customer_service` - `korean_business_registration_number`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "BusinessInfo"
              }
            }
          }
        },
        "issues": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists all account issues of a Merchant Center account. When called on a multi-client account, this method only returns issues belonging to that account, not its sub-accounts. To retrieve issues for sub-accounts, you must first call the accounts.listSubaccounts method to obtain a list of sub-accounts, and then call `accounts.issues.list` for each sub-account individually.",
              "path": "accounts/v1beta/{+parent}/issues",
              "id": "merchantapi.accounts.issues.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAccountIssuesResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent, which owns this collection of issues. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccountIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountIssues` must match the call that provided the page token.",
                  "type": "string"
                },
                "languageCode": {
                  "type": "string",
                  "description": "Optional. The issues in the response will have human-readable fields in the given language. The format is [BCP-47](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`. If not value is provided, `en-US` will be used.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of issues to return. The service may return fewer than this value. If unspecified, at most 50 issues will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "timeZone": {
                  "type": "string",
                  "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in human-readable fields. For example 'America/Los_Angeles'. If not set, 'America/Los_Angeles' will be used.",
                  "location": "query"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/issues",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "homepage": {
          "methods": {
            "unclaim": {
              "path": "accounts/v1beta/{+name}:unclaim",
              "description": "Unclaims a store's homepage. Executing this method requires admin access.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "UnclaimHomepageRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:unclaim",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Homepage"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the homepage to unclaim. Format: `accounts/{account}/homepage`",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "merchantapi.accounts.homepage.unclaim"
            },
            "updateHomepage": {
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.homepage.updateHomepage",
              "request": {
                "$ref": "Homepage"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Homepage"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `uri`",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "description": "Updates a store's homepage. Executing this method requires admin access."
            },
            "getHomepage": {
              "id": "merchantapi.accounts.homepage.getHomepage",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Required. The name of the homepage to retrieve. Format: `accounts/{account}/homepage`",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Homepage"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves a store's homepage.",
              "path": "accounts/v1beta/{+name}"
            },
            "claim": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Claims a store's homepage. Executing this method requires admin access. If the homepage is already claimed, this will recheck the verification (unless the business is exempted from claiming, which also exempts from verification) and return a successful response. If ownership can no longer be verified, it will return an error, but it won't clear the claim. In case of failure, a canonical error message is returned: * PERMISSION_DENIED: User doesn't have the necessary permissions on this Merchant Center account. * FAILED_PRECONDITION: - The account is not a Merchant Center account. - Merchant Center account doesn't have a homepage. - Claiming failed (in this case the error message contains more details).",
              "path": "accounts/v1beta/{+name}:claim",
              "id": "merchantapi.accounts.homepage.claim",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Required. The name of the homepage to claim. Format: `accounts/{account}/homepage`",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Homepage"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:claim",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ClaimHomepageRequest"
              }
            }
          }
        },
        "emailPreferences": {
          "methods": {
            "getEmailPreferences": {
              "id": "merchantapi.accounts.emailPreferences.getEmailPreferences",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `EmailPreferences` resource. Format: `accounts/{account}/users/{email}/emailPreferences`",
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "EmailPreferences"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Returns the email preferences for a Merchant Center account user. This service only permits retrieving and updating email preferences for the authenticated user. Use the name=accounts/*/users/me/emailPreferences alias to get preferences for the authenticated user.",
              "path": "accounts/v1beta/{+name}"
            },
            "updateEmailPreferences": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "EmailPreferences"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `news_and_tips`",
                  "type": "string"
                },
                "name": {
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "EmailPreferences"
              },
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.emailPreferences.updateEmailPreferences",
              "path": "accounts/v1beta/{+name}",
              "description": "Updates the email preferences for a Merchant Center account user. Advanced account users should specify the advanced account rather than a sub-account of the advanced account. Preferences which are not explicitly selected in the update mask will not be updated. It is invalid for updates to specify an UNCONFIRMED opt-in status value. Use the name=accounts/*/users/me/emailPreferences alias to update preferences for the authenticated user.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "onlineReturnPolicies": {
          "methods": {
            "create": {
              "id": "merchantapi.accounts.onlineReturnPolicies.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The Merchant Center account for which the return policy will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Creates a new return policy for a given business.",
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies"
            },
            "patch": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameters": {
                "updateMask": {
                  "description": "Optional. Only support updating the entire OnlineReturnPolicy message. For update_mask, always use `*`.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
                }
              },
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.onlineReturnPolicies.patch",
              "path": "accounts/v1beta/{+name}",
              "description": "Updates an existing return policy for a given business.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Gets an existing return policy for a given business.",
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.onlineReturnPolicies.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the return policy to retrieve. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "id": "merchantapi.accounts.onlineReturnPolicies.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the return policy to delete. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes an existing return policy.",
              "path": "accounts/v1beta/{+name}"
            },
            "list": {
              "id": "merchantapi.accounts.onlineReturnPolicies.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListOnlineReturnPolicies` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListOnlineReturnPolicies` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of `OnlineReturnPolicy` resources to return. The service returns fewer than this value if the number of return policies for the given business is less that than the `pageSize`. The default value is 10. The maximum value is 100; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The Merchant Center account for which to list return policies. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListOnlineReturnPoliciesResponse"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists all existing return policies for a given business.",
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies"
            }
          }
        },
        "automaticImprovements": {
          "methods": {
            "getAutomaticImprovements": {
              "path": "accounts/v1beta/{+name}",
              "description": "Retrieves the automatic improvements of an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "description": "Required. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "httpMethod": "GET",
              "id": "merchantapi.accounts.automaticImprovements.getAutomaticImprovements"
            },
            "updateAutomaticImprovements": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "AutomaticImprovements"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `item_updates` - `item_updates.account_level_settings` - `image_improvements` - `image_improvements.account_level_settings` - `shipping_improvements` - `shipping_improvements.allow_shipping_improvements`",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.automaticImprovements.updateAutomaticImprovements",
              "path": "accounts/v1beta/{+name}",
              "description": "Updates the automatic improvements of an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "relationships": {
          "methods": {
            "get": {
              "path": "accounts/v1beta/{+name}",
              "description": "Retrieve an account relationship.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account relationship to get. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "AccountRelationship"
              },
              "httpMethod": "GET",
              "id": "merchantapi.accounts.relationships.get"
            },
            "list": {
              "httpMethod": "GET",
              "id": "merchantapi.accounts.relationships.list",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`."
                },
                "parent": {
                  "description": "Required. The parent account of the account relationship to filter by. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The token returned by the previous `list` request."
                }
              },
              "response": {
                "$ref": "ListAccountRelationshipsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/relationships",
              "description": "List account relationships for the specified account."
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "description": "Updates the account relationship. Executing this method requires admin access.",
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.relationships.patch",
              "request": {
                "$ref": "AccountRelationship"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AccountRelationship"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_id_alias`",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "location": "path"
                }
              }
            }
          }
        },
        "omnichannelSettings": {
          "methods": {
            "patch": {
              "id": "merchantapi.accounts.omnichannelSettings.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. The following fields are supported in snake_case only: - `lsf_type` - `in_stock` - `pickup` - `odo` - `about` - `inventory_verification` Full replacement with wildcard `*`is supported, while empty/implied update mask is not.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
                }
              },
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Update the omnichannel setting for a given merchant in a given country.",
              "path": "accounts/v1beta/{+name}"
            },
            "create": {
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this omnichannel setting will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "merchantapi.accounts.omnichannelSettings.create",
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "description": "Create the omnichannel settings for a given merchant.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the omnichannel setting to retrieve. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.omnichannelSettings.get",
              "httpMethod": "GET",
              "description": "Get the omnichannel settings for a given merchant.",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "requestInventoryVerification": {
              "id": "merchantapi.accounts.omnichannelSettings.requestInventoryVerification",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the omnichannel setting to request inventory verification. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$"
                }
              },
              "response": {
                "$ref": "RequestInventoryVerificationResponse"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}:requestInventoryVerification",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RequestInventoryVerificationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Requests inventory verification for a given merchant in a given country.",
              "path": "accounts/v1beta/{+name}:requestInventoryVerification"
            },
            "list": {
              "httpMethod": "GET",
              "id": "merchantapi.accounts.omnichannelSettings.list",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListOmnichannelSettingsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOmnichannelSettings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOmnichannelSettings` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of omnichannel settings to return. The service may return fewer than this value. If unspecified, at most 50 omnichannel settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent, which owns this collection of omnichannel settings. Format: `accounts/{account}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "description": "List all the omnichannel settings for a given merchant."
            }
          },
          "resources": {
            "lfpProviders": {
              "methods": {
                "linkLfpProvider": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the LFP provider resource to link. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`. The `lfp_provider` is the LFP provider ID.",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+/lfpProviders/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "LinkLfpProviderResponse"
                  },
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders/{lfpProvidersId}:linkLfpProvider",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "LinkLfpProviderRequest"
                  },
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.linkLfpProvider",
                  "httpMethod": "POST",
                  "description": "Link the specified merchant to a LFP provider for the specified country.",
                  "path": "accounts/v1beta/{+name}:linkLfpProvider",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ]
                },
                "find": {
                  "httpMethod": "GET",
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.find",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders:find",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `FindLfpProviders` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `FindLfpProviders` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of `LfpProvider` resources to return. The service returns fewer than this value if the number of lfp providers is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the parent resource under which the LFP providers are found. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`.",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "FindLfpProvidersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+parent}/lfpProviders:find",
                  "description": "Find the LFP provider candidates in a given country."
                }
              }
            }
          }
        },
        "businessIdentity": {
          "methods": {
            "getBusinessIdentity": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "description": "Retrieves the business identity of an account.",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.businessIdentity.getBusinessIdentity",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "BusinessIdentity"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`. For example, `accounts/123456/businessIdentity`.",
                  "pattern": "^accounts/[^/]+/businessIdentity$"
                }
              }
            },
            "updateBusinessIdentity": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates the business identity of an account. Executing this method requires admin access.",
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.businessIdentity.updateBusinessIdentity",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `black_owned` - `latino_owned` - `promotions_consent` - `small_business` - `veteran_owned` - `women_owned`",
                  "type": "string"
                },
                "name": {
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "BusinessIdentity"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "BusinessIdentity"
              }
            }
          }
        },
        "shippingSettings": {
          "methods": {
            "getShippingSettings": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/shippingSettings$",
                  "description": "Required. The name of the shipping setting to retrieve. Format: `accounts/{account}/shippingsettings`"
                }
              },
              "response": {
                "$ref": "ShippingSettings"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.shippingSettings.getShippingSettings",
              "httpMethod": "GET",
              "description": "Retrieve shipping setting information.",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "insert": {
              "description": "Replace the shipping setting of a business with the request shipping setting. Executing this method requires admin access.",
              "path": "accounts/v1beta/{+parent}/shippingSettings:insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The account for which this shipping setting will be inserted. If you are using an advanced account, you must specify the unique identifier of the sub-account for which you want to insert the shipping setting. Format: `accounts/{ACCOUNT_ID}`",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "ShippingSettings"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings:insert",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ShippingSettings"
              },
              "id": "merchantapi.accounts.shippingSettings.insert",
              "httpMethod": "POST"
            }
          }
        },
        "services": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "merchantapi.accounts.services.list",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent account of the account service to filter by. Format: `accounts/{account}`"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. The token returned by the previous `list` request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListAccountServicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/services",
              "description": "List account services for the specified accounts. Supports filtering."
            },
            "propose": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/services:propose",
              "description": "Propose an account service.",
              "httpMethod": "POST",
              "id": "merchantapi.accounts.services.propose",
              "request": {
                "$ref": "ProposeAccountServiceRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services:propose",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "AccountService"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the parent account for the service. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                }
              }
            },
            "get": {
              "id": "merchantapi.accounts.services.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "description": "Required. The resource name of the account service to get. Format: `accounts/{account}/services/{service}`",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AccountService"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieve an account service.",
              "path": "accounts/v1beta/{+name}"
            },
            "reject": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Reject an account service (both proposed and approve services can be rejected).",
              "path": "accounts/v1beta/{+name}:reject",
              "id": "merchantapi.accounts.services.reject",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the account service to reject. Format: `accounts/{account}/services/{service}`",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:reject",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RejectAccountServiceRequest"
              }
            },
            "approve": {
              "request": {
                "$ref": "ApproveAccountServiceRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:approve",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AccountService"
              },
              "parameters": {
                "name": {
[...]
