{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "title": "Merchant API",
  "version": "products_v1",
  "ownerDomain": "google.com",
  "schemas": {
    "ProductInput": {
      "id": "ProductInput",
      "type": "object",
      "description": "This resource represents input data you submit for a product, not the processed product that you see in Merchant Center, in Shopping ads, or across Google surfaces. Product inputs, rules and supplemental data source data are combined to create the processed Product. For more information, see [Manage products](/merchant/api/guides/products/overview). Required product input attributes to pass data validation checks are primarily defined in the [Products Data Specification](https://support.google.com/merchants/answer/188494). The following attributes are required: feedLabel, contentLanguage and offerId. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved. All fields in the product input and its sub-messages match the English name of their corresponding attribute in the [Products Data Specification](https://support.google.com/merchants/answer/188494) with [some exceptions](https://support.google.com/merchants/answer/7052112). The following reference documentation lists the field names in the **camelCase** casing style while the Products Data Specification lists the names in the **snake_case** casing style.",
      "properties": {
        "contentLanguage": {
          "description": "Required. Immutable. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "type": "string"
        },
        "base64EncodedProduct": {
          "description": "Output only. The **unpadded base64url encoded name** of the processed product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1/accounts.products/get).",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the product. Format: `accounts/{account}/productInputs/{productinput}` The {productinput} segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the {productinput} segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{productinput}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{productinput}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{productinput}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{productinput}` segment is used to differentiate between the two formats."
        },
        "legacyLocal": {
          "type": "boolean",
          "description": "Immutable. Determines whether the product is **only** targeting local destinations and whether the product name should be distinguished with a `local~` prefix. For example, `accounts/123/productInputs/local~en~US~sku123`. If a product that is not `legacy_local` is already targeting local destinations, creating a `legacy_local` product with an otherwise matching name will fail."
        },
        "feedLabel": {
          "description": "Required. Immutable. The feed label that lets you categorize and identify your products. The maximum allowed characters are 20, and the supported characters are `A-Z`, `0-9`, hyphen, and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087).",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [products data specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "base64EncodedName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The **unpadded base64url encoded name** of the product input. Format: `accounts/{account}/productInputs/{productinput}` where the last section `productinput` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw` for the decoded product input name `accounts/123/productInputs/en~US~sku/123`. This field can be used directly as input to the API methods that require the product input name to be encoded if it contains special characters, for example [`GetProductInput`](https://developers.google.com/merchant/api/reference/rest/products_v1/accounts.productInputs/get)."
        },
        "productAttributes": {
          "description": "Optional. A list of strongly-typed product attributes.",
          "$ref": "ProductAttributes"
        },
        "customAttributes": {
          "type": "array",
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "product": {
          "description": "Output only. The name of the processed product. Format: `accounts/{account}/products/{product}`",
          "readOnly": true,
          "type": "string"
        },
        "versionNumber": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Immutable. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. Do not set this field for updates. Do not set this field for insertions into supplemental data sources. If the operation is prevented, the aborted exception will be thrown."
        }
      }
    },
    "ProductCertification": {
      "description": "Product [certification](https://support.google.com/merchants/answer/13528839), initially introduced for EU energy efficiency labeling compliance using the EU EPREL database.",
      "properties": {
        "certificationCode": {
          "description": "The certification code. Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationAuthority": {
          "description": "The certification authority.",
          "type": "string",
          "enumDescriptions": [
            "Certification authority is not specified.",
            "For the French CO2 emissions class for vehicles.",
            "For the German CO2 emissions classes for vehicles.",
            "Environment Protection Agency.",
            "European Commission for energy labels in the EU."
          ],
          "enum": [
            "CERTIFICATION_AUTHORITY_UNSPECIFIED",
            "ADEME",
            "BMWK",
            "EPA",
            "EC"
          ]
        },
        "certificationName": {
          "enumDescriptions": [
            "Certification name is not specified.",
            "Energy Star.",
            "Energy Star Most Efficient.",
            "Represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
            "EU Ecolabel.",
            "The overall CO2 class of a vehicle",
            "For the CO2 class of a vehicle with a discharged battery."
          ],
          "enum": [
            "CERTIFICATION_NAME_UNSPECIFIED",
            "ENERGY_STAR",
            "ENERGY_STAR_MOST_EFFICIENT",
            "EPREL",
            "EU_ECOLABEL",
            "VEHICLE_ENERGY_EFFICIENCY",
            "VEHICLE_ENERGY_EFFICIENCY_DISCHARGED_BATTERY"
          ],
          "type": "string",
          "description": "The name of the certification."
        },
        "certificationValue": {
          "type": "string",
          "description": "The certification value (also known as class, level or grade), for example \"A+\", \"C\", \"gold\". Maximum length is 2000 characters."
        }
      },
      "type": "object",
      "id": "ProductCertification"
    },
    "ListProductsResponse": {
      "description": "Response message for the ListProducts method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "products": {
          "type": "array",
          "description": "The processed products from the specified account. These are your processed products after applying rules and supplemental data sources.",
          "items": {
            "$ref": "Product"
          }
        }
      },
      "type": "object",
      "id": "ListProductsResponse"
    },
    "LoyaltyPoints": {
      "id": "LoyaltyPoints",
      "type": "object",
      "description": "A message that represents loyalty points.",
      "properties": {
        "ratio": {
          "description": "The ratio of a point when converted to currency. Google assumes currency based on Merchant Center settings. If ratio is left out, it defaults to 1.0.",
          "type": "number",
          "format": "double"
        },
        "name": {
          "type": "string",
          "description": "Name of loyalty points program. It is recommended to limit the name to 12 full-width characters or 24 Roman characters."
        },
        "pointsValue": {
          "type": "string",
          "format": "int64",
          "description": "The retailer's loyalty points in absolute value."
        }
      }
    },
    "ProductAttributes": {
      "id": "ProductAttributes",
      "description": "Product attributes.",
      "properties": {
        "adsLabels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Similar to ads_grouping, but only works on CPC."
        },
        "maxEnergyEfficiencyClass": {
          "enumDescriptions": [
            "The energy efficiency class is unspecified.",
            "A+++.",
            "A++.",
            "A+.",
            "A.",
            "B.",
            "C.",
            "D.",
            "E.",
            "F.",
            "G."
          ],
          "enum": [
            "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED",
            "APPP",
            "APP",
            "AP",
            "A",
            "B",
            "C",
            "D",
            "E",
            "F",
            "G"
          ],
          "description": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "certifications": {
          "items": {
            "$ref": "ProductCertification"
          },
          "type": "array",
          "description": "Product Certifications, for example for energy efficiency labeling of products recorded in the [EU EPREL](https://eprel.ec.europa.eu/screen/home) database. See the [Help Center](https://support.google.com/merchants/answer/13528839) article for more information."
        },
        "price": {
          "description": "Price of the item.",
          "$ref": "Price"
        },
        "sellOnGoogleQuantity": {
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products.",
          "type": "string",
          "format": "int64"
        },
        "expirationDate": {
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future.",
          "type": "string",
          "format": "google-datetime"
        },
        "color": {
          "description": "[Color](https://support.google.com/merchants/answer/6324487) of the item. For example, \"red\".",
          "type": "string"
        },
        "externalSellerId": {
          "type": "string",
          "description": "Required for multi-seller accounts. Use this attribute if you're a marketplace uploading products for various sellers to your multi-seller account."
        },
        "shippingWidth": {
          "description": "Width of the item for shipping.",
          "$ref": "ShippingDimension"
        },
        "displayAdsTitle": {
          "type": "string",
          "description": "Title of an item for dynamic remarketing campaigns."
        },
        "promotionIds": {
          "items": {
            "type": "string"
          },
          "description": "The unique ID of a promotion.",
          "type": "array"
        },
        "isBundle": {
          "type": "boolean",
          "description": "Whether the item is a business-defined sub-API. A [sub-API] (https://support.google.com/merchants/answer/6324449) is a custom grouping of different products sold by a business for a single price."
        },
        "returnPolicyLabel": {
          "type": "string",
          "description": "The return label of the product, used to group products in account-level return policies. Max. 100 characters. For more information, see [Return policy label](https://support.google.com/merchants/answer/9445425)."
        },
        "installment": {
          "description": "Number and amount of installments to pay for an item.",
          "$ref": "ProductInstallment"
        },
        "shippingLabel": {
          "description": "The shipping label of the product, used to group products in account-level shipping rules. Max. 100 characters. For more information, see [Shipping label](https://support.google.com/merchants/answer/6324504).",
          "type": "string"
        },
        "availabilityDate": {
          "description": "The day a pre-ordered product becomes available for delivery, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "material": {
          "description": "The [material](https://support.google.com/merchants/answer/6324410) of which the item is made. For example, \"Leather\" or \"Cotton\".",
          "type": "string"
        },
        "mobileLinkTemplate": {
          "type": "string",
          "description": "[Link template](https://support.google.com/merchants/answer/13870216) for business hosted local storefront optimized for mobile devices."
        },
        "videoLinks": {
          "description": "Optional. A list of video URLs for the item. Use this attribute to provide more visuals for your product beyond your image attributes. See the [Help Center article](https://support.google.com/merchants/answer/15216925) for more information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customLabel0": {
          "type": "string",
          "description": "[Custom label 0](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "shoppingAdsExcludedCountries": {
          "type": "array",
          "description": "List of country codes [(ISO 3166-1 alpha-2)](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) to exclude the offer from Shopping Ads destination. Countries from this list are removed from countries configured in data source settings.",
          "items": {
            "type": "string"
          }
        },
        "sustainabilityIncentives": {
          "description": "The list of sustainability incentive programs.",
          "type": "array",
          "items": {
            "$ref": "ProductSustainabilityIncentive"
          }
        },
        "adult": {
          "type": "boolean",
          "description": "Set to true if the item is targeted towards adults."
        },
        "gtins": {
          "type": "array",
          "description": "Global Trade Item Numbers ([GTIN](https://support.google.com/merchants/answer/6324461)) of the item. You can provide up to 10 GTINs.",
          "items": {
            "type": "string"
          }
        },
        "pattern": {
          "type": "string",
          "description": "The item's [pattern](https://support.google.com/merchants/answer/6324483). For example, polka dots."
        },
        "disclosureDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date time when an offer becomes visible in search results across Google’s YouTube surfaces, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. See [Disclosure date](https://support.google.com/merchants/answer/13034208) for more information."
        },
        "minHandlingTime": {
          "type": "string",
          "format": "int64",
          "description": "Minimal product handling time (in business days)."
        },
        "cloudExportAdditionalProperties": {
          "type": "array",
          "description": "Extra fields to export to the Cloud Retail program.",
          "items": {
            "$ref": "CloudExportAdditionalProperties"
          }
        },
        "productHighlights": {
          "type": "array",
          "description": "Bullet points describing the most relevant [product highlights](https://support.google.com/merchants/answer/9216100).",
          "items": {
            "type": "string"
          }
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "customLabel3": {
          "type": "string",
          "description": "[Custom label 3](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "shippingWeight": {
          "description": "Weight of the item for shipping.",
          "$ref": "ShippingWeight"
        },
        "productLength": {
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "minEnergyEfficiencyClass": {
          "description": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU.",
          "type": "string",
          "enumDescriptions": [
            "The energy efficiency class is unspecified.",
            "A+++.",
            "A++.",
            "A+.",
            "A.",
            "B.",
            "C.",
            "D.",
            "E.",
            "F.",
            "G."
          ],
          "enum": [
            "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED",
            "APPP",
            "APP",
            "AP",
            "A",
            "B",
            "C",
            "D",
            "E",
            "F",
            "G"
          ]
        },
        "linkTemplate": {
          "type": "string",
          "description": "[Link template](https://support.google.com/merchants/answer/13871172) for business hosted local storefront."
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "includedDestinations": {
          "type": "array",
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`. For more information, see [Included destination](https://support.google.com/merchants/answer/7501026). Note: We recommend setting destinations on datasources level for most use cases. Use this field within products to only setup exceptions.",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail)."
            ],
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL"
            ],
            "type": "string"
          }
        },
        "subscriptionCost": {
          "description": "Number of periods (weeks, months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "SubscriptionCost"
        },
        "mobileLink": {
          "description": "URL for the mobile-optimized version of your item's landing page.",
          "type": "string"
        },
        "transitTimeLabel": {
          "description": "The transit time label of the product, used to group product in account-level transit time tables.",
          "type": "string"
        },
        "salePrice": {
          "description": "Advertised sale price of the item.",
          "$ref": "Price"
        },
        "energyEfficiencyClass": {
          "description": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU.",
          "type": "string",
          "enumDescriptions": [
            "The energy efficiency class is unspecified.",
            "A+++.",
            "A++.",
            "A+.",
            "A.",
            "B.",
            "C.",
            "D.",
            "E.",
            "F.",
            "G."
          ],
          "enum": [
            "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED",
            "APPP",
            "APP",
            "AP",
            "A",
            "B",
            "C",
            "D",
            "E",
            "F",
            "G"
          ]
        },
        "brand": {
          "type": "string",
          "description": "[Brand](https://support.google.com/merchants/answer/6324351) of the item. For example, \"Google\"."
        },
        "salePriceEffectiveDate": {
          "description": "Date range during which the item is on sale, see [product data specification](https://support.google.com/merchants/answer/7052112#price_and_availability).",
          "$ref": "Interval"
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "adsGrouping": {
          "type": "string",
          "description": "Used to group items in an arbitrary way. Only for CPA%, discouraged otherwise. For more information, see [Display ads attribute](https://support.google.com/merchants/answer/6069387)."
        },
        "link": {
          "type": "string",
          "description": "URL directly linking to your item's page on your online store."
        },
        "availability": {
          "enumDescriptions": [
            "Availability is not specified.",
            "In stock.",
            "Out of stock.",
            "Pre-order.",
            "Limited availability.",
            "Backorder."
          ],
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "LIMITED_AVAILABILITY",
            "BACKORDER"
          ],
          "type": "string",
          "description": "[Availability](https://support.google.com/merchants/answer/6324448) status of the item."
        },
        "loyaltyPoints": {
          "description": "Loyalty points that users receive after purchasing the item. Japan only.",
          "$ref": "LoyaltyPoints"
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value, see [Size](https://support.google.com/merchants/answer/6324492).",
          "type": "string"
        },
        "excludedDestinations": {
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail)."
            ],
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center). For more information, see [Excluded destination](https://support.google.com/merchants/answer/6324486). Note: We recommend setting destinations on datasources level for most use cases. Use this field within products to only setup exceptions."
        },
        "sizeTypes": {
          "type": "array",
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided, see [Size type](https://support.google.com/merchants/answer/6324497).",
          "items": {
            "enumDescriptions": [
              "The size type is not specified.",
              "Regular size.",
              "Petite size.",
              "Maternity size.",
              "Big size.",
              "Tall size.",
              "Plus size."
            ],
            "enum": [
              "SIZE_TYPE_UNSPECIFIED",
              "REGULAR",
              "PETITE",
              "MATERNITY",
              "BIG",
              "TALL",
              "PLUS"
            ],
            "type": "string"
          }
        },
        "canonicalLink": {
          "description": "URL for the canonical version of your item's landing page.",
          "type": "string"
        },
        "displayAdsId": {
          "type": "string",
          "description": "An identifier for an item for dynamic remarketing campaigns."
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "shippingHandlingBusinessDays": {
          "items": {
            "$ref": "ShippingBusinessDaysConfig"
          },
          "type": "array",
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed."
        },
        "customLabel1": {
          "type": "string",
          "description": "[Custom label 1](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "displayAdsSimilarIds": {
          "description": "Advertiser-specified recommendations. For more information, see [Display ads attribute specification](https://support.google.com/merchants/answer/6069387).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalImageLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional URLs of images of the item.",
          "type": "array"
        },
        "loyaltyPrograms": {
          "items": {
            "$ref": "LoyaltyProgram"
          },
          "type": "array",
          "description": "A list of loyalty program information that is used to surface loyalty benefits (for example, better pricing, points, etc) to the user of this item."
        },
        "adsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product ads.",
          "type": "string"
        },
        "customLabel2": {
          "description": "[Custom label 2](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "productWeight": {
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive).",
          "$ref": "ProductWeight"
        },
        "multipack": {
          "description": "The number of identical products in a business-defined multipack.",
          "type": "string",
          "format": "int64"
        },
        "displayAdsLink": {
          "description": "URL directly to your item's landing page for dynamic remarketing campaigns.",
          "type": "string"
        },
        "unitPricingBaseMeasure": {
          "description": "The preference of the denominator of the unit price.",
          "$ref": "UnitPricingBaseMeasure"
        },
        "pause": {
          "description": "Publication of this item will be temporarily [paused](https://support.google.com/merchants/answer/11909930).",
          "type": "string",
          "enumDescriptions": [
            "The pause is unspecified.",
            "You’re currently pausing your product for all ads locations (including Shopping Ads, Display Ads, and local inventory ads).",
            "You’re currently pausing your product for all Shopping locations (including Shopping Ads, Display Ads, local inventory ads, Buy on Google, and free listings)."
          ],
          "enum": [
            "PAUSE_UNSPECIFIED",
            "ADS",
            "ALL"
          ]
        },
        "identifierExists": {
          "type": "boolean",
          "description": "Set this value to false when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Defaults to true, if not provided."
        },
        "handlingCutoffTimes": {
          "items": {
            "$ref": "HandlingCutoffTime"
          },
          "type": "array",
          "description": "The handling cutoff times for shipping."
        },
        "shipping": {
          "description": "Shipping rules.",
          "type": "array",
          "items": {
            "$ref": "Shipping"
          }
        },
        "productTypes": {
          "type": "array",
          "description": "Categories of the item (formatted as in [product data specification](https://support.google.com/merchants/answer/7052112#product_category)).",
          "items": {
            "type": "string"
          }
        },
        "displayAdsValue": {
          "type": "number",
          "format": "double",
          "description": "Offer margin for dynamic remarketing campaigns. For more information, see [Display ads attribute](https://support.google.com/merchants/answer/6069387)."
        },
        "freeShippingThreshold": {
          "items": {
            "$ref": "FreeShippingThreshold"
          },
          "type": "array",
          "description": "Conditions to be met for a product to have free shipping."
        },
        "shippingHeight": {
          "description": "Height of the item for shipping.",
          "$ref": "ShippingDimension"
        },
        "unitPricingMeasure": {
          "description": "The measure and dimension of an item.",
          "$ref": "UnitPricingMeasure"
        },
        "condition": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Brand new, original, unopened packaging.",
            "Previously used, original packaging opened or missing.",
            "Professionally restored to working order, comes with a warranty, may or may not have the original packaging."
          ],
          "enum": [
            "CONDITION_UNSPECIFIED",
            "NEW",
            "USED",
            "REFURBISHED"
          ],
          "description": "[Condition](https://support.google.com/merchants/answer/6324469) or state of the item.",
          "type": "string"
        },
        "carrierShipping": {
          "type": "array",
          "description": "Rules for carrier-based shipping.",
          "items": {
            "$ref": "CarrierShipping"
          }
        },
        "gender": {
          "description": "Target [gender](https://support.google.com/merchants/answer/6324479) of the item.",
          "type": "string",
          "enumDescriptions": [
            "Gender is not specified.",
            "Male.",
            "Female.",
            "Unisex."
          ],
          "enum": [
            "GENDER_UNSPECIFIED",
            "MALE",
            "FEMALE",
            "UNISEX"
          ]
        },
        "autoPricingMinPrice": {
          "description": "A safeguard in the [automated discounts] (https://support.google.com/merchants/answer/10295759) and \"Dynamic Promotions\" (https://support.google.com/merchants/answer/13949249) projects, ensuring that discounts on business offers do not fall below this value, thereby preserving the offer's value and profitability.",
          "$ref": "Price"
        },
        "costOfGoodsSold": {
          "description": "Cost of goods sold. Used for gross profit reporting.",
          "$ref": "Price"
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "description": {
          "type": "string",
          "description": "Description of the item."
        },
        "ageGroup": {
          "enumDescriptions": [
            "Age group is not specified.",
            "Teens or older.",
            "5-13 years old.",
            "1-5 years old.",
            "3-12 months old.",
            "0-3 months old."
          ],
          "enum": [
            "AGE_GROUP_UNSPECIFIED",
            "ADULT",
            "KIDS",
            "TODDLER",
            "INFANT",
            "NEWBORN"
          ],
          "type": "string",
          "description": "Target [age group](https://support.google.com/merchants/answer/6324463) of the item."
        },
        "productDetails": {
          "description": "Technical specification or additional product details.",
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "structuredDescription": {
          "description": "Structured description, for algorithmically (AI)-generated descriptions.",
          "$ref": "StructuredDescription"
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items. For more information, see [Size system](https://support.google.com/merchants/answer/6324502).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified size system.",
            "AU.",
            "BR.",
            "CN.",
            "DE.",
            "EU.",
            "FR.",
            "IT.",
            "JP.",
            "MEX.",
            "UK.",
            "US."
          ],
          "enum": [
            "SIZE_SYSTEM_UNSPECIFIED",
            "AU",
            "BR",
            "CN",
            "DE",
            "EU",
            "FR",
            "IT",
            "JP",
            "MEX",
            "UK",
            "US"
          ]
        },
        "maxHandlingTime": {
          "type": "string",
          "format": "int64",
          "description": "Maximal product handling time (in business days)."
        },
        "shippingLength": {
          "description": "Length of the item for shipping.",
          "$ref": "ShippingDimension"
        },
        "virtualModelLink": {
          "type": "string",
          "description": "URL of the 3D image of the item. See the [Help Center article](https://support.google.com/merchants/answer/13674896) for more information."
        },
        "pickupSla": {
          "type": "string",
          "description": "Item store pickup timeline. For more information, see [Pickup SLA](https://support.google.com/merchants/answer/14635400).",
          "enumDescriptions": [
            "Pickup SLA is not specified.",
            "Indicates that the product is available for pickup the same day that the order is placed, subject to cut off times.",
            "Indicates that the product is available for pickup the following day that the order is placed.",
            "Indicates that the product will be shipped to a store for a customer to pick up in 2 days.",
            "Indicates that the product will be shipped to a store for a customer to pick up in 3 days.",
            "Indicates that the product will be shipped to a store for a customer to pick up in 4 days",
            "Indicates that the product will be shipped to a store for a customer to pick up in 5 days.",
            "Indicates that the product will be shipped to a store for a customer to pick up in 6 days.",
            "Indicates that the product will be shipped to a store for a customer to pick up in one week or more."
          ],
          "enum": [
            "PICKUP_SLA_UNSPECIFIED",
            "SAME_DAY",
            "NEXT_DAY",
            "TWO_DAY",
            "THREE_DAY",
            "FOUR_DAY",
            "FIVE_DAY",
            "SIX_DAY",
            "MULTI_WEEK"
          ]
        },
        "lifestyleImageLinks": {
          "description": "Additional URLs of lifestyle images of the item, used to explicitly identify images that showcase your item in a real-world context. See the [Help Center article](https://support.google.com/merchants/answer/9103186) for more information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/6324482)) of the item."
        },
        "structuredTitle": {
          "description": "Structured title, for algorithmically (AI)-generated titles.",
          "$ref": "StructuredTitle"
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "shippingTransitBusinessDays": {
          "items": {
            "$ref": "ShippingBusinessDaysConfig"
          },
          "type": "array",
          "description": "The business days during which orders are in transit. If not provided, Monday to Friday business days will be assumed."
        },
        "customLabel4": {
          "type": "string",
          "description": "[Custom label 4](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "maximumRetailPrice": {
          "description": "Maximum retail price (MRP) of the item. Applicable to India only.",
          "$ref": "Price"
        },
        "pickupMethod": {
          "type": "string",
          "description": "The [pickup](https://support.google.com/merchants/answer/14634021) option for the item.",
          "enumDescriptions": [
            "Pickup method is not specified.",
            "The item is not available for store pickup.",
            "The entire transaction occurs online.",
            "The item is reserved online and the transaction occurs in-store.",
            "The item is purchased online and shipped to a local store for the customer to pick up."
          ],
          "enum": [
            "PICKUP_METHOD_UNSPECIFIED",
            "NOT_SUPPORTED",
            "BUY",
            "RESERVE",
            "SHIP_TO_STORE"
          ]
        }
      },
      "type": "object"
    },
    "ProductSustainabilityIncentive": {
      "description": "Information regarding sustainability-related incentive programs such as rebates or tax relief.",
      "properties": {
        "amount": {
          "description": "The fixed amount of the incentive.",
          "$ref": "Price"
        },
        "percentage": {
          "description": "The percentage of the sale price that the incentive is applied to.",
          "type": "number",
          "format": "double"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified or unknown sustainability incentive type.",
            "Program offering tax liability reductions for electric vehicles and, in some countries, plug-in hybrids. These reductions can be based on a specific amount or a percentage of the sale price.",
            "A subsidy program, often called an environmental bonus, provides a purchase grant for electric vehicles and, in some countries, plug-in hybrids. The grant amount may be a fixed sum or a percentage of the sale price."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EV_TAX_CREDIT",
            "EV_PRICE_DISCOUNT"
          ],
          "description": "Sustainability incentive program.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProductSustainabilityIncentive"
    },
    "Interval": {
      "id": "Interval",
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ProductWeight": {
      "description": "The weight of the product.",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
        },
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\""
        }
      },
      "type": "object",
      "id": "ProductWeight"
    },
    "AutomatedDiscounts": {
      "description": "Information regarding Automated Discounts.",
      "properties": {
        "gadPrice": {
          "description": "The current sale price for products with a price optimized using Google Automated Discounts (GAD). Absent if the information about the GAD_price of the product is not available.",
          "$ref": "Price"
        },
        "priorPriceProgressive": {
          "description": "The price prior to the application of consecutive price reductions. Absent if the information about the prior price of the product is not available.",
          "$ref": "Price"
        },
        "priorPrice": {
          "description": "The price prior to the application of the first price reduction. Absent if the information about the prior price of the product is not available.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "id": "AutomatedDiscounts"
    },
    "SubscriptionCost": {
      "type": "object",
      "description": "The SubscriptionCost of the product.",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        },
        "period": {
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year.",
            "Indicates that the subscription period is week."
          ],
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR",
            "WEEK"
          ],
          "type": "string",
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\" * \"`week`\""
        },
        "periodLength": {
          "type": "string",
          "format": "int64",
          "description": "The number of subscription periods the buyer has to pay."
        }
      },
      "id": "SubscriptionCost"
    },
    "HandlingCutoffTime": {
      "id": "HandlingCutoffTime",
      "description": "Configuration for offer or offer-country level shipping handling cutoff time.",
      "properties": {
        "country": {
          "type": "string",
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which the handling cutoff time applies."
        },
        "disableDeliveryAfterCutoff": {
          "type": "boolean",
          "description": "This field only applies to same-day delivery. If true, prevents next-day delivery from being shown for this offer after the cutoff time. This field only applies to same-day delivery offers, for merchants who want to explicitly disable it."
        },
        "cutoffTime": {
          "description": "The handling cutoff time until which an order has to be placed to be processed in the same day. This is a string in format of HHMM (e.g. `1530`) for 3:30 PM. If not configured, the cutoff time will be defaulted to 8AM PST.",
          "type": "string"
        },
        "cutoffTimezone": {
          "type": "string",
          "description": "[Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example 'Europe/Zurich'. If not set, the shipping destination timezone will be used."
        }
      },
      "type": "object"
    },
    "StructuredDescription": {
      "id": "StructuredDescription",
      "type": "object",
      "description": "Structured description, for algorithmically (AI)-generated descriptions.",
      "properties": {
        "digitalSourceType": {
          "enumDescriptions": [
            "Digital source type is unspecified.",
            "Text created algorithmically using a model derived from sampled content.",
            "Text NOT created algorithmically using a model derived from sampled content (the default)"
          ],
          "enum": [
            "DIGITAL_SOURCE_TYPE_UNSPECIFIED",
            "TRAINED_ALGORITHMIC_MEDIA",
            "DEFAULT"
          ],
          "type": "string",
          "description": "The digital source type. Following [IPTC](https://cv.iptc.org/newscodes/digitalsourcetype)."
        },
        "content": {
          "description": "The description text Maximum length is 5000 characters",
          "type": "string"
        }
      }
    },
    "ShippingDimension": {
      "id": "ShippingDimension",
      "type": "object",
      "description": "The ShippingDimension of the product.",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "The dimension of the product used to calculate the shipping cost of the item."
        },
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Product": {
      "id": "Product",
      "description": "The processed product, built from multiple product inputs after applying rules and supplemental data sources. This processed product matches what is shown in your Merchant Center account. Each product is built from exactly one primary data source product input, and multiple supplemental data source inputs. After inserting, updating, or deleting a product input, it may take several minutes before the updated processed product can be retrieved. All fields in the processed product and its sub-messages match the name of their corresponding attribute in the [Product data specification](https://support.google.com/merchants/answer/7052112) with some exceptions.",
      "properties": {
        "contentLanguage": {
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the product. Format: `accounts/{account}/products/{product}` where the last section `product` consists of: `content_language~feed_label~offer_id` example for product name is `accounts/123/products/en~US~sku123`. A legacy local product name would be `accounts/123/products/local~en~US~sku123`. Note: For calls to the v1beta version, the `product` section consists of: `channel~content_language~feed_label~offer_id`, for example: `accounts/123/products/online~en~US~sku123`."
        },
        "legacyLocal": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Determines whether the product is **only** targeting local destinations and whether the product name should be distinguished with a `local~` prefix. For example, `accounts/123/products/local~en~US~sku123`."
        },
        "feedLabel": {
          "description": "Output only. The feed label lets you categorize and identify your products. The maximum allowed characters is 20 and the supported characters are`A-Z`, `0-9`, hyphen and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087)",
          "readOnly": true,
          "type": "string"
        },
        "base64EncodedName": {
          "description": "Output only. The **unpadded base64url encoded name** of the product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1/accounts.products/get).",
          "readOnly": true,
          "type": "string"
        },
        "productAttributes": {
          "$ref": "ProductAttributes",
          "readOnly": true,
          "description": "Output only. A list of strongly-typed product attributes."
        },
        "offerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [product data specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "versionNumber": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. If the operation is prevented, the aborted exception will be thrown."
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Output only. A list of custom (merchant-provided) attributes. It can also be used to submit any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "readOnly": true,
          "type": "array"
        },
        "productStatus": {
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true,
          "$ref": "ProductStatus"
        },
        "dataSource": {
          "description": "Output only. The primary data source of the product.",
          "readOnly": true,
          "type": "string"
        },
        "automatedDiscounts": {
          "readOnly": true,
          "description": "Output only. The automated discounts information for the product.",
          "$ref": "AutomatedDiscounts"
        }
      },
      "type": "object"
    },
    "StructuredTitle": {
      "id": "StructuredTitle",
      "type": "object",
      "description": "Structured title, for algorithmically (AI)-generated titles.",
      "properties": {
        "digitalSourceType": {
          "enumDescriptions": [
            "Digital source type is unspecified.",
            "Text created algorithmically using a model derived from sampled content.",
            "Text NOT created algorithmically using a model derived from sampled content (the default)"
          ],
          "enum": [
            "DIGITAL_SOURCE_TYPE_UNSPECIFIED",
            "TRAINED_ALGORITHMIC_MEDIA",
            "DEFAULT"
          ],
          "type": "string",
          "description": "The digital source type. Following [IPTC](https://cv.iptc.org/newscodes/digitalsourcetype)."
        },
        "content": {
          "description": "The title text Maximum length is 150 characters",
          "type": "string"
        }
      }
    },
    "FreeShippingThreshold": {
      "type": "object",
      "description": "Conditions to be met for a product to have free shipping.",
      "properties": {
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        },
        "priceThreshold": {
          "description": "The minimum product price for the shipping cost to become free. Represented as a number.",
          "$ref": "Price"
        }
      },
      "id": "FreeShippingThreshold"
    },
    "CloudExportAdditionalProperties": {
      "type": "object",
      "description": "Product property for the Cloud Retail API. For example, properties for a TV product could be \"Screen-Resolution\" or \"Screen-Size\".",
      "properties": {
        "boolValue": {
          "description": "Boolean value of the given property. For example for a TV product, \"True\" or \"False\" if the screen is UHD.",
          "type": "boolean"
        },
        "minValue": {
          "description": "Minimum float value of the given property. For example for a TV product 1.00.",
          "type": "number",
          "format": "float"
        },
        "maxValue": {
          "description": "Maximum float value of the given property. For example for a TV product 100.00.",
          "type": "number",
          "format": "float"
        },
        "floatValue": {
          "description": "Float values of the given property. For example for a TV product 1.2345. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "unitCode": {
          "type": "string",
          "description": "Unit of the given property. For example, \"Pixels\" for a TV product. Maximum string size is 256B."
        },
        "textValue": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Text value of the given property. For example, \"8K(UHD)\" could be a text value for a TV product. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order. Maximum string size is 256 characters."
        },
        "propertyName": {
          "type": "string",
          "description": "Name of the given property. For example, \"Screen-Resolution\" for a TV product. Maximum string size is 256 characters."
        },
        "intValue": {
          "description": "Integer values of the given property. For example, 1080 for a TV product's Screen Resolution. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "CloudExportAdditionalProperties"
    },
    "UnitPricingMeasure": {
      "id": "UnitPricingMeasure",
      "type": "object",
      "description": "The UnitPricingMeasure of the product.",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "The measure of an item."
        },
        "unit": {
          "description": "The unit of the measure.",
          "type": "string"
        }
      }
    },
    "ShippingWeight": {
      "id": "ShippingWeight",
      "description": "The ShippingWeight of the product.",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "The weight of the product used to calculate the shipping cost of the item."
        },
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomAttribute": {
      "id": "CustomAttribute",
      "type": "object",
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "properties": {
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        },
        "groupValues": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "type": "array"
        }
      }
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "type": "object",
      "description": "The dimension of the product.",
      "properties": {
        "value": {
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "type": "string",
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\""
        }
      }
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "type": "object",
      "description": "The message that the merchant will receive to notify about product status change event",
      "properties": {
        "changes": {
          "type": "array",
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "resourceId": {
          "type": "string",
          "description": "The product id."
        },
        "resourceType": {
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT"
          ],
          "description": "The resource that changed, in this case it will always be `Product`.",
          "type": "string"
        },
        "account": {
          "type": "string",
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "The product name. Format: `accounts/{account}/products/{product}`"
        },
        "expirationTime": {
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string",
          "format": "google-datetime"
        },
        "attribute": {
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "type": "string",
          "description": "The attribute in the resource that changed, in this case it will be always `Status`."
        }
      }
    },
    "LoyaltyProgram": {
      "id": "LoyaltyProgram",
      "type": "object",
      "description": "A message that represents loyalty program.",
      "properties": {
        "tierLabel": {
          "type": "string",
          "description": "The label of the tier within the loyalty program. Must match one of the labels within the program."
        },
        "loyaltyPoints": {
          "description": "The amount of loyalty points earned on a purchase.",
          "type": "string",
          "format": "int64"
        },
        "memberPriceEffectiveDate": {
          "description": "A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "$ref": "Interval"
        },
        "shippingLabel": {
          "description": "The label of the shipping benefit. If the field has value, this offer has loyalty shipping benefit. If the field value isn't provided, the item is not eligible for loyalty shipping for the given loyalty tier.",
          "type": "string"
        },
        "price": {
          "description": "The price for members of the given tier, that is, the instant discount price. Must be smaller or equal to the regular price.",
          "$ref": "Price"
        },
        "cashbackForFutureUse": {
          "description": "The cashback that can be used for future purchases.",
          "$ref": "Price"
        },
        "programLabel": {
          "description": "The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a business entity and a loyalty program entity. The label must be provided so that the system can associate the assets below (for example, price and points) with a business. The corresponding program must be linked to the Merchant Center account.",
          "type": "string"
        }
      }
    },
    "UnitPricingBaseMeasure": {
      "id": "UnitPricingBaseMeasure",
      "type": "object",
      "description": "The UnitPricingBaseMeasure of the product.",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The denominator of the unit price."
        },
        "unit": {
          "type": "string",
          "description": "The unit of the denominator."
        }
      }
    },
    "CarrierShipping": {
      "id": "CarrierShipping",
      "description": "Carrier-based shipping configuration. Allows for setting shipping speed or shipping cost based on a carrier's provided info.",
      "properties": {
        "postalCode": {
          "type": "string",
          "description": "The postal code range that the shipping rate applies to, represented by a postal code (eg. `94043`), a postal code prefix followed by a * wildcard (eg. `94*`), a range between two postal codes (eg. `94043-98033`) or two postal code prefixes of equal length (eg. `94*-98*`)."
        },
        "carrierPriceFlatAdjustment": {
          "description": "A flat adjustment on the carrier price. Can be either positive or negative. Cannot be zero. Requires `carrier_price` to be present. Cannot be set together with flatPrice and carrierPricePercentageAdjustment.",
          "$ref": "Price"
        },
        "region": {
          "description": "The geographic region to which a shipping rate applies. See [region](https://support.google.com/merchants/answer/6324484) for more information.",
          "type": "string"
        },
        "maxHandlingTime": {
          "type": "string",
          "format": "int64",
          "description": "Maximum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. Both maxHandlingTime and fixedMaxTransitTime or carrierTransitTime are required if providing shipping speeds."
        },
        "minHandlingTime": {
          "type": "string",
          "format": "int64",
          "description": "Minimum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. minHandlingTime can only be set if maxHandlingTime is also set."
        },
        "carrierTransitTime": {
          "enumDescriptions": [
            "Carrier transit time option is unspecified.",
            "DHL Paket shipping service.",
            "DHL Packchen shipping service.",
            "DHL Express Easy shipping service.",
            "DPD Express shipping service.",
            "DPD Classic Parcel shipping service.",
            "Hermes Haustur shipping service.",
            "Hermes Paketshop shipping service.",
            "GLS Business shipping service.",
            "GLS Express shipping service.",
            "GLS Private shipping service.",
            "Colissimo Domicile shipping service.",
            "DHL Express 12 AM shipping service.",
            "DHL Express 9 AM shipping service.",
            "GEODIS Express shipping service.",
            "GEODIS Pack 30 shipping service.",
            "GEODIS Same Day shipping service.",
            "GEODIS Top 24 shipping service.",
            "TNT Essentiel 24H shipping service.",
            "TNT Essentiel Flexibilite shipping service.",
            "FedEx Ground shipping service.",
            "FedEx Home Delivery shipping service.",
            "FedEx Express Saver shipping service.",
            "FedEx First Overnight shipping service.",
            "FedEx Priority Overnight shipping service.",
            "FedEx Standard Overnight shipping service.",
            "FedEx 2Day shipping service.",
            "UPS 2nd Day Air shipping service.",
            "UPS 2nd Day AM shipping service.",
            "UPS 3 Day Select shipping service.",
            "UPS Ground shipping service.",
            "UPS Next Day Air shipping service.",
            "UPS Next Day Air Early AM shipping service.",
            "UPS Next Day Air Saver shipping service.",
            "USPS Priority Mail Express shipping service.",
            "USPS Media Mail shipping service.",
            "USPS Ground Advantage Retail shipping service.",
            "USPS Priority Mail shipping service.",
            "USPS Ground Advantage Commercial shipping service.",
            "USPS First Class Mail shipping service."
          ],
          "enum": [
            "CARRIER_TRANSIT_TIME_OPTION_UNSPECIFIED",
            "DHL_PAKET",
            "DHL_PACKCHEN",
            "DHL_EXPRESSEASY",
            "DPD_EXPRESS",
            "DPD_CLASSIC_PARCEL",
            "HERMES_HAUSTUR",
            "HERMES_PAKETSHOP",
            "GLS_BUSINESS",
            "GLS_EXPRESS",
            "GLS_PRIVATE",
            "COLISSIMO_DOMICILE",
            "DHL_EXPRESS_12AM",
            "DHL_EXPRESS_9AM",
            "GEODIS_EXPRESS",
            "GEODIS_PACK_30",
            "GEODIS_SAME_DAY",
            "GEODIS_TOP_24",
            "TNT_ESSENTIEL_24H",
            "TNT_ESSENTIEL_FLEXIBILITE",
            "FEDEX_GROUND",
            "FEDEX_HOME_DELIVERY",
            "FEDEX_EXPRESS_SAVER",
            "FEDEX_FIRST_OVERNIGHT",
            "FEDEX_PRIORITY_OVERNIGHT",
            "FEDEX_STANDARD_OVERNIGHT",
            "FEDEX_2DAY",
            "UPS_2ND_DAY_AIR",
            "UPS_2ND_DAY_AM",
            "UPS_3_DAY_SELECT",
            "UPS_GROUND",
            "UPS_NEXT_DAY_AIR",
            "UPS_NEXT_DAY_AIR_EARLY_AM",
            "UPS_NEXT_DAY_AIR_SAVER",
            "USPS_PRIORITY_MAIL_EXPRESS",
            "USPS_MEDIA_MAIL",
            "USPS_GROUND_ADVANTAGE_RETAIL",
            "USPS_PRIORITY_MAIL",
            "USPS_GROUND_ADVANTAGE_COMMERCIAL",
            "USPS_FIRST_CLASS_MAIL"
          ],
          "type": "string",
          "description": "Selected carrier to calculate the shipping speed from. Select a carrier from the [available carriers list](https://support.google.com/merchants/answer/15449142#Supported), for example `AUSTRALIA_POST_REGULAR`. Speed will be calculated by this selected carrier, the location expressed in originPostalCode, along with the user location to determine the accurate delivery speed. Carrier is represented by a carrier service name or a carrier service ID. Cannot be set together with fixedMaxTransitTime or fixedMinTransitTime."
        },
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        },
        "fixedMinTransitTime": {
          "type": "string",
          "format": "int64",
          "description": "Minimum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. fixedMinTransitTime can only be set if fixedMaxTransitTime is set. Cannot be set if carrierTransitTime is present."
        },
        "fixedMaxTransitTime": {
          "type": "string",
          "format": "int64",
          "description": "Maximum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. Needs to be provided together with maxHandlingTime. Cannot be set if carrierTransitTime is present."
        },
        "flatPrice": {
          "description": "Fixed shipping price, represented as a number with currency. Cannot be set together with carrierPrice or its adjustments (carrierPriceFlatAdjustment, carrierPricePercentageAdjustment).",
          "$ref": "Price"
        },
        "originPostalCode": {
          "type": "string",
          "description": "The source location postal code from which this offer ships. Represented only by a full-length postal code."
        },
        "carrierPrice": {
          "enumDescriptions": [
            "Carrier price option is unspecified.",
            "Australia Post Regular shipping service.",
            "Australia Post Express shipping service.",
            "Australia Post Regular Small shipping service.",
            "Australia Post Regular Medium shipping service.",
            "Australia Post Regular Large shipping service.",
            "Australia Post Regular XL shipping service.",
            "Australia Post Express Small shipping service.",
            "Australia Post Express Medium shipping service.",
            "Australia Post Express Large shipping service.",
            "Australia Post Express XL shipping service.",
            "TNT Road Express shipping service.",
            "TNT Overnight Express shipping service.",
            "Toll Road Delivery shipping service.",
            "Toll Overnight Priority shipping service.",
            "DHL Paket shipping service.",
            "DHL Packchen shipping service.",
            "DPD Express 12 shipping service.",
            "DPD Express shipping service.",
            "DPD Classic Parcel shipping service.",
            "Hermes Packchen shipping service.",
            "Hermes Paketklasse S shipping service.",
            "Hermes Paketklasse M shipping service.",
            "Hermes Paketklasse L shipping service.",
            "UPS Express shipping service.",
            "UPS Express Saver shipping service.",
            "UPS Express Standard shipping service.",
            "DHL Express shipping service.",
            "DHL Express 12 shipping service.",
            "DPD Next Day shipping service.",
            "DPD Standard Next Day shipping service.",
            "DPD Standard Two Day shipping service.",
            "RMG 1st Class Small shipping service.",
            "RMG 1st Class Medium shipping service.",
            "RMG 2nd Class Small shipping service.",
            "RMG 2nd Class Medium shipping service.",
            "TNT Express shipping service.",
            "TNT Express 10 shipping service.",
            "TNT Express 12 shipping service.",
            "Yodel B2C 48HR shipping service.",
            "Yodel B2C 72HR shipping service.",
            "Yodel B2C Packet shipping service.",
            "FedEx Ground shipping service.",
            "FedEx Home Delivery shipping service.",
            "FedEx Express Saver shipping service.",
            "FedEx First Overnight shipping service.",
            "FedEx Priority Overnight shipping service.",
            "FedEx Standard Overnight shipping service.",
            "FedEx 2Day shipping service.",
            "UPS Standard shipping service.",
            "UPS 2nd Day Air shipping service.",
            "UPS 2nd Day AM shipping service.",
            "UPS 3 Day Select shipping service.",
            "UPS Ground shipping service.",
            "UPS Next Day Air shipping service.",
            "UPS Next Day Air Early AM shipping service.",
            "UPS Next Day Air Saver shipping service.",
            "USPS Priority Mail Express shipping service.",
            "USPS Media Mail shipping service.",
            "USPS Ground Advantage Retail shipping service.",
            "USPS Priority Mail shipping service.",
            "USPS Ground Advantage Commercial shipping service."
          ],
          "enum": [
            "CARRIER_PRICE_OPTION_UNSPECIFIED",
            "AUSTRALIA_POST_REGULAR",
            "AUSTRALIA_POST_EXPRESS",
            "AUSTRALIA_POST_REGULAR_S",
            "AUSTRALIA_POST_REGULAR_M",
            "AUSTRALIA_POST_REGULAR_L",
            "AUSTRALIA_POST_REGULAR_XL",
            "AUSTRALIA_POST_EXPRESS_S",
            "AUSTRALIA_POST_EXPRESS_M",
            "AUSTRALIA_POST_EXPRESS_L",
            "AUSTRALIA_POST_EXPRESS_XL",
            "TNT_ROAD_EXPRESS",
            "TNT_OVERNIGHT_EXPRESS",
            "TOLL_ROAD_DELIVERY",
            "TOLL_OVERNIGHT_PRIORITY",
            "DHL_PAKET",
            "DHL_PACKCHEN",
            "DPD_EXPRESS_12",
            "DPD_EXPRESS",
            "DPD_CLASSIC_PARCEL",
            "HERMES_PACKCHEN",
            "HERMES_PAKETKLASSE_S",
            "HERMES_PAKETKLASSE_M",
            "HERMES_PAKETKLASSE_L",
            "UPS_EXPRESS",
            "UPS_EXPRESS_SAVER",
            "UPS_EXPRESS_STANDARD",
            "DHL_EXPRESS",
            "DHL_EXPRESS_12",
            "DPD_NEXT_DAY",
            "DPD_STANDARD_NEXT_DAY",
            "DPD_STANDARD_TWO_DAY",
            "RMG_1ST_CLASS_SMALL",
            "RMG_1ST_CLASS_MEDIUM",
            "RMG_2ND_CLASS_SMALL",
            "RMG_2ND_CLASS_MEDIUM",
            "TNT_EXPRESS",
            "TNT_EXPRESS_10",
            "TNT_EXPRESS_12",
            "YODEL_B2C_48HR",
            "YODEL_B2C_72HR",
            "YODEL_B2C_PACKET",
            "FEDEX_GROUND",
            "FEDEX_HOME_DELIVERY",
            "FEDEX_EXPRESS_SAVER",
            "FEDEX_FIRST_OVERNIGHT",
            "FEDEX_PRIORITY_OVERNIGHT",
            "FEDEX_STANDARD_OVERNIGHT",
            "FEDEX_2DAY",
            "UPS_STANDARD",
            "UPS_2ND_DAY_AIR",
            "UPS_2ND_DAY_AM",
            "UPS_3_DAY_SELECT",
            "UPS_GROUND",
            "UPS_NEXT_DAY_AIR",
            "UPS_NEXT_DAY_AIR_EARLY_AM",
            "UPS_NEXT_DAY_AIR_SAVER",
            "USPS_PRIORITY_MAIL_EXPRESS",
            "USPS_MEDIA_MAIL",
            "USPS_GROUND_ADVANTAGE_RETAIL",
            "USPS_PRIORITY_MAIL",
            "USPS_GROUND_ADVANTAGE_COMMERCIAL"
          ],
          "type": "string",
          "description": "Selected carrier to calculate the shipping price from. Select a carrier from the [available carriers list](https://support.google.com/merchants/answer/15449142#Supported), for example `AUSTRALIA_POST_REGULAR`. Price will be calculated by this selected carrier, the location expressed in originPostalCode, along with the user location to determine the accurate shipping price. Carrier is represented by a carrier service name or a carrier service ID. Cannot be set together with flatPrice."
        },
        "carrierPricePercentageAdjustment": {
          "description": "A percentual adjustment on the carrier price. Can be either positive or negative. Cannot be zero. Requires `carrier_price` to be present. Cannot be set together with flatPrice and carrierPriceFlatAdjustment.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "ItemLevelIssue": {
      "type": "object",
      "description": "The ItemLevelIssue of the product status.",
      "properties": {
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "applicableCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the offer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product.",
            "The product is demoted and most likely have limited performance in search results",
            "Issue disapproves the product."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DEMOTED",
            "DISAPPROVED"
          ],
          "description": "How this issue affects serving of the offer.",
          "type": "string"
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "type": "string",
          "description": "The reporting context the issue applies to.",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the business.",
          "type": "string"
        }
      },
      "id": "ItemLevelIssue"
    },
    "ProductChange": {
      "id": "ProductChange",
      "type": "object",
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "properties": {
        "reportingContext": {
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "type": "string"
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        }
      }
    },
    "ProductDetail": {
      "type": "object",
      "description": "The product details.",
      "properties": {
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        },
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        }
      },
      "id": "ProductDetail"
    },
    "ShippingBusinessDaysConfig": {
      "id": "ShippingBusinessDaysConfig",
      "description": "The business days during which orders are on their path to fulfillment. If not provided, Monday to Friday business days will be assumed.",
      "properties": {
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        },
        "businessDays": {
          "description": "Effective days of the week considered for the delivery time calculation. May not be empty. The more business days included the faster the delivery. Can be set through individual days (e.g. `MTWRF`), or day ranges (e.g. `Mon-Fri`). For more information about accepted formats, see [Shipping handling business days](https://support.google.com/merchants/answer/16072859).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductStatus": {
      "id": "ProductStatus",
      "description": "The status of a product, data validation issues, that is, information about a product computed asynchronously.",
      "properties": {
        "destinationStatuses": {
          "description": "The intended destinations for the product.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "itemLevelIssues": {
          "items": {
            "$ref": "ItemLevelIssue"
          },
          "type": "array",
          "description": "A list of all issues associated with the product."
        },
        "googleExpirationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "creationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "lastUpdateDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        }
      },
      "type": "object"
    },
    "DestinationStatus": {
      "type": "object",
      "description": "The destination status of the product status. Equivalent to `StatusPerReportingContext` in Reports API.",
      "properties": {
        "pendingCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approvedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "items": {
            "type": "string"
          }
        },
        "disapprovedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
[...]
