{
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Merchant",
  "id": "merchantapi:quota_v1",
  "batchPath": "batch",
  "basePath": "",
  "resources": {
    "accounts": {
      "resources": {
        "quotas": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists the daily call quota and usage per group for your Merchant Center account.",
              "parameters": {
                "parent": {
                  "description": "Required. The merchant account who owns the collection of method quotas Format: accounts/{account}",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "flatPath": "quota/v1/accounts/{accountsId}/quotas",
              "id": "merchantapi.accounts.quotas.list",
              "path": "quota/v1/{+parent}/quotas"
            }
          }
        },
        "limits": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAccountLimitsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent account. Format: `accounts/{account}`"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of limits to return. The service may return fewer than this value. If unspecified, at most 100 limits will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Required. A filter on the limit `type` is required, for example, `type = \"products\"`.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccountLimits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLimits` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists the limits of an account.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.limits.list",
              "path": "quota/v1/{+parent}/limits",
              "flatPath": "quota/v1/accounts/{accountsId}/limits"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves an account limit.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the limit to retrieve. Format: `accounts/{account}/limits/{limit}` For example: `accounts/123/limits/products~ADS_NON_EEA`",
                  "pattern": "^accounts/[^/]+/limits/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AccountLimit"
              },
              "flatPath": "quota/v1/accounts/{accountsId}/limits/{limitsId}",
              "id": "merchantapi.accounts.limits.get",
              "path": "quota/v1/{+name}"
            }
          }
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "revision": "20260303",
  "servicePath": "",
  "version": "quota_v1",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "title": "Merchant API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "name": "merchantapi",
  "schemas": {
    "QuotaGroup": {
      "id": "QuotaGroup",
      "description": "The group information for methods in the Merchant API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "type": "object",
      "properties": {
        "quotaUsage": {
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at at 12:00 PM midday UTC.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "quotaMinuteLimit": {
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "methodDetails": {
          "description": "Output only. List of all methods group quota applies to.",
          "items": {
            "$ref": "MethodDetails"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Note: There is no guarantee on the format of {group}"
        },
        "quotaLimit": {
          "format": "int64",
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ProductChange": {
      "type": "object",
      "properties": {
        "oldValue": {
          "type": "string",
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ]
        }
      },
      "id": "ProductChange",
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
    },
    "MethodDetails": {
      "type": "object",
      "properties": {
        "method": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the method for example `products.list`."
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path for the method such as `products/v1/productInputs.insert`"
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API version that the method belongs to."
        },
        "subapi": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The sub-API that the method belongs to."
        }
      },
      "id": "MethodDetails",
      "description": "The method details per method in the Merchant API."
    },
    "ListQuotaGroupsResponse": {
      "type": "object",
      "properties": {
        "quotaGroups": {
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          },
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListQuotaGroupsResponse",
      "description": "Response message for the ListMethodGroups method."
    },
    "ProductStatusChangeMessage": {
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "The resource that changed, in this case it will always be `Product`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT"
          ]
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "attribute": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`."
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          },
          "type": "array"
        },
        "resource": {
          "type": "string",
          "description": "The product name. Format: `accounts/{account}/products/{product}`"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
        },
        "account": {
          "type": "string",
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime"
        }
      },
      "id": "ProductStatusChangeMessage",
      "description": "The message that the merchant will receive to notify about product status change event"
    },
    "AccountLimit": {
      "type": "object",
      "properties": {
        "products": {
          "description": "The limit for products.",
          "$ref": "ProductLimit"
        },
        "name": {
          "description": "Identifier. The limit part of the name will be a combination of the type and the scope. For example: `accounts/123/limits/products~ADS_NON_EEA` Format: `accounts/{account}/limits/{limit}`",
          "type": "string"
        }
      },
      "id": "AccountLimit",
      "description": "A limit of a certain type that is applied to an account."
    },
    "ProductLimit": {
      "id": "ProductLimit",
      "description": "The limit for products.",
      "type": "object",
      "properties": {
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Limit for products in non-EEA countries.",
            "Limit for products in EEA countries."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "ADS_NON_EEA",
            "ADS_EEA"
          ],
          "description": "Required. The scope of the product limit."
        },
        "limit": {
          "type": "string",
          "description": "Required. The maximum number of products that are allowed in the account in the given scope.",
          "format": "int64"
        }
      }
    },
    "ListAccountLimitsResponse": {
      "type": "object",
      "properties": {
        "accountLimits": {
          "items": {
            "$ref": "AccountLimit"
          },
          "type": "array",
          "description": "The limits for the given account."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAccountLimitsResponse",
      "description": "Response message for the `ListAccountLimits` method."
    }
  },
  "version_module": true,
  "ownerName": "Google",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/merchant/api"
}