{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260310",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/merchant/api",
  "servicePath": "",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "name": "merchantapi",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "version_module": true,
  "description": "Programmatically manage your Merchant Center Accounts.",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ListProductReviewsResponse": {
      "type": "object",
      "id": "ListProductReviewsResponse",
      "properties": {
        "productReviews": {
          "description": "The product review.",
          "items": {
            "$ref": "ProductReview"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "response message for the ListProductReviews method."
    },
    "ListMerchantReviewsResponse": {
      "description": "Response message for the `ListMerchantsReview` method.",
      "id": "ListMerchantReviewsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of results."
        },
        "merchantReviews": {
          "items": {
            "$ref": "MerchantReview"
          },
          "description": "The merchant review.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "MerchantReviewAttributes": {
      "description": "Attributes.",
      "id": "MerchantReviewAttributes",
      "properties": {
        "merchantId": {
          "type": "string",
          "description": "Required. Must be unique and stable across all requests. In other words, if a request today and another 90 days ago refer to the same merchant, they must have the same id."
        },
        "maxRating": {
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min rating.",
          "type": "string",
          "format": "int64"
        },
        "reviewerUsername": {
          "type": "string",
          "description": "Optional. Display name of the review author."
        },
        "isAnonymous": {
          "type": "boolean",
          "description": "Optional. Set to true if the reviewer should remain anonymous."
        },
        "reviewTime": {
          "description": "Required. The timestamp indicating when the review was written.",
          "type": "string",
          "format": "google-datetime"
        },
        "reviewCountry": {
          "type": "string",
          "description": "Optional. The country where the reviewer made the order defined by ISO 3166-1 Alpha-2 Country Code."
        },
        "merchantDisplayName": {
          "description": "Optional. Human-readable display name for the merchant.",
          "type": "string"
        },
        "merchantLink": {
          "description": "Optional. URL to the merchant's main website. Do not use a redirect URL for this value. In other words, the value should point directly to the merchant's site.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "minRating": {
          "description": "Optional. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "type": "string",
          "format": "int64"
        },
        "content": {
          "type": "string",
          "description": "Required. This should be any freeform text provided by the user and should not be truncated. If multiple responses to different questions are provided, all responses should be included, with the minimal context for the responses to make sense. Context should not be provided if questions were left unanswered."
        },
        "reviewerId": {
          "description": "Optional. A permanent, unique identifier for the author of the review in the publisher's system.",
          "type": "string"
        },
        "merchantRatingLink": {
          "description": "Optional. URL to the landing page that hosts the reviews for this merchant. Do not use a redirect URL.",
          "type": "string"
        },
        "rating": {
          "description": "Optional. The reviewer's overall rating of the merchant.",
          "type": "number",
          "format": "double"
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        },
        "collectionMethod": {
          "type": "string",
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation when the user placed an order.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "MERCHANT_UNSOLICITED",
            "POINT_OF_SALE",
            "AFTER_FULFILLMENT"
          ],
          "description": "Optional. The method used to collect the review."
        }
      },
      "type": "object"
    },
    "CustomAttribute": {
      "id": "CustomAttribute",
      "properties": {
        "groupValues": {
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute."
        }
      },
      "type": "object",
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty."
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT"
          ]
        },
        "attribute": {
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string"
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          },
          "type": "array"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "managingAccount": {
          "type": "string",
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
        },
        "expirationTime": {
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "The message that the merchant will receive to notify about product status change event"
    },
    "ProductReview": {
      "description": "A review for a product. For more information, see [Introduction to Product Review Feeds](https://developers.google.com/product-review-feeds)",
      "id": "ProductReview",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the product review. Format: `\"{productreview.name=accounts/{account}/productReviews/{productReview}}\"`"
        },
        "productReviewAttributes": {
          "$ref": "ProductReviewAttributes",
          "description": "Optional. A list of product review attributes."
        },
        "productReviewStatus": {
          "readOnly": true,
          "$ref": "ProductReviewStatus",
          "description": "Output only. The status of a product review, data validation issues, that is, information about a product review computed asynchronously."
        },
        "dataSource": {
          "description": "Output only. The primary data source of the product review.",
          "readOnly": true,
          "type": "string"
        },
        "customAttributes": {
          "description": "Optional. A list of custom (merchant-provided) attributes.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "productReviewId": {
          "type": "string",
          "description": "Required. The permanent, unique identifier for the product review in the publisher’s system."
        }
      },
      "type": "object"
    },
    "ProductReviewStatus": {
      "id": "ProductReviewStatus",
      "properties": {
        "createTime": {
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "ProductReviewDestinationStatus"
          },
          "description": "Output only. The intended destinations for the product review.",
          "readOnly": true,
          "type": "array"
        },
        "itemLevelIssues": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of all issues associated with the product review.",
          "items": {
            "$ref": "ProductReviewItemLevelIssue"
          }
        },
        "lastUpdateTime": {
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Product review status."
    },
    "ProductReviewDestinationStatus": {
      "type": "object",
      "id": "ProductReviewDestinationStatus",
      "properties": {
        "reportingContext": {
          "description": "Output only. The name of the reporting context.",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The destination status of the product review status."
    },
    "ReviewLink": {
      "description": "The URI of the review landing page.",
      "id": "ReviewLink",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "The review page contains only this single review.",
            "The review page contains a group of reviews including this review."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SINGLETON",
            "GROUP"
          ],
          "description": "Optional. Type of the review URI."
        },
        "link": {
          "description": "Optional. The URI of the review landing page. For example: `http://www.example.com/review_5.html`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductReviewItemLevelIssue": {
      "description": "The ItemLevelIssue of the product review status.",
      "id": "ProductReviewItemLevelIssue",
      "properties": {
        "description": {
          "description": "Output only. A short issue description in English.",
          "readOnly": true,
          "type": "string"
        },
        "resolution": {
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "readOnly": true,
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product review.",
            "Issue disapproves the product review."
          ],
          "description": "Output only. How this issue affects serving of the product review.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "Output only. The reporting context the issue applies to.",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ]
        },
        "attribute": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute."
        },
        "code": {
          "description": "Output only. The error code of the issue.",
          "readOnly": true,
          "type": "string"
        },
        "detail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A detailed issue description in English."
        },
        "documentation": {
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "MerchantReviewItemLevelIssue": {
      "description": "The ItemLevelIssue of the merchant review status.",
      "type": "object",
      "id": "MerchantReviewItemLevelIssue",
      "properties": {
        "attribute": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute."
        },
        "code": {
          "description": "Output only. The error code of the issue.",
          "readOnly": true,
          "type": "string"
        },
        "detail": {
          "description": "Output only. A detailed issue description in English.",
          "readOnly": true,
          "type": "string"
        },
        "documentation": {
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true,
          "type": "string"
        },
        "reportingContext": {
          "description": "Output only. The reporting context the issue applies to.",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "readOnly": true,
          "type": "string"
        },
        "resolution": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether the issue can be resolved by the merchant."
        },
        "severity": {
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the merchant review.",
            "Issue disapproves the merchant review."
          ],
          "description": "Output only. How this issue affects serving of the merchant review.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. A short issue description in English.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ProductReviewAttributes": {
      "description": "Attributes.",
      "id": "ProductReviewAttributes",
      "properties": {
        "skus": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains SKUs (stock keeping units) associated with a product. Often this matches the product Offer Id in the product feed.",
          "type": "array"
        },
        "isIncentivizedReview": {
          "description": "Optional. Indicates whether the review is incentivized.",
          "type": "boolean"
        },
        "brands": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains brand names associated with a product."
        },
        "isSpam": {
          "type": "boolean",
          "description": "Optional. Indicates whether the review is marked as spam in the publisher's system."
        },
        "maxRating": {
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min attribute.",
          "type": "string",
          "format": "int64"
        },
        "reviewTime": {
          "description": "Required. The timestamp indicating when the review was written.",
          "type": "string",
          "format": "google-datetime"
        },
        "mpns": {
          "description": "Optional. Contains MPNs (manufacturer part numbers) associated with a product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reviewerId": {
          "description": "Optional. The author of the product review. A permanent, unique identifier for the author of the review in the publisher's system.",
          "type": "string"
        },
        "content": {
          "description": "Optional. The content of the review. If empty, the content might still get populated from pros and cons.",
          "type": "string"
        },
        "publisherFavicon": {
          "description": "Optional. A link to the company favicon of the publisher. The image dimensions should be favicon size: 16x16 pixels. The image format should be GIF, JPG or PNG.",
          "type": "string"
        },
        "rating": {
          "type": "number",
          "format": "double",
          "description": "Optional. The reviewer's overall rating of the product."
        },
        "reviewLink": {
          "description": "Optional. The URI of the review landing page.",
          "$ref": "ReviewLink"
        },
        "reviewerIsAnonymous": {
          "description": "Optional. Set to true if the reviewer should remain anonymous.",
          "type": "boolean"
        },
        "transactionId": {
          "description": "Optional. A permanent, unique identifier for the transaction associated with the review in the publisher's system. This ID can be used to indicate that multiple reviews are associated with the same transaction.",
          "type": "string"
        },
        "reviewerImageLinks": {
          "description": "Optional. A URI to an image of the reviewed product created by the review author. The URI does not have to end with an image file extension.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "aggregatorName": {
          "description": "Optional. The name of the aggregator of the product reviews. A publisher may use a reviews aggregator to manage reviews and provide the feeds. This element indicates the use of an aggregator and contains information about the aggregator.",
          "type": "string"
        },
        "subclientName": {
          "description": "Optional. The name of the subclient of the product reviews. The subclient is an identifier of the product review source. It should be equivalent to the directory provided in the file data source path.",
          "type": "string"
        },
        "cons": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains the disadvantages based on the opinion of the reviewer. Omit boilerplate text like \"con:\" unless it was written by the reviewer."
        },
        "pros": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains the advantages based on the opinion of the reviewer. Omit boilerplate text like \"pro:\" unless it was written by the reviewer.",
          "type": "array"
        },
        "reviewCountry": {
          "description": "Optional. The country of the review defined by ISO 3166-1 Alpha-2 Country Code.",
          "type": "string"
        },
        "reviewerUsername": {
          "description": "Optional. The name of the reviewer of the product review.",
          "type": "string"
        },
        "asins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains ASINs (Amazon Standard Identification Numbers) associated with a product.",
          "type": "array"
        },
        "productNames": {
          "type": "array",
          "description": "Optional. Descriptive name of a product.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "productLinks": {
          "description": "Optional. The URI of the product. This URI can have the same value as the `review_link` element, if the review URI and the product URI are the same.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "gtins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains GTINs (global trade item numbers) associated with a product. Sub-types of GTINs (e.g. UPC, EAN, ISBN, JAN) are supported."
        },
        "minRating": {
          "description": "Optional. Contains the ratings associated with the review. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "type": "string",
          "format": "int64"
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        },
        "isVerifiedPurchase": {
          "type": "boolean",
          "description": "Optional. Indicates whether the reviewer's purchase is verified."
        },
        "publisherName": {
          "description": "Optional. The name of the publisher of the product reviews. The information about the publisher, which may be a retailer, manufacturer, reviews service company, or any entity that publishes product reviews.",
          "type": "string"
        },
        "collectionMethod": {
          "type": "string",
          "description": "Optional. The method used to collect the review.",
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "UNSOLICITED",
            "POST_FULFILLMENT"
          ]
        }
      },
      "type": "object"
    },
    "MerchantReviewDestinationStatus": {
      "description": "The destination status of the merchant review status.",
      "id": "MerchantReviewDestinationStatus",
      "properties": {
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "readOnly": true,
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "description": "Output only. The name of the reporting context."
        }
      },
      "type": "object"
    },
    "ProductChange": {
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "type": "object",
      "id": "ProductChange",
      "properties": {
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        },
        "reportingContext": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
        }
      }
    },
    "MerchantReviewStatus": {
      "type": "object",
      "id": "MerchantReviewStatus",
      "properties": {
        "destinationStatuses": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The intended destinations for the merchant review.",
          "items": {
            "$ref": "MerchantReviewDestinationStatus"
          }
        },
        "itemLevelIssues": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of all issues associated with the merchant review.",
          "items": {
            "$ref": "MerchantReviewItemLevelIssue"
          }
        },
        "lastUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        }
      },
      "description": "The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously."
    },
    "MerchantReview": {
      "description": "A review for a merchant. For more information, see [Introduction to Merchant Review Feeds](https://developers.google.com/merchant-review-feeds)",
      "id": "MerchantReview",
      "properties": {
        "merchantReviewId": {
          "type": "string",
          "description": "Required. The user provided merchant review ID to uniquely identify the merchant review."
        },
        "customAttributes": {
          "type": "array",
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as experimental attributes. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "dataSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The primary data source of the merchant review."
        },
        "merchantReviewStatus": {
          "description": "Output only. The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously.",
          "$ref": "MerchantReviewStatus",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the merchant review. Format: `\"{merchantreview.name=accounts/{account}/merchantReviews/{merchantReview}}\"`"
        },
        "merchantReviewAttributes": {
          "description": "Optional. A list of merchant review attributes.",
          "$ref": "MerchantReviewAttributes"
        }
      },
      "type": "object"
    }
  },
  "ownerName": "Google",
  "canonicalName": "Merchant",
  "ownerDomain": "google.com",
  "title": "Merchant API",
  "version": "reviews_v1beta",
  "protocol": "rest",
  "resources": {
    "accounts": {
      "resources": {
        "productReviews": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/productReviews/{productReview}"
                }
              },
              "path": "reviews/v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a product review.",
              "id": "merchantapi.accounts.productReviews.get",
              "response": {
                "$ref": "ProductReview"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListProductReviewsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.productReviews.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists product reviews.",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews",
              "path": "reviews/v1beta/{+parent}/productReviews",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListProductReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductReviews` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The account to list product reviews for. Format: accounts/{account}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value."
                }
              }
            },
            "insert": {
              "response": {
                "$ref": "ProductReview"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.productReviews.insert",
              "request": {
                "$ref": "ProductReview"
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews:insert",
              "parameterOrder": [
                "parent"
              ],
              "description": "Inserts a product review.",
              "parameters": {
                "parent": {
                  "description": "Required. The account where the product review will be inserted. Format: accounts/{account}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "dataSource": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Format: `accounts/{account}/dataSources/{datasource}`."
                }
              },
              "httpMethod": "POST",
              "path": "reviews/v1beta/{+parent}/productReviews:insert"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a product review.",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "httpMethod": "DELETE",
              "path": "reviews/v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the Product review. Format: accounts/{account}/productReviews/{productReview}",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.productReviews.delete"
            }
          }
        },
        "merchantReviews": {
          "methods": {
            "delete": {
              "id": "merchantapi.accounts.merchantReviews.delete",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "path": "reviews/v1beta/{+name}",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes merchant review."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a merchant review.",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "path": "reviews/v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$"
                }
              },
              "response": {
                "$ref": "MerchantReview"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.merchantReviews.get"
            },
            "list": {
              "id": "merchantapi.accounts.merchantReviews.list",
              "response": {
                "$ref": "ListMerchantReviewsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListMerchantReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMerchantReviews` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The account to list merchant reviews for. Format: accounts/{account}"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of merchant reviews to return. The service can return fewer than this value. The maximum value is 1000; values above 1000 are coerced to 1000. If unspecified, the maximum number of reviews is returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "reviews/v1beta/{+parent}/merchantReviews",
              "httpMethod": "GET",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists merchant reviews."
            },
            "insert": {
              "id": "merchantapi.accounts.merchantReviews.insert",
              "request": {
                "$ref": "MerchantReview"
              },
              "response": {
                "$ref": "MerchantReview"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "path": "reviews/v1beta/{+parent}/merchantReviews:insert",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The account where the merchant review will be inserted. Format: accounts/{account}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "dataSource": {
                  "description": "Required. The data source of the [merchantreview](https://support.google.com/merchants/answer/7045996?sjid=5253581244217581976-EU) Format: `accounts/{account}/dataSources/{datasource}`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Inserts a review for your Merchant Center account. If the review already exists, then the review is replaced with the new instance.",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews:insert"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://merchantapi.googleapis.com/",
  "basePath": "",
  "id": "merchantapi:reviews_v1beta",
  "kind": "discovery#restDescription"
}