{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Merchant",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "revision": "20260414",
  "schemas": {
    "DeveloperRegistration": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The `name` (ID) of the developer registration. Generated upon creation of a new `DeveloperRegistration`. The `account` represents the merchant ID of the merchant that owns the registration.",
          "type": "string"
        },
        "gcpIds": {
          "description": "Output only. The GCP ids attached to this developer registration",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents a developer registration owned by a Merchant account.",
      "id": "DeveloperRegistration"
    },
    "OmnichannelSetting": {
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. Immutable. Region code defined by [CLDR](https://cldr.unicode.org/). Must be provided in the Create method, and is immutable.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
          "type": "string"
        },
        "lfpLink": {
          "description": "Output only. The established link to a LFP provider.",
          "readOnly": true,
          "$ref": "LfpLink"
        },
        "lsfType": {
          "description": "Required. The Local Store Front type for this country.",
          "type": "string",
          "enum": [
            "LSF_TYPE_UNSPECIFIED",
            "GHLSF",
            "MHLSF_BASIC",
            "MHLSF_FULL"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google-Hosted Local Store Front. Check the [HC article](https://support.google.com/merchants/answer/14869424) for more details.",
            "Merchant-Hosted Local Store Front Basic. Check the [HC article](https://support.google.com/merchants/answer/14615867) for more details.",
            "Merchant-Hosted Local Store Front Full. Check the [HC article](https://support.google.com/merchants/answer/14617076) for more details."
          ]
        },
        "odo": {
          "description": "Optional. The On Display to Order (ODO) policy URI and state for this country.",
          "$ref": "OnDisplayToOrder"
        },
        "inStock": {
          "description": "Optional. The InStock URI and state for this country.",
          "$ref": "InStock"
        },
        "pickup": {
          "description": "Optional. The Pickup URI and state for this country.",
          "$ref": "Pickup"
        },
        "inventoryVerification": {
          "description": "Optional. The inventory verification contact and state for this country.",
          "$ref": "InventoryVerification"
        },
        "about": {
          "description": "Optional. The about page URI and state for this country.",
          "$ref": "About"
        }
      },
      "description": "Collection of information related to the omnichannel settings of a merchant.",
      "id": "OmnichannelSetting"
    },
    "EnableProgramRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for the EnableProgram method.",
      "id": "EnableProgramRequest"
    },
    "Headers": {
      "description": "A non-empty list of row or column headers for a table. Exactly one of `prices`, `weights`, `num_items`, `postal_code_group_names`, or `location` must be set.",
      "id": "Headers",
      "type": "object",
      "properties": {
        "weights": {
          "description": "Required. A list of inclusive order weight upper bounds. The last weight's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"unit\": \"kg\"}, {\"amount_micros\": 50000000, \"unit\": \"kg\"}, {\"amount_micros\": -1, \"unit\": \"kg\"}]` represents the headers \"<= 10kg\", \"<= 50kg\", and \"> 50kg\". All weights within a service must have the same unit. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set.",
          "items": {
            "$ref": "Weight"
          },
          "type": "array"
        },
        "locations": {
          "items": {
            "$ref": "LocationIdSet"
          },
          "description": "Required. A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array"
        },
        "numberOfItems": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of inclusive number of items upper bounds. The last value can be `\"infinity\"`. For example `[\"10\", \"50\", \"infinity\"]` represents the headers \"<= 10 items\", \"<= 50 items\", and \"> 50 items\". Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array"
        },
        "prices": {
          "type": "array",
          "items": {
            "$ref": "Price"
          },
          "description": "Required. A list of inclusive order price upper bounds. The last price's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"currency_code\": \"USD\"}, {\"amount_micros\": 500000000, \"currency_code\": \"USD\"}, {\"amount_micros\": -1, \"currency_code\": \"USD\"}]` represents the headers \"<= $10\", \"<= $500\", and \"> $500\". All prices within a service must have the same currency. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set."
        },
        "postalCodeGroupNames": {
          "description": "Required. A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CutoffTime": {
      "id": "CutoffTime",
      "description": "Business days cutoff time definition.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Required. [Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example \"Europe/Zurich\".",
          "type": "string"
        },
        "hour": {
          "type": "integer",
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day.",
          "format": "int32"
        },
        "minute": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day."
        }
      }
    },
    "Policy": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Policy type.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The number of days within which a return is valid after delivery.",
            "No returns.",
            "Life time returns."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ]
        },
        "days": {
          "type": "string",
          "format": "int64",
          "description": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns."
        }
      },
      "id": "Policy",
      "description": "The available policies."
    },
    "Region": {
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes, radius areas or, in some countries, using predefined geotargets. A region must be defined by specifying exactly one of `postal_code_area`, `geotarget_area`, or `radius_area`. For more information, see [Set up regions ](https://support.google.com/merchants/answer/7410946#zippy=%2Ccreate-a-new-region) for more information.",
      "id": "Region",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. The display name of the region.",
          "type": "string"
        },
        "radiusArea": {
          "description": "Optional. A radius area that defines the region area.",
          "$ref": "RadiusArea"
        },
        "geotargetArea": {
          "description": "Optional. A list of geotargets that defines the region area.",
          "$ref": "GeoTargetArea"
        },
        "shippingEligible": {
          "type": "boolean",
          "description": "Output only. Indicates if the region is eligible for use in the Shipping Services configuration.",
          "readOnly": true
        },
        "postalCodeArea": {
          "description": "Optional. A list of postal codes that defines the region area.",
          "$ref": "PostalCodeArea"
        },
        "regionalInventoryEligible": {
          "description": "Output only. Indicates if the region is eligible for use in the Regional Inventory configuration.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
          "type": "string"
        }
      }
    },
    "ReturnShippingFee": {
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost.",
      "id": "ReturnShippingFee",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customers will pay the actual return shipping fee."
          ],
          "description": "Required. Type of return shipping fee."
        },
        "fixedFee": {
          "description": "Fixed return shipping fee amount. This value is only applicable when type is `FIXED`. We will treat the return shipping fee as free if type is `FIXED` and this value is not set.",
          "$ref": "Price"
        }
      }
    },
    "CheckoutSettings": {
      "description": "[CheckoutSettings](https://support.google.com/merchants/answer/13945960) for a specific merchant.",
      "id": "CheckoutSettings",
      "type": "object",
      "properties": {
        "effectiveEnrollmentState": {
          "description": "Output only. The effective value of enrollment_state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "readOnly": true,
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
          "type": "string"
        },
        "uriSettings": {
          "description": "URI settings for cart or checkout URL.",
          "$ref": "UriSettings"
        },
        "eligibleDestinations": {
          "type": "array",
          "description": "Optional. Required for the create operation. The destinations (also known as [Marketing methods](https://support.google.com/merchants/answer/15130232)) to which the checkout program applies. Valid destination values are `SHOPPING_ADS` and `FREE_LISTINGS`.",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail)."
            ],
            "type": "string",
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL"
            ]
          }
        },
        "effectiveUriSettings": {
          "description": "Output only. The effective value of `uri_settings` for a given merchant. If account level settings are present then this value will be a copy of url settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "readOnly": true,
          "$ref": "UriSettings"
        },
        "enrollmentState": {
          "type": "string",
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` program.",
          "readOnly": true,
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ]
        },
        "effectiveReviewState": {
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. The effective value of `review_state` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "readOnly": true,
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "type": "string"
        },
        "reviewState": {
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "type": "string",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. Reflects the merchant review state in `Checkout` program. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an `enrollment_state` of `ENROLLED` before a review can begin for the merchant.For more details, check the help center doc.",
          "readOnly": true
        }
      }
    },
    "RadiusArea": {
      "id": "RadiusArea",
      "description": "A radius area that defines the region area.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to.",
          "type": "string"
        },
        "radiusUnits": {
          "type": "string",
          "enum": [
            "RADIUS_UNITS_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ],
          "enumDescriptions": [
            "Unused default value",
            "The distance is measured in miles.",
            "The distance is measured in kilometers."
          ],
          "description": "Optional. The unit of the radius."
        },
        "latLng": {
          "description": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format.",
          "$ref": "LatLng"
        },
        "radius": {
          "type": "number",
          "description": "Required. The radius distance of the area.",
          "format": "double"
        }
      }
    },
    "TransitTimeRow": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "Required. Transit time range (min-max) in business days.",
          "items": {
            "$ref": "TransitTimeValue"
          }
        }
      },
      "description": "If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
      "id": "TransitTimeRow"
    },
    "ShortCode": {
      "description": "An object representing a short code, which is a phone number that is typically much shorter than regular phone numbers and can be used to address messages in MMS and SMS systems, as well as for abbreviated dialing (For example \"Text 611 to see how many minutes you have remaining on your plan.\"). Short codes are restricted to a region and are not internationally dialable, which means the same short code can exist in different regions, with different usage and pricing, even if those regions share the same country calling code (For example: US and CA).",
      "id": "ShortCode",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. The BCP-47 region code of the location where calls to this short code can be made, such as \"US\" and \"BB\". Reference(s): - http://www.unicode.org/reports/tr35/#unicode_region_subtag",
          "type": "string"
        },
        "number": {
          "description": "Required. The short code digits, without a leading plus ('+') or country calling code. For example \"611\".",
          "type": "string"
        }
      }
    },
    "Impact": {
      "description": "The impact of the issue on a region.",
      "id": "Impact",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "The [CLDR region code](https://cldr.unicode.org/) where this issue applies.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the issue on the destination and region.",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ]
        }
      }
    },
    "AutomaticImageImprovements": {
      "type": "object",
      "properties": {
        "accountImageImprovementsSettings": {
          "description": "Optional. Determines how the images should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "ImageImprovementsAccountLevelSettings"
        },
        "effectiveAllowAutomaticImageImprovements": {
          "description": "Output only. The effective value of allow_automatic_image_improvements. If account_image_improvements_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973)",
      "id": "AutomaticImageImprovements"
    },
    "Accepted": {
      "description": "Describes the [accepted terms of service](https://developers.google.com/merchant/api/guides/accounts/create-and-configure#accept_the_merchant_center_terms_of_service).",
      "id": "Accepted",
      "type": "object",
      "properties": {
        "termsOfService": {
          "description": "Required. The accepted termsOfService.",
          "type": "string"
        },
        "acceptedBy": {
          "description": "Required. The account where the acceptance was recorded. This can be the account itself or, in the case of subaccounts, the advanced account.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. When set, it states that the accepted `TermsOfService` is only valid until the end of this date (in UTC). A new one must be accepted before then. The information of the required `TermsOfService` is found in the `Required` message.",
          "$ref": "Date"
        }
      }
    },
    "CustomerService": {
      "id": "CustomerService",
      "description": "Customer service information.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The URI where customer service may be found.",
          "type": "string"
        },
        "email": {
          "description": "Optional. The email address where customer service may be reached.",
          "type": "string"
        },
        "phone": {
          "description": "Optional. The phone number where customer service may be called.",
          "$ref": "PhoneNumber"
        }
      }
    },
    "Service": {
      "type": "object",
      "properties": {
        "active": {
          "description": "Required. A boolean exposing the active status of the shipping service.",
          "type": "boolean"
        },
        "deliveryCountries": {
          "type": "array",
          "description": "Required. The CLDR territory code of the countries to which the service applies.",
          "items": {
            "type": "string"
          }
        },
        "minimumOrderValueTable": {
          "description": "Optional. Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with `minimum_order_value`.",
          "$ref": "MinimumOrderValueTable"
        },
        "minimumOrderValue": {
          "description": "Optional. Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with `minimum_order_value_table`.",
          "$ref": "Price"
        },
        "rateGroups": {
          "description": "Optional. Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap.",
          "items": {
            "$ref": "RateGroup"
          },
          "type": "array"
        },
        "storeConfig": {
          "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
          "$ref": "StoreConfig"
        },
        "currencyCode": {
          "description": "Required. The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups.",
          "type": "string"
        },
        "loyaltyPrograms": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgram"
          },
          "description": "Optional. Loyalty programs that this shipping service is limited to."
        },
        "shipmentType": {
          "description": "Optional. Type of locations this service ships orders to.",
          "type": "string",
          "enum": [
            "SHIPMENT_TYPE_UNSPECIFIED",
            "DELIVERY",
            "LOCAL_DELIVERY",
            "COLLECTION_POINT"
          ],
          "enumDescriptions": [
            "This service did not specify shipment type.",
            "This service ships orders to an address chosen by the customer.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a local store near by.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a collection point."
          ]
        },
        "serviceName": {
          "description": "Required. Free-form name of the service. Must be unique within target account.",
          "type": "string"
        },
        "deliveryTime": {
          "description": "Required. Time spent in various aspects from order to the delivery of the product.",
          "$ref": "DeliveryTime"
        }
      },
      "id": "Service",
      "description": "Shipping service."
    },
    "RejectAccountServiceRequest": {
      "type": "object",
      "properties": {},
      "id": "RejectAccountServiceRequest",
      "description": "Request to reject an account service."
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      }
    },
    "AutomaticImprovements": {
      "description": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account.",
      "id": "AutomaticImprovements",
      "type": "object",
      "properties": {
        "itemUpdates": {
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticItemUpdates"
        },
        "shippingImprovements": {
          "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticShippingImprovements"
        },
        "name": {
          "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
          "type": "string"
        },
        "imageImprovements": {
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticImageImprovements"
        }
      }
    },
    "RequestInventoryVerificationRequest": {
      "id": "RequestInventoryVerificationRequest",
      "description": "Request message for the RequestInventoryVerification method.",
      "type": "object",
      "properties": {}
    },
    "LoyaltyProgramTiers": {
      "type": "object",
      "properties": {
        "tierLabel": {
          "description": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier.",
          "type": "string"
        }
      },
      "id": "LoyaltyProgramTiers",
      "description": "Subset of a business's loyalty program."
    },
    "ListProgramsResponse": {
      "id": "ListProgramsResponse",
      "description": "Response message for the ListPrograms method.",
      "type": "object",
      "properties": {
        "programs": {
          "type": "array",
          "items": {
            "$ref": "Program"
          },
          "description": "The programs for the given account."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "About": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The about page URI.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. The state of the URI.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        }
      },
      "description": "Collection of information related to the about page ([impressum](https://support.google.com/merchants/answer/14675634?ref_topic=15145634&sjid=6892280366904591178-NC)).",
      "id": "About"
    },
    "BusinessDayConfig": {
      "id": "BusinessDayConfig",
      "description": "Business days of the warehouse.",
      "type": "object",
      "properties": {
        "businessDays": {
          "items": {
            "type": "string",
            "enum": [
              "WEEKDAY_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "Required. Regular business days. May not be empty.",
          "type": "array"
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PostalCodeRange": {
      "description": "A range of postal codes that defines the region area.",
      "id": "PostalCodeRange",
      "type": "object",
      "properties": {
        "end": {
          "description": "Optional. A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin.",
          "type": "string"
        },
        "begin": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: `94108`, `9410*`, `9*`.",
          "type": "string"
        }
      }
    },
    "ListRegionsResponse": {
      "id": "ListRegionsResponse",
      "description": "Response message for the `ListRegions` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "regions": {
          "type": "array",
          "items": {
            "$ref": "Region"
          },
          "description": "The regions from the specified business."
        }
      }
    },
    "LoyaltyProgram": {
      "type": "object",
      "properties": {
        "loyaltyProgramTiers": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgramTiers"
          },
          "description": "Optional. Loyalty program tier of this shipping service."
        },
        "programLabel": {
          "description": "This is the loyalty program label set in your loyalty program settings in Merchant Center. This sub-attribute allows Google to map your loyalty program to eligible offers.",
          "type": "string"
        }
      },
      "id": "LoyaltyProgram",
      "description": "[Loyalty program](https://support.google.com/merchants/answer/12922446) provided by a business."
    },
    "UnclaimHomepageRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for the `UnclaimHomepage` method.",
      "id": "UnclaimHomepageRequest"
    },
    "User": {
      "id": "User",
      "description": "The `User` resource represents a user associated with a Merchant Center account. It is used to manage user permissions and access rights within the account. For more information, see [Frequently asked questions about people and access levels](//support.google.com/merchants/answer/12160472).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
          "type": "string"
        },
        "accessRights": {
          "description": "Required. The [access rights](https://support.google.com/merchants/answer/12160472?sjid=6789834943175119429-EU#accesstypes) the user has.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Standard access rights.",
              "Has access to the same read-only methods as STANDARD, but no access to any mutating methods.",
              "Admin access rights.",
              "Users with this right have access to performance and insights.",
              "Users with this right have access to Merchant API and its notifications. This role is only accessible to accounts that have a developer registration."
            ],
            "type": "string",
            "enum": [
              "ACCESS_RIGHT_UNSPECIFIED",
              "STANDARD",
              "READ_ONLY",
              "ADMIN",
              "PERFORMANCE_REPORTING",
              "API_DEVELOPER"
            ]
          },
          "type": "array"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The user is pending confirmation. In this state, the user first needs to accept the invitation before performing other actions.",
            "The user is verified."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "description": "Output only. The state of the user.",
          "readOnly": true
        }
      }
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "description": "Response message for the `ListUsers` method.",
      "type": "object",
      "properties": {
        "users": {
          "items": {
            "$ref": "User"
          },
          "description": "The users from the specified account.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ProductChange": {
      "type": "object",
      "properties": {
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        },
        "reportingContext": {
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "type": "string"
        },
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "id": "ProductChange"
    },
    "BusinessInfo": {
      "id": "BusinessInfo",
      "description": "The `BusinessInfo` message contains essential information about a business. This message captures key business details such as physical address, customer service contacts, and region-specific identifiers.",
      "type": "object",
      "properties": {
        "address": {
          "description": "Optional. The address of the business. Only `region_code`, `address_lines`, `postal_code`, `administrative_area` and `locality` fields are supported. All other fields are ignored.",
          "$ref": "PostalAddress"
        },
        "phone": {
          "description": "Output only. The phone number of the business.",
          "readOnly": true,
          "$ref": "PhoneNumber"
        },
        "customerService": {
          "description": "Optional. The customer service of the business.",
          "$ref": "CustomerService"
        },
        "name": {
          "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
          "type": "string"
        },
        "phoneVerificationState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The phone is verified.",
            "The phone is unverified."
          ],
          "description": "Output only. The phone verification state of the business.",
          "readOnly": true,
          "enum": [
            "PHONE_VERIFICATION_STATE_UNSPECIFIED",
            "PHONE_VERIFICATION_STATE_VERIFIED",
            "PHONE_VERIFICATION_STATE_UNVERIFIED"
          ]
        },
        "koreanBusinessRegistrationNumber": {
          "description": "Optional. The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX.",
          "type": "string"
        }
      }
    },
    "Program": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The account is not eligible to participate in the program.",
            "The account is eligible to participate in the program.",
            "The program is enabled for the account."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_ELIGIBLE",
            "ELIGIBLE",
            "ENABLED"
          ],
          "description": "Output only. The participation state of the account in the program.",
          "readOnly": true
        },
        "unmetRequirements": {
          "items": {
            "$ref": "Requirement"
          },
          "description": "Output only. The requirements that the account has not yet satisfied that are affecting participation in the program.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of the program. Format: `accounts/{account}/programs/{program}`",
          "type": "string"
        },
        "documentationUri": {
          "type": "string",
          "description": "Output only. The URL of a Merchant Center help page describing the program.",
          "readOnly": true
        },
        "activeRegionCodes": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The regions in which the account is actively participating in the program. Active regions are defined as those where all program requirements affecting the regions have been met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "Program",
      "description": "Defines participation in a given program for the specified account. Programs provide a mechanism for adding functionality to a Merchant Center accounts. A typical example of this is the [Free product listings](https://support.google.com/merchants/answer/13889434) program, which enables products from a business's store to be shown across Google for free. The following list is the available set of program resource IDs accessible through the API: * `checkout` * `free-listings` * `product-ratings` * `shopping-ads` * `youtube-shopping-checkout`"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "IdentityAttribute": {
      "id": "IdentityAttribute",
      "description": "All information related to an identity attribute.",
      "type": "object",
      "properties": {
        "identityDeclaration": {
          "description": "Required. The declaration of identity for this attribute.",
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account identifies with the attribute.",
            "Indicates that the account does not identify with the attribute."
          ],
          "type": "string",
          "enum": [
            "IDENTITY_DECLARATION_UNSPECIFIED",
            "SELF_IDENTIFIES_AS",
            "DOES_NOT_SELF_IDENTIFY_AS"
          ]
        }
      }
    },
    "Row": {
      "id": "Row",
      "description": "Include a list of cells.",
      "type": "object",
      "properties": {
        "cells": {
          "description": "Required. The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      }
    },
    "Address": {
      "id": "Address",
      "description": "Shipping address of the warehouse.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. [CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (For example \"US\").",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        },
        "postalCode": {
          "description": "Required. Postal code or ZIP (For example \"94043\").",
          "type": "string"
        },
        "streetAddress": {
          "description": "Street-level part of the address. For example: `111w 31st Street`.",
          "type": "string"
        },
        "city": {
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (For example neighborhoods or suburbs).",
          "type": "string"
        }
      }
    },
    "AutomaticItemUpdates": {
      "type": "object",
      "properties": {
        "effectiveAllowStrictAvailabilityUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true
        },
        "effectiveAllowPriceUpdates": {
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true,
          "type": "boolean"
        },
        "accountItemUpdatesSettings": {
          "description": "Optional. Determines which attributes of the items should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "ItemUpdatesAccountLevelSettings"
        },
        "effectiveAllowAvailabilityUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true
        },
        "effectiveAllowConditionUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true
        }
      },
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "id": "AutomaticItemUpdates"
    },
    "ListOmnichannelSettingsResponse": {
      "type": "object",
      "properties": {
        "omnichannelSettings": {
          "items": {
            "$ref": "OmnichannelSetting"
          },
          "description": "The omnichannel settings from the specified merchant.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListOmnichannelSettingsResponse",
      "description": "Response message for the ListOmnichannelSettings method."
    },
    "AccountService": {
      "type": "object",
      "properties": {
        "providerDisplayName": {
          "description": "Output only. The human-readable display name of the provider account.",
          "readOnly": true,
          "type": "string"
        },
        "accountAggregation": {
          "description": "Service type for account aggregation. This enables the provider, which is an advanced account, to manage multiple sub-accounts (client accounts). Through this service, the advanced account provider can perform administrative and operational tasks across all linked sub-accounts. This is useful for agencies, aggregators, or large retailers that need centralized control over many Merchant Center accounts.",
          "$ref": "AccountAggregation"
        },
        "handshake": {
          "description": "Output only. Information about the state of the service in terms of establishing it (e.g. is it pending approval or approved).",
          "readOnly": true,
          "$ref": "Handshake"
        },
        "campaignsManagement": {
          "description": "Service type for managing advertising campaigns. Grants the provider access to create and manage the business's ad campaigns, including setting up campaigns, adjusting bids, and optimizing performance.",
          "$ref": "CampaignsManagement"
        },
        "localListingManagement": {
          "description": "Service type for local listings management. The business group associated with the external account id will be used to provide local inventory to this Merchant Center account.",
          "$ref": "LocalListingManagement"
        },
        "accountManagement": {
          "description": "Service type for account management. Enables the provider to perform administrative actions on the business's account, such as configuring account settings, managing users, or updating business information.",
          "$ref": "AccountManagement"
        },
        "name": {
          "description": "Identifier. The resource name of the account service. Format: `accounts/{account}/services/{service}`",
          "type": "string"
        },
        "provider": {
          "description": "Output only. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "readOnly": true,
          "type": "string"
        },
        "productsManagement": {
          "description": "Service type for managing products. This allows the provider to handle product data on behalf of the business, including reading and writing product listings. It's commonly used when the provider offers inventory management or catalog synchronization services to keep the business's product information up-to-date across platforms.",
          "$ref": "ProductsManagement"
        },
        "mutability": {
          "description": "Output only. Whether the service is mutable (e.g. through Approve / Reject RPCs). A service that was created through another system or API might be immutable.",
          "readOnly": true,
          "enum": [
            "MUTABILITY_UNSPECIFIED",
            "MUTABLE",
            "IMMUTABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused default value",
            "The service can be mutated without restrictions.",
            "The service is read-only and must not be mutated."
          ]
        },
        "comparisonShopping": {
          "description": "Service type for comparison shopping. The provider is a CSS (Comparison Shopping Service) managing the account. See https://support.google.com/merchants/answer/12653197",
          "$ref": "ComparisonShopping"
        },
        "externalAccountId": {
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider.",
          "type": "string"
        }
      },
      "description": "The `AccountService` message represents a specific service that a provider account offers to a Merchant Center account. `AccountService` defines the permissions and capabilities granted to the provider, allowing for operations such as product management or campaign management. The lifecycle of an `AccountService` involves a proposal phase, where one party suggests the service, and an approval phase, where the other party accepts or rejects it. This handshake mechanism ensures mutual consent before any access is granted. This mechanism safeguards both parties by ensuring that access rights are granted appropriately and that both the business and provider are aware of the services enabled. In scenarios where a user is an admin of both accounts, the approval can happen automatically. The mutability of a service is also managed through `AccountService`. Some services might be immutable, for example, if they were established through other systems or APIs, and you cannot alter them through this API.",
      "id": "AccountService"
    },
    "BusinessIdentity": {
      "type": "object",
      "properties": {
        "veteranOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being veteran-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "promotionsConsent": {
          "type": "string",
          "enum": [
            "PROMOTIONS_CONSENT_UNSPECIFIED",
            "PROMOTIONS_CONSENT_GIVEN",
            "PROMOTIONS_CONSENT_DENIED"
          ],
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account consented to having their business identity used for promotions.",
            "Indicates that the account did not consent to having their business identity used for promotions."
          ],
          "description": "Required. Whether the identity attributes may be used for promotions."
        },
        "blackOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being black-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "name": {
          "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
          "type": "string"
        },
        "smallBusiness": {
          "description": "Optional. Specifies whether the business identifies itself as a small business. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces.",
          "$ref": "IdentityAttribute"
        },
        "latinoOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being latino-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "womenOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being women-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        }
      },
      "id": "BusinessIdentity",
      "description": "Collection of information related to the [identity of a business](https://support.google.com/merchants/answer/12564247)."
    },
    "CreateAndConfigureAccountRequest": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. An account service between the account to be created and the provider account is initialized as part of the creation. At least one such service needs to be provided. Currently exactly one of these needs to be `account_aggregation` and `accounts.createAndConfigure` method can be used to create a sub-account under an existing advanced account through this method. Additional `account_management` or `products_management` services may be provided.",
          "items": {
            "$ref": "AddAccountService"
          },
          "type": "array"
        },
        "setAlias": {
          "type": "array",
          "description": "Optional. If a relationship is created with a provider, you can set an alias for it with this field. The calling user must be an admin on the provider to be able to set an alias.",
          "items": {
            "$ref": "SetAliasForRelationship"
          }
        },
        "account": {
          "description": "Required. The account to be created.",
          "$ref": "Account"
        },
        "users": {
          "description": "Optional. Users to be added to the account. This field is deprecated and will not exist after the API evolves out of beta. Use the `user` field instead.",
          "deprecated": true,
          "items": {
            "$ref": "CreateUserRequest"
          },
          "type": "array"
        },
        "user": {
          "type": "array",
          "items": {
            "$ref": "AddUser"
          },
          "description": "Optional. Users to be added to the account."
        }
      },
      "id": "CreateAndConfigureAccountRequest",
      "description": "Request message for the `CreateAndConfigureAccount` method."
    },
    "RequestInventoryVerificationResponse": {
      "type": "object",
      "properties": {
        "omnichannelSetting": {
          "description": "The omnichannel setting that was updated.",
          "$ref": "OmnichannelSetting"
        }
      },
      "description": "Response message for the RequestInventoryVerification method.",
      "id": "RequestInventoryVerificationResponse"
    },
    "ImpactedDestination": {
      "type": "object",
      "properties": {
        "impacts": {
          "description": "The (negative) impact for various regions on the given destination.",
          "items": {
            "$ref": "Impact"
          },
          "type": "array"
        },
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "The impacted reporting context.",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "id": "ImpactedDestination",
      "description": "The impact of the issue on a destination."
    },
    "RateGroup": {
      "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap.",
      "id": "RateGroup",
      "type": "object",
      "properties": {
        "carrierRates": {
          "items": {
            "$ref": "CarrierRate"
          },
          "description": "Optional. A list of carrier rates that can be referred to by `main_table` or `single_value`.",
          "type": "array"
        },
        "singleValue": {
          "description": "The value of the rate group (For example flat rate $10). Can only be set if `main_table` and `subtables` are not set.",
          "$ref": "Value"
        },
        "mainTable": {
          "description": "A table defining the rate group, when `single_value` is not expressive enough. Can only be set if `single_value` is not set.",
          "$ref": "Table"
        },
        "subtables": {
          "description": "Optional. A list of subtables referred to by `main_table`. Can only be set if `main_table` is set.",
          "items": {
            "$ref": "Table"
          },
          "type": "array"
        },
        "name": {
          "description": "Optional. Name of the rate group. If set has to be unique within shipping service.",
          "type": "string"
        },
        "applicableShippingLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of [shipping labels](https://support.google.com/merchants/answer/6324504) defining the products to which this rate group applies to. This is a disjunction: only one of the labels has to match for the rate group to apply. May only be empty for the last rate group of a service."
        }
      }
    },
    "AutofeedSettings": {
      "type": "object",
      "properties": {
        "eligible": {
          "description": "Output only. Determines whether the business is eligible for being enrolled into an autofeed.",
          "readOnly": true,
          "type": "boolean"
        },
        "enableProducts": {
          "description": "Required. Enables or disables product crawling through the autofeed for the given account. Autofeed accounts must meet [certain conditions](https://support.google.com/merchants/answer/7538732#Configure_automated_feeds_Standard_Experience), which can be checked through the `eligible` field. The account must **not** be a marketplace. When the autofeed is enabled for the first time, the products usually appear instantly. When re-enabling, it might take up to 24 hours for products to appear.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`.",
          "type": "string"
        }
      },
      "description": "Collection of information related to the [autofeed](https://support.google.com/merchants/answer/7538732) settings.",
      "id": "AutofeedSettings"
    },
    "ItemUpdatesAccountLevelSettings": {
      "id": "ItemUpdatesAccountLevelSettings",
      "description": "Settings for the Automatic Item Updates.",
      "type": "object",
      "properties": {
        "allowAvailabilityUpdates": {
          "description": "If availability updates are enabled, any previous availability values get overwritten if Google finds an out-of-stock annotation on the offer's page. If additionally `allow_strict_availability_updates` field is set to true, values get overwritten if Google finds an in-stock annotation on the offer’s page.",
          "type": "boolean"
        },
        "allowConditionUpdates": {
          "description": "If condition updates are enabled, Google always updates item condition with the condition detected from the details of your product.",
          "type": "boolean"
        },
        "allowPriceUpdates": {
          "description": "If price updates are enabled, Google always updates the active price with the crawled information.",
          "type": "boolean"
        },
        "allowStrictAvailabilityUpdates": {
          "description": "If `allow_availability_updates` is enabled, items are automatically updated in all your Shopping target countries. By default, availability updates will only be applied to items that are 'out of stock' on your website but 'in stock' on Shopping. Set this to true to also update items that are 'in stock' on your website, but 'out of stock' on Google Shopping. In order for this field to have an effect, you must also set `allow_availability_updates`.",
          "type": "boolean"
        }
      }
    },
    "PhoneNumber": {
      "type": "object",
      "properties": {
        "extension": {
          "description": "The phone number's extension. The extension is not standardized in ITU recommendations, except for being defined as a series of numbers with a maximum length of 40 digits. Other than digits, some other dialing characters such as ',' (indicating a wait) or '#' may be stored here. Note that no regions currently use extensions with short codes, so this field is normally only set in conjunction with an E.164 number. It is held separately from the E.164 number to allow for short code extensions in the future.",
          "type": "string"
        },
        "e164Number": {
          "description": "The phone number, represented as a leading plus sign ('+'), followed by a phone number that uses a relaxed ITU E.164 format consisting of the country calling code (1 to 3 digits) and the subscriber number, with no additional spaces or formatting. For example: - correct: \"+15552220123\" - incorrect: \"+1 (555) 222-01234 x123\" The ITU E.164 format limits the latter to 12 digits, but in practice not all countries respect that, so we relax that restriction here. National-only numbers are not allowed. References: - https://www.itu.int/rec/T-REC-E.164-201011-I - https://en.wikipedia.org/wiki/E.164. - https://en.wikipedia.org/wiki/List_of_country_calling_codes",
          "type": "string"
        },
        "shortCode": {
          "description": "A short code. Reference(s): - https://wikipedia.org/wiki/Short_code",
          "$ref": "ShortCode"
        }
      },
      "id": "PhoneNumber",
      "description": "An object representing a phone number, suitable as an API wire format. This representation: - should not be used for locale-specific formatting of a phone number, such as \"+1 (650) 253-0000 ext. 123\" - is not designed for efficient storage - may not be suitable for dialing - specialized libraries (see references) should be used to parse the number for that purpose To do something meaningful with this number, such as format it for various use-cases, convert it to an `i18n.phonenumbers.PhoneNumber` object first. For instance, in Java this would be: com.google.type.PhoneNumber wireProto = com.google.type.PhoneNumber.newBuilder().build(); com.google.i18n.phonenumbers.Phonenumber.PhoneNumber phoneNumber = PhoneNumberUtil.getInstance().parse(wireProto.getE164Number(), \"ZZ\"); if (!wireProto.getExtension().isEmpty()) { phoneNumber.setExtension(wireProto.getExtension()); } Reference(s): - https://github.com/google/libphonenumber"
    },
    "CutoffConfig": {
      "type": "object",
      "properties": {
        "storeCloseOffsetHours": {
          "format": "int64",
          "description": "Only valid with local delivery fulfillment. Represents cutoff time as the number of hours before store closing. Mutually exclusive with `local_cutoff_time`.",
          "type": "string"
        },
        "localCutoffTime": {
          "description": "Time that local delivery ends for the day.",
          "$ref": "LocalCutoffTime"
        },
        "noDeliveryPostCutoff": {
          "description": "Businesses can opt-out of showing n+1 day local delivery when they have a shipping service configured to n day local delivery. For example, if the shipping service defines same-day delivery, and it's past the cut-off, setting this field to `true` results in the calculated shipping service rate returning `NO_DELIVERY_POST_CUTOFF`. In the same example, setting this field to `false` results in the calculated shipping time being one day. This is only for local delivery.",
          "type": "boolean"
        }
      },
      "id": "CutoffConfig",
      "description": "Configs related to local delivery ends for the day."
    },
    "CarrierRate": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the carrier rate. Must be unique per rate group.",
          "type": "string"
        },
        "flatAdjustment": {
          "description": "Optional. Additive shipping rate modifier. Can be negative. For example `{ \"amount_micros\": 1, \"currency_code\" : \"USD\" }` adds $1 to the rate, `{ \"amount_micros\": -3, \"currency_code\" : \"USD\" }` removes $3 from the rate.",
          "$ref": "Price"
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`.",
          "type": "string"
        },
        "carrier": {
          "description": "Required. Carrier service, such as `\"UPS\"` or `\"Fedex\"`.",
          "type": "string"
        },
        "percentageAdjustment": {
          "description": "Optional. Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example `\"5.4\"` increases the rate by 5.4%, `\"-3\"` decreases the rate by 3%.",
          "type": "string"
        },
        "originPostalCode": {
          "description": "Required. Shipping origin for this carrier rate.",
          "type": "string"
        }
      },
      "id": "CarrierRate",
      "description": "A list of carrier rates that can be referred to by `main_table` or `single_value`. Supported carrier services are defined in https://support.google.com/merchants/answer/12577710?ref_topic=12570808&sjid=10662598224319463032-NC#zippy=%2Cdelivery-cost-rate-type%2Ccarrier-rate-au-de-uk-and-us-only."
    },
    "ListAccountServicesResponse": {
      "id": "ListAccountServicesResponse",
      "description": "Response after trying to list account services.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages.",
          "type": "string"
        },
        "accountServices": {
          "items": {
            "$ref": "AccountService"
          },
          "description": "The account services that match your filter.",
          "type": "array"
        }
      }
    },
    "AccountAggregation": {
      "description": "`AccountAggregation` payload.",
      "id": "AccountAggregation",
      "type": "object",
      "properties": {}
    },
    "ApproveAccountServiceRequest": {
      "description": "Request to approve an account service.",
      "id": "ApproveAccountServiceRequest",
      "type": "object",
      "properties": {}
    },
    "InventoryVerification": {
      "type": "object",
      "properties": {
        "contactState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. The state of the contact verification.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        },
        "state": {
          "description": "Output only. The state of the inventory verification process.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTION_REQUIRED",
            "INACTIVE",
            "RUNNING",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "When the merchant needs to initiate the inventory verification process. The next state is INACTIVE.",
            "When the merchant is ready to request inventory verification.",
            "The inventory verification process is running. If the merchant is rejected, the next state is INACTIVE.",
            "The inventory verification process succeeded.",
            "When merchant fails the inventory verification process and all attempts are exhausted."
          ]
        },
        "contact": {
          "description": "Required. The name of the contact for the inventory verification process.",
          "type": "string"
        },
        "contactEmail": {
          "description": "Required. The email address of the contact for the inventory verification process.",
          "type": "string"
        }
      },
      "description": "Collection of information related to [inventory verification](https://support.google.com/merchants/answer/14684499?ref_topic=15145634&sjid=6892280366904591178-NC).",
      "id": "InventoryVerification"
    },
    "AccountIssue": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The localized title of the issue.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the account issue. Format: `accounts/{account}/issues/{id}`. For example, `accounts/123456/issues/misrepresentation-of-self-or-products-unacceptable-business-practice-policy`.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ],
          "description": "The overall severity of the issue."
        },
        "documentationUri": {
          "description": "Link to Merchant Center Help Center providing further information about the issue and how to fix it.",
          "type": "string"
        },
        "detail": {
          "description": "Further localized details about the issue.",
          "type": "string"
        },
        "impactedDestinations": {
          "items": {
            "$ref": "ImpactedDestination"
          },
          "description": "The impact this issue has on various destinations.",
          "type": "array"
        }
      },
      "id": "AccountIssue",
      "description": "Issues with your Merchant Center account that can impact all your products. For more information, see [Account-level issues in Merchant Center](https://support.google.com/merchants/answer/12153802?sjid=17798438912526418908-EU#account)."
    },
    "ProductsManagement": {
      "type": "object",
      "properties": {},
      "id": "ProductsManagement",
      "description": "`ProductsManagement` payload."
    },
    "RegisterGcpRequest": {
      "id": "RegisterGcpRequest",
      "description": "Request message for the RegisterGCP method.",
      "type": "object",
      "properties": {
        "developerEmail": {
          "description": "Immutable. Optional field. Developer role can be also added by using `users.update` method. If the developer email provided is associated with a user in the provided merchant account, the user will be updated to have `API_DEVELOPER` `access_rights` and the email preference corresponding to that user will be updated to have the new API notifications preference. If the developer email provided is not associated with any user, it is added as a contact. The email preference corresponding to that contact will have the new API notifications preference. Make sure the email used is associated with a Google Account and is not a service account as service accounts can't receive emails.",
          "type": "string"
        }
      }
    },
    "MinimumOrderValueTable": {
      "type": "object",
      "properties": {
        "storeCodeSetWithMovs": {
          "items": {
            "$ref": "StoreCodeSetWithMov"
          },
          "description": "Required. A list of store code sets sharing the same minimum order value (MOV). At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
          "type": "array"
        }
      },
      "id": "MinimumOrderValueTable",
      "description": "Table of per store minimum order values for the pickup fulfillment type."
    },
    "SetAliasForRelationship": {
      "type": "object",
      "properties": {
        "provider": {
          "description": "Required. The provider of the service. This is a reference to an account such as `providers/123` or `accounts/123`. The same provider must be specified in at least one of the `service` fields.",
          "type": "string"
        },
        "accountIdAlias": {
          "description": "Required. The unique ID of this account in the provider's system. The value must be unique across all accounts on the platform for this provider.",
          "type": "string"
        }
      },
      "description": "Set an alias for a relationship between a provider and the account to be created.",
      "id": "SetAliasForRelationship"
    },
    "CampaignsManagement": {
      "description": "`CampaignManagement` payload.",
      "id": "CampaignsManagement",
      "type": "object",
      "properties": {}
    },
    "LocationIdSet": {
      "type": "object",
      "properties": {
        "locationIds": {
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (For example, state).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "LocationIdSet",
      "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set."
    },
    "ProductStatusChangeMessage": {
      "description": "The message that the merchant will receive to notify about product status change event",
      "id": "ProductStatusChangeMessage",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product"
          ],
          "type": "string",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT"
          ]
        },
        "changes": {
          "type": "array",
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "attribute": {
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string",
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ]
        },
        "eventTime": {
          "type": "string",
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "format": "google-datetime"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        }
      }
    },
    "LocalListingManagement": {
      "type": "object",
      "properties": {},
      "description": "`LocalListingManagement` payload.",
      "id": "LocalListingManagement"
    },
    "ClaimHomepageRequest": {
      "id": "ClaimHomepageRequest",
      "description": "Request message for the `ClaimHomepage` method.",
      "type": "object",
      "properties": {
        "overwrite": {
          "description": "Optional. When set to `true`, this option removes any existing claim on the requested website from any other account to the account making the request, effectively replacing the previous claim.",
          "type": "boolean"
        }
      }
    },
    "Handshake": {
      "type": "object",
      "properties": {
        "approvalState": {
          "description": "Output only. The approval state of this handshake.",
          "readOnly": true,
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "WAITING",
            "ESTABLISHED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "Unspecified approval status.",
            "The service was proposed and is waiting to be confirmed.",
            "Indicates that the service proposal has been accepted and will be established after a fixed delay set by the service provider.",
            "Both parties have confirmed the service.",
            "The service proposal was rejected."
          ],
          "type": "string"
        },
        "actor": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified actor.",
            "The last change was done by the account who has this service.",
            "The last change was done by the other party who this service points to."
          ],
          "enum": [
            "ACTOR_UNSPECIFIED",
            "ACCOUNT",
            "OTHER_PARTY"
          ],
          "description": "Output only. The most recent account to modify the account service's `approval_status`.",
          "readOnly": true
        }
      },
      "id": "Handshake",
      "description": "The current status of establishing of the service. (for example, pending approval, approved, established)."
    },
    "LinkLfpProviderRequest": {
      "type": "object",
      "properties": {
        "externalAccountId": {
          "description": "Required. The external account ID by which this merchant is known to the LFP provider.",
          "type": "string"
        }
      },
      "id": "LinkLfpProviderRequest",
      "description": "Request message for the LinkLfpProvider method."
    },
    "LocalCutoffTime": {
      "description": "Time that local delivery ends for the day.",
      "id": "LocalCutoffTime",
      "type": "object",
      "properties": {
        "hour": {
          "description": "Hour local delivery orders must be placed by to process the same day.",
          "format": "int64",
          "type": "string"
        },
        "minute": {
          "type": "string",
          "format": "int64",
          "description": "Minute local delivery orders must be placed by to process the same day."
        }
      }
    },
    "Pickup": {
      "description": "Collection of information related to Pickup.",
      "id": "Pickup",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. Pickup product page URI. It is only used for the review of pickup serving. This URI domain should match with the business's homepage.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the pickup serving.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        }
      }
    },
    "OnlineReturnPolicy": {
      "description": "[Online return policy](https://support.google.com/merchants/answer/10220642) object. This is currently used to represent return policies for ads and free listings programs.",
      "id": "OnlineReturnPolicy",
      "type": "object",
      "properties": {
        "countries": {
          "description": "Required. Immutable. The countries of sale where the return policy applies. The values must be a valid 2 letter ISO 3166 code.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "seasonalOverrides": {
          "description": "Optional. Overrides to the general policy for orders placed during a specific set of time intervals.",
          "items": {
            "$ref": "SeasonalOverride"
          },
          "type": "array"
        },
        "processRefundDays": {
          "format": "int32",
          "description": "Optional. The field specifies the number of days it takes for business to process refunds.",
          "type": "integer"
        },
        "acceptExchange": {
          "description": "Optional. This field specifies if business allows customers to exchange products.",
          "type": "boolean"
        },
        "restockingFee": {
          "description": "Optional. The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set.",
          "$ref": "RestockingFee"
        },
        "itemConditions": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "USED"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "New.",
              "Used."
            ]
          },
          "description": "Optional. The item conditions accepted for returns must not be empty unless the type of return policy is 'noReturns'."
        },
        "returnLabelSource": {
          "type": "string",
          "enum": [
            "RETURN_LABEL_SOURCE_UNSPECIFIED",
            "DOWNLOAD_AND_PRINT",
            "IN_THE_PACKAGE",
            "CUSTOMER_RESPONSIBILITY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Download and print.",
            "Label include in the package.",
            "Customer to provide."
          ],
          "description": "Optional. The field specifies the return label source."
        },
[...]
