{
  "title": "Merchant API",
  "batchPath": "batch",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "ConversionSource": {
      "description": "Represents a conversion source owned by a Merchant account. A merchant account can have up to 200 conversion sources.",
      "type": "object",
      "id": "ConversionSource",
      "properties": {
        "googleAnalyticsLink": {
          "$ref": "GoogleAnalyticsLink",
          "description": "Immutable. Conversion Source of type \"Link to Google Analytics Property\"."
        },
        "merchantCenterDestination": {
          "$ref": "MerchantCenterDestination",
          "description": "Conversion Source of type \"Merchant Center Tag Destination\"."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Generated by the Content API upon creation of a new `ConversionSource`. Format: `[a-z]{4}:.+` The four characters before the colon represent the type of conversion source. Content after the colon represents the ID of the conversion source within that type. The ID of two different conversion sources might be the same across different types. The following type prefixes are supported: * `galk`: For GoogleAnalyticsLink sources. * `mcdn`: For MerchantCenterDestination sources.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of this conversion source. Can't be edited through the API.",
          "readOnly": true,
          "enumDescriptions": [
            "Conversion source has unspecified state.",
            "Conversion source is fully functional.",
            "Conversion source has been archived in the last 30 days and is currently not functional. Can be restored using the undelete method.",
            "Conversion source creation has started but not fully finished yet."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PENDING"
          ],
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. The time when an archived conversion source becomes permanently deleted and is no longer available to undelete.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "controller": {
          "description": "Output only. Controller of the conversion source.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Controlled by the Merchant who owns the Conversion Source.",
            "Controlled by the Youtube Affiliates program."
          ],
          "enum": [
            "CONTROLLER_UNSPECIFIED",
            "MERCHANT",
            "YOUTUBE_AFFILIATES"
          ],
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsLink": {
      "properties": {
        "propertyId": {
          "description": "Required. Immutable. ID of the Google Analytics property the merchant is linked to.",
          "type": "string",
          "format": "int64"
        },
        "property": {
          "readOnly": true,
          "description": "Output only. Name of the Google Analytics property the merchant is linked to.",
          "type": "string"
        },
        "attributionSettings": {
          "$ref": "AttributionSettings",
          "description": "Output only. Attribution settings for the linked Google Analytics property.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsLink",
      "description": "\"Google Analytics Link\" sources can be used to get conversion data from an existing Google Analytics property into the linked Merchant Center account.",
      "type": "object"
    },
    "ProductChange": {
      "properties": {
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        },
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "type": "string"
        }
      },
      "id": "ProductChange",
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "type": "object"
    },
    "ListConversionSourcesResponse": {
      "properties": {
        "conversionSources": {
          "description": "List of conversion sources.",
          "type": "array",
          "items": {
            "$ref": "ConversionSource"
          }
        },
        "nextPageToken": {
          "description": "Token to be used to fetch the next results page.",
          "type": "string"
        }
      },
      "id": "ListConversionSourcesResponse",
      "description": "Response message for the ListConversionSources method.",
      "type": "object"
    },
    "ProductStatusChangeMessage": {
      "properties": {
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "resourceType": {
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT"
          ],
          "description": "The resource that changed, in this case it will always be `Product`.",
          "type": "string"
        },
        "attribute": {
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "type": "array",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "type": "string",
          "format": "google-datetime"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        }
      },
      "description": "The message that the merchant will receive to notify about product status change event",
      "type": "object",
      "id": "ProductStatusChangeMessage"
    },
    "ConversionType": {
      "properties": {
        "report": {
          "description": "Output only. Option indicating if the type should be included in Merchant Center reporting.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Conversion event name, as it'll be reported by the client.",
          "type": "string"
        }
      },
      "id": "ConversionType",
      "description": "Message representing the type of a conversion event.",
      "type": "object"
    },
    "UndeleteConversionSourceRequest": {
      "properties": {},
      "id": "UndeleteConversionSourceRequest",
      "description": "Request message for the UndeleteConversionSource method.",
      "type": "object"
    },
    "MerchantCenterDestination": {
      "description": "\"Merchant Center Destination\" sources can be used to send conversion events from an online store using a Google tag directly to a Merchant Center account where the source is created.",
      "type": "object",
      "id": "MerchantCenterDestination",
      "properties": {
        "displayName": {
          "description": "Required. Merchant-specified display name for the destination. This is the name that identifies the conversion source within the Merchant Center UI. The maximum length is 64 characters.",
          "type": "string"
        },
        "destination": {
          "readOnly": true,
          "description": "Output only. Merchant Center Destination ID.",
          "type": "string"
        },
        "attributionSettings": {
          "$ref": "AttributionSettings",
          "description": "Required. Attribution settings used for the Merchant Center Destination."
        },
        "currencyCode": {
          "description": "Required. Three-letter currency code (ISO 4217). The currency code defines in which currency the conversions sent to this destination will be reported in Merchant Center.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "AttributionSettings": {
      "id": "AttributionSettings",
      "description": "Represents attribution settings for conversion sources receiving pre-attribution data.",
      "type": "object",
      "properties": {
        "attributionModel": {
          "enumDescriptions": [
            "Unspecified model.",
            "Cross-channel Last Click model.",
            "Ads-preferred Last Click model.",
            "Cross-channel Data Driven model.",
            "Cross-channel First Click model.",
            "Cross-channel Linear model.",
            "Cross-channel Position Based model.",
            "Cross-channel Time Decay model."
          ],
          "enum": [
            "ATTRIBUTION_MODEL_UNSPECIFIED",
            "CROSS_CHANNEL_LAST_CLICK",
            "ADS_PREFERRED_LAST_CLICK",
            "CROSS_CHANNEL_DATA_DRIVEN",
            "CROSS_CHANNEL_FIRST_CLICK",
            "CROSS_CHANNEL_LINEAR",
            "CROSS_CHANNEL_POSITION_BASED",
            "CROSS_CHANNEL_TIME_DECAY"
          ],
          "description": "Required. Attribution model.",
          "type": "string"
        },
        "conversionType": {
          "description": "Immutable. Unordered list. List of different conversion types a conversion event can be classified as. A standard \"purchase\" type will be automatically created if this list is empty at creation time.",
          "type": "array",
          "items": {
            "$ref": "ConversionType"
          }
        },
        "attributionLookbackWindowDays": {
          "format": "int32",
          "description": "Required. Lookback window (in days) used for attribution in this source. Supported values are `7`, `30` & `40`.",
          "type": "integer"
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "conversionSources": {
          "methods": {
            "patch": {
              "id": "merchantapi.accounts.conversionSources.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "ConversionSource"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$",
                  "description": "Output only. Identifier. Generated by the Content API upon creation of a new `ConversionSource`. Format: `[a-z]{4}:.+` The four characters before the colon represent the type of conversion source. Content after the colon represents the ID of the conversion source within that type. The ID of two different conversion sources might be the same across different types. The following type prefixes are supported: * `galk`: For GoogleAnalyticsLink sources. * `mcdn`: For MerchantCenterDestination sources."
                },
                "updateMask": {
                  "description": "Optional. List of fields being updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources/{conversionSourcesId}",
              "response": {
                "$ref": "ConversionSource"
              },
              "path": "conversions/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates information of an existing conversion source. Available only for Merchant Center Destination conversion sources."
            },
            "undelete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Re-enables an archived conversion source. Only Available for Merchant Center Destination conversion sources.",
              "response": {
                "$ref": "ConversionSource"
              },
              "path": "conversions/v1beta/{+name}:undelete",
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources/{conversionSourcesId}:undelete",
              "id": "merchantapi.accounts.conversionSources.undelete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "UndeleteConversionSourceRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the conversion source to be undeleted. Format: `accounts/{account}/conversionSources/{conversion_source}`",
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "ConversionSource"
              },
              "path": "conversions/v1beta/{+parent}/conversionSources",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new conversion source.",
              "id": "merchantapi.accounts.conversionSources.create",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "ConversionSource"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The merchant account that will own the new conversion source. Format: `accounts/{account}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources"
            },
            "delete": {
              "path": "conversions/v1beta/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Archives an existing conversion source. If the conversion source is a Merchant Center Destination, it will be recoverable for 30 days. If the conversion source is a Google Analytics Link, it will be deleted immediately and can be restored by creating a new one.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$",
                  "description": "Required. The name of the conversion source to be deleted. Format: `accounts/{account}/conversionSources/{conversion_source}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "merchantapi.accounts.conversionSources.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources/{conversionSourcesId}"
            },
            "get": {
              "path": "conversions/v1beta/{+name}",
              "response": {
                "$ref": "ConversionSource"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Fetches a conversion source.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$",
                  "description": "Required. The name of the conversion source to be fetched. Format: `accounts/{account}/conversionSources/{conversion_source}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "merchantapi.accounts.conversionSources.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources/{conversionSourcesId}"
            },
            "list": {
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources",
              "id": "merchantapi.accounts.conversionSources.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The merchant account who owns the collection of conversion sources. Format: `accounts/{account}`"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of conversion sources to return in a page. If no `page_size` is specified, `100` is used as the default value. The maximum value is `200`. Values above `200` will be coerced to `200`. Regardless of pagination, at most `200` conversion sources are returned in total.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "showDeleted": {
                  "description": "Optional. Show deleted (archived) conversion sources. By default, deleted conversion sources are not returned.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "description": "Retrieves the list of conversion sources the caller has access to.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListConversionSourcesResponse"
              },
              "path": "conversions/v1beta/{+parent}/conversionSources"
            }
          }
        }
      }
    }
  },
  "id": "merchantapi:conversions_v1beta",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "canonicalName": "Merchant",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "revision": "20260310",
  "version_module": true,
  "servicePath": "",
  "documentationLink": "https://developers.google.com/merchant/api",
  "protocol": "rest",
  "version": "conversions_v1beta",
  "name": "merchantapi"
}