{
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "canonicalName": "Migration Center API",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "schemas": {
    "RegionPreferences": {
      "description": "The user preferences relating to target regions.",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RegionPreferences",
      "type": "object"
    },
    "PlatformDetails": {
      "type": "object",
      "id": "PlatformDetails",
      "description": "Information about the platform.",
      "properties": {
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "vmwareDetails": {
          "description": "VMware specific details.",
          "$ref": "VmwarePlatformDetails"
        },
        "azureVmDetails": {
          "description": "Azure VM specific details.",
          "$ref": "AzureVmPlatformDetails"
        },
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        }
      }
    },
    "CsvOutputFile": {
      "description": "Contains a single output file of type CSV.",
      "properties": {
        "signedUri": {
          "$ref": "SignedUri",
          "readOnly": true,
          "description": "Output only. Signed URI destination."
        },
        "columnsCount": {
          "readOnly": true,
          "description": "Output only. Number of columns in the file.",
          "format": "int32",
          "type": "integer"
        },
        "rowCount": {
          "description": "Output only. Number of rows in the file.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "CsvOutputFile",
      "type": "object"
    },
    "NfsExportList": {
      "id": "NfsExportList",
      "description": "NFS exports.",
      "properties": {
        "entries": {
          "description": "NFS export entries.",
          "type": "array",
          "items": {
            "$ref": "NfsExport"
          }
        }
      },
      "type": "object"
    },
    "CpuUsageSample": {
      "type": "object",
      "description": "CPU usage sample.",
      "properties": {
        "utilizedPercentage": {
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "CpuUsageSample"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InsightList": {
      "description": "Message containing insights list.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Update timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "insights": {
          "type": "array",
          "items": {
            "$ref": "Insight"
          },
          "description": "Output only. Insights of the list.",
          "readOnly": true
        }
      },
      "id": "InsightList",
      "type": "object"
    },
    "NetworkUsageSample": {
      "id": "NetworkUsageSample",
      "description": "Network usage sample. Values are across all network interfaces.",
      "properties": {
        "averageIngressBps": {
          "type": "number",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "format": "float"
        },
        "averageEgressBps": {
          "type": "number",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "type": "object",
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "properties": {
        "monthlyCostStorage": {
          "description": "Storage monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostCompute": {
          "description": "Compute monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostOsLicense": {
          "description": "Licensing monthly cost for this preference set.",
          "$ref": "Money"
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input.",
          "$ref": "ReportSummaryVmwareEngineFinding"
        },
        "monthlyCostTotal": {
          "description": "Total monthly cost for this preference set.",
          "$ref": "Money"
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Sole-Tenant machines in the input.",
          "$ref": "ReportSummarySoleTenantFinding"
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "machinePreferences": {
          "description": "A set of preferences that applies to all machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "computeEngineFinding": {
          "description": "A set of findings that applies to Compute Engine machines in the input.",
          "$ref": "ReportSummaryComputeEngineFinding"
        },
        "monthlyCostNetworkEgress": {
          "description": "Network Egress monthly cost for this preference set.",
          "$ref": "Money"
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "monthlyCostOther": {
          "description": "Miscellaneous monthly cost for this preference set.",
          "$ref": "Money"
        }
      },
      "id": "ReportSummaryGroupPreferenceSetFinding"
    },
    "ReportSummary": {
      "type": "object",
      "id": "ReportSummary",
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "properties": {
        "allAssetsStats": {
          "description": "Aggregate statistics for all the assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "description": "Findings for each Group included in this report.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          }
        }
      }
    },
    "AssetPerformanceData": {
      "type": "object",
      "id": "AssetPerformanceData",
      "description": "Performance data for an asset.",
      "properties": {
        "dailyResourceUsageAggregations": {
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "type": "array",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          }
        }
      }
    },
    "AddAssetsToGroupRequest": {
      "type": "object",
      "description": "A request to add assets to a group.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        }
      },
      "id": "AddAssetsToGroupRequest"
    },
    "SqlServerFeature": {
      "description": "SQL Server feature details.",
      "properties": {
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        }
      },
      "id": "SqlServerFeature",
      "type": "object"
    },
    "SignedUris": {
      "description": "Contains a list of Signed URIs.",
      "properties": {
        "signedUris": {
          "type": "array",
          "items": {
            "$ref": "SignedUri"
          },
          "readOnly": true,
          "description": "Output only. List of signed URIs."
        }
      },
      "id": "SignedUris",
      "type": "object"
    },
    "FrameViolationEntry": {
      "id": "FrameViolationEntry",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "properties": {
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        },
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OutputFileList": {
      "type": "object",
      "id": "OutputFileList",
      "description": "Contains a list of output files.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "OutputFile"
          },
          "description": "Output only. List of output files.",
          "readOnly": true
        }
      }
    },
    "ComputeStorageDescriptor": {
      "description": "Compute Engine storage option descriptor.",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk type backing the storage.",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "sizeGb": {
          "readOnly": true,
          "description": "Output only. Disk size in GiB.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ComputeStorageDescriptor",
      "type": "object"
    },
    "MysqlDatabaseDeployment": {
      "description": "Specific details for a Mysql database deployment.",
      "properties": {
        "resourceGroupsCount": {
          "description": "Optional. Number of resource groups.",
          "format": "int32",
          "type": "integer"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "MySqlProperty"
          },
          "description": "Optional. List of MySql properties."
        },
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          }
        },
        "variables": {
          "description": "Optional. List of MySql variables.",
          "type": "array",
          "items": {
            "$ref": "MySqlVariable"
          }
        }
      },
      "id": "MysqlDatabaseDeployment",
      "type": "object"
    },
    "PhysicalPlatformDetails": {
      "id": "PhysicalPlatformDetails",
      "description": "Platform specific details for Physical Machines.",
      "properties": {
        "hyperthreading": {
          "type": "string",
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Report": {
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Report creation state.",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "type": {
          "description": "Report type.",
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "type": "string"
        },
        "summary": {
          "$ref": "ReportSummary",
          "readOnly": true,
          "description": "Output only. Summary view of the Report."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of resource.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Creation timestamp.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        }
      },
      "id": "Report",
      "type": "object"
    },
    "ReportSummarySoleTenantFinding": {
      "id": "ReportSummarySoleTenantFinding",
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets are allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "format": "int64",
          "type": "string"
        },
        "nodeAllocations": {
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records"
        }
      },
      "type": "object"
    },
    "ReportSummaryVmwareNode": {
      "type": "object",
      "id": "ReportSummaryVmwareNode",
      "description": "A VMWare Engine Node",
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      }
    },
    "AggregationResult": {
      "id": "AggregationResult",
      "description": "Message describing a result of an aggregation.",
      "properties": {
        "count": {
          "$ref": "AggregationResultCount"
        },
        "field": {
          "type": "string"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        }
      },
      "type": "object"
    },
    "MySqlStorageEngineDetails": {
      "description": "Mysql storage engine tables.",
      "properties": {
        "tableCount": {
          "description": "Optional. The number of tables.",
          "format": "int32",
          "type": "integer"
        },
        "engine": {
          "description": "Required. The storage engine.",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ],
          "type": "string"
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "MySqlStorageEngineDetails",
      "type": "object"
    },
    "GuestConfigDetails": {
      "id": "GuestConfigDetails",
      "description": "Guest OS config information.",
      "properties": {
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "type": "string"
        },
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        }
      },
      "type": "object"
    },
    "ListAssetsResponse": {
      "type": "object",
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets.",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "$ref": "Asset"
          },
          "description": "A list of assets."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DiskEntry": {
      "type": "object",
      "id": "DiskEntry",
      "description": "Single disk entry.",
      "properties": {
        "diskLabel": {
          "description": "Disk label.",
          "type": "string"
        },
        "partitions": {
          "description": "Partition layout.",
          "$ref": "DiskPartitionList"
        },
        "vmware": {
          "description": "VMware disk details.",
          "$ref": "VmwareDiskConfig"
        },
        "interfaceType": {
          "description": "Disks interface type.",
          "enumDescriptions": [
            "Interface type unknown or unspecified.",
            "IDE interface type.",
            "SATA interface type.",
            "SAS interface type.",
            "SCSI interface type.",
            "NVME interface type.",
            "FC interface type.",
            "iSCSI interface type."
          ],
          "enum": [
            "INTERFACE_TYPE_UNSPECIFIED",
            "IDE",
            "SATA",
            "SAS",
            "SCSI",
            "NVME",
            "FC",
            "ISCSI"
          ],
          "type": "string"
        },
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        },
        "hwAddress": {
          "description": "Disk hardware address (e.g. 0:1 for SCSI).",
          "type": "string"
        },
        "capacityBytes": {
          "description": "Disk capacity.",
          "format": "int64",
          "type": "string"
        },
        "freeBytes": {
          "type": "string",
          "description": "Disk free space.",
          "format": "int64"
        }
      }
    },
    "DiskPartitionDetails": {
      "id": "DiskPartitionDetails",
      "description": "Disk partition details.",
      "properties": {
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        },
        "totalCapacityBytes": {
          "description": "Output only. Total capacity of all partitions.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "freeSpaceBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total free space of all partitions.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Frames": {
      "description": "Collection of frame data.",
      "properties": {
        "framesData": {
          "type": "array",
          "items": {
            "$ref": "AssetFrame"
          },
          "description": "A repeated field of asset data."
        }
      },
      "id": "Frames",
      "type": "object"
    },
    "DatabaseDeploymentTopology": {
      "description": "Details of database deployment's topology.",
      "properties": {
        "diskAllocatedBytes": {
          "description": "Optional. Disk allocated in bytes.",
          "format": "int64",
          "type": "string"
        },
        "memoryLimitBytes": {
          "description": "Optional. Total memory in bytes limited by db deployment.",
          "format": "int64",
          "type": "string"
        },
        "physicalCoreLimit": {
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "format": "int32",
          "type": "integer"
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          },
          "description": "Optional. List of database instances."
        },
        "coreCount": {
          "description": "Optional. Number of total logical cores.",
          "format": "int32",
          "type": "integer"
        },
        "diskUsedBytes": {
          "description": "Optional. Disk used in bytes.",
          "format": "int64",
          "type": "string"
        },
        "physicalCoreCount": {
          "type": "integer",
          "description": "Optional. Number of total physical cores.",
          "format": "int32"
        },
        "memoryBytes": {
          "description": "Optional. Total memory in bytes.",
          "format": "int64",
          "type": "string"
        },
        "coreLimit": {
          "type": "integer",
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "format": "int32"
        }
      },
      "id": "DatabaseDeploymentTopology",
      "type": "object"
    },
    "ListErrorFramesResponse": {
      "type": "object",
      "description": "A response for listing error frames.",
      "properties": {
        "errorFrames": {
          "type": "array",
          "items": {
            "$ref": "ErrorFrame"
          },
          "description": "The list of error frames."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListErrorFramesResponse"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "DiscoveryClient": {
      "type": "object",
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "properties": {
        "source": {
          "description": "Required. Immutable. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the discovery client.",
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ]
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "readOnly": true,
          "description": "Output only. Errors affecting client functionality."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the discovery client was first created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "heartbeatTime": {
          "readOnly": true,
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "format": "google-datetime",
          "readOnly": true
        },
        "expireTime": {
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "format": "google-datetime",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "format": "google-duration"
        },
        "signalsEndpoint": {
          "type": "string",
          "description": "Output only. This field is intended for internal use.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Full name of this discovery client.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "DiscoveryClient"
    },
    "MySqlProperty": {
      "type": "object",
      "description": "MySql property.",
      "properties": {
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        }
      },
      "id": "MySqlProperty"
    },
    "DatabaseInstance": {
      "type": "object",
      "description": "Details of a database instance.",
      "properties": {
        "instanceName": {
          "description": "Optional. The instance's name.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "Optional. The instance role in the database engine.",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ]
        },
        "network": {
          "description": "Optional. Networking details.",
          "$ref": "DatabaseInstanceNetwork"
        }
      },
      "id": "DatabaseInstance"
    },
    "RemoveAssetsFromGroupRequest": {
      "description": "A request to remove assets from a group.",
      "properties": {
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RemoveAssetsFromGroupRequest",
      "type": "object"
    },
    "MySqlVariable": {
      "type": "object",
      "description": "MySql variable.",
      "properties": {
        "category": {
          "description": "Required. The variable category.",
          "type": "string"
        },
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        },
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        }
      },
      "id": "MySqlVariable"
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DailyResourceUsageAggregationDisk": {
      "description": "Statistical aggregation of disk usage.",
      "properties": {
        "readIops": {
          "description": "Optional. Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Optional. Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "iops": {
          "description": "Optional. Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "id": "DailyResourceUsageAggregationDisk",
      "type": "object"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sources": {
          "description": "The list of sources.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        }
      },
      "type": "object"
    },
    "ListImportJobsResponse": {
      "id": "ListImportJobsResponse",
      "description": "A response for listing import jobs.",
      "properties": {
        "importJobs": {
          "description": "The list of import jobs.",
          "type": "array",
          "items": {
            "$ref": "ImportJob"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "DatabaseSchema": {
      "type": "object",
      "description": "Details of a database schema.",
      "properties": {
        "sqlServer": {
          "description": "Optional. Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        },
        "schemaName": {
          "description": "Required. The name of the schema.",
          "type": "string"
        },
        "tablesSizeBytes": {
          "type": "string",
          "description": "Optional. The total size of tables in bytes.",
          "format": "int64"
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "DatabaseObjects"
          },
          "description": "Optional. List of details of objects by category."
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "mysql": {
          "description": "Optional. Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        }
      },
      "id": "DatabaseSchema"
    },
    "BatchUpdateAssetsResponse": {
      "type": "object",
      "id": "BatchUpdateAssetsResponse",
      "description": "Response for updating a list of assets.",
      "properties": {
        "assets": {
          "description": "Update asset content. The content only includes values after field mask being applied.",
          "type": "array",
          "items": {
            "$ref": "Asset"
          }
        }
      }
    },
    "DiskUsageSample": {
      "description": "Disk usage sample. Values are across all disks.",
      "properties": {
        "averageIops": {
          "type": "number",
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "format": "float"
        },
        "averageWriteIops": {
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "format": "float",
          "type": "number"
        },
        "averageReadIops": {
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "DiskUsageSample",
      "type": "object"
    },
    "AggregationSum": {
      "type": "object",
      "id": "AggregationSum",
      "description": "Sum of field values.",
      "properties": {}
    },
    "NetworkAdapterList": {
      "type": "object",
      "id": "NetworkAdapterList",
      "description": "List of network adapters.",
      "properties": {
        "entries": {
          "description": "Network adapter entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        }
      }
    },
    "AssetsExportJobPerformanceData": {
      "type": "object",
      "description": "Configuration for performance data exports.",
      "properties": {
        "maxDays": {
          "type": "integer",
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "format": "int32"
        }
      },
      "id": "AssetsExportJobPerformanceData"
    },
    "ImportRowError": {
      "id": "ImportRowError",
      "description": "A resource that reports the import job errors at row level.",
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        },
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "assetTitle": {
          "description": "Output only. The asset title.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "The list of errors detected in the row."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "type": "object"
    },
    "PerformanceSample": {
      "type": "object",
      "id": "PerformanceSample",
      "description": "Performance data sample.",
      "properties": {
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        },
        "disk": {
          "description": "Disk usage sample.",
          "$ref": "DiskUsageSample"
        },
        "sampleTime": {
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "format": "google-datetime",
          "type": "string"
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        }
      }
    },
    "BatchDeleteAssetsRequest": {
      "description": "A request to delete a list of asset.",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}."
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        },
        "cascadingRules": {
          "type": "array",
          "items": {
            "$ref": "CascadingRule"
          },
          "description": "Optional. Optional cascading rules for deleting related assets."
        }
      },
      "id": "BatchDeleteAssetsRequest",
      "type": "object"
    },
    "DatabaseDeploymentDetails": {
      "type": "object",
      "description": "The details of a database deployment asset.",
      "properties": {
        "topology": {
          "description": "Optional. Details of the database deployment topology.",
          "$ref": "DatabaseDeploymentTopology"
        },
        "awsRds": {
          "description": "Optional. Details of an AWS RDS instance.",
          "$ref": "AwsRds"
        },
        "version": {
          "description": "Optional. The database deployment version.",
          "type": "string"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "generatedId": {
          "description": "Optional. The database deployment generated ID.",
          "type": "string"
        },
        "edition": {
          "description": "Optional. The database deployment edition.",
          "type": "string"
        },
        "manualUniqueId": {
          "description": "Optional. A manual unique ID set by the user.",
          "type": "string"
        },
        "sqlServer": {
          "description": "Optional. Details of a Microsoft SQL Server database deployment.",
          "$ref": "SqlServerDatabaseDeployment"
        },
        "aggregatedStats": {
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "readOnly": true,
          "description": "Output only. Aggregated stats for the database deployment."
        },
        "mysql": {
          "description": "Optional. Details of a MYSQL database deployment.",
          "$ref": "MysqlDatabaseDeployment"
        }
      },
      "id": "DatabaseDeploymentDetails"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "BiosDetails": {
      "id": "BiosDetails",
      "description": "Details about the BIOS.",
      "properties": {
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "biosName": {
          "description": "BIOS name. This fields is deprecated. Please use the `id` field instead.",
          "deprecated": true,
          "type": "string"
        },
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        },
        "releaseDate": {
          "description": "BIOS release date.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "FitDescriptor": {
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "properties": {
        "fitLevel": {
          "description": "Output only. Fit level.",
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "FileValidationReport": {
      "type": "object",
      "id": "FileValidationReport",
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "properties": {
        "rowErrors": {
          "type": "array",
          "items": {
            "$ref": "ImportRowError"
          },
          "description": "Partial list of rows that encountered validation error."
        },
        "fileName": {
          "description": "The name of the file.",
          "type": "string"
        },
        "partialReport": {
          "description": "Flag indicating that processing was aborted due to maximum number of errors.",
          "type": "boolean"
        },
        "fileErrors": {
          "description": "List of file level errors.",
          "type": "array",
          "items": {
            "$ref": "ImportError"
          }
        }
      }
    },
    "RunAssetsExportJobResponse": {
      "description": "Response message for running an assets export job.",
      "properties": {
        "assetsExportJobExecution": {
          "$ref": "AssetsExportJobExecution",
          "readOnly": true,
          "description": "Output only. Execution status of the assets export operation."
        }
      },
      "id": "RunAssetsExportJobResponse",
      "type": "object"
    },
    "PostgreSqlSchemaDetails": {
      "type": "object",
      "id": "PostgreSqlSchemaDetails",
      "description": "Specific details for a PostgreSql schema.",
      "properties": {
        "foreignTablesCount": {
          "type": "integer",
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32"
        },
        "postgresqlExtensions": {
          "description": "Optional. PostgreSql extensions.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object"
    },
    "ImportDataFile": {
      "id": "ImportDataFile",
      "description": "A resource that represents a payload file in an import job.",
      "properties": {
        "format": {
          "type": "string",
          "description": "Required. The payload format.",
          "enumDescriptions": [
            "Default value.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually and following the StratoZone format. For more information, see Manually create and upload data tables.",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_STRATOZONE_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "state": {
          "description": "Output only. The state of the import data file.",
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the file.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the file was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        }
      },
      "type": "object"
    },
    "MachineArchitectureDetails": {
      "type": "object",
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture.",
      "properties": {
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "cpuSocketCount": {
          "type": "integer",
          "description": "Number of processor sockets allocated to the machine.",
          "format": "int32"
        },
        "cpuThreadCount": {
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "firmwareType": {
          "description": "Firmware type.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "type": "string"
        }
      }
    },
    "MachineSeries": {
      "id": "MachineSeries",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComputeEngineMigrationTarget": {
      "type": "object",
      "id": "ComputeEngineMigrationTarget",
      "description": "Compute engine migration target.",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      }
    },
    "SoleTenancyPreferences": {
      "id": "SoleTenancyPreferences",
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "properties": {
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment.",
            "3 years commitment."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR"
          ],
          "type": "string"
        },
        "hostMaintenancePolicy": {
          "type": "string",
          "description": "Sole Tenancy nodes maintenance policy.",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ]
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "format": "double"
        },
        "nodeTypes": {
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "type": "array",
          "items": {
            "$ref": "SoleTenantNodeType"
          }
        }
      },
      "type": "object"
    },
    "OpenFileDetails": {
      "id": "OpenFileDetails",
      "description": "Open file Information.",
      "properties": {
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "user": {
          "description": "Opened file user.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlServerServerFlag": {
      "type": "object",
      "description": "SQL Server server flag details.",
      "properties": {
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        },
        "value": {
          "description": "Required. The server flag value set by the user.",
          "type": "string"
        },
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        }
      },
      "id": "SqlServerServerFlag"
    },
    "Insight": {
      "type": "object",
      "description": "An insight about an asset.",
      "properties": {
        "migrationInsight": {
          "readOnly": true,
          "description": "Output only. An insight about potential migrations for an asset.",
          "$ref": "MigrationInsight"
        },
        "genericInsight": {
          "$ref": "GenericInsight",
          "readOnly": true,
          "description": "Output only. A generic insight about an asset."
        }
      },
      "id": "Insight"
    },
    "ImportRowErrorCsvErrorDetails": {
      "type": "object",
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file.",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        }
      }
    },
    "VmwareEnginePreferences": {
      "id": "VmwareEnginePreferences",
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "properties": {
        "memoryOvercommitRatio": {
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double",
          "type": "number"
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ],
          "type": "string"
        },
        "storageDeduplicationCompressionRatio": {
          "type": "number",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double"
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "type": "object",
      "id": "ReportSummarySoleTenantNodeAllocation",
      "description": "Represents the assets allocated to a specific Sole-Tenant node type.",
      "properties": {
        "nodeCount": {
          "type": "string",
          "description": "Count of this node type to be provisioned",
          "format": "int64"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets allocated to these nodes",
          "format": "int64"
        },
        "node": {
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\"",
          "$ref": "SoleTenantNodeType"
        }
      }
    },
    "MySqlPlugin": {
      "id": "MySqlPlugin",
      "description": "MySql plugin.",
      "properties": {
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VmwareDiskConfig": {
      "description": "VMware disk config details.",
      "properties": {
        "backingType": {
          "type": "string",
          "description": "VMDK backing type.",
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ]
        },
        "shared": {
          "description": "Is VMDK shared with other VMs.",
          "type": "boolean"
        },
        "vmdkMode": {
          "description": "VMDK disk mode.",
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ],
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ],
          "type": "string"
        },
        "rdmCompatibility": {
          "type": "string",
          "description": "RDM compatibility mode.",
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ],
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ]
        }
      },
      "id": "VmwareDiskConfig",
      "type": "object"
    },
    "AggregateAssetsValuesResponse": {
      "id": "AggregateAssetsValuesResponse",
      "description": "A response to a request to aggregated assets values.",
      "properties": {
        "results": {
          "description": "The aggregation results.",
          "type": "array",
          "items": {
            "$ref": "AggregationResult"
          }
        }
      },
      "type": "object"
    },
    "ExecutionReport": {
      "type": "object",
      "description": "A resource that reports result of the import job execution.",
      "properties": {
        "framesReported": {
          "description": "Total number of asset frames reported for the import job.",
          "format": "int32",
          "type": "integer"
        },
        "totalRowsCount": {
          "readOnly": true,
          "description": "Output only. Total number of rows in the import job.",
          "format": "int32",
          "type": "integer"
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        }
      },
      "id": "ExecutionReport"
    },
    "NetworkAdapterDetails": {
      "type": "object",
      "description": "Details of network adapter.",
      "properties": {
        "adapterType": {
          "description": "Network adapter type (e.g. VMXNET3).",
          "type": "string"
        },
        "macAddress": {
          "description": "MAC address.",
          "type": "string"
        },
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        }
      },
      "id": "NetworkAdapterDetails"
    },
    "AwsRds": {
      "description": "Specific details for an AWS RDS database deployment.",
      "properties": {},
      "id": "AwsRds",
      "type": "object"
    },
    "NetworkAddress": {
      "description": "Details of network address.",
      "properties": {
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "assignment": {
          "type": "string",
          "description": "Whether DHCP is used to assign addresses.",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ]
        },
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        },
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "fqdn": {
          "description": "Fully qualified domain name.",
          "type": "string"
        }
      },
      "id": "NetworkAddress",
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "properties": {
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the group was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the group.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the group was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlServerDatabaseDeployment": {
      "id": "SqlServerDatabaseDeployment",
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "properties": {
        "serverFlags": {
          "description": "Optional. List of SQL Server server flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerServerFlag"
          }
        },
        "traceFlags": {
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          },
          "description": "Optional. List of SQL Server trace flags."
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "SqlServerFeature"
          },
          "description": "Optional. List of SQL Server features."
        }
      },
      "type": "object"
    },
    "ListDiscoveryClientsResponse": {
      "type": "object",
      "description": "Response message for listing discovery clients.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "discoveryClients": {
          "type": "array",
          "items": {
            "$ref": "DiscoveryClient"
          },
          "description": "List of discovery clients."
        }
      },
      "id": "ListDiscoveryClientsResponse"
    },
    "GuestOsDetails": {
      "description": "Information from Guest-level collections.",
      "properties": {
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "family": {
          "description": "What family the OS belong to, if known.",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "type": "string"
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        }
      },
      "id": "GuestOsDetails",
      "type": "object"
    },
    "PostgreSqlExtension": {
      "type": "object",
      "id": "PostgreSqlExtension",
      "description": "PostgreSql extension.",
      "properties": {
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      }
    },
    "ReportSummaryGroupFinding": {
      "id": "ReportSummaryGroupFinding",
      "description": "Summary Findings for a specific Group.",
      "properties": {
        "displayName": {
          "description": "Display Name for the Group.",
          "type": "string"
        },
        "preferenceSetFindings": {
          "description": "Findings for each of the PreferenceSets for this group.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          }
        },
        "description": {
          "description": "Description for the Group.",
          "type": "string"
        },
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "overlappingAssetCount": {
          "deprecated": true,
          "type": "string",
          "description": "This field is deprecated, do not rely on it having a value.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "SqlServerSchemaDetails": {
      "id": "SqlServerSchemaDetails",
      "description": "Specific details for a SqlServer database.",
      "properties": {
        "clrObjectCount": {
          "description": "Optional. SqlServer number of CLR objects.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PostgreSqlDatabaseDeployment": {
      "type": "object",
      "description": "Specific details for a PostgreSQL database deployment.",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "description": "Optional. List of PostgreSql properties."
        },
        "settings": {
          "description": "Optional. List of PostgreSql settings.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlSetting"
          }
        }
      },
      "id": "PostgreSqlDatabaseDeployment"
    },
    "MachinePreferences": {
      "type": "object",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions.",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        }
      },
      "id": "MachinePreferences"
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "description": "Response message for listing relations.",
      "properties": {
        "relations": {
          "description": "A list of relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiskPartition": {
      "type": "object",
      "id": "DiskPartition",
      "description": "Disk Partition details.",
      "properties": {
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "type": {
          "description": "Partition type.",
          "type": "string"
        },
        "capacityBytes": {
          "description": "Partition capacity.",
          "format": "int64",
          "type": "string"
        },
        "freeBytes": {
          "type": "string",
          "description": "Partition free space.",
          "format": "int64"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        }
      }
    },
    "Source": {
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the source was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full name of the source.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "format": "int32"
        },
        "errorFrameCount": {
          "readOnly": true,
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the source.",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ]
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "managed": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        },
        "pendingFrameCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of frames that are still being processed.",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "description": "Data source type.",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        }
      },
      "id": "Source",
      "type": "object"
    },
    "MachineDetails": {
      "description": "Details of a machine.",
      "properties": {
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "powerState": {
          "type": "string",
          "description": "Power state of the machine.",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "coreCount": {
          "type": "integer",
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "format": "int32"
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "createTime": {
          "type": "string",
          "description": "Machine creation time.",
          "format": "google-datetime"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        }
      },
      "id": "MachineDetails",
      "type": "object"
    },
    "ValidationReport": {
      "type": "object",
      "description": "A resource that aggregates errors across import job files.",
      "properties": {
        "fileValidations": {
          "type": "array",
          "items": {
            "$ref": "FileValidationReport"
          },
          "description": "List of errors found in files."
        },
        "jobErrors": {
          "description": "List of job level errors.",
          "type": "array",
          "items": {
            "$ref": "ImportError"
          }
        }
      },
      "id": "ValidationReport"
    },
    "VmwarePlatformDetails": {
      "id": "VmwarePlatformDetails",
      "description": "VMware specific details.",
      "properties": {
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "esxHyperthreading": {
          "description": "Whether the ESX is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string"
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        },
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportConfig": {
      "description": "The groups and associated preference sets on which we can generate reports.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Name of resource.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "groupPreferencesetAssignments": {
          "type": "array",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          },
          "description": "Required. Collection of combinations of groups and preference sets."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ReportConfig",
      "type": "object"
    },
    "RunImportJobRequest": {
      "type": "object",
      "description": "A request to run an import job.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunImportJobRequest"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "ComputeEnginePreferences": {
      "id": "ComputeEnginePreferences",
      "description": "The user preferences relating to Compute Engine target platform.",
      "properties": {
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        },
        "licenseType": {
          "type": "string",
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ]
        },
        "persistentDiskType": {
          "type": "string",
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        }
      },
      "type": "object"
    },
    "ListReportConfigsResponse": {
      "id": "ListReportConfigsResponse",
      "description": "Response message for listing report configs.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reportConfigs": {
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs."
        }
      },
      "type": "object"
    },
    "ComputeEngineShapeDescriptor": {
      "type": "object",
      "description": "Compute Engine target shape descriptor.",
      "properties": {
        "machineType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compute Engine machine type."
        },
        "series": {
          "type": "string",
          "description": "Output only. Compute Engine machine series.",
          "readOnly": true
        },
        "physicalCoreCount": {
          "type": "integer",
          "description": "Number of physical cores.",
          "format": "int32"
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "storage": {
          "type": "array",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "readOnly": true,
          "description": "Output only. Compute Engine storage. Never empty."
        },
        "memoryMb": {
          "description": "Memory in mebibytes.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ComputeEngineShapeDescriptor"
    },
    "AssetsExportJobInventory": {
      "description": "Configuration for asset inventory details exports.",
      "properties": {},
      "id": "AssetsExportJobInventory",
      "type": "object"
    },
    "ReportAssetFramesResponse": {
      "description": "A response to a call to `ReportAssetFrame`.",
      "properties": {},
      "id": "ReportAssetFramesResponse",
      "type": "object"
    },
    "AggregateAssetsValuesRequest": {
      "type": "object",
      "id": "AggregateAssetsValuesRequest",
      "description": "A request to aggregate one or more values.",
      "properties": {
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined."
        },
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        }
      }
    },
    "FstabEntry": {
      "description": "Single fstab entry.",
      "properties": {
        "spec": {
          "description": "The block special device or remote filesystem to be mounted.",
          "type": "string"
        },
        "passno": {
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
[...]
