{
  "title": "Migration Center API",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "migrationcenter:v1",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/migration-center",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260503",
  "kind": "discovery#restDescription",
  "version": "v1",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "basePath": "",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "migrationcenter",
  "schemas": {
    "FstabEntryList": {
      "description": "Fstab content.",
      "properties": {
        "entries": {
          "description": "Fstab entries.",
          "type": "array",
          "items": {
            "$ref": "FstabEntry"
          }
        }
      },
      "id": "FstabEntryList",
      "type": "object"
    },
    "DatabaseInstance": {
      "type": "object",
      "id": "DatabaseInstance",
      "description": "Details of a database instance.",
      "properties": {
        "network": {
          "description": "Optional. Networking details.",
          "$ref": "DatabaseInstanceNetwork"
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. The instance's name."
        },
        "role": {
          "description": "Optional. The instance role in the database engine.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ]
        }
      }
    },
    "BatchDeleteAssetsRequest": {
      "type": "object",
      "description": "A request to delete a list of asset.",
      "properties": {
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`."
        },
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cascadingRules": {
          "type": "array",
          "items": {
            "$ref": "CascadingRule"
          },
          "description": "Optional. Optional cascading rules for deleting related assets."
        }
      },
      "id": "BatchDeleteAssetsRequest"
    },
    "MySqlPlugin": {
      "id": "MySqlPlugin",
      "description": "MySql plugin.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. The plugin version."
        },
        "plugin": {
          "type": "string",
          "description": "Required. The plugin name."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "OutputFile": {
      "id": "OutputFile",
      "description": "Contains a single output file.",
      "properties": {
        "csvOutputFile": {
          "$ref": "CsvOutputFile",
          "readOnly": true,
          "description": "Output only. CSV output file."
        },
        "xlsxOutputFile": {
          "readOnly": true,
          "$ref": "XlsxOutputFile",
          "description": "Output only. XLSX output file."
        },
        "fileSizeBytes": {
          "description": "Output only. File size in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportConfig": {
      "id": "ReportConfig",
      "description": "The groups and associated preference sets on which we can generate reports.",
      "properties": {
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "groupPreferencesetAssignments": {
          "description": "Required. Collection of combinations of groups and preference sets.",
          "type": "array",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          }
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated."
        }
      },
      "type": "object"
    },
    "ReportSummaryComputeEngineFinding": {
      "type": "object",
      "description": "A set of findings that applies to assets destined for Compute Engine.",
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allocatedAssetCount": {
          "description": "Count of assets which were allocated.",
          "type": "string",
          "format": "int64"
        },
        "machineSeriesAllocations": {
          "description": "Distribution of assets based on the Machine Series.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          }
        },
        "allocatedDiskTypes": {
          "description": "Set of disk types allocated to assets.",
          "type": "array",
          "items": {
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ]
          }
        }
      },
      "id": "ReportSummaryComputeEngineFinding"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "id": "Date"
    },
    "DiskEntryList": {
      "description": "VM disks.",
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "id": "DiskEntryList",
      "type": "object"
    },
    "BatchUpdateAssetsRequest": {
      "type": "object",
      "id": "BatchUpdateAssetsRequest",
      "description": "A request to update a list of assets.",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      }
    },
    "MemoryUsageSample": {
      "type": "object",
      "id": "MemoryUsageSample",
      "description": "Memory usage sample.",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100]."
        }
      }
    },
    "ImportRowErrorArchiveErrorDetails": {
      "id": "ImportRowErrorArchiveErrorDetails",
      "description": "Error details for an archive file.",
      "properties": {
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        },
        "filePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file path inside the archive where the error was detected."
        }
      },
      "type": "object"
    },
    "CsvOutputFile": {
      "type": "object",
      "description": "Contains a single output file of type CSV.",
      "properties": {
        "columnsCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of columns in the file."
        },
        "signedUri": {
          "readOnly": true,
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination."
        },
        "rowCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of rows in the file."
        }
      },
      "id": "CsvOutputFile"
    },
    "ImportRowError": {
      "id": "ImportRowError",
      "description": "A resource that reports the import job errors at row level.",
      "properties": {
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM in the row."
        },
        "assetTitle": {
          "description": "Output only. The asset title.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "The list of errors detected in the row."
        },
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "vmUuid": {
          "type": "string",
          "description": "The VM UUID."
        },
        "archiveError": {
          "$ref": "ImportRowErrorArchiveErrorDetails",
          "description": "Error details for an archive file."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "NetworkConnectionList": {
      "description": "Network connection list.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NetworkConnection"
          },
          "description": "Network connection entries."
        }
      },
      "id": "NetworkConnectionList",
      "type": "object"
    },
    "RegionPreferences": {
      "type": "object",
      "description": "The user preferences relating to target regions.",
      "properties": {
        "preferredRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions."
        }
      },
      "id": "RegionPreferences"
    },
    "AggregationResultFrequency": {
      "type": "object",
      "description": "The result of a frequency distribution aggregation.",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "AggregationResultFrequency"
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment.",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "MySqlProperty"
          },
          "description": "Optional. List of MySql properties."
        },
        "resourceGroupsCount": {
          "description": "Optional. Number of resource groups.",
          "type": "integer",
          "format": "int32"
        },
        "variables": {
          "description": "Optional. List of MySql variables.",
          "type": "array",
          "items": {
            "$ref": "MySqlVariable"
          }
        },
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          }
        }
      },
      "type": "object"
    },
    "ReportSummaryChartData": {
      "id": "ReportSummaryChartData",
      "description": "Describes a collection of data points rendered as a Chart.",
      "properties": {
        "dataPoints": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value."
        }
      },
      "type": "object"
    },
    "SqlServerDatabaseDeployment": {
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "properties": {
        "traceFlags": {
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          },
          "description": "Optional. List of SQL Server trace flags."
        },
        "features": {
          "description": "Optional. List of SQL Server features.",
          "type": "array",
          "items": {
            "$ref": "SqlServerFeature"
          }
        },
        "serverFlags": {
          "description": "Optional. List of SQL Server server flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerServerFlag"
          }
        }
      },
      "id": "SqlServerDatabaseDeployment",
      "type": "object"
    },
    "PreferenceSet": {
      "type": "object",
      "description": "The preferences that apply to all assets in a given context.",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the preference set was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "virtualMachinePreferences": {
          "description": "Optional. A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "description": {
          "type": "string",
          "description": "A description of the preference set."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the preference set."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        }
      },
      "id": "PreferenceSet"
    },
    "AggregateAssetsValuesRequest": {
      "type": "object",
      "description": "A request to aggregate one or more values.",
      "properties": {
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "filter": {
          "type": "string",
          "description": "Optional. The aggregation will be performed on assets that match the provided filter."
        },
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined."
        }
      },
      "id": "AggregateAssetsValuesRequest"
    },
    "PostgreSqlProperty": {
      "type": "object",
      "description": "PostgreSql property.",
      "properties": {
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        }
      },
      "id": "PostgreSqlProperty"
    },
    "ErrorFrame": {
      "id": "ErrorFrame",
      "description": "Message representing a frame which failed to be processed due to an error.",
      "properties": {
        "name": {
          "description": "Output only. The identifier of the ErrorFrame.",
          "readOnly": true,
          "type": "string"
        },
        "violations": {
          "type": "array",
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "readOnly": true,
          "description": "Output only. All the violations that were detected for the frame."
        },
        "originalFrame": {
          "description": "Output only. The frame that was originally reported.",
          "readOnly": true,
          "$ref": "AssetFrame"
        },
        "ingestionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Frame ingestion time."
        }
      },
      "type": "object"
    },
    "GuestOsDetails": {
      "description": "Information from Guest-level collections.",
      "properties": {
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "runtime": {
          "$ref": "GuestRuntimeDetails",
          "description": "Runtime information."
        },
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "family": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "description": "What family the OS belong to, if known.",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ]
        }
      },
      "id": "GuestOsDetails",
      "type": "object"
    },
    "MachineDiskDetails": {
      "description": "Details of machine disks.",
      "properties": {
        "totalFreeBytes": {
          "description": "Total disk free space.",
          "format": "int64",
          "type": "string"
        },
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "totalCapacityBytes": {
          "description": "Disk total Capacity.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "MachineDiskDetails",
      "type": "object"
    },
    "AggregateAssetsValuesResponse": {
      "type": "object",
      "description": "A response to a request to aggregated assets values.",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "AggregationResult"
          },
          "description": "The aggregation results."
        }
      },
      "id": "AggregateAssetsValuesResponse"
    },
    "VmwareDiskConfig": {
      "description": "VMware disk config details.",
      "properties": {
        "vmdkMode": {
          "type": "string",
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ],
          "description": "VMDK disk mode.",
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ]
        },
        "rdmCompatibility": {
          "description": "RDM compatibility mode.",
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ]
        },
        "backingType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "description": "VMDK backing type.",
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ]
        },
        "shared": {
          "type": "boolean",
          "description": "Is VMDK shared with other VMs."
        }
      },
      "id": "VmwareDiskConfig",
      "type": "object"
    },
    "DatabaseDeploymentTopology": {
      "type": "object",
      "description": "Details of database deployment's topology.",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          },
          "description": "Optional. List of database instances."
        },
        "diskUsedBytes": {
          "description": "Optional. Disk used in bytes.",
          "format": "int64",
          "type": "string"
        },
        "physicalCoreLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of total physical cores limited by db deployment."
        },
        "coreCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of total logical cores."
        },
        "diskAllocatedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Disk allocated in bytes."
        },
        "coreLimit": {
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "format": "int32",
          "type": "integer"
        },
        "memoryBytes": {
          "description": "Optional. Total memory in bytes.",
          "type": "string",
          "format": "int64"
        },
        "memoryLimitBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Total memory in bytes limited by db deployment."
        },
        "physicalCoreCount": {
          "description": "Optional. Number of total physical cores.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DatabaseDeploymentTopology"
    },
    "ListErrorFramesResponse": {
      "type": "object",
      "description": "A response for listing error frames.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errorFrames": {
          "type": "array",
          "items": {
            "$ref": "ErrorFrame"
          },
          "description": "The list of error frames."
        }
      },
      "id": "ListErrorFramesResponse"
    },
    "Insight": {
      "id": "Insight",
      "description": "An insight about an asset.",
      "properties": {
        "migrationInsight": {
          "readOnly": true,
          "$ref": "MigrationInsight",
          "description": "Output only. An insight about potential migrations for an asset."
        },
        "genericInsight": {
          "description": "Output only. A generic insight about an asset.",
          "readOnly": true,
          "$ref": "GenericInsight"
        }
      },
      "type": "object"
    },
    "SqlServerFeature": {
      "type": "object",
      "id": "SqlServerFeature",
      "description": "SQL Server feature details.",
      "properties": {
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        },
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        }
      }
    },
    "ComputeStorageDescriptor": {
      "description": "Compute Engine storage option descriptor.",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Output only. Disk type backing the storage.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "sizeGb": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Disk size in GiB."
        }
      },
      "id": "ComputeStorageDescriptor",
      "type": "object"
    },
    "ListImportJobsResponse": {
      "description": "A response for listing import jobs.",
      "properties": {
        "importJobs": {
          "description": "The list of import jobs.",
          "type": "array",
          "items": {
            "$ref": "ImportJob"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListImportJobsResponse",
      "type": "object"
    },
    "NetworkAdapterDetails": {
      "description": "Details of network adapter.",
      "properties": {
        "macAddress": {
          "description": "MAC address.",
          "type": "string"
        },
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        },
        "addresses": {
          "$ref": "NetworkAddressList",
          "description": "NetworkAddressList"
        }
      },
      "id": "NetworkAdapterDetails",
      "type": "object"
    },
    "RunningProcessList": {
      "type": "object",
      "description": "List of running guest OS processes.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "RunningProcess"
          },
          "description": "Running process entries."
        }
      },
      "id": "RunningProcessList"
    },
    "AssetsExportJob": {
      "type": "object",
      "id": "AssetsExportJob",
      "description": "Assets export job message.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name."
        },
        "condition": {
          "$ref": "AssetsExportJobExportCondition",
          "description": "Optional. Conditions for selecting assets to export."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
        },
        "recentExecutions": {
          "type": "array",
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "readOnly": true,
          "description": "Output only. Recent non expired executions of the job."
        },
        "updateTime": {
          "description": "Output only. Resource update time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "networkDependencies": {
          "description": "Export data regarding asset network dependencies.",
          "$ref": "AssetsExportJobNetworkDependencies"
        },
        "signedUriDestination": {
          "description": "Export to Cloud Storage files downloadable using signed URIs.",
          "$ref": "SignedUriDestination"
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "performanceData": {
          "$ref": "AssetsExportJobPerformanceData",
          "description": "Export asset with performance data."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Resource creation time."
        }
      }
    },
    "MachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions.",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        }
      },
      "id": "MachinePreferences",
      "type": "object"
    },
    "ReportSummaryVmwareNodeAllocation": {
      "type": "object",
      "id": "ReportSummaryVmwareNodeAllocation",
      "description": "Represents assets allocated to a specific VMWare Node type.",
      "properties": {
        "vmwareNode": {
          "$ref": "ReportSummaryVmwareNode",
          "description": "VMWare node type, e.g. \"ve1-standard-72\""
        },
        "nodeCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of this node type to be provisioned"
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets allocated to these nodes"
        }
      }
    },
    "NetworkUsageSample": {
      "id": "NetworkUsageSample",
      "description": "Network usage sample. Values are across all network interfaces.",
      "properties": {
        "averageIngressBps": {
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "format": "float",
          "type": "number"
        },
        "averageEgressBps": {
          "format": "float",
          "type": "number",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative."
        }
      },
      "type": "object"
    },
    "FrameViolationEntry": {
      "type": "object",
      "id": "FrameViolationEntry",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field of the original frame where the violation occurred."
        },
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        }
      }
    },
    "NetworkAddressList": {
      "type": "object",
      "description": "List of allocated/assigned network addresses.",
      "properties": {
        "entries": {
          "description": "Network address entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAddress"
          }
        }
      },
      "id": "NetworkAddressList"
    },
    "VmwareEnginePreferences": {
      "type": "object",
      "id": "VmwareEnginePreferences",
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "properties": {
        "cpuOvercommitRatio": {
          "format": "double",
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment."
        },
        "memoryOvercommitRatio": {
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "type": "number",
          "format": "double"
        },
        "storageDeduplicationCompressionRatio": {
          "type": "number",
          "format": "double",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0."
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ]
        }
      }
    },
    "ListSourcesResponse": {
      "type": "object",
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "The list of sources."
        }
      }
    },
    "AssetsExportJobNetworkDependencies": {
      "type": "object",
      "description": "Configuration for network dependencies exports.",
      "properties": {},
      "id": "AssetsExportJobNetworkDependencies"
    },
    "MySqlStorageEngineDetails": {
      "id": "MySqlStorageEngineDetails",
      "description": "Mysql storage engine tables.",
      "properties": {
        "engine": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "description": "Required. The storage engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        },
        "tableCount": {
          "description": "Optional. The number of tables.",
          "type": "integer",
          "format": "int32"
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListRelationsResponse": {
      "description": "Response message for listing relations.",
      "properties": {
        "relations": {
          "type": "array",
          "items": {
            "$ref": "Relation"
          },
          "description": "A list of relations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListRelationsResponse",
      "type": "object"
    },
    "CpuUsageSample": {
      "id": "CpuUsageSample",
      "description": "CPU usage sample.",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage."
        }
      },
      "type": "object"
    },
    "ReportSummary": {
      "id": "ReportSummary",
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "properties": {
        "allAssetsStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Aggregate statistics for all the assets across all the groups."
        },
        "groupFindings": {
          "description": "Findings for each Group included in this report.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          }
        }
      },
      "type": "object"
    },
    "Group": {
      "type": "object",
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the group was last updated."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the group was created."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the group."
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        }
      },
      "id": "Group"
    },
    "BiosDetails": {
      "id": "BiosDetails",
      "description": "Details about the BIOS.",
      "properties": {
        "id": {
          "type": "string",
          "description": "BIOS ID."
        },
        "version": {
          "type": "string",
          "description": "BIOS version."
        },
        "releaseDate": {
          "description": "BIOS release date.",
          "$ref": "Date"
        },
        "smbiosUuid": {
          "type": "string",
          "description": "SMBIOS UUID."
        },
        "biosName": {
          "description": "BIOS name. This fields is deprecated. Please use the `id` field instead.",
          "deprecated": true,
          "type": "string"
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Settings": {
      "description": "Describes the Migration Center settings related to the project.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the resource."
        },
        "disableCloudLogging": {
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs.",
          "type": "boolean"
        },
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        }
      },
      "id": "Settings",
      "type": "object"
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "id": "ReportSummarySoleTenantNodeAllocation",
      "description": "Represents the assets allocated to a specific Sole-Tenant node type.",
      "properties": {
        "nodeCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of this node type to be provisioned"
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets allocated to these nodes"
        },
        "node": {
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\"",
          "$ref": "SoleTenantNodeType"
        }
      },
      "type": "object"
    },
    "SignedUri": {
      "type": "object",
      "description": "Contains a signed URI.",
      "properties": {
        "uri": {
          "description": "Output only. Download URI for the file.",
          "readOnly": true,
          "type": "string"
        },
        "file": {
          "description": "Output only. Name of the file the Signed URI references.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SignedUri"
    },
    "ListAssetsExportJobsResponse": {
      "type": "object",
      "id": "ListAssetsExportJobsResponse",
      "description": "Response message for listing assets export jobs.",
      "properties": {
        "assetsExportJobs": {
          "type": "array",
          "items": {
            "$ref": "AssetsExportJob"
          },
          "readOnly": true,
          "description": "Output only. The list of assets export jobs."
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AggregationHistogram": {
      "id": "AggregationHistogram",
      "description": "Histogram of bucketed assets counts by field value.",
      "properties": {
        "lowerBounds": {
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "type": "object"
    },
    "DailyResourceUsageAggregationMemory": {
      "type": "object",
      "id": "DailyResourceUsageAggregationMemory",
      "description": "Statistical aggregation of memory usage.",
      "properties": {
        "utilizationPercentage": {
          "description": "Memory utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "AwsRds": {
      "type": "object",
      "description": "Specific details for an AWS RDS database deployment.",
      "properties": {},
      "id": "AwsRds"
    },
    "ImportError": {
      "description": "A resource that reports the errors encountered while processing an import job.",
      "properties": {
        "errorDetails": {
          "type": "string",
          "description": "The error information."
        },
        "severity": {
          "description": "The severity of the error.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "ImportError",
      "type": "object"
    },
    "GuestConfigDetails": {
      "id": "GuestConfigDetails",
      "description": "Guest OS config information.",
      "properties": {
        "fstab": {
          "$ref": "FstabEntryList",
          "description": "Mount list (Linux fstab)."
        },
        "hosts": {
          "$ref": "HostsEntryList",
          "description": "Hosts file (/etc/hosts)."
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "issue": {
          "type": "string",
          "description": "OS issue (typically /etc/issue in Linux)."
        },
        "selinuxMode": {
          "type": "string",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ]
        }
      },
      "type": "object"
    },
    "CascadingRule": {
      "description": "Specifies cascading rules for traversing relations.",
      "properties": {
        "cascadeLogicalDbs": {
          "$ref": "CascadeLogicalDBsRule",
          "description": "Cascading rule for related logical DBs."
        }
      },
      "id": "CascadingRule",
      "type": "object"
    },
    "UploadFileInfo": {
      "id": "UploadFileInfo",
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "properties": {
        "headers": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The headers that were used to sign the URI."
        },
        "signedUri": {
          "description": "Output only. Upload URI for the file.",
          "readOnly": true,
          "type": "string"
        },
        "uriExpirationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Expiration time of the upload URI."
        }
      },
      "type": "object"
    },
    "MachineSeries": {
      "type": "object",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      },
      "id": "MachineSeries"
    },
    "DailyResourceUsageAggregation": {
      "type": "object",
      "description": "Usage data aggregation for a single day.",
      "properties": {
        "cpu": {
          "$ref": "DailyResourceUsageAggregationCPU",
          "description": "CPU usage."
        },
        "memory": {
          "$ref": "DailyResourceUsageAggregationMemory",
          "description": "Memory usage."
        },
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        },
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "disk": {
          "$ref": "DailyResourceUsageAggregationDisk",
          "description": "Disk usage."
        }
      },
      "id": "DailyResourceUsageAggregation"
    },
    "ListReportConfigsResponse": {
      "id": "ListReportConfigsResponse",
      "description": "Response message for listing report configs.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "reportConfigs": {
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs."
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object"
    },
    "RunAssetsExportJobRequest": {
      "id": "RunAssetsExportJobRequest",
      "description": "A request to run an assets export job.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object"
    },
    "SqlServerTraceFlag": {
      "description": "SQL Server trace flag details.",
      "properties": {
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "description": "Required. The trace flag scope.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ]
        }
      },
      "id": "SqlServerTraceFlag",
      "type": "object"
    },
    "Aggregation": {
      "type": "object",
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.",
      "properties": {
        "sum": {
          "$ref": "AggregationSum",
          "description": "Sum over a numeric field."
        },
        "frequency": {
          "description": "Creates a frequency distribution of all field values.",
          "$ref": "AggregationFrequency"
        },
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        },
        "field": {
          "type": "string",
          "description": "The name of the field on which to aggregate."
        },
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        }
      },
      "id": "Aggregation"
    },
    "ReportAssetFramesResponse": {
      "description": "A response to a call to `ReportAssetFrame`.",
      "properties": {},
      "id": "ReportAssetFramesResponse",
      "type": "object"
    },
    "DiskPartitionList": {
      "type": "object",
      "id": "DiskPartitionList",
      "description": "Disk partition list.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DiskPartition"
          },
          "description": "Partition entries."
        }
      }
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "description": "Details of a logical database.",
      "properties": {
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "Optional. The database schemas."
        },
        "allocatedStorageBytes": {
          "description": "Optional. The allocated storage for the database in bytes.",
          "format": "int64",
          "type": "string"
        },
        "databaseName": {
          "description": "Required. The name of the database.",
          "type": "string"
        },
        "parentDatabaseDeployment": {
          "description": "Required. The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "ImportJob": {
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the import job was created."
        },
        "state": {
          "description": "Output only. The state of the import job.",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "readOnly": true,
          "type": "string"
        },
        "assetSource": {
          "type": "string",
          "description": "Required. Reference to a source."
        },
        "completeTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was completed."
        },
        "executionReport": {
          "$ref": "ExecutionReport",
          "readOnly": true,
          "description": "Output only. The report with the results of running the import job."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the import job was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true,
          "$ref": "ValidationReport"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AwsEc2PlatformDetails": {
      "description": "AWS EC2 specific details.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the machine in the AWS format."
        },
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        }
      },
      "id": "AwsEc2PlatformDetails",
      "type": "object"
    },
    "PerformanceSample": {
      "type": "object",
      "id": "PerformanceSample",
      "description": "Performance data sample.",
      "properties": {
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        },
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "sampleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the sample was collected. If omitted, the frame report time will be used."
        },
        "memory": {
          "$ref": "MemoryUsageSample",
          "description": "Memory usage sample."
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        }
      }
    },
    "GenericInsight": {
      "type": "object",
      "id": "GenericInsight",
      "description": "A generic insight about an asset.",
      "properties": {
        "defaultMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead."
        },
        "additionalInformation": {
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messageId": {
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "PostgreSqlSetting": {
      "description": "PostgreSql setting.",
      "properties": {
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "realValue": {
          "description": "Required. The setting real value.",
          "format": "float",
          "type": "number"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The setting int value."
        },
        "unit": {
          "type": "string",
          "description": "Optional. The setting unit."
        },
        "source": {
          "type": "string",
          "description": "Required. The setting source."
        }
      },
      "id": "PostgreSqlSetting",
      "type": "object"
    },
    "SqlServerSchemaDetails": {
      "id": "SqlServerSchemaDetails",
      "description": "Specific details for a SqlServer database.",
      "properties": {
        "clrObjectCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. SqlServer number of CLR objects."
        }
      },
      "type": "object"
    },
    "OpenFileDetails": {
      "type": "object",
      "description": "Open file Information.",
      "properties": {
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "Opened file user."
        }
      },
      "id": "OpenFileDetails"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "DiskPartitionDetails": {
      "description": "Disk partition details.",
      "properties": {
        "freeSpaceBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Total free space of all partitions."
        },
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        },
        "totalCapacityBytes": {
          "description": "Output only. Total capacity of all partitions.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "DiskPartitionDetails",
      "type": "object"
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "description": "Aggregated stats for the database deployment.",
      "properties": {
        "databaseCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of databases in the deployment."
        }
      },
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "type": "object"
    },
    "SoleTenancyPreferences": {
      "id": "SoleTenancyPreferences",
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "properties": {
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "type": "number",
          "format": "double"
        },
        "commitmentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment.",
            "3 years commitment."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR"
          ]
        },
        "nodeTypes": {
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "type": "array",
          "items": {
            "$ref": "SoleTenantNodeType"
          }
        },
        "hostMaintenancePolicy": {
          "description": "Sole Tenancy nodes maintenance policy.",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ]
        }
      },
      "type": "object"
    },
    "AssetsExportJobPerformanceData": {
      "id": "AssetsExportJobPerformanceData",
      "description": "Configuration for performance data exports.",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GenericPlatformDetails": {
      "id": "GenericPlatformDetails",
      "description": "Generic platform details.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field."
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        }
      },
      "type": "object"
    },
    "Source": {
      "type": "object",
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "properties": {
        "type": {
          "description": "Data source type.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was created."
        },
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "The information confidence of the source. The higher the value, the higher the confidence."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "readOnly": true,
          "description": "Output only. The state of the source.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ]
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the source was last updated."
        },
        "name": {
          "description": "Output only. The full name of the source.",
          "type": "string",
          "readOnly": true
        },
        "errorFrameCount": {
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name."
        },
        "pendingFrameCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of frames that are still being processed."
        },
        "managed": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        }
      },
      "id": "Source"
    },
    "FileValidationReport": {
      "id": "FileValidationReport",
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "The name of the file."
        },
        "partialReport": {
          "type": "boolean",
          "description": "Flag indicating that processing was aborted due to maximum number of errors."
        },
        "fileErrors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of file level errors."
        },
        "rowErrors": {
          "description": "Partial list of rows that encountered validation error.",
          "type": "array",
          "items": {
            "$ref": "ImportRowError"
          }
        }
      },
      "type": "object"
    },
    "AddAssetsToGroupRequest": {
      "type": "object",
      "description": "A request to add assets to a group.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000."
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        }
      },
      "id": "AddAssetsToGroupRequest"
    },
    "PhysicalPlatformDetails": {
      "type": "object",
      "description": "Platform specific details for Physical Machines.",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        }
      },
      "id": "PhysicalPlatformDetails"
    },
    "ComputeEngineShapeDescriptor": {
      "type": "object",
      "id": "ComputeEngineShapeDescriptor",
      "description": "Compute Engine target shape descriptor.",
      "properties": {
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "storage": {
          "description": "Output only. Compute Engine storage. Never empty.",
          "type": "array",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "readOnly": true
        },
        "memoryMb": {
          "description": "Memory in mebibytes.",
          "type": "integer",
          "format": "int32"
        },
        "physicalCoreCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of physical cores."
        },
        "machineType": {
          "description": "Output only. Compute Engine machine type.",
          "type": "string",
          "readOnly": true
        },
        "series": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compute Engine machine series."
        }
      }
    },
    "DiscoveryClient": {
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "properties": {
        "errors": {
          "description": "Output only. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. Full name of this discovery client.",
          "type": "string",
          "readOnly": true
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account used by the discovery client for various operation."
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Client version, as reported in recent heartbeat."
        },
        "createTime": {
          "description": "Output only. Time when the discovery client was first created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "heartbeatTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes)."
        },
        "description": {
          "type": "string",
          "description": "Optional. Free text description. Maximum length is 1000 characters."
        },
        "updateTime": {
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "source": {
          "description": "Required. Immutable. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "ttl": {
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "type": "string",
          "format": "google-duration"
        },
        "signalsEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This field is intended for internal use."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Free text display name. Maximum length is 63 characters."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time."
        },
        "state": {
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the discovery client.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "type": "string"
        }
      },
      "id": "DiscoveryClient",
      "type": "object"
    },
    "FstabEntry": {
      "description": "Single fstab entry.",
      "properties": {
        "passno": {
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "type": "integer",
          "format": "int32"
        },
        "file": {
          "description": "The mount point for the filesystem.",
          "type": "string"
        },
        "freq": {
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "type": "integer",
          "format": "int32"
        },
        "vfstype": {
          "description": "The type of the filesystem.",
          "type": "string"
        },
        "mntops": {
          "description": "Mount options associated with the filesystem.",
          "type": "string"
        },
        "spec": {
          "type": "string",
          "description": "The block special device or remote filesystem to be mounted."
        }
      },
      "id": "FstabEntry",
      "type": "object"
    },
    "MachineDetails": {
      "description": "Details of a machine.",
      "properties": {
        "createTime": {
          "description": "Machine creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform specific information."
        },
        "powerState": {
          "type": "string",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "description": "Power state of the machine.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        },
        "guestOs": {
          "$ref": "GuestOsDetails",
          "description": "Guest OS information."
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        }
      },
      "id": "MachineDetails",
      "type": "object"
    },
    "AssetFrame": {
      "id": "AssetFrame",
      "description": "Contains data reported from an inventory source on an asset.",
      "properties": {
        "machineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "MachineDetails"
        },
        "reportTime": {
          "description": "The time the data was reported.",
          "format": "google-datetime",
          "type": "string"
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "databaseDeploymentDetails": {
          "description": "Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "databaseDetails": {
          "description": "Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "performanceSamples": {
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "type": "array",
          "items": {
            "$ref": "PerformanceSample"
          }
        },
        "traceToken": {
          "type": "string",
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability."
        },
        "collectionType": {
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        }
      },
      "type": "object"
    },
    "RemoveAssetsFromGroupRequest": {
      "type": "object",
      "description": "A request to remove assets from a group.",
      "properties": {
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "RemoveAssetsFromGroupRequest"
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "type": "object",
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "description": "Represents a combination of a group with a preference set.",
      "properties": {
        "preferenceSet": {
          "type": "string",
          "description": "Required. Name of the Preference Set."
        },
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        }
      }
    },
    "Frames": {
      "type": "object",
      "description": "Collection of frame data.",
      "properties": {
        "framesData": {
          "description": "A repeated field of asset data.",
          "type": "array",
          "items": {
            "$ref": "AssetFrame"
          }
        }
      },
      "id": "Frames"
    },
    "ValidationReport": {
      "description": "A resource that aggregates errors across import job files.",
      "properties": {
        "fileValidations": {
          "type": "array",
          "items": {
            "$ref": "FileValidationReport"
          },
          "description": "List of errors found in files."
        },
        "jobErrors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of job level errors."
        }
      },
      "id": "ValidationReport",
      "type": "object"
    },
    "ListPreferenceSetsResponse": {
      "description": "Response message for listing preference sets.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "preferenceSets": {
          "description": "The list of PreferenceSets",
          "type": "array",
          "items": {
            "$ref": "PreferenceSet"
          }
        }
      },
      "id": "ListPreferenceSetsResponse",
      "type": "object"
    },
    "AssetsExportJobExecution": {
      "type": "object",
      "description": "Execution status of assets export job.",
      "properties": {
        "executionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Globally unique identifier of the execution."
        },
        "result": {
          "description": "Output only. Result of the export execution.",
          "readOnly": true,
          "$ref": "AssetsExportJobExecutionResult"
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Expiration time for the export and artifacts."
        },
        "requestedAssetCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of assets requested for export after resolving the requested filters."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Execution timestamp."
        },
[...]
