{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/migration-center",
  "schemas": {
    "PhysicalPlatformDetails": {
      "id": "PhysicalPlatformDetails",
      "type": "object",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "description": "Platform specific details for Physical Machines."
    },
    "AggregationHistogram": {
      "description": "Histogram of bucketed assets counts by field value.",
      "id": "AggregationHistogram",
      "type": "object",
      "properties": {
        "lowerBounds": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds."
        }
      }
    },
    "AggregationResultHistogram": {
      "id": "AggregationResultHistogram",
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          }
        }
      },
      "description": "The result of a bucketed histogram aggregation."
    },
    "ListGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The list of Group"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListGroupsResponse",
      "type": "object",
      "description": "A response for listing groups."
    },
    "PreferenceSet": {
      "id": "PreferenceSet",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was last updated."
        },
        "virtualMachinePreferences": {
          "description": "Optional. A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the preference set."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was created.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        }
      },
      "description": "The preferences that apply to all assets in a given context."
    },
    "ReportSummaryAssetAggregateStats": {
      "description": "Aggregate statistics for a collection of assets.",
      "properties": {
        "totalMemoryBytes": {
          "type": "string",
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "storageUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families.",
          "$ref": "ReportSummaryChartData"
        },
        "totalCores": {
          "format": "int64",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "type": "string"
        },
        "totalAssets": {
          "format": "int64",
          "description": "Count of the number of unique assets in this collection.",
          "type": "string"
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "totalStorageBytes": {
          "type": "string",
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "coreCountHistogram": {
          "description": "Histogram showing a distribution of logical CPU core counts.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "softwareInstances": {
          "readOnly": true,
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "$ref": "ReportSummaryChartData"
        }
      },
      "id": "ReportSummaryAssetAggregateStats",
      "type": "object"
    },
    "DatabaseSchema": {
      "properties": {
        "tablesSizeBytes": {
          "type": "string",
          "description": "Optional. The total size of tables in bytes.",
          "format": "int64"
        },
        "mysql": {
          "description": "Optional. Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "schemaName": {
          "description": "Required. The name of the schema.",
          "type": "string"
        },
        "objects": {
          "description": "Optional. List of details of objects by category.",
          "type": "array",
          "items": {
            "$ref": "DatabaseObjects"
          }
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "sqlServer": {
          "description": "Optional. Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        }
      },
      "id": "DatabaseSchema",
      "type": "object",
      "description": "Details of a database schema."
    },
    "GenericInsight": {
      "description": "A generic insight about an asset.",
      "id": "GenericInsight",
      "type": "object",
      "properties": {
        "additionalInformation": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links."
        },
        "messageId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead.",
          "format": "int64"
        },
        "defaultMessage": {
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AssetsExportJobExportCondition": {
      "description": "Conditions for selecting assets to export.",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "id": "AssetsExportJobExportCondition",
      "type": "object"
    },
    "ListImportJobsResponse": {
      "description": "A response for listing import jobs.",
      "properties": {
        "importJobs": {
          "items": {
            "$ref": "ImportJob"
          },
          "type": "array",
          "description": "The list of import jobs."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListImportJobsResponse",
      "type": "object"
    },
    "RuntimeNetworkInfo": {
      "description": "Runtime networking information.",
      "properties": {
        "scanTime": {
          "type": "string",
          "description": "Time of the last network scan.",
          "format": "google-datetime"
        },
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        }
      },
      "id": "RuntimeNetworkInfo",
      "type": "object"
    },
    "AssetPerformanceData": {
      "id": "AssetPerformanceData",
      "type": "object",
      "properties": {
        "dailyResourceUsageAggregations": {
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "type": "array",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          }
        }
      },
      "description": "Performance data for an asset."
    },
    "RunImportJobRequest": {
      "id": "RunImportJobRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "A request to run an import job."
    },
    "ListSourcesResponse": {
      "properties": {
        "sources": {
          "description": "The list of sources.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListSourcesResponse",
      "type": "object",
      "description": "Response message for listing sources."
    },
    "DiskUsageSample": {
      "description": "Disk usage sample. Values are across all disks.",
      "id": "DiskUsageSample",
      "type": "object",
      "properties": {
        "averageIops": {
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "format": "float",
          "type": "number"
        },
        "averageReadIops": {
          "format": "float",
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number"
        },
        "averageWriteIops": {
          "type": "number",
          "format": "float",
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
        }
      }
    },
    "Asset": {
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "properties": {
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "performanceData": {
          "description": "Output only. Performance data for the asset.",
          "$ref": "AssetPerformanceData",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "title": {
          "description": "Output only. Server generated human readable name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "databaseDeploymentDetails": {
          "description": "Output only. Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails",
          "readOnly": true
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "hideTime": {
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "description": "Output only. The list of sources contributing to the asset.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "machineDetails": {
          "description": "Output only. Asset information specific for virtual and physical machines.",
          "$ref": "MachineDetails",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the asset was created.",
          "format": "google-datetime"
        },
        "insightList": {
          "readOnly": true,
          "description": "Output only. The list of insights associated with the asset.",
          "$ref": "InsightList"
        },
        "databaseDetails": {
          "description": "Output only. Asset information specific for logical databases.",
          "$ref": "DatabaseDetails",
          "readOnly": true
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was last updated."
        },
        "assignedGroups": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of groups that the asset is assigned to."
        }
      },
      "id": "Asset",
      "type": "object"
    },
    "MachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions.",
      "id": "MachinePreferences",
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          }
        }
      }
    },
    "DiskPartitionList": {
      "description": "Disk partition list.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DiskPartition"
          },
          "description": "Partition entries."
        }
      },
      "id": "DiskPartitionList",
      "type": "object"
    },
    "AggregationCount": {
      "description": "Object count.",
      "id": "AggregationCount",
      "type": "object",
      "properties": {}
    },
    "Frames": {
      "properties": {
        "framesData": {
          "items": {
            "$ref": "AssetFrame"
          },
          "type": "array",
          "description": "A repeated field of asset data."
        }
      },
      "id": "Frames",
      "type": "object",
      "description": "Collection of frame data."
    },
    "RegionPreferences": {
      "description": "The user preferences relating to target regions.",
      "id": "RegionPreferences",
      "type": "object",
      "properties": {
        "preferredRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions."
        }
      }
    },
    "RunAssetsExportJobResponse": {
      "description": "Response message for running an assets export job.",
      "id": "RunAssetsExportJobResponse",
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "readOnly": true,
          "description": "Output only. Execution status of the assets export operation.",
          "$ref": "AssetsExportJobExecution"
        }
      }
    },
    "MySqlProperty": {
      "id": "MySqlProperty",
      "type": "object",
      "properties": {
        "numericValue": {
          "format": "int64",
          "description": "Required. The property numeric value.",
          "type": "string"
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        }
      },
      "description": "MySql property."
    },
    "AggregationResult": {
      "properties": {
        "field": {
          "type": "string"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "count": {
          "$ref": "AggregationResultCount"
        }
      },
      "id": "AggregationResult",
      "type": "object",
      "description": "Message describing a result of an aggregation."
    },
    "NfsExportList": {
      "id": "NfsExportList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NfsExport"
          },
          "description": "NFS export entries."
        }
      },
      "description": "NFS exports."
    },
    "AwsRds": {
      "description": "Specific details for an AWS RDS database deployment.",
      "properties": {},
      "id": "AwsRds",
      "type": "object"
    },
    "AssetsExportJobExecutionResult": {
      "description": "Contains the result of the assets export.",
      "properties": {
        "signedUris": {
          "readOnly": true,
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "$ref": "SignedUris"
        },
        "outputFiles": {
          "description": "Output only. List of output files.",
          "$ref": "OutputFileList",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Error encountered during export.",
          "$ref": "Status",
          "readOnly": true
        }
      },
      "id": "AssetsExportJobExecutionResult",
      "type": "object"
    },
    "SqlServerDatabaseDeployment": {
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "properties": {
        "traceFlags": {
          "description": "Optional. List of SQL Server trace flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          }
        },
        "serverFlags": {
          "description": "Optional. List of SQL Server server flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerServerFlag"
          }
        },
        "features": {
          "description": "Optional. List of SQL Server features.",
          "items": {
            "$ref": "SqlServerFeature"
          },
          "type": "array"
        }
      },
      "id": "SqlServerDatabaseDeployment",
      "type": "object"
    },
    "ReportSummaryHistogramChartData": {
      "properties": {
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      },
      "id": "ReportSummaryHistogramChartData",
      "type": "object",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket."
    },
    "SqlServerSchemaDetails": {
      "id": "SqlServerSchemaDetails",
      "type": "object",
      "properties": {
        "clrObjectCount": {
          "description": "Optional. SqlServer number of CLR objects.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Specific details for a SqlServer database."
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "properties": {
        "allAssetsStats": {
          "description": "Aggregate statistics for all the assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "description": "Findings for each Group included in this report."
        }
      },
      "id": "ReportSummary",
      "type": "object"
    },
    "GuestOsDetails": {
      "description": "Information from Guest-level collections.",
      "properties": {
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "family": {
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "type": "string",
          "description": "What family the OS belong to, if known.",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ]
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        }
      },
      "id": "GuestOsDetails",
      "type": "object"
    },
    "CascadingRule": {
      "id": "CascadingRule",
      "type": "object",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      },
      "description": "Specifies cascading rules for traversing relations."
    },
    "NetworkAddress": {
      "description": "Details of network address.",
      "properties": {
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "assignment": {
          "description": "Whether DHCP is used to assign addresses.",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "type": "string"
        },
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        },
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "fqdn": {
          "description": "Fully qualified domain name.",
          "type": "string"
        }
      },
      "id": "NetworkAddress",
      "type": "object"
    },
    "ImportDataFile": {
      "id": "ImportDataFile",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the file."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the file was created."
        },
        "state": {
          "description": "Output only. The state of the import data file.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ]
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "format": {
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_STRATOZONE_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "description": "Required. The payload format.",
          "enumDescriptions": [
            "Default value.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually and following the StratoZone format. For more information, see Manually create and upload data tables.",
            "ZIP file with nested CSV files generated by a database collector."
          ]
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        }
      },
      "description": "A resource that represents a payload file in an import job."
    },
    "CsvOutputFile": {
      "id": "CsvOutputFile",
      "type": "object",
      "properties": {
        "rowCount": {
          "format": "int32",
          "description": "Output only. Number of rows in the file.",
          "readOnly": true,
          "type": "integer"
        },
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri",
          "readOnly": true
        },
        "columnsCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of columns in the file."
        }
      },
      "description": "Contains a single output file of type CSV."
    },
    "DatabaseDeploymentDetails": {
      "description": "The details of a database deployment asset.",
      "id": "DatabaseDeploymentDetails",
      "type": "object",
      "properties": {
        "generatedId": {
          "description": "Optional. The database deployment generated ID.",
          "type": "string"
        },
        "manualUniqueId": {
          "description": "Optional. A manual unique ID set by the user.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The database deployment version.",
          "type": "string"
        },
        "aggregatedStats": {
          "description": "Output only. Aggregated stats for the database deployment.",
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "readOnly": true
        },
        "awsRds": {
          "description": "Optional. Details of an AWS RDS instance.",
          "$ref": "AwsRds"
        },
        "topology": {
          "description": "Optional. Details of the database deployment topology.",
          "$ref": "DatabaseDeploymentTopology"
        },
        "edition": {
          "description": "Optional. The database deployment edition.",
          "type": "string"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "sqlServer": {
          "description": "Optional. Details of a Microsoft SQL Server database deployment.",
          "$ref": "SqlServerDatabaseDeployment"
        },
        "mysql": {
          "description": "Optional. Details of a MYSQL database deployment.",
          "$ref": "MysqlDatabaseDeployment"
        }
      }
    },
    "OutputFile": {
      "description": "Contains a single output file.",
      "properties": {
        "csvOutputFile": {
          "readOnly": true,
          "description": "Output only. CSV output file.",
          "$ref": "CsvOutputFile"
        },
        "fileSizeBytes": {
          "format": "int64",
          "description": "Output only. File size in bytes.",
          "readOnly": true,
          "type": "string"
        },
        "xlsxOutputFile": {
          "readOnly": true,
          "description": "Output only. XLSX output file.",
          "$ref": "XlsxOutputFile"
        }
      },
      "id": "OutputFile",
      "type": "object"
    },
    "DatabaseDetails": {
      "description": "Details of a logical database.",
      "properties": {
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "Optional. The database schemas."
        },
        "databaseName": {
          "description": "Required. The name of the database.",
          "type": "string"
        },
        "parentDatabaseDeployment": {
          "description": "Required. The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        },
        "allocatedStorageBytes": {
          "type": "string",
          "description": "Optional. The allocated storage for the database in bytes.",
          "format": "int64"
        }
      },
      "id": "DatabaseDetails",
      "type": "object"
    },
    "GuestRuntimeDetails": {
      "description": "Guest OS runtime information.",
      "id": "GuestRuntimeDetails",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Domain, e.g. c.stratozone-development.internal.",
          "type": "string"
        },
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "network": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        },
        "openFileList": {
          "description": "Open files information.",
          "$ref": "OpenFileList"
        },
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        },
        "lastBootTime": {
          "type": "string",
          "description": "Last time the OS was booted.",
          "format": "google-datetime"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        }
      }
    },
    "FrameViolationEntry": {
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "id": "FrameViolationEntry",
      "type": "object",
      "properties": {
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        },
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        }
      }
    },
    "SignedUriDestination": {
      "description": "Signed URI destination configuration.",
      "properties": {
        "fileFormat": {
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "Required. The file format to export.",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ]
        }
      },
      "id": "SignedUriDestination",
      "type": "object"
    },
    "ListImportDataFilesResponse": {
      "id": "ListImportDataFilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "importDataFiles": {
          "type": "array",
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response for listing payload files of an import job."
    },
    "ListPreferenceSetsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "preferenceSets": {
          "description": "The list of PreferenceSets",
          "items": {
            "$ref": "PreferenceSet"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListPreferenceSetsResponse",
      "type": "object",
      "description": "Response message for listing preference sets."
    },
    "PlatformDetails": {
      "description": "Information about the platform.",
      "properties": {
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        },
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "vmwareDetails": {
          "description": "VMware specific details.",
          "$ref": "VmwarePlatformDetails"
        },
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "azureVmDetails": {
          "description": "Azure VM specific details.",
          "$ref": "AzureVmPlatformDetails"
        }
      },
      "id": "PlatformDetails",
      "type": "object"
    },
    "MySqlStorageEngineDetails": {
      "properties": {
        "engine": {
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ],
          "description": "Required. The storage engine.",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ]
        },
        "encryptedTableCount": {
          "format": "int32",
          "description": "Optional. The number of encrypted tables.",
          "type": "integer"
        },
        "tableCount": {
          "type": "integer",
          "description": "Optional. The number of tables.",
          "format": "int32"
        }
      },
      "id": "MySqlStorageEngineDetails",
      "type": "object",
      "description": "Mysql storage engine tables."
    },
    "DiskPartitionDetails": {
      "id": "DiskPartitionDetails",
      "type": "object",
      "properties": {
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        },
        "totalCapacityBytes": {
          "format": "int64",
          "description": "Output only. Total capacity of all partitions.",
          "readOnly": true,
          "type": "string"
        },
        "freeSpaceBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total free space of all partitions.",
          "format": "int64"
        }
      },
      "description": "Disk partition details."
    },
    "VmwareEnginePreferences": {
      "properties": {
        "cpuOvercommitRatio": {
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "format": "double"
        },
        "memoryOvercommitRatio": {
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double",
          "type": "number"
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ],
          "type": "string"
        },
        "storageDeduplicationCompressionRatio": {
          "format": "double",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "type": "number"
        }
      },
      "id": "VmwareEnginePreferences",
      "type": "object",
      "description": "The user preferences relating to Google Cloud VMware Engine target platform."
    },
    "DailyResourceUsageAggregationCPU": {
      "description": "Statistical aggregation of CPU usage.",
      "id": "DailyResourceUsageAggregationCPU",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "description": "CPU utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "SqlServerServerFlag": {
      "properties": {
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        },
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        },
        "value": {
          "description": "Required. The server flag value set by the user.",
          "type": "string"
        }
      },
      "id": "SqlServerServerFlag",
      "type": "object",
      "description": "SQL Server server flag details."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "description": "Represents a combination of a group with a preference set.",
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "type": "object",
      "properties": {
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        },
        "preferenceSet": {
          "description": "Required. Name of the Preference Set.",
          "type": "string"
        }
      }
    },
    "AzureVmPlatformDetails": {
      "description": "Azure VM specific details.",
      "properties": {
        "machineTypeLabel": {
          "description": "Azure platform's machine type label.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string"
        }
      },
      "id": "AzureVmPlatformDetails",
      "type": "object"
    },
    "BatchUpdateAssetsRequest": {
      "id": "BatchUpdateAssetsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateAssetRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch."
        }
      },
      "description": "A request to update a list of assets."
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "NetworkConnectionList": {
      "id": "NetworkConnectionList",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Network connection entries.",
          "items": {
            "$ref": "NetworkConnection"
          },
          "type": "array"
        }
      },
      "description": "Network connection list."
    },
    "ComputeStorageDescriptor": {
      "description": "Compute Engine storage option descriptor.",
      "id": "ComputeStorageDescriptor",
      "type": "object",
      "properties": {
        "sizeGb": {
          "description": "Output only. Disk size in GiB.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "type": {
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "readOnly": true,
          "description": "Output only. Disk type backing the storage."
        }
      }
    },
    "ReportSummaryUtilizationChartData": {
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "id": "ReportSummaryUtilizationChartData",
      "type": "object",
      "properties": {
        "free": {
          "type": "string",
          "format": "int64",
          "description": "Aggregate value which falls into the \"Free\" bucket."
        },
        "used": {
          "type": "string",
          "format": "int64",
          "description": "Aggregate value which falls into the \"Used\" bucket."
        }
      }
    },
    "HostsEntry": {
      "id": "HostsEntry",
      "type": "object",
      "properties": {
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        },
        "hostNames": {
          "description": "List of host names / aliases.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Single /etc/hosts entry."
    },
    "AddAssetsToGroupRequest": {
      "description": "A request to add assets to a group.",
      "id": "AddAssetsToGroupRequest",
      "type": "object",
      "properties": {
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "DiscoveryClient": {
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "id": "DiscoveryClient",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the discovery client."
        },
        "signalsEndpoint": {
          "description": "Output only. This field is intended for internal use.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Errors affecting client functionality."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was first created."
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Client version, as reported in recent heartbeat."
        },
        "expireTime": {
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "format": "google-datetime",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field."
        },
        "source": {
          "description": "Required. Immutable. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Full name of this discovery client."
        },
        "heartbeatTime": {
          "format": "google-datetime",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListAssetsExportJobsResponse": {
      "description": "Response message for listing assets export jobs.",
      "properties": {
        "assetsExportJobs": {
          "description": "Output only. The list of assets export jobs.",
          "items": {
            "$ref": "AssetsExportJob"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ListAssetsExportJobsResponse",
      "type": "object"
    },
    "SqlServerTraceFlag": {
      "description": "SQL Server trace flag details.",
      "id": "SqlServerTraceFlag",
      "type": "object",
      "properties": {
        "scope": {
          "description": "Required. The trace flag scope.",
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ]
        },
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        }
      }
    },
    "Settings": {
      "description": "Describes the Migration Center settings related to the project.",
      "properties": {
        "disableCloudLogging": {
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The name of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        }
      },
      "id": "Settings",
      "type": "object"
    },
    "MachineDetails": {
      "description": "Details of a machine.",
      "properties": {
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "coreCount": {
          "format": "int32",
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "powerState": {
          "description": "Power state of the machine.",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Machine creation time."
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        }
      },
      "id": "MachineDetails",
      "type": "object"
    },
    "ReportSummaryChartData": {
      "description": "Describes a collection of data points rendered as a Chart.",
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array"
        }
      },
      "id": "ReportSummaryChartData",
      "type": "object"
    },
    "MachineDiskDetails": {
      "description": "Details of machine disks.",
      "properties": {
        "totalCapacityBytes": {
          "type": "string",
          "description": "Disk total Capacity.",
          "format": "int64"
        },
        "totalFreeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total disk free space."
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        }
      },
      "id": "MachineDiskDetails",
      "type": "object"
    },
    "AwsEc2PlatformDetails": {
      "description": "AWS EC2 specific details.",
      "id": "AwsEc2PlatformDetails",
      "type": "object",
      "properties": {
        "hyperthreading": {
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        },
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "DiskEntryList": {
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "id": "DiskEntryList",
      "type": "object",
      "description": "VM disks."
    },
    "ImportRowError": {
      "id": "ImportRowError",
      "type": "object",
      "properties": {
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "rowNumber": {
          "format": "int32",
          "description": "The row number where the error was detected.",
          "deprecated": true,
          "type": "integer"
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "errors": {
          "items": {
            "$ref": "ImportError"
          },
          "type": "array",
          "description": "The list of errors detected in the row."
        },
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        },
        "assetTitle": {
          "description": "Output only. The asset title.",
          "readOnly": true,
          "type": "string"
        },
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        }
      },
      "description": "A resource that reports the import job errors at row level."
    },
    "SignedUris": {
      "description": "Contains a list of Signed URIs.",
      "properties": {
        "signedUris": {
          "description": "Output only. List of signed URIs.",
          "items": {
            "$ref": "SignedUri"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "SignedUris",
      "type": "object"
    },
    "PostgreSqlSetting": {
      "id": "PostgreSqlSetting",
      "type": "object",
      "properties": {
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "intValue": {
          "format": "int64",
          "description": "Required. The setting int value.",
          "type": "string"
        },
        "realValue": {
          "type": "number",
          "description": "Required. The setting real value.",
          "format": "float"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        }
      },
      "description": "PostgreSql setting."
    },
    "ListDiscoveryClientsResponse": {
      "description": "Response message for listing discovery clients.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "discoveryClients": {
          "type": "array",
          "items": {
            "$ref": "DiscoveryClient"
          },
          "description": "List of discovery clients."
        }
      },
      "id": "ListDiscoveryClientsResponse",
      "type": "object"
    },
    "FitDescriptor": {
      "properties": {
        "fitLevel": {
          "readOnly": true,
          "description": "Output only. Fit level.",
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ]
        }
      },
      "id": "FitDescriptor",
      "type": "object",
      "description": "Describes the fit level of an asset for migration to a specific target."
    },
    "NetworkAddressList": {
      "properties": {
        "entries": {
          "description": "Network address entries.",
          "items": {
            "$ref": "NetworkAddress"
          },
          "type": "array"
        }
      },
      "id": "NetworkAddressList",
      "type": "object",
      "description": "List of allocated/assigned network addresses."
    },
    "InsightList": {
      "id": "InsightList",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update timestamp."
        },
        "insights": {
          "description": "Output only. Insights of the list.",
          "items": {
            "$ref": "Insight"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Message containing insights list."
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "CpuUsageSample": {
      "id": "CpuUsageSample",
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "type": "number"
        }
      },
      "description": "CPU usage sample."
    },
    "Report": {
      "id": "Report",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update timestamp."
        },
        "type": {
          "description": "Report type.",
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ]
        },
        "summary": {
          "readOnly": true,
          "description": "Output only. Summary view of the Report.",
          "$ref": "ReportSummary"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation timestamp.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "state": {
          "description": "Report creation state.",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        }
      },
      "description": "Report represents a point-in-time rendering of the ReportConfig results."
    },
    "AssetList": {
      "description": "Lists the asset IDs of all assets.",
      "id": "AssetList",
      "type": "object",
      "properties": {
        "assetIds": {
          "description": "Required. A list of asset IDs",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "RunningServiceList": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "RunningService"
          },
          "description": "Running service entries."
        }
      },
      "id": "RunningServiceList",
      "type": "object",
      "description": "List of running guest OS services."
    },
    "ReportSummaryComputeEngineFinding": {
      "description": "A set of findings that applies to assets destined for Compute Engine.",
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allocatedDiskTypes": {
          "description": "Set of disk types allocated to assets.",
          "items": {
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ]
          },
          "type": "array"
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets which were allocated."
        },
        "machineSeriesAllocations": {
          "description": "Distribution of assets based on the Machine Series.",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          },
          "type": "array"
        }
      },
      "id": "ReportSummaryComputeEngineFinding",
      "type": "object"
    },
    "SignedUri": {
      "id": "SignedUri",
      "type": "object",
      "properties": {
        "file": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the file the Signed URI references."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Download URI for the file."
        }
      },
      "description": "Contains a signed URI."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object"
    },
    "AggregationFrequency": {
      "id": "AggregationFrequency",
      "type": "object",
      "properties": {},
      "description": "Frequency distribution of all field values."
    },
    "ImportError": {
      "description": "A resource that reports the errors encountered while processing an import job.",
      "id": "ImportError",
      "type": "object",
      "properties": {
        "errorDetails": {
          "description": "The error information.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "description": "The severity of the error.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "AggregationSum": {
      "id": "AggregationSum",
      "type": "object",
      "properties": {},
      "description": "Sum of field values."
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "properties": {
        "databaseCount": {
          "description": "Output only. The number of databases in the deployment.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "type": "object",
      "description": "Aggregated stats for the database deployment."
    },
    "PerformanceSample": {
      "description": "Performance data sample.",
      "properties": {
        "sampleTime": {
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "format": "google-datetime",
          "type": "string"
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        },
        "disk": {
          "description": "Disk usage sample.",
          "$ref": "DiskUsageSample"
        }
      },
      "id": "PerformanceSample",
      "type": "object"
    },
    "SoleTenancyPreferences": {
      "properties": {
        "cpuOvercommitRatio": {
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "format": "double"
        },
        "hostMaintenancePolicy": {
          "description": "Sole Tenancy nodes maintenance policy.",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "type": "string",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ]
        },
        "nodeTypes": {
          "items": {
            "$ref": "SoleTenantNodeType"
          },
          "type": "array",
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered."
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment.",
            "3 years commitment."
          ],
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR"
          ]
        }
      },
      "id": "SoleTenancyPreferences",
      "type": "object",
      "description": "Preferences concerning Sole Tenancy nodes and VMs."
    },
    "ReportSummaryGroupFinding": {
      "description": "Summary Findings for a specific Group.",
      "id": "ReportSummaryGroupFinding",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display Name for the Group.",
          "type": "string"
        },
        "overlappingAssetCount": {
          "description": "This field is deprecated, do not rely on it having a value.",
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "Description for the Group.",
          "type": "string"
        },
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "preferenceSetFindings": {
          "description": "Findings for each of the PreferenceSets for this group.",
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          },
          "type": "array"
        }
      }
    },
    "ReportSummaryVmwareNodeAllocation": {
      "id": "ReportSummaryVmwareNodeAllocation",
      "type": "object",
      "properties": {
        "vmwareNode": {
          "description": "VMWare node type, e.g. \"ve1-standard-72\"",
          "$ref": "ReportSummaryVmwareNode"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets allocated to these nodes",
          "type": "string"
        },
        "nodeCount": {
          "format": "int64",
          "description": "Count of this node type to be provisioned",
          "type": "string"
        }
      },
      "description": "Represents assets allocated to a specific VMWare Node type."
    },
    "OpenFileDetails": {
      "description": "Open file Information.",
      "id": "OpenFileDetails",
      "type": "object",
      "properties": {
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "user": {
          "description": "Opened file user.",
          "type": "string"
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        }
      }
    },
    "RunAssetsExportJobRequest": {
      "description": "A request to run an assets export job.",
      "id": "RunAssetsExportJobRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ReportSummaryChartDataDataPoint": {
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The Y-axis value for this data point."
        }
      },
      "id": "ReportSummaryChartDataDataPoint",
      "type": "object",
      "description": "Describes a single data point in the Chart."
    },
    "PostgreSqlDatabaseDeployment": {
      "id": "PostgreSqlDatabaseDeployment",
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "description": "Optional. List of PostgreSql properties."
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "description": "Optional. List of PostgreSql settings."
        }
      },
      "description": "Specific details for a PostgreSQL database deployment."
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      },
      "id": "Money",
      "type": "object"
    },
    "NfsExport": {
      "description": "NFS export.",
      "id": "NfsExport",
      "type": "object",
      "properties": {
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        },
        "hosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The hosts or networks to which the export is being shared."
        }
      }
    },
    "DailyResourceUsageAggregationNetwork": {
      "description": "Statistical aggregation of network usage.",
      "id": "DailyResourceUsageAggregationNetwork",
      "type": "object",
      "properties": {
        "ingressBps": {
          "description": "Network ingress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "DailyResourceUsageAggregationStats": {
      "description": "Statistical aggregation of samples for a single resource usage.",
      "id": "DailyResourceUsageAggregationStats",
      "type": "object",
      "properties": {
        "median": {
          "type": "number",
          "format": "float",
          "description": "Median usage value."
        },
        "average": {
          "type": "number",
          "format": "float",
          "description": "Average usage value."
        },
        "ninteyFifthPercentile": {
          "description": "95th percentile usage value.",
          "format": "float",
          "type": "number"
        },
        "peak": {
          "format": "float",
          "description": "Peak usage value.",
          "type": "number"
        }
      }
    },
    "AssetsExportJobPerformanceData": {
      "description": "Configuration for performance data exports.",
      "id": "AssetsExportJobPerformanceData",
      "type": "object",
      "properties": {
        "maxDays": {
          "type": "integer",
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "format": "int32"
        }
      }
    },
    "NetworkConnection": {
      "properties": {
        "remotePort": {
          "type": "integer",
          "description": "Remote port.",
          "format": "int32"
        },
        "localIpAddress": {
          "description": "Local IP address.",
          "type": "string"
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        },
        "localPort": {
          "description": "Local port.",
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OPENING",
            "OPEN",
            "LISTEN",
            "CLOSING",
            "CLOSED"
          ],
          "type": "string",
          "description": "Network connection state.",
          "enumDescriptions": [
            "Connection state is unknown or unspecified.",
            "The connection is being opened.",
            "The connection is open.",
            "Listening for incoming connections.",
            "The connection is being closed.",
            "The connection is closed."
          ]
        },
        "pid": {
          "format": "int64",
          "description": "Process ID.",
          "type": "string"
        },
        "processName": {
          "description": "Process or service name.",
          "type": "string"
        }
      },
      "id": "NetworkConnection",
      "type": "object"
    },
    "GuestInstalledApplication": {
      "id": "GuestInstalledApplication",
      "type": "object",
      "properties": {
        "installTime": {
          "description": "The time when the application was installed.",
          "format": "google-datetime",
          "type": "string"
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application."
        }
      },
      "description": "Guest installed application information."
    },
    "NetworkUsageSample": {
      "id": "NetworkUsageSample",
      "type": "object",
      "properties": {
        "averageIngressBps": {
          "format": "float",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "type": "number"
        },
        "averageEgressBps": {
          "format": "float",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "type": "number"
        }
      },
      "description": "Network usage sample. Values are across all network interfaces."
    },
    "GenericPlatformDetails": {
      "id": "GenericPlatformDetails",
      "type": "object",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string"
        }
      },
      "description": "Generic platform details."
    },
    "ReportSummaryVmwareEngineFinding": {
      "properties": {
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryVmwareNodeAllocation"
          }
        },
        "allocatedRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Set of regions in which the assets were allocated"
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets which are allocated"
        }
      },
      "id": "ReportSummaryVmwareEngineFinding",
      "type": "object",
      "description": "A set of findings that applies to assets destined for VMWare Engine."
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "type": "object",
      "properties": {
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          }
        },
        "resourceGroupsCount": {
          "type": "integer",
          "description": "Optional. Number of resource groups.",
          "format": "int32"
        },
        "properties": {
          "description": "Optional. List of MySql properties.",
          "items": {
            "$ref": "MySqlProperty"
          },
          "type": "array"
        },
        "variables": {
          "description": "Optional. List of MySql variables.",
          "type": "array",
          "items": {
            "$ref": "MySqlVariable"
          }
        }
      },
      "description": "Specific details for a Mysql database deployment."
    },
    "ReportAssetFramesResponse": {
      "id": "ReportAssetFramesResponse",
      "type": "object",
      "properties": {},
      "description": "A response to a call to `ReportAssetFrame`."
    },
    "AggregationResultFrequency": {
      "id": "AggregationResultFrequency",
      "type": "object",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "The result of a frequency distribution aggregation."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "AssetsExportJobNetworkDependencies": {
      "properties": {},
      "id": "AssetsExportJobNetworkDependencies",
      "type": "object",
      "description": "Configuration for network dependencies exports."
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "description": "A request to send a discovery client heartbeat.",
      "id": "SendDiscoveryClientHeartbeatRequest",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. Client application version.",
          "type": "string"
        },
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "MySqlVariable": {
      "properties": {
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        },
        "category": {
          "description": "Required. The variable category.",
          "type": "string"
        },
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        }
      },
      "id": "MySqlVariable",
      "type": "object",
      "description": "MySql variable."
    },
    "VmwareDiskConfig": {
      "id": "VmwareDiskConfig",
      "type": "object",
      "properties": {
        "vmdkMode": {
          "type": "string",
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ],
          "description": "VMDK disk mode.",
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ]
        },
        "backingType": {
          "description": "VMDK backing type.",
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ],
          "type": "string"
        },
        "shared": {
          "description": "Is VMDK shared with other VMs.",
          "type": "boolean"
        },
        "rdmCompatibility": {
          "description": "RDM compatibility mode.",
          "enumDescriptions": [
[...]
