{
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Migration Center API",
  "discoveryVersion": "v1",
  "servicePath": "",
  "basePath": "",
  "name": "migrationcenter",
  "schemas": {
    "SoleTenancyPreferences": {
      "id": "SoleTenancyPreferences",
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "type": "object",
      "properties": {
        "hostMaintenancePolicy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "description": "Sole Tenancy nodes maintenance policy.",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ]
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment.",
            "3 years commitment."
          ]
        },
        "nodeTypes": {
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "items": {
            "$ref": "SoleTenantNodeType"
          },
          "type": "array"
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive."
        }
      }
    },
    "RunningProcess": {
      "type": "object",
      "properties": {
        "pid": {
          "type": "string",
          "format": "int64",
          "description": "Process ID."
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Process extended attributes.",
          "type": "object"
        },
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        },
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "user": {
          "description": "User running the process.",
          "type": "string"
        }
      },
      "id": "RunningProcess",
      "description": "Guest OS running process details."
    },
    "PhysicalPlatformDetails": {
      "type": "object",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "id": "PhysicalPlatformDetails",
      "description": "Platform specific details for Physical Machines."
    },
    "AggregationCount": {
      "id": "AggregationCount",
      "description": "Object count.",
      "type": "object",
      "properties": {}
    },
    "ExecutionReport": {
      "id": "ExecutionReport",
      "description": "A resource that reports result of the import job execution.",
      "type": "object",
      "properties": {
        "totalRowsCount": {
          "description": "Output only. Total number of rows in the import job.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "framesReported": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of asset frames reported for the import job."
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        }
      }
    },
    "CascadingRule": {
      "id": "CascadingRule",
      "description": "Specifies cascading rules for traversing relations.",
      "type": "object",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      }
    },
    "AssetsExportJobInventory": {
      "type": "object",
      "properties": {},
      "id": "AssetsExportJobInventory",
      "description": "Configuration for asset inventory details exports."
    },
    "ListAssetsExportJobsResponse": {
      "type": "object",
      "properties": {
        "assetsExportJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of assets export jobs.",
          "items": {
            "$ref": "AssetsExportJob"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ListAssetsExportJobsResponse",
      "description": "Response message for listing assets export jobs."
    },
    "NetworkAdapterList": {
      "id": "NetworkAdapterList",
      "description": "List of network adapters.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network adapter entries.",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        }
      }
    },
    "DatabaseDeploymentTopology": {
      "id": "DatabaseDeploymentTopology",
      "description": "Details of database deployment's topology.",
      "type": "object",
      "properties": {
        "instances": {
          "type": "array",
          "description": "Optional. List of database instances.",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "physicalCoreCount": {
          "description": "Optional. Number of total physical cores.",
          "format": "int32",
          "type": "integer"
        },
        "diskUsedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Disk used in bytes."
        },
        "coreCount": {
          "description": "Optional. Number of total logical cores.",
          "format": "int32",
          "type": "integer"
        },
        "memoryBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total memory in bytes."
        },
        "coreLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of total logical cores limited by db deployment."
        },
        "diskAllocatedBytes": {
          "description": "Optional. Disk allocated in bytes.",
          "type": "string",
          "format": "int64"
        },
        "physicalCoreLimit": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of total physical cores limited by db deployment."
        },
        "memoryLimitBytes": {
          "description": "Optional. Total memory in bytes limited by db deployment.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "NetworkAddressList": {
      "id": "NetworkAddressList",
      "description": "List of allocated/assigned network addresses.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network address entries.",
          "items": {
            "$ref": "NetworkAddress"
          }
        }
      }
    },
    "AwsEc2PlatformDetails": {
      "type": "object",
      "properties": {
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        }
      },
      "id": "AwsEc2PlatformDetails",
      "description": "AWS EC2 specific details."
    },
    "AssetsExportJobExportCondition": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "id": "AssetsExportJobExportCondition",
      "description": "Conditions for selecting assets to export."
    },
    "RunAssetsExportJobResponse": {
      "id": "RunAssetsExportJobResponse",
      "description": "Response message for running an assets export job.",
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "$ref": "AssetsExportJobExecution",
          "readOnly": true,
          "description": "Output only. Execution status of the assets export operation."
        }
      }
    },
    "OutputFileList": {
      "id": "OutputFileList",
      "description": "Contains a list of output files.",
      "type": "object",
      "properties": {
        "entries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of output files.",
          "items": {
            "$ref": "OutputFile"
          }
        }
      }
    },
    "MachineSeries": {
      "id": "MachineSeries",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "type": "object",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      }
    },
    "NetworkUsageSample": {
      "id": "NetworkUsageSample",
      "description": "Network usage sample. Values are across all network interfaces.",
      "type": "object",
      "properties": {
        "averageIngressBps": {
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "type": "number",
          "format": "float"
        },
        "averageEgressBps": {
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "ReportSummaryChartDataDataPoint": {
      "id": "ReportSummaryChartDataDataPoint",
      "description": "Describes a single data point in the Chart.",
      "type": "object",
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "The Y-axis value for this data point."
        }
      }
    },
    "AssetsExportJob": {
      "type": "object",
      "properties": {
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name."
        },
        "networkDependencies": {
          "description": "Export data regarding asset network dependencies.",
          "$ref": "AssetsExportJobNetworkDependencies"
        },
        "recentExecutions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Recent non expired executions of the job.",
          "items": {
            "$ref": "AssetsExportJobExecution"
          }
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Resource creation time."
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        },
        "updateTime": {
          "description": "Output only. Resource update time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object"
        },
        "signedUriDestination": {
          "description": "Export to Cloud Storage files downloadable using signed URIs.",
          "$ref": "SignedUriDestination"
        }
      },
      "id": "AssetsExportJob",
      "description": "Assets export job message."
    },
    "NfsExport": {
      "id": "NfsExport",
      "description": "NFS export.",
      "type": "object",
      "properties": {
        "hosts": {
          "type": "array",
          "description": "The hosts or networks to which the export is being shared.",
          "items": {
            "type": "string"
          }
        },
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        }
      }
    },
    "RunningServiceList": {
      "id": "RunningServiceList",
      "description": "List of running guest OS services.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Running service entries.",
          "items": {
            "$ref": "RunningService"
          },
          "type": "array"
        }
      }
    },
    "Asset": {
      "type": "object",
      "properties": {
        "machineDetails": {
          "$ref": "MachineDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for virtual and physical machines."
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset."
        },
        "hideTime": {
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "sources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of sources contributing to the asset.",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp when the asset was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "performanceData": {
          "description": "Output only. Performance data for the asset.",
          "readOnly": true,
          "$ref": "AssetPerformanceData"
        },
        "insightList": {
          "readOnly": true,
          "$ref": "InsightList",
          "description": "Output only. The list of insights associated with the asset."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the asset was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the asset."
        },
        "databaseDetails": {
          "readOnly": true,
          "$ref": "DatabaseDetails",
          "description": "Output only. Asset information specific for logical databases."
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for database deployments."
        }
      },
      "id": "Asset",
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases."
    },
    "AssetsExportJobExecution": {
      "id": "AssetsExportJobExecution",
      "description": "Execution status of assets export job.",
      "type": "object",
      "properties": {
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Expiration time for the export and artifacts."
        },
        "requestedAssetCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of assets requested for export after resolving the requested filters."
        },
        "executionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Globally unique identifier of the execution."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Completion time of the export."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Execution timestamp."
        },
        "result": {
          "description": "Output only. Result of the export execution.",
          "readOnly": true,
          "$ref": "AssetsExportJobExecutionResult"
        }
      }
    },
    "RunImportJobRequest": {
      "id": "RunImportJobRequest",
      "description": "A request to run an import job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "DatabaseObjects": {
      "id": "DatabaseObjects",
      "description": "Details of a group of database objects.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "description": "Optional. The category of the objects.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ]
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The number of objects."
        }
      }
    },
    "ListDiscoveryClientsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "discoveryClients": {
          "description": "List of discovery clients.",
          "items": {
            "$ref": "DiscoveryClient"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListDiscoveryClientsResponse",
      "description": "Response message for listing discovery clients."
    },
    "AggregationResultSum": {
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "AggregationResultSum",
      "description": "The result of a sum aggregation."
    },
    "ReportSummaryMachineSeriesAllocation": {
      "id": "ReportSummaryMachineSeriesAllocation",
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets allocated to this machine series.",
          "format": "int64",
          "type": "string"
        },
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        }
      }
    },
    "RunningProcessList": {
      "id": "RunningProcessList",
      "description": "List of running guest OS processes.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Running process entries.",
          "items": {
            "$ref": "RunningProcess"
          }
        }
      }
    },
    "Date": {
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "AggregationResult": {
      "id": "AggregationResult",
      "description": "Message describing a result of an aggregation.",
      "type": "object",
      "properties": {
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "field": {
          "type": "string"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        }
      }
    },
    "ComputeEngineMigrationTarget": {
      "id": "ComputeEngineMigrationTarget",
      "description": "Compute engine migration target.",
      "type": "object",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      }
    },
    "MachineArchitectureDetails": {
      "type": "object",
      "properties": {
        "cpuThreadCount": {
          "deprecated": true,
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "format": "int32",
          "type": "integer"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "firmwareType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "description": "Firmware type.",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "format": "int32",
          "type": "integer"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ]
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        }
      },
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture."
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "description": "Response message for listing relations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "relations": {
          "description": "A list of relations.",
          "items": {
            "$ref": "Relation"
          },
          "type": "array"
        }
      }
    },
    "CpuUsageSample": {
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage."
        }
      },
      "id": "CpuUsageSample",
      "description": "CPU usage sample."
    },
    "VirtualMachinePreferences": {
      "id": "VirtualMachinePreferences",
      "description": "VirtualMachinePreferences enables you to create sets of assumptions, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "type": "object",
      "properties": {
        "computeEnginePreferences": {
          "description": "Compute Engine preferences concern insights and recommendations for Compute Engine target.",
          "$ref": "ComputeEnginePreferences"
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        },
        "soleTenancyPreferences": {
          "description": "Preferences concerning Sole Tenant nodes and virtual machines.",
          "$ref": "SoleTenancyPreferences"
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1 year commitment.",
            "3 years commitment."
          ]
        },
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with.",
          "$ref": "RegionPreferences"
        },
        "sizingOptimizationStrategy": {
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs."
          ]
        },
        "targetProduct": {
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.6278",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ]
        }
      }
    },
    "AssetFrame": {
      "id": "AssetFrame",
      "description": "Contains data reported from an inventory source on an asset.",
      "type": "object",
      "properties": {
        "machineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "MachineDetails"
        },
        "performanceSamples": {
          "type": "array",
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "items": {
            "$ref": "PerformanceSample"
          }
        },
        "databaseDetails": {
          "description": "Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "reportTime": {
          "description": "The time the data was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "traceToken": {
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability.",
          "type": "string"
        },
        "collectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "databaseDeploymentDetails": {
          "description": "Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "attributes": {
          "type": "object",
          "description": "Generic asset attributes.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AggregateAssetsValuesRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "aggregations": {
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "items": {
            "$ref": "Aggregation"
          },
          "type": "array"
        }
      },
      "id": "AggregateAssetsValuesRequest",
      "description": "A request to aggregate one or more values."
    },
    "ImportJob": {
      "type": "object",
      "properties": {
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the import job.",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full name of the import job."
        },
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true,
          "$ref": "ValidationReport"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the import job was last updated."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the import job was created."
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        }
      },
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames."
    },
    "GuestConfigDetails": {
      "id": "GuestConfigDetails",
      "description": "Guest OS config information.",
      "type": "object",
      "properties": {
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "type": "string",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ]
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        }
      }
    },
    "MySqlProperty": {
      "id": "MySqlProperty",
      "description": "MySql property.",
      "type": "object",
      "properties": {
        "numericValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The property numeric value."
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        }
      }
    },
    "OpenFileDetails": {
      "type": "object",
      "properties": {
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "user": {
          "description": "Opened file user.",
          "type": "string"
        }
      },
      "id": "OpenFileDetails",
      "description": "Open file Information."
    },
    "ReportSummaryChartData": {
      "id": "ReportSummaryChartData",
      "description": "Describes a collection of data points rendered as a Chart.",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array"
        }
      }
    },
    "MachineDiskDetails": {
      "id": "MachineDiskDetails",
      "description": "Details of machine disks.",
      "type": "object",
      "properties": {
        "totalCapacityBytes": {
          "description": "Disk total Capacity.",
          "type": "string",
          "format": "int64"
        },
        "totalFreeBytes": {
          "description": "Total disk free space.",
          "type": "string",
          "format": "int64"
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        }
      }
    },
    "MachinePreferences": {
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          },
          "type": "array"
        }
      },
      "id": "MachinePreferences",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions."
    },
    "DailyResourceUsageAggregationCPU": {
      "id": "DailyResourceUsageAggregationCPU",
      "description": "Statistical aggregation of CPU usage.",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "description": "CPU utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "MySqlStorageEngineDetails": {
      "type": "object",
      "properties": {
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "format": "int32",
          "type": "integer"
        },
        "engine": {
          "description": "Required. The storage engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ]
        },
        "tableCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of tables."
        }
      },
      "id": "MySqlStorageEngineDetails",
      "description": "Mysql storage engine tables."
    },
    "ReportSummaryVmwareEngineFinding": {
      "id": "ReportSummaryVmwareEngineFinding",
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "type": "object",
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "format": "int64",
          "type": "string"
        },
        "nodeAllocations": {
          "type": "array",
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVmwareNodeAllocation"
          }
        }
      }
    },
    "AddAssetsToGroupRequest": {
      "id": "AddAssetsToGroupRequest",
      "description": "A request to add assets to a group.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "VmwareDiskConfig": {
      "id": "VmwareDiskConfig",
      "description": "VMware disk config details.",
      "type": "object",
      "properties": {
        "vmdkMode": {
          "type": "string",
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ],
          "description": "VMDK disk mode.",
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ]
        },
        "shared": {
          "description": "Is VMDK shared with other VMs.",
          "type": "boolean"
        },
        "backingType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "description": "VMDK backing type.",
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ]
        },
        "rdmCompatibility": {
          "description": "RDM compatibility mode.",
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ]
        }
      }
    },
    "ReportConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of resource.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "groupPreferencesetAssignments": {
          "description": "Required. Collection of combinations of groups and preference sets.",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        }
      },
      "id": "ReportConfig",
      "description": "The groups and associated preference sets on which we can generate reports."
    },
    "PostgreSqlDatabaseDeployment": {
      "id": "PostgreSqlDatabaseDeployment",
      "description": "Specific details for a PostgreSQL database deployment.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. List of PostgreSql properties.",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "type": "array"
        },
        "settings": {
          "type": "array",
          "description": "Optional. List of PostgreSql settings.",
          "items": {
            "$ref": "PostgreSqlSetting"
          }
        }
      }
    },
    "AggregationResultCount": {
      "type": "object",
      "properties": {
        "value": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AggregationResultCount",
      "description": "The result of a count aggregation."
    },
    "ListAssetsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "assets": {
          "type": "array",
          "description": "A list of assets.",
          "items": {
            "$ref": "Asset"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets."
    },
    "GuestOsDetails": {
      "type": "object",
      "properties": {
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "family": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "description": "What family the OS belong to, if known.",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ]
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        }
      },
      "id": "GuestOsDetails",
      "description": "Information from Guest-level collections."
    },
    "Report": {
      "id": "Report",
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update timestamp."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation timestamp."
        },
        "summary": {
          "$ref": "ReportSummary",
          "readOnly": true,
          "description": "Output only. Summary view of the Report."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of resource."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "description": "Report type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ]
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "description": "Report creation state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      }
    },
    "SignedUri": {
      "id": "SignedUri",
      "description": "Contains a signed URI.",
      "type": "object",
      "properties": {
        "file": {
          "description": "Output only. Name of the file the Signed URI references.",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. Download URI for the file.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DiskPartitionList": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "Partition entries.",
          "items": {
            "$ref": "DiskPartition"
          },
          "type": "array"
        }
      },
      "id": "DiskPartitionList",
      "description": "Disk partition list."
    },
    "FitDescriptor": {
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "type": "object",
      "properties": {
        "fitLevel": {
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "description": "Output only. Fit level.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ]
        }
      }
    },
    "MySqlPlugin": {
      "id": "MySqlPlugin",
      "description": "MySql plugin.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        }
      }
    },
    "FstabEntryList": {
      "id": "FstabEntryList",
      "description": "Fstab content.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Fstab entries.",
          "items": {
            "$ref": "FstabEntry"
          },
          "type": "array"
        }
      }
    },
    "DiskEntryList": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Disk entries.",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "id": "DiskEntryList",
      "description": "VM disks."
    },
    "RunningService": {
      "id": "RunningService",
      "description": "Guest OS running service details.",
      "type": "object",
      "properties": {
        "pid": {
          "description": "Service pid.",
          "type": "string",
          "format": "int64"
        },
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Service state unspecified.",
            "Service is active.",
            "Service is paused.",
            "Service is stopped."
          ],
          "description": "Service state (OS-agnostic).",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "STOPPED"
          ]
        },
        "startMode": {
          "type": "string",
          "enumDescriptions": [
            "Start mode unspecified.",
            "The service is a device driver started by the system loader.",
            "The service is a device driver started by the IOInitSystem function.",
            "The service is started by the operating system, at system start-up",
            "The service is started only manually, by a user.",
            "The service is disabled."
          ],
          "description": "Service start mode (OS-agnostic).",
          "enum": [
            "START_MODE_UNSPECIFIED",
            "BOOT",
            "SYSTEM",
            "AUTO",
            "MANUAL",
            "DISABLED"
          ]
        }
      }
    },
    "MySqlSchemaDetails": {
      "id": "MySqlSchemaDetails",
      "description": "Specific details for a Mysql database.",
      "type": "object",
      "properties": {
        "storageEngines": {
          "description": "Optional. Mysql storage engine tables.",
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          },
          "type": "array"
        }
      }
    },
    "PerformanceSample": {
      "id": "PerformanceSample",
      "description": "Performance data sample.",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string",
          "format": "google-datetime"
        },
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "disk": {
          "description": "Disk usage sample.",
          "$ref": "DiskUsageSample"
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        }
      }
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "The list of sources.",
          "items": {
            "$ref": "Source"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DiskEntry": {
      "id": "DiskEntry",
      "description": "Single disk entry.",
      "type": "object",
      "properties": {
        "freeBytes": {
          "description": "Disk free space.",
          "type": "string",
          "format": "int64"
        },
        "capacityBytes": {
          "type": "string",
          "format": "int64",
          "description": "Disk capacity."
        },
        "hwAddress": {
          "description": "Disk hardware address (e.g. 0:1 for SCSI).",
          "type": "string"
        },
        "vmware": {
          "description": "VMware disk details.",
          "$ref": "VmwareDiskConfig"
        },
        "diskLabel": {
          "description": "Disk label.",
          "type": "string"
        },
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        },
        "interfaceType": {
          "description": "Disks interface type.",
          "enum": [
            "INTERFACE_TYPE_UNSPECIFIED",
            "IDE",
            "SATA",
            "SAS",
            "SCSI",
            "NVME",
            "FC",
            "ISCSI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Interface type unknown or unspecified.",
            "IDE interface type.",
            "SATA interface type.",
            "SAS interface type.",
            "SCSI interface type.",
            "NVME interface type.",
            "FC interface type.",
            "iSCSI interface type."
          ]
        },
        "partitions": {
          "description": "Partition layout.",
          "$ref": "DiskPartitionList"
        }
      }
    },
    "GenericInsight": {
      "id": "GenericInsight",
      "description": "A generic insight about an asset.",
      "type": "object",
      "properties": {
        "defaultMessage": {
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead.",
          "type": "string",
          "readOnly": true
        },
        "additionalInformation": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "items": {
            "type": "string"
          }
        },
        "messageId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead."
        }
      }
    },
    "DiskUsageSample": {
      "id": "DiskUsageSample",
      "description": "Disk usage sample. Values are across all disks.",
      "type": "object",
      "properties": {
        "averageReadIops": {
          "format": "float",
          "type": "number",
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
        },
        "averageIops": {
          "type": "number",
          "format": "float",
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops."
        },
        "averageWriteIops": {
          "type": "number",
          "format": "float",
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
        }
      }
    },
    "ListPreferenceSetsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "preferenceSets": {
          "description": "The list of PreferenceSets",
          "items": {
            "$ref": "PreferenceSet"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListPreferenceSetsResponse",
      "description": "Response message for listing preference sets."
    },
    "MemoryUsageSample": {
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100]."
        }
      },
      "id": "MemoryUsageSample",
      "description": "Memory usage sample."
    },
    "ImportRowError": {
      "type": "object",
      "properties": {
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        },
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "errors": {
          "description": "The list of errors detected in the row.",
          "items": {
            "$ref": "ImportError"
          },
          "type": "array"
        },
        "rowNumber": {
          "format": "int32",
          "type": "integer",
          "deprecated": true,
          "description": "The row number where the error was detected."
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "assetTitle": {
          "description": "Output only. The asset title.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ImportRowError",
      "description": "A resource that reports the import job errors at row level."
    },
    "UploadFileInfo": {
      "type": "object",
      "properties": {
        "signedUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Upload URI for the file."
        },
        "headers": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. The headers that were used to sign the URI.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uriExpirationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Expiration time of the upload URI."
        }
      },
      "id": "UploadFileInfo",
      "description": "A resource that contains a URI to which a data file can be uploaded."
    },
    "HostsEntryList": {
      "id": "HostsEntryList",
      "description": "Hosts content.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Hosts entries.",
          "items": {
            "$ref": "HostsEntry"
          },
          "type": "array"
        }
      }
    },
    "AggregationResultHistogramBucket": {
      "type": "object",
      "properties": {
        "count": {
          "description": "Count of items in the bucket.",
          "type": "string",
          "format": "int64"
        },
        "lowerBound": {
          "format": "double",
          "type": "number",
          "description": "Lower bound - inclusive."
        },
        "upperBound": {
          "type": "number",
          "format": "double",
          "description": "Upper bound - exclusive."
        }
      },
      "id": "AggregationResultHistogramBucket",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity."
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "description": "Contains a single output file of type XLSX.",
      "type": "object",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri",
          "readOnly": true
        }
      }
    },
    "PostgreSqlSchemaDetails": {
      "type": "object",
      "properties": {
        "foreignTablesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. PostgreSql foreign tables."
        },
        "postgresqlExtensions": {
          "description": "Optional. PostgreSql extensions.",
          "items": {
            "$ref": "PostgreSqlExtension"
          },
          "type": "array"
        }
      },
      "id": "PostgreSqlSchemaDetails",
      "description": "Specific details for a PostgreSql schema."
    },
    "AssetsExportJobNetworkDependencies": {
      "id": "AssetsExportJobNetworkDependencies",
      "description": "Configuration for network dependencies exports.",
      "type": "object",
      "properties": {}
    },
    "AzureVmPlatformDetails": {
      "id": "AzureVmPlatformDetails",
      "description": "Azure VM specific details.",
      "type": "object",
      "properties": {
        "machineTypeLabel": {
          "description": "Azure platform's machine type label.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        }
      }
    },
    "AssetPerformanceData": {
      "type": "object",
      "properties": {
        "dailyResourceUsageAggregations": {
          "type": "array",
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          }
        }
      },
      "id": "AssetPerformanceData",
      "description": "Performance data for an asset."
    },
    "ReportSummaryGroupFinding": {
      "id": "ReportSummaryGroupFinding",
      "description": "Summary Findings for a specific Group.",
      "type": "object",
      "properties": {
        "overlappingAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "This field is deprecated, do not rely on it having a value.",
          "deprecated": true
        },
        "preferenceSetFindings": {
          "description": "Findings for each of the PreferenceSets for this group.",
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          },
          "type": "array"
        },
        "description": {
          "description": "Description for the Group.",
          "type": "string"
        },
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "displayName": {
          "description": "Display Name for the Group.",
          "type": "string"
        }
      }
    },
    "Insight": {
      "id": "Insight",
      "description": "An insight about an asset.",
      "type": "object",
      "properties": {
        "migrationInsight": {
          "description": "Output only. An insight about potential migrations for an asset.",
          "readOnly": true,
          "$ref": "MigrationInsight"
        },
        "genericInsight": {
          "readOnly": true,
          "$ref": "GenericInsight",
          "description": "Output only. A generic insight about an asset."
        }
      }
    },
    "FstabEntry": {
      "type": "object",
      "properties": {
        "freq": {
          "type": "integer",
          "format": "int32",
          "description": "Used by dump to determine which filesystems need to be dumped."
        },
        "file": {
          "description": "The mount point for the filesystem.",
          "type": "string"
        },
        "mntops": {
          "description": "Mount options associated with the filesystem.",
          "type": "string"
        },
        "passno": {
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "type": "integer",
          "format": "int32"
        },
        "vfstype": {
          "description": "The type of the filesystem.",
          "type": "string"
        },
        "spec": {
          "description": "The block special device or remote filesystem to be mounted.",
          "type": "string"
        }
      },
      "id": "FstabEntry",
      "description": "Single fstab entry."
    },
    "NfsExportList": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "NFS export entries.",
          "items": {
            "$ref": "NfsExport"
          }
        }
      },
      "id": "NfsExportList",
      "description": "NFS exports."
    },
    "DatabaseInstance": {
      "id": "DatabaseInstance",
      "description": "Details of a database instance.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Optional. Networking details.",
          "$ref": "DatabaseInstanceNetwork"
        },
        "instanceName": {
          "description": "Optional. The instance's name.",
          "type": "string"
        },
        "role": {
          "description": "Optional. The instance role in the database engine.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ]
        }
      }
    },
    "ReportSummaryHistogramChartData": {
      "type": "object",
      "properties": {
        "buckets": {
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          }
        }
      },
      "id": "ReportSummaryHistogramChartData",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket."
    },
    "AssetsExportJobPerformanceData": {
      "id": "AssetsExportJobPerformanceData",
      "description": "Configuration for performance data exports.",
      "type": "object",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ImportError": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "description": "The error information.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the error.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "ImportError",
      "description": "A resource that reports the errors encountered while processing an import job."
    },
    "RemoveAssetsFromGroupRequest": {
      "id": "RemoveAssetsFromGroupRequest",
      "description": "A request to remove assets from a group.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "RegionPreferences": {
      "id": "RegionPreferences",
      "description": "The user preferences relating to target regions.",
      "type": "object",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PostgreSqlSetting": {
      "id": "PostgreSqlSetting",
      "description": "PostgreSql setting.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "intValue": {
          "description": "Required. The setting int value.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "realValue": {
          "type": "number",
          "format": "float",
          "description": "Required. The setting real value."
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        }
      }
    },
    "Source": {
      "id": "Source",
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the source was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "pendingFrameCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of frames that are still being processed."
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "The information confidence of the source. The higher the value, the higher the confidence."
        },
        "state": {
          "description": "Output only. The state of the source.",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The full name of the source.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Data source type.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "errorFrameCount": {
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "managed": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "MigrationInsight": {
      "id": "MigrationInsight",
      "description": "An insight about potential migrations for an asset.",
      "type": "object",
      "properties": {
        "fit": {
          "readOnly": true,
          "$ref": "FitDescriptor",
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration."
        },
        "computeEngineTarget": {
          "$ref": "ComputeEngineMigrationTarget",
          "readOnly": true,
          "description": "Output only. A Google Compute Engine target."
        }
      }
    },
    "NetworkAddress": {
      "type": "object",
      "properties": {
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        },
        "assignment": {
          "description": "Whether DHCP is used to assign addresses.",
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ]
        },
        "fqdn": {
          "description": "Fully qualified domain name.",
          "type": "string"
        }
      },
      "id": "NetworkAddress",
      "description": "Details of network address."
    },
    "GuestInstalledApplication": {
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information.",
      "type": "object",
      "properties": {
        "licenses": {
          "description": "License strings associated with the installed application.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "installTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the application was installed."
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        }
      }
    },
    "MySqlVariable": {
      "id": "MySqlVariable",
      "description": "MySql variable.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        },
        "category": {
          "description": "Required. The variable category.",
          "type": "string"
        },
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        }
      }
    },
    "ReportSummary": {
      "id": "ReportSummary",
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "type": "object",
      "properties": {
        "groupFindings": {
          "type": "array",
          "description": "Findings for each Group included in this report.",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          }
        },
        "allAssetsStats": {
          "description": "Aggregate statistics for all the assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        }
      }
    },
    "DailyResourceUsageAggregationStats": {
      "id": "DailyResourceUsageAggregationStats",
      "description": "Statistical aggregation of samples for a single resource usage.",
      "type": "object",
      "properties": {
        "peak": {
          "type": "number",
          "format": "float",
          "description": "Peak usage value."
        },
        "average": {
          "description": "Average usage value.",
          "type": "number",
          "format": "float"
        },
        "median": {
          "type": "number",
          "format": "float",
          "description": "Median usage value."
        },
        "ninteyFifthPercentile": {
          "description": "95th percentile usage value.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GenericPlatformDetails": {
      "type": "object",
      "properties": {
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field.",
          "type": "string"
        }
      },
      "id": "GenericPlatformDetails",
      "description": "Generic platform details."
    },
    "ValidationReport": {
      "id": "ValidationReport",
      "description": "A resource that aggregates errors across import job files.",
      "type": "object",
      "properties": {
        "fileValidations": {
          "description": "List of errors found in files.",
          "items": {
            "$ref": "FileValidationReport"
          },
          "type": "array"
        },
        "jobErrors": {
          "description": "List of job level errors.",
          "items": {
            "$ref": "ImportError"
          },
          "type": "array"
        }
      }
    },
    "AggregationFrequency": {
      "id": "AggregationFrequency",
      "description": "Frequency distribution of all field values.",
      "type": "object",
      "properties": {}
    },
    "ListGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "groups": {
          "type": "array",
          "description": "The list of Group",
          "items": {
            "$ref": "Group"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListGroupsResponse",
      "description": "A response for listing groups."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "AssetList": {
      "id": "AssetList",
      "description": "Lists the asset IDs of all assets.",
      "type": "object",
      "properties": {
        "assetIds": {
          "description": "Required. A list of asset IDs",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "NetworkConnectionList": {
      "id": "NetworkConnectionList",
      "description": "Network connection list.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network connection entries.",
          "items": {
            "$ref": "NetworkConnection"
          }
        }
      }
    },
    "AssetsExportJobExecutionResult": {
      "type": "object",
      "properties": {
        "outputFiles": {
          "readOnly": true,
          "$ref": "OutputFileList",
          "description": "Output only. List of output files."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error encountered during export."
        },
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "$ref": "SignedUris",
          "readOnly": true
        }
      },
      "id": "AssetsExportJobExecutionResult",
      "description": "Contains the result of the assets export."
    },
    "PostgreSqlProperty": {
      "type": "object",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PostgreSqlProperty",
      "description": "PostgreSql property."
    },
    "SqlServerFeature": {
      "id": "SqlServerFeature",
      "description": "SQL Server feature details.",
      "type": "object",
      "properties": {
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "AwsRds": {
      "id": "AwsRds",
      "description": "Specific details for an AWS RDS database deployment.",
      "type": "object",
      "properties": {}
    },
    "HostsEntry": {
      "type": "object",
      "properties": {
        "hostNames": {
          "type": "array",
          "description": "List of host names / aliases.",
          "items": {
            "type": "string"
          }
        },
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        }
      },
      "id": "HostsEntry",
      "description": "Single /etc/hosts entry."
    },
    "BatchDeleteAssetsRequest": {
      "type": "object",
      "properties": {
        "cascadingRules": {
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "items": {
            "$ref": "CascadingRule"
          },
          "type": "array"
        },
        "names": {
          "type": "array",
[...]
