{
  "id": "migrationcenter:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "migrationcenter",
  "version": "v1",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "canonicalName": "Migration Center API",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    }
  },
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260326",
  "title": "Migration Center API",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "DiskEntryList": {
      "description": "VM disks.",
      "id": "DiskEntryList",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DiskEntry"
          },
          "type": "array",
          "description": "Disk entries."
        }
      }
    },
    "ReportSummaryHistogramChartData": {
      "properties": {
        "buckets": {
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array"
        }
      },
      "id": "ReportSummaryHistogramChartData",
      "type": "object",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket."
    },
    "AggregationSum": {
      "properties": {},
      "id": "AggregationSum",
      "type": "object",
      "description": "Sum of field values."
    },
    "ReportSummaryVmwareNode": {
      "description": "A VMWare Engine Node",
      "id": "ReportSummaryVmwareNode",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
        }
      }
    },
    "NetworkConnection": {
      "id": "NetworkConnection",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string",
          "description": "Connection protocol (e.g. TCP/UDP)."
        },
        "remotePort": {
          "type": "integer",
          "description": "Remote port.",
          "format": "int32"
        },
        "pid": {
          "type": "string",
          "description": "Process ID.",
          "format": "int64"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OPENING",
            "OPEN",
            "LISTEN",
            "CLOSING",
            "CLOSED"
          ],
          "description": "Network connection state.",
          "enumDescriptions": [
            "Connection state is unknown or unspecified.",
            "The connection is being opened.",
            "The connection is open.",
            "Listening for incoming connections.",
            "The connection is being closed.",
            "The connection is closed."
          ],
          "type": "string"
        },
        "processName": {
          "description": "Process or service name.",
          "type": "string"
        },
        "localIpAddress": {
          "type": "string",
          "description": "Local IP address."
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        },
        "localPort": {
          "type": "integer",
          "description": "Local port.",
          "format": "int32"
        }
      }
    },
    "ReportSummary": {
      "properties": {
        "allAssetsStats": {
          "description": "Aggregate statistics for all the assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "type": "array",
          "description": "Findings for each Group included in this report."
        }
      },
      "id": "ReportSummary",
      "type": "object",
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report."
    },
    "UploadFileInfo": {
      "id": "UploadFileInfo",
      "type": "object",
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "properties": {
        "signedUri": {
          "description": "Output only. Upload URI for the file.",
          "readOnly": true,
          "type": "string"
        },
        "headers": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The headers that were used to sign the URI.",
          "readOnly": true,
          "type": "object"
        },
        "uriExpirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Expiration time of the upload URI.",
          "readOnly": true
        }
      }
    },
    "NfsExportList": {
      "id": "NfsExportList",
      "type": "object",
      "description": "NFS exports.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NfsExport"
          },
          "description": "NFS export entries.",
          "type": "array"
        }
      }
    },
    "AwsEc2PlatformDetails": {
      "properties": {
        "hyperthreading": {
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the AWS format."
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        }
      },
      "description": "AWS EC2 specific details.",
      "id": "AwsEc2PlatformDetails",
      "type": "object"
    },
    "GuestInstalledApplication": {
      "properties": {
        "vendor": {
          "type": "string",
          "description": "Installed application vendor."
        },
        "applicationName": {
          "type": "string",
          "description": "Installed application name."
        },
        "path": {
          "type": "string",
          "description": "Source path."
        },
        "installTime": {
          "type": "string",
          "description": "The time when the application was installed.",
          "format": "google-datetime"
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Installed application version."
        }
      },
      "id": "GuestInstalledApplication",
      "type": "object",
      "description": "Guest installed application information."
    },
    "MemoryUsageSample": {
      "id": "MemoryUsageSample",
      "type": "object",
      "description": "Memory usage sample.",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100].",
          "format": "float"
        }
      }
    },
    "ReportSummaryHistogramChartDataBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "ReportSummaryHistogramChartDataBucket",
      "type": "object",
      "properties": {
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "type": "string",
          "format": "int64"
        },
        "count": {
          "description": "Count of items in the bucket.",
          "type": "string",
          "format": "int64"
        },
        "lowerBound": {
          "format": "int64",
          "type": "string",
          "description": "Lower bound - inclusive."
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "properties": {
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        },
        "preferenceSet": {
          "description": "Required. Name of the Preference Set.",
          "type": "string"
        }
      },
      "description": "Represents a combination of a group with a preference set.",
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "MySqlStorageEngineDetails": {
      "id": "MySqlStorageEngineDetails",
      "type": "object",
      "description": "Mysql storage engine tables.",
      "properties": {
        "engine": {
          "type": "string",
          "description": "Required. The storage engine.",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "type": "integer",
          "format": "int32"
        },
        "tableCount": {
          "description": "Optional. The number of tables.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "OutputFileList": {
      "description": "Contains a list of output files.",
      "id": "OutputFileList",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "OutputFile"
          },
          "type": "array",
          "description": "Output only. List of output files.",
          "readOnly": true
        }
      }
    },
    "DiskPartitionList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "DiskPartition"
          },
          "description": "Partition entries.",
          "type": "array"
        }
      },
      "description": "Disk partition list.",
      "id": "DiskPartitionList",
      "type": "object"
    },
    "ListRelationsResponse": {
      "description": "Response message for listing relations.",
      "id": "ListRelationsResponse",
      "type": "object",
      "properties": {
        "relations": {
          "description": "A list of relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "type": "object",
      "description": "Aggregated stats for the database deployment.",
      "properties": {
        "databaseCount": {
          "description": "Output only. The number of databases in the deployment.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VirtualMachinePreferences": {
      "description": "VirtualMachinePreferences enables you to create sets of assumptions, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "id": "VirtualMachinePreferences",
      "type": "object",
      "properties": {
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with.",
          "$ref": "RegionPreferences"
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        },
        "computeEnginePreferences": {
          "description": "Compute Engine preferences concern insights and recommendations for Compute Engine target.",
          "$ref": "ComputeEnginePreferences"
        },
        "targetProduct": {
          "type": "string",
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.6278",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ],
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ]
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1 year commitment.",
            "3 years commitment."
          ],
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS"
          ]
        },
        "soleTenancyPreferences": {
          "description": "Preferences concerning Sole Tenant nodes and virtual machines.",
          "$ref": "SoleTenancyPreferences"
        },
        "sizingOptimizationStrategy": {
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE"
          ],
          "type": "string",
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs."
          ]
        }
      }
    },
    "ListImportDataFilesResponse": {
      "id": "ListImportDataFilesResponse",
      "type": "object",
      "description": "Response for listing payload files of an import job.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "importDataFiles": {
          "type": "array",
          "description": "The list of import data files.",
          "items": {
            "$ref": "ImportDataFile"
          }
        }
      }
    },
    "AggregationHistogram": {
      "description": "Histogram of bucketed assets counts by field value.",
      "id": "AggregationHistogram",
      "type": "object",
      "properties": {
        "lowerBounds": {
          "type": "array",
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "NetworkAddress": {
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Assigned or configured IP Address."
        },
        "bcast": {
          "type": "string",
          "description": "Broadcast address."
        },
        "fqdn": {
          "description": "Fully qualified domain name.",
          "type": "string"
        },
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        },
        "assignment": {
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "description": "Whether DHCP is used to assign addresses.",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "type": "string"
        }
      },
      "description": "Details of network address.",
      "id": "NetworkAddress",
      "type": "object"
    },
    "BatchUpdateAssetsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateAssetRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array"
        }
      },
      "id": "BatchUpdateAssetsRequest",
      "type": "object",
      "description": "A request to update a list of assets."
    },
    "AwsRds": {
      "id": "AwsRds",
      "type": "object",
      "description": "Specific details for an AWS RDS database deployment.",
      "properties": {}
    },
    "ComputeStorageDescriptor": {
      "description": "Compute Engine storage option descriptor.",
      "id": "ComputeStorageDescriptor",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Output only. Disk type backing the storage.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "sizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Disk size in GiB.",
          "readOnly": true
        }
      }
    },
    "MigrationInsight": {
      "id": "MigrationInsight",
      "type": "object",
      "description": "An insight about potential migrations for an asset.",
      "properties": {
        "computeEngineTarget": {
          "description": "Output only. A Google Compute Engine target.",
          "readOnly": true,
          "$ref": "ComputeEngineMigrationTarget"
        },
        "fit": {
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "readOnly": true,
          "$ref": "FitDescriptor"
        }
      }
    },
    "ReportSummaryUtilizationChartData": {
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "id": "ReportSummaryUtilizationChartData",
      "type": "object",
      "properties": {
        "used": {
          "format": "int64",
          "type": "string",
          "description": "Aggregate value which falls into the \"Used\" bucket."
        },
        "free": {
          "type": "string",
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "format": "int64"
        }
      }
    },
    "DailyResourceUsageAggregationNetwork": {
      "properties": {
        "ingressBps": {
          "description": "Network ingress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "id": "DailyResourceUsageAggregationNetwork",
      "type": "object",
      "description": "Statistical aggregation of network usage."
    },
    "AggregationResultHistogramBucket": {
      "properties": {
        "upperBound": {
          "format": "double",
          "description": "Upper bound - exclusive.",
          "type": "number"
        },
        "lowerBound": {
          "type": "number",
          "description": "Lower bound - inclusive.",
          "format": "double"
        },
        "count": {
          "type": "string",
          "description": "Count of items in the bucket.",
          "format": "int64"
        }
      },
      "id": "AggregationResultHistogramBucket",
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity."
    },
    "DailyResourceUsageAggregation": {
      "id": "DailyResourceUsageAggregation",
      "type": "object",
      "description": "Usage data aggregation for a single day.",
      "properties": {
        "memory": {
          "description": "Memory usage.",
          "$ref": "DailyResourceUsageAggregationMemory"
        },
        "disk": {
          "description": "Disk usage.",
          "$ref": "DailyResourceUsageAggregationDisk"
        },
        "cpu": {
          "description": "CPU usage.",
          "$ref": "DailyResourceUsageAggregationCPU"
        },
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        }
      }
    },
    "Settings": {
      "description": "Describes the Migration Center settings related to the project.",
      "id": "Settings",
      "type": "object",
      "properties": {
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        },
        "disableCloudLogging": {
          "type": "boolean",
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the resource.",
          "readOnly": true
        }
      }
    },
    "ComputeEngineShapeDescriptor": {
      "properties": {
        "physicalCoreCount": {
          "type": "integer",
          "description": "Number of physical cores.",
          "format": "int32"
        },
        "series": {
          "type": "string",
          "description": "Output only. Compute Engine machine series.",
          "readOnly": true
        },
        "machineType": {
          "type": "string",
          "description": "Output only. Compute Engine machine type.",
          "readOnly": true
        },
        "storage": {
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "description": "Output only. Compute Engine storage. Never empty.",
          "readOnly": true,
          "type": "array"
        },
        "memoryMb": {
          "type": "integer",
          "description": "Memory in mebibytes.",
          "format": "int32"
        },
        "logicalCoreCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of logical cores.",
          "readOnly": true
        }
      },
      "description": "Compute Engine target shape descriptor.",
      "id": "ComputeEngineShapeDescriptor",
      "type": "object"
    },
    "RuntimeNetworkInfo": {
      "description": "Runtime networking information.",
      "id": "RuntimeNetworkInfo",
      "type": "object",
      "properties": {
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        },
        "scanTime": {
          "description": "Time of the last network scan.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ExecutionReport": {
      "properties": {
        "totalRowsCount": {
          "format": "int32",
          "description": "Output only. Total number of rows in the import job.",
          "readOnly": true,
          "type": "integer"
        },
        "framesReported": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of asset frames reported for the import job."
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        }
      },
      "description": "A resource that reports result of the import job execution.",
      "id": "ExecutionReport",
      "type": "object"
    },
    "FitDescriptor": {
      "properties": {
        "fitLevel": {
          "type": "string",
          "description": "Output only. Fit level.",
          "readOnly": true,
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ]
        }
      },
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "id": "FitDescriptor",
      "type": "object"
    },
    "ReportSummaryComputeEngineFinding": {
      "properties": {
        "allocatedRegions": {
          "type": "array",
          "description": "Set of regions in which the assets were allocated.",
          "items": {
            "type": "string"
          }
        },
        "allocatedAssetCount": {
          "description": "Count of assets which were allocated.",
          "type": "string",
          "format": "int64"
        },
        "machineSeriesAllocations": {
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          },
          "description": "Distribution of assets based on the Machine Series.",
          "type": "array"
        },
        "allocatedDiskTypes": {
          "type": "array",
          "description": "Set of disk types allocated to assets.",
          "items": {
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "type": "string",
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          }
        }
      },
      "description": "A set of findings that applies to assets destined for Compute Engine.",
      "id": "ReportSummaryComputeEngineFinding",
      "type": "object"
    },
    "AssetsExportJobExportCondition": {
      "id": "AssetsExportJobExportCondition",
      "type": "object",
      "description": "Conditions for selecting assets to export.",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      }
    },
    "ListSourcesResponse": {
      "properties": {
        "sources": {
          "description": "The list of sources.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for listing sources.",
      "id": "ListSourcesResponse",
      "type": "object"
    },
    "NetworkAdapterList": {
      "description": "List of network adapters.",
      "id": "NetworkAdapterList",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "type": "array",
          "description": "Network adapter entries."
        }
      }
    },
    "ValidationReport": {
      "properties": {
        "fileValidations": {
          "items": {
            "$ref": "FileValidationReport"
          },
          "type": "array",
          "description": "List of errors found in files."
        },
        "jobErrors": {
          "items": {
            "$ref": "ImportError"
          },
          "type": "array",
          "description": "List of job level errors."
        }
      },
      "id": "ValidationReport",
      "type": "object",
      "description": "A resource that aggregates errors across import job files."
    },
    "ReportSummaryChartData": {
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array",
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value."
        }
      },
      "id": "ReportSummaryChartData",
      "type": "object",
      "description": "Describes a collection of data points rendered as a Chart."
    },
    "SignedUri": {
      "properties": {
        "file": {
          "description": "Output only. Name of the file the Signed URI references.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Download URI for the file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Contains a signed URI.",
      "id": "SignedUri",
      "type": "object"
    },
    "OpenFileDetails": {
      "description": "Open file Information.",
      "id": "OpenFileDetails",
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "Opened file user."
        },
        "filePath": {
          "type": "string",
          "description": "Opened file file path."
        },
        "fileType": {
          "type": "string",
          "description": "Opened file file type."
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        }
      }
    },
    "GenericInsight": {
      "properties": {
        "defaultMessage": {
          "type": "string",
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead.",
          "readOnly": true
        },
        "additionalInformation": {
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messageId": {
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GenericInsight",
      "type": "object",
      "description": "A generic insight about an asset."
    },
    "FstabEntry": {
      "description": "Single fstab entry.",
      "id": "FstabEntry",
      "type": "object",
      "properties": {
        "passno": {
          "type": "integer",
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "format": "int32"
        },
        "file": {
          "type": "string",
          "description": "The mount point for the filesystem."
        },
        "freq": {
          "format": "int32",
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "type": "integer"
        },
        "vfstype": {
          "description": "The type of the filesystem.",
          "type": "string"
        },
        "mntops": {
          "description": "Mount options associated with the filesystem.",
          "type": "string"
        },
        "spec": {
          "description": "The block special device or remote filesystem to be mounted.",
          "type": "string"
        }
      }
    },
    "ListReportConfigsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "reportConfigs": {
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListReportConfigsResponse",
      "type": "object",
      "description": "Response message for listing report configs."
    },
    "PostgreSqlDatabaseDeployment": {
      "properties": {
        "properties": {
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "description": "Optional. List of PostgreSql properties.",
          "type": "array"
        },
        "settings": {
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "description": "Optional. List of PostgreSql settings.",
          "type": "array"
        }
      },
      "description": "Specific details for a PostgreSQL database deployment.",
      "id": "PostgreSqlDatabaseDeployment",
      "type": "object"
    },
    "VmwarePlatformDetails": {
      "properties": {
        "esxHyperthreading": {
          "description": "Whether the ESX is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "vcenterVersion": {
          "type": "string",
          "description": "vCenter version."
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        },
        "vcenterFolder": {
          "type": "string",
          "description": "Folder name in vCenter where asset resides."
        },
        "esxVersion": {
          "type": "string",
          "description": "ESX version."
        },
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        },
        "vcenterVmId": {
          "type": "string",
          "description": "vCenter VM ID."
        }
      },
      "id": "VmwarePlatformDetails",
      "type": "object",
      "description": "VMware specific details."
    },
    "DiskPartition": {
      "properties": {
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "uuid": {
          "type": "string",
          "description": "Partition UUID."
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "type": {
          "type": "string",
          "description": "Partition type."
        },
        "capacityBytes": {
          "type": "string",
          "description": "Partition capacity.",
          "format": "int64"
        },
        "freeBytes": {
          "format": "int64",
          "description": "Partition free space.",
          "type": "string"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        }
      },
      "description": "Disk Partition details.",
      "id": "DiskPartition",
      "type": "object"
    },
    "Report": {
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "id": "Report",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Report creation state.",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "type": {
          "description": "Report type.",
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation timestamp.",
          "readOnly": true
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "readOnly": true,
          "$ref": "ReportSummary"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "type": "object",
      "description": "Details of a logical database.",
      "properties": {
        "schemas": {
          "type": "array",
          "description": "Optional. The database schemas.",
          "items": {
            "$ref": "DatabaseSchema"
          }
        },
        "databaseName": {
          "description": "Required. The name of the database.",
          "type": "string"
        },
        "parentDatabaseDeployment": {
          "description": "Required. The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        },
        "allocatedStorageBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The allocated storage for the database in bytes."
        }
      }
    },
    "ReportSummaryGroupFinding": {
      "properties": {
        "overlappingAssetCount": {
          "deprecated": true,
          "format": "int64",
          "type": "string",
          "description": "This field is deprecated, do not rely on it having a value."
        },
        "displayName": {
          "type": "string",
          "description": "Display Name for the Group."
        },
        "description": {
          "type": "string",
          "description": "Description for the Group."
        },
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "preferenceSetFindings": {
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          },
          "description": "Findings for each of the PreferenceSets for this group.",
          "type": "array"
        }
      },
      "id": "ReportSummaryGroupFinding",
      "type": "object",
      "description": "Summary Findings for a specific Group."
    },
    "DatabaseDeploymentTopology": {
      "description": "Details of database deployment's topology.",
      "id": "DatabaseDeploymentTopology",
      "type": "object",
      "properties": {
        "physicalCoreCount": {
          "type": "integer",
          "description": "Optional. Number of total physical cores.",
          "format": "int32"
        },
        "physicalCoreLimit": {
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "type": "integer",
          "format": "int32"
        },
        "memoryBytes": {
          "format": "int64",
          "description": "Optional. Total memory in bytes.",
          "type": "string"
        },
        "diskAllocatedBytes": {
          "type": "string",
          "description": "Optional. Disk allocated in bytes.",
          "format": "int64"
        },
        "diskUsedBytes": {
          "format": "int64",
          "description": "Optional. Disk used in bytes.",
          "type": "string"
        },
        "memoryLimitBytes": {
          "description": "Optional. Total memory in bytes limited by db deployment.",
          "type": "string",
          "format": "int64"
        },
        "coreLimit": {
          "format": "int32",
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "type": "integer"
        },
        "instances": {
          "description": "Optional. List of database instances.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "coreCount": {
          "description": "Optional. Number of total logical cores.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DiscoveryClient": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. Immutable. Full name of the source object associated with this discovery client."
        },
        "ttl": {
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "type": "string",
          "format": "google-duration"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the discovery client was first created.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "heartbeatTime": {
          "type": "string",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Full name of this discovery client.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account used by the discovery client for various operation."
        },
        "signalsEndpoint": {
          "type": "string",
          "description": "Output only. This field is intended for internal use.",
          "readOnly": true
        },
        "version": {
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the discovery client.",
          "readOnly": true,
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Output only. Errors affecting client functionality.",
          "readOnly": true
        }
      },
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "id": "DiscoveryClient",
      "type": "object"
    },
    "ListImportJobsResponse": {
      "description": "A response for listing import jobs.",
      "id": "ListImportJobsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "importJobs": {
          "description": "The list of import jobs.",
          "type": "array",
          "items": {
            "$ref": "ImportJob"
          }
        }
      }
    },
    "BatchUpdateAssetsResponse": {
      "id": "BatchUpdateAssetsResponse",
      "type": "object",
      "description": "Response for updating a list of assets.",
      "properties": {
        "assets": {
          "items": {
            "$ref": "Asset"
          },
          "description": "Update asset content. The content only includes values after field mask being applied.",
          "type": "array"
        }
      }
    },
    "AggregateAssetsValuesRequest": {
      "properties": {
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "aggregations": {
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          }
        },
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        }
      },
      "id": "AggregateAssetsValuesRequest",
      "type": "object",
      "description": "A request to aggregate one or more values."
    },
    "PostgreSqlSetting": {
      "id": "PostgreSqlSetting",
      "type": "object",
      "description": "PostgreSql setting.",
      "properties": {
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Required. The setting int value."
        },
        "stringValue": {
          "type": "string",
          "description": "Required. The setting string value. Notice that enum values are stored as strings."
        },
        "unit": {
          "type": "string",
          "description": "Optional. The setting unit."
        },
        "realValue": {
          "format": "float",
          "description": "Required. The setting real value.",
          "type": "number"
        },
        "source": {
          "type": "string",
          "description": "Required. The setting source."
        },
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        }
      }
    },
    "AggregationFrequency": {
      "properties": {},
      "description": "Frequency distribution of all field values.",
      "id": "AggregationFrequency",
      "type": "object"
    },
    "RunningProcess": {
      "properties": {
        "user": {
          "type": "string",
          "description": "User running the process."
        },
        "attributes": {
          "type": "object",
          "description": "Process extended attributes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "exePath": {
          "type": "string",
          "description": "Process binary path."
        },
        "cmdline": {
          "type": "string",
          "description": "Process full command line."
        },
        "pid": {
          "format": "int64",
          "description": "Process ID.",
          "type": "string"
        }
      },
      "id": "RunningProcess",
      "type": "object",
      "description": "Guest OS running process details."
    },
    "SignedUriDestination": {
      "id": "SignedUriDestination",
      "type": "object",
      "description": "Signed URI destination configuration.",
      "properties": {
        "fileFormat": {
          "type": "string",
          "description": "Required. The file format to export.",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      }
    },
    "ImportRowErrorCsvErrorDetails": {
      "id": "ImportRowErrorCsvErrorDetails",
      "type": "object",
      "description": "Error details for a CSV file.",
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "DailyResourceUsageAggregationStats": {
      "properties": {
        "median": {
          "type": "number",
          "description": "Median usage value.",
          "format": "float"
        },
        "ninteyFifthPercentile": {
          "format": "float",
          "description": "95th percentile usage value.",
          "type": "number"
        },
        "peak": {
          "format": "float",
          "description": "Peak usage value.",
          "type": "number"
        },
        "average": {
          "description": "Average usage value.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Statistical aggregation of samples for a single resource usage.",
      "id": "DailyResourceUsageAggregationStats",
      "type": "object"
    },
    "RemoveAssetsFromGroupRequest": {
      "id": "RemoveAssetsFromGroupRequest",
      "type": "object",
      "description": "A request to remove assets from a group.",
      "properties": {
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ListErrorFramesResponse": {
      "id": "ListErrorFramesResponse",
      "type": "object",
      "description": "A response for listing error frames.",
      "properties": {
        "errorFrames": {
          "description": "The list of error frames.",
          "type": "array",
          "items": {
            "$ref": "ErrorFrame"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "PerformanceSample": {
      "description": "Performance data sample.",
      "id": "PerformanceSample",
      "type": "object",
      "properties": {
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "sampleTime": {
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string",
          "format": "google-datetime"
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "disk": {
          "description": "Disk usage sample.",
          "$ref": "DiskUsageSample"
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        }
      }
    },
    "ReportSummaryMachineSeriesAllocation": {
      "properties": {
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets allocated to this machine series.",
          "type": "string"
        }
      },
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "id": "ReportSummaryMachineSeriesAllocation",
      "type": "object"
    },
    "GuestOsDetails": {
      "properties": {
        "osName": {
          "type": "string",
          "description": "The name of the operating system."
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "version": {
          "type": "string",
          "description": "The version of the operating system."
        },
        "family": {
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "description": "What family the OS belong to, if known.",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "type": "string"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        }
      },
      "id": "GuestOsDetails",
      "type": "object",
      "description": "Information from Guest-level collections."
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "description": "The identifiers of the parent database deployment.",
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "type": "object",
      "properties": {
        "generatedId": {
          "type": "string",
          "description": "Optional. The parent database deployment generated ID."
        },
        "manualUniqueId": {
          "description": "Optional. The parent database deployment optional manual unique ID set by the user.",
          "type": "string"
        }
      }
    },
    "PlatformDetails": {
      "properties": {
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "vmwareDetails": {
          "description": "VMware specific details.",
          "$ref": "VmwarePlatformDetails"
        },
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        },
        "azureVmDetails": {
          "description": "Azure VM specific details.",
          "$ref": "AzureVmPlatformDetails"
        }
      },
      "description": "Information about the platform.",
      "id": "PlatformDetails",
      "type": "object"
    },
    "MachineDetails": {
      "id": "MachineDetails",
      "type": "object",
      "description": "Details of a machine.",
      "properties": {
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "type": "string",
          "description": "Power state of the machine.",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ]
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "memoryMb": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of memory in the machine. Must be non-negative."
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "createTime": {
          "description": "Machine creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        }
      }
    },
    "PostgreSqlSchemaDetails": {
      "properties": {
        "foreignTablesCount": {
          "type": "integer",
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32"
        },
        "postgresqlExtensions": {
          "items": {
            "$ref": "PostgreSqlExtension"
          },
          "description": "Optional. PostgreSql extensions.",
          "type": "array"
        }
      },
      "id": "PostgreSqlSchemaDetails",
      "type": "object",
      "description": "Specific details for a PostgreSql schema."
    },
    "InsightList": {
      "id": "InsightList",
      "type": "object",
      "description": "Message containing insights list.",
      "properties": {
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "insights": {
          "type": "array",
          "description": "Output only. Insights of the list.",
          "readOnly": true,
          "items": {
            "$ref": "Insight"
          }
        }
      }
    },
    "Group": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the group was created.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the group.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the group was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "id": "Group",
      "type": "object"
    },
    "Aggregation": {
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.",
      "id": "Aggregation",
      "type": "object",
      "properties": {
        "sum": {
          "description": "Sum over a numeric field.",
          "$ref": "AggregationSum"
        },
        "frequency": {
          "description": "Creates a frequency distribution of all field values.",
          "$ref": "AggregationFrequency"
        },
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        },
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        },
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        }
      }
    },
    "NetworkConnectionList": {
      "id": "NetworkConnectionList",
      "type": "object",
      "description": "Network connection list.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network connection entries.",
          "items": {
            "$ref": "NetworkConnection"
          }
        }
      }
    },
    "RunningService": {
      "properties": {
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "startMode": {
          "enum": [
            "START_MODE_UNSPECIFIED",
            "BOOT",
            "SYSTEM",
            "AUTO",
            "MANUAL",
            "DISABLED"
          ],
          "description": "Service start mode (OS-agnostic).",
          "enumDescriptions": [
            "Start mode unspecified.",
            "The service is a device driver started by the system loader.",
            "The service is a device driver started by the IOInitSystem function.",
            "The service is started by the operating system, at system start-up",
            "The service is started only manually, by a user.",
            "The service is disabled."
          ],
          "type": "string"
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "cmdline": {
          "type": "string",
          "description": "Service command line."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "STOPPED"
          ],
          "type": "string",
          "description": "Service state (OS-agnostic).",
          "enumDescriptions": [
            "Service state unspecified.",
            "Service is active.",
            "Service is paused.",
            "Service is stopped."
          ]
        },
        "pid": {
          "format": "int64",
          "type": "string",
          "description": "Service pid."
        }
      },
      "id": "RunningService",
      "type": "object",
      "description": "Guest OS running service details."
    },
    "ListAssetsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "assets": {
          "items": {
            "$ref": "Asset"
          },
          "description": "A list of assets.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for listing assets.",
      "id": "ListAssetsResponse",
      "type": "object"
    },
    "BiosDetails": {
      "properties": {
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "biosName": {
          "deprecated": true,
          "type": "string",
          "description": "BIOS name. This fields is deprecated. Please use the `id` field instead."
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "releaseDate": {
          "description": "BIOS release date.",
          "$ref": "Date"
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "BIOS ID."
        }
      },
      "description": "Details about the BIOS.",
      "id": "BiosDetails",
      "type": "object"
    },
    "DatabaseObjects": {
      "id": "DatabaseObjects",
      "type": "object",
      "description": "Details of a group of database objects.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Optional. The category of the objects.",
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ]
        },
        "count": {
          "type": "string",
          "description": "Optional. The number of objects.",
          "format": "int64"
        }
      }
    },
    "MySqlSchemaDetails": {
      "properties": {
        "storageEngines": {
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          },
          "description": "Optional. Mysql storage engine tables.",
          "type": "array"
        }
      },
      "description": "Specific details for a Mysql database.",
      "id": "MySqlSchemaDetails",
      "type": "object"
    },
    "NetworkAdapterDetails": {
      "properties": {
        "macAddress": {
          "description": "MAC address.",
          "type": "string"
        },
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        },
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        }
      },
      "id": "NetworkAdapterDetails",
      "type": "object",
      "description": "Details of network adapter."
    },
    "MySqlProperty": {
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "numericValue": {
          "type": "string",
          "description": "Required. The property numeric value.",
          "format": "int64"
        }
      },
      "id": "MySqlProperty",
      "type": "object",
      "description": "MySql property."
    },
    "ListPreferenceSetsResponse": {
      "properties": {
        "preferenceSets": {
          "description": "The list of PreferenceSets",
          "type": "array",
          "items": {
            "$ref": "PreferenceSet"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for listing preference sets.",
      "id": "ListPreferenceSetsResponse",
      "type": "object"
    },
    "RegionPreferences": {
      "id": "RegionPreferences",
      "type": "object",
      "description": "The user preferences relating to target regions.",
      "properties": {
        "preferredRegions": {
          "type": "array",
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Relation": {
      "id": "Relation",
      "type": "object",
      "description": "Message representing a relation between 2 resource.",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "readOnly": true,
          "type": "string"
        },
        "dstAsset": {
          "description": "Output only. The destination asset name in the relation.",
          "readOnly": true,
          "type": "string"
        },
        "srcAsset": {
          "description": "Output only. The source asset name in the relation.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "type": "string",
          "description": "Optional. The type of the relation.",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the relation was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "AssetsExportJobNetworkDependencies": {
      "properties": {},
      "description": "Configuration for network dependencies exports.",
      "id": "AssetsExportJobNetworkDependencies",
      "type": "object"
    },
    "Asset": {
      "properties": {
        "hidden": {
          "type": "boolean",
          "description": "Optional. Indicates if the asset is hidden."
        },
        "name": {
          "type": "string",
          "description": "Output only. The full name of the asset.",
          "readOnly": true
        },
        "machineDetails": {
          "description": "Output only. Asset information specific for virtual and physical machines.",
          "readOnly": true,
          "$ref": "MachineDetails"
        },
        "sources": {
          "type": "array",
          "description": "Output only. The list of sources contributing to the asset.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "hideTime": {
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "databaseDetails": {
          "description": "Output only. Asset information specific for logical databases.",
          "readOnly": true,
          "$ref": "DatabaseDetails"
        },
        "databaseDeploymentDetails": {
          "description": "Output only. Asset information specific for database deployments.",
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetails"
        },
        "performanceData": {
          "description": "Output only. Performance data for the asset.",
          "readOnly": true,
          "$ref": "AssetPerformanceData"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "insightList": {
          "description": "Output only. The list of insights associated with the asset.",
          "readOnly": true,
          "$ref": "InsightList"
        },
        "title": {
          "description": "Output only. Server generated human readable name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the asset was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "attributes": {
          "type": "object",
          "description": "Generic asset attributes.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Asset",
      "type": "object",
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases."
    },
    "ReportSummaryVmwareNodeAllocation": {
      "properties": {
        "nodeCount": {
          "description": "Count of this node type to be provisioned",
          "type": "string",
          "format": "int64"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets allocated to these nodes",
          "format": "int64"
        },
        "vmwareNode": {
          "description": "VMWare node type, e.g. \"ve1-standard-72\"",
          "$ref": "ReportSummaryVmwareNode"
        }
      },
      "id": "ReportSummaryVmwareNodeAllocation",
      "type": "object",
      "description": "Represents assets allocated to a specific VMWare Node type."
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "type": "object",
      "description": "PostgreSql extension.",
      "properties": {
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      }
    },
    "ComputeEngineMigrationTarget": {
      "id": "ComputeEngineMigrationTarget",
      "type": "object",
      "description": "Compute engine migration target.",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      }
    },
    "ImportRowErrorXlsxErrorDetails": {
      "description": "Error details for an XLSX file.",
      "id": "ImportRowErrorXlsxErrorDetails",
      "type": "object",
      "properties": {
        "sheet": {
          "type": "string",
          "description": "The name of the sheet where the error was detected."
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DailyResourceUsageAggregationCPU": {
      "description": "Statistical aggregation of CPU usage.",
      "id": "DailyResourceUsageAggregationCPU",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "description": "CPU utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "AssetFrame": {
      "properties": {
        "collectionType": {
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "type": "string"
        },
        "databaseDetails": {
          "description": "Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "reportTime": {
          "description": "The time the data was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "databaseDeploymentDetails": {
          "description": "Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails"
        },
        "machineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "MachineDetails"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "traceToken": {
          "type": "string",
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability."
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "performanceSamples": {
          "type": "array",
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "items": {
            "$ref": "PerformanceSample"
          }
        }
      },
      "id": "AssetFrame",
      "type": "object",
      "description": "Contains data reported from an inventory source on an asset."
    },
    "RunningProcessList": {
      "id": "RunningProcessList",
      "type": "object",
      "description": "List of running guest OS processes.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Running process entries.",
          "items": {
            "$ref": "RunningProcess"
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "DatabaseInstanceNetwork": {
      "id": "DatabaseInstanceNetwork",
      "type": "object",
      "description": "Network details of a database instance.",
      "properties": {
        "primaryMacAddress": {
          "type": "string",
          "description": "Optional. The instance's primary MAC address."
        },
        "ipAddresses": {
          "description": "Optional. The instance's IP addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hostNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The instance's host names."
        }
      }
    },
    "ValidateImportJobRequest": {
      "id": "ValidateImportJobRequest",
      "type": "object",
      "description": "A request to validate an import job.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "HostsEntry": {
      "properties": {
        "ip": {
          "type": "string",
          "description": "IP (raw, IPv4/6 agnostic)."
        },
        "hostNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of host names / aliases."
        }
      },
      "id": "HostsEntry",
      "type": "object",
      "description": "Single /etc/hosts entry."
    },
    "RunAssetsExportJobRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "RunAssetsExportJobRequest",
      "type": "object",
      "description": "A request to run an assets export job."
    },
    "SoleTenancyPreferences": {
      "id": "SoleTenancyPreferences",
      "type": "object",
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "properties": {
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment.",
            "3 years commitment."
          ],
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR"
          ]
        },
        "hostMaintenancePolicy": {
          "description": "Sole Tenancy nodes maintenance policy.",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "type": "string",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ]
        },
        "nodeTypes": {
          "items": {
            "$ref": "SoleTenantNodeType"
          },
          "type": "array",
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered."
        },
        "cpuOvercommitRatio": {
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "type": "number"
        }
      }
    },
    "CascadingRule": {
      "description": "Specifies cascading rules for traversing relations.",
      "id": "CascadingRule",
      "type": "object",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      }
    },
    "GuestRuntimeDetails": {
      "id": "GuestRuntimeDetails",
      "type": "object",
      "description": "Guest OS runtime information.",
      "properties": {
        "network": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        },
        "openFileList": {
          "description": "Open files information.",
          "$ref": "OpenFileList"
        },
        "domain": {
          "type": "string",
          "description": "Domain, e.g. c.stratozone-development.internal."
        },
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "lastBootTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last time the OS was booted."
        },
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        }
      }
    },
    "MachineDiskDetails": {
      "properties": {
        "totalCapacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disk total Capacity."
        },
        "totalFreeBytes": {
          "type": "string",
          "description": "Total disk free space.",
          "format": "int64"
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        }
      },
      "id": "MachineDiskDetails",
      "type": "object",
      "description": "Details of machine disks."
    },
    "DiskPartitionDetails": {
      "description": "Disk partition details.",
      "id": "DiskPartitionDetails",
      "type": "object",
      "properties": {
        "freeSpaceBytes": {
          "description": "Output only. Total free space of all partitions.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "totalCapacityBytes": {
          "format": "int64",
          "description": "Output only. Total capacity of all partitions.",
          "readOnly": true,
          "type": "string"
        },
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        }
      }
    },
    "DiskUsageSample": {
      "id": "DiskUsageSample",
      "type": "object",
      "description": "Disk usage sample. Values are across all disks.",
      "properties": {
[...]
