{
  "title": "Migration Center API",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "migrationcenter:v1alpha1",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/migration-center",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260503",
  "kind": "discovery#restDescription",
  "version": "v1alpha1",
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version_module": true,
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "migrationcenter",
  "schemas": {
    "AggregationResultCount": {
      "description": "The result of a count aggregation.",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AggregationResultCount",
      "type": "object"
    },
    "ListReportsResponse": {
      "description": "Response message for listing Reports.",
      "properties": {
        "reports": {
          "description": "The list of Reports.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListReportsResponse",
      "type": "object"
    },
    "AggregationSum": {
      "description": "Sum of field values.",
      "properties": {},
      "id": "AggregationSum",
      "type": "object"
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "description": "Contains a single output file of type XLSX.",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "readOnly": true,
          "$ref": "SignedUri"
        }
      },
      "type": "object"
    },
    "SignedUriDestination": {
      "type": "object",
      "id": "SignedUriDestination",
      "description": "Signed URI destination configuration.",
      "properties": {
        "fileFormat": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "description": "Required. The file format to export.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      }
    },
    "AggregationCount": {
      "id": "AggregationCount",
      "description": "Object count.",
      "properties": {},
      "type": "object"
    },
    "HostingProviderDetailsAws": {
      "description": "Details for AWS platform.",
      "properties": {
        "owningAccountId": {
          "type": "string",
          "description": "Optional. The AWS account ID owning the resource represented by this asset."
        }
      },
      "id": "HostingProviderDetailsAws",
      "type": "object"
    },
    "SoleTenantNodeType": {
      "id": "SoleTenantNodeType",
      "description": "A Sole Tenant node type.",
      "properties": {
        "nodeName": {
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NfsExportList": {
      "type": "object",
      "description": "NFS exports.",
      "properties": {
        "entries": {
          "description": "NFS export entries.",
          "type": "array",
          "items": {
            "$ref": "NfsExport"
          }
        }
      },
      "id": "NfsExportList"
    },
    "DiscoveryClientDiscoveryClientRecommendedVersion": {
      "type": "object",
      "id": "DiscoveryClientDiscoveryClientRecommendedVersion",
      "description": "Discovery client recommended version.",
      "properties": {
        "version": {
          "description": "Output only. The version of the discovery client.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the discovery client version."
        }
      }
    },
    "ListReportExportJobsResponse": {
      "description": "Response message for listing report export jobs.",
      "properties": {
        "reportExportJobs": {
          "description": "Output only. The list of report export jobs.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReportExportJob"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ListReportExportJobsResponse",
      "type": "object"
    },
    "RunningServiceList": {
      "description": "List of running guest OS services.",
      "properties": {
        "entries": {
          "description": "Running service entries.",
          "type": "array",
          "items": {
            "$ref": "RunningService"
          }
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "RunningService"
          },
          "description": "Running service entries."
        }
      },
      "id": "RunningServiceList",
      "type": "object"
    },
    "NfsExport": {
      "description": "NFS export.",
      "properties": {
        "hosts": {
          "description": "The hosts or networks to which the export is being shared.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        }
      },
      "id": "NfsExport",
      "type": "object"
    },
    "MachineArchitectureDetails": {
      "type": "object",
      "description": "Details of the machine architecture.",
      "properties": {
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "cpuName": {
          "type": "string",
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc."
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuSocketCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine."
        },
        "firmwareType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "description": "Firmware type.",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ]
        },
        "cpuArchitecture": {
          "type": "string",
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc."
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        }
      },
      "id": "MachineArchitectureDetails"
    },
    "AggregationFrequency": {
      "type": "object",
      "description": "Frequency distribution of all field values.",
      "properties": {},
      "id": "AggregationFrequency"
    },
    "Asset": {
      "type": "object",
      "id": "Asset",
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "properties": {
        "awsEcrRepositoryDetails": {
          "description": "Output only. Asset information specific for AwsEcrRepositoryDetails",
          "$ref": "AwsEcrRepositoryDetails",
          "readOnly": true
        },
        "awsApplicationLoadBalancerDetails": {
          "$ref": "AwsApplicationLoadBalancerDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Application Load Balancers."
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset."
        },
        "hostingProviderDetails": {
          "description": "Output only. Details about the hosting provider of the asset.",
          "readOnly": true,
          "$ref": "HostingProviderDetails"
        },
        "awsElasticIpAddressDetails": {
          "description": "Output only. Asset information specific for AWS Elastic IP Addresses.",
          "readOnly": true,
          "$ref": "AwsElasticIpAddressDetails"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the asset was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "awsS3BucketDetails": {
          "description": "Output only. Asset information specific for AWS S3 buckets.",
          "$ref": "AwsS3BucketDetails",
          "readOnly": true
        },
        "awsEbsVolumeDetails": {
          "description": "Output only. Asset information specific for AWS EBS Volumes.",
          "$ref": "AwsEbsVolumeDetails",
          "readOnly": true
        },
        "structuredAttributes": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Generic structured asset attributes."
        },
        "insightList": {
          "readOnly": true,
          "$ref": "InsightList",
          "description": "Output only. The list of insights associated with the asset."
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "awsApiGatewayRestApiDetails": {
          "$ref": "AwsApiGatewayRestApiDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS API Gateway REST APIs."
        },
        "hidden": {
          "type": "boolean",
          "description": "Optional. Indicates if the asset is hidden."
        },
        "awsInternetGatewayDetails": {
          "$ref": "AwsInternetGatewayDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Internet Gateways."
        },
        "awsVpcDetails": {
          "readOnly": true,
          "$ref": "AwsVpcDetails",
          "description": "Output only. Asset information specific for AWS VPCs."
        },
        "awsElbLoadBalancerDetails": {
          "description": "Output only. Asset information specific for AWS Load Balancers.",
          "readOnly": true,
          "$ref": "AwsElbLoadBalancerDetails"
        },
        "awsEfsFileSystemDetails": {
          "description": "Output only. Asset information specific for AWS EFS file systems.",
          "$ref": "AwsEfsFileSystemDetails",
          "readOnly": true
        },
        "awsSnsTopicDetails": {
          "$ref": "AwsSnsTopicDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS SNS Topics."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was created."
        },
        "awsAppSyncGraphqlApiDetails": {
          "description": "Output only. Asset information specific for AWS AppSync GraphQL APIs.",
          "$ref": "AwsAppSyncGraphqlApiDetails",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "hideTime": {
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "awsCloudFrontDistributionDetails": {
          "$ref": "AwsCloudFrontDistributionDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS CloudFront distributions."
        },
        "awsLambdaFunctionDetails": {
          "description": "Output only. Asset information specific for AWS Lambda functions.",
          "readOnly": true,
          "$ref": "AwsLambdaFunctionDetails"
        },
        "awsRedshiftDetails": {
          "readOnly": true,
          "$ref": "AwsRedshiftDetails",
          "description": "Output only. Asset information specific for AWS Redshift"
        },
        "awsAutoscalingGroupDetails": {
          "description": "Output only. Asset information specific for AwsAutoscalingGroupDetails",
          "$ref": "AwsAutoscalingGroupDetails",
          "readOnly": true
        },
        "awsElasticNetworkInterfaceDetails": {
          "description": "Output only. Asset information specific for AWS Elastic Network Interfaces.",
          "$ref": "AwsElasticNetworkInterfaceDetails",
          "readOnly": true
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "virtualMachineDetails": {
          "$ref": "VirtualMachineDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for virtual machines."
        },
        "sources": {
          "description": "Output only. The list of sources contributing to the asset.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "performanceData": {
          "$ref": "AssetPerformanceData",
          "description": "Performance data for the asset."
        },
        "databaseDetails": {
          "$ref": "DatabaseDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for logical databases."
        },
        "awsRoute53HostedZoneDetails": {
          "readOnly": true,
          "$ref": "AwsRoute53HostedZoneDetails",
          "description": "Output only. Asset information specific for AwsRoute53HostedZoneDetails"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the asset."
        },
        "assignedGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of groups that the asset is assigned to."
        },
        "machineDetails": {
          "description": "Output only. Asset information specific for virtual machines.",
          "readOnly": true,
          "$ref": "MachineDetails"
        },
        "awsDynamodbTableDetails": {
          "readOnly": true,
          "$ref": "AwsDynamoDBTableDetails",
          "description": "Output only. Asset information specific for AWS DynamoDB tables."
        },
        "awsNatGatewayDetails": {
          "readOnly": true,
          "$ref": "AwsNatGatewayDetails",
          "description": "Output only. Asset information specific for AwsNatGatewayDetails"
        },
        "awsEcsClusterDetails": {
          "description": "Output only. Asset information specific for AWS ECS clusters.",
          "$ref": "AwsEcsClusterDetails",
          "readOnly": true
        },
        "databaseDeploymentDetails": {
          "description": "Output only. Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails",
          "readOnly": true
        },
        "awsEksClusterDetails": {
          "description": "Output only. Asset information specific for AWS EKS clusters.",
          "readOnly": true,
          "$ref": "AwsEksClusterDetails"
        },
        "awsBatchComputeEnvironmentDetails": {
          "description": "Output only. Asset information specific for AWS Batch Compute Environments.",
          "readOnly": true,
          "$ref": "AwsBatchComputeEnvironmentDetails"
        }
      }
    },
    "IssueCompatibilityIssue": {
      "id": "IssueCompatibilityIssue",
      "description": "Details about a compatibility issue.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Output only. Category of this compatibility issue.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "DATABASE_FLAG",
            "DATABASE_FEATURE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified compatibility category.",
            "Database flag compatibility category.",
            "Database feature compatibility category."
          ]
        },
        "associatedObject": {
          "description": "Output only. Name of the object associated with this compatibility issue relative to the relevant asset. Does not represent a fully qualified resource name and is not intended for programmatic use.",
          "type": "string",
          "readOnly": true
        },
        "associatedValue": {
          "description": "Output only. A string representation of actual value associated with this issue. Some values may contain aggregated information, such as a flag name and the actual value assigned to it.",
          "readOnly": true,
          "type": "string"
        },
        "associatedObjectType": {
          "description": "Output only. Type of object associated with this migration compatibility issue.",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "DATABASE_DEPLOYMENT",
            "DATABASE",
            "SCHEMA"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified object type.",
            "A database deployment object type.",
            "A logical database object type.",
            "A schema object type."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabasePreferences": {
      "type": "object",
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases.",
      "properties": {
        "mysqlToCloudSqlForMysqlPreferences": {
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL.",
          "$ref": "DatabasePreferencesCloudSqlMySql"
        },
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "$ref": "DatabasePreferencesCloudSqlPostgreSql",
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL."
        },
        "mssqlToCloudSqlForSqlServerPreferences": {
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server.",
          "$ref": "DatabasePreferencesCloudSqlSqlServer"
        }
      },
      "id": "DatabasePreferences"
    },
    "DiskEntry": {
      "type": "object",
      "description": "Single disk entry.",
      "properties": {
        "freeSpaceBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disk free space."
        },
        "interfaceType": {
          "description": "Disks interface type (e.g. SATA/SCSI)",
          "type": "string"
        },
        "partitions": {
          "description": "Partition layout.",
          "$ref": "DiskPartitionList"
        },
        "totalFreeBytes": {
          "description": "Disk free space.",
          "type": "string",
          "format": "int64"
        },
        "diskLabelType": {
          "type": "string",
          "description": "Disk label type (e.g. BIOS/GPT)"
        },
        "hwAddress": {
          "type": "string",
          "description": "Disk hardware address (e.g. 0:1 for SCSI)."
        },
        "totalCapacityBytes": {
          "type": "string",
          "format": "int64",
          "description": "Disk capacity."
        },
        "capacityBytes": {
          "description": "Disk capacity.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Disk status (e.g. online)."
        },
        "diskLabel": {
          "description": "Disk label.",
          "type": "string"
        }
      },
      "id": "DiskEntry"
    },
    "HostingProviderDetails": {
      "type": "object",
      "description": "Details about the hosting platform of the asset.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The timestamp when resource was created in the hosting provider."
        },
        "originalId": {
          "type": "string",
          "description": "Optional. Unique identifier for the asset in the hosting provider."
        },
        "displayName": {
          "description": "Optional. Display name of the asset.",
          "type": "string"
        },
        "location": {
          "$ref": "ResourceLocation",
          "description": "Optional. Location of the asset."
        },
        "aws": {
          "description": "Optional. The AWS platform details.",
          "$ref": "HostingProviderDetailsAws"
        }
      },
      "id": "HostingProviderDetails"
    },
    "DatabaseObjects": {
      "id": "DatabaseObjects",
      "description": "Details of a group of database objects.",
      "properties": {
        "category": {
          "description": "The category of the objects.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ]
        },
        "count": {
          "description": "The number of objects.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAssetsResponse": {
      "description": "Response message for listing assets.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "assets": {
          "description": "A list of assets.",
          "type": "array",
          "items": {
            "$ref": "Asset"
          }
        }
      },
      "id": "ListAssetsResponse",
      "type": "object"
    },
    "ReportSummaryHistogramChartData": {
      "id": "ReportSummaryHistogramChartData",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          }
        }
      },
      "type": "object"
    },
    "GuestInstalledApplicationList": {
      "type": "object",
      "id": "GuestInstalledApplicationList",
      "description": "Guest installed application list.",
      "properties": {
        "entries": {
          "description": "Application entries.",
          "type": "array",
          "items": {
            "$ref": "GuestInstalledApplication"
          }
        }
      }
    },
    "ReportSummaryChartDataDataPoint": {
      "id": "ReportSummaryChartDataDataPoint",
      "description": "Describes a single data point in the Chart.",
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "description": "The Y-axis value for this data point.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "AwsDynamoDBTableDetails": {
      "id": "AwsDynamoDBTableDetails",
      "description": "Details of an AWS DynamoDB table.",
      "properties": {},
      "type": "object"
    },
    "ReportSummaryVMWareNode": {
      "id": "ReportSummaryVMWareNode",
      "description": "A VMWare Engine Node",
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDiscoveryClientsResponse": {
      "type": "object",
      "description": "Response message for listing discovery clients.",
      "properties": {
        "discoveryClients": {
          "description": "List of discovery clients.",
          "type": "array",
          "items": {
            "$ref": "DiscoveryClient"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListDiscoveryClientsResponse"
    },
    "ComputeEngineMigrationTarget": {
      "type": "object",
      "description": "Compute engine migration target.",
      "properties": {
        "shape": {
          "$ref": "ComputeEngineShapeDescriptor",
          "description": "Description of the suggested shape for the migration target."
        }
      },
      "id": "ComputeEngineMigrationTarget"
    },
    "MySqlVariable": {
      "description": "MySql variable.",
      "properties": {
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        },
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        },
        "category": {
          "description": "Required. The variable category.",
          "type": "string"
        }
      },
      "id": "MySqlVariable",
      "type": "object"
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "type": "object",
      "description": "Parameters that affect network cost estimations.",
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100]."
        }
      },
      "id": "VirtualMachinePreferencesNetworkCostParameters"
    },
    "SignedUris": {
      "type": "object",
      "id": "SignedUris",
      "description": "Contains a list of Signed URIs.",
      "properties": {
        "signedUris": {
          "description": "Output only. List of signed URIs.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SignedUri"
          }
        }
      }
    },
    "AggregationResultHistogramBucket": {
      "id": "AggregationResultHistogramBucket",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Count of items in the bucket."
        },
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "format": "double",
          "type": "number"
        },
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleKubernetesEngineMigrationTarget": {
      "description": "GKE migration target.",
      "properties": {},
      "id": "GoogleKubernetesEngineMigrationTarget",
      "type": "object"
    },
    "PostgreSqlSchemaDetails": {
      "id": "PostgreSqlSchemaDetails",
      "description": "Specific details for a PostgreSql schema.",
      "properties": {
        "foreignTablesCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. PostgreSql foreign tables."
        },
        "postgresqlExtensions": {
          "description": "Optional. PostgreSql extensions.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        }
      },
      "type": "object"
    },
    "AwsEcrRepositoryDetails": {
      "id": "AwsEcrRepositoryDetails",
      "description": "Asset information specific for AWS ECR Repository.",
      "properties": {},
      "type": "object"
    },
    "HostsEntryList": {
      "id": "HostsEntryList",
      "description": "Hosts content.",
      "properties": {
        "entries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "HostsEntry"
          },
          "description": "Output only. Hosts entries."
        }
      },
      "type": "object"
    },
    "InsightList": {
      "type": "object",
      "id": "InsightList",
      "description": "Message containing insights list.",
      "properties": {
        "insights": {
          "description": "Output only. Insights of the list.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Insight"
          }
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "MigrationInsight": {
      "type": "object",
      "id": "MigrationInsight",
      "description": "An insight about potential migrations for an asset.",
      "properties": {
        "computeEngineTarget": {
          "description": "Output only. A Google Compute Engine target.",
          "readOnly": true,
          "$ref": "ComputeEngineMigrationTarget"
        },
        "cloudDatabaseTarget": {
          "$ref": "CloudDatabaseMigrationTarget",
          "readOnly": true,
          "description": "Output only. A Cloud database migration target."
        },
        "gkeTarget": {
          "readOnly": true,
          "$ref": "GoogleKubernetesEngineMigrationTarget",
          "description": "Output only. A Google Kubernetes Engine target."
        },
        "computeEngineSoleTenantTarget": {
          "readOnly": true,
          "$ref": "ComputeEngineSoleTenantMigrationTarget",
          "description": "Output only. A Google Compute Engine Sole Tenant target."
        },
        "fit": {
          "$ref": "FitDescriptor",
          "readOnly": true,
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration."
        },
        "vmwareEngineTarget": {
          "description": "Output only. A VMWare Engine target.",
          "$ref": "VmwareEngineMigrationTarget",
          "readOnly": true
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "readOnly": true,
          "description": "Output only. Issues associated with this migration."
        }
      }
    },
    "RunAssetsExportJobResponse": {
      "type": "object",
      "description": "Response message for running an assets export job.",
      "properties": {
        "assetsExportJobExecution": {
          "readOnly": true,
          "$ref": "AssetsExportJobExecution",
          "description": "Output only. Execution status of the assets export operation."
        }
      },
      "id": "RunAssetsExportJobResponse"
    },
    "ReportSummaryUtilizationChartData": {
      "id": "ReportSummaryUtilizationChartData",
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "properties": {
        "free": {
          "type": "string",
          "format": "int64",
          "description": "Aggregate value which falls into the \"Free\" bucket."
        },
        "used": {
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlServerServerFlag": {
      "type": "object",
      "description": "SQL Server server flag details.",
      "properties": {
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        },
        "serverFlagName": {
          "type": "string",
          "description": "Required. The server flag name."
        },
        "value": {
          "description": "Required. The server flag value set by the user.",
          "type": "string"
        }
      },
      "id": "SqlServerServerFlag"
    },
    "VmwareEngineMigrationTarget": {
      "description": "VMWare engine migration target.",
      "properties": {},
      "id": "VmwareEngineMigrationTarget",
      "type": "object"
    },
    "ImportRowErrorXlsxErrorDetails": {
      "description": "Error details for an XLSX file.",
      "properties": {
        "rowNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The row number where the error was detected."
        },
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        }
      },
      "id": "ImportRowErrorXlsxErrorDetails",
      "type": "object"
    },
    "AggregationResultSum": {
      "description": "The result of a sum aggregation.",
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "AggregationResultSum",
      "type": "object"
    },
    "AwsLambdaFunctionDetails": {
      "type": "object",
      "description": "Asset information specific for AWS Lambda functions.",
      "properties": {},
      "id": "AwsLambdaFunctionDetails"
    },
    "NetworkAdapterList": {
      "type": "object",
      "id": "NetworkAdapterList",
      "description": "List of network adapters.",
      "properties": {
        "networkAdapters": {
          "description": "Network adapter descriptions.",
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        },
        "entries": {
          "description": "Network adapter entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        }
      }
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "description": "The identifiers of the parent database deployment.",
      "properties": {
        "generatedId": {
          "description": "The parent database deployment generated ID.",
          "type": "string"
        },
        "manualUniqueId": {
          "type": "string",
          "description": "The parent database deployment optional manual unique ID set by the user."
        }
      },
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "type": "object"
    },
    "AssetsExportJobExecutionResult": {
      "description": "Contains the result of the assets export.",
      "properties": {
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true,
          "$ref": "SignedUris"
        },
        "outputFiles": {
          "description": "Output only. List of output files.",
          "$ref": "OutputFileList",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Error encountered during export.",
          "$ref": "Status",
          "readOnly": true
        }
      },
      "id": "AssetsExportJobExecutionResult",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        }
      },
      "type": "object"
    },
    "DatabasePreferencesCloudSqlCommonBackup": {
      "id": "DatabasePreferencesCloudSqlCommonBackup",
      "description": "Preferences for database backups.",
      "properties": {
        "backupMode": {
          "description": "Optional. Automated backup mode.",
          "enum": [
            "BACKUP_MODE_UNSPECIFIED",
            "BACKUP_MODE_DISABLED",
            "BACKUP_MODE_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified database backup mode.",
            "Automatic backups disabled, no additional charges for storage.",
            "Automatic backups enabled, there will be additional charges for storage."
          ]
        }
      },
      "type": "object"
    },
    "DatabaseDeploymentDetails": {
      "description": "The details of a database deployment asset.",
      "properties": {
        "aggregatedStats": {
          "description": "Output only. Aggregated stats for the database deployment.",
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "readOnly": true
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Details of a MYSQL database deployment."
        },
        "manualUniqueId": {
          "type": "string",
          "description": "A manual unique ID set by the user."
        },
        "topology": {
          "description": "Details of the database deployment topology.",
          "$ref": "DatabaseDeploymentTopology"
        },
        "postgresql": {
          "$ref": "PostgreSqlDatabaseDeployment",
          "description": "Details of a PostgreSQL database deployment."
        },
        "awsRds": {
          "$ref": "AwsRds",
          "description": "Optional. Details of an AWS RDS instance."
        },
        "generatedId": {
          "type": "string",
          "description": "The database deployment generated ID."
        },
        "edition": {
          "type": "string",
          "description": "The database deployment edition."
        },
        "sqlServer": {
          "description": "Details of a Microsoft SQL Server database deployment.",
          "$ref": "SqlServerDatabaseDeployment"
        },
        "version": {
          "description": "The database deployment version.",
          "type": "string"
        }
      },
      "id": "DatabaseDeploymentDetails",
      "type": "object"
    },
    "AwsElbLoadBalancerDetails": {
      "id": "AwsElbLoadBalancerDetails",
      "description": "Asset information specific for AWS Load Balancers.",
      "properties": {},
      "type": "object"
    },
    "HostsEntry": {
      "id": "HostsEntry",
      "description": "Single /etc/hosts entry.",
      "properties": {
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        },
        "hostNames": {
          "description": "List of host names / aliases.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "RunningService": {
      "type": "object",
      "id": "RunningService",
      "description": "Guest OS running service details.",
      "properties": {
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "name": {
          "description": "Service name.",
          "type": "string"
        },
        "startMode": {
          "description": "Service start mode (raw, OS-agnostic).",
          "type": "string"
        },
        "exePath": {
          "type": "string",
          "description": "Service binary path."
        },
        "state": {
          "type": "string",
          "description": "Service state (raw, OS-agnostic)."
        },
        "pid": {
          "format": "int64",
          "type": "string",
          "description": "Service pid."
        },
        "status": {
          "description": "Service status.",
          "type": "string"
        },
        "cmdline": {
          "type": "string",
          "description": "Service command line."
        }
      }
    },
    "VirtualMachinePreferences": {
      "type": "object",
      "id": "VirtualMachinePreferences",
      "description": "VirtualMachinePreferences enables you to create sets of preferences, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "properties": {
        "commitmentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ]
        },
        "sizingOptimizationStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ]
        },
        "computeEnginePreferences": {
          "description": "Optional. Compute Engine preferences concern insights and recommendations for Compute Engine target.",
          "$ref": "ComputeEnginePreferences"
        },
        "networkCostParameters": {
          "description": "Optional. Parameters that affect network cost estimations. If not set, default values will be used for the parameters.",
          "$ref": "VirtualMachinePreferencesNetworkCostParameters"
        },
        "estimatedUsage": {
          "description": "Optional. Estimated usage data for missing usage data. If performance data is available, it overrides this field. If not set, default values will be used for the usage data.",
          "$ref": "EstimatedUsage"
        },
        "targetProduct": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ],
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ]
        },
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If PreferenceSet.RegionPreferences is specified, it overrides this field.",
          "$ref": "RegionPreferences"
        },
        "soleTenancyPreferences": {
          "$ref": "SoleTenancyPreferences",
          "description": "Preferences concerning Sole Tenant nodes and virtual machines."
        },
        "sizingOptimizationCustomParameters": {
          "$ref": "VirtualMachinePreferencesSizingOptimizationCustomParameters",
          "description": "Optional. Custom data to use for sizing optimizations. Relevant when SizingOptimizationStrategy is set to \"custom\"."
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        }
      }
    },
    "DailyResourceUsageAggregationStats": {
      "id": "DailyResourceUsageAggregationStats",
      "description": "Statistical aggregation of samples for a single resource usage.",
      "properties": {
        "average": {
          "format": "float",
          "type": "number",
          "description": "Average usage value."
        },
        "ninteyFifthPercentile": {
          "type": "number",
          "format": "float",
          "description": "95th percentile usage value."
        },
        "peak": {
          "type": "number",
          "format": "float",
          "description": "Peak usage value."
        },
        "median": {
          "description": "Median usage value.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "RunImportJobRequest": {
      "type": "object",
      "description": "A request to run an import job.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunImportJobRequest"
    },
    "CloudSqlForPostgreSqlShape": {
      "description": "Cloud SQL for PostgreSQL database shape.",
      "properties": {
        "memoryMb": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Predicted amount of memory in MiB."
        },
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "version": {
          "type": "string",
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance.",
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ],
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ],
          "readOnly": true
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor",
          "readOnly": true
        },
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "type": "string"
        },
        "edition": {
          "type": "string",
          "description": "Output only. Cloud SQL edition.",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ]
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "CloudSqlForPostgreSqlShape",
      "type": "object"
    },
    "Relation": {
      "type": "object",
      "description": "Message representing a relation between 2 resource.",
      "properties": {
        "srcAsset": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The source asset name in the relation."
        },
        "createTime": {
          "description": "Output only. The timestamp when the relation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "description": "Optional. The type of the relation.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ]
        },
        "dstAsset": {
          "description": "Output only. The destination asset name in the relation.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Relation"
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "type": "object",
      "description": "A request to send a discovery client heartbeat.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        },
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "id": "SendDiscoveryClientHeartbeatRequest"
    },
    "AwsApplicationLoadBalancerDetails": {
      "type": "object",
      "id": "AwsApplicationLoadBalancerDetails",
      "description": "Asset information specific for AWS Application Load Balancers.",
      "properties": {}
    },
    "DailyResourceUsageAggregationCPU": {
      "description": "Statistical aggregation of CPU usage.",
      "properties": {
        "utilizationPercentage": {
          "description": "CPU utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "id": "DailyResourceUsageAggregationCPU",
      "type": "object"
    },
    "MySqlProperty": {
      "description": "MySql property.",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "MySqlProperty",
      "type": "object"
    },
    "DailyResourceUsageAggregationDisk": {
      "type": "object",
      "description": "Statistical aggregation of disk usage.",
      "properties": {
        "iops": {
          "description": "Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Disk write I/O operations per second."
        },
        "readIops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Disk read I/O operations per second."
        }
      },
      "id": "DailyResourceUsageAggregationDisk"
    },
    "ImportDataFile": {
      "description": "A resource that represents a payload file in an import job.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the file."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name. Maximum length is 256 characters."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "description": "Output only. The state of the import data file.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "type": "string"
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "format": {
          "description": "Required. The payload format.",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the file was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "ImportDataFile",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      }
    },
    "UpdateAssetRequest": {
      "type": "object",
      "id": "UpdateAssetRequest",
      "description": "A request to update an asset.",
      "properties": {
        "updateMask": {
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "asset": {
          "description": "Required. The resource being updated.",
          "$ref": "Asset"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "ReportSummarySoleTenantFinding": {
      "type": "object",
      "id": "ReportSummarySoleTenantFinding",
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets are allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          }
        },
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "OutputFileList": {
      "id": "OutputFileList",
      "description": "Contains a list of output files.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "OutputFile"
          },
          "description": "List of output files."
        }
      },
      "type": "object"
    },
    "AwsS3BucketDetailsStorageClass": {
      "type": "object",
      "description": "Details about storage class.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage class type.",
            "General Purpose",
            "Represents Intelligent-Tiering's auto-tiering",
            "Standard-Infrequent Access",
            "One Zone-Infrequent Access",
            "S3 Glacier Flexible Retrieval",
            "S3 Glacier Deep Archive",
            "S3 Glacier Instant Retrieval",
            "S3 Reduced Redundancy Storage (Legacy)",
            "S3 Express One Zone"
          ],
          "description": "Required. Type of the storage class.",
          "enum": [
            "STORAGE_CLASS_TYPE_UNSPECIFIED",
            "STANDARD",
            "INTELLIGENT_TIERING",
            "STANDARD_IA",
            "ONE_ZONE_IA",
            "GLACIER",
            "DEEP_ARCHIVE",
            "GLACIER_IR",
            "REDUCED_REDUNDANCY",
            "EXPRESS_ONEZONE"
          ]
        },
        "totalBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The total size of the storage class in bytes."
        }
      },
      "id": "AwsS3BucketDetailsStorageClass"
    },
    "AwsEfsFileSystemDetails": {
      "description": "Details of an AWS EFS file system.",
      "properties": {},
      "id": "AwsEfsFileSystemDetails",
      "type": "object"
    },
    "NetworkAddress": {
      "id": "NetworkAddress",
      "description": "Details of network address.",
      "properties": {
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "assignment": {
          "description": "Whether DHCP is used to assign addresses.",
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ]
        },
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name."
        },
        "bcast": {
          "type": "string",
          "description": "Broadcast address."
        }
      },
      "type": "object"
    },
    "AwsS3BucketDetailsObjectsMetadata": {
      "id": "AwsS3BucketDetailsObjectsMetadata",
      "description": "The metadata of the objects in the bucket.",
      "properties": {
        "totalObjects": {
          "$ref": "AwsS3BucketDetailsObjectsMetadataTotalObjects",
          "description": "Optional. The total number of objects in the bucket."
        }
      },
      "type": "object"
    },
    "AwsElasticNetworkInterfaceDetails": {
      "description": "Asset information specific for AWS Elastic Network Interfaces.",
      "properties": {},
      "id": "AwsElasticNetworkInterfaceDetails",
      "type": "object"
    },
    "AwsBatchComputeEnvironmentDetails": {
      "type": "object",
      "id": "AwsBatchComputeEnvironmentDetails",
      "description": "Asset information specific for AWS Batch Compute Environments.",
      "properties": {}
    },
    "RunningProcess": {
      "type": "object",
      "id": "RunningProcess",
      "description": "Guest OS running process details.",
      "properties": {
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        },
        "pid": {
          "description": "Process ID.",
          "format": "int64",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Process extended attributes."
        },
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "User running the process."
        }
      }
    },
    "DatabaseSchema": {
      "description": "Details of a database schema.",
      "properties": {
        "postgresql": {
          "description": "Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "mysql": {
          "description": "Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "DatabaseObjects"
          },
          "description": "List of details of objects by category."
        },
        "tablesSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total size of tables in bytes."
        },
        "schemaName": {
          "description": "The name of the schema.",
          "type": "string"
        },
        "sqlServer": {
          "description": "Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        }
      },
      "id": "DatabaseSchema",
      "type": "object"
    },
    "BatchUpdateAssetsResponse": {
      "description": "Response for updating a list of assets.",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "$ref": "Asset"
          },
          "description": "Update asset content. The content only includes values after field mask being applied."
        }
      },
      "id": "BatchUpdateAssetsResponse",
      "type": "object"
    },
    "ComputeEnginePreferences": {
      "description": "The user preferences relating to Compute Engine target platform.",
      "properties": {
        "machinePreferences": {
          "$ref": "MachinePreferences",
          "description": "Preferences concerning the machine types to consider on Compute Engine."
        },
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "description": "License type to consider when calculating costs for operating systems. If unspecified, costs are calculated based on the default licensing plan. If os_pricing_preferences is specified, it overrides this field.",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ]
        },
        "osPricingPreferences": {
          "description": "Optional. Pricing options for OS images.",
          "$ref": "OperatingSystemPricingPreferences"
        },
        "multithreading": {
          "description": "Optional. Preferences for multithreading support on Windows Server.",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ]
        },
        "persistentDiskType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        }
      },
      "id": "ComputeEnginePreferences",
      "type": "object"
    },
    "Report": {
      "type": "object",
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "properties": {
        "updateTime": {
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "description": "Report type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation timestamp."
        },
        "summary": {
          "readOnly": true,
          "$ref": "ReportSummary",
          "description": "Output only. Summary view of the Report."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of resource."
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "description": "Report creation state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        }
      },
      "id": "Report"
    },
    "AwsRoute53HostedZoneDetails": {
      "type": "object",
      "description": "Details of an AWS Route 53 Hosted Zone.",
      "properties": {},
      "id": "AwsRoute53HostedZoneDetails"
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "description": "PostgreSql extension.",
      "properties": {
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Required. The extension version."
        }
      },
      "type": "object"
    },
    "AwsS3BucketDetails": {
      "type": "object",
      "description": "Asset information specific for AWS S3 buckets.",
      "properties": {
        "versioning": {
          "$ref": "AwsS3BucketDetailsVersioning",
          "description": "Optional. Versioning configuration of the bucket."
        },
        "objectsMetadata": {
          "description": "Optional. The metadata of the objects in the bucket.",
          "$ref": "AwsS3BucketDetailsObjectsMetadata"
        },
        "storageClasses": {
          "type": "array",
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          },
          "description": "Optional. The storage classes in the bucket."
        }
      },
      "id": "AwsS3BucketDetails"
    },
    "ReportSummaryGroupFinding": {
      "id": "ReportSummaryGroupFinding",
      "description": "Summary Findings for a specific Group.",
      "properties": {
        "assetType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown asset type.",
            "Virtual Machine asset type",
            "Database asset type"
          ],
          "readOnly": true,
          "description": "Output only. Asset type for the group finding.",
          "enum": [
            "ASSET_TYPE_UNSPECIFIED",
            "VIRTUAL_MACHINE",
            "DATABASE"
          ]
        },
        "overlappingAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "This field is deprecated, do not rely on it having a value.",
          "deprecated": true
        },
        "preferenceSetFindings": {
          "description": "Findings for each of the PreferenceSets for this group.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          }
        },
        "group": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full name of the group."
        },
        "description": {
          "type": "string",
          "description": "Description for this group finding."
        },
        "assetAggregateStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Summary statistics for all the assets in this group."
        },
        "databaseType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown database type.",
            "SQL Server database.",
            "MySQL database.",
            "PostgreSQL database."
          ],
          "description": "Output only. Source asset database type for the group finding. Only present for databases.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "SQL_SERVER",
            "MYSQL",
            "POSTGRES"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Display Name for this group finding."
        }
      },
      "type": "object"
    },
    "InlinePayloadInfo": {
      "id": "InlinePayloadInfo",
      "description": "A resource that represents the inline import job payload.",
      "properties": {
        "format": {
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The import job format.",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "type": "string"
        },
        "payload": {
          "type": "array",
          "items": {
            "$ref": "PayloadFile"
          },
          "description": "List of payload files."
        }
      },
      "type": "object"
    },
    "DateTime": {
      "id": "DateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "properties": {
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Time zone."
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string",
          "format": "google-duration"
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
        }
      },
      "type": "object"
    },
    "CloudSqlForSqlServerShape": {
      "type": "object",
      "id": "CloudSqlForSqlServerShape",
      "description": "Cloud SQL for SQL Server database shape.",
      "properties": {
        "smtEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance)."
        },
        "version": {
          "type": "string",
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance.",
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ],
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ],
          "readOnly": true
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "edition": {
          "type": "string",
          "description": "Output only. Cloud SQL edition.",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "readOnly": true
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "memoryMb": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB."
        },
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "storage": {
          "$ref": "ComputeStorageDescriptor",
          "readOnly": true,
          "description": "Output only. Predicted storage shape."
        },
        "zoneAvailability": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "readOnly": true,
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        }
      }
    },
    "AggregationResult": {
      "description": "Message describing a result of an aggregation.",
      "properties": {
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "field": {
          "type": "string"
        }
      },
      "id": "AggregationResult",
      "type": "object"
    },
    "PlatformDetails": {
      "type": "object",
      "description": "Information about the platform.",
      "properties": {
        "awsEc2Details": {
          "$ref": "AwsEc2PlatformDetails",
          "description": "AWS EC2 specific details."
        },
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "physicalDetails": {
          "$ref": "PhysicalPlatformDetails",
          "description": "Physical machines platform details."
        },
        "vmwareDetails": {
          "$ref": "VmwarePlatformDetails",
          "description": "VMware specific details."
        },
        "azureVmDetails": {
          "description": "Azure VM specific details.",
          "$ref": "AzureVmPlatformDetails"
        }
      },
      "id": "PlatformDetails"
    },
    "PostgreSqlDatabaseDeployment": {
      "type": "object",
      "id": "PostgreSqlDatabaseDeployment",
      "description": "Specific details for a PostgreSQL database deployment.",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "description": "Optional. List of PostgreSql properties."
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "description": "Optional. List of PostgreSql settings."
        }
      }
    },
    "OpenFileList": {
      "type": "object",
      "description": "Open file list.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "OpenFileDetails"
          },
          "description": "Open file details entries."
        }
      },
      "id": "OpenFileList"
    },
    "AggregationResultHistogram": {
      "description": "The result of a bucketed histogram aggregation.",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          }
        }
      },
      "id": "AggregationResultHistogram",
      "type": "object"
    },
    "AssetsExportJobInventory": {
      "type": "object",
      "description": "Configuration for asset inventory details exports.",
      "properties": {},
      "id": "AssetsExportJobInventory"
    },
    "ImportRowErrorCsvErrorDetails": {
      "type": "object",
      "description": "Error details for a CSV file.",
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ImportRowErrorCsvErrorDetails"
    },
    "VirtualMachinePreferencesSizingOptimizationCustomParameters": {
      "description": "Custom data to use for sizing optimizations.",
      "properties": {
        "storageMultiplier": {
          "description": "Optional. Desired increase factor of storage, relative to currently used storage. Must be in the interval [1.0, 2.0] (or 0 for default value).",
          "format": "double",
          "type": "number"
        },
        "cpuUsagePercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Desired percentage of CPU usage. Must be in the interval [1, 100] (or 0 for default value)."
        },
        "memoryUsagePercentage": {
          "description": "Optional. Desired percentage of memory usage. Must be in the interval [1, 100] (or 0 for default value).",
          "format": "int32",
          "type": "integer"
        },
        "aggregationMethod": {
          "description": "Optional. Type of statistical aggregation of a resource utilization data, on which to base the sizing metrics.",
          "enum": [
            "AGGREGATION_METHOD_UNSPECIFIED",
            "AGGREGATION_METHOD_AVERAGE",
            "AGGREGATION_METHOD_MEDIAN",
            "AGGREGATION_METHOD_NINETY_FIFTH_PERCENTILE",
            "AGGREGATION_METHOD_PEAK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified aggregation method. Can be used for default value.",
            "Average of utilization data.",
            "Median of utilization data.",
            "95th percentile of utilization data.",
            "Peak of utilization data."
          ]
        }
      },
      "id": "VirtualMachinePreferencesSizingOptimizationCustomParameters",
      "type": "object"
    },
    "MachineNetworkDetails": {
      "id": "MachineNetworkDetails",
      "description": "Details of network adapters and settings.",
      "properties": {
        "publicIpAddress": {
          "description": "The public IP address of the machine.",
          "type": "string"
        },
        "defaultGateway": {
          "description": "Default gateway address.",
          "type": "string"
        },
        "networkAdapters": {
          "description": "List of network adapters.",
          "$ref": "NetworkAdapterList"
        },
        "primaryMacAddress": {
          "description": "MAC address of the machine. This property is used to uniqly identify the machine.",
          "type": "string"
        },
        "primaryIpAddress": {
          "description": "The primary IP address of the machine.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabaseInstanceNetwork": {
      "type": "object",
      "description": "Network details of a database instance.",
      "properties": {
        "ipAddresses": {
          "description": "Optional. The instance's IP addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hostNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The instance's host names."
        },
        "primaryMacAddress": {
          "description": "Optional. The instance's primary MAC address.",
          "type": "string"
        }
      },
      "id": "DatabaseInstanceNetwork"
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "format": "int32",
[...]
