{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260423",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "name": "migrationcenter",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GuestConfigDetails": {
      "id": "GuestConfigDetails",
      "description": "Guest OS config information.",
      "properties": {
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "selinux": {
          "description": "SELinux details.",
          "$ref": "Selinux"
        },
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "hosts": {
          "readOnly": true,
          "description": "Output only. Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "type": "string",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ]
        }
      },
      "type": "object"
    },
    "Money": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type."
    },
    "DiskUsageSample": {
      "properties": {
        "averageReadIops": {
          "format": "float",
          "description": "Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number"
        },
        "averageIops": {
          "type": "number",
          "format": "float",
          "description": "Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops."
        },
        "averageWriteIops": {
          "type": "number",
          "description": "Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "DiskUsageSample",
      "description": "Disk usage sample. Values are across all disks."
    },
    "ReportConfig": {
      "id": "ReportConfig",
      "description": "The groups and associated preference sets on which we can generate reports.",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "groupPreferencesetAssignments": {
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          },
          "type": "array",
          "description": "Required. Collection of combinations of groups and preference sets."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of resource."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportExportExecutionResult": {
      "id": "ReportExportExecutionResult",
      "description": "Contains the result of the report export.",
      "type": "object",
      "properties": {
        "outputFiles": {
          "readOnly": true,
          "description": "Output only. List of output files.",
          "$ref": "OutputFileList"
        },
        "signedUris": {
          "readOnly": true,
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "$ref": "SignedUris"
        },
        "error": {
          "description": "Output only. Error encountered during export.",
          "$ref": "Status",
          "readOnly": true
        }
      }
    },
    "ErrorFrame": {
      "type": "object",
      "properties": {
        "originalFrame": {
          "description": "Output only. The frame that was originally reported.",
          "$ref": "AssetFrame",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the ErrorFrame.",
          "type": "string"
        },
        "ingestionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Frame ingestion time.",
          "type": "string"
        },
        "violations": {
          "readOnly": true,
          "description": "Output only. All the violations that were detected for the frame.",
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "type": "array"
        }
      },
      "id": "ErrorFrame",
      "description": "Message representing a frame which failed to be processed due to an error."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "ListImportJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "importJobs": {
          "description": "The list of import jobs.",
          "type": "array",
          "items": {
            "$ref": "ImportJob"
          }
        }
      },
      "type": "object",
      "id": "ListImportJobsResponse",
      "description": "A response for listing import jobs."
    },
    "SignedUris": {
      "id": "SignedUris",
      "description": "Contains a list of Signed URIs.",
      "type": "object",
      "properties": {
        "signedUris": {
          "readOnly": true,
          "description": "Output only. List of signed URIs.",
          "items": {
            "$ref": "SignedUri"
          },
          "type": "array"
        }
      }
    },
    "AwsS3BucketDetailsVersioning": {
      "id": "AwsS3BucketDetailsVersioning",
      "description": "Versioning configuration of the bucket.",
      "properties": {
        "enabled": {
          "description": "Optional. Whether versioning is enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ReportSummaryVMWareEngineFinding": {
      "id": "ReportSummaryVMWareEngineFinding",
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "properties": {
        "allocatedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets were allocated"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets which are allocated",
          "format": "int64"
        },
        "nodeAllocations": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryVMWareNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records"
        }
      },
      "type": "object"
    },
    "AwsBatchComputeEnvironmentDetails": {
      "id": "AwsBatchComputeEnvironmentDetails",
      "description": "Asset information specific for AWS Batch Compute Environments.",
      "properties": {},
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AwsAppSyncGraphqlApiDetails": {
      "id": "AwsAppSyncGraphqlApiDetails",
      "description": "Asset information specific for AWS AppSync GraphQL APIs.",
      "type": "object",
      "properties": {}
    },
    "CloudSqlForSqlServerShape": {
      "type": "object",
      "properties": {
        "logicalCoreCount": {
          "type": "integer",
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "format": "int32"
        },
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "zoneAvailability": {
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "readOnly": true,
          "description": "Output only. Cloud SQL zone availability."
        },
        "smtEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance)."
        },
        "edition": {
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "description": "Output only. Cloud SQL edition.",
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ]
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor",
          "readOnly": true
        },
        "backupStorageGb": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer"
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance.",
          "type": "string",
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ],
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ]
        }
      },
      "id": "CloudSqlForSqlServerShape",
      "description": "Cloud SQL for SQL Server database shape."
    },
    "UpdateAssetRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "format": "google-fieldmask"
        },
        "asset": {
          "description": "Required. The resource being updated.",
          "$ref": "Asset"
        }
      },
      "type": "object",
      "id": "UpdateAssetRequest",
      "description": "A request to update an asset."
    },
    "HostingProviderDetailsAws": {
      "id": "HostingProviderDetailsAws",
      "description": "Details for AWS platform.",
      "type": "object",
      "properties": {
        "owningAccountId": {
          "description": "Optional. The AWS account ID owning the resource represented by this asset.",
          "type": "string"
        }
      }
    },
    "AwsS3BucketDetails": {
      "properties": {
        "objectsMetadata": {
          "description": "Optional. The metadata of the objects in the bucket.",
          "$ref": "AwsS3BucketDetailsObjectsMetadata"
        },
        "versioning": {
          "description": "Optional. Versioning configuration of the bucket.",
          "$ref": "AwsS3BucketDetailsVersioning"
        },
        "storageClasses": {
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          },
          "type": "array",
          "description": "Optional. The storage classes in the bucket."
        }
      },
      "type": "object",
      "id": "AwsS3BucketDetails",
      "description": "Asset information specific for AWS S3 buckets."
    },
    "MachineDetails": {
      "type": "object",
      "properties": {
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "description": "Power state of the machine.",
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Machine creation time."
        },
        "coreCount": {
          "type": "integer",
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "format": "int32"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        }
      },
      "id": "MachineDetails",
      "description": "Details of a machine."
    },
    "MemoryUsageSample": {
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100].",
          "format": "float"
        }
      },
      "id": "MemoryUsageSample",
      "description": "Memory usage sample."
    },
    "AggregationHistogram": {
      "id": "AggregationHistogram",
      "description": "Histogram of bucketed assets counts by field value.",
      "type": "object",
      "properties": {
        "lowerBounds": {
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "MySqlVariable": {
      "id": "MySqlVariable",
      "description": "MySql variable.",
      "properties": {
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        },
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        },
        "category": {
          "description": "Required. The variable category.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AssetsExportJobExecutionResult": {
      "type": "object",
      "properties": {
        "outputFiles": {
          "description": "Output only. List of output files.",
          "$ref": "OutputFileList",
          "readOnly": true
        },
        "signedUris": {
          "readOnly": true,
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "$ref": "SignedUris"
        },
        "error": {
          "description": "Output only. Error encountered during export.",
          "$ref": "Status",
          "readOnly": true
        }
      },
      "id": "AssetsExportJobExecutionResult",
      "description": "Contains the result of the assets export."
    },
    "AwsElasticIpAddressDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsElasticIpAddressDetails",
      "description": "Asset information specific for AWS Elastic IP Addresses."
    },
    "ImportJob": {
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames.",
      "properties": {
        "gcsPayload": {
          "deprecated": true,
          "description": "The payload is in Google Cloud Storage.",
          "$ref": "GCSPayloadInfo"
        },
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full name of the import job."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "inlinePayload": {
          "description": "The payload is included in the request, mainly used for small import jobs.",
          "$ref": "InlinePayloadInfo"
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "type": "string",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "readOnly": true,
          "description": "Output only. The state of the import job."
        },
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "$ref": "ValidationReport",
          "readOnly": true
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was created.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the import job was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AssetsExportJobNetworkDependencies": {
      "id": "AssetsExportJobNetworkDependencies",
      "description": "Configuration for network dependencies exports.",
      "properties": {},
      "type": "object"
    },
    "FstabEntryList": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "Fstab entries.",
          "items": {
            "$ref": "FstabEntry"
          },
          "type": "array"
        }
      },
      "id": "FstabEntryList",
      "description": "Fstab content."
    },
    "Settings": {
      "id": "Settings",
      "description": "Describes the Migration Center settings related to the project.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "customerConsentForGoogleSalesToAccessMigrationCenter": {
          "description": "Customer consent for Google sales to access their Cloud Migration Center project.",
          "type": "boolean"
        },
        "disableCloudLogging": {
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs.",
          "type": "boolean"
        },
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        }
      }
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "type": "object",
      "properties": {
        "multithreading": {
          "description": "Optional. Preferences for multithreading support.",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ],
          "type": "string",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ]
        },
        "common": {
          "description": "Optional. Preferences to Cloud SQL databases.",
          "$ref": "DatabasePreferencesCloudSqlCommon"
        },
        "versionType": {
          "type": "string",
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ],
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance.",
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ]
        }
      },
      "id": "DatabasePreferencesCloudSqlSqlServer",
      "description": "Preferences for SQL Server on Cloud SQL."
    },
    "RunReportExportJobRequest": {
      "id": "RunReportExportJobRequest",
      "description": "A request to run a report export job.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CascadingRule": {
      "type": "object",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      },
      "id": "CascadingRule",
      "description": "Specifies cascading rules for traversing relations."
    },
    "AwsEc2PlatformDetails": {
      "properties": {
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        },
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        }
      },
      "type": "object",
      "id": "AwsEc2PlatformDetails",
      "description": "AWS EC2 specific details."
    },
    "SignedUriDestination": {
      "type": "object",
      "properties": {
        "fileFormat": {
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "Required. The file format to export.",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ]
        }
      },
      "id": "SignedUriDestination",
      "description": "Signed URI destination configuration."
    },
    "SqlServerTraceFlag": {
      "properties": {
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "description": "Required. The trace flag scope."
        }
      },
      "type": "object",
      "id": "SqlServerTraceFlag",
      "description": "SQL Server trace flag details."
    },
    "AwsApplicationLoadBalancerDetails": {
      "id": "AwsApplicationLoadBalancerDetails",
      "description": "Asset information specific for AWS Application Load Balancers.",
      "properties": {},
      "type": "object"
    },
    "PostgreSqlSetting": {
      "id": "PostgreSqlSetting",
      "description": "PostgreSql setting.",
      "properties": {
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "intValue": {
          "type": "string",
          "description": "Required. The setting int value.",
          "format": "int64"
        },
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "realValue": {
          "type": "number",
          "description": "Required. The setting real value.",
          "format": "float"
        },
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RemoveAssetsFromGroupRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        }
      },
      "id": "RemoveAssetsFromGroupRequest",
      "description": "A request to remove assets from a group."
    },
    "ImportDataFile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the file.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the file was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "format": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "description": "Required. The payload format.",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ]
        },
        "state": {
          "description": "Output only. The state of the import data file.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ]
        }
      },
      "type": "object",
      "id": "ImportDataFile",
      "description": "A resource that represents a payload file in an import job."
    },
    "ImportRowErrorXlsxErrorDetails": {
      "id": "ImportRowErrorXlsxErrorDetails",
      "description": "Error details for an XLSX file.",
      "type": "object",
      "properties": {
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        },
        "rowNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The row number where the error was detected."
        }
      }
    },
    "RegionPreferences": {
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "RegionPreferences",
      "description": "The user preferences relating to target regions."
    },
    "RunAssetsExportJobRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunAssetsExportJobRequest",
      "description": "A request to run an assets export job."
    },
    "IssueCompatibilityIssue": {
      "type": "object",
      "properties": {
        "associatedObjectType": {
          "description": "Output only. Type of object associated with this migration compatibility issue.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "DATABASE_DEPLOYMENT",
            "DATABASE",
            "SCHEMA"
          ],
          "enumDescriptions": [
            "An unspecified object type.",
            "A database deployment object type.",
            "A logical database object type.",
            "A schema object type."
          ]
        },
        "associatedObject": {
          "type": "string",
          "description": "Output only. Name of the object associated with this compatibility issue relative to the relevant asset. Does not represent a fully qualified resource name and is not intended for programmatic use.",
          "readOnly": true
        },
        "category": {
          "enumDescriptions": [
            "An unspecified compatibility category.",
            "Database flag compatibility category.",
            "Database feature compatibility category."
          ],
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "DATABASE_FLAG",
            "DATABASE_FEATURE"
          ],
          "description": "Output only. Category of this compatibility issue.",
          "readOnly": true
        },
        "associatedValue": {
          "description": "Output only. A string representation of actual value associated with this issue. Some values may contain aggregated information, such as a flag name and the actual value assigned to it.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "IssueCompatibilityIssue",
      "description": "Details about a compatibility issue."
    },
    "AssetsExportJobExecution": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Completion time of the export."
        },
        "result": {
          "readOnly": true,
          "description": "Output only. Result of the export execution.",
          "$ref": "AssetsExportJobExecutionResult"
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Expiration time for the export and artifacts."
        },
        "requestedAssetCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of assets requested for export after resolving the requested filters."
        },
        "executionId": {
          "type": "string",
          "description": "Output only. Globally unique identifier of the execution.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Execution timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "AssetsExportJobExecution",
      "description": "Execution status of assets export job."
    },
    "SignedUri": {
      "properties": {
        "file": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the file the Signed URI references."
        },
        "uri": {
          "description": "Output only. Download URI for the file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "SignedUri",
      "description": "Contains a signed URI."
    },
    "AwsEbsVolumeDetails": {
      "id": "AwsEbsVolumeDetails",
      "description": "Asset information specific for AWS EBS Volumes.",
      "properties": {},
      "type": "object"
    },
    "OpenFileDetails": {
      "properties": {
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "user": {
          "description": "Opened file user.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OpenFileDetails",
      "description": "Open file Information."
    },
    "AwsElasticNetworkInterfaceDetails": {
      "id": "AwsElasticNetworkInterfaceDetails",
      "description": "Asset information specific for AWS Elastic Network Interfaces.",
      "properties": {},
      "type": "object"
    },
    "DiskPartition": {
      "properties": {
        "freeBytes": {
          "type": "string",
          "description": "Partition free space.",
          "format": "int64"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "capacityBytes": {
          "description": "Partition capacity.",
          "format": "int64",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "type": {
          "description": "Partition type (e.g. BIOS boot).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DiskPartition",
      "description": "Disk Partition details."
    },
    "DailyResourceUsageAggregationDisk": {
      "id": "DailyResourceUsageAggregationDisk",
      "description": "Statistical aggregation of disk usage.",
      "type": "object",
      "properties": {
        "iops": {
          "description": "Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "readIops": {
          "description": "Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "DiskEntry": {
      "id": "DiskEntry",
      "description": "Single disk entry.",
      "type": "object",
      "properties": {
        "totalCapacityBytes": {
          "type": "string",
          "description": "Disk capacity.",
          "format": "int64"
        },
        "totalFreeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Disk free space."
        },
        "capacityBytes": {
          "type": "string",
          "description": "Disk capacity.",
          "format": "int64"
        },
        "freeSpaceBytes": {
          "description": "Disk free space.",
          "format": "int64",
          "type": "string"
        },
        "diskLabel": {
          "description": "Disk label.",
          "type": "string"
        },
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        },
        "status": {
          "description": "Disk status (e.g. online).",
          "type": "string"
        },
        "partitions": {
          "description": "Partition layout.",
          "$ref": "DiskPartitionList"
        },
        "hwAddress": {
          "description": "Disk hardware address (e.g. 0:1 for SCSI).",
          "type": "string"
        },
        "interfaceType": {
          "description": "Disks interface type (e.g. SATA/SCSI)",
          "type": "string"
        }
      }
    },
    "GoogleKubernetesEngineMigrationTarget": {
      "properties": {},
      "type": "object",
      "id": "GoogleKubernetesEngineMigrationTarget",
      "description": "GKE migration target."
    },
    "CloudSqlForMySqlShape": {
      "id": "CloudSqlForMySqlShape",
      "description": "Cloud SQL for MySQL database shape.",
      "properties": {
        "memoryMb": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB."
        },
        "version": {
          "readOnly": true,
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance.",
          "type": "string",
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ],
          "enumDescriptions": [
            "Unspecified MySQL version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0."
          ]
        },
        "storage": {
          "readOnly": true,
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor"
        },
        "backupStorageGb": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB."
        },
        "logicalCoreCount": {
          "type": "integer",
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "format": "int32"
        },
        "egressGbPerMonth": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "type": "string"
        },
        "edition": {
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "readOnly": true,
          "description": "Output only. Cloud SQL edition."
        },
        "zoneAvailability": {
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "readOnly": true,
          "description": "Output only. Cloud SQL zone availability.",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        }
      },
      "type": "object"
    },
    "VirtualMachineArchitectureDetails": {
      "id": "VirtualMachineArchitectureDetails",
      "description": "Details of the VM architecture.",
      "type": "object",
      "properties": {
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "cpuManufacturer": {
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "firmware": {
          "description": "Firmware (BIOS/efi).",
          "type": "string"
        },
        "cpuThreadCount": {
          "type": "integer",
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "deprecated": true,
          "format": "int32"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ],
          "description": "CPU hyperthreading support.",
          "type": "string",
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ]
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        }
      }
    },
    "ReportAssetFramesResponse": {
      "id": "ReportAssetFramesResponse",
      "description": "A response to a call to `ReportAssetFrame`.",
      "type": "object",
      "properties": {}
    },
    "OperatingSystemPricingPreferences": {
      "id": "OperatingSystemPricingPreferences",
      "description": "Pricing options for OS images.",
      "properties": {
        "sles": {
          "description": "Optional. Pricing options for SLES images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "slesForSap": {
          "description": "Optional. Pricing options for SLES for SAP images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "windows": {
          "description": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "rhel": {
          "description": "Optional. Pricing options for RHEL images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        }
      },
      "type": "object"
    },
    "DateTime": {
      "id": "DateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "properties": {
        "utcOffset": {
          "format": "google-duration",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string"
        },
        "day": {
          "format": "int32",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer"
        },
        "seconds": {
          "format": "int32",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "format": "int32",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        }
      },
      "type": "object"
    },
    "MySqlPlugin": {
      "type": "object",
      "properties": {
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        }
      },
      "id": "MySqlPlugin",
      "description": "MySql plugin."
    },
    "ReportSummarySoleTenantFinding": {
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which are allocated",
          "type": "string"
        },
        "allocatedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets are allocated"
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ReportSummarySoleTenantFinding",
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes."
    },
    "Selinux": {
      "properties": {
        "enabled": {
          "description": "Is SELinux enabled.",
          "type": "boolean"
        },
        "mode": {
          "description": "SELinux mode disabled / enforcing / permissive.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Selinux",
      "description": "SELinux details."
    },
    "RunImportJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RunImportJobRequest",
      "description": "A request to run an import job."
    },
    "NetworkAddressList": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "Network address entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAddress"
          }
        },
        "addresses": {
          "description": "Network address entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAddress"
          }
        }
      },
      "id": "NetworkAddressList",
      "description": "List of allocated/assigned network addresses."
    },
    "AssetsExportJobExportCondition": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "id": "AssetsExportJobExportCondition",
      "description": "Conditions for selecting assets to export."
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "type": "object",
      "properties": {
        "databaseCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of databases in the deployment.",
          "type": "integer"
        }
      },
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "description": "Aggregated stats for the database deployment."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "BatchDeleteAssetsRequest": {
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        },
        "cascadingRules": {
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "type": "array",
          "items": {
            "$ref": "CascadingRule"
          }
        }
      },
      "id": "BatchDeleteAssetsRequest",
      "description": "A request to delete a list of asset."
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "id": "VirtualMachinePreferencesNetworkCostParameters",
      "description": "Parameters that affect network cost estimations.",
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "type": "integer",
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100].",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Report": {
      "properties": {
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "description": "Report creation state."
        },
        "type": {
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ],
          "description": "Report type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ]
        },
        "summary": {
          "readOnly": true,
          "description": "Output only. Summary view of the Report.",
          "$ref": "ReportSummary"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update timestamp."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Report",
      "description": "Report represents a point-in-time rendering of the ReportConfig results."
    },
    "CascadeLogicalDBsRule": {
      "id": "CascadeLogicalDBsRule",
      "description": "Cascading rule for related logical DBs.",
      "properties": {},
      "type": "object"
    },
    "Insight": {
      "properties": {
        "migrationInsight": {
          "readOnly": true,
          "description": "Output only. An insight about potential migrations for an asset.",
          "$ref": "MigrationInsight"
        },
        "softwareInsight": {
          "description": "Output only. An insight regarding software detected on an asset.",
          "$ref": "SoftwareInsight",
          "readOnly": true
        },
        "genericInsight": {
          "description": "Output only. A generic insight about an asset.",
          "$ref": "GenericInsight",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Insight",
      "description": "An insight about an asset."
    },
    "CsvOutputFile": {
      "id": "CsvOutputFile",
      "description": "Contains a single output file of type CSV.",
      "properties": {
        "columnsCount": {
          "type": "integer",
          "description": "Output only. Number of columns in the file.",
          "readOnly": true,
          "format": "int32"
        },
        "rowCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of rows in the file.",
          "type": "integer"
        },
        "signedUri": {
          "readOnly": true,
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri"
        }
      },
      "type": "object"
    },
    "MachinePreferences": {
      "id": "MachinePreferences",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "items": {
            "$ref": "MachineSeries"
          },
          "type": "array",
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        }
      }
    },
    "ImportRowError": {
      "type": "object",
      "properties": {
        "assetTitle": {
          "description": "The asset title.",
          "type": "string"
        },
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "errors": {
          "items": {
            "$ref": "ImportError"
          },
          "type": "array",
          "description": "The list of errors detected in the row."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        }
      },
      "id": "ImportRowError",
      "description": "A resource that reports the import job errors at row level."
    },
    "ReportSummaryVMWareNodeAllocation": {
      "type": "object",
      "properties": {
        "vmwareNode": {
          "description": "VMWare node type, e.g. \"ve1-standard-72\"",
          "$ref": "ReportSummaryVMWareNode"
        },
        "nodeCount": {
          "format": "int64",
          "description": "Count of this node type to be provisioned",
          "type": "string"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets allocated to these nodes",
          "format": "int64"
        }
      },
      "id": "ReportSummaryVMWareNodeAllocation",
      "description": "Represents assets allocated to a specific VMWare Node type."
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ListErrorFramesResponse": {
      "type": "object",
      "properties": {
        "errorFrames": {
          "description": "The list of error frames.",
          "items": {
            "$ref": "ErrorFrame"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListErrorFramesResponse",
      "description": "A response for listing error frames."
    },
    "MachineDiskDetails": {
      "properties": {
        "totalCapacityBytes": {
          "format": "int64",
          "description": "Disk total Capacity.",
          "type": "string"
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        },
        "totalFreeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total disk free space."
        },
        "rawScanResult": {
          "description": "Raw disk scan result. This field is intended for human inspection. The format of this field may be lsblk output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MachineDiskDetails",
      "description": "Details of machine disks."
    },
    "BatchUpdateAssetsResponse": {
      "type": "object",
      "properties": {
        "assets": {
          "description": "Update asset content. The content only includes values after field mask being applied.",
          "type": "array",
          "items": {
            "$ref": "Asset"
          }
        }
      },
      "id": "BatchUpdateAssetsResponse",
      "description": "Response for updating a list of assets."
    },
    "AssetsExportJobInventory": {
      "id": "AssetsExportJobInventory",
      "description": "Configuration for asset inventory details exports.",
      "type": "object",
      "properties": {}
    },
    "NetworkAdapterList": {
      "properties": {
        "networkAdapters": {
          "description": "Network adapter descriptions.",
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "description": "Network adapter entries."
        }
      },
      "type": "object",
      "id": "NetworkAdapterList",
      "description": "List of network adapters."
    },
    "PostgreSqlSchemaDetails": {
      "properties": {
        "foreignTablesCount": {
          "type": "integer",
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32"
        },
        "postgresqlExtensions": {
          "items": {
            "$ref": "PostgreSqlExtension"
          },
          "type": "array",
          "description": "Optional. PostgreSql extensions."
        }
      },
      "type": "object",
      "id": "PostgreSqlSchemaDetails",
      "description": "Specific details for a PostgreSql schema."
    },
    "DiscoveryClient": {
      "properties": {
        "name": {
          "description": "Output only. Identifier. Full name of this discovery client.",
          "readOnly": true,
          "type": "string"
        },
        "heartbeatTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes)."
        },
        "recommendedVersions": {
          "readOnly": true,
          "description": "Output only. The recommended versions of the discovery client.",
          "items": {
            "$ref": "DiscoveryClientDiscoveryClientRecommendedVersion"
          },
          "type": "array"
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "source": {
          "description": "Required. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the discovery client.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ]
        },
        "version": {
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "errors": {
          "description": "Output only. Errors affecting client functionality.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "ttl": {
          "type": "string",
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "format": "google-duration"
        },
        "createTime": {
          "description": "Output only. Time when the discovery client was first created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "signalsEndpoint": {
          "type": "string",
          "description": "Output only. This field is intended for internal use.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DiscoveryClient",
      "description": "Represents an installed Migration Center Discovery Client instance."
    },
    "AzureVmPlatformDetails": {
      "id": "AzureVmPlatformDetails",
      "description": "Azure VM specific details.",
      "type": "object",
      "properties": {
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        },
        "machineTypeLabel": {
          "description": "Azure platform's machine type label.",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      }
    },
    "DatabasePreferences": {
      "properties": {
        "mysqlToCloudSqlForMysqlPreferences": {
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL.",
          "$ref": "DatabasePreferencesCloudSqlMySql"
        },
        "mssqlToCloudSqlForSqlServerPreferences": {
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server.",
          "$ref": "DatabasePreferencesCloudSqlSqlServer"
        },
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL.",
          "$ref": "DatabasePreferencesCloudSqlPostgreSql"
        }
      },
      "type": "object",
      "id": "DatabasePreferences",
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases."
    },
    "InsightList": {
      "id": "InsightList",
      "description": "Message containing insights list.",
      "properties": {
        "insights": {
          "type": "array",
          "items": {
            "$ref": "Insight"
          },
          "description": "Output only. Insights of the list.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportSummaryHistogramChartData": {
      "properties": {
        "buckets": {
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      },
      "type": "object",
      "id": "ReportSummaryHistogramChartData",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket."
    },
    "NetworkConnection": {
      "id": "NetworkConnection",
      "properties": {
        "processName": {
          "description": "Process or service name.",
          "type": "string"
        },
        "localIpAddress": {
          "description": "Local IP address.",
          "type": "string"
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        },
        "remotePort": {
          "type": "integer",
          "format": "int32",
          "description": "Remote port."
        },
        "state": {
          "description": "Connection state (e.g. CONNECTED).",
          "type": "string"
        },
        "pid": {
          "format": "int64",
          "description": "Process ID.",
          "type": "string"
        },
        "localPort": {
          "format": "int32",
          "description": "Local port.",
          "type": "integer"
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AwsSnsTopicDetails": {
      "id": "AwsSnsTopicDetails",
      "description": "Asset information specific for AWS SNS Topics.",
      "properties": {},
      "type": "object"
    },
    "NetworkAddress": {
      "id": "NetworkAddress",
      "description": "Details of network address.",
      "properties": {
        "assignment": {
          "type": "string",
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "description": "Whether DHCP is used to assign addresses."
        },
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "fqdn": {
          "description": "Fully qualified domain name.",
          "type": "string"
        },
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OutputFile": {
      "id": "OutputFile",
      "description": "Contains a single output file.",
      "properties": {
        "fileSizeBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. File size in bytes.",
          "type": "string"
        },
        "csvOutputFile": {
          "description": "Output only. CSV output file.",
          "$ref": "CsvOutputFile",
          "readOnly": true
        },
        "xlsxOutputFile": {
          "readOnly": true,
          "description": "Output only. XLSX output file.",
          "$ref": "XlsxOutputFile"
        }
      },
      "type": "object"
    },
    "RuntimeNetworkInfo": {
      "id": "RuntimeNetworkInfo",
      "description": "Runtime networking information.",
      "type": "object",
      "properties": {
        "netstat": {
          "description": "Netstat (raw, OS-agnostic).",
          "type": "string"
        },
        "rawScanResult": {
          "description": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        },
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        },
        "scanTime": {
          "type": "string",
          "description": "Time of the last network scan.",
          "format": "google-datetime"
        },
        "netstatTime": {
          "description": "Netstat time collected.",
          "$ref": "DateTime"
        }
      }
    },
    "NetworkConnectionList": {
      "id": "NetworkConnectionList",
      "description": "Network connection list.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkConnection"
          },
          "type": "array",
          "description": "Network connection entries."
        }
      },
      "type": "object"
    },
    "UploadFileInfo": {
      "id": "UploadFileInfo",
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "properties": {
        "uriExpirationTime": {
          "description": "Output only. Expiration time of the upload URI.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "headers": {
          "readOnly": true,
          "description": "Output only. The headers that were used to sign the URL.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "signedUri": {
          "readOnly": true,
          "description": "Output only. Upload URI for the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "properties": {
        "sources": {
          "description": "The list of sources.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "HostsEntryList": {
      "type": "object",
      "properties": {
        "entries": {
          "readOnly": true,
          "description": "Output only. Hosts entries.",
          "items": {
            "$ref": "HostsEntry"
          },
          "type": "array"
        }
      },
      "id": "HostsEntryList",
      "description": "Hosts content."
    },
    "PostgreSqlDatabaseDeployment": {
      "properties": {
        "properties": {
          "description": "Optional. List of PostgreSql properties.",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "type": "array"
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "description": "Optional. List of PostgreSql settings."
        }
      },
      "type": "object",
      "id": "PostgreSqlDatabaseDeployment",
      "description": "Specific details for a PostgreSQL database deployment."
    },
    "DiskPartitionDetails": {
      "id": "DiskPartitionDetails",
      "description": "Disk partition details.",
      "type": "object",
      "properties": {
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        },
        "freeSpaceBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total free space of all partitions."
        },
        "totalCapacityBytes": {
          "type": "string",
          "description": "Output only. Total capacity of all partitions.",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "MachineArchitectureDetails": {
      "properties": {
        "firmwareType": {
          "description": "Firmware type.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "type": "string",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "hyperthreading": {
          "type": "string",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "description": "CPU hyper-threading support."
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture."
    },
    "DiscoveryClientDiscoveryClientRecommendedVersion": {
      "properties": {
        "version": {
          "description": "Output only. The version of the discovery client.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Output only. The URI of the discovery client version.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DiscoveryClientDiscoveryClientRecommendedVersion",
      "description": "Discovery client recommended version."
    },
    "AggregationResultSum": {
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "AggregationResultSum",
      "description": "The result of a sum aggregation."
    },
    "HostsEntry": {
      "properties": {
        "hostNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of host names / aliases."
        },
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HostsEntry",
      "description": "Single /etc/hosts entry."
    },
    "ImportRowErrorCsvErrorDetails": {
      "properties": {
        "rowNumber": {
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file."
    },
    "AggregationResult": {
      "id": "AggregationResult",
      "description": "Message describing a result of an aggregation.",
      "type": "object",
      "properties": {
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "field": {
          "type": "string"
        },
        "count": {
          "$ref": "AggregationResultCount"
        }
      }
    },
    "ResourceLocation": {
      "id": "ResourceLocation",
      "description": "Location of a resource.",
      "type": "object",
      "properties": {
        "region": {
          "description": "Optional. The name of the region.",
          "type": "string"
        }
      }
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "description": "Response message for listing relations.",
      "type": "object",
      "properties": {
        "relations": {
          "description": "A list of relations.",
          "items": {
            "$ref": "Relation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "AwsS3BucketDetailsObjectsMetadata": {
      "id": "AwsS3BucketDetailsObjectsMetadata",
      "description": "The metadata of the objects in the bucket.",
      "properties": {
        "totalObjects": {
          "description": "Optional. The total number of objects in the bucket.",
          "$ref": "AwsS3BucketDetailsObjectsMetadataTotalObjects"
        }
      },
      "type": "object"
    },
    "DatabaseInstance": {
      "properties": {
        "network": {
          "description": "Optional. Networking details.",
          "$ref": "DatabaseInstanceNetwork"
        },
        "instanceName": {
          "description": "The instance's name.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
[...]
