{
  "protocol": "rest",
  "basePath": "",
  "id": "migrationcenter:v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "canonicalName": "Migration Center API",
  "documentationLink": "https://cloud.google.com/migration-center",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "name": "migrationcenter",
  "title": "Migration Center API",
  "discoveryVersion": "v1",
  "schemas": {
    "Settings": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the resource."
        },
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        },
        "disableCloudLogging": {
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Settings",
      "description": "Describes the Migration Center settings related to the project."
    },
    "DailyResourceUsageAggregationStats": {
      "id": "DailyResourceUsageAggregationStats",
      "description": "Statistical aggregation of samples for a single resource usage.",
      "type": "object",
      "properties": {
        "average": {
          "description": "Average usage value.",
          "format": "float",
          "type": "number"
        },
        "median": {
          "description": "Median usage value.",
          "format": "float",
          "type": "number"
        },
        "ninteyFifthPercentile": {
          "type": "number",
          "description": "95th percentile usage value.",
          "format": "float"
        },
        "peak": {
          "type": "number",
          "description": "Peak usage value.",
          "format": "float"
        }
      }
    },
    "ComputeEnginePreferences": {
      "id": "ComputeEnginePreferences",
      "description": "The user preferences relating to Compute Engine target platform.",
      "type": "object",
      "properties": {
        "persistentDiskType": {
          "type": "string",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ]
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        },
        "licenseType": {
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ],
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan."
        }
      }
    },
    "ImportRowErrorCsvErrorDetails": {
      "properties": {
        "rowNumber": {
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file."
    },
    "RegionPreferences": {
      "id": "RegionPreferences",
      "description": "The user preferences relating to target regions.",
      "properties": {
        "preferredRegions": {
          "items": {
            "type": "string"
          },
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ImportRowError": {
      "type": "object",
      "properties": {
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "assetTitle": {
          "description": "Output only. The asset title.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "ImportError"
          },
          "description": "The list of errors detected in the row.",
          "type": "array"
        },
        "xlsxError": {
          "$ref": "ImportRowErrorXlsxErrorDetails",
          "description": "Error details for an XLSX file."
        },
        "archiveError": {
          "$ref": "ImportRowErrorArchiveErrorDetails",
          "description": "Error details for an archive file."
        }
      },
      "id": "ImportRowError",
      "description": "A resource that reports the import job errors at row level."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "ListImportJobsResponse": {
      "id": "ListImportJobsResponse",
      "description": "A response for listing import jobs.",
      "type": "object",
      "properties": {
        "importJobs": {
          "items": {
            "$ref": "ImportJob"
          },
          "description": "The list of import jobs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ListDiscoveryClientsResponse": {
      "type": "object",
      "properties": {
        "discoveryClients": {
          "description": "List of discovery clients.",
          "items": {
            "$ref": "DiscoveryClient"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListDiscoveryClientsResponse",
      "description": "Response message for listing discovery clients."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "GuestInstalledApplicationList": {
      "id": "GuestInstalledApplicationList",
      "description": "Guest installed application list.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GuestInstalledApplication"
          },
          "description": "Application entries.",
          "type": "array"
        }
      }
    },
    "PlatformDetails": {
      "type": "object",
      "properties": {
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "vmwareDetails": {
          "$ref": "VmwarePlatformDetails",
          "description": "VMware specific details."
        },
        "physicalDetails": {
          "$ref": "PhysicalPlatformDetails",
          "description": "Physical machines platform details."
        },
        "awsEc2Details": {
          "$ref": "AwsEc2PlatformDetails",
          "description": "AWS EC2 specific details."
        },
        "azureVmDetails": {
          "$ref": "AzureVmPlatformDetails",
          "description": "Azure VM specific details."
        }
      },
      "id": "PlatformDetails",
      "description": "Information about the platform."
    },
    "CascadingRule": {
      "id": "CascadingRule",
      "description": "Specifies cascading rules for traversing relations.",
      "type": "object",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "DatabaseSchema": {
      "properties": {
        "mysql": {
          "description": "Optional. Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "schemaName": {
          "description": "Required. The name of the schema.",
          "type": "string"
        },
        "sqlServer": {
          "$ref": "SqlServerSchemaDetails",
          "description": "Optional. Details of a SqlServer schema."
        },
        "tablesSizeBytes": {
          "description": "Optional. The total size of tables in bytes.",
          "format": "int64",
          "type": "string"
        },
        "objects": {
          "description": "Optional. List of details of objects by category.",
          "items": {
            "$ref": "DatabaseObjects"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "DatabaseSchema",
      "description": "Details of a database schema."
    },
    "ImportDataFile": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_STRATOZONE_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "description": "Required. The payload format.",
          "enumDescriptions": [
            "Default value.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually and following the StratoZone format. For more information, see Manually create and upload data tables.",
            "ZIP file with nested CSV files generated by a database collector."
          ]
        },
        "name": {
          "description": "Output only. The name of the file.",
          "readOnly": true,
          "type": "string"
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "description": "Output only. The state of the import data file.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the file was created.",
          "format": "google-datetime"
        }
      },
      "id": "ImportDataFile",
      "description": "A resource that represents a payload file in an import job."
    },
    "SignedUriDestination": {
      "type": "object",
      "properties": {
        "fileFormat": {
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "description": "Required. The file format to export.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "type": "string"
        }
      },
      "id": "SignedUriDestination",
      "description": "Signed URI destination configuration."
    },
    "CascadeLogicalDBsRule": {
      "type": "object",
      "properties": {},
      "id": "CascadeLogicalDBsRule",
      "description": "Cascading rule for related logical DBs."
    },
    "ImportJob": {
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the import job was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the import job was created.",
          "format": "google-datetime"
        },
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "description": "Output only. The state of the import job.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "readOnly": true,
          "type": "string"
        },
        "validationReport": {
          "readOnly": true,
          "$ref": "ValidationReport",
          "description": "Output only. The report with the validation results of the import job."
        },
        "executionReport": {
          "readOnly": true,
          "$ref": "ExecutionReport",
          "description": "Output only. The report with the results of running the import job."
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        }
      }
    },
    "DiskPartitionList": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DiskPartition"
          },
          "description": "Partition entries."
        }
      },
      "type": "object",
      "id": "DiskPartitionList",
      "description": "Disk partition list."
    },
    "GuestInstalledApplication": {
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information.",
      "type": "object",
      "properties": {
        "licenses": {
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application.",
          "type": "array"
        },
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "installTime": {
          "description": "The time when the application was installed.",
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        }
      }
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ReportSummaryHistogramChartData": {
      "properties": {
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      },
      "type": "object",
      "id": "ReportSummaryHistogramChartData",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket."
    },
    "AssetList": {
      "type": "object",
      "properties": {
        "assetIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of asset IDs",
          "type": "array"
        }
      },
      "id": "AssetList",
      "description": "Lists the asset IDs of all assets."
    },
    "PostgreSqlDatabaseDeployment": {
      "id": "PostgreSqlDatabaseDeployment",
      "description": "Specific details for a PostgreSQL database deployment.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. List of PostgreSql properties.",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "type": "array"
        },
        "settings": {
          "type": "array",
          "description": "Optional. List of PostgreSql settings.",
          "items": {
            "$ref": "PostgreSqlSetting"
          }
        }
      }
    },
    "ListReportsResponse": {
      "type": "object",
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "description": "The list of Reports.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListReportsResponse",
      "description": "Response message for listing Reports."
    },
    "NetworkConnectionList": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "Network connection entries.",
          "items": {
            "$ref": "NetworkConnection"
          },
          "type": "array"
        }
      },
      "id": "NetworkConnectionList",
      "description": "Network connection list."
    },
    "ReportSummaryMachineSeriesAllocation": {
      "id": "ReportSummaryMachineSeriesAllocation",
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "properties": {
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets allocated to this machine series.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      }
    },
    "GuestOsDetails": {
      "id": "GuestOsDetails",
      "description": "Information from Guest-level collections.",
      "type": "object",
      "properties": {
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "family": {
          "description": "What family the OS belong to, if known.",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "type": "string",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ]
        }
      }
    },
    "Frames": {
      "id": "Frames",
      "description": "Collection of frame data.",
      "type": "object",
      "properties": {
        "framesData": {
          "items": {
            "$ref": "AssetFrame"
          },
          "description": "A repeated field of asset data.",
          "type": "array"
        }
      }
    },
    "AssetsExportJob": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Resource creation time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource update time.",
          "format": "google-datetime"
        },
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object"
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export to Cloud Storage files downloadable using signed URIs."
        },
        "recentExecutions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "description": "Output only. Recent non expired executions of the job."
        },
        "inventory": {
          "$ref": "AssetsExportJobInventory",
          "description": "Export asset inventory details."
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        }
      },
      "id": "AssetsExportJob",
      "description": "Assets export job message."
    },
    "NetworkConnection": {
      "properties": {
        "localIpAddress": {
          "description": "Local IP address.",
          "type": "string"
        },
        "localPort": {
          "type": "integer",
          "description": "Local port.",
          "format": "int32"
        },
        "processName": {
          "description": "Process or service name.",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "description": "Process ID.",
          "format": "int64"
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        },
        "state": {
          "description": "Network connection state.",
          "enumDescriptions": [
            "Connection state is unknown or unspecified.",
            "The connection is being opened.",
            "The connection is open.",
            "Listening for incoming connections.",
            "The connection is being closed.",
            "The connection is closed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPENING",
            "OPEN",
            "LISTEN",
            "CLOSING",
            "CLOSED"
          ]
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        },
        "remotePort": {
          "type": "integer",
          "description": "Remote port.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "NetworkConnection"
    },
    "DailyResourceUsageAggregationCPU": {
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "description": "CPU utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "id": "DailyResourceUsageAggregationCPU",
      "description": "Statistical aggregation of CPU usage."
    },
    "AggregationCount": {
      "id": "AggregationCount",
      "description": "Object count.",
      "type": "object",
      "properties": {}
    },
    "AggregationSum": {
      "type": "object",
      "properties": {},
      "id": "AggregationSum",
      "description": "Sum of field values."
    },
    "RunImportJobRequest": {
      "id": "RunImportJobRequest",
      "description": "A request to run an import job.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "description": "The list of sources.",
          "items": {
            "$ref": "Source"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "MachineArchitectureDetails": {
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture.",
      "properties": {
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "description": "CPU hyper-threading support.",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "format": "int32",
          "type": "integer"
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuThreadCount": {
          "deprecated": true,
          "type": "integer",
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "format": "int32"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "firmwareType": {
          "type": "string",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "description": "Firmware type.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ]
        }
      },
      "type": "object"
    },
    "AggregateAssetsValuesRequest": {
      "type": "object",
      "properties": {
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "aggregations": {
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "type": "array"
        },
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        }
      },
      "id": "AggregateAssetsValuesRequest",
      "description": "A request to aggregate one or more values."
    },
    "MachineDiskDetails": {
      "type": "object",
      "properties": {
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "totalCapacityBytes": {
          "type": "string",
          "description": "Disk total Capacity.",
          "format": "int64"
        },
        "totalFreeBytes": {
          "type": "string",
          "description": "Total disk free space.",
          "format": "int64"
        }
      },
      "id": "MachineDiskDetails",
      "description": "Details of machine disks."
    },
    "AggregationResultFrequency": {
      "id": "AggregationResultFrequency",
      "description": "The result of a frequency distribution aggregation.",
      "type": "object",
      "properties": {
        "values": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      }
    },
    "DatabaseInstanceNetwork": {
      "id": "DatabaseInstanceNetwork",
      "description": "Network details of a database instance.",
      "properties": {
        "primaryMacAddress": {
          "description": "Optional. The instance's primary MAC address.",
          "type": "string"
        },
        "ipAddresses": {
          "type": "array",
          "description": "Optional. The instance's IP addresses.",
          "items": {
            "type": "string"
          }
        },
        "hostNames": {
          "description": "Optional. The instance's host names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "NfsExportList": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "NFS export entries.",
          "items": {
            "$ref": "NfsExport"
          }
        }
      },
      "id": "NfsExportList",
      "description": "NFS exports."
    },
    "SqlServerFeature": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        },
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        }
      },
      "id": "SqlServerFeature",
      "description": "SQL Server feature details."
    },
    "BatchUpdateAssetsResponse": {
      "type": "object",
      "properties": {
        "assets": {
          "description": "Update asset content. The content only includes values after field mask being applied.",
          "items": {
            "$ref": "Asset"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateAssetsResponse",
      "description": "Response for updating a list of assets."
    },
    "Aggregation": {
      "id": "Aggregation",
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.",
      "type": "object",
      "properties": {
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        },
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        },
        "sum": {
          "$ref": "AggregationSum",
          "description": "Sum over a numeric field."
        },
        "frequency": {
          "$ref": "AggregationFrequency",
          "description": "Creates a frequency distribution of all field values."
        },
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        }
      }
    },
    "ReportSummaryVmwareNode": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      },
      "id": "ReportSummaryVmwareNode",
      "description": "A VMWare Engine Node"
    },
    "RunAssetsExportJobRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunAssetsExportJobRequest",
      "description": "A request to run an assets export job."
    },
    "ListImportDataFilesResponse": {
      "id": "ListImportDataFilesResponse",
      "description": "Response for listing payload files of an import job.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "importDataFiles": {
          "type": "array",
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files."
        }
      },
      "type": "object"
    },
    "ReportSummaryChartData": {
      "id": "ReportSummaryChartData",
      "description": "Describes a collection of data points rendered as a Chart.",
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AssetsExportJobExportCondition": {
      "id": "AssetsExportJobExportCondition",
      "description": "Conditions for selecting assets to export.",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListReportConfigsResponse": {
      "id": "ListReportConfigsResponse",
      "description": "Response message for listing report configs.",
      "type": "object",
      "properties": {
        "reportConfigs": {
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "SignedUri": {
      "id": "SignedUri",
      "description": "Contains a signed URI.",
      "type": "object",
      "properties": {
        "file": {
          "description": "Output only. Name of the file the Signed URI references.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Download URI for the file.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SqlServerDatabaseDeployment": {
      "id": "SqlServerDatabaseDeployment",
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "type": "object",
      "properties": {
        "features": {
          "type": "array",
          "description": "Optional. List of SQL Server features.",
          "items": {
            "$ref": "SqlServerFeature"
          }
        },
        "traceFlags": {
          "description": "Optional. List of SQL Server trace flags.",
          "items": {
            "$ref": "SqlServerTraceFlag"
          },
          "type": "array"
        },
        "serverFlags": {
          "description": "Optional. List of SQL Server server flags.",
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "type": "array"
        }
      }
    },
    "MySqlStorageEngineDetails": {
      "id": "MySqlStorageEngineDetails",
      "description": "Mysql storage engine tables.",
      "type": "object",
      "properties": {
        "engine": {
          "description": "Required. The storage engine.",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        },
        "tableCount": {
          "type": "integer",
          "description": "Optional. The number of tables.",
          "format": "int32"
        },
        "encryptedTableCount": {
          "type": "integer",
          "description": "Optional. The number of encrypted tables.",
          "format": "int32"
        }
      }
    },
    "HostsEntry": {
      "type": "object",
      "properties": {
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        },
        "hostNames": {
          "items": {
            "type": "string"
          },
          "description": "List of host names / aliases.",
          "type": "array"
        }
      },
      "id": "HostsEntry",
      "description": "Single /etc/hosts entry."
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "description": "Aggregated stats for the database deployment.",
      "type": "object",
      "properties": {
        "databaseCount": {
          "description": "Output only. The number of databases in the deployment.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "AwsRds": {
      "type": "object",
      "properties": {},
      "id": "AwsRds",
      "description": "Specific details for an AWS RDS database deployment."
    },
    "Source": {
      "properties": {
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "errorFrameCount": {
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "type": {
          "description": "Data source type.",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "description": "Output only. The state of the source.",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the source."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "managed": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the source was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The timestamp when the source was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "priority": {
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "format": "int32",
          "type": "integer"
        },
        "pendingFrameCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of frames that are still being processed.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Source",
      "description": "Source represents an object from which asset information is streamed to Migration Center."
    },
    "MySqlVariable": {
      "type": "object",
      "properties": {
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        },
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        },
        "category": {
          "description": "Required. The variable category.",
          "type": "string"
        }
      },
      "id": "MySqlVariable",
      "description": "MySql variable."
    },
    "DiscoveryClient": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Full name of this discovery client.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Errors affecting client functionality."
        },
        "ttl": {
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "format": "google-duration",
          "type": "string"
        },
        "source": {
          "description": "Required. Immutable. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the discovery client was first created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "signalsEndpoint": {
          "description": "Output only. This field is intended for internal use.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "description": "Output only. Current state of the discovery client.",
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "readOnly": true
        },
        "expireTime": {
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "updateTime": {
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "heartbeatTime": {
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Client version, as reported in recent heartbeat."
        }
      },
      "id": "DiscoveryClient",
      "description": "Represents an installed Migration Center Discovery Client instance."
    },
    "MachineDetails": {
      "properties": {
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "createTime": {
          "description": "Machine creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform specific information."
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "description": "Power state of the machine."
        },
        "diskPartitions": {
          "$ref": "DiskPartitionDetails",
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
        },
        "memoryMb": {
          "type": "integer",
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "MachineDetails",
      "description": "Details of a machine."
    },
    "MysqlDatabaseDeployment": {
      "type": "object",
      "properties": {
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "type": "array"
        },
        "properties": {
          "description": "Optional. List of MySql properties.",
          "items": {
            "$ref": "MySqlProperty"
          },
          "type": "array"
        },
        "resourceGroupsCount": {
          "type": "integer",
          "description": "Optional. Number of resource groups.",
          "format": "int32"
        },
        "variables": {
          "description": "Optional. List of MySql variables.",
          "items": {
            "$ref": "MySqlVariable"
          },
          "type": "array"
        }
      },
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment."
    },
    "MemoryUsageSample": {
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100].",
          "format": "float"
        }
      },
      "id": "MemoryUsageSample",
      "description": "Memory usage sample."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ValidationReport": {
      "id": "ValidationReport",
      "description": "A resource that aggregates errors across import job files.",
      "type": "object",
      "properties": {
        "fileValidations": {
          "type": "array",
          "description": "List of errors found in files.",
          "items": {
            "$ref": "FileValidationReport"
          }
        },
        "jobErrors": {
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of job level errors.",
          "type": "array"
        }
      }
    },
    "GenericPlatformDetails": {
      "id": "GenericPlatformDetails",
      "description": "Generic platform details.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string"
        }
      }
    },
    "BiosDetails": {
      "properties": {
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "biosName": {
          "deprecated": true,
          "type": "string",
          "description": "BIOS name. This fields is deprecated. Please use the `id` field instead."
        },
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        },
        "releaseDate": {
          "description": "BIOS release date.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "id": "BiosDetails",
      "description": "Details about the BIOS."
    },
    "ImportRowErrorArchiveErrorDetails": {
      "id": "ImportRowErrorArchiveErrorDetails",
      "description": "Error details for an archive file.",
      "properties": {
        "filePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file path inside the archive where the error was detected."
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        }
      },
      "type": "object"
    },
    "DiskPartition": {
      "properties": {
        "freeBytes": {
          "type": "string",
          "description": "Partition free space.",
          "format": "int64"
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "type": {
          "description": "Partition type.",
          "type": "string"
        },
        "capacityBytes": {
          "description": "Partition capacity.",
          "format": "int64",
          "type": "string"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        }
      },
      "type": "object",
      "id": "DiskPartition",
      "description": "Disk Partition details."
    },
    "VmwareDiskConfig": {
      "id": "VmwareDiskConfig",
      "description": "VMware disk config details.",
      "properties": {
        "backingType": {
          "type": "string",
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ],
          "description": "VMDK backing type.",
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ]
        },
        "rdmCompatibility": {
          "type": "string",
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ],
          "description": "RDM compatibility mode.",
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ]
        },
        "shared": {
          "description": "Is VMDK shared with other VMs.",
          "type": "boolean"
        },
        "vmdkMode": {
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ],
          "description": "VMDK disk mode."
        }
      },
      "type": "object"
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "type": "object",
      "properties": {
        "monthlyCostCompute": {
          "description": "Compute monthly cost for this preference set.",
          "$ref": "Money"
        },
        "computeEngineFinding": {
          "$ref": "ReportSummaryComputeEngineFinding",
          "description": "A set of findings that applies to Compute Engine machines in the input."
        },
        "monthlyCostNetworkEgress": {
          "description": "Network Egress monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostStorage": {
          "$ref": "Money",
          "description": "Storage monthly cost for this preference set."
        },
        "monthlyCostOther": {
          "description": "Miscellaneous monthly cost for this preference set.",
          "$ref": "Money"
        },
        "machinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all machines in the context."
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Sole-Tenant machines in the input.",
          "$ref": "ReportSummarySoleTenantFinding"
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "monthlyCostTotal": {
          "description": "Total monthly cost for this preference set.",
          "$ref": "Money"
        },
        "vmwareEngineFinding": {
          "$ref": "ReportSummaryVmwareEngineFinding",
          "description": "A set of findings that applies to VMWare machines in the input."
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "monthlyCostOsLicense": {
          "description": "Licensing monthly cost for this preference set.",
          "$ref": "Money"
        }
      }
    },
    "OutputFile": {
      "id": "OutputFile",
      "description": "Contains a single output file.",
      "type": "object",
      "properties": {
        "csvOutputFile": {
          "$ref": "CsvOutputFile",
          "readOnly": true,
          "description": "Output only. CSV output file."
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "readOnly": true,
          "$ref": "XlsxOutputFile"
        },
        "fileSizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File size in bytes.",
          "format": "int64"
        }
      }
    },
    "DailyResourceUsageAggregationNetwork": {
      "id": "DailyResourceUsageAggregationNetwork",
      "description": "Statistical aggregation of network usage.",
      "properties": {
        "ingressBps": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Network ingress in B/s."
        },
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "type": "object"
    },
    "VmwareEnginePreferences": {
      "id": "VmwareEnginePreferences",
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "properties": {
        "storageDeduplicationCompressionRatio": {
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double",
          "type": "number"
        },
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "format": "double",
          "type": "number"
        },
        "memoryOvercommitRatio": {
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double",
          "type": "number"
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        }
      },
      "type": "object"
    },
    "RuntimeNetworkInfo": {
      "type": "object",
      "properties": {
        "scanTime": {
          "description": "Time of the last network scan.",
          "format": "google-datetime",
          "type": "string"
        },
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        }
      },
      "id": "RuntimeNetworkInfo",
      "description": "Runtime networking information."
    },
    "PostgreSqlExtension": {
      "properties": {
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PostgreSqlExtension",
      "description": "PostgreSql extension."
    },
    "OpenFileDetails": {
      "type": "object",
      "properties": {
        "user": {
          "description": "Opened file user.",
          "type": "string"
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        }
      },
      "id": "OpenFileDetails",
      "description": "Open file Information."
    },
    "Asset": {
      "id": "Asset",
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "properties": {
        "machineDetails": {
          "$ref": "MachineDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for virtual and physical machines."
        },
        "insightList": {
          "description": "Output only. The list of insights associated with the asset.",
          "readOnly": true,
          "$ref": "InsightList"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "hideTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "format": "google-datetime"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Generic asset attributes.",
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the asset was last updated.",
          "format": "google-datetime"
        },
        "databaseDetails": {
          "description": "Output only. Asset information specific for logical databases.",
          "readOnly": true,
          "$ref": "DatabaseDetails"
        },
        "performanceData": {
          "readOnly": true,
          "$ref": "AssetPerformanceData",
          "description": "Output only. Performance data for the asset."
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset."
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "databaseDeploymentDetails": {
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetails",
          "description": "Output only. Asset information specific for database deployments."
        },
        "sources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of sources contributing to the asset."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the asset was created.",
          "format": "google-datetime"
        },
        "assignedGroups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of groups that the asset is assigned to."
        }
      },
      "type": "object"
    },
    "RunAssetsExportJobResponse": {
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "description": "Output only. Execution status of the assets export operation.",
          "readOnly": true,
          "$ref": "AssetsExportJobExecution"
        }
      },
      "id": "RunAssetsExportJobResponse",
      "description": "Response message for running an assets export job."
    },
    "ListAssetsResponse": {
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets.",
      "type": "object",
      "properties": {
        "assets": {
          "type": "array",
          "description": "A list of assets.",
          "items": {
            "$ref": "Asset"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "DailyResourceUsageAggregation": {
      "properties": {
        "memory": {
          "$ref": "DailyResourceUsageAggregationMemory",
          "description": "Memory usage."
        },
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        },
        "disk": {
          "$ref": "DailyResourceUsageAggregationDisk",
          "description": "Disk usage."
        },
        "cpu": {
          "description": "CPU usage.",
          "$ref": "DailyResourceUsageAggregationCPU"
        },
        "network": {
          "$ref": "DailyResourceUsageAggregationNetwork",
          "description": "Network usage."
        }
      },
      "type": "object",
      "id": "DailyResourceUsageAggregation",
      "description": "Usage data aggregation for a single day."
    },
    "Relation": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the relation was created.",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The identifier of the relation."
        },
        "srcAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source asset name in the relation."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "description": "Optional. The type of the relation.",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ]
        },
        "dstAsset": {
          "description": "Output only. The destination asset name in the relation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Relation",
      "description": "Message representing a relation between 2 resource."
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "description": "The identifiers of the parent database deployment.",
      "properties": {
        "generatedId": {
          "description": "Optional. The parent database deployment generated ID.",
          "type": "string"
        },
        "manualUniqueId": {
          "description": "Optional. The parent database deployment optional manual unique ID set by the user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkUsageSample": {
      "id": "NetworkUsageSample",
      "description": "Network usage sample. Values are across all network interfaces.",
      "type": "object",
      "properties": {
        "averageIngressBps": {
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "format": "float",
          "type": "number"
        },
        "averageEgressBps": {
          "type": "number",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "format": "float"
        }
      }
    },
    "FrameViolationEntry": {
      "id": "FrameViolationEntry",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "properties": {
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        },
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PostgreSqlProperty": {
      "id": "PostgreSqlProperty",
      "description": "PostgreSql property.",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AddAssetsToGroupRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        }
      },
      "id": "AddAssetsToGroupRequest",
      "description": "A request to add assets to a group."
    },
    "PostgreSqlSchemaDetails": {
      "type": "object",
      "properties": {
        "foreignTablesCount": {
          "type": "integer",
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32"
        },
        "postgresqlExtensions": {
          "items": {
            "$ref": "PostgreSqlExtension"
          },
          "description": "Optional. PostgreSql extensions.",
          "type": "array"
        }
      },
      "id": "PostgreSqlSchemaDetails",
      "description": "Specific details for a PostgreSql schema."
    },
    "DailyResourceUsageAggregationDisk": {
      "id": "DailyResourceUsageAggregationDisk",
      "description": "Statistical aggregation of disk usage.",
      "type": "object",
      "properties": {
        "iops": {
          "description": "Optional. Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Optional. Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "readIops": {
          "description": "Optional. Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "AggregationResultSum": {
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "AggregationResultSum",
      "description": "The result of a sum aggregation."
    },
    "MachineNetworkDetails": {
      "type": "object",
      "properties": {
        "publicIpAddress": {
          "description": "The public IP address of the machine.",
          "type": "string"
        },
        "primaryMacAddress": {
          "description": "MAC address of the machine. This property is used to uniqly identify the machine.",
          "type": "string"
        },
        "defaultGateway": {
          "description": "Optional. Default gateway address.",
          "type": "string"
        },
        "primaryIpAddress": {
          "description": "The primary IP address of the machine.",
          "type": "string"
        },
        "adapters": {
          "description": "List of network adapters.",
          "$ref": "NetworkAdapterList"
        }
      },
      "id": "MachineNetworkDetails",
      "description": "Details of network adapters and settings."
    },
    "DiskEntryList": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          },
          "description": "Disk entries."
        }
      },
      "id": "DiskEntryList",
      "description": "VM disks."
    },
    "ReportSummaryAssetAggregateStats": {
      "id": "ReportSummaryAssetAggregateStats",
      "description": "Aggregate statistics for a collection of assets.",
      "properties": {
        "totalCores": {
          "type": "string",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "format": "int64"
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families.",
          "$ref": "ReportSummaryChartData"
        },
        "storageBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of storage sizes."
        },
        "softwareInstances": {
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "$ref": "ReportSummaryChartData",
          "readOnly": true
        },
        "coreCountHistogram": {
          "description": "Histogram showing a distribution of logical CPU core counts.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "totalMemoryBytes": {
          "type": "string",
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "totalAssets": {
          "type": "string",
          "description": "Count of the number of unique assets in this collection.",
          "format": "int64"
        },
        "memoryBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of memory sizes."
        },
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "totalStorageBytes": {
          "type": "string",
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "storageUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        }
      },
      "type": "object"
    },
    "RunningServiceList": {
      "properties": {
        "entries": {
          "description": "Running service entries.",
          "items": {
            "$ref": "RunningService"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "RunningServiceList",
      "description": "List of running guest OS services."
    },
    "AssetsExportJobNetworkDependencies": {
      "id": "AssetsExportJobNetworkDependencies",
      "description": "Configuration for network dependencies exports.",
      "properties": {},
      "type": "object"
    },
    "HostsEntryList": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Hosts entries.",
          "items": {
            "$ref": "HostsEntry"
          }
        }
      },
      "id": "HostsEntryList",
      "description": "Hosts content."
    },
    "RunningProcessList": {
      "id": "RunningProcessList",
      "description": "List of running guest OS processes.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Running process entries.",
          "items": {
            "$ref": "RunningProcess"
          }
        }
      },
      "type": "object"
    },
    "ReportAssetFramesResponse": {
      "properties": {},
      "type": "object",
      "id": "ReportAssetFramesResponse",
      "description": "A response to a call to `ReportAssetFrame`."
    },
    "Date": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "RunningService": {
      "properties": {
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "STOPPED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Service state unspecified.",
            "Service is active.",
            "Service is paused.",
            "Service is stopped."
          ],
          "description": "Service state (OS-agnostic)."
        },
        "startMode": {
          "type": "string",
          "enum": [
            "START_MODE_UNSPECIFIED",
            "BOOT",
            "SYSTEM",
            "AUTO",
            "MANUAL",
            "DISABLED"
          ],
          "description": "Service start mode (OS-agnostic).",
          "enumDescriptions": [
            "Start mode unspecified.",
            "The service is a device driver started by the system loader.",
            "The service is a device driver started by the IOInitSystem function.",
            "The service is started by the operating system, at system start-up",
            "The service is started only manually, by a user.",
            "The service is disabled."
          ]
        },
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "pid": {
          "description": "Service pid.",
          "format": "int64",
          "type": "string"
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RunningService",
      "description": "Guest OS running service details."
    },
    "UpdateAssetRequest": {
      "id": "UpdateAssetRequest",
      "description": "A request to update an asset.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "format": "google-fieldmask"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "asset": {
          "$ref": "Asset",
          "description": "Required. The resource being updated."
        }
      },
      "type": "object"
    },
    "UploadFileInfo": {
      "type": "object",
      "properties": {
        "headers": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. The headers that were used to sign the URI.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "signedUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Upload URI for the file."
        },
        "uriExpirationTime": {
          "description": "Output only. Expiration time of the upload URI.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "UploadFileInfo",
      "description": "A resource that contains a URI to which a data file can be uploaded."
    },
    "ListPreferenceSetsResponse": {
      "id": "ListPreferenceSetsResponse",
      "description": "Response message for listing preference sets.",
      "properties": {
        "preferenceSets": {
          "description": "The list of PreferenceSets",
          "items": {
            "$ref": "PreferenceSet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "MigrationInsight": {
      "properties": {
        "fit": {
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "readOnly": true,
          "$ref": "FitDescriptor"
        },
        "computeEngineTarget": {
          "description": "Output only. A Google Compute Engine target.",
          "$ref": "ComputeEngineMigrationTarget",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "MigrationInsight",
      "description": "An insight about potential migrations for an asset."
    },
    "PerformanceSample": {
      "properties": {
        "cpu": {
          "$ref": "CpuUsageSample",
          "description": "CPU usage sample."
        },
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "sampleTime": {
          "type": "string",
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "format": "google-datetime"
        },
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        }
      },
      "type": "object",
      "id": "PerformanceSample",
      "description": "Performance data sample."
    },
    "AggregationResult": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "frequency": {
[...]
