{
  "canonicalName": "Migration Center API",
  "id": "migrationcenter:v1alpha1",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260409",
  "basePath": "",
  "title": "Migration Center API",
  "discoveryVersion": "v1",
  "servicePath": "",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/migration-center",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1alpha1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "schemas": {
    "Report": {
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "id": "Report",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation timestamp.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of resource.",
          "readOnly": true
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "readOnly": true,
          "$ref": "ReportSummary"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update timestamp.",
          "readOnly": true
        },
        "type": {
          "description": "Report type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "state": {
          "description": "Report creation state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ]
        }
      }
    },
    "VirtualMachineNetworkDetails": {
      "description": "Details of network adapters and settings.",
      "id": "VirtualMachineNetworkDetails",
      "type": "object",
      "properties": {
        "primaryIpAddress": {
          "type": "string",
          "description": "IP address of the machine."
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "MAC address of the machine. This property is used to uniqly identify the machine."
        },
        "defaultGw": {
          "type": "string",
          "description": "Default gateway address."
        },
        "networkAdapters": {
          "$ref": "NetworkAdapterList",
          "description": "List of network adapters."
        },
        "publicIpAddress": {
          "description": "Public IP address of the machine.",
          "type": "string"
        }
      }
    },
    "Money": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type."
    },
    "NetworkConnection": {
      "id": "NetworkConnection",
      "type": "object",
      "properties": {
        "localIpAddress": {
          "description": "Local IP address.",
          "type": "string"
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Connection state (e.g. CONNECTED)."
        },
        "remotePort": {
          "type": "integer",
          "format": "int32",
          "description": "Remote port."
        },
        "localPort": {
          "type": "integer",
          "format": "int32",
          "description": "Local port."
        },
        "pid": {
          "description": "Process ID.",
          "type": "string",
          "format": "int64"
        },
        "protocol": {
          "type": "string",
          "description": "Connection protocol (e.g. TCP/UDP)."
        },
        "processName": {
          "description": "Process or service name.",
          "type": "string"
        }
      }
    },
    "ReportSummaryMachineSeriesAllocation": {
      "id": "ReportSummaryMachineSeriesAllocation",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets allocated to this machine series.",
          "type": "string",
          "format": "int64"
        },
        "machineSeries": {
          "$ref": "MachineSeries",
          "description": "The Machine Series (e.g. \"E2\", \"N2\")"
        }
      },
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series."
    },
    "ListSourcesResponse": {
      "description": "Response message for listing sources.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "sources": {
          "type": "array",
          "description": "The list of sources.",
          "items": {
            "$ref": "Source"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListSourcesResponse"
    },
    "ReportExportExecution": {
      "description": "Execution status of report export operation.",
      "id": "ReportExportExecution",
      "type": "object",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "Output only. Globally unique identifier of the execution.",
          "readOnly": true
        },
        "progressPercentage": {
          "description": "Output only. Represents the progress of the execution. It reaches 100 when the execution is successfully completed. When the execution finishes with a failure, the progress is set to 0.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "result": {
          "description": "Output only. Result of the export execution.",
          "readOnly": true,
          "$ref": "ReportExportExecutionResult"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Execution start timestamp.",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Expiration time for the export and artifacts.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Completion time of the export.",
          "readOnly": true
        }
      }
    },
    "AwsEcsClusterDetails": {
      "id": "AwsEcsClusterDetails",
      "type": "object",
      "properties": {},
      "description": "Details of an AWS ECS cluster."
    },
    "AssetsExportJobInventory": {
      "id": "AssetsExportJobInventory",
      "type": "object",
      "properties": {},
      "description": "Configuration for asset inventory details exports."
    },
    "MachineSeries": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      },
      "id": "MachineSeries",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine)."
    },
    "AssetsExportJobExportCondition": {
      "description": "Conditions for selecting assets to export.",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Assets filter, supports the same syntax as asset listing."
        }
      },
      "id": "AssetsExportJobExportCondition"
    },
    "RunningProcessList": {
      "type": "object",
      "properties": {
        "processes": {
          "description": "Running process entries.",
          "items": {
            "$ref": "RunningProcess"
          },
          "type": "array"
        },
        "entries": {
          "type": "array",
          "description": "Running process entries.",
          "items": {
            "$ref": "RunningProcess"
          }
        }
      },
      "id": "RunningProcessList",
      "description": "List of running guest OS processes."
    },
    "SoleTenantNodeType": {
      "description": "A Sole Tenant node type.",
      "type": "object",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes"
        }
      },
      "id": "SoleTenantNodeType"
    },
    "ResourceLocation": {
      "description": "Location of a resource.",
      "id": "ResourceLocation",
      "type": "object",
      "properties": {
        "region": {
          "description": "Optional. The name of the region.",
          "type": "string"
        }
      }
    },
    "AggregationResultSum": {
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "AggregationResultSum",
      "description": "The result of a sum aggregation."
    },
    "DiscoveryClient": {
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Free text description. Maximum length is 1000 characters."
        },
        "heartbeatTime": {
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "errors": {
          "description": "Output only. Errors affecting client functionality.",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        },
        "source": {
          "type": "string",
          "description": "Required. Full name of the source object associated with this discovery client."
        },
        "ttl": {
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Full name of this discovery client.",
          "readOnly": true
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account used by the discovery client for various operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was first created.",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "readOnly": true
        },
        "signalsEndpoint": {
          "description": "Output only. This field is intended for internal use.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "state": {
          "description": "Output only. Current state of the discovery client.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ]
        },
        "version": {
          "type": "string",
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "readOnly": true
        },
        "recommendedVersions": {
          "description": "Output only. The recommended versions of the discovery client.",
          "readOnly": true,
          "items": {
            "$ref": "DiscoveryClientDiscoveryClientRecommendedVersion"
          },
          "type": "array"
        }
      },
      "id": "DiscoveryClient"
    },
    "CloudSqlForSqlServerShape": {
      "description": "Cloud SQL for SQL Server database shape.",
      "type": "object",
      "properties": {
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        },
        "egressGbPerMonth": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance.",
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ]
        },
        "storage": {
          "$ref": "ComputeStorageDescriptor",
          "description": "Output only. Predicted storage shape.",
          "readOnly": true
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "edition": {
          "type": "string",
          "description": "Output only. Cloud SQL edition.",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "readOnly": true
        },
        "smtEnabled": {
          "type": "boolean",
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance).",
          "readOnly": true
        }
      },
      "id": "CloudSqlForSqlServerShape"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "PhysicalPlatformDetails": {
      "description": "Platform specific details for Physical Machines.",
      "id": "PhysicalPlatformDetails",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field."
        },
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      }
    },
    "AwsRoute53HostedZoneDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsRoute53HostedZoneDetails",
      "description": "Details of an AWS Route 53 Hosted Zone."
    },
    "ComputeEnginePreferences": {
      "description": "The user preferences relating to Compute Engine target platform.",
      "id": "ComputeEnginePreferences",
      "type": "object",
      "properties": {
        "osPricingPreferences": {
          "description": "Optional. Pricing options for OS images.",
          "$ref": "OperatingSystemPricingPreferences"
        },
        "multithreading": {
          "type": "string",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ],
          "description": "Optional. Preferences for multithreading support on Windows Server.",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ]
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        },
        "persistentDiskType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "licenseType": {
          "description": "License type to consider when calculating costs for operating systems. If unspecified, costs are calculated based on the default licensing plan. If os_pricing_preferences is specified, it overrides this field.",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ]
        }
      }
    },
    "InsightList": {
      "id": "InsightList",
      "type": "object",
      "properties": {
        "insights": {
          "description": "Output only. Insights of the list.",
          "readOnly": true,
          "items": {
            "$ref": "Insight"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Message containing insights list."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "description": "The identifiers of the parent database deployment.",
      "type": "object",
      "properties": {
        "generatedId": {
          "type": "string",
          "description": "The parent database deployment generated ID."
        },
        "manualUniqueId": {
          "description": "The parent database deployment optional manual unique ID set by the user.",
          "type": "string"
        }
      },
      "id": "DatabaseDetailsParentDatabaseDeployment"
    },
    "AwsS3BucketDetails": {
      "description": "Asset information specific for AWS S3 buckets.",
      "id": "AwsS3BucketDetails",
      "type": "object",
      "properties": {
        "versioning": {
          "$ref": "AwsS3BucketDetailsVersioning",
          "description": "Optional. Versioning configuration of the bucket."
        },
        "objectsMetadata": {
          "$ref": "AwsS3BucketDetailsObjectsMetadata",
          "description": "Optional. The metadata of the objects in the bucket."
        },
        "storageClasses": {
          "description": "Optional. The storage classes in the bucket.",
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          },
          "type": "array"
        }
      }
    },
    "DailyResourceUsageAggregation": {
      "description": "Usage data aggregation for a single day.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "disk": {
          "description": "Disk usage.",
          "$ref": "DailyResourceUsageAggregationDisk"
        },
        "cpu": {
          "description": "CPU usage.",
          "$ref": "DailyResourceUsageAggregationCPU"
        },
        "date": {
          "$ref": "Date",
          "description": "Aggregation date. Day boundaries are at midnight UTC."
        },
        "memory": {
          "$ref": "DailyResourceUsageAggregationMemory",
          "description": "Memory usage."
        }
      },
      "id": "DailyResourceUsageAggregation"
    },
    "AwsElasticIpAddressDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsElasticIpAddressDetails",
      "description": "Asset information specific for AWS Elastic IP Addresses."
    },
    "HostingProviderDetailsAws": {
      "type": "object",
      "properties": {
        "owningAccountId": {
          "type": "string",
          "description": "Optional. The AWS account ID owning the resource represented by this asset."
        }
      },
      "id": "HostingProviderDetailsAws",
      "description": "Details for AWS platform."
    },
    "AzureVmPlatformDetails": {
      "type": "object",
      "properties": {
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        }
      },
      "id": "AzureVmPlatformDetails",
      "description": "Azure VM specific details."
    },
    "BatchDeleteAssetsRequest": {
      "id": "BatchDeleteAssetsRequest",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cascadingRules": {
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "items": {
            "$ref": "CascadingRule"
          },
          "type": "array"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`."
        }
      },
      "description": "A request to delete a list of asset."
    },
    "AggregationResultHistogramBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "type": "object",
      "properties": {
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "type": "number",
          "format": "double"
        },
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "type": "number",
          "format": "double"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Count of items in the bucket."
        }
      },
      "id": "AggregationResultHistogramBucket"
    },
    "AwsEbsVolumeDetails": {
      "description": "Asset information specific for AWS EBS Volumes.",
      "type": "object",
      "properties": {},
      "id": "AwsEbsVolumeDetails"
    },
    "DatabaseDeploymentTopology": {
      "description": "Details of database deployment's topology.",
      "type": "object",
      "properties": {
        "physicalCoreLimit": {
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "type": "integer",
          "format": "int32"
        },
        "memoryLimitBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Total memory in bytes limited by db deployment."
        },
        "instances": {
          "type": "array",
          "description": "Optional. List of database instances.",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "memoryBytes": {
          "description": "Optional. Total memory in bytes.",
          "type": "string",
          "format": "int64"
        },
        "coreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of total logical cores."
        },
        "diskUsedBytes": {
          "description": "Optional. Disk used in bytes.",
          "type": "string",
          "format": "int64"
        },
        "diskAllocatedBytes": {
          "description": "Optional. Disk allocated in bytes.",
          "type": "string",
          "format": "int64"
        },
        "coreLimit": {
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "type": "integer",
          "format": "int32"
        },
        "physicalCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of total physical cores."
        }
      },
      "id": "DatabaseDeploymentTopology"
    },
    "BiosDetails": {
      "description": "Details about the BIOS.",
      "type": "object",
      "properties": {
        "biosName": {
          "description": "BIOS name.",
          "type": "string"
        },
        "biosManufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "BIOS version."
        },
        "smbiosUuid": {
          "type": "string",
          "description": "SMBIOS UUID."
        },
        "biosVersion": {
          "description": "BIOS version.",
          "type": "string"
        },
        "biosReleaseDate": {
          "description": "BIOS release date.",
          "type": "string"
        },
        "releaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "BIOS release date."
        }
      },
      "id": "BiosDetails"
    },
    "ReportSummarySoleTenantFinding": {
      "id": "ReportSummarySoleTenantFinding",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "type": "string",
          "format": "int64"
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          },
          "type": "array"
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets are allocated",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes."
    },
    "NetworkConnectionList": {
      "description": "Network connection list.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network connection entries.",
          "items": {
            "$ref": "NetworkConnection"
          }
        }
      },
      "id": "NetworkConnectionList"
    },
    "DatabaseInstanceNetwork": {
      "description": "Network details of a database instance.",
      "type": "object",
      "properties": {
        "ipAddresses": {
          "type": "array",
          "description": "Optional. The instance's IP addresses.",
          "items": {
            "type": "string"
          }
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "Optional. The instance's primary MAC address."
        },
        "hostNames": {
          "description": "Optional. The instance's host names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DatabaseInstanceNetwork"
    },
    "ExecutionReport": {
      "type": "object",
      "properties": {
        "totalRowsCount": {
          "description": "Total number of rows in the import job.",
          "type": "integer",
          "format": "int32"
        },
        "framesReported": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of asset frames reported for the import job."
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        },
        "jobErrors": {
          "type": "array",
          "deprecated": true,
          "description": "List of job-level errors. Deprecated, use the job errors under execution_errors instead.",
          "items": {
            "$ref": "ImportError"
          }
        }
      },
      "id": "ExecutionReport",
      "description": "A resource that reports result of the import job execution."
    },
    "ListReportExportJobsResponse": {
      "description": "Response message for listing report export jobs.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true,
          "type": "string"
        },
        "reportExportJobs": {
          "description": "Output only. The list of report export jobs.",
          "readOnly": true,
          "items": {
            "$ref": "ReportExportJob"
          },
          "type": "array"
        }
      },
      "id": "ListReportExportJobsResponse"
    },
    "SqlServerDatabaseDeployment": {
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "id": "SqlServerDatabaseDeployment",
      "type": "object",
      "properties": {
        "serverFlags": {
          "type": "array",
          "description": "Optional. List of SQL Server server flags.",
          "items": {
            "$ref": "SqlServerServerFlag"
          }
        },
        "traceFlags": {
          "type": "array",
          "description": "Optional. List of SQL Server trace flags.",
          "items": {
            "$ref": "SqlServerTraceFlag"
          }
        },
        "features": {
          "type": "array",
          "description": "Optional. List of SQL Server features.",
          "items": {
            "$ref": "SqlServerFeature"
          }
        }
      }
    },
    "ValidateImportJobRequest": {
      "description": "A request to validate an import job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "ValidateImportJobRequest"
    },
    "GuestInstalledApplication": {
      "description": "Guest installed application information.",
      "id": "GuestInstalledApplication",
      "type": "object",
      "properties": {
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "vendor": {
          "type": "string",
          "description": "Installed application vendor."
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "installTime": {
          "description": "The time when the application was installed.",
          "type": "string",
          "format": "google-datetime"
        },
        "licenses": {
          "type": "array",
          "description": "License strings associated with the installed application.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Installed application name.",
          "type": "string"
        },
        "time": {
          "type": "string",
          "description": "Date application was installed."
        }
      }
    },
    "ReportSummaryHistogramChartDataBucket": {
      "id": "ReportSummaryHistogramChartDataBucket",
      "type": "object",
      "properties": {
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "type": "string",
          "format": "int64"
        },
        "lowerBound": {
          "type": "string",
          "format": "int64",
          "description": "Lower bound - inclusive."
        },
        "count": {
          "description": "Count of items in the bucket.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity."
    },
    "DiscoveryClientDiscoveryClientRecommendedVersion": {
      "description": "Discovery client recommended version.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Output only. The version of the discovery client.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. The URI of the discovery client version.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DiscoveryClientDiscoveryClientRecommendedVersion"
    },
    "AwsElasticNetworkInterfaceDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsElasticNetworkInterfaceDetails",
      "description": "Asset information specific for AWS Elastic Network Interfaces."
    },
    "AggregationResultCount": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AggregationResultCount",
      "description": "The result of a count aggregation."
    },
    "PayloadFile": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The file name."
        },
        "data": {
          "description": "The file data.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "PayloadFile",
      "description": "Payload file for inline import job payload."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "FileValidationReport": {
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "id": "FileValidationReport",
      "type": "object",
      "properties": {
        "rowErrors": {
          "description": "Partial list of rows that encountered validation error.",
          "items": {
            "$ref": "ImportRowError"
          },
          "type": "array"
        },
        "fileErrors": {
          "type": "array",
          "description": "List of file level errors.",
          "items": {
            "$ref": "ImportError"
          }
        },
        "fileName": {
          "description": "The name of the file.",
          "type": "string"
        },
        "partialReport": {
          "type": "boolean",
          "description": "Flag indicating that processing was aborted due to maximum number of errors."
        }
      }
    },
    "AggregationResultHistogram": {
      "id": "AggregationResultHistogram",
      "type": "object",
      "properties": {
        "buckets": {
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          }
        }
      },
      "description": "The result of a bucketed histogram aggregation."
    },
    "OpenFileList": {
      "id": "OpenFileList",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Open file details entries.",
          "items": {
            "$ref": "OpenFileDetails"
          },
          "type": "array"
        }
      },
      "description": "Open file list."
    },
    "ListReportsResponse": {
      "description": "Response message for listing Reports.",
      "id": "ListReportsResponse",
      "type": "object",
      "properties": {
        "reports": {
          "type": "array",
          "description": "The list of Reports.",
          "items": {
            "$ref": "Report"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "SqlServerServerFlag": {
      "description": "SQL Server server flag details.",
      "type": "object",
      "properties": {
        "valueInUse": {
          "type": "string",
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details."
        },
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        },
        "value": {
          "description": "Required. The server flag value set by the user.",
          "type": "string"
        }
      },
      "id": "SqlServerServerFlag"
    },
    "DailyResourceUsageAggregationStats": {
      "id": "DailyResourceUsageAggregationStats",
      "type": "object",
      "properties": {
        "peak": {
          "description": "Peak usage value.",
          "type": "number",
          "format": "float"
        },
        "median": {
          "description": "Median usage value.",
          "type": "number",
          "format": "float"
        },
        "ninteyFifthPercentile": {
          "description": "95th percentile usage value.",
          "type": "number",
          "format": "float"
        },
        "average": {
          "type": "number",
          "format": "float",
          "description": "Average usage value."
        }
      },
      "description": "Statistical aggregation of samples for a single resource usage."
    },
    "CloudSqlForPostgreSqlShape": {
      "description": "Cloud SQL for PostgreSQL database shape.",
      "type": "object",
      "properties": {
        "backupStorageGb": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true
        },
        "edition": {
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Output only. Cloud SQL edition.",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance.",
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ],
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ],
          "readOnly": true
        },
        "egressGbPerMonth": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true
        },
        "logicalCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of logical cores.",
          "readOnly": true
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true
        },
        "zoneAvailability": {
          "type": "string",
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "readOnly": true
        }
      },
      "id": "CloudSqlForPostgreSqlShape"
    },
    "DatabasePreferencesCloudSqlCommon": {
      "type": "object",
      "properties": {
        "backup": {
          "description": "Optional. Preferences for database backups.",
          "$ref": "DatabasePreferencesCloudSqlCommonBackup"
        },
        "sizingOptimizationStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Optional. Sizing optimization strategy of the database. Currently supported for Cloud SQL are just two values: SIZING_OPTIMIZATION_STRATEGY_MODERATE and SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE. SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED will behave like SIZING_OPTIMIZATION_STRATEGY_MODERATE.",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ]
        },
        "edition": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Optional. Preferred Cloud SQL edition.",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ]
        },
        "commitmentPlan": {
          "description": "Optional. Commitment plan to consider when calculating costs. Only regular CUDs (not flexible) are currently available.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ]
        },
        "zoneAvailability": {
          "description": "Optional. Preferred zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        },
        "persistentDiskType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Optional. Persistent disk type to use. If unspecified, a disk type is recommended based on available usage data. For SQL Server, only SSD is available. For MySQL and PostgreSQL, only STANDARD (HDD) and SSD types are available.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        }
      },
      "id": "DatabasePreferencesCloudSqlCommon",
      "description": "Preferences common to Cloud SQL databases."
    },
    "MachineArchitectureDetails": {
      "id": "MachineArchitectureDetails",
      "type": "object",
      "properties": {
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "firmwareType": {
          "description": "Firmware type.",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ]
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuSocketCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine."
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ]
        },
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "cpuArchitecture": {
          "type": "string",
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc."
        }
      },
      "description": "Details of the machine architecture."
    },
    "BatchUpdateAssetsRequest": {
      "description": "A request to update a list of assets.",
      "id": "BatchUpdateAssetsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      }
    },
    "AssetFrame": {
      "description": "Contains data reported from an inventory source on an asset.",
      "id": "AssetFrame",
      "type": "object",
      "properties": {
        "awsElasticNetworkInterfaceDetails": {
          "$ref": "AwsElasticNetworkInterfaceDetails",
          "description": "Optional. Asset information specific for AWS Elastic Network Interfaces."
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Generic asset attributes."
        },
        "awsElasticIpAddressDetails": {
          "$ref": "AwsElasticIpAddressDetails",
          "description": "Optional. Asset information specific for AWS Elastic IP Addresses."
        },
        "awsEksClusterDetails": {
          "$ref": "AwsEksClusterDetails",
          "description": "Asset information specific for AWS EKS clusters."
        },
        "awsAppSyncGraphqlApiDetails": {
          "$ref": "AwsAppSyncGraphqlApiDetails",
          "description": "Optional. Asset information specific for AWS AppSync GraphQL APIs."
        },
        "awsDynamodbTableDetails": {
          "$ref": "AwsDynamoDBTableDetails",
          "description": "Asset information specific for AWS DynamoDB tables."
        },
        "awsRedshiftDetails": {
          "$ref": "AwsRedshiftDetails",
          "description": "Asset information specific for AWS Redshift clusters."
        },
        "awsEbsVolumeDetails": {
          "$ref": "AwsEbsVolumeDetails",
          "description": "Optional. Asset information specific for AWS EBS Volumes."
        },
        "hostingProviderDetails": {
          "$ref": "HostingProviderDetails",
          "description": "Optional. Details about the hosting provider of the asset."
        },
        "machineDetails": {
          "description": "Asset information specific for virtual and physical machines.",
          "$ref": "MachineDetails"
        },
        "awsAutoscalingGroupDetails": {
          "description": "Optional. Asset information specific for AwsAutoscalingGroupDetails",
          "$ref": "AwsAutoscalingGroupDetails"
        },
        "awsInternetGatewayDetails": {
          "$ref": "AwsInternetGatewayDetails",
          "description": "Optional. Asset information specific for AWS Internet Gateways."
        },
        "databaseDetails": {
          "description": "Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "awsS3BucketDetails": {
          "$ref": "AwsS3BucketDetails",
          "description": "Asset information specific for AWS S3 buckets."
        },
        "awsElbLoadBalancerDetails": {
          "description": "Asset information specific for AWS Load Balancers.",
          "$ref": "AwsElbLoadBalancerDetails"
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "description": "Asset information specific for database deployments."
        },
        "awsSnsTopicDetails": {
          "$ref": "AwsSnsTopicDetails",
          "description": "Optional. Asset information specific for AWS SNS Topics."
        },
        "awsRoute53HostedZoneDetails": {
          "$ref": "AwsRoute53HostedZoneDetails",
          "description": "Asset information specific for AwsRoute53HostedZoneDetails"
        },
        "awsEcsClusterDetails": {
          "$ref": "AwsEcsClusterDetails",
          "description": "Asset information specific for AWS ECS clusters."
        },
        "awsLambdaFunctionDetails": {
          "$ref": "AwsLambdaFunctionDetails",
          "description": "Asset information specific for AWS Lambda functions."
        },
        "traceToken": {
          "type": "string",
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability."
        },
        "awsVpcDetails": {
          "$ref": "AwsVpcDetails",
          "description": "Asset information specific for AWS VPCs."
        },
        "awsEcrRepositoryDetails": {
          "$ref": "AwsEcrRepositoryDetails",
          "description": "Asset information specific for AwsEcrRepositoryDetails"
        },
        "awsEfsFileSystemDetails": {
          "$ref": "AwsEfsFileSystemDetails",
          "description": "Asset information specific for AWS EFS file systems."
        },
        "collectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "awsApplicationLoadBalancerDetails": {
          "$ref": "AwsApplicationLoadBalancerDetails",
          "description": "Optional. Asset information specific for AWS Application Load Balancers."
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "awsApiGatewayRestApiDetails": {
          "description": "Optional. Asset information specific for AWS API Gateway REST APIs.",
          "$ref": "AwsApiGatewayRestApiDetails"
        },
        "reportTime": {
          "description": "The time the data was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "performanceSamples": {
          "type": "array",
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "items": {
            "$ref": "PerformanceSample"
          }
        },
        "virtualMachineDetails": {
          "$ref": "VirtualMachineDetails",
          "description": "Asset information specific for virtual machines."
        },
        "awsNatGatewayDetails": {
          "$ref": "AwsNatGatewayDetails",
          "description": "Asset information specific for AwsNatGatewayDetails"
        },
        "structuredAttributes": {
          "description": "Optional. Generic structured asset attributes.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "awsBatchComputeEnvironmentDetails": {
          "$ref": "AwsBatchComputeEnvironmentDetails",
          "description": "Optional. Asset information specific for AWS Batch Compute Environments."
        },
        "awsCloudFrontDistributionDetails": {
          "$ref": "AwsCloudFrontDistributionDetails",
          "description": "Asset information specific for AWS CloudFront distributions."
        }
      }
    },
    "ReportSummaryMachineFinding": {
      "description": "A set of findings that applies to assets of type Virtual/Physical Machine.",
      "id": "ReportSummaryMachineFinding",
      "type": "object",
      "properties": {
        "machineSeriesAllocations": {
          "description": "Distribution of assets based on the Machine Series.",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          },
          "type": "array"
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets which were allocated."
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allocatedDiskTypes": {
          "type": "array",
          "deprecated": true,
          "description": "@deprecated. Use storage_allocations instead. Set of disk types allocated to assets.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          }
        }
      }
    },
    "GuestConfigDetails": {
      "id": "GuestConfigDetails",
      "type": "object",
      "properties": {
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "selinux": {
          "$ref": "Selinux",
          "description": "SELinux details."
        },
        "nfsExports": {
          "$ref": "NfsExportList",
          "description": "NFS exports."
        },
        "hosts": {
          "description": "Output only. Hosts file (/etc/hosts).",
          "readOnly": true,
          "$ref": "HostsEntryList"
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "type": "string",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ]
        }
      },
      "description": "Guest OS config information."
    },
    "ReportSummaryHistogramChartData": {
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "id": "ReportSummaryHistogramChartData",
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "type": "array"
        }
      }
    },
    "Insight": {
      "type": "object",
      "properties": {
        "migrationInsight": {
          "$ref": "MigrationInsight",
          "description": "Output only. An insight about potential migrations for an asset.",
          "readOnly": true
        },
        "genericInsight": {
          "description": "Output only. A generic insight about an asset.",
          "readOnly": true,
          "$ref": "GenericInsight"
        },
        "softwareInsight": {
          "$ref": "SoftwareInsight",
          "description": "Output only. An insight regarding software detected on an asset.",
          "readOnly": true
        }
      },
      "id": "Insight",
      "description": "An insight about an asset."
    },
    "ErrorFrame": {
      "description": "Message representing a frame which failed to be processed due to an error.",
      "type": "object",
      "properties": {
        "originalFrame": {
          "description": "Output only. The frame that was originally reported.",
          "readOnly": true,
          "$ref": "AssetFrame"
        },
        "name": {
          "description": "Output only. The identifier of the ErrorFrame.",
          "readOnly": true,
          "type": "string"
        },
        "violations": {
          "type": "array",
          "description": "Output only. All the violations that were detected for the frame.",
          "readOnly": true,
          "items": {
            "$ref": "FrameViolationEntry"
          }
        },
        "ingestionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Frame ingestion time.",
          "readOnly": true
        }
      },
      "id": "ErrorFrame"
    },
    "DailyResourceUsageAggregationDisk": {
      "description": "Statistical aggregation of disk usage.",
      "id": "DailyResourceUsageAggregationDisk",
      "type": "object",
      "properties": {
        "iops": {
          "description": "Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "readIops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Disk read I/O operations per second."
        },
        "writeIops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Disk write I/O operations per second."
        }
      }
    },
    "OperatingSystemPricingPreferencesOperatingSystemPricing": {
      "description": "Pricing options of an OS image.",
      "id": "OperatingSystemPricingPreferencesOperatingSystemPricing",
      "type": "object",
      "properties": {
        "licenseType": {
          "description": "Optional. License type for premium images (RHEL, RHEL for SAP, SLES, SLES for SAP, Windows Server).",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ]
        },
        "commitmentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year committed use discount.",
            "3-year committed use discount."
          ],
          "description": "Optional. The plan of commitments for committed use discounts (CUD).",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_ON_DEMAND",
            "COMMITMENT_PLAN_1_YEAR",
            "COMMITMENT_PLAN_3_YEAR"
          ]
        }
      }
    },
    "DiskPartitionDetails": {
      "description": "Disk partition details.",
      "id": "DiskPartitionDetails",
      "type": "object",
      "properties": {
        "freeSpaceBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total free space of all partitions.",
          "readOnly": true
        },
        "partitions": {
          "$ref": "DiskPartitionList",
          "description": "Optional. List of partitions."
        },
        "totalCapacityBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total capacity of all partitions.",
          "readOnly": true
        }
      }
    },
    "CascadingRule": {
      "type": "object",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      },
      "id": "CascadingRule",
      "description": "Specifies cascading rules for traversing relations."
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "description": "Aggregated stats for the database deployment.",
      "type": "object",
      "properties": {
        "databaseCount": {
          "description": "Output only. The number of databases in the deployment.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DatabaseDeploymentDetailsAggregatedStats"
    },
    "NetworkUsageSample": {
      "type": "object",
      "properties": {
        "averageIngressBps": {
          "type": "number",
          "format": "float",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative."
        },
        "averageEgressBps": {
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "NetworkUsageSample",
      "description": "Network usage sample. Values are across all network interfaces."
    },
    "Frames": {
      "id": "Frames",
      "type": "object",
      "properties": {
        "framesData": {
          "type": "array",
          "description": "A repeated field of asset data.",
          "items": {
            "$ref": "AssetFrame"
          }
        }
      },
      "description": "Collection of frame data."
    },
    "SqlServerSchemaDetails": {
      "description": "Specific details for a SqlServer database.",
      "id": "SqlServerSchemaDetails",
      "type": "object",
      "properties": {
        "clrObjectCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. SqlServer number of CLR objects."
        }
      }
    },
    "ListImportDataFilesResponse": {
      "description": "Response for listing payload files of an import job.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "importDataFiles": {
          "description": "The list of import data files.",
          "items": {
            "$ref": "ImportDataFile"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListImportDataFilesResponse"
    },
    "PreferenceSet": {
      "id": "PreferenceSet",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of the PreferenceSet.",
          "readOnly": true,
          "type": "string"
        },
        "databasePreferences": {
          "description": "Optional. A set of preferences that applies to all databases in the context.",
          "$ref": "DatabasePreferences"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the preference set was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "regionPreferences": {
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used.",
          "$ref": "RegionPreferences"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        },
        "virtualMachinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all virtual machines in the context."
        }
      },
      "description": "The preferences that apply to all assets in a given context."
    },
    "PostgreSqlSetting": {
      "description": "PostgreSql setting.",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The setting int value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Required. The setting boolean value."
        },
        "realValue": {
          "description": "Required. The setting real value.",
          "type": "number",
          "format": "float"
        },
        "setting": {
          "type": "string",
          "description": "Required. The setting name."
        },
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        }
      },
      "id": "PostgreSqlSetting"
    },
    "AssetsExportJobPerformanceData": {
      "id": "AssetsExportJobPerformanceData",
      "type": "object",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for performance data exports."
    },
    "Relation": {
      "id": "Relation",
      "type": "object",
      "properties": {
        "srcAsset": {
          "type": "string",
          "description": "Output only. The source asset name in the relation.",
          "readOnly": true
        },
        "type": {
          "description": "Optional. The type of the relation.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ]
        },
        "dstAsset": {
          "type": "string",
          "description": "Output only. The destination asset name in the relation.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the relation was created.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Message representing a relation between 2 resource."
    },
    "VirtualMachineArchitectureDetails": {
      "type": "object",
      "properties": {
        "cpuManufacturer": {
          "type": "string",
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer",
          "format": "int32"
        },
        "firmware": {
          "type": "string",
          "description": "Firmware (BIOS/efi)."
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "cpuThreadCount": {
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "cpuName": {
          "type": "string",
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc."
        },
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ],
          "description": "CPU hyperthreading support.",
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ]
        }
      },
      "id": "VirtualMachineArchitectureDetails",
      "description": "Details of the VM architecture."
    },
    "DailyResourceUsageAggregationNetwork": {
      "description": "Statistical aggregation of network usage.",
      "type": "object",
      "properties": {
        "egressBps": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Network egress in B/s."
        },
        "ingressBps": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Network ingress in B/s."
        }
      },
      "id": "DailyResourceUsageAggregationNetwork"
    },
    "AwsS3BucketDetailsStorageClass": {
      "type": "object",
      "properties": {
        "totalBytes": {
          "description": "Optional. The total size of the storage class in bytes.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "Required. Type of the storage class.",
          "enum": [
            "STORAGE_CLASS_TYPE_UNSPECIFIED",
            "STANDARD",
            "INTELLIGENT_TIERING",
            "STANDARD_IA",
            "ONE_ZONE_IA",
            "GLACIER",
            "DEEP_ARCHIVE",
            "GLACIER_IR",
            "REDUCED_REDUNDANCY",
            "EXPRESS_ONEZONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage class type.",
            "General Purpose",
            "Represents Intelligent-Tiering's auto-tiering",
            "Standard-Infrequent Access",
            "One Zone-Infrequent Access",
            "S3 Glacier Flexible Retrieval",
            "S3 Glacier Deep Archive",
            "S3 Glacier Instant Retrieval",
            "S3 Reduced Redundancy Storage (Legacy)",
            "S3 Express One Zone"
          ]
        }
      },
      "id": "AwsS3BucketDetailsStorageClass",
      "description": "Details about storage class."
    },
    "AwsAppSyncGraphqlApiDetails": {
      "id": "AwsAppSyncGraphqlApiDetails",
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS AppSync GraphQL APIs."
    },
    "OutputFileList": {
      "description": "Contains a list of output files.",
      "id": "OutputFileList",
      "type": "object",
      "properties": {
        "entries": {
          "description": "List of output files.",
          "items": {
            "$ref": "OutputFile"
          },
          "type": "array"
        }
      }
    },
    "SignedUris": {
      "id": "SignedUris",
      "type": "object",
      "properties": {
        "signedUris": {
          "type": "array",
          "description": "Output only. List of signed URIs.",
          "readOnly": true,
          "items": {
            "$ref": "SignedUri"
          }
        }
      },
      "description": "Contains a list of Signed URIs."
    },
    "RunningService": {
      "id": "RunningService",
      "type": "object",
      "properties": {
        "status": {
          "description": "Service status.",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "format": "int64",
          "description": "Service pid."
        },
        "name": {
          "description": "Service name.",
          "type": "string"
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Service state (raw, OS-agnostic)."
        },
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "startMode": {
          "description": "Service start mode (raw, OS-agnostic).",
          "type": "string"
        }
      },
      "description": "Guest OS running service details."
    },
    "AggregationResult": {
      "id": "AggregationResult",
      "type": "object",
      "properties": {
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "field": {
          "type": "string"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        }
      },
      "description": "Message describing a result of an aggregation."
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "description": "Represents a combination of a group with a preference set.",
      "type": "object",
      "properties": {
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        },
        "preferenceSet": {
          "type": "string",
          "description": "Required. Name of the Preference Set."
        }
      },
      "id": "ReportConfigGroupPreferenceSetAssignment"
    },
    "SoleTenancyPreferences": {
      "id": "SoleTenancyPreferences",
      "type": "object",
      "properties": {
        "cpuOvercommitRatio": {
          "type": "number",
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive."
        },
        "osPricingPreferences": {
          "description": "Optional. Pricing options for OS images.",
          "$ref": "OperatingSystemPricingPreferences"
        },
        "hostMaintenancePolicy": {
          "description": "Sole Tenancy nodes maintenance policy.",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ]
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR",
            "COMMITMENT_FLEXIBLE_1_YEAR",
            "COMMITMENT_FLEXIBLE_3_YEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ]
        },
        "nodeTypes": {
          "type": "array",
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "items": {
            "$ref": "SoleTenantNodeType"
          }
        }
      },
      "description": "Preferences concerning Sole Tenancy nodes and VMs."
    },
    "MachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          },
          "type": "array"
        }
      },
      "id": "MachinePreferences"
    },
    "SoftwareInsight": {
      "description": "An insight regarding software detected on an asset.",
      "id": "SoftwareInsight",
      "type": "object",
      "properties": {
        "detectedSoftware": {
          "description": "Output only. Information about the detected software.",
          "readOnly": true,
          "$ref": "DetectedSoftware"
        }
      }
    },
    "GCSPayloadInfo": {
      "description": "A resource that represents a payload hosted on Google Cloud Storage.",
      "type": "object",
      "properties": {
        "format": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
[...]
