{
  "id": "migrationcenter:v1alpha1",
  "version_module": true,
  "version": "v1alpha1",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/migration-center",
  "kind": "discovery#restDescription",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "name": "migrationcenter",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "title": "Migration Center API",
  "schemas": {
    "VirtualMachineArchitectureDetails": {
      "description": "Details of the VM architecture.",
      "type": "object",
      "properties": {
        "cpuManufacturer": {
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuThreadCount": {
          "format": "int32",
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "deprecated": true,
          "type": "integer"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "firmware": {
          "description": "Firmware (BIOS/efi).",
          "type": "string"
        },
        "hyperthreading": {
          "description": "CPU hyperthreading support.",
          "type": "string",
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ],
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ]
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer",
          "format": "int32"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        }
      },
      "id": "VirtualMachineArchitectureDetails"
    },
    "AwsEksClusterDetails": {
      "id": "AwsEksClusterDetails",
      "description": "Asset information specific for AWS EKS clusters.",
      "type": "object",
      "properties": {}
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Money"
    },
    "ListAssetsExportJobsResponse": {
      "id": "ListAssetsExportJobsResponse",
      "description": "Response message for listing assets export jobs.",
      "type": "object",
      "properties": {
        "assetsExportJobs": {
          "description": "Output only. The list of assets export jobs.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AssetsExportJob"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AwsS3BucketDetailsObjectsMetadata": {
      "description": "The metadata of the objects in the bucket.",
      "type": "object",
      "properties": {
        "totalObjects": {
          "description": "Optional. The total number of objects in the bucket.",
          "$ref": "AwsS3BucketDetailsObjectsMetadataTotalObjects"
        }
      },
      "id": "AwsS3BucketDetailsObjectsMetadata"
    },
    "DetectedSoftware": {
      "properties": {
        "softwareName": {
          "description": "Output only. Software's name.",
          "readOnly": true,
          "type": "string"
        },
        "softwareFamily": {
          "description": "Output only. Software family of the detected software, e.g. Database, SAP family.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Information about software detected on an asset.",
      "type": "object",
      "id": "DetectedSoftware"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Location"
    },
    "PostgreSqlDatabaseDeployment": {
      "properties": {
        "properties": {
          "description": "Optional. List of PostgreSql properties.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          }
        },
        "settings": {
          "description": "Optional. List of PostgreSql settings.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlSetting"
          }
        }
      },
      "description": "Specific details for a PostgreSQL database deployment.",
      "type": "object",
      "id": "PostgreSqlDatabaseDeployment"
    },
    "AssetsExportJobExecutionResult": {
      "id": "AssetsExportJobExecutionResult",
      "properties": {
        "outputFiles": {
          "description": "Output only. List of output files.",
          "readOnly": true,
          "$ref": "OutputFileList"
        },
        "signedUris": {
          "$ref": "SignedUris",
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Error encountered during export.",
          "readOnly": true
        }
      },
      "description": "Contains the result of the assets export.",
      "type": "object"
    },
    "RuntimeNetworkInfo": {
      "description": "Runtime networking information.",
      "type": "object",
      "properties": {
        "rawScanResult": {
          "description": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        },
        "netstat": {
          "description": "Netstat (raw, OS-agnostic).",
          "type": "string"
        },
        "scanTime": {
          "description": "Time of the last network scan.",
          "type": "string",
          "format": "google-datetime"
        },
        "connections": {
          "$ref": "NetworkConnectionList",
          "description": "Network connections."
        },
        "netstatTime": {
          "description": "Netstat time collected.",
          "$ref": "DateTime"
        }
      },
      "id": "RuntimeNetworkInfo"
    },
    "ListImportJobsResponse": {
      "id": "ListImportJobsResponse",
      "properties": {
        "importJobs": {
          "items": {
            "$ref": "ImportJob"
          },
          "description": "The list of import jobs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A response for listing import jobs.",
      "type": "object"
    },
    "ReportExportExecution": {
      "properties": {
        "expireTime": {
          "description": "Output only. Expiration time for the export and artifacts.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "description": "Output only. Result of the export execution.",
          "readOnly": true,
          "$ref": "ReportExportExecutionResult"
        },
        "progressPercentage": {
          "format": "int32",
          "description": "Output only. Represents the progress of the execution. It reaches 100 when the execution is successfully completed. When the execution finishes with a failure, the progress is set to 0.",
          "readOnly": true,
          "type": "integer"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Execution start timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "executionId": {
          "description": "Output only. Globally unique identifier of the execution.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Completion time of the export.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Execution status of report export operation.",
      "type": "object",
      "id": "ReportExportExecution"
    },
    "RunningProcess": {
      "id": "RunningProcess",
      "description": "Guest OS running process details.",
      "type": "object",
      "properties": {
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "user": {
          "description": "User running the process.",
          "type": "string"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Process extended attributes.",
          "type": "object"
        },
        "pid": {
          "format": "int64",
          "description": "Process ID.",
          "type": "string"
        },
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        }
      }
    },
    "DailyResourceUsageAggregationMemory": {
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Memory utilization percentage."
        }
      },
      "description": "Statistical aggregation of memory usage.",
      "type": "object",
      "id": "DailyResourceUsageAggregationMemory"
    },
    "Report": {
      "id": "Report",
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "type": {
          "description": "Report type.",
          "type": "string",
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ]
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "readOnly": true,
          "$ref": "ReportSummary"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "state": {
          "description": "Report creation state.",
          "type": "string",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      }
    },
    "RunAssetsExportJobResponse": {
      "properties": {
        "assetsExportJobExecution": {
          "$ref": "AssetsExportJobExecution",
          "description": "Output only. Execution status of the assets export operation.",
          "readOnly": true
        }
      },
      "description": "Response message for running an assets export job.",
      "type": "object",
      "id": "RunAssetsExportJobResponse"
    },
    "AwsS3BucketDetails": {
      "id": "AwsS3BucketDetails",
      "properties": {
        "objectsMetadata": {
          "$ref": "AwsS3BucketDetailsObjectsMetadata",
          "description": "Optional. The metadata of the objects in the bucket."
        },
        "versioning": {
          "description": "Optional. Versioning configuration of the bucket.",
          "$ref": "AwsS3BucketDetailsVersioning"
        },
        "storageClasses": {
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          },
          "description": "Optional. The storage classes in the bucket.",
          "type": "array"
        }
      },
      "description": "Asset information specific for AWS S3 buckets.",
      "type": "object"
    },
    "AssetsExportJobInventory": {
      "description": "Configuration for asset inventory details exports.",
      "type": "object",
      "properties": {},
      "id": "AssetsExportJobInventory"
    },
    "PostgreSqlExtension": {
      "description": "PostgreSql extension.",
      "type": "object",
      "properties": {
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      },
      "id": "PostgreSqlExtension"
    },
    "ReportAssetFramesResponse": {
      "id": "ReportAssetFramesResponse",
      "description": "A response to a call to `ReportAssetFrame`.",
      "type": "object",
      "properties": {}
    },
    "ComputeEngineShapeDescriptor": {
      "properties": {
        "memoryMb": {
          "format": "int32",
          "description": "Output only. Memory in mebibytes.",
          "readOnly": true,
          "type": "integer"
        },
        "logicalCoreCount": {
          "format": "int32",
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer"
        },
        "machineType": {
          "description": "Output only. Compute Engine machine type.",
          "readOnly": true,
          "type": "string"
        },
        "storage": {
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "description": "Output only. Compute Engine storage. Never empty.",
          "readOnly": true,
          "type": "array"
        },
        "series": {
          "description": "Output only. Compute Engine machine series.",
          "readOnly": true,
          "type": "string"
        },
        "smtEnabled": {
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/compute/docs/instances/set-threads-per-core).",
          "readOnly": true,
          "type": "boolean"
        },
        "physicalCoreCount": {
          "format": "int32",
          "description": "Output only. Number of physical cores.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Compute Engine target shape descriptor.",
      "type": "object",
      "id": "ComputeEngineShapeDescriptor"
    },
    "CloudSqlForSqlServerShape": {
      "description": "Cloud SQL for SQL Server database shape.",
      "type": "object",
      "properties": {
        "zoneAvailability": {
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "description": "Output only. Cloud SQL zone availability.",
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "backupStorageGb": {
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "type": "integer"
        },
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "edition": {
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Output only. Cloud SQL edition.",
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ]
        },
        "smtEnabled": {
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance).",
          "readOnly": true,
          "type": "boolean"
        },
        "version": {
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance.",
          "type": "string",
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ]
        }
      },
      "id": "CloudSqlForSqlServerShape"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "ListAssetsResponse": {
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets.",
      "type": "object",
      "properties": {
        "assets": {
          "description": "A list of assets.",
          "type": "array",
          "items": {
            "$ref": "Asset"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GenericPlatformDetails": {
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "description": "Generic platform details.",
      "type": "object",
      "id": "GenericPlatformDetails"
    },
    "ImportDataFile": {
      "properties": {
        "name": {
          "description": "Output only. The name of the file.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the file was created.",
          "readOnly": true,
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. The payload format.",
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "state": {
          "description": "Output only. The state of the import data file.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ]
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        }
      },
      "description": "A resource that represents a payload file in an import job.",
      "type": "object",
      "id": "ImportDataFile"
    },
    "BatchUpdateAssetsResponse": {
      "properties": {
        "assets": {
          "items": {
            "$ref": "Asset"
          },
          "description": "Update asset content. The content only includes values after field mask being applied.",
          "type": "array"
        }
      },
      "description": "Response for updating a list of assets.",
      "type": "object",
      "id": "BatchUpdateAssetsResponse"
    },
    "ListReportConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "reportConfigs": {
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs.",
          "type": "array"
        }
      },
      "description": "Response message for listing report configs.",
      "type": "object",
      "id": "ListReportConfigsResponse"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "RunningServiceList": {
      "id": "RunningServiceList",
      "properties": {
        "entries": {
          "description": "Running service entries.",
          "type": "array",
          "items": {
            "$ref": "RunningService"
          }
        },
        "services": {
          "description": "Running service entries.",
          "type": "array",
          "items": {
            "$ref": "RunningService"
          }
        }
      },
      "description": "List of running guest OS services.",
      "type": "object"
    },
    "ReportSummaryUtilizationChartData": {
      "id": "ReportSummaryUtilizationChartData",
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "type": "object",
      "properties": {
        "used": {
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "type": "string",
          "format": "int64"
        },
        "free": {
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AwsElasticIpAddressDetails": {
      "id": "AwsElasticIpAddressDetails",
      "properties": {},
      "description": "Asset information specific for AWS Elastic IP Addresses.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse"
    },
    "AwsRds": {
      "properties": {},
      "description": "Specific details for an AWS RDS database deployment.",
      "type": "object",
      "id": "AwsRds"
    },
    "InlinePayloadInfo": {
      "id": "InlinePayloadInfo",
      "properties": {
        "payload": {
          "items": {
            "$ref": "PayloadFile"
          },
          "description": "List of payload files.",
          "type": "array"
        },
        "format": {
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "description": "The import job format.",
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "description": "A resource that represents the inline import job payload.",
      "type": "object"
    },
    "ListErrorFramesResponse": {
      "description": "A response for listing error frames.",
      "type": "object",
      "properties": {
        "errorFrames": {
          "description": "The list of error frames.",
          "type": "array",
          "items": {
            "$ref": "ErrorFrame"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListErrorFramesResponse"
    },
    "ReportSummaryAssetAggregateStatsEstimatedUsageStats": {
      "id": "ReportSummaryAssetAggregateStatsEstimatedUsageStats",
      "properties": {
        "totalAssetsUsingEstimatedUsage": {
          "format": "int64",
          "description": "Output only. The number of assets that are using at least one estimated usage metric for rightsizing.",
          "readOnly": true,
          "type": "string"
        },
        "totalVirtualMachinesUsingEstimatedUsage": {
          "format": "int64",
          "description": "Output only. The number of virtual machines in this finding that are using at least one estimated usage metric for rightsizing.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Estimated usage stats for the assets in this collection.",
      "type": "object"
    },
    "AwsS3BucketDetailsObjectsMetadataTotalObjects": {
      "properties": {
        "value": {
          "description": "Optional. The total number of objects in the bucket.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information about the total number of objects in the bucket.",
      "type": "object",
      "id": "AwsS3BucketDetailsObjectsMetadataTotalObjects"
    },
    "PerformanceSample": {
      "properties": {
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        },
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "memory": {
          "$ref": "MemoryUsageSample",
          "description": "Memory usage sample."
        },
        "sampleTime": {
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Performance data sample.",
      "type": "object",
      "id": "PerformanceSample"
    },
    "PayloadFile": {
      "properties": {
        "data": {
          "description": "The file data.",
          "type": "string",
          "format": "byte"
        },
        "name": {
          "description": "The file name.",
          "type": "string"
        }
      },
      "description": "Payload file for inline import job payload.",
      "type": "object",
      "id": "PayloadFile"
    },
    "ReportSummaryMachineSeriesAllocation": {
      "properties": {
        "machineSeries": {
          "$ref": "MachineSeries",
          "description": "The Machine Series (e.g. \"E2\", \"N2\")"
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to this machine series.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "type": "object",
      "id": "ReportSummaryMachineSeriesAllocation"
    },
    "GuestInstalledApplication": {
      "id": "GuestInstalledApplication",
      "properties": {
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "time": {
          "description": "Date application was installed.",
          "type": "string"
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application.",
          "type": "array"
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "name": {
          "description": "Installed application name.",
          "type": "string"
        },
        "installTime": {
          "description": "The time when the application was installed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Guest installed application information.",
      "type": "object"
    },
    "SignedUri": {
      "description": "Contains a signed URI.",
      "type": "object",
      "properties": {
        "file": {
          "description": "Output only. Name of the file the Signed URI references.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Download URI for the file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SignedUri"
    },
    "ReportSummarySoleTenantFinding": {
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which are allocated",
          "type": "string"
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          }
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets are allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ReportSummarySoleTenantFinding"
    },
    "Selinux": {
      "id": "Selinux",
      "properties": {
        "enabled": {
          "description": "Is SELinux enabled.",
          "type": "boolean"
        },
        "mode": {
          "description": "SELinux mode disabled / enforcing / permissive.",
          "type": "string"
        }
      },
      "description": "SELinux details.",
      "type": "object"
    },
    "AwsApiGatewayRestApiDetails": {
      "description": "Asset information specific for AWS API Gateway REST APIs.",
      "type": "object",
      "properties": {},
      "id": "AwsApiGatewayRestApiDetails"
    },
    "ReportConfig": {
      "description": "The groups and associated preference sets on which we can generate reports.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "groupPreferencesetAssignments": {
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          },
          "description": "Required. Collection of combinations of groups and preference sets.",
          "type": "array"
        }
      },
      "id": "ReportConfig"
    },
    "AggregationResultSum": {
      "description": "The result of a sum aggregation.",
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "AggregationResultSum"
    },
    "AggregationFrequency": {
      "properties": {},
      "description": "Frequency distribution of all field values.",
      "type": "object",
      "id": "AggregationFrequency"
    },
    "PreferenceSet": {
      "id": "PreferenceSet",
      "description": "The preferences that apply to all assets in a given context.",
      "type": "object",
      "properties": {
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        },
        "virtualMachinePreferences": {
          "description": "A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "name": {
          "description": "Output only. Name of the PreferenceSet.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was created.",
          "readOnly": true,
          "type": "string"
        },
        "regionPreferences": {
          "$ref": "RegionPreferences",
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "databasePreferences": {
          "description": "Optional. A set of preferences that applies to all databases in the context.",
          "$ref": "DatabasePreferences"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        }
      },
      "id": "Date"
    },
    "AwsSnsTopicDetails": {
      "description": "Asset information specific for AWS SNS Topics.",
      "type": "object",
      "properties": {},
      "id": "AwsSnsTopicDetails"
    },
    "Settings": {
      "description": "Describes the Migration Center settings related to the project.",
      "type": "object",
      "properties": {
        "disableCloudLogging": {
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The name of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "customerConsentForGoogleSalesToAccessMigrationCenter": {
          "description": "Customer consent for Google sales to access their Cloud Migration Center project.",
          "type": "boolean"
        },
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        }
      },
      "id": "Settings"
    },
    "HostingProviderDetailsAws": {
      "id": "HostingProviderDetailsAws",
      "properties": {
        "owningAccountId": {
          "description": "Optional. The AWS account ID owning the resource represented by this asset.",
          "type": "string"
        }
      },
      "description": "Details for AWS platform.",
      "type": "object"
    },
    "DiskUsageSample": {
      "properties": {
        "averageReadIops": {
          "description": "Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number",
          "format": "float"
        },
        "averageIops": {
          "description": "Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "type": "number",
          "format": "float"
        },
        "averageWriteIops": {
          "description": "Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Disk usage sample. Values are across all disks.",
      "type": "object",
      "id": "DiskUsageSample"
    },
    "AwsEcsClusterDetails": {
      "id": "AwsEcsClusterDetails",
      "description": "Details of an AWS ECS cluster.",
      "type": "object",
      "properties": {}
    },
    "SignedUris": {
      "description": "Contains a list of Signed URIs.",
      "type": "object",
      "properties": {
        "signedUris": {
          "items": {
            "$ref": "SignedUri"
          },
          "description": "Output only. List of signed URIs.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "SignedUris"
    },
    "UploadFileInfo": {
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "type": "object",
      "properties": {
        "uriExpirationTime": {
          "format": "google-datetime",
          "description": "Output only. Expiration time of the upload URI.",
          "readOnly": true,
          "type": "string"
        },
        "headers": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The headers that were used to sign the URL.",
          "readOnly": true,
          "type": "object"
        },
        "signedUri": {
          "description": "Output only. Upload URI for the file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "UploadFileInfo"
    },
    "ImportRowErrorXlsxErrorDetails": {
      "id": "ImportRowErrorXlsxErrorDetails",
      "description": "Error details for an XLSX file.",
      "type": "object",
      "properties": {
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "properties": {
        "preferenceSet": {
          "description": "Required. Name of the Preference Set.",
          "type": "string"
        },
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        }
      },
      "description": "Represents a combination of a group with a preference set.",
      "type": "object",
      "id": "ReportConfigGroupPreferenceSetAssignment"
    },
    "ImportJob": {
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames.",
      "type": "object",
      "properties": {
        "inlinePayload": {
          "description": "The payload is included in the request, mainly used for small import jobs.",
          "$ref": "InlinePayloadInfo"
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true,
          "$ref": "ValidationReport"
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "executionReport": {
          "$ref": "ExecutionReport",
          "description": "Output only. The report with the results of running the import job.",
          "readOnly": true
        },
        "gcsPayload": {
          "description": "The payload is in Google Cloud Storage.",
          "deprecated": true,
          "$ref": "GCSPayloadInfo"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was completed.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "description": "Output only. The state of the import job.",
          "type": "string",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ]
        }
      }
    },
    "OpenFileDetails": {
      "id": "OpenFileDetails",
      "properties": {
        "user": {
          "description": "Opened file user.",
          "type": "string"
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        }
      },
      "description": "Open file Information.",
      "type": "object"
    },
    "VmwarePlatformDetails": {
      "id": "VmwarePlatformDetails",
      "properties": {
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        },
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        },
        "esxHyperthreading": {
          "description": "Whether the ESX is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        }
      },
      "description": "VMware specific details.",
      "type": "object"
    },
    "ListReportExportJobsResponse": {
      "id": "ListReportExportJobsResponse",
      "properties": {
        "reportExportJobs": {
          "description": "Output only. The list of report export jobs.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReportExportJob"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Response message for listing report export jobs.",
      "type": "object"
    },
    "OpenFileList": {
      "id": "OpenFileList",
      "description": "Open file list.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "OpenFileDetails"
          },
          "description": "Open file details entries.",
          "type": "array"
        }
      }
    },
    "RunningService": {
      "description": "Guest OS running service details.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Service name.",
          "type": "string"
        },
        "startMode": {
          "description": "Service start mode (raw, OS-agnostic).",
          "type": "string"
        },
        "status": {
          "description": "Service status.",
          "type": "string"
        },
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "state": {
          "description": "Service state (raw, OS-agnostic).",
          "type": "string"
        },
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "pid": {
          "format": "int64",
          "description": "Service pid.",
          "type": "string"
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        }
      },
      "id": "RunningService"
    },
    "HostsEntry": {
      "id": "HostsEntry",
      "properties": {
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        },
        "hostNames": {
          "description": "List of host names / aliases.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Single /etc/hosts entry.",
      "type": "object"
    },
    "CloudSqlForPostgreSqlShape": {
      "properties": {
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "zoneAvailability": {
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "description": "Output only. Cloud SQL zone availability.",
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "version": {
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance.",
          "type": "string",
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ]
        },
        "backupStorageGb": {
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "type": "integer"
        },
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "edition": {
          "description": "Output only. Cloud SQL edition.",
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ]
        }
      },
      "description": "Cloud SQL for PostgreSQL database shape.",
      "type": "object",
      "id": "CloudSqlForPostgreSqlShape"
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "id": "SendDiscoveryClientHeartbeatRequest",
      "description": "A request to send a discovery client heartbeat.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. Client application version.",
          "type": "string"
        },
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "HostsEntryList": {
      "id": "HostsEntryList",
      "description": "Hosts content.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Output only. Hosts entries.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "HostsEntry"
          }
        }
      }
    },
    "SoleTenancyPreferences": {
      "properties": {
        "hostMaintenancePolicy": {
          "description": "Sole Tenancy nodes maintenance policy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ]
        },
        "osPricingPreferences": {
          "description": "Optional. Pricing options for OS images.",
          "$ref": "OperatingSystemPricingPreferences"
        },
        "cpuOvercommitRatio": {
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "type": "number"
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR",
            "COMMITMENT_FLEXIBLE_1_YEAR",
            "COMMITMENT_FLEXIBLE_3_YEAR"
          ]
        },
        "nodeTypes": {
          "items": {
            "$ref": "SoleTenantNodeType"
          },
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "type": "array"
        }
      },
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "type": "object",
      "id": "SoleTenancyPreferences"
    },
    "ReportSummaryChartDataDataPoint": {
      "properties": {
        "value": {
          "description": "The Y-axis value for this data point.",
          "type": "number",
          "format": "double"
        },
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        }
      },
      "description": "Describes a single data point in the Chart.",
      "type": "object",
      "id": "ReportSummaryChartDataDataPoint"
    },
    "FstabEntry": {
      "id": "FstabEntry",
      "properties": {
        "file": {
          "description": "The mount point for the filesystem.",
          "type": "string"
        },
        "vfstype": {
          "description": "The type of the filesystem.",
          "type": "string"
        },
        "mntops": {
          "description": "Mount options associated with the filesystem.",
          "type": "string"
        },
        "passno": {
          "format": "int32",
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "type": "integer"
        },
        "freq": {
          "format": "int32",
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "type": "integer"
        },
        "spec": {
          "description": "The block special device or remote filesystem to be mounted.",
          "type": "string"
        }
      },
      "description": "Single fstab entry.",
      "type": "object"
    },
    "GuestRuntimeDetails": {
      "id": "GuestRuntimeDetails",
      "description": "Guest OS runtime information.",
      "type": "object",
      "properties": {
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        },
        "installedApps": {
          "$ref": "GuestInstalledApplicationList",
          "description": "Installed applications information."
        },
        "lastUptime": {
          "$ref": "Date",
          "description": "Date since last booted (last uptime date)."
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "openFileList": {
          "$ref": "OpenFileList",
          "description": "Open files information."
        },
        "domain": {
          "description": "Domain, e.g. c.stratozone-development.internal.",
          "type": "string"
        },
        "networkInfo": {
          "$ref": "RuntimeNetworkInfo",
          "description": "Runtime network information (connections, ports)."
        },
        "processes": {
          "$ref": "RunningProcessList",
          "description": "Running processes."
        },
        "lastBootTime": {
          "description": "Last time the OS was booted.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "MachineDetails": {
      "description": "Details of a machine.",
      "type": "object",
      "properties": {
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "coreCount": {
          "format": "int32",
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer"
        },
        "createTime": {
          "description": "Machine creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "diskPartitions": {
          "$ref": "DiskPartitionDetails",
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
        },
        "powerState": {
          "description": "Power state of the machine.",
          "type": "string",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        },
        "disks": {
          "$ref": "MachineDiskDetails",
          "description": "Disk details."
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform specific information."
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "memoryMb": {
          "format": "int32",
          "description": "The amount of memory in the machine. Must be non-negative.",
          "type": "integer"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        }
      },
      "id": "MachineDetails"
    },
    "MachinePreferences": {
      "properties": {
        "allowedMachineSeries": {
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "type": "array"
        }
      },
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "type": "object",
      "id": "MachinePreferences"
    },
    "AwsRedshiftDetails": {
      "description": "Details of an AWS Redshift cluster.",
      "type": "object",
      "properties": {},
      "id": "AwsRedshiftDetails"
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "description": "Preferences for SQL Server on Cloud SQL.",
      "type": "object",
      "properties": {
        "versionType": {
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ],
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ]
        },
        "multithreading": {
          "description": "Optional. Preferences for multithreading support.",
          "type": "string",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ],
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ]
        },
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      },
      "id": "DatabasePreferencesCloudSqlSqlServer"
    },
    "DatabaseInstanceNetwork": {
      "id": "DatabaseInstanceNetwork",
      "properties": {
        "primaryMacAddress": {
          "description": "Optional. The instance's primary MAC address.",
          "type": "string"
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The instance's IP addresses.",
          "type": "array"
        },
        "hostNames": {
          "description": "Optional. The instance's host names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Network details of a database instance.",
      "type": "object"
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "format": "int32",
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100].",
          "type": "integer"
        }
      },
      "description": "Parameters that affect network cost estimations.",
      "type": "object",
      "id": "VirtualMachinePreferencesNetworkCostParameters"
    },
    "AwsVpcDetails": {
      "properties": {},
      "description": "Asset information specific for AWS VPCs.",
      "type": "object",
      "id": "AwsVpcDetails"
    },
    "AwsApplicationLoadBalancerDetails": {
      "properties": {},
      "description": "Asset information specific for AWS Application Load Balancers.",
      "type": "object",
      "id": "AwsApplicationLoadBalancerDetails"
    },
    "NfsExport": {
      "properties": {
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        },
        "hosts": {
          "description": "The hosts or networks to which the export is being shared.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "NFS export.",
      "type": "object",
      "id": "NfsExport"
    },
    "MachineArchitectureDetails": {
      "id": "MachineArchitectureDetails",
      "properties": {
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "firmwareType": {
          "description": "Firmware type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        }
      },
      "description": "Details of the machine architecture.",
      "type": "object"
    },
    "AwsElbLoadBalancerDetails": {
      "description": "Asset information specific for AWS Load Balancers.",
      "type": "object",
      "properties": {},
      "id": "AwsElbLoadBalancerDetails"
    },
    "AwsAutoscalingGroupDetails": {
      "id": "AwsAutoscalingGroupDetails",
      "description": "Asset information specific for AWS Autoscaling Group.",
      "type": "object",
      "properties": {}
    },
    "VirtualMachinePreferencesSizingOptimizationCustomParameters": {
      "id": "VirtualMachinePreferencesSizingOptimizationCustomParameters",
      "properties": {
        "cpuUsagePercentage": {
          "format": "int32",
          "description": "Optional. Desired percentage of CPU usage. Must be in the interval [1, 100] (or 0 for default value).",
          "type": "integer"
        },
        "aggregationMethod": {
          "description": "Optional. Type of statistical aggregation of a resource utilization data, on which to base the sizing metrics.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified aggregation method. Can be used for default value.",
            "Average of utilization data.",
            "Median of utilization data.",
            "95th percentile of utilization data.",
            "Peak of utilization data."
          ],
          "enum": [
            "AGGREGATION_METHOD_UNSPECIFIED",
            "AGGREGATION_METHOD_AVERAGE",
            "AGGREGATION_METHOD_MEDIAN",
            "AGGREGATION_METHOD_NINETY_FIFTH_PERCENTILE",
            "AGGREGATION_METHOD_PEAK"
          ]
        },
        "memoryUsagePercentage": {
          "description": "Optional. Desired percentage of memory usage. Must be in the interval [1, 100] (or 0 for default value).",
          "type": "integer",
          "format": "int32"
        },
        "storageMultiplier": {
          "description": "Optional. Desired increase factor of storage, relative to currently used storage. Must be in the interval [1.0, 2.0] (or 0 for default value).",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Custom data to use for sizing optimizations.",
      "type": "object"
    },
    "AssetsExportJob": {
      "id": "AssetsExportJob",
      "description": "Assets export job message.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object"
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        },
        "performanceData": {
          "$ref": "AssetsExportJobPerformanceData",
          "description": "Export asset with performance data."
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export to Cloud Storage files downloadable using signed URIs."
        },
        "name": {
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Resource creation time.",
          "readOnly": true,
          "type": "string"
        },
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "recentExecutions": {
          "description": "Output only. Recent non expired executions of the job.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AssetsExportJobExecution"
          }
        },
        "updateTime": {
          "description": "Output only. Resource update time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        }
      }
    },
    "CloudSqlForMySqlShape": {
      "description": "Cloud SQL for MySQL database shape.",
      "type": "object",
      "properties": {
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "egressGbPerMonth": {
          "format": "int64",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true,
          "type": "string"
        },
        "edition": {
          "description": "Output only. Cloud SQL edition.",
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ]
        },
        "version": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified MySQL version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0."
          ],
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance.",
          "type": "string",
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ]
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "logicalCoreCount": {
          "format": "int32",
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer"
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "zoneAvailability": {
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "description": "Output only. Cloud SQL zone availability.",
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        }
      },
      "id": "CloudSqlForMySqlShape"
    },
    "ReportSummaryDatabaseFinding": {
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Output only. Number of database assets which were successfully assigned in this finding.",
          "readOnly": true,
          "type": "string"
        },
        "totalAssets": {
          "description": "Output only. Number of database assets in this finding.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "description": "DatabaseFinding contains an aggregate costs and shapes for a single database type.",
      "type": "object",
      "id": "ReportSummaryDatabaseFinding"
    },
    "AwsCloudFrontDistributionDetails": {
      "id": "AwsCloudFrontDistributionDetails",
      "properties": {},
      "description": "Details of an AWS CloudFront distribution.",
      "type": "object"
    },
    "AssetList": {
      "id": "AssetList",
      "properties": {
        "assetIds": {
          "description": "Required. A list of asset IDs",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Lists the asset IDs of all assets.",
      "type": "object"
    },
    "BatchUpdateAssetsRequest": {
      "description": "A request to update a list of assets.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      },
      "id": "BatchUpdateAssetsRequest"
    },
    "GuestInstalledApplicationList": {
      "id": "GuestInstalledApplicationList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GuestInstalledApplication"
          },
          "description": "Application entries.",
          "type": "array"
        }
      },
      "description": "Guest installed application list.",
      "type": "object"
    },
    "OutputFile": {
      "description": "Contains a single output file.",
      "type": "object",
      "properties": {
        "csvOutputFile": {
          "$ref": "CsvOutputFile",
          "description": "Output only. CSV output file.",
          "readOnly": true
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "readOnly": true,
          "$ref": "XlsxOutputFile"
        },
        "fileSizeBytes": {
          "description": "Output only. File size in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "id": "OutputFile"
    },
    "ReportSummaryChartData": {
      "id": "ReportSummaryChartData",
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "type": "array"
        }
      },
      "description": "Describes a collection of data points rendered as a Chart.",
      "type": "object"
    },
    "AwsS3BucketDetailsVersioning": {
      "id": "AwsS3BucketDetailsVersioning",
      "description": "Versioning configuration of the bucket.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Whether versioning is enabled.",
          "type": "boolean"
        }
      }
    },
    "AwsAppSyncGraphqlApiDetails": {
      "description": "Asset information specific for AWS AppSync GraphQL APIs.",
      "type": "object",
      "properties": {},
      "id": "AwsAppSyncGraphqlApiDetails"
    },
    "AwsInternetGatewayDetails": {
      "description": "Asset information specific for AWS Internet Gateways.",
      "type": "object",
      "properties": {},
      "id": "AwsInternetGatewayDetails"
    },
    "MySqlPlugin": {
      "description": "MySql plugin.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        }
      },
      "id": "MySqlPlugin"
    },
    "RegionPreferences": {
      "description": "The user preferences relating to target regions.",
      "type": "object",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RegionPreferences"
    },
    "ComputeEnginePreferences": {
      "id": "ComputeEnginePreferences",
      "description": "The user preferences relating to Compute Engine target platform.",
      "type": "object",
      "properties": {
        "persistentDiskType": {
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        },
        "licenseType": {
          "description": "License type to consider when calculating costs for operating systems. If unspecified, costs are calculated based on the default licensing plan. If os_pricing_preferences is specified, it overrides this field.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ]
        },
        "osPricingPreferences": {
          "description": "Optional. Pricing options for OS images.",
          "$ref": "OperatingSystemPricingPreferences"
        },
        "multithreading": {
          "description": "Optional. Preferences for multithreading support on Windows Server.",
          "type": "string",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ],
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ]
        }
      }
    },
    "AwsElasticNetworkInterfaceDetails": {
      "properties": {},
      "description": "Asset information specific for AWS Elastic Network Interfaces.",
      "type": "object",
      "id": "AwsElasticNetworkInterfaceDetails"
    },
    "RunAssetsExportJobRequest": {
      "description": "A request to run an assets export job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunAssetsExportJobRequest"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "CascadingRule": {
      "properties": {
        "cascadeLogicalDbs": {
          "$ref": "CascadeLogicalDBsRule",
          "description": "Cascading rule for related logical DBs."
        }
      },
      "description": "Specifies cascading rules for traversing relations.",
      "type": "object",
      "id": "CascadingRule"
    },
    "MemoryUsageSample": {
      "properties": {
        "utilizedPercentage": {
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100].",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Memory usage sample.",
      "type": "object",
      "id": "MemoryUsageSample"
    },
    "Relation": {
      "description": "Message representing a relation between 2 resource.",
      "type": "object",
      "properties": {
        "srcAsset": {
          "description": "Output only. The source asset name in the relation.",
          "readOnly": true,
          "type": "string"
        },
        "dstAsset": {
          "description": "Output only. The destination asset name in the relation.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of the relation.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ]
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the relation was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Relation"
    },
    "AwsEc2PlatformDetails": {
      "id": "AwsEc2PlatformDetails",
      "description": "AWS EC2 specific details.",
      "type": "object",
      "properties": {
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Optional. Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
[...]
