{
  "description": "Manages your Cloud Monitoring data and configurations.",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "batchPath": "batch",
  "rootUrl": "https://monitoring.googleapis.com/",
  "canonicalName": "Monitoring",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/monitoring": {
          "description": "View and write monitoring data for all of your Google and third-party Cloud and API projects"
        },
        "https://www.googleapis.com/auth/monitoring.read": {
          "description": "View monitoring data for all of your Google Cloud and third-party projects"
        },
        "https://www.googleapis.com/auth/monitoring.write": {
          "description": "Publish metric data to your Google Cloud projects"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260309",
  "ownerDomain": "google.com",
  "basePath": "",
  "id": "monitoring:v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "ListDashboardsResponse": {
      "id": "ListDashboardsResponse",
      "type": "object",
      "description": "The ListDashboards request.",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method.",
          "type": "string"
        },
        "dashboards": {
          "type": "array",
          "description": "The list of requested dashboards.",
          "items": {
            "$ref": "Dashboard"
          }
        }
      }
    },
    "TableDataSet": {
      "description": "Groups a time series query definition with table options.",
      "properties": {
        "timeSeriesQuery": {
          "$ref": "TimeSeriesQuery",
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API."
        },
        "tableTemplate": {
          "description": "Optional. A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value i.e. \"${resource.labels.project_id}.\"",
          "type": "string"
        },
        "minAlignmentPeriod": {
          "type": "string",
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.",
          "format": "google-duration"
        },
        "tableDisplayOptions": {
          "description": "Optional. Table display options for configuring how the table is rendered.",
          "$ref": "TableDisplayOptions"
        }
      },
      "id": "TableDataSet",
      "type": "object"
    },
    "Dimension": {
      "id": "Dimension",
      "type": "object",
      "description": "A chart dimension. Dimensions are a structured label, class, or category for a set of measurements in your data.",
      "properties": {
        "sortColumn": {
          "description": "The column name to sort on for binning. This column can be the same column as this dimension or any other column used as a measure in the results. If sort_order is set to NONE, then this value is not used.",
          "type": "string"
        },
        "column": {
          "description": "Required. For widgets that use SQL queries, set the value to the name of the column in the results table whose data is charted. For a histogram that uses a time series query, set the value of this field to metric_value.",
          "type": "string"
        },
        "timeBinSize": {
          "type": "string",
          "description": "time_bin_size is used when the data type of the specified dimension is a time type and the bin size is determined by a time duration. If column_type is DATE, this must be a whole value multiple of 1 day. If column_type is TIME, this must be less than or equal to 24 hours.",
          "format": "google-duration"
        },
        "floatBinSize": {
          "type": "number",
          "description": "Optional. float_bin_size is used when the column type used for a dimension is a floating point numeric column.",
          "format": "double"
        },
        "maxBinCount": {
          "description": "For widgets that use SQL queries, the limit to the number of bins to generate. When 0 is specified, the maximum count is not enforced. For a histogram that uses a time series query, the exact number of bins to generate. If not specified or the value is 0, then the histogram determines the number of bins to use.",
          "format": "int32",
          "type": "integer"
        },
        "numericBinSize": {
          "type": "integer",
          "description": "numeric_bin_size is used when the column type used for a dimension is numeric or string. If the column field is set to metric_value, then numericBinSize overrides maxBinCount.",
          "format": "int32"
        },
        "sortOrder": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified sort order. This option is invalid when sorting is required.",
            "No sorting is applied.",
            "The lowest-valued entries are selected first.",
            "The highest-valued entries are selected first."
          ],
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "SORT_ORDER_NONE",
            "SORT_ORDER_ASCENDING",
            "SORT_ORDER_DESCENDING"
          ],
          "description": "The sort order applied to the sort column."
        },
        "columnType": {
          "description": "Optional. The type of the dimension column. This is relevant only if one of the bin_size fields is set. If it is empty, the type TIMESTAMP or INT64 will be assumed based on which bin_size field is set. If populated, this should be set to one of the following types: DATE, TIME, DATETIME, TIMESTAMP, BIGNUMERIC, INT64, NUMERIC, FLOAT64.",
          "type": "string"
        }
      }
    },
    "StringArray": {
      "id": "StringArray",
      "type": "object",
      "description": "An array of strings",
      "properties": {
        "values": {
          "description": "The values of the array",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TemplateVariableCondition": {
      "description": "A condition whose evaluation is based on the value of a template variable.",
      "properties": {
        "templateVariableValue": {
          "description": "The value to compare the template variable to. For example, if the comparator is REGEX_FULL_MATCH, this field should contain a regex.",
          "type": "string"
        },
        "comparator": {
          "enumDescriptions": [
            "No comparator specified. Behavior defaults to REGEX_FULL_MATCH.",
            "Condition with this comparator evaluates to true when the value of the template variables matches the specified regex."
          ],
          "enum": [
            "COMPARATOR_UNSPECIFIED",
            "REGEX_FULL_MATCH"
          ],
          "description": "Comparator to use to evaluate whether the value of the template variable matches the template_variable_value. For example, if the comparator is REGEX_FULL_MATCH, template_variable_value would contain a regex that is matched against the value of the template variable.",
          "type": "string"
        },
        "templateVariable": {
          "description": "The template variable whose value is evaluated.",
          "type": "string"
        }
      },
      "id": "TemplateVariableCondition",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "TimeSeriesTable": {
      "description": "A table that displays time series data.",
      "properties": {
        "metricVisualization": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "Default text rendering",
            "Horizontal bar rendering"
          ],
          "enum": [
            "METRIC_VISUALIZATION_UNSPECIFIED",
            "NUMBER",
            "BAR"
          ],
          "description": "Optional. Store rendering strategy"
        },
        "dataSets": {
          "type": "array",
          "description": "Required. The data displayed in this table.",
          "items": {
            "$ref": "TableDataSet"
          }
        },
        "columnSettings": {
          "type": "array",
          "description": "Optional. The list of the persistent column settings for the table.",
          "items": {
            "$ref": "ColumnSettings"
          }
        }
      },
      "id": "TimeSeriesTable",
      "type": "object"
    },
    "Field": {
      "description": "A single field of a message type.New usages of this message as an alternative to FieldDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The field type.",
          "enumDescriptions": [
            "Field type unknown.",
            "Field type double.",
            "Field type float.",
            "Field type int64.",
            "Field type uint64.",
            "Field type int32.",
            "Field type fixed64.",
            "Field type fixed32.",
            "Field type bool.",
            "Field type string.",
            "Field type group. Proto2 syntax only, and deprecated.",
            "Field type message.",
            "Field type bytes.",
            "Field type uint32.",
            "Field type enum.",
            "Field type sfixed32.",
            "Field type sfixed64.",
            "Field type sint32.",
            "Field type sint64."
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ]
        },
        "packed": {
          "description": "Whether to use alternative packed wire representation.",
          "type": "boolean"
        },
        "cardinality": {
          "type": "string",
          "description": "The field cardinality.",
          "enumDescriptions": [
            "For fields with unknown cardinality.",
            "For optional fields.",
            "For required fields. Proto2 syntax only.",
            "For repeated fields."
          ],
          "enum": [
            "CARDINALITY_UNKNOWN",
            "CARDINALITY_OPTIONAL",
            "CARDINALITY_REQUIRED",
            "CARDINALITY_REPEATED"
          ]
        },
        "typeUrl": {
          "description": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\".",
          "type": "string"
        },
        "name": {
          "description": "The field name.",
          "type": "string"
        },
        "options": {
          "type": "array",
          "description": "The protocol buffer options.",
          "items": {
            "$ref": "Option"
          }
        },
        "number": {
          "type": "integer",
          "description": "The field number.",
          "format": "int32"
        },
        "oneofIndex": {
          "description": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list.",
          "format": "int32",
          "type": "integer"
        },
        "jsonName": {
          "description": "The field JSON name.",
          "type": "string"
        },
        "defaultValue": {
          "description": "The string value of the default value of this field. Proto2 syntax only.",
          "type": "string"
        }
      },
      "id": "Field",
      "type": "object"
    },
    "ErrorReportingPanel": {
      "description": "A widget that displays a list of error groups.",
      "properties": {
        "services": {
          "description": "An identifier of the service, such as the name of the executable, job, or Google App Engine service name. This field is expected to have a low number of values that are relatively stable over time, as opposed to version, which can be changed whenever new code is deployed.Contains the service name for error reports extracted from Google App Engine logs or default if the App Engine default service is used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "versions": {
          "description": "Represents the source code version that the developer provided, which could represent a version label or a Git SHA-1 hash, for example. For App Engine standard environment, the version is set to the version of the app.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "projectNames": {
          "type": "array",
          "description": "The resource name of the Google Cloud Platform project. Written as projects/{projectID} or projects/{projectNumber}, where {projectID} and {projectNumber} can be found in the Google Cloud console (https://support.google.com/cloud/answer/6158840).Examples: projects/my-project-123, projects/5551234.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ErrorReportingPanel",
      "type": "object"
    },
    "EventAnnotation": {
      "id": "EventAnnotation",
      "type": "object",
      "description": "Annotation configuration for one event type on a dashboard",
      "properties": {
        "filter": {
          "description": "string filtering the events - event dependant. Example values: \"resource.labels.pod_name = 'pod-1'\" \"protoPayload.authenticationInfo.principalEmail='user@example.com'\" ",
          "type": "string"
        },
        "enabled": {
          "description": "Whether or not to show the events on the dashboard by default",
          "type": "boolean"
        },
        "resourceNames": {
          "description": "Per annotation level override for the names of logging resources to search for events. Currently only projects are supported. If both this field and the per annotation field is empty, it will default to the host project. Limit: 50 projects. For example: “projects/another-project-id” ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Solely for UI display. Should not be used programmatically.",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "No event type specified.",
            "Patch/update of GKE workload.",
            "Crash events for a GKE Pod.",
            "Scheduling failures for GKE Pods.",
            "Failure to create a GKE container.",
            "Create/delete of a GKE cluster.",
            "Update of a GKE cluster.",
            "Update of a GKE node pool.",
            "GKE cluster autoscaler event.",
            "GKE pod autoscaler event.",
            "Termination of a virtual machine.",
            "Guest OS error on a virtual machine.",
            "Start failure on a virtual machine.",
            "Update of a managed instance group.",
            "Autoscaler event for a managed instance group.",
            "New deployment of a Cloud Run service.",
            "Failover of a Cloud SQL instance.",
            "Start/stop of a Cloud SQL instance.",
            "Storage event for a Cloud SQL instance.",
            "Failure of a Cloud Monitoring uptime check.",
            "Alerts from Cloud Alerting",
            "Incidents from Service Health",
            "Agent for SAP Backint related events.",
            "Agent for SAP availability related events.",
            "Agent for SAP operations related events."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "GKE_WORKLOAD_DEPLOYMENT",
            "GKE_POD_CRASH",
            "GKE_POD_UNSCHEDULABLE",
            "GKE_CONTAINER_CREATION_FAILED",
            "GKE_CLUSTER_CREATE_DELETE",
            "GKE_CLUSTER_UPDATE",
            "GKE_NODE_POOL_UPDATE",
            "GKE_CLUSTER_AUTOSCALER",
            "GKE_POD_AUTOSCALER",
            "VM_TERMINATION",
            "VM_GUEST_OS_ERROR",
            "VM_START_FAILED",
            "MIG_UPDATE",
            "MIG_AUTOSCALER",
            "CLOUD_RUN_DEPLOYMENT",
            "CLOUD_SQL_FAILOVER",
            "CLOUD_SQL_START_STOP",
            "CLOUD_SQL_STORAGE",
            "UPTIME_CHECK_FAILURE",
            "CLOUD_ALERTING_ALERT",
            "SERVICE_HEALTH_INCIDENT",
            "SAP_BACKINT",
            "SAP_AVAILABILITY",
            "SAP_OPERATIONS"
          ],
          "description": "The type of event to display.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "RowLayout": {
      "description": "A simplified layout that divides the available space into rows and arranges a set of widgets horizontally in each row.",
      "properties": {
        "rows": {
          "type": "array",
          "description": "The rows of content to display.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "id": "RowLayout",
      "type": "object"
    },
    "Text": {
      "description": "A widget that displays textual content.",
      "properties": {
        "format": {
          "type": "string",
          "description": "How the text content is formatted.",
          "enumDescriptions": [
            "Format is unspecified. Defaults to MARKDOWN.",
            "The text contains Markdown formatting.",
            "The text contains no special formatting."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "MARKDOWN",
            "RAW"
          ]
        },
        "content": {
          "description": "The text content to be displayed.",
          "type": "string"
        },
        "style": {
          "description": "How the text is styled",
          "$ref": "TextStyle"
        }
      },
      "id": "Text",
      "type": "object"
    },
    "OpsAnalyticsQuery": {
      "description": "Preview: A query that produces an aggregated response and supporting data. This is a preview feature and may be subject to change before final release.",
      "properties": {
        "sql": {
          "description": "A SQL query to fetch time series, category series, or numeric series data.",
          "type": "string"
        }
      },
      "id": "OpsAnalyticsQuery",
      "type": "object"
    },
    "Axis": {
      "id": "Axis",
      "type": "object",
      "description": "A chart axis.",
      "properties": {
        "label": {
          "description": "The label of the axis.",
          "type": "string"
        },
        "scale": {
          "enumDescriptions": [
            "Scale is unspecified. The view will default to LINEAR.",
            "Linear scale.",
            "Logarithmic scale (base 10)."
          ],
          "enum": [
            "SCALE_UNSPECIFIED",
            "LINEAR",
            "LOG10"
          ],
          "description": "The axis scale. By default, a linear scale is used.",
          "type": "string"
        }
      }
    },
    "QueryInstantRequest": {
      "description": "QueryInstantRequest holds all parameters of the Prometheus upstream instant query API plus GCM specific parameters.",
      "properties": {
        "time": {
          "description": "The single point in time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "timeout": {
          "description": "An upper bound timeout for the query. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "query": {
          "description": "A PromQL query string. Query language documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/.",
          "type": "string"
        }
      },
      "id": "QueryInstantRequest",
      "type": "object"
    },
    "MetricsScope": {
      "description": "Represents a Metrics Scope (https://cloud.google.com/monitoring/settings#concept-scope) in Cloud Monitoring, which specifies one or more Google projects and zero or more AWS accounts to monitor together.",
      "properties": {
        "createTime": {
          "description": "Output only. The time when this Metrics Scope was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the Monitoring Metrics Scope. On input, the resource name can be specified with the scoping project ID or number. On output, the resource name is specified with the scoping project number. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when this Metrics Scope record was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "monitoredProjects": {
          "description": "Output only. The list of projects monitored by this Metrics Scope.",
          "items": {
            "$ref": "MonitoredProject"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "MetricsScope",
      "type": "object"
    },
    "LogsPanel": {
      "id": "LogsPanel",
      "type": "object",
      "description": "A widget that displays a stream of log.",
      "properties": {
        "filter": {
          "description": "A filter that chooses which log entries to return. See Advanced Logs Queries (https://cloud.google.com/logging/docs/view/advanced-queries). Only log entries that match the filter are returned. An empty filter matches all log entries.",
          "type": "string"
        },
        "resourceNames": {
          "type": "array",
          "description": "The names of logging resources to collect logs for. Currently projects and storage views are supported. If empty, the widget will default to the host project.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Threshold": {
      "description": "Defines a threshold for categorizing time series values.",
      "properties": {
        "targetAxis": {
          "description": "The target axis to use for plotting the threshold. Target axis is not allowed in a Scorecard.",
          "enumDescriptions": [
            "The target axis was not specified. Defaults to Y1.",
            "The y_axis (the right axis of chart).",
            "The y2_axis (the left axis of chart)."
          ],
          "enum": [
            "TARGET_AXIS_UNSPECIFIED",
            "Y1",
            "Y2"
          ],
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "The value of the threshold. The value should be defined in the native scale of the metric.",
          "format": "double"
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "The threshold will be considered crossed if the actual value is above the threshold value.",
            "The threshold will be considered crossed if the actual value is below the threshold value."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ABOVE",
            "BELOW"
          ],
          "description": "The direction for the current threshold. Direction is not allowed in a XyChart."
        },
        "label": {
          "description": "A label for the threshold.",
          "type": "string"
        },
        "color": {
          "description": "The state color for this threshold. Color is not allowed in a XyChart.",
          "enumDescriptions": [
            "Color is unspecified. Not allowed in well-formed requests.",
            "Crossing the threshold is \"concerning\" behavior.",
            "Crossing the threshold is \"emergency\" behavior."
          ],
          "enum": [
            "COLOR_UNSPECIFIED",
            "YELLOW",
            "RED"
          ],
          "type": "string"
        }
      },
      "id": "Threshold",
      "type": "object"
    },
    "SpanContext": {
      "description": "The context of a span. This is attached to an Exemplar in Distribution values during aggregation.It contains the name of a span with format: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] ",
      "properties": {
        "spanName": {
          "description": "The resource name of the span. The format is: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] [TRACE_ID] is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array.[SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array.",
          "type": "string"
        }
      },
      "id": "SpanContext",
      "type": "object"
    },
    "Aggregation": {
      "id": "Aggregation",
      "type": "object",
      "description": "Describes how to combine multiple time series to provide a different view of the data. Aggregation of time series is done in two steps. First, each time series in the set is aligned to the same time interval boundaries, then the set of time series is optionally reduced in number.Alignment consists of applying the per_series_aligner operation to each time series after its data has been divided into regular alignment_period time intervals. This process takes all of the data points in an alignment period, applies a mathematical transformation such as averaging, minimum, maximum, delta, etc., and converts them into a single data point per period.Reduction is when the aligned and transformed time series can optionally be combined, reducing the number of time series through similar mathematical transformations. Reduction involves applying a cross_series_reducer to all the time series, optionally sorting the time series into subsets with group_by_fields, and applying the reducer to each subset.The raw time series data can contain a huge amount of information from multiple sources. Alignment and reduction transforms this mass of data into a more manageable and representative collection of data, for example \"the 95% latency across the average of all tasks in a cluster\". This representative data can be more easily graphed and comprehended, and the individual time series data is still available for later drilldown. For more details, see Filtering and aggregation (https://cloud.google.com/monitoring/api/v3/aggregation).",
      "properties": {
        "perSeriesAligner": {
          "type": "string",
          "description": "An Aligner describes how to bring the data points in a single time series into temporal alignment. Except for ALIGN_NONE, all alignments cause all the data points in an alignment_period to be mathematically grouped together, resulting in a single data point for each alignment_period with end timestamp at the end of the period.Not all alignment operations may be applied to all time series. The valid choices depend on the metric_kind and value_type of the original time series. Alignment can change the metric_kind or the value_type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified and not equal to ALIGN_NONE and alignment_period must be specified; otherwise, an error is returned.",
          "enumDescriptions": [
            "No alignment. Raw data is returned. Not valid if cross-series reduction is requested. The value_type of the result is the same as the value_type of the input.",
            "Align and convert to DELTA. The output is delta = y1 - y0.This alignment is valid for CUMULATIVE and DELTA metrics. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The value_type of the aligned result is the same as the value_type of the input.",
            "Align and convert to a rate. The result is computed as rate = (y1 - y0)/(t1 - t0), or \"delta over time\". Think of this aligner as providing the slope of the line that passes through the value at the start and at the end of the alignment_period.This aligner is valid for CUMULATIVE and DELTA metrics with numeric values. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The output is a GAUGE metric with value_type DOUBLE.If, by \"rate\", you mean \"percentage change\", see the ALIGN_PERCENT_CHANGE aligner instead.",
            "Align by interpolating between adjacent points around the alignment period boundary. This aligner is valid for GAUGE metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align by moving the most recent data point before the end of the alignment period to the boundary at the end of the alignment period. This aligner is valid for GAUGE metrics. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the minimum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the maximum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the mean value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is DOUBLE.",
            "Align the time series by returning the number of values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric or Boolean values. The value_type of the aligned result is INT64.",
            "Align the time series by returning the sum of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric and distribution values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the standard deviation of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the output is DOUBLE.",
            "Align the time series by returning the number of True values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the number of False values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the ratio of the number of True values to the total number of values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 99th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 95th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 50th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 5th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align and convert to a percentage change. This aligner is valid for GAUGE and DELTA metrics with numeric values. This alignment returns ((current - previous)/previous) * 100, where the value of previous is determined based on the alignment_period.If the values of current and previous are both 0, then the returned value is 0. If only previous is 0, the returned value is infinity.A 10-minute moving mean is computed at each point of the alignment period prior to the above calculation to smooth the metric and prevent false positives from very short-lived spikes. The moving mean is only applicable for data whose values are >= 0. Any values < 0 are treated as a missing datapoint, and are ignored. While DELTA metrics are accepted by this alignment, special care should be taken that the values for the metric will always be positive. The output is a GAUGE metric with value_type DOUBLE."
          ],
          "enum": [
            "ALIGN_NONE",
            "ALIGN_DELTA",
            "ALIGN_RATE",
            "ALIGN_INTERPOLATE",
            "ALIGN_NEXT_OLDER",
            "ALIGN_MIN",
            "ALIGN_MAX",
            "ALIGN_MEAN",
            "ALIGN_COUNT",
            "ALIGN_SUM",
            "ALIGN_STDDEV",
            "ALIGN_COUNT_TRUE",
            "ALIGN_COUNT_FALSE",
            "ALIGN_FRACTION_TRUE",
            "ALIGN_PERCENTILE_99",
            "ALIGN_PERCENTILE_95",
            "ALIGN_PERCENTILE_50",
            "ALIGN_PERCENTILE_05",
            "ALIGN_PERCENT_CHANGE"
          ]
        },
        "crossSeriesReducer": {
          "type": "string",
          "enumDescriptions": [
            "No cross-time series reduction. The output of the Aligner is returned.",
            "Reduce by computing the mean value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the minimum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the maximum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the sum across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric and distribution values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the standard deviation across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the number of data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of numeric, Boolean, distribution, and string value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of True-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of False-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the ratio of the number of True-valued data points to the total number of data points for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Reduce by computing the 99th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 95th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 50th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 5th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE."
          ],
          "enum": [
            "REDUCE_NONE",
            "REDUCE_MEAN",
            "REDUCE_MIN",
            "REDUCE_MAX",
            "REDUCE_SUM",
            "REDUCE_STDDEV",
            "REDUCE_COUNT",
            "REDUCE_COUNT_TRUE",
            "REDUCE_COUNT_FALSE",
            "REDUCE_FRACTION_TRUE",
            "REDUCE_PERCENTILE_99",
            "REDUCE_PERCENTILE_95",
            "REDUCE_PERCENTILE_50",
            "REDUCE_PERCENTILE_05"
          ],
          "description": "The reduction operation to be used to combine time series into a single time series, where the value of each data point in the resulting series is a function of all the already aligned values in the input time series.Not all reducer operations can be applied to all time series. The valid choices depend on the metric_kind and the value_type of the original time series. Reduction can yield a time series with a different metric_kind or value_type than the input time series.Time series data must first be aligned (see per_series_aligner) in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified, and must not be ALIGN_NONE. An alignment_period must also be specified; otherwise, an error is returned."
        },
        "groupByFields": {
          "description": "The set of fields to preserve when cross_series_reducer is specified. The group_by_fields determine how the time series are partitioned into subsets prior to applying the aggregation operation. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The cross_series_reducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in group_by_fields are aggregated away. If group_by_fields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If cross_series_reducer is not defined, this field is ignored.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "alignmentPeriod": {
          "type": "string",
          "description": "The alignment_period specifies a time interval, in seconds, that is used to divide the data in all the time series into consistent blocks of time. This will be done before the per-series aligner can be applied to the data.The value must be at least 60 seconds. If a per-series aligner other than ALIGN_NONE is specified, this field is required or an error is returned. If no per-series aligner is specified, or the aligner ALIGN_NONE is specified, then this field is ignored.The maximum value of the alignment_period is 2 years, or 104 weeks.",
          "format": "google-duration"
        }
      }
    },
    "SourceContext": {
      "id": "SourceContext",
      "type": "object",
      "description": "SourceContext represents information about the source of a protobuf element, like the file in which it is defined.",
      "properties": {
        "fileName": {
          "description": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google/protobuf/source_context.proto\".",
          "type": "string"
        }
      }
    },
    "Type": {
      "description": "A protocol buffer message type.New usages of this message as an alternative to DescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information.",
      "properties": {
        "fields": {
          "description": "The list of fields.",
          "items": {
            "$ref": "Field"
          },
          "type": "array"
        },
        "syntax": {
          "type": "string",
          "enumDescriptions": [
            "Syntax proto2.",
            "Syntax proto3.",
            "Syntax editions."
          ],
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3",
            "SYNTAX_EDITIONS"
          ],
          "description": "The source syntax."
        },
        "name": {
          "description": "The fully qualified message name.",
          "type": "string"
        },
        "options": {
          "description": "The protocol buffer options.",
          "items": {
            "$ref": "Option"
          },
          "type": "array"
        },
        "sourceContext": {
          "description": "The source context.",
          "$ref": "SourceContext"
        },
        "oneofs": {
          "description": "The list of types appearing in oneof definitions in this type.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "edition": {
          "description": "The source edition string, only valid when syntax is SYNTAX_EDITIONS.",
          "type": "string"
        }
      },
      "id": "Type",
      "type": "object"
    },
    "Scorecard": {
      "id": "Scorecard",
      "type": "object",
      "description": "A widget showing the latest value of a metric, and how this value relates to one or more thresholds.",
      "properties": {
        "gaugeView": {
          "description": "Will cause the scorecard to show a gauge chart.",
          "$ref": "GaugeView"
        },
        "thresholds": {
          "description": "The thresholds used to determine the state of the scorecard given the time series' current value. For an actual value x, the scorecard is in a danger state if x is less than or equal to a danger threshold that triggers below, or greater than or equal to a danger threshold that triggers above. Similarly, if x is above/below a warning threshold that triggers above/below, then the scorecard is in a warning state - unless x also puts it in a danger state. (Danger trumps warning.)As an example, consider a scorecard with the following four thresholds: { value: 90, category: 'DANGER', trigger: 'ABOVE', }, { value: 70, category: 'WARNING', trigger: 'ABOVE', }, { value: 10, category: 'DANGER', trigger: 'BELOW', }, { value: 20, category: 'WARNING', trigger: 'BELOW', } Then: values less than or equal to 10 would put the scorecard in a DANGER state, values greater than 10 but less than or equal to 20 a WARNING state, values strictly between 20 and 70 an OK state, values greater than or equal to 70 but less than 90 a WARNING state, and values greater than or equal to 90 a DANGER state.",
          "items": {
            "$ref": "Threshold"
          },
          "type": "array"
        },
        "blankView": {
          "$ref": "Empty",
          "description": "Will cause the Scorecard to show only the value, with no indicator to its value relative to its thresholds."
        },
        "dimensions": {
          "description": "Optional. A dimension is a structured label, class, or category for a set of measurements in your data.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "breakdowns": {
          "description": "Optional. The collection of breakdowns to be applied to the dataset. A breakdown is a way to slice the data. For example, you can break down the data by region.",
          "items": {
            "$ref": "Breakdown"
          },
          "type": "array"
        },
        "sparkChartView": {
          "description": "Will cause the scorecard to show a spark chart.",
          "$ref": "SparkChartView"
        },
        "measures": {
          "description": "Optional. A measure is a measured value of a property in your data. For example, rainfall in inches, number of units sold, revenue gained, etc.",
          "items": {
            "$ref": "Measure"
          },
          "type": "array"
        },
        "timeSeriesQuery": {
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API.",
          "$ref": "TimeSeriesQuery"
        }
      }
    },
    "TableDisplayOptions": {
      "description": "Table display options that can be reused.",
      "properties": {
        "shownColumns": {
          "description": "Optional. This field is unused and has been replaced by TimeSeriesTable.column_settings",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TableDisplayOptions",
      "type": "object"
    },
    "ListMetricsScopesByMonitoredProjectResponse": {
      "id": "ListMetricsScopesByMonitoredProjectResponse",
      "type": "object",
      "description": "Response for the ListMetricsScopesByMonitoredProject method.",
      "properties": {
        "metricsScopes": {
          "description": "A set of all metrics scopes that the specified monitored project has been added to.",
          "items": {
            "$ref": "MetricsScope"
          },
          "type": "array"
        }
      }
    },
    "QueryRangeRequest": {
      "id": "QueryRangeRequest",
      "type": "object",
      "description": "QueryRangeRequest holds all parameters of the Prometheus upstream range query API plus GCM specific parameters.",
      "properties": {
        "timeout": {
          "description": "An upper bound timeout for the query. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "query": {
          "description": "A PromQL query string. Query language documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/.",
          "type": "string"
        },
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "step": {
          "description": "The resolution of query result. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "end": {
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        }
      }
    },
    "SectionHeader": {
      "id": "SectionHeader",
      "type": "object",
      "description": "A widget that defines a new section header. Sections populate a table of contents and allow easier navigation of long-form content.",
      "properties": {
        "dividerBelow": {
          "description": "Whether to insert a divider below the section in the table of contents",
          "type": "boolean"
        },
        "subtitle": {
          "description": "The subtitle of the section",
          "type": "string"
        }
      }
    },
    "PickTimeSeriesFilter": {
      "id": "PickTimeSeriesFilter",
      "type": "object",
      "description": "Describes a ranking-based time series filter. Each input time series is ranked with an aligner. The filter will allow up to num_time_series time series to pass through it, selecting them based on the relative ranking.For example, if ranking_method is METHOD_MEAN,direction is BOTTOM, and num_time_series is 3, then the 3 times series with the lowest mean values will pass through the filter.",
      "properties": {
        "numTimeSeries": {
          "type": "integer",
          "description": "How many time series to allow to pass through the filter.",
          "format": "int32"
        },
        "interval": {
          "description": "Select the top N streams/time series within this time interval",
          "$ref": "Interval"
        },
        "direction": {
          "enumDescriptions": [
            "Not allowed. You must specify a different Direction if you specify a PickTimeSeriesFilter.",
            "Pass the highest num_time_series ranking inputs.",
            "Pass the lowest num_time_series ranking inputs."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "TOP",
            "BOTTOM"
          ],
          "description": "How to use the ranking to select time series that pass through the filter.",
          "type": "string"
        },
        "rankingMethod": {
          "enumDescriptions": [
            "Not allowed. You must specify a different Method if you specify a PickTimeSeriesFilter.",
            "Select the mean of all values.",
            "Select the maximum value.",
            "Select the minimum value.",
            "Compute the sum of all values.",
            "Select the most recent value."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "METHOD_MEAN",
            "METHOD_MAX",
            "METHOD_MIN",
            "METHOD_SUM",
            "METHOD_LATEST"
          ],
          "description": "ranking_method is applied to each time series independently to produce the value which will be used to compare the time series to other time series.",
          "type": "string"
        }
      }
    },
    "Measure": {
      "id": "Measure",
      "type": "object",
      "description": "A chart measure. Measures represent a measured property in your chart data such as rainfall in inches, number of units sold, revenue gained, etc.",
      "properties": {
        "aggregationFunction": {
          "description": "Required. The aggregation function applied to the input column. This must not be set to \"none\" unless binning is disabled on the dimension. The aggregation function is used to group points on the dimension bins.",
          "$ref": "AggregationFunction"
        },
        "column": {
          "description": "Required. The column name within in the dataset used for the measure.",
          "type": "string"
        }
      }
    },
    "XyChart": {
      "description": "A chart that displays data on a 2D (X and Y axes) plane.",
      "properties": {
        "thresholds": {
          "type": "array",
          "description": "Threshold lines drawn horizontally across the chart.",
          "items": {
            "$ref": "Threshold"
          }
        },
        "y2Axis": {
          "$ref": "Axis",
          "description": "The properties applied to the y2-axis."
        },
        "dataSets": {
          "description": "Required. The data displayed in this chart.",
          "items": {
            "$ref": "DataSet"
          },
          "type": "array"
        },
        "yAxis": {
          "$ref": "Axis",
          "description": "The properties applied to the y-axis."
        },
        "chartOptions": {
          "$ref": "ChartOptions",
          "description": "Display options for the chart."
        },
        "timeshiftDuration": {
          "description": "The duration used to display a comparison chart. A comparison chart simultaneously shows values from two similar-length time periods (e.g., week-over-week metrics). The duration must be positive, and it can only be applied to charts with data sets of LINE plot type.",
          "format": "google-duration",
          "type": "string"
        },
        "xAxis": {
          "description": "The properties applied to the x-axis.",
          "$ref": "Axis"
        }
      },
      "id": "XyChart",
      "type": "object"
    },
    "Treemap": {
      "description": "A widget that displays hierarchical data as a treemap.",
      "properties": {
        "treemapHierarchy": {
          "type": "array",
          "description": "Required. Ordered labels representing the hierarchical treemap structure.",
          "items": {
            "type": "string"
          }
        },
        "dataSets": {
          "description": "Required. The collection of datasets used to construct and populate the treemap. For the rendered treemap rectangles: Color is determined by the aggregated value for each grouping. Size is proportional to the count of time series aggregated within that rectangle's segment.",
          "items": {
            "$ref": "TreemapDataSet"
          },
          "type": "array"
        }
      },
      "id": "Treemap",
      "type": "object"
    },
    "VisibilityCondition": {
      "description": "Condition that determines whether the widget should be displayed.",
      "properties": {
        "templateVariableCondition": {
          "description": "A condition whose evaluation is based on the value of a template variable.",
          "$ref": "TemplateVariableCondition"
        }
      },
      "id": "VisibilityCondition",
      "type": "object"
    },
    "ColumnLayout": {
      "description": "A simplified layout that divides the available space into vertical columns and arranges a set of widgets vertically in each column.",
      "properties": {
        "columns": {
          "type": "array",
          "description": "The columns of content to display.",
          "items": {
            "$ref": "Column"
          }
        }
      },
      "id": "ColumnLayout",
      "type": "object"
    },
    "QueryLabelsRequest": {
      "description": "QueryLabelsRequest holds all parameters of the Prometheus upstream API for returning a list of label names.",
      "properties": {
        "match": {
          "description": "A list of matchers encoded in the Prometheus label matcher format to constrain the values to series that satisfy them.",
          "type": "string"
        },
        "end": {
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        }
      },
      "id": "QueryLabelsRequest",
      "type": "object"
    },
    "Interval": {
      "id": "Interval",
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive).The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval.If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval.If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "PieChart": {
      "description": "A widget that displays timeseries data as a pie or a donut.",
      "properties": {
        "showLabels": {
          "description": "Optional. Indicates whether or not the pie chart should show slices' labels",
          "type": "boolean"
        },
        "dataSets": {
          "type": "array",
          "description": "Required. The queries for the chart's data.",
          "items": {
            "$ref": "PieChartDataSet"
          }
        },
        "chartType": {
          "description": "Required. Indicates the visualization type for the PieChart.",
          "enumDescriptions": [
            "The zero value. No type specified. Do not use.",
            "A Pie type PieChart.",
            "Similar to PIE, but the DONUT type PieChart has a hole in the middle."
          ],
          "enum": [
            "PIE_CHART_TYPE_UNSPECIFIED",
            "PIE",
            "DONUT"
          ],
          "type": "string"
        }
      },
      "id": "PieChart",
      "type": "object"
    },
    "DataSet": {
      "description": "Groups a time series query definition with charting options.",
      "properties": {
        "plotType": {
          "type": "string",
          "description": "How this data should be plotted on the chart.",
          "enumDescriptions": [
            "Plot type is unspecified. The view will default to LINE.",
            "The data is plotted as a set of lines (one line per series).",
            "The data is plotted as a set of filled areas (one area per series), with the areas stacked vertically (the base of each area is the top of its predecessor, and the base of the first area is the x-axis). Since the areas do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a set of rectangular boxes (one box per series), with the boxes stacked vertically (the base of each box is the top of its predecessor, and the base of the first box is the x-axis). Since the boxes do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a heatmap. The series being plotted must have a DISTRIBUTION value type. The value of each bucket in the distribution is displayed as a color. This type is not currently available in the Stackdriver Monitoring application."
          ],
          "enum": [
            "PLOT_TYPE_UNSPECIFIED",
            "LINE",
            "STACKED_AREA",
            "STACKED_BAR",
            "HEATMAP"
          ]
        },
        "dimensions": {
          "type": "array",
          "description": "Optional. A collection of dimension columns.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "breakdowns": {
          "type": "array",
          "description": "Optional. The collection of breakdowns to be applied to the dataset.",
          "items": {
            "$ref": "Breakdown"
          }
        },
        "minAlignmentPeriod": {
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.",
          "format": "google-duration",
          "type": "string"
        },
        "timeSeriesQuery": {
          "$ref": "TimeSeriesQuery",
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API."
        },
        "legendTemplate": {
          "description": "A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value.",
          "type": "string"
        },
        "sort": {
          "type": "array",
          "description": "Optional. A collection of sort options, affects the order of the data and legend.",
          "items": {
            "$ref": "ColumnSortingOptions"
          }
        },
        "targetAxis": {
          "enumDescriptions": [
            "The target axis was not specified. Defaults to Y1.",
            "The y_axis (the right axis of chart).",
            "The y2_axis (the left axis of chart)."
          ],
          "enum": [
            "TARGET_AXIS_UNSPECIFIED",
            "Y1",
            "Y2"
          ],
          "description": "Optional. The target axis to use for plotting the metric.",
          "type": "string"
        },
        "measures": {
          "description": "Optional. A collection of measures.",
          "items": {
            "$ref": "Measure"
          },
          "type": "array"
        }
      },
      "id": "DataSet",
      "type": "object"
    },
    "SparkChartView": {
      "id": "SparkChartView",
      "type": "object",
      "description": "A sparkChart is a small chart suitable for inclusion in a table-cell or inline in text. This message contains the configuration for a sparkChart to show up on a Scorecard, showing recent trends of the scorecard's timeseries.",
      "properties": {
        "sparkChartType": {
          "type": "string",
          "description": "Required. The type of sparkchart to show in this chartView.",
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "The sparkline will be rendered as a small line chart.",
            "The sparkbar will be rendered as a small bar chart."
          ],
          "enum": [
            "SPARK_CHART_TYPE_UNSPECIFIED",
            "SPARK_LINE",
            "SPARK_BAR"
          ]
        },
        "minAlignmentPeriod": {
          "type": "string",
          "description": "The lower bound on data point frequency in the chart implemented by specifying the minimum alignment period to use in a time series query. For example, if the data is published once every 10 minutes it would not make sense to fetch and align data at one minute intervals. This field is optional and exists only as a hint.",
          "format": "google-duration"
        }
      }
    },
    "FilterControl": {
      "description": "A widget that displays an input field to change the value of a template variable.",
      "properties": {
        "templateVariable": {
          "description": "Name of the template variable the widget affects.",
          "type": "string"
        }
      },
      "id": "FilterControl",
      "type": "object"
    },
    "TextStyle": {
      "description": "Properties that determine how the title and content are styled",
      "properties": {
        "backgroundColor": {
          "description": "The background color as a hex string. \"#RRGGBB\" or \"#RGB\"",
          "type": "string"
        },
        "textColor": {
          "description": "The text color as a hex string. \"#RRGGBB\" or \"#RGB\"",
          "type": "string"
        },
        "horizontalAlignment": {
          "enumDescriptions": [
            "No horizontal alignment specified, will default to H_LEFT",
            "Left-align",
            "Center-align",
            "Right-align"
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "H_LEFT",
            "H_CENTER",
            "H_RIGHT"
          ],
          "description": "The horizontal alignment of both the title and content",
          "type": "string"
        },
        "verticalAlignment": {
          "type": "string",
          "description": "The vertical alignment of both the title and content",
          "enumDescriptions": [
            "No vertical alignment specified, will default to V_TOP",
            "Top-align",
            "Center-align",
            "Bottom-align"
          ],
          "enum": [
            "VERTICAL_ALIGNMENT_UNSPECIFIED",
            "V_TOP",
            "V_CENTER",
            "V_BOTTOM"
          ]
        },
        "pointerLocation": {
          "enumDescriptions": [
            "No visual pointer",
            "Placed in the middle of the top of the widget",
            "Placed in the middle of the right side of the widget",
            "Placed in the middle of the bottom of the widget",
            "Placed in the middle of the left side of the widget",
            "Placed on the left side of the top of the widget",
            "Placed on the right side of the top of the widget",
            "Placed on the top of the right side of the widget",
            "Placed on the bottom of the right side of the widget",
            "Placed on the right side of the bottom of the widget",
            "Placed on the left side of the bottom of the widget",
            "Placed on the bottom of the left side of the widget",
            "Placed on the top of the left side of the widget"
          ],
          "enum": [
            "POINTER_LOCATION_UNSPECIFIED",
            "PL_TOP",
            "PL_RIGHT",
            "PL_BOTTOM",
            "PL_LEFT",
            "PL_TOP_LEFT",
            "PL_TOP_RIGHT",
            "PL_RIGHT_TOP",
            "PL_RIGHT_BOTTOM",
            "PL_BOTTOM_RIGHT",
            "PL_BOTTOM_LEFT",
            "PL_LEFT_BOTTOM",
            "PL_LEFT_TOP"
          ],
          "description": "The pointer location for this widget (also sometimes called a \"tail\")",
          "type": "string"
        },
        "fontSize": {
          "enumDescriptions": [
            "No font size specified, will default to FS_LARGE",
            "Extra small font size",
            "Small font size",
            "Medium font size",
            "Large font size",
            "Extra large font size"
          ],
          "enum": [
            "FONT_SIZE_UNSPECIFIED",
            "FS_EXTRA_SMALL",
            "FS_SMALL",
            "FS_MEDIUM",
            "FS_LARGE",
            "FS_EXTRA_LARGE"
          ],
          "description": "Font sizes for both the title and content. The title will still be larger relative to the content.",
          "type": "string"
        },
        "padding": {
          "enumDescriptions": [
            "No padding size specified, will default to P_EXTRA_SMALL",
            "Extra small padding",
            "Small padding",
            "Medium padding",
            "Large padding",
            "Extra large padding"
          ],
          "enum": [
            "PADDING_SIZE_UNSPECIFIED",
            "P_EXTRA_SMALL",
            "P_SMALL",
            "P_MEDIUM",
            "P_LARGE",
            "P_EXTRA_LARGE"
          ],
          "description": "The amount of padding around the widget",
          "type": "string"
        }
      },
      "id": "TextStyle",
      "type": "object"
    },
    "Dashboard": {
      "id": "Dashboard",
      "type": "object",
      "description": "A Google Stackdriver dashboard. Dashboards define the content and layout of pages in the Stackdriver web application.",
      "properties": {
        "displayName": {
          "description": "Required. The mutable, human-readable name.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the dashboard.",
          "type": "string"
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. An etag is returned in the response to GetDashboard, and users are expected to put that etag in the request to UpdateDashboard to ensure that their change will be applied to the same version of the Dashboard configuration. The field should not be passed during dashboard creation.",
          "type": "string"
        },
        "gridLayout": {
          "$ref": "GridLayout",
          "description": "Content is arranged with a basic layout that re-flows a simple list of informational elements like widgets or tiles."
        },
        "mosaicLayout": {
          "description": "The content is arranged as a grid of tiles, with each content widget occupying one or more grid blocks.",
          "$ref": "MosaicLayout"
        },
        "rowLayout": {
          "description": "The content is divided into equally spaced rows and the widgets are arranged horizontally.",
          "$ref": "RowLayout"
        },
        "dashboardFilters": {
          "type": "array",
          "description": "Filters to reduce the amount of data charted based on the filter criteria.",
          "items": {
            "$ref": "DashboardFilter"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels applied to the dashboard",
          "type": "object"
        },
        "annotations": {
          "description": "Configuration for event annotations to display on this dashboard.",
          "$ref": "DashboardAnnotations"
        },
        "columnLayout": {
          "description": "The content is divided into equally spaced columns and the widgets are arranged vertically.",
          "$ref": "ColumnLayout"
        }
      }
    },
    "ChartOptions": {
      "id": "ChartOptions",
      "type": "object",
      "description": "Options to control visual rendering of a chart.",
      "properties": {
        "mode": {
          "description": "The chart mode.",
          "enumDescriptions": [
            "Mode is unspecified. The view will default to COLOR.",
            "The chart distinguishes data series using different color. Line colors may get reused when there are many lines in the chart.",
            "The chart uses the Stackdriver x-ray mode, in which each data set is plotted using the same semi-transparent color.",
            "The chart displays statistics such as average, median, 95th percentile, and more."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "COLOR",
            "X_RAY",
            "STATS"
          ],
          "type": "string"
        },
        "displayHorizontal": {
          "description": "Preview: Configures whether the charted values are shown on the horizontal or vertical axis. By default, values are represented the vertical axis. This is a preview feature and may be subject to change before final release.",
          "type": "boolean"
        }
      }
    },
    "ColumnSettings": {
      "id": "ColumnSettings",
      "type": "object",
      "description": "The persistent settings for a table's columns.",
      "properties": {
        "column": {
          "description": "Required. The id of the column.",
          "type": "string"
        },
        "alignment": {
          "enumDescriptions": [
            "No horizontal alignment specified; fall back to the default behavior. Label values are left aligned. Numeric values are right aligned.",
            "Left-align",
            "Center-align",
            "Right-align"
          ],
          "enum": [
            "CELL_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "description": "Optional. Whether the column should be left / middle / right aligned",
          "type": "string"
        },
        "thresholds": {
          "description": "Optional. The thresholds used to determine how the table cell should be rendered given the time series' current value.",
          "items": {
            "$ref": "Threshold"
          },
          "type": "array"
        },
        "visible": {
          "description": "Required. Whether the column should be visible on page load.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Optional. Display name of the column",
          "type": "string"
        }
      }
    },
    "MonitoredResource": {
      "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"project_id\", \"instance_id\" and \"zone\": { \"type\": \"gce_instance\", \"labels\": { \"project_id\": \"my-project\", \"instance_id\": \"12345678901234\", \"zone\": \"us-central1-a\" }} ",
      "properties": {
        "type": {
          "description": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance. For a list of types, see Monitoring resource types (https://cloud.google.com/monitoring/api/resources) and Logging resource types (https://cloud.google.com/logging/docs/api/v2/resource-list).",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\", and \"zone\"."
        }
      },
      "id": "MonitoredResource",
      "type": "object"
    },
    "Breakdown": {
      "id": "Breakdown",
      "type": "object",
      "description": "Preview: A breakdown is an aggregation applied to the measures over a specified column. A breakdown can result in multiple series across a category for the provided measure. This is a preview feature and may be subject to change before final release.",
      "properties": {
        "column": {
          "description": "Required. The name of the column in the dataset containing the breakdown values.",
          "type": "string"
        },
        "limit": {
          "description": "Required. A limit to the number of breakdowns. If set to zero then all possible breakdowns are applied. The list of breakdowns is dependent on the value of the sort_order field.",
          "format": "int32",
          "type": "integer"
        },
        "aggregationFunction": {
          "description": "Required. The Aggregation function is applied across all data in each breakdown created.",
          "$ref": "AggregationFunction"
        },
        "sortOrder": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified sort order. This option is invalid when sorting is required.",
            "No sorting is applied.",
            "The lowest-valued entries are selected first.",
            "The highest-valued entries are selected first."
          ],
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "SORT_ORDER_NONE",
            "SORT_ORDER_ASCENDING",
            "SORT_ORDER_DESCENDING"
          ],
          "description": "Required. The sort order is applied to the values of the breakdown column."
        }
      }
    },
    "TimeSeriesFilter": {
      "description": "A filter that defines a subset of time series data that is displayed in a widget. Time series data is fetched using the ListTimeSeries (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list) method.",
      "properties": {
        "pickTimeSeriesFilter": {
          "description": "Ranking based time series filter.",
          "$ref": "PickTimeSeriesFilter"
        },
        "aggregation": {
          "description": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data.",
          "$ref": "Aggregation"
        },
        "secondaryAggregation": {
          "$ref": "Aggregation",
          "description": "Apply a second aggregation after aggregation is applied."
        },
        "statisticalTimeSeriesFilter": {
          "$ref": "StatisticalTimeSeriesFilter",
          "description": "Statistics based time series filter. Note: This field is deprecated and completely ignored by the API.",
          "deprecated": true
        },
        "filter": {
          "description": "Required. The monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies the metric types, resources, and projects to query.",
          "type": "string"
        }
      },
      "id": "TimeSeriesFilter",
      "type": "object"
    },
    "ColumnSortingOptions": {
      "description": "Data structure to storing column's sort strategy",
      "properties": {
        "column": {
          "description": "Optional. Column name to sort data by",
          "type": "string"
        },
        "direction": {
          "type": "string",
          "description": "Optional. A sorting direction that determines ascending or descending order. This is a legacy field kept for backwards compatibility with table.",
          "enumDescriptions": [
            "An unspecified sort order. This option is invalid when sorting is required.",
            "No sorting is applied.",
            "The lowest-valued entries are selected first.",
            "The highest-valued entries are selected first."
          ],
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "SORT_ORDER_NONE",
            "SORT_ORDER_ASCENDING",
            "SORT_ORDER_DESCENDING"
          ]
        }
      },
      "id": "ColumnSortingOptions",
      "type": "object"
    },
    "DashboardAnnotations": {
      "id": "DashboardAnnotations",
      "type": "object",
      "description": "Dashboard-level configuration for annotations",
      "properties": {
        "defaultResourceNames": {
          "type": "array",
          "description": "Dashboard level defaults for names of logging resources to search for events. Currently only projects are supported. Each individual EventAnnotation may have its own overrides. If both this field and the per annotation field is empty, then the scoping project is used. Limit: 50 projects. For example: “projects/some-project-id” ",
          "items": {
            "type": "string"
          }
        },
        "eventAnnotations": {
          "type": "array",
          "description": "List of annotation configurations for this dashboard. Each entry specifies one event type.",
          "items": {
            "$ref": "EventAnnotation"
          }
        }
      }
    },
    "Column": {
      "id": "Column",
      "type": "object",
      "description": "Defines the layout properties and content for a column.",
      "properties": {
        "widgets": {
          "description": "The display widgets arranged vertically in this column.",
          "items": {
            "$ref": "Widget"
          },
          "type": "array"
        },
        "weight": {
          "type": "string",
          "description": "The relative weight of this column. The column weight is used to adjust the width of columns on the screen (relative to peers). Greater the weight, greater the width of the column on the screen. If omitted, a value of 1 is used while rendering.",
          "format": "int64"
        }
      }
    },
    "TimeSeriesQuery": {
      "id": "TimeSeriesQuery",
      "type": "object",
      "description": "TimeSeriesQuery collects the set of supported methods for querying time series data from the Stackdriver metrics API.",
      "properties": {
        "prometheusQuery": {
          "description": "A query used to fetch time series with PromQL.",
          "type": "string"
        },
        "timeSeriesQueryLanguage": {
          "description": "A query used to fetch time series with MQL.",
          "type": "string"
        },
        "timeSeriesFilter": {
          "description": "Filter parameters to fetch time series.",
          "$ref": "TimeSeriesFilter"
        },
        "opsAnalyticsQuery": {
          "$ref": "OpsAnalyticsQuery",
          "description": "Preview: A query used to fetch a time series, category series, or numeric series with SQL. This is a preview feature and may be subject to change before final release."
        },
        "unitOverride": {
          "description": "The unit of data contained in fetched time series. If non-empty, this unit will override any unit that accompanies fetched data. The format is the same as the unit (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors) field in MetricDescriptor.",
          "type": "string"
        },
        "outputFullDuration": {
          "description": "Optional. If set, Cloud Monitoring will treat the full query duration as the alignment period so that there will be only 1 output value.*Note: This could override the configured alignment period except for the cases where a series of data points are expected, like - XyChart - Scorecard's spark chart",
          "type": "boolean"
        },
        "timeSeriesFilterRatio": {
          "$ref": "TimeSeriesFilterRatio",
          "description": "Parameters to fetch a ratio between two time series filters."
        }
      }
    },
    "AggregationFunction": {
      "description": "Preview: An identifier for an aggregation function. Aggregation functions are SQL functions that group or transform data from multiple points to a single point. This is a preview feature and may be subject to change before final release.",
      "properties": {
        "type": {
          "description": "Required. The type of aggregation function, must be one of the following: \"none\" - no function. \"percentile\" - APPROX_QUANTILES() - 1 parameter numeric value \"average\" - AVG() \"count\" - COUNT() \"count-distinct\" - COUNT(DISTINCT) \"count-distinct-approx\" - APPROX_COUNT_DISTINCT() \"max\" - MAX() \"min\" - MIN() \"sum\" - SUM()",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. Parameters applied to the aggregation function. Only used for functions that require them.",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        }
      },
      "id": "AggregationFunction",
      "type": "object"
    },
    "PieChartDataSet": {
      "id": "PieChartDataSet",
      "type": "object",
      "description": "Groups a time series query definition.",
      "properties": {
        "timeSeriesQuery": {
          "description": "Required. The query for the PieChart. See, google.monitoring.dashboard.v1.TimeSeriesQuery.",
          "$ref": "TimeSeriesQuery"
        },
        "sliceNameTemplate": {
          "description": "Optional. A template for the name of the slice. This name will be displayed in the legend and the tooltip of the pie chart. It replaces the auto-generated names for the slices. For example, if the template is set to ${resource.labels.zone}, the zone's value will be used for the name instead of the default name.",
          "type": "string"
        },
        "measures": {
          "type": "array",
          "description": "A measure is a measured value of a property in your data. For example, rainfall in inches, number of units sold, revenue gained, etc.",
          "items": {
            "$ref": "Measure"
          }
        },
        "dimensions": {
          "type": "array",
          "description": "A dimension is a structured label, class, or category for a set of measurements in your data.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "minAlignmentPeriod": {
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query. For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Option": {
      "description": "A protocol buffer option, which can be attached to a message, field, enumeration, etc.New usages of this message as an alternative to FileOptions, MessageOptions, FieldOptions, EnumOptions, EnumValueOptions, ServiceOptions, or MethodOptions are strongly discouraged.",
      "properties": {
        "name": {
          "description": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, \"map_entry\". For custom options, it should be the fully-qualified name. For example, \"google.api.http\".",
          "type": "string"
        },
        "value": {
          "type": "object",
          "description": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Option",
      "type": "object"
    },
    "IncidentList": {
      "id": "IncidentList",
      "type": "object",
      "description": "A widget that displays a list of incidents",
      "properties": {
        "monitoredResources": {
          "type": "array",
          "description": "Optional. The monitored resource for which incidents are listed. The resource doesn't need to be fully specified. That is, you can specify the resource type but not the values of the resource labels. The resource type and labels are used for filtering.",
          "items": {
            "$ref": "MonitoredResource"
          }
        },
        "policyNames": {
          "description": "Optional. A list of alert policy names to filter the incident list by. Don't include the project ID prefix in the policy name. For example, use alertPolicies/utilization.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TreemapDataSet": {
      "description": "The data represented by the treemap. Needs to include the data itself, plus rules on how to organize it hierarchically.",
      "properties": {
        "measures": {
          "type": "array",
          "description": "Optional. A collection of measures. A measure is a measured value of a property in your data. For example, rainfall in inches, number of units sold, revenue gained, etc.",
          "items": {
            "$ref": "Measure"
          }
        },
        "timeSeriesQuery": {
          "description": "Required. The query that fetches the relevant data. See google.monitoring.dashboard.v1.TimeSeriesQuery",
          "$ref": "TimeSeriesQuery"
        },
        "breakdowns": {
          "type": "array",
          "description": "Optional. The collection of breakdowns to be applied to the dataset. A breakdown is a way to slice the data. For example, you can break down the data by region.",
          "items": {
            "$ref": "Breakdown"
          }
        }
      },
      "id": "TreemapDataSet",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "StatisticalTimeSeriesFilter": {
      "description": "A filter that ranks streams based on their statistical relation to other streams in a request. Note: This field is deprecated and completely ignored by the API.",
      "properties": {
        "numTimeSeries": {
          "type": "integer",
          "description": "How many time series to output.",
          "format": "int32"
        },
        "rankingMethod": {
          "type": "string",
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "Compute the outlier score of each stream."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "METHOD_CLUSTER_OUTLIER"
          ],
          "description": "rankingMethod is applied to a set of time series, and then the produced value for each individual time series is used to compare a given time series to others. These are methods that cannot be applied stream-by-stream, but rather require the full context of a request to evaluate time series."
        }
      },
      "id": "StatisticalTimeSeriesFilter",
      "type": "object"
    },
    "TimeSeriesFilterRatio": {
      "id": "TimeSeriesFilterRatio",
      "type": "object",
      "description": "A pair of time series filters that define a ratio computation. The output time series is the pair-wise division of each aligned element from the numerator and denominator time series.",
      "properties": {
        "numerator": {
          "$ref": "RatioPart",
          "description": "The numerator of the ratio."
        },
        "secondaryAggregation": {
          "$ref": "Aggregation",
          "description": "Apply a second aggregation after the ratio is computed."
        },
        "statisticalTimeSeriesFilter": {
          "description": "Statistics based time series filter. Note: This field is deprecated and completely ignored by the API.",
          "deprecated": true,
          "$ref": "StatisticalTimeSeriesFilter"
        },
        "denominator": {
          "description": "The denominator of the ratio.",
          "$ref": "RatioPart"
        },
        "pickTimeSeriesFilter": {
          "$ref": "PickTimeSeriesFilter",
          "description": "Ranking based time series filter."
        }
      }
    },
    "QuerySeriesRequest": {
      "description": "QuerySeries holds all parameters of the Prometheus upstream API for querying series.",
      "properties": {
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "end": {
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        }
      },
      "id": "QuerySeriesRequest",
      "type": "object"
    },
    "CollapsibleGroup": {
      "id": "CollapsibleGroup",
      "type": "object",
      "description": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets.",
      "properties": {
        "collapsed": {
          "description": "The collapsed state of the widget on first page load.",
          "type": "boolean"
        }
      }
    },
    "QueryExemplarsRequest": {
      "id": "QueryExemplarsRequest",
      "type": "object",
      "description": "QueryExemplarsRequest holds all parameters of the Prometheus upstream API for querying exemplars.",
      "properties": {
        "query": {
          "description": "A PromQL query string. Query language documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/.",
          "type": "string"
        },
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "end": {
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        }
      }
    },
    "DashboardFilter": {
      "description": "A filter to reduce the amount of data charted in relevant widgets.",
      "properties": {
        "valueType": {
          "enumDescriptions": [
            "Value type is unspecified",
            "String type",
            "String array type"
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "STRING_ARRAY"
          ],
          "description": "The type of the filter value. If value_type is not provided, it will be inferred from the default_value. If neither value_type nor default_value is provided, value_type will be set to STRING by default.",
          "type": "string"
        },
        "labelKey": {
          "description": "Optional. The key for the label. This must be omitted if the filter_type is VALUE_ONLY but is required otherwise.",
          "type": "string"
        },
        "filterType": {
          "description": "The specified filter type",
          "enumDescriptions": [
            "Filter type is unspecified. This is not valid in a well-formed request.",
            "Filter on a resource label value",
            "Filter on a metrics label value",
            "Filter on a user metadata label value",
            "Filter on a system metadata label value",
            "Filter on a group id",
            "Filter that only contains a value. The label_key field must be unset for filters of this type."
          ],
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "RESOURCE_LABEL",
            "METRIC_LABEL",
            "USER_METADATA_LABEL",
            "SYSTEM_METADATA_LABEL",
            "GROUP",
            "VALUE_ONLY"
          ],
          "type": "string"
        },
        "timeSeriesQuery": {
[...]
