{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "name": "mybusinessqanda",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "revision": "20260306",
  "canonicalName": "My Business Q&A",
  "servicePath": "",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "basePath": "",
  "version_module": true,
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "schemas": {
    "Author": {
      "description": "Represents the author of a question or answer",
      "type": "object",
      "id": "Author",
      "properties": {
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "type": {
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "description": "The type of user the author is."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        }
      }
    },
    "ListAnswersResponse": {
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "type": "object",
      "id": "ListAnswersResponse",
      "properties": {
        "answers": {
          "description": "The requested answers.",
          "type": "array",
          "items": {
            "$ref": "Answer"
          }
        },
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        }
      }
    },
    "ListQuestionsResponse": {
      "id": "ListQuestionsResponse",
      "properties": {
        "questions": {
          "description": "The requested questions,",
          "type": "array",
          "items": {
            "$ref": "Question"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of questions posted for this location across all pages."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response."
        }
      },
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "type": "object"
    },
    "Question": {
      "type": "object",
      "description": "Represents a single question and some of its answers.",
      "id": "Question",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was written.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when the question was last modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalAnswerCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of answers posted for this question."
        },
        "upvoteCount": {
          "readOnly": true,
          "description": "Output only. The number of upvotes for the question.",
          "type": "integer",
          "format": "int32"
        },
        "topAnswers": {
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "type": "array",
          "items": {
            "$ref": "Answer"
          },
          "readOnly": true
        },
        "author": {
          "description": "Output only. The author of the question.",
          "readOnly": true,
          "$ref": "Author"
        }
      }
    },
    "Answer": {
      "id": "Answer",
      "properties": {
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching."
        },
        "name": {
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when the answer was last modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "upvoteCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of upvotes for the answer.",
          "readOnly": true
        },
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true,
          "$ref": "Author"
        }
      },
      "description": "Represents an answer to a question",
      "type": "object"
    },
    "UpsertAnswerRequest": {
      "type": "object",
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "id": "UpsertAnswerRequest",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "Required. The new answer."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    }
  },
  "protocol": "rest",
  "title": "My Business Q&A API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/my-business/",
  "id": "mybusinessqanda:v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "list": {
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameters": {
                "answersPerQuestion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the location to fetch questions for."
                },
                "pageToken": {
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "id": "mybusinessqanda.locations.questions.list",
              "path": "v1/{+parent}"
            },
            "patch": {
              "request": {
                "$ref": "Question"
              },
              "response": {
                "$ref": "Question"
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "description": "Updates a specific question written by the current user.",
              "path": "v1/{+name}",
              "id": "mybusinessqanda.locations.questions.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "location": "query"
                },
                "name": {
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "required": true,
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "id": "mybusinessqanda.locations.questions.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the question to delete.",
                  "location": "path",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Deletes a specific question written by the current user."
            },
            "create": {
              "path": "v1/{+parent}",
              "id": "mybusinessqanda.locations.questions.create",
              "response": {
                "$ref": "Question"
              },
              "flatPath": "v1/locations/{locationsId}/questions",
              "description": "Adds a question for the specified location.",
              "request": {
                "$ref": "Question"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the location to write a question for."
                }
              }
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "upsert": {
                  "path": "v1/{+parent}/answers:upsert",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "response": {
                    "$ref": "Answer"
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the question to write an answer for.",
                      "required": true,
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the question to delete an answer for."
                    }
                  },
                  "description": "Deletes the answer written by the current user to a question.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "path": "v1/{+name}/answers:delete"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the question to fetch answers for."
                    },
                    "pageSize": {
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query"
                    }
                  },
                  "description": "Returns the paginated list of answers for a specified question.",
                  "path": "v1/{+parent}/answers",
                  "id": "mybusinessqanda.locations.questions.answers.list"
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "version": "v1"
}