{
  "title": "My Business Lodging API",
  "id": "mybusinesslodging:v1",
  "mtlsRootUrl": "https://mybusinesslodging.mtls.googleapis.com/",
  "version_module": true,
  "name": "mybusinesslodging",
  "rootUrl": "https://mybusinesslodging.googleapis.com/",
  "version": "v1",
  "servicePath": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "baseUrl": "https://mybusinesslodging.googleapis.com/",
  "documentationLink": "https://developers.google.com/my-business/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "revision": "20260415",
  "resources": {
    "locations": {
      "methods": {
        "getLodging": {
          "path": "v1/{+name}",
          "flatPath": "v1/locations/{locationsId}/lodging",
          "description": "Returns the Lodging of a specific location.",
          "parameters": {
            "readMask": {
              "type": "string",
              "description": "Required. The specific fields to return. Use \"*\" to include all fields. Repeated field items cannot be individually specified.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "description": "Required. Google identifier for this location in the form: `locations/{location_id}/lodging`",
              "type": "string",
              "pattern": "^locations/[^/]+/lodging$",
              "required": true
            }
          },
          "id": "mybusinesslodging.locations.getLodging",
          "httpMethod": "GET",
          "response": {
            "$ref": "Lodging"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateLodging": {
          "path": "v1/{+name}",
          "flatPath": "v1/locations/{locationsId}/lodging",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Lodging"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. The specific fields to update. Use \"*\" to update all fields, which may include unsetting empty fields in the request. Repeated field items cannot be individually updated.",
              "location": "query"
            },
            "name": {
              "location": "path",
              "description": "Required. Google identifier for this location in the form: `locations/{location_id}/lodging`",
              "type": "string",
              "pattern": "^locations/[^/]+/lodging$",
              "required": true
            }
          },
          "description": "Updates the Lodging of a specific location.",
          "request": {
            "$ref": "Lodging"
          },
          "id": "mybusinesslodging.locations.updateLodging"
        }
      },
      "resources": {
        "lodging": {
          "methods": {
            "getGoogleUpdated": {
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinesslodging.locations.lodging.getGoogleUpdated",
              "httpMethod": "GET",
              "response": {
                "$ref": "GetGoogleUpdatedLodgingResponse"
              },
              "parameters": {
                "readMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The specific fields to return. Use \"*\" to include all fields. Repeated field items cannot be individually specified.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Required. Google identifier for this location in the form: `locations/{location_id}/lodging`",
                  "type": "string",
                  "pattern": "^locations/[^/]+/lodging$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+name}:getGoogleUpdated",
              "flatPath": "v1/locations/{locationsId}/lodging:getGoogleUpdated",
              "description": "Returns the Google updated Lodging of a specific location."
            }
          }
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "description": "The My Business Lodging API enables managing lodging business information on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "protocol": "rest",
  "schemas": {
    "WasteReduction": {
      "type": "object",
      "id": "WasteReduction",
      "description": "Waste reduction practices implemented at the hotel.",
      "properties": {
        "safelyDisposesElectronicsException": {
          "description": "Safely disposes electronics exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "compostsExcessFoodException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Composts excess food exception."
        },
        "refillableToiletryContainers": {
          "type": "boolean",
          "description": "Refillable toiletry containers. The property has replaced miniature individual containers with refillable amenity dispensers for shampoo, conditioner, soap, and lotion."
        },
        "waterBottleFillingStationsException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Water bottle filling stations exception."
        },
        "noSingleUsePlasticWaterBottles": {
          "description": "No single use plastic water bottles. The property bans single-use plastic water bottles.",
          "type": "boolean"
        },
        "soapDonationProgramException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Soap donation program exception."
        },
        "recyclingProgram": {
          "description": "Recycling program. The property has a recycling program, aligned with LEED waste requirements, and a policy outlining efforts to send less than 50% of waste to landfill. The recycling program includes storage locations for recyclable materials, including mixed paper, corrugated cardboard, glass, plastics, and metals.",
          "type": "boolean"
        },
        "soapDonationProgram": {
          "description": "Soap donation program. The property participates in a soap donation program such as Clean the World or something similar.",
          "type": "boolean"
        },
        "safelyDisposesElectronics": {
          "type": "boolean",
          "description": "Safely disposes electronics. The property has a reputable recycling program that keeps hazardous electronic parts and chemical compounds out of landfills, dumps and other unauthorized abandonment sites, and recycles/reuses applicable materials. (e.g. certified electronics recyclers)."
        },
        "safelyDisposesLightbulbs": {
          "type": "boolean",
          "description": "Safely disposes lightbulbs. The property safely stores and disposes lightbulbs."
        },
        "donatesExcessFoodException": {
          "description": "Donates excess food exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "foodWasteReductionProgram": {
          "description": "Food waste reduction program. The property has established a food waste reduction and donation program, aiming to reduce food waste by half. These programs typically use tools such as the Hotel Kitchen Toolkit and others to track waste and measure progress.",
          "type": "boolean"
        },
        "noStyrofoamFoodContainersException": {
          "description": "No styrofoam food containers exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "noStyrofoamFoodContainers": {
          "type": "boolean",
          "description": "No styrofoam food containers. The property eliminates the use of Styrofoam in disposable food service items."
        },
        "toiletryDonationProgramException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Toiletry donation program exception."
        },
        "noSingleUsePlasticStrawsException": {
          "description": "No single use plastic straws exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "safelyHandlesHazardousSubstancesException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Safely handles hazardous substances exception."
        },
        "recyclingProgramException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Recycling program exception."
        },
        "waterBottleFillingStations": {
          "description": "Water bottle filling stations. The property offers water stations throughout the building for guest use.",
          "type": "boolean"
        },
        "safelyDisposesLightbulbsException": {
          "description": "Safely disposes lightbulbs exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "donatesExcessFood": {
          "type": "boolean",
          "description": "Donates excess food. The property has a program and/or policy for diverting waste from landfill that may include efforts to donate for human consumption or divert food for animal feed."
        },
        "toiletryDonationProgram": {
          "description": "Toiletry donation program. The property participates in a toiletry donation program such as Clean the World or something similar.",
          "type": "boolean"
        },
        "foodWasteReductionProgramException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Food waste reduction program exception."
        },
        "compostsExcessFood": {
          "description": "Composts excess food. The property has a program and/or policy for diverting waste from landfill by composting food and yard waste, either through compost collection and off-site processing or on-site compost processing.",
          "type": "boolean"
        },
        "safelyDisposesBatteries": {
          "description": "Safely disposes batteries. The property safely stores and disposes batteries.",
          "type": "boolean"
        },
        "compostableFoodContainersAndCutleryException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Compostable food containers and cutlery exception."
        },
        "refillableToiletryContainersException": {
          "description": "Refillable toiletry containers exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "noSingleUsePlasticWaterBottlesException": {
          "description": "No single use plastic water bottles exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "safelyDisposesBatteriesException": {
          "description": "Safely disposes batteries exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "safelyHandlesHazardousSubstances": {
          "type": "boolean",
          "description": "Safely handles hazardous substances. The property has a hazardous waste management program aligned wit GreenSeal and LEED requirements, and meets all regulatory requirements for hazardous waste disposal and recycling. Hazardous means substances that are classified as \"hazardous\" by an authoritative body (such as OSHA or DOT), are labeled with signal words such as \"Danger,\" \"Caution,\" \"Warning,\" or are flammable, corrosive, or ignitable. Requirements include: - The property shall maintain records of the efforts it has made to replace the hazardous substances it uses with less hazardous alternatives. - An inventory of the hazardous materials stored on-site. - Products intended for cleaning, dishwashing, laundry, and pool maintenance shall be stored in clearly labeled containers. These containers shall be checked regularly for leaks, and replaced a necessary. - Spill containment devices shall be installed to collect spills, drips, or leaching of chemicals."
        },
        "compostableFoodContainersAndCutlery": {
          "type": "boolean",
          "description": "Compostable food containers and cutlery. 100% of food service containers and to-go cutlery are compostable, and reusable utensils are offered wherever possible. Compostable materials are capable of undergoing biological decomposition in a compost site, such that material is not visually distinguishable and breaks down into carbon dioxide, water, inorganic compounds, and biomass."
        },
        "noSingleUsePlasticStraws": {
          "type": "boolean",
          "description": "No single use plastic straws. The property bans single-use plastic straws."
        }
      }
    },
    "Transportation": {
      "id": "Transportation",
      "description": "Vehicles or vehicular services facilitated or owned by the property.",
      "type": "object",
      "properties": {
        "localShuttleException": {
          "description": "Local shuttle exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "freePrivateCarService": {
          "description": "Free private car service. Private chauffeured car service is free to guests.",
          "type": "boolean"
        },
        "transferException": {
          "description": "Transfer exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "airportShuttle": {
          "type": "boolean",
          "description": "Airport shuttle. The hotel provides guests with a chauffeured van or bus to and from the airport. Can be free or for a fee. Guests may share the vehicle with other guests unknown to them. Applies if the hotel has a third-party shuttle service (office/desk etc.) within the hotel. As long as hotel provides this service, it doesn't matter if it's directly with them or a third party they work with. Does not apply if guest has to coordinate with an entity outside/other than the hotel."
        },
        "freeAirportShuttleException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Free airport shuttle exception."
        },
        "freeAirportShuttle": {
          "type": "boolean",
          "description": "Free airport shuttle. Airport shuttle is free to guests. Must be free to all guests without any conditions."
        },
        "freePrivateCarServiceException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Free private car service exception."
        },
        "privateCarService": {
          "description": "Private car service. Hotel provides a private chauffeured car to transport guests to destinations. Passengers in the car are either alone or are known to one another and have requested the car together. Service can be free or for a fee and travel distance is usually limited to a specific range. Not a taxi.",
          "type": "boolean"
        },
        "transfer": {
          "description": "Transfer. Hotel provides a shuttle service or car service to take guests to and from the nearest airport or train station. Can be free or for a fee. Guests may share the vehicle with other guests unknown to them.",
          "type": "boolean"
        },
        "airportShuttleException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Airport shuttle exception."
        },
        "localShuttle": {
          "description": "Local shuttle. A car, van or bus provided by the hotel to transport guests to destinations within a specified range of distance around the hotel. Usually shopping and/or convention centers, downtown districts, or beaches. Can be free or for a fee.",
          "type": "boolean"
        },
        "carRentalOnProperty": {
          "description": "Car rental on property. A branch of a rental car company with a processing desk in the hotel. Available cars for rent may be awaiting at the hotel or in a nearby lot.",
          "type": "boolean"
        },
        "carRentalOnPropertyException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Car rental on property exception."
        },
        "privateCarServiceException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Private car service exception."
        }
      }
    },
    "Services": {
      "id": "Services",
      "description": "Conveniences or help provided by the property to facilitate an easier, more comfortable stay.",
      "type": "object",
      "properties": {
        "fullServiceLaundryException": {
          "description": "Full service laundry exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "socialHourException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Social hour exception."
        },
        "baggageStorage": {
          "description": "Baggage storage. A provision for guests to leave their bags at the hotel when they arrive for their stay before the official check-in time. May or may not apply for guests who wish to leave their bags after check-out and before departing the locale. Also known as bag dropoff.",
          "type": "boolean"
        },
        "socialHour": {
          "description": "Social hour. A reception with complimentary soft drinks, tea, coffee, wine and/or cocktails in the afternoon or evening. Can be hosted by hotel staff or guests may serve themselves. Also known as wine hour. The availability of coffee/tea in the lobby throughout the day does not constitute a social or wine hour.",
          "type": "boolean"
        },
        "convenienceStore": {
          "type": "boolean",
          "description": "Convenience store. A shop at the hotel primarily selling snacks, drinks, non-prescription medicines, health and beauty aids, magazines and newspapers."
        },
        "frontDesk": {
          "description": "Front desk. A counter or desk in the lobby or the immediate interior of the hotel where a member of the staff greets guests and processes the information related to their stay (including check-in and check-out). May or may not be manned and open 24/7.",
          "type": "boolean"
        },
        "giftShop": {
          "description": "Gift shop. An on-site store primarily selling souvenirs, mementos and other gift items. May or may not also sell sundries, magazines and newspapers, clothing, or snacks.",
          "type": "boolean"
        },
        "fullServiceLaundry": {
          "description": "Full service laundry. Laundry and dry cleaning facilitated and handled by the hotel on behalf of the guest. Does not include the provision for guests to do their own laundry in on-site machines.",
          "type": "boolean"
        },
        "wakeUpCalls": {
          "description": "Wake up calls. By direction of the guest, a hotel staff member will phone the guest unit at the requested hour. Also known as morning call.",
          "type": "boolean"
        },
        "baggageStorageException": {
          "description": "Baggage storage exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "twentyFourHourFrontDesk": {
          "type": "boolean",
          "description": "24hr front desk. Front desk is staffed 24 hours a day."
        },
        "concierge": {
          "type": "boolean",
          "description": "Concierge. Hotel staff member(s) responsible for facilitating an easy, comfortable stay through making reservations for meals, sourcing theater tickets, arranging tours, finding a doctor, making recommendations, and answering questions."
        },
        "elevator": {
          "type": "boolean",
          "description": "Elevator. A passenger elevator that transports guests from one story to another. Also known as lift."
        },
        "selfServiceLaundryException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Self service laundry exception."
        },
        "conciergeException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Concierge exception."
        },
        "giftShopException": {
          "description": "Gift shop exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "twentyFourHourFrontDeskException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "24hr front desk exception."
        },
        "languagesSpoken": {
          "items": {
            "$ref": "LanguageSpoken"
          },
          "type": "array",
          "description": "Languages spoken by at least one staff member."
        },
        "elevatorException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Elevator exception."
        },
        "wakeUpCallsException": {
          "description": "Wake up calls exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "frontDeskException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Front desk exception."
        },
        "currencyExchange": {
          "description": "Currency exchange. A staff member or automated machine tasked with the transaction of providing the native currency of the hotel's locale in exchange for the foreign currency provided by a guest.",
          "type": "boolean"
        },
        "convenienceStoreException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Convenience store exception."
        },
        "currencyExchangeException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Currency exchange exception."
        },
        "selfServiceLaundry": {
          "type": "boolean",
          "description": "Self service laundry. On-site clothes washers and dryers accessible to guests for the purpose of washing and drying their own clothes. May or may not require payment to use the machines."
        }
      }
    },
    "LanguageSpoken": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code for the spoken language. Currently accepted codes: ar, de, en, es, fil, fr, hi, id, it, ja, ko, nl, pt, ru, vi, yue, zh."
        },
        "spokenException": {
          "description": "Spoken exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "spoken": {
          "description": "At least one member of the staff can speak the language.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "LanguageSpoken",
      "description": "Language spoken by at least one staff member."
    },
    "EnhancedCleaning": {
      "type": "object",
      "id": "EnhancedCleaning",
      "description": "Enhanced cleaning measures implemented by the hotel during COVID-19.",
      "properties": {
        "commercialGradeDisinfectantCleaning": {
          "type": "boolean",
          "description": "Commercial-grade disinfectant used to clean the property."
        },
        "commonAreasEnhancedCleaningException": {
          "description": "Common areas enhanced cleaning exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "guestRoomsEnhancedCleaningException": {
          "description": "Guest rooms enhanced cleaning exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "employeesWearProtectiveEquipment": {
          "description": "Employees wear masks, face shields, and/or gloves.",
          "type": "boolean"
        },
        "employeesTrainedCleaningProceduresException": {
          "description": "Employees trained cleaning procedures exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "employeesTrainedThoroughHandWashing": {
          "type": "boolean",
          "description": "Employees trained in thorough hand-washing."
        },
        "guestRoomsEnhancedCleaning": {
          "description": "Enhanced cleaning of guest rooms.",
          "type": "boolean"
        },
        "employeesTrainedThoroughHandWashingException": {
          "description": "Employees trained thorough hand washing exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "employeesTrainedCleaningProcedures": {
          "description": "Employees trained in COVID-19 cleaning procedures.",
          "type": "boolean"
        },
        "commercialGradeDisinfectantCleaningException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Commercial grade disinfectant cleaning exception."
        },
        "commonAreasEnhancedCleaning": {
          "description": "Enhanced cleaning of common areas.",
          "type": "boolean"
        },
        "employeesWearProtectiveEquipmentException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Employees wear protective equipment exception."
        }
      }
    },
    "Business": {
      "properties": {
        "businessCenterException": {
          "description": "Business center exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "meetingRoomsException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Meeting rooms exception."
        },
        "meetingRooms": {
          "type": "boolean",
          "description": "Meeting rooms. Rooms at the hotel designated for business-related gatherings. Rooms are usually equipped with tables or desks, office chairs and audio/visual facilities to allow for presentations and conference calls. Also known as conference rooms."
        },
        "meetingRoomsCountException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Meeting rooms count exception."
        },
        "businessCenter": {
          "description": "Business center. A designated room at the hotel with one or more desks and equipped with guest-use computers, printers, fax machines and/or photocopiers. May or may not be open 24/7. May or may not require a key to access. Not a meeting room or conference room.",
          "type": "boolean"
        },
        "meetingRoomsCount": {
          "type": "integer",
          "description": "Meeting rooms count. The number of meeting rooms at the property.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Business",
      "description": "Features of the property of specific interest to the business traveler."
    },
    "IncreasedFoodSafety": {
      "properties": {
        "diningAreasAdditionalSanitationException": {
          "description": "Dining areas additional sanitation exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "individualPackagedMeals": {
          "type": "boolean",
          "description": "Individually-packaged meals."
        },
        "singleUseFoodMenus": {
          "type": "boolean",
          "description": "Single-use menus."
        },
        "disposableFlatwareException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Disposable flatware exception."
        },
        "foodPreparationAndServingAdditionalSafety": {
          "type": "boolean",
          "description": "Additional safety measures during food prep and serving."
        },
        "foodPreparationAndServingAdditionalSafetyException": {
          "description": "Food preparation and serving additional safety exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "disposableFlatware": {
          "description": "Disposable flatware.",
          "type": "boolean"
        },
        "individualPackagedMealsException": {
          "description": "Individual packaged meals exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "diningAreasAdditionalSanitation": {
          "type": "boolean",
          "description": "Additional sanitation in dining areas."
        },
        "singleUseFoodMenusException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Single use food menus exception."
        }
      },
      "type": "object",
      "id": "IncreasedFoodSafety",
      "description": "Increased food safety measures implemented by the hotel during COVID-19."
    },
    "MinimizedContact": {
      "properties": {
        "plasticKeycardsDisinfectedException": {
          "description": "Plastic keycards disinfected exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "housekeepingScheduledRequestOnly": {
          "type": "boolean",
          "description": "Housekeeping scheduled by request only."
        },
        "housekeepingScheduledRequestOnlyException": {
          "description": "Housekeeping scheduled request only exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "noHighTouchItemsCommonAreas": {
          "description": "High-touch items, such as magazines, removed from common areas.",
          "type": "boolean"
        },
        "noHighTouchItemsCommonAreasException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "No high touch items common areas exception."
        },
        "noHighTouchItemsGuestRoomsException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "No high touch items guest rooms exception."
        },
        "digitalGuestRoomKeysException": {
          "description": "Digital guest room keys exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "plasticKeycardsDisinfected": {
          "type": "boolean",
          "description": "Plastic key cards are disinfected or discarded."
        },
        "contactlessCheckinCheckoutException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Contactless check-in check-out exception."
        },
        "noHighTouchItemsGuestRooms": {
          "description": "High-touch items, such as decorative pillows, removed from guest rooms.",
          "type": "boolean"
        },
        "digitalGuestRoomKeys": {
          "description": "Keyless mobile entry to guest rooms.",
          "type": "boolean"
        },
        "roomBookingsBuffer": {
          "type": "boolean",
          "description": "Buffer maintained between room bookings."
        },
        "roomBookingsBufferException": {
          "description": "Room bookings buffer exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "contactlessCheckinCheckout": {
          "type": "boolean",
          "description": "No-contact check-in and check-out."
        }
      },
      "type": "object",
      "id": "MinimizedContact",
      "description": "Minimized contact measures implemented by the hotel during COVID-19."
    },
    "GuestUnitFeatures": {
      "type": "object",
      "id": "GuestUnitFeatures",
      "description": "Features and available amenities in the guest unit.",
      "properties": {
        "maxChildOccupantsCountException": {
          "description": "Max child occupants count exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "maxAdultOccupantsCountException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Max adult occupants count exception."
        },
        "privateHomeException": {
          "description": "Private home exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "views": {
          "description": "Views available from the guest unit itself.",
          "$ref": "ViewsFromUnit"
        },
        "totalLivingAreas": {
          "description": "Features available in the living areas in the guest unit.",
          "$ref": "LivingArea"
        },
        "connectingUnitAvailable": {
          "description": "Connecting unit available. A guestroom type that features access to an adjacent guestroom for the purpose of booking both rooms. Most often used by families who need more than one room to accommodate the number of people in their group.",
          "type": "boolean"
        },
        "maxChildOccupantsCount": {
          "description": "Max child occupants count. The total number of children allowed to stay overnight in the room.",
          "type": "integer",
          "format": "int32"
        },
        "executiveFloorException": {
          "description": "Executive floor exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "connectingUnitAvailableException": {
          "description": "Connecting unit available exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "maxOccupantsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Max occupants count. The total number of guests allowed to stay overnight in the guestroom."
        },
        "tier": {
          "type": "string",
          "enumDescriptions": [
            "Default tier. Equivalent to STANDARD. Prefer using STANDARD directly.",
            "Standard unit. The predominant and most basic guestroom type available at the hotel. All other guestroom types include the features/amenities of this room, as well as additional features/amenities.",
            "Deluxe unit. A guestroom type that builds on the features of the standard guestroom by offering additional amenities and/or more space, and/or views. The room rate is higher than that of the standard room type. Also known as Superior. Only allowed if another unit type is a standard tier."
          ],
          "enum": [
            "UNIT_TIER_UNSPECIFIED",
            "STANDARD_UNIT",
            "DELUXE_UNIT"
          ],
          "description": "Tier. Classification of the unit based on available features/amenities. A non-standard tier is only permitted if at least one other unit type falls under the standard tier."
        },
        "maxAdultOccupantsCount": {
          "description": "Max adult occupants count. The total number of adult guests allowed to stay overnight in the guestroom.",
          "type": "integer",
          "format": "int32"
        },
        "privateHome": {
          "description": "Private home. A privately owned home (house, townhouse, apartment, cabin, bungalow etc) that may or not serve as the owner's residence, but is rented out in its entirety or by the room(s) to paying guest(s) for vacation stays. Not for lease-based, long-term residency.",
          "type": "boolean"
        },
        "suite": {
          "type": "boolean",
          "description": "Suite. A guestroom category that implies both a bedroom area and a separate living area. There may or may not be full walls and doors separating the two areas, but regardless, they are very distinct. Does not mean a couch or chair in a bedroom."
        },
        "suiteException": {
          "description": "Suite exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "maxOccupantsCountException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Max occupants count exception."
        },
        "bungalowOrVillaException": {
          "description": "Bungalow or villa exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "executiveFloor": {
          "type": "boolean",
          "description": "Executive floor. A floor of the hotel where the guestrooms are only bookable by members of the hotel's frequent guest membership program. Benefits of this room class include access to a designated lounge which may or may not feature free breakfast, cocktails or other perks specific to members of the program."
        },
        "tierException": {
          "description": "Tier exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "bungalowOrVilla": {
          "description": "Bungalow or villa. An independent structure that is part of a hotel or resort that is rented to one party for a vacation stay. The hotel or resort may be completely comprised of bungalows or villas, or they may be one of several guestroom options. Guests in the bungalows or villas most often have the same, if not more, amenities and services offered to guests in other guestroom types.",
          "type": "boolean"
        }
      }
    },
    "Property": {
      "id": "Property",
      "description": "General factual information about the property's physical structure and important dates.",
      "type": "object",
      "properties": {
        "floorsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Floors count. The number of stories the building has from the ground floor to the top floor that are accessible to guests."
        },
        "roomsCountException": {
          "description": "Rooms count exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "builtYear": {
          "format": "int32",
          "description": "Built year. The year that construction of the property was completed.",
          "type": "integer"
        },
        "builtYearException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Built year exception."
        },
        "lastRenovatedYearException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Last renovated year exception."
        },
        "lastRenovatedYear": {
          "type": "integer",
          "description": "Last renovated year. The year when the most recent renovation of the property was completed. Renovation may include all or any combination of the following: the units, the public spaces, the exterior, or the interior.",
          "format": "int32"
        },
        "roomsCount": {
          "description": "Rooms count. The total number of rooms and suites bookable by guests for an overnight stay. Does not include event space, public spaces, conference rooms, fitness rooms, business centers, spa, salon, restaurants/bars, or shops.",
          "type": "integer",
          "format": "int32"
        },
        "floorsCountException": {
          "description": "Floors count exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        }
      }
    },
    "SustainabilityCertifications": {
      "type": "object",
      "deprecated": true,
      "description": "Sustainability certifications the hotel has been awarded. Deprecated: this message is no longer populated. All certification data is now provided by BeCause.",
      "id": "SustainabilityCertifications",
      "properties": {
        "breeamCertification": {
          "description": "BREEAM certification.",
          "type": "string",
          "enumDescriptions": [
            "Default BreeamCertification. Do not use.",
            "Not certified.",
            "BREEAM Pass.",
            "BREEAM Good.",
            "BREEAM Very Good.",
            "BREEAM Excellent.",
            "BREEAM Outstanding."
          ],
          "enum": [
            "BREEAM_CERTIFICATION_UNSPECIFIED",
            "NO_BREEAM_CERTIFICATION",
            "BREEAM_PASS",
            "BREEAM_GOOD",
            "BREEAM_VERY_GOOD",
            "BREEAM_EXCELLENT",
            "BREEAM_OUTSTANDING"
          ]
        },
        "ecoCertifications": {
          "items": {
            "$ref": "EcoCertification"
          },
          "type": "array",
          "description": "The eco certificates awarded to the hotel."
        },
        "breeamCertificationException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "BREEAM certification exception."
        },
        "leedCertification": {
          "type": "string",
          "enumDescriptions": [
            "Default LeedCertification. Do not use.",
            "Not certified.",
            "LEED Certified.",
            "LEED Silver.",
            "LEED Gold.",
            "LEED Platinum."
          ],
          "enum": [
            "LEED_CERTIFICATION_UNSPECIFIED",
            "NO_LEED_CERTIFICATION",
            "LEED_CERTIFIED",
            "LEED_SILVER",
            "LEED_GOLD",
            "LEED_PLATINUM"
          ],
          "description": "LEED certification."
        },
        "leedCertificationException": {
          "description": "LEED certification exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        }
      }
    },
    "FoodAndDrink": {
      "properties": {
        "dinnerBuffetException": {
          "description": "Dinner buffet exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "buffet": {
          "type": "boolean",
          "description": "Buffet. A type of meal where guests serve themselves from a variety of dishes/foods that are put out on a table. Includes lunch and/or dinner meals. A breakfast-only buffet is not sufficient."
        },
        "freeBreakfastException": {
          "description": "Free breakfast exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "vendingMachine": {
          "description": "Vending machine. A glass-fronted mechanized cabinet displaying and dispensing snacks and beverages for purchase by coins, paper money and/or credit cards.",
          "type": "boolean"
        },
        "restaurant": {
          "type": "boolean",
          "description": "Restaurant. A business onsite at the hotel that is open to the public as well as guests, and offers meals and beverages to consume at tables or counters. May or may not include table service. Also known as cafe, buffet, eatery. A \"breakfast room\" where the hotel serves breakfast only to guests (not the general public) does not count as a restaurant."
        },
        "dinnerBuffet": {
          "description": "Dinner buffet. Dinner meal service where guests serve themselves from a variety of dishes/foods that are put out on a table.",
          "type": "boolean"
        },
        "restaurantException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Restaurant exception."
        },
        "roomServiceException": {
          "description": "Room service exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "tableServiceException": {
          "description": "Table service exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "breakfastBuffetException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Breakfast buffet exception."
        },
        "bar": {
          "description": "Bar. A designated room, lounge or area of an on-site restaurant with seating at a counter behind which a hotel staffer takes the guest's order and provides the requested alcoholic drink. Can be indoors or outdoors. Also known as Pub.",
          "type": "boolean"
        },
        "breakfastAvailable": {
          "description": "Breakfast available. The morning meal is offered to all guests. Can be free or for a fee.",
          "type": "boolean"
        },
        "freeBreakfast": {
          "type": "boolean",
          "description": "Free breakfast. Breakfast is offered for free to all guests. Does not apply if limited to certain room packages."
        },
        "vendingMachineException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Vending machine exception."
        },
        "restaurantsCount": {
          "type": "integer",
          "description": "Restaurants count. The number of restaurants at the hotel.",
          "format": "int32"
        },
        "tableService": {
          "description": "Table service. A restaurant in which a staff member is assigned to a guest's table to take their order, deliver and clear away food, and deliver the bill, if applicable. Also known as sit-down restaurant.",
          "type": "boolean"
        },
        "breakfastAvailableException": {
          "description": "Breakfast available exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "restaurantsCountException": {
          "description": "Restaurants count exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "twentyFourHourRoomService": {
          "type": "boolean",
          "description": "24hr room service. Room service is available 24 hours a day."
        },
        "roomService": {
          "description": "Room service. A hotel staffer delivers meals prepared onsite to a guest's room as per their request. May or may not be available during specific hours. Services should be available to all guests (not based on rate/room booked/reward program, etc).",
          "type": "boolean"
        },
        "twentyFourHourRoomServiceException": {
          "description": "24hr room service exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "breakfastBuffet": {
          "description": "Breakfast buffet. Breakfast meal service where guests serve themselves from a variety of dishes/foods that are put out on a table.",
          "type": "boolean"
        },
        "buffetException": {
          "description": "Buffet exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "barException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Bar exception."
        }
      },
      "type": "object",
      "id": "FoodAndDrink",
      "description": "Meals, snacks, and beverages available at the property."
    },
    "SustainableSourcing": {
      "type": "object",
      "id": "SustainableSourcing",
      "description": "Sustainable sourcing practices implemented at the hotel.",
      "properties": {
        "ecoFriendlyToiletries": {
          "description": "Eco friendly toiletries. Soap, shampoo, lotion, and other toiletries provided for guests have a nationally or internationally recognized sustainability certification, such as USDA Organic, EU Organic, or cruelty-free.",
          "type": "boolean"
        },
        "organicFoodAndBeverages": {
          "description": "Organic food and beverages. At least 25% of food and beverages, by spend, are certified organic. Organic means products that are certified to one of the organic standard listed in the IFOAM family of standards. Qualifying certifications include USDA Organic and EU Organic, among others.",
          "type": "boolean"
        },
        "organicFoodAndBeveragesException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Organic food and beverages exception."
        },
        "locallySourcedFoodAndBeverages": {
          "description": "Locally sourced food and beverages. Property sources locally in order to lower the environmental footprint from reduced transportation and to stimulate the local economy. Products produced less than 62 miles from the establishment are normally considered as locally produced.",
          "type": "boolean"
        },
        "organicCageFreeEggsException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Organic cage free eggs exception."
        },
        "responsiblePurchasingPolicyException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Responsible purchasing policy exception."
        },
        "veganMealsException": {
          "description": "Vegan meals exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "vegetarianMealsException": {
          "description": "Vegetarian meals exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "veganMeals": {
          "description": "Vegan meals. The property provides vegan menu options for guests. Vegan food does not contain animal products or byproducts.",
          "type": "boolean"
        },
        "responsiblePurchasingPolicy": {
          "type": "boolean",
          "description": "Responsible purchasing policy. The property has a responsible procurement policy in place. Responsible means integration of social, ethical, and/or environmental performance factors into the procurement process when selecting suppliers."
        },
        "responsiblySourcesSeafoodException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Responsibly sources seafood exception."
        },
        "organicCageFreeEggs": {
          "description": "Organic cage free eggs. The property sources 100% certified organic and cage-free eggs (shell, liquid, and egg products). Cage-free means hens are able to walk, spread their wings and lay their eggs in nests).",
          "type": "boolean"
        },
        "ecoFriendlyToiletriesException": {
          "description": "Eco friendly toiletries exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "vegetarianMeals": {
          "type": "boolean",
          "description": "Vegetarian meals. The property provides vegetarian menu options for guests. Vegetarian food does not contain meat, poultry, fish, or seafood."
        },
        "responsiblySourcesSeafood": {
          "type": "boolean",
          "description": "Responsibly sources seafood. The property does not source seafood from the Monterey Bay Aquarium Seafood Watch \"avoid\" list, and must sustainably source seafood listed as \"good alternative,\" \"eco-certified,\" and \"best choice\". The property has a policy outlining a commitment to source Marine Stewardship Council (MSC) and/or Aquaculture Stewardship Council (ASC) Chain of Custody certified seafood."
        },
        "locallySourcedFoodAndBeveragesException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Locally sourced food and beverages exception."
        }
      }
    },
    "Wellness": {
      "id": "Wellness",
      "description": "Guest facilities at the property to promote or maintain health, beauty, and fitness.",
      "type": "object",
      "properties": {
        "sauna": {
          "description": "Sauna. A wood-paneled room heated to a high temperature where guests sit on built-in wood benches for the purpose of perspiring and relaxing their muscles. Can be dry or slightly wet heat. Not a steam room.",
          "type": "boolean"
        },
        "doctorOnCallException": {
          "description": "Doctor on call exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "spa": {
          "type": "boolean",
          "description": "Spa. A designated area, room or building at the hotel offering health and beauty treatment through such means as steam baths, exercise equipment, and massage. May also offer facials, nail care, and hair care. Services are usually available by appointment and for an additional fee. Does not apply if hotel only offers a steam room; must offer other beauty and/or health treatments as well."
        },
        "saunaException": {
          "description": "Sauna exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
[...]
