{
  "discoveryVersion": "v1",
  "name": "mybusinessqanda",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260426",
  "id": "mybusinessqanda:v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "version": "v1",
  "protocol": "rest",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "parameters": {
                "answersPerQuestion": {
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10."
                },
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The name of the location to fetch questions for.",
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. If specified, the next page of questions is retrieved."
                }
              },
              "id": "mybusinessqanda.locations.questions.list",
              "httpMethod": "GET",
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "path": "v1/{+parent}",
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "location": "path",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "id": "mybusinessqanda.locations.questions.patch",
              "request": {
                "$ref": "Question"
              },
              "response": {
                "$ref": "Question"
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "path": "v1/{+name}",
              "description": "Updates a specific question written by the current user."
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the question to delete.",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "mybusinessqanda.locations.questions.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a specific question written by the current user.",
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "id": "mybusinessqanda.locations.questions.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "Question"
              },
              "response": {
                "$ref": "Question"
              },
              "flatPath": "v1/locations/{locationsId}/questions",
              "description": "Adds a question for the specified location.",
              "path": "v1/{+parent}",
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the location to write a question for."
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "delete": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the answer written by the current user to a question.",
                  "path": "v1/{+name}/answers:delete",
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the question to delete an answer for."
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'."
                    },
                    "parent": {
                      "description": "Required. The name of the question to fetch answers for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "httpMethod": "GET",
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "path": "v1/{+parent}/answers",
                  "description": "Returns the paginated list of answers for a specified question.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers"
                },
                "upsert": {
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "response": {
                    "$ref": "Answer"
                  },
                  "httpMethod": "POST",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "path": "v1/{+parent}/answers:upsert",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the question to write an answer for."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "version_module": true,
  "basePath": "",
  "schemas": {
    "Answer": {
      "description": "Represents an answer to a question",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*"
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the answer was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "$ref": "Author"
        }
      },
      "id": "Answer",
      "type": "object"
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "type": "object",
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "properties": {
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        },
        "answers": {
          "type": "array",
          "description": "The requested answers.",
          "items": {
            "$ref": "Answer"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of answers posted for this question across all pages."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListQuestionsResponse": {
      "type": "object",
      "id": "ListQuestionsResponse",
      "properties": {
        "questions": {
          "items": {
            "$ref": "Question"
          },
          "description": "The requested questions,",
          "type": "array"
        },
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        }
      },
      "description": "Response message for QuestionsAndAnswers.ListQuestions"
    },
    "Author": {
      "properties": {
        "type": {
          "description": "The type of user the author is.",
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        },
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        }
      },
      "description": "Represents the author of a question or answer",
      "type": "object",
      "id": "Author"
    },
    "Question": {
      "description": "Represents a single question and some of its answers.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp for when the question was written."
        },
        "topAnswers": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          },
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)"
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the question.",
          "$ref": "Author"
        },
        "totalAnswerCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The total number of answers posted for this question."
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the question.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was last modified."
        }
      },
      "id": "Question",
      "type": "object"
    },
    "UpsertAnswerRequest": {
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "Required. The new answer."
        }
      },
      "id": "UpsertAnswerRequest",
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "title": "My Business Q&A API",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "servicePath": "",
  "canonicalName": "My Business Q&A"
}