{
  "version_module": true,
  "discoveryVersion": "v1",
  "basePath": "",
  "id": "mybusinessqanda:v1",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "kind": "discovery#restDescription",
  "title": "My Business Q&A API",
  "ownerName": "Google",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/my-business/",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "canonicalName": "My Business Q&A",
  "ownerDomain": "google.com",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "name": "mybusinessqanda",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "revision": "20260415",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "batchPath": "batch",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "resources": {
            "answers": {
              "methods": {
                "upsert": {
                  "parameters": {
                    "parent": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the question to write an answer for."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/answers:upsert",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "response": {
                    "$ref": "Answer"
                  },
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question."
                },
                "list": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The name of the question to fetch answers for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "type": "string"
                    }
                  },
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/answers",
                  "description": "Returns the paginated list of answers for a specified question.",
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the question to delete an answer for."
                    }
                  },
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "path": "v1/{+name}/answers:delete",
                  "description": "Deletes the answer written by the current user to a question.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}",
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameters": {
                "answersPerQuestion": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the location to fetch questions for.",
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10."
                }
              },
              "id": "mybusinessqanda.locations.questions.list",
              "response": {
                "$ref": "ListQuestionsResponse"
              }
            },
            "delete": {
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the question to delete."
                }
              },
              "id": "mybusinessqanda.locations.questions.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Deletes a specific question written by the current user.",
              "httpMethod": "DELETE"
            },
            "create": {
              "flatPath": "v1/locations/{locationsId}/questions",
              "id": "mybusinessqanda.locations.questions.create",
              "response": {
                "$ref": "Question"
              },
              "request": {
                "$ref": "Question"
              },
              "description": "Adds a question for the specified location.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^locations/[^/]+/questions$",
                  "description": "Required. The name of the location to write a question for."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
                },
                "updateMask": {
                  "type": "string",
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates a specific question written by the current user.",
              "request": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.patch",
              "response": {
                "$ref": "Question"
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}"
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "schemas": {
    "Author": {
      "id": "Author",
      "type": "object",
      "description": "Represents the author of a question or answer",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        },
        "profilePhotoUri": {
          "type": "string",
          "description": "The profile photo URI of the user."
        },
        "type": {
          "type": "string",
          "description": "The type of user the author is.",
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ]
        }
      }
    },
    "UpsertAnswerRequest": {
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      },
      "id": "UpsertAnswerRequest",
      "type": "object"
    },
    "Question": {
      "id": "Question",
      "type": "object",
      "description": "Represents a single question and some of its answers.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters."
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was last modified.",
          "type": "string"
        },
        "upvoteCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of upvotes for the question."
        },
        "topAnswers": {
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was written.",
          "type": "string"
        },
        "author": {
          "description": "Output only. The author of the question.",
          "readOnly": true,
          "$ref": "Author"
        },
        "totalAnswerCount": {
          "type": "integer",
          "description": "Output only. The total number of answers posted for this question.",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "ListAnswersResponse": {
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "properties": {
        "answers": {
          "items": {
            "$ref": "Answer"
          },
          "type": "array",
          "description": "The requested answers."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of answers posted for this question across all pages.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        }
      },
      "id": "ListAnswersResponse",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ListQuestionsResponse": {
      "id": "ListQuestionsResponse",
      "type": "object",
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "properties": {
        "questions": {
          "items": {
            "$ref": "Question"
          },
          "type": "array",
          "description": "The requested questions,"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of questions posted for this location across all pages.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        }
      }
    },
    "Answer": {
      "id": "Answer",
      "type": "object",
      "description": "Represents an answer to a question",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "author": {
          "readOnly": true,
          "$ref": "Author",
          "description": "Output only. The author of the answer. Will only be set during list operations."
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp for when the answer was last modified."
        }
      }
    }
  }
}