{
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "kind": "discovery#restDescription",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "id": "mybusinessqanda:v1",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "servicePath": "",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "title": "My Business Q&A API",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/my-business/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "My Business Q&A",
  "revision": "20260506",
  "ownerName": "Google",
  "protocol": "rest",
  "schemas": {
    "ListQuestionsResponse": {
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "type": "object",
      "id": "ListQuestionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response."
        },
        "questions": {
          "description": "The requested questions,",
          "type": "array",
          "items": {
            "$ref": "Question"
          }
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of questions posted for this location across all pages.",
          "format": "int32"
        }
      }
    },
    "Answer": {
      "id": "Answer",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*"
        },
        "author": {
          "readOnly": true,
          "$ref": "Author",
          "description": "Output only. The author of the answer. Will only be set during list operations."
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp for when the answer was last modified."
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents an answer to a question"
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total number of answers posted for this question across all pages.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response."
        },
        "answers": {
          "items": {
            "$ref": "Answer"
          },
          "description": "The requested answers.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for QuestionsAndAnswers.ListAnswers"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Question": {
      "id": "Question",
      "properties": {
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the question.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was last modified.",
          "type": "string"
        },
        "totalAnswerCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The total number of answers posted for this question.",
          "type": "integer"
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the question.",
          "$ref": "Author"
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters."
        },
        "topAnswers": {
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "type": "array",
          "items": {
            "$ref": "Answer"
          },
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was written.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        }
      },
      "description": "Represents a single question and some of its answers.",
      "type": "object"
    },
    "Author": {
      "id": "Author",
      "properties": {
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        },
        "profilePhotoUri": {
          "type": "string",
          "description": "The profile photo URI of the user."
        },
        "type": {
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "type": "string",
          "description": "The type of user the author is.",
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ]
        }
      },
      "type": "object",
      "description": "Represents the author of a question or answer"
    },
    "UpsertAnswerRequest": {
      "id": "UpsertAnswerRequest",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "Required. The new answer."
        }
      },
      "type": "object",
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer"
    }
  },
  "basePath": "",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "mybusinessqanda.locations.questions.list",
              "flatPath": "v1/locations/{locationsId}/questions",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "path": "v1/{+parent}",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "description": "Required. The name of the location to fetch questions for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "location": "query",
                  "type": "string"
                },
                "answersPerQuestion": {
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query"
                }
              }
            },
            "patch": {
              "request": {
                "$ref": "Question"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "required": true,
                  "pattern": "^locations/[^/]+/questions/[^/]+$"
                },
                "updateMask": {
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Question"
              },
              "httpMethod": "PATCH",
              "description": "Updates a specific question written by the current user.",
              "id": "mybusinessqanda.locations.questions.patch",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}"
            },
            "delete": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "description": "Required. The name of the question to delete.",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "id": "mybusinessqanda.locations.questions.delete",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a specific question written by the current user."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Question"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Question"
              },
              "path": "v1/{+parent}",
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "description": "Required. The name of the location to write a question for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Adds a question for the specified location.",
              "id": "mybusinessqanda.locations.questions.create",
              "flatPath": "v1/locations/{locationsId}/questions"
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "upsert": {
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Answer"
                  },
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "path": "v1/{+parent}/answers:upsert",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to write an answer for.",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the answer written by the current user to a question.",
                  "path": "v1/{+name}/answers:delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the question to delete an answer for.",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "path": "v1/{+parent}/answers",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the question to fetch answers for.",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$"
                    },
                    "orderBy": {
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns the paginated list of answers for a specified question."
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1",
  "ownerDomain": "google.com",
  "name": "mybusinessqanda",
  "batchPath": "batch"
}