{
  "resources": {
    "locations": {
      "methods": {
        "fetchVerificationOptions": {
          "response": {
            "$ref": "FetchVerificationOptionsResponse"
          },
          "path": "v1/{+location}:fetchVerificationOptions",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Required. The location to verify.",
              "location": "path",
              "required": true,
              "pattern": "^locations/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "FetchVerificationOptionsRequest"
          },
          "parameterOrder": [
            "location"
          ],
          "id": "mybusinessverifications.locations.fetchVerificationOptions",
          "flatPath": "v1/locations/{locationsId}:fetchVerificationOptions",
          "description": "Reports all eligible verification options for a location in a specific language."
        },
        "verify": {
          "id": "mybusinessverifications.locations.verify",
          "flatPath": "v1/locations/{locationsId}:verify",
          "description": "Starts the verification process for a location.",
          "request": {
            "$ref": "VerifyLocationRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "description": "Required. Resource name of the location to verify.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyLocationResponse"
          },
          "path": "v1/{+name}:verify"
        },
        "getVoiceOfMerchantState": {
          "response": {
            "$ref": "VoiceOfMerchantState"
          },
          "path": "v1/{+name}/VoiceOfMerchantState",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Resource name of the location.",
              "location": "path",
              "required": true,
              "pattern": "^locations/[^/]+$"
            }
          },
          "id": "mybusinessverifications.locations.getVoiceOfMerchantState",
          "flatPath": "v1/locations/{locationsId}/VoiceOfMerchantState",
          "httpMethod": "GET",
          "description": "Gets the VoiceOfMerchant state."
        }
      },
      "resources": {
        "verifications": {
          "methods": {
            "complete": {
              "response": {
                "$ref": "CompleteVerificationResponse"
              },
              "path": "v1/{+name}:complete",
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/verifications/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the verification to complete.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "CompleteVerificationRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessverifications.locations.verifications.complete",
              "flatPath": "v1/locations/{locationsId}/verifications/{verificationsId}:complete",
              "description": "Completes a `PENDING` verification. It is only necessary for non `AUTO` verification methods. `AUTO` verification request is instantly `VERIFIED` upon creation."
            },
            "list": {
              "path": "v1/{+parent}/verifications",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListVerificationsResponse"
              },
              "id": "mybusinessverifications.locations.verifications.list",
              "flatPath": "v1/locations/{locationsId}/verifications",
              "httpMethod": "GET",
              "description": "List verifications of a location, ordered by create time.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^locations/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the location that verification requests belong to.",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "How many verification to include per page. Minimum is 1, and the default and maximum page size is 100.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "If specified, returns the next page of verifications.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "verificationTokens": {
      "methods": {
        "generate": {
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/verificationTokens:generate",
          "response": {
            "$ref": "GenerateInstantVerificationTokenResponse"
          },
          "id": "mybusinessverifications.verificationTokens.generate",
          "flatPath": "v1/verificationTokens:generate",
          "description": "Generate a token for the provided location data to verify the location.",
          "parameterOrder": [],
          "request": {
            "$ref": "GenerateInstantVerificationTokenRequest"
          }
        }
      }
    }
  },
  "basePath": "",
  "discoveryVersion": "v1",
  "revision": "20260309",
  "ownerDomain": "google.com",
  "schemas": {
    "EmailVerificationData": {
      "type": "object",
      "id": "EmailVerificationData",
      "description": "Display data for verifications through email.",
      "properties": {
        "user": {
          "description": "User name in the email address. e.g. \"foo\" in foo@gmail.com",
          "type": "string"
        },
        "isUserNameEditable": {
          "description": "Whether client is allowed to provide a different user name.",
          "type": "boolean"
        },
        "domain": {
          "description": "Domain name in the email address. e.g. \"gmail.com\" in foo@gmail.com",
          "type": "string"
        }
      }
    },
    "ResolveOwnershipConflict": {
      "type": "object",
      "id": "ResolveOwnershipConflict",
      "description": "Indicates that the location duplicates another location that is in good standing.",
      "properties": {}
    },
    "CompleteVerificationRequest": {
      "type": "object",
      "id": "CompleteVerificationRequest",
      "description": "Request message for Verifications.CompleteVerificationAction.",
      "properties": {
        "pin": {
          "description": "Required. PIN code received by the merchant to complete the verification.",
          "type": "string"
        }
      }
    },
    "WaitForVoiceOfMerchant": {
      "type": "object",
      "id": "WaitForVoiceOfMerchant",
      "description": "Indicates that the location will gain voice of merchant after passing review.",
      "properties": {}
    },
    "ListVerificationsResponse": {
      "id": "ListVerificationsResponse",
      "description": "Response message for Verifications.ListVerifications.",
      "properties": {
        "nextPageToken": {
          "description": "If the number of verifications exceeded the requested page size, this field will be populated with a token to fetch the next page of verification on a subsequent call. If there are no more attributes, this field will not be present in the response.",
          "type": "string"
        },
        "verifications": {
          "type": "array",
          "items": {
            "$ref": "Verification"
          },
          "description": "List of the verifications."
        }
      },
      "type": "object"
    },
    "VoiceOfMerchantState": {
      "type": "object",
      "id": "VoiceOfMerchantState",
      "description": "Response message for VoiceOfMerchant.GetVoiceOfMerchantState.",
      "properties": {
        "hasVoiceOfMerchant": {
          "description": "Indicates whether the location is in good standing and has control over the business on Google. Any edits made to the location will propagate to Maps after passing the review phase.",
          "type": "boolean"
        },
        "complyWithGuidelines": {
          "description": "The location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177) and requires additional steps for reinstatement. To fix this issue, consult the [Help Center Article](https://support.google.com/business/answer/4569145).",
          "$ref": "ComplyWithGuidelines"
        },
        "hasBusinessAuthority": {
          "description": "Indicates whether the location has the authority (ownership) over the business on Google. If true, another location cannot take over and become the dominant listing on Maps. However, edits will not become live unless Voice of Merchant is gained (i.e. has_voice_of_merchant is true).",
          "type": "boolean"
        },
        "verify": {
          "description": "Start or continue the verification process.",
          "$ref": "Verify"
        },
        "resolveOwnershipConflict": {
          "$ref": "ResolveOwnershipConflict",
          "description": "This location duplicates another location that is in good standing. If you have access to the location in good standing, use that location's id to perform operations. Otherwise, request access from the current owner."
        },
        "waitForVoiceOfMerchant": {
          "$ref": "WaitForVoiceOfMerchant",
          "description": "Wait to gain Voice of Merchant. The location is under review for quality purposes."
        }
      }
    },
    "LocationData": {
      "type": "object",
      "id": "LocationData",
      "description": "The address and other details of the location to generate an instant verification token for.",
      "properties": {
        "name": {
          "description": "Immutable. Name should reflect your business's real-world name, as used consistently on your storefront, website, and stationery, and as known to customers. Any additional information, when relevant, can be included in other fields of the resource (for example, `Address`, `Categories`). Don't add unnecessary information to your name (for example, prefer \"Google\" over \"Google Inc. - Mountain View Corporate Headquarters\"). Don't include marketing taglines, store codes, special characters, hours or closed/open status, phone numbers, website URLs, service/product information, location/address or directions, or containment information (for example, \"Chase ATM in Duane Reade\").",
          "type": "string"
        },
        "address": {
          "$ref": "PostalAddress",
          "description": "Immutable. A precise, accurate address to describe your business location. PO boxes or mailboxes located at remote locations are not acceptable. At this time, you can specify a maximum of five `address_lines` values in the address."
        }
      }
    },
    "VerifyLocationResponse": {
      "type": "object",
      "id": "VerifyLocationResponse",
      "description": "Response message for Verifications.VerifyLocation.",
      "properties": {
        "verification": {
          "$ref": "Verification",
          "description": "The created verification request."
        }
      }
    },
    "GenerateInstantVerificationTokenResponse": {
      "id": "GenerateInstantVerificationTokenResponse",
      "description": "Response message for Verifications.GenerateInstantVerificationToken.",
      "properties": {
        "result": {
          "type": "string",
          "description": "Output only. The result of the instant verification token generation.",
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value, will result in errors.",
            "The instant verification token was generated successfully.",
            "The instant verification token was not generated.."
          ],
          "readOnly": true
        },
        "instantVerificationToken": {
          "description": "The generated instant verification token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchVerificationOptionsRequest": {
      "id": "FetchVerificationOptionsRequest",
      "description": "Request message for Verifications.FetchVerificationOptions.",
      "properties": {
        "languageCode": {
          "description": "Required. The BCP 47 language code representing the language that is to be used for the verification process. Available options vary by language.",
          "type": "string"
        },
        "context": {
          "$ref": "ServiceBusinessContext",
          "description": "Optional. Extra context information for the verification of service businesses. Can only be applied to the locations whose business type is CUSTOMER_LOCATION_ONLY. Specifying an accurate address could enable more options. INVALID_ARGUMENT will be thrown if it is set for other business types of locations."
        }
      },
      "type": "object"
    },
    "ServiceBusinessContext": {
      "type": "object",
      "id": "ServiceBusinessContext",
      "description": "Additional data for service business verification.",
      "properties": {
        "address": {
          "description": "The verification address of the location. It is used to either enable more verification options or send a postcard.",
          "$ref": "PostalAddress"
        }
      }
    },
    "FetchVerificationOptionsResponse": {
      "type": "object",
      "id": "FetchVerificationOptionsResponse",
      "description": "Response message for Verifications.FetchVerificationOptions.",
      "properties": {
        "options": {
          "description": "The available verification options.",
          "type": "array",
          "items": {
            "$ref": "VerificationOption"
          }
        }
      }
    },
    "VerificationOption": {
      "type": "object",
      "id": "VerificationOption",
      "description": "The verification option represents how to verify the location (indicated by verification method) and where the verification will be sent to (indicated by display data).",
      "properties": {
        "verificationMethod": {
          "type": "string",
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "VETTED_PARTNER",
            "TRUSTED_PARTNER"
          ],
          "description": "Method to verify the location.",
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "This option may not be available for all locations.",
            "Verify the location via a trusted partner."
          ]
        },
        "emailData": {
          "description": "Set only if the method is EMAIL.",
          "$ref": "EmailVerificationData"
        },
        "announcement": {
          "description": "Set only if the method is VETTED_PARTNER.",
          "type": "string"
        },
        "addressData": {
          "$ref": "AddressVerificationData",
          "description": "Set only if the method is MAIL."
        },
        "phoneNumber": {
          "description": "Set only if the method is PHONE_CALL or SMS. Phone number that the PIN will be sent to.",
          "type": "string"
        }
      }
    },
    "VerifyLocationRequest": {
      "id": "VerifyLocationRequest",
      "description": "Request message for Verifications.VerifyLocation.",
      "properties": {
        "languageCode": {
          "description": "Optional. The BCP 47 language code representing the language that is to be used for the verification process.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Optional. The input for EMAIL method. Email address where the PIN should be sent to. An email address is accepted only if it is one of the addresses provided by FetchVerificationOptions. If the EmailVerificationData has is_user_name_editable set to true, the client may specify a different user name (local-part) but must match the domain name.",
          "type": "string"
        },
        "token": {
          "$ref": "VerificationToken",
          "description": "Optional. The input for VETTED_PARTNER method available to select [partners.](https://support.google.com/business/answer/7674102) The input is not needed for a vetted account. Token that is associated to the location. Token that is associated to the location."
        },
        "context": {
          "description": "Optional. Extra context information for the verification of service businesses. It is only required for the locations whose business type is CUSTOMER_LOCATION_ONLY. For ADDRESS verification, the address will be used to send out postcard. For other methods, it should be the same as the one that is passed to GetVerificationOptions. INVALID_ARGUMENT will be thrown if it is set for other types of business locations.",
          "$ref": "ServiceBusinessContext"
        },
        "mailerContact": {
          "description": "Optional. The input for ADDRESS method. Contact name the mail should be sent to.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Optional. The input for PHONE_CALL/SMS method The phone number that should be called or be sent SMS to. It must be one of the phone numbers in the eligible options.",
          "type": "string"
        },
        "method": {
          "description": "Required. Verification method.",
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "This option may not be available for all locations.",
            "Verify the location via a trusted partner."
          ],
          "type": "string",
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "VETTED_PARTNER",
            "TRUSTED_PARTNER"
          ]
        },
        "trustedPartnerToken": {
          "description": "The input for TRUSTED_PARTNER method The verification token that is associated to the location.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VerificationToken": {
      "id": "VerificationToken",
      "description": "Token generated by a vetted [partner](https://support.google.com/business/answer/7674102).",
      "properties": {
        "tokenString": {
          "description": "The token string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Verification": {
      "id": "Verification",
      "description": "A verification represents a verification attempt on a location.",
      "properties": {
        "name": {
          "description": "Resource name of the verification.",
          "type": "string"
        },
        "method": {
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "VETTED_PARTNER",
            "TRUSTED_PARTNER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "This option may not be available for all locations.",
            "Verify the location via a trusted partner."
          ],
          "description": "The method of the verification."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETED",
            "FAILED"
          ],
          "description": "The state of the verification.",
          "enumDescriptions": [
            "Default value, will result in errors.",
            "The verification is pending.",
            "The verification is completed.",
            "The verification is failed."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the verification is requested."
        },
        "announcement": {
          "description": "Optional. Response announcement set only if the method is VETTED_PARTNER.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AddressVerificationData": {
      "id": "AddressVerificationData",
      "description": "Display data for verifications through postcard.",
      "properties": {
        "business": {
          "description": "Merchant's business name.",
          "type": "string"
        },
        "expectedDeliveryDaysRegion": {
          "description": "Expected number of days it takes to deliver a postcard to the address's region.",
          "type": "integer",
          "format": "int32"
        },
        "address": {
          "$ref": "PostalAddress",
          "description": "Address that a postcard can be sent to."
        }
      },
      "type": "object"
    },
    "ComplyWithGuidelines": {
      "type": "object",
      "id": "ComplyWithGuidelines",
      "description": "Indicates that the location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177).",
      "properties": {
        "recommendationReason": {
          "enumDescriptions": [
            "Not specified.",
            "The business location is suspended. To fix this issue, consult the [Help Center article](https://support.google.com/business/answer/4569145).",
            "The business location is disabled. To fix this issue, consult the [Help Center article](https://support.google.com/business/answer/9334246)."
          ],
          "description": "The reason why the location is being recommended to comply with guidelines.",
          "enum": [
            "RECOMMENDATION_REASON_UNSPECIFIED",
            "BUSINESS_LOCATION_SUSPENDED",
            "BUSINESS_LOCATION_DISABLED"
          ],
          "type": "string"
        }
      }
    },
    "Verify": {
      "type": "object",
      "id": "Verify",
      "description": "Indicates that the location requires verification. Contains information about the current verification actions performed on the location.",
      "properties": {
        "hasPendingVerification": {
          "description": "Indicates whether a verification process has already started, and can be completed by the location.",
          "type": "boolean"
        }
      }
    },
    "GenerateInstantVerificationTokenRequest": {
      "id": "GenerateInstantVerificationTokenRequest",
      "description": "Request message for Verifications.GenerateInstantVerificationToken.",
      "properties": {
        "locationData": {
          "description": "Immutable. The address and other details of the location to generate an instant verification token for.",
          "$ref": "LocationData"
        },
        "locationId": {
          "description": "The location identifier associated with an unverified listing. This is the location id generated at the time that the listing was originally created. It is the final portion of a location resource name as generated by the Google My Business API. Note: the caller must be an owner or manager of this listing in order to generate a verification token. See the [location resource](/my-business/reference/rest/v4/accounts.locations) documentation for more information.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompleteVerificationResponse": {
      "type": "object",
      "id": "CompleteVerificationResponse",
      "description": "Response message for Verifications.CompleteVerificationAction.",
      "properties": {
        "verification": {
          "$ref": "Verification",
          "description": "The completed verification."
        }
      }
    },
    "PostalAddress": {
      "id": "PostalAddress",
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "properties": {
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        }
      },
      "type": "object"
    }
  },
  "version_module": true,
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "canonicalName": "My Business Verifications",
  "protocol": "rest",
  "baseUrl": "https://mybusinessverifications.googleapis.com/",
  "title": "My Business Verifications API",
  "name": "mybusinessverifications",
  "version": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "servicePath": "",
  "mtlsRootUrl": "https://mybusinessverifications.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/my-business/",
  "description": "The My Business Verifications API provides an interface for taking verifications related actions for locations.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://mybusinessverifications.googleapis.com/",
  "id": "mybusinessverifications:v1"
}