{
  "revision": "20260429",
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "ownerDomain": "google.com",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "basePath": "",
  "id": "mybusinessplaceactions:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "name": "mybusinessplaceactions",
  "documentationLink": "https://developers.google.com/my-business/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "servicePath": "",
  "protocol": "rest",
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "version": "v1",
  "ownerName": "Google",
  "resources": {
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "get": {
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the place action link to fetch.",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "PlaceActionLink"
              },
              "httpMethod": "GET",
              "id": "mybusinessplaceactions.locations.placeActionLinks.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the specified place action link."
            },
            "patch": {
              "description": "Updates the specified place action link and returns it.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$"
                }
              },
              "response": {
                "$ref": "PlaceActionLink"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "path": "v1/{+name}"
            },
            "list": {
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the place action links for the specified location.",
              "path": "v1/{+parent}/placeActionLinks",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "pattern": "^locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If specified, returns the next page of place action links.",
                  "type": "string"
                }
              }
            },
            "create": {
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "response": {
                "$ref": "PlaceActionLink"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "pattern": "^locations/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/placeActionLinks",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a place action link from the specified location.",
              "httpMethod": "DELETE",
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "path": "v1/{+name}"
            }
          }
        }
      }
    },
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "parameters": {
            "languageCode": {
              "location": "query",
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size.",
              "type": "string"
            },
            "filter": {
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "flatPath": "v1/placeActionTypeMetadata",
          "path": "v1/placeActionTypeMetadata",
          "parameterOrder": [],
          "description": "Returns the list of available place action types for a location or country.",
          "httpMethod": "GET",
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list"
        }
      }
    }
  },
  "title": "My Business Place Actions API",
  "schemas": {
    "ListPlaceActionTypeMetadataResponse": {
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "type": "object",
      "id": "ListPlaceActionTypeMetadataResponse",
      "properties": {
        "placeActionTypeMetadata": {
          "description": "A collection of metadata for the available place action types.",
          "type": "array",
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          }
        },
        "nextPageToken": {
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response.",
          "type": "string"
        }
      }
    },
    "ListPlaceActionLinksResponse": {
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "type": "object",
      "id": "ListPlaceActionLinksResponse",
      "properties": {
        "placeActionLinks": {
          "items": {
            "$ref": "PlaceActionLink"
          },
          "description": "The returned list of place action links.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results.",
          "type": "string"
        }
      }
    },
    "PlaceActionLink": {
      "properties": {
        "uri": {
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location).",
          "type": "string"
        },
        "placeActionType": {
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "description": "Required. The type of place action that can be performed using this link.",
          "type": "string"
        },
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        },
        "isEditable": {
          "readOnly": true,
          "description": "Output only. Indicates whether this link can be edited by the client.",
          "type": "boolean"
        },
        "providerType": {
          "type": "string",
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ],
          "description": "Output only. Specifies the provider type.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ]
        },
        "updateTime": {
          "description": "Output only. The time when the place action link was last modified.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time when the place action link was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
          "type": "string"
        }
      },
      "id": "PlaceActionLink",
      "description": "Represents a place action link and its attributes.",
      "type": "object"
    },
    "PlaceActionTypeMetadata": {
      "description": "Metadata for supported place action types.",
      "type": "object",
      "id": "PlaceActionTypeMetadata",
      "properties": {
        "displayName": {
          "description": "The localized display name for the attribute, if available; otherwise, the English display name.",
          "type": "string"
        },
        "placeActionType": {
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "description": "The place action type.",
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ]
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    }
  },
  "version_module": true,
  "canonicalName": "My Business Place Actions"
}