{
  "canonicalName": "My Business Q&A",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "title": "My Business Q&A API",
  "id": "mybusinessqanda:v1",
  "schemas": {
    "ListQuestionsResponse": {
      "id": "ListQuestionsResponse",
      "type": "object",
      "properties": {
        "questions": {
          "description": "The requested questions,",
          "items": {
            "$ref": "Question"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of questions posted for this location across all pages."
        }
      },
      "description": "Response message for QuestionsAndAnswers.ListQuestions"
    },
    "UpsertAnswerRequest": {
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      },
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "id": "UpsertAnswerRequest",
      "type": "object"
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "type": "object",
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "properties": {
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer",
          "format": "int32"
        },
        "answers": {
          "description": "The requested answers.",
          "items": {
            "$ref": "Answer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Answer": {
      "id": "Answer",
      "type": "object",
      "description": "Represents an answer to a question",
      "properties": {
        "name": {
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "readOnly": true,
          "type": "string"
        },
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true,
          "$ref": "Author"
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the answer.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp for when the answer was last modified."
        }
      }
    },
    "Author": {
      "id": "Author",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        },
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "type": {
          "description": "The type of user the author is.",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "type": "string",
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ]
        }
      },
      "description": "Represents the author of a question or answer"
    },
    "Question": {
      "description": "Represents a single question and some of its answers.",
      "properties": {
        "author": {
          "$ref": "Author",
          "readOnly": true,
          "description": "Output only. The author of the question."
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the question.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp for when the question was written."
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "topAnswers": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "items": {
            "$ref": "Answer"
          }
        },
        "totalAnswerCount": {
          "description": "Output only. The total number of answers posted for this question.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the question was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Question",
      "type": "object"
    }
  },
  "basePath": "",
  "protocol": "rest",
  "ownerName": "Google",
  "version": "v1",
  "version_module": true,
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "mybusinessqanda",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/my-business/",
  "revision": "20260506",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "resources": {
            "answers": {
              "methods": {
                "list": {
                  "description": "Returns the paginated list of answers for a specified question.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The name of the question to fetch answers for.",
                      "location": "path",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "path": "v1/{+parent}/answers",
                  "httpMethod": "GET",
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  }
                },
                "upsert": {
                  "path": "v1/{+parent}/answers:upsert",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Answer"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the question to write an answer for.",
                      "location": "path",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question."
                },
                "delete": {
                  "path": "v1/{+name}/answers:delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "description": "Deletes the answer written by the current user to a question.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the question to delete an answer for.",
                      "location": "path",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "patch": {
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Question"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "required": true,
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "location": "path"
                }
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "request": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.patch",
              "description": "Updates a specific question written by the current user."
            },
            "delete": {
              "description": "Deletes a specific question written by the current user.",
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the question to delete.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "id": "mybusinessqanda.locations.questions.delete",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "path": "v1/{+parent}",
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/questions",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "id": "mybusinessqanda.locations.questions.list",
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$",
                  "required": true,
                  "description": "Required. The name of the location to fetch questions for.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "location": "query"
                },
                "answersPerQuestion": {
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "Question"
              },
              "path": "v1/{+parent}",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The name of the location to write a question for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessqanda.locations.questions.create",
              "flatPath": "v1/locations/{locationsId}/questions",
              "request": {
                "$ref": "Question"
              },
              "description": "Adds a question for the specified location."
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}