{
  "baseUrl": "https://mybusinessaccountmanagement.googleapis.com/",
  "description": "The My Business Account Management API provides an interface for managing access to a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "name": "mybusinessaccountmanagement",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "revision": "20260306",
  "canonicalName": "My Business Account Management",
  "servicePath": "",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "Account": {
      "id": "Account",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The resource name, in the format `accounts/{account_id}`."
        },
        "permissionLevel": {
          "enum": [
            "PERMISSION_LEVEL_UNSPECIFIED",
            "OWNER_LEVEL",
            "MEMBER_LEVEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The user has owner level permission.",
            "The user has member level permission."
          ],
          "readOnly": true,
          "description": "Output only. Specifies the permission level the user has for this account."
        },
        "vettedState": {
          "type": "string",
          "enumDescriptions": [
            "Not Specified",
            "The account is not vetted by Google.",
            "The account is vetted by Google and in a valid state. An account is automatically vetted if it has direct access to a vetted group account.",
            "The account is vetted but in an invalid state. The account will behave like an unvetted account."
          ],
          "enum": [
            "VETTED_STATE_UNSPECIFIED",
            "NOT_VETTED",
            "VETTED",
            "INVALID"
          ],
          "description": "Output only. Indicates whether the account is vetted by Google. A vetted account is able to verify locations via the VETTED_PARTNER method.",
          "readOnly": true
        },
        "accountName": {
          "description": "Required. The name of the account. For an account of type `PERSONAL`, this is the first and last name of the user account.",
          "type": "string"
        },
        "primaryOwner": {
          "type": "string",
          "description": "Required. Input only. The resource name of the account which will be the primary owner of the account being created. It should be of the form `accounts/{account_id}`."
        },
        "type": {
          "description": "Required. Contains the type of account. Accounts of type PERSONAL and ORGANIZATION cannot be created using this API.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "An end-user account.",
            "A group of Locations. For more information, see the [help center article] (https://support.google.com/business/answer/6085326)",
            "A User Group for segregating organization staff in groups. For more information, see the [help center article](https://support.google.com/business/answer/7655731)",
            "An organization representing a company. For more information, see the [help center article](https://support.google.com/business/answer/7663063)"
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "PERSONAL",
            "LOCATION_GROUP",
            "USER_GROUP",
            "ORGANIZATION"
          ]
        },
        "role": {
          "readOnly": true,
          "description": "Output only. Specifies the AccountRole of this account.",
          "enum": [
            "ACCOUNT_ROLE_UNSPECIFIED",
            "PRIMARY_OWNER",
            "OWNER",
            "MANAGER",
            "SITE_MANAGER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The user is the primary owner this account.",
            "The user owner of the account.",
            "The user can manage this account.",
            "The user can manage a limited set of features for the account."
          ]
        },
        "accountNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Account reference number if provisioned."
        },
        "organizationInfo": {
          "readOnly": true,
          "$ref": "OrganizationInfo",
          "description": "Output only. Additional info for an organization. This is populated only for an organization account."
        },
        "verificationState": {
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "VERIFICATION_REQUESTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Verified account.",
            "Account that is not verified, and verification has not been requested.",
            "Account that is not verified, but verification has been requested."
          ],
          "readOnly": true,
          "description": "Output only. If verified, future locations that are created are automatically connected to Google Maps, and have Google+ pages created, without requiring moderation."
        }
      },
      "type": "object",
      "description": "An account is a container for your location. If you are the only user who manages locations for your business, you can use your personal Google Account. To share management of locations with multiple users, [create a business account] (https://support.google.com/business/answer/6085339?ref_topic=6085325)."
    },
    "AcceptInvitationRequest": {
      "type": "object",
      "description": "Request message for AccessControl.AcceptInvitation.",
      "id": "AcceptInvitationRequest",
      "properties": {}
    },
    "OrganizationInfo": {
      "type": "object",
      "description": "Additional information stored for an organization.",
      "id": "OrganizationInfo",
      "properties": {
        "registeredDomain": {
          "description": "Output only. The registered domain for the account.",
          "type": "string",
          "readOnly": true
        },
        "address": {
          "readOnly": true,
          "$ref": "PostalAddress",
          "description": "Output only. The postal address for the account."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Output only. The contact number for the organization.",
          "readOnly": true
        }
      }
    },
    "ListLocationAdminsResponse": {
      "description": "Response message for AccessControl.ListLocationAdmins.",
      "type": "object",
      "id": "ListLocationAdminsResponse",
      "properties": {
        "admins": {
          "description": "A collection of Admins.",
          "type": "array",
          "items": {
            "$ref": "Admin"
          }
        }
      }
    },
    "ListAccountAdminsResponse": {
      "id": "ListAccountAdminsResponse",
      "properties": {
        "accountAdmins": {
          "type": "array",
          "items": {
            "$ref": "Admin"
          },
          "description": "A collection of Admin instances."
        }
      },
      "type": "object",
      "description": "Response message for AccessControl.ListAccountAdmins."
    },
    "DeclineInvitationRequest": {
      "type": "object",
      "description": "Request message for AccessControl.DeclineInvitation.",
      "id": "DeclineInvitationRequest",
      "properties": {}
    },
    "ListInvitationsResponse": {
      "type": "object",
      "description": "Response message for AccessControl.ListInvitations.",
      "id": "ListInvitationsResponse",
      "properties": {
        "invitations": {
          "type": "array",
          "items": {
            "$ref": "Invitation"
          },
          "description": "A collection of invitations that are pending for the account. The number of invitations listed here cannot exceed 1000."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "TransferLocationRequest": {
      "id": "TransferLocationRequest",
      "properties": {
        "destinationAccount": {
          "description": "Required. Name of the account resource to transfer the location to (for example, \"accounts/{account}\").",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for AccessControl.TransferLocation."
    },
    "Invitation": {
      "id": "Invitation",
      "properties": {
        "role": {
          "description": "Output only. The invited role on the account.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The admin has owner-level access and is the primary owner. (Displays as 'Primary Owner' in UI).",
            "The admin has owner-level access. (Displays as 'Owner' in UI).",
            "The admin has managerial access.",
            "The admin can manage social (Google+) pages. (Displays as 'Site Manager' in UI). This API doesn't allow creating an account admin with a SITE_MANAGER role."
          ],
          "enum": [
            "ADMIN_ROLE_UNSPECIFIED",
            "PRIMARY_OWNER",
            "OWNER",
            "MANAGER",
            "SITE_MANAGER"
          ]
        },
        "targetType": {
          "enum": [
            "TARGET_TYPE_UNSPECIFIED",
            "ACCOUNTS_ONLY",
            "LOCATIONS_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Set when target type is unspecified.",
            "List invitations only for targets of type Account.",
            "List invitations only for targets of type Location."
          ],
          "readOnly": true,
          "description": "Output only. Specifies which target types should appear in the response."
        },
        "name": {
          "description": "Required. The resource name for the invitation. `accounts/{account_id}/invitations/{invitation_id}`.",
          "type": "string"
        },
        "targetAccount": {
          "description": "The sparsely populated account this invitation is for.",
          "$ref": "Account"
        },
        "targetLocation": {
          "description": "The target location this invitation is for.",
          "$ref": "TargetLocation"
        }
      },
      "type": "object",
      "description": "Represents a pending invitation."
    },
    "Admin": {
      "type": "object",
      "description": "An administrator of an Account or a location.",
      "id": "Admin",
      "properties": {
        "account": {
          "description": "Immutable. The name of the Account resource that this Admin refers to. Used when calling locations.admins.create to invite a LocationGroup as an admin. If both this field and `admin` are set on `CREATE` requests, this field takes precedence and the email address in `admin` will be ignored. Format: `accounts/{account}`.",
          "type": "string"
        },
        "admin": {
          "description": "Optional. The name of the admin. When making the initial invitation, this is the invitee's email address. On `GET` calls, the user's email address is returned if the invitation is still pending. Otherwise, it contains the user's first and last names. This field is only needed to be set during admin creation.",
          "type": "string"
        },
        "role": {
          "enum": [
            "ADMIN_ROLE_UNSPECIFIED",
            "PRIMARY_OWNER",
            "OWNER",
            "MANAGER",
            "SITE_MANAGER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The admin has owner-level access and is the primary owner. (Displays as 'Primary Owner' in UI).",
            "The admin has owner-level access. (Displays as 'Owner' in UI).",
            "The admin has managerial access.",
            "The admin can manage social (Google+) pages. (Displays as 'Site Manager' in UI). This API doesn't allow creating an account admin with a SITE_MANAGER role."
          ],
          "description": "Required. Specifies the role that this admin uses with the specified Account or Location."
        },
        "name": {
          "description": "Immutable. The resource name. For account admins, this is in the form: `accounts/{account_id}/admins/{admin_id}` For location admins, this is in the form: `locations/{location_id}/admins/{admin_id}` This field will be ignored if set during admin creation.",
          "type": "string"
        },
        "pendingInvitation": {
          "readOnly": true,
          "description": "Output only. Indicates whether this admin has a pending invitation for the specified resource.",
          "type": "boolean"
        }
      }
    },
    "PostalAddress": {
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "type": "object",
      "id": "PostalAddress",
      "properties": {
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer",
          "format": "int32"
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "addressLines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        }
      }
    },
    "TargetLocation": {
      "id": "TargetLocation",
      "properties": {
        "locationName": {
          "description": "The name of the location to which the user is invited.",
          "type": "string"
        },
        "address": {
          "description": "The address of the location to which the user is invited.",
          "type": "string"
        }
      },
      "description": "Represents a target location for a pending invitation.",
      "type": "object"
    },
    "ListAccountsResponse": {
      "type": "object",
      "description": "Response message for Accounts.ListAccounts.",
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "description": "A collection of accounts to which the user has access. The personal account of the user doing the query will always be the first item of the result, unless it is filtered out.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "If the number of accounts exceeds the requested page size, this field is populated with a token to fetch the next page of accounts on a subsequent call to `accounts.list`. If there are no more accounts, this field is not present in the response.",
          "type": "string"
        }
      }
    }
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://mybusinessaccountmanagement.mtls.googleapis.com/",
  "basePath": "",
  "version_module": true,
  "resources": {
    "locations": {
      "methods": {
        "transfer": {
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the location to transfer. `locations/{location_id}`.",
              "location": "path",
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/locations/{locationsId}:transfer",
          "description": "Moves a location from an account that the user owns to another account that the same user administers. The user must be an owner of the account the location is currently associated with and must also be at least a manager of the destination account.",
          "path": "v1/{+name}:transfer",
          "id": "mybusinessaccountmanagement.locations.transfer",
          "request": {
            "$ref": "TransferLocationRequest"
          }
        }
      },
      "resources": {
        "admins": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the location this admin is created for. `locations/{location_id}/admins`."
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Admin"
              },
              "flatPath": "v1/locations/{locationsId}/admins",
              "description": "Invites the specified user to become an administrator for the specified location. The invitee must accept the invitation in order to be granted access to the location. See AcceptInvitation to programmatically accept an invitation.",
              "response": {
                "$ref": "Admin"
              },
              "id": "mybusinessaccountmanagement.locations.admins.create",
              "path": "v1/{+parent}/admins"
            },
            "list": {
              "id": "mybusinessaccountmanagement.locations.admins.list",
              "path": "v1/{+parent}/admins",
              "flatPath": "v1/locations/{locationsId}/admins",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the location to list admins of. `locations/{location_id}/admins`."
                }
              },
              "description": "Lists all of the admins for the specified location.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListLocationAdminsResponse"
              }
            },
            "patch": {
              "flatPath": "v1/locations/{locationsId}/admins/{adminsId}",
              "description": "Updates the Admin for the specified location. Only the AdminRole of the Admin can be updated.",
              "response": {
                "$ref": "Admin"
              },
              "id": "mybusinessaccountmanagement.locations.admins.patch",
              "path": "v1/{+name}",
              "request": {
                "$ref": "Admin"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+/admins/[^/]+$",
                  "type": "string",
                  "description": "Immutable. The resource name. For account admins, this is in the form: `accounts/{account_id}/admins/{admin_id}` For location admins, this is in the form: `locations/{location_id}/admins/{admin_id}` This field will be ignored if set during admin creation."
                },
                "updateMask": {
                  "description": "Required. The specific fields that should be updated. The only editable field is role.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "path": "v1/{+name}",
              "id": "mybusinessaccountmanagement.locations.admins.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/locations/{locationsId}/admins/{adminsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+/admins/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the admin to remove from the location."
                }
              },
              "description": "Removes the specified admin as a manager of the specified location."
            }
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "list": {
          "id": "mybusinessaccountmanagement.accounts.list",
          "path": "v1/accounts",
          "flatPath": "v1/accounts",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. How many accounts to fetch per page. The default and maximum is 20.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. If specified, the next page of accounts is retrieved. The `pageToken` is returned when a call to `accounts.list` returns more results than can fit into the requested page size.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "Optional. A filter constraining the accounts to return. The response includes only entries that match the filter. If `filter` is empty, then no constraints are applied and all accounts (paginated) are retrieved for the requested account. For example, a request with the filter `type=USER_GROUP` will only return user groups. The `type` field is the only supported filter.",
              "location": "query"
            },
            "parentAccount": {
              "type": "string",
              "description": "Optional. The resource name of the account for which the list of directly accessible accounts is to be retrieved. This only makes sense for Organizations and User Groups. If empty, will return `ListAccounts` for the authenticated user. `accounts/{account_id}`.",
              "location": "query"
            }
          },
          "description": "Lists all of the accounts for the authenticated user. This includes all accounts that the user owns, as well as any accounts for which the user has management rights.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListAccountsResponse"
          }
        },
        "get": {
          "flatPath": "v1/accounts/{accountsId}",
          "parameters": {
            "name": {
              "description": "Required. The name of the account to fetch.",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets the specified account. Returns `NOT_FOUND` if the account does not exist or if the caller does not have access rights to it.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "id": "mybusinessaccountmanagement.accounts.get",
          "path": "v1/{+name}"
        },
        "patch": {
          "parameters": {
            "validateOnly": {
              "description": "Optional. If true, the request is validated without actually updating the account.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "description": "Immutable. The resource name, in the format `accounts/{account_id}`.",
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The specific fields that should be updated. The only editable field is `accountName`.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "Account"
          },
          "id": "mybusinessaccountmanagement.accounts.patch",
          "path": "v1/{+name}",
          "flatPath": "v1/accounts/{accountsId}",
          "description": "Updates the specified business account. Personal accounts cannot be updated using this method.",
          "response": {
            "$ref": "Account"
          }
        },
        "create": {
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "Account"
          },
          "flatPath": "v1/accounts",
          "description": "Creates an account with the specified name and type under the given parent. - Personal accounts and Organizations cannot be created. - User Groups cannot be created with a Personal account as primary owner. - Location Groups cannot be created with a primary owner of a Personal account if the Personal account is in an Organization. - Location Groups cannot own Location Groups.",
          "response": {
            "$ref": "Account"
          },
          "id": "mybusinessaccountmanagement.accounts.create",
          "path": "v1/accounts"
        }
      },
      "resources": {
        "invitations": {
          "methods": {
            "accept": {
              "request": {
                "$ref": "AcceptInvitationRequest"
              },
              "flatPath": "v1/accounts/{accountsId}/invitations/{invitationsId}:accept",
              "description": "Accepts the specified invitation.",
              "response": {
                "$ref": "Empty"
              },
              "id": "mybusinessaccountmanagement.accounts.invitations.accept",
              "path": "v1/{+name}:accept",
              "parameters": {
                "name": {
                  "description": "Required. The name of the invitation that is being accepted. `accounts/{account_id}/invitations/{invitation_id}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/invitations/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "decline": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/invitations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the account invitation that is being declined. `accounts/{account_id}/invitations/{invitation_id}`"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessaccountmanagement.accounts.invitations.decline",
              "path": "v1/{+name}:decline",
              "flatPath": "v1/accounts/{accountsId}/invitations/{invitationsId}:decline",
              "description": "Declines the specified invitation.",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "DeclineInvitationRequest"
              }
            },
            "list": {
              "path": "v1/{+parent}/invitations",
              "id": "mybusinessaccountmanagement.accounts.invitations.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListInvitationsResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/invitations",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the account from which the list of invitations is being retrieved. `accounts/{account_id}/invitations`"
                },
                "filter": {
                  "description": "Optional. Filtering the response is supported via the Invitation.target_type field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists pending invitations for the specified account."
            }
          }
        },
        "admins": {
          "methods": {
            "delete": {
              "path": "v1/{+name}",
              "id": "mybusinessaccountmanagement.accounts.admins.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/accounts/{accountsId}/admins/{adminsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/admins/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the admin to remove from the account. `accounts/{account_id}/admins/{admin_id}`."
                }
              },
              "description": "Removes the specified admin from the specified account."
            },
            "list": {
              "flatPath": "v1/accounts/{accountsId}/admins",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the account from which to retrieve a list of admins. `accounts/{account_id}/admins`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Lists the admins for the specified account.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountAdminsResponse"
              },
              "id": "mybusinessaccountmanagement.accounts.admins.list",
              "path": "v1/{+parent}/admins"
            },
            "patch": {
              "parameters": {
                "name": {
                  "description": "Immutable. The resource name. For account admins, this is in the form: `accounts/{account_id}/admins/{admin_id}` For location admins, this is in the form: `locations/{location_id}/admins/{admin_id}` This field will be ignored if set during admin creation.",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/admins/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The specific fields that should be updated. The only editable field is role.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Admin"
              },
              "flatPath": "v1/accounts/{accountsId}/admins/{adminsId}",
              "description": "Updates the Admin for the specified Account Admin.",
              "response": {
                "$ref": "Admin"
              },
              "id": "mybusinessaccountmanagement.accounts.admins.patch",
              "path": "v1/{+name}"
            },
            "create": {
              "path": "v1/{+parent}/admins",
              "id": "mybusinessaccountmanagement.accounts.admins.create",
              "response": {
                "$ref": "Admin"
              },
              "flatPath": "v1/accounts/{accountsId}/admins",
              "description": "Invites the specified user to become an administrator for the specified account. The invitee must accept the invitation in order to be granted access to the account. See AcceptInvitation to programmatically accept an invitation.",
              "request": {
                "$ref": "Admin"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the account this admin is created for. `accounts/{account_id}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1",
  "rootUrl": "https://mybusinessaccountmanagement.googleapis.com/",
  "documentationLink": "https://developers.google.com/my-business/",
  "id": "mybusinessaccountmanagement:v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "My Business Account Management API"
}