{
  "protocol": "rest",
  "version_module": true,
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "revision": "20260311",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "documentationLink": "https://developers.google.com/my-business/",
  "basePath": "",
  "title": "My Business Q&A API",
  "discoveryVersion": "v1",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "id": "mybusinessqanda:v1",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "resources": {
            "answers": {
              "methods": {
                "upsert": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "response": {
                    "$ref": "Answer"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the question to write an answer for.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "httpMethod": "POST",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "path": "v1/{+parent}/answers:upsert"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the question to fetch answers for.",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "path": "v1/{+parent}/answers",
                  "description": "Returns the paginated list of answers for a specified question.",
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes the answer written by the current user to a question.",
                  "path": "v1/{+name}/answers:delete",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the question to delete an answer for.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1/locations/{locationsId}/questions",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessqanda.locations.questions.list",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10."
                },
                "pageToken": {
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\""
                },
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the location to fetch questions for.",
                  "location": "path"
                },
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "location": "query",
                  "type": "string"
                },
                "answersPerQuestion": {
                  "format": "int32",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "httpMethod": "GET",
              "path": "v1/{+parent}"
            },
            "patch": {
              "id": "mybusinessqanda.locations.questions.patch",
              "path": "v1/{+name}",
              "description": "Updates a specific question written by the current user.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Question"
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "response": {
                "$ref": "Question"
              },
              "httpMethod": "PATCH"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessqanda.locations.questions.delete",
              "parameters": {
                "name": {
                  "description": "Required. The name of the question to delete.",
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "description": "Deletes a specific question written by the current user.",
              "httpMethod": "DELETE"
            },
            "create": {
              "id": "mybusinessqanda.locations.questions.create",
              "description": "Adds a question for the specified location.",
              "path": "v1/{+parent}",
              "flatPath": "v1/locations/{locationsId}/questions",
              "response": {
                "$ref": "Question"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the location to write a question for.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Question"
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "canonicalName": "My Business Q&A",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "ownerName": "Google",
  "name": "mybusinessqanda",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "schemas": {
    "Answer": {
      "description": "Represents an answer to a question",
      "type": "object",
      "properties": {
        "upvoteCount": {
          "format": "int32",
          "description": "Output only. The number of upvotes for the answer.",
          "readOnly": true,
          "type": "integer"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "readOnly": true
        },
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true,
          "$ref": "Author"
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "readOnly": true
        }
      },
      "id": "Answer"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Question": {
      "description": "Represents a single question and some of its answers.",
      "id": "Question",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "totalAnswerCount": {
          "description": "Output only. The total number of answers posted for this question.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "author": {
          "description": "Output only. The author of the question.",
          "readOnly": true,
          "$ref": "Author"
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp for when the question was written.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "upvoteCount": {
          "type": "integer",
          "description": "Output only. The number of upvotes for the question.",
          "readOnly": true,
          "format": "int32"
        },
        "topAnswers": {
          "type": "array",
          "items": {
            "$ref": "Answer"
          },
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "readOnly": true
        }
      }
    },
    "ListAnswersResponse": {
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "id": "ListAnswersResponse",
      "type": "object",
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "Answer"
          },
          "description": "The requested answers."
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        }
      }
    },
    "UpsertAnswerRequest": {
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "id": "UpsertAnswerRequest",
      "type": "object",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "Required. The new answer."
        }
      }
    },
    "ListQuestionsResponse": {
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "type": "object",
      "properties": {
        "questions": {
          "description": "The requested questions,",
          "type": "array",
          "items": {
            "$ref": "Question"
          }
        },
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        }
      },
      "id": "ListQuestionsResponse"
    },
    "Author": {
      "description": "Represents the author of a question or answer",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        },
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "description": "The type of user the author is."
        }
      },
      "id": "Author"
    }
  }
}