{
  "id": "mybusinessplaceactions:v1",
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "protocol": "rest",
  "revision": "20260408",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "canonicalName": "My Business Place Actions",
  "documentationLink": "https://developers.google.com/my-business/",
  "discoveryVersion": "v1",
  "resources": {
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "path": "v1/placeActionTypeMetadata",
          "httpMethod": "GET",
          "flatPath": "v1/placeActionTypeMetadata",
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "parameterOrder": [],
          "description": "Returns the list of available place action types for a location or country.",
          "parameters": {
            "languageCode": {
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned."
            }
          }
        }
      }
    },
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If specified, returns the next page of place action links."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "pattern": "^locations/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "description": "Lists the place action links for the specified location.",
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "path": "v1/{+parent}/placeActionLinks",
              "httpMethod": "GET"
            },
            "patch": {
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error.",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates the specified place action link and returns it.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PlaceActionLink"
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}"
            },
            "delete": {
              "description": "Deletes a place action link from the specified location.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the place action link to remove from the location."
                }
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "response": {
                "$ref": "Empty"
              }
            },
            "create": {
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "pattern": "^locations/[^/]+$"
                }
              },
              "path": "v1/{+parent}/placeActionLinks",
              "httpMethod": "POST",
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "request": {
                "$ref": "PlaceActionLink"
              }
            },
            "get": {
              "id": "mybusinessplaceactions.locations.placeActionLinks.get",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the place action link to fetch.",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the specified place action link."
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "ownerName": "Google",
  "version_module": true,
  "version": "v1",
  "title": "My Business Place Actions API",
  "name": "mybusinessplaceactions",
  "schemas": {
    "ListPlaceActionLinksResponse": {
      "type": "object",
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "properties": {
        "nextPageToken": {
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results.",
          "type": "string"
        },
        "placeActionLinks": {
          "items": {
            "$ref": "PlaceActionLink"
          },
          "description": "The returned list of place action links.",
          "type": "array"
        }
      },
      "id": "ListPlaceActionLinksResponse"
    },
    "PlaceActionLink": {
      "id": "PlaceActionLink",
      "description": "Represents a place action link and its attributes.",
      "properties": {
        "providerType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ],
          "description": "Output only. Specifies the provider type.",
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ]
        },
        "uri": {
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location).",
          "type": "string"
        },
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response."
        },
        "isEditable": {
          "type": "boolean",
          "description": "Output only. Indicates whether this link can be edited by the client.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the place action link was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "placeActionType": {
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "description": "Required. The type of place action that can be performed using this link.",
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the place action link was last modified.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListPlaceActionTypeMetadataResponse": {
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "properties": {
        "placeActionTypeMetadata": {
          "type": "array",
          "description": "A collection of metadata for the available place action types.",
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response."
        }
      },
      "type": "object",
      "id": "ListPlaceActionTypeMetadataResponse"
    },
    "PlaceActionTypeMetadata": {
      "type": "object",
      "description": "Metadata for supported place action types.",
      "properties": {
        "displayName": {
          "description": "The localized display name for the attribute, if available; otherwise, the English display name.",
          "type": "string"
        },
        "placeActionType": {
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "description": "The place action type.",
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ]
        }
      },
      "id": "PlaceActionTypeMetadata"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    }
  },
  "fullyEncodeReservedExpansion": true
}