{
  "schemas": {
    "UpsertAnswerRequest": {
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      },
      "id": "UpsertAnswerRequest",
      "type": "object",
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "Question": {
      "description": "Represents a single question and some of its answers.",
      "id": "Question",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp for when the question was written.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the question was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters."
        },
        "topAnswers": {
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          },
          "type": "array"
        },
        "author": {
          "description": "Output only. The author of the question.",
          "readOnly": true,
          "$ref": "Author"
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the question.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
        },
        "totalAnswerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of answers posted for this question.",
          "readOnly": true
        }
      }
    },
    "Answer": {
      "description": "Represents an answer to a question",
      "id": "Answer",
      "type": "object",
      "properties": {
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true,
          "$ref": "Author"
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the answer.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the answer was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        }
      }
    },
    "ListQuestionsResponse": {
      "properties": {
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "type": "integer",
          "format": "int32"
        },
        "questions": {
          "description": "The requested questions,",
          "items": {
            "$ref": "Question"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        }
      },
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "id": "ListQuestionsResponse",
      "type": "object"
    },
    "Author": {
      "id": "Author",
      "type": "object",
      "description": "Represents the author of a question or answer",
      "properties": {
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "description": "The type of user the author is.",
          "type": "string",
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        }
      }
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "type": "object",
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response."
        },
        "answers": {
          "description": "The requested answers.",
          "items": {
            "$ref": "Answer"
          },
          "type": "array"
        },
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "canonicalName": "My Business Q&A",
  "id": "mybusinessqanda:v1",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "ownerDomain": "google.com",
  "title": "My Business Q&A API",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "discoveryVersion": "v1",
  "version": "v1",
  "basePath": "",
  "batchPath": "batch",
  "name": "mybusinessqanda",
  "version_module": true,
  "revision": "20260309",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "resources": {
            "answers": {
              "methods": {
                "list": {
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/answers",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to fetch answers for.",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns the paginated list of answers for a specified question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  }
                },
                "upsert": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "response": {
                    "$ref": "Answer"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to write an answer for.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/answers:upsert"
                },
                "delete": {
                  "path": "v1/{+name}/answers:delete",
                  "parameters": {
                    "name": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the question to delete an answer for."
                    }
                  },
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the answer written by the current user to a question."
                }
              }
            }
          },
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a specific question written by the current user.",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "response": {
                "$ref": "Empty"
              },
              "id": "mybusinessqanda.locations.questions.delete",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the question to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "mybusinessqanda.locations.questions.list",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "type": "string"
                },
                "answersPerQuestion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\""
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the location to fetch questions for.",
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}",
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "flatPath": "v1/locations/{locationsId}/questions",
              "response": {
                "$ref": "ListQuestionsResponse"
              }
            },
            "create": {
              "flatPath": "v1/locations/{locationsId}/questions",
              "response": {
                "$ref": "Question"
              },
              "request": {
                "$ref": "Question"
              },
              "description": "Adds a question for the specified location.",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the location to write a question for.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$"
                }
              },
              "path": "v1/{+parent}",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessqanda.locations.questions.create"
            },
            "patch": {
              "request": {
                "$ref": "Question"
              },
              "description": "Updates a specific question written by the current user.",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "response": {
                "$ref": "Question"
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$"
                },
                "updateMask": {
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessqanda.locations.questions.patch"
            }
          }
        }
      }
    }
  },
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/my-business/",
  "fullyEncodeReservedExpansion": true
}