{
  "protocol": "rest",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "servicePath": "",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "version": "v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "schemas": {
    "Answer": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*"
        },
        "upvoteCount": {
          "format": "int32",
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer",
          "readOnly": true
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters."
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "$ref": "Author"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was last modified."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Answer",
      "description": "Represents an answer to a question"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ListQuestionsResponse": {
      "id": "ListQuestionsResponse",
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total number of questions posted for this location across all pages.",
          "type": "integer"
        },
        "questions": {
          "description": "The requested questions,",
          "type": "array",
          "items": {
            "$ref": "Question"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response."
        }
      },
      "type": "object"
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "properties": {
        "answers": {
          "items": {
            "$ref": "Answer"
          },
          "type": "array",
          "description": "The requested answers."
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "UpsertAnswerRequest": {
      "type": "object",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      },
      "id": "UpsertAnswerRequest",
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer"
    },
    "Question": {
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was last modified."
        },
        "author": {
          "readOnly": true,
          "$ref": "Author",
          "description": "Output only. The author of the question."
        },
        "totalAnswerCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The total number of answers posted for this question."
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters."
        },
        "topAnswers": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          },
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)"
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "upvoteCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of upvotes for the question.",
          "format": "int32"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp for when the question was written.",
          "format": "google-datetime"
        }
      },
      "id": "Question",
      "description": "Represents a single question and some of its answers.",
      "type": "object"
    },
    "Author": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        },
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of user the author is.",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ]
        }
      },
      "id": "Author",
      "description": "Represents the author of a question or answer",
      "type": "object"
    }
  },
  "batchPath": "batch",
  "version_module": true,
  "discoveryVersion": "v1",
  "title": "My Business Q&A API",
  "kind": "discovery#restDescription",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path",
                  "description": "Required. The name of the location to write a question for."
                }
              },
              "description": "Adds a question for the specified location.",
              "httpMethod": "POST",
              "path": "v1/{+parent}",
              "response": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.create",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/locations/{locationsId}/questions",
              "request": {
                "$ref": "Question"
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}",
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\""
                },
                "pageSize": {
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path",
                  "description": "Required. The name of the location to fetch questions for."
                },
                "answersPerQuestion": {
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "id": "mybusinessqanda.locations.questions.list"
            },
            "patch": {
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "request": {
                "$ref": "Question"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessqanda.locations.questions.patch",
              "response": {
                "$ref": "Question"
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a specific question written by the current user.",
              "parameters": {
                "name": {
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the question to delete.",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Deletes a specific question written by the current user.",
              "response": {
                "$ref": "Empty"
              },
              "id": "mybusinessqanda.locations.questions.delete"
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "upsert": {
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the question to write an answer for.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/answers:upsert",
                  "httpMethod": "POST",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "response": {
                    "$ref": "Answer"
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the answer written by the current user to a question.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the question to delete an answer for.",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}/answers:delete",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "description": "Returns the paginated list of answers for a specified question.",
                  "parameters": {
                    "parent": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the question to fetch answers for.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'."
                    },
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/answers",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "mybusinessqanda:v1",
  "revision": "20260407",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "canonicalName": "My Business Q&A",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "mybusinessqanda"
}