{
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/netapp/",
  "schemas": {
    "VerifyKmsConfigRequest": {
      "id": "VerifyKmsConfigRequest",
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "type": "object",
      "properties": {}
    },
    "ListHostGroupsResponse": {
      "id": "ListHostGroupsResponse",
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "hostGroups": {
          "type": "array",
          "items": {
            "$ref": "HostGroup"
          },
          "description": "The list of host groups."
        }
      }
    },
    "ExecuteOntapDeleteResponse": {
      "type": "object",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ExecuteOntapDeleteResponse",
      "description": "Response message for `ExecuteOntapDelete` API."
    },
    "CacheConfig": {
      "type": "object",
      "properties": {
        "writebackEnabled": {
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "cachePrePopulateState": {
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ],
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ]
        },
        "cachePrePopulate": {
          "description": "Optional. Pre-populate cache volume with data from the origin volume.",
          "$ref": "CachePrePopulate"
        },
        "cifsChangeNotifyEnabled": {
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume.",
          "type": "boolean"
        }
      },
      "id": "CacheConfig",
      "description": "Configuration of the cache volume."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListVolumesResponse": {
      "id": "ListVolumesResponse",
      "description": "Message for response to listing Volumes",
      "type": "object",
      "properties": {
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          },
          "description": "The list of Volume"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "SimpleExportPolicyRule": {
      "type": "object",
      "properties": {
        "squashMode": {
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ]
        },
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "kerberos5ReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "kerberos5iReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "accessType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ],
          "description": "Access type (ReadWrite, ReadOnly, None)"
        },
        "kerberos5pReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5pReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "anonUid": {
          "type": "string",
          "format": "int64",
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`."
        },
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "kerberos5ReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode.",
          "type": "boolean"
        },
        "nfsv3": {
          "description": "NFS V3 protocol.",
          "type": "boolean"
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "kerberos5iReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode.",
          "type": "boolean"
        }
      },
      "id": "SimpleExportPolicyRule",
      "description": "An export policy rule describing various export options."
    },
    "TieringPolicy": {
      "type": "object",
      "properties": {
        "coolingThresholdDays": {
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31.",
          "type": "integer",
          "format": "int32"
        },
        "tierAction": {
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED."
        },
        "hotTierBypassModeEnabled": {
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level.",
          "type": "boolean"
        }
      },
      "id": "TieringPolicy",
      "description": "Defines tiering policy for the volume."
    },
    "TransferStats": {
      "id": "TransferStats",
      "description": "TransferStats reports all statistics related to replication transfer.",
      "type": "object",
      "properties": {
        "lagDuration": {
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content.",
          "type": "string",
          "format": "google-duration"
        },
        "transferBytes": {
          "type": "string",
          "format": "int64",
          "description": "Cumulative bytes transferred so far for the replication relationship."
        },
        "lastTransferBytes": {
          "description": "Last transfer size in bytes.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "description": "Time when progress was updated last.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalTransferDuration": {
          "description": "Cumulative time taken across all transfers for the replication relationship.",
          "type": "string",
          "format": "google-duration"
        },
        "lastTransferDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Time taken during last transfer."
        },
        "lastTransferEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when last transfer completed."
        },
        "lastTransferError": {
          "description": "A message describing the cause of the last transfer failure.",
          "type": "string"
        }
      }
    },
    "QuotaRule": {
      "id": "QuotaRule",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ],
          "description": "Required. The type of quota rule."
        },
        "description": {
          "description": "Optional. Description of the quota rule",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels of the quota rule"
        },
        "stateDetails": {
          "description": "Output only. State details of the quota rule",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the quota rule",
          "readOnly": true
        },
        "diskLimitMib": {
          "description": "Required. The maximum allowed disk space in MiB.",
          "type": "integer",
          "format": "int32"
        },
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "readOnly": true,
          "description": "Output only. State of the quota rule"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "ListActiveDirectoriesResponse": {
      "type": "object",
      "properties": {
        "activeDirectories": {
          "type": "array",
          "items": {
            "$ref": "ActiveDirectory"
          },
          "description": "The list of active directories."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListActiveDirectoriesResponse",
      "description": "ListActiveDirectoriesResponse contains all the active directories requested."
    },
    "ResumeReplicationRequest": {
      "type": "object",
      "properties": {},
      "id": "ResumeReplicationRequest",
      "description": "ResumeReplicationRequest resumes a stopped replication."
    },
    "RestoreBackupFilesRequest": {
      "id": "RestoreBackupFilesRequest",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "type": "object",
      "properties": {
        "fileList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume."
        },
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided.",
          "type": "string"
        },
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        }
      }
    },
    "LargeCapacityConfig": {
      "id": "LargeCapacityConfig",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 12 TiB to 20 PiB, it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "type": "object",
      "properties": {
        "constituentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2."
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SnapshotPolicy": {
      "type": "object",
      "properties": {
        "hourlySchedule": {
          "description": "Hourly schedule policy.",
          "$ref": "HourlySchedule"
        },
        "dailySchedule": {
          "description": "Daily schedule policy.",
          "$ref": "DailySchedule"
        },
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        },
        "enabled": {
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false.",
          "type": "boolean"
        },
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        }
      },
      "id": "SnapshotPolicy",
      "description": "Snapshot Policy for a volume."
    },
    "ListBackupVaultsResponse": {
      "id": "ListBackupVaultsResponse",
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "type": "object",
      "properties": {
        "backupVaults": {
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          },
          "description": "A list of backupVaults in the project for the specified location."
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListKmsConfigsResponse": {
      "type": "object",
      "properties": {
        "kmsConfigs": {
          "type": "array",
          "items": {
            "$ref": "KmsConfig"
          },
          "description": "The list of KmsConfigs"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListKmsConfigsResponse",
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest."
    },
    "ListSnapshotsResponse": {
      "type": "object",
      "properties": {
        "snapshots": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "A list of snapshots in the project for the specified volume."
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListSnapshotsResponse",
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest."
    },
    "StopReplicationRequest": {
      "type": "object",
      "properties": {
        "force": {
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later.",
          "type": "boolean"
        }
      },
      "id": "StopReplicationRequest",
      "description": "StopReplicationRequest stops a replication until resumed."
    },
    "Volume": {
      "type": "object",
      "properties": {
        "serviceLevel": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "description": "Output only. Service level of the volume"
        },
        "cloneDetails": {
          "readOnly": true,
          "description": "Output only. If this volume is a clone, this field contains details about the clone.",
          "$ref": "CloneDetails"
        },
        "kerberosEnabled": {
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p).",
          "type": "boolean"
        },
        "multipleEndpoints": {
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Create time of the volume",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "snapReserve": {
          "type": "number",
          "format": "double",
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent."
        },
        "protocols": {
          "description": "Required. Protocols required for the volume",
          "type": "array",
          "items": {
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol"
            ]
          }
        },
        "backupConfig": {
          "description": "BackupConfig of the volume.",
          "$ref": "BackupConfig"
        },
        "replicaZone": {
          "readOnly": true,
          "description": "Output only. Specifies the replica zone for regional volume.",
          "type": "string"
        },
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs"
        },
        "largeCapacityConfig": {
          "description": "Optional. Large capacity config for the volume.",
          "$ref": "LargeCapacityConfig"
        },
        "activeDirectory": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume."
        },
        "encryptionType": {
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "description": "Output only. Specified the current volume encryption key source."
        },
        "name": {
          "description": "Identifier. Name of the volume",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "readOnly": true,
          "description": "Output only. State of the volume"
        },
        "unixPermissions": {
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only.",
          "type": "string"
        },
        "psaRange": {
          "readOnly": true,
          "description": "Output only. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "restrictedActions": {
          "description": "Optional. List of actions that are restricted on this volume.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ],
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ]
          }
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. State details of the volume",
          "type": "string"
        },
        "mountOptions": {
          "readOnly": true,
          "description": "Output only. Mount options of this volume",
          "type": "array",
          "items": {
            "$ref": "MountOption"
          }
        },
        "coldTierSizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "readOnly": true
        },
        "snapshotDirectory": {
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots.",
          "type": "boolean"
        },
        "hotTierSizeUsedGib": {
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "type": "string",
          "format": "int64"
        },
        "snapshotPolicy": {
          "description": "Optional. SnapshotPolicy for a volume.",
          "$ref": "SnapshotPolicy"
        },
        "tieringPolicy": {
          "description": "Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "shareName": {
          "description": "Required. Share name of the volume",
          "type": "string"
        },
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}"
        },
        "securityStyle": {
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ],
          "type": "string",
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "description": "Optional. Security Style of the Volume"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the volume",
          "type": "string",
          "format": "int64"
        },
        "blockDevices": {
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume.",
          "type": "array",
          "items": {
            "$ref": "BlockDevice"
          }
        },
        "usedGib": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage."
        },
        "description": {
          "description": "Optional. Description of the volume",
          "type": "string"
        },
        "largeCapacity": {
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume.",
          "type": "boolean"
        },
        "smbSettings": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ],
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ]
          },
          "description": "Optional. SMB share settings for the volume."
        },
        "ldapEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not."
        },
        "restoreParameters": {
          "description": "Optional. Specifies the source of the volume to be created from.",
          "$ref": "RestoreParameters"
        },
        "kmsConfig": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the KMS config to be used for volume encryption."
        },
        "hasReplication": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the volume is part of a replication relationship."
        },
        "storagePool": {
          "description": "Required. StoragePool name of the volume",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Output only. Specifies the active zone for regional volume.",
          "readOnly": true
        },
        "hybridReplicationParameters": {
          "description": "Optional. The Hybrid Replication parameters for the volume.",
          "$ref": "HybridReplicationParameters"
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "throughputMibps": {
          "type": "number",
          "format": "double",
          "description": "Optional. Throughput of the volume (in MiB/s)"
        }
      },
      "id": "Volume",
      "description": "Volume provides a filesystem that you can mount."
    },
    "ExecuteOntapGetResponse": {
      "id": "ExecuteOntapGetResponse",
      "description": "Response message for `ExecuteOntapGet` API.",
      "type": "object",
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The raw `JSON` body of the response."
        }
      }
    },
    "CachePrePopulate": {
      "id": "CachePrePopulate",
      "description": "Pre-populate cache volume with data from the origin volume.",
      "type": "object",
      "properties": {
        "pathList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume."
        },
        "excludePathList": {
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        }
      }
    },
    "EstablishPeeringRequest": {
      "id": "EstablishPeeringRequest",
      "description": "EstablishPeeringRequest establishes cluster and svm peerings between the source and the destination replications.",
      "type": "object",
      "properties": {
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of IPv4 ip addresses to be used for peering."
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "BackupConfig": {
      "type": "object",
      "properties": {
        "backupPolicies": {
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        },
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        },
        "backupChainBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "readOnly": true
        }
      },
      "id": "BackupConfig",
      "description": "BackupConfig contains backup related config on a volume."
    },
    "ListReplicationsResponse": {
      "id": "ListReplicationsResponse",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "replications": {
          "description": "A list of replications in the project for the specified volume.",
          "type": "array",
          "items": {
            "$ref": "Replication"
          }
        }
      }
    },
    "ExportPolicy": {
      "type": "object",
      "properties": {
        "rules": {
          "description": "Required. List of export policy rules",
          "type": "array",
          "items": {
            "$ref": "SimpleExportPolicyRule"
          }
        }
      },
      "id": "ExportPolicy",
      "description": "Defines the export policy for the volume."
    },
    "DailySchedule": {
      "id": "DailySchedule",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "type": "object",
      "properties": {
        "snapshotsToKeep": {
          "type": "number",
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ExecuteOntapPostRequest": {
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "ExecuteOntapPostRequest",
      "description": "Request message for `ExecuteOntapPost` API."
    },
    "BlockDevice": {
      "type": "object",
      "properties": {
        "hostGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created."
        },
        "identifier": {
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "readOnly": true,
          "type": "string"
        },
        "osType": {
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ]
        },
        "name": {
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed.",
          "type": "string"
        },
        "sizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`."
        }
      },
      "id": "BlockDevice",
      "description": "Block device represents the device(s) which are stored in the block volume."
    },
    "ActiveDirectory": {
      "id": "ActiveDirectory",
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "type": "object",
      "properties": {
        "securityOperators": {
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "administrators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Admininstrators group."
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "kdcIp": {
          "description": "KDC server IP address for the active directory machine.",
          "type": "string"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "aesEncryption": {
          "description": "If enabled, AES encryption will be enabled for SMB communication.",
          "type": "boolean"
        },
        "username": {
          "description": "Required. Username of the Active Directory domain administrator.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels for the active directory."
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the active directory.",
          "type": "string",
          "format": "google-datetime"
        },
        "netBiosPrefix": {
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name.",
          "type": "string"
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery too.",
          "type": "string"
        },
        "encryptDcConnections": {
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted.",
          "type": "boolean"
        },
        "ldapSigning": {
          "description": "Specifies whether or not the LDAP traffic needs to be signed.",
          "type": "boolean"
        },
        "dns": {
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain.",
          "type": "string"
        },
        "nfsUsersWithLdap": {
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled.",
          "type": "boolean"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. The state details of the Active Directory.",
          "readOnly": true
        },
        "domain": {
          "description": "Required. Name of the Active Directory domain",
          "type": "string"
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "description": "Output only. The state of the AD."
        },
        "backupOperators": {
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        }
      }
    },
    "ReverseReplicationDirectionRequest": {
      "id": "ReverseReplicationDirectionRequest",
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "type": "object",
      "properties": {}
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "MonthlySchedule": {
      "id": "MonthlySchedule",
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "type": "object",
      "properties": {
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        },
        "daysOfMonth": {
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'.",
          "type": "string"
        }
      }
    },
    "VerifyKmsConfigResponse": {
      "type": "object",
      "properties": {
        "healthError": {
          "readOnly": true,
          "description": "Output only. Error message if config is not healthy.",
          "type": "string"
        },
        "healthy": {
          "description": "Output only. If the customer key configured correctly to the encrypt volume.",
          "readOnly": true,
          "type": "boolean"
        },
        "instructions": {
          "type": "string",
          "description": "Output only. Instructions for the customers to provide the access to the encryption key.",
          "readOnly": true
        }
      },
      "id": "VerifyKmsConfigResponse",
      "description": "VerifyKmsConfigResponse contains the information if the config is correctly and error message."
    },
    "CloneDetails": {
      "type": "object",
      "properties": {
        "sourceSnapshot": {
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "readOnly": true,
          "type": "string"
        },
        "sourceVolume": {
          "type": "string",
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "readOnly": true
        },
        "sharedSpaceGib": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "readOnly": true
        }
      },
      "id": "CloneDetails",
      "description": "Details about a clone volume."
    },
    "HostGroup": {
      "id": "HostGroup",
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the host group."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "description": "Required. Type of the host group."
        },
        "hosts": {
          "description": "Required. The list of hosts associated with the host group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "osType": {
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup."
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels of the host group.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ],
          "readOnly": true,
          "description": "Output only. State of the host group."
        }
      }
    },
    "RestoreParameters": {
      "type": "object",
      "properties": {
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Full name of the backup resource. Format: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}",
          "type": "string"
        }
      },
      "id": "RestoreParameters",
      "description": "The RestoreParameters if volume is created from a snapshot or backup."
    },
    "BackupPolicy": {
      "id": "BackupPolicy",
      "description": "Backup Policy.",
      "type": "object",
      "properties": {
        "dailyBackupLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2."
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        },
        "assignedVolumeCount": {
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`.",
          "type": "string"
        },
        "description": {
          "description": "Description of the backup policy.",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The time when the backup policy was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "weeklyBackupLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
        },
        "monthlyBackupLimit": {
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "description": "Output only. The backup policy state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "readOnly": true
        }
      }
    },
    "EstablishVolumePeeringRequest": {
      "id": "EstablishVolumePeeringRequest",
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "type": "object",
      "properties": {
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of IPv4 ip addresses to be used for peering."
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        }
      }
    },
    "ExecuteOntapPatchResponse": {
      "type": "object",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "ExecuteOntapPatchResponse",
      "description": "Response message for `ExecuteOntapPatch` API."
    },
    "SyncReplicationRequest": {
      "id": "SyncReplicationRequest",
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "type": "object",
      "properties": {}
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "type": "object",
      "properties": {
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups in the project."
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "Backup": {
      "type": "object",
      "properties": {
        "sourceVolume": {
          "description": "Volume full name of this backup belongs to. Format: `projects/{projects_id}/locations/{location}/volumes/{volume_id}`",
          "type": "string"
        },
        "volumeUsageBytes": {
          "readOnly": true,
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "type": "string",
          "format": "int64"
        },
        "backupRegion": {
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "readOnly": true,
          "type": "string"
        },
        "chainStorageBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use",
          "readOnly": true
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "volumeRegion": {
          "type": "string",
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`",
          "readOnly": true
        },
        "backupType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "description": "Output only. Type of backup, manually created or created by a backup policy."
        },
        "name": {
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The backup state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "readOnly": true
        },
        "enforcedRetentionEndTime": {
          "description": "Output only. The time until which the backup is not deletable.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        }
      },
      "id": "Backup",
      "description": "A NetApp Backup."
    },
    "BackupVault": {
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup vault state."
        },
        "sourceBackupVault": {
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "readOnly": true,
          "type": "string"
        },
        "kmsConfig": {
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "backupVaultType": {
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "type": "string",
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ]
        },
        "destinationBackupVault": {
          "type": "string",
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "readOnly": true
        },
        "encryptionState": {
          "readOnly": true,
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "description": "Output only. Field indicating encryption state of CMEK backups."
        },
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the backup vault."
        },
        "backupsCryptoKeyVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`"
        },
        "backupRetentionPolicy": {
          "description": "Optional. Backup retention policy defining the retention of backups.",
          "$ref": "BackupRetentionPolicy"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "description": {
          "description": "Description of the backup vault.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "sourceRegion": {
          "type": "string",
          "description": "Output only. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`",
          "readOnly": true
        }
      },
      "id": "BackupVault",
      "description": "A NetApp BackupVault."
    },
    "HybridReplicationParameters": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "peerIpAddresses": {
          "description": "Required. List of node ip addresses to be peered with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterLocation": {
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only.",
          "type": "string"
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "largeVolumeConstituentCount": {
          "description": "Optional. Constituent volume count for large volume.",
          "type": "integer",
          "format": "int32"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "replicationSchedule": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "description": "Optional. Replication Schedule for the replication created."
        },
        "replication": {
          "description": "Required. Desired name for the replication of this volume.",
          "type": "string"
        },
        "hybridReplicationType": {
          "description": "Optional. Type of the hybrid replication.",
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ]
        }
      },
      "id": "HybridReplicationParameters",
      "description": "The Hybrid Replication parameters for the volume."
    },
    "ExecuteOntapPostResponse": {
      "id": "ExecuteOntapPostResponse",
      "description": "Response message for `ExecuteOntapPost` API.",
      "type": "object",
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The raw `JSON` body of the response."
        }
      }
    },
    "KmsConfig": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. State of the KmsConfig.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "readOnly": true
        },
        "cryptoKeyName": {
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. State details of the KmsConfig.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the KmsConfig.",
          "readOnly": true
        },
        "serviceAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Service account which will have access to the customer provided encryption key."
        },
        "instructions": {
          "description": "Output only. Instructions to provide the access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Description of the KmsConfig.",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. Name of the KmsConfig. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        }
      },
      "id": "KmsConfig",
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration."
    },
    "ValidateDirectoryServiceRequest": {
      "type": "object",
      "properties": {
        "directoryServiceType": {
          "description": "Type of directory service policy attached to the storage pool.",
          "type": "string",
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ]
        }
      },
      "id": "ValidateDirectoryServiceRequest",
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ListQuotaRulesResponse": {
      "id": "ListQuotaRulesResponse",
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "type": "object",
      "properties": {
        "quotaRules": {
          "type": "array",
          "items": {
            "$ref": "QuotaRule"
          },
          "description": "List of quota rules"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EncryptVolumesRequest": {
      "type": "object",
      "properties": {},
      "id": "EncryptVolumesRequest",
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes."
    },
    "UserCommands": {
      "id": "UserCommands",
      "description": "UserCommands contains the commands to be executed by the customer.",
      "type": "object",
      "properties": {
        "commands": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of commands to be executed by the customer.",
          "readOnly": true
        }
      }
    },
    "SwitchActiveReplicaZoneRequest": {
      "id": "SwitchActiveReplicaZoneRequest",
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool.",
      "type": "object",
      "properties": {}
    },
    "StoragePool": {
      "id": "StoragePool",
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "type": "object",
      "properties": {
        "serviceLevel": {
          "description": "Required. Service level of the storage pool",
          "type": "string",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ]
        },
        "totalIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the storage pool",
          "type": "string",
          "format": "google-datetime"
        },
        "hotTierSizeGib": {
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "type": "string",
          "format": "int64"
        },
        "replicaZone": {
          "description": "Optional. Specifies the replica zone for regional storagePool.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "activeDirectory": {
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume.",
          "type": "string"
        },
        "encryptionType": {
          "description": "Output only. Specifies the current pool encryption key source.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ]
        },
        "name": {
          "description": "Identifier. Name of the storage pool",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the storage pool",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ],
          "readOnly": true
        },
        "psaRange": {
          "description": "Optional. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "qosType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ],
          "description": "Optional. QoS (Quality of Service) Type of the storage pool"
        },
        "customPerformanceEnabled": {
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false",
          "type": "boolean"
        },
        "hotTierSizeUsedGib": {
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "enableHotTierAutoResize": {
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size.",
          "type": "boolean"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the pool",
          "type": "string",
          "format": "int64"
        },
        "volumeCapacityGib": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "readOnly": true
        },
        "availableThroughputMibps": {
          "readOnly": true,
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "type": "number",
          "format": "double"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use",
          "readOnly": true
        },
        "coldTierSizeUsedGib": {
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "Optional. Description of the storage pool",
          "type": "string"
        },
        "scaleTier": {
          "enum": [
            "SCALE_TIER_UNSPECIFIED",
            "SCALE_TIER_STANDARD",
            "SCALE_TIER_ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The standard capacity and performance tier. Suitable for general purpose workloads.",
            "A higher capacity and performance tier. Suitable for more demanding workloads."
          ],
          "description": "Optional. The effective scale tier of the storage pool. If `scale_tier` is not specified during creation, this defaults to `SCALE_TIER_STANDARD`."
        },
        "ldapEnabled": {
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "globalAccessAllowed": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions."
        },
        "mode": {
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform the ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "type": "string",
          "enumDescriptions": [
            "The `StoragePool` `Mode` is not specified.",
            "The `StoragePool` and its resources are managed by the GCNV APIs.",
            "The `StoragePool` and its resources are managed by the GCNV ONTAP Mode APIs."
          ]
        },
        "kmsConfig": {
          "description": "Optional. Specifies the KMS config to be used for volume encryption.",
          "type": "string"
        },
        "zone": {
          "description": "Optional. Specifies the active zone for regional storagePool.",
          "type": "string"
        },
        "volumeCount": {
          "description": "Output only. Volume count of the storage pool",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "allowAutoTiering": {
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled.",
          "type": "boolean"
        },
        "type": {
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes or `UNIFIED_LARGE_CAPACITY` (both `FILE` and `BLOCK`) volumes with large capacity. If not specified during creation, it defaults to `FILE`.",
          "type": "string",
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified.",
            "Deprecated: UNIFIED_LARGE_CAPACITY was previously tag 3."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED",
            "UNIFIED_LARGE_CAPACITY"
          ]
        },
        "totalThroughputMibps": {
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListBackupPoliciesResponse": {
      "type": "object",
      "properties": {
        "backupPolicies": {
          "type": "array",
          "items": {
            "$ref": "BackupPolicy"
          },
          "description": "The list of backup policies."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListBackupPoliciesResponse",
      "description": "ListBackupPoliciesResponse contains all the backup policies requested."
    },
    "Replication": {
      "id": "Replication",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
          "type": "string"
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "hybridReplicationUserCommands": {
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer.",
          "$ref": "UserCommands",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "hybridPeeringDetails": {
          "readOnly": true,
          "description": "Output only. Hybrid peering details.",
          "$ref": "HybridPeeringDetails"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Replication create time."
        },
        "mirrorState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ],
          "readOnly": true,
          "description": "Output only. Indicates the state of mirroring."
        },
        "hybridReplicationType": {
[...]
