{
  "servicePath": "",
  "kind": "discovery#restDescription",
  "title": "NetApp API",
  "baseUrl": "https://netapp.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "NetApp Files",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://netapp.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://netapp.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://netapp.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://netapp.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://netapp.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://netapp.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://netapp.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://netapp.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    }
  ],
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "ownerName": "Google",
  "rootUrl": "https://netapp.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260426",
  "documentationLink": "https://cloud.google.com/netapp/",
  "ownerDomain": "google.com",
  "basePath": "",
  "schemas": {
    "UserCommands": {
      "id": "UserCommands",
      "description": "UserCommands contains the commands to be executed by the customer.",
      "type": "object",
      "properties": {
        "commands": {
          "description": "Output only. List of commands to be executed by the customer.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "ListActiveDirectoriesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "activeDirectories": {
          "description": "The list of active directories.",
          "type": "array",
          "items": {
            "$ref": "ActiveDirectory"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListActiveDirectoriesResponse",
      "description": "ListActiveDirectoriesResponse contains all the active directories requested.",
      "type": "object"
    },
    "CacheParameters": {
      "id": "CacheParameters",
      "description": "Cache Parameters for the volume.",
      "type": "object",
      "properties": {
        "command": {
          "readOnly": true,
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string"
        },
        "enableGlobalFileLock": {
          "description": "Optional. Indicates whether the cache volume has global file lock enabled.",
          "type": "boolean"
        },
        "peerVolumeName": {
          "description": "Required. Name of the origin volume for the cache volume.",
          "type": "string"
        },
        "peeringCommandExpiryTime": {
          "format": "google-datetime",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the origin volume's SVM.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the origin volume's ONTAP cluster.",
          "type": "string"
        },
        "cacheConfig": {
          "description": "Optional. Configuration of the cache volume.",
          "$ref": "CacheConfig"
        },
        "passphrase": {
          "readOnly": true,
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "type": "string"
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. Detailed description of the current cache state.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cacheState": {
          "description": "Output only. State of the cache volume indicating the peering status.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ],
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ]
        }
      }
    },
    "SyncReplicationRequest": {
      "id": "SyncReplicationRequest",
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "type": "object",
      "properties": {}
    },
    "ListBackupsResponse": {
      "properties": {
        "backups": {
          "description": "A list of backups in the project.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListBackupsResponse",
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "type": "object"
    },
    "ExportPolicy": {
      "id": "ExportPolicy",
      "description": "Defines the export policy for the volume.",
      "type": "object",
      "properties": {
        "rules": {
          "description": "Required. List of export policy rules",
          "type": "array",
          "items": {
            "$ref": "SimpleExportPolicyRule"
          }
        }
      }
    },
    "ExecuteOntapDeleteResponse": {
      "id": "ExecuteOntapDeleteResponse",
      "description": "Response message for `ExecuteOntapDelete` API.",
      "type": "object",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "RestoreParameters": {
      "properties": {
        "sourceBackup": {
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id} Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}",
          "type": "string"
        },
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        }
      },
      "id": "RestoreParameters",
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "type": "object"
    },
    "ListHostGroupsResponse": {
      "properties": {
        "hostGroups": {
          "description": "The list of host groups.",
          "type": "array",
          "items": {
            "$ref": "HostGroup"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListHostGroupsResponse",
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Location": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "StoragePool": {
      "properties": {
        "customPerformanceEnabled": {
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false",
          "type": "boolean"
        },
        "serviceLevel": {
          "description": "Required. Service level of the storage pool",
          "type": "string",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ]
        },
        "volumeCapacityGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "type": "string"
        },
        "zone": {
          "description": "Optional. Specifies the active zone for regional storagePool.",
          "type": "string"
        },
        "coldTierSizeUsedGib": {
          "readOnly": true,
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "type": "string",
          "format": "int64"
        },
        "hotTierSizeGib": {
          "format": "int64",
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "type": "string"
        },
        "totalIops": {
          "format": "int64",
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the storage pool",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ]
        },
        "volumeCount": {
          "format": "int32",
          "description": "Output only. Volume count of the storage pool",
          "type": "integer",
          "readOnly": true
        },
        "qosType": {
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ],
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "type": "string",
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ]
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "enableHotTierAutoResize": {
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size.",
          "type": "boolean"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        },
        "psaRange": {
          "description": "Optional. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the storage pool",
          "type": "string"
        },
        "replicaZone": {
          "description": "Optional. Specifies the replica zone for regional storagePool.",
          "type": "string"
        },
        "kmsConfig": {
          "description": "Optional. Specifies the KMS config to be used for volume encryption.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionType": {
          "description": "Output only. Specifies the current pool encryption key source.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ]
        },
        "availableThroughputMibps": {
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "description": {
          "description": "Optional. Description of the storage pool",
          "type": "string"
        },
        "scaleTier": {
          "deprecated": true,
          "enumDescriptions": [
            "Deprecated: Use ScaleType instead. The default value. This value is unused.",
            "Deprecated: Use ScaleType instead. The standard capacity and performance tier. Suitable for general purpose workloads.",
            "Deprecated: Use ScaleType instead. A higher capacity and performance tier. Suitable for more demanding workloads."
          ],
          "enum": [
            "SCALE_TIER_UNSPECIFIED",
            "SCALE_TIER_STANDARD",
            "SCALE_TIER_ENTERPRISE"
          ],
          "description": "Optional. Deprecated: Use scale_type instead. The effective scale tier of the storage pool. If `scale_tier` is not specified during creation, this defaults to `SCALE_TIER_STANDARD`.",
          "type": "string"
        },
        "scaleType": {
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ],
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ]
        },
        "capacityGib": {
          "format": "int64",
          "description": "Required. Capacity in GIB of the pool",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "type": "string",
          "readOnly": true
        },
        "hotTierSizeUsedGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "type": "string"
        },
        "totalThroughputMibps": {
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "type": "string",
          "format": "int64"
        },
        "activeDirectory": {
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the storage pool",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ],
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`.",
          "type": "string"
        },
        "ldapEnabled": {
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "globalAccessAllowed": {
          "deprecated": true,
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions.",
          "type": "boolean"
        },
        "mode": {
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform the ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`.",
          "type": "string",
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ]
        },
        "allowAutoTiering": {
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled.",
          "type": "boolean"
        }
      },
      "id": "StoragePool",
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "type": "object"
    },
    "CacheConfig": {
      "properties": {
        "cachePrePopulate": {
          "description": "Optional. Pre-populate cache volume with data from the origin volume.",
          "$ref": "CachePrePopulate"
        },
        "cifsChangeNotifyEnabled": {
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "writebackEnabled": {
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "cachePrePopulateState": {
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ],
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "CacheConfig",
      "description": "Configuration of the cache volume.",
      "type": "object"
    },
    "SimpleExportPolicyRule": {
      "id": "SimpleExportPolicyRule",
      "description": "An export policy rule describing various export options.",
      "type": "object",
      "properties": {
        "kerberos5ReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "kerberos5pReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "accessType": {
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ],
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "type": "string",
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ]
        },
        "kerberos5iReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5pReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode.",
          "type": "boolean"
        },
        "squashMode": {
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ],
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided.",
          "type": "string"
        },
        "anonUid": {
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "type": "string",
          "format": "int64"
        },
        "kerberos5ReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5iReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "nfsv3": {
          "description": "NFS V3 protocol.",
          "type": "boolean"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "SnapshotPolicy": {
      "id": "SnapshotPolicy",
      "description": "Snapshot Policy for a volume.",
      "type": "object",
      "properties": {
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        },
        "hourlySchedule": {
          "description": "Hourly schedule policy.",
          "$ref": "HourlySchedule"
        },
        "enabled": {
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false.",
          "type": "boolean"
        },
        "dailySchedule": {
          "description": "Daily schedule policy.",
          "$ref": "DailySchedule"
        },
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        }
      }
    },
    "RevertVolumeRequest": {
      "id": "RevertVolumeRequest",
      "description": "RevertVolumeRequest reverts the given volume to the specified snapshot.",
      "type": "object",
      "properties": {
        "snapshotId": {
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}",
          "type": "string"
        }
      }
    },
    "HostGroup": {
      "id": "HostGroup",
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Labels of the host group.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hosts": {
          "description": "Required. The list of hosts associated with the host group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "osType": {
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the host group.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ]
        },
        "type": {
          "description": "Required. Type of the host group.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the host group.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        }
      }
    },
    "BackupPolicy": {
      "properties": {
        "weeklyBackupLimit": {
          "format": "int32",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer"
        },
        "description": {
          "description": "Description of the backup policy.",
          "type": "string"
        },
        "monthlyBackupLimit": {
          "format": "int32",
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer"
        },
        "name": {
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The backup policy state.",
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "createTime": {
          "description": "Output only. The time when the backup policy was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "assignedVolumeCount": {
          "readOnly": true,
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "type": "integer",
          "format": "int32"
        },
        "dailyBackupLimit": {
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "type": "integer",
          "format": "int32"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        }
      },
      "id": "BackupPolicy",
      "description": "Backup Policy.",
      "type": "object"
    },
    "DailySchedule": {
      "properties": {
        "minute": {
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number"
        },
        "snapshotsToKeep": {
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        }
      },
      "id": "DailySchedule",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ExecuteOntapGetResponse": {
      "id": "ExecuteOntapGetResponse",
      "description": "Response message for `ExecuteOntapGet` API.",
      "type": "object",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "CloneDetails": {
      "id": "CloneDetails",
      "description": "Details about a clone volume.",
      "type": "object",
      "properties": {
        "sourceSnapshot": {
          "readOnly": true,
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceVolume": {
          "readOnly": true,
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "type": "string"
        },
        "sharedSpaceGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "type": "string"
        }
      }
    },
    "ResumeReplicationRequest": {
      "id": "ResumeReplicationRequest",
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "type": "object",
      "properties": {}
    },
    "HybridPeeringDetails": {
      "properties": {
        "peerClusterName": {
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string",
          "readOnly": true
        },
        "commandExpiryTime": {
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "peerVolumeName": {
          "readOnly": true,
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string",
          "readOnly": true
        },
        "peerSvmName": {
          "readOnly": true,
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "subnetIp": {
          "description": "Output only. IP address of the subnet.",
          "type": "string",
          "readOnly": true
        },
        "passphrase": {
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "HybridPeeringDetails",
      "description": "HybridPeeringDetails contains details about the hybrid peering.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "Backup": {
      "properties": {
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "enforcedRetentionEndTime": {
          "readOnly": true,
          "description": "Output only. The time until which the backup is not deletable.",
          "type": "string",
          "format": "google-datetime"
        },
        "volumeUsageBytes": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "type": "string"
        },
        "backupType": {
          "readOnly": true,
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ]
        },
        "sourceVolume": {
          "description": "Volume full name of this backup belongs to. Either source_volume or ontap_source should be provided. Format: `projects/{projects_id}/locations/{location}/volumes/{volume_id}`",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`.",
          "type": "string"
        },
        "backupRegion": {
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the backup was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        },
        "chainStorageBytes": {
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "state": {
          "description": "Output only. The backup state.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ]
        },
        "volumeRegion": {
          "readOnly": true,
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        }
      },
      "id": "Backup",
      "description": "A NetApp Backup.",
      "type": "object"
    },
    "QuotaRule": {
      "properties": {
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        },
        "diskLimitMib": {
          "description": "Required. The maximum allowed disk space in MiB.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "Optional. Description of the quota rule",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. State details of the quota rule",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels of the quota rule",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ],
          "readOnly": true,
          "description": "Output only. State of the quota rule",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "description": "Required. The type of quota rule.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the quota rule",
          "type": "string"
        }
      },
      "id": "QuotaRule",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "type": "object"
    },
    "TransferStats": {
      "id": "TransferStats",
      "description": "TransferStats reports all statistics related to replication transfer.",
      "type": "object",
      "properties": {
        "transferBytes": {
          "format": "int64",
          "description": "Cumulative bytes transferred so far for the replication relationship.",
          "type": "string"
        },
        "lagDuration": {
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content.",
          "type": "string",
          "format": "google-duration"
        },
        "updateTime": {
          "description": "Time when progress was updated last.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalTransferDuration": {
          "format": "google-duration",
          "description": "Cumulative time taken across all transfers for the replication relationship.",
          "type": "string"
        },
        "lastTransferEndTime": {
          "format": "google-datetime",
          "description": "Time when last transfer completed.",
          "type": "string"
        },
        "lastTransferBytes": {
          "description": "Last transfer size in bytes.",
          "type": "string",
          "format": "int64"
        },
        "lastTransferError": {
          "description": "A message describing the cause of the last transfer failure.",
          "type": "string"
        },
        "lastTransferDuration": {
          "description": "Time taken during last transfer.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "TieringPolicy": {
      "id": "TieringPolicy",
      "description": "Defines tiering policy for the volume.",
      "type": "object",
      "properties": {
        "tierAction": {
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED.",
          "type": "string"
        },
        "coolingThresholdDays": {
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31.",
          "type": "integer",
          "format": "int32"
        },
        "hotTierBypassModeEnabled": {
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level.",
          "type": "boolean"
        }
      }
    },
    "ListKmsConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "kmsConfigs": {
          "description": "The list of KmsConfigs",
          "type": "array",
          "items": {
            "$ref": "KmsConfig"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListKmsConfigsResponse",
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "type": "object"
    },
    "BackupVault": {
      "properties": {
        "state": {
          "description": "Output only. The backup vault state.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "backupVaultType": {
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "type": "string"
        },
        "backupsCryptoKeyVersion": {
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "type": "string",
          "readOnly": true
        },
        "destinationBackupVault": {
          "readOnly": true,
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string"
        },
        "crossProjectVault": {
          "description": "Optional. Indicates if the backup vault is a cross project vault.",
          "type": "boolean"
        },
        "description": {
          "description": "Description of the backup vault.",
          "type": "string"
        },
        "sourceRegion": {
          "readOnly": true,
          "description": "Output only. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "sourceBackupVault": {
          "readOnly": true,
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kmsConfig": {
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the backup vault.",
          "type": "string",
          "readOnly": true
        },
        "encryptionState": {
          "readOnly": true,
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "type": "string",
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ]
        },
        "backupRetentionPolicy": {
          "description": "Optional. Backup retention policy defining the retention of backups.",
          "$ref": "BackupRetentionPolicy"
        }
      },
      "id": "BackupVault",
      "description": "A NetApp BackupVault.",
      "type": "object"
    },
    "ExecuteOntapPostResponse": {
      "id": "ExecuteOntapPostResponse",
      "description": "Response message for `ExecuteOntapPost` API.",
      "type": "object",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ValidateDirectoryServiceRequest": {
      "properties": {
        "directoryServiceType": {
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ],
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "description": "Type of directory service policy attached to the storage pool.",
          "type": "string"
        }
      },
      "id": "ValidateDirectoryServiceRequest",
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool.",
      "type": "object"
    },
    "CachePrePopulate": {
      "id": "CachePrePopulate",
      "description": "Pre-populate cache volume with data from the origin volume.",
      "type": "object",
      "properties": {
        "pathList": {
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludePathList": {
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        }
      }
    },
    "ActiveDirectory": {
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the AD.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ]
        },
        "encryptDcConnections": {
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted.",
          "type": "boolean"
        },
        "aesEncryption": {
          "description": "If enabled, AES encryption will be enabled for SMB communication.",
          "type": "boolean"
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. The state details of the Active Directory.",
          "type": "string"
        },
        "kdcIp": {
          "description": "KDC server IP address for the active directory machine.",
          "type": "string"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "administrators": {
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domain": {
          "description": "Required. Name of the Active Directory domain",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the active directory.",
          "type": "string"
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery too.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "labels": {
          "description": "Labels for the active directory.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nfsUsersWithLdap": {
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled.",
          "type": "boolean"
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "ldapSigning": {
          "description": "Specifies whether or not the LDAP traffic needs to be signed.",
          "type": "boolean"
        },
        "username": {
          "description": "Required. Username of the Active Directory domain administrator.",
          "type": "string"
        },
        "backupOperators": {
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "netBiosPrefix": {
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name.",
          "type": "string"
        },
        "securityOperators": {
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dns": {
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain.",
          "type": "string"
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        }
      },
      "id": "ActiveDirectory",
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "type": "object"
    },
    "Replication": {
      "properties": {
        "replicationSchedule": {
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "description": "Required. Indicates the schedule for replication.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "destinationVolume": {
          "readOnly": true,
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "type": "string"
        },
        "role": {
          "readOnly": true,
          "description": "Output only. Indicates whether this points to source or destination.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ]
        },
        "stateDetails": {
          "description": "Output only. State details of the replication.",
          "type": "string",
          "readOnly": true
        },
        "healthy": {
          "readOnly": true,
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer.",
          "type": "boolean"
        },
        "hybridPeeringDetails": {
          "description": "Output only. Hybrid peering details.",
          "$ref": "HybridPeeringDetails",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "description": "Output only. State of the replication.",
          "type": "string",
          "readOnly": true
        },
        "transferStats": {
          "description": "Output only. Replication transfer statistics.",
          "$ref": "TransferStats",
          "readOnly": true
        },
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "hybridReplicationUserCommands": {
          "readOnly": true,
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer.",
          "$ref": "UserCommands"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceVolume": {
          "readOnly": true,
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "type": "string"
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
          "type": "string"
        },
        "mirrorState": {
          "readOnly": true,
          "description": "Output only. Indicates the state of mirroring.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ]
        },
        "createTime": {
          "description": "Output only. Replication create time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "hybridReplicationType": {
          "readOnly": true,
          "description": "Output only. Type of the hybrid replication.",
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ]
        }
      },
      "id": "Replication",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions.",
      "type": "object"
    },
    "Volume": {
      "properties": {
        "storagePool": {
          "description": "Required. StoragePool name of the volume",
          "type": "string"
        },
        "largeCapacity": {
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive.",
          "type": "boolean"
        },
        "serviceLevel": {
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "readOnly": true,
          "description": "Output only. Service level of the volume",
          "type": "string"
        },
        "zone": {
          "description": "Output only. Specifies the active zone for regional volume.",
          "type": "string",
          "readOnly": true
        },
        "restoreParameters": {
          "description": "Optional. Specifies the source of the volume to be created from.",
          "$ref": "RestoreParameters"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "description": "Output only. State of the volume",
          "type": "string",
          "readOnly": true
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "network": {
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string",
          "readOnly": true
        },
        "backupConfig": {
          "description": "BackupConfig of the volume.",
          "$ref": "BackupConfig"
        },
        "largeCapacityConfig": {
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive.",
          "$ref": "LargeCapacityConfig"
        },
        "psaRange": {
          "description": "Output only. This field is not implemented. The values provided in this field are ignored.",
          "type": "string",
          "readOnly": true
        },
        "snapReserve": {
          "format": "double",
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent.",
          "type": "number"
        },
        "hasReplication": {
          "description": "Output only. Indicates whether the volume is part of a replication relationship.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of the volume",
          "type": "string"
        },
        "usedGib": {
          "format": "int64",
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage.",
          "type": "string",
          "readOnly": true
        },
        "replicaZone": {
          "description": "Output only. Specifies the replica zone for regional volume.",
          "type": "string",
          "readOnly": true
        },
        "kerberosEnabled": {
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p).",
          "type": "boolean"
        },
        "kmsConfig": {
          "description": "Output only. Specifies the KMS config to be used for volume encryption.",
          "type": "string",
          "readOnly": true
        },
        "restrictedActions": {
          "description": "Optional. List of actions that are restricted on this volume.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ],
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ]
          }
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionType": {
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "readOnly": true,
          "description": "Output only. Specified the current volume encryption key source.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the volume",
          "type": "string"
        },
        "snapshotDirectory": {
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots.",
          "type": "boolean"
        },
        "blockDevices": {
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume.",
          "type": "array",
          "items": {
            "$ref": "BlockDevice"
          }
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the volume",
          "type": "string",
          "format": "int64"
        },
        "securityStyle": {
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ],
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "description": "Optional. Security Style of the Volume",
          "type": "string"
        },
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
        "shareName": {
          "description": "Required. Share name of the volume",
          "type": "string"
        },
        "snapshotPolicy": {
          "description": "Optional. SnapshotPolicy for a volume.",
          "$ref": "SnapshotPolicy"
        },
        "multipleEndpoints": {
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints.",
          "type": "boolean"
        },
        "stateDetails": {
          "description": "Output only. State details of the volume",
          "type": "string",
          "readOnly": true
        },
        "hotTierSizeUsedGib": {
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "type": "string",
          "format": "int64"
        },
        "cloneDetails": {
          "readOnly": true,
          "description": "Output only. If this volume is a clone, this field contains details about the clone.",
          "$ref": "CloneDetails"
        },
        "protocols": {
          "description": "Required. Protocols required for the volume",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol"
            ],
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI"
            ]
          }
        },
        "smbSettings": {
          "description": "Optional. SMB share settings for the volume.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ],
            "type": "string",
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ]
          }
        },
        "mountOptions": {
          "readOnly": true,
          "description": "Output only. Mount options of this volume",
          "type": "array",
          "items": {
            "$ref": "MountOption"
          }
        },
        "throughputMibps": {
          "description": "Optional. Throughput of the volume (in MiB/s)",
          "type": "number",
          "format": "double"
        },
        "coldTierSizeGib": {
          "readOnly": true,
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "type": "string",
          "format": "int64"
        },
        "activeDirectory": {
          "readOnly": true,
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the volume",
          "type": "string",
          "readOnly": true
        },
        "unixPermissions": {
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only.",
          "type": "string"
        },
        "hybridReplicationParameters": {
          "description": "Optional. The Hybrid Replication parameters for the volume.",
          "$ref": "HybridReplicationParameters"
        },
        "ldapEnabled": {
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not.",
          "type": "boolean",
          "readOnly": true
        },
        "tieringPolicy": {
          "description": "Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        }
      },
      "id": "Volume",
      "description": "Volume provides a filesystem that you can mount.",
      "type": "object"
    },
    "HybridReplicationParameters": {
      "id": "HybridReplicationParameters",
      "description": "The Hybrid Replication parameters for the volume.",
      "type": "object",
      "properties": {
        "largeVolumeConstituentCount": {
          "format": "int32",
          "description": "Optional. Constituent volume count for large volume.",
          "type": "integer"
        },
        "replicationSchedule": {
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "description": "Optional. Replication Schedule for the replication created.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Required. List of node ip addresses to be peered with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterLocation": {
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "hybridReplicationType": {
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "description": "Optional. Type of the hybrid replication.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ]
        },
        "replication": {
          "description": "Required. Desired name for the replication of this volume.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        }
      }
    },
    "MonthlySchedule": {
      "properties": {
        "hour": {
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number"
        },
        "daysOfMonth": {
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'.",
          "type": "string"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "minute": {
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number"
        }
      },
      "id": "MonthlySchedule",
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "type": "object"
    },
    "EncryptVolumesRequest": {
      "id": "EncryptVolumesRequest",
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "type": "object",
      "properties": {}
    },
    "BlockDevice": {
      "properties": {
        "hostGroups": {
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed.",
          "type": "string"
        },
        "identifier": {
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "type": "string",
          "readOnly": true
        },
        "sizeGib": {
          "format": "int64",
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`.",
          "type": "string"
        },
        "osType": {
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "type": "string"
        }
      },
      "id": "BlockDevice",
      "description": "Block device represents the device(s) which are stored in the block volume.",
      "type": "object"
    },
    "VerifyKmsConfigRequest": {
      "id": "VerifyKmsConfigRequest",
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "type": "object",
      "properties": {}
    },
    "DestinationVolumeParameters": {
      "id": "DestinationVolumeParameters",
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "type": "object",
      "properties": {
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        },
        "volumeId": {
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "shareName": {
[...]
