{
  "id": "netapp:v1",
  "servicePath": "",
  "rootUrl": "https://netapp.googleapis.com/",
  "protocol": "rest",
  "revision": "20260218",
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://netapp.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://netapp.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://netapp.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://netapp.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://netapp.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://netapp.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-central2.rep.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://netapp.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west1.rep.googleapis.com/"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west10.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://netapp.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://netapp.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://netapp.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://netapp.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://netapp.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://netapp.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://netapp.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://netapp.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://netapp.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west4.rep.googleapis.com/"
    }
  ],
  "mtlsRootUrl": "https://netapp.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "name": "netapp",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "NetApp API",
  "discoveryVersion": "v1",
  "canonicalName": "NetApp Files",
  "documentationLink": "https://cloud.google.com/netapp/",
  "baseUrl": "https://netapp.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "SimpleExportPolicyRule": {
      "properties": {
        "squashMode": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ],
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided."
        },
        "anonUid": {
          "type": "string",
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "format": "int64"
        },
        "accessType": {
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ],
          "type": "string",
          "description": "Access type (ReadWrite, ReadOnly, None)"
        },
        "kerberos5iReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode.",
          "type": "boolean"
        },
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "kerberos5ReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode.",
          "type": "boolean"
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "nfsv3": {
          "description": "NFS V3 protocol.",
          "type": "boolean"
        },
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "kerberos5iReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "kerberos5pReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5ReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "kerberos5pReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        }
      },
      "id": "SimpleExportPolicyRule",
      "type": "object",
      "description": "An export policy rule describing various export options."
    },
    "HostGroup": {
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "properties": {
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "type": "string",
          "description": "Required. Type of the host group."
        },
        "osType": {
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string",
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the host group.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the host group."
        },
        "name": {
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ],
          "type": "string",
          "description": "Output only. State of the host group."
        },
        "hosts": {
          "type": "array",
          "description": "Required. The list of hosts associated with the host group.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HostGroup",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "DailySchedule": {
      "id": "DailySchedule",
      "type": "object",
      "properties": {
        "hour": {
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double",
          "type": "number"
        },
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        }
      },
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50"
    },
    "Replication": {
      "properties": {
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "destinationVolume": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Replication create time.",
          "readOnly": true,
          "type": "string"
        },
        "transferStats": {
          "$ref": "TransferStats",
          "description": "Output only. Replication transfer statistics.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the replication.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ],
          "type": "string"
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the replication."
        },
        "mirrorState": {
          "description": "Output only. Indicates the state of mirroring.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "hybridPeeringDetails": {
          "description": "Output only. Hybrid peering details.",
          "$ref": "HybridPeeringDetails",
          "readOnly": true
        },
        "sourceVolume": {
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true,
          "type": "string"
        },
        "hybridReplicationUserCommands": {
          "readOnly": true,
          "$ref": "UserCommands",
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer."
        },
        "role": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ],
          "description": "Output only. Indicates whether this points to source or destination."
        },
        "replicationSchedule": {
          "description": "Required. Indicates the schedule for replication.",
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "type": "string"
        },
        "healthy": {
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer.",
          "readOnly": true,
          "type": "boolean"
        },
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "hybridReplicationType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ],
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "description": "Output only. Type of the hybrid replication."
        }
      },
      "id": "Replication",
      "type": "object",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions."
    },
    "ListKmsConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "kmsConfigs": {
          "type": "array",
          "description": "The list of KmsConfigs",
          "items": {
            "$ref": "KmsConfig"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListKmsConfigsResponse",
      "type": "object",
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest."
    },
    "RestoreBackupFilesRequest": {
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "properties": {
        "fileList": {
          "type": "array",
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "items": {
            "type": "string"
          }
        },
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided.",
          "type": "string"
        },
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        }
      },
      "id": "RestoreBackupFilesRequest",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "BackupVault": {
      "description": "A NetApp BackupVault.",
      "properties": {
        "encryptionState": {
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "readOnly": true,
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "type": "string"
        },
        "kmsConfig": {
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "sourceBackupVault": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
        },
        "backupRetentionPolicy": {
          "$ref": "BackupRetentionPolicy",
          "description": "Optional. Backup retention policy defining the retention of backups."
        },
        "destinationBackupVault": {
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "readOnly": true,
          "type": "string"
        },
        "backupsCryptoKeyVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`"
        },
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Description of the backup vault.",
          "type": "string"
        },
        "backupVaultType": {
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "type": "string",
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION."
        },
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string",
          "description": "Output only. The backup vault state."
        },
        "sourceRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time of the backup vault.",
          "format": "google-datetime"
        }
      },
      "id": "BackupVault",
      "type": "object"
    },
    "BlockDevice": {
      "properties": {
        "name": {
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed.",
          "type": "string"
        },
        "identifier": {
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "type": "string",
          "readOnly": true
        },
        "hostGroups": {
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`."
        },
        "osType": {
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        }
      },
      "id": "BlockDevice",
      "type": "object",
      "description": "Block device represents the device(s) which are stored in the block volume."
    },
    "ExportPolicy": {
      "description": "Defines the export policy for the volume.",
      "id": "ExportPolicy",
      "type": "object",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Required. List of export policy rules",
          "items": {
            "$ref": "SimpleExportPolicyRule"
          }
        }
      }
    },
    "ActiveDirectory": {
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "id": "ActiveDirectory",
      "type": "object",
      "properties": {
        "ldapSigning": {
          "description": "Specifies whether or not the LDAP traffic needs to be signed.",
          "type": "boolean"
        },
        "netBiosPrefix": {
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name.",
          "type": "string"
        },
        "securityOperators": {
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "administrators": {
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username of the Active Directory domain administrator.",
          "type": "string"
        },
        "backupOperators": {
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the active directory.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the AD.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "type": "string"
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state details of the Active Directory."
        },
        "domain": {
          "description": "Required. Name of the Active Directory domain",
          "type": "string"
        },
        "dns": {
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain.",
          "type": "string"
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "aesEncryption": {
          "description": "If enabled, AES encryption will be enabled for SMB communication.",
          "type": "boolean"
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery too.",
          "type": "string"
        },
        "encryptDcConnections": {
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted.",
          "type": "boolean"
        },
        "kdcIp": {
          "description": "KDC server IP address for the active directory machine.",
          "type": "string"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "nfsUsersWithLdap": {
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled.",
          "type": "boolean"
        },
        "labels": {
          "description": "Labels for the active directory.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RevertVolumeRequest": {
      "description": "RevertVolumeRequest reverts the given volume to the specified snapshot.",
      "properties": {
        "snapshotId": {
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}",
          "type": "string"
        }
      },
      "id": "RevertVolumeRequest",
      "type": "object"
    },
    "LocationMetadata": {
      "description": "Metadata for a given google.cloud.location.Location.",
      "id": "LocationMetadata",
      "type": "object",
      "properties": {
        "hasVcp": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the location has VCP support."
        },
        "supportedServiceLevels": {
          "description": "Output only. Supported service levels in a location.",
          "items": {
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ],
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ],
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "supportedFlexPerformance": {
          "description": "Output only. Supported flex performance in a location.",
          "items": {
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ],
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ],
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "hasOntapProxy": {
          "description": "Output only. Indicates if the location has ONTAP Proxy support.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "CachePrePopulate": {
      "description": "Pre-populate cache volume with data from the origin volume.",
      "properties": {
        "pathList": {
          "type": "array",
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "items": {
            "type": "string"
          }
        },
        "excludePathList": {
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        }
      },
      "id": "CachePrePopulate",
      "type": "object"
    },
    "TieringPolicy": {
      "properties": {
        "coolingThresholdDays": {
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31.",
          "format": "int32",
          "type": "integer"
        },
        "tierAction": {
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "type": "string",
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED."
        },
        "hotTierBypassModeEnabled": {
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level.",
          "type": "boolean"
        }
      },
      "id": "TieringPolicy",
      "type": "object",
      "description": "Defines tiering policy for the volume."
    },
    "SyncReplicationRequest": {
      "id": "SyncReplicationRequest",
      "type": "object",
      "properties": {},
      "description": "SyncReplicationRequest syncs the replication from source to destination."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "WeeklySchedule": {
      "id": "WeeklySchedule",
      "type": "object",
      "properties": {
        "hour": {
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double"
        },
        "day": {
          "description": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'.",
          "type": "string"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double",
          "type": "number"
        },
        "minute": {
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double"
        }
      },
      "description": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50"
    },
    "KmsConfig": {
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs"
        },
        "description": {
          "description": "Description of the KmsConfig.",
          "type": "string"
        },
        "instructions": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Instructions to provide the access to the customer provided encryption key."
        },
        "serviceAccount": {
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "cryptoKeyName": {
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time of the KmsConfig.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of the KmsConfig. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the KmsConfig.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. State details of the KmsConfig.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "KmsConfig",
      "type": "object"
    },
    "ListBackupsResponse": {
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "properties": {
        "backups": {
          "description": "A list of backups in the project.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListBackupsResponse",
      "type": "object"
    },
    "QuotaRule": {
      "id": "QuotaRule",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "description": "Output only. State of the quota rule"
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the quota rule"
        },
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the quota rule"
        },
        "description": {
          "description": "Optional. Description of the quota rule",
          "type": "string"
        },
        "diskLimitMib": {
          "description": "Required. The maximum allowed disk space in MiB.",
          "format": "int32",
          "type": "integer"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the quota rule"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ],
          "description": "Required. The type of quota rule."
        }
      },
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules."
    },
    "MonthlySchedule": {
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "properties": {
        "daysOfMonth": {
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'.",
          "type": "string"
        },
        "hour": {
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double",
          "type": "number"
        },
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        }
      },
      "id": "MonthlySchedule",
      "type": "object"
    },
    "DestinationVolumeParameters": {
      "id": "DestinationVolumeParameters",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        },
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        },
        "tieringPolicy": {
          "$ref": "TieringPolicy",
          "description": "Optional. Tiering policy for the volume."
        },
        "volumeId": {
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "shareName": {
          "description": "Destination volume's share name. If not specified, source volume's share name will be used.",
          "type": "string"
        }
      },
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume."
    },
    "CacheParameters": {
      "id": "CacheParameters",
      "type": "object",
      "properties": {
        "cacheState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ],
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. State of the cache volume indicating the peering status."
        },
        "peerVolumeName": {
          "description": "Required. Name of the origin volume for the cache volume.",
          "type": "string"
        },
        "peerIpAddresses": {
          "type": "array",
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster.",
          "items": {
            "type": "string"
          }
        },
        "cacheConfig": {
          "description": "Optional. Configuration of the cache volume.",
          "$ref": "CacheConfig"
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "readOnly": true,
          "type": "string"
        },
        "peeringCommandExpiryTime": {
          "type": "string",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP.",
          "format": "google-datetime"
        },
        "passphrase": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Temporary passphrase generated to accept cluster peering command."
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Detailed description of the current cache state."
        },
        "peerSvmName": {
          "description": "Required. Name of the origin volume's SVM.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the origin volume's ONTAP cluster.",
          "type": "string"
        },
        "enableGlobalFileLock": {
          "description": "Optional. Indicates whether the cache volume has global file lock enabled.",
          "type": "boolean"
        }
      },
      "description": "Cache Parameters for the volume."
    },
    "UserCommands": {
      "properties": {
        "commands": {
          "description": "Output only. List of commands to be executed by the customer.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "UserCommands",
      "type": "object",
      "description": "UserCommands contains the commands to be executed by the customer."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "TransferStats": {
      "description": "TransferStats reports all statistics related to replication transfer.",
      "id": "TransferStats",
      "type": "object",
      "properties": {
        "transferBytes": {
          "type": "string",
          "format": "int64",
          "description": "Cumulative bytes transferred so far for the replication relationship."
        },
        "lastTransferError": {
          "description": "A message describing the cause of the last transfer failure.",
          "type": "string"
        },
        "lastTransferBytes": {
          "type": "string",
          "format": "int64",
          "description": "Last transfer size in bytes."
        },
        "lastTransferDuration": {
          "description": "Time taken during last transfer.",
          "format": "google-duration",
          "type": "string"
        },
        "totalTransferDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Cumulative time taken across all transfers for the replication relationship."
        },
        "lagDuration": {
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content.",
          "format": "google-duration",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when progress was updated last."
        },
        "lastTransferEndTime": {
          "format": "google-datetime",
          "description": "Time when last transfer completed.",
          "type": "string"
        }
      }
    },
    "ListReplicationsResponse": {
      "id": "ListReplicationsResponse",
      "type": "object",
      "properties": {
        "replications": {
          "type": "array",
          "description": "A list of replications in the project for the specified volume.",
          "items": {
            "$ref": "Replication"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest."
    },
    "ListVolumesResponse": {
      "description": "Message for response to listing Volumes",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "volumes": {
          "description": "The list of Volume",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        }
      },
      "id": "ListVolumesResponse",
      "type": "object"
    },
    "HybridPeeringDetails": {
      "description": "HybridPeeringDetails contains details about the hybrid peering.",
      "id": "HybridPeeringDetails",
      "type": "object",
      "properties": {
        "subnetIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IP address of the subnet."
        },
        "passphrase": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Temporary passphrase generated to accept cluster peering command."
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string",
          "readOnly": true
        },
        "peerSvmName": {
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string",
          "readOnly": true
        },
        "peerClusterName": {
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string",
          "readOnly": true
        },
        "peerVolumeName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume."
        },
        "commandExpiryTime": {
          "format": "google-datetime",
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "StoragePool": {
      "properties": {
        "allowAutoTiering": {
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "enableHotTierAutoResize": {
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size.",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "zone": {
          "description": "Optional. Specifies the active zone for regional storagePool.",
          "type": "string"
        },
        "totalIops": {
          "format": "int64",
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the storage pool",
          "type": "string"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the pool",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the storage pool",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string"
        },
        "coldTierSizeUsedGib": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "format": "int64"
        },
        "serviceLevel": {
          "description": "Required. Service level of the storage pool",
          "type": "string",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ]
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the storage pool"
        },
        "ldapEnabled": {
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "kmsConfig": {
          "description": "Optional. Specifies the KMS config to be used for volume encryption.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "customPerformanceEnabled": {
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false",
          "type": "boolean"
        },
        "psaRange": {
          "description": "Optional. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "hotTierSizeGib": {
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "format": "int64",
          "type": "string"
        },
        "availableThroughputMibps": {
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "globalAccessAllowed": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions."
        },
        "replicaZone": {
          "description": "Optional. Specifies the replica zone for regional storagePool.",
          "type": "string"
        },
        "volumeCapacityGib": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool"
        },
        "type": {
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified.",
            "Deprecated: UNIFIED_LARGE_CAPACITY was previously tag 3."
          ],
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED",
            "UNIFIED_LARGE_CAPACITY"
          ],
          "type": "string",
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes or `UNIFIED_LARGE_CAPACITY` (both `FILE` and `BLOCK`) volumes with large capacity. If not specified during creation, it defaults to `FILE`.",
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ]
        },
        "encryptionType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "description": "Output only. Specifies the current pool encryption key source."
        },
        "totalThroughputMibps": {
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the storage pool",
          "type": "string"
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the storage pool"
        },
        "hotTierSizeUsedGib": {
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "volumeCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Volume count of the storage pool",
          "format": "int32"
        },
        "activeDirectory": {
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume.",
          "type": "string"
        },
        "qosType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ],
          "description": "Optional. QoS (Quality of Service) Type of the storage pool"
        }
      },
      "id": "StoragePool",
      "type": "object",
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for."
    },
    "CloneDetails": {
      "id": "CloneDetails",
      "type": "object",
      "properties": {
        "sourceSnapshot": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
        },
        "sourceVolume": {
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "readOnly": true,
          "type": "string"
        },
        "sharedSpaceGib": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "format": "int64"
        }
      },
      "description": "Details about a clone volume."
    },
    "ListActiveDirectoriesResponse": {
      "description": "ListActiveDirectoriesResponse contains all the active directories requested.",
      "properties": {
        "activeDirectories": {
          "description": "The list of active directories.",
          "items": {
            "$ref": "ActiveDirectory"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListActiveDirectoriesResponse",
      "type": "object"
    },
    "BackupRetentionPolicy": {
      "description": "Retention policy for backups in the backup vault",
      "properties": {
        "weeklyBackupImmutable": {
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "dailyBackupImmutable": {
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "backupMinimumEnforcedRetentionDays": {
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "format": "int32",
          "type": "integer"
        },
        "manualBackupImmutable": {
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        }
      },
      "id": "BackupRetentionPolicy",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "CacheConfig": {
      "id": "CacheConfig",
      "type": "object",
      "properties": {
        "writebackEnabled": {
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "cifsChangeNotifyEnabled": {
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "cachePrePopulateState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ],
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing."
        },
        "cachePrePopulate": {
          "$ref": "CachePrePopulate",
          "description": "Optional. Pre-populate cache volume with data from the origin volume."
        }
      },
      "description": "Configuration of the cache volume."
    },
    "ListQuotaRulesResponse": {
      "id": "ListQuotaRulesResponse",
      "type": "object",
      "properties": {
        "quotaRules": {
          "type": "array",
          "description": "List of quota rules",
          "items": {
            "$ref": "QuotaRule"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest."
    },
    "RestoreParameters": {
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "properties": {
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Full name of the backup resource. Format: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}",
          "type": "string"
        }
      },
      "id": "RestoreParameters",
      "type": "object"
    },
    "Snapshot": {
      "id": "Snapshot",
      "type": "object",
      "properties": {
        "description": {
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "usedBytes": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. Current storage usage for the snapshot in bytes."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the snapshot was created."
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. The snapshot state."
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Snapshot is a point-in-time version of a Volume's content."
    },
    "SnapshotPolicy": {
      "properties": {
        "enabled": {
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false.",
          "type": "boolean"
        },
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        },
        "dailySchedule": {
          "$ref": "DailySchedule",
          "description": "Daily schedule policy."
        },
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        },
        "hourlySchedule": {
          "$ref": "HourlySchedule",
          "description": "Hourly schedule policy."
        }
      },
      "id": "SnapshotPolicy",
      "type": "object",
      "description": "Snapshot Policy for a volume."
    },
    "ListHostGroupsResponse": {
      "id": "ListHostGroupsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "hostGroups": {
          "type": "array",
          "description": "The list of host groups.",
          "items": {
            "$ref": "HostGroup"
          }
        }
      },
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest."
    },
    "BackupPolicy": {
      "properties": {
        "createTime": {
          "description": "Output only. The time when the backup policy was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`.",
          "type": "string"
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        },
        "assignedVolumeCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of volumes assigned by this backup policy."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string",
          "description": "Output only. The backup policy state."
        },
        "description": {
          "description": "Description of the backup policy.",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dailyBackupLimit": {
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "format": "int32",
          "type": "integer"
        },
        "weeklyBackupLimit": {
          "type": "integer",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32"
        },
        "monthlyBackupLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
        }
      },
      "id": "BackupPolicy",
      "type": "object",
      "description": "Backup Policy."
    },
    "VerifyKmsConfigResponse": {
      "description": "VerifyKmsConfigResponse contains the information if the config is correctly and error message.",
      "id": "VerifyKmsConfigResponse",
      "type": "object",
      "properties": {
        "instructions": {
          "description": "Output only. Instructions for the customers to provide the access to the encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "healthy": {
          "description": "Output only. If the customer key configured correctly to the encrypt volume.",
          "readOnly": true,
          "type": "boolean"
        },
        "healthError": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message if config is not healthy."
        }
      }
    },
    "ListBackupPoliciesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backupPolicies": {
          "description": "The list of backup policies.",
          "items": {
            "$ref": "BackupPolicy"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListBackupPoliciesResponse",
      "type": "object",
      "description": "ListBackupPoliciesResponse contains all the backup policies requested."
    },
    "BackupConfig": {
      "description": "BackupConfig contains backup related config on a volume.",
      "properties": {
        "backupPolicies": {
          "type": "array",
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "items": {
            "type": "string"
          }
        },
        "backupChainBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)."
        },
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        },
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        }
      },
      "id": "BackupConfig",
      "type": "object"
    },
    "VerifyKmsConfigRequest": {
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "properties": {},
      "id": "VerifyKmsConfigRequest",
      "type": "object"
    },
    "MountOption": {
      "description": "View only mount options for a volume.",
      "id": "MountOption",
      "type": "object",
      "properties": {
        "export": {
          "description": "Export string",
          "type": "string"
        },
        "instructions": {
          "description": "Instructions for mounting",
          "type": "string"
        },
        "exportFull": {
          "description": "Full export string",
          "type": "string"
        },
        "protocol": {
          "description": "Protocol to mount with.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol"
          ],
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI"
          ]
        },
        "ipAddress": {
          "description": "Output only. IP Address.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ResumeReplicationRequest": {
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "id": "ResumeReplicationRequest",
      "type": "object",
      "properties": {}
    },
    "EncryptVolumesRequest": {
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "properties": {},
      "id": "EncryptVolumesRequest",
      "type": "object"
    },
    "ValidateDirectoryServiceRequest": {
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool.",
      "id": "ValidateDirectoryServiceRequest",
      "type": "object",
      "properties": {
        "directoryServiceType": {
          "type": "string",
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ],
          "description": "Type of directory service policy attached to the storage pool."
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Backup": {
      "description": "A NetApp Backup.",
      "properties": {
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "backupRegion": {
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string",
          "readOnly": true
        },
        "backupType": {
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the backup was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The backup state.",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string"
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "chainStorageBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "format": "int64"
        },
        "enforcedRetentionEndTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time until which the backup is not deletable."
        },
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "volumeRegion": {
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "volumeUsageBytes": {
          "format": "int64",
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "readOnly": true,
          "type": "string"
        },
        "sourceVolume": {
          "description": "Volume full name of this backup belongs to. Format: `projects/{projects_id}/locations/{location}/volumes/{volume_id}`",
          "type": "string"
        }
      },
      "id": "Backup",
      "type": "object"
    },
    "EstablishVolumePeeringRequest": {
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "properties": {
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 ip addresses to be used for peering.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerSvmName": {
[...]
