{
  "rootUrl": "https://netapp.googleapis.com/",
  "title": "NetApp API",
  "baseUrl": "https://netapp.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "ownerName": "Google",
  "name": "netapp",
  "discoveryVersion": "v1",
  "servicePath": "",
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "schemas": {
    "DestinationVolumeParameters": {
      "id": "DestinationVolumeParameters",
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "type": "object",
      "properties": {
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        },
        "volumeId": {
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "tieringPolicy": {
          "description": "Optional. Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "shareName": {
          "description": "Destination volume's share name. If not specified, source volume's share name will be used.",
          "type": "string"
        },
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        }
      }
    },
    "MountOption": {
      "properties": {
        "instructions": {
          "description": "Instructions for mounting",
          "type": "string"
        },
        "ipAddress": {
          "readOnly": true,
          "description": "Output only. IP Address.",
          "type": "string"
        },
        "protocol": {
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ],
          "description": "Protocol to mount with.",
          "type": "string",
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ]
        },
        "export": {
          "description": "Export string",
          "type": "string"
        },
        "exportFull": {
          "description": "Full export string",
          "type": "string"
        }
      },
      "id": "MountOption",
      "description": "View only mount options for a volume.",
      "type": "object"
    },
    "Volume": {
      "id": "Volume",
      "description": "Volume provides a filesystem that you can mount.",
      "type": "object",
      "properties": {
        "unixPermissions": {
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only.",
          "type": "string"
        },
        "multipleEndpoints": {
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints.",
          "type": "boolean"
        },
        "hotTierSizeUsedGib": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "type": "string"
        },
        "blockDevices": {
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume.",
          "type": "array",
          "items": {
            "$ref": "BlockDevice"
          }
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "throughputMibps": {
          "format": "double",
          "description": "Optional. Throughput of the volume (in MiB/s)",
          "type": "number"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "description": "Output only. State of the volume"
        },
        "serviceLevel": {
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "type": "string",
          "description": "Output only. Service level of the volume",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ]
        },
        "stateDetails": {
          "description": "Output only. State details of the volume",
          "type": "string",
          "readOnly": true
        },
        "restrictedActions": {
          "items": {
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ],
            "type": "string",
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ]
          },
          "description": "Optional. List of actions that are restricted on this volume.",
          "type": "array"
        },
        "network": {
          "readOnly": true,
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "encryptionType": {
          "description": "Output only. Specified the current volume encryption key source.",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ]
        },
        "kmsConfig": {
          "description": "Output only. Specifies the KMS config to be used for volume encryption.",
          "type": "string",
          "readOnly": true
        },
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the volume",
          "type": "string"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the volume",
          "type": "string",
          "format": "int64"
        },
        "securityStyle": {
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ],
          "description": "Optional. Security Style of the Volume",
          "type": "string",
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ]
        },
        "activeDirectory": {
          "readOnly": true,
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume.",
          "type": "string"
        },
        "storagePool": {
          "description": "Required. StoragePool name of the volume",
          "type": "string"
        },
        "mountOptions": {
          "description": "Output only. Mount options of this volume",
          "type": "array",
          "items": {
            "$ref": "MountOption"
          },
          "readOnly": true
        },
        "tieringPolicy": {
          "description": "Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "snapshotDirectory": {
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots.",
          "type": "boolean"
        },
        "coldTierSizeGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "type": "string"
        },
        "hasReplication": {
          "readOnly": true,
          "description": "Output only. Indicates whether the volume is part of a replication relationship.",
          "type": "boolean"
        },
        "replicaZone": {
          "readOnly": true,
          "description": "Output only. Specifies the replica zone for regional volume.",
          "type": "string"
        },
        "kerberosEnabled": {
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p).",
          "type": "boolean"
        },
        "protocols": {
          "items": {
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI",
              "NVME"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol",
              "NVMe protocol"
            ]
          },
          "description": "Required. Protocols required for the volume",
          "type": "array"
        },
        "snapshotPolicy": {
          "description": "Optional. SnapshotPolicy for a volume.",
          "$ref": "SnapshotPolicy"
        },
        "restoreParameters": {
          "description": "Optional. Specifies the source of the volume to be created from.",
          "$ref": "RestoreParameters"
        },
        "name": {
          "description": "Identifier. Name of the volume",
          "type": "string"
        },
        "zone": {
          "description": "Output only. Specifies the active zone for regional volume.",
          "type": "string",
          "readOnly": true
        },
        "smbSettings": {
          "items": {
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ]
          },
          "description": "Optional. SMB share settings for the volume.",
          "type": "array"
        },
        "snapReserve": {
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent.",
          "type": "number",
          "format": "double"
        },
        "shareName": {
          "description": "Required. Share name of the volume",
          "type": "string"
        },
        "cloneDetails": {
          "readOnly": true,
          "description": "Output only. If this volume is a clone, this field contains details about the clone.",
          "$ref": "CloneDetails"
        },
        "psaRange": {
          "description": "Output only. This field is not implemented. The values provided in this field are ignored.",
          "type": "string",
          "readOnly": true
        },
        "ldapEnabled": {
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not.",
          "type": "boolean",
          "readOnly": true
        },
        "usedGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage.",
          "type": "string"
        },
        "backupConfig": {
          "description": "BackupConfig of the volume.",
          "$ref": "BackupConfig"
        },
        "hybridReplicationParameters": {
          "description": "Optional. The Hybrid Replication parameters for the volume.",
          "$ref": "HybridReplicationParameters"
        },
        "largeCapacityConfig": {
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive.",
          "$ref": "LargeCapacityConfig"
        },
        "description": {
          "description": "Optional. Description of the volume",
          "type": "string"
        },
        "largeCapacity": {
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive.",
          "type": "boolean"
        }
      }
    },
    "ExecuteOntapDeleteResponse": {
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The raw `JSON` body of the response.",
          "type": "object"
        }
      },
      "id": "ExecuteOntapDeleteResponse",
      "description": "Response message for `ExecuteOntapDelete` API.",
      "type": "object"
    },
    "CloneDetails": {
      "id": "CloneDetails",
      "description": "Details about a clone volume.",
      "type": "object",
      "properties": {
        "sourceVolume": {
          "readOnly": true,
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "type": "string"
        },
        "sourceSnapshot": {
          "readOnly": true,
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sharedSpaceGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "type": "string"
        }
      }
    },
    "SimpleExportPolicyRule": {
      "properties": {
        "kerberos5ReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5iReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "squashMode": {
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ],
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided.",
          "type": "string"
        },
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "kerberos5pReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "anonUid": {
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "type": "string",
          "format": "int64"
        },
        "kerberos5pReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5iReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode.",
          "type": "boolean"
        },
        "nfsv3": {
          "description": "NFS V3 protocol.",
          "type": "boolean"
        },
        "accessType": {
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ]
        },
        "kerberos5ReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        }
      },
      "id": "SimpleExportPolicyRule",
      "description": "An export policy rule describing various export options.",
      "type": "object"
    },
    "CacheParameters": {
      "properties": {
        "passphrase": {
          "readOnly": true,
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "type": "string"
        },
        "peerVolumeName": {
          "description": "Required. Name of the origin volume for the cache volume.",
          "type": "string"
        },
        "cacheConfig": {
          "description": "Optional. Configuration of the cache volume.",
          "$ref": "CacheConfig"
        },
        "enableGlobalFileLock": {
          "description": "Optional. Indicates whether the cache volume has global file lock enabled.",
          "type": "boolean"
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. Detailed description of the current cache state.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the origin volume's SVM.",
          "type": "string"
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string",
          "readOnly": true
        },
        "peeringCommandExpiryTime": {
          "format": "google-datetime",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP.",
          "type": "string"
        },
        "cacheState": {
          "readOnly": true,
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. State of the cache volume indicating the peering status.",
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ]
        },
        "peerIpAddresses": {
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "peerClusterName": {
          "description": "Required. Name of the origin volume's ONTAP cluster.",
          "type": "string"
        }
      },
      "id": "CacheParameters",
      "description": "Cache Parameters for the volume.",
      "type": "object"
    },
    "HourlySchedule": {
      "properties": {
        "snapshotsToKeep": {
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        }
      },
      "id": "HourlySchedule",
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00.",
      "type": "object"
    },
    "HybridPeeringDetails": {
      "properties": {
        "passphrase": {
          "readOnly": true,
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "type": "string"
        },
        "subnetIp": {
          "description": "Output only. IP address of the subnet.",
          "type": "string",
          "readOnly": true
        },
        "command": {
          "readOnly": true,
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string"
        },
        "peerSvmName": {
          "readOnly": true,
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerClusterName": {
          "readOnly": true,
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerVolumeName": {
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string",
          "readOnly": true
        },
        "commandExpiryTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP.",
          "type": "string"
        }
      },
      "id": "HybridPeeringDetails",
      "description": "HybridPeeringDetails contains details about the hybrid peering.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListActiveDirectoriesResponse": {
      "id": "ListActiveDirectoriesResponse",
      "description": "ListActiveDirectoriesResponse contains all the active directories requested.",
      "type": "object",
      "properties": {
        "activeDirectories": {
          "description": "The list of active directories.",
          "type": "array",
          "items": {
            "$ref": "ActiveDirectory"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "BackupVault": {
      "properties": {
        "encryptionState": {
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "type": "string"
        },
        "description": {
          "description": "Description of the backup vault.",
          "type": "string"
        },
        "backupVaultType": {
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time of the backup vault.",
          "type": "string"
        },
        "backupsCryptoKeyVersion": {
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "type": "string",
          "readOnly": true
        },
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "sourceRegion": {
          "description": "Output only. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup vault state.",
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ]
        },
        "backupRetentionPolicy": {
          "description": "Optional. Backup retention policy defining the retention of backups.",
          "$ref": "BackupRetentionPolicy"
        },
        "kmsConfig": {
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "sourceBackupVault": {
          "readOnly": true,
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "destinationBackupVault": {
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "BackupVault",
      "description": "A NetApp BackupVault.",
      "type": "object"
    },
    "SwitchActiveReplicaZoneRequest": {
      "id": "SwitchActiveReplicaZoneRequest",
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool.",
      "type": "object",
      "properties": {}
    },
    "BlockDevice": {
      "id": "BlockDevice",
      "description": "Block device represents the device(s) which are stored in the block volume.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed.",
          "type": "string"
        },
        "sizeGib": {
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`.",
          "type": "string",
          "format": "int64"
        },
        "hostGroups": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created.",
          "type": "array"
        },
        "osType": {
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        },
        "identifier": {
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ExecuteOntapPostResponse": {
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The raw `JSON` body of the response.",
          "type": "object"
        }
      },
      "id": "ExecuteOntapPostResponse",
      "description": "Response message for `ExecuteOntapPost` API.",
      "type": "object"
    },
    "EstablishPeeringRequest": {
      "properties": {
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 ip addresses to be used for peering.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EstablishPeeringRequest",
      "description": "EstablishPeeringRequest establishes cluster and svm peerings between the source and the destination replications.",
      "type": "object"
    },
    "HybridReplicationParameters": {
      "properties": {
        "labels": {
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "replicationSchedule": {
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "description": "Optional. Replication Schedule for the replication created.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "peerIpAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of node ip addresses to be peered with.",
          "type": "array"
        },
        "hybridReplicationType": {
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ],
          "description": "Optional. Type of the hybrid replication.",
          "type": "string"
        },
        "replication": {
          "description": "Required. Desired name for the replication of this volume.",
          "type": "string"
        },
        "clusterLocation": {
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only.",
          "type": "string"
        },
        "largeVolumeConstituentCount": {
          "format": "int32",
          "description": "Optional. Constituent volume count for large volume.",
          "type": "integer"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        }
      },
      "id": "HybridReplicationParameters",
      "description": "The Hybrid Replication parameters for the volume.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ListVolumesResponse": {
      "properties": {
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "description": "The list of Volume",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListVolumesResponse",
      "description": "Message for response to listing Volumes",
      "type": "object"
    },
    "TieringPolicy": {
      "id": "TieringPolicy",
      "description": "Defines tiering policy for the volume.",
      "type": "object",
      "properties": {
        "coolingThresholdDays": {
          "format": "int32",
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31.",
          "type": "integer"
        },
        "tierAction": {
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED.",
          "type": "string"
        },
        "hotTierBypassModeEnabled": {
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level.",
          "type": "boolean"
        }
      }
    },
    "ListHostGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "hostGroups": {
          "description": "The list of host groups.",
          "type": "array",
          "items": {
            "$ref": "HostGroup"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListHostGroupsResponse",
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "type": "object"
    },
    "ValidateDirectoryServiceRequest": {
      "properties": {
        "directoryServiceType": {
          "description": "Type of directory service policy attached to the storage pool.",
          "type": "string",
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ]
        }
      },
      "id": "ValidateDirectoryServiceRequest",
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool.",
      "type": "object"
    },
    "ListSnapshotsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "snapshots": {
          "items": {
            "$ref": "Snapshot"
          },
          "description": "A list of snapshots in the project for the specified volume.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListSnapshotsResponse",
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "type": "object"
    },
    "Snapshot": {
      "properties": {
        "description": {
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the snapshot was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. The snapshot state.",
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ]
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "type": "string",
          "readOnly": true
        },
        "usedBytes": {
          "readOnly": true,
          "format": "double",
          "description": "Output only. Current storage usage for the snapshot in bytes.",
          "type": "number"
        }
      },
      "id": "Snapshot",
      "description": "Snapshot is a point-in-time version of a Volume's content.",
      "type": "object"
    },
    "ExecuteOntapPatchRequest": {
      "id": "ExecuteOntapPatchRequest",
      "description": "Request message for `ExecuteOntapPatch` API.",
      "type": "object",
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "type": "object"
        }
      }
    },
    "Backup": {
      "id": "Backup",
      "description": "A NetApp Backup.",
      "type": "object",
      "properties": {
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "sourceVolume": {
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "description": "Output only. The backup state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string"
        },
        "chainStorageBytes": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "type": "string"
        },
        "volumeUsageBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "enforcedRetentionEndTime": {
          "description": "Output only. The time until which the backup is not deletable.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        },
        "volumeRegion": {
          "readOnly": true,
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "backupRegion": {
          "readOnly": true,
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the backup was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "backupType": {
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "type": "string"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "TransferStats": {
      "properties": {
        "lagDuration": {
          "format": "google-duration",
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content.",
          "type": "string"
        },
        "lastTransferError": {
          "description": "A message describing the cause of the last transfer failure.",
          "type": "string"
        },
        "lastTransferDuration": {
          "format": "google-duration",
          "description": "Time taken during last transfer.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when progress was updated last.",
          "type": "string"
        },
        "totalTransferDuration": {
          "format": "google-duration",
          "description": "Cumulative time taken across all transfers for the replication relationship.",
          "type": "string"
        },
        "transferBytes": {
          "format": "int64",
          "description": "Cumulative bytes transferred so far for the replication relationship.",
          "type": "string"
        },
        "lastTransferBytes": {
          "description": "Last transfer size in bytes.",
          "type": "string",
          "format": "int64"
        },
        "lastTransferEndTime": {
          "description": "Time when last transfer completed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "TransferStats",
      "description": "TransferStats reports all statistics related to replication transfer.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "ExportPolicy": {
      "properties": {
        "rules": {
          "items": {
            "$ref": "SimpleExportPolicyRule"
          },
          "description": "Required. List of export policy rules",
          "type": "array"
        }
      },
      "id": "ExportPolicy",
      "description": "Defines the export policy for the volume.",
      "type": "object"
    },
    "RestoreParameters": {
      "id": "RestoreParameters",
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "type": "object",
      "properties": {
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ExecuteOntapPatchResponse": {
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The raw `JSON` body of the response.",
          "type": "object"
        }
      },
      "id": "ExecuteOntapPatchResponse",
      "description": "Response message for `ExecuteOntapPatch` API.",
      "type": "object"
    },
    "ExecuteOntapPostRequest": {
      "id": "ExecuteOntapPostRequest",
      "description": "Request message for `ExecuteOntapPost` API.",
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ListBackupPoliciesResponse": {
      "id": "ListBackupPoliciesResponse",
      "description": "ListBackupPoliciesResponse contains all the backup policies requested.",
      "type": "object",
      "properties": {
        "backupPolicies": {
          "description": "The list of backup policies.",
          "type": "array",
          "items": {
            "$ref": "BackupPolicy"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "EncryptVolumesRequest": {
      "id": "EncryptVolumesRequest",
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "type": "object",
      "properties": {}
    },
    "ListBackupVaultsResponse": {
      "properties": {
        "backupVaults": {
          "description": "A list of backupVaults in the project for the specified location.",
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListBackupVaultsResponse",
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "type": "object"
    },
    "ListReplicationsResponse": {
      "properties": {
        "replications": {
          "description": "A list of replications in the project for the specified volume.",
          "type": "array",
          "items": {
            "$ref": "Replication"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListReplicationsResponse",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "type": "object"
    },
    "DailySchedule": {
      "id": "DailySchedule",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "type": "object",
      "properties": {
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "minute": {
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number"
        },
        "hour": {
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number"
        }
      }
    },
    "QuotaRule": {
      "id": "QuotaRule",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "type": "object",
      "properties": {
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. State details of the quota rule",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "description": "Output only. State of the quota rule",
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ]
        },
        "description": {
          "description": "Optional. Description of the quota rule",
          "type": "string"
        },
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of quota rule.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "diskLimitMib": {
          "description": "Required. The maximum allowed disk space in MiB.",
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "description": "Output only. Create time of the quota rule",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels of the quota rule",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListKmsConfigsResponse": {
      "id": "ListKmsConfigsResponse",
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "kmsConfigs": {
          "items": {
            "$ref": "KmsConfig"
          },
          "description": "The list of KmsConfigs",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "EstablishVolumePeeringRequest": {
      "id": "EstablishVolumePeeringRequest",
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "type": "object",
      "properties": {
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        }
      }
    },
    "SyncReplicationRequest": {
      "id": "SyncReplicationRequest",
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "type": "object",
      "properties": {}
    },
    "ActiveDirectory": {
      "properties": {
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "kdcIp": {
          "description": "KDC server IP address for the active directory machine.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "description": "Output only. The state of the AD.",
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ]
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. The state details of the Active Directory.",
          "type": "string"
        },
        "dns": {
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain.",
          "type": "string"
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery too.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username of the Active Directory domain administrator.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "labels": {
          "description": "Labels for the active directory.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "domain": {
          "description": "Required. Name of the Active Directory domain",
          "type": "string"
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        },
        "netBiosPrefix": {
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name.",
          "type": "string"
        },
        "aesEncryption": {
          "description": "If enabled, AES encryption will be enabled for SMB communication.",
          "type": "boolean"
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "encryptDcConnections": {
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted.",
          "type": "boolean"
        },
        "nfsUsersWithLdap": {
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled.",
          "type": "boolean"
        },
        "backupOperators": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time of the active directory.",
          "type": "string"
        },
        "securityOperators": {
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ldapSigning": {
          "description": "Specifies whether or not the LDAP traffic needs to be signed.",
          "type": "boolean"
        },
        "administrators": {
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ActiveDirectory",
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "type": "object"
    },
    "BackupRetentionPolicy": {
      "properties": {
        "backupMinimumEnforcedRetentionDays": {
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "type": "integer",
          "format": "int32"
        },
        "manualBackupImmutable": {
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "dailyBackupImmutable": {
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "weeklyBackupImmutable": {
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        }
      },
      "id": "BackupRetentionPolicy",
      "description": "Retention policy for backups in the backup vault",
      "type": "object"
    },
    "ExecuteOntapGetResponse": {
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The raw `JSON` body of the response.",
          "type": "object"
        }
      },
      "id": "ExecuteOntapGetResponse",
      "description": "Response message for `ExecuteOntapGet` API.",
      "type": "object"
    },
    "RestoreBackupFilesRequest": {
      "properties": {
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided.",
          "type": "string"
        },
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        },
        "fileList": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "type": "array"
        }
      },
      "id": "RestoreBackupFilesRequest",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "type": "object"
    },
    "SnapshotPolicy": {
      "properties": {
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        },
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        },
        "dailySchedule": {
          "description": "Daily schedule policy.",
          "$ref": "DailySchedule"
        },
        "enabled": {
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false.",
          "type": "boolean"
        },
        "hourlySchedule": {
          "description": "Hourly schedule policy.",
          "$ref": "HourlySchedule"
        }
      },
      "id": "SnapshotPolicy",
      "description": "Snapshot Policy for a volume.",
      "type": "object"
    },
    "MonthlySchedule": {
      "id": "MonthlySchedule",
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "type": "object",
      "properties": {
        "hour": {
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "minute": {
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number"
        },
        "daysOfMonth": {
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'.",
          "type": "string"
        }
      }
    },
    "ListBackupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "backups": {
          "description": "A list of backups in the project.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListBackupsResponse",
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "type": "object"
    },
    "HostGroup": {
      "properties": {
        "createTime": {
          "description": "Output only. Create time of the host group.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the host group.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of the host group.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ]
        },
        "state": {
          "description": "Output only. State of the host group.",
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ]
        },
        "osType": {
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "type": "string",
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        },
        "hosts": {
          "description": "Required. The list of hosts associated with the host group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HostGroup",
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "type": "object"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "description": "Metadata for a given google.cloud.location.Location.",
      "type": "object",
      "properties": {
        "supportedServiceLevels": {
          "description": "Output only. Supported service levels in a location.",
          "type": "array",
          "items": {
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ],
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ],
            "type": "string"
          },
          "readOnly": true
        },
        "supportedFlexPerformance": {
          "items": {
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ],
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ],
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Supported flex performance in a location.",
          "type": "array"
        },
        "hasVcp": {
          "description": "Output only. Indicates if the location has VCP support.",
          "type": "boolean",
          "readOnly": true
        },
        "hasOntapProxy": {
          "readOnly": true,
          "description": "Output only. Indicates if the location has ONTAP Proxy support.",
          "type": "boolean"
        }
      }
    },
    "ListStoragePoolsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "storagePools": {
          "items": {
            "$ref": "StoragePool"
          },
          "description": "The list of StoragePools",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListStoragePoolsResponse",
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "type": "object"
    },
    "LargeCapacityConfig": {
      "properties": {
        "constituentCount": {
          "format": "int32",
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "type": "integer"
        }
      },
      "id": "LargeCapacityConfig",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "type": "object"
    },
    "BackupPolicy": {
      "properties": {
        "monthlyBackupLimit": {
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "description": "Output only. The backup policy state.",
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string"
        },
        "description": {
          "description": "Description of the backup policy.",
          "type": "string"
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        },
        "dailyBackupLimit": {
          "format": "int32",
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "type": "integer"
        },
        "assignedVolumeCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "type": "integer"
        },
        "weeklyBackupLimit": {
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the backup policy was created.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`.",
          "type": "string"
        }
      },
      "id": "BackupPolicy",
      "description": "Backup Policy.",
      "type": "object"
    },
    "BackupConfig": {
      "properties": {
        "backupPolicies": {
          "items": {
            "type": "string"
          },
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "type": "array"
        },
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        },
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        },
        "backupChainBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "type": "string"
        }
      },
      "id": "BackupConfig",
      "description": "BackupConfig contains backup related config on a volume.",
      "type": "object"
    },
    "ListQuotaRulesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "quotaRules": {
          "description": "List of quota rules",
          "type": "array",
          "items": {
            "$ref": "QuotaRule"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListQuotaRulesResponse",
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "type": "object"
    },
    "UserCommands": {
      "properties": {
        "commands": {
          "description": "Output only. List of commands to be executed by the customer.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "id": "UserCommands",
      "description": "UserCommands contains the commands to be executed by the customer.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "ReverseReplicationDirectionRequest": {
      "properties": {},
      "id": "ReverseReplicationDirectionRequest",
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "type": "object"
    },
    "VerifyKmsConfigResponse": {
      "properties": {
        "healthError": {
          "description": "Output only. Error message if config is not healthy.",
          "type": "string",
          "readOnly": true
        },
        "healthy": {
          "description": "Output only. If the customer key configured correctly to the encrypt volume.",
          "type": "boolean",
          "readOnly": true
        },
        "instructions": {
          "readOnly": true,
          "description": "Output only. Instructions for the customers to provide the access to the encryption key.",
          "type": "string"
        }
      },
      "id": "VerifyKmsConfigResponse",
      "description": "VerifyKmsConfigResponse contains the information if the config is correctly and error message.",
      "type": "object"
    },
    "VerifyKmsConfigRequest": {
      "id": "VerifyKmsConfigRequest",
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "type": "object",
      "properties": {}
    },
    "StoragePool": {
      "properties": {
        "capacityGib": {
          "description": "Required. Capacity in GIB of the pool",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time of the storage pool",
          "type": "string"
        },
        "activeDirectory": {
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume.",
          "type": "string"
        },
        "customPerformanceEnabled": {
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false",
          "type": "boolean"
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`.",
          "type": "string"
        },
        "scaleType": {
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ],
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "type": "string",
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ]
        },
        "volumeCapacityGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "type": "string"
        },
        "replicaZone": {
          "description": "Optional. Specifies the replica zone for regional storagePool.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "qosType": {
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "type": "string",
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ]
        },
        "hotTierSizeUsedGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "kmsConfig": {
          "description": "Optional. Specifies the KMS config to be used for volume encryption.",
          "type": "string"
        },
        "totalIops": {
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps",
          "type": "string",
          "format": "int64"
        },
        "serviceLevel": {
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "description": "Required. Service level of the storage pool",
          "type": "string",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ]
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ],
          "description": "Output only. State of the storage pool"
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "type": "string",
          "readOnly": true
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "encryptionType": {
          "description": "Output only. Specifies the current pool encryption key source.",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ]
        },
        "hotTierSizeGib": {
          "format": "int64",
[...]
