{
  "ownerDomain": "google.com",
  "basePath": "",
  "discoveryVersion": "v1",
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "revision": "20260502",
  "baseUrl": "https://netapp.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://netapp.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://netapp.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://netapp.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://netapp.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://netapp.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://netapp.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://netapp.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://netapp.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://netapp.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://netapp.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://netapp.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://netapp.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    }
  ],
  "version": "v1",
  "documentationLink": "https://cloud.google.com/netapp/",
  "version_module": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "mtlsRootUrl": "https://netapp.mtls.googleapis.com/",
  "servicePath": "",
  "title": "NetApp API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "canonicalName": "NetApp Files",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://netapp.googleapis.com/",
  "id": "netapp:v1",
  "schemas": {
    "ListStoragePoolsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "storagePools": {
          "description": "The list of StoragePools",
          "type": "array",
          "items": {
            "$ref": "StoragePool"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "id": "ListStoragePoolsResponse",
      "type": "object"
    },
    "ReverseReplicationDirectionRequest": {
      "properties": {},
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "id": "ReverseReplicationDirectionRequest",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "BlockDevice": {
      "properties": {
        "osType": {
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        },
        "name": {
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed.",
          "type": "string"
        },
        "hostGroups": {
          "type": "array",
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created.",
          "items": {
            "type": "string"
          }
        },
        "sizeGib": {
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`.",
          "format": "int64",
          "type": "string"
        },
        "identifier": {
          "type": "string",
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "readOnly": true
        }
      },
      "id": "BlockDevice",
      "type": "object",
      "description": "Block device represents the device(s) which are stored in the block volume."
    },
    "CachePrePopulate": {
      "description": "Pre-populate cache volume with data from the origin volume.",
      "id": "CachePrePopulate",
      "type": "object",
      "properties": {
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        },
        "pathList": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "type": "array"
        },
        "excludePathList": {
          "type": "array",
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "ExecuteOntapGetResponse": {
      "id": "ExecuteOntapGetResponse",
      "type": "object",
      "description": "Response message for `ExecuteOntapGet` API.",
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ExecuteOntapPostResponse": {
      "description": "Response message for `ExecuteOntapPost` API.",
      "id": "ExecuteOntapPostResponse",
      "type": "object",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "ResumeReplicationRequest": {
      "properties": {},
      "id": "ResumeReplicationRequest",
      "type": "object",
      "description": "ResumeReplicationRequest resumes a stopped replication."
    },
    "BackupRetentionPolicy": {
      "properties": {
        "backupMinimumEnforcedRetentionDays": {
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "format": "int32",
          "type": "integer"
        },
        "weeklyBackupImmutable": {
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "dailyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "manualBackupImmutable": {
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        }
      },
      "id": "BackupRetentionPolicy",
      "type": "object",
      "description": "Retention policy for backups in the backup vault"
    },
    "ListHostGroupsResponse": {
      "id": "ListHostGroupsResponse",
      "type": "object",
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "hostGroups": {
          "type": "array",
          "description": "The list of host groups.",
          "items": {
            "$ref": "HostGroup"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "HybridReplicationParameters": {
      "id": "HybridReplicationParameters",
      "type": "object",
      "description": "The Hybrid Replication parameters for the volume.",
      "properties": {
        "clusterLocation": {
          "type": "string",
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only."
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "replicationSchedule": {
          "description": "Optional. Replication Schedule for the replication created.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ]
        },
        "largeVolumeConstituentCount": {
          "description": "Optional. Constituent volume count for large volume.",
          "format": "int32",
          "type": "integer"
        },
        "hybridReplicationType": {
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "description": "Optional. Type of the hybrid replication.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ]
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "peerIpAddresses": {
          "description": "Required. List of node ip addresses to be peered with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "replication": {
          "type": "string",
          "description": "Required. Desired name for the replication of this volume."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        }
      }
    },
    "Volume": {
      "id": "Volume",
      "type": "object",
      "description": "Volume provides a filesystem that you can mount.",
      "properties": {
        "kmsConfig": {
          "readOnly": true,
          "description": "Output only. Specifies the KMS config to be used for volume encryption.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "shareName": {
          "description": "Required. Share name of the volume",
          "type": "string"
        },
        "protocols": {
          "items": {
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol"
            ]
          },
          "description": "Required. Protocols required for the volume",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the volume"
        },
        "multipleEndpoints": {
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints.",
          "type": "boolean"
        },
        "hotTierSizeUsedGib": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "format": "int64"
        },
        "kerberosEnabled": {
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p).",
          "type": "boolean"
        },
        "blockDevices": {
          "items": {
            "$ref": "BlockDevice"
          },
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume.",
          "type": "array"
        },
        "storagePool": {
          "type": "string",
          "description": "Required. StoragePool name of the volume"
        },
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
        "smbSettings": {
          "description": "Optional. SMB share settings for the volume.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ],
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ]
          }
        },
        "backupConfig": {
          "description": "BackupConfig of the volume.",
          "$ref": "BackupConfig"
        },
        "restrictedActions": {
          "type": "array",
          "description": "Optional. List of actions that are restricted on this volume.",
          "items": {
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ]
          }
        },
        "encryptionType": {
          "type": "string",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "description": "Output only. Specified the current volume encryption key source.",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "readOnly": true
        },
        "snapshotPolicy": {
          "description": "Optional. SnapshotPolicy for a volume.",
          "$ref": "SnapshotPolicy"
        },
        "replicaZone": {
          "readOnly": true,
          "description": "Output only. Specifies the replica zone for regional volume.",
          "type": "string"
        },
        "hybridReplicationParameters": {
          "description": "Optional. The Hybrid Replication parameters for the volume.",
          "$ref": "HybridReplicationParameters"
        },
        "usedGib": {
          "readOnly": true,
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage.",
          "format": "int64",
          "type": "string"
        },
        "activeDirectory": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume."
        },
        "ldapEnabled": {
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the volume",
          "format": "google-datetime"
        },
        "cloneDetails": {
          "$ref": "CloneDetails",
          "readOnly": true,
          "description": "Output only. If this volume is a clone, this field contains details about the clone."
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "state": {
          "description": "Output only. State of the volume",
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ]
        },
        "snapshotDirectory": {
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots.",
          "type": "boolean"
        },
        "tieringPolicy": {
          "description": "Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "restoreParameters": {
          "description": "Optional. Specifies the source of the volume to be created from.",
          "$ref": "RestoreParameters"
        },
        "securityStyle": {
          "type": "string",
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "description": "Optional. Security Style of the Volume",
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ]
        },
        "unixPermissions": {
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only.",
          "type": "string"
        },
        "capacityGib": {
          "type": "string",
          "description": "Required. Capacity in GIB of the volume",
          "format": "int64"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "description": "Output only. Service level of the volume",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ]
        },
        "snapReserve": {
          "type": "number",
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent.",
          "format": "double"
        },
        "mountOptions": {
          "type": "array",
          "description": "Output only. Mount options of this volume",
          "readOnly": true,
          "items": {
            "$ref": "MountOption"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the volume"
        },
        "zone": {
          "readOnly": true,
          "description": "Output only. Specifies the active zone for regional volume.",
          "type": "string"
        },
        "coldTierSizeGib": {
          "type": "string",
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "format": "int64",
          "readOnly": true
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the volume"
        },
        "largeCapacityConfig": {
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive.",
          "$ref": "LargeCapacityConfig"
        },
        "throughputMibps": {
          "description": "Optional. Throughput of the volume (in MiB/s)",
          "format": "double",
          "type": "number"
        },
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}"
        },
        "largeCapacity": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive."
        },
        "hasReplication": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the volume is part of a replication relationship."
        },
        "psaRange": {
          "readOnly": true,
          "description": "Output only. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        }
      }
    },
    "ExportPolicy": {
      "id": "ExportPolicy",
      "type": "object",
      "description": "Defines the export policy for the volume.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "SimpleExportPolicyRule"
          },
          "description": "Required. List of export policy rules",
          "type": "array"
        }
      }
    },
    "MountOption": {
      "description": "View only mount options for a volume.",
      "id": "MountOption",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol"
          ],
          "description": "Protocol to mount with.",
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI"
          ]
        },
        "instructions": {
          "description": "Instructions for mounting",
          "type": "string"
        },
        "exportFull": {
          "type": "string",
          "description": "Full export string"
        },
        "ipAddress": {
          "description": "Output only. IP Address.",
          "type": "string",
          "readOnly": true
        },
        "export": {
          "type": "string",
          "description": "Export string"
        }
      }
    },
    "RestoreBackupFilesRequest": {
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "id": "RestoreBackupFilesRequest",
      "type": "object",
      "properties": {
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        },
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        },
        "fileList": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "type": "array"
        }
      }
    },
    "ExecuteOntapPatchRequest": {
      "description": "Request message for `ExecuteOntapPatch` API.",
      "id": "ExecuteOntapPatchRequest",
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "LargeCapacityConfig": {
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB, it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "id": "LargeCapacityConfig",
      "type": "object",
      "properties": {
        "constituentCount": {
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "HostGroup": {
      "id": "HostGroup",
      "type": "object",
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "description": "Required. Type of the host group.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ]
        },
        "hosts": {
          "type": "array",
          "description": "Required. The list of hosts associated with the host group.",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the host group.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the host group.",
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the host group."
        },
        "labels": {
          "description": "Optional. Labels of the host group.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "osType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        }
      }
    },
    "SnapshotPolicy": {
      "properties": {
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        },
        "enabled": {
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false.",
          "type": "boolean"
        },
        "hourlySchedule": {
          "description": "Hourly schedule policy.",
          "$ref": "HourlySchedule"
        },
        "dailySchedule": {
          "description": "Daily schedule policy.",
          "$ref": "DailySchedule"
        },
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        }
      },
      "description": "Snapshot Policy for a volume.",
      "id": "SnapshotPolicy",
      "type": "object"
    },
    "Snapshot": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the snapshot was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The snapshot state.",
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ]
        },
        "usedBytes": {
          "type": "number",
          "description": "Output only. Current storage usage for the snapshot in bytes.",
          "format": "double",
          "readOnly": true
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the storage pool",
          "readOnly": true
        },
        "description": {
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Snapshot is a point-in-time version of a Volume's content.",
      "id": "Snapshot",
      "type": "object"
    },
    "HybridPeeringDetails": {
      "properties": {
        "subnetIp": {
          "description": "Output only. IP address of the subnet.",
          "type": "string",
          "readOnly": true
        },
        "peerClusterName": {
          "type": "string",
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "readOnly": true
        },
        "passphrase": {
          "readOnly": true,
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "type": "string"
        },
        "command": {
          "readOnly": true,
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string"
        },
        "peerVolumeName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume."
        },
        "commandExpiryTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP.",
          "format": "google-datetime"
        },
        "peerSvmName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        }
      },
      "id": "HybridPeeringDetails",
      "type": "object",
      "description": "HybridPeeringDetails contains details about the hybrid peering."
    },
    "KmsConfig": {
      "properties": {
        "serviceAccount": {
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the KmsConfig."
        },
        "instructions": {
          "type": "string",
          "description": "Output only. Instructions to provide the access to the customer provided encryption key.",
          "readOnly": true
        },
        "cryptoKeyName": {
          "type": "string",
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the KmsConfig.",
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the KmsConfig.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the KmsConfig. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "stateDetails": {
          "description": "Output only. State details of the KmsConfig.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "id": "KmsConfig",
      "type": "object"
    },
    "DestinationVolumeParameters": {
      "id": "DestinationVolumeParameters",
      "type": "object",
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "properties": {
        "tieringPolicy": {
          "description": "Optional. Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        },
        "shareName": {
          "description": "Destination volume's share name. If not specified, source volume's share name will be used.",
          "type": "string"
        },
        "volumeId": {
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        }
      }
    },
    "ExecuteOntapPatchResponse": {
      "description": "Response message for `ExecuteOntapPatch` API.",
      "id": "ExecuteOntapPatchResponse",
      "type": "object",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "Location": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "ListQuotaRulesResponse": {
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "id": "ListQuotaRulesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "quotaRules": {
          "description": "List of quota rules",
          "type": "array",
          "items": {
            "$ref": "QuotaRule"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExecuteOntapDeleteResponse": {
      "description": "Response message for `ExecuteOntapDelete` API.",
      "id": "ExecuteOntapDeleteResponse",
      "type": "object",
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "ListVolumesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "volumes": {
          "type": "array",
          "description": "The list of Volume",
          "items": {
            "$ref": "Volume"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListVolumesResponse",
      "type": "object",
      "description": "Message for response to listing Volumes"
    },
    "ListReplicationsResponse": {
      "id": "ListReplicationsResponse",
      "type": "object",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "properties": {
        "replications": {
          "items": {
            "$ref": "Replication"
          },
          "type": "array",
          "description": "A list of replications in the project for the specified volume."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        }
      }
    },
    "TieringPolicy": {
      "id": "TieringPolicy",
      "type": "object",
      "description": "Defines tiering policy for the volume.",
      "properties": {
        "tierAction": {
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED."
        },
        "coolingThresholdDays": {
          "type": "integer",
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31.",
          "format": "int32"
        },
        "hotTierBypassModeEnabled": {
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level.",
          "type": "boolean"
        }
      }
    },
    "EncryptVolumesRequest": {
      "id": "EncryptVolumesRequest",
      "type": "object",
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "properties": {}
    },
    "ListBackupVaultsResponse": {
      "properties": {
        "backupVaults": {
          "items": {
            "$ref": "BackupVault"
          },
          "description": "A list of backupVaults in the project for the specified location.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "id": "ListBackupVaultsResponse",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "BackupConfig": {
      "description": "BackupConfig contains backup related config on a volume.",
      "id": "BackupConfig",
      "type": "object",
      "properties": {
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        },
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        },
        "backupPolicies": {
          "type": "array",
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "items": {
            "type": "string"
          }
        },
        "backupChainBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "format": "int64"
        }
      }
    },
    "DailySchedule": {
      "properties": {
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double",
          "type": "number"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double",
          "type": "number"
        },
        "hour": {
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double"
        }
      },
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "id": "DailySchedule",
      "type": "object"
    },
    "QuotaRule": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the quota rule"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "description": "Required. The type of quota rule.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ]
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the quota rule",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels of the quota rule",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the quota rule",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default."
        },
        "diskLimitMib": {
          "description": "Required. The maximum allowed disk space in MiB.",
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "description": "Output only. State of the quota rule",
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ],
          "readOnly": true
        }
      },
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "id": "QuotaRule",
      "type": "object"
    },
    "RestoreParameters": {
      "properties": {
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id} Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}",
          "type": "string"
        }
      },
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "id": "RestoreParameters",
      "type": "object"
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "type": "object",
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "backups": {
          "type": "array",
          "description": "A list of backups in the project.",
          "items": {
            "$ref": "Backup"
          }
        }
      }
    },
    "HourlySchedule": {
      "properties": {
        "snapshotsToKeep": {
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double"
        },
        "minute": {
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double"
        }
      },
      "id": "HourlySchedule",
      "type": "object",
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00."
    },
    "MonthlySchedule": {
      "properties": {
        "minute": {
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double"
        },
        "snapshotsToKeep": {
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double",
          "type": "number"
        },
        "daysOfMonth": {
          "type": "string",
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'."
        }
      },
      "id": "MonthlySchedule",
      "type": "object",
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50"
    },
    "BackupPolicy": {
      "description": "Backup Policy.",
      "id": "BackupPolicy",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the backup policy.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`."
        },
        "monthlyBackupLimit": {
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "description": "Output only. The time when the backup policy was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The backup policy state.",
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ]
        },
        "enabled": {
          "type": "boolean",
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true."
        },
        "assignedVolumeCount": {
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "dailyBackupLimit": {
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "format": "int32",
          "type": "integer"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "weeklyBackupLimit": {
          "type": "integer",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32"
        }
      }
    },
    "BackupVault": {
      "id": "BackupVault",
      "type": "object",
      "description": "A NetApp BackupVault.",
      "properties": {
        "sourceRegion": {
          "readOnly": true,
          "description": "Output only. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`."
        },
        "backupsCryptoKeyVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`"
        },
        "description": {
          "type": "string",
          "description": "Description of the backup vault."
        },
        "backupRegion": {
          "type": "string",
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`"
        },
        "encryptionState": {
          "readOnly": true,
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sourceBackupVault": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the backup vault.",
          "format": "google-datetime",
          "type": "string"
        },
        "backupRetentionPolicy": {
          "description": "Optional. Backup retention policy defining the retention of backups.",
          "$ref": "BackupRetentionPolicy"
        },
        "backupVaultType": {
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "type": "string",
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ]
        },
        "destinationBackupVault": {
          "readOnly": true,
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string"
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "description": "Output only. The backup vault state."
        }
      }
    },
    "Backup": {
      "properties": {
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "chainStorageBytes": {
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "description": "Output only. The backup state.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "backupType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "type": "string"
        },
        "sourceSnapshot": {
          "type": "string",
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`"
        },
        "backupRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`"
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "sourceVolume": {
          "type": "string",
          "description": "Volume full name of this backup belongs to. Either source_volume or ontap_source should be provided. Format: `projects/{projects_id}/locations/{location}/volumes/{volume_id}`"
        },
        "volumeUsageBytes": {
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "enforcedRetentionEndTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time until which the backup is not deletable.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
        },
        "volumeRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        }
      },
      "description": "A NetApp Backup.",
      "id": "Backup",
      "type": "object"
    },
    "Replication": {
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions.",
      "id": "Replication",
      "type": "object",
      "properties": {
        "hybridPeeringDetails": {
          "description": "Output only. Hybrid peering details.",
          "$ref": "HybridPeeringDetails",
          "readOnly": true
        },
        "stateDetails": {
          "description": "Output only. State details of the replication.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
          "type": "string"
        },
        "replicationSchedule": {
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "description": "Required. Indicates the schedule for replication."
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "role": {
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates whether this points to source or destination.",
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ]
        },
        "mirrorState": {
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates the state of mirroring.",
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ]
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "destinationVolume": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
        },
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Replication create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "hybridReplicationType": {
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ],
          "description": "Output only. Type of the hybrid replication.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "description": "Output only. State of the replication.",
          "readOnly": true
        },
        "hybridReplicationUserCommands": {
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer.",
          "$ref": "UserCommands",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A description about this replication relationship."
        },
        "sourceVolume": {
          "type": "string",
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true
        },
        "transferStats": {
          "readOnly": true,
          "$ref": "TransferStats",
          "description": "Output only. Replication transfer statistics."
        },
        "healthy": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer."
        }
      }
    },
    "ActiveDirectory": {
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "id": "ActiveDirectory",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the AD.",
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "type": "string"
        },
        "ldapSigning": {
          "type": "boolean",
          "description": "Specifies whether or not the LDAP traffic needs to be signed."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the active directory.",
          "format": "google-datetime",
          "type": "string"
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "kdcHostname": {
          "type": "string",
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume"
        },
        "kdcIp": {
          "type": "string",
          "description": "KDC server IP address for the active directory machine."
        },
        "aesEncryption": {
          "description": "If enabled, AES encryption will be enabled for SMB communication.",
          "type": "boolean"
        },
        "administrators": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Users to be added to the Built-in Admininstrators group."
        },
        "nfsUsersWithLdap": {
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled.",
          "type": "boolean"
        },
        "securityOperators": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Domain users to be given the SeSecurityPrivilege."
        },
        "labels": {
          "description": "Labels for the active directory.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "username": {
          "description": "Required. Username of the Active Directory domain administrator.",
          "type": "string"
        },
        "organizationalUnit": {
          "type": "string",
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to."
        },
        "encryptDcConnections": {
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Description of the active directory."
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "netBiosPrefix": {
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name.",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. The state details of the Active Directory.",
          "type": "string",
          "readOnly": true
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery too.",
          "type": "string"
        },
        "backupOperators": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "type": "array"
        },
        "dns": {
          "type": "string",
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain."
        },
        "domain": {
          "type": "string",
          "description": "Required. Name of the Active Directory domain"
        }
      }
    },
    "TransferStats": {
      "properties": {
        "lastTransferEndTime": {
          "type": "string",
          "description": "Time when last transfer completed.",
          "format": "google-datetime"
        },
        "totalTransferDuration": {
          "description": "Cumulative time taken across all transfers for the replication relationship.",
          "format": "google-duration",
          "type": "string"
        },
        "lastTransferBytes": {
          "type": "string",
          "description": "Last transfer size in bytes.",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "description": "Time when progress was updated last.",
          "format": "google-datetime"
        },
        "transferBytes": {
          "type": "string",
          "description": "Cumulative bytes transferred so far for the replication relationship.",
          "format": "int64"
        },
        "lastTransferDuration": {
          "type": "string",
          "description": "Time taken during last transfer.",
          "format": "google-duration"
        },
        "lastTransferError": {
          "description": "A message describing the cause of the last transfer failure.",
          "type": "string"
        },
        "lagDuration": {
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "TransferStats reports all statistics related to replication transfer.",
      "id": "TransferStats",
      "type": "object"
    },
    "WeeklySchedule": {
      "id": "WeeklySchedule",
      "type": "object",
      "description": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50",
      "properties": {
        "day": {
          "type": "string",
          "description": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'."
        },
        "minute": {
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double"
        },
        "snapshotsToKeep": {
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double",
          "type": "number"
        }
      }
    },
    "StoragePool": {
      "id": "StoragePool",
      "type": "object",
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "properties": {
        "volumeCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Volume count of the storage pool",
          "format": "int32"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use"
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "type": "string",
          "readOnly": true
        },
        "scaleType": {
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ],
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified."
        },
        "hotTierSizeGib": {
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the storage pool",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Optional. Specifies the active zone for regional storagePool."
        },
        "psaRange": {
          "description": "Optional. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use"
        },
        "type": {
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ],
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`.",
          "type": "string",
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ]
        },
        "enableHotTierAutoResize": {
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size.",
          "type": "boolean"
        },
        "state": {
          "description": "Output only. State of the storage pool",
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ]
        },
        "createTime": {
          "readOnly": true,
[...]
