{
  "documentationLink": "https://cloud.google.com/networking",
  "batchPath": "batch",
  "servicePath": "",
  "protocol": "rest",
  "description": "",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "NetworkServices",
  "fullyEncodeReservedExpansion": true,
  "id": "networkservices:v1beta1",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "basePath": "",
  "mtlsRootUrl": "https://networkservices.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "agentGateways": {
              "methods": {
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agentGateways/[^/]+$",
                      "location": "path",
                      "description": "Identifier. Name of the AgentGateway resource. It matches pattern `projects/*/locations/*/agentGateways/`.",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the AgentGateway resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string"
                    }
                  },
                  "description": "Updates the parameters of a single AgentGateway.",
                  "request": {
                    "$ref": "AgentGateway"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkservices.projects.locations.agentGateways.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/agentGateways/{agentGatewaysId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of AgentGateways to return per call.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListAgentGatewaysResponse` Indicates that this is a continuation of a prior `ListAgentGateways` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests. Otherwise if one of the locations is down or unreachable, the Aggregated List request will fail.",
                      "type": "boolean"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location from which the AgentGateways should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists AgentGateways in a given project and location.",
                  "id": "networkservices.projects.locations.agentGateways.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/agentGateways",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAgentGatewaysResponse"
                  },
                  "path": "v1beta1/{+parent}/agentGateways",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "AgentGateway"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the AgentGateway. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true
                    },
                    "agentGatewayId": {
                      "description": "Required. Short name of the AgentGateway resource to be created.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new AgentGateway in a given project and location.",
                  "id": "networkservices.projects.locations.agentGateways.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/agentGateways",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/agentGateways",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkservices.projects.locations.agentGateways.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/agentGateways/{agentGatewaysId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agentGateways/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the AgentGateway to delete. Must be in the format `projects/*/locations/*/agentGateways/*`.",
                      "type": "string",
                      "required": true
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. The etag of the AgentGateway to delete.",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a single AgentGateway."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AgentGateway"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "id": "networkservices.projects.locations.agentGateways.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/agentGateways/{agentGatewaysId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single AgentGateway.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agentGateways/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the AgentGateway to get. Must be in the format `projects/*/locations/*/agentGateways/*`.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "tlsRoutes": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "networkservices.projects.locations.tlsRoutes.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tlsRoutes/{tlsRoutesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single TlsRoute.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. A name of the TlsRoute to delete. Must be in the format `projects/*/locations/*/tlsRoutes/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tlsRoutes/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "id": "networkservices.projects.locations.tlsRoutes.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tlsRoutes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/tlsRoutes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "TlsRoute"
                  },
                  "parameters": {
                    "tlsRouteId": {
                      "description": "Required. Short name of the TlsRoute resource to be created.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the TlsRoute. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Creates a new TlsRoute in a given project and location."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.tlsRoutes.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tlsRoutes/{tlsRoutesId}",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "TlsRoute"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the TlsRoute to get. Must be in the format `projects/*/locations/*/tlsRoutes/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tlsRoutes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets details of a single TlsRoute."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.tlsRoutes.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tlsRoutes",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/tlsRoutes",
                  "response": {
                    "$ref": "ListTlsRoutesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location from which the TlsRoutes should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListTlsRoutesResponse` Indicates that this is a continuation of a prior `ListTlsRoutes` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests. Otherwise if one of the locations is down or unreachable, the Aggregated List request will fail.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "Maximum number of TlsRoutes to return per call.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "description": "Lists TlsRoute in a given project and location."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.tlsRoutes.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tlsRoutes/{tlsRoutesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "TlsRoute"
                  },
                  "description": "Updates the parameters of a single TlsRoute.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tlsRoutes/[^/]+$",
                      "location": "path",
                      "description": "Identifier. Name of the TlsRoute resource. It matches pattern `projects/*/locations/*/tlsRoutes/tls_route_name>`.",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the TlsRoute resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "lbTcpExtensions": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.lbTcpExtensions.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbTcpExtensions/{lbTcpExtensionsId}",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "LbTcpExtension"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbTcpExtensions/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the `LbTcpExtension` resource to get. Must be in the format `projects/{project}/locations/{location}/LbTcpExtensions/{lb_tcp_extension}`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Gets details of the specified `LbTcpExtension` resource."
                },
                "delete": {
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbTcpExtensions/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the `LbTcpExtension` resource to delete. Must be in the format `projects/{project}/locations/{location}/LbTcpExtensions/{lb_tcp_extension}`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes the specified `LbTcpExtension` resource.",
                  "id": "networkservices.projects.locations.lbTcpExtensions.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbTcpExtensions/{lbTcpExtensionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameters": {
                    "lbTcpExtensionId": {
                      "location": "query",
                      "description": "Required. User-provided ID of the `LbTcpExtension` resource to be created.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the `LbTcpExtension` resource. Must be in the format `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new `LbTcpExtension` resource in a given project and location.",
                  "request": {
                    "$ref": "LbTcpExtension"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/lbTcpExtensions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "networkservices.projects.locations.lbTcpExtensions.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbTcpExtensions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.lbTcpExtensions.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbTcpExtensions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/lbTcpExtensions",
                  "response": {
                    "$ref": "ListLbTcpExtensionsResponse"
                  },
                  "description": "Lists `LbTcpExtension` resources in a given project and location.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results that the server returns.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location from which the `LbTcpExtension` resources are listed, specified in the following format: `projects/{project}/locations/{location}`.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "LbTcpExtension"
                  },
                  "description": "Updates the parameters of the specified `LbTcpExtension` resource.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbTcpExtensions/[^/]+$",
                      "location": "path",
                      "description": "Required. Identifier. Name of the `LbTcpExtension` resource in the following format: `projects/{project}/locations/{location}/LbTcpExtension/{lb_tcp_extension}`",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Used to specify the fields to be overwritten in the `LbTcpExtension` resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field is overwritten if it is in the mask. If the user does not specify a mask, then all fields are overwritten.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.lbTcpExtensions.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbTcpExtensions/{lbTcpExtensionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "lbTrafficExtensions": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbTrafficExtensions/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the `LbTrafficExtension` resource to get. Must be in the format `projects/{project}/locations/{location}/lbTrafficExtensions/{lb_traffic_extension}`.",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of the specified `LbTrafficExtension` resource.",
                  "response": {
                    "$ref": "LbTrafficExtension"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkservices.projects.locations.lbTrafficExtensions.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbTrafficExtensions/{lbTrafficExtensionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "id": "networkservices.projects.locations.lbTrafficExtensions.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbTrafficExtensions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/lbTrafficExtensions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "LbTrafficExtension"
                  },
                  "parameters": {
                    "lbTrafficExtensionId": {
                      "description": "Required. User-provided ID of the `LbTrafficExtension` resource to be created.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the `LbTrafficExtension` resource. Must be in the format `projects/{project}/locations/{location}`.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new `LbTrafficExtension` resource in a given project and location."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "networkservices.projects.locations.lbTrafficExtensions.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbTrafficExtensions/{lbTrafficExtensionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Deletes the specified `LbTrafficExtension` resource.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the `LbTrafficExtension` resource to delete. Must be in the format `projects/{project}/locations/{location}/lbTrafficExtensions/{lb_traffic_extension}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbTrafficExtensions/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "id": "networkservices.projects.locations.lbTrafficExtensions.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbTrafficExtensions/{lbTrafficExtensionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "LbTrafficExtension"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Identifier. Name of the `LbTrafficExtension` resource in the following format: `projects/{project}/locations/{location}/lbTrafficExtensions/{lb_traffic_extension}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbTrafficExtensions/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Used to specify the fields to be overwritten in the `LbTrafficExtension` resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field is overwritten if it is in the mask. If the user does not specify a mask, then all fields are overwritten.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Updates the parameters of the specified `LbTrafficExtension` resource."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListLbTrafficExtensionsResponse"
                  },
                  "path": "v1beta1/{+parent}/lbTrafficExtensions",
                  "httpMethod": "GET",
                  "id": "networkservices.projects.locations.lbTrafficExtensions.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbTrafficExtensions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists `LbTrafficExtension` resources in a given project and location.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint about how to order the results.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results that the server returns.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location from which the `LbTrafficExtension` resources are listed. These values are specified in the following format: `projects/{project}/locations/{location}`.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "httpRoutes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListHttpRoutesResponse"
                  },
                  "path": "v1beta1/{+parent}/httpRoutes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "networkservices.projects.locations.httpRoutes.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/httpRoutes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "The value returned by the last `ListHttpRoutesResponse` Indicates that this is a continuation of a prior `ListHttpRoutes` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests. Otherwise if one of the locations is down or unreachable, the Aggregated List request will fail.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum number of HttpRoutes to return per call.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location from which the HttpRoutes should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists HttpRoute in a given project and location."
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. Name of the HttpRoute resource. It matches pattern `projects/*/locations/*/httpRoutes/http_route_name>`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/httpRoutes/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the HttpRoute resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates the parameters of a single HttpRoute.",
                  "request": {
                    "$ref": "HttpRoute"
                  },
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.httpRoutes.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/httpRoutes/{httpRoutesId}",
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "description": "Deletes a single HttpRoute.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. A name of the HttpRoute to delete. Must be in the format `projects/*/locations/*/httpRoutes/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/httpRoutes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "networkservices.projects.locations.httpRoutes.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/httpRoutes/{httpRoutesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates a new HttpRoute in a given project and location.",
                  "parameters": {
                    "httpRouteId": {
                      "location": "query",
                      "description": "Required. Short name of the HttpRoute resource to be created.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the HttpRoute. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "HttpRoute"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/httpRoutes",
                  "httpMethod": "POST",
                  "id": "networkservices.projects.locations.httpRoutes.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/httpRoutes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets details of a single HttpRoute.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/httpRoutes/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the HttpRoute to get. Must be in the format `projects/*/locations/*/httpRoutes/*`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "id": "networkservices.projects.locations.httpRoutes.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/httpRoutes/{httpRoutesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "HttpRoute"
                  },
                  "path": "v1beta1/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "id": "networkservices.projects.locations.operations.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.operations.cancel",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.operations.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "networkservices.projects.locations.operations.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            },
            "wasmPlugins": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "WasmPlugin"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. Name of the `WasmPlugin` resource in the following format: `projects/{project}/locations/{location}/wasmPlugins/{wasm_plugin}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Used to specify the fields to be overwritten in the `WasmPlugin` resource by the update. The fields specified in the `update_mask` field are relative to the resource, not the full request. An omitted `update_mask` field is treated as an implied `update_mask` field equivalent to all fields that are populated (that have a non-empty value). The `update_mask` field supports a special value `*`, which means that each field in the given `WasmPlugin` resource (including the empty ones) replaces the current value.",
                      "type": "string"
                    }
                  },
                  "description": "Updates the parameters of the specified `WasmPlugin` resource.",
                  "id": "networkservices.projects.locations.wasmPlugins.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1beta1/{+parent}/wasmPlugins",
                  "response": {
                    "$ref": "ListWasmPluginsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.wasmPlugins.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/wasmPlugins",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The value returned by the last `ListWasmPluginsResponse` call. Indicates that this is a continuation of a prior `ListWasmPlugins` call, and that the next page of data is to be returned.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of `WasmPlugin` resources to return per call. If not specified, at most 50 `WasmPlugin` resources are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location from which the `WasmPlugin` resources are listed, specified in the following format: `projects/{project}/locations/global`.",
                      "type": "string"
                    }
                  },
                  "description": "Lists `WasmPlugin` resources in a given project and location."
                },
                "create": {
                  "request": {
                    "$ref": "WasmPlugin"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the `WasmPlugin` resource. Must be in the format `projects/{project}/locations/global`.",
                      "type": "string",
                      "required": true
                    },
                    "wasmPluginId": {
                      "description": "Required. User-provided ID of the `WasmPlugin` resource to be created.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new `WasmPlugin` resource in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.wasmPlugins.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/wasmPlugins",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/wasmPlugins",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "description": "Deletes the specified `WasmPlugin` resource.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. A name of the `WasmPlugin` resource to delete. Must be in the format `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "networkservices.projects.locations.wasmPlugins.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "WasmPlugin"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.wasmPlugins.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}",
                  "description": "Gets details of the specified `WasmPlugin` resource.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. A name of the `WasmPlugin` resource to get. Must be in the format `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+$",
                      "location": "path"
                    },
                    "view": {
                      "enum": [
                        "WASM_PLUGIN_VIEW_UNSPECIFIED",
                        "WASM_PLUGIN_VIEW_BASIC",
                        "WASM_PLUGIN_VIEW_FULL"
                      ],
                      "description": "Determines how much data must be returned in the response. See [AIP-157](https://google.aip.dev/157).",
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified value. Do not use.",
                        "If specified in the `GET` request for a `WasmPlugin` resource, the server's response includes just the `WasmPlugin` resource.",
                        "If specified in the `GET` request for a `WasmPlugin` resource, the server's response includes the `WasmPlugin` resource with all its versions."
                      ]
                    }
                  }
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "WasmPluginVersion"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkservices.projects.locations.wasmPlugins.versions.get",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}/versions/{versionsId}",
                      "description": "Gets details of the specified `WasmPluginVersion` resource.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "description": "Required. A name of the `WasmPluginVersion` resource to get. Must be in the format `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}/versions/{wasm_plugin_version}`.",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta1/{+parent}/versions",
                      "httpMethod": "POST",
                      "id": "networkservices.projects.locations.wasmPlugins.versions.create",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new `WasmPluginVersion` resource in a given project and location.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent resource of the `WasmPluginVersion` resource. Must be in the format `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}`.",
                          "type": "string"
                        },
                        "wasmPluginVersionId": {
                          "description": "Required. User-provided ID of the `WasmPluginVersion` resource to be created.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "WasmPluginVersion"
                      }
                    },
                    "list": {
                      "description": "Lists `WasmPluginVersion` resources in a given project and location.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The `WasmPlugin` resource whose `WasmPluginVersion`s are listed, specified in the following format: `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The value returned by the last `ListWasmPluginVersionsResponse` call. Indicates that this is a continuation of a prior `ListWasmPluginVersions` call, and that the next page of data is to be returned.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Maximum number of `WasmPluginVersion` resources to return per call. If not specified, at most 50 `WasmPluginVersion` resources are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                          "type": "integer"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkservices.projects.locations.wasmPlugins.versions.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/versions",
                      "response": {
                        "$ref": "ListWasmPluginVersionsResponse"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkservices.projects.locations.wasmPlugins.versions.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}/versions/{versionsId}",
                      "httpMethod": "DELETE",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. A name of the `WasmPluginVersion` resource to delete. Must be in the format `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}/versions/{wasm_plugin_version}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+/versions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Deletes the specified `WasmPluginVersion` resource."
                    }
                  }
                }
              }
            },
            "gateways": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "Gateway"
                  },
                  "description": "Updates the parameters of a single Gateway.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gateways/[^/]+$",
                      "location": "path",
                      "description": "Identifier. Name of the Gateway resource. It matches pattern `projects/*/locations/*/gateways/`.",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Gateway resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "networkservices.projects.locations.gateways.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/gateways/{gatewaysId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "The value returned by the last `ListGatewaysResponse` Indicates that this is a continuation of a prior `ListGateways` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum number of Gateways to return per call.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The project and location from which the Gateways should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Lists Gateways in a given project and location.",
                  "id": "networkservices.projects.locations.gateways.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/gateways",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListGatewaysResponse"
                  },
                  "path": "v1beta1/{+parent}/gateways",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "Gateway"
                  },
                  "description": "Creates a new Gateway in a given project and location.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the Gateway. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true
                    },
                    "gatewayId": {
                      "description": "Required. Short name of the Gateway resource to be created.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.gateways.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/gateways",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/gateways",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/gateways/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the Gateway to delete. Must be in the format `projects/*/locations/*/gateways/*`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes a single Gateway.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.gateways.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/gateways/{gatewaysId}",
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gateways/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the Gateway to get. Must be in the format `projects/*/locations/*/gateways/*`.",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a single Gateway.",
                  "response": {
                    "$ref": "Gateway"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkservices.projects.locations.gateways.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/gateways/{gatewaysId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "routeViews": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Maximum number of GatewayRouteViews to return per call.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The value returned by the last `ListGatewayRouteViewsResponse` Indicates that this is a continuation of a prior `ListGatewayRouteViews` call, and that the system should return the next page of data.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/gateways/[^/]+$",
                          "location": "path",
                          "description": "Required. The Gateway to which a Route is associated. Formats: projects/{project_number}/locations/{location}/gateways/{gateway}",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Lists RouteViews",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkservices.projects.locations.gateways.routeViews.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/gateways/{gatewaysId}/routeViews",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/routeViews",
                      "response": {
                        "$ref": "ListGatewayRouteViewsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GatewayRouteView"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkservices.projects.locations.gateways.routeViews.get",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/gateways/{gatewaysId}/routeViews/{routeViewsId}",
                      "description": "Get a single RouteView of a Gateway.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/gateways/[^/]+/routeViews/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the GatewayRouteView resource. Formats: projects/{project_number}/locations/{location}/gateways/{gateway}/routeViews/{route_view}",
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  }
                }
              }
            },
            "grpcRoutes": {
              "methods": {
                "get": {
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GrpcRoute"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.grpcRoutes.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/grpcRoutes/{grpcRoutesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/grpcRoutes/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the GrpcRoute to get. Must be in the format `projects/*/locations/*/grpcRoutes/*`.",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a single GrpcRoute."
                },
                "delete": {
                  "description": "Deletes a single GrpcRoute.",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the GrpcRoute to delete. Must be in the format `projects/*/locations/*/grpcRoutes/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/grpcRoutes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.grpcRoutes.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/grpcRoutes/{grpcRoutesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "GrpcRoute"
                  },
                  "description": "Creates a new GrpcRoute in a given project and location.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the GrpcRoute. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true
                    },
                    "grpcRouteId": {
                      "description": "Required. Short name of the GrpcRoute resource to be created.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "networkservices.projects.locations.grpcRoutes.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/grpcRoutes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/grpcRoutes"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListGrpcRoutesResponse"
                  },
                  "path": "v1beta1/{+parent}/grpcRoutes",
                  "httpMethod": "GET",
                  "id": "networkservices.projects.locations.grpcRoutes.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/grpcRoutes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists GrpcRoutes in a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "description": "The value returned by the last `ListGrpcRoutesResponse` Indicates that this is a continuation of a prior `ListGrpcRoutes` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests. Otherwise if one of the locations is down or unreachable, the Aggregated List request will fail.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum number of GrpcRoutes to return per call.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location from which the GrpcRoutes should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.grpcRoutes.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/grpcRoutes/{grpcRoutesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "GrpcRoute"
                  },
                  "description": "Updates the parameters of a single GrpcRoute.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/grpcRoutes/[^/]+$",
                      "location": "path",
                      "description": "Identifier. Name of the GrpcRoute resource. It matches pattern `projects/*/locations/*/grpcRoutes/`",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the GrpcRoute resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "lbEdgeExtensions": {
              "methods": {
                "patch": {
                  "description": "Updates the parameters of the specified `LbEdgeExtension` resource.",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Identifier. Name of the `LbEdgeExtension` resource in the following format: `projects/{project}/locations/{location}/lbEdgeExtensions/{lb_edge_extension}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbEdgeExtensions/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Used to specify the fields to be overwritten in the `LbEdgeExtension` resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field is overwritten if it is in the mask. If the user does not specify a mask, then all fields are overwritten.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "LbEdgeExtension"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "id": "networkservices.projects.locations.lbEdgeExtensions.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbEdgeExtensions/{lbEdgeExtensionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListLbEdgeExtensionsResponse"
                  },
                  "path": "v1beta1/{+parent}/lbEdgeExtensions",
                  "httpMethod": "GET",
                  "id": "networkservices.projects.locations.lbEdgeExtensions.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbEdgeExtensions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists `LbEdgeExtension` resources in a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results that the server returns.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The project and location from which the `LbEdgeExtension` resources are listed. These values are specified in the following format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint about how to order the results.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "LbEdgeExtension"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "id": "networkservices.projects.locations.lbEdgeExtensions.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbEdgeExtensions/{lbEdgeExtensionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of the specified `LbEdgeExtension` resource.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbEdgeExtensions/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the `LbEdgeExtension` resource to get. Must be in the format `projects/{project}/locations/{location}/lbEdgeExtensions/{lb_edge_extension}`.",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "LbEdgeExtension"
                  },
                  "description": "Creates a new `LbEdgeExtension` resource in a given project and location.",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the `LbEdgeExtension` resource. Must be in the format `projects/{project}/locations/{location}`.",
                      "type": "string"
                    },
                    "lbEdgeExtensionId": {
                      "location": "query",
                      "description": "Required. User-provided ID of the `LbEdgeExtension` resource to be created.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "networkservices.projects.locations.lbEdgeExtensions.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbEdgeExtensions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/lbEdgeExtensions"
                },
                "delete": {
                  "description": "Deletes the specified `LbEdgeExtension` resource.",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The name of the `LbEdgeExtension` resource to delete. Must be in the format `projects/{project}/locations/{location}/lbEdgeExtensions/{lb_edge_extension}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbEdgeExtensions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "networkservices.projects.locations.lbEdgeExtensions.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/lbEdgeExtensions/{lbEdgeExtensionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}"
                }
              }
            },
            "tcpRoutes": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "TcpRoute"
                  },
                  "parameters": {
                    "name": {
                      "description": "Identifier. Name of the TcpRoute resource. It matches pattern `projects/*/locations/*/tcpRoutes/tcp_route_name>`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tcpRoutes/[^/]+$",
                      "location": "path",
[...]
