{
  "name": "networksecurity",
  "description": "",
  "basePath": "",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "baseUrl": "https://networksecurity.googleapis.com/",
  "canonicalName": "NetworkSecurity",
  "batchPath": "batch",
  "title": "Network Security API",
  "id": "networksecurity:v1beta1",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/networking",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://networksecurity.mtls.googleapis.com/",
  "schemas": {
    "AuthzPolicyAuthzRuleToRequestOperation": {
      "id": "AuthzPolicyAuthzRuleToRequestOperation",
      "properties": {
        "mcp": {
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCP",
          "description": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources."
        },
        "paths": {
          "description": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        },
        "headerSet": {
          "description": "Optional. A list of headers to match against in http header.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet"
        },
        "hosts": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy.",
          "type": "array"
        },
        "methods": {
          "description": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Describes properties of one or more targets of a request.",
      "type": "object"
    },
    "ListFirewallEndpointsResponse": {
      "description": "Message for response to listing Endpoints",
      "type": "object",
      "id": "ListFirewallEndpointsResponse",
      "properties": {
        "firewallEndpoints": {
          "items": {
            "$ref": "FirewallEndpoint"
          },
          "description": "The list of Endpoint",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ListBackendAuthenticationConfigsResponse": {
      "description": "Response returned by the ListBackendAuthenticationConfigs method.",
      "type": "object",
      "id": "ListBackendAuthenticationConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "backendAuthenticationConfigs": {
          "description": "List of BackendAuthenticationConfig resources.",
          "type": "array",
          "items": {
            "$ref": "BackendAuthenticationConfig"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "CertificateProviderInstance": {
      "id": "CertificateProviderInstance",
      "properties": {
        "pluginInstance": {
          "description": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance.",
          "type": "string"
        }
      },
      "description": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration.",
      "type": "object"
    },
    "FirewallEndpointEndpointSettings": {
      "description": "Settings for the endpoint.",
      "type": "object",
      "id": "FirewallEndpointEndpointSettings",
      "properties": {
        "jumboFramesEnabled": {
          "description": "Optional. Immutable. Indicates whether Jumbo Frames are enabled. Default value is false.",
          "type": "boolean"
        }
      }
    },
    "InterceptEndpointGroup": {
      "id": "InterceptEndpointGroup",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object"
        },
        "associations": {
          "readOnly": true,
          "items": {
            "$ref": "InterceptEndpointGroupAssociationDetails"
          },
          "description": "Output only. List of associations to this endpoint group.",
          "type": "array"
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "interceptDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this endpoint group is connected to, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and interception is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ],
          "type": "string"
        },
        "connectedDeploymentGroup": {
          "readOnly": true,
          "description": "Output only. Details about the connected deployment group to this endpoint group.",
          "$ref": "InterceptEndpointGroupConnectedDeploymentGroup"
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure intercept for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A firewall rule that references the security profile (group).",
      "type": "object"
    },
    "MTLSPolicy": {
      "id": "MTLSPolicy",
      "properties": {
        "clientValidationTrustConfig": {
          "description": "Reference to the TrustConfig from certificatemanager.googleapis.com namespace. If specified, the chain validation will be performed against certificates configured in the given TrustConfig. Allowed only if the policy is to be used with Application Load Balancers.",
          "type": "string"
        },
        "clientValidationMode": {
          "description": "When the client presents an invalid certificate or no certificate to the load balancer, the `client_validation_mode` specifies how the client connection is handled. Required if the policy is to be used with the Application Load Balancers. For Traffic Director it must be empty.",
          "type": "string",
          "enum": [
            "CLIENT_VALIDATION_MODE_UNSPECIFIED",
            "ALLOW_INVALID_OR_MISSING_CLIENT_CERT",
            "REJECT_INVALID"
          ],
          "enumDescriptions": [
            "Not allowed.",
            "Allow connection even if certificate chain validation of the client certificate failed or no client certificate was presented. The proof of possession of the private key is always checked if client certificate was presented. This mode requires the backend to implement processing of data extracted from a client certificate to authenticate the peer, or to reject connections if the client certificate fingerprint is missing.",
            "Require a client certificate and allow connection to the backend only if validation of the client certificate passed. If set, requires a reference to non-empty TrustConfig specified in `client_validation_trust_config`."
          ]
        },
        "clientValidationCa": {
          "description": "Required if the policy is to be used with Traffic Director. For Application Load Balancers it must be empty. Defines the mechanism to obtain the Certificate Authority certificate to validate the client certificate.",
          "type": "array",
          "items": {
            "$ref": "ValidationCA"
          }
        }
      },
      "description": "Specification of the MTLSPolicy.",
      "type": "object"
    },
    "GatewaySecurityPolicyRule": {
      "description": "The GatewaySecurityPolicyRule resource is in a nested collection within a GatewaySecurityPolicy and represents a traffic matching condition and associated action to perform.",
      "type": "object",
      "id": "GatewaySecurityPolicyRule",
      "properties": {
        "createTime": {
          "description": "Output only. Time when the rule was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Time when the rule was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "basicProfile": {
          "enumDescriptions": [
            "If there is not a mentioned action for the target.",
            "Allow the matched traffic.",
            "Deny the matched traffic."
          ],
          "description": "Required. Profile which tells what the primitive action should be.",
          "type": "string",
          "enum": [
            "BASIC_PROFILE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "applicationMatcher": {
          "description": "Optional. CEL expression for matching on L7/application level criteria.",
          "type": "string"
        },
        "tlsInspectionEnabled": {
          "description": "Optional. Flag to enable TLS inspection of traffic matching on , can only be true if the parent GatewaySecurityPolicy references a TLSInspectionConfig.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Whether the rule is enforced.",
          "type": "boolean"
        },
        "priority": {
          "description": "Required. Priority of the rule. Lower number corresponds to higher precedence.",
          "type": "integer",
          "format": "int32"
        },
        "sessionMatcher": {
          "description": "Required. CEL expression for matching on session criteria.",
          "type": "string"
        },
        "name": {
          "description": "Required. Immutable. Name of the resource. ame is the full resource name so projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy}/rules/{rule} rule should match the pattern: (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        }
      }
    },
    "ListInterceptEndpointGroupAssociationsResponse": {
      "description": "Response message for ListInterceptEndpointGroupAssociations.",
      "type": "object",
      "id": "ListInterceptEndpointGroupAssociationsResponse",
      "properties": {
        "interceptEndpointGroupAssociations": {
          "items": {
            "$ref": "InterceptEndpointGroupAssociation"
          },
          "description": "The associations from the specified parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      }
    },
    "ListAddressGroupReferencesResponseAddressGroupReference": {
      "id": "ListAddressGroupReferencesResponseAddressGroupReference",
      "properties": {
        "firewallPolicy": {
          "description": "FirewallPolicy that is using the Address Group.",
          "type": "string"
        },
        "securityPolicy": {
          "description": "Cloud Armor SecurityPolicy that is using the Address Group.",
          "type": "string"
        },
        "rulePriority": {
          "description": "Rule priority of the FirewallPolicy that is using the Address Group.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The Reference of AddressGroup.",
      "type": "object"
    },
    "InterceptDeploymentGroup": {
      "description": "A deployment group aggregates many zonal intercept backends (deployments) into a single global intercept service. Consumers can connect this service using an endpoint group.",
      "type": "object",
      "id": "InterceptDeploymentGroup",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted."
          ]
        },
        "connectedEndpointGroups": {
          "readOnly": true,
          "items": {
            "$ref": "InterceptDeploymentGroupConnectedEndpointGroup"
          },
          "description": "Output only. The list of endpoint groups that are connected to this resource.",
          "type": "array"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nestedDeployments": {
          "items": {
            "$ref": "InterceptDeploymentGroupDeployment"
          },
          "type": "array",
          "description": "Output only. The list of Intercept Deployments that belong to this group.",
          "deprecated": true,
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "network": {
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group.",
          "type": "string"
        },
        "locations": {
          "description": "Output only. The list of locations where the deployment group is present.",
          "type": "array",
          "items": {
            "$ref": "InterceptLocation"
          },
          "readOnly": true
        }
      }
    },
    "Destination": {
      "id": "Destination",
      "properties": {
        "hosts": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\".",
          "type": "array"
        },
        "ports": {
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "Required. List of destination ports to match. At least one port should match.",
          "type": "array"
        },
        "methods": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services.",
          "type": "array"
        },
        "httpHeaderMatch": {
          "description": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy.",
          "$ref": "HttpHeaderMatch"
        }
      },
      "description": "Specification of traffic destination attributes.",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleTo": {
      "id": "AuthzPolicyAuthzRuleTo",
      "properties": {
        "operations": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperation"
          },
          "description": "Optional. Describes properties of one or more targets of a request. At least one of operations or notOperations must be specified. Limited to 1 operation. A match occurs when ANY operation (in operations or notOperations) matches. Within an operation, the match follows AND semantics across fields and OR semantics within a field, i.e. a match occurs when ANY path matches AND ANY header matches and ANY method matches.",
          "type": "array"
        },
        "notOperations": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperation"
          },
          "description": "Optional. Describes the negated properties of the targets of a request. Matches requests for operations that do not match the criteria specified in this field. At least one of operations or notOperations must be specified.",
          "type": "array"
        }
      },
      "description": "Describes properties of one or more targets of a request.",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleFrom": {
      "description": "Describes properties of one or more sources of a request.",
      "type": "object",
      "id": "AuthzPolicyAuthzRuleFrom",
      "properties": {
        "notSources": {
          "description": "Optional. Describes the negated properties of request sources. Matches requests from sources that do not match the criteria specified in this field. At least one of sources or notSources must be specified.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          }
        },
        "sources": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          },
          "description": "Optional. Describes the properties of a request's sources. At least one of sources or notSources must be specified. Limited to 1 source. A match occurs when ANY source (in sources or notSources) matches the request. Within a single source, the match follows AND semantics across fields and OR semantics within a single field, i.e. a match occurs when ANY principal matches AND ANY ipBlocks match.",
          "type": "array"
        }
      }
    },
    "ThreatPreventionProfile": {
      "description": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels.",
      "type": "object",
      "id": "ThreatPreventionProfile",
      "properties": {
        "threatOverrides": {
          "description": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied.",
          "type": "array",
          "items": {
            "$ref": "ThreatOverride"
          }
        },
        "antivirusOverrides": {
          "items": {
            "$ref": "AntivirusOverride"
          },
          "description": "Optional. Configuration for overriding antivirus actions per protocol.",
          "type": "array"
        },
        "severityOverrides": {
          "items": {
            "$ref": "SeverityOverride"
          },
          "description": "Optional. Configuration for overriding threats actions by severity match.",
          "type": "array"
        }
      }
    },
    "AuthzPolicyCustomProviderCloudIap": {
      "id": "AuthzPolicyCustomProviderCloudIap",
      "properties": {},
      "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places.",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "GoogleCloudNetworksecurityV1beta1CertificateProvider": {
      "id": "GoogleCloudNetworksecurityV1beta1CertificateProvider",
      "properties": {
        "grpcEndpoint": {
          "$ref": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint",
          "description": "gRPC specific configuration to access the gRPC server to obtain the cert and private key."
        },
        "certificateProviderInstance": {
          "$ref": "CertificateProviderInstance",
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information."
        }
      },
      "description": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication.",
      "type": "object"
    },
    "AuthzPolicy": {
      "description": "`AuthzPolicy` is a resource that allows to forward traffic to a callout backend designed to scan the traffic for security purposes.",
      "type": "object",
      "id": "AuthzPolicy",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "policyProfile": {
          "enumDescriptions": [
            "Unspecified policy profile.",
            "Applies to request authorization. `CUSTOM` authorization policies with Authz extensions will be allowed with `EXT_AUTHZ_GRPC` or `EXT_PROC_GRPC` protocols. Extensions are invoked only for request header events.",
            "Applies to content security, sanitization, etc. Only `CUSTOM` action is allowed in this policy profile. AuthzExtensions in the custom provider must support `EXT_PROC_GRPC` protocol only and be capable of receiving all `EXT_PROC_GRPC` events (REQUEST_HEADERS, REQUEST_BODY, REQUEST_TRAILERS, RESPONSE_HEADERS, RESPONSE_BODY, RESPONSE_TRAILERS) with `FULL_DUPLEX_STREAMED` body send mode."
          ],
          "description": "Optional. Immutable. Defines the type of authorization being performed. If not specified, `REQUEST_AUTHZ` is applied. This field cannot be changed once AuthzPolicy is created.",
          "type": "string",
          "enum": [
            "POLICY_PROFILE_UNSPECIFIED",
            "REQUEST_AUTHZ",
            "CONTENT_AUTHZ"
          ]
        },
        "name": {
          "description": "Required. Identifier. Name of the `AuthzPolicy` resource in the following format: `projects/{project}/locations/{location}/authzPolicies/{authz_policy}`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `AuthzPolicy` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "customProvider": {
          "$ref": "AuthzPolicyCustomProvider",
          "description": "Optional. Required if the action is `CUSTOM`. Allows delegating authorization decisions to Cloud IAP or to Service Extensions. One of `cloudIap` or `authzExtension` must be specified."
        },
        "httpRules": {
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          },
          "description": "Optional. A list of authorization HTTP rules to match against the incoming request. A policy match occurs when at least one HTTP rule matches the request or when no HTTP rules are specified in the policy. At least one HTTP Rule is required for Allow or Deny Action. Limited to 5 rules.",
          "type": "array"
        },
        "action": {
          "enumDescriptions": [
            "Unspecified action.",
            "Allow request to pass through to the backend.",
            "Deny the request and return a HTTP 404 to the client.",
            "Delegate the authorization decision to an external authorization engine."
          ],
          "description": "Required. Can be one of `ALLOW`, `DENY`, `CUSTOM`. When the action is `CUSTOM`, `customProvider` must be specified. When the action is `ALLOW`, only requests matching the policy will be allowed. When the action is `DENY`, only requests matching the policy will be denied. When a request arrives, the policies are evaluated in the following order: 1. If there is a `CUSTOM` policy that matches the request, the `CUSTOM` policy is evaluated using the custom authorization providers and the request is denied if the provider rejects the request. 2. If there are any `DENY` policies that match the request, the request is denied. 3. If there are no `ALLOW` policies for the resource or if any of the `ALLOW` policies match the request, the request is allowed. 4. Else the request is denied by default if none of the configured AuthzPolicies with `ALLOW` action match the request.",
          "type": "string",
          "enum": [
            "AUTHZ_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY",
            "CUSTOM"
          ]
        },
        "target": {
          "description": "Required. Specifies the set of resources to which this policy should be applied to.",
          "$ref": "AuthzPolicyTarget"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListInterceptDeploymentGroupsResponse": {
      "id": "ListInterceptDeploymentGroupsResponse",
      "properties": {
        "interceptDeploymentGroups": {
          "items": {
            "$ref": "InterceptDeploymentGroup"
          },
          "description": "The deployment groups from the specified parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      },
      "description": "Response message for ListInterceptDeploymentGroups.",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCP": {
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCP",
      "properties": {
        "baseProtocolMethodsOption": {
          "enumDescriptions": [
            "Unspecified option. Defaults to SKIP_BASE_PROTOCOL_METHODS.",
            "Skip matching on the base MCP protocol methods.",
            "Match on the base MCP protocol methods."
          ],
          "description": "Optional. If specified, matches on the MCP protocol’s non-access specific methods namely: * initialize * completion/ * logging/ * notifications/ * ping Defaults to SKIP_BASE_PROTOCOL_METHODS if not specified.",
          "type": "string",
          "enum": [
            "BASE_PROTOCOL_METHODS_OPTION_UNSPECIFIED",
            "SKIP_BASE_PROTOCOL_METHODS",
            "MATCH_BASE_PROTOCOL_METHODS"
          ]
        },
        "methods": {
          "description": "Optional. A list of MCP methods and associated parameters to match on. It is recommended to use this field to match on tools, prompts and resource accesses while setting the baseProtocolMethodsOption to MATCH_BASE_PROTOCOL_METHODS to match on all the other MCP protocol methods. Limited to 10 MCP methods per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod"
          }
        }
      },
      "description": "Describes a set of MCP protocol attributes to match against for a given MCP request.",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleFromRequestSource": {
      "description": "Describes the properties of a single source.",
      "type": "object",
      "id": "AuthzPolicyAuthzRuleFromRequestSource",
      "properties": {
        "resources": {
          "description": "Optional. A list of resources to match against the resource of the source VM of a request. Limited to 10 resources per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleRequestResource"
          }
        },
        "principals": {
          "description": "Optional. A list of identities derived from the client's certificate. This field will not match on a request unless frontend mutual TLS is enabled for the forwarding rule or Gateway and the client certificate has been successfully validated by mTLS. Each identity is a string whose value is matched against a list of URI SANs, DNS Name SANs, or the common name in the client's certificate. A match happens when any principal matches with the rule. Limited to 50 principals per Authorization Policy for regional internal Application Load Balancers, regional external Application Load Balancers, cross-region internal Application Load Balancers, and Cloud Service Mesh. This field is not supported for global external Application Load Balancers.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRulePrincipal"
          }
        },
        "ipBlocks": {
          "description": "Optional. A list of IP addresses or IP address ranges to match against the source IP address of the request. Limited to 10 ip_blocks per Authorization Policy",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleIpBlock"
          }
        }
      }
    },
    "AntivirusOverride": {
      "id": "AntivirusOverride",
      "properties": {
        "protocol": {
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "description": "Required. Protocol to match.",
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "SMTP",
            "SMB",
            "POP3",
            "IMAP",
            "HTTP2",
            "HTTP",
            "FTP"
          ]
        },
        "action": {
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies.",
          "type": "string",
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ]
        }
      },
      "description": "Defines what action to take for antivirus threats per protocol.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ListSecurityProfileGroupsResponse": {
      "description": "Response returned by the ListSecurityProfileGroups method.",
      "type": "object",
      "id": "ListSecurityProfileGroupsResponse",
      "properties": {
        "securityProfileGroups": {
          "description": "List of SecurityProfileGroups resources.",
          "type": "array",
          "items": {
            "$ref": "SecurityProfileGroup"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "AddAddressGroupItemsRequest": {
      "id": "AddAddressGroupItemsRequest",
      "properties": {
        "items": {
          "description": "Required. List of items to add.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request used by the AddAddressGroupItems method.",
      "type": "object"
    },
    "TlsInspectionPolicy": {
      "description": "The TlsInspectionPolicy resource contains references to CA pools in Certificate Authority Service and associated metadata.",
      "type": "object",
      "id": "TlsInspectionPolicy",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "minTlsVersion": {
          "description": "Optional. Minimum TLS version that the firewall should use when negotiating connections with both clients and servers. If this is not set, then the default value is to allow the broadest set of clients and servers (TLS 1.0 or higher). Setting this to more restrictive values may improve security, but may also prevent the firewall from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "type": "string",
          "enum": [
            "TLS_VERSION_UNSPECIFIED",
            "TLS_1_0",
            "TLS_1_1",
            "TLS_1_2",
            "TLS_1_3"
          ],
          "enumDescriptions": [
            "Indicates no TLS version was specified.",
            "TLS 1.0",
            "TLS 1.1",
            "TLS 1.2",
            "TLS 1.3"
          ]
        },
        "caPool": {
          "description": "Required. A CA pool resource used to issue interception certificates. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        },
        "excludePublicCaSet": {
          "description": "Optional. If FALSE (the default), use our default set of public CAs in addition to any CAs specified in trust_config. These public CAs are currently based on the Mozilla Root Program and are subject to change over time. If TRUE, do not accept our default set of public CAs. Only CAs specified in trust_config will be accepted. This defaults to FALSE (use public CAs in addition to trust_config) for backwards compatibility, but trusting public root CAs is *not recommended* unless the traffic in question is outbound to public web servers. When possible, prefer setting this to \"false\" and explicitly specifying trusted CAs and certificates in a TrustConfig. Note that Secure Web Proxy does not yet honor this field.",
          "type": "boolean"
        },
        "tlsFeatureProfile": {
          "description": "Optional. The selected Profile. If this is not set, then the default value is to allow the broadest set of clients and servers (\"PROFILE_COMPATIBLE\"). Setting this to more restrictive values may improve security, but may also prevent the TLS inspection proxy from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "type": "string",
          "enum": [
            "PROFILE_UNSPECIFIED",
            "PROFILE_COMPATIBLE",
            "PROFILE_MODERN",
            "PROFILE_RESTRICTED",
            "PROFILE_CUSTOM"
          ],
          "enumDescriptions": [
            "Indicates no profile was specified.",
            "Compatible profile. Allows the broadest set of clients, even those which support only out-of-date SSL features to negotiate with the TLS inspection proxy.",
            "Modern profile. Supports a wide set of SSL features, allowing modern clients to negotiate SSL with the TLS inspection proxy.",
            "Restricted profile. Supports a reduced set of SSL features, intended to meet stricter compliance requirements.",
            "Custom profile. Allow only the set of allowed SSL features specified in the custom_features field of SslPolicy."
          ]
        },
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/tlsInspectionPolicies/{tls_inspection_policy} tls_inspection_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "customTlsFeatures": {
          "description": "Optional. List of custom TLS cipher suites selected. This field is valid only if the selected tls_feature_profile is CUSTOM. The compute.SslPoliciesService.ListAvailableFeatures method returns the set of features that can be specified in this list. Note that Secure Web Proxy does not yet honor this field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "trustConfig": {
          "description": "Optional. A TrustConfig resource used when making a connection to the TLS server. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". This is necessary to intercept TLS connections to servers with certificates signed by a private CA or self-signed certificates. Note that Secure Web Proxy does not yet honor this field.",
          "type": "string"
        }
      }
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCPMethod": {
      "description": "Describes a set of MCP methods to match against.",
      "type": "object",
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod",
      "properties": {
        "name": {
          "description": "Required. The MCP method to match against. Allowed values are as follows: 1. `tools`, `prompts`, `resources` - these will match against all sub methods under the respective methods. 2. `prompts/list`, `tools/list`, `resources/list`, `resources/templates/list` 3. `prompts/get`, `tools/call`, `resources/subscribe`, `resources/unsubscribe`, `resources/read` Params cannot be specified for categories 1 and 2.",
          "type": "string"
        },
        "params": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of MCP method parameters to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 MCP method parameters per Authorization Policy.",
          "type": "array"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudNetworksecurityV1beta1GrpcEndpoint": {
      "description": "Specification of the GRPC Endpoint.",
      "type": "object",
      "id": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint",
      "properties": {
        "targetUri": {
          "description": "Required. The target URI of the gRPC endpoint. Only UDS path is supported, and should start with \"unix:\".",
          "type": "string"
        }
      }
    },
    "AuthzPolicyAuthzRuleIpBlock": {
      "id": "AuthzPolicyAuthzRuleIpBlock",
      "properties": {
        "prefix": {
          "description": "Required. The address prefix.",
          "type": "string"
        },
        "length": {
          "description": "Required. The length of the address range.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a range of IP Addresses.",
      "type": "object"
    },
    "AddressGroup": {
      "description": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy.",
      "type": "object",
      "id": "AddressGroup",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "purpose": {
          "description": "Optional. List of supported purposes of the Address Group.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. Should never happen.",
              "Address Group is distributed to VMC, and is usable in Firewall Policies and other systems that rely on VMC.",
              "Address Group is usable in Cloud Armor."
            ],
            "type": "string",
            "enum": [
              "PURPOSE_UNSPECIFIED",
              "DEFAULT",
              "CLOUD_ARMOR"
            ]
          }
        },
        "capacity": {
          "description": "Required. Capacity of the Address Group",
          "type": "integer",
          "format": "int32"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the AddressGroup resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\".",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ]
        },
        "name": {
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`.",
          "type": "string"
        },
        "items": {
          "description": "Optional. List of items.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "readOnly": true,
          "description": "Output only. Server-defined fully-qualified URL for this resource.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        }
      }
    },
    "MirroringDeploymentGroupConnectedEndpointGroup": {
      "id": "MirroringDeploymentGroupConnectedEndpointGroup",
      "properties": {
        "name": {
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An endpoint group connected to this deployment group.",
      "type": "object"
    },
    "ListClientTlsPoliciesResponse": {
      "id": "ListClientTlsPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "clientTlsPolicies": {
          "description": "List of ClientTlsPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "ClientTlsPolicy"
          }
        }
      },
      "description": "Response returned by the ListClientTlsPolicies method.",
      "type": "object"
    },
    "AuthzPolicyCustomProvider": {
      "id": "AuthzPolicyCustomProvider",
      "properties": {
        "authzExtension": {
          "$ref": "AuthzPolicyCustomProviderAuthzExtension",
          "description": "Optional. Delegate authorization decision to user authored Service Extension. Only one of cloudIap or authzExtension can be specified."
        },
        "cloudIap": {
          "$ref": "AuthzPolicyCustomProviderCloudIap",
          "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places."
        }
      },
      "description": "Allows delegating authorization decisions to Cloud IAP or to Service Extensions.",
      "type": "object"
    },
    "CustomInterceptProfile": {
      "id": "CustomInterceptProfile",
      "properties": {
        "interceptEndpointGroup": {
          "description": "Required. The target InterceptEndpointGroup. When a firewall rule with this security profile attached matches a packet, the packet will be intercepted to the location-local target in this group.",
          "type": "string"
        }
      },
      "description": "CustomInterceptProfile defines in-band integration behavior (intercept). It is used by firewall rules with an APPLY_SECURITY_PROFILE_GROUP action.",
      "type": "object"
    },
    "AuthorizationPolicy": {
      "description": "AuthorizationPolicy is a resource that specifies how a server should authorize incoming connections. This resource in itself does not change the configuration unless it's attached to a target https proxy or endpoint config selector resource.",
      "type": "object",
      "id": "AuthorizationPolicy",
      "properties": {
        "action": {
          "description": "Required. The action to take when a rule match is found. Possible values are \"ALLOW\" or \"DENY\".",
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Default value.",
            "Grant access.",
            "Deny access. Deny rules should be avoided unless they are used to provide a default \"deny all\" fallback."
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the AuthorizationPolicy resource.",
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. Name of the AuthorizationPolicy resource. It matches pattern `projects/{project}/locations/{location}/authorizationPolicies/`.",
          "type": "string"
        },
        "rules": {
          "description": "Optional. List of rules to match. Note that at least one of the rules must match in order for the action specified in the 'action' field to be taken. A rule is a match if there is a matching source and destination. If left blank, the action specified in the `action` field will be applied on every request.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        }
      }
    },
    "AuthzPolicyAuthzRule": {
      "id": "AuthzPolicyAuthzRule",
      "properties": {
        "from": {
          "description": "Optional. Describes properties of a source of a request.",
          "$ref": "AuthzPolicyAuthzRuleFrom"
        },
        "when": {
          "description": "Optional. CEL expression that describes the conditions to be satisfied for the action. The result of the CEL expression is ANDed with the from and to. Refer to the CEL language reference for a list of available attributes.",
          "type": "string"
        },
        "to": {
          "$ref": "AuthzPolicyAuthzRuleTo",
          "description": "Optional. Describes properties of a target of a request."
        }
      },
      "description": "Conditions to match against the incoming request.",
      "type": "object"
    },
    "ListServerTlsPoliciesResponse": {
      "id": "ListServerTlsPoliciesResponse",
      "properties": {
        "serverTlsPolicies": {
          "items": {
            "$ref": "ServerTlsPolicy"
          },
          "description": "List of ServerTlsPolicy resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request opts into `return_partial_success` and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "description": "Response returned by the ListServerTlsPolicies method.",
      "type": "object"
    },
    "AuthzPolicyAuthzRulePrincipal": {
      "id": "AuthzPolicyAuthzRulePrincipal",
      "properties": {
        "principal": {
          "$ref": "AuthzPolicyAuthzRuleStringMatch",
          "description": "Required. A non-empty string whose value is matched against the principal value based on the principal_selector. Only exact match can be applied for CLIENT_CERT_URI_SAN, CLIENT_CERT_DNS_NAME_SAN, CLIENT_CERT_COMMON_NAME selectors."
        },
        "principalSelector": {
          "description": "Optional. An enum to decide what principal value the principal rule will match against. If not specified, the PrincipalSelector is CLIENT_CERT_URI_SAN.",
          "type": "string",
          "enum": [
            "PRINCIPAL_SELECTOR_UNSPECIFIED",
            "CLIENT_CERT_URI_SAN",
            "CLIENT_CERT_DNS_NAME_SAN",
            "CLIENT_CERT_COMMON_NAME"
          ],
          "enumDescriptions": [
            "Unspecified principal selector. It will be treated as CLIENT_CERT_URI_SAN by default.",
            "The principal rule is matched against a list of URI SANs in the validated client's certificate. A match happens when there is any exact URI SAN value match. This is the default principal selector.",
            "The principal rule is matched against a list of DNS Name SANs in the validated client's certificate. A match happens when there is any exact DNS Name SAN value match. This is only applicable for Application Load Balancers except for classic Global External Application load balancer. CLIENT_CERT_DNS_NAME_SAN is not supported for INTERNAL_SELF_MANAGED load balancing scheme.",
            "The principal rule is matched against the common name in the client's certificate. Authorization against multiple common names in the client certificate is not supported. Requests with multiple common names in the client certificate will be rejected if CLIENT_CERT_COMMON_NAME is set as the principal selector. A match happens when there is an exact common name value match. This is only applicable for Application Load Balancers except for global external Application Load Balancer and classic Application Load Balancer. CLIENT_CERT_COMMON_NAME is not supported for INTERNAL_SELF_MANAGED load balancing scheme."
          ]
        }
      },
      "description": "Describes the properties of a principal to be matched against.",
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "Source": {
      "description": "Specification of traffic source attributes.",
      "type": "object",
      "id": "Source",
      "properties": {
        "principals": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of peer identities to match for authorization. At least one principal should match. Each peer can be an exact match, or a prefix match (example, \"namespace/*\") or a suffix match (example, \"*/service-account\") or a presence match \"*\". Authorization based on the principal name without certificate validation (configured by ServerTlsPolicy resource) is considered insecure.",
          "type": "array"
        },
        "ipBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of CIDR ranges to match based on source IP address. At least one IP block should match. Single IP (e.g., \"1.2.3.4\") and CIDR (e.g., \"1.2.3.0/24\") are supported. Authorization based on source IP alone should be avoided. The IP addresses of any load balancers or proxies should be considered untrusted.",
          "type": "array"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "FirewallEndpoint": {
      "description": "Message describing Endpoint object.",
      "type": "object",
      "id": "FirewallEndpoint",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time stamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Update time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "type": "boolean"
        },
        "satisfiesPzs": {
          "description": "Output only. [Output Only] Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. [Output Only] Reserved for future use.",
          "type": "boolean"
        },
        "associatedNetworks": {
          "readOnly": true,
          "description": "Output only. List of networks that are associated with this endpoint in the local zone. This is a projection of the FirewallEndpointAssociations pointing at this endpoint. A network will only appear in this list after traffic routing is fully configured. Format: projects/{project}/global/networks/{name}.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "billingProjectId": {
          "description": "Optional. Project to charge for the deployed firewall endpoint. This field must be specified when creating the endpoint in the organization scope, and should be omitted otherwise.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Processing configuration updates.",
            "Being deleted.",
            "Down or in an error state."
          ],
          "description": "Output only. Current state of the endpoint.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "type": "string"
        },
        "endpointSettings": {
          "description": "Optional. Settings for the endpoint.",
          "$ref": "FirewallEndpointEndpointSettings"
        },
        "name": {
          "description": "Immutable. Identifier. Name of resource.",
          "type": "string"
        },
        "associations": {
          "items": {
            "$ref": "FirewallEndpointAssociationReference"
          },
          "description": "Output only. List of FirewallEndpointAssociations that are associated to this endpoint. An association will only appear in this list after traffic routing is fully configured.",
          "type": "array",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of the firewall endpoint. Max length 2048 characters.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ListSACAttachmentsResponse": {
      "description": "Response for `ListSACAttachments` method.",
      "type": "object",
      "id": "ListSACAttachmentsResponse",
      "properties": {
        "sacAttachments": {
          "description": "The list of SACAttachments.",
          "type": "array",
          "items": {
            "$ref": "SACAttachment"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ListMirroringDeploymentsResponse": {
      "id": "ListMirroringDeploymentsResponse",
      "properties": {
        "mirroringDeployments": {
          "description": "The deployments from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "MirroringDeployment"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for ListMirroringDeployments.",
      "type": "object"
    },
    "SACAttachment": {
      "id": "SACAttachment",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Optional list of labels applied to the resource.",
          "type": "object"
        },
        "nccGateway": {
          "description": "Required. NCC Gateway associated with the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/spokes/{ncc_gateway}`.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/{location}/sacAttachments/{sac_attachment}`.",
          "type": "string"
        },
        "country": {
          "description": "Optional. Case-insensitive ISO-3166 alpha-2 country code used for localization. Only valid for Symantec attachments.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Case-sensitive tzinfo identifier used for localization. Only valid for Symantec attachments.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the attachment was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when the attachment was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "sacRealm": {
          "description": "Required. SAC Realm which owns the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/sacRealms/{sac_realm}`.",
          "type": "string"
        },
        "symantecOptions": {
          "description": "Optional. Configuration required for Symantec attachments.",
          "$ref": "SACAttachmentSACAttachmentSymantecOptions"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached."
          ],
          "description": "Output only. State of the attachment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED"
          ]
        }
      },
      "description": "Represents a Secure Access Connect (SAC) attachment resource. A Secure Access Connect attachment enables NCC Gateway to process traffic with an SSE product.",
      "type": "object"
    },
    "UrlFilteringProfile": {
      "id": "UrlFilteringProfile",
      "properties": {
        "urlFilters": {
          "items": {
            "$ref": "UrlFilter"
          },
          "description": "Optional. The list of filtering configs in which each config defines an action to take for some URL match.",
          "type": "array"
        }
      },
      "description": "UrlFilteringProfile defines filters based on URL.",
      "type": "object"
    },
    "ListMirroringDeploymentGroupsResponse": {
      "description": "Response message for ListMirroringDeploymentGroups.",
      "type": "object",
      "id": "ListMirroringDeploymentGroupsResponse",
      "properties": {
        "mirroringDeploymentGroups": {
          "items": {
            "$ref": "MirroringDeploymentGroup"
          },
          "description": "The deployment groups from the specified parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "ListGatewaySecurityPolicyRulesResponse": {
      "description": "Response returned by the ListGatewaySecurityPolicyRules method.",
      "type": "object",
      "id": "ListGatewaySecurityPolicyRulesResponse",
      "properties": {
        "gatewaySecurityPolicyRules": {
          "items": {
            "$ref": "GatewaySecurityPolicyRule"
          },
          "description": "List of GatewaySecurityPolicyRule resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "GoogleIamV1Policy",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      }
    },
    "ListAddressGroupReferencesResponse": {
      "id": "ListAddressGroupReferencesResponse",
      "properties": {
        "addressGroupReferences": {
          "description": "A list of references that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "ListAddressGroupReferencesResponseAddressGroupReference"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "description": "Response of the ListAddressGroupReferences method.",
      "type": "object"
    },
    "SACRealmSACRealmSymantecOptions": {
      "id": "SACRealmSACRealmSymantecOptions",
      "properties": {
        "availableSymantecSites": {
          "description": "Output only. Symantec site IDs which the user can choose to connect to.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "secretPath": {
          "description": "Optional. API Key used to call Symantec APIs on the user's behalf. Required if using Symantec Cloud SWG. P4SA account needs permissions granted to read this secret. A secret ID, secret name, or secret URI can be specified, but it will be parsed and stored as a secret URI in the form `projects/{project_number}/secrets/my-secret`.",
          "type": "string"
        },
        "symantecConnectionState": {
          "readOnly": true,
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Successfully made a request to Symantec API.",
            "Cannot access the API key in the provided `secret_path`.",
            "Failed to get a successful response from Symantec API due to an invalid API key or Symantec API unavailability.",
            "The connection state is unavailable because live calls to Symantec API are not made for historical requests."
          ],
          "description": "Output only. Connection status to Symantec API.",
          "enum": [
            "SYMANTEC_CONNECTION_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "READ_SECRET_FAILED",
            "REQUEST_TO_SYMANTEC_FAILED",
            "UNAVAILABLE_FOR_HISTORICAL_REQUESTS"
          ],
          "type": "string"
        }
      },
      "description": "Fields specific to realms using Symantec Cloud SWG.",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleRequestResource": {
      "description": "Describes the properties of a client VM resource accessing the internal application load balancers.",
      "type": "object",
      "id": "AuthzPolicyAuthzRuleRequestResource",
      "properties": {
        "tagValueIdSet": {
          "$ref": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet",
          "description": "Optional. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request."
        },
        "iamServiceAccount": {
          "$ref": "AuthzPolicyAuthzRuleStringMatch",
          "description": "Optional. An IAM service account to match against the source service account of the VM sending the request."
        }
      }
    },
    "FirewallEndpointAssociation": {
      "description": "Message describing Association object",
      "type": "object",
      "id": "FirewallEndpointAssociation",
      "properties": {
        "state": {
          "description": "Output only. Current state of the association.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "ORPHAN"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Active and ready for traffic.",
            "Being deleted.",
            "Down or in an error state.",
            "The project that housed the association has been deleted."
          ],
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the association is disabled. True indicates that traffic won't be intercepted",
          "type": "boolean"
        },
        "reconciling": {
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "tlsInspectionPolicy": {
          "description": "Optional. The URL of the TlsInspectionPolicy that is being associated.",
          "type": "string"
        },
        "firewallEndpoint": {
          "description": "Required. The URL of the FirewallEndpoint that is being associated.",
          "type": "string"
        },
        "network": {
[...]
