{
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "servicePath": "",
  "id": "networksecurity:v1",
  "canonicalName": "NetworkSecurity",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/networking",
  "ownerDomain": "google.com",
  "schemas": {
    "ListInterceptEndpointGroupAssociationsResponse": {
      "id": "ListInterceptEndpointGroupAssociationsResponse",
      "type": "object",
      "description": "Response message for ListInterceptEndpointGroupAssociations.",
      "properties": {
        "interceptEndpointGroupAssociations": {
          "type": "array",
          "items": {
            "$ref": "InterceptEndpointGroupAssociation"
          },
          "description": "The associations from the specified parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      }
    },
    "MirroringDeploymentGroupDeployment": {
      "id": "MirroringDeploymentGroupDeployment",
      "type": "object",
      "description": "A deployment belonging to this deployment group.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Mirroring Deployment, in the format: `projects/{project}/locations/{location}/mirroringDeployments/{mirroring_deployment}`."
        },
        "state": {
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "description": "Output only. Most recent known state of the deployment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CustomMirroringProfile": {
      "id": "CustomMirroringProfile",
      "type": "object",
      "description": "CustomMirroringProfile defines out-of-band integration behavior (mirroring). It is used by mirroring rules with a MIRROR action.",
      "properties": {
        "mirroringEndpointGroup": {
          "description": "Required. Immutable. The target MirroringEndpointGroup. When a mirroring rule with this security profile attached matches a packet, a replica will be mirrored to the location-local target in this group.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InterceptEndpointGroupAssociationDetails": {
      "description": "The endpoint group's view of a connected association.",
      "properties": {
        "name": {
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "description": "Output only. Most recent known state of the association."
        },
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124."
        }
      },
      "id": "InterceptEndpointGroupAssociationDetails",
      "type": "object"
    },
    "ServerTlsPolicy": {
      "id": "ServerTlsPolicy",
      "type": "object",
      "description": "ServerTlsPolicy is a resource that specifies how a server should authenticate incoming requests. This resource itself does not affect configuration unless it is attached to a target HTTPS proxy or endpoint config selector resource. ServerTlsPolicy in the form accepted by Application Load Balancers can be attached only to TargetHttpsProxy with an `EXTERNAL`, `EXTERNAL_MANAGED` or `INTERNAL_MANAGED` load balancing scheme. Traffic Director compatible ServerTlsPolicies can be attached to EndpointPolicy and TargetHttpsProxy with Traffic Director `INTERNAL_SELF_MANAGED` load balancing scheme.",
      "properties": {
        "name": {
          "description": "Required. Name of the ServerTlsPolicy resource. It matches the pattern `projects/*/locations/{location}/serverTlsPolicies/{server_tls_policy}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "allowOpen": {
          "description": "This field applies only for Traffic Director policies. It is must be set to false for Application Load Balancer policies. Determines if server allows plaintext connections. If set to true, server allows plain text connections. By default, it is set to false. This setting is not exclusive of other encryption modes. For example, if `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections. See documentation of other encryption modes to confirm compatibility. Consider using it if you wish to upgrade in place your deployment to TLS while having mixed TLS and non-TLS traffic reaching port :80.",
          "type": "boolean"
        },
        "mtlsPolicy": {
          "description": "This field is required if the policy is used with Application Load Balancers. This field can be empty for Traffic Director. Defines a mechanism to provision peer validation certificates for peer to peer authentication (Mutual TLS - mTLS). If not specified, client certificate will not be requested. The connection is treated as TLS and not mTLS. If `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections.",
          "$ref": "MTLSPolicy"
        },
        "description": {
          "description": "Free-text description of the resource.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Set of label tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "serverCertificate": {
          "description": "Optional if policy is to be used with Traffic Director. For Application Load Balancers must be empty. Defines a mechanism to provision server identity (public and private keys). Cannot be combined with `allow_open` as a permissive mode that allows both plain text and TLS is not supported.",
          "$ref": "GoogleCloudNetworksecurityV1CertificateProvider"
        }
      }
    },
    "FirewallEndpointAssociationReference": {
      "description": "This is a subset of the FirewallEndpointAssociation message, containing fields to be used by the consumer.",
      "properties": {
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The VPC network associated. Format: projects/{project}/global/networks/{name}."
        },
        "name": {
          "description": "Output only. The resource name of the FirewallEndpointAssociation. Format: projects/{project}/locations/{location}/firewallEndpointAssociations/{id}",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "FirewallEndpointAssociationReference",
      "type": "object"
    },
    "BackendAuthenticationConfig": {
      "id": "BackendAuthenticationConfig",
      "type": "object",
      "description": "BackendAuthenticationConfig message groups the TrustConfig together with other settings that control how the load balancer authenticates, and expresses its identity to, the backend: * `trustConfig` is the attached TrustConfig. * `wellKnownRoots` indicates whether the load balance should trust backend server certificates that are issued by public certificate authorities, in addition to certificates trusted by the TrustConfig. * `clientCertificate` is a client certificate that the load balancer uses to express its identity to the backend, if the connection to the backend uses mTLS. You can attach the BackendAuthenticationConfig to the load balancer's BackendService directly determining how that BackendService negotiates TLS.",
      "properties": {
        "trustConfig": {
          "description": "Optional. A reference to a TrustConfig resource from the certificatemanager.googleapis.com namespace. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". A BackendService uses the chain of trust represented by this TrustConfig, if specified, to validate the server certificates presented by the backend. Required unless wellKnownRoots is set to PUBLIC_ROOTS.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Set of label tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "wellKnownRoots": {
          "type": "string",
          "enum": [
            "WELL_KNOWN_ROOTS_UNSPECIFIED",
            "NONE",
            "PUBLIC_ROOTS"
          ],
          "description": "Well known roots to use for server certificate validation.",
          "enumDescriptions": [
            "Equivalent to NONE.",
            "The BackendService will only validate server certificates against roots specified in TrustConfig.",
            "The BackendService uses a set of well-known public roots, in addition to any roots specified in the trustConfig field, when validating the server certificates presented by the backend. Validation with these roots is only considered when the TlsSettings.sni field in the BackendService is set. The well-known roots are a set of root CAs managed by Google. CAs in this set can be added or removed without notice."
          ]
        },
        "name": {
          "description": "Required. Name of the BackendAuthenticationConfig resource. It matches the pattern `projects/*/locations/{location}/backendAuthenticationConfigs/{backend_authentication_config}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "clientCertificate": {
          "description": "Optional. A reference to a certificatemanager.googleapis.com.Certificate resource. This is a relative resource path following the form \"projects/{project}/locations/{location}/certificates/{certificate}\". Used by a BackendService to negotiate mTLS when the backend connection uses TLS and the backend requests a client certificate. Must have a CLIENT_AUTH scope.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag of the resource."
        }
      }
    },
    "ListGatewaySecurityPolicyRulesResponse": {
      "description": "Response returned by the ListGatewaySecurityPolicyRules method.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        },
        "gatewaySecurityPolicyRules": {
          "description": "List of GatewaySecurityPolicyRule resources.",
          "type": "array",
          "items": {
            "$ref": "GatewaySecurityPolicyRule"
          }
        }
      },
      "id": "ListGatewaySecurityPolicyRulesResponse",
      "type": "object"
    },
    "ListAddressGroupReferencesResponse": {
      "id": "ListAddressGroupReferencesResponse",
      "type": "object",
      "description": "Response of the ListAddressGroupReferences method.",
      "properties": {
        "addressGroupReferences": {
          "description": "A list of references that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "ListAddressGroupReferencesResponseAddressGroupReference"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ListMirroringEndpointGroupAssociationsResponse": {
      "id": "ListMirroringEndpointGroupAssociationsResponse",
      "type": "object",
      "description": "Response message for ListMirroringEndpointGroupAssociations.",
      "properties": {
        "mirroringEndpointGroupAssociations": {
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroupAssociation"
          },
          "description": "The associations from the specified parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      }
    },
    "ValidationCA": {
      "id": "ValidationCA",
      "type": "object",
      "description": "Specification of ValidationCA. Defines the mechanism to obtain the Certificate Authority certificate to validate the peer certificate.",
      "properties": {
        "certificateProviderInstance": {
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information.",
          "$ref": "CertificateProviderInstance"
        },
        "grpcEndpoint": {
          "description": "gRPC specific configuration to access the gRPC server to obtain the CA certificate.",
          "$ref": "GoogleCloudNetworksecurityV1GrpcEndpoint"
        }
      }
    },
    "ListSecurityProfilesResponse": {
      "description": "Response returned by the ListSecurityProfiles method.",
      "properties": {
        "securityProfiles": {
          "description": "List of SecurityProfile resources.",
          "type": "array",
          "items": {
            "$ref": "SecurityProfile"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "id": "ListSecurityProfilesResponse",
      "type": "object"
    },
    "ListGatewaySecurityPoliciesResponse": {
      "id": "ListGatewaySecurityPoliciesResponse",
      "type": "object",
      "description": "Response returned by the ListGatewaySecurityPolicies method.",
      "properties": {
        "gatewaySecurityPolicies": {
          "type": "array",
          "items": {
            "$ref": "GatewaySecurityPolicy"
          },
          "description": "List of GatewaySecurityPolicies resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      }
    },
    "MirroringEndpointGroupAssociation": {
      "description": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable mirroring by itself. To enable mirroring, the user must also create a network firewall policy containing mirroring rules and associate it with the network.",
      "properties": {
        "locationsDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroupAssociationLocationDetails"
          },
          "deprecated": true,
          "description": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself."
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "description": "Output only. Current state of the endpoint group association.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "locations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MirroringLocation"
          },
          "description": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128."
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "mirroringEndpointGroup": {
          "description": "Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "network": {
          "description": "Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/mirroringEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        }
      },
      "id": "MirroringEndpointGroupAssociation",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleFrom": {
      "id": "AuthzPolicyAuthzRuleFrom",
      "type": "object",
      "description": "Describes properties of one or more sources of a request.",
      "properties": {
        "sources": {
          "description": "Optional. Describes the properties of a request's sources. At least one of sources or notSources must be specified. Limited to 1 source. A match occurs when ANY source (in sources or notSources) matches the request. Within a single source, the match follows AND semantics across fields and OR semantics within a single field, i.e. a match occurs when ANY principal matches AND ANY ipBlocks match.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          }
        },
        "notSources": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          },
          "description": "Optional. Describes the negated properties of request sources. Matches requests from sources that do not match the criteria specified in this field. At least one of sources or notSources must be specified."
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleFromRequestSource": {
      "id": "AuthzPolicyAuthzRuleFromRequestSource",
      "type": "object",
      "description": "Describes the properties of a single source.",
      "properties": {
        "ipBlocks": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleIpBlock"
          },
          "description": "Optional. A list of IP addresses or IP address ranges to match against the source IP address of the request. Limited to 10 ip_blocks per Authorization Policy"
        },
        "principals": {
          "description": "Optional. A list of identities derived from the client's certificate. This field will not match on a request unless frontend mutual TLS is enabled for the forwarding rule or Gateway and the client certificate has been successfully validated by mTLS. Each identity is a string whose value is matched against a list of URI SANs, DNS Name SANs, or the common name in the client's certificate. A match happens when any principal matches with the rule. Limited to 50 principals per Authorization Policy for regional internal Application Load Balancers, regional external Application Load Balancers, cross-region internal Application Load Balancers, and Cloud Service Mesh. This field is not supported for global external Application Load Balancers.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRulePrincipal"
          }
        },
        "resources": {
          "description": "Optional. A list of resources to match against the resource of the source VM of a request. Limited to 10 resources per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleRequestResource"
          }
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object"
    },
    "Rule": {
      "id": "Rule",
      "type": "object",
      "description": "Specification of rules.",
      "properties": {
        "sources": {
          "description": "Optional. List of attributes for the traffic source. All of the sources must match. A source is a match if both principals and ip_blocks match. If not set, the action specified in the 'action' field will be applied without any rule checks for the source.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "Destination"
          },
          "description": "Optional. List of attributes for the traffic destination. All of the destinations must match. A destination is a match if a request matches all the specified hosts, ports, methods and headers. If not set, the action specified in the 'action' field will be applied without any rule checks for the destination."
        }
      }
    },
    "CloneAddressGroupItemsRequest": {
      "description": "Request used by the CloneAddressGroupItems method.",
      "properties": {
        "sourceAddressGroup": {
          "description": "Required. Source address group to clone items from.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "CloneAddressGroupItemsRequest",
      "type": "object"
    },
    "InterceptEndpointGroupConnectedDeploymentGroup": {
      "id": "InterceptEndpointGroupConnectedDeploymentGroup",
      "type": "object",
      "description": "The endpoint group's view of a connected deployment group.",
      "properties": {
        "name": {
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "readOnly": true,
          "type": "string"
        },
        "locations": {
          "description": "Output only. The list of locations where the deployment group is present.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InterceptLocation"
          }
        }
      }
    },
    "AuthzPolicyAuthzRuleToRequestOperationHeaderSet": {
      "description": "Describes a set of HTTP headers to match against.",
      "properties": {
        "headers": {
          "description": "Required. A list of headers to match against in http header. The match can be one of exact, prefix, suffix, or contains (substring match). The match follows AND semantics which means all the headers must match. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 headers per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleHeaderMatch"
          }
        }
      },
      "id": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
      "type": "object"
    },
    "UrlFilteringProfile": {
      "description": "UrlFilteringProfile defines filters based on URL.",
      "properties": {
        "urlFilters": {
          "type": "array",
          "items": {
            "$ref": "UrlFilter"
          },
          "description": "Optional. The list of filtering configs in which each config defines an action to take for some URL match."
        }
      },
      "id": "UrlFilteringProfile",
      "type": "object"
    },
    "UrlFilter": {
      "id": "UrlFilter",
      "type": "object",
      "description": "A URL filter defines an action to take for some URL match.",
      "properties": {
        "priority": {
          "description": "Required. The priority of this filter within the URL Filtering Profile. Lower integers indicate higher priorities. The priority of a filter must be unique within a URL Filtering Profile.",
          "format": "int32",
          "type": "integer"
        },
        "urls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of strings that a URL must match with for this filter to be applied."
        },
        "filteringAction": {
          "description": "Required. The action taken when this filter is applied.",
          "enumDescriptions": [
            "Filtering action not specified.",
            "The connection matching this filter will be allowed to transmit.",
            "The connection matching this filter will be dropped."
          ],
          "type": "string",
          "enum": [
            "URL_FILTERING_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        }
      }
    },
    "FirewallEndpoint": {
      "id": "FirewallEndpoint",
      "type": "object",
      "description": "Message describing Endpoint object.",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. Name of resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "associations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "FirewallEndpointAssociationReference"
          },
          "description": "Output only. List of FirewallEndpointAssociations that are associated to this endpoint. An association will only appear in this list after traffic routing is fully configured."
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the firewall endpoint. Max length 2048 characters.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "associatedNetworks": {
          "deprecated": true,
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of networks that are associated with this endpoint in the local zone. This is a projection of the FirewallEndpointAssociations pointing at this endpoint. A network will only appear in this list after traffic routing is fully configured. Format: projects/{project}/global/networks/{name}."
        },
        "endpointSettings": {
          "description": "Optional. Settings for the endpoint.",
          "$ref": "FirewallEndpointEndpointSettings"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. [Output Only] Reserved for future use."
        },
        "billingProjectId": {
          "description": "Optional. Project to charge for the deployed firewall endpoint. This field must be specified when creating the endpoint in the organization scope, and should be omitted otherwise.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128."
        },
        "satisfiesPzs": {
          "description": "Output only. [Output Only] Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "description": "Output only. Current state of the endpoint.",
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Processing configuration updates.",
            "Being deleted.",
            "Down or in an error state."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ]
        }
      }
    },
    "ListDnsThreatDetectorsResponse": {
      "description": "The response message to requesting a list of DnsThreatDetectors.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable `DnsThreatDetector` resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsThreatDetectors": {
          "type": "array",
          "items": {
            "$ref": "DnsThreatDetector"
          },
          "description": "The list of DnsThreatDetector resources."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token`, to retrieve the next page.",
          "type": "string"
        }
      },
      "id": "ListDnsThreatDetectorsResponse",
      "type": "object"
    },
    "ListMirroringDeploymentGroupsResponse": {
      "description": "Response message for ListMirroringDeploymentGroups.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "mirroringDeploymentGroups": {
          "description": "The deployment groups from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroup"
          }
        }
      },
      "id": "ListMirroringDeploymentGroupsResponse",
      "type": "object"
    },
    "ListBackendAuthenticationConfigsResponse": {
      "id": "ListBackendAuthenticationConfigsResponse",
      "type": "object",
      "description": "Response returned by the ListBackendAuthenticationConfigs method.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backendAuthenticationConfigs": {
          "type": "array",
          "items": {
            "$ref": "BackendAuthenticationConfig"
          },
          "description": "List of BackendAuthenticationConfig resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "AuthzPolicy": {
      "description": "`AuthzPolicy` is a resource that allows to forward traffic to a callout backend designed to scan the traffic for security purposes.",
      "properties": {
        "customProvider": {
          "description": "Optional. Required if the action is `CUSTOM`. Allows delegating authorization decisions to Cloud IAP or to Service Extensions. One of `cloudIap` or `authzExtension` must be specified.",
          "$ref": "AuthzPolicyCustomProvider"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "action": {
          "type": "string",
          "enum": [
            "AUTHZ_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY",
            "CUSTOM"
          ],
          "description": "Required. Can be one of `ALLOW`, `DENY`, `CUSTOM`. When the action is `CUSTOM`, `customProvider` must be specified. When the action is `ALLOW`, only requests matching the policy will be allowed. When the action is `DENY`, only requests matching the policy will be denied. When a request arrives, the policies are evaluated in the following order: 1. If there is a `CUSTOM` policy that matches the request, the `CUSTOM` policy is evaluated using the custom authorization providers and the request is denied if the provider rejects the request. 2. If there are any `DENY` policies that match the request, the request is denied. 3. If there are no `ALLOW` policies for the resource or if any of the `ALLOW` policies match the request, the request is allowed. 4. Else the request is denied by default if none of the configured AuthzPolicies with `ALLOW` action match the request.",
          "enumDescriptions": [
            "Unspecified action.",
            "Allow request to pass through to the backend.",
            "Deny the request and return a HTTP 404 to the client.",
            "Delegate the authorization decision to an external authorization engine."
          ]
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with the `AuthzPolicy` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "httpRules": {
          "description": "Optional. A list of authorization HTTP rules to match against the incoming request. A policy match occurs when at least one HTTP rule matches the request or when no HTTP rules are specified in the policy. At least one HTTP Rule is required for Allow or Deny Action. Limited to 5 rules.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          }
        },
        "policyProfile": {
          "type": "string",
          "enum": [
            "POLICY_PROFILE_UNSPECIFIED",
            "REQUEST_AUTHZ",
            "CONTENT_AUTHZ"
          ],
          "description": "Optional. Immutable. Defines the type of authorization being performed. If not specified, `REQUEST_AUTHZ` is applied. This field cannot be changed once AuthzPolicy is created.",
          "enumDescriptions": [
            "Unspecified policy profile.",
            "Applies to request authorization. `CUSTOM` authorization policies with Authz extensions will be allowed with `EXT_AUTHZ_GRPC` or `EXT_PROC_GRPC` protocols. Extensions are invoked only for request header events.",
            "Applies to content security, sanitization, etc. Only `CUSTOM` action is allowed in this policy profile. AuthzExtensions in the custom provider must support `EXT_PROC_GRPC` protocol only and be capable of receiving all `EXT_PROC_GRPC` events (REQUEST_HEADERS, REQUEST_BODY, REQUEST_TRAILERS, RESPONSE_HEADERS, RESPONSE_BODY, RESPONSE_TRAILERS) with `FULL_DUPLEX_STREAMED` body send mode."
          ]
        },
        "name": {
          "description": "Required. Identifier. Name of the `AuthzPolicy` resource in the following format: `projects/{project}/locations/{location}/authzPolicies/{authz_policy}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Required. Specifies the set of resources to which this policy should be applied to.",
          "$ref": "AuthzPolicyTarget"
        }
      },
      "id": "AuthzPolicy",
      "type": "object"
    },
    "ListAddressGroupReferencesResponseAddressGroupReference": {
      "id": "ListAddressGroupReferencesResponseAddressGroupReference",
      "type": "object",
      "description": "The Reference of AddressGroup.",
      "properties": {
        "firewallPolicy": {
          "description": "FirewallPolicy that is using the Address Group.",
          "type": "string"
        },
        "rulePriority": {
          "description": "Rule priority of the FirewallPolicy that is using the Address Group.",
          "type": "integer",
          "format": "int32"
        },
        "securityPolicy": {
          "description": "Cloud Armor SecurityPolicy that is using the Address Group.",
          "type": "string"
        }
      }
    },
    "InterceptDeploymentGroupConnectedEndpointGroup": {
      "description": "An endpoint group connected to this deployment group.",
      "properties": {
        "name": {
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "InterceptDeploymentGroupConnectedEndpointGroup",
      "type": "object"
    },
    "GoogleCloudNetworksecurityV1GrpcEndpoint": {
      "id": "GoogleCloudNetworksecurityV1GrpcEndpoint",
      "type": "object",
      "description": "Specification of the GRPC Endpoint.",
      "properties": {
        "targetUri": {
          "description": "Required. The target URI of the gRPC endpoint. Only UDS path is supported, and should start with \"unix:\".",
          "type": "string"
        }
      }
    },
    "CustomInterceptProfile": {
      "id": "CustomInterceptProfile",
      "type": "object",
      "description": "CustomInterceptProfile defines in-band integration behavior (intercept). It is used by firewall rules with an APPLY_SECURITY_PROFILE_GROUP action.",
      "properties": {
        "interceptEndpointGroup": {
          "description": "Required. The target InterceptEndpointGroup. When a firewall rule with this security profile attached matches a packet, the packet will be intercepted to the location-local target in this group.",
          "type": "string"
        }
      }
    },
    "ListFirewallEndpointAssociationsResponse": {
      "description": "Message for response to listing Associations",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "firewallEndpointAssociations": {
          "type": "array",
          "items": {
            "$ref": "FirewallEndpointAssociation"
          },
          "description": "The list of Association"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListFirewallEndpointAssociationsResponse",
      "type": "object"
    },
    "ListUrlListsResponse": {
      "id": "ListUrlListsResponse",
      "type": "object",
      "description": "Response returned by the ListUrlLists method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "urlLists": {
          "description": "List of UrlList resources.",
          "type": "array",
          "items": {
            "$ref": "UrlList"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ListAuthzPoliciesResponse": {
      "id": "ListAuthzPoliciesResponse",
      "type": "object",
      "description": "Message for response to listing `AuthzPolicy` resources.",
      "properties": {
        "authzPolicies": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicy"
          },
          "description": "The list of `AuthzPolicy` resources."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        }
      }
    },
    "ListFirewallEndpointsResponse": {
      "id": "ListFirewallEndpointsResponse",
      "type": "object",
      "description": "Message for response to listing Endpoints",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "firewallEndpoints": {
          "description": "The list of Endpoint",
          "type": "array",
          "items": {
            "$ref": "FirewallEndpoint"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "AuthzPolicyCustomProvider": {
      "description": "Allows delegating authorization decisions to Cloud IAP or to Service Extensions.",
      "properties": {
        "authzExtension": {
          "description": "Optional. Delegate authorization decision to user authored Service Extension. Only one of cloudIap or authzExtension can be specified.",
          "$ref": "AuthzPolicyCustomProviderAuthzExtension"
        },
        "cloudIap": {
          "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places.",
          "$ref": "AuthzPolicyCustomProviderCloudIap"
        }
      },
      "id": "AuthzPolicyCustomProvider",
      "type": "object"
    },
    "SecurityProfile": {
      "description": "SecurityProfile is a resource that defines the behavior for one of many ProfileTypes.",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. Name of the SecurityProfile resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfiles/{security_profile}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Resource creation timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional description of the profile. Max length 512 characters.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "threatPreventionProfile": {
          "description": "The threat prevention configuration for the SecurityProfile.",
          "$ref": "ThreatPreventionProfile"
        },
        "updateTime": {
          "description": "Output only. Last resource update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "urlFilteringProfile": {
          "description": "The URL filtering configuration for the SecurityProfile.",
          "$ref": "UrlFilteringProfile"
        },
        "type": {
          "enum": [
            "PROFILE_TYPE_UNSPECIFIED",
            "THREAT_PREVENTION",
            "CUSTOM_MIRRORING",
            "CUSTOM_INTERCEPT",
            "URL_FILTERING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Profile type not specified.",
            "Profile type for threat prevention.",
            "Profile type for packet mirroring v2",
            "Profile type for TPPI.",
            "Profile type for URL filtering."
          ],
          "description": "Immutable. The single ProfileType that the SecurityProfile resource configures."
        },
        "customInterceptProfile": {
          "description": "The custom TPPI configuration for the SecurityProfile.",
          "$ref": "CustomInterceptProfile"
        },
        "customMirroringProfile": {
          "description": "The custom Packet Mirroring v2 configuration for the SecurityProfile.",
          "$ref": "CustomMirroringProfile"
        }
      },
      "id": "SecurityProfile",
      "type": "object"
    },
    "ListInterceptEndpointGroupsResponse": {
      "id": "ListInterceptEndpointGroupsResponse",
      "type": "object",
      "description": "Response message for ListInterceptEndpointGroups.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "interceptEndpointGroups": {
          "description": "The endpoint groups from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "InterceptEndpointGroup"
          }
        }
      }
    },
    "AuthzPolicyAuthzRuleRequestResource": {
      "description": "Describes the properties of a client VM resource accessing the internal application load balancers.",
      "properties": {
        "tagValueIdSet": {
          "description": "Optional. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request.",
          "$ref": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet"
        },
        "iamServiceAccount": {
          "description": "Optional. An IAM service account to match against the source service account of the VM sending the request.",
          "$ref": "AuthzPolicyAuthzRuleStringMatch"
        }
      },
      "id": "AuthzPolicyAuthzRuleRequestResource",
      "type": "object"
    },
    "GoogleCloudNetworksecurityV1CertificateProvider": {
      "description": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication.",
      "properties": {
        "grpcEndpoint": {
          "description": "gRPC specific configuration to access the gRPC server to obtain the cert and private key.",
          "$ref": "GoogleCloudNetworksecurityV1GrpcEndpoint"
        },
        "certificateProviderInstance": {
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information.",
          "$ref": "CertificateProviderInstance"
        }
      },
      "id": "GoogleCloudNetworksecurityV1CertificateProvider",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object"
    },
    "AuthzPolicyCustomProviderAuthzExtension": {
      "description": "Optional. Delegate authorization decision to user authored extension. Only one of cloudIap or authzExtension can be specified.",
      "properties": {
        "resources": {
          "description": "Required. A list of references to authorization extensions that will be invoked for requests matching this policy. Limited to 1 custom provider.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuthzPolicyCustomProviderAuthzExtension",
      "type": "object"
    },
    "FirewallEndpointAssociation": {
      "id": "FirewallEndpointAssociation",
      "type": "object",
      "description": "Message describing Association object",
      "properties": {
        "state": {
          "description": "Output only. Current state of the association.",
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Active and ready for traffic.",
            "Being deleted.",
            "Down or in an error state.",
            "The project that housed the association has been deleted."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "ORPHAN"
          ]
        },
        "network": {
          "description": "Required. The URL of the network that is being associated.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the association is disabled. True indicates that traffic won't be intercepted",
          "type": "boolean"
        },
        "name": {
          "description": "Immutable. Identifier. name of resource",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "tlsInspectionPolicy": {
          "description": "Optional. The URL of the TlsInspectionPolicy that is being associated.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time stamp"
        },
        "firewallEndpoint": {
          "description": "Required. The URL of the FirewallEndpoint that is being associated.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "readOnly": true,
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TlsInspectionPolicy": {
      "id": "TlsInspectionPolicy",
      "type": "object",
      "description": "The TlsInspectionPolicy resource contains references to CA pools in Certificate Authority Service and associated metadata.",
      "properties": {
        "trustConfig": {
          "description": "Optional. A TrustConfig resource used when making a connection to the TLS server. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". This is necessary to intercept TLS connections to servers with certificates signed by a private CA or self-signed certificates. Note that Secure Web Proxy does not yet honor this field.",
          "type": "string"
        },
        "caPool": {
          "description": "Required. A CA pool resource used to issue interception certificates. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        },
        "excludePublicCaSet": {
          "description": "Optional. If FALSE (the default), use our default set of public CAs in addition to any CAs specified in trust_config. These public CAs are currently based on the Mozilla Root Program and are subject to change over time. If TRUE, do not accept our default set of public CAs. Only CAs specified in trust_config will be accepted. This defaults to FALSE (use public CAs in addition to trust_config) for backwards compatibility, but trusting public root CAs is *not recommended* unless the traffic in question is outbound to public web servers. When possible, prefer setting this to \"false\" and explicitly specifying trusted CAs and certificates in a TrustConfig. Note that Secure Web Proxy does not yet honor this field.",
          "type": "boolean"
        },
        "minTlsVersion": {
          "enum": [
            "TLS_VERSION_UNSPECIFIED",
            "TLS_1_0",
            "TLS_1_1",
            "TLS_1_2",
            "TLS_1_3"
          ],
          "type": "string",
          "enumDescriptions": [
            "Indicates no TLS version was specified.",
            "TLS 1.0",
            "TLS 1.1",
            "TLS 1.2",
            "TLS 1.3"
          ],
          "description": "Optional. Minimum TLS version that the firewall should use when negotiating connections with both clients and servers. If this is not set, then the default value is to allow the broadest set of clients and servers (TLS 1.0 or higher). Setting this to more restrictive values may improve security, but may also prevent the firewall from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field."
        },
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/tlsInspectionPolicies/{tls_inspection_policy} tls_inspection_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "customTlsFeatures": {
          "description": "Optional. List of custom TLS cipher suites selected. This field is valid only if the selected tls_feature_profile is CUSTOM. The compute.SslPoliciesService.ListAvailableFeatures method returns the set of features that can be specified in this list. Note that Secure Web Proxy does not yet honor this field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tlsFeatureProfile": {
          "enum": [
            "PROFILE_UNSPECIFIED",
            "PROFILE_COMPATIBLE",
            "PROFILE_MODERN",
            "PROFILE_RESTRICTED",
            "PROFILE_CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Indicates no profile was specified.",
            "Compatible profile. Allows the broadest set of clients, even those which support only out-of-date SSL features to negotiate with the TLS inspection proxy.",
            "Modern profile. Supports a wide set of SSL features, allowing modern clients to negotiate SSL with the TLS inspection proxy.",
            "Restricted profile. Supports a reduced set of SSL features, intended to meet stricter compliance requirements.",
            "Custom profile. Allow only the set of allowed SSL features specified in the custom_features field of SslPolicy."
          ],
          "description": "Optional. The selected Profile. If this is not set, then the default value is to allow the broadest set of clients and servers (\"PROFILE_COMPATIBLE\"). Setting this to more restrictive values may improve security, but may also prevent the TLS inspection proxy from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field."
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "AddressGroup": {
      "id": "AddressGroup",
      "type": "object",
      "description": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy.",
      "properties": {
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the AddressGroup resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ],
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\"."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "purpose": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. Should never happen.",
              "Address Group is distributed to VMC, and is usable in Firewall Policies and other systems that rely on VMC.",
              "Address Group is usable in Cloud Armor."
            ],
            "type": "string",
            "enum": [
              "PURPOSE_UNSPECIFIED",
              "DEFAULT",
              "CLOUD_ARMOR"
            ]
          },
          "description": "Optional. List of supported purposes of the Address Group."
        },
        "name": {
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "items": {
          "description": "Optional. List of items.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined fully-qualified URL for this resource."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Capacity of the Address Group"
        }
      }
    },
    "DnsThreatDetector": {
      "description": "A DNS threat detector sends DNS query logs to a _provider_ that then analyzes the logs to identify threat events in the DNS queries. By default, all VPC networks in your projects are included. You can exclude specific networks by supplying `excluded_networks`.",
      "properties": {
        "excludedNetworks": {
          "description": "Optional. A list of network resource names which aren't monitored by this DnsThreatDetector. Example: `projects/PROJECT_ID/global/networks/NETWORK_NAME`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Immutable. Identifier. Name of the DnsThreatDetector resource.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time stamp."
        },
        "updateTime": {
          "description": "Output only. Update time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "provider": {
          "description": "Required. The provider used for DNS threat analysis.",
          "enumDescriptions": [
            "An unspecified provider.",
            "The Infoblox DNS threat detector provider."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "INFOBLOX"
          ]
        },
        "labels": {
          "description": "Optional. Any labels associated with the DnsThreatDetector, listed as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "DnsThreatDetector",
      "type": "object"
    },
    "InterceptEndpointGroup": {
      "id": "InterceptEndpointGroup",
      "type": "object",
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure intercept for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A firewall rule that references the security profile (group).",
      "properties": {
        "interceptDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this endpoint group is connected to, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and interception is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ],
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216."
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "connectedDeploymentGroup": {
          "readOnly": true,
          "$ref": "InterceptEndpointGroupConnectedDeploymentGroup",
          "description": "Output only. Details about the connected deployment group to this endpoint group."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128."
        },
        "associations": {
          "description": "Output only. List of associations to this endpoint group.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InterceptEndpointGroupAssociationDetails"
          }
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group.",
          "type": "string"
        }
      }
    },
    "ClientTlsPolicy": {
      "id": "ClientTlsPolicy",
      "type": "object",
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource.",
      "properties": {
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "serverValidationCa": {
          "type": "array",
          "items": {
            "$ref": "ValidationCA"
          },
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate."
        },
        "name": {
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/{project}/locations/{location}/clientTlsPolicies/{client_tls_policy}`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "clientCertificate": {
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS.",
          "$ref": "GoogleCloudNetworksecurityV1CertificateProvider"
        },
        "sni": {
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\".",
          "type": "string"
        }
      }
    },
    "ListInterceptDeploymentsResponse": {
      "id": "ListInterceptDeploymentsResponse",
      "type": "object",
      "description": "Response message for ListInterceptDeployments.",
      "properties": {
        "interceptDeployments": {
          "description": "The deployments from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "InterceptDeployment"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "AuthzPolicyAuthzRuleStringMatch": {
      "id": "AuthzPolicyAuthzRuleStringMatch",
      "type": "object",
      "description": "Determines how a string value should be matched.",
      "properties": {
        "suffix": {
          "description": "The input string must have the suffix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc``",
          "type": "string"
        },
        "contains": {
          "description": "The input string must have the substring specified here. Note: empty contains match is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc.def``",
          "type": "string"
        },
        "exact": {
          "description": "The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``.",
          "type": "string"
        },
        "prefix": {
          "description": "The input string must have the prefix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``abc.xyz``",
          "type": "string"
        },
        "ignoreCase": {
          "description": "If true, indicates the exact/prefix/suffix/contains matching should be case insensitive. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if set to true.",
          "type": "boolean"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "AuthzPolicyAuthzRuleToRequestOperation": {
      "description": "Describes properties of one or more targets of a request.",
      "properties": {
        "headerSet": {
          "description": "Optional. A list of headers to match against in http header.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet"
        },
        "mcp": {
          "description": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCP"
        },
        "methods": {
          "description": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hosts": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy."
        },
        "paths": {
          "description": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        }
      },
      "id": "AuthzPolicyAuthzRuleToRequestOperation",
      "type": "object"
    },
    "MirroringEndpointGroupAssociationDetails": {
      "id": "MirroringEndpointGroupAssociationDetails",
      "type": "object",
      "description": "The endpoint group's view of a connected association.",
      "properties": {
        "name": {
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. Most recent known state of the association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ]
        },
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124."
        }
      }
    },
    "Destination": {
      "description": "Specification of traffic destination attributes.",
      "properties": {
        "ports": {
          "type": "array",
          "items": {
            "format": "uint32",
            "type": "integer"
          },
          "description": "Required. List of destination ports to match. At least one port should match."
        },
        "hosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\"."
        },
        "methods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services."
        },
        "httpHeaderMatch": {
          "description": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy.",
          "$ref": "HttpHeaderMatch"
        }
      },
      "id": "Destination",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
[...]
