{
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "checkConsumerConfig": {
              "parameterOrder": [
                "location"
              ],
              "id": "networkconnectivity.projects.locations.checkConsumerConfig",
              "description": "CheckConsumerConfig validates the consumer network and project for potential PSC connection creation. This method performs several checks, including: - Validating the existence and permissions of the service class. - Ensuring the consumer network exists and is accessible. - Verifying XPN relationships if applicable. - Checking for compatible IP versions between the consumer network and the requested version. This method performs a dynamic IAM check for the `networkconnectivity.serviceClasses.use` permission on the service class resource in the Prepare phase.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "CheckConsumerConfigRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:checkConsumerConfig",
              "response": {
                "$ref": "CheckConsumerConfigResponse"
              },
              "path": "v1/{+location}:checkConsumerConfig",
              "parameters": {
                "location": {
                  "description": "Required. The location resource path. Example: - projects/{project}/locations/{location}",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "networkconnectivity.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "networkconnectivity.projects.locations.get",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "global": {
              "resources": {
                "hubs": {
                  "methods": {
                    "rejectSpokeUpdate": {
                      "request": {
                        "$ref": "RejectSpokeUpdateRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.rejectSpokeUpdate",
                      "description": "Rejects a proposal to update a Network Connectivity Center spoke in a hub.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the hub to reject spoke update.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}:rejectSpokeUpdate",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}:rejectSpokeUpdate"
                    },
                    "queryStatus": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.queryStatus",
                      "description": "Query the Private Service Connect propagation status of a Network Connectivity Center hub.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "groupBy": {
                          "description": "Optional. Aggregate the results by the specified fields. A comma-separated list of any of these fields: * `psc_propagation_status.source_spoke` * `psc_propagation_status.source_group` * `psc_propagation_status.source_forwarding_rule` * `psc_propagation_status.target_spoke` * `psc_propagation_status.target_group` * `psc_propagation_status.code`",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the hub.",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. The page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return per page.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. An expression that filters the list of results. The filter can be used to filter the results by the following fields: * `psc_propagation_status.source_spoke` * `psc_propagation_status.source_group` * `psc_propagation_status.source_forwarding_rule` * `psc_propagation_status.target_spoke` * `psc_propagation_status.target_group` * `psc_propagation_status.code` * `psc_propagation_status.message`",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Sort the results in ascending order by the specified fields. A comma-separated list of any of these fields: * `psc_propagation_status.source_spoke` * `psc_propagation_status.source_group` * `psc_propagation_status.source_forwarding_rule` * `psc_propagation_status.target_spoke` * `psc_propagation_status.target_group` * `psc_propagation_status.code` If `group_by` is set, the value of the `order_by` field must be the same as or a subset of the `group_by` field.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}:queryStatus",
                      "response": {
                        "$ref": "QueryHubStatusResponse"
                      },
                      "path": "v1/{+name}:queryStatus"
                    },
                    "setIamPolicy": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.setIamPolicy",
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "path": "v1/{+resource}:setIamPolicy",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.get",
                      "description": "Gets details about a Network Connectivity Center hub.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the hub resource to get.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}",
                      "response": {
                        "$ref": "Hub"
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Hub"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.create",
                      "description": "Creates a new Network Connectivity Center hub in the specified project.",
                      "parameters": {
                        "hubId": {
                          "type": "string",
                          "description": "Required. A unique identifier for the hub.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/hubs",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "patch": {
                      "request": {
                        "$ref": "Hub"
                      },
                      "httpMethod": "PATCH",
                      "id": "networkconnectivity.projects.locations.global.hubs.patch",
                      "description": "Updates the description and/or labels of a Network Connectivity Center hub.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string",
                          "description": "Immutable. The name of the hub. Hub names must be unique. They use the following form: `projects/{project_number}/locations/global/hubs/{hub_id}`",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. In the case of an update to an existing hub, field mask is used to specify the fields to be overwritten. The fields specified in the update_mask are relative to the resource, not the full request. A field is overwritten if it is in the mask. If the user does not provide a mask, then all fields are overwritten.",
                          "location": "query",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}"
                    },
                    "listSpokes": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.listSpokes",
                      "description": "Lists the Network Connectivity Center spokes associated with a specified hub and location. The list includes both spokes that are attached to the hub and spokes that have been proposed but not yet accepted.",
                      "parameters": {
                        "view": {
                          "type": "string",
                          "description": "The view of the spoke to return. The view that you use determines which spoke fields are included in the response.",
                          "location": "query",
                          "enumDescriptions": [
                            "The spoke view is unspecified. When the spoke view is unspecified, the API returns the same fields as the `BASIC` view.",
                            "Includes `name`, `create_time`, `hub`, `unique_id`, `state`, `reasons`, and `spoke_type`. This is the default value.",
                            "Includes all spoke fields except `labels`. You can use the `DETAILED` view only when you set the `spoke_locations` field to `[global]`."
                          ],
                          "enum": [
                            "SPOKE_VIEW_UNSPECIFIED",
                            "BASIC",
                            "DETAILED"
                          ]
                        },
                        "orderBy": {
                          "description": "Sort the results by name or create_time.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of results to return per page.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "description": "An expression that filters the list of results.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the hub.",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "description": "The page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "spokeLocations": {
                          "type": "string",
                          "description": "A list of locations. Specify one of the following: `[global]`, a single region (for example, `[us-central1]`), or a combination of values (for example, `[global, us-central1, us-west1]`). If the spoke_locations field is populated, the list of results includes only spokes in the specified location. If the spoke_locations field is not populated, the list of results includes spokes in all locations.",
                          "location": "query",
                          "repeated": true
                        }
                      },
                      "path": "v1/{+name}:listSpokes",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}:listSpokes",
                      "response": {
                        "$ref": "ListHubSpokesResponse"
                      }
                    },
                    "testIamPermissions": {
                      "path": "v1/{+resource}:testIamPermissions",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}:testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.testIamPermissions",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.list",
                      "description": "Lists the Network Connectivity Center hubs associated with a given project.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs",
                      "response": {
                        "$ref": "ListHubsResponse"
                      },
                      "path": "v1/{+parent}/hubs",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string",
                          "description": "Required. The parent resource's name.",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of results per page to return.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "An expression that filters the list of results.",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Sort the results by a certain order.",
                          "location": "query"
                        }
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.delete",
                      "description": "Deletes a Network Connectivity Center hub.",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the hub to delete.",
                          "location": "path",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      }
                    },
                    "getIamPolicy": {
                      "path": "v1/{+resource}:getIamPolicy",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}:getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "required": true
                        },
                        "options.requestedPolicyVersion": {
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "httpMethod": "GET"
                    },
                    "acceptSpoke": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.acceptSpoke",
                      "description": "Accepts a proposal to attach a Network Connectivity Center spoke to a hub.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "AcceptHubSpokeRequest"
                      },
                      "path": "v1/{+name}:acceptSpoke",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}:acceptSpoke",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the hub into which to accept the spoke.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "rejectSpoke": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "RejectHubSpokeRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.rejectSpoke",
                      "description": "Rejects a Network Connectivity Center spoke from being attached to a hub. If the spoke was previously in the `ACTIVE` state, it transitions to the `INACTIVE` state and is no longer able to connect to other spokes that are attached to the hub.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the hub from which to reject the spoke.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}:rejectSpoke",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}:rejectSpoke",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "acceptSpokeUpdate": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkconnectivity.projects.locations.global.hubs.acceptSpokeUpdate",
                      "description": "Accepts a proposal to update a Network Connectivity Center spoke in a hub.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "AcceptSpokeUpdateRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}:acceptSpokeUpdate",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}:acceptSpokeUpdate",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the hub to accept spoke update.",
                          "location": "path",
                          "required": true
                        }
                      }
                    }
                  },
                  "resources": {
                    "groups": {
                      "methods": {
                        "setIamPolicy": {
                          "id": "networkconnectivity.projects.locations.global.hubs.groups.setIamPolicy",
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "parameterOrder": [
                            "resource"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}/groups/{groupsId}:setIamPolicy",
                          "response": {
                            "$ref": "Policy"
                          },
                          "path": "v1/{+resource}:setIamPolicy",
                          "parameters": {
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+/groups/[^/]+$",
                              "type": "string"
                            }
                          }
                        },
                        "patch": {
                          "request": {
                            "$ref": "Group"
                          },
                          "httpMethod": "PATCH",
                          "id": "networkconnectivity.projects.locations.global.hubs.groups.patch",
                          "description": "Updates the parameters of a Network Connectivity Center group.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Immutable. The name of the group. Group names must be unique. They use the following form: `projects/{project_number}/locations/global/hubs/{hub}/groups/{group_id}`",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+/groups/[^/]+$",
                              "type": "string"
                            },
                            "updateMask": {
                              "type": "string",
                              "description": "Optional. In the case of an update to an existing group, field mask is used to specify the fields to be overwritten. The fields specified in the update_mask are relative to the resource, not the full request. A field is overwritten if it is in the mask. If the user does not provide a mask, then all fields are overwritten.",
                              "location": "query",
                              "format": "google-fieldmask"
                            },
                            "requestId": {
                              "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}/groups/{groupsId}",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1/{+name}"
                        },
                        "getIamPolicy": {
                          "parameters": {
                            "resource": {
                              "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+/groups/[^/]+$",
                              "type": "string",
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "required": true
                            },
                            "options.requestedPolicyVersion": {
                              "type": "integer",
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                              "location": "query",
                              "format": "int32"
                            }
                          },
                          "path": "v1/{+resource}:getIamPolicy",
                          "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}/groups/{groupsId}:getIamPolicy",
                          "response": {
                            "$ref": "Policy"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "networkconnectivity.projects.locations.global.hubs.groups.getIamPolicy",
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                          "parameterOrder": [
                            "resource"
                          ]
                        },
                        "testIamPermissions": {
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "resource"
                          ],
                          "id": "networkconnectivity.projects.locations.global.hubs.groups.testIamPermissions",
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "parameters": {
                            "resource": {
                              "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+/groups/[^/]+$",
                              "type": "string",
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "path": "v1/{+resource}:testIamPermissions",
                          "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}/groups/{groupsId}:testIamPermissions",
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          }
                        },
                        "get": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "networkconnectivity.projects.locations.global.hubs.groups.get",
                          "description": "Gets details about a Network Connectivity Center group.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the route table resource.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+/groups/[^/]+$",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}/groups/{groupsId}",
                          "response": {
                            "$ref": "Group"
                          },
                          "path": "v1/{+name}"
                        },
                        "list": {
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                              "type": "string",
                              "description": "Required. The parent resource's name.",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "description": "The page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "orderBy": {
                              "description": "Sort the results by a certain order.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of results to return per page.",
                              "location": "query",
                              "format": "int32"
                            },
                            "filter": {
                              "description": "An expression that filters the list of results.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+parent}/groups",
                          "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}/groups",
                          "response": {
                            "$ref": "ListGroupsResponse"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "networkconnectivity.projects.locations.global.hubs.groups.list",
                          "description": "Lists groups in a given hub.",
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    },
                    "routeTables": {
                      "methods": {
                        "get": {
                          "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}/routeTables/{routeTablesId}",
                          "response": {
                            "$ref": "RouteTable"
                          },
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+/routeTables/[^/]+$",
                              "type": "string",
                              "description": "Required. The name of the route table resource.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "networkconnectivity.projects.locations.global.hubs.routeTables.get",
                          "description": "Gets details about a Network Connectivity Center route table.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET"
                        },
                        "list": {
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource's name.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+$",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "The page token.",
                              "location": "query"
                            },
                            "orderBy": {
                              "description": "Sort the results by a certain order.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "The maximum number of results to return per page.",
                              "location": "query"
                            },
                            "filter": {
                              "type": "string",
                              "description": "An expression that filters the list of results.",
                              "location": "query"
                            }
                          },
                          "path": "v1/{+parent}/routeTables",
                          "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}/routeTables",
                          "response": {
                            "$ref": "ListRouteTablesResponse"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "networkconnectivity.projects.locations.global.hubs.routeTables.list",
                          "description": "Lists route tables in a given hub.",
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      },
                      "resources": {
                        "routes": {
                          "methods": {
                            "get": {
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "networkconnectivity.projects.locations.global.hubs.routeTables.routes.get",
                              "description": "Gets details about the specified route.",
                              "parameters": {
                                "name": {
                                  "description": "Required. The name of the route resource.",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+/routeTables/[^/]+/routes/[^/]+$",
                                  "type": "string"
                                }
                              },
                              "path": "v1/{+name}",
                              "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}/routeTables/{routeTablesId}/routes/{routesId}",
                              "response": {
                                "$ref": "Route"
                              }
                            },
                            "list": {
                              "id": "networkconnectivity.projects.locations.global.hubs.routeTables.routes.list",
                              "description": "Lists routes in a given route table.",
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "GET",
                              "flatPath": "v1/projects/{projectsId}/locations/global/hubs/{hubsId}/routeTables/{routeTablesId}/routes",
                              "response": {
                                "$ref": "ListRoutesResponse"
                              },
                              "path": "v1/{+parent}/routes",
                              "parameters": {
                                "orderBy": {
                                  "description": "Sort the results by a certain order.",
                                  "location": "query",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "format": "int32",
                                  "description": "The maximum number of results to return per page.",
                                  "location": "query",
                                  "type": "integer"
                                },
                                "filter": {
                                  "type": "string",
                                  "description": "An expression that filters the list of results.",
                                  "location": "query"
                                },
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/global/hubs/[^/]+/routeTables/[^/]+$",
                                  "type": "string",
                                  "description": "Required. The parent resource's name.",
                                  "location": "path",
                                  "required": true
                                },
                                "pageToken": {
                                  "description": "The page token.",
                                  "location": "query",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "policyBasedRoutes": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "networkconnectivity.projects.locations.global.policyBasedRoutes.list",
                      "description": "Lists policy-based routes in a given project and location.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string",
                          "description": "Required. The parent resource's name.",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The page token.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Sort the results by a certain order.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of results per page that should be returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "description": "A filter expression that filters the results listed in the response.",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/policyBasedRoutes",
                      "flatPath": "v1/projects/{projectsId}/locations/global/policyBasedRoutes",
                      "response": {
                        "$ref": "ListPolicyBasedRoutesResponse"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the PolicyBasedRoute resource to get.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyBasedRoutes/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/global/policyBasedRoutes/{policyBasedRoutesId}",
                      "response": {
                        "$ref": "PolicyBasedRoute"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkconnectivity.projects.locations.global.policyBasedRoutes.get",
                      "description": "Gets details of a single policy-based route."
                    },
                    "testIamPermissions": {
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/global/policyBasedRoutes/[^/]+$",
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+resource}:testIamPermissions",
                      "flatPath": "v1/projects/{projectsId}/locations/global/policyBasedRoutes/{policyBasedRoutesId}:testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "networkconnectivity.projects.locations.global.policyBasedRoutes.testIamPermissions",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                    },
                    "getIamPolicy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkconnectivity.projects.locations.global.policyBasedRoutes.getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+resource}:getIamPolicy",
                      "flatPath": "v1/projects/{projectsId}/locations/global/policyBasedRoutes/{policyBasedRoutesId}:getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "options.requestedPolicyVersion": {
                          "format": "int32",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "location": "query",
                          "type": "integer"
                        },
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyBasedRoutes/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "policyBasedRouteId": {
                          "description": "Required. Unique id for the policy-based route to create. Provided by the client when the resource is created. The name must comply with https://google.aip.dev/122#resource-id-segments. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([a-z0-9-]*[a-z0-9])?. The first character must be a lowercase letter, and all following characters (except for the last character) must be a dash, lowercase letter, or digit. The last character must be a lowercase letter or digit.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent resource's name of the PolicyBasedRoute.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/policyBasedRoutes",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+parent}/policyBasedRoutes",
                      "request": {
                        "$ref": "PolicyBasedRoute"
                      },
                      "httpMethod": "POST",
                      "id": "networkconnectivity.projects.locations.global.policyBasedRoutes.create",
                      "description": "Creates a new policy-based route in a given project and location.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the policy-based route resource to delete.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyBasedRoutes/[^/]+$",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/global/policyBasedRoutes/{policyBasedRoutesId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkconnectivity.projects.locations.global.policyBasedRoutes.delete",
                      "description": "Deletes a single policy-based route."
                    },
                    "setIamPolicy": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "networkconnectivity.projects.locations.global.policyBasedRoutes.setIamPolicy",
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyBasedRoutes/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+resource}:setIamPolicy",
                      "flatPath": "v1/projects/{projectsId}/locations/global/policyBasedRoutes/{policyBasedRoutesId}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      }
                    }
                  }
                }
              }
            },
            "serviceConnectionTokens": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/serviceConnectionTokens",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceConnectionTokens",
                  "response": {
                    "$ref": "ListServiceConnectionTokensResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource's name. ex. projects/123/locations/us-east1",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The page token.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort the results by a certain order.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of results per page that should be returned.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "A filter expression that filters the results listed in the response.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "networkconnectivity.projects.locations.serviceConnectionTokens.list",
                  "description": "Lists ServiceConnectionTokens in a given project and location.",
                  "httpMethod": "GET"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkconnectivity.projects.locations.serviceConnectionTokens.get",
                  "description": "Gets details of a single ServiceConnectionToken.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceConnectionTokens/{serviceConnectionTokensId}",
                  "response": {
                    "$ref": "ServiceConnectionToken"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceConnectionTokens/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the ServiceConnectionToken to get.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkconnectivity.projects.locations.serviceConnectionTokens.create",
                  "description": "Creates a new ServiceConnectionToken in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ServiceConnectionToken"
                  },
                  "path": "v1/{+parent}/serviceConnectionTokens",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceConnectionTokens",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource's name of the ServiceConnectionToken. ex. projects/123/locations/us-east1",
                      "location": "path",
                      "required": true
                    },
                    "serviceConnectionTokenId": {
                      "description": "Optional. Resource ID (i.e. 'foo' in '[...]/projects/p/locations/l/ServiceConnectionTokens/foo') See https://google.aip.dev/122#resource-id-segments Unique per location. If one is not provided, one will be generated.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkconnectivity.projects.locations.serviceConnectionTokens.delete",
                  "description": "Deletes a single ServiceConnectionToken.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceConnectionTokens/{serviceConnectionTokensId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "etag": {
                      "description": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The name of the ServiceConnectionToken to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceConnectionTokens/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "multicloudDataTransferConfigs": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicloudDataTransferConfigs/{multicloudDataTransferConfigsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/multicloudDataTransferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Identifier. The name of the `MulticloudDataTransferConfig` resource. Format: `projects/{project}/locations/{location}/multicloudDataTransferConfigs/{multicloud_data_transfer_config}`.",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. `FieldMask` is used to specify the fields in the `MulticloudDataTransferConfig` resource to be overwritten by the update. The fields specified in `update_mask` are relative to the resource, not the full request. A field is overwritten if it is in the mask. If you don't specify a mask, all fields are overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server waits for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, can ignore the second request. This prevents clients from accidentally creating duplicate `MulticloudDataTransferConfig` resources. The request ID must be a valid UUID with the exception that zero UUID (00000000-0000-0000-0000-000000000000) isn't supported.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkconnectivity.projects.locations.multicloudDataTransferConfigs.patch",
                  "description": "Updates a `MulticloudDataTransferConfig` resource in a specified project and location.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "MulticloudDataTransferConfig"
                  }
                },
                "create": {
                  "id": "networkconnectivity.projects.locations.multicloudDataTransferConfigs.create",
                  "description": "Creates a `MulticloudDataTransferConfig` resource in a specified project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "MulticloudDataTransferConfig"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicloudDataTransferConfigs",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+parent}/multicloudDataTransferConfigs",
                  "parameters": {
                    "multicloudDataTransferConfigId": {
                      "description": "Required. The ID to use for the `MulticloudDataTransferConfig` resource, which becomes the final component of the `MulticloudDataTransferConfig` resource name.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server waits for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, can ignore the second request. This prevents clients from accidentally creating duplicate `MulticloudDataTransferConfig` resources. The request ID must be a valid UUID with the exception that zero UUID (00000000-0000-0000-0000-000000000000) isn't supported.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicloudDataTransferConfigs/{multicloudDataTransferConfigsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the `MulticloudDataTransferConfig` resource to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/multicloudDataTransferConfigs/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server waits for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, can ignore the second request. This prevents clients from accidentally creating duplicate `MulticloudDataTransferConfig` resources. The request ID must be a valid UUID with the exception that zero UUID (00000000-0000-0000-0000-000000000000) isn't supported.",
                      "location": "query"
                    },
                    "etag": {
                      "description": "Optional. The etag is computed by the server, and might be sent with update and delete requests so that the client has an up-to-date value before proceeding.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkconnectivity.projects.locations.multicloudDataTransferConfigs.delete",
                  "description": "Deletes a `MulticloudDataTransferConfig` resource.",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "networkconnectivity.projects.locations.multicloudDataTransferConfigs.list",
                  "description": "Lists the `MulticloudDataTransferConfig` resources in a specified project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of results listed per page.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. An expression that filters the results listed in the response.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. The sort order of the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "Optional. If `true`, allows partial responses for multi-regional aggregated list requests.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. The page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicloudDataTransferConfigs",
                  "response": {
                    "$ref": "ListMulticloudDataTransferConfigsResponse"
                  },
                  "path": "v1/{+parent}/multicloudDataTransferConfigs"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicloudDataTransferConfigs/{multicloudDataTransferConfigsId}",
                  "response": {
                    "$ref": "MulticloudDataTransferConfig"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the `MulticloudDataTransferConfig` resource to get.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/multicloudDataTransferConfigs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkconnectivity.projects.locations.multicloudDataTransferConfigs.get",
                  "description": "Gets the details of a `MulticloudDataTransferConfig` resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "destinations": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the parent resource.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/multicloudDataTransferConfigs/[^/]+$",
                          "type": "string"
                        },
                        "destinationId": {
                          "type": "string",
                          "description": "Required. The ID to use for the `Destination` resource, which becomes the final component of the `Destination` resource name.",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server waits for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, can ignore the second request. This prevents clients from accidentally creating duplicate `Destination` resources. The request ID must be a valid UUID with the exception that zero UUID (00000000-0000-0000-0000-000000000000) isn't supported.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicloudDataTransferConfigs/{multicloudDataTransferConfigsId}/destinations",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+parent}/destinations",
                      "request": {
                        "$ref": "Destination"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "networkconnectivity.projects.locations.multicloudDataTransferConfigs.destinations.create",
                      "description": "Creates a `Destination` resource in a specified project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkconnectivity.projects.locations.multicloudDataTransferConfigs.destinations.delete",
                      "description": "Deletes a `Destination` resource.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/multicloudDataTransferConfigs/[^/]+/destinations/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the `Destination` resource to delete.",
                          "location": "path",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server waits for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, can ignore the second request. The request ID must be a valid UUID with the exception that zero UUID (00000000-0000-0000-0000-000000000000) isn't supported.",
                          "location": "query"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The etag is computed by the server, and might be sent with update and delete requests so that the client has an up-to-date value before proceeding.",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicloudDataTransferConfigs/{multicloudDataTransferConfigsId}/destinations/{destinationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "patch": {
                      "id": "networkconnectivity.projects.locations.multicloudDataTransferConfigs.destinations.patch",
                      "description": "Updates a `Destination` resource in a specified project and location.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Destination"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicloudDataTransferConfigs/{multicloudDataTransferConfigsId}/destinations/{destinationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The name of the `Destination` resource. Format: `projects/{project}/locations/{location}/multicloudDataTransferConfigs/{multicloud_data_transfer_config}/destinations/{destination}`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/multicloudDataTransferConfigs/[^/]+/destinations/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
[...]
