{
  "fullyEncodeReservedExpansion": true,
  "id": "networkservices:v1",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "mtlsRootUrl": "https://networkservices.mtls.googleapis.com/",
  "schemas": {
    "WasmPluginUsedBy": {
      "description": "Defines a resource that uses the `WasmPlugin` resource.",
      "id": "WasmPluginUsedBy",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, for example `//networkservices.googleapis.com/projects/{project}/locations/{location}/lbRouteExtensions/{extension}`"
        }
      }
    },
    "HttpRouteRedirect": {
      "id": "HttpRouteRedirect",
      "type": "object",
      "properties": {
        "portRedirect": {
          "type": "integer",
          "description": "The port that will be used in the redirected request instead of the one that was supplied in the request.",
          "format": "int32"
        },
        "prefixRewrite": {
          "description": "Indicates that during redirection, the matched prefix (or path) should be swapped with this value. This option allows URLs be dynamically created based on the request.",
          "type": "string"
        },
        "pathRedirect": {
          "type": "string",
          "description": "The path that will be used in the redirect response instead of the one that was supplied in the request. path_redirect can not be supplied together with prefix_redirect. Supply one alone or neither. If neither is supplied, the path of the original request will be used for the redirect."
        },
        "responseCode": {
          "enum": [
            "RESPONSE_CODE_UNSPECIFIED",
            "MOVED_PERMANENTLY_DEFAULT",
            "FOUND",
            "SEE_OTHER",
            "TEMPORARY_REDIRECT",
            "PERMANENT_REDIRECT"
          ],
          "description": "The HTTP Status code to use for the redirect.",
          "enumDescriptions": [
            "Default value",
            "Corresponds to 301.",
            "Corresponds to 302.",
            "Corresponds to 303.",
            "Corresponds to 307. In this case, the request method will be retained.",
            "Corresponds to 308. In this case, the request method will be retained."
          ],
          "type": "string"
        },
        "httpsRedirect": {
          "description": "If set to true, the URL scheme in the redirected request is set to https. If set to false, the URL scheme of the redirected request will remain the same as that of the request. The default is set to false.",
          "type": "boolean"
        },
        "hostRedirect": {
          "type": "string",
          "description": "The host that will be used in the redirect response instead of the one that was supplied in the request."
        },
        "stripQuery": {
          "type": "boolean",
          "description": "if set to true, any accompanying query portion of the original URL is removed prior to redirecting the request. If set to false, the query portion of the original URL is retained. The default is set to false."
        }
      },
      "description": "The specification for redirecting traffic."
    },
    "EndpointPolicy": {
      "description": "EndpointPolicy is a resource that helps apply desired configuration on the endpoints that match specific criteria. For example, this resource can be used to apply \"authentication config\" an all endpoints that serve on port 8080.",
      "id": "EndpointPolicy",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the EndpointPolicy resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serverTlsPolicy": {
          "type": "string",
          "description": "Optional. A URL referring to ServerTlsPolicy resource. ServerTlsPolicy is used to determine the authentication policy to be applied to terminate the inbound traffic at the identified backends. If this field is not set, authentication is disabled(open) for this endpoint."
        },
        "trafficPortSelector": {
          "description": "Optional. Port selector for the (matched) endpoints. If no port selector is provided, the matched config is applied to all ports.",
          "$ref": "TrafficPortSelector"
        },
        "name": {
          "description": "Identifier. Name of the EndpointPolicy resource. It matches pattern `projects/{project}/locations/*/endpointPolicies/{endpoint_policy}`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "endpointMatcher": {
          "$ref": "EndpointMatcher",
          "description": "Required. A matcher that selects endpoints to which the policies should be applied."
        },
        "authorizationPolicy": {
          "type": "string",
          "description": "Optional. This field specifies the URL of AuthorizationPolicy resource that applies authorization policies to the inbound traffic at the matched endpoints. Refer to Authorization. If this field is not specified, authorization is disabled(no authz checks) for this endpoint."
        },
        "type": {
          "type": "string",
          "enum": [
            "ENDPOINT_POLICY_TYPE_UNSPECIFIED",
            "SIDECAR_PROXY",
            "GRPC_SERVER"
          ],
          "description": "Required. The type of endpoint policy. This is primarily used to validate the configuration.",
          "enumDescriptions": [
            "Default value. Must not be used.",
            "Represents a proxy deployed as a sidecar.",
            "Represents a proxyless gRPC backend."
          ]
        },
        "clientTlsPolicy": {
          "type": "string",
          "description": "Optional. A URL referring to a ClientTlsPolicy resource. ClientTlsPolicy can be set to specify the authentication for traffic from the proxy to the actual endpoints. More specifically, it is applied to the outgoing traffic from the proxy to the endpoint. This is typically used for sidecar model where the proxy identifies itself as endpoint to the control plane, with the connection between sidecar and endpoint requiring authentication. If this field is not set, authentication is disabled(open). Applicable only when EndpointPolicyType is SIDECAR_PROXY."
        }
      }
    },
    "GrpcRouteHeaderMatch": {
      "id": "GrpcRouteHeaderMatch",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Optional. Specifies how to match against the value of the header. If not specified, a default value of EXACT is used.",
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact value provided.",
            "Will match paths conforming to the prefix specified by value. RE2 syntax is supported."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ]
        },
        "key": {
          "description": "Required. The key of the header.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the header."
        }
      },
      "description": "A match against a collection of headers."
    },
    "TlsRoute": {
      "description": "TlsRoute defines how traffic should be routed based on SNI and other matching L3 attributes.",
      "id": "TlsRoute",
      "type": "object",
      "properties": {
        "gateways": {
          "type": "array",
          "description": "Optional. Gateways defines a list of gateways this TlsRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/*/gateways/`",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the TlsRoute resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetProxies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. TargetProxies defines a list of TargetTcpProxies this TlsRoute is attached to, as one of the routing rules to route the requests served by the TargetTcpProxy. Each TargetTcpProxy reference should match the pattern: `projects/*/locations/*/targetTcpProxies/`"
        },
        "rules": {
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "items": {
            "$ref": "TlsRouteRouteRule"
          },
          "type": "array"
        },
        "meshes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Meshes defines a list of meshes this TlsRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/*/meshes/` The attached Mesh should be of a type SIDECAR"
        },
        "name": {
          "description": "Identifier. Name of the TlsRoute resource. It matches pattern `projects/*/locations/*/tlsRoutes/tls_route_name>`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        }
      }
    },
    "ServiceLbPolicyIsolationConfig": {
      "description": "Configuration to provide isolation support for the associated Backend Service.",
      "id": "ServiceLbPolicyIsolationConfig",
      "type": "object",
      "properties": {
        "isolationGranularity": {
          "enum": [
            "ISOLATION_GRANULARITY_UNSPECIFIED",
            "REGION"
          ],
          "description": "Optional. The isolation granularity of the load balancer.",
          "enumDescriptions": [
            "No isolation is configured for the backend service. Traffic can overflow based on the load balancing algorithm.",
            "Traffic for this service will be isolated at the cloud region level."
          ],
          "type": "string"
        },
        "isolationMode": {
          "type": "string",
          "enum": [
            "ISOLATION_MODE_UNSPECIFIED",
            "NEAREST",
            "STRICT"
          ],
          "description": "Optional. The isolation mode of the load balancer.",
          "enumDescriptions": [
            "No isolation mode is configured for the backend service.",
            "Traffic will be sent to the nearest region.",
            "Traffic will fail if no serving backends are available in the same region as the load balancer."
          ]
        }
      }
    },
    "GrpcRouteFaultInjectionPolicy": {
      "id": "GrpcRouteFaultInjectionPolicy",
      "type": "object",
      "properties": {
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "GrpcRouteFaultInjectionPolicyDelay"
        },
        "abort": {
          "$ref": "GrpcRouteFaultInjectionPolicyAbort",
          "description": "The specification for aborting to client requests."
        }
      },
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests."
    },
    "ListServiceBindingsResponse": {
      "description": "Response returned by the ListServiceBindings method.",
      "id": "ListServiceBindingsResponse",
      "type": "object",
      "properties": {
        "serviceBindings": {
          "type": "array",
          "description": "List of ServiceBinding resources.",
          "items": {
            "$ref": "ServiceBinding"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "GrpcRouteFaultInjectionPolicyAbort": {
      "id": "GrpcRouteFaultInjectionPolicyAbort",
      "type": "object",
      "properties": {
        "httpStatus": {
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "percentage": {
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GrpcRouteRetryPolicy": {
      "description": "The specifications for retries. Specifies one or more conditions for which this retry rule applies. Valid values are:",
      "id": "GrpcRouteRetryPolicy",
      "type": "object",
      "properties": {
        "retryConditions": {
          "description": "- connect-failure: Router will retry on failures connecting to Backend Services, for example due to connection timeouts. - refused-stream: Router will retry if the backend service resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry. - cancelled: Router will retry if the gRPC status code in the response header is set to cancelled - deadline-exceeded: Router will retry if the gRPC status code in the response header is set to deadline-exceeded - resource-exhausted: Router will retry if the gRPC status code in the response header is set to resource-exhausted - unavailable: Router will retry if the gRPC status code in the response header is set to unavailable",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "numRetries": {
          "description": "Specifies the allowed number of retries. This number must be > 0. If not specified, default to 1.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "HttpRouteURLRewrite": {
      "description": "The specification for modifying the URL of the request, prior to forwarding the request to the destination.",
      "id": "HttpRouteURLRewrite",
      "type": "object",
      "properties": {
        "pathPrefixRewrite": {
          "type": "string",
          "description": "Prior to forwarding the request to the selected destination, the matching portion of the requests path is replaced by this value."
        },
        "hostRewrite": {
          "description": "Prior to forwarding the request to the selected destination, the requests host header is replaced by this value.",
          "type": "string"
        }
      }
    },
    "RetryFilterPerRouteConfig": {
      "id": "RetryFilterPerRouteConfig",
      "type": "object",
      "properties": {
        "cryptoKeyName": {
          "type": "string",
          "description": "The name of the crypto key to use for encrypting event data."
        }
      }
    },
    "TrafficPortSelector": {
      "id": "TrafficPortSelector",
      "type": "object",
      "properties": {
        "ports": {
          "description": "Optional. A list of ports. Can be port numbers or port range (example, [80-90] specifies all ports from 80 to 90, including 80 and 90) or named ports or * to specify all ports. If the list is empty, all ports are selected.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Specification of a port-based selector."
    },
    "LbTrafficExtension": {
      "description": "`LbTrafficExtension` is a resource that lets the extension service modify the headers and payloads of both requests and responses without impacting the choice of backend services or any other security policies associated with the backend service.",
      "id": "LbTrafficExtension",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata applies to all extensions in all extensions chains in this resource. The metadata is available under the key `com.google.lb_traffic_extension.`. The following variables are supported in the metadata: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name. This field must not be set if at least one of the extension chains contains plugin extensions. Setting it results in a validation error. You can set metadata at either the resource level or the extension level. The extension level metadata is recommended because you can pass a different set of metadata through each extension to the backend.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with the `LbTrafficExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "extensionChains": {
          "type": "array",
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource.",
          "items": {
            "$ref": "ExtensionChain"
          }
        },
        "forwardingRules": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbTrafficExtension` resource can be associated with a forwarding rule.",
          "type": "array"
        },
        "loadBalancingScheme": {
          "type": "string",
          "description": "Required. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the `LbTrafficExtension` resource in the following format: `projects/{project}/locations/{location}/lbTrafficExtensions/{lb_traffic_extension}`."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "ServiceLbPolicy": {
      "id": "ServiceLbPolicy",
      "type": "object",
      "properties": {
        "failoverConfig": {
          "description": "Optional. Configuration related to health based failover.",
          "$ref": "ServiceLbPolicyFailoverConfig"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this resource was last updated.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the ServiceLbPolicy resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "autoCapacityDrain": {
          "$ref": "ServiceLbPolicyAutoCapacityDrain",
          "description": "Optional. Configuration to automatically move traffic away for unhealthy IG/NEG for the associated Backend Service."
        },
        "name": {
          "description": "Identifier. Name of the ServiceLbPolicy resource. It matches pattern `projects/{project}/locations/{location}/serviceLbPolicies/{service_lb_policy_name}`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this resource was created.",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "loadBalancingAlgorithm": {
          "type": "string",
          "enum": [
            "LOAD_BALANCING_ALGORITHM_UNSPECIFIED",
            "SPRAY_TO_WORLD",
            "SPRAY_TO_REGION",
            "WATERFALL_BY_REGION",
            "WATERFALL_BY_ZONE"
          ],
          "description": "Optional. The type of load balancing algorithm to be used. The default behavior is WATERFALL_BY_REGION.",
          "enumDescriptions": [
            "The type of the loadbalancing algorithm is unspecified.",
            "Balance traffic across all backends across the world proportionally based on capacity.",
            "Direct traffic to the nearest region with endpoints and capacity before spilling over to other regions and spread the traffic from each client to all the MIGs/NEGs in a region.",
            "Direct traffic to the nearest region with endpoints and capacity before spilling over to other regions. All MIGs/NEGs within a region are evenly loaded but each client might not spread the traffic to all the MIGs/NEGs in the region.",
            "Attempt to keep traffic in a single zone closest to the client, before spilling over to other zones."
          ]
        },
        "isolationConfig": {
          "$ref": "ServiceLbPolicyIsolationConfig",
          "description": "Optional. Configuration to provide isolation support for the associated Backend Service."
        }
      },
      "description": "ServiceLbPolicy holds global load balancing and traffic distribution configuration that can be applied to a BackendService."
    },
    "ListLbTrafficExtensionsResponse": {
      "id": "ListLbTrafficExtensionsResponse",
      "type": "object",
      "properties": {
        "lbTrafficExtensions": {
          "type": "array",
          "description": "The list of `LbTrafficExtension` resources.",
          "items": {
            "$ref": "LbTrafficExtension"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Message for response to listing `LbTrafficExtension` resources."
    },
    "GrpcRoute": {
      "id": "GrpcRoute",
      "type": "object",
      "properties": {
        "rules": {
          "description": "Required. A list of detailed rules defining how to route traffic. Within a single GrpcRoute, the GrpcRoute.RouteAction associated with the first matching GrpcRoute.RouteRule will be executed. At least one rule must be supplied.",
          "items": {
            "$ref": "GrpcRouteRouteRule"
          },
          "type": "array"
        },
        "hostnames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Service hostnames with an optional port for which this route describes traffic. Format: [:] Hostname is the fully qualified domain name of a network host. This matches the RFC 1123 definition of a hostname with 2 notable exceptions: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (`*.`). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. `foo.example.com`) or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. `*.example.com`). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateway must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames `*.foo.bar.com` and `*.bar.com` to be associated with the same route, it is not possible to associate two routes both with `*.bar.com` or both with `bar.com`. If a port is specified, then gRPC clients must use the channel URI with the port to match this rule (i.e. \"xds:///service:123\"), otherwise they must supply the URI without a port (i.e. \"xds:///service\")."
        },
        "meshes": {
          "description": "Optional. Meshes defines a list of meshes this GrpcRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/*/meshes/`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the GrpcRoute resource. It matches pattern `projects/*/locations/*/grpcRoutes/`"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "gateways": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Gateways defines a list of gateways this GrpcRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/*/gateways/`",
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the GrpcRoute resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "GrpcRoute is the resource defining how gRPC traffic routed by a Mesh or Gateway resource is routed."
    },
    "ListMeshRouteViewsResponse": {
      "description": "Response returned by the ListMeshRouteViews method.",
      "id": "ListMeshRouteViewsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "meshRouteViews": {
          "description": "List of MeshRouteView resources.",
          "items": {
            "$ref": "MeshRouteView"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable."
        }
      }
    },
    "HttpRouteFaultInjectionPolicyAbort": {
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "id": "HttpRouteFaultInjectionPolicyAbort",
      "type": "object",
      "properties": {
        "httpStatus": {
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "percentage": {
          "type": "integer",
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]",
          "format": "int32"
        }
      }
    },
    "TcpRouteRouteRule": {
      "id": "TcpRouteRouteRule",
      "type": "object",
      "properties": {
        "matches": {
          "type": "array",
          "description": "Optional. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic.",
          "items": {
            "$ref": "TcpRouteRouteMatch"
          }
        },
        "action": {
          "description": "Required. The detailed rule defining how to route matched traffic.",
          "$ref": "TcpRouteRouteAction"
        }
      },
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched."
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "AuthzExtension": {
      "id": "AuthzExtension",
      "type": "object",
      "properties": {
        "forwardHeaders": {
          "description": "Optional. List of the HTTP headers to forward to the extension (from the client). If omitted, all headers are sent. Each element is a string indicating the header name.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. Identifier. Name of the `AuthzExtension` resource in the following format: `projects/{project}/locations/{location}/authzExtensions/{authz_extension}`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "service": {
          "description": "Required. The reference to the service that runs the extension. To configure a callout extension, `service` must be a fully-qualified reference to a [backend service](https://cloud.google.com/compute/docs/reference/rest/v1/backendServices) in the format: `https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/backendServices/{backendService}` or `https://www.googleapis.com/compute/v1/projects/{project}/global/backendServices/{backendService}`.",
          "type": "string"
        },
        "wireFormat": {
          "enum": [
            "WIRE_FORMAT_UNSPECIFIED",
            "EXT_PROC_GRPC",
            "EXT_AUTHZ_GRPC"
          ],
          "description": "Optional. The format of communication supported by the callout extension. This field is supported only for regional `AuthzExtension` resources. If not specified, the default value `EXT_PROC_GRPC` is used. Global `AuthzExtension` resources use the `EXT_PROC_GRPC` wire format.",
          "enumDescriptions": [
            "Not specified.",
            "The extension service uses ext_proc gRPC API over a gRPC stream. This is the default value if the wire format is not specified. The backend service for the extension must use HTTP2 or H2C as the protocol. All `supported_events` for a client request are sent as part of the same gRPC stream.",
            "The extension service uses Envoy's `ext_authz` gRPC API. The backend service for the extension must use HTTP2 or H2C as the protocol. `EXT_AUTHZ_GRPC` is only supported for regional `AuthzExtension` resources."
          ],
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with the `AuthzExtension` resource. The format must comply with [the requirements for labels](/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "authority": {
          "type": "string",
          "description": "Optional. The `:authority` header in the gRPC request sent from Envoy to the extension service. It is required when the `service` field points to a backend service or a wasm plugin."
        },
        "forwardAttributes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of the Envoy attributes to forward to the extension server. The attributes provided here are included as part of the `ProcessingRequest.attributes` field (of type `map`), where the keys are the attribute names. Refer to the [documentation](https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference#attributes) for the names of attributes that can be forwarded. If omitted, no attributes are sent. Each element is a string indicating the attribute name.",
          "type": "array"
        },
        "loadBalancingScheme": {
          "type": "string",
          "description": "Optional. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED`, `EXTERNAL_MANAGED`. Can be omitted for AuthzExtensions that do not reference a backend service. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ]
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Determines how the proxy behaves if the call to the extension fails or times out. When set to `TRUE`, request or response processing continues without error. Any subsequent extensions in the extension chain are also executed. When set to `FALSE` or the default setting of `FALSE` is used, one of the following happens: * If response headers have not been delivered to the downstream client, a generic 500 error is returned to the client. The error response can be tailored by configuring a custom error response in the load balancer. * If response headers have been delivered, then the HTTP stream to the downstream client is reset."
        },
        "timeout": {
          "type": "string",
          "description": "Required. Specifies the timeout for each individual message on the stream. The timeout must be between 10-10000 milliseconds.",
          "format": "google-duration"
        },
        "metadata": {
          "description": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata is available under the namespace `com.google.authz_extension.`. The following variables are supported in the metadata Struct: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        }
      },
      "description": "`AuthzExtension` is a resource that allows traffic forwarding to a callout backend service to make an authorization decision."
    },
    "HttpRouteQueryParameterMatch": {
      "id": "HttpRouteQueryParameterMatch",
      "type": "object",
      "properties": {
        "regexMatch": {
          "type": "string",
          "description": "The value of the query parameter must match the regular expression specified by regex_match. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of exact_match, regex_match, or present_match must be set."
        },
        "exactMatch": {
          "description": "The value of the query parameter must exactly match the contents of exact_match. Only one of exact_match, regex_match, or present_match must be set.",
          "type": "string"
        },
        "queryParameter": {
          "description": "The name of the query parameter to match.",
          "type": "string"
        },
        "presentMatch": {
          "type": "boolean",
          "description": "Specifies that the QueryParameterMatcher matches if request contains query parameter, irrespective of whether the parameter has a value or not. Only one of exact_match, regex_match, or present_match must be set."
        }
      },
      "description": "Specifications to match a query parameter in the request."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "LbRouteExtension": {
      "id": "LbRouteExtension",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata applies to all extensions in all extensions chains in this resource. The metadata is available under the key `com.google.lb_route_extension.`. The following variables are supported in the metadata: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name. This field must not be set if at least one of the extension chains contains plugin extensions. Setting it results in a validation error. You can set metadata at either the resource level or the extension level. The extension level metadata is recommended because you can pass a different set of metadata through each extension to the backend.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `LbRouteExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "extensionChains": {
          "type": "array",
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource.",
          "items": {
            "$ref": "ExtensionChain"
          }
        },
        "forwardingRules": {
          "type": "array",
          "description": "Required. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbRouteExtension` resource can be associated with a forwarding rule.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. Identifier. Name of the `LbRouteExtension` resource in the following format: `projects/{project}/locations/{location}/lbRouteExtensions/{lb_route_extension}`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "loadBalancingScheme": {
          "type": "string",
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ],
          "description": "Required. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED`, `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ]
        }
      },
      "description": "`LbRouteExtension` is a resource that lets you control where traffic is routed to for a given request."
    },
    "ListMeshesResponse": {
      "id": "ListMeshesResponse",
      "type": "object",
      "properties": {
        "meshes": {
          "description": "List of Mesh resources.",
          "items": {
            "$ref": "Mesh"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources. Populated when the request opts into `return_partial_success` and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "description": "Response returned by the ListMeshes method."
    },
    "GrpcRouteRouteRule": {
      "description": "Describes how to route traffic.",
      "id": "GrpcRouteRouteRule",
      "type": "object",
      "properties": {
        "matches": {
          "type": "array",
          "description": "Optional. Matches define conditions used for matching the rule against incoming gRPC requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic.",
          "items": {
            "$ref": "GrpcRouteRouteMatch"
          }
        },
        "action": {
          "description": "Required. A detailed rule defining how to route traffic. This field is required.",
          "$ref": "GrpcRouteRouteAction"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TcpRouteRouteMatch": {
      "id": "TcpRouteRouteMatch",
      "type": "object",
      "properties": {
        "address": {
          "description": "Required. Must be specified in the CIDR range format. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). Only IPV4 addresses are supported. Examples: \"10.0.0.1\" - matches against this exact IP address. \"10.0.0.0/8\" - matches against any IP address within the 10.0.0.0 subnet and 255.255.255.0 mask. \"0.0.0.0/0\" - matches against any IP address'.",
          "type": "string"
        },
        "port": {
          "description": "Required. Specifies the destination port to match against.",
          "type": "string"
        }
      },
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic."
    },
    "ExtensionChainExtension": {
      "id": "ExtensionChainExtension",
      "type": "object",
      "properties": {
        "responseBodySendMode": {
          "enum": [
            "BODY_SEND_MODE_UNSPECIFIED",
            "BODY_SEND_MODE_STREAMED",
            "BODY_SEND_MODE_FULL_DUPLEX_STREAMED"
          ],
          "description": "Optional. Configures the send mode for response processing. If unspecified, the default value `STREAMED` is used. The field can only be set if `supported_events` includes `RESPONSE_BODY`. If `supported_events` includes `RESPONSE_BODY`, but `response_body_send_mode` is unset, the default value `STREAMED` is used. When this field is set to `FULL_DUPLEX_STREAMED`, `supported_events` must include both `RESPONSE_BODY` and `RESPONSE_TRAILERS`. This field can be set only for `LbTrafficExtension` resources, and only when the `service` field of the extension points to a `BackendService`.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Calls to the extension are executed in the streamed mode. Subsequent chunks will be sent only after the previous chunks have been processed. The content of the body chunks is sent one way to the extension. Extension may send modified chunks back. This is the default value if the processing mode is not specified.",
            "Calls are executed in the full duplex mode. Subsequent chunks will be sent for processing without waiting for the response for the previous chunk or for the response for `REQUEST_HEADERS` event. Extension can freely modify or chunk the body contents. If the extension doesn't send the body contents back, the next extension in the chain or the upstream will receive an empty body."
          ],
          "type": "string"
        },
        "authority": {
          "type": "string",
          "description": "Optional. The `:authority` header in the gRPC request sent from Envoy to the extension service. Required for Callout extensions. This field is not supported for plugin extensions. Setting it results in a validation error."
        },
        "requestBodySendMode": {
          "description": "Optional. Configures the send mode for request body processing. The field can only be set if `supported_events` includes `REQUEST_BODY`. If `supported_events` includes `REQUEST_BODY`, but `request_body_send_mode` is unset, the default value `STREAMED` is used. When this field is set to `FULL_DUPLEX_STREAMED`, `supported_events` must include both `REQUEST_BODY` and `REQUEST_TRAILERS`. This field can be set only for `LbTrafficExtension` and `LbRouteExtension` resources, and only when the `service` field of the extension points to a `BackendService`. Only `FULL_DUPLEX_STREAMED` mode is supported for `LbRouteExtension` resources.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Calls to the extension are executed in the streamed mode. Subsequent chunks will be sent only after the previous chunks have been processed. The content of the body chunks is sent one way to the extension. Extension may send modified chunks back. This is the default value if the processing mode is not specified.",
            "Calls are executed in the full duplex mode. Subsequent chunks will be sent for processing without waiting for the response for the previous chunk or for the response for `REQUEST_HEADERS` event. Extension can freely modify or chunk the body contents. If the extension doesn't send the body contents back, the next extension in the chain or the upstream will receive an empty body."
          ],
          "enum": [
            "BODY_SEND_MODE_UNSPECIFIED",
            "BODY_SEND_MODE_STREAMED",
            "BODY_SEND_MODE_FULL_DUPLEX_STREAMED"
          ],
          "type": "string"
        },
        "metadata": {
          "description": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. For `AuthzExtension` resources, the metadata is available under the namespace `com.google.authz_extension.`. For other types of extensions, the metadata is available under the namespace `com.google....`. For example: `com.google.lb_traffic_extension.lbtrafficextension1.chain1.ext1`. The following variables are supported in the metadata: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name. This field must not be set for plugin extensions. Setting it results in a validation error. You can set metadata at either the resource level or the extension level. The extension level metadata is recommended because you can pass a different set of metadata through each extension to the backend. This field is subject to following limitations: * The total size of the metadata must be less than 1KiB. * The total number of keys in the metadata must be less than 16. * The length of each key must be less than 64 characters. * The length of each value must be less than 1024 characters. * All values must be strings.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name for this extension. The name is logged as part of the HTTP request logs. The name must conform with RFC-1034, is restricted to lower-cased letters, numbers and hyphens, and can have a maximum length of 63 characters. Additionally, the first character must be a letter and the last a letter or a number. This field is required except for AuthzExtension."
        },
        "service": {
          "type": "string",
          "description": "Required. The reference to the service that runs the extension. To configure a callout extension, `service` must be a fully-qualified reference to a [backend service](https://cloud.google.com/compute/docs/reference/rest/v1/backendServices) in the format: `https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/backendServices/{backendService}` or `https://www.googleapis.com/compute/v1/projects/{project}/global/backendServices/{backendService}`. To configure a plugin extension, `service` must be a reference to a [`WasmPlugin` resource](https://cloud.google.com/service-extensions/docs/reference/rest/v1beta1/projects.locations.wasmPlugins) in the format: `projects/{project}/locations/{location}/wasmPlugins/{plugin}` or `//networkservices.googleapis.com/projects/{project}/locations/{location}/wasmPlugins/{wasmPlugin}`. Plugin extensions are currently supported for the `LbTrafficExtension`, the `LbRouteExtension`, and the `LbEdgeExtension` resources."
        },
        "timeout": {
          "description": "Optional. Specifies the timeout for each individual message on the stream. The timeout must be between `10`-`10000` milliseconds. Required for callout extensions. This field is not supported for plugin extensions. Setting it results in a validation error.",
          "format": "google-duration",
          "type": "string"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Determines how the proxy behaves if the call to the extension fails or times out. When set to `TRUE`, request or response processing continues without error. Any subsequent extensions in the extension chain are also executed. When set to `FALSE` or the default setting of `FALSE` is used, one of the following happens: * If response headers have not been delivered to the downstream client, a generic 500 error is returned to the client. The error response can be tailored by configuring a custom error response in the load balancer. * If response headers have been delivered, then the HTTP stream to the downstream client is reset."
        },
        "forwardHeaders": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of the HTTP headers to forward to the extension (from the client or backend). If omitted, all headers are sent. Each element is a string indicating the header name.",
          "type": "array"
        },
        "forwardAttributes": {
          "type": "array",
          "description": "Optional. List of the Envoy attributes to forward to the extension server. The attributes provided here are included as part of the `ProcessingRequest.attributes` field (of type `map`), where the keys are the attribute names. Refer to the [documentation](https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference#attributes) for the names of attributes that can be forwarded. If omitted, no attributes are sent. Each element is a string indicating the attribute name.",
          "items": {
            "type": "string"
          }
        },
        "observabilityMode": {
          "description": "Optional. When set to `true`, the calls to the extension backend are performed asynchronously, without pausing the processing of the ongoing request. In this mode, only `STREAMED` (default) body processing is supported. Responses, if any, are ignored. Supported by regional `LbTrafficExtension` and `LbRouteExtension` resources.",
          "type": "boolean"
        },
        "supportedEvents": {
          "type": "array",
          "description": "Optional. A set of events during request or response processing for which this extension is called. For the `LbTrafficExtension` resource, this field is required. For the `LbRouteExtension` resource, this field is optional. If unspecified, `REQUEST_HEADERS` event is assumed as supported. For the `LbEdgeExtension` resource, this field is required and must only contain `REQUEST_HEADERS` event. For the `AuthzExtension` resource, this field is optional. `REQUEST_HEADERS` is the only supported event. If unspecified, `REQUEST_HEADERS` event is assumed as supported.",
          "items": {
            "type": "string",
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "REQUEST_HEADERS",
              "REQUEST_BODY",
              "RESPONSE_HEADERS",
              "RESPONSE_BODY",
              "REQUEST_TRAILERS",
              "RESPONSE_TRAILERS"
            ],
            "enumDescriptions": [
              "Unspecified value. Do not use.",
              "If included in `supported_events`, the extension is called when the HTTP request headers arrive.",
              "If included in `supported_events`, the extension is called when the HTTP request body arrives.",
              "If included in `supported_events`, the extension is called when the HTTP response headers arrive.",
              "If included in `supported_events`, the extension is called when the HTTP response body arrives.",
              "If included in `supported_events`, the extension is called when the HTTP request trailers arrives.",
              "If included in `supported_events`, the extension is called when the HTTP response trailers arrives."
            ]
          }
        }
      },
      "description": "A single extension in the chain to execute for the matching request."
    },
    "EndpointMatcherMetadataLabelMatcher": {
      "description": "The matcher that is based on node metadata presented by xDS clients.",
      "id": "EndpointMatcherMetadataLabelMatcher",
      "type": "object",
      "properties": {
        "metadataLabelMatchCriteria": {
          "description": "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), pick up the one with older creation time.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "At least one of the Labels specified in the matcher should match the metadata presented by xDS client.",
            "The metadata presented by the xDS client should contain all of the labels specified here."
          ],
          "enum": [
            "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED",
            "MATCH_ANY",
            "MATCH_ALL"
          ],
          "type": "string"
        },
        "metadataLabels": {
          "description": "The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client).",
          "items": {
            "$ref": "EndpointMatcherMetadataLabelMatcherMetadataLabels"
          },
          "type": "array"
        }
      }
    },
    "HttpRouteHeaderModifier": {
      "id": "HttpRouteHeaderModifier",
      "type": "object",
      "properties": {
        "add": {
          "description": "Add the headers with given map where key is the name of the header, value is the value of the header.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "remove": {
          "description": "Remove headers (matching by header names) specified in the list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "set": {
          "type": "object",
          "description": "Completely overwrite/replace the headers with given map where key is the name of the header, value is the value of the header.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The specification for modifying HTTP header in HTTP request and HTTP response."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "GrpcRouteFaultInjectionPolicyDelay": {
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "id": "GrpcRouteFaultInjectionPolicyDelay",
      "type": "object",
      "properties": {
        "fixedDelay": {
          "type": "string",
          "description": "Specify a fixed delay before forwarding the request.",
          "format": "google-duration"
        },
        "percentage": {
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GatewayRouteView": {
      "id": "GatewayRouteView",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier. Full path name of the GatewayRouteView resource. Format: projects/{project_number}/locations/{location}/gateways/{gateway}/routeViews/{route_view}",
          "readOnly": true,
          "type": "string"
        },
        "routeLocation": {
          "description": "Output only. Location where the route exists.",
          "readOnly": true,
          "type": "string"
        },
        "routeType": {
          "description": "Output only. Type of the route: HttpRoute,GrpcRoute,TcpRoute, or TlsRoute",
          "readOnly": true,
          "type": "string"
        },
        "routeProjectNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Project number where the route exists.",
          "format": "int64"
        },
        "routeId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource id for the route."
        }
      },
      "description": "GatewayRouteView defines view-only resource for Routes to a Gateway"
    },
    "HttpRouteRouteAction": {
      "description": "The specifications for routing traffic and applying associated policies.",
      "id": "HttpRouteRouteAction",
      "type": "object",
      "properties": {
        "faultInjectionPolicy": {
          "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to backend service failure. As part of fault injection, when clients send requests to a backend service, delays can be introduced on a percentage of requests before sending those requests to the backend service. Similarly requests from clients can be aborted for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy",
          "$ref": "HttpRouteFaultInjectionPolicy"
        },
        "corsPolicy": {
          "description": "The specification for allowing client side cross-origin requests.",
          "$ref": "HttpRouteCorsPolicy"
        },
        "responseHeaderModifier": {
          "$ref": "HttpRouteHeaderModifier",
          "description": "The specification for modifying the headers of a response prior to sending the response back to the client. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration."
        },
        "statefulSessionAffinity": {
          "$ref": "HttpRouteStatefulSessionAffinityPolicy",
          "description": "Optional. Specifies cookie-based stateful session affinity."
        },
        "redirect": {
          "$ref": "HttpRouteRedirect",
          "description": "If set, the request is directed as configured by this field."
        },
        "urlRewrite": {
          "$ref": "HttpRouteURLRewrite",
          "description": "The specification for rewrite URL before forwarding requests to the destination."
        },
        "requestMirrorPolicy": {
          "$ref": "HttpRouteRequestMirrorPolicy",
          "description": "Specifies the policy on how requests intended for the routes destination are shadowed to a separate mirrored destination. Proxy will not wait for the shadow destination to respond before returning the response. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow."
        },
        "destinations": {
          "items": {
            "$ref": "HttpRouteDestination"
          },
          "description": "The destination to which traffic should be forwarded.",
          "type": "array"
        },
        "requestHeaderModifier": {
          "$ref": "HttpRouteHeaderModifier",
          "description": "The specification for modifying the headers of a matching request prior to delivery of the request to the destination. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration."
        },
        "idleTimeout": {
          "description": "Optional. Specifies the idle timeout for the selected route. The idle timeout is defined as the period in which there are no bytes sent or received on either the upstream or downstream connection. If not set, the default idle timeout is 1 hour. If set to 0s, the timeout will be disabled.",
          "format": "google-duration",
          "type": "string"
        },
        "directResponse": {
          "description": "Optional. Static HTTP Response object to be returned regardless of the request.",
          "$ref": "HttpRouteHttpDirectResponse"
        },
        "retryPolicy": {
          "$ref": "HttpRouteRetryPolicy",
          "description": "Specifies the retry policy associated with this route."
        },
        "timeout": {
          "description": "Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "ListLbRouteExtensionsResponse": {
      "description": "Message for response to listing `LbRouteExtension` resources.",
      "id": "ListLbRouteExtensionsResponse",
      "type": "object",
      "properties": {
        "lbRouteExtensions": {
          "type": "array",
          "items": {
            "$ref": "LbRouteExtension"
          },
          "description": "The list of `LbRouteExtension` resources."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        }
      }
    },
    "TcpRouteRouteAction": {
      "id": "TcpRouteRouteAction",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Optional. The destination services to which traffic should be forwarded. At least one destination service is required. Only one of route destination or original destination can be set.",
          "items": {
            "$ref": "TcpRouteRouteDestination"
          },
          "type": "array"
        },
        "originalDestination": {
          "description": "Optional. If true, Router will use the destination IP and port of the original connection as the destination of the request. Default is false. Only one of route destinations or original destination can be set.",
          "type": "boolean"
        },
        "idleTimeout": {
          "description": "Optional. Specifies the idle timeout for the selected route. The idle timeout is defined as the period in which there are no bytes sent or received on either the upstream or downstream connection. If not set, the default idle timeout is 30 seconds. If set to 0s, the timeout will be disabled.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "The specifications for routing traffic and applying associated policies."
    },
    "ListTlsRoutesResponse": {
      "id": "ListTlsRoutesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "tlsRoutes": {
          "type": "array",
          "items": {
            "$ref": "TlsRoute"
          },
          "description": "List of TlsRoute resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "description": "Response returned by the ListTlsRoutes method."
    },
    "HttpRouteRouteRule": {
      "id": "HttpRouteRouteRule",
      "type": "object",
      "properties": {
        "matches": {
          "type": "array",
          "items": {
            "$ref": "HttpRouteRouteMatch"
          },
          "description": "A list of matches define conditions used for matching the rule against incoming HTTP requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic. If a default rule is desired to be configured, add a rule with no matches specified to the end of the rules list."
        },
        "action": {
          "$ref": "HttpRouteRouteAction",
          "description": "The detailed rule defining how to route matched traffic."
        }
      },
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched."
    },
    "HttpRouteHeaderMatch": {
      "description": "Specifies how to select a route rule based on HTTP request headers.",
      "id": "HttpRouteHeaderMatch",
      "type": "object",
      "properties": {
        "suffixMatch": {
          "type": "string",
          "description": "The value of the header must end with the contents of suffix_match."
        },
        "exactMatch": {
          "description": "The value of the header should match exactly the content of exact_match.",
          "type": "string"
        },
        "prefixMatch": {
          "description": "The value of the header must start with the contents of prefix_match.",
          "type": "string"
        },
        "header": {
          "type": "string",
          "description": "The name of the HTTP header to match against."
        },
        "regexMatch": {
          "description": "The value of the header must match the regular expression specified in regex_match. For regular expression grammar, please see: https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "presentMatch": {
          "type": "boolean",
          "description": "A header with header_name must exist. The match takes place whether or not the header has a value."
        },
        "rangeMatch": {
          "$ref": "HttpRouteHeaderMatchIntegerRange",
          "description": "If specified, the rule will match if the request header value is within the range."
        },
        "invertMatch": {
          "description": "If specified, the match result will be inverted before checking. Default value is set to false.",
          "type": "boolean"
        }
      }
    },
    "HttpRouteFaultInjectionPolicy": {
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced by client proxy on a percentage of requests before sending those requests to the destination service. Similarly requests can be aborted by client proxy for a percentage of requests.",
      "id": "HttpRouteFaultInjectionPolicy",
      "type": "object",
      "properties": {
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "HttpRouteFaultInjectionPolicyDelay"
        },
        "abort": {
          "$ref": "HttpRouteFaultInjectionPolicyAbort",
          "description": "The specification for aborting to client requests."
        }
      }
    },
    "WasmPlugin": {
      "description": "`WasmPlugin` is a resource representing a service executing a customer-provided Wasm module.",
      "id": "WasmPlugin",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `WasmPlugin` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "mainVersionId": {
          "type": "string",
          "description": "Optional. The ID of the `WasmPluginVersion` resource that is the currently serving one. The version referred to must be a child of this `WasmPlugin` resource."
        },
        "usedBy": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "WasmPluginUsedBy"
          },
          "description": "Output only. List of all [extensions](https://cloud.google.com/service-extensions/docs/overview) that use this `WasmPlugin` resource."
        },
        "versions": {
          "type": "object",
          "description": "Optional. All versions of this `WasmPlugin` resource in the key-value format. The key is the resource ID, and the value is the `VersionDetails` object. Lets you create or update a `WasmPlugin` resource and its versions in a single request. When the `main_version_id` field is not empty, it must point to one of the `VersionDetails` objects in the map. If provided in a `PATCH` request, the new versions replace the previous set. Any version omitted from the `versions` field is removed. Because the `WasmPluginVersion` resource is immutable, if a `WasmPluginVersion` resource with the same name already exists and differs, the request fails. Note: In a `GET` request, this field is populated only if the field `GetWasmPluginRequest.view` is set to `WASM_PLUGIN_VIEW_FULL`.",
          "additionalProperties": {
            "$ref": "WasmPluginVersionDetails"
          }
        },
        "name": {
          "description": "Identifier. Name of the `WasmPlugin` resource in the following format: `projects/{project}/locations/{location}/wasmPlugins/{wasm_plugin}`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "logConfig": {
          "description": "Optional. Specifies the logging options for the activity performed by this plugin. If logging is enabled, plugin logs are exported to Cloud Logging. Note that the settings relate to the logs generated by using logging statements in your Wasm code.",
          "$ref": "WasmPluginLogConfig"
        }
      }
    },
    "HttpRoute": {
      "description": "HttpRoute is the resource defining how HTTP traffic should be routed by a Mesh or Gateway resource.",
      "id": "HttpRoute",
      "type": "object",
      "properties": {
        "rules": {
          "items": {
            "$ref": "HttpRouteRouteRule"
          },
          "description": "Required. Rules that define how traffic is routed and handled. Rules will be matched sequentially based on the RouteMatch specified for the rule.",
          "type": "array"
        },
        "meshes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Meshes defines a list of meshes this HttpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/*/meshes/` The attached Mesh should be of a type SIDECAR",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the HttpRoute resource. It matches pattern `projects/*/locations/*/httpRoutes/http_route_name>`."
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "hostnames": {
          "type": "array",
          "description": "Required. Hostnames define a set of hosts that should match against the HTTP host header to select a HttpRoute to process the request. Hostname is the fully qualified domain name of a network host, as defined by RFC 1123 with the exception that: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (`*.`). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. `foo.example.com`) or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. `*.example.com`). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateways must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames `*.foo.bar.com` and `*.bar.com` to be associated with the same Mesh (or Gateways under the same scope), it is not possible to associate two routes both with `*.bar.com` or both with `bar.com`.",
          "items": {
            "type": "string"
          }
        },
        "gateways": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Gateways defines a list of gateways this HttpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/*/gateways/`"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the HttpRoute resource.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "WasmPluginVersionDetails": {
      "id": "WasmPluginVersionDetails",
      "type": "object",
      "properties": {
        "pluginConfigData": {
          "type": "string",
          "description": "Configuration for the plugin. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. When a new `WasmPluginVersion` version is created, the digest of the contents is saved in the `plugin_config_digest` field.",
          "format": "byte"
        },
        "pluginConfigUri": {
          "type": "string",
          "description": "URI of the plugin configuration stored in the Artifact Registry. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. The URI can refer to one of the following repository formats: * Container images: the `plugin_config_uri` must point to a container that contains a single file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `plugin_config_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `plugin_config_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `plugin_config_digest` field."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `WasmPluginVersion` resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "imageDigest": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin image. The value is calculated based on the `image_uri` field. If the `image_uri` field refers to a container image, the digest value is obtained from the container image. If the `image_uri` field refers to a generic artifact, the digest value is calculated based on the contents of the file."
        },
        "pluginConfigDigest": {
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin configuration. The value is calculated based on the contents of `plugin_config_data` field or the image defined by the `plugin_config_uri` field.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. URI of the image containing the Wasm module, stored in Artifact Registry. The URI can refer to one of the following repository formats: * Container images: the `image_uri` must point to a container that contains a single file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `image_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `image_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `image_digest` field."
        }
      },
      "description": "Details of a `WasmPluginVersion` resource to be inlined in the `WasmPlugin` resource."
    },
    "HttpRouteRetryPolicy": {
      "id": "HttpRouteRetryPolicy",
      "type": "object",
      "properties": {
        "perTryTimeout": {
          "description": "Specifies a non-zero timeout per retry attempt.",
          "format": "google-duration",
          "type": "string"
        },
        "retryConditions": {
          "items": {
            "type": "string"
          },
          "description": "Specifies one or more conditions when this retry policy applies. Valid values are: 5xx: Proxy will attempt a retry if the destination service responds with any 5xx response code, of if the destination service does not respond at all, example: disconnect, reset, read timeout, connection failure and refused streams. gateway-error: Similar to 5xx, but only applies to response codes 502, 503, 504. reset: Proxy will attempt a retry if the destination service does not respond at all (disconnect/reset/read timeout) connect-failure: Proxy will retry on failures connecting to destination for example due to connection timeouts. retriable-4xx: Proxy will retry fro retriable 4xx response codes. Currently the only retriable error supported is 409. refused-stream: Proxy will retry if the destination resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry.",
          "type": "array"
        },
        "numRetries": {
          "description": "Specifies the allowed number of retries. This number must be > 0. If not specified, default to 1.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The specifications for retries."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
[...]
