{
  "baseUrl": "https://notebooks.googleapis.com/",
  "description": "Notebooks API is used to manage notebook resources in Google Cloud.",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "version": "v1",
  "revision": "20260401",
  "title": "Notebooks API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "name": "notebooks",
  "id": "notebooks:v1",
  "servicePath": "",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/notebooks/docs/",
  "schemas": {
    "ContainerImage": {
      "description": "Definition of a container image for starting a notebook instance with the environment installed in a container.",
      "properties": {
        "repository": {
          "description": "Required. The path to the container image repository. For example: `gcr.io/{project_id}/{image_name}`",
          "type": "string"
        },
        "tag": {
          "description": "The tag of the container image. If not specified, this defaults to the latest tag.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContainerImage"
    },
    "ShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options. See [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm). Not all combinations are valid.",
      "properties": {
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default."
        },
        "enableVtpm": {
          "description": "Defines whether the instance has the vTPM enabled. Enabled by default.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ShieldedInstanceConfig"
    },
    "InstanceMigrationEligibility": {
      "id": "InstanceMigrationEligibility",
      "type": "object",
      "description": "InstanceMigrationEligibility represents the feasibility information of a migration from UmN to WbI.",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "WARNING_UNSPECIFIED",
              "UNSUPPORTED_MACHINE_TYPE",
              "UNSUPPORTED_ACCELERATOR_TYPE",
              "UNSUPPORTED_OS",
              "NO_REMOVE_DATA_DISK",
              "GCS_BACKUP",
              "POST_STARTUP_SCRIPT"
            ],
            "enumDescriptions": [
              "Default type.",
              "The UmN uses an machine type that's unsupported in WbI. It will be migrated with the default machine type e2-standard-4. Users can change the machine type after the migration.",
              "The UmN uses an accelerator type that's unsupported in WbI. It will be migrated without an accelerator. User can attach an accelerator after the migration.",
              "The UmN uses an operating system that's unsupported in WbI (e.g. Debian 10, Ubuntu). It will be replaced with Debian 11 in WbI.",
              "This UmN is configured with no_remove_data_disk, which is no longer available in WbI.",
              "This UmN is configured with the Cloud Storage backup feature, which is no longer available in WbI.",
              "This UmN is configured with a post startup script. Please optionally provide the `post_startup_script_option` for the migration."
            ]
          },
          "description": "Output only. Certain configurations will be defaulted during the migration.",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Certain configurations make the UmN ineligible for an automatic migration. A manual migration is required.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default type.",
              "The UmN uses Dataproc Hub and cannot be migrated."
            ],
            "type": "string",
            "enum": [
              "ERROR_UNSPECIFIED",
              "DATAPROC_HUB"
            ]
          },
          "readOnly": true
        }
      }
    },
    "Runtime": {
      "id": "Runtime",
      "description": "The definition of a Runtime for a managed notebook instance.",
      "properties": {
        "migrated": {
          "readOnly": true,
          "description": "Output only. Bool indicating whether this notebook has been migrated to a Workbench Instance",
          "type": "boolean"
        },
        "metrics": {
          "description": "Output only. Contains Runtime daemon metrics such as Service status and JupyterLab stats.",
          "$ref": "RuntimeMetrics",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the runtime. Format: `projects/{project}/locations/{location}/runtimes/{runtimeId}`",
          "readOnly": true
        },
        "accessConfig": {
          "description": "The config settings for accessing runtime.",
          "$ref": "RuntimeAccessConfig"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels to associate with this Managed Notebook or Runtime. Label **keys** must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). Label **values** may be empty, but, if present, must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Runtime update time."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "PROVISIONING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETING",
            "UPGRADING",
            "INITIALIZING"
          ],
          "description": "Output only. Runtime state.",
          "enumDescriptions": [
            "State is not specified.",
            "The compute layer is starting the runtime. It is not ready for use.",
            "The compute layer is installing required frameworks and registering the runtime with notebook proxy. It cannot be used.",
            "The runtime is currently running. It is ready for use.",
            "The control logic is stopping the runtime. It cannot be used.",
            "The runtime is stopped. It cannot be used.",
            "The runtime is being deleted. It cannot be used.",
            "The runtime is upgrading. It cannot be used.",
            "The runtime is being created and set up. It is not ready for use."
          ],
          "type": "string"
        },
        "softwareConfig": {
          "description": "The config settings for software inside the runtime.",
          "$ref": "RuntimeSoftwareConfig"
        },
        "healthState": {
          "readOnly": true,
          "description": "Output only. Runtime health_state.",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "AGENT_NOT_INSTALLED",
            "AGENT_NOT_RUNNING"
          ],
          "enumDescriptions": [
            "The runtime substate is unknown.",
            "The runtime is known to be in an healthy state (for example, critical daemons are running) Applies to ACTIVE state.",
            "The runtime is known to be in an unhealthy state (for example, critical daemons are not running) Applies to ACTIVE state.",
            "The runtime has not installed health monitoring agent. Applies to ACTIVE state.",
            "The runtime health monitoring agent is not running. Applies to ACTIVE state."
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Runtime creation time.",
          "type": "string"
        },
        "runtimeMigrationEligibility": {
          "$ref": "RuntimeMigrationEligibility",
          "readOnly": true,
          "description": "Output only. Checks how feasible a migration from GmN to WbI is."
        },
        "virtualMachine": {
          "description": "Use a Compute Engine VM image to start the managed notebook instance.",
          "$ref": "VirtualMachine"
        }
      },
      "type": "object"
    },
    "UpdateInstanceMetadataItemsResponse": {
      "type": "object",
      "description": "Response for adding/changing metadata items for an instance.",
      "properties": {
        "items": {
          "description": "Map of items that were added/updated to/in the metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "UpdateInstanceMetadataItemsResponse"
    },
    "VirtualMachineConfig": {
      "id": "VirtualMachineConfig",
      "description": "The config settings for virtual machine.",
      "properties": {
        "guestAttributes": {
          "description": "Output only. The Compute Engine guest attributes. (see [Project and instance guest attributes](https://cloud.google.com/compute/docs/storing-retrieving-metadata#guest_attributes)).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels to associate with this runtime. Label **keys** must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). Label **values** may be empty, but, if present, must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reservedIpRange": {
          "description": "Optional. Reserved IP Range name is used for VPC Peering. The subnetwork allocation will use the range *name* if it's assigned. Example: managed-notebooks-range-c PEERING_RANGE_NAME_3=managed-notebooks-range-c gcloud compute addresses create $PEERING_RANGE_NAME_3 \\ --global \\ --prefix-length=24 \\ --description=\"Google Cloud Managed Notebooks Range 24 c\" \\ --network=$NETWORK \\ --addresses=192.168.0.0 \\ --purpose=VPC_PEERING Field value will be: `managed-notebooks-range-c`",
          "type": "string"
        },
        "internalIpOnly": {
          "description": "Optional. If true, runtime will only have internal IP addresses. By default, runtimes are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each vm. This `internal_ip_only` restriction can only be enabled for subnetwork enabled networks, and all dependencies must be configured to be accessible without external IP addresses.",
          "type": "boolean"
        },
        "nicType": {
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_NIC_TYPE",
            "VIRTIO_NET",
            "GVNIC"
          ],
          "enumDescriptions": [
            "No type specified.",
            "VIRTIO",
            "GVNIC"
          ]
        },
        "zone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The zone where the virtual machine is located. If using regional request, the notebooks service will pick a location in the corresponding runtime region. On a get request, zone will always be present. Example: * `us-central1-b`"
        },
        "network": {
          "type": "string",
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork. If neither `network` nor `subnet` is specified, the \"default\" network of the project is used, if it exists. A full URL or partial URI. Examples: * `https://www.googleapis.com/compute/v1/projects/[project_id]/global/networks/default` * `projects/[project_id]/global/networks/default` Runtimes are managed resources inside Google Infrastructure. Runtimes support the following network configurations: * Google Managed Network (Network & subnet are empty) * Consumer Project VPC (network & subnet are required). Requires configuring Private Service Access. * Shared VPC (network & subnet are required). Requires configuring Private Service Access."
        },
        "containerImages": {
          "description": "Optional. Use a list of container images to use as Kernels in the notebook instance.",
          "type": "array",
          "items": {
            "$ref": "ContainerImage"
          }
        },
        "acceleratorConfig": {
          "description": "Optional. The Compute Engine accelerator configuration for this runtime.",
          "$ref": "RuntimeAcceleratorConfig"
        },
        "encryptionConfig": {
          "description": "Optional. Encryption settings for virtual machine data disk.",
          "$ref": "EncryptionConfig"
        },
        "metadata": {
          "type": "object",
          "description": "Optional. The Compute Engine metadata entries to add to virtual machine. (see [Project and instance metadata](https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata)).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataDisk": {
          "description": "Required. Data disk option configuration settings.",
          "$ref": "LocalDisk"
        },
        "machineType": {
          "type": "string",
          "description": "Required. The Compute Engine machine type used for runtimes. Short name is valid. Examples: * `n1-standard-2` * `e2-standard-8`"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The Compute Engine network tags to add to runtime (see [Add network tags](https://cloud.google.com/vpc/docs/add-remove-network-tags))."
        },
        "bootImage": {
          "description": "Optional. Boot image metadata used for runtime upgradeability.",
          "$ref": "BootImage"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded VM Instance configuration settings.",
          "$ref": "RuntimeShieldedInstanceConfig"
        },
        "subnet": {
          "type": "string",
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network. A full URL or partial URI are valid. Examples: * `https://www.googleapis.com/compute/v1/projects/[project_id]/regions/us-east1/subnetworks/sub0` * `projects/[project_id]/regions/us-east1/subnetworks/sub0`"
        }
      },
      "type": "object"
    },
    "ReportInstanceInfoRequest": {
      "type": "object",
      "description": "Request for notebook instances to report information to Notebooks API.",
      "properties": {
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        },
        "metadata": {
          "description": "The metadata reported to Notebooks API. This will be merged to the instance metadata store",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "ReportInstanceInfoRequest"
    },
    "StartRuntimeRequest": {
      "id": "StartRuntimeRequest",
      "description": "Request for starting a Managed Notebook Runtime.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Idempotent request UUID."
        }
      },
      "type": "object"
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "description": "Response for listing scheduled notebook executions",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Executions IDs that could not be reached. For example: ['projects/{project_id}/location/{location}/executions/imagenet_test1', 'projects/{project_id}/location/{location}/executions/classifier_train1']"
        },
        "executions": {
          "description": "A list of returned instances.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        }
      },
      "type": "object"
    },
    "UpgradeHistoryEntry": {
      "id": "UpgradeHistoryEntry",
      "type": "object",
      "description": "The entry of VM image upgrade history.",
      "properties": {
        "containerImage": {
          "description": "The container image before this instance upgrade.",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Operation is not specified.",
            "Upgrade.",
            "Rollback."
          ],
          "description": "Action. Rolloback or Upgrade.",
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "UPGRADE",
            "ROLLBACK"
          ]
        },
        "vmImage": {
          "type": "string",
          "description": "The VM image before this instance upgrade."
        },
        "targetVersion": {
          "description": "Target VM Version, like m63.",
          "type": "string"
        },
        "targetImage": {
          "deprecated": true,
          "type": "string",
          "description": "Target VM Image. Format: `ainotebooks-vm/project/image-name/name`."
        },
        "framework": {
          "type": "string",
          "description": "The framework of this notebook instance."
        },
        "snapshot": {
          "description": "The snapshot of the boot disk of this notebook instance before upgrade.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time that this instance upgrade history entry is created.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the notebook instance before this upgrade."
        },
        "state": {
          "description": "The state of this instance upgrade history entry.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "The instance upgrade is started.",
            "The instance upgrade is succeeded.",
            "The instance upgrade is failed."
          ]
        }
      }
    },
    "UpdateInstanceConfigRequest": {
      "description": "Request for updating instance configurations.",
      "properties": {
        "config": {
          "description": "The instance configurations to be updated.",
          "$ref": "InstanceConfig"
        }
      },
      "type": "object",
      "id": "UpdateInstanceConfigRequest"
    },
    "UpgradeInstanceRequest": {
      "description": "Request for upgrading a notebook instance",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Upgrade type is not specified.",
            "Upgrade ML framework.",
            "Upgrade Operating System.",
            "Upgrade CUDA.",
            "Upgrade All (OS, Framework and CUDA)."
          ],
          "type": "string",
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "UPGRADE_FRAMEWORK",
            "UPGRADE_OS",
            "UPGRADE_CUDA",
            "UPGRADE_ALL"
          ],
          "description": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance."
        }
      },
      "type": "object",
      "id": "UpgradeInstanceRequest"
    },
    "DiagnoseInstanceRequest": {
      "description": "Request for creating a notebook instance diagnostic file.",
      "properties": {
        "diagnosticConfig": {
          "description": "Required. Defines flags that are used to run the diagnostic tool",
          "$ref": "DiagnosticConfig"
        },
        "timeoutMinutes": {
          "format": "int32",
          "description": "Optional. Maximum amount of time in minutes before the operation times out.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "DiagnoseInstanceRequest"
    },
    "VirtualMachine": {
      "id": "VirtualMachine",
      "type": "object",
      "description": "Runtime using Virtual Machine for computing.",
      "properties": {
        "virtualMachineConfig": {
          "description": "Virtual Machine configuration settings.",
          "$ref": "VirtualMachineConfig"
        },
        "instanceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the Managed Compute Engine instance."
        },
        "instanceName": {
          "type": "string",
          "description": "Output only. The user-friendly name of the Managed Compute Engine instance.",
          "readOnly": true
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "description": "Represents a custom encryption key configuration that can be applied to a resource. This will encrypt all disks in Virtual Machine.",
      "properties": {
        "kmsKey": {
          "description": "The Cloud KMS resource identifier of the customer-managed encryption key used to protect a resource, such as a disks. It has the following format: `projects/{PROJECT_ID}/locations/{REGION}/keyRings/{KEY_RING_NAME}/cryptoKeys/{KEY_NAME}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpgradeRuntimeRequest": {
      "id": "UpgradeRuntimeRequest",
      "type": "object",
      "description": "Request for upgrading a Managed Notebook Runtime to the latest version. option (google.api.message_visibility).restriction = \"TRUSTED_TESTER,SPECIAL_TESTER\";",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Idempotent request UUID."
        }
      }
    },
    "RuntimeSoftwareConfig": {
      "description": "Specifies the selection and configuration of software inside the runtime. The properties to set on runtime. Properties keys are specified in `key:value` format, for example: * `idle_shutdown: true` * `idle_shutdown_timeout: 180` * `enable_health_monitoring: true`",
      "properties": {
        "idleShutdown": {
          "type": "boolean",
          "description": "Runtime will automatically shutdown after idle_shutdown_time. Default: True"
        },
        "enableHealthMonitoring": {
          "type": "boolean",
          "description": "Verifies core internal services are running. Default: True"
        },
        "upgradeable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Bool indicating whether an newer image is available in an image family."
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. version of boot image such as M100, from release label of the image."
        },
        "installGpuDriver": {
          "type": "boolean",
          "description": "Install Nvidia Driver automatically. Default: True"
        },
        "mixerDisabled": {
          "type": "boolean",
          "description": "Bool indicating whether mixer client should be disabled. Default: False"
        },
        "postStartupScript": {
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path (`gs://path-to-file/file-name`).",
          "type": "string"
        },
        "notebookUpgradeSchedule": {
          "description": "Cron expression in UTC timezone, used to schedule instance auto upgrade. Please follow the [cron format](https://en.wikipedia.org/wiki/Cron).",
          "type": "string"
        },
        "disableTerminal": {
          "description": "Bool indicating whether JupyterLab terminal will be available or not. Default: False",
          "type": "boolean"
        },
        "customGpuDriverPath": {
          "description": "Specify a custom Cloud Storage path where the GPU driver is stored. If not specified, we'll automatically choose from official GPU drivers.",
          "type": "string"
        },
        "kernels": {
          "type": "array",
          "items": {
            "$ref": "ContainerImage"
          },
          "description": "Optional. Use a list of container images to use as Kernels in the notebook instance."
        },
        "idleShutdownTimeout": {
          "type": "integer",
          "description": "Time in minutes to wait before shutting down runtime. Default: 180 minutes",
          "format": "int32"
        },
        "postStartupScriptBehavior": {
          "enumDescriptions": [
            "Unspecified post startup script behavior. Will run only once at creation.",
            "Runs the post startup script provided during creation at every start.",
            "Downloads and runs the provided post startup script at every start."
          ],
          "description": "Behavior for the post startup script.",
          "type": "string",
          "enum": [
            "POST_STARTUP_SCRIPT_BEHAVIOR_UNSPECIFIED",
            "RUN_EVERY_START",
            "DOWNLOAD_AND_RUN_EVERY_START"
          ]
        }
      },
      "type": "object",
      "id": "RuntimeSoftwareConfig"
    },
    "ReportInstanceEventRequest": {
      "type": "object",
      "description": "Request for reporting a Managed Notebook Event.",
      "properties": {
        "vmId": {
          "type": "string",
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity"
        },
        "event": {
          "description": "Required. The Event to be reported.",
          "$ref": "Event"
        }
      },
      "id": "ReportInstanceEventRequest"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status"
    },
    "LocalDiskInitializeParams": {
      "type": "object",
      "description": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new runtime. This property is mutually exclusive with the source property; you can only define one or the other, but not both.",
      "properties": {
        "diskSizeGb": {
          "format": "int64",
          "description": "Optional. Specifies the size of the disk in base-2 GB. If not specified, the disk will be the same size as the image (usually 10GB). If specified, the size must be equal to or larger than 10GB. Default 100 GB.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Provide this property when creating the disk.",
          "type": "string"
        },
        "diskType": {
          "description": "Input only. The type of the boot disk attached to this instance, defaults to standard persistent disk (`PD_STANDARD`).",
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "PD_STANDARD",
            "PD_SSD",
            "PD_BALANCED",
            "PD_EXTREME"
          ],
          "enumDescriptions": [
            "Disk type not set.",
            "Standard persistent disk type.",
            "SSD persistent disk type.",
            "Balanced persistent disk type.",
            "Extreme persistent disk type."
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels to apply to this disk. These can be later modified by the disks.setLabels method. This field is only applicable for persistent disks.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "diskName": {
          "type": "string",
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance. If the disk with the instance name exists already in the given zone/region, a new name will be automatically generated."
        }
      },
      "id": "LocalDiskInitializeParams"
    },
    "Disk": {
      "description": "An instance-attached disk resource.",
      "properties": {
        "autoDelete": {
          "description": "Indicates whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).",
          "type": "boolean"
        },
        "deviceName": {
          "description": "Indicates a unique device name of your choice that is reflected into the `/dev/disk/by-id/google-*` tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine.This field is only applicable for persistent disks.",
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of publicly visible licenses. Reserved for Google's use. A License represents billing and aggregate usage data for public and marketplace images."
        },
        "boot": {
          "type": "boolean",
          "description": "Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
        },
        "mode": {
          "description": "The mode in which to attach this disk, either `READ_WRITE` or `READ_ONLY`. If not specified, the default is to attach the disk in `READ_WRITE` mode. Valid values: * `READ_ONLY` * `READ_WRITE`",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Indicates a valid partial or full URL to an existing Persistent Disk resource."
        },
        "diskSizeGb": {
          "description": "Indicates the size of the disk in base-2 GB.",
          "type": "string",
          "format": "int64"
        },
        "index": {
          "type": "string",
          "description": "A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number.",
          "format": "int64"
        },
        "guestOsFeatures": {
          "type": "array",
          "items": {
            "$ref": "GuestOsFeature"
          },
          "description": "Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options."
        },
        "interface": {
          "type": "string",
          "description": "Indicates the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * `NVME` * `SCSI`"
        },
        "type": {
          "type": "string",
          "description": "Indicates the type of the disk, either `SCRATCH` or `PERSISTENT`. Valid values: * `PERSISTENT` * `SCRATCH`"
        },
        "kind": {
          "description": "Type of the resource. Always compute#attachedDisk for attached disks.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Disk"
    },
    "RegisterInstanceRequest": {
      "id": "RegisterInstanceRequest",
      "type": "object",
      "description": "Request for registering a notebook instance.",
      "properties": {
        "instanceId": {
          "description": "Required. User defined unique ID of this instance. The `instance_id` must be 1 to 63 characters long and contain only lowercase letters, numeric characters, and dashes. The first character must be a lowercase letter and the last character cannot be a dash.",
          "type": "string"
        }
      }
    },
    "UpdateShieldedInstanceConfigRequest": {
      "id": "UpdateShieldedInstanceConfigRequest",
      "type": "object",
      "description": "Request for updating the Shielded Instance config for a notebook instance. You can only use this method on a stopped instance",
      "properties": {
        "shieldedInstanceConfig": {
          "description": "ShieldedInstance configuration to be updated.",
          "$ref": "ShieldedInstanceConfig"
        }
      }
    },
    "VmImage": {
      "id": "VmImage",
      "type": "object",
      "description": "Definition of a custom Compute Engine virtual machine image for starting a notebook instance with the environment installed directly on the VM.",
      "properties": {
        "project": {
          "description": "Required. The name of the Google Cloud project that this VM image belongs to. Format: `{project_id}`",
          "type": "string"
        },
        "imageName": {
          "description": "Use VM image name to find the image.",
          "type": "string"
        },
        "imageFamily": {
          "description": "Use this VM image family to find the image; the newest image in this family will be used.",
          "type": "string"
        }
      }
    },
    "RollbackInstanceRequest": {
      "id": "RollbackInstanceRequest",
      "description": "Request for rollbacking a notebook instance",
      "properties": {
        "targetSnapshot": {
          "description": "Required. The snapshot for rollback. Example: `projects/test-project/global/snapshots/krwlzipynril`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RuntimeAcceleratorConfig": {
      "description": "Definition of the types of hardware accelerators that can be used. See [Compute Engine AcceleratorTypes](https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes). Examples: * `nvidia-tesla-k80` * `nvidia-tesla-p100` * `nvidia-tesla-v100` * `nvidia-tesla-p4` * `nvidia-tesla-t4` * `nvidia-tesla-a100`",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100 - 40GB.",
            "Accelerator type is Nvidia L4.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations."
          ],
          "type": "string",
          "description": "Accelerator model.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_L4",
            "TPU_V2",
            "TPU_V3",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS"
          ]
        },
        "coreCount": {
          "type": "string",
          "description": "Count of cores of this accelerator.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "RuntimeAcceleratorConfig"
    },
    "RuntimeGuestOsFeature": {
      "description": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images. Read [Enabling guest operating system features](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#guest-os-features) to see a list of available options. Guest OS features for boot disk.",
      "properties": {
        "type": {
          "description": "The ID of a supported feature. Read [Enabling guest operating system features](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#guest-os-features) to see a list of available options. Valid values: * `FEATURE_TYPE_UNSPECIFIED` * `MULTI_IP_SUBNET` * `SECURE_BOOT` * `UEFI_COMPATIBLE` * `VIRTIO_SCSI_MULTIQUEUE` * `WINDOWS`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RuntimeGuestOsFeature"
    },
    "Execution": {
      "id": "Execution",
      "type": "object",
      "description": "The definition of a single executed notebook.",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name used for UI purposes. Name can only contain alphanumeric characters and underscores '_'."
        },
        "updateTime": {
          "description": "Output only. Time the Execution was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time the Execution was instantiated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "jobUri": {
          "description": "Output only. The URI of the external job used to execute the notebook.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to execution the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed. `error_message` should contain the details of the failure.",
            "The job is being cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has been cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has become expired (relevant to Vertex AI jobs) https://cloud.google.com/vertex-ai/docs/reference/rest/v1/JobState",
            "The Execution is being created."
          ],
          "description": "Output only. State of the underlying AI Platform job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED",
            "EXPIRED",
            "INITIALIZING"
          ],
          "readOnly": true
        },
        "executionTemplate": {
          "description": "execute metadata including name, hardware spec, region, labels, etc.",
          "$ref": "ExecutionTemplate"
        },
        "description": {
          "description": "A brief description of this execution.",
          "type": "string"
        },
        "outputNotebookFile": {
          "description": "Output notebook file generated by this execution",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the execute. Format: `projects/{project_id}/locations/{location}/executions/{execution_id}`",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MigrateInstanceRequest": {
      "type": "object",
      "description": "Request for migrating a User-Managed Notebook to Workbench Instances.",
      "properties": {
        "postStartupScriptOption": {
          "type": "string",
          "enum": [
            "POST_STARTUP_SCRIPT_OPTION_UNSPECIFIED",
            "POST_STARTUP_SCRIPT_OPTION_SKIP",
            "POST_STARTUP_SCRIPT_OPTION_RERUN"
          ],
          "description": "Optional. Specifies the behavior of post startup script during migration.",
          "enumDescriptions": [
            "Post startup script option is not specified. Default is POST_STARTUP_SCRIPT_OPTION_SKIP.",
            "Not migrate the post startup script to the new Workbench Instance.",
            "Redownload and rerun the same post startup script as the User-Managed Notebook."
          ]
        }
      },
      "id": "MigrateInstanceRequest"
    },
    "IsInstanceUpgradeableResponse": {
      "id": "IsInstanceUpgradeableResponse",
      "type": "object",
      "description": "Response for checking if a notebook instance is upgradeable.",
      "properties": {
        "upgradeInfo": {
          "type": "string",
          "description": "Additional information about upgrade."
        },
        "upgradeImage": {
          "type": "string",
          "description": "The new image self link this instance will be upgraded to if calling the upgrade endpoint. This field will only be populated if field upgradeable is true."
        },
        "upgradeable": {
          "type": "boolean",
          "description": "If an instance is upgradeable."
        },
        "upgradeVersion": {
          "type": "string",
          "description": "The version this instance will be upgraded to if calling the upgrade endpoint. This field will only be populated if field upgradeable is true."
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "type": "object"
    },
    "RuntimeShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options. See [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm). Not all combinations are valid.",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default.",
          "type": "boolean"
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Defines whether the instance has the vTPM enabled. Enabled by default."
        },
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "RuntimeShieldedInstanceConfig"
    },
    "LocalDisk": {
      "description": "A Local attached disk resource.",
      "properties": {
        "index": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number."
        },
        "guestOsFeatures": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RuntimeGuestOsFeature"
          },
          "description": "Output only. Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options."
        },
        "initializeParams": {
          "description": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance. This property is mutually exclusive with the source property; you can only define one or the other, but not both.",
          "$ref": "LocalDiskInitializeParams"
        },
        "interface": {
          "type": "string",
          "description": "Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * `NVME` * `SCSI`"
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the disk, either `SCRATCH` or `PERSISTENT`. If not specified, the default is `PERSISTENT`. Valid values: * `PERSISTENT` * `SCRATCH`"
        },
        "kind": {
          "description": "Output only. Type of the resource. Always compute#attachedDisk for attached disks.",
          "type": "string",
          "readOnly": true
        },
        "autoDelete": {
          "type": "boolean",
          "description": "Optional. Output only. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).",
          "readOnly": true
        },
        "deviceName": {
          "description": "Optional. Output only. Specifies a unique device name of your choice that is reflected into the `/dev/disk/by-id/google-*` tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string",
          "readOnly": true
        },
        "licenses": {
          "readOnly": true,
          "description": "Output only. Any valid publicly visible licenses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "boot": {
          "readOnly": true,
          "description": "Optional. Output only. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.",
          "type": "boolean"
        },
        "mode": {
          "type": "string",
          "description": "The mode in which to attach this disk, either `READ_WRITE` or `READ_ONLY`. If not specified, the default is to attach the disk in `READ_WRITE` mode. Valid values: * `READ_ONLY` * `READ_WRITE`"
        },
        "source": {
          "type": "string",
          "description": "Specifies a valid partial or full URL to an existing Persistent Disk resource."
        }
      },
      "type": "object",
      "id": "LocalDisk"
    },
    "SetInstanceMachineTypeRequest": {
      "type": "object",
      "description": "Request for setting instance machine type.",
      "properties": {
        "machineType": {
          "description": "Required. The [Compute Engine machine type](https://cloud.google.com/compute/docs/machine-resource).",
          "type": "string"
        }
      },
      "id": "SetInstanceMachineTypeRequest"
    },
    "DataprocParameters": {
      "description": "Parameters used in Dataproc JobType executions.",
      "properties": {
        "cluster": {
          "description": "URI for cluster used to run Dataproc execution. Format: `projects/{PROJECT_ID}/regions/{REGION}/clusters/{CLUSTER_NAME}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataprocParameters"
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "id": "Binding"
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "type": "object",
      "description": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. See [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "Accelerator type is Nvidia Tesla L4.",
            "Accelerator type is Nvidia Tesla A100 80GB.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations.",
            "Accelerator type is NVIDIA H100 80GB.",
            "Accelerator type is NVIDIA H100 Mega 80GB.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3."
          ],
          "description": "Type of this accelerator.",
          "type": "string",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_L4",
            "NVIDIA_A100_80GB",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "TPU_V2",
            "TPU_V3"
          ]
        },
        "coreCount": {
          "description": "Count of cores of this accelerator.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation"
    },
    "StopInstanceRequest": {
      "id": "StopInstanceRequest",
      "type": "object",
      "description": "Request for stopping a notebook instance",
      "properties": {}
    },
    "ResetInstanceRequest": {
      "type": "object",
      "description": "Request for resetting a notebook instance",
      "properties": {},
      "id": "ResetInstanceRequest"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "description": "Definition of a software environment that is used to start a notebook instance.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of this environment for the UI."
        },
        "description": {
          "description": "A brief description of this environment.",
          "type": "string"
        },
        "containerImage": {
          "description": "Use a container image to start the notebook instance.",
          "$ref": "ContainerImage"
        },
        "postStartupScript": {
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path. Example: `\"gs://path-to-file/file-name\"`",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of this environment. Format: `projects/{project_id}/locations/{location}/environments/{environment_id}`",
          "type": "string"
        },
        "vmImage": {
          "description": "Use a Compute Engine VM image to start the notebook instance.",
          "$ref": "VmImage"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this environment was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "Schedule": {
      "id": "Schedule",
      "type": "object",
      "description": "The definition of a schedule.",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Timezone on which the cron_schedule. The value of this field must be a time zone name from the tz database. TZ Database: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones Note that some time zones include a provision for daylight savings time. The rules for daylight saving time are determined by the chosen tz. For UTC use the string \"utc\". If a time zone is not specified, the default will be in UTC (also known as GMT)."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of this schedule. Format: `projects/{project_id}/locations/{location}/schedules/{schedule_id}`",
          "type": "string"
        },
        "description": {
          "description": "A brief description of this environment.",
          "type": "string"
        },
        "recentExecutions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Execution"
          },
          "description": "Output only. The most recent execution names triggered from this schedule and their corresponding states."
        },
        "executionTemplate": {
          "description": "Notebook Execution Template corresponding to this schedule.",
          "$ref": "ExecutionTemplate"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the schedule was created."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The job is executing normally.",
            "The job is paused by the user. It will not execute. A user can intentionally pause the job using [Cloud Scheduler](https://cloud.google.com/scheduler/docs/creating#pause).",
            "The job is disabled by the system due to error. The user cannot directly set a job to be disabled.",
            "The job state resulting from a failed [CloudScheduler.UpdateJob](https://cloud.google.com/scheduler/docs/creating#edit) operation. To recover a job from this state, retry [CloudScheduler.UpdateJob](https://cloud.google.com/scheduler/docs/creating#edit) until a successful response is received.",
            "The schedule resource is being created.",
            "The schedule resource is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "PAUSED",
            "DISABLED",
            "UPDATE_FAILED",
            "INITIALIZING",
            "DELETING"
          ]
        },
        "cronSchedule": {
          "type": "string",
          "description": "Cron-tab formatted schedule by which the job will execute. Format: minute, hour, day of month, month, day of week, e.g. `0 0 * * WED` = every Wednesday More examples: https://crontab.guru/examples.html"
        },
        "displayName": {
          "description": "Output only. Display name used for UI purposes. Name can only contain alphanumeric characters, hyphens `-`, and underscores `_`.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the schedule was last updated.",
          "type": "string"
        }
      }
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "type": "object",
      "description": "Response for listing notebook instances.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "A list of returned instances."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached. For example, `['us-west1-a', 'us-central1-b']`. A ListInstancesResponse will only contain either instances or unreachables,"
        }
      }
    },
    "BootImage": {
      "id": "BootImage",
      "type": "object",
      "description": "Definition of the boot image used by the Runtime. Used to facilitate runtime upgradeability.",
      "properties": {}
    },
    "InstanceConfig": {
      "id": "InstanceConfig",
      "type": "object",
      "description": "Notebook instance configurations that can be updated.",
      "properties": {
        "notebookUpgradeSchedule": {
          "type": "string",
          "description": "Cron expression in UTC timezone, used to schedule instance auto upgrade. Please follow the [cron format](https://en.wikipedia.org/wiki/Cron)."
        },
        "enableHealthMonitoring": {
          "description": "Verifies core internal services are running.",
          "type": "boolean"
        }
      }
    },
    "GetInstanceHealthResponse": {
      "id": "GetInstanceHealthResponse",
      "type": "object",
      "description": "Response for checking if a notebook instance is healthy.",
      "properties": {
        "healthInfo": {
          "type": "object",
          "description": "Output only. Additional information about instance health. Example: healthInfo\": { \"docker_proxy_agent_status\": \"1\", \"docker_status\": \"1\", \"jupyterlab_api_status\": \"-1\", \"jupyterlab_status\": \"-1\", \"updated\": \"2020-10-18 09:40:03.573409\" }",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "healthState": {
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "AGENT_NOT_INSTALLED",
            "AGENT_NOT_RUNNING"
          ],
          "description": "Output only. Runtime health_state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The instance substate is unknown.",
            "The instance is known to be in an healthy state (for example, critical daemons are running) Applies to ACTIVE state.",
            "The instance is known to be in an unhealthy state (for example, critical daemons are not running) Applies to ACTIVE state.",
            "The instance has not installed health monitoring agent. Applies to ACTIVE state.",
            "The instance health monitoring agent is not running. Applies to ACTIVE state."
          ]
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "ResetRuntimeRequest": {
      "id": "ResetRuntimeRequest",
      "type": "object",
      "description": "Request for resetting a Managed Notebook Runtime.",
      "properties": {
        "requestId": {
          "description": "Idempotent request UUID.",
          "type": "string"
        }
      }
    },
    "RefreshRuntimeTokenInternalRequest": {
      "type": "object",
      "description": "Request for getting a new access token.",
      "properties": {
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        }
      },
      "id": "RefreshRuntimeTokenInternalRequest"
    },
    "DiagnoseRuntimeRequest": {
      "id": "DiagnoseRuntimeRequest",
      "type": "object",
      "description": "Request for creating a notebook instance diagnostic file.",
      "properties": {
        "diagnosticConfig": {
          "description": "Required. Defines flags that are used to run the diagnostic tool",
          "$ref": "DiagnosticConfig"
        },
        "timeoutMinutes": {
          "type": "integer",
          "description": "Optional. Maximum amount of time in minutes before the operation times out.",
          "format": "int32"
        }
      }
    },
    "StartInstanceRequest": {
      "description": "Request for starting a notebook instance",
      "properties": {},
      "type": "object",
      "id": "StartInstanceRequest"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ReportRuntimeEventRequest": {
      "id": "ReportRuntimeEventRequest",
      "description": "Request for reporting a Managed Notebook Event.",
      "properties": {
        "vmId": {
          "type": "string",
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity"
        },
        "event": {
          "description": "Required. The Event to be reported.",
          "$ref": "Event"
        }
      },
      "type": "object"
    },
    "MigrateRuntimeRequest": {
      "type": "object",
      "description": "Request for migrating a Runtime to a Workbench Instance.",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to be included in the Compute Engine instance of the new Workbench Instance when the Runtime uses \"single user only\" mode for permission. If not specified, the [Compute Engine default service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used. When the Runtime uses service account mode for permission, it will reuse the same service account, and this field must be empty."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. Idempotent request UUID."
        },
        "network": {
          "description": "Optional. Name of the VPC that the new Instance is in. This is required if the Runtime uses google-managed network. If the Runtime uses customer-owned network, it will reuse the same VPC, and this field must be empty. Format: `projects/{project_id}/global/networks/{network_id}`",
          "type": "string"
        },
        "subnet": {
          "description": "Optional. Name of the subnet that the new Instance is in. This is required if the Runtime uses google-managed network. If the Runtime uses customer-owned network, it will reuse the same subnet, and this field must be empty. Format: `projects/{project_id}/regions/{region}/subnetworks/{subnetwork_id}`",
          "type": "string"
        },
        "postStartupScriptOption": {
          "description": "Optional. Specifies the behavior of post startup script during migration.",
          "type": "string",
          "enum": [
            "POST_STARTUP_SCRIPT_OPTION_UNSPECIFIED",
            "POST_STARTUP_SCRIPT_OPTION_SKIP",
            "POST_STARTUP_SCRIPT_OPTION_RERUN"
          ],
          "enumDescriptions": [
            "Post startup script option is not specified. Default is POST_STARTUP_SCRIPT_OPTION_SKIP.",
            "Not migrate the post startup script to the new Workbench Instance.",
            "Redownload and rerun the same post startup script as the Google-Managed Notebook."
          ]
        }
      },
      "id": "MigrateRuntimeRequest"
    },
    "SchedulerAcceleratorConfig": {
      "type": "object",
      "description": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. See [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus) to find a valid combination. TPUs are not supported.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified accelerator type. Default to no GPU.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "TPU v2.",
            "TPU v3."
          ],
          "type": "string",
          "enum": [
            "SCHEDULER_ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3"
          ],
          "description": "Type of this accelerator."
        },
        "coreCount": {
          "type": "string",
          "description": "Count of cores of this accelerator.",
          "format": "int64"
        }
      },
      "id": "SchedulerAcceleratorConfig"
    },
    "SwitchRuntimeRequest": {
      "id": "SwitchRuntimeRequest",
      "type": "object",
      "description": "Request for switching a Managed Notebook Runtime.",
      "properties": {
        "requestId": {
          "description": "Idempotent request UUID.",
          "type": "string"
        },
        "machineType": {
          "description": "machine type.",
          "type": "string"
        },
        "acceleratorConfig": {
          "description": "accelerator config.",
          "$ref": "RuntimeAcceleratorConfig"
        }
      }
    },
    "RuntimeMigrationEligibility": {
      "type": "object",
      "description": "RuntimeMigrationEligibility represents the feasibility information of a migration from GmN to WbI.",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default type.",
              "The GmN uses an accelerator type that's unsupported in WbI. It will be migrated without an accelerator. Users can attach an accelerator after the migration.",
              "The GmN uses an operating system that's unsupported in WbI (e.g. Debian 10). It will be replaced with Debian 11 in WbI.",
              "This GmN is configured with reserved IP range, which is no longer applicable in WbI.",
              "This GmN is configured with a Google managed network. Please provide the `network` and `subnet` options for the migration.",
              "This GmN is configured with a post startup script. Please optionally provide the `post_startup_script_option` for the migration.",
              "This GmN is configured with single user mode. Please optionally provide the `service_account` option for the migration."
            ],
            "type": "string",
            "enum": [
              "WARNING_UNSPECIFIED",
              "UNSUPPORTED_ACCELERATOR_TYPE",
              "UNSUPPORTED_OS",
              "RESERVED_IP_RANGE",
              "GOOGLE_MANAGED_NETWORK",
              "POST_STARTUP_SCRIPT",
              "SINGLE_USER"
            ]
          },
          "description": "Output only. Certain configurations will be defaulted during the migration.",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Certain configurations make the GmN ineligible for an automatic migration. A manual migration is required.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ERROR_UNSPECIFIED",
              "CUSTOM_CONTAINER"
            ],
            "enumDescriptions": [
              "Default type.",
              "The GmN is configured with custom container(s) and cannot be migrated."
            ]
          },
          "readOnly": true
        }
      },
      "id": "RuntimeMigrationEligibility"
    },
    "RefreshRuntimeTokenInternalResponse": {
      "description": "Response with a new access token.",
      "properties": {
        "expireTime": {
          "description": "Output only. Token expiration time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "accessToken": {
          "type": "string",
          "description": "The OAuth 2.0 access token."
        }
      },
      "type": "object",
      "id": "RefreshRuntimeTokenInternalResponse"
    },
    "RuntimeMetrics": {
      "type": "object",
      "description": "Contains runtime daemon metrics, such as OS and kernels and sessions stats.",
      "properties": {
        "systemMetrics": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. The system metrics.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "RuntimeMetrics"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ExecutionTemplate": {
      "id": "ExecutionTemplate",
      "type": "object",
      "description": "The description a notebook execution workload.",
      "properties": {
        "acceleratorConfig": {
          "description": "Configuration (count and accelerator type) for hardware running notebook execution.",
          "$ref": "SchedulerAcceleratorConfig"
        },
        "containerImageUri": {
          "type": "string",
          "description": "Container Image URI to a DLVM Example: 'gcr.io/deeplearning-platform-release/base-cu100' More examples can be found at: https://cloud.google.com/ai-platform/deep-learning-containers/docs/choosing-container"
        },
        "jobType": {
          "enumDescriptions": [
            "No type specified.",
            "Custom Job in `aiplatform.googleapis.com`. Default value for an execution.",
            "Run execution on a cluster with Dataproc as a job. https://cloud.google.com/dataproc/docs/reference/rest/v1/projects.regions.jobs"
          ],
          "description": "The type of Job to be used on this execution.",
          "type": "string",
          "enum": [
            "JOB_TYPE_UNSPECIFIED",
            "VERTEX_AI",
            "DATAPROC"
          ]
        },
        "tensorboard": {
          "type": "string",
          "description": "The name of a Vertex AI [Tensorboard] resource to which this execution will upload Tensorboard logs. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`"
        },
        "labels": {
          "description": "Labels for execution. If execution is scheduled, a field included will be 'nbs-scheduled'. Otherwise, it is an immediate execution, and an included field will be 'nbs-immediate'. Use fields to efficiently index between various types of executions.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "outputNotebookFolder": {
          "description": "Path to the notebook folder to write to. Must be in a Google Cloud Storage bucket path. Format: `gs://{bucket_name}/{folder}` Ex: `gs://notebook_user/scheduled_notebooks`",
          "type": "string"
        },
        "inputNotebookFile": {
          "description": "Path to the notebook file to execute. Must be in a Google Cloud Storage bucket. Format: `gs://{bucket_name}/{folder}/{notebook_file_name}` Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook.ipynb`",
          "type": "string"
        },
        "paramsYamlFile": {
          "type": "string",
          "description": "Parameters to be overridden in the notebook during execution. Ref https://papermill.readthedocs.io/en/latest/usage-parameterize.html on how to specifying parameters in the input notebook and pass them here in an YAML file. Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook_params.yaml`"
        },
        "vertexAiParameters": {
          "description": "Parameters used in Vertex AI JobType executions.",
          "$ref": "VertexAIParameters"
        },
        "dataprocParameters": {
          "description": "Parameters used in Dataproc JobType executions.",
          "$ref": "DataprocParameters"
        },
        "kernelSpec": {
          "type": "string",
          "description": "Name of the kernel spec to use. This must be specified if the kernel spec name on the execution target does not match the name in the input notebook file."
        },
        "masterType": {
          "description": "Specifies the type of virtual machine to use for your training job's master worker. You must specify this field when `scaleTier` is set to `CUSTOM`. You can use certain Compute Engine machine types directly in this field. The following types are supported: - `n1-standard-4` - `n1-standard-8` - `n1-standard-16` - `n1-standard-32` - `n1-standard-64` - `n1-standard-96` - `n1-highmem-2` - `n1-highmem-4` - `n1-highmem-8` - `n1-highmem-16` - `n1-highmem-32` - `n1-highmem-64` - `n1-highmem-96` - `n1-highcpu-16` - `n1-highcpu-32` - `n1-highcpu-64` - `n1-highcpu-96` Alternatively, you can use the following legacy machine types: - `standard` - `large_model` - `complex_model_s` - `complex_model_m` - `complex_model_l` - `standard_gpu` - `complex_model_m_gpu` - `complex_model_l_gpu` - `standard_p100` - `complex_model_m_p100` - `standard_v100` - `large_model_v100` - `complex_model_m_v100` - `complex_model_l_v100` Finally, if you want to use a TPU for training, specify `cloud_tpu` in this field. Learn more about the [special configuration options for training with TPU](https://cloud.google.com/ai-platform/training/docs/using-tpus#configuring_a_custom_tpu_machine).",
          "type": "string"
        },
        "scaleTier": {
          "enumDescriptions": [
            "Unspecified Scale Tier.",
            "A single worker instance. This tier is suitable for learning how to use Cloud ML, and for experimenting with new models using small datasets.",
            "Many workers and a few parameter servers.",
            "A large number of workers with many parameter servers.",
            "A single worker instance with a K80 GPU.",
            "A single worker instance with a Cloud TPU.",
            "The CUSTOM tier is not a set tier, but rather enables you to use your own cluster specification. When you use this tier, set values to configure your processing cluster according to these guidelines: * You _must_ set `ExecutionTemplate.masterType` to specify the type of machine to use for your master node. This is the only required setting."
          ],
          "type": "string",
          "deprecated": true,
          "description": "Required. Scale tier of the hardware used for notebook execution. DEPRECATED Will be discontinued. As right now only CUSTOM is supported.",
          "enum": [
            "SCALE_TIER_UNSPECIFIED",
            "BASIC",
            "STANDARD_1",
            "PREMIUM_1",
            "BASIC_GPU",
            "BASIC_TPU",
            "CUSTOM"
          ]
        },
        "serviceAccount": {
          "description": "The email address of a service account to use when running the execution. You must have the `iam.serviceAccounts.actAs` permission for the specified service account.",
          "type": "string"
        },
        "parameters": {
          "description": "Parameters used within the 'input_notebook_file' notebook.",
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "RuntimeAccessConfig": {
      "description": "Specifies the login configuration for Runtime",
      "properties": {
        "proxyUri": {
          "readOnly": true,
          "description": "Output only. The proxy endpoint that is used to access the runtime.",
          "type": "string"
        },
        "runtimeOwner": {
          "type": "string",
          "description": "The owner of this runtime after creation. Format: `alias@example.com` Currently supports one owner only."
        },
        "accessType": {
          "type": "string",
          "enum": [
            "RUNTIME_ACCESS_TYPE_UNSPECIFIED",
            "SINGLE_USER",
            "SERVICE_ACCOUNT"
          ],
          "description": "The type of access mode this instance.",
          "enumDescriptions": [
            "Unspecified access.",
            "Single user login.",
            "Service Account mode. In Service Account mode, Runtime creator will specify a SA that exists in the consumer project. Using Runtime Service Account field. Users accessing the Runtime need ActAs (Service Account User) permission."
          ]
        }
      },
      "type": "object",
      "id": "RuntimeAccessConfig"
    },
    "ListSchedulesResponse": {
      "description": "Response for listing scheduled notebook job.",
      "properties": {
        "nextPageToken": {
          "description": "Page token that can be used to continue listing from the last result in the next list call.",
          "type": "string"
        },
        "schedules": {
          "type": "array",
          "items": {
            "$ref": "Schedule"
          },
          "description": "A list of returned instances."
        },
        "unreachable": {
          "description": "Schedules that could not be reached. For example: ['projects/{project_id}/location/{location}/schedules/monthly_digest', 'projects/{project_id}/location/{location}/schedules/weekly_sentiment']",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListSchedulesResponse"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "SetInstanceLabelsRequest": {
      "id": "SetInstanceLabelsRequest",
      "description": "Request for setting instance labels.",
      "properties": {
        "labels": {
[...]
