{
  "basePath": "",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "version_module": true,
  "mtlsRootUrl": "https://notebooks.mtls.googleapis.com/",
  "description": "Notebooks API is used to manage notebook resources in Google Cloud.",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/notebooks/docs/",
  "revision": "20260408",
  "batchPath": "batch",
  "baseUrl": "https://notebooks.googleapis.com/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "AI Platform Notebooks",
  "rootUrl": "https://notebooks.googleapis.com/",
  "id": "notebooks:v1",
  "name": "notebooks",
  "version": "v1",
  "title": "Notebooks API",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "schemas": {
    "RuntimeMigrationEligibility": {
      "description": "RuntimeMigrationEligibility represents the feasibility information of a migration from GmN to WbI.",
      "properties": {
        "errors": {
          "items": {
            "enumDescriptions": [
              "Default type.",
              "The GmN is configured with custom container(s) and cannot be migrated."
            ],
            "type": "string",
            "enum": [
              "ERROR_UNSPECIFIED",
              "CUSTOM_CONTAINER"
            ]
          },
          "description": "Output only. Certain configurations make the GmN ineligible for an automatic migration. A manual migration is required.",
          "readOnly": true,
          "type": "array"
        },
        "warnings": {
          "items": {
            "enumDescriptions": [
              "Default type.",
              "The GmN uses an accelerator type that's unsupported in WbI. It will be migrated without an accelerator. Users can attach an accelerator after the migration.",
              "The GmN uses an operating system that's unsupported in WbI (e.g. Debian 10). It will be replaced with Debian 11 in WbI.",
              "This GmN is configured with reserved IP range, which is no longer applicable in WbI.",
              "This GmN is configured with a Google managed network. Please provide the `network` and `subnet` options for the migration.",
              "This GmN is configured with a post startup script. Please optionally provide the `post_startup_script_option` for the migration.",
              "This GmN is configured with single user mode. Please optionally provide the `service_account` option for the migration."
            ],
            "type": "string",
            "enum": [
              "WARNING_UNSPECIFIED",
              "UNSUPPORTED_ACCELERATOR_TYPE",
              "UNSUPPORTED_OS",
              "RESERVED_IP_RANGE",
              "GOOGLE_MANAGED_NETWORK",
              "POST_STARTUP_SCRIPT",
              "SINGLE_USER"
            ]
          },
          "description": "Output only. Certain configurations will be defaulted during the migration.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "RuntimeMigrationEligibility",
      "type": "object"
    },
    "ReportRuntimeEventRequest": {
      "description": "Request for reporting a Managed Notebook Event.",
      "properties": {
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        },
        "event": {
          "$ref": "Event",
          "description": "Required. The Event to be reported."
        }
      },
      "id": "ReportRuntimeEventRequest",
      "type": "object"
    },
    "RegisterInstanceRequest": {
      "id": "RegisterInstanceRequest",
      "type": "object",
      "description": "Request for registering a notebook instance.",
      "properties": {
        "instanceId": {
          "description": "Required. User defined unique ID of this instance. The `instance_id` must be 1 to 63 characters long and contain only lowercase letters, numeric characters, and dashes. The first character must be a lowercase letter and the last character cannot be a dash.",
          "type": "string"
        }
      }
    },
    "InstanceConfig": {
      "id": "InstanceConfig",
      "type": "object",
      "description": "Notebook instance configurations that can be updated.",
      "properties": {
        "enableHealthMonitoring": {
          "description": "Verifies core internal services are running.",
          "type": "boolean"
        },
        "notebookUpgradeSchedule": {
          "description": "Cron expression in UTC timezone, used to schedule instance auto upgrade. Please follow the [cron format](https://en.wikipedia.org/wiki/Cron).",
          "type": "string"
        }
      }
    },
    "UpgradeRuntimeRequest": {
      "id": "UpgradeRuntimeRequest",
      "type": "object",
      "description": "Request for upgrading a Managed Notebook Runtime to the latest version. option (google.api.message_visibility).restriction = \"TRUSTED_TESTER,SPECIAL_TESTER\";",
      "properties": {
        "requestId": {
          "description": "Idempotent request UUID.",
          "type": "string"
        }
      }
    },
    "RollbackInstanceRequest": {
      "description": "Request for rollbacking a notebook instance",
      "properties": {
        "targetSnapshot": {
          "description": "Required. The snapshot for rollback. Example: `projects/test-project/global/snapshots/krwlzipynril`.",
          "type": "string"
        }
      },
      "id": "RollbackInstanceRequest",
      "type": "object"
    },
    "BootImage": {
      "description": "Definition of the boot image used by the Runtime. Used to facilitate runtime upgradeability.",
      "properties": {},
      "id": "BootImage",
      "type": "object"
    },
    "ListSchedulesResponse": {
      "id": "ListSchedulesResponse",
      "type": "object",
      "description": "Response for listing scheduled notebook job.",
      "properties": {
        "schedules": {
          "description": "A list of returned instances.",
          "items": {
            "$ref": "Schedule"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Schedules that could not be reached. For example: ['projects/{project_id}/location/{location}/schedules/monthly_digest', 'projects/{project_id}/location/{location}/schedules/weekly_sentiment']",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token that can be used to continue listing from the last result in the next list call.",
          "type": "string"
        }
      }
    },
    "ReservationAffinity": {
      "description": "Reservation Affinity for consuming Zonal reservation.",
      "properties": {
        "consumeReservationType": {
          "enumDescriptions": [
            "Default type.",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "description": "Optional. Type of reservation to consume"
        },
        "key": {
          "description": "Optional. Corresponds to the label key of reservation resource.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of reservation resource."
        }
      },
      "id": "ReservationAffinity",
      "type": "object"
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "type": "object",
      "description": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. See [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "Accelerator type is Nvidia Tesla L4.",
            "Accelerator type is Nvidia Tesla A100 80GB.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations.",
            "Accelerator type is NVIDIA H100 80GB.",
            "Accelerator type is NVIDIA H100 Mega 80GB.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3."
          ],
          "type": "string",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_L4",
            "NVIDIA_A100_80GB",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "TPU_V2",
            "TPU_V3"
          ],
          "description": "Type of this accelerator."
        },
        "coreCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of cores of this accelerator."
        }
      }
    },
    "LocalDisk": {
      "id": "LocalDisk",
      "type": "object",
      "description": "A Local attached disk resource.",
      "properties": {
        "boot": {
          "description": "Optional. Output only. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.",
          "type": "boolean",
          "readOnly": true
        },
        "index": {
          "description": "Output only. A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "autoDelete": {
          "type": "boolean",
          "readOnly": true,
          "description": "Optional. Output only. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
        },
        "licenses": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Any valid publicly visible licenses."
        },
        "source": {
          "description": "Specifies a valid partial or full URL to an existing Persistent Disk resource.",
          "type": "string"
        },
        "interface": {
          "description": "Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * `NVME` * `SCSI`",
          "type": "string"
        },
        "mode": {
          "description": "The mode in which to attach this disk, either `READ_WRITE` or `READ_ONLY`. If not specified, the default is to attach the disk in `READ_WRITE` mode. Valid values: * `READ_ONLY` * `READ_WRITE`",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the resource. Always compute#attachedDisk for attached disks."
        },
        "type": {
          "description": "Specifies the type of the disk, either `SCRATCH` or `PERSISTENT`. If not specified, the default is `PERSISTENT`. Valid values: * `PERSISTENT` * `SCRATCH`",
          "type": "string"
        },
        "deviceName": {
          "description": "Optional. Output only. Specifies a unique device name of your choice that is reflected into the `/dev/disk/by-id/google-*` tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string",
          "readOnly": true
        },
        "guestOsFeatures": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RuntimeGuestOsFeature"
          },
          "description": "Output only. Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options."
        },
        "initializeParams": {
          "description": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance. This property is mutually exclusive with the source property; you can only define one or the other, but not both.",
          "$ref": "LocalDiskInitializeParams"
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "Expr",
      "type": "object"
    },
    "GetInstanceHealthResponse": {
      "description": "Response for checking if a notebook instance is healthy.",
      "properties": {
        "healthState": {
          "description": "Output only. Runtime health_state.",
          "readOnly": true,
          "enumDescriptions": [
            "The instance substate is unknown.",
            "The instance is known to be in an healthy state (for example, critical daemons are running) Applies to ACTIVE state.",
            "The instance is known to be in an unhealthy state (for example, critical daemons are not running) Applies to ACTIVE state.",
            "The instance has not installed health monitoring agent. Applies to ACTIVE state.",
            "The instance health monitoring agent is not running. Applies to ACTIVE state."
          ],
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "AGENT_NOT_INSTALLED",
            "AGENT_NOT_RUNNING"
          ]
        },
        "healthInfo": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Additional information about instance health. Example: healthInfo\": { \"docker_proxy_agent_status\": \"1\", \"docker_status\": \"1\", \"jupyterlab_api_status\": \"-1\", \"jupyterlab_status\": \"-1\", \"updated\": \"2020-10-18 09:40:03.573409\" }"
        }
      },
      "id": "GetInstanceHealthResponse",
      "type": "object"
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "description": "The definition of an Event for a managed / semi-managed notebook instance.",
      "properties": {
        "details": {
          "description": "Optional. Event details. This field is used to pass event information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Event type.",
          "enumDescriptions": [
            "Event is not specified.",
            "The instance / runtime is idle",
            "The instance / runtime is available. This event indicates that instance / runtime underlying compute is operational.",
            "The instance / runtime health is available. This event indicates that instance / runtime health information.",
            "The instance / runtime is available. This event allows instance / runtime to send Host maintenance information to Control Plane. https://cloud.google.com/compute/docs/gpus/gpu-host-maintenance"
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "IDLE",
            "HEARTBEAT",
            "HEALTH",
            "MAINTENANCE"
          ]
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Event report time."
        }
      }
    },
    "Runtime": {
      "id": "Runtime",
      "type": "object",
      "description": "The definition of a Runtime for a managed notebook instance.",
      "properties": {
        "healthState": {
          "description": "Output only. Runtime health_state.",
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "AGENT_NOT_INSTALLED",
            "AGENT_NOT_RUNNING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The runtime substate is unknown.",
            "The runtime is known to be in an healthy state (for example, critical daemons are running) Applies to ACTIVE state.",
            "The runtime is known to be in an unhealthy state (for example, critical daemons are not running) Applies to ACTIVE state.",
            "The runtime has not installed health monitoring agent. Applies to ACTIVE state.",
            "The runtime health monitoring agent is not running. Applies to ACTIVE state."
          ]
        },
        "accessConfig": {
          "description": "The config settings for accessing runtime.",
          "$ref": "RuntimeAccessConfig"
        },
        "virtualMachine": {
          "$ref": "VirtualMachine",
          "description": "Use a Compute Engine VM image to start the managed notebook instance."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Runtime update time."
        },
        "migrated": {
          "description": "Output only. Bool indicating whether this notebook has been migrated to a Workbench Instance",
          "type": "boolean",
          "readOnly": true
        },
        "runtimeMigrationEligibility": {
          "description": "Output only. Checks how feasible a migration from GmN to WbI is.",
          "$ref": "RuntimeMigrationEligibility",
          "readOnly": true
        },
        "softwareConfig": {
          "description": "The config settings for software inside the runtime.",
          "$ref": "RuntimeSoftwareConfig"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Runtime creation time."
        },
        "name": {
          "description": "Output only. The resource name of the runtime. Format: `projects/{project}/locations/{location}/runtimes/{runtimeId}`",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "PROVISIONING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETING",
            "UPGRADING",
            "INITIALIZING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "The compute layer is starting the runtime. It is not ready for use.",
            "The compute layer is installing required frameworks and registering the runtime with notebook proxy. It cannot be used.",
            "The runtime is currently running. It is ready for use.",
            "The control logic is stopping the runtime. It cannot be used.",
            "The runtime is stopped. It cannot be used.",
            "The runtime is being deleted. It cannot be used.",
            "The runtime is upgrading. It cannot be used.",
            "The runtime is being created and set up. It is not ready for use."
          ],
          "description": "Output only. Runtime state."
        },
        "labels": {
          "description": "Optional. The labels to associate with this Managed Notebook or Runtime. Label **keys** must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). Label **values** may be empty, but, if present, must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metrics": {
          "readOnly": true,
          "description": "Output only. Contains Runtime daemon metrics such as Service status and JupyterLab stats.",
          "$ref": "RuntimeMetrics"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "UpgradeInstanceInternalRequest": {
      "id": "UpgradeInstanceInternalRequest",
      "type": "object",
      "description": "Request for upgrading a notebook instance from within the VM",
      "properties": {
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        },
        "type": {
          "description": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance.",
          "enumDescriptions": [
            "Upgrade type is not specified.",
            "Upgrade ML framework.",
            "Upgrade Operating System.",
            "Upgrade CUDA.",
            "Upgrade All (OS, Framework and CUDA)."
          ],
          "type": "string",
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "UPGRADE_FRAMEWORK",
            "UPGRADE_OS",
            "UPGRADE_CUDA",
            "UPGRADE_ALL"
          ]
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "UpdateInstanceMetadataItemsRequest": {
      "description": "Request for adding/changing metadata items for an instance.",
      "properties": {
        "items": {
          "description": "Metadata items to add/update for the instance.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "UpdateInstanceMetadataItemsRequest",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ResetRuntimeRequest": {
      "description": "Request for resetting a Managed Notebook Runtime.",
      "properties": {
        "requestId": {
          "description": "Idempotent request UUID.",
          "type": "string"
        }
      },
      "id": "ResetRuntimeRequest",
      "type": "object"
    },
    "InstanceMigrationEligibility": {
      "id": "InstanceMigrationEligibility",
      "type": "object",
      "description": "InstanceMigrationEligibility represents the feasibility information of a migration from UmN to WbI.",
      "properties": {
        "errors": {
          "description": "Output only. Certain configurations make the UmN ineligible for an automatic migration. A manual migration is required.",
          "items": {
            "enumDescriptions": [
              "Default type.",
              "The UmN uses Dataproc Hub and cannot be migrated."
            ],
            "type": "string",
            "enum": [
              "ERROR_UNSPECIFIED",
              "DATAPROC_HUB"
            ]
          },
          "type": "array",
          "readOnly": true
        },
        "warnings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "WARNING_UNSPECIFIED",
              "UNSUPPORTED_MACHINE_TYPE",
              "UNSUPPORTED_ACCELERATOR_TYPE",
              "UNSUPPORTED_OS",
              "NO_REMOVE_DATA_DISK",
              "GCS_BACKUP",
              "POST_STARTUP_SCRIPT"
            ],
            "enumDescriptions": [
              "Default type.",
              "The UmN uses an machine type that's unsupported in WbI. It will be migrated with the default machine type e2-standard-4. Users can change the machine type after the migration.",
              "The UmN uses an accelerator type that's unsupported in WbI. It will be migrated without an accelerator. User can attach an accelerator after the migration.",
              "The UmN uses an operating system that's unsupported in WbI (e.g. Debian 10, Ubuntu). It will be replaced with Debian 11 in WbI.",
              "This UmN is configured with no_remove_data_disk, which is no longer available in WbI.",
              "This UmN is configured with the Cloud Storage backup feature, which is no longer available in WbI.",
              "This UmN is configured with a post startup script. Please optionally provide the `post_startup_script_option` for the migration."
            ]
          },
          "description": "Output only. Certain configurations will be defaulted during the migration."
        }
      }
    },
    "DataprocParameters": {
      "description": "Parameters used in Dataproc JobType executions.",
      "properties": {
        "cluster": {
          "description": "URI for cluster used to run Dataproc execution. Format: `projects/{PROJECT_ID}/regions/{REGION}/clusters/{CLUSTER_NAME}`",
          "type": "string"
        }
      },
      "id": "DataprocParameters",
      "type": "object"
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "type": "object",
      "description": "Represents a custom encryption key configuration that can be applied to a resource. This will encrypt all disks in Virtual Machine.",
      "properties": {
        "kmsKey": {
          "description": "The Cloud KMS resource identifier of the customer-managed encryption key used to protect a resource, such as a disks. It has the following format: `projects/{PROJECT_ID}/locations/{REGION}/keyRings/{KEY_RING_NAME}/cryptoKeys/{KEY_NAME}`",
          "type": "string"
        }
      }
    },
    "RuntimeGuestOsFeature": {
      "description": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images. Read [Enabling guest operating system features](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#guest-os-features) to see a list of available options. Guest OS features for boot disk.",
      "properties": {
        "type": {
          "description": "The ID of a supported feature. Read [Enabling guest operating system features](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#guest-os-features) to see a list of available options. Valid values: * `FEATURE_TYPE_UNSPECIFIED` * `MULTI_IP_SUBNET` * `SECURE_BOOT` * `UEFI_COMPATIBLE` * `VIRTIO_SCSI_MULTIQUEUE` * `WINDOWS`",
          "type": "string"
        }
      },
      "id": "RuntimeGuestOsFeature",
      "type": "object"
    },
    "Disk": {
      "id": "Disk",
      "type": "object",
      "description": "An instance-attached disk resource.",
      "properties": {
        "type": {
          "description": "Indicates the type of the disk, either `SCRATCH` or `PERSISTENT`. Valid values: * `PERSISTENT` * `SCRATCH`",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource. Always compute#attachedDisk for attached disks.",
          "type": "string"
        },
        "diskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Indicates the size of the disk in base-2 GB."
        },
        "guestOsFeatures": {
          "description": "Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options.",
          "items": {
            "$ref": "GuestOsFeature"
          },
          "type": "array"
        },
        "deviceName": {
          "description": "Indicates a unique device name of your choice that is reflected into the `/dev/disk/by-id/google-*` tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine.This field is only applicable for persistent disks.",
          "type": "string"
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "description": "A list of publicly visible licenses. Reserved for Google's use. A License represents billing and aggregate usage data for public and marketplace images.",
          "type": "array"
        },
        "source": {
          "description": "Indicates a valid partial or full URL to an existing Persistent Disk resource.",
          "type": "string"
        },
        "autoDelete": {
          "description": "Indicates whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).",
          "type": "boolean"
        },
        "boot": {
          "description": "Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.",
          "type": "boolean"
        },
        "index": {
          "description": "A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number.",
          "type": "string",
          "format": "int64"
        },
        "mode": {
          "description": "The mode in which to attach this disk, either `READ_WRITE` or `READ_ONLY`. If not specified, the default is to attach the disk in `READ_WRITE` mode. Valid values: * `READ_ONLY` * `READ_WRITE`",
          "type": "string"
        },
        "interface": {
          "description": "Indicates the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * `NVME` * `SCSI`",
          "type": "string"
        }
      }
    },
    "UpdateInstanceMetadataItemsResponse": {
      "id": "UpdateInstanceMetadataItemsResponse",
      "type": "object",
      "description": "Response for adding/changing metadata items for an instance.",
      "properties": {
        "items": {
          "description": "Map of items that were added/updated to/in the metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Instance": {
      "description": "The definition of a notebook instance.",
      "properties": {
        "containerImage": {
          "description": "Use a container image to start the notebook instance.",
          "$ref": "ContainerImage"
        },
        "acceleratorConfig": {
          "$ref": "AcceleratorConfig",
          "description": "The hardware accelerator used on this instance. If you use accelerators, make sure that your configuration has [enough vCPUs and memory to support the `machine_type` you have selected](https://cloud.google.com/compute/docs/gpus/#gpus-list)."
        },
        "bootDiskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Input only. The size of the boot disk in GB attached to this instance, up to a maximum of 64000 GB (64 TB). The minimum recommended value is 100 GB. If not specified, this defaults to 100."
        },
        "dataDiskType": {
          "enumDescriptions": [
            "Disk type not set.",
            "Standard persistent disk type.",
            "SSD persistent disk type.",
            "Balanced persistent disk type.",
            "Extreme persistent disk type."
          ],
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "PD_STANDARD",
            "PD_SSD",
            "PD_BALANCED",
            "PD_EXTREME"
          ],
          "description": "Input only. The type of the data disk attached to this instance, defaults to standard persistent disk (`PD_STANDARD`)."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Instance creation time."
        },
        "instanceMigrationEligibility": {
          "$ref": "InstanceMigrationEligibility",
          "description": "Output only. Checks how feasible a migration from UmN to WbI is.",
          "readOnly": true
        },
        "vmImage": {
          "description": "Use a Compute Engine VM image to start the notebook instance.",
          "$ref": "VmImage"
        },
        "diskEncryption": {
          "description": "Input only. Disk encryption method used on the boot and data disks, defaults to GMEK.",
          "type": "string",
          "enum": [
            "DISK_ENCRYPTION_UNSPECIFIED",
            "GMEK",
            "CMEK"
          ],
          "enumDescriptions": [
            "Disk encryption is not specified.",
            "Use Google managed encryption keys to encrypt the boot disk.",
            "Use customer managed encryption keys to encrypt the boot disk."
          ]
        },
        "network": {
          "description": "The name of the VPC that this instance is in. Format: `projects/{project_id}/global/networks/{network_id}`",
          "type": "string"
        },
        "upgradeHistory": {
          "items": {
            "$ref": "UpgradeHistoryEntry"
          },
          "description": "The upgrade history of this instance.",
          "type": "array"
        },
        "canIpForward": {
          "description": "Optional. Flag to enable ip forwarding or not, default false/off. https://cloud.google.com/vpc/docs/using-routes#canipforward",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "The service account on this instance, giving access to other Google Cloud services. You can use any service account within the same project, but you must have the service account user permission to use the instance. If not specified, the [Compute Engine default service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Optional. The Compute Engine network tags to add to runtime (see [Add network tags](https://cloud.google.com/vpc/docs/add-remove-network-tags)).",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. The name of this notebook instance. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "The control logic is starting the instance.",
            "The control logic is installing required frameworks and registering the instance with notebook proxy",
            "The instance is running.",
            "The control logic is stopping the instance.",
            "The instance is stopped.",
            "The instance is deleted.",
            "The instance is upgrading.",
            "The instance is being created.",
            "The instance is getting registered.",
            "The instance is suspending.",
            "The instance is suspended."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "PROVISIONING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETED",
            "UPGRADING",
            "INITIALIZING",
            "REGISTERING",
            "SUSPENDING",
            "SUSPENDED"
          ],
          "description": "Output only. The state of this instance."
        },
        "dataDiskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Input only. The size of the data disk in GB attached to this instance, up to a maximum of 64000 GB (64 TB). You can choose the size of the data disk based on how big your notebooks and data are. If not specified, this defaults to 100."
        },
        "metadata": {
          "description": "Custom metadata to apply to this instance. For example, to specify a Cloud Storage bucket for automatic backup, you can use the `gcs-data-bucket` metadata tag. Format: `\"--metadata=gcs-data-bucket=BUCKET\"`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "noRemoveDataDisk": {
          "description": "Input only. If true, the data disk will not be auto deleted when deleting the instance.",
          "type": "boolean"
        },
        "noProxyAccess": {
          "description": "If true, the notebook instance will not register with the proxy.",
          "type": "boolean"
        },
        "kmsKey": {
          "description": "Input only. The KMS key used to encrypt the disks, only applicable if disk_encryption is CMEK. Format: `projects/{project_id}/locations/{location}/keyRings/{key_ring_id}/cryptoKeys/{key_id}` Learn more about [using your own encryption keys](/kms/docs/quickstart).",
          "type": "string"
        },
        "installGpuDriver": {
          "description": "Whether the end user authorizes Google Cloud to install GPU driver on this instance. If this field is empty or set to false, the GPU driver won't be installed. Only applicable to instances with GPUs.",
          "type": "boolean"
        },
        "subnet": {
          "description": "The name of the subnet that this instance is in. Format: `projects/{project_id}/regions/{region}/subnetworks/{subnetwork_id}`",
          "type": "string"
        },
        "noPublicIp": {
          "description": "If true, no external IP will be assigned to this instance.",
          "type": "boolean"
        },
        "instanceOwners": {
          "type": "array",
          "description": "Input only. The owner of this instance after creation. Format: `alias@example.com` Currently supports one owner only. If not specified, all of the service account users of your VM instance's service account can use the instance.",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Instance update time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "migrated": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Bool indicating whether this notebook has been migrated to a Workbench Instance"
        },
        "machineType": {
          "description": "Required. The [Compute Engine machine type](https://cloud.google.com/compute/docs/machine-resource) of this instance.",
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of entity that sent original CreateInstance request."
        },
        "labels": {
          "description": "Labels to apply to this instance. These can be later modified by the setLabels method.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reservationAffinity": {
          "description": "Optional. The optional reservation affinity. Setting this field will apply the specified [Zonal Compute Reservation](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) to this notebook instance.",
          "$ref": "ReservationAffinity"
        },
        "serviceAccountScopes": {
          "type": "array",
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. If not specified, the following [scopes](https://cloud.google.com/compute/docs/access/service-accounts#accesscopesiam) are defined: - https://www.googleapis.com/auth/cloud-platform - https://www.googleapis.com/auth/userinfo.email If not using default scopes, you need at least: https://www.googleapis.com/auth/compute",
          "items": {
            "type": "string"
          }
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Optional. Shielded VM configuration. [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm)."
        },
        "disks": {
          "items": {
            "$ref": "Disk"
          },
          "description": "Output only. Attached disks to notebook instance.",
          "readOnly": true,
          "type": "array"
        },
        "nicType": {
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet.",
          "enumDescriptions": [
            "No type specified.",
            "VIRTIO",
            "GVNIC"
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_NIC_TYPE",
            "VIRTIO_NET",
            "GVNIC"
          ]
        },
        "bootDiskType": {
          "enumDescriptions": [
            "Disk type not set.",
            "Standard persistent disk type.",
            "SSD persistent disk type.",
            "Balanced persistent disk type.",
            "Extreme persistent disk type."
          ],
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "PD_STANDARD",
            "PD_SSD",
            "PD_BALANCED",
            "PD_EXTREME"
          ],
          "description": "Input only. The type of the boot disk attached to this instance, defaults to standard persistent disk (`PD_STANDARD`)."
        },
        "postStartupScript": {
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path (`gs://path-to-file/file-name`).",
          "type": "string"
        },
        "proxyUri": {
          "description": "Output only. The proxy endpoint that is used to access the Jupyter notebook.",
          "readOnly": true,
          "type": "string"
        },
        "customGpuDriverPath": {
          "description": "Specify a custom Cloud Storage path where the GPU driver is stored. If not specified, we'll automatically choose from official GPU drivers.",
          "type": "string"
        }
      },
      "id": "Instance",
      "type": "object"
    },
    "StartInstanceRequest": {
      "description": "Request for starting a notebook instance",
      "properties": {},
      "id": "StartInstanceRequest",
      "type": "object"
    },
    "StopInstanceRequest": {
      "id": "StopInstanceRequest",
      "type": "object",
      "description": "Request for stopping a notebook instance",
      "properties": {}
    },
    "ResetInstanceRequest": {
      "id": "ResetInstanceRequest",
      "type": "object",
      "description": "Request for resetting a notebook instance",
      "properties": {}
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ContainerImage": {
      "description": "Definition of a container image for starting a notebook instance with the environment installed in a container.",
      "properties": {
        "tag": {
          "description": "The tag of the container image. If not specified, this defaults to the latest tag.",
          "type": "string"
        },
        "repository": {
          "description": "Required. The path to the container image repository. For example: `gcr.io/{project_id}/{image_name}`",
          "type": "string"
        }
      },
      "id": "ContainerImage",
      "type": "object"
    },
    "SetInstanceMachineTypeRequest": {
      "id": "SetInstanceMachineTypeRequest",
      "type": "object",
      "description": "Request for setting instance machine type.",
      "properties": {
        "machineType": {
          "description": "Required. The [Compute Engine machine type](https://cloud.google.com/compute/docs/machine-resource).",
          "type": "string"
        }
      }
    },
    "UpgradeHistoryEntry": {
      "description": "The entry of VM image upgrade history.",
      "properties": {
        "framework": {
          "description": "The framework of this notebook instance.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that this instance upgrade history entry is created."
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "The instance upgrade is started.",
            "The instance upgrade is succeeded.",
            "The instance upgrade is failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "The state of this instance upgrade history entry."
        },
        "targetVersion": {
          "description": "Target VM Version, like m63.",
          "type": "string"
        },
        "snapshot": {
          "description": "The snapshot of the boot disk of this notebook instance before upgrade.",
          "type": "string"
        },
        "version": {
          "description": "The version of the notebook instance before this upgrade.",
          "type": "string"
        },
        "targetImage": {
          "deprecated": true,
          "type": "string",
          "description": "Target VM Image. Format: `ainotebooks-vm/project/image-name/name`."
        },
        "containerImage": {
          "description": "The container image before this instance upgrade.",
          "type": "string"
        },
        "vmImage": {
          "description": "The VM image before this instance upgrade.",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Operation is not specified.",
            "Upgrade.",
            "Rollback."
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "UPGRADE",
            "ROLLBACK"
          ],
          "description": "Action. Rolloback or Upgrade."
        }
      },
      "id": "UpgradeHistoryEntry",
      "type": "object"
    },
    "DiagnoseInstanceRequest": {
      "description": "Request for creating a notebook instance diagnostic file.",
      "properties": {
        "diagnosticConfig": {
          "description": "Required. Defines flags that are used to run the diagnostic tool",
          "$ref": "DiagnosticConfig"
        },
        "timeoutMinutes": {
          "description": "Optional. Maximum amount of time in minutes before the operation times out.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DiagnoseInstanceRequest",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "UpdateInstanceConfigRequest": {
      "id": "UpdateInstanceConfigRequest",
      "type": "object",
      "description": "Request for updating instance configurations.",
      "properties": {
        "config": {
          "$ref": "InstanceConfig",
          "description": "The instance configurations to be updated."
        }
      }
    },
    "IsInstanceUpgradeableResponse": {
      "id": "IsInstanceUpgradeableResponse",
      "type": "object",
      "description": "Response for checking if a notebook instance is upgradeable.",
      "properties": {
        "upgradeVersion": {
          "description": "The version this instance will be upgraded to if calling the upgrade endpoint. This field will only be populated if field upgradeable is true.",
          "type": "string"
        },
        "upgradeInfo": {
          "description": "Additional information about upgrade.",
          "type": "string"
        },
        "upgradeImage": {
          "description": "The new image self link this instance will be upgraded to if calling the upgrade endpoint. This field will only be populated if field upgradeable is true.",
          "type": "string"
        },
        "upgradeable": {
          "description": "If an instance is upgradeable.",
          "type": "boolean"
        }
      }
    },
    "SetInstanceAcceleratorRequest": {
      "description": "Request for setting instance accelerator.",
      "properties": {
        "type": {
          "description": "Required. Type of this accelerator.",
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "Accelerator type is Nvidia Tesla L4.",
            "Accelerator type is Nvidia Tesla A100 80GB.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations.",
            "Accelerator type is NVIDIA H100 80GB.",
            "Accelerator type is NVIDIA H100 Mega 80GB.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3."
          ],
          "type": "string",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_L4",
            "NVIDIA_A100_80GB",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "TPU_V2",
            "TPU_V3"
          ]
        },
        "coreCount": {
          "description": "Required. Count of cores of this accelerator. Note that not all combinations of `type` and `core_count` are valid. See [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SetInstanceAcceleratorRequest",
      "type": "object"
    },
    "SwitchRuntimeRequest": {
      "id": "SwitchRuntimeRequest",
      "type": "object",
      "description": "Request for switching a Managed Notebook Runtime.",
      "properties": {
        "requestId": {
          "description": "Idempotent request UUID.",
          "type": "string"
        },
        "machineType": {
          "description": "machine type.",
          "type": "string"
        },
        "acceleratorConfig": {
          "$ref": "RuntimeAcceleratorConfig",
          "description": "accelerator config."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "RuntimeSoftwareConfig": {
      "description": "Specifies the selection and configuration of software inside the runtime. The properties to set on runtime. Properties keys are specified in `key:value` format, for example: * `idle_shutdown: true` * `idle_shutdown_timeout: 180` * `enable_health_monitoring: true`",
      "properties": {
        "disableTerminal": {
          "description": "Bool indicating whether JupyterLab terminal will be available or not. Default: False",
          "type": "boolean"
        },
        "postStartupScriptBehavior": {
          "description": "Behavior for the post startup script.",
          "enumDescriptions": [
            "Unspecified post startup script behavior. Will run only once at creation.",
            "Runs the post startup script provided during creation at every start.",
            "Downloads and runs the provided post startup script at every start."
          ],
          "type": "string",
          "enum": [
            "POST_STARTUP_SCRIPT_BEHAVIOR_UNSPECIFIED",
            "RUN_EVERY_START",
            "DOWNLOAD_AND_RUN_EVERY_START"
          ]
        },
        "notebookUpgradeSchedule": {
          "description": "Cron expression in UTC timezone, used to schedule instance auto upgrade. Please follow the [cron format](https://en.wikipedia.org/wiki/Cron).",
          "type": "string"
        },
        "mixerDisabled": {
          "description": "Bool indicating whether mixer client should be disabled. Default: False",
          "type": "boolean"
        },
        "installGpuDriver": {
          "description": "Install Nvidia Driver automatically. Default: True",
          "type": "boolean"
        },
        "version": {
          "description": "Output only. version of boot image such as M100, from release label of the image.",
          "readOnly": true,
          "type": "string"
        },
        "idleShutdown": {
          "description": "Runtime will automatically shutdown after idle_shutdown_time. Default: True",
          "type": "boolean"
        },
        "kernels": {
          "type": "array",
          "description": "Optional. Use a list of container images to use as Kernels in the notebook instance.",
          "items": {
            "$ref": "ContainerImage"
          }
        },
        "upgradeable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Bool indicating whether an newer image is available in an image family."
        },
        "postStartupScript": {
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path (`gs://path-to-file/file-name`).",
          "type": "string"
        },
        "customGpuDriverPath": {
          "description": "Specify a custom Cloud Storage path where the GPU driver is stored. If not specified, we'll automatically choose from official GPU drivers.",
          "type": "string"
        },
        "enableHealthMonitoring": {
          "description": "Verifies core internal services are running. Default: True",
          "type": "boolean"
        },
        "idleShutdownTimeout": {
          "description": "Time in minutes to wait before shutting down runtime. Default: 180 minutes",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "RuntimeSoftwareConfig",
      "type": "object"
    },
    "ShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options. See [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm). Not all combinations are valid.",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Defines whether the instance has the vTPM enabled. Enabled by default.",
          "type": "boolean"
        }
      },
      "id": "ShieldedInstanceConfig",
      "type": "object"
    },
    "RuntimeAccessConfig": {
      "id": "RuntimeAccessConfig",
      "type": "object",
      "description": "Specifies the login configuration for Runtime",
      "properties": {
        "accessType": {
          "description": "The type of access mode this instance.",
          "enumDescriptions": [
            "Unspecified access.",
            "Single user login.",
            "Service Account mode. In Service Account mode, Runtime creator will specify a SA that exists in the consumer project. Using Runtime Service Account field. Users accessing the Runtime need ActAs (Service Account User) permission."
          ],
          "type": "string",
          "enum": [
            "RUNTIME_ACCESS_TYPE_UNSPECIFIED",
            "SINGLE_USER",
            "SERVICE_ACCOUNT"
          ]
        },
        "runtimeOwner": {
          "description": "The owner of this runtime after creation. Format: `alias@example.com` Currently supports one owner only.",
          "type": "string"
        },
        "proxyUri": {
          "description": "Output only. The proxy endpoint that is used to access the runtime.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Schedule": {
      "id": "Schedule",
      "type": "object",
      "description": "The definition of a schedule.",
      "properties": {
        "description": {
          "description": "A brief description of this environment.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name used for UI purposes. Name can only contain alphanumeric characters, hyphens `-`, and underscores `_`."
        },
        "timeZone": {
          "description": "Timezone on which the cron_schedule. The value of this field must be a time zone name from the tz database. TZ Database: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones Note that some time zones include a provision for daylight savings time. The rules for daylight saving time are determined by the chosen tz. For UTC use the string \"utc\". If a time zone is not specified, the default will be in UTC (also known as GMT).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the schedule was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of this schedule. Format: `projects/{project_id}/locations/{location}/schedules/{schedule_id}`"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The job is executing normally.",
            "The job is paused by the user. It will not execute. A user can intentionally pause the job using [Cloud Scheduler](https://cloud.google.com/scheduler/docs/creating#pause).",
            "The job is disabled by the system due to error. The user cannot directly set a job to be disabled.",
            "The job state resulting from a failed [CloudScheduler.UpdateJob](https://cloud.google.com/scheduler/docs/creating#edit) operation. To recover a job from this state, retry [CloudScheduler.UpdateJob](https://cloud.google.com/scheduler/docs/creating#edit) until a successful response is received.",
            "The schedule resource is being created.",
            "The schedule resource is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "PAUSED",
            "DISABLED",
            "UPDATE_FAILED",
            "INITIALIZING",
            "DELETING"
          ]
        },
        "executionTemplate": {
          "$ref": "ExecutionTemplate",
          "description": "Notebook Execution Template corresponding to this schedule."
        },
        "cronSchedule": {
          "description": "Cron-tab formatted schedule by which the job will execute. Format: minute, hour, day of month, month, day of week, e.g. `0 0 * * WED` = every Wednesday More examples: https://crontab.guru/examples.html",
          "type": "string"
        },
        "recentExecutions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The most recent execution names triggered from this schedule and their corresponding states.",
          "items": {
            "$ref": "Execution"
          }
        },
        "updateTime": {
          "description": "Output only. Time the schedule was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "RefreshRuntimeTokenInternalResponse": {
      "id": "RefreshRuntimeTokenInternalResponse",
      "type": "object",
      "description": "Response with a new access token.",
      "properties": {
        "expireTime": {
          "description": "Output only. Token expiration time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "accessToken": {
          "description": "The OAuth 2.0 access token.",
          "type": "string"
        }
      }
    },
    "DiagnoseRuntimeRequest": {
      "id": "DiagnoseRuntimeRequest",
      "type": "object",
      "description": "Request for creating a notebook instance diagnostic file.",
      "properties": {
        "diagnosticConfig": {
          "description": "Required. Defines flags that are used to run the diagnostic tool",
          "$ref": "DiagnosticConfig"
        },
        "timeoutMinutes": {
          "description": "Optional. Maximum amount of time in minutes before the operation times out.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SchedulerAcceleratorConfig": {
      "id": "SchedulerAcceleratorConfig",
      "type": "object",
      "description": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. See [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus) to find a valid combination. TPUs are not supported.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "SCHEDULER_ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3"
          ],
          "enumDescriptions": [
            "Unspecified accelerator type. Default to no GPU.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "TPU v2.",
            "TPU v3."
          ],
          "description": "Type of this accelerator."
        },
        "coreCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of cores of this accelerator."
        }
      }
    },
    "MigrateRuntimeRequest": {
      "id": "MigrateRuntimeRequest",
      "type": "object",
      "description": "Request for migrating a Runtime to a Workbench Instance.",
      "properties": {
        "serviceAccount": {
          "description": "Optional. The service account to be included in the Compute Engine instance of the new Workbench Instance when the Runtime uses \"single user only\" mode for permission. If not specified, the [Compute Engine default service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used. When the Runtime uses service account mode for permission, it will reuse the same service account, and this field must be empty.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. Idempotent request UUID.",
          "type": "string"
        },
        "postStartupScriptOption": {
          "description": "Optional. Specifies the behavior of post startup script during migration.",
          "enumDescriptions": [
            "Post startup script option is not specified. Default is POST_STARTUP_SCRIPT_OPTION_SKIP.",
            "Not migrate the post startup script to the new Workbench Instance.",
            "Redownload and rerun the same post startup script as the Google-Managed Notebook."
          ],
          "type": "string",
          "enum": [
            "POST_STARTUP_SCRIPT_OPTION_UNSPECIFIED",
            "POST_STARTUP_SCRIPT_OPTION_SKIP",
            "POST_STARTUP_SCRIPT_OPTION_RERUN"
          ]
        },
        "network": {
          "description": "Optional. Name of the VPC that the new Instance is in. This is required if the Runtime uses google-managed network. If the Runtime uses customer-owned network, it will reuse the same VPC, and this field must be empty. Format: `projects/{project_id}/global/networks/{network_id}`",
          "type": "string"
        },
        "subnet": {
          "description": "Optional. Name of the subnet that the new Instance is in. This is required if the Runtime uses google-managed network. If the Runtime uses customer-owned network, it will reuse the same subnet, and this field must be empty. Format: `projects/{project_id}/regions/{region}/subnetworks/{subnetwork_id}`",
          "type": "string"
        }
      }
    },
    "TriggerScheduleRequest": {
      "description": "Request for created scheduled notebooks",
      "properties": {},
      "id": "TriggerScheduleRequest",
      "type": "object"
    },
    "VirtualMachine": {
      "id": "VirtualMachine",
      "type": "object",
      "description": "Runtime using Virtual Machine for computing.",
      "properties": {
        "instanceName": {
          "description": "Output only. The user-friendly name of the Managed Compute Engine instance.",
          "type": "string",
          "readOnly": true
        },
        "virtualMachineConfig": {
          "description": "Virtual Machine configuration settings.",
          "$ref": "VirtualMachineConfig"
        },
        "instanceId": {
          "description": "Output only. The unique identifier of the Managed Compute Engine instance.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UpgradeInstanceRequest": {
      "id": "UpgradeInstanceRequest",
      "type": "object",
      "description": "Request for upgrading a notebook instance",
      "properties": {
        "type": {
          "description": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance.",
          "enumDescriptions": [
            "Upgrade type is not specified.",
            "Upgrade ML framework.",
            "Upgrade Operating System.",
            "Upgrade CUDA.",
            "Upgrade All (OS, Framework and CUDA)."
          ],
          "type": "string",
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "UPGRADE_FRAMEWORK",
            "UPGRADE_OS",
            "UPGRADE_CUDA",
            "UPGRADE_ALL"
          ]
        }
      }
    },
    "MigrateInstanceRequest": {
      "description": "Request for migrating a User-Managed Notebook to Workbench Instances.",
      "properties": {
        "postStartupScriptOption": {
          "description": "Optional. Specifies the behavior of post startup script during migration.",
          "enumDescriptions": [
            "Post startup script option is not specified. Default is POST_STARTUP_SCRIPT_OPTION_SKIP.",
            "Not migrate the post startup script to the new Workbench Instance.",
            "Redownload and rerun the same post startup script as the User-Managed Notebook."
          ],
          "type": "string",
          "enum": [
            "POST_STARTUP_SCRIPT_OPTION_UNSPECIFIED",
            "POST_STARTUP_SCRIPT_OPTION_SKIP",
            "POST_STARTUP_SCRIPT_OPTION_RERUN"
          ]
        }
      },
      "id": "MigrateInstanceRequest",
      "type": "object"
    },
    "RefreshRuntimeTokenInternalRequest": {
      "description": "Request for getting a new access token.",
      "properties": {
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        }
      },
      "id": "RefreshRuntimeTokenInternalRequest",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "Execution": {
      "id": "Execution",
      "type": "object",
      "description": "The definition of a single executed notebook.",
      "properties": {
        "description": {
          "description": "A brief description of this execution.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name used for UI purposes. Name can only contain alphanumeric characters and underscores '_'."
        },
        "jobUri": {
          "description": "Output only. The URI of the external job used to execute the notebook.",
          "type": "string",
          "readOnly": true
        },
        "executionTemplate": {
          "description": "execute metadata including name, hardware spec, region, labels, etc.",
          "$ref": "ExecutionTemplate"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the execute. Format: `projects/{project_id}/locations/{location}/executions/{execution_id}`"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to execution the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed. `error_message` should contain the details of the failure.",
            "The job is being cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has been cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has become expired (relevant to Vertex AI jobs) https://cloud.google.com/vertex-ai/docs/reference/rest/v1/JobState",
            "The Execution is being created."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED",
            "EXPIRED",
            "INITIALIZING"
          ],
          "description": "Output only. State of the underlying AI Platform job."
        },
        "outputNotebookFile": {
          "description": "Output notebook file generated by this execution",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the Execution was instantiated."
        },
        "updateTime": {
          "description": "Output only. Time the Execution was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "RuntimeMetrics": {
      "id": "RuntimeMetrics",
      "type": "object",
      "description": "Contains runtime daemon metrics, such as OS and kernels and sessions stats.",
      "properties": {
        "systemMetrics": {
          "description": "Output only. The system metrics.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "LocalDiskInitializeParams": {
      "description": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new runtime. This property is mutually exclusive with the source property; you can only define one or the other, but not both.",
      "properties": {
        "diskType": {
          "description": "Input only. The type of the boot disk attached to this instance, defaults to standard persistent disk (`PD_STANDARD`).",
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "PD_STANDARD",
            "PD_SSD",
            "PD_BALANCED",
            "PD_EXTREME"
          ],
          "enumDescriptions": [
            "Disk type not set.",
            "Standard persistent disk type.",
            "SSD persistent disk type.",
            "Balanced persistent disk type.",
            "Extreme persistent disk type."
          ]
        },
        "diskName": {
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance. If the disk with the instance name exists already in the given zone/region, a new name will be automatically generated.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels to apply to this disk. These can be later modified by the disks.setLabels method. This field is only applicable for persistent disks.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Provide this property when creating the disk.",
          "type": "string"
        },
        "diskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Specifies the size of the disk in base-2 GB. If not specified, the disk will be the same size as the image (usually 10GB). If specified, the size must be equal to or larger than 10GB. Default 100 GB."
        }
      },
      "id": "LocalDiskInitializeParams",
      "type": "object"
    },
    "RuntimeShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options. See [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm). Not all combinations are valid.",
      "properties": {
        "enableVtpm": {
          "description": "Defines whether the instance has the vTPM enabled. Enabled by default.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default.",
          "type": "boolean"
        }
      },
      "id": "RuntimeShieldedInstanceConfig",
      "type": "object"
    },
    "ListRuntimesResponse": {
      "description": "Response for listing Managed Notebook Runtimes.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached. For example, `['us-west1', 'us-central1']`. A ListRuntimesResponse will only contain either runtimes or unreachables,"
        },
        "runtimes": {
          "type": "array",
          "items": {
            "$ref": "Runtime"
          },
          "description": "A list of returned Runtimes."
        },
        "nextPageToken": {
          "description": "Page token that can be used to continue listing from the last result in the next list call.",
          "type": "string"
        }
      },
      "id": "ListRuntimesResponse",
      "type": "object"
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "type": "object",
      "description": "Response for listing notebook instances.",
      "properties": {
        "instances": {
          "description": "A list of returned instances.",
          "items": {
            "$ref": "Instance"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached. For example, `['us-west1-a', 'us-central1-b']`. A ListInstancesResponse will only contain either instances or unreachables,"
        },
        "nextPageToken": {
          "description": "Page token that can be used to continue listing from the last result in the next list call.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endpoint": {
          "description": "API endpoint name of this operation.",
          "type": "string"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "description": "Definition of a software environment that is used to start a notebook instance.",
      "properties": {
        "displayName": {
          "description": "Display name of this environment for the UI.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of this environment. Format: `projects/{project_id}/locations/{location}/environments/{environment_id}`",
          "readOnly": true,
          "type": "string"
        },
        "vmImage": {
          "$ref": "VmImage",
          "description": "Use a Compute Engine VM image to start the notebook instance."
        },
        "description": {
          "description": "A brief description of this environment.",
          "type": "string"
        },
        "containerImage": {
          "$ref": "ContainerImage",
          "description": "Use a container image to start the notebook instance."
        },
        "postStartupScript": {
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path. Example: `\"gs://path-to-file/file-name\"`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which this environment was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ExecutionTemplate": {
      "id": "ExecutionTemplate",
      "type": "object",
      "description": "The description a notebook execution workload.",
      "properties": {
        "tensorboard": {
          "description": "The name of a Vertex AI [Tensorboard] resource to which this execution will upload Tensorboard logs. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
          "type": "string"
        },
        "inputNotebookFile": {
          "description": "Path to the notebook file to execute. Must be in a Google Cloud Storage bucket. Format: `gs://{bucket_name}/{folder}/{notebook_file_name}` Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook.ipynb`",
          "type": "string"
        },
        "scaleTier": {
          "deprecated": true,
          "description": "Required. Scale tier of the hardware used for notebook execution. DEPRECATED Will be discontinued. As right now only CUSTOM is supported.",
          "enumDescriptions": [
            "Unspecified Scale Tier.",
            "A single worker instance. This tier is suitable for learning how to use Cloud ML, and for experimenting with new models using small datasets.",
            "Many workers and a few parameter servers.",
            "A large number of workers with many parameter servers.",
            "A single worker instance with a K80 GPU.",
            "A single worker instance with a Cloud TPU.",
            "The CUSTOM tier is not a set tier, but rather enables you to use your own cluster specification. When you use this tier, set values to configure your processing cluster according to these guidelines: * You _must_ set `ExecutionTemplate.masterType` to specify the type of machine to use for your master node. This is the only required setting."
          ],
          "type": "string",
          "enum": [
            "SCALE_TIER_UNSPECIFIED",
            "BASIC",
            "STANDARD_1",
            "PREMIUM_1",
            "BASIC_GPU",
            "BASIC_TPU",
            "CUSTOM"
          ]
        },
        "parameters": {
          "description": "Parameters used within the 'input_notebook_file' notebook.",
          "type": "string"
        },
        "paramsYamlFile": {
[...]
