{
  "endpoints": [
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "AutonomousDatabaseConnectionUrls": {
      "id": "AutonomousDatabaseConnectionUrls",
      "description": "The URLs for accessing Oracle Application Express (APEX) and SQL Developer Web with a browser from a Compute instance. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionUrls",
      "properties": {
        "machineLearningUserManagementUri": {
          "description": "Output only. The URL of Machine Learning user management the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "apexUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Oracle Application Express (APEX) URL."
        },
        "mongoDbUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of the MongoDB API for the Autonomous Database."
        },
        "sqlDevWebUri": {
          "description": "Output only. The URL of the Oracle SQL Developer Web for the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "graphStudioUri": {
          "description": "Output only. The URL of the Graph Studio for the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "ordsUri": {
          "description": "Output only. The Oracle REST Data Services (ORDS) URL of the Web Access for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "databaseTransformsUri": {
          "description": "Output only. The URL of the Database Transforms for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "machineLearningNotebookUri": {
          "description": "Output only. The URL of the Oracle Machine Learning (OML) Notebook for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataCollectionOptions": {
      "id": "DataCollectionOptions",
      "description": "Data collection options for diagnostics.",
      "properties": {
        "diagnosticsEventsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether diagnostic collection is enabled for the VM cluster"
        },
        "healthMonitoringEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether health monitoring is enabled for the VM cluster"
        },
        "incidentLogsEnabled": {
          "description": "Optional. Indicates whether incident logs and trace collection are enabled for the VM cluster",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AutonomousDatabase": {
      "id": "AutonomousDatabase",
      "description": "Details of the Autonomous Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabase/",
      "properties": {
        "odbSubnet": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbSubnet associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "sourceConfig": {
          "description": "Optional. Immutable. The source Autonomous Database configuration for the standby Autonomous Database. The source Autonomous Database is configured while creating the Peer Autonomous Database and can't be updated after creation.",
          "$ref": "SourceConfig"
        },
        "properties": {
          "description": "Optional. The properties of the Autonomous Database.",
          "$ref": "AutonomousDatabaseProperties"
        },
        "database": {
          "description": "Optional. Immutable. The name of the Autonomous Database. The database name must be unique in the project. The name must begin with a letter and can contain a maximum of 30 alphanumeric characters.",
          "type": "string"
        },
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the Autonomous Database."
        },
        "disasterRecoverySupportedLocations": {
          "description": "Output only. List of supported GCP region to clone the Autonomous Database for disaster recovery. Format: `project/{project}/locations/{location}`.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
        },
        "adminPassword": {
          "description": "Optional. Immutable. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "peerAutonomousDatabases": {
          "description": "Output only. The peer Autonomous Database names of the given Autonomous Database.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The date and time that the Autonomous Database was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Immutable. The display name for the Autonomous Database. The name does not have to be unique within your project."
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. Immutable. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the Autonomous Database.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cidr": {
          "type": "string",
          "description": "Optional. Immutable. The subnet CIDR range for the Autonomous Database."
        },
        "network": {
          "type": "string",
          "description": "Optional. Immutable. The name of the VPC network used by the Autonomous Database in the following format: projects/{project}/global/networks/{network}"
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseProperties": {
      "id": "AutonomousDatabaseProperties",
      "description": "The properties of an Autonomous Database.",
      "properties": {
        "isStorageAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database storage.",
          "type": "boolean"
        },
        "sqlWebDeveloperUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SQL Web Developer URL for the Autonomous Database."
        },
        "customerContacts": {
          "type": "array",
          "items": {
            "$ref": "CustomerContact"
          },
          "description": "Optional. Immutable. The list of customer contacts."
        },
        "dataStorageSizeTb": {
          "description": "Optional. Immutable. The size of the data stored in the database, in terabytes.",
          "type": "integer",
          "format": "int32"
        },
        "isAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database CPU core count.",
          "type": "boolean"
        },
        "memoryTableGbs": {
          "description": "Output only. The memory assigned to in-memory tables in an Autonomous Database.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "arePrimaryAllowlistedIpsUsed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. This field indicates the status of Data Guard and Access control for the Autonomous Database. The field's value is null if Data Guard is disabled or Access Control is disabled. The field's value is TRUE if both Data Guard and Access Control are enabled, and the Autonomous Database is using primary IP access control list (ACL) for standby. The field's value is FALSE if both Data Guard and Access Control are enabled, and the Autonomous Database is using a different IP access control list (ACL) for standby compared to primary."
        },
        "maintenanceScheduleType": {
          "enum": [
            "MAINTENANCE_SCHEDULE_TYPE_UNSPECIFIED",
            "EARLY",
            "REGULAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "An EARLY maintenance schedule patches the database before the regular scheduled maintenance.",
            "A REGULAR maintenance schedule follows the normal maintenance cycle."
          ],
          "description": "Optional. Immutable. The maintenance schedule of the Autonomous Database."
        },
        "localDataGuardEnabled": {
          "description": "Optional. Indicates whether the Autonomous Database has a local (in-region) standby database. Not applicable to cross-region Data Guard or dedicated Exadata infrastructure.",
          "type": "boolean"
        },
        "scheduledOperationDetails": {
          "type": "array",
          "items": {
            "$ref": "ScheduledOperationDetails"
          },
          "readOnly": true,
          "description": "Output only. The list and details of the scheduled operations of the Autonomous Database."
        },
        "dataStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Immutable. The size of the data stored in the database, in gigabytes."
        },
        "databaseManagementState": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling Database Management state",
            "Enabled Database Management state",
            "Disabling Database Management state",
            "Not Enabled Database Management state",
            "Failed enabling Database Management state",
            "Failed disabling Database Management state"
          ],
          "readOnly": true,
          "enum": [
            "DATABASE_MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "description": "Output only. The current state of database management for the Autonomous Database.",
          "type": "string"
        },
        "dataGuardRoleChangedTime": {
          "description": "Output only. The date and time the Autonomous Data Guard role was changed for the standby Autonomous Database.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "supportedCloneRegions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of available regions that can be used to create a clone for the Autonomous Database."
        },
        "localAdgAutoFailoverMaxDataLossLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Deprecated: Please use `local_adg_auto_failover_max_data_loss_limit_duration` instead. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "deprecated": true,
          "readOnly": true
        },
        "allocatedStorageSizeTb": {
          "description": "Output only. The amount of storage currently allocated for the database tables and billed for, rounded up in terabytes.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "privateEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The private endpoint for the Autonomous Database."
        },
        "peerDbIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of OCIDs of standby databases located in Autonomous Data Guard remote regions that are associated with the source database."
        },
        "refreshableMode": {
          "readOnly": true,
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "The default unspecified value.",
            "AUTOMATIC indicates that the cloned database is automatically refreshed with data from the source Autonomous Database.",
            "MANUAL indicates that the cloned database is manually refreshed with data from the source Autonomous Database."
          ],
          "description": "Output only. The refresh mode of the cloned Autonomous Database.",
          "type": "string"
        },
        "allowlistedIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. The list of allowlisted IP addresses for the Autonomous Database."
        },
        "permissionLevel": {
          "type": "string",
          "description": "Output only. The permission level of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Restricted mode allows access only by admin users.",
            "Normal access."
          ],
          "readOnly": true,
          "enum": [
            "PERMISSION_LEVEL_UNSPECIFIED",
            "RESTRICTED",
            "UNRESTRICTED"
          ]
        },
        "usedDataStorageSizeTbs": {
          "description": "Output only. The storage space used by Autonomous Database, in gigabytes.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "disasterRecoveryRoleChangedTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time the Disaster Recovery role was changed for the standby Autonomous Database."
        },
        "computeCount": {
          "type": "number",
          "format": "float",
          "description": "Optional. Immutable. The number of compute servers for the Autonomous Database."
        },
        "privateEndpointLabel": {
          "type": "string",
          "description": "Optional. Immutable. The private endpoint label for the Autonomous Database."
        },
        "ociUrl": {
          "description": "Output only. The Oracle Cloud Infrastructure link for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "totalAutoBackupStorageSizeGbs": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. The storage space used by automatic backups of Autonomous Database, in gigabytes."
        },
        "dbEdition": {
          "description": "Optional. Immutable. The edition of the Autonomous Databases.",
          "enum": [
            "DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Standard Database Edition",
            "Enterprise Database Edition"
          ]
        },
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OCID of the Autonomous Database. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle"
        },
        "licenseType": {
          "description": "Required. Immutable. The license type used for the Autonomous Database.",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ]
        },
        "privateEndpointIp": {
          "description": "Optional. Immutable. The private endpoint IP address for the Autonomous Database.",
          "type": "string"
        },
        "vaultId": {
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault.",
          "type": "string"
        },
        "lifecycleDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The details of the current lifestyle state of the Autonomous Database."
        },
        "secretId": {
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault secret.",
          "type": "string"
        },
        "mtlsConnectionRequired": {
          "type": "boolean",
          "description": "Optional. Immutable. This field specifies if the Autonomous Database requires mTLS connections."
        },
        "availableUpgradeVersions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of available Oracle Database upgrade versions for an Autonomous Database."
        },
        "localAdgAutoFailoverMaxDataLossLimitDuration": {
          "description": "Optional. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "type": "integer",
          "format": "int32"
        },
        "role": {
          "description": "Output only. The Data Guard role of the Autonomous Database.",
          "readOnly": true,
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY",
            "DISABLED_STANDBY",
            "BACKUP_COPY",
            "SNAPSHOT_STANDBY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Primary role",
            "Standby role",
            "Disabled standby role",
            "Backup copy role",
            "Snapshot standby role"
          ],
          "type": "string"
        },
        "encryptionKey": {
          "description": "Optional. The encryption key used to encrypt the Autonomous Database. Updating this field will add a new entry in the `encryption_key_history_entries` field with the former version.",
          "$ref": "EncryptionKey"
        },
        "serviceAgentEmail": {
          "description": "Output only. An Oracle-managed Google Cloud service account on which customers can grant roles to access resources in the customer project.",
          "readOnly": true,
          "type": "string"
        },
        "apexDetails": {
          "readOnly": true,
          "$ref": "AutonomousDatabaseApex",
          "description": "Output only. The details for the Oracle APEX Application Development."
        },
        "autonomousContainerDatabaseId": {
          "description": "Output only. The Autonomous Container Database OCID.",
          "type": "string",
          "readOnly": true
        },
        "operationsInsightsState": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling status for operation insights.",
            "Enabled status for operation insights.",
            "Disabling status for operation insights.",
            "Not Enabled status for operation insights.",
            "Failed enabling status for operation insights.",
            "Failed disabling status for operation insights."
          ],
          "readOnly": true,
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "description": "Output only. This field indicates the state of Operations Insights for the Autonomous Database.",
          "type": "string"
        },
        "actualUsedDataStorageSizeTb": {
          "description": "Output only. The amount of storage currently being used for user and system data, in terabytes.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "isLocalDataGuardEnabled": {
          "deprecated": true,
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Deprecated: Please use `local_data_guard_enabled` instead. This field indicates whether the Autonomous Database has local (in-region) Data Guard enabled."
        },
        "maintenanceBeginTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time when maintenance will begin."
        },
        "memoryPerOracleComputeUnitGbs": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The amount of memory enabled per ECPU, in gigabytes."
        },
        "refreshableState": {
          "readOnly": true,
          "enum": [
            "REFRESHABLE_STATE_UNSPECIFIED",
            "REFRESHING",
            "NOT_REFRESHING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Refreshing",
            "Not refreshed"
          ],
          "description": "Output only. The refresh State of the clone.",
          "type": "string"
        },
        "dataSafeState": {
          "type": "string",
          "description": "Output only. The current state of the Data Safe registration for the Autonomous Database.",
          "readOnly": true,
          "enum": [
            "DATA_SAFE_STATE_UNSPECIFIED",
            "REGISTERING",
            "REGISTERED",
            "DEREGISTERING",
            "NOT_REGISTERED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Registering data safe state.",
            "Registered data safe state.",
            "Deregistering data safe state.",
            "Not registered data safe state.",
            "Failed data safe state."
          ]
        },
        "localStandbyDb": {
          "description": "Output only. The details of the Autonomous Data Guard standby database.",
          "readOnly": true,
          "$ref": "AutonomousDatabaseStandbySummary"
        },
        "dbWorkload": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ],
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ],
          "description": "Required. Immutable. The workload type of the Autonomous Database."
        },
        "state": {
          "description": "Output only. The current lifecycle state of the Autonomous Database.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ],
          "type": "string"
        },
        "cpuCoreCount": {
          "description": "Optional. Immutable. The number of CPU cores to be made available to the database.",
          "type": "integer",
          "format": "int32"
        },
        "dbVersion": {
          "description": "Optional. Immutable. The Oracle Database version for the Autonomous Database.",
          "type": "string"
        },
        "characterSet": {
          "description": "Optional. Immutable. The character set for the Autonomous Database. The default is AL32UTF8.",
          "type": "string"
        },
        "nextLongTermBackupTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The long term backup schedule of the Autonomous Database."
        },
        "maintenanceEndTime": {
          "description": "Output only. The date and time when maintenance will end.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "failedDataRecoveryDuration": {
          "description": "Output only. This field indicates the number of seconds of data loss during a Data Guard failover.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        },
        "nCharacterSet": {
          "type": "string",
          "description": "Optional. Immutable. The national character set for the Autonomous Database. The default is AL16UTF16."
        },
        "openMode": {
          "description": "Output only. This field indicates the current mode of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Read Only Mode",
            "Read Write Mode"
          ],
          "readOnly": true,
          "enum": [
            "OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "type": "string"
        },
        "connectionUrls": {
          "description": "Output only. The Oracle Connection URLs for an Autonomous Database.",
          "readOnly": true,
          "$ref": "AutonomousDatabaseConnectionUrls"
        },
        "backupRetentionPeriodDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Immutable. The retention period for the Autonomous Database. This field is specified in days, can range from 1 day to 60 days, and has a default value of 60 days."
        },
        "localDisasterRecoveryType": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Data Guard recovery.",
            "Backup based recovery.",
            "Local disaster recovery is not available."
          ],
          "readOnly": true,
          "enum": [
            "LOCAL_DISASTER_RECOVERY_TYPE_UNSPECIFIED",
            "ADG",
            "BACKUP_BASED",
            "NOT_AVAILABLE"
          ],
          "description": "Output only. This field indicates the local disaster recovery (DR) type of an Autonomous Database."
        },
        "encryptionKeyHistoryEntries": {
          "type": "array",
          "items": {
            "$ref": "EncryptionKeyHistoryEntry"
          },
          "readOnly": true,
          "description": "Output only. The history of the encryption keys used to encrypt the Autonomous Database."
        },
        "connectionStrings": {
          "readOnly": true,
          "$ref": "AutonomousDatabaseConnectionStrings",
          "description": "Output only. The connection strings used to connect to an Autonomous Database."
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseConnectionStrings": {
      "type": "object",
      "id": "AutonomousDatabaseConnectionStrings",
      "description": "The connection string used to connect to the Autonomous Database. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionStrings",
      "properties": {
        "allConnectionStrings": {
          "readOnly": true,
          "$ref": "AllConnectionStrings",
          "description": "Output only. Returns all connection strings that can be used to connect to the Autonomous Database."
        },
        "dedicated": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides the least level of resources to each SQL statement, but supports the most number of concurrent SQL statements."
        },
        "medium": {
          "description": "Output only. The database service provides a lower level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        },
        "high": {
          "description": "Output only. The database service provides the highest level of resources to each SQL statement.",
          "type": "string",
          "readOnly": true
        },
        "profiles": {
          "type": "array",
          "items": {
            "$ref": "DatabaseConnectionStringProfile"
          },
          "readOnly": true,
          "description": "Output only. A list of connection string profiles to allow clients to group, filter, and select values based on the structured metadata."
        },
        "low": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides the least level of resources to each SQL statement."
        }
      }
    },
    "AllConnectionStrings": {
      "id": "AllConnectionStrings",
      "description": "A list of all connection strings that can be used to connect to the Autonomous Database.",
      "properties": {
        "high": {
          "description": "Output only. The database service provides the highest level of resources to each SQL statement.",
          "type": "string",
          "readOnly": true
        },
        "low": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides the least level of resources to each SQL statement."
        },
        "medium": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides a lower level of resources to each SQL statement."
        }
      },
      "type": "object"
    },
    "ListDatabasesResponse": {
      "id": "ListDatabasesResponse",
      "description": "The response for `Database.List`.",
      "properties": {
        "databases": {
          "description": "The list of Databases.",
          "type": "array",
          "items": {
            "$ref": "Database"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExadbVmCluster": {
      "type": "object",
      "id": "ExadbVmCluster",
      "description": "ExadbVmCluster represents a cluster of VMs that are used to run Exadata workloads. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExadbVmCluster/",
      "properties": {
        "odbNetwork": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "backupOdbSubnet": {
          "type": "string",
          "description": "Required. Immutable. The name of the backup OdbSubnet associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the ExadbVmCluster."
        },
        "name": {
          "description": "Identifier. The name of the ExadbVmCluster resource in the following format: projects/{project}/locations/{region}/exadbVmClusters/{exadb_vm_cluster}",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Output only. Immutable. The GCP Oracle zone where Oracle ExadbVmCluster is hosted. Example: us-east4-b-r2. During creation, the system will pick the zone assigned to the ExascaleDbStorageVault.",
          "type": "string",
          "readOnly": true
        },
        "odbSubnet": {
          "description": "Required. Immutable. The name of the OdbSubnet associated with the ExadbVmCluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Immutable. The display name for the ExadbVmCluster. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time that the ExadbVmCluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the ExadbVmCluster.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Required. The properties of the ExadbVmCluster.",
          "$ref": "ExadbVmClusterProperties"
        }
      }
    },
    "Database": {
      "type": "object",
      "id": "Database",
      "description": "Details of the Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/Database/",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}"
        },
        "tdeWalletPassword": {
          "type": "string",
          "description": "Optional. The TDE wallet password for the database. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated."
        },
        "dbHomeName": {
          "description": "Optional. The name of the DbHome resource associated with the Database.",
          "type": "string"
        },
        "pluggableDatabaseId": {
          "type": "string",
          "description": "Optional. The ID of the pluggable database associated with the Database. The ID must be unique within the project and location."
        },
        "properties": {
          "description": "Optional. The properties of the Database.",
          "$ref": "DatabaseProperties"
        },
        "opsInsightsStatus": {
          "type": "string",
          "description": "Output only. The Status of Operations Insights for this Database.",
          "readOnly": true,
          "enum": [
            "OPERATIONS_INSIGHTS_STATUS_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the operations insights are being enabled.",
            "Indicates that the operations insights are enabled.",
            "Indicates that the operations insights are being disabled.",
            "Indicates that the operations insights are not enabled.",
            "Indicates that the operations insights failed to enable.",
            "Indicates that the operations insights failed to disable."
          ]
        },
        "dbName": {
          "description": "Optional. The database name. The name must begin with an alphabetic character and can contain a maximum of eight alphanumeric characters. Special characters are not permitted.",
          "type": "string"
        },
        "dbUniqueName": {
          "type": "string",
          "description": "Optional. The DB_UNIQUE_NAME of the Oracle Database being backed up."
        },
        "databaseId": {
          "description": "Optional. The database ID of the Database.",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Output only. The GCP Oracle zone where the Database is created.",
          "readOnly": true,
          "type": "string"
        },
        "pluggableDatabaseName": {
          "description": "Optional. The pluggable database associated with the Database. The name must begin with an alphabetic character and can contain a maximum of thirty alphanumeric characters.",
          "type": "string"
        },
        "ncharacterSet": {
          "type": "string",
          "description": "Optional. The national character set for the database. The default is AL16UTF16."
        },
        "adminPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "tdeWalletPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the TDE wallet password for the database. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated."
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "type": "string",
          "readOnly": true
        },
        "characterSet": {
          "type": "string",
          "description": "Optional. The character set for the database. The default is AL32UTF8."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time that the Database was created."
        },
        "adminPassword": {
          "description": "Optional. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        }
      }
    },
    "DbSystem": {
      "id": "DbSystem",
      "description": "Details of the DbSystem (BaseDB) resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystem/",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time that the DbSystem was created."
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle DbSystem is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "odbSubnet": {
          "description": "Required. The name of the OdbSubnet associated with the DbSystem for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name for the System db. The name does not have to be unique within your project.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. The properties of the DbSystem.",
          "$ref": "DbSystemProperties"
        },
        "ociUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the DbSystem.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the DbSystem",
          "readOnly": true,
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the DbSystem. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the DbSystem resource in the following format: projects/{project}/locations/{region}/dbSystems/{db_system}"
        }
      },
      "type": "object"
    },
    "BackupDestinationDetails": {
      "id": "BackupDestinationDetails",
      "description": "The details of the database backup destination.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Backup destination type is NFS.",
            "Backup destination type is Recovery Appliance.",
            "Backup destination type is Object Store.",
            "Backup destination type is Local.",
            "Backup destination type is DBRS."
          ],
          "enum": [
            "BACKUP_DESTINATION_TYPE_UNSPECIFIED",
            "NFS",
            "RECOVERY_APPLIANCE",
            "OBJECT_STORE",
            "LOCAL",
            "DBRS"
          ],
          "description": "Optional. The type of the database backup destination."
        }
      },
      "type": "object"
    },
    "DbSystemProperties": {
      "type": "object",
      "id": "DbSystemProperties",
      "description": "The properties of a DbSystem.",
      "properties": {
        "computeModel": {
          "description": "Optional. The compute model of the DbSystem.",
          "type": "string",
          "enumDescriptions": [
            "The compute model is unspecified.",
            "The compute model is virtual.",
            "The compute model is physical."
          ],
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "ECPU",
            "OCPU"
          ]
        },
        "recoStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The reco/redo storage size in GB."
        },
        "sshPublicKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. SSH public keys to be stored with the DbSystem."
        },
        "timeZone": {
          "description": "Optional. Time zone of the DbSystem.",
          "$ref": "TimeZone"
        },
        "dataCollectionOptions": {
          "description": "Optional. Data collection options for diagnostics.",
          "$ref": "DataCollectionOptionsDbSystem"
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Optional. Prefix for DB System host names."
        },
        "dataStorageSizeGb": {
          "description": "Optional. The data storage size in GB that is currently available to DbSystems.",
          "type": "integer",
          "format": "int32"
        },
        "databaseEdition": {
          "description": "Required. The database edition of the DbSystem.",
          "type": "string",
          "enumDescriptions": [
            "The database edition is unspecified.",
            "The database edition is Standard.",
            "The database edition is Enterprise.",
            "The database edition is Enterprise Edition."
          ],
          "enum": [
            "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION",
            "ENTERPRISE_EDITION_HIGH_PERFORMANCE"
          ]
        },
        "shape": {
          "type": "string",
          "description": "Required. Shape of DB System."
        },
        "hostname": {
          "description": "Output only. The hostname of the DbSystem.",
          "readOnly": true,
          "type": "string"
        },
        "privateIp": {
          "description": "Optional. The private IP address of the DbSystem.",
          "type": "string"
        },
        "licenseModel": {
          "type": "string",
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "description": "Required. The license model of the DbSystem."
        },
        "memorySizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The memory size in GB."
        },
        "dbSystemOptions": {
          "description": "Optional. The options for the DbSystem.",
          "$ref": "DbSystemOptions"
        },
        "dbHome": {
          "description": "Optional. Details for creating a Database Home.",
          "$ref": "DbHome"
        },
        "initialDataStorageSizeGb": {
          "description": "Required. The initial data storage size in GB.",
          "type": "integer",
          "format": "int32"
        },
        "computeCount": {
          "description": "Required. The number of CPU cores to enable for the DbSystem.",
          "type": "integer",
          "format": "int32"
        },
        "ocid": {
          "description": "Output only. OCID of the DbSystem.",
          "readOnly": true,
          "type": "string"
        },
        "domain": {
          "description": "Optional. The host domain name of the DbSystem.",
          "type": "string"
        },
        "nodeCount": {
          "description": "Optional. The number of nodes in the DbSystem.",
          "type": "integer",
          "format": "int32"
        },
        "lifecycleState": {
          "readOnly": true,
          "enum": [
            "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MIGRATED",
            "MAINTENANCE_IN_PROGRESS",
            "NEEDS_ATTENTION",
            "UPGRADING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource has been migrated.",
            "Indicates that the resource is in maintenance in progress state.",
            "Indicates that the resource needs attention.",
            "Indicates that the resource is upgrading."
          ],
          "description": "Output only. State of the DbSystem.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListCloudVmClustersResponse": {
      "id": "ListCloudVmClustersResponse",
      "description": "The response for `CloudVmCluster.List`.",
      "properties": {
        "cloudVmClusters": {
          "description": "The list of VM Clusters.",
          "type": "array",
          "items": {
            "$ref": "CloudVmCluster"
          }
        },
        "nextPageToken": {
          "description": "A token to fetch the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "description": "Metadata for a given Location.",
      "properties": {
        "gcpOracleZones": {
          "description": "Output only. Google Cloud Platform Oracle zones in a location.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListGiVersionsResponse": {
      "type": "object",
      "id": "ListGiVersionsResponse",
      "description": "The response for `GiVersion.List`.",
      "properties": {
        "giVersions": {
          "description": "The list of Oracle Grid Infrastructure (GI) versions.",
          "type": "array",
          "items": {
            "$ref": "GiVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "ExascaleDbStorageVault": {
      "id": "ExascaleDbStorageVault",
      "description": "ExascaleDbStorageVault represents a storage vault exadb vm cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExascaleDbStorageVault/",
      "properties": {
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the ExascaleDbStorageVault."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time when the ExascaleDbStorageVault was created."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name for the ExascaleDbStorageVault. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters."
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle ExascaleDbStorageVault is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ExascaleDbStorageVault. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "properties": {
          "description": "Required. The properties of the ExascaleDbStorageVault.",
          "$ref": "ExascaleDbStorageVaultProperties"
        },
        "labels": {
          "description": "Optional. The labels or tags associated with the ExascaleDbStorageVault.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ListAutonomousDatabasesResponse": {
      "type": "object",
      "id": "ListAutonomousDatabasesResponse",
      "description": "The response for `AutonomousDatabase.List`.",
      "properties": {
        "autonomousDatabases": {
          "type": "array",
          "items": {
            "$ref": "AutonomousDatabase"
          },
          "description": "The list of Autonomous Databases."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "FailoverAutonomousDatabaseRequest": {
      "id": "FailoverAutonomousDatabaseRequest",
      "description": "The request for `OracleDatabase.FailoverAutonomousDatabase`.",
      "properties": {
        "peerAutonomousDatabase": {
          "type": "string",
          "description": "Optional. The peer database name to fail over to. Required for cross-region standby, and must be omitted for in-region Data Guard."
        }
      },
      "type": "object"
    },
    "GenerateAutonomousDatabaseWalletResponse": {
      "id": "GenerateAutonomousDatabaseWalletResponse",
      "description": "The response for `AutonomousDatabase.GenerateWallet`.",
      "properties": {
        "archiveContent": {
          "readOnly": true,
          "type": "string",
          "format": "byte",
          "description": "Output only. The base64 encoded wallet files."
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "Maintenance window as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/MaintenanceWindow",
      "properties": {
        "patchingMode": {
          "description": "Optional. Cloud CloudExadataInfrastructure node patching method, either \"ROLLING\" or \"NONROLLING\". Default value is ROLLING.",
          "enum": [
            "PATCHING_MODE_UNSPECIFIED",
            "ROLLING",
            "NON_ROLLING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Updates the Cloud Exadata database server hosts in a rolling fashion.",
            "The non-rolling maintenance method first updates your storage servers at the same time, then your database servers at the same time."
          ]
        },
        "preference": {
          "description": "Optional. The maintenance window scheduling preference.",
          "enum": [
            "MAINTENANCE_WINDOW_PREFERENCE_UNSPECIFIED",
            "CUSTOM_PREFERENCE",
            "NO_PREFERENCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Custom preference.",
            "No preference."
          ]
        },
        "weeksOfMonth": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Optional. Weeks during the month when maintenance should be performed. Weeks start on the 1st, 8th, 15th, and 22nd days of the month, and have a duration of 7 days. Weeks start and end based on calendar dates, not days of the week."
        },
        "leadTimeWeek": {
          "description": "Optional. Lead time window allows user to set a lead time to prepare for a down time. The lead time is in weeks and valid value is between 1 to 4.",
          "type": "integer",
          "format": "int32"
        },
        "daysOfWeek": {
          "description": "Optional. Days during the week when maintenance should be performed.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          }
        },
        "customActionTimeoutMins": {
          "description": "Optional. Determines the amount of time the system will wait before the start of each database server patching operation. Custom action timeout is in minutes and valid value is between 15 to 120 (inclusive).",
          "type": "integer",
          "format": "int32"
        },
        "isCustomActionTimeoutEnabled": {
          "description": "Optional. If true, enables the configuration of a custom action timeout (waiting period) between database server patching operations.",
          "type": "boolean"
        },
        "hoursOfDay": {
          "description": "Optional. The window of hours during the day when maintenance should be performed. The window is a 4 hour slot. Valid values are: 0 - represents time slot 0:00 - 3:59 UTC 4 - represents time slot 4:00 - 7:59 UTC 8 - represents time slot 8:00 - 11:59 UTC 12 - represents time slot 12:00 - 15:59 UTC 16 - represents time slot 16:00 - 19:59 UTC 20 - represents time slot 20:00 - 23:59 UTC",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "months": {
          "type": "array",
          "items": {
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ],
            "type": "string",
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ]
          },
          "description": "Optional. Months during the year when maintenance should be performed."
        }
      },
      "type": "object"
    },
    "ExadbVmClusterStorageDetails": {
      "id": "ExadbVmClusterStorageDetails",
      "description": "The storage allocation for the exadbvmcluster, in gigabytes (GB).",
      "properties": {
        "sizeInGbsPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The storage allocation for the exadbvmcluster per node, in gigabytes (GB). This field is used to calculate the total storage allocation for the exadbvmcluster."
        }
      },
      "type": "object"
    },
    "CloudAccountDetails": {
      "type": "object",
      "id": "CloudAccountDetails",
      "description": "Details of the OCI Cloud Account.",
      "properties": {
        "cloudAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OCI account name."
        },
        "linkExistingAccountUri": {
          "description": "Output only. URL to link an existing account.",
          "readOnly": true,
          "type": "string"
        },
        "accountCreationUri": {
          "description": "Output only. URL to create a new account and link.",
          "readOnly": true,
          "type": "string"
        },
        "cloudAccountHomeRegion": {
          "description": "Output only. OCI account home region.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListAutonomousDatabaseBackupsResponse": {
      "type": "object",
      "id": "ListAutonomousDatabaseBackupsResponse",
      "description": "The response for `AutonomousDatabaseBackup.List`.",
      "properties": {
        "autonomousDatabaseBackups": {
          "type": "array",
          "items": {
            "$ref": "AutonomousDatabaseBackup"
          },
          "description": "The list of Autonomous Database Backups."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ScheduledOperationDetails": {
      "id": "ScheduledOperationDetails",
      "description": "Details of scheduled operation. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/ScheduledOperationDetails",
      "properties": {
        "startTime": {
          "readOnly": true,
          "$ref": "TimeOfDay",
          "description": "Output only. Auto start time."
        },
        "stopTime": {
          "description": "Output only. Auto stop time.",
          "readOnly": true,
          "$ref": "TimeOfDay"
        },
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "readOnly": true,
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Output only. Day of week.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExascaleDbStorageVaultProperties": {
      "type": "object",
      "id": "ExascaleDbStorageVaultProperties",
      "description": "The properties of the ExascaleDbStorageVault. next ID: 12",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the ExascaleDbStorageVault is unspecified.",
            "The ExascaleDbStorageVault is being provisioned.",
            "The ExascaleDbStorageVault is available.",
            "The ExascaleDbStorageVault is being updated.",
            "The ExascaleDbStorageVault is being deleted.",
            "The ExascaleDbStorageVault has been deleted.",
            "The ExascaleDbStorageVault has failed."
          ],
          "description": "Output only. The state of the ExascaleDbStorageVault.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the ExascaleDbStorageVault.",
          "type": "string"
        },
        "ociUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Deep link to the OCI console to view this resource."
        },
        "attachedShapeAttributes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ]
          },
          "readOnly": true,
          "description": "Output only. The shape attributes of the VM clusters attached to the ExascaleDbStorageVault."
        },
        "availableShapeAttributes": {
          "description": "Output only. The shape attributes available for the VM clusters to be attached to the ExascaleDbStorageVault.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ]
          }
        },
        "vmClusterCount": {
          "description": "Output only. The number of VM clusters associated with the ExascaleDbStorageVault.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "timeZone": {
          "description": "Output only. The time zone of the ExascaleDbStorageVault.",
          "readOnly": true,
          "$ref": "TimeZone"
        },
        "exascaleDbStorageDetails": {
          "description": "Required. The storage details of the ExascaleDbStorageVault.",
          "$ref": "ExascaleDbStorageDetails"
        },
        "vmClusterIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of VM cluster OCIDs associated with the ExascaleDbStorageVault."
        },
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The OCID for the ExascaleDbStorageVault."
        },
        "additionalFlashCachePercent": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The size of additional flash cache in percentage of high capacity database storage."
        }
      }
    },
    "DataCollectionOptionsCommon": {
      "type": "object",
      "id": "DataCollectionOptionsCommon",
      "description": "Data collection options for diagnostics. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DataCollectionOptions",
      "properties": {
        "isDiagnosticsEventsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable data collection for diagnostics."
        },
        "isHealthMonitoringEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable health monitoring."
        },
        "isIncidentLogsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable incident logs and trace collection."
        }
      }
    },
    "PluggableDatabaseConnectionStrings": {
      "type": "object",
      "id": "PluggableDatabaseConnectionStrings",
      "description": "The connection strings used to connect to the Oracle Database.",
      "properties": {
        "allConnectionStrings": {
          "description": "Optional. All connection strings to use to connect to the pluggable database.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pdbDefault": {
          "type": "string",
          "description": "Optional. The default connection string to use to connect to the pluggable database."
        },
        "pdbIpDefault": {
          "type": "string",
          "description": "Optional. The default connection string to use to connect to the pluggable database using IP."
        }
      }
    },
    "PluggableDatabaseNodeLevelDetails": {
      "id": "PluggableDatabaseNodeLevelDetails",
      "description": "The Pluggable Database Node Level Details.",
      "properties": {
        "nodeName": {
          "description": "Required. The Node name of the Database home.",
          "type": "string"
        },
        "openMode": {
          "type": "string",
          "enumDescriptions": [
            "The open mode is unspecified.",
            "The pluggable database is opened in read-only mode.",
            "The pluggable database is opened in read-write mode.",
            "The pluggable database is mounted.",
            "The pluggable database is migrated."
          ],
          "enum": [
            "PLUGGABLE_DATABASE_OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "MOUNTED",
            "MIGRATE"
          ],
          "description": "Required. The mode that the pluggable database is in to open it."
        },
        "pluggableDatabaseId": {
          "description": "Required. The OCID of the Pluggable Database.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseBackupProperties": {
      "id": "AutonomousDatabaseBackupProperties",
      "description": "Properties of the Autonomous Database Backup resource.",
      "properties": {
        "compartmentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The OCID of the compartment."
        },
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OCID of the Autonomous Database backup. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time the backup completed."
        },
        "keyStoreId": {
          "description": "Optional. The OCID of the key store of Oracle Vault.",
          "type": "string"
        },
        "databaseSizeTb": {
          "description": "Output only. The quantity of data in the database, in terabytes.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "lifecycleState": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in updating state."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "UPDATING"
          ],
          "description": "Output only. The lifecycle state of the backup."
        },
        "isLongTermBackup": {
          "description": "Output only. Indicates if the backup is long term backup.",
          "type": "boolean",
          "readOnly": true
        },
        "dbVersion": {
          "description": "Output only. A valid Oracle Database version for Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "sizeTb": {
          "description": "Output only. The backup size in terabytes.",
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the backup.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ]
        },
        "retentionPeriodDays": {
          "description": "Optional. Retention period in days for the backup.",
          "type": "integer",
          "format": "int32"
        },
        "isAutomaticBackup": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the backup is automatic or user initiated."
        },
        "isRestorable": {
          "description": "Output only. Indicates if the backup can be used to restore the Autonomous Database.",
          "type": "boolean",
          "readOnly": true
        },
        "keyStoreWallet": {
          "type": "string",
          "description": "Optional. The wallet name for Oracle Key Vault."
        },
        "vaultId": {
          "description": "Optional. The OCID of the vault.",
          "type": "string"
        },
        "lifecycleDetails": {
          "description": "Output only. Additional information about the current lifecycle state.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The date and time the backup started.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "kmsKeyVersionId": {
          "type": "string",
          "description": "Optional. The OCID of the key container version that is used in database transparent data encryption (TDE) operations KMS Key can have multiple key versions. If none is specified, the current key version (latest) of the Key Id is used for the operation. Autonomous Database Serverless does not use key versions, hence is not applicable for Autonomous Database Serverless instances."
        },
        "availableTillTime": {
          "description": "Output only. Timestamp until when the backup will be available.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "kmsKeyId": {
          "description": "Optional. The OCID of the key container that is used as the master encryption key in database transparent data encryption (TDE) operations.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StartAutonomousDatabaseRequest": {
      "type": "object",
      "id": "StartAutonomousDatabaseRequest",
      "description": "The request for `AutonomousDatabase.Start`.",
      "properties": {}
    },
    "GenerateAutonomousDatabaseWalletRequest": {
      "type": "object",
      "id": "GenerateAutonomousDatabaseWalletRequest",
      "description": "The request for `AutonomousDatabase.GenerateWallet`.",
      "properties": {
        "type": {
          "description": "Optional. The type of wallet generation for the Autonomous Database. The default value is SINGLE.",
          "enum": [
            "GENERATE_TYPE_UNSPECIFIED",
            "ALL",
            "SINGLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Used to generate wallet for all databases in the region.",
            "Used to generate wallet for a single database."
          ]
        },
        "isRegional": {
          "type": "boolean",
          "description": "Optional. True when requesting regional connection strings in PDB connect info, applicable to cross-region Data Guard only."
        },
        "password": {
          "description": "Required. The password used to encrypt the keys inside the wallet. The password must be a minimum of 8 characters.",
          "type": "string"
        }
      }
    },
    "ListDbSystemsResponse": {
      "type": "object",
      "id": "ListDbSystemsResponse",
      "description": "The response for `DbSystem.List`.",
      "properties": {
        "dbSystems": {
          "type": "array",
          "items": {
            "$ref": "DbSystem"
          },
          "description": "The list of DbSystems."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "StopAutonomousDatabaseRequest": {
      "type": "object",
      "id": "StopAutonomousDatabaseRequest",
      "description": "The request for `AutonomousDatabase.Stop`.",
      "properties": {}
    },
    "ListAutonomousDatabaseCharacterSetsResponse": {
      "type": "object",
      "id": "ListAutonomousDatabaseCharacterSetsResponse",
      "description": "The response for `AutonomousDatabaseCharacterSet.List`.",
      "properties": {
        "autonomousDatabaseCharacterSets": {
          "type": "array",
          "items": {
            "$ref": "AutonomousDatabaseCharacterSet"
          },
          "description": "The list of Autonomous Database Character Sets."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "ListPluggableDatabasesResponse": {
      "id": "ListPluggableDatabasesResponse",
      "description": "The response for `PluggableDatabase.List`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "pluggableDatabases": {
          "description": "The list of PluggableDatabases.",
          "type": "array",
          "items": {
            "$ref": "PluggableDatabase"
          }
        }
      },
      "type": "object"
    },
    "ListExadbVmClustersResponse": {
      "id": "ListExadbVmClustersResponse",
      "description": "The response for `ExadbVmCluster.List`.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "exadbVmClusters": {
          "type": "array",
          "items": {
            "$ref": "ExadbVmCluster"
          },
          "description": "The list of ExadbVmClusters."
        }
      },
      "type": "object"
    },
    "Entitlement": {
      "id": "Entitlement",
      "description": "Details of the Entitlement resource.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Entitlement resource with the format: projects/{project}/locations/{region}/entitlements/{entitlement}",
          "type": "string"
        },
        "cloudAccountDetails": {
          "description": "Details of the OCI Cloud Account.",
          "$ref": "CloudAccountDetails"
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google Cloud Marketplace order ID (aka entitlement ID)"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCOUNT_NOT_LINKED",
            "ACCOUNT_NOT_ACTIVE",
            "ACTIVE",
            "ACCOUNT_SUSPENDED",
            "NOT_APPROVED_IN_PRIVATE_MARKETPLACE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Account not linked.",
            "Account is linked but not active.",
            "Entitlement and Account are active.",
            "Account is suspended.",
            "Entitlement is not approved in private marketplace."
          ],
          "description": "Output only. Entitlement State."
        }
      },
      "type": "object"
    },
    "ListOdbNetworksResponse": {
      "type": "object",
      "id": "ListOdbNetworksResponse",
      "description": "The response for `OdbNetwork.List`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "odbNetworks": {
          "description": "The list of ODB Networks.",
          "type": "array",
          "items": {
            "$ref": "OdbNetwork"
          }
        }
      }
    },
    "DbVersionProperties": {
      "id": "DbVersionProperties",
      "description": "The properties of a DbVersion.",
      "properties": {
        "isUpgradeSupported": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if this version of the Oracle Database software is supported for Upgrade."
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A valid Oracle Database version."
        },
        "isPreviewDbVersion": {
          "description": "Output only. True if this version of the Oracle Database software is the preview version.",
          "type": "boolean",
          "readOnly": true
        },
        "isLatestForMajorVersion": {
          "description": "Output only. True if this version of the Oracle Database software is the latest version for a release.",
          "readOnly": true,
          "type": "boolean"
        },
        "supportsPdb": {
          "description": "Output only. True if this version of the Oracle Database software supports pluggable databases.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DatabaseProperties": {
      "id": "DatabaseProperties",
      "description": "The properties of a Database.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. State of the Database.",
          "readOnly": true,
          "enum": [
            "DATABASE_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "BACKUP_IN_PROGRESS",
            "UPGRADING",
            "CONVERTING",
            "TERMINATING",
            "TERMINATED",
            "RESTORE_FAILED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in backup in progress state.",
            "Indicates that the resource is in upgrading state.",
            "Indicates that the resource is in converting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in restore failed state.",
            "Indicates that the resource is in failed state."
          ]
        },
        "dbBackupConfig": {
          "description": "Optional. Backup options for the Database.",
          "$ref": "DbBackupConfig"
        },
        "databaseManagementConfig": {
          "readOnly": true,
          "$ref": "DatabaseManagementConfig",
          "description": "Output only. The Database Management config."
        },
        "dbVersion": {
          "description": "Required. The Oracle Database version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OdbNetwork": {
      "id": "OdbNetwork",
      "description": "Represents OdbNetwork resource.",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ],
          "description": "Output only. State of the ODB Network.",
          "type": "string"
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Optional. The GCP Oracle zone where OdbNetwork is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability."
        },
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the OdbNetwork."
        },
        "createTime": {
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "network": {
          "type": "string",
          "description": "Required. The name of the VPC network in the following format: projects/{project}/global/networks/{network}"
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The name of the OdbNetwork resource in the following format: projects/{project}/locations/{region}/odbNetworks/{odb_network}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDatabaseCharacterSetsResponse": {
      "id": "ListDatabaseCharacterSetsResponse",
      "description": "The response for `DatabaseCharacterSet.List`.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "databaseCharacterSets": {
          "type": "array",
          "items": {
            "$ref": "DatabaseCharacterSet"
          },
          "description": "The list of DatabaseCharacterSets."
        }
      },
      "type": "object"
    },
    "DatabaseManagementConfig": {
      "type": "object",
      "id": "DatabaseManagementConfig",
      "description": "The configuration of the Database Management service.",
      "properties": {
        "managementState": {
          "enumDescriptions": [
            "The status is not specified.",
            "The Database Management service is enabling.",
            "The Database Management service is enabled.",
            "The Database Management service is disabling.",
            "The Database Management service is disabled.",
            "The Database Management service is updating.",
            "The Database Management service failed to enable.",
            "The Database Management service failed to disable.",
            "The Database Management service failed to update."
          ],
          "readOnly": true,
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "UPDATING",
            "FAILED_ENABLING",
            "FAILED_DISABLING",
            "FAILED_UPDATING"
          ],
          "description": "Output only. The status of the Database Management service.",
          "type": "string"
        },
        "managementType": {
          "type": "string",
          "description": "Output only. The Database Management type.",
          "enumDescriptions": [
            "The type is not specified.",
            "Basic Database Management.",
            "Advanced Database Management."
          ],
          "readOnly": true,
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "BASIC",
            "ADVANCED"
          ]
        }
      }
    },
    "CloudVmClusterProperties": {
      "type": "object",
      "id": "CloudVmClusterProperties",
      "description": "Various properties and settings associated with Exadata VM cluster.",
      "properties": {
        "nodeCount": {
          "description": "Optional. Number of database servers.",
          "type": "integer",
          "format": "int32"
        },
        "scanDnsRecordId": {
          "description": "Output only. OCID of scan DNS record.",
          "readOnly": true,
          "type": "string"
        },
        "giVersion": {
          "type": "string",
          "description": "Optional. Grid Infrastructure Version."
        },
        "dataStorageSizeTb": {
          "type": "number",
          "format": "double",
          "description": "Optional. The data disk group size to be allocated in TBs."
        },
        "sparseDiskgroupEnabled": {
          "description": "Optional. Use exadata sparse snapshots.",
          "type": "boolean"
        },
        "dnsListenerIp": {
          "description": "Output only. DNS listener IP.",
          "readOnly": true,
          "type": "string"
        },
        "diagnosticsDataCollectionOptions": {
          "description": "Optional. Data collection options for diagnostics.",
          "$ref": "DataCollectionOptions"
        },
        "scanDns": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. SCAN DNS name. ex: sp2-yi0xq-scan.ocispdelegated.ocisp10jvnet.oraclevcn.com"
        },
        "memorySizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Memory allocated in GBs."
        },
        "scanListenerPortTcp": {
          "description": "Output only. SCAN listener port - TCP",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "shape": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Shape of VM Cluster."
        },
        "hostname": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. host name without domain. format: \"-\" with some suffix. ex: sp2-yi0xq where \"sp2\" is the hostname_prefix."
        },
        "systemVersion": {
          "type": "string",
          "description": "Optional. Operating system version of the image."
        },
        "sshPublicKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. SSH public keys to be stored with cluster."
        },
        "computeModel": {
          "type": "string",
          "description": "Output only. The compute model of the VM Cluster.",
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ],
          "readOnly": true,
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ]
        },
        "scanIpIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. OCIDs of scan IPs."
        },
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Oracle Cloud Infrastructure ID of VM Cluster."
        },
        "domain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Parent DNS domain where SCAN DNS and hosts names are qualified. ex: ocispdelegated.ocisp10jvnet.oraclevcn.com"
        },
        "dbServerOcids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. OCID of database servers."
        },
        "compartmentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compartment ID of cluster."
        },
        "cpuCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Number of enabled CPU cores."
        },
        "dbNodeStorageSizeGb": {
          "description": "Optional. Local storage per VM.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "description": "Output only. State of the cluster."
        },
        "diskRedundancy": {
          "enum": [
            "DISK_REDUNDANCY_UNSPECIFIED",
            "HIGH",
            "NORMAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High - 3 way mirror.",
            "Normal - 2 way mirror."
          ],
          "description": "Optional. The type of redundancy."
        },
        "ociUrl": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true,
          "type": "string"
        },
        "scanListenerPortTcpSsl": {
          "description": "Output only. SCAN listener port - TLS",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "clusterName": {
          "description": "Optional. OCI Cluster name.",
          "type": "string"
        },
        "localBackupEnabled": {
          "type": "boolean",
          "description": "Optional. Use local backup."
        },
        "licenseType": {
          "description": "Required. License type of VM Cluster.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Optional. Prefix for VM cluster host names."
        },
        "timeZone": {
          "description": "Optional. Time zone of VM Cluster to set. Defaults to UTC if not specified.",
          "$ref": "TimeZone"
        },
        "ocpuCount": {
          "type": "number",
          "format": "float",
          "description": "Optional. OCPU count per VM. Minimum is 0.1."
        },
        "storageSizeGb": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The storage allocation for the disk group, in gigabytes (GB)."
        }
      }
    },
    "SourceConfig": {
      "type": "object",
      "id": "SourceConfig",
      "description": "The source configuration for the standby Autonomous Database.",
      "properties": {
[...]
