{
  "title": "Oracle Database@Google Cloud API",
  "version": "v1",
  "revision": "20260305",
  "discoveryVersion": "v1",
  "name": "oracledatabase",
  "endpoints": [
    {
      "endpointUrl": "https://oracledatabase.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://oracledatabase.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://oracledatabase.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://oracledatabase.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://oracledatabase.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://oracledatabase.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://oracledatabase.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    }
  ],
  "batchPath": "batch",
  "rootUrl": "https://oracledatabase.googleapis.com/",
  "id": "oracledatabase:v1",
  "version_module": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "Oracle Database",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "basePath": "",
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "schemas": {
    "ExadbVmCluster": {
      "description": "ExadbVmCluster represents a cluster of VMs that are used to run Exadata workloads. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExadbVmCluster/",
      "id": "ExadbVmCluster",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The date and time that the ExadbVmCluster was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "gcpOracleZone": {
          "description": "Output only. Immutable. The GCP Oracle zone where Oracle ExadbVmCluster is hosted. Example: us-east4-b-r2. During creation, the system will pick the zone assigned to the ExascaleDbStorageVault.",
          "type": "string",
          "readOnly": true
        },
        "odbSubnet": {
          "description": "Required. Immutable. The name of the OdbSubnet associated with the ExadbVmCluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "properties": {
          "$ref": "ExadbVmClusterProperties",
          "description": "Required. The properties of the ExadbVmCluster."
        },
        "backupOdbSubnet": {
          "description": "Required. Immutable. The name of the backup OdbSubnet associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Immutable. The display name for the ExadbVmCluster. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels or tags associated with the ExadbVmCluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "entitlementId": {
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the ExadbVmCluster.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the ExadbVmCluster resource in the following format: projects/{project}/locations/{region}/exadbVmClusters/{exadb_vm_cluster}"
        }
      }
    },
    "ListEntitlementsResponse": {
      "description": "The response for `Entitlement.List`.",
      "id": "ListEntitlementsResponse",
      "type": "object",
      "properties": {
        "entitlements": {
          "type": "array",
          "description": "The list of Entitlements",
          "items": {
            "$ref": "Entitlement"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "DbServerProperties": {
      "description": "Various properties and settings associated with Exadata database server.",
      "id": "DbServerProperties",
      "type": "object",
      "properties": {
        "vmCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Vm count per database."
        },
        "ocpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. OCPU count per database."
        },
        "dbNodeStorageSizeGb": {
          "description": "Optional. Local storage per VM.",
          "type": "integer",
          "format": "int32"
        },
        "dbNodeIds": {
          "type": "array",
          "description": "Output only. OCID of database nodes associated with the database server.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "maxMemorySizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum memory allocated in GBs."
        },
        "ocid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OCID of database server."
        },
        "maxDbNodeStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum local storage per VM."
        },
        "maxOcpuCount": {
          "description": "Optional. Maximum OCPU count per database.",
          "type": "integer",
          "format": "int32"
        },
        "memorySizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Memory allocated in GBs."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "AVAILABLE",
            "UNAVAILABLE",
            "DELETING",
            "DELETED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in unavailable state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state."
          ],
          "description": "Output only. State of the database server."
        }
      }
    },
    "ScheduledOperationDetails": {
      "description": "Details of scheduled operation. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/ScheduledOperationDetails",
      "id": "ScheduledOperationDetails",
      "type": "object",
      "properties": {
        "startTime": {
          "readOnly": true,
          "$ref": "TimeOfDay",
          "description": "Output only. Auto start time."
        },
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Output only. Day of week."
        },
        "stopTime": {
          "description": "Output only. Auto stop time.",
          "readOnly": true,
          "$ref": "TimeOfDay"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ExadbVmClusterStorageDetails": {
      "id": "ExadbVmClusterStorageDetails",
      "type": "object",
      "properties": {
        "sizeInGbsPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The storage allocation for the exadbvmcluster per node, in gigabytes (GB). This field is used to calculate the total storage allocation for the exadbvmcluster."
        }
      },
      "description": "The storage allocation for the exadbvmcluster, in gigabytes (GB)."
    },
    "ListDbSystemInitialStorageSizesResponse": {
      "description": "The response for `DbSystemInitialStorageSizes.List`.",
      "id": "ListDbSystemInitialStorageSizesResponse",
      "type": "object",
      "properties": {
        "dbSystemInitialStorageSizes": {
          "type": "array",
          "description": "The list of DbSystemInitialStorageSizes.",
          "items": {
            "$ref": "DbSystemInitialStorageSize"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CloudExadataInfrastructure": {
      "description": "Represents CloudExadataInfrastructure resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudExadataInfrastructure/",
      "id": "CloudExadataInfrastructure",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Exadata Infrastructure resource with the format: projects/{project}/locations/{region}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}"
        },
        "entitlementId": {
          "description": "Output only. Entitlement ID of the private offer against which this infrastructure resource is provisioned.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. Various properties of the infra.",
          "$ref": "CloudExadataInfrastructureProperties"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time that the Exadata Infrastructure was created."
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle Exadata Infrastructure is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        }
      }
    },
    "OdbSubnet": {
      "description": "Represents OdbSubnet resource.",
      "id": "OdbSubnet",
      "type": "object",
      "properties": {
        "purpose": {
          "description": "Required. Purpose of the subnet.",
          "enum": [
            "PURPOSE_UNSPECIFIED",
            "CLIENT_SUBNET",
            "BACKUP_SUBNET"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Subnet to be used for client connections.",
            "Subnet to be used for backup."
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time that the OdbNetwork was created."
        },
        "cidrRange": {
          "description": "Required. The CIDR range of the subnet.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the ODB Subnet.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the OdbSubnet resource in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PluggableDatabase": {
      "id": "PluggableDatabase",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "PluggableDatabaseProperties",
          "description": "Optional. The properties of the PluggableDatabase."
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the PluggableDatabase resource in the following format: projects/{project}/locations/{region}/pluggableDatabases/{pluggable_database}"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time that the PluggableDatabase was created.",
          "readOnly": true
        }
      },
      "description": "The PluggableDatabase resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/PluggableDatabase/"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DbServer": {
      "id": "DbServer",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the database server resource with the format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}/dbServers/{db_server}"
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the database server.",
          "$ref": "DbServerProperties"
        }
      },
      "description": "Details of the database server resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbServer/"
    },
    "StartAutonomousDatabaseRequest": {
      "id": "StartAutonomousDatabaseRequest",
      "type": "object",
      "properties": {},
      "description": "The request for `AutonomousDatabase.Start`."
    },
    "FailoverAutonomousDatabaseRequest": {
      "description": "The request for `OracleDatabase.FailoverAutonomousDatabase`.",
      "id": "FailoverAutonomousDatabaseRequest",
      "type": "object",
      "properties": {
        "peerAutonomousDatabase": {
          "description": "Optional. The peer database name to fail over to. Required for cross-region standby, and must be omitted for in-region Data Guard.",
          "type": "string"
        }
      }
    },
    "DataCollectionOptionsCommon": {
      "description": "Data collection options for diagnostics. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DataCollectionOptions",
      "id": "DataCollectionOptionsCommon",
      "type": "object",
      "properties": {
        "isIncidentLogsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable incident logs and trace collection."
        },
        "isHealthMonitoringEnabled": {
          "description": "Optional. Indicates whether to enable health monitoring.",
          "type": "boolean"
        },
        "isDiagnosticsEventsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable data collection for diagnostics."
        }
      }
    },
    "EncryptionKey": {
      "id": "EncryptionKey",
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Optional. The provider of the encryption key.",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "ORACLE_MANAGED"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Google Managed KMS key, if selected, please provide the KMS key name.",
            "Oracle Managed."
          ]
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. The KMS key used to encrypt the Autonomous Database. This field is required if the provider is GOOGLE_MANAGED. The name of the KMS key resource in the following format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`."
        }
      },
      "description": "The encryption key used to encrypt the Autonomous Database."
    },
    "ListAutonomousDatabaseCharacterSetsResponse": {
      "description": "The response for `AutonomousDatabaseCharacterSet.List`.",
      "id": "ListAutonomousDatabaseCharacterSetsResponse",
      "type": "object",
      "properties": {
        "autonomousDatabaseCharacterSets": {
          "description": "The list of Autonomous Database Character Sets.",
          "items": {
            "$ref": "AutonomousDatabaseCharacterSet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "IdentityConnector": {
      "id": "IdentityConnector",
      "type": "object",
      "properties": {
        "connectionState": {
          "description": "Output only. The connection state of the identity connector.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "The identity pool connection is connected.",
            "The identity pool connection is partially connected.",
            "The identity pool connection is disconnected.",
            "The identity pool connection is in an unknown state."
          ],
          "type": "string",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "CONNECTED",
            "PARTIALLY_CONNECTED",
            "DISCONNECTED",
            "UNKNOWN"
          ]
        },
        "serviceAgentEmail": {
          "description": "Output only. A google managed service account on which customers can grant roles to access resources in the customer project. Example: `p176944527254-55-75119d87fd8f@gcp-sa-oci.iam.gserviceaccount.com`",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The identity connector details which will allow OCI to securely access the resources in the customer project."
    },
    "ListExascaleDbStorageVaultsResponse": {
      "id": "ListExascaleDbStorageVaultsResponse",
      "type": "object",
      "properties": {
        "exascaleDbStorageVaults": {
          "description": "The ExascaleDbStorageVaults.",
          "items": {
            "$ref": "ExascaleDbStorageVault"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If present, the next page token can be provided to a subsequent ListExascaleDbStorageVaults call to list the next page. If empty, there are no more pages."
        }
      },
      "description": "The response for `ExascaleDbStorageVault.List`."
    },
    "ListDbServersResponse": {
      "id": "ListDbServersResponse",
      "type": "object",
      "properties": {
        "dbServers": {
          "type": "array",
          "description": "The list of database servers.",
          "items": {
            "$ref": "DbServer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response for `DbServer.List`."
    },
    "AutonomousDatabaseProperties": {
      "id": "AutonomousDatabaseProperties",
      "type": "object",
      "properties": {
        "arePrimaryAllowlistedIpsUsed": {
          "readOnly": true,
          "description": "Output only. This field indicates the status of Data Guard and Access control for the Autonomous Database. The field's value is null if Data Guard is disabled or Access Control is disabled. The field's value is TRUE if both Data Guard and Access Control are enabled, and the Autonomous Database is using primary IP access control list (ACL) for standby. The field's value is FALSE if both Data Guard and Access Control are enabled, and the Autonomous Database is using a different IP access control list (ACL) for standby compared to primary.",
          "type": "boolean"
        },
        "privateEndpointIp": {
          "type": "string",
          "description": "Optional. Immutable. The private endpoint IP address for the Autonomous Database."
        },
        "encryptionKeyHistoryEntries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The history of the encryption keys used to encrypt the Autonomous Database.",
          "items": {
            "$ref": "EncryptionKeyHistoryEntry"
          }
        },
        "memoryTableGbs": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The memory assigned to in-memory tables in an Autonomous Database."
        },
        "dataStorageSizeGb": {
          "description": "Optional. Immutable. The size of the data stored in the database, in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "isStorageAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database storage.",
          "type": "boolean"
        },
        "scheduledOperationDetails": {
          "type": "array",
          "description": "Output only. The list and details of the scheduled operations of the Autonomous Database.",
          "items": {
            "$ref": "ScheduledOperationDetails"
          },
          "readOnly": true
        },
        "secretId": {
          "type": "string",
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault secret."
        },
        "usedDataStorageSizeTbs": {
          "readOnly": true,
          "description": "Output only. The storage space used by Autonomous Database, in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "cpuCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Immutable. The number of CPU cores to be made available to the database."
        },
        "dbVersion": {
          "description": "Optional. Immutable. The Oracle Database version for the Autonomous Database.",
          "type": "string"
        },
        "backupRetentionPeriodDays": {
          "description": "Optional. Immutable. The retention period for the Autonomous Database. This field is specified in days, can range from 1 day to 60 days, and has a default value of 60 days.",
          "type": "integer",
          "format": "int32"
        },
        "dbWorkload": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ],
          "description": "Required. Immutable. The workload type of the Autonomous Database.",
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ],
          "type": "string"
        },
        "autonomousContainerDatabaseId": {
          "type": "string",
          "description": "Output only. The Autonomous Container Database OCID.",
          "readOnly": true
        },
        "localStandbyDb": {
          "readOnly": true,
          "$ref": "AutonomousDatabaseStandbySummary",
          "description": "Output only. The details of the Autonomous Data Guard standby database."
        },
        "refreshableState": {
          "enum": [
            "REFRESHABLE_STATE_UNSPECIFIED",
            "REFRESHING",
            "NOT_REFRESHING"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Refreshing",
            "Not refreshed"
          ],
          "description": "Output only. The refresh State of the clone."
        },
        "actualUsedDataStorageSizeTb": {
          "description": "Output only. The amount of storage currently being used for user and system data, in terabytes.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "allowlistedIps": {
          "description": "Optional. Immutable. The list of allowlisted IP addresses for the Autonomous Database.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "refreshableMode": {
          "type": "string",
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default unspecified value.",
            "AUTOMATIC indicates that the cloned database is automatically refreshed with data from the source Autonomous Database.",
            "MANUAL indicates that the cloned database is manually refreshed with data from the source Autonomous Database."
          ],
          "description": "Output only. The refresh mode of the cloned Autonomous Database."
        },
        "isAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database CPU core count.",
          "type": "boolean"
        },
        "apexDetails": {
          "$ref": "AutonomousDatabaseApex",
          "readOnly": true,
          "description": "Output only. The details for the Oracle APEX Application Development."
        },
        "nCharacterSet": {
          "type": "string",
          "description": "Optional. Immutable. The national character set for the Autonomous Database. The default is AL16UTF16."
        },
        "permissionLevel": {
          "type": "string",
          "enum": [
            "PERMISSION_LEVEL_UNSPECIFIED",
            "RESTRICTED",
            "UNRESTRICTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Restricted mode allows access only by admin users.",
            "Normal access."
          ],
          "description": "Output only. The permission level of the Autonomous Database."
        },
        "disasterRecoveryRoleChangedTime": {
          "readOnly": true,
          "description": "Output only. The date and time the Disaster Recovery role was changed for the standby Autonomous Database.",
          "type": "string",
          "format": "google-datetime"
        },
        "maintenanceScheduleType": {
          "description": "Optional. Immutable. The maintenance schedule of the Autonomous Database.",
          "enum": [
            "MAINTENANCE_SCHEDULE_TYPE_UNSPECIFIED",
            "EARLY",
            "REGULAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "An EARLY maintenance schedule patches the database before the regular scheduled maintenance.",
            "A REGULAR maintenance schedule follows the normal maintenance cycle."
          ]
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. OCID of the Autonomous Database. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "type": "string"
        },
        "connectionStrings": {
          "description": "Output only. The connection strings used to connect to an Autonomous Database.",
          "$ref": "AutonomousDatabaseConnectionStrings",
          "readOnly": true
        },
        "privateEndpoint": {
          "description": "Output only. The private endpoint for the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "totalAutoBackupStorageSizeGbs": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. The storage space used by automatic backups of Autonomous Database, in gigabytes."
        },
        "availableUpgradeVersions": {
          "readOnly": true,
          "description": "Output only. The list of available Oracle Database upgrade versions for an Autonomous Database.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connectionUrls": {
          "description": "Output only. The Oracle Connection URLs for an Autonomous Database.",
          "$ref": "AutonomousDatabaseConnectionUrls",
          "readOnly": true
        },
        "privateEndpointLabel": {
          "description": "Optional. Immutable. The private endpoint label for the Autonomous Database.",
          "type": "string"
        },
        "operationsInsightsState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling status for operation insights.",
            "Enabled status for operation insights.",
            "Disabling status for operation insights.",
            "Not Enabled status for operation insights.",
            "Failed enabling status for operation insights.",
            "Failed disabling status for operation insights."
          ],
          "description": "Output only. This field indicates the state of Operations Insights for the Autonomous Database.",
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "type": "string"
        },
        "customerContacts": {
          "description": "Optional. Immutable. The list of customer contacts.",
          "items": {
            "$ref": "CustomerContact"
          },
          "type": "array"
        },
        "openMode": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Read Only Mode",
            "Read Write Mode"
          ],
          "description": "Output only. This field indicates the current mode of the Autonomous Database.",
          "enum": [
            "OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "type": "string"
        },
        "computeCount": {
          "type": "number",
          "format": "float",
          "description": "Optional. Immutable. The number of compute servers for the Autonomous Database."
        },
        "lifecycleDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The details of the current lifestyle state of the Autonomous Database."
        },
        "localDisasterRecoveryType": {
          "description": "Output only. This field indicates the local disaster recovery (DR) type of an Autonomous Database.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Data Guard recovery.",
            "Backup based recovery."
          ],
          "enum": [
            "LOCAL_DISASTER_RECOVERY_TYPE_UNSPECIFIED",
            "ADG",
            "BACKUP_BASED"
          ],
          "type": "string"
        },
        "supportedCloneRegions": {
          "readOnly": true,
          "description": "Output only. The list of available regions that can be used to create a clone for the Autonomous Database.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "failedDataRecoveryDuration": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. This field indicates the number of seconds of data loss during a Data Guard failover."
        },
        "serviceAgentEmail": {
          "type": "string",
          "description": "Output only. An Oracle-managed Google Cloud service account on which customers can grant roles to access resources in the customer project.",
          "readOnly": true
        },
        "isLocalDataGuardEnabled": {
          "type": "boolean",
          "description": "Output only. This field indicates whether the Autonomous Database has local (in-region) Data Guard enabled.",
          "readOnly": true
        },
        "localAdgAutoFailoverMaxDataLossLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "readOnly": true
        },
        "dataStorageSizeTb": {
          "description": "Optional. Immutable. The size of the data stored in the database, in terabytes.",
          "type": "integer",
          "format": "int32"
        },
        "dbEdition": {
          "type": "string",
          "description": "Optional. Immutable. The edition of the Autonomous Databases.",
          "enum": [
            "DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Standard Database Edition",
            "Enterprise Database Edition"
          ]
        },
        "encryptionKey": {
          "description": "Optional. The encryption key used to encrypt the Autonomous Database. Updating this field will add a new entry in the `encryption_key_history_entries` field with the former version.",
          "$ref": "EncryptionKey"
        },
        "dataGuardRoleChangedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time the Autonomous Data Guard role was changed for the standby Autonomous Database.",
          "readOnly": true
        },
        "allocatedStorageSizeTb": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. The amount of storage currently allocated for the database tables and billed for, rounded up in terabytes."
        },
        "role": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Primary role",
            "Standby role",
            "Disabled standby role",
            "Backup copy role",
            "Snapshot standby role"
          ],
          "description": "Output only. The Data Guard role of the Autonomous Database.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY",
            "DISABLED_STANDBY",
            "BACKUP_COPY",
            "SNAPSHOT_STANDBY"
          ]
        },
        "mtlsConnectionRequired": {
          "type": "boolean",
          "description": "Optional. Immutable. This field specifies if the Autonomous Database requires mTLS connections."
        },
        "sqlWebDeveloperUrl": {
          "type": "string",
          "description": "Output only. The SQL Web Developer URL for the Autonomous Database.",
          "readOnly": true
        },
        "maintenanceBeginTime": {
          "readOnly": true,
          "description": "Output only. The date and time when maintenance will begin.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextLongTermBackupTime": {
          "description": "Output only. The long term backup schedule of the Autonomous Database.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "peerDbIds": {
          "readOnly": true,
          "description": "Output only. The list of OCIDs of standby databases located in Autonomous Data Guard remote regions that are associated with the source database.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ociUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Oracle Cloud Infrastructure link for the Autonomous Database."
        },
        "maintenanceEndTime": {
          "description": "Output only. The date and time when maintenance will end.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "memoryPerOracleComputeUnitGbs": {
          "readOnly": true,
          "description": "Output only. The amount of memory enabled per ECPU, in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "licenseType": {
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "description": "Required. Immutable. The license type used for the Autonomous Database.",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ],
          "description": "Output only. The current lifecycle state of the Autonomous Database."
        },
        "dataSafeState": {
          "type": "string",
          "enum": [
            "DATA_SAFE_STATE_UNSPECIFIED",
            "REGISTERING",
            "REGISTERED",
            "DEREGISTERING",
            "NOT_REGISTERED",
            "FAILED"
          ],
          "description": "Output only. The current state of the Data Safe registration for the Autonomous Database.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Registering data safe state.",
            "Registered data safe state.",
            "Deregistering data safe state.",
            "Not registered data safe state.",
            "Failed data safe state."
          ]
        },
        "vaultId": {
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault.",
          "type": "string"
        },
        "databaseManagementState": {
          "description": "Output only. The current state of database management for the Autonomous Database.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling Database Management state",
            "Enabled Database Management state",
            "Disabling Database Management state",
            "Not Enabled Database Management state",
            "Failed enabling Database Management state",
            "Failed disabling Database Management state"
          ],
          "enum": [
            "DATABASE_MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "type": "string"
        },
        "characterSet": {
          "description": "Optional. Immutable. The character set for the Autonomous Database. The default is AL32UTF8.",
          "type": "string"
        }
      },
      "description": "The properties of an Autonomous Database."
    },
    "PluggableDatabaseConnectionStrings": {
      "description": "The connection strings used to connect to the Oracle Database.",
      "id": "PluggableDatabaseConnectionStrings",
      "type": "object",
      "properties": {
        "allConnectionStrings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. All connection strings to use to connect to the pluggable database."
        },
        "pdbDefault": {
          "type": "string",
          "description": "Optional. The default connection string to use to connect to the pluggable database."
        },
        "pdbIpDefault": {
          "description": "Optional. The default connection string to use to connect to the pluggable database using IP.",
          "type": "string"
        }
      }
    },
    "CloudAccountDetails": {
      "description": "Details of the OCI Cloud Account.",
      "id": "CloudAccountDetails",
      "type": "object",
      "properties": {
        "linkExistingAccountUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URL to link an existing account."
        },
        "cloudAccountHomeRegion": {
          "type": "string",
          "description": "Output only. OCI account home region.",
          "readOnly": true
        },
        "accountCreationUri": {
          "readOnly": true,
          "description": "Output only. URL to create a new account and link.",
          "type": "string"
        },
        "cloudAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OCI account name."
        }
      }
    },
    "DataCollectionOptions": {
      "description": "Data collection options for diagnostics.",
      "id": "DataCollectionOptions",
      "type": "object",
      "properties": {
        "diagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether diagnostic collection is enabled for the VM cluster",
          "type": "boolean"
        },
        "healthMonitoringEnabled": {
          "description": "Optional. Indicates whether health monitoring is enabled for the VM cluster",
          "type": "boolean"
        },
        "incidentLogsEnabled": {
          "description": "Optional. Indicates whether incident logs and trace collection are enabled for the VM cluster",
          "type": "boolean"
        }
      }
    },
    "ListOdbNetworksResponse": {
      "description": "The response for `OdbNetwork.List`.",
      "id": "ListOdbNetworksResponse",
      "type": "object",
      "properties": {
        "odbNetworks": {
          "description": "The list of ODB Networks.",
          "items": {
            "$ref": "OdbNetwork"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SourceConfig": {
      "description": "The source configuration for the standby Autonomous Database.",
      "id": "SourceConfig",
      "type": "object",
      "properties": {
        "autonomousDatabase": {
          "description": "Optional. The name of the primary Autonomous Database that is used to create a Peer Autonomous Database from a source.",
          "type": "string"
        },
        "automaticBackupsReplicationEnabled": {
          "description": "Optional. This field specifies if the replication of automatic backups is enabled when creating a Data Guard.",
          "type": "boolean"
        }
      }
    },
    "ListCloudExadataInfrastructuresResponse": {
      "id": "ListCloudExadataInfrastructuresResponse",
      "type": "object",
      "properties": {
        "cloudExadataInfrastructures": {
          "type": "array",
          "description": "The list of Exadata Infrastructures.",
          "items": {
            "$ref": "CloudExadataInfrastructure"
          }
        },
        "nextPageToken": {
          "description": "A token for fetching next page of response.",
          "type": "string"
        }
      },
      "description": "The response for `CloudExadataInfrastructures.list`."
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      }
    },
    "AutonomousDatabaseBackupProperties": {
      "description": "Properties of the Autonomous Database Backup resource.",
      "id": "AutonomousDatabaseBackupProperties",
      "type": "object",
      "properties": {
        "dbVersion": {
          "readOnly": true,
          "description": "Output only. A valid Oracle Database version for Autonomous Database.",
          "type": "string"
        },
        "sizeTb": {
          "readOnly": true,
          "description": "Output only. The backup size in terabytes.",
          "type": "number",
          "format": "float"
        },
        "vaultId": {
          "type": "string",
          "description": "Optional. The OCID of the vault."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time the backup started."
        },
        "kmsKeyId": {
          "type": "string",
          "description": "Optional. The OCID of the key container that is used as the master encryption key in database transparent data encryption (TDE) operations."
        },
        "kmsKeyVersionId": {
          "description": "Optional. The OCID of the key container version that is used in database transparent data encryption (TDE) operations KMS Key can have multiple key versions. If none is specified, the current key version (latest) of the Key Id is used for the operation. Autonomous Database Serverless does not use key versions, hence is not applicable for Autonomous Database Serverless instances.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ],
          "type": "string",
          "description": "Output only. The type of the backup.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ]
        },
        "keyStoreId": {
          "type": "string",
          "description": "Optional. The OCID of the key store of Oracle Vault."
        },
        "ocid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OCID of the Autonomous Database backup. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle"
        },
        "keyStoreWallet": {
          "type": "string",
          "description": "Optional. The wallet name for Oracle Key Vault."
        },
        "lifecycleState": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in updating state."
          ],
          "description": "Output only. The lifecycle state of the backup."
        },
        "isAutomaticBackup": {
          "type": "boolean",
          "description": "Output only. Indicates if the backup is automatic or user initiated.",
          "readOnly": true
        },
        "availableTillTime": {
          "readOnly": true,
          "description": "Output only. Timestamp until when the backup will be available.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time the backup completed.",
          "readOnly": true
        },
        "isLongTermBackup": {
          "type": "boolean",
          "description": "Output only. Indicates if the backup is long term backup.",
          "readOnly": true
        },
        "lifecycleDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current lifecycle state."
        },
        "retentionPeriodDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Retention period in days for the backup."
        },
        "isRestorable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the backup can be used to restore the Autonomous Database."
        },
        "databaseSizeTb": {
          "type": "number",
          "format": "float",
          "description": "Output only. The quantity of data in the database, in terabytes.",
          "readOnly": true
        },
        "compartmentId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The OCID of the compartment."
        }
      }
    },
    "CloudVmClusterProperties": {
      "description": "Various properties and settings associated with Exadata VM cluster.",
      "id": "CloudVmClusterProperties",
      "type": "object",
      "properties": {
        "storageSizeGb": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The storage allocation for the disk group, in gigabytes (GB)."
        },
        "diskRedundancy": {
          "description": "Optional. The type of redundancy.",
          "enum": [
            "DISK_REDUNDANCY_UNSPECIFIED",
            "HIGH",
            "NORMAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High - 3 way mirror.",
            "Normal - 2 way mirror."
          ]
        },
        "hostnamePrefix": {
          "description": "Optional. Prefix for VM cluster host names.",
          "type": "string"
        },
        "compartmentId": {
          "description": "Output only. Compartment ID of cluster.",
          "type": "string",
          "readOnly": true
        },
        "clusterName": {
          "type": "string",
          "description": "Optional. OCI Cluster name."
        },
        "nodeCount": {
          "description": "Optional. Number of database servers.",
          "type": "integer",
          "format": "int32"
        },
        "scanListenerPortTcp": {
          "description": "Output only. SCAN listener port - TCP",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "scanDnsRecordId": {
          "type": "string",
          "description": "Output only. OCID of scan DNS record.",
          "readOnly": true
        },
        "dataStorageSizeTb": {
          "description": "Optional. The data disk group size to be allocated in TBs.",
          "type": "number",
          "format": "double"
        },
        "cpuCoreCount": {
          "description": "Required. Number of enabled CPU cores.",
          "type": "integer",
          "format": "int32"
        },
        "systemVersion": {
          "description": "Optional. Operating system version of the image.",
          "type": "string"
        },
        "dbServerOcids": {
          "type": "array",
          "description": "Optional. OCID of database servers.",
          "items": {
            "type": "string"
          }
        },
        "diagnosticsDataCollectionOptions": {
          "description": "Optional. Data collection options for diagnostics.",
          "$ref": "DataCollectionOptions"
        },
        "sparseDiskgroupEnabled": {
          "description": "Optional. Use exadata sparse snapshots.",
          "type": "boolean"
        },
        "scanIpIds": {
          "description": "Output only. OCIDs of scan IPs.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "shape": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Shape of VM Cluster."
        },
        "sshPublicKeys": {
          "type": "array",
          "description": "Optional. SSH public keys to be stored with cluster.",
          "items": {
            "type": "string"
          }
        },
        "localBackupEnabled": {
          "type": "boolean",
          "description": "Optional. Use local backup."
        },
        "ociUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource."
        },
        "dnsListenerIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. DNS listener IP."
        },
        "timeZone": {
          "description": "Optional. Time zone of VM Cluster to set. Defaults to UTC if not specified.",
          "$ref": "TimeZone"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "description": "Output only. State of the cluster.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ]
        },
        "licenseType": {
          "description": "Required. License type of VM Cluster.",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ]
        },
        "giVersion": {
          "type": "string",
          "description": "Optional. Grid Infrastructure Version."
        },
        "hostname": {
          "type": "string",
          "description": "Output only. host name without domain. format: \"-\" with some suffix. ex: sp2-yi0xq where \"sp2\" is the hostname_prefix.",
          "readOnly": true
        },
        "ocpuCount": {
          "type": "number",
          "format": "float",
          "description": "Optional. OCPU count per VM. Minimum is 0.1."
        },
        "dbNodeStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Local storage per VM."
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. Oracle Cloud Infrastructure ID of VM Cluster.",
          "type": "string"
        },
        "computeModel": {
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ],
          "type": "string",
          "description": "Output only. The compute model of the VM Cluster.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ]
        },
        "memorySizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Memory allocated in GBs."
        },
        "scanListenerPortTcpSsl": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. SCAN listener port - TLS"
        },
        "scanDns": {
          "description": "Output only. SCAN DNS name. ex: sp2-yi0xq-scan.ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "type": "string",
          "readOnly": true
        },
        "domain": {
          "readOnly": true,
          "description": "Output only. Parent DNS domain where SCAN DNS and hosts names are qualified. ex: ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "type": "string"
        }
      }
    },
    "ListDbNodesResponse": {
      "description": "The response for `DbNode.List`.",
      "id": "ListDbNodesResponse",
      "type": "object",
      "properties": {
        "dbNodes": {
          "type": "array",
          "description": "The list of DB Nodes",
          "items": {
            "$ref": "DbNode"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the node should return."
        }
      }
    },
    "PluggableDatabaseNodeLevelDetails": {
      "description": "The Pluggable Database Node Level Details.",
      "id": "PluggableDatabaseNodeLevelDetails",
      "type": "object",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "Required. The Node name of the Database home."
        },
        "openMode": {
          "enumDescriptions": [
            "The open mode is unspecified.",
            "The pluggable database is opened in read-only mode.",
            "The pluggable database is opened in read-write mode.",
            "The pluggable database is mounted.",
            "The pluggable database is migrated."
          ],
          "description": "Required. The mode that the pluggable database is in to open it.",
          "enum": [
            "PLUGGABLE_DATABASE_OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "MOUNTED",
            "MIGRATE"
          ],
          "type": "string"
        },
        "pluggableDatabaseId": {
          "description": "Required. The OCID of the Pluggable Database.",
          "type": "string"
        }
      }
    },
    "ListDatabaseCharacterSetsResponse": {
      "description": "The response for `DatabaseCharacterSet.List`.",
      "id": "ListDatabaseCharacterSetsResponse",
      "type": "object",
      "properties": {
        "databaseCharacterSets": {
          "description": "The list of DatabaseCharacterSets.",
          "items": {
            "$ref": "DatabaseCharacterSet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ListDbSystemShapesResponse": {
      "id": "ListDbSystemShapesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "dbSystemShapes": {
          "description": "The list of Database System shapes.",
          "items": {
            "$ref": "DbSystemShape"
          },
          "type": "array"
        }
      },
      "description": "The response for `DbSystemShape.List`."
    },
    "DbSystemProperties": {
      "id": "DbSystemProperties",
      "type": "object",
      "properties": {
        "hostnamePrefix": {
          "type": "string",
          "description": "Optional. Prefix for DB System host names."
        },
        "sshPublicKeys": {
          "type": "array",
          "description": "Required. SSH public keys to be stored with the DbSystem.",
          "items": {
            "type": "string"
          }
        },
        "lifecycleState": {
          "enum": [
            "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MIGRATED",
            "MAINTENANCE_IN_PROGRESS",
            "NEEDS_ATTENTION",
            "UPGRADING"
          ],
          "type": "string",
          "description": "Output only. State of the DbSystem.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource has been migrated.",
            "Indicates that the resource is in maintenance in progress state.",
            "Indicates that the resource needs attention.",
            "Indicates that the resource is upgrading."
          ]
        },
        "shape": {
          "type": "string",
          "description": "Required. Shape of DB System."
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Optional. Time zone of the DbSystem."
        },
        "dataStorageSizeGb": {
          "description": "Optional. The data storage size in GB that is currently available to DbSystems.",
          "type": "integer",
          "format": "int32"
        },
        "dataCollectionOptions": {
          "description": "Optional. Data collection options for diagnostics.",
          "$ref": "DataCollectionOptionsDbSystem"
        },
        "nodeCount": {
          "description": "Optional. The number of nodes in the DbSystem.",
          "type": "integer",
          "format": "int32"
        },
        "computeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of CPU cores to enable for the DbSystem."
        },
        "privateIp": {
          "description": "Optional. The private IP address of the DbSystem.",
          "type": "string"
        },
        "initialDataStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The initial data storage size in GB."
        },
        "recoStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The reco/redo storage size in GB."
        },
        "dbSystemOptions": {
          "description": "Optional. The options for the DbSystem.",
          "$ref": "DbSystemOptions"
        },
        "hostname": {
          "type": "string",
          "description": "Output only. The hostname of the DbSystem.",
          "readOnly": true
        },
        "licenseModel": {
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "type": "string",
          "description": "Required. The license model of the DbSystem.",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "dbHome": {
          "$ref": "DbHome",
          "description": "Optional. Details for creating a Database Home."
        },
        "computeModel": {
          "type": "string",
          "description": "Optional. The compute model of the DbSystem.",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "ECPU",
            "OCPU"
          ],
          "enumDescriptions": [
            "The compute model is unspecified.",
            "The compute model is virtual.",
            "The compute model is physical."
          ]
        },
        "databaseEdition": {
          "type": "string",
          "description": "Required. The database edition of the DbSystem.",
          "enum": [
            "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION",
            "ENTERPRISE_EDITION_HIGH_PERFORMANCE"
          ],
          "enumDescriptions": [
            "The database edition is unspecified.",
            "The database edition is Standard.",
            "The database edition is Enterprise.",
            "The database edition is Enterprise Edition."
          ]
        },
        "domain": {
          "type": "string",
          "description": "Optional. The host domain name of the DbSystem."
        },
        "memorySizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The memory size in GB."
        },
        "ocid": {
          "type": "string",
          "description": "Output only. OCID of the DbSystem.",
          "readOnly": true
        }
      },
      "description": "The properties of a DbSystem."
    },
    "CustomerContact": {
      "description": "The CustomerContact reference as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/CustomerContact",
      "id": "CustomerContact",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email address used by Oracle to send notifications regarding databases and infrastructure.",
          "type": "string"
        }
      }
    },
    "EncryptionKeyHistoryEntry": {
      "id": "EncryptionKeyHistoryEntry",
      "type": "object",
      "properties": {
        "activationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time when the encryption key was activated on the Autonomous Database..",
          "readOnly": true
        },
        "encryptionKey": {
          "description": "Output only. The encryption key used to encrypt the Autonomous Database.",
          "readOnly": true,
          "$ref": "EncryptionKey"
        }
      },
      "description": "The history of the encryption keys used to encrypt the Autonomous Database."
    },
    "AutonomousDatabaseConnectionStrings": {
      "description": "The connection string used to connect to the Autonomous Database. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionStrings",
      "id": "AutonomousDatabaseConnectionStrings",
      "type": "object",
      "properties": {
        "dedicated": {
          "type": "string",
          "description": "Output only. The database service provides the least level of resources to each SQL statement, but supports the most number of concurrent SQL statements.",
          "readOnly": true
        },
        "low": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides the least level of resources to each SQL statement."
        },
        "profiles": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of connection string profiles to allow clients to group, filter, and select values based on the structured metadata.",
          "items": {
            "$ref": "DatabaseConnectionStringProfile"
          }
        },
        "allConnectionStrings": {
          "readOnly": true,
          "$ref": "AllConnectionStrings",
          "description": "Output only. Returns all connection strings that can be used to connect to the Autonomous Database."
        },
        "medium": {
          "description": "Output only. The database service provides a lower level of resources to each SQL statement.",
          "type": "string",
          "readOnly": true
        },
        "high": {
          "readOnly": true,
          "description": "Output only. The database service provides the highest level of resources to each SQL statement.",
          "type": "string"
        }
      }
    },
    "AutonomousDatabaseApex": {
      "id": "AutonomousDatabaseApex",
      "type": "object",
      "properties": {
        "apexVersion": {
          "readOnly": true,
          "description": "Output only. The Oracle APEX Application Development version.",
          "type": "string"
        },
        "ordsVersion": {
          "type": "string",
          "description": "Output only. The Oracle REST Data Services (ORDS) version.",
          "readOnly": true
        }
      },
      "description": "Oracle APEX Application Development. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseApex"
    },
    "DefinedTagValue": {
      "description": "Wrapper message for the value of a defined tag.",
      "id": "DefinedTagValue",
      "type": "object",
      "properties": {
        "tags": {
          "description": "The tags within the namespace.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListOdbSubnetsResponse": {
      "id": "ListOdbSubnetsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          }
        },
        "odbSubnets": {
          "description": "The list of ODB Subnets.",
          "items": {
            "$ref": "OdbSubnet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response for `OdbSubnet.List`."
    },
    "DbBackupConfig": {
      "description": "Backup Options for the Database.",
      "id": "DbBackupConfig",
      "type": "object",
      "properties": {
        "backupDestinationDetails": {
          "description": "Optional. Details of the database backup destinations.",
          "items": {
            "$ref": "BackupDestinationDetails"
          },
          "type": "array"
        },
        "autoFullBackupDay": {
          "type": "string",
          "description": "Optional. The day of the week on which the full backup should be performed on the database. If no value is provided, it will default to Sunday.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "retentionPeriodDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of days an automatic backup is retained before being automatically deleted. This value determines the earliest point in time to which a database can be restored. Min: 1, Max: 60."
        },
        "autoBackupEnabled": {
          "description": "Optional. If set to true, enables automatic backups on the database.",
          "type": "boolean"
        },
        "backupDeletionPolicy": {
          "type": "string",
          "description": "Optional. This defines when the backups will be deleted after Database termination.",
          "enum": [
            "BACKUP_DELETION_POLICY_UNSPECIFIED",
            "DELETE_IMMEDIATELY",
            "DELETE_AFTER_RETENTION_PERIOD"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Keeps the backup for predefined time i.e. 72 hours and then delete permanently.",
            "Keeps the backups as per the policy defined for database backups."
          ]
        },
        "autoFullBackupWindow": {
          "description": "Optional. The window in which the full backup should be performed on the database. If no value is provided, the default is anytime.",
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ]
        },
        "autoIncrementalBackupWindow": {
          "description": "Optional. The window in which the incremental backup should be performed on the database. If no value is provided, the default is anytime except the auto full backup day.",
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ]
        }
      }
    },
    "DbNode": {
      "description": "Details of the database node resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbNode/",
      "id": "DbNode",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "DbNodeProperties",
          "description": "Optional. Various properties of the database node."
        },
        "name": {
          "description": "Identifier. The name of the database node resource in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}/dbNodes/{db_node}",
          "type": "string"
        }
      }
    },
    "DataCollectionOptionsDbSystem": {
      "description": "Data collection options for DbSystem.",
      "id": "DataCollectionOptionsDbSystem",
      "type": "object",
      "properties": {
        "isIncidentLogsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable incident logs and trace collection."
        },
        "isDiagnosticsEventsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable data collection for diagnostics."
        }
      }
    },
    "DbVersionProperties": {
      "id": "DbVersionProperties",
      "type": "object",
      "properties": {
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A valid Oracle Database version."
        },
        "supportsPdb": {
          "type": "boolean",
          "description": "Output only. True if this version of the Oracle Database software supports pluggable databases.",
          "readOnly": true
        },
        "isLatestForMajorVersion": {
          "description": "Output only. True if this version of the Oracle Database software is the latest version for a release.",
          "type": "boolean",
          "readOnly": true
        },
        "isUpgradeSupported": {
          "description": "Output only. True if this version of the Oracle Database software is supported for Upgrade.",
          "type": "boolean",
          "readOnly": true
        },
        "isPreviewDbVersion": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if this version of the Oracle Database software is the preview version."
        }
      },
      "description": "The properties of a DbVersion."
    },
    "StopAutonomousDatabaseRequest": {
      "id": "StopAutonomousDatabaseRequest",
      "type": "object",
      "properties": {},
      "description": "The request for `AutonomousDatabase.Stop`."
    },
    "ExadbVmClusterProperties": {
      "description": "The properties of an ExadbVmCluster.",
      "id": "ExadbVmClusterProperties",
      "type": "object",
      "properties": {
        "shapeAttribute": {
          "description": "Required. Immutable. The shape attribute of the VM cluster. The type of Exascale storage used for Exadata VM cluster. The default is SMART_STORAGE which supports Oracle Database 23ai and later",
          "enum": [
            "SHAPE_ATTRIBUTE_UNSPECIFIED",
            "SMART_STORAGE",
            "BLOCK_STORAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in smart storage.",
            "Indicates that the resource is in block storage."
          ]
        },
        "scanListenerPortTcp": {
          "description": "Optional. Immutable. SCAN listener port - TCP",
          "type": "integer",
          "format": "int32"
        },
        "giVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Oracle Grid Infrastructure (GI) software version."
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of nodes/VMs in the ExadbVmCluster."
        },
        "additionalEcpuCountPerNode": {
          "description": "Optional. Immutable. The number of additional ECPUs per node for an Exadata VM cluster on exascale infrastructure.",
          "type": "integer",
          "format": "int32"
        },
        "dataCollectionOptions": {
          "description": "Optional. Immutable. Indicates user preference for data collection options.",
          "$ref": "DataCollectionOptionsCommon"
        },
        "timeZone": {
          "description": "Optional. Immutable. The time zone of the ExadbVmCluster.",
          "$ref": "TimeZone"
        },
        "clusterName": {
          "type": "string",
          "description": "Optional. Immutable. The cluster name for Exascale vm cluster. The cluster name must begin with an alphabetic character and may contain hyphens(-) but can not contain underscores(_). It should be not more than 11 characters and is not case sensitive. OCI Cluster name."
        },
        "enabledEcpuCountPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Immutable. The number of ECPUs enabled per node for an exadata vm cluster on exascale infrastructure."
        },
        "exascaleDbStorageVault": {
          "type": "string",
          "description": "Required. Immutable. The name of ExascaleDbStorageVault associated with the ExadbVmCluster. It can refer to an existing ExascaleDbStorageVault. Or a new one can be created during the ExadbVmCluster creation (requires storage_vault_properties to be set). Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "sshPublicKeys": {
          "description": "Required. Immutable. The SSH public keys for the ExadbVmCluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lifecycleState": {
          "type": "string",
          "enum": [
            "EXADB_VM_CLUSTER_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "description": "Output only. State of the cluster.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ]
        },
        "hostnamePrefix": {
          "description": "Required. Immutable. Prefix for VM cluster host names.",
          "type": "string"
        },
        "ociUri": {
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true
        },
        "memorySizeGb": {
          "description": "Output only. Memory per VM (GB) (Read-only): Shows the amount of memory allocated to each VM. Memory is calculated based on 2.75 GB per Total ECPUs.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "vmFileSystemStorage": {
          "$ref": "ExadbVmClusterStorageDetails",
          "description": "Required. Immutable. Total storage details for the ExadbVmCluster."
        },
        "gridImageId": {
          "description": "Required. Immutable. Grid Infrastructure Version.",
          "type": "string"
        },
        "licenseModel": {
          "type": "string",
          "description": "Optional. Immutable. The license type of the ExadbVmCluster.",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Default is license included.",
            "Bring your own license."
          ]
        },
        "hostname": {
          "type": "string",
          "description": "Output only. The hostname of the ExadbVmCluster.",
          "readOnly": true
        }
      }
    },
    "PluggableDatabaseProperties": {
      "id": "PluggableDatabaseProperties",
      "type": "object",
      "properties": {
        "databaseManagementConfig": {
          "description": "Output only. The configuration of the Database Management service.",
          "readOnly": true,
          "$ref": "DatabaseManagementConfig"
        },
        "containerDatabaseOcid": {
          "description": "Required. The OCID of the CDB.",
          "type": "string"
        },
        "lifecycleState": {
          "description": "Output only. The current state of the pluggable database.",
          "readOnly": true,
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The pluggable database is provisioning.",
            "The pluggable database is available.",
            "The pluggable database is terminating.",
            "The pluggable database is terminated.",
            "The pluggable database is updating.",
            "The pluggable database is in a failed state.",
            "The pluggable database is relocating.",
            "The pluggable database is relocated.",
            "The pluggable database is refreshing.",
            "The pluggable database is restoring.",
            "The pluggable database restore failed.",
            "The pluggable database is backing up.",
            "The pluggable database is disabled."
          ],
          "type": "string",
          "enum": [
            "PLUGGABLE_DATABASE_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "TERMINATED",
            "UPDATING",
            "FAILED",
            "RELOCATING",
            "RELOCATED",
            "REFRESHING",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "DISABLED"
          ]
        },
        "isRestricted": {
          "description": "Optional. The restricted mode of the pluggable database. If a pluggable database is opened in restricted mode, the user needs both create a session and have restricted session privileges to connect to it.",
          "type": "boolean"
        },
        "pdbNodeLevelDetails": {
          "description": "Optional. Pluggable Database Node Level Details",
          "items": {
            "$ref": "PluggableDatabaseNodeLevelDetails"
          },
          "type": "array"
        },
        "operationsInsightsState": {
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "type": "string",
          "description": "Output only. The status of Operations Insights for this Database.",
          "readOnly": true,
          "enumDescriptions": [
            "The status is not specified.",
            "Operations Insights is enabling.",
            "Operations Insights is enabled.",
            "Operations Insights is disabling.",
            "Operations Insights is not enabled.",
            "Operations Insights failed to enable.",
            "Operations Insights failed to disable."
          ]
        },
        "compartmentId": {
          "type": "string",
          "description": "Required. The OCID of the compartment."
        },
        "definedTags": {
          "type": "object",
          "additionalProperties": {
            "$ref": "DefinedTagValue"
          },
          "description": "Optional. Defined tags for this resource. Each key is predefined and scoped to a namespace."
        },
        "freeformTags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Free-form tags for this resource. Each tag is a simple key-value pair with no predefined name, type, or namespace."
        },
        "lifecycleDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current lifecycle state."
        },
        "connectionStrings": {
          "$ref": "PluggableDatabaseConnectionStrings",
          "description": "Optional. The Connection strings used to connect to the Oracle Database."
        },
        "ocid": {
          "description": "Output only. The OCID of the pluggable database.",
          "type": "string",
          "readOnly": true
        },
        "pdbName": {
          "type": "string",
          "description": "Required. The database name."
        }
      },
      "description": "The properties of a PluggableDatabase."
    },
    "DbSystemInitialStorageSize": {
      "description": "Summary of the DbSystem initial storage size.",
      "id": "DbSystemInitialStorageSize",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the resource."
        },
        "properties": {
          "description": "Output only. The properties of the DbSystem initial storage size summary.",
          "readOnly": true,
          "$ref": "DbSystemInitialStorageSizeProperties"
        }
      }
    },
    "AutonomousDatabaseCharacterSet": {
      "description": "Details of the Autonomous Database character set resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseCharacterSets/",
      "id": "AutonomousDatabaseCharacterSet",
      "type": "object",
      "properties": {
        "characterSet": {
          "description": "Output only. The character set name for the Autonomous Database which is the ID in the resource name.",
          "type": "string",
          "readOnly": true
        },
        "name": {
[...]
