{
  "revision": "20260305",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://oracledatabase.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "oracledatabase.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "oracledatabase.projects.locations.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "entitlements": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListEntitlementsResponse"
                  },
                  "path": "v1/{+parent}/entitlements",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 entitlements will be returned. The maximum value is 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent value for the entitlement in the following format: projects/{project}/locations/{location}."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "oracledatabase.projects.locations.entitlements.list",
                  "description": "Lists the entitlements in a given project.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entitlements",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "dbSystemShapes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListDbSystemShapesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 database system shapes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request. Only the gcp_oracle_zone_id field is supported in this format: `gcp_oracle_zone_id=\"{gcp_oracle_zone_id}\"`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent value for Database System Shapes in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "id": "oracledatabase.projects.locations.dbSystemShapes.list",
                  "path": "v1/{+parent}/dbSystemShapes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the database system shapes available for the project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystemShapes",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "autonomousDatabases": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the details of a single Autonomous Database.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AutonomousDatabase"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Updates the parameters of a single Autonomous Database.",
                  "request": {
                    "$ref": "AutonomousDatabase"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Exadata resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.patch"
                },
                "failover": {
                  "description": "Initiates a failover to target autonomous database from the associated primary database.",
                  "request": {
                    "$ref": "FailoverAutonomousDatabaseRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:failover",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:failover",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.failover"
                },
                "list": {
                  "path": "v1/{+parent}/autonomousDatabases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous Database will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent value for the Autonomous Database in the following format: projects/{project}/locations/{location}.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.list",
                  "response": {
                    "$ref": "ListAutonomousDatabasesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the Autonomous Databases in a given project and location.",
                  "httpMethod": "GET"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single Autonomous Database.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the resource in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.delete",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "switchover": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:switchover",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.switchover",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}."
                    }
                  },
                  "description": "Initiates a switchover of specified autonomous database to the associated peer database.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SwitchoverAutonomousDatabaseRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:switchover"
                },
                "restore": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:restore",
                  "description": "Restores a single Autonomous Database.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RestoreAutonomousDatabaseRequest"
                  },
                  "path": "v1/{+name}:restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.restore",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "generateWallet": {
                  "path": "v1/{+name}:generateWallet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.generateWallet",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}."
                    }
                  },
                  "response": {
                    "$ref": "GenerateAutonomousDatabaseWalletResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:generateWallet",
                  "description": "Generates a wallet for an Autonomous Database.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GenerateAutonomousDatabaseWalletRequest"
                  }
                },
                "create": {
                  "id": "oracledatabase.projects.locations.autonomousDatabases.create",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The name of the parent in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "autonomousDatabaseId": {
                      "type": "string",
                      "description": "Required. The ID of the Autonomous Database to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/autonomousDatabases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "AutonomousDatabase"
                  },
                  "description": "Creates a new Autonomous Database in a given project and location."
                },
                "stop": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$"
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.stop",
                  "path": "v1/{+name}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:stop",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StopAutonomousDatabaseRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Stops an Autonomous Database."
                },
                "restart": {
                  "description": "Restarts an Autonomous Database.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RestartAutonomousDatabaseRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:restart",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:restart",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.restart",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}."
                    }
                  }
                },
                "start": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartAutonomousDatabaseRequest"
                  },
                  "description": "Starts an Autonomous Database.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:start",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.start",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:start",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "exascaleDbStorageVaults": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExascaleDbStorageVault"
                  },
                  "description": "Creates a new ExascaleDB Storage Vault resource.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.create",
                  "parameters": {
                    "exascaleDbStorageVaultId": {
                      "type": "string",
                      "description": "Required. The ID of the ExascaleDbStorageVault to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The value for parent of the ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/exascaleDbStorageVaults",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults/{exascaleDbStorageVaultsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a single ExascaleDB Storage Vault.",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/exascaleDbStorageVaults/[^/]+$",
                      "description": "Required. The name of the ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}."
                    }
                  },
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/exascaleDbStorageVaults",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent value for ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 ExascaleDbStorageVaults will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. Filter the list as specified in https://google.aip.dev/160.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. An expression for ordering the results of the request. Order results as specified in https://google.aip.dev/132.",
                      "location": "query"
                    }
                  },
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.list",
                  "response": {
                    "$ref": "ListExascaleDbStorageVaultsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all the ExascaleDB Storage Vaults for the given project and location.",
                  "httpMethod": "GET"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults/{exascaleDbStorageVaultsId}",
                  "description": "Gets details of a single ExascaleDB Storage Vault.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/exascaleDbStorageVaults/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ExascaleDbStorageVault"
                  }
                }
              }
            },
            "autonomousDbVersions": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists all the available Autonomous Database versions for a project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDbVersions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAutonomousDbVersionsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent value for the Autonomous Database in the following format: projects/{project}/locations/{location}."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous DB Versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDbVersions.list",
                  "path": "v1/{+parent}/autonomousDbVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "odbNetworks": {
              "methods": {
                "list": {
                  "description": "Lists the ODB Networks in a given project and location.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListOdbNetworksResponse"
                  },
                  "path": "v1/{+parent}/odbNetworks",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 ODB Networks will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent value for the ODB Network in the following format: projects/{project}/locations/{location}."
                    }
                  },
                  "id": "oracledatabase.projects.locations.odbNetworks.list"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}",
                  "description": "Gets details of a single ODB Network.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.odbNetworks.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the OdbNetwork in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "OdbNetwork"
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent value for the OdbNetwork in the following format: projects/{project}/locations/{location}."
                    },
                    "odbNetworkId": {
                      "description": "Required. The ID of the OdbNetwork to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "oracledatabase.projects.locations.odbNetworks.create",
                  "path": "v1/{+parent}/odbNetworks",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "OdbNetwork"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new ODB Network in a given project and location."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single ODB Network.",
                  "id": "oracledatabase.projects.locations.odbNetworks.delete",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The name of the resource in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "odbSubnets": {
                  "methods": {
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}/odbSubnets",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "OdbSubnet"
                      },
                      "httpMethod": "POST",
                      "description": "Creates a new ODB Subnet in a given ODB Network.",
                      "parameters": {
                        "odbSubnetId": {
                          "description": "Required. The ID of the OdbSubnet to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent value for the OdbSubnet in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}."
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "id": "oracledatabase.projects.locations.odbNetworks.odbSubnets.create",
                      "path": "v1/{+parent}/odbSubnets",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}/odbSubnets/{odbSubnetsId}",
                      "description": "Deletes a single ODB Subnet.",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "oracledatabase.projects.locations.odbNetworks.odbSubnets.delete",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+/odbSubnets/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the resource in the following format: projects/{project}/locations/{region}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}."
                        },
                        "requestId": {
                          "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListOdbSubnetsResponse"
                      },
                      "id": "oracledatabase.projects.locations.odbNetworks.odbSubnets.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent value for the OdbSubnet in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return. If unspecified, at most 50 ODB Networks will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. An expression for filtering the results of the request.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. An expression for ordering the results of the request.",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/odbSubnets",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists all the ODB Subnets in a given ODB Network.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}/odbSubnets"
                    },
                    "get": {
                      "description": "Gets details of a single ODB Subnet.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}/odbSubnets/{odbSubnetsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "OdbSubnet"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+/odbSubnets/[^/]+$",
                          "description": "Required. The name of the OdbSubnet in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}."
                        }
                      },
                      "id": "oracledatabase.projects.locations.odbNetworks.odbSubnets.get"
                    }
                  }
                }
              }
            },
            "dbSystemInitialStorageSizes": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists all the DbSystemInitialStorageSizes for the given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystemInitialStorageSizes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDbSystemInitialStorageSizesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying the requested page of results to return. All fields except the filter should remain the same as in the request that provided this page token.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent value for the DbSystemInitialStorageSize resource with the format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 DbSystemInitialStorageSizes will be returned. The maximum value is 1000; values above 1000 will be reset to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "id": "oracledatabase.projects.locations.dbSystemInitialStorageSizes.list",
                  "path": "v1/{+parent}/dbSystemInitialStorageSizes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "databaseCharacterSets": {
              "methods": {
                "list": {
                  "description": "List DatabaseCharacterSets for the given project and location.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/databaseCharacterSets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDatabaseCharacterSetsResponse"
                  },
                  "path": "v1/{+parent}/databaseCharacterSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDatabaseCharacterSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDatabaseCharacterSets` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent value for DatabaseCharacterSets in the following format: projects/{project}/locations/{location}.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of DatabaseCharacterSets to return. The service may return fewer than this value. If unspecified, at most 50 DatabaseCharacterSets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. Only the **character_set_type** field is supported in the following format: `character_set_type=\"{characterSetType}\"`. Accepted values include `DATABASE` and `NATIONAL`.",
                      "location": "query"
                    }
                  },
                  "id": "oracledatabase.projects.locations.databaseCharacterSets.list"
                }
              }
            },
            "exadbVmClusters": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "ExadbVmCluster"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/exadbVmClusters/[^/]+$",
                      "description": "Required. The name of the ExadbVmCluster in the following format: projects/{project}/locations/{location}/exadbVmClusters/{exadb_vm_cluster}."
                    }
                  },
                  "id": "oracledatabase.projects.locations.exadbVmClusters.get",
                  "description": "Gets details of a single Exadb (Exascale) VM Cluster.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters/{exadbVmClustersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters",
                  "description": "Creates a new Exadb (Exascale) VM Cluster resource.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExadbVmCluster"
                  },
                  "path": "v1/{+parent}/exadbVmClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.exadbVmClusters.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The value for parent of the ExadbVmCluster in the following format: projects/{project}/locations/{location}."
                    },
                    "exadbVmClusterId": {
                      "type": "string",
                      "description": "Required. The ID of the ExadbVmCluster to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "removeVirtualMachine": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "oracledatabase.projects.locations.exadbVmClusters.removeVirtualMachine",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/exadbVmClusters/[^/]+$",
                      "description": "Required. The name of the ExadbVmCluster in the following format: projects/{project}/locations/{location}/exadbVmClusters/{exadb_vm_cluster}."
                    }
                  },
                  "path": "v1/{+name}:removeVirtualMachine",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RemoveVirtualMachineExadbVmClusterRequest"
                  },
                  "description": "Removes virtual machines from an existing exadb vm cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters/{exadbVmClustersId}:removeVirtualMachine"
                },
                "list": {
                  "response": {
                    "$ref": "ListExadbVmClustersResponse"
                  },
                  "path": "v1/{+parent}/exadbVmClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 ExadbVmClusters will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent value for ExadbVmClusters in the following format: projects/{project}/locations/{location}."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "oracledatabase.projects.locations.exadbVmClusters.list",
                  "description": "Lists all the Exadb (Exascale) VM Clusters for the given project and location.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "ExadbVmCluster"
                  },
                  "description": "Updates a single Exadb (Exascale) VM Cluster. To add virtual machines to existing exadb vm cluster, only pass the node count.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters/{exadbVmClustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "oracledatabase.projects.locations.exadbVmClusters.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. A mask specifying which fields in th VM Cluster should be updated. A field specified in the mask is overwritten. If a mask isn't provided then all the fields in the VM Cluster are overwritten.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/exadbVmClusters/[^/]+$",
                      "description": "Identifier. The name of the ExadbVmCluster resource in the following format: projects/{project}/locations/{region}/exadbVmClusters/{exadb_vm_cluster}"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Exadb (Exascale) VM Cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters/{exadbVmClustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "oracledatabase.projects.locations.exadbVmClusters.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ExadbVmCluster in the following format: projects/{project}/locations/{location}/exadbVmClusters/{exadb_vm_cluster}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/exadbVmClusters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "dbNodes": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the node should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return. If unspecified, at most 50 db nodes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. The parent value for database node in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloudVmCluster}. .",
                          "pattern": "^projects/[^/]+/locations/[^/]+/exadbVmClusters/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "oracledatabase.projects.locations.exadbVmClusters.dbNodes.list",
                      "path": "v1/{+parent}/dbNodes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListDbNodesResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters/{exadbVmClustersId}/dbNodes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists the database nodes of a VM Cluster."
                    }
                  }
                }
              }
            },
            "cloudVmClusters": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists the VM Clusters in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCloudVmClustersResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent in the following format: projects/{project}/locations/{location}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The number of VM clusters to return. If unspecified, at most 50 VM clusters will be returned. The maximum value is 1,000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying the page of results the server returns.",
                      "location": "query"
                    }
                  },
                  "id": "oracledatabase.projects.locations.cloudVmClusters.list",
                  "path": "v1/{+parent}/cloudVmClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudVmClusters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Cloud VM Cluster in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}."
                    }
                  },
                  "id": "oracledatabase.projects.locations.cloudVmClusters.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "CloudVmCluster"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters/{cloudVmClustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single VM Cluster."
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters",
                  "description": "Creates a new VM Cluster in a given project and location.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CloudVmCluster"
                  },
                  "path": "v1/{+parent}/cloudVmClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.cloudVmClusters.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the parent in the following format: projects/{project}/locations/{location}."
                    },
                    "cloudVmClusterId": {
                      "type": "string",
                      "description": "Required. The ID of the VM Cluster to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.cloudVmClusters.delete",
                  "parameters": {
                    "force": {
                      "description": "Optional. If set to true, all child resources for the VM Cluster will be deleted. A VM Cluster can only be deleted once all its child resources have been deleted.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudVmClusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Cloud VM Cluster in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters/{cloudVmClustersId}",
                  "description": "Deletes a single VM Cluster.",
                  "httpMethod": "DELETE"
                }
              },
              "resources": {
                "dbNodes": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters/{cloudVmClustersId}/dbNodes",
                      "httpMethod": "GET",
                      "description": "Lists the database nodes of a VM Cluster.",
                      "id": "oracledatabase.projects.locations.cloudVmClusters.dbNodes.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent value for database node in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloudVmCluster}. .",
                          "pattern": "^projects/[^/]+/locations/[^/]+/cloudVmClusters/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return. If unspecified, at most 50 db nodes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the node should return.",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/dbNodes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListDbNodesResponse"
                      }
                    }
                  }
                }
              }
            },
            "autonomousDatabaseBackups": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListAutonomousDatabaseBackupsResponse"
                  },
                  "path": "v1/{+parent}/autonomousDatabaseBackups",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabaseBackups.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. Only the **autonomous_database_id** field is supported in the following format: `autonomous_database_id=\"{autonomous_database_id}\"`. The accepted values must be a valid Autonomous Database ID, limited to the naming restrictions of the ID: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$). The ID must start with a letter, end with a letter or a number, and be a maximum of 63 characters.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous DB Backups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent value for ListAutonomousDatabaseBackups in the following format: projects/{project}/locations/{location}."
                    }
                  },
                  "description": "Lists the long-term and automatic backups of an Autonomous Database.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabaseBackups"
                }
              }
            },
            "dbSystems": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "oracledatabase.projects.locations.dbSystems.create",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "dbSystemId": {
                      "description": "Required. The ID of the DbSystem to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The value for parent of the DbSystem in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/dbSystems",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DbSystem"
                  },
                  "description": "Creates a new DbSystem in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the DbSystem in the following format: projects/{project}/locations/{location}/dbSystems/{db_system}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbSystems/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "oracledatabase.projects.locations.dbSystems.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems/{dbSystemsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a single DbSystem."
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists all the DbSystems for the given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDbSystemsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 DbSystems will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The parent value for DbSystems in the following format: projects/{project}/locations/{location}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "id": "oracledatabase.projects.locations.dbSystems.list",
                  "path": "v1/{+parent}/dbSystems",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems/{dbSystemsId}",
                  "description": "Gets details of a single DbSystem.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.dbSystems.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbSystems/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the DbSystem in the following format: projects/{project}/locations/{location}/dbSystems/{db_system}."
                    }
                  },
                  "response": {
                    "$ref": "DbSystem"
                  }
                }
              }
            },
            "dbVersions": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/dbVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.dbVersions.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying the requested page of results to return. All fields except the filter should remain the same as in the request that provided this page token.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent value for the DbVersion resource with the format: projects/{project}/locations/{location}",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 DbVersions will be returned. The maximum value is 1000; values above 1000 will be reset to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filter expression that matches a subset of the DbVersions to show. The supported filter for dbSystem creation is `db_system_shape = {db_system_shape} AND storage_management = {storage_management}`. If no filter is provided, all DbVersions will be returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListDbVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbVersions",
                  "description": "List DbVersions for the given project and location.",
                  "httpMethod": "GET"
                }
              }
            },
            "autonomousDatabaseCharacterSets": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists Autonomous Database Character Sets in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabaseCharacterSets",
                  "response": {
                    "$ref": "ListAutonomousDatabaseCharacterSetsResponse"
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabaseCharacterSets.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent value for the Autonomous Database in the following format: projects/{project}/locations/{location}."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous DB Character Sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. Only the **character_set_type** field is supported in the following format: `character_set_type=\"{characterSetType}\"`. Accepted values include `DATABASE` and `NATIONAL`.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/autonomousDatabaseCharacterSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "id": "oracledatabase.projects.locations.operations.list",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
[...]
