{
  "fullyEncodeReservedExpansion": true,
  "name": "oracledatabase",
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "endpoints": [
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "canonicalName": "Oracle Database",
  "discoveryVersion": "v1",
  "version": "v1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "The Oracle Database@Google Cloud API provides a set of APIs to manage Oracle database services, such as Exadata and Autonomous Databases.",
  "protocol": "rest",
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "schemas": {
    "DbSystemInitialStorageSizeProperties": {
      "id": "DbSystemInitialStorageSizeProperties",
      "properties": {
        "storageManagement": {
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "description": "Output only. The storage option used in DB system.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage management.",
            "Automatic Storage Management.",
            "Logical Volume Management."
          ]
        },
        "storageSizeDetails": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of storage disk details.",
          "items": {
            "$ref": "StorageSizeDetails"
          }
        },
        "launchFromBackupStorageSizeDetails": {
          "description": "Output only. List of storage disk details available for launches from backup.",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "readOnly": true,
          "type": "array"
        },
        "shapeType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SHAPE_TYPE_UNSPECIFIED",
            "STANDARD_X86"
          ],
          "description": "Output only. VM shape platform type",
          "enumDescriptions": [
            "Unspecified shape type.",
            "Standard X86."
          ]
        }
      },
      "type": "object",
      "description": "The properties of a DbSystem initial storage size summary."
    },
    "ListCloudExadataInfrastructuresResponse": {
      "type": "object",
      "id": "ListCloudExadataInfrastructuresResponse",
      "properties": {
        "cloudExadataInfrastructures": {
          "type": "array",
          "description": "The list of Exadata Infrastructures.",
          "items": {
            "$ref": "CloudExadataInfrastructure"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token for fetching next page of response."
        }
      },
      "description": "The response for `CloudExadataInfrastructures.list`."
    },
    "ExadbVmClusterProperties": {
      "id": "ExadbVmClusterProperties",
      "properties": {
        "ociUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource."
        },
        "enabledEcpuCountPerNode": {
          "type": "integer",
          "description": "Required. Immutable. The number of ECPUs enabled per node for an exadata vm cluster on exascale infrastructure.",
          "format": "int32"
        },
        "vmFileSystemStorage": {
          "description": "Required. Immutable. Total storage details for the ExadbVmCluster.",
          "$ref": "ExadbVmClusterStorageDetails"
        },
        "licenseModel": {
          "enumDescriptions": [
            "Unspecified.",
            "Default is license included.",
            "Bring your own license."
          ],
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "description": "Optional. Immutable. The license type of the ExadbVmCluster.",
          "type": "string"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Optional. Immutable. The time zone of the ExadbVmCluster."
        },
        "sshPublicKeys": {
          "type": "array",
          "description": "Required. Immutable. The SSH public keys for the ExadbVmCluster.",
          "items": {
            "type": "string"
          }
        },
        "dataCollectionOptions": {
          "description": "Optional. Immutable. Indicates user preference for data collection options.",
          "$ref": "DataCollectionOptionsCommon"
        },
        "shapeAttribute": {
          "type": "string",
          "description": "Required. Immutable. The shape attribute of the VM cluster. The type of Exascale storage used for Exadata VM cluster. The default is SMART_STORAGE which supports Oracle Database 23ai and later",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in smart storage.",
            "Indicates that the resource is in block storage."
          ],
          "enum": [
            "SHAPE_ATTRIBUTE_UNSPECIFIED",
            "SMART_STORAGE",
            "BLOCK_STORAGE"
          ]
        },
        "gridImageId": {
          "description": "Required. Immutable. Grid Infrastructure Version.",
          "type": "string"
        },
        "scanListenerPortTcp": {
          "type": "integer",
          "description": "Optional. Immutable. SCAN listener port - TCP",
          "format": "int32"
        },
        "additionalEcpuCountPerNode": {
          "description": "Optional. Immutable. The number of additional ECPUs per node for an Exadata VM cluster on exascale infrastructure.",
          "format": "int32",
          "type": "integer"
        },
        "memorySizeGb": {
          "description": "Output only. Memory per VM (GB) (Read-only): Shows the amount of memory allocated to each VM. Memory is calculated based on 2.75 GB per Total ECPUs.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "lifecycleState": {
          "description": "Output only. State of the cluster.",
          "enum": [
            "EXADB_VM_CLUSTER_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ]
        },
        "exascaleDbStorageVault": {
          "description": "Required. Immutable. The name of ExascaleDbStorageVault associated with the ExadbVmCluster. It can refer to an existing ExascaleDbStorageVault. Or a new one can be created during the ExadbVmCluster creation (requires storage_vault_properties to be set). Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}",
          "type": "string"
        },
        "giVersion": {
          "description": "Output only. The Oracle Grid Infrastructure (GI) software version.",
          "readOnly": true,
          "type": "string"
        },
        "clusterName": {
          "type": "string",
          "description": "Optional. Immutable. The cluster name for Exascale vm cluster. The cluster name must begin with an alphabetic character and may contain hyphens(-) but can not contain underscores(_). It should be not more than 11 characters and is not case sensitive. OCI Cluster name."
        },
        "nodeCount": {
          "type": "integer",
          "description": "Required. The number of nodes/VMs in the ExadbVmCluster.",
          "format": "int32"
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Required. Immutable. Prefix for VM cluster host names."
        },
        "hostname": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The hostname of the ExadbVmCluster."
        }
      },
      "type": "object",
      "description": "The properties of an ExadbVmCluster."
    },
    "ListDbNodesResponse": {
      "type": "object",
      "id": "ListDbNodesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the node should return.",
          "type": "string"
        },
        "dbNodes": {
          "type": "array",
          "description": "The list of DB Nodes",
          "items": {
            "$ref": "DbNode"
          }
        }
      },
      "description": "The response for `DbNode.List`."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "percentComplete": {
          "description": "Output only. An estimated percentage of the operation that has been completed at a given moment of time, between 0 and 100.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AutonomousDatabaseCharacterSet": {
      "id": "AutonomousDatabaseCharacterSet",
      "properties": {
        "characterSet": {
          "description": "Output only. The character set name for the Autonomous Database which is the ID in the resource name.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database Character Set resource in the following format: projects/{project}/locations/{region}/autonomousDatabaseCharacterSets/{autonomous_database_character_set}"
        },
        "characterSetType": {
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ],
          "description": "Output only. The character set type for the Autonomous Database.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ]
        }
      },
      "type": "object",
      "description": "Details of the Autonomous Database character set resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseCharacterSets/"
    },
    "ListAutonomousDatabaseBackupsResponse": {
      "type": "object",
      "id": "ListAutonomousDatabaseBackupsResponse",
      "properties": {
        "autonomousDatabaseBackups": {
          "description": "The list of Autonomous Database Backups.",
          "items": {
            "$ref": "AutonomousDatabaseBackup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `AutonomousDatabaseBackup.List`."
    },
    "DatabaseConnectionStringProfile": {
      "id": "DatabaseConnectionStringProfile",
      "properties": {
        "protocol": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Tcp",
            "Tcps"
          ],
          "description": "Output only. The protocol being used by the connection.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "TCP",
            "TCPS"
          ],
          "readOnly": true,
          "type": "string"
        },
        "sessionMode": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Direct",
            "Indirect"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT"
          ],
          "description": "Output only. The current session mode of the connection."
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the connection string."
        },
        "consumerGroup": {
          "enum": [
            "CONSUMER_GROUP_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "TP",
            "TPURGENT"
          ],
          "description": "Output only. The current consumer group being used by the connection.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "High consumer group.",
            "Medium consumer group.",
            "Low consumer group.",
            "TP consumer group.",
            "TPURGENT consumer group."
          ]
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name for the database connection."
        },
        "isRegional": {
          "description": "Output only. This field indicates if the connection string is regional and is only applicable for cross-region Data Guard.",
          "readOnly": true,
          "type": "boolean"
        },
        "hostFormat": {
          "enum": [
            "HOST_FORMAT_UNSPECIFIED",
            "FQDN",
            "IP"
          ],
          "description": "Output only. The host name format being currently used in connection string.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "FQDN",
            "IP"
          ]
        },
        "syntaxFormat": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Long",
            "Ezconnect",
            "Ezconnectplus"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The syntax of the connection string.",
          "enum": [
            "SYNTAX_FORMAT_UNSPECIFIED",
            "LONG",
            "EZCONNECT",
            "EZCONNECTPLUS"
          ]
        },
        "tlsAuthentication": {
          "description": "Output only. This field indicates the TLS authentication type of the connection.",
          "enum": [
            "TLS_AUTHENTICATION_UNSPECIFIED",
            "SERVER",
            "MUTUAL"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Server",
            "Mutual"
          ]
        }
      },
      "type": "object",
      "description": "The connection string profile to allow clients to group. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DatabaseConnectionStringProfile"
    },
    "StartAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Start`.",
      "id": "StartAutonomousDatabaseRequest",
      "properties": {},
      "type": "object"
    },
    "OdbNetwork": {
      "description": "Represents OdbNetwork resource.",
      "type": "object",
      "id": "OdbNetwork",
      "properties": {
        "network": {
          "description": "Required. The name of the VPC network in the following format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the OdbNetwork resource in the following format: projects/{project}/locations/{region}/odbNetworks/{odb_network}"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels or tags associated with the resource."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the ODB Network.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ]
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the OdbNetwork."
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where OdbNetwork is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        }
      }
    },
    "ListDatabasesResponse": {
      "id": "ListDatabasesResponse",
      "properties": {
        "databases": {
          "description": "The list of Databases.",
          "items": {
            "$ref": "Database"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for `Database.List`."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListGiVersionsResponse": {
      "type": "object",
      "id": "ListGiVersionsResponse",
      "properties": {
        "giVersions": {
          "type": "array",
          "description": "The list of Oracle Grid Infrastructure (GI) versions.",
          "items": {
            "$ref": "GiVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response for `GiVersion.List`."
    },
    "Database": {
      "type": "object",
      "id": "Database",
      "properties": {
        "pluggableDatabaseId": {
          "description": "Optional. The ID of the pluggable database associated with the Database. The ID must be unique within the project and location.",
          "type": "string"
        },
        "pluggableDatabaseName": {
          "type": "string",
          "description": "Optional. The pluggable database associated with the Database. The name must begin with an alphabetic character and can contain a maximum of thirty alphanumeric characters."
        },
        "adminPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "properties": {
          "description": "Optional. The properties of the Database.",
          "$ref": "DatabaseProperties"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The date and time that the Database was created.",
          "format": "google-datetime"
        },
        "adminPassword": {
          "type": "string",
          "description": "Optional. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "tdeWalletPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the TDE wallet password for the database. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated."
        },
        "dbName": {
          "description": "Optional. The database name. The name must begin with an alphabetic character and can contain a maximum of eight alphanumeric characters. Special characters are not permitted.",
          "type": "string"
        },
        "opsInsightsStatus": {
          "description": "Output only. The Status of Operations Insights for this Database.",
          "enum": [
            "OPERATIONS_INSIGHTS_STATUS_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the operations insights are being enabled.",
            "Indicates that the operations insights are enabled.",
            "Indicates that the operations insights are being disabled.",
            "Indicates that the operations insights are not enabled.",
            "Indicates that the operations insights failed to enable.",
            "Indicates that the operations insights failed to disable."
          ]
        },
        "ncharacterSet": {
          "type": "string",
          "description": "Optional. The national character set for the database. The default is AL16UTF16."
        },
        "gcpOracleZone": {
          "description": "Output only. The GCP Oracle zone where the Database is created.",
          "readOnly": true,
          "type": "string"
        },
        "databaseId": {
          "type": "string",
          "description": "Optional. The database ID of the Database."
        },
        "dbHomeName": {
          "description": "Optional. The name of the DbHome resource associated with the Database.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}"
        },
        "ociUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface."
        },
        "dbUniqueName": {
          "description": "Optional. The DB_UNIQUE_NAME of the Oracle Database being backed up.",
          "type": "string"
        },
        "tdeWalletPassword": {
          "type": "string",
          "description": "Optional. The TDE wallet password for the database. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated."
        },
        "characterSet": {
          "description": "Optional. The character set for the database. The default is AL32UTF8.",
          "type": "string"
        }
      },
      "description": "Details of the Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/Database/"
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "PluggableDatabaseNodeLevelDetails": {
      "description": "The Pluggable Database Node Level Details.",
      "type": "object",
      "id": "PluggableDatabaseNodeLevelDetails",
      "properties": {
        "openMode": {
          "enumDescriptions": [
            "The open mode is unspecified.",
            "The pluggable database is opened in read-only mode.",
            "The pluggable database is opened in read-write mode.",
            "The pluggable database is mounted.",
            "The pluggable database is migrated."
          ],
          "enum": [
            "PLUGGABLE_DATABASE_OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "MOUNTED",
            "MIGRATE"
          ],
          "description": "Required. The mode that the pluggable database is in to open it.",
          "type": "string"
        },
        "pluggableDatabaseId": {
          "description": "Required. The OCID of the Pluggable Database.",
          "type": "string"
        },
        "nodeName": {
          "type": "string",
          "description": "Required. The Node name of the Database home."
        }
      }
    },
    "CustomerContact": {
      "description": "The CustomerContact reference as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/CustomerContact",
      "id": "CustomerContact",
      "properties": {
        "email": {
          "description": "Required. The email address used by Oracle to send notifications regarding databases and infrastructure.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SwitchoverAutonomousDatabaseRequest": {
      "type": "object",
      "id": "SwitchoverAutonomousDatabaseRequest",
      "properties": {
        "peerAutonomousDatabase": {
          "description": "Optional. The peer database name to switch over to. Required for cross-region standby, and must be omitted for in-region Data Guard.",
          "type": "string"
        }
      },
      "description": "The request for `OracleDatabase.SwitchoverAutonomousDatabase`."
    },
    "ScheduledOperationDetails": {
      "type": "object",
      "id": "ScheduledOperationDetails",
      "properties": {
        "startTime": {
          "readOnly": true,
          "$ref": "TimeOfDay",
          "description": "Output only. Auto start time."
        },
        "stopTime": {
          "readOnly": true,
          "$ref": "TimeOfDay",
          "description": "Output only. Auto stop time."
        },
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Output only. Day of week."
        }
      },
      "description": "Details of scheduled operation. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/ScheduledOperationDetails"
    },
    "DataCollectionOptionsDbSystem": {
      "id": "DataCollectionOptionsDbSystem",
      "properties": {
        "isDiagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether to enable data collection for diagnostics.",
          "type": "boolean"
        },
        "isIncidentLogsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable incident logs and trace collection."
        }
      },
      "type": "object",
      "description": "Data collection options for DbSystem."
    },
    "ListDbSystemShapesResponse": {
      "id": "ListDbSystemShapesResponse",
      "properties": {
        "dbSystemShapes": {
          "description": "The list of Database System shapes.",
          "items": {
            "$ref": "DbSystemShape"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for `DbSystemShape.List`."
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "PluggableDatabaseProperties": {
      "id": "PluggableDatabaseProperties",
      "properties": {
        "lifecycleDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current lifecycle state."
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PLUGGABLE_DATABASE_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "TERMINATED",
            "UPDATING",
            "FAILED",
            "RELOCATING",
            "RELOCATED",
            "REFRESHING",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "DISABLED"
          ],
          "description": "Output only. The current state of the pluggable database.",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The pluggable database is provisioning.",
            "The pluggable database is available.",
            "The pluggable database is terminating.",
            "The pluggable database is terminated.",
            "The pluggable database is updating.",
            "The pluggable database is in a failed state.",
            "The pluggable database is relocating.",
            "The pluggable database is relocated.",
            "The pluggable database is refreshing.",
            "The pluggable database is restoring.",
            "The pluggable database restore failed.",
            "The pluggable database is backing up.",
            "The pluggable database is disabled."
          ]
        },
        "compartmentId": {
          "type": "string",
          "description": "Required. The OCID of the compartment."
        },
        "databaseManagementConfig": {
          "readOnly": true,
          "$ref": "DatabaseManagementConfig",
          "description": "Output only. The configuration of the Database Management service."
        },
        "connectionStrings": {
          "$ref": "PluggableDatabaseConnectionStrings",
          "description": "Optional. The Connection strings used to connect to the Oracle Database."
        },
        "pdbName": {
          "type": "string",
          "description": "Required. The database name."
        },
        "isRestricted": {
          "description": "Optional. The restricted mode of the pluggable database. If a pluggable database is opened in restricted mode, the user needs both create a session and have restricted session privileges to connect to it.",
          "type": "boolean"
        },
        "ocid": {
          "description": "Output only. The OCID of the pluggable database.",
          "readOnly": true,
          "type": "string"
        },
        "operationsInsightsState": {
          "enumDescriptions": [
            "The status is not specified.",
            "Operations Insights is enabling.",
            "Operations Insights is enabled.",
            "Operations Insights is disabling.",
            "Operations Insights is not enabled.",
            "Operations Insights failed to enable.",
            "Operations Insights failed to disable."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "description": "Output only. The status of Operations Insights for this Database."
        },
        "definedTags": {
          "description": "Optional. Defined tags for this resource. Each key is predefined and scoped to a namespace.",
          "type": "object",
          "additionalProperties": {
            "$ref": "DefinedTagValue"
          }
        },
        "pdbNodeLevelDetails": {
          "type": "array",
          "description": "Optional. Pluggable Database Node Level Details",
          "items": {
            "$ref": "PluggableDatabaseNodeLevelDetails"
          }
        },
        "containerDatabaseOcid": {
          "type": "string",
          "description": "Required. The OCID of the CDB."
        },
        "freeformTags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Free-form tags for this resource. Each tag is a simple key-value pair with no predefined name, type, or namespace."
        }
      },
      "type": "object",
      "description": "The properties of a PluggableDatabase."
    },
    "DbSystemOptions": {
      "description": "Details of the DbSystem Options.",
      "id": "DbSystemOptions",
      "properties": {
        "storageManagement": {
          "type": "string",
          "enumDescriptions": [
            "The storage management is unspecified.",
            "Automatic storage management.",
            "Logical Volume management."
          ],
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "description": "Optional. The storage option used in DB system."
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "description": "Maintenance window as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/MaintenanceWindow",
      "type": "object",
      "id": "MaintenanceWindow",
      "properties": {
        "leadTimeWeek": {
          "type": "integer",
          "description": "Optional. Lead time window allows user to set a lead time to prepare for a down time. The lead time is in weeks and valid value is between 1 to 4.",
          "format": "int32"
        },
        "weeksOfMonth": {
          "description": "Optional. Weeks during the month when maintenance should be performed. Weeks start on the 1st, 8th, 15th, and 22nd days of the month, and have a duration of 7 days. Weeks start and end based on calendar dates, not days of the week.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "isCustomActionTimeoutEnabled": {
          "type": "boolean",
          "description": "Optional. If true, enables the configuration of a custom action timeout (waiting period) between database server patching operations."
        },
        "hoursOfDay": {
          "type": "array",
          "description": "Optional. The window of hours during the day when maintenance should be performed. The window is a 4 hour slot. Valid values are: 0 - represents time slot 0:00 - 3:59 UTC 4 - represents time slot 4:00 - 7:59 UTC 8 - represents time slot 8:00 - 11:59 UTC 12 - represents time slot 12:00 - 15:59 UTC 16 - represents time slot 16:00 - 19:59 UTC 20 - represents time slot 20:00 - 23:59 UTC",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "daysOfWeek": {
          "type": "array",
          "description": "Optional. Days during the week when maintenance should be performed.",
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          }
        },
        "patchingMode": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Updates the Cloud Exadata database server hosts in a rolling fashion.",
            "The non-rolling maintenance method first updates your storage servers at the same time, then your database servers at the same time."
          ],
          "enum": [
            "PATCHING_MODE_UNSPECIFIED",
            "ROLLING",
            "NON_ROLLING"
          ],
          "description": "Optional. Cloud CloudExadataInfrastructure node patching method, either \"ROLLING\" or \"NONROLLING\". Default value is ROLLING."
        },
        "months": {
          "type": "array",
          "description": "Optional. Months during the year when maintenance should be performed.",
          "items": {
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ],
            "type": "string"
          }
        },
        "preference": {
          "description": "Optional. The maintenance window scheduling preference.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Custom preference.",
            "No preference."
          ],
          "enum": [
            "MAINTENANCE_WINDOW_PREFERENCE_UNSPECIFIED",
            "CUSTOM_PREFERENCE",
            "NO_PREFERENCE"
          ],
          "type": "string"
        },
        "customActionTimeoutMins": {
          "type": "integer",
          "description": "Optional. Determines the amount of time the system will wait before the start of each database server patching operation. Custom action timeout is in minutes and valid value is between 15 to 120 (inclusive).",
          "format": "int32"
        }
      }
    },
    "ListEntitlementsResponse": {
      "description": "The response for `Entitlement.List`.",
      "id": "ListEntitlementsResponse",
      "properties": {
        "entitlements": {
          "description": "The list of Entitlements",
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Entitlement": {
      "description": "Details of the Entitlement resource.",
      "type": "object",
      "id": "Entitlement",
      "properties": {
        "cloudAccountDetails": {
          "$ref": "CloudAccountDetails",
          "description": "Details of the OCI Cloud Account."
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google Cloud Marketplace order ID (aka entitlement ID)"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Entitlement State.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCOUNT_NOT_LINKED",
            "ACCOUNT_NOT_ACTIVE",
            "ACTIVE",
            "ACCOUNT_SUSPENDED",
            "NOT_APPROVED_IN_PRIVATE_MARKETPLACE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Account not linked.",
            "Account is linked but not active.",
            "Entitlement and Account are active.",
            "Account is suspended.",
            "Entitlement is not approved in private marketplace."
          ]
        },
        "name": {
          "description": "Identifier. The name of the Entitlement resource with the format: projects/{project}/locations/{region}/entitlements/{entitlement}",
          "type": "string"
        }
      }
    },
    "EncryptionKey": {
      "id": "EncryptionKey",
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Google Managed KMS key, if selected, please provide the KMS key name.",
            "Oracle Managed."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "ORACLE_MANAGED"
          ],
          "description": "Optional. The provider of the encryption key.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. The KMS key used to encrypt the Autonomous Database. This field is required if the provider is GOOGLE_MANAGED. The name of the KMS key resource in the following format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The encryption key used to encrypt the Autonomous Database."
    },
    "ListDbSystemsResponse": {
      "type": "object",
      "id": "ListDbSystemsResponse",
      "properties": {
        "dbSystems": {
          "type": "array",
          "description": "The list of DbSystems.",
          "items": {
            "$ref": "DbSystem"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response for `DbSystem.List`."
    },
    "AutonomousDatabaseConnectionUrls": {
      "type": "object",
      "id": "AutonomousDatabaseConnectionUrls",
      "properties": {
        "sqlDevWebUri": {
          "description": "Output only. The URL of the Oracle SQL Developer Web for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "apexUri": {
          "description": "Output only. Oracle Application Express (APEX) URL.",
          "readOnly": true,
          "type": "string"
        },
        "databaseTransformsUri": {
          "description": "Output only. The URL of the Database Transforms for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "machineLearningUserManagementUri": {
          "description": "Output only. The URL of Machine Learning user management the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "graphStudioUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of the Graph Studio for the Autonomous Database."
        },
        "mongoDbUri": {
          "description": "Output only. The URL of the MongoDB API for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "machineLearningNotebookUri": {
          "description": "Output only. The URL of the Oracle Machine Learning (OML) Notebook for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "ordsUri": {
          "description": "Output only. The Oracle REST Data Services (ORDS) URL of the Web Access for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The URLs for accessing Oracle Application Express (APEX) and SQL Developer Web with a browser from a Compute instance. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionUrls"
    },
    "OdbSubnet": {
      "id": "OdbSubnet",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "description": "Output only. State of the ODB Subnet.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ]
        },
        "name": {
          "description": "Identifier. The name of the OdbSubnet resource in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "purpose": {
          "type": "string",
          "description": "Required. Purpose of the subnet.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Subnet to be used for client connections.",
            "Subnet to be used for backup."
          ],
          "enum": [
            "PURPOSE_UNSPECIFIED",
            "CLIENT_SUBNET",
            "BACKUP_SUBNET"
          ]
        },
        "cidrRange": {
          "description": "Required. The CIDR range of the subnet.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents OdbSubnet resource."
    },
    "ExascaleDbStorageVaultProperties": {
      "description": "The properties of the ExascaleDbStorageVault. next ID: 12",
      "type": "object",
      "id": "ExascaleDbStorageVaultProperties",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state of the ExascaleDbStorageVault is unspecified.",
            "The ExascaleDbStorageVault is being provisioned.",
            "The ExascaleDbStorageVault is available.",
            "The ExascaleDbStorageVault is being updated.",
            "The ExascaleDbStorageVault is being deleted.",
            "The ExascaleDbStorageVault has been deleted.",
            "The ExascaleDbStorageVault has failed."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the ExascaleDbStorageVault.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ]
        },
        "vmClusterCount": {
          "description": "Output only. The number of VM clusters associated with the ExascaleDbStorageVault.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "exascaleDbStorageDetails": {
          "description": "Required. The storage details of the ExascaleDbStorageVault.",
          "$ref": "ExascaleDbStorageDetails"
        },
        "attachedShapeAttributes": {
          "description": "Output only. The shape attributes of the VM clusters attached to the ExascaleDbStorageVault.",
          "items": {
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ],
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "ocid": {
          "description": "Output only. The OCID for the ExascaleDbStorageVault.",
          "readOnly": true,
          "type": "string"
        },
        "additionalFlashCachePercent": {
          "description": "Optional. The size of additional flash cache in percentage of high capacity database storage.",
          "format": "int32",
          "type": "integer"
        },
        "ociUri": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the ExascaleDbStorageVault."
        },
        "availableShapeAttributes": {
          "description": "Output only. The shape attributes available for the VM clusters to be attached to the ExascaleDbStorageVault.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ]
          },
          "readOnly": true,
          "type": "array"
        },
        "timeZone": {
          "readOnly": true,
          "description": "Output only. The time zone of the ExascaleDbStorageVault.",
          "$ref": "TimeZone"
        },
        "vmClusterIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of VM cluster OCIDs associated with the ExascaleDbStorageVault.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CloudVmCluster": {
      "description": "Details of the Cloud VM Cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudVmCluster/",
      "id": "CloudVmCluster",
      "properties": {
        "gcpOracleZone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The GCP Oracle zone where Oracle CloudVmCluster is hosted. This will be the same as the gcp_oracle_zone of the CloudExadataInfrastructure. Example: us-east4-b-r2."
        },
        "name": {
          "description": "Identifier. The name of the VM Cluster resource with the format: projects/{project}/locations/{region}/cloudVmClusters/{cloud_vm_cluster}",
          "type": "string"
        },
        "backupSubnetCidr": {
          "type": "string",
          "description": "Optional. CIDR range of the backup subnet."
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. The name of the VPC network. Format: projects/{project}/global/networks/{network}"
        },
        "identityConnector": {
          "$ref": "IdentityConnector",
          "description": "Output only. The identity connector details which will allow OCI to securely access the resources in the customer project.",
          "readOnly": true
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the odb_subnet and backup_odb_subnet."
        },
        "exadataInfrastructure": {
          "type": "string",
          "description": "Required. The name of the Exadata Infrastructure resource on which VM cluster resource is created, in the following format: projects/{project}/locations/{region}/cloudExadataInfrastuctures/{cloud_extradata_infrastructure}"
        },
        "properties": {
          "description": "Optional. Various properties of the VM Cluster.",
          "$ref": "CloudVmClusterProperties"
        },
        "odbSubnet": {
          "type": "string",
          "description": "Optional. The name of the OdbSubnet associated with the VM Cluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "backupOdbSubnet": {
          "type": "string",
          "description": "Optional. The name of the backup OdbSubnet associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels or tags associated with the VM Cluster."
        },
        "createTime": {
          "description": "Output only. The date and time that the VM cluster was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cidr": {
          "description": "Optional. Network settings. CIDR to use for cluster IP allocation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DbHome": {
      "description": "Details of the Database Home resource.",
      "id": "DbHome",
      "properties": {
        "displayName": {
          "description": "Optional. The display name for the Database Home. The name does not have to be unique within your project.",
          "type": "string"
        },
        "dbVersion": {
          "type": "string",
          "description": "Required. A valid Oracle Database version. For a list of supported versions, use the ListDbVersions operation."
        },
        "database": {
          "description": "Required. The Database resource.",
          "$ref": "Database"
        },
        "isUnifiedAuditingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether unified auditing is enabled for the Database Home."
        }
      },
      "type": "object"
    },
    "ListOdbNetworksResponse": {
      "description": "The response for `OdbNetwork.List`.",
      "id": "ListOdbNetworksResponse",
      "properties": {
        "odbNetworks": {
          "description": "The list of ODB Networks.",
          "items": {
            "$ref": "OdbNetwork"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAutonomousDatabasesResponse": {
      "id": "ListAutonomousDatabasesResponse",
      "properties": {
        "autonomousDatabases": {
          "description": "The list of Autonomous Databases.",
          "items": {
            "$ref": "AutonomousDatabase"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "description": "The response for `AutonomousDatabase.List`."
    },
    "DatabaseCharacterSet": {
      "type": "object",
      "id": "DatabaseCharacterSet",
      "properties": {
        "characterSetType": {
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "description": "Output only. The character set type for the Database.",
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the Database Character Set resource in the following format: projects/{project}/locations/{region}/databaseCharacterSets/{database_character_set}",
          "type": "string"
        },
        "characterSet": {
          "description": "Output only. The character set name for the Database which is the ID in the resource name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Details of the Database character set resource."
    },
    "MinorVersion": {
      "description": "MinorVersion represents a minor version of a GI. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiMinorVersionSummary/",
      "type": "object",
      "id": "MinorVersion",
      "properties": {
        "version": {
          "description": "Optional. The valid Oracle grid infrastructure software version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the MinorVersion resource with the format: projects/{project}/locations/{region}/giVersions/{gi_version}/minorVersions/{minor_version}"
        },
        "gridImageId": {
          "description": "Optional. The ID of the Grid Image.",
          "type": "string"
        }
      }
    },
    "ListDatabaseCharacterSetsResponse": {
      "description": "The response for `DatabaseCharacterSet.List`.",
      "type": "object",
      "id": "ListDatabaseCharacterSetsResponse",
      "properties": {
        "databaseCharacterSets": {
          "type": "array",
          "description": "The list of DatabaseCharacterSets.",
          "items": {
            "$ref": "DatabaseCharacterSet"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "DbNodeProperties": {
      "id": "DbNodeProperties",
      "properties": {
        "hostname": {
          "description": "Optional. DNS",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The date and time that the database node was created.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in stopping state.",
            "Indicates that the resource is in stopped state.",
            "Indicates that the resource is in starting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "description": "Output only. State of the database node.",
          "readOnly": true,
          "type": "string"
        },
        "dbNodeStorageSizeGb": {
          "description": "Optional. Local storage per database node.",
          "format": "int32",
          "type": "integer"
        },
        "memorySizeGb": {
          "type": "integer",
          "description": "Memory allocated in GBs.",
          "format": "int32"
        },
        "ocpuCount": {
          "description": "Optional. OCPU count per database node.",
          "format": "int32",
          "type": "integer"
        },
        "totalCpuCoreCount": {
          "description": "Total CPU core count of the database node.",
          "format": "int32",
          "type": "integer"
        },
        "ocid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OCID of database node."
        },
        "dbServerOcid": {
          "description": "Optional. Database server OCID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Various properties and settings associated with Db node."
    },
    "CloudExadataInfrastructureProperties": {
      "description": "Various properties of Exadata Infrastructure.",
      "id": "CloudExadataInfrastructureProperties",
      "properties": {
        "maxCpuCount": {
          "description": "Output only. The total number of CPU cores available.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "storageServerType": {
          "description": "Output only. The storage server type of the Exadata Infrastructure.",
          "readOnly": true,
          "type": "string"
        },
        "storageCount": {
          "type": "integer",
          "description": "Optional. The number of Cloud Exadata storage servers for the Exadata Infrastructure.",
          "format": "int32"
        },
        "ociUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource."
        },
        "maxDbNodeStorageSizeGb": {
          "description": "Output only. The total local node storage available in GBs.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "maintenanceWindow": {
          "description": "Optional. Maintenance window for repair.",
          "$ref": "MaintenanceWindow"
        },
        "maxMemoryGb": {
          "description": "Output only. The total memory available in GBs.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "dbNodeStorageSizeGb": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The local node storage allocated in GBs.",
          "format": "int32"
        },
        "activatedStorageCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The requested number of additional storage servers activated for the Exadata Infrastructure.",
          "format": "int32"
        },
        "cpuCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of enabled CPU cores.",
          "format": "int32"
        },
        "totalStorageSizeGb": {
          "type": "integer",
          "description": "Optional. The total storage allocated to the Exadata Infrastructure resource, in gigabytes (GB).",
          "format": "int32"
        },
        "availableStorageSizeGb": {
          "description": "Output only. The available storage can be allocated to the Exadata Infrastructure resource, in gigabytes (GB).",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "shape": {
          "type": "string",
          "description": "Required. The shape of the Exadata Infrastructure. The shape determines the amount of CPU, storage, and memory resources allocated to the instance."
        },
        "customerContacts": {
          "description": "Optional. The list of customer contacts.",
          "items": {
            "$ref": "CustomerContact"
          },
          "type": "array"
        },
        "monthlyDbServerVersion": {
          "description": "Output only. The monthly software version of the database servers (dom0) in the Exadata Infrastructure. Example: 20.1.15",
          "readOnly": true,
          "type": "string"
        },
        "dbServerVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The software version of the database servers (dom0) in the Exadata Infrastructure."
        },
        "computeModel": {
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The compute model of the Exadata Infrastructure.",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ]
        },
        "nextMaintenanceRunId": {
          "description": "Output only. The OCID of the next maintenance run.",
          "readOnly": true,
          "type": "string"
        },
        "monthlyStorageServerVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The monthly software version of the storage servers (cells) in the Exadata Infrastructure. Example: 20.1.15"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "description": "Output only. The current lifecycle state of the Exadata Infrastructure.",
          "enumDescriptions": [
            "Default unspecified value.",
            "The Exadata Infrastructure is being provisioned.",
            "The Exadata Infrastructure is available for use.",
            "The Exadata Infrastructure is being updated.",
            "The Exadata Infrastructure is being terminated.",
            "The Exadata Infrastructure is terminated.",
            "The Exadata Infrastructure is in failed state.",
            "The Exadata Infrastructure is in maintenance."
          ]
        },
        "additionalStorageCount": {
          "description": "Output only. The requested number of additional storage servers for the Exadata Infrastructure.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "dataStorageSizeTb": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Size, in terabytes, of the DATA disk group.",
          "format": "double"
        },
        "ocid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OCID of created infra. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle"
        },
        "computeCount": {
          "description": "Optional. The number of compute servers for the Exadata Infrastructure.",
          "format": "int32",
          "type": "integer"
        },
        "nextSecurityMaintenanceRunTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the next security maintenance run will occur.",
          "format": "google-datetime"
        },
        "nextMaintenanceRunTime": {
          "description": "Output only. The time when the next maintenance run will occur.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "memorySizeGb": {
          "description": "Output only. The memory allocated in GBs.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "databaseServerType": {
          "description": "Output only. The database server type of the Exadata Infrastructure.",
          "readOnly": true,
          "type": "string"
        },
        "maxDataStorageTb": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The total available DATA disk group size.",
          "format": "double"
        },
        "storageServerVersion": {
          "description": "Output only. The software version of the storage servers (cells) in the Exadata Infrastructure.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "LocationMetadata": {
      "description": "Metadata for a given Location.",
      "type": "object",
      "id": "LocationMetadata",
      "properties": {
        "gcpOracleZones": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Google Cloud Platform Oracle zones in a location.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListExadbVmClustersResponse": {
      "type": "object",
      "id": "ListExadbVmClustersResponse",
      "properties": {
        "exadbVmClusters": {
          "description": "The list of ExadbVmClusters.",
          "items": {
            "$ref": "ExadbVmCluster"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `ExadbVmCluster.List`."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "StopAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Stop`.",
      "id": "StopAutonomousDatabaseRequest",
      "properties": {},
      "type": "object"
    },
    "DbServer": {
      "id": "DbServer",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly name for this resource."
        },
        "name": {
          "description": "Identifier. The name of the database server resource with the format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}/dbServers/{db_server}",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the database server.",
          "$ref": "DbServerProperties"
        }
      },
      "type": "object",
      "description": "Details of the database server resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbServer/"
    },
    "ListDbServersResponse": {
      "id": "ListDbServersResponse",
      "properties": {
        "dbServers": {
          "description": "The list of database servers.",
          "items": {
            "$ref": "DbServer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "description": "The response for `DbServer.List`."
    },
    "ListCloudVmClustersResponse": {
      "type": "object",
      "id": "ListCloudVmClustersResponse",
      "properties": {
        "cloudVmClusters": {
          "description": "The list of VM Clusters.",
          "items": {
            "$ref": "CloudVmCluster"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to fetch the next page of results.",
          "type": "string"
        }
      },
      "description": "The response for `CloudVmCluster.List`."
    },
    "DbSystem": {
      "type": "object",
      "id": "DbSystem",
      "properties": {
        "odbSubnet": {
          "description": "Required. The name of the OdbSubnet associated with the DbSystem for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name for the System db. The name does not have to be unique within your project."
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Optional. The GCP Oracle zone where Oracle DbSystem is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability."
        },
        "properties": {
          "description": "Optional. The properties of the DbSystem.",
          "$ref": "DbSystemProperties"
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the DbSystem"
        },
        "name": {
          "description": "Identifier. The name of the DbSystem resource in the following format: projects/{project}/locations/{region}/dbSystems/{db_system}",
          "type": "string"
        },
        "odbNetwork": {
          "description": "Optional. The name of the OdbNetwork associated with the DbSystem. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The date and time that the DbSystem was created.",
          "format": "google-datetime"
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels or tags associated with the DbSystem.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Details of the DbSystem (BaseDB) resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystem/"
    },
    "AllConnectionStrings": {
      "description": "A list of all connection strings that can be used to connect to the Autonomous Database.",
      "id": "AllConnectionStrings",
      "properties": {
        "low": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides the least level of resources to each SQL statement."
        },
        "high": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides the highest level of resources to each SQL statement."
        },
        "medium": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides a lower level of resources to each SQL statement."
        }
      },
      "type": "object"
    },
    "ExascaleDbStorageVault": {
      "id": "ExascaleDbStorageVault",
      "properties": {
        "properties": {
          "$ref": "ExascaleDbStorageVaultProperties",
          "description": "Required. The properties of the ExascaleDbStorageVault."
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the ExascaleDbStorageVault."
        },
        "name": {
          "description": "Identifier. The resource name of the ExascaleDbStorageVault. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the ExascaleDbStorageVault."
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle ExascaleDbStorageVault is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The date and time when the ExascaleDbStorageVault was created.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name for the ExascaleDbStorageVault. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters."
        }
      },
      "type": "object",
      "description": "ExascaleDbStorageVault represents a storage vault exadb vm cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExascaleDbStorageVault/"
    },
    "AutonomousDatabaseStandbySummary": {
      "id": "AutonomousDatabaseStandbySummary",
      "properties": {
        "lifecycleDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The additional details about the current lifecycle state of the Autonomous Database."
        },
        "lagTimeDuration": {
          "description": "Output only. The amount of time, in seconds, that the data of the standby database lags in comparison to the data of the primary database.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "dataGuardRoleChangedTime": {
          "description": "Output only. The date and time the Autonomous Data Guard role was switched for the standby Autonomous Database.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "description": "Output only. The current lifecycle state of the Autonomous Database.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ]
        },
        "disasterRecoveryRoleChangedTime": {
          "description": "Output only. The date and time the Disaster Recovery role was switched for the standby Autonomous Database.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Autonomous Data Guard standby database details. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseStandbySummary"
    },
    "ListDbVersionsResponse": {
      "type": "object",
      "id": "ListDbVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dbVersions": {
          "description": "The list of DbVersions.",
          "items": {
            "$ref": "DbVersion"
          },
          "type": "array"
        }
      },
      "description": "The response for `DbVersions.List`."
    },
    "RemoveVirtualMachineExadbVmClusterRequest": {
      "id": "RemoveVirtualMachineExadbVmClusterRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "hostnames": {
          "type": "array",
          "description": "Required. The list of host names of db nodes to be removed from the ExadbVmCluster.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The request for `ExadbVmCluster.RemoveVirtualMachine`."
    },
    "CloudExadataInfrastructure": {
      "type": "object",
      "id": "CloudExadataInfrastructure",
      "properties": {
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle Exadata Infrastructure is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the Exadata Infrastructure resource with the format: projects/{project}/locations/{region}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "entitlementId": {
          "description": "Output only. Entitlement ID of the private offer against which this infrastructure resource is provisioned.",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "$ref": "CloudExadataInfrastructureProperties",
          "description": "Optional. Various properties of the infra."
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time that the Exadata Infrastructure was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents CloudExadataInfrastructure resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudExadataInfrastructure/"
    },
    "ListOdbSubnetsResponse": {
      "type": "object",
      "id": "ListOdbSubnetsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "odbSubnets": {
          "type": "array",
          "description": "The list of ODB Subnets.",
          "items": {
            "$ref": "OdbSubnet"
          }
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response for `OdbSubnet.List`."
    },
    "PluggableDatabaseConnectionStrings": {
      "description": "The connection strings used to connect to the Oracle Database.",
      "id": "PluggableDatabaseConnectionStrings",
      "properties": {
        "pdbIpDefault": {
          "description": "Optional. The default connection string to use to connect to the pluggable database using IP.",
          "type": "string"
        },
        "allConnectionStrings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. All connection strings to use to connect to the pluggable database."
        },
        "pdbDefault": {
          "type": "string",
          "description": "Optional. The default connection string to use to connect to the pluggable database."
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseProperties": {
      "id": "AutonomousDatabaseProperties",
      "properties": {
        "ociUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Oracle Cloud Infrastructure link for the Autonomous Database."
        },
        "localAdgAutoFailoverMaxDataLossLimitDuration": {
          "description": "Optional. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "format": "int32",
          "type": "integer"
        },
        "vaultId": {
          "type": "string",
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault."
        },
        "isAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database CPU core count.",
          "type": "boolean"
        },
        "operationsInsightsState": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling status for operation insights.",
            "Enabled status for operation insights.",
            "Disabling status for operation insights.",
            "Not Enabled status for operation insights.",
            "Failed enabling status for operation insights.",
            "Failed disabling status for operation insights."
          ],
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "description": "Output only. This field indicates the state of Operations Insights for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "permissionLevel": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Restricted mode allows access only by admin users.",
            "Normal access."
          ],
          "enum": [
            "PERMISSION_LEVEL_UNSPECIFIED",
            "RESTRICTED",
            "UNRESTRICTED"
          ],
          "description": "Output only. The permission level of the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "apexDetails": {
          "$ref": "AutonomousDatabaseApex",
          "description": "Output only. The details for the Oracle APEX Application Development.",
          "readOnly": true
        },
        "localAdgAutoFailoverMaxDataLossLimit": {
          "readOnly": true,
          "type": "integer",
          "deprecated": true,
          "description": "Output only. Deprecated: Please use `local_adg_auto_failover_max_data_loss_limit_duration` instead. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "format": "int32"
        },
        "nextLongTermBackupTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The long term backup schedule of the Autonomous Database.",
          "format": "google-datetime"
        },
        "allowlistedIps": {
          "description": "Optional. Immutable. The list of allowlisted IP addresses for the Autonomous Database.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "encryptionKey": {
          "description": "Optional. The encryption key used to encrypt the Autonomous Database. Updating this field will add a new entry in the `encryption_key_history_entries` field with the former version.",
          "$ref": "EncryptionKey"
        },
        "openMode": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Read Only Mode",
            "Read Write Mode"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "description": "Output only. This field indicates the current mode of the Autonomous Database."
        },
        "localStandbyDb": {
          "readOnly": true,
          "description": "Output only. The details of the Autonomous Data Guard standby database.",
          "$ref": "AutonomousDatabaseStandbySummary"
        },
        "lifecycleDetails": {
[...]
