{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "revision": "20260408",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "oracledatabase",
  "servicePath": "",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "description": "The Oracle Database@Google Cloud API provides a set of APIs to manage Oracle database services, such as Exadata and Autonomous Databases.",
  "endpoints": [
    {
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "ownerName": "Google",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "schemas": {
    "ListAutonomousDatabaseBackupsResponse": {
      "id": "ListAutonomousDatabaseBackupsResponse",
      "type": "object",
      "properties": {
        "autonomousDatabaseBackups": {
          "type": "array",
          "items": {
            "$ref": "AutonomousDatabaseBackup"
          },
          "description": "The list of Autonomous Database Backups."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `AutonomousDatabaseBackup.List`."
    },
    "AutonomousDatabaseApex": {
      "id": "AutonomousDatabaseApex",
      "type": "object",
      "description": "Oracle APEX Application Development. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseApex",
      "properties": {
        "ordsVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Oracle REST Data Services (ORDS) version."
        },
        "apexVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Oracle APEX Application Development version."
        }
      }
    },
    "GiVersion": {
      "id": "GiVersion",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. version"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Oracle Grid Infrastructure (GI) version resource with the format: projects/{project}/locations/{region}/giVersions/{gi_versions}"
        }
      },
      "description": "Details of the Oracle Grid Infrastructure (GI) version resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiVersionSummary/"
    },
    "AutonomousDatabaseBackupProperties": {
      "properties": {
        "compartmentId": {
          "type": "string",
          "description": "Output only. The OCID of the compartment.",
          "readOnly": true
        },
        "ocid": {
          "type": "string",
          "description": "Output only. OCID of the Autonomous Database backup. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "readOnly": true
        },
        "isLongTermBackup": {
          "description": "Output only. Indicates if the backup is long term backup.",
          "readOnly": true,
          "type": "boolean"
        },
        "isRestorable": {
          "type": "boolean",
          "description": "Output only. Indicates if the backup can be used to restore the Autonomous Database.",
          "readOnly": true
        },
        "lifecycleState": {
          "description": "Output only. The lifecycle state of the backup.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in updating state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "UPDATING"
          ],
          "type": "string"
        },
        "dbVersion": {
          "type": "string",
          "description": "Output only. A valid Oracle Database version for Autonomous Database.",
          "readOnly": true
        },
        "kmsKeyId": {
          "description": "Optional. The OCID of the key container that is used as the master encryption key in database transparent data encryption (TDE) operations.",
          "type": "string"
        },
        "keyStoreWallet": {
          "type": "string",
          "description": "Optional. The wallet name for Oracle Key Vault."
        },
        "databaseSizeTb": {
          "readOnly": true,
          "description": "Output only. The quantity of data in the database, in terabytes.",
          "format": "float",
          "type": "number"
        },
        "endTime": {
          "description": "Output only. The date and time the backup completed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "kmsKeyVersionId": {
          "description": "Optional. The OCID of the key container version that is used in database transparent data encryption (TDE) operations KMS Key can have multiple key versions. If none is specified, the current key version (latest) of the Key Id is used for the operation. Autonomous Database Serverless does not use key versions, hence is not applicable for Autonomous Database Serverless instances.",
          "type": "string"
        },
        "vaultId": {
          "description": "Optional. The OCID of the vault.",
          "type": "string"
        },
        "sizeTb": {
          "description": "Output only. The backup size in terabytes.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "lifecycleDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current lifecycle state."
        },
        "type": {
          "description": "Output only. The type of the backup.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ],
          "type": "string"
        },
        "retentionPeriodDays": {
          "type": "integer",
          "description": "Optional. Retention period in days for the backup.",
          "format": "int32"
        },
        "startTime": {
          "description": "Output only. The date and time the backup started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "keyStoreId": {
          "type": "string",
          "description": "Optional. The OCID of the key store of Oracle Vault."
        },
        "availableTillTime": {
          "type": "string",
          "description": "Output only. Timestamp until when the backup will be available.",
          "format": "google-datetime",
          "readOnly": true
        },
        "isAutomaticBackup": {
          "description": "Output only. Indicates if the backup is automatic or user initiated.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Properties of the Autonomous Database Backup resource.",
      "id": "AutonomousDatabaseBackupProperties",
      "type": "object"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "type": "object",
      "properties": {
        "isCustomActionTimeoutEnabled": {
          "description": "Optional. If true, enables the configuration of a custom action timeout (waiting period) between database server patching operations.",
          "type": "boolean"
        },
        "daysOfWeek": {
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Days during the week when maintenance should be performed."
        },
        "customActionTimeoutMins": {
          "description": "Optional. Determines the amount of time the system will wait before the start of each database server patching operation. Custom action timeout is in minutes and valid value is between 15 to 120 (inclusive).",
          "format": "int32",
          "type": "integer"
        },
        "preference": {
          "description": "Optional. The maintenance window scheduling preference.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Custom preference.",
            "No preference."
          ],
          "enum": [
            "MAINTENANCE_WINDOW_PREFERENCE_UNSPECIFIED",
            "CUSTOM_PREFERENCE",
            "NO_PREFERENCE"
          ]
        },
        "weeksOfMonth": {
          "description": "Optional. Weeks during the month when maintenance should be performed. Weeks start on the 1st, 8th, 15th, and 22nd days of the month, and have a duration of 7 days. Weeks start and end based on calendar dates, not days of the week.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "hoursOfDay": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Optional. The window of hours during the day when maintenance should be performed. The window is a 4 hour slot. Valid values are: 0 - represents time slot 0:00 - 3:59 UTC 4 - represents time slot 4:00 - 7:59 UTC 8 - represents time slot 8:00 - 11:59 UTC 12 - represents time slot 12:00 - 15:59 UTC 16 - represents time slot 16:00 - 19:59 UTC 20 - represents time slot 20:00 - 23:59 UTC"
        },
        "patchingMode": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Updates the Cloud Exadata database server hosts in a rolling fashion.",
            "The non-rolling maintenance method first updates your storage servers at the same time, then your database servers at the same time."
          ],
          "enum": [
            "PATCHING_MODE_UNSPECIFIED",
            "ROLLING",
            "NON_ROLLING"
          ],
          "description": "Optional. Cloud CloudExadataInfrastructure node patching method, either \"ROLLING\" or \"NONROLLING\". Default value is ROLLING."
        },
        "months": {
          "description": "Optional. Months during the year when maintenance should be performed.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ],
            "type": "string"
          }
        },
        "leadTimeWeek": {
          "description": "Optional. Lead time window allows user to set a lead time to prepare for a down time. The lead time is in weeks and valid value is between 1 to 4.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Maintenance window as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/MaintenanceWindow"
    },
    "DatabaseCharacterSet": {
      "id": "DatabaseCharacterSet",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Database Character Set resource in the following format: projects/{project}/locations/{region}/databaseCharacterSets/{database_character_set}",
          "type": "string"
        },
        "characterSet": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The character set name for the Database which is the ID in the resource name."
        },
        "characterSetType": {
          "readOnly": true,
          "description": "Output only. The character set type for the Database.",
          "type": "string",
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ]
        }
      },
      "description": "Details of the Database character set resource."
    },
    "DbNodeProperties": {
      "description": "Various properties and settings associated with Db node.",
      "properties": {
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OCID of database node."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The date and time that the database node was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "hostname": {
          "description": "Optional. DNS",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in stopping state.",
            "Indicates that the resource is in stopped state.",
            "Indicates that the resource is in starting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. State of the database node.",
          "readOnly": true
        },
        "memorySizeGb": {
          "description": "Memory allocated in GBs.",
          "format": "int32",
          "type": "integer"
        },
        "dbServerOcid": {
          "type": "string",
          "description": "Optional. Database server OCID."
        },
        "dbNodeStorageSizeGb": {
          "type": "integer",
          "description": "Optional. Local storage per database node.",
          "format": "int32"
        },
        "totalCpuCoreCount": {
          "type": "integer",
          "description": "Total CPU core count of the database node.",
          "format": "int32"
        },
        "ocpuCount": {
          "type": "integer",
          "description": "Optional. OCPU count per database node.",
          "format": "int32"
        }
      },
      "id": "DbNodeProperties",
      "type": "object"
    },
    "DbSystem": {
      "id": "DbSystem",
      "type": "object",
      "properties": {
        "ociUrl": {
          "type": "string",
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The date and time that the DbSystem was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the DbSystem.",
          "type": "object"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle DbSystem is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "odbNetwork": {
          "description": "Optional. The name of the OdbNetwork associated with the DbSystem. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the DbSystem resource in the following format: projects/{project}/locations/{region}/dbSystems/{db_system}",
          "type": "string"
        },
        "odbSubnet": {
          "type": "string",
          "description": "Required. The name of the OdbSubnet associated with the DbSystem for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "properties": {
          "description": "Optional. The properties of the DbSystem.",
          "$ref": "DbSystemProperties"
        },
        "displayName": {
          "description": "Required. The display name for the System db. The name does not have to be unique within your project.",
          "type": "string"
        },
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the DbSystem"
        }
      },
      "description": "Details of the DbSystem (BaseDB) resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystem/"
    },
    "DbServer": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly name for this resource."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the database server resource with the format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}/dbServers/{db_server}"
        },
        "properties": {
          "description": "Optional. Various properties of the database server.",
          "$ref": "DbServerProperties"
        }
      },
      "description": "Details of the database server resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbServer/",
      "id": "DbServer",
      "type": "object"
    },
    "RestartAutonomousDatabaseRequest": {
      "id": "RestartAutonomousDatabaseRequest",
      "type": "object",
      "description": "The request for `AutonomousDatabase.Restart`.",
      "properties": {}
    },
    "ListDbSystemsResponse": {
      "description": "The response for `DbSystem.List`.",
      "properties": {
        "dbSystems": {
          "description": "The list of DbSystems.",
          "type": "array",
          "items": {
            "$ref": "DbSystem"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListDbSystemsResponse",
      "type": "object"
    },
    "ListAutonomousDatabasesResponse": {
      "id": "ListAutonomousDatabasesResponse",
      "type": "object",
      "properties": {
        "autonomousDatabases": {
          "description": "The list of Autonomous Databases.",
          "items": {
            "$ref": "AutonomousDatabase"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `AutonomousDatabase.List`."
    },
    "DbVersion": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the DbVersion resource in the following format: projects/{project}/locations/{region}/dbVersions/{db_version}"
        },
        "properties": {
          "readOnly": true,
          "description": "Output only. The properties of the DbVersion.",
          "$ref": "DbVersionProperties"
        }
      },
      "description": "A valid Oracle Database version.",
      "id": "DbVersion",
      "type": "object"
    },
    "ListOdbSubnetsResponse": {
      "description": "The response for `OdbSubnet.List`.",
      "properties": {
        "odbSubnets": {
          "description": "The list of ODB Subnets.",
          "items": {
            "$ref": "OdbSubnet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        }
      },
      "id": "ListOdbSubnetsResponse",
      "type": "object"
    },
    "TimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "type": "object"
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "ExadbVmClusterProperties": {
      "description": "The properties of an ExadbVmCluster.",
      "properties": {
        "enabledEcpuCountPerNode": {
          "type": "integer",
          "description": "Required. Immutable. The number of ECPUs enabled per node for an exadata vm cluster on exascale infrastructure.",
          "format": "int32"
        },
        "dataCollectionOptions": {
          "description": "Optional. Immutable. Indicates user preference for data collection options.",
          "$ref": "DataCollectionOptionsCommon"
        },
        "scanListenerPortTcp": {
          "type": "integer",
          "description": "Optional. Immutable. SCAN listener port - TCP",
          "format": "int32"
        },
        "vmFileSystemStorage": {
          "description": "Required. Immutable. Total storage details for the ExadbVmCluster.",
          "$ref": "ExadbVmClusterStorageDetails"
        },
        "additionalEcpuCountPerNode": {
          "description": "Optional. Immutable. The number of additional ECPUs per node for an Exadata VM cluster on exascale infrastructure.",
          "format": "int32",
          "type": "integer"
        },
        "lifecycleState": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "enum": [
            "EXADB_VM_CLUSTER_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "readOnly": true,
          "description": "Output only. State of the cluster."
        },
        "ociUri": {
          "readOnly": true,
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "type": "string"
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Required. Immutable. Prefix for VM cluster host names."
        },
        "nodeCount": {
          "type": "integer",
          "description": "Required. The number of nodes/VMs in the ExadbVmCluster.",
          "format": "int32"
        },
        "memorySizeGb": {
          "readOnly": true,
          "description": "Output only. Memory per VM (GB) (Read-only): Shows the amount of memory allocated to each VM. Memory is calculated based on 2.75 GB per Total ECPUs.",
          "format": "int32",
          "type": "integer"
        },
        "gridImageId": {
          "description": "Required. Immutable. Grid Infrastructure Version.",
          "type": "string"
        },
        "licenseModel": {
          "description": "Optional. Immutable. The license type of the ExadbVmCluster.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Default is license included.",
            "Bring your own license."
          ],
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "giVersion": {
          "description": "Output only. The Oracle Grid Infrastructure (GI) software version.",
          "readOnly": true,
          "type": "string"
        },
        "shapeAttribute": {
          "description": "Required. Immutable. The shape attribute of the VM cluster. The type of Exascale storage used for Exadata VM cluster. The default is SMART_STORAGE which supports Oracle Database 23ai and later",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in smart storage.",
            "Indicates that the resource is in block storage."
          ],
          "enum": [
            "SHAPE_ATTRIBUTE_UNSPECIFIED",
            "SMART_STORAGE",
            "BLOCK_STORAGE"
          ]
        },
        "sshPublicKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Immutable. The SSH public keys for the ExadbVmCluster."
        },
        "clusterName": {
          "description": "Optional. Immutable. The cluster name for Exascale vm cluster. The cluster name must begin with an alphabetic character and may contain hyphens(-) but can not contain underscores(_). It should be not more than 11 characters and is not case sensitive. OCI Cluster name.",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The hostname of the ExadbVmCluster."
        },
        "exascaleDbStorageVault": {
          "type": "string",
          "description": "Required. Immutable. The name of ExascaleDbStorageVault associated with the ExadbVmCluster. It can refer to an existing ExascaleDbStorageVault. Or a new one can be created during the ExadbVmCluster creation (requires storage_vault_properties to be set). Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "timeZone": {
          "description": "Optional. Immutable. The time zone of the ExadbVmCluster.",
          "$ref": "TimeZone"
        }
      },
      "id": "ExadbVmClusterProperties",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. The status of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "percentComplete": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. An estimated percentage of the operation that has been completed at a given moment of time, between 0 and 100.",
          "format": "double"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "ListMinorVersionsResponse": {
      "properties": {
        "minorVersions": {
          "type": "array",
          "items": {
            "$ref": "MinorVersion"
          },
          "description": "The list of MinorVersions."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `MinorVersion.List`.",
      "id": "ListMinorVersionsResponse",
      "type": "object"
    },
    "PluggableDatabaseNodeLevelDetails": {
      "properties": {
        "nodeName": {
          "description": "Required. The Node name of the Database home.",
          "type": "string"
        },
        "openMode": {
          "description": "Required. The mode that the pluggable database is in to open it.",
          "type": "string",
          "enumDescriptions": [
            "The open mode is unspecified.",
            "The pluggable database is opened in read-only mode.",
            "The pluggable database is opened in read-write mode.",
            "The pluggable database is mounted.",
            "The pluggable database is migrated."
          ],
          "enum": [
            "PLUGGABLE_DATABASE_OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "MOUNTED",
            "MIGRATE"
          ]
        },
        "pluggableDatabaseId": {
          "description": "Required. The OCID of the Pluggable Database.",
          "type": "string"
        }
      },
      "description": "The Pluggable Database Node Level Details.",
      "id": "PluggableDatabaseNodeLevelDetails",
      "type": "object"
    },
    "Entitlement": {
      "description": "Details of the Entitlement resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Entitlement resource with the format: projects/{project}/locations/{region}/entitlements/{entitlement}"
        },
        "cloudAccountDetails": {
          "description": "Details of the OCI Cloud Account.",
          "$ref": "CloudAccountDetails"
        },
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google Cloud Marketplace order ID (aka entitlement ID)"
        },
        "state": {
          "description": "Output only. Entitlement State.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Account not linked.",
            "Account is linked but not active.",
            "Entitlement and Account are active.",
            "Account is suspended.",
            "Entitlement is not approved in private marketplace."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCOUNT_NOT_LINKED",
            "ACCOUNT_NOT_ACTIVE",
            "ACTIVE",
            "ACCOUNT_SUSPENDED",
            "NOT_APPROVED_IN_PRIVATE_MARKETPLACE"
          ],
          "type": "string"
        }
      },
      "id": "Entitlement",
      "type": "object"
    },
    "PluggableDatabaseProperties": {
      "id": "PluggableDatabaseProperties",
      "type": "object",
      "properties": {
        "compartmentId": {
          "description": "Required. The OCID of the compartment.",
          "type": "string"
        },
        "ocid": {
          "type": "string",
          "description": "Output only. The OCID of the pluggable database.",
          "readOnly": true
        },
        "databaseManagementConfig": {
          "$ref": "DatabaseManagementConfig",
          "readOnly": true,
          "description": "Output only. The configuration of the Database Management service."
        },
        "definedTags": {
          "description": "Optional. Defined tags for this resource. Each key is predefined and scoped to a namespace.",
          "additionalProperties": {
            "$ref": "DefinedTagValue"
          },
          "type": "object"
        },
        "lifecycleState": {
          "description": "Output only. The current state of the pluggable database.",
          "readOnly": true,
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The pluggable database is provisioning.",
            "The pluggable database is available.",
            "The pluggable database is terminating.",
            "The pluggable database is terminated.",
            "The pluggable database is updating.",
            "The pluggable database is in a failed state.",
            "The pluggable database is relocating.",
            "The pluggable database is relocated.",
            "The pluggable database is refreshing.",
            "The pluggable database is restoring.",
            "The pluggable database restore failed.",
            "The pluggable database is backing up.",
            "The pluggable database is disabled."
          ],
          "enum": [
            "PLUGGABLE_DATABASE_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "TERMINATED",
            "UPDATING",
            "FAILED",
            "RELOCATING",
            "RELOCATED",
            "REFRESHING",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "DISABLED"
          ],
          "type": "string"
        },
        "connectionStrings": {
          "description": "Optional. The Connection strings used to connect to the Oracle Database.",
          "$ref": "PluggableDatabaseConnectionStrings"
        },
        "isRestricted": {
          "description": "Optional. The restricted mode of the pluggable database. If a pluggable database is opened in restricted mode, the user needs both create a session and have restricted session privileges to connect to it.",
          "type": "boolean"
        },
        "pdbName": {
          "description": "Required. The database name.",
          "type": "string"
        },
        "freeformTags": {
          "description": "Optional. Free-form tags for this resource. Each tag is a simple key-value pair with no predefined name, type, or namespace.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "operationsInsightsState": {
          "type": "string",
          "enumDescriptions": [
            "The status is not specified.",
            "Operations Insights is enabling.",
            "Operations Insights is enabled.",
            "Operations Insights is disabling.",
            "Operations Insights is not enabled.",
            "Operations Insights failed to enable.",
            "Operations Insights failed to disable."
          ],
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "readOnly": true,
          "description": "Output only. The status of Operations Insights for this Database."
        },
        "containerDatabaseOcid": {
          "description": "Required. The OCID of the CDB.",
          "type": "string"
        },
        "lifecycleDetails": {
          "type": "string",
          "description": "Output only. Additional information about the current lifecycle state.",
          "readOnly": true
        },
        "pdbNodeLevelDetails": {
          "description": "Optional. Pluggable Database Node Level Details",
          "type": "array",
          "items": {
            "$ref": "PluggableDatabaseNodeLevelDetails"
          }
        }
      },
      "description": "The properties of a PluggableDatabase."
    },
    "CloudVmClusterProperties": {
      "id": "CloudVmClusterProperties",
      "type": "object",
      "description": "Various properties and settings associated with Exadata VM cluster.",
      "properties": {
        "ocpuCount": {
          "description": "Optional. OCPU count per VM. Minimum is 0.1.",
          "format": "float",
          "type": "number"
        },
        "diagnosticsDataCollectionOptions": {
          "description": "Optional. Data collection options for diagnostics.",
          "$ref": "DataCollectionOptions"
        },
        "timeZone": {
          "description": "Optional. Time zone of VM Cluster to set. Defaults to UTC if not specified.",
          "$ref": "TimeZone"
        },
        "scanListenerPortTcpSsl": {
          "readOnly": true,
          "description": "Output only. SCAN listener port - TLS",
          "format": "int32",
          "type": "integer"
        },
        "scanListenerPortTcp": {
          "readOnly": true,
          "description": "Output only. SCAN listener port - TCP",
          "format": "int32",
          "type": "integer"
        },
        "licenseType": {
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "description": "Required. License type of VM Cluster."
        },
        "localBackupEnabled": {
          "description": "Optional. Use local backup.",
          "type": "boolean"
        },
        "memorySizeGb": {
          "description": "Optional. Memory allocated in GBs.",
          "format": "int32",
          "type": "integer"
        },
        "shape": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Shape of VM Cluster."
        },
        "nodeCount": {
          "description": "Optional. Number of database servers.",
          "format": "int32",
          "type": "integer"
        },
        "scanIpIds": {
          "readOnly": true,
          "description": "Output only. OCIDs of scan IPs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "giVersion": {
          "description": "Optional. Grid Infrastructure Version.",
          "type": "string"
        },
        "dbNodeStorageSizeGb": {
          "type": "integer",
          "description": "Optional. Local storage per VM.",
          "format": "int32"
        },
        "storageSizeGb": {
          "description": "Output only. The storage allocation for the disk group, in gigabytes (GB).",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "scanDns": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. SCAN DNS name. ex: sp2-yi0xq-scan.ocispdelegated.ocisp10jvnet.oraclevcn.com"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "type": "string",
          "description": "Output only. State of the cluster.",
          "readOnly": true
        },
        "sshPublicKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. SSH public keys to be stored with cluster."
        },
        "hostname": {
          "readOnly": true,
          "description": "Output only. host name without domain. format: \"-\" with some suffix. ex: sp2-yi0xq where \"sp2\" is the hostname_prefix.",
          "type": "string"
        },
        "clusterName": {
          "type": "string",
          "description": "Optional. OCI Cluster name."
        },
        "sparseDiskgroupEnabled": {
          "description": "Optional. Use exadata sparse snapshots.",
          "type": "boolean"
        },
        "dnsListenerIp": {
          "readOnly": true,
          "description": "Output only. DNS listener IP.",
          "type": "string"
        },
        "dataStorageSizeTb": {
          "type": "number",
          "description": "Optional. The data disk group size to be allocated in TBs.",
          "format": "double"
        },
        "diskRedundancy": {
          "description": "Optional. The type of redundancy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High - 3 way mirror.",
            "Normal - 2 way mirror."
          ],
          "enum": [
            "DISK_REDUNDANCY_UNSPECIFIED",
            "HIGH",
            "NORMAL"
          ]
        },
        "systemVersion": {
          "description": "Optional. Operating system version of the image.",
          "type": "string"
        },
        "cpuCoreCount": {
          "type": "integer",
          "description": "Required. Number of enabled CPU cores.",
          "format": "int32"
        },
        "compartmentId": {
          "type": "string",
          "description": "Output only. Compartment ID of cluster.",
          "readOnly": true
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Optional. Prefix for VM cluster host names."
        },
        "dbServerOcids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. OCID of database servers."
        },
        "domain": {
          "type": "string",
          "description": "Output only. Parent DNS domain where SCAN DNS and hosts names are qualified. ex: ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "readOnly": true
        },
        "computeModel": {
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ],
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ],
          "type": "string",
          "description": "Output only. The compute model of the VM Cluster.",
          "readOnly": true
        },
        "ocid": {
          "type": "string",
          "description": "Output only. Oracle Cloud Infrastructure ID of VM Cluster.",
          "readOnly": true
        },
        "ociUrl": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true,
          "type": "string"
        },
        "scanDnsRecordId": {
          "type": "string",
          "description": "Output only. OCID of scan DNS record.",
          "readOnly": true
        }
      }
    },
    "DbVersionProperties": {
      "properties": {
        "isPreviewDbVersion": {
          "readOnly": true,
          "description": "Output only. True if this version of the Oracle Database software is the preview version.",
          "type": "boolean"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. A valid Oracle Database version.",
          "type": "string"
        },
        "isLatestForMajorVersion": {
          "readOnly": true,
          "description": "Output only. True if this version of the Oracle Database software is the latest version for a release.",
          "type": "boolean"
        },
        "supportsPdb": {
          "type": "boolean",
          "description": "Output only. True if this version of the Oracle Database software supports pluggable databases.",
          "readOnly": true
        },
        "isUpgradeSupported": {
          "description": "Output only. True if this version of the Oracle Database software is supported for Upgrade.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "The properties of a DbVersion.",
      "id": "DbVersionProperties",
      "type": "object"
    },
    "CloudVmCluster": {
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. The name of the VPC network. Format: projects/{project}/global/networks/{network}"
        },
        "identityConnector": {
          "$ref": "IdentityConnector",
          "description": "Output only. The identity connector details which will allow OCI to securely access the resources in the customer project.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "backupOdbSubnet": {
          "description": "Optional. The name of the backup OdbSubnet associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The date and time that the VM cluster was created.",
          "format": "google-datetime"
        },
        "gcpOracleZone": {
          "readOnly": true,
          "description": "Output only. The GCP Oracle zone where Oracle CloudVmCluster is hosted. This will be the same as the gcp_oracle_zone of the CloudExadataInfrastructure. Example: us-east4-b-r2.",
          "type": "string"
        },
        "cidr": {
          "description": "Optional. Network settings. CIDR to use for cluster IP allocation.",
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the odb_subnet and backup_odb_subnet."
        },
        "odbSubnet": {
          "type": "string",
          "description": "Optional. The name of the OdbSubnet associated with the VM Cluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "properties": {
          "description": "Optional. Various properties of the VM Cluster.",
          "$ref": "CloudVmClusterProperties"
        },
        "exadataInfrastructure": {
          "description": "Required. The name of the Exadata Infrastructure resource on which VM cluster resource is created, in the following format: projects/{project}/locations/{region}/cloudExadataInfrastuctures/{cloud_extradata_infrastructure}",
          "type": "string"
        },
        "backupSubnetCidr": {
          "type": "string",
          "description": "Optional. CIDR range of the backup subnet."
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the VM Cluster.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The name of the VM Cluster resource with the format: projects/{project}/locations/{region}/cloudVmClusters/{cloud_vm_cluster}",
          "type": "string"
        }
      },
      "description": "Details of the Cloud VM Cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudVmCluster/",
      "id": "CloudVmCluster",
      "type": "object"
    },
    "CloudExadataInfrastructure": {
      "id": "CloudExadataInfrastructure",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Exadata Infrastructure resource with the format: projects/{project}/locations/{region}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}"
        },
        "entitlementId": {
          "type": "string",
          "description": "Output only. Entitlement ID of the private offer against which this infrastructure resource is provisioned.",
          "readOnly": true
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle Exadata Infrastructure is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the infra.",
          "$ref": "CloudExadataInfrastructureProperties"
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The date and time that the Exadata Infrastructure was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents CloudExadataInfrastructure resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudExadataInfrastructure/"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "type": "object",
      "description": "The source configuration for the standby Autonomous Database.",
      "properties": {
        "automaticBackupsReplicationEnabled": {
          "type": "boolean",
          "description": "Optional. This field specifies if the replication of automatic backups is enabled when creating a Data Guard."
        },
        "autonomousDatabase": {
          "type": "string",
          "description": "Optional. The name of the primary Autonomous Database that is used to create a Peer Autonomous Database from a source."
        }
      }
    },
    "ListAutonomousDatabaseCharacterSetsResponse": {
      "description": "The response for `AutonomousDatabaseCharacterSet.List`.",
      "properties": {
        "autonomousDatabaseCharacterSets": {
          "description": "The list of Autonomous Database Character Sets.",
          "type": "array",
          "items": {
            "$ref": "AutonomousDatabaseCharacterSet"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListAutonomousDatabaseCharacterSetsResponse",
      "type": "object"
    },
    "FailoverAutonomousDatabaseRequest": {
      "properties": {
        "peerAutonomousDatabase": {
          "type": "string",
          "description": "Optional. The peer database name to fail over to. Required for cross-region standby, and must be omitted for in-region Data Guard."
        }
      },
      "description": "The request for `OracleDatabase.FailoverAutonomousDatabase`.",
      "id": "FailoverAutonomousDatabaseRequest",
      "type": "object"
    },
    "ListDatabaseCharacterSetsResponse": {
      "description": "The response for `DatabaseCharacterSet.List`.",
      "properties": {
        "databaseCharacterSets": {
          "type": "array",
          "items": {
            "$ref": "DatabaseCharacterSet"
          },
          "description": "The list of DatabaseCharacterSets."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListDatabaseCharacterSetsResponse",
      "type": "object"
    },
    "ExascaleDbStorageVaultProperties": {
      "description": "The properties of the ExascaleDbStorageVault. next ID: 12",
      "properties": {
        "description": {
          "description": "Optional. The description of the ExascaleDbStorageVault.",
          "type": "string"
        },
        "attachedShapeAttributes": {
          "readOnly": true,
          "description": "Output only. The shape attributes of the VM clusters attached to the ExascaleDbStorageVault.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ],
            "type": "string"
          }
        },
        "vmClusterCount": {
          "type": "integer",
          "description": "Output only. The number of VM clusters associated with the ExascaleDbStorageVault.",
          "format": "int32",
          "readOnly": true
        },
        "additionalFlashCachePercent": {
          "description": "Optional. The size of additional flash cache in percentage of high capacity database storage.",
          "format": "int32",
          "type": "integer"
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. The OCID for the ExascaleDbStorageVault.",
          "type": "string"
        },
        "ociUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Deep link to the OCI console to view this resource."
        },
        "availableShapeAttributes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ]
          },
          "type": "array",
          "description": "Output only. The shape attributes available for the VM clusters to be attached to the ExascaleDbStorageVault.",
          "readOnly": true
        },
        "timeZone": {
          "description": "Output only. The time zone of the ExascaleDbStorageVault.",
          "readOnly": true,
          "$ref": "TimeZone"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the ExascaleDbStorageVault.",
          "type": "string",
          "enumDescriptions": [
            "The state of the ExascaleDbStorageVault is unspecified.",
            "The ExascaleDbStorageVault is being provisioned.",
            "The ExascaleDbStorageVault is available.",
            "The ExascaleDbStorageVault is being updated.",
            "The ExascaleDbStorageVault is being deleted.",
            "The ExascaleDbStorageVault has been deleted.",
            "The ExascaleDbStorageVault has failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ]
        },
        "vmClusterIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of VM cluster OCIDs associated with the ExascaleDbStorageVault."
        },
        "exascaleDbStorageDetails": {
          "description": "Required. The storage details of the ExascaleDbStorageVault.",
          "$ref": "ExascaleDbStorageDetails"
        }
      },
      "id": "ExascaleDbStorageVaultProperties",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListCloudExadataInfrastructuresResponse": {
      "description": "The response for `CloudExadataInfrastructures.list`.",
      "properties": {
        "nextPageToken": {
          "description": "A token for fetching next page of response.",
          "type": "string"
        },
        "cloudExadataInfrastructures": {
          "items": {
            "$ref": "CloudExadataInfrastructure"
          },
          "type": "array",
          "description": "The list of Exadata Infrastructures."
        }
      },
      "id": "ListCloudExadataInfrastructuresResponse",
      "type": "object"
    },
    "AutonomousDatabaseStandbySummary": {
      "properties": {
        "disasterRecoveryRoleChangedTime": {
          "type": "string",
          "description": "Output only. The date and time the Disaster Recovery role was switched for the standby Autonomous Database.",
          "format": "google-datetime",
          "readOnly": true
        },
        "lagTimeDuration": {
          "type": "string",
          "description": "Output only. The amount of time, in seconds, that the data of the standby database lags in comparison to the data of the primary database.",
          "format": "google-duration",
          "readOnly": true
        },
        "dataGuardRoleChangedTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The date and time the Autonomous Data Guard role was switched for the standby Autonomous Database.",
          "format": "google-datetime"
        },
        "lifecycleDetails": {
          "type": "string",
          "description": "Output only. The additional details about the current lifecycle state of the Autonomous Database.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current lifecycle state of the Autonomous Database.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ]
        }
      },
      "description": "Autonomous Data Guard standby database details. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseStandbySummary",
      "id": "AutonomousDatabaseStandbySummary",
      "type": "object"
    },
    "MinorVersion": {
      "id": "MinorVersion",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the MinorVersion resource with the format: projects/{project}/locations/{region}/giVersions/{gi_version}/minorVersions/{minor_version}",
          "type": "string"
        },
        "gridImageId": {
          "description": "Optional. The ID of the Grid Image.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The valid Oracle grid infrastructure software version.",
          "type": "string"
        }
      },
      "description": "MinorVersion represents a minor version of a GI. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiMinorVersionSummary/"
    },
    "CloudAccountDetails": {
      "description": "Details of the OCI Cloud Account.",
      "properties": {
        "cloudAccount": {
          "readOnly": true,
          "description": "Output only. OCI account name.",
          "type": "string"
        },
        "cloudAccountHomeRegion": {
          "description": "Output only. OCI account home region.",
          "readOnly": true,
          "type": "string"
        },
        "linkExistingAccountUri": {
          "type": "string",
          "description": "Output only. URL to link an existing account.",
          "readOnly": true
        },
        "accountCreationUri": {
          "type": "string",
          "description": "Output only. URL to create a new account and link.",
          "readOnly": true
        }
      },
      "id": "CloudAccountDetails",
      "type": "object"
    },
    "ListExascaleDbStorageVaultsResponse": {
      "description": "The response for `ExascaleDbStorageVault.List`.",
      "properties": {
        "exascaleDbStorageVaults": {
          "items": {
            "$ref": "ExascaleDbStorageVault"
          },
          "type": "array",
          "description": "The ExascaleDbStorageVaults."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If present, the next page token can be provided to a subsequent ListExascaleDbStorageVaults call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListExascaleDbStorageVaultsResponse",
      "type": "object"
    },
    "LocationMetadata": {
      "description": "Metadata for a given Location.",
      "properties": {
        "gcpOracleZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Google Cloud Platform Oracle zones in a location."
        }
      },
      "id": "LocationMetadata",
      "type": "object"
    },
    "DbSystemInitialStorageSizeProperties": {
      "id": "DbSystemInitialStorageSizeProperties",
      "type": "object",
      "properties": {
        "shapeType": {
          "enumDescriptions": [
            "Unspecified shape type.",
            "Standard X86."
          ],
          "enum": [
            "SHAPE_TYPE_UNSPECIFIED",
            "STANDARD_X86"
          ],
          "type": "string",
          "description": "Output only. VM shape platform type",
          "readOnly": true
        },
        "launchFromBackupStorageSizeDetails": {
          "type": "array",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "readOnly": true,
          "description": "Output only. List of storage disk details available for launches from backup."
        },
        "storageManagement": {
          "description": "Output only. The storage option used in DB system.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified storage management.",
            "Automatic Storage Management.",
            "Logical Volume Management."
          ],
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "type": "string"
        },
        "storageSizeDetails": {
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "type": "array",
          "description": "Output only. List of storage disk details.",
          "readOnly": true
        }
      },
      "description": "The properties of a DbSystem initial storage size summary."
    },
    "AutonomousDatabaseConnectionUrls": {
      "id": "AutonomousDatabaseConnectionUrls",
      "type": "object",
      "properties": {
        "sqlDevWebUri": {
          "type": "string",
          "description": "Output only. The URL of the Oracle SQL Developer Web for the Autonomous Database.",
          "readOnly": true
        },
        "graphStudioUri": {
          "description": "Output only. The URL of the Graph Studio for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "mongoDbUri": {
          "type": "string",
          "description": "Output only. The URL of the MongoDB API for the Autonomous Database.",
          "readOnly": true
        },
        "apexUri": {
          "description": "Output only. Oracle Application Express (APEX) URL.",
          "readOnly": true,
          "type": "string"
        },
        "machineLearningNotebookUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URL of the Oracle Machine Learning (OML) Notebook for the Autonomous Database."
        },
        "machineLearningUserManagementUri": {
          "description": "Output only. The URL of Machine Learning user management the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "ordsUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Oracle REST Data Services (ORDS) URL of the Web Access for the Autonomous Database."
        },
        "databaseTransformsUri": {
          "description": "Output only. The URL of the Database Transforms for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The URLs for accessing Oracle Application Express (APEX) and SQL Developer Web with a browser from a Compute instance. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionUrls"
    },
    "GenerateAutonomousDatabaseWalletRequest": {
      "description": "The request for `AutonomousDatabase.GenerateWallet`.",
      "properties": {
        "isRegional": {
          "description": "Optional. True when requesting regional connection strings in PDB connect info, applicable to cross-region Data Guard only.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Used to generate wallet for all databases in the region.",
            "Used to generate wallet for a single database."
          ],
          "enum": [
            "GENERATE_TYPE_UNSPECIFIED",
            "ALL",
            "SINGLE"
          ],
          "description": "Optional. The type of wallet generation for the Autonomous Database. The default value is SINGLE."
        },
        "password": {
          "type": "string",
          "description": "Required. The password used to encrypt the keys inside the wallet. The password must be a minimum of 8 characters."
        }
      },
      "id": "GenerateAutonomousDatabaseWalletRequest",
      "type": "object"
    },
    "ListEntitlementsResponse": {
      "description": "The response for `Entitlement.List`.",
      "properties": {
        "entitlements": {
          "description": "The list of Entitlements",
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListEntitlementsResponse",
      "type": "object"
    },
    "ScheduledOperationDetails": {
      "properties": {
        "dayOfWeek": {
          "readOnly": true,
          "description": "Output only. Day of week.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "stopTime": {
          "$ref": "TimeOfDay",
          "readOnly": true,
          "description": "Output only. Auto stop time."
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Auto start time.",
          "$ref": "TimeOfDay"
        }
      },
      "description": "Details of scheduled operation. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/ScheduledOperationDetails",
      "id": "ScheduledOperationDetails",
      "type": "object"
    },
    "DefinedTagValue": {
      "description": "Wrapper message for the value of a defined tag.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags within the namespace."
        }
      },
      "id": "DefinedTagValue",
      "type": "object"
    },
    "ExascaleDbStorageVault": {
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the ExascaleDbStorageVault.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The date and time when the ExascaleDbStorageVault was created.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ExascaleDbStorageVault. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the ExascaleDbStorageVault."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name for the ExascaleDbStorageVault. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters."
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle ExascaleDbStorageVault is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "properties": {
          "description": "Required. The properties of the ExascaleDbStorageVault.",
          "$ref": "ExascaleDbStorageVaultProperties"
        }
      },
      "description": "ExascaleDbStorageVault represents a storage vault exadb vm cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExascaleDbStorageVault/",
      "id": "ExascaleDbStorageVault",
      "type": "object"
    },
    "ListDatabasesResponse": {
      "description": "The response for `Database.List`.",
      "properties": {
        "databases": {
          "type": "array",
          "items": {
            "$ref": "Database"
          },
          "description": "The list of Databases."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListDatabasesResponse",
      "type": "object"
    },
    "ListDbSystemShapesResponse": {
      "properties": {
        "dbSystemShapes": {
          "items": {
            "$ref": "DbSystemShape"
          },
          "type": "array",
          "description": "The list of Database System shapes."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `DbSystemShape.List`.",
      "id": "ListDbSystemShapesResponse",
      "type": "object"
    },
    "ListPluggableDatabasesResponse": {
      "description": "The response for `PluggableDatabase.List`.",
      "properties": {
        "pluggableDatabases": {
          "items": {
            "$ref": "PluggableDatabase"
          },
          "type": "array",
          "description": "The list of PluggableDatabases."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListPluggableDatabasesResponse",
      "type": "object"
    },
    "DataCollectionOptionsCommon": {
      "description": "Data collection options for diagnostics. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DataCollectionOptions",
      "properties": {
        "isHealthMonitoringEnabled": {
          "description": "Optional. Indicates whether to enable health monitoring.",
          "type": "boolean"
        },
        "isDiagnosticsEventsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable data collection for diagnostics."
        },
        "isIncidentLogsEnabled": {
          "description": "Optional. Indicates whether to enable incident logs and trace collection.",
          "type": "boolean"
        }
      },
      "id": "DataCollectionOptionsCommon",
      "type": "object"
    },
    "ListDbServersResponse": {
      "id": "ListDbServersResponse",
      "type": "object",
      "description": "The response for `DbServer.List`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dbServers": {
          "items": {
            "$ref": "DbServer"
          },
          "type": "array",
          "description": "The list of database servers."
        }
      }
    },
    "PluggableDatabase": {
      "id": "PluggableDatabase",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the PluggableDatabase resource in the following format: projects/{project}/locations/{region}/pluggableDatabases/{pluggable_database}",
          "type": "string"
        },
        "properties": {
          "description": "Optional. The properties of the PluggableDatabase.",
          "$ref": "PluggableDatabaseProperties"
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The date and time that the PluggableDatabase was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "The PluggableDatabase resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/PluggableDatabase/"
    },
    "DbHome": {
      "id": "DbHome",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name for the Database Home. The name does not have to be unique within your project."
        },
        "dbVersion": {
          "description": "Required. A valid Oracle Database version. For a list of supported versions, use the ListDbVersions operation.",
          "type": "string"
        },
        "database": {
          "description": "Required. The Database resource.",
          "$ref": "Database"
        },
        "isUnifiedAuditingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether unified auditing is enabled for the Database Home."
        }
      },
      "description": "Details of the Database Home resource."
    },
    "OdbSubnet": {
      "id": "OdbSubnet",
      "type": "object",
      "description": "Represents OdbSubnet resource.",
      "properties": {
        "purpose": {
          "description": "Required. Purpose of the subnet.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Subnet to be used for client connections.",
            "Subnet to be used for backup."
          ],
          "enum": [
            "PURPOSE_UNSPECIFIED",
            "CLIENT_SUBNET",
            "BACKUP_SUBNET"
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels or tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the OdbSubnet resource in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "cidrRange": {
          "description": "Required. The CIDR range of the subnet.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the ODB Subnet.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "type": "string"
        }
      }
    },
    "ListOdbNetworksResponse": {
      "id": "ListOdbNetworksResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        },
        "odbNetworks": {
          "description": "The list of ODB Networks.",
          "items": {
            "$ref": "OdbNetwork"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `OdbNetwork.List`."
    },
    "ExadbVmCluster": {
      "properties": {
        "gcpOracleZone": {
          "readOnly": true,
          "description": "Output only. Immutable. The GCP Oracle zone where Oracle ExadbVmCluster is hosted. Example: us-east4-b-r2. During creation, the system will pick the zone assigned to the ExascaleDbStorageVault.",
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the ExadbVmCluster resource in the following format: projects/{project}/locations/{region}/exadbVmClusters/{exadb_vm_cluster}"
        },
        "createTime": {
          "description": "Output only. The date and time that the ExadbVmCluster was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the ExadbVmCluster.",
          "type": "object"
        },
        "properties": {
          "description": "Required. The properties of the ExadbVmCluster.",
          "$ref": "ExadbVmClusterProperties"
        },
        "backupOdbSubnet": {
          "description": "Required. Immutable. The name of the backup OdbSubnet associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Immutable. The display name for the ExadbVmCluster. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters."
        },
        "entitlementId": {
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the ExadbVmCluster.",
          "readOnly": true
        },
        "odbSubnet": {
          "description": "Required. Immutable. The name of the OdbSubnet associated with the ExadbVmCluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        }
      },
      "description": "ExadbVmCluster represents a cluster of VMs that are used to run Exadata workloads. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExadbVmCluster/",
      "id": "ExadbVmCluster",
      "type": "object"
    },
    "RestoreAutonomousDatabaseRequest": {
      "id": "RestoreAutonomousDatabaseRequest",
      "type": "object",
      "properties": {
        "restoreTime": {
          "description": "Required. The time and date to restore the database to.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The request for `AutonomousDatabase.Restore`."
    },
    "DataCollectionOptions": {
      "properties": {
        "incidentLogsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether incident logs and trace collection are enabled for the VM cluster"
        },
        "diagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether diagnostic collection is enabled for the VM cluster",
          "type": "boolean"
        },
        "healthMonitoringEnabled": {
          "description": "Optional. Indicates whether health monitoring is enabled for the VM cluster",
          "type": "boolean"
        }
      },
      "description": "Data collection options for diagnostics.",
      "id": "DataCollectionOptions",
      "type": "object"
    },
    "ListGiVersionsResponse": {
      "id": "ListGiVersionsResponse",
      "type": "object",
      "description": "The response for `GiVersion.List`.",
      "properties": {
        "giVersions": {
          "description": "The list of Oracle Grid Infrastructure (GI) versions.",
          "type": "array",
          "items": {
            "$ref": "GiVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "AllConnectionStrings": {
      "id": "AllConnectionStrings",
      "type": "object",
      "properties": {
        "medium": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides a lower level of resources to each SQL statement."
        },
        "high": {
          "readOnly": true,
          "description": "Output only. The database service provides the highest level of resources to each SQL statement.",
          "type": "string"
        },
        "low": {
          "description": "Output only. The database service provides the least level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A list of all connection strings that can be used to connect to the Autonomous Database."
    },
    "StopAutonomousDatabaseRequest": {
      "id": "StopAutonomousDatabaseRequest",
      "type": "object",
      "description": "The request for `AutonomousDatabase.Stop`.",
      "properties": {}
    },
    "ExadbVmClusterStorageDetails": {
      "description": "The storage allocation for the exadbvmcluster, in gigabytes (GB).",
      "properties": {
        "sizeInGbsPerNode": {
          "description": "Required. The storage allocation for the exadbvmcluster per node, in gigabytes (GB). This field is used to calculate the total storage allocation for the exadbvmcluster.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ExadbVmClusterStorageDetails",
      "type": "object"
    },
    "ListAutonomousDbVersionsResponse": {
      "id": "ListAutonomousDbVersionsResponse",
      "type": "object",
      "description": "The response for `AutonomousDbVersion.List`.",
      "properties": {
        "autonomousDbVersions": {
          "description": "The list of Autonomous Database versions.",
          "type": "array",
          "items": {
            "$ref": "AutonomousDbVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
[...]
