{
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Oracle Database@Google Cloud API",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "canonicalName": "Oracle Database",
  "protocol": "rest",
  "id": "oracledatabase:v1",
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "revision": "20260415",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "schemas": {
    "GiVersion": {
      "description": "Details of the Oracle Grid Infrastructure (GI) version resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiVersionSummary/",
      "type": "object",
      "id": "GiVersion",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Oracle Grid Infrastructure (GI) version resource with the format: projects/{project}/locations/{region}/giVersions/{gi_versions}",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. version"
        }
      }
    },
    "ListDbSystemsResponse": {
      "type": "object",
      "id": "ListDbSystemsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dbSystems": {
          "description": "The list of DbSystems.",
          "items": {
            "$ref": "DbSystem"
          },
          "type": "array"
        }
      },
      "description": "The response for `DbSystem.List`."
    },
    "ListCloudVmClustersResponse": {
      "id": "ListCloudVmClustersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to fetch the next page of results.",
          "type": "string"
        },
        "cloudVmClusters": {
          "type": "array",
          "description": "The list of VM Clusters.",
          "items": {
            "$ref": "CloudVmCluster"
          }
        }
      },
      "type": "object",
      "description": "The response for `CloudVmCluster.List`."
    },
    "AutonomousDatabaseBackupProperties": {
      "description": "Properties of the Autonomous Database Backup resource.",
      "id": "AutonomousDatabaseBackupProperties",
      "properties": {
        "vaultId": {
          "type": "string",
          "description": "Optional. The OCID of the vault."
        },
        "isLongTermBackup": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the backup is long term backup."
        },
        "retentionPeriodDays": {
          "description": "Optional. Retention period in days for the backup.",
          "type": "integer",
          "format": "int32"
        },
        "availableTillTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp until when the backup will be available.",
          "readOnly": true
        },
        "databaseSizeTb": {
          "type": "number",
          "format": "float",
          "description": "Output only. The quantity of data in the database, in terabytes.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time the backup started.",
          "readOnly": true
        },
        "ocid": {
          "type": "string",
          "description": "Output only. OCID of the Autonomous Database backup. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "readOnly": true
        },
        "kmsKeyVersionId": {
          "description": "Optional. The OCID of the key container version that is used in database transparent data encryption (TDE) operations KMS Key can have multiple key versions. If none is specified, the current key version (latest) of the Key Id is used for the operation. Autonomous Database Serverless does not use key versions, hence is not applicable for Autonomous Database Serverless instances.",
          "type": "string"
        },
        "compartmentId": {
          "description": "Output only. The OCID of the compartment.",
          "readOnly": true,
          "type": "string"
        },
        "isRestorable": {
          "description": "Output only. Indicates if the backup can be used to restore the Autonomous Database.",
          "readOnly": true,
          "type": "boolean"
        },
        "isAutomaticBackup": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the backup is automatic or user initiated."
        },
        "keyStoreWallet": {
          "type": "string",
          "description": "Optional. The wallet name for Oracle Key Vault."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ],
          "description": "Output only. The type of the backup.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ],
          "readOnly": true
        },
        "dbVersion": {
          "readOnly": true,
          "description": "Output only. A valid Oracle Database version for Autonomous Database.",
          "type": "string"
        },
        "sizeTb": {
          "type": "number",
          "format": "float",
          "description": "Output only. The backup size in terabytes.",
          "readOnly": true
        },
        "kmsKeyId": {
          "type": "string",
          "description": "Optional. The OCID of the key container that is used as the master encryption key in database transparent data encryption (TDE) operations."
        },
        "keyStoreId": {
          "description": "Optional. The OCID of the key store of Oracle Vault.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time the backup completed."
        },
        "lifecycleDetails": {
          "readOnly": true,
          "description": "Output only. Additional information about the current lifecycle state.",
          "type": "string"
        },
        "lifecycleState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "UPDATING"
          ],
          "description": "Output only. The lifecycle state of the backup.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in updating state."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseProperties": {
      "type": "object",
      "id": "AutonomousDatabaseProperties",
      "properties": {
        "autonomousContainerDatabaseId": {
          "readOnly": true,
          "description": "Output only. The Autonomous Container Database OCID.",
          "type": "string"
        },
        "allocatedStorageSizeTb": {
          "readOnly": true,
          "description": "Output only. The amount of storage currently allocated for the database tables and billed for, rounded up in terabytes.",
          "type": "number",
          "format": "double"
        },
        "scheduledOperationDetails": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list and details of the scheduled operations of the Autonomous Database.",
          "items": {
            "$ref": "ScheduledOperationDetails"
          }
        },
        "actualUsedDataStorageSizeTb": {
          "type": "number",
          "format": "double",
          "description": "Output only. The amount of storage currently being used for user and system data, in terabytes.",
          "readOnly": true
        },
        "connectionUrls": {
          "readOnly": true,
          "$ref": "AutonomousDatabaseConnectionUrls",
          "description": "Output only. The Oracle Connection URLs for an Autonomous Database."
        },
        "operationsInsightsState": {
          "type": "string",
          "description": "Output only. This field indicates the state of Operations Insights for the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling status for operation insights.",
            "Enabled status for operation insights.",
            "Disabling status for operation insights.",
            "Not Enabled status for operation insights.",
            "Failed enabling status for operation insights.",
            "Failed disabling status for operation insights."
          ],
          "readOnly": true,
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ]
        },
        "memoryTableGbs": {
          "description": "Output only. The memory assigned to in-memory tables in an Autonomous Database.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "maintenanceScheduleType": {
          "description": "Optional. Immutable. The maintenance schedule of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "An EARLY maintenance schedule patches the database before the regular scheduled maintenance.",
            "A REGULAR maintenance schedule follows the normal maintenance cycle."
          ],
          "type": "string",
          "enum": [
            "MAINTENANCE_SCHEDULE_TYPE_UNSPECIFIED",
            "EARLY",
            "REGULAR"
          ]
        },
        "licenseType": {
          "description": "Required. Immutable. The license type used for the Autonomous Database.",
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "type": "string",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "dataSafeState": {
          "readOnly": true,
          "description": "Output only. The current state of the Data Safe registration for the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Registering data safe state.",
            "Registered data safe state.",
            "Deregistering data safe state.",
            "Not registered data safe state.",
            "Failed data safe state."
          ],
          "enum": [
            "DATA_SAFE_STATE_UNSPECIFIED",
            "REGISTERING",
            "REGISTERED",
            "DEREGISTERING",
            "NOT_REGISTERED",
            "FAILED"
          ],
          "type": "string"
        },
        "failedDataRecoveryDuration": {
          "description": "Output only. This field indicates the number of seconds of data loss during a Data Guard failover.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "cpuCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Immutable. The number of CPU cores to be made available to the database."
        },
        "peerDbIds": {
          "description": "Output only. The list of OCIDs of standby databases located in Autonomous Data Guard remote regions that are associated with the source database.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "dataStorageSizeGb": {
          "description": "Optional. Immutable. The size of the data stored in the database, in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "isLocalDataGuardEnabled": {
          "description": "Output only. Deprecated: Please use `local_data_guard_enabled` instead. This field indicates whether the Autonomous Database has local (in-region) Data Guard enabled.",
          "readOnly": true,
          "deprecated": true,
          "type": "boolean"
        },
        "role": {
          "readOnly": true,
          "description": "Output only. The Data Guard role of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Primary role",
            "Standby role",
            "Disabled standby role",
            "Backup copy role",
            "Snapshot standby role"
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY",
            "DISABLED_STANDBY",
            "BACKUP_COPY",
            "SNAPSHOT_STANDBY"
          ],
          "type": "string"
        },
        "refreshableState": {
          "readOnly": true,
          "description": "Output only. The refresh State of the clone.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Refreshing",
            "Not refreshed"
          ],
          "enum": [
            "REFRESHABLE_STATE_UNSPECIFIED",
            "REFRESHING",
            "NOT_REFRESHING"
          ],
          "type": "string"
        },
        "characterSet": {
          "type": "string",
          "description": "Optional. Immutable. The character set for the Autonomous Database. The default is AL32UTF8."
        },
        "refreshableMode": {
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Output only. The refresh mode of the cloned Autonomous Database.",
          "enumDescriptions": [
            "The default unspecified value.",
            "AUTOMATIC indicates that the cloned database is automatically refreshed with data from the source Autonomous Database.",
            "MANUAL indicates that the cloned database is manually refreshed with data from the source Autonomous Database."
          ],
          "readOnly": true,
          "type": "string"
        },
        "nCharacterSet": {
          "type": "string",
          "description": "Optional. Immutable. The national character set for the Autonomous Database. The default is AL16UTF16."
        },
        "mtlsConnectionRequired": {
          "description": "Optional. Immutable. This field specifies if the Autonomous Database requires mTLS connections.",
          "type": "boolean"
        },
        "customerContacts": {
          "description": "Optional. Immutable. The list of customer contacts.",
          "items": {
            "$ref": "CustomerContact"
          },
          "type": "array"
        },
        "localAdgAutoFailoverMaxDataLossLimit": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Deprecated: Please use `local_adg_auto_failover_max_data_loss_limit_duration` instead. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "type": "integer",
          "deprecated": true
        },
        "localStandbyDb": {
          "readOnly": true,
          "$ref": "AutonomousDatabaseStandbySummary",
          "description": "Output only. The details of the Autonomous Data Guard standby database."
        },
        "maintenanceBeginTime": {
          "readOnly": true,
          "description": "Output only. The date and time when maintenance will begin.",
          "type": "string",
          "format": "google-datetime"
        },
        "permissionLevel": {
          "readOnly": true,
          "description": "Output only. The permission level of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Restricted mode allows access only by admin users.",
            "Normal access."
          ],
          "enum": [
            "PERMISSION_LEVEL_UNSPECIFIED",
            "RESTRICTED",
            "UNRESTRICTED"
          ],
          "type": "string"
        },
        "encryptionKey": {
          "$ref": "EncryptionKey",
          "description": "Optional. The encryption key used to encrypt the Autonomous Database. Updating this field will add a new entry in the `encryption_key_history_entries` field with the former version."
        },
        "openMode": {
          "type": "string",
          "enum": [
            "OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "readOnly": true,
          "description": "Output only. This field indicates the current mode of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Read Only Mode",
            "Read Write Mode"
          ]
        },
        "privateEndpointLabel": {
          "type": "string",
          "description": "Optional. Immutable. The private endpoint label for the Autonomous Database."
        },
        "privateEndpointIp": {
          "description": "Optional. Immutable. The private endpoint IP address for the Autonomous Database.",
          "type": "string"
        },
        "secretId": {
          "type": "string",
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault secret."
        },
        "lifecycleDetails": {
          "type": "string",
          "description": "Output only. The details of the current lifestyle state of the Autonomous Database.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current lifecycle state of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "type": "string"
        },
        "nextLongTermBackupTime": {
          "description": "Output only. The long term backup schedule of the Autonomous Database.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "disasterRecoveryRoleChangedTime": {
          "description": "Output only. The date and time the Disaster Recovery role was changed for the standby Autonomous Database.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "connectionStrings": {
          "description": "Output only. The connection strings used to connect to an Autonomous Database.",
          "readOnly": true,
          "$ref": "AutonomousDatabaseConnectionStrings"
        },
        "memoryPerOracleComputeUnitGbs": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The amount of memory enabled per ECPU, in gigabytes."
        },
        "dbVersion": {
          "type": "string",
          "description": "Optional. Immutable. The Oracle Database version for the Autonomous Database."
        },
        "dbEdition": {
          "description": "Optional. Immutable. The edition of the Autonomous Databases.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Standard Database Edition",
            "Enterprise Database Edition"
          ],
          "type": "string",
          "enum": [
            "DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION"
          ]
        },
        "maintenanceEndTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time when maintenance will end."
        },
        "usedDataStorageSizeTbs": {
          "readOnly": true,
          "description": "Output only. The storage space used by Autonomous Database, in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "isStorageAutoScalingEnabled": {
          "type": "boolean",
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database storage."
        },
        "backupRetentionPeriodDays": {
          "description": "Optional. Immutable. The retention period for the Autonomous Database. This field is specified in days, can range from 1 day to 60 days, and has a default value of 60 days.",
          "type": "integer",
          "format": "int32"
        },
        "totalAutoBackupStorageSizeGbs": {
          "readOnly": true,
          "description": "Output only. The storage space used by automatic backups of Autonomous Database, in gigabytes.",
          "type": "number",
          "format": "float"
        },
        "isAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database CPU core count.",
          "type": "boolean"
        },
        "localDisasterRecoveryType": {
          "enum": [
            "LOCAL_DISASTER_RECOVERY_TYPE_UNSPECIFIED",
            "ADG",
            "BACKUP_BASED",
            "NOT_AVAILABLE"
          ],
          "readOnly": true,
          "description": "Output only. This field indicates the local disaster recovery (DR) type of an Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Data Guard recovery.",
            "Backup based recovery.",
            "Local disaster recovery is not available."
          ],
          "type": "string"
        },
        "computeCount": {
          "description": "Optional. Immutable. The number of compute servers for the Autonomous Database.",
          "type": "number",
          "format": "float"
        },
        "apexDetails": {
          "readOnly": true,
          "$ref": "AutonomousDatabaseApex",
          "description": "Output only. The details for the Oracle APEX Application Development."
        },
        "localDataGuardEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the Autonomous Database has a local (in-region) standby database. Not applicable to cross-region Data Guard or dedicated Exadata infrastructure."
        },
        "dataStorageSizeTb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Immutable. The size of the data stored in the database, in terabytes."
        },
        "sqlWebDeveloperUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SQL Web Developer URL for the Autonomous Database."
        },
        "allowlistedIps": {
          "type": "array",
          "description": "Optional. Immutable. The list of allowlisted IP addresses for the Autonomous Database.",
          "items": {
            "type": "string"
          }
        },
        "arePrimaryAllowlistedIpsUsed": {
          "readOnly": true,
          "description": "Output only. This field indicates the status of Data Guard and Access control for the Autonomous Database. The field's value is null if Data Guard is disabled or Access Control is disabled. The field's value is TRUE if both Data Guard and Access Control are enabled, and the Autonomous Database is using primary IP access control list (ACL) for standby. The field's value is FALSE if both Data Guard and Access Control are enabled, and the Autonomous Database is using a different IP access control list (ACL) for standby compared to primary.",
          "type": "boolean"
        },
        "encryptionKeyHistoryEntries": {
          "readOnly": true,
          "description": "Output only. The history of the encryption keys used to encrypt the Autonomous Database.",
          "items": {
            "$ref": "EncryptionKeyHistoryEntry"
          },
          "type": "array"
        },
        "ociUrl": {
          "type": "string",
          "description": "Output only. The Oracle Cloud Infrastructure link for the Autonomous Database.",
          "readOnly": true
        },
        "availableUpgradeVersions": {
          "type": "array",
          "description": "Output only. The list of available Oracle Database upgrade versions for an Autonomous Database.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "localAdgAutoFailoverMaxDataLossLimitDuration": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. This field indicates the maximum data loss limit for an Autonomous Database, in seconds."
        },
        "dbWorkload": {
          "type": "string",
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ],
          "description": "Required. Immutable. The workload type of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ]
        },
        "databaseManagementState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of database management for the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling Database Management state",
            "Enabled Database Management state",
            "Disabling Database Management state",
            "Not Enabled Database Management state",
            "Failed enabling Database Management state",
            "Failed disabling Database Management state"
          ],
          "enum": [
            "DATABASE_MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ]
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. OCID of the Autonomous Database. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "type": "string"
        },
        "privateEndpoint": {
          "type": "string",
          "description": "Output only. The private endpoint for the Autonomous Database.",
          "readOnly": true
        },
        "serviceAgentEmail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An Oracle-managed Google Cloud service account on which customers can grant roles to access resources in the customer project."
        },
        "dataGuardRoleChangedTime": {
          "readOnly": true,
          "description": "Output only. The date and time the Autonomous Data Guard role was changed for the standby Autonomous Database.",
          "type": "string",
          "format": "google-datetime"
        },
        "vaultId": {
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault.",
          "type": "string"
        },
        "supportedCloneRegions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of available regions that can be used to create a clone for the Autonomous Database.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The properties of an Autonomous Database."
    },
    "EncryptionKey": {
      "description": "The encryption key used to encrypt the Autonomous Database.",
      "type": "object",
      "id": "EncryptionKey",
      "properties": {
        "provider": {
          "description": "Optional. The provider of the encryption key.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Google Managed KMS key, if selected, please provide the KMS key name.",
            "Oracle Managed."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "ORACLE_MANAGED"
          ]
        },
        "kmsKey": {
          "description": "Optional. The KMS key used to encrypt the Autonomous Database. This field is required if the provider is GOOGLE_MANAGED. The name of the KMS key resource in the following format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
          "type": "string"
        }
      }
    },
    "ExadbVmClusterProperties": {
      "description": "The properties of an ExadbVmCluster.",
      "id": "ExadbVmClusterProperties",
      "properties": {
        "vmFileSystemStorage": {
          "description": "Required. Immutable. Total storage details for the ExadbVmCluster.",
          "$ref": "ExadbVmClusterStorageDetails"
        },
        "ociUri": {
          "readOnly": true,
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "type": "string"
        },
        "clusterName": {
          "description": "Optional. Immutable. The cluster name for Exascale vm cluster. The cluster name must begin with an alphabetic character and may contain hyphens(-) but can not contain underscores(_). It should be not more than 11 characters and is not case sensitive. OCI Cluster name.",
          "type": "string"
        },
        "enabledEcpuCountPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Immutable. The number of ECPUs enabled per node for an exadata vm cluster on exascale infrastructure."
        },
        "memorySizeGb": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Memory per VM (GB) (Read-only): Shows the amount of memory allocated to each VM. Memory is calculated based on 2.75 GB per Total ECPUs."
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of nodes/VMs in the ExadbVmCluster."
        },
        "shapeAttribute": {
          "description": "Required. Immutable. The shape attribute of the VM cluster. The type of Exascale storage used for Exadata VM cluster. The default is SMART_STORAGE which supports Oracle Database 23ai and later",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in smart storage.",
            "Indicates that the resource is in block storage."
          ],
          "type": "string",
          "enum": [
            "SHAPE_ATTRIBUTE_UNSPECIFIED",
            "SMART_STORAGE",
            "BLOCK_STORAGE"
          ]
        },
        "exascaleDbStorageVault": {
          "type": "string",
          "description": "Required. Immutable. The name of ExascaleDbStorageVault associated with the ExadbVmCluster. It can refer to an existing ExascaleDbStorageVault. Or a new one can be created during the ExadbVmCluster creation (requires storage_vault_properties to be set). Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "sshPublicKeys": {
          "type": "array",
          "description": "Required. Immutable. The SSH public keys for the ExadbVmCluster.",
          "items": {
            "type": "string"
          }
        },
        "timeZone": {
          "description": "Optional. Immutable. The time zone of the ExadbVmCluster.",
          "$ref": "TimeZone"
        },
        "dataCollectionOptions": {
          "description": "Optional. Immutable. Indicates user preference for data collection options.",
          "$ref": "DataCollectionOptionsCommon"
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Required. Immutable. Prefix for VM cluster host names."
        },
        "giVersion": {
          "readOnly": true,
          "description": "Output only. The Oracle Grid Infrastructure (GI) software version.",
          "type": "string"
        },
        "additionalEcpuCountPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Immutable. The number of additional ECPUs per node for an Exadata VM cluster on exascale infrastructure."
        },
        "lifecycleState": {
          "type": "string",
          "enum": [
            "EXADB_VM_CLUSTER_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "description": "Output only. State of the cluster.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "readOnly": true
        },
        "hostname": {
          "type": "string",
          "description": "Output only. The hostname of the ExadbVmCluster.",
          "readOnly": true
        },
        "licenseModel": {
          "description": "Optional. Immutable. The license type of the ExadbVmCluster.",
          "enumDescriptions": [
            "Unspecified.",
            "Default is license included.",
            "Bring your own license."
          ],
          "type": "string",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "gridImageId": {
          "description": "Required. Immutable. Grid Infrastructure Version.",
          "type": "string"
        },
        "scanListenerPortTcp": {
          "description": "Optional. Immutable. SCAN listener port - TCP",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "DbSystemInitialStorageSizeProperties": {
      "description": "The properties of a DbSystem initial storage size summary.",
      "id": "DbSystemInitialStorageSizeProperties",
      "properties": {
        "shapeType": {
          "readOnly": true,
          "description": "Output only. VM shape platform type",
          "enumDescriptions": [
            "Unspecified shape type.",
            "Standard X86."
          ],
          "enum": [
            "SHAPE_TYPE_UNSPECIFIED",
            "STANDARD_X86"
          ],
          "type": "string"
        },
        "storageSizeDetails": {
          "description": "Output only. List of storage disk details.",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "readOnly": true,
          "type": "array"
        },
        "storageManagement": {
          "description": "Output only. The storage option used in DB system.",
          "enumDescriptions": [
            "Unspecified storage management.",
            "Automatic Storage Management.",
            "Logical Volume Management."
          ],
          "readOnly": true,
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "type": "string"
        },
        "launchFromBackupStorageSizeDetails": {
          "type": "array",
          "description": "Output only. List of storage disk details available for launches from backup.",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DefinedTagValue": {
      "type": "object",
      "id": "DefinedTagValue",
      "properties": {
        "tags": {
          "description": "The tags within the namespace.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Wrapper message for the value of a defined tag."
    },
    "DbSystem": {
      "description": "Details of the DbSystem (BaseDB) resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystem/",
      "type": "object",
      "id": "DbSystem",
      "properties": {
        "labels": {
          "description": "Optional. The labels or tags associated with the DbSystem.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name for the System db. The name does not have to be unique within your project."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the DbSystem resource in the following format: projects/{project}/locations/{region}/dbSystems/{db_system}"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle DbSystem is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "entitlementId": {
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the DbSystem",
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the DbSystem. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "createTime": {
          "description": "Output only. The date and time that the DbSystem was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "properties": {
          "description": "Optional. The properties of the DbSystem.",
          "$ref": "DbSystemProperties"
        },
        "odbSubnet": {
          "type": "string",
          "description": "Required. The name of the OdbSubnet associated with the DbSystem for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "ociUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface."
        }
      }
    },
    "DbSystemInitialStorageSize": {
      "id": "DbSystemInitialStorageSize",
      "properties": {
        "properties": {
          "readOnly": true,
          "$ref": "DbSystemInitialStorageSizeProperties",
          "description": "Output only. The properties of the DbSystem initial storage size summary."
        },
        "name": {
          "description": "Output only. The name of the resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Summary of the DbSystem initial storage size."
    },
    "ListDbServersResponse": {
      "type": "object",
      "id": "ListDbServersResponse",
      "properties": {
        "dbServers": {
          "type": "array",
          "description": "The list of database servers.",
          "items": {
            "$ref": "DbServer"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `DbServer.List`."
    },
    "ListPluggableDatabasesResponse": {
      "type": "object",
      "id": "ListPluggableDatabasesResponse",
      "properties": {
        "pluggableDatabases": {
          "description": "The list of PluggableDatabases.",
          "items": {
            "$ref": "PluggableDatabase"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response for `PluggableDatabase.List`."
    },
    "DbSystemOptions": {
      "id": "DbSystemOptions",
      "properties": {
        "storageManagement": {
          "type": "string",
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "description": "Optional. The storage option used in DB system.",
          "enumDescriptions": [
            "The storage management is unspecified.",
            "Automatic storage management.",
            "Logical Volume management."
          ]
        }
      },
      "type": "object",
      "description": "Details of the DbSystem Options."
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "OdbNetwork": {
      "description": "Represents OdbNetwork resource.",
      "id": "OdbNetwork",
      "properties": {
        "name": {
          "description": "Identifier. The name of the OdbNetwork resource in the following format: projects/{project}/locations/{region}/odbNetworks/{odb_network}",
          "type": "string"
        },
        "entitlementId": {
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the OdbNetwork.",
          "type": "string"
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Optional. The GCP Oracle zone where OdbNetwork is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability."
        },
        "network": {
          "type": "string",
          "description": "Required. The name of the VPC network in the following format: projects/{project}/global/networks/{network}"
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. State of the ODB Network.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ]
        }
      },
      "type": "object"
    },
    "GenerateAutonomousDatabaseWalletRequest": {
      "type": "object",
      "id": "GenerateAutonomousDatabaseWalletRequest",
      "properties": {
        "password": {
          "type": "string",
          "description": "Required. The password used to encrypt the keys inside the wallet. The password must be a minimum of 8 characters."
        },
        "isRegional": {
          "type": "boolean",
          "description": "Optional. True when requesting regional connection strings in PDB connect info, applicable to cross-region Data Guard only."
        },
        "type": {
          "description": "Optional. The type of wallet generation for the Autonomous Database. The default value is SINGLE.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Used to generate wallet for all databases in the region.",
            "Used to generate wallet for a single database."
          ],
          "type": "string",
          "enum": [
            "GENERATE_TYPE_UNSPECIFIED",
            "ALL",
            "SINGLE"
          ]
        }
      },
      "description": "The request for `AutonomousDatabase.GenerateWallet`."
    },
    "ListAutonomousDbVersionsResponse": {
      "description": "The response for `AutonomousDbVersion.List`.",
      "type": "object",
      "id": "ListAutonomousDbVersionsResponse",
      "properties": {
        "autonomousDbVersions": {
          "type": "array",
          "description": "The list of Autonomous Database versions.",
          "items": {
            "$ref": "AutonomousDbVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "RestartAutonomousDatabaseRequest": {
      "type": "object",
      "id": "RestartAutonomousDatabaseRequest",
      "properties": {},
      "description": "The request for `AutonomousDatabase.Restart`."
    },
    "AutonomousDatabaseBackup": {
      "description": "Details of the Autonomous Database Backup resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseBackup/",
      "type": "object",
      "id": "AutonomousDatabaseBackup",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup}",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the backup.",
          "$ref": "AutonomousDatabaseBackupProperties"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. labels or tags associated with the resource."
        },
        "autonomousDatabase": {
          "type": "string",
          "description": "Required. The name of the Autonomous Database resource for which the backup is being created. Format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly name for the Backup. The name does not have to be unique."
        }
      }
    },
    "CloudExadataInfrastructure": {
      "type": "object",
      "id": "CloudExadataInfrastructure",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Exadata Infrastructure resource with the format: projects/{project}/locations/{region}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle Exadata Infrastructure is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Entitlement ID of the private offer against which this infrastructure resource is provisioned."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time that the Exadata Infrastructure was created."
        },
        "properties": {
          "$ref": "CloudExadataInfrastructureProperties",
          "description": "Optional. Various properties of the infra."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels or tags associated with the resource."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly name for this resource."
        }
      },
      "description": "Represents CloudExadataInfrastructure resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudExadataInfrastructure/"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "ListExadbVmClustersResponse": {
      "type": "object",
      "id": "ListExadbVmClustersResponse",
      "properties": {
        "exadbVmClusters": {
          "type": "array",
          "description": "The list of ExadbVmClusters.",
          "items": {
            "$ref": "ExadbVmCluster"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `ExadbVmCluster.List`."
    },
    "ListMinorVersionsResponse": {
      "id": "ListMinorVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "minorVersions": {
          "description": "The list of MinorVersions.",
          "items": {
            "$ref": "MinorVersion"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response for `MinorVersion.List`."
    },
    "DbVersionProperties": {
      "description": "The properties of a DbVersion.",
      "id": "DbVersionProperties",
      "properties": {
        "isUpgradeSupported": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if this version of the Oracle Database software is supported for Upgrade."
        },
        "isPreviewDbVersion": {
          "description": "Output only. True if this version of the Oracle Database software is the preview version.",
          "readOnly": true,
          "type": "boolean"
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A valid Oracle Database version."
        },
        "supportsPdb": {
          "readOnly": true,
          "description": "Output only. True if this version of the Oracle Database software supports pluggable databases.",
          "type": "boolean"
        },
        "isLatestForMajorVersion": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if this version of the Oracle Database software is the latest version for a release."
        }
      },
      "type": "object"
    },
    "TimeZone": {
      "type": "object",
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "ListAutonomousDatabasesResponse": {
      "type": "object",
      "id": "ListAutonomousDatabasesResponse",
      "properties": {
        "autonomousDatabases": {
          "type": "array",
          "description": "The list of Autonomous Databases.",
          "items": {
            "$ref": "AutonomousDatabase"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `AutonomousDatabase.List`."
    },
    "StorageSizeDetails": {
      "description": "The initial storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
      "id": "StorageSizeDetails",
      "properties": {
        "recoStorageSizeInGbs": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The RECO/REDO storage size, in gigabytes, that is applicable for virtual machine DBSystem."
        },
        "dataStorageSizeInGbs": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The data storage size, in gigabytes, that is applicable for virtual machine DBSystem."
        }
      },
      "type": "object"
    },
    "StartAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Start`.",
      "type": "object",
      "id": "StartAutonomousDatabaseRequest",
      "properties": {}
    },
    "DbBackupConfig": {
      "description": "Backup Options for the Database.",
      "id": "DbBackupConfig",
      "properties": {
        "retentionPeriodDays": {
          "description": "Optional. The number of days an automatic backup is retained before being automatically deleted. This value determines the earliest point in time to which a database can be restored. Min: 1, Max: 60.",
          "type": "integer",
          "format": "int32"
        },
        "autoIncrementalBackupWindow": {
          "description": "Optional. The window in which the incremental backup should be performed on the database. If no value is provided, the default is anytime except the auto full backup day.",
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ],
          "type": "string",
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ]
        },
        "backupDeletionPolicy": {
          "description": "Optional. This defines when the backups will be deleted after Database termination.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Keeps the backup for predefined time i.e. 72 hours and then delete permanently.",
            "Keeps the backups as per the policy defined for database backups."
          ],
          "type": "string",
          "enum": [
            "BACKUP_DELETION_POLICY_UNSPECIFIED",
            "DELETE_IMMEDIATELY",
            "DELETE_AFTER_RETENTION_PERIOD"
          ]
        },
        "autoFullBackupWindow": {
          "description": "Optional. The window in which the full backup should be performed on the database. If no value is provided, the default is anytime.",
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ],
          "type": "string",
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ]
        },
        "backupDestinationDetails": {
          "type": "array",
          "description": "Optional. Details of the database backup destinations.",
          "items": {
            "$ref": "BackupDestinationDetails"
          }
        },
        "autoBackupEnabled": {
          "type": "boolean",
          "description": "Optional. If set to true, enables automatic backups on the database."
        },
        "autoFullBackupDay": {
          "description": "Optional. The day of the week on which the full backup should be performed on the database. If no value is provided, it will default to Sunday.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "type": "object"
    },
    "DatabaseProperties": {
      "description": "The properties of a Database.",
      "id": "DatabaseProperties",
      "properties": {
        "databaseManagementConfig": {
          "description": "Output only. The Database Management config.",
          "readOnly": true,
          "$ref": "DatabaseManagementConfig"
        },
        "state": {
          "type": "string",
          "enum": [
            "DATABASE_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "BACKUP_IN_PROGRESS",
            "UPGRADING",
            "CONVERTING",
            "TERMINATING",
            "TERMINATED",
            "RESTORE_FAILED",
            "FAILED"
          ],
          "description": "Output only. State of the Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in backup in progress state.",
            "Indicates that the resource is in upgrading state.",
            "Indicates that the resource is in converting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in restore failed state.",
            "Indicates that the resource is in failed state."
          ],
          "readOnly": true
        },
        "dbBackupConfig": {
          "description": "Optional. Backup options for the Database.",
          "$ref": "DbBackupConfig"
        },
        "dbVersion": {
          "type": "string",
          "description": "Required. The Oracle Database version."
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "IdentityConnector": {
      "description": "The identity connector details which will allow OCI to securely access the resources in the customer project.",
      "type": "object",
      "id": "IdentityConnector",
      "properties": {
        "connectionState": {
          "type": "string",
          "description": "Output only. The connection state of the identity connector.",
          "enumDescriptions": [
            "Default unspecified value.",
            "The identity pool connection is connected.",
            "The identity pool connection is partially connected.",
            "The identity pool connection is disconnected.",
            "The identity pool connection is in an unknown state."
          ],
          "readOnly": true,
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "CONNECTED",
            "PARTIALLY_CONNECTED",
            "DISCONNECTED",
            "UNKNOWN"
          ]
        },
        "serviceAgentEmail": {
          "description": "Output only. A google managed service account on which customers can grant roles to access resources in the customer project. Example: `p176944527254-55-75119d87fd8f@gcp-sa-oci.iam.gserviceaccount.com`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ExascaleDbStorageDetails": {
      "type": "object",
      "id": "ExascaleDbStorageDetails",
      "properties": {
        "availableSizeGbs": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The available storage capacity for the ExascaleDbStorageVault, in gigabytes (GB)."
        },
        "totalSizeGbs": {
          "description": "Required. The total storage allocation for the ExascaleDbStorageVault, in gigabytes (GB).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The storage details of the ExascaleDbStorageVault."
    },
    "AutonomousDatabaseConnectionStrings": {
      "description": "The connection string used to connect to the Autonomous Database. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionStrings",
      "id": "AutonomousDatabaseConnectionStrings",
      "properties": {
        "high": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides the highest level of resources to each SQL statement."
        },
        "low": {
          "description": "Output only. The database service provides the least level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        },
        "dedicated": {
          "readOnly": true,
          "description": "Output only. The database service provides the least level of resources to each SQL statement, but supports the most number of concurrent SQL statements.",
          "type": "string"
        },
        "profiles": {
          "description": "Output only. A list of connection string profiles to allow clients to group, filter, and select values based on the structured metadata.",
          "items": {
            "$ref": "DatabaseConnectionStringProfile"
          },
          "readOnly": true,
          "type": "array"
        },
        "allConnectionStrings": {
          "description": "Output only. Returns all connection strings that can be used to connect to the Autonomous Database.",
          "readOnly": true,
          "$ref": "AllConnectionStrings"
        },
        "medium": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides a lower level of resources to each SQL statement."
        }
      },
      "type": "object"
    },
    "DataCollectionOptionsCommon": {
      "description": "Data collection options for diagnostics. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DataCollectionOptions",
      "id": "DataCollectionOptionsCommon",
      "properties": {
        "isDiagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether to enable data collection for diagnostics.",
          "type": "boolean"
        },
        "isHealthMonitoringEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable health monitoring."
        },
        "isIncidentLogsEnabled": {
          "description": "Optional. Indicates whether to enable incident logs and trace collection.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "MinorVersion": {
      "type": "object",
      "id": "MinorVersion",
      "properties": {
        "name": {
          "description": "Identifier. The name of the MinorVersion resource with the format: projects/{project}/locations/{region}/giVersions/{gi_version}/minorVersions/{minor_version}",
          "type": "string"
        },
        "gridImageId": {
          "type": "string",
          "description": "Optional. The ID of the Grid Image."
        },
        "version": {
          "type": "string",
          "description": "Optional. The valid Oracle grid infrastructure software version."
        }
      },
      "description": "MinorVersion represents a minor version of a GI. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiMinorVersionSummary/"
    },
    "Database": {
      "description": "Details of the Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/Database/",
      "id": "Database",
      "properties": {
        "dbHomeName": {
          "type": "string",
          "description": "Optional. The name of the DbHome resource associated with the Database."
        },
        "name": {
          "description": "Identifier. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}",
          "type": "string"
        },
        "adminPassword": {
          "type": "string",
          "description": "Optional. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "databaseId": {
          "description": "Optional. The database ID of the Database.",
          "type": "string"
        },
        "pluggableDatabaseName": {
          "type": "string",
          "description": "Optional. The pluggable database associated with the Database. The name must begin with an alphabetic character and can contain a maximum of thirty alphanumeric characters."
        },
        "ncharacterSet": {
          "type": "string",
          "description": "Optional. The national character set for the database. The default is AL16UTF16."
        },
        "pluggableDatabaseId": {
          "type": "string",
          "description": "Optional. The ID of the pluggable database associated with the Database. The ID must be unique within the project and location."
        },
        "properties": {
          "$ref": "DatabaseProperties",
          "description": "Optional. The properties of the Database."
        },
        "dbUniqueName": {
          "type": "string",
          "description": "Optional. The DB_UNIQUE_NAME of the Oracle Database being backed up."
        },
        "dbName": {
          "description": "Optional. The database name. The name must begin with an alphabetic character and can contain a maximum of eight alphanumeric characters. Special characters are not permitted.",
          "type": "string"
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Output only. The GCP Oracle zone where the Database is created.",
          "readOnly": true
        },
        "opsInsightsStatus": {
          "type": "string",
          "description": "Output only. The Status of Operations Insights for this Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the operations insights are being enabled.",
            "Indicates that the operations insights are enabled.",
            "Indicates that the operations insights are being disabled.",
            "Indicates that the operations insights are not enabled.",
            "Indicates that the operations insights failed to enable.",
            "Indicates that the operations insights failed to disable."
          ],
          "readOnly": true,
          "enum": [
            "OPERATIONS_INSIGHTS_STATUS_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ]
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "tdeWalletPassword": {
          "type": "string",
          "description": "Optional. The TDE wallet password for the database. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated."
        },
        "tdeWalletPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the TDE wallet password for the database. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated."
        },
        "characterSet": {
          "description": "Optional. The character set for the database. The default is AL32UTF8.",
          "type": "string"
        },
        "ociUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface."
        },
        "createTime": {
          "description": "Output only. The date and time that the Database was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "DataCollectionOptionsDbSystem": {
      "type": "object",
      "id": "DataCollectionOptionsDbSystem",
      "properties": {
        "isDiagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether to enable data collection for diagnostics.",
          "type": "boolean"
        },
        "isIncidentLogsEnabled": {
          "description": "Optional. Indicates whether to enable incident logs and trace collection.",
          "type": "boolean"
        }
      },
      "description": "Data collection options for DbSystem."
    },
    "BackupDestinationDetails": {
      "id": "BackupDestinationDetails",
      "properties": {
        "type": {
          "description": "Optional. The type of the database backup destination.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Backup destination type is NFS.",
            "Backup destination type is Recovery Appliance.",
            "Backup destination type is Object Store.",
            "Backup destination type is Local.",
            "Backup destination type is DBRS."
          ],
          "type": "string",
          "enum": [
            "BACKUP_DESTINATION_TYPE_UNSPECIFIED",
            "NFS",
            "RECOVERY_APPLIANCE",
            "OBJECT_STORE",
            "LOCAL",
            "DBRS"
          ]
        }
      },
      "type": "object",
      "description": "The details of the database backup destination."
    },
    "DbSystemProperties": {
      "id": "DbSystemProperties",
      "properties": {
        "hostname": {
          "readOnly": true,
          "description": "Output only. The hostname of the DbSystem.",
          "type": "string"
        },
        "lifecycleState": {
          "type": "string",
          "enum": [
            "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MIGRATED",
            "MAINTENANCE_IN_PROGRESS",
            "NEEDS_ATTENTION",
            "UPGRADING"
          ],
          "description": "Output only. State of the DbSystem.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource has been migrated.",
            "Indicates that the resource is in maintenance in progress state.",
            "Indicates that the resource needs attention.",
            "Indicates that the resource is upgrading."
          ],
          "readOnly": true
        },
        "databaseEdition": {
          "description": "Required. The database edition of the DbSystem.",
          "enumDescriptions": [
            "The database edition is unspecified.",
            "The database edition is Standard.",
            "The database edition is Enterprise.",
            "The database edition is Enterprise Edition."
          ],
          "type": "string",
          "enum": [
            "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION",
            "ENTERPRISE_EDITION_HIGH_PERFORMANCE"
          ]
        },
        "hostnamePrefix": {
          "description": "Optional. Prefix for DB System host names.",
          "type": "string"
        },
        "dbHome": {
          "description": "Optional. Details for creating a Database Home.",
          "$ref": "DbHome"
        },
        "licenseModel": {
          "description": "Required. The license model of the DbSystem.",
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "type": "string",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "initialDataStorageSizeGb": {
          "description": "Required. The initial data storage size in GB.",
          "type": "integer",
          "format": "int32"
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. OCID of the DbSystem.",
          "type": "string"
        },
        "memorySizeGb": {
          "description": "Optional. The memory size in GB.",
          "type": "integer",
          "format": "int32"
        },
        "privateIp": {
          "type": "string",
          "description": "Optional. The private IP address of the DbSystem."
        },
        "computeModel": {
          "description": "Optional. The compute model of the DbSystem.",
          "enumDescriptions": [
            "The compute model is unspecified.",
            "The compute model is virtual.",
            "The compute model is physical."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "ECPU",
            "OCPU"
          ]
        },
        "dataStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The data storage size in GB that is currently available to DbSystems."
        },
        "dataCollectionOptions": {
          "$ref": "DataCollectionOptionsDbSystem",
          "description": "Optional. Data collection options for diagnostics."
        },
        "computeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of CPU cores to enable for the DbSystem."
        },
        "sshPublicKeys": {
          "description": "Required. SSH public keys to be stored with the DbSystem.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Optional. Time zone of the DbSystem."
        },
        "shape": {
          "type": "string",
          "description": "Required. Shape of DB System."
        },
        "domain": {
          "type": "string",
          "description": "Optional. The host domain name of the DbSystem."
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of nodes in the DbSystem."
        },
        "recoStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The reco/redo storage size in GB."
        },
        "dbSystemOptions": {
          "$ref": "DbSystemOptions",
          "description": "Optional. The options for the DbSystem."
        }
      },
      "type": "object",
      "description": "The properties of a DbSystem."
    },
    "AutonomousDatabaseCharacterSet": {
      "description": "Details of the Autonomous Database character set resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseCharacterSets/",
      "id": "AutonomousDatabaseCharacterSet",
      "properties": {
        "characterSet": {
          "type": "string",
          "description": "Output only. The character set name for the Autonomous Database which is the ID in the resource name.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database Character Set resource in the following format: projects/{project}/locations/{region}/autonomousDatabaseCharacterSets/{autonomous_database_character_set}"
        },
        "characterSetType": {
          "description": "Output only. The character set type for the Autonomous Database.",
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "readOnly": true,
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "RemoveVirtualMachineExadbVmClusterRequest": {
      "id": "RemoveVirtualMachineExadbVmClusterRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "hostnames": {
          "type": "array",
          "description": "Required. The list of host names of db nodes to be removed from the ExadbVmCluster.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The request for `ExadbVmCluster.RemoveVirtualMachine`."
    },
    "ListOdbSubnetsResponse": {
      "description": "The response for `OdbSubnet.List`.",
      "id": "ListOdbSubnetsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "odbSubnets": {
          "description": "The list of ODB Subnets.",
          "items": {
            "$ref": "OdbSubnet"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListDatabaseCharacterSetsResponse": {
      "id": "ListDatabaseCharacterSetsResponse",
      "properties": {
        "databaseCharacterSets": {
          "description": "The list of DatabaseCharacterSets.",
          "items": {
            "$ref": "DatabaseCharacterSet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "description": "The response for `DatabaseCharacterSet.List`."
    },
    "AutonomousDbVersion": {
      "description": "Details of the Autonomous Database version. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDbVersionSummary/",
      "id": "AutonomousDbVersion",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Autonomous Database Version resource with the format: projects/{project}/locations/{region}/autonomousDbVersions/{autonomous_db_version}",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Output only. An Oracle Database version for Autonomous Database.",
          "readOnly": true
        },
        "dbWorkload": {
          "type": "string",
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ],
          "readOnly": true,
          "description": "Output only. The Autonomous Database workload type.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ]
        },
        "workloadUri": {
          "readOnly": true,
          "description": "Output only. A URL that points to a detailed description of the Autonomous Database version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDbNodesResponse": {
      "description": "The response for `DbNode.List`.",
      "type": "object",
      "id": "ListDbNodesResponse",
      "properties": {
        "dbNodes": {
          "type": "array",
          "description": "The list of DB Nodes",
          "items": {
            "$ref": "DbNode"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the node should return.",
          "type": "string"
        }
      }
    },
    "DatabaseCharacterSet": {
      "description": "Details of the Database character set resource.",
      "id": "DatabaseCharacterSet",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Database Character Set resource in the following format: projects/{project}/locations/{region}/databaseCharacterSets/{database_character_set}"
        },
        "characterSetType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The character set type for the Database.",
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ]
        },
        "characterSet": {
          "description": "Output only. The character set name for the Database which is the ID in the resource name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "PluggableDatabaseNodeLevelDetails": {
      "type": "object",
      "id": "PluggableDatabaseNodeLevelDetails",
      "properties": {
        "pluggableDatabaseId": {
          "description": "Required. The OCID of the Pluggable Database.",
          "type": "string"
        },
        "nodeName": {
          "description": "Required. The Node name of the Database home.",
          "type": "string"
        },
        "openMode": {
          "type": "string",
          "enum": [
            "PLUGGABLE_DATABASE_OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "MOUNTED",
            "MIGRATE"
          ],
          "description": "Required. The mode that the pluggable database is in to open it.",
          "enumDescriptions": [
            "The open mode is unspecified.",
            "The pluggable database is opened in read-only mode.",
            "The pluggable database is opened in read-write mode.",
            "The pluggable database is mounted.",
            "The pluggable database is migrated."
          ]
        }
      },
      "description": "The Pluggable Database Node Level Details."
    },
    "ListOdbNetworksResponse": {
      "id": "ListOdbNetworksResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          }
        },
        "odbNetworks": {
          "type": "array",
          "description": "The list of ODB Networks.",
          "items": {
            "$ref": "OdbNetwork"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "description": "The response for `OdbNetwork.List`."
    },
    "AutonomousDatabaseConnectionUrls": {
      "id": "AutonomousDatabaseConnectionUrls",
      "properties": {
        "ordsUri": {
          "readOnly": true,
          "description": "Output only. The Oracle REST Data Services (ORDS) URL of the Web Access for the Autonomous Database.",
          "type": "string"
        },
        "mongoDbUri": {
          "type": "string",
          "description": "Output only. The URL of the MongoDB API for the Autonomous Database.",
          "readOnly": true
        },
        "apexUri": {
          "type": "string",
          "description": "Output only. Oracle Application Express (APEX) URL.",
          "readOnly": true
        },
        "databaseTransformsUri": {
          "readOnly": true,
          "description": "Output only. The URL of the Database Transforms for the Autonomous Database.",
          "type": "string"
        },
        "machineLearningNotebookUri": {
          "description": "Output only. The URL of the Oracle Machine Learning (OML) Notebook for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "machineLearningUserManagementUri": {
          "readOnly": true,
          "description": "Output only. The URL of Machine Learning user management the Autonomous Database.",
          "type": "string"
        },
        "sqlDevWebUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URL of the Oracle SQL Developer Web for the Autonomous Database."
        },
        "graphStudioUri": {
          "readOnly": true,
          "description": "Output only. The URL of the Graph Studio for the Autonomous Database.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The URLs for accessing Oracle Application Express (APEX) and SQL Developer Web with a browser from a Compute instance. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionUrls"
    },
    "CloudExadataInfrastructureProperties": {
      "description": "Various properties of Exadata Infrastructure.",
      "type": "object",
      "id": "CloudExadataInfrastructureProperties",
      "properties": {
        "additionalStorageCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The requested number of additional storage servers for the Exadata Infrastructure.",
          "readOnly": true
        },
        "computeCount": {
          "description": "Optional. The number of compute servers for the Exadata Infrastructure.",
          "type": "integer",
          "format": "int32"
        },
        "dataStorageSizeTb": {
          "type": "number",
          "format": "double",
          "readOnly": true,
          "description": "Output only. Size, in terabytes, of the DATA disk group."
        },
        "storageServerVersion": {
          "type": "string",
          "description": "Output only. The software version of the storage servers (cells) in the Exadata Infrastructure.",
          "readOnly": true
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. Maintenance window for repair."
        },
        "monthlyStorageServerVersion": {
          "type": "string",
          "description": "Output only. The monthly software version of the storage servers (cells) in the Exadata Infrastructure. Example: 20.1.15",
          "readOnly": true
        },
        "maxCpuCount": {
          "description": "Output only. The total number of CPU cores available.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "maxDataStorageTb": {
          "readOnly": true,
          "description": "Output only. The total available DATA disk group size.",
          "type": "number",
          "format": "double"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "readOnly": true,
          "description": "Output only. The current lifecycle state of the Exadata Infrastructure.",
          "enumDescriptions": [
            "Default unspecified value.",
            "The Exadata Infrastructure is being provisioned.",
            "The Exadata Infrastructure is available for use.",
            "The Exadata Infrastructure is being updated.",
[...]
