{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "oracledatabase",
  "basePath": "",
  "ownerName": "Google",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://oracledatabase.googleapis.com/",
  "revision": "20260512",
  "discoveryVersion": "v1",
  "schemas": {
    "GoldengateOracleNosqlConnectionProperties": {
      "id": "GoldengateOracleNosqlConnectionProperties",
      "properties": {
        "privateKeyFile": {
          "description": "Optional. The content of the private key file (PEM file) corresponding to the API key of the fingerprint.",
          "type": "string"
        },
        "useResourcePrincipal": {
          "description": "Optional. Specifies that the user intends to authenticate to the instance using a resource principal.",
          "type": "boolean"
        },
        "privateKeyPassphraseSecret": {
          "description": "Optional. The passphrase of the private key.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The name of the region. e.g.: us-ashburn-1",
          "type": "string"
        },
        "tenancyId": {
          "description": "Optional. The OCID of the OCI tenancy.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of OracleNosqlConnection.",
          "type": "string"
        },
        "userId": {
          "description": "Optional. The OCID of the OCI user who will access the Oracle NoSQL database.",
          "type": "string"
        },
        "publicKeyFingerprint": {
          "description": "Optional. The fingerprint of the API Key of the user specified by the userId.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateOracleNosqlConnection.",
      "type": "object"
    },
    "GenerateAutonomousDatabaseWalletResponse": {
      "description": "The response for `AutonomousDatabase.GenerateWallet`.",
      "type": "object",
      "id": "GenerateAutonomousDatabaseWalletResponse",
      "properties": {
        "archiveContent": {
          "description": "Output only. The base64 encoded wallet files.",
          "type": "string",
          "format": "byte",
          "readOnly": true
        }
      }
    },
    "DbServer": {
      "description": "Details of the database server resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbServer/",
      "type": "object",
      "id": "DbServer",
      "properties": {
        "name": {
          "description": "Identifier. The name of the database server resource with the format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}/dbServers/{db_server}",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the database server.",
          "$ref": "DbServerProperties"
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        }
      }
    },
    "GoldengateConnectionType": {
      "id": "GoldengateConnectionType",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Goldengate Connection Type resource with the format: projects/{project}/locations/{region}/goldengateConnectionTypes/{goldengate_connection_type}",
          "type": "string"
        },
        "connectionType": {
          "readOnly": true,
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "GOLDENGATE",
            "KAFKA",
            "KAFKA_SCHEMA_REGISTRY",
            "MYSQL",
            "JAVA_MESSAGE_SERVICE",
            "MICROSOFT_SQLSERVER",
            "OCI_OBJECT_STORAGE",
            "ORACLE",
            "AZURE_DATA_LAKE_STORAGE",
            "POSTGRESQL",
            "AZURE_SYNAPSE_ANALYTICS",
            "SNOWFLAKE",
            "AMAZON_S3",
            "HDFS",
            "ORACLE_AI_DATA_PLATFORM",
            "ORACLE_NOSQL",
            "MONGODB",
            "AMAZON_KINESIS",
            "AMAZON_REDSHIFT",
            "DB2",
            "REDIS",
            "ELASTICSEARCH",
            "GENERIC",
            "GOOGLE_CLOUD_STORAGE",
            "GOOGLE_BIGQUERY",
            "DATABRICKS",
            "GOOGLE_PUBSUB",
            "MICROSOFT_FABRIC",
            "ICEBERG"
          ],
          "type": "string",
          "description": "Output only. The connection type of the Goldengate Connection Type resource.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Connection Type category is GOLDENGATE.",
            "Goldengate Connection Type category is KAFKA.",
            "Goldengate Connection Type category is KAFKA_SCHEMA_REGISTRY.",
            "Goldengate Connection Type category is MYSQL.",
            "Goldengate Connection Type category is JAVA_MESSAGE_SERVICE.",
            "Goldengate Connection Type category is MICROSOFT_SQLSERVER.",
            "Goldengate Connection Type category is OCI_OBJECT_STORAGE.",
            "Goldengate Connection Type category is ORACLE.",
            "Goldengate Connection Type category is AZURE_DATA_LAKE_STORAGE.",
            "Goldengate Connection Type category is POSTGRESQL.",
            "Goldengate Connection Type category is AZURE_SYNAPSE_ANALYTICS.",
            "Goldengate Connection Type category is SNOWFLAKE.",
            "Goldengate Connection Type category is AMAZON_S3.",
            "Goldengate Connection Type category is HDFS.",
            "Goldengate Connection Type category is ORACLE_AI_DATA_PLATFORM.",
            "Goldengate Connection Type category is ORACLE_NOSQL.",
            "Goldengate Connection Type category is MONGODB.",
            "Goldengate Connection Type category is AMAZON_KINESIS.",
            "Goldengate Connection Type category is AMAZON_REDSHIFT.",
            "Goldengate Connection Type category is DB2.",
            "Goldengate Connection Type category is REDIS.",
            "Goldengate Connection Type category is ELASTICSEARCH.",
            "Goldengate Connection Type category is GENERIC.",
            "Goldengate Connection Type category is GOOGLE_CLOUD_STORAGE.",
            "Goldengate Connection Type category is GOOGLE_BIGQUERY.",
            "Goldengate Connection Type category is DATABRICKS.",
            "Goldengate Connection Type category is GOOGLE_PUBSUB.",
            "Goldengate Connection Type category is MICROSOFT_FABRIC.",
            "Goldengate Connection Type category is ICEBERG."
          ]
        },
        "technologyTypes": {
          "description": "Output only. The technology type of the Goldengate Connection Type resource.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "description": "Details of the Goldengate Connection Type resource.",
      "type": "object"
    },
    "ListGoldengateConnectionAssignmentsResponse": {
      "id": "ListGoldengateConnectionAssignmentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "goldengateConnectionAssignments": {
          "description": "The list of GoldengateConnectionAssignments.",
          "type": "array",
          "items": {
            "$ref": "GoldengateConnectionAssignment"
          }
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for listing GoldengateConnectionAssignments.",
      "type": "object"
    },
    "AutonomousDatabaseProperties": {
      "description": "The properties of an Autonomous Database.",
      "type": "object",
      "id": "AutonomousDatabaseProperties",
      "properties": {
        "refreshableMode": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Output only. The refresh mode of the cloned Autonomous Database.",
          "enumDescriptions": [
            "The default unspecified value.",
            "AUTOMATIC indicates that the cloned database is automatically refreshed with data from the source Autonomous Database.",
            "MANUAL indicates that the cloned database is manually refreshed with data from the source Autonomous Database."
          ]
        },
        "scheduledOperationDetails": {
          "readOnly": true,
          "description": "Output only. The list and details of the scheduled operations of the Autonomous Database.",
          "type": "array",
          "items": {
            "$ref": "ScheduledOperationDetails"
          }
        },
        "role": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Primary role",
            "Standby role",
            "Disabled standby role",
            "Backup copy role",
            "Snapshot standby role"
          ],
          "description": "Output only. The Data Guard role of the Autonomous Database.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY",
            "DISABLED_STANDBY",
            "BACKUP_COPY",
            "SNAPSHOT_STANDBY"
          ],
          "readOnly": true
        },
        "localAdgAutoFailoverMaxDataLossLimitDuration": {
          "format": "int32",
          "description": "Optional. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "type": "integer"
        },
        "localAdgAutoFailoverMaxDataLossLimit": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated: Please use `local_adg_auto_failover_max_data_loss_limit_duration` instead. This field indicates the maximum data loss limit for an Autonomous Database, in seconds."
        },
        "memoryPerOracleComputeUnitGbs": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The amount of memory enabled per ECPU, in gigabytes.",
          "type": "integer"
        },
        "localDataGuardEnabled": {
          "description": "Optional. Indicates whether the Autonomous Database has a local (in-region) standby database. Not applicable to cross-region Data Guard or dedicated Exadata infrastructure.",
          "type": "boolean"
        },
        "vaultId": {
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault.",
          "type": "string"
        },
        "supportedCloneRegions": {
          "description": "Output only. The list of available regions that can be used to create a clone for the Autonomous Database.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "localDisasterRecoveryType": {
          "type": "string",
          "enum": [
            "LOCAL_DISASTER_RECOVERY_TYPE_UNSPECIFIED",
            "ADG",
            "BACKUP_BASED",
            "NOT_AVAILABLE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Data Guard recovery.",
            "Backup based recovery.",
            "Local disaster recovery is not available."
          ],
          "description": "Output only. This field indicates the local disaster recovery (DR) type of an Autonomous Database."
        },
        "mtlsConnectionRequired": {
          "description": "Optional. Immutable. This field specifies if the Autonomous Database requires mTLS connections.",
          "type": "boolean"
        },
        "computeCount": {
          "format": "float",
          "description": "Optional. Immutable. The number of compute servers for the Autonomous Database.",
          "type": "number"
        },
        "nextLongTermBackupTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The long term backup schedule of the Autonomous Database.",
          "type": "string"
        },
        "dbWorkload": {
          "description": "Required. Immutable. The workload type of the Autonomous Database.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ],
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ]
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. OCID of the Autonomous Database. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "type": "string"
        },
        "privateEndpoint": {
          "description": "Output only. The private endpoint for the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "databaseManagementState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "DATABASE_MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "description": "Output only. The current state of database management for the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling Database Management state",
            "Enabled Database Management state",
            "Disabling Database Management state",
            "Not Enabled Database Management state",
            "Failed enabling Database Management state",
            "Failed disabling Database Management state"
          ]
        },
        "connectionStrings": {
          "readOnly": true,
          "$ref": "AutonomousDatabaseConnectionStrings",
          "description": "Output only. The connection strings used to connect to an Autonomous Database."
        },
        "maintenanceBeginTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The date and time when maintenance will begin.",
          "type": "string"
        },
        "permissionLevel": {
          "readOnly": true,
          "enum": [
            "PERMISSION_LEVEL_UNSPECIFIED",
            "RESTRICTED",
            "UNRESTRICTED"
          ],
          "type": "string",
          "description": "Output only. The permission level of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Restricted mode allows access only by admin users.",
            "Normal access."
          ]
        },
        "totalAutoBackupStorageSizeGbs": {
          "format": "float",
          "description": "Output only. The storage space used by automatic backups of Autonomous Database, in gigabytes.",
          "type": "number",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "description": "Output only. The current lifecycle state of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ]
        },
        "peerDbIds": {
          "readOnly": true,
          "description": "Output only. The list of OCIDs of standby databases located in Autonomous Data Guard remote regions that are associated with the source database.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataStorageSizeGb": {
          "description": "Optional. Immutable. The size of the data stored in the database, in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "dbEdition": {
          "enum": [
            "DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION"
          ],
          "description": "Optional. Immutable. The edition of the Autonomous Databases.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Standard Database Edition",
            "Enterprise Database Edition"
          ]
        },
        "privateEndpointLabel": {
          "description": "Optional. Immutable. The private endpoint label for the Autonomous Database.",
          "type": "string"
        },
        "encryptionKeyHistoryEntries": {
          "description": "Output only. The history of the encryption keys used to encrypt the Autonomous Database.",
          "type": "array",
          "items": {
            "$ref": "EncryptionKeyHistoryEntry"
          },
          "readOnly": true
        },
        "operationsInsightsState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "description": "Output only. This field indicates the state of Operations Insights for the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling status for operation insights.",
            "Enabled status for operation insights.",
            "Disabling status for operation insights.",
            "Not Enabled status for operation insights.",
            "Failed enabling status for operation insights.",
            "Failed disabling status for operation insights."
          ]
        },
        "allocatedStorageSizeTb": {
          "format": "double",
          "description": "Output only. The amount of storage currently allocated for the database tables and billed for, rounded up in terabytes.",
          "type": "number",
          "readOnly": true
        },
        "apexDetails": {
          "$ref": "AutonomousDatabaseApex",
          "description": "Output only. The details for the Oracle APEX Application Development.",
          "readOnly": true
        },
        "maintenanceScheduleType": {
          "description": "Optional. Immutable. The maintenance schedule of the Autonomous Database.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "An EARLY maintenance schedule patches the database before the regular scheduled maintenance.",
            "A REGULAR maintenance schedule follows the normal maintenance cycle."
          ],
          "enum": [
            "MAINTENANCE_SCHEDULE_TYPE_UNSPECIFIED",
            "EARLY",
            "REGULAR"
          ]
        },
        "characterSet": {
          "description": "Optional. Immutable. The character set for the Autonomous Database. The default is AL32UTF8.",
          "type": "string"
        },
        "lifecycleDetails": {
          "description": "Output only. The details of the current lifestyle state of the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "licenseType": {
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "description": "Required. Immutable. The license type used for the Autonomous Database.",
          "type": "string"
        },
        "customerContacts": {
          "description": "Optional. Immutable. The list of customer contacts.",
          "type": "array",
          "items": {
            "$ref": "CustomerContact"
          }
        },
        "backupRetentionPeriodDays": {
          "description": "Optional. Immutable. The retention period for the Autonomous Database. This field is specified in days, can range from 1 day to 60 days, and has a default value of 60 days.",
          "type": "integer",
          "format": "int32"
        },
        "availableUpgradeVersions": {
          "readOnly": true,
          "description": "Output only. The list of available Oracle Database upgrade versions for an Autonomous Database.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dbVersion": {
          "description": "Optional. Immutable. The Oracle Database version for the Autonomous Database.",
          "type": "string"
        },
        "connectionUrls": {
          "$ref": "AutonomousDatabaseConnectionUrls",
          "description": "Output only. The Oracle Connection URLs for an Autonomous Database.",
          "readOnly": true
        },
        "refreshableState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "REFRESHABLE_STATE_UNSPECIFIED",
            "REFRESHING",
            "NOT_REFRESHING"
          ],
          "description": "Output only. The refresh State of the clone.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Refreshing",
            "Not refreshed"
          ]
        },
        "dataStorageSizeTb": {
          "format": "int32",
          "description": "Optional. Immutable. The size of the data stored in the database, in terabytes.",
          "type": "integer"
        },
        "actualUsedDataStorageSizeTb": {
          "format": "double",
          "description": "Output only. The amount of storage currently being used for user and system data, in terabytes.",
          "type": "number",
          "readOnly": true
        },
        "serviceAgentEmail": {
          "description": "Output only. An Oracle-managed Google Cloud service account on which customers can grant roles to access resources in the customer project.",
          "type": "string",
          "readOnly": true
        },
        "arePrimaryAllowlistedIpsUsed": {
          "readOnly": true,
          "description": "Output only. This field indicates the status of Data Guard and Access control for the Autonomous Database. The field's value is null if Data Guard is disabled or Access Control is disabled. The field's value is TRUE if both Data Guard and Access Control are enabled, and the Autonomous Database is using primary IP access control list (ACL) for standby. The field's value is FALSE if both Data Guard and Access Control are enabled, and the Autonomous Database is using a different IP access control list (ACL) for standby compared to primary.",
          "type": "boolean"
        },
        "dataGuardRoleChangedTime": {
          "description": "Output only. The date and time the Autonomous Data Guard role was changed for the standby Autonomous Database.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "disasterRecoveryRoleChangedTime": {
          "readOnly": true,
          "description": "Output only. The date and time the Disaster Recovery role was changed for the standby Autonomous Database.",
          "type": "string",
          "format": "google-datetime"
        },
        "encryptionKey": {
          "$ref": "EncryptionKey",
          "description": "Optional. The encryption key used to encrypt the Autonomous Database. Updating this field will add a new entry in the `encryption_key_history_entries` field with the former version."
        },
        "sqlWebDeveloperUrl": {
          "description": "Output only. The SQL Web Developer URL for the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "nCharacterSet": {
          "description": "Optional. Immutable. The national character set for the Autonomous Database. The default is AL16UTF16.",
          "type": "string"
        },
        "memoryTableGbs": {
          "description": "Output only. The memory assigned to in-memory tables in an Autonomous Database.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "ociUrl": {
          "readOnly": true,
          "description": "Output only. The Oracle Cloud Infrastructure link for the Autonomous Database.",
          "type": "string"
        },
        "allowlistedIps": {
          "description": "Optional. Immutable. The list of allowlisted IP addresses for the Autonomous Database.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "openMode": {
          "type": "string",
          "enum": [
            "OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Read Only Mode",
            "Read Write Mode"
          ],
          "description": "Output only. This field indicates the current mode of the Autonomous Database."
        },
        "isAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database CPU core count.",
          "type": "boolean"
        },
        "privateEndpointIp": {
          "description": "Optional. Immutable. The private endpoint IP address for the Autonomous Database.",
          "type": "string"
        },
        "usedDataStorageSizeTbs": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The storage space used by Autonomous Database, in gigabytes.",
          "type": "integer"
        },
        "cpuCoreCount": {
          "description": "Optional. Immutable. The number of CPU cores to be made available to the database.",
          "type": "integer",
          "format": "int32"
        },
        "maintenanceEndTime": {
          "description": "Output only. The date and time when maintenance will end.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "isStorageAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database storage.",
          "type": "boolean"
        },
        "secretId": {
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault secret.",
          "type": "string"
        },
        "autonomousContainerDatabaseId": {
          "description": "Output only. The Autonomous Container Database OCID.",
          "type": "string",
          "readOnly": true
        },
        "failedDataRecoveryDuration": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. This field indicates the number of seconds of data loss during a Data Guard failover.",
          "type": "string"
        },
        "localStandbyDb": {
          "readOnly": true,
          "description": "Output only. The details of the Autonomous Data Guard standby database.",
          "$ref": "AutonomousDatabaseStandbySummary"
        },
        "dataSafeState": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Registering data safe state.",
            "Registered data safe state.",
            "Deregistering data safe state.",
            "Not registered data safe state.",
            "Failed data safe state."
          ],
          "description": "Output only. The current state of the Data Safe registration for the Autonomous Database.",
          "type": "string",
          "enum": [
            "DATA_SAFE_STATE_UNSPECIFIED",
            "REGISTERING",
            "REGISTERED",
            "DEREGISTERING",
            "NOT_REGISTERED",
            "FAILED"
          ],
          "readOnly": true
        },
        "isLocalDataGuardEnabled": {
          "description": "Output only. Deprecated: Please use `local_data_guard_enabled` instead. This field indicates whether the Autonomous Database has local (in-region) Data Guard enabled.",
          "type": "boolean",
          "readOnly": true,
          "deprecated": true
        }
      }
    },
    "ListDbNodesResponse": {
      "id": "ListDbNodesResponse",
      "properties": {
        "dbNodes": {
          "description": "The list of DB Nodes",
          "type": "array",
          "items": {
            "$ref": "DbNode"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the node should return.",
          "type": "string"
        }
      },
      "description": "The response for `DbNode.List`.",
      "type": "object"
    },
    "PluggableDatabase": {
      "description": "The PluggableDatabase resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/PluggableDatabase/",
      "type": "object",
      "id": "PluggableDatabase",
      "properties": {
        "name": {
          "description": "Identifier. The name of the PluggableDatabase resource in the following format: projects/{project}/locations/{region}/pluggableDatabases/{pluggable_database}",
          "type": "string"
        },
        "properties": {
          "description": "Optional. The properties of the PluggableDatabase.",
          "$ref": "PluggableDatabaseProperties"
        },
        "ociUrl": {
          "readOnly": true,
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The date and time that the PluggableDatabase was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListDbVersionsResponse": {
      "description": "The response for `DbVersions.List`.",
      "type": "object",
      "id": "ListDbVersionsResponse",
      "properties": {
        "dbVersions": {
          "description": "The list of DbVersions.",
          "type": "array",
          "items": {
            "$ref": "DbVersion"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "DbServerProperties": {
      "description": "Various properties and settings associated with Exadata database server.",
      "type": "object",
      "id": "DbServerProperties",
      "properties": {
        "ocpuCount": {
          "description": "Optional. OCPU count per database.",
          "type": "integer",
          "format": "int32"
        },
        "memorySizeGb": {
          "format": "int32",
          "description": "Optional. Memory allocated in GBs.",
          "type": "integer"
        },
        "maxMemorySizeGb": {
          "format": "int32",
          "description": "Optional. Maximum memory allocated in GBs.",
          "type": "integer"
        },
        "dbNodeIds": {
          "description": "Output only. OCID of database nodes associated with the database server.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "maxDbNodeStorageSizeGb": {
          "description": "Optional. Maximum local storage per VM.",
          "type": "integer",
          "format": "int32"
        },
        "vmCount": {
          "format": "int32",
          "description": "Optional. Vm count per database.",
          "type": "integer"
        },
        "ocid": {
          "description": "Output only. OCID of database server.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "AVAILABLE",
            "UNAVAILABLE",
            "DELETING",
            "DELETED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in unavailable state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state."
          ],
          "description": "Output only. State of the database server."
        },
        "dbNodeStorageSizeGb": {
          "description": "Optional. Local storage per VM.",
          "type": "integer",
          "format": "int32"
        },
        "maxOcpuCount": {
          "format": "int32",
          "description": "Optional. Maximum OCPU count per database.",
          "type": "integer"
        }
      }
    },
    "DbNodeProperties": {
      "description": "Various properties and settings associated with Db node.",
      "type": "object",
      "id": "DbNodeProperties",
      "properties": {
        "ocid": {
          "description": "Output only. OCID of database node.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in stopping state.",
            "Indicates that the resource is in stopped state.",
            "Indicates that the resource is in starting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state."
          ],
          "description": "Output only. State of the database node.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "readOnly": true
        },
        "ocpuCount": {
          "format": "int32",
          "description": "Optional. OCPU count per database node.",
          "type": "integer"
        },
        "memorySizeGb": {
          "format": "int32",
          "description": "Memory allocated in GBs.",
          "type": "integer"
        },
        "hostname": {
          "description": "Optional. DNS",
          "type": "string"
        },
        "dbServerOcid": {
          "description": "Optional. Database server OCID.",
          "type": "string"
        },
        "dbNodeStorageSizeGb": {
          "description": "Optional. Local storage per database node.",
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time that the database node was created.",
          "type": "string",
          "readOnly": true
        },
        "totalCpuCoreCount": {
          "format": "int32",
          "description": "Total CPU core count of the database node.",
          "type": "integer"
        }
      }
    },
    "GoldengateMicrosoftSqlserverConnectionProperties": {
      "id": "GoldengateMicrosoftSqlserverConnectionProperties",
      "properties": {
        "sslCaFile": {
          "description": "Optional. Database Certificate - The content of a .pem or .crt file containing the server public key (for 1-way SSL).",
          "type": "string"
        },
        "securityProtocol": {
          "description": "Optional. Security Type for Microsoft SQL Server.",
          "type": "string",
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ],
          "enum": [
            "MICROSOFT_SQLSERVER_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ]
        },
        "database": {
          "description": "Optional. The name of the database.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The name or address of a host.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to the Microsoft SQL Server.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Microsoft SQL Server connection in plain text.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of MicrosoftSqlserverConnection.",
          "type": "string"
        },
        "additionalAttributes": {
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "type": "array",
          "items": {
            "$ref": "NameValuePair"
          }
        },
        "port": {
          "format": "int32",
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "type": "integer"
        },
        "serverCertificateValidationRequired": {
          "description": "Optional. If set to true, the driver validates the certificate that is sent by the database server.",
          "type": "boolean"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Microsoft SQL Server connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateMicrosoftSqlserverConnection.",
      "type": "object"
    },
    "AutonomousDatabaseStandbySummary": {
      "description": "Autonomous Data Guard standby database details. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseStandbySummary",
      "type": "object",
      "id": "AutonomousDatabaseStandbySummary",
      "properties": {
        "dataGuardRoleChangedTime": {
          "readOnly": true,
          "description": "Output only. The date and time the Autonomous Data Guard role was switched for the standby Autonomous Database.",
          "type": "string",
          "format": "google-datetime"
        },
        "disasterRecoveryRoleChangedTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time the Disaster Recovery role was switched for the standby Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "lagTimeDuration": {
          "description": "Output only. The amount of time, in seconds, that the data of the standby database lags in comparison to the data of the primary database.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ],
          "description": "Output only. The current lifecycle state of the Autonomous Database.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "readOnly": true,
          "type": "string"
        },
        "lifecycleDetails": {
          "readOnly": true,
          "description": "Output only. The additional details about the current lifecycle state of the Autonomous Database.",
          "type": "string"
        }
      }
    },
    "DbSystemInitialStorageSize": {
      "id": "DbSystemInitialStorageSize",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the resource.",
          "type": "string"
        },
        "properties": {
          "$ref": "DbSystemInitialStorageSizeProperties",
          "description": "Output only. The properties of the DbSystem initial storage size summary.",
          "readOnly": true
        }
      },
      "description": "Summary of the DbSystem initial storage size.",
      "type": "object"
    },
    "CloudVmClusterProperties": {
      "id": "CloudVmClusterProperties",
      "properties": {
        "giVersion": {
          "description": "Optional. Grid Infrastructure Version.",
          "type": "string"
        },
        "hostnamePrefix": {
          "description": "Optional. Prefix for VM cluster host names.",
          "type": "string"
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. Oracle Cloud Infrastructure ID of VM Cluster.",
          "type": "string"
        },
        "shape": {
          "description": "Output only. Shape of VM Cluster.",
          "type": "string",
          "readOnly": true
        },
        "diagnosticsDataCollectionOptions": {
          "description": "Optional. Data collection options for diagnostics.",
          "$ref": "DataCollectionOptions"
        },
        "timeZone": {
          "description": "Optional. Time zone of VM Cluster to set. Defaults to UTC if not specified.",
          "$ref": "TimeZone"
        },
        "ocpuCount": {
          "description": "Optional. OCPU count per VM. Minimum is 0.1.",
          "type": "number",
          "format": "float"
        },
        "scanDns": {
          "description": "Output only. SCAN DNS name. ex: sp2-yi0xq-scan.ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "type": "string",
          "readOnly": true
        },
        "clusterName": {
          "description": "Optional. OCI Cluster name.",
          "type": "string"
        },
        "dbServerOcids": {
          "description": "Optional. OCID of database servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storageSizeGb": {
          "format": "int32",
          "description": "Output only. The storage allocation for the disk group, in gigabytes (GB).",
          "type": "integer",
          "readOnly": true
        },
        "licenseType": {
          "description": "Required. License type of VM Cluster.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "scanDnsRecordId": {
          "description": "Output only. OCID of scan DNS record.",
          "type": "string",
          "readOnly": true
        },
        "hostname": {
          "readOnly": true,
          "description": "Output only. host name without domain. format: \"-\" with some suffix. ex: sp2-yi0xq where \"sp2\" is the hostname_prefix.",
          "type": "string"
        },
        "cpuCoreCount": {
          "format": "int32",
          "description": "Required. Number of enabled CPU cores.",
          "type": "integer"
        },
        "nodeCount": {
          "description": "Optional. Number of database servers.",
          "type": "integer",
          "format": "int32"
        },
        "scanListenerPortTcp": {
          "readOnly": true,
          "description": "Output only. SCAN listener port - TCP",
          "type": "integer",
          "format": "int32"
        },
        "domain": {
          "description": "Output only. Parent DNS domain where SCAN DNS and hosts names are qualified. ex: ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "type": "string",
          "readOnly": true
        },
        "computeModel": {
          "description": "Output only. The compute model of the VM Cluster.",
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ],
          "readOnly": true,
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ],
          "type": "string"
        },
        "diskRedundancy": {
          "description": "Optional. The type of redundancy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High - 3 way mirror.",
            "Normal - 2 way mirror."
          ],
          "enum": [
            "DISK_REDUNDANCY_UNSPECIFIED",
            "HIGH",
            "NORMAL"
          ]
        },
        "memorySizeGb": {
          "description": "Optional. Memory allocated in GBs.",
          "type": "integer",
          "format": "int32"
        },
        "scanListenerPortTcpSsl": {
          "description": "Output only. SCAN listener port - TLS",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "sparseDiskgroupEnabled": {
          "description": "Optional. Use exadata sparse snapshots.",
          "type": "boolean"
        },
        "dataStorageSizeTb": {
          "description": "Optional. The data disk group size to be allocated in TBs.",
          "type": "number",
          "format": "double"
        },
        "dbNodeStorageSizeGb": {
          "format": "int32",
          "description": "Optional. Local storage per VM.",
          "type": "integer"
        },
        "dnsListenerIp": {
          "readOnly": true,
          "description": "Output only. DNS listener IP.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "description": "Output only. State of the cluster.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "readOnly": true
        },
        "compartmentId": {
          "description": "Output only. Compartment ID of cluster.",
          "type": "string",
          "readOnly": true
        },
        "localBackupEnabled": {
          "description": "Optional. Use local backup.",
          "type": "boolean"
        },
        "scanIpIds": {
          "description": "Output only. OCIDs of scan IPs.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "sshPublicKeys": {
          "description": "Optional. SSH public keys to be stored with cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "systemVersion": {
          "description": "Optional. Operating system version of the image.",
          "type": "string"
        },
        "ociUrl": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Various properties and settings associated with Exadata VM cluster.",
      "type": "object"
    },
    "DbNode": {
      "id": "DbNode",
      "properties": {
        "name": {
          "description": "Identifier. The name of the database node resource in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}/dbNodes/{db_node}",
          "type": "string"
        },
        "properties": {
          "$ref": "DbNodeProperties",
          "description": "Optional. Various properties of the database node."
        }
      },
      "description": "Details of the database node resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbNode/",
      "type": "object"
    },
    "GenerateAutonomousDatabaseWalletRequest": {
      "description": "The request for `AutonomousDatabase.GenerateWallet`.",
      "type": "object",
      "id": "GenerateAutonomousDatabaseWalletRequest",
      "properties": {
        "type": {
          "description": "Optional. The type of wallet generation for the Autonomous Database. The default value is SINGLE.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Used to generate wallet for all databases in the region.",
            "Used to generate wallet for a single database."
          ],
          "enum": [
            "GENERATE_TYPE_UNSPECIFIED",
            "ALL",
            "SINGLE"
          ]
        },
        "isRegional": {
          "description": "Optional. True when requesting regional connection strings in PDB connect info, applicable to cross-region Data Guard only.",
          "type": "boolean"
        },
        "password": {
          "description": "Required. The password used to encrypt the keys inside the wallet. The password must be a minimum of 8 characters.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "IngressIp": {
      "id": "IngressIp",
      "properties": {
        "ingressIpAddress": {
          "description": "Output only. The ingress IP.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The ingress IPs of the GoldengateDeployment.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListDbServersResponse": {
      "description": "The response for `DbServer.List`.",
      "type": "object",
      "id": "ListDbServersResponse",
      "properties": {
        "dbServers": {
          "description": "The list of database servers.",
          "type": "array",
          "items": {
            "$ref": "DbServer"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ExadbVmCluster": {
      "description": "ExadbVmCluster represents a cluster of VMs that are used to run Exadata workloads. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExadbVmCluster/",
      "type": "object",
      "id": "ExadbVmCluster",
      "properties": {
        "name": {
          "description": "Identifier. The name of the ExadbVmCluster resource in the following format: projects/{project}/locations/{region}/exadbVmClusters/{exadb_vm_cluster}",
          "type": "string"
        },
        "properties": {
          "$ref": "ExadbVmClusterProperties",
          "description": "Required. The properties of the ExadbVmCluster."
        },
        "backupOdbSubnet": {
          "description": "Required. Immutable. The name of the backup OdbSubnet associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Output only. Immutable. The GCP Oracle zone where Oracle ExadbVmCluster is hosted. Example: us-east4-b-r2. During creation, the system will pick the zone assigned to the ExascaleDbStorageVault.",
          "type": "string",
          "readOnly": true
        },
        "odbSubnet": {
          "description": "Required. Immutable. The name of the OdbSubnet associated with the ExadbVmCluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Immutable. The display name for the ExadbVmCluster. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time that the ExadbVmCluster was created.",
          "type": "string",
          "readOnly": true
        },
        "entitlementId": {
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the ExadbVmCluster.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the ExadbVmCluster.",
          "type": "object"
        },
        "odbNetwork": {
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        }
      }
    },
    "ListAutonomousDatabasesResponse": {
      "description": "The response for `AutonomousDatabase.List`.",
      "type": "object",
      "id": "ListAutonomousDatabasesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "autonomousDatabases": {
          "description": "The list of Autonomous Databases.",
          "type": "array",
          "items": {
            "$ref": "AutonomousDatabase"
          }
        }
      }
    },
    "OdbSubnet": {
      "description": "Represents OdbSubnet resource.",
      "type": "object",
      "id": "OdbSubnet",
      "properties": {
        "name": {
          "description": "Identifier. The name of the OdbSubnet resource in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "cidrRange": {
          "description": "Required. The CIDR range of the subnet.",
          "type": "string"
        },
        "purpose": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Subnet to be used for client connections.",
            "Subnet to be used for backup."
          ],
          "description": "Required. Purpose of the subnet.",
          "type": "string",
          "enum": [
            "PURPOSE_UNSPECIFIED",
            "CLIENT_SUBNET",
            "BACKUP_SUBNET"
          ]
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "description": "Output only. State of the ODB Subnet.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object"
        }
      }
    },
    "ListDbSystemsResponse": {
      "description": "The response for `DbSystem.List`.",
      "type": "object",
      "id": "ListDbSystemsResponse",
      "properties": {
        "dbSystems": {
          "description": "The list of DbSystems.",
          "type": "array",
          "items": {
            "$ref": "DbSystem"
          }
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "GoldengateDatabricksConnectionProperties": {
      "id": "GoldengateDatabricksConnectionProperties",
      "properties": {
        "storageCredential": {
          "description": "Optional. External storage credential name to access files on object storage such as ADLS Gen2, S3 or Cloud Storage.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. OAuth client id, only applicable for authentication_type == OAUTH_M2M",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password used to connect to Databricks in plain text.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of DatabricksConnection.",
          "type": "string"
        },
        "connectionUrl": {
          "description": "Optional. Connection URL. e.g.: 'jdbc:databricks://adb-33934.4.azuredatabricks.net:443/default;transportMode=http;ssl=1;httpPath=sql/protocolv1/o/3393########44/0##3-7-hlrb'",
          "type": "string"
        },
        "authenticationType": {
          "description": "Optional. Authentication type for Databricks.",
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Personal access token authentication.",
            "OAuth M2M authentication."
          ],
          "enum": [
            "DATABRICKS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "PERSONAL_ACCESS_TOKEN",
            "OAUTH_M2M"
          ]
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password used to connect to Databricks. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. OAuth client secret, only applicable for authentication_type == OAUTH_M2M",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateDatabricksConnection.",
      "type": "object"
    },
    "GoldengateDeploymentVersion": {
      "description": "Details of the Goldengate Deployment Version resource.",
      "type": "object",
      "id": "GoldengateDeploymentVersion",
      "properties": {
        "ocid": {
          "readOnly": true,
          "description": "Output only. The deployment version ocid of the Goldengate Deployment Version resource.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the Goldengate Deployment Version resource with the format: projects/{project}/locations/{location}/goldengateDeploymentVersions/{goldengate_deployment_version}",
          "type": "string"
        },
        "properties": {
          "description": "Output only. The technology type of the Goldengate Deployment Version resource.",
          "$ref": "GoldengateDeploymentVersionProperties",
          "readOnly": true
        }
      }
    },
    "ExascaleDbStorageVault": {
      "id": "ExascaleDbStorageVault",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the ExascaleDbStorageVault.",
          "type": "object"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle ExascaleDbStorageVault is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time when the ExascaleDbStorageVault was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the ExascaleDbStorageVault.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The display name for the ExascaleDbStorageVault. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the ExascaleDbStorageVault. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}",
          "type": "string"
        },
        "properties": {
          "$ref": "ExascaleDbStorageVaultProperties",
          "description": "Required. The properties of the ExascaleDbStorageVault."
        }
      },
      "description": "ExascaleDbStorageVault represents a storage vault exadb vm cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExascaleDbStorageVault/",
      "type": "object"
    },
    "DbSystem": {
      "id": "DbSystem",
      "properties": {
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle DbSystem is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "ociUrl": {
          "readOnly": true,
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "type": "string"
        },
        "odbSubnet": {
          "description": "Required. The name of the OdbSubnet associated with the DbSystem for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the DbSystem resource in the following format: projects/{project}/locations/{region}/dbSystems/{db_system}",
          "type": "string"
        },
        "properties": {
          "$ref": "DbSystemProperties",
          "description": "Optional. The properties of the DbSystem."
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the DbSystem",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The date and time that the DbSystem was created.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the DbSystem.",
          "type": "object"
        },
        "odbNetwork": {
          "description": "Optional. The name of the OdbNetwork associated with the DbSystem. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name for the System db. The name does not have to be unique within your project.",
          "type": "string"
        }
      },
      "description": "Details of the DbSystem (BaseDB) resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystem/",
      "type": "object"
    },
    "DbSystemShape": {
      "description": "Details of the Database System Shapes resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystemShapeSummary/",
      "type": "object",
      "id": "DbSystemShape",
      "properties": {
        "availableDataStorageTb": {
          "description": "Optional. Storage per storage server in terabytes.",
          "type": "integer",
          "format": "int32"
        },
        "availableCoreCountPerNode": {
          "description": "Optional. Number of cores per node.",
          "type": "integer",
          "format": "int32"
        },
        "availableMemoryPerNodeGb": {
          "description": "Optional. Memory per database server node in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "minDbNodeStoragePerNodeGb": {
          "format": "int32",
          "description": "Optional. Minimum node storage per database server in gigabytes.",
          "type": "integer"
        },
        "minCoreCountPerNode": {
          "description": "Optional. Minimum core count per node.",
          "type": "integer",
          "format": "int32"
        },
        "minNodeCount": {
          "format": "int32",
          "description": "Optional. Minimum number of database servers.",
          "type": "integer"
        },
        "minMemoryPerNodeGb": {
          "description": "Optional. Minimum memory per node in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "minStorageCount": {
          "format": "int32",
          "description": "Optional. Minimum number of storage servers.",
          "type": "integer"
        },
        "name": {
          "description": "Identifier. The name of the Database System Shape resource with the format: projects/{project}/locations/{region}/dbSystemShapes/{db_system_shape}",
          "type": "string"
        },
        "maxStorageCount": {
          "description": "Optional. Maximum number of storage servers.",
          "type": "integer",
          "format": "int32"
        },
        "shape": {
          "description": "Optional. shape",
          "type": "string"
        },
        "maxNodeCount": {
          "description": "Optional. Maximum number of database servers.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NameValuePair": {
      "description": "A name-value pair representing an attribute entry usable in a list of attributes.",
      "type": "object",
      "id": "NameValuePair",
      "properties": {
        "key": {
          "description": "Required. The name of the property entry.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the property entry.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ListGoldengateDeploymentTypesResponse": {
      "description": "Message for response to listing GoldengateDeploymentTypes",
      "type": "object",
      "id": "ListGoldengateDeploymentTypesResponse",
      "properties": {
        "goldengateDeploymentTypes": {
          "description": "The list of GoldengateDeploymentType",
          "type": "array",
          "items": {
            "$ref": "GoldengateDeploymentType"
          }
        },
        "unreachable": {
          "description": "Unordered list. The resource names of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListGoldengateConnectionTypesResponse": {
      "id": "ListGoldengateConnectionTypesResponse",
      "properties": {
        "goldengateConnectionTypes": {
          "description": "The list of GoldengateConnectionType",
          "type": "array",
          "items": {
            "$ref": "GoldengateConnectionType"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Message for response to listing GoldengateConnectionTypes",
      "type": "object"
    },
    "DbBackupConfig": {
      "id": "DbBackupConfig",
      "properties": {
        "autoBackupEnabled": {
          "description": "Optional. If set to true, enables automatic backups on the database.",
          "type": "boolean"
        },
        "backupDestinationDetails": {
          "description": "Optional. Details of the database backup destinations.",
          "type": "array",
          "items": {
            "$ref": "BackupDestinationDetails"
          }
        },
        "autoFullBackupDay": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Optional. The day of the week on which the full backup should be performed on the database. If no value is provided, it will default to Sunday.",
          "type": "string"
        },
        "backupDeletionPolicy": {
          "description": "Optional. This defines when the backups will be deleted after Database termination.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Keeps the backup for predefined time i.e. 72 hours and then delete permanently.",
            "Keeps the backups as per the policy defined for database backups."
          ],
          "enum": [
            "BACKUP_DELETION_POLICY_UNSPECIFIED",
            "DELETE_IMMEDIATELY",
            "DELETE_AFTER_RETENTION_PERIOD"
          ]
        },
        "retentionPeriodDays": {
          "description": "Optional. The number of days an automatic backup is retained before being automatically deleted. This value determines the earliest point in time to which a database can be restored. Min: 1, Max: 60.",
          "type": "integer",
          "format": "int32"
        },
        "autoIncrementalBackupWindow": {
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ],
          "description": "Optional. The window in which the incremental backup should be performed on the database. If no value is provided, the default is anytime except the auto full backup day.",
          "type": "string"
        },
        "autoFullBackupWindow": {
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ],
          "description": "Optional. The window in which the full backup should be performed on the database. If no value is provided, the default is anytime.",
          "type": "string"
        }
      },
      "description": "Backup Options for the Database.",
      "type": "object"
    },
    "ListCloudExadataInfrastructuresResponse": {
      "description": "The response for `CloudExadataInfrastructures.list`.",
      "type": "object",
      "id": "ListCloudExadataInfrastructuresResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token for fetching next page of response.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cloudExadataInfrastructures": {
          "description": "The list of Exadata Infrastructures.",
          "type": "array",
          "items": {
            "$ref": "CloudExadataInfrastructure"
          }
        }
      }
    },
    "GoldengateAmazonKinesisConnectionProperties": {
      "id": "GoldengateAmazonKinesisConnectionProperties",
      "properties": {
        "endpoint": {
          "description": "Optional. The endpoint URL of the Amazon Kinesis service. e.g.: 'https://kinesis.us-east-1.amazonaws.com' If not provided, Goldengate will default to 'https://kinesis..amazonaws.com'.",
          "type": "string"
        },
        "awsRegion": {
          "description": "Optional. The name of the AWS region. If not provided, Goldengate will default to 'us-west-1'.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of AmazonKinesisConnection.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "Optional. Access key ID to access the Amazon Kinesis.",
          "type": "string"
        },
        "secretAccessKeySecret": {
          "description": "Optional. Secret access key to access the Amazon Kinesis.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateAmazonKinesisConnection.",
      "type": "object"
    },
    "GoldengateOggDeployment": {
      "id": "GoldengateOggDeployment",
      "properties": {
        "adminPassword": {
          "description": "Optional. The Goldengate deployment console password in plain text.",
          "type": "string"
        },
        "adminUsername": {
          "description": "Required. The Goldengate deployment console username.",
          "type": "string"
        },
        "passwordSecretId": {
          "readOnly": true,
          "description": "Output only. The password secret id of the GoldengateDeployment.",
          "type": "string"
        },
        "deployment": {
          "description": "Required. The name given to the Goldengate service deployment. The name must be 1 to 32 characters long, must contain only alphanumeric characters and must start with a letter.",
          "type": "string"
        },
        "certificate": {
          "readOnly": true,
          "description": "Output only. The certificate of the GoldengateDeployment.",
          "type": "string"
        },
        "identityDomainId": {
          "description": "Output only. The identity domain id of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true
        },
        "credentialStore": {
          "description": "Output only. The credential store of the GoldengateDeployment.",
          "enumDescriptions": [
            "The credential store is unspecified.",
            "The credential store is Goldengate.",
            "The credential store is IAM."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "CREDENTIAL_STORE_UNSPECIFIED",
            "GOLDENGATE",
            "IAM"
          ]
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. Input only. The Goldengate deployment console password secret version.",
          "type": "string"
        },
        "oggVersion": {
          "description": "Optional. Version of OGG",
          "type": "string"
        },
        "groupRolesMapping": {
          "$ref": "GoldengateGroupToRolesMapping",
          "description": "Output only. The group to roles mapping of the GoldengateDeployment.",
          "readOnly": true
        }
      },
      "description": "The Ogg data of the GoldengateDeployment.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ListOdbSubnetsResponse": {
      "id": "ListOdbSubnetsResponse",
      "properties": {
        "odbSubnets": {
          "description": "The list of ODB Subnets.",
          "type": "array",
          "items": {
            "$ref": "OdbSubnet"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response for `OdbSubnet.List`.",
      "type": "object"
    },
    "ExascaleDbStorageDetails": {
      "description": "The storage details of the ExascaleDbStorageVault.",
      "type": "object",
      "id": "ExascaleDbStorageDetails",
      "properties": {
        "availableSizeGbs": {
          "description": "Output only. The available storage capacity for the ExascaleDbStorageVault, in gigabytes (GB).",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "totalSizeGbs": {
          "format": "int32",
          "description": "Required. The total storage allocation for the ExascaleDbStorageVault, in gigabytes (GB).",
          "type": "integer"
        }
      }
    },
    "GoldengateDeployment": {
      "id": "GoldengateDeployment",
      "properties": {
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle GoldengateDeployment is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "ociUrl": {
          "readOnly": true,
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "type": "string"
        },
        "odbSubnet": {
          "description": "Required. The name of the OdbSubnet associated with the GoldengateDeployment for IP allocation.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the GoldengateDeployment resource in the following format: projects/{project}/locations/{region}/goldengateDeployments/{goldengate_deployment}",
          "type": "string"
        },
        "properties": {
          "$ref": "GoldengateDeploymentProperties",
          "description": "Required. The properties of the GoldengateDeployment."
        },
        "entitlementId": {
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the GoldengateDeployment",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The date and time that the GoldengateDeployment was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. The labels or tags associated with the GoldengateDeployment.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "odbNetwork": {
          "description": "Optional. The name of the OdbNetwork associated with the GoldengateDeployment.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name for the GoldengateDeployment.",
          "type": "string"
        }
      },
      "description": "GoldengateDeployment Goldengate Deployment resource model.",
      "type": "object"
    },
    "GoldengateDb2ConnectionProperties": {
      "id": "GoldengateDb2ConnectionProperties",
      "properties": {
        "port": {
          "format": "int32",
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "type": "integer"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Db2 connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The name or address of a host.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Db2 connection in plain text.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of Db2Connection.",
          "type": "string"
        },
        "additionalAttributes": {
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "type": "array",
          "items": {
            "$ref": "NameValuePair"
          }
        },
        "sslServerCertificateFile": {
          "description": "Optional. The file which contains the self-signed server certificate / Certificate Authority (CA) certificate.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to the DB2 database.",
          "type": "string"
        },
        "database": {
          "description": "Optional. The name of the database.",
          "type": "string"
        },
        "securityProtocol": {
          "description": "Optional. Security protocol for the DB2 database.",
          "type": "string",
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ],
          "enum": [
            "DB2_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ]
        },
        "sslClientKeystoredbFile": {
          "description": "Optional. The keystore file created at the client containing the server certificate / CA root certificate. Not supported for IBM Db2 for i.",
          "type": "string"
        },
        "sslClientKeystashFile": {
          "description": "Optional. The keystash file which contains the encrypted password to the key database file. Not supported for IBM Db2 for i.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateDb2Connection.",
      "type": "object"
    },
    "GoldengateDeploymentProperties": {
      "id": "GoldengateDeploymentProperties",
      "properties": {
        "deploymentType": {
          "description": "Required. A valid Goldengate Deployment type. For a list of supported types, use the `ListGoldengateDeploymentTypes` operation.",
          "type": "string"
        },
        "lifecycleSubState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_SUB_STATE_UNSPECIFIED",
            "RECOVERING",
            "STARTING",
            "STOPPING",
            "MOVING",
            "UPGRADING",
            "RESTORING",
            "BACKING_UP",
            "ROLLING_BACK"
          ],
          "description": "Output only. The lifecycle sub-state of the GoldengateDeployment.",
          "enumDescriptions": [
            "The lifecycle sub-state is unspecified.",
            "The deployment is recovering.",
            "The deployment is starting.",
            "The deployment is stopping.",
            "The deployment is moving.",
            "The deployment is upgrading.",
            "The deployment is restoring.",
            "The deployment is backing up.",
            "The deployment is rolling back."
          ]
        },
        "deploymentBackupId": {
          "readOnly": true,
          "description": "Output only. The deployment backup id of the GoldengateDeployment.",
          "type": "string"
        },
        "isPublic": {
          "readOnly": true,
          "description": "Output only. Whether the GoldengateDeployment is public.",
          "type": "boolean"
        },
        "lastBackupScheduleTime": {
          "readOnly": true,
          "description": "Output only. The time last backup scheduled of the GoldengateDeployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextMaintenanceDescription": {
          "readOnly": true,
          "description": "Output only. The next maintenance description of the GoldengateDeployment.",
          "type": "string"
        },
        "deploymentRole": {
          "enum": [
            "GOLDENGATE_DEPLOYMENT_ROLE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The deployment role type is unspecified.",
            "The deployment role type is primary.",
            "The deployment role type is standby."
          ],
          "description": "Output only. The deployment role of the GoldengateDeployment."
        },
        "deploymentUrl": {
          "readOnly": true,
          "description": "Output only. The deployment url of the GoldengateDeployment.",
          "type": "string"
        },
        "oggVersionSupportEndTime": {
          "format": "google-datetime",
          "description": "Output only. The time ogg version supported until of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true
        },
        "healthy": {
          "description": "Output only. Whether the GoldengateDeployment is healthy.",
          "type": "boolean",
          "readOnly": true
        },
        "cpuCoreCount": {
          "description": "Optional. The Minimum number of OCPUs to be made available for this Deployment.",
          "type": "integer",
          "format": "int32"
        },
        "ingressIps": {
          "description": "Output only. The ingress ips of the GoldengateDeployment.",
          "type": "array",
          "items": {
            "$ref": "IngressIp"
          },
          "readOnly": true
        },
        "nextBackupScheduleTime": {
          "readOnly": true,
          "description": "Output only. The time next backup scheduled of the GoldengateDeployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "isAutoScalingEnabled": {
          "description": "Optional. Indicates if auto scaling is enabled for the Deployment's CPU core count.",
          "type": "boolean"
        },
        "oggData": {
          "description": "Required. The ogg data of the GoldengateDeployment.",
          "$ref": "GoldengateOggDeployment"
        },
        "nextMaintenanceTime": {
          "description": "Output only. The time of next maintenance of the GoldengateDeployment.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the GoldengateDeployment was updated.",
          "type": "string",
          "readOnly": true
        },
        "maintenanceWindow": {
          "description": "Optional. The maintenance window of the GoldengateDeployment.",
          "$ref": "GoldengateMaintenanceWindow"
        },
        "description": {
          "description": "Optional. The description of the GoldengateDeployment.",
          "type": "string"
        },
        "loadBalancerSubnetId": {
          "description": "Output only. The load balancer subnet id of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true
        },
        "nsgIds": {
          "description": "Output only. The nsg ids of the GoldengateDeployment.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "locks": {
          "description": "Output only. The locks of the GoldengateDeployment.",
          "type": "array",
          "items": {
            "$ref": "GoldengateDeploymentLock"
          },
          "readOnly": true
        },
        "environmentType": {
          "description": "Optional. The environment type of the GoldengateDeployment.",
          "type": "string"
        },
        "fqdn": {
          "readOnly": true,
          "description": "Output only. The Fully Qualified Domain Name of the GoldengateDeployment.",
          "type": "string"
        },
        "privateIpAddress": {
          "readOnly": true,
          "description": "Output only. The private ip address of the GoldengateDeployment.",
          "type": "string"
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. OCID of the GoldengateDeployment.",
          "type": "string"
        },
        "loadBalancerId": {
          "description": "Output only. The load balancer id of the GoldengateDeployment.",
          "type": "string",
[...]
