{
  "kind": "discovery#restDescription",
  "servicePath": "",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/orgpolicy/docs/reference/rest/index.html",
  "version_module": true,
  "ownerName": "Google",
  "name": "orgpolicy",
  "id": "orgpolicy:v2",
  "mtlsRootUrl": "https://orgpolicy.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "canonicalName": "OrgPolicy API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v2",
  "baseUrl": "https://orgpolicy.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "constraints": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/constraints",
              "parameters": {
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "httpMethod": "GET",
              "path": "v2/{+parent}/constraints",
              "description": "Lists constraints that could be applied on the specified resource.",
              "id": "orgpolicy.projects.constraints.list"
            }
          }
        },
        "policies": {
          "methods": {
            "get": {
              "id": "orgpolicy.projects.policies.get",
              "path": "v2/{+name}",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "required": true,
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/policies",
              "parameters": {
                "parent": {
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "httpMethod": "GET",
              "path": "v2/{+parent}/policies",
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "id": "orgpolicy.projects.policies.list"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/projects/{projectsId}/policies",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+parent}/policies",
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "httpMethod": "POST",
              "id": "orgpolicy.projects.policies.create"
            },
            "delete": {
              "path": "v2/{+name}",
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "httpMethod": "DELETE",
              "id": "orgpolicy.projects.policies.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "required": true,
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "etag": {
                  "description": "Optional. The current etag of policy. If an etag is provided and does not match the current etag of the policy, deletion will be blocked and an ABORTED error will be returned.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "getEffectivePolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}:getEffectivePolicy",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The effective policy to compute. See Policy for naming requirements.",
                  "required": true,
                  "pattern": "^projects/[^/]+/policies/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "GET",
              "path": "v2/{+name}:getEffectivePolicy",
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "id": "orgpolicy.projects.policies.getEffectivePolicy"
            },
            "patch": {
              "id": "orgpolicy.projects.policies.patch",
              "path": "v2/{+name}",
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "constraints": {
          "methods": {
            "list": {
              "flatPath": "v2/folders/{foldersId}/constraints",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "orgpolicy.folders.constraints.list",
              "httpMethod": "GET",
              "path": "v2/{+parent}/constraints",
              "description": "Lists constraints that could be applied on the specified resource."
            }
          }
        },
        "policies": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "path": "v2/{+name}",
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "id": "orgpolicy.folders.policies.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "required": true
                },
                "updateMask": {
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "getEffectivePolicy": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}:getEffectivePolicy",
              "parameters": {
                "name": {
                  "description": "Required. The effective policy to compute. See Policy for naming requirements.",
                  "required": true,
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v2/{+name}:getEffectivePolicy",
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "httpMethod": "GET",
              "id": "orgpolicy.folders.policies.getEffectivePolicy"
            },
            "list": {
              "httpMethod": "GET",
              "path": "v2/{+parent}/policies",
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "id": "orgpolicy.folders.policies.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/folders/{foldersId}/policies",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              }
            },
            "create": {
              "httpMethod": "POST",
              "path": "v2/{+parent}/policies",
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "id": "orgpolicy.folders.policies.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/folders/{foldersId}/policies",
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "delete": {
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "etag": {
                  "location": "query",
                  "description": "Optional. The current etag of policy. If an etag is provided and does not match the current etag of the policy, deletion will be blocked and an ABORTED error will be returned.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.folders.policies.delete",
              "httpMethod": "DELETE",
              "path": "v2/{+name}",
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "httpMethod": "GET",
              "id": "orgpolicy.folders.policies.get"
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "constraints": {
          "methods": {
            "list": {
              "path": "v2/{+parent}/constraints",
              "description": "Lists constraints that could be applied on the specified resource.",
              "httpMethod": "GET",
              "id": "orgpolicy.organizations.constraints.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "flatPath": "v2/organizations/{organizationsId}/constraints",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true
                }
              }
            }
          }
        },
        "policies": {
          "methods": {
            "patch": {
              "id": "orgpolicy.organizations.policies.patch",
              "path": "v2/{+name}",
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getEffectivePolicy": {
              "id": "orgpolicy.organizations.policies.getEffectivePolicy",
              "httpMethod": "GET",
              "path": "v2/{+name}:getEffectivePolicy",
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}:getEffectivePolicy",
              "parameters": {
                "name": {
                  "description": "Required. The effective policy to compute. See Policy for naming requirements.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/policies/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.organizations.policies.get",
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write."
            },
            "list": {
              "path": "v2/{+parent}/policies",
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "httpMethod": "GET",
              "id": "orgpolicy.organizations.policies.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "parameters": {
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true
                }
              }
            },
            "create": {
              "id": "orgpolicy.organizations.policies.create",
              "httpMethod": "POST",
              "path": "v2/{+parent}/policies",
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "etag": {
                  "description": "Optional. The current etag of policy. If an etag is provided and does not match the current etag of the policy, deletion will be blocked and an ABORTED error will be returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "path": "v2/{+name}",
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "id": "orgpolicy.organizations.policies.delete"
            }
          }
        },
        "customConstraints": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 71 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/custom.` is not counted.",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "path": "v2/{+name}",
              "description": "Updates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Note: the supplied policy will perform a full overwrite of all fields.",
              "httpMethod": "PATCH",
              "id": "orgpolicy.organizations.customConstraints.patch"
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Must be in the following form: * `organizations/{organization_id}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "orgpolicy.organizations.customConstraints.create",
              "path": "v2/{+parent}/customConstraints",
              "description": "Creates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the organization does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the constraint already exists on the given organization.",
              "httpMethod": "POST"
            },
            "list": {
              "id": "orgpolicy.organizations.customConstraints.list",
              "path": "v2/{+parent}/customConstraints",
              "description": "Retrieves all of the custom constraints that exist on a particular organization resource.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The target Google Cloud resource that parents the set of custom constraints that will be returned from this call. Must be in one of the following forms: * `organizations/{organization_id}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "path": "v2/{+name}",
              "description": "Deletes a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist.",
              "httpMethod": "DELETE",
              "id": "orgpolicy.organizations.customConstraints.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the custom constraint to delete. See the custom constraint entry for naming rules.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "get": {
              "path": "v2/{+name}",
              "description": "Gets a custom or managed constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the custom or managed constraint does not exist.",
              "httpMethod": "GET",
              "id": "orgpolicy.organizations.customConstraints.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the custom or managed constraint. See the custom constraint entry for naming requirements.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$"
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "revision": "20260305",
  "title": "Organization Policy API",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameter": {
      "id": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameter",
      "description": "Defines a parameter structure.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used. Results in an error.",
            "List parameter type.",
            "String parameter type.",
            "Boolean parameter type."
          ],
          "description": "Type of the parameter.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LIST",
            "STRING",
            "BOOLEAN"
          ]
        },
        "defaultValue": {
          "description": "Sets the value of the parameter in an assignment if no value is given.",
          "type": "any"
        },
        "item": {
          "description": "Determines the parameter's value structure. For example, `LIST` can be specified by defining `type: LIST`, and `item: STRING`.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LIST",
            "STRING",
            "BOOLEAN"
          ],
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used. Results in an error.",
            "List parameter type.",
            "String parameter type.",
            "Boolean parameter type."
          ]
        },
        "validValuesExpr": {
          "description": "Provides a CEL expression to specify the acceptable parameter values during assignment. For example, parameterName in (\"parameterValue1\", \"parameterValue2\")",
          "type": "string"
        },
        "metadata": {
          "description": "Defines subproperties primarily used by the UI to display user-friendly information.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameterMetadata"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudOrgpolicyV2Policy": {
      "description": "Defines an organization policy which is used to specify constraints for configurations of Google Cloud resources.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
          "type": "string"
        },
        "dryRunSpec": {
          "description": "Dry-run policy. Audit-only policy, can be used to monitor how the policy would have impacted the existing and future resources if it's enforced.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        },
        "etag": {
          "description": "Optional. An opaque tag indicating the current state of the policy, used for concurrency control. This 'etag' is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "spec": {
          "description": "Basic information about the organization policy.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        },
        "alternate": {
          "description": "Deprecated.",
          "deprecated": true,
          "$ref": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
        }
      },
      "id": "GoogleCloudOrgpolicyV2Policy"
    },
    "GoogleCloudOrgpolicyV2PolicySpec": {
      "description": "Defines a Google Cloud policy specification which is used to specify constraints for configurations of Google Cloud resources.",
      "type": "object",
      "properties": {
        "inheritFromParent": {
          "description": "Determines the inheritance behavior for this policy. If `inherit_from_parent` is true, policy rules set higher up in the hierarchy (up to the closest root) are inherited and present in the effective policy. If it is false, then no rules are inherited, and this policy becomes the new root for evaluation. This field can be set only for policies which configure list constraints.",
          "type": "boolean"
        },
        "etag": {
          "description": "An opaque tag indicating the current version of the policySpec, used for concurrency control. This field is ignored if used in a `CreatePolicy` request. When the policy is returned from either a `GetPolicy` or a `ListPolicies` request, this `etag` indicates the version of the current policySpec to use when executing a read-modify-write loop. When the policy is returned from a `GetEffectivePolicy` request, the `etag` will be unset.",
          "type": "string"
        },
        "rules": {
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
          },
          "description": "In policies for boolean constraints, the following requirements apply: - There must be one and only one policy rule where condition is unset. - Boolean policy rules with conditions must set `enforced` to the opposite of the policy rule without a condition. - During policy evaluation, policy rules with conditions that are true for a target resource take precedence.",
          "type": "array"
        },
        "reset": {
          "description": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific constraint at this resource. This field can be set in policies for either list or boolean constraints. If set, `rules` must be empty and `inherit_from_parent` must be set to false.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. The time stamp this was previously updated. This represents the last time a call to `CreatePolicy` or `UpdatePolicy` was made for that policy.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudOrgpolicyV2PolicySpec"
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues": {
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
      "description": "A message that holds specific allowed and denied values. This message can define specific values and subtrees of the Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - `projects/` (for example, `projects/tokyo-rain-123`) - `folders/` (for example, `folders/1234`) - `organizations/` (for example, `organizations/1234`) The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used.",
      "type": "object",
      "properties": {
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "description": "List of values allowed at this resource.",
          "type": "array"
        },
        "deniedValues": {
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource.",
          "type": "array"
        }
      }
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRule": {
      "description": "A rule used to express this policy.",
      "type": "object",
      "properties": {
        "denyAll": {
          "description": "Setting this to true means that all values are denied. This field can be set only in policies for list constraints.",
          "type": "boolean"
        },
        "enforce": {
          "description": "If `true`, then the policy is enforced. If `false`, then any configuration is acceptable. This field can be set in policies for boolean constraints, custom constraints and managed constraints.",
          "type": "boolean"
        },
        "parameters": {
          "description": "Optional. Required for managed constraints if parameters are defined. Passes parameter values when policy enforcement is enabled. Ensure that parameter value types match those defined in the constraint definition. For example: ``` { \"allowedLocations\" : [\"us-east1\", \"us-west1\"], \"allowAll\" : true } ```",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "allowAll": {
          "description": "Setting this to true means that all values are allowed. This field can be set only in policies for list constraints.",
          "type": "boolean"
        },
        "values": {
          "description": "List of values to be used for this policy rule. This field can be set only in policies for list constraints.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues"
        },
        "condition": {
          "description": "A condition that determines whether this rule is used to evaluate the policy. When set, the google.type.Expr.expression field must contain 1 to 10 subexpressions, joined by the `||` or `&&` operators. Each subexpression must use the `resource.matchTag()`, `resource.matchTagId()`, `resource.hasTagKey()`, or `resource.hasTagKeyId()` Common Expression Language (CEL) function. The `resource.matchTag()` function takes the following arguments: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` * `value_name`: the short name of the tag value For example: `resource.matchTag('123456789012/environment, 'prod')` The `resource.matchTagId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` * `value_id`: the permanent ID of the tag value; for example, `tagValues/567890123456` For example: `resource.matchTagId('tagKeys/123456789012', 'tagValues/567890123456')` The `resource.hasTagKey()` function takes the following argument: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` For example: `resource.hasTagKey('123456789012/environment')` The `resource.hasTagKeyId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` For example: `resource.hasTagKeyId('tagKeys/123456789012')`",
          "$ref": "GoogleTypeExpr"
        }
      },
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
    },
    "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint": {
      "id": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint",
      "description": "A constraint type is enforced or not enforced, which is configured in the `PolicyRule`. If `customConstraintDefinition` is defined, this constraint is a managed constraint.",
      "type": "object",
      "properties": {
        "customConstraintDefinition": {
          "description": "Custom constraint definition. Defines this as a managed constraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinition"
        }
      }
    },
    "GoogleCloudOrgpolicyV2ListConstraintsResponse": {
      "description": "The response returned from the ListConstraints method.",
      "type": "object",
      "properties": {
        "constraints": {
          "description": "The collection of constraints that are available on the targeted resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Constraint"
          }
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used.",
          "type": "string"
        }
      },
      "id": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
    },
    "GoogleCloudOrgpolicyV2CustomConstraint": {
      "description": "A custom constraint defined by customers which can *only* be applied to the given resource types and organization. By creating a custom constraint, customers can apply policies of this custom constraint. *Creating a custom constraint itself does NOT apply any policy enforcement*.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "A Common Expression Language (CEL) condition which is used in the evaluation of the constraint. For example: `resource.instanceName.matches(\"(production|test)_(.+_)?[\\d]+\")` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters.",
          "type": "string"
        },
        "methodTypes": {
          "items": {
            "enumDescriptions": [
              "This is only used for distinguishing unset values and should never be used. Results in an error.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not currently supported.",
              "Constraint applied when removing an IAM grant.",
              "Constraint applied when enforcing forced tagging."
            ],
            "type": "string",
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE",
              "REMOVE_GRANT",
              "GOVERN_TAGS"
            ]
          },
          "description": "All the operations being applied for this constraint.",
          "type": "array"
        },
        "displayName": {
          "description": "One line display name for the UI. The max length of the display_name is 200 characters.",
          "type": "string"
        },
        "description": {
          "description": "Detailed information about this custom policy constraint. The max length of the description is 2000 characters.",
          "type": "string"
        },
        "resourceTypes": {
          "description": "Immutable. The resource instance type on which this policy applies. Format will be of the form : `/` Example: * `compute.googleapis.com/Instance`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The last time this custom constraint was updated. This represents the last time that the `CreateCustomConstraint` or `UpdateCustomConstraint` methods were called.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 71 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/custom.` is not counted.",
          "type": "string"
        },
        "actionType": {
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used. Results in an error.",
            "Allowed action type.",
            "Deny action type."
          ],
          "description": "Allow or deny type.",
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        }
      },
      "id": "GoogleCloudOrgpolicyV2CustomConstraint"
    },
    "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameterMetadata": {
      "description": "Defines Metadata structure.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Detailed description of what this `parameter` is and use of it. Mutable.",
          "type": "string"
        }
      },
      "id": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameterMetadata"
    },
    "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse": {
      "description": "The response returned from the ListCustomConstraints method. It will be empty if no custom or managed constraints are set on the organization resource.",
      "type": "object",
      "properties": {
        "customConstraints": {
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
          },
          "description": "All custom and managed constraints that exist on the organization resource. It will be empty if no custom constraints are set.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse"
    },
    "GoogleCloudOrgpolicyV2AlternatePolicySpec": {
      "description": "Similar to PolicySpec but with an extra 'launch' field for launch reference. The PolicySpec here is specific for dry-run.",
      "type": "object",
      "properties": {
        "launch": {
          "description": "Reference to the launch that will be used while audit logging and to control the launch. Should be set only in the alternate policy.",
          "type": "string"
        },
        "spec": {
          "description": "Specify constraint for configurations of Google Cloud resources.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        }
      },
      "id": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
    },
    "GoogleCloudOrgpolicyV2Constraint": {
      "description": "A constraint describes a way to restrict resource's configuration. For example, you could enforce a constraint that controls which Google Cloud services can be activated across an organization, or whether a Compute Engine instance can have serial port connections established. Constraints can be configured by the organization policy administrator to fit the needs of the organization by setting a policy that includes constraints at different locations in the organization's resource hierarchy. Policies are inherited down the resource hierarchy from higher levels, but can also be overridden. For details about the inheritance rules, see `Policy`. Constraints have a default behavior determined by the `constraint_default` field, which is the enforcement behavior that is used in the absence of a policy being defined or inherited for the resource in question.",
      "type": "object",
      "properties": {
        "listConstraint": {
          "description": "Defines this constraint as being a list constraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintListConstraint"
        },
        "constraintDefault": {
          "description": "The evaluation behavior of this constraint in the absence of a policy.",
          "type": "string",
          "enum": [
            "CONSTRAINT_DEFAULT_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used. Results in an error.",
            "Indicate that all values are allowed for list constraints. Indicate that enforcement is off for boolean constraints.",
            "Indicate that all values are denied for list constraints. Indicate that enforcement is on for boolean constraints."
          ]
        },
        "booleanConstraint": {
          "description": "Defines this constraint as being a boolean constraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint"
        },
        "name": {
          "description": "Immutable. The resource name of the constraint. Must be in one of the following forms: * `projects/{project_number}/constraints/{constraint_name}` * `folders/{folder_id}/constraints/{constraint_name}` * `organizations/{organization_id}/constraints/{constraint_name}` For example, \"/projects/123/constraints/compute.disableSerialPortAccess\".",
          "type": "string"
        },
        "equivalentConstraint": {
          "description": "Managed constraint and canned constraint sometimes can have equivalents. This field is used to store the equivalent constraint name.",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name. Mutable.",
          "type": "string"
        },
        "description": {
          "description": "Detailed description of what this constraint controls as well as how and where it is enforced. Mutable.",
          "type": "string"
        },
        "supportsSimulation": {
          "description": "Shows if simulation is supported for this constraint or not.",
          "type": "boolean"
        },
        "supportsDryRun": {
          "description": "Shows if dry run is supported for this constraint or not.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudOrgpolicyV2Constraint"
    },
    "GoogleCloudOrgpolicyV2ConstraintListConstraint": {
      "description": "A constraint type that allows or disallows a list of string values, which are configured in the `PolicyRule`.",
      "type": "object",
      "properties": {
        "supportsIn": {
          "description": "Indicates whether values grouped into categories can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"in:Python\"` would match any value in the 'Python' group.",
          "type": "boolean"
        },
        "supportsUnder": {
          "description": "Indicates whether subtrees of the Resource Manager resource hierarchy can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"under:folders/123\"` would match any resource under the 'folders/123' folder.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudOrgpolicyV2ConstraintListConstraint"
    },
    "GoogleCloudOrgpolicyV2ListPoliciesResponse": {
      "description": "The response returned from the ListPolicies method. It will be empty if no policies are set on the resource.",
      "type": "object",
      "properties": {
        "policies": {
          "description": "All policies that exist on the resource. It will be empty if no policies are set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Policy"
          }
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
    },
    "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinition": {
      "id": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinition",
      "description": "Custom constraint definition. Defines this as a managed constraint.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "Org policy condition/expression. For example: `resource.instanceName.matches(\"(production|test)_(.+_)?[\\d]+\")` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters.",
          "type": "string"
        },
        "methodTypes": {
          "items": {
            "type": "string",
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE",
              "REMOVE_GRANT",
              "GOVERN_TAGS"
            ],
            "enumDescriptions": [
              "This is only used for distinguishing unset values and should never be used. Results in an error.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not currently supported.",
              "Constraint applied when removing an IAM grant.",
              "Constraint applied when enforcing forced tagging."
            ]
          },
          "description": "All the operations being applied for this constraint.",
          "type": "array"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameter"
          },
          "description": "Stores the structure of `Parameters` used by the constraint condition. The key of `map` represents the name of the parameter.",
          "type": "object"
        },
        "resourceTypes": {
          "description": "The resource instance type on which this policy applies. Format will be of the form : `/` Example: * `compute.googleapis.com/Instance`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "actionType": {
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used. Results in an error.",
            "Allowed action type.",
            "Deny action type."
          ],
          "description": "Allow or deny type.",
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        }
      }
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr"
    }
  },
  "description": "The Organization Policy API allows users to configure governance rules on their Google Cloud resources across the resource hierarchy.",
  "batchPath": "batch",
  "rootUrl": "https://orgpolicy.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}