{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "patchDeployments": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "PatchDeployment"
              },
              "response": {
                "$ref": "PatchDeployment"
              },
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "id": "osconfig.projects.patchDeployments.create",
              "path": "v1/{+parent}/patchDeployments",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "patchDeploymentId": {
                  "location": "query",
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Create an OS Config patch deployment.",
              "httpMethod": "POST"
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Update an OS Config patch deployment.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Optional. Field mask that controls which fields of the patch deployment should be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "osconfig.projects.patchDeployments.patch",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "request": {
                "$ref": "PatchDeployment"
              },
              "response": {
                "$ref": "PatchDeployment"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "id": "osconfig.projects.patchDeployments.list",
              "path": "v1/{+parent}/patchDeployments",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a page of OS Config patch deployments.",
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get an OS Config patch deployment.",
              "httpMethod": "GET",
              "response": {
                "$ref": "PatchDeployment"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "id": "osconfig.projects.patchDeployments.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "delete": {
              "description": "Delete an OS Config patch deployment.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchDeployments.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}"
            },
            "pause": {
              "httpMethod": "POST",
              "description": "Change state of patch deployment to \"PAUSED\". Patch deployment in paused state doesn't generate patch jobs.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:pause",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "osconfig.projects.patchDeployments.pause",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:pause",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "PausePatchDeploymentRequest"
              },
              "response": {
                "$ref": "PatchDeployment"
              }
            },
            "resume": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Change state of patch deployment back to \"ACTIVE\". Patch deployment in active state continues to generate patch jobs.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ResumePatchDeploymentRequest"
              },
              "response": {
                "$ref": "PatchDeployment"
              },
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:resume",
              "id": "osconfig.projects.patchDeployments.resume",
              "path": "v1/{+name}:resume",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`."
                }
              }
            }
          }
        },
        "patchJobs": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PatchJob"
              },
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}",
              "id": "osconfig.projects.patchJobs.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs.",
              "httpMethod": "GET"
            },
            "cancel": {
              "request": {
                "$ref": "CancelPatchJobRequest"
              },
              "response": {
                "$ref": "PatchJob"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "id": "osconfig.projects.patchJobs.cancel",
              "path": "v1/{+name}:cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "httpMethod": "POST"
            },
            "execute": {
              "httpMethod": "POST",
              "description": "Patch VM instances by creating and running a patch job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/patchJobs:execute",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project in which to run this patch in the form `projects/*`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "osconfig.projects.patchJobs.execute",
              "flatPath": "v1/projects/{projectsId}/patchJobs:execute",
              "request": {
                "$ref": "ExecutePatchJobRequest"
              },
              "response": {
                "$ref": "PatchJob"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "path": "v1/{+parent}/patchJobs",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. In the form of `projects/*`",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                  "type": "string"
                },
                "filter": {
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of instance status to return.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "id": "osconfig.projects.patchJobs.list",
              "flatPath": "v1/projects/{projectsId}/patchJobs",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "httpMethod": "GET",
              "description": "Get a list of patch jobs.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/instanceDetails",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of instance details records to return. Default is 100.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`.",
                      "location": "query"
                    }
                  },
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Get a list of instance details for a given patch job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "global": {
              "methods": {
                "getProjectFeatureSettings": {
                  "flatPath": "v1/projects/{projectsId}/locations/global/projectFeatureSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ProjectFeatureSettings"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/global/projectFeatureSettings$",
                      "description": "Required. Name specifies the URL for the ProjectFeatureSettings resource: projects/project_id/locations/global/projectFeatureSettings."
                    }
                  },
                  "id": "osconfig.projects.locations.global.getProjectFeatureSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "GetProjectFeatureSettings returns the VM Manager feature settings for a project."
                },
                "updateProjectFeatureSettings": {
                  "flatPath": "v1/projects/{projectsId}/locations/global/projectFeatureSettings",
                  "request": {
                    "$ref": "ProjectFeatureSettings"
                  },
                  "response": {
                    "$ref": "ProjectFeatureSettings"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/global/projectFeatureSettings$",
                      "description": "Required. Immutable. Name specifies the URL for the ProjectFeatureSettings resource: projects/project_id/locations/global/projectFeatureSettings."
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask that controls which fields of the ProjectFeatureSettings should be updated.",
                      "location": "query"
                    }
                  },
                  "id": "osconfig.projects.locations.global.updateProjectFeatureSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "description": "UpdateProjectFeatureSettings sets the VM Manager features for a project."
                }
              }
            },
            "instances": {
              "resources": {
                "osPolicyAssignments": {
                  "resources": {
                    "reports": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/osPolicyAssignments/{osPolicyAssignmentsId}/reports",
                          "response": {
                            "$ref": "ListOSPolicyAssignmentReportsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/reports",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/osPolicyAssignments/[^/]+$",
                              "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/reports` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either `instance-name`, `instance-id`, or `-` can be provided. If '-' is provided, the response will include OSPolicyAssignmentReports for all instances in the project/location. For `{assignment}`, either `assignment-id` or `-` can be provided. If '-' is provided, the response will include OSPolicyAssignmentReports for all OSPolicyAssignments in the project/location. Either {instance} or {assignment} must be `-`. For example: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/-/reports` returns all reports for the instance `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/{assignment-id}/reports` returns all the reports for the given assignment across all instances. `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/-/reports` returns all the reports for all assignments across all instances.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "If provided, this field specifies the criteria that must be met by the `OSPolicyAssignmentReport` API resource that is included in the response."
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A pagination token returned from a previous call to the `ListOSPolicyAssignmentReports` method that indicates where this listing should continue from.",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The maximum number of results to return.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "id": "osconfig.projects.locations.instances.osPolicyAssignments.reports.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "description": "List OS policy assignment reports for all Compute Engine VM instances in the specified zone."
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Get the OS policy assignment report for the specified Compute Engine VM instance.",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "OSPolicyAssignmentReport"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/osPolicyAssignments/{osPolicyAssignmentsId}/report",
                          "id": "osconfig.projects.locations.instances.osPolicyAssignments.reports.get",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/osPolicyAssignments/[^/]+/report$",
                              "description": "Required. API resource name for OS policy assignment report. Format: `/projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/report` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance_id}`, either Compute Engine `instance-id` or `instance-name` can be provided. For `{assignment_id}`, the OSPolicyAssignment id must be provided.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "vulnerabilityReports": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListVulnerabilityReportsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReports",
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.list",
                      "path": "v1/{+parent}/vulnerabilityReports",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-` For `{project}`, either `project-number` or `project-id` can be provided.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A pagination token returned from a previous call to `ListVulnerabilityReports` that indicates where this listing should continue from.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "This field supports filtering by the severity level for the vulnerability. For a list of severity levels, see [Severity levels for vulnerabilities](https://cloud.google.com/container-analysis/docs/container-scanning-overview#severity_levels_for_vulnerabilities). The filter field follows the rules described in the [AIP-160](https://google.aip.dev/160) guidelines as follows: + **Filter for a specific severity type**: you can list reports that contain vulnerabilities that are classified as medium by specifying `vulnerabilities.details.severity:MEDIUM`. + **Filter for a range of severities** : you can list reports that have vulnerabilities that are classified as critical or high by specifying `vulnerabilities.details.severity:HIGH OR vulnerabilities.details.severity:CRITICAL`",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of results to return.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List vulnerability reports for all VM instances in the specified zone.",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "description": "Gets the vulnerability report for the specified VM instance. Only VMs with inventory data have vulnerability reports associated with them.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. API resource name for vulnerability resource. Format: `projects/{project}/locations/{location}/instances/{instance}/vulnerabilityReport` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/vulnerabilityReport$"
                        }
                      },
                      "response": {
                        "$ref": "VulnerabilityReport"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReport"
                    }
                  }
                },
                "inventories": {
                  "methods": {
                    "list": {
                      "description": "List inventory data for all VM instances in the specified zone.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.instances.inventories.list",
                      "path": "v1/{+parent}/inventories",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-` For `{project}`, either `project-number` or `project-id` can be provided.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "If provided, this field specifies the criteria that must be met by a `Inventory` API resource to be included in the response.",
                          "location": "query"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ],
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of results to return.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A pagination token returned from a previous call to `ListInventories` that indicates where this listing should continue from."
                        }
                      },
                      "response": {
                        "$ref": "ListInventoriesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventories"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get inventory data for the specified VM instance. If the VM has no associated inventory, the message `NOT_FOUND` is returned.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Inventory"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventory",
                      "id": "osconfig.projects.locations.instances.inventories.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "view": {
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC.",
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ],
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/inventory$",
                          "description": "Required. API resource name for inventory resource. Format: `projects/{project}/locations/{location}/instances/{instance}/inventory` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "id": "osconfig.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "osconfig.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "cancel": {
                  "id": "osconfig.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "osconfig.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "osPolicyAssignments": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update an existing OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "id": "osconfig.projects.locations.osPolicyAssignments.patch",
                  "path": "v1/{+name}",
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and the OS policy assignment is not found, a new OS policy assignment will be created. In this situation, `update_mask` is ignored.",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask that controls which fields of the assignment should be updated.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Create an OS policy assignment. This method also creates the first revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/osPolicyAssignments",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name in the form: projects/{project}/locations/{location}. Note: Specify the zone of your VMs as the location.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "osPolicyAssignmentId": {
                      "description": "Required. The logical name of the OS policy assignment in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "type": "string"
                    }
                  },
                  "id": "osconfig.projects.locations.osPolicyAssignments.create"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List the OS policy assignments under the parent resource. For each OS policy assignment, the latest revision is returned.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOSPolicyAssignmentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "id": "osconfig.projects.locations.osPolicyAssignments.list",
                  "path": "v1/{+parent}/osPolicyAssignments",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignments` that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of assignments to return.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Retrieve an existing OS policy assignment. This method always returns the latest revision. In order to retrieve a previous revision of the assignment, also provide the revision ID in the `name` parameter.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of OS policy assignment. Format: `projects/{project}/locations/{location}/osPolicyAssignments/{os_policy_assignment}@{revisionId}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "osconfig.projects.locations.osPolicyAssignments.get"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Delete the OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. If the LRO completes and is not cancelled, all revisions associated with the OS policy assignment are deleted. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the OS policy assignment to be deleted",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "location": "query"
                    }
                  },
                  "id": "osconfig.projects.locations.osPolicyAssignments.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "listRevisions": {
                  "response": {
                    "$ref": "ListOSPolicyAssignmentRevisionsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}:listRevisions",
                  "id": "osconfig.projects.locations.osPolicyAssignments.listRevisions",
                  "path": "v1/{+name}:listRevisions",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignmentRevisions` that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "description": "Required. The name of the OS policy assignment to list revisions for."
                    },
                    "pageSize": {
                      "description": "The maximum number of revisions to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List the OS policy assignment revisions for a given OS policy assignment.",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}"
                    },
                    "cancel": {
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.cancel",
                      "path": "v1/{+name}:cancel",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}:cancel"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "revision": "20260305",
  "name": "osconfig",
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "baseUrl": "https://osconfig.googleapis.com/",
  "id": "osconfig:v1",
  "canonicalName": "OS Config",
  "servicePath": "",
  "protocol": "rest",
  "basePath": "",
  "rootUrl": "https://osconfig.googleapis.com/",
  "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "title": "OS Config API",
  "version": "v1",
  "schemas": {
    "OSPolicyAssignmentOperationMetadata": {
      "type": "object",
      "id": "OSPolicyAssignmentOperationMetadata",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "properties": {
        "rolloutState": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "description": "State of the rollout"
        },
        "osPolicyAssignment": {
          "type": "string",
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
        },
        "apiMethod": {
          "description": "The OS policy assignment API method.",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string"
        },
        "rolloutUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rollout update time"
        },
        "rolloutStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rollout start time"
        }
      }
    },
    "OSPolicyResourceFile": {
      "type": "object",
      "id": "OSPolicyResourceFile",
      "description": "A remote or local file.",
      "properties": {
        "remote": {
          "description": "A generic remote file.",
          "$ref": "OSPolicyResourceFileRemote"
        },
        "gcs": {
          "description": "A Cloud Storage object.",
          "$ref": "OSPolicyResourceFileGcs"
        },
        "localPath": {
          "type": "string",
          "description": "A local path within the VM to use."
        },
        "allowInsecure": {
          "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified.",
          "type": "boolean"
        }
      }
    },
    "InventoryWindowsUpdatePackageWindowsUpdateCategory": {
      "id": "InventoryWindowsUpdatePackageWindowsUpdateCategory",
      "description": "Categories specified by the Windows Update.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the windows update category."
        },
        "id": {
          "type": "string",
          "description": "The identifier of the windows update category."
        }
      },
      "type": "object"
    },
    "PatchJob": {
      "type": "object",
      "id": "PatchJob",
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job).",
      "properties": {
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of the patch job. After the duration ends, the patch job times out."
        },
        "rollout": {
          "description": "Rollout strategy being applied.",
          "$ref": "PatchRollout"
        },
        "errorMessage": {
          "type": "string",
          "description": "If this patch job failed, this message provides information about the failure."
        },
        "instanceDetailsSummary": {
          "description": "Summary of instance details.",
          "$ref": "PatchJobInstanceDetailsSummary"
        },
        "description": {
          "type": "string",
          "description": "Description of the patch job. Length of the description is limited to 1024 characters."
        },
        "instanceFilter": {
          "description": "Instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "name": {
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`",
          "type": "string"
        },
        "dryRun": {
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance.",
          "type": "boolean"
        },
        "percentComplete": {
          "type": "number",
          "format": "double",
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time this patch job was updated."
        },
        "patchDeployment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the patch deployment that created this patch job."
        },
        "patchConfig": {
          "description": "Patch configuration being applied.",
          "$ref": "PatchConfig"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time this patch job was created."
        },
        "state": {
          "type": "string",
          "description": "The current state of the PatchJob.",
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "The patch job completed without errors, but some instances were inactive and therefore not patched.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_INACTIVE_VMS",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ]
        }
      }
    },
    "OSPolicyResourceRepositoryResource": {
      "id": "OSPolicyResourceRepositoryResource",
      "description": "A resource that manages a package repository.",
      "properties": {
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceYumRepository"
        },
        "goo": {
          "description": "A Goo Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceGooRepository"
        },
        "apt": {
          "description": "An Apt Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceAptRepository"
        },
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceZypperRepository"
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "OSPolicyResourcePackageResourceZypper": {
      "id": "OSPolicyResourcePackageResourceZypper",
      "description": "A package managed by Zypper. - install: `zypper -y install package` - remove: `zypper -y rm package`",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListOSPolicyAssignmentReportsResponse": {
      "id": "ListOSPolicyAssignmentReportsResponse",
      "description": "A response message for listing OS Policy assignment reports including the page of results and page token.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of OS policy assignment report objects.",
          "type": "string"
        },
        "osPolicyAssignmentReports": {
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentReport"
          },
          "description": "List of OS policy assignment reports."
        }
      },
      "type": "object"
    },
    "OSPolicyResourceRepositoryResourceYumRepository": {
      "id": "OSPolicyResourceRepositoryResourceYumRepository",
      "description": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts."
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2beta__OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudOsconfigV2beta__OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "VulnerabilityReportVulnerabilityDetails": {
      "id": "VulnerabilityReportVulnerabilityDetails",
      "description": "Contains metadata information for the vulnerability. This information is collected from the upstream feed of the operating system.",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Assigned severity/impact ranking from the distro."
        },
        "cvssV2Score": {
          "type": "number",
          "format": "float",
          "description": "The CVSS V2 score of this vulnerability. CVSS V2 score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity."
        },
        "references": {
          "description": "Corresponds to the references attached to the `VulnerabilityDetails`.",
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityDetailsReference"
          },
          "type": "array"
        },
        "cve": {
          "type": "string",
          "description": "The CVE of the vulnerability. CVE cannot be empty and the combination of should be unique across vulnerabilities for a VM."
        },
        "cvssV3": {
          "description": "The full description of the CVSSv3 for this vulnerability from NVD.",
          "$ref": "CVSSv3"
        },
        "description": {
          "type": "string",
          "description": "The note or description describing the vulnerability from the distro."
        }
      },
      "type": "object"
    },
    "RecurringSchedule": {
      "id": "RecurringSchedule",
      "description": "Sets the time for recurring patch deployments.",
      "properties": {
        "frequency": {
          "type": "string",
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency of recurrence should be expressed in terms of weeks.",
            "Indicates that the frequency of recurrence should be expressed in terms of months.",
            "Indicates that the frequency of recurrence should be expressed in terms of days."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY",
            "DAILY"
          ],
          "description": "Required. The frequency unit of this recurring schedule."
        },
        "startTime": {
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextExecuteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the next patch job is scheduled to run."
        },
        "endTime": {
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeZone": {
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone.",
          "$ref": "TimeZone"
        },
        "weekly": {
          "description": "Required. Schedule with weekly executions.",
          "$ref": "WeeklySchedule"
        },
        "monthly": {
          "description": "Required. Schedule with monthly executions.",
          "$ref": "MonthlySchedule"
        },
        "timeOfDay": {
          "description": "Required. Time of the day to run a recurring deployment.",
          "$ref": "TimeOfDay"
        },
        "lastExecuteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the last patch job ran successfully."
        }
      },
      "type": "object"
    },
    "YumSettings": {
      "id": "YumSettings",
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms.",
      "properties": {
        "minimal": {
          "description": "Will cause patch to run `yum update-minimal` instead.",
          "type": "boolean"
        },
        "excludes": {
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exclusivePackages": {
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "security": {
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "OSPolicyResourceFileGcs": {
      "type": "object",
      "id": "OSPolicyResourceFileGcs",
      "description": "Specifies a file available as a Cloud Storage Object.",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        },
        "object": {
          "type": "string",
          "description": "Required. Name of the Cloud Storage object."
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Generation number of the Cloud Storage object."
        }
      }
    },
    "OSPolicyResourceFileRemote": {
      "type": "object",
      "id": "OSPolicyResourceFileRemote",
      "description": "Specifies a file available via some URI.",
      "properties": {
        "uri": {
          "description": "Required. URI from which to fetch the object. It should contain both the protocol and path following the format `{protocol}://{location}`.",
          "type": "string"
        },
        "sha256Checksum": {
          "description": "SHA256 checksum of the remote file.",
          "type": "string"
        }
      }
    },
    "Inventory": {
      "type": "object",
      "id": "Inventory",
      "description": "This API resource represents the available inventory data for a Compute Engine virtual machine (VM) instance at a given point in time. You can use this API resource to determine the inventory data of your VM. For more information, see [Information provided by OS inventory management](https://cloud.google.com/compute/docs/instances/os-inventory-management#data-collected).",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The `Inventory` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/inventory`"
        },
        "osInfo": {
          "description": "Base level operating system information for the VM.",
          "$ref": "InventoryOsInfo"
        },
        "items": {
          "description": "Inventory items related to the VM keyed by an opaque unique identifier for each inventory item. The identifier is unique to each distinct and addressable inventory item and will change, when there is a new package version.",
          "additionalProperties": {
            "$ref": "InventoryItem"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last reported inventory for the VM."
        }
      }
    },
    "InventoryWindowsUpdatePackage": {
      "id": "InventoryWindowsUpdatePackage",
      "description": "Details related to a Windows Update package. Field data and names are taken from Windows Update API IUpdate Interface: https://docs.microsoft.com/en-us/windows/win32/api/_wua/ Descriptive fields like title, and description are localized based on the locale of the VM being updated.",
      "properties": {
        "updateId": {
          "description": "Gets the identifier of an update package. Stays the same across revisions.",
          "type": "string"
        },
        "kbArticleIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A collection of Microsoft Knowledge Base article IDs that are associated with the update package."
        },
        "description": {
          "type": "string",
          "description": "The localized description of the update package."
        },
        "moreInfoUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of URLs that provide more information about the update package."
        },
        "revisionNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The revision number of this update package."
        },
        "categories": {
          "description": "The categories that are associated with this update package.",
          "items": {
            "$ref": "InventoryWindowsUpdatePackageWindowsUpdateCategory"
          },
          "type": "array"
        },
        "title": {
          "description": "The localized title of the update package.",
          "type": "string"
        },
        "supportUrl": {
          "description": "A hyperlink to the language-specific support information for the update.",
          "type": "string"
        },
        "lastDeploymentChangeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last published date of the update, in (UTC) date and time."
        }
      },
      "type": "object"
    },
    "ResumePatchDeploymentRequest": {
      "type": "object",
      "id": "ResumePatchDeploymentRequest",
      "description": "A request message for resuming a patch deployment.",
      "properties": {}
    },
    "OSPolicyResourceRepositoryResourceZypperRepository": {
      "type": "object",
      "id": "OSPolicyResourceRepositoryResourceZypperRepository",
      "description": "Represents a single zypper package repository. These are added to a repo file that is managed at `/etc/zypp/repos.d/google_osconfig.repo`.",
      "properties": {
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for GuestPolicy conflicts."
        },
        "gpgKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "URIs of GPG keys."
        }
      }
    },
    "VulnerabilityReport": {
      "type": "object",
      "id": "VulnerabilityReport",
      "description": "This API resource represents the vulnerability report for a specified Compute Engine virtual machine (VM) instance at a given point in time. For more information, see [Vulnerability reports](https://cloud.google.com/compute/docs/instances/os-inventory-management#vulnerability-reports).",
      "properties": {
        "highestUpgradableCveSeverity": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Highest level of severity among all the upgradable vulnerabilities with CVEs attached.",
          "enumDescriptions": [
            "Default SeverityLevel. This value is unused.",
            "Vulnerability has no severity level.",
            "Vulnerability severity level is minimal. This is level below the low severity level.",
            "Vulnerability severity level is low. This is level below the medium severity level.",
            "Vulnerability severity level is medium. This is level below the high severity level.",
            "Vulnerability severity level is high. This is level below the critical severity level.",
            "Vulnerability severity level is critical. This is the highest severity level."
          ],
          "enum": [
            "VULNERABILITY_SEVERITY_LEVEL_UNSPECIFIED",
            "NONE",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "name": {
          "description": "Output only. The `vulnerabilityReport` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/vulnerabilityReport`",
          "readOnly": true,
          "type": "string"
        },
        "vulnerabilities": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "VulnerabilityReportVulnerability"
          },
          "description": "Output only. List of vulnerabilities affecting the VM."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the last vulnerability report was generated for the VM."
        }
      }
    },
    "OSPolicyResourcePackageResourceMSI": {
      "type": "object",
      "id": "OSPolicyResourcePackageResourceMSI",
      "description": "An MSI package. MSI packages only support INSTALLED state.",
      "properties": {
        "source": {
          "description": "Required. The MSI package.",
          "$ref": "OSPolicyResourceFile"
        },
        "properties": {
          "description": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of `ACTION=INSTALL REBOOT=ReallySuppress`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "OSPolicyAssignmentReportOSPolicyCompliance": {
      "type": "object",
      "id": "OSPolicyAssignmentReportOSPolicyCompliance",
      "description": "Compliance data for an OS policy",
      "properties": {
        "osPolicyId": {
          "description": "The OS policy id",
          "type": "string"
        },
        "complianceState": {
          "type": "string",
          "description": "The compliance state of the OS policy.",
          "enumDescriptions": [
            "The policy is in an unknown compliance state. Refer to the field `compliance_state_reason` to learn the exact reason for the policy to be in this compliance state.",
            "Policy is compliant. The policy is compliant if all the underlying resources are also compliant.",
            "Policy is non-compliant. The policy is non-compliant if one or more underlying resources are non-compliant."
          ],
          "enum": [
            "UNKNOWN",
            "COMPLIANT",
            "NON_COMPLIANT"
          ]
        },
        "osPolicyResourceCompliances": {
          "description": "Compliance data for each resource within the policy that is applied to the VM.",
          "items": {
            "$ref": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceCompliance"
          },
          "type": "array"
        },
        "complianceStateReason": {
          "description": "The reason for the OS policy to be in an unknown compliance state. This field is always populated when `compliance_state` is `UNKNOWN`. If populated, the field can contain one of the following values: * `vm-not-running`: The VM was not running. * `os-policies-not-supported-by-agent`: The version of the OS Config agent running on the VM does not support running OS policies. * `no-agent-detected`: The OS Config agent is not detected for the VM. * `resource-execution-errors`: The OS Config agent encountered errors while executing one or more resources in the policy. See `os_policy_resource_compliances` for details. * `task-timeout`: The task sent to the agent to apply the policy timed out. * `unexpected-agent-state`: The OS Config agent did not report the final status of the task that attempted to apply the policy. Instead, the agent unexpectedly started working on a different task. This mostly happens when the agent or VM unexpectedly restarts while applying OS policies. * `internal-service-errors`: Internal service errors were encountered while attempting to apply the policy. * `os-policy-execution-pending`: OS policy was assigned to the given VM, but was not executed yet. Typically this is a transient condition that will go away after the next policy execution cycle.",
          "type": "string"
        }
      }
    },
    "GooSettings": {
      "type": "object",
      "id": "GooSettings",
      "description": "Googet patching is performed by running `googet update`.",
      "properties": {}
    },
    "ZypperSettings": {
      "type": "object",
      "id": "ZypperSettings",
      "description": "Zypper patching is performed by running `zypper patch`. See also https://en.opensuse.org/SDB:Zypper_manual.",
      "properties": {
        "withUpdate": {
          "type": "boolean",
          "description": "Adds the `--with-update` flag, to `zypper patch`."
        },
        "withOptional": {
          "type": "boolean",
          "description": "Adds the `--with-optional` flag to `zypper patch`."
        },
        "excludes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of patches to exclude from update."
        },
        "categories": {
          "description": "Install only patches with these categories. Common categories include security, recommended, and feature.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severities": {
          "description": "Install only patches with these severities. Common severities include critical, important, moderate, and low.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exclusivePatches": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of patches to be updated. These are the only patches that will be installed using 'zypper patch patch:' command. This field must not be used with any other patch configuration fields."
        }
      }
    },
    "FixedOrPercent": {
      "type": "object",
      "id": "FixedOrPercent",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "properties": {
        "fixed": {
          "description": "Specifies a fixed value.",
          "type": "integer",
          "format": "int32"
        },
        "percent": {
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PatchDeployment": {
      "id": "PatchDeployment",
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "properties": {
        "duration": {
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out.",
          "type": "string",
          "format": "google-duration"
        },
        "rollout": {
          "description": "Optional. Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "name": {
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
          "type": "string"
        },
        "lastExecuteTime": {
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "recurringSchedule": {
          "description": "Required. Schedule recurring executions.",
          "$ref": "RecurringSchedule"
        },
        "description": {
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "instanceFilter": {
          "description": "Required. VM instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "oneTimeSchedule": {
          "description": "Required. Schedule a one-time execution.",
          "$ref": "OneTimeSchedule"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Active value means that patch deployment generates Patch Jobs.",
            "Paused value means that patch deployment does not generate Patch jobs. Requires user action to move in and out from this state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED"
          ],
          "description": "Output only. Current state of the patch deployment.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "patchConfig": {
          "description": "Optional. Patch configuration that is applied.",
          "$ref": "PatchConfig"
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResourceYUM": {
      "id": "OSPolicyResourcePackageResourceYUM",
      "description": "A package managed by YUM. - install: `yum -y install package` - remove: `yum -y remove package`",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      },
      "type": "object"
    },
    "InventoryZypperPatch": {
      "type": "object",
      "id": "InventoryZypperPatch",
      "description": "Details related to a Zypper Patch.",
      "properties": {
        "patchName": {
          "description": "The name of the patch.",
          "type": "string"
        },
        "summary": {
          "description": "Any summary information provided about this patch.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity specified for this patch"
        },
        "category": {
          "type": "string",
          "description": "The category of the patch."
        }
      }
    },
    "ListOSPolicyAssignmentsResponse": {
      "id": "ListOSPolicyAssignmentsResponse",
      "description": "A response message for listing all assignments under given parent.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of OS policy assignments."
        },
        "osPolicyAssignments": {
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignment"
          },
          "description": "The list of assignments"
        }
      },
      "type": "object"
    },
    "OSPolicyResourceExecResource": {
      "type": "object",
      "id": "OSPolicyResourceExecResource",
[...]
