{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260430",
  "baseUrl": "https://osconfig.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "osconfig",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "rootUrl": "https://osconfig.googleapis.com/",
  "id": "osconfig:v2",
  "version_module": true,
  "schemas": {
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "type": "object",
      "properties": {
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "rolloutState": {
          "type": "string",
          "description": "State of the rollout",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ]
        },
        "apiMethod": {
          "description": "The OS policy assignment API method.",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "type": "string"
        },
        "rolloutUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rollout update time"
        },
        "rolloutStartTime": {
          "description": "Rollout start time",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations."
    },
    "OSPolicyAssignmentInstanceFilterInventory": {
      "type": "object",
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions."
        },
        "osShortName": {
          "description": "Required. The OS short name",
          "type": "string"
        }
      },
      "id": "OSPolicyAssignmentInstanceFilterInventory",
      "description": "VM inventory details."
    },
    "OSPolicyResourcePackageResourceYUM": {
      "id": "OSPolicyResourcePackageResourceYUM",
      "description": "A package managed by YUM. - install: `yum -y install package` - remove: `yum -y remove package`",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResource": {
      "properties": {
        "rpm": {
          "description": "An rpm package file.",
          "$ref": "OSPolicyResourcePackageResourceRPM"
        },
        "yum": {
          "description": "A package managed by YUM.",
          "$ref": "OSPolicyResourcePackageResourceYUM"
        },
        "msi": {
          "description": "An MSI package.",
          "$ref": "OSPolicyResourcePackageResourceMSI"
        },
        "zypper": {
          "description": "A package managed by Zypper.",
          "$ref": "OSPolicyResourcePackageResourceZypper"
        },
        "googet": {
          "description": "A package managed by GooGet.",
          "$ref": "OSPolicyResourcePackageResourceGooGet"
        },
        "apt": {
          "description": "A package managed by Apt.",
          "$ref": "OSPolicyResourcePackageResourceAPT"
        },
        "deb": {
          "description": "A deb package file.",
          "$ref": "OSPolicyResourcePackageResourceDeb"
        },
        "desiredState": {
          "description": "Required. The desired state the agent should maintain for this package.",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "OSPolicyResourcePackageResource",
      "description": "A resource that manages a system package."
    },
    "OSPolicyResourceFile": {
      "id": "OSPolicyResourceFile",
      "description": "A remote or local file.",
      "properties": {
        "gcs": {
          "description": "A Cloud Storage object.",
          "$ref": "OSPolicyResourceFileGcs"
        },
        "allowInsecure": {
          "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified.",
          "type": "boolean"
        },
        "localPath": {
          "description": "A local path within the VM to use.",
          "type": "string"
        },
        "remote": {
          "description": "A generic remote file.",
          "$ref": "OSPolicyResourceFileRemote"
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResourceGooGet": {
      "id": "OSPolicyResourcePackageResourceGooGet",
      "description": "A package managed by GooGet. - install: `googet -noconfirm install package` - remove: `googet -noconfirm remove package`",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      }
    },
    "OSPolicyResourceRepositoryResourceGooRepository": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the repository."
        },
        "url": {
          "type": "string",
          "description": "Required. The url of the repository."
        }
      },
      "type": "object",
      "id": "OSPolicyResourceRepositoryResourceGooRepository",
      "description": "Represents a Goo package repository. These are added to a repo file that is managed at `C:/ProgramData/GooGet/repos/google_osconfig.repo`."
    },
    "OSPolicyResourceRepositoryResourceYumRepository": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts."
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "OSPolicyResourceRepositoryResourceYumRepository",
      "description": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`."
    },
    "OSPolicyResourceFileGcs": {
      "id": "OSPolicyResourceFileGcs",
      "description": "Specifies a file available as a Cloud Storage Object.",
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Generation number of the Cloud Storage object."
        },
        "object": {
          "type": "string",
          "description": "Required. Name of the Cloud Storage object."
        }
      }
    },
    "OSPolicyResourceExecResourceExec": {
      "type": "object",
      "properties": {
        "file": {
          "description": "A remote or local file.",
          "$ref": "OSPolicyResourceFile"
        },
        "interpreter": {
          "enumDescriptions": [
            "Invalid value, the request will return validation error.",
            "If an interpreter is not specified, the source is executed directly. This execution, without an interpreter, only succeeds for executables and scripts that have shebang lines.",
            "Indicates that the script runs with `/bin/sh` on Linux and `cmd.exe` on Windows.",
            "Indicates that the script runs with PowerShell."
          ],
          "description": "Required. The script interpreter to use.",
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ],
          "type": "string"
        },
        "outputFilePath": {
          "description": "Only recorded for enforce Exec. Path to an output file (that is created by this Exec) whose content will be recorded in OSPolicyResourceCompliance after a successful run. Absence or failure to read this file will result in this ExecResource being non-compliant. Output file size is limited to 500K bytes.",
          "type": "string"
        },
        "script": {
          "description": "An inline script. The size of the script is limited to 32KiB.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "description": "Optional arguments to pass to the source during execution.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "OSPolicyResourceExecResourceExec",
      "description": "A file or script to execute."
    },
    "MessageSet": {
      "id": "MessageSet",
      "description": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "type": "object",
      "properties": {},
      "deprecated": true
    },
    "OSPolicyResourcePackageResourceMSI": {
      "id": "OSPolicyResourcePackageResourceMSI",
      "description": "An MSI package. MSI packages only support INSTALLED state.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of `ACTION=INSTALL REBOOT=ReallySuppress`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "source": {
          "description": "Required. The MSI package.",
          "$ref": "OSPolicyResourceFile"
        }
      }
    },
    "OSPolicyResourceFileResource": {
      "properties": {
        "permissions": {
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4",
          "type": "string"
        },
        "file": {
          "description": "A remote or local source.",
          "$ref": "OSPolicyResourceFile"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure file at path is present.",
            "Ensure file at path is absent.",
            "Ensure the contents of the file at path matches. If the file does not exist it will be created."
          ],
          "description": "Required. Desired state of the file.",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "PRESENT",
            "ABSENT",
            "CONTENTS_MATCH"
          ],
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "A file with this content. The size of the content is limited to 32KiB."
        },
        "path": {
          "description": "Required. The absolute path of the file within the VM.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OSPolicyResourceFileResource",
      "description": "A resource that manages the state of a file."
    },
    "OSPolicyAssignmentLabelSet": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels are identified by key/value pairs in this map. A VM should contain all the key/value pairs specified in this map to be selected."
        }
      },
      "type": "object",
      "id": "OSPolicyAssignmentLabelSet",
      "description": "Message representing label set. * A label is a key value pair set for a VM. * A LabelSet is a set of labels. * Labels within a LabelSet are ANDed. In other words, a LabelSet is applicable for a VM only if it matches all the labels in the LabelSet. * Example: A LabelSet with 2 labels: `env=prod` and `type=webserver` will only be applicable for those VMs with both labels present."
    },
    "OSPolicyResourcePackageResourceZypper": {
      "id": "OSPolicyResourcePackageResourceZypper",
      "description": "A package managed by Zypper. - install: `zypper -y install package` - remove: `zypper -y rm package`",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OSPolicyResourceRepositoryResourceAptRepository": {
      "type": "object",
      "properties": {
        "components": {
          "description": "Required. List of components for this repository. Must contain at least one item.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "archiveType": {
          "type": "string",
          "description": "Required. Type of archive files in this repository.",
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ],
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Deb indicates that the archive contains binary files.",
            "Deb-src indicates that the archive contains source files."
          ]
        },
        "distribution": {
          "type": "string",
          "description": "Required. Distribution of this repository."
        },
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg`.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. URI for this repository."
        }
      },
      "id": "OSPolicyResourceRepositoryResourceAptRepository",
      "description": "Represents a single apt package repository. These will be added to a repo file that will be managed at `/etc/apt/sources.list.d/google_osconfig.list`."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "OSPolicyResourcePackageResourceRPM": {
      "type": "object",
      "properties": {
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `rpm --upgrade --replacepkgs package.rpm` - install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`",
          "type": "boolean"
        },
        "source": {
          "description": "Required. An rpm package.",
          "$ref": "OSPolicyResourceFile"
        }
      },
      "id": "OSPolicyResourcePackageResourceRPM",
      "description": "An RPM package file. RPM packages only support INSTALLED state."
    },
    "GoogleCloudOsconfigV2_OrchestrationScope_Selector": {
      "id": "GoogleCloudOsconfigV2_OrchestrationScope_Selector",
      "description": "Selector for the resources in scope of orchestration.",
      "properties": {
        "resourceHierarchySelector": {
          "description": "Selector for selecting resource hierarchy.",
          "$ref": "GoogleCloudOsconfigV2_OrchestrationScope_ResourceHierarchySelector"
        },
        "locationSelector": {
          "description": "Selector for selecting locations.",
          "$ref": "GoogleCloudOsconfigV2_OrchestrationScope_LocationSelector"
        }
      },
      "type": "object"
    },
    "OSPolicyAssignmentInstanceFilter": {
      "id": "OSPolicyAssignmentInstanceFilter",
      "description": "Filters to select target VMs for an assignment. If more than one filter criteria is specified below, a VM will be selected if and only if it satisfies all of them.",
      "properties": {
        "inventories": {
          "type": "array",
          "description": "List of inventories to select VMs. A VM is selected if its inventory data matches at least one of the following inventories.",
          "items": {
            "$ref": "OSPolicyAssignmentInstanceFilterInventory"
          }
        },
        "inclusionLabels": {
          "type": "array",
          "description": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM.",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          }
        },
        "all": {
          "description": "Target all VMs in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "exclusionLabels": {
          "type": "array",
          "description": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM.",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          }
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResourceAPT": {
      "id": "OSPolicyResourcePackageResourceAPT",
      "description": "A package managed by APT. - install: `apt-get update && apt-get -y install [name]` - remove: `apt-get -y remove [name]`",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      }
    },
    "GoogleCloudOsconfigV2_OrchestrationScope_LocationSelector": {
      "type": "object",
      "properties": {
        "includedLocations": {
          "description": "Optional. Names of the locations in scope. Format: `us-central1-a`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudOsconfigV2_OrchestrationScope_LocationSelector",
      "description": "Selector containing locations in scope."
    },
    "GoogleCloudOsconfigV2_PolicyOrchestrator_OrchestrationState": {
      "type": "object",
      "properties": {
        "currentIterationState": {
          "readOnly": true,
          "$ref": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState",
          "description": "Output only. Current Wave iteration state."
        },
        "previousIterationState": {
          "description": "Output only. Previous Wave iteration state.",
          "readOnly": true,
          "$ref": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState"
        }
      },
      "id": "GoogleCloudOsconfigV2_PolicyOrchestrator_OrchestrationState",
      "description": "Describes the state of the orchestration process."
    },
    "GoogleCloudOsconfigV2__PolicyOrchestrator": {
      "type": "object",
      "properties": {
        "orchestratedResource": {
          "description": "Required. Resource to be orchestrated by the policy orchestrator.",
          "$ref": "GoogleCloudOsconfigV2__OrchestratedResource"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Set to true, if there are ongoing changes being applied by the orchestrator."
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Optional. State of the orchestrator. Can be updated to change orchestrator behaviour. Allowed values: - `ACTIVE` - orchestrator is actively looking for actions to be taken. - `STOPPED` - orchestrator won't make any changes. Note: There might be more states added in the future. We use string here instead of an enum, to avoid the need of propagating new states to all the client code."
        },
        "createTime": {
          "description": "Output only. Timestamp when the policy orchestrator resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "orchestrationScope": {
          "description": "Optional. Defines scope for the orchestration, in context of the enclosing PolicyOrchestrator resource. Scope is expanded into a list of pairs, in which the rollout action will take place. Expansion starts with a Folder resource parenting the PolicyOrchestrator resource: - All the descendant projects are listed. - List of project is cross joined with a list of all available zones. - Resulting list of pairs is filtered according to the selectors.",
          "$ref": "GoogleCloudOsconfigV2__OrchestrationScope"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the policy orchestrator resource was last modified."
        },
        "orchestrationState": {
          "description": "Output only. State of the orchestration.",
          "readOnly": true,
          "$ref": "GoogleCloudOsconfigV2_PolicyOrchestrator_OrchestrationState"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "name": {
          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Freeform text describing the purpose of the resource."
        },
        "action": {
          "type": "string",
          "description": "Required. Action to be done by the orchestrator in `projects/{project_id}/zones/{zone_id}` locations defined by the `orchestration_scope`. Allowed values: - `UPSERT` - Orchestrator will create or update target resources. - `DELETE` - Orchestrator will delete target resources, if they exist"
        }
      },
      "id": "GoogleCloudOsconfigV2__PolicyOrchestrator",
      "description": "A policy orchestrator manages project-level and zone-level policy resources, such as OS policy assignments. It provides methods to create, update, and delete these resources across projects and locations at scale. The policy orchestrator operates as a continuous loop. In each iteration, the orchestrator identifies the set of resources to be modified and progressively applies changes. If the set of resources changes over time (for example, if you add new projects), subsequent iterations address those changes. The orchestrator can either upsert or delete policy resources. For more details, see the `action` and `orchestrated_resource` fields. The policy orchestrator does not manage the lifecycle of the resources it creates. Each iteration is independent and, besides Cloud Logging, the orchestrator retains only a minimal history of past actions. Deleting the orchestrator does not affect previously created resources; these resources remain in their current state. Similarly, removing projects from the orchestrator's scope does not affect existing resources."
    },
    "OSPolicyResource": {
      "id": "OSPolicyResource",
      "description": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state.",
      "properties": {
        "exec": {
          "description": "Exec resource",
          "$ref": "OSPolicyResourceExecResource"
        },
        "pkg": {
          "description": "Package resource",
          "$ref": "OSPolicyResourcePackageResource"
        },
        "id": {
          "type": "string",
          "description": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy."
        },
        "repository": {
          "description": "Package repository resource",
          "$ref": "OSPolicyResourceRepositoryResource"
        },
        "file": {
          "description": "File resource",
          "$ref": "OSPolicyResourceFileResource"
        }
      },
      "type": "object"
    },
    "StatusProto": {
      "id": "StatusProto",
      "description": "Wire-format for a Status object",
      "properties": {
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "type": "integer",
          "format": "int32"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
        },
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        },
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState": {
      "id": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState",
      "description": "Describes the state of a single iteration of the orchestrator.",
      "type": "object",
      "properties": {
        "performedActions": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Overall number of actions done by the orchestrator so far."
        },
        "finishTime": {
          "description": "Output only. Finish time of the wave iteration.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "iterationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the iteration."
        },
        "failedActions": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of orchestration actions which failed so far. For more details, query the Cloud Logs."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error thrown in the wave iteration."
        },
        "state": {
          "description": "Output only. State of the iteration.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Iteration is in progress.",
            "Iteration completed, with all actions being successful.",
            "Iteration completed, with failures.",
            "Iteration was explicitly cancelled.",
            "Impossible to determine current state of the iteration."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "COMPLETED",
            "FAILED",
            "CANCELLED",
            "UNKNOWN"
          ]
        },
        "progress": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. An estimated percentage of the progress. Number between 0 and 100."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Start time of the wave iteration."
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "FixedOrPercent": {
      "id": "FixedOrPercent",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "properties": {
        "fixed": {
          "description": "Specifies a fixed value.",
          "type": "integer",
          "format": "int32"
        },
        "percent": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value."
        }
      },
      "type": "object"
    },
    "OSPolicyAssignmentOperationMetadata": {
      "properties": {
        "apiMethod": {
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "description": "The OS policy assignment API method.",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string"
        },
        "rolloutUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rollout update time"
        },
        "rolloutStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rollout start time"
        },
        "osPolicyAssignment": {
          "type": "string",
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
        },
        "rolloutState": {
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "description": "State of the rollout",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "OSPolicyAssignmentOperationMetadata",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations."
    },
    "OSPolicyAssignmentRollout": {
      "id": "OSPolicyAssignmentRollout",
      "description": "Message to configure the rollout at the zonal level for the OS policy assignment.",
      "properties": {
        "disruptionBudget": {
          "description": "Required. The maximum number (or percentage) of VMs per zone to disrupt at any given moment.",
          "$ref": "FixedOrPercent"
        },
        "minWaitDuration": {
          "description": "Required. This determines the minimum duration of time to wait after the configuration changes are applied through the current rollout. A VM continues to count towards the `disruption_budget` at least until this duration of time has passed after configuration changes are applied.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "OSPolicyResourceExecResource": {
      "id": "OSPolicyResourceExecResource",
      "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
      "type": "object",
      "properties": {
        "validate": {
          "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate.",
          "$ref": "OSPolicyResourceExecResourceExec"
        },
        "enforce": {
          "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce.",
          "$ref": "OSPolicyResourceExecResourceExec"
        }
      }
    },
    "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "policyOrchestrators": {
          "type": "array",
          "description": "The policy orchestrators for the specified parent resource.",
          "items": {
            "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse",
      "description": "Response for the list policy orchestrator resources."
    },
    "OSPolicyResourceFileRemote": {
      "id": "OSPolicyResourceFileRemote",
      "description": "Specifies a file available via some URI.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI from which to fetch the object. It should contain both the protocol and path following the format `{protocol}://{location}`."
        },
        "sha256Checksum": {
          "type": "string",
          "description": "SHA256 checksum of the remote file."
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2__OrchestratedResource": {
      "id": "GoogleCloudOsconfigV2__OrchestratedResource",
      "description": "Represents a resource that is being orchestrated by the policy orchestrator.",
      "properties": {
        "osPolicyAssignmentV1Payload": {
          "description": "Optional. OSPolicyAssignment resource to be created, updated or deleted. Name field is ignored and replace with a generated value. With this field set, orchestrator will perform actions on `project/{project}/locations/{zone}/osPolicyAssignments/{resource_id}` resources, where `project` and `zone` pairs come from the expanded scope, and `resource_id` comes from the `resource_id` field of orchestrator resource.",
          "$ref": "OSPolicyAssignment"
        },
        "id": {
          "description": "Optional. ID of the resource to be used while generating set of affected resources. For UPSERT action the value is auto-generated during PolicyOrchestrator creation when not set. When the value is set it should following next restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project. For DELETE action, ID must be specified explicitly during PolicyOrchestrator creation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2__OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      },
      "id": "GoogleCloudOsconfigV2__OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleCloudOsconfigV2beta__OperationMetadata": {
      "type": "object",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        }
      },
      "id": "GoogleCloudOsconfigV2beta__OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleCloudOsconfigV2_OrchestrationScope_ResourceHierarchySelector": {
      "id": "GoogleCloudOsconfigV2_OrchestrationScope_ResourceHierarchySelector",
      "description": "Selector containing Cloud Resource Manager resource hierarchy nodes.",
      "properties": {
        "includedProjects": {
          "description": "Optional. Names of the projects in scope. Format: `projects/{project_number}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includedFolders": {
          "type": "array",
          "description": "Optional. Names of the folders in scope. Format: `folders/{folder_id}`",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "OSPolicyResourceGroup": {
      "properties": {
        "inventoryFilters": {
          "description": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally.",
          "items": {
            "$ref": "OSPolicyInventoryFilter"
          },
          "type": "array"
        },
        "resources": {
          "description": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here.",
          "items": {
            "$ref": "OSPolicyResource"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "OSPolicyResourceGroup",
      "description": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group."
    },
    "OSPolicyResourcePackageResourceDeb": {
      "id": "OSPolicyResourcePackageResourceDeb",
      "description": "A deb package file. dpkg packages only support INSTALLED state.",
      "properties": {
        "source": {
          "description": "Required. A deb package.",
          "$ref": "OSPolicyResourceFile"
        },
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `dpkg -i package` - install when true: `apt-get update && apt-get -y install package.deb`",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2__OrchestrationScope": {
      "properties": {
        "selectors": {
          "type": "array",
          "description": "Optional. Selectors of the orchestration scope. There is a logical AND between each selector defined. When there is no explicit `ResourceHierarchySelector` selector specified, the scope is by default bounded to the parent of the policy orchestrator resource.",
          "items": {
            "$ref": "GoogleCloudOsconfigV2_OrchestrationScope_Selector"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudOsconfigV2__OrchestrationScope",
      "description": "Defines a set of selectors which drive which resources are in scope of policy orchestration."
    },
    "OSPolicyAssignment": {
      "id": "OSPolicyAssignment",
      "description": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information about the OS policy resource definitions and examples, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies).",
      "type": "object",
      "properties": {
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that this revision deletes the OS policy assignment."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING"
        },
        "rollout": {
          "description": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted.",
          "$ref": "OSPolicyAssignmentRollout"
        },
        "uid": {
          "description": "Output only. Server generated unique id for the OS policy assignment resource.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "osPolicies": {
          "description": "Required. List of OS policies to be applied to the VMs.",
          "items": {
            "$ref": "OSPolicy"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment."
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment"
        },
        "revisionCreateTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutState": {
          "description": "Output only. OS policy assignment rollout state",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        },
        "instanceFilter": {
          "description": "Required. Filter to select VMs.",
          "$ref": "OSPolicyAssignmentInstanceFilter"
        },
        "baseline": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field."
        },
        "description": {
          "type": "string",
          "description": "OS policy assignment description. Length of the description is limited to 1024 characters."
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "OSPolicyResourceRepositoryResourceZypperRepository": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "gpgKeys": {
          "type": "array",
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for GuestPolicy conflicts.",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        }
      },
      "id": "OSPolicyResourceRepositoryResourceZypperRepository",
      "description": "Represents a single zypper package repository. These are added to a repo file that is managed at `/etc/zypp/repos.d/google_osconfig.repo`."
    },
    "OSPolicyResourceRepositoryResource": {
      "properties": {
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceYumRepository"
        },
        "apt": {
          "description": "An Apt Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceAptRepository"
        },
        "goo": {
          "description": "A Goo Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceGooRepository"
        },
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceZypperRepository"
        }
      },
      "type": "object",
      "id": "OSPolicyResourceRepositoryResource",
      "description": "A resource that manages a package repository."
    },
    "OSPolicyInventoryFilter": {
      "properties": {
        "osShortName": {
          "type": "string",
          "description": "Required. The OS short name"
        },
        "osVersion": {
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OSPolicyInventoryFilter",
      "description": "Filtering criteria to select VMs based on inventory details."
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "OSPolicy": {
      "id": "OSPolicy",
      "description": "An OS policy defines the desired state configuration for a VM.",
      "type": "object",
      "properties": {
        "resourceGroups": {
          "description": "Required. List of resource groups for the policy. For a particular VM, resource groups are evaluated in the order specified and the first resource group that is applicable is selected and the rest are ignored. If none of the resource groups are applicable for a VM, the VM is considered to be non-compliant w.r.t this policy. This behavior can be toggled by the flag `allow_no_resource_group_match`",
          "items": {
            "$ref": "OSPolicyResourceGroup"
          },
          "type": "array"
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Invalid mode",
            "This mode checks if the configuration resources in the policy are in their desired state. No actions are performed if they are not in the desired state. This mode is used for reporting purposes.",
            "This mode checks if the configuration resources in the policy are in their desired state, and if not, enforces the desired state."
          ],
          "description": "Required. Policy mode",
          "enum": [
            "MODE_UNSPECIFIED",
            "VALIDATION",
            "ENFORCEMENT"
          ]
        },
        "id": {
          "description": "Required. The id of the OS policy with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the assignment.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Policy description. Length of the description is limited to 1024 characters."
        },
        "allowNoResourceGroupMatch": {
          "description": "This flag determines the OS policy compliance status when none of the resource groups within the policy are applicable for a VM. Set this value to `true` if the policy needs to be reported as compliant even if the policy has nothing to validate or enforce.",
          "type": "boolean"
        }
      }
    }
  },
  "title": "OS Config API",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "id": "osconfig.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "delete": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "osconfig.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "path": "v2/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "osconfig.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "osconfig.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.get",
                      "description": "Retrieves an existing policy orchestrator, parented by a project.",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name.",
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "osconfig.projects.locations.global.policyOrchestrators.patch",
                      "description": "Updates an existing policy orchestrator, parented by a project.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "required": true,
                          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`"
                        },
                        "updateMask": {
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "osconfig.projects.locations.global.policyOrchestrators.create",
                      "description": "Creates a new policy orchestrator under the given project resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/policyOrchestrators",
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/global$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`"
                        },
                        "policyOrchestratorId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent."
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.list",
                      "description": "Lists the policy orchestrators under the given parent project resource.",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/policyOrchestrators",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "required": true,
                          "description": "Required. The parent resource name."
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators"
                    },
                    "delete": {
                      "id": "osconfig.projects.locations.global.policyOrchestrators.delete",
                      "description": "Deletes an existing policy orchestrator resource, parented by a project.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource to be deleted.",
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "etag": {
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "osconfig.organizations.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "id": "osconfig.organizations.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "path": "v2/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "osconfig.organizations.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "osconfig.organizations.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/global$",
                          "required": true
                        },
                        "policyOrchestratorId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent."
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators",
                      "httpMethod": "POST",
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.create",
                      "description": "Creates a new policy orchestrator under the given organizations resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/policyOrchestrators",
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      }
                    },
                    "list": {
                      "path": "v2/{+parent}/policyOrchestrators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      },
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.list",
                      "description": "Lists the policy orchestrators under the given parent organization resource.",
                      "httpMethod": "GET",
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/global$",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the resource to be deleted."
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "httpMethod": "DELETE",
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.delete",
                      "description": "Deletes an existing policy orchestrator resource, parented by an organization.",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.get",
                      "description": "Retrieves an existing policy orchestrator, parented by an organization.",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "required": true,
                          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`"
                        },
                        "updateMask": {
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.patch",
                      "description": "Updates an existing policy orchestrator, parented by an organization.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "path": "v2/{+name}",
                      "request": {
[...]
