{
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "baseUrl": "https://osconfig.googleapis.com/",
  "rootUrl": "https://osconfig.googleapis.com/",
  "name": "osconfig",
  "discoveryVersion": "v1",
  "title": "OS Config API",
  "ownerName": "Google",
  "servicePath": "",
  "endpoints": [
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-east7.rep.googleapis.com/"
    }
  ],
  "revision": "20260507",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "patchDeployments": {
          "methods": {
            "resume": {
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Change state of patch deployment back to \"ACTIVE\". Patch deployment in active state continues to generate patch jobs.",
              "httpMethod": "POST",
              "response": {
                "$ref": "PatchDeployment"
              },
              "id": "osconfig.projects.patchDeployments.resume",
              "path": "v1beta/{+name}:resume",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:resume",
              "request": {
                "$ref": "ResumePatchDeploymentRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "id": "osconfig.projects.patchDeployments.delete",
              "path": "v1beta/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Delete an OS Config patch deployment."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments",
              "id": "osconfig.projects.patchDeployments.list",
              "path": "v1beta/{+parent}/patchDeployments",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a page of OS Config patch deployments."
            },
            "pause": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Change state of patch deployment to \"PAUSED\". Patch deployment in paused state doesn't generate patch jobs.",
              "id": "osconfig.projects.patchDeployments.pause",
              "path": "v1beta/{+name}:pause",
              "httpMethod": "POST",
              "response": {
                "$ref": "PatchDeployment"
              },
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:pause",
              "request": {
                "$ref": "PausePatchDeploymentRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "description": "Create an OS Config patch deployment.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`.",
                  "location": "path",
                  "type": "string"
                },
                "patchDeploymentId": {
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchDeployments.create",
              "path": "v1beta/{+parent}/patchDeployments",
              "httpMethod": "POST",
              "response": {
                "$ref": "PatchDeployment"
              },
              "request": {
                "$ref": "PatchDeployment"
              },
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Get an OS Config patch deployment.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchDeployments.get",
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "PatchDeployment"
              }
            },
            "patch": {
              "request": {
                "$ref": "PatchDeployment"
              },
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Update an OS Config patch deployment.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "description": "Optional. Field mask that controls which fields of the patch deployment should be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchDeployments.patch",
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "PatchDeployment"
              }
            }
          }
        },
        "patchJobs": {
          "methods": {
            "cancel": {
              "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "request": {
                "$ref": "CancelPatchJobRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "httpMethod": "POST",
              "response": {
                "$ref": "PatchJob"
              },
              "id": "osconfig.projects.patchJobs.cancel",
              "path": "v1beta/{+name}:cancel"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "PatchJob"
              },
              "id": "osconfig.projects.patchJobs.get",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}"
            },
            "execute": {
              "request": {
                "$ref": "ExecutePatchJobRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/patchJobs:execute",
              "parameterOrder": [
                "parent"
              ],
              "description": "Patch VM instances by creating and running a patch job.",
              "parameters": {
                "parent": {
                  "description": "Required. The project in which to run this patch in the form `projects/*`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchJobs.execute",
              "path": "v1beta/{+parent}/patchJobs:execute",
              "httpMethod": "POST",
              "response": {
                "$ref": "PatchJob"
              }
            },
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/patchJobs",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of instance status to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. In the form of `projects/*`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of patch jobs.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "id": "osconfig.projects.patchJobs.list",
              "path": "v1beta/{+parent}/patchJobs"
            }
          },
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "path": "v1beta/{+parent}/instanceDetails",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of instance details records to return. Default is 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get a list of instance details for a given patch job.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails"
                }
              }
            }
          }
        },
        "zones": {
          "resources": {
            "instances": {
              "methods": {
                "lookupEffectiveGuestPolicy": {
                  "id": "osconfig.projects.zones.instances.lookupEffectiveGuestPolicy",
                  "path": "v1beta/{+instance}:lookupEffectiveGuestPolicy",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "EffectiveGuestPolicy"
                  },
                  "parameters": {
                    "instance": {
                      "description": "Required. The VM instance whose policies are being looked up.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/zones/[^/]+/instances/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lookup the effective guest policy that applies to a VM instance. This lookup merges all policies that are assigned to the instance ancestry.",
                  "parameterOrder": [
                    "instance"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/zones/{zonesId}/instances/{instancesId}:lookupEffectiveGuestPolicy",
                  "request": {
                    "$ref": "LookupEffectiveGuestPolicyRequest"
                  }
                }
              }
            }
          }
        },
        "guestPolicies": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "description": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$"
                },
                "updateMask": {
                  "description": "Field mask that controls which fields of the guest policy should be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update an OS Config guest policy.",
              "id": "osconfig.projects.guestPolicies.patch",
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GuestPolicy"
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "request": {
                "$ref": "GuestPolicy"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Get an OS Config guest policy.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the guest policy using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.guestPolicies.get",
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GuestPolicy"
              }
            },
            "list": {
              "description": "Get a page of OS Config guest policies.",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of guest policies to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The resource name of the parent using one of the following forms: `projects/{project_number}`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to `ListGuestPolicies` that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListGuestPoliciesResponse"
              },
              "id": "osconfig.projects.guestPolicies.list",
              "path": "v1beta/{+parent}/guestPolicies",
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies",
              "request": {
                "$ref": "GuestPolicy"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GuestPolicy"
              },
              "id": "osconfig.projects.guestPolicies.create",
              "path": "v1beta/{+parent}/guestPolicies",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The resource name of the parent using one of the following forms: `projects/{project_number}`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "guestPolicyId": {
                  "description": "Required. The logical name of the guest policy in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Create an OS Config guest policy."
            },
            "delete": {
              "description": "Delete an OS Config guest policy.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the guest policy using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.guestPolicies.delete",
              "path": "v1beta/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "version": "v1beta",
  "canonicalName": "OS Config",
  "version_module": true,
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "AssignmentGroupLabel": {
      "description": "Represents a group of VM intances that can be identified as having all these labels, for example \"env=prod and app=web\".",
      "type": "object",
      "id": "AssignmentGroupLabel",
      "properties": {
        "labels": {
          "description": "Google Compute Engine instance labels that must be present for an instance to be included in this assignment group.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudOsconfigV2beta__OperationMetadata": {
      "id": "GoogleCloudOsconfigV2beta__OperationMetadata",
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ExecStepConfig": {
      "id": "ExecStepConfig",
      "properties": {
        "gcsObject": {
          "description": "A Google Cloud Storage object containing the executable.",
          "$ref": "GcsObject"
        },
        "interpreter": {
          "enumDescriptions": [
            "If the interpreter is not specified, the value defaults to `NONE`.",
            "Indicates that the file is run as follows on each operating system: + For Linux VMs, the file is ran as an executable and the interpreter might be parsed from the [shebang line](https://wikipedia.org/wiki/Shebang_(Unix)) of the file. + For Windows VM, this value is not supported.",
            "Indicates that the file is run with `/bin/sh` on Linux and `cmd` on Windows.",
            "Indicates that the file is run with PowerShell."
          ],
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ],
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script will be executed directly, which will likely only succeed for scripts with [shebang lines] (https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "type": "string"
        },
        "localPath": {
          "description": "An absolute path to the executable on the VM.",
          "type": "string"
        },
        "allowedSuccessCodes": {
          "description": "Defaults to [0]. A list of possible return values that the execution can return to indicate a success.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "description": "Common configurations for an ExecStep.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "PatchJobInstanceDetails": {
      "description": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details).",
      "type": "object",
      "id": "PatchJobInstanceDetails",
      "properties": {
        "instanceSystemId": {
          "description": "The unique identifier for the instance. This identifier is defined by the server.",
          "type": "string"
        },
        "failureReason": {
          "description": "If the patch fails, this field provides the reason.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure that the agent is installed, running, and able to communicate with the service.",
            "The instance was skipped during patching due to one of two reasons: 1. The instance runs Container-Optimized OS (COS), which cannot be patched. 2. The patch job's configuration prohibits patching on Managed Instance Groups (MIGs), and the instance is part of one."
          ],
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED",
            "SKIPPED"
          ],
          "description": "Current state of instance patch.",
          "type": "string"
        },
        "attemptCount": {
          "description": "The number of times the agent that the agent attempts to apply the patch.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "The instance name in the form `projects/*/zones/*/instances/*`",
          "type": "string"
        }
      }
    },
    "YumRepository": {
      "id": "YumRepository",
      "properties": {
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the Yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts.",
          "type": "string"
        }
      },
      "description": "Represents a single Yum package repository. This repository is added to a repo file that is stored at `/etc/yum.repos.d/google_osconfig.repo`.",
      "type": "object"
    },
    "WeeklySchedule": {
      "id": "WeeklySchedule",
      "properties": {
        "dayOfWeek": {
          "description": "Required. Day of the week.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "description": "Represents a weekly schedule.",
      "type": "object"
    },
    "SoftwareRecipe": {
      "id": "SoftwareRecipe",
      "properties": {
        "version": {
          "description": "The version of this software recipe. Version can be up to 4 period separated numbers (e.g. 12.34.56.78).",
          "type": "string"
        },
        "installSteps": {
          "description": "Actions to be taken for installing this recipe. On failure it stops executing steps and does not attempt another installation. Any steps taken (including partially completed steps) are not rolled back.",
          "type": "array",
          "items": {
            "$ref": "SoftwareRecipeStep"
          }
        },
        "updateSteps": {
          "items": {
            "$ref": "SoftwareRecipeStep"
          },
          "description": "Actions to be taken for updating this recipe. On failure it stops executing steps and does not attempt another update for this recipe. Any steps taken (including partially completed steps) are not rolled back.",
          "type": "array"
        },
        "name": {
          "description": "Required. Unique identifier for the recipe. Only one recipe with a given name is installed on an instance. Names are also used to identify resources which helps to determine whether guest policies have conflicts. This means that requests to create multiple recipes with the same name and version are rejected since they could potentially have conflicting assignments.",
          "type": "string"
        },
        "artifacts": {
          "items": {
            "$ref": "SoftwareRecipeArtifact"
          },
          "description": "Resources available to be used in the steps in the recipe.",
          "type": "array"
        },
        "desiredState": {
          "description": "Default is INSTALLED. The desired state the agent should maintain for this recipe. INSTALLED: The software recipe is installed on the instance but won't be updated to new versions. UPDATED: The software recipe is installed on the instance. The recipe is updated to a higher version, if a higher version of the recipe is assigned to this instance. REMOVE: Remove is unsupported for software recipes and attempts to create or update a recipe to the REMOVE state is rejected.",
          "type": "string",
          "enumDescriptions": [
            "The default is to ensure the package is installed.",
            "The agent ensures that the package is installed.",
            "The agent ensures that the package is installed and periodically checks for and install any updates.",
            "The agent ensures that the package is not installed and uninstall it if detected."
          ],
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "UPDATED",
            "REMOVED"
          ]
        }
      },
      "description": "A software recipe is a set of instructions for installing and configuring a piece of software. It consists of a set of artifacts that are downloaded, and a set of steps that install, configure, and/or update the software. Recipes support installing and updating software from artifacts in the following formats: Zip archive, Tar archive, Windows MSI, Debian package, and RPM package. Additionally, recipes support executing a script (either defined in a file or directly in this api) in bash, sh, cmd, and powershell. Updating a software recipe If a recipe is assigned to an instance and there is a recipe with the same name but a lower version already installed and the assigned state of the recipe is `UPDATED`, then the recipe is updated to the new version. Script Working Directories Each script or execution step is run in its own temporary directory which is deleted after completing the step.",
      "type": "object"
    },
    "EffectiveGuestPolicySourcedPackageRepository": {
      "description": "A guest policy package repository including its source.",
      "type": "object",
      "id": "EffectiveGuestPolicySourcedPackageRepository",
      "properties": {
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        },
        "packageRepository": {
          "description": "A software package repository to configure on the VM instance.",
          "$ref": "PackageRepository"
        }
      }
    },
    "SoftwareRecipeStepInstallDpkg": {
      "id": "SoftwareRecipeStepInstallDpkg",
      "properties": {
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      },
      "description": "Installs a deb via dpkg.",
      "type": "object"
    },
    "LookupEffectiveGuestPolicyRequest": {
      "id": "LookupEffectiveGuestPolicyRequest",
      "properties": {
        "osShortName": {
          "description": "Short name of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance.",
          "type": "string"
        },
        "osArchitecture": {
          "description": "Architecture of OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance.",
          "type": "string"
        },
        "osVersion": {
          "description": "Version of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that VM instance.",
          "type": "string"
        }
      },
      "description": "A request message for getting the effective guest policy assigned to the instance.",
      "type": "object"
    },
    "OneTimeSchedule": {
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
      "type": "object",
      "id": "OneTimeSchedule",
      "properties": {
        "executeTime": {
          "description": "Required. The desired patch job execution time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Assignment": {
      "description": "An assignment represents the group or groups of VM instances that the policy applies to. If an assignment is empty, it applies to all VM instances. Otherwise, the targeted VM instances must meet all the criteria specified. So if both labels and zones are specified, the policy applies to VM instances with those labels and in those zones.",
      "type": "object",
      "id": "Assignment",
      "properties": {
        "groupLabels": {
          "items": {
            "$ref": "AssignmentGroupLabel"
          },
          "description": "Targets instances matching at least one of these label sets. This allows an assignment to target disparate groups, for example \"env=prod or env=staging\".",
          "type": "array"
        },
        "instances": {
          "description": "Targets any of the instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`. Instance targeting is uncommon and is supported to facilitate the management of changes by the instance or to target specific VM instances for development and testing. Only supported for project-level policies and must reference instances within this project.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instanceNamePrefixes": {
          "description": "Targets VM instances whose name starts with one of these prefixes. Like labels, this is another way to group VM instances when targeting configs, for example prefix=\"prod-\". Only supported for project-level policies.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "zones": {
          "description": "Targets instances in any of these zones. Leave empty to target instances in any zone. Zonal targeting is uncommon and is supported to facilitate the management of changes by zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "osTypes": {
          "description": "Targets VM instances matching at least one of the following OS types. VM instances must match all supplied criteria for a given OsType to be included.",
          "type": "array",
          "items": {
            "$ref": "AssignmentOsType"
          }
        }
      }
    },
    "SoftwareRecipeStepInstallMsi": {
      "id": "SoftwareRecipeStepInstallMsi",
      "properties": {
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        },
        "flags": {
          "items": {
            "type": "string"
          },
          "description": "The flags to use when installing the MSI defaults to [\"/i\"] (i.e. the install flag).",
          "type": "array"
        },
        "allowedExitCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]",
          "type": "array"
        }
      },
      "description": "Installs an MSI file.",
      "type": "object"
    },
    "AptRepository": {
      "description": "Represents a single Apt package repository. This repository is added to a repo file that is stored at `/etc/apt/sources.list.d/google_osconfig.list`.",
      "type": "object",
      "id": "AptRepository",
      "properties": {
        "distribution": {
          "description": "Required. Distribution of this repository.",
          "type": "string"
        },
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg` containing all the keys in any applied guest policy.",
          "type": "string"
        },
        "components": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of components for this repository. Must contain at least one item.",
          "type": "array"
        },
        "archiveType": {
          "description": "Type of archive files in this repository. The default behavior is DEB.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "DEB indicates that the archive contains binary files.",
            "DEB_SRC indicates that the archive contains source files."
          ],
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ]
        },
        "uri": {
          "description": "Required. URI for this repository.",
          "type": "string"
        }
      }
    },
    "ListPatchDeploymentsResponse": {
      "description": "A response message for listing patch deployments.",
      "type": "object",
      "id": "ListPatchDeploymentsResponse",
      "properties": {
        "patchDeployments": {
          "description": "The list of patch deployments.",
          "type": "array",
          "items": {
            "$ref": "PatchDeployment"
          }
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of patch deployments.",
          "type": "string"
        }
      }
    },
    "EffectiveGuestPolicySourcedSoftwareRecipe": {
      "id": "EffectiveGuestPolicySourcedSoftwareRecipe",
      "properties": {
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        },
        "softwareRecipe": {
          "description": "A software recipe to configure on the VM instance.",
          "$ref": "SoftwareRecipe"
        }
      },
      "description": "A guest policy recipe including its source.",
      "type": "object"
    },
    "MessageSet": {
      "id": "MessageSet",
      "properties": {},
      "deprecated": true,
      "description": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "type": "object"
    },
    "PausePatchDeploymentRequest": {
      "description": "A request message for pausing a patch deployment.",
      "type": "object",
      "id": "PausePatchDeploymentRequest",
      "properties": {}
    },
    "PackageRepository": {
      "id": "PackageRepository",
      "properties": {
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "ZypperRepository"
        },
        "goo": {
          "description": "A Goo Repository.",
          "$ref": "GooRepository"
        },
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "YumRepository"
        },
        "apt": {
          "description": "An Apt Repository.",
          "$ref": "AptRepository"
        }
      },
      "description": "A package repository.",
      "type": "object"
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "GoogleCloudOsconfigV2__OperationMetadata": {
      "id": "GoogleCloudOsconfigV2__OperationMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "WindowsUpdateSettings": {
      "description": "Windows patching is performed using the Windows Update Agent.",
      "type": "object",
      "id": "WindowsUpdateSettings",
      "properties": {
        "classifications": {
          "items": {
            "enumDescriptions": [
              "Invalid. If classifications are included, they must be specified.",
              "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
              "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
              "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
              "\"Software that controls the input and output of a device.\" [1]",
              "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
              "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
              "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
              "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
              "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
            ],
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ],
            "type": "string"
          },
          "description": "Only apply updates of these windows update classifications. If empty, all updates are applied.",
          "type": "array"
        },
        "excludes": {
          "description": "List of KBs to exclude from update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exclusivePatches": {
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations.",
          "type": "array"
        }
      }
    },
    "ExecutePatchJobRequest": {
      "description": "A request message to initiate patching across Compute Engine instances.",
      "type": "object",
      "id": "ExecutePatchJobRequest",
      "properties": {
        "instanceFilter": {
          "description": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels.",
          "$ref": "PatchInstanceFilter"
        },
        "displayName": {
          "description": "Display name for this patch job. This does not have to be unique.",
          "type": "string"
        },
        "patchConfig": {
          "description": "Patch configuration being applied. If omitted, instances are patched using the default configurations.",
          "$ref": "PatchConfig"
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string",
          "format": "google-duration"
        },
        "dryRun": {
          "description": "If this patch is a dry-run only, instances are contacted but will do nothing.",
          "type": "boolean"
        },
        "rollout": {
          "description": "Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        }
      }
    },
    "EffectiveGuestPolicy": {
      "description": "The effective guest policy that applies to a VM instance.",
      "type": "object",
      "id": "EffectiveGuestPolicy",
      "properties": {
        "softwareRecipes": {
          "items": {
            "$ref": "EffectiveGuestPolicySourcedSoftwareRecipe"
          },
          "description": "List of recipes assigned to the VM instance.",
          "type": "array"
        },
        "packages": {
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackage"
          },
          "description": "List of package configurations assigned to the VM instance.",
          "type": "array"
        },
        "packageRepositories": {
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackageRepository"
          },
          "description": "List of package repository configurations assigned to the VM instance.",
          "type": "array"
        }
      }
    },
    "PatchJob": {
      "id": "PatchJob",
      "properties": {
        "instanceFilter": {
          "description": "Instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string",
          "format": "google-duration"
        },
        "errorMessage": {
          "description": "If this patch job failed, this message provides information about the failure.",
          "type": "string"
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Time this patch job was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "percentComplete": {
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete.",
          "type": "number",
          "format": "double"
        },
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        },
        "instanceDetailsSummary": {
          "description": "Summary of instance details.",
          "$ref": "PatchJobInstanceDetailsSummary"
        },
        "updateTime": {
          "description": "Last time this patch job was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "rollout": {
          "description": "Rollout strategy being applied.",
          "$ref": "PatchRollout"
        },
        "state": {
          "description": "The current state of the PatchJob.",
          "type": "string",
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "The patch job completed without errors, but some instances were inactive and therefore not patched.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_INACTIVE_VMS",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ]
        },
        "patchDeployment": {
          "description": "Output only. Name of the patch deployment that created this patch job.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`",
          "type": "string"
        },
        "patchConfig": {
          "description": "Patch configuration being applied.",
          "$ref": "PatchConfig"
        },
        "dryRun": {
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance.",
          "type": "boolean"
        }
      },
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job).",
      "type": "object"
    },
    "CancelPatchJobRequest": {
      "description": "Message for canceling a patch job.",
      "type": "object",
      "id": "CancelPatchJobRequest",
      "properties": {}
    },
    "SoftwareRecipeStepCopyFile": {
      "id": "SoftwareRecipeStepCopyFile",
      "properties": {
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        },
        "permissions": {
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4",
          "type": "string"
        },
        "destination": {
          "description": "Required. The absolute path on the instance to put the file.",
          "type": "string"
        },
        "overwrite": {
          "description": "Whether to allow this step to overwrite existing files. If this is false and the file already exists the file is not overwritten and the step is considered a success. Defaults to false.",
          "type": "boolean"
        }
      },
      "description": "Copies the artifact to the specified path on the instance.",
      "type": "object"
    },
    "SoftwareRecipeStepExtractArchive": {
      "id": "SoftwareRecipeStepExtractArchive",
      "properties": {
        "destination": {
          "description": "Directory to extract archive to. Defaults to `/` on Linux or `C:\\` on Windows.",
          "type": "string"
        },
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the archive to extract.",
          "type": "string",
          "enumDescriptions": [
            "Indicates that the archive type isn't specified.",
            "Indicates that the archive is a tar archive with no encryption.",
            "Indicates that the archive is a tar archive with gzip encryption.",
            "Indicates that the archive is a tar archive with bzip encryption.",
            "Indicates that the archive is a tar archive with lzma encryption.",
            "Indicates that the archive is a tar archive with xz encryption.",
            "Indicates that the archive is a zip archive."
          ],
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "TAR",
            "TAR_GZIP",
            "TAR_BZIP",
            "TAR_LZMA",
            "TAR_XZ",
            "ZIP"
          ]
        }
      },
      "description": "Extracts an archive of the type specified in the specified directory.",
      "type": "object"
    },
    "ListPatchJobInstanceDetailsResponse": {
      "description": "A response message for listing the instances details for a patch job.",
      "type": "object",
      "id": "ListPatchJobInstanceDetailsResponse",
      "properties": {
        "patchJobInstanceDetails": {
          "items": {
            "$ref": "PatchJobInstanceDetails"
          },
          "description": "A list of instance status.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        }
      }
    },
    "ListGuestPoliciesResponse": {
      "description": "A response message for listing guest policies.",
      "type": "object",
      "id": "ListGuestPoliciesResponse",
      "properties": {
        "guestPolicies": {
          "description": "The list of GuestPolicies.",
          "type": "array",
          "items": {
            "$ref": "GuestPolicy"
          }
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of guest policies.",
          "type": "string"
        }
      }
    },
    "ResumePatchDeploymentRequest": {
      "id": "ResumePatchDeploymentRequest",
      "properties": {},
      "description": "A request message for resuming a patch deployment.",
      "type": "object"
    },
    "SoftwareRecipeStepInstallRpm": {
      "description": "Installs an rpm file via the rpm utility.",
      "type": "object",
      "id": "SoftwareRecipeStepInstallRpm",
      "properties": {
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      }
    },
    "ZypperRepository": {
      "description": "Represents a single Zypper package repository. This repository is added to a repo file that is stored at `/etc/zypp/repos.d/google_osconfig.repo`.",
      "type": "object",
      "id": "ZypperRepository",
      "properties": {
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        },
        "gpgKeys": {
          "items": {
            "type": "string"
          },
          "description": "URIs of GPG keys.",
          "type": "array"
        }
      }
    },
    "GooSettings": {
      "id": "GooSettings",
      "properties": {},
      "description": "Googet patching is performed by running `googet update`.",
      "type": "object"
    },
    "SoftwareRecipeArtifactRemote": {
      "description": "Specifies an artifact available via some URI.",
      "type": "object",
      "id": "SoftwareRecipeArtifactRemote",
      "properties": {
        "uri": {
          "description": "URI from which to fetch the object. It should contain both the protocol and path following the format {protocol}://{location}.",
          "type": "string"
        },
        "checksum": {
          "description": "Must be provided if `allow_insecure` is `false`. SHA256 checksum in hex format, to compare to the checksum of the artifact. If the checksum is not empty and it doesn't match the artifact then the recipe installation fails before running any of the steps.",
          "type": "string"
        }
      }
    },
    "PatchJobInstanceDetailsSummary": {
      "description": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance.",
      "type": "object",
      "id": "PatchJobInstanceDetailsSummary",
      "properties": {
        "notifiedInstanceCount": {
          "description": "Number of instances notified about patch job.",
          "type": "string",
          "format": "int64"
        },
        "downloadingPatchesInstanceCount": {
          "description": "Number of instances that are downloading patches.",
          "type": "string",
          "format": "int64"
        },
        "prePatchStepInstanceCount": {
          "description": "Number of instances that are running the pre-patch step.",
          "type": "string",
          "format": "int64"
        },
        "startedInstanceCount": {
          "description": "Number of instances that have started.",
          "type": "string",
          "format": "int64"
        },
        "timedOutInstanceCount": {
          "description": "Number of instances that exceeded the time out while applying the patch.",
          "type": "string",
          "format": "int64"
        },
        "applyingPatchesInstanceCount": {
          "description": "Number of instances that are applying patches.",
          "type": "string",
          "format": "int64"
        },
        "skippedInstanceCount": {
          "description": "Number of instances that were skipped during patching.",
          "type": "string",
          "format": "int64"
        },
        "rebootingInstanceCount": {
          "description": "Number of instances rebooting.",
          "type": "string",
          "format": "int64"
        },
        "ackedInstanceCount": {
          "description": "Number of instances that have acked and will start shortly.",
          "type": "string",
          "format": "int64"
        },
        "pendingInstanceCount": {
          "description": "Number of instances pending patch job.",
          "type": "string",
          "format": "int64"
        },
        "inactiveInstanceCount": {
          "description": "Number of instances that are inactive.",
          "type": "string",
          "format": "int64"
        },
        "noAgentDetectedInstanceCount": {
          "description": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service.",
          "type": "string",
          "format": "int64"
        },
        "failedInstanceCount": {
          "description": "Number of instances that failed.",
          "type": "string",
          "format": "int64"
        },
        "postPatchStepInstanceCount": {
          "description": "Number of instances that are running the post-patch step.",
          "type": "string",
          "format": "int64"
        },
        "succeededInstanceCount": {
          "description": "Number of instances that have completed successfully.",
          "type": "string",
          "format": "int64"
        },
        "succeededRebootRequiredInstanceCount": {
          "description": "Number of instances that require reboot.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SoftwareRecipeStep": {
      "description": "An action that can be taken as part of installing or updating a recipe.",
      "type": "object",
      "id": "SoftwareRecipeStep",
      "properties": {
        "dpkgInstallation": {
          "description": "Installs a deb file via dpkg.",
          "$ref": "SoftwareRecipeStepInstallDpkg"
        },
        "scriptRun": {
          "description": "Runs commands in a shell.",
          "$ref": "SoftwareRecipeStepRunScript"
        },
        "rpmInstallation": {
          "description": "Installs an rpm file via the rpm utility.",
          "$ref": "SoftwareRecipeStepInstallRpm"
        },
        "msiInstallation": {
          "description": "Installs an MSI file.",
          "$ref": "SoftwareRecipeStepInstallMsi"
        },
        "fileCopy": {
          "description": "Copies a file onto the instance.",
          "$ref": "SoftwareRecipeStepCopyFile"
        },
        "fileExec": {
          "description": "Executes an artifact or local file.",
          "$ref": "SoftwareRecipeStepExecFile"
        },
        "archiveExtraction": {
          "description": "Extracts an archive into the specified directory.",
          "$ref": "SoftwareRecipeStepExtractArchive"
        }
      }
    },
    "PatchInstanceFilterGroupLabel": {
      "description": "Represents a group of VMs that can be identified as having all these labels, for example \"env=prod and app=web\".",
      "type": "object",
      "id": "PatchInstanceFilterGroupLabel",
      "properties": {
        "labels": {
          "description": "Compute Engine instance labels that must be present for a VM instance to be targeted by this filter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "OSPolicyAssignmentOperationMetadata": {
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "type": "object",
      "id": "OSPolicyAssignmentOperationMetadata",
      "properties": {
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "apiMethod": {
          "description": "The OS policy assignment API method.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        },
        "rolloutUpdateTime": {
          "description": "Rollout update time",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutState": {
          "description": "State of the rollout",
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        },
        "rolloutStartTime": {
          "description": "Rollout start time",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "PatchDeployment": {
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "type": "object",
      "id": "PatchDeployment",
      "properties": {
        "createTime": {
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "instanceFilter": {
          "description": "Required. VM instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string",
          "format": "google-datetime"
        },
        "duration": {
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out.",
          "type": "string",
          "format": "google-duration"
        },
        "oneTimeSchedule": {
          "description": "Required. Schedule a one-time execution.",
          "$ref": "OneTimeSchedule"
        },
        "description": {
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "lastExecuteTime": {
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "rollout": {
          "description": "Optional. Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "state": {
          "description": "Output only. Current state of the patch deployment.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Active value means that patch deployment generates Patch Jobs.",
            "Paused value means that patch deployment does not generate Patch jobs. Requires user action to move in and out from this state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED"
          ]
        },
        "name": {
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
          "type": "string"
        },
        "patchConfig": {
          "description": "Optional. Patch configuration that is applied.",
          "$ref": "PatchConfig"
        },
        "recurringSchedule": {
          "description": "Required. Schedule recurring executions.",
          "$ref": "RecurringSchedule"
        }
      }
    },
    "GooRepository": {
      "description": "Represents a Goo package repository. These is added to a repo file that is stored at C:/ProgramData/GooGet/repos/google_osconfig.repo.",
      "type": "object",
      "id": "GooRepository",
      "properties": {
        "name": {
          "description": "Required. The name of the repository.",
          "type": "string"
        },
        "url": {
          "description": "Required. The url of the repository.",
          "type": "string"
        }
      }
    },
    "FixedOrPercent": {
      "id": "FixedOrPercent",
      "properties": {
        "percent": {
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer",
          "format": "int32"
        },
        "fixed": {
          "description": "Specifies a fixed value.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "type": "object"
    },
    "AssignmentOsType": {
      "id": "AssignmentOsType",
      "properties": {
        "osVersion": {
          "description": "Targets VM instances with OS Inventory enabled and having the following following OS version.",
          "type": "string"
        },
        "osShortName": {
          "description": "Targets VM instances with OS Inventory enabled and having the following OS short name, for example \"debian\" or \"windows\".",
          "type": "string"
        },
        "osArchitecture": {
          "description": "Targets VM instances with OS Inventory enabled and having the following OS architecture.",
          "type": "string"
        }
      },
      "description": "Defines the criteria for selecting VM Instances by OS type.",
      "type": "object"
    },
    "RecurringSchedule": {
      "description": "Sets the time for recurring patch deployments.",
      "type": "object",
      "id": "RecurringSchedule",
      "properties": {
        "timeZone": {
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone.",
          "$ref": "TimeZone"
        },
        "frequency": {
          "description": "Required. The frequency unit of this recurring schedule.",
          "type": "string",
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency of recurrence should be expressed in terms of weeks.",
            "Indicates that the frequency of recurrence should be expressed in terms of months.",
            "Indicates that the frequency of recurrence should be expressed in terms of days."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY",
            "DAILY"
          ]
        },
        "weekly": {
          "description": "Required. Schedule with weekly executions.",
          "$ref": "WeeklySchedule"
        },
        "nextExecuteTime": {
          "readOnly": true,
          "description": "Output only. The time the next patch job is scheduled to run.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastExecuteTime": {
          "description": "Output only. The time the last patch job ran successfully.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "monthly": {
          "description": "Required. Schedule with monthly executions.",
          "$ref": "MonthlySchedule"
        },
        "startTime": {
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeOfDay": {
          "description": "Required. Time of the day to run a recurring deployment.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "ListPatchJobsResponse": {
      "id": "ListPatchJobsResponse",
      "properties": {
        "patchJobs": {
          "items": {
            "$ref": "PatchJob"
          },
          "description": "The list of patch jobs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        }
      },
      "description": "A response message for listing patch jobs.",
      "type": "object"
    },
    "SoftwareRecipeArtifact": {
      "description": "Specifies a resource to be used in the recipe.",
      "type": "object",
      "id": "SoftwareRecipeArtifact",
      "properties": {
        "gcs": {
          "description": "A Google Cloud Storage artifact.",
          "$ref": "SoftwareRecipeArtifactGcs"
        },
        "id": {
          "description": "Required. Id of the artifact, which the installation and update steps of this recipe can reference. Artifacts in a recipe cannot have the same id.",
          "type": "string"
        },
        "remote": {
          "description": "A generic remote artifact.",
          "$ref": "SoftwareRecipeArtifactRemote"
        },
        "allowInsecure": {
          "description": "Defaults to false. When false, recipes are subject to validations based on the artifact type: Remote: A checksum must be specified, and only protocols with transport-layer security are permitted. GCS: An object generation number must be specified.",
          "type": "boolean"
        }
      }
    },
    "SoftwareRecipeArtifactGcs": {
      "description": "Specifies an artifact available as a Google Cloud Storage object.",
      "type": "object",
      "id": "SoftwareRecipeArtifactGcs",
      "properties": {
        "bucket": {
          "description": "Bucket of the Google Cloud Storage object. Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `my-bucket`.",
          "type": "string"
        },
        "object": {
          "description": "Name of the Google Cloud Storage object. As specified [here] (https://cloud.google.com/storage/docs/naming#objectnames) Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `foo/bar`.",
          "type": "string"
        },
        "generation": {
          "description": "Must be provided if allow_insecure is false. Generation number of the Google Cloud Storage object. `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `1234567`.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "EffectiveGuestPolicySourcedPackage": {
      "id": "EffectiveGuestPolicySourcedPackage",
      "properties": {
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        },
        "package": {
          "description": "A software package to configure on the VM instance.",
          "$ref": "Package"
        }
      },
      "description": "A guest policy package including its source.",
      "type": "object"
    },
    "Package": {
      "description": "Package is a reference to the software package to be installed or removed. The agent on the VM instance uses the system package manager to apply the config. These are the commands that the agent uses to install or remove packages. Apt install: `apt-get update && apt-get -y install package1 package2 package3` remove: `apt-get -y remove package1 package2 package3` Yum install: `yum -y install package1 package2 package3` remove: `yum -y remove package1 package2 package3` Zypper install: `zypper install package1 package2 package3` remove: `zypper rm package1 package2` Googet install: `googet -noconfirm install package1 package2 package3` remove: `googet -noconfirm remove package1 package2 package3`",
      "type": "object",
      "id": "Package",
      "properties": {
        "name": {
          "description": "Required. The name of the package. A package is uniquely identified for conflict validation by checking the package name and the manager(s) that the package targets.",
          "type": "string"
        },
        "desiredState": {
          "enumDescriptions": [
            "The default is to ensure the package is installed.",
            "The agent ensures that the package is installed.",
            "The agent ensures that the package is installed and periodically checks for and install any updates.",
            "The agent ensures that the package is not installed and uninstall it if detected."
          ],
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "UPDATED",
            "REMOVED"
          ],
          "description": "The desired_state the agent should maintain for this package. The default is to ensure the package is installed.",
          "type": "string"
        },
        "manager": {
          "enumDescriptions": [
            "The default behavior is ANY.",
            "Apply this package config using the default system package manager.",
            "Apply this package config only if Apt is available on the system.",
            "Apply this package config only if Yum is available on the system.",
            "Apply this package config only if Zypper is available on the system.",
            "Apply this package config only if GooGet is available on the system."
          ],
          "enum": [
            "MANAGER_UNSPECIFIED",
            "ANY",
            "APT",
            "YUM",
            "ZYPPER",
            "GOO"
          ],
          "description": "Type of package manager that can be used to install this package. If a system does not have the package manager, the package is not installed or removed no error message is returned. By default, or if you specify `ANY`, the agent attempts to install and remove this package using the default package manager. This is useful when creating a policy that applies to different types of systems. The default behavior is ANY.",
          "type": "string"
        }
      }
    },
    "AptSettings": {
      "id": "AptSettings",
      "properties": {
        "excludes": {
          "description": "List of packages to exclude from update. These packages will be excluded",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exclusivePackages": {
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ],
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead.",
          "type": "string"
        }
      },
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed.",
      "type": "object"
    },
    "ExecStep": {
      "description": "A step that runs an executable for a PatchJob.",
      "type": "object",
      "id": "ExecStep",
      "properties": {
        "linuxExecStepConfig": {
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        },
        "windowsExecStepConfig": {
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        }
      }
    },
    "StatusProto": {
      "id": "StatusProto",
      "properties": {
        "code": {
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "type": "integer",
          "format": "int32"
        },
        "space": {
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs",
          "type": "string"
        },
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "type": "integer",
          "format": "int32"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        },
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        }
      },
      "description": "Wire-format for a Status object",
      "type": "object"
    },
    "GuestPolicy": {
      "id": "GuestPolicy",
      "properties": {
        "assignment": {
          "description": "Required. Specifies the VM instances that are assigned to this policy. This allows you to target sets or groups of VM instances by different parameters such as labels, names, OS, or zones. If left empty, all VM instances underneath this policy are targeted. At the same level in the resource hierarchy (that is within a project), the service prevents the creation of multiple policies that conflict with each other. For more information, see how the service [handles assignment conflicts](/compute/docs/os-config-management/create-guest-policy#handle-conflicts).",
          "$ref": "Assignment"
        },
        "recipes": {
          "items": {
            "$ref": "SoftwareRecipe"
          },
          "description": "A list of Recipes to install on the VM instance.",
          "type": "array"
        },
        "description": {
          "description": "Description of the guest policy. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "etag": {
          "description": "The etag for this guest policy. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last time this guest policy was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time this guest policy was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "packages": {
          "description": "The software packages to be managed by this policy.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "packageRepositories": {
          "description": "A list of package repositories to configure on the VM instance. This is done before any other configs are applied so they can use these repos. Package repositories are only configured if the corresponding package manager(s) are available.",
          "type": "array",
          "items": {
            "$ref": "PackageRepository"
          }
        },
        "name": {
          "description": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
          "type": "string"
        }
      },
      "description": "An OS Config resource representing a guest configuration policy. These policies represent the desired state for VM instance guest environments including packages to install or remove, package repository configurations, and software to install.",
      "type": "object"
    },
    "MonthlySchedule": {
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "type": "object",
      "id": "MonthlySchedule",
      "properties": {
        "weekDayOfMonth": {
          "description": "Required. Week day in a month.",
          "$ref": "WeekDayOfMonth"
        },
        "monthDay": {
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "type": "object",
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata",
      "properties": {
        "apiMethod": {
          "description": "The OS policy assignment API method.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        },
        "rolloutUpdateTime": {
          "description": "Rollout update time",
          "type": "string",
          "format": "google-datetime"
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "rolloutState": {
          "description": "State of the rollout",
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        },
        "rolloutStartTime": {
          "description": "Rollout start time",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "WeekDayOfMonth": {
      "id": "WeekDayOfMonth",
      "properties": {
        "dayOffset": {
          "description": "Optional. Represents the number of days before or after the given week day of month that the patch deployment is scheduled for. For example if `week_ordinal` and `day_of_week` values point to the second day of the month and this `day_offset` value is set to `3`, the patch deployment takes place three days after the second Tuesday of the month. If this value is negative, for example -5, the patches are deployed five days before before the second Tuesday of the month. Allowed values are in range [-30, 30].",
          "type": "integer",
          "format": "int32"
        },
        "weekOrdinal": {
          "description": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month.",
          "type": "integer",
          "format": "int32"
        },
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
[...]
