{
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "protocol": "rest",
  "canonicalName": "Pagespeed Insights",
  "ownerDomain": "google.com",
  "version": "v5",
  "basePath": "",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "id": "pagespeedonline:v5",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "parameterOrder": [
            "url"
          ],
          "scopes": [
            "openid"
          ],
          "path": "pagespeedonline/v5/runPagespeed",
          "parameters": {
            "strategy": {
              "type": "string",
              "location": "query",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ]
            },
            "category": {
              "location": "query",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO"
              ],
              "type": "string",
              "repeated": true,
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines."
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false
              ]
            },
            "utm_campaign": {
              "description": "Campaign name for analytics.",
              "type": "string",
              "location": "query"
            },
            "utm_source": {
              "description": "Campaign source for analytics.",
              "type": "string",
              "location": "query"
            },
            "locale": {
              "description": "The locale used to localize formatted results",
              "type": "string",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "location": "query"
            },
            "url": {
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Required. The URL to fetch and analyze"
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "flatPath": "pagespeedonline/v5/runPagespeed"
        }
      }
    }
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "LighthouseAuditResultV5": {
      "id": "LighthouseAuditResultV5",
      "description": "An audit's result object in a Lighthouse result.",
      "type": "object",
      "properties": {
        "numericValue": {
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "type": "number",
          "format": "double"
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "details": {
          "description": "Freeform details section of the audit.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        }
      }
    },
    "AuditRefs": {
      "id": "AuditRefs",
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "type": "object",
      "properties": {
        "acronym": {
          "description": "The conventional acronym for the audit/metric.",
          "type": "string"
        },
        "group": {
          "description": "The category group that the audit belongs to (optional).",
          "type": "string"
        },
        "weight": {
          "description": "The weight this audit's score has on the overall category score.",
          "type": "number",
          "format": "double"
        },
        "relevantAudits": {
          "description": "Any audit IDs closely relevant to this one.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        }
      }
    },
    "Bucket": {
      "id": "Bucket",
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "type": "object",
      "properties": {
        "proportion": {
          "description": "The proportion of data in this bucket.",
          "type": "number",
          "format": "double"
        },
        "min": {
          "description": "Lower bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        },
        "max": {
          "description": "Upper bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Environment": {
      "properties": {
        "benchmarkIndex": {
          "description": "The benchmark index number that indicates rough device class.",
          "type": "number",
          "format": "double"
        },
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "credits": {
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Environment",
      "description": "Message containing environment configuration for a Lighthouse run.",
      "type": "object"
    },
    "CategoryGroupV5": {
      "id": "CategoryGroupV5",
      "description": "Message containing a category",
      "type": "object",
      "properties": {
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      }
    },
    "RuntimeError": {
      "properties": {
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        }
      },
      "id": "RuntimeError",
      "description": "Message containing a runtime error config.",
      "type": "object"
    },
    "Categories": {
      "id": "Categories",
      "description": "The categories in a Lighthouse run.",
      "type": "object",
      "properties": {
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "deprecated": true,
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      }
    },
    "LighthouseResultV5": {
      "id": "LighthouseResultV5",
      "description": "The Lighthouse result object.",
      "type": "object",
      "properties": {
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "fetchTime": {
          "description": "The time that this run was fetched.",
          "type": "string"
        },
        "mainDocumentUrl": {
          "description": "URL of the main document request of the final navigation.",
          "type": "string"
        },
        "runWarnings": {
          "items": {
            "type": "any"
          },
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "type": "array"
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "lighthouseVersion": {
          "description": "The lighthouse version that was used to generate this LHR.",
          "type": "string"
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          }
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          }
        },
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "entities": {
          "description": "Entity classification data.",
          "type": "array",
          "items": {
            "$ref": "LhrEntity"
          }
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "requestedUrl": {
          "description": "The original requested url.",
          "type": "string"
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "stackPacks": {
          "description": "The Stack Pack advice strings.",
          "type": "array",
          "items": {
            "$ref": "StackPack"
          }
        }
      }
    },
    "LighthouseCategoryV5": {
      "id": "LighthouseCategoryV5",
      "description": "A Lighthouse category.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "title": {
          "description": "The human-friendly name of the category.",
          "type": "string"
        },
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        },
        "auditRefs": {
          "description": "An array of references to all the audit members of this category.",
          "type": "array",
          "items": {
            "$ref": "AuditRefs"
          }
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        }
      }
    },
    "I18n": {
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "id": "I18n",
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "type": "object"
    },
    "PagespeedApiPagespeedResponseV5": {
      "id": "PagespeedApiPagespeedResponseV5",
      "description": "The Pagespeed API response object.",
      "type": "object",
      "properties": {
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        }
      }
    },
    "PagespeedVersion": {
      "id": "PagespeedVersion",
      "description": "The Pagespeed Version object.",
      "type": "object",
      "properties": {
        "major": {
          "description": "The major version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      }
    },
    "LhrEntity": {
      "properties": {
        "isFirstParty": {
          "description": "Optional. An optional flag indicating if the entity is the first party.",
          "type": "boolean"
        },
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. Name of the entity.",
          "type": "string"
        },
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        },
        "origins": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array"
        },
        "homepage": {
          "description": "Optional. An optional homepage URL of the entity.",
          "type": "string"
        }
      },
      "id": "LhrEntity",
      "description": "Message containing an Entity.",
      "type": "object"
    },
    "UserPageLoadMetricV5": {
      "properties": {
        "distributions": {
          "description": "Metric distributions. Proportions should sum up to 1.",
          "type": "array",
          "items": {
            "$ref": "Bucket"
          }
        },
        "median": {
          "description": "The median number of the metric, in millisecond.",
          "type": "integer",
          "format": "int32"
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "category": {
          "description": "The category of the specific time metric.",
          "type": "string"
        },
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "UserPageLoadMetricV5",
      "description": "A CrUX metric object for a single metric and form factor.",
      "type": "object"
    },
    "Timing": {
      "id": "Timing",
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "type": "object",
      "properties": {
        "total": {
          "description": "The total duration of Lighthouse's run.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "PagespeedApiLoadingExperienceV5": {
      "properties": {
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "metrics": {
          "description": "The map of .",
          "type": "object",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          }
        },
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        }
      },
      "id": "PagespeedApiLoadingExperienceV5",
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "type": "object"
    },
    "RendererFormattedStrings": {
      "id": "RendererFormattedStrings",
      "description": "Message holding the formatted strings used in the renderer.",
      "type": "object",
      "properties": {
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "throttlingProvided": {
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling.",
          "type": "string"
        },
        "runtimeSettingsAxeVersion": {
          "description": "Label for a row in a table that shows the version of the Axe library used",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run.",
          "type": "string"
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc).",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "runtimeMobileEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device.",
          "type": "string"
        },
        "varianceDisclaimer": {
          "description": "The disclaimer shown below a performance metric value.",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time.",
          "type": "string"
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "dropdownViewer": {
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application.",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "labDataTitle": {
          "description": "The title of the lab data performance category.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "runtimeSettingsDevice": {
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc.",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that do not apply to a page.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "description": "The label shown preceding important warnings that may have invalidated an entire report.",
          "type": "string"
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that are passing.",
          "type": "string"
        },
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        }
      }
    },
    "MetricSavings": {
      "properties": {
        "INP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "type": "number",
          "format": "double"
        },
        "CLS": {
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number",
          "format": "double"
        },
        "LCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number",
          "format": "double"
        },
        "FCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "type": "number",
          "format": "double"
        },
        "TBT": {
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "MetricSavings",
      "description": "The metric savings of the audit.",
      "type": "object"
    },
    "ConfigSettings": {
      "id": "ConfigSettings",
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "type": "object",
      "properties": {
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "emulatedFormFactor": {
          "deprecated": true,
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead.",
          "type": "string"
        },
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        }
      }
    },
    "StackPack": {
      "id": "StackPack",
      "description": "Message containing Stack Pack information.",
      "type": "object",
      "properties": {
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "descriptions": {
          "description": "The stack pack advice strings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        }
      }
    }
  },
  "name": "pagespeedonline",
  "revision": "20260311",
  "title": "PageSpeed Insights API",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}