{
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "baseUrl": "https://parametermanager.googleapis.com/",
  "servicePath": "",
  "mtlsRootUrl": "https://parametermanager.mtls.googleapis.com/",
  "protocol": "rest",
  "ownerName": "Google",
  "basePath": "",
  "revision": "20260506",
  "description": "Parameter Manager is a single source of truth to store, access and manage the lifecycle of your workload parameters. Parameter Manager aims to make management of sensitive application parameters effortless for customers without diminishing focus on security.",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "endpointUrl": "https://parametermanager.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://parametermanager.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://parametermanager.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://parametermanager.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://parametermanager.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://parametermanager.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://parametermanager.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://parametermanager.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://parametermanager.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://parametermanager.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://parametermanager.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://parametermanager.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://parametermanager.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://parametermanager.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://parametermanager.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://parametermanager.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://parametermanager.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://parametermanager.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.northamerica-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://parametermanager.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-west15",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-west15.rep.googleapis.com/"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.us.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.eu.rep.googleapis.com/",
      "location": "eu"
    },
    {
      "location": "ca",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.ca.rep.googleapis.com/"
    },
    {
      "location": "in",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.in.rep.googleapis.com/"
    }
  ],
  "rootUrl": "https://parametermanager.googleapis.com/",
  "batchPath": "batch",
  "name": "parametermanager",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "id": "parametermanager.projects.locations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "parametermanager.projects.locations.list",
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "parameters": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a single Parameter.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "httpMethod": "DELETE",
                  "id": "parametermanager.projects.locations.parameters.delete",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "id": "parametermanager.projects.locations.parameters.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Parameter"
                  },
                  "description": "Gets details of a single Parameter.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters",
                  "request": {
                    "$ref": "Parameter"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/parameters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Parameter"
                  },
                  "description": "Creates a new Parameter in a given project and location.",
                  "id": "parametermanager.projects.locations.parameters.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Value for parent in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "parameterId": {
                      "description": "Required. Id of the Parameter resource",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Parameter"
                  },
                  "description": "Updates a single Parameter.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "request": {
                    "$ref": "Parameter"
                  },
                  "httpMethod": "PATCH",
                  "id": "parametermanager.projects.locations.parameters.patch",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. [Output only] The resource name of the Parameter in the format `projects/*/locations/*/parameters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Parameter resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "parametermanager.projects.locations.parameters.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent value for ListParametersRequest in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListParameters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListParameters` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/parameters",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListParametersResponse"
                  },
                  "description": "Lists Parameters in a given project and location."
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "delete": {
                      "id": "parametermanager.projects.locations.parameters.versions.delete",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a single ParameterVersion."
                    },
                    "list": {
                      "id": "parametermanager.projects.locations.parameters.versions.list",
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListParameterVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListParameterVersions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. Parent value for ListParameterVersionsRequest in the format `projects/*/locations/*/parameters/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/versions",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListParameterVersionsResponse"
                      },
                      "description": "Lists ParameterVersions in a given project, location, and parameter."
                    },
                    "render": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}:render",
                      "path": "v1/{+name}:render",
                      "response": {
                        "$ref": "RenderParameterVersionResponse"
                      },
                      "description": "Gets rendered version of a ParameterVersion.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "parametermanager.projects.locations.parameters.versions.render"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "description": "Gets details of a single ParameterVersion.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include only the metadata for the resource.",
                            "Include metadata & other relevant payload data as well. This is the default view."
                          ],
                          "description": "Optional. View of the ParameterVersion. In the default FULL view, all metadata & payload associated with the ParameterVersion will be returned.",
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "parametermanager.projects.locations.parameters.versions.get"
                    },
                    "create": {
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "description": "Creates a new ParameterVersion in a given project, location, and parameter.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/versions",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions",
                      "request": {
                        "$ref": "ParameterVersion"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Value for parent in the format `projects/*/locations/*/parameters/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$"
                        },
                        "parameterVersionId": {
                          "description": "Required. Id of the ParameterVersion resource",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "parametermanager.projects.locations.parameters.versions.create"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "description": "Identifier. [Output only] The resource name of the ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the ParameterVersion resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "parametermanager.projects.locations.parameters.versions.patch",
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "request": {
                        "$ref": "ParameterVersion"
                      },
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "description": "Updates a single ParameterVersion.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "parametermanager:v1",
  "version": "v1",
  "schemas": {
    "ListParameterVersionsResponse": {
      "id": "ListParameterVersionsResponse",
      "type": "object",
      "description": "Message for response to listing ParameterVersions",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parameterVersions": {
          "type": "array",
          "items": {
            "$ref": "ParameterVersion"
          },
          "description": "The list of ParameterVersions"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "ParameterVersionPayload": {
      "id": "ParameterVersionPayload",
      "type": "object",
      "description": "Message for storing a ParameterVersion resource's payload data",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. bytes data for storing payload."
        }
      }
    },
    "Parameter": {
      "description": "Message describing Parameter resource",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "policyMember": {
          "readOnly": true,
          "$ref": "ResourcePolicyMember",
          "description": "Output only. [Output-only] policy member strings of a Google Cloud resource."
        },
        "format": {
          "type": "string",
          "enumDescriptions": [
            "The default / unset value. The API will default to the UNFORMATTED format.",
            "Unformatted.",
            "YAML format.",
            "JSON format."
          ],
          "description": "Optional. Specifies the format of a Parameter.",
          "enum": [
            "PARAMETER_FORMAT_UNSPECIFIED",
            "UNFORMATTED",
            "YAML",
            "JSON"
          ]
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Customer managed encryption key (CMEK) to use for encrypting the Parameter Versions. If not set, the default Google-managed encryption key will be used. Cloud KMS CryptoKeys must reside in the same location as the Parameter. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
        },
        "name": {
          "description": "Identifier. [Output only] The resource name of the Parameter in the format `projects/*/locations/*/parameters/*`.",
          "type": "string"
        }
      },
      "id": "Parameter",
      "type": "object"
    },
    "RenderParameterVersionResponse": {
      "description": "Message describing RenderParameterVersionResponse resource",
      "properties": {
        "renderedPayload": {
          "type": "string",
          "format": "byte",
          "readOnly": true,
          "description": "Output only. Server generated rendered version of the user provided payload data (ParameterVersionPayload) which has substitutions of all (if any) references to a SecretManager SecretVersion resources. This substitution only works for a Parameter which is in JSON or YAML format."
        },
        "parameterVersion": {
          "description": "Output only. Resource identifier of a ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`.",
          "type": "string",
          "readOnly": true
        },
        "payload": {
          "description": "Payload content of a ParameterVersion resource.",
          "$ref": "ParameterVersionPayload"
        }
      },
      "id": "RenderParameterVersionResponse",
      "type": "object"
    },
    "ResourcePolicyMember": {
      "id": "ResourcePolicyMember",
      "type": "object",
      "description": "Output-only policy member strings of a Google Cloud resource's built-in identity.",
      "properties": {
        "iamPolicyNamePrincipal": {
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by user-assigned name (https://google.aip.dev/122). If a resource is deleted and recreated with the same name, the binding will be applicable to the new resource. Example: `principal://parametermanager.googleapis.com/projects/12345/name/locations/us-central1-a/parameters/my-parameter`",
          "type": "string",
          "readOnly": true
        },
        "iamPolicyUidPrincipal": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by system-assigned unique identifier (https://google.aip.dev/148#uid). If a resource is deleted and recreated with the same name, the binding will not be applicable to the new resource Example: `principal://parametermanager.googleapis.com/projects/12345/uid/locations/us-central1-a/parameters/a918fed5`"
        }
      }
    },
    "ParameterVersion": {
      "description": "Message describing ParameterVersion resource",
      "properties": {
        "disabled": {
          "description": "Optional. Disabled boolean to determine if a ParameterVersion acts as a metadata only resource (payload is never returned if disabled is true). If true any calls will always default to BASIC view even if the user explicitly passes FULL view as part of the request. A render call on a disabled resource fails with an error. Default value is False.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp"
        },
        "kmsKeyVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. [Output only] The resource name of the KMS key version used to encrypt the ParameterVersion payload. This field is populated only if the Parameter resource has customer managed encryption key (CMEK) configured."
        },
        "name": {
          "type": "string",
          "description": "Identifier. [Output only] The resource name of the ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`."
        },
        "payload": {
          "$ref": "ParameterVersionPayload",
          "description": "Required. Immutable. Payload content of a ParameterVersion resource. This is only returned when the request provides the View value of FULL (default for GET request)."
        }
      },
      "id": "ParameterVersion",
      "type": "object"
    },
    "ListParametersResponse": {
      "description": "Message for response to listing Parameters",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "parameters": {
          "description": "The list of Parameters",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListParametersResponse",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/secret-manager/parameter-manager/docs/overview",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "canonicalName": "Parameter Manager",
  "title": "Parameter Manager API"
}