{
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "version_module": true,
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "id": "paymentsresellersubscription:v1",
  "revision": "20260409",
  "name": "paymentsresellersubscription",
  "mtlsRootUrl": "https://paymentsresellersubscription.mtls.googleapis.com/",
  "title": "Payments Reseller Subscription API",
  "ownerDomain": "google.com",
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "basePath": "",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "servicePath": "",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "schemas": {
    "ProductPriceConfig": {
      "id": "ProductPriceConfig",
      "type": "object",
      "description": "Configs the prices in an available region.",
      "properties": {
        "regionCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\"."
        },
        "amount": {
          "description": "Output only. The price in the region.",
          "readOnly": true,
          "$ref": "Amount"
        }
      }
    },
    "ProductBundleDetails": {
      "description": "Details for a bundle product.",
      "properties": {
        "entitlementMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "All the bundle elements must be fully activated in a single request.",
            "The bundle elements could be incrementally activated."
          ],
          "enum": [
            "ENTITLEMENT_MODE_UNSPECIFIED",
            "ENTITLEMENT_MODE_FULL",
            "ENTITLEMENT_MODE_INCREMENTAL"
          ],
          "description": "The entitlement mode of the bundle product."
        },
        "bundleElements": {
          "description": "The individual products that are included in the bundle.",
          "type": "array",
          "items": {
            "$ref": "ProductBundleDetailsBundleElement"
          }
        }
      },
      "id": "ProductBundleDetails",
      "type": "object"
    },
    "SubscriptionUpgradeDowngradeDetails": {
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from.",
      "properties": {
        "previousSubscriptionId": {
          "type": "string",
          "description": "Required. The previous subscription id to be replaced. The format can be one of the following: 1. `subscription_id`: the old subscription id under the same partner_id. 2. `partners/{partner_id}/subscriptions/{subscription_id}`. A different partner_id is allowed. But they must be under the same partner group."
        },
        "billingCycleSpec": {
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription starts immediately but aligns with the previous subscription it upgrades or downgrades from. First cycle of the new subscription will be prorated.",
            "The billing cycle of the new subscription starts immediately.",
            "The new subscription will have the same `renewalTime` as the previous subscription, while the previous subscription is scheduled for cancellation at that same time."
          ],
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY",
            "BILLING_CYCLE_SPEC_DEFERRED_TO_NEXT_RECURRENCE"
          ],
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.",
          "type": "string"
        }
      },
      "id": "SubscriptionUpgradeDowngradeDetails",
      "type": "object"
    },
    "GoogleTypeLocalizedText": {
      "id": "GoogleTypeLocalizedText",
      "type": "object",
      "description": "Localized variant of a text in a particular language.",
      "properties": {
        "text": {
          "description": "Localized string in the language corresponding to language_code below.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      }
    },
    "Amount": {
      "id": "Amount",
      "type": "object",
      "description": "Describes the amount unit including the currency code.",
      "properties": {
        "amountMicros": {
          "description": "Required. Amount in micros (1_000_000 micros = 1 currency unit)",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency codes in accordance with [ISO-4217 Currency Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD."
        }
      }
    },
    "IntentPayload": {
      "description": "The payload that describes the user intent.",
      "properties": {
        "createIntent": {
          "$ref": "CreateSubscriptionIntent",
          "description": "The request to create a subscription."
        },
        "intentOptions": {
          "description": "Optional. The additional features for the intent.",
          "$ref": "IntentPayloadIntentOptions"
        },
        "entitleIntent": {
          "description": "The request to entitle a subscription.",
          "$ref": "EntitleSubscriptionIntent"
        }
      },
      "id": "IntentPayload",
      "type": "object"
    },
    "UndoCancelSubscriptionResponse": {
      "description": "Response that contains the updated subscription resource.",
      "properties": {
        "subscription": {
          "description": "The updated subscription resource.",
          "$ref": "Subscription"
        }
      },
      "id": "UndoCancelSubscriptionResponse",
      "type": "object"
    },
    "SubscriptionLineItem": {
      "id": "SubscriptionLineItem",
      "type": "object",
      "description": "Individual line item definition of a subscription.",
      "properties": {
        "lineItemPromotionSpecs": {
          "description": "Optional. The promotions applied on the line item. It can be: - an introductory pricing promotion. - a free trial promotion. This feature is not enabled. If used, the request will be rejected. When used as input in Create or Provision API, specify its resource name only.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionPromotionSpec"
          }
        },
        "recurrenceType": {
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ],
          "type": "string",
          "description": "Output only. The recurrence type of the line item.",
          "readOnly": true,
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ]
        },
        "oneTimeRecurrenceDetails": {
          "readOnly": true,
          "$ref": "SubscriptionLineItemOneTimeRecurrenceDetails",
          "description": "Output only. Details only set for a ONE_TIME recurrence line item."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the line item. Format: partners/{partner}/subscriptions/{subscription}/lineItems/{lineItem}"
        },
        "state": {
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING",
            "LINE_ITEM_STATE_WAITING_TO_DEACTIVATE",
            "LINE_ITEM_STATE_OFF_CYCLE_CHARGING"
          ],
          "type": "string",
          "description": "Output only. The state of the line item.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state. If the subscription is cancelled or suspended, the line item will not be charged even if the line item is active.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated, and a prorated refund in being processed.",
            "The line item is scheduled to be deactivated at the end of the current cycle.",
            "Line item is being charged off-cycle."
          ]
        },
        "bundleDetails": {
          "description": "Output only. The bundle details for the line item. Only populated if the line item corresponds to a hard bundle.",
          "readOnly": true,
          "$ref": "SubscriptionLineItemBundleDetails"
        },
        "lineItemFreeTrialEndTime": {
          "type": "string",
          "description": "Output only. The free trial end time will be populated after the line item is successfully processed. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of this line item.",
          "readOnly": true
        },
        "lineItemIndex": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. A unique index of the subscription line item.",
          "format": "int32"
        },
        "productPayload": {
          "$ref": "ProductPayload",
          "description": "Optional. Product specific payload for this line item."
        },
        "finiteBillingCycleDetails": {
          "$ref": "FiniteBillingCycleDetails",
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely. Used only with LINE_ITEM_RECURRENCE_TYPE_PERIODIC."
        },
        "amount": {
          "readOnly": true,
          "$ref": "Amount",
          "description": "Output only. The price of the product/service in this line item. The amount could be the wholesale price, or it can include a cost of sale based on the contract."
        },
        "product": {
          "description": "Required. Product resource name that identifies the product associated with this line item. The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "string"
        }
      }
    },
    "ProductPayload": {
      "id": "ProductPayload",
      "type": "object",
      "description": "Specifies product specific payload.",
      "properties": {
        "googleOnePayload": {
          "description": "Product-specific payloads. Payload specific to Google One products.",
          "$ref": "GoogleOnePayload"
        },
        "googleHomePayload": {
          "description": "Payload specific to Google Home products.",
          "$ref": "GoogleHomePayload"
        },
        "youtubePayload": {
          "$ref": "YoutubePayload",
          "description": "Payload specific to Youtube products."
        }
      }
    },
    "GenerateUserSessionRequest": {
      "id": "GenerateUserSessionRequest",
      "type": "object",
      "description": "Request to generate a user session.",
      "properties": {
        "intentPayload": {
          "$ref": "IntentPayload",
          "description": "The user intent to generate the user session."
        }
      }
    },
    "Product": {
      "id": "Product",
      "type": "object",
      "description": "A Product resource that defines a subscription service that can be resold.",
      "properties": {
        "bundleDetails": {
          "description": "Output only. Specifies the details for a bundle product.",
          "readOnly": true,
          "$ref": "ProductBundleDetails"
        },
        "subscriptionBillingCycleDuration": {
          "readOnly": true,
          "$ref": "Duration",
          "description": "Output only. Specifies the length of the billing cycle of the subscription."
        },
        "regionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refer to: https://en.wikipedia.org/wiki/ISO_3166-1"
        },
        "productType": {
          "description": "Output only. Specifies the type of the product.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "The product is a subscription.",
            "The product is a bundled subscription plan, which includes multiple subscription elements."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_SUBSCRIPTION",
            "PRODUCT_TYPE_BUNDLE_SUBSCRIPTION"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Response only. Resource name of the product. It will have the format of \"partners/{partner_id}/products/{product_id}\""
        },
        "titles": {
          "type": "array",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "readOnly": true,
          "description": "Output only. Localized human readable name of the product."
        },
        "finiteBillingCycleDetails": {
          "$ref": "FiniteBillingCycleDetails",
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely."
        },
        "priceConfigs": {
          "readOnly": true,
          "description": "Output only. Price configs for the product in the available regions.",
          "type": "array",
          "items": {
            "$ref": "ProductPriceConfig"
          }
        }
      }
    },
    "CancelSubscriptionResponse": {
      "description": "Response that contains the cancelled subscription resource.",
      "properties": {
        "subscription": {
          "description": "The cancelled subscription resource.",
          "$ref": "Subscription"
        }
      },
      "id": "CancelSubscriptionResponse",
      "type": "object"
    },
    "FindEligiblePromotionsResponse": {
      "id": "FindEligiblePromotionsResponse",
      "type": "object",
      "description": "Response containing the found promotions for the current user.",
      "properties": {
        "promotions": {
          "description": "The promotions for the current user.",
          "type": "array",
          "items": {
            "$ref": "Promotion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "ExtendSubscriptionRequest": {
      "id": "ExtendSubscriptionRequest",
      "type": "object",
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product.",
      "properties": {
        "requestId": {
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle.",
          "type": "string"
        },
        "extension": {
          "$ref": "Extension",
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription."
        }
      }
    },
    "Duration": {
      "id": "Duration",
      "type": "object",
      "description": "Describes the length of a period of a time.",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit used for the duration",
          "enumDescriptions": [
            "Default value, reserved as an invalid or an unexpected value.",
            "Unit of a calendar month.",
            "Unit of a day.",
            "Unit of an hour. It is used for testing."
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY",
            "HOUR"
          ]
        },
        "count": {
          "description": "number of duration units to be included.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FindEligiblePromotionsRequest": {
      "id": "FindEligiblePromotionsRequest",
      "type": "object",
      "description": "Request to find eligible promotions for the current user.",
      "properties": {
        "pageToken": {
          "description": "Optional. A page token, received from a previous `FindEligiblePromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FindEligiblePromotions` must match the call that provided the page token.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 promotions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Promotion": {
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold.",
      "properties": {
        "startTime": {
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in.",
          "format": "google-datetime",
          "type": "string"
        },
        "promotionType": {
          "description": "Output only. Specifies the type of the promotion.",
          "readOnly": true,
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "type": "string"
        },
        "freeTrialDuration": {
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL",
          "$ref": "Duration"
        },
        "endTime": {
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely.",
          "format": "google-datetime",
          "type": "string"
        },
        "regionCodes": {
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refer to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\""
        },
        "applicableProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The product ids this promotion can be applied to."
        },
        "introductoryPricingDetails": {
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING.",
          "$ref": "PromotionIntroductoryPricingDetails"
        },
        "titles": {
          "type": "array",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "description": "Output only. Localized human readable name of the promotion.",
          "readOnly": true
        }
      },
      "id": "Promotion",
      "type": "object"
    },
    "UserSession": {
      "id": "UserSession",
      "type": "object",
      "description": "Contains a short-lived token containing information required to interact with the Google Payments Reseller Platform via web endpoints. - Generate a user session token dynamically for an authenticated user. Do not share a token directly with a user in an unauthenticated context, such as SMS or email. - You can regenerate new session tokens repeatedly for the same `generate` request if necessary, regardless of whether previous tokens have expired. Multiple sessions will not result in duplicate fulfillments because the `subscription ID` guarantees uniqueness. For more integration details, see the [Google Managed Signup](/payments/reseller/subscription/reference/index/User.Signup.Integration/Google.Managed.Signup) documentation.",
      "properties": {
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the user session expires.",
          "format": "google-datetime"
        },
        "token": {
          "type": "string",
          "description": "Output only. The encrypted token of the user session, including the information of the user's intent and request. This token should be provided when redirecting the user to Google.",
          "readOnly": true
        }
      }
    },
    "ProductBundleDetailsBundleElement": {
      "id": "ProductBundleDetailsBundleElement",
      "type": "object",
      "description": "The individual product that is included in the bundle.",
      "properties": {
        "product": {
          "type": "string",
          "description": "Required. Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'.",
          "readOnly": true
        }
      }
    },
    "GoogleHomePayload": {
      "id": "GoogleHomePayload",
      "type": "object",
      "description": "Payload specific for Google Home products.",
      "properties": {
        "attachedToGoogleStructure": {
          "type": "boolean",
          "description": "Output only. This identifies whether the subscription is attached to a Google Home structure.",
          "readOnly": true
        },
        "googleStructureId": {
          "type": "string",
          "description": "Optional. Structure identifier on Google side."
        },
        "partnerStructureId": {
          "description": "Optional. This identifies the structure ID on partner side that the subscription should be applied to. Only required when the partner requires structure mapping.",
          "type": "string"
        }
      }
    },
    "Subscription": {
      "description": "Acts as a central billing entity between an external partner and Google. Google services use the subscription state to grant or revoke the user's service entitlement. Note: The subscription state might not perfectly align with the user's service entitlement. Some services might continue providing access until the current cycle ends, even if the subscription is immediately canceled. Consult the relevant contract or product policy for specific details.",
      "properties": {
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum.",
          "type": "string"
        },
        "lineItems": {
          "description": "Required. The line items of the subscription.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionLineItem"
          }
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'."
        },
        "promotionSpecs": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionPromotionSpec"
          },
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input."
        },
        "createTime": {
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "migrationDetails": {
          "readOnly": true,
          "$ref": "SubscriptionMigrationDetails",
          "description": "Output only. Describes the details of the migrated subscription. Only populated if this subscription is migrated from another system."
        },
        "cancellationDetails": {
          "readOnly": true,
          "$ref": "SubscriptionCancellationDetails",
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.",
          "format": "google-datetime"
        },
        "redirectUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty."
        },
        "serviceLocation": {
          "description": "Required. The location that the service is provided as indicated by the partner.",
          "$ref": "Location"
        },
        "upgradeDowngradeDetails": {
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription.",
          "$ref": "SubscriptionUpgradeDowngradeDetails"
        },
        "processingState": {
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "readOnly": true,
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring.",
            "The subscription is being resumed."
          ],
          "type": "string",
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING",
            "PROCESSING_STATE_RESUMING"
          ]
        },
        "name": {
          "description": "Identifier. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\". This is available for authorizeAddon, but otherwise is response only.",
          "type": "string"
        },
        "purchaseTime": {
          "type": "string",
          "description": "Optional. The timestamp when the user transaction was made with the Partner. Specify for the case of \"bundle with choice\", and it must be before the provision_time (when the user makes a selection).",
          "format": "google-datetime"
        },
        "cycleEndTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE",
            "STATE_SUSPENDED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled. This is the final state of the subscription, as it can no longer be modified or reactivated.",
            "The subscription is in grace period. It can happen: 1) in manual extend mode, the subscription is not extended by the partner at the end of current cycle. 2) for outbound authorization enabled partners, a renewal purchase order is rejected.",
            "The subscription is waiting to be cancelled by the next recurrence cycle.",
            "The subscription is suspended."
          ],
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle)."
        },
        "freeTrialEndTime": {
          "readOnly": true,
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "format": "google-datetime",
          "type": "string"
        },
        "promotions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'."
        },
        "endUserEntitled": {
          "description": "Output only. Indicates if the subscription is entitled to the end user.",
          "readOnly": true,
          "type": "boolean"
        },
        "renewalTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime"
        }
      },
      "id": "Subscription",
      "type": "object"
    },
    "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "description": "The duration of an introductory pricing promotion.",
      "properties": {
        "discountRatioMicros": {
          "type": "string",
          "description": "Output only. The discount percentage in micros. For example, 50,000 represents 5%.",
          "format": "int64",
          "readOnly": true
        },
        "regionCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\"."
        },
        "recurrenceCount": {
          "description": "Output only. The duration of an introductory offer in billing cycles.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "discountAmount": {
          "readOnly": true,
          "$ref": "Amount",
          "description": "Output only. The discount amount. The value is positive."
        }
      },
      "id": "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec",
      "type": "object"
    },
    "GoogleOnePayload": {
      "id": "GoogleOnePayload",
      "type": "object",
      "description": "Payload specific to Google One products.",
      "properties": {
        "offering": {
          "description": "The type of offering the subscription was sold by the partner. e.g. VAS.",
          "enumDescriptions": [
            "The type of partner offering is unspecified.",
            "Google One product purchased as a Value added service in addition to existing partner's products. Customer pays additional amount for Google One product.",
            "Google One product purchased by itself by customer as a value add service. Customer pays additional amount for Google One product.",
            "Product purchased as part of a hard bundle where Google One was included with the bundle. Google One pricing is included in the bundle.",
            "Purchased as part of a bundle where Google One was provided as an option. Google One pricing is included in the bundle."
          ],
          "enum": [
            "OFFERING_UNSPECIFIED",
            "OFFERING_VAS_BUNDLE",
            "OFFERING_VAS_STANDALONE",
            "OFFERING_HARD_BUNDLE",
            "OFFERING_SOFT_BUNDLE"
          ],
          "type": "string"
        },
        "campaigns": {
          "description": "Campaign attributed to sales of this subscription.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "salesChannel": {
          "type": "string",
          "description": "The type of sales channel through which the subscription was sold.",
          "enumDescriptions": [
            "The channel type is unspecified.",
            "Sold at store.",
            "Sold through partner website.",
            "Sold through partner android app.",
            "Sold through partner iOS app."
          ],
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_RETAIL",
            "CHANNEL_ONLINE_WEB",
            "CHANNEL_ONLINE_ANDROID_APP",
            "CHANNEL_ONLINE_IOS_APP"
          ]
        },
        "storeId": {
          "type": "string",
          "description": "The identifier for the partner store where the subscription was sold."
        }
      }
    },
    "SubscriptionMigrationDetails": {
      "description": "Describes the details of the migrated subscription.",
      "properties": {
        "migratedSubscriptionId": {
          "readOnly": true,
          "description": "Output only. The migrated subscription id in the legacy system.",
          "type": "string"
        }
      },
      "id": "SubscriptionMigrationDetails",
      "type": "object"
    },
    "YoutubePayload": {
      "description": "Payload specific to Youtube products.",
      "properties": {
        "accessEndTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The access expiration time for this line item.",
          "format": "google-datetime"
        },
        "partnerPlanType": {
          "type": "string",
          "description": "Optional. Specifies the plan type offered to the end user by the partner.",
          "enumDescriptions": [
            "Unspecified. Should not use, reserved as an invalid value.",
            "This item is offered as a standalone product to the user.",
            "This item is bundled with another partner offering, the item is provisioned at purchase time.",
            "This item is bundled with another partner offering, the item is provisioned after puchase, when the user opts in this Google service."
          ],
          "enum": [
            "PARTNER_PLAN_TYPE_UNSPECIFIED",
            "PARTNER_PLAN_TYPE_STANDALONE",
            "PARTNER_PLAN_TYPE_HARD_BUNDLE",
            "PARTNER_PLAN_TYPE_SOFT_BUNDLE"
          ]
        },
        "partnerEligibilityIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of eligibility_ids which are applicable for the line item."
        }
      },
      "id": "YoutubePayload",
      "type": "object"
    },
    "SubscriptionPromotionSpec": {
      "id": "SubscriptionPromotionSpec",
      "type": "object",
      "description": "Describes the spec for one promotion.",
      "properties": {
        "promotion": {
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "string"
        },
        "freeTrialDuration": {
          "readOnly": true,
          "$ref": "Duration",
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL."
        },
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "description": "Output only. The type of the promotion for the spec.",
          "type": "string",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ]
        },
        "introductoryPricingDetails": {
          "readOnly": true,
          "$ref": "PromotionIntroductoryPricingDetails",
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING."
        }
      }
    },
    "ResumeSubscriptionResponse": {
      "description": "Response that contains the resumed subscription.",
      "properties": {
        "subscription": {
          "description": "The resumed subscription resource.",
          "$ref": "Subscription"
        }
      },
      "id": "ResumeSubscriptionResponse",
      "type": "object"
    },
    "EntitleSubscriptionRequest": {
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context.",
      "properties": {
        "lineItemEntitlementDetails": {
          "description": "Optional. The line items to be entitled. If unspecified, all line items will be entitled.",
          "type": "array",
          "items": {
            "$ref": "EntitleSubscriptionRequestLineItemEntitlementDetails"
          }
        }
      },
      "id": "EntitleSubscriptionRequest",
      "type": "object"
    },
    "ServicePeriod": {
      "id": "ServicePeriod",
      "type": "object",
      "description": "A description of what time period or moment in time the product or service is being delivered over.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. The start time of the service period. Time is inclusive.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The end time of the service period. Time is exclusive.",
          "format": "google-datetime"
        }
      }
    },
    "SubscriptionLineItemBundleDetails": {
      "id": "SubscriptionLineItemBundleDetails",
      "type": "object",
      "description": "The bundle details for a line item corresponding to a hard bundle.",
      "properties": {
        "bundleElementDetails": {
          "readOnly": true,
          "description": "Output only. The details for each element in the hard bundle.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionLineItemBundleDetailsBundleElementDetails"
          }
        }
      }
    },
    "SuspendSubscriptionResponse": {
      "description": "Response that contains the suspended subscription.",
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "The suspended subscription resource."
        }
      },
      "id": "SuspendSubscriptionResponse",
      "type": "object"
    },
    "FiniteBillingCycleDetails": {
      "description": "Details for a subscription line item with finite billing cycles.",
      "properties": {
        "billingCycleCountLimit": {
          "description": "The number of a subscription line item billing cycles after which billing will stop automatically.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "FiniteBillingCycleDetails",
      "type": "object"
    },
    "ExtendSubscriptionResponse": {
      "id": "ExtendSubscriptionResponse",
      "type": "object",
      "description": "Response that contains the timestamps after the extension.",
      "properties": {
        "cycleEndTime": {
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime",
          "type": "string"
        },
        "renewalTime": {
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "freeTrialEndTime": {
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SubscriptionCancellationDetails": {
      "id": "SubscriptionCancellationDetails",
      "type": "object",
      "description": "Describes the details of a cancelled or cancelling subscription.",
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_BILLING_SYSTEM_SWITCH",
            "CANCELLATION_REASON_OTHER"
          ],
          "description": "Output only. The reason of the cancellation.",
          "readOnly": true,
          "enumDescriptions": [
            "Reason is unspecified. Should not be used.",
            "Fraudulent transaction.",
            "Buyer's remorse.",
            "Accidental purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Cancellation due to a billing system switch.",
            "Other reason."
          ]
        }
      }
    },
    "EntitleSubscriptionIntent": {
      "id": "EntitleSubscriptionIntent",
      "type": "object",
      "description": "Intent for entitling the previously provisioned subscription to an end user.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the subscription resource that is entitled to the current end user. It is in the format of \"partners/{partner_id}/subscriptions/{subscriptionId}\"."
        }
      }
    },
    "EntitleSubscriptionRequestLineItemEntitlementDetails": {
      "id": "EntitleSubscriptionRequestLineItemEntitlementDetails",
      "type": "object",
      "description": "The details of the line item to be entitled.",
      "properties": {
        "lineItemIndex": {
          "description": "Required. The index of the line item to be entitled.",
          "format": "int32",
          "type": "integer"
        },
        "products": {
          "description": "Optional. Only applicable if the line item corresponds to a hard bundle. Product resource names that identify the bundle elements to be entitled in the line item. If unspecified, all bundle elements will be entitled. The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PromotionIntroductoryPricingDetails": {
      "description": "The details of a introductory pricing promotion.",
      "properties": {
        "introductoryPricingSpecs": {
          "type": "array",
          "items": {
            "$ref": "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          },
          "readOnly": true,
          "description": "Output only. Specifies the introductory pricing periods."
        }
      },
      "id": "PromotionIntroductoryPricingDetails",
      "type": "object"
    },
    "GenerateUserSessionResponse": {
      "id": "GenerateUserSessionResponse",
      "type": "object",
      "description": "Response that contains the details for generated user session.",
      "properties": {
        "userSession": {
          "$ref": "UserSession",
          "description": "The generated user session. The token size is proportional to the size of the intent payload."
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "Describes a location of an end user.",
      "properties": {
        "postalCode": {
          "description": "The postal code this location refers to. Ex. \"94043\"",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
        }
      }
    },
    "EntitleSubscriptionResponse": {
      "description": "Response that contains the entitled subscription resource.",
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "The subscription that has user linked to it."
        }
      },
      "id": "EntitleSubscriptionResponse",
      "type": "object"
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "type": "object",
      "description": "Response that contains the products.",
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "Product"
          },
          "description": "The products for the specified partner."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "ResumeSubscriptionRequest": {
      "id": "ResumeSubscriptionRequest",
      "type": "object",
      "description": "Request to resume a suspended subscription.",
      "properties": {
        "cycleOptions": {
          "description": "Optional. The cycle options for the subscription.",
          "$ref": "CycleOptions"
        },
        "resumeMode": {
          "type": "string",
          "description": "Required. The mode to resume the subscription.",
          "enumDescriptions": [
            "Reserved for invalid or unexpected value. Do not use.",
            "Resume the subscription using the input from `cycle_options`.",
            "Resume the subscription with the existing billing schedule. The subscription's next renewal time must still be in the future for this mode to be applicable."
          ],
          "enum": [
            "RESUME_MODE_UNSPECIFIED",
            "RESUME_MODE_CYCLE_OPTIONS",
            "RESUME_MODE_RESTORE_EXISTING_BILLING_SCHEDULE"
          ]
        }
      }
    },
    "Extension": {
      "description": "Describes the details of an extension request.",
      "properties": {
        "duration": {
          "$ref": "Duration",
          "description": "Required. Specifies the period of access the subscription should grant."
        },
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system.",
          "type": "string"
        }
      },
      "id": "Extension",
      "type": "object"
    },
    "SubscriptionLineItemOneTimeRecurrenceDetails": {
      "id": "SubscriptionLineItemOneTimeRecurrenceDetails",
      "type": "object",
      "description": "Details for a ONE_TIME recurrence line item.",
      "properties": {
        "servicePeriod": {
          "readOnly": true,
          "$ref": "ServicePeriod",
          "description": "Output only. The service period of the ONE_TIME line item."
        }
      }
    },
    "ListPromotionsResponse": {
      "description": "Response that contains the promotions.",
      "properties": {
        "promotions": {
          "type": "array",
          "items": {
            "$ref": "Promotion"
          },
          "description": "The promotions for the specified partner."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListPromotionsResponse",
      "type": "object"
    },
    "SuspendSubscriptionRequest": {
      "description": "Request to suspend a subscription.",
      "properties": {},
      "id": "SuspendSubscriptionRequest",
      "type": "object"
    },
    "IntentPayloadIntentOptions": {
      "id": "IntentPayloadIntentOptions",
      "type": "object",
      "description": "The options for the intent.",
      "properties": {
        "enableOfferOverride": {
          "description": "Optional. If true, Google may use a different product and promotion id from the ones in the `create_intent` based on the user's eligibility. Only applicable for certain YouTube free trial offers.",
          "type": "boolean"
        }
      }
    },
    "SubscriptionLineItemBundleDetailsBundleElementDetails": {
      "description": "The details for an element in the hard bundle.",
      "properties": {
        "product": {
          "readOnly": true,
          "description": "Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "string"
        },
        "userAccountLinkedTime": {
          "readOnly": true,
          "description": "Output only. The time when this product is linked to an end user.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "SubscriptionLineItemBundleDetailsBundleElementDetails",
      "type": "object"
    },
    "CancelSubscriptionRequest": {
      "id": "CancelSubscriptionRequest",
      "type": "object",
      "description": "Request to cancel a subscription.",
      "properties": {
        "cancellationReason": {
          "type": "string",
          "description": "Specifies the reason for the cancellation.",
          "enumDescriptions": [
            "Reason is unspecified. Should not be used.",
            "Fraudulent transaction.",
            "Buyer's remorse.",
            "Accidental purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Cancellation due to a billing system switch.",
            "Other reason."
          ],
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_BILLING_SYSTEM_SWITCH",
            "CANCELLATION_REASON_OTHER"
          ]
        },
        "cancelImmediately": {
          "description": "Optional. If true, Google will cancel the subscription immediately, and may or may not (based on the contract) issue a prorated refund for the remainder of the billing cycle. Otherwise, Google defers the cancellation at renewal_time, and will not issue a refund. - YouTube subscriptions must use this option currently. However, the user will still have access to the subscription until the end of the billing cycle.",
          "type": "boolean"
        }
      }
    },
    "UndoCancelSubscriptionRequest": {
      "id": "UndoCancelSubscriptionRequest",
      "type": "object",
      "description": "Request to revoke a cancellation request.",
      "properties": {}
    },
    "CreateSubscriptionIntent": {
      "id": "CreateSubscriptionIntent",
      "type": "object",
      "description": "Intent message for creating a Subscription resource.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name, which is the identifier of the partner."
        },
        "subscriptionId": {
          "type": "string",
          "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one."
        },
        "subscription": {
          "$ref": "Subscription",
          "description": "Required. The Subscription to be created."
        },
        "cycleOptions": {
          "description": "Optional. The cycle options for the subscription.",
          "$ref": "CycleOptions"
        }
      }
    },
    "CycleOptions": {
      "id": "CycleOptions",
      "type": "object",
      "description": "The cycle options when starting and resuming a subscription.",
      "properties": {
        "initialCycleDuration": {
          "description": "Optional. The duration of the initial cycle. Only `DAY` is supported. If set, Google will start the subscription with this initial cycle duration starting at the request time (see available methods below). A prorated charge will be applied. This option is available to the following methods: - partners.subscriptions.provision - partners.subscriptions.resume - partners.userSessions.generate ",
          "$ref": "Duration"
        }
      }
    }
  },
  "resources": {
    "partners": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListProductsResponse"
              },
              "id": "paymentsresellersubscription.partners.products.list",
              "path": "v1/{+parent}/products",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token."
                }
              },
              "description": "Currently, it doesn't support **YouTube** products. Retrieves the products that can be resold by the partner. It should be authenticated with a service account.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/products",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ]
            }
          }
        },
        "promotions": {
          "methods": {
            "findEligible": {
              "flatPath": "v1/partners/{partnersId}/promotions:findEligible",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "FindEligiblePromotionsRequest"
              },
              "response": {
                "$ref": "FindEligiblePromotionsResponse"
              },
              "id": "paymentsresellersubscription.partners.promotions.findEligible",
              "path": "v1/{+parent}/promotions:findEligible",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Currently, it is only enabled for **YouTube**. Finds eligible promotions for the current user. The API requires user authorization via OAuth. The bare minimum oauth scope `openid` is sufficient, which will skip the consent screen.",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "flatPath": "v1/partners/{partnersId}/promotions",
              "path": "v1/{+parent}/promotions",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 promotions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token."
                }
              },
              "description": "Currently, it doesn't support **YouTube** promotions. Retrieves the promotions, such as free trial, that can be used by the partner. It should be authenticated with a service account.",
              "parameterOrder": [
                "parent"
              ],
              "id": "paymentsresellersubscription.partners.promotions.list",
              "response": {
                "$ref": "ListPromotionsResponse"
              }
            }
          }
        },
        "subscriptions": {
          "resources": {
            "lineItems": {
              "methods": {
                "patch": {
                  "id": "paymentsresellersubscription.partners.subscriptions.lineItems.patch",
                  "response": {
                    "$ref": "SubscriptionLineItem"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Resource name of the line item. Format: partners/{partner}/subscriptions/{subscription}/lineItems/{lineItem}",
                      "pattern": "^partners/[^/]+/subscriptions/[^/]+/lineItems/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to update. Only a limited set of fields can be updated. The allowed fields are the following: - `product_payload.googleHomePayload.googleStructureId`",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Updates a line item of a subscription. It should be authenticated with a service account.",
                  "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}/lineItems/{lineItemsId}",
                  "request": {
                    "$ref": "SubscriptionLineItem"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sdm.service"
                  ]
                }
              }
            }
          },
          "methods": {
            "extend": {
              "response": {
                "$ref": "ExtendSubscriptionResponse"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:extend",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\".",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "location": "path"
                }
              },
              "description": "[Opt-in only] Most partners should be on auto-extend by default. Extends a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts.",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "ExtendSubscriptionRequest"
              }
            },
            "provision": {
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "Subscription"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions:provision",
              "path": "v1/{+parent}/subscriptions:provision",
              "httpMethod": "POST",
              "parameters": {
                "cycleOptions.initialCycleDuration.count": {
                  "location": "query",
                  "type": "integer",
                  "description": "number of duration units to be included.",
                  "format": "int32"
                },
                "subscriptionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription with the same ID already exists, the creation fails with an `ALREADY_EXISTS` error."
                },
                "cycleOptions.initialCycleDuration.unit": {
                  "type": "string",
                  "enum": [
                    "UNIT_UNSPECIFIED",
                    "MONTH",
                    "DAY",
                    "HOUR"
                  ],
                  "location": "query",
                  "description": "The unit used for the duration",
                  "enumDescriptions": [
                    "Default value, reserved as an invalid or an unexpected value.",
                    "Unit of a calendar month.",
                    "Unit of a day.",
                    "Unit of an hour. It is used for testing."
                  ]
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "pattern": "^partners/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.provision"
            },
            "entitle": {
              "id": "paymentsresellersubscription.partners.subscriptions.entitle",
              "response": {
                "$ref": "EntitleSubscriptionResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:entitle",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Entitles a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle",
              "request": {
                "$ref": "EntitleSubscriptionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ]
            },
            "suspend": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:suspend",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the subscription resource to be suspended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$"
                }
              },
              "description": "Suspends a subscription. Contract terms may dictate if a prorated refund will be issued upon suspension. It should be called directly by the partner using service accounts.",
              "id": "paymentsresellersubscription.partners.subscriptions.suspend",
              "response": {
                "$ref": "SuspendSubscriptionResponse"
              },
              "request": {
                "$ref": "SuspendSubscriptionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:suspend"
            },
            "resume": {
              "path": "v1/{+name}:resume",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the subscription resource to be resumed. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Resumes a suspended subscription. The new billing cycle will start at the time of the request. It should be called directly by the partner using service accounts.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ResumeSubscriptionResponse"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.resume",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "ResumeSubscriptionRequest"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:resume"
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "CancelSubscriptionRequest"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel",
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$"
                }
              },
              "description": "Cancels a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CancelSubscriptionResponse"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.cancel"
            },
            "undoCancel": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:undoCancel",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Currently, it is used by **Google One, Play Pass** partners. Revokes the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.",
              "response": {
                "$ref": "UndoCancelSubscriptionResponse"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "UndoCancelSubscriptionRequest"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Gets a subscription by id. It should be called directly by the partner using service accounts.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.get"
            },
            "create": {
              "response": {
                "$ref": "Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/subscriptions",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "subscriptionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription with the same ID already exists, the creation fails with an `ALREADY_EXISTS` error."
                }
              },
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.",
              "flatPath": "v1/partners/{partnersId}/subscriptions",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "Subscription"
              }
            }
          }
        },
        "userSessions": {
          "methods": {
            "generate": {
              "flatPath": "v1/partners/{partnersId}/userSessions:generate",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "GenerateUserSessionRequest"
              },
              "response": {
                "$ref": "GenerateUserSessionResponse"
              },
              "id": "paymentsresellersubscription.partners.userSessions.generate",
              "path": "v1/{+parent}/userSessions:generate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "location": "path"
                }
              },
              "description": "This API replaces user authorized OAuth consent based APIs (Create, Entitle). Issues a timed session token for the given user intent. You can use the session token to redirect the user to Google to finish the signup flow. You can re-generate new session token repeatedly for the same request if necessary, regardless of the previous tokens being expired or not. By default, the session token is valid for 1 hour.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sdm.service": {
          "description": "See and/or control the devices that you selected"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Payments Reseller Subscription",
  "description": ""
}