{
  "version": "v1",
  "discoveryVersion": "v1",
  "servicePath": "",
  "id": "paymentsresellersubscription:v1",
  "ownerName": "Google",
  "description": "",
  "resources": {
    "partners": {
      "resources": {
        "userSessions": {
          "methods": {
            "generate": {
              "path": "v1/{+parent}/userSessions:generate",
              "description": "This API replaces user authorized OAuth consent based APIs (Create, Entitle). Issues a timed session token for the given user intent. You can use the session token to redirect the user to Google to finish the signup flow. You can re-generate new session token repeatedly for the same request if necessary, regardless of the previous tokens being expired or not. By default, the session token is valid for 1 hour.",
              "id": "paymentsresellersubscription.partners.userSessions.generate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/userSessions:generate",
              "httpMethod": "POST",
              "request": {
                "$ref": "GenerateUserSessionRequest"
              },
              "response": {
                "$ref": "GenerateUserSessionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ]
            }
          }
        },
        "products": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/products",
              "description": "Currently, it doesn't support **YouTube** products. Retrieves the products that can be resold by the partner. It should be authenticated with a service account.",
              "id": "paymentsresellersubscription.partners.products.list",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/products",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ]
            }
          }
        },
        "promotions": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/promotions",
              "description": "Currently, it doesn't support **YouTube** promotions. Retrieves the promotions, such as free trial, that can be used by the partner. It should be authenticated with a service account.",
              "id": "paymentsresellersubscription.partners.promotions.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 promotions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/promotions",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPromotionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ]
            },
            "findEligible": {
              "id": "paymentsresellersubscription.partners.promotions.findEligible",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Currently, it is only enabled for **YouTube**. Finds eligible promotions for the current user. The API requires user authorization via OAuth. The bare minimum oauth scope `openid` is sufficient, which will skip the consent screen.",
              "path": "v1/{+parent}/promotions:findEligible",
              "request": {
                "$ref": "FindEligiblePromotionsRequest"
              },
              "response": {
                "$ref": "FindEligiblePromotionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/promotions:findEligible",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "subscriptions": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Subscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "path": "v1/{+name}",
              "description": "Gets a subscription by id. It should be called directly by the partner using service accounts.",
              "id": "paymentsresellersubscription.partners.subscriptions.get",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "undoCancel": {
              "httpMethod": "POST",
              "request": {
                "$ref": "UndoCancelSubscriptionRequest"
              },
              "response": {
                "$ref": "UndoCancelSubscriptionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel",
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}:undoCancel",
              "description": "Currently, it is used by **Google One, Play Pass** partners. Revokes the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts."
            },
            "resume": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:resume",
              "httpMethod": "POST",
              "request": {
                "$ref": "ResumeSubscriptionRequest"
              },
              "response": {
                "$ref": "ResumeSubscriptionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "path": "v1/{+name}:resume",
              "description": "Resumes a suspended subscription. The new billing cycle will start at the time of the request. It should be called directly by the partner using service accounts.",
              "id": "paymentsresellersubscription.partners.subscriptions.resume",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the subscription resource to be resumed. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "entitle": {
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "EntitleSubscriptionRequest"
              },
              "response": {
                "$ref": "EntitleSubscriptionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "httpMethod": "POST",
              "description": "Entitles a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "path": "v1/{+name}:entitle",
              "id": "paymentsresellersubscription.partners.subscriptions.entitle",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "cancel": {
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelSubscriptionRequest"
              },
              "response": {
                "$ref": "CancelSubscriptionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel",
              "id": "paymentsresellersubscription.partners.subscriptions.cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}:cancel",
              "description": "Cancels a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions",
              "httpMethod": "POST",
              "request": {
                "$ref": "Subscription"
              },
              "response": {
                "$ref": "Subscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "path": "v1/{+parent}/subscriptions",
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.",
              "id": "paymentsresellersubscription.partners.subscriptions.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "pattern": "^partners/[^/]+$",
                  "required": true
                },
                "subscriptionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription with the same ID already exists, the creation fails with an `ALREADY_EXISTS` error."
                }
              }
            },
            "suspend": {
              "id": "paymentsresellersubscription.partners.subscriptions.suspend",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the subscription resource to be suspended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$"
                }
              },
              "description": "Suspends a subscription. Contract terms may dictate if a prorated refund will be issued upon suspension. It should be called directly by the partner using service accounts.",
              "path": "v1/{+name}:suspend",
              "request": {
                "$ref": "SuspendSubscriptionRequest"
              },
              "response": {
                "$ref": "SuspendSubscriptionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:suspend",
              "parameterOrder": [
                "name"
              ]
            },
            "extend": {
              "request": {
                "$ref": "ExtendSubscriptionRequest"
              },
              "response": {
                "$ref": "ExtendSubscriptionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend",
              "parameterOrder": [
                "name"
              ],
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\".",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "[Opt-in only] Most partners should be on auto-extend by default. Extends a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts.",
              "path": "v1/{+name}:extend"
            },
            "provision": {
              "path": "v1/{+parent}/subscriptions:provision",
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.",
              "id": "paymentsresellersubscription.partners.subscriptions.provision",
              "parameters": {
                "subscriptionId": {
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription with the same ID already exists, the creation fails with an `ALREADY_EXISTS` error.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "pattern": "^partners/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "cycleOptions.initialCycleDuration.unit": {
                  "type": "string",
                  "enum": [
                    "UNIT_UNSPECIFIED",
                    "MONTH",
                    "DAY",
                    "HOUR"
                  ],
                  "description": "The unit used for the duration",
                  "enumDescriptions": [
                    "Default value, reserved as an invalid or an unexpected value.",
                    "Unit of a calendar month.",
                    "Unit of a day.",
                    "Unit of an hour. It is used for testing."
                  ],
                  "location": "query"
                },
                "cycleOptions.initialCycleDuration.count": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "number of duration units to be included."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions:provision",
              "httpMethod": "POST",
              "request": {
                "$ref": "Subscription"
              },
              "response": {
                "$ref": "Subscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ]
            }
          },
          "resources": {
            "lineItems": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "SubscriptionLineItem"
                  },
                  "response": {
                    "$ref": "SubscriptionLineItem"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sdm.service"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}/lineItems/{lineItemsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "paymentsresellersubscription.partners.subscriptions.lineItems.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. Resource name of the line item. Format: partners/{partner}/subscriptions/{subscription}/lineItems/{lineItem}",
                      "pattern": "^partners/[^/]+/subscriptions/[^/]+/lineItems/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to update. Only a limited set of fields can be updated. The allowed fields are the following: - `product_payload.googleHomePayload.googleStructureId`",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates a line item of a subscription. It should be authenticated with a service account.",
                  "path": "v1/{+name}"
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "version_module": true,
  "schemas": {
    "ProductPayload": {
      "description": "Specifies product specific payload.",
      "id": "ProductPayload",
      "properties": {
        "googleOnePayload": {
          "description": "Product-specific payloads. Payload specific to Google One products.",
          "$ref": "GoogleOnePayload"
        },
        "youtubePayload": {
          "description": "Payload specific to Youtube products.",
          "$ref": "YoutubePayload"
        },
        "googleHomePayload": {
          "description": "Payload specific to Google Home products.",
          "$ref": "GoogleHomePayload"
        }
      },
      "type": "object"
    },
    "IntentPayload": {
      "description": "The payload that describes the user intent.",
      "type": "object",
      "id": "IntentPayload",
      "properties": {
        "createIntent": {
          "description": "The request to create a subscription.",
          "$ref": "CreateSubscriptionIntent"
        },
        "entitleIntent": {
          "description": "The request to entitle a subscription.",
          "$ref": "EntitleSubscriptionIntent"
        },
        "intentOptions": {
          "description": "Optional. The additional features for the intent.",
          "$ref": "IntentPayloadIntentOptions"
        }
      }
    },
    "SubscriptionLineItemBundleDetailsBundleElementDetails": {
      "type": "object",
      "id": "SubscriptionLineItemBundleDetailsBundleElementDetails",
      "properties": {
        "userAccountLinkedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when this product is linked to an end user.",
          "readOnly": true
        },
        "product": {
          "description": "Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The details for an element in the hard bundle."
    },
    "FiniteBillingCycleDetails": {
      "description": "Details for a subscription line item with finite billing cycles.",
      "id": "FiniteBillingCycleDetails",
      "properties": {
        "billingCycleCountLimit": {
          "description": "The number of a subscription line item billing cycles after which billing will stop automatically.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleTypeLocalizedText": {
      "id": "GoogleTypeLocalizedText",
      "properties": {
        "text": {
          "description": "Localized string in the language corresponding to language_code below.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      },
      "type": "object",
      "description": "Localized variant of a text in a particular language."
    },
    "Subscription": {
      "type": "object",
      "id": "Subscription",
      "properties": {
        "updateTime": {
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "promotionSpecs": {
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionPromotionSpec"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\". This is available for authorizeAddon, but otherwise is response only."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE",
            "STATE_SUSPENDED"
          ],
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled. This is the final state of the subscription, as it can no longer be modified or reactivated.",
            "The subscription is in grace period. It can happen: 1) in manual extend mode, the subscription is not extended by the partner at the end of current cycle. 2) for outbound authorization enabled partners, a renewal purchase order is rejected.",
            "The subscription is waiting to be cancelled by the next recurrence cycle.",
            "The subscription is suspended."
          ],
          "type": "string",
          "readOnly": true
        },
        "purchaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The timestamp when the user transaction was made with the Partner. Specify for the case of \"bundle with choice\", and it must be before the provision_time (when the user makes a selection)."
        },
        "cycleEndTime": {
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\"",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "products": {
          "description": "Optional. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "upgradeDowngradeDetails": {
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription.",
          "$ref": "SubscriptionUpgradeDowngradeDetails"
        },
        "renewalTime": {
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "freeTrialEndTime": {
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum.",
          "type": "string"
        },
        "processingState": {
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING",
            "PROCESSING_STATE_RESUMING"
          ],
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring.",
            "The subscription is being resumed."
          ],
          "type": "string",
          "readOnly": true
        },
        "lineItems": {
          "description": "Required. The line items of the subscription.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionLineItem"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone.",
          "readOnly": true
        },
        "cancellationDetails": {
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`.",
          "readOnly": true,
          "$ref": "SubscriptionCancellationDetails"
        },
        "migrationDetails": {
          "description": "Output only. Describes the details of the migrated subscription. Only populated if this subscription is migrated from another system.",
          "readOnly": true,
          "$ref": "SubscriptionMigrationDetails"
        },
        "serviceLocation": {
          "description": "Required. The location that the service is provided as indicated by the partner.",
          "$ref": "Location"
        },
        "endUserEntitled": {
          "type": "boolean",
          "description": "Output only. Indicates if the subscription is entitled to the end user.",
          "readOnly": true
        },
        "redirectUri": {
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.",
          "readOnly": true,
          "type": "string"
        },
        "promotions": {
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Acts as a central billing entity between an external partner and Google. Google services use the subscription state to grant or revoke the user's service entitlement. Note: The subscription state might not perfectly align with the user's service entitlement. Some services might continue providing access until the current cycle ends, even if the subscription is immediately canceled. Consult the relevant contract or product policy for specific details."
    },
    "ServicePeriod": {
      "id": "ServicePeriod",
      "properties": {
        "startTime": {
          "description": "Required. The start time of the service period. Time is inclusive.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The end time of the service period. Time is exclusive."
        }
      },
      "type": "object",
      "description": "A description of what time period or moment in time the product or service is being delivered over."
    },
    "SubscriptionPromotionSpec": {
      "id": "SubscriptionPromotionSpec",
      "properties": {
        "promotion": {
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "description": "Output only. The type of the promotion for the spec.",
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "readOnly": true
        },
        "freeTrialDuration": {
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL.",
          "readOnly": true,
          "$ref": "Duration"
        },
        "introductoryPricingDetails": {
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING.",
          "readOnly": true,
          "$ref": "PromotionIntroductoryPricingDetails"
        }
      },
      "type": "object",
      "description": "Describes the spec for one promotion."
    },
    "ExtendSubscriptionRequest": {
      "id": "ExtendSubscriptionRequest",
      "properties": {
        "requestId": {
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle.",
          "type": "string"
        },
        "extension": {
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription.",
          "$ref": "Extension"
        }
      },
      "type": "object",
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product."
    },
    "SubscriptionMigrationDetails": {
      "type": "object",
      "id": "SubscriptionMigrationDetails",
      "properties": {
        "migratedSubscriptionId": {
          "type": "string",
          "description": "Output only. The migrated subscription id in the legacy system.",
          "readOnly": true
        }
      },
      "description": "Describes the details of the migrated subscription."
    },
    "EntitleSubscriptionResponse": {
      "description": "Response that contains the entitled subscription resource.",
      "id": "EntitleSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The subscription that has user linked to it.",
          "$ref": "Subscription"
        }
      },
      "type": "object"
    },
    "GoogleOnePayload": {
      "description": "Payload specific to Google One products.",
      "type": "object",
      "id": "GoogleOnePayload",
      "properties": {
        "storeId": {
          "type": "string",
          "description": "The identifier for the partner store where the subscription was sold."
        },
        "salesChannel": {
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_RETAIL",
            "CHANNEL_ONLINE_WEB",
            "CHANNEL_ONLINE_ANDROID_APP",
            "CHANNEL_ONLINE_IOS_APP"
          ],
          "description": "The type of sales channel through which the subscription was sold.",
          "enumDescriptions": [
            "The channel type is unspecified.",
            "Sold at store.",
            "Sold through partner website.",
            "Sold through partner android app.",
            "Sold through partner iOS app."
          ],
          "type": "string"
        },
        "campaigns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Campaign attributed to sales of this subscription."
        },
        "offering": {
          "type": "string",
          "description": "The type of offering the subscription was sold by the partner. e.g. VAS.",
          "enumDescriptions": [
            "The type of partner offering is unspecified.",
            "Google One product purchased as a Value added service in addition to existing partner's products. Customer pays additional amount for Google One product.",
            "Google One product purchased by itself by customer as a value add service. Customer pays additional amount for Google One product.",
            "Product purchased as part of a hard bundle where Google One was included with the bundle. Google One pricing is included in the bundle.",
            "Purchased as part of a bundle where Google One was provided as an option. Google One pricing is included in the bundle."
          ],
          "enum": [
            "OFFERING_UNSPECIFIED",
            "OFFERING_VAS_BUNDLE",
            "OFFERING_VAS_STANDALONE",
            "OFFERING_HARD_BUNDLE",
            "OFFERING_SOFT_BUNDLE"
          ]
        }
      }
    },
    "ProductPriceConfig": {
      "id": "ProductPriceConfig",
      "properties": {
        "amount": {
          "$ref": "Amount",
          "description": "Output only. The price in the region.",
          "readOnly": true
        },
        "regionCode": {
          "type": "string",
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Configs the prices in an available region."
    },
    "YoutubePayload": {
      "type": "object",
      "id": "YoutubePayload",
      "properties": {
        "partnerPlanType": {
          "type": "string",
          "description": "Optional. Specifies the plan type offered to the end user by the partner.",
          "enumDescriptions": [
            "Unspecified. Should not use, reserved as an invalid value.",
            "This item is offered as a standalone product to the user.",
            "This item is bundled with another partner offering, the item is provisioned at purchase time.",
            "This item is bundled with another partner offering, the item is provisioned after puchase, when the user opts in this Google service."
          ],
          "enum": [
            "PARTNER_PLAN_TYPE_UNSPECIFIED",
            "PARTNER_PLAN_TYPE_STANDALONE",
            "PARTNER_PLAN_TYPE_HARD_BUNDLE",
            "PARTNER_PLAN_TYPE_SOFT_BUNDLE"
          ]
        },
        "partnerEligibilityIds": {
          "description": "The list of eligibility_ids which are applicable for the line item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accessEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The access expiration time for this line item.",
          "readOnly": true
        }
      },
      "description": "Payload specific to Youtube products."
    },
    "UserSession": {
      "description": "Contains a short-lived token containing information required to interact with the Google Payments Reseller Platform via web endpoints. - Generate a user session token dynamically for an authenticated user. Do not share a token directly with a user in an unauthenticated context, such as SMS or email. - You can regenerate new session tokens repeatedly for the same `generate` request if necessary, regardless of whether previous tokens have expired. Multiple sessions will not result in duplicate fulfillments because the `subscription ID` guarantees uniqueness. For more integration details, see the [Google Managed Signup](/payments/reseller/subscription/reference/index/User.Signup.Integration/Google.Managed.Signup) documentation.",
      "type": "object",
      "id": "UserSession",
      "properties": {
        "token": {
          "description": "Output only. The encrypted token of the user session, including the information of the user's intent and request. This token should be provided when redirecting the user to Google.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the user session expires.",
          "readOnly": true
        }
      }
    },
    "FindEligiblePromotionsResponse": {
      "description": "Response containing the found promotions for the current user.",
      "type": "object",
      "id": "FindEligiblePromotionsResponse",
      "properties": {
        "promotions": {
          "description": "The promotions for the current user.",
          "type": "array",
          "items": {
            "$ref": "Promotion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "SuspendSubscriptionRequest": {
      "type": "object",
      "id": "SuspendSubscriptionRequest",
      "properties": {},
      "description": "Request to suspend a subscription."
    },
    "EntitleSubscriptionRequest": {
      "id": "EntitleSubscriptionRequest",
      "properties": {
        "lineItemEntitlementDetails": {
          "description": "Optional. The line items to be entitled. If unspecified, all line items will be entitled.",
          "type": "array",
          "items": {
            "$ref": "EntitleSubscriptionRequestLineItemEntitlementDetails"
          }
        }
      },
      "type": "object",
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context."
    },
    "IntentPayloadIntentOptions": {
      "description": "The options for the intent.",
      "type": "object",
      "id": "IntentPayloadIntentOptions",
      "properties": {
        "enableOfferOverride": {
          "description": "Optional. If true, Google may use a different product and promotion id from the ones in the `create_intent` based on the user's eligibility. Only applicable for certain YouTube free trial offers.",
          "type": "boolean"
        }
      }
    },
    "SubscriptionLineItem": {
      "id": "SubscriptionLineItem",
      "properties": {
        "amount": {
          "description": "Output only. The price of the product/service in this line item. The amount could be the wholesale price, or it can include a cost of sale based on the contract.",
          "readOnly": true,
          "$ref": "Amount"
        },
        "productPayload": {
          "description": "Optional. Product specific payload for this line item.",
          "$ref": "ProductPayload"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the line item. Format: partners/{partner}/subscriptions/{subscription}/lineItems/{lineItem}"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the line item.",
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state. If the subscription is cancelled or suspended, the line item will not be charged even if the line item is active.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated, and a prorated refund in being processed.",
            "The line item is scheduled to be deactivated at the end of the current cycle.",
            "Line item is being charged off-cycle."
          ],
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING",
            "LINE_ITEM_STATE_WAITING_TO_DEACTIVATE",
            "LINE_ITEM_STATE_OFF_CYCLE_CHARGING"
          ],
          "type": "string"
        },
        "recurrenceType": {
          "description": "Output only. The recurrence type of the line item.",
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ],
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ],
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of this line item.",
          "readOnly": true
        },
        "product": {
          "type": "string",
          "description": "Required. Product resource name that identifies the product associated with this line item. The format is 'partners/{partner_id}/products/{product_id}'."
        },
        "oneTimeRecurrenceDetails": {
          "description": "Output only. Details only set for a ONE_TIME recurrence line item.",
          "readOnly": true,
          "$ref": "SubscriptionLineItemOneTimeRecurrenceDetails"
        },
        "lineItemPromotionSpecs": {
          "description": "Optional. The promotions applied on the line item. It can be: - an introductory pricing promotion. - a free trial promotion. This feature is not enabled. If used, the request will be rejected. When used as input in Create or Provision API, specify its resource name only.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionPromotionSpec"
          }
        },
        "lineItemFreeTrialEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The free trial end time will be populated after the line item is successfully processed. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "readOnly": true
        },
        "finiteBillingCycleDetails": {
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely. Used only with LINE_ITEM_RECURRENCE_TYPE_PERIODIC.",
          "$ref": "FiniteBillingCycleDetails"
        },
        "lineItemIndex": {
          "description": "Output only. A unique index of the subscription line item.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "bundleDetails": {
          "$ref": "SubscriptionLineItemBundleDetails",
          "description": "Output only. The bundle details for the line item. Only populated if the line item corresponds to a hard bundle.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Individual line item definition of a subscription."
    },
    "EntitleSubscriptionIntent": {
      "description": "Intent for entitling the previously provisioned subscription to an end user.",
      "id": "EntitleSubscriptionIntent",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the subscription resource that is entitled to the current end user. It is in the format of \"partners/{partner_id}/subscriptions/{subscriptionId}\"."
        }
      },
      "type": "object"
    },
    "CancelSubscriptionRequest": {
      "type": "object",
      "id": "CancelSubscriptionRequest",
      "properties": {
        "cancellationReason": {
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_BILLING_SYSTEM_SWITCH",
            "CANCELLATION_REASON_OTHER"
          ],
          "description": "Specifies the reason for the cancellation.",
          "enumDescriptions": [
            "Reason is unspecified. Should not be used.",
            "Fraudulent transaction.",
            "Buyer's remorse.",
            "Accidental purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Cancellation due to a billing system switch.",
            "Other reason."
          ],
          "type": "string"
        },
        "cancelImmediately": {
          "description": "Optional. If true, Google will cancel the subscription immediately, and may or may not (based on the contract) issue a prorated refund for the remainder of the billing cycle. Otherwise, Google defers the cancellation at renewal_time, and will not issue a refund. - YouTube subscriptions must use this option currently. However, the user will still have access to the subscription until the end of the billing cycle.",
          "type": "boolean"
        }
      },
      "description": "Request to cancel a subscription."
    },
    "SubscriptionCancellationDetails": {
      "description": "Describes the details of a cancelled or cancelling subscription.",
      "type": "object",
      "id": "SubscriptionCancellationDetails",
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_BILLING_SYSTEM_SWITCH",
            "CANCELLATION_REASON_OTHER"
          ],
          "description": "Output only. The reason of the cancellation.",
          "enumDescriptions": [
            "Reason is unspecified. Should not be used.",
            "Fraudulent transaction.",
            "Buyer's remorse.",
            "Accidental purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Cancellation due to a billing system switch.",
            "Other reason."
          ],
          "readOnly": true
        }
      }
    },
    "GoogleHomePayload": {
      "id": "GoogleHomePayload",
      "properties": {
        "partnerStructureId": {
          "description": "Optional. This identifies the structure ID on partner side that the subscription should be applied to. Only required when the partner requires structure mapping.",
          "type": "string"
        },
        "googleStructureId": {
          "description": "Optional. Structure identifier on Google side.",
          "type": "string"
        },
        "attachedToGoogleStructure": {
          "type": "boolean",
          "description": "Output only. This identifies whether the subscription is attached to a Google Home structure.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Payload specific for Google Home products."
    },
    "PromotionIntroductoryPricingDetails": {
      "description": "The details of a introductory pricing promotion.",
      "id": "PromotionIntroductoryPricingDetails",
      "properties": {
        "introductoryPricingSpecs": {
          "type": "array",
          "items": {
            "$ref": "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          },
          "description": "Output only. Specifies the introductory pricing periods.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "EntitleSubscriptionRequestLineItemEntitlementDetails": {
      "description": "The details of the line item to be entitled.",
      "type": "object",
      "id": "EntitleSubscriptionRequestLineItemEntitlementDetails",
      "properties": {
        "lineItemIndex": {
          "description": "Required. The index of the line item to be entitled.",
          "type": "integer",
          "format": "int32"
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Only applicable if the line item corresponds to a hard bundle. Product resource names that identify the bundle elements to be entitled in the line item. If unspecified, all bundle elements will be entitled. The format is 'partners/{partner_id}/products/{product_id}'."
        }
      }
    },
    "ResumeSubscriptionRequest": {
      "description": "Request to resume a suspended subscription.",
      "type": "object",
      "id": "ResumeSubscriptionRequest",
      "properties": {
        "cycleOptions": {
          "description": "Optional. The cycle options for the subscription.",
          "$ref": "CycleOptions"
        },
        "resumeMode": {
          "type": "string",
          "enum": [
            "RESUME_MODE_UNSPECIFIED",
            "RESUME_MODE_CYCLE_OPTIONS",
            "RESUME_MODE_RESTORE_EXISTING_BILLING_SCHEDULE"
          ],
          "description": "Required. The mode to resume the subscription.",
          "enumDescriptions": [
            "Reserved for invalid or unexpected value. Do not use.",
            "Resume the subscription using the input from `cycle_options`.",
            "Resume the subscription with the existing billing schedule. The subscription's next renewal time must still be in the future for this mode to be applicable."
          ]
        }
      }
    },
    "CancelSubscriptionResponse": {
      "id": "CancelSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The cancelled subscription resource.",
          "$ref": "Subscription"
        }
      },
      "type": "object",
      "description": "Response that contains the cancelled subscription resource."
    },
    "SubscriptionLineItemOneTimeRecurrenceDetails": {
      "type": "object",
      "id": "SubscriptionLineItemOneTimeRecurrenceDetails",
      "properties": {
        "servicePeriod": {
          "description": "Output only. The service period of the ONE_TIME line item.",
          "readOnly": true,
          "$ref": "ServicePeriod"
        }
      },
      "description": "Details for a ONE_TIME recurrence line item."
    },
    "CreateSubscriptionIntent": {
      "type": "object",
      "id": "CreateSubscriptionIntent",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one."
        },
        "cycleOptions": {
          "description": "Optional. The cycle options for the subscription.",
          "$ref": "CycleOptions"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name, which is the identifier of the partner."
        },
        "subscription": {
          "description": "Required. The Subscription to be created.",
          "$ref": "Subscription"
        }
      },
      "description": "Intent message for creating a Subscription resource."
    },
    "SuspendSubscriptionResponse": {
      "description": "Response that contains the suspended subscription.",
      "id": "SuspendSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The suspended subscription resource.",
          "$ref": "Subscription"
        }
      },
      "type": "object"
    },
    "ProductBundleDetailsBundleElement": {
      "description": "The individual product that is included in the bundle.",
      "id": "ProductBundleDetailsBundleElement",
      "properties": {
        "product": {
          "description": "Required. Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListProductsResponse": {
      "description": "Response that contains the products.",
      "type": "object",
      "id": "ListProductsResponse",
      "properties": {
        "products": {
          "description": "The products for the specified partner.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "UndoCancelSubscriptionResponse": {
      "description": "Response that contains the updated subscription resource.",
      "id": "UndoCancelSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The updated subscription resource.",
          "$ref": "Subscription"
        }
      },
      "type": "object"
    },
    "Promotion": {
      "type": "object",
      "id": "Promotion",
      "properties": {
        "freeTrialDuration": {
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL",
          "$ref": "Duration"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely."
        },
        "introductoryPricingDetails": {
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING.",
          "$ref": "PromotionIntroductoryPricingDetails"
        },
        "name": {
          "description": "Identifier. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\"",
          "type": "string"
        },
        "regionCodes": {
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refer to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "startTime": {
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in.",
          "type": "string",
          "format": "google-datetime"
        },
        "promotionType": {
          "type": "string",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "description": "Output only. Specifies the type of the promotion.",
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "readOnly": true
        },
        "applicableProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The product ids this promotion can be applied to.",
          "readOnly": true
        },
        "titles": {
          "type": "array",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "description": "Output only. Localized human readable name of the promotion.",
          "readOnly": true
        }
      },
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold."
    },
    "Location": {
      "description": "Describes a location of an end user.",
      "id": "Location",
      "properties": {
        "postalCode": {
          "description": "The postal code this location refers to. Ex. \"94043\"",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
        }
      },
      "type": "object"
    },
    "SubscriptionUpgradeDowngradeDetails": {
      "id": "SubscriptionUpgradeDowngradeDetails",
      "properties": {
        "billingCycleSpec": {
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY",
            "BILLING_CYCLE_SPEC_DEFERRED_TO_NEXT_RECURRENCE"
          ],
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.",
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription starts immediately but aligns with the previous subscription it upgrades or downgrades from. First cycle of the new subscription will be prorated.",
            "The billing cycle of the new subscription starts immediately.",
            "The new subscription will have the same `renewalTime` as the previous subscription, while the previous subscription is scheduled for cancellation at that same time."
          ],
          "type": "string"
        },
        "previousSubscriptionId": {
          "type": "string",
          "description": "Required. The previous subscription id to be replaced. The format can be one of the following: 1. `subscription_id`: the old subscription id under the same partner_id. 2. `partners/{partner_id}/subscriptions/{subscription_id}`. A different partner_id is allowed. But they must be under the same partner group."
        }
      },
      "type": "object",
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from."
    },
    "UndoCancelSubscriptionRequest": {
      "description": "Request to revoke a cancellation request.",
      "type": "object",
      "id": "UndoCancelSubscriptionRequest",
      "properties": {}
    },
    "Product": {
      "id": "Product",
      "properties": {
        "productType": {
          "readOnly": true,
          "description": "Output only. Specifies the type of the product.",
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "The product is a subscription.",
            "The product is a bundled subscription plan, which includes multiple subscription elements."
          ],
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_SUBSCRIPTION",
            "PRODUCT_TYPE_BUNDLE_SUBSCRIPTION"
          ],
          "type": "string"
        },
        "regionCodes": {
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refer to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "priceConfigs": {
          "description": "Output only. Price configs for the product in the available regions.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ProductPriceConfig"
          }
        },
        "titles": {
          "description": "Output only. Localized human readable name of the product.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          }
        },
        "subscriptionBillingCycleDuration": {
          "description": "Output only. Specifies the length of the billing cycle of the subscription.",
          "readOnly": true,
          "$ref": "Duration"
        },
        "name": {
          "description": "Identifier. Response only. Resource name of the product. It will have the format of \"partners/{partner_id}/products/{product_id}\"",
          "type": "string"
        },
        "finiteBillingCycleDetails": {
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely.",
          "$ref": "FiniteBillingCycleDetails"
        },
        "bundleDetails": {
          "$ref": "ProductBundleDetails",
          "description": "Output only. Specifies the details for a bundle product.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A Product resource that defines a subscription service that can be resold."
    },
    "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "id": "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "readOnly": true
        },
        "discountAmount": {
          "$ref": "Amount",
          "description": "Output only. The discount amount. The value is positive.",
          "readOnly": true
        },
        "recurrenceCount": {
          "description": "Output only. The duration of an introductory offer in billing cycles.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "discountRatioMicros": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The discount percentage in micros. For example, 50,000 represents 5%.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The duration of an introductory pricing promotion."
    },
    "Duration": {
      "description": "Describes the length of a period of a time.",
      "type": "object",
      "id": "Duration",
      "properties": {
        "unit": {
          "description": "The unit used for the duration",
          "enumDescriptions": [
            "Default value, reserved as an invalid or an unexpected value.",
            "Unit of a calendar month.",
            "Unit of a day.",
            "Unit of an hour. It is used for testing."
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY",
            "HOUR"
          ],
          "type": "string"
        },
        "count": {
          "description": "number of duration units to be included.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SubscriptionLineItemBundleDetails": {
      "description": "The bundle details for a line item corresponding to a hard bundle.",
      "id": "SubscriptionLineItemBundleDetails",
      "properties": {
        "bundleElementDetails": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionLineItemBundleDetailsBundleElementDetails"
          },
          "description": "Output only. The details for each element in the hard bundle.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CycleOptions": {
      "id": "CycleOptions",
      "properties": {
        "initialCycleDuration": {
          "description": "Optional. The duration of the initial cycle. Only `DAY` is supported. If set, Google will start the subscription with this initial cycle duration starting at the request time (see available methods below). A prorated charge will be applied. This option is available to the following methods: - partners.subscriptions.provision - partners.subscriptions.resume - partners.userSessions.generate ",
          "$ref": "Duration"
        }
      },
      "type": "object",
      "description": "The cycle options when starting and resuming a subscription."
    },
    "GenerateUserSessionResponse": {
      "type": "object",
      "id": "GenerateUserSessionResponse",
      "properties": {
        "userSession": {
          "description": "The generated user session. The token size is proportional to the size of the intent payload.",
          "$ref": "UserSession"
        }
      },
      "description": "Response that contains the details for generated user session."
    },
    "FindEligiblePromotionsRequest": {
      "id": "FindEligiblePromotionsRequest",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 promotions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `FindEligiblePromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FindEligiblePromotions` must match the call that provided the page token."
        }
      },
      "type": "object",
      "description": "Request to find eligible promotions for the current user."
    },
    "ExtendSubscriptionResponse": {
      "type": "object",
      "id": "ExtendSubscriptionResponse",
      "properties": {
        "cycleEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\""
        },
        "renewalTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "readOnly": true
        },
        "freeTrialEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner."
        }
      },
      "description": "Response that contains the timestamps after the extension."
    },
    "Extension": {
      "id": "Extension",
      "properties": {
        "partnerUserToken": {
          "type": "string",
          "description": "Required. Identifier of the end-user in partner’s system."
        },
        "duration": {
          "description": "Required. Specifies the period of access the subscription should grant.",
          "$ref": "Duration"
        }
      },
      "type": "object",
      "description": "Describes the details of an extension request."
    },
    "ResumeSubscriptionResponse": {
      "description": "Response that contains the resumed subscription.",
      "type": "object",
      "id": "ResumeSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The resumed subscription resource.",
          "$ref": "Subscription"
        }
      }
    },
    "ProductBundleDetails": {
      "description": "Details for a bundle product.",
      "type": "object",
      "id": "ProductBundleDetails",
      "properties": {
        "bundleElements": {
          "type": "array",
          "items": {
            "$ref": "ProductBundleDetailsBundleElement"
          },
          "description": "The individual products that are included in the bundle."
        },
        "entitlementMode": {
          "type": "string",
          "description": "The entitlement mode of the bundle product.",
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "All the bundle elements must be fully activated in a single request.",
            "The bundle elements could be incrementally activated."
          ],
          "enum": [
            "ENTITLEMENT_MODE_UNSPECIFIED",
            "ENTITLEMENT_MODE_FULL",
            "ENTITLEMENT_MODE_INCREMENTAL"
          ]
        }
      }
    },
    "Amount": {
      "id": "Amount",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency codes in accordance with [ISO-4217 Currency Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD."
        },
        "amountMicros": {
          "description": "Required. Amount in micros (1_000_000 micros = 1 currency unit)",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Describes the amount unit including the currency code."
    },
    "GenerateUserSessionRequest": {
      "description": "Request to generate a user session.",
      "id": "GenerateUserSessionRequest",
      "properties": {
        "intentPayload": {
          "description": "The user intent to generate the user session.",
          "$ref": "IntentPayload"
        }
      },
      "type": "object"
    },
    "ListPromotionsResponse": {
      "id": "ListPromotionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "promotions": {
          "description": "The promotions for the specified partner.",
          "type": "array",
          "items": {
            "$ref": "Promotion"
          }
        }
      },
      "type": "object",
      "description": "Response that contains the promotions."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "title": "Payments Reseller Subscription API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sdm.service": {
          "description": "See and/or control the devices that you selected"
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://paymentsresellersubscription.mtls.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260423",
  "canonicalName": "Payments Reseller Subscription",
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "name": "paymentsresellersubscription"
}