{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's Google Workspace directory"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        }
      }
    }
  },
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "canonicalName": "People Service",
  "discoveryVersion": "v1",
  "resources": {
    "people": {
      "methods": {
        "searchDirectoryPeople": {
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "path": "v1/people:searchDirectoryPeople",
          "httpMethod": "GET",
          "flatPath": "v1/people:searchDirectoryPeople",
          "parameters": {
            "readMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token.",
              "location": "query"
            },
            "query": {
              "type": "string",
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match.",
              "location": "query"
            },
            "sources": {
              "repeated": true,
              "location": "query",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "type": "string",
              "description": "Required. Directory sources to return.",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ]
            },
            "mergeSources": {
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "type": "string",
              "location": "query",
              "repeated": true
            }
          },
          "id": "people.people.searchDirectoryPeople",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "parameterOrder": []
        },
        "batchCreateContacts": {
          "path": "v1/people:batchCreateContacts",
          "httpMethod": "POST",
          "flatPath": "v1/people:batchCreateContacts",
          "request": {
            "$ref": "BatchCreateContactsRequest"
          },
          "id": "people.people.batchCreateContacts",
          "parameters": {},
          "parameterOrder": [],
          "description": "Create a batch of new contacts and return the PersonResponses for the newly Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "BatchCreateContactsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "batchDeleteContacts": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "people.people.batchDeleteContacts",
          "parameters": {},
          "parameterOrder": [],
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/people:batchDeleteContacts",
          "httpMethod": "POST",
          "flatPath": "v1/people:batchDeleteContacts",
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          }
        },
        "listDirectoryPeople": {
          "parameters": {
            "readMask": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            },
            "sources": {
              "repeated": true,
              "location": "query",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "type": "string",
              "description": "Required. Directory sources to return.",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ]
            },
            "mergeSources": {
              "repeated": true,
              "location": "query",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "type": "string",
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ]
            },
            "syncToken": {
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the sync token. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the page token.",
              "location": "query"
            },
            "requestSyncToken": {
              "type": "boolean",
              "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query"
            }
          },
          "id": "people.people.listDirectoryPeople",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the directory people that have changed](/people/v1/directory#list_the_directory_people_that_have_changed).",
          "parameterOrder": [],
          "path": "v1/people:listDirectoryPeople",
          "httpMethod": "GET",
          "flatPath": "v1/people:listDirectoryPeople",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "response": {
            "$ref": "ListDirectoryPeopleResponse"
          }
        },
        "getBatchGet": {
          "flatPath": "v1/people:batchGet",
          "path": "v1/people:batchGet",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "id": "people.people.getBatchGet",
          "parameters": {
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "location": "query",
              "repeated": true
            },
            "resourceNames": {
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=<name1>&resourceNames=<name2>&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "requestMask.includeField": {
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GetPeopleResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ]
        },
        "get": {
          "response": {
            "$ref": "Person"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "flatPath": "v1/people/{peopleId}",
          "path": "v1/{+resourceName}",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "id": "people.people.get",
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`.",
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "location": "path"
            },
            "requestMask.includeField": {
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "personFields": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string"
            },
            "sources": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set."
            }
          }
        },
        "deleteContactPhoto": {
          "parameters": {
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "sources": {
              "repeated": true,
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ]
            },
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "type": "string"
            }
          },
          "id": "people.people.deleteContactPhoto",
          "description": "Delete a contact's photo. Mutate requests for the same user should be done sequentially to avoid // lock contention.",
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "httpMethod": "DELETE",
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          }
        },
        "createContact": {
          "parameters": {
            "personFields": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string"
            },
            "sources": {
              "location": "query",
              "repeated": true,
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "type": "string"
            }
          },
          "id": "people.people.createContact",
          "description": "Create a new contact and return the person resource for that contact. The request returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameterOrder": [],
          "path": "v1/people:createContact",
          "httpMethod": "POST",
          "flatPath": "v1/people:createContact",
          "request": {
            "$ref": "Person"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "Person"
          }
        },
        "updateContact": {
          "path": "v1/{+resourceName}:updateContact",
          "httpMethod": "PATCH",
          "flatPath": "v1/people/{peopleId}:updateContact",
          "request": {
            "$ref": "Person"
          },
          "id": "people.people.updateContact",
          "parameters": {
            "personFields": {
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "location": "query",
              "repeated": true
            },
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "location": "path",
              "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
              "required": true,
              "type": "string"
            },
            "updatePersonFields": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Update contact data for an existing contact person. Any non-contact data will not be modified. Any non-contact data in the person to update will be ignored. All fields specified in the `update_mask` will be replaced. The server returns a 400 error if `person.metadata.sources` is not specified for the contact to be updated or if there is no contact source. The server returns a 400 error with reason `\"failedPrecondition\"` if `person.metadata.sources.etag` is different than the contact's etag, which indicates the contact has changed since its data was read. Clients should get the latest person and merge their updates into the latest person. If making sequential updates to the same person, the etag from the `updateContact` response should be used to avoid failures. The server returns a 400 error if `memberships` are being updated and there are no contact group memberships specified on the person. The server returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "Person"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "batchUpdateContacts": {
          "response": {
            "$ref": "BatchUpdateContactsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people:batchUpdateContacts",
          "request": {
            "$ref": "BatchUpdateContactsRequest"
          },
          "path": "v1/people:batchUpdateContacts",
          "httpMethod": "POST",
          "description": "Update a batch of contacts and return a map of resource names to PersonResponses for the updated contacts. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameterOrder": [],
          "parameters": {},
          "id": "people.people.batchUpdateContacts"
        },
        "updateContactPhoto": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "description": "Update a contact's photo. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "type": "string",
              "description": "Required. Person resource name",
              "required": true,
              "pattern": "^people/[^/]+$",
              "location": "path"
            }
          },
          "id": "people.people.updateContactPhoto",
          "flatPath": "v1/people/{peopleId}:updateContactPhoto",
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          },
          "path": "v1/{+resourceName}:updateContactPhoto",
          "httpMethod": "PATCH"
        },
        "searchContacts": {
          "path": "v1/people:searchContacts",
          "httpMethod": "GET",
          "flatPath": "v1/people:searchContacts",
          "id": "people.people.searchContacts",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "location": "query",
              "format": "int32"
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "query": {
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
          "response": {
            "$ref": "SearchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ]
        },
        "deleteContact": {
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "path": "v1/{+resourceName}:deleteContact",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Delete a contact person. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.people.deleteContact",
          "parameters": {
            "resourceName": {
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the contact to delete.",
              "pattern": "^people/[^/]+$",
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "path": "v1/{+resourceName}/connections",
              "httpMethod": "GET",
              "flatPath": "v1/people/{peopleId}/connections",
              "parameters": {
                "requestSyncToken": {
                  "type": "boolean",
                  "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`.",
                  "location": "query"
                },
                "personFields": {
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "requestMask.includeField": {
                  "type": "string",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "sources": {
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                    "READ_SOURCE_TYPE_OTHER_CONTACT"
                  ],
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT.",
                    "Returns SourceType.OTHER_CONTACT."
                  ],
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
                },
                "sortOrder": {
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "syncToken": {
                  "type": "string",
                  "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
                  "location": "query",
                  "type": "integer"
                },
                "resourceName": {
                  "pattern": "^people/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid."
                }
              },
              "id": "people.people.connections.list",
              "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed).",
              "parameterOrder": [
                "resourceName"
              ],
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ]
            }
          }
        }
      }
    },
    "otherContacts": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "response": {
            "$ref": "ListOtherContactsResponse"
          },
          "parameters": {
            "readMask": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. What values are valid depend on what ReadSourceType is used. If READ_SOURCE_TYPE_CONTACT is used, valid values are: * emailAddresses * metadata * names * phoneNumbers * photos If READ_SOURCE_TYPE_PROFILE is used, valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            },
            "syncToken": {
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`.",
              "location": "query",
              "type": "string"
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set. Possible values for this field are: * READ_SOURCE_TYPE_CONTACT * READ_SOURCE_TYPE_CONTACT,READ_SOURCE_TYPE_PROFILE Specifying READ_SOURCE_TYPE_PROFILE without specifying READ_SOURCE_TYPE_CONTACT is not permitted.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "pageSize": {
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token.",
              "location": "query"
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`.",
              "location": "query",
              "type": "boolean"
            }
          },
          "id": "people.otherContacts.list",
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's other contacts that have changed](/people/v1/other-contacts#list_the_users_other_contacts_that_have_changed).",
          "parameterOrder": [],
          "path": "v1/otherContacts",
          "httpMethod": "GET",
          "flatPath": "v1/otherContacts"
        },
        "search": {
          "response": {
            "$ref": "SearchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "path": "v1/otherContacts:search",
          "httpMethod": "GET",
          "flatPath": "v1/otherContacts:search",
          "id": "people.otherContacts.search",
          "parameters": {
            "query": {
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "location": "query",
              "type": "integer"
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts"
        },
        "copyOtherContactToMyContactsGroup": {
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
          "httpMethod": "POST",
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          },
          "parameters": {
            "resourceName": {
              "pattern": "^otherContacts/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "required": true
            }
          },
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "Person"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ]
        }
      }
    },
    "contactGroups": {
      "methods": {
        "batchGet": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "parameterOrder": [],
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "id": "people.contactGroups.batchGet",
          "parameters": {
            "resourceNames": {
              "repeated": true,
              "type": "string",
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "location": "query"
            },
            "maxMembers": {
              "format": "int32",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "type": "integer"
            },
            "groupFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query"
            }
          },
          "flatPath": "v1/contactGroups:batchGet",
          "path": "v1/contactGroups:batchGet",
          "httpMethod": "GET"
        },
        "create": {
          "flatPath": "v1/contactGroups",
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "path": "v1/contactGroups",
          "httpMethod": "POST",
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameterOrder": [],
          "parameters": {},
          "id": "people.contactGroups.create",
          "response": {
            "$ref": "ContactGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "delete": {
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "path": "v1/{+resourceName}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.contactGroups.delete",
          "parameters": {
            "deleteContacts": {
              "type": "boolean",
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "location": "query"
            },
            "resourceName": {
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the contact group to delete.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "update": {
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.contactGroups.update",
          "parameters": {
            "resourceName": {
              "required": true,
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "type": "string",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "path": "v1/{+resourceName}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "ContactGroup"
          }
        },
        "get": {
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the contact group to get.",
              "required": true,
              "type": "string",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path"
            },
            "groupFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query"
            },
            "maxMembers": {
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "people.contactGroups.get",
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}",
          "httpMethod": "GET",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "response": {
            "$ref": "ContactGroup"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "id": "people.contactGroups.list",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "location": "query"
            },
            "groupFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "path": "v1/contactGroups",
          "httpMethod": "GET",
          "flatPath": "v1/contactGroups"
        }
      },
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "path": "v1/{+resourceName}/members:modify",
              "httpMethod": "POST",
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "id": "people.contactGroups.members.modify",
              "parameters": {
                "resourceName": {
                  "pattern": "^contactGroups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the contact group to modify.",
                  "required": true
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ]
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "title": "People API",
  "basePath": "",
  "name": "people",
  "servicePath": "",
  "ownerName": "Google",
  "version_module": true,
  "version": "v1",
  "id": "people:v1",
  "protocol": "rest",
  "rootUrl": "https://people.googleapis.com/",
  "documentationLink": "https://developers.google.com/people/",
  "baseUrl": "https://people.googleapis.com/",
  "schemas": {
    "Relation": {
      "id": "Relation",
      "type": "object",
      "description": "A person's relation to another person.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`"
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
        },
        "metadata": {
          "description": "Metadata about the relation.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "RelationshipStatus": {
      "description": "**DEPRECATED**: No data will be returned A person's relationship status.",
      "id": "RelationshipStatus",
      "type": "object",
      "deprecated": true,
      "properties": {
        "metadata": {
          "description": "Metadata about the relationship status.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`"
        },
        "formattedValue": {
          "type": "string",
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        }
      }
    },
    "ModifyContactGroupMembersRequest": {
      "id": "ModifyContactGroupMembersRequest",
      "type": "object",
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "properties": {
        "resourceNamesToAdd": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000."
        },
        "resourceNamesToRemove": {
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Gender": {
      "description": "A person's gender.",
      "properties": {
        "metadata": {
          "description": "Metadata about the gender.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`",
          "type": "string"
        },
        "formattedValue": {
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized.",
          "readOnly": true,
          "type": "string"
        },
        "addressMeAs": {
          "description": "Free form text field for pronouns that should be used to address the person. Common values are: * `he`/`him` * `she`/`her` * `they`/`them`",
          "type": "string"
        }
      },
      "id": "Gender",
      "type": "object"
    },
    "ProfileMetadata": {
      "id": "ProfileMetadata",
      "type": "object",
      "description": "The metadata about a profile.",
      "properties": {
        "objectType": {
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string",
          "description": "Output only. The profile object type.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ]
        },
        "userTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ],
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ],
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The user types."
        }
      }
    },
    "ClientData": {
      "id": "ClientData",
      "type": "object",
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        },
        "metadata": {
          "description": "Metadata about the client data.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "Skill": {
      "description": "A skill that the person has.",
      "properties": {
        "metadata": {
          "description": "Metadata about the skill.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        }
      },
      "id": "Skill",
      "type": "object"
    },
    "PersonResponse": {
      "description": "The response for a single person",
      "properties": {
        "person": {
          "description": "The person.",
          "$ref": "Person"
        },
        "requestedResourceName": {
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL.",
          "type": "string"
        },
        "httpStatusCode": {
          "format": "int32",
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "deprecated": true,
          "type": "integer"
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        }
      },
      "id": "PersonResponse",
      "type": "object"
    },
    "Biography": {
      "id": "Biography",
      "type": "object",
      "description": "A person's short biography.",
      "properties": {
        "metadata": {
          "description": "Metadata about the biography.",
          "$ref": "FieldMetadata"
        },
        "contentType": {
          "description": "The content type of the biography.",
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "type": "string"
        },
        "value": {
          "description": "The short biography.",
          "type": "string"
        }
      }
    },
    "GroupClientData": {
      "id": "GroupClientData",
      "type": "object",
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "properties": {
        "value": {
          "description": "The client specified value of the client data.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        }
      }
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "type": "object",
      "description": "The response to a request for the authenticated user's connections.",
      "properties": {
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`.",
          "type": "string"
        },
        "totalPeople": {
          "format": "int32",
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination.",
          "deprecated": true,
          "type": "integer"
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of items in the list without pagination.",
          "format": "int32"
        },
        "connections": {
          "description": "The list of people that the requestor is connected to.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "PersonMetadata": {
      "description": "The metadata about a person.",
      "properties": {
        "sources": {
          "description": "The sources of data for the person.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "previousResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL."
        },
        "objectType": {
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "deprecated": true
        },
        "linkedPeopleResourceNames": {
          "description": "Output only. Resource names of people linked to this resource.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests.",
          "type": "boolean"
        }
      },
      "id": "PersonMetadata",
      "type": "object"
    },
    "ListContactGroupsResponse": {
      "description": "The response to a list contact groups request.",
      "properties": {
        "totalItems": {
          "description": "The total number of items in the list without pagination.",
          "format": "int32",
          "type": "integer"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "The token that can be used to retrieve changes since the last request."
        },
        "contactGroups": {
          "type": "array",
          "items": {
            "$ref": "ContactGroup"
          },
          "description": "The list of contact groups. Members of the contact groups are not populated."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used to retrieve the next page of results."
        }
      },
      "id": "ListContactGroupsResponse",
      "type": "object"
    },
    "UpdateContactGroupRequest": {
      "id": "UpdateContactGroupRequest",
      "type": "object",
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        },
        "updateGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name",
          "format": "google-fieldmask",
          "type": "string"
        },
        "readGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "FileAs": {
      "id": "FileAs",
      "type": "object",
      "description": "The name that should be used to sort the person in a list.",
      "properties": {
        "metadata": {
          "description": "Metadata about the file-as.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The file-as value"
        }
      }
    },
    "BatchCreateContactsRequest": {
      "description": "A request to create a batch of contacts.",
      "properties": {
        "sources": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ]
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        },
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "ContactToCreate"
          },
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request."
        },
        "readMask": {
          "type": "string",
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask"
        }
      },
      "id": "BatchCreateContactsRequest",
      "type": "object"
    },
    "BatchDeleteContactsRequest": {
      "description": "A request to delete a batch of existing contacts.",
      "properties": {
        "resourceNames": {
          "description": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeleteContactsRequest",
      "type": "object"
    },
    "UpdateContactPhotoRequest": {
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG.",
      "properties": {
        "photoBytes": {
          "format": "byte",
          "description": "Required. Raw photo bytes",
          "type": "string"
        },
        "personFields": {
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        },
        "sources": {
          "items": {
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ]
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        }
      },
      "id": "UpdateContactPhotoRequest",
      "type": "object"
    },
    "ModifyContactGroupMembersResponse": {
      "id": "ModifyContactGroupMembersResponse",
      "type": "object",
      "description": "The response to a modify contact group members request.",
      "properties": {
        "notFoundResourceNames": {
          "description": "The contact people resource names that were not found.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "canNotRemoveLastContactGroupResourceNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The contact people resource names that cannot be removed from their last contact group."
        }
      }
    },
    "ContactGroup": {
      "description": "A contact group.",
      "properties": {
        "formattedName": {
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
          "type": "string"
        },
        "memberCount": {
          "type": "integer",
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "readOnly": true,
          "format": "int32"
        },
        "memberResourceNames": {
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
          "type": "string"
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "clientData": {
          "items": {
            "$ref": "GroupClientData"
          },
          "type": "array",
          "description": "The group's client data."
        },
        "metadata": {
          "description": "Output only. Metadata about the contact group.",
          "readOnly": true,
          "$ref": "ContactGroupMetadata"
        },
        "groupType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "description": "Output only. The contact group type.",
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ]
        },
        "name": {
          "type": "string",
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error."
        }
      },
      "id": "ContactGroup",
      "type": "object"
    },
    "CoverPhoto": {
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the cover photo."
        },
        "metadata": {
          "description": "Metadata about the cover photo.",
          "$ref": "FieldMetadata"
        },
        "default": {
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo.",
          "type": "boolean"
        }
      },
      "id": "CoverPhoto",
      "type": "object"
    },
    "Source": {
      "description": "The source of a field.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation."
        },
        "type": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ],
          "type": "string",
          "description": "The source type.",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ]
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        },
        "profileMetadata": {
          "readOnly": true,
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "$ref": "ProfileMetadata"
        }
      },
      "id": "Source",
      "type": "object"
    },
    "ContactToCreate": {
      "id": "ContactToCreate",
      "type": "object",
      "description": "A wrapper that contains the person data to populate a newly created source.",
      "properties": {
        "contactPerson": {
          "description": "Required. The person data to populate a newly created source.",
          "$ref": "Person"
        }
      }
    },
    "Nickname": {
      "description": "A person's nickname.",
      "properties": {
        "type": {
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            false,
            true
          ],
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "type": "string",
          "description": "The type of the nickname.",
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ]
        },
        "value": {
          "type": "string",
          "description": "The nickname."
        },
        "metadata": {
          "description": "Metadata about the nickname.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Nickname",
      "type": "object"
    },
    "SipAddress": {
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "properties": {
        "formattedType": {
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the SIP address.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`"
        },
        "value": {
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format.",
          "type": "string"
        }
      },
      "id": "SipAddress",
      "type": "object"
    },
    "Membership": {
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "properties": {
        "metadata": {
          "description": "Metadata about the membership.",
          "$ref": "FieldMetadata"
        },
        "domainMembership": {
          "$ref": "DomainMembership",
          "readOnly": true,
          "description": "Output only. The domain membership."
        },
        "contactGroupMembership": {
          "description": "The contact group membership.",
          "$ref": "ContactGroupMembership"
        }
      },
      "id": "Membership",
      "type": "object"
    },
    "PhoneNumber": {
      "description": "A person's phone number.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The phone number."
        },
        "metadata": {
          "description": "Metadata about the phone number.",
          "$ref": "FieldMetadata"
        },
        "canonicalForm": {
          "type": "string",
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "id": "PhoneNumber",
      "type": "object"
    },
    "Photo": {
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "properties": {
        "default": {
          "type": "boolean",
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo."
        },
        "metadata": {
          "description": "Metadata about the photo.",
          "$ref": "FieldMetadata"
        },
        "url": {
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50",
          "type": "string"
        }
      },
      "id": "Photo",
      "type": "object"
    },
    "DeleteContactPhotoResponse": {
      "description": "The response for deleting a contact's photo.",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      },
      "id": "DeleteContactPhotoResponse",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "ListOtherContactsResponse": {
      "id": "ListOtherContactsResponse",
      "type": "object",
      "description": "The response to a request for the authenticated user's \"Other contacts\".",
      "properties": {
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "otherContacts": {
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information.",
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalSize": {
          "description": "The total number of other contacts in the list without pagination.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Birthday": {
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated.",
          "deprecated": true
        },
        "metadata": {
          "description": "Metadata about the birthday.",
          "$ref": "FieldMetadata"
        },
        "date": {
          "description": "The structured date of the birthday.",
          "$ref": "Date"
        }
      },
      "id": "Birthday",
      "type": "object"
    },
    "BatchGetContactGroupsResponse": {
      "description": "The response to a batch get contact groups request.",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "ContactGroupResponse"
          },
          "description": "The list of responses for each requested contact group resource."
        }
      },
      "id": "BatchGetContactGroupsResponse",
      "type": "object"
    },
    "BraggingRights": {
      "deprecated": true,
      "properties": {
        "metadata": {
          "description": "Metadata about the bragging rights.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The bragging rights; for example, `climbed mount everest`."
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights.",
      "id": "BraggingRights",
      "type": "object"
    },
    "BatchCreateContactsResponse": {
      "description": "If not successful, returns BatchCreateContactsErrorDetails which contains a list of errors for each invalid contact. The response to a request to create a batch of contacts.",
      "properties": {
        "createdPeople": {
          "description": "The contacts that were created, unless the request `read_mask` is empty.",
          "items": {
            "$ref": "PersonResponse"
          },
          "type": "array"
        }
      },
      "id": "BatchCreateContactsResponse",
      "type": "object"
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "properties": {
        "costCenter": {
          "type": "string",
          "description": "The person's cost center at the organization."
        },
        "type": {
          "type": "string",
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "domain": {
[...]
