{
  "ownerName": "Google",
  "baseUrl": "https://people.googleapis.com/",
  "id": "people:v1",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "people",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "type": "object",
      "description": "The response to a request for the authenticated user's connections.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`.",
          "type": "string"
        },
        "totalPeople": {
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "connections": {
          "type": "array",
          "description": "The list of people that the requestor is connected to.",
          "items": {
            "$ref": "Person"
          }
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of items in the list without pagination.",
          "format": "int32"
        }
      }
    },
    "ContactGroupResponse": {
      "description": "The response for a specific contact group.",
      "properties": {
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name."
        },
        "contactGroup": {
          "description": "The contact group.",
          "$ref": "ContactGroup"
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        }
      },
      "id": "ContactGroupResponse",
      "type": "object"
    },
    "ContactGroupMembership": {
      "properties": {
        "contactGroupResourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership.",
          "type": "string"
        },
        "contactGroupId": {
          "deprecated": true,
          "type": "string",
          "description": "Output only. The contact group ID for the contact group membership.",
          "readOnly": true
        }
      },
      "description": "A Google contact group membership.",
      "id": "ContactGroupMembership",
      "type": "object"
    },
    "Photo": {
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "properties": {
        "metadata": {
          "description": "Metadata about the photo.",
          "$ref": "FieldMetadata"
        },
        "url": {
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50",
          "type": "string"
        },
        "default": {
          "type": "boolean",
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo."
        }
      },
      "id": "Photo",
      "type": "object"
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "description": "A request to copy an \"Other contact\" to my contacts group.",
      "properties": {
        "readMask": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask"
        },
        "sources": {
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ]
          },
          "type": "array"
        },
        "copyMask": {
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "CopyOtherContactToMyContactsGroupRequest",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object"
    },
    "Gender": {
      "properties": {
        "value": {
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`",
          "type": "string"
        },
        "addressMeAs": {
          "type": "string",
          "description": "Free form text field for pronouns that should be used to address the person. Common values are: * `he`/`him` * `she`/`her` * `they`/`them`"
        },
        "metadata": {
          "description": "Metadata about the gender.",
          "$ref": "FieldMetadata"
        },
        "formattedValue": {
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A person's gender.",
      "id": "Gender",
      "type": "object"
    },
    "Organization": {
      "id": "Organization",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
        },
        "name": {
          "type": "string",
          "description": "The name of the organization."
        },
        "fullTimeEquivalentMillipercent": {
          "type": "integer",
          "description": "The person's full-time equivalent millipercent within the organization (100000 = 100%).",
          "format": "int32"
        },
        "startDate": {
          "description": "The start date when the person joined the organization.",
          "$ref": "Date"
        },
        "jobDescription": {
          "type": "string",
          "description": "The person's job description at the organization."
        },
        "endDate": {
          "description": "The end date when the person left the organization.",
          "$ref": "Date"
        },
        "current": {
          "type": "boolean",
          "description": "True if the organization is the person's current organization; false if the organization is a past organization."
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the organization.",
          "$ref": "FieldMetadata"
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "domain": {
          "type": "string",
          "description": "The domain name associated with the organization; for example, `google.com`."
        },
        "title": {
          "type": "string",
          "description": "The person's job title at the organization."
        },
        "costCenter": {
          "type": "string",
          "description": "The person's cost center at the organization."
        }
      },
      "description": "A person's past or current organization. Overlapping date ranges are permitted."
    },
    "CreateContactGroupRequest": {
      "id": "CreateContactGroupRequest",
      "type": "object",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to create.",
          "$ref": "ContactGroup"
        },
        "readGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "A request to create a new contact group."
    },
    "Person": {
      "properties": {
        "userDefined": {
          "description": "The person's user defined data.",
          "items": {
            "$ref": "UserDefined"
          },
          "type": "array"
        },
        "birthdays": {
          "type": "array",
          "items": {
            "$ref": "Birthday"
          },
          "description": "The person's birthdays. This field is a singleton for contact sources."
        },
        "interests": {
          "type": "array",
          "items": {
            "$ref": "Interest"
          },
          "description": "The person's interests."
        },
        "photos": {
          "type": "array",
          "description": "Output only. The person's photos.",
          "readOnly": true,
          "items": {
            "$ref": "Photo"
          }
        },
        "calendarUrls": {
          "description": "The person's calendar URLs.",
          "items": {
            "$ref": "CalendarUrl"
          },
          "type": "array"
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "Skill"
          },
          "description": "The person's skills."
        },
        "genders": {
          "type": "array",
          "description": "The person's genders. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Gender"
          }
        },
        "relationshipStatuses": {
          "items": {
            "$ref": "RelationshipStatus"
          },
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "type": "array",
          "deprecated": true,
          "readOnly": true
        },
        "relationshipInterests": {
          "readOnly": true,
          "items": {
            "$ref": "RelationshipInterest"
          },
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "type": "array",
          "deprecated": true
        },
        "braggingRights": {
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights.",
          "items": {
            "$ref": "BraggingRights"
          },
          "deprecated": true,
          "type": "array"
        },
        "coverPhotos": {
          "description": "Output only. The person's cover photos.",
          "readOnly": true,
          "items": {
            "$ref": "CoverPhoto"
          },
          "type": "array"
        },
        "urls": {
          "type": "array",
          "description": "The person's associated URLs.",
          "items": {
            "$ref": "Url"
          }
        },
        "addresses": {
          "type": "array",
          "description": "The person's street addresses.",
          "items": {
            "$ref": "Address"
          }
        },
        "ageRanges": {
          "type": "array",
          "items": {
            "$ref": "AgeRangeType"
          },
          "description": "Output only. The person's age ranges.",
          "readOnly": true
        },
        "fileAses": {
          "items": {
            "$ref": "FileAs"
          },
          "description": "The person's file-ases.",
          "type": "array"
        },
        "miscKeywords": {
          "type": "array",
          "items": {
            "$ref": "MiscKeyword"
          },
          "description": "The person's miscellaneous keywords."
        },
        "events": {
          "type": "array",
          "description": "The person's events.",
          "items": {
            "$ref": "Event"
          }
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`."
        },
        "phoneNumbers": {
          "type": "array",
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople.",
          "items": {
            "$ref": "PhoneNumber"
          }
        },
        "names": {
          "description": "The person's names. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Name"
          },
          "type": "array"
        },
        "emailAddresses": {
          "items": {
            "$ref": "EmailAddress"
          },
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople.",
          "type": "array"
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "description": "The person's relations.",
          "type": "array"
        },
        "externalIds": {
          "type": "array",
          "description": "The person's external IDs.",
          "items": {
            "$ref": "ExternalId"
          }
        },
        "taglines": {
          "items": {
            "$ref": "Tagline"
          },
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "type": "array",
          "deprecated": true,
          "readOnly": true
        },
        "imClients": {
          "type": "array",
          "items": {
            "$ref": "ImClient"
          },
          "description": "The person's instant messaging clients."
        },
        "sipAddresses": {
          "type": "array",
          "items": {
            "$ref": "SipAddress"
          },
          "description": "The person's SIP addresses."
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "description": "The person's locale preferences.",
          "type": "array"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "The person's locations."
        },
        "ageRange": {
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        },
        "memberships": {
          "type": "array",
          "description": "The person's group memberships.",
          "items": {
            "$ref": "Membership"
          }
        },
        "occupations": {
          "items": {
            "$ref": "Occupation"
          },
          "description": "The person's occupations.",
          "type": "array"
        },
        "clientData": {
          "type": "array",
          "items": {
            "$ref": "ClientData"
          },
          "description": "The person's client data."
        },
        "nicknames": {
          "items": {
            "$ref": "Nickname"
          },
          "description": "The person's nicknames.",
          "type": "array"
        },
        "organizations": {
          "description": "The person's past or current organizations.",
          "items": {
            "$ref": "Organization"
          },
          "type": "array"
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Metadata about the person.",
          "readOnly": true,
          "$ref": "PersonMetadata"
        },
        "biographies": {
          "type": "array",
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Biography"
          }
        },
        "residences": {
          "items": {
            "$ref": "Residence"
          },
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences.",
          "type": "array",
          "deprecated": true
        }
      },
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "id": "Person",
      "type": "object"
    },
    "Occupation": {
      "id": "Occupation",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The occupation; for example, `carpenter`."
        },
        "metadata": {
          "description": "Metadata about the occupation.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "A person's occupation."
    },
    "BatchCreateContactsRequest": {
      "id": "BatchCreateContactsRequest",
      "type": "object",
      "properties": {
        "contacts": {
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request.",
          "items": {
            "$ref": "ContactToCreate"
          },
          "type": "array"
        },
        "readMask": {
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        },
        "sources": {
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ]
          },
          "type": "array"
        }
      },
      "description": "A request to create a batch of contacts."
    },
    "BatchUpdateContactsResponse": {
      "properties": {
        "updateResult": {
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PersonResponse"
          }
        }
      },
      "description": "If not successful, returns BatchUpdateContactsErrorDetails, a list of errors corresponding to each contact. The response to a request to update a batch of contacts.",
      "id": "BatchUpdateContactsResponse",
      "type": "object"
    },
    "SearchResponse": {
      "id": "SearchResponse",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "description": "The results of the request.",
          "items": {
            "$ref": "SearchResult"
          }
        }
      },
      "description": "The response to a search request for the authenticated user, given a query."
    },
    "DeleteContactPhotoResponse": {
      "description": "The response for deleting a contact's photo.",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      },
      "id": "DeleteContactPhotoResponse",
      "type": "object"
    },
    "Interest": {
      "id": "Interest",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the interest.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The interest; for example, `stargazing`."
        }
      },
      "description": "One of the person's interests."
    },
    "ClientData": {
      "id": "ClientData",
      "type": "object",
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "properties": {
        "metadata": {
          "description": "Metadata about the client data.",
          "$ref": "FieldMetadata"
        },
        "key": {
          "description": "The client specified key of the client data.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        }
      }
    },
    "ModifyContactGroupMembersResponse": {
      "id": "ModifyContactGroupMembersResponse",
      "type": "object",
      "description": "The response to a modify contact group members request.",
      "properties": {
        "canNotRemoveLastContactGroupResourceNames": {
          "type": "array",
          "description": "The contact people resource names that cannot be removed from their last contact group.",
          "items": {
            "type": "string"
          }
        },
        "notFoundResourceNames": {
          "type": "array",
          "description": "The contact people resource names that were not found.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BatchDeleteContactsRequest": {
      "description": "A request to delete a batch of existing contacts.",
      "properties": {
        "resourceNames": {
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request.",
          "type": "array"
        }
      },
      "id": "BatchDeleteContactsRequest",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "Address": {
      "id": "Address",
      "type": "object",
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional.",
      "properties": {
        "formattedType": {
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "city": {
          "type": "string",
          "description": "The city of the address."
        },
        "countryCode": {
          "type": "string",
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address."
        },
        "poBox": {
          "type": "string",
          "description": "The P.O. box of the address."
        },
        "metadata": {
          "description": "Metadata about the address.",
          "$ref": "FieldMetadata"
        },
        "formattedValue": {
          "type": "string",
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values."
        },
        "extendedAddress": {
          "type": "string",
          "description": "The extended address of the address; for example, the apartment number."
        },
        "type": {
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the address.",
          "type": "string"
        },
        "country": {
          "description": "The country of the address.",
          "type": "string"
        },
        "region": {
          "description": "The region of the address; for example, the state or province.",
          "type": "string"
        }
      }
    },
    "CalendarUrl": {
      "id": "CalendarUrl",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        },
        "url": {
          "description": "The calendar URL.",
          "type": "string"
        },
        "type": {
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A person's calendar URL."
    },
    "PersonResponse": {
      "properties": {
        "person": {
          "description": "The person.",
          "$ref": "Person"
        },
        "requestedResourceName": {
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL.",
          "type": "string"
        },
        "httpStatusCode": {
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        }
      },
      "description": "The response for a single person",
      "id": "PersonResponse",
      "type": "object"
    },
    "MiscKeyword": {
      "description": "A person's miscellaneous keyword.",
      "properties": {
        "value": {
          "description": "The value of the miscellaneous keyword.",
          "type": "string"
        },
        "type": {
          "description": "The miscellaneous keyword type.",
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ]
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "description": "Metadata about the miscellaneous keyword.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "MiscKeyword",
      "type": "object"
    },
    "ContactGroupMetadata": {
      "description": "The metadata about a contact group.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the group was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deleted": {
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "ContactGroupMetadata",
      "type": "object"
    },
    "BatchCreateContactsResponse": {
      "id": "BatchCreateContactsResponse",
      "type": "object",
      "properties": {
        "createdPeople": {
          "items": {
            "$ref": "PersonResponse"
          },
          "description": "The contacts that were created, unless the request `read_mask` is empty.",
          "type": "array"
        }
      },
      "description": "If not successful, returns BatchCreateContactsErrorDetails which contains a list of errors for each invalid contact. The response to a request to create a batch of contacts."
    },
    "BatchUpdateContactsRequest": {
      "properties": {
        "contacts": {
          "description": "Required. A map of resource names to the person data to be updated. Allows up to 200 contacts in a single request.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Person"
          }
        },
        "updateMask": {
          "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All specified fields will be replaced, or cleared if left empty for each person. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        },
        "readMask": {
          "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ]
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        }
      },
      "description": "A request to update a batch of contacts.",
      "id": "BatchUpdateContactsRequest",
      "type": "object"
    },
    "PersonMetadata": {
      "properties": {
        "previousResourceNames": {
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests.",
          "readOnly": true
        },
        "objectType": {
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ]
        },
        "linkedPeopleResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource names of people linked to this resource.",
          "readOnly": true
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "The sources of data for the person.",
          "type": "array"
        }
      },
      "description": "The metadata about a person.",
      "id": "PersonMetadata",
      "type": "object"
    },
    "AgeRangeType": {
      "description": "A person's age range.",
      "properties": {
        "ageRange": {
          "description": "The age range.",
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        },
        "metadata": {
          "description": "Metadata about the age range.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "AgeRangeType",
      "type": "object"
    },
    "Relation": {
      "id": "Relation",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the relation.",
          "$ref": "FieldMetadata"
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`"
        },
        "formattedType": {
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A person's relation to another person."
    },
    "GroupClientData": {
      "id": "GroupClientData",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        }
      },
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed."
    },
    "CoverPhoto": {
      "properties": {
        "metadata": {
          "description": "Metadata about the cover photo.",
          "$ref": "FieldMetadata"
        },
        "default": {
          "type": "boolean",
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo."
        },
        "url": {
          "type": "string",
          "description": "The URL of the cover photo."
        }
      },
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "id": "CoverPhoto",
      "type": "object"
    },
    "ExternalId": {
      "description": "An identifier from an external entity related to the person.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the external ID."
        },
        "type": {
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "description": "Metadata about the external ID.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "ExternalId",
      "type": "object"
    },
    "UpdateContactPhotoRequest": {
      "id": "UpdateContactPhotoRequest",
      "type": "object",
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG.",
      "properties": {
        "sources": {
          "items": {
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ]
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array"
        },
        "photoBytes": {
          "type": "string",
          "description": "Required. Raw photo bytes",
          "format": "byte"
        },
        "personFields": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask"
        }
      }
    },
    "RelationshipStatus": {
      "description": "**DEPRECATED**: No data will be returned A person's relationship status.",
      "id": "RelationshipStatus",
      "type": "object",
      "deprecated": true,
      "properties": {
        "metadata": {
          "description": "Metadata about the relationship status.",
          "$ref": "FieldMetadata"
        },
        "formattedValue": {
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`"
        }
      }
    },
    "Residence": {
      "id": "Residence",
      "type": "object",
      "deprecated": true,
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence.",
      "properties": {
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        },
        "current": {
          "type": "boolean",
          "description": "True if the residence is the person's current residence; false if the residence is a past residence."
        },
        "metadata": {
          "description": "Metadata about the residence.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "PhoneNumber": {
      "id": "PhoneNumber",
      "type": "object",
      "description": "A person's phone number.",
      "properties": {
        "canonicalForm": {
          "type": "string",
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "readOnly": true
        },
        "type": {
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "description": "Metadata about the phone number.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        }
      }
    },
    "Name": {
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "properties": {
        "unstructuredName": {
          "type": "string",
          "description": "The free form name value."
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "readOnly": true
        },
        "phoneticFamilyName": {
          "description": "The family name spelled as it sounds.",
          "type": "string"
        },
        "phoneticMiddleName": {
          "type": "string",
          "description": "The middle name(s) spelled as they sound."
        },
        "metadata": {
          "description": "Metadata about the name.",
          "$ref": "FieldMetadata"
        },
        "honorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes, such as `Jr.`"
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "phoneticGivenName": {
          "type": "string",
          "description": "The given name spelled as it sounds."
        },
        "phoneticHonorificSuffix": {
          "description": "The honorific suffixes spelled as they sound.",
          "type": "string"
        },
        "honorificPrefix": {
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`",
          "type": "string"
        },
        "displayNameLastFirst": {
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "readOnly": true,
          "type": "string"
        },
        "phoneticFullName": {
          "type": "string",
          "description": "The full name spelled as it sounds."
        },
        "phoneticHonorificPrefix": {
          "description": "The honorific prefixes spelled as they sound.",
          "type": "string"
        }
      },
      "id": "Name",
      "type": "object"
    },
    "BraggingRights": {
      "properties": {
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the bragging rights.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights.",
      "id": "BraggingRights",
      "type": "object",
      "deprecated": true
    },
    "ListOtherContactsResponse": {
      "id": "ListOtherContactsResponse",
      "type": "object",
      "description": "The response to a request for the authenticated user's \"Other contacts\".",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of other contacts in the list without pagination.",
          "format": "int32"
        },
        "otherContacts": {
          "type": "array",
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information.",
          "items": {
            "$ref": "Person"
          }
        }
      }
    },
    "Membership": {
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "properties": {
        "metadata": {
          "description": "Metadata about the membership.",
          "$ref": "FieldMetadata"
        },
        "contactGroupMembership": {
          "description": "The contact group membership.",
          "$ref": "ContactGroupMembership"
        },
        "domainMembership": {
          "description": "Output only. The domain membership.",
          "readOnly": true,
          "$ref": "DomainMembership"
        }
      },
      "id": "Membership",
      "type": "object"
    },
    "SearchDirectoryPeopleResponse": {
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query.",
      "properties": {
        "people": {
          "type": "array",
          "description": "The list of people in the domain directory that match the query.",
          "items": {
            "$ref": "Person"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of items in the list without pagination.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SearchDirectoryPeopleResponse",
      "type": "object"
    },
    "FileAs": {
      "description": "The name that should be used to sort the person in a list.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The file-as value"
        },
        "metadata": {
          "description": "Metadata about the file-as.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "FileAs",
      "type": "object"
    },
    "Locale": {
      "description": "A person's locale preference.",
      "properties": {
        "metadata": {
          "description": "Metadata about the locale.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale.",
          "type": "string"
        }
      },
      "id": "Locale",
      "type": "object"
    },
    "ImClient": {
      "id": "ImClient",
      "type": "object",
      "description": "A person's instant messaging client.",
      "properties": {
        "formattedProtocol": {
          "type": "string",
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "type": {
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the IM client.",
          "$ref": "FieldMetadata"
        },
        "protocol": {
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The user name used in the IM client."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ContactGroup": {
      "properties": {
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "groupType": {
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "description": "Output only. The contact group type."
        },
        "metadata": {
          "description": "Output only. Metadata about the contact group.",
          "readOnly": true,
          "$ref": "ContactGroupMetadata"
        },
        "name": {
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`."
        },
        "formattedName": {
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
          "readOnly": true,
          "type": "string"
        },
        "memberCount": {
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "memberResourceNames": {
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clientData": {
          "description": "The group's client data.",
          "items": {
            "$ref": "GroupClientData"
          },
          "type": "array"
        }
      },
      "description": "A contact group.",
      "id": "ContactGroup",
      "type": "object"
    },
    "Tagline": {
      "deprecated": true,
      "id": "Tagline",
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "properties": {
        "metadata": {
          "description": "Metadata about the tagline.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The tagline.",
          "type": "string"
        }
      }
    },
    "Url": {
      "id": "Url",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the URL.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`"
        },
        "formattedType": {
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A person's associated URLs."
    },
    "SearchResult": {
      "id": "SearchResult",
      "type": "object",
      "description": "A result of a search query.",
      "properties": {
        "person": {
          "description": "The matched Person.",
          "$ref": "Person"
        }
      }
    },
    "SipAddress": {
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "properties": {
        "metadata": {
          "description": "Metadata about the SIP address.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`"
        },
        "formattedType": {
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SipAddress",
      "type": "object"
    },
    "GetPeopleResponse": {
      "id": "GetPeopleResponse",
      "type": "object",
      "description": "The response to a get request for a list of people by resource name.",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          },
          "description": "The response for each requested resource name."
        }
      }
    },
    "UpdateContactGroupRequest": {
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        },
        "readGroupFields": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
          "format": "google-fieldmask"
        },
        "updateGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "id": "UpdateContactGroupRequest",
      "type": "object"
    },
    "FieldMetadata": {
      "id": "FieldMetadata",
      "type": "object",
      "description": "Metadata about a field.",
      "properties": {
        "primary": {
          "description": "Output only. True if the field is the primary field for all sources in the person. Each person will have at most one field with `primary` set to true.",
          "readOnly": true,
          "type": "boolean"
        },
        "verified": {
          "type": "boolean",
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person.",
          "readOnly": true
        },
        "sourcePrimary": {
          "description": "True if the field is the primary field for the source. Each source must have at most one field with `source_primary` set to true.",
          "type": "boolean"
        },
        "source": {
          "description": "The source of the field.",
          "$ref": "Source"
        }
      }
    },
    "ProfileMetadata": {
      "id": "ProfileMetadata",
      "type": "object",
      "properties": {
        "objectType": {
          "description": "Output only. The profile object type.",
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ]
        },
        "userTypes": {
          "type": "array",
          "description": "Output only. The user types.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ],
            "type": "string",
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ]
          }
        }
      },
      "description": "The metadata about a profile."
    },
    "ListDirectoryPeopleResponse": {
      "id": "ListDirectoryPeopleResponse",
      "type": "object",
      "description": "The response to a request for the authenticated user's domain directory.",
      "properties": {
        "people": {
          "type": "array",
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people in the domain directory."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        }
      }
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "properties": {
        "type": {
          "description": "The source type.",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ],
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ]
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        },
        "profileMetadata": {
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "readOnly": true,
          "$ref": "ProfileMetadata"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation."
        }
      },
      "description": "The source of a field."
    },
    "Event": {
      "properties": {
        "type": {
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "description": "Metadata about the event.",
          "$ref": "FieldMetadata"
        },
        "date": {
          "description": "The date of the event.",
          "$ref": "Date"
        }
      },
      "description": "An event related to the person.",
      "id": "Event",
      "type": "object"
    },
    "ContactToCreate": {
      "description": "A wrapper that contains the person data to populate a newly created source.",
      "properties": {
        "contactPerson": {
          "description": "Required. The person data to populate a newly created source.",
          "$ref": "Person"
        }
      },
      "id": "ContactToCreate",
      "type": "object"
    },
    "Biography": {
      "id": "Biography",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the biography.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The short biography.",
          "type": "string"
        },
        "contentType": {
          "description": "The content type of the biography.",
          "type": "string",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ]
        }
      },
      "description": "A person's short biography."
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "floorSection": {
          "type": "string",
          "description": "The floor section in `floor_name`."
        },
        "deskCode": {
          "description": "The individual desk location.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The free-form value of the location."
        },
        "buildingId": {
          "type": "string",
          "description": "The building identifier."
        },
        "floor": {
          "type": "string",
          "description": "The floor name or number."
        },
        "current": {
          "description": "Whether the location is the current location.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Metadata about the location.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`"
        }
      },
      "description": "A person's location."
    },
    "Birthday": {
      "properties": {
        "metadata": {
          "description": "Metadata about the birthday.",
          "$ref": "FieldMetadata"
        },
        "date": {
          "description": "The structured date of the birthday.",
          "$ref": "Date"
        },
        "text": {
          "description": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated.",
          "type": "string",
          "deprecated": true
        }
      },
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays.",
      "id": "Birthday",
      "type": "object"
    },
    "EmailAddress": {
      "description": "A person's email address.",
      "properties": {
        "metadata": {
          "description": "Metadata about the email address.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "formattedType": {
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The email address."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the email."
        }
      },
      "id": "EmailAddress",
      "type": "object"
    },
    "UpdateContactPhotoResponse": {
      "id": "UpdateContactPhotoResponse",
      "type": "object",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      },
      "description": "The response for updating a contact's photo."
    },
    "DomainMembership": {
      "id": "DomainMembership",
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "type": "boolean",
          "description": "True if the person is in the viewer's Google Workspace domain."
        }
      },
      "description": "A Google Workspace Domain membership."
    },
    "Skill": {
      "description": "A skill that the person has.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The skill; for example, `underwater basket weaving`."
        },
        "metadata": {
          "description": "Metadata about the skill.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Skill",
      "type": "object"
    },
    "Nickname": {
      "id": "Nickname",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the nickname.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "description": "The type of the nickname."
        }
      },
      "description": "A person's nickname."
    },
    "UserDefined": {
      "description": "Arbitrary user data that is populated by the end users.",
      "properties": {
        "value": {
          "description": "The end user specified value of the user defined data.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the user defined data.",
          "$ref": "FieldMetadata"
        },
        "key": {
          "description": "The end user specified key of the user defined data.",
          "type": "string"
        }
      },
      "id": "UserDefined",
      "type": "object"
    },
    "BatchGetContactGroupsResponse": {
      "description": "The response to a batch get contact groups request.",
      "properties": {
        "responses": {
          "type": "array",
          "description": "The list of responses for each requested contact group resource.",
          "items": {
            "$ref": "ContactGroupResponse"
          }
        }
      },
      "id": "BatchGetContactGroupsResponse",
      "type": "object"
    },
    "ModifyContactGroupMembersRequest": {
      "id": "ModifyContactGroupMembersRequest",
      "type": "object",
      "properties": {
        "resourceNamesToRemove": {
          "type": "array",
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "items": {
            "type": "string"
          }
        },
        "resourceNamesToAdd": {
          "type": "array",
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups."
    },
    "RelationshipInterest": {
      "properties": {
        "value": {
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relationship interest.",
          "$ref": "FieldMetadata"
        },
        "formattedValue": {
          "type": "string",
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "readOnly": true
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "id": "RelationshipInterest",
      "type": "object",
      "deprecated": true
    },
    "ListContactGroupsResponse": {
      "properties": {
        "contactGroups": {
          "type": "array",
          "description": "The list of contact groups. Members of the contact groups are not populated.",
          "items": {
            "$ref": "ContactGroup"
          }
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of items in the list without pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used to retrieve the next page of results."
        },
        "nextSyncToken": {
          "description": "The token that can be used to retrieve changes since the last request.",
          "type": "string"
        }
      },
      "description": "The response to a list contact groups request.",
      "id": "ListContactGroupsResponse",
      "type": "object"
    }
  },
  "rootUrl": "https://people.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/people/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's Google Workspace directory"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        }
      }
    }
  },
  "title": "People API",
  "version": "v1",
  "basePath": "",
  "ownerDomain": "google.com",
  "resources": {
    "people": {
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "flatPath": "v1/people/{peopleId}/connections",
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "parameters": {
                "requestSyncToken": {
                  "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`.",
                  "location": "query",
                  "type": "boolean"
                },
                "resourceName": {
                  "pattern": "^people/[^/]+$",
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "sortOrder": {
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ]
                },
                "syncToken": {
                  "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token.",
                  "location": "query"
                },
                "personFields": {
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "requestMask.includeField": {
                  "type": "string",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
                  "location": "query",
                  "format": "int32"
                },
                "sources": {
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT.",
                    "Returns SourceType.OTHER_CONTACT."
                  ],
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                    "READ_SOURCE_TYPE_OTHER_CONTACT"
                  ],
                  "repeated": true
                }
              },
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "path": "v1/{+resourceName}/connections",
              "parameterOrder": [
                "resourceName"
              ],
              "id": "people.people.connections.list",
              "httpMethod": "GET",
              "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed)."
            }
          }
        }
      },
      "methods": {
        "deleteContact": {
          "path": "v1/{+resourceName}:deleteContact",
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "DELETE",
          "description": "Delete a contact person. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.people.deleteContact",
          "parameters": {
            "resourceName": {
              "type": "string",
              "description": "Required. The resource name of the contact to delete.",
              "location": "path",
              "required": true,
              "pattern": "^people/[^/]+$"
            }
          },
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "Empty"
          }
        },
        "updateContactPhoto": {
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "description": "Required. Person resource name",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/people/{peopleId}:updateContactPhoto",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          },
          "path": "v1/{+resourceName}:updateContactPhoto",
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.people.updateContactPhoto",
          "httpMethod": "PATCH",
          "description": "Update a contact's photo. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures."
        },
        "searchDirectoryPeople": {
          "parameters": {
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "sources": {
              "type": "string",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "repeated": true,
              "description": "Required. Directory sources to return.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ]
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "query": {
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match.",
              "location": "query",
              "type": "string"
            },
            "mergeSources": {
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "location": "query",
              "type": "string",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "repeated": true
            }
          },
          "flatPath": "v1/people:searchDirectoryPeople",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          },
          "path": "v1/people:searchDirectoryPeople",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "id": "people.people.searchDirectoryPeople"
        },
        "listDirectoryPeople": {
          "parameters": {
            "mergeSources": {
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ]
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query",
              "type": "boolean"
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "sources": {
              "type": "string",
              "enum": [
[...]
