{
  "title": "People API",
  "revision": "20260331",
  "baseUrl": "https://people.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's Google Workspace directory"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "resources": {
    "people": {
      "methods": {
        "get": {
          "id": "people.people.get",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "parameters": {
            "requestMask.includeField": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "location": "query"
            },
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "sources": {
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "repeated": true
            },
            "resourceName": {
              "required": true,
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`.",
              "pattern": "^people/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/people/{peopleId}",
          "httpMethod": "GET",
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "path": "v1/{+resourceName}",
          "response": {
            "$ref": "Person"
          }
        },
        "getBatchGet": {
          "parameters": {
            "requestMask.includeField": {
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "location": "query",
              "type": "string"
            },
            "resourceNames": {
              "type": "string",
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=<name1>&resourceNames=<name2>&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names.",
              "location": "query",
              "repeated": true
            },
            "personFields": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "repeated": true,
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "people.people.getBatchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "flatPath": "v1/people:batchGet",
          "httpMethod": "GET",
          "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "path": "v1/people:batchGet",
          "response": {
            "$ref": "GetPeopleResponse"
          }
        },
        "updateContactPhoto": {
          "path": "v1/{+resourceName}:updateContactPhoto",
          "flatPath": "v1/people/{peopleId}:updateContactPhoto",
          "httpMethod": "PATCH",
          "description": "Update a contact's photo. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "parameters": {
            "resourceName": {
              "required": true,
              "description": "Required. Person resource name",
              "pattern": "^people/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          },
          "id": "people.people.updateContactPhoto",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "batchDeleteContacts": {
          "id": "people.people.batchDeleteContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          },
          "path": "v1/people:batchDeleteContacts",
          "flatPath": "v1/people:batchDeleteContacts",
          "httpMethod": "POST",
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "Empty"
          }
        },
        "batchUpdateContacts": {
          "id": "people.people.batchUpdateContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "BatchUpdateContactsRequest"
          },
          "flatPath": "v1/people:batchUpdateContacts",
          "httpMethod": "POST",
          "description": "Update a batch of contacts and return a map of resource names to PersonResponses for the updated contacts. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/people:batchUpdateContacts",
          "response": {
            "$ref": "BatchUpdateContactsResponse"
          }
        },
        "deleteContactPhoto": {
          "parameters": {
            "resourceName": {
              "type": "string",
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "pattern": "^people/[^/]+$",
              "location": "path",
              "required": true
            },
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query",
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ]
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.people.deleteContactPhoto",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "httpMethod": "DELETE",
          "description": "Delete a contact's photo. Mutate requests for the same user should be done sequentially to avoid // lock contention."
        },
        "batchCreateContacts": {
          "response": {
            "$ref": "BatchCreateContactsResponse"
          },
          "flatPath": "v1/people:batchCreateContacts",
          "httpMethod": "POST",
          "description": "Create a batch of new contacts and return the PersonResponses for the newly Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/people:batchCreateContacts",
          "id": "people.people.batchCreateContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "BatchCreateContactsRequest"
          }
        },
        "deleteContact": {
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "httpMethod": "DELETE",
          "description": "Delete a contact person. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/{+resourceName}:deleteContact",
          "parameters": {
            "resourceName": {
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the contact to delete.",
              "pattern": "^people/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.people.deleteContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "searchContacts": {
          "response": {
            "$ref": "SearchResponse"
          },
          "flatPath": "v1/people:searchContacts",
          "httpMethod": "GET",
          "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
          "path": "v1/people:searchContacts",
          "parameters": {
            "query": {
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "readMask": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
              "location": "query",
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ]
            }
          },
          "parameterOrder": [],
          "id": "people.people.searchContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ]
        },
        "createContact": {
          "id": "people.people.createContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "personFields": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "repeated": true,
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "request": {
            "$ref": "Person"
          },
          "path": "v1/people:createContact",
          "flatPath": "v1/people:createContact",
          "httpMethod": "POST",
          "description": "Create a new contact and return the person resource for that contact. The request returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "Person"
          }
        },
        "updateContact": {
          "parameters": {
            "personFields": {
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "repeated": true,
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query"
            },
            "resourceName": {
              "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
              "pattern": "^people/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            },
            "updatePersonFields": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "request": {
            "$ref": "Person"
          },
          "id": "people.people.updateContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "Person"
          },
          "flatPath": "v1/people/{peopleId}:updateContact",
          "httpMethod": "PATCH",
          "description": "Update contact data for an existing contact person. Any non-contact data will not be modified. Any non-contact data in the person to update will be ignored. All fields specified in the `update_mask` will be replaced. The server returns a 400 error if `person.metadata.sources` is not specified for the contact to be updated or if there is no contact source. The server returns a 400 error with reason `\"failedPrecondition\"` if `person.metadata.sources.etag` is different than the contact's etag, which indicates the contact has changed since its data was read. Clients should get the latest person and merge their updates into the latest person. If making sequential updates to the same person, the etag from the `updateContact` response should be used to avoid failures. The server returns a 400 error if `memberships` are being updated and there are no contact group memberships specified on the person. The server returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/{+resourceName}:updateContact"
        },
        "searchDirectoryPeople": {
          "id": "people.people.searchDirectoryPeople",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "parameters": {
            "readMask": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string"
            },
            "mergeSources": {
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "location": "query",
              "type": "string",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ]
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "type": "integer"
            },
            "sources": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "description": "Required. Directory sources to return.",
              "location": "query",
              "type": "string",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ]
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "query": {
              "type": "string",
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "v1/people:searchDirectoryPeople",
          "flatPath": "v1/people:searchDirectoryPeople",
          "httpMethod": "GET",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          }
        },
        "listDirectoryPeople": {
          "path": "v1/people:listDirectoryPeople",
          "flatPath": "v1/people:listDirectoryPeople",
          "httpMethod": "GET",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the directory people that have changed](/people/v1/directory#list_the_directory_people_that_have_changed).",
          "response": {
            "$ref": "ListDirectoryPeopleResponse"
          },
          "parameters": {
            "sources": {
              "description": "Required. Directory sources to return.",
              "location": "query",
              "type": "string",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ]
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "readMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "mergeSources": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "location": "query",
              "type": "string",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ]
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "format": "int32"
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query",
              "type": "boolean"
            },
            "syncToken": {
              "type": "string",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the sync token. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "people.people.listDirectoryPeople",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ]
        }
      },
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "sources": {
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                    "READ_SOURCE_TYPE_OTHER_CONTACT"
                  ],
                  "repeated": true,
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT.",
                    "Returns SourceType.OTHER_CONTACT."
                  ]
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
                  "location": "query",
                  "type": "integer"
                },
                "requestMask.includeField": {
                  "type": "string",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "resourceName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "pattern": "^people/[^/]+$",
                  "location": "path"
                },
                "requestSyncToken": {
                  "type": "boolean",
                  "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`.",
                  "location": "query"
                },
                "sortOrder": {
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "type": "string",
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "location": "query"
                },
                "syncToken": {
                  "type": "string",
                  "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`.",
                  "location": "query"
                },
                "personFields": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "id": "people.people.connections.list",
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "flatPath": "v1/people/{peopleId}/connections",
              "httpMethod": "GET",
              "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed).",
              "path": "v1/{+resourceName}/connections"
            }
          }
        }
      }
    },
    "otherContacts": {
      "methods": {
        "list": {
          "id": "people.otherContacts.list",
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameters": {
            "syncToken": {
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`.",
              "location": "query",
              "type": "string"
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query"
            },
            "readMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. What values are valid depend on what ReadSourceType is used. If READ_SOURCE_TYPE_CONTACT is used, valid values are: * emailAddresses * metadata * names * phoneNumbers * photos If READ_SOURCE_TYPE_PROFILE is used, valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "repeated": true,
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set. Possible values for this field are: * READ_SOURCE_TYPE_CONTACT * READ_SOURCE_TYPE_CONTACT,READ_SOURCE_TYPE_PROFILE Specifying READ_SOURCE_TYPE_PROFILE without specifying READ_SOURCE_TYPE_CONTACT is not permitted.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "flatPath": "v1/otherContacts",
          "httpMethod": "GET",
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's other contacts that have changed](/people/v1/other-contacts#list_the_users_other_contacts_that_have_changed).",
          "path": "v1/otherContacts",
          "response": {
            "$ref": "ListOtherContactsResponse"
          }
        },
        "copyOtherContactToMyContactsGroup": {
          "response": {
            "$ref": "Person"
          },
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
          "httpMethod": "POST",
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "pattern": "^otherContacts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          }
        },
        "search": {
          "id": "people.otherContacts.search",
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameters": {
            "readMask": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers",
              "location": "query",
              "type": "string"
            },
            "query": {
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "location": "query",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "path": "v1/otherContacts:search",
          "flatPath": "v1/otherContacts:search",
          "httpMethod": "GET",
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
          "response": {
            "$ref": "SearchResponse"
          }
        }
      }
    },
    "contactGroups": {
      "methods": {
        "get": {
          "id": "people.contactGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameters": {
            "maxMembers": {
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "format": "int32"
            },
            "groupFields": {
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query",
              "type": "string"
            },
            "resourceName": {
              "required": true,
              "description": "Required. The resource name of the contact group to get.",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "httpMethod": "GET",
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "response": {
            "$ref": "ContactGroup"
          }
        },
        "create": {
          "id": "people.contactGroups.create",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "response": {
            "$ref": "ContactGroup"
          },
          "path": "v1/contactGroups",
          "flatPath": "v1/contactGroups",
          "httpMethod": "POST",
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures."
        },
        "list": {
          "flatPath": "v1/contactGroups",
          "httpMethod": "GET",
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "path": "v1/contactGroups",
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "parameters": {
            "syncToken": {
              "type": "string",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "location": "query"
            },
            "groupFields": {
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query",
              "format": "google-fieldmask"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "people.contactGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ]
        },
        "delete": {
          "parameters": {
            "deleteContacts": {
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "location": "query",
              "type": "boolean"
            },
            "resourceName": {
              "type": "string",
              "description": "Required. The resource name of the contact group to delete.",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.contactGroups.delete",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+resourceName}",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "httpMethod": "DELETE",
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures."
        },
        "batchGet": {
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "flatPath": "v1/contactGroups:batchGet",
          "httpMethod": "GET",
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "path": "v1/contactGroups:batchGet",
          "parameters": {
            "maxMembers": {
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "resourceNames": {
              "type": "string",
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "location": "query",
              "repeated": true
            },
            "groupFields": {
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [],
          "id": "people.contactGroups.batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ]
        },
        "update": {
          "id": "people.contactGroups.update",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "type": "string",
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "path": "v1/{+resourceName}",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "httpMethod": "PUT",
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "ContactGroup"
          }
        }
      },
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "path": "v1/{+resourceName}/members:modify",
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "httpMethod": "POST",
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "id": "people.contactGroups.members.modify",
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "parameters": {
                "resourceName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the contact group to modify.",
                  "pattern": "^contactGroups/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Tagline": {
      "id": "Tagline",
      "deprecated": true,
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "properties": {
        "value": {
          "description": "The tagline.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the tagline."
        }
      },
      "type": "object"
    },
    "CoverPhoto": {
      "type": "object",
      "id": "CoverPhoto",
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "properties": {
        "metadata": {
          "description": "Metadata about the cover photo.",
          "$ref": "FieldMetadata"
        },
        "default": {
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo.",
          "type": "boolean"
        },
        "url": {
          "description": "The URL of the cover photo.",
          "type": "string"
        }
      }
    },
    "Person": {
      "type": "object",
      "id": "Person",
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "properties": {
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "skills": {
          "description": "The person's skills.",
          "items": {
            "$ref": "Skill"
          },
          "type": "array"
        },
        "metadata": {
          "readOnly": true,
          "$ref": "PersonMetadata",
          "description": "Output only. Metadata about the person."
        },
        "ageRanges": {
          "readOnly": true,
          "description": "Output only. The person's age ranges.",
          "items": {
            "$ref": "AgeRangeType"
          },
          "type": "array"
        },
        "nicknames": {
          "description": "The person's nicknames.",
          "items": {
            "$ref": "Nickname"
          },
          "type": "array"
        },
        "taglines": {
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "deprecated": true,
          "readOnly": true,
          "items": {
            "$ref": "Tagline"
          }
        },
        "ageRange": {
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "deprecated": true,
          "readOnly": true,
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        },
        "braggingRights": {
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights.",
          "deprecated": true,
          "items": {
            "$ref": "BraggingRights"
          },
          "type": "array"
        },
        "residences": {
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences.",
          "deprecated": true,
          "items": {
            "$ref": "Residence"
          },
          "type": "array"
        },
        "sipAddresses": {
          "type": "array",
          "description": "The person's SIP addresses.",
          "items": {
            "$ref": "SipAddress"
          }
        },
        "userDefined": {
          "description": "The person's user defined data.",
          "items": {
            "$ref": "UserDefined"
          },
          "type": "array"
        },
        "imClients": {
          "type": "array",
          "description": "The person's instant messaging clients.",
          "items": {
            "$ref": "ImClient"
          }
        },
        "photos": {
          "type": "array",
          "description": "Output only. The person's photos.",
          "items": {
            "$ref": "Photo"
          },
          "readOnly": true
        },
        "miscKeywords": {
          "description": "The person's miscellaneous keywords.",
          "items": {
            "$ref": "MiscKeyword"
          },
          "type": "array"
        },
        "resourceName": {
          "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
          "type": "string"
        },
        "emailAddresses": {
          "type": "array",
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople.",
          "items": {
            "$ref": "EmailAddress"
          }
        },
        "organizations": {
          "description": "The person's past or current organizations.",
          "items": {
            "$ref": "Organization"
          },
          "type": "array"
        },
        "relationshipStatuses": {
          "items": {
            "$ref": "RelationshipStatus"
          },
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "deprecated": true,
          "readOnly": true,
          "type": "array"
        },
        "events": {
          "description": "The person's events.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "memberships": {
          "description": "The person's group memberships.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "coverPhotos": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The person's cover photos.",
          "items": {
            "$ref": "CoverPhoto"
          }
        },
        "externalIds": {
          "type": "array",
          "description": "The person's external IDs.",
          "items": {
            "$ref": "ExternalId"
          }
        },
        "locales": {
          "type": "array",
          "description": "The person's locale preferences.",
          "items": {
            "$ref": "Locale"
          }
        },
        "clientData": {
          "description": "The person's client data.",
          "items": {
            "$ref": "ClientData"
          },
          "type": "array"
        },
        "locations": {
          "type": "array",
          "description": "The person's locations.",
          "items": {
            "$ref": "Location"
          }
        },
        "fileAses": {
          "description": "The person's file-ases.",
          "items": {
            "$ref": "FileAs"
          },
          "type": "array"
        },
        "relationshipInterests": {
          "items": {
            "$ref": "RelationshipInterest"
          },
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "deprecated": true,
          "readOnly": true,
          "type": "array"
        },
        "birthdays": {
          "description": "The person's birthdays. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Birthday"
          },
          "type": "array"
        },
        "relations": {
          "description": "The person's relations.",
          "items": {
            "$ref": "Relation"
          },
          "type": "array"
        },
        "addresses": {
          "description": "The person's street addresses.",
          "items": {
            "$ref": "Address"
          },
          "type": "array"
        },
        "names": {
          "description": "The person's names. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Name"
          },
          "type": "array"
        },
        "genders": {
          "type": "array",
          "description": "The person's genders. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Gender"
          }
        },
        "interests": {
          "description": "The person's interests.",
          "items": {
            "$ref": "Interest"
          },
          "type": "array"
        },
        "urls": {
          "description": "The person's associated URLs.",
          "items": {
            "$ref": "Url"
          },
          "type": "array"
        },
        "calendarUrls": {
          "type": "array",
          "description": "The person's calendar URLs.",
          "items": {
            "$ref": "CalendarUrl"
          }
        },
        "biographies": {
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Biography"
          },
          "type": "array"
        },
        "occupations": {
          "type": "array",
          "description": "The person's occupations.",
          "items": {
            "$ref": "Occupation"
          }
        },
        "phoneNumbers": {
          "type": "array",
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople.",
          "items": {
            "$ref": "PhoneNumber"
          }
        }
      }
    },
    "Organization": {
      "type": "object",
      "id": "Organization",
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "properties": {
        "name": {
          "description": "The name of the organization.",
          "type": "string"
        },
        "domain": {
          "description": "The domain name associated with the organization; for example, `google.com`.",
          "type": "string"
        },
        "title": {
          "description": "The person's job title at the organization.",
          "type": "string"
        },
        "current": {
          "description": "True if the organization is the person's current organization; false if the organization is a past organization.",
          "type": "boolean"
        },
        "endDate": {
          "description": "The end date when the person left the organization.",
          "$ref": "Date"
        },
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "jobDescription": {
          "description": "The person's job description at the organization.",
          "type": "string"
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "costCenter": {
          "description": "The person's cost center at the organization.",
          "type": "string"
        },
        "type": {
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`",
          "type": "string"
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "fullTimeEquivalentMillipercent": {
          "type": "integer",
          "format": "int32",
          "description": "The person's full-time equivalent millipercent within the organization (100000 = 100%)."
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        }
      }
    },
    "ContactGroup": {
      "id": "ContactGroup",
      "description": "A contact group.",
      "properties": {
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "$ref": "ContactGroupMetadata",
          "description": "Output only. Metadata about the contact group."
        },
        "memberCount": {
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "clientData": {
          "type": "array",
          "description": "The group's client data.",
          "items": {
            "$ref": "GroupClientData"
          }
        },
        "name": {
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error.",
          "type": "string"
        },
        "formattedName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name."
        },
        "resourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
          "type": "string"
        },
        "groupType": {
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "description": "Output only. The contact group type.",
          "readOnly": true
        },
        "memberResourceNames": {
          "type": "array",
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ContactToCreate": {
      "id": "ContactToCreate",
      "description": "A wrapper that contains the person data to populate a newly created source.",
      "properties": {
        "contactPerson": {
          "$ref": "Person",
          "description": "Required. The person data to populate a newly created source."
        }
      },
      "type": "object"
    },
    "SearchResponse": {
      "type": "object",
      "id": "SearchResponse",
      "description": "The response to a search request for the authenticated user, given a query.",
      "properties": {
        "results": {
          "description": "The results of the request.",
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array"
        }
      }
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "description": "The response to a request for the authenticated user's connections.",
      "properties": {
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of items in the list without pagination."
        },
        "totalPeople": {
          "type": "integer",
          "format": "int32",
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination.",
          "deprecated": true
        },
        "connections": {
          "type": "array",
          "description": "The list of people that the requestor is connected to.",
          "items": {
            "$ref": "Person"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Gender": {
      "id": "Gender",
      "description": "A person's gender.",
      "properties": {
        "value": {
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`",
          "type": "string"
        },
        "addressMeAs": {
          "description": "Free form text field for pronouns that should be used to address the person. Common values are: * `he`/`him` * `she`/`her` * `they`/`them`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the gender."
        },
        "formattedValue": {
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteContactPhotoResponse": {
      "type": "object",
      "id": "DeleteContactPhotoResponse",
      "description": "The response for deleting a contact's photo.",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      }
    },
    "EmailAddress": {
      "type": "object",
      "id": "EmailAddress",
      "description": "A person's email address.",
      "properties": {
        "value": {
          "description": "The email address.",
          "type": "string"
        },
        "type": {
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the email.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the email address.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "PersonMetadata": {
      "id": "PersonMetadata",
      "description": "The metadata about a person.",
      "properties": {
        "objectType": {
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "readOnly": true,
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ]
        },
        "sources": {
          "type": "array",
          "description": "The sources of data for the person.",
          "items": {
            "$ref": "Source"
          }
        },
        "linkedPeopleResourceNames": {
          "type": "array",
          "description": "Output only. Resource names of people linked to this resource.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests."
        },
        "previousResourceNames": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Nickname": {
      "type": "object",
      "id": "Nickname",
      "description": "A person's nickname.",
      "properties": {
        "metadata": {
          "description": "Metadata about the nickname.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            false,
            true
          ],
          "description": "The type of the nickname.",
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ]
        }
      }
    },
    "ContactGroupMembership": {
      "type": "object",
      "id": "ContactGroupMembership",
      "description": "A Google contact group membership.",
      "properties": {
        "contactGroupId": {
          "type": "string",
          "description": "Output only. The contact group ID for the contact group membership.",
          "deprecated": true,
          "readOnly": true
        },
        "contactGroupResourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership.",
          "type": "string"
        }
      }
    },
    "BatchCreateContactsResponse": {
      "type": "object",
      "id": "BatchCreateContactsResponse",
      "description": "If not successful, returns BatchCreateContactsErrorDetails which contains a list of errors for each invalid contact. The response to a request to create a batch of contacts.",
      "properties": {
        "createdPeople": {
          "description": "The contacts that were created, unless the request `read_mask` is empty.",
          "items": {
            "$ref": "PersonResponse"
          },
          "type": "array"
        }
      }
    },
    "SipAddress": {
      "id": "SipAddress",
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "properties": {
        "metadata": {
          "description": "Metadata about the SIP address.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "type": {
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`",
          "type": "string"
        },
        "value": {
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDirectoryPeopleResponse": {
      "type": "object",
      "id": "ListDirectoryPeopleResponse",
      "description": "The response to a request for the authenticated user's domain directory.",
      "properties": {
        "people": {
          "description": "The list of people in the domain directory.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        }
      }
    },
    "ImClient": {
      "id": "ImClient",
      "description": "A person's instant messaging client.",
      "properties": {
        "type": {
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "username": {
          "description": "The user name used in the IM client.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "formattedProtocol": {
          "readOnly": true,
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "protocol": {
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MiscKeyword": {
      "id": "MiscKeyword",
      "description": "A person's miscellaneous keyword.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ],
          "description": "The miscellaneous keyword type."
        },
        "value": {
          "description": "The value of the miscellaneous keyword.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the miscellaneous keyword."
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FileAs": {
      "type": "object",
      "id": "FileAs",
      "description": "The name that should be used to sort the person in a list.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the file-as."
        },
        "value": {
          "description": "The file-as value",
          "type": "string"
        }
      }
    },
    "Url": {
      "type": "object",
      "id": "Url",
      "description": "A person's associated URLs.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        },
        "formattedType": {
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`",
          "type": "string"
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        }
      }
    },
    "UpdateContactPhotoResponse": {
      "id": "UpdateContactPhotoResponse",
      "description": "The response for updating a contact's photo.",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset."
        }
      },
      "type": "object"
    },
    "Occupation": {
      "type": "object",
      "id": "Occupation",
      "description": "A person's occupation.",
      "properties": {
        "metadata": {
          "description": "Metadata about the occupation.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        }
      }
    },
    "ModifyContactGroupMembersRequest": {
      "id": "ModifyContactGroupMembersRequest",
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "properties": {
        "resourceNamesToRemove": {
          "type": "array",
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "items": {
            "type": "string"
          }
        },
        "resourceNamesToAdd": {
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SearchResult": {
      "type": "object",
      "id": "SearchResult",
      "description": "A result of a search query.",
      "properties": {
        "person": {
          "description": "The matched Person.",
          "$ref": "Person"
        }
      }
    },
    "BatchCreateContactsRequest": {
      "type": "object",
      "id": "BatchCreateContactsRequest",
      "description": "A request to create a batch of contacts.",
      "properties": {
        "sources": {
          "type": "array",
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ]
          }
        },
        "contacts": {
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request.",
          "items": {
            "$ref": "ContactToCreate"
          },
          "type": "array"
        },
        "readMask": {
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string"
        }
      }
    },
    "ProfileMetadata": {
      "id": "ProfileMetadata",
      "description": "The metadata about a profile.",
      "properties": {
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "readOnly": true,
          "description": "Output only. The profile object type.",
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ]
        },
        "userTypes": {
          "readOnly": true,
          "description": "Output only. The user types.",
          "items": {
            "type": "string",
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ],
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ]
          },
          "type": "array"
[...]
