{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/maps-platform.places": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places"
        },
        "https://www.googleapis.com/auth/maps-platform.places.autocomplete": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.autocomplete"
        },
        "https://www.googleapis.com/auth/maps-platform.places.textsearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.textsearch"
        },
        "https://www.googleapis.com/auth/maps-platform.places.getphotomedia": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.getphotomedia"
        },
        "https://www.googleapis.com/auth/maps-platform.places.details": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.details"
        },
        "https://www.googleapis.com/auth/maps-platform.places.nearbysearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
        }
      }
    }
  },
  "title": "Places API (New)",
  "revision": "20260420",
  "documentationLink": "https://mapsplatform.google.com/maps-products/#places-section",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleMapsPlacesV1SearchTextRequestEVOptions": {
      "properties": {
        "minimumChargingRateKw": {
          "description": "Optional. Minimum required charging rate in kilowatts. A place with a charging rate less than the specified rate is filtered out.",
          "format": "double",
          "type": "number"
        },
        "connectorTypes": {
          "type": "array",
          "description": "Optional. The list of preferred EV connector types. A place that does not support any of the listed connector types is filtered out.",
          "items": {
            "type": "string",
            "enum": [
              "EV_CONNECTOR_TYPE_UNSPECIFIED",
              "EV_CONNECTOR_TYPE_OTHER",
              "EV_CONNECTOR_TYPE_J1772",
              "EV_CONNECTOR_TYPE_TYPE_2",
              "EV_CONNECTOR_TYPE_CHADEMO",
              "EV_CONNECTOR_TYPE_CCS_COMBO_1",
              "EV_CONNECTOR_TYPE_CCS_COMBO_2",
              "EV_CONNECTOR_TYPE_TESLA",
              "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
              "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET",
              "EV_CONNECTOR_TYPE_NACS"
            ],
            "enumDescriptions": [
              "Unspecified connector.",
              "Other connector types.",
              "J1772 type 1 connector.",
              "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
              "CHAdeMO type connector.",
              "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
              "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
              "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
              "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
              "Unspecified wall outlet.",
              "The North American Charging System (NACS), standardized as SAE J3400."
            ]
          }
        }
      },
      "description": "Searchable EV options of a place search request.",
      "id": "GoogleMapsPlacesV1SearchTextRequestEVOptions",
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponse": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponse",
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "description": "Contains a list of suggestions, ordered in descending order of relevance.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion"
          }
        }
      },
      "description": "Response proto for AutocompletePlaces."
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction": {
      "properties": {
        "text": {
          "description": "The predicted text. This text does not represent a Place, but rather a text query that could be used in a search endpoint (for example, Text Search). `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa. May be in mixed languages if the request `input` and `language_code` are in different languages or if part of the query does not have a translation from the local language to `language_code`.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        },
        "structuredFormat": {
          "description": "A breakdown of the query prediction into main text containing the query and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat"
        }
      },
      "description": "Prediction results for a Query Autocomplete prediction.",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction",
      "type": "object"
    },
    "GoogleMapsPlacesV1AuthorAttribution": {
      "type": "object",
      "id": "GoogleMapsPlacesV1AuthorAttribution",
      "description": "Information about the author of the UGC data. Used in Photo, and Review.",
      "properties": {
        "uri": {
          "description": "URI of the author of the Photo or Review.",
          "type": "string"
        },
        "photoUri": {
          "description": "Profile photo URI of the author of the Photo or Review.",
          "type": "string"
        },
        "displayName": {
          "description": "Name of the author of the Photo or Review.",
          "type": "string"
        }
      }
    },
    "GoogleTypeMoney": {
      "type": "object",
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange": {
      "properties": {
        "endIndex": {
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The range of highlighted text.",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchNearbyRequest": {
      "id": "GoogleMapsPlacesV1SearchNearbyRequest",
      "type": "object",
      "properties": {
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        },
        "rankPreference": {
          "type": "string",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "POPULARITY"
          ],
          "description": "How results will be ranked in the response.",
          "enumDescriptions": [
            "RankPreference value not set. Will use rank by POPULARITY by default.",
            "Ranks results by distance.",
            "Ranks results by popularity."
          ]
        },
        "languageCode": {
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
          "type": "string"
        },
        "routingParameters": {
          "description": "Optional. Parameters that affect the routing to the search results.",
          "$ref": "GoogleMapsPlacesV1RoutingParameters"
        },
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported.",
          "type": "string"
        },
        "locationRestriction": {
          "description": "Required. The region to search.",
          "$ref": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction"
        },
        "maxResultCount": {
          "description": "Maximum number of results to return. It must be between 1 and 20 (default), inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned.",
          "format": "int32",
          "type": "integer"
        },
        "excludedTypes": {
          "type": "array",
          "description": "Excluded Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If the client provides both included_types (e.g. restaurant) and excluded_types (e.g. cafe), then the response should include places that are restaurant but not cafe. The response includes places that match at least one of the included_types and none of the excluded_types. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "items": {
            "type": "string"
          }
        },
        "includedPrimaryTypes": {
          "type": "array",
          "description": "Included primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. A place can only have a single primary type from the supported types table associated with it. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "items": {
            "type": "string"
          }
        },
        "excludedPrimaryTypes": {
          "type": "array",
          "description": "Excluded primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "items": {
            "type": "string"
          }
        },
        "includedTypes": {
          "type": "array",
          "description": "Included Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request proto for Search Nearby. "
    },
    "GoogleMapsPlacesV1ContextualContentJustification": {
      "type": "object",
      "id": "GoogleMapsPlacesV1ContextualContentJustification",
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. Justifications for the place. Justifications answers the question of why a place could interest an end user.",
      "properties": {
        "reviewJustification": {
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details.",
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification"
        },
        "businessAvailabilityAttributesJustification": {
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details.",
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification"
        }
      }
    },
    "GoogleMapsPlacesV1AddressDescriptorLandmark": {
      "type": "object",
      "id": "GoogleMapsPlacesV1AddressDescriptorLandmark",
      "description": "Basic landmark information and the landmark's relationship with the target location. Landmarks are prominent places that can be used to describe a location.",
      "properties": {
        "straightLineDistanceMeters": {
          "type": "number",
          "description": "The straight line distance, in meters, between the center point of the target and the center point of the landmark. In some situations, this value can be longer than `travel_distance_meters`.",
          "format": "float"
        },
        "placeId": {
          "description": "The landmark's place id.",
          "type": "string"
        },
        "displayName": {
          "description": "The landmark's display name.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "types": {
          "description": "A set of type tags for this landmark. For a complete list of possible values, see https://developers.google.com/maps/documentation/places/web-service/place-types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "travelDistanceMeters": {
          "type": "number",
          "format": "float",
          "description": "The travel distance, in meters, along the road network from the target to the landmark, if known. This value does not take into account the mode of transportation, such as walking, driving, or biking."
        },
        "spatialRelationship": {
          "type": "string",
          "enum": [
            "NEAR",
            "WITHIN",
            "BESIDE",
            "ACROSS_THE_ROAD",
            "DOWN_THE_ROAD",
            "AROUND_THE_CORNER",
            "BEHIND"
          ],
          "enumDescriptions": [
            "This is the default relationship when nothing more specific below applies.",
            "The landmark has a spatial geometry and the target is within its bounds.",
            "The target is directly adjacent to the landmark.",
            "The target is directly opposite the landmark on the other side of the road.",
            "On the same route as the landmark but not besides or across.",
            "Not on the same route as the landmark but a single turn away.",
            "Close to the landmark's structure but further away from its street entrances."
          ],
          "description": "Defines the spatial relationship between the target location and the landmark."
        },
        "name": {
          "description": "The landmark's resource name.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification": {
      "properties": {
        "takeout": {
          "description": "If a place provides takeout.",
          "type": "boolean"
        },
        "dineIn": {
          "description": "If a place provides dine-in.",
          "type": "boolean"
        },
        "delivery": {
          "description": "If a place provides delivery.",
          "type": "boolean"
        }
      },
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. BusinessAvailabilityAttributes justifications. This shows some attributes a business has that could interest an end user.",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "properties": {
        "longText": {
          "description": "The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\".",
          "type": "string"
        },
        "shortText": {
          "description": "An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\".",
          "type": "string"
        },
        "types": {
          "type": "array",
          "description": "An array indicating the type(s) of the address component.",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "description": "The language used to format this components, in CLDR notation.",
          "type": "string"
        }
      },
      "description": "The structured components that form the formatted address, if this information is available.",
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHours": {
      "properties": {
        "weekdayDescriptions": {
          "type": "array",
          "description": "Localized strings describing the opening hours of this place, one string for each day of the week. NOTE: The order of the days and the start of the week is determined by the locale (language and region). The ordering of the `periods` array is independent of the ordering of the `weekday_descriptions` array. Do not assume they will begin on the same day. Will be empty if the hours are unknown or could not be converted to localized text. Example: \"Sun: 18:00–06:00\"",
          "items": {
            "type": "string"
          }
        },
        "nextOpenTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The next time the current opening hours period starts up to 7 days in the future. This field is only populated if the opening hours period is not active at the time of serving the request."
        },
        "openNow": {
          "description": "Whether the opening hours period is currently active. For regular opening hours and current opening hours, this field means whether the place is open. For secondary opening hours and current secondary opening hours, this field means whether the secondary hours of this place is active.",
          "type": "boolean"
        },
        "nextCloseTime": {
          "format": "google-datetime",
          "description": "The next time the current opening hours period ends up to 7 days in the future. This field is only populated if the opening hours period is active at the time of serving the request.",
          "type": "string"
        },
        "periods": {
          "type": "array",
          "description": "The periods that this place is open during the week. The periods are in chronological order, in the place-local timezone. An empty (but not absent) value indicates a place that is never open, e.g. because it is closed temporarily for renovations. The starting day of `periods` is NOT fixed and should not be assumed to be Sunday. The API determines the start day based on a variety of factors. For example, for a 24/7 business, the first period may begin on the day of the request. For other businesses, it might be the first day of the week that they are open. NOTE: The ordering of the `periods` array is independent of the ordering of the `weekday_descriptions` array. Do not assume they will begin on the same day.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
          }
        },
        "secondaryHoursType": {
          "type": "string",
          "enum": [
            "SECONDARY_HOURS_TYPE_UNSPECIFIED",
            "DRIVE_THROUGH",
            "HAPPY_HOUR",
            "DELIVERY",
            "TAKEOUT",
            "KITCHEN",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "BRUNCH",
            "PICKUP",
            "ACCESS",
            "SENIOR_HOURS",
            "ONLINE_SERVICE_HOURS"
          ],
          "description": "A type string used to identify the type of secondary hours.",
          "enumDescriptions": [
            "Default value when secondary hour type is not specified.",
            "The drive-through hour for banks, restaurants, or pharmacies.",
            "The happy hour.",
            "The delivery hour.",
            "The takeout hour.",
            "The kitchen hour.",
            "The breakfast hour.",
            "The lunch hour.",
            "The dinner hour.",
            "The brunch hour.",
            "The pickup hour.",
            "The access hours for storage places.",
            "The special hours for seniors.",
            "The online service hours."
          ]
        },
        "specialDays": {
          "type": "array",
          "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day. Set for current_opening_hours and current_secondary_opening_hours if there are exceptional hours.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
          }
        }
      },
      "description": "Information about business hour of the place.",
      "id": "GoogleMapsPlacesV1PlaceOpeningHours",
      "type": "object"
    },
    "GoogleMapsPlacesV1Circle": {
      "properties": {
        "center": {
          "description": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0].",
          "$ref": "GoogleTypeLatLng"
        },
        "radius": {
          "description": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0].",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Circle with a LatLng as center and radius.",
      "id": "GoogleMapsPlacesV1Circle",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceSubDestination": {
      "description": "Sub-destinations are specific places associated with a main place. These provide more specific destinations for users who are searching within a large or complex place, like an airport, national park, university, or stadium. For example, sub-destinations at an airport might include associated terminals and parking lots. Sub-destinations return the place ID and place resource name, which can be used in subsequent Place Details (New) requests to fetch richer details, including the sub-destination's display name and location.",
      "properties": {
        "id": {
          "description": "The place id of the sub-destination.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the sub-destination.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceSubDestination"
    },
    "GoogleMapsPlacesV1Place": {
      "properties": {
        "userRatingCount": {
          "format": "int32",
          "description": "The total number of reviews (with or without text) for this place.",
          "type": "integer"
        },
        "servesCocktails": {
          "description": "Place serves cocktails.",
          "type": "boolean"
        },
        "plusCode": {
          "description": "Plus code of the place location lat/long.",
          "$ref": "GoogleMapsPlacesV1PlacePlusCode"
        },
        "reviews": {
          "type": "array",
          "description": "List of reviews about this place, sorted by relevance. A maximum of 5 reviews can be returned.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          }
        },
        "iconBackgroundColor": {
          "description": "Background color for icon_mask in hex format, e.g. #909CE1.",
          "type": "string"
        },
        "internationalPhoneNumber": {
          "description": "A human-readable phone number for the place, in international format.",
          "type": "string"
        },
        "allowsDogs": {
          "description": "Place allows dogs.",
          "type": "boolean"
        },
        "takeout": {
          "description": "Specifies if the business supports takeout.",
          "type": "boolean"
        },
        "parkingOptions": {
          "description": "Options of parking provided by the place.",
          "$ref": "GoogleMapsPlacesV1PlaceParkingOptions"
        },
        "googleMapsLinks": {
          "description": "Links to trigger different Google Maps actions.",
          "$ref": "GoogleMapsPlacesV1PlaceGoogleMapsLinks"
        },
        "attributions": {
          "description": "A set of data provider that must be shown with this result.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAttribution"
          },
          "type": "array"
        },
        "id": {
          "description": "The unique identifier of a place.",
          "type": "string"
        },
        "evChargeOptions": {
          "description": "Information of ev charging options.",
          "$ref": "GoogleMapsPlacesV1EVChargeOptions"
        },
        "neighborhoodSummary": {
          "description": "A summary of points of interest near the place.",
          "$ref": "GoogleMapsPlacesV1PlaceNeighborhoodSummary"
        },
        "photos": {
          "description": "Information (including references) about photos of this place. A maximum of 10 photos can be returned.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          },
          "type": "array"
        },
        "iconMaskBaseUri": {
          "description": "A truncated URL to an icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\").",
          "type": "string"
        },
        "servesBeer": {
          "description": "Specifies if the place serves beer.",
          "type": "boolean"
        },
        "restroom": {
          "description": "Place has restroom.",
          "type": "boolean"
        },
        "outdoorSeating": {
          "description": "Place provides outdoor seating.",
          "type": "boolean"
        },
        "movedPlace": {
          "description": "If this Place is permanently closed and has moved to a new Place, this field contains the new Place's resource name, in `places/{place_id}` format. If this Place moved multiple times, this field will represent the first moved place. This field will not be populated if this Place has not moved.",
          "type": "string"
        },
        "reservable": {
          "description": "Specifies if the place supports reservations.",
          "type": "boolean"
        },
        "primaryType": {
          "description": "The primary type of the given result. This type must be one of the Places API supported types. For example, \"restaurant\", \"cafe\", \"airport\", etc. A place can only have a single primary type. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types. The primary type may be missing if the place's primary type is not a supported type. When a primary type is present, it is always one of the types in the `types` field.",
          "type": "string"
        },
        "types": {
          "description": "A set of type tags for this result. For example, \"political\" and \"locality\". For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "shortFormattedAddress": {
          "description": "A short, human-readable address for this place.",
          "type": "string"
        },
        "businessStatus": {
          "description": "The business status for the place.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The establishment is operational, not necessarily open now.",
            "The establishment is temporarily closed.",
            "The establishment is permanently closed.",
            "The establishment will open in the future."
          ],
          "type": "string",
          "enum": [
            "BUSINESS_STATUS_UNSPECIFIED",
            "OPERATIONAL",
            "CLOSED_TEMPORARILY",
            "CLOSED_PERMANENTLY",
            "FUTURE_OPENING"
          ]
        },
        "servesLunch": {
          "description": "Specifies if the place serves lunch.",
          "type": "boolean"
        },
        "fuelOptions": {
          "description": "The most recent information about fuel options in a gas station. This information is updated regularly.",
          "$ref": "GoogleMapsPlacesV1FuelOptions"
        },
        "addressComponents": {
          "description": "Repeated components for each locality level. Note the following facts about the address_components[] array: - The array of address components may contain more components than the formatted_address. - The array does not necessarily include all the political entities that contain an address, apart from those included in the formatted_address. To retrieve all the political entities that contain a specific address, you should use reverse geocoding, passing the latitude/longitude of the address as a parameter to the request. - The format of the response is not guaranteed to remain the same between requests. In particular, the number of address_components varies based on the address requested and can change over time for the same address. A component can change position in the array. The type of the component can change. A particular component may be missing in a later response.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAddressComponent"
          },
          "type": "array"
        },
        "currentOpeningHours": {
          "description": "The hours of operation for the next seven days (including today). The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
        },
        "liveMusic": {
          "description": "Place provides live music.",
          "type": "boolean"
        },
        "curbsidePickup": {
          "description": "Specifies if the business supports curbside pickup.",
          "type": "boolean"
        },
        "reviewSummary": {
          "description": "AI-generated summary of the place using user reviews.",
          "$ref": "GoogleMapsPlacesV1PlaceReviewSummary"
        },
        "servesBreakfast": {
          "description": "Specifies if the place serves breakfast.",
          "type": "boolean"
        },
        "servesDinner": {
          "description": "Specifies if the place serves dinner.",
          "type": "boolean"
        },
        "paymentOptions": {
          "description": "Payment options the place accepts. If a payment option data is not available, the payment option field will be unset.",
          "$ref": "GoogleMapsPlacesV1PlacePaymentOptions"
        },
        "googleMapsUri": {
          "description": "A URL providing more information about this place.",
          "type": "string"
        },
        "adrFormatAddress": {
          "description": "The place's address in adr microformat: http://microformats.org/wiki/adr.",
          "type": "string"
        },
        "viewport": {
          "description": "A viewport suitable for displaying the place on an average-sized map. This viewport should not be used as the physical boundary or the service area of the business.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "menuForChildren": {
          "description": "Place has a children's menu.",
          "type": "boolean"
        },
        "utcOffsetMinutes": {
          "format": "int32",
          "description": "Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes.",
          "type": "integer"
        },
        "servesCoffee": {
          "description": "Place serves coffee.",
          "type": "boolean"
        },
        "name": {
          "description": "This Place's resource name, in `places/{place_id}` format. Can be used to look up the Place.",
          "type": "string"
        },
        "timeZone": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "$ref": "GoogleTypeTimeZone"
        },
        "regularSecondaryOpeningHours": {
          "description": "Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "type": "array"
        },
        "dineIn": {
          "description": "Specifies if the business supports indoor or outdoor seating options.",
          "type": "boolean"
        },
        "servesVegetarianFood": {
          "description": "Specifies if the place serves vegetarian food.",
          "type": "boolean"
        },
        "consumerAlert": {
          "description": "The consumer alert message for the place when we detect suspicious review activity on a business or a business violates our policies.",
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlert"
        },
        "openingDate": {
          "description": "The date this place will open in the future. This field is only populated if the business status is FUTURE_OPENING.",
          "$ref": "GoogleTypeDate"
        },
        "generativeSummary": {
          "description": "AI-generated summary of the place.",
          "$ref": "GoogleMapsPlacesV1PlaceGenerativeSummary"
        },
        "editorialSummary": {
          "description": "Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "goodForWatchingSports": {
          "description": "Place is suitable for watching sports.",
          "type": "boolean"
        },
        "googleMapsTypeLabel": {
          "description": "The type label of the place on Google Maps, localized to the request language if applicable, for example, \"Restaurant\", \"Cafe\", \"Airport\", etc. The type label may be different from the primary type display name and may not be a supported type in [Places API Place Types table](https://developers.google.com/maps/documentation/places/web-service/place-types).",
          "$ref": "GoogleTypeLocalizedText"
        },
        "accessibilityOptions": {
          "description": "Information about the accessibility options a place offers.",
          "$ref": "GoogleMapsPlacesV1PlaceAccessibilityOptions"
        },
        "evChargeAmenitySummary": {
          "description": "The summary of amenities near the EV charging station.",
          "$ref": "GoogleMapsPlacesV1PlaceEvChargeAmenitySummary"
        },
        "location": {
          "description": "The position of this place.",
          "$ref": "GoogleTypeLatLng"
        },
        "formattedAddress": {
          "description": "A full, human-readable address for this place.",
          "type": "string"
        },
        "primaryTypeDisplayName": {
          "description": "The display name of the primary type, localized to the request language if applicable. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types. The primary type may be missing if the place's primary type is not a supported type.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "currentSecondaryOpeningHours": {
          "description": "Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "type": "array"
        },
        "websiteUri": {
          "description": "The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain.",
          "type": "string"
        },
        "postalAddress": {
          "description": "The address in postal address format.",
          "$ref": "GoogleTypePostalAddress"
        },
        "nationalPhoneNumber": {
          "description": "A human-readable phone number for the place, in national format.",
          "type": "string"
        },
        "servesBrunch": {
          "description": "Specifies if the place serves brunch.",
          "type": "boolean"
        },
        "containingPlaces": {
          "description": "List of places in which the current place is located.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceContainingPlace"
          },
          "type": "array"
        },
        "priceRange": {
          "description": "The price range associated with a Place.",
          "$ref": "GoogleMapsPlacesV1PriceRange"
        },
        "priceLevel": {
          "type": "string",
          "enum": [
            "PRICE_LEVEL_UNSPECIFIED",
            "PRICE_LEVEL_FREE",
            "PRICE_LEVEL_INEXPENSIVE",
            "PRICE_LEVEL_MODERATE",
            "PRICE_LEVEL_EXPENSIVE",
            "PRICE_LEVEL_VERY_EXPENSIVE"
          ],
          "enumDescriptions": [
            "Place price level is unspecified or unknown.",
            "Place provides free services.",
            "Place provides inexpensive services.",
            "Place provides moderately priced services.",
            "Place provides expensive services.",
            "Place provides very expensive services."
          ],
          "description": "Price level of the place."
        },
        "goodForGroups": {
          "description": "Place accommodates groups.",
          "type": "boolean"
        },
        "delivery": {
          "description": "Specifies if the business supports delivery.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "rating": {
          "format": "double",
          "description": "A rating between 1.0 and 5.0, based on user reviews of this place.",
          "type": "number"
        },
        "pureServiceAreaBusiness": {
          "description": "Indicates whether the place is a pure service area business. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses may not have a physical address or location on Google Maps.",
          "type": "boolean"
        },
        "goodForChildren": {
          "description": "Place is good for children.",
          "type": "boolean"
        },
        "subDestinations": {
          "description": "A list of sub-destinations related to the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceSubDestination"
          },
          "type": "array"
        },
        "movedPlaceId": {
          "description": "If this Place is permanently closed and has moved to a new Place, this field contains the new Place's place ID. If this Place moved multiple times, this field will represent the first moved Place. This field will not be populated if this Place has not moved.",
          "type": "string"
        },
        "servesDessert": {
          "description": "Place serves dessert.",
          "type": "boolean"
        },
        "regularOpeningHours": {
          "description": "The regular hours of operation. Note that if a place is always open (24 hours), the `close` field will not be set. Clients can rely on always open (24 hours) being represented as an [`open`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Period) period containing [`day`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`, [`hour`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`, and [`minute`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
        },
        "addressDescriptor": {
          "description": "The address descriptor of the place. Address descriptors include additional information that help describe a location using landmarks and areas. See address descriptor regional coverage in https://developers.google.com/maps/documentation/geocoding/address-descriptors/coverage.",
          "$ref": "GoogleMapsPlacesV1AddressDescriptor"
        },
        "servesWine": {
          "description": "Specifies if the place serves wine.",
          "type": "boolean"
        }
      },
      "description": "All the information representing a Place.",
      "id": "GoogleMapsPlacesV1Place",
      "type": "object"
    },
    "GoogleMapsPlacesV1AddressDescriptorArea": {
      "description": "Area information and the area's relationship with the target location. Areas includes precise sublocality, neighborhoods, and large compounds that are useful for describing a location.",
      "properties": {
        "containment": {
          "enumDescriptions": [
            "The containment is unspecified.",
            "The target location is within the area region, close to the center.",
            "The target location is within the area region, close to the edge.",
            "The target location is outside the area region, but close by."
          ],
          "description": "Defines the spatial relationship between the target location and the area.",
          "type": "string",
          "enum": [
            "CONTAINMENT_UNSPECIFIED",
            "WITHIN",
            "OUTSKIRTS",
            "NEAR"
          ]
        },
        "name": {
          "description": "The area's resource name.",
          "type": "string"
        },
        "placeId": {
          "description": "The area's place id.",
          "type": "string"
        },
        "displayName": {
          "description": "The area's display name.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1AddressDescriptorArea"
    },
    "GoogleMapsPlacesV1EVChargeOptions": {
      "id": "GoogleMapsPlacesV1EVChargeOptions",
      "type": "object",
      "properties": {
        "connectorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of connectors at this station. However, because some ports can have multiple connectors but only be able to charge one car at a time (e.g.) the number of connectors may be greater than the total number of cars which can charge simultaneously."
        },
        "connectorAggregation": {
          "description": "A list of EV charging connector aggregations that contain connectors of the same type and same charge rate.",
          "items": {
            "$ref": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
          },
          "type": "array"
        }
      },
      "description": "Information about the EV Charge Station hosted in Place. Terminology follows https://afdc.energy.gov/fuels/electricity_infrastructure.html One port could charge one car at a time. One port has one or more connectors. One station has one or more ports."
    },
    "GoogleMapsPlacesV1PlaceGenerativeSummary": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceGenerativeSummary",
      "description": "AI-generated summary of the place.",
      "properties": {
        "overviewFlagContentUri": {
          "description": "A link where users can flag a problem with the overview summary.",
          "type": "string"
        },
        "overview": {
          "description": "The overview of the place.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "disclosureText": {
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available.",
          "$ref": "GoogleTypeLocalizedText"
        }
      }
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "properties": {
        "circle": {
          "description": "A circle defined by center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        },
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees.",
          "$ref": "GoogleGeoTypeViewport"
        }
      },
      "description": "The region to search. This location serves as a bias which means results around given location might be returned.",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceReviewSummary": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceReviewSummary",
      "description": "AI-generated summary of the place using user reviews.",
      "properties": {
        "disclosureText": {
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "text": {
          "description": "The summary of user reviews.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "reviewsUri": {
          "description": "A link to show reviews of this place on Google Maps.",
          "type": "string"
        },
        "flagContentUri": {
          "description": "A link where users can flag a problem with the summary.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange": {
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange",
      "description": "Identifies a substring within a given text.",
      "properties": {
        "startOffset": {
          "type": "integer",
          "description": "Zero-based offset of the first Unicode character of the string (inclusive).",
          "format": "int32"
        },
        "endOffset": {
          "type": "integer",
          "description": "Zero-based offset of the last Unicode character (exclusive).",
          "format": "int32"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceNeighborhoodSummary": {
      "properties": {
        "overview": {
          "description": "An overview summary of the neighborhood.",
          "$ref": "GoogleMapsPlacesV1ContentBlock"
        },
        "flagContentUri": {
          "description": "A link where users can flag a problem with the summary.",
          "type": "string"
        },
        "description": {
          "description": "A detailed description of the neighborhood.",
          "$ref": "GoogleMapsPlacesV1ContentBlock"
        },
        "disclosureText": {
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "description": "A summary of points of interest near the place.",
      "id": "GoogleMapsPlacesV1PlaceNeighborhoodSummary",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceConsumerAlertDetails": {
      "properties": {
        "description": {
          "description": "The description of the consumer alert message.",
          "type": "string"
        },
        "title": {
          "description": "The title to show together with the description.",
          "type": "string"
        },
        "aboutLink": {
          "description": "The link to show together with the description to provide more information.",
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink"
        }
      },
      "description": "The details of the consumer alert message.",
      "id": "GoogleMapsPlacesV1PlaceConsumerAlertDetails",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequest": {
      "description": "Request proto for SearchText. ",
      "properties": {
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        },
        "includePureServiceAreaBusinesses": {
          "description": "Optional. Include pure service area businesses if the field is set to true. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses do not have a physical address or location on Google Maps. Places will not return fields including `location`, `plus_code`, and other location related fields for these businesses.",
          "type": "boolean"
        },
        "strictTypeFiltering": {
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false.",
          "type": "boolean"
        },
        "searchAlongRouteParameters": {
          "description": "Optional. Additional parameters proto for searching along a route.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestSearchAlongRouteParameters"
        },
        "languageCode": {
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
          "type": "string"
        },
        "priceLevels": {
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels.",
          "items": {
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive services."
            ],
            "type": "string",
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ]
          },
          "type": "array"
        },
        "evOptions": {
          "description": "Optional. Set the searchable EV options of a place search request.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestEVOptions"
        },
        "minRating": {
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be a float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating.",
          "format": "double",
          "type": "number"
        },
        "textQuery": {
          "description": "Required. The text query for textual search.",
          "type": "string"
        },
        "rankPreference": {
          "enumDescriptions": [
            "For a categorical query such as \"Restaurants in New York City\", RELEVANCE is the default. For non-categorical queries such as \"Mountain View, CA\" we recommend that you leave rankPreference unset.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack."
          ],
          "description": "How results will be ranked in the response.",
          "type": "string",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ]
        },
        "routingParameters": {
          "description": "Optional. Additional parameters for routing to results.",
          "$ref": "GoogleMapsPlacesV1RoutingParameters"
        },
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported.",
          "type": "string"
        },
        "locationRestriction": {
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction"
        },
        "includedType": {
          "description": "The requested place type. Full list of types supported: https://developers.google.com/maps/documentation/places/web-service/place-types. Only support one included type.",
          "type": "string"
        },
        "maxResultCount": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "Deprecated: Use `page_size` instead. The maximum number of results per page that can be returned. If the number of available results is larger than `max_result_count`, a `next_page_token` is returned which can be passed to `page_token` to get the next page of results in subsequent requests. If 0 or no value is provided, a default of 20 is used. The maximum value is 20; values above 20 will be coerced to 20. Negative values will return an INVALID_ARGUMENT error. If both `max_result_count` and `page_size` are specified, `max_result_count` will be ignored."
        },
        "openNow": {
          "description": "Used to restrict the search to places that are currently open. The default is false.",
          "type": "boolean"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous TextSearch call. Provide this to retrieve the subsequent page. When paginating, all parameters other than `page_token`, `page_size`, and `max_result_count` provided to TextSearch must match the initial call that provided the page token. Otherwise an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of results per page that can be returned. If the number of available results is larger than `page_size`, a `next_page_token` is returned which can be passed to `page_token` to get the next page of results in subsequent requests. If 0 or no value is provided, a default of 20 is used. The maximum value is 20; values above 20 will be set to 20. Negative values will return an INVALID_ARGUMENT error. If both `max_result_count` and `page_size` are specified, `max_result_count` will be ignored.",
          "format": "int32"
        },
        "locationBias": {
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequest"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat": {
      "description": "Contains a breakdown of a Place or query prediction into main text and secondary text. For Place predictions, the main text contains the specific name of the Place. For query predictions, the main text contains the query. The secondary text contains additional disambiguating features (such as a city or region) to further identify the Place or refine the query.",
      "properties": {
        "mainText": {
          "description": "Represents the name of the Place or query.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        },
        "secondaryText": {
          "description": "Represents additional disambiguating features (such as a city or region) to further identify the Place or refine the query.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat"
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification": {
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. User review justifications. This highlights a section of the user review that would interest an end user. For instance, if the search query is \"firewood pizza\", the review justification highlights the text relevant to the search query.",
      "properties": {
        "highlightedText": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText"
        },
        "review": {
          "description": "The review that the highlighted text is generated from.",
          "$ref": "GoogleMapsPlacesV1Review"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification"
    },
    "GoogleMapsPlacesV1AddressDescriptor": {
      "type": "object",
      "id": "GoogleMapsPlacesV1AddressDescriptor",
      "description": "A relational description of a location. Includes a ranked set of nearby landmarks and precise containing areas and their relationship to the target location.",
      "properties": {
        "landmarks": {
          "description": "A ranked list of nearby landmarks. The most recognizable and nearby landmarks are ranked first.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AddressDescriptorLandmark"
          },
          "type": "array"
        },
        "areas": {
          "description": "A ranked list of containing or adjacent areas. The most recognizable and precise areas are ranked first.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AddressDescriptorArea"
          },
          "type": "array"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceParkingOptions": {
      "properties": {
        "paidParkingLot": {
          "description": "Place offers paid parking lots.",
          "type": "boolean"
        },
        "freeParkingLot": {
          "description": "Place offers free parking lots.",
          "type": "boolean"
        },
        "valetParking": {
          "description": "Place offers valet parking.",
          "type": "boolean"
        },
        "freeStreetParking": {
          "description": "Place offers free street parking.",
          "type": "boolean"
        },
        "paidStreetParking": {
          "description": "Place offers paid street parking.",
          "type": "boolean"
        },
        "freeGarageParking": {
          "description": "Place offers free garage parking.",
          "type": "boolean"
        },
        "paidGarageParking": {
          "description": "Place offers paid garage parking.",
          "type": "boolean"
        }
      },
      "description": "Information about parking options for the place. A parking lot could support more than one option at the same time.",
      "id": "GoogleMapsPlacesV1PlaceParkingOptions",
      "type": "object"
    },
    "GoogleTypeDate": {
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceContainingPlace": {
      "properties": {
        "id": {
          "description": "The place id of the place in which this place is located.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the place in which this place is located.",
          "type": "string"
        }
      },
      "description": "Info about the place in which this place is located.",
      "id": "GoogleMapsPlacesV1PlaceContainingPlace",
      "type": "object"
    },
    "GoogleTypePostalAddress": {
      "id": "GoogleTypePostalAddress",
      "type": "object",
      "properties": {
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "format": "int32",
          "type": "integer"
        },
        "recipients": {
          "type": "array",
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "items": {
            "type": "string"
          }
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        }
      },
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478."
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriod": {
      "description": "A period the place remains in open_now status.",
      "properties": {
        "close": {
          "description": "The time that the place starts to be closed.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
        },
        "open": {
          "description": "The time that the place starts to be open.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
    },
    "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation": {
      "description": "EV charging information grouped by [type, max_charge_rate_kw]. Shows EV charge aggregation of connectors that have the same type and max charge rate in kw.",
      "properties": {
        "type": {
          "description": "The connector type of this aggregation.",
          "enumDescriptions": [
            "Unspecified connector.",
            "Other connector types.",
            "J1772 type 1 connector.",
            "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
            "CHAdeMO type connector.",
            "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
            "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
            "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
            "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
            "Unspecified wall outlet.",
            "The North American Charging System (NACS), standardized as SAE J3400."
          ],
          "type": "string",
          "enum": [
            "EV_CONNECTOR_TYPE_UNSPECIFIED",
            "EV_CONNECTOR_TYPE_OTHER",
            "EV_CONNECTOR_TYPE_J1772",
            "EV_CONNECTOR_TYPE_TYPE_2",
            "EV_CONNECTOR_TYPE_CHADEMO",
            "EV_CONNECTOR_TYPE_CCS_COMBO_1",
            "EV_CONNECTOR_TYPE_CCS_COMBO_2",
            "EV_CONNECTOR_TYPE_TESLA",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET",
            "EV_CONNECTOR_TYPE_NACS"
          ]
        },
        "availabilityLastUpdateTime": {
          "format": "google-datetime",
          "description": "The timestamp when the connector availability information in this aggregation was last updated.",
          "type": "string"
        },
        "count": {
          "type": "integer",
          "description": "Number of connectors in this aggregation.",
          "format": "int32"
        },
        "availableCount": {
          "format": "int32",
          "description": "Number of connectors in this aggregation that are currently available.",
          "type": "integer"
        },
        "outOfServiceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of connectors in this aggregation that are currently out of service."
        },
        "maxChargeRateKw": {
          "type": "number",
          "format": "double",
          "description": "The static max charging rate in kw of each connector in the aggregation."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
    },
    "GoogleMapsPlacesV1ContextualContent": {
      "type": "object",
      "id": "GoogleMapsPlacesV1ContextualContent",
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. Content that is contextual to the place query.",
      "properties": {
        "photos": {
          "type": "array",
          "description": "Information (including references) about photos of this place, contextual to the place query.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          }
        },
        "justifications": {
          "type": "array",
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. Justifications for the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustification"
          }
        },
        "reviews": {
          "type": "array",
          "description": "List of reviews about this place, contextual to the place query.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          }
        }
      }
    },
    "GoogleMapsPlacesV1PriceRange": {
      "id": "GoogleMapsPlacesV1PriceRange",
      "type": "object",
      "properties": {
        "startPrice": {
          "description": "The low end of the price range (inclusive). Price should be at or above this amount.",
          "$ref": "GoogleTypeMoney"
        },
        "endPrice": {
          "description": "The high end of the price range (exclusive). Price should be lower than this amount.",
          "$ref": "GoogleTypeMoney"
        }
      },
      "description": "The price range associated with a Place. `end_price` could be unset, which indicates a range without upper bound (e.g. \"More than $100\")."
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias",
      "type": "object",
      "properties": {
        "rectangle": {
          "description": "A viewport defined by a northeast and a southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "circle": {
          "description": "A circle defined by a center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        }
      },
      "description": "The region to search. The results may be biased around the specified region."
    },
    "GoogleMapsPlacesV1RoutingSummary": {
      "properties": {
        "legs": {
          "type": "array",
          "description": "The legs of the trip. When you calculate travel duration and distance from a set origin, `legs` contains a single leg containing the duration and distance from the origin to the destination. When you do a search along route, `legs` contains two legs: one from the origin to place, and one from the place to the destination.",
          "items": {
            "$ref": "GoogleMapsPlacesV1RoutingSummaryLeg"
          }
        },
        "directionsUri": {
          "description": "A link to show directions on Google Maps using the waypoints from the given routing summary. The route generated by this link is not guaranteed to be the same as the route used to generate the routing summary. The link uses information provided in the request, from fields including `routingParameters` and `searchAlongRouteParameters` when applicable, to generate the directions link.",
          "type": "string"
        }
      },
      "description": "The duration and distance from the routing origin to a place in the response, and a second leg from that place to the destination, if requested. **Note:** Adding `routingSummaries` in the field mask without also including either the `routingParameters.origin` parameter or the `searchAlongRouteParameters.polyline.encodedPolyline` parameter in the request causes an error.",
      "id": "GoogleMapsPlacesV1RoutingSummary",
      "type": "object"
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText": {
      "type": "object",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText",
      "description": "The text highlighted by the justification. This is a subset of the review itself. The exact word to highlight is marked by the HighlightedTextRange. There could be several words in the text being highlighted.",
      "properties": {
        "text": {
          "type": "string"
        },
        "highlightedTextRanges": {
          "description": "The list of the ranges of the highlighted text.",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange"
          },
          "type": "array"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink",
      "description": "The link to show together with the description to provide more information.",
      "properties": {
        "title": {
          "description": "The title to show for the link.",
          "type": "string"
        },
        "uri": {
          "description": "The uri of the link.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
      "type": "object",
      "properties": {
        "text": {
          "description": "Text that may be used as is or formatted with `matches`.",
          "type": "string"
        },
        "matches": {
          "type": "array",
          "description": "A list of string ranges identifying where the input request matched in `text`. The ranges can be used to format specific parts of `text`. The substrings may not be exact matches of `input` if the matching was determined by criteria other than string matching (for example, spell corrections or transliterations). These values are Unicode character offsets of `text`. The ranges are guaranteed to be ordered in increasing offset values.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange"
          }
        }
      },
      "description": "Text representing a Place or query prediction. The text may be used as is or formatted."
    },
    "GoogleGeoTypeViewport": {
      "type": "object",
      "id": "GoogleGeoTypeViewport",
      "description": "A latitude-longitude viewport, represented as two diagonally opposite `low` and `high` points. A viewport is considered a closed region, i.e. it includes its boundary. The latitude bounds must range between -90 to 90 degrees inclusive, and the longitude bounds must range between -180 to 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport consists of that single point. - If `low.longitude` > `high.longitude`, the longitude range is inverted (the viewport crosses the 180 degree longitude line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees, the viewport includes all longitudes. - If `low.longitude` = 180 degrees and `high.longitude` = -180 degrees, the longitude range is empty. - If `low.latitude` > `high.latitude`, the latitude range is empty. Both `low` and `high` must be populated, and the represented box cannot be empty (as specified by the definitions above). An empty viewport will result in an error. For example, this viewport fully encloses New York City: { \"low\": { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\": 40.91618, \"longitude\": -73.70018 } }",
      "properties": {
        "high": {
          "description": "Required. The high point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        },
        "low": {
          "description": "Required. The low point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        }
      }
    },
    "GoogleMapsPlacesV1Photo": {
      "properties": {
        "authorAttributions": {
          "description": "This photo's authors.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AuthorAttribution"
          },
          "type": "array"
        },
        "googleMapsUri": {
          "description": "A link to show the photo on Google Maps.",
          "type": "string"
        },
        "flagContentUri": {
          "description": "A link where users can flag a problem with the photo.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. A reference representing this place photo which may be used to look up this place photo again (also called the API \"resource\" name: `places/{place_id}/photos/{photo}`).",
          "type": "string"
        },
        "widthPx": {
          "type": "integer",
          "description": "The maximum available width, in pixels.",
          "format": "int32"
        },
        "heightPx": {
          "description": "The maximum available height, in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Information about a photo of a place.",
      "id": "GoogleMapsPlacesV1Photo",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationRestriction": {
      "properties": {
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees.",
          "$ref": "GoogleGeoTypeViewport"
        }
      },
      "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned.",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceAccessibilityOptions": {
      "id": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
      "type": "object",
      "properties": {
        "wheelchairAccessibleParking": {
          "description": "Place offers wheelchair accessible parking.",
          "type": "boolean"
        },
        "wheelchairAccessibleEntrance": {
          "description": "Places has wheelchair accessible entrance.",
          "type": "boolean"
        },
        "wheelchairAccessibleRestroom": {
          "description": "Place has wheelchair accessible restroom.",
          "type": "boolean"
        },
        "wheelchairAccessibleSeating": {
          "description": "Place has wheelchair accessible seating.",
          "type": "boolean"
        }
      },
      "description": "Information about the accessibility options a place offers."
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "id": "GoogleMapsPlacesV1PlaceAttribution",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Name of the Place's data provider.",
          "type": "string"
        },
        "providerUri": {
          "description": "URI to the Place's data provider.",
          "type": "string"
        }
      },
      "description": "Information about data providers of this place."
    },
    "GoogleMapsPlacesV1Review": {
      "type": "object",
      "id": "GoogleMapsPlacesV1Review",
      "description": "Information about a review of a place.",
      "properties": {
        "googleMapsUri": {
          "description": "A link to show the review on Google Maps.",
          "type": "string"
        },
        "visitDate": {
          "description": "The date when the author visited the place. This is truncated to the year and month of the visit.",
          "$ref": "GoogleTypeDate"
        },
        "rating": {
          "description": "A number between 1.0 and 5.0, also called the number of stars.",
          "format": "double",
          "type": "number"
        },
        "authorAttribution": {
          "description": "This review's author.",
          "$ref": "GoogleMapsPlacesV1AuthorAttribution"
        },
        "name": {
          "description": "A reference representing this place review which may be used to look up this place review again (also called the API \"resource\" name: `places/{place_id}/reviews/{review}`).",
          "type": "string"
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Timestamp for the review.",
          "type": "string"
        },
        "flagContentUri": {
          "description": "A link where users can flag a problem with the review.",
          "type": "string"
        },
        "text": {
          "description": "The localized text of the review.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "originalText": {
          "description": "The review text in its original language.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "relativePublishTimeDescription": {
          "description": "A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1PlacePaymentOptions": {
      "properties": {
        "acceptsDebitCards": {
          "description": "Place accepts debit cards as payment.",
          "type": "boolean"
        },
        "acceptsNfc": {
          "description": "Place accepts NFC payments.",
          "type": "boolean"
        },
        "acceptsCashOnly": {
          "description": "Place accepts cash only as payment. Places with this attribute may still accept other payment methods.",
          "type": "boolean"
        },
        "acceptsCreditCards": {
          "description": "Place accepts credit cards as payment.",
          "type": "boolean"
        }
      },
      "description": "Payment options the place accepts.",
      "id": "GoogleMapsPlacesV1PlacePaymentOptions",
      "type": "object"
    },
    "GoogleMapsPlacesV1RoutingParameters": {
      "description": "Parameters to configure the routing calculations to the places in the response, both along a route (where result ranking will be influenced) and for calculating travel times on results.",
      "properties": {
        "origin": {
          "description": "Optional. An explicit routing origin that overrides the origin defined in the polyline. By default, the polyline origin is used.",
          "$ref": "GoogleTypeLatLng"
        },
        "routingPreference": {
          "type": "string",
          "enum": [
            "ROUTING_PREFERENCE_UNSPECIFIED",
            "TRAFFIC_UNAWARE",
            "TRAFFIC_AWARE",
            "TRAFFIC_AWARE_OPTIMAL"
          ],
          "enumDescriptions": [
            "No routing preference specified. Default to `TRAFFIC_UNAWARE`.",
            "Computes routes without taking live traffic conditions into consideration. Suitable when traffic conditions don't matter or are not applicable. Using this value produces the lowest latency. Note: For `TravelMode` `DRIVE` and `TWO_WHEELER`, the route and duration chosen are based on road network and average time-independent traffic conditions, not current road conditions. Consequently, routes may include roads that are temporarily closed. Results for a given request may vary over time due to changes in the road network, updated average traffic conditions, and the distributed nature of the service. Results may also vary between nearly-equivalent routes at any time or frequency.",
            "Calculates routes taking live traffic conditions into consideration. In contrast to `TRAFFIC_AWARE_OPTIMAL`, some optimizations are applied to significantly reduce latency.",
            "Calculates the routes taking live traffic conditions into consideration, without applying most performance optimizations. Using this value produces the highest latency."
          ],
          "description": "Optional. Specifies how to compute the routing summaries. The server attempts to use the selected routing preference to compute the route. The traffic aware routing preference is only available for the `DRIVE` or `TWO_WHEELER` `travelMode`."
        },
        "travelMode": {
          "enumDescriptions": [
            "No travel mode specified. Defaults to `DRIVE`.",
            "Travel by passenger car.",
            "Travel by bicycle. Not supported with `search_along_route_parameters`.",
            "Travel by walking. Not supported with `search_along_route_parameters`.",
            "Motorized two wheeled vehicles of all kinds such as scooters and motorcycles. Note that this is distinct from the `BICYCLE` travel mode which covers human-powered transport. Not supported with `search_along_route_parameters`. Only supported in those countries listed at [Countries and regions supported for two-wheeled vehicles](https://developers.google.com/maps/documentation/routes/coverage-two-wheeled)."
          ],
          "description": "Optional. The travel mode.",
          "type": "string",
          "enum": [
            "TRAVEL_MODE_UNSPECIFIED",
            "DRIVE",
            "BICYCLE",
            "WALK",
            "TWO_WHEELER"
          ]
        },
        "routeModifiers": {
          "description": "Optional. The route modifiers.",
          "$ref": "GoogleMapsPlacesV1RouteModifiers"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1RoutingParameters"
    },
    "GoogleTypeLatLng": {
      "id": "GoogleTypeLatLng",
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay",
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day.",
      "properties": {
        "date": {
          "description": "The date of this special day.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction",
      "type": "object",
      "properties": {
        "circle": {
          "description": "A circle defined by a center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        },
        "rectangle": {
          "description": "A viewport defined by a northeast and a southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        }
      },
      "description": "The region to search. The results will be restricted to the specified region."
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "id": "GoogleMapsPlacesV1PlacePlusCode",
      "type": "object",
      "properties": {
        "globalCode": {
          "description": "Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters).",
          "type": "string"
        },
        "compoundCode": {
          "description": "Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity.",
          "type": "string"
        }
      },
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location."
    },
    "GoogleTypeLocalizedText": {
      "type": "object",
      "id": "GoogleTypeLocalizedText",
      "description": "Localized variant of a text in a particular language.",
      "properties": {
        "text": {
          "description": "Localized string in the language corresponding to language_code below.",
          "type": "string"
        },
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion": {
      "description": "An Autocomplete suggestion result.",
      "properties": {
        "placePrediction": {
          "description": "A prediction for a Place.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction"
        },
        "queryPrediction": {
          "description": "A prediction for a query.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion"
    },
    "GoogleMapsPlacesV1PhotoMedia": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PhotoMedia",
      "description": "A photo media from Places API.",
      "properties": {
        "name": {
          "description": "The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`.",
          "type": "string"
        },
        "photoUri": {
          "description": "A short-lived uri that can be used to render the photo.",
          "type": "string"
        }
      }
    },
[...]
