{
  "version": "v1",
  "canonicalName": "Play Integrity",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "basePath": "",
  "id": "playintegrity:v1",
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "description": "Decodes the integrity token and returns the token payload.",
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "httpMethod": "POST",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "id": "playintegrity.decodeIntegrityToken",
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "parameters": {
            "packageName": {
              "description": " Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "decodePcIntegrityToken": {
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "parameters": {
            "packageName": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Package name of the app the attached integrity token belongs to."
            }
          },
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "httpMethod": "POST",
          "id": "playintegrity.decodePcIntegrityToken",
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken"
        }
      }
    },
    "deviceRecall": {
      "methods": {
        "write": {
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "httpMethod": "POST",
          "id": "playintegrity.deviceRecall.write",
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "path": "v1/{+packageName}/deviceRecall:write"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "title": "Google Play Integrity API",
  "servicePath": "",
  "protocol": "rest",
  "rootUrl": "https://playintegrity.googleapis.com/",
  "version_module": true,
  "schemas": {
    "WriteDeviceRecallResponse": {
      "properties": {},
      "id": "WriteDeviceRecallResponse",
      "type": "object",
      "description": "Response for the Write Device Recall action. Currently empty."
    },
    "PcDeviceIntegrity": {
      "id": "PcDeviceIntegrity",
      "type": "object",
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ]
          }
        }
      },
      "description": "Contains the device attestation information."
    },
    "DecodePcIntegrityTokenRequest": {
      "id": "DecodePcIntegrityTokenRequest",
      "type": "object",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      },
      "description": "Request to decode the PC integrity token."
    },
    "RecentDeviceActivity": {
      "id": "RecentDeviceActivity",
      "type": "object",
      "properties": {
        "deviceActivityLevel": {
          "type": "string",
          "description": "Required. Indicates the activity level of the device.",
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ]
        }
      },
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming."
    },
    "AccountDetails": {
      "properties": {
        "accountActivity": {
          "description": "(Restricted Access) Details about the account activity for the user in the scope.",
          "$ref": "AccountActivity",
          "deprecated": true
        },
        "appLicensingVerdict": {
          "type": "string",
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ]
        }
      },
      "id": "AccountDetails",
      "type": "object",
      "description": "Contains the account information such as the licensing status for the user in the scope."
    },
    "DecodeIntegrityTokenResponse": {
      "description": "Response containing the decoded integrity payload.",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "id": "DecodeIntegrityTokenResponse",
      "type": "object"
    },
    "RequestDetails": {
      "description": "Contains the integrity request information.",
      "id": "RequestDetails",
      "type": "object",
      "properties": {
        "nonce": {
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap).",
          "type": "string"
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        },
        "timestampMillis": {
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "format": "int64",
          "type": "string"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        }
      }
    },
    "DeviceRecall": {
      "id": "DeviceRecall",
      "type": "object",
      "properties": {
        "values": {
          "$ref": "Values",
          "description": "Required. Contains the recall bits values."
        },
        "writeDates": {
          "description": "Required. Contains the recall bits write dates.",
          "$ref": "WriteDates"
        }
      },
      "description": "Contains the recall bits per device set by the developer."
    },
    "AppIntegrity": {
      "id": "AppIntegrity",
      "type": "object",
      "properties": {
        "appRecognitionVerdict": {
          "description": "Required. Details about the app recognition verdict",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "type": "string"
        },
        "versionCode": {
          "type": "string",
          "format": "int64",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED."
        },
        "certificateSha256Digest": {
          "type": "array",
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "items": {
            "type": "string"
          }
        },
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        }
      },
      "description": "Contains the application integrity information."
    },
    "DeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceRecall": {
          "$ref": "DeviceRecall",
          "description": "Details about the device recall bits set by the developer."
        },
        "deviceAttributes": {
          "description": "Attributes of the device where the integrity token was generated.",
          "$ref": "DeviceAttributes"
        },
        "deviceRecognitionVerdict": {
          "type": "array",
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "type": "string"
          }
        },
        "legacyDeviceRecognitionVerdict": {
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ]
          },
          "type": "array"
        },
        "recentDeviceActivity": {
          "$ref": "RecentDeviceActivity",
          "description": "Details about the device activity of the device the app is running on."
        }
      },
      "id": "DeviceIntegrity",
      "type": "object"
    },
    "EnvironmentDetails": {
      "id": "EnvironmentDetails",
      "type": "object",
      "properties": {
        "appAccessRiskVerdict": {
          "$ref": "AppAccessRiskVerdict",
          "description": "The evaluation of the App Access Risk verdicts."
        },
        "playProtectVerdict": {
          "type": "string",
          "description": "The evaluation of Play Protect verdict.",
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ]
        }
      },
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict."
    },
    "PcAccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "PcAccountDetails",
      "type": "object",
      "properties": {
        "appLicensingVerdict": {
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ],
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "type": "string"
        }
      }
    },
    "DecodeIntegrityTokenRequest": {
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "id": "DecodeIntegrityTokenRequest",
      "type": "object",
      "description": "Request to decode the integrity token."
    },
    "DeviceAttributes": {
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "properties": {
        "sdkVersion": {
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeviceAttributes",
      "type": "object"
    },
    "WriteDeviceRecallRequest": {
      "id": "WriteDeviceRecallRequest",
      "type": "object",
      "properties": {
        "integrityToken": {
          "description": "Required. Integrity token obtained from calling Play Integrity API.",
          "type": "string"
        },
        "newValues": {
          "description": "Required. The new values for the device recall bits to be written.",
          "$ref": "Values"
        }
      },
      "description": "Request to write device recall bits."
    },
    "WriteDates": {
      "properties": {
        "yyyymmThird": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false."
        },
        "yyyymmFirst": {
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false.",
          "type": "integer"
        },
        "yyyymmSecond": {
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "type": "integer"
        }
      },
      "id": "WriteDates",
      "type": "object",
      "description": "Contains the recall bits write dates."
    },
    "DecodePcIntegrityTokenResponse": {
      "id": "DecodePcIntegrityTokenResponse",
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "PcTokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "description": "Response containing the decoded PC integrity payload."
    },
    "TestingDetails": {
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "id": "TestingDetails",
      "type": "object",
      "description": "Contains additional information generated for testing responses."
    },
    "PcRequestDetails": {
      "description": "Contains the integrity request information.",
      "properties": {
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "Required. Timestamp, of the integrity application request.",
          "format": "google-datetime"
        }
      },
      "id": "PcRequestDetails",
      "type": "object"
    },
    "AccountActivity": {
      "properties": {
        "activityLevel": {
          "type": "string",
          "description": "Required. Indicates the activity level of the account.",
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ]
        }
      },
      "id": "AccountActivity",
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "deprecated": true,
      "type": "object"
    },
    "TokenPayloadExternal": {
      "description": "Contains basic app information and integrity signals like device attestation and licensing details.",
      "id": "TokenPayloadExternal",
      "type": "object",
      "properties": {
        "requestDetails": {
          "$ref": "RequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "DeviceIntegrity"
        },
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        },
        "environmentDetails": {
          "$ref": "EnvironmentDetails",
          "description": "Details of the environment Play Integrity API runs in."
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        }
      }
    },
    "PcTestingDetails": {
      "description": "Contains additional information generated for testing responses.",
      "id": "PcTestingDetails",
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      }
    },
    "Values": {
      "description": "Contains the recall bits values.",
      "id": "Values",
      "type": "object",
      "properties": {
        "bitThird": {
          "description": "Required. Third recall bit value.",
          "type": "boolean"
        },
        "bitFirst": {
          "description": "Required. First recall bit value.",
          "type": "boolean"
        },
        "bitSecond": {
          "type": "boolean",
          "description": "Required. Second recall bit value."
        }
      }
    },
    "AppAccessRiskVerdict": {
      "id": "AppAccessRiskVerdict",
      "type": "object",
      "properties": {
        "appsDetected": {
          "type": "array",
          "description": "List of detected app types signalled for App Access Risk.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ]
          }
        }
      },
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app."
    },
    "PcTokenPayloadExternal": {
      "properties": {
        "requestDetails": {
          "$ref": "PcRequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "deviceIntegrity": {
          "$ref": "PcDeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "accountDetails": {
          "$ref": "PcAccountDetails",
          "description": "Details about the account information such as the licensing status."
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        }
      },
      "id": "PcTokenPayloadExternal",
      "type": "object",
      "description": "Contains PC device attestation details."
    }
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "revision": "20260430",
  "name": "playintegrity",
  "ownerName": "Google",
  "baseUrl": "https://playintegrity.googleapis.com/"
}