{
  "rootUrl": "https://pubsublite.googleapis.com/",
  "servicePath": "",
  "protocol": "rest",
  "canonicalName": "PubsubLite",
  "batchPath": "batch",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/pubsub/lite/docs",
  "name": "pubsublite",
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerDomain": "google.com",
  "title": "Pub/Sub Lite API",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "baseUrl": "https://pubsublite.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "pubsublite:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260403",
  "mtlsRootUrl": "https://pubsublite.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "version": "v1",
  "resources": {
    "cursor": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "methods": {
                    "commitCursor": {
                      "parameterOrder": [
                        "subscription"
                      ],
                      "request": {
                        "$ref": "CommitCursorRequest"
                      },
                      "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:commitCursor",
                      "description": "Updates the committed cursor.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.cursor.projects.locations.subscriptions.commitCursor",
                      "response": {
                        "$ref": "CommitCursorResponse"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "subscription": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "type": "string",
                          "description": "The subscription for which to update the cursor.",
                          "required": true
                        }
                      },
                      "path": "v1/cursor/{+subscription}:commitCursor"
                    }
                  },
                  "resources": {
                    "cursors": {
                      "methods": {
                        "list": {
                          "path": "v1/cursor/{+parent}/cursors",
                          "parameters": {
                            "pageToken": {
                              "description": "A page token, received from a previous `ListPartitionCursors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPartitionCursors` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The subscription for which to retrieve cursors. Structured like `projects/{project_number}/locations/{location}/subscriptions/{subscription_id}`."
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of cursors to return. The service may return fewer than this value. If unset or zero, all cursors for the parent will be returned.",
                              "location": "query",
                              "format": "int32"
                            }
                          },
                          "response": {
                            "$ref": "ListPartitionCursorsResponse"
                          },
                          "httpMethod": "GET",
                          "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}/cursors",
                          "description": "Returns all committed cursor information for a subscription.",
                          "id": "pubsublite.cursor.projects.locations.subscriptions.cursors.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "topicStats": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "topics": {
                  "methods": {
                    "computeHeadCursor": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.topicStats.projects.locations.topics.computeHeadCursor",
                      "request": {
                        "$ref": "ComputeHeadCursorRequest"
                      },
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeHeadCursor",
                      "description": "Compute the head cursor for the partition. The head cursor's offset is guaranteed to be less than or equal to all messages which have not yet been acknowledged as published, and greater than the offset of any message whose publish has already been acknowledged. It is zero if there have never been messages in the partition.",
                      "parameterOrder": [
                        "topic"
                      ],
                      "parameters": {
                        "topic": {
                          "description": "Required. The topic for which we should compute the head cursor.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1/topicStats/{+topic}:computeHeadCursor",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "ComputeHeadCursorResponse"
                      }
                    },
                    "computeTimeCursor": {
                      "parameters": {
                        "topic": {
                          "required": true,
                          "description": "Required. The topic for which we should compute the cursor.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "path": "v1/topicStats/{+topic}:computeTimeCursor",
                      "response": {
                        "$ref": "ComputeTimeCursorResponse"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ComputeTimeCursorRequest"
                      },
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeTimeCursor",
                      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.topicStats.projects.locations.topics.computeTimeCursor",
                      "parameterOrder": [
                        "topic"
                      ]
                    },
                    "computeMessageStats": {
                      "response": {
                        "$ref": "ComputeMessageStatsResponse"
                      },
                      "httpMethod": "POST",
                      "path": "v1/topicStats/{+topic}:computeMessageStats",
                      "parameters": {
                        "topic": {
                          "required": true,
                          "description": "Required. The topic for which we should compute message stats.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "topic"
                      ],
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeMessageStats",
                      "description": "Compute statistics about a range of messages in a given topic and partition.",
                      "request": {
                        "$ref": "ComputeMessageStatsRequest"
                      },
                      "id": "pubsublite.topicStats.projects.locations.topics.computeMessageStats",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "admin": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListSubscriptionsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent whose subscriptions are to be listed. Structured like `projects/{project_number}/locations/{location}`."
                        },
                        "pageSize": {
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the parent will be returned.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "path": "v1/admin/{+parent}/subscriptions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "description": "Returns the list of subscriptions for the given project.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.list"
                    },
                    "get": {
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the subscription whose configuration to return."
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "description": "Returns the subscription configuration.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.create",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "description": "Creates a new subscription.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "parameters": {
                        "subscriptionId": {
                          "description": "Required. The ID to use for the subscription, which will become the final component of the subscription's name. This value is structured like: `my-sub-name`.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent location in which to create the subscription. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true
                        },
                        "skipBacklog": {
                          "type": "boolean",
                          "description": "If true, the newly created subscription will only receive messages published after the subscription was created. Otherwise, the entire message backlog will be received on the subscription. Defaults to false.",
                          "location": "query"
                        }
                      },
                      "path": "v1/admin/{+parent}/subscriptions"
                    },
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "description": "Required. A mask specifying the subscription fields to change.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.patch",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "description": "Updates properties of the specified subscription.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "seek": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:seek",
                      "description": "Performs an out-of-band seek for a subscription to a specified target, which may be timestamps or named positions within the message backlog. Seek translates these targets to cursors for each partition and orchestrates subscribers to start consuming messages from these seek cursors. If an operation is returned, the seek has been registered and subscribers will eventually receive messages from the seek cursors (i.e. eventual consistency), as long as they are using a minimum supported client library version and not a system that tracks cursors independently of Pub/Sub Lite (e.g. Apache Beam, Dataflow, Spark). The seek operation will fail for unsupported clients. If clients would like to know when subscribers react to the seek (or not), they can poll the operation. The seek operation will succeed and complete once subscribers are ready to receive messages from the seek cursors for all partitions of the topic. This means that the seek operation will not complete until all subscribers come online. If the previous seek operation has not yet completed, it will be aborted and the new invocation of seek will supersede it.",
                      "request": {
                        "$ref": "SeekSubscriptionRequest"
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.seek",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/admin/{+name}:seek",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the subscription to seek."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the subscription to delete."
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.delete",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "description": "Deletes the specified subscription.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "cancel": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.cancel",
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}:cancel"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be deleted.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.delete",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.get",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1/admin/{+name}/operations",
                      "parameters": {
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The standard list page size.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "pubsublite.admin.projects.locations.operations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "reservations": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the reservation to delete. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "description": "Deletes the specified reservation.",
                      "id": "pubsublite.admin.projects.locations.reservations.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent location in which to create the reservation. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true
                        },
                        "reservationId": {
                          "description": "Required. The ID to use for the reservation, which will become the final component of the reservation's name. This value is structured like: `my-reservation-name`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+parent}/reservations",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Reservation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.create",
                      "request": {
                        "$ref": "Reservation"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "description": "Creates a new reservation.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Reservation"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Required. A mask specifying the reservation fields to change.",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.patch",
                      "request": {
                        "$ref": "Reservation"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "description": "Updates properties of the specified reservation."
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent whose reservations are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of reservations to return. The service may return fewer than this value. If unset or zero, all reservations for the parent will be returned.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListReservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservations` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+parent}/reservations",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListReservationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.list",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "description": "Returns the list of reservations for the given project.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the reservation whose configuration to return. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Reservation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.get",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "description": "Returns the reservation configuration.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "topics": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "pubsublite.admin.projects.locations.reservations.topics.list",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/topics",
                          "description": "Lists the topics attached to the specified reservation.",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the given reservation will be returned.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "name": {
                              "required": true,
                              "description": "Required. The name of the reservation whose topics to list. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A page token, received from a previous `ListReservationTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservationTopics` must match the call that provided the page token.",
                              "location": "query"
                            }
                          },
                          "path": "v1/admin/{+name}/topics",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListReservationTopicsResponse"
                          }
                        }
                      }
                    }
                  }
                },
                "topics": {
                  "methods": {
                    "getPartitions": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "TopicPartitions"
                      },
                      "path": "v1/admin/{+name}/partitions",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The topic whose partition information to return.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.getPartitions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/partitions",
                      "description": "Returns the partition information for the requested topic."
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "description": "Deletes the specified topic.",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the topic to delete.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.list",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "description": "Returns the list of topics for the given project.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent whose topics are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent will be returned.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "path": "v1/admin/{+parent}/topics"
                    },
                    "get": {
                      "response": {
                        "$ref": "Topic"
                      },
                      "httpMethod": "GET",
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the topic whose configuration to return.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "description": "Returns the topic configuration.",
                      "id": "pubsublite.admin.projects.locations.topics.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "path": "v1/admin/{+parent}/topics",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent location in which to create the topic. Structured like `projects/{project_number}/locations/{location}`.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "topicId": {
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Topic"
                      },
                      "id": "pubsublite.admin.projects.locations.topics.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "description": "Creates a new topic.",
                      "request": {
                        "$ref": "Topic"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Topic"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "description": "Updates properties of the specified topic.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.patch",
                      "response": {
                        "$ref": "Topic"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Required. A mask specifying the topic fields to change.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}"
                    }
                  },
                  "resources": {
                    "subscriptions": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListTopicSubscriptionsResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v1/admin/{+name}/subscriptions",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                              "type": "string",
                              "description": "Required. The name of the topic whose subscriptions to list.",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A page token, received from a previous `ListTopicSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopicSubscriptions` must match the call that provided the page token.",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the given topic will be returned.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/subscriptions",
                          "description": "Lists the subscriptions attached to the specified topic.",
                          "id": "pubsublite.admin.projects.locations.topics.subscriptions.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "TopicPartitions": {
      "properties": {
        "partitionCount": {
          "type": "string",
          "description": "The number of partitions in the topic.",
          "format": "int64"
        }
      },
      "description": "Response for GetTopicPartitions.",
      "id": "TopicPartitions",
      "type": "object"
    },
    "ListSubscriptionsResponse": {
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The list of subscriptions in the requested parent. The order of the subscriptions is unspecified.",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListSubscriptions.",
      "id": "ListSubscriptionsResponse",
      "type": "object"
    },
    "ListReservationTopicsResponse": {
      "id": "ListReservationTopicsResponse",
      "type": "object",
      "description": "Response for ListReservationTopics.",
      "properties": {
        "topics": {
          "description": "The names of topics attached to the reservation. The order of the topics is unspecified.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "ListTopicsResponse": {
      "properties": {
        "topics": {
          "type": "array",
          "description": "The list of topic in the requested parent. The order of the topics is unspecified.",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListTopics.",
      "id": "ListTopicsResponse",
      "type": "object"
    },
    "Reservation": {
      "id": "Reservation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        },
        "throughputCapacity": {
          "description": "The reserved throughput capacity. Every unit of throughput capacity is equivalent to 1 MiB/s of published messages or 2 MiB/s of subscribed messages. Any topics which are declared as using capacity from a Reservation will consume resources from this reservation instead of being charged individually.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Metadata about a reservation resource."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Metadata for long running operations.",
      "properties": {
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running. Not set if the operation has not completed.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Resource path for the target of the operation. For example, targets of seeks are subscription resources, structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        }
      }
    },
    "RetentionConfig": {
      "description": "The settings for a topic's message retention.",
      "properties": {
        "perPartitionBytes": {
          "description": "The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`.",
          "format": "int64",
          "type": "string"
        },
        "period": {
          "description": "How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "RetentionConfig",
      "type": "object"
    },
    "PubSubConfig": {
      "id": "PubSubConfig",
      "type": "object",
      "description": "Configuration for exporting to a Pub/Sub topic.",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic. Structured like: projects/{project_number}/topics/{topic_id}. The topic may be changed.",
          "type": "string"
        }
      }
    },
    "ReservationConfig": {
      "id": "ReservationConfig",
      "type": "object",
      "description": "The settings for this topic's Reservation usage.",
      "properties": {
        "throughputReservation": {
          "description": "The Reservation to use for this topic's throughput capacity. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        }
      }
    },
    "ExportConfig": {
      "properties": {
        "pubsubConfig": {
          "description": "Messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a Pub/Sub topic.",
          "$ref": "PubSubConfig"
        },
        "currentState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "description": "Output only. The current state of the export, which may be different to the desired state due to errors. This field is output only."
        },
        "desiredState": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "description": "The desired state of this export. Setting this to values other than `ACTIVE` and `PAUSED` will result in an error.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ]
        },
        "deadLetterTopic": {
          "description": "Optional. The name of an optional Pub/Sub Lite topic to publish messages that can not be exported to the destination. For example, the message can not be published to the Pub/Sub service because it does not satisfy the constraints documented at https://cloud.google.com/pubsub/docs/publisher. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}. Must be within the same project and location as the subscription. The topic may be changed or removed.",
          "type": "string"
        }
      },
      "description": "Configuration for a Pub/Sub Lite subscription that writes messages to a destination. User subscriber clients must not connect to this subscription.",
      "id": "ExportConfig",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "Cursor": {
      "description": "A cursor that describes the position of a message within a topic partition.",
      "properties": {
        "offset": {
          "type": "string",
          "description": "The offset of a message within a topic partition. Must be greater than or equal 0.",
          "format": "int64"
        }
      },
      "id": "Cursor",
      "type": "object"
    },
    "PartitionCursor": {
      "description": "A pair of a Cursor and the partition it is for.",
      "properties": {
        "partition": {
          "description": "The partition this is for.",
          "format": "int64",
          "type": "string"
        },
        "cursor": {
          "description": "The value of the cursor.",
          "$ref": "Cursor"
        }
      },
      "id": "PartitionCursor",
      "type": "object"
    },
    "ComputeHeadCursorResponse": {
      "id": "ComputeHeadCursorResponse",
      "type": "object",
      "properties": {
        "headCursor": {
          "description": "The head cursor.",
          "$ref": "Cursor"
        }
      },
      "description": "Response containing the head cursor for the requested topic and partition."
    },
    "Topic": {
      "properties": {
        "retentionConfig": {
          "description": "The settings for this topic's message retention.",
          "$ref": "RetentionConfig"
        },
        "reservationConfig": {
          "description": "The settings for this topic's Reservation usage.",
          "$ref": "ReservationConfig"
        },
        "partitionConfig": {
          "description": "The settings for this topic's partitions.",
          "$ref": "PartitionConfig"
        },
        "name": {
          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        }
      },
      "description": "Metadata about a topic resource.",
      "id": "Topic",
      "type": "object"
    },
    "ComputeMessageStatsResponse": {
      "properties": {
        "messageBytes": {
          "type": "string",
          "description": "The number of quota bytes accounted to these messages.",
          "format": "int64"
        },
        "minimumPublishTime": {
          "type": "string",
          "description": "The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages.",
          "format": "google-datetime"
        },
        "messageCount": {
          "description": "The count of messages.",
          "format": "int64",
          "type": "string"
        },
        "minimumEventTime": {
          "type": "string",
          "description": "The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages.",
          "format": "google-datetime"
        }
      },
      "description": "Response containing stats for messages in the requested topic and partition.",
      "id": "ComputeMessageStatsResponse",
      "type": "object"
    },
    "ListTopicSubscriptionsResponse": {
      "description": "Response for ListTopicSubscriptions.",
      "properties": {
        "subscriptions": {
          "description": "The names of subscriptions attached to the topic. The order of the subscriptions is unspecified.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListTopicSubscriptionsResponse",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "Capacity": {
      "description": "The throughput capacity configuration for each partition.",
      "properties": {
        "subscribeMibPerSec": {
          "description": "Subscribe throughput capacity per partition in MiB/s. Must be >= 4 and <= 32.",
          "format": "int32",
          "type": "integer"
        },
        "publishMibPerSec": {
          "type": "integer",
          "description": "Publish throughput capacity per partition in MiB/s. Must be >= 4 and <= 16.",
          "format": "int32"
        }
      },
      "id": "Capacity",
      "type": "object"
    },
    "ComputeMessageStatsRequest": {
      "id": "ComputeMessageStatsRequest",
      "type": "object",
      "description": "Compute statistics about a range of messages in a given topic and partition.",
      "properties": {
        "startCursor": {
          "description": "The inclusive start of the range.",
          "$ref": "Cursor"
        },
        "partition": {
          "type": "string",
          "description": "Required. The partition for which we should compute message stats.",
          "format": "int64"
        },
        "endCursor": {
          "description": "The exclusive end of the range. The range is empty if end_cursor <= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages.",
          "$ref": "Cursor"
        }
      }
    },
    "Subscription": {
      "id": "Subscription",
      "type": "object",
      "description": "Metadata about a subscription resource.",
      "properties": {
        "name": {
          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "topic": {
          "description": "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        },
        "deliveryConfig": {
          "description": "The settings for this subscription's message delivery.",
          "$ref": "DeliveryConfig"
        },
        "exportConfig": {
          "description": "If present, messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a destination.",
          "$ref": "ExportConfig"
        }
      }
    },
    "PartitionConfig": {
      "properties": {
        "count": {
          "type": "string",
          "description": "The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity",
          "format": "int64"
        },
        "scale": {
          "type": "integer",
          "deprecated": true,
          "description": "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4].",
          "format": "int32"
        },
        "capacity": {
          "description": "The capacity configuration.",
          "$ref": "Capacity"
        }
      },
      "description": "The settings for a topic's partitions.",
      "id": "PartitionConfig",
      "type": "object"
    },
    "ListReservationsResponse": {
      "id": "ListReservationsResponse",
      "type": "object",
      "description": "Response for ListReservations.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "reservations": {
          "type": "array",
          "description": "The list of reservation in the requested parent. The order of the reservations is unspecified.",
          "items": {
            "$ref": "Reservation"
          }
        }
      }
    },
    "ComputeTimeCursorRequest": {
      "id": "ComputeTimeCursorRequest",
      "type": "object",
      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
      "properties": {
        "target": {
          "description": "Required. The target publish or event time. Specifying a future time will return an unset cursor.",
          "$ref": "TimeTarget"
        },
        "partition": {
          "type": "string",
          "description": "Required. The partition for which we should compute the cursor.",
          "format": "int64"
        }
      }
    },
    "TimeTarget": {
      "id": "TimeTarget",
      "type": "object",
      "description": "A target publish or event time. Can be used for seeking to or retrieving the corresponding cursor.",
      "properties": {
        "publishTime": {
          "description": "Request the cursor of the first message with publish time greater than or equal to `publish_time`. All messages thereafter are guaranteed to have publish times >= `publish_time`.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "Request the cursor of the first message with event time greater than or equal to `event_time`. If messages are missing an event time, the publish time is used as a fallback. As event times are user supplied, subsequent messages may have event times less than `event_time` and should be filtered by the client, if necessary.",
          "format": "google-datetime"
        }
      }
    },
    "ComputeTimeCursorResponse": {
      "id": "ComputeTimeCursorResponse",
      "type": "object",
      "properties": {
        "cursor": {
          "description": "If present, the cursor references the first message with time greater than or equal to the specified target time. If such a message cannot be found, the cursor will be unset (i.e. `cursor` is not present).",
          "$ref": "Cursor"
        }
      },
      "description": "Response containing the cursor corresponding to a publish or event time in a topic partition."
    },
    "CommitCursorRequest": {
      "id": "CommitCursorRequest",
      "type": "object",
      "description": "Request for CommitCursor.",
      "properties": {
        "partition": {
          "type": "string",
          "description": "The partition for which to update the cursor. Partitions are zero indexed, so `partition` must be in the range [0, topic.num_partitions).",
          "format": "int64"
        },
        "cursor": {
          "description": "The new value for the committed cursor.",
          "$ref": "Cursor"
        }
      }
    },
    "ListPartitionCursorsResponse": {
      "description": "Response for ListPartitionCursors",
      "properties": {
        "partitionCursors": {
          "description": "The partition cursors from this request.",
          "items": {
            "$ref": "PartitionCursor"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListPartitionCursorsResponse",
      "type": "object"
    },
    "DeliveryConfig": {
      "properties": {
        "deliveryRequirement": {
          "type": "string",
          "enum": [
            "DELIVERY_REQUIREMENT_UNSPECIFIED",
            "DELIVER_IMMEDIATELY",
            "DELIVER_AFTER_STORED"
          ],
          "description": "The DeliveryRequirement for this subscription.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server does not wait for a published message to be successfully written to storage before delivering it to subscribers.",
            "The server will not deliver a published message to subscribers until the message has been successfully written to storage. This will result in higher end-to-end latency, but consistent delivery."
          ]
        }
      },
      "description": "The settings for a subscription's message delivery.",
      "id": "DeliveryConfig",
      "type": "object"
    },
    "SeekSubscriptionRequest": {
      "description": "Request for SeekSubscription.",
      "properties": {
        "timeTarget": {
          "description": "Seek to the first message whose publish or event time is greater than or equal to the specified query time. If no such message can be located, will seek to the end of the message backlog.",
          "$ref": "TimeTarget"
        },
        "namedTarget": {
          "type": "string",
          "enum": [
            "NAMED_TARGET_UNSPECIFIED",
            "TAIL",
            "HEAD"
          ],
          "description": "Seek to a named position with respect to the message backlog.",
          "enumDescriptions": [
            "Unspecified named target. Do not use.",
            "Seek to the oldest retained message.",
            "Seek past all recently published messages, skipping the entire message backlog."
          ]
        }
      },
      "id": "SeekSubscriptionRequest",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "CommitCursorResponse": {
      "description": "Response for CommitCursor.",
      "properties": {},
      "id": "CommitCursorResponse",
      "type": "object"
    },
    "ComputeHeadCursorRequest": {
      "properties": {
        "partition": {
          "type": "string",
          "description": "Required. The partition for which we should compute the head cursor.",
          "format": "int64"
        }
      },
      "description": "Compute the current head cursor for a partition.",
      "id": "ComputeHeadCursorRequest",
      "type": "object"
    },
    "SeekSubscriptionResponse": {
      "description": "Response for SeekSubscription long running operation.",
      "properties": {},
      "id": "SeekSubscriptionResponse",
      "type": "object"
    }
  }
}