{
  "endpoints": [
    {
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/"
    }
  ],
  "ownerName": "Google",
  "version": "v1beta1a",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "batchPath": "batch",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "name": "pubsub",
  "resources": {
    "topics": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "description": "The value obtained in the last ListTopicsResponse for continuation.",
              "location": "query",
              "type": "string"
            },
            "query": {
              "description": "A valid label query expression.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of topics to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "path": "v1beta1a/topics",
          "id": "pubsub.topics.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/topics",
          "httpMethod": "GET",
          "description": "Lists matching topics."
        },
        "publish": {
          "httpMethod": "POST",
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {},
          "path": "v1beta1a/topics/publish",
          "request": {
            "$ref": "PublishRequest"
          },
          "flatPath": "v1beta1a/topics/publish",
          "id": "pubsub.topics.publish",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "publishBatch": {
          "httpMethod": "POST",
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist.",
          "parameters": {},
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "path": "v1beta1a/topics/publishBatch",
          "id": "pubsub.topics.publishBatch",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/topics/publishBatch"
        },
        "get": {
          "id": "pubsub.topics.get",
          "parameterOrder": [
            "topic"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/topics/{topicsId}",
          "path": "v1beta1a/topics/{+topic}",
          "parameters": {
            "topic": {
              "description": "The name of the topic to get.",
              "location": "path",
              "pattern": "^.*$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Topic"
          },
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "httpMethod": "GET"
        },
        "delete": {
          "id": "pubsub.topics.delete",
          "parameterOrder": [
            "topic"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/topics/{topicsId}",
          "path": "v1beta1a/topics/{+topic}",
          "parameters": {
            "topic": {
              "type": "string",
              "required": true,
              "pattern": "^.*$",
              "description": "Name of the topic to delete.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name.",
          "httpMethod": "DELETE"
        },
        "create": {
          "path": "v1beta1a/topics",
          "request": {
            "$ref": "Topic"
          },
          "response": {
            "$ref": "Topic"
          },
          "parameters": {},
          "flatPath": "v1beta1a/topics",
          "id": "pubsub.topics.create",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST",
          "description": "Creates the given topic with the given name."
        }
      }
    },
    "subscriptions": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Lists matching subscriptions.",
          "path": "v1beta1a/subscriptions",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of subscriptions to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation.",
              "location": "query",
              "type": "string"
            },
            "query": {
              "description": "A valid label query expression.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "id": "pubsub.subscriptions.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions"
        },
        "modifyAckDeadline": {
          "description": "Modifies the Ack deadline for a message received from a pull request.",
          "httpMethod": "POST",
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/subscriptions/modifyAckDeadline",
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "parameters": {}
        },
        "get": {
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "id": "pubsub.subscriptions.get",
          "parameterOrder": [
            "subscription"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/subscriptions/{+subscription}",
          "response": {
            "$ref": "Subscription"
          },
          "parameters": {
            "subscription": {
              "description": "The name of the subscription to get.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^.*$"
            }
          },
          "description": "Gets the configuration details of a subscription.",
          "httpMethod": "GET"
        },
        "modifyPushConfig": {
          "httpMethod": "POST",
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified.",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {},
          "path": "v1beta1a/subscriptions/modifyPushConfig",
          "request": {
            "$ref": "ModifyPushConfigRequest"
          },
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "id": "pubsub.subscriptions.modifyPushConfig",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "delete": {
          "id": "pubsub.subscriptions.delete",
          "parameterOrder": [
            "subscription"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "parameters": {
            "subscription": {
              "description": "The subscription to delete.",
              "location": "path",
              "pattern": "^.*$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "path": "v1beta1a/subscriptions/{+subscription}",
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND.",
          "httpMethod": "DELETE"
        },
        "pullBatch": {
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.pullBatch",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "parameters": {},
          "response": {
            "$ref": "PullBatchResponse"
          },
          "request": {
            "$ref": "PullBatchRequest"
          },
          "path": "v1beta1a/subscriptions/pullBatch"
        },
        "acknowledge": {
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull.",
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.acknowledge",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "request": {
            "$ref": "AcknowledgeRequest"
          },
          "path": "v1beta1a/subscriptions/acknowledge",
          "parameters": {},
          "response": {
            "$ref": "Empty"
          }
        },
        "create": {
          "httpMethod": "POST",
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic.",
          "path": "v1beta1a/subscriptions",
          "request": {
            "$ref": "Subscription"
          },
          "response": {
            "$ref": "Subscription"
          },
          "parameters": {},
          "flatPath": "v1beta1a/subscriptions",
          "id": "pubsub.subscriptions.create",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "pull": {
          "path": "v1beta1a/subscriptions/pull",
          "request": {
            "$ref": "PullRequest"
          },
          "response": {
            "$ref": "PullResponse"
          },
          "parameters": {},
          "flatPath": "v1beta1a/subscriptions/pull",
          "id": "pubsub.subscriptions.pull",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST",
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load)."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "id": "pubsub:v1beta1a",
  "canonicalName": "Pubsub",
  "baseUrl": "https://pubsub.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ModifyPushConfigRequest": {
      "properties": {
        "subscription": {
          "description": "The name of the subscription.",
          "type": "string"
        },
        "pushConfig": {
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription.",
          "$ref": "PushConfig"
        }
      },
      "description": "Request for the ModifyPushConfig method.",
      "type": "object",
      "id": "ModifyPushConfigRequest"
    },
    "PubsubMessage": {
      "properties": {
        "messageId": {
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call.",
          "type": "string"
        },
        "label": {
          "items": {
            "$ref": "Label"
          },
          "description": "Optional list of labels for this message. Keys in this collection must be unique.",
          "type": "array"
        },
        "data": {
          "description": "The message payload.",
          "type": "string",
          "format": "byte"
        },
        "publishTime": {
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A message data and its labels.",
      "type": "object",
      "id": "PubsubMessage"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL",
      "type": "object"
    },
    "PublishBatchResponse": {
      "properties": {
        "messageIds": {
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PublishBatchResponse",
      "description": "Response for the PublishBatch method.",
      "type": "object"
    },
    "PullBatchResponse": {
      "properties": {
        "pullResponses": {
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog.",
          "type": "array",
          "items": {
            "$ref": "PullResponse"
          }
        }
      },
      "description": "Response for the PullBatch method.",
      "type": "object",
      "id": "PullBatchResponse"
    },
    "PushConfig": {
      "properties": {
        "pushEndpoint": {
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\".",
          "type": "string"
        }
      },
      "description": "Configuration for a push delivery endpoint.",
      "type": "object",
      "id": "PushConfig"
    },
    "Topic": {
      "properties": {
        "name": {
          "description": "Name of the topic.",
          "type": "string"
        }
      },
      "description": "A topic resource.",
      "type": "object",
      "id": "Topic"
    },
    "PullRequest": {
      "description": "Request for the Pull method.",
      "type": "object",
      "id": "PullRequest",
      "properties": {
        "subscription": {
          "description": "The subscription from which a message should be pulled.",
          "type": "string"
        },
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        }
      }
    },
    "PullResponse": {
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated.",
      "type": "object",
      "id": "PullResponse",
      "properties": {
        "ackId": {
          "description": "This ID must be used to acknowledge the received event or message.",
          "type": "string"
        },
        "pubsubEvent": {
          "description": "A pubsub message or truncation event.",
          "$ref": "PubsubEvent"
        }
      }
    },
    "Label": {
      "properties": {
        "key": {
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe",
          "type": "string"
        },
        "strValue": {
          "description": "A string value.",
          "type": "string"
        },
        "numValue": {
          "description": "An integer value.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Label",
      "description": "A key-value pair applied to a given object.",
      "type": "object"
    },
    "PublishBatchRequest": {
      "id": "PublishBatchRequest",
      "description": "Request for the PublishBatch method.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The messages in the request will be published on this topic.",
          "type": "string"
        },
        "messages": {
          "description": "The messages to publish.",
          "type": "array",
          "items": {
            "$ref": "PubsubMessage"
          }
        }
      }
    },
    "Subscription": {
      "description": "A subscription resource.",
      "type": "object",
      "id": "Subscription",
      "properties": {
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages.",
          "type": "string"
        },
        "name": {
          "description": "Name of the subscription.",
          "type": "string"
        },
        "pushConfig": {
          "description": "If push delivery is used with this subscription, this field is used to configure it.",
          "$ref": "PushConfig"
        },
        "ackDeadlineSeconds": {
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AcknowledgeRequest": {
      "id": "AcknowledgeRequest",
      "description": "Request for the Acknowledge method.",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The subscription whose message is being acknowledged.",
          "type": "string"
        },
        "ackId": {
          "items": {
            "type": "string"
          },
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response.",
          "type": "array"
        }
      }
    },
    "ListTopicsResponse": {
      "description": "Response for the ListTopics method.",
      "type": "object",
      "id": "ListTopicsResponse",
      "properties": {
        "topic": {
          "items": {
            "$ref": "Topic"
          },
          "description": "The resulting topics.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue.",
          "type": "string"
        }
      }
    },
    "PullBatchRequest": {
      "properties": {
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        },
        "maxEvents": {
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified.",
          "type": "integer",
          "format": "int32"
        },
        "subscription": {
          "description": "The subscription from which messages should be pulled.",
          "type": "string"
        }
      },
      "id": "PullBatchRequest",
      "description": "Request for the PullBatch method.",
      "type": "object"
    },
    "PubsubEvent": {
      "properties": {
        "truncated": {
          "description": "Indicates that this subscription has been truncated.",
          "type": "boolean"
        },
        "subscription": {
          "description": "The subscription that received the event.",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)",
          "type": "boolean"
        },
        "message": {
          "description": "A received message.",
          "$ref": "PubsubMessage"
        }
      },
      "description": "An event indicating a received message or truncation event.",
      "type": "object",
      "id": "PubsubEvent"
    },
    "PublishRequest": {
      "description": "Request for the Publish method.",
      "type": "object",
      "id": "PublishRequest",
      "properties": {
        "topic": {
          "description": "The message in the request will be published on this topic.",
          "type": "string"
        },
        "message": {
          "description": "The message to publish.",
          "$ref": "PubsubMessage"
        }
      }
    },
    "ListSubscriptionsResponse": {
      "id": "ListSubscriptionsResponse",
      "description": "Response for the ListSubscriptions method.",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The subscriptions that match the request.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue.",
          "type": "string"
        }
      }
    },
    "ModifyAckDeadlineRequest": {
      "properties": {
        "ackId": {
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both.",
          "type": "string",
          "deprecated": true
        },
        "ackIds": {
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subscription": {
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled.",
          "type": "string"
        },
        "ackDeadlineSeconds": {
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ModifyAckDeadlineRequest",
      "description": "Request for the ModifyAckDeadline method.",
      "type": "object"
    }
  },
  "kind": "discovery#restDescription",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "rootUrl": "https://pubsub.googleapis.com/",
  "revision": "20260310",
  "basePath": "",
  "title": "Cloud Pub/Sub API"
}