{
  "servicePath": "",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "kind": "discovery#restDescription",
  "basePath": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "canonicalName": "Pubsub",
  "rootUrl": "https://pubsub.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        }
      }
    }
  },
  "version": "v1beta1a",
  "ownerDomain": "google.com",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "revision": "20260428",
  "title": "Cloud Pub/Sub API",
  "batchPath": "batch",
  "baseUrl": "https://pubsub.googleapis.com/",
  "schemas": {
    "PublishRequest": {
      "description": "Request for the Publish method.",
      "properties": {
        "topic": {
          "description": "The message in the request will be published on this topic.",
          "type": "string"
        },
        "message": {
          "description": "The message to publish.",
          "$ref": "PubsubMessage"
        }
      },
      "type": "object",
      "id": "PublishRequest"
    },
    "Label": {
      "description": "A key-value pair applied to a given object.",
      "properties": {
        "strValue": {
          "description": "A string value.",
          "type": "string"
        },
        "numValue": {
          "type": "string",
          "description": "An integer value.",
          "format": "int64"
        },
        "key": {
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Label"
    },
    "PublishBatchResponse": {
      "description": "Response for the PublishBatch method.",
      "properties": {
        "messageIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic."
        }
      },
      "id": "PublishBatchResponse",
      "type": "object"
    },
    "Topic": {
      "id": "Topic",
      "type": "object",
      "description": "A topic resource.",
      "properties": {
        "name": {
          "description": "Name of the topic.",
          "type": "string"
        }
      }
    },
    "PubsubEvent": {
      "type": "object",
      "id": "PubsubEvent",
      "description": "An event indicating a received message or truncation event.",
      "properties": {
        "subscription": {
          "description": "The subscription that received the event.",
          "type": "string"
        },
        "message": {
          "description": "A received message.",
          "$ref": "PubsubMessage"
        },
        "truncated": {
          "description": "Indicates that this subscription has been truncated.",
          "type": "boolean"
        },
        "deleted": {
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)",
          "type": "boolean"
        }
      }
    },
    "PublishBatchRequest": {
      "type": "object",
      "id": "PublishBatchRequest",
      "description": "Request for the PublishBatch method.",
      "properties": {
        "messages": {
          "type": "array",
          "description": "The messages to publish.",
          "items": {
            "$ref": "PubsubMessage"
          }
        },
        "topic": {
          "description": "The messages in the request will be published on this topic.",
          "type": "string"
        }
      }
    },
    "PullBatchResponse": {
      "description": "Response for the PullBatch method.",
      "properties": {
        "pullResponses": {
          "type": "array",
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog.",
          "items": {
            "$ref": "PullResponse"
          }
        }
      },
      "type": "object",
      "id": "PullBatchResponse"
    },
    "PushConfig": {
      "id": "PushConfig",
      "type": "object",
      "description": "Configuration for a push delivery endpoint.",
      "properties": {
        "pushEndpoint": {
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\".",
          "type": "string"
        }
      }
    },
    "Subscription": {
      "description": "A subscription resource.",
      "properties": {
        "name": {
          "description": "Name of the subscription.",
          "type": "string"
        },
        "pushConfig": {
          "description": "If push delivery is used with this subscription, this field is used to configure it.",
          "$ref": "PushConfig"
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis).",
          "format": "int32"
        },
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Subscription"
    },
    "PubsubMessage": {
      "type": "object",
      "id": "PubsubMessage",
      "description": "A message data and its labels.",
      "properties": {
        "publishTime": {
          "type": "string",
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch.",
          "format": "int64"
        },
        "data": {
          "type": "string",
          "description": "The message payload.",
          "format": "byte"
        },
        "label": {
          "description": "Optional list of labels for this message. Keys in this collection must be unique.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "messageId": {
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call.",
          "type": "string"
        }
      }
    },
    "ListTopicsResponse": {
      "description": "Response for the ListTopics method.",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue.",
          "type": "string"
        },
        "topic": {
          "type": "array",
          "description": "The resulting topics.",
          "items": {
            "$ref": "Topic"
          }
        }
      },
      "id": "ListTopicsResponse",
      "type": "object"
    },
    "PullBatchRequest": {
      "type": "object",
      "id": "PullBatchRequest",
      "description": "Request for the PullBatch method.",
      "properties": {
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        },
        "subscription": {
          "description": "The subscription from which messages should be pulled.",
          "type": "string"
        },
        "maxEvents": {
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL",
      "properties": {}
    },
    "PullRequest": {
      "description": "Request for the Pull method.",
      "properties": {
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        },
        "subscription": {
          "description": "The subscription from which a message should be pulled.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PullRequest"
    },
    "PullResponse": {
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated.",
      "properties": {
        "ackId": {
          "description": "This ID must be used to acknowledge the received event or message.",
          "type": "string"
        },
        "pubsubEvent": {
          "description": "A pubsub message or truncation event.",
          "$ref": "PubsubEvent"
        }
      },
      "id": "PullResponse",
      "type": "object"
    },
    "ListSubscriptionsResponse": {
      "description": "Response for the ListSubscriptions method.",
      "properties": {
        "subscription": {
          "type": "array",
          "items": {
            "$ref": "Subscription"
          },
          "description": "The subscriptions that match the request."
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue.",
          "type": "string"
        }
      },
      "id": "ListSubscriptionsResponse",
      "type": "object"
    },
    "ModifyPushConfigRequest": {
      "description": "Request for the ModifyPushConfig method.",
      "properties": {
        "subscription": {
          "description": "The name of the subscription.",
          "type": "string"
        },
        "pushConfig": {
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription.",
          "$ref": "PushConfig"
        }
      },
      "type": "object",
      "id": "ModifyPushConfigRequest"
    },
    "AcknowledgeRequest": {
      "description": "Request for the Acknowledge method.",
      "properties": {
        "subscription": {
          "description": "The subscription whose message is being acknowledged.",
          "type": "string"
        },
        "ackId": {
          "items": {
            "type": "string"
          },
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response.",
          "type": "array"
        }
      },
      "id": "AcknowledgeRequest",
      "type": "object"
    },
    "ModifyAckDeadlineRequest": {
      "description": "Request for the ModifyAckDeadline method.",
      "properties": {
        "ackId": {
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both.",
          "deprecated": true,
          "type": "string"
        },
        "subscription": {
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled.",
          "type": "string"
        },
        "ackIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both."
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request.",
          "format": "int32"
        }
      },
      "id": "ModifyAckDeadlineRequest",
      "type": "object"
    }
  },
  "id": "pubsub:v1beta1a",
  "resources": {
    "subscriptions": {
      "methods": {
        "modifyAckDeadline": {
          "parameters": {},
          "path": "v1beta1a/subscriptions/modifyAckDeadline",
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "description": "Modifies the Ack deadline for a message received from a pull request."
        },
        "acknowledge": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "request": {
            "$ref": "AcknowledgeRequest"
          },
          "parameterOrder": [],
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull.",
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "id": "pubsub.subscriptions.acknowledge",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {},
          "httpMethod": "POST",
          "path": "v1beta1a/subscriptions/acknowledge"
        },
        "pullBatch": {
          "request": {
            "$ref": "PullBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "id": "pubsub.subscriptions.pullBatch",
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "response": {
            "$ref": "PullBatchResponse"
          },
          "parameters": {},
          "path": "v1beta1a/subscriptions/pullBatch",
          "httpMethod": "POST"
        },
        "delete": {
          "parameters": {
            "subscription": {
              "description": "The subscription to delete.",
              "pattern": "^.*$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1beta1a/subscriptions/{+subscription}",
          "httpMethod": "DELETE",
          "id": "pubsub.subscriptions.delete",
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [
            "subscription"
          ],
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND."
        },
        "pull": {
          "parameterOrder": [],
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "request": {
            "$ref": "PullRequest"
          },
          "response": {
            "$ref": "PullResponse"
          },
          "flatPath": "v1beta1a/subscriptions/pull",
          "id": "pubsub.subscriptions.pull",
          "httpMethod": "POST",
          "path": "v1beta1a/subscriptions/pull",
          "parameters": {}
        },
        "get": {
          "response": {
            "$ref": "Subscription"
          },
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "id": "pubsub.subscriptions.get",
          "httpMethod": "GET",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "parameters": {
            "subscription": {
              "location": "path",
              "type": "string",
              "description": "The name of the subscription to get.",
              "pattern": "^.*$",
              "required": true
            }
          },
          "parameterOrder": [
            "subscription"
          ],
          "description": "Gets the configuration details of a subscription.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "create": {
          "request": {
            "$ref": "Subscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic.",
          "id": "pubsub.subscriptions.create",
          "flatPath": "v1beta1a/subscriptions",
          "response": {
            "$ref": "Subscription"
          },
          "parameters": {},
          "path": "v1beta1a/subscriptions",
          "httpMethod": "POST"
        },
        "list": {
          "parameterOrder": [],
          "description": "Lists matching subscriptions.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "id": "pubsub.subscriptions.list",
          "flatPath": "v1beta1a/subscriptions",
          "path": "v1beta1a/subscriptions",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation."
            },
            "query": {
              "description": "A valid label query expression.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of subscriptions to return.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          }
        },
        "modifyPushConfig": {
          "request": {
            "$ref": "ModifyPushConfigRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified.",
          "parameters": {},
          "path": "v1beta1a/subscriptions/modifyPushConfig",
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.modifyPushConfig",
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "topics": {
      "methods": {
        "create": {
          "parameterOrder": [],
          "description": "Creates the given topic with the given name.",
          "request": {
            "$ref": "Topic"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "Topic"
          },
          "id": "pubsub.topics.create",
          "flatPath": "v1beta1a/topics",
          "path": "v1beta1a/topics",
          "httpMethod": "POST",
          "parameters": {}
        },
        "publish": {
          "response": {
            "$ref": "Empty"
          },
          "id": "pubsub.topics.publish",
          "flatPath": "v1beta1a/topics/publish",
          "path": "v1beta1a/topics/publish",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "request": {
            "$ref": "PublishRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "list": {
          "parameterOrder": [],
          "description": "Lists matching topics.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "id": "pubsub.topics.list",
          "flatPath": "v1beta1a/topics",
          "path": "v1beta1a/topics",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value obtained in the last ListTopicsResponse for continuation."
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "A valid label query expression."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of topics to return.",
              "format": "int32"
            }
          }
        },
        "delete": {
          "parameters": {
            "topic": {
              "location": "path",
              "type": "string",
              "description": "Name of the topic to delete.",
              "pattern": "^.*$",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "path": "v1beta1a/topics/{+topic}",
          "flatPath": "v1beta1a/topics/{topicsId}",
          "id": "pubsub.topics.delete",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [
            "topic"
          ],
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name."
        },
        "publishBatch": {
          "parameters": {},
          "httpMethod": "POST",
          "path": "v1beta1a/topics/publishBatch",
          "flatPath": "v1beta1a/topics/publishBatch",
          "id": "pubsub.topics.publishBatch",
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "parameterOrder": [],
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [
            "topic"
          ],
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "flatPath": "v1beta1a/topics/{topicsId}",
          "id": "pubsub.topics.get",
          "response": {
            "$ref": "Topic"
          },
          "parameters": {
            "topic": {
              "description": "The name of the topic to get.",
              "pattern": "^.*$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1beta1a/topics/{+topic}"
        }
      }
    }
  },
  "name": "pubsub"
}