{
  "baseUrl": "https://pubsub.googleapis.com/",
  "servicePath": "",
  "revision": "20260307",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "rootUrl": "https://pubsub.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "subscriptions": {
      "methods": {
        "create": {
          "id": "pubsub.subscriptions.create",
          "flatPath": "v1beta1a/subscriptions",
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "request": {
            "$ref": "Subscription"
          },
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions",
          "response": {
            "$ref": "Subscription"
          }
        },
        "acknowledge": {
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull.",
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.acknowledge",
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "request": {
            "$ref": "AcknowledgeRequest"
          },
          "path": "v1beta1a/subscriptions/acknowledge",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": []
        },
        "modifyPushConfig": {
          "parameters": {},
          "request": {
            "$ref": "ModifyPushConfigRequest"
          },
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/modifyPushConfig",
          "response": {
            "$ref": "Empty"
          },
          "id": "pubsub.subscriptions.modifyPushConfig",
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "httpMethod": "POST",
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "pull": {
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/pull",
          "response": {
            "$ref": "PullResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "PullRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.subscriptions.pull",
          "flatPath": "v1beta1a/subscriptions/pull",
          "httpMethod": "POST",
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load)."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND.",
          "id": "pubsub.subscriptions.delete",
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "subscription"
          ],
          "parameters": {
            "subscription": {
              "location": "path",
              "description": "The subscription to delete.",
              "type": "string",
              "pattern": "^.*$",
              "required": true
            }
          }
        },
        "get": {
          "id": "pubsub.subscriptions.get",
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "description": "Gets the configuration details of a subscription.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {
            "subscription": {
              "required": true,
              "pattern": "^.*$",
              "type": "string",
              "location": "path",
              "description": "The name of the subscription to get."
            }
          },
          "parameterOrder": [
            "subscription"
          ],
          "path": "v1beta1a/subscriptions/{+subscription}",
          "response": {
            "$ref": "Subscription"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.subscriptions.list",
          "flatPath": "v1beta1a/subscriptions",
          "description": "Lists matching subscriptions.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions",
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "parameters": {
            "query": {
              "description": "A valid label query expression.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of subscriptions to return.",
              "type": "integer"
            }
          }
        },
        "pullBatch": {
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/pullBatch",
          "response": {
            "$ref": "PullBatchResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "PullBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.subscriptions.pullBatch",
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "httpMethod": "POST"
        },
        "modifyAckDeadline": {
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "description": "Modifies the Ack deadline for a message received from a pull request.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/modifyAckDeadline",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "topics": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.topics.create",
          "flatPath": "v1beta1a/topics",
          "httpMethod": "POST",
          "description": "Creates the given topic with the given name.",
          "parameterOrder": [],
          "path": "v1beta1a/topics",
          "response": {
            "$ref": "Topic"
          },
          "parameters": {},
          "request": {
            "$ref": "Topic"
          }
        },
        "publish": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "httpMethod": "POST",
          "id": "pubsub.topics.publish",
          "flatPath": "v1beta1a/topics/publish",
          "path": "v1beta1a/topics/publish",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "PublishRequest"
          }
        },
        "delete": {
          "id": "pubsub.topics.delete",
          "flatPath": "v1beta1a/topics/{topicsId}",
          "httpMethod": "DELETE",
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {
            "topic": {
              "type": "string",
              "description": "Name of the topic to delete.",
              "location": "path",
              "required": true,
              "pattern": "^.*$"
            }
          },
          "parameterOrder": [
            "topic"
          ],
          "path": "v1beta1a/topics/{+topic}",
          "response": {
            "$ref": "Empty"
          }
        },
        "publishBatch": {
          "parameters": {},
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "path": "v1beta1a/topics/publishBatch",
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "parameterOrder": [],
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist.",
          "httpMethod": "POST",
          "id": "pubsub.topics.publishBatch",
          "flatPath": "v1beta1a/topics/publishBatch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "list": {
          "path": "v1beta1a/topics",
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of topics to return.",
              "type": "integer"
            },
            "query": {
              "location": "query",
              "description": "A valid label query expression.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The value obtained in the last ListTopicsResponse for continuation."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "GET",
          "description": "Lists matching topics.",
          "id": "pubsub.topics.list",
          "flatPath": "v1beta1a/topics"
        },
        "get": {
          "id": "pubsub.topics.get",
          "flatPath": "v1beta1a/topics/{topicsId}",
          "httpMethod": "GET",
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {
            "topic": {
              "type": "string",
              "location": "path",
              "description": "The name of the topic to get.",
              "required": true,
              "pattern": "^.*$"
            }
          },
          "parameterOrder": [
            "topic"
          ],
          "path": "v1beta1a/topics/{+topic}",
          "response": {
            "$ref": "Topic"
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "schemas": {
    "AcknowledgeRequest": {
      "description": "Request for the Acknowledge method.",
      "type": "object",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The subscription whose message is being acknowledged."
        },
        "ackId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response."
        }
      },
      "id": "AcknowledgeRequest"
    },
    "ModifyAckDeadlineRequest": {
      "id": "ModifyAckDeadlineRequest",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled.",
          "type": "string"
        },
        "ackId": {
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both.",
          "deprecated": true,
          "type": "string"
        },
        "ackIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both."
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request.",
          "format": "int32"
        }
      },
      "description": "Request for the ModifyAckDeadline method."
    },
    "PublishBatchRequest": {
      "description": "Request for the PublishBatch method.",
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The messages in the request will be published on this topic."
        },
        "messages": {
          "description": "The messages to publish.",
          "type": "array",
          "items": {
            "$ref": "PubsubMessage"
          }
        }
      },
      "id": "PublishBatchRequest"
    },
    "Topic": {
      "description": "A topic resource.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the topic."
        }
      },
      "id": "Topic"
    },
    "PubsubMessage": {
      "description": "A message data and its labels.",
      "id": "PubsubMessage",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The message payload."
        },
        "publishTime": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch."
        },
        "label": {
          "description": "Optional list of labels for this message. Keys in this collection must be unique.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "messageId": {
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call.",
          "type": "string"
        }
      }
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "properties": {
        "strValue": {
          "description": "A string value.",
          "type": "string"
        },
        "key": {
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe",
          "type": "string"
        },
        "numValue": {
          "type": "string",
          "format": "int64",
          "description": "An integer value."
        }
      },
      "description": "A key-value pair applied to a given object."
    },
    "PullBatchResponse": {
      "description": "Response for the PullBatch method.",
      "id": "PullBatchResponse",
      "type": "object",
      "properties": {
        "pullResponses": {
          "type": "array",
          "items": {
            "$ref": "PullResponse"
          },
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog."
        }
      }
    },
    "PublishRequest": {
      "description": "Request for the Publish method.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The message in the request will be published on this topic.",
          "type": "string"
        },
        "message": {
          "description": "The message to publish.",
          "$ref": "PubsubMessage"
        }
      },
      "id": "PublishRequest"
    },
    "ModifyPushConfigRequest": {
      "id": "ModifyPushConfigRequest",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The name of the subscription.",
          "type": "string"
        },
        "pushConfig": {
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription.",
          "$ref": "PushConfig"
        }
      },
      "description": "Request for the ModifyPushConfig method."
    },
    "ListSubscriptionsResponse": {
      "description": "Response for the ListSubscriptions method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue."
        },
        "subscription": {
          "type": "array",
          "items": {
            "$ref": "Subscription"
          },
          "description": "The subscriptions that match the request."
        }
      },
      "id": "ListSubscriptionsResponse"
    },
    "PushConfig": {
      "description": "Configuration for a push delivery endpoint.",
      "type": "object",
      "properties": {
        "pushEndpoint": {
          "type": "string",
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\"."
        }
      },
      "id": "PushConfig"
    },
    "ListTopicsResponse": {
      "description": "Response for the ListTopics method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue.",
          "type": "string"
        },
        "topic": {
          "type": "array",
          "items": {
            "$ref": "Topic"
          },
          "description": "The resulting topics."
        }
      },
      "id": "ListTopicsResponse"
    },
    "PubsubEvent": {
      "description": "An event indicating a received message or truncation event.",
      "id": "PubsubEvent",
      "type": "object",
      "properties": {
        "message": {
          "description": "A received message.",
          "$ref": "PubsubMessage"
        },
        "subscription": {
          "type": "string",
          "description": "The subscription that received the event."
        },
        "deleted": {
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)",
          "type": "boolean"
        },
        "truncated": {
          "description": "Indicates that this subscription has been truncated.",
          "type": "boolean"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL"
    },
    "PullBatchRequest": {
      "description": "Request for the PullBatch method.",
      "type": "object",
      "properties": {
        "returnImmediately": {
          "type": "boolean",
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response."
        },
        "maxEvents": {
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified.",
          "format": "int32",
          "type": "integer"
        },
        "subscription": {
          "type": "string",
          "description": "The subscription from which messages should be pulled."
        }
      },
      "id": "PullBatchRequest"
    },
    "Subscription": {
      "id": "Subscription",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the subscription."
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis).",
          "format": "int32"
        },
        "topic": {
          "type": "string",
          "description": "The name of the topic from which this subscription is receiving messages."
        },
        "pushConfig": {
          "description": "If push delivery is used with this subscription, this field is used to configure it.",
          "$ref": "PushConfig"
        }
      },
      "description": "A subscription resource."
    },
    "PullRequest": {
      "id": "PullRequest",
      "type": "object",
      "properties": {
        "returnImmediately": {
          "type": "boolean",
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response."
        },
        "subscription": {
          "description": "The subscription from which a message should be pulled.",
          "type": "string"
        }
      },
      "description": "Request for the Pull method."
    },
    "PublishBatchResponse": {
      "description": "Response for the PublishBatch method.",
      "type": "object",
      "properties": {
        "messageIds": {
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PublishBatchResponse"
    },
    "PullResponse": {
      "type": "object",
      "properties": {
        "pubsubEvent": {
          "description": "A pubsub message or truncation event.",
          "$ref": "PubsubEvent"
        },
        "ackId": {
          "description": "This ID must be used to acknowledge the received event or message.",
          "type": "string"
        }
      },
      "id": "PullResponse",
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated."
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "version": "v1beta1a",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "id": "pubsub:v1beta1a",
  "title": "Cloud Pub/Sub API",
  "canonicalName": "Pubsub",
  "name": "pubsub",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        }
      }
    }
  }
}