{
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v1",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "get": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                }
              },
              "response": {
                "$ref": "Reader"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}"
                },
                "force": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If set to true, any entitlements under the reader will also be purged."
                }
              },
              "response": {
                "$ref": "DeleteReaderResponse"
              }
            },
            "getEntitlements": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements"
                }
              },
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "path": "v1/{+name}",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
            },
            "updateEntitlements": {
              "path": "v1/{+name}",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "required": true,
                  "type": "string",
                  "description": "Output only. The resource name of the singleton."
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update. Defaults to all fields."
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "httpMethod": "PATCH",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "response": {
                "$ref": "ReaderEntitlements"
              }
            }
          }
        }
      }
    }
  },
  "id": "readerrevenuesubscriptionlinking:v1",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "name": "readerrevenuesubscriptionlinking",
  "title": "Reader Revenue Subscription Linking API",
  "canonicalName": "Subscription Linking",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "batchPath": "batch",
  "basePath": "",
  "schemas": {
    "Reader": {
      "id": "Reader",
      "description": "A reader of a publication.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "type": "string"
        },
        "publicationId": {
          "type": "string",
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "readOnly": true
        },
        "ppid": {
          "type": "string",
          "description": "Output only. The publisher provided id of the reader.",
          "readOnly": true
        },
        "originatingPublicationId": {
          "type": "string",
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ReaderEntitlements": {
      "type": "object",
      "properties": {
        "entitlements": {
          "description": "All of the entitlements for a publication reader.",
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the singleton."
        }
      },
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication."
    },
    "Entitlement": {
      "id": "Entitlement",
      "description": "A single entitlement for a publication reader",
      "type": "object",
      "properties": {
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "expireTime": {
          "description": "Required. Expiration time of the entitlement. Entitlements that have expired over 30 days will be purged. The max expire_time is 398 days from now().",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DeleteReaderResponse": {
      "id": "DeleteReaderResponse",
      "description": "Response to deleting a reader of a publication.",
      "type": "object",
      "properties": {}
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260427",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true
}