{
  "ownerName": "Google",
  "basePath": "",
  "protocol": "rest",
  "id": "readerrevenuesubscriptionlinking:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Reader Revenue Subscription Linking API",
  "revision": "20260427",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "readerrevenuesubscriptionlinking",
  "schemas": {
    "Reader": {
      "type": "object",
      "id": "Reader",
      "description": "A reader of a publication.",
      "properties": {
        "publicationId": {
          "type": "string",
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "readOnly": true,
          "type": "string"
        },
        "originatingPublicationId": {
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "readOnly": true
        },
        "ppid": {
          "description": "Output only. The publisher provided id of the reader.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeleteReaderResponse": {
      "type": "object",
      "id": "DeleteReaderResponse",
      "description": "Response to deleting a reader of a publication.",
      "properties": {}
    },
    "ReaderEntitlements": {
      "type": "object",
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "readOnly": true,
          "type": "string"
        },
        "entitlements": {
          "description": "All of the entitlements for a publication reader.",
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          }
        }
      }
    },
    "Entitlement": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\""
        },
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Required. Expiration time of the entitlement. Entitlements that have expired over 30 days will be purged. The max expire_time is 398 days from now().",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Entitlement",
      "description": "A single entitlement for a publication reader"
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "httpMethod": "GET",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}"
                }
              },
              "response": {
                "$ref": "Reader"
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "httpMethod": "DELETE",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                },
                "force": {
                  "type": "boolean",
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "DeleteReaderResponse"
              }
            },
            "getEntitlements": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "httpMethod": "GET",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements"
                }
              },
              "response": {
                "$ref": "ReaderEntitlements"
              }
            },
            "updateEntitlements": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "type": "string"
                },
                "name": {
                  "description": "Output only. The resource name of the singleton.",
                  "location": "path",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "canonicalName": "Subscription Linking",
  "ownerDomain": "google.com",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "version_module": true
}