{
  "revision": "20260505",
  "version_module": true,
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "title": "reCAPTCHA Enterprise API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Help protect your website from fraudulent activity, spam, and abuse without creating friction.",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "canonicalName": "Recaptcha Enterprise",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "version": "v1",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "id": "recaptchaenterprise:v1",
  "servicePath": "",
  "basePath": "",
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
      "properties": {
        "name": {
          "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters."
        },
        "condition": {
          "description": "Optional. A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters.",
          "type": "string"
        },
        "actions": {
          "description": "Optional. The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as `AllowAction`, `BlockAction` or `SubstituteAction`. Zero or more non-terminal actions such as `SetHeader` might be specified. A single policy can contain up to 16 actions.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          },
          "type": "array"
        },
        "path": {
          "description": "Optional. The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters.",
          "type": "string"
        }
      },
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take."
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest",
      "type": "object",
      "description": "The reorder firewall policies request message.",
      "properties": {
        "names": {
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
      "properties": {},
      "description": "An allow action continues processing a request unimpeded."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
      "properties": {
        "risk": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. Probability of this transaction attempt being part of a card testing attack. Values are from 0.0 (lowest) to 1.0 (highest)."
        }
      },
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details."
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
      "properties": {
        "allowedBundleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. iOS bundle IDs of apps allowed to use the key. Example: 'com.companyname.productname.appname' Each key supports a maximum of 250 bundle IDs. To use a key on more apps, set `allow_all_bundle_ids` to true. When this is set, you are responsible for validating the bundle id by checking the `token_properties.ios_bundle_id` field in each assessment response against your list of allowed bundle IDs."
        },
        "appleDeveloperId": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
          "description": "Optional. Apple Developer account details for the app that is protected by the reCAPTCHA Key. reCAPTCHA leverages platform-specific checks like Apple App Attest and Apple DeviceCheck to protect your app from abuse. Providing these fields allows reCAPTCHA to get a better assessment of the integrity of your app."
        },
        "allowAllBundleIds": {
          "type": "boolean",
          "description": "Optional. If set to true, allowed_bundle_ids are not enforced."
        }
      },
      "description": "Settings specific to keys that can be used by iOS apps."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction": {
      "description": "An include reCAPTCHA script action involves injecting reCAPTCHA JavaScript code into the HTML returned by the site backend. This reCAPTCHA script is tasked with collecting user signals on the requested web page, issuing tokens as a cookie within the site domain, and enabling their utilization in subsequent page requests.",
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "properties": {
        "firewallPolicies": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          },
          "type": "array",
          "description": "Policy details."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results.",
          "type": "string"
        }
      },
      "description": "Response to request to list firewall policies belonging to a project.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "type": "object",
      "description": "A group of related accounts.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "type": "object",
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall).",
      "properties": {
        "wafFeature": {
          "type": "string",
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Deprecated: Use `express_settings` instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Required. The Web Application Firewall (WAF) feature for which this key is enabled.",
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ]
        },
        "wafService": {
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly",
            "Cloudflare",
            "Akamai"
          ],
          "description": "Required. The Web Application Firewall (WAF) service that uses this key.",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY",
            "CLOUDFLARE",
            "AKAMAI"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "description": "Metrics related to challenges.",
      "properties": {
        "pageloadCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA."
        },
        "failedCount": {
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered.",
          "format": "int64",
          "type": "string"
        },
        "nocaptchaCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of nocaptchas (successful verification without a challenge) issued."
        },
        "passedCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics",
      "type": "object",
      "description": "Metrics for a single Key.",
      "properties": {
        "startTime": {
          "description": "Inclusive start time aligned to a day in the America/Los_Angeles (Pacific) timezone.",
          "type": "string",
          "format": "google-datetime"
        },
        "challengeMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          },
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE) have challenge-based data."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The name of the metrics, in the format `projects/{project}/keys/{key}/metrics`."
        },
        "scoreMetrics": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          },
          "type": "array",
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. All Key types should have score-based data."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "description": "A membership in a group of related accounts.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The unique stable account identifier of the member. The identifier corresponds to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`."
        },
        "hashedAccountId": {
          "format": "byte",
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: use `account_id` instead. The unique stable hashed account identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "type": "object",
      "description": "Settings specific to keys that can be used by Android apps.",
      "properties": {
        "allowAllPackageNames": {
          "type": "boolean",
          "description": "Optional. If set to true, allowed_package_names are not enforced."
        },
        "allowedPackageNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Android package names of apps allowed to use the key. Example: 'com.companyname.appname' Each key supports a maximum of 250 package names. To use a key on more apps, set `allow_all_package_names` to true. When this is set, you are responsible for validating the package name by checking the `token_properties.android_package_name` field in each assessment response against your list of allowed package names."
        },
        "supportNonGoogleAppStoreDistribution": {
          "type": "boolean",
          "description": "Optional. Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
      "properties": {
        "value": {
          "description": "Optional. The value that corresponds with this transaction event, if one exists. For example, a refund event where $5.00 was refunded. Currency is obtained from the original transaction data.",
          "format": "double",
          "type": "number"
        },
        "eventTime": {
          "description": "Optional. Timestamp when this transaction event occurred; otherwise assumed to be the time of the API call.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has had a fraud chargeback which was illegitimate and was reversed as a result. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant has received a refund for a completed transaction. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the merchant has received a refund request for this transaction, but that they have declined it. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant, and that this refund was reversed. For partial refunds, we recommend that you include an amount in the `value` field."
          ],
          "description": "Optional. The type of this transaction event.",
          "enum": [
            "TRANSACTION_EVENT_TYPE_UNSPECIFIED",
            "MERCHANT_APPROVE",
            "MERCHANT_DENY",
            "MANUAL_REVIEW",
            "AUTHORIZATION",
            "AUTHORIZATION_DECLINE",
            "PAYMENT_CAPTURE",
            "PAYMENT_CAPTURE_DECLINE",
            "CANCEL",
            "CHARGEBACK_INQUIRY",
            "CHARGEBACK_ALERT",
            "FRAUD_NOTIFICATION",
            "CHARGEBACK",
            "CHARGEBACK_REPRESENTMENT",
            "CHARGEBACK_REVERSE",
            "REFUND_REQUEST",
            "REFUND_DECLINE",
            "REFUND",
            "REFUND_REVERSE"
          ]
        },
        "reason": {
          "type": "string",
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005."
        }
      },
      "description": "Describes an event in the lifecycle of a payment transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "type": "object",
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise.",
      "properties": {
        "androidSettings": {
          "description": "Settings for keys that can be used by Android apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings"
        },
        "webSettings": {
          "description": "Settings for keys that can be used by websites.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings"
        },
        "wafSettings": {
          "description": "Optional. Settings for Web Application Firewall (WAF).",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings"
        },
        "testingOptions": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
          "description": "Optional. Options for user acceptance testing."
        },
        "iosSettings": {
          "description": "Settings for keys that can be used by iOS apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name of this key. Modifiable by user."
        },
        "expressSettings": {
          "description": "Settings for keys that can be used by reCAPTCHA Express.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp corresponding to the creation of this key."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. See [Creating and managing labels] (https://cloud.google.com/recaptcha/docs/labels)."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallAction": {
      "description": "An individual action. Each action represents what to do if a policy matches.",
      "properties": {
        "redirect": {
          "description": "This action redirects the request to a reCAPTCHA interstitial to attach a token.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction"
        },
        "block": {
          "description": "This action denies access to a given page. The user gets an HTTP error code.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction"
        },
        "includeRecaptchaScript": {
          "description": "This action injects reCAPTCHA JavaScript code into the HTML page returned by the site backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
        },
        "allow": {
          "description": "The user request did not match any policy and should be allowed access to the requested resource.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction"
        },
        "substitute": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
          "description": "This action transparently serves a different page to an offending user."
        },
        "setHeader": {
          "description": "This action sets a custom header but allow the request to continue to the customer backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallAction",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings": {
      "properties": {},
      "description": "Settings specific to keys that can be used for reCAPTCHA Express.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest": {
      "properties": {
        "ipOverrideData": {
          "description": "Required. IP override to be removed from the key.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
        }
      },
      "description": "The RemoveIpOverride request message.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "properties": {
        "transactionId": {
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id.",
          "type": "string"
        },
        "shippingAddress": {
          "description": "Optional. Destination address if this transaction involves shipping a physical item.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "cardBin": {
          "type": "string",
          "description": "Optional. The Bank Identification Number - generally the first 6 or 8 digits of the card."
        },
        "merchants": {
          "description": "Optional. Information about the user or users fulfilling the transaction.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          }
        },
        "billingAddress": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
          "description": "Optional. Address associated with the payment method when applicable."
        },
        "shippingValue": {
          "format": "double",
          "type": "number",
          "description": "Optional. The value of shipping in the specified currency. 0 for free or no shipping."
        },
        "cardLastFour": {
          "type": "string",
          "description": "Optional. The last four digits of the card."
        },
        "value": {
          "description": "Optional. The decimal value of the transaction in the specified currency.",
          "type": "number",
          "format": "double"
        },
        "paymentMethod": {
          "type": "string",
          "description": "Optional. The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)"
        },
        "gatewayInfo": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
          "description": "Optional. Information about the payment gateway's response to the transaction."
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency code in ISO-4217 format."
        },
        "user": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
          "description": "Optional. Information about the user paying/initiating the transaction."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          },
          "description": "Optional. Items purchased in this transaction."
        }
      },
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData"
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "properties": {
        "testingScore": {
          "type": "number",
          "format": "float",
          "description": "Optional. All assessments for this Key return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive."
        },
        "testingChallenge": {
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ],
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "type": "string"
        }
      },
      "description": "Options for user acceptance testing.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "properties": {
        "userAgent": {
          "description": "Optional. The user agent present in the request from the user's device related to this event.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HTTP header information about the request."
        },
        "ja3": {
          "type": "string",
          "description": "Optional. JA3 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/salesforce/ja3."
        },
        "userInfo": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1UserInfo",
          "description": "Optional. Information about the user that generates this event, when they can be identified. They are often identified through the use of an account for logged-in requests or login/registration requests, or by providing user identifiers for guest actions like checkout."
        },
        "hashedAccountId": {
          "description": "Optional. Deprecated: use `user_info.account_id` instead. Unique stable hashed user identifier for the request. The identifier must be hashed using hmac-sha256 with stable secret.",
          "format": "byte",
          "deprecated": true,
          "type": "string"
        },
        "siteKey": {
          "description": "Optional. The site key that was used to invoke reCAPTCHA Enterprise on your site and generate the token.",
          "type": "string"
        },
        "firewallPolicyEvaluation": {
          "description": "Optional. Flag for enabling firewall policy config assessment. If this flag is enabled, the firewall policy is evaluated and a suggested firewall action is returned in the response.",
          "type": "boolean"
        },
        "userIpAddress": {
          "type": "string",
          "description": "Optional. The IP address in the request from the user's device related to this event."
        },
        "ja4": {
          "description": "Optional. JA4 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/FoxIO-LLC/ja4.",
          "type": "string"
        },
        "token": {
          "description": "Optional. The user response token provided by the reCAPTCHA Enterprise client-side integration on your site.",
          "type": "string"
        },
        "express": {
          "description": "Optional. Flag for a reCAPTCHA express request for an assessment without a token. If enabled, `site_key` must reference an Express site key.",
          "type": "boolean"
        },
        "requestedUri": {
          "description": "Optional. The URI resource the user requested that triggered an assessment.",
          "type": "string"
        },
        "fraudPrevention": {
          "enumDescriptions": [
            "Default, unspecified setting. `fraud_prevention_assessment` is returned if `transaction_data` is present in `Event` and Fraud Prevention is enabled in the Google Cloud console.",
            "Enable Fraud Prevention for this assessment, if Fraud Prevention is enabled in the Google Cloud console.",
            "Disable Fraud Prevention for this assessment, regardless of the Google Cloud console settings."
          ],
          "description": "Optional. The Fraud Prevention setting for this assessment.",
          "enum": [
            "FRAUD_PREVENTION_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "transactionData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionData",
          "description": "Optional. Data describing a payment transaction to be assessed. Sending this data enables reCAPTCHA Enterprise Fraud Prevention and the FraudPreventionAssessment component in the response."
        },
        "wafTokenAssessment": {
          "type": "boolean",
          "description": "Optional. Flag for running Web Application Firewall (WAF) token assessment. If enabled, the token must be specified, and have been created by a WAF-enabled key."
        },
        "expectedAction": {
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise.",
          "type": "string"
        }
      },
      "description": "The event being assessed.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Event"
    },
    "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse",
      "properties": {
        "ipOverrides": {
          "description": "IP Overrides details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. If this field is empty, no keys remain in the results.",
          "type": "string"
        }
      },
      "description": "Response for ListIpOverrides."
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings": {
      "properties": {
        "scoreThreshold": {
          "description": "Required. A challenge is triggered if the end-user score is below that threshold. Value must be between 0 and 1 (inclusive).",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Per-action challenge settings.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "properties": {
        "transactionEvent": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction."
        },
        "phoneAuthenticationEvent": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
          "description": "Optional. If using an external multi-factor authentication provider, provide phone authentication details for fraud detection purposes."
        },
        "hashedAccountId": {
          "type": "string",
          "format": "byte",
          "description": "Optional. A stable hashed account identifier to apply to the assessment. This is an alternative to setting `hashed_account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request."
        },
        "accountId": {
          "type": "string",
          "description": "Optional. A stable account identifier to apply to the assessment. This is an alternative to setting `account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request."
        },
        "annotation": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true
          ],
          "description": "Optional. The annotation that is assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ]
        },
        "reasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ],
            "enumDescriptions": [
              "Unspecified reason. Do not use.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ]
          },
          "description": "Optional. Reasons for the annotation that are assigned to the event."
        }
      },
      "description": "The request message to annotate an Assessment.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
      "type": "object",
      "description": "Settings for POLICY_BASED_CHALLENGE keys to control when a challenge is triggered.",
      "properties": {
        "defaultSettings": {
          "description": "Required. Defines when a challenge is triggered (unless the default threshold is overridden for the given action, see `action_settings`).",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
        },
        "actionSettings": {
          "description": "Optional. The action to score threshold map. The action name should be the same as the action name passed in the `data-action` attribute (see https://cloud.google.com/recaptcha/docs/actions-website). Action names are case-insensitive. There is a maximum of 100 action settings. An action name has a maximum length of 100.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "readOnly": true,
          "description": "Output only. If the processing of a policy config fails, an error is populated and the firewall_policy is left empty."
        },
        "firewallPolicy": {
          "description": "Output only. The policy that matched the request. If more than one policy may match, this is the first match. If no policy matches the incoming request, the policy field is left empty.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
        }
      },
      "description": "Policy config assessment."
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "properties": {
        "skipBillingCheck": {
          "description": "Optional. If true, skips the billing check. A reCAPTCHA Enterprise key or migrated key behaves differently than a reCAPTCHA (non-Enterprise version) key when you reach a quota limit (see https://docs.cloud.google.com/recaptcha/quotas#quota_limit). To avoid any disruption of your usage, we check that a billing account is present. If your usage of reCAPTCHA is under the free quota, you can safely skip the billing check and proceed with the migration. See https://cloud.google.com/recaptcha/docs/billing-information.",
          "type": "boolean"
        }
      },
      "description": "The migrate key request message.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification": {
      "id": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
      "type": "object",
      "description": "Private password leak verification info.",
      "properties": {
        "encryptedUserCredentialsHash": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Encrypted Scrypt hash of the canonicalized username+password. It is re-encrypted by the server and returned through `reencrypted_user_credentials_hash`."
        },
        "lookupHashPrefix": {
          "format": "byte",
          "type": "string",
          "description": "Required. Exactly 26-bit prefix of the SHA-256 hash of the canonicalized username. It is used to look up password leaks associated with that hash prefix."
        },
        "reencryptedUserCredentialsHash": {
          "type": "string",
          "readOnly": true,
          "format": "byte",
          "description": "Output only. Corresponds to the re-encryption of the `encrypted_user_credentials_hash` field. It is used to match potential password leaks within `encrypted_leak_match_prefixes`."
        },
        "encryptedLeakMatchPrefixes": {
          "readOnly": true,
          "items": {
            "format": "byte",
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of prefixes of the encrypted potential password leaks that matched the given parameters. They must be compared with the client-side decryption prefix of `reencrypted_user_credentials_hash`"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
      "properties": {
        "avsResponseCode": {
          "type": "string",
          "description": "Optional. AVS response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        },
        "name": {
          "description": "Optional. Name of the gateway service (for example, stripe, square, paypal).",
          "type": "string"
        },
        "gatewayResponseCode": {
          "description": "Optional. Gateway response code describing the state of the transaction.",
          "type": "string"
        },
        "cvvResponseCode": {
          "description": "Optional. CVV response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization).",
          "type": "string"
        }
      },
      "description": "Details about the transaction from the gateway."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict": {
      "description": "Information about stolen instrument fraud, where the user is not the legitimate owner of the instrument being used for the purchase.",
      "properties": {
        "risk": {
          "description": "Output only. Probability of this transaction being executed with a stolen instrument. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason",
      "type": "object",
      "description": "Trust explainability reasons for account defender.",
      "properties": {
        "reason": {
          "readOnly": true,
          "description": "Output only. A trust reason associated with this request.",
          "enum": [
            "TRUST_REASON_UNSPECIFIED",
            "PROFILE_MATCH",
            "ACCOUNT_HISTORY_REPUTABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "The request matches a trusted profile associated with this account. Equivalent to `AccountDefenderLabel.PROFILE_MATCH`.",
            "The account's historical activity is reputable. It is unlikely that the account has been compromised in the past."
          ]
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
      "type": "object",
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
      "properties": {
        "labels": {
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a trusted profile associated with this account.",
              "The request is potentially a suspicious login event and must be further verified either through multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This can mean that this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but can require further investigation."
            ],
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Labels for this request."
        },
        "accountTakeoverVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
          "readOnly": true,
          "description": "Output only. Account takeover risk assessment for this request."
        }
      },
      "description": "Account defender risk assessment."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "description": "Assessment for Fraud Prevention.",
      "properties": {
        "transactionRisk": {
          "description": "Output only. Probability of this transaction being fraudulent. Summarizes the combined risk of attack vectors below. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "stolenInstrumentVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
          "description": "Output only. Assessment of this transaction for risk of a stolen instrument."
        },
        "cardTestingVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
          "description": "Output only. Assessment of this transaction for risk of being part of a card testing attack."
        },
        "behavioralTrustVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
          "description": "Output only. Assessment of this transaction for behavioral trust."
        },
        "riskReasons": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
          },
          "description": "Output only. Reasons why the transaction is probably fraudulent and received a high transaction risk score."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Bot": {
      "description": "Bot information and metadata.",
      "properties": {
        "botType": {
          "description": "Optional. Enumerated field representing the type of bot.",
          "enum": [
            "BOT_TYPE_UNSPECIFIED",
            "AI_AGENT",
            "CONTENT_SCRAPER",
            "SEARCH_INDEXER"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "Software program that interacts with a site and performs tasks autonomously.",
            "Software that extracts specific data from sites for use.",
            "Software that crawls sites and stores content for the purpose of efficient retrieval, likely as part of a search engine."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Enumerated string value that indicates the identity of the bot, formatted in kebab-case. Current example values include the following: * google-agent * browser-base * chat-gpt * aws-bedrock * cybaa-bot * cloudflare * payhawk Ensure that your applications can handle identifier values not explicitly listed here. Deprecated values might take some time to stop showing up in responses. New values can be pushed so this list should be taken as non exhaustive."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Bot",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment": {
      "description": "The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
      "properties": {
        "client": {
          "description": "Optional. Identifies the client module initiating the CreateAssessment request. This can be the link to the client module's project. Examples include: - \"github.com/GoogleCloudPlatform/recaptcha-enterprise-google-tag-manager\" - \"wordpress.org/plugins/recaptcha-something\"",
          "type": "string"
        },
        "version": {
          "description": "Optional. The version of the client module. For example, \"1.0.0\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "relatedAccountGroupMemberships": {
          "description": "The memberships listed by the query.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array"
        }
      },
      "description": "The response to a `ListRelatedAccountGroupMemberships` call."
    },
    "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict": {
      "description": "Information about SMS toll fraud.",
      "properties": {
        "reasons": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Default unspecified reason",
              "The provided phone number was invalid"
            ],
            "enum": [
              "SMS_TOLL_FRAUD_REASON_UNSPECIFIED",
              "INVALID_PHONE_NUMBER"
            ],
            "type": "string"
          },
          "description": "Output only. Reasons contributing to the SMS toll fraud verdict."
        },
        "risk": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. Probability of an SMS event being fraudulent. Values are from 0.0 (lowest) to 1.0 (highest)."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse": {
      "description": "Secret key is used only in legacy reCAPTCHA. It must be used in a 3rd party integration with legacy reCAPTCHA.",
      "properties": {
        "legacySecretKey": {
          "description": "The secret key (also known as shared secret) authorizes communication between your application backend and the reCAPTCHA Enterprise server to create an assessment. The secret key needs to be kept safe for security purposes.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "relatedAccountGroupMemberships": {
          "description": "The queried memberships.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          }
        }
      },
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
      "properties": {
        "scoreBuckets": {
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10).",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      },
      "description": "Score distribution."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
      "properties": {
        "activeDaysLowerBound": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. This user (based on email, phone, and other identifiers) has been seen on the internet for at least this number of days."
        },
        "syntheticRisk": {
          "description": "Output only. Likelihood (from 0.0 to 1.0) this user includes synthetic components in their identity, such as a randomly generated email address, temporary phone number, or fake shipping address.",
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      },
      "description": "Signals describing the user involved in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "properties": {
        "path": {
          "description": "Optional. The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\".",
          "type": "string"
        }
      },
      "description": "A substitute action transparently serves a different page than the one requested.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The full name of the item."
        },
        "value": {
          "description": "Optional. The value per item that the user is paying, in the transaction currency, after discounts.",
          "type": "number",
          "format": "double"
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The quantity of this item that is being purchased."
        },
        "merchantAccountId": {
          "description": "Optional. When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions.",
          "type": "string"
        }
      },
      "description": "Line items being purchased in this transaction.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse",
      "properties": {},
      "description": "Response for AddIpOverride."
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse",
      "properties": {},
      "description": "Response for RemoveIpOverride."
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
      "type": "object",
      "description": "Account takeover risk assessment.",
      "properties": {
        "trustReasons": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason"
          },
          "type": "array",
          "description": "Output only. Unordered list. Reasons why the request appears trustworthy. Trust reasons can be returned even if the risk is high, as risky requests can still have some trust signals."
        },
        "risk": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. Account takeover attempt probability. Values are from 0.0 (lowest risk) to 1.0 (highest risk)."
        },
        "riskReasons": {
          "description": "Output only. Unordered list. Reasons why the request appears risky. Risk reasons can be returned even if the risk is low, as trustworthy requests can still have some risk signals.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment",
      "type": "object",
      "description": "A reCAPTCHA Enterprise assessment resource.",
      "properties": {
        "riskAnalysis": {
          "description": "Output only. The risk analysis result for the event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
          "readOnly": true
        },
        "accountDefenderAssessment": {
          "description": "Output only. Assessment returned by account defender when an account identifier is provided.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
          "readOnly": true
        },
        "fraudSignals": {
          "description": "Output only. Fraud Signals specific to the users involved in a payment transaction.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignals"
        },
        "phoneFraudAssessment": {
          "description": "Output only. Assessment returned when a site key, a token, and a phone number as `user_id` are provided. Account defender and SMS toll fraud protection need to be enabled.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name for the Assessment in the format `projects/{project}/assessments/{assessment}`."
        },
        "tokenProperties": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
          "readOnly": true,
          "description": "Output only. Properties of the provided event token."
        },
        "assessmentEnvironment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
          "description": "Optional. The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user."
        },
        "fraudPreventionAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
          "readOnly": true,
          "description": "Output only. Assessment returned by Fraud Prevention when TransactionData is provided."
        },
        "privatePasswordLeakVerification": {
          "description": "Optional. The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification"
        },
        "firewallPolicyAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
          "readOnly": true,
          "description": "Output only. Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation."
        },
        "event": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event",
          "description": "Optional. The event being assessed."
        },
        "accountVerification": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
          "description": "Optional. Account verification information for identity verification. The assessment event must include a token and site key to use this feature."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo",
      "type": "object",
      "description": "Information about a verification endpoint that can be used for 2FA.",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format."
        },
        "lastVerificationTime": {
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "emailAddress": {
          "description": "Email address for which to trigger a verification request.",
          "type": "string"
        },
        "requestToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "properties": {
        "trust": {
          "description": "Output only. Probability of this transaction attempt being executed in a behaviorally trustworthy way. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      },
      "description": "Information about behavioral trust of the transaction.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse": {
      "properties": {},
      "description": "The reorder firewall policies response message.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse",
      "properties": {},
      "description": "Empty response for AnnotateAssessment."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "type": "object",
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a reCAPTCHA interstitial page to attach a token.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp corresponding to the generation of the token.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "hostname": {
          "description": "Output only. The hostname of the page on which the token was generated (Web keys only).",
          "readOnly": true,
          "type": "string"
        },
        "androidPackageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Android package with which the token was generated (Android keys only)."
        },
        "invalidReason": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker.",
            "The action provided at token generation was different than the `expected_action` in the assessment request. The comparison is case-insensitive. This reason can only be returned if all of the following are true: - your `site_key` has the POLICY_BASED_CHALLENGE integration type - you set an action score threshold higher than 0.0 - you provided a non-empty `expected_action`",
            "The key used to generate the token does not match the `site_key`.",
            "The domain of the page on which the token was generated does not match the `allowed_domains` configured in the `site_key`."
          ],
          "readOnly": true,
          "description": "Output only. Reason associated with the response when valid = false.",
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR",
            "UNEXPECTED_ACTION",
            "KEY_MISMATCH",
            "DOMAIN_MISMATCH"
          ]
        },
        "action": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Action name provided at token generation."
        },
        "valid": {
          "description": "Output only. Indicates whether the provided user response token is valid. If `false`, the token is invalid, either because the user failed the challenge or for a reason provided in the `invalid_reason` field.",
          "type": "boolean",
          "readOnly": true
        },
        "iosBundleId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the iOS bundle with which the token was generated (iOS keys only)."
        }
      },
      "description": "Properties of the provided event token."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals": {
      "description": "Signals describing the payment card used in this transaction.",
      "properties": {
        "cardLabels": {
          "description": "Output only. The labels for the payment card in this transaction.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No label specified.",
              "This card has been detected as prepaid.",
              "This card has been detected as virtual, such as a card number generated for a single transaction or merchant.",
              "This card has been detected as being used in an unexpected geographic location."
            ],
            "enum": [
              "CARD_LABEL_UNSPECIFIED",
              "PREPAID",
              "VIRTUAL",
              "UNEXPECTED_LOCATION"
            ]
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress": {
      "description": "Structured address format for billing and shipping addresses.",
      "properties": {
        "address": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The first lines of the address. The first line generally contains the street name and number, and further lines may include information such as an apartment number."
        },
        "locality": {
          "description": "Optional. The town/city of the address.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. The postal or ZIP code of the address."
        },
        "administrativeArea": {
          "description": "Optional. The state, province, or otherwise administrative area of the address.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The CLDR country/region of the address.",
          "type": "string"
        },
        "recipient": {
          "description": "Optional. The recipient name, potentially including information such as \"care of\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo": {
      "description": "Information about account verification, used for identity verification.",
      "properties": {
        "endpoints": {
          "description": "Optional. Endpoints that can be used for identity verification.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. Language code preference for the verification message, set as a IETF BCP 47 language code."
        },
        "latestVerificationResult": {
          "description": "Output only. Result of the latest account verification challenge.",
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCESS_USER_VERIFIED",
            "ERROR_USER_NOT_VERIFIED",
            "ERROR_SITE_ONBOARDING_INCOMPLETE",
            "ERROR_RECIPIENT_NOT_ALLOWED",
            "ERROR_RECIPIENT_ABUSE_LIMIT_EXHAUSTED",
            "ERROR_CRITICAL_INTERNAL",
            "ERROR_CUSTOMER_QUOTA_EXHAUSTED",
            "ERROR_VERIFICATION_BYPASSED",
            "ERROR_VERDICT_MISMATCH"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No information about the latest account verification.",
            "The user was successfully verified. This means the account verification challenge was successfully completed.",
            "The user failed the verification challenge.",
            "The site is not properly onboarded to use the account verification feature.",
            "The recipient is not allowed for account verification. This can occur during integration but should not occur in production.",
            "The recipient has already been sent too many verification codes in a short amount of time.",
            "The verification flow could not be completed due to a critical internal error.",
            "The client has exceeded their two factor request quota for this period of time.",
            "The request cannot be processed at the time because of an incident. This bypass can be restricted to a problematic destination email domain, a customer, or could affect the entire service.",
            "The request parameters do not match with the token provided and cannot be processed."
          ],
          "type": "string"
        },
        "username": {
          "description": "Username of the account that is being verified. Deprecated. Customers should now provide the `account_id` field in `event.user_info`.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "type": "object",
      "description": "Risk analysis result for an event.",
      "properties": {
        "reasons": {
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDeprecated": [
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              true
            ],
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.EXCESSIVE_ENUMERATION_PATTERN instead.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.ASSOCIATED_WITH_FRAUD_CLUSTER instead."
            ],
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE",
              "SUSPECTED_CARDING",
              "SUSPECTED_CHARGEBACK"
            ]
          },
          "type": "array",
          "description": "Output only. Reasons contributing to the risk analysis verdict."
        },
        "score": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic)."
        },
        "verifiedBots": {
          "description": "Output only. Bots with identities that have been verified by reCAPTCHA and detected in the event.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Bot"
          }
        },
        "extendedVerdictReasons": {
          "description": "Output only. Additional reasons contributing to the risk analysis verdict. These reasons are available to Enterprise tier projects only. Contact sales for more information. The set of reasons is subject to change.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "challenge": {
          "readOnly": true,
          "description": "Output only. Challenge information for POLICY_BASED_CHALLENGE and INVISIBLE keys.",
          "enum": [
            "CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "No challenge was presented for solving.",
            "A solution was submitted that was correct.",
            "A solution was submitted that was incorrect or otherwise deemed suspicious."
          ]
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "properties": {
        "allowAmpTraffic": {
          "type": "boolean",
          "description": "Optional. If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type."
        },
        "challengeSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
          "description": "Optional. Challenge settings."
        },
        "allowedDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com' Each key supports a maximum of 250 domains. To use a key on more domains, set `allow_all_domains` to true. When this is set, you are responsible for validating the hostname by checking the `token_properties.hostname` field in each assessment response against your list of allowed domains."
        },
        "integrationType": {
          "description": "Required. Describes how this key is integrated with the website.",
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE",
            "POLICY_BASED_CHALLENGE"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis.",
            "Displays a visual challenge or not depending on the user risk analysis score."
          ],
          "type": "string"
        },
        "challengeSecurityPreference": {
          "description": "Optional. Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for `IntegrationType` CHECKBOX, INVISIBLE or POLICY_BASED_CHALLENGE.",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "type": "string"
        },
        "allowAllDomains": {
          "type": "boolean",
          "description": "Optional. If set to true, it means allowed_domains are not enforced."
        }
      },
      "description": "Settings specific to keys that can be used by websites.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
      "properties": {
        "key": {
          "description": "Optional. The header key to set in the request to the backend server.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The header value to set in the request to the backend server.",
          "type": "string"
        }
      },
      "description": "A set header action sets a header and forwards the request to the backend. This can be used to trigger custom protection implemented on the backend."
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "properties": {
        "hashedAccountId": {
          "description": "Optional. Deprecated: use `account_id` instead. The unique stable hashed account identifier used to search connections. The identifier should correspond to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "deprecated": true,
          "type": "string",
          "format": "byte"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token.",
          "type": "string"
        },
        "accountId": {
          "description": "Optional. The unique stable account identifier used to search connections. The identifier should correspond to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The request message to search related account group memberships."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason": {
      "properties": {
        "reason": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "A suspiciously high number of recent transactions have used identifiers present in this transaction.",
            "User is cycling through a suspiciously large number of identifiers, suggesting enumeration or validation attacks within a potential fraud network.",
            "User has a short history or no history in the reCAPTCHA network, suggesting the possibility of synthetic identity generation.",
            "Identifiers used in this transaction originate from an unusual or conflicting set of geolocations.",
            "This transaction is linked to a cluster of known fraudulent activity."
          ],
          "readOnly": true,
          "description": "Output only. Risk reasons applicable to the Fraud Prevention assessment.",
          "enum": [
            "REASON_UNSPECIFIED",
            "HIGH_TRANSACTION_VELOCITY",
            "EXCESSIVE_ENUMERATION_PATTERN",
            "SHORT_IDENTITY_HISTORY",
            "GEOLOCATION_DISCREPANCY",
            "ASSOCIATED_WITH_FRAUD_CLUSTER"
          ]
        }
      },
      "description": "Risk reasons applicable to the Fraud Prevention assessment.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "properties": {
        "actionMetrics": {
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          },
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call.",
          "type": "object"
        },
        "overallMetrics": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
          "description": "Aggregated score metrics for all traffic."
        }
      },
      "description": "Metrics related to scoring.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
    },
    "GoogleCloudRecaptchaenterpriseV1UserInfo": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Optional. For logged-in requests or login/registration requests, the unique account identifier associated with this user. You can use the username if it is stable (meaning it is the same for every request associated with the same user), or any stable user ID of your choice. Leave blank for non logged-in actions or guest checkout."
        },
        "createAccountTime": {
          "description": "Optional. Creation time for this account associated with this user. Leave blank for non logged-in actions, guest checkout, or when there is no account associated with the current user.",
          "format": "google-datetime",
          "type": "string"
        },
        "userIds": {
          "description": "Optional. Identifiers associated with this user or request.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1UserId"
          },
          "type": "array"
        }
      },
      "description": "User information associated with a request protected by reCAPTCHA Enterprise.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1UserInfo"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "relatedAccountGroups": {
          "description": "The groups of related accounts listed by the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          }
        }
      },
      "description": "The response to a `ListRelatedAccountGroups` call.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment": {
      "properties": {
        "smsTollFraudVerdict": {
          "description": "Output only. Assessment of this phone event for risk of SMS toll fraud.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
          "readOnly": true
        }
      },
      "description": "Assessment for Phone Fraud",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment"
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          },
          "description": "Key details."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results.",
          "type": "string"
        }
      },
      "description": "Response to request to list keys in a project.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1UserId": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Optional. A phone number. Should use the E.164 format."
        },
        "username": {
          "type": "string",
          "description": "Optional. A unique username, if different from all the other identifiers and `account_id` that are provided. Can be a unique login handle or display name for a user."
        },
        "email": {
          "description": "Optional. An email address.",
          "type": "string"
        }
      },
      "description": "An identifier associated with a user.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1UserId"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason": {
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Default unspecified type.",
            "The client has been observed sending bot-like traffic to this site in the past. This reason incorporates historical reputation and indicates that the client is known to use bots, even if the current request is being made by a human.",
            "The account is part of a large group of related accounts, indicating that it may be part of a fraudulent network. Related accounts are identified based on having similar traffic patterns and request characteristics.",
            "The client has been observed accessing many accounts on this site."
          ],
          "type": "string",
          "description": "Output only. A risk reason associated with this request.",
          "enum": [
            "RISK_REASON_UNSPECIFIED",
            "CLIENT_HISTORICAL_BOT_ACTIVITY",
            "ACCOUNT_IN_LARGE_RELATED_GROUP",
            "CLIENT_ACCESSED_MANY_ACCOUNTS"
          ],
          "readOnly": true
        }
      },
      "description": "Risk explainability reasons for account defender.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignals": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
      "type": "object",
      "description": "Fraud signals describing users and cards involved in the transaction.",
      "properties": {
        "cardSignals": {
          "description": "Output only. Signals describing the payment card or cards used in this transaction.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals"
        },
        "userSignals": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
          "description": "Output only. Signals describing the end user in this transaction."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1IpOverrideData": {
      "properties": {
        "ip": {
          "type": "string",
          "description": "Required. The IP address to override (can be IPv4, IPv6 or CIDR). The IP override must be a valid IPv4 or IPv6 address, or a CIDR range. The IP override must be a public IP address. Example of IPv4: 168.192.5.6 Example of IPv6: 2001:0000:130F:0000:0000:09C0:876A:130B Example of IPv4 with CIDR: 168.192.5.0/24 Example of IPv6 with CIDR: 2001:0DB8:1234::/48"
        },
        "overrideType": {
          "type": "string",
          "description": "Required. Describes the type of IP override.",
          "enum": [
            "OVERRIDE_TYPE_UNSPECIFIED",
            "ALLOW"
          ],
          "enumDescriptions": [
            "Default override type that indicates this enum hasn't been specified.",
            "Allowlist the IP address; i.e. give a `risk_analysis.score` of 0.9 for all valid assessments."
          ]
        }
      },
      "description": "Information about the IP or IP range override.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent": {
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
      "type": "object",
      "description": "Details on a phone authentication event",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time at which the multi-factor authentication event (challenge or verification) occurred."
        },
        "phoneNumber": {
          "description": "Required. Phone number in E.164 format for which a multi-factor authentication challenge was initiated, succeeded, or failed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "properties": {
[...]
