{
  "baseUrl": "https://recommender.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "rootUrl": "https://recommender.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "name": "recommender",
  "title": "Recommender API",
  "servicePath": "",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudRecommenderV1InsightStateInfo": {
      "description": "Information related to insight state.",
      "id": "GoogleCloudRecommenderV1InsightStateInfo",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "type": "object",
          "description": "A map of metadata for the state, provided by user or automations systems.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ACCEPTED",
            "DISMISSED"
          ],
          "description": "Insight state.",
          "enumDescriptions": [
            "Unspecified state.",
            "Insight is active. Content for ACTIVE insights can be updated by Google. ACTIVE insights can be marked DISMISSED OR ACCEPTED.",
            "Some action has been taken based on this insight. Insights become accepted when a recommendation derived from the insight has been marked CLAIMED, SUCCEEDED, or FAILED. ACTIVE insights can also be marked ACCEPTED explicitly. Content for ACCEPTED insights is immutable. ACCEPTED insights can only be marked ACCEPTED (which may update state metadata).",
            "Insight is dismissed. Content for DISMISSED insights can be updated by Google. DISMISSED insights can be marked as ACTIVE."
          ]
        }
      }
    },
    "GoogleCloudRecommenderV1RecommendationContent": {
      "id": "GoogleCloudRecommenderV1RecommendationContent",
      "type": "object",
      "properties": {
        "operationGroups": {
          "description": "Operations to one or more Google Cloud resources grouped in such a way that, all operations within one group are expected to be performed atomically and in an order.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1OperationGroup"
          },
          "type": "array"
        },
        "overview": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Condensed overview information about the recommendation."
        }
      },
      "description": "Contains what resources are changing and how they are changing."
    },
    "GoogleCloudRecommenderV1ReliabilityProjection": {
      "id": "GoogleCloudRecommenderV1ReliabilityProjection",
      "type": "object",
      "properties": {
        "risks": {
          "description": "Reliability risks mitigated by this recommendation.",
          "items": {
            "type": "string",
            "enum": [
              "RISK_TYPE_UNSPECIFIED",
              "SERVICE_DISRUPTION",
              "DATA_LOSS",
              "ACCESS_DENY"
            ],
            "enumDescriptions": [
              "Default unspecified risk. Don't use directly.",
              "Potential service downtime.",
              "Potential data loss.",
              "Potential access denial. The service is still up but some or all clients can't access it."
            ]
          },
          "type": "array"
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Per-recommender projection."
        }
      },
      "description": "Contains information on the impact of a reliability recommendation."
    },
    "GoogleCloudRecommenderV1RecommenderConfig": {
      "id": "GoogleCloudRecommenderV1RecommenderConfig",
      "type": "object",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
          "type": "string"
        },
        "recommenderGenerationConfig": {
          "description": "RecommenderGenerationConfig which configures the Generation of recommendations for this recommender.",
          "$ref": "GoogleCloudRecommenderV1RecommenderGenerationConfig"
        },
        "updateTime": {
          "description": "Last time when the config was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Fingerprint of the RecommenderConfig. Provides optimistic locking when updating."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "displayName": {
          "type": "string",
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces."
        }
      },
      "description": "Configuration for a Recommender."
    },
    "GoogleCloudRecommenderV1CostProjection": {
      "id": "GoogleCloudRecommenderV1CostProjection",
      "type": "object",
      "properties": {
        "costInLocalCurrency": {
          "description": "The approximate cost savings in the billing account's local currency.",
          "$ref": "GoogleTypeMoney"
        },
        "cost": {
          "description": "An approximate projection on amount saved or amount incurred. Negative cost units indicate cost savings and positive cost units indicate increase. See google.type.Money documentation for positive/negative units. A user's permissions may affect whether the cost is computed using list prices or custom contract prices.",
          "$ref": "GoogleTypeMoney"
        },
        "duration": {
          "description": "Duration for which this cost applies.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Contains metadata about how much money a recommendation can save or incur."
    },
    "GoogleCloudRecommenderV1ListInsightsResponse": {
      "id": "GoogleCloudRecommenderV1ListInsightsResponse",
      "type": "object",
      "properties": {
        "insights": {
          "description": "The set of insights for the `parent` resource.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Insight"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
        }
      },
      "description": "Response to the `ListInsights` method."
    },
    "GoogleCloudRecommenderV1ValueMatcher": {
      "id": "GoogleCloudRecommenderV1ValueMatcher",
      "type": "object",
      "properties": {
        "matchesPattern": {
          "description": "To be used for full regex matching. The regular expression is using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax), so to be used with RE2::FullMatch",
          "type": "string"
        }
      },
      "description": "Contains various matching options for values for a GCP resource field."
    },
    "GoogleCloudRecommenderV1InsightTypeGenerationConfig": {
      "description": "A configuration to customize the generation of insights. Eg, customizing the lookback period considered when generating a insight.",
      "id": "GoogleCloudRecommenderV1InsightTypeGenerationConfig",
      "type": "object",
      "properties": {
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Parameters for this InsightTypeGenerationConfig. These configs can be used by or are applied to all subtypes."
        }
      }
    },
    "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest": {
      "description": "Request for the `MarkRecommendationDismissed` Method.",
      "id": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Recommendation. Provides optimistic locking."
        }
      }
    },
    "GoogleCloudRecommenderV1InsightRecommendationReference": {
      "id": "GoogleCloudRecommenderV1InsightRecommendationReference",
      "type": "object",
      "properties": {
        "recommendation": {
          "type": "string",
          "description": "Recommendation resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/recommendations/[RECOMMENDATION_ID]"
        }
      },
      "description": "Reference to an associated recommendation."
    },
    "GoogleCloudRecommenderV1Recommendation": {
      "description": "A recommendation along with a suggested action. E.g., a rightsizing recommendation for an underutilized VM, IAM role recommendations, etc",
      "id": "GoogleCloudRecommenderV1Recommendation",
      "type": "object",
      "properties": {
        "stateInfo": {
          "$ref": "GoogleCloudRecommenderV1RecommendationStateInfo",
          "description": "Information for state. Contains state and metadata."
        },
        "priority": {
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P4",
            "P3",
            "P2",
            "P1"
          ],
          "description": "Recommendation's priority.",
          "enumDescriptions": [
            "Recommendation has unspecified priority.",
            "Recommendation has P4 priority (lowest priority).",
            "Recommendation has P3 priority (second lowest priority).",
            "Recommendation has P2 priority (second highest priority).",
            "Recommendation has P1 priority (highest priority)."
          ]
        },
        "targetResources": {
          "description": "Fully qualified resource names that this recommendation is targeting.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "recommenderSubtype": {
          "type": "string",
          "description": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.iam.policy.Recommender\", recommender_subtype can be one of \"REMOVE_ROLE\"/\"REPLACE_ROLE\""
        },
        "additionalImpact": {
          "description": "Optional set of additional impact that this recommendation may have when trying to optimize for the primary category. These may be positive or negative.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Impact"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of recommendation."
        },
        "primaryImpact": {
          "$ref": "GoogleCloudRecommenderV1Impact",
          "description": "The primary impact that this recommendation can have while trying to optimize for one category."
        },
        "content": {
          "$ref": "GoogleCloudRecommenderV1RecommendationContent",
          "description": "Content of the recommendation describing recommended changes to resources."
        },
        "xorGroupId": {
          "type": "string",
          "description": "Corresponds to a mutually exclusive group ID within a recommender. A non-empty ID indicates that the recommendation belongs to a mutually exclusive group. This means that only one recommendation within the group is suggested to be applied."
        },
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "associatedInsights": {
          "type": "array",
          "description": "Insights that led to this recommendation.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1RecommendationInsightReference"
          }
        },
        "lastRefreshTime": {
          "description": "Last time this recommendation was refreshed by the system that created it in the first place.",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Fingerprint of the Recommendation. Provides optimistic locking when updating states.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1Impact": {
      "description": "Contains the impact a recommendation can have for a given category.",
      "id": "GoogleCloudRecommenderV1Impact",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ],
          "description": "Category that is being targeted.",
          "enumDescriptions": [
            "Default unspecified category. Don't use directly.",
            "Indicates a potential increase or decrease in cost.",
            "Indicates a potential increase or decrease in security.",
            "Indicates a potential increase or decrease in performance.",
            "Indicates a potential increase or decrease in manageability.",
            "Indicates a potential increase or decrease in sustainability.",
            "Indicates a potential increase or decrease in reliability."
          ]
        },
        "securityProjection": {
          "description": "Use with CategoryType.SECURITY",
          "$ref": "GoogleCloudRecommenderV1SecurityProjection"
        },
        "sustainabilityProjection": {
          "description": "Use with CategoryType.SUSTAINABILITY",
          "$ref": "GoogleCloudRecommenderV1SustainabilityProjection"
        },
        "costProjection": {
          "description": "Use with CategoryType.COST",
          "$ref": "GoogleCloudRecommenderV1CostProjection"
        },
        "reliabilityProjection": {
          "$ref": "GoogleCloudRecommenderV1ReliabilityProjection",
          "description": "Use with CategoryType.RELIABILITY"
        },
        "service": {
          "type": "string",
          "description": "The service that this impact is associated with."
        }
      }
    },
    "GoogleCloudRecommenderV1MarkInsightAcceptedRequest": {
      "id": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. State properties user wish to include with this state. Full replace of the current state_metadata."
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Insight. Provides optimistic locking."
        }
      },
      "description": "Request for the `MarkInsightAccepted` method."
    },
    "GoogleCloudRecommenderV1MarkRecommendationFailedRequest": {
      "id": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "type": "object",
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "description": "Request for the `MarkRecommendationFailed` Method."
    },
    "GoogleCloudRecommenderV1Operation": {
      "description": "Contains an operation for a resource loosely based on the JSON-PATCH format with support for: * Custom filters for describing partial array patch. * Extended path values for describing nested arrays. * Custom fields for describing the resource for which the operation is being described. * Allows extension to custom operations not natively supported by RFC6902. See https://tools.ietf.org/html/rfc6902 for details on the original RFC.",
      "id": "GoogleCloudRecommenderV1Operation",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "Type of GCP resource being modified/tested. This field is always populated. Example: cloudresourcemanager.googleapis.com/Project, compute.googleapis.com/Instance",
          "type": "string"
        },
        "path": {
          "description": "Path to the target field being operated on. If the operation is at the resource level, then path should be \"/\". This field is always populated.",
          "type": "string"
        },
        "resource": {
          "description": "Contains the fully qualified resource name. This field is always populated. ex: //cloudresourcemanager.googleapis.com/projects/foo.",
          "type": "string"
        },
        "sourcePath": {
          "description": "Can be set with action 'copy' or 'move' to indicate the source field within resource or source_resource, ignored if provided for other operation types.",
          "type": "string"
        },
        "valueMatcher": {
          "$ref": "GoogleCloudRecommenderV1ValueMatcher",
          "description": "Can be set for action 'test' for advanced matching for the value of 'path' field. Either this or `value` will be set for 'test' operation."
        },
        "value": {
          "type": "any",
          "description": "Value for the `path` field. Will be set for actions:'add'/'replace'. Maybe set for action: 'test'. Either this or `value_matcher` will be set for 'test' operation. An exact match must be performed."
        },
        "pathFilters": {
          "type": "object",
          "description": "Set of filters to apply if `path` refers to array elements or nested array elements in order to narrow down to a single unique element that is being tested/modified. This is intended to be an exact match per filter. To perform advanced matching, use path_value_matchers. * Example: ``` { \"/versions/*/name\" : \"it-123\" \"/versions/*/targetSize/percent\": 20 } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/condition\" : null } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/members/*\" : [\"x@example.com\", \"y@example.com\"] } ``` When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "action": {
          "description": "Type of this operation. Contains one of 'add', 'remove', 'replace', 'move', 'copy', 'test' and custom operations. This field is case-insensitive and always populated.",
          "type": "string"
        },
        "sourceResource": {
          "type": "string",
          "description": "Can be set with action 'copy' to copy resource configuration across different resources of the same type. Example: A resource clone can be done via action = 'copy', path = \"/\", from = \"/\", source_resource = and resource_name = . This field is empty for all other values of `action`."
        },
        "pathValueMatchers": {
          "description": "Similar to path_filters, this contains set of filters to apply if `path` field refers to array elements. This is meant to support value matching beyond exact match. To perform exact match, use path_filters. When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommenderV1ValueMatcher"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudRecommenderV1Insight": {
      "id": "GoogleCloudRecommenderV1Insight",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Insight. Provides optimistic locking when updating states."
        },
        "targetResources": {
          "description": "Fully qualified resource names that this insight is targeting.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "insightSubtype": {
          "description": "Insight subtype. Insight content schema will be stable for a given subtype.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Insight's severity.",
          "enumDescriptions": [
            "Insight has unspecified severity.",
            "Insight has low severity.",
            "Insight has medium severity.",
            "Insight has high severity.",
            "Insight has critical severity."
          ]
        },
        "associatedRecommendations": {
          "description": "Recommendations derived from this insight.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1InsightRecommendationReference"
          },
          "type": "array"
        },
        "lastRefreshTime": {
          "description": "Timestamp of the latest data used to generate the insight.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ],
          "description": "Category being targeted by the insight.",
          "enumDescriptions": [
            "Unspecified category.",
            "The insight is related to cost.",
            "The insight is related to security.",
            "The insight is related to performance.",
            "This insight is related to manageability.",
            "The insight is related to sustainability.",
            "This insight is related to reliability."
          ]
        },
        "content": {
          "description": "A struct of custom fields to explain the insight. Example: \"grantedPermissionsCount\": \"1000\"",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. Name of the insight.",
          "type": "string"
        },
        "observationPeriod": {
          "description": "Observation period that led to the insight. The source data used to generate the insight ends at last_refresh_time and begins at (last_refresh_time - observation_period).",
          "type": "string",
          "format": "google-duration"
        },
        "stateInfo": {
          "description": "Information state and metadata.",
          "$ref": "GoogleCloudRecommenderV1InsightStateInfo"
        }
      },
      "description": "An insight along with the information used to derive the insight. The insight may have associated recommendations as well."
    },
    "GoogleCloudRecommenderV1OperationGroup": {
      "description": "Group of operations that need to be performed atomically.",
      "id": "GoogleCloudRecommenderV1OperationGroup",
      "type": "object",
      "properties": {
        "operations": {
          "description": "List of operations across one or more resources that belong to this group. Loosely based on RFC6902 and should be performed in the order they appear.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Operation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRecommenderV1SustainabilityProjection": {
      "id": "GoogleCloudRecommenderV1SustainabilityProjection",
      "type": "object",
      "properties": {
        "kgCO2e": {
          "description": "Carbon Footprint generated in kg of CO2 equivalent. Chose kg_c_o2e so that the name renders correctly in camelCase (kgCO2e).",
          "type": "number",
          "format": "double"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration for which this sustainability applies."
        }
      },
      "description": "Contains metadata about how much sustainability a recommendation can save or incur."
    },
    "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest": {
      "description": "Request for the `MarkRecommendationSucceeded` Method.",
      "id": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "etag": {
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1RecommenderGenerationConfig": {
      "description": "A Configuration to customize the generation of recommendations. Eg, customizing the lookback period considered when generating a recommendation.",
      "id": "GoogleCloudRecommenderV1RecommenderGenerationConfig",
      "type": "object",
      "properties": {
        "params": {
          "description": "Parameters for this RecommenderGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudRecommenderV1InsightTypeConfig": {
      "description": "Configuration for an InsightType.",
      "id": "GoogleCloudRecommenderV1InsightTypeConfig",
      "type": "object",
      "properties": {
        "insightTypeGenerationConfig": {
          "$ref": "GoogleCloudRecommenderV1InsightTypeGenerationConfig",
          "description": "InsightTypeGenerationConfig which configures the generation of insights for this insight type."
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Fingerprint of the InsightTypeConfig. Provides optimistic locking when updating.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config"
        },
        "updateTime": {
          "description": "Last time when the config was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest": {
      "id": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "description": "Request for the `MarkRecommendationClaimed` Method."
    },
    "GoogleCloudRecommenderV1ListRecommendationsResponse": {
      "description": "Response to the `ListRecommendations` method.",
      "id": "GoogleCloudRecommenderV1ListRecommendationsResponse",
      "type": "object",
      "properties": {
        "recommendations": {
          "type": "array",
          "description": "The set of recommendations for the `parent` resource.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Recommendation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1RecommendationStateInfo": {
      "id": "GoogleCloudRecommenderV1RecommendationStateInfo",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of the recommendation, Eg ACTIVE, SUCCEEDED, FAILED.",
          "enumDescriptions": [
            "Default state. Don't use directly.",
            "Recommendation is active and can be applied. Recommendations content can be updated by Google. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ]
        },
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of metadata for the state, provided by user or automations systems.",
          "type": "object"
        }
      },
      "description": "Information for state. Contains state and metadata."
    },
    "GoogleCloudRecommenderV1SecurityProjection": {
      "description": "Contains various ways of describing the impact on Security.",
      "id": "GoogleCloudRecommenderV1SecurityProjection",
      "type": "object",
      "properties": {
        "details": {
          "description": "Additional security impact details that is provided by the recommender.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudRecommenderV1RecommendationInsightReference": {
      "description": "Reference to an associated insight.",
      "id": "GoogleCloudRecommenderV1RecommendationInsightReference",
      "type": "object",
      "properties": {
        "insight": {
          "type": "string",
          "description": "Insight resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/insights/[INSIGHT_ID]"
        }
      }
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "id": "GoogleTypeMoney",
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/recommender/docs/",
  "protocol": "rest",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "insightTypes": {
              "resources": {
                "insights": {
                  "methods": {
                    "list": {
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
                      "path": "v1/{+parent}/insights",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call."
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "recommender.folders.locations.insightTypes.insights.list",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListInsightsResponse"
                      }
                    },
                    "get": {
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "recommender.folders.locations.insightTypes.insights.get",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the insight.",
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$"
                        }
                      }
                    },
                    "markAccepted": {
                      "parameters": {
                        "name": {
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "description": "Required. Name of the insight.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "id": "recommender.folders.locations.insightTypes.insights.markAccepted",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest"
                      },
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "path": "v1/{+name}:markAccepted",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "recommenders": {
              "resources": {
                "recommendations": {
                  "methods": {
                    "markDismissed": {
                      "parameters": {
                        "name": {
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "id": "recommender.folders.locations.recommenders.recommendations.markDismissed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1/{+name}:markDismissed",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
                      },
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markSucceeded": {
                      "httpMethod": "POST",
                      "id": "recommender.folders.locations.recommenders.recommendations.markSucceeded",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1/{+name}:markSucceeded",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest"
                      }
                    },
                    "markFailed": {
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest"
                      },
                      "path": "v1/{+name}:markFailed",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "id": "recommender.folders.locations.recommenders.recommendations.markFailed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the recommendation.",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$"
                        }
                      }
                    },
                    "list": {
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "path": "v1/{+parent}/recommendations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call."
                        }
                      },
                      "httpMethod": "GET",
                      "id": "recommender.folders.locations.recommenders.recommendations.list",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListRecommendationsResponse"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path"
                        }
                      },
                      "id": "recommender.folders.locations.recommenders.recommendations.get",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markClaimed": {
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest"
                      },
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED, SUCCEEDED, FAILED, or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1/{+name}:markClaimed",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "id": "recommender.folders.locations.recommenders.recommendations.markClaimed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "insightTypes": {
              "resources": {
                "insights": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/insights",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)"
                        }
                      },
                      "id": "recommender.organizations.locations.insightTypes.insights.list",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListInsightsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "get": {
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type.",
                      "id": "recommender.organizations.locations.insightTypes.insights.get",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Name of the insight.",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "markAccepted": {
                      "httpMethod": "POST",
                      "id": "recommender.organizations.locations.insightTypes.insights.markAccepted",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the insight.",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest"
                      },
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "path": "v1/{+name}:markAccepted",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "getConfig": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the InsightTypeConfig to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "recommender.organizations.locations.insightTypes.getConfig",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the requested InsightTypeConfig. There is only one instance of the config for each InsightType.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateConfig": {
                  "id": "recommender.organizations.locations.insightTypes.updateConfig",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
                      "type": "string",
                      "required": true
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If true, validate the request and preview the change, but do not actually update it."
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an InsightTypeConfig change. This will create a new revision of the config.",
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  }
                }
              }
            },
            "recommenders": {
              "resources": {
                "recommendations": {
                  "methods": {
                    "get": {
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "recommender.organizations.locations.recommenders.recommendations.get",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      }
                    },
                    "markClaimed": {
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "recommender.organizations.locations.recommenders.recommendations.markClaimed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:markClaimed",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED, SUCCEEDED, FAILED, or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return."
                        },
                        "filter": {
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call."
                        }
                      },
                      "httpMethod": "GET",
                      "id": "recommender.organizations.locations.recommenders.recommendations.list",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListRecommendationsResponse"
                      },
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "path": "v1/{+parent}/recommendations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markDismissed": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "id": "recommender.organizations.locations.recommenders.recommendations.markDismissed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1/{+name}:markDismissed",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markSucceeded": {
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest"
                      },
                      "path": "v1/{+name}:markSucceeded",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "id": "recommender.organizations.locations.recommenders.recommendations.markSucceeded",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "markFailed": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "id": "recommender.organizations.locations.recommenders.recommendations.markFailed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1/{+name}:markFailed",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "getConfig": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "description": "Required. Name of the Recommendation Config to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "recommender.organizations.locations.recommenders.getConfig",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the requested Recommender Config. There is only one instance of the config for each Recommender.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateConfig": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated."
                    }
                  },
                  "id": "recommender.organizations.locations.recommenders.updateConfig",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a Recommender Config. This will create a new revision of the config.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "insightTypes": {
              "methods": {
                "getConfig": {
                  "httpMethod": "GET",
                  "id": "recommender.projects.locations.insightTypes.getConfig",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the InsightTypeConfig to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the requested InsightTypeConfig. There is only one instance of the config for each InsightType.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "updateConfig": {
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If true, validate the request and preview the change, but do not actually update it."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "location": "path"
                    }
                  },
                  "id": "recommender.projects.locations.insightTypes.updateConfig",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an InsightTypeConfig change. This will create a new revision of the config.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "insights": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "description": "Required. Name of the insight.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "recommender.projects.locations.insightTypes.insights.get",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markAccepted": {
                      "path": "v1/{+name}:markAccepted",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Name of the insight.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "recommender.projects.locations.insightTypes.insights.markAccepted",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "httpMethod": "POST"
                    },
                    "list": {
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
                      "path": "v1/{+parent}/insights",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call."
                        }
                      },
                      "httpMethod": "GET",
                      "id": "recommender.projects.locations.insightTypes.insights.list",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListInsightsResponse"
                      }
                    }
                  }
                }
              }
            },
            "recommenders": {
              "resources": {
                "recommendations": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "recommender.projects.locations.recommenders.recommendations.list",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListRecommendationsResponse"
                      },
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "path": "v1/{+parent}/recommendations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markDismissed": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation."
                        }
                      },
                      "httpMethod": "POST",
                      "id": "recommender.projects.locations.recommenders.recommendations.markDismissed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
                      },
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1/{+name}:markDismissed",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markSucceeded": {
                      "path": "v1/{+name}:markSucceeded",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "request": {
[...]
