{
  "baseUrl": "https://redis.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Creates and manages Redis instances on the Google Cloud Platform.",
  "name": "redis",
  "title": "Google Cloud Memorystore for Redis API",
  "revision": "20260219",
  "documentationLink": "https://cloud.google.com/memorystore/docs/redis/",
  "servicePath": "",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "id": "redis:v1",
  "rootUrl": "https://redis.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "MaintenancePolicy": {
      "description": "Maintenance policy for an instance.",
      "type": "object",
      "id": "MaintenancePolicy",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the policy was created.",
          "type": "string",
          "readOnly": true
        },
        "weeklyMaintenanceWindow": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy. Minimum 1. For the current version, the maximum number of weekly_window is expected to be one.",
          "type": "array",
          "items": {
            "$ref": "WeeklyMaintenanceWindow"
          }
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the policy was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ClusterMaintenanceSchedule": {
      "description": "Upcoming maintenance schedule.",
      "type": "object",
      "id": "ClusterMaintenanceSchedule",
      "properties": {
        "startTime": {
          "description": "Output only. The start time of any upcoming scheduled maintenance for this instance.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The end time of any upcoming scheduled maintenance for this instance.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "RemoteCluster": {
      "id": "RemoteCluster",
      "properties": {
        "cluster": {
          "description": "Output only. The full resource path of the remote cluster in the format: projects//locations//clusters/",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. The unique identifier of the remote cluster.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Details of the remote cluster associated with this cluster in a cross cluster replication setup.",
      "type": "object"
    },
    "ReconciliationOperationMetadata": {
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "type": "object",
      "id": "ReconciliationOperationMetadata",
      "properties": {
        "exclusiveAction": {
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "description": "Excluisive action returned by the CLH.",
          "type": "string",
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ]
        },
        "deleteResource": {
          "description": "DEPRECATED. Use exclusive_action instead.",
          "type": "boolean",
          "deprecated": true
        }
      }
    },
    "CertificateAuthority": {
      "description": "Redis cluster certificate authority",
      "type": "object",
      "id": "CertificateAuthority",
      "properties": {
        "managedServerCa": {
          "$ref": "ManagedCertificateAuthority"
        },
        "name": {
          "description": "Identifier. Unique name of the resource in this scope including project, location and cluster using the form: `projects/{project}/locations/{location}/clusters/{cluster}/certificateAuthority`",
          "type": "string"
        }
      }
    },
    "DatabaseResourceRecommendationSignalData": {
      "id": "DatabaseResourceRecommendationSignalData",
      "properties": {
        "recommender": {
          "description": "Required. Name of recommendation. Examples: organizations/1234/locations/us-central1/recommenders/google.cloudsql.instance.PerformanceRecommender/recommendations/9876",
          "type": "string"
        },
        "resourceName": {
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel",
          "type": "string"
        },
        "signalType": {
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE"
          ],
          "description": "Required. Type of signal, for example, `SIGNAL_TYPE_IDLE`, `SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES`, etc.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "recommendationState": {
          "enum": [
            "UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "description": "Required. Recommendation state",
          "type": "string",
          "enumDescriptions": [
            "",
            "Recommendation is active and can be applied. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ]
        },
        "recommenderId": {
          "description": "Required. ID of recommender. Examples: \"google.cloudsql.instance.PerformanceRecommender\"",
          "type": "string"
        },
        "recommenderSubtype": {
          "description": "Required. Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.cloudsql.instance.PerformanceRecommender\", recommender_subtype can be \"MYSQL_HIGH_NUMBER_OF_OPEN_TABLES_BEST_PRACTICE\"/\"POSTGRES_HIGH_TRANSACTION_ID_UTILIZATION_BEST_PRACTICE\"",
          "type": "string"
        },
        "additionalMetadata": {
          "description": "Optional. Any other additional metadata specific to recommendation",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "lastRefreshTime": {
          "description": "Required. last time recommendationw as refreshed",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Common model for database resource recommendation signal data.",
      "type": "object"
    },
    "CustomMetadataData": {
      "id": "CustomMetadataData",
      "properties": {
        "internalResourceMetadata": {
          "items": {
            "$ref": "InternalResourceMetadata"
          },
          "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration.",
          "type": "array"
        }
      },
      "description": "Any custom metadata associated with the resource. e.g. A spanner instance can have multiple databases with its own unique metadata. Information for these individual databases can be captured in custom metadata data",
      "type": "object"
    },
    "Entitlement": {
      "id": "Entitlement",
      "properties": {
        "type": {
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "description": "An enum that represents the type of this entitlement.",
          "type": "string",
          "enumDescriptions": [
            "The entitlement type is unspecified.",
            "The root entitlement representing Gemini package ownership.This will no longer be supported in the future.",
            "The entitlement representing Native Tier, This will be the default Entitlement going forward with GCA Enablement.",
            "The entitlement representing GCA-Standard Tier."
          ]
        },
        "entitlementState": {
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ],
          "description": "The current state of user's accessibility to a feature/benefit.",
          "type": "string",
          "enumDescriptions": [
            "",
            "User is entitled to a feature/benefit, but whether it has been successfully provisioned is decided by provisioning state.",
            "User is entitled to a feature/benefit, but it was requested to be revoked. Whether the revoke has been successful is decided by provisioning state."
          ]
        }
      },
      "description": "Proto representing the access that a user has to a specific feature/service. NextId: 3.",
      "type": "object"
    },
    "GcsDestination": {
      "description": "The Cloud Storage location for the output content",
      "type": "object",
      "id": "GcsDestination",
      "properties": {
        "uri": {
          "description": "Required. Data destination URI (e.g. 'gs://my_bucket/my_object'). Existing files will be overwritten.",
          "type": "string"
        }
      }
    },
    "PscConnection": {
      "id": "PscConnection",
      "properties": {
        "network": {
          "description": "Required. The consumer network where the IP address resides, in the form of projects/{project_id}/global/networks/{network_id}.",
          "type": "string"
        },
        "connectionType": {
          "description": "Output only. Type of the PSC connection.",
          "type": "string",
          "enumDescriptions": [
            "Cluster endpoint Type is not set",
            "Cluster endpoint that will be used as for cluster topology discovery.",
            "Cluster endpoint that will be used as primary endpoint to access primary.",
            "Cluster endpoint that will be used as reader endpoint to access replicas."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CONNECTION_TYPE_DISCOVERY",
            "CONNECTION_TYPE_PRIMARY",
            "CONNECTION_TYPE_READER"
          ],
          "readOnly": true
        },
        "forwardingRule": {
          "description": "Required. The URI of the consumer side forwarding rule. Example: projects/{projectNumOrId}/regions/us-east1/forwardingRules/{resourceId}.",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. Project ID of the consumer project where the forwarding rule is created in.",
          "type": "string"
        },
        "port": {
          "description": "Output only. port will only be set for Primary/Reader or Discovery endpoint.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "address": {
          "description": "Required. The IP allocated on the consumer network for the PSC forwarding rule.",
          "type": "string"
        },
        "pscConnectionId": {
          "description": "Required. The PSC connection id of the forwarding rule connected to the service attachment.",
          "type": "string"
        },
        "pscConnectionStatus": {
          "description": "Output only. The status of the PSC connection. Please note that this value is updated periodically. To get the latest status of a PSC connection, follow https://cloud.google.com/vpc/docs/configure-private-service-connect-services#endpoint-details.",
          "type": "string",
          "enumDescriptions": [
            "PSC connection status is not specified.",
            "The connection is active",
            "Connection not found"
          ],
          "enum": [
            "PSC_CONNECTION_STATUS_UNSPECIFIED",
            "PSC_CONNECTION_STATUS_ACTIVE",
            "PSC_CONNECTION_STATUS_NOT_FOUND"
          ],
          "readOnly": true
        },
        "serviceAttachment": {
          "description": "Required. The service attachment which is the target of the PSC connection, in the form of projects/{project-id}/regions/{region}/serviceAttachments/{service-attachment-id}.",
          "type": "string"
        }
      },
      "description": "Details of consumer resources in a PSC connection.",
      "type": "object"
    },
    "PscServiceAttachment": {
      "description": "Configuration of a service attachment of the cluster, for creating PSC connections.",
      "type": "object",
      "id": "PscServiceAttachment",
      "properties": {
        "connectionType": {
          "description": "Output only. Type of a PSC connection targeting this service attachment.",
          "type": "string",
          "enumDescriptions": [
            "Cluster endpoint Type is not set",
            "Cluster endpoint that will be used as for cluster topology discovery.",
            "Cluster endpoint that will be used as primary endpoint to access primary.",
            "Cluster endpoint that will be used as reader endpoint to access replicas."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CONNECTION_TYPE_DISCOVERY",
            "CONNECTION_TYPE_PRIMARY",
            "CONNECTION_TYPE_READER"
          ],
          "readOnly": true
        },
        "serviceAttachment": {
          "description": "Output only. Service attachment URI which your self-created PscConnection should use as target",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BackupRun": {
      "description": "A backup run.",
      "type": "object",
      "id": "BackupRun",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The time the backup operation completed. REQUIRED",
          "type": "string"
        },
        "startTime": {
          "description": "The time the backup operation started. REQUIRED",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "SUCCESSFUL",
            "FAILED"
          ],
          "description": "The status of this run. REQUIRED",
          "type": "string",
          "enumDescriptions": [
            "",
            "The backup was successful.",
            "The backup was unsuccessful."
          ]
        },
        "error": {
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status. OPTIONAL",
          "$ref": "OperationError"
        }
      }
    },
    "PscAutoConnection": {
      "description": "Details of consumer resources in a PSC connection that is created through Service Connectivity Automation.",
      "type": "object",
      "id": "PscAutoConnection",
      "properties": {
        "address": {
          "readOnly": true,
          "description": "Output only. The IP allocated on the consumer network for the PSC forwarding rule.",
          "type": "string"
        },
        "forwardingRule": {
          "description": "Output only. The URI of the consumer side forwarding rule. Example: projects/{projectNumOrId}/regions/us-east1/forwardingRules/{resourceId}.",
          "type": "string",
          "readOnly": true
        },
        "network": {
          "description": "Required. The consumer network where the IP address resides, in the form of projects/{project_id}/global/networks/{network_id}.",
          "type": "string"
        },
        "connectionType": {
          "description": "Output only. Type of the PSC connection.",
          "type": "string",
          "enumDescriptions": [
            "Cluster endpoint Type is not set",
            "Cluster endpoint that will be used as for cluster topology discovery.",
            "Cluster endpoint that will be used as primary endpoint to access primary.",
            "Cluster endpoint that will be used as reader endpoint to access replicas."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CONNECTION_TYPE_DISCOVERY",
            "CONNECTION_TYPE_PRIMARY",
            "CONNECTION_TYPE_READER"
          ],
          "readOnly": true
        },
        "pscConnectionStatus": {
          "readOnly": true,
          "description": "Output only. The status of the PSC connection. Please note that this value is updated periodically. Please use Private Service Connect APIs for the latest status.",
          "type": "string",
          "enumDescriptions": [
            "PSC connection status is not specified.",
            "The connection is active",
            "Connection not found"
          ],
          "enum": [
            "PSC_CONNECTION_STATUS_UNSPECIFIED",
            "PSC_CONNECTION_STATUS_ACTIVE",
            "PSC_CONNECTION_STATUS_NOT_FOUND"
          ]
        },
        "serviceAttachment": {
          "readOnly": true,
          "description": "Output only. The service attachment which is the target of the PSC connection, in the form of projects/{project-id}/regions/{region}/serviceAttachments/{service-attachment-id}.",
          "type": "string"
        },
        "pscConnectionId": {
          "readOnly": true,
          "description": "Output only. The PSC connection id of the forwarding rule connected to the service attachment.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The consumer project_id where the forwarding rule is created from.",
          "type": "string"
        }
      }
    },
    "ManagedCertificateAuthority": {
      "type": "object",
      "id": "ManagedCertificateAuthority",
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "CertChain"
          },
          "description": "The PEM encoded CA certificate chains for redis managed server authentication",
          "type": "array"
        }
      }
    },
    "OutputConfig": {
      "description": "The output content",
      "type": "object",
      "id": "OutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content.",
          "$ref": "GcsDestination"
        }
      }
    },
    "ZoneDistributionConfig": {
      "description": "Zone distribution config for allocation of cluster resources.",
      "type": "object",
      "id": "ZoneDistributionConfig",
      "properties": {
        "zone": {
          "description": "Optional. When SINGLE ZONE distribution is selected, zone field would be used to allocate all resources in that zone. This is not applicable to MULTI_ZONE, and would be ignored for MULTI_ZONE clusters.",
          "type": "string"
        },
        "mode": {
          "enum": [
            "ZONE_DISTRIBUTION_MODE_UNSPECIFIED",
            "MULTI_ZONE",
            "SINGLE_ZONE"
          ],
          "description": "Optional. The mode of zone distribution. Defaults to MULTI_ZONE, when not specified.",
          "type": "string",
          "enumDescriptions": [
            "Not Set. Default: MULTI_ZONE",
            "Distribute all resources across 3 zones picked at random, within the region.",
            "Distribute all resources in a single zone. The zone field must be specified, when this mode is selected."
          ]
        }
      }
    },
    "Backup": {
      "description": "Backup of a cluster.",
      "type": "object",
      "id": "Backup",
      "properties": {
        "encryptionInfo": {
          "readOnly": true,
          "description": "Output only. Encryption information of the backup.",
          "$ref": "EncryptionInfo"
        },
        "totalSizeBytes": {
          "format": "int64",
          "description": "Output only. Total size of the backup in bytes.",
          "type": "string",
          "readOnly": true
        },
        "backupType": {
          "description": "Output only. Type of the backup.",
          "type": "string",
          "enumDescriptions": [
            "The default value, not set.",
            "On-demand backup.",
            "Automated backup."
          ],
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "AUTOMATED"
          ],
          "readOnly": true
        },
        "clusterUid": {
          "readOnly": true,
          "description": "Output only. Cluster uid of this backup.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the backup.",
          "type": "string",
          "enumDescriptions": [
            "The default value, not set.",
            "The backup is being created.",
            "The backup is active to be used.",
            "The backup is being deleted.",
            "The backup is currently suspended due to reasons like project deletion, billing account closure, etc."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "SUSPENDED"
          ],
          "readOnly": true
        },
        "nodeType": {
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "REDIS_SHARED_CORE_NANO",
            "REDIS_HIGHMEM_MEDIUM",
            "REDIS_HIGHMEM_XLARGE",
            "REDIS_STANDARD_SMALL"
          ],
          "description": "Output only. Node type of the cluster.",
          "type": "string",
          "enumDescriptions": [
            "Node type unspecified",
            "Redis shared core nano node_type.",
            "Redis highmem medium node_type.",
            "Redis highmem xlarge node_type.",
            "Redis standard small node_type."
          ],
          "readOnly": true
        },
        "backupFiles": {
          "description": "Output only. List of backup files of the backup.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "BackupFile"
          }
        },
        "replicaCount": {
          "description": "Output only. Number of replicas for the cluster.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time when the backup was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Full resource path of the backup. the last part of the name is the backup id with the following format: [YYYYMMDDHHMMSS]_[Shorted Cluster UID] OR customer specified while backup cluster. Example: 20240515123000_1234",
          "type": "string"
        },
        "engineVersion": {
          "readOnly": true,
          "description": "Output only. redis-7.2, valkey-7.5",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System assigned unique identifier of the backup.",
          "type": "string",
          "readOnly": true
        },
        "cluster": {
          "readOnly": true,
          "description": "Output only. Cluster resource path of this backup.",
          "type": "string"
        },
        "shardCount": {
          "format": "int32",
          "description": "Output only. Number of shards for the cluster.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "RDBConfig": {
      "description": "Configuration of the RDB based persistence.",
      "type": "object",
      "id": "RDBConfig",
      "properties": {
        "rdbSnapshotPeriod": {
          "enum": [
            "SNAPSHOT_PERIOD_UNSPECIFIED",
            "ONE_HOUR",
            "SIX_HOURS",
            "TWELVE_HOURS",
            "TWENTY_FOUR_HOURS"
          ],
          "description": "Optional. Period between RDB snapshots.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "One hour.",
            "Six hours.",
            "Twelve hours.",
            "Twenty four hours."
          ]
        },
        "rdbSnapshotStartTime": {
          "description": "Optional. The time that the first snapshot was/will be attempted, and to which future snapshots will be aligned. If not provided, the current time will be used.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AOFConfig": {
      "description": "Configuration of the AOF based persistence.",
      "type": "object",
      "id": "AOFConfig",
      "properties": {
        "appendFsync": {
          "enum": [
            "APPEND_FSYNC_UNSPECIFIED",
            "NO",
            "EVERYSEC",
            "ALWAYS"
          ],
          "description": "Optional. fsync configuration.",
          "type": "string",
          "enumDescriptions": [
            "Not set. Default: EVERYSEC",
            "Never fsync. Normally Linux will flush data every 30 seconds with this configuration, but it's up to the kernel's exact tuning.",
            "fsync every second. Fast enough, and you may lose 1 second of data if there is a disaster",
            "fsync every time new write commands are appended to the AOF. It has the best data loss protection at the cost of performance"
          ]
        }
      }
    },
    "ListBackupsResponse": {
      "description": "Response for [ListBackups].",
      "type": "object",
      "id": "ListBackupsResponse",
      "properties": {
        "unreachable": {
          "description": "Backups that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backups": {
          "description": "A list of backups in the project.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ResourceFlags": {
      "id": "ResourceFlags",
      "properties": {
        "value": {
          "description": "Optional. Value of the resource flag.",
          "type": "string"
        },
        "key": {
          "description": "Optional. Key of the resource flag.",
          "type": "string"
        }
      },
      "description": "Message type for storing resource flags.",
      "type": "object"
    },
    "GoogleCloudRedisV1ZoneMetadata": {
      "id": "GoogleCloudRedisV1ZoneMetadata",
      "properties": {},
      "description": "Defines specific information for a particular zone. Currently empty and reserved for future use only.",
      "type": "object"
    },
    "ObservabilityMetricData": {
      "type": "object",
      "id": "ObservabilityMetricData",
      "properties": {
        "value": {
          "description": "Required. Value of the metric type.",
          "$ref": "TypedValue"
        },
        "aggregationType": {
          "enum": [
            "AGGREGATION_TYPE_UNSPECIFIED",
            "PEAK",
            "P99",
            "P95",
            "CURRENT"
          ],
          "description": "Required. Type of aggregation performed on the metric.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified aggregation type.",
            "PEAK aggregation type.",
            "P99 aggregation type.",
            "P95 aggregation type.",
            "current aggregation type."
          ]
        },
        "resourceName": {
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel",
          "type": "string"
        },
        "observationTime": {
          "format": "google-datetime",
          "description": "Required. The time the metric value was observed.",
          "type": "string"
        },
        "metricType": {
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "CPU_UTILIZATION",
            "MEMORY_UTILIZATION",
            "NETWORK_CONNECTIONS",
            "STORAGE_UTILIZATION",
            "STORAGE_USED_BYTES",
            "NODE_COUNT",
            "MEMORY_USED_BYTES",
            "PROCESSING_UNIT_COUNT"
          ],
          "description": "Required. Type of metric like CPU, Memory, etc.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified metric type.",
            "CPU utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Memory utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Number of network connections for a resource.",
            "Storage utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Sotrage used by a resource.",
            "Node count for a resource. It represents the number of node units in a bigtable/spanner instance.",
            "Memory used by a resource (in bytes).",
            "Processing units used by a resource. It represents the number of processing units in a spanner instance."
          ]
        }
      }
    },
    "GcsSource": {
      "id": "GcsSource",
      "properties": {
        "uri": {
          "description": "Required. Source data URI. (e.g. 'gs://my_bucket/my_object').",
          "type": "string"
        }
      },
      "description": "The Cloud Storage location for the input content",
      "type": "object"
    },
    "BackupCollection": {
      "description": "BackupCollection of a cluster.",
      "type": "object",
      "id": "BackupCollection",
      "properties": {
        "lastBackupTime": {
          "description": "Output only. The last time a backup was created in the backup collection.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "totalBackupSizeBytes": {
          "readOnly": true,
          "description": "Output only. Total size of all backups in the backup collection.",
          "type": "string",
          "format": "int64"
        },
        "clusterUid": {
          "description": "Output only. The cluster uid of the backup collection.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System assigned unique identifier of the backup collection.",
          "type": "string"
        },
        "totalBackupCount": {
          "description": "Output only. Total number of backups in the backup collection.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "cluster": {
          "readOnly": true,
          "description": "Output only. The full resource path of the cluster the backup collection belongs to. Example: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string"
        },
        "kmsKey": {
          "description": "Output only. The KMS key used to encrypt the backups under this backup collection.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Full resource path of the backup collection.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup collection was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AvailabilityConfiguration": {
      "id": "AvailabilityConfiguration",
      "properties": {
        "promotableReplicaConfigured": {
          "type": "boolean"
        },
        "automaticFailoverRoutingConfigured": {
          "description": "Checks for existence of (multi-cluster) routing configuration that allows automatic failover to a different zone/region in case of an outage. Applicable to Bigtable resources.",
          "type": "boolean"
        },
        "availabilityType": {
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ],
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
          "type": "string",
          "enumDescriptions": [
            "",
            "Zonal available instance.",
            "Regional available instance.",
            "Multi regional instance",
            "For rest of the other category"
          ]
        },
        "externalReplicaConfigured": {
          "type": "boolean"
        },
        "crossRegionReplicaConfigured": {
          "description": "Checks for resources that are configured to have redundancy, and ongoing replication across regions",
          "type": "boolean"
        }
      },
      "description": "Configuration for availability of database instance",
      "type": "object"
    },
    "GCBDRConfiguration": {
      "description": "GCBDR Configuration for the resource.",
      "type": "object",
      "id": "GCBDRConfiguration",
      "properties": {
        "gcbdrManaged": {
          "description": "Whether the resource is managed by GCBDR.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudRedisV1OperationMetadata": {
      "id": "GoogleCloudRedisV1OperationMetadata",
      "properties": {
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End timestamp.",
          "type": "string"
        },
        "cancelRequested": {
          "description": "Specifies if cancellation was requested for the operation.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Operation target.",
          "type": "string"
        },
        "verb": {
          "description": "Operation verb.",
          "type": "string"
        },
        "statusDetail": {
          "description": "Operation status details.",
          "type": "string"
        }
      },
      "description": "Represents the v1 metadata of the long-running operation.",
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "Date",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ResourceMaintenanceInfo": {
      "id": "ResourceMaintenanceInfo",
      "properties": {
        "denyMaintenanceSchedules": {
          "description": "Optional. List of Deny maintenance period for the database resource.",
          "type": "array",
          "items": {
            "$ref": "ResourceMaintenanceDenySchedule"
          }
        },
        "upcomingMaintenance": {
          "description": "Optional. Upcoming maintenance for the database resource. This field is populated once SLM generates and publishes upcoming maintenance window.",
          "$ref": "UpcomingMaintenance"
        },
        "isInstanceStopped": {
          "description": "Optional. Whether the instance is in stopped state. This information is temporarily being captured in maintenanceInfo, till STOPPED state is supported by DB Center.",
          "type": "boolean"
        },
        "maintenanceVersion": {
          "description": "Optional. Current Maintenance version of the database resource. Example: \"MYSQL_8_0_41.R20250531.01_15\"",
          "type": "string"
        },
        "maintenanceSchedule": {
          "description": "Optional. Maintenance window for the database resource.",
          "$ref": "ResourceMaintenanceSchedule"
        },
        "maintenanceState": {
          "readOnly": true,
          "description": "Output only. Current state of maintenance on the database resource.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Database resource is being created.",
            "Database resource has been created and is ready to use.",
            "Database resource is being updated.",
            "Database resource is unheathy and under repair.",
            "Database resource is being deleted.",
            "Database resource encountered an error and is in indeterministic state."
          ],
          "enum": [
            "MAINTENANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ]
        },
        "currentVersionReleaseDate": {
          "description": "Optional. The date when the current maintenance version was released.",
          "$ref": "Date"
        }
      },
      "description": "MaintenanceInfo to capture the maintenance details of database resource.",
      "type": "object"
    },
    "CertChain": {
      "id": "CertChain",
      "properties": {
        "certificates": {
          "description": "The certificates that form the CA chain, from leaf to root order.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ClusterMaintenancePolicy": {
      "description": "Maintenance policy per cluster.",
      "type": "object",
      "id": "ClusterMaintenancePolicy",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the policy was created i.e. Maintenance Window or Deny Period was assigned.",
          "type": "string",
          "format": "google-datetime"
        },
        "weeklyMaintenanceWindow": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy. Minimum 1. For the current version, the maximum number of weekly_maintenance_window is expected to be one.",
          "type": "array",
          "items": {
            "$ref": "ClusterWeeklyMaintenanceWindow"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the policy was updated i.e. Maintenance Window or Deny Period was updated.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRedisV1LocationMetadata": {
      "id": "GoogleCloudRedisV1LocationMetadata",
      "properties": {
        "availableZones": {
          "additionalProperties": {
            "$ref": "GoogleCloudRedisV1ZoneMetadata"
          },
          "description": "Output only. The set of available zones in the location. The map is keyed by the lowercase ID of each zone, as defined by GCE. These keys can be specified in `location_id` or `alternative_location_id` fields when creating a Redis instance.",
          "type": "object",
          "readOnly": true
        }
      },
      "description": "This location metadata represents additional configuration options for a given location where a Redis instance may be created. All fields are output only. It is returned as content of the `google.cloud.location.Location.metadata` field.",
      "type": "object"
    },
    "ImportInstanceRequest": {
      "description": "Request for Import.",
      "type": "object",
      "id": "ImportInstanceRequest",
      "properties": {
        "inputConfig": {
          "$ref": "InputConfig",
          "description": "Required. Specify data to be imported."
        }
      }
    },
    "DatabaseResourceId": {
      "id": "DatabaseResourceId",
      "properties": {
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "description": "Required. Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged",
          "type": "string",
          "enumDescriptions": [
            "",
            "Google cloud platform provider",
            "Amazon web service",
            "Azure web service",
            "On-prem database resources.",
            "Self-managed database provider. These are resources on a cloud platform, e.g., database resource installed in a GCE VM, but not a managed database service.",
            "For the rest of the other categories. Other refers to the rest of other database service providers, this could be smaller cloud provider. This needs to be provided when the provider is known, but it is not present in the existing set of enum values."
          ]
        },
        "uniqueId": {
          "description": "Required. A service-local token that distinguishes this resource from other resources within the same service.",
          "type": "string"
        },
        "providerDescription": {
          "description": "Optional. Needs to be used only when the provider is PROVIDER_OTHER.",
          "type": "string"
        },
        "resourceType": {
          "description": "Required. The type of resource this ID is identifying. Ex go/keep-sorted start alloydb.googleapis.com/Cluster, alloydb.googleapis.com/Instance, bigtableadmin.googleapis.com/Cluster, bigtableadmin.googleapis.com/Instance compute.googleapis.com/Instance firestore.googleapis.com/Database, redis.googleapis.com/Instance, redis.googleapis.com/Cluster, oracledatabase.googleapis.com/CloudExadataInfrastructure oracledatabase.googleapis.com/CloudVmCluster oracledatabase.googleapis.com/AutonomousDatabase spanner.googleapis.com/Instance, spanner.googleapis.com/Database, sqladmin.googleapis.com/Instance, go/keep-sorted end REQUIRED Please refer go/condor-common-datamodel",
          "type": "string"
        }
      },
      "description": "DatabaseResourceId will serve as primary key for any resource ingestion event.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "InternalResourceMetadata": {
      "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration settings. Similarly bigtable can have multiple clusters within same bigtable instance.",
      "type": "object",
      "id": "InternalResourceMetadata",
      "properties": {
        "resourceName": {
          "description": "Required. internal resource name for spanner this will be database name e.g.\"spanner.googleapis.com/projects/123/abc/instances/inst1/databases/db1\"",
          "type": "string"
        },
        "backupConfiguration": {
          "description": "Backup configuration for this database",
          "$ref": "BackupConfiguration"
        },
        "backupRun": {
          "description": "Information about the last backup attempt for this database",
          "$ref": "BackupRun"
        },
        "isDeletionProtectionEnabled": {
          "description": "Whether deletion protection is enabled for this internal resource.",
          "type": "boolean"
        },
        "resourceId": {
          "$ref": "DatabaseResourceId"
        },
        "product": {
          "$ref": "Product"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ClusterEndpoint": {
      "description": "ClusterEndpoint consists of PSC connections that are created as a group in each VPC network for accessing the cluster. In each group, there shall be one connection for each service attachment in the cluster.",
      "type": "object",
      "id": "ClusterEndpoint",
      "properties": {
        "connections": {
          "items": {
            "$ref": "ConnectionDetail"
          },
          "description": "Required. A group of PSC connections. They are created in the same VPC network, one for each service attachment in the cluster.",
          "type": "array"
        }
      }
    },
    "OperationError": {
      "id": "OperationError",
      "properties": {
        "code": {
          "description": "Identifies the specific error that occurred. REQUIRED",
          "type": "string"
        },
        "errorType": {
          "enum": [
            "OPERATION_ERROR_TYPE_UNSPECIFIED",
            "KMS_KEY_ERROR",
            "DATABASE_ERROR",
            "STOCKOUT_ERROR",
            "CANCELLATION_ERROR",
            "SQLSERVER_ERROR",
            "INTERNAL_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "key destroyed, expired, not found, unreachable or permission denied.",
            "Database is not accessible",
            "The zone or region does not have sufficient resources to handle the request at the moment",
            "User initiated cancellation",
            "SQL server specific error",
            "Any other internal error."
          ]
        },
        "message": {
          "description": "Additional information about the error encountered. REQUIRED",
          "type": "string"
        }
      },
      "description": "An error that occurred during a backup creation operation.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "Resource ID for the region. For example: \"us-east1\".",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. The set of available zones in the location. The map is keyed by the lowercase ID of each zone, as defined by Compute Engine. These keys can be specified in `location_id` or `alternative_location_id` fields when creating a Redis instance.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Full resource name for the region. For example: \"projects/example-project/locations/us-east1\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "{ `createTime`: The time the operation was created. `endTime`: The time the operation finished running. `target`: Server-defined resource path for the target of the operation. `verb`: Name of the verb executed by the operation. `statusDetail`: Human-readable status of the operation, if any. `cancelRequested`: Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`. `apiVersion`: API version used to start the operation. }",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      }
    },
    "RescheduleClusterMaintenanceRequest": {
      "description": "Request for rescheduling a cluster maintenance.",
      "type": "object",
      "id": "RescheduleClusterMaintenanceRequest",
      "properties": {
        "rescheduleType": {
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "SPECIFIC_TIME"
          ],
          "description": "Required. If reschedule type is SPECIFIC_TIME, must set up schedule_time as well.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "If the user wants to schedule the maintenance to happen now.",
            "If the user wants to reschedule the maintenance to a specific time."
          ]
        },
        "scheduleTime": {
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in RFC 3339 format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "FixedFrequencySchedule": {
      "id": "FixedFrequencySchedule",
      "properties": {
        "startTime": {
          "description": "Required. The start time of every automated backup in UTC. It must be set to the start of an hour. This field is required.",
          "$ref": "TimeOfDay"
        }
      },
      "description": "This schedule allows the backup to be triggered at a fixed frequency (currently only daily is supported).",
      "type": "object"
    },
    "BackupFile": {
      "id": "BackupFile",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the backup file was created.",
          "type": "string",
          "readOnly": true
        },
        "sizeBytes": {
          "description": "Output only. Size of the backup file in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "fileName": {
          "description": "Output only. e.g: .rdb",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Backup is consisted of multiple backup files.",
      "type": "object"
    },
    "BackupConfiguration": {
      "description": "Configuration for automatic backups",
      "type": "object",
      "id": "BackupConfiguration",
      "properties": {
        "automatedBackupEnabled": {
          "description": "Whether customer visible automated backups are enabled on the instance.",
          "type": "boolean"
        },
        "backupRetentionSettings": {
          "description": "Backup retention settings.",
          "$ref": "RetentionSettings"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Whether point-in-time recovery is enabled. This is optional field, if the database service does not have this feature or metadata is not available in control plane, this can be omitted.",
          "type": "boolean"
        }
      }
    },
    "ClusterPersistenceConfig": {
      "description": "Configuration of the persistence functionality.",
      "type": "object",
      "id": "ClusterPersistenceConfig",
      "properties": {
        "rdbConfig": {
          "description": "Optional. RDB configuration. This field will be ignored if mode is not RDB.",
          "$ref": "RDBConfig"
        },
        "aofConfig": {
          "$ref": "AOFConfig",
          "description": "Optional. AOF configuration. This field will be ignored if mode is not AOF."
        },
        "mode": {
          "description": "Optional. The mode of persistence.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Persistence is disabled, and any snapshot data is deleted.",
            "RDB based persistence is enabled.",
            "AOF based persistence is enabled."
          ],
          "enum": [
            "PERSISTENCE_MODE_UNSPECIFIED",
            "DISABLED",
            "RDB",
            "AOF"
          ]
        }
      }
    },
    "Membership": {
      "description": "An output only view of all the member clusters participating in the cross cluster replication.",
      "type": "object",
      "id": "Membership",
      "properties": {
        "primaryCluster": {
          "readOnly": true,
          "description": "Output only. The primary cluster that acts as the source of replication for the secondary clusters.",
          "$ref": "RemoteCluster"
        },
        "secondaryClusters": {
          "readOnly": true,
          "items": {
            "$ref": "RemoteCluster"
          },
          "description": "Output only. The list of secondary clusters replicating from the primary cluster.",
          "type": "array"
        }
      }
    },
    "RegionalManagedCertificateAuthority": {
      "description": "CA certificate chains for redis managed server authentication.",
      "type": "object",
      "id": "RegionalManagedCertificateAuthority",
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "RegionalCertChain"
          },
          "description": "The PEM encoded CA certificate chains for redis managed server authentication",
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "UpdateInfo": {
      "description": "Represents information about an updating cluster.",
      "type": "object",
      "id": "UpdateInfo",
      "properties": {
        "targetNodeType": {
          "description": "Target node type for redis cluster.",
          "type": "string",
          "enumDescriptions": [
            "Node type unspecified",
            "Redis shared core nano node_type.",
            "Redis highmem medium node_type.",
            "Redis highmem xlarge node_type.",
            "Redis standard small node_type."
          ],
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "REDIS_SHARED_CORE_NANO",
            "REDIS_HIGHMEM_MEDIUM",
            "REDIS_HIGHMEM_XLARGE",
            "REDIS_STANDARD_SMALL"
          ]
        },
        "targetShardCount": {
          "description": "Target number of shards for redis cluster",
          "type": "integer",
          "format": "int32"
        },
        "targetReplicaCount": {
          "description": "Target number of replica nodes per shard.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UpcomingMaintenance": {
      "description": "Upcoming maintenance for the database resource. This is generated by SLM once the upcoming maintenance schedule is published.",
      "type": "object",
      "id": "UpcomingMaintenance",
      "properties": {
        "endTime": {
          "description": "Optional. The end time of the upcoming maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. The start time of the upcoming maintenance.",
          "type": "string"
        }
      }
    },
    "ResourceMaintenanceSchedule": {
      "id": "ResourceMaintenanceSchedule",
      "properties": {
        "time": {
          "description": "Optional. Preferred time to start the maintenance operation on the specified day.",
          "$ref": "TimeOfDay"
        },
        "day": {
          "description": "Optional. Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "phase": {
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Phase of the maintenance window. This is to capture order of maintenance. For example, for Cloud SQL resources, this can be used to capture if the maintenance window is in Week1, Week2, Week5, etc. Non production resources are usually part of early phase. For more details, refer to Cloud SQL resources - https://cloud.google.com/sql/docs/mysql/maintenance",
          "type": "string",
          "enumDescriptions": [
            "Phase is unspecified.",
            "Any phase.",
            "Week 1.",
            "Week 2.",
            "Week 5."
          ]
        }
      },
      "description": "Maintenance window for the database resource. It specifies preferred time and day of the week and phase in some cases, when the maintenance can start. This is configured by the customer.",
      "type": "object"
    },
    "ClusterWeeklyMaintenanceWindow": {
      "description": "Time window specified for weekly operations.",
      "type": "object",
      "id": "ClusterWeeklyMaintenanceWindow",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Optional. Start time of the window in UTC."
        },
        "day": {
          "description": "Optional. Allows to define schedule that runs specified day of the week.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    },
    "ListBackupCollectionsResponse": {
      "description": "Response for [ListBackupCollections].",
      "type": "object",
      "id": "ListBackupCollectionsResponse",
      "properties": {
        "backupCollections": {
          "description": "A list of backupCollections in the project. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated. If in such an aggregated query a location is unavailable, a placeholder backupCollection entry is included in the response with the `name` field set to a value of the form `projects/{project_id}/locations/{location_id}/backupCollections/`- and the `status` field set to ERROR and `status_message` field set to \"location not available for ListBackupCollections\".",
          "type": "array",
          "items": {
            "$ref": "BackupCollection"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "BackupDRConfiguration": {
      "id": "BackupDRConfiguration",
      "properties": {
        "backupdrManaged": {
          "description": "Indicates if the resource is managed by BackupDR.",
          "type": "boolean"
        }
      },
      "description": "BackupDRConfiguration to capture the backup and disaster recovery details of database resource.",
      "type": "object"
    },
    "ConnectionDetail": {
      "description": "Detailed information of each PSC connection.",
      "type": "object",
      "id": "ConnectionDetail",
      "properties": {
        "pscAutoConnection": {
          "$ref": "PscAutoConnection",
          "description": "Detailed information of a PSC connection that is created through service connectivity automation."
        },
        "pscConnection": {
          "$ref": "PscConnection",
          "description": "Detailed information of a PSC connection that is created by the customer who owns the cluster."
        }
      }
    },
    "ExportInstanceRequest": {
      "description": "Request for Export.",
      "type": "object",
      "id": "ExportInstanceRequest",
      "properties": {
        "outputConfig": {
          "description": "Required. Specify data to be exported.",
          "$ref": "OutputConfig"
        }
      }
    },
    "SharedRegionalCertificateAuthority": {
      "description": "Shared regional certificate authority",
      "type": "object",
      "id": "SharedRegionalCertificateAuthority",
      "properties": {
        "managedServerCa": {
          "description": "CA certificate chains for redis managed server authentication.",
          "$ref": "RegionalManagedCertificateAuthority"
        },
        "name": {
          "description": "Identifier. Unique name of the resource in this scope including project and location using the form: `projects/{project}/locations/{location}/sharedRegionalCertificateAuthority`",
          "type": "string"
        }
      }
    },
    "StateInfo": {
      "id": "StateInfo",
      "properties": {
        "updateInfo": {
          "$ref": "UpdateInfo",
          "description": "Describes ongoing update on the cluster when cluster state is UPDATING."
        }
      },
      "description": "Represents additional information about the state of the cluster.",
      "type": "object"
    },
    "RegionalCertChain": {
      "id": "RegionalCertChain",
      "properties": {
        "certificates": {
          "items": {
            "type": "string"
          },
          "description": "The certificates that form the CA chain, from leaf to root order.",
          "type": "array"
        }
      },
      "description": "The certificates that form the CA chain, from leaf to root order.",
      "type": "object"
    },
    "Instance": {
      "id": "Instance",
      "properties": {
        "redisVersion": {
          "description": "Optional. The version of Redis software. If not provided, the default version will be used. Currently, the supported values are: * `REDIS_3_2` for Redis 3.2 compatibility * `REDIS_4_0` for Redis 4.0 compatibility * `REDIS_5_0` for Redis 5.0 compatibility * `REDIS_6_X` for Redis 6.x compatibility * `REDIS_7_0` for Redis 7.0 compatibility (default) * `REDIS_7_2` for Redis 7.2 compatibility",
          "type": "string"
        },
        "readEndpointPort": {
          "description": "Output only. The port number of the exposed readonly redis endpoint. Standard tier only. Write requests should target 'port'.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "readEndpoint": {
          "readOnly": true,
          "description": "Output only. Hostname or IP address of the exposed readonly Redis endpoint. Standard tier only. Targets all healthy replica nodes in instance. Replication is asynchronous and replica nodes will exhibit some lag behind the primary. Write requests must target 'host'.",
          "type": "string"
        },
        "transitEncryptionMode": {
          "description": "Optional. The TLS mode of the Redis instance. If not provided, TLS is disabled for the instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Client to Server traffic encryption enabled with server authentication.",
            "TLS is disabled for the instance."
          ],
          "enum": [
            "TRANSIT_ENCRYPTION_MODE_UNSPECIFIED",
            "SERVER_AUTHENTICATION",
            "DISABLED"
          ]
        },
        "customerManagedKey": {
          "description": "Optional. The KMS key reference that the customer provides when trying to create the instance.",
          "type": "string"
        },
        "locationId": {
          "description": "Optional. The zone where the instance will be provisioned. If not provided, the service will choose a zone from the specified region for the instance. For standard tier, additional nodes will be added across multiple zones for protection against zonal failures. If specified, at least one node will be provisioned in this zone.",
          "type": "string"
        },
        "maintenanceVersion": {
          "description": "Optional. The self service update maintenance version. The version is date based such as \"20210712_00_00\".",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Additional information about the current status of this instance, if available.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Optional. Output only. Reserved for future use.",
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "MAINTENANCE",
            "IMPORTING",
            "FAILING_OVER"
          ],
          "description": "Output only. The current state of this instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Redis instance is being created.",
            "Redis instance has been created and is fully usable.",
            "Redis instance configuration is being updated. Certain kinds of updates may cause the instance to become unusable while the update is in progress.",
            "Redis instance is being deleted.",
            "Redis instance is being repaired and may be unusable.",
            "Maintenance is being performed on this Redis instance.",
            "Redis instance is importing data (availability may be affected).",
            "Redis instance is failing over (availability may be affected)."
          ]
        },
        "nodes": {
          "description": "Output only. Info per node.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "NodeInfo"
          }
        },
        "suspensionReasons": {
          "description": "Optional. reasons that causes instance in \"SUSPENDED\" state.",
          "type": "array",
          "items": {
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "CUSTOMER_MANAGED_KEY_ISSUE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not set.",
              "Something wrong with the CMEK key provided by customer."
            ]
          }
        },
        "authEnabled": {
          "description": "Optional. Indicates whether OSS Redis AUTH is enabled for the instance. If set to \"true\" AUTH is enabled on the instance. Default value is \"false\" meaning AUTH is disabled.",
          "type": "boolean"
        },
        "persistenceConfig": {
          "description": "Optional. Persistence configuration parameters",
          "$ref": "PersistenceConfig"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "host": {
          "readOnly": true,
          "description": "Output only. Hostname or IP address of the exposed Redis endpoint used by clients to connect to the service.",
          "type": "string"
        },
        "maintenancePolicy": {
          "description": "Optional. The maintenance policy for the instance. If not provided, maintenance events can be performed at any time.",
          "$ref": "MaintenancePolicy"
        },
        "alternativeLocationId": {
          "description": "Optional. If specified, at least one node will be provisioned in this zone in addition to the zone specified in location_id. Only applicable to standard tier. If provided, it must be a different zone from the one provided in [location_id]. Additional nodes beyond the first 2 will be placed in zones selected by the service.",
          "type": "string"
        },
        "availableMaintenanceVersions": {
          "description": "Optional. The available maintenance versions that an instance could update to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "secondaryIpRange": {
          "description": "Optional. Additional IP range for node placement. Required when enabling read replicas on an existing instance. For DIRECT_PEERING mode value must be a CIDR range of size /28, or \"auto\". For PRIVATE_SERVICE_ACCESS mode value must be the name of an allocated address range associated with the private service access connection, or \"auto\".",
          "type": "string"
        },
        "name": {
          "description": "Required. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` Note: Redis instances are managed and addressed at regional level so location_id here refers to a GCP region; however, users may choose which specific zone (or collection of zones for cross-zone instances) an instance should be provisioned in. Refer to location_id and alternative_location_id fields for more details.",
          "type": "string"
        },
        "redisConfigs": {
          "description": "Optional. Redis configuration parameters, according to http://redis.io/topics/config. Currently, the only supported parameters are: Redis version 3.2 and newer: * maxmemory-policy * notify-keyspace-events Redis version 4.0 and newer: * activedefrag * lfu-decay-time * lfu-log-factor * maxmemory-gb Redis version 5.0 and newer: * stream-node-max-bytes * stream-node-max-entries",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the instance was created.",
          "type": "string",
          "readOnly": true
        },
        "tier": {
          "description": "Required. The service tier of the instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "BASIC tier: standalone instance",
            "STANDARD_HA tier: highly available primary/replica instances"
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "BASIC",
            "STANDARD_HA"
          ]
        },
        "reservedIpRange": {
          "description": "Optional. For DIRECT_PEERING mode, the CIDR range of internal addresses that are reserved for this instance. Range must be unique and non-overlapping with existing subnets in an authorized network. For PRIVATE_SERVICE_ACCESS mode, the name of one allocated IP address ranges associated with this private service access connection. If not provided, the service will choose an unused /29 block, for example, 10.0.0.0/29 or 192.168.0.0/29. For READ_REPLICAS_ENABLED the default block size is /28.",
          "type": "string"
        },
        "maintenanceSchedule": {
          "description": "Output only. Date and time of upcoming maintenance events which have been scheduled.",
          "readOnly": true,
          "$ref": "MaintenanceSchedule"
        },
        "readReplicasMode": {
          "enum": [
            "READ_REPLICAS_MODE_UNSPECIFIED",
            "READ_REPLICAS_DISABLED",
            "READ_REPLICAS_ENABLED"
          ],
          "description": "Optional. Read replicas mode for the instance. Defaults to READ_REPLICAS_DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "If not set, Memorystore Redis backend will default to READ_REPLICAS_DISABLED.",
            "If disabled, read endpoint will not be provided and the instance cannot scale up or down the number of replicas.",
            "If enabled, read endpoint will be provided and the instance can scale up and down the number of replicas. Not valid for basic tier."
          ]
        },
        "connectMode": {
          "description": "Optional. The network connect mode of the Redis instance. If not provided, the connect mode defaults to DIRECT_PEERING.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Connect via direct peering to the Memorystore for Redis hosted service.",
            "Connect your Memorystore for Redis instance using Private Service Access. Private services access provides an IP address range for multiple Google Cloud services, including Memorystore."
          ],
          "enum": [
            "CONNECT_MODE_UNSPECIFIED",
            "DIRECT_PEERING",
            "PRIVATE_SERVICE_ACCESS"
          ]
        },
        "authorizedNetwork": {
          "description": "Optional. The full name of the Google Compute Engine [network](https://cloud.google.com/vpc/docs/vpc) to which the instance is connected. If left unspecified, the `default` network will be used.",
          "type": "string"
        },
        "replicaCount": {
          "description": "Optional. The number of replica nodes. The valid range for the Standard Tier with read replicas enabled is [1-5] and defaults to 2. If read replicas are not enabled for a Standard Tier instance, the only valid value is 1 and the default is 1. The valid value for basic tier is 0 and the default is also 0.",
          "type": "integer",
          "format": "int32"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata",
          "type": "object"
        },
        "satisfiesPzs": {
          "description": "Optional. Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "serverCaCerts": {
          "description": "Output only. List of server CA certificates for the instance.",
[...]
