{
  "ownerName": "Google",
  "revision": "20260415",
  "version": "v1",
  "protocol": "rest",
  "id": "saasservicemgmt:v1",
  "description": "Model, deploy, and operate your SaaS at scale. ",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "rootUrl": "https://saasservicemgmt.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://saasservicemgmt.mtls.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "SaaS Service Management",
  "kind": "discovery#restDescription",
  "name": "saasservicemgmt",
  "schemas": {
    "UnitCondition": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "reason": {
          "type": "string",
          "description": "Required. Brief reason for the condition's last transition."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ],
          "description": "Required. Status of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ]
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "Required. Last time the condition transited from one status to another.",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_UPDATING",
            "TYPE_PROVISIONED",
            "TYPE_OPERATION_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is updating.",
            "Condition type is provisioned.",
            "Condition type is operationError. True when the last unit operation fails with a non-ignorable error."
          ],
          "description": "Required. Type of the condition."
        }
      },
      "id": "UnitCondition",
      "description": "UnitCondition describes the status of an Unit. UnitCondition is individual components that contribute to an overall state."
    },
    "Location": {
      "id": "Location",
      "description": "Location information that the service is available in.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of location."
        }
      }
    },
    "Rollout": {
      "id": "Rollout",
      "description": "Represents a single rollout execution and its results",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "ROLLOUT_STATE_RUNNING",
            "ROLLOUT_STATE_PAUSED",
            "ROLLOUT_STATE_SUCCEEDED",
            "ROLLOUT_STATE_FAILED",
            "ROLLOUT_STATE_CANCELLED",
            "ROLLOUT_STATE_WAITING",
            "ROLLOUT_STATE_CANCELLING",
            "ROLLOUT_STATE_RESUMING",
            "ROLLOUT_STATE_PAUSING"
          ],
          "readOnly": true,
          "description": "Output only. Current state of the rollout.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Rollout is in progress.",
            "Rollout has been paused.",
            "Rollout completed successfully.",
            "Rollout has failed.",
            "Rollout has been canceled.",
            "Rollout is waiting for some condition to be met before starting.",
            "Rollout is being canceled.",
            "Rollout is being resumed.",
            "Rollout is being paused."
          ]
        },
        "parentRollout": {
          "description": "Optional. Output only. The direct parent rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\"",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "flagRelease": {
          "description": "Optional. Immutable. Name of the FlagRelease to be rolled out to the target Units. Release and FlagRelease are mutually exclusive. Note: `release` comment needs to be adjusted to mention that \"Release and FlagRelease are mutually exclusive\" when visibility restriction will be lifted.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollout/{rollout_id}\"",
          "type": "string"
        },
        "release": {
          "description": "Optional. Immutable. Name of the Release that gets rolled out to target Units. Required if no other type of release is specified.",
          "type": "string"
        },
        "rootRollout": {
          "type": "string",
          "description": "Optional. Output only. The root rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\"",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "effectiveUnitFilter": {
          "readOnly": true,
          "description": "Optional. Output only. Output only snapshot of the effective unit filter at Rollout start time. Contains a CEL(https://github.com/google/cel-spec) expression consisting of a conjunction of Rollout.unit_filter and RolloutKind.unit_filter. This field captures the filter applied by the Rollout to determine the Unit population. If the associated RolloutKind's unit_filter is modified after the rollout is started, it will not be updated here.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "format": "google-datetime"
        },
        "rolloutKind": {
          "type": "string",
          "description": "Required. Immutable. Name of the RolloutKind this rollout is stemming from and adhering to."
        },
        "endTime": {
          "type": "string",
          "description": "Optional. Output only. The time when the rollout finished execution (regardless of success, failure, or cancellation). Will be empty if the rollout hasn't finished yet. Once set, the rollout is in terminal state and all the results are final.",
          "format": "google-datetime",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The time when the rollout started executing. Will be empty if the rollout hasn't started yet.",
          "format": "google-datetime"
        },
        "stats": {
          "description": "Optional. Output only. Details about the progress of the rollout.",
          "$ref": "RolloutStats",
          "readOnly": true
        },
        "control": {
          "description": "Optional. Requested change to the execution of this rollout. Default RolloutControl.action is ROLLOUT_ACTION_RUN meaning the rollout will be executed to completion while progressing through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). Requests can only be made when the Rollout is in a non-terminal state.",
          "$ref": "RolloutControl"
        },
        "unitFilter": {
          "type": "string",
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout. If not provided, the unit_filter from the RolloutKind will be used."
        },
        "stateMessage": {
          "readOnly": true,
          "description": "Output only. Human readable message indicating details about the last state transition.",
          "type": "string"
        },
        "stateTransitionTime": {
          "type": "string",
          "description": "Optional. Output only. The time when the rollout transitioned into its current state.",
          "format": "google-datetime",
          "readOnly": true
        },
        "rolloutOrchestrationStrategy": {
          "description": "Optional. The strategy used for executing this Rollout. This strategy will override whatever strategy is specified in the RolloutKind. If not specified on creation, the strategy from RolloutKind will be used. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the targeted UnitKind's Saas Locations.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "ListUnitKindsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnitKinds call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unitKinds": {
          "description": "The resulting unit kinds.",
          "type": "array",
          "items": {
            "$ref": "UnitKind"
          }
        }
      },
      "id": "ListUnitKindsResponse",
      "description": "The response structure for the ListUnitKinds method."
    },
    "ErrorBudget": {
      "type": "object",
      "properties": {
        "allowedCount": {
          "type": "integer",
          "description": "Optional. The maximum number of failed units allowed in a location without pausing the rollout.",
          "format": "int32"
        },
        "allowedPercentage": {
          "type": "integer",
          "description": "Optional. The maximum percentage of units allowed to fail (0, 100] within a location without pausing the rollout.",
          "format": "int32"
        }
      },
      "id": "ErrorBudget",
      "description": "The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused."
    },
    "RunRolloutActionParams": {
      "id": "RunRolloutActionParams",
      "description": "Parameters for the RUN action controlling the behavior of the rollout when it is resumed from a PAUSED state.",
      "type": "object",
      "properties": {
        "retryFailedOperations": {
          "type": "boolean",
          "description": "Required. If true, the rollout will retry failed operations when resumed. This is applicable only the current state of the Rollout is PAUSED and the requested action is RUN."
        }
      }
    },
    "Release": {
      "type": "object",
      "properties": {
        "inputVariableDefaults": {
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Mapping of input variables to default values. Maximum 100"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "blueprint": {
          "description": "Optional. Blueprints are OCI Images that contain all of the artifacts needed to provision a unit.",
          "$ref": "Blueprint"
        },
        "releaseRequirements": {
          "description": "Optional. Set of requirements to be fulfilled on the Unit when using this Release.",
          "$ref": "ReleaseRequirements"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. Reference to the UnitKind this Release corresponds to (required and immutable once created)."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/releases/{release}\""
        },
        "outputVariables": {
          "description": "Optional. Output only. List of output variables declared on the blueprint and can be present with their values on the unit status",
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "inputVariables": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Output only. List of input variables declared on the blueprint and can be present with their values on the unit spec"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Release",
      "description": "A new version to be propagated and deployed to units. This includes pointers to packaged blueprints for actuation (e.g Helm or Terraform configuration packages) via artifact registry."
    },
    "RolloutControl": {
      "id": "RolloutControl",
      "description": "RolloutControl provides a way to request a change to the execution of a Rollout by pausing or canceling it.",
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified action, will be treated as RUN by default.",
            "Run the Rollout until it naturally reaches a terminal state. A rollout requested to run will progress through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). If retriable errors are encountered during the rollout, the rollout will paused by default and can be resumed by re-requesting this RUN action.",
            "Pause the Rollout until it is resumed (i.e. RUN is requested).",
            "Cancel the Rollout permanently."
          ],
          "description": "Required. Action to be performed on the Rollout. The default behavior is to run the rollout until it naturally reaches a terminal state.",
          "enum": [
            "ROLLOUT_ACTION_UNSPECIFIED",
            "ROLLOUT_ACTION_RUN",
            "ROLLOUT_ACTION_PAUSE",
            "ROLLOUT_ACTION_CANCEL"
          ]
        },
        "runParams": {
          "description": "Optional. Parameters for the RUN action. It is an error to specify this if the RolloutAction is not set to RUN. By default, the rollout will retry failed operations when resumed.",
          "$ref": "RunRolloutActionParams"
        }
      }
    },
    "ToMapping": {
      "type": "object",
      "properties": {
        "inputVariable": {
          "type": "string",
          "description": "Required. Name of the inputVariable on the dependency"
        },
        "ignoreForLookup": {
          "description": "Optional. Tells App Lifecycle Manager if this mapping should be used during lookup or not",
          "type": "boolean"
        },
        "dependency": {
          "type": "string",
          "description": "Required. Alias of the dependency that the inputVariable will pass its value to"
        }
      },
      "id": "ToMapping",
      "description": "Input variables whose values will be passed on to dependencies"
    },
    "Blueprint": {
      "id": "Blueprint",
      "description": "Blueprints are OCI Images that contain all of the artifacts needed to provision a unit. Metadata such as, type of the engine used to actuate the blueprint (e.g. terraform, helm etc) and version will come from the image manifest. If the hostname is omitted, it will be assumed to be the regional path to Artifact Registry (eg. us-east1-docker.pkg.dev).",
      "type": "object",
      "properties": {
        "package": {
          "type": "string",
          "description": "Optional. Immutable. URI to a blueprint used by the Unit (required unless unitKind or release is set)."
        },
        "engine": {
          "description": "Output only. Type of the engine used to actuate the blueprint. e.g. terraform, helm etc.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "description": "Output only. Version metadata if present on the blueprint.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "VariableMapping": {
      "type": "object",
      "properties": {
        "to": {
          "description": "Optional. Input variables whose values will be passed on to dependencies.",
          "$ref": "ToMapping"
        },
        "from": {
          "description": "Optional. Output variables which will get their values from dependencies",
          "$ref": "FromMapping"
        },
        "variable": {
          "type": "string",
          "description": "Required. name of the variable"
        }
      },
      "id": "VariableMapping",
      "description": "Mapping of input variables to their respective output variable for depedenencies"
    },
    "FromMapping": {
      "id": "FromMapping",
      "description": "Output variables whose values will be passed on to dependencies",
      "type": "object",
      "properties": {
        "outputVariable": {
          "type": "string",
          "description": "Required. Name of the outputVariable on the dependency"
        },
        "dependency": {
          "description": "Required. Alias of the dependency that the outputVariable will pass its value to",
          "type": "string"
        }
      }
    },
    "Provision": {
      "type": "object",
      "properties": {
        "release": {
          "type": "string",
          "description": "Optional. Reference to the Release object to use for the Unit. (optional)."
        },
        "inputVariables": {
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Set of input variables. Maximum 100. (optional)"
        }
      },
      "id": "Provision",
      "description": "Provision is the unit operation that provision the underlying resources represented by a Unit. Can only execute if the Unit is not currently provisioned."
    },
    "RolloutStats": {
      "id": "RolloutStats",
      "description": "RolloutStats contains information about the progress of a rollout.",
      "type": "object",
      "properties": {
        "operationsByState": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Aggregate"
          },
          "description": "Optional. Output only. Unordered list. A breakdown of the progress of operations triggered by the rollout. Provides a count of Operations by their state. This can be used to determine the number of units which have been updated, or are scheduled to be updated. There will be at most one entry per group. Possible values for operation groups are: - \"SCHEDULED\" - \"PENDING\" - \"RUNNING\" - \"SUCCEEDED\" - \"FAILED\" - \"CANCELLED\""
        },
        "estimatedTotalUnitCount": {
          "readOnly": true,
          "description": "Optional. Output only. Estimated number of units based. The estimation is computed upon creation of the rollout.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SaasCondition": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "reason": {
          "description": "Required. Brief reason for the condition's last transition.",
          "type": "string"
        },
        "status": {
          "description": "Required. Status of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ]
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_SYNCHRONIZED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is synchronized."
          ],
          "description": "Required. Type of the condition."
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "Required. Last time the condition transited from one status to another.",
          "format": "google-datetime"
        }
      },
      "id": "SaasCondition",
      "description": "SaasCondition describes the status of a Saas."
    },
    "UnitDependency": {
      "type": "object",
      "properties": {
        "alias": {
          "description": "Output only. Alias for the name of the dependency.",
          "type": "string",
          "readOnly": true
        },
        "unit": {
          "readOnly": true,
          "description": "Output only. A reference to the Unit object.",
          "type": "string"
        }
      },
      "id": "UnitDependency",
      "description": "Set of dependencies for this unit. Maximum 10."
    },
    "ListReleasesResponse": {
      "id": "ListReleasesResponse",
      "description": "The response structure for the ListReleases method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListReleases call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "releases": {
          "description": "The resulting releases.",
          "type": "array",
          "items": {
            "$ref": "Release"
          }
        }
      }
    },
    "ReleaseRequirements": {
      "id": "ReleaseRequirements",
      "description": "Set of requirements to be fulfilled on the Unit when using this Release.",
      "type": "object",
      "properties": {
        "upgradeableFromReleases": {
          "description": "Optional. A list of releases from which a unit can be upgraded to this one (optional). If left empty no constraints will be applied. When provided, unit upgrade requests to this release will check and enforce this constraint.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Aggregate": {
      "type": "object",
      "properties": {
        "count": {
          "description": "Required. Number of records in the group.",
          "format": "int32",
          "type": "integer"
        },
        "group": {
          "description": "Required. Group by which to aggregate.",
          "type": "string"
        }
      },
      "id": "Aggregate",
      "description": "Represents the aggregation of a set of population of like records by a certain group. For example, a collection of unit counts can be aggregated and grouped by their state."
    },
    "MaintenanceSettings": {
      "id": "MaintenanceSettings",
      "description": "Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future.",
      "type": "object",
      "properties": {
        "pinnedUntilTime": {
          "description": "Optional. If present, it fixes the release on the unit until the given time; i.e. changes to the release field will be rejected. Rollouts should and will also respect this by not requesting an upgrade in the first place.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Upgrade": {
      "id": "Upgrade",
      "description": "Upgrade is the unit operation that upgrades a provisioned unit, which may also include the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned.",
      "type": "object",
      "properties": {
        "inputVariables": {
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "release": {
          "description": "Optional. Reference to the Release object to use for the Unit. (optional).",
          "type": "string"
        }
      }
    },
    "UnitKind": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "saas": {
          "type": "string",
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model. Immutable once set."
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitKinds/{unitKind}\""
        },
        "inputVariableMappings": {
          "description": "Optional. List of inputVariables for this release that will either be retrieved from a dependency’s outputVariables, or will be passed on to a dependency’s inputVariables. Maximum 100.",
          "type": "array",
          "items": {
            "$ref": "VariableMapping"
          }
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "Dependency"
          },
          "description": "Optional. Immutable. List of other unit kinds that this release will depend on. Dependencies will be automatically provisioned if not found. Maximum 10."
        },
        "outputVariableMappings": {
          "type": "array",
          "items": {
            "$ref": "VariableMapping"
          },
          "description": "Optional. List of outputVariables for this unit kind will be passed to this unit's outputVariables. Maximum 100."
        },
        "defaultRelease": {
          "type": "string",
          "description": "Optional. A reference to the Release object to use as default for creating new units of this UnitKind (optional). If not specified, a new unit must explicitly reference which release to use for its creation."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "defaultFlagRevisions": {
          "description": "Optional. Default revisions of flags for this UnitKind. Newly created units will use the flag default_flag_revisions present at the time of creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UnitKind",
      "description": "Definition of a Unit. Units belonging to the same UnitKind are managed together; for example they follow the same release model (blueprints, versions etc.) and are typically rolled out together."
    },
    "ListRolloutKindsResponse": {
      "type": "object",
      "properties": {
        "rolloutKinds": {
          "type": "array",
          "items": {
            "$ref": "RolloutKind"
          },
          "description": "The resulting rollout kinds."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListRolloutKinds call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListRolloutKindsResponse",
      "description": "The response structure for the ListRolloutKinds method."
    },
    "Dependency": {
      "id": "Dependency",
      "description": "Dependency represent a single dependency with another unit kind by alias.",
      "type": "object",
      "properties": {
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. The unit kind of the dependency."
        },
        "alias": {
          "type": "string",
          "description": "Required. An alias for the dependency. Used for input variable mapping."
        }
      }
    },
    "UnitOperationCondition": {
      "id": "UnitOperationCondition",
      "description": "UnitOperationCondition describes the status of an Unit Operation. UnitOperationCondition is individual components that contribute to an overall state.",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "description": "Required. Status of the condition.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ]
        },
        "message": {
          "description": "Required. Human readable message indicating details about the last transition.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Required. Brief reason for the condition's last transition."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_SCHEDULED",
            "TYPE_RUNNING",
            "TYPE_SUCCEEDED",
            "TYPE_CANCELLED",
            "TYPE_APP_CREATED",
            "TYPE_APP_COMPONENTS_REGISTERED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is scheduled.",
            "Condition type is running.",
            "Condition type is succeeded.",
            "Condition type is cancelled.",
            "Indicates if AppHub app has been created.",
            "Indicates if services and workloads have been registered with AppHub."
          ],
          "description": "Required. Type of the condition."
        },
        "lastTransitionTime": {
          "description": "Required. Last time the condition transited from one status to another.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      },
      "id": "GoogleCloudLocationLocation",
      "description": "A resource that represents a Google Cloud location."
    },
    "UnitOperation": {
      "type": "object",
      "properties": {
        "engineState": {
          "readOnly": true,
          "description": "Optional. Output only. The engine state for on-going deployment engine operation(s). This field is opaque for external usage.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "format": "google-datetime"
        },
        "conditions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UnitOperationCondition"
          },
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have."
        },
        "parentUnitOperation": {
          "description": "Optional. Reference to parent resource: UnitOperation. If an operation needs to create other operations as part of its workflow, each of the child operations should have this field set to the parent. This can be used for tracing. (Optional)",
          "type": "string"
        },
        "errorCategory": {
          "readOnly": true,
          "description": "Optional. Output only. UnitOperationErrorCategory describe the error category.",
          "type": "string",
          "enumDescriptions": [
            "Unit operation error category is unspecified",
            "Unit operation error category is not applicable, or it is not an error",
            "Unit operation error category is fatal",
            "Unit operation error category is retriable",
            "Unit operation error category is ignorable",
            "Unit operation error category is standard, counts towards Rollout error budget"
          ],
          "enum": [
            "UNIT_OPERATION_ERROR_CATEGORY_UNSPECIFIED",
            "NOT_APPLICABLE",
            "FATAL",
            "RETRIABLE",
            "IGNORABLE",
            "STANDARD"
          ]
        },
        "upgrade": {
          "$ref": "Upgrade"
        },
        "unit": {
          "type": "string",
          "description": "Required. Immutable. The Unit a given UnitOperation will act upon."
        },
        "schedule": {
          "description": "Optional. When to schedule this operation.",
          "$ref": "Schedule"
        },
        "rollout": {
          "type": "string",
          "description": "Optional. Specifies which rollout created this Unit Operation. This cannot be modified and is used for filtering purposes only. If a dependent unit and unit operation are created as part of another unit operation, they will use the same rolloutId."
        },
        "cancel": {
          "type": "boolean",
          "description": "Optional. When true, attempt to cancel the operation. Cancellation may fail if the operation is already executing. (Optional)"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Unit operation is accepted but not ready to run.",
            "Unit operation is accepted and scheduled.",
            "Unit operation is running.",
            "Unit operation has completed successfully.",
            "Unit operation has failed.",
            "Unit operation was cancelled."
          ],
          "description": "Optional. Output only. UnitOperationState describes the current state of the unit operation.",
          "readOnly": true,
          "enum": [
            "UNIT_OPERATION_STATE_UNKNOWN",
            "UNIT_OPERATION_STATE_PENDING",
            "UNIT_OPERATION_STATE_SCHEDULED",
            "UNIT_OPERATION_STATE_RUNNING",
            "UNIT_OPERATION_STATE_SUCCEEDED",
            "UNIT_OPERATION_STATE_FAILED",
            "UNIT_OPERATION_STATE_CANCELLED"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "provision": {
          "$ref": "Provision"
        },
        "deprovision": {
          "$ref": "Deprovision"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitOperations/{unitOperation}\"",
          "type": "string"
        },
        "flagUpdate": {
          "$ref": "FlagUpdate"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        }
      },
      "id": "UnitOperation",
      "description": "UnitOperation encapsulates the intent of changing/interacting with the service component represented by the specific Unit. Multiple UnitOperations can be created (requested) and scheduled in the future, however only one will be allowed to execute at a time (that can change in the future for non-mutating operations). UnitOperations allow different actors interacting with the same unit to focus only on the change they have requested. This is a base object that contains the common fields in all unit operations. Next: 22"
    },
    "Tenant": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/tenants/{tenant}\"",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string"
        },
        "saas": {
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model.",
          "type": "string"
        },
        "consumerResource": {
          "description": "Optional. Immutable. A reference to the consumer resource this SaaS Tenant is representing. The relationship with a consumer resource can be used by App Lifecycle Manager for retrieving consumer-defined settings and policies such as maintenance policies (using Unified Maintenance Policy API).",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        }
      },
      "id": "Tenant",
      "description": "Tenant represents the service producer side of an instance of the service created based on a request from a consumer. In a typical scenario a Tenant has a one-to-one mapping with a resource given out to a service consumer. Example: tenant: name: \"projects/svc1/locations/loc/tenants/inst-068afff8\" consumer_resource: \"projects/gshoe/locations/loc/shoes/black-shoe\""
    },
    "UnitVariable": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "BOOL",
            "STRUCT",
            "LIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Variable type is unspecified.",
            "Variable type is string.",
            "Variable type is int.",
            "Variable type is bool.",
            "Variable type is struct.",
            "Variable type is list."
          ],
          "description": "Optional. Immutable. Name of a supported variable type. Supported types are string, int, bool."
        },
        "variable": {
          "type": "string",
          "description": "Required. Immutable. Name of the variable from actuation configs."
        },
        "value": {
          "description": "Optional. String encoded value for the variable.",
          "type": "string"
        }
      },
      "id": "UnitVariable",
      "description": "UnitVariable describes a parameter for a Unit."
    },
    "FlagUpdate": {
      "id": "FlagUpdate",
      "description": "FlagUpdate is a UnitOperation that pushes new flag values to Units.",
      "type": "object",
      "properties": {
        "flagRelease": {
          "description": "Required. Flag release being applied by UnitOperation.",
          "type": "string"
        }
      }
    },
    "Deprovision": {
      "type": "object",
      "properties": {},
      "id": "Deprovision",
      "description": "Deprovision is the unit operation that deprovision the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned."
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "description": "The response structure for the ListRollouts method.",
      "type": "object",
      "properties": {
        "rollouts": {
          "description": "The resulting rollouts.",
          "type": "array",
          "items": {
            "$ref": "Rollout"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListRollouts call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "Schedule": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Start of operation. If not set, will be set to the start of the next window. (optional)",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Schedule",
      "description": "A time specification to schedule the maintenance."
    },
    "Unit": {
      "type": "object",
      "properties": {
        "tenant": {
          "type": "string",
          "description": "Optional. Reference to the Saas Tenant resource this unit belongs to. This for example informs the maintenance policies to use for scheduling future updates on a unit. (optional and immutable once created)"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Indicates whether the resource location satisfies Zone Separation constraints. This is false by default.",
          "readOnly": true
        },
        "flagRevisions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. Flag revisions used by this Unit."
        },
        "release": {
          "readOnly": true,
          "description": "Optional. Output only. The current Release object for this Unit.",
          "type": "string"
        },
        "systemCleanupAt": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. If set, indicates the time when the system will start removing the unit.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/units/{unit}\""
        },
        "outputVariables": {
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Output only. Set of key/value pairs corresponding to output variables from execution of actuation templates. The variables are declared in actuation configs (e.g in helm chart or terraform) and the values are fetched and returned by the actuation engine upon completion of execution.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "dependencies": {
          "description": "Optional. Output only. Set of dependencies for this unit. Maximum 10.",
          "type": "array",
          "items": {
            "$ref": "UnitDependency"
          },
          "readOnly": true
        },
        "conditions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UnitCondition"
          },
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have."
        },
        "pendingOperations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. List of pending (wait to be executed) UnitOperations for this unit."
        },
        "maintenance": {
          "description": "Optional. Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future.",
          "$ref": "MaintenanceSettings"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "systemManagedState": {
          "enum": [
            "SYSTEM_MANAGED_STATE_UNSPECIFIED",
            "SYSTEM_MANAGED_STATE_ACTIVE",
            "SYSTEM_MANAGED_STATE_INACTIVE",
            "SYSTEM_MANAGED_STATE_DECOMMISSIONED"
          ],
          "readOnly": true,
          "description": "Optional. Output only. Indicates the system managed state of the unit.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Unit has dependents attached.",
            "Unit has no dependencies attached, but attachment is allowed.",
            "Unit has no dependencies attached, and attachment is not allowed."
          ]
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "unitKind": {
          "description": "Optional. Reference to the UnitKind this Unit belongs to. Immutable once set.",
          "type": "string"
        },
        "ongoingOperations": {
          "description": "Optional. Output only. List of concurrent UnitOperations that are operating on this Unit.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "managementMode": {
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "MANAGEMENT_MODE_USER",
            "MANAGEMENT_MODE_SYSTEM"
          ],
          "description": "Optional. Immutable. Indicates whether the Unit life cycle is controlled by the user or by the system. Immutable once created.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Unit's lifecycle is managed by the user.",
            "The system will decide when to deprovision and delete the unit. User still can deprovision or delete the unit manually."
          ]
        },
        "dependents": {
          "type": "array",
          "items": {
            "$ref": "UnitDependency"
          },
          "description": "Optional. Output only. List of Units that depend on this unit. Unit can only be deprovisioned if this list is empty. Maximum 1000.",
          "readOnly": true
        },
        "inputVariables": {
          "description": "Optional. Output only. Indicates the current input variables deployed by the unit",
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "readOnly": true
        },
        "scheduledOperations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. List of scheduled UnitOperations for this unit."
        },
        "state": {
          "enum": [
            "UNIT_STATE_UNSPECIFIED",
            "UNIT_STATE_NOT_PROVISIONED",
            "UNIT_STATE_PROVISIONING",
            "UNIT_STATE_UPDATING",
            "UNIT_STATE_DEPROVISIONING",
            "UNIT_STATE_READY",
            "UNIT_STATE_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Unit is not provisioned.",
            "Unit is being provisioned.",
            "Unit is being updated. This is typically when a unit is being upgraded to a new release or some of the input variables on the Unit is being changed. Certain kinds of updates may cause the Unit to become unusable while the update is in progress.",
            "Unit is being deleted.",
            "Unit has been provisioned and is ready for use",
            "Unit has error, when it is not ready and some error operation"
          ],
          "description": "Optional. Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "readOnly": true
        }
      },
      "id": "Unit",
      "description": "A unit of deployment that has its lifecycle via a CRUD API using an actuation engine under the hood (e.g. based on Terraform, Helm or a custom implementation provided by a service producer). A building block of a SaaS Tenant."
    },
    "RolloutKind": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "errorBudget": {
          "description": "Optional. The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused. If not set, all units will be attempted to be updated regardless of the number of failures encountered.",
          "$ref": "ErrorBudget"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rolloutOrchestrationStrategy": {
          "type": "string",
          "description": "Optional. The strategy used for executing a Rollout. This is a required field. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the associated UnitKind's Saas Locations."
        },
        "updateUnitKindStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Strategy unspecified.",
            "Update the unit kind strategy on the rollout start.",
            "Never update the unit kind."
          ],
          "description": "Optional. The config for updating the unit kind. By default, the unit kind will be updated on the rollout start.",
          "enum": [
            "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED",
            "UPDATE_UNIT_KIND_STRATEGY_ON_START",
            "UPDATE_UNIT_KIND_STRATEGY_NEVER"
          ]
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "unitFilter": {
          "type": "string",
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout."
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rolloutKinds/{rollout_kind_id}\""
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. UnitKind that this rollout kind corresponds to. Rollouts stemming from this rollout kind will target the units of this unit kind. In other words, this defines the population of target units to be upgraded by rollouts."
        }
      },
      "id": "RolloutKind",
      "description": "An object that describes various settings of Rollout execution. Includes built-in policies across GCP and GDC, and customizable policies."
    },
    "ListUnitOperationsResponse": {
      "id": "ListUnitOperationsResponse",
      "description": "The response structure for the ListUnitOperations method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitOperations call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unitOperations": {
          "description": "The resulting unit operations.",
          "type": "array",
          "items": {
            "$ref": "UnitOperation"
          }
        }
      }
    },
    "ListTenantsResponse": {
      "id": "ListTenantsResponse",
      "description": "The response structure for the ListTenants method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListTenants call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "tenants": {
          "type": "array",
          "items": {
            "$ref": "Tenant"
          },
          "description": "The resulting tenants."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListUnitsResponse": {
      "id": "ListUnitsResponse",
      "description": "The response structure for the ListUnits method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnits call to list the next page. If empty, there are no more pages."
        },
        "units": {
          "description": "The resulting units.",
          "type": "array",
          "items": {
            "$ref": "Unit"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListSaasResponse": {
      "type": "object",
      "properties": {
        "saas": {
          "description": "The resulting saas.",
          "type": "array",
          "items": {
            "$ref": "Saas"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListSaas call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListSaasResponse",
      "description": "The response structure for the ListSaas method."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "Saas": {
      "id": "Saas",
      "description": "Saas is a representation of a SaaS service managed by the Producer.",
      "type": "object",
      "properties": {
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\"",
          "type": "string"
        },
        "error": {
          "description": "Output only. If the state is FAILED, the corresponding error code and message. Defaults to code=OK for all other states.",
          "$ref": "Status",
          "readOnly": true
        },
        "locations": {
          "description": "Optional. List of locations that the service is available in. Rollout refers to the list to generate a rollout plan.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "conditions": {
          "readOnly": true,
          "description": "Output only. A set of conditions which indicate the various conditions this resource can have.",
          "type": "array",
          "items": {
            "$ref": "SaasCondition"
          }
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State type is unspecified.",
            "The Saas is ready",
            "In the process of importing, synchronizing or replicating ApplicationTemplates",
            "Failure during process of importing, synchronizing or replicating ApplicationTemplate processing",
            "Deprecated: Use STATE_ACTIVE.",
            "Deprecated: Use STATE_RUNNING.",
            "Deprecated: Use STATE_FAILED."
          ],
          "description": "Output only. State of the Saas. It is always in ACTIVE state if the application_template is empty.",
          "enum": [
            "STATE_TYPE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_RUNNING",
            "STATE_FAILED",
            "ACTIVE",
            "RUNNING",
            "FAILED"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "saasservicemgmt.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage."
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "saasservicemgmt.projects.locations.get"
            }
          },
          "resources": {
            "unitOperations": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations",
                  "id": "saasservicemgmt.projects.locations.unitOperations.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent of the unit operation.",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Order results as specified in https://google.aip.dev/132.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter the list as specified in https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of unit operations to send per page.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "description": "Retrieve a collection of unit operations.",
                  "response": {
                    "$ref": "ListUnitOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/unitOperations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UnitOperation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the resource within a service.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitOperations/[^/]+$"
                    }
                  },
                  "description": "Retrieve a single unit operation.",
                  "id": "saasservicemgmt.projects.locations.unitOperations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations/{unitOperationsId}"
                },
                "patch": {
                  "id": "saasservicemgmt.projects.locations.unitOperations.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations/{unitOperationsId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UnitOperation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitOperations/[^/]+$",
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitOperations/{unitOperation}\"",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Field mask is used to specify the fields to be overwritten in the UnitOperation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the UnitOperation will be overwritten.",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Update a single unit operation.",
                  "response": {
                    "$ref": "UnitOperation"
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations/{unitOperationsId}",
                  "id": "saasservicemgmt.projects.locations.unitOperations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "etag": {
                      "description": "The etag known to the client for the expected state of the unit operation. This is used with state-changing methods to prevent accidental overwrites when multiple user agents might be acting in parallel on the same resource. An etag wildcard provide optimistic concurrency based on the expected existence of the unit operation. The Any wildcard (`*`) requires that the resource must already exists, and the Not Any wildcard (`!*`) requires that it must not.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitOperations/[^/]+$",
                      "description": "Required. The resource name of the resource within a service.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Delete a single unit operation.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameters": {
                    "unitOperationId": {
                      "location": "query",
                      "description": "Required. The ID value for the new unit operation.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent of the unit operation.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "description": "Create a new unit operation.",
                  "response": {
                    "$ref": "UnitOperation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/unitOperations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "UnitOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations",
                  "id": "saasservicemgmt.projects.locations.unitOperations.create"
                }
              }
            },
            "rollouts": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rollouts/{rolloutsId}",
                  "id": "saasservicemgmt.projects.locations.rollouts.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the resource within a service.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/rollouts/[^/]+$"
                    }
                  },
                  "description": "Retrieve a single rollout.",
                  "response": {
                    "$ref": "Rollout"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "Rollout"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Rollout"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Field mask is used to specify the fields to be overwritten in the Rollout resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the Rollout will be overwritten.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollout/{rollout_id}\"",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/rollouts/[^/]+$"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "type": "boolean"
                    }
                  },
                  "description": "Update a single rollout.",
                  "id": "saasservicemgmt.projects.locations.rollouts.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rollouts/{rolloutsId}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the resource within a service.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/rollouts/[^/]+$"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
[...]
