{
  "basePath": "",
  "discoveryVersion": "v1",
  "id": "sasportal:v1alpha1",
  "ownerDomain": "google.com",
  "version_module": true,
  "rootUrl": "https://sasportal.googleapis.com/",
  "title": "SAS Portal API",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "batchPath": "batch",
  "mtlsRootUrl": "https://sasportal.mtls.googleapis.com/",
  "version": "v1alpha1",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "revision": "20260503",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        }
      }
    }
  },
  "schemas": {
    "SasPortalDeploymentAssociation": {
      "properties": {
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "GCP project id of the associated project.",
          "type": "string"
        }
      },
      "id": "SasPortalDeploymentAssociation",
      "description": "Association between a gcp project and a SAS user id.",
      "type": "object"
    },
    "SasPortalListNodesResponse": {
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "SasPortalNode"
          },
          "description": "The nodes that match the request."
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        }
      },
      "id": "SasPortalListNodesResponse",
      "description": "Response for ListNodes.",
      "type": "object"
    },
    "SasPortalMigrateOrganizationMetadata": {
      "id": "SasPortalMigrateOrganizationMetadata",
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "properties": {
        "operationState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "description": "Output only. Current operation state"
        }
      },
      "type": "object"
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "type": "object",
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsResponse",
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc."
    },
    "SasPortalFrequencyRange": {
      "id": "SasPortalFrequencyRange",
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "properties": {
        "lowFrequencyMhz": {
          "type": "number",
          "format": "double",
          "description": "The lowest frequency of the frequency range in MHz."
        },
        "highFrequencyMhz": {
          "description": "The highest frequency of the frequency range in MHz.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "SasPortalListCustomersResponse": {
      "id": "SasPortalListCustomersResponse",
      "description": "Response for `ListCustomers`.",
      "properties": {
        "customers": {
          "description": "The list of customers that match the request.",
          "items": {
            "$ref": "SasPortalCustomer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalTestPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A set of permissions that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SasPortalTestPermissionsResponse",
      "description": "Response message for `TestPermissions` method.",
      "type": "object"
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "properties": {
        "userId": {
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional",
          "type": "string"
        }
      },
      "id": "SasPortalSetupSasAnalyticsRequest",
      "description": "Request for the SetupSasAnalytics rpc.",
      "type": "object"
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsMetadata",
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object"
    },
    "SasPortalDeviceMetadata": {
      "type": "object",
      "id": "SasPortalDeviceMetadata",
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "properties": {
        "nrqzValidation": {
          "readOnly": true,
          "description": "Output only. National Radio Quiet Zone validation info.",
          "$ref": "SasPortalNrqzValidation"
        },
        "commonChannelGroup": {
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "nrqzValidated": {
          "type": "boolean",
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "readOnly": true,
          "deprecated": true
        },
        "antennaModel": {
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`",
          "type": "string"
        }
      }
    },
    "SasPortalTestPermissionsRequest": {
      "id": "SasPortalTestPermissionsRequest",
      "description": "Request message for `TestPermissions` method.",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`."
        }
      },
      "type": "object"
    },
    "SasPortalStatus": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "id": "SasPortalStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "SasPortalNrqzValidation": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Device latitude that's associated with the validation."
        },
        "longitude": {
          "description": "Device longitude that's associated with the validation.",
          "format": "double",
          "type": "number"
        },
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        },
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        },
        "state": {
          "description": "State of the NRQZ validation info.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ]
        }
      },
      "id": "SasPortalNrqzValidation",
      "description": "Information about National Radio Quiet Zone validation."
    },
    "SasPortalGetPolicyRequest": {
      "type": "object",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      },
      "id": "SasPortalGetPolicyRequest",
      "description": "Request message for `GetPolicy` method."
    },
    "SasPortalMigrateOrganizationResponse": {
      "id": "SasPortalMigrateOrganizationResponse",
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization].",
      "properties": {
        "deploymentAssociation": {
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist.",
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SasPortalProvisionDeploymentRequest": {
      "id": "SasPortalProvisionDeploymentRequest",
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "properties": {
        "organizationId": {
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id.",
          "format": "int64",
          "type": "string"
        },
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "id": "SasPortalListLegacyOrganizationsResponse",
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations].",
      "properties": {
        "organizations": {
          "description": "Optional. Legacy SAS organizations.",
          "items": {
            "$ref": "SasPortalOrganization"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SasPortalMoveDeploymentRequest": {
      "type": "object",
      "id": "SasPortalMoveDeploymentRequest",
      "description": "Request for MoveDeployment.",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      }
    },
    "SasPortalAssignment": {
      "type": "object",
      "id": "SasPortalAssignment",
      "description": "Associates `members` with a `role`.",
      "properties": {
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        },
        "members": {
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SasPortalNode": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SasPortalNode",
      "description": "The Node."
    },
    "SasPortalDeviceModel": {
      "properties": {
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        },
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        },
        "vendor": {
          "description": "The name of the device vendor.",
          "type": "string"
        }
      },
      "id": "SasPortalDeviceModel",
      "description": "Information about the model of the device.",
      "type": "object"
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "type": "object",
      "id": "SasPortalListGcpProjectDeploymentsResponse",
      "description": "Response for [ListGcpProjectDeployments].",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          },
          "description": "Optional. Deployments associated with the GCP project"
        }
      }
    },
    "SasPortalDeviceGrant": {
      "id": "SasPortalDeviceGrant",
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "description": "State of the grant."
        },
        "channelType": {
          "description": "Type of channel used.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "type": "string"
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        },
        "moveList": {
          "description": "The DPA move lists on which this grant appears.",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          },
          "type": "array"
        },
        "suspensionReason": {
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The expiration time of the grant.",
          "type": "string"
        },
        "lastHeartbeatTransmitExpireTime": {
          "type": "string",
          "description": "The transmit expiration time of the last heartbeat.",
          "format": "google-datetime"
        },
        "maxEirp": {
          "type": "number",
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "format": "double"
        },
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        }
      },
      "type": "object"
    },
    "SasPortalMoveNodeRequest": {
      "type": "object",
      "id": "SasPortalMoveNodeRequest",
      "description": "Request for MoveNode.",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      }
    },
    "SasPortalGenerateSecretResponse": {
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      },
      "id": "SasPortalGenerateSecretResponse",
      "description": "Response for GenerateSecret.",
      "type": "object"
    },
    "SasPortalDeployment": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID."
        },
        "frns": {
          "readOnly": true,
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name."
        }
      },
      "id": "SasPortalDeployment",
      "description": "The Deployment."
    },
    "SasPortalDeviceConfig": {
      "properties": {
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "installationParams": {
          "$ref": "SasPortalInstallationParams",
          "description": "Installation parameters for the device."
        },
        "isSigned": {
          "description": "Output only. Whether the configuration has been signed by a CPI.",
          "type": "boolean"
        },
        "category": {
          "description": "FCC category of the device.",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ],
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ],
          "type": "string"
        },
        "model": {
          "$ref": "SasPortalDeviceModel",
          "description": "Information about this device model."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "description": "State of the configuration."
        },
        "measurementCapabilities": {
          "description": "Measurement reporting capabilities of the device.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ]
          },
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the device configuration was edited.",
          "type": "string"
        },
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        }
      },
      "id": "SasPortalDeviceConfig",
      "description": "Information about the device configuration.",
      "type": "object"
    },
    "SasPortalInstallationParams": {
      "type": "object",
      "id": "SasPortalInstallationParams",
      "description": "Information about the device installation parameters.",
      "properties": {
        "longitude": {
          "format": "double",
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "type": "number"
        },
        "antennaDowntilt": {
          "type": "integer",
          "format": "int32",
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices."
        },
        "heightType": {
          "description": "Specifies how the height is measured.",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ],
          "type": "string"
        },
        "horizontalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator."
        },
        "antennaAzimuth": {
          "format": "int32",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer"
        },
        "height": {
          "format": "double",
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum.",
          "type": "number"
        },
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor.",
          "type": "boolean"
        },
        "antennaBeamwidth": {
          "type": "integer",
          "format": "int32",
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices."
        },
        "antennaModel": {
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets.",
          "type": "string"
        },
        "eirpCapability": {
          "type": "integer",
          "format": "int32",
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category."
        },
        "verticalAccuracy": {
          "type": "number",
          "format": "double",
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters."
        },
        "antennaGain": {
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value",
          "format": "double",
          "type": "number"
        },
        "cpeCbsdIndication": {
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not.",
          "type": "boolean"
        }
      }
    },
    "SasPortalDeviceAirInterface": {
      "properties": {
        "radioTechnology": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ],
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD."
        },
        "supportedSpec": {
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration.",
          "type": "string"
        }
      },
      "id": "SasPortalDeviceAirInterface",
      "description": "Information about the device's air interface.",
      "type": "object"
    },
    "SasPortalEmpty": {
      "properties": {},
      "id": "SasPortalEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "type": "object",
      "id": "SasPortalUpdateSignedDeviceRequest",
      "description": "Request for UpdateSignedDevice.",
      "properties": {
        "encodedDevice": {
          "type": "string",
          "format": "byte",
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set."
        },
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      }
    },
    "SasPortalOrganization": {
      "properties": {
        "displayName": {
          "description": "Name of organization",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Id of organization",
          "format": "int64"
        }
      },
      "id": "SasPortalOrganization",
      "description": "Organization details.",
      "type": "object"
    },
    "SasPortalListDevicesResponse": {
      "properties": {
        "devices": {
          "description": "The devices that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDevice"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        }
      },
      "id": "SasPortalListDevicesResponse",
      "description": "Response for ListDevices.",
      "type": "object"
    },
    "SasPortalDevice": {
      "properties": {
        "serialNumber": {
          "description": "A serial number assigned to the device by the device manufacturer.",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        },
        "currentChannels": {
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "type": "array",
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Current channels with scores."
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "displayName": {
          "description": "Device display name.",
          "type": "string"
        },
        "grantRangeAllowlists": {
          "description": "Only ranges that are within the allowlists are available for new grants.",
          "items": {
            "$ref": "SasPortalFrequencyRange"
          },
          "type": "array"
        },
        "grants": {
          "description": "Output only. Grants held by the device.",
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "type": "array"
        },
        "fccId": {
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them.",
          "type": "string"
        },
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Device state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ]
        }
      },
      "id": "SasPortalDevice",
      "type": "object"
    },
    "SasPortalGenerateSecretRequest": {
      "id": "SasPortalGenerateSecretRequest",
      "description": "Request for GenerateSecret.",
      "properties": {},
      "type": "object"
    },
    "SasPortalGcpProjectDeployment": {
      "type": "object",
      "id": "SasPortalGcpProjectDeployment",
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "properties": {
        "deployment": {
          "$ref": "SasPortalDeployment",
          "description": "Deployment associated with the GCP project."
        },
        "hasEnabledAnalytics": {
          "description": "Whether SAS analytics has been enabled.",
          "type": "boolean"
        }
      }
    },
    "SasPortalMoveDeviceRequest": {
      "id": "SasPortalMoveDeviceRequest",
      "description": "Request for MoveDevice.",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalSignDeviceRequest": {
      "type": "object",
      "id": "SasPortalSignDeviceRequest",
      "description": "Request for SignDevice.",
      "properties": {
        "device": {
          "$ref": "SasPortalDevice",
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set."
        }
      }
    },
    "SasPortalListDeploymentsResponse": {
      "id": "SasPortalListDeploymentsResponse",
      "description": "Response for ListDeployments.",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "SasPortalDeployment"
          },
          "type": "array",
          "description": "The deployments that match the request."
        }
      },
      "type": "object"
    },
    "SasPortalDpaMoveList": {
      "type": "object",
      "id": "SasPortalDpaMoveList",
      "description": "An entry in a DPA's move list.",
      "properties": {
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        },
        "frequencyRange": {
          "description": "The frequency range that the move list affects.",
          "$ref": "SasPortalFrequencyRange"
        }
      }
    },
    "SasPortalProvisionDeploymentResponse": {
      "properties": {
        "errorMessage": {
          "description": "Optional. Optional error message if the provisioning request is not successful.",
          "type": "string"
        }
      },
      "id": "SasPortalProvisionDeploymentResponse",
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "type": "object"
    },
    "SasPortalMigrateOrganizationRequest": {
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Required. Id of the SAS organization to be migrated.",
          "format": "int64"
        }
      },
      "id": "SasPortalMigrateOrganizationRequest",
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "type": "object"
    },
    "SasPortalCustomer": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the customer.",
          "type": "string"
        },
        "sasUserIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User IDs used by the devices belonging to this customer."
        },
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        }
      },
      "id": "SasPortalCustomer",
      "description": "Entity representing a SAS customer."
    },
    "SasPortalPolicy": {
      "type": "object",
      "properties": {
        "assignments": {
          "items": {
            "$ref": "SasPortalAssignment"
          },
          "type": "array",
          "description": "List of assignments"
        },
        "etag": {
          "type": "string",
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "format": "byte"
        }
      },
      "id": "SasPortalPolicy",
      "description": "Defines an access control policy to the resources."
    },
    "SasPortalChannelWithScore": {
      "type": "object",
      "properties": {
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range of the channel."
        },
        "score": {
          "type": "number",
          "description": "The channel score, normalized to be in the range [0,100].",
          "format": "double"
        }
      },
      "id": "SasPortalChannelWithScore",
      "description": "The channel with score."
    },
    "SasPortalValidateInstallerRequest": {
      "properties": {
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        },
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "id": "SasPortalValidateInstallerRequest",
      "description": "Request for ValidateInstaller.",
      "type": "object"
    },
    "SasPortalOperation": {
      "type": "object",
      "id": "SasPortalOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "SasPortalStatus"
        }
      }
    },
    "SasPortalValidateInstallerResponse": {
      "id": "SasPortalValidateInstallerResponse",
      "description": "Response for ValidateInstaller.",
      "properties": {},
      "type": "object"
    },
    "SasPortalSetPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        },
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        }
      },
      "id": "SasPortalSetPolicyRequest",
      "description": "Request message for `SetPolicy` method."
    },
    "SasPortalCreateSignedDeviceRequest": {
      "id": "SasPortalCreateSignedDeviceRequest",
      "description": "Request for CreateSignedDevice.",
      "properties": {
        "encodedDevice": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "format": "byte",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "deployments": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "id": "sasportal.deployments.get",
          "parameters": {
            "name": {
              "pattern": "^deployments/[^/]+$",
              "required": true,
              "description": "Required. The name of the deployment.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Returns a requested deployment."
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "id": "sasportal.deployments.devices.patch",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Output only. The resource path name."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates a device.",
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "updateSigned": {
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.deployments.devices.updateSigned",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates a signed device.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to update.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "id": "sasportal.deployments.devices.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a device."
            },
            "signDevice": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "id": "sasportal.deployments.devices.signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Signs a device.",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}",
              "id": "sasportal.deployments.devices.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Gets details about a device."
            },
            "move": {
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to move.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Moves a device under another node or customer.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:move",
              "id": "sasportal.deployments.devices.move",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              }
            }
          }
        }
      }
    },
    "installer": {
      "methods": {
        "generateSecret": {
          "flatPath": "v1alpha1/installer:generateSecret",
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          },
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Generates a secret to be used with the ValidateInstaller.",
          "parameterOrder": [],
          "path": "v1alpha1/installer:generateSecret",
          "id": "sasportal.installer.generateSecret",
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          }
        },
        "validate": {
          "id": "sasportal.installer.validate",
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          },
          "path": "v1alpha1/installer:validate",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Validates the identity of a Certified Professional Installer (CPI).",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1alpha1/installer:validate",
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          }
        }
      }
    },
    "nodes": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Returns a requested node.",
          "parameters": {
            "name": {
              "description": "Required. The name of the node.",
              "pattern": "^nodes/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "sasportal.nodes.get",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/nodes/{nodesId}",
          "response": {
            "$ref": "SasPortalNode"
          },
          "httpMethod": "GET"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "createSigned": {
              "httpMethod": "POST",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices:createSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.nodes.devices.createSigned",
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a signed device under a node or customer.",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "updateSigned": {
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:updateSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.nodes.devices.updateSigned",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates a signed device.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device to update.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true
                }
              }
            },
            "patch": {
              "id": "sasportal.nodes.devices.patch",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates a device.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Output only. The resource path name."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated."
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "signDevice": {
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Output only. The resource path name."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Signs a device.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "id": "sasportal.nodes.devices.signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              }
            },
            "list": {
              "parameters": {
                "filter": {
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the parent resource."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Lists devices under a node or customer.",
              "path": "v1alpha1/{+parent}/devices",
              "id": "sasportal.nodes.devices.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "httpMethod": "GET"
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^nodes/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a device under a node or customer.",
              "path": "v1alpha1/{+parent}/devices",
              "id": "sasportal.nodes.devices.create",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "POST"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.nodes.devices.get",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Gets details about a device.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device."
                }
              }
            },
            "delete": {
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a device.",
              "path": "v1alpha1/{+name}",
              "id": "sasportal.nodes.devices.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "move": {
              "httpMethod": "POST",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.nodes.devices.move",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "path": "v1alpha1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Moves a device under another node or customer.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to move.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "delete": {
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the deployment.",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a deployment.",
              "path": "v1alpha1/{+name}",
              "id": "sasportal.nodes.deployments.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+name}",
              "id": "sasportal.nodes.deployments.patch",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. Resource name.",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates an existing deployment."
            },
            "get": {
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Returns a requested deployment.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the deployment."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.nodes.deployments.get",
              "path": "v1alpha1/{+name}"
            },
            "move": {
              "httpMethod": "POST",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.nodes.deployments.move",
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "path": "v1alpha1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Moves a deployment under another node or customer.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment to move.",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.nodes.deployments.list",
              "path": "v1alpha1/{+parent}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Lists deployments.",
              "parameters": {
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of deployments to return in the response."
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                }
              }
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices:createSigned",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "id": "sasportal.nodes.deployments.devices.createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a signed device under a node or customer."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "id": "sasportal.nodes.deployments.devices.list",
                  "parameters": {
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists devices under a node or customer.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  }
                },
                "create": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "sasportal.nodes.deployments.devices.create",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "nodes": {
          "methods": {
            "delete": {
              "path": "v1alpha1/{+name}",
              "id": "sasportal.nodes.nodes.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the node.",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a node.",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "response": {
                "$ref": "SasPortalNode"
              },
              "id": "sasportal.nodes.nodes.patch",
              "request": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates an existing node.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "description": "Output only. Resource name."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "move": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the node to move."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Moves a node under another node or customer.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:move",
              "id": "sasportal.nodes.nodes.move",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST"
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.nodes.nodes.create",
              "request": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+parent}/nodes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a new node.",
              "parameters": {
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource name where the node is to be created.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the node."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Returns a requested node.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "id": "sasportal.nodes.nodes.get",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "response": {
                "$ref": "SasPortalNode"
              },
              "httpMethod": "GET"
            },
            "list": {
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Lists nodes.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of nodes to return in the response.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from."
                },
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.nodes.nodes.list",
              "path": "v1alpha1/{+parent}/nodes"
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices:createSigned",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "id": "sasportal.nodes.nodes.devices.createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a signed device under a node or customer."
                },
                "list": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists devices under a node or customer.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.nodes.devices.list",
                  "path": "v1alpha1/{+parent}/devices"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.nodes.devices.create",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.nodes.deployments.list",
                  "path": "v1alpha1/{+parent}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists deployments.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of deployments to return in the response.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a new deployment.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name where the deployment is to be created."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.nodes.deployments.create",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "path": "v1alpha1/{+parent}/deployments",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/nodes",
                  "id": "sasportal.nodes.nodes.nodes.list",
                  "parameters": {
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of nodes to return in the response.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists nodes.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a new node.",
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name where the node is to be created.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.nodes.nodes.create",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "httpMethod": "POST"
                }
              }
            }
          }
        }
      }
    },
    "policies": {
      "methods": {
        "set": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "parameterOrder": [],
          "path": "v1alpha1/policies:set",
          "id": "sasportal.policies.set",
          "request": {
            "$ref": "SasPortalSetPolicyRequest"
          },
          "flatPath": "v1alpha1/policies:set",
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "httpMethod": "POST"
        },
        "get": {
          "httpMethod": "POST",
          "flatPath": "v1alpha1/policies:get",
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "parameterOrder": [],
          "id": "sasportal.policies.get",
          "request": {
            "$ref": "SasPortalGetPolicyRequest"
          },
          "path": "v1alpha1/policies:get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameters": {}
        },
        "test": {
          "httpMethod": "POST",
          "flatPath": "v1alpha1/policies:test",
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          },
          "parameterOrder": [],
          "id": "sasportal.policies.test",
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "path": "v1alpha1/policies:test",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Returns permissions that a caller has on the specified resource.",
          "parameters": {}
        }
      }
    },
    "customers": {
      "methods": {
        "migrateOrganization": {
          "path": "v1alpha1/customers:migrateOrganization",
          "id": "sasportal.customers.migrateOrganization",
          "request": {
            "$ref": "SasPortalMigrateOrganizationRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Migrates a SAS organization to the cloud. This will create GCP projects for each deployment and associate them. The SAS Organization is linked to the gcp project that called the command. go/sas-legacy-customer-migration",
          "httpMethod": "POST",
          "flatPath": "v1alpha1/customers:migrateOrganization",
          "response": {
            "$ref": "SasPortalOperation"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Updates an existing customer.",
          "parameters": {
            "name": {
              "pattern": "^customers/[^/]+$",
              "required": true,
              "description": "Output only. Resource name of the customer.",
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Fields to be updated."
            }
          },
          "id": "sasportal.customers.patch",
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/customers/{customersId}",
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "httpMethod": "PATCH"
        },
        "provisionDeployment": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found.",
          "path": "v1alpha1/customers:provisionDeployment",
          "id": "sasportal.customers.provisionDeployment",
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          },
          "parameterOrder": [],
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          },
          "httpMethod": "POST"
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "v1alpha1/customers/{customersId}",
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "path": "v1alpha1/{+name}",
          "id": "sasportal.customers.get",
[...]
