{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://sasportal.googleapis.com/",
  "baseUrl": "https://sasportal.googleapis.com/",
  "title": "SAS Portal API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "name": "sasportal",
  "schemas": {
    "SasPortalMigrateOrganizationRequest": {
      "id": "SasPortalMigrateOrganizationRequest",
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "type": "object",
      "properties": {
        "organizationId": {
          "description": "Required. Id of the SAS organization to be migrated.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SasPortalListCustomersResponse": {
      "id": "SasPortalListCustomersResponse",
      "description": "Response for `ListCustomers`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.",
          "type": "string"
        },
        "customers": {
          "items": {
            "$ref": "SasPortalCustomer"
          },
          "description": "The list of customers that match the request.",
          "type": "array"
        }
      }
    },
    "SasPortalAssignment": {
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`.",
          "type": "array"
        },
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        }
      },
      "id": "SasPortalAssignment"
    },
    "SasPortalTestPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A set of permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestPermissions` method.",
      "type": "object",
      "id": "SasPortalTestPermissionsResponse"
    },
    "SasPortalEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "SasPortalEmpty"
    },
    "SasPortalOrganization": {
      "properties": {
        "id": {
          "description": "Id of organization",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Name of organization",
          "type": "string"
        }
      },
      "description": "Organization details.",
      "type": "object",
      "id": "SasPortalOrganization"
    },
    "SasPortalGenerateSecretResponse": {
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      },
      "description": "Response for GenerateSecret.",
      "type": "object",
      "id": "SasPortalGenerateSecretResponse"
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "id": "SasPortalListLegacyOrganizationsResponse",
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations].",
      "type": "object",
      "properties": {
        "organizations": {
          "description": "Optional. Legacy SAS organizations.",
          "type": "array",
          "items": {
            "$ref": "SasPortalOrganization"
          }
        }
      }
    },
    "SasPortalMoveDeviceRequest": {
      "id": "SasPortalMoveDeviceRequest",
      "description": "Request for MoveDevice.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      }
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "properties": {},
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object",
      "id": "SasPortalSetupSasAnalyticsMetadata"
    },
    "SasPortalMigrateOrganizationMetadata": {
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "type": "object",
      "properties": {
        "operationState": {
          "readOnly": true,
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ],
          "description": "Output only. Current operation state",
          "type": "string"
        }
      },
      "id": "SasPortalMigrateOrganizationMetadata"
    },
    "SasPortalDeviceMetadata": {
      "id": "SasPortalDeviceMetadata",
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "type": "object",
      "properties": {
        "antennaModel": {
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`",
          "type": "string"
        },
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "nrqzValidated": {
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "type": "boolean",
          "readOnly": true,
          "deprecated": true
        },
        "commonChannelGroup": {
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "nrqzValidation": {
          "$ref": "SasPortalNrqzValidation",
          "description": "Output only. National Radio Quiet Zone validation info.",
          "readOnly": true
        }
      }
    },
    "SasPortalFrequencyRange": {
      "properties": {
        "highFrequencyMhz": {
          "description": "The highest frequency of the frequency range in MHz.",
          "type": "number",
          "format": "double"
        },
        "lowFrequencyMhz": {
          "description": "The lowest frequency of the frequency range in MHz.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "type": "object",
      "id": "SasPortalFrequencyRange"
    },
    "SasPortalTestPermissionsRequest": {
      "properties": {
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`.",
          "type": "array"
        }
      },
      "description": "Request message for `TestPermissions` method.",
      "type": "object",
      "id": "SasPortalTestPermissionsRequest"
    },
    "SasPortalValidateInstallerResponse": {
      "id": "SasPortalValidateInstallerResponse",
      "description": "Response for ValidateInstaller.",
      "type": "object",
      "properties": {}
    },
    "SasPortalProvisionDeploymentRequest": {
      "id": "SasPortalProvisionDeploymentRequest",
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "type": "object",
      "properties": {
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "organizationId": {
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SasPortalSetPolicyRequest": {
      "description": "Request message for `SetPolicy` method.",
      "type": "object",
      "properties": {
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        },
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        }
      },
      "id": "SasPortalSetPolicyRequest"
    },
    "SasPortalOperation": {
      "id": "SasPortalOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "SasPortalStatus"
        }
      }
    },
    "SasPortalCustomer": {
      "id": "SasPortalCustomer",
      "description": "Entity representing a SAS customer.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the customer.",
          "type": "string"
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "description": "User IDs used by the devices belonging to this customer.",
          "type": "array"
        }
      }
    },
    "SasPortalDevice": {
      "id": "SasPortalDevice",
      "properties": {
        "fccId": {
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Device state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ]
        },
        "grants": {
          "description": "Output only. Grants held by the device.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeviceGrant"
          }
        },
        "deviceMetadata": {
          "$ref": "SasPortalDeviceMetadata",
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests."
        },
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "serialNumber": {
          "description": "A serial number assigned to the device by the device manufacturer.",
          "type": "string"
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "grantRangeAllowlists": {
          "items": {
            "$ref": "SasPortalFrequencyRange"
          },
          "description": "Only ranges that are within the allowlists are available for new grants.",
          "type": "array"
        },
        "currentChannels": {
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "readOnly": true,
          "description": "Output only. Current channels with scores.",
          "type": "array",
          "deprecated": true
        },
        "displayName": {
          "description": "Device display name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalGenerateSecretRequest": {
      "id": "SasPortalGenerateSecretRequest",
      "description": "Request for GenerateSecret.",
      "type": "object",
      "properties": {}
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "id": "SasPortalSetupSasAnalyticsRequest",
      "description": "Request for the SetupSasAnalytics rpc.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional",
          "type": "string"
        }
      }
    },
    "SasPortalMoveDeploymentRequest": {
      "description": "Request for MoveDeployment.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveDeploymentRequest"
    },
    "SasPortalPolicy": {
      "properties": {
        "etag": {
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "type": "string",
          "format": "byte"
        },
        "assignments": {
          "items": {
            "$ref": "SasPortalAssignment"
          },
          "description": "List of assignments",
          "type": "array"
        }
      },
      "description": "Defines an access control policy to the resources.",
      "type": "object",
      "id": "SasPortalPolicy"
    },
    "SasPortalGetPolicyRequest": {
      "description": "Request message for `GetPolicy` method.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      },
      "id": "SasPortalGetPolicyRequest"
    },
    "SasPortalDeviceModel": {
      "id": "SasPortalDeviceModel",
      "description": "Information about the model of the device.",
      "type": "object",
      "properties": {
        "vendor": {
          "description": "The name of the device vendor.",
          "type": "string"
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        },
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        },
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        }
      }
    },
    "SasPortalDeviceGrant": {
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.",
      "type": "object",
      "properties": {
        "lastHeartbeatTransmitExpireTime": {
          "description": "The transmit expiration time of the last heartbeat.",
          "type": "string",
          "format": "google-datetime"
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        },
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        },
        "moveList": {
          "description": "The DPA move lists on which this grant appears.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          }
        },
        "maxEirp": {
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "type": "number",
          "format": "double"
        },
        "suspensionReason": {
          "items": {
            "type": "string"
          },
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "type": "array"
        },
        "state": {
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "description": "State of the grant.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ]
        },
        "expireTime": {
          "description": "The expiration time of the grant.",
          "type": "string",
          "format": "google-datetime"
        },
        "channelType": {
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "description": "Type of channel used.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "SasPortalDeviceGrant"
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "properties": {},
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object",
      "id": "SasPortalSetupSasAnalyticsResponse"
    },
    "SasPortalCreateSignedDeviceRequest": {
      "id": "SasPortalCreateSignedDeviceRequest",
      "properties": {
        "encodedDevice": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string",
          "format": "byte"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "description": "Request for CreateSignedDevice.",
      "type": "object"
    },
    "SasPortalNrqzValidation": {
      "description": "Information about National Radio Quiet Zone validation.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "description": "State of the NRQZ validation info.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ]
        },
        "longitude": {
          "description": "Device longitude that's associated with the validation.",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "description": "Device latitude that's associated with the validation.",
          "type": "number",
          "format": "double"
        },
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        },
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        }
      },
      "id": "SasPortalNrqzValidation"
    },
    "SasPortalGcpProjectDeployment": {
      "id": "SasPortalGcpProjectDeployment",
      "properties": {
        "deployment": {
          "$ref": "SasPortalDeployment",
          "description": "Deployment associated with the GCP project."
        },
        "hasEnabledAnalytics": {
          "description": "Whether SAS analytics has been enabled.",
          "type": "boolean"
        }
      },
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "type": "object"
    },
    "SasPortalProvisionDeploymentResponse": {
      "id": "SasPortalProvisionDeploymentResponse",
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Optional. Optional error message if the provisioning request is not successful.",
          "type": "string"
        }
      }
    },
    "SasPortalListDeploymentsResponse": {
      "id": "SasPortalListDeploymentsResponse",
      "description": "Response for ListDeployments.",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The deployments that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeployment"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        }
      }
    },
    "SasPortalDeviceConfig": {
      "description": "Information about the device configuration.",
      "type": "object",
      "properties": {
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        },
        "measurementCapabilities": {
          "description": "Measurement reporting capabilities of the device.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ]
          }
        },
        "updateTime": {
          "description": "Output only. The last time the device configuration was edited.",
          "type": "string",
          "format": "google-datetime"
        },
        "installationParams": {
          "$ref": "SasPortalInstallationParams",
          "description": "Installation parameters for the device."
        },
        "category": {
          "description": "FCC category of the device.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ],
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ]
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        },
        "state": {
          "description": "State of the configuration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ]
        },
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "isSigned": {
          "description": "Output only. Whether the configuration has been signed by a CPI.",
          "type": "boolean"
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        }
      },
      "id": "SasPortalDeviceConfig"
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "properties": {
        "deployments": {
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          },
          "description": "Optional. Deployments associated with the GCP project",
          "type": "array"
        }
      },
      "description": "Response for [ListGcpProjectDeployments].",
      "type": "object",
      "id": "SasPortalListGcpProjectDeploymentsResponse"
    },
    "SasPortalDeviceAirInterface": {
      "id": "SasPortalDeviceAirInterface",
      "description": "Information about the device's air interface.",
      "type": "object",
      "properties": {
        "radioTechnology": {
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ],
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "supportedSpec": {
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration.",
          "type": "string"
        }
      }
    },
    "SasPortalDeployment": {
      "id": "SasPortalDeployment",
      "properties": {
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name.",
          "type": "string",
          "readOnly": true
        },
        "sasUserIds": {
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "frns": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "The Deployment.",
      "type": "object"
    },
    "SasPortalMoveNodeRequest": {
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      },
      "description": "Request for MoveNode.",
      "type": "object",
      "id": "SasPortalMoveNodeRequest"
    },
    "SasPortalListDevicesResponse": {
      "properties": {
        "devices": {
          "items": {
            "$ref": "SasPortalDevice"
          },
          "description": "The devices that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        }
      },
      "description": "Response for ListDevices.",
      "type": "object",
      "id": "SasPortalListDevicesResponse"
    },
    "SasPortalListNodesResponse": {
      "description": "Response for ListNodes.",
      "type": "object",
      "properties": {
        "nodes": {
          "description": "The nodes that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalNode"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        }
      },
      "id": "SasPortalListNodesResponse"
    },
    "SasPortalDeploymentAssociation": {
      "description": "Association between a gcp project and a SAS user id.",
      "type": "object",
      "properties": {
        "gcpProjectId": {
          "description": "GCP project id of the associated project.",
          "type": "string"
        },
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        }
      },
      "id": "SasPortalDeploymentAssociation"
    },
    "SasPortalChannelWithScore": {
      "id": "SasPortalChannelWithScore",
      "properties": {
        "score": {
          "description": "The channel score, normalized to be in the range [0,100].",
          "type": "number",
          "format": "double"
        },
        "frequencyRange": {
          "description": "The frequency range of the channel.",
          "$ref": "SasPortalFrequencyRange"
        }
      },
      "description": "The channel with score.",
      "type": "object"
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "description": "Request for UpdateSignedDevice.",
      "type": "object",
      "properties": {
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string",
          "format": "byte"
        },
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "id": "SasPortalUpdateSignedDeviceRequest"
    },
    "SasPortalStatus": {
      "id": "SasPortalStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "SasPortalSignDeviceRequest": {
      "properties": {
        "device": {
          "$ref": "SasPortalDevice",
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set."
        }
      },
      "description": "Request for SignDevice.",
      "type": "object",
      "id": "SasPortalSignDeviceRequest"
    },
    "SasPortalInstallationParams": {
      "id": "SasPortalInstallationParams",
      "description": "Information about the device installation parameters.",
      "type": "object",
      "properties": {
        "verticalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "type": "number",
          "format": "double"
        },
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor.",
          "type": "boolean"
        },
        "antennaModel": {
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets.",
          "type": "string"
        },
        "longitude": {
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "type": "number",
          "format": "double"
        },
        "antennaDowntilt": {
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "cpeCbsdIndication": {
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not.",
          "type": "boolean"
        },
        "antennaGain": {
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value",
          "type": "number",
          "format": "double"
        },
        "antennaAzimuth": {
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "horizontalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "type": "number",
          "format": "double"
        },
        "antennaBeamwidth": {
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "heightType": {
          "description": "Specifies how the height is measured.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ]
        },
        "height": {
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum.",
          "type": "number",
          "format": "double"
        },
        "eirpCapability": {
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SasPortalValidateInstallerRequest": {
      "id": "SasPortalValidateInstallerRequest",
      "properties": {
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        }
      },
      "description": "Request for ValidateInstaller.",
      "type": "object"
    },
    "SasPortalDpaMoveList": {
      "id": "SasPortalDpaMoveList",
      "description": "An entry in a DPA's move list.",
      "type": "object",
      "properties": {
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        },
        "frequencyRange": {
          "description": "The frequency range that the move list affects.",
          "$ref": "SasPortalFrequencyRange"
        }
      }
    },
    "SasPortalNode": {
      "properties": {
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The Node.",
      "type": "object",
      "id": "SasPortalNode"
    },
    "SasPortalMigrateOrganizationResponse": {
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization].",
      "type": "object",
      "properties": {
        "deploymentAssociation": {
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          },
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist.",
          "type": "array"
        }
      },
      "id": "SasPortalMigrateOrganizationResponse"
    }
  },
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "revision": "20260311",
  "batchPath": "batch",
  "id": "sasportal:v1alpha1",
  "resources": {
    "installer": {
      "methods": {
        "generateSecret": {
          "description": "Generates a secret to be used with the ValidateInstaller.",
          "id": "sasportal.installer.generateSecret",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/installer:generateSecret",
          "parameters": {},
          "path": "v1alpha1/installer:generateSecret",
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          }
        },
        "validate": {
          "path": "v1alpha1/installer:validate",
          "flatPath": "v1alpha1/installer:validate",
          "parameters": {},
          "id": "sasportal.installer.validate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Validates the identity of a Certified Professional Installer (CPI).",
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          }
        }
      }
    },
    "policies": {
      "methods": {
        "test": {
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource.",
          "id": "sasportal.policies.test",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/policies:test",
          "parameters": {},
          "path": "v1alpha1/policies:test"
        },
        "set": {
          "path": "v1alpha1/policies:set",
          "flatPath": "v1alpha1/policies:set",
          "parameters": {},
          "id": "sasportal.policies.set",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "request": {
            "$ref": "SasPortalSetPolicyRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalPolicy"
          }
        },
        "get": {
          "flatPath": "v1alpha1/policies:get",
          "parameters": {},
          "path": "v1alpha1/policies:get",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "id": "sasportal.policies.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "request": {
            "$ref": "SasPortalGetPolicyRequest"
          },
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        }
      }
    },
    "deployments": {
      "methods": {
        "get": {
          "description": "Returns a requested deployment.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.deployments.get",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the deployment.",
              "type": "string",
              "pattern": "^deployments/[^/]+$"
            }
          },
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "path": "v1alpha1/{+name}",
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "move": {
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the device to move.",
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "id": "sasportal.deployments.devices.move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Moves a device under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              }
            },
            "get": {
              "description": "Gets details about a device.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.deployments.devices.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "signDevice": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "description": "Signs a device.",
              "id": "sasportal.deployments.devices.signDevice",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Output only. The resource path name.",
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}:signDevice"
            },
            "updateSigned": {
              "description": "Updates a signed device.",
              "id": "sasportal.deployments.devices.updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the device to update.",
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              }
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "sasportal.deployments.devices.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a device.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "patch": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "description": "Updates a device.",
              "id": "sasportal.deployments.devices.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1alpha1/{+name}"
            }
          }
        }
      }
    },
    "nodes": {
      "methods": {
        "get": {
          "id": "sasportal.nodes.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Returns a requested node.",
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/nodes/{nodesId}",
          "parameters": {
            "name": {
              "description": "Required. The name of the node.",
              "type": "string",
              "pattern": "^nodes/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SasPortalNode"
          }
        }
      },
      "resources": {
        "deployments": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the deployment.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "path": "v1alpha1/{+name}",
              "description": "Deletes a deployment.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.deployments.delete",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "parameters": {
                "updateMask": {
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Output only. Resource name.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                }
              },
              "id": "sasportal.nodes.deployments.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates an existing deployment."
            },
            "list": {
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of deployments to return in the response.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments",
              "path": "v1alpha1/{+parent}/deployments",
              "description": "Lists deployments.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.deployments.list"
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the deployment.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                }
              },
              "id": "sasportal.nodes.deployments.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Returns a requested deployment.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              }
            },
            "move": {
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}:move",
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment to move.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a deployment under another node or customer.",
              "id": "sasportal.nodes.deployments.move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices:createSigned",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.deployments.devices.createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "sasportal.nodes.deployments.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists devices under a node or customer.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  }
                },
                "create": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "description": "Creates a device under a node or customer.",
                  "id": "sasportal.nodes.deployments.devices.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.devices.patch",
              "description": "Updates a device."
            },
            "createSigned": {
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices:createSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.devices.createSigned",
              "description": "Creates a signed device under a node or customer.",
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "signDevice": {
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:signDevice",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "type": "string"
                }
              },
              "id": "sasportal.nodes.devices.signDevice",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Signs a device."
            },
            "move": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to move.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:move",
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a device under another node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.devices.move",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1alpha1/{+parent}/devices",
              "description": "Creates a device under a node or customer.",
              "id": "sasportal.nodes.devices.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "id": "sasportal.nodes.devices.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a device.",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "list": {
              "path": "v1alpha1/{+parent}/devices",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "sasportal.nodes.devices.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Lists devices under a node or customer.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              }
            },
            "updateSigned": {
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:updateSigned",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to update.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "description": "Updates a signed device.",
              "id": "sasportal.nodes.devices.updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.devices.get",
              "description": "Gets details about a device.",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}"
            }
          }
        },
        "nodes": {
          "methods": {
            "list": {
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "path": "v1alpha1/{+parent}/nodes",
              "description": "Lists nodes.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.nodes.list"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the node.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.nodes.get",
              "description": "Returns a requested node."
            },
            "move": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.nodes.move",
              "description": "Moves a node under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the node to move.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.nodes.create",
              "description": "Creates a new node.",
              "path": "v1alpha1/{+parent}/nodes",
              "parameters": {
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "request": {
                "$ref": "SasPortalNode"
              }
            },
            "delete": {
              "description": "Deletes a node.",
              "id": "sasportal.nodes.nodes.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node.",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "description": "Output only. Resource name.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "path": "v1alpha1/{+name}",
              "description": "Updates an existing node.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.nodes.patch"
            }
          },
          "resources": {
            "deployments": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of deployments to return in the response.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "type": "string",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.nodes.deployments.list",
                  "description": "Lists deployments."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.nodes.deployments.create",
                  "description": "Creates a new deployment.",
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "request": {
                    "$ref": "SasPortalDeployment"
                  }
                }
              }
            },
            "devices": {
              "methods": {
                "createSigned": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.nodes.devices.createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices:createSigned",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists devices under a node or customer.",
                  "id": "sasportal.nodes.nodes.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices"
                },
                "create": {
                  "description": "Creates a device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.nodes.devices.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SasPortalDevice"
                  }
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of nodes to return in the response.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.nodes.nodes.list",
                  "description": "Lists nodes."
                },
                "create": {
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name where the node is to be created.",
                      "type": "string",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "path": "v1alpha1/{+parent}/nodes",
                  "description": "Creates a new node.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.nodes.nodes.create"
                }
              }
            }
          }
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          },
          "id": "sasportal.customers.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Returns a list of requested customers.",
          "path": "v1alpha1/customers",
          "flatPath": "v1alpha1/customers",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of customers to return in the response.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
[...]
