{
  "servicePath": "",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Script",
  "id": "script:v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "scripts": {
      "methods": {
        "run": {
          "parameterOrder": [
            "scriptId"
          ],
          "httpMethod": "POST",
          "id": "script.scripts.run",
          "flatPath": "v1/scripts/{scriptId}:run",
          "description": "",
          "parameters": {
            "scriptId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID."
            }
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/scripts/{scriptId}:run",
          "request": {
            "$ref": "ExecutionRequest"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "deployments": {
          "methods": {
            "get": {
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "httpMethod": "GET",
              "id": "script.projects.deployments.get",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Gets a deployment of an Apps Script project.",
              "parameters": {
                "deploymentId": {
                  "location": "path",
                  "required": true,
                  "description": "The deployment ID.",
                  "type": "string"
                },
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The script project's Drive ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "response": {
                "$ref": "Deployment"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}"
            },
            "create": {
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "response": {
                "$ref": "Deployment"
              },
              "path": "v1/projects/{scriptId}/deployments",
              "request": {
                "$ref": "DeploymentConfig"
              },
              "parameterOrder": [
                "scriptId"
              ],
              "httpMethod": "POST",
              "id": "script.projects.deployments.create",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "description": "Creates a deployment of an Apps Script project."
            },
            "list": {
              "path": "v1/projects/{scriptId}/deployments",
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query"
                },
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "id": "script.projects.deployments.list",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "description": "Lists the deployments of an Apps Script project.",
              "httpMethod": "GET",
              "parameterOrder": [
                "scriptId"
              ]
            },
            "update": {
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                },
                "deploymentId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The deployment ID for this deployment."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "response": {
                "$ref": "Deployment"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "httpMethod": "PUT",
              "id": "script.projects.deployments.update",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Updates a deployment of an Apps Script project."
            },
            "delete": {
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "deploymentId": {
                  "description": "The deployment ID to be undeployed.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The script project's Drive ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "script.projects.deployments.delete",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Deletes a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "httpMethod": "DELETE"
            }
          }
        },
        "versions": {
          "methods": {
            "get": {
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "versionNumber": {
                  "location": "path",
                  "format": "int32",
                  "required": true,
                  "description": "The version number.",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "response": {
                "$ref": "Version"
              },
              "id": "script.projects.versions.get",
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "description": "Gets a version of a script project.",
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "id": "script.projects.versions.create",
              "flatPath": "v1/projects/{scriptId}/versions",
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "parameterOrder": [
                "scriptId"
              ],
              "httpMethod": "POST",
              "path": "v1/projects/{scriptId}/versions",
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The script project's Drive ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "response": {
                "$ref": "Version"
              }
            },
            "list": {
              "path": "v1/projects/{scriptId}/versions",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "id": "script.projects.versions.list",
              "flatPath": "v1/projects/{scriptId}/versions",
              "description": "List the versions of a script project.",
              "parameterOrder": [
                "scriptId"
              ],
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "Project"
          },
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "path": "v1/projects/{scriptId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "scriptId"
          ],
          "id": "script.projects.get",
          "flatPath": "v1/projects/{scriptId}",
          "description": "Gets a script project's metadata."
        },
        "getMetrics": {
          "parameterOrder": [
            "scriptId"
          ],
          "httpMethod": "GET",
          "id": "script.projects.getMetrics",
          "flatPath": "v1/projects/{scriptId}/metrics",
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "parameters": {
            "metricsFilter.deploymentId": {
              "type": "string",
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query"
            },
            "scriptId": {
              "description": "Required field indicating the script to get metrics for.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "metricsGranularity": {
              "location": "query",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "description": "Required field indicating what granularity of metrics are returned.",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "response": {
            "$ref": "Metrics"
          },
          "path": "v1/projects/{scriptId}/metrics"
        },
        "create": {
          "response": {
            "$ref": "Project"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "path": "v1/projects",
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "script.projects.create",
          "flatPath": "v1/projects",
          "description": "Creates a new, empty script project with no script files and a base manifest file."
        },
        "getContent": {
          "parameterOrder": [
            "scriptId"
          ],
          "httpMethod": "GET",
          "id": "script.projects.getContent",
          "flatPath": "v1/projects/{scriptId}/content",
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "parameters": {
            "versionNumber": {
              "type": "integer",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "format": "int32",
              "location": "query"
            },
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "response": {
            "$ref": "Content"
          },
          "path": "v1/projects/{scriptId}/content"
        },
        "updateContent": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "scriptId"
          ],
          "id": "script.projects.updateContent",
          "flatPath": "v1/projects/{scriptId}/content",
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "response": {
            "$ref": "Content"
          },
          "parameters": {
            "scriptId": {
              "location": "path",
              "required": true,
              "description": "The script project's Drive ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "path": "v1/projects/{scriptId}/content",
          "request": {
            "$ref": "Content"
          }
        }
      }
    },
    "processes": {
      "methods": {
        "list": {
          "id": "script.processes.list",
          "flatPath": "v1/processes",
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v1/processes",
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "parameters": {
            "userProcessFilter.startTime": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime"
            },
            "userProcessFilter.endTime": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime"
            },
            "userProcessFilter.userAccessLevels": {
              "location": "query",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "repeated": true,
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ]
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32",
              "location": "query"
            },
            "userProcessFilter.projectName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "type": "string"
            },
            "userProcessFilter.types": {
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ]
            },
            "userProcessFilter.statuses": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ]
            },
            "userProcessFilter.scriptId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            },
            "userProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ]
        },
        "listScriptProcesses": {
          "id": "script.processes.listScriptProcesses",
          "flatPath": "v1/processes:listScriptProcesses",
          "description": "List information about a script's executed processes, such as process type and current status.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v1/processes:listScriptProcesses",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "parameters": {
            "scriptId": {
              "location": "query",
              "description": "The script ID of the project whose processes are listed.",
              "type": "string"
            },
            "scriptProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "scriptProcessFilter.types": {
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string"
            },
            "scriptProcessFilter.startTime": {
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime",
              "type": "string",
              "location": "query"
            },
            "scriptProcessFilter.statuses": {
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ]
            },
            "scriptProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "repeated": true,
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "type": "string",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "location": "query"
            },
            "scriptProcessFilter.endTime": {
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32",
              "location": "query"
            },
            "scriptProcessFilter.functionName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ]
        }
      }
    }
  },
  "basePath": "",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "revision": "20260504",
  "name": "script",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "rootUrl": "https://script.googleapis.com/",
  "title": "Apps Script API",
  "batchPath": "batch",
  "description": "Manages and executes Google Apps Script projects. ",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://script.googleapis.com/",
  "schemas": {
    "Deployment": {
      "type": "object",
      "id": "Deployment",
      "description": "Representation of a single script deployment.",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        },
        "updateTime": {
          "description": "Last modified date time stamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "deploymentId": {
          "description": "The deployment ID for this deployment.",
          "type": "string"
        },
        "entryPoints": {
          "type": "array",
          "description": "The deployment's entry points.",
          "items": {
            "$ref": "EntryPoint"
          }
        }
      }
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "type": "object",
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "description": "An add-on entry point.",
      "properties": {
        "helpUrl": {
          "type": "string",
          "description": "The add-on's optional help URL."
        },
        "postInstallTipUrl": {
          "type": "string",
          "description": "The add-on's required post install tip URL."
        },
        "addOnType": {
          "description": "The add-on's required list of supported container types.",
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "type": "string"
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The add-on's required title."
        }
      }
    },
    "DeploymentConfig": {
      "id": "DeploymentConfig",
      "description": "Metadata the defines how a deployment is configured.",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "versionNumber": {
          "description": "The version number on which this deployment is based.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "description": "An API executable entry point.",
      "properties": {
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig",
          "description": "The entry point's configuration."
        }
      },
      "type": "object"
    },
    "MetricsValue": {
      "id": "MetricsValue",
      "description": "Metrics value that holds number of executions counted.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required field indicating the start time of the interval.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Required field indicating the end time of the interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "value": {
          "description": "Indicates the number of executions counted.",
          "format": "uint64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecutionError": {
      "id": "ExecutionError",
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "properties": {
        "scriptStackTraceElements": {
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "type": "array"
        },
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        },
        "errorType": {
          "type": "string",
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included."
        }
      },
      "type": "object"
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "description": "A configuration that defines how a deployment is accessed externally.",
      "properties": {
        "entryPointType": {
          "type": "string",
          "description": "The type of the entry point.",
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ]
        },
        "webApp": {
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint",
          "description": "An entry point specification for web apps."
        },
        "addOn": {
          "description": "Add-on properties.",
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint"
        },
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        }
      },
      "type": "object"
    },
    "CreateProjectRequest": {
      "type": "object",
      "id": "CreateProjectRequest",
      "description": "Request to create a script project.",
      "properties": {
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title for the project."
        }
      }
    },
    "ListScriptProcessesResponse": {
      "type": "object",
      "id": "ListScriptProcessesResponse",
      "description": "Response with the list of Process resources.",
      "properties": {
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        },
        "processes": {
          "type": "array",
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        }
      }
    },
    "Content": {
      "type": "object",
      "id": "Content",
      "description": "The Content resource.",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "files": {
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "description": "Web app entry point configuration.",
      "properties": {
        "executeAs": {
          "type": "string",
          "description": "Who to execute the web app as.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ]
        },
        "access": {
          "type": "string",
          "description": "Who has permission to run the web app.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "properties": {
        "url": {
          "description": "The URL for the web application.",
          "type": "string"
        },
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        }
      }
    },
    "GoogleAppsScriptTypeProcess": {
      "id": "GoogleAppsScriptTypeProcess",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "properties": {
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Time the execution started.",
          "format": "google-datetime"
        },
        "functionName": {
          "description": "Name of the function the started the execution.",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "Duration the execution spent executing.",
          "format": "google-duration"
        },
        "runtimeVersion": {
          "description": "Which version of maestro to use to execute the script.",
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "type": "string"
        },
        "processType": {
          "description": "The executions type.",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "type": "string"
        },
        "processStatus": {
          "description": "The executions status.",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ],
          "type": "string"
        },
        "userAccessLevel": {
          "type": "string",
          "description": "The executing users access level to the script.",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ]
        }
      },
      "type": "object"
    },
    "Metrics": {
      "type": "object",
      "id": "Metrics",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.",
      "properties": {
        "activeUsers": {
          "type": "array",
          "description": "Number of active users.",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "failedExecutions": {
          "type": "array",
          "description": "Number of failed executions.",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "totalExecutions": {
          "type": "array",
          "description": "Number of total executions.",
          "items": {
            "$ref": "MetricsValue"
          }
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed."
        },
        "error": {
          "$ref": "Status",
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error."
        },
        "response": {
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeUser": {
      "id": "GoogleAppsScriptTypeUser",
      "description": "A simple user profile resource.",
      "properties": {
        "photoUrl": {
          "type": "string",
          "description": "The user's photo."
        },
        "email": {
          "type": "string",
          "description": "The user's identifying email address."
        },
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "domain": {
          "type": "string",
          "description": "The user's domain."
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "properties": {
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "id": "GoogleAppsScriptTypeFunctionSet",
      "description": "A set of functions. No duplicates are permitted.",
      "properties": {
        "values": {
          "description": "A list of functions composing the set.",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Project": {
      "id": "Project",
      "description": "The script project resource.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "updateTime": {
          "description": "When the script was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "createTime": {
          "description": "When the script was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "creator": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who originally created the script."
        },
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "description": "API executable entry point configuration.",
      "properties": {
        "access": {
          "description": "Who has permission to run the API executable.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Version": {
      "id": "Version",
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "properties": {
        "versionNumber": {
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "description": "The description for this version."
        },
        "createTime": {
          "description": "When the version was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecutionRequest": {
      "type": "object",
      "id": "ExecutionRequest",
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "properties": {
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "items": {
            "type": "any"
          }
        },
        "sessionState": {
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.",
          "type": "string"
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        }
      }
    },
    "ScriptStackTraceElement": {
      "id": "ScriptStackTraceElement",
      "description": "A stack trace through the script that shows where the execution failed.",
      "properties": {
        "lineNumber": {
          "type": "integer",
          "description": "The line number where the script failed.",
          "format": "int32"
        },
        "function": {
          "type": "string",
          "description": "The name of the function that failed."
        }
      },
      "type": "object"
    },
    "ListUserProcessesResponse": {
      "type": "object",
      "id": "ListUserProcessesResponse",
      "description": "Response with the list of Process resources.",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        }
      }
    },
    "File": {
      "id": "File",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "properties": {
        "lastModifyUser": {
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "createTime": {
          "type": "string",
          "description": "Creation date timestamp.",
          "format": "google-datetime"
        },
        "type": {
          "description": "The type of the file.",
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "type": "string"
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last modified date timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field."
        },
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        }
      },
      "type": "object"
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "description": "Response with the list of the versions for the specified script project.",
      "properties": {
        "versions": {
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecutionResponse": {
      "type": "object",
      "id": "ExecutionResponse",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      }
    },
    "GoogleAppsScriptTypeFunction": {
      "type": "object",
      "id": "GoogleAppsScriptTypeFunction",
      "description": "Represents a function in a script project.",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "The ordered list of parameter names of the function in the script project.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The function name in the script project.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "UpdateDeploymentRequest": {
      "type": "object",
      "id": "UpdateDeploymentRequest",
      "description": "Request with deployment information to update an existing deployment.",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      }
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used in the next call to get the next page of results.",
          "type": "string"
        },
        "deployments": {
          "type": "array",
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          }
        }
      },
      "type": "object"
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        }
      }
    }
  }
}