{
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://script.googleapis.com/",
  "description": "Manages and executes Google Apps Script projects. ",
  "batchPath": "batch",
  "protocol": "rest",
  "revision": "20260405",
  "name": "script",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        }
      }
    }
  },
  "id": "script:v1",
  "resources": {
    "projects": {
      "methods": {
        "getMetrics": {
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "path": "v1/projects/{scriptId}/metrics",
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Metrics"
          },
          "id": "script.projects.getMetrics",
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/projects/{scriptId}/metrics",
          "parameters": {
            "metricsGranularity": {
              "type": "string",
              "description": "Required field indicating what granularity of metrics are returned.",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ],
              "location": "query"
            },
            "scriptId": {
              "type": "string",
              "description": "Required field indicating the script to get metrics for.",
              "required": true,
              "location": "path"
            },
            "metricsFilter.deploymentId": {
              "type": "string",
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query"
            }
          }
        },
        "getContent": {
          "path": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Content"
          },
          "parameters": {
            "scriptId": {
              "location": "path",
              "required": true,
              "description": "The script project's Drive ID.",
              "type": "string"
            },
            "versionNumber": {
              "location": "query",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "id": "script.projects.getContent",
          "parameterOrder": [
            "scriptId"
          ]
        },
        "create": {
          "id": "script.projects.create",
          "parameterOrder": [],
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "parameters": {},
          "flatPath": "v1/projects",
          "response": {
            "$ref": "Project"
          },
          "httpMethod": "POST",
          "path": "v1/projects",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "description": "Creates a new, empty script project with no script files and a base manifest file."
        },
        "updateContent": {
          "id": "script.projects.updateContent",
          "parameterOrder": [
            "scriptId"
          ],
          "request": {
            "$ref": "Content"
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "parameters": {
            "scriptId": {
              "location": "path",
              "required": true,
              "description": "The script project's Drive ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Content"
          },
          "httpMethod": "PUT",
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "path": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ]
        },
        "get": {
          "description": "Gets a script project's metadata.",
          "path": "v1/projects/{scriptId}",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Project"
          },
          "id": "script.projects.get",
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/projects/{scriptId}",
          "parameters": {
            "scriptId": {
              "location": "path",
              "required": true,
              "description": "The script project's Drive ID.",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "versions": {
          "methods": {
            "get": {
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                },
                "versionNumber": {
                  "type": "integer",
                  "description": "The version number.",
                  "required": true,
                  "format": "int32",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "id": "script.projects.versions.get",
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "response": {
                "$ref": "Version"
              },
              "httpMethod": "GET",
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "description": "Gets a version of a script project."
            },
            "create": {
              "id": "script.projects.versions.create",
              "parameterOrder": [
                "scriptId"
              ],
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID."
                }
              },
              "flatPath": "v1/projects/{scriptId}/versions",
              "response": {
                "$ref": "Version"
              },
              "httpMethod": "POST",
              "path": "v1/projects/{scriptId}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "description": "Creates a new immutable version using the current code, with a unique version number."
            },
            "list": {
              "path": "v1/projects/{scriptId}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "description": "List the versions of a script project.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                }
              },
              "flatPath": "v1/projects/{scriptId}/versions",
              "id": "script.projects.versions.list",
              "parameterOrder": [
                "scriptId"
              ]
            }
          }
        },
        "deployments": {
          "methods": {
            "create": {
              "id": "script.projects.deployments.create",
              "parameterOrder": [
                "scriptId"
              ],
              "request": {
                "$ref": "DeploymentConfig"
              },
              "flatPath": "v1/projects/{scriptId}/deployments",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Deployment"
              },
              "httpMethod": "POST",
              "description": "Creates a deployment of an Apps Script project.",
              "path": "v1/projects/{scriptId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ]
            },
            "list": {
              "path": "v1/projects/{scriptId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "description": "Lists the deployments of an Apps Script project.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "id": "script.projects.deployments.list",
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{scriptId}/deployments"
            },
            "update": {
              "httpMethod": "PUT",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "description": "Updates a deployment of an Apps Script project.",
              "id": "script.projects.deployments.update",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "parameters": {
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID."
                },
                "deploymentId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The deployment ID for this deployment."
                }
              },
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Deployment"
              }
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "description": "Gets a deployment of an Apps Script project.",
              "id": "script.projects.deployments.get",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                },
                "deploymentId": {
                  "description": "The deployment ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Deployment"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "description": "Deletes a deployment of an Apps Script project.",
              "id": "script.projects.deployments.delete",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                },
                "deploymentId": {
                  "description": "The deployment ID to be undeployed.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "flatPath": "v1/scripts/{scriptId}:run",
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "script.scripts.run",
          "parameterOrder": [
            "scriptId"
          ],
          "request": {
            "$ref": "ExecutionRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "description": "",
          "path": "v1/scripts/{scriptId}:run",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ]
        }
      }
    },
    "processes": {
      "methods": {
        "listScriptProcesses": {
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "id": "script.processes.listScriptProcesses",
          "parameterOrder": [],
          "parameters": {
            "scriptProcessFilter.startTime": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime"
            },
            "scriptProcessFilter.statuses": {
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ]
            },
            "scriptProcessFilter.endTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime",
              "location": "query"
            },
            "scriptProcessFilter.userAccessLevels": {
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "scriptId": {
              "location": "query",
              "description": "The script ID of the project whose processes are listed.",
              "type": "string"
            },
            "scriptProcessFilter.types": {
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ]
            },
            "scriptProcessFilter.functionName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string"
            },
            "scriptProcessFilter.deploymentId": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "v1/processes:listScriptProcesses",
          "path": "v1/processes:listScriptProcesses",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "description": "List information about a script's executed processes, such as process type and current status.",
          "httpMethod": "GET"
        },
        "list": {
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "parameters": {
            "userProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.statuses": {
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ]
            },
            "userProcessFilter.projectName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string"
            },
            "userProcessFilter.scriptId": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "location": "query"
            },
            "userProcessFilter.functionName": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name."
            },
            "userProcessFilter.userAccessLevels": {
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ]
            },
            "userProcessFilter.startTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32",
              "type": "integer"
            },
            "userProcessFilter.endTime": {
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.types": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "location": "query",
              "repeated": true
            }
          },
          "flatPath": "v1/processes",
          "id": "script.processes.list",
          "parameterOrder": [],
          "path": "v1/processes",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "httpMethod": "GET"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "title": "Apps Script API",
  "baseUrl": "https://script.googleapis.com/",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "canonicalName": "Script",
  "basePath": "",
  "schemas": {
    "GoogleAppsScriptTypeFunction": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The function name in the script project.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ordered list of parameter names of the function in the script project."
        }
      },
      "description": "Represents a function in a script project.",
      "id": "GoogleAppsScriptTypeFunction"
    },
    "Version": {
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "type": "object",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description for this version."
        },
        "versionNumber": {
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "description": "When the version was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Version"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "type": "object",
      "properties": {
        "helpUrl": {
          "type": "string",
          "description": "The add-on's optional help URL."
        },
        "postInstallTipUrl": {
          "type": "string",
          "description": "The add-on's required post install tip URL."
        },
        "addOnType": {
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "type": "string",
          "description": "The add-on's required list of supported container types.",
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ]
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        }
      },
      "description": "An add-on entry point."
    },
    "Metrics": {
      "id": "Metrics",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.",
      "type": "object",
      "properties": {
        "activeUsers": {
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of active users.",
          "type": "array"
        },
        "failedExecutions": {
          "type": "array",
          "description": "Number of failed executions.",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "totalExecutions": {
          "type": "array",
          "description": "Number of total executions.",
          "items": {
            "$ref": "MetricsValue"
          }
        }
      }
    },
    "GoogleAppsScriptTypeUser": {
      "id": "GoogleAppsScriptTypeUser",
      "description": "A simple user profile resource.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "domain": {
          "type": "string",
          "description": "The user's domain."
        },
        "email": {
          "type": "string",
          "description": "The user's identifying email address."
        },
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        }
      }
    },
    "CreateProjectRequest": {
      "id": "CreateProjectRequest",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "parentId": {
          "type": "string",
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created."
        }
      },
      "description": "Request to create a script project."
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "type": "object",
      "properties": {
        "access": {
          "description": "Who has permission to run the web app.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        },
        "executeAs": {
          "type": "string",
          "description": "Who to execute the web app as.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ]
        }
      },
      "description": "Web app entry point configuration."
    },
    "DeploymentConfig": {
      "id": "DeploymentConfig",
      "description": "Metadata the defines how a deployment is configured.",
      "type": "object",
      "properties": {
        "versionNumber": {
          "type": "integer",
          "description": "The version number on which this deployment is based.",
          "format": "int32"
        },
        "manifestFileName": {
          "description": "The manifest file name for this deployment.",
          "type": "string"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        }
      }
    },
    "MetricsValue": {
      "id": "MetricsValue",
      "description": "Metrics value that holds number of executions counted.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Indicates the number of executions counted.",
          "format": "uint64"
        },
        "startTime": {
          "type": "string",
          "description": "Required field indicating the start time of the interval.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Required field indicating the end time of the interval.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ListScriptProcessesResponse": {
      "type": "object",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "description": "Response with the list of Process resources.",
      "id": "ListScriptProcessesResponse"
    },
    "Status": {
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status"
    },
    "ScriptStackTraceElement": {
      "description": "A stack trace through the script that shows where the execution failed.",
      "type": "object",
      "properties": {
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        },
        "lineNumber": {
          "type": "integer",
          "description": "The line number where the script failed.",
          "format": "int32"
        }
      },
      "id": "ScriptStackTraceElement"
    },
    "Deployment": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Last modified date time stamp.",
          "format": "google-datetime"
        },
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        },
        "entryPoints": {
          "items": {
            "$ref": "EntryPoint"
          },
          "type": "array",
          "description": "The deployment's entry points."
        },
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        }
      },
      "description": "Representation of a single script deployment.",
      "id": "Deployment"
    },
    "GoogleAppsScriptTypeProcess": {
      "id": "GoogleAppsScriptTypeProcess",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "type": "object",
      "properties": {
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "processType": {
          "type": "string",
          "description": "The executions type.",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ]
        },
        "functionName": {
          "description": "Name of the function the started the execution.",
          "type": "string"
        },
        "processStatus": {
          "type": "string",
          "description": "The executions status.",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ]
        },
        "userAccessLevel": {
          "type": "string",
          "description": "The executing users access level to the script.",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "Time the execution started.",
          "format": "google-datetime"
        },
        "duration": {
          "type": "string",
          "description": "Duration the execution spent executing.",
          "format": "google-duration"
        },
        "runtimeVersion": {
          "type": "string",
          "description": "Which version of maestro to use to execute the script.",
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ]
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value."
        },
        "done": {
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed.",
          "type": "boolean"
        },
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        }
      },
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "id": "Operation"
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "type": "object",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      },
      "description": "An API executable entry point.",
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint"
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used in the next call to get the next page of results.",
          "type": "string"
        },
        "deployments": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        }
      },
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "id": "ListDeploymentsResponse"
    },
    "ExecutionRequest": {
      "id": "ExecutionRequest",
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "sessionState": {
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.",
          "type": "string"
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        },
        "function": {
          "type": "string",
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`."
        }
      }
    },
    "ListUserProcessesResponse": {
      "id": "ListUserProcessesResponse",
      "type": "object",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        }
      },
      "description": "Response with the list of Process resources."
    },
    "File": {
      "id": "File",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field."
        },
        "type": {
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "description": "The type of the file.",
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "type": "string"
        },
        "lastModifyUser": {
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        },
        "createTime": {
          "description": "Creation date timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Last modified date timestamp.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "type": "object",
      "properties": {
        "access": {
          "type": "string",
          "description": "Who has permission to run the API executable.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      },
      "description": "API executable entry point configuration.",
      "id": "GoogleAppsScriptTypeExecutionApiConfig"
    },
    "UpdateDeploymentRequest": {
      "type": "object",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      },
      "description": "Request with deployment information to update an existing deployment.",
      "id": "UpdateDeploymentRequest"
    },
    "ListVersionsResponse": {
      "description": "Response with the list of the versions for the specified script project.",
      "type": "object",
      "properties": {
        "versions": {
          "type": "array",
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        }
      },
      "id": "ListVersionsResponse"
    },
    "Content": {
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project."
        }
      },
      "description": "The Content resource.",
      "id": "Content"
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "type": "object",
      "properties": {
        "entryPointType": {
          "type": "string",
          "description": "The type of the entry point.",
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ]
        },
        "webApp": {
          "description": "An entry point specification for web apps.",
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
        },
        "executionApi": {
          "description": "An entry point specification for Apps Script API execution calls.",
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint"
        },
        "addOn": {
          "description": "Add-on properties.",
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint"
        }
      },
      "description": "A configuration that defines how a deployment is accessed externally."
    },
    "Project": {
      "id": "Project",
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "When the script was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "When the script was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "creator": {
          "description": "User who originally created the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        }
      },
      "description": "The script project resource."
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "id": "GoogleAppsScriptTypeFunctionSet",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "A list of functions composing the set.",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          }
        }
      },
      "description": "A set of functions. No duplicates are permitted."
    },
    "ExecutionResponse": {
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "type": "object",
      "properties": {
        "result": {
          "type": "any",
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`."
        }
      },
      "id": "ExecutionResponse"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "type": "object",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        },
        "url": {
          "type": "string",
          "description": "The URL for the web application."
        }
      }
    },
    "ExecutionError": {
      "id": "ExecutionError",
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "type": "object",
      "properties": {
        "scriptStackTraceElements": {
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "type": "array",
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first."
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message thrown by Apps Script, usually localized into the user's language."
        },
        "errorType": {
          "type": "string",
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included."
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    }
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription"
}