{
  "name": "script",
  "baseUrl": "https://script.googleapis.com/",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "ownerDomain": "google.com",
  "canonicalName": "Script",
  "fullyEncodeReservedExpansion": true,
  "description": "Manages and executes Google Apps Script projects. ",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "ownerName": "Google",
  "id": "script:v1",
  "basePath": "",
  "servicePath": "",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        }
      }
    }
  },
  "rootUrl": "https://script.googleapis.com/",
  "title": "Apps Script API",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "schemas": {
    "ScriptStackTraceElement": {
      "type": "object",
      "properties": {
        "lineNumber": {
          "type": "integer",
          "description": "The line number where the script failed.",
          "format": "int32"
        },
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        }
      },
      "description": "A stack trace through the script that shows where the execution failed.",
      "id": "ScriptStackTraceElement"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used in the next call to get the next page of results."
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Last modified date time stamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        },
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        },
        "entryPoints": {
          "type": "array",
          "description": "The deployment's entry points.",
          "items": {
            "$ref": "EntryPoint"
          }
        }
      },
      "description": "Representation of a single script deployment."
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL for the web application."
        },
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        }
      }
    },
    "UpdateDeploymentRequest": {
      "id": "UpdateDeploymentRequest",
      "description": "Request with deployment information to update an existing deployment.",
      "type": "object",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        }
      }
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        },
        "versions": {
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          },
          "type": "array"
        }
      },
      "description": "Response with the list of the versions for the specified script project."
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "description": "A configuration that defines how a deployment is accessed externally.",
      "type": "object",
      "properties": {
        "webApp": {
          "description": "An entry point specification for web apps.",
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
        },
        "addOn": {
          "description": "Add-on properties.",
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint"
        },
        "executionApi": {
          "description": "An entry point specification for Apps Script API execution calls.",
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint"
        },
        "entryPointType": {
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "type": "string",
          "description": "The type of the entry point.",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ]
        }
      }
    },
    "File": {
      "id": "File",
      "type": "object",
      "properties": {
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user."
        },
        "updateTime": {
          "description": "Last modified date timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "type": "string",
          "description": "The type of the file.",
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ]
        },
        "functionSet": {
          "$ref": "GoogleAppsScriptTypeFunctionSet",
          "description": "The defined set of functions in the script file, if any."
        },
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Creation date timestamp.",
          "format": "google-datetime"
        }
      },
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files."
    },
    "Project": {
      "id": "Project",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "When the script was last updated.",
          "format": "google-datetime"
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who last modified the script."
        },
        "parentId": {
          "type": "string",
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "When the script was created.",
          "format": "google-datetime"
        },
        "creator": {
          "description": "User who originally created the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        }
      },
      "description": "The script project resource."
    },
    "ExecutionResponse": {
      "type": "object",
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      },
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "id": "ExecutionResponse"
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "description": "API executable entry point configuration.",
      "type": "object",
      "properties": {
        "access": {
          "description": "Who has permission to run the API executable.",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ]
        }
      }
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "description": "Web app entry point configuration.",
      "type": "object",
      "properties": {
        "access": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "description": "Who has permission to run the web app.",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "type": "string"
        },
        "executeAs": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "description": "Who to execute the web app as.",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "type": "string"
        }
      }
    },
    "Metrics": {
      "id": "Metrics",
      "type": "object",
      "properties": {
        "activeUsers": {
          "type": "array",
          "description": "Number of active users.",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "totalExecutions": {
          "description": "Number of total executions.",
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array"
        },
        "failedExecutions": {
          "description": "Number of failed executions.",
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array"
        }
      },
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request."
    },
    "GoogleAppsScriptTypeFunction": {
      "id": "GoogleAppsScriptTypeFunction",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The function name in the script project."
        },
        "parameters": {
          "description": "The ordered list of parameter names of the function in the script project.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents a function in a script project."
    },
    "Version": {
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "type": "object",
      "properties": {
        "versionNumber": {
          "type": "integer",
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "format": "int32"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "description": {
          "description": "The description for this version.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "When the version was created.",
          "format": "google-datetime"
        }
      },
      "id": "Version"
    },
    "ExecutionError": {
      "id": "ExecutionError",
      "type": "object",
      "properties": {
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        },
        "scriptStackTraceElements": {
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "type": "array"
        },
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        }
      },
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects."
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "description": "An API executable entry point.",
      "type": "object",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      }
    },
    "Content": {
      "description": "The Content resource.",
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "files": {
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        }
      },
      "id": "Content"
    },
    "ListUserProcessesResponse": {
      "id": "ListUserProcessesResponse",
      "description": "Response with the list of Process resources.",
      "type": "object",
      "properties": {
        "processes": {
          "type": "array",
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed."
        },
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "Status": {
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "description": "An add-on entry point.",
      "type": "object",
      "properties": {
        "addOnType": {
          "description": "The add-on's required list of supported container types.",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ]
        },
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "postInstallTipUrl": {
          "type": "string",
          "description": "The add-on's required post install tip URL."
        },
        "reportIssueUrl": {
          "type": "string",
          "description": "The add-on's optional report issue URL."
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        }
      }
    },
    "ListScriptProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "type": "object",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "id": "ListScriptProcessesResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "GoogleAppsScriptTypeUser": {
      "id": "GoogleAppsScriptTypeUser",
      "description": "A simple user profile resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The user's display name.",
          "type": "string"
        },
        "domain": {
          "description": "The user's domain.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The user's identifying email address."
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's photo."
        }
      }
    },
    "GoogleAppsScriptTypeProcess": {
      "id": "GoogleAppsScriptTypeProcess",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "type": "object",
      "properties": {
        "userAccessLevel": {
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "type": "string",
          "description": "The executing users access level to the script.",
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ]
        },
        "runtimeVersion": {
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "description": "Which version of maestro to use to execute the script.",
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "type": "string"
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "startTime": {
          "type": "string",
          "description": "Time the execution started.",
          "format": "google-datetime"
        },
        "duration": {
          "type": "string",
          "description": "Duration the execution spent executing.",
          "format": "google-duration"
        },
        "processType": {
          "description": "The executions type.",
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ]
        },
        "processStatus": {
          "description": "The executions status.",
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ]
        }
      }
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "id": "GoogleAppsScriptTypeFunctionSet",
      "description": "A set of functions. No duplicates are permitted.",
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of functions composing the set.",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "type": "array"
        }
      }
    },
    "ExecutionRequest": {
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "type": "object",
      "properties": {
        "function": {
          "type": "string",
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`."
        },
        "parameters": {
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "sessionState": {
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.",
          "type": "string"
        },
        "devMode": {
          "type": "boolean",
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`."
        }
      },
      "id": "ExecutionRequest"
    },
    "CreateProjectRequest": {
      "id": "CreateProjectRequest",
      "description": "Request to create a script project.",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "parentId": {
          "type": "string",
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created."
        }
      }
    },
    "DeploymentConfig": {
      "id": "DeploymentConfig",
      "type": "object",
      "properties": {
        "manifestFileName": {
          "description": "The manifest file name for this deployment.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "versionNumber": {
          "type": "integer",
          "description": "The version number on which this deployment is based.",
          "format": "int32"
        }
      },
      "description": "Metadata the defines how a deployment is configured."
    },
    "MetricsValue": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Required field indicating the end time of the interval.",
          "format": "google-datetime"
        },
        "value": {
          "type": "string",
          "description": "Indicates the number of executions counted.",
          "format": "uint64"
        },
        "startTime": {
          "type": "string",
          "description": "Required field indicating the start time of the interval.",
          "format": "google-datetime"
        }
      },
      "description": "Metrics value that holds number of executions counted.",
      "id": "MetricsValue"
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "getMetrics": {
          "parameters": {
            "scriptId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required field indicating the script to get metrics for."
            },
            "metricsGranularity": {
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required field indicating what granularity of metrics are returned.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ]
            },
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Metrics"
          },
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "path": "v1/projects/{scriptId}/metrics",
          "id": "script.projects.getMetrics",
          "parameterOrder": [
            "scriptId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "flatPath": "v1/projects/{scriptId}/metrics"
        },
        "getContent": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Content"
          },
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true
            },
            "versionNumber": {
              "type": "integer",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "format": "int32",
              "location": "query"
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "flatPath": "v1/projects/{scriptId}/content",
          "path": "v1/projects/{scriptId}/content",
          "id": "script.projects.getContent"
        },
        "get": {
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Project"
          },
          "description": "Gets a script project's metadata.",
          "path": "v1/projects/{scriptId}",
          "id": "script.projects.get",
          "parameterOrder": [
            "scriptId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "flatPath": "v1/projects/{scriptId}"
        },
        "create": {
          "id": "script.projects.create",
          "path": "v1/projects",
          "flatPath": "v1/projects",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "response": {
            "$ref": "Project"
          },
          "description": "Creates a new, empty script project with no script files and a base manifest file."
        },
        "updateContent": {
          "id": "script.projects.updateContent",
          "path": "v1/projects/{scriptId}/content",
          "flatPath": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "Content"
          },
          "response": {
            "$ref": "Content"
          },
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project."
        }
      },
      "resources": {
        "deployments": {
          "methods": {
            "delete": {
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "id": "script.projects.deployments.delete",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a deployment of an Apps Script project.",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                },
                "deploymentId": {
                  "description": "The deployment ID to be undeployed.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "create": {
              "id": "script.projects.deployments.create",
              "path": "v1/projects/{scriptId}/deployments",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "DeploymentConfig"
              },
              "response": {
                "$ref": "Deployment"
              },
              "description": "Creates a deployment of an Apps Script project."
            },
            "get": {
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                },
                "deploymentId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The deployment ID."
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Deployment"
              },
              "description": "Gets a deployment of an Apps Script project.",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.get",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}"
            },
            "list": {
              "flatPath": "v1/projects/{scriptId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameterOrder": [
                "scriptId"
              ],
              "id": "script.projects.deployments.list",
              "path": "v1/projects/{scriptId}/deployments",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "description": "Lists the deployments of an Apps Script project.",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query"
                }
              }
            },
            "update": {
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "id": "script.projects.deployments.update",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "PUT",
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "response": {
                "$ref": "Deployment"
              },
              "description": "Updates a deployment of an Apps Script project.",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                },
                "deploymentId": {
                  "description": "The deployment ID for this deployment.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "versions": {
          "methods": {
            "get": {
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                },
                "versionNumber": {
                  "type": "integer",
                  "description": "The version number.",
                  "location": "path",
                  "format": "int32",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Version"
              },
              "description": "Gets a version of a script project.",
              "id": "script.projects.versions.get",
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ]
            },
            "create": {
              "path": "v1/projects/{scriptId}/versions",
              "id": "script.projects.versions.create",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Version"
              },
              "response": {
                "$ref": "Version"
              },
              "description": "Creates a new immutable version using the current code, with a unique version number."
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "description": "List the versions of a script project.",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "path": "v1/projects/{scriptId}/versions",
              "id": "script.projects.versions.list"
            }
          }
        }
      }
    },
    "processes": {
      "methods": {
        "listScriptProcesses": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "description": "List information about a script's executed processes, such as process type and current status.",
          "parameters": {
            "scriptProcessFilter.functionName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query"
            },
            "scriptProcessFilter.endTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32"
            },
            "scriptProcessFilter.startTime": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime",
              "type": "string"
            },
            "scriptProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "scriptId": {
              "type": "string",
              "description": "The script ID of the project whose processes are listed.",
              "location": "query"
            },
            "scriptProcessFilter.types": {
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "repeated": true,
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "location": "query"
            },
            "scriptProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "repeated": true
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string"
            },
            "scriptProcessFilter.statuses": {
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "repeated": true
            }
          },
          "flatPath": "v1/processes:listScriptProcesses",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "parameterOrder": [],
          "id": "script.processes.listScriptProcesses",
          "path": "v1/processes:listScriptProcesses"
        },
        "list": {
          "parameters": {
            "userProcessFilter.statuses": {
              "repeated": true,
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.projectName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "location": "query"
            },
            "userProcessFilter.functionName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string"
            },
            "userProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "userProcessFilter.userAccessLevels": {
              "repeated": true,
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "location": "query",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "type": "string"
            },
            "userProcessFilter.types": {
              "repeated": true,
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "location": "query",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32"
            },
            "userProcessFilter.scriptId": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "location": "query"
            },
            "userProcessFilter.endTime": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime"
            },
            "userProcessFilter.startTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "id": "script.processes.list",
          "path": "v1/processes",
          "flatPath": "v1/processes",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ]
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "httpMethod": "POST",
          "request": {
            "$ref": "ExecutionRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "",
          "parameters": {
            "scriptId": {
              "location": "path",
              "required": true,
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "type": "string"
            }
          },
          "flatPath": "v1/scripts/{scriptId}:run",
          "parameterOrder": [
            "scriptId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "id": "script.scripts.run",
          "path": "v1/scripts/{scriptId}:run"
        }
      }
    }
  },
  "revision": "20260405",
  "batchPath": "batch",
  "protocol": "rest"
}