{
  "protocol": "rest",
  "description": "Manages and executes Google Apps Script projects. ",
  "title": "Apps Script API",
  "discoveryVersion": "v1",
  "id": "script:v1",
  "name": "script",
  "resources": {
    "projects": {
      "methods": {
        "updateContent": {
          "id": "script.projects.updateContent",
          "path": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "parameterOrder": [
            "scriptId"
          ],
          "request": {
            "$ref": "Content"
          },
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "flatPath": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "httpMethod": "PUT",
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "required": true,
              "location": "path"
            }
          }
        },
        "getMetrics": {
          "httpMethod": "GET",
          "parameters": {
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "type": "string",
              "location": "query"
            },
            "scriptId": {
              "type": "string",
              "description": "Required field indicating the script to get metrics for.",
              "required": true,
              "location": "path"
            },
            "metricsGranularity": {
              "description": "Required field indicating what granularity of metrics are returned.",
              "location": "query",
              "type": "string",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ]
            }
          },
          "response": {
            "$ref": "Metrics"
          },
          "flatPath": "v1/projects/{scriptId}/metrics",
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "parameterOrder": [
            "scriptId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "id": "script.projects.getMetrics",
          "path": "v1/projects/{scriptId}/metrics"
        },
        "create": {
          "flatPath": "v1/projects",
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "parameterOrder": [],
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "id": "script.projects.create",
          "path": "v1/projects",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "Project"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "id": "script.projects.get",
          "path": "v1/projects/{scriptId}",
          "flatPath": "v1/projects/{scriptId}",
          "description": "Gets a script project's metadata.",
          "parameterOrder": [
            "scriptId"
          ]
        },
        "getContent": {
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "location": "path",
              "description": "The script project's Drive ID.",
              "required": true,
              "type": "string"
            },
            "versionNumber": {
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Content"
          },
          "id": "script.projects.getContent",
          "path": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/projects/{scriptId}/content"
        }
      },
      "resources": {
        "deployments": {
          "methods": {
            "list": {
              "description": "Lists the deployments of an Apps Script project.",
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments",
              "id": "script.projects.deployments.list",
              "path": "v1/projects/{scriptId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListDeploymentsResponse"
              }
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Deployment"
              },
              "flatPath": "v1/projects/{scriptId}/deployments",
              "description": "Creates a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId"
              ],
              "request": {
                "$ref": "DeploymentConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "id": "script.projects.deployments.create",
              "path": "v1/projects/{scriptId}/deployments"
            },
            "get": {
              "id": "script.projects.deployments.get",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "description": "Gets a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "GET",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                },
                "deploymentId": {
                  "location": "path",
                  "description": "The deployment ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Deployment"
              }
            },
            "delete": {
              "id": "script.projects.deployments.delete",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "description": "Deletes a deployment of an Apps Script project.",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path"
                },
                "deploymentId": {
                  "description": "The deployment ID to be undeployed.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "id": "script.projects.deployments.update",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Updates a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "httpMethod": "PUT",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string"
                },
                "deploymentId": {
                  "location": "path",
                  "description": "The deployment ID for this deployment.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Deployment"
              }
            }
          }
        },
        "versions": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{scriptId}/versions",
              "description": "List the versions of a script project.",
              "parameterOrder": [
                "scriptId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "id": "script.projects.versions.list",
              "path": "v1/projects/{scriptId}/versions",
              "httpMethod": "GET",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListVersionsResponse"
              }
            },
            "create": {
              "flatPath": "v1/projects/{scriptId}/versions",
              "parameterOrder": [
                "scriptId"
              ],
              "request": {
                "$ref": "Version"
              },
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "id": "script.projects.versions.create",
              "path": "v1/projects/{scriptId}/versions",
              "response": {
                "$ref": "Version"
              },
              "httpMethod": "POST",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "versionNumber": {
                  "description": "The version number.",
                  "location": "path",
                  "required": true,
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "Version"
              },
              "id": "script.projects.versions.get",
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "description": "Gets a version of a script project.",
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}"
            }
          }
        }
      }
    },
    "processes": {
      "methods": {
        "listScriptProcesses": {
          "parameterOrder": [],
          "description": "List information about a script's executed processes, such as process type and current status.",
          "flatPath": "v1/processes:listScriptProcesses",
          "id": "script.processes.listScriptProcesses",
          "path": "v1/processes:listScriptProcesses",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script ID of the project whose processes are listed.",
              "location": "query"
            },
            "scriptProcessFilter.endTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query",
              "format": "google-datetime"
            },
            "scriptProcessFilter.types": {
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "location": "query"
            },
            "scriptProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "location": "query",
              "type": "string",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "repeated": true,
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ]
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50."
            },
            "scriptProcessFilter.startTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query",
              "format": "google-datetime"
            },
            "scriptProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "type": "string",
              "location": "query"
            },
            "scriptProcessFilter.functionName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string"
            },
            "scriptProcessFilter.statuses": {
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "type": "string",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string"
            }
          }
        },
        "list": {
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "userProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "userProcessFilter.startTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query",
              "format": "google-datetime"
            },
            "userProcessFilter.types": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ]
            },
            "userProcessFilter.endTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query",
              "format": "google-datetime"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query",
              "format": "int32"
            },
            "userProcessFilter.functionName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query"
            },
            "userProcessFilter.userAccessLevels": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "repeated": true,
              "type": "string",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ]
            },
            "userProcessFilter.scriptId": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "location": "query"
            },
            "userProcessFilter.projectName": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string."
            },
            "userProcessFilter.statuses": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "type": "string",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "script.processes.list",
          "path": "v1/processes",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "parameterOrder": [],
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "flatPath": "v1/processes"
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/scripts/{scriptId}:run",
          "parameterOrder": [
            "scriptId"
          ],
          "request": {
            "$ref": "ExecutionRequest"
          },
          "description": "",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "id": "script.scripts.run",
          "path": "v1/scripts/{scriptId}:run"
        }
      }
    }
  },
  "schemas": {
    "GoogleAppsScriptTypeWebAppConfig": {
      "properties": {
        "access": {
          "description": "Who has permission to run the web app.",
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ]
        },
        "executeAs": {
          "description": "Who to execute the web app as.",
          "type": "string",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ]
        }
      },
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "description": "Web app entry point configuration."
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "description": "An add-on entry point.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "helpUrl": {
          "type": "string",
          "description": "The add-on's optional help URL."
        },
        "addOnType": {
          "type": "string",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "description": "The add-on's required list of supported container types.",
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ]
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "description": "Representation of a single script deployment.",
      "type": "object",
      "properties": {
        "deploymentId": {
          "description": "The deployment ID for this deployment.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last modified date time stamp.",
          "type": "string"
        },
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        },
        "entryPoints": {
          "type": "array",
          "description": "The deployment's entry points.",
          "items": {
            "$ref": "EntryPoint"
          }
        }
      }
    },
    "Version": {
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "versionNumber": {
          "format": "int32",
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "type": "integer"
        },
        "description": {
          "description": "The description for this version.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "When the version was created.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Version",
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified."
    },
    "ListDeploymentsResponse": {
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used in the next call to get the next page of results."
        }
      },
      "id": "ListDeploymentsResponse",
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "type": "object"
    },
    "File": {
      "type": "object",
      "id": "File",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "properties": {
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last modified date timestamp."
        },
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Creation date timestamp.",
          "type": "string"
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user."
        },
        "type": {
          "description": "The type of the file.",
          "type": "string",
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ]
        }
      }
    },
    "GoogleAppsScriptTypeUser": {
      "type": "object",
      "id": "GoogleAppsScriptTypeUser",
      "description": "A simple user profile resource.",
      "properties": {
        "email": {
          "description": "The user's identifying email address.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "domain": {
          "description": "The user's domain.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        }
      }
    },
    "CreateProjectRequest": {
      "id": "CreateProjectRequest",
      "description": "Request to create a script project.",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      }
    },
    "Content": {
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "files": {
          "type": "array",
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "items": {
            "$ref": "File"
          }
        }
      },
      "id": "Content",
      "description": "The Content resource.",
      "type": "object"
    },
    "MetricsValue": {
      "id": "MetricsValue",
      "description": "Metrics value that holds number of executions counted.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Required field indicating the end time of the interval.",
          "format": "google-datetime"
        },
        "value": {
          "format": "uint64",
          "description": "Indicates the number of executions counted.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required field indicating the start time of the interval."
        }
      }
    },
    "EntryPoint": {
      "properties": {
        "entryPointType": {
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "type": "string",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "description": "The type of the entry point."
        },
        "executionApi": {
          "description": "An entry point specification for Apps Script API execution calls.",
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint"
        },
        "addOn": {
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint",
          "description": "Add-on properties."
        },
        "webApp": {
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint",
          "description": "An entry point specification for web apps."
        }
      },
      "id": "EntryPoint",
      "description": "A configuration that defines how a deployment is accessed externally.",
      "type": "object"
    },
    "Project": {
      "id": "Project",
      "description": "The script project resource.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "When the script was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "When the script was last updated.",
          "type": "string"
        },
        "creator": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who originally created the script."
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ScriptStackTraceElement": {
      "properties": {
        "function": {
          "type": "string",
          "description": "The name of the function that failed."
        },
        "lineNumber": {
          "format": "int32",
          "description": "The line number where the script failed.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ScriptStackTraceElement",
      "description": "A stack trace through the script that shows where the execution failed."
    },
    "DeploymentConfig": {
      "id": "DeploymentConfig",
      "description": "Metadata the defines how a deployment is configured.",
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "versionNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The version number on which this deployment is based."
        },
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "properties": {
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig",
          "description": "The entry point's configuration."
        }
      },
      "type": "object",
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "description": "An API executable entry point."
    },
    "ListVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list."
        },
        "versions": {
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListVersionsResponse",
      "description": "Response with the list of the versions for the specified script project."
    },
    "Metrics": {
      "properties": {
        "activeUsers": {
          "type": "array",
          "description": "Number of active users.",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "failedExecutions": {
          "type": "array",
          "description": "Number of failed executions.",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "totalExecutions": {
          "type": "array",
          "description": "Number of total executions.",
          "items": {
            "$ref": "MetricsValue"
          }
        }
      },
      "type": "object",
      "id": "Metrics",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request."
    },
    "GoogleAppsScriptTypeProcess": {
      "type": "object",
      "id": "GoogleAppsScriptTypeProcess",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Time the execution started.",
          "type": "string"
        },
        "userAccessLevel": {
          "type": "string",
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "description": "The executing users access level to the script.",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ]
        },
        "functionName": {
          "description": "Name of the function the started the execution.",
          "type": "string"
        },
        "processStatus": {
          "type": "string",
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ],
          "description": "The executions status.",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ]
        },
        "processType": {
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "type": "string",
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "description": "The executions type."
        },
        "duration": {
          "description": "Duration the execution spent executing.",
          "type": "string",
          "format": "google-duration"
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "runtimeVersion": {
          "type": "string",
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "description": "Which version of maestro to use to execute the script.",
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ]
        }
      }
    },
    "ListUserProcessesResponse": {
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        }
      },
      "type": "object",
      "id": "ListUserProcessesResponse",
      "description": "Response with the list of Process resources."
    },
    "ExecutionRequest": {
      "properties": {
        "parameters": {
          "type": "array",
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "items": {
            "type": "any"
          }
        },
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "sessionState": {
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.",
          "type": "string"
        },
        "devMode": {
          "type": "boolean",
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`."
        }
      },
      "type": "object",
      "id": "ExecutionRequest",
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script."
    },
    "Status": {
      "id": "Status",
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client."
        },
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "format": "int32"
        }
      }
    },
    "UpdateDeploymentRequest": {
      "type": "object",
      "id": "UpdateDeploymentRequest",
      "description": "Request with deployment information to update an existing deployment.",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        }
      }
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "type": "object",
      "properties": {
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeWebAppConfig",
          "description": "The entry point's configuration."
        },
        "url": {
          "type": "string",
          "description": "The URL for the web application."
        }
      }
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "properties": {
        "values": {
          "type": "array",
          "description": "A list of functions composing the set.",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          }
        }
      },
      "id": "GoogleAppsScriptTypeFunctionSet",
      "description": "A set of functions. No duplicates are permitted.",
      "type": "object"
    },
    "ExecutionResponse": {
      "type": "object",
      "id": "ExecutionResponse",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "type": "object",
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "description": "API executable entry point configuration.",
      "properties": {
        "access": {
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "description": "Who has permission to run the API executable.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ]
        }
      }
    },
    "ListScriptProcessesResponse": {
      "id": "ListScriptProcessesResponse",
      "description": "Response with the list of Process resources.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        },
        "processes": {
          "type": "array",
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        }
      }
    },
    "GoogleAppsScriptTypeFunction": {
      "properties": {
        "parameters": {
          "description": "The ordered list of parameter names of the function in the script project.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "The function name in the script project.",
          "type": "string"
        }
      },
      "id": "GoogleAppsScriptTypeFunction",
      "description": "Represents a function in a script project.",
      "type": "object"
    },
    "ExecutionError": {
      "properties": {
        "scriptStackTraceElements": {
          "type": "array",
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "items": {
            "$ref": "ScriptStackTraceElement"
          }
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message thrown by Apps Script, usually localized into the user's language."
        },
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExecutionError",
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects."
    },
    "Operation": {
      "id": "Operation",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed."
        },
        "error": {
          "$ref": "Status",
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error."
        }
      }
    }
  },
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "baseUrl": "https://script.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "revision": "20260504",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "Script",
  "version": "v1",
  "rootUrl": "https://script.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true
}