{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        }
      }
    }
  },
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "name": "script",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "resources": {
    "processes": {
      "methods": {
        "listScriptProcesses": {
          "description": "List information about a script's executed processes, such as process type and current status.",
          "path": "v1/processes:listScriptProcesses",
          "id": "script.processes.listScriptProcesses",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "flatPath": "v1/processes:listScriptProcesses",
          "parameters": {
            "scriptProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.statuses": {
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "repeated": true,
              "type": "string"
            },
            "scriptProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "location": "query",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "repeated": true,
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query"
            },
            "scriptId": {
              "type": "string",
              "description": "The script ID of the project whose processes are listed.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            },
            "scriptProcessFilter.types": {
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "repeated": true
            },
            "scriptProcessFilter.endTime": {
              "type": "string",
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query"
            },
            "scriptProcessFilter.startTime": {
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "scriptProcessFilter.functionName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "parameterOrder": []
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "id": "script.processes.list",
          "path": "v1/processes",
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "parameterOrder": [],
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "flatPath": "v1/processes",
          "parameters": {
            "userProcessFilter.startTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query",
              "format": "google-datetime"
            },
            "userProcessFilter.projectName": {
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.scriptId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.types": {
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ]
            },
            "userProcessFilter.endTime": {
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query"
            },
            "userProcessFilter.functionName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query"
            },
            "userProcessFilter.statuses": {
              "repeated": true,
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ]
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.userAccessLevels": {
              "location": "query",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "repeated": true,
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ]
            }
          }
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "path": "v1/scripts/{scriptId}:run",
          "description": "",
          "httpMethod": "POST",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "request": {
            "$ref": "ExecutionRequest"
          },
          "id": "script.scripts.run",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/scripts/{scriptId}:run",
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "scriptId"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "deployments": {
          "methods": {
            "create": {
              "request": {
                "$ref": "DeploymentConfig"
              },
              "id": "script.projects.deployments.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "description": "Creates a deployment of an Apps Script project.",
              "path": "v1/projects/{scriptId}/deployments",
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Deployment"
              }
            },
            "list": {
              "parameterOrder": [
                "scriptId"
              ],
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "flatPath": "v1/projects/{scriptId}/deployments",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path"
                },
                "pageToken": {
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "id": "script.projects.deployments.list",
              "path": "v1/projects/{scriptId}/deployments",
              "description": "Lists the deployments of an Apps Script project."
            },
            "get": {
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Gets a deployment of an Apps Script project.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "id": "script.projects.deployments.get",
              "response": {
                "$ref": "Deployment"
              },
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string"
                },
                "deploymentId": {
                  "type": "string",
                  "required": true,
                  "description": "The deployment ID.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ]
            },
            "delete": {
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Deletes a deployment of an Apps Script project.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "id": "script.projects.deployments.delete",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "deploymentId": {
                  "description": "The deployment ID to be undeployed.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ]
            },
            "update": {
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "id": "script.projects.deployments.update",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "description": "Updates a deployment of an Apps Script project.",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "deploymentId": {
                  "description": "The deployment ID for this deployment.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Deployment"
              }
            }
          }
        },
        "versions": {
          "methods": {
            "create": {
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Version"
              },
              "request": {
                "$ref": "Version"
              },
              "id": "script.projects.versions.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "path": "v1/projects/{scriptId}/versions"
            },
            "list": {
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "location": "query",
                  "format": "int32"
                },
                "scriptId": {
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "id": "script.projects.versions.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "description": "List the versions of a script project.",
              "path": "v1/projects/{scriptId}/versions"
            },
            "get": {
              "response": {
                "$ref": "Version"
              },
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "parameters": {
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string"
                },
                "versionNumber": {
                  "type": "integer",
                  "required": true,
                  "format": "int32",
                  "location": "path",
                  "description": "The version number."
                }
              },
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "description": "Gets a version of a script project.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "id": "script.projects.versions.get"
            }
          }
        }
      },
      "methods": {
        "getContent": {
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/projects/{scriptId}/content",
          "parameters": {
            "versionNumber": {
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "scriptId": {
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Content"
          },
          "id": "script.projects.getContent",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "path": "v1/projects/{scriptId}/content"
        },
        "get": {
          "id": "script.projects.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "description": "Gets a script project's metadata.",
          "path": "v1/projects/{scriptId}",
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/projects/{scriptId}",
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Project"
          }
        },
        "updateContent": {
          "flatPath": "v1/projects/{scriptId}/content",
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Content"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "path": "v1/projects/{scriptId}/content",
          "id": "script.projects.updateContent",
          "request": {
            "$ref": "Content"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ]
        },
        "getMetrics": {
          "parameterOrder": [
            "scriptId"
          ],
          "response": {
            "$ref": "Metrics"
          },
          "flatPath": "v1/projects/{scriptId}/metrics",
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "Required field indicating the script to get metrics for.",
              "location": "path",
              "type": "string"
            },
            "metricsGranularity": {
              "location": "query",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "description": "Required field indicating what granularity of metrics are returned.",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ]
            },
            "metricsFilter.deploymentId": {
              "type": "string",
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "id": "script.projects.getMetrics",
          "path": "v1/projects/{scriptId}/metrics",
          "description": "Get metrics data for scripts, such as number of executions and active users."
        },
        "create": {
          "flatPath": "v1/projects",
          "parameters": {},
          "response": {
            "$ref": "Project"
          },
          "parameterOrder": [],
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "path": "v1/projects",
          "id": "script.projects.create",
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ]
        }
      }
    }
  },
  "revision": "20260426",
  "basePath": "",
  "rootUrl": "https://script.googleapis.com/",
  "id": "script:v1",
  "protocol": "rest",
  "batchPath": "batch",
  "title": "Apps Script API",
  "schemas": {
    "GoogleAppsScriptTypeUser": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's identifying email address."
        },
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        },
        "domain": {
          "description": "The user's domain.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The user's display name."
        }
      },
      "id": "GoogleAppsScriptTypeUser",
      "description": "A simple user profile resource."
    },
    "Content": {
      "id": "Content",
      "description": "The Content resource.",
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "type": "array"
        }
      }
    },
    "UpdateDeploymentRequest": {
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      },
      "type": "object",
      "id": "UpdateDeploymentRequest",
      "description": "Request with deployment information to update an existing deployment."
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL for the web application.",
          "type": "string"
        },
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        }
      }
    },
    "ListUserProcessesResponse": {
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        }
      },
      "type": "object",
      "id": "ListUserProcessesResponse",
      "description": "Response with the list of Process resources."
    },
    "CreateProjectRequest": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      },
      "id": "CreateProjectRequest",
      "description": "Request to create a script project."
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "type": "object",
      "properties": {
        "access": {
          "type": "string",
          "description": "Who has permission to run the API executable.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      },
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "description": "API executable entry point configuration."
    },
    "GoogleAppsScriptTypeFunction": {
      "properties": {
        "name": {
          "description": "The function name in the script project.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ordered list of parameter names of the function in the script project."
        }
      },
      "type": "object",
      "id": "GoogleAppsScriptTypeFunction",
      "description": "Represents a function in a script project."
    },
    "Deployment": {
      "id": "Deployment",
      "description": "Representation of a single script deployment.",
      "type": "object",
      "properties": {
        "entryPoints": {
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "The deployment's entry points.",
          "type": "array"
        },
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last modified date time stamp."
        },
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        }
      }
    },
    "ExecutionError": {
      "type": "object",
      "properties": {
        "scriptStackTraceElements": {
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "type": "array"
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message thrown by Apps Script, usually localized into the user's language."
        },
        "errorType": {
          "type": "string",
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included."
        }
      },
      "id": "ExecutionError",
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects."
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments."
        },
        "nextPageToken": {
          "description": "The token that can be used in the next call to get the next page of results.",
          "type": "string"
        }
      },
      "id": "ListDeploymentsResponse",
      "description": "Response with the list of deployments for the specified Apps Script project."
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error."
        }
      },
      "type": "object",
      "id": "Status",
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object."
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "description": "An API executable entry point.",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeProcess": {
      "type": "object",
      "properties": {
        "runtimeVersion": {
          "description": "Which version of maestro to use to execute the script.",
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "userAccessLevel": {
          "type": "string",
          "description": "The executing users access level to the script.",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ]
        },
        "processType": {
          "description": "The executions type.",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "type": "string"
        },
        "processStatus": {
          "type": "string",
          "description": "The executions status.",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ]
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration the execution spent executing.",
          "type": "string"
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the execution started.",
          "type": "string"
        }
      },
      "id": "GoogleAppsScriptTypeProcess",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API."
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "description": "Response with the list of the versions for the specified script project.",
      "properties": {
        "versions": {
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list."
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value."
        },
        "error": {
          "$ref": "Status",
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error."
        }
      },
      "type": "object"
    },
    "ExecutionResponse": {
      "properties": {
        "result": {
          "type": "any",
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`."
        }
      },
      "type": "object",
      "id": "ExecutionResponse",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object."
    },
    "ListScriptProcessesResponse": {
      "id": "ListScriptProcessesResponse",
      "description": "Response with the list of Process resources.",
      "type": "object",
      "properties": {
        "processes": {
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "description": "List of processes matching request parameters.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        }
      }
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "type": "object",
      "properties": {
        "access": {
          "type": "string",
          "description": "Who has permission to run the web app.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        },
        "executeAs": {
          "type": "string",
          "description": "Who to execute the web app as.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ]
        }
      },
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "description": "Web app entry point configuration."
    },
    "Metrics": {
      "properties": {
        "totalExecutions": {
          "description": "Number of total executions.",
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array"
        },
        "activeUsers": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of active users."
        },
        "failedExecutions": {
          "description": "Number of failed executions.",
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Metrics",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request."
    },
    "ScriptStackTraceElement": {
      "type": "object",
      "properties": {
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        },
        "lineNumber": {
          "type": "integer",
          "description": "The line number where the script failed.",
          "format": "int32"
        }
      },
      "id": "ScriptStackTraceElement",
      "description": "A stack trace through the script that shows where the execution failed."
    },
    "File": {
      "id": "File",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "The file content."
        },
        "lastModifyUser": {
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "functionSet": {
          "$ref": "GoogleAppsScriptTypeFunctionSet",
          "description": "The defined set of functions in the script file, if any."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation date timestamp."
        },
        "updateTime": {
          "type": "string",
          "description": "Last modified date timestamp.",
          "format": "google-datetime"
        },
        "type": {
          "description": "The type of the file.",
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "type": "string"
        }
      }
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "description": "An add-on entry point.",
      "type": "object",
      "properties": {
        "postInstallTipUrl": {
          "type": "string",
          "description": "The add-on's required post install tip URL."
        },
        "addOnType": {
          "description": "The add-on's required list of supported container types.",
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "type": "string"
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The add-on's required title."
        },
        "helpUrl": {
          "type": "string",
          "description": "The add-on's optional help URL."
        },
        "reportIssueUrl": {
          "type": "string",
          "description": "The add-on's optional report issue URL."
        }
      }
    },
    "EntryPoint": {
      "properties": {
        "addOn": {
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint",
          "description": "Add-on properties."
        },
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        },
        "entryPointType": {
          "type": "string",
          "description": "The type of the entry point.",
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ]
        },
        "webApp": {
          "description": "An entry point specification for web apps.",
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
        }
      },
      "type": "object",
      "id": "EntryPoint",
      "description": "A configuration that defines how a deployment is accessed externally."
    },
    "MetricsValue": {
      "id": "MetricsValue",
      "description": "Metrics value that holds number of executions counted.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Indicates the number of executions counted.",
          "format": "uint64",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required field indicating the start time of the interval.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Required field indicating the end time of the interval.",
          "type": "string"
        }
      }
    },
    "Project": {
      "type": "object",
      "properties": {
        "parentId": {
          "type": "string",
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created."
        },
        "creator": {
          "description": "User who originally created the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who last modified the script."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the script was created.",
          "type": "string"
        },
        "updateTime": {
          "description": "When the script was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Project",
      "description": "The script project resource."
    },
    "ExecutionRequest": {
      "id": "ExecutionRequest",
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "properties": {
        "sessionState": {
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.",
          "type": "string"
        },
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional."
        },
        "devMode": {
          "type": "boolean",
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`."
        }
      },
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DeploymentConfig": {
      "type": "object",
      "properties": {
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "versionNumber": {
          "description": "The version number on which this deployment is based.",
          "format": "int32",
          "type": "integer"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        }
      },
      "id": "DeploymentConfig",
      "description": "Metadata the defines how a deployment is configured."
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "id": "GoogleAppsScriptTypeFunctionSet",
      "description": "A set of functions. No duplicates are permitted.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "description": "A list of functions composing the set.",
          "type": "array"
        }
      }
    },
    "Version": {
      "properties": {
        "versionNumber": {
          "format": "int32",
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "type": "integer"
        },
        "createTime": {
          "description": "When the version was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "description": {
          "type": "string",
          "description": "The description for this version."
        }
      },
      "type": "object",
      "id": "Version",
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified."
    }
  },
  "description": "Manages and executes Google Apps Script projects. ",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://script.googleapis.com/",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Script",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "ownerDomain": "google.com"
}