{
  "title": "Search Ads 360 Reporting API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "SA360",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "basePath": "",
  "mtlsRootUrl": "https://searchads360.mtls.googleapis.com/",
  "revision": "20260413",
  "description": "The Search Ads 360 API allows developers to automate downloading reports from Search Ads 360.",
  "rootUrl": "https://searchads360.googleapis.com/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "version": "v23",
  "ownerDomain": "google.com",
  "baseUrl": "https://searchads360.googleapis.com/",
  "documentationLink": "https://developers.google.com/search-ads/reporting",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "searchads360",
  "ownerName": "Google",
  "protocol": "rest",
  "id": "searchads360:v23",
  "schemas": {
    "GoogleAdsSearchads360V23Resources__MobileDeviceConstant": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__MobileDeviceConstant",
      "properties": {
        "operatingSystemName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The operating system of the mobile device."
        },
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the mobile device constant. Mobile device constant resource names have the form: `mobileDeviceConstants/{criterion_id}`",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of the mobile device constant.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the mobile device.",
          "readOnly": true
        },
        "manufacturerName": {
          "type": "string",
          "description": "Output only. The manufacturer of the mobile device.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MOBILE",
            "TABLET"
          ],
          "description": "Output only. The type of mobile device.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Mobile phones.",
            "Tablets."
          ]
        }
      },
      "description": "A mobile device constant."
    },
    "GoogleAdsSearchads360V23Services__AdGroupAdLabelOperation": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Services__AdGroupAdLabelOperation",
      "properties": {
        "remove": {
          "description": "Remove operation: A resource name for the ad group ad label being removed, in this format: `customers/{customer_id}/adGroupAdLabels/{ad_group_id}~{ad_id}~{label_id}`",
          "type": "string"
        },
        "create": {
          "description": "Create operation: No resource name is expected for the new ad group ad label.",
          "$ref": "GoogleAdsSearchads360V23Resources__AdGroupAdLabel"
        }
      },
      "description": "A single operation (create, remove) on an ad group ad label."
    },
    "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_ResponsiveSearchAdImproveAdStrengthParameters": {
      "description": "Parameters to use when applying a responsive search ad improve ad strength recommendation.",
      "id": "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_ResponsiveSearchAdImproveAdStrengthParameters",
      "properties": {
        "updatedAd": {
          "$ref": "GoogleAdsSearchads360V23Resources__Ad",
          "description": "Updated ad. The current ad's content will be replaced."
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Common__DynamicCustomAsset": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Common__DynamicCustomAsset",
      "properties": {
        "formattedPrice": {
          "type": "string",
          "description": "Formatted price which can be any characters. If set, this attribute will be used instead of 'price', for example, Starting at $20,000.00."
        },
        "iosAppLink": {
          "description": "iOS deep link, for example, exampleApp://content/page.",
          "type": "string"
        },
        "id2": {
          "type": "string",
          "description": "ID2 which can be any sequence of letters and digits, for example, red. ID sequence (ID + ID2) must be unique."
        },
        "itemAddress": {
          "description": "Item address which can be specified in one of the following formats. (1) City, state, code, country, for example, Mountain View, CA, USA. (2) Full address, for example, 123 Boulevard St, Mountain View, CA 94043. (3) Latitude-longitude in the DDD format, for example, 41.40338, 2.17403",
          "type": "string"
        },
        "similarIds": {
          "description": "Similar IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "price": {
          "type": "string",
          "description": "Price which can be number followed by the alphabetic currency code, ISO 4217 standard. Use '.' as the decimal mark, for example, 20,000.00 USD."
        },
        "id": {
          "type": "string",
          "description": "Required. ID which can be any sequence of letters and digits, and must be unique and match the values of remarketing tag, for example, sedan. Required."
        },
        "itemCategory": {
          "description": "Item category, for example, Sedans.",
          "type": "string"
        },
        "androidAppLink": {
          "type": "string",
          "description": "Android deep link, for example, android-app://com.example.android/http/example.com/gizmos?1234."
        },
        "iosAppStoreId": {
          "type": "string",
          "format": "int64",
          "description": "iOS app store ID. This is used to check if the user has the app installed on their device before deep linking. If this field is set, then the ios_app_link field must also be present."
        },
        "itemTitle": {
          "description": "Required. Item title, for example, Mid-size sedan. Required.",
          "type": "string"
        },
        "itemDescription": {
          "type": "string",
          "description": "Item description, for example, Best selling mid-size car."
        },
        "itemSubtitle": {
          "description": "Item subtitle, for example, At your Mountain View dealership.",
          "type": "string"
        },
        "contextualKeywords": {
          "description": "Contextual keywords, for example, Sedans, 4 door sedans.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "salePrice": {
          "description": "Sale price which can be number followed by the alphabetic currency code, ISO 4217 standard. Use '.' as the decimal mark, for example, 15,000.00 USD. Must be less than the 'price' field.",
          "type": "string"
        },
        "formattedSalePrice": {
          "description": "Formatted sale price which can be any characters. If set, this attribute will be used instead of 'sale price', for example, On sale for $15,000.00.",
          "type": "string"
        },
        "imageUrl": {
          "description": "Image URL, for example, http://www.example.com/image.png. The image will not be uploaded as image asset.",
          "type": "string"
        }
      },
      "description": "A dynamic custom asset."
    },
    "GoogleAdsSearchads360V23Common__AudienceInsightsEntity": {
      "description": "A Knowledge Graph entity, represented by its machine id.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Common__AudienceInsightsEntity",
      "properties": {
        "knowledgeGraphMachineId": {
          "description": "Required. The machine ID (mid) of the Knowledge Graph entity.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V23Resources_ListingGroupFilterDimension_Webpage": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources_ListingGroupFilterDimension_Webpage",
      "properties": {
        "conditions": {
          "type": "array",
          "description": "The webpage conditions are case sensitive and these are and-ed together when evaluated for filtering. All the conditions should be of same type. Example1: for URL1 = www.ads.google.com?ocid=1&euid=2 and URL2 = www.ads.google.com?ocid=1 and with \"ocid\" and \"euid\" as url_contains conditions, URL1 will be matched, but URL2 not. Example2 : If URL1 has Label1, Label2 and URL2 has Label2, Label3, then with Label1 and Label2 as custom_label conditions, URL1 will be matched but not URL2. With Label2 as the only custom_label condition then both URL1 and URL2 will be matched.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Resources_ListingGroupFilterDimension_WebpageCondition"
          }
        }
      },
      "description": "Filters for URLs in a page feed and URLs from the advertiser web domain. Several root nodes with this dimension are allowed in an asset group and their conditions are considered in OR."
    },
    "GoogleAdsSearchads360V23Resources__AdGroupCriterionEffectiveLabel": {
      "description": "A relationship between an ad group criterion and an effective label. An effective label is a label inherited or directly assigned to this ad group criterion.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__AdGroupCriterionEffectiveLabel",
      "properties": {
        "resourceName": {
          "description": "Immutable. The resource name of the ad group criterion effective label. Ad group criterion effective label resource names have the form: `customers/{owner_customer_id}/adGroupCriterionEffectiveLabels/{ad_group_id}~{criterion_id}~{label_id}`",
          "type": "string"
        },
        "adGroupCriterion": {
          "description": "Immutable. The ad group criterion to which the effective label is attached.",
          "type": "string"
        },
        "label": {
          "description": "Immutable. The effective label assigned to the ad group criterion.",
          "type": "string"
        },
        "ownerCustomerId": {
          "description": "Output only. The ID of the Customer which owns the effective label.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V23Resources__BackgroundCheckVerificationArtifact": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__BackgroundCheckVerificationArtifact",
      "properties": {
        "finalAdjudicationDateTime": {
          "type": "string",
          "description": "Output only. The timestamp when this background check case result was adjudicated. The format is \"YYYY-MM-DD HH:MM:SS\" in the Google Ads account's timezone. Examples: \"2018-03-05 09:15:00\" or \"2018-02-01 14:34:30\"",
          "readOnly": true
        },
        "caseUrl": {
          "description": "Output only. URL to access background case.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "specific to local services background check."
    },
    "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetsResponse": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetsResponse",
      "properties": {
        "partialFailureError": {
          "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.",
          "$ref": "GoogleRpc__Status"
        },
        "results": {
          "type": "array",
          "description": "All results for the mutate.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetResult"
          }
        }
      },
      "description": "Response message for an asset group asset mutate."
    },
    "GoogleAdsSearchads360V23Resources__LocationInterestView": {
      "description": "A location interest view summarizes the performance of adgroup location interest criteria.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__LocationInterestView",
      "properties": {
        "resourceName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the location interest view. Location interest view resource names have the form: `customers/{customer_id}/locationInterestViews/{campaign_id}~{ad_group_id}~{criterion_id}`"
        }
      }
    },
    "GoogleAdsSearchads360V23Services__PlannedProductReachForecast": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Services__PlannedProductReachForecast",
      "properties": {
        "plannableProductCode": {
          "description": "Selected product for planning. The product codes returned are within the set of the ones returned by ListPlannableProducts when using the same location ID.",
          "type": "string"
        },
        "plannedProductForecast": {
          "$ref": "GoogleAdsSearchads360V23Services__PlannedProductForecast",
          "description": "Forecasted traffic metrics for this product."
        },
        "costMicros": {
          "description": "The cost in micros. This may differ from the product's input allocation if one or more planned products cannot fulfill the budget because of limited inventory.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The forecasted allocation and traffic metrics for a specific product at a point on the reach curve."
    },
    "GoogleAdsSearchads360V23Services__ConfigureCustomerLifecycleGoalsResponse": {
      "description": "Response message for CustomerLifecycleGoalService.ConfigureCustomerLifecycleGoals.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Services__ConfigureCustomerLifecycleGoalsResponse",
      "properties": {
        "result": {
          "description": "result for the customer lifecycle goal configuration.",
          "$ref": "GoogleAdsSearchads360V23Services__ConfigureCustomerLifecycleGoalsResult"
        }
      }
    },
    "GoogleAdsSearchads360V23Common__ShoppingSmartAdInfo": {
      "description": "A Smart Shopping ad.",
      "id": "GoogleAdsSearchads360V23Common__ShoppingSmartAdInfo",
      "properties": {},
      "type": "object"
    },
    "GoogleAdsSearchads360V23Resources__CustomerLabel": {
      "description": "Represents a relationship between a customer and a label. This customer may not have access to all the labels attached to it. Additional CustomerLabels may be returned by increasing permissions with login-customer-id.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__CustomerLabel",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Output only. The resource name of the customer to which the label is attached. Read only.",
          "readOnly": true
        },
        "resourceName": {
          "description": "Immutable. Name of the resource. Customer label resource names have the form: `customers/{customer_id}/customerLabels/{label_id}`",
          "type": "string"
        },
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the label assigned to the customer. Note: the Customer ID portion of the label resource name is not validated when creating a new CustomerLabel."
        }
      }
    },
    "GoogleAdsSearchads360V23Services__MutateConversionValueRulesResponse": {
      "description": "Response message for ConversionValueRuleService.MutateConversionValueRules.",
      "id": "GoogleAdsSearchads360V23Services__MutateConversionValueRulesResponse",
      "properties": {
        "results": {
          "type": "array",
          "description": "All results for the mutate.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateConversionValueRuleResult"
          }
        },
        "partialFailureError": {
          "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.",
          "$ref": "GoogleRpc__Status"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Resources__Asset": {
      "id": "GoogleAdsSearchads360V23Resources__Asset",
      "properties": {
        "youtubeVideoAsset": {
          "description": "Immutable. A YouTube video asset.",
          "$ref": "GoogleAdsSearchads360V23Common__YoutubeVideoAsset"
        },
        "dynamicRealEstateAsset": {
          "description": "A dynamic real estate asset.",
          "$ref": "GoogleAdsSearchads360V23Common__DynamicRealEstateAsset"
        },
        "businessMessageAsset": {
          "description": "A business message asset.",
          "$ref": "GoogleAdsSearchads360V23Common__BusinessMessageAsset"
        },
        "locationAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__LocationAsset",
          "description": "Output only. A location asset.",
          "readOnly": true
        },
        "dynamicCustomAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__DynamicCustomAsset",
          "description": "A dynamic custom asset."
        },
        "fieldTypePolicySummaries": {
          "description": "Output only. Policy information for the asset for each FieldType.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Resources__AssetFieldTypePolicySummary"
          },
          "readOnly": true,
          "type": "array"
        },
        "creationTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this asset was created. The timestamp is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss\" format.",
          "type": "string"
        },
        "type": {
          "description": "Output only. Type of the asset.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "YouTube video asset.",
            "Media bundle asset.",
            "Image asset.",
            "Text asset.",
            "Lead form asset.",
            "Book on Google asset.",
            "Promotion asset.",
            "Callout asset.",
            "Structured Snippet asset.",
            "Sitelink asset.",
            "Page Feed asset.",
            "Dynamic Education asset.",
            "Mobile app asset.",
            "Hotel callout asset.",
            "Call asset.",
            "Price asset.",
            "Call to action asset.",
            "Dynamic real estate asset.",
            "Dynamic custom asset.",
            "Dynamic hotels and rentals asset.",
            "Dynamic flights asset.",
            "Dynamic travel asset.",
            "Dynamic local asset.",
            "Dynamic jobs asset.",
            "Location asset.",
            "Hotel property asset.",
            "Demand Gen Carousel Card asset.",
            "Business message asset.",
            "App deep link asset."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "YOUTUBE_VIDEO",
            "MEDIA_BUNDLE",
            "IMAGE",
            "TEXT",
            "LEAD_FORM",
            "BOOK_ON_GOOGLE",
            "PROMOTION",
            "CALLOUT",
            "STRUCTURED_SNIPPET",
            "SITELINK",
            "PAGE_FEED",
            "DYNAMIC_EDUCATION",
            "MOBILE_APP",
            "HOTEL_CALLOUT",
            "CALL",
            "PRICE",
            "CALL_TO_ACTION",
            "DYNAMIC_REAL_ESTATE",
            "DYNAMIC_CUSTOM",
            "DYNAMIC_HOTELS_AND_RENTALS",
            "DYNAMIC_FLIGHTS",
            "DYNAMIC_TRAVEL",
            "DYNAMIC_LOCAL",
            "DYNAMIC_JOBS",
            "LOCATION",
            "HOTEL_PROPERTY",
            "DEMAND_GEN_CAROUSEL_CARD",
            "BUSINESS_MESSAGE",
            "APP_DEEP_LINK"
          ]
        },
        "orientation": {
          "description": "Output only. Orientation of the asset. This is only supported for image and video assets.",
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Landscape orientation.",
            "Portrait orientation.",
            "Square orientation."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ]
        },
        "dynamicTravelAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__DynamicTravelAsset",
          "description": "A dynamic travel asset."
        },
        "status": {
          "description": "Output only. The status of the asset.",
          "enumDescriptions": [
            "The status has not been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The asset is enabled.",
            "The asset is removed.",
            "The asset is archived.",
            "The asset is system generated pending user review."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED",
            "ARCHIVED",
            "PENDING_SYSTEM_GENERATED"
          ],
          "type": "string"
        },
        "calloutAsset": {
          "description": "A callout asset.",
          "$ref": "GoogleAdsSearchads360V23Common__CalloutAsset"
        },
        "structuredSnippetAsset": {
          "description": "A structured snippet asset.",
          "$ref": "GoogleAdsSearchads360V23Common__StructuredSnippetAsset"
        },
        "finalUrls": {
          "description": "A list of possible final URLs after all cross domain redirects.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hotelPropertyAsset": {
          "description": "Immutable. A hotel property asset.",
          "$ref": "GoogleAdsSearchads360V23Common__HotelPropertyAsset"
        },
        "finalUrlSuffix": {
          "type": "string",
          "description": "URL template for appending params to landing page URLs served with parallel tracking."
        },
        "searchAds360PageFeedAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__UnifiedPageFeedAsset",
          "description": "Output only. A unified page feed asset.",
          "readOnly": true
        },
        "dynamicFlightsAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__DynamicFlightsAsset",
          "description": "A dynamic flights asset."
        },
        "mediaBundleAsset": {
          "description": "Immutable. A media bundle asset.",
          "$ref": "GoogleAdsSearchads360V23Common__MediaBundleAsset"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The ID of the asset.",
          "readOnly": true
        },
        "pageFeedAsset": {
          "description": "A page feed asset.",
          "$ref": "GoogleAdsSearchads360V23Common__PageFeedAsset"
        },
        "sitelinkAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__SitelinkAsset",
          "description": "A sitelink asset."
        },
        "searchAds360SitelinkAsset": {
          "description": "Output only. A unified sitelink asset.",
          "readOnly": true,
          "$ref": "GoogleAdsSearchads360V23Common__UnifiedSitelinkAsset"
        },
        "priceAsset": {
          "description": "A price asset.",
          "$ref": "GoogleAdsSearchads360V23Common__PriceAsset"
        },
        "bookOnGoogleAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__BookOnGoogleAsset",
          "description": "A book on google asset."
        },
        "mobileAppAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__MobileAppAsset",
          "description": "A mobile app asset."
        },
        "hotelCalloutAsset": {
          "description": "A hotel callout asset.",
          "$ref": "GoogleAdsSearchads360V23Common__HotelCalloutAsset"
        },
        "imageAsset": {
          "description": "Output only. An image asset.",
          "readOnly": true,
          "$ref": "GoogleAdsSearchads360V23Common__ImageAsset"
        },
        "urlCustomParameters": {
          "description": "A list of mappings to be used for substituting URL custom parameter tags in the tracking_url_template, final_urls, and/or final_mobile_urls.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Common__CustomParameter"
          },
          "type": "array"
        },
        "dynamicJobsAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__DynamicJobsAsset",
          "description": "A dynamic jobs asset."
        },
        "dynamicLocalAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__DynamicLocalAsset",
          "description": "A dynamic local asset."
        },
        "searchAds360LocationAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__UnifiedLocationAsset",
          "description": "Output only. A unified location asset.",
          "readOnly": true
        },
        "promotionAsset": {
          "description": "A promotion asset.",
          "$ref": "GoogleAdsSearchads360V23Common__PromotionAsset"
        },
        "demandGenCarouselCardAsset": {
          "description": "Immutable. A Demand Gen carousel card asset.",
          "$ref": "GoogleAdsSearchads360V23Common__DemandGenCarouselCardAsset"
        },
        "dynamicHotelsAndRentalsAsset": {
          "description": "A dynamic hotels and rentals asset.",
          "$ref": "GoogleAdsSearchads360V23Common__DynamicHotelsAndRentalsAsset"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the asset. Asset resource names have the form: `customers/{customer_id}/assets/{asset_id}`",
          "type": "string"
        },
        "searchAds360CalloutAsset": {
          "description": "Output only. A unified callout asset.",
          "readOnly": true,
          "$ref": "GoogleAdsSearchads360V23Common__UnifiedCalloutAsset"
        },
        "name": {
          "type": "string",
          "description": "Optional name of the asset."
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Output only. The datetime when this asset was last modified. The datetime is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss.ssssss\" format.",
          "readOnly": true
        },
        "dynamicEducationAsset": {
          "description": "A dynamic education asset.",
          "$ref": "GoogleAdsSearchads360V23Common__DynamicEducationAsset"
        },
        "callAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__CallAsset",
          "description": "A call asset."
        },
        "appDeepLinkAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__AppDeepLinkAsset",
          "description": "Immutable. An app deep link asset."
        },
        "textAsset": {
          "$ref": "GoogleAdsSearchads360V23Common__TextAsset",
          "description": "Immutable. A text asset."
        },
        "finalMobileUrls": {
          "description": "A list of possible final mobile URLs after all cross domain redirects.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "callToActionAsset": {
          "description": "Immutable. A call to action asset.",
          "$ref": "GoogleAdsSearchads360V23Common__CallToActionAsset"
        },
        "searchAds360CallAsset": {
          "description": "Output only. A unified call asset.",
          "readOnly": true,
          "$ref": "GoogleAdsSearchads360V23Common__UnifiedCallAsset"
        },
        "policySummary": {
          "$ref": "GoogleAdsSearchads360V23Resources__AssetPolicySummary",
          "readOnly": true,
          "description": "Output only. Policy information for the asset."
        },
        "engineStatus": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "SERVING",
            "SERVING_LIMITED",
            "DISAPPROVED",
            "DISABLED",
            "REMOVED"
          ],
          "type": "string",
          "description": "Output only. The Engine Status for an asset.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The asset is active.",
            "The asset is active limited.",
            "The asset is disapproved (not eligible).",
            "The asset is inactive (pending).",
            "The asset has been removed."
          ]
        },
        "leadFormAsset": {
          "description": "A lead form asset.",
          "$ref": "GoogleAdsSearchads360V23Common__LeadFormAsset"
        },
        "trackingUrlTemplate": {
          "description": "URL template for constructing a tracking URL.",
          "type": "string"
        },
        "source": {
          "description": "Output only. Source of the asset.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The asset or asset link is provided by advertiser.",
            "The asset or asset link is generated by Google."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ADVERTISER",
            "AUTOMATICALLY_CREATED"
          ]
        }
      },
      "type": "object",
      "description": "Asset is a part of an ad which can be shared across multiple ads. It can be an image (ImageAsset), a video (YoutubeVideoAsset), etc. Assets are immutable and cannot be removed. To stop an asset from serving, remove the asset from the entity that is using it."
    },
    "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_RaiseTargetCpaBidTooLowParameters": {
      "description": "Parameters to use when applying a raise target CPA bid too low recommendation. The apply is asynchronous and can take minutes depending on the number of ad groups there is in the related campaign..",
      "id": "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_RaiseTargetCpaBidTooLowParameters",
      "properties": {
        "targetMultiplier": {
          "description": "Required. A number greater than 1.0 indicating the factor by which to increase the target CPA. This is a required field.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Common__CriterionCategoryChannelAvailability": {
      "id": "GoogleAdsSearchads360V23Common__CriterionCategoryChannelAvailability",
      "properties": {
        "advertisingChannelType": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "SEARCH",
            "DISPLAY",
            "SHOPPING",
            "HOTEL",
            "VIDEO",
            "MULTI_CHANNEL",
            "LOCAL",
            "SMART",
            "PERFORMANCE_MAX",
            "LOCAL_SERVICES",
            "TRAVEL",
            "DEMAND_GEN",
            "SOCIAL"
          ],
          "description": "Channel type the category is available to.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Search Network. Includes display bundled, and Search+ campaigns.",
            "Google Display Network only.",
            "Shopping campaigns serve on the shopping property and on google.com search results.",
            "Hotel Ads campaigns.",
            "Video campaigns.",
            "App Campaigns, and App Campaigns for Engagement, that run across multiple channels.",
            "Local ads campaigns.",
            "Smart campaigns.",
            "Performance Max campaigns.",
            "Local services campaigns.",
            "Travel campaigns.",
            "Demand Gen campaigns.",
            "Social campaigns."
          ],
          "type": "string"
        },
        "advertisingChannelSubType": {
          "description": "Channel subtypes under the channel type the category is available to.",
          "items": {
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "SEARCH_MOBILE_APP",
              "DISPLAY_MOBILE_APP",
              "SEARCH_EXPRESS",
              "DISPLAY_EXPRESS",
              "SHOPPING_SMART_ADS",
              "DISPLAY_GMAIL_AD",
              "DISPLAY_SMART_CAMPAIGN",
              "VIDEO_ACTION",
              "VIDEO_NON_SKIPPABLE",
              "APP_CAMPAIGN",
              "APP_CAMPAIGN_FOR_ENGAGEMENT",
              "LOCAL_CAMPAIGN",
              "SHOPPING_COMPARISON_LISTING_ADS",
              "SMART_CAMPAIGN",
              "VIDEO_SEQUENCE",
              "APP_CAMPAIGN_FOR_PRE_REGISTRATION",
              "VIDEO_REACH_TARGET_FREQUENCY",
              "TRAVEL_ACTIVITIES",
              "SOCIAL_FACEBOOK_TRACKING_ONLY"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Used as a return value only. Represents value unknown in this version.",
              "Mobile app campaigns for Search.",
              "Mobile app campaigns for Display.",
              "AdWords express campaigns for search.",
              "AdWords Express campaigns for display.",
              "Smart Shopping campaigns.",
              "Gmail Ad campaigns.",
              "Smart display campaigns. New campaigns of this sub type cannot be created.",
              "Video TrueView for Action campaigns.",
              "Video campaigns with non-skippable video ads.",
              "App Campaign that lets you easily promote your Android or iOS app across Google's top properties including Search, Play, YouTube, and the Google Display Network.",
              "App Campaign for engagement, focused on driving re-engagement with the app across several of Google's top properties including Search, YouTube, and the Google Display Network.",
              "Campaigns specialized for local advertising.",
              "Shopping Comparison Listing campaigns.",
              "Standard Smart campaigns.",
              "Video campaigns with sequence video ads.",
              "App Campaign for pre registration, specialized for advertising mobile app pre-registration, that targets multiple advertising channels across Google Play, YouTube and Display Network.",
              "Video reach campaign with Target Frequency bidding strategy.",
              "Travel Activities campaigns.",
              "Facebook tracking only social campaigns."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includeDefaultChannelSubType": {
          "type": "boolean",
          "description": "Whether default channel sub type is included. For example, advertising_channel_type being DISPLAY and include_default_channel_sub_type being false means that the default display campaign where channel sub type is not set is not included in this availability configuration."
        },
        "availabilityMode": {
          "type": "string",
          "description": "Format of the channel availability. Can be ALL_CHANNELS (the rest of the fields will not be set), CHANNEL_TYPE (only advertising_channel_type type will be set, the category is available to all sub types under it) or CHANNEL_TYPE_AND_SUBTYPES (advertising_channel_type, advertising_channel_sub_type, and include_default_channel_sub_type will all be set).",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The category is available to campaigns of all channel types and subtypes.",
            "The category is available to campaigns of a specific channel type, including all subtypes under it.",
            "The category is available to campaigns of a specific channel type and subtype(s)."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ALL_CHANNELS",
            "CHANNEL_TYPE_AND_ALL_SUBTYPES",
            "CHANNEL_TYPE_AND_SUBSET_SUBTYPES"
          ]
        }
      },
      "type": "object",
      "description": "Information of advertising channel type and subtypes a category is available in."
    },
    "GoogleAdsSearchads360V23Services__MutateCampaignAssetSetResult": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Services__MutateCampaignAssetSetResult",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Returned for successful operations."
        },
        "campaignAssetSet": {
          "description": "The mutated campaign asset set with only mutable fields after mutate. The field will only be returned when response_content_type is set to \"MUTABLE_RESOURCE\".",
          "$ref": "GoogleAdsSearchads360V23Resources__CampaignAssetSet"
        }
      },
      "description": "The result for the campaign asset set mutate."
    },
    "GoogleAdsSearchads360V23Resources__PaidOrganicSearchTermView": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__PaidOrganicSearchTermView",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Output only. The resource name of the search term view. Search term view resource names have the form: `customers/{customer_id}/paidOrganicSearchTermViews/{campaign_id}~ {ad_group_id}~{URL-base64 search term}`",
          "readOnly": true
        },
        "searchTerm": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The search term."
        }
      },
      "description": "A paid organic search term view providing a view of search stats across ads and organic listings aggregated by search term at the ad group level."
    },
    "GoogleAdsSearchads360V23Errors__ErrorDetails": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Errors__ErrorDetails",
      "properties": {
        "resourceCountDetails": {
          "description": "Details for a resource count limit exceeded error.",
          "$ref": "GoogleAdsSearchads360V23Errors__ResourceCountDetails"
        },
        "unpublishedErrorCode": {
          "type": "string",
          "description": "The error code that should have been returned, but wasn't. This is used when the error code is not published in the client specified version."
        },
        "quotaErrorDetails": {
          "$ref": "GoogleAdsSearchads360V23Errors__QuotaErrorDetails",
          "description": "Details on the quota error, including the scope (account or developer), the rate bucket name and the retry delay."
        },
        "policyViolationDetails": {
          "description": "Describes an ad policy violation.",
          "$ref": "GoogleAdsSearchads360V23Errors__PolicyViolationDetails"
        },
        "policyFindingDetails": {
          "$ref": "GoogleAdsSearchads360V23Errors__PolicyFindingDetails",
          "description": "Describes policy violation findings."
        },
        "budgetPerDayMinimumErrorDetails": {
          "$ref": "GoogleAdsSearchads360V23Errors__BudgetPerDayMinimumErrorDetails",
          "description": "Details for a budget below per-day minimum error."
        }
      },
      "description": "Additional error details."
    },
    "GoogleAdsSearchads360V23Resources__OfflineConversionSummary": {
      "id": "GoogleAdsSearchads360V23Resources__OfflineConversionSummary",
      "properties": {
        "failedCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total count of failed event."
        },
        "jobId": {
          "description": "Output only. Dimension key for last N jobs.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "uploadDate": {
          "description": "Output only. Dimension key for last N days.",
          "readOnly": true,
          "type": "string"
        },
        "successfulCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total count of successful event."
        },
        "pendingCount": {
          "description": "Output only. Total count of pending uploaded event.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Historical upload summary, grouped by upload date or job."
    },
    "GoogleAdsSearchads360V23Resources_Invoice_AccountSummary": {
      "id": "GoogleAdsSearchads360V23Resources_Invoice_AccountSummary",
      "properties": {
        "regulatoryCostsTotalAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total regulatory costs amount, in micros.",
          "readOnly": true
        },
        "subtotalAmountMicros": {
          "readOnly": true,
          "description": "Output only. Total pretax subtotal amount attributable to the account during the service period, in micros.",
          "type": "string",
          "format": "int64"
        },
        "customer": {
          "readOnly": true,
          "description": "Output only. The account associated with the account summary.",
          "type": "string"
        },
        "billingCorrectionSubtotalAmountMicros": {
          "description": "Output only. Pretax billing correction subtotal amount, in micros.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "couponAdjustmentTotalAmountMicros": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total coupon adjustment amount, in micros."
        },
        "exportChargeTotalAmountMicros": {
          "readOnly": true,
          "description": "Output only. Total export charge amount, in micros.",
          "type": "string",
          "format": "int64"
        },
        "taxAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total tax amount attributable to the account during the service period, in micros.",
          "readOnly": true
        },
        "excessCreditAdjustmentTotalAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total excess credit adjustment amount, in micros.",
          "readOnly": true
        },
        "excessCreditAdjustmentSubtotalAmountMicros": {
          "readOnly": true,
          "description": "Output only. Pretax excess credit adjustment subtotal amount, in micros.",
          "type": "string",
          "format": "int64"
        },
        "regulatoryCostSummaries": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of regulatory cost information associated with this account.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Resources_Invoice_RegulatoryCostSummary"
          }
        },
        "couponAdjustmentTaxAmountMicros": {
          "readOnly": true,
          "description": "Output only. Tax on coupon adjustment, in micros.",
          "type": "string",
          "format": "int64"
        },
        "exportChargeSubtotalAmountMicros": {
          "description": "Output only. Pretax export charge subtotal amount, in micros.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "exportChargeTaxAmountMicros": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Tax on export charge, in micros."
        },
        "billingCorrectionTaxAmountMicros": {
          "readOnly": true,
          "description": "Output only. Tax on billing correction, in micros.",
          "type": "string",
          "format": "int64"
        },
        "billingCorrectionTotalAmountMicros": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total billing correction amount, in micros."
        },
        "regulatoryCostsSubtotalAmountMicros": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Pretax regulatory costs subtotal amount, in micros."
        },
        "couponAdjustmentSubtotalAmountMicros": {
          "description": "Output only. Pretax coupon adjustment subtotal amount, in micros.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "regulatoryCostsTaxAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Tax on regulatory costs, in micros.",
          "readOnly": true
        },
        "excessCreditAdjustmentTaxAmountMicros": {
          "readOnly": true,
          "description": "Output only. Tax on excess credit adjustment, in micros.",
          "type": "string",
          "format": "int64"
        },
        "adjustmentSummaries": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of adjustment information associated with this account.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Resources_Invoice_AdjustmentSummary"
          }
        },
        "totalAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total amount attributable to the account during the service period, in micros. This equals the sum of the subtotal_amount_micros and tax_amount_micros.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a summarized view at account level."
    },
    "GoogleAdsSearchads360V23Services__SearchSettings": {
      "id": "GoogleAdsSearchads360V23Services__SearchSettings",
      "properties": {
        "omitResults": {
          "description": "If true, results will be excluded from the response. Otherwise, results will be returned. Default is false.",
          "type": "boolean"
        },
        "returnSummaryRow": {
          "type": "boolean",
          "description": "If true, summary row will be included in the response and sent in a response by itself after all other query results are returned. Default is false."
        },
        "returnTotalResultsCount": {
          "type": "boolean",
          "description": "If true, the total number of results that match the query ignoring the LIMIT clause will be included in the response. Default is false."
        }
      },
      "type": "object",
      "description": "Indicates search settings in request parameter."
    },
    "GoogleAdsSearchads360V23Services_DismissRecommendationResponse_DismissRecommendationResult": {
      "id": "GoogleAdsSearchads360V23Services_DismissRecommendationResponse_DismissRecommendationResult",
      "properties": {
        "resourceName": {
          "description": "Returned for successful dismissals.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The result of dismissing a recommendation."
    },
    "GoogleAdsSearchads360V23Resources__AdvertisingPartnerLinkInvitationIdentifier": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__AdvertisingPartnerLinkInvitationIdentifier",
      "properties": {
        "customer": {
          "description": "Immutable. The resource name of the advertising partner Google Ads account. This field is read only.",
          "type": "string"
        }
      },
      "description": "The identifier for the Advertising Partner Google Ads account."
    },
    "GoogleAdsSearchads360V23Resources__AdGroupCustomizer": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__AdGroupCustomizer",
      "properties": {
        "adGroup": {
          "description": "Immutable. The ad group to which the customizer attribute is linked.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value to associate with the customizer attribute at this level. The value must be of the type specified for the CustomizerAttribute.",
          "$ref": "GoogleAdsSearchads360V23Common__CustomizerValue"
        },
        "status": {
          "description": "Output only. The status of the ad group customizer.",
          "enumDescriptions": [
            "The status has not been specified.",
            "The received value is not known in this version.",
            "The customizer value is enabled.",
            "The customizer value is removed."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED"
          ],
          "type": "string"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the ad group customizer. Ad group customizer resource names have the form: `customers/{customer_id}/adGroupCustomizers/{ad_group_id}~{customizer_attribute_id}`",
          "type": "string"
        },
        "customizerAttribute": {
          "description": "Required. Immutable. The customizer attribute which is linked to the ad group.",
          "type": "string"
        }
      },
      "description": "A customizer value for the associated CustomizerAttribute at the AdGroup level."
    },
    "GoogleAdsSearchads360V23Resources__HotelGroupView": {
      "description": "A hotel group view.",
      "id": "GoogleAdsSearchads360V23Resources__HotelGroupView",
      "properties": {
        "resourceName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the hotel group view. Hotel Group view resource names have the form: `customers/{customer_id}/hotelGroupViews/{ad_group_id}~{criterion_id}`"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Services__CreateOfflineUserDataJobResponse": {
      "description": "Response message for OfflineUserDataJobService.CreateOfflineUserDataJob.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Services__CreateOfflineUserDataJobResponse",
      "properties": {
        "resourceName": {
          "description": "The resource name of the OfflineUserDataJob.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V23Common__LogicalUserListOperandInfo": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Common__LogicalUserListOperandInfo",
      "properties": {
        "userList": {
          "description": "Resource name of a user list as an operand.",
          "type": "string"
        }
      },
      "description": "Operand of logical user list that consists of a user list."
    },
    "GoogleAdsSearchads360V23Common__TransactionAttribute": {
      "id": "GoogleAdsSearchads360V23Common__TransactionAttribute",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Transaction currency code. ISO 4217 three-letter code is used. Required."
        },
        "itemAttribute": {
          "description": "Item attributes of the transaction. Accessible only to customers on the allow-list.",
          "$ref": "GoogleAdsSearchads360V23Common__ItemAttribute"
        },
        "transactionDateTime": {
          "description": "Timestamp when transaction occurred. Required. The format is \"YYYY-MM-DD HH:MM:SS[+/-HH:MM]\", where [+/-HH:MM] is an optional timezone offset from UTC. If the offset is absent, the API will use the account's timezone as default. Examples: \"2018-03-05 09:15:00\" or \"2018-02-01 14:34:30+03:00\"",
          "type": "string"
        },
        "conversionAction": {
          "description": "The resource name of conversion action to report conversions to. Required.",
          "type": "string"
        },
        "transactionAmountMicros": {
          "description": "Transaction amount in micros. Required. Transaction amount in micros needs to be greater than 1000. If item Attributes are provided, it represents the total value of the items, after multiplying the unit price per item by the quantity provided in the ItemAttributes.",
          "format": "double",
          "type": "number"
        },
        "storeAttribute": {
          "$ref": "GoogleAdsSearchads360V23Common__StoreAttribute",
          "description": "Store attributes of the transaction."
        },
        "orderId": {
          "description": "Transaction order id. Useful to group transactions which are part of the same order.",
          "type": "string"
        },
        "customValue": {
          "type": "string",
          "description": "Value of the custom variable for each transaction. Allowed only if a custom key is provided in the store sales metadata."
        }
      },
      "type": "object",
      "description": "Attribute of the store sales transaction."
    },
    "GoogleAdsSearchads360V23Resources__CreditDetails": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__CreditDetails",
      "properties": {
        "creditState": {
          "description": "Output only. Credit state of the lead.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "A credit has been filed and is being processed by Ads backend, but has not been applied to the account yet.",
            "The credit has been issued to the Ads account."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "PENDING",
            "CREDITED"
          ],
          "type": "string"
        },
        "creditStateLastUpdateDateTime": {
          "type": "string",
          "description": "Output only. The date time when the credit state of the lead was last updated. The format is \"YYYY-MM-DD HH:MM:SS\" in the Google Ads account's timezone. Examples: \"2018-03-05 09:15:00\" or \"2018-02-01 14:34:30\"",
          "readOnly": true
        }
      },
      "description": "Represents the credit details of a lead."
    },
    "GoogleAdsSearchads360V23Services__EnablePMaxBrandGuidelinesResponse": {
      "id": "GoogleAdsSearchads360V23Services__EnablePMaxBrandGuidelinesResponse",
      "properties": {
        "results": {
          "type": "array",
          "description": "Campaign enablement results per campaign.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Services__EnablementResult"
          }
        }
      },
      "type": "object",
      "description": "Brand Guidelines campaign enablement response."
    },
    "GoogleAdsSearchads360V23Services__ListBenchmarksProductsResponse": {
      "description": "Response message for BenchmarksService.ListBenchmarksProducts.",
      "id": "GoogleAdsSearchads360V23Services__ListBenchmarksProductsResponse",
      "properties": {
        "benchmarksProducts": {
          "type": "array",
          "description": "The list of products available for benchmarks data.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Services__BenchmarksProductMetadata"
          }
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_CallAssetParameters": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_CallAssetParameters",
      "properties": {
        "adAssetApplyParameters": {
          "$ref": "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_AdAssetApplyParameters",
          "description": "Required. Call assets to be added. This is a required field."
        }
      },
      "description": "Parameters to use when applying call asset recommendations."
    },
    "GoogleAdsSearchads360V23Common__VideoLineupInfo": {
      "id": "GoogleAdsSearchads360V23Common__VideoLineupInfo",
      "properties": {
        "videoLineupId": {
          "description": "ID for a Video lineup. Contact your Google business development representative for details.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A Video lineup criterion."
    },
    "GoogleAdsSearchads360V23Resources_CustomerSkAdNetworkConversionValueSchemaSkAdNetworkConversionValueSchemaEvent_RevenueRange": {
      "id": "GoogleAdsSearchads360V23Resources_CustomerSkAdNetworkConversionValueSchemaSkAdNetworkConversionValueSchemaEvent_RevenueRange",
      "properties": {
        "minEventRevenue": {
          "description": "Output only. For revenue ranges, the minimum value in `currency_code` for which this conversion value would be updated. A value of 0 will be treated as unset.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "maxEventRevenue": {
          "format": "double",
          "type": "number",
          "description": "Output only. For revenue ranges, the maximum value in `currency_code` for which this conversion value would be updated. A value of 0 will be treated as unset.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Defines a range for revenue values."
    },
    "GoogleAdsSearchads360V23Common__WebpageSampleInfo": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Common__WebpageSampleInfo",
      "properties": {
        "sampleUrls": {
          "description": "Webpage sample urls",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "List of sample urls that match the website target"
    },
    "GoogleAdsSearchads360V23Services__MutateGoalResult": {
      "id": "GoogleAdsSearchads360V23Services__MutateGoalResult",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Returned for successful operations."
        }
      },
      "type": "object",
      "description": "The result for the goal mutate."
    },
    "GoogleAdsSearchads360V23Resources__CampaignSearchTermInsight": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__CampaignSearchTermInsight",
      "properties": {
        "categoryLabel": {
          "type": "string",
          "description": "Output only. The label for the search category. An empty string denotes the catch-all category for search terms that didn't fit into another category.",
          "readOnly": true
        },
        "id": {
          "description": "Output only. The ID of the insight.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The ID of the campaign."
        },
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the campaign level search term insight. Campaign level search term insight resource names have the form: `customers/{customer_id}/campaignSearchTermInsights/{campaign_id}~{category_id}`",
          "type": "string"
        }
      },
      "description": "This report provides a high-level view of search demand at the campaign level by grouping similar search terms into categories and showing their search volume. Historical data is available starting March 2023."
    },
    "GoogleAdsSearchads360V23Services__AssetOperation": {
      "description": "A single operation to create an asset. Supported asset types are YoutubeVideoAsset, MediaBundleAsset, ImageAsset, LeadFormAsset, LocationAsset, and ImageAsset. TextAsset can be created with an Ad inline, but it can also be created apart from an Ad like other assets.",
      "id": "GoogleAdsSearchads360V23Services__AssetOperation",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "FieldMask that determines which resource fields are modified in an update."
        },
        "update": {
          "$ref": "GoogleAdsSearchads360V23Resources__Asset",
          "description": "Update operation: The asset is expected to have a valid resource name in this format: `customers/{customer_id}/assets/{asset_id}`"
        },
        "create": {
          "$ref": "GoogleAdsSearchads360V23Resources__Asset",
          "description": "Create operation: No resource name is expected for the new asset."
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Common__ExclusionSegment": {
      "id": "GoogleAdsSearchads360V23Common__ExclusionSegment",
      "properties": {
        "userList": {
          "description": "User list segment to be excluded.",
          "$ref": "GoogleAdsSearchads360V23Common__UserListSegment"
        }
      },
      "type": "object",
      "description": "An audience segment to be excluded from an audience."
    },
    "GoogleAdsSearchads360V23Resources_Campaign_TrackingSetting": {
      "description": "Campaign-level settings for tracking information.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources_Campaign_TrackingSetting",
      "properties": {
        "trackingUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The url used for dynamic tracking."
        }
      }
    },
    "GoogleAdsSearchads360V23Common__LocationAsset": {
      "description": "A location asset.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Common__LocationAsset",
      "properties": {
        "locationOwnershipType": {
          "type": "string",
          "description": "The type of location ownership. If the type is BUSINESS_OWNER, it will be served as a location extension. If the type is AFFILIATE, it will be served as an affiliate location.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Business Owner of location(legacy location extension - LE).",
            "Affiliate location(Third party location extension - ALE)."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BUSINESS_OWNER",
            "AFFILIATE"
          ]
        },
        "businessProfileLocations": {
          "type": "array",
          "description": "The list of business locations for the customer. This will only be returned if the Location Asset is syncing from the Business Profile account. It is possible to have multiple Business Profile listings under the same account that point to the same Place ID.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Common__BusinessProfileLocation"
          }
        },
        "placeId": {
          "type": "string",
          "description": "Place IDs uniquely identify a place in the Google Places database and on Google Maps. This field is unique for a given customer ID and asset type. See https://developers.google.com/places/web-service/place-id to learn more about Place ID."
        }
      }
    },
    "GoogleAdsSearchads360V23Services__RegenerateShareableLinkIdResponse": {
      "type": "object",
      "id": "GoogleAdsSearchads360V23Services__RegenerateShareableLinkIdResponse",
      "properties": {},
      "description": "Response message for ThirdPartyAppAnalyticsLinkService.RegenerateShareableLinkId."
    },
    "GoogleAdsSearchads360V23Common__TextAsset": {
      "description": "A Text asset.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Common__TextAsset",
      "properties": {
        "text": {
          "description": "Text content of the text asset.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportRequest": {
      "description": "Request message for AudienceInsightsService.GenerateInsightsFinderReport.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportRequest",
      "properties": {
        "insightsApplicationInfo": {
          "description": "Optional. Additional information on the application issuing the request.",
          "$ref": "GoogleAdsSearchads360V23Common__AdditionalApplicationInfo"
        },
        "baselineAudience": {
          "description": "Required. A baseline audience for this report, typically all people in a region.",
          "$ref": "GoogleAdsSearchads360V23Services__InsightsAudience"
        },
        "specificAudience": {
          "description": "Required. The specific audience of interest for this report. The insights in the report will be based on attributes more prevalent in this audience than in the report's baseline audience.",
          "$ref": "GoogleAdsSearchads360V23Services__InsightsAudience"
        },
        "customerInsightsGroup": {
          "description": "The name of the customer being planned for. This is a user-defined value.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V23Common__CarrierInfo": {
      "id": "GoogleAdsSearchads360V23Common__CarrierInfo",
      "properties": {
        "carrierConstant": {
          "description": "The Carrier constant resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Carrier Criterion."
    },
    "GoogleAdsSearchads360V23Services__MutateAssetsResponse": {
      "id": "GoogleAdsSearchads360V23Services__MutateAssetsResponse",
      "properties": {
        "partialFailureError": {
          "$ref": "GoogleRpc__Status",
          "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
        },
        "results": {
          "type": "array",
          "description": "All results for the mutate.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateAssetResult"
          }
        }
      },
      "type": "object",
      "description": "Response message for an asset mutate."
    },
    "GoogleAdsSearchads360V23Resources__CampaignConversionGoal": {
      "description": "The biddability setting for the specified campaign only for all conversion actions with a matching category and origin.",
      "id": "GoogleAdsSearchads360V23Resources__CampaignConversionGoal",
      "properties": {
        "origin": {
          "description": "The conversion origin of this campaign conversion goal.",
          "enumDescriptions": [
            "The conversion origin has not been specified.",
            "The conversion origin is not known in this version.",
            "Conversion that occurs when a user visits a website or takes an action there after viewing an ad.",
            "Conversions reported by an offline pipeline which collects local actions from Google-hosted pages (for example, Google Maps, Google Place Page, etc) and attributes them to relevant ad events.",
            "Conversion that occurs when a user performs an action through any app platforms.",
            "Conversion that occurs when a user makes a call from ads.",
            "Conversion that occurs when a user visits or makes a purchase at a physical store.",
            "Conversion that occurs on YouTube.",
            "Conversions that occur through Floodlight tag."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "WEBSITE",
            "GOOGLE_HOSTED",
            "APP",
            "CALL_FROM_ADS",
            "STORE",
            "YOUTUBE_HOSTED",
            "FLOODLIGHT"
          ],
          "type": "string"
        },
        "biddable": {
          "description": "The biddability of the campaign conversion goal.",
          "type": "boolean"
        },
        "campaign": {
          "type": "string",
          "description": "Immutable. The campaign with which this campaign conversion goal is associated."
        },
        "category": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "DEFAULT",
            "PAGE_VIEW",
            "PURCHASE",
            "SIGNUP",
            "DOWNLOAD",
            "ADD_TO_CART",
            "BEGIN_CHECKOUT",
            "SUBSCRIBE_PAID",
            "PHONE_CALL_LEAD",
            "IMPORTED_LEAD",
            "SUBMIT_LEAD_FORM",
            "BOOK_APPOINTMENT",
            "REQUEST_QUOTE",
            "GET_DIRECTIONS",
            "OUTBOUND_CLICK",
            "CONTACT",
            "ENGAGEMENT",
            "STORE_VISIT",
            "STORE_SALE",
            "QUALIFIED_LEAD",
            "CONVERTED_LEAD"
          ],
          "description": "The conversion category of this campaign conversion goal.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Default category.",
            "User visiting a page.",
            "Purchase, sales, or \"order placed\" event.",
            "Signup user action.",
            "Software download action (as for an app).",
            "The addition of items to a shopping cart or bag on an advertiser site.",
            "When someone enters the checkout flow on an advertiser site.",
            "The start of a paid subscription for a product or service.",
            "A call to indicate interest in an advertiser's offering.",
            "A lead conversion imported from an external source into Google Ads.",
            "A submission of a form on an advertiser site indicating business interest.",
            "A booking of an appointment with an advertiser's business.",
            "A quote or price estimate request.",
            "A search for an advertiser's business location with intention to visit.",
            "A click to an advertiser's partner's site.",
            "A call, SMS, email, chat or other type of contact to an advertiser.",
            "A website engagement event such as long site time or a Google Analytics (GA) Smart Goal. Intended to be used for GA, Firebase, GA Gold goal imports.",
            "A visit to a physical store location.",
            "A sale occurring in a physical store.",
            "A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser (marketing/sales team). In the lead-to-sale journey, advertisers get leads, then act on them by reaching out to the consumer. If the consumer is interested and may end up buying their product, the advertiser marks such leads as \"qualified leads\".",
            "A lead conversion imported from an external source into Google Ads, that has further completed a chosen stage as defined by the lead gen advertiser."
          ],
          "type": "string"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the campaign conversion goal. Campaign conversion goal resource names have the form: `customers/{customer_id}/campaignConversionGoals/{campaign_id}~{category}~{origin}`",
          "type": "string"
        },
        "searchAds360Biddable": {
          "type": "boolean",
          "description": "Search Ads 360 biddability of the campaign conversion goal."
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Services__MutateCustomConversionGoalsRequest": {
      "description": "Request message for CustomConversionGoalService.MutateCustomConversionGoals.",
      "id": "GoogleAdsSearchads360V23Services__MutateCustomConversionGoalsRequest",
      "properties": {
        "validateOnly": {
          "description": "If true, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "responseContentType": {
          "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.",
          "enumDescriptions": [
            "Not specified. Will return the resource name only in the response.",
            "The mutate response will be the resource name.",
            "The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned."
          ],
          "enum": [
            "UNSPECIFIED",
            "RESOURCE_NAME_ONLY",
            "MUTABLE_RESOURCE"
          ],
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "Required. The list of operations to perform on individual custom conversion goal.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Services__CustomConversionGoalOperation"
          }
        }
      },
      "type": "object"
    },
    "GoogleProtobuf__Empty": {
      "id": "GoogleProtobuf__Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportResponse": {
      "description": "The response message for AudienceInsightsService.GenerateInsightsFinderReport, containing the shareable URL for the report.",
      "id": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportResponse",
      "properties": {
        "savedReportUrl": {
          "description": "An HTTPS URL providing a deep link into the Insights Finder UI with the report inputs filled in according to the request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Resources__AiMaxSearchTermAdCombinationView": {
      "description": "AiMaxSearchTermAdCombinationView Resource.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Resources__AiMaxSearchTermAdCombinationView",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Output only. The resource name of the AI Max Search Term Ad Combination view AI Max Search Term Ad Combination view resource names have the form: `customers/{customer_id}/aiMaxSearchTermAdCombinationViews/{ad_group_id}~{URL-base64_search_term}~{URL-base64_landing_page}~{URL-base64_headline}`",
          "readOnly": true
        },
        "landingPage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The destination URL, which was dynamically generated. This field is read-only."
        },
        "headline": {
          "description": "Output only. The concatenated string containing headline assets for the ad. Up to three headline assets are concatenated, separated by \" | \". This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "searchTerm": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The search term that triggered the ad. This field is read-only."
        },
        "adGroup": {
          "type": "string",
          "description": "Output only. Ad group where the search term served.",
          "readOnly": true
        }
      }
    },
    "GoogleAdsSearchads360V23Services__MutateSharedSetResult": {
      "description": "The result for the shared set mutate.",
      "id": "GoogleAdsSearchads360V23Services__MutateSharedSetResult",
      "properties": {
        "resourceName": {
          "description": "Returned for successful operations.",
          "type": "string"
        },
        "sharedSet": {
          "$ref": "GoogleAdsSearchads360V23Resources__SharedSet",
          "description": "The mutated shared set with only mutable fields after mutate. The field will only be returned when response_content_type is set to \"MUTABLE_RESOURCE\"."
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Common__AddressInfo": {
      "id": "GoogleAdsSearchads360V23Common__AddressInfo",
      "properties": {
        "streetAddress": {
          "description": "Street address line 1.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        },
        "postalCode": {
          "description": "Postal code.",
          "type": "string"
        },
        "cityName": {
          "description": "Name of the city.",
          "type": "string"
        },
        "provinceCode": {
          "description": "Province or state code.",
          "type": "string"
        },
        "provinceName": {
          "description": "Province or state name.",
          "type": "string"
        },
        "streetAddress2": {
          "description": "Street address line 2. This field is write-only. It is only used for calculating the longitude and latitude of an address when geo_point is empty.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Address for proximity criterion."
    },
    "GoogleAdsSearchads360V23Resources__AdGroupAdLabel": {
      "id": "GoogleAdsSearchads360V23Resources__AdGroupAdLabel",
      "properties": {
        "adGroupAd": {
          "description": "Immutable. The ad group ad to which the label is attached.",
          "type": "string"
        },
        "label": {
          "description": "Immutable. The label assigned to the ad group ad.",
          "type": "string"
        },
        "ownerCustomerId": {
          "readOnly": true,
          "description": "Output only. The ID of the Customer which owns the label.",
          "type": "string",
          "format": "int64"
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the ad group ad label. Ad group ad label resource names have the form: `customers/{owner_customer_id}/adGroupAdLabels/{ad_group_id}~{ad_id}~{label_id}`"
        }
      },
      "type": "object",
      "description": "A relationship between an ad group ad and a label."
    },
    "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_SitelinkAssetParameters": {
      "description": "Parameters to use when applying sitelink asset recommendations.",
      "id": "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_SitelinkAssetParameters",
      "properties": {
        "adAssetApplyParameters": {
          "$ref": "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_AdAssetApplyParameters",
          "description": "Required. Sitelink assets to be added. This is a required field."
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Services__ConversionRateSuggestion": {
      "id": "GoogleAdsSearchads360V23Services__ConversionRateSuggestion",
      "properties": {
        "conversionRate": {
          "description": "The suggested conversion rate. The value is between 0 and 1 (exclusive).",
          "type": "number",
          "format": "double"
        },
        "conversionRateModel": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "CUSTOMER_HISTORY",
            "INVENTORY_AGGRESSIVE",
            "INVENTORY_CONSERVATIVE",
            "INVENTORY_MEDIAN"
          ],
          "description": "Model type used to calculate the suggested conversion rate.",
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Suggested conversion rate for the authenticated customer based on the previous 70 days.",
            "Suggested conversion rate based on an aggressive rate for the entire inventory.",
            "Suggested conversion rate based on a conservative rate for the entire inventory.",
            "Suggested conversion rate based on the median rate for the entire inventory."
          ]
        },
        "plannableProductCode": {
          "type": "string",
          "description": "The code associated with the plannable product (for example: DEMAND_GEN). To list all plannable product codes, use ReachPlanService.ListPlannableProducts."
        },
        "surfaceTargeting": {
          "$ref": "GoogleAdsSearchads360V23Services__SurfaceTargeting",
          "description": "The surfaces associated with the plannable product. If not present, the conversion rate is considered surface agnostic for this product."
        }
      },
      "type": "object",
      "description": "A conversion rate suggestion."
    },
    "GoogleAdsSearchads360V23Common__HotelAdvanceBookingWindowInfo": {
      "description": "Criterion for number of days prior to the stay the booking is being made.",
      "id": "GoogleAdsSearchads360V23Common__HotelAdvanceBookingWindowInfo",
      "properties": {
        "minDays": {
          "format": "int64",
          "type": "string",
          "description": "Low end of the number of days prior to the stay."
        },
        "maxDays": {
          "description": "High end of the number of days prior to the stay.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Common__LeadFormField": {
      "description": "One input field instance within a form.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Common__LeadFormField",
      "properties": {
        "singleChoiceAnswers": {
          "$ref": "GoogleAdsSearchads360V23Common__LeadFormSingleChoiceAnswers",
          "description": "Answer configuration for a single choice question. Can be set only for pre-vetted question fields. Minimum of 2 answers required and maximum of 12 allowed."
        },
        "inputType": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "FULL_NAME",
            "EMAIL",
            "PHONE_NUMBER",
            "POSTAL_CODE",
            "STREET_ADDRESS",
            "CITY",
            "REGION",
            "COUNTRY",
            "WORK_EMAIL",
            "COMPANY_NAME",
            "WORK_PHONE",
            "JOB_TITLE",
            "GOVERNMENT_ISSUED_ID_CPF_BR",
            "GOVERNMENT_ISSUED_ID_DNI_AR",
            "GOVERNMENT_ISSUED_ID_DNI_PE",
            "GOVERNMENT_ISSUED_ID_RUT_CL",
            "GOVERNMENT_ISSUED_ID_CC_CO",
            "GOVERNMENT_ISSUED_ID_CI_EC",
            "GOVERNMENT_ISSUED_ID_RFC_MX",
            "FIRST_NAME",
            "LAST_NAME",
            "VEHICLE_MODEL",
            "VEHICLE_TYPE",
            "PREFERRED_DEALERSHIP",
            "VEHICLE_PURCHASE_TIMELINE",
            "VEHICLE_OWNERSHIP",
            "VEHICLE_PAYMENT_TYPE",
            "VEHICLE_CONDITION",
            "COMPANY_SIZE",
            "ANNUAL_SALES",
            "YEARS_IN_BUSINESS",
            "JOB_DEPARTMENT",
            "JOB_ROLE",
            "OVER_18_AGE",
            "OVER_19_AGE",
            "OVER_20_AGE",
            "OVER_21_AGE",
            "OVER_22_AGE",
            "OVER_23_AGE",
            "OVER_24_AGE",
            "OVER_25_AGE",
            "OVER_26_AGE",
            "OVER_27_AGE",
            "OVER_28_AGE",
            "OVER_29_AGE",
            "OVER_30_AGE",
            "OVER_31_AGE",
            "OVER_32_AGE",
            "OVER_33_AGE",
            "OVER_34_AGE",
            "OVER_35_AGE",
            "OVER_36_AGE",
            "OVER_37_AGE",
            "OVER_38_AGE",
            "OVER_39_AGE",
            "OVER_40_AGE",
            "OVER_41_AGE",
            "OVER_42_AGE",
            "OVER_43_AGE",
            "OVER_44_AGE",
            "OVER_45_AGE",
            "OVER_46_AGE",
            "OVER_47_AGE",
            "OVER_48_AGE",
            "OVER_49_AGE",
            "OVER_50_AGE",
            "OVER_51_AGE",
            "OVER_52_AGE",
            "OVER_53_AGE",
            "OVER_54_AGE",
            "OVER_55_AGE",
            "OVER_56_AGE",
            "OVER_57_AGE",
            "OVER_58_AGE",
            "OVER_59_AGE",
            "OVER_60_AGE",
            "OVER_61_AGE",
            "OVER_62_AGE",
            "OVER_63_AGE",
            "OVER_64_AGE",
            "OVER_65_AGE",
            "EDUCATION_PROGRAM",
            "EDUCATION_COURSE",
            "PRODUCT",
            "SERVICE",
            "OFFER",
            "CATEGORY",
            "PREFERRED_CONTACT_METHOD",
            "PREFERRED_LOCATION",
            "PREFERRED_CONTACT_TIME",
            "PURCHASE_TIMELINE",
            "YEARS_OF_EXPERIENCE",
            "JOB_INDUSTRY",
            "LEVEL_OF_EDUCATION",
            "PROPERTY_TYPE",
            "REALTOR_HELP_GOAL",
            "PROPERTY_COMMUNITY",
            "PRICE_RANGE",
            "NUMBER_OF_BEDROOMS",
            "FURNISHED_PROPERTY",
            "PETS_ALLOWED_PROPERTY",
            "NEXT_PLANNED_PURCHASE",
            "EVENT_SIGNUP_INTEREST",
            "PREFERRED_SHOPPING_PLACES",
            "FAVORITE_BRAND",
            "TRANSPORTATION_COMMERCIAL_LICENSE_TYPE",
            "EVENT_BOOKING_INTEREST",
            "DESTINATION_COUNTRY",
            "DESTINATION_CITY",
            "DEPARTURE_COUNTRY",
            "DEPARTURE_CITY",
            "DEPARTURE_DATE",
            "RETURN_DATE",
            "NUMBER_OF_TRAVELERS",
            "TRAVEL_BUDGET",
            "TRAVEL_ACCOMMODATION"
          ],
          "description": "Describes the input type, which may be a predefined type such as \"full name\" or a pre-vetted question like \"What kind of vehicle do you have?\".",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The user will be asked to fill in their given and family name. This field cannot be set at the same time as GIVEN_NAME or FAMILY_NAME.",
            "The user will be asked to fill in their email address.",
            "The user will be asked to fill in their phone number.",
            "The user will be asked to fill in their zip code.",
            "The user will be asked to fill in their street address.",
            "The user will be asked to fill in their city.",
            "The user will be asked to fill in their region part of the address (for example, state for US, province for Canada).",
            "The user will be asked to fill in their country.",
            "The user will be asked to fill in their work email address.",
            "The user will be asked to fill in their company name.",
            "The user will be asked to fill in their work phone.",
            "The user will be asked to fill in their job title.",
            "The user will be asked to fill in their CPF for Brazil users.",
            "The user will be asked to fill in their DNI for Argentina users.",
            "The user will be asked to fill in their DNI for Peru users.",
            "The user will be asked to fill in their RUT for Chile users.",
            "The user will be asked to fill in their CC for Colombia users.",
            "The user will be asked to fill in their CI for Ecuador users.",
            "The user will be asked to fill in their RFC for Mexico users.",
            "The user will be asked to fill in their first name. This field can not be set at the same time as FULL_NAME.",
            "The user will be asked to fill in their last name. This field can not be set at the same time as FULL_NAME.",
            "Question: \"Which model are you interested in?\" Category: \"Auto\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Which type of vehicle are you interested in?\" Category: \"Auto\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"What is your preferred dealership?\" Category: \"Auto\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"When do you plan on purchasing a vehicle?\" Category: \"Auto\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Do you own a vehicle?\" Category: \"Auto\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"What vehicle ownership option are you interested in?\" Category: \"Auto\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"What type of vehicle condition are you interested in?\" Category: \"Auto\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"What size is your company?\" Category: \"Business\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"What is your annual sales volume?\" Category: \"Business\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"How many years have you been in business?\" Category: \"Business\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"What is your job department?\" Category: \"Business\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"What is your job role?\" Category: \"Business\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 18 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 19 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 20 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 21 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 22 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 23 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 24 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 25 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 26 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 27 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 28 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 29 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 30 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 31 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 32 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 33 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 34 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 35 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 36 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 37 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 38 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 39 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 40 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 41 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 42 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 43 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 44 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 45 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 46 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 47 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 48 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 49 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 50 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 51 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
            "Question: \"Are you over 52 years of age?\" Category: \"Demographics\" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.",
[...]
