{
  "version_module": true,
  "documentationLink": "https://developers.google.com/search-ads/reporting",
  "kind": "discovery#restDescription",
  "description": "The Search Ads 360 API allows developers to automate downloading reports from Search Ads 360.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://searchads360.googleapis.com/",
  "baseUrl": "https://searchads360.googleapis.com/",
  "name": "searchads360",
  "resources": {
    "v23": {
      "methods": {
        "listBenchmarksAvailableDates": {
          "description": "Returns a date range that supports benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksAvailableDatesResponse"
          },
          "id": "searchads360.listBenchmarksAvailableDates",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "flatPath": "v23:listBenchmarksAvailableDates",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksAvailableDatesRequest"
          },
          "parameters": {},
          "path": "v23:listBenchmarksAvailableDates"
        },
        "listPlannableLocations": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableLocationsResponse"
          },
          "description": "Returns the list of plannable locations (for example, countries). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "path": "v23:listPlannableLocations",
          "parameters": {},
          "flatPath": "v23:listPlannableLocations",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableLocationsRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.listPlannableLocations",
          "httpMethod": "POST"
        },
        "generateConversionRates": {
          "description": "Returns a collection of conversion rate suggestions for supported plannable products. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateConversionRatesResponse"
          },
          "parameterOrder": [],
          "flatPath": "v23:generateConversionRates",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateConversionRatesRequest"
          },
          "id": "searchads360.generateConversionRates",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23:generateConversionRates",
          "parameters": {}
        },
        "listBenchmarksSources": {
          "parameters": {},
          "path": "v23:listBenchmarksSources",
          "id": "searchads360.listBenchmarksSources",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "flatPath": "v23:listBenchmarksSources",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksSourcesRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksSourcesResponse"
          },
          "description": "Returns the list of benchmarks sources (for example, Industry Verticals). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
        },
        "listBenchmarksLocations": {
          "description": "Returns the list of locations that support benchmarks (for example, countries). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksLocationsResponse"
          },
          "flatPath": "v23:listBenchmarksLocations",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksLocationsRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.listBenchmarksLocations",
          "httpMethod": "POST",
          "path": "v23:listBenchmarksLocations",
          "parameters": {}
        },
        "listBenchmarksProducts": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksProductsResponse"
          },
          "description": "Returns the list of products that supports benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "path": "v23:listBenchmarksProducts",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v23:listBenchmarksProducts",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksProductsRequest"
          },
          "id": "searchads360.listBenchmarksProducts",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "listPlannableUserLists": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserListsResponse"
          },
          "description": "Returns the list of plannable user lists with their plannable status. User lists may not be plannable for a number of reasons, including: - They are less than 10 days old. - They have a membership lifespan that is less than 30 days - They have less than 10,000 or more than 700,000 users. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [ReachPlanError]() [RequestError]()",
          "parameters": {},
          "path": "v23:listPlannableUserLists",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.listPlannableUserLists",
          "httpMethod": "POST",
          "flatPath": "v23:listPlannableUserLists",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserListsRequest"
          },
          "parameterOrder": []
        },
        "listPlannableProducts": {
          "flatPath": "v23:listPlannableProducts",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableProductsRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.listPlannableProducts",
          "httpMethod": "POST",
          "path": "v23:listPlannableProducts",
          "parameters": {},
          "description": "Returns the list of per-location plannable YouTube ad formats with allowed targeting. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableProductsResponse"
          }
        },
        "listPlannableUserInterests": {
          "path": "v23:listPlannableUserInterests",
          "parameters": {},
          "flatPath": "v23:listPlannableUserInterests",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserInterestsRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.listPlannableUserInterests",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserInterestsResponse"
          },
          "description": "Returns the list of plannable user interests. A plannable user interest is one that can be targeted in a reach forecast using ReachPlanService.GenerateReachForecast. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [ListOperationError]() [QuotaError]() [RequestError]() [StringLengthError]()"
        }
      }
    },
    "geoTargetConstants": {
      "methods": {
        "suggest": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestGeoTargetConstantsResponse"
          },
          "description": "Returns GeoTargetConstant suggestions by location name or by resource name. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [GeoTargetConstantSuggestionError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameters": {},
          "path": "v23/geoTargetConstants:suggest",
          "id": "searchads360.geoTargetConstants.suggest",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "flatPath": "v23/geoTargetConstants:suggest",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestGeoTargetConstantsRequest"
          }
        }
      }
    },
    "audienceInsights": {
      "methods": {
        "listInsightsEligibleDates": {
          "description": "Lists date ranges for which audience insights data can be requested. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListInsightsEligibleDatesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.audienceInsights.listInsightsEligibleDates",
          "httpMethod": "POST",
          "flatPath": "v23/audienceInsights:listInsightsEligibleDates",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListInsightsEligibleDatesRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "path": "v23/audienceInsights:listInsightsEligibleDates"
        }
      }
    },
    "searchAds360Fields": {
      "methods": {
        "get": {
          "description": "Returns just the requested field. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Resources__SearchAds360Field"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.searchAds360Fields.get",
          "httpMethod": "GET",
          "flatPath": "v23/searchAds360Fields/{searchAds360FieldsId}",
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "type": "string",
              "pattern": "^searchAds360Fields/[^/]+$",
              "description": "Required. The resource name of the field to get.",
              "location": "path",
              "required": true
            }
          },
          "path": "v23/{+resourceName}"
        },
        "search": {
          "description": "Returns all fields that match the search [query](/search-ads/reporting/concepts/field-service#use_a_query_to_get_field_details). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SearchSearchAds360FieldsResponse"
          },
          "id": "searchads360.searchAds360Fields.search",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "flatPath": "v23/searchAds360Fields:search",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SearchSearchAds360FieldsRequest"
          },
          "parameters": {},
          "path": "v23/searchAds360Fields:search"
        }
      }
    },
    "customers": {
      "methods": {
        "generateAudienceDefinition": {
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateAudienceDefinition",
          "id": "searchads360.customers.generateAudienceDefinition",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:generateAudienceDefinition",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionResponse"
          },
          "description": "Returns a collection of audience attributes using generative AI based on the provided audience description. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
        },
        "suggestTravelAssets": {
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer."
            }
          },
          "path": "v23/customers/{+customerId}:suggestTravelAssets",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.suggestTravelAssets",
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:suggestTravelAssets",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsResponse"
          },
          "description": "Returns Travel Asset suggestions. Asset suggestions are returned on a best-effort basis. There are no guarantees that all possible asset types will be returned for any given hotel property."
        },
        "generateSuggestedTargetingInsights": {
          "flatPath": "v23/customers/{customersId}:generateSuggestedTargetingInsights",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.generateSuggestedTargetingInsights",
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:generateSuggestedTargetingInsights",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer."
            }
          },
          "description": "Returns a collection of targeting insights (e.g. targetable audiences) that are relevant to the requested audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsResponse"
          }
        },
        "generateKeywordHistoricalMetrics": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsResponse"
          },
          "description": "Returns a list of keyword historical metrics. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "description": "The ID of the customer with the recommendation.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateKeywordHistoricalMetrics",
          "id": "searchads360.customers.generateKeywordHistoricalMetrics",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:generateKeywordHistoricalMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsRequest"
          }
        },
        "suggestSmartCampaignAd": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.suggestSmartCampaignAd",
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignAd",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$"
            }
          },
          "path": "v23/customers/{+customerId}:suggestSmartCampaignAd",
          "description": "Suggests a Smart campaign ad compatible with the Ad family of resources, based on data points such as targeting and the business to advertise.",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdResponse"
          }
        },
        "listAccessibleCustomers": {
          "description": "Returns resource names of customers directly accessible by the user authenticating the call. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAccessibleCustomersResponse"
          },
          "id": "searchads360.customers.listAccessibleCustomers",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "flatPath": "v23/customers:listAccessibleCustomers",
          "parameters": {},
          "path": "v23/customers:listAccessibleCustomers"
        },
        "searchAudienceInsightsAttributes": {
          "path": "v23/customers/{+customerId}:searchAudienceInsightsAttributes",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:searchAudienceInsightsAttributes",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesRequest"
          },
          "id": "searchads360.customers.searchAudienceInsightsAttributes",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesResponse"
          },
          "description": "Searches for audience attributes that can be used to generate insights. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()"
        },
        "getIdentityVerification": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GetIdentityVerificationResponse"
          },
          "description": "Returns Identity Verification information. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer for whom we are requesting verification information.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}/getIdentityVerification",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.getIdentityVerification",
          "httpMethod": "GET",
          "flatPath": "v23/customers/{customersId}/getIdentityVerification",
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateKeywordIdeas": {
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:generateKeywordIdeas",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequest"
          },
          "id": "searchads360.customers.generateKeywordIdeas",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:generateKeywordIdeas",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "The ID of the customer with the recommendation.",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns a list of keyword ideas. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [KeywordPlanIdeaError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeaResponse"
          }
        },
        "removeCampaignAutomaticallyCreatedAsset": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetResponse"
          },
          "description": "Removes automatically created assets from a campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ContextError]() [FieldError]() [InternalError]() [MutateError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer whose assets are being removed.",
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:removeCampaignAutomaticallyCreatedAsset",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.removeCampaignAutomaticallyCreatedAsset",
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:removeCampaignAutomaticallyCreatedAsset",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetRequest"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "mutate": {
          "description": "Updates a customer. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldMaskError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [UrlFieldError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerResponse"
          },
          "id": "searchads360.customers.mutate",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:mutate",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerRequest"
          },
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Required. The ID of the customer being modified.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "path": "v23/customers/{+customerId}:mutate"
        },
        "suggestSmartCampaignBudgetOptions": {
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignBudgetOptions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsRequest"
          },
          "id": "searchads360.customers.suggestSmartCampaignBudgetOptions",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:suggestSmartCampaignBudgetOptions",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer whose budget options are to be suggested.",
              "type": "string"
            }
          },
          "description": "Returns BudgetOption suggestions.",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsResponse"
          }
        },
        "generateAudienceOverlapInsights": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsResponse"
          },
          "description": "Returns a collection of audience attributes along with estimates of the overlap between their potential YouTube reach and that of a given input attribute. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer."
            }
          },
          "path": "v23/customers/{+customerId}:generateAudienceOverlapInsights",
          "id": "searchads360.customers.generateAudienceOverlapInsights",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:generateAudienceOverlapInsights",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsRequest"
          }
        },
        "generateAdGroupThemes": {
          "flatPath": "v23/customers/{customersId}:generateAdGroupThemes",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.generateAdGroupThemes",
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:generateAdGroupThemes",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Returns a list of suggested AdGroups and suggested modifications (text, match type) for the given keywords. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesResponse"
          }
        },
        "createCustomerClient": {
          "flatPath": "v23/customers/{customersId}:createCustomerClient",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.createCustomerClient",
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:createCustomerClient",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the Manager under whom client customer is being created.",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Creates a new client under manager. The new client customer is returned. List of thrown errors: [AccessInvitationError]() [AuthenticationError]() [AuthorizationError]() [CurrencyCodeError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [QuotaError]() [RequestError]() [StringLengthError]() [TimeZoneError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientResponse"
          }
        },
        "startIdentityVerification": {
          "path": "v23/customers/{+customerId}:startIdentityVerification",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The Id of the customer for whom we are creating this verification.",
              "type": "string"
            }
          },
          "flatPath": "v23/customers/{customersId}:startIdentityVerification",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__StartIdentityVerificationRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.startIdentityVerification",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleProtobuf__Empty"
          },
          "description": "Starts Identity Verification for a given verification program type. Statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
        },
        "generateAudienceCompositionInsights": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsResponse"
          },
          "description": "Returns a collection of attributes that are represented in an audience of interest, with metrics that compare each attribute's share of the audience with its share of a baseline audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true
            }
          },
          "path": "v23/customers/{+customerId}:generateAudienceCompositionInsights",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.generateAudienceCompositionInsights",
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:generateAudienceCompositionInsights",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequest"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateKeywordForecastMetrics": {
          "parameters": {
            "customerId": {
              "description": "The ID of the customer.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateKeywordForecastMetrics",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.generateKeywordForecastMetrics",
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:generateKeywordForecastMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsResponse"
          },
          "description": "Returns metrics (such as impressions, clicks, total cost) of a keyword forecast for the given campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
        },
        "generateReachForecast": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastResponse"
          },
          "description": "Generates a reach forecast for a given targeting / product mix. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [ReachPlanError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true
            }
          },
          "path": "v23/customers/{+customerId}:generateReachForecast",
          "id": "searchads360.customers.generateReachForecast",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:generateReachForecast",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastRequest"
          }
        },
        "generateInsightsFinderReport": {
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$"
            }
          },
          "path": "v23/customers/{+customerId}:generateInsightsFinderReport",
          "id": "searchads360.customers.generateInsightsFinderReport",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:generateInsightsFinderReport",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportResponse"
          },
          "description": "Creates a saved report that can be viewed in the Insights Finder tool. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()"
        },
        "uploadUserData": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataResponse"
          },
          "description": "Uploads the given user data. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]() [UserDataError]()",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer for which to update the user data.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:uploadUserData",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.uploadUserData",
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:uploadUserData",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataRequest"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateTargetingSuggestionMetrics": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.generateTargetingSuggestionMetrics",
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:generateTargetingSuggestionMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$"
            }
          },
          "path": "v23/customers/{+customerId}:generateTargetingSuggestionMetrics",
          "description": "Returns potential reach metrics for targetable audiences. This method helps answer questions like \"How many Men aged 18+ interested in Camping can be reached on YouTube?\" List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsResponse"
          }
        },
        "generateBenchmarksMetrics": {
          "description": "Returns YouTube advertisement metrics for the given client against industry benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BenchmarksError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:generateBenchmarksMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsRequest"
          },
          "id": "searchads360.customers.generateBenchmarksMetrics",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:generateBenchmarksMetrics",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Required. The ID of the customer. Supply a client customer ID to generate metrics for the customer. A manager account customer ID will not return customer metrics since it does not have any associated direct ad campaigns.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          }
        },
        "suggestKeywordThemes": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesResponse"
          },
          "description": "Suggests keyword themes to advertise on.",
          "path": "v23/customers/{+customerId}:suggestKeywordThemes",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "type": "string"
            }
          },
          "flatPath": "v23/customers/{customersId}:suggestKeywordThemes",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.suggestKeywordThemes",
          "httpMethod": "POST"
        }
      },
      "resources": {
        "customInterests": {
          "methods": {
            "mutate": {
              "description": "Creates or updates custom interests. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CriterionError]() [CustomInterestError]() [HeaderError]() [InternalError]() [MutateError]() [PolicyViolationError]() [QuotaError]() [RequestError]() [StringLengthError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomInterestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.customInterests.mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/customInterests:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomInterestsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose custom interests are being modified.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v23/customers/{+customerId}/customInterests:mutate"
            }
          }
        },
        "assets": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/assets:mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose assets are being modified.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v23/customers/{customersId}/assets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.assets.mutate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetsResponse"
              },
              "description": "Creates assets. Operation statuses are returned. List of thrown errors: [AssetError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [CurrencyCodeError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MediaUploadError]() [MutateError]() [NotAllowlistedError]() [NotEmptyError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]() [YoutubeVideoRegistrationError]()"
            }
          }
        },
        "experiments": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes experiments. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateExperimentsResponse"
              },
              "id": "searchads360.customers.experiments.mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/experiments:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateExperimentsRequest"
              },
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose experiments are being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/experiments:mutate"
            },
            "listExperimentAsyncErrors": {
              "description": "Returns all errors that occurred during the last Experiment update (either scheduling or promotion). Supports standard list paging. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ListExperimentAsyncErrorsResponse"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:listExperimentAsyncErrors",
              "id": "searchads360.customers.experiments.listExperimentAsyncErrors",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/{+resourceName}:listExperimentAsyncErrors",
              "parameters": {
                "resourceName": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the experiment from which to retrieve the async errors.",
                  "pattern": "^customers/[^/]+/experiments/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token of the page to retrieve. If not specified, the first page of results will be returned. Use the value obtained from `next_page_token` in the previous response in order to request the next page of results."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Number of elements to retrieve in a single page. When a page request is too large, the server may decide to further limit the number of returned resources. The maximum page size is 1000.",
                  "location": "query",
                  "type": "integer"
                }
              }
            },
            "scheduleExperiment": {
              "parameterOrder": [
                "resourceName"
              ],
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:scheduleExperiment",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ScheduleExperimentRequest"
              },
              "id": "searchads360.customers.experiments.scheduleExperiment",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/{+resourceName}:scheduleExperiment",
              "parameters": {
                "resourceName": {
                  "pattern": "^customers/[^/]+/experiments/[^/]+$",
                  "description": "Required. The scheduled experiment.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Schedule an experiment. The in design campaign will be converted into a real campaign (called the experiment campaign) that will begin serving ads if successfully created. The experiment is scheduled immediately with status INITIALIZING. This method returns a long running operation that tracks the forking of the in design campaign. If the forking fails, a list of errors can be retrieved using the ListExperimentAsyncErrors method. The operation's metadata will be a string containing the resource name of the created experiment. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [DatabaseError]() [DateError]() [DateRangeError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              }
            },
            "promoteExperiment": {
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              },
              "description": "Promotes the trial campaign thus applying changes in the trial campaign to the base campaign. This method returns a long running operation that tracks the promotion of the experiment campaign. If it fails, a list of errors can be retrieved using the ListExperimentAsyncErrors method. The operation's metadata will be a string containing the resource name of the created experiment. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "parameters": {
                "resourceName": {
                  "pattern": "^customers/[^/]+/experiments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the experiment to promote.",
                  "type": "string"
                }
              },
              "path": "v23/{+resourceName}:promoteExperiment",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.experiments.promoteExperiment",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:promoteExperiment",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__PromoteExperimentRequest"
              },
              "parameterOrder": [
                "resourceName"
              ]
            },
            "graduateExperiment": {
              "description": "Graduates an experiment to a full campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              },
              "id": "searchads360.customers.experiments.graduateExperiment",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "experiment"
              ],
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:graduateExperiment",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__GraduateExperimentRequest"
              },
              "parameters": {
                "experiment": {
                  "type": "string",
                  "description": "Required. The experiment to be graduated.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/experiments/[^/]+$"
                }
              },
              "path": "v23/{+experiment}:graduateExperiment"
            },
            "endExperiment": {
              "parameters": {
                "experiment": {
                  "type": "string",
                  "description": "Required. The resource name of the campaign experiment to end.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/experiments/[^/]+$"
                }
              },
              "path": "v23/{+experiment}:endExperiment",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.experiments.endExperiment",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:endExperiment",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__EndExperimentRequest"
              },
              "parameterOrder": [
                "experiment"
              ],
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              },
              "description": "Immediately ends an experiment, changing the experiment's scheduled end date and without waiting for end of day. End date is updated to be the time of the request. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
            }
          }
        },
        "assetGroupListingGroupFilters": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/assetGroupListingGroupFilters:mutate",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose asset group listing group filters are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v23/customers/{customersId}/assetGroupListingGroupFilters:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupListingGroupFiltersRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.assetGroupListingGroupFilters.mutate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupListingGroupFiltersResponse"
              },
              "description": "Creates, updates or removes asset group listing group filters. Operation statuses are returned."
            }
          }
        },
        "adGroupCustomizers": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes ad group customizers. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.adGroupCustomizers.mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/adGroupCustomizers:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose ad group customizers are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupCustomizers:mutate"
            }
          }
        },
        "assetGroupAssets": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/assetGroupAssets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.assetGroupAssets.mutate",
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/assetGroupAssets:mutate",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose asset group assets are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "description": "Creates, updates or removes asset group assets. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetsResponse"
              }
            }
          }
        },
        "adGroupAdLabels": {
          "methods": {
            "mutate": {
              "description": "Creates and removes ad group ad labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [HeaderError]() [InternalError]() [LabelError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdLabelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.adGroupAdLabels.mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/adGroupAdLabels:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdLabelsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. ID of the customer whose ad group ad labels are being modified.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v23/customers/{+customerId}/adGroupAdLabels:mutate"
            }
          }
        },
        "keywordPlanAdGroups": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose Keyword Plan ad groups are being modified.",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/keywordPlanAdGroups:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.keywordPlanAdGroups.mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/keywordPlanAdGroups:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanAdGroupsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanAdGroupsResponse"
              },
              "description": "Creates, updates, or removes Keyword Plan ad groups. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [KeywordPlanAdGroupError]() [KeywordPlanError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()"
            }
          }
        },
        "biddingDataExclusions": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes data exclusions. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingDataExclusionsResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/biddingDataExclusions:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingDataExclusionsRequest"
              },
              "id": "searchads360.customers.biddingDataExclusions.mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/biddingDataExclusions:mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Required. ID of the customer whose data exclusions are being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              }
            }
          }
        },
        "campaignGroups": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes campaign groups. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignGroupsResponse"
              },
              "flatPath": "v23/customers/{customersId}/campaignGroups:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignGroupsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.campaignGroups.mutate",
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/campaignGroups:mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Required. The ID of the customer whose campaign groups are being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              }
            }
          }
        },
        "adParameters": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes ad parameters. Operation statuses are returned. List of thrown errors: [AdParameterError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdParametersResponse"
              },
              "id": "searchads360.customers.adParameters.mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/adParameters:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdParametersRequest"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Required. The ID of the customer whose ad parameters are being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "path": "v23/customers/{+customerId}/adParameters:mutate"
            }
          }
        },
        "offlineUserDataJobs": {
          "methods": {
            "create": {
              "description": "Creates an offline user data job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [NotAllowlistedError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateOfflineUserDataJobResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.offlineUserDataJobs.create",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/offlineUserDataJobs:create",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateOfflineUserDataJobRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer for which to create an offline user data job.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/offlineUserDataJobs:create"
            },
            "run": {
              "path": "v23/{+resourceName}:run",
              "parameters": {
                "resourceName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the OfflineUserDataJob to run.",
                  "pattern": "^customers/[^/]+/offlineUserDataJobs/[^/]+$"
                }
              },
              "flatPath": "v23/customers/{customersId}/offlineUserDataJobs/{offlineUserDataJobsId}:run",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RunOfflineUserDataJobRequest"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.offlineUserDataJobs.run",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              },
              "description": "Runs the offline user data job. When finished, the long running operation will contain the processing result or failure information, if any. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [HeaderError]() [InternalError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]()"
            },
            "addOperations": {
              "description": "Adds operations to the offline user data job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__AddOfflineUserDataJobOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.offlineUserDataJobs.addOperations",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/offlineUserDataJobs/{offlineUserDataJobsId}:addOperations",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__AddOfflineUserDataJobOperationsRequest"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "parameters": {
                "resourceName": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the OfflineUserDataJob.",
                  "pattern": "^customers/[^/]+/offlineUserDataJobs/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/{+resourceName}:addOperations"
            }
          }
        },
        "userListCustomerTypes": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/userListCustomerTypes:mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose user list customer types are being modified.",
                  "type": "string"
                }
              },
              "flatPath": "v23/customers/{customersId}/userListCustomerTypes:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateUserListCustomerTypesRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.userListCustomerTypes.mutate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateUserListCustomerTypesResponse"
              },
              "description": "Attach or remove user list customer types. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [UserListCustomerTypeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
            }
          }
        },
        "productLinks": {
          "methods": {
            "create": {
              "description": "Creates a product link. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateProductLinkResponse"
              },
              "id": "searchads360.customers.productLinks.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/productLinks:create",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateProductLinkRequest"
              },
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer for which the product link is created.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/productLinks:create"
            },
            "remove": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__RemoveProductLinkResponse"
              },
              "description": "Removes a product link. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer being modified.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v23/customers/{+customerId}/productLinks:remove",
              "id": "searchads360.customers.productLinks.remove",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/productLinks:remove",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RemoveProductLinkRequest"
              }
            }
          }
        },
        "customerClientLinks": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose customer link are being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/customerClientLinks:mutate",
              "id": "searchads360.customers.customerClientLinks.mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/customerClientLinks:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerClientLinkRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerClientLinkResponse"
              },
              "description": "Creates or updates a customer client link. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]()"
            }
          }
        },
        "customConversionGoals": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.customConversionGoals.mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/customConversionGoals:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomConversionGoalsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose custom conversion goals are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/customConversionGoals:mutate",
              "description": "Creates, updates or removes custom conversion goals. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomConversionGoalsResponse"
              }
            }
          }
        },
        "assetSetAssets": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose asset set assets are being modified."
                }
              },
              "path": "v23/customers/{+customerId}/assetSetAssets:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.assetSetAssets.mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/assetSetAssets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetAssetsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetAssetsResponse"
              },
              "description": "Creates, updates or removes asset set assets. Operation statuses are returned."
            }
          }
        },
        "conversionGoalCampaignConfigs": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes conversion goal campaign config. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionGoalCampaignConfigsResponse"
              },
              "id": "searchads360.customers.conversionGoalCampaignConfigs.mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/conversionGoalCampaignConfigs:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionGoalCampaignConfigsRequest"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose custom conversion goals are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "path": "v23/customers/{+customerId}/conversionGoalCampaignConfigs:mutate"
            }
          }
        },
        "adGroupAssetSets": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose ad group asset sets are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupAssetSets:mutate",
              "id": "searchads360.customers.adGroupAssetSets.mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/adGroupAssetSets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAssetSetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAssetSetsResponse"
              },
              "description": "Creates, or removes ad group asset sets. Operation statuses are returned."
            }
          }
        },
        "customerLabels": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.customerLabels.mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/customerLabels:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerLabelsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the customer whose customer-label relationships are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "path": "v23/customers/{+customerId}/customerLabels:mutate",
              "description": "Creates and removes customer-label relationships. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [HeaderError]() [InternalError]() [LabelError]() [MutateError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerLabelsResponse"
              }
            }
          }
        },
        "sharedSets": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes shared sets. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SharedSetError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSharedSetsResponse"
              },
              "id": "searchads360.customers.sharedSets.mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/sharedSets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSharedSetsRequest"
              },
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose shared sets are being modified.",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/sharedSets:mutate"
            }
          }
        },
        "campaignBudgets": {
          "methods": {
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignBudgetsResponse"
              },
              "description": "Creates, updates, or removes campaign budgets. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CampaignBudgetError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [OperationAccessDeniedError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [StringLengthError]()",
              "path": "v23/customers/{+customerId}/campaignBudgets:mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose campaign budgets are being modified."
                }
              },
              "flatPath": "v23/customers/{customersId}/campaignBudgets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignBudgetsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.campaignBudgets.mutate",
              "httpMethod": "POST"
            }
          }
        },
        "customizerAttributes": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/customizerAttributes:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomizerAttributesRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.customizerAttributes.mutate",
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/customizerAttributes:mutate",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose customizer attributes are being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "description": "Creates, updates or removes customizer attributes. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomizerAttributesResponse"
              }
            }
          }
        },
        "keywordPlanCampaignKeywords": {
          "methods": {
            "mutate": {
              "id": "searchads360.customers.keywordPlanCampaignKeywords.mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/keywordPlanCampaignKeywords:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignKeywordsRequest"
              },
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose campaign keywords are being modified.",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/keywordPlanCampaignKeywords:mutate",
              "description": "Creates, updates, or removes Keyword Plan campaign keywords. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [KeywordPlanAdGroupKeywordError]() [KeywordPlanCampaignKeywordError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignKeywordsResponse"
              }
            }
          }
        },
        "customerSkAdNetworkConversionValueSchemas": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.customerSkAdNetworkConversionValueSchemas.mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/customerSkAdNetworkConversionValueSchemas:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerSkAdNetworkConversionValueSchemaRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "The ID of the customer whose shared sets are being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/customerSkAdNetworkConversionValueSchemas:mutate",
              "description": "Creates or updates the CustomerSkAdNetworkConversionValueSchema. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [InternalError]() [MutateError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerSkAdNetworkConversionValueSchemaResponse"
              }
            }
          }
        },
        "Goals": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose goals are being modified.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/Goals:mutate",
              "id": "searchads360.customers.Goals.mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/Goals:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateGoalsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateGoalsResponse"
              },
              "description": "Create or update goals. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [GoalError]() [GoalServicesError]()"
            }
          }
        },
        "campaignConversionGoals": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes campaign conversion goals. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignConversionGoalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.campaignConversionGoals.mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/campaignConversionGoals:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignConversionGoalsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose campaign conversion goals are being modified."
                }
              },
              "path": "v23/customers/{+customerId}/campaignConversionGoals:mutate"
            }
          }
        },
        "adGroupCriteria": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. ID of the customer whose criteria are being modified.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupCriteria:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.adGroupCriteria.mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/adGroupCriteria:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriteriaRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriteriaResponse"
              },
              "description": "Creates, updates, or removes criteria. Operation statuses are returned. List of thrown errors: [AdGroupCriterionError]() [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [CollectionSizeError]() [ContextError]() [CriterionError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MultiplierError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()"
            }
          }
        },
        "conversionCustomVariables": {
          "methods": {
            "mutate": {
              "id": "searchads360.customers.conversionCustomVariables.mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/conversionCustomVariables:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionCustomVariablesRequest"
              },
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose conversion custom variables are being modified.",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/conversionCustomVariables:mutate",
              "description": "Creates or updates conversion custom variables. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionCustomVariableError]() [DatabaseError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionCustomVariablesResponse"
              }
            }
          }
        },
        "labels": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose labels are being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/labels:mutate",
[...]
