{
  "description": "The Search Ads 360 API allows developers to automate downloading reports from Search Ads 360.",
  "basePath": "",
  "title": "Search Ads 360 Reporting API",
  "name": "searchads360",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://searchads360.googleapis.com/",
  "revision": "20260307",
  "id": "searchads360:v0",
  "resources": {
    "customers": {
      "methods": {
        "listAccessibleCustomers": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns resource names of customers directly accessible by the user authenticating the call. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v0/customers:listAccessibleCustomers",
          "response": {
            "$ref": "GoogleAdsSearchads360V0Services__ListAccessibleCustomersResponse"
          },
          "parameters": {},
          "path": "v0/customers:listAccessibleCustomers",
          "id": "searchads360.customers.listAccessibleCustomers"
        }
      },
      "resources": {
        "customColumns": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "resourceName"
              ],
              "description": "Returns the requested custom column in full detail.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v0/customers/{customersId}/customColumns/{customColumnsId}",
              "response": {
                "$ref": "GoogleAdsSearchads360V0Resources__CustomColumn"
              },
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the custom column to fetch.",
                  "pattern": "^customers/[^/]+/customColumns/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v0/{+resourceName}",
              "id": "searchads360.customers.customColumns.get"
            },
            "list": {
              "id": "searchads360.customers.customColumns.list",
              "path": "v0/customers/{+customerId}/customColumns",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer to apply the CustomColumn list operation to.",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V0Services__ListCustomColumnsResponse"
              },
              "flatPath": "v0/customers/{customersId}/customColumns",
              "description": "Returns all the custom columns associated with the customer in full detail.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "searchAds360": {
          "methods": {
            "search": {
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360Request"
              },
              "flatPath": "v0/customers/{customersId}/searchAds360:search",
              "description": "Returns all rows that match the search query. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer being queried."
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360Response"
              },
              "id": "searchads360.customers.searchAds360.search",
              "path": "v0/customers/{+customerId}/searchAds360:search"
            }
          }
        }
      }
    },
    "searchAds360Fields": {
      "methods": {
        "search": {
          "parameters": {},
          "response": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsResponse"
          },
          "id": "searchads360.searchAds360Fields.search",
          "path": "v0/searchAds360Fields:search",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v0/searchAds360Fields:search",
          "request": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns all fields that match the search [query](/search-ads/reporting/concepts/field-service#use_a_query_to_get_field_details). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Returns just the requested field. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v0/searchAds360Fields/{searchAds360FieldsId}",
          "response": {
            "$ref": "GoogleAdsSearchads360V0Resources__SearchAds360Field"
          },
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the field to get.",
              "required": true,
              "pattern": "^searchAds360Fields/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v0/{+resourceName}",
          "id": "searchads360.searchAds360Fields.get"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/search-ads/reporting",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "mtlsRootUrl": "https://searchads360.mtls.googleapis.com/",
  "baseUrl": "https://searchads360.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "canonicalName": "SA360",
  "version_module": true,
  "version": "v0",
  "schemas": {
    "GoogleAdsSearchads360V0Common__AdTextAsset": {
      "description": "A text asset used inside an ad.",
      "properties": {
        "text": {
          "description": "Asset text.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__AdTextAsset",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsRequest": {
      "id": "GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsRequest",
      "type": "object",
      "properties": {
        "query": {
          "description": "Required. The query string.",
          "type": "string"
        },
        "pageToken": {
          "description": "Token of the page to retrieve. If not specified, the first page of results will be returned. Use the value obtained from `next_page_token` in the previous response in order to request the next page of results.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Number of elements to retrieve in a single page. When too large a page is requested, the server may decide to further limit the number of returned resources.",
          "format": "int32"
        }
      },
      "description": "Request message for SearchAds360FieldService.SearchSearchAds360Fields."
    },
    "GoogleAdsSearchads360V0Resources__AdGroupLabel": {
      "description": "A relationship between an ad group and a label.",
      "properties": {
        "resourceName": {
          "description": "Immutable. The resource name of the ad group label. Ad group label resource names have the form: `customers/{owner_customer_id}/adGroupLabels/{ad_group_id}~{label_id}`",
          "type": "string"
        },
        "label": {
          "description": "Immutable. The label assigned to the ad group.",
          "type": "string"
        },
        "ownerCustomerId": {
          "type": "string",
          "description": "Output only. The ID of the Customer which owns the label.",
          "readOnly": true,
          "format": "int64"
        },
        "adGroup": {
          "description": "Immutable. The ad group to which the label is attached.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__AdGroupLabel",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__SearchAds360ResponsiveSearchAdInfo": {
      "description": "A Search Ads 360 responsive search ad.",
      "id": "GoogleAdsSearchads360V0Common__SearchAds360ResponsiveSearchAdInfo",
      "type": "object",
      "properties": {
        "path1": {
          "description": "Text appended to the auto-generated visible URL with a delimiter.",
          "type": "string"
        },
        "descriptions": {
          "description": "List of text assets for descriptions. When the ad serves the descriptions will be selected from this list.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__AdTextAsset"
          },
          "type": "array"
        },
        "path2": {
          "description": "Text appended to path1 with a delimiter.",
          "type": "string"
        },
        "adTrackingId": {
          "type": "string",
          "description": "The tracking id of the ad.",
          "format": "int64"
        },
        "headlines": {
          "description": "List of text assets for headlines. When the ad serves the headlines will be selected from this list.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__AdTextAsset"
          },
          "type": "array"
        }
      }
    },
    "GoogleAdsSearchads360V0Common__Metrics": {
      "id": "GoogleAdsSearchads360V0Common__Metrics",
      "type": "object",
      "properties": {
        "crossSellCostOfGoodsSoldMicros": {
          "type": "string",
          "description": "Cross-sell cost of goods sold (COGS) is the total cost of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell cost of goods sold is the total cost of the products sold that weren't advertised. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The cross-sell cost of goods sold for this order is $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64"
        },
        "crossDeviceConversions": {
          "type": "number",
          "description": "Conversions from when a customer clicks on an ad on one device, then converts on a different device or browser. Cross-device conversions are already included in all_conversions.",
          "format": "double"
        },
        "conversionsFromInteractionsRate": {
          "type": "number",
          "description": "Average biddable conversions (from interaction) per conversion eligible interaction. Shows how often, on average, an ad interaction leads to a biddable conversion.",
          "format": "double"
        },
        "contentBudgetLostImpressionShare": {
          "description": "The estimated percent of times that your ad was eligible to show on the Display Network but didn't because your budget was too low. Note: Content budget lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromInteractionsValuePerInteraction": {
          "type": "number",
          "description": "The value of all conversions from interactions divided by the total number of interactions.",
          "format": "double"
        },
        "revenueMicros": {
          "description": "Revenue is the total amount you made from orders attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Revenue is the total value of all the orders you received attributed to your ads, minus any discount. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt in an order from your website. The hat is priced $10 and the shirt is priced $20. The entire order has a $5 discount. The revenue from this order is $25 = ($10 + $20) - $5. This metric is only available if you report conversions with cart data.",
          "format": "int64",
          "type": "string"
        },
        "averageCpc": {
          "description": "The total cost of all clicks divided by the total number of clicks received. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "double",
          "type": "number"
        },
        "leadUnitsSold": {
          "type": "number",
          "description": "Lead units sold is the total number of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total number of these products sold is shown under lead units sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The lead units sold in this order is 1. This metric is only available if you report conversions with cart data.",
          "format": "double"
        },
        "interactionEventTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Used for return value only. Represents value unknown in this version.",
              "Click to site. In most cases, this interaction navigates to an external location, usually the advertiser's landing page. This is also the default InteractionEventType for click events.",
              "The user's expressed intent to engage with the ad in-place.",
              "User viewed a video ad.",
              "The default InteractionEventType for ad conversion events. This is used when an ad conversion row does NOT indicate that the free interactions (for example, the ad conversions) should be 'promoted' and reported as part of the core metrics. These are simply other (ad) conversions."
            ],
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "CLICK",
              "ENGAGEMENT",
              "VIDEO_VIEW",
              "NONE"
            ]
          },
          "type": "array",
          "description": "The types of payable and free interactions."
        },
        "costPerAllConversions": {
          "description": "The cost of ad interactions divided by all conversions.",
          "format": "double",
          "type": "number"
        },
        "contentRankLostImpressionShare": {
          "type": "number",
          "description": "The estimated percentage of impressions on the Display Network that your ads didn't receive due to poor Ad Rank. Note: Content rank lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double"
        },
        "allConversionsFromMenu": {
          "description": "The number of times people clicked a link to view a business's menu after clicking an ad. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "valuePerAllConversionsByConversionDate": {
          "type": "number",
          "description": "The value of all conversions divided by the number of all conversions. When this column is selected with date, the values in date column means the conversion date. Details for the by_conversion_date columns are available at https://support.google.com/sa360/answer/9250611.",
          "format": "double"
        },
        "averageCpm": {
          "type": "number",
          "description": "Average cost-per-thousand impressions (CPM). This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "double"
        },
        "crossDeviceConversionsByConversionDate": {
          "type": "number",
          "description": "The number of cross-device conversions by conversion date. Details for the by_conversion_date columns are available at https://support.google.com/sa360/answer/9250611.",
          "format": "double"
        },
        "costMicros": {
          "type": "string",
          "description": "The sum of your cost-per-click (CPC) and cost-per-thousand impressions (CPM) costs during this period. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64"
        },
        "searchTopImpressionShare": {
          "description": "The impressions you've received among the top ads compared to the estimated number of impressions you were eligible to receive among the top ads. Note: Search top impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999. Top ads are generally above the top organic results, although they may show below the top organic results on certain queries.",
          "format": "double",
          "type": "number"
        },
        "clientAccountConversionsValue": {
          "type": "number",
          "description": "The value of client account conversions. This only includes conversion actions which include_in_client_account_conversions_metric attribute is set to true. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double"
        },
        "historicalSearchPredictedCtr": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Quality of the creative is below average.",
            "Quality of the creative is average.",
            "Quality of the creative is above average."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BELOW_AVERAGE",
            "AVERAGE",
            "ABOVE_AVERAGE"
          ],
          "description": "The historical search predicted click through rate (CTR)."
        },
        "leadRevenueMicros": {
          "type": "string",
          "description": "Lead revenue is the total amount you made from products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total value you made from the sales of these products is shown under lead revenue. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The lead revenue of this order is $10. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64"
        },
        "allConversionsFromStoreWebsite": {
          "type": "number",
          "description": "The number of times that people were taken to a business's URL after clicking an ad. This metric applies to feed items only.",
          "format": "double"
        },
        "conversions": {
          "type": "number",
          "description": "The number of conversions. This only includes conversion actions which include_in_conversions_metric attribute is set to true. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double"
        },
        "searchBudgetLostTopImpressionShare": {
          "type": "number",
          "description": "The number estimating how often your ad didn't show adjacent to the top organic search results due to a low budget. Note: Search budget lost top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double"
        },
        "crossSellRevenueMicros": {
          "description": "Cross-sell revenue is the total amount you made from products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell revenue is the total value you made from cross-sell attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The cross-sell revenue of this order is $20. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64",
          "type": "string"
        },
        "visits": {
          "description": "Clicks that Search Ads 360 has successfully recorded and forwarded to an advertiser's landing page.",
          "format": "double",
          "type": "number"
        },
        "conversionsFromInteractionsValuePerInteraction": {
          "type": "number",
          "description": "The value of conversions from interactions divided by the number of ad interactions. This only includes conversion actions which include_in_conversions_metric attribute is set to true. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double"
        },
        "valuePerConversionsByConversionDate": {
          "type": "number",
          "description": "Biddable conversions value by conversion date divided by biddable conversions by conversion date. Shows how much, on average, each of the biddable conversions is worth (by conversion date). When this column is selected with date, the values in date column means the conversion date.",
          "format": "double"
        },
        "allConversionsFromClickToCall": {
          "description": "The number of times people clicked the \"Call\" button to call a business during or after clicking an ad. This number doesn't include whether or not calls were connected, or the duration of any calls. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "historicalCreativeQualityScore": {
          "type": "string",
          "description": "The creative historical quality score.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Quality of the creative is below average.",
            "Quality of the creative is average.",
            "Quality of the creative is above average."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BELOW_AVERAGE",
            "AVERAGE",
            "ABOVE_AVERAGE"
          ]
        },
        "searchExactMatchImpressionShare": {
          "description": "The impressions you've received divided by the estimated number of impressions you were eligible to receive on the Search Network for search terms that matched your keywords exactly (or were close variants of your keyword), regardless of your keyword match types. Note: Search exact match impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "format": "double",
          "type": "number"
        },
        "clicks": {
          "description": "The number of clicks.",
          "format": "int64",
          "type": "string"
        },
        "unitsSold": {
          "type": "number",
          "description": "Units sold is the total number of products sold from orders attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Units sold is the total number of products sold from all orders attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The units sold in this order is 3. This metric is only available if you report conversions with cart data.",
          "format": "double"
        },
        "interactionRate": {
          "type": "number",
          "description": "How often people interact with your ad after it is shown to them. This is the number of interactions divided by the number of times your ad is shown.",
          "format": "double"
        },
        "searchAbsoluteTopImpressionShare": {
          "type": "number",
          "description": "The percentage of the customer's Shopping or Search ad impressions that are shown in the most prominent Shopping position. See https://support.google.com/sa360/answer/9566729 for details. Any value below 0.1 is reported as 0.0999.",
          "format": "double"
        },
        "leadCostOfGoodsSoldMicros": {
          "description": "Lead cost of goods sold (COGS) is the total cost of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the cost of these goods is counted under lead cost of goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The lead cost of goods sold for this order is $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64",
          "type": "string"
        },
        "historicalLandingPageQualityScore": {
          "type": "string",
          "description": "The quality of historical landing page experience.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Quality of the creative is below average.",
            "Quality of the creative is average.",
            "Quality of the creative is above average."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BELOW_AVERAGE",
            "AVERAGE",
            "ABOVE_AVERAGE"
          ]
        },
        "generalInvalidClicks": {
          "description": "Number of general invalid clicks. These are a subset of your invalid clicks that are detected through routine means of filtration (such as known invalid data-center traffic, bots and spiders or other crawlers, irregular patterns, etc.). You're not charged for them, and they don't affect your account statistics. See the help page at https://support.google.com/campaignmanager/answer/6076504 for details.",
          "format": "int64",
          "type": "string"
        },
        "topImpressionPercentage": {
          "description": "The percent of your ad impressions that are shown adjacent to the top organic search results.",
          "format": "double",
          "type": "number"
        },
        "uniqueUsers": {
          "type": "string",
          "description": "The number of unique users who saw your ad during the requested time period. This metric cannot be aggregated, and can only be requested for date ranges of 92 days or less. This metric is available for following campaign types - Display, Video, Discovery and App.",
          "format": "int64"
        },
        "allConversionsFromStoreVisit": {
          "type": "number",
          "description": "Estimated number of times people visited a business after clicking an ad. This metric applies to feed items only.",
          "format": "double"
        },
        "crossSellUnitsSold": {
          "type": "number",
          "description": "Cross-sell units sold is the total number of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell units sold is the total number of cross-sold products from all orders attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The cross-sell units sold in this order is 2. This metric is only available if you report conversions with cart data.",
          "format": "double"
        },
        "rawEventConversionMetrics": {
          "description": "The raw event conversion metrics.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__Value"
          },
          "type": "array"
        },
        "allConversionsValue": {
          "type": "number",
          "description": "The value of all conversions.",
          "format": "double"
        },
        "clientAccountConversions": {
          "description": "The number of client account conversions. This only includes conversion actions which include_in_client_account_conversions_metric attribute is set to true. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromOrder": {
          "description": "The number of times people placed an order at a business after clicking an ad. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "conversionsValue": {
          "description": "The sum of conversion values for the conversions included in the \"conversions\" field. This metric is useful only if you entered a value for your conversion actions.",
          "format": "double",
          "type": "number"
        },
        "historicalQualityScore": {
          "description": "The historical quality score.",
          "format": "int64",
          "type": "string"
        },
        "clientAccountCrossSellCostOfGoodsSoldMicros": {
          "type": "string",
          "description": "Client account cross-sell cost of goods sold (COGS) is the total cost of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell cost of goods sold is the total cost of the products sold that weren't advertised. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The cross-sell cost of goods sold for this order is $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64"
        },
        "allConversionsValueByConversionDate": {
          "type": "number",
          "description": "The value of all conversions. When this column is selected with date, the values in date column means the conversion date. Details for the by_conversion_date columns are available at https://support.google.com/sa360/answer/9250611.",
          "format": "double"
        },
        "generalInvalidClickRate": {
          "type": "number",
          "description": "The percentage of clicks that have been filtered out of your total number of clicks (filtered + non-filtered clicks) due to being general invalid clicks. These are clicks Google considers illegitimate that are detected through routine means of filtration (that is, known invalid data-center traffic, bots and spiders or other crawlers, irregular patterns, etc). You're not charged for them, and they don't affect your account statistics. See the help page at https://support.google.com/campaignmanager/answer/6076504 for details.",
          "format": "double"
        },
        "allConversionsFromOtherEngagement": {
          "type": "number",
          "description": "The number of other conversions (for example, posting a review or saving a location for a business) that occurred after people clicked an ad. This metric applies to feed items only.",
          "format": "double"
        },
        "conversionsValuePerCost": {
          "description": "The value of biddable conversion divided by the total cost of conversion eligible interactions.",
          "format": "double",
          "type": "number"
        },
        "clientAccountCrossSellRevenueMicros": {
          "description": "Client account cross-sell revenue is the total amount you made from products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell revenue is the total value you made from cross-sell attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The cross-sell revenue of this order is $20. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64",
          "type": "string"
        },
        "clientAccountLeadCostOfGoodsSoldMicros": {
          "description": "Client account lead cost of goods sold (COGS) is the total cost of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the cost of these goods is counted under lead cost of goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The lead cost of goods sold for this order is $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64",
          "type": "string"
        },
        "clientAccountCrossSellUnitsSold": {
          "description": "Client account cross-sell units sold is the total number of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell units sold is the total number of cross-sold products from all orders attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The cross-sell units sold in this order is 2. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "crossSellGrossProfitMicros": {
          "type": "string",
          "description": "Cross-sell gross profit is the profit you made from products sold as a result of advertising a different product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the purchase is a sold product. If these products don't match then this is considered cross-sell. Cross-sell gross profit is the revenue you made from cross-sell attributed to your ads minus the cost of the goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The shirt is priced $20 and has a cost of goods sold value of $5. The cross-sell gross profit of this order is $15 = $20 - $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64"
        },
        "absoluteTopImpressionPercentage": {
          "description": "Search absolute top impression share is the percentage of your Search ad impressions that are shown in the most prominent Search position.",
          "format": "double",
          "type": "number"
        },
        "averageCost": {
          "description": "The average amount you pay per interaction. This amount is the total cost of your ads divided by the total number of interactions.",
          "format": "double",
          "type": "number"
        },
        "conversionsByConversionDate": {
          "description": "The sum of conversions by conversion date for biddable conversion types. Can be fractional due to attribution modeling. When this column is selected with date, the values in date column means the conversion date.",
          "format": "double",
          "type": "number"
        },
        "averageQualityScore": {
          "description": "The average quality score.",
          "format": "double",
          "type": "number"
        },
        "averageImpressionFrequencyPerUser": {
          "description": "The average number of times a unique user saw your ad during the requested time period. This metric cannot be aggregated, and can only be requested for date ranges of 92 days or less. This metric is available for following campaign types - Display, Video, Discovery and App.",
          "format": "double",
          "type": "number"
        },
        "costOfGoodsSoldMicros": {
          "type": "string",
          "description": "Cost of goods sold (COGS) is the total cost of the products you sold in orders attributed to your ads. How it works: You can add a cost of goods sold value to every product in Merchant Center. If you report conversions with cart data, the products you sold are matched with their cost of goods sold value and this can be used to calculate the gross profit you made on each order. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The cost of goods sold for this order is $8 = $3 + $5. This metric is only available if you report conversions with cart data.",
          "format": "int64"
        },
        "allConversionsByConversionDate": {
          "type": "number",
          "description": "The total number of conversions. This includes all conversions regardless of the value of include_in_conversions_metric. When this column is selected with date, the values in date column means the conversion date. Details for the by_conversion_date columns are available at https://support.google.com/sa360/answer/9250611.",
          "format": "double"
        },
        "searchRankLostTopImpressionShare": {
          "type": "number",
          "description": "The number estimating how often your ad didn't show adjacent to the top organic search results due to poor Ad Rank. Note: Search rank lost top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double"
        },
        "searchImpressionShare": {
          "type": "number",
          "description": "The impressions you've received on the Search Network divided by the estimated number of impressions you were eligible to receive. Note: Search impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "format": "double"
        },
        "contentImpressionShare": {
          "description": "The impressions you've received on the Display Network divided by the estimated number of impressions you were eligible to receive. Note: Content impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "format": "double",
          "type": "number"
        },
        "clientAccountLeadGrossProfitMicros": {
          "description": "Client account lead gross profit is the profit you made from products sold as a result of advertising the same product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the revenue you made from these sales minus the cost of goods sold is your lead gross profit. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and has a cost of goods sold value of $3. The lead gross profit of this order is $7 = $10 - $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64",
          "type": "string"
        },
        "clientAccountLeadRevenueMicros": {
          "type": "string",
          "description": "Client account lead revenue is the total amount you made from products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total value you made from the sales of these products is shown under lead revenue. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The lead revenue of this order is $10. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64"
        },
        "leadGrossProfitMicros": {
          "description": "Lead gross profit is the profit you made from products sold as a result of advertising the same product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the revenue you made from these sales minus the cost of goods sold is your lead gross profit. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and has a cost of goods sold value of $3. The lead gross profit of this order is $7 = $10 - $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64",
          "type": "string"
        },
        "invalidClicks": {
          "type": "string",
          "description": "Number of clicks Google considers illegitimate and doesn't charge you for.",
          "format": "int64"
        },
        "allConversionsFromDirections": {
          "description": "The number of times people clicked a \"Get directions\" button to navigate to a business after clicking an ad. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "clientAccountCrossSellGrossProfitMicros": {
          "type": "string",
          "description": "Client account cross-sell gross profit is the profit you made from products sold as a result of advertising a different product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the purchase is a sold product. If these products don't match then this is considered cross-sell. Cross-sell gross profit is the revenue you made from cross-sell attributed to your ads minus the cost of the goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The shirt is priced $20 and has a cost of goods sold value of $5. The cross-sell gross profit of this order is $15 = $20 - $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the metrics_currency parameter at https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause",
          "format": "int64"
        },
        "searchClickShare": {
          "description": "The number of clicks you've received on the Search Network divided by the estimated number of clicks you were eligible to receive. Note: Search click share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "format": "double",
          "type": "number"
        },
        "valuePerConversion": {
          "type": "number",
          "description": "The value of biddable conversion divided by the number of biddable conversions. Shows how much, on average, each of the biddable conversions is worth.",
          "format": "double"
        },
        "interactions": {
          "description": "The number of interactions. An interaction is the main user action associated with an ad format-clicks for text and shopping ads, views for video ads, and so on.",
          "format": "int64",
          "type": "string"
        },
        "crossDeviceConversionsValueByConversionDate": {
          "type": "number",
          "description": "The sum of cross-device conversions value by conversion date. Details for the by_conversion_date columns are available at https://support.google.com/sa360/answer/9250611.",
          "format": "double"
        },
        "averageOrderValueMicros": {
          "description": "Average order value is the average revenue you made per order attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Average order value is the total revenue from your orders divided by the total number of orders. Example: You received 3 orders which made $10, $15 and $20 worth of revenue. The average order value is $15 = ($10 + $15 + $20)/3. This metric is only available if you report conversions with cart data.",
          "format": "int64",
          "type": "string"
        },
        "allConversionsValuePerCost": {
          "description": "The value of all conversions divided by the total cost of ad interactions (such as clicks for text ads or views for video ads).",
          "format": "double",
          "type": "number"
        },
        "allConversions": {
          "description": "The total number of conversions. This includes all conversions regardless of the value of include_in_conversions_metric.",
          "format": "double",
          "type": "number"
        },
        "conversionsValueByConversionDate": {
          "type": "number",
          "description": "The sum of biddable conversions value by conversion date. When this column is selected with date, the values in date column means the conversion date.",
          "format": "double"
        },
        "grossProfitMicros": {
          "description": "Gross profit is the profit you made from orders attributed to your ads minus the cost of goods sold (COGS). How it works: Gross profit is the revenue you made from sales attributed to your ads minus cost of goods sold. Gross profit calculations only include products that have a cost of goods sold value in Merchant Center. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt in an order from your website. The hat is priced $10 and the shirt is priced $20. The hat has a cost of goods sold value of $3, but the shirt has no cost of goods sold value. Gross profit for this order will only take into account the hat, so it's $7 = $10 - $3. This metric is only available if you report conversions with cart data.",
          "format": "int64",
          "type": "string"
        },
        "conversionCustomMetrics": {
          "description": "The conversion custom metrics.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__Value"
          },
          "type": "array"
        },
        "searchBudgetLostImpressionShare": {
          "description": "The estimated percent of times that your ad was eligible to show on the Search Network but didn't because your budget was too low. Note: Search budget lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "costPerConversion": {
          "description": "Average conversion eligible cost per biddable conversion.",
          "format": "double",
          "type": "number"
        },
        "searchRankLostAbsoluteTopImpressionShare": {
          "type": "number",
          "description": "The number estimating how often your ad wasn't the very first ad among the top ads in the search results due to poor Ad Rank. Note: Search rank lost absolute top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double"
        },
        "invalidClickRate": {
          "description": "The percentage of clicks filtered out of your total number of clicks (filtered + non-filtered clicks) during the reporting period.",
          "format": "double",
          "type": "number"
        },
        "grossProfitMargin": {
          "description": "Gross profit margin is the percentage gross profit you made from orders attributed to your ads, after taking out the cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. Gross profit margin is the gross profit you made divided by your total revenue and multiplied by 100%. Gross profit margin calculations only include products that have a cost of goods sold value in Merchant Center. Example: Someone bought a hat and a shirt in an order on your website. The hat is priced $10 and has a cost of goods sold value of $3. The shirt is priced $20 but has no cost of goods sold value. Gross profit margin for this order will only take into account the hat because it has a cost of goods sold value, so it's 70% = ($10 - $3)/$10 x 100%. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "clientAccountLeadUnitsSold": {
          "type": "number",
          "description": "Client account lead units sold is the total number of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total number of these products sold is shown under lead units sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The lead units sold in this order is 1. This metric is only available if you report conversions with cart data.",
          "format": "double"
        },
        "ctr": {
          "type": "number",
          "description": "The number of clicks your ad receives (Clicks) divided by the number of times your ad is shown (Impressions).",
          "format": "double"
        },
        "orders": {
          "type": "number",
          "description": "Orders is the total number of purchase conversions you received attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. If a conversion is attributed to previous interactions with your ads (clicks for text or Shopping ads, views for video ads etc.) it's counted as an order. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt in an order on your website. Even though they bought 2 products, this would count as 1 order. This metric is only available if you report conversions with cart data.",
          "format": "double"
        },
        "allConversionsFromInteractionsRate": {
          "type": "number",
          "description": "All conversions from interactions (as oppose to view through conversions) divided by the number of ad interactions.",
          "format": "double"
        },
        "clientAccountViewThroughConversions": {
          "description": "The total number of view-through conversions. These happen when a customer sees an image or rich media ad, then later completes a conversion on your site without interacting with (for example, clicking on) another ad.",
          "format": "int64",
          "type": "string"
        },
        "searchRankLostImpressionShare": {
          "type": "number",
          "description": "The estimated percentage of impressions on the Search Network that your ads didn't receive due to poor Ad Rank. Note: Search rank lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double"
        },
        "averageCartSize": {
          "description": "Average cart size is the average number of products in each order attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Average cart size is the total number of products sold divided by the total number of orders you received. Example: You received 2 orders, the first included 3 products and the second included 2. The average cart size is 2.5 products = (3+2)/2. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "mobileFriendlyClicksPercentage": {
          "description": "The percentage of mobile clicks that go to a mobile-friendly page.",
          "format": "double",
          "type": "number"
        },
        "crossDeviceConversionsValue": {
          "type": "number",
          "description": "The sum of the value of cross-device conversions.",
          "format": "double"
        },
        "costPerCurrentModelAttributedConversion": {
          "type": "number",
          "description": "The cost of ad interactions divided by current model attributed conversions. This only includes conversion actions which include_in_conversions_metric attribute is set to true. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double"
        },
        "impressions": {
          "type": "string",
          "description": "Count of how often your ad has appeared on a search results page or website on the Google Network.",
          "format": "int64"
        },
        "searchBudgetLostAbsoluteTopImpressionShare": {
          "description": "The number estimating how often your ad wasn't the very first ad among the top ads in the search results due to a low budget. Note: Search budget lost absolute top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "valuePerAllConversions": {
          "description": "The value of all conversions divided by the number of all conversions.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Metrics data."
    },
    "GoogleAdsSearchads360V0Errors__ErrorLocation": {
      "description": "Describes the part of the request proto that caused the error.",
      "id": "GoogleAdsSearchads360V0Errors__ErrorLocation",
      "type": "object",
      "properties": {
        "fieldPathElements": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Errors_ErrorLocation_FieldPathElement"
          },
          "description": "A field path that indicates which field was invalid in the request."
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__AdGroupAsset": {
      "description": "A link between an ad group and an asset.",
      "properties": {
        "adGroup": {
          "description": "Required. Immutable. The ad group to which the asset is linked.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Asset link is enabled.",
            "Asset link has been removed.",
            "Asset link is paused."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED",
            "PAUSED"
          ],
          "description": "Status of the ad group asset.",
          "type": "string"
        },
        "asset": {
          "description": "Required. Immutable. The asset which is linked to the ad group.",
          "type": "string"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the ad group asset. AdGroupAsset resource names have the form: `customers/{customer_id}/adGroupAssets/{ad_group_id}~{asset_id}~{field_type}`",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__AdGroupAsset",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Services__ListCustomColumnsResponse": {
      "description": "Response message for fetching all custom columns associated with a customer.",
      "id": "GoogleAdsSearchads360V0Services__ListCustomColumnsResponse",
      "type": "object",
      "properties": {
        "customColumns": {
          "items": {
            "$ref": "GoogleAdsSearchads360V0Resources__CustomColumn"
          },
          "type": "array",
          "description": "The CustomColumns owned by the provided customer."
        }
      }
    },
    "GoogleAdsSearchads360V0Common__UnifiedCalloutAsset": {
      "description": "A unified callout asset.",
      "properties": {
        "endDate": {
          "description": "Last date of when this asset is effective and still serving, in yyyy-MM-dd format.",
          "type": "string"
        },
        "adScheduleTargets": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__AdScheduleInfo"
          },
          "description": "List of non-overlapping schedules specifying all time intervals for which the asset may serve. There can be a maximum of 6 schedules per day, 42 in total."
        },
        "calloutText": {
          "description": "The callout text. The length of this string should be between 1 and 25, inclusive.",
          "type": "string"
        },
        "startDate": {
          "description": "Start date of when this asset is effective and can begin serving, in yyyy-MM-dd format.",
          "type": "string"
        },
        "useSearcherTimeZone": {
          "description": "Whether to show the asset in search user's time zone. Applies to Microsoft Ads.",
          "type": "boolean"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__UnifiedCalloutAsset",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__KeywordInfo": {
      "properties": {
        "text": {
          "description": "The text of the keyword (at most 80 characters and 10 words).",
          "type": "string"
        },
        "matchType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Exact match.",
            "Phrase match.",
            "Broad match."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "EXACT",
            "PHRASE",
            "BROAD"
          ],
          "description": "The match type of the keyword."
        }
      },
      "id": "GoogleAdsSearchads360V0Common__KeywordInfo",
      "type": "object",
      "description": "A keyword criterion."
    },
    "GoogleAdsSearchads360V0Common__LanguageInfo": {
      "id": "GoogleAdsSearchads360V0Common__LanguageInfo",
      "type": "object",
      "properties": {
        "languageConstant": {
          "description": "The language constant resource name.",
          "type": "string"
        }
      },
      "description": "A language criterion."
    },
    "GoogleAdsSearchads360V0Common__AssetUsage": {
      "properties": {
        "servedAssetFieldType": {
          "type": "string",
          "description": "The served field type of the asset.",
          "enumDescriptions": [
            "No value has been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The asset is used in headline 1.",
            "The asset is used in headline 2.",
            "The asset is used in headline 3.",
            "The asset is used in description 1.",
            "The asset is used in description 2.",
            "The asset was used in a headline. Use this only if there is only one headline in the ad. Otherwise, use the HEADLINE_1, HEADLINE_2 or HEADLINE_3 enums",
            "The asset was used as a headline in portrait image.",
            "The asset was used in a long headline (used in MultiAssetResponsiveAd).",
            "The asset was used in a description. Use this only if there is only one description in the ad. Otherwise, use the DESCRIPTION_1 or DESCRIPTION_@ enums",
            "The asset was used as description in portrait image.",
            "The asset was used as business name in portrait image.",
            "The asset was used as business name.",
            "The asset was used as a marketing image.",
            "The asset was used as a marketing image in portrait image.",
            "The asset was used as a square marketing image.",
            "The asset was used as a portrait marketing image.",
            "The asset was used as a logo.",
            "The asset was used as a landscape logo.",
            "The asset was used as a call-to-action.",
            "The asset was used as a YouTube video.",
            "This asset is used as a sitelink.",
            "This asset is used as a call.",
            "This asset is used as a mobile app.",
            "This asset is used as a callout.",
            "This asset is used as a structured snippet.",
            "This asset is used as a price.",
            "This asset is used as a promotion.",
            "This asset is used as an image.",
            "The asset is used as a lead form.",
            "The asset is used as a business logo.",
            "The asset is used as a description prefix.",
            "The asset is used as an app icon.",
            "The asset is used as an app title.",
            "The asset is used as an app screenshot.",
            "The asset is used as an app cover photo.",
            "The asset is used as an app short description.",
            "The asset is used as an app developer name.",
            "A headline asset used as a sitelink in position 1.",
            "A headline asset used as a sitelink in position 2.",
            "A description line asset used as a sitelink in position 1.",
            "A description line asset used as a sitelink in position 2."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "HEADLINE_1",
            "HEADLINE_2",
            "HEADLINE_3",
            "DESCRIPTION_1",
            "DESCRIPTION_2",
            "HEADLINE",
            "HEADLINE_IN_PORTRAIT",
            "LONG_HEADLINE",
            "DESCRIPTION",
            "DESCRIPTION_IN_PORTRAIT",
            "BUSINESS_NAME_IN_PORTRAIT",
            "BUSINESS_NAME",
            "MARKETING_IMAGE",
            "MARKETING_IMAGE_IN_PORTRAIT",
            "SQUARE_MARKETING_IMAGE",
            "PORTRAIT_MARKETING_IMAGE",
            "LOGO",
            "LANDSCAPE_LOGO",
            "CALL_TO_ACTION",
            "YOU_TUBE_VIDEO",
            "SITELINK",
            "CALL",
            "MOBILE_APP",
            "CALLOUT",
            "STRUCTURED_SNIPPET",
            "PRICE",
            "PROMOTION",
            "AD_IMAGE",
            "LEAD_FORM",
            "BUSINESS_LOGO",
            "DESCRIPTION_PREFIX",
            "APP_ICON",
            "APP_TITLE",
            "APP_SCREENSHOT",
            "APP_COVER_PHOTO",
            "APP_SHORT_DESCRIPTION",
            "APP_DEVELOPER_NAME",
            "HEADLINE_AS_SITELINK_POSITION_ONE",
            "HEADLINE_AS_SITELINK_POSITION_TWO",
            "DESCRIPTION_LINE_HEADLINE_AS_SITELINK_POSITION_ONE",
            "DESCRIPTION_LINE_HEADLINE_AS_SITELINK_POSITION_TWO"
          ]
        },
        "asset": {
          "description": "Resource name of the asset.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__AssetUsage",
      "type": "object",
      "description": "Contains the usage information of the asset."
    },
    "GoogleAdsSearchads360V0Resources__AdGroupBidModifier": {
      "id": "GoogleAdsSearchads360V0Resources__AdGroupBidModifier",
      "type": "object",
      "properties": {
        "bidModifier": {
          "description": "The modifier for the bid when the criterion matches. The modifier must be in the range: 0.1 - 10.0. Use 0 to opt out of a Device type.",
          "format": "double",
          "type": "number"
        },
        "device": {
          "description": "Immutable. A device criterion.",
          "$ref": "GoogleAdsSearchads360V0Common__DeviceInfo"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the ad group bid modifier. Ad group bid modifier resource names have the form: `customers/{customer_id}/adGroupBidModifiers/{ad_group_id}~{criterion_id}`",
          "type": "string"
        }
      },
      "description": "Represents an ad group bid modifier."
    },
    "GoogleAdsSearchads360V0Resources__AssetSetAsset": {
      "properties": {
        "status": {
          "enumDescriptions": [
            "The status has not been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The asset set asset is enabled.",
            "The asset set asset is removed."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED"
          ],
          "type": "string",
          "description": "Output only. The status of the asset set asset. Read-only.",
          "readOnly": true
        },
        "resourceName": {
          "description": "Immutable. The resource name of the asset set asset. Asset set asset resource names have the form: `customers/{customer_id}/assetSetAssets/{asset_set_id}~{asset_id}`",
          "type": "string"
        },
        "assetSet": {
          "description": "Immutable. The asset set which this asset set asset is linking to.",
          "type": "string"
        },
        "asset": {
          "description": "Immutable. The asset which this asset set asset is linking to.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__AssetSetAsset",
      "type": "object",
      "description": "AssetSetAsset is the link between an asset and an asset set. Adding an AssetSetAsset links an asset with an asset set."
    },
    "GoogleAdsSearchads360V0Services__ListAccessibleCustomersResponse": {
      "description": "Response message for CustomerService.ListAccessibleCustomers.",
      "id": "GoogleAdsSearchads360V0Services__ListAccessibleCustomersResponse",
      "type": "object",
      "properties": {
        "resourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource name of customers directly accessible by the user authenticating the call."
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__UserLocationView": {
      "id": "GoogleAdsSearchads360V0Resources__UserLocationView",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Output only. The resource name of the user location view. UserLocation view resource names have the form: `customers/{customer_id}/userLocationViews/{country_criterion_id}~{targeting_location}`",
          "readOnly": true,
          "type": "string"
        },
        "targetingLocation": {
          "description": "Output only. Indicates whether location was targeted or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "countryCriterionId": {
          "description": "Output only. Criterion Id for the country.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A user location view. User Location View includes all metrics aggregated at the country level, one row per country. It reports metrics at the actual physical location of the user by targeted or not targeted location. If other segment fields are used, you may get more than one row per country."
    },
    "GoogleAdsSearchads360V0Common__UnifiedPageFeedAsset": {
      "description": "A Unified Page Feed asset.",
      "properties": {
        "pageUrl": {
          "description": "The webpage that advertisers want to target.",
          "type": "string"
        },
        "labels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Labels used to group the page urls."
        }
      },
      "id": "GoogleAdsSearchads360V0Common__UnifiedPageFeedAsset",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__TargetCpa": {
      "properties": {
        "cpcBidFloorMicros": {
          "type": "string",
          "description": "Minimum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. This should only be set for portfolio bid strategies.",
          "format": "int64"
        },
        "targetCpaMicros": {
          "description": "Average CPA target. This target should be greater than or equal to minimum billable unit based on the currency for the account.",
          "format": "int64",
          "type": "string"
        },
        "cpcBidCeilingMicros": {
          "type": "string",
          "description": "Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. This should only be set for portfolio bid strategies.",
          "format": "int64"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__TargetCpa",
      "type": "object",
      "description": "An automated bid strategy that sets bids to help get as many conversions as possible at the target cost-per-acquisition (CPA) you set."
    },
    "GoogleAdsSearchads360V0Common__ManualCpc": {
      "id": "GoogleAdsSearchads360V0Common__ManualCpc",
      "type": "object",
      "properties": {
        "enhancedCpcEnabled": {
          "description": "Whether bids are to be enhanced based on conversion optimizer data.",
          "type": "boolean"
        }
      },
      "description": "Manual click-based bidding where user pays per click."
    },
    "GoogleAdsSearchads360V0Resources__DynamicSearchAdsSearchTermView": {
      "properties": {
        "landingPage": {
          "description": "Output only. The dynamically selected landing page URL of the impression. This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "resourceName": {
          "description": "Output only. The resource name of the dynamic search ads search term view. Dynamic search ads search term view resource names have the form: `customers/{customer_id}/dynamicSearchAdsSearchTermViews/{ad_group_id}~{search_term_fingerprint}~{headline_fingerprint}~{landing_page_fingerprint}~{page_url_fingerprint}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__DynamicSearchAdsSearchTermView",
      "type": "object",
      "description": "A dynamic search ads search term view."
    },
    "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductChannel": {
      "description": "Locality of a product offer.",
      "properties": {
        "channel": {
          "type": "string",
          "description": "Value of the locality.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The item is sold online.",
            "The item is sold in local stores."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "LOCAL"
          ]
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductChannel",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources_Campaign_SelectiveOptimization": {
      "properties": {
        "conversionActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The selected set of resource names for conversion actions for optimizing this campaign."
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_Campaign_SelectiveOptimization",
      "type": "object",
      "description": "Selective optimization setting for this campaign, which includes a set of conversion actions to optimize this campaign towards. This feature only applies to app campaigns that use MULTI_CHANNEL as AdvertisingChannelType and APP_CAMPAIGN or APP_CAMPAIGN_FOR_ENGAGEMENT as AdvertisingChannelSubType."
    },
    "GoogleAdsSearchads360V0Errors_ErrorLocation_FieldPathElement": {
      "description": "A part of a field path.",
      "properties": {
        "fieldName": {
          "description": "The name of a field or a oneof",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "description": "If field_name is a repeated field, this is the element that failed",
          "format": "int32"
        }
      },
      "id": "GoogleAdsSearchads360V0Errors_ErrorLocation_FieldPathElement",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__AssetGroup": {
      "description": "An asset group. AssetGroupAsset is used to link an asset to the asset group. AssetGroupSignal is used to associate a signal to an asset group.",
      "id": "GoogleAdsSearchads360V0Resources__AssetGroup",
      "type": "object",
      "properties": {
        "campaign": {
          "description": "Immutable. The campaign with which this asset group is associated. The asset which is linked to the asset group.",
          "type": "string"
        },
        "path2": {
          "description": "Second part of text that may appear appended to the url displayed in the ad. This field can only be set when path1 is set.",
          "type": "string"
        },
        "finalMobileUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of final mobile URLs after all cross domain redirects. In performance max, by default, the urls are eligible for expansion unless opted out."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "The status has not been specified.",
            "The received value is not known in this version.",
            "The asset group is enabled.",
            "The asset group is paused.",
            "The asset group is removed."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "PAUSED",
            "REMOVED"
          ],
          "description": "The status of the asset group."
        },
        "adStrength": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The ad strength is currently pending.",
            "No ads could be generated.",
            "Poor strength.",
            "Average strength.",
            "Good strength.",
            "Excellent strength."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "PENDING",
            "NO_ADS",
            "POOR",
            "AVERAGE",
            "GOOD",
            "EXCELLENT"
          ],
          "description": "Output only. Overall ad strength of this asset group.",
          "readOnly": true
        },
        "id": {
          "description": "Output only. The ID of the asset group.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "finalUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of final URLs after all cross domain redirects. In performance max, by default, the urls are eligible for expansion unless opted out."
        },
        "name": {
          "description": "Required. Name of the asset group. Required. It must have a minimum length of 1 and maximum length of 128. It must be unique under a campaign.",
          "type": "string"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the asset group. Asset group resource names have the form: `customers/{customer_id}/assetGroups/{asset_group_id}`",
          "type": "string"
        },
        "path1": {
          "description": "First part of text that may appear appended to the url displayed in the ad.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__Visit": {
      "description": "A visit.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. The ID of the visit.",
          "readOnly": true,
          "format": "int64"
        },
        "assetId": {
          "description": "Output only. ID of the asset which was interacted with during the visit event.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "productLanguageCode": {
          "description": "Output only. The language (ISO-639-1) that has been set for the Merchant Center feed containing data about the product.",
          "readOnly": true,
          "type": "string"
        },
        "assetFieldType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The asset is linked for use as a headline.",
            "The asset is linked for use as a description.",
            "The asset is linked for use as mandatory ad text.",
            "The asset is linked for use as a marketing image.",
            "The asset is linked for use as a media bundle.",
            "The asset is linked for use as a YouTube video.",
            "The asset is linked to indicate that a hotels campaign is \"Book on Google\" enabled.",
            "The asset is linked for use as a Lead Form extension.",
            "The asset is linked for use as a Promotion extension.",
            "The asset is linked for use as a Callout extension.",
            "The asset is linked for use as a Structured Snippet extension.",
            "The asset is linked for use as a Sitelink.",
            "The asset is linked for use as a Mobile App extension.",
            "The asset is linked for use as a Hotel Callout extension.",
            "The asset is linked for use as a Call extension.",
            "The asset is linked for use as a Price extension.",
            "The asset is linked for use as a long headline.",
            "The asset is linked for use as a business name.",
            "The asset is linked for use as a square marketing image.",
            "The asset is linked for use as a portrait marketing image.",
            "The asset is linked for use as a logo.",
            "The asset is linked for use as a landscape logo.",
            "The asset is linked for use as a non YouTube logo.",
            "The asset is linked for use to select a call-to-action.",
            "The asset is linked for use to select an ad image.",
            "The asset is linked for use as a business logo.",
            "The asset is linked for use as a hotel property in a Performance Max for travel goals campaign.",
            "The asset is linked for use as a discovery carousel card.",
            "The asset is linked for use as a long description.",
            "The asset is linked for use as a call-to-action."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "HEADLINE",
            "DESCRIPTION",
            "MANDATORY_AD_TEXT",
            "MARKETING_IMAGE",
            "MEDIA_BUNDLE",
            "YOUTUBE_VIDEO",
            "BOOK_ON_GOOGLE",
            "LEAD_FORM",
            "PROMOTION",
            "CALLOUT",
            "STRUCTURED_SNIPPET",
            "SITELINK",
            "MOBILE_APP",
            "HOTEL_CALLOUT",
            "CALL",
            "PRICE",
            "LONG_HEADLINE",
            "BUSINESS_NAME",
            "SQUARE_MARKETING_IMAGE",
            "PORTRAIT_MARKETING_IMAGE",
            "LOGO",
            "LANDSCAPE_LOGO",
            "VIDEO",
            "CALL_TO_ACTION_SELECTION",
            "AD_IMAGE",
            "BUSINESS_LOGO",
            "HOTEL_PROPERTY",
            "DISCOVERY_CAROUSEL_CARD",
            "LONG_DESCRIPTION",
            "CALL_TO_ACTION"
          ],
          "description": "Output only. Asset field type of the visit event.",
          "readOnly": true
        },
        "productId": {
          "description": "Output only. The ID of the product clicked on.",
          "readOnly": true,
          "type": "string"
        },
        "productChannel": {
          "description": "Output only. The sales channel of the product that was clicked on: Online or Local.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The item is sold online.",
            "The item is sold in local stores."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "LOCAL"
          ]
        },
        "criterionId": {
          "description": "Output only. Search Ads 360 keyword ID. A value of 0 indicates that the keyword is unattributed.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "adId": {
          "type": "string",
          "description": "Output only. Ad ID. A value of 0 indicates that the ad is unattributed.",
          "readOnly": true,
          "format": "int64"
        },
        "merchantId": {
          "description": "Output only. The Search Ads 360 inventory account ID containing the product that was clicked on. Search Ads 360 generates this ID when you link an inventory account in Search Ads 360.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "visitDateTime": {
          "description": "Output only. The timestamp of the visit event. The timestamp is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss\" format.",
          "readOnly": true,
          "type": "string"
        },
        "clickId": {
          "description": "Output only. A unique string for each visit that is passed to the landing page as the click id URL parameter.",
          "readOnly": true,
          "type": "string"
        },
        "productStoreId": {
          "description": "Output only. The store in the Local Inventory Ad that was clicked on. This should match the store IDs used in your local products feed.",
          "readOnly": true,
          "type": "string"
        },
        "productCountryCode": {
          "type": "string",
          "description": "Output only. The country (ISO-3166 format) registered for the inventory feed that contains the product clicked on.",
          "readOnly": true
        },
        "resourceName": {
          "type": "string",
          "description": "Output only. The resource name of the visit. Visit resource names have the form: `customers/{customer_id}/visits/{ad_group_id}~{criterion_id}~{ds_visit_id}`",
          "readOnly": true
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__Visit",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__UnifiedSitelinkAsset": {
      "description": "A unified sitelink asset.",
      "properties": {
        "mobilePreferred": {
          "description": "Whether the preference is for the sitelink asset to be displayed on mobile devices. Applies to Microsoft Ads.",
          "type": "boolean"
        },
        "useSearcherTimeZone": {
          "description": "Whether to show the sitelink asset in search user's time zone. Applies to Microsoft Ads.",
          "type": "boolean"
        },
        "description2": {
          "description": "Second line of the description for the sitelink. If set, the length should be between 1 and 35, inclusive, and description1 must also be set.",
          "type": "string"
        },
        "startDate": {
          "description": "Start date of when this asset is effective and can begin serving, in yyyy-MM-dd format.",
          "type": "string"
        },
        "trackingId": {
          "description": "ID used for tracking clicks for the sitelink asset. This is a Yahoo! Japan only field.",
          "format": "int64",
          "type": "string"
        },
        "linkText": {
          "description": "URL display text for the sitelink. The length of this string should be between 1 and 25, inclusive.",
          "type": "string"
        },
        "endDate": {
          "description": "Last date of when this asset is effective and still serving, in yyyy-MM-dd format.",
          "type": "string"
        },
        "description1": {
          "description": "First line of the description for the sitelink. If set, the length should be between 1 and 35, inclusive, and description2 must also be set.",
          "type": "string"
        },
        "adScheduleTargets": {
          "description": "List of non-overlapping schedules specifying all time intervals for which the asset may serve. There can be a maximum of 6 schedules per day, 42 in total.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__AdScheduleInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__UnifiedSitelinkAsset",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources_Campaign_DynamicSearchAdsSetting": {
      "description": "The setting for controlling Dynamic Search Ads (DSA).",
      "properties": {
        "domainName": {
          "description": "Required. The Internet domain name that this setting represents, for example, \"google.com\" or \"www.google.com\".",
          "type": "string"
        },
        "languageCode": {
          "description": "Required. The language code specifying the language of the domain, for example, \"en\".",
          "type": "string"
        },
        "useSuppliedUrlsOnly": {
          "description": "Whether the campaign uses advertiser supplied URLs exclusively.",
          "type": "boolean"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_Campaign_DynamicSearchAdsSetting",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__UnifiedCallAsset": {
      "id": "GoogleAdsSearchads360V0Common__UnifiedCallAsset",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "The advertiser's raw phone number. Examples: '1234567890', '(123)456-7890'",
          "type": "string"
        },
        "callConversionReportingState": {
          "description": "Output only. Indicates whether this CallAsset should use its own call conversion setting, follow the account level setting, or disable call conversion.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Call conversion action is disabled.",
            "Call conversion action will use call conversion type set at the account level.",
            "Call conversion action will use call conversion type set at the resource (call only ads/call extensions) level."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "DISABLED",
            "USE_ACCOUNT_LEVEL_CALL_CONVERSION_ACTION",
            "USE_RESOURCE_LEVEL_CALL_CONVERSION_ACTION"
          ],
          "type": "string"
        },
        "countryCode": {
          "description": "Two-letter country code of the phone number. Examples: 'US', 'us'.",
          "type": "string"
        },
        "callConversionAction": {
          "description": "The conversion action to attribute a call conversion to. If not set, the default conversion action is used. This field only has effect if call_conversion_reporting_state is set to USE_RESOURCE_LEVEL_CALL_CONVERSION_ACTION.",
          "type": "string"
        },
        "callTrackingEnabled": {
          "description": "Whether the call should be enabled on call tracking. Applies to Microsoft Ads.",
          "type": "boolean"
        },
        "startDate": {
          "description": "Start date of when this asset is effective and can begin serving, in yyyy-MM-dd format.",
          "type": "string"
        },
        "useSearcherTimeZone": {
          "description": "Whether to show the call extension in search user's time zone. Applies to Microsoft Ads.",
          "type": "boolean"
        },
        "adScheduleTargets": {
          "description": "List of non-overlapping schedules specifying all time intervals for which the asset may serve. There can be a maximum of 6 schedules per day, 42 in total.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__AdScheduleInfo"
          }
        },
        "endDate": {
          "description": "Last date of when this asset is effective and still serving, in yyyy-MM-dd format.",
          "type": "string"
        },
        "callOnly": {
          "description": "Whether the call only shows the phone number without a link to the website. Applies to Microsoft Ads.",
          "type": "boolean"
        }
      },
      "description": "A unified call asset."
    },
    "GoogleAdsSearchads360V0Resources__WebpageView": {
      "id": "GoogleAdsSearchads360V0Resources__WebpageView",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Output only. The resource name of the webpage view. Webpage view resource names have the form: `customers/{customer_id}/webpageViews/{ad_group_id}~{criterion_id}`",
          "readOnly": true
        }
      },
      "description": "A webpage view."
    },
    "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductBiddingCategory": {
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Level 1.",
            "Level 2.",
            "Level 3.",
            "Level 4.",
            "Level 5."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "LEVEL1",
            "LEVEL2",
            "LEVEL3",
            "LEVEL4",
            "LEVEL5"
          ],
          "description": "Indicates the level of the category in the taxonomy."
        },
        "id": {
          "type": "string",
          "description": "ID of the product bidding category. This ID is equivalent to the google_product_category ID as described in this article: https://support.google.com/merchants/answer/6324436",
          "format": "int64"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductBiddingCategory",
      "type": "object",
      "description": "One element of a bidding category at a certain level. Top-level categories are at level 1, their children at level 2, and so on. We currently support up to 5 levels. The user must specify a dimension type that indicates the level of the category. All cases of the same subdivision must have the same dimension type (category level)."
    },
    "GoogleAdsSearchads360V0Resources__AssetSet": {
      "description": "An asset set representing a collection of assets. Use AssetSetAsset to link an asset to the asset set.",
      "properties": {
        "id": {
          "description": "Output only. The ID of the asset set.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "resourceName": {
[...]
