{
  "version": "v0",
  "version_module": true,
  "kind": "discovery#restDescription",
  "resources": {
    "customers": {
      "resources": {
        "customColumns": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Returns the requested custom column in full detail.",
              "id": "searchads360.customers.customColumns.get",
              "httpMethod": "GET",
              "parameters": {
                "resourceName": {
                  "pattern": "^customers/[^/]+/customColumns/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the custom column to fetch.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "path": "v0/{+resourceName}",
              "flatPath": "v0/customers/{customersId}/customColumns/{customColumnsId}",
              "response": {
                "$ref": "GoogleAdsSearchads360V0Resources__CustomColumn"
              }
            },
            "list": {
              "flatPath": "v0/customers/{customersId}/customColumns",
              "response": {
                "$ref": "GoogleAdsSearchads360V0Services__ListCustomColumnsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Returns all the custom columns associated with the customer in full detail.",
              "id": "searchads360.customers.customColumns.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer to apply the CustomColumn list operation to.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "path": "v0/customers/{+customerId}/customColumns"
            }
          }
        },
        "searchAds360": {
          "methods": {
            "search": {
              "request": {
                "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360Request"
              },
              "flatPath": "v0/customers/{customersId}/searchAds360:search",
              "response": {
                "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360Response"
              },
              "parameters": {
                "customerId": {
                  "required": true,
                  "description": "Required. The ID of the customer being queried.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "path": "v0/customers/{+customerId}/searchAds360:search",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Returns all rows that match the search query. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()",
              "id": "searchads360.customers.searchAds360.search",
              "httpMethod": "POST"
            }
          }
        }
      },
      "methods": {
        "listAccessibleCustomers": {
          "parameterOrder": [],
          "parameters": {},
          "path": "v0/customers:listAccessibleCustomers",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns resource names of customers directly accessible by the user authenticating the call. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "id": "searchads360.customers.listAccessibleCustomers",
          "httpMethod": "GET",
          "flatPath": "v0/customers:listAccessibleCustomers",
          "response": {
            "$ref": "GoogleAdsSearchads360V0Services__ListAccessibleCustomersResponse"
          }
        }
      }
    },
    "searchAds360Fields": {
      "methods": {
        "get": {
          "path": "v0/{+resourceName}",
          "parameters": {
            "resourceName": {
              "required": true,
              "description": "Required. The resource name of the field to get.",
              "type": "string",
              "pattern": "^searchAds360Fields/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "id": "searchads360.searchAds360Fields.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns just the requested field. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v0/searchAds360Fields/{searchAds360FieldsId}",
          "response": {
            "$ref": "GoogleAdsSearchads360V0Resources__SearchAds360Field"
          }
        },
        "search": {
          "path": "v0/searchAds360Fields:search",
          "parameterOrder": [],
          "parameters": {},
          "id": "searchads360.searchAds360Fields.search",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns all fields that match the search [query](/search-ads/reporting/concepts/field-service#use_a_query_to_get_field_details). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()",
          "flatPath": "v0/searchAds360Fields:search",
          "response": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsRequest"
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://searchads360.googleapis.com/",
  "servicePath": "",
  "title": "Search Ads 360 Reporting API",
  "documentationLink": "https://developers.google.com/search-ads/reporting",
  "baseUrl": "https://searchads360.googleapis.com/",
  "id": "searchads360:v0",
  "description": "The Search Ads 360 API allows developers to automate downloading reports from Search Ads 360.",
  "ownerName": "Google",
  "mtlsRootUrl": "https://searchads360.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "SA360",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "basePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "name": "searchads360",
  "schemas": {
    "GoogleAdsSearchads360V0Resources__Customer": {
      "id": "GoogleAdsSearchads360V0Resources__Customer",
      "description": "A customer.",
      "type": "object",
      "properties": {
        "finalUrlSuffix": {
          "description": "The URL template for appending params to the final URL.",
          "type": "string"
        },
        "doubleClickCampaignManagerSetting": {
          "$ref": "GoogleAdsSearchads360V0Resources__DoubleClickCampaignManagerSetting",
          "description": "Output only. DoubleClick Campaign Manager (DCM) setting for a manager customer.",
          "readOnly": true
        },
        "manager": {
          "description": "Output only. Whether the customer is a manager.",
          "type": "boolean",
          "readOnly": true
        },
        "subManagerDescriptiveName": {
          "description": "Output only. The descriptive name of the sub manager.",
          "type": "string",
          "readOnly": true
        },
        "trackingUrlTemplate": {
          "description": "The URL template for constructing a tracking URL out of parameters.",
          "type": "string"
        },
        "lastModifiedTime": {
          "description": "Output only. The datetime when this customer was last modified. The datetime is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss.ssssss\" format.",
          "type": "string",
          "readOnly": true
        },
        "timeZone": {
          "description": "Immutable. The local timezone ID of the customer.",
          "type": "string"
        },
        "accountLevel": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "CLIENT_ACCOUNT_FACEBOOK",
            "CLIENT_ACCOUNT_GOOGLE_ADS",
            "CLIENT_ACCOUNT_MICROSOFT",
            "CLIENT_ACCOUNT_YAHOO_JAPAN",
            "CLIENT_ACCOUNT_ENGINE_TRACK",
            "MANAGER",
            "SUB_MANAGER",
            "ASSOCIATE_MANAGER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Client account (Facebook)",
            "Client account (Google Ads)",
            "Client account (Microsoft)",
            "Client account (Yahoo Japan)",
            "Client account (Engine Track)",
            "Top-level manager.",
            "Sub manager.",
            "Associate manager."
          ],
          "description": "Output only. The account level of the customer: Manager, Sub-manager, Associate manager, Service account.",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "CANCELED",
            "SUSPENDED",
            "CLOSED"
          ],
          "description": "Output only. The status of the customer.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Indicates an active account able to serve ads.",
            "Indicates a canceled account unable to serve ads. Can be reactivated by an admin user.",
            "Indicates a suspended account unable to serve ads. May only be activated by Google support.",
            "Indicates a closed account unable to serve ads. Test account will also have CLOSED status. Status is permanent and may not be reopened."
          ]
        },
        "resourceName": {
          "description": "Immutable. The resource name of the customer. Customer resource names have the form: `customers/{customer_id}`",
          "type": "string"
        },
        "associateManagerDescriptiveName": {
          "readOnly": true,
          "description": "Output only. The descriptive name of the associate manager.",
          "type": "string"
        },
        "creationTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this customer was created. The timestamp is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss\" format.",
          "type": "string"
        },
        "associateManagerId": {
          "description": "Output only. The customer ID of the associate manager. A 0 value indicates that the customer has no SA360 associate manager.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "id": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The ID of the customer.",
          "type": "string"
        },
        "managerId": {
          "format": "int64",
          "description": "Output only. The customer ID of the manager. A 0 value indicates that the customer has no SA360 manager.",
          "type": "string",
          "readOnly": true
        },
        "managerDescriptiveName": {
          "description": "Output only. The descriptive name of the manager.",
          "type": "string",
          "readOnly": true
        },
        "autoTaggingEnabled": {
          "description": "Whether auto-tagging is enabled for the customer.",
          "type": "boolean"
        },
        "engineId": {
          "readOnly": true,
          "description": "Output only. ID of the account in the external engine account.",
          "type": "string"
        },
        "conversionTrackingSetting": {
          "description": "Output only. Conversion tracking setting for a customer.",
          "readOnly": true,
          "$ref": "GoogleAdsSearchads360V0Resources__ConversionTrackingSetting"
        },
        "descriptiveName": {
          "description": "Optional, non-unique descriptive name of the customer.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Immutable. The currency in which the account operates. A subset of the currency codes from the ISO 4217 standard is supported.",
          "type": "string"
        },
        "accountStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Unknown value.",
            "Account is able to serve ads.",
            "Account is deactivated by the user.",
            "Account is deactivated by an internal process.",
            "Account is irrevocably deactivated.",
            "Account is still in the process of setup, not ENABLED yet."
          ],
          "description": "Output only. Account status, for example, Enabled, Paused, Removed, etc.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "PAUSED",
            "SUSPENDED",
            "REMOVED",
            "DRAFT"
          ]
        },
        "accountType": {
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Baidu account.",
            "Engine track account.",
            "Facebook account.",
            "Facebook account managed through gateway.",
            "Google Ads account.",
            "Microsoft Advertising account.",
            "Search Ads 360 manager account.",
            "Yahoo Japan account."
          ],
          "description": "Output only. Engine account type, for example, Google Ads, Microsoft Advertising, Yahoo Japan, Baidu, Facebook, Engine Track, etc.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BAIDU",
            "ENGINE_TRACK",
            "FACEBOOK",
            "FACEBOOK_GATEWAY",
            "GOOGLE_ADS",
            "MICROSOFT",
            "SEARCH_ADS_360",
            "YAHOO_JAPAN"
          ]
        },
        "subManagerId": {
          "format": "int64",
          "description": "Output only. The customer ID of the sub manager. A 0 value indicates that the customer has no sub SA360 manager.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAdsSearchads360V0Common__MaximizeConversions": {
      "id": "GoogleAdsSearchads360V0Common__MaximizeConversions",
      "description": "An automated bidding strategy to help get the most conversions for your campaigns while spending your budget.",
      "type": "object",
      "properties": {
        "cpcBidCeilingMicros": {
          "format": "int64",
          "description": "Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. Mutable for portfolio bidding strategies only.",
          "type": "string"
        },
        "cpcBidFloorMicros": {
          "description": "Minimum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. Mutable for portfolio bidding strategies only.",
          "type": "string",
          "format": "int64"
        },
        "targetCpaMicros": {
          "format": "int64",
          "description": "The target cost-per-action (CPA) option. This is the average amount that you would like to spend per conversion action specified in micro units of the bidding strategy's currency. If set, the bid strategy will get as many conversions as possible at or below the target cost-per-action. If the target CPA is not set, the bid strategy will aim to achieve the lowest possible CPA given the budget.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Common__ManualCpa": {
      "id": "GoogleAdsSearchads360V0Common__ManualCpa",
      "description": "Manual bidding strategy that allows advertiser to set the bid per advertiser-specified action.",
      "type": "object",
      "properties": {}
    },
    "GoogleAdsSearchads360V0Common__TargetingSetting": {
      "id": "GoogleAdsSearchads360V0Common__TargetingSetting",
      "description": "Settings for the targeting-related features, at the campaign and ad group levels. For more details about the targeting setting, visit https://support.google.com/google-ads/answer/7365594",
      "type": "object",
      "properties": {
        "targetRestrictions": {
          "description": "The per-targeting-dimension setting to restrict the reach of your campaign or ad group.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__TargetRestriction"
          }
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__ProductGroupView": {
      "properties": {
        "resourceName": {
          "description": "Output only. The resource name of the product group view. Product group view resource names have the form: `customers/{customer_id}/productGroupViews/{ad_group_id}~{criterion_id}`",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A product group view.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources__ProductGroupView"
    },
    "GoogleAdsSearchads360V0Resources__ListingGroupFilterDimension": {
      "id": "GoogleAdsSearchads360V0Resources__ListingGroupFilterDimension",
      "properties": {
        "productBiddingCategory": {
          "description": "Bidding category of a product offer.",
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductBiddingCategory"
        },
        "productCustomAttribute": {
          "description": "Custom attribute of a product offer.",
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductCustomAttribute"
        },
        "productChannel": {
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductChannel",
          "description": "Locality of a product offer."
        },
        "productItemId": {
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductItemId",
          "description": "Item id of a product offer."
        },
        "productBrand": {
          "description": "Brand of a product offer.",
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductBrand"
        },
        "productCondition": {
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductCondition",
          "description": "Condition of a product offer."
        },
        "productType": {
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductType",
          "description": "Type of a product offer."
        }
      },
      "description": "Listing dimensions for the asset group listing group filter.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__FinalAppUrl": {
      "id": "GoogleAdsSearchads360V0Common__FinalAppUrl",
      "description": "A URL for deep linking into an app for the given operating system.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The app deep link URL. Deep links specify a location in an app that corresponds to the content you'd like to show, and should be of the form {scheme}://{host_path} The scheme identifies which app to open. For your app, you can use a custom scheme that starts with the app's name. The host and path specify the unique location in the app where your content exists. Example: \"exampleapp://productid_1234\". Required.",
          "type": "string"
        },
        "osType": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The Apple IOS operating system.",
            "The Android operating system."
          ],
          "description": "The operating system targeted by this URL. Required.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "IOS",
            "ANDROID"
          ]
        }
      }
    },
    "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductBrand": {
      "description": "Brand of the product.",
      "type": "object",
      "properties": {
        "value": {
          "description": "String value of the product brand.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductBrand"
    },
    "GoogleAdsSearchads360V0Common__LocationInfo": {
      "id": "GoogleAdsSearchads360V0Common__LocationInfo",
      "description": "A location criterion.",
      "type": "object",
      "properties": {
        "geoTargetConstant": {
          "description": "The geo target constant resource name.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Common__ManualCpc": {
      "description": "Manual click-based bidding where user pays per click.",
      "type": "object",
      "properties": {
        "enhancedCpcEnabled": {
          "description": "Whether bids are to be enhanced based on conversion optimizer data.",
          "type": "boolean"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__ManualCpc"
    },
    "GoogleAdsSearchads360V0Resources__AdGroupAssetSet": {
      "properties": {
        "adGroup": {
          "description": "Immutable. The ad group to which this asset set is linked.",
          "type": "string"
        },
        "assetSet": {
          "description": "Immutable. The asset set which is linked to the ad group.",
          "type": "string"
        },
        "status": {
          "description": "Output only. The status of the ad group asset set. Read-only.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The status has not been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The linkage between asset set and its container is enabled.",
            "The linkage between asset set and its container is removed."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED"
          ]
        },
        "resourceName": {
          "description": "Immutable. The resource name of the ad group asset set. Ad group asset set resource names have the form: `customers/{customer_id}/adGroupAssetSets/{ad_group_id}~{asset_set_id}`",
          "type": "string"
        }
      },
      "description": "AdGroupAssetSet is the linkage between an ad group and an asset set. Creating an AdGroupAssetSet links an asset set with an ad group.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources__AdGroupAssetSet"
    },
    "GoogleAdsSearchads360V0Common__UserListInfo": {
      "description": "A User List criterion. Represents a user list that is defined by the advertiser to be targeted.",
      "type": "object",
      "properties": {
        "userList": {
          "description": "The User List resource name.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__UserListInfo"
    },
    "GoogleAdsSearchads360V0Resources__SearchAds360Field": {
      "id": "GoogleAdsSearchads360V0Resources__SearchAds360Field",
      "properties": {
        "filterable": {
          "readOnly": true,
          "description": "Output only. Whether the artifact can be used in a WHERE clause in search queries.",
          "type": "boolean"
        },
        "sortable": {
          "readOnly": true,
          "description": "Output only. Whether the artifact can be used in a ORDER BY clause in search queries.",
          "type": "boolean"
        },
        "selectable": {
          "readOnly": true,
          "description": "Output only. Whether the artifact can be used in a SELECT clause in search queries.",
          "type": "boolean"
        },
        "segments": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. This field lists the names of all artifacts, whether a segment or another resource, that segment metrics when included in search queries and when the described artifact is used in the FROM clause. It is only set for artifacts whose category is RESOURCE.",
          "type": "array"
        },
        "name": {
          "description": "Output only. The name of the artifact.",
          "type": "string",
          "readOnly": true
        },
        "selectableWith": {
          "description": "Output only. The names of all resources, segments, and metrics that are selectable with the described artifact.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "dataType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified",
            "Unknown",
            "Maps to google.protobuf.BoolValue Applicable operators: =, !=",
            "Maps to google.protobuf.StringValue. It can be compared using the set of operators specific to dates however. Applicable operators: =, <, >, <=, >=, BETWEEN, DURING, and IN",
            "Maps to google.protobuf.DoubleValue Applicable operators: =, !=, <, >, IN, NOT IN",
            "Maps to an enum. It's specific definition can be found at type_url. Applicable operators: =, !=, IN, NOT IN",
            "Maps to google.protobuf.FloatValue Applicable operators: =, !=, <, >, IN, NOT IN",
            "Maps to google.protobuf.Int32Value Applicable operators: =, !=, <, >, <=, >=, BETWEEN, IN, NOT IN",
            "Maps to google.protobuf.Int64Value Applicable operators: =, !=, <, >, <=, >=, BETWEEN, IN, NOT IN",
            "Maps to a protocol buffer message type. The data type's details can be found in type_url. No operators work with MESSAGE fields.",
            "Maps to google.protobuf.StringValue. Represents the resource name (unique id) of a resource or one of its foreign keys. No operators work with RESOURCE_NAME fields.",
            "Maps to google.protobuf.StringValue. Applicable operators: =, !=, LIKE, NOT LIKE, IN, NOT IN",
            "Maps to google.protobuf.UInt64Value Applicable operators: =, !=, <, >, <=, >=, BETWEEN, IN, NOT IN"
          ],
          "description": "Output only. This field determines the operators that can be used with the artifact in WHERE clauses.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BOOLEAN",
            "DATE",
            "DOUBLE",
            "ENUM",
            "FLOAT",
            "INT32",
            "INT64",
            "MESSAGE",
            "RESOURCE_NAME",
            "STRING",
            "UINT64"
          ]
        },
        "resourceName": {
          "description": "Output only. The resource name of the artifact. Artifact resource names have the form: `SearchAds360Fields/{name}`",
          "type": "string",
          "readOnly": true
        },
        "attributeResources": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of all resources that are selectable with the described artifact. Fields from these resources do not segment metrics when included in search queries. This field is only set for artifacts whose category is RESOURCE.",
          "type": "array"
        },
        "category": {
          "description": "Output only. The category of the artifact.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified",
            "Unknown",
            "The described artifact is a resource.",
            "The described artifact is a field and is an attribute of a resource. Including a resource attribute field in a query may segment the query if the resource to which it is attributed segments the resource found in the FROM clause.",
            "The described artifact is a field and always segments search queries.",
            "The described artifact is a field and is a metric. It never segments search queries."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "RESOURCE",
            "ATTRIBUTE",
            "SEGMENT",
            "METRIC"
          ]
        },
        "isRepeated": {
          "description": "Output only. Whether the field artifact is repeated.",
          "type": "boolean",
          "readOnly": true
        },
        "enumValues": {
          "description": "Output only. Values the artifact can assume if it is a field of type ENUM. This field is only set for artifacts of category SEGMENT or ATTRIBUTE.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "metrics": {
          "description": "Output only. This field lists the names of all metrics that are selectable with the described artifact when it is used in the FROM clause. It is only set for artifacts whose category is RESOURCE.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "typeUrl": {
          "description": "Output only. The URL of proto describing the artifact's data type.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A field or resource (artifact) used by SearchAds360Service.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__AssetGroup": {
      "id": "GoogleAdsSearchads360V0Resources__AssetGroup",
      "description": "An asset group. AssetGroupAsset is used to link an asset to the asset group. AssetGroupSignal is used to associate a signal to an asset group.",
      "type": "object",
      "properties": {
        "path1": {
          "description": "First part of text that may appear appended to the url displayed in the ad.",
          "type": "string"
        },
        "adStrength": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "PENDING",
            "NO_ADS",
            "POOR",
            "AVERAGE",
            "GOOD",
            "EXCELLENT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The ad strength is currently pending.",
            "No ads could be generated.",
            "Poor strength.",
            "Average strength.",
            "Good strength.",
            "Excellent strength."
          ],
          "description": "Output only. Overall ad strength of this asset group.",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of the asset group.",
          "type": "string",
          "format": "int64"
        },
        "finalMobileUrls": {
          "description": "A list of final mobile URLs after all cross domain redirects. In performance max, by default, the urls are eligible for expansion unless opted out.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. Name of the asset group. Required. It must have a minimum length of 1 and maximum length of 128. It must be unique under a campaign.",
          "type": "string"
        },
        "finalUrls": {
          "items": {
            "type": "string"
          },
          "description": "A list of final URLs after all cross domain redirects. In performance max, by default, the urls are eligible for expansion unless opted out.",
          "type": "array"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the asset group. Asset group resource names have the form: `customers/{customer_id}/assetGroups/{asset_group_id}`",
          "type": "string"
        },
        "path2": {
          "description": "Second part of text that may appear appended to the url displayed in the ad. This field can only be set when path1 is set.",
          "type": "string"
        },
        "campaign": {
          "description": "Immutable. The campaign with which this asset group is associated. The asset which is linked to the asset group.",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "PAUSED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "The status has not been specified.",
            "The received value is not known in this version.",
            "The asset group is enabled.",
            "The asset group is paused.",
            "The asset group is removed."
          ],
          "description": "The status of the asset group.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Common__TargetCpm": {
      "id": "GoogleAdsSearchads360V0Common__TargetCpm",
      "properties": {},
      "description": "Target CPM (cost per thousand impressions) is an automated bidding strategy that sets bids to optimize performance given the target CPM you set.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources_ConversionAction_FloodlightSettings": {
      "description": "Settings related to a Floodlight conversion action.",
      "type": "object",
      "properties": {
        "activityTag": {
          "readOnly": true,
          "description": "Output only. String used to identify a Floodlight activity when reporting conversions.",
          "type": "string"
        },
        "activityId": {
          "format": "int64",
          "description": "Output only. ID of the Floodlight activity in DoubleClick Campaign Manager (DCM).",
          "type": "string",
          "readOnly": true
        },
        "activityGroupTag": {
          "description": "Output only. String used to identify a Floodlight activity group when reporting conversions.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_ConversionAction_FloodlightSettings"
    },
    "GoogleAdsSearchads360V0Resources__AssetGroupSignal": {
      "id": "GoogleAdsSearchads360V0Resources__AssetGroupSignal",
      "description": "AssetGroupSignal represents a signal in an asset group. The existence of a signal tells the performance max campaign who's most likely to convert. Performance Max uses the signal to look for new people with similar or stronger intent to find conversions across Search, Display, Video, and more.",
      "type": "object",
      "properties": {
        "assetGroup": {
          "description": "Immutable. The asset group which this asset group signal belongs to.",
          "type": "string"
        },
        "audience": {
          "description": "Immutable. The audience signal to be used by the performance max campaign.",
          "$ref": "GoogleAdsSearchads360V0Common__AudienceInfo"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the asset group signal. Asset group signal resource name have the form: `customers/{customer_id}/assetGroupSignals/{asset_group_id}~{signal_id}`",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Common__RealTimeBiddingSetting": {
      "properties": {
        "optIn": {
          "description": "Whether the campaign is opted in to real-time bidding.",
          "type": "boolean"
        }
      },
      "description": "Settings for Real-Time Bidding, a feature only available for campaigns targeting the Ad Exchange network.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Common__RealTimeBiddingSetting"
    },
    "GoogleAdsSearchads360V0Resources_AdGroupCriterion_QualityInfo": {
      "id": "GoogleAdsSearchads360V0Resources_AdGroupCriterion_QualityInfo",
      "properties": {
        "qualityScore": {
          "description": "Output only. The quality score. This field may not be populated if Google does not have enough information to determine a value.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "description": "A container for ad group criterion quality information.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__CustomerAssetSet": {
      "description": "CustomerAssetSet is the linkage between a customer and an asset set. Adding a CustomerAssetSet links an asset set with a customer.",
      "type": "object",
      "properties": {
        "assetSet": {
          "description": "Immutable. The asset set which is linked to the customer.",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED"
          ],
          "description": "Output only. The status of the customer asset set asset. Read-only.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The status has not been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The linkage between asset set and its container is enabled.",
            "The linkage between asset set and its container is removed."
          ]
        },
        "resourceName": {
          "description": "Immutable. The resource name of the customer asset set. Asset set asset resource names have the form: `customers/{customer_id}/customerAssetSets/{asset_set_id}`",
          "type": "string"
        },
        "customer": {
          "description": "Immutable. The customer to which this asset set is linked.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__CustomerAssetSet"
    },
    "GoogleAdsSearchads360V0Resources__CampaignCriterion": {
      "description": "A campaign criterion.",
      "type": "object",
      "properties": {
        "bidModifier": {
          "format": "float",
          "description": "The modifier for the bids when the criterion matches. The modifier must be in the range: 0.1 - 10.0. Most targetable criteria types support modifiers. Use 0 to opt out of a Device type.",
          "type": "number"
        },
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Keyword, for example, 'mars cruise'.",
            "Placement, also known as Website, for example, 'www.flowers4sale.com'",
            "Mobile application categories to target.",
            "Mobile applications to target.",
            "Devices to target.",
            "Locations to target.",
            "Listing groups to target.",
            "Ad Schedule.",
            "Age range.",
            "Gender.",
            "Income Range.",
            "Parental status.",
            "YouTube Video.",
            "YouTube Channel.",
            "User list.",
            "Proximity.",
            "A topic target on the display network (for example, \"Pets & Animals\").",
            "Listing scope to target.",
            "Language.",
            "IpBlock.",
            "Content Label for category exclusion.",
            "Carrier.",
            "A category the user is interested in.",
            "Webpage criterion for dynamic search ads.",
            "Operating system version.",
            "App payment model.",
            "Mobile device.",
            "Custom affinity.",
            "Custom intent.",
            "Location group.",
            "Custom audience",
            "Combined audience",
            "Smart Campaign keyword theme",
            "Audience",
            "Local Services Ads Service ID.",
            "Brand",
            "Brand List",
            "Life Event"
          ],
          "description": "Output only. The type of the criterion.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "KEYWORD",
            "PLACEMENT",
            "MOBILE_APP_CATEGORY",
            "MOBILE_APPLICATION",
            "DEVICE",
            "LOCATION",
            "LISTING_GROUP",
            "AD_SCHEDULE",
            "AGE_RANGE",
            "GENDER",
            "INCOME_RANGE",
            "PARENTAL_STATUS",
            "YOUTUBE_VIDEO",
            "YOUTUBE_CHANNEL",
            "USER_LIST",
            "PROXIMITY",
            "TOPIC",
            "LISTING_SCOPE",
            "LANGUAGE",
            "IP_BLOCK",
            "CONTENT_LABEL",
            "CARRIER",
            "USER_INTEREST",
            "WEBPAGE",
            "OPERATING_SYSTEM_VERSION",
            "APP_PAYMENT_MODEL",
            "MOBILE_DEVICE",
            "CUSTOM_AFFINITY",
            "CUSTOM_INTENT",
            "LOCATION_GROUP",
            "CUSTOM_AUDIENCE",
            "COMBINED_AUDIENCE",
            "KEYWORD_THEME",
            "AUDIENCE",
            "LOCAL_SERVICE_ID",
            "BRAND",
            "BRAND_LIST",
            "LIFE_EVENT"
          ]
        },
        "language": {
          "description": "Immutable. Language.",
          "$ref": "GoogleAdsSearchads360V0Common__LanguageInfo"
        },
        "negative": {
          "description": "Immutable. Whether to target (`false`) or exclude (`true`) the criterion.",
          "type": "boolean"
        },
        "keyword": {
          "$ref": "GoogleAdsSearchads360V0Common__KeywordInfo",
          "description": "Immutable. Keyword."
        },
        "gender": {
          "$ref": "GoogleAdsSearchads360V0Common__GenderInfo",
          "description": "Immutable. Gender."
        },
        "device": {
          "$ref": "GoogleAdsSearchads360V0Common__DeviceInfo",
          "description": "Immutable. Device."
        },
        "ageRange": {
          "$ref": "GoogleAdsSearchads360V0Common__AgeRangeInfo",
          "description": "Immutable. Age range."
        },
        "location": {
          "$ref": "GoogleAdsSearchads360V0Common__LocationInfo",
          "description": "Immutable. Location."
        },
        "resourceName": {
          "description": "Immutable. The resource name of the campaign criterion. Campaign criterion resource names have the form: `customers/{customer_id}/campaignCriteria/{campaign_id}~{criterion_id}`",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "No value has been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The campaign criterion is enabled.",
            "The campaign criterion is paused.",
            "The campaign criterion is removed."
          ],
          "description": "The status of the criterion.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "PAUSED",
            "REMOVED"
          ]
        },
        "webpage": {
          "description": "Immutable. Webpage.",
          "$ref": "GoogleAdsSearchads360V0Common__WebpageInfo"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the criterion. This field is ignored for mutates.",
          "type": "string"
        },
        "criterionId": {
          "format": "int64",
          "description": "Output only. The ID of the criterion. This field is ignored during mutate.",
          "type": "string",
          "readOnly": true
        },
        "userList": {
          "description": "Immutable. User List.",
          "$ref": "GoogleAdsSearchads360V0Common__UserListInfo"
        },
        "locationGroup": {
          "$ref": "GoogleAdsSearchads360V0Common__LocationGroupInfo",
          "description": "Immutable. Location Group"
        },
        "lastModifiedTime": {
          "description": "Output only. The datetime when this campaign criterion was last modified. The datetime is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss.ssssss\" format.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__CampaignCriterion"
    },
    "GoogleAdsSearchads360V0Resources__LanguageConstant": {
      "description": "A language.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The full name of the language in English, for example, \"English (US)\", \"Spanish\", etc.",
          "type": "string",
          "readOnly": true
        },
        "targetable": {
          "description": "Output only. Whether the language is targetable.",
          "type": "boolean",
          "readOnly": true
        },
        "code": {
          "readOnly": true,
          "description": "Output only. The language code, for example, \"en_US\", \"en_AU\", \"es\", \"fr\", etc.",
          "type": "string"
        },
        "resourceName": {
          "description": "Output only. The resource name of the language constant. Language constant resource names have the form: `languageConstants/{criterion_id}`",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "format": "int64",
          "description": "Output only. The ID of the language constant.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__LanguageConstant"
    },
    "GoogleAdsSearchads360V0Common__TargetSpend": {
      "id": "GoogleAdsSearchads360V0Common__TargetSpend",
      "description": "An automated bid strategy that sets your bids to help get as many clicks as possible within your budget.",
      "type": "object",
      "properties": {
        "cpcBidCeilingMicros": {
          "description": "Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy.",
          "type": "string",
          "format": "int64"
        },
        "targetSpendMicros": {
          "description": "Deprecated: The spend target under which to maximize clicks. A TargetSpend bidder will attempt to spend the smaller of this value or the natural throttling spend amount. If not specified, the budget is used as the spend target. This field is deprecated and should no longer be used. See https://ads-developers.googleblog.com/2020/05/reminder-about-sunset-creation-of.html for details.",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleAdsSearchads360V0Errors_ErrorLocation_FieldPathElement": {
      "id": "GoogleAdsSearchads360V0Errors_ErrorLocation_FieldPathElement",
      "properties": {
        "fieldName": {
          "description": "The name of a field or a oneof",
          "type": "string"
        },
        "index": {
          "description": "If field_name is a repeated field, this is the element that failed",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A part of a field path.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__LocationGroupInfo": {
      "id": "GoogleAdsSearchads360V0Common__LocationGroupInfo",
      "description": "A radius around a list of locations specified through a feed.",
      "type": "object",
      "properties": {
        "radiusUnits": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Meters",
            "Miles",
            "Milli Miles"
          ],
          "description": "Unit of the radius. Miles and meters are supported for geo target constants. Milli miles and meters are supported for feed item sets. This is required and must be set in CREATE operations.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "METERS",
            "MILES",
            "MILLI_MILES"
          ]
        },
        "radius": {
          "format": "int64",
          "description": "Distance in units specifying the radius around targeted locations. This is required and must be set in CREATE operations.",
          "type": "string"
        },
        "geoTargetConstants": {
          "items": {
            "type": "string"
          },
          "description": "Geo target constant(s) restricting the scope of the geographic area within the feed. Currently only one geo target constant is allowed.",
          "type": "array"
        },
        "feedItemSets": {
          "items": {
            "type": "string"
          },
          "description": "FeedItemSets whose FeedItems are targeted. If multiple IDs are specified, then all items that appear in at least one set are targeted. This field cannot be used with geo_target_constants. This is optional and can only be set in CREATE operations.",
          "type": "array"
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__GenderView": {
      "id": "GoogleAdsSearchads360V0Resources__GenderView",
      "properties": {
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the gender view. Gender view resource names have the form: `customers/{customer_id}/genderViews/{ad_group_id}~{criterion_id}`",
          "type": "string"
        }
      },
      "description": "A gender view. The gender_view resource reflects the effective serving state, rather than what criteria were added. An ad group without gender criteria by default shows to all genders, so all genders appear in gender_view with stats.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductCondition": {
      "description": "Condition of a product offer.",
      "type": "object",
      "properties": {
        "condition": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "NEW",
            "REFURBISHED",
            "USED"
          ],
          "description": "Value of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The product condition is new.",
            "The product condition is refurbished.",
            "The product condition is used."
          ]
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductCondition"
    },
    "GoogleAdsSearchads360V0Resources__CampaignAssetSet": {
      "properties": {
        "resourceName": {
          "description": "Immutable. The resource name of the campaign asset set. Asset set asset resource names have the form: `customers/{customer_id}/campaignAssetSets/{campaign_id}~{asset_set_id}`",
          "type": "string"
        },
        "assetSet": {
          "description": "Immutable. The asset set which is linked to the campaign.",
          "type": "string"
        },
        "status": {
          "description": "Output only. The status of the campaign asset set asset. Read-only.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The status has not been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The linkage between asset set and its container is enabled.",
            "The linkage between asset set and its container is removed."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED"
          ]
        },
        "campaign": {
          "description": "Immutable. The campaign to which this asset set is linked.",
          "type": "string"
        }
      },
      "description": "CampaignAssetSet is the linkage between a campaign and an asset set. Adding a CampaignAssetSet links an asset set with a campaign.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources__CampaignAssetSet"
    },
    "GoogleAdsSearchads360V0Common__PercentCpc": {
      "id": "GoogleAdsSearchads360V0Common__PercentCpc",
      "properties": {
        "cpcBidCeilingMicros": {
          "format": "int64",
          "description": "Maximum bid limit that can be set by the bid strategy. This is an optional field entered by the advertiser and specified in local micros. Note: A zero value is interpreted in the same way as having bid_ceiling undefined.",
          "type": "string"
        },
        "enhancedCpcEnabled": {
          "description": "Adjusts the bid for each auction upward or downward, depending on the likelihood of a conversion. Individual bids may exceed cpc_bid_ceiling_micros, but the average bid amount for a campaign should not.",
          "type": "boolean"
        }
      },
      "description": "A bidding strategy where bids are a fraction of the advertised price for some good or service.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__AdGroupEffectiveLabel": {
      "id": "GoogleAdsSearchads360V0Resources__AdGroupEffectiveLabel",
      "properties": {
        "adGroup": {
          "description": "Immutable. The ad group to which the effective label is attached.",
          "type": "string"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the ad group effective label. Ad group effective label resource names have the form: `customers/{owner_customer_id}/adGroupEffectiveLabels/{ad_group_id}~{label_id}`",
          "type": "string"
        },
        "label": {
          "description": "Immutable. The effective label assigned to the ad group.",
          "type": "string"
        },
        "ownerCustomerId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The ID of the Customer which owns the effective label.",
          "type": "string"
        }
      },
      "description": "A relationship between an ad group and an effective label. An effective label is a label inherited or directly assigned to this ad group.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__EnhancedCpc": {
      "description": "An automated bidding strategy that raises bids for clicks that seem more likely to lead to a conversion and lowers them for clicks where they seem less likely. This bidding strategy is deprecated and cannot be created anymore. Use ManualCpc with enhanced_cpc_enabled set to true for equivalent functionality.",
      "type": "object",
      "properties": {},
      "id": "GoogleAdsSearchads360V0Common__EnhancedCpc"
    },
    "GoogleAdsSearchads360V0Resources__AccessibleBiddingStrategy": {
      "description": "Represents a view of BiddingStrategies owned by and shared with the customer. In contrast to BiddingStrategy, this resource includes strategies owned by managers of the customer and shared with this customer - in addition to strategies owned by this customer. This resource does not provide metrics and only exposes a limited subset of the BiddingStrategy attributes.",
      "type": "object",
      "properties": {
        "targetRoas": {
          "description": "Output only. A bidding strategy that helps you maximize revenue while averaging a specific target Return On Ad Spend (ROAS).",
          "readOnly": true,
          "$ref": "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetRoas"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of the bidding strategy.",
          "type": "string",
          "format": "int64"
        },
        "targetCpa": {
          "$ref": "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetCpa",
          "readOnly": true,
          "description": "Output only. A bidding strategy that sets bids to help get as many conversions as possible at the target cost-per-acquisition (CPA) you set."
        },
        "targetSpend": {
          "readOnly": true,
          "description": "Output only. A bid strategy that sets your bids to help get as many clicks as possible within your budget.",
          "$ref": "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetSpend"
        },
        "targetImpressionShare": {
          "description": "Output only. A bidding strategy that automatically optimizes towards a chosen percentage of impressions.",
          "readOnly": true,
          "$ref": "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetImpressionShare"
        },
        "type": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "COMMISSION",
            "ENHANCED_CPC",
            "INVALID",
            "MANUAL_CPA",
            "MANUAL_CPC",
            "MANUAL_CPM",
            "MANUAL_CPV",
            "MAXIMIZE_CONVERSIONS",
            "MAXIMIZE_CONVERSION_VALUE",
            "PAGE_ONE_PROMOTED",
            "PERCENT_CPC",
            "TARGET_CPA",
            "TARGET_CPM",
            "TARGET_IMPRESSION_SHARE",
            "TARGET_OUTRANK_SHARE",
            "TARGET_ROAS",
            "TARGET_SPEND"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Commission is an automatic bidding strategy in which the advertiser pays a certain portion of the conversion value.",
            "Enhanced CPC is a bidding strategy that raises bids for clicks that seem more likely to lead to a conversion and lowers them for clicks where they seem less likely.",
            "Used for return value only. Indicates that a campaign does not have a bidding strategy. This prevents the campaign from serving. For example, a campaign may be attached to a manager bidding strategy and the serving account is subsequently unlinked from the manager account. In this case the campaign will automatically be detached from the now inaccessible manager bidding strategy and transition to the INVALID bidding strategy type.",
            "Manual bidding strategy that allows advertiser to set the bid per advertiser-specified action.",
            "Manual click based bidding where user pays per click.",
            "Manual impression based bidding where user pays per thousand impressions.",
            "A bidding strategy that pays a configurable amount per video view.",
            "A bidding strategy that automatically maximizes number of conversions given a daily budget.",
            "An automated bidding strategy that automatically sets bids to maximize revenue while spending your budget.",
            "Page-One Promoted bidding scheme, which sets max cpc bids to target impressions on page one or page one promoted slots on google.com. This enum value is deprecated.",
            "Percent Cpc is bidding strategy where bids are a fraction of the advertised price for some good or service.",
            "Target CPA is an automated bid strategy that sets bids to help get as many conversions as possible at the target cost-per-acquisition (CPA) you set.",
            "Target CPM is an automated bid strategy that sets bids to help get as many impressions as possible at the target cost per one thousand impressions (CPM) you set.",
            "An automated bidding strategy that sets bids so that a certain percentage of search ads are shown at the top of the first page (or other targeted location).",
            "Target Outrank Share is an automated bidding strategy that sets bids based on the target fraction of auctions where the advertiser should outrank a specific competitor. This enum value is deprecated.",
            "Target ROAS is an automated bidding strategy that helps you maximize revenue while averaging a specific target Return On Average Spend (ROAS).",
            "Target Spend is an automated bid strategy that sets your bids to help get as many clicks as possible within your budget."
          ],
          "description": "Output only. The type of the bidding strategy.",
          "type": "string"
        },
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the accessible bidding strategy. AccessibleBiddingStrategy resource names have the form: `customers/{customer_id}/accessibleBiddingStrategies/{bidding_strategy_id}`",
          "type": "string"
        },
        "maximizeConversions": {
          "description": "Output only. An automated bidding strategy to help get the most conversions for your campaigns while spending your budget.",
          "readOnly": true,
          "$ref": "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_MaximizeConversions"
        },
        "ownerCustomerId": {
          "readOnly": true,
          "description": "Output only. The ID of the Customer which owns the bidding strategy.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the bidding strategy.",
          "type": "string"
        },
        "maximizeConversionValue": {
          "description": "Output only. An automated bidding strategy to help get the most conversion value for your campaigns while spending your budget.",
          "readOnly": true,
          "$ref": "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_MaximizeConversionValue"
        },
        "ownerDescriptiveName": {
          "description": "Output only. descriptive_name of the Customer which owns the bidding strategy.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__AccessibleBiddingStrategy"
    },
    "GoogleAdsSearchads360V0Services__RawEventConversionMetricHeader": {
      "description": "Message for raw event conversion metric header.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The user defined name of the raw event metric.",
          "type": "string"
        },
        "id": {
          "description": "The conversion custom variable ID.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleAdsSearchads360V0Services__RawEventConversionMetricHeader"
    },
    "GoogleAdsSearchads360V0Errors__ErrorLocation": {
      "properties": {
        "fieldPathElements": {
          "description": "A field path that indicates which field was invalid in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Errors_ErrorLocation_FieldPathElement"
          }
        }
      },
      "description": "Describes the part of the request proto that caused the error.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Errors__ErrorLocation"
    },
    "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductBiddingCategory": {
      "description": "One element of a bidding category at a certain level. Top-level categories are at level 1, their children at level 2, and so on. We currently support up to 5 levels. The user must specify a dimension type that indicates the level of the category. All cases of the same subdivision must have the same dimension type (category level).",
      "type": "object",
      "properties": {
        "level": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Level 1.",
            "Level 2.",
            "Level 3.",
            "Level 4.",
            "Level 5."
          ],
          "description": "Indicates the level of the category in the taxonomy.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "LEVEL1",
            "LEVEL2",
            "LEVEL3",
            "LEVEL4",
            "LEVEL5"
          ]
        },
        "id": {
          "format": "int64",
          "description": "ID of the product bidding category. This ID is equivalent to the google_product_category ID as described in this article: https://support.google.com/merchants/answer/6324436",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductBiddingCategory"
    },
    "GoogleAdsSearchads360V0Common__TargetImpressionShare": {
      "id": "GoogleAdsSearchads360V0Common__TargetImpressionShare",
      "properties": {
        "cpcBidCeilingMicros": {
          "format": "int64",
          "description": "The highest CPC bid the automated bidding system is permitted to specify. This is a required field entered by the advertiser that sets the ceiling and specified in local micros.",
          "type": "string"
        },
        "location": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ANYWHERE_ON_PAGE",
            "TOP_OF_PAGE",
            "ABSOLUTE_TOP_OF_PAGE"
          ],
          "description": "The targeted location on the search results page.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Any location on the web page.",
            "Top box of ads.",
            "Top slot in the top box of ads."
          ]
        },
        "locationFractionMicros": {
          "format": "int64",
          "description": "The chosen fraction of ads to be shown in the targeted location in micros. For example, 1% equals 10,000.",
          "type": "string"
        }
      },
      "description": "An automated bidding strategy that sets bids so that a certain percentage of search ads are shown at the top of the first page (or other targeted location).",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources_Campaign_OptimizationGoalSetting": {
      "id": "GoogleAdsSearchads360V0Resources_Campaign_OptimizationGoalSetting",
      "properties": {
        "optimizationGoalTypes": {
          "description": "The list of optimization goal types.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Used as a return value only. Represents value unknown in this version.",
              "Optimize for call clicks. Call click conversions are times people selected 'Call' to contact a store after viewing an ad.",
              "Optimize for driving directions. Driving directions conversions are times people selected 'Get directions' to navigate to a store after viewing an ad.",
              "Optimize for pre-registration. Pre-registration conversions are the number of pre-registration signups to receive a notification when the app is released."
            ],
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "CALL_CLICKS",
              "DRIVING_DIRECTIONS",
              "APP_PRE_REGISTRATION"
            ]
          }
        }
      },
      "description": "Optimization goal setting for this campaign, which includes a set of optimization goal types.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__CampaignAudienceView": {
      "id": "GoogleAdsSearchads360V0Resources__CampaignAudienceView",
      "properties": {
        "resourceName": {
          "description": "Output only. The resource name of the campaign audience view. Campaign audience view resource names have the form: `customers/{customer_id}/campaignAudienceViews/{campaign_id}~{criterion_id}`",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A campaign audience view. Includes performance data from interests and remarketing lists for Display Network and YouTube Network ads, and remarketing lists for search ads (RLSA), aggregated by campaign and audience criterion. This view only includes audiences attached at the campaign level.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__Visit": {
      "description": "A visit.",
      "type": "object",
      "properties": {
        "productCountryCode": {
          "description": "Output only. The country (ISO-3166 format) registered for the inventory feed that contains the product clicked on.",
          "type": "string",
          "readOnly": true
        },
        "assetId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. ID of the asset which was interacted with during the visit event.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of the visit.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "clickId": {
          "description": "Output only. A unique string for each visit that is passed to the landing page as the click id URL parameter.",
          "type": "string",
          "readOnly": true
        },
        "visitDateTime": {
          "description": "Output only. The timestamp of the visit event. The timestamp is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss\" format.",
          "type": "string",
          "readOnly": true
        },
        "merchantId": {
          "description": "Output only. The Search Ads 360 inventory account ID containing the product that was clicked on. Search Ads 360 generates this ID when you link an inventory account in Search Ads 360.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "assetFieldType": {
          "description": "Output only. Asset field type of the visit event.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The asset is linked for use as a headline.",
            "The asset is linked for use as a description.",
            "The asset is linked for use as mandatory ad text.",
            "The asset is linked for use as a marketing image.",
            "The asset is linked for use as a media bundle.",
            "The asset is linked for use as a YouTube video.",
            "The asset is linked to indicate that a hotels campaign is \"Book on Google\" enabled.",
            "The asset is linked for use as a Lead Form extension.",
            "The asset is linked for use as a Promotion extension.",
            "The asset is linked for use as a Callout extension.",
            "The asset is linked for use as a Structured Snippet extension.",
            "The asset is linked for use as a Sitelink.",
            "The asset is linked for use as a Mobile App extension.",
            "The asset is linked for use as a Hotel Callout extension.",
            "The asset is linked for use as a Call extension.",
            "The asset is linked for use as a Price extension.",
            "The asset is linked for use as a long headline.",
            "The asset is linked for use as a business name.",
            "The asset is linked for use as a square marketing image.",
            "The asset is linked for use as a portrait marketing image.",
            "The asset is linked for use as a logo.",
            "The asset is linked for use as a landscape logo.",
            "The asset is linked for use as a non YouTube logo.",
            "The asset is linked for use to select a call-to-action.",
            "The asset is linked for use to select an ad image.",
            "The asset is linked for use as a business logo.",
            "The asset is linked for use as a hotel property in a Performance Max for travel goals campaign.",
            "The asset is linked for use as a discovery carousel card.",
            "The asset is linked for use as a long description.",
            "The asset is linked for use as a call-to-action."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "HEADLINE",
            "DESCRIPTION",
            "MANDATORY_AD_TEXT",
            "MARKETING_IMAGE",
            "MEDIA_BUNDLE",
            "YOUTUBE_VIDEO",
            "BOOK_ON_GOOGLE",
            "LEAD_FORM",
            "PROMOTION",
            "CALLOUT",
            "STRUCTURED_SNIPPET",
            "SITELINK",
            "MOBILE_APP",
            "HOTEL_CALLOUT",
            "CALL",
            "PRICE",
            "LONG_HEADLINE",
            "BUSINESS_NAME",
            "SQUARE_MARKETING_IMAGE",
            "PORTRAIT_MARKETING_IMAGE",
            "LOGO",
            "LANDSCAPE_LOGO",
            "VIDEO",
            "CALL_TO_ACTION_SELECTION",
            "AD_IMAGE",
            "BUSINESS_LOGO",
            "HOTEL_PROPERTY",
            "DISCOVERY_CAROUSEL_CARD",
            "LONG_DESCRIPTION",
            "CALL_TO_ACTION"
          ]
        },
        "resourceName": {
          "description": "Output only. The resource name of the visit. Visit resource names have the form: `customers/{customer_id}/visits/{ad_group_id}~{criterion_id}~{ds_visit_id}`",
          "type": "string",
          "readOnly": true
        },
        "productLanguageCode": {
          "description": "Output only. The language (ISO-639-1) that has been set for the Merchant Center feed containing data about the product.",
          "type": "string",
          "readOnly": true
        },
        "adId": {
          "format": "int64",
          "description": "Output only. Ad ID. A value of 0 indicates that the ad is unattributed.",
          "type": "string",
          "readOnly": true
        },
        "productId": {
          "description": "Output only. The ID of the product clicked on.",
          "type": "string",
          "readOnly": true
        },
        "productChannel": {
          "description": "Output only. The sales channel of the product that was clicked on: Online or Local.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The item is sold online.",
            "The item is sold in local stores."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "LOCAL"
          ]
        },
        "criterionId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Search Ads 360 keyword ID. A value of 0 indicates that the keyword is unattributed.",
          "type": "string"
        },
        "productStoreId": {
          "description": "Output only. The store in the Local Inventory Ad that was clicked on. This should match the store IDs used in your local products feed.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__Visit"
    },
    "GoogleAdsSearchads360V0Resources_Campaign_DynamicSearchAdsSetting": {
      "description": "The setting for controlling Dynamic Search Ads (DSA).",
      "type": "object",
      "properties": {
        "useSuppliedUrlsOnly": {
          "description": "Whether the campaign uses advertiser supplied URLs exclusively.",
          "type": "boolean"
        },
        "domainName": {
          "description": "Required. The Internet domain name that this setting represents, for example, \"google.com\" or \"www.google.com\".",
          "type": "string"
        },
        "languageCode": {
          "description": "Required. The language code specifying the language of the domain, for example, \"en\".",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_Campaign_DynamicSearchAdsSetting"
    },
    "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetImpressionShare": {
      "id": "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetImpressionShare",
      "description": "An automated bidding strategy that sets bids so that a certain percentage of search ads are shown at the top of the first page (or other targeted location).",
      "type": "object",
      "properties": {
        "cpcBidCeilingMicros": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The highest CPC bid the automated bidding system is permitted to specify. This is a required field entered by the advertiser that sets the ceiling and specified in local micros.",
          "type": "string"
        },
        "location": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ANYWHERE_ON_PAGE",
            "TOP_OF_PAGE",
            "ABSOLUTE_TOP_OF_PAGE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Any location on the web page.",
            "Top box of ads.",
            "Top slot in the top box of ads."
          ],
          "description": "Output only. The targeted location on the search results page.",
          "type": "string"
        },
        "locationFractionMicros": {
          "format": "int64",
          "description": "The chosen fraction of ads to be shown in the targeted location in micros. For example, 1% equals 10,000.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__GeoTargetConstant": {
      "id": "GoogleAdsSearchads360V0Resources__GeoTargetConstant",
      "description": "A geo target constant.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Geo target constant English name.",
          "type": "string",
          "readOnly": true
        },
        "countryCode": {
          "readOnly": true,
          "description": "Output only. The ISO-3166-1 alpha-2 country code that is associated with the target.",
          "type": "string"
        },
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the geo target constant. Geo target constant resource names have the form: `geoTargetConstants/{geo_target_constant_id}`",
          "type": "string"
        },
        "canonicalName": {
          "readOnly": true,
          "description": "Output only. The fully qualified English name, consisting of the target's name and that of its parent and country.",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of the geo target constant.",
          "type": "string",
          "format": "int64"
        },
        "targetType": {
          "readOnly": true,
          "description": "Output only. Geo target constant target type.",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "enumDescriptions": [
            "No value has been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The geo target constant is valid.",
            "The geo target constant is obsolete and will be removed."
          ],
          "description": "Output only. Geo target constant status.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVAL_PLANNED"
          ]
        },
        "parentGeoTarget": {
          "description": "Output only. The resource name of the parent geo target constant. Geo target constant resource names have the form: `geoTargetConstants/{parent_geo_target_constant_id}`",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__LocationView": {
      "description": "A location view summarizes the performance of campaigns by a Location criterion.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Output only. The resource name of the location view. Location view resource names have the form: `customers/{customer_id}/locationViews/{campaign_id}~{criterion_id}`",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__LocationView"
    },
    "GoogleAdsSearchads360V0Resources__ShoppingPerformanceView": {
      "id": "GoogleAdsSearchads360V0Resources__ShoppingPerformanceView",
      "description": "Shopping performance view. Provides Shopping campaign and Performance Max campaign statistics aggregated at several product dimension levels. Product dimension values from Merchant Center such as brand, category, custom attributes, product condition, and product type will reflect the state of each dimension as of the date and time when the corresponding event was recorded. The number of impressions and clicks that `shopping_performance_view` returns stats for may be different from campaign reports. `shopping_performance_view` shows impressions and clicks on products appearing in ads, while campaign reports show impressions and clicks on the ads themselves. Depending on the format, an ad can show from zero to several products, so the numbers may not match. In Search Ads 360 UI, you can query impressions and clicks of products appearing in ads by selecting a column from \"Product attributes\" in the report editor. For example, selecting the \"Brand\" column is equivalent to selecting `segments.product_brand`.",
      "type": "object",
      "properties": {
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the Shopping performance view. Shopping performance view resource names have the form: `customers/{customer_id}/shoppingPerformanceView`",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__CustomerClient": {
      "id": "GoogleAdsSearchads360V0Resources__CustomerClient",
      "description": "A link between the given customer and a client customer. CustomerClients only exist for manager customers. All direct and indirect client customers are included, as well as the manager itself.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Output only. The resource name of the customer client. CustomerClient resource names have the form: `customers/{customer_id}/customerClients/{client_customer_id}`",
          "type": "string",
          "readOnly": true
        },
        "hidden": {
          "readOnly": true,
          "description": "Output only. Specifies whether this is a hidden account. Read only.",
          "type": "boolean"
        },
        "descriptiveName": {
          "description": "Output only. Descriptive name for the client. Read only.",
          "type": "string",
          "readOnly": true
        },
        "currencyCode": {
          "readOnly": true,
          "description": "Output only. Currency code (for example, 'USD', 'EUR') for the client. Read only.",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "CANCELED",
            "SUSPENDED",
            "CLOSED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Indicates an active account able to serve ads.",
            "Indicates a canceled account unable to serve ads. Can be reactivated by an admin user.",
            "Indicates a suspended account unable to serve ads. May only be activated by Google support.",
            "Indicates a closed account unable to serve ads. Test account will also have CLOSED status. Status is permanent and may not be reopened."
          ],
          "description": "Output only. The status of the client customer. Read only.",
          "type": "string"
        },
        "testAccount": {
          "readOnly": true,
          "description": "Output only. Identifies if the client is a test account. Read only.",
          "type": "boolean"
        },
        "clientCustomer": {
          "description": "Output only. The resource name of the client-customer which is linked to the given customer. Read only.",
          "type": "string",
          "readOnly": true
        },
        "level": {
          "description": "Output only. Distance between given customer and client. For self link, the level value will be 0. Read only.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "appliedLabels": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The resource names of the labels owned by the requesting customer that are applied to the client customer. Label resource names have the form: `customers/{customer_id}/labels/{label_id}`",
          "type": "array"
        },
        "id": {
          "description": "Output only. The ID of the client customer. Read only.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "timeZone": {
          "description": "Output only. Common Locale Data Repository (CLDR) string representation of the time zone of the client, for example, America/Los_Angeles. Read only.",
          "type": "string",
          "readOnly": true
        },
        "manager": {
          "description": "Output only. Identifies if the client is a manager. Read only.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleAdsSearchads360V0Resources_ConversionAction_ValueSettings": {
      "id": "GoogleAdsSearchads360V0Resources_ConversionAction_ValueSettings",
      "properties": {
        "defaultValue": {
          "format": "double",
          "description": "The value to use when conversion events for this conversion action are sent with an invalid, disallowed or missing value, or when this conversion action is configured to always use the default value.",
          "type": "number"
        },
        "defaultCurrencyCode": {
          "description": "The currency code to use when conversion events for this conversion action are sent with an invalid or missing currency code, or when this conversion action is configured to always use the default value.",
          "type": "string"
        },
        "alwaysUseDefaultValue": {
          "description": "Controls whether the default value and default currency code are used in place of the value and currency code specified in conversion events for this conversion action.",
          "type": "boolean"
        }
      },
      "description": "Settings related to the value for conversion events associated with this conversion action.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__AssetGroupTopCombinationView": {
      "description": "A view on the usage of asset group asset top combinations.",
      "type": "object",
      "properties": {
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the asset group top combination view. AssetGroup Top Combination view resource names have the form: `\"customers/{customer_id}/assetGroupTopCombinationViews/{asset_group_id}~{asset_combination_category}\"",
          "type": "string"
        },
        "assetGroupTopCombinations": {
          "description": "Output only. The top combinations of assets that served together.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleAdsSearchads360V0Resources__AssetGroupAssetCombinationData"
          }
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__AssetGroupTopCombinationView"
    },
    "GoogleAdsSearchads360V0Common__ImageDimension": {
      "description": "Metadata for an image at a certain size, either original or resized.",
      "type": "object",
      "properties": {
        "url": {
          "description": "A URL that returns the image with this height and width.",
          "type": "string"
        },
        "heightPixels": {
          "format": "int64",
          "description": "Height of the image.",
          "type": "string"
        },
        "widthPixels": {
          "description": "Width of the image.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__ImageDimension"
    },
    "GoogleAdsSearchads360V0Common__SearchAds360TextAdInfo": {
      "description": "A Search Ads 360 text ad.",
      "type": "object",
      "properties": {
        "headline": {
          "description": "The headline of the ad.",
          "type": "string"
        },
        "displayMobileUrl": {
          "description": "The displayed mobile URL of the ad.",
          "type": "string"
        },
        "description1": {
          "description": "The first line of the ad's description.",
          "type": "string"
        },
        "adTrackingId": {
          "format": "int64",
          "description": "The tracking id of the ad.",
          "type": "string"
        },
        "displayUrl": {
          "description": "The displayed URL of the ad.",
          "type": "string"
        },
        "description2": {
          "description": "The second line of the ad's description.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__SearchAds360TextAdInfo"
    },
    "GoogleAdsSearchads360V0Resources__ListingGroupFilterDimensionPath": {
      "id": "GoogleAdsSearchads360V0Resources__ListingGroupFilterDimensionPath",
      "properties": {
        "dimensions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleAdsSearchads360V0Resources__ListingGroupFilterDimension"
          },
          "description": "Output only. The complete path of dimensions through the listing group filter hierarchy (excluding the root node) to this listing group filter.",
          "type": "array"
        }
      },
      "description": "The path defining of dimensions defining a listing group filter.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Services__ConversionCustomDimensionHeader": {
      "description": "Message for conversion custom dimension header.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The user defined name of the conversion custom dimension.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "The conversion custom dimension ID.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Services__ConversionCustomDimensionHeader"
    },
    "GoogleAdsSearchads360V0Common__AssetInteractionTarget": {
      "description": "An AssetInteractionTarget segment.",
      "type": "object",
      "properties": {
        "asset": {
          "description": "The asset resource name.",
          "type": "string"
        },
        "interactionOnThisAsset": {
          "description": "Only used with CustomerAsset, CampaignAsset and AdGroupAsset metrics. Indicates whether the interaction metrics occurred on the asset itself or a different asset or ad unit.",
          "type": "boolean"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__AssetInteractionTarget"
    },
    "GoogleAdsSearchads360V0Errors__SearchAds360Error": {
      "properties": {
        "location": {
          "description": "Describes the part of the request proto that caused the error.",
          "$ref": "GoogleAdsSearchads360V0Errors__ErrorLocation"
        },
        "details": {
          "description": "Additional error details, which are returned by certain error codes. Most error codes do not include details.",
          "$ref": "GoogleAdsSearchads360V0Errors__ErrorDetails"
        },
        "message": {
          "description": "A human-readable description of the error.",
          "type": "string"
        },
        "errorCode": {
          "$ref": "GoogleAdsSearchads360V0Errors__ErrorCode",
          "description": "An enum value that indicates which error occurred."
        },
        "trigger": {
          "description": "The value that triggered the error.",
          "$ref": "GoogleAdsSearchads360V0Common__Value"
        }
      },
      "description": "Search Ads 360-specific error.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Errors__SearchAds360Error"
    },
    "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetCpa": {
      "properties": {
        "targetCpaMicros": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Average CPA target. This target should be greater than or equal to minimum billable unit based on the currency for the account.",
          "type": "string"
        }
      },
      "description": "An automated bid strategy that sets bids to help get as many conversions as possible at the target cost-per-acquisition (CPA) you set.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetCpa"
    },
    "GoogleAdsSearchads360V0Services__SearchSearchAds360Response": {
      "id": "GoogleAdsSearchads360V0Services__SearchSearchAds360Response",
      "description": "Response message for SearchAds360Service.Search.",
      "type": "object",
      "properties": {
        "conversionCustomDimensionHeaders": {
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__ConversionCustomDimensionHeader"
          },
          "description": "The headers of the conversion custom dimensions in the results.",
          "type": "array"
        },
        "summaryRow": {
          "description": "Summary row that contains summary of metrics in results. Summary of metrics means aggregation of metrics across all results, here aggregation could be sum, average, rate, etc.",
          "$ref": "GoogleAdsSearchads360V0Services__SearchAds360Row"
        },
        "results": {
          "description": "The list of rows that matched the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchAds360Row"
          }
        },
        "nextPageToken": {
          "description": "Pagination token used to retrieve the next page of results. Pass the content of this string as the `page_token` attribute of the next request. `next_page_token` is not returned for the last page.",
          "type": "string"
        },
        "totalResultsCount": {
          "description": "Total number of results that match the query ignoring the LIMIT clause.",
          "type": "string",
          "format": "int64"
        },
        "conversionCustomMetricHeaders": {
          "description": "The headers of the conversion custom metrics in the results.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__ConversionCustomMetricHeader"
          }
        },
        "fieldMask": {
          "format": "google-fieldmask",
          "description": "FieldMask that represents what fields were requested by the user.",
          "type": "string"
        },
        "rawEventConversionMetricHeaders": {
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__RawEventConversionMetricHeader"
          },
          "description": "The headers of the raw event conversion metrics in the results.",
          "type": "array"
        },
        "rawEventConversionDimensionHeaders": {
          "items": {
[...]
