{
  "version": "v1beta1",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "protocol": "rest",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "resources": {
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the settings for an organization.",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "id": "securitycenter.organizations.getOrganizationSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "type": "string",
              "description": "Required. Name of the organization to get organization settings for. Its format is \"organizations/[organization_id]/organizationSettings\".",
              "location": "path"
            }
          }
        },
        "updateOrganizationSettings": {
          "request": {
            "$ref": "OrganizationSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "description": "Updates an organization's settings.",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "description": "The FieldMask to use when updating the settings resource.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "type": "string",
              "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\".",
              "location": "path"
            }
          },
          "deprecated": true
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "httpMethod": "POST",
              "id": "securitycenter.organizations.operations.cancel",
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "path": "v1beta1/{+name}:cancel",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "securitycenter.organizations.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations$",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "securitycenter.organizations.operations.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the operation resource to be deleted."
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "securitycenter.organizations.operations.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        },
        "sources": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "securitycenter.organizations.sources.patch",
              "response": {
                "$ref": "Source"
              },
              "description": "Updates a source.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "The FieldMask to use when updating the source resource."
                }
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id]\".",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
                }
              },
              "description": "Lists all sources belonging to an organization.",
              "path": "v1beta1/{+parent}/sources",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "httpMethod": "GET",
              "id": "securitycenter.organizations.sources.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getIamPolicy": {
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "httpMethod": "POST",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+resource}:getIamPolicy",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "description": "Gets the access control policy on the specified Source.",
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the new source's parent. Its format should be \"organizations/[organization_id]\".",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "securitycenter.organizations.sources.create",
              "response": {
                "$ref": "Source"
              },
              "description": "Creates a source.",
              "path": "v1beta1/{+parent}/sources",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "parameterOrder": [
                "parent"
              ]
            },
            "setIamPolicy": {
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "httpMethod": "POST",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+resource}:setIamPolicy",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified Source.",
              "response": {
                "$ref": "Policy"
              }
            },
            "testIamPermissions": {
              "path": "v1beta1/{+resource}:testIamPermissions",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "description": " Returns the permissions that a caller has on the specified source.",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "httpMethod": "POST",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Relative resource name of the source. Its format is \"organizations/[organization_id]/source/[source_id]\"."
                }
              },
              "description": "Gets a source.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Source"
              },
              "httpMethod": "GET",
              "id": "securitycenter.organizations.sources.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "list": {
                  "parameters": {
                    "orderBy": {
                      "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent.",
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW."
                    },
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `source_properties.size = 100` is a valid filter string."
                    },
                    "fieldMask": {
                      "description": "Optional. A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.sources.findings.list",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1beta1/organizations/{organization_id}/sources/-/findings",
                  "path": "v1beta1/{+parent}/findings",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "setState": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string",
                      "description": "Required. The relative resource name of the finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/finding/{finding_id}\".",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}:setState",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the state of a finding.",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates or updates a finding. The corresponding source must exist for a finding creation to succeed.",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "parameters": {
                    "updateMask": {
                      "description": "The FieldMask to use when updating the finding resource. This field should not be specified when creating a finding.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "group": {
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.group",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "path": "v1beta1/{+parent}/findings:group",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1beta1/organizations/{organization_id}/sources/-/findings",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\". To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-"
                    }
                  }
                },
                "updateSecurityMarks": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "type": "string",
                      "required": true
                    },
                    "startTime": {
                      "description": "The time at which the updated SecurityMarks take effect.",
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The FieldMask to use when updating the security marks resource."
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates security marks.",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "securitycenter.organizations.sources.findings.create",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "description": "Creates a finding. The corresponding source must exist for finding creation to succeed.",
                  "path": "v1beta1/{+parent}/findings",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the new finding's parent. Its format should be \"organizations/[organization_id]/sources/[source_id]\"."
                    },
                    "findingId": {
                      "description": "Required. Unique identifier provided by the client within the parent scope. It must be alphanumeric and less than or equal to 32 characters and greater than 0 characters in length.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        },
        "assets": {
          "methods": {
            "group": {
              "path": "v1beta1/{+parent}/assets:group",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group",
              "parameterOrder": [
                "parent"
              ],
              "description": "Filters an organization's assets and groups them by their specified properties.",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "id": "securitycenter.organizations.assets.group",
              "httpMethod": "POST",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the organization to groupBy. Its format is \"organizations/[organization_id]\"."
                }
              }
            },
            "updateSecurityMarks": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "description": "Updates security marks.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "type": "string",
                  "required": true
                },
                "startTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query",
                  "description": "The time at which the updated SecurityMarks take effect."
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "The FieldMask to use when updating the security marks resource."
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "securitycenter.organizations.assets.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists an organization's assets.",
              "path": "v1beta1/{+parent}/assets",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameters": {
                "compareDuration": {
                  "description": "When compare_duration is set, the ListAssetResult's \"state\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present before compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state is \"UNUSED\", which indicates that the asset is present at read_time.",
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent."
                },
                "readTime": {
                  "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "fieldMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields."
                },
                "parent": {
                  "description": "Required. Name of the organization assets should belong to. Its format is \"organizations/[organization_id]\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `resource_properties.size = 100` is a valid filter string."
                }
              }
            },
            "runDiscovery": {
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "securitycenter.organizations.assets.runDiscovery",
              "response": {
                "$ref": "Operation"
              },
              "description": "Runs asset discovery. The discovery is tracked with a long-running operation. This API can only be called with limited frequency for an organization. If it is called too frequently the caller will receive a TOO_MANY_REQUESTS error.",
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization to run asset discovery for. Its format is \"organizations/[organization_id]\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "securitycenter",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "title": "Security Command Center API",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "revision": "20260309",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "fullyEncodeReservedExpansion": true,
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "kind": "discovery#restDescription",
  "id": "securitycenter:v1beta1",
  "basePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "schemas": {
    "CloudDlpInspection": {
      "description": "Details about the Cloud Data Loss Prevention (Cloud DLP) [inspection job](https://cloud.google.com/dlp/docs/concepts-job-triggers) that produced the finding.",
      "id": "CloudDlpInspection",
      "properties": {
        "infoTypeCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of times Cloud DLP found this infoType within this job and resource."
        },
        "fullScan": {
          "description": "Whether Cloud DLP scanned the complete resource or a sampled subset.",
          "type": "boolean"
        },
        "inspectJob": {
          "description": "Name of the inspection job, for example, `projects/123/locations/europe/dlpJobs/i-8383929`.",
          "type": "string"
        },
        "infoType": {
          "type": "string",
          "description": "The type of information (or *[infoType](https://cloud.google.com/dlp/docs/infotypes-reference)*) found, for example, `EMAIL_ADDRESS` or `STREET_ADDRESS`."
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "description": "Message that contains the resource name and display name of a folder resource.",
      "id": "GoogleCloudSecuritycenterV2Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "description": "Environment of the Application, Service, or Workload",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment",
      "properties": {
        "type": {
          "description": "Environment Type.",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "description": "Vertex AI training pipeline associated with the finding.",
      "id": "GoogleCloudSecuritycenterV2Pipeline",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the pipeline, e.g. projects/{project}/locations/{location}/trainingPipelines/5253428229225578496"
        },
        "displayName": {
          "description": "The user-defined display name of pipeline, e.g. plants-classification",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "properties": {
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)"
        }
      },
      "type": "object"
    },
    "DataFlowEvent": {
      "properties": {
        "principalEmail": {
          "type": "string",
          "description": "The email address of the principal that initiated the data flow event. The principal could be a user account, service account, Google group, or other."
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ],
          "description": "The operation performed by the principal for the data flow event.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier for data flow event."
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of data flow event."
        },
        "violatedLocation": {
          "type": "string",
          "description": "Non-compliant location of the principal or the data destination."
        }
      },
      "type": "object",
      "description": "Details about a data flow event, in which either the data is moved to or is accessed from a non-compliant geo-location, as defined in the applicable data security policy.",
      "id": "DataFlowEvent"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Environment variable name as a JSON encoded string. Note that value is not included since the value contains the secret data, which is sensitive core content."
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "description": "Environment variable containing the secret."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ListFindingsResponse": {
      "properties": {
        "readTime": {
          "description": "Time used for executing the list request.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "findings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
          },
          "description": "Findings matching the list request."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of findings matching the query."
        }
      },
      "type": "object",
      "description": "Response message for listing findings.",
      "id": "ListFindingsResponse"
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin",
      "description": "SecurityBulletin are notifications of vulnerabilities of Google products.",
      "type": "object",
      "properties": {
        "suggestedUpgradeVersion": {
          "type": "string",
          "description": "This represents a version that the cluster receiving this notification should be upgraded to, based on its current version. For example, 1.15.0"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Submission time of this Security Bulletin."
        },
        "bulletinId": {
          "type": "string",
          "description": "ID of the bulletin corresponding to the vulnerability."
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "description": "Information related to the Google Cloud resource.",
      "id": "GoogleCloudSecuritycenterV1Resource",
      "properties": {
        "azureMetadata": {
          "description": "The Azure metadata associated with the finding.",
          "$ref": "AzureMetadata"
        },
        "adcApplication": {
          "description": "The ADC application associated with the finding.",
          "$ref": "AdcApplication"
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization."
        },
        "adcSharedTemplate": {
          "description": "The ADC shared template associated with the finding.",
          "$ref": "AdcSharedTemplateRevision"
        },
        "resourcePathString": {
          "description": "A string representation of the resource path. For Google Cloud, it has the format of `organizations/{organization_id}/folders/{folder_id}/folders/{folder_id}/projects/{project_id}` where there can be any number of folders. For AWS, it has the format of `org/{organization_id}/ou/{organizational_unit_id}/ou/{organizational_unit_id}/account/{account_id}` where there can be any number of organizational units. For Azure, it has the format of `mg/{management_group_id}/mg/{management_group_id}/subscription/{subscription_id}/rg/{resource_group_name}` where there can be any number of management groups.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "awsMetadata": {
          "description": "The AWS metadata associated with the finding.",
          "$ref": "AwsMetadata"
        },
        "resourcePath": {
          "description": "Provides the path to the resource within the resource hierarchy.",
          "$ref": "ResourcePath"
        },
        "displayName": {
          "description": "The human readable name of the resource.",
          "type": "string"
        },
        "adcApplicationTemplate": {
          "description": "The ADC template associated with the finding.",
          "$ref": "AdcApplicationTemplateRevision"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "description": "Indicates which cloud provider the resource resides in.",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "service": {
          "description": "The parent service or product from which the resource is provided, for example, GKE or SNS.",
          "type": "string"
        },
        "type": {
          "description": "The full resource type of the resource.",
          "type": "string"
        },
        "application": {
          "description": "The App Hub application this resource belongs to.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project ID that the resource belongs to."
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "organization": {
          "description": "Indicates which organization or tenant in the cloud provider the finding applies to.",
          "type": "string"
        },
        "location": {
          "description": "The region or location of the service (if applicable).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdcApplication": {
      "id": "AdcApplication",
      "description": "Represents an ADC application associated with the finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}",
          "type": "string"
        },
        "attributes": {
          "description": "Consumer provided attributes for the AppHub application.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      }
    },
    "AwsOrganizationalUnit": {
      "description": "An Organizational Unit (OU) is a container of AWS accounts within a root of an organization. Policies that are attached to an OU apply to all accounts contained in that OU and in any child OUs.",
      "id": "AwsOrganizationalUnit",
      "properties": {
        "id": {
          "description": "The unique identifier (ID) associated with this OU. The regex pattern for an organizational unit ID string requires \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits. For example, \"ou-ab12-cd34ef56\".",
          "type": "string"
        },
        "name": {
          "description": "The friendly name of the OU.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecurityBulletin": {
      "id": "SecurityBulletin",
      "description": "SecurityBulletin are notifications of vulnerabilities of Google products.",
      "type": "object",
      "properties": {
        "suggestedUpgradeVersion": {
          "description": "This represents a version that the cluster receiving this notification should be upgraded to, based on its current version. For example, 1.15.0",
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Submission time of this Security Bulletin."
        },
        "bulletinId": {
          "type": "string",
          "description": "ID of the bulletin corresponding to the vulnerability."
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "properties": {
        "resourceTypes": {
          "description": "The resource types to run the detector on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Resource for selecting resource type.",
      "id": "GoogleCloudSecuritycenterV1ResourceSelector"
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "properties": {
        "customOutput": {
          "description": "Custom output properties.",
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "severity": {
          "description": "The severity to assign to findings generated by the module.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ]
        },
        "recommendation": {
          "type": "string",
          "description": "An explanation of the recommended steps that security teams can take to resolve the detected issue. This explanation is returned with each finding generated by this module in the `nextSteps` property of the finding JSON."
        },
        "resourceSelector": {
          "description": "The resource types that the custom module operates on. Each custom module can specify up to 5 resource types.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "description": {
          "type": "string",
          "description": "Text that describes the vulnerability or misconfiguration that the custom module detects. This explanation is returned with each finding instance to help investigators understand the detected issue. The text must be enclosed in quotation marks."
        },
        "predicate": {
          "description": "The CEL expression to evaluate to produce findings. When the expression evaluates to true against a resource, a finding is generated.",
          "$ref": "Expr"
        }
      },
      "type": "object",
      "description": "Defines the properties in a custom module configuration for Security Health Analytics. Use the custom module configuration to create custom detectors that generate custom findings for resources that you specify.",
      "id": "GoogleCloudSecuritycenterV1CustomConfig"
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "description": "Path of the file in terms of underlying disk/partition identifiers.",
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "properties": {
        "relativePath": {
          "type": "string",
          "description": "Relative path of the file in the partition as a JSON encoded string. Example: /home/user1/executable_file.sh"
        },
        "partitionUuid": {
          "description": "UUID of the partition (format https://wiki.archlinux.org/title/persistent_block_device_naming#by-uuid)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AssetDiscoveryConfig": {
      "properties": {
        "inclusionMode": {
          "description": "The mode to use for filtering asset discovery.",
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Setting the mode with this value will disable inclusion/exclusion filtering for Asset Discovery.",
            "Asset Discovery will capture only the resources within the projects specified. All other resources will be ignored.",
            "Asset Discovery will ignore all resources under the projects specified. All other resources will be retrieved."
          ]
        },
        "projectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The project ids to use for filtering asset discovery."
        }
      },
      "type": "object",
      "description": "The configuration used for Asset Discovery runs.",
      "id": "AssetDiscoveryConfig"
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "description": "A name-value pair representing an environment variable used in an operating system process.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Environment variable name as a JSON encoded string."
        },
        "val": {
          "description": "Environment variable value as a JSON encoded string.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "description": "Information related to Google Cloud Backup and DR Service findings.",
      "type": "object",
      "properties": {
        "appliance": {
          "type": "string",
          "description": "The name of the Backup and DR appliance that captures, moves, and manages the lifecycle of backup data. For example, `backup-server-57137`."
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of Backup and DR applications. An application is a VM, database, or file system on a managed host monitored by a backup and recovery appliance. For example, `centos7-01-vol00`, `centos7-01-vol01`, `centos7-01-vol02`."
        },
        "host": {
          "type": "string",
          "description": "The name of a Backup and DR host, which is managed by the backup and recovery appliance and known to the management console. The host can be of type Generic (for example, Compute Engine, SQL Server, Oracle DB, SMB file system, etc.), vCenter, or an ESX server. See the [Backup and DR documentation on hosts](https://cloud.google.com/backup-disaster-recovery/docs/configuration/manage-hosts-and-their-applications) for more information. For example, `centos7-01`."
        },
        "profile": {
          "description": "The name of the Backup and DR resource profile that specifies the storage media for backups of application and VM data. See the [Backup and DR documentation on profiles](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#profile). For example, `GCP`.",
          "type": "string"
        },
        "backupType": {
          "description": "The backup type of the Backup and DR image. For example, `Snapshot`, `Remote Snapshot`, `OnVault`.",
          "type": "string"
        },
        "policyOptions": {
          "description": "The names of Backup and DR advanced policy options of a policy applying to an application. See the [Backup and DR documentation on policy options](https://cloud.google.com/backup-disaster-recovery/docs/create-plan/policy-settings). For example, `skipofflineappsincongrp, nounmap`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of Backup and DR policies that are associated with a template and that define when to run a backup, how frequently to run a backup, and how long to retain the backup image. For example, `onvaults`."
        },
        "storagePool": {
          "type": "string",
          "description": "The name of the Backup and DR storage pool that the backup and recovery appliance is storing data in. The storage pool could be of type Cloud, Primary, Snapshot, or OnVault. See the [Backup and DR documentation on storage pools](https://cloud.google.com/backup-disaster-recovery/docs/concepts/storage-pools). For example, `DiskPoolOne`."
        },
        "backupTemplate": {
          "description": "The name of a Backup and DR template which comprises one or more backup policies. See the [Backup and DR documentation](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#temp) for more information. For example, `snap-ov`.",
          "type": "string"
        },
        "backupCreateTime": {
          "description": "The timestamp at which the Backup and DR backup was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AffectedResources": {
      "properties": {
        "count": {
          "description": "The count of resources affected by the finding.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Details about resources affected by this finding.",
      "id": "GoogleCloudSecuritycenterV2AffectedResources"
    },
    "Chokepoint": {
      "type": "object",
      "properties": {
        "relatedFindings": {
          "description": "List of resource names of findings associated with this chokepoint. For example, organizations/123/sources/456/findings/789. This list will have at most 100 findings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Chokepoint",
      "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations)."
    },
    "GoogleCloudSecuritycenterV2ResourcePath": {
      "id": "GoogleCloudSecuritycenterV2ResourcePath",
      "description": "Represents the path of resources leading up to the resource this finding is about.",
      "type": "object",
      "properties": {
        "nodes": {
          "description": "The list of nodes that make the up resource path, ordered from lowest level to highest level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourcePathNode"
          }
        }
      }
    },
    "IpRules": {
      "description": "IP rules associated with the finding.",
      "id": "IpRules",
      "properties": {
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of the network protocol service, such as FTP, that is exposed by the open port. Follows the naming convention available at: https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml."
        },
        "sourceIpRanges": {
          "description": "If source IP ranges are specified, the firewall rule applies only to traffic that has a source IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationIpRanges": {
          "description": "If destination IP ranges are specified, the firewall rule applies only to traffic that has a destination IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "denied": {
          "description": "Tuple with denied rules.",
          "$ref": "Denied"
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified direction value.",
            "Ingress direction value.",
            "Egress direction value."
          ],
          "description": "The direction that the rule is applicable to, one of ingress or egress.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        },
        "allowed": {
          "description": "Tuple with allowed rules.",
          "$ref": "Allowed"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "id": "GoogleCloudSecuritycenterV2OrgPolicy",
      "description": "Contains information about the org policies associated with the finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the org policy. Example: \"organizations/{organization_id}/policies/{constraint_name}\"",
          "type": "string"
        }
      }
    },
    "ArtifactGuardPolicies": {
      "id": "ArtifactGuardPolicies",
      "description": "Represents the result of evaluating artifact guard policies.",
      "type": "object",
      "properties": {
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          },
          "description": "A list of failing policies."
        },
        "resourceId": {
          "type": "string",
          "description": "The ID of the resource that has policies configured for it."
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "description": "Details about data retention deletion violations, in which the data is non-compliant based on their retention or deletion time, as defined in the applicable data security policy. The Data Retention Deletion (DRD) control is a control of the DSPM (Data Security Posture Management) suite that enables organizations to manage data retention and deletion policies in compliance with regulations, such as GDPR and CRPA. DRD supports two primary policy types: maximum storage length (max TTL) and minimum storage length (min TTL). Both are aimed at helping organizations meet regulatory and data management commitments.",
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "properties": {
        "dataObjectCount": {
          "description": "Number of objects that violated the policy for this resource. If the number is less than 1,000, then the value of this field is the exact number. If the number of objects that violated the policy is greater than or equal to 1,000, then the value of this field is 1000.",
          "type": "string",
          "format": "int64"
        },
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration",
          "description": "Min duration of retention allowed from the DSPM retention control. This field is only populated when event type is set to EVENT_TYPE_MIN_TTL_FROM_CREATION."
        },
        "eventType": {
          "enumDescriptions": [
            "Unspecified event type.",
            "Deprecated: This field is pending removal. Use EVENT_TYPE_MAX_TTL_FROM_CREATION or EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION instead.",
            "Max TTL from the asset's creation time.",
            "Max TTL from the asset's last modification time.",
            "Min TTL from the asset's creation time."
          ],
          "description": "Type of the DRD event.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        },
        "eventDetectionTime": {
          "description": "Timestamp indicating when the event was detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "maxRetentionAllowed": {
          "description": "Maximum duration of retention allowed from the DRD control. This comes from the DRD control where users set a max TTL for their data. For example, suppose that a user sets the max TTL for a Cloud Storage bucket to 90 days. However, an object in that bucket is 100 days old. In this case, a DataRetentionDeletionEvent will be generated for that Cloud Storage bucket, and the max_retention_allowed is 90 days.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "Application": {
      "id": "Application",
      "description": "Represents an application associated with a finding.",
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string",
          "description": "The base URI that identifies the network location of the application in which the vulnerability was detected. For example, `http://example.com`."
        },
        "fullUri": {
          "description": "The full URI with payload that can be used to reproduce the vulnerability. For example, `http://example.com?p=aMmYgI6H`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "type": "object",
      "properties": {
        "cloudLoggingEntry": {
          "description": "An individual entry in a log stored in Cloud Logging.",
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      },
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "description": "An individual entry in a log."
    },
    "AwsMetadata": {
      "type": "object",
      "properties": {
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          },
          "description": "A list of AWS organizational units associated with the resource, ordered from lowest level (closest to the account) to highest level."
        },
        "organization": {
          "description": "The AWS organization associated with the resource.",
          "$ref": "AwsOrganization"
        },
        "account": {
          "description": "The AWS account associated with the resource.",
          "$ref": "AwsAccount"
        }
      },
      "id": "AwsMetadata",
      "description": "AWS metadata associated with the resource, only applicable if the finding's cloud provider is Amazon Web Services."
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "description": "Response of asset discovery run",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "type": "object"
    },
    "GroupAssetsResponse": {
      "id": "GroupAssetsResponse",
      "description": "Response message for grouping by assets.",
      "type": "object",
      "properties": {
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          },
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear."
        },
        "readTime": {
          "description": "Time used for executing the groupBy request.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "type": "object",
      "properties": {
        "environment": {
          "description": "User-defined environment information.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "description": "Developer team that owns development and coding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "description": "Business team that ensures user needs are met and value is delivered",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "description": "User-defined criticality information.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "description": "Operator team that ensures runtime and operations."
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "description": "Consumer provided attributes for the application"
    },
    "FileOperation": {
      "properties": {
        "type": {
          "description": "The type of the operation",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents an open operation.",
            "Represents a read operation.",
            "Represents a rename operation.",
            "Represents a write operation.",
            "Represents an execute operation."
          ]
        }
      },
      "type": "object",
      "description": "Operation(s) performed on a file.",
      "id": "FileOperation"
    },
    "DataAccessEvent": {
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ],
          "description": "The operation performed by the principal to access the data.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "principalEmail": {
          "description": "The email address of the principal that accessed the data. The principal could be a user account, service account, Google group, or other.",
          "type": "string"
        },
        "eventTime": {
          "description": "Timestamp of data access event.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier for data access event."
        }
      },
      "id": "DataAccessEvent",
      "description": "Details about a data access attempt made by a principal not authorized under applicable data security policy."
    },
    "MitreAttack": {
      "properties": {
        "additionalTactics": {
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any.",
          "type": "array",
          "items": {
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ]
          }
        },
        "version": {
          "type": "string",
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\"."
        },
        "additionalTechniques": {
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques.",
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1001",
              "T1001.002",
              "T1003",
              "T1003.007",
              "T1003.008",
              "T1005",
              "T1020",
              "T1027",
              "T1027.003",
              "T1027.004",
              "T1027.010",
              "T1029",
              "T1033",
              "T1036",
              "T1036.005",
              "T1037",
              "T1037.005",
              "T1046",
              "T1053",
              "T1053.003",
              "T1053.007",
              "T1055",
              "T1056",
              "T1056.001",
              "T1057",
              "T1059",
              "T1059.004",
              "T1059.006",
              "T1068",
              "T1069",
              "T1069.003",
              "T1070",
              "T1070.002",
              "T1070.003",
              "T1070.004",
              "T1070.006",
              "T1070.008",
              "T1071",
              "T1071.004",
              "T1072",
              "T1078",
              "T1078.001",
              "T1078.003",
              "T1078.004",
              "T1083",
              "T1087.001",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1098",
              "T1098.001",
              "T1098.003",
              "T1098.004",
              "T1098.006",
              "T1104",
              "T1105",
              "T1106",
              "T1110",
              "T1119",
              "T1129",
              "T1132",
              "T1132.001",
              "T1134",
              "T1134.001",
              "T1136",
              "T1136.001",
              "T1140",
              "T1190",
              "T1195",
              "T1195.001",
              "T1203",
              "T1204",
              "T1212",
              "T1222.002",
              "T1484",
              "T1485",
              "T1486",
              "T1489",
              "T1490",
              "T1495",
              "T1496",
              "T1498",
              "T1526",
              "T1528",
              "T1531",
              "T1537",
              "T1539",
              "T1543",
              "T1546",
              "T1547",
              "T1547.006",
              "T1547.009",
              "T1548",
              "T1548.001",
              "T1548.003",
              "T1552",
              "T1552.001",
              "T1552.003",
              "T1552.004",
              "T1553",
              "T1553.004",
              "T1554",
              "T1555",
              "T1556",
              "T1556.003",
              "T1556.006",
              "T1562",
              "T1562.001",
              "T1562.006",
              "T1562.012",
              "T1564",
              "T1564.001",
              "T1564.002",
              "T1567",
              "T1567.002",
              "T1568",
              "T1570",
              "T1574",
              "T1574.006",
              "T1578",
              "T1578.001",
              "T1580",
              "T1587",
              "T1587.001",
              "T1588",
              "T1588.001",
              "T1588.006",
              "T1595",
              "T1595.001",
              "T1608",
              "T1608.001",
              "T1609",
              "T1610",
              "T1611",
              "T1613",
              "T1620",
              "T1649",
              "T1657"
            ]
          }
        },
        "primaryTactic": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any.",
          "enum": [
            "TACTIC_UNSPECIFIED",
[...]
