{
  "title": "Security Command Center API",
  "ownerName": "Google",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "canonicalName": "Security Command Center",
  "discoveryVersion": "v1",
  "name": "securitycenter",
  "servicePath": "",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "endpoints": [
    {
      "location": "me-central2",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "schemas": {
    "Package": {
      "properties": {
        "packageType": {
          "description": "Type of package, for example, os, maven, or go.",
          "type": "string"
        },
        "packageVersion": {
          "description": "The version of the package.",
          "type": "string"
        },
        "packageName": {
          "description": "The name of the package where the vulnerability was detected.",
          "type": "string"
        },
        "cpeUri": {
          "description": "The CPE URI where the vulnerability was detected.",
          "type": "string"
        }
      },
      "description": "Package is a generic definition of a package.",
      "type": "object",
      "id": "Package"
    },
    "GoogleCloudSecuritycenterV2StaticMute": {
      "properties": {
        "state": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "description": "The static mute state. If the value is `MUTED` or `UNMUTED`, then the finding's overall mute state will have the same value.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ]
        },
        "applyTime": {
          "description": "When the static mute was applied.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Information about the static mute state. A static mute state overrides any dynamic mute rules that apply to this finding. The static mute state can be set by a static mute rule or by muting the finding directly.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2StaticMute"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "description": "Represents the result of evaluating artifact guard policies.",
      "type": "object",
      "properties": {
        "failingPolicies": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          },
          "description": "A list of failing policies.",
          "type": "array"
        },
        "resourceId": {
          "description": "The ID of the resource that has policies configured for it.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "properties": {},
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "description": "Represents an artifact guard policy.",
      "type": "object",
      "properties": {
        "policyId": {
          "description": "The ID of the failing policy, for example, \"organizations/3392779/locations/global/policies/prod-policy\".",
          "type": "string"
        },
        "type": {
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "description": "The type of the policy evaluation.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Vulnerability type."
          ]
        },
        "failureReason": {
          "description": "The reason for the policy failure, for example, \"severity=HIGH AND max_vuln_count=2\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "id": "GoogleCloudSecuritycenterV2AccessReview",
      "description": "Conveys information about a Kubernetes access review (such as one returned by a [`kubectl auth can-i`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access) command) that was involved in a finding.",
      "type": "object",
      "properties": {
        "ns": {
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty).",
          "type": "string"
        },
        "version": {
          "description": "The API version of the resource. \"*\" means all.",
          "type": "string"
        },
        "group": {
          "description": "The API group of the resource. \"*\" means all.",
          "type": "string"
        },
        "subresource": {
          "description": "The optional subresource type.",
          "type": "string"
        },
        "name": {
          "description": "The name of the resource being requested. Empty means all.",
          "type": "string"
        },
        "resource": {
          "description": "The optional resource type requested. \"*\" means all.",
          "type": "string"
        },
        "verb": {
          "description": "A Kubernetes resource API verb, like get, list, watch, create, update, delete, proxy. \"*\" means all.",
          "type": "string"
        }
      }
    },
    "PolicyDriftDetails": {
      "description": "The policy field that violates the deployed posture and its expected and detected values.",
      "type": "object",
      "properties": {
        "expectedValue": {
          "description": "The value of this field that was configured in a posture, for example, `true` or `allowed_values={\"projects/29831892\"}`.",
          "type": "string"
        },
        "detectedValue": {
          "description": "The detected value that violates the deployed posture, for example, `false` or `allowed_values={\"projects/22831892\"}`.",
          "type": "string"
        },
        "field": {
          "description": "The name of the updated field, for example constraint.implementation.policy_rules[0].enforce",
          "type": "string"
        }
      },
      "id": "PolicyDriftDetails"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "description": "Describes a job",
      "type": "object",
      "properties": {
        "name": {
          "description": "The fully-qualified name for a job. e.g. `projects//jobs/`",
          "type": "string"
        },
        "errorCode": {
          "description": "Optional. If the job did not complete successfully, this field describes why.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. State of the job, such as `RUNNING` or `PENDING`.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified represents an unknown state and should not be used.",
            "Job is scheduled and pending for run",
            "Job in progress",
            "Job has completed with success",
            "Job has completed but with failure"
          ]
        },
        "location": {
          "description": "Optional. Gives the location where the job ran, such as `US` or `europe-west1`",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Job"
    },
    "SecurityPosture": {
      "description": "Represents a posture that is deployed on Google Cloud by the Security Command Center Posture Management service. A posture contains one or more policy sets. A policy set is a group of policies that enforce a set of security rules on Google Cloud.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the posture, for example, `CIS-Posture`.",
          "type": "string"
        },
        "revisionId": {
          "description": "The version of the posture, for example, `c7cfa2a8`.",
          "type": "string"
        },
        "policyDriftDetails": {
          "description": "The details about a change in an updated policy that violates the deployed posture.",
          "type": "array",
          "items": {
            "$ref": "PolicyDriftDetails"
          }
        },
        "postureDeployment": {
          "description": "The name of the posture deployment, for example, `organizations/{org_id}/posturedeployments/{posture_deployment_id}`.",
          "type": "string"
        },
        "policy": {
          "description": "The ID of the updated policy, for example, `compute-policy-1`.",
          "type": "string"
        },
        "changedPolicy": {
          "description": "The name of the updated policy, for example, `projects/{project_id}/policies/{constraint_name}`.",
          "type": "string"
        },
        "postureDeploymentResource": {
          "description": "The project, folder, or organization on which the posture is deployed, for example, `projects/{project_number}`.",
          "type": "string"
        },
        "policySet": {
          "description": "The name of the updated policyset, for example, `cis-policyset`.",
          "type": "string"
        }
      },
      "id": "SecurityPosture"
    },
    "AwsOrganization": {
      "properties": {
        "id": {
          "description": "The unique identifier (ID) for the organization. The regex pattern for an organization ID string requires \"o-\" followed by from 10 to 32 lowercase letters or digits.",
          "type": "string"
        }
      },
      "description": "An organization is a collection of accounts that are centrally managed together using consolidated billing, organized hierarchically with organizational units (OUs), and controlled with policies.",
      "type": "object",
      "id": "AwsOrganization"
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "AwsAccount": {
      "properties": {
        "id": {
          "description": "The unique identifier (ID) of the account, containing exactly 12 digits.",
          "type": "string"
        },
        "name": {
          "description": "The friendly name of this account.",
          "type": "string"
        }
      },
      "description": "An AWS account that is a member of an organization.",
      "type": "object",
      "id": "AwsAccount"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "properties": {
        "state": {
          "description": "The state of an asset discovery run.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Response of asset discovery run",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse"
    },
    "ListAssetsResult": {
      "id": "ListAssetsResult",
      "description": "Result containing the Asset and its State.",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the asset.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Request did not specify use of this field in the result.",
            "Asset was added between the points in time.",
            "Asset was removed between the points in time.",
            "Asset was active at both point(s) in time."
          ]
        },
        "asset": {
          "description": "Asset matching the search request.",
          "$ref": "Asset"
        }
      }
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "id": "GoogleCloudSecuritycenterV2NodePool",
      "properties": {
        "name": {
          "description": "Kubernetes node pool name.",
          "type": "string"
        },
        "nodes": {
          "description": "Nodes associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        }
      },
      "description": "Provides GKE node pool information.",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "properties": {
        "cwes": {
          "description": "Represents one or more Common Weakness Enumeration (CWE) information on this vulnerability.",
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "cve": {
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Cve"
        },
        "reachable": {
          "description": "Represents whether the vulnerability is reachable (detected via static analysis)",
          "type": "boolean"
        },
        "offendingPackage": {
          "description": "The offending package is relevant to the finding.",
          "$ref": "Package"
        },
        "providerRiskScore": {
          "description": "Provider provided risk_score based on multiple factors. The higher the risk score, the more risky the vulnerability is.",
          "type": "string",
          "format": "int64"
        },
        "fixedPackage": {
          "description": "The fixed package is relevant to the finding.",
          "$ref": "Package"
        },
        "securityBulletin": {
          "description": "The security bulletin is relevant to this finding.",
          "$ref": "SecurityBulletin"
        }
      },
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "properties": {
        "assignees": {
          "description": "References primary/secondary etc assignees in the external system.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Full resource name of the external system. The following list shows some examples: + `organizations/1234/sources/5678/findings/123456/externalSystems/jira` + `organizations/1234/sources/5678/locations/us/findings/123456/externalSystems/jira` + `folders/1234/sources/5678/findings/123456/externalSystems/jira` + `folders/1234/sources/5678/locations/us/findings/123456/externalSystems/jira` + `projects/1234/sources/5678/findings/123456/externalSystems/jira` + `projects/1234/sources/5678/locations/us/findings/123456/externalSystems/jira`",
          "type": "string"
        },
        "status": {
          "description": "The most recent status of the finding's corresponding case, as reported by the external system.",
          "type": "string"
        },
        "caseCreateTime": {
          "description": "The time when the case was created, as reported by the external system.",
          "type": "string",
          "format": "google-datetime"
        },
        "externalUid": {
          "description": "The identifier that's used to track the finding's corresponding case in the external system.",
          "type": "string"
        },
        "ticketInfo": {
          "description": "Information about the ticket, if any, that is being used to track the resolution of the issue that is identified by this finding.",
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "caseUri": {
          "description": "The link to the finding's corresponding case in the external system.",
          "type": "string"
        },
        "caseSla": {
          "description": "The SLA of the finding's corresponding case in the external system.",
          "type": "string",
          "format": "google-datetime"
        },
        "externalSystemUpdateTime": {
          "description": "The time when the case was last updated, as reported by the external system.",
          "type": "string",
          "format": "google-datetime"
        },
        "caseCloseTime": {
          "description": "The time when the case was closed, as reported by the external system.",
          "type": "string",
          "format": "google-datetime"
        },
        "casePriority": {
          "description": "The priority of the finding's corresponding case in the external system.",
          "type": "string"
        }
      },
      "description": "Representation of third party SIEM/SOAR fields within SCC.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalSystem"
    },
    "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "properties": {
        "name": {
          "description": "The security bulletin name.",
          "type": "string"
        }
      },
      "description": "The security bulletin of the finding.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "properties": {
        "cve": {
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "reachable": {
          "description": "Represents whether the vulnerability is reachable (detected via static analysis)",
          "type": "boolean"
        },
        "cwes": {
          "description": "Represents one or more Common Weakness Enumeration (CWE) information on this vulnerability.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        },
        "offendingPackage": {
          "description": "The offending package is relevant to the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "providerRiskScore": {
          "description": "Provider provided risk_score based on multiple factors. The higher the risk score, the more risky the vulnerability is.",
          "type": "string",
          "format": "int64"
        },
        "fixedPackage": {
          "description": "The fixed package is relevant to the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "securityBulletin": {
          "description": "The security bulletin is relevant to this finding.",
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        }
      },
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Vulnerability"
    },
    "GroupAssetsRequest": {
      "id": "GroupAssetsRequest",
      "description": "Request message for grouping by assets.",
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "type": "integer",
          "format": "int32"
        },
        "groupBy": {
          "description": "Required. Expression that defines what assets fields to use for grouping. The string value should follow SQL syntax: comma separated list of fields. For example: \"security_center_properties.resource_project,security_center_properties.project\". The following fields are supported when compare_duration is not set: * security_center_properties.resource_project * security_center_properties.resource_type * security_center_properties.resource_parent The following fields are supported when compare_duration is set: * security_center_properties.resource_type",
          "type": "string"
        },
        "compareDuration": {
          "description": "When compare_duration is set, the Asset's \"state\" property is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present before compare_duration, but present at reference_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at reference_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and reference_time. This field is ignored if `state` is not a field in `group_by`.",
          "type": "string",
          "format": "google-duration"
        },
        "filter": {
          "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `resource_properties.size = 100` is a valid filter string.",
          "type": "string"
        },
        "readTime": {
          "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
          "type": "string",
          "format": "google-datetime"
        },
        "pageToken": {
          "description": "The value returned by the last `GroupAssetsResponse`; indicates that this is a continuation of a prior `GroupAssets` call, and that the system should return the next page of data.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "properties": {
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "projectDisplayName": {
          "description": "The project id that the resource belongs to.",
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "readOnly": true,
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "type": "array"
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        }
      },
      "description": "Information related to the Google Cloud resource.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication",
      "description": "The AppHub application associated with the resource, if any.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of an Application. Format: `projects/{host-project-id}/locations/{location}/applications/{application-id}`",
          "type": "string"
        },
        "attributes": {
          "description": "Consumer provided attributes for the application",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      }
    },
    "SecurityBulletin": {
      "id": "SecurityBulletin",
      "properties": {
        "submissionTime": {
          "description": "Submission time of this Security Bulletin.",
          "type": "string",
          "format": "google-datetime"
        },
        "bulletinId": {
          "description": "ID of the bulletin corresponding to the vulnerability.",
          "type": "string"
        },
        "suggestedUpgradeVersion": {
          "description": "This represents a version that the cluster receiving this notification should be upgraded to, based on its current version. For example, 1.15.0",
          "type": "string"
        }
      },
      "description": "SecurityBulletin are notifications of vulnerabilities of Google products.",
      "type": "object"
    },
    "Requests": {
      "id": "Requests",
      "description": "Information about the requests relevant to the finding.",
      "type": "object",
      "properties": {
        "longTermDenied": {
          "description": "Denied RPS (requests per second) over the long term.",
          "type": "integer",
          "format": "int32"
        },
        "shortTermAllowed": {
          "description": "Allowed RPS (requests per second) in the short term.",
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "description": "For 'Increasing deny ratio', the ratio is the denied traffic divided by the allowed traffic. For 'Allowed traffic spike', the ratio is the allowed traffic in the short term divided by allowed traffic in the long term.",
          "type": "number",
          "format": "double"
        },
        "longTermAllowed": {
          "description": "Allowed RPS (requests per second) over the long term.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MemoryHashSignature": {
      "properties": {
        "binaryFamily": {
          "description": "The binary family.",
          "type": "string"
        },
        "detections": {
          "items": {
            "$ref": "Detection"
          },
          "description": "The list of memory hash detections contributing to the binary family match.",
          "type": "array"
        }
      },
      "description": "A signature corresponding to memory page hashes.",
      "type": "object",
      "id": "MemoryHashSignature"
    },
    "StaticMute": {
      "properties": {
        "state": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "description": "The static mute state. If the value is `MUTED` or `UNMUTED`, then the finding's overall mute state will have the same value.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ]
        },
        "applyTime": {
          "description": "When the static mute was applied.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Information about the static mute state. A static mute state overrides any dynamic mute rules that apply to this finding. The static mute state can be set by a static mute rule or by muting the finding directly.",
      "type": "object",
      "id": "StaticMute"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata",
      "description": "The Azure metadata of a resource associated with an issue.",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The Azure subscription of the resource associated with the issue.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "description": "Consumer provided attributes for the application",
      "type": "object",
      "properties": {
        "criticality": {
          "description": "User-defined criticality information.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "description": "Business team that ensures user needs are met and value is delivered",
          "type": "array"
        },
        "environment": {
          "description": "User-defined environment information.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "description": "Developer team that owns development and coding.",
          "type": "array"
        },
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "description": "Operator team that ensures runtime and operations.",
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "description": "Finding related to an issue.",
      "type": "object",
      "properties": {
        "securityBulletin": {
          "description": "The security bulletin of the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        },
        "name": {
          "description": "The name of the finding.",
          "type": "string"
        },
        "cve": {
          "description": "The CVE of the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Package": {
      "id": "GoogleCloudSecuritycenterV2Package",
      "properties": {
        "packageType": {
          "description": "Type of package, for example, os, maven, or go.",
          "type": "string"
        },
        "packageVersion": {
          "description": "The version of the package.",
          "type": "string"
        },
        "packageName": {
          "description": "The name of the package where the vulnerability was detected.",
          "type": "string"
        },
        "cpeUri": {
          "description": "The CPE URI where the vulnerability was detected.",
          "type": "string"
        }
      },
      "description": "Package is a generic definition of a package.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2PortRange": {
      "properties": {
        "min": {
          "description": "Minimum port value.",
          "type": "string",
          "format": "int64"
        },
        "max": {
          "description": "Maximum port value.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A port range which is inclusive of the min and max values. Values are between 0 and 2^16-1. The max can be equal / must be not smaller than the min value. If min and max are equal this indicates that it is a single port.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PortRange"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "properties": {
        "sourceIpRanges": {
          "description": "If source IP ranges are specified, the firewall rule applies only to traffic that has a source IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowed": {
          "description": "Tuple with allowed rules.",
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "destinationIpRanges": {
          "description": "If destination IP ranges are specified, the firewall rule applies only to traffic that has a destination IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "description": "The direction that the rule is applicable to, one of ingress or egress.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified direction value.",
            "Ingress direction value.",
            "Egress direction value."
          ]
        },
        "denied": {
          "description": "Tuple with denied rules.",
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "description": "Name of the network protocol service, such as FTP, that is exposed by the open port. Follows the naming convention available at: https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml.",
          "type": "array"
        }
      },
      "description": "IP rules associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Immutable. The additional taxonomy group within findings from a given source. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "parentDisplayName": {
          "description": "Output only. The human readable display name of the finding source such as \"Event Threat Detection\" or \"Security Health Analytics\".",
          "type": "string",
          "readOnly": true
        },
        "muteInfo": {
          "description": "Output only. The mute information regarding this finding.",
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo",
          "readOnly": true
        },
        "database": {
          "description": "Database associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "toxicCombination": {
          "description": "Contains details about a group of security issues that, when the issues occur together, represent a greater risk than when the issues occur independently. A group of such issues is referred to as a toxic combination. This field cannot be updated. Its value is ignored in all update requests.",
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "orgPolicies": {
          "description": "Contains information about the org policies associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          }
        },
        "description": {
          "description": "Contains more details about the finding.",
          "type": "string"
        },
        "cloudDlpInspection": {
          "description": "Cloud Data Loss Prevention (Cloud DLP) inspection results that are associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "networks": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          },
          "description": "Represents the VPC networks that the resource is attached to.",
          "type": "array"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "description": "Output only. The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ]
        },
        "artifactGuardPolicies": {
          "description": "ArtifactGuardPolicies associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "notebook": {
          "description": "Notebook associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "compliances": {
          "description": "Contains compliance information for security standards associated to the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "containers": {
          "description": "Containers associated with the finding. This field provides information for both Kubernetes and non-Kubernetes containers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "nextSteps": {
          "description": "Steps to address the finding.",
          "type": "string"
        },
        "canonicalName": {
          "description": "Output only. The canonical name of the finding. The following list shows some examples: + `organizations/{organization_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}` + `folders/{folder_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}` + `projects/{project_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}` The prefix is the closest CRM ancestor of the resource associated with the finding.",
          "type": "string",
          "readOnly": true
        },
        "kubernetes": {
          "description": "Kubernetes resources associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "name": {
          "description": "Identifier. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. The following list shows some examples: + `organizations/{organization_id}/sources/{source_id}/findings/{finding_id}` + `organizations/{organization_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}` + `folders/{folder_id}/sources/{source_id}/findings/{finding_id}` + `folders/{folder_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}` + `projects/{project_id}/sources/{source_id}/findings/{finding_id}` + `projects/{project_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}`",
          "type": "string"
        },
        "resourceName": {
          "description": "Immutable. For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string.",
          "type": "string"
        },
        "kernelRootkit": {
          "description": "Signature of the kernel rootkit.",
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "secret": {
          "description": "Secret associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "chokepoint": {
          "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations). This field cannot be updated. Its value is ignored in all update requests.",
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "parent": {
          "description": "The relative resource name of the source and location the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. The following list shows some examples: + `organizations/{organization_id}/sources/{source_id}` + `folders/{folders_id}/sources/{source_id}` + `projects/{projects_id}/sources/{source_id}` + `organizations/{organization_id}/sources/{source_id}/locations/{location_id}` + `folders/{folders_id}/sources/{source_id}/locations/{location_id}` + `projects/{projects_id}/sources/{source_id}/locations/{location_id}`",
          "type": "string"
        },
        "mitreAttack": {
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "affectedResources": {
          "description": "AffectedResources associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "dataFlowEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          },
          "description": "Data flow events associated with the finding.",
          "type": "array"
        },
        "aiModel": {
          "description": "The AI model associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "attackExposure": {
          "description": "The results of an attack path simulation relevant to this finding.",
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "files": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          },
          "description": "File associated with the finding.",
          "type": "array"
        },
        "indicator": {
          "description": "Represents what's commonly known as an *indicator of compromise* (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "disk": {
          "description": "Disk associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "dataAccessEvents": {
          "description": "Data access events associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          }
        },
        "mute": {
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "type": "string"
        },
        "loadBalancers": {
          "description": "The load balancers associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks",
          "readOnly": true
        },
        "exfiltration": {
          "description": "Represents exfiltrations associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "logEntries": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          },
          "description": "Log entries that are relevant to the finding.",
          "type": "array"
        },
        "cloudDlpDataProfile": {
          "description": "Cloud DLP data profile that is associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "moduleName": {
          "description": "Unique identifier of the module which generated the finding. Example: folders/598186756061/securityHealthAnalyticsSettings/customModules/56799441161885",
          "type": "string"
        },
        "securityPosture": {
          "description": "The security posture associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "iamBindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          },
          "description": "Represents IAM bindings associated with the finding.",
          "type": "array"
        },
        "backupDisasterRecovery": {
          "description": "Fields related to Backup and DR findings.",
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "cryptoKeyName": {
          "description": "Output only. The name of the Cloud KMS key used to encrypt this finding, if any.",
          "type": "string",
          "readOnly": true
        },
        "externalSystems": {
          "readOnly": true,
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          }
        },
        "processes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          },
          "description": "Represents operating system processes associated with the Finding.",
          "type": "array"
        },
        "muteInitiator": {
          "description": "Records additional information about the mute operation, for example, the [mute configuration](https://cloud.google.com/security-command-center/docs/how-to-mute-findings) that muted the finding and the user who muted the finding.",
          "type": "string"
        },
        "ipRules": {
          "description": "IP rules associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "cloudArmor": {
          "description": "Fields related to Cloud Armor findings.",
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "application": {
          "description": "Represents an application associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "connections": {
          "description": "Contains information about the IP connection associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "eventTime": {
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "groupMemberships": {
          "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way. This field cannot be updated. Its value is ignored in all update requests.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "access": {
          "description": "Access details associated with the finding, such as more information on the caller, which method was accessed, and from where.",
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "job": {
          "description": "Job associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "vulnerability": {
          "description": "Represents vulnerability-specific fields like CVE and CVSS scores. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "dataRetentionDeletionEvents": {
          "description": "Data retention deletion events associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          }
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "externalExposure": {
          "description": "External exposure associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "vertexAi": {
          "description": "VertexAi associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "findingClass": {
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality.",
            "Describes a potential security risk due to a change in the security posture.",
            "Describes a combination of security issues that represent a more severe security problem when taken together.",
            "Describes a potential security risk to data assets that contain sensitive data.",
            "Describes a resource or resource group where high risk attack paths converge, based on attack path simulations (APS).",
            "Describes a potential security risk due to the resource being exposed to the internet."
          ],
          "description": "The class of the finding.",
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE"
          ]
        },
        "complianceDetails": {
          "description": "Details about the compliance implications of the finding.",
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "contacts": {
          "readOnly": true,
          "description": "Output only. Map containing the points of contact for the given finding. The key represents the type of contact, while the value contains a list of all the contacts that pertain. Please refer to: https://cloud.google.com/resource-manager/docs/managing-notification-contacts#notification-categories { \"security\": { \"contacts\": [ { \"email\": \"person1@company.com\" }, { \"email\": \"person2@company.com\" } ] } }",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          }
        },
        "muteUpdateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Finding"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "id": "GoogleCloudSecuritycenterV2Attack",
      "properties": {
        "volumePps": {
          "description": "Total PPS (packets per second) volume of attack. Deprecated - refer to volume_pps_long instead.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "volumePpsLong": {
          "description": "Total PPS (packets per second) volume of attack.",
          "type": "string",
          "format": "int64"
        },
        "volumeBps": {
          "deprecated": true,
          "description": "Total BPS (bytes per second) volume of attack. Deprecated - refer to volume_bps_long instead.",
          "type": "integer",
          "format": "int32"
        },
        "classification": {
          "description": "Type of attack, for example, 'SYN-flood', 'NTP-udp', or 'CHARGEN-udp'.",
          "type": "string"
        },
        "volumeBpsLong": {
          "description": "Total BPS (bytes per second) volume of attack.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Information about DDoS attack volume and classification.",
      "type": "object"
    },
    "DiskPath": {
      "id": "DiskPath",
      "properties": {
        "partitionUuid": {
          "description": "UUID of the partition (format https://wiki.archlinux.org/title/persistent_block_device_naming#by-uuid)",
          "type": "string"
        },
        "relativePath": {
          "description": "Relative path of the file in the partition as a JSON encoded string. Example: /home/user1/executable_file.sh",
          "type": "string"
        }
      },
      "description": "Path of the file in terms of underlying disk/partition identifiers.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Asset": {
      "description": "Security Command Center representation of a Google Cloud resource. The Asset is a Security Command Center resource that captures information about a single Google Cloud resource. All modifications to an Asset are only within the context of Security Command Center and don't affect the referenced Google Cloud resource.",
      "type": "object",
      "properties": {
        "securityCenterProperties": {
          "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user.",
          "$ref": "SecurityCenterProperties"
        },
        "resourceProperties": {
          "description": "Resource managed properties. These properties are managed and defined by the Google Cloud resource and cannot be modified by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "securityMarks": {
          "description": "User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the asset.",
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "createTime": {
          "description": "The time at which the asset was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "The relative resource name of this asset. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/assets/{asset_id}\".",
          "type": "string"
        },
        "updateTime": {
          "description": "The time at which the asset was last updated, added, or deleted in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Asset"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "A description of the mute config.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation.",
          "type": "string",
          "format": "google-datetime"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud KMS `CryptoKey` used to encrypt this configuration data, if CMEK was enabled during Security Command Center activation.",
          "type": "string"
        },
        "filter": {
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`",
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. This field will be ignored if provided on config creation. The following list shows some examples of the format: + `organizations/{organization}/muteConfigs/{mute_config}` + `organizations/{organization}locations/{location}//muteConfigs/{mute_config}` + `folders/{folder}/muteConfigs/{mute_config}` + `folders/{folder}/locations/{location}/muteConfigs/{mute_config}` + `projects/{project}/muteConfigs/{mute_config}` + `projects/{project}/locations/{location}/muteConfigs/{mute_config}`",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unused.",
            "A static mute config, which sets the static mute state of future matching findings to muted. Once the static mute state has been set, finding or config modifications will not affect the state.",
            "A dynamic mute config, which is applied to existing and future matching findings, setting their dynamic mute state to \"muted\". If the config is updated or deleted, or a matching finding is updated, such that the finding doesn't match the config, the config will be removed from the finding, and the finding's dynamic mute state may become \"unmuted\" (unless other configs still match)."
          ],
          "description": "Required. The type of the mute config, which determines what type of mute state the config affects. Immutable after creation.",
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "expiryTime": {
          "description": "Optional. The expiry of the mute config. Only applicable for dynamic configs. If the expiry is set, when the config expires, it is removed from all findings.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MuteConfig"
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "properties": {
        "sources": {
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "description": "Total exfiltrated bytes processed for the entire job.",
          "type": "string",
          "format": "int64"
        },
        "targets": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          },
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "type": "array"
        }
      },
      "description": "Exfiltration represents a data exfiltration attempt from one or more sources to one or more targets. The `sources` attribute lists the sources of the exfiltrated data. The `targets` attribute lists the destinations the data was copied to.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Exfiltration"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "properties": {
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        }
      },
      "description": "Security Command Center's Notification",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "description": "Cloud SCC's Notification",
      "type": "object",
      "properties": {
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "resource": {
          "description": "The Cloud resource tied to this notification's Finding.",
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        },
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "Finding"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "id": "GoogleCloudSecuritycenterV1Resource",
      "description": "Information related to the Google Cloud resource.",
      "type": "object",
      "properties": {
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "azureMetadata": {
          "description": "The Azure metadata associated with the finding.",
          "$ref": "AzureMetadata"
        },
        "resourcePath": {
          "description": "Provides the path to the resource within the resource hierarchy.",
          "$ref": "ResourcePath"
        },
        "service": {
          "description": "The parent service or product from which the resource is provided, for example, GKE or SNS.",
          "type": "string"
        },
        "resourcePathString": {
          "description": "A string representation of the resource path. For Google Cloud, it has the format of `organizations/{organization_id}/folders/{folder_id}/folders/{folder_id}/projects/{project_id}` where there can be any number of folders. For AWS, it has the format of `org/{organization_id}/ou/{organizational_unit_id}/ou/{organizational_unit_id}/account/{account_id}` where there can be any number of organizational units. For Azure, it has the format of `mg/{management_group_id}/mg/{management_group_id}/subscription/{subscription_id}/rg/{resource_group_name}` where there can be any number of management groups.",
          "type": "string"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "description": "Indicates which cloud provider the resource resides in.",
          "type": "string"
        },
        "type": {
          "description": "The full resource type of the resource.",
          "type": "string"
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "items": {
            "$ref": "Folder"
          },
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "type": "array"
        },
        "location": {
          "description": "The region or location of the service (if applicable).",
          "type": "string"
        },
        "awsMetadata": {
          "description": "The AWS metadata associated with the finding.",
          "$ref": "AwsMetadata"
        },
        "adcApplicationTemplate": {
          "description": "The ADC template associated with the finding.",
          "$ref": "AdcApplicationTemplateRevision"
        },
        "adcSharedTemplate": {
          "description": "The ADC shared template associated with the finding.",
          "$ref": "AdcSharedTemplateRevision"
        },
        "displayName": {
          "description": "The human readable name of the resource.",
          "type": "string"
        },
        "adcApplication": {
          "description": "The ADC application associated with the finding.",
          "$ref": "AdcApplication"
        },
        "application": {
          "description": "The App Hub application this resource belongs to.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "organization": {
          "description": "Indicates which organization or tenant in the cloud provider the finding applies to.",
          "type": "string"
        },
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretStatus": {
      "id": "GoogleCloudSecuritycenterV2SecretStatus",
      "properties": {
        "lastUpdatedTime": {
          "description": "Time that the secret was found.",
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "enumDescriptions": [
            "Default value; no validation was attempted.",
            "There is no mechanism to validate the secret.",
            "Validation is supported but the validation failed.",
            "The secret is confirmed to be invalid.",
            "The secret is confirmed to be valid."
          ],
          "description": "The validity of the secret.",
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ]
        }
      },
      "description": "The status of the secret.",
      "type": "object"
    },
    "Object": {
      "properties": {
        "kind": {
          "description": "Kubernetes object kind, such as \"Namespace\".",
          "type": "string"
        },
        "containers": {
          "description": "Pod containers associated with this finding, if any.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "ns": {
          "description": "Kubernetes object namespace. Must be a valid DNS label. Named \"ns\" to avoid collision with C++ namespace keyword. For details see https://kubernetes.io/docs/tasks/administer-cluster/namespaces/.",
          "type": "string"
        },
        "name": {
          "description": "Kubernetes object name. For details see https://kubernetes.io/docs/concepts/overview/working-with-objects/names/.",
          "type": "string"
        },
        "group": {
          "description": "Kubernetes object group, such as \"policy.k8s.io/v1\".",
          "type": "string"
        }
      },
      "description": "Kubernetes object related to the finding, uniquely identified by GKNN. Used if the object Kind is not one of Pod, Node, NodePool, Binding, or AccessReview.",
      "type": "object",
      "id": "Object"
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "description": "Information about [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/cloud-armor-overview#google-cloud-armor-adaptive-protection).",
      "type": "object",
      "properties": {
        "confidence": {
          "description": "A score of 0 means that there is low confidence that the detected event is an actual attack. A score of 1 means that there is high confidence that the detected event is an attack. See the [Adaptive Protection documentation](https://cloud.google.com/armor/docs/adaptive-protection-overview#configure-alert-tuning) for further explanation.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection"
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "properties": {
        "id": {
          "description": "The ID of the Azure resource group.",
          "type": "string"
        },
        "name": {
          "description": "The name of the Azure resource group. This is not a UUID.",
          "type": "string"
        }
      },
      "description": "Represents an Azure resource group.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup"
    },
    "SensitivityScore": {
      "id": "SensitivityScore",
      "description": "Score is calculated from of all elements in the data profile. A higher level means the data is more sensitive.",
      "type": "object",
      "properties": {
        "score": {
          "description": "The sensitivity score applied to the resource.",
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "Unused.",
            "No sensitive information detected. The resource isn't publicly accessible.",
            "Unable to determine sensitivity.",
            "Medium risk. Contains personally identifiable information (PII), potentially sensitive data, or fields with free-text data that are at a higher risk of having intermittent sensitive data. Consider limiting access.",
            "High risk. Sensitive personally identifiable information (SPII) can be present. Exfiltration of data can lead to user data loss. Re-identification of users might be possible. Consider limiting usage and or removing SPII."
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1Finding": {
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding.",
      "type": "object",
      "properties": {
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "state": {
          "description": "The state of the finding.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ]
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved.",
          "type": "string",
          "format": "google-datetime"
        },
        "parent": {
          "description": "Immutable. The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1beta1Finding"
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "description": "A signature corresponding to memory page hashes.",
      "type": "object",
      "properties": {
        "detections": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          },
          "description": "The list of memory hash detections contributing to the binary family match.",
          "type": "array"
        },
        "binaryFamily": {
          "description": "The binary family.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature"
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "id": "GoogleCloudSecuritycenterV2Pod",
      "properties": {
        "name": {
          "description": "Kubernetes Pod name.",
          "type": "string"
        },
        "labels": {
          "description": "Pod labels. For Kubernetes containers, these are applied to the container.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "ns": {
          "description": "Kubernetes Pod namespace.",
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "description": "Pod containers associated with this finding, if any.",
          "type": "array"
        }
      },
      "description": "A Kubernetes Pod.",
      "type": "object"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "Sources belonging to the requested parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      },
      "description": "Response message for listing sources.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "properties": {
        "highSensitivityMapping": {
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "description": "Resource value mapping for high-sensitivity Sensitive Data Protection findings",
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "mediumSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "description": "Resource value mapping for medium-sensitivity Sensitive Data Protection findings",
          "type": "string",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ]
        }
      },
      "description": "Resource value mapping for Sensitive Data Protection findings. If any of these mappings have a resource value that is not unspecified, the resource_value field will be ignored when reading this configuration.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
    },
    "GoogleCloudSecuritycenterV2Node": {
      "properties": {
        "name": {
          "description": "[Full resource name](https://google.aip.dev/122#full-resource-names) of the Compute Engine VM running the cluster node.",
          "type": "string"
        }
      },
      "description": "Kubernetes nodes associated with the finding.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Node"
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "description": "IP rule information.",
      "type": "object",
      "properties": {
        "protocol": {
          "description": "The IP protocol this rule applies to. This value can either be one of the following well known protocol strings (TCP, UDP, ICMP, ESP, AH, IPIP, SCTP) or a string representation of the integer value.",
          "type": "string"
        },
        "portRanges": {
          "description": "Optional. An optional list of ports to which this rule applies. This field is only applicable for the UDP or (S)TCP protocols. Each entry must be either an integer or a range including a min and max port number.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRule"
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2AzureMetadata",
      "description": "Azure metadata associated with the resource, only applicable if the finding's cloud provider is Microsoft Azure.",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The Azure subscription associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        },
        "resourceGroup": {
          "description": "The Azure resource group associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "managementGroups": {
          "description": "A list of Azure management groups associated with the resource, ordered from lowest level (closest to the subscription) to highest level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        },
        "tenant": {
          "description": "The Azure Entra tenant associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "description": "The domains of an issue.",
      "type": "object",
      "properties": {
        "domainCategory": {
          "enumDescriptions": [
            "Unspecified domain category.",
            "Issues in the AI domain.",
            "Issues in the code domain.",
            "Issues in the container domain.",
            "Issues in the data domain.",
            "Issues in the identity and access domain.",
            "Issues in the vulnerability domain.",
            "Issues in the threat domain."
          ],
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "description": "The domain category of the issue.",
          "type": "string"
        }
      }
    },
    "SecretFilePath": {
      "description": "File path containing the secret.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Path to the file.",
          "type": "string"
        }
      },
      "id": "SecretFilePath"
    },
    "Reference": {
      "properties": {
        "source": {
          "description": "Source of the reference e.g. NVD",
          "type": "string"
        },
        "uri": {
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527.",
          "type": "string"
        }
      },
      "description": "Additional Links",
      "type": "object",
      "id": "Reference"
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "id": "GoogleCloudSecuritycenterV2Binding",
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding.",
      "type": "object",
      "properties": {
        "ns": {
          "description": "Namespace for the binding.",
          "type": "string"
        },
        "role": {
          "description": "The Role or ClusterRole referenced by the binding.",
          "$ref": "GoogleCloudSecuritycenterV2Role"
        },
        "name": {
          "description": "Name for the binding.",
          "type": "string"
        },
        "subjects": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          },
          "description": "Represents one or more subjects that are bound to the role. Not always available for PATCH requests.",
          "type": "array"
        }
      }
    },
    "AiModel": {
      "id": "AiModel",
      "properties": {
        "displayName": {
          "description": "The user defined display name of model. Ex. baseline-classification-model",
          "type": "string"
        },
        "deploymentPlatform": {
          "description": "The platform on which the model is deployed.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "enumDescriptions": [
            "Unspecified deployment platform.",
            "Vertex AI.",
            "Google Kubernetes Engine.",
            "Google Compute Engine.",
            "Fine tuned model."
          ]
        },
        "publisher": {
          "description": "The publisher of the model, for example, “google” or “nvidia”.",
          "type": "string"
        },
        "library": {
          "description": "The name of the model library, for example, “transformers”.",
          "type": "string"
        },
        "usageCategory": {
          "description": "The purpose of the model, for example, \"Inteference\" or \"Training\".",
          "type": "string"
        },
        "location": {
          "description": "The region in which the model is used, for example, “us-central1”.",
          "type": "string"
        },
        "name": {
          "description": "The name of the AI model, for example, \"gemini:1.0.0\".",
          "type": "string"
        },
        "domain": {
          "description": "The domain of the model, for example, “image-classification”.",
          "type": "string"
        }
      },
      "description": "Contains information about the AI model associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
      "properties": {
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "type": "object"
    },
    "SecretStatus": {
      "description": "The status of the secret.",
      "type": "object",
      "properties": {
        "lastUpdatedTime": {
          "description": "Time that the secret was found.",
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "description": "The validity of the secret.",
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "enumDescriptions": [
            "Default value; no validation was attempted.",
            "There is no mechanism to validate the secret.",
            "Validation is supported but the validation failed.",
            "The secret is confirmed to be invalid.",
            "The secret is confirmed to be valid."
          ]
        }
      },
      "id": "SecretStatus"
    },
    "TicketInfo": {
      "id": "TicketInfo",
      "description": "Information about the ticket, if any, that is being used to track the resolution of the issue that is identified by this finding.",
      "type": "object",
      "properties": {
        "assignee": {
          "description": "The assignee of the ticket in the ticket system.",
          "type": "string"
        },
        "description": {
          "description": "The description of the ticket in the ticket system.",
          "type": "string"
        },
        "id": {
          "description": "The identifier of the ticket in the ticket system.",
          "type": "string"
        },
        "uri": {
          "description": "The link to the ticket in the ticket system.",
          "type": "string"
        },
        "status": {
          "description": "The latest status of the ticket, as reported by the ticket system.",
          "type": "string"
        },
        "updateTime": {
          "description": "The time when the ticket was last updated, as reported by the ticket system.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Subject": {
      "description": "Represents a Kubernetes subject.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name for the subject.",
          "type": "string"
        },
        "ns": {
          "description": "Namespace for the subject.",
          "type": "string"
        },
        "kind": {
          "description": "Authentication type for the subject.",
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as secrets.",
            "Collection of users."
          ]
        }
      },
[...]
