{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "id": "securitycenter:v1beta2",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Security Command Center API",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "resources": {
    "folders": {
      "methods": {
        "getEventThreatDetectionSettings": {
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the EventThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetEventThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateEventThreatDetectionSettings for this purpose.",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$"
            }
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the EventThreatDetectionSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifier. The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "description": "Identifier. The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        },
        "getWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$"
            }
          },
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "httpMethod": "GET",
          "description": "Get the WebSecurityScannerSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetWebSecurityScannerSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateWebSecurityScannerSettings for this purpose."
        },
        "getSecurityCenterSettings": {
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "httpMethod": "GET",
          "description": "Get the SecurityCenterSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/securityCenterSettings$",
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings"
            }
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifier. The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "description": "Get the SecurityHealthAnalyticsSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetSecurityHealthAnalyticsSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateSecurityHealthAnalyticsSettings for this purpose."
        },
        "updateContainerThreatDetectionSettings": {
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          },
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getRapidVulnerabilityDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$"
            }
          },
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the RapidVulnerabilityDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetRapidVulnerabilityDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateRapidVulnerabilityDetectionSettings for this purpose."
        },
        "updateWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "type": "string",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          },
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "httpMethod": "PATCH",
          "description": "Update the WebSecurityScannerSettings resource."
        },
        "getContainerThreatDetectionSettings": {
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the ContainerThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetContainerThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateContainerThreatDetectionSettings for this purpose.",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the VirtualMachineThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetVirtualMachineThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateVirtualMachineThreatDetectionSettings for this purpose.",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the RapidVulnerabilityDetectionSettings resource.",
          "parameters": {
            "name": {
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown."
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail."
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown."
                }
              }
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings"
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown."
                }
              },
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail."
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "updateWebSecurityScannerSettings": {
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "httpMethod": "PATCH",
          "description": "Update the WebSecurityScannerSettings resource.",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifier. The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          },
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the VirtualMachineThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetVirtualMachineThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateVirtualMachineThreatDetectionSettings for this purpose.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the ContainerThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetContainerThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateContainerThreatDetectionSettings for this purpose.",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the RapidVulnerabilityDetectionSettings resource."
        },
        "updateContainerThreatDetectionSettings": {
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "description": "Get the SecurityHealthAnalyticsSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetSecurityHealthAnalyticsSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateSecurityHealthAnalyticsSettings for this purpose."
        },
        "getRapidVulnerabilityDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the RapidVulnerabilityDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetRapidVulnerabilityDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateRapidVulnerabilityDetectionSettings for this purpose."
        },
        "getSubscription": {
          "id": "securitycenter.organizations.getSubscription",
          "httpMethod": "GET",
          "description": "Get the Subscription resource.",
          "parameters": {
            "name": {
              "description": "Required. The name of the subscription to retrieve. Format: organizations/{organization}/subscription",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/subscription$"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "response": {
            "$ref": "Subscription"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateSecurityHealthAnalyticsSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "description": "Identifier. The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          },
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          }
        },
        "getWebSecurityScannerSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "httpMethod": "GET",
          "description": "Get the WebSecurityScannerSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetWebSecurityScannerSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateWebSecurityScannerSettings for this purpose.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "getSecurityCenterSettings": {
          "parameters": {
            "name": {
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/securityCenterSettings$"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "httpMethod": "GET",
          "description": "Get the SecurityCenterSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier. The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the EventThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetEventThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateEventThreatDetectionSettings for this purpose.",
          "parameters": {
            "name": {
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "updateEventThreatDetectionSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "description": "Identifier. The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the EventThreatDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          }
        }
      },
      "resources": {
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown."
                }
              },
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "location": "query",
                  "type": "boolean"
                }
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail."
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$"
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              }
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getRapidVulnerabilityDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the RapidVulnerabilityDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetRapidVulnerabilityDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateRapidVulnerabilityDetectionSettings for this purpose."
        },
        "updateContainerThreatDetectionSettings": {
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "description": "Get the SecurityHealthAnalyticsSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetSecurityHealthAnalyticsSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateSecurityHealthAnalyticsSettings for this purpose.",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            }
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the RapidVulnerabilityDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the VirtualMachineThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetVirtualMachineThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateVirtualMachineThreatDetectionSettings for this purpose.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "getContainerThreatDetectionSettings": {
          "parameters": {
            "name": {
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the ContainerThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetContainerThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateContainerThreatDetectionSettings for this purpose.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "httpMethod": "PATCH",
          "description": "Update the WebSecurityScannerSettings resource."
        },
        "getEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.getEventThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the EventThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetEventThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateEventThreatDetectionSettings for this purpose.",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "updateEventThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          },
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the EventThreatDetectionSettings resource."
        },
        "getSecurityCenterSettings": {
          "id": "securitycenter.projects.getSecurityCenterSettings",
          "httpMethod": "GET",
          "description": "Get the SecurityCenterSettings resource.",
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/securityCenterSettings$"
            }
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "description": "Identifier. The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          },
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "description": "Identifier. The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          }
        },
        "getWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "httpMethod": "GET",
          "description": "Get the WebSecurityScannerSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetWebSecurityScannerSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateWebSecurityScannerSettings for this purpose."
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "updateContainerThreatDetectionSettings": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "path": "v1beta2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "description": "Identifier. The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated."
                    }
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "httpMethod": "PATCH",
                  "description": "Update the ContainerThreatDetectionSettings resource."
                },
                "getContainerThreatDetectionSettings": {
                  "path": "v1beta2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "httpMethod": "GET",
                  "description": "Get the ContainerThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetContainerThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateContainerThreatDetectionSettings for this purpose.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
                    }
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  }
                }
              },
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "httpMethod": "GET",
                      "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$"
                        },
                        "showEligibleModulesOnly": {
                          "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "path": "v1beta2/{+name}:calculate",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown."
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown."
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$"
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail."
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown."
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              }
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate",
              "httpMethod": "GET",
[...]
