{
  "rootUrl": "https://securitycenter.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "securitycenter",
  "ownerName": "Google",
  "resources": {
    "folders": {
      "methods": {
        "updateContainerThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifier. The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          }
        },
        "getWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the WebSecurityScannerSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetWebSecurityScannerSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateWebSecurityScannerSettings for this purpose.",
          "parameters": {
            "name": {
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "type": "string"
            }
          }
        },
        "updateEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the EventThreatDetectionSettings resource.",
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string"
            }
          },
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "httpMethod": "PATCH"
        },
        "getSecurityHealthAnalyticsSettings": {
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the SecurityHealthAnalyticsSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetSecurityHealthAnalyticsSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateSecurityHealthAnalyticsSettings for this purpose.",
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getSecurityCenterSettings": {
          "httpMethod": "GET",
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "parameters": {
            "name": {
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/securityCenterSettings$",
              "type": "string"
            }
          },
          "description": "Get the SecurityCenterSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "httpMethod": "PATCH"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Identifier. The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          },
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "description": "Get the EventThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetEventThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateEventThreatDetectionSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "type": "string",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "securitycenter.folders.getEventThreatDetectionSettings"
        },
        "getContainerThreatDetectionSettings": {
          "httpMethod": "GET",
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          },
          "description": "Get the ContainerThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetContainerThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateContainerThreatDetectionSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings"
        },
        "updateWebSecurityScannerSettings": {
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "description": "Update the WebSecurityScannerSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "type": "string",
              "description": "Identifier. The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.folders.updateWebSecurityScannerSettings"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "GET",
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "description": "Get the VirtualMachineThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetVirtualMachineThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateVirtualMachineThreatDetectionSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "location": "path",
              "required": true
            }
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "description": "Update the RapidVulnerabilityDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings"
            }
          },
          "description": "Get the RapidVulnerabilityDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetRapidVulnerabilityDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateRapidVulnerabilityDetectionSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings"
        }
      },
      "resources": {
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "type": "string",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "location": "path",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "type": "boolean"
                }
              },
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "httpMethod": "GET"
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "type": "string"
                }
              },
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getSecurityCenterSettings": {
          "id": "securitycenter.projects.getSecurityCenterSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityCenterSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the SecurityCenterSettings resource.",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings"
        },
        "updateEventThreatDetectionSettings": {
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Identifier. The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the EventThreatDetectionSettings resource."
        },
        "getSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the SecurityHealthAnalyticsSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetSecurityHealthAnalyticsSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateSecurityHealthAnalyticsSettings for this purpose.",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string",
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "type": "string",
              "description": "Identifier. The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings"
        },
        "getWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "type": "string"
            }
          },
          "description": "Get the WebSecurityScannerSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetWebSecurityScannerSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateWebSecurityScannerSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "securitycenter.projects.getWebSecurityScannerSettings"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string"
            },
            "name": {
              "description": "Identifier. The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Identifier. The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings"
        },
        "getContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          },
          "description": "Get the ContainerThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetContainerThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateContainerThreatDetectionSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "securitycenter.projects.getContainerThreatDetectionSettings"
        },
        "getEventThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "httpMethod": "GET",
          "id": "securitycenter.projects.getEventThreatDetectionSettings",
          "description": "Get the EventThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetEventThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateEventThreatDetectionSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "type": "string"
            }
          }
        },
        "getRapidVulnerabilityDetectionSettings": {
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the RapidVulnerabilityDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetRapidVulnerabilityDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateRapidVulnerabilityDetectionSettings for this purpose."
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the RapidVulnerabilityDetectionSettings resource.",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            },
            "name": {
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          }
        },
        "updateWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the WebSecurityScannerSettings resource.",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Identifier. The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          },
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "httpMethod": "PATCH"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "description": "Get the VirtualMachineThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetVirtualMachineThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateVirtualMachineThreatDetectionSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        }
      },
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "type": "boolean"
                }
              },
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "type": "boolean"
                }
              },
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WebSecurityScannerSettings"
              }
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "getContainerThreatDetectionSettings": {
                  "httpMethod": "GET",
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "description": "Get the ContainerThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetContainerThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateContainerThreatDetectionSettings for this purpose.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "path": "v1beta2/{+name}",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings"
                },
                "updateContainerThreatDetectionSettings": {
                  "description": "Update the ContainerThreatDetectionSettings resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Identifier. The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "path": "v1beta2/{+name}",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  }
                }
              },
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "type": "string"
                        },
                        "showEligibleModulesOnly": {
                          "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "path": "v1beta2/{+name}:calculate",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown."
                }
              },
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
                  "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "type": "string"
                }
              },
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate"
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getEventThreatDetectionSettings": {
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "type": "string",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "required": true
            }
          },
          "description": "Get the EventThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetEventThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateEventThreatDetectionSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the ContainerThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetContainerThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateContainerThreatDetectionSettings for this purpose.",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "type": "string",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path",
              "required": true
            }
          },
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          }
        },
        "getVirtualMachineThreatDetectionSettings": {
          "parameters": {
            "name": {
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string"
            }
          },
          "description": "Get the VirtualMachineThreatDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetVirtualMachineThreatDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateVirtualMachineThreatDetectionSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateWebSecurityScannerSettings": {
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifier. The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          },
          "description": "Update the WebSecurityScannerSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string"
            },
            "name": {
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "type": "string",
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the RapidVulnerabilityDetectionSettings resource.",
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "type": "string",
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the RapidVulnerabilityDetectionSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetRapidVulnerabilityDetectionSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateRapidVulnerabilityDetectionSettings for this purpose.",
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "description": "Get the WebSecurityScannerSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetWebSecurityScannerSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateWebSecurityScannerSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string"
            },
            "name": {
              "description": "Identifier. The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          }
        },
        "getSubscription": {
          "description": "Get the Subscription resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/subscription$",
              "type": "string",
              "description": "Required. The name of the subscription to retrieve. Format: organizations/{organization}/subscription",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getSubscription",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Subscription"
          }
        },
        "updateEventThreatDetectionSettings": {
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Identifier. The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "type": "string"
            }
          },
          "description": "Update the EventThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "description": "Get the SecurityHealthAnalyticsSettings resource. In the returned settings response, a missing field only indicates that it was not explicitly set, so no assumption should be made about these fields. In other words, GetSecurityHealthAnalyticsSettings does not calculate the effective service settings for the resource, which accounts for inherited settings and defaults. Instead, use CalculateSecurityHealthAnalyticsSettings for this purpose.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings"
        },
        "getSecurityCenterSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "type": "string",
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
              "location": "path",
              "required": true
            }
          },
          "description": "Get the SecurityCenterSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getSecurityCenterSettings"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string",
              "description": "Identifier. The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string"
            },
            "name": {
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "description": "Identifier. The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        }
      },
      "resources": {
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown.",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown."
                }
              },
              "httpMethod": "GET",
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate"
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate",
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "type": "string"
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings. Settings provided closer to the target resource take precedence over those further away (e.g. folder will override organization level settings). The default SCC setting for the detector service defaults can be overridden at organization, folder and project levels. No assumptions should be made about the SCC defaults as it is considered an internal implementation detail.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. When set, will only retrieve the modules that are in scope. By default, all modules will be shown."
                }
              }
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "type": "string",
[...]
