{
  "canonicalName": "Security Command Center",
  "batchPath": "batch",
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/"
    }
  ],
  "version": "v1beta1",
  "parameters": {
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "schemas": {
    "GoogleCloudSecuritycenterV2Pipeline": {
      "description": "Vertex AI training pipeline associated with the finding.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Pipeline",
      "properties": {
        "displayName": {
          "description": "The user-defined display name of pipeline, e.g. plants-classification",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the pipeline, e.g. projects/{project}/locations/{location}/trainingPipelines/5253428229225578496",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
      "properties": {
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "id": "GoogleCloudSecuritycenterV2Connection",
      "properties": {
        "sourcePort": {
          "description": "Source port.",
          "type": "integer",
          "format": "int32"
        },
        "destinationPort": {
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "type": "integer",
          "format": "int32"
        },
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        },
        "protocol": {
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "type": "string"
        },
        "sourceIp": {
          "description": "Source IP address.",
          "type": "string"
        }
      },
      "description": "Contains information about the IP connection associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Access": {
      "description": "Represents an access event.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Access",
      "properties": {
        "callerIp": {
          "description": "Caller's IP address, such as \"1.1.1.1\".",
          "type": "string"
        },
        "principalEmail": {
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user or a service account acting on behalf of a third party principal making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id).",
          "type": "string"
        },
        "serviceAccountKeyName": {
          "description": "The name of the service account key that was used to create or exchange credentials when authenticating the service account that made the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\". ",
          "type": "string"
        },
        "userAgentFamily": {
          "description": "Type of user agent associated with the finding. For example, an operating system shell or an embedded or standalone application.",
          "type": "string"
        },
        "userName": {
          "description": "A string that represents a username. The username provided depends on the type of the finding and is likely not an IAM principal. For example, this can be a system username if the finding is related to a virtual machine, or it can be an application login username.",
          "type": "string"
        },
        "userAgent": {
          "description": "The caller's user agent string associated with the finding.",
          "type": "string"
        },
        "principalSubject": {
          "description": "A string that represents the principal_subject that is associated with the identity. Unlike `principal_email`, `principal_subject` supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format is `principal://iam.googleapis.com/{identity pool name}/subject/{subject}`. Some GKE identities, such as GKE_WORKLOAD, FREEFORM, and GKE_HUB_WORKLOAD, still use the legacy format `serviceAccount:{identity pool name}[{subject}]`.",
          "type": "string"
        },
        "serviceName": {
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\"",
          "type": "string"
        },
        "methodName": {
          "description": "The method that the service account called, e.g. \"SetIamPolicy\".",
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation",
          "description": "The caller IP's geolocation, which identifies where the call came from."
        },
        "serviceAccountDelegationInfo": {
          "description": "The identity delegation history of an authenticated service account that made the request. The `serviceAccountDelegationInfo[]` object contains information about the real authorities that try to access Google Cloud resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "id": "GoogleCloudSecuritycenterV2Requests",
      "properties": {
        "ratio": {
          "description": "For 'Increasing deny ratio', the ratio is the denied traffic divided by the allowed traffic. For 'Allowed traffic spike', the ratio is the allowed traffic in the short term divided by allowed traffic in the long term.",
          "type": "number",
          "format": "double"
        },
        "longTermDenied": {
          "description": "Denied RPS (requests per second) over the long term.",
          "type": "integer",
          "format": "int32"
        },
        "shortTermAllowed": {
          "description": "Allowed RPS (requests per second) in the short term.",
          "type": "integer",
          "format": "int32"
        },
        "longTermAllowed": {
          "description": "Allowed RPS (requests per second) over the long term.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information about the requests relevant to the finding.",
      "type": "object"
    },
    "Detection": {
      "description": "Memory hash detection contributing to the binary family match.",
      "type": "object",
      "id": "Detection",
      "properties": {
        "binary": {
          "description": "The name of the binary associated with the memory hash signature detection.",
          "type": "string"
        },
        "percentPagesMatched": {
          "description": "The percentage of memory page hashes in the signature that were matched.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ArtifactGuardPolicies": {
      "id": "ArtifactGuardPolicies",
      "properties": {
        "failingPolicies": {
          "description": "A list of failing policies.",
          "type": "array",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "description": "The ID of the resource that has policies configured for it.",
          "type": "string"
        }
      },
      "description": "Represents the result of evaluating artifact guard policies.",
      "type": "object"
    },
    "AiModel": {
      "id": "AiModel",
      "properties": {
        "publisher": {
          "description": "The publisher of the model, for example, “google” or “nvidia”.",
          "type": "string"
        },
        "displayName": {
          "description": "The user defined display name of model. Ex. baseline-classification-model",
          "type": "string"
        },
        "library": {
          "description": "The name of the model library, for example, “transformers”.",
          "type": "string"
        },
        "usageCategory": {
          "description": "The purpose of the model, for example, \"Inteference\" or \"Training\".",
          "type": "string"
        },
        "domain": {
          "description": "The domain of the model, for example, “image-classification”.",
          "type": "string"
        },
        "name": {
          "description": "The name of the AI model, for example, \"gemini:1.0.0\".",
          "type": "string"
        },
        "deploymentPlatform": {
          "enumDescriptions": [
            "Unspecified deployment platform.",
            "Vertex AI.",
            "Google Kubernetes Engine.",
            "Google Compute Engine.",
            "Fine tuned model."
          ],
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "description": "The platform on which the model is deployed.",
          "type": "string"
        },
        "location": {
          "description": "The region in which the model is used, for example, “us-central1”.",
          "type": "string"
        }
      },
      "description": "Contains information about the AI model associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "description": "Kubernetes-related attributes.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Kubernetes",
      "properties": {
        "nodes": {
          "description": "Provides Kubernetes [node](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture#nodes) information.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "nodePools": {
          "description": "GKE [node pools](https://cloud.google.com/kubernetes-engine/docs/concepts/node-pools) associated with the finding. This field contains node pool information for each node, when it is available.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          }
        },
        "pods": {
          "description": "Kubernetes [Pods](https://cloud.google.com/kubernetes-engine/docs/concepts/pod) associated with the finding. This field contains Pod records for each container that is owned by a Pod.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          }
        },
        "bindings": {
          "description": "Provides Kubernetes role binding information for findings that involve [RoleBindings or ClusterRoleBindings](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          }
        },
        "accessReviews": {
          "description": "Provides information on any Kubernetes access reviews (privilege checks) relevant to the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          }
        },
        "objects": {
          "description": "Kubernetes objects related to the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          }
        },
        "roles": {
          "description": "Provides Kubernetes role information for findings that involve [Roles or ClusterRoles](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "id": "GoogleCloudSecuritycenterV2Binding",
      "properties": {
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role",
          "description": "The Role or ClusterRole referenced by the binding."
        },
        "subjects": {
          "description": "Represents one or more subjects that are bound to the role. Not always available for PATCH requests.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          }
        },
        "name": {
          "description": "Name for the binding.",
          "type": "string"
        },
        "ns": {
          "description": "Namespace for the binding.",
          "type": "string"
        }
      },
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding.",
      "type": "object"
    },
    "AdaptiveProtection": {
      "description": "Information about [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/cloud-armor-overview#google-cloud-armor-adaptive-protection).",
      "type": "object",
      "id": "AdaptiveProtection",
      "properties": {
        "confidence": {
          "description": "A score of 0 means that there is low confidence that the detected event is an actual attack. A score of 1 means that there is high confidence that the detected event is an attack. See the [Adaptive Protection documentation](https://cloud.google.com/armor/docs/adaptive-protection-overview#configure-alert-tuning) for further explanation.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication",
      "properties": {
        "name": {
          "description": "The resource name of an Application. Format: `projects/{host-project-id}/locations/{location}/applications/{application-id}`",
          "type": "string"
        },
        "attributes": {
          "description": "Consumer provided attributes for the application",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      },
      "description": "The AppHub application associated with the resource, if any.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin",
      "properties": {
        "name": {
          "description": "The security bulletin name.",
          "type": "string"
        }
      },
      "description": "The security bulletin of the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "description": "Context of a security context.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "properties": {
        "type": {
          "description": "Context type.",
          "type": "string"
        },
        "values": {
          "description": "Context values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "description": "Represents discovered, customer managed workload that is not registered with the respective GCP service.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "properties": {
        "detectedRelevantHardware": {
          "description": "A boolean flag set to true if associated hardware strongly predicts the workload type.",
          "type": "boolean"
        },
        "detectedRelevantKeywords": {
          "description": "A boolean flag set to true if associated keywords strongly predict the workload type.",
          "type": "boolean"
        },
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type",
            "A workload of type MCP Server",
            "A workload of type AI Inference",
            "A workload of type LLM Agent"
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ],
          "description": "The type of workload.",
          "type": "string"
        },
        "confidence": {
          "enumDescriptions": [
            "Unspecified confidence level.",
            "High confidence in detection of a workload."
          ],
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "description": "The confidence in detection of this workload.",
          "type": "string"
        },
        "detectedRelevantPackages": {
          "description": "A boolean flag set to true if installed packages strongly predict the workload type.",
          "type": "boolean"
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "properties": {
        "highSensitivityMapping": {
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "description": "Resource value mapping for high-sensitivity Sensitive Data Protection findings",
          "type": "string"
        },
        "mediumSensitivityMapping": {
          "description": "Resource value mapping for medium-sensitivity Sensitive Data Protection findings",
          "type": "string",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      },
      "description": "Resource value mapping for Sensitive Data Protection findings If any of these mappings have a resource value that is not unspecified, the resource_value field will be ignored when reading this configuration.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}",
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes",
          "description": "Consumer provided attributes for the AppHub application."
        }
      },
      "description": "Represents an ADC application associated with the finding.",
      "type": "object"
    },
    "GroupFindingsRequest": {
      "description": "Request message for grouping by findings.",
      "type": "object",
      "id": "GroupFindingsRequest",
      "properties": {
        "groupBy": {
          "description": "Required. Expression that defines what assets fields to use for grouping (including `state`). The string value should follow SQL syntax: comma separated list of fields. For example: \"parent,resource_name\". The following fields are supported: * resource_name * category * state * parent",
          "type": "string"
        },
        "readTime": {
          "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
          "type": "string",
          "format": "google-datetime"
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "type": "integer",
          "format": "int32"
        },
        "filter": {
          "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `source_properties.size = 100` is a valid filter string.",
          "type": "string"
        },
        "pageToken": {
          "description": "The value returned by the last `GroupFindingsResponse`; indicates that this is a continuation of a prior `GroupFindings` call, and that the system should return the next page of data.",
          "type": "string"
        }
      }
    },
    "Database": {
      "id": "Database",
      "properties": {
        "userName": {
          "description": "The username used to connect to the database. The username might not be an IAM principal and does not have a set format.",
          "type": "string"
        },
        "name": {
          "description": "Some database resources may not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. Cloud SQL databases). In these cases only the display name will be provided. The [full resource name](https://google.aip.dev/122#full-resource-names) of the database that the user connected to, if it is supported by Cloud Asset Inventory.",
          "type": "string"
        },
        "grantees": {
          "description": "The target usernames, roles, or groups of an SQL privilege grant, which is not an IAM policy change.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The human-readable name of the database that the user connected to.",
          "type": "string"
        },
        "query": {
          "description": "The SQL statement that is associated with the database access.",
          "type": "string"
        },
        "version": {
          "description": "The version of the database, for example, POSTGRES_14. See [the complete list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).",
          "type": "string"
        }
      },
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of Cloud SQL instances or Cloud Spanner instances), or the database instance itself. Some database resources might not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types, such as Cloud SQL databases, are not yet supported by Cloud Asset Inventory. In these cases only the display name is provided.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp this resource value configuration was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Timestamp this resource value configuration was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "scope": {
          "description": "Project or folder to scope this configuration to. For example, \"project/456\" would apply this configuration only to resources in \"project/456\" scope will be checked with `AND` of other resources.",
          "type": "string"
        },
        "resourceType": {
          "description": "Apply resource_value only to resources that match resource_type. resource_type will be checked with `AND` of other resources. For example, \"storage.googleapis.com/Bucket\" with resource_value \"HIGH\" will apply \"HIGH\" value only to \"storage.googleapis.com/Bucket\" resources.",
          "type": "string"
        },
        "name": {
          "description": "Name for the resource value configuration",
          "type": "string"
        },
        "description": {
          "description": "Description of the resource value configuration.",
          "type": "string"
        },
        "sensitiveDataProtectionMapping": {
          "description": "A mapping of the sensitivity on Sensitive Data Protection finding to resource values. This mapping can only be used in combination with a resource_type that is related to BigQuery, e.g. \"bigquery.googleapis.com/Dataset\".",
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "resourceValue": {
          "description": "Required. Resource value level this expression represents",
          "type": "string",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "tagValues": {
          "description": "Required. Tag values combined with `AND` to check against. For Google Cloud resources, they are tag value IDs in the form of \"tagValues/123\". Example: `[ \"tagValues/123\", \"tagValues/456\", \"tagValues/789\" ]` https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceLabelsSelector": {
          "description": "List of resource labels to search for, evaluated with `AND`. For example, `\"resource_labels_selector\": {\"key\": \"value\", \"env\": \"prod\"}` will match resources with labels \"key\": \"value\" `AND` \"env\": \"prod\" https://cloud.google.com/resource-manager/docs/creating-managing-labels",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cloudProvider": {
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "description": "Cloud provider this configuration applies to",
          "type": "string"
        }
      },
      "description": "A resource value configuration (RVC) is a mapping configuration of user's resources to resource values. Used in Attack path simulations.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2File": {
      "id": "GoogleCloudSecuritycenterV2File",
      "properties": {
        "hashedSize": {
          "description": "The length in bytes of the file prefix that was hashed. If hashed_size == size, any hashes reported represent the entire file.",
          "type": "string",
          "format": "int64"
        },
        "fileLoadState": {
          "enumDescriptions": [
            "The file state is unspecified.",
            "The file is being used by an active process at the time of scanning.",
            "The file is not being used by any active process at the time of scanning."
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ],
          "description": "The load state of the file.",
          "type": "string"
        },
        "size": {
          "description": "Size of the file in bytes.",
          "type": "string",
          "format": "int64"
        },
        "diskPath": {
          "description": "Path of the file in terms of underlying disk/partition identifiers.",
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "sha256": {
          "description": "SHA256 hash of the first hashed_size bytes of the file encoded as a hex string. If hashed_size == size, sha256 represents the SHA256 hash of the entire file.",
          "type": "string"
        },
        "path": {
          "description": "Absolute path of the file as a JSON encoded string.",
          "type": "string"
        },
        "partiallyHashed": {
          "description": "True when the hash covers only a prefix of the file.",
          "type": "boolean"
        },
        "contents": {
          "description": "Prefix of the file contents as a JSON-encoded string.",
          "type": "string"
        },
        "operations": {
          "description": "Operation(s) performed on a file.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        }
      },
      "description": "File information about the related binary/library used by an executable, or the script used by a script interpreter",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "id": "GoogleCloudSecuritycenterV2OrgPolicy",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the org policy. Example: \"organizations/{organization_id}/policies/{constraint_name}\"",
          "type": "string"
        }
      },
      "description": "Contains information about the org policies associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "description": "Environment Type.",
          "type": "string"
        }
      },
      "description": "Environment of the Application, Service, or Workload",
      "type": "object"
    },
    "SecurityMarks": {
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "type": "object",
      "id": "SecurityMarks",
      "properties": {
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "properties": {
        "cloudProvider": {
          "description": "The cloud provider of the custom module.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services.",
            "Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "description": "Output only. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\"",
          "type": "string",
          "readOnly": true
        },
        "customConfig": {
          "description": "Output only. The user-specified configuration for the module.",
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "enablementState": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given level.",
            "The module is disabled at the given level."
          ],
          "description": "Output only. The effective state of enablement for the module at the given level of the hierarchy.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name for the custom module. The name must be between 1 and 128 characters, start with a lowercase letter, and contain alphanumeric characters or underscores only.",
          "type": "string"
        }
      },
      "description": "An EffectiveSecurityHealthAnalyticsCustomModule is the representation of a Security Health Analytics custom module at a specified level of the resource hierarchy: organization, folder, or project. If a custom module is inherited from a parent organization or folder, the value of the `enablementState` property in EffectiveSecurityHealthAnalyticsCustomModule is set to the value that is effective in the parent, instead of `INHERITED`. For example, if the module is enabled in a parent organization or folder, the effective enablement_state for the module in all child folders or projects is also `enabled`. EffectiveSecurityHealthAnalyticsCustomModule is read-only.",
      "type": "object"
    },
    "GroupAssetsRequest": {
      "description": "Request message for grouping by assets.",
      "type": "object",
      "id": "GroupAssetsRequest",
      "properties": {
        "filter": {
          "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `resource_properties.size = 100` is a valid filter string.",
          "type": "string"
        },
        "pageToken": {
          "description": "The value returned by the last `GroupAssetsResponse`; indicates that this is a continuation of a prior `GroupAssets` call, and that the system should return the next page of data.",
          "type": "string"
        },
        "groupBy": {
          "description": "Required. Expression that defines what assets fields to use for grouping. The string value should follow SQL syntax: comma separated list of fields. For example: \"security_center_properties.resource_project,security_center_properties.project\". The following fields are supported when compare_duration is not set: * security_center_properties.resource_project * security_center_properties.resource_type * security_center_properties.resource_parent The following fields are supported when compare_duration is set: * security_center_properties.resource_type",
          "type": "string"
        },
        "readTime": {
          "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
          "type": "string",
          "format": "google-datetime"
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "type": "integer",
          "format": "int32"
        },
        "compareDuration": {
          "description": "When compare_duration is set, the Asset's \"state\" property is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present before compare_duration, but present at reference_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at reference_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and reference_time. This field is ignored if `state` is not a field in `group_by`.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "AdcApplication": {
      "description": "Represents an ADC application associated with the finding.",
      "type": "object",
      "id": "AdcApplication",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}",
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
          "description": "Consumer provided attributes for the AppHub application."
        }
      }
    },
    "ResourcePath": {
      "description": "Represents the path of resources leading up to the resource this finding is about.",
      "type": "object",
      "id": "ResourcePath",
      "properties": {
        "nodes": {
          "description": "The list of nodes that make the up resource path, ordered from lowest level to highest level.",
          "type": "array",
          "items": {
            "$ref": "ResourcePathNode"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "description": "Security context associated with an issue.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext",
      "properties": {
        "context": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
          "description": "The context of the security context."
        },
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
          "description": "The aggregated count of the security context."
        }
      }
    },
    "BackupDisasterRecovery": {
      "id": "BackupDisasterRecovery",
      "properties": {
        "backupType": {
          "description": "The backup type of the Backup and DR image. For example, `Snapshot`, `Remote Snapshot`, `OnVault`.",
          "type": "string"
        },
        "policies": {
          "description": "The names of Backup and DR policies that are associated with a template and that define when to run a backup, how frequently to run a backup, and how long to retain the backup image. For example, `onvaults`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupCreateTime": {
          "description": "The timestamp at which the Backup and DR backup was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "host": {
          "description": "The name of a Backup and DR host, which is managed by the backup and recovery appliance and known to the management console. The host can be of type Generic (for example, Compute Engine, SQL Server, Oracle DB, SMB file system, etc.), vCenter, or an ESX server. See the [Backup and DR documentation on hosts](https://cloud.google.com/backup-disaster-recovery/docs/configuration/manage-hosts-and-their-applications) for more information. For example, `centos7-01`.",
          "type": "string"
        },
        "storagePool": {
          "description": "The name of the Backup and DR storage pool that the backup and recovery appliance is storing data in. The storage pool could be of type Cloud, Primary, Snapshot, or OnVault. See the [Backup and DR documentation on storage pools](https://cloud.google.com/backup-disaster-recovery/docs/concepts/storage-pools). For example, `DiskPoolOne`.",
          "type": "string"
        },
        "policyOptions": {
          "description": "The names of Backup and DR advanced policy options of a policy applying to an application. See the [Backup and DR documentation on policy options](https://cloud.google.com/backup-disaster-recovery/docs/create-plan/policy-settings). For example, `skipofflineappsincongrp, nounmap`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "profile": {
          "description": "The name of the Backup and DR resource profile that specifies the storage media for backups of application and VM data. See the [Backup and DR documentation on profiles](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#profile). For example, `GCP`.",
          "type": "string"
        },
        "backupTemplate": {
          "description": "The name of a Backup and DR template which comprises one or more backup policies. See the [Backup and DR documentation](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#temp) for more information. For example, `snap-ov`.",
          "type": "string"
        },
        "applications": {
          "description": "The names of Backup and DR applications. An application is a VM, database, or file system on a managed host monitored by a backup and recovery appliance. For example, `centos7-01-vol00`, `centos7-01-vol01`, `centos7-01-vol02`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appliance": {
          "description": "The name of the Backup and DR appliance that captures, moves, and manages the lifecycle of backup data. For example, `backup-server-57137`.",
          "type": "string"
        }
      },
      "description": "Information related to Google Cloud Backup and DR Service findings.",
      "type": "object"
    },
    "SecurityPosture": {
      "description": "Represents a posture that is deployed on Google Cloud by the Security Command Center Posture Management service. A posture contains one or more policy sets. A policy set is a group of policies that enforce a set of security rules on Google Cloud.",
      "type": "object",
      "id": "SecurityPosture",
      "properties": {
        "postureDeployment": {
          "description": "The name of the posture deployment, for example, `organizations/{org_id}/posturedeployments/{posture_deployment_id}`.",
          "type": "string"
        },
        "policy": {
          "description": "The ID of the updated policy, for example, `compute-policy-1`.",
          "type": "string"
        },
        "policyDriftDetails": {
          "description": "The details about a change in an updated policy that violates the deployed posture.",
          "type": "array",
          "items": {
            "$ref": "PolicyDriftDetails"
          }
        },
        "policySet": {
          "description": "The name of the updated policyset, for example, `cis-policyset`.",
          "type": "string"
        },
        "postureDeploymentResource": {
          "description": "The project, folder, or organization on which the posture is deployed, for example, `projects/{project_number}`.",
          "type": "string"
        },
        "name": {
          "description": "Name of the posture, for example, `CIS-Posture`.",
          "type": "string"
        },
        "revisionId": {
          "description": "The version of the posture, for example, `c7cfa2a8`.",
          "type": "string"
        },
        "changedPolicy": {
          "description": "The name of the updated policy, for example, `projects/{project_id}/policies/{constraint_name}`.",
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "id": "GoogleCloudSecuritycenterV2Cve",
      "properties": {
        "impact": {
          "description": "The potential impact of the vulnerability if it was to be exploited.",
          "type": "string",
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation would have little to no security impact.",
            "Exploitation would enable attackers to perform activities, or could allow attackers to have a direct impact, but would require additional steps.",
            "Exploitation would enable attackers to have a notable direct impact without needing to overcome any major mitigating factors.",
            "Exploitation would fundamentally undermine the security of affected systems, enable actors to perform significant attacks with minimal effort, with little to no mitigating factors to overcome."
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "references": {
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        },
        "exploitReleaseDate": {
          "description": "Date the first publicly available exploit or PoC was released.",
          "type": "string",
          "format": "google-datetime"
        },
        "exploitationActivity": {
          "description": "The exploitation activity of the vulnerability in the wild.",
          "type": "string",
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation has been reported or confirmed to widely occur.",
            "Limited reported or confirmed exploitation activities.",
            "Exploit is publicly available.",
            "No known exploitation activity, but has a high potential for exploitation.",
            "No known exploitation activity."
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ]
        },
        "upstreamFixAvailable": {
          "description": "Whether upstream fix is available for the CVE.",
          "type": "boolean"
        },
        "zeroDay": {
          "description": "Whether or not the vulnerability was zero day when the finding was published.",
          "type": "boolean"
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3",
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document"
        },
        "observedInTheWild": {
          "description": "Whether or not the vulnerability has been observed in the wild.",
          "type": "boolean"
        },
        "id": {
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527",
          "type": "string"
        },
        "firstExploitationDate": {
          "description": "Date of the earliest known exploitation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "CVE stands for Common Vulnerabilities and Exposures. Information from the [CVE record](https://www.cve.org/ResourcesSupport/Glossary) that describes this vulnerability.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "id": "GoogleCloudSecuritycenterV2IssueMute",
      "properties": {
        "muteState": {
          "description": "Output only. The mute state of the issue.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified mute state.",
            "Not muted.",
            "Muted."
          ],
          "type": "string",
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ]
        },
        "muteInitiator": {
          "description": "The email address of the user who last changed the mute state of the issue.",
          "type": "string"
        },
        "muteUpdateTime": {
          "description": "The time the issue was muted.",
          "type": "string",
          "format": "google-datetime"
        },
        "muteReason": {
          "description": "The user-provided reason for muting the issue.",
          "type": "string"
        }
      },
      "description": "The mute information of the issue.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "properties": {
        "backupType": {
          "description": "The backup type of the Backup and DR image. For example, `Snapshot`, `Remote Snapshot`, `OnVault`.",
          "type": "string"
        },
        "policies": {
          "description": "The names of Backup and DR policies that are associated with a template and that define when to run a backup, how frequently to run a backup, and how long to retain the backup image. For example, `onvaults`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupCreateTime": {
          "description": "The timestamp at which the Backup and DR backup was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "host": {
          "description": "The name of a Backup and DR host, which is managed by the backup and recovery appliance and known to the management console. The host can be of type Generic (for example, Compute Engine, SQL Server, Oracle DB, SMB file system, etc.), vCenter, or an ESX server. See the [Backup and DR documentation on hosts](https://cloud.google.com/backup-disaster-recovery/docs/configuration/manage-hosts-and-their-applications) for more information. For example, `centos7-01`.",
          "type": "string"
        },
        "storagePool": {
          "description": "The name of the Backup and DR storage pool that the backup and recovery appliance is storing data in. The storage pool could be of type Cloud, Primary, Snapshot, or OnVault. See the [Backup and DR documentation on storage pools](https://cloud.google.com/backup-disaster-recovery/docs/concepts/storage-pools). For example, `DiskPoolOne`.",
          "type": "string"
        },
        "policyOptions": {
          "description": "The names of Backup and DR advanced policy options of a policy applying to an application. See the [Backup and DR documentation on policy options](https://cloud.google.com/backup-disaster-recovery/docs/create-plan/policy-settings). For example, `skipofflineappsincongrp, nounmap`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "profile": {
          "description": "The name of the Backup and DR resource profile that specifies the storage media for backups of application and VM data. See the [Backup and DR documentation on profiles](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#profile). For example, `GCP`.",
          "type": "string"
        },
        "backupTemplate": {
          "description": "The name of a Backup and DR template which comprises one or more backup policies. See the [Backup and DR documentation](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#temp) for more information. For example, `snap-ov`.",
          "type": "string"
        },
        "applications": {
          "description": "The names of Backup and DR applications. An application is a VM, database, or file system on a managed host monitored by a backup and recovery appliance. For example, `centos7-01-vol00`, `centos7-01-vol01`, `centos7-01-vol02`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appliance": {
          "description": "The name of the Backup and DR appliance that captures, moves, and manages the lifecycle of backup data. For example, `backup-server-57137`.",
          "type": "string"
        }
      },
      "description": "Information related to Google Cloud Backup and DR Service findings.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2GroupMembership",
      "properties": {
        "groupType": {
          "description": "Type of group.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Group represents a toxic combination.",
            "Group represents a chokepoint."
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "description": "ID of the group.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "description": "Represents an instance of a Security Health Analytics custom module, including its full module name, display name, enablement state, and last updated time. You can create a custom module at the organization, folder, or project level. Custom modules that you create at the organization or folder level are inherited by the child folders and projects.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule",
      "properties": {
        "lastEditor": {
          "readOnly": true,
          "description": "Output only. The editor that last updated the custom module.",
          "type": "string"
        },
        "cloudProvider": {
          "description": "The cloud provider of the custom module.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services (AWS).",
            "Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "description": "Immutable. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/customModules/{customModule}\" The id {customModule} is server-generated and is not user settable. It will be a numeric id containing 1-20 digits.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the custom module was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "customConfig": {
          "description": "The user specified custom configuration for the module.",
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "enablementState": {
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given CRM resource.",
            "The module is disabled at the given CRM resource.",
            "State is inherited from an ancestor module. The module will either be effectively ENABLED or DISABLED based on its closest non-inherited ancestor module in the CRM hierarchy."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "description": "The enablement state of the custom module.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the Security Health Analytics custom module. This display name becomes the finding category for all findings that are returned by this custom module. The display name must be between 1 and 128 characters, start with a lowercase letter, and contain alphanumeric characters or underscores only.",
          "type": "string"
        },
        "ancestorModule": {
          "description": "Output only. If empty, indicates that the custom module was created in the organization, folder, or project in which you are viewing the custom module. Otherwise, `ancestor_module` specifies the organization or folder from which the custom module is inherited.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudSecuritycenterV2DynamicMuteRecord": {
      "id": "GoogleCloudSecuritycenterV2DynamicMuteRecord",
      "properties": {
        "muteConfig": {
          "description": "The relative resource name of the mute rule, represented by a mute config, that created this record, for example `organizations/123/muteConfigs/mymuteconfig` or `organizations/123/locations/global/muteConfigs/mymuteconfig`.",
          "type": "string"
        },
        "matchTime": {
          "description": "When the dynamic mute rule first matched the finding.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The record of a dynamic mute rule that matches the finding.",
      "type": "object"
    },
    "Reference": {
      "description": "Additional Links",
      "type": "object",
      "id": "Reference",
      "properties": {
        "uri": {
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527.",
          "type": "string"
        },
        "source": {
          "description": "Source of the reference e.g. NVD",
          "type": "string"
        }
      }
    },
    "Requests": {
      "description": "Information about the requests relevant to the finding.",
      "type": "object",
      "id": "Requests",
      "properties": {
        "shortTermAllowed": {
          "description": "Allowed RPS (requests per second) in the short term.",
          "type": "integer",
          "format": "int32"
        },
        "longTermAllowed": {
          "description": "Allowed RPS (requests per second) over the long term.",
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "description": "For 'Increasing deny ratio', the ratio is the denied traffic divided by the allowed traffic. For 'Allowed traffic spike', the ratio is the allowed traffic in the short term divided by allowed traffic in the long term.",
          "type": "number",
          "format": "double"
        },
        "longTermDenied": {
          "description": "Denied RPS (requests per second) over the long term.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Property": {
      "id": "GoogleCloudSecuritycenterV1Property",
      "properties": {
        "name": {
          "description": "Name of the property for the custom output.",
          "type": "string"
        },
        "valueExpression": {
          "description": "The CEL expression for the custom output. A resource property can be specified to return the value of the property or a text string enclosed in quotation marks.",
          "$ref": "Expr"
        }
      },
      "description": "An individual name-value pair that defines a custom source property.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "description": "Identity delegation history of an authenticated service account.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "properties": {
        "principalSubject": {
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`",
          "type": "string"
        },
        "principalEmail": {
          "description": "The email address of a Google account.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Allowed": {
      "id": "GoogleCloudSecuritycenterV2Allowed",
      "properties": {
        "ipRules": {
          "description": "Optional. Optional list of allowed IP rules.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      },
      "description": "Allowed IP rule.",
      "type": "object"
    },
    "ExternalExposure": {
      "description": "Details about the externally exposed resource associated with the finding.",
      "type": "object",
      "id": "ExternalExposure",
      "properties": {
        "serviceFirewallPolicy": {
          "description": "The full resource name of the firewall policy of the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "instanceGroup": {
          "description": "The full resource name of the instance group, for example, \"//compute.googleapis.com/projects/{project-id}/global/instanceGroups/{name}\".",
          "type": "string"
        },
        "exposedApplication": {
          "description": "The name and version of the exposed web application, for example, \"Jenkins 2.184\".",
          "type": "string"
        },
        "exposedService": {
          "description": "The name and version of the service, for example, \"Jupyter Notebook 6.14.0\".",
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "description": "The full resource name of the network ingress firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{name}\".",
          "type": "string"
        },
        "networkEndpointGroup": {
          "description": "The full resource name of the network endpoint group, for example, \"//compute.googleapis.com/projects/{project-id}/global/networkEndpointGroups/{name}\".",
          "type": "string"
        },
        "forwardingRule": {
          "description": "The full resource name of the forwarding rule, for example, \"//compute.googleapis.com/projects/{project-id}/global/forwardingRules/{forwarding-rule-name}\".",
          "type": "string"
        },
        "pscServiceAttachment": {
          "description": "The full resource name of the PSC (Private Service Connect) service attachment that the load balancer network endpoint group targets, for example, \"//compute.googleapis.com/projects/{project-id}/regions/{region}/serviceAttachments/{name}\"",
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "description": "The full resource name of the load balancer firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "pscNetworkAttachment": {
          "description": "The full resource name of the PSC (Private Service Connect) network attachment that network interface controller is attached to, for example, \"//compute.googleapis.com/projects/{project-id}/regions/{region}/networkAttachments/{name}\"",
          "type": "string"
        },
        "publicIpAddress": {
          "description": "Public IP address of the exposed endpoint.",
          "type": "string"
        },
        "internalBackendService": {
          "description": "The full resource name of load balancer backend service in the internal project having resource exposed via PSC, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\".",
          "type": "string"
        },
        "hostnameUri": {
          "description": "Hostname of the exposed application, for example, \"https://test-app.a.run.app/\"",
          "type": "string"
        },
        "backendBucket": {
          "description": "The full resource name of the load balancer backend bucket, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendBuckets/{name}\"",
          "type": "string"
        },
        "publicPort": {
          "description": "Public port number of the exposed endpoint.",
          "type": "string"
        },
        "httpResponse": {
          "description": "The http response returned by the web application.",
          "type": "array",
          "items": {
            "$ref": "HttpResponse"
          }
        },
        "exposedEndpoint": {
          "description": "The resource which is running the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/zones/{zone}/instances/{instance}.”",
          "type": "string"
        },
        "privatePort": {
          "description": "Port number associated with private IP address.",
          "type": "string"
        },
        "privateIpAddress": {
          "description": "Private IP address of the exposed endpoint.",
          "type": "string"
        },
        "backendService": {
          "description": "The full resource name of load balancer backend service, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourcePath": {
      "id": "GoogleCloudSecuritycenterV2ResourcePath",
      "properties": {
        "nodes": {
          "description": "The list of nodes that make the up resource path, ordered from lowest level to highest level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourcePathNode"
          }
        }
      },
      "description": "Represents the path of resources leading up to the resource this finding is about.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse",
      "properties": {},
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "description": "Represents a geographical location for a given access.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "properties": {
        "regionCode": {
          "description": "A CLDR.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "properties": {
        "key": {
          "description": "Environment variable name as a JSON encoded string. Note that value is not included since the value contains the secret data, which is sensitive core content.",
          "type": "string"
        }
      },
      "description": "Environment variable containing the secret.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "properties": {
        "displayName": {
          "description": "The human readable name to be displayed for the mute config.",
          "type": "string",
          "deprecated": true
        },
        "type": {
          "enumDescriptions": [
            "Unused.",
            "A static mute config, which sets the static mute state of future matching findings to muted. Once the static mute state has been set, finding or config modifications will not affect the state.",
            "A dynamic mute config, which is applied to existing and future matching findings, setting their dynamic mute state to \"muted\". If the config is updated or deleted, or a matching finding is updated, such that the finding doesn't match the config, the config will be removed from the finding, and the finding's dynamic mute state may become \"unmuted\" (unless other configs still match)."
          ],
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "description": "Optional. The type of the mute config, which determines what type of mute state the config affects. The static mute state takes precedence over the dynamic mute state. Immutable after creation. STATIC by default if not set during creation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "expiryTime": {
          "description": "Optional. The expiry of the mute config. Only applicable for dynamic configs. If the expiry is set, when the config expires, it is removed from all findings.",
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "This field will be ignored if provided on config creation. Format `organizations/{organization}/muteConfigs/{mute_config}` `folders/{folder}/muteConfigs/{mute_config}` `projects/{project}/muteConfigs/{mute_config}` `organizations/{organization}/locations/global/muteConfigs/{mute_config}` `folders/{folder}/locations/global/muteConfigs/{mute_config}` `projects/{project}/locations/global/muteConfigs/{mute_config}`",
          "type": "string"
        },
        "description": {
          "description": "A description of the mute config.",
          "type": "string"
        },
        "mostRecentEditor": {
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "properties": {
        "unexpectedCodeModification": {
          "description": "True if unexpected modifications of kernel code memory are present.",
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "description": "True if unexpected modifications of kernel read-only data memory are present.",
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "description": "True if `kprobe` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "description": "True if kernel code pages that are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "description": "True if interrupt handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "description": "True if system call handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "description": "True if unexpected processes in the scheduler run queue are present. Such processes are in the run queue, but not in the process task list.",
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "description": "True if `ftrace` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "name": {
          "description": "Rootkit name, when available.",
          "type": "string"
        }
      },
      "description": "Kernel mode rootkit signatures.",
      "type": "object"
    },
    "AgentDataAccessEvent": {
      "description": "Details about a data access attempt made by an agent principal not authorized under applicable data security policy.",
      "type": "object",
      "id": "AgentDataAccessEvent",
      "properties": {
        "eventId": {
          "description": "Unique identifier for data access event.",
          "type": "string"
        },
        "principalSubject": {
          "description": "The agent principal that accessed the data.",
          "type": "string"
        },
        "eventTime": {
          "description": "Timestamp of data access event.",
          "type": "string",
          "format": "google-datetime"
        },
        "operation": {
          "description": "The operation performed by the principal to access the data.",
          "type": "string",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        }
      }
    },
    "VulnerabilitySnapshot": {
      "id": "VulnerabilitySnapshot",
      "properties": {
        "cloudProvider": {
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "description": "The cloud provider for the vulnerability snapshot.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The vulnerability snapshot name. Format: //locations//vulnerabilitySnapshots/",
          "type": "string"
        },
        "snapshotTime": {
          "description": "The time that the snapshot was taken.",
          "type": "string",
          "format": "google-datetime"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity",
          "description": "The vulnerability count by severity."
        }
      },
      "description": "Result containing the properties and count of a VulnerabilitySnapshot request.",
      "type": "object"
    },
    "AccessReview": {
      "id": "AccessReview",
      "properties": {
        "name": {
          "description": "The name of the resource being requested. Empty means all.",
          "type": "string"
        },
        "subresource": {
          "description": "The optional subresource type.",
          "type": "string"
        },
        "group": {
          "description": "The API group of the resource. \"*\" means all.",
          "type": "string"
        },
        "resource": {
          "description": "The optional resource type requested. \"*\" means all.",
          "type": "string"
        },
        "ns": {
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty).",
          "type": "string"
        },
        "verb": {
          "description": "A Kubernetes resource API verb, like get, list, watch, create, update, delete, proxy. \"*\" means all.",
          "type": "string"
        },
        "version": {
          "description": "The API version of the resource. \"*\" means all.",
          "type": "string"
        }
      },
      "description": "Conveys information about a Kubernetes access review (such as one returned by a [`kubectl auth can-i`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access) command) that was involved in a finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "description": "Information related to the Google Cloud resource.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Resource",
      "properties": {
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata",
          "description": "The Azure metadata associated with the finding."
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication",
          "description": "The App Hub application this resource belongs to."
        },
        "resourcePathString": {
          "description": "A string representation of the resource path. For Google Cloud, it has the format of `organizations/{organization_id}/folders/{folder_id}/folders/{folder_id}/projects/{project_id}` where there can be any number of folders. For AWS, it has the format of `org/{organization_id}/ou/{organizational_unit_id}/ou/{organizational_unit_id}/account/{account_id}` where there can be any number of organizational units. For Azure, it has the format of `mg/{management_group_id}/mg/{management_group_id}/subscription/{subscription_id}/rg/{resource_group_name}` where there can be any number of management groups.",
          "type": "string"
        },
        "adcApplicationTemplate": {
          "description": "The ADC template associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "adcApplication": {
          "description": "The ADC application associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "adcSharedTemplate": {
          "description": "The ADC shared template associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        },
        "displayName": {
          "description": "The human readable name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "The full resource type of the resource.",
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "description": "Indicates which cloud provider the finding is from.",
          "type": "string"
        },
        "service": {
          "description": "The service or resource provider associated with the resource.",
          "type": "string"
        },
        "awsMetadata": {
          "description": "The AWS metadata associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath",
          "description": "Provides the path to the resource within the resource hierarchy."
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata",
          "description": "The Google Cloud metadata associated with the finding."
        },
        "location": {
          "description": "The region or location of the service (if applicable).",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "properties": {
        "name": {
          "description": "The name of the finding.",
          "type": "string"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin",
          "description": "The security bulletin of the finding."
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve",
          "description": "The CVE of the finding."
        }
      },
[...]
