{
  "fullyEncodeReservedExpansion": true,
  "revision": "20260403",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "version": "v1beta1",
  "discoveryVersion": "v1",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "schemas": {
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "description": "Vertex AI dataset associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the dataset, e.g. projects/{project}/locations/{location}/datasets/2094040236064505856"
        },
        "source": {
          "description": "Data source, such as BigQuery source URI, e.g. bq://scc-nexus-test.AIPPtest.gsod",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The user defined display name of dataset, e.g. plants-dataset"
        }
      }
    },
    "Role": {
      "id": "Role",
      "description": "Kubernetes Role or ClusterRole.",
      "properties": {
        "ns": {
          "description": "Role namespace.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Role type.",
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        },
        "name": {
          "description": "Role name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "type": "object",
      "description": "Represents an instance of a Security Health Analytics custom module, including its full module name, display name, enablement state, and last updated time. You can create a custom module at the organization, folder, or project level. Custom modules that you create at the organization or folder level are inherited by the child folders and projects.",
      "properties": {
        "cloudProvider": {
          "type": "string",
          "description": "The cloud provider of the custom module.",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services (AWS).",
            "Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "enablementState": {
          "type": "string",
          "description": "The enablement state of the custom module.",
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given CRM resource.",
            "The module is disabled at the given CRM resource.",
            "State is inherited from an ancestor module. The module will either be effectively ENABLED or DISABLED based on its closest non-inherited ancestor module in the CRM hierarchy."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/customModules/{customModule}\" The id {customModule} is server-generated and is not user settable. It will be a numeric id containing 1-20 digits."
        },
        "displayName": {
          "description": "The display name of the Security Health Analytics custom module. This display name becomes the finding category for all findings that are returned by this custom module. The display name must be between 1 and 128 characters, start with a lowercase letter, and contain alphanumeric characters or underscores only.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the custom module was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "lastEditor": {
          "description": "Output only. The editor that last updated the custom module.",
          "type": "string",
          "readOnly": true
        },
        "ancestorModule": {
          "description": "Output only. If empty, indicates that the custom module was created in the organization, folder, or project in which you are viewing the custom module. Otherwise, `ancestor_module` specifies the organization or folder from which the custom module is inherited.",
          "type": "string",
          "readOnly": true
        },
        "customConfig": {
          "description": "The user specified custom configuration for the module.",
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        }
      },
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "type": "object",
      "description": "Consumer provided attributes for the application",
      "properties": {
        "environment": {
          "description": "User-defined environment information.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "description": "Developer team that owns development and coding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "criticality": {
          "description": "User-defined criticality information.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "operatorOwners": {
          "type": "array",
          "description": "Operator team that ensures runtime and operations.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "description": "Business team that ensures user needs are met and value is delivered",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Control": {
      "id": "GoogleCloudSecuritycenterV2Control",
      "type": "object",
      "description": "Compliance control associated with the finding.",
      "properties": {
        "controlName": {
          "type": "string",
          "description": "Name of the Control"
        },
        "displayName": {
          "description": "Display name of the control. For example, AU-02.",
          "type": "string"
        }
      }
    },
    "GroupResult": {
      "type": "object",
      "description": "Result containing the properties and count of a groupBy request.",
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Properties matching the groupBy fields in the request."
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Total count of resources for the given properties."
        }
      },
      "id": "GroupResult"
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2AzureMetadata",
      "description": "Azure metadata associated with the resource, only applicable if the finding's cloud provider is Microsoft Azure.",
      "properties": {
        "managementGroups": {
          "description": "A list of Azure management groups associated with the resource, ordered from lowest level (closest to the subscription) to highest level.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          },
          "type": "array"
        },
        "subscription": {
          "description": "The Azure subscription associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        },
        "resourceGroup": {
          "description": "The Azure resource group associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "tenant": {
          "description": "The Azure Entra tenant associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        }
      },
      "type": "object"
    },
    "LogEntry": {
      "type": "object",
      "description": "An individual entry in a log.",
      "properties": {
        "cloudLoggingEntry": {
          "description": "An individual entry in a log stored in Cloud Logging.",
          "$ref": "CloudLoggingEntry"
        }
      },
      "id": "LogEntry"
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "type": "object",
      "description": "A resource associated with the an issue.",
      "properties": {
        "adcApplication": {
          "description": "The ADC application associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "adcSharedTemplate": {
          "description": "The ADC shared template associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        },
        "application": {
          "description": "The AppHub application associated with the resource, if any. Only populated for the primary resource.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "type": {
          "description": "The type of the resource associated with the issue.",
          "type": "string"
        },
        "cloudProvider": {
          "description": "The cloud provider of the resource associated with the issue.",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services.",
            "Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "azureMetadata": {
          "description": "The Azure metadata of the resource associated with the issue. Only populated for Azure resources.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "displayName": {
          "description": "The resource-type specific display name of the resource associated with the issue.",
          "type": "string"
        },
        "adcApplicationTemplate": {
          "description": "The ADC template associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource associated with the issue."
        },
        "googleCloudMetadata": {
          "description": "The Google Cloud metadata of the resource associated with the issue. Only populated for Google Cloud resources.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "awsMetadata": {
          "description": "The AWS metadata of the resource associated with the issue. Only populated for AWS resources.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResource"
    },
    "ListAssetsResponse": {
      "type": "object",
      "description": "Response message for listing assets.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of assets matching the query."
        },
        "listAssetsResults": {
          "type": "array",
          "description": "Assets matching the list request.",
          "items": {
            "$ref": "ListAssetsResult"
          }
        },
        "readTime": {
          "description": "Time used for executing the list request.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      },
      "id": "ListAssetsResponse"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update."
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Cloud KMS `CryptoKey` used to encrypt this configuration data, if CMEK was enabled during Security Command Center activation."
        },
        "name": {
          "description": "Identifier. This field will be ignored if provided on config creation. The following list shows some examples of the format: + `organizations/{organization}/muteConfigs/{mute_config}` + `organizations/{organization}locations/{location}//muteConfigs/{mute_config}` + `folders/{folder}/muteConfigs/{mute_config}` + `folders/{folder}/locations/{location}/muteConfigs/{mute_config}` + `projects/{project}/muteConfigs/{mute_config}` + `projects/{project}/locations/{location}/muteConfigs/{mute_config}`",
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The expiry of the mute config. Only applicable for dynamic configs. If the expiry is set, when the config expires, it is removed from all findings."
        },
        "description": {
          "type": "string",
          "description": "A description of the mute config."
        },
        "mostRecentEditor": {
          "readOnly": true,
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation."
        },
        "filter": {
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the mute config, which determines what type of mute state the config affects. Immutable after creation.",
          "enumDescriptions": [
            "Unused.",
            "A static mute config, which sets the static mute state of future matching findings to muted. Once the static mute state has been set, finding or config modifications will not affect the state.",
            "A dynamic mute config, which is applied to existing and future matching findings, setting their dynamic mute state to \"muted\". If the config is updated or deleted, or a matching finding is updated, such that the finding doesn't match the config, the config will be removed from the finding, and the finding's dynamic mute state may become \"unmuted\" (unless other configs still match)."
          ],
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretStatus": {
      "id": "GoogleCloudSecuritycenterV2SecretStatus",
      "description": "The status of the secret.",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the secret was found."
        },
        "validity": {
          "description": "The validity of the secret.",
          "enumDescriptions": [
            "Default value; no validation was attempted.",
            "There is no mechanism to validate the secret.",
            "Validation is supported but the validation failed.",
            "The secret is confirmed to be invalid.",
            "The secret is confirmed to be valid."
          ],
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision",
      "type": "object",
      "description": "Represents an ADC shared template associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of an ADC Shared Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "type": "object",
      "description": "Information related to Google Cloud Backup and DR Service findings.",
      "properties": {
        "backupType": {
          "description": "The backup type of the Backup and DR image. For example, `Snapshot`, `Remote Snapshot`, `OnVault`.",
          "type": "string"
        },
        "backupTemplate": {
          "description": "The name of a Backup and DR template which comprises one or more backup policies. See the [Backup and DR documentation](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#temp) for more information. For example, `snap-ov`.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "The name of a Backup and DR host, which is managed by the backup and recovery appliance and known to the management console. The host can be of type Generic (for example, Compute Engine, SQL Server, Oracle DB, SMB file system, etc.), vCenter, or an ESX server. See the [Backup and DR documentation on hosts](https://cloud.google.com/backup-disaster-recovery/docs/configuration/manage-hosts-and-their-applications) for more information. For example, `centos7-01`."
        },
        "applications": {
          "description": "The names of Backup and DR applications. An application is a VM, database, or file system on a managed host monitored by a backup and recovery appliance. For example, `centos7-01-vol00`, `centos7-01-vol01`, `centos7-01-vol02`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "profile": {
          "description": "The name of the Backup and DR resource profile that specifies the storage media for backups of application and VM data. See the [Backup and DR documentation on profiles](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#profile). For example, `GCP`.",
          "type": "string"
        },
        "policies": {
          "type": "array",
          "description": "The names of Backup and DR policies that are associated with a template and that define when to run a backup, how frequently to run a backup, and how long to retain the backup image. For example, `onvaults`.",
          "items": {
            "type": "string"
          }
        },
        "storagePool": {
          "type": "string",
          "description": "The name of the Backup and DR storage pool that the backup and recovery appliance is storing data in. The storage pool could be of type Cloud, Primary, Snapshot, or OnVault. See the [Backup and DR documentation on storage pools](https://cloud.google.com/backup-disaster-recovery/docs/concepts/storage-pools). For example, `DiskPoolOne`."
        },
        "appliance": {
          "type": "string",
          "description": "The name of the Backup and DR appliance that captures, moves, and manages the lifecycle of backup data. For example, `backup-server-57137`."
        },
        "backupCreateTime": {
          "description": "The timestamp at which the Backup and DR backup was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "policyOptions": {
          "type": "array",
          "description": "The names of Backup and DR advanced policy options of a policy applying to an application. See the [Backup and DR documentation on policy options](https://cloud.google.com/backup-disaster-recovery/docs/create-plan/policy-settings). For example, `skipofflineappsincongrp, nounmap`.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)"
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\""
        }
      },
      "type": "object"
    },
    "OrganizationSettings": {
      "id": "OrganizationSettings",
      "type": "object",
      "description": "User specified settings that are attached to the Security Command Center organization.",
      "properties": {
        "enableAssetDiscovery": {
          "description": "A flag that indicates if Asset Discovery should be enabled. If the flag is set to `true`, then discovery of assets will occur. If it is set to `false`, all historical assets will remain, but discovery of future assets will not occur.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\"."
        },
        "assetDiscoveryConfig": {
          "description": "The configuration used for Asset Discovery runs.",
          "$ref": "AssetDiscoveryConfig"
        }
      }
    },
    "GroupFindingsResponse": {
      "id": "GroupFindingsResponse",
      "description": "Response message for group by findings.",
      "properties": {
        "groupByResults": {
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "items": {
            "$ref": "GroupResult"
          },
          "type": "array"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time used for executing the groupBy request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "type": "object",
      "description": "Represents the result of evaluating artifact guard policies.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ID of the resource that has policies configured for it."
        },
        "failingPolicies": {
          "description": "A list of failing policies.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "type": "object",
      "description": "Represents an ADC application associated with the finding.",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}",
          "type": "string"
        },
        "attributes": {
          "description": "Consumer provided attributes for the AppHub application.",
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "description": "A resource value configuration (RVC) is a mapping configuration of user's resources to resource values. Used in Attack path simulations.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Name for the resource value configuration"
        },
        "resourceValue": {
          "type": "string",
          "description": "Resource value level this expression represents Only required when there is no Sensitive Data Protection mapping in the request",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "sensitiveDataProtectionMapping": {
          "description": "A mapping of the sensitivity on Sensitive Data Protection finding to resource values. This mapping can only be used in combination with a resource_type that is related to BigQuery, e.g. \"bigquery.googleapis.com/Dataset\".",
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp this resource value configuration was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp this resource value configuration was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "tagValues": {
          "description": "Tag values combined with `AND` to check against. For Google Cloud resources, they are tag value IDs in the form of \"tagValues/123\". Example: `[ \"tagValues/123\", \"tagValues/456\", \"tagValues/789\" ]` https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceType": {
          "description": "Apply resource_value only to resources that match resource_type. resource_type will be checked with `AND` of other resources. For example, \"storage.googleapis.com/Bucket\" with resource_value \"HIGH\" will apply \"HIGH\" value only to \"storage.googleapis.com/Bucket\" resources.",
          "type": "string"
        },
        "scope": {
          "description": "Project or folder to scope this configuration to. For example, \"project/456\" would apply this configuration only to resources in \"project/456\" scope and will be checked with `AND` of other resources.",
          "type": "string"
        },
        "cloudProvider": {
          "description": "Cloud provider this configuration applies to",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "resourceLabelsSelector": {
          "description": "List of resource labels to search for, evaluated with `AND`. For example, \"resource_labels_selector\": {\"key\": \"value\", \"env\": \"prod\"} will match resources with labels \"key\": \"value\" `AND` \"env\": \"prod\" https://cloud.google.com/resource-manager/docs/creating-managing-labels",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the resource value configuration."
        }
      },
      "type": "object"
    },
    "Source": {
      "type": "object",
      "description": "Security Command Center finding source. A finding source is an entity or a mechanism that can produce a finding. A source is like a container of findings that come from the same scanner, logger, monitor, etc.",
      "properties": {
        "name": {
          "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "displayName": {
          "description": "The source's display name. A source's display name must be unique amongst its siblings, for example, two sources with the same parent can't share the same display name. The display name must have a length between 1 and 64 characters (inclusive).",
          "type": "string"
        },
        "description": {
          "description": "The description of the source (max of 1024 characters). Example: \"Web Security Scanner is a web security scanner for common vulnerabilities in App Engine applications. It can automatically scan and detect four common vulnerabilities, including cross-site-scripting (XSS), Flash injection, mixed content (HTTP in HTTPS), and outdated/insecure libraries.\"",
          "type": "string"
        }
      },
      "id": "Source"
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "id": "GoogleCloudSecuritycenterV2Secret",
      "description": "Details about a secret or credential associated with the finding.",
      "properties": {
        "environmentVariable": {
          "description": "The environment variable containing the secret.",
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "type": {
          "type": "string",
          "description": "The type of secret, for example, GCP_API_KEY."
        },
        "status": {
          "description": "The status of the secret.",
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "filePath": {
          "description": "The file containing the secret.",
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "description": "Contains information related to the load balancer associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the load balancer associated with the finding."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LoadBalancer"
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "type": "object",
      "description": "Details about a data access attempt made by a principal not authorized under applicable data security policy.",
      "properties": {
        "principalEmail": {
          "type": "string",
          "description": "The email address of the principal that accessed the data. The principal could be a user account, service account, Google group, or other."
        },
        "operation": {
          "type": "string",
          "description": "The operation performed by the principal to access the data.",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of data access event."
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier for data access event."
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent"
    },
    "Framework": {
      "id": "Framework",
      "description": "Compliance framework associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the framework associated with the finding"
        },
        "controls": {
          "type": "array",
          "description": "The controls associated with the framework.",
          "items": {
            "$ref": "Control"
          }
        },
        "type": {
          "description": "Type of the framework associated with the finding, to specify whether the framework is built-in (pre-defined and immutable) or a custom framework defined by the customer (equivalent to security posture)",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The framework is a built-in framework if it is created and managed by GCP.",
            "The framework is a custom framework if it is created and managed by the user."
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the framework. For a standard framework, this will look like e.g. PCI DSS 3.2.1, whereas for a custom framework it can be a user defined string like MyFramework",
          "type": "string"
        },
        "category": {
          "description": "Category of the framework associated with the finding. E.g. Security Benchmark, or Assured Workloads",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Security Benchmarks framework",
              "Assured Workloads framework",
              "Data Security framework",
              "Google Best Practices framework",
              "A user-created framework"
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "description": "Contains compliance information about a security standard indicating unmet recommendations.",
      "properties": {
        "standard": {
          "type": "string",
          "description": "Industry-wide compliance standards or benchmarks, such as CIS, PCI, and OWASP."
        },
        "version": {
          "type": "string",
          "description": "Version of the standard or benchmark, for example, 1.1"
        },
        "ids": {
          "type": "array",
          "description": "Policies within the standard or benchmark, for example, A.12.4.1",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Compliance"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo",
      "description": "Contact information of stakeholders.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the contacts."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "type": "object",
      "description": "Aggregated count of a security context.",
      "properties": {
        "key": {
          "description": "Aggregation key.",
          "type": "string"
        },
        "value": {
          "description": "Aggregation value.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "type": "object",
      "description": "Represents a Microsoft Entra tenant.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the Microsoft Entra tenant, for example, \"a11aaa11-aa11-1aa1-11aa-1aaa11a\"."
        },
        "displayName": {
          "description": "The display name of the Azure tenant.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureTenant"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "type": "object",
      "description": "A resource value configuration (RVC) is a mapping configuration of user's resources to resource values. Used in Attack path simulations.",
      "properties": {
        "resourceLabelsSelector": {
          "description": "List of resource labels to search for, evaluated with `AND`. For example, `\"resource_labels_selector\": {\"key\": \"value\", \"env\": \"prod\"}` will match resources with labels \"key\": \"value\" `AND` \"env\": \"prod\" https://cloud.google.com/resource-manager/docs/creating-managing-labels",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Description of the resource value configuration.",
          "type": "string"
        },
        "tagValues": {
          "description": "Required. Tag values combined with `AND` to check against. For Google Cloud resources, they are tag value IDs in the form of \"tagValues/123\". Example: `[ \"tagValues/123\", \"tagValues/456\", \"tagValues/789\" ]` https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceType": {
          "description": "Apply resource_value only to resources that match resource_type. resource_type will be checked with `AND` of other resources. For example, \"storage.googleapis.com/Bucket\" with resource_value \"HIGH\" will apply \"HIGH\" value only to \"storage.googleapis.com/Bucket\" resources.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "Project or folder to scope this configuration to. For example, \"project/456\" would apply this configuration only to resources in \"project/456\" scope will be checked with `AND` of other resources."
        },
        "cloudProvider": {
          "type": "string",
          "description": "Cloud provider this configuration applies to",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp this resource value configuration was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp this resource value configuration was last updated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name for the resource value configuration"
        },
        "resourceValue": {
          "type": "string",
          "description": "Required. Resource value level this expression represents",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "sensitiveDataProtectionMapping": {
          "description": "A mapping of the sensitivity on Sensitive Data Protection finding to resource values. This mapping can only be used in combination with a resource_type that is related to BigQuery, e.g. \"bigquery.googleapis.com/Dataset\".",
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "description": "A set of optional name-value pairs that define custom source properties to return with each finding that is generated by the custom module. The custom source properties that are defined here are included in the finding JSON under `sourceProperties`.",
      "properties": {
        "properties": {
          "type": "array",
          "description": "A list of custom output properties to add to the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "type": "object",
      "description": "Information about the ticket, if any, that is being used to track the resolution of the issue that is identified by this finding.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier of the ticket in the ticket system."
        },
        "assignee": {
          "description": "The assignee of the ticket in the ticket system.",
          "type": "string"
        },
        "description": {
          "description": "The description of the ticket in the ticket system.",
          "type": "string"
        },
        "status": {
          "description": "The latest status of the ticket, as reported by the ticket system.",
          "type": "string"
        },
        "updateTime": {
          "description": "The time when the ticket was last updated, as reported by the ticket system.",
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "description": "The link to the ticket in the ticket system.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2TicketInfo"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "type": "object",
      "description": "Represents an operating system process.",
      "properties": {
        "pid": {
          "description": "The process ID.",
          "type": "string",
          "format": "int64"
        },
        "libraries": {
          "type": "array",
          "description": "File information for libraries loaded by the process.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "parentPid": {
          "description": "The parent process ID.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The process name, as displayed in utilities like `top` and `ps`. This name can be accessed through `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`."
        },
        "binary": {
          "description": "File information for the process executable.",
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "args": {
          "type": "array",
          "description": "Process arguments as JSON encoded strings.",
          "items": {
            "type": "string"
          }
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        },
        "userId": {
          "description": "The ID of the user that executed the process. E.g. If this is the root user this will always be 0.",
          "type": "string",
          "format": "int64"
        },
        "envVariables": {
          "description": "Process environment variables.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          },
          "type": "array"
        },
        "argumentsTruncated": {
          "description": "True if `args` is incomplete.",
          "type": "boolean"
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter, while `script` provides information about the script file provided to the interpreter.",
          "$ref": "GoogleCloudSecuritycenterV2File"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Process"
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "id": "GoogleCloudSecuritycenterV2InfoType",
      "type": "object",
      "description": "Type of information detected by the API.",
      "properties": {
        "version": {
          "description": "Optional version name for this InfoType.",
          "type": "string"
        },
        "name": {
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$_-]{1,64}`.",
          "type": "string"
        },
        "sensitivityScore": {
          "description": "Optional custom sensitivity for this InfoType. This only applies to data profiling.",
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        }
      }
    },
    "Job": {
      "type": "object",
      "description": "Describes a job",
      "properties": {
        "name": {
          "description": "The fully-qualified name for a job. e.g. `projects//jobs/`",
          "type": "string"
        },
        "errorCode": {
          "description": "Optional. If the job did not complete successfully, this field describes why.",
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "description": "Optional. Gives the location where the job ran, such as `US` or `europe-west1`",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified represents an unknown state and should not be used.",
            "Job is scheduled and pending for run",
            "Job in progress",
            "Job has completed with success",
            "Job has completed but with failure"
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the job, such as `RUNNING` or `PENDING`."
        }
      },
      "id": "Job"
    },
    "AzureMetadata": {
      "type": "object",
      "description": "Azure metadata associated with the resource, only applicable if the finding's cloud provider is Microsoft Azure.",
      "properties": {
        "managementGroups": {
          "description": "A list of Azure management groups associated with the resource, ordered from lowest level (closest to the subscription) to highest level.",
          "items": {
            "$ref": "AzureManagementGroup"
          },
          "type": "array"
        },
        "subscription": {
          "description": "The Azure subscription associated with the resource.",
          "$ref": "AzureSubscription"
        },
        "resourceGroup": {
          "description": "The Azure resource group associated with the resource.",
          "$ref": "AzureResourceGroup"
        },
        "tenant": {
          "description": "The Azure Entra tenant associated with the resource.",
          "$ref": "AzureTenant"
        }
      },
      "id": "AzureMetadata"
    },
    "VulnerabilitySnapshot": {
      "type": "object",
      "description": "Result containing the properties and count of a VulnerabilitySnapshot request.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The vulnerability snapshot name. Format: //locations//vulnerabilitySnapshots/"
        },
        "snapshotTime": {
          "description": "The time that the snapshot was taken.",
          "type": "string",
          "format": "google-datetime"
        },
        "findingCount": {
          "description": "The vulnerability count by severity.",
          "$ref": "VulnerabilityCountBySeverity"
        },
        "cloudProvider": {
          "type": "string",
          "description": "The cloud provider for the vulnerability snapshot.",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        }
      },
      "id": "VulnerabilitySnapshot"
    },
    "SecretStatus": {
      "id": "SecretStatus",
      "type": "object",
      "description": "The status of the secret.",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the secret was found."
        },
        "validity": {
          "type": "string",
          "description": "The validity of the secret.",
          "enumDescriptions": [
            "Default value; no validation was attempted.",
            "There is no mechanism to validate the secret.",
            "Validation is supported but the validation failed.",
            "The secret is confirmed to be invalid.",
            "The secret is confirmed to be valid."
          ],
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ]
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Role": {
      "id": "GoogleCloudSecuritycenterV2Role",
      "type": "object",
      "description": "Kubernetes Role or ClusterRole.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Role type.",
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        },
        "name": {
          "type": "string",
          "description": "Role name."
        },
        "ns": {
          "description": "Role namespace.",
          "type": "string"
        }
      }
    },
    "CloudDlpDataProfile": {
      "description": "The [data profile](https://cloud.google.com/dlp/docs/data-profiles) associated with the finding.",
      "properties": {
        "dataProfile": {
          "description": "Name of the data profile, for example, `projects/123/locations/europe/tableProfiles/8383929`.",
          "type": "string"
        },
        "parentType": {
          "description": "The resource hierarchy level at which the data profile was generated.",
          "enumDescriptions": [
            "Unspecified parent type.",
            "Organization-level configurations.",
            "Project-level configurations."
          ],
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "type": "string"
        },
        "infoTypes": {
          "description": "Type of information detected by SDP. Info type includes name, version and sensitivity of the detected information type.",
          "items": {
            "$ref": "InfoType"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "CloudDlpDataProfile"
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV2SecurityMarks",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name The following list shows some examples: + `organizations/{organization_id}/assets/{asset_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks`"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the marks. The following list shows some examples: + `organizations/{organization_id}/assets/{asset_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks` + `folders/{folder_id}/assets/{asset_id}/securityMarks` + `folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks` + `folders/{folder_id}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks` + `projects/{project_number}/assets/{asset_id}/securityMarks` + `projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks` + `projects/{project_number}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks`"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "id": "GoogleCloudSecuritycenterV1ResourceSelector",
      "type": "object",
      "description": "Resource for selecting resource type.",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "description": "The resource types to run the detector on.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "id": "GoogleCloudSecuritycenterV2Cvssv3",
      "type": "object",
      "description": "Common Vulnerability Scoring System version 3.",
      "properties": {
        "scope": {
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string"
        },
        "availabilityImpact": {
          "type": "string",
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible.",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string"
        },
        "attackComplexity": {
          "type": "string",
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "userInteraction": {
          "type": "string",
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "privilegesRequired": {
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string"
        },
        "confidentialityImpact": {
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "baseScore": {
          "type": "number",
          "format": "double",
          "description": "The base score is a function of the base metric scores."
        }
      }
    },
    "Denied": {
      "id": "Denied",
      "type": "object",
      "description": "Denied IP rule.",
      "properties": {
        "ipRules": {
          "description": "Optional. Optional list of denied IP rules.",
          "items": {
            "$ref": "IpRule"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "type": "object"
    },
    "AwsMetadata": {
      "id": "AwsMetadata",
      "type": "object",
      "description": "AWS metadata associated with the resource, only applicable if the finding's cloud provider is Amazon Web Services.",
      "properties": {
        "organization": {
          "description": "The AWS organization associated with the resource.",
          "$ref": "AwsOrganization"
        },
        "account": {
          "description": "The AWS account associated with the resource.",
          "$ref": "AwsAccount"
        },
        "organizationalUnits": {
          "type": "array",
          "description": "A list of AWS organizational units associated with the resource, ordered from lowest level (closest to the account) to highest level.",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "description": "An AWS account that is a member of an organization.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier (ID) of the account, containing exactly 12 digits."
        },
        "name": {
          "type": "string",
          "description": "The friendly name of this account."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsAccount"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "type": "object",
      "description": "Describes a job",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. State of the job, such as `RUNNING` or `PENDING`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified represents an unknown state and should not be used.",
            "Job is scheduled and pending for run",
            "Job in progress",
            "Job has completed with success",
            "Job has completed but with failure"
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "errorCode": {
          "description": "Optional. If the job did not complete successfully, this field describes why.",
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "type": "string",
          "description": "Optional. Gives the location where the job ran, such as `US` or `europe-west1`"
        },
        "name": {
          "description": "The fully-qualified name for a job. e.g. `projects//jobs/`",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Job"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping",
      "type": "object",
      "description": "Resource value mapping for Sensitive Data Protection findings. If any of these mappings have a resource value that is not unspecified, the resource_value field will be ignored when reading this configuration.",
      "properties": {
        "highSensitivityMapping": {
          "description": "Resource value mapping for high-sensitivity Sensitive Data Protection findings",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string"
        },
        "mediumSensitivityMapping": {
          "type": "string",
          "description": "Resource value mapping for medium-sensitivity Sensitive Data Protection findings",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "description": "Configures how to deliver Findings to BigQuery Instance.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the export (max of 1024 characters)."
        },
        "principal": {
          "description": "Output only. The service account that needs permission to create table and upload data to the BigQuery dataset.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the BigQuery export was created. This field is set by the server and will be ignored if provided on export on creation.",
          "readOnly": true
        },
        "filter": {
          "description": "Expression that defines the filter to apply across create/update events of findings. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        },
        "mostRecentEditor": {
          "description": "Output only. Email address of the user who last edited the BigQuery export. This field is set by the server and will be ignored if provided on export creation or update.",
          "type": "string",
          "readOnly": true
        },
        "cryptoKeyName": {
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud KMS `CryptoKey` used to protect this configuration's data, if configured during Security Command Center activation.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the BigQuery export was updated. This field is set by the server and will be ignored if provided on export creation or update."
        },
        "name": {
          "description": "Identifier. The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. The following list shows some examples: + `organizations/{organization_id}/locations/{location_id}/bigQueryExports/{export_id}` + `folders/{folder_id}/locations/{location_id}/bigQueryExports/{export_id}` + `projects/{project_id}/locations/{location_id}/bigQueryExports/{export_id}` This field is provided in responses, and is ignored when provided in create requests.",
          "type": "string"
        },
        "dataset": {
          "description": "The dataset to write findings' updates to. Its format is \"projects/[project_id]/datasets/[bigquery_dataset_id]\". BigQuery dataset unique ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BigQueryExport"
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "id": "GoogleCloudSecuritycenterV2ExfilResource",
      "type": "object",
      "description": "Resource where data was exfiltrated from or exfiltrated to.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource's [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name)."
        },
        "components": {
          "description": "Subcomponents of the asset that was exfiltrated, like URIs used during exfiltration, table names, databases, and filenames. For example, multiple tables might have been exfiltrated from the same Cloud SQL instance, or multiple files might have been exfiltrated from the same Cloud Storage bucket.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GcpMetadata": {
      "type": "object",
      "description": "Google Cloud metadata associated with the resource. Only applicable if the finding's cloud provider is Google Cloud.",
      "properties": {
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "The name of the organization that the resource belongs to."
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          }
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        }
      },
      "id": "GcpMetadata"
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "id": "GoogleCloudSecuritycenterV2Pipeline",
      "type": "object",
      "description": "Vertex AI training pipeline associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the pipeline, e.g. projects/{project}/locations/{location}/trainingPipelines/5253428229225578496"
        },
        "displayName": {
          "type": "string",
          "description": "The user-defined display name of pipeline, e.g. plants-classification"
        }
      }
    },
    "Label": {
      "id": "Label",
      "description": "Represents a generic name-value label. A label has separate name and value fields to support filtering with the `contains()` function. For more information, see [Filtering on array-type fields](https://cloud.google.com/security-command-center/docs/how-to-api-list-findings#array-contains-filtering).",
      "properties": {
        "name": {
          "description": "Name of the label.",
          "type": "string"
        },
        "value": {
          "description": "Value that corresponds to the label's name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "type": "object",
      "description": "The security bulletin of the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The security bulletin name."
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "type": "object",
      "description": "Cloud SCC's Notification",
      "properties": {
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "Finding"
        },
        "resource": {
          "description": "The Cloud resource tied to this notification's Finding.",
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "type": "object",
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding.",
      "properties": {
        "severity": {
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the finding was created in Security Command Center."
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only."
        },
        "state": {
          "type": "string",
          "description": "The state of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved. Must not be set to a value greater than the current timestamp."
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "securityMarks": {
          "readOnly": true,
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        }
      }
    },
    "ExportFindingsMetadata": {
      "id": "ExportFindingsMetadata",
      "type": "object",
      "description": "The LRO metadata for a ExportFindings request.",
      "properties": {
        "exportStartTime": {
          "description": "Optional. Timestamp at which export was started",
          "type": "string",
          "format": "google-datetime"
        },
        "bigQueryDestination": {
          "description": "Required. The destination BigQuery dataset to export findings to.",
          "$ref": "BigQueryDestination"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Folder"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "id": "GoogleCloudSecuritycenterV2Disk",
      "description": "Contains information about the disk associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the disk, for example, \"https://www.googleapis.com/compute/v1/projects/{project-id}/zones/{zone-id}/disks/{disk-id}\"."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "description": "Represents a geographical location for a given access.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Geolocation"
    },
    "AccessReview": {
      "id": "AccessReview",
      "type": "object",
      "description": "Conveys information about a Kubernetes access review (such as one returned by a [`kubectl auth can-i`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access) command) that was involved in a finding.",
      "properties": {
        "group": {
          "type": "string",
          "description": "The API group of the resource. \"*\" means all."
        },
        "version": {
          "description": "The API version of the resource. \"*\" means all.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the resource being requested. Empty means all."
        },
        "resource": {
          "description": "The optional resource type requested. \"*\" means all.",
          "type": "string"
        },
        "subresource": {
          "description": "The optional subresource type.",
          "type": "string"
        },
        "verb": {
          "description": "A Kubernetes resource API verb, like get, list, watch, create, update, delete, proxy. \"*\" means all.",
          "type": "string"
        },
        "ns": {
          "type": "string",
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty)."
        }
      }
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "type": "object",
      "description": "A signature corresponding to a YARA rule.",
      "properties": {
        "yaraRule": {
          "type": "string",
          "description": "The name of the YARA rule."
        }
      },
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "type": "object",
      "description": "CWE stands for Common Weakness Enumeration. Information about this weakness, as described by [CWE](https://cwe.mitre.org/).",
      "properties": {
        "references": {
          "type": "array",
          "description": "Any reference to the details on the CWE, for example, https://cwe.mitre.org/data/definitions/94.html",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        },
        "id": {
          "description": "The CWE identifier, e.g. CWE-94",
          "type": "string"
        }
      },
[...]
