{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "protocol": "rest",
  "baseUrl": "https://securityposture.googleapis.com/",
  "mtlsRootUrl": "https://securityposture.mtls.googleapis.com/",
  "title": "Security Posture API",
  "version": "v1",
  "version_module": true,
  "name": "securityposture",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "batchPath": "batch",
  "id": "securityposture:v1",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "revision": "20260317",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Security Posture",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "id": "securityposture.projects.locations.list"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "id": "securityposture.projects.locations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "postureDeployments": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/postureDeployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securityposture.organizations.locations.postureDeployments.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListPostureDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160)."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of posture deployments to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A pagination token returned from a previous request to list posture deployments. Provide this token to retrieve the next page of results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments",
                  "description": "Lists every PostureDeployment in a project and location."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the PostureDeployment, in the format `organizations/{organization}/locations/global/postureDeployments/{posture_deployment_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Gets details for a PostureDeployment.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "id": "securityposture.organizations.locations.postureDeployments.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "PostureDeployment"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "securityposture.organizations.locations.postureDeployments.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{posture_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "etag": {
                      "description": "Optional. An opaque identifier for the current version of the posture deployment. If you provide this value, then it must match the existing value. If the values don't match, then the request fails with an ABORTED error. If you omit this value, then the posture deployment is deleted regardless of its current `etag` value.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a PostureDeployment.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "postureDeploymentId": {
                      "description": "Required. An identifier for the posture deployment.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments",
                  "description": "Creates a new PostureDeployment in a given project and location.",
                  "path": "v1/{+parent}/postureDeployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securityposture.organizations.locations.postureDeployments.create",
                  "request": {
                    "$ref": "PostureDeployment"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing PostureDeployment. To prevent concurrent updates from overwriting each other, always follow the read-modify-write pattern when you update a posture deployment: 1. Call GetPostureDeployment to get the current version of the deployment. 2. Update the fields in the deployment as needed. 3. Call UpdatePostureDeployment to update the deployment. Ensure that your request includes the `etag` value from the GetPostureDeployment response. **Important:** If you omit the `etag` when you call UpdatePostureDeployment, then the updated deployment unconditionally overwrites the existing deployment.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Identifier. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The fields in the PostureDeployment to update. You can update only the following fields: * PostureDeployment.posture_id * PostureDeployment.posture_revision_id",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "securityposture.organizations.locations.postureDeployments.patch",
                  "request": {
                    "$ref": "PostureDeployment"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securityposture.organizations.locations.operations.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "securityposture.organizations.locations.operations.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "securityposture.organizations.locations.operations.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "securityposture.organizations.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "postures": {
              "methods": {
                "extract": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Extracts existing policies from an organization, folder, or project, and applies them to another organization, folder, or project as a Posture. If the other organization, folder, or project already has a posture, then the result of the long-running operation is an ALREADY_EXISTS error.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures:extract",
                  "id": "securityposture.organizations.locations.postures.extract",
                  "request": {
                    "$ref": "ExtractPostureRequest"
                  },
                  "path": "v1/{+parent}/postures:extract",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of postures to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous request to list postures. Provide this token to retrieve the next page of results."
                    }
                  },
                  "description": "Lists the most recent revisions of all Posture resources in a specified organization and location.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListPosturesResponse"
                  },
                  "id": "securityposture.organizations.locations.postures.list",
                  "path": "v1/{+parent}/postures",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "description": "Gets a single revision of a Posture.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "revisionId": {
                      "description": "Optional. The posture revision to retrieve. If not specified, the most recently updated revision is retrieved.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securityposture.organizations.locations.postures.get",
                  "response": {
                    "$ref": "Posture"
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "required": true
                    },
                    "etag": {
                      "description": "Optional. An opaque identifier for the current version of the posture. If you provide this value, then it must match the existing value. If the values don't match, then the request fails with an ABORTED error. If you omit this value, then the posture is deleted regardless of its current `etag` value.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "description": "Deletes all revisions of a Posture. You can only delete a posture if none of its revisions are deployed.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securityposture.organizations.locations.postures.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures",
                  "description": "Creates a new Posture.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "postureId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. An identifier for the posture."
                    }
                  },
                  "path": "v1/{+parent}/postures",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securityposture.organizations.locations.postures.create",
                  "request": {
                    "$ref": "Posture"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Identifier. The name of the posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The fields in the Posture to update. You can update only the following fields: * Posture.description * Posture.policy_sets * Posture.state",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "revisionId": {
                      "description": "Required. The revision ID of the posture to update. If the posture revision that you update is currently deployed, then a new revision of the posture is created.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "description": "Updates a revision of an existing Posture. If the posture revision that you update is currently deployed, then a new revision of the posture is created. To prevent concurrent updates from overwriting each other, always follow the read-modify-write pattern when you update a posture: 1. Call GetPosture to get the current version of the posture. 2. Update the fields in the posture as needed. 3. Call UpdatePosture to update the posture. Ensure that your request includes the `etag` value from the GetPosture response. **Important:** If you omit the `etag` when you call UpdatePosture, then the updated posture unconditionally overwrites the existing posture.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securityposture.organizations.locations.postures.patch",
                  "request": {
                    "$ref": "Posture"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "listRevisions": {
                  "id": "securityposture.organizations.locations.postures.listRevisions",
                  "path": "v1/{+name}:listRevisions",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListPostureRevisionsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all revisions of a single Posture.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}:listRevisions",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A pagination token from a previous request to list posture revisions. Provide this token to retrieve the next page of results."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of posture revisions to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            },
            "postureTemplates": {
              "methods": {
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureTemplates",
                  "description": "Lists every PostureTemplate in a given organization and location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A pagination token returned from a previous request to list posture templates. Provide this token to retrieve the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of posture templates to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListPostureTemplatesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/postureTemplates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securityposture.organizations.locations.postureTemplates.list"
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "PostureTemplate"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securityposture.organizations.locations.postureTemplates.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the PostureTemplate, in the format `organizations/{organization}/locations/global/postureTemplates/{posture_template}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureTemplates/[^/]+$"
                    },
                    "revisionId": {
                      "description": "Optional. The posture template revision to retrieve. If not specified, the most recently updated revision is retrieved.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureTemplates/{postureTemplatesId}",
                  "description": "Gets a single revision of a PostureTemplate.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/reports",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securityposture.organizations.locations.reports.list",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports",
                  "description": "Lists every Report in a given organization and location.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A pagination token returned from a previous request to list reports. Provide this token to retrieve the next page of results."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A filter to apply to the list of reports, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160)."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of reports to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value."
                    }
                  }
                },
                "createIaCValidationReport": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Validates a specified infrastructure-as-code (IaC) configuration, and creates a Report with the validation results. Only Terraform configurations are supported. Only modified assets are validated.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports:createIaCValidationReport",
                  "id": "securityposture.organizations.locations.reports.createIaCValidationReport",
                  "request": {
                    "$ref": "CreateIaCValidationReportRequest"
                  },
                  "path": "v1/{+parent}/reports:createIaCValidationReport",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the report, in the format `organizations/{organization}/locations/global/reports/{report_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/reports/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Gets details for a Report.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports/{reportsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Report"
                  },
                  "id": "securityposture.organizations.locations.reports.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "SecurityHealthAnalyticsModule": {
      "id": "SecurityHealthAnalyticsModule",
      "description": "A built-in detector for Security Health Analytics.",
      "type": "object",
      "properties": {
        "moduleName": {
          "type": "string",
          "description": "Required. The name of the detector. For example, `BIGQUERY_TABLE_CMEK_DISABLED`. This field is also used as the finding category for all the asset violation findings that the detector returns."
        },
        "moduleEnablementState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The detector or custom module is enabled.",
            "The detector or custom module is disabled."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Whether the detector is enabled at a specified level of the resource hierarchy."
        }
      }
    },
    "PolicySet": {
      "id": "PolicySet",
      "description": "A group of one or more Policy resources.",
      "properties": {
        "description": {
          "description": "Optional. A description of the policy set.",
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "Policy"
          },
          "description": "Required. The Policy resources in the policy set. Each policy must have a policy_id that's unique within the policy set."
        },
        "policySetId": {
          "type": "string",
          "description": "Required. An identifier for the policy set."
        }
      },
      "type": "object"
    },
    "CustomOutputSpec": {
      "id": "CustomOutputSpec",
      "description": "Definitions of custom source properties that can appear in findings.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. The custom source properties that can appear in findings.",
          "items": {
            "$ref": "Property"
          },
          "type": "array"
        }
      }
    },
    "PostureDetails": {
      "id": "PostureDetails",
      "description": "Details of a posture deployment.",
      "properties": {
        "postureDeploymentTargetResource": {
          "type": "string",
          "description": "The organization, folder, or project where the posture is deployed. Uses one of the following formats: * `organizations/{organization_number}` * `folders/{folder_number}` * `projects/{project_number}`"
        },
        "postureRevisionId": {
          "description": "The revision ID of the posture used in the deployment.",
          "type": "string"
        },
        "policySet": {
          "description": "The identifier for the PolicySet that the relevant policy belongs to.",
          "type": "string"
        },
        "postureDeployment": {
          "description": "The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`.",
          "type": "string"
        },
        "posture": {
          "type": "string",
          "description": "The posture used in the deployment, in the format `organizations/{organization}/locations/global/postures/{posture_id}`."
        }
      },
      "type": "object"
    },
    "Location": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "ListPostureDeploymentsResponse": {
      "type": "object",
      "properties": {
        "postureDeployments": {
          "type": "array",
          "items": {
            "$ref": "PostureDeployment"
          },
          "description": "The list of PostureDeployment resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        },
        "unreachable": {
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListPostureDeploymentsResponse",
      "description": "Response message for ListPostureDeployments."
    },
    "ResourceTypes": {
      "type": "object",
      "properties": {
        "included": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The resource types we currently support."
        }
      },
      "id": "ResourceTypes",
      "description": "Set multiple resource types for one policy, for example: ``` resourceTypes: included: - compute.googleapis.com/Instance - compute.googleapis.com/Disk ``` Constraint definition contains an empty resource type in order to support multiple resource types in the policy. Only supports managed constraints. Method type is `GOVERN_TAGS`."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "ListReportsResponse": {
      "type": "object",
      "properties": {
        "reports": {
          "type": "array",
          "description": "The list of Report resources.",
          "items": {
            "$ref": "Report"
          }
        },
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "type": "array"
        }
      },
      "id": "ListReportsResponse",
      "description": "Response message for ListReports."
    },
    "GoogleCloudSecuritypostureV1PolicyRuleStringValues": {
      "id": "GoogleCloudSecuritypostureV1PolicyRuleStringValues",
      "description": "The allowed and denied values for a list constraint. For all constraints, these fields can contain literal values. Optionally, you can add the `is:` prefix to these values. If the value contains a colon (`:`), then the `is:` prefix is required. Some constraints allow you to specify a portion of the resource hierarchy, known as a [_hierarchy subtree_](https://cloud.google.com/resource-manager/help/organization-policy/hierarchy-subtree), that the constraint applies to. To specify a hierarchy subtree, use the `under:` prefix, followed by a value with one of these formats: - `projects/{project_id}` (for example, `projects/tokyo-rain-123`) - `folders/{folder_id}` (for example, `folders/1234567890123`) - `organizations/{organization_id}` (for example, `organizations/123456789012`) A constraint's `supports_under` field indicates whether you can specify a hierarchy subtree. To learn which predefined constraints let you specify a hierarchy subtree, see the [constraints reference](https://cloud.google.com/resource-manager/help/organization-policy/constraints/reference).",
      "properties": {
        "allowedValues": {
          "type": "array",
          "description": "The allowed values for the constraint.",
          "items": {
            "type": "string"
          }
        },
        "deniedValues": {
          "type": "array",
          "description": "The denied values for the constraint.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListPosturesResponse": {
      "id": "ListPosturesResponse",
      "description": "Response message for ListPostures.",
      "properties": {
        "postures": {
          "description": "The list of Posture resources.",
          "items": {
            "$ref": "Posture"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "PostureDeployment": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Identifier. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`."
        },
        "postureId": {
          "description": "Required. The posture used in the deployment, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
          "type": "string"
        },
        "desiredPostureId": {
          "description": "Output only. The posture ID that was specified for the deployment. Present only if the posture deployment is in a failed state.",
          "readOnly": true,
          "type": "string"
        },
        "failureMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A description of why the posture deployment failed. Present only if the deployment is in a failed state."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the posture deployment."
        },
        "reconciling": {
          "description": "Output only. Whether the posture deployment is in the process of being updated.",
          "readOnly": true,
          "type": "boolean"
        },
        "desiredPostureRevisionId": {
          "description": "Output only. The revision ID of the posture that was specified for the deployment. Present only if the deployment is in a failed state.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The user-specified annotations for the posture deployment. For details about the values you can use in an annotation, see [AIP-148: Standard fields](https://google.aip.dev/148#annotations)."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The organization, folder, or project where the posture is deployed. Uses one of the following formats: * `organizations/{organization_number}` * `folders/{folder_number}` * `projects/{project_number}`"
        },
        "categories": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The categories that the posture deployment belongs to, as determined by the Security Posture API.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ]
          }
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture deployment is being created.",
            "The posture deployment is being deleted.",
            "The posture deployment is being updated.",
            "The posture deployment is active and in use.",
            "The posture deployment could not be created.",
            "The posture deployment could not be updated.",
            "The posture deployment could not be deleted."
          ],
          "description": "Output only. The state of the posture deployment.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "UPDATING",
            "ACTIVE",
            "CREATE_FAILED",
            "UPDATE_FAILED",
            "DELETE_FAILED"
          ],
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the posture deployment was last updated."
        },
        "etag": {
          "type": "string",
          "description": "Optional. An opaque identifier for the current version of the posture deployment. To prevent concurrent updates from overwriting each other, always provide the `etag` when you update a posture deployment. You can also provide the `etag` when you delete a posture deployment, to help ensure that you're deleting the intended posture deployment."
        },
        "postureRevisionId": {
          "description": "Required. The revision ID of the posture used in the deployment.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the posture deployment was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "PostureDeployment",
      "description": "Details for a Posture deployment on an organization, folder, or project. You can deploy at most one posture to each organization, folder, or project. The parent resource for a posture deployment is always the organization, even if the deployment applies to a folder or project."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CustomConfig": {
      "properties": {
        "recommendation": {
          "type": "string",
          "description": "Required. An explanation of the steps that security teams can take to resolve the detected issue. The explanation appears in each finding."
        },
        "customOutput": {
          "$ref": "CustomOutputSpec",
          "description": "Optional. Definitions of custom source properties to include in findings."
        },
        "predicate": {
          "description": "Required. The Common Expression Language (CEL) expression to evaluate. When the expression evaluates to `true` for a resource, a finding is generated.",
          "$ref": "Expr"
        },
        "resourceSelector": {
          "description": "Required. The resource types that the custom module operates on.",
          "$ref": "ResourceSelector"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Required. The severity of findings generated by the custom module."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the vulnerability or misconfiguration that the custom module detects. The description appears in each finding. Provide enough information to help an investigator understand the finding. The value must be enclosed in quotation marks."
        }
      },
      "type": "object",
      "id": "CustomConfig",
      "description": "A custom module configuration for Security Health Analytics. Use `CustomConfig` to create custom detectors that generate custom findings for resources that you specify."
    },
    "IaCValidationReport": {
      "id": "IaCValidationReport",
      "description": "Details of an infrastructure-as-code (IaC) validation report.",
      "type": "object",
      "properties": {
        "violations": {
          "description": "A list of every Violation found in the IaC configuration.",
          "items": {
            "$ref": "Violation"
          },
          "type": "array"
        },
        "note": {
          "description": "Additional information about the report.",
          "type": "string"
        }
      }
    },
    "CreateIaCValidationReportRequest": {
      "id": "CreateIaCValidationReportRequest",
      "description": "Request message for CreateIaCValidationReport.",
      "type": "object",
      "properties": {
        "iac": {
          "description": "Required. The infrastructure-as-code (IaC) configuration to validate.",
          "$ref": "IaC"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "Report": {
      "id": "Report",
      "description": "Details of a report.",
      "properties": {
        "iacValidationReport": {
          "$ref": "IaCValidationReport",
          "readOnly": true,
          "description": "Output only. An infrastructure-as-code (IaC) validation report."
        },
        "createTime": {
          "description": "Output only. The time at which the report was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which the report was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Required. The name of the report, in the format `organizations/{organization}/locations/global/reports/{report_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AssetDetails": {
      "type": "object",
      "properties": {
        "asset": {
          "type": "string",
          "description": "Information about the Cloud Asset Inventory asset that violated a policy. The format of this information can change at any time without prior notice. Your application must not depend on this information in any way."
        },
        "assetType": {
          "description": "The type of Cloud Asset Inventory asset. For a list of asset types, see [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        }
      },
      "id": "AssetDetails",
      "description": "Details of a Cloud Asset Inventory asset that caused a violation."
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "ExtractPostureRequest": {
      "id": "ExtractPostureRequest",
      "description": "Request message for ExtractPosture.",
      "properties": {
        "postureId": {
          "type": "string",
          "description": "Required. An identifier for the posture."
        },
        "workload": {
          "description": "Required. The organization, folder, or project from which policies are extracted. Must be within the organization defined in parent. Use one of the following formats: * `organization/{organization_number}` * `folder/{folder_number}` * `project/{project_number}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListPostureRevisionsResponse": {
      "id": "ListPostureRevisionsResponse",
      "description": "Response message for ListPostureRevisions.",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        },
        "revisions": {
          "type": "array",
          "description": "The list of revisions for the Posture.",
          "items": {
            "$ref": "Posture"
          }
        }
      },
      "type": "object"
    },
    "PolicyDetails": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the policy."
        },
        "constraint": {
          "type": "string",
          "description": "Information about the constraint that was violated. The format of this information can change at any time without prior notice. Your application must not depend on this information in any way."
        },
        "constraintType": {
          "description": "The type of constraint that was violated.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A custom module for Security Health Analytics.",
            "A custom organization policy constraint.",
            "A built-in detector for Security Health Analytics.",
            "A predefined organization policy constraint.",
            "A custom rego policy constraint."
          ],
          "enum": [
            "CONSTRAINT_TYPE_UNSPECIFIED",
            "SECURITY_HEALTH_ANALYTICS_CUSTOM_MODULE",
            "ORG_POLICY_CUSTOM",
            "SECURITY_HEALTH_ANALYTICS_MODULE",
            "ORG_POLICY",
            "REGO_POLICY"
          ]
        },
        "complianceStandards": {
          "items": {
            "type": "string"
          },
          "description": "The compliance standards that the policy maps to. For example, `CIS-2.0 1.15`.",
          "type": "array"
        }
      },
      "id": "PolicyDetails",
      "description": "Details of a policy that was violated."
    },
    "OrgPolicyConstraint": {
      "type": "object",
      "properties": {
        "cannedConstraintId": {
          "type": "string",
          "description": "Required. A unique identifier for the constraint."
        },
        "policyRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritypostureV1PolicyRule"
          },
          "description": "Required. The rules enforced by the constraint."
        }
      },
      "id": "OrgPolicyConstraint",
      "description": "A predefined organization policy constraint."
    },
    "GoogleCloudSecuritypostureV1CustomConstraint": {
      "id": "GoogleCloudSecuritypostureV1CustomConstraint",
      "description": "A custom, user-defined constraint. You can apply the constraint only to the resource types specified in the constraint, and only within the organization where the constraint is defined. _When you create a custom constraint, it is not enforced automatically._ You must use an organization policy to [enforce the constraint](https://cloud.google.com/resource-manager/help/organization-policy/constraints/enforce).",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name for the constraint. The maximum length is 200 characters."
        },
        "condition": {
          "type": "string",
          "description": "A Common Expression Language (CEL) condition expression that must evaluate to `true` for the constraint to be enforced. The maximum length is 1000 characters. For example: + `resource.instanceName.matches('(production|test)_(.+_)?[\\d]+')`: Evaluates to `true` if the resource's `instanceName` attribute contains the following: + The prefix `production` or `test` + An underscore (`_`) + Optional: One or more characters, followed by an underscore (`_`) + One or more digits + `resource.management.auto_upgrade == true`: Evaluates to `true` if the resource's `management.auto_upgrade` attribute is `true`."
        },
        "name": {
          "description": "Immutable. The name of the constraint, in the format `organizations/{organization_id}/customConstraints/custom.{custom_constraint_id}`. For example, `organizations/123456789012/customConstraints/custom.createOnlyE2TypeVms`. Must contain 1 to 62 characters, excluding the prefix `organizations/{organization_id}/customConstraints/custom.`.",
          "type": "string"
        },
        "methodTypes": {
          "type": "array",
          "description": "The types of operations that the constraint applies to.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Not supported. Constraint applied when deleting the resource."
            ],
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          }
        },
        "actionType": {
          "description": "Whether to allow or deny the action.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Allow the action.",
            "Deny the action."
          ],
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "description": {
          "description": "A description of the constraint. The maximum length is 2000 characters.",
          "type": "string"
        },
        "resourceTypes": {
          "description": "Immutable. The resource type that the constraint applies to, in the format `{canonical_service_name}/{resource_type_name}`. For example, `compute.googleapis.com/Instance`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. The last time at which the constraint was updated or created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ResourceSelector": {
      "id": "ResourceSelector",
      "description": "A selector for the resource types to run the detector on.",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The resource types to run the detector on. Each custom module can specify up to 5 resource types."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "Constraint": {
      "id": "Constraint",
      "description": "Metadata for a constraint in a Policy.",
      "type": "object",
      "properties": {
        "securityHealthAnalyticsModule": {
          "$ref": "SecurityHealthAnalyticsModule",
          "description": "Optional. A built-in detector for Security Health Analytics."
        },
        "orgPolicyConstraint": {
          "description": "Optional. A predefined organization policy constraint.",
          "$ref": "OrgPolicyConstraint"
        },
        "orgPolicyConstraintCustom": {
          "$ref": "OrgPolicyConstraintCustom",
          "description": "Optional. A custom organization policy constraint."
        },
        "securityHealthAnalyticsCustomModule": {
          "description": "Optional. A custom module for Security Health Analytics.",
          "$ref": "SecurityHealthAnalyticsCustomModule"
        }
      }
    },
    "GoogleCloudSecuritypostureV1PolicyRule": {
      "type": "object",
      "properties": {
        "allowAll": {
          "type": "boolean",
          "description": "Whether to allow any value for a list constraint. Valid only for list constraints."
        },
        "resourceTypes": {
          "$ref": "ResourceTypes",
          "description": "Optional. The resource types policies can support, only used for managed constraints. Method type is `GOVERN_TAGS`."
        },
        "enforce": {
          "type": "boolean",
          "description": "Whether to enforce the constraint. Valid only for boolean constraints."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Required for managed constraints if parameters are defined. Passes parameter values when policy enforcement is enabled. Ensure that parameter value types match those defined in the constraint definition. For example: ``` { \"allowedLocations\": [\"us-east1\", \"us-west1\"], \"allowAll\": true } ```"
        },
        "values": {
          "description": "The allowed and denied values for a list constraint. Valid only for list constraints.",
          "$ref": "GoogleCloudSecuritypostureV1PolicyRuleStringValues"
        },
        "denyAll": {
          "description": "Whether to deny all values for a list constraint. Valid only for list constraints.",
          "type": "boolean"
        },
        "condition": {
          "description": "A condition that determines whether this rule is used to evaluate the policy. When set, the google.type.Expr.expression field must contain 1 to 10 subexpressions, joined by the `||` or `&&` operators. Each subexpression must use the `resource.matchTag()`, `resource.matchTagId()`, `resource.hasTagKey()`, or `resource.hasTagKeyId()` Common Expression Language (CEL) function. The `resource.matchTag()` function takes the following arguments: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` * `value_name`: the short name of the tag value For example: `resource.matchTag('123456789012/environment, 'prod')` The `resource.matchTagId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` * `value_id`: the permanent ID of the tag value; for example, `tagValues/567890123456` For example: `resource.matchTagId('tagKeys/123456789012', 'tagValues/567890123456')` The `resource.hasTagKey()` function takes the following argument: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` For example: `resource.hasTagKey('123456789012/environment')` The `resource.hasTagKeyId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` For example: `resource.hasTagKeyId('tagKeys/123456789012')`",
          "$ref": "Expr"
        }
      },
      "id": "GoogleCloudSecuritypostureV1PolicyRule",
      "description": "A rule that defines the allowed and denied values for an organization policy constraint."
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    },
    "OrgPolicyConstraintCustom": {
      "type": "object",
      "properties": {
        "customConstraint": {
          "$ref": "GoogleCloudSecuritypostureV1CustomConstraint",
          "description": "Required. Metadata for the constraint."
        },
        "policyRules": {
          "description": "Required. The rules enforced by the constraint.",
          "items": {
            "$ref": "GoogleCloudSecuritypostureV1PolicyRule"
          },
          "type": "array"
        }
      },
      "id": "OrgPolicyConstraintCustom",
      "description": "A custom organization policy constraint."
    },
    "IaC": {
      "id": "IaC",
      "description": "Details of an infrastructure-as-code (IaC) configuration.",
      "type": "object",
      "properties": {
        "tfPlan": {
          "description": "Optional. A Terraform plan file, formatted as a stringified JSON object. To learn how to generate a Terraform plan file in JSON format, see [JSON output format](https://developer.hashicorp.com/terraform/internals/json-format) in the Terraform documentation.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Policy": {
      "properties": {
        "policyId": {
          "type": "string",
          "description": "Required. A user-specified identifier for the policy. In a PolicySet, each policy must have a unique identifier."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the policy."
        },
        "complianceStandards": {
          "items": {
            "$ref": "ComplianceStandard"
          },
          "description": "Optional. The compliance standards that the policy helps enforce.",
          "type": "array"
        },
        "constraint": {
          "$ref": "Constraint",
          "description": "Required. The constraints that the policy includes."
        }
      },
      "type": "object",
      "id": "Policy",
      "description": "The details of a policy, including the constraints that it includes."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the operation finished running."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The server-defined resource path for the target of the operation."
        },
        "verb": {
          "description": "Output only. The name of the action executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the operation, if any."
        },
        "createTime": {
          "description": "Output only. The time at which the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An error message. Returned when a PostureDeployment enters a failure state like UPDATE_FAILED."
        },
        "requestedCancellation": {
          "description": "Output only. Whether a request to cancel the operation has been received. For operations that have been cancelled successfully, the Operation.error field contains the error code CANCELLED.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. The API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Metadata for an Operation."
    },
    "ListPostureTemplatesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        },
        "postureTemplates": {
          "items": {
            "$ref": "PostureTemplate"
          },
          "description": "The list of PostureTemplate resources.",
          "type": "array"
        }
      },
      "id": "ListPostureTemplatesResponse",
      "description": "Response message for ListPostureTemplates."
    },
    "PostureTemplate": {
      "properties": {
        "name": {
          "description": "Output only. Identifier. The name of the posture template, in the format `organizations/{organization}/locations/global/postureTemplates/{posture_template}`.",
          "type": "string",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A string that identifies the revision of the posture template."
        },
        "categories": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ]
          },
          "description": "Output only. The categories that the posture template belongs to, as determined by the Security Posture API."
        },
        "state": {
          "description": "Output only. The state of the posture template at the specified `revision_id`.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture template follows the latest controls and standards.",
            "The posture template uses outdated controls and standards. We recommend that you use a newer revision of the posture template."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ]
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A description of the posture template."
        },
        "policySets": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The PolicySet resources that the posture template includes.",
          "items": {
            "$ref": "PolicySet"
          }
        }
      },
      "type": "object",
      "id": "PostureTemplate",
      "description": "The details of a posture template."
    },
    "SecurityHealthAnalyticsCustomModule": {
      "properties": {
        "config": {
          "description": "Required. Configuration settings for the custom module.",
          "$ref": "CustomConfig"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The unique identifier for the custom module. Contains 1 to 20 digits."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the custom module. This value is used as the finding category for all the asset violation findings that the custom module returns. The display name must contain between 1 and 128 alphanumeric characters or underscores, and it must start with a lowercase letter."
        },
        "moduleEnablementState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The detector or custom module is enabled.",
            "The detector or custom module is disabled."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Whether the custom module is enabled at a specified level of the resource hierarchy."
        }
      },
      "type": "object",
      "id": "SecurityHealthAnalyticsCustomModule",
      "description": "A custom module for Security Health Analytics."
    },
    "Property": {
      "id": "Property",
      "description": "A name-value pair used as a custom source property.",
      "properties": {
        "valueExpression": {
          "$ref": "Expr",
          "description": "Optional. The CEL expression for the value of the custom source property. For resource properties, you can return the value of the property or a string enclosed in quotation marks."
        },
        "name": {
          "description": "Required. The name of the custom source property.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Violation": {
      "type": "object",
      "properties": {
        "severity": {
          "description": "The severity of the violation.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "nextSteps": {
          "description": "A description of the steps that you can take to fix the violation.",
          "type": "string"
        },
        "violatedAsset": {
          "description": "Details of the Cloud Asset Inventory asset that caused the violation.",
          "$ref": "AssetDetails"
        },
        "violatedPolicy": {
          "$ref": "PolicyDetails",
          "description": "Details of the policy that was violated."
        },
        "policyId": {
          "description": "The policy that was violated.",
          "type": "string"
        },
        "assetId": {
          "description": "The full resource name of the asset that caused the violation. For details about the format of the full resource name for each asset type, see [Resource name format](https://cloud.google.com/asset-inventory/docs/resource-name-format).",
          "type": "string"
        },
        "violatedPosture": {
          "$ref": "PostureDetails",
          "description": "Details for the posture that was violated. This field is present only if the violated policy belongs to a deployed posture."
        }
      },
      "id": "Violation",
      "description": "Details of a violation."
    },
    "Posture": {
      "id": "Posture",
      "description": "The details of a posture.",
      "type": "object",
      "properties": {
        "policySets": {
          "type": "array",
          "items": {
            "$ref": "PolicySet"
          },
          "description": "Required. The PolicySet resources that the posture includes."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The user-specified annotations for the posture. For details about the values you can use in an annotation, see [AIP-148: Standard fields](https://google.aip.dev/148#annotations).",
          "type": "object"
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the posture is in the process of being updated."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the posture was created."
        },
        "description": {
          "description": "Optional. A description of the posture.",
          "type": "string"
        },
        "state": {
          "description": "Required. The state of the posture at the specified `revision_id`.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture is deprecated and can no longer be deployed.",
            "The posture is a draft and is not ready to deploy.",
            "The posture is complete and ready to deploy."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPRECATED",
            "DRAFT",
            "ACTIVE"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the posture was last updated."
        },
        "etag": {
          "type": "string",
          "description": "Optional. An opaque identifier for the current version of the posture at the specified `revision_id`. To prevent concurrent updates from overwriting each other, always provide the `etag` when you update a posture. You can also provide the `etag` when you delete a posture, to help ensure that you're deleting the intended version of the posture."
        },
        "categories": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ]
          },
          "description": "Output only. The categories that the posture belongs to, as determined by the Security Posture API.",
          "type": "array",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The name of the posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`."
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. An opaque eight-character string that identifies the revision of the posture. A posture can have multiple revisions; when you deploy a posture, you deploy a specific revision of the posture."
        }
      }
    },
    "ComplianceStandard": {
      "id": "ComplianceStandard",
      "description": "Information about a compliance standard that the policy helps enforce.",
      "properties": {
        "standard": {
          "description": "Optional. The compliance standard that the policy helps enforce. For example, `NIST SP 800-53`.",
          "type": "string"
        },
        "control": {
          "description": "Optional. The control in the compliance standard that the policy helps enforce. For example, `AC-3`.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://securityposture.googleapis.com/",
  "description": "Defines, assesses, and monitors the overall status of your security in Google Cloud. You can use security postures to evaluate your current cloud security against defined benchmarks and help maintain the level of security that your organization requires. ",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true
}