{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "securitycenter:v1beta2",
  "version": "v1beta2",
  "kind": "discovery#restDescription",
  "revision": "20260501",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "rootUrl": "https://securitycenter.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "title": "Security Command Center API",
  "name": "securitycenter",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "schemas": {
    "GoogleCloudSecuritycenterV2SensitivityScore": {
      "id": "GoogleCloudSecuritycenterV2SensitivityScore",
      "description": "Score is calculated from of all elements in the data profile. A higher level means the data is more sensitive.",
      "type": "object",
      "properties": {
        "score": {
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "description": "The sensitivity score applied to the resource.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "No sensitive information detected. The resource isn't publicly accessible.",
            "Unable to determine sensitivity.",
            "Medium risk. Contains personally identifiable information (PII), potentially sensitive data, or fields with free-text data that are at a higher risk of having intermittent sensitive data. Consider limiting access.",
            "High risk. Sensitive personally identifiable information (SPII) can be present. Exfiltration of data can lead to user data loss. Re-identification of users might be possible. Consider limiting usage and or removing SPII."
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "description": "Details about the externally exposed resource associated with the finding.",
      "type": "object",
      "properties": {
        "instanceGroup": {
          "description": "The full resource name of the instance group, for example, \"//compute.googleapis.com/projects/{project-id}/global/instanceGroups/{name}\".",
          "type": "string"
        },
        "exposedApplication": {
          "description": "The name and version of the exposed web application, for example, \"Jenkins 2.184\".",
          "type": "string"
        },
        "networkEndpointGroup": {
          "description": "The full resource name of the network endpoint group, for example, \"//compute.googleapis.com/projects/{project-id}/global/networkEndpointGroups/{name}\".",
          "type": "string"
        },
        "exposedService": {
          "description": "The name and version of the service, for example, \"Jupyter Notebook 6.14.0\".",
          "type": "string"
        },
        "publicIpAddress": {
          "description": "Public IP address of the exposed endpoint.",
          "type": "string"
        },
        "exposedEndpoint": {
          "description": "The resource which is running the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/zones/{zone}/instances/{instance}.”",
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "description": "The full resource name of the load balancer firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "publicPort": {
          "description": "Public port number of the exposed endpoint.",
          "type": "string"
        },
        "pscServiceAttachment": {
          "description": "The full resource name of the PSC (Private Service Connect) service attachment that the load balancer network endpoint group targets, for example, \"//compute.googleapis.com/projects/{project-id}/regions/{region}/serviceAttachments/{name}\"",
          "type": "string"
        },
        "backendBucket": {
          "description": "The full resource name of the load balancer backend bucket, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendBuckets/{name}\"",
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "description": "The full resource name of the network ingress firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{name}\".",
          "type": "string"
        },
        "privateIpAddress": {
          "description": "Private IP address of the exposed endpoint.",
          "type": "string"
        },
        "forwardingRule": {
          "description": "The full resource name of the forwarding rule, for example, \"//compute.googleapis.com/projects/{project-id}/global/forwardingRules/{forwarding-rule-name}\".",
          "type": "string"
        },
        "internalBackendService": {
          "description": "The full resource name of load balancer backend service in the internal project having resource exposed via PSC, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\".",
          "type": "string"
        },
        "privatePort": {
          "description": "Port number associated with private IP address.",
          "type": "string"
        },
        "backendService": {
          "description": "The full resource name of load balancer backend service, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\".",
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "description": "The full resource name of the firewall policy of the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "httpResponse": {
          "description": "The http response returned by the web application.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "pscNetworkAttachment": {
          "description": "The full resource name of the PSC (Private Service Connect) network attachment that network interface controller is attached to, for example, \"//compute.googleapis.com/projects/{project-id}/regions/{region}/networkAttachments/{name}\"",
          "type": "string"
        },
        "hostnameUri": {
          "description": "Hostname of the exposed application, for example, \"https://test-app.a.run.app/\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExternalExposure"
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "description": "Represents an ADC shared template associated with the finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Shared Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "description": "Represents a Kubernetes subject.",
      "type": "object",
      "properties": {
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "description": "Authentication type for the subject.",
          "type": "string",
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as secrets.",
            "Collection of users."
          ]
        },
        "name": {
          "description": "Name for the subject.",
          "type": "string"
        },
        "ns": {
          "description": "Namespace for the subject.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Subject"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "id": "GoogleCloudSecuritycenterV2Disk",
      "properties": {
        "name": {
          "description": "The name of the disk, for example, \"https://www.googleapis.com/compute/v1/projects/{project-id}/zones/{zone-id}/disks/{disk-id}\".",
          "type": "string"
        }
      },
      "description": "Contains information about the disk associated with the finding.",
      "type": "object"
    },
    "Contact": {
      "description": "The email address of a contact.",
      "type": "object",
      "properties": {
        "email": {
          "description": "An email address. For example, \"`person123@company.com`\".",
          "type": "string"
        }
      },
      "id": "Contact"
    },
    "AwsOrganizationalUnit": {
      "id": "AwsOrganizationalUnit",
      "properties": {
        "id": {
          "description": "The unique identifier (ID) associated with this OU. The regex pattern for an organizational unit ID string requires \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits. For example, \"ou-ab12-cd34ef56\".",
          "type": "string"
        },
        "name": {
          "description": "The friendly name of the OU.",
          "type": "string"
        }
      },
      "description": "An Organizational Unit (OU) is a container of AWS accounts within a root of an organization. Policies that are attached to an OU apply to all accounts contained in that OU and in any child OUs.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "id": "GoogleCloudSecuritycenterV2Process",
      "description": "Represents an operating system process.",
      "type": "object",
      "properties": {
        "binary": {
          "description": "File information for the process executable.",
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Process arguments as JSON encoded strings.",
          "type": "array"
        },
        "pid": {
          "format": "int64",
          "description": "The process ID.",
          "type": "string"
        },
        "libraries": {
          "description": "File information for libraries loaded by the process.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "name": {
          "description": "The process name, as displayed in utilities like `top` and `ps`. This name can be accessed through `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`.",
          "type": "string"
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter, while `script` provides information about the script file provided to the interpreter.",
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        },
        "userId": {
          "description": "The ID of the user that executed the process. E.g. If this is the root user this will always be 0.",
          "type": "string",
          "format": "int64"
        },
        "envVariables": {
          "description": "Process environment variables.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          }
        },
        "argumentsTruncated": {
          "description": "True if `args` is incomplete.",
          "type": "boolean"
        },
        "parentPid": {
          "format": "int64",
          "description": "The parent process ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}",
          "type": "string"
        },
        "attributes": {
          "description": "Consumer provided attributes for the AppHub application.",
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      },
      "description": "Represents an ADC application associated with the finding.",
      "type": "object"
    },
    "Exfiltration": {
      "properties": {
        "targets": {
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "sources": {
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "description": "Total exfiltrated bytes processed for the entire job.",
          "type": "string"
        }
      },
      "description": "Exfiltration represents a data exfiltration attempt from one or more sources to one or more targets. The `sources` attribute lists the sources of the exfiltrated data. The `targets` attribute lists the destinations the data was copied to.",
      "type": "object",
      "id": "Exfiltration"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "description": "The AppHub application associated with the resource, if any.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of an Application. Format: `projects/{host-project-id}/locations/{location}/applications/{application-id}`",
          "type": "string"
        },
        "attributes": {
          "description": "Consumer provided attributes for the application",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo",
      "properties": {
        "email": {
          "description": "Email address of the contacts.",
          "type": "string"
        }
      },
      "description": "Contact information of stakeholders.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "id": "GoogleCloudSecuritycenterV1ResourceSelector",
      "properties": {
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "description": "The resource types to run the detector on.",
          "type": "array"
        }
      },
      "description": "Resource for selecting resource type.",
      "type": "object"
    },
    "ExternalExposure": {
      "id": "ExternalExposure",
      "description": "Details about the externally exposed resource associated with the finding.",
      "type": "object",
      "properties": {
        "networkIngressFirewallPolicy": {
          "description": "The full resource name of the network ingress firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{name}\".",
          "type": "string"
        },
        "pscServiceAttachment": {
          "description": "The full resource name of the PSC (Private Service Connect) service attachment that the load balancer network endpoint group targets, for example, \"//compute.googleapis.com/projects/{project-id}/regions/{region}/serviceAttachments/{name}\"",
          "type": "string"
        },
        "backendBucket": {
          "description": "The full resource name of the load balancer backend bucket, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendBuckets/{name}\"",
          "type": "string"
        },
        "publicPort": {
          "description": "Public port number of the exposed endpoint.",
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "description": "The full resource name of the load balancer firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "publicIpAddress": {
          "description": "Public IP address of the exposed endpoint.",
          "type": "string"
        },
        "exposedEndpoint": {
          "description": "The resource which is running the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/zones/{zone}/instances/{instance}.”",
          "type": "string"
        },
        "exposedService": {
          "description": "The name and version of the service, for example, \"Jupyter Notebook 6.14.0\".",
          "type": "string"
        },
        "networkEndpointGroup": {
          "description": "The full resource name of the network endpoint group, for example, \"//compute.googleapis.com/projects/{project-id}/global/networkEndpointGroups/{name}\".",
          "type": "string"
        },
        "instanceGroup": {
          "description": "The full resource name of the instance group, for example, \"//compute.googleapis.com/projects/{project-id}/global/instanceGroups/{name}\".",
          "type": "string"
        },
        "exposedApplication": {
          "description": "The name and version of the exposed web application, for example, \"Jenkins 2.184\".",
          "type": "string"
        },
        "hostnameUri": {
          "description": "Hostname of the exposed application, for example, \"https://test-app.a.run.app/\"",
          "type": "string"
        },
        "pscNetworkAttachment": {
          "description": "The full resource name of the PSC (Private Service Connect) network attachment that network interface controller is attached to, for example, \"//compute.googleapis.com/projects/{project-id}/regions/{region}/networkAttachments/{name}\"",
          "type": "string"
        },
        "httpResponse": {
          "description": "The http response returned by the web application.",
          "type": "array",
          "items": {
            "$ref": "HttpResponse"
          }
        },
        "serviceFirewallPolicy": {
          "description": "The full resource name of the firewall policy of the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "privatePort": {
          "description": "Port number associated with private IP address.",
          "type": "string"
        },
        "backendService": {
          "description": "The full resource name of load balancer backend service, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\".",
          "type": "string"
        },
        "privateIpAddress": {
          "description": "Private IP address of the exposed endpoint.",
          "type": "string"
        },
        "forwardingRule": {
          "description": "The full resource name of the forwarding rule, for example, \"//compute.googleapis.com/projects/{project-id}/global/forwardingRules/{forwarding-rule-name}\".",
          "type": "string"
        },
        "internalBackendService": {
          "description": "The full resource name of load balancer backend service in the internal project having resource exposed via PSC, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Object": {
      "id": "GoogleCloudSecuritycenterV2Object",
      "description": "Kubernetes object related to the finding, uniquely identified by GKNN. Used if the object Kind is not one of Pod, Node, NodePool, Binding, or AccessReview.",
      "type": "object",
      "properties": {
        "containers": {
          "description": "Pod containers associated with this finding, if any.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "group": {
          "description": "Kubernetes object group, such as \"policy.k8s.io/v1\".",
          "type": "string"
        },
        "name": {
          "description": "Kubernetes object name. For details see https://kubernetes.io/docs/concepts/overview/working-with-objects/names/.",
          "type": "string"
        },
        "kind": {
          "description": "Kubernetes object kind, such as \"Namespace\".",
          "type": "string"
        },
        "ns": {
          "description": "Kubernetes object namespace. Must be a valid DNS label. Named \"ns\" to avoid collision with C++ namespace keyword. For details see https://kubernetes.io/docs/tasks/administer-cluster/namespaces/.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "description": "Represents a Microsoft Entra tenant.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the Microsoft Entra tenant, for example, \"a11aaa11-aa11-1aa1-11aa-1aaa11a\".",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the Azure tenant.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "properties": {
        "resourceId": {
          "description": "The ID of the resource that has policies configured for it.",
          "type": "string"
        },
        "failingPolicies": {
          "description": "A list of failing policies.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        }
      },
      "description": "Represents the result of evaluating artifact guard policies.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Node": {
      "description": "Kubernetes nodes associated with the finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "[Full resource name](https://google.aip.dev/122#full-resource-names) of the Compute Engine VM running the cluster node.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Node"
    },
    "AffectedResources": {
      "description": "Details about resources affected by this finding.",
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "description": "The count of resources affected by the finding.",
          "type": "string"
        }
      },
      "id": "AffectedResources"
    },
    "BigQueryDestination": {
      "properties": {
        "dataset": {
          "description": "Required. The relative resource name of the destination dataset, in the form projects/{projectId}/datasets/{datasetId}.",
          "type": "string"
        }
      },
      "description": "The destination BigQuery dataset to export findings to.",
      "type": "object",
      "id": "BigQueryDestination"
    },
    "Finding": {
      "properties": {
        "groupMemberships": {
          "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way. This field cannot be updated. Its value is ignored in all update requests.",
          "type": "array",
          "items": {
            "$ref": "GroupMembership"
          }
        },
        "exfiltration": {
          "description": "Represents exfiltrations associated with the finding.",
          "$ref": "Exfiltration"
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "mitreAttack": {
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
          "$ref": "MitreAttack"
        },
        "loadBalancers": {
          "items": {
            "$ref": "LoadBalancer"
          },
          "description": "The load balancers associated with the finding.",
          "type": "array"
        },
        "externalSystems": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields.",
          "type": "object"
        },
        "backupDisasterRecovery": {
          "description": "Fields related to Backup and DR findings.",
          "$ref": "BackupDisasterRecovery"
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "muteInfo": {
          "readOnly": true,
          "description": "Output only. The mute information regarding this finding.",
          "$ref": "MuteInfo"
        },
        "severity": {
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "contacts": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "description": "Output only. Map containing the points of contact for the given finding. The key represents the type of contact, while the value contains a list of all the contacts that pertain. Please refer to: https://cloud.google.com/resource-manager/docs/managing-notification-contacts#notification-categories { \"security\": { \"contacts\": [ { \"email\": \"person1@company.com\" }, { \"email\": \"person2@company.com\" } ] } }",
          "type": "object"
        },
        "compliances": {
          "description": "Contains compliance information for security standards associated to the finding.",
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "externalExposure": {
          "description": "External exposure associated with the finding.",
          "$ref": "ExternalExposure"
        },
        "orgPolicies": {
          "items": {
            "$ref": "OrgPolicy"
          },
          "description": "Contains information about the org policies associated with the finding.",
          "type": "array"
        },
        "database": {
          "description": "Database associated with the finding.",
          "$ref": "Database"
        },
        "vertexAi": {
          "description": "VertexAi associated with the finding.",
          "$ref": "VertexAi"
        },
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "description": "Contains information about the IP connection associated with the finding.",
          "type": "array"
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true
        },
        "networks": {
          "description": "Represents the VPC networks that the resource is attached to.",
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "application": {
          "description": "Represents an application associated with the finding.",
          "$ref": "Application"
        },
        "disk": {
          "description": "Disk associated with the finding.",
          "$ref": "Disk"
        },
        "vulnerability": {
          "description": "Represents vulnerability-specific fields like CVE and CVSS scores. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Vulnerability"
        },
        "policyViolationSummary": {
          "description": "PolicyViolationSummary associated with the finding.",
          "$ref": "PolicyViolationSummary"
        },
        "notebook": {
          "description": "Notebook associated with the finding.",
          "$ref": "Notebook"
        },
        "findingClass": {
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "description": "The class of the finding.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality.",
            "Describes a potential security risk due to a change in the security posture.",
            "Describes a group of security issues that, when the issues occur together, represent a greater risk than when the issues occur independently. A group of such issues is referred to as a toxic combination.",
            "Describes a potential security risk to data assets that contain sensitive data.",
            "Describes a resource or resource group where high risk attack paths converge, based on attack path simulations (APS).",
            "Describes a potential security risk due to the resource being exposed to the internet.",
            "Describes a potential security risk due to plaintext credentials, keys, or tokens being exposed in an asset or workload."
          ]
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "description": "Containers associated with the finding. This field provides information for both Kubernetes and non-Kubernetes containers.",
          "type": "array"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp.",
          "type": "string"
        },
        "aiModel": {
          "description": "The AI model associated with the finding.",
          "$ref": "AiModel"
        },
        "cloudDlpDataProfile": {
          "description": "Cloud DLP data profile that is associated with the finding.",
          "$ref": "CloudDlpDataProfile"
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "moduleName": {
          "description": "Unique identifier of the module which generated the finding. Example: folders/598186756061/securityHealthAnalyticsSettings/customModules/56799441161885",
          "type": "string"
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        },
        "muteInitiator": {
          "description": "Records additional information about the mute operation, for example, the [mute configuration](/security-command-center/docs/how-to-mute-findings) that muted the finding and the user who muted the finding.",
          "type": "string"
        },
        "agentDataAccessEvents": {
          "description": "Agent data access events associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "dataFlowEvents": {
          "items": {
            "$ref": "DataFlowEvent"
          },
          "description": "Data flow events associated with the finding.",
          "type": "array"
        },
        "ipRules": {
          "description": "IP rules associated with the finding.",
          "$ref": "IpRules"
        },
        "kubernetes": {
          "description": "Kubernetes resources associated with the finding.",
          "$ref": "Kubernetes"
        },
        "artifactGuardPolicies": {
          "description": "ArtifactGuardPolicies associated with the finding.",
          "$ref": "ArtifactGuardPolicies"
        },
        "description": {
          "description": "Contains more details about the finding.",
          "type": "string"
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "description": "File associated with the finding.",
          "type": "array"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "type": "string",
          "readOnly": true
        },
        "chokepoint": {
          "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations). This field cannot be updated. Its value is ignored in all update requests.",
          "$ref": "Chokepoint"
        },
        "logEntries": {
          "description": "Log entries that are relevant to the finding.",
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "indicator": {
          "description": "Represents what's commonly known as an *indicator of compromise* (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
          "$ref": "Indicator"
        },
        "secret": {
          "description": "Secret associated with the finding.",
          "$ref": "Secret"
        },
        "dataRetentionDeletionEvents": {
          "description": "Data retention deletion events associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          }
        },
        "access": {
          "description": "Access details associated with the finding, such as more information on the caller, which method was accessed, and from where.",
          "$ref": "Access"
        },
        "cloudArmor": {
          "description": "Fields related to Cloud Armor findings.",
          "$ref": "CloudArmor"
        },
        "mute": {
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "job": {
          "description": "Job associated with the finding.",
          "$ref": "Job"
        },
        "affectedResources": {
          "description": "AffectedResources associated with the finding.",
          "$ref": "AffectedResources"
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "iamBindings": {
          "items": {
            "$ref": "IamBinding"
          },
          "description": "Represents IAM bindings associated with the finding.",
          "type": "array"
        },
        "toxicCombination": {
          "description": "Contains details about a group of security issues that, when the issues occur together, represent a greater risk than when the issues occur independently. A group of such issues is referred to as a toxic combination. This field cannot be updated. Its value is ignored in all update requests.",
          "$ref": "ToxicCombination"
        },
        "complianceDetails": {
          "description": "Details about the compliance implications of the finding.",
          "$ref": "ComplianceDetails"
        },
        "securityPosture": {
          "description": "The security posture associated with the finding.",
          "$ref": "SecurityPosture"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "The state of the finding.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ]
        },
        "nextSteps": {
          "description": "Steps to address the finding.",
          "type": "string"
        },
        "processes": {
          "description": "Represents operating system processes associated with the Finding.",
          "type": "array",
          "items": {
            "$ref": "Process"
          }
        },
        "attackExposure": {
          "description": "The results of an attack path simulation relevant to this finding.",
          "$ref": "AttackExposure"
        },
        "kernelRootkit": {
          "description": "Signature of the kernel rootkit.",
          "$ref": "KernelRootkit"
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "cloudDlpInspection": {
          "description": "Cloud Data Loss Prevention (Cloud DLP) inspection results that are associated with the finding.",
          "$ref": "CloudDlpInspection"
        },
        "name": {
          "description": "The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
          "type": "string"
        },
        "dataAccessEvents": {
          "description": "Data access events associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "DataAccessEvent"
          }
        },
        "parentDisplayName": {
          "description": "Output only. The human readable display name of the finding source such as \"Event Threat Detection\" or \"Security Health Analytics\".",
          "type": "string",
          "readOnly": true
        },
        "discoveredWorkload": {
          "description": "DiscoveredWorkload associated with the finding.",
          "$ref": "DiscoveredWorkload"
        }
      },
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding.",
      "type": "object",
      "id": "Finding"
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "properties": {
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      },
      "description": "Message that contains the resource name and display name of a folder resource.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Folder"
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "properties": {
        "state": {
          "description": "The state of an asset discovery run.",
          "type": "string",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end",
          "type": "string"
        }
      },
      "description": "Response of asset discovery run",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse"
    },
    "TicketInfo": {
      "id": "TicketInfo",
      "properties": {
        "id": {
          "description": "The identifier of the ticket in the ticket system.",
          "type": "string"
        },
        "status": {
          "description": "The latest status of the ticket, as reported by the ticket system.",
          "type": "string"
        },
        "assignee": {
          "description": "The assignee of the ticket in the ticket system.",
          "type": "string"
        },
        "updateTime": {
          "description": "The time when the ticket was last updated, as reported by the ticket system.",
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "description": "The link to the ticket in the ticket system.",
          "type": "string"
        },
        "description": {
          "description": "The description of the ticket in the ticket system.",
          "type": "string"
        }
      },
      "description": "Information about the ticket, if any, that is being used to track the resolution of the issue that is identified by this finding.",
      "type": "object"
    },
    "SecurityPolicy": {
      "properties": {
        "preview": {
          "description": "Whether or not the associated rule or policy is in preview mode.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the Google Cloud Armor security policy, for example, \"my-security-policy\".",
          "type": "string"
        },
        "type": {
          "description": "The type of Google Cloud Armor security policy for example, 'backend security policy', 'edge security policy', 'network edge security policy', or 'always-on DDoS protection'.",
          "type": "string"
        }
      },
      "description": "Information about the [Google Cloud Armor security policy](https://cloud.google.com/armor/docs/security-policy-overview) relevant to the finding.",
      "type": "object",
      "id": "SecurityPolicy"
    },
    "GcpMetadata": {
      "properties": {
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          }
        },
        "organization": {
          "description": "The name of the organization that the resource belongs to.",
          "type": "string"
        }
      },
      "description": "Google Cloud metadata associated with the resource. Only applicable if the finding's cloud provider is Google Cloud.",
      "type": "object",
      "id": "GcpMetadata"
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "properties": {
        "path": {
          "description": "Path to the file.",
          "type": "string"
        }
      },
      "description": "File path containing the secret.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "id": "GoogleCloudSecuritycenterV2IssueResource",
      "properties": {
        "type": {
          "description": "The type of the resource associated with the issue.",
          "type": "string"
        },
        "adcApplication": {
          "description": "The ADC application associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "name": {
          "description": "The full resource name of the resource associated with the issue.",
          "type": "string"
        },
        "displayName": {
          "description": "The resource-type specific display name of the resource associated with the issue.",
          "type": "string"
        },
        "application": {
          "description": "The AppHub application associated with the resource, if any. Only populated for the primary resource.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "adcApplicationTemplate": {
          "description": "The ADC template associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "awsMetadata": {
          "description": "The AWS metadata of the resource associated with the issue. Only populated for AWS resources.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "azureMetadata": {
          "description": "The Azure metadata of the resource associated with the issue. Only populated for Azure resources.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "googleCloudMetadata": {
          "description": "The Google Cloud metadata of the resource associated with the issue. Only populated for Google Cloud resources.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "adcSharedTemplate": {
          "description": "The ADC shared template associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        },
        "cloudProvider": {
          "description": "The cloud provider of the resource associated with the issue.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services.",
            "Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        }
      },
      "description": "A resource associated with the an issue.",
      "type": "object"
    },
    "OrgPolicy": {
      "id": "OrgPolicy",
      "description": "Contains information about the org policies associated with the finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the org policy. Example: \"organizations/{organization_id}/policies/{constraint_name}\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "description": "The CVE of the finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The CVE name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve"
    },
    "BackupDisasterRecovery": {
      "id": "BackupDisasterRecovery",
      "description": "Information related to Google Cloud Backup and DR Service findings.",
      "type": "object",
      "properties": {
        "applications": {
          "description": "The names of Backup and DR applications. An application is a VM, database, or file system on a managed host monitored by a backup and recovery appliance. For example, `centos7-01-vol00`, `centos7-01-vol01`, `centos7-01-vol02`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupTemplate": {
          "description": "The name of a Backup and DR template which comprises one or more backup policies. See the [Backup and DR documentation](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#temp) for more information. For example, `snap-ov`.",
          "type": "string"
        },
        "policies": {
          "description": "The names of Backup and DR policies that are associated with a template and that define when to run a backup, how frequently to run a backup, and how long to retain the backup image. For example, `onvaults`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupCreateTime": {
          "format": "google-datetime",
          "description": "The timestamp at which the Backup and DR backup was created.",
          "type": "string"
        },
        "profile": {
          "description": "The name of the Backup and DR resource profile that specifies the storage media for backups of application and VM data. See the [Backup and DR documentation on profiles](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#profile). For example, `GCP`.",
          "type": "string"
        },
        "appliance": {
          "description": "The name of the Backup and DR appliance that captures, moves, and manages the lifecycle of backup data. For example, `backup-server-57137`.",
          "type": "string"
        },
        "policyOptions": {
          "description": "The names of Backup and DR advanced policy options of a policy applying to an application. See the [Backup and DR documentation on policy options](https://cloud.google.com/backup-disaster-recovery/docs/create-plan/policy-settings). For example, `skipofflineappsincongrp, nounmap`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupType": {
          "description": "The backup type of the Backup and DR image. For example, `Snapshot`, `Remote Snapshot`, `OnVault`.",
          "type": "string"
        },
        "host": {
          "description": "The name of a Backup and DR host, which is managed by the backup and recovery appliance and known to the management console. The host can be of type Generic (for example, Compute Engine, SQL Server, Oracle DB, SMB file system, etc.), vCenter, or an ESX server. See the [Backup and DR documentation on hosts](https://cloud.google.com/backup-disaster-recovery/docs/configuration/manage-hosts-and-their-applications) for more information. For example, `centos7-01`.",
          "type": "string"
        },
        "storagePool": {
          "description": "The name of the Backup and DR storage pool that the backup and recovery appliance is storing data in. The storage pool could be of type Cloud, Primary, Snapshot, or OnVault. See the [Backup and DR documentation on storage pools](https://cloud.google.com/backup-disaster-recovery/docs/concepts/storage-pools). For example, `DiskPoolOne`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "properties": {
        "type": {
          "description": "Context type.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Context values.",
          "type": "array"
        }
      },
      "description": "Context of a security context.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
    },
    "SecretFilePath": {
      "properties": {
        "path": {
          "description": "Path to the file.",
          "type": "string"
        }
      },
      "description": "File path containing the secret.",
      "type": "object",
      "id": "SecretFilePath"
    },
    "File": {
      "id": "File",
      "description": "File information about the related binary/library used by an executable, or the script used by a script interpreter",
      "type": "object",
      "properties": {
        "operations": {
          "description": "Operation(s) performed on a file.",
          "type": "array",
          "items": {
            "$ref": "FileOperation"
          }
        },
        "size": {
          "description": "Size of the file in bytes.",
          "type": "string",
          "format": "int64"
        },
        "sha256": {
          "description": "SHA256 hash of the first hashed_size bytes of the file encoded as a hex string. If hashed_size == size, sha256 represents the SHA256 hash of the entire file.",
          "type": "string"
        },
        "partiallyHashed": {
          "description": "True when the hash covers only a prefix of the file.",
          "type": "boolean"
        },
        "fileLoadState": {
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ],
          "description": "The load state of the file.",
          "type": "string",
          "enumDescriptions": [
            "The file state is unspecified.",
            "The file is being used by an active process at the time of scanning.",
            "The file is not being used by any active process at the time of scanning."
          ]
        },
        "path": {
          "description": "Absolute path of the file as a JSON encoded string.",
          "type": "string"
        },
        "diskPath": {
          "description": "Path of the file in terms of underlying disk/partition identifiers.",
          "$ref": "DiskPath"
        },
        "hashedSize": {
          "description": "The length in bytes of the file prefix that was hashed. If hashed_size == size, any hashes reported represent the entire file.",
          "type": "string",
          "format": "int64"
        },
        "contents": {
          "description": "Prefix of the file contents as a JSON-encoded string.",
          "type": "string"
        }
      }
    },
    "GroupMembership": {
      "properties": {
        "groupType": {
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "description": "Type of group.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Group represents a toxic combination.",
            "Group represents a chokepoint."
          ]
        },
        "groupId": {
          "description": "ID of the group.",
          "type": "string"
        }
      },
      "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way.",
      "type": "object",
      "id": "GroupMembership"
    },
    "Cve": {
      "id": "Cve",
      "description": "CVE stands for Common Vulnerabilities and Exposures. Information from the [CVE record](https://www.cve.org/ResourcesSupport/Glossary) that describes this vulnerability.",
      "type": "object",
      "properties": {
        "upstreamFixAvailable": {
          "description": "Whether upstream fix is available for the CVE.",
          "type": "boolean"
        },
        "observedInTheWild": {
          "description": "Whether or not the vulnerability has been observed in the wild.",
          "type": "boolean"
        },
        "zeroDay": {
          "description": "Whether or not the vulnerability was zero day when the finding was published.",
          "type": "boolean"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "description": "Date of the earliest known exploitation.",
          "type": "string"
        },
        "cvssv3": {
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document",
          "$ref": "Cvssv3"
        },
        "id": {
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527",
          "type": "string"
        },
        "impact": {
          "description": "The potential impact of the vulnerability if it was to be exploited.",
          "type": "string",
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation would have little to no security impact.",
            "Exploitation would enable attackers to perform activities, or could allow attackers to have a direct impact, but would require additional steps.",
            "Exploitation would enable attackers to have a notable direct impact without needing to overcome any major mitigating factors.",
            "Exploitation would fundamentally undermine the security of affected systems, enable actors to perform significant attacks with minimal effort, with little to no mitigating factors to overcome."
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "description": "Date the first publicly available exploit or PoC was released.",
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
          "type": "array"
        },
        "exploitationActivity": {
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "description": "The exploitation activity of the vulnerability in the wild.",
          "type": "string",
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation has been reported or confirmed to widely occur.",
            "Limited reported or confirmed exploitation activities.",
            "Exploit is publicly available.",
            "No known exploitation activity, but has a high potential for exploitation.",
            "No known exploitation activity."
          ]
        }
      }
    },
    "Role": {
      "id": "Role",
      "properties": {
        "name": {
          "description": "Role name.",
          "type": "string"
        },
        "ns": {
          "description": "Role namespace.",
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "description": "Role type.",
          "type": "string",
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ]
        }
      },
      "description": "Kubernetes Role or ClusterRole.",
      "type": "object"
    },
    "Allowed": {
      "description": "Allowed IP rule.",
      "type": "object",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "description": "Optional. Optional list of allowed IP rules.",
          "type": "array"
        }
      },
      "id": "Allowed"
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "id": "GoogleCloudSecuritycenterV2InfoType",
      "properties": {
        "sensitivityScore": {
          "description": "Optional custom sensitivity for this InfoType. This only applies to data profiling.",
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        },
        "name": {
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$_-]{1,64}`.",
          "type": "string"
        },
        "version": {
          "description": "Optional version name for this InfoType.",
          "type": "string"
        }
      },
      "description": "Type of information detected by the API.",
      "type": "object"
    },
    "VulnerabilityCountBySeverity": {
      "id": "VulnerabilityCountBySeverity",
      "properties": {
        "severityToFindingCount": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Key is the Severity enum.",
          "type": "object"
        }
      },
      "description": "Vulnerability count by severity.",
      "type": "object"
    },
    "DynamicMuteRecord": {
      "id": "DynamicMuteRecord",
      "description": "The record of a dynamic mute rule that matches the finding.",
      "type": "object",
      "properties": {
        "muteConfig": {
          "description": "The relative resource name of the mute rule, represented by a mute config, that created this record, for example `organizations/123/muteConfigs/mymuteconfig` or `organizations/123/locations/global/muteConfigs/mymuteconfig`.",
          "type": "string"
        },
        "matchTime": {
          "description": "When the dynamic mute rule first matched the finding.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "FileOperation": {
      "id": "FileOperation",
      "properties": {
        "type": {
          "description": "The type of the operation",
          "type": "string",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents an open operation.",
            "Represents a read operation.",
            "Represents a rename operation.",
            "Represents a write operation.",
            "Represents an execute operation."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      },
      "description": "Operation(s) performed on a file.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of an asset discovery run.",
          "type": "string",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "MemoryHashSignature": {
      "id": "MemoryHashSignature",
      "description": "A signature corresponding to memory page hashes.",
      "type": "object",
      "properties": {
        "binaryFamily": {
          "description": "The binary family.",
          "type": "string"
        },
        "detections": {
          "description": "The list of memory hash detections contributing to the binary family match.",
          "type": "array",
          "items": {
            "$ref": "Detection"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "properties": {
        "domainCategory": {
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "description": "The domain category of the issue.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified domain category.",
            "Issues in the AI domain.",
            "Issues in the code domain.",
            "Issues in the container domain.",
            "Issues in the data domain.",
            "Issues in the identity and access domain.",
            "Issues in the vulnerability domain.",
            "Issues in the threat domain."
          ]
        }
      },
      "description": "The domains of an issue.",
      "type": "object"
    },
    "Detection": {
      "id": "Detection",
      "properties": {
        "binary": {
          "description": "The name of the binary associated with the memory hash signature detection.",
          "type": "string"
        },
        "percentPagesMatched": {
          "format": "double",
          "description": "The percentage of memory page hashes in the signature that were matched.",
          "type": "number"
        }
      },
      "description": "Memory hash detection contributing to the binary family match.",
      "type": "object"
    },
    "ComplianceDetails": {
      "properties": {
        "cloudControl": {
          "description": "CloudControl associated with the finding",
          "$ref": "CloudControl"
        },
        "frameworks": {
          "description": "Details of Frameworks associated with the finding",
          "type": "array",
          "items": {
            "$ref": "Framework"
          }
        },
        "cloudControlDeploymentNames": {
          "items": {
            "type": "string"
          },
          "description": "Cloud Control Deployments associated with the finding. For example, organizations/123/locations/global/cloudControlDeployments/deploymentIdentifier",
          "type": "array"
        }
      },
      "description": "Compliance Details associated with the finding.",
      "type": "object",
      "id": "ComplianceDetails"
    },
    "NodePool": {
      "id": "NodePool",
      "description": "Provides GKE node pool information.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Kubernetes node pool name.",
          "type": "string"
        },
        "nodes": {
          "description": "Nodes associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "description": "Contact information of stakeholders.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the contacts.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
    },
    "VertexAi": {
      "description": "Vertex AI-related information associated with the finding.",
      "type": "object",
      "properties": {
        "datasets": {
          "items": {
            "$ref": "Dataset"
          },
          "description": "Datasets associated with the finding.",
          "type": "array"
        },
        "pipelines": {
          "description": "Pipelines associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "Pipeline"
          }
        }
      },
      "id": "VertexAi"
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "id": "GoogleCloudSecuritycenterV2NodePool",
      "properties": {
        "name": {
          "description": "Kubernetes node pool name.",
          "type": "string"
        },
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          },
          "description": "Nodes associated with the finding.",
          "type": "array"
        }
      },
      "description": "Provides GKE node pool information.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "description": "Contact information of stakeholders.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the contacts.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
    },
    "AzureSubscription": {
      "properties": {
        "id": {
          "description": "The UUID of the Azure subscription, for example, `291bba3f-e0a5-47bc-a099-3bdcb2a50a05`.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the Azure subscription.",
          "type": "string"
        }
      },
      "description": "Represents an Azure subscription.",
      "type": "object",
      "id": "AzureSubscription"
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "properties": {
        "name": {
          "description": "Environment variable name as a JSON encoded string.",
          "type": "string"
        },
        "val": {
          "description": "Environment variable value as a JSON encoded string.",
          "type": "string"
        }
      },
      "description": "A name-value pair representing an environment variable used in an operating system process.",
      "type": "object"
    },
    "Subject": {
      "id": "Subject",
      "description": "Represents a Kubernetes subject.",
      "type": "object",
      "properties": {
        "ns": {
          "description": "Namespace for the subject.",
          "type": "string"
        },
        "name": {
          "description": "Name for the subject.",
          "type": "string"
        },
        "kind": {
          "description": "Authentication type for the subject.",
          "type": "string",
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as secrets.",
            "Collection of users."
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        }
      }
    },
    "Job": {
      "id": "Job",
      "description": "Describes a job",
      "type": "object",
      "properties": {
        "name": {
          "description": "The fully-qualified name for a job. e.g. `projects//jobs/`",
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "description": "Optional. If the job did not complete successfully, this field describes why.",
          "type": "integer"
        },
        "location": {
          "description": "Optional. Gives the location where the job ran, such as `US` or `europe-west1`",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified represents an unknown state and should not be used.",
            "Job is scheduled and pending for run",
            "Job in progress",
            "Job has completed with success",
            "Job has completed but with failure"
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. State of the job, such as `RUNNING` or `PENDING`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "id": "GoogleCloudSecuritycenterV2Cwe",
      "description": "CWE stands for Common Weakness Enumeration. Information about this weakness, as described by [CWE](https://cwe.mitre.org/).",
      "type": "object",
      "properties": {
        "id": {
          "description": "The CWE identifier, e.g. CWE-94",
          "type": "string"
        },
        "references": {
          "description": "Any reference to the details on the CWE, for example, https://cwe.mitre.org/data/definitions/94.html",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "description": "Kernel mode rootkit signatures.",
      "type": "object",
      "properties": {
        "unexpectedFtraceHandler": {
          "description": "True if `ftrace` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "description": "True if unexpected modifications of kernel code memory are present.",
          "type": "boolean"
        },
        "name": {
          "description": "Rootkit name, when available.",
          "type": "string"
        },
        "unexpectedProcessesInRunqueue": {
          "description": "True if unexpected processes in the scheduler run queue are present. Such processes are in the run queue, but not in the process task list.",
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "description": "True if unexpected modifications of kernel read-only data memory are present.",
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "description": "True if kernel code pages that are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "description": "True if interrupt handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "description": "True if system call handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "description": "True if `kprobe` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudSecuritycenterV2KernelRootkit"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "type": "object",
      "properties": {
        "offendingPackage": {
          "description": "The offending package is relevant to the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "fixedPackage": {
          "description": "The fixed package is relevant to the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "reachable": {
          "description": "Represents whether the vulnerability is reachable (detected via static analysis)",
          "type": "boolean"
        },
        "providerRiskScore": {
          "description": "Provider provided risk_score based on multiple factors. The higher the risk score, the more risky the vulnerability is.",
          "type": "string",
          "format": "int64"
        },
        "cwes": {
          "description": "Represents one or more Common Weakness Enumeration (CWE) information on this vulnerability.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        },
        "cve": {
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "securityBulletin": {
          "description": "The security bulletin is relevant to this finding.",
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Vulnerability"
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "id": "GoogleCloudSecuritycenterV2Exfiltration",
      "description": "Exfiltration represents a data exfiltration attempt from one or more sources to one or more targets. The `sources` attribute lists the sources of the exfiltrated data. The `targets` attribute lists the destinations the data was copied to.",
      "type": "object",
      "properties": {
        "targets": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          },
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "type": "array"
        },
        "sources": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          },
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "type": "array"
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "description": "Total exfiltrated bytes processed for the entire job.",
          "type": "string"
        }
      }
    },
    "PolicyDriftDetails": {
      "description": "The policy field that violates the deployed posture and its expected and detected values.",
      "type": "object",
      "properties": {
        "detectedValue": {
          "description": "The detected value that violates the deployed posture, for example, `false` or `allowed_values={\"projects/22831892\"}`.",
          "type": "string"
        },
        "expectedValue": {
          "description": "The value of this field that was configured in a posture, for example, `true` or `allowed_values={\"projects/29831892\"}`.",
          "type": "string"
        },
        "field": {
          "description": "The name of the updated field, for example constraint.implementation.policy_rules[0].enforce",
          "type": "string"
        }
      },
      "id": "PolicyDriftDetails"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "properties": {
        "cryptoKeyName": {
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud KMS `CryptoKey` used to protect this configuration's data, if configured during Security Command Center activation.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. The following list shows some examples: + `organizations/{organization_id}/locations/{location_id}/bigQueryExports/{export_id}` + `folders/{folder_id}/locations/{location_id}/bigQueryExports/{export_id}` + `projects/{project_id}/locations/{location_id}/bigQueryExports/{export_id}` This field is provided in responses, and is ignored when provided in create requests.",
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "description": "Output only. Email address of the user who last edited the BigQuery export. This field is set by the server and will be ignored if provided on export creation or update.",
          "type": "string"
        },
        "description": {
          "description": "The description of the export (max of 1024 characters).",
          "type": "string"
        },
        "dataset": {
          "description": "The dataset to write findings' updates to. Its format is \"projects/[project_id]/datasets/[bigquery_dataset_id]\". BigQuery dataset unique ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_).",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time at which the BigQuery export was updated. This field is set by the server and will be ignored if provided on export creation or update.",
          "type": "string"
        },
        "filter": {
          "description": "Expression that defines the filter to apply across create/update events of findings. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the BigQuery export was created. This field is set by the server and will be ignored if provided on export on creation.",
          "type": "string",
          "readOnly": true
        },
        "principal": {
          "description": "Output only. The service account that needs permission to create table and upload data to the BigQuery dataset.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Configures how to deliver Findings to BigQuery Instance.",
      "type": "object"
    },
    "Secret": {
      "id": "Secret",
      "properties": {
        "type": {
          "description": "The type of secret, for example, GCP_API_KEY.",
          "type": "string"
        },
        "status": {
          "description": "The status of the secret.",
          "$ref": "SecretStatus"
        },
        "environmentVariable": {
          "description": "The environment variable containing the secret.",
          "$ref": "SecretEnvironmentVariable"
        },
        "filePath": {
          "description": "The file containing the secret.",
          "$ref": "SecretFilePath"
        }
      },
      "description": "Details about a secret or credential associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "description": "Details about specific contacts",
      "type": "object",
      "properties": {
        "contacts": {
          "description": "A list of contacts",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ContactDetails"
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "properties": {
        "muteUpdateTime": {
          "format": "google-datetime",
          "description": "The time the issue was muted.",
          "type": "string"
        },
        "muteInitiator": {
          "description": "The email address of the user who last changed the mute state of the issue.",
          "type": "string"
        },
        "muteState": {
          "description": "Output only. The mute state of the issue.",
          "type": "string",
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified mute state.",
            "Not muted.",
            "Muted."
          ]
        },
        "muteReason": {
          "description": "The user-provided reason for muting the issue.",
          "type": "string"
        }
      },
      "description": "The mute information of the issue.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueMute"
    },
    "LogEntry": {
      "properties": {
        "cloudLoggingEntry": {
          "description": "An individual entry in a log stored in Cloud Logging.",
          "$ref": "CloudLoggingEntry"
        }
      },
      "description": "An individual entry in a log.",
      "type": "object",
      "id": "LogEntry"
    },
    "Cwe": {
      "id": "Cwe",
      "description": "CWE stands for Common Weakness Enumeration. Information about this weakness, as described by [CWE](https://cwe.mitre.org/).",
      "type": "object",
      "properties": {
        "id": {
          "description": "The CWE identifier, e.g. CWE-94",
          "type": "string"
        },
        "references": {
          "description": "Any reference to the details on the CWE, for example, https://cwe.mitre.org/data/definitions/94.html",
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        }
      }
    },
    "VulnerabilitySnapshot": {
      "description": "Result containing the properties and count of a VulnerabilitySnapshot request.",
      "type": "object",
      "properties": {
        "snapshotTime": {
          "format": "google-datetime",
          "description": "The time that the snapshot was taken.",
          "type": "string"
        },
        "findingCount": {
          "description": "The vulnerability count by severity.",
          "$ref": "VulnerabilityCountBySeverity"
        },
        "name": {
          "description": "Identifier. The vulnerability snapshot name. Format: //locations//vulnerabilitySnapshots/",
          "type": "string"
        },
        "cloudProvider": {
          "description": "The cloud provider for the vulnerability snapshot.",
          "type": "string",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        }
      },
      "id": "VulnerabilitySnapshot"
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "type": "object",
      "properties": {
        "offendingPackage": {
          "description": "The offending package is relevant to the finding.",
          "$ref": "Package"
        },
        "fixedPackage": {
          "description": "The fixed package is relevant to the finding.",
          "$ref": "Package"
        },
        "reachable": {
          "description": "Represents whether the vulnerability is reachable (detected via static analysis)",
          "type": "boolean"
        },
        "providerRiskScore": {
          "format": "int64",
          "description": "Provider provided risk_score based on multiple factors. The higher the risk score, the more risky the vulnerability is.",
          "type": "string"
        },
        "cwes": {
          "description": "Represents one or more Common Weakness Enumeration (CWE) information on this vulnerability.",
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "cve": {
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Cve"
        },
        "securityBulletin": {
          "description": "The security bulletin is relevant to this finding.",
          "$ref": "SecurityBulletin"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "properties": {
        "id": {
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527",
          "type": "string"
        },
        "cvssv3": {
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document",
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "description": "Date of the earliest known exploitation.",
          "type": "string"
        },
        "zeroDay": {
          "description": "Whether or not the vulnerability was zero day when the finding was published.",
          "type": "boolean"
        },
        "observedInTheWild": {
          "description": "Whether or not the vulnerability has been observed in the wild.",
          "type": "boolean"
        },
        "upstreamFixAvailable": {
          "description": "Whether upstream fix is available for the CVE.",
          "type": "boolean"
        },
        "exploitationActivity": {
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "description": "The exploitation activity of the vulnerability in the wild.",
          "type": "string",
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation has been reported or confirmed to widely occur.",
            "Limited reported or confirmed exploitation activities.",
            "Exploit is publicly available.",
            "No known exploitation activity, but has a high potential for exploitation.",
            "No known exploitation activity."
          ]
        },
        "references": {
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        },
        "exploitReleaseDate": {
          "description": "Date the first publicly available exploit or PoC was released.",
          "type": "string",
          "format": "google-datetime"
        },
        "impact": {
          "description": "The potential impact of the vulnerability if it was to be exploited.",
          "type": "string",
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation would have little to no security impact.",
            "Exploitation would enable attackers to perform activities, or could allow attackers to have a direct impact, but would require additional steps.",
            "Exploitation would enable attackers to have a notable direct impact without needing to overcome any major mitigating factors.",
[...]
