{
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "canonicalName": "Security Command Center",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "version": "v1",
  "name": "securitycenter",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Security Command Center API",
  "kind": "discovery#restDescription",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "version_module": true,
  "schemas": {
    "KernelRootkit": {
      "id": "KernelRootkit",
      "properties": {
        "name": {
          "type": "string",
          "description": "Rootkit name, when available."
        },
        "unexpectedCodeModification": {
          "description": "True if unexpected modifications of kernel code memory are present.",
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "description": "True if `ftrace` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean",
          "description": "True if kernel code pages that are not in the expected kernel or module code regions are present."
        },
        "unexpectedInterruptHandler": {
          "description": "True if interrupt handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "description": "True if unexpected processes in the scheduler run queue are present. Such processes are in the run queue, but not in the process task list.",
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "description": "True if system call handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean",
          "description": "True if `kprobe` points are present with callbacks pointing to regions that are not in the expected kernel or module code range."
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean",
          "description": "True if unexpected modifications of kernel read-only data memory are present."
        }
      },
      "description": "Kernel mode rootkit signatures.",
      "type": "object"
    },
    "ValidateEventThreatDetectionCustomModuleRequest": {
      "type": "object",
      "description": "Request to validate an Event Threat Detection custom module.",
      "properties": {
        "rawText": {
          "description": "Required. The raw text of the module's contents. Used to generate error messages.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the module (e.g. CONFIGURABLE_BAD_IP).",
          "type": "string"
        }
      },
      "id": "ValidateEventThreatDetectionCustomModuleRequest"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "type": "object",
      "description": "Criticality of the Application, Service, or Workload",
      "properties": {
        "type": {
          "description": "Criticality Type.",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
    },
    "IamPolicy": {
      "properties": {
        "policyBlob": {
          "description": "The JSON representation of the Policy associated with the asset. See https://cloud.google.com/iam/reference/rest/v1/Policy for format details.",
          "type": "string"
        }
      },
      "id": "IamPolicy",
      "type": "object",
      "description": "Cloud IAM Policy information associated with the Google Cloud resource described by the Security Command Center asset. This information is managed and defined by the Google Cloud resource and cannot be modified by the user."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "Attack": {
      "description": "Information about DDoS attack volume and classification.",
      "type": "object",
      "id": "Attack",
      "properties": {
        "volumePpsLong": {
          "type": "string",
          "description": "Total PPS (packets per second) volume of attack.",
          "format": "int64"
        },
        "volumeBpsLong": {
          "format": "int64",
          "description": "Total BPS (bytes per second) volume of attack.",
          "type": "string"
        },
        "volumePps": {
          "description": "Total PPS (packets per second) volume of attack. Deprecated - refer to volume_pps_long instead.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "volumeBps": {
          "description": "Total BPS (bytes per second) volume of attack. Deprecated - refer to volume_bps_long instead.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "classification": {
          "type": "string",
          "description": "Type of attack, for example, 'SYN-flood', 'NTP-udp', or 'CHARGEN-udp'."
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "description": "Environment Type.",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment",
      "type": "object",
      "description": "Environment of the Application, Service, or Workload"
    },
    "EventThreatDetectionCustomModule": {
      "description": "Represents an instance of an Event Threat Detection custom module, including its full module name, display name, enablement state, and last updated time. You can create a custom module at the organization, folder, or project level. Custom modules that you create at the organization or folder level are inherited by child folders and projects.",
      "type": "object",
      "id": "EventThreatDetectionCustomModule",
      "properties": {
        "config": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Config for the module. For the resident module, its config value is defined at this level. For the inherited module, its config value is inherited from the ancestor module."
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services (AWS).",
            "Microsoft Azure."
          ],
          "description": "The cloud provider of the custom module.",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the module was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name to be displayed for the module.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description for the module."
        },
        "enablementState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given level.",
            "The module is disabled at the given level.",
            "When the enablement state is inherited."
          ],
          "description": "The state of enablement for the module at the given level of the hierarchy.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the Event Threat Detection custom module. Its format is: * `organizations/{organization}/eventThreatDetectionSettings/customModules/{module}`. * `folders/{folder}/eventThreatDetectionSettings/customModules/{module}`. * `projects/{project}/eventThreatDetectionSettings/customModules/{module}`."
        },
        "ancestorModule": {
          "description": "Output only. The closest ancestor module that this module inherits the enablement state from. The format is the same as the EventThreatDetectionCustomModule resource name.",
          "readOnly": true,
          "type": "string"
        },
        "lastEditor": {
          "description": "Output only. The editor the module was last updated by.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type for the module. e.g. CONFIGURABLE_BAD_IP."
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata",
      "properties": {
        "projectId": {
          "description": "The project ID that the resource associated with the issue belongs to.",
          "type": "string"
        }
      },
      "description": "Google Cloud metadata of a resource associated with an issue.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "description": "Represents the result of evaluating artifact guard policies.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "properties": {
        "resourceId": {
          "description": "The ID of the resource that has policies configured for it.",
          "type": "string"
        },
        "failingPolicies": {
          "type": "array",
          "description": "A list of failing policies.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "type": "object",
      "description": "Defines the properties in a custom module configuration for Security Health Analytics. Use the custom module configuration to create custom detectors that generate custom findings for resources that you specify.",
      "properties": {
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector",
          "description": "The resource types that the custom module operates on. Each custom module can specify up to 5 resource types."
        },
        "description": {
          "type": "string",
          "description": "Text that describes the vulnerability or misconfiguration that the custom module detects. This explanation is returned with each finding instance to help investigators understand the detected issue. The text must be enclosed in quotation marks."
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec",
          "description": "Custom output properties."
        },
        "recommendation": {
          "description": "An explanation of the recommended steps that security teams can take to resolve the detected issue. This explanation is returned with each finding generated by this module in the `nextSteps` property of the finding JSON.",
          "type": "string"
        },
        "predicate": {
          "description": "The CEL expression to evaluate to produce findings. When the expression evaluates to true against a resource, a finding is generated.",
          "$ref": "Expr"
        },
        "severity": {
          "description": "The severity to assign to findings generated by the module.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1CustomConfig"
    },
    "IamBinding": {
      "type": "object",
      "description": "Represents a particular IAM binding, which captures a member's role addition, removal, or state.",
      "properties": {
        "action": {
          "description": "The action that was performed on a Binding.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ]
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to \"members\". For example, \"roles/viewer\", \"roles/editor\", or \"roles/owner\"."
        },
        "member": {
          "description": "A single identity requesting access for a Cloud Platform resource, for example, \"foo@google.com\".",
          "type": "string"
        }
      },
      "id": "IamBinding"
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Database": {
      "properties": {
        "grantees": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The target usernames, roles, or groups of an SQL privilege grant, which is not an IAM policy change."
        },
        "displayName": {
          "description": "The human-readable name of the database that the user connected to.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "The SQL statement that is associated with the database access."
        },
        "version": {
          "type": "string",
          "description": "The version of the database, for example, POSTGRES_14. See [the complete list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion)."
        },
        "name": {
          "type": "string",
          "description": "Some database resources may not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. Cloud SQL databases). In these cases only the display name will be provided. The [full resource name](https://google.aip.dev/122#full-resource-names) of the database that the user connected to, if it is supported by Cloud Asset Inventory."
        },
        "userName": {
          "type": "string",
          "description": "The username used to connect to the database. The username might not be an IAM principal and does not have a set format."
        }
      },
      "id": "GoogleCloudSecuritycenterV2Database",
      "type": "object",
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of Cloud SQL instances or Cloud Spanner instances), or the database instance itself. Some database resources might not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types, such as Cloud SQL databases, are not yet supported by Cloud Asset Inventory. In these cases only the display name is provided."
    },
    "ListAssetsResponse": {
      "type": "object",
      "description": "Response message for listing assets.",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "Time used for executing the list request.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "listAssetsResults": {
          "description": "Assets matching the list request.",
          "type": "array",
          "items": {
            "$ref": "ListAssetsResult"
          }
        },
        "totalSize": {
          "description": "The total number of assets matching the query.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ListAssetsResponse"
    },
    "CreateResourceValueConfigRequest": {
      "type": "object",
      "description": "Request message to create single resource value config",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. Resource name of the new ResourceValueConfig's parent."
        },
        "resourceValueConfig": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig",
          "description": "Required. The resource value config being created."
        }
      },
      "id": "CreateResourceValueConfigRequest"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "properties": {
        "key": {
          "description": "Aggregation key.",
          "type": "string"
        },
        "value": {
          "format": "int32",
          "description": "Aggregation value.",
          "type": "integer"
        }
      },
      "description": "Aggregated count of a security context.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ],
          "description": "The operation performed by the principal to access the data.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "principalEmail": {
          "description": "The email address of the principal that accessed the data. The principal could be a user account, service account, Google group, or other.",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier for data access event."
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Timestamp of data access event.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent",
      "type": "object",
      "description": "Details about a data access attempt made by a principal not authorized under applicable data security policy."
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "properties": {
        "denied": {
          "description": "Tuple with denied rules.",
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "destinationIpRanges": {
          "description": "If destination IP ranges are specified, the firewall rule applies only to traffic that has a destination IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposedServices": {
          "type": "array",
          "description": "Name of the network protocol service, such as FTP, that is exposed by the open port. Follows the naming convention available at: https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml.",
          "items": {
            "type": "string"
          }
        },
        "allowed": {
          "description": "Tuple with allowed rules.",
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified direction value.",
            "Ingress direction value.",
            "Egress direction value."
          ],
          "description": "The direction that the rule is applicable to, one of ingress or egress.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        },
        "sourceIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If source IP ranges are specified, the firewall rule applies only to traffic that has a source IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4."
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "type": "object",
      "description": "IP rules associated with the finding."
    },
    "ExportFindingsResponse": {
      "description": "The response to a ExportFindings request. Contains the LRO information.",
      "type": "object",
      "id": "ExportFindingsResponse",
      "properties": {}
    },
    "SetMuteRequest": {
      "description": "Request message for updating a finding's mute status.",
      "type": "object",
      "id": "SetMuteRequest",
      "properties": {
        "mute": {
          "description": "Required. The desired state of the Mute.",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ]
        }
      }
    },
    "SensitivityScore": {
      "properties": {
        "score": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "No sensitive information detected. The resource isn't publicly accessible.",
            "Unable to determine sensitivity.",
            "Medium risk. Contains personally identifiable information (PII), potentially sensitive data, or fields with free-text data that are at a higher risk of having intermittent sensitive data. Consider limiting access.",
            "High risk. Sensitive personally identifiable information (SPII) can be present. Exfiltration of data can lead to user data loss. Re-identification of users might be possible. Consider limiting usage and or removing SPII."
          ],
          "description": "The sensitivity score applied to the resource.",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      },
      "id": "SensitivityScore",
      "type": "object",
      "description": "Score is calculated from of all elements in the data profile. A higher level means the data is more sensitive."
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "id": "GoogleCloudSecuritycenterV2Cve",
      "properties": {
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3",
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document"
        },
        "upstreamFixAvailable": {
          "type": "boolean",
          "description": "Whether upstream fix is available for the CVE."
        },
        "id": {
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527",
          "type": "string"
        },
        "references": {
          "type": "array",
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        },
        "exploitReleaseDate": {
          "type": "string",
          "description": "Date the first publicly available exploit or PoC was released.",
          "format": "google-datetime"
        },
        "exploitationActivity": {
          "description": "The exploitation activity of the vulnerability in the wild.",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation has been reported or confirmed to widely occur.",
            "Limited reported or confirmed exploitation activities.",
            "Exploit is publicly available.",
            "No known exploitation activity, but has a high potential for exploitation.",
            "No known exploitation activity."
          ]
        },
        "observedInTheWild": {
          "type": "boolean",
          "description": "Whether or not the vulnerability has been observed in the wild."
        },
        "zeroDay": {
          "description": "Whether or not the vulnerability was zero day when the finding was published.",
          "type": "boolean"
        },
        "impact": {
          "type": "string",
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation would have little to no security impact.",
            "Exploitation would enable attackers to perform activities, or could allow attackers to have a direct impact, but would require additional steps.",
            "Exploitation would enable attackers to have a notable direct impact without needing to overcome any major mitigating factors.",
            "Exploitation would fundamentally undermine the security of affected systems, enable actors to perform significant attacks with minimal effort, with little to no mitigating factors to overcome."
          ],
          "description": "The potential impact of the vulnerability if it was to be exploited.",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "description": "Date of the earliest known exploitation.",
          "type": "string"
        }
      },
      "description": "CVE stands for Common Vulnerabilities and Exposures. Information from the [CVE record](https://www.cve.org/ResourcesSupport/Glossary) that describes this vulnerability.",
      "type": "object"
    },
    "ExternalExposure": {
      "description": "Details about the externally exposed resource associated with the finding.",
      "type": "object",
      "id": "ExternalExposure",
      "properties": {
        "publicIpAddress": {
          "description": "Public IP address of the exposed endpoint.",
          "type": "string"
        },
        "forwardingRule": {
          "type": "string",
          "description": "The full resource name of the forwarding rule, for example, \"//compute.googleapis.com/projects/{project-id}/global/forwardingRules/{forwarding-rule-name}\"."
        },
        "networkEndpointGroup": {
          "description": "The full resource name of the network endpoint group, for example, \"//compute.googleapis.com/projects/{project-id}/global/networkEndpointGroups/{name}\".",
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string",
          "description": "The full resource name of the firewall policy of the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\"."
        },
        "instanceGroup": {
          "type": "string",
          "description": "The full resource name of the instance group, for example, \"//compute.googleapis.com/projects/{project-id}/global/instanceGroups/{name}\"."
        },
        "privatePort": {
          "type": "string",
          "description": "Port number associated with private IP address."
        },
        "publicPort": {
          "description": "Public port number of the exposed endpoint.",
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string",
          "description": "Private IP address of the exposed endpoint."
        },
        "loadBalancerFirewallPolicy": {
          "type": "string",
          "description": "The full resource name of the load balancer firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\"."
        },
        "backendService": {
          "description": "The full resource name of load balancer backend service, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\".",
          "type": "string"
        },
        "exposedEndpoint": {
          "description": "The resource which is running the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/zones/{zone}/instances/{instance}.”",
          "type": "string"
        },
        "exposedService": {
          "type": "string",
          "description": "The name and version of the service, for example, \"Jupyter Notebook 6.14.0\"."
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the contacts."
        }
      },
      "description": "Contact information of stakeholders.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "properties": {
        "resourceType": {
          "description": "Apply resource_value only to resources that match resource_type. resource_type will be checked with `AND` of other resources. For example, \"storage.googleapis.com/Bucket\" with resource_value \"HIGH\" will apply \"HIGH\" value only to \"storage.googleapis.com/Bucket\" resources.",
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "description": "Cloud provider this configuration applies to",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp this resource value configuration was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "resourceLabelsSelector": {
          "description": "List of resource labels to search for, evaluated with `AND`. For example, `\"resource_labels_selector\": {\"key\": \"value\", \"env\": \"prod\"}` will match resources with labels \"key\": \"value\" `AND` \"env\": \"prod\" https://cloud.google.com/resource-manager/docs/creating-managing-labels",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Description of the resource value configuration.",
          "type": "string"
        },
        "resourceValue": {
          "description": "Required. Resource value level this expression represents",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ]
        },
        "sensitiveDataProtectionMapping": {
          "description": "A mapping of the sensitivity on Sensitive Data Protection finding to resource values. This mapping can only be used in combination with a resource_type that is related to BigQuery, e.g. \"bigquery.googleapis.com/Dataset\".",
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp this resource value configuration was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Name for the resource value configuration",
          "type": "string"
        },
        "tagValues": {
          "items": {
            "type": "string"
          },
          "description": "Required. Tag values combined with `AND` to check against. For Google Cloud resources, they are tag value IDs in the form of \"tagValues/123\". Example: `[ \"tagValues/123\", \"tagValues/456\", \"tagValues/789\" ]` https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing",
          "type": "array"
        },
        "scope": {
          "type": "string",
          "description": "Project or folder to scope this configuration to. For example, \"project/456\" would apply this configuration only to resources in \"project/456\" scope will be checked with `AND` of other resources."
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "type": "object",
      "description": "A resource value configuration (RVC) is a mapping configuration of user's resources to resource values. Used in Attack path simulations."
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "id": "GoogleCloudSecuritycenterV2FileOperation",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents an open operation.",
            "Represents a read operation.",
            "Represents a rename operation.",
            "Represents a write operation.",
            "Represents an execute operation."
          ],
          "description": "The type of the operation",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      },
      "description": "Operation(s) performed on a file.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2VertexAi": {
      "type": "object",
      "description": "Vertex AI-related information associated with the finding.",
      "properties": {
        "pipelines": {
          "description": "Pipelines associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pipeline"
          }
        },
        "datasets": {
          "description": "Datasets associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Dataset"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2VertexAi"
    },
    "Database": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Some database resources may not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. Cloud SQL databases). In these cases only the display name will be provided. The [full resource name](https://google.aip.dev/122#full-resource-names) of the database that the user connected to, if it is supported by Cloud Asset Inventory."
        },
        "userName": {
          "description": "The username used to connect to the database. The username might not be an IAM principal and does not have a set format.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "The SQL statement that is associated with the database access."
        },
        "version": {
          "description": "The version of the database, for example, POSTGRES_14. See [the complete list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name of the database that the user connected to.",
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "description": "The target usernames, roles, or groups of an SQL privilege grant, which is not an IAM policy change.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Database",
      "type": "object",
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of Cloud SQL instances or Cloud Spanner instances), or the database instance itself. Some database resources might not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types, such as Cloud SQL databases, are not yet supported by Cloud Asset Inventory. In these cases only the display name is provided."
    },
    "Simulation": {
      "properties": {
        "createTime": {
          "description": "Output only. Time simulation was created",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "resourceValueConfigsMetadata": {
          "type": "array",
          "description": "Resource value configurations' metadata used in this simulation. Maximum of 100.",
          "items": {
            "$ref": "ResourceValueConfigMetadata"
          }
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "description": "Indicates which cloud provider was used in this simulation.",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "type": "string",
          "description": "Full resource name of the Simulation: `organizations/123/simulations/456`"
        }
      },
      "id": "Simulation",
      "type": "object",
      "description": "Attack path simulation"
    },
    "Subject": {
      "type": "object",
      "description": "Represents a Kubernetes subject.",
      "properties": {
        "ns": {
          "type": "string",
          "description": "Namespace for the subject."
        },
        "name": {
          "description": "Name for the subject.",
          "type": "string"
        },
        "kind": {
          "description": "Authentication type for the subject.",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as secrets.",
            "Collection of users."
          ]
        }
      },
      "id": "Subject"
    },
    "GoogleCloudSecuritycenterV2EnvironmentVariable": {
      "description": "A name-value pair representing an environment variable used in an operating system process.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2EnvironmentVariable",
      "properties": {
        "name": {
          "type": "string",
          "description": "Environment variable name as a JSON encoded string."
        },
        "val": {
          "type": "string",
          "description": "Environment variable value as a JSON encoded string."
        }
      }
    },
    "VulnerabilitySnapshot": {
      "description": "Result containing the properties and count of a VulnerabilitySnapshot request.",
      "type": "object",
      "id": "VulnerabilitySnapshot",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The vulnerability snapshot name. Format: //locations//vulnerabilitySnapshots/"
        },
        "snapshotTime": {
          "format": "google-datetime",
          "description": "The time that the snapshot was taken.",
          "type": "string"
        },
        "cloudProvider": {
          "description": "The cloud provider for the vulnerability snapshot.",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ]
        },
        "findingCount": {
          "description": "The vulnerability count by severity.",
          "$ref": "VulnerabilityCountBySeverity"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Job": {
      "id": "GoogleCloudSecuritycenterV2Job",
      "properties": {
        "name": {
          "description": "The fully-qualified name for a job. e.g. `projects//jobs/`",
          "type": "string"
        },
        "errorCode": {
          "description": "Optional. If the job did not complete successfully, this field describes why.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified represents an unknown state and should not be used.",
            "Job is scheduled and pending for run",
            "Job in progress",
            "Job has completed with success",
            "Job has completed but with failure"
          ],
          "description": "Output only. State of the job, such as `RUNNING` or `PENDING`."
        },
        "location": {
          "type": "string",
          "description": "Optional. Gives the location where the job ran, such as `US` or `europe-west1`"
        }
      },
      "description": "Describes a job",
      "type": "object"
    },
    "VertexAi": {
      "properties": {
        "datasets": {
          "items": {
            "$ref": "Dataset"
          },
          "type": "array",
          "description": "Datasets associated with the finding."
        },
        "pipelines": {
          "type": "array",
          "description": "Pipelines associated with the finding.",
          "items": {
            "$ref": "Pipeline"
          }
        }
      },
      "id": "VertexAi",
      "type": "object",
      "description": "Vertex AI-related information associated with the finding."
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "type": "object",
      "description": "Criticality of the Application, Service, or Workload",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ],
          "description": "Criticality Type.",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Kubernetes node pool name."
        },
        "nodes": {
          "description": "Nodes associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2NodePool",
      "type": "object",
      "description": "Provides GKE node pool information."
    },
    "GoogleCloudSecuritycenterV2MuteInfo": {
      "type": "object",
      "description": "Mute information about the finding, including whether the finding has a static mute or any matching dynamic mute rules.",
      "properties": {
        "staticMute": {
          "description": "If set, the static mute applied to this finding. Static mutes override dynamic mutes. If unset, there is no static mute.",
          "$ref": "GoogleCloudSecuritycenterV2StaticMute"
        },
        "dynamicMuteRecords": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DynamicMuteRecord"
          },
          "type": "array",
          "description": "The list of dynamic mute rules that currently match the finding."
        }
      },
      "id": "GoogleCloudSecuritycenterV2MuteInfo"
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "description": "Represents a particular IAM binding, which captures a member's role addition, removal, or state.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "properties": {
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "description": "The action that was performed on a Binding.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "role": {
          "description": "Role that is assigned to \"members\". For example, \"roles/viewer\", \"roles/editor\", or \"roles/owner\".",
          "type": "string"
        },
        "member": {
          "type": "string",
          "description": "A single identity requesting access for a Cloud Platform resource, for example, \"foo@google.com\"."
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}"
        },
        "attributes": {
          "description": "Consumer provided attributes for the AppHub application.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication",
      "type": "object",
      "description": "Represents an ADC application associated with the finding."
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "properties": {
        "contacts": {
          "description": "A list of contacts",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ContactDetails",
      "type": "object",
      "description": "Details about specific contacts"
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "properties": {
        "maxRetentionAllowed": {
          "description": "Maximum duration of retention allowed from the DRD control. This comes from the DRD control where users set a max TTL for their data. For example, suppose that a user sets the max TTL for a Cloud Storage bucket to 90 days. However, an object in that bucket is 100 days old. In this case, a DataRetentionDeletionEvent will be generated for that Cloud Storage bucket, and the max_retention_allowed is 90 days.",
          "type": "string",
          "format": "google-duration"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified event type.",
            "Deprecated: This field is pending removal. Use EVENT_TYPE_MAX_TTL_FROM_CREATION or EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION instead.",
            "Max TTL from the asset's creation time.",
            "Max TTL from the asset's last modification time.",
            "Min TTL from the asset's creation time."
          ],
          "description": "Type of the DRD event.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        },
        "dataObjectCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of objects that violated the policy for this resource. If the number is less than 1,000, then the value of this field is the exact number. If the number of objects that violated the policy is greater than or equal to 1,000, then the value of this field is 1000."
        },
        "eventDetectionTime": {
          "description": "Timestamp indicating when the event was detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string",
          "description": "Min duration of retention allowed from the DSPM retention control. This field is only populated when event type is set to EVENT_TYPE_MIN_TTL_FROM_CREATION."
        }
      },
      "description": "Details about data retention deletion violations, in which the data is non-compliant based on their retention or deletion time, as defined in the applicable data security policy. The Data Retention Deletion (DRD) control is a control of the DSPM (Data Security Posture Management) suite that enables organizations to manage data retention and deletion policies in compliance with regulations, such as GDPR and CRPA. DRD supports two primary policy types: maximum storage length (max TTL) and minimum storage length (min TTL). Both are aimed at helping organizations meet regulatory and data management commitments.",
      "type": "object"
    },
    "ExfilResource": {
      "properties": {
        "components": {
          "description": "Subcomponents of the asset that was exfiltrated, like URIs used during exfiltration, table names, databases, and filenames. For example, multiple tables might have been exfiltrated from the same Cloud SQL instance, or multiple files might have been exfiltrated from the same Cloud Storage bucket.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource's [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name)."
        }
      },
      "id": "ExfilResource",
      "type": "object",
      "description": "Resource where data was exfiltrated from or exfiltrated to."
    },
    "ListBigQueryExportsResponse": {
      "properties": {
        "bigQueryExports": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
          },
          "type": "array",
          "description": "The BigQuery exports from the specified parent."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListBigQueryExportsResponse",
      "type": "object",
      "description": "Response message for listing BigQuery exports."
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "description": "Represents a geographical location for a given access.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "properties": {
        "subscription": {
          "description": "The Azure subscription of the resource associated with the issue.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata",
      "type": "object",
      "description": "The Azure metadata of a resource associated with an issue."
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Azure resource group. This is not a UUID."
        },
        "id": {
          "type": "string",
          "description": "The ID of the Azure resource group."
        }
      },
      "description": "Represents an Azure resource group.",
      "type": "object"
    },
    "SecurityPolicy": {
      "type": "object",
      "description": "Information about the [Google Cloud Armor security policy](https://cloud.google.com/armor/docs/security-policy-overview) relevant to the finding.",
      "properties": {
        "type": {
          "description": "The type of Google Cloud Armor security policy for example, 'backend security policy', 'edge security policy', 'network edge security policy', or 'always-on DDoS protection'.",
          "type": "string"
        },
        "preview": {
          "description": "Whether or not the associated rule or policy is in preview mode.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the Google Cloud Armor security policy, for example, \"my-security-policy\".",
          "type": "string"
        }
      },
      "id": "SecurityPolicy"
    },
    "PolicyViolationSummary": {
      "id": "PolicyViolationSummary",
      "properties": {
        "outOfScopeResourcesCount": {
          "description": "Total count of child resources which were not in scope for evaluation.",
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "type": "string",
          "description": "Count of child resources in violation of the policy.",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "description": "Total number of child resources that conform to the policy.",
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "format": "int64",
          "description": "Number of child resources for which errors during evaluation occurred. The evaluation result for these child resources is effectively \"unknown\".",
          "type": "string"
        }
      },
      "description": "Metadata summarizing policy violations of child resources of the affected resource. `finding_category` and `resource` determine the exact semantics of the counts. For example, when category=DATA_SECURITY_POSTURE_OBJECT_PUBLIC_ACCESS_VIOLATION and resource='storage.googleapis.com/buckets/my-bucket-name' then this counts the number of Cloud Storage objects in my-bucket-name which violate a Public Access control.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Chokepoint": {
      "id": "GoogleCloudSecuritycenterV2Chokepoint",
      "properties": {
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of resource names of findings associated with this chokepoint. For example, organizations/123/sources/456/findings/789. This list will have at most 100 findings."
        }
      },
      "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations).",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "id": "GoogleCloudSecuritycenterV2AwsOrganization",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier (ID) for the organization. The regex pattern for an organization ID string requires \"o-\" followed by from 10 to 32 lowercase letters or digits."
        }
      },
      "description": "An organization is a collection of accounts that are centrally managed together using consolidated billing, organized hierarchically with organizational units (OUs), and controlled with policies.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "type": "object",
      "description": "Represents an Azure management group.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The UUID of the Azure management group, for example, `20000000-0001-0000-0000-000000000000`."
        },
        "displayName": {
          "description": "The display name of the Azure management group.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup"
    },
    "BulkMuteFindingsRequest": {
      "properties": {
        "filter": {
          "description": "Expression that identifies findings that should be updated. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        },
        "muteState": {
          "description": "Optional. All findings matching the given filter will have their mute state set to this value. The default value is `MUTED`. Setting this to `UNDEFINED` will clear the mute state on all matching findings.",
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "MUTED",
            "UNDEFINED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Matching findings will be muted (default).",
            "Matching findings will have their mute state cleared."
          ]
        },
        "muteAnnotation": {
          "description": "This can be a mute configuration name or any identifier for mute/unmute of findings based on the filter.",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "BulkMuteFindingsRequest",
      "type": "object",
      "description": "Request message for bulk findings update. Note: 1. If multiple bulk update requests match the same resource, the order in which they get executed is not defined. 2. Once a bulk operation is started, there is no way to stop it."
    },
    "PathNodeAssociatedFinding": {
      "properties": {
        "name": {
          "description": "Full resource name of the finding.",
          "type": "string"
        },
        "canonicalFinding": {
          "description": "Canonical name of the associated findings. Example: `organizations/123/sources/456/findings/789`",
          "type": "string"
        },
        "findingCategory": {
          "description": "The additional taxonomy group within findings from a given source.",
          "type": "string"
        }
      },
      "id": "PathNodeAssociatedFinding",
      "type": "object",
      "description": "A finding that is associated with this node in the attack path."
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV2NotificationMessage",
      "properties": {
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        }
      },
      "description": "Cloud SCC's Notification",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Role": {
      "type": "object",
      "description": "Kubernetes Role or ClusterRole.",
      "properties": {
        "ns": {
          "type": "string",
          "description": "Role namespace."
        },
        "name": {
          "description": "Role name.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ],
          "description": "Role type.",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Role"
    },
    "Asset": {
      "type": "object",
      "description": "Security Command Center representation of a Google Cloud resource. The Asset is a Security Command Center resource that captures information about a single Google Cloud resource. All modifications to an Asset are only within the context of Security Command Center and don't affect the referenced Google Cloud resource.",
      "properties": {
        "securityCenterProperties": {
          "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user.",
          "$ref": "SecurityCenterProperties"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the resource. It's either \"organizations/{organization_id}/assets/{asset_id}\", \"folders/{folder_id}/assets/{asset_id}\" or \"projects/{project_number}/assets/{asset_id}\", depending on the closest CRM ancestor of the resource."
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this asset. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/assets/{asset_id}\"."
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "description": "User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the asset."
        },
        "resourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Resource managed properties. These properties are managed and defined by the Google Cloud resource and cannot be modified by the user."
        },
        "iamPolicy": {
          "description": "Cloud IAM Policy information associated with the Google Cloud resource described by the Security Command Center asset. This information is managed and defined by the Google Cloud resource and cannot be modified by the user.",
          "$ref": "IamPolicy"
        },
        "createTime": {
          "type": "string",
          "description": "The time at which the asset was created in Security Command Center.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the asset was last updated or added in Cloud SCC."
        }
      },
      "id": "Asset"
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "id": "GoogleCloudSecuritycenterV2Binding",
      "properties": {
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role",
          "description": "The Role or ClusterRole referenced by the binding."
        },
        "subjects": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          },
          "type": "array",
          "description": "Represents one or more subjects that are bound to the role. Not always available for PATCH requests."
        },
        "ns": {
          "description": "Namespace for the binding.",
          "type": "string"
        },
        "name": {
          "description": "Name for the binding.",
          "type": "string"
        }
      },
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "type": "object",
      "description": "Represents what's commonly known as an _indicator of compromise_ (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
      "properties": {
        "signatures": {
          "description": "The list of matched signatures indicating that the given process is present in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          }
        },
        "domains": {
          "description": "List of domains associated to the Finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of IP addresses that are associated with the finding."
        },
        "uris": {
          "description": "The list of URIs associated to the Findings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Indicator"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "id": "GoogleCloudSecuritycenterV2GroupMembership",
      "properties": {
        "groupType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Group represents a toxic combination.",
            "Group represents a chokepoint."
          ],
          "description": "Type of group.",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "type": "string",
          "description": "ID of the group."
        }
      },
      "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way.",
      "type": "object"
    },
    "AccessReview": {
      "type": "object",
      "description": "Conveys information about a Kubernetes access review (such as one returned by a [`kubectl auth can-i`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access) command) that was involved in a finding.",
      "properties": {
        "group": {
          "description": "The API group of the resource. \"*\" means all.",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "The optional resource type requested. \"*\" means all."
        },
        "verb": {
          "type": "string",
          "description": "A Kubernetes resource API verb, like get, list, watch, create, update, delete, proxy. \"*\" means all."
        },
        "version": {
          "description": "The API version of the resource. \"*\" means all.",
          "type": "string"
        },
        "name": {
          "description": "The name of the resource being requested. Empty means all.",
          "type": "string"
        },
        "subresource": {
          "description": "The optional subresource type.",
          "type": "string"
        },
        "ns": {
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty).",
          "type": "string"
        }
      },
      "id": "AccessReview"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder"
    },
    "ListFindingsResponse": {
      "type": "object",
      "description": "Response message for listing findings.",
      "properties": {
        "listFindingsResults": {
          "description": "Findings matching the list request.",
          "type": "array",
          "items": {
            "$ref": "ListFindingsResult"
          }
        },
        "totalSize": {
          "description": "The total number of findings matching the query.",
          "type": "integer",
          "format": "int32"
        },
        "readTime": {
          "type": "string",
          "description": "Time used for executing the list request.",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        }
      },
      "id": "ListFindingsResponse"
    },
    "MemoryHashSignature": {
      "description": "A signature corresponding to memory page hashes.",
      "type": "object",
      "id": "MemoryHashSignature",
      "properties": {
        "detections": {
          "type": "array",
          "description": "The list of memory hash detections contributing to the binary family match.",
          "items": {
            "$ref": "Detection"
          }
        },
        "binaryFamily": {
          "description": "The binary family.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "properties": {
        "type": {
          "description": "The type of the policy evaluation.",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Vulnerability type."
          ]
        },
        "failureReason": {
          "description": "The reason for the policy failure, for example, \"severity=HIGH AND max_vuln_count=2\".",
          "type": "string"
        },
        "policyId": {
          "description": "The ID of the failing policy, for example, \"organizations/3392779/locations/global/policies/prod-policy\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "type": "object",
      "description": "Represents an artifact guard policy."
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string",
          "description": "The name of the YARA rule."
        }
      },
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "type": "object",
      "description": "A signature corresponding to a YARA rule."
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "description": "An attack exposure contains the results of an attack path simulation run.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "properties": {
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "description": "The number of high value resources that are exposed as a result of this finding.",
          "type": "integer"
        },
        "score": {
          "format": "double",
          "description": "A number between 0 (inclusive) and infinity that represents how important this finding is to remediate. The higher the score, the more important it is to remediate.",
          "type": "number"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of high value resources that are exposed as a result of this finding."
        },
        "exposedMediumValueResourcesCount": {
          "description": "The number of medium value resources that are exposed as a result of this finding.",
          "type": "integer",
          "format": "int32"
        },
        "attackExposureResult": {
          "description": "The resource name of the attack path simulation result that contains the details regarding this attack exposure score. Example: `organizations/123/simulations/456/attackExposureResults/789`",
          "type": "string"
        },
        "latestCalculationTime": {
          "description": "The most recent time the attack exposure was updated on this finding.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is not specified.",
            "The attack exposure has been calculated.",
            "The attack exposure has not been calculated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "description": "Output only. What state this AttackExposure is in. This captures whether or not an attack exposure has been calculated or not."
        }
      }
    },
    "SecretFilePath": {
      "description": "File path containing the secret.",
      "type": "object",
      "id": "SecretFilePath",
      "properties": {
        "path": {
          "type": "string",
          "description": "Path to the file."
        }
      }
    },
    "SimulatedResource": {
      "type": "object",
      "description": "Manually constructed resource name. If the custom module evaluates against only the resource data, you can omit the `iam_policy_data` field. If it evaluates only the `iam_policy_data` field, you can omit the resource data.",
      "properties": {
        "resourceData": {
          "description": "Optional. A representation of the Google Cloud resource. Should match the Google Cloud resource JSON format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "iamPolicyData": {
          "$ref": "Policy",
          "description": "Optional. A representation of the IAM policy."
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The type of the resource, for example, `compute.googleapis.com/Disk`."
        }
      },
      "id": "SimulatedResource"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "id": "GoogleCloudSecuritycenterV2TicketInfo",
      "properties": {
        "assignee": {
          "type": "string",
          "description": "The assignee of the ticket in the ticket system."
        },
        "updateTime": {
          "type": "string",
          "description": "The time when the ticket was last updated, as reported by the ticket system.",
          "format": "google-datetime"
        },
        "uri": {
          "type": "string",
          "description": "The link to the ticket in the ticket system."
        },
        "id": {
          "description": "The identifier of the ticket in the ticket system.",
          "type": "string"
        },
        "description": {
          "description": "The description of the ticket in the ticket system.",
          "type": "string"
        },
        "status": {
          "description": "The latest status of the ticket, as reported by the ticket system.",
          "type": "string"
        }
      },
      "description": "Information about the ticket, if any, that is being used to track the resolution of the issue that is identified by this finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "properties": {
        "filePath": {
          "description": "The file containing the secret.",
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "status": {
          "description": "The status of the secret.",
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "environmentVariable": {
          "description": "The environment variable containing the secret.",
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "type": {
          "description": "The type of secret, for example, GCP_API_KEY.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Secret",
      "type": "object",
      "description": "Details about a secret or credential associated with the finding."
    },
    "AwsAccount": {
      "type": "object",
      "description": "An AWS account that is a member of an organization.",
      "properties": {
        "name": {
          "description": "The friendly name of this account.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier (ID) of the account, containing exactly 12 digits.",
          "type": "string"
        }
      },
      "id": "AwsAccount"
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "description": "Represents a posture that is deployed on Google Cloud by the Security Command Center Posture Management service. A posture contains one or more policy sets. A policy set is a group of policies that enforce a set of security rules on Google Cloud.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityPosture",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "The version of the posture, for example, `c7cfa2a8`."
        },
        "changedPolicy": {
          "description": "The name of the updated policy, for example, `projects/{project_id}/policies/{constraint_name}`.",
          "type": "string"
        },
        "postureDeployment": {
          "type": "string",
          "description": "The name of the posture deployment, for example, `organizations/{org_id}/posturedeployments/{posture_deployment_id}`."
        },
        "policySet": {
          "description": "The name of the updated policy set, for example, `cis-policyset`.",
          "type": "string"
        },
        "postureDeploymentResource": {
          "description": "The project, folder, or organization on which the posture is deployed, for example, `projects/{project_number}`.",
          "type": "string"
        },
        "policy": {
          "description": "The ID of the updated policy, for example, `compute-policy-1`.",
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          },
          "description": "The details about a change in an updated policy that violates the deployed posture.",
          "type": "array"
        },
        "name": {
          "description": "Name of the posture, for example, `CIS-Posture`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "description": "Response of asset discovery run",
      "type": "object"
    },
    "SecretStatus": {
      "description": "The status of the secret.",
      "type": "object",
      "id": "SecretStatus",
      "properties": {
        "lastUpdatedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that the secret was found."
        },
        "validity": {
          "description": "The validity of the secret.",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value; no validation was attempted.",
            "There is no mechanism to validate the secret.",
            "Validation is supported but the validation failed.",
            "The secret is confirmed to be invalid.",
            "The secret is confirmed to be valid."
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "properties": {
        "criticality": {
          "description": "User-defined criticality information.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "businessOwners": {
          "type": "array",
          "description": "Business team that ensures user needs are met and value is delivered",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "developerOwners": {
          "description": "Developer team that owns development and coding.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "description": "User-defined environment information.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array",
          "description": "Operator team that ensures runtime and operations."
        }
      },
      "description": "Consumer provided attributes for the application",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      },
[...]
