{
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://securitycenter.googleapis.com/",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "title": "Security Command Center API",
  "ownerName": "Google",
  "servicePath": "",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "name": "securitycenter",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "basePath": "",
  "schemas": {
    "GoogleCloudSecuritycenterV2Label": {
      "description": "Represents a generic name-value label. A label has separate name and value fields to support filtering with the `contains()` function. For more information, see [Filtering on array-type fields](https://cloud.google.com/security-command-center/docs/how-to-api-list-findings#array-contains-filtering).",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value that corresponds to the label's name."
        },
        "name": {
          "type": "string",
          "description": "Name of the label."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Label"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "id": "GoogleCloudSecuritycenterV2Attack",
      "description": "Information about DDoS attack volume and classification.",
      "properties": {
        "volumeBpsLong": {
          "format": "int64",
          "type": "string",
          "description": "Total BPS (bytes per second) volume of attack."
        },
        "volumePps": {
          "description": "Total PPS (packets per second) volume of attack. Deprecated - refer to volume_pps_long instead.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "classification": {
          "description": "Type of attack, for example, 'SYN-flood', 'NTP-udp', or 'CHARGEN-udp'.",
          "type": "string"
        },
        "volumeBps": {
          "description": "Total BPS (bytes per second) volume of attack. Deprecated - refer to volume_bps_long instead.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "volumePpsLong": {
          "format": "int64",
          "type": "string",
          "description": "Total PPS (packets per second) volume of attack."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "type": "object",
      "description": "A signature corresponding to memory page hashes.",
      "properties": {
        "binaryFamily": {
          "description": "The binary family.",
          "type": "string"
        },
        "detections": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          },
          "description": "The list of memory hash detections contributing to the binary family match.",
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature"
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "id": "GoogleCloudSecuritycenterV2AwsOrganization",
      "type": "object",
      "description": "An organization is a collection of accounts that are centrally managed together using consolidated billing, organized hierarchically with organizational units (OUs), and controlled with policies.",
      "properties": {
        "id": {
          "description": "The unique identifier (ID) for the organization. The regex pattern for an organization ID string requires \"o-\" followed by from 10 to 32 lowercase letters or digits.",
          "type": "string"
        }
      }
    },
    "ValidateEventThreatDetectionCustomModuleResponse": {
      "description": "Response to validating an Event Threat Detection custom module.",
      "properties": {
        "errors": {
          "description": "A list of errors returned by the validator. If the list is empty, there were no errors.",
          "$ref": "CustomModuleValidationErrors"
        }
      },
      "type": "object",
      "id": "ValidateEventThreatDetectionCustomModuleResponse"
    },
    "EffectiveEventThreatDetectionCustomModule": {
      "description": "An EffectiveEventThreatDetectionCustomModule is the representation of an Event Threat Detection custom module at a specified level of the resource hierarchy: organization, folder, or project. If a custom module is inherited from a parent organization or folder, the value of the `enablement_state` property in EffectiveEventThreatDetectionCustomModule is set to the value that is effective in the parent, instead of `INHERITED`. For example, if the module is enabled in a parent organization or folder, the effective `enablement_state` for the module in all child folders or projects is also `enabled`. EffectiveEventThreatDetectionCustomModule is read-only.",
      "properties": {
        "config": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Output only. Config for the effective module.",
          "readOnly": true
        },
        "enablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Output only. The effective state of enablement for the module at the given level of the hierarchy.",
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given level.",
            "The module is disabled at the given level."
          ],
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The human readable name to be displayed for the module.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. Type for the module. e.g. CONFIGURABLE_BAD_IP.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. The description for the module.",
          "readOnly": true,
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "description": "The cloud provider of the custom module.",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services.",
            "Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "description": "Output only. The resource name of the effective ETD custom module. Its format is: * `organizations/{organization}/eventThreatDetectionSettings/effectiveCustomModules/{module}`. * `folders/{folder}/eventThreatDetectionSettings/effectiveCustomModules/{module}`. * `projects/{project}/eventThreatDetectionSettings/effectiveCustomModules/{module}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "EffectiveEventThreatDetectionCustomModule"
    },
    "ListEventThreatDetectionCustomModulesResponse": {
      "description": "Response for listing Event Threat Detection custom modules.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "eventThreatDetectionCustomModules": {
          "items": {
            "$ref": "EventThreatDetectionCustomModule"
          },
          "description": "Custom modules belonging to the requested parent.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListEventThreatDetectionCustomModulesResponse"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "description": "A node within the resource path. Each node represents a resource within the resource hierarchy.",
      "properties": {
        "nodeType": {
          "description": "The type of resource this node represents.",
          "type": "string",
          "enumDescriptions": [
            "Node type is unspecified.",
            "The node represents a Google Cloud organization.",
            "The node represents a Google Cloud folder.",
            "The node represents a Google Cloud project.",
            "The node represents an AWS organization.",
            "The node represents an AWS organizational unit.",
            "The node represents an AWS account.",
            "The node represents an Azure management group.",
            "The node represents an Azure subscription.",
            "The node represents an Azure resource group."
          ],
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the resource this node represents."
        },
        "id": {
          "description": "The ID of the resource this node represents.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode"
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "type": "object",
      "description": "Represents a geographical location for a given access.",
      "properties": {
        "regionCode": {
          "description": "A CLDR.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
      "type": "object",
      "description": "Represents an ADC template associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of an ADC Application Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "type": "object",
      "description": "The mute information of the issue.",
      "properties": {
        "muteInitiator": {
          "type": "string",
          "description": "The email address of the user who last changed the mute state of the issue."
        },
        "muteUpdateTime": {
          "description": "The time the issue was muted.",
          "type": "string",
          "format": "google-datetime"
        },
        "muteState": {
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "description": "Output only. The mute state of the issue.",
          "enumDescriptions": [
            "Unspecified mute state.",
            "Not muted.",
            "Muted."
          ],
          "readOnly": true,
          "type": "string"
        },
        "muteReason": {
          "description": "The user-provided reason for muting the issue.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueMute"
    },
    "ListAssetsResponse": {
      "description": "Response message for listing assets.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "listAssetsResults": {
          "items": {
            "$ref": "ListAssetsResult"
          },
          "type": "array",
          "description": "Assets matching the list request."
        },
        "readTime": {
          "type": "string",
          "description": "Time used for executing the list request.",
          "format": "google-datetime"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of assets matching the query.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ListAssetsResponse"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "type": "object",
      "description": "Represents what's commonly known as an _indicator of compromise_ (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
      "properties": {
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "description": "The list of IP addresses that are associated with the finding.",
          "type": "array"
        },
        "signatures": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          },
          "type": "array",
          "description": "The list of matched signatures indicating that the given process is present in the environment."
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "description": "List of domains associated to the Finding.",
          "type": "array"
        },
        "uris": {
          "type": "array",
          "description": "The list of URIs associated to the Findings.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Indicator"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication",
      "type": "object",
      "description": "Represents an ADC application associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}"
        },
        "attributes": {
          "description": "Consumer provided attributes for the AppHub application.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      }
    },
    "GroupMembership": {
      "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way.",
      "properties": {
        "groupType": {
          "enumDescriptions": [
            "Default value.",
            "Group represents a toxic combination.",
            "Group represents a chokepoint."
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "description": "Type of group.",
          "type": "string"
        },
        "groupId": {
          "type": "string",
          "description": "ID of the group."
        }
      },
      "type": "object",
      "id": "GroupMembership"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "description": "Identity delegation history of an authenticated service account.",
      "properties": {
        "principalEmail": {
          "type": "string",
          "description": "The email address of a Google account."
        },
        "principalSubject": {
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PortRange": {
      "id": "PortRange",
      "description": "A port range which is inclusive of the min and max values. Values are between 0 and 2^16-1. The max can be equal / must be not smaller than the min value. If min and max are equal this indicates that it is a single port.",
      "properties": {
        "min": {
          "description": "Minimum port value.",
          "type": "string",
          "format": "int64"
        },
        "max": {
          "description": "Maximum port value.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "DataAccessEvent": {
      "type": "object",
      "description": "Details about a data access attempt made by a principal not authorized under applicable data security policy.",
      "properties": {
        "principalEmail": {
          "description": "The email address of the principal that accessed the data. The principal could be a user account, service account, Google group, or other.",
          "type": "string"
        },
        "eventId": {
          "description": "Unique identifier for data access event.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "Timestamp of data access event.",
          "format": "google-datetime"
        },
        "operation": {
          "description": "The operation performed by the principal to access the data.",
          "type": "string",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        }
      },
      "id": "DataAccessEvent"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "id": "GoogleCloudSecuritycenterV2ProcessSignature",
      "type": "object",
      "description": "Indicates what signature matched this process.",
      "properties": {
        "yaraRuleSignature": {
          "description": "Signature indicating that a YARA rule was matched.",
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        },
        "signatureType": {
          "enumDescriptions": [
            "The default signature type.",
            "Used for signatures concerning processes.",
            "Used for signatures concerning disks."
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string",
          "description": "Describes the type of resource associated with the signature."
        },
        "memoryHashSignature": {
          "description": "Signature indicating that a binary family was matched.",
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        }
      }
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "description": "Type of information detected by the API.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$_-]{1,64}`."
        },
        "sensitivityScore": {
          "description": "Optional custom sensitivity for this InfoType. This only applies to data profiling.",
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        },
        "version": {
          "type": "string",
          "description": "Optional version name for this InfoType."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2InfoType"
    },
    "Contact": {
      "type": "object",
      "description": "The email address of a contact.",
      "properties": {
        "email": {
          "type": "string",
          "description": "An email address. For example, \"`person123@company.com`\"."
        }
      },
      "id": "Contact"
    },
    "RunAssetDiscoveryRequest": {
      "description": "Request message for running asset discovery for an organization.",
      "properties": {},
      "type": "object",
      "id": "RunAssetDiscoveryRequest"
    },
    "AccessReview": {
      "id": "AccessReview",
      "type": "object",
      "description": "Conveys information about a Kubernetes access review (such as one returned by a [`kubectl auth can-i`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access) command) that was involved in a finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource being requested. Empty means all."
        },
        "ns": {
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty).",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "A Kubernetes resource API verb, like get, list, watch, create, update, delete, proxy. \"*\" means all."
        },
        "resource": {
          "description": "The optional resource type requested. \"*\" means all.",
          "type": "string"
        },
        "subresource": {
          "description": "The optional subresource type.",
          "type": "string"
        },
        "group": {
          "type": "string",
          "description": "The API group of the resource. \"*\" means all."
        },
        "version": {
          "description": "The API version of the resource. \"*\" means all.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "description": "The CVE of the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The CVE name."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve"
    },
    "Geolocation": {
      "description": "Represents a geographical location for a given access.",
      "properties": {
        "regionCode": {
          "description": "A CLDR.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Geolocation"
    },
    "VulnerabilityCountBySeverity": {
      "id": "VulnerabilityCountBySeverity",
      "type": "object",
      "description": "Vulnerability count by severity.",
      "properties": {
        "severityToFindingCount": {
          "description": "Key is the Severity enum.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "AffectedResources": {
      "id": "AffectedResources",
      "type": "object",
      "description": "Details about resources affected by this finding.",
      "properties": {
        "count": {
          "format": "int64",
          "description": "The count of resources affected by the finding.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "type": "object",
      "description": "Azure metadata associated with the resource, only applicable if the finding's cloud provider is Microsoft Azure.",
      "properties": {
        "subscription": {
          "description": "The Azure subscription associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        },
        "resourceGroup": {
          "description": "The Azure resource group associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "tenant": {
          "description": "The Azure Entra tenant associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        },
        "managementGroups": {
          "type": "array",
          "description": "A list of Azure management groups associated with the resource, ordered from lowest level (closest to the subscription) to highest level.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureMetadata"
    },
    "GroupAssetsResponse": {
      "id": "GroupAssetsResponse",
      "description": "Response message for grouping by assets.",
      "properties": {
        "groupByResults": {
          "type": "array",
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time used for executing the groupBy request."
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of results matching the query.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourcePath": {
      "description": "Represents the path of resources leading up to the resource this finding is about.",
      "properties": {
        "nodes": {
          "description": "The list of nodes that make the up resource path, ordered from lowest level to highest level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourcePathNode"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourcePath"
    },
    "Access": {
      "id": "Access",
      "description": "Represents an access event.",
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\""
        },
        "callerIp": {
          "description": "Caller's IP address, such as \"1.1.1.1\".",
          "type": "string"
        },
        "userAgentFamily": {
          "description": "Type of user agent associated with the finding. For example, an operating system shell or an embedded or standalone application.",
          "type": "string"
        },
        "callerIpGeo": {
          "description": "The caller IP's geolocation, which identifies where the call came from.",
          "$ref": "Geolocation"
        },
        "methodName": {
          "description": "The method that the service account called, e.g. \"SetIamPolicy\".",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "The caller's user agent string associated with the finding."
        },
        "serviceAccountKeyName": {
          "description": "The name of the service account key that was used to create or exchange credentials when authenticating the service account that made the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\". ",
          "type": "string"
        },
        "principalEmail": {
          "type": "string",
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user or a service account acting on behalf of a third party principal making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id)."
        },
        "userName": {
          "description": "A string that represents a username. The username provided depends on the type of the finding and is likely not an IAM principal. For example, this can be a system username if the finding is related to a virtual machine, or it can be an application login username.",
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "type": "array",
          "description": "The identity delegation history of an authenticated service account that made the request. The `serviceAccountDelegationInfo[]` object contains information about the real authorities that try to access Google Cloud resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events."
        },
        "principalSubject": {
          "description": "A string that represents the principal_subject that is associated with the identity. Unlike `principal_email`, `principal_subject` supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format is `principal://iam.googleapis.com/{identity pool name}/subject/{subject}`. Some GKE identities, such as GKE_WORKLOAD, FREEFORM, and GKE_HUB_WORKLOAD, still use the legacy format `serviceAccount:{identity pool name}[{subject}]`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "KernelRootkit": {
      "type": "object",
      "description": "Kernel mode rootkit signatures.",
      "properties": {
        "name": {
          "description": "Rootkit name, when available.",
          "type": "string"
        },
        "unexpectedKprobeHandler": {
          "description": "True if `kprobe` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean",
          "description": "True if interrupt handlers that are are not in the expected kernel or module code regions are present."
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean",
          "description": "True if system call handlers that are are not in the expected kernel or module code regions are present."
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean",
          "description": "True if unexpected modifications of kernel read-only data memory are present."
        },
        "unexpectedCodeModification": {
          "description": "True if unexpected modifications of kernel code memory are present.",
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean",
          "description": "True if kernel code pages that are not in the expected kernel or module code regions are present."
        },
        "unexpectedFtraceHandler": {
          "type": "boolean",
          "description": "True if `ftrace` points are present with callbacks pointing to regions that are not in the expected kernel or module code range."
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean",
          "description": "True if unexpected processes in the scheduler run queue are present. Such processes are in the run queue, but not in the process task list."
        }
      },
      "id": "KernelRootkit"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "type": "object",
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. This field will be ignored if provided on config creation. The following list shows some examples of the format: + `organizations/{organization}/muteConfigs/{mute_config}` + `organizations/{organization}locations/{location}//muteConfigs/{mute_config}` + `folders/{folder}/muteConfigs/{mute_config}` + `folders/{folder}/locations/{location}/muteConfigs/{mute_config}` + `projects/{project}/muteConfigs/{mute_config}` + `projects/{project}/locations/{location}/muteConfigs/{mute_config}`",
          "type": "string"
        },
        "description": {
          "description": "A description of the mute config.",
          "type": "string"
        },
        "mostRecentEditor": {
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "readOnly": true,
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "description": "Optional. The expiry of the mute config. Only applicable for dynamic configs. If the expiry is set, when the config expires, it is removed from all findings.",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the mute config, which determines what type of mute state the config affects. Immutable after creation.",
          "enumDescriptions": [
            "Unused.",
            "A static mute config, which sets the static mute state of future matching findings to muted. Once the static mute state has been set, finding or config modifications will not affect the state.",
            "A dynamic mute config, which is applied to existing and future matching findings, setting their dynamic mute state to \"muted\". If the config is updated or deleted, or a matching finding is updated, such that the finding doesn't match the config, the config will be removed from the finding, and the finding's dynamic mute state may become \"unmuted\" (unless other configs still match)."
          ],
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "readOnly": true,
          "type": "string"
        },
        "cryptoKeyName": {
          "description": "Output only. The resource name of the Cloud KMS `CryptoKey` used to encrypt this configuration data, if CMEK was enabled during Security Command Center activation.",
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin",
      "type": "object",
      "description": "The security bulletin of the finding.",
      "properties": {
        "name": {
          "description": "The security bulletin name.",
          "type": "string"
        }
      }
    },
    "OrganizationSettings": {
      "type": "object",
      "description": "User specified settings that are attached to the Security Command Center organization.",
      "properties": {
        "enableAssetDiscovery": {
          "description": "A flag that indicates if Asset Discovery should be enabled. If the flag is set to `true`, then discovery of assets will occur. If it is set to `false`, all historical assets will remain, but discovery of future assets will not occur.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\"."
        },
        "assetDiscoveryConfig": {
          "description": "The configuration used for Asset Discovery runs.",
          "$ref": "AssetDiscoveryConfig"
        }
      },
      "id": "OrganizationSettings"
    },
    "Kubernetes": {
      "description": "Kubernetes-related attributes.",
      "properties": {
        "roles": {
          "items": {
            "$ref": "Role"
          },
          "type": "array",
          "description": "Provides Kubernetes role information for findings that involve [Roles or ClusterRoles](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control)."
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "description": "Provides Kubernetes [node](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture#nodes) information.",
          "type": "array"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "description": "Provides Kubernetes role binding information for findings that involve [RoleBindings or ClusterRoleBindings](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "type": "array"
        },
        "accessReviews": {
          "items": {
            "$ref": "AccessReview"
          },
          "type": "array",
          "description": "Provides information on any Kubernetes access reviews (privilege checks) relevant to the finding."
        },
        "objects": {
          "description": "Kubernetes objects related to the finding.",
          "type": "array",
          "items": {
            "$ref": "Object"
          }
        },
        "nodePools": {
          "type": "array",
          "description": "GKE [node pools](https://cloud.google.com/kubernetes-engine/docs/concepts/node-pools) associated with the finding. This field contains node pool information for each node, when it is available.",
          "items": {
            "$ref": "NodePool"
          }
        },
        "pods": {
          "type": "array",
          "description": "Kubernetes [Pods](https://cloud.google.com/kubernetes-engine/docs/concepts/pod) associated with the finding. This field contains Pod records for each container that is owned by a Pod.",
          "items": {
            "$ref": "Pod"
          }
        }
      },
      "type": "object",
      "id": "Kubernetes"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "id": "GoogleCloudSecuritycenterV2Connection",
      "type": "object",
      "description": "Contains information about the IP connection associated with the finding.",
      "properties": {
        "sourcePort": {
          "format": "int32",
          "description": "Source port.",
          "type": "integer"
        },
        "destinationIp": {
          "type": "string",
          "description": "Destination IP address. Not present for sockets that are listening and not connected."
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer",
          "description": "Destination port. Not present for sockets that are listening and not connected."
        },
        "sourceIp": {
          "type": "string",
          "description": "Source IP address."
        },
        "protocol": {
          "type": "string",
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "type": "object",
      "description": "An attack exposure contains the results of an attack path simulation run.",
      "properties": {
        "score": {
          "description": "A number between 0 (inclusive) and infinity that represents how important this finding is to remediate. The higher the score, the more important it is to remediate.",
          "type": "number",
          "format": "double"
        },
        "state": {
          "description": "Output only. What state this AttackExposure is in. This captures whether or not an attack exposure has been calculated or not.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is not specified.",
            "The attack exposure has been calculated.",
            "The attack exposure has not been calculated."
          ]
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "description": "The number of high value resources that are exposed as a result of this finding.",
          "type": "integer"
        },
        "attackExposureResult": {
          "description": "The resource name of the attack path simulation result that contains the details regarding this attack exposure score. Example: `organizations/123/simulations/456/attackExposureResults/789`",
          "type": "string"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "description": "The number of high value resources that are exposed as a result of this finding.",
          "type": "integer"
        },
        "exposedMediumValueResourcesCount": {
          "description": "The number of medium value resources that are exposed as a result of this finding.",
          "type": "integer",
          "format": "int32"
        },
        "latestCalculationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The most recent time the attack exposure was updated on this finding."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder"
    },
    "ResourcePathNode": {
      "type": "object",
      "description": "A node within the resource path. Each node represents a resource within the resource hierarchy.",
      "properties": {
        "nodeType": {
          "enumDescriptions": [
            "Node type is unspecified.",
            "The node represents a Google Cloud organization.",
            "The node represents a Google Cloud folder.",
            "The node represents a Google Cloud project.",
            "The node represents an AWS organization.",
            "The node represents an AWS organizational unit.",
            "The node represents an AWS account.",
            "The node represents an Azure management group.",
            "The node represents an Azure subscription.",
            "The node represents an Azure resource group."
          ],
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "description": "The type of resource this node represents.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the resource this node represents."
        },
        "id": {
          "description": "The ID of the resource this node represents.",
          "type": "string"
        }
      },
      "id": "ResourcePathNode"
    },
    "AttackPath": {
      "type": "object",
      "description": "A path that an attacker could take to reach an exposed resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The attack path name, for example, `organizations/12/simulation/34/valuedResources/56/attackPaths/78`"
        },
        "pathNodes": {
          "items": {
            "$ref": "AttackPathNode"
          },
          "description": "A list of nodes that exist in this attack path.",
          "type": "array"
        },
        "edges": {
          "type": "array",
          "description": "A list of the edges between nodes in this attack path.",
          "items": {
            "$ref": "AttackPathEdge"
          }
        }
      },
      "id": "AttackPath"
    },
    "AzureMetadata": {
      "type": "object",
      "description": "Azure metadata associated with the resource, only applicable if the finding's cloud provider is Microsoft Azure.",
      "properties": {
        "subscription": {
          "description": "The Azure subscription associated with the resource.",
          "$ref": "AzureSubscription"
        },
        "resourceGroup": {
          "description": "The Azure resource group associated with the resource.",
          "$ref": "AzureResourceGroup"
        },
        "tenant": {
          "description": "The Azure Entra tenant associated with the resource.",
          "$ref": "AzureTenant"
        },
        "managementGroups": {
          "description": "A list of Azure management groups associated with the resource, ordered from lowest level (closest to the subscription) to highest level.",
          "type": "array",
          "items": {
            "$ref": "AzureManagementGroup"
          }
        }
      },
      "id": "AzureMetadata"
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse",
      "type": "object",
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "description": "Environment of the Application, Service, or Workload",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "description": "Environment Type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
    },
    "Allowed": {
      "description": "Allowed IP rule.",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "description": "Optional. Optional list of allowed IP rules.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Allowed"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "GoogleCloudSecuritycenterV2Detection": {
      "id": "GoogleCloudSecuritycenterV2Detection",
      "type": "object",
      "description": "Memory hash detection contributing to the binary family match.",
      "properties": {
        "binary": {
          "description": "The name of the binary associated with the memory hash signature detection.",
          "type": "string"
        },
        "percentPagesMatched": {
          "format": "double",
          "type": "number",
          "description": "The percentage of memory page hashes in the signature that were matched."
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "description": "Defines the properties in a custom module configuration for Security Health Analytics. Use the custom module configuration to create custom detectors that generate custom findings for resources that you specify.",
      "properties": {
        "recommendation": {
          "description": "An explanation of the recommended steps that security teams can take to resolve the detected issue. This explanation is returned with each finding generated by this module in the `nextSteps` property of the finding JSON.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity to assign to findings generated by the module.",
          "type": "string"
        },
        "predicate": {
          "description": "The CEL expression to evaluate to produce findings. When the expression evaluates to true against a resource, a finding is generated.",
          "$ref": "Expr"
        },
        "customOutput": {
          "description": "Custom output properties.",
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "resourceSelector": {
          "description": "The resource types that the custom module operates on. Each custom module can specify up to 5 resource types.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "description": {
          "description": "Text that describes the vulnerability or misconfiguration that the custom module detects. This explanation is returned with each finding instance to help investigators understand the detected issue. The text must be enclosed in quotation marks.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SimulatedResource": {
      "id": "SimulatedResource",
      "description": "Manually constructed resource name. If the custom module evaluates against only the resource data, you can omit the `iam_policy_data` field. If it evaluates only the `iam_policy_data` field, you can omit the resource data.",
      "properties": {
        "resourceType": {
          "description": "Required. The type of the resource, for example, `compute.googleapis.com/Disk`.",
          "type": "string"
        },
        "iamPolicyData": {
          "description": "Optional. A representation of the IAM policy.",
          "$ref": "Policy"
        },
        "resourceData": {
          "type": "object",
          "description": "Optional. A representation of the Google Cloud resource. Should match the Google Cloud resource JSON format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "FileOperation": {
      "id": "FileOperation",
      "type": "object",
      "description": "Operation(s) performed on a file.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents an open operation.",
            "Represents a read operation.",
            "Represents a rename operation.",
            "Represents a write operation.",
            "Represents an execute operation."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "type": "string",
          "description": "The type of the operation"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "description": "Consumer provided attributes for the application",
      "properties": {
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array",
          "description": "Operator team that ensures runtime and operations."
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "description": "Business team that ensures user needs are met and value is delivered",
          "type": "array"
        },
        "environment": {
          "description": "User-defined environment information.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "description": "Developer team that owns development and coding.",
          "type": "array"
        },
        "criticality": {
          "description": "User-defined criticality information.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "description": "Configures how to deliver Findings to BigQuery Instance.",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "The dataset to write findings' updates to. Its format is \"projects/[project_id]/datasets/[bigquery_dataset_id]\". BigQuery dataset unique ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_)."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the BigQuery export was updated. This field is set by the server and will be ignored if provided on export creation or update.",
          "readOnly": true,
          "type": "string"
        },
        "cryptoKeyName": {
          "description": "Output only. The resource name of the Cloud KMS `CryptoKey` used to protect this configuration's data, if configured during Security Command Center activation.",
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across create/update events of findings. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes."
        },
        "principal": {
          "type": "string",
          "description": "Output only. The service account that needs permission to create table and upload data to the BigQuery dataset.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which the BigQuery export was created. This field is set by the server and will be ignored if provided on export on creation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. The following list shows some examples: + `organizations/{organization_id}/locations/{location_id}/bigQueryExports/{export_id}` + `folders/{folder_id}/locations/{location_id}/bigQueryExports/{export_id}` + `projects/{project_id}/locations/{location_id}/bigQueryExports/{export_id}` This field is provided in responses, and is ignored when provided in create requests."
        },
        "description": {
          "type": "string",
          "description": "The description of the export (max of 1024 characters)."
        },
        "mostRecentEditor": {
          "type": "string",
          "description": "Output only. Email address of the user who last edited the BigQuery export. This field is set by the server and will be ignored if provided on export creation or update.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Detection": {
      "type": "object",
      "description": "Memory hash detection contributing to the binary family match.",
      "properties": {
        "binary": {
          "description": "The name of the binary associated with the memory hash signature detection.",
          "type": "string"
        },
        "percentPagesMatched": {
          "format": "double",
          "type": "number",
          "description": "The percentage of memory page hashes in the signature that were matched."
        }
      },
      "id": "Detection"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "description": "Security context associated with an issue.",
      "properties": {
        "context": {
          "description": "The context of the security context.",
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        },
        "aggregatedCount": {
          "description": "The aggregated count of the security context.",
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext"
    },
    "BulkMuteFindingsRequest": {
      "description": "Request message for bulk findings update. Note: 1. If multiple bulk update requests match the same resource, the order in which they get executed is not defined. 2. Once a bulk operation is started, there is no way to stop it.",
      "properties": {
        "muteAnnotation": {
          "deprecated": true,
          "type": "string",
          "description": "This can be a mute configuration name or any identifier for mute/unmute of findings based on the filter."
        },
        "filter": {
          "type": "string",
          "description": "Expression that identifies findings that should be updated. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes."
        },
        "muteState": {
          "description": "Optional. All findings matching the given filter will have their mute state set to this value. The default value is `MUTED`. Setting this to `UNDEFINED` will clear the mute state on all matching findings.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Matching findings will be muted (default).",
            "Matching findings will have their mute state cleared."
          ],
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "MUTED",
            "UNDEFINED"
          ]
        }
      },
      "type": "object",
      "id": "BulkMuteFindingsRequest"
    },
    "CloudLoggingEntry": {
      "type": "object",
      "description": "Metadata taken from a [Cloud Logging LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry)",
      "properties": {
        "logId": {
          "type": "string",
          "description": "The type of the log (part of `log_name`. `log_name` is the resource name of the log to which this log entry belongs). For example: `cloudresourcemanager.googleapis.com/activity`. Note that this field is not URL-encoded, unlike the `LOG_ID` field in `LogEntry`."
        },
        "resourceContainer": {
          "type": "string",
          "description": "The organization, folder, or project of the monitored resource that produced this log entry."
        },
        "insertId": {
          "type": "string",
          "description": "A unique identifier for the log entry."
        },
        "timestamp": {
          "type": "string",
          "description": "The time the event described by the log entry occurred.",
          "format": "google-datetime"
        }
      },
      "id": "CloudLoggingEntry"
    },
    "ResourcePath": {
      "id": "ResourcePath",
      "description": "Represents the path of resources leading up to the resource this finding is about.",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "ResourcePathNode"
          },
          "type": "array",
          "description": "The list of nodes that make the up resource path, ordered from lowest level to highest level."
        }
      },
      "type": "object"
    },
    "BatchCreateResourceValueConfigsResponse": {
      "description": "Response message for BatchCreateResourceValueConfigs",
      "properties": {
        "resourceValueConfigs": {
          "description": "The resource value configs created",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
          }
        }
      },
      "type": "object",
      "id": "BatchCreateResourceValueConfigsResponse"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
      "type": "object",
      "description": "The AWS account of the resource associated with the issue.",
      "properties": {
        "id": {
          "description": "The AWS account ID of the resource associated with the issue.",
          "type": "string"
        },
        "name": {
          "description": "The AWS account name of the resource associated with the issue.",
          "type": "string"
        }
      }
    },
    "ListBigQueryExportsResponse": {
      "description": "Response message for listing BigQuery exports.",
      "properties": {
        "bigQueryExports": {
          "description": "The BigQuery exports from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListBigQueryExportsResponse"
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding.",
      "properties": {
        "name": {
          "description": "Name for the binding.",
          "type": "string"
        },
        "ns": {
          "description": "Namespace for the binding.",
          "type": "string"
        },
        "role": {
          "description": "The Role or ClusterRole referenced by the binding.",
          "$ref": "Role"
        },
        "subjects": {
          "type": "array",
          "description": "Represents one or more subjects that are bound to the role. Not always available for PATCH requests.",
          "items": {
            "$ref": "Subject"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Binding"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "id": "GoogleCloudSecuritycenterV2Network",
      "description": "Contains information about a VPC network associated with the finding.",
      "properties": {
        "name": {
          "description": "The name of the VPC network resource, for example, `//compute.googleapis.com/projects/my-project/global/networks/my-network`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Asset": {
      "id": "Asset",
      "description": "Security Command Center representation of a Google Cloud resource. The Asset is a Security Command Center resource that captures information about a single Google Cloud resource. All modifications to an Asset are only within the context of Security Command Center and don't affect the referenced Google Cloud resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of this asset. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/assets/{asset_id}\"."
        },
        "canonicalName": {
          "description": "The canonical name of the resource. It's either \"organizations/{organization_id}/assets/{asset_id}\", \"folders/{folder_id}/assets/{asset_id}\" or \"projects/{project_number}/assets/{asset_id}\", depending on the closest CRM ancestor of the resource.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "The time at which the asset was last updated or added in Cloud SCC.",
          "format": "google-datetime"
        },
        "iamPolicy": {
          "description": "Cloud IAM Policy information associated with the Google Cloud resource described by the Security Command Center asset. This information is managed and defined by the Google Cloud resource and cannot be modified by the user.",
          "$ref": "IamPolicy"
        },
        "resourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Resource managed properties. These properties are managed and defined by the Google Cloud resource and cannot be modified by the user."
        },
        "securityMarks": {
          "description": "User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the asset.",
          "$ref": "SecurityMarks"
        },
        "securityCenterProperties": {
          "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user.",
          "$ref": "SecurityCenterProperties"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the asset was created in Security Command Center."
        }
      },
      "type": "object"
    },
    "GroupResult": {
      "description": "Result containing the properties and count of a groupBy request.",
      "properties": {
        "count": {
          "type": "string",
          "description": "Total count of resources for the given properties.",
          "format": "int64"
        },
        "properties": {
          "type": "object",
          "description": "Properties matching the groupBy fields in the request.",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "GroupResult"
    },
    "DataFlowEvent": {
      "description": "Details about a data flow event, in which either the data is moved to or is accessed from a non-compliant geo-location, as defined in the applicable data security policy.",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Unique identifier for data flow event."
        },
        "principalEmail": {
          "type": "string",
          "description": "The email address of the principal that initiated the data flow event. The principal could be a user account, service account, Google group, or other."
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of data flow event."
        },
        "operation": {
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string",
          "description": "The operation performed by the principal for the data flow event."
        },
        "violatedLocation": {
          "type": "string",
          "description": "Non-compliant location of the principal or the data destination."
        }
      },
      "type": "object",
      "id": "DataFlowEvent"
    },
    "Network": {
      "description": "Contains information about a VPC network associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the VPC network resource, for example, `//compute.googleapis.com/projects/my-project/global/networks/my-network`."
        }
      },
      "type": "object",
      "id": "Network"
    },
    "ProcessSignature": {
      "description": "Indicates what signature matched this process.",
      "properties": {
        "yaraRuleSignature": {
          "description": "Signature indicating that a YARA rule was matched.",
          "$ref": "YaraRuleSignature"
        },
        "signatureType": {
          "type": "string",
          "description": "Describes the type of resource associated with the signature.",
          "enumDescriptions": [
            "The default signature type.",
            "Used for signatures concerning processes.",
            "Used for signatures concerning disks."
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ]
        },
        "memoryHashSignature": {
          "description": "Signature indicating that a binary family was matched.",
          "$ref": "MemoryHashSignature"
        }
      },
      "type": "object",
      "id": "ProcessSignature"
    },
    "EnvironmentVariable": {
      "description": "A name-value pair representing an environment variable used in an operating system process.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Environment variable name as a JSON encoded string."
        },
        "val": {
          "description": "Environment variable value as a JSON encoded string.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnvironmentVariable"
    },
    "AttackExposure": {
      "id": "AttackExposure",
      "type": "object",
      "description": "An attack exposure contains the results of an attack path simulation run.",
      "properties": {
        "score": {
          "format": "double",
          "description": "A number between 0 (inclusive) and infinity that represents how important this finding is to remediate. The higher the score, the more important it is to remediate.",
          "type": "number"
        },
        "state": {
          "type": "string",
          "description": "What state this AttackExposure is in. This captures whether or not an attack exposure has been calculated or not.",
          "enumDescriptions": [
            "The state is not specified.",
            "The attack exposure has been calculated.",
            "The attack exposure has not been calculated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ]
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "description": "The number of high value resources that are exposed as a result of this finding.",
          "format": "int32"
        },
        "latestCalculationTime": {
          "description": "The most recent time the attack exposure was updated on this finding.",
          "type": "string",
          "format": "google-datetime"
        },
        "attackExposureResult": {
          "type": "string",
          "description": "The resource name of the attack path simulation result that contains the details regarding this attack exposure score. Example: `organizations/123/simulations/456/attackExposureResults/789`"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of high value resources that are exposed as a result of this finding."
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of medium value resources that are exposed as a result of this finding."
        }
      }
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "description": "Represents a Jupyter notebook IPYNB file, such as a [Colab Enterprise notebook](https://cloud.google.com/colab/docs/introduction) file, that is associated with a finding.",
      "properties": {
        "service": {
          "description": "The source notebook service, for example, \"Colab Enterprise\".",
          "type": "string"
        },
        "notebookUpdateTime": {
          "description": "The most recent time the notebook was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The name of the notebook."
        },
        "lastAuthor": {
          "description": "The user ID of the latest author to modify the notebook.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Notebook"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "IamPolicy": {
      "id": "IamPolicy",
      "description": "Cloud IAM Policy information associated with the Google Cloud resource described by the Security Command Center asset. This information is managed and defined by the Google Cloud resource and cannot be modified by the user.",
      "properties": {
        "policyBlob": {
          "description": "The JSON representation of the Policy associated with the asset. See https://cloud.google.com/iam/reference/rest/v1/Policy for format details.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AzureResourceGroup": {
      "id": "AzureResourceGroup",
      "type": "object",
      "description": "Represents an Azure resource group.",
      "properties": {
        "id": {
          "description": "The ID of the Azure resource group.",
          "type": "string"
        },
        "name": {
          "description": "The name of the Azure resource group. This is not a UUID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "id": "GoogleCloudSecuritycenterV2Exfiltration",
      "description": "Exfiltration represents a data exfiltration attempt from one or more sources to one or more targets. The `sources` attribute lists the sources of the exfiltrated data. The `targets` attribute lists the destinations the data was copied to.",
      "properties": {
        "totalExfiltratedBytes": {
          "format": "int64",
          "description": "Total exfiltrated bytes processed for the entire job.",
          "type": "string"
        },
        "targets": {
          "type": "array",
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "sources": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          },
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "id": "GoogleCloudSecuritycenterV2SecurityPosture",
      "description": "Represents a posture that is deployed on Google Cloud by the Security Command Center Posture Management service. A posture contains one or more policy sets. A policy set is a group of policies that enforce a set of security rules on Google Cloud.",
      "properties": {
        "postureDeploymentResource": {
          "description": "The project, folder, or organization on which the posture is deployed, for example, `projects/{project_number}`.",
          "type": "string"
        },
        "postureDeployment": {
          "description": "The name of the posture deployment, for example, `organizations/{org_id}/posturedeployments/{posture_deployment_id}`.",
          "type": "string"
        },
        "policySet": {
          "description": "The name of the updated policy set, for example, `cis-policyset`.",
          "type": "string"
        },
        "revisionId": {
          "description": "The version of the posture, for example, `c7cfa2a8`.",
          "type": "string"
        },
        "name": {
          "description": "Name of the posture, for example, `CIS-Posture`.",
          "type": "string"
        },
        "changedPolicy": {
          "type": "string",
          "description": "The name of the updated policy, for example, `projects/{project_id}/policies/{constraint_name}`."
        },
        "policy": {
          "type": "string",
          "description": "The ID of the updated policy, for example, `compute-policy-1`."
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          },
          "type": "array",
          "description": "The details about a change in an updated policy that violates the deployed posture."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "description": "Environment of the Application, Service, or Workload",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string",
          "description": "Environment Type."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
    },
    "Pod": {
      "id": "Pod",
      "type": "object",
      "description": "A Kubernetes Pod.",
      "properties": {
        "ns": {
          "description": "Kubernetes Pod namespace.",
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array",
          "description": "Pod containers associated with this finding, if any."
        },
        "name": {
          "type": "string",
          "description": "Kubernetes Pod name."
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "description": "Pod labels. For Kubernetes containers, these are applied to the container.",
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "description": "Resource value mapping for Sensitive Data Protection findings If any of these mappings have a resource value that is not unspecified, the resource_value field will be ignored when reading this configuration.",
      "properties": {
        "highSensitivityMapping": {
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "description": "Resource value mapping for high-sensitivity Sensitive Data Protection findings",
          "type": "string"
        },
        "mediumSensitivityMapping": {
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "description": "Resource value mapping for medium-sensitivity Sensitive Data Protection findings",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "description": "Response of asset discovery run",
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "description": "The state of an asset discovery run.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "type": "object",
      "description": "The destination BigQuery dataset to export findings to.",
      "properties": {
        "dataset": {
          "description": "Required. The relative resource name of the destination dataset, in the form projects/{projectId}/datasets/{datasetId}.",
          "type": "string"
        }
      }
    },
    "AzureTenant": {
      "description": "Represents a Microsoft Entra tenant.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the Microsoft Entra tenant, for example, \"a11aaa11-aa11-1aa1-11aa-1aaa11a\"."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the Azure tenant."
        }
      },
      "type": "object",
      "id": "AzureTenant"
    },
    "ArtifactGuardPolicies": {
      "id": "ArtifactGuardPolicies",
      "description": "Represents the result of evaluating artifact guard policies.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ID of the resource that has policies configured for it."
        },
        "failingPolicies": {
          "items": {
            "$ref": "ArtifactGuardPolicy"
          },
          "description": "A list of failing policies.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Chokepoint": {
      "id": "Chokepoint",
      "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations).",
      "properties": {
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "description": "List of resource names of findings associated with this chokepoint. For example, organizations/123/sources/456/findings/789. This list will have at most 100 findings.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "type": "object",
      "description": "Metadata taken from a [Cloud Logging LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry)",
      "properties": {
        "insertId": {
          "description": "A unique identifier for the log entry.",
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the event described by the log entry occurred."
        },
        "logId": {
          "description": "The type of the log (part of `log_name`. `log_name` is the resource name of the log to which this log entry belongs). For example: `cloudresourcemanager.googleapis.com/activity` Note that this field is not URL-encoded, unlike in `LogEntry`.",
          "type": "string"
        },
        "resourceContainer": {
          "description": "The organization, folder, or project of the monitored resource that produced this log entry.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
    },
    "GoogleCloudSecuritycenterV2Allowed": {
      "type": "object",
      "description": "Allowed IP rule.",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          },
          "type": "array",
          "description": "Optional. Optional list of allowed IP rules."
        }
      },
      "id": "GoogleCloudSecuritycenterV2Allowed"
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "description": "Contains details about a group of security issues that, when the issues occur together, represent a greater risk than when the issues occur independently. A group of such issues is referred to as a toxic combination.",
      "properties": {
        "attackExposureScore": {
          "description": "The [Attack exposure score](https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_exposure_scores) of this toxic combination. The score is a measure of how much this toxic combination exposes one or more high-value resources to potential attack.",
          "type": "number",
          "format": "double"
        },
        "relatedFindings": {
          "description": "List of resource names of findings associated with this toxic combination. For example, `organizations/123/sources/456/findings/789`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ToxicCombination"
    },
    "PathNodeAssociatedFinding": {
      "description": "A finding that is associated with this node in the attack path.",
      "properties": {
        "canonicalFinding": {
          "description": "Canonical name of the associated findings. Example: `organizations/123/sources/456/findings/789`",
          "type": "string"
        },
        "findingCategory": {
          "description": "The additional taxonomy group within findings from a given source.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Full resource name of the finding."
        }
      },
      "type": "object",
      "id": "PathNodeAssociatedFinding"
    },
[...]
