{
  "canonicalName": "Security Command Center",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "name": "securitycenter",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "version": "v1beta2",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "title": "Security Command Center API",
  "kind": "discovery#restDescription",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "version_module": true,
  "schemas": {
    "Node": {
      "id": "Node",
      "properties": {
        "name": {
          "description": "[Full resource name](https://google.aip.dev/122#full-resource-names) of the Compute Engine VM running the cluster node.",
          "type": "string"
        }
      },
      "description": "Kubernetes nodes associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "id": "GoogleCloudSecuritycenterV2Dataset",
      "properties": {
        "displayName": {
          "description": "The user defined display name of dataset, e.g. plants-dataset",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the dataset, e.g. projects/{project}/locations/{location}/datasets/2094040236064505856",
          "type": "string"
        },
        "source": {
          "description": "Data source, such as a BigQuery source URI, e.g. bq://scc-nexus-test.AIPPtest.gsod",
          "type": "string"
        }
      },
      "description": "Vertex AI dataset associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "type": "object",
      "description": "The AWS account of the resource associated with the issue.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The AWS account name of the resource associated with the issue."
        },
        "id": {
          "type": "string",
          "description": "The AWS account ID of the resource associated with the issue."
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
    },
    "GoogleCloudSecuritycenterV2PortRange": {
      "description": "A port range which is inclusive of the min and max values. Values are between 0 and 2^16-1. The max can be equal / must be not smaller than the min value. If min and max are equal this indicates that it is a single port.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PortRange",
      "properties": {
        "min": {
          "format": "int64",
          "type": "string",
          "description": "Minimum port value."
        },
        "max": {
          "format": "int64",
          "description": "Maximum port value.",
          "type": "string"
        }
      }
    },
    "OrgPolicy": {
      "description": "Contains information about the org policies associated with the finding.",
      "type": "object",
      "id": "OrgPolicy",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the org policy. Example: \"organizations/{organization_id}/policies/{constraint_name}\""
        }
      }
    },
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "id": "GoogleCloudSecuritycenterV2LoadBalancer",
      "properties": {
        "name": {
          "description": "The name of the load balancer associated with the finding.",
          "type": "string"
        }
      },
      "description": "Contains information related to the load balancer associated with the finding.",
      "type": "object"
    },
    "GcpMetadata": {
      "type": "object",
      "description": "Google Cloud metadata associated with the resource. Only applicable if the finding's cloud provider is Google Cloud.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "organization": {
          "description": "The name of the organization that the resource belongs to.",
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project ID that the resource belongs to."
        },
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "type": "array",
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true
        }
      },
      "id": "GcpMetadata"
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          },
          "type": "array",
          "description": "Optional. Optional list of denied IP rules."
        }
      },
      "id": "GoogleCloudSecuritycenterV2Denied",
      "type": "object",
      "description": "Denied IP rule."
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "type": "object",
      "description": "Information related to the Google Cloud resource.",
      "properties": {
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata",
          "description": "The AWS metadata associated with the finding."
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath",
          "description": "Provides the path to the resource within the resource hierarchy."
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
          "description": "The ADC template associated with the finding."
        },
        "displayName": {
          "description": "The human readable name of the resource.",
          "type": "string"
        },
        "application": {
          "description": "The App Hub application this resource belongs to.",
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata",
          "description": "The Azure metadata associated with the finding."
        },
        "cloudProvider": {
          "description": "Indicates which cloud provider the finding is from.",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ]
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication",
          "description": "The ADC application associated with the finding."
        },
        "resourcePathString": {
          "type": "string",
          "description": "A string representation of the resource path. For Google Cloud, it has the format of `organizations/{organization_id}/folders/{folder_id}/folders/{folder_id}/projects/{project_id}` where there can be any number of folders. For AWS, it has the format of `org/{organization_id}/ou/{organizational_unit_id}/ou/{organizational_unit_id}/account/{account_id}` where there can be any number of organizational units. For Azure, it has the format of `mg/{management_group_id}/mg/{management_group_id}/subscription/{subscription_id}/rg/{resource_group_name}` where there can be any number of management groups."
        },
        "adcSharedTemplate": {
          "description": "The ADC shared template associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        },
        "type": {
          "type": "string",
          "description": "The full resource type of the resource."
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata",
          "description": "The Google Cloud metadata associated with the finding."
        },
        "location": {
          "type": "string",
          "description": "The region or location of the service (if applicable)."
        },
        "service": {
          "description": "The service or resource provider associated with the resource.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Resource"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        },
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "Finding"
        }
      },
      "description": "Cloud SCC's Notification",
      "type": "object"
    },
    "DynamicMuteRecord": {
      "id": "DynamicMuteRecord",
      "properties": {
        "muteConfig": {
          "description": "The relative resource name of the mute rule, represented by a mute config, that created this record, for example `organizations/123/muteConfigs/mymuteconfig` or `organizations/123/locations/global/muteConfigs/mymuteconfig`.",
          "type": "string"
        },
        "matchTime": {
          "description": "When the dynamic mute rule first matched the finding.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The record of a dynamic mute rule that matches the finding.",
      "type": "object"
    },
    "Container": {
      "description": "Container associated with the finding.",
      "type": "object",
      "id": "Container",
      "properties": {
        "imageId": {
          "description": "Optional container image ID, if provided by the container runtime. Uniquely identifies the container image launched using a container image digest.",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array",
          "description": "Container labels, as provided by the container runtime."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the container was created."
        },
        "uri": {
          "description": "Container image URI provided when configuring a pod or container. This string can identify a container image version using mutable tags.",
          "type": "string"
        },
        "name": {
          "description": "Name of the container.",
          "type": "string"
        }
      }
    },
    "AzureMetadata": {
      "type": "object",
      "description": "Azure metadata associated with the resource, only applicable if the finding's cloud provider is Microsoft Azure.",
      "properties": {
        "tenant": {
          "$ref": "AzureTenant",
          "description": "The Azure Entra tenant associated with the resource."
        },
        "managementGroups": {
          "items": {
            "$ref": "AzureManagementGroup"
          },
          "type": "array",
          "description": "A list of Azure management groups associated with the resource, ordered from lowest level (closest to the subscription) to highest level."
        },
        "resourceGroup": {
          "$ref": "AzureResourceGroup",
          "description": "The Azure resource group associated with the resource."
        },
        "subscription": {
          "$ref": "AzureSubscription",
          "description": "The Azure subscription associated with the resource."
        }
      },
      "id": "AzureMetadata"
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "type": "object",
      "description": "Resource where data was exfiltrated from or exfiltrated to.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource's [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name)."
        },
        "components": {
          "type": "array",
          "description": "Subcomponents of the asset that was exfiltrated, like URIs used during exfiltration, table names, databases, and filenames. For example, multiple tables might have been exfiltrated from the same Cloud SQL instance, or multiple files might have been exfiltrated from the same Cloud Storage bucket.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExfilResource"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes",
      "properties": {
        "developerOwners": {
          "type": "array",
          "description": "Developer team that owns development and coding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "description": "User-defined environment information.",
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        },
        "operatorOwners": {
          "description": "Operator team that ensures runtime and operations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality",
          "description": "User-defined criticality information."
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array",
          "description": "Business team that ensures user needs are met and value is delivered"
        }
      },
      "description": "Consumer provided attributes for the application",
      "type": "object"
    },
    "Control": {
      "id": "Control",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the control. For example, AU-02."
        },
        "controlName": {
          "type": "string",
          "description": "Name of the Control"
        }
      },
      "description": "Compliance control associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "description": "A node within the resource path. Each node represents a resource within the resource hierarchy.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "properties": {
        "nodeType": {
          "type": "string",
          "enumDescriptions": [
            "Node type is unspecified.",
            "The node represents a Google Cloud organization.",
            "The node represents a Google Cloud folder.",
            "The node represents a Google Cloud project.",
            "The node represents an AWS organization.",
            "The node represents an AWS organizational unit.",
            "The node represents an AWS account.",
            "The node represents an Azure management group.",
            "The node represents an Azure subscription.",
            "The node represents an Azure resource group."
          ],
          "description": "The type of resource this node represents.",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "id": {
          "description": "The ID of the resource this node represents.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the resource this node represents."
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudDlpDataProfile": {
      "type": "object",
      "description": "The [data profile](https://cloud.google.com/dlp/docs/data-profiles) associated with the finding.",
      "properties": {
        "parentType": {
          "description": "The resource hierarchy level at which the data profile was generated.",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified parent type.",
            "Organization-level configurations.",
            "Project-level configurations."
          ]
        },
        "dataProfile": {
          "description": "Name of the data profile, for example, `projects/123/locations/europe/tableProfiles/8383929`.",
          "type": "string"
        },
        "infoTypes": {
          "description": "Type of information detected by SDP. Info type includes name, version and sensitivity of the detected information type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InfoType"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
    },
    "IpRule": {
      "id": "IpRule",
      "properties": {
        "protocol": {
          "type": "string",
          "description": "The IP protocol this rule applies to. This value can either be one of the following well known protocol strings (TCP, UDP, ICMP, ESP, AH, IPIP, SCTP) or a string representation of the integer value."
        },
        "portRanges": {
          "type": "array",
          "description": "Optional. An optional list of ports to which this rule applies. This field is only applicable for the UDP or (S)TCP protocols. Each entry must be either an integer or a range including a min and max port number.",
          "items": {
            "$ref": "PortRange"
          }
        }
      },
      "description": "IP rule information.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "properties": {
        "envVariables": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          },
          "description": "Process environment variables.",
          "type": "array"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Process arguments as JSON encoded strings.",
          "type": "array"
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter, while `script` provides information about the script file provided to the interpreter.",
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "argumentsTruncated": {
          "description": "True if `args` is incomplete.",
          "type": "boolean"
        },
        "parentPid": {
          "format": "int64",
          "type": "string",
          "description": "The parent process ID."
        },
        "binary": {
          "description": "File information for the process executable.",
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "name": {
          "type": "string",
          "description": "The process name, as displayed in utilities like `top` and `ps`. This name can be accessed through `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`."
        },
        "userId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the user that executed the process. E.g. If this is the root user this will always be 0."
        },
        "libraries": {
          "description": "File information for libraries loaded by the process.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        },
        "pid": {
          "type": "string",
          "description": "The process ID.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Process",
      "type": "object",
      "description": "Represents an operating system process."
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "properties": {
        "roles": {
          "description": "Provides Kubernetes role information for findings that involve [Roles or ClusterRoles](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          }
        },
        "nodePools": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          },
          "description": "GKE [node pools](https://cloud.google.com/kubernetes-engine/docs/concepts/node-pools) associated with the finding. This field contains node pool information for each node, when it is available.",
          "type": "array"
        },
        "objects": {
          "type": "array",
          "description": "Kubernetes objects related to the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          }
        },
        "pods": {
          "description": "Kubernetes [Pods](https://cloud.google.com/kubernetes-engine/docs/concepts/pod) associated with the finding. This field contains Pod records for each container that is owned by a Pod.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          }
        },
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          },
          "description": "Provides Kubernetes [node](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture#nodes) information.",
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "description": "Provides Kubernetes role binding information for findings that involve [RoleBindings or ClusterRoleBindings](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          }
        },
        "accessReviews": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          },
          "description": "Provides information on any Kubernetes access reviews (privilege checks) relevant to the finding.",
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Kubernetes",
      "type": "object",
      "description": "Kubernetes-related attributes."
    },
    "Config": {
      "description": "Configuration of a module.",
      "type": "object",
      "id": "Config",
      "properties": {
        "value": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The configuration value for the module. The absence of this field implies its inheritance from the parent."
        },
        "moduleEnablementState": {
          "description": "The state of enablement for the module at its level of the resource hierarchy.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        }
      }
    },
    "MitreAttack": {
      "properties": {
        "primaryTactic": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any.",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "additionalTactics": {
          "type": "array",
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any.",
          "items": {
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ]
          }
        },
        "additionalTechniques": {
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques.",
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1001",
              "T1001.002",
              "T1003",
              "T1003.007",
              "T1003.008",
              "T1005",
              "T1020",
              "T1027",
              "T1027.003",
              "T1027.004",
              "T1027.010",
              "T1029",
              "T1033",
              "T1036",
              "T1036.005",
              "T1037",
              "T1037.005",
              "T1046",
              "T1053",
              "T1053.003",
              "T1053.007",
              "T1055",
              "T1056",
              "T1056.001",
              "T1057",
              "T1059",
              "T1059.004",
              "T1059.006",
              "T1068",
              "T1069",
              "T1069.003",
              "T1070",
              "T1070.002",
              "T1070.003",
              "T1070.004",
              "T1070.006",
              "T1070.008",
              "T1071",
              "T1071.004",
              "T1072",
              "T1078",
              "T1078.001",
              "T1078.003",
              "T1078.004",
              "T1083",
              "T1087.001",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1098",
              "T1098.001",
              "T1098.003",
              "T1098.004",
              "T1098.006",
              "T1104",
              "T1105",
              "T1106",
              "T1110",
              "T1119",
              "T1129",
              "T1132",
              "T1132.001",
              "T1134",
              "T1134.001",
              "T1136",
              "T1136.001",
              "T1140",
              "T1190",
              "T1195",
              "T1195.001",
              "T1203",
              "T1204",
              "T1212",
              "T1222.002",
              "T1484",
              "T1485",
              "T1486",
              "T1489",
              "T1490",
              "T1495",
              "T1496",
              "T1498",
              "T1526",
              "T1528",
              "T1531",
              "T1537",
              "T1539",
              "T1543",
              "T1546",
              "T1547",
              "T1547.006",
              "T1547.009",
              "T1548",
              "T1548.001",
              "T1548.003",
              "T1552",
              "T1552.001",
              "T1552.003",
              "T1552.004",
              "T1553",
              "T1553.004",
              "T1554",
              "T1555",
              "T1556",
              "T1556.003",
              "T1556.006",
              "T1562",
              "T1562.001",
              "T1562.006",
              "T1562.012",
              "T1564",
              "T1564.001",
              "T1564.002",
              "T1567",
              "T1567.002",
              "T1568",
              "T1570",
              "T1574",
              "T1574.006",
              "T1578",
              "T1578.001",
              "T1580",
              "T1587",
              "T1587.001",
              "T1588",
              "T1588.001",
              "T1588.006",
              "T1595",
              "T1595.001",
              "T1608",
              "T1608.001",
              "T1609",
              "T1610",
              "T1611",
              "T1613",
              "T1620",
              "T1649",
              "T1657"
            ]
          }
        },
        "version": {
          "type": "string",
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\"."
        },
        "primaryTechniques": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1001",
              "T1001.002",
              "T1003",
              "T1003.007",
              "T1003.008",
              "T1005",
              "T1020",
              "T1027",
              "T1027.003",
              "T1027.004",
              "T1027.010",
              "T1029",
              "T1033",
              "T1036",
              "T1036.005",
              "T1037",
              "T1037.005",
              "T1046",
              "T1053",
              "T1053.003",
              "T1053.007",
              "T1055",
              "T1056",
              "T1056.001",
              "T1057",
              "T1059",
              "T1059.004",
              "T1059.006",
              "T1068",
              "T1069",
              "T1069.003",
              "T1070",
              "T1070.002",
              "T1070.003",
              "T1070.004",
              "T1070.006",
              "T1070.008",
              "T1071",
              "T1071.004",
              "T1072",
              "T1078",
              "T1078.001",
              "T1078.003",
              "T1078.004",
              "T1083",
              "T1087.001",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1098",
              "T1098.001",
              "T1098.003",
              "T1098.004",
              "T1098.006",
              "T1104",
              "T1105",
              "T1106",
              "T1110",
              "T1119",
              "T1129",
              "T1132",
              "T1132.001",
              "T1134",
              "T1134.001",
              "T1136",
              "T1136.001",
              "T1140",
              "T1190",
              "T1195",
              "T1195.001",
              "T1203",
              "T1204",
              "T1212",
              "T1222.002",
              "T1484",
              "T1485",
              "T1486",
              "T1489",
              "T1490",
              "T1495",
              "T1496",
              "T1498",
              "T1526",
              "T1528",
              "T1531",
              "T1537",
              "T1539",
              "T1543",
              "T1546",
              "T1547",
              "T1547.006",
              "T1547.009",
              "T1548",
              "T1548.001",
              "T1548.003",
              "T1552",
              "T1552.001",
              "T1552.003",
              "T1552.004",
              "T1553",
              "T1553.004",
              "T1554",
              "T1555",
              "T1556",
              "T1556.003",
              "T1556.006",
              "T1562",
              "T1562.001",
              "T1562.006",
              "T1562.012",
              "T1564",
              "T1564.001",
              "T1564.002",
              "T1567",
              "T1567.002",
              "T1568",
              "T1570",
              "T1574",
              "T1574.006",
              "T1578",
              "T1578.001",
              "T1580",
              "T1587",
              "T1587.001",
              "T1588",
              "T1588.001",
              "T1588.006",
              "T1595",
              "T1595.001",
              "T1608",
              "T1608.001",
              "T1609",
              "T1610",
              "T1611",
              "T1613",
              "T1620",
              "T1649",
              "T1657"
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          },
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`).",
          "type": "array"
        }
      },
      "id": "MitreAttack",
      "type": "object",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org"
    },
    "ContainerThreatDetectionSettings": {
      "description": "Resource capturing the settings for the Container Threat Detection service.",
      "type": "object",
      "id": "ContainerThreatDetectionSettings",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true
        },
        "modules": {
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's configuration.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
        },
        "serviceAccount": {
          "description": "Output only. The service account used by Container Threat Detection for scanning. Service accounts are scoped at the project level meaning this field will be empty at any level above a project.",
          "readOnly": true,
          "type": "string"
        },
        "serviceEnablementState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        }
      }
    },
    "EnvironmentVariable": {
      "type": "object",
      "description": "A name-value pair representing an environment variable used in an operating system process.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Environment variable name as a JSON encoded string."
        },
        "val": {
          "description": "Environment variable value as a JSON encoded string.",
          "type": "string"
        }
      },
      "id": "EnvironmentVariable"
    },
    "Pod": {
      "id": "Pod",
      "properties": {
        "ns": {
          "description": "Kubernetes Pod namespace.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Kubernetes Pod name."
        },
        "labels": {
          "description": "Pod labels. For Kubernetes containers, these are applied to the container.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "containers": {
          "type": "array",
          "description": "Pod containers associated with this finding, if any.",
          "items": {
            "$ref": "Container"
          }
        }
      },
      "description": "A Kubernetes Pod.",
      "type": "object"
    },
    "GroupMembership": {
      "type": "object",
      "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way.",
      "properties": {
        "groupType": {
          "description": "Type of group.",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Group represents a toxic combination.",
            "Group represents a chokepoint."
          ]
        },
        "groupId": {
          "description": "ID of the group.",
          "type": "string"
        }
      },
      "id": "GroupMembership"
    },
    "FileOperation": {
      "description": "Operation(s) performed on a file.",
      "type": "object",
      "id": "FileOperation",
      "properties": {
        "type": {
          "description": "The type of the operation",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents an open operation.",
            "Represents a read operation.",
            "Represents a rename operation.",
            "Represents a write operation.",
            "Represents an execute operation."
          ]
        }
      }
    },
    "Object": {
      "id": "Object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kubernetes object kind, such as \"Namespace\"."
        },
        "containers": {
          "type": "array",
          "description": "Pod containers associated with this finding, if any.",
          "items": {
            "$ref": "Container"
          }
        },
        "ns": {
          "description": "Kubernetes object namespace. Must be a valid DNS label. Named \"ns\" to avoid collision with C++ namespace keyword. For details see https://kubernetes.io/docs/tasks/administer-cluster/namespaces/.",
          "type": "string"
        },
        "group": {
          "type": "string",
          "description": "Kubernetes object group, such as \"policy.k8s.io/v1\"."
        },
        "name": {
          "type": "string",
          "description": "Kubernetes object name. For details see https://kubernetes.io/docs/concepts/overview/working-with-objects/names/."
        }
      },
      "description": "Kubernetes object related to the finding, uniquely identified by GKNN. Used if the object Kind is not one of Pod, Node, NodePool, Binding, or AccessReview.",
      "type": "object"
    },
    "AzureTenant": {
      "id": "AzureTenant",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the Microsoft Entra tenant, for example, \"a11aaa11-aa11-1aa1-11aa-1aaa11a\"."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the Azure tenant."
        }
      },
      "description": "Represents a Microsoft Entra tenant.",
      "type": "object"
    },
    "WebSecurityScannerSettings": {
      "id": "WebSecurityScannerSettings",
      "properties": {
        "serviceEnablementState": {
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's configuration."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
        }
      },
      "description": "Resource capturing the settings for the Web Security Scanner service.",
      "type": "object"
    },
    "ResourcePathNode": {
      "type": "object",
      "description": "A node within the resource path. Each node represents a resource within the resource hierarchy.",
      "properties": {
        "nodeType": {
          "type": "string",
          "enumDescriptions": [
            "Node type is unspecified.",
            "The node represents a Google Cloud organization.",
            "The node represents a Google Cloud folder.",
            "The node represents a Google Cloud project.",
            "The node represents an AWS organization.",
            "The node represents an AWS organizational unit.",
            "The node represents an AWS account.",
            "The node represents an Azure management group.",
            "The node represents an Azure subscription.",
            "The node represents an Azure resource group."
          ],
          "description": "The type of resource this node represents.",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "id": {
          "description": "The ID of the resource this node represents.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the resource this node represents.",
          "type": "string"
        }
      },
      "id": "ResourcePathNode"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\"",
          "readOnly": true,
          "type": "string"
        },
        "enablementState": {
          "description": "Output only. The effective state of enablement for the module at the given level of the hierarchy.",
          "readOnly": true,
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given level.",
            "The module is disabled at the given level."
          ]
        },
        "customConfig": {
          "description": "Output only. The user-specified configuration for the module.",
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "cloudProvider": {
          "description": "The cloud provider of the custom module.",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services.",
            "Microsoft Azure."
          ]
        },
        "displayName": {
          "description": "Output only. The display name for the custom module. The name must be between 1 and 128 characters, start with a lowercase letter, and contain alphanumeric characters or underscores only.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "type": "object",
      "description": "An EffectiveSecurityHealthAnalyticsCustomModule is the representation of a Security Health Analytics custom module at a specified level of the resource hierarchy: organization, folder, or project. If a custom module is inherited from a parent organization or folder, the value of the `enablementState` property in EffectiveSecurityHealthAnalyticsCustomModule is set to the value that is effective in the parent, instead of `INHERITED`. For example, if the module is enabled in a parent organization or folder, the effective enablement_state for the module in all child folders or projects is also `enabled`. EffectiveSecurityHealthAnalyticsCustomModule is read-only."
    },
    "Details": {
      "type": "object",
      "description": "Details of a subscription.",
      "properties": {
        "type": {
          "description": "The type of subscription",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO",
            "PAY_AS_YOU_GO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard subscription.",
            "The trial subscription.",
            "The alpha subscription.",
            "The demo subscription for channel partners.",
            "Pay-as-you-go subscription."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the subscription has or will start."
        },
        "endTime": {
          "type": "string",
          "description": "The time the subscription has or will end.",
          "format": "google-datetime"
        }
      },
      "id": "Details"
    },
    "GoogleCloudSecuritycenterV2Package": {
      "type": "object",
      "description": "Package is a generic definition of a package.",
      "properties": {
        "packageVersion": {
          "type": "string",
          "description": "The version of the package."
        },
        "packageName": {
          "type": "string",
          "description": "The name of the package where the vulnerability was detected."
        },
        "cpeUri": {
          "description": "The CPE URI where the vulnerability was detected.",
          "type": "string"
        },
        "packageType": {
          "description": "Type of package, for example, os, maven, or go.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Package"
    },
    "PortRange": {
      "properties": {
        "min": {
          "format": "int64",
          "type": "string",
          "description": "Minimum port value."
        },
        "max": {
          "type": "string",
          "description": "Maximum port value.",
          "format": "int64"
        }
      },
      "id": "PortRange",
      "type": "object",
      "description": "A port range which is inclusive of the min and max values. Values are between 0 and 2^16-1. The max can be equal / must be not smaller than the min value. If min and max are equal this indicates that it is a single port."
    },
    "Denied": {
      "type": "object",
      "description": "Denied IP rule.",
      "properties": {
        "ipRules": {
          "type": "array",
          "description": "Optional. Optional list of denied IP rules.",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "id": "Denied"
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "description": "Compliance framework associated with the finding.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Framework",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the framework. For a standard framework, this will look like e.g. PCI DSS 3.2.1, whereas for a custom framework it can be a user defined string like MyFramework"
        },
        "category": {
          "description": "Category of the framework associated with the finding. E.g. Security Benchmark, or Assured Workloads",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Security Benchmarks framework",
              "Assured Workloads framework",
              "Data Security framework",
              "Google Best Practices framework",
              "A user-created framework"
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        },
        "controls": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          },
          "description": "The controls associated with the framework.",
          "type": "array"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The framework is a built-in framework if it is created and managed by GCP.",
            "The framework is a custom framework if it is created and managed by the user."
          ],
          "description": "Type of the framework associated with the finding, to specify whether the framework is built-in (pre-defined and immutable) or a custom framework defined by the customer (equivalent to security posture)",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ]
        },
        "name": {
          "description": "Name of the framework associated with the finding",
          "type": "string"
        }
      }
    },
    "SecurityMarks": {
      "type": "object",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "properties": {
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        }
      },
      "id": "SecurityMarks"
    },
    "Job": {
      "description": "Describes a job",
      "type": "object",
      "id": "Job",
      "properties": {
        "name": {
          "type": "string",
          "description": "The fully-qualified name for a job. e.g. `projects//jobs/`"
        },
        "errorCode": {
          "type": "integer",
          "description": "Optional. If the job did not complete successfully, this field describes why.",
          "format": "int32"
        },
        "location": {
          "description": "Optional. Gives the location where the job ran, such as `US` or `europe-west1`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified represents an unknown state and should not be used.",
            "Job is scheduled and pending for run",
            "Job in progress",
            "Job has completed with success",
            "Job has completed but with failure"
          ],
          "readOnly": true,
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. State of the job, such as `RUNNING` or `PENDING`."
        }
      }
    },
    "AzureResourceGroup": {
      "type": "object",
      "description": "Represents an Azure resource group.",
      "properties": {
        "name": {
          "description": "The name of the Azure resource group. This is not a UUID.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the Azure resource group."
        }
      },
      "id": "AzureResourceGroup"
    },
    "ProcessSignature": {
      "id": "ProcessSignature",
      "properties": {
        "signatureType": {
          "description": "Describes the type of resource associated with the signature.",
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default signature type.",
            "Used for signatures concerning processes.",
            "Used for signatures concerning disks."
          ]
        },
        "yaraRuleSignature": {
          "description": "Signature indicating that a YARA rule was matched.",
          "$ref": "YaraRuleSignature"
        },
        "memoryHashSignature": {
          "$ref": "MemoryHashSignature",
          "description": "Signature indicating that a binary family was matched."
        }
      },
      "description": "Indicates what signature matched this process.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "type": "object",
      "description": "Represents a Microsoft Entra tenant.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the Microsoft Entra tenant, for example, \"a11aaa11-aa11-1aa1-11aa-1aaa11a\"."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the Azure tenant."
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureTenant"
    },
    "SecurityBulletin": {
      "type": "object",
      "description": "SecurityBulletin are notifications of vulnerabilities of Google products.",
      "properties": {
        "bulletinId": {
          "description": "ID of the bulletin corresponding to the vulnerability.",
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "description": "Submission time of this Security Bulletin.",
          "format": "google-datetime"
        },
        "suggestedUpgradeVersion": {
          "description": "This represents a version that the cluster receiving this notification should be upgraded to, based on its current version. For example, 1.15.0",
          "type": "string"
        }
      },
      "id": "SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ],
          "description": "Criticality Type.",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "type": "object",
      "description": "Criticality of the Application, Service, or Workload"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "type": "object",
      "description": "Contact information of stakeholders.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the contacts."
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "properties": {
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\""
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "type": "object",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization."
    },
    "GoogleCloudSecuritycenterV2SensitivityScore": {
      "description": "Score is calculated from of all elements in the data profile. A higher level means the data is more sensitive.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitivityScore",
      "properties": {
        "score": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "No sensitive information detected. The resource isn't publicly accessible.",
            "Unable to determine sensitivity.",
            "Medium risk. Contains personally identifiable information (PII), potentially sensitive data, or fields with free-text data that are at a higher risk of having intermittent sensitive data. Consider limiting access.",
            "High risk. Sensitive personally identifiable information (SPII) can be present. Exfiltration of data can lead to user data loss. Re-identification of users might be possible. Consider limiting usage and or removing SPII."
          ],
          "description": "The sensitivity score applied to the resource.",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "properties": {
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature",
          "description": "Signature indicating that a YARA rule was matched."
        },
        "signatureType": {
          "description": "Describes the type of resource associated with the signature.",
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default signature type.",
            "Used for signatures concerning processes.",
            "Used for signatures concerning disks."
          ]
        },
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature",
          "description": "Signature indicating that a binary family was matched."
        }
      },
      "id": "GoogleCloudSecuritycenterV2ProcessSignature",
      "type": "object",
      "description": "Indicates what signature matched this process."
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "type": "object",
      "description": "Representation of third party SIEM/SOAR fields within SCC.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Full resource name of the external system, for example: \"organizations/1234/sources/5678/findings/123456/externalSystems/jira\", \"folders/1234/sources/5678/findings/123456/externalSystems/jira\", \"projects/1234/sources/5678/findings/123456/externalSystems/jira\""
        },
        "externalUid": {
          "description": "The identifier that's used to track the finding's corresponding case in the external system.",
          "type": "string"
        },
        "caseCreateTime": {
          "format": "google-datetime",
          "description": "The time when the case was created, as reported by the external system.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The most recent status of the finding's corresponding case, as reported by the external system."
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "References primary/secondary etc assignees in the external system."
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the case was last updated, as reported by the external system."
        },
        "casePriority": {
          "description": "The priority of the finding's corresponding case in the external system.",
          "type": "string"
        },
        "caseSla": {
          "format": "google-datetime",
          "type": "string",
          "description": "The SLA of the finding's corresponding case in the external system."
        },
        "caseCloseTime": {
          "type": "string",
          "description": "The time when the case was closed, as reported by the external system.",
          "format": "google-datetime"
        },
        "caseUri": {
          "type": "string",
          "description": "The link to the finding's corresponding case in the external system."
        },
        "ticketInfo": {
          "description": "Information about the ticket, if any, that is being used to track the resolution of the issue that is identified by this finding.",
          "$ref": "TicketInfo"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ExternalSystem"
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "properties": {
        "relativePath": {
          "type": "string",
          "description": "Relative path of the file in the partition as a JSON encoded string. Example: /home/user1/executable_file.sh"
        },
        "partitionUuid": {
          "description": "UUID of the partition (format https://wiki.archlinux.org/title/persistent_block_device_naming#by-uuid)",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "type": "object",
      "description": "Path of the file in terms of underlying disk/partition identifiers."
    },
    "AzureManagementGroup": {
      "properties": {
        "id": {
          "description": "The UUID of the Azure management group, for example, `20000000-0001-0000-0000-000000000000`.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the Azure management group.",
          "type": "string"
        }
      },
      "id": "AzureManagementGroup",
      "type": "object",
      "description": "Represents an Azure management group."
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "description": "Environment Type.",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "type": "object",
      "description": "Environment of the Application, Service, or Workload"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "type": "object",
      "description": "Contains information about a VPC network associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the VPC network resource, for example, `//compute.googleapis.com/projects/my-project/global/networks/my-network`."
        }
      },
      "id": "GoogleCloudSecuritycenterV2Network"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "description": "An individual entry in a log stored in Cloud Logging.",
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      },
      "description": "An individual entry in a log.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "properties": {
        "name": {
          "description": "The friendly name of the OU.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier (ID) associated with this OU. The regex pattern for an organizational unit ID string requires \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits. For example, \"ou-ab12-cd34ef56\"."
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "type": "object",
      "description": "An Organizational Unit (OU) is a container of AWS accounts within a root of an organization. Policies that are attached to an OU apply to all accounts contained in that OU and in any child OUs."
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "properties": {
        "exposedEndpoint": {
          "description": "The resource which is running the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/zones/{zone}/instances/{instance}.”",
          "type": "string"
        },
        "exposedService": {
          "description": "The name and version of the service, for example, \"Jupyter Notebook 6.14.0\".",
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string",
          "description": "Private IP address of the exposed endpoint."
        },
        "loadBalancerFirewallPolicy": {
          "type": "string",
          "description": "The full resource name of the load balancer firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\"."
        },
        "backendService": {
          "type": "string",
          "description": "The full resource name of load balancer backend service, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\"."
        },
        "serviceFirewallPolicy": {
          "description": "The full resource name of the firewall policy of the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "instanceGroup": {
          "description": "The full resource name of the instance group, for example, \"//compute.googleapis.com/projects/{project-id}/global/instanceGroups/{name}\".",
          "type": "string"
        },
        "privatePort": {
          "type": "string",
          "description": "Port number associated with private IP address."
        },
        "publicPort": {
          "description": "Public port number of the exposed endpoint.",
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string",
          "description": "Public IP address of the exposed endpoint."
        },
        "forwardingRule": {
          "description": "The full resource name of the forwarding rule, for example, \"//compute.googleapis.com/projects/{project-id}/global/forwardingRules/{forwarding-rule-name}\".",
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string",
          "description": "The full resource name of the network endpoint group, for example, \"//compute.googleapis.com/projects/{project-id}/global/networkEndpointGroups/{name}\"."
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExternalExposure",
      "type": "object",
      "description": "Details about the externally exposed resource associated with the finding."
    },
    "SecurityHealthAnalyticsSettings": {
      "description": "Resource capturing the settings for the Security Health Analytics service.",
      "type": "object",
      "id": "SecurityHealthAnalyticsSettings",
      "properties": {
        "serviceEnablementState": {
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Output only. The service account used by Security Health Analytics detectors.",
          "readOnly": true,
          "type": "string"
        },
        "modules": {
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's configuration.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "type": "object",
      "description": "A resource value configuration (RVC) is a mapping configuration of user's resources to resource values. Used in Attack path simulations.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp this resource value configuration was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "resourceType": {
          "description": "Apply resource_value only to resources that match resource_type. resource_type will be checked with `AND` of other resources. For example, \"storage.googleapis.com/Bucket\" with resource_value \"HIGH\" will apply \"HIGH\" value only to \"storage.googleapis.com/Bucket\" resources.",
          "type": "string"
        },
        "cloudProvider": {
          "description": "Cloud provider this configuration applies to",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ]
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
          "description": "A mapping of the sensitivity on Sensitive Data Protection finding to resource values. This mapping can only be used in combination with a resource_type that is related to BigQuery, e.g. \"bigquery.googleapis.com/Dataset\"."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp this resource value configuration was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Name for the resource value configuration",
          "type": "string"
        },
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tag values combined with `AND` to check against. For Google Cloud resources, they are tag value IDs in the form of \"tagValues/123\". Example: `[ \"tagValues/123\", \"tagValues/456\", \"tagValues/789\" ]` https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing"
        },
        "scope": {
          "description": "Project or folder to scope this configuration to. For example, \"project/456\" would apply this configuration only to resources in \"project/456\" scope and will be checked with `AND` of other resources.",
          "type": "string"
        },
        "resourceLabelsSelector": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "List of resource labels to search for, evaluated with `AND`. For example, \"resource_labels_selector\": {\"key\": \"value\", \"env\": \"prod\"} will match resources with labels \"key\": \"value\" `AND` \"env\": \"prod\" https://cloud.google.com/resource-manager/docs/creating-managing-labels"
        },
        "description": {
          "description": "Description of the resource value configuration.",
          "type": "string"
        },
        "resourceValue": {
          "description": "Resource value level this expression represents Only required when there is no Sensitive Data Protection mapping in the request",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig"
    },
    "GoogleCloudSecuritycenterV2Object": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kubernetes object kind, such as \"Namespace\"."
        },
        "ns": {
          "description": "Kubernetes object namespace. Must be a valid DNS label. Named \"ns\" to avoid collision with C++ namespace keyword. For details see https://kubernetes.io/docs/tasks/administer-cluster/namespaces/.",
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "description": "Pod containers associated with this finding, if any.",
          "type": "array"
        },
        "group": {
          "type": "string",
          "description": "Kubernetes object group, such as \"policy.k8s.io/v1\"."
        },
        "name": {
          "description": "Kubernetes object name. For details see https://kubernetes.io/docs/concepts/overview/working-with-objects/names/.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Object",
      "type": "object",
      "description": "Kubernetes object related to the finding, uniquely identified by GKNN. Used if the object Kind is not one of Pod, Node, NodePool, Binding, or AccessReview."
    },
    "AdcApplication": {
      "type": "object",
      "description": "Represents an ADC application associated with the finding.",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}",
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
          "description": "Consumer provided attributes for the AppHub application."
        }
      },
      "id": "AdcApplication"
    },
    "Contact": {
      "description": "The email address of a contact.",
      "type": "object",
      "id": "Contact",
      "properties": {
        "email": {
          "description": "An email address. For example, \"`person123@company.com`\".",
          "type": "string"
        }
      }
    },
    "Cwe": {
      "description": "CWE stands for Common Weakness Enumeration. Information about this weakness, as described by [CWE](https://cwe.mitre.org/).",
      "type": "object",
      "id": "Cwe",
      "properties": {
        "id": {
          "description": "The CWE identifier, e.g. CWE-94",
          "type": "string"
        },
        "references": {
          "type": "array",
          "description": "Any reference to the details on the CWE, for example, https://cwe.mitre.org/data/definitions/94.html",
          "items": {
            "$ref": "Reference"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "description": "Environment Type.",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment",
      "type": "object",
      "description": "Environment of the Application, Service, or Workload"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "properties": {
        "principalEmail": {
          "description": "The email address of a Google account.",
          "type": "string"
        },
        "principalSubject": {
          "type": "string",
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`"
        }
      },
      "description": "Identity delegation history of an authenticated service account.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "type": "object",
      "description": "Vertex AI training pipeline associated with the finding.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user-defined display name of pipeline, e.g. plants-classification"
        },
        "name": {
          "description": "Resource name of the pipeline, e.g. projects/{project}/locations/{location}/trainingPipelines/5253428229225578496",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Pipeline"
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "properties": {
        "primaryTechniques": {
          "type": "array",
[...]
