{
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "id": "securitycenter:v1beta1",
  "revision": "20260403",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Security Command Center API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "canonicalName": "Security Command Center",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "basePath": "",
  "schemas": {
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "description": "Response of asset discovery run",
      "properties": {
        "state": {
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse"
    },
    "Pipeline": {
      "description": "Vertex AI training pipeline associated with the finding.",
      "properties": {
        "name": {
          "description": "Resource name of the pipeline, e.g. projects/{project}/locations/{location}/trainingPipelines/5253428229225578496",
          "type": "string"
        },
        "displayName": {
          "description": "The user defined display name of pipeline, e.g. plants-classification",
          "type": "string"
        }
      },
      "id": "Pipeline",
      "type": "object"
    },
    "ExternalExposure": {
      "id": "ExternalExposure",
      "description": "Details about the externally exposed resource associated with the finding.",
      "properties": {
        "forwardingRule": {
          "description": "The full resource name of the forwarding rule, for example, \"//compute.googleapis.com/projects/{project-id}/global/forwardingRules/{forwarding-rule-name}\".",
          "type": "string"
        },
        "networkEndpointGroup": {
          "description": "The full resource name of the network endpoint group, for example, \"//compute.googleapis.com/projects/{project-id}/global/networkEndpointGroups/{name}\".",
          "type": "string"
        },
        "privateIpAddress": {
          "description": "Private IP address of the exposed endpoint.",
          "type": "string"
        },
        "privatePort": {
          "description": "Port number associated with private IP address.",
          "type": "string"
        },
        "exposedEndpoint": {
          "description": "The resource which is running the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/zones/{zone}/instances/{instance}.”",
          "type": "string"
        },
        "instanceGroup": {
          "description": "The full resource name of the instance group, for example, \"//compute.googleapis.com/projects/{project-id}/global/instanceGroups/{name}\".",
          "type": "string"
        },
        "publicIpAddress": {
          "description": "Public IP address of the exposed endpoint.",
          "type": "string"
        },
        "exposedService": {
          "description": "The name and version of the service, for example, \"Jupyter Notebook 6.14.0\".",
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "description": "The full resource name of the firewall policy of the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "publicPort": {
          "description": "Public port number of the exposed endpoint.",
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "description": "The full resource name of the load balancer firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "backendService": {
          "description": "The full resource name of load balancer backend service, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "description": "Represents discovered, customer managed workload that is not registered with the respective GCP service.",
      "properties": {
        "detectedRelevantKeywords": {
          "description": "A boolean flag set to true if associated keywords strongly predict the workload type.",
          "type": "boolean"
        },
        "detectedRelevantPackages": {
          "description": "A boolean flag set to true if installed packages strongly predict the workload type.",
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "description": "A boolean flag set to true if associated hardware strongly predicts the workload type.",
          "type": "boolean"
        },
        "confidence": {
          "enumDescriptions": [
            "Unspecified confidence level.",
            "High confidence in detection of a workload."
          ],
          "description": "The confidence in detection of this workload.",
          "type": "string",
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ]
        },
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type",
            "A workload of type MCP Server",
            "A workload of type AI Inference",
            "A workload of type LLM Agent"
          ],
          "description": "The type of workload.",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "type": "object",
      "description": "Represents a Microsoft Entra tenant.",
      "properties": {
        "id": {
          "description": "The ID of the Microsoft Entra tenant, for example, \"a11aaa11-aa11-1aa1-11aa-1aaa11a\".",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the Azure tenant.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureTenant"
    },
    "Folder": {
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      },
      "id": "Folder"
    },
    "DataRetentionDeletionEvent": {
      "description": "Details about data retention deletion violations, in which the data is non-compliant based on their retention or deletion time, as defined in the applicable data security policy. The Data Retention Deletion (DRD) control is a control of the DSPM (Data Security Posture Management) suite that enables organizations to manage data retention and deletion policies in compliance with regulations, such as GDPR and CRPA. DRD supports two primary policy types: maximum storage length (max TTL) and minimum storage length (min TTL). Both are aimed at helping organizations meet regulatory and data management commitments.",
      "properties": {
        "dataObjectCount": {
          "description": "Number of objects that violated the policy for this resource. If the number is less than 1,000, then the value of this field is the exact number. If the number of objects that violated the policy is greater than or equal to 1,000, then the value of this field is 1000.",
          "type": "string",
          "format": "int64"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration",
          "description": "Maximum duration of retention allowed from the DRD control. This comes from the DRD control where users set a max TTL for their data. For example, suppose that a user sets the max TTL for a Cloud Storage bucket to 90 days. However, an object in that bucket is 100 days old. In this case, a DataRetentionDeletionEvent will be generated for that Cloud Storage bucket, and the max_retention_allowed is 90 days."
        },
        "eventType": {
          "enumDescriptions": [
            "Unspecified event type.",
            "Deprecated: This field is pending removal. Use EVENT_TYPE_MAX_TTL_FROM_CREATION or EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION instead.",
            "Max TTL from the asset's creation time.",
            "Max TTL from the asset's last modification time.",
            "Min TTL from the asset's creation time."
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "description": "Type of the DRD event."
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp indicating when the event was detected."
        },
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration",
          "description": "Min duration of retention allowed from the DSPM retention control. This field is only populated when event type is set to EVENT_TYPE_MIN_TTL_FROM_CREATION."
        }
      },
      "id": "DataRetentionDeletionEvent",
      "type": "object"
    },
    "PortRange": {
      "description": "A port range which is inclusive of the min and max values. Values are between 0 and 2^16-1. The max can be equal / must be not smaller than the min value. If min and max are equal this indicates that it is a single port.",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64",
          "description": "Minimum port value."
        },
        "max": {
          "type": "string",
          "format": "int64",
          "description": "Maximum port value."
        }
      },
      "id": "PortRange",
      "type": "object"
    },
    "ListFindingsResponse": {
      "description": "Response message for listing findings.",
      "properties": {
        "findings": {
          "type": "array",
          "description": "Findings matching the list request.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of findings matching the query."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "readTime": {
          "description": "Time used for executing the list request.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ListFindingsResponse",
      "type": "object"
    },
    "GroupResult": {
      "id": "GroupResult",
      "description": "Result containing the properties and count of a groupBy request.",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Total count of resources for the given properties."
        },
        "properties": {
          "description": "Properties matching the groupBy fields in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "type": "object",
      "description": "Information about the ticket, if any, that is being used to track the resolution of the issue that is identified by this finding.",
      "properties": {
        "id": {
          "description": "The identifier of the ticket in the ticket system.",
          "type": "string"
        },
        "description": {
          "description": "The description of the ticket in the ticket system.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the ticket was last updated, as reported by the ticket system."
        },
        "uri": {
          "description": "The link to the ticket in the ticket system.",
          "type": "string"
        },
        "assignee": {
          "description": "The assignee of the ticket in the ticket system.",
          "type": "string"
        },
        "status": {
          "description": "The latest status of the ticket, as reported by the ticket system.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2TicketInfo"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "description": "Security Command Center's Notification",
      "properties": {
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "type": "object"
    },
    "Connection": {
      "description": "Contains information about the IP connection associated with the finding.",
      "properties": {
        "destinationPort": {
          "type": "integer",
          "format": "int32",
          "description": "Destination port. Not present for sockets that are listening and not connected."
        },
        "protocol": {
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32",
          "description": "Source port."
        },
        "sourceIp": {
          "description": "Source IP address.",
          "type": "string"
        }
      },
      "id": "Connection",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Process",
      "description": "Represents an operating system process.",
      "properties": {
        "args": {
          "type": "array",
          "description": "Process arguments as JSON encoded strings.",
          "items": {
            "type": "string"
          }
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter, while `script` provides information about the script file provided to the interpreter.",
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        },
        "userId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the user that executed the process. E.g. If this is the root user this will always be 0."
        },
        "envVariables": {
          "type": "array",
          "description": "Process environment variables.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          }
        },
        "parentPid": {
          "description": "The parent process ID.",
          "type": "string",
          "format": "int64"
        },
        "libraries": {
          "description": "File information for libraries loaded by the process.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          },
          "type": "array"
        },
        "argumentsTruncated": {
          "description": "True if `args` is incomplete.",
          "type": "boolean"
        },
        "pid": {
          "description": "The process ID.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "The process name, as displayed in utilities like `top` and `ps`. This name can be accessed through `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`.",
          "type": "string"
        },
        "binary": {
          "description": "File information for the process executable.",
          "$ref": "GoogleCloudSecuritycenterV2File"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Application": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Application",
      "description": "Represents an application associated with a finding.",
      "properties": {
        "fullUri": {
          "description": "The full URI with payload that could be used to reproduce the vulnerability. For example, `http://example.com?p=aMmYgI6H`.",
          "type": "string"
        },
        "baseUri": {
          "description": "The base URI that identifies the network location of the application in which the vulnerability was detected. For example, `http://example.com`.",
          "type": "string"
        }
      }
    },
    "AdcSharedTemplateRevision": {
      "type": "object",
      "id": "AdcSharedTemplateRevision",
      "description": "Represents an ADC shared template associated with the finding.",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Shared Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "description": "IP rules associated with the finding.",
      "properties": {
        "allowed": {
          "description": "Tuple with allowed rules.",
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "denied": {
          "description": "Tuple with denied rules.",
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "destinationIpRanges": {
          "type": "array",
          "description": "If destination IP ranges are specified, the firewall rule applies only to traffic that has a destination IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "items": {
            "type": "string"
          }
        },
        "sourceIpRanges": {
          "type": "array",
          "description": "If source IP ranges are specified, the firewall rule applies only to traffic that has a source IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "items": {
            "type": "string"
          }
        },
        "exposedServices": {
          "description": "Name of the network protocol service, such as FTP, that is exposed by the open port. Follows the naming convention available at: https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "direction": {
          "description": "The direction that the rule is applicable to, one of ingress or egress.",
          "enumDescriptions": [
            "Unspecified direction value.",
            "Ingress direction value.",
            "Egress direction value."
          ],
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        }
      }
    },
    "Pod": {
      "description": "A Kubernetes Pod.",
      "properties": {
        "ns": {
          "description": "Kubernetes Pod namespace.",
          "type": "string"
        },
        "name": {
          "description": "Kubernetes Pod name.",
          "type": "string"
        },
        "containers": {
          "description": "Pod containers associated with this finding, if any.",
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        },
        "labels": {
          "type": "array",
          "description": "Pod labels. For Kubernetes containers, these are applied to the container.",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "id": "Pod",
      "type": "object"
    },
    "Chokepoint": {
      "id": "Chokepoint",
      "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations).",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "description": "List of resource names of findings associated with this chokepoint. For example, organizations/123/sources/456/findings/789. This list will have at most 100 findings.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent",
      "description": "Details about a data access attempt made by a principal not authorized under applicable data security policy.",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of data access event."
        },
        "principalEmail": {
          "description": "The email address of the principal that accessed the data. The principal could be a user account, service account, Google group, or other.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ],
          "description": "The operation performed by the principal to access the data."
        },
        "eventId": {
          "description": "Unique identifier for data access event.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "id": "GoogleCloudSecuritycenterV2ExternalExposure",
      "description": "Details about the externally exposed resource associated with the finding.",
      "properties": {
        "loadBalancerFirewallPolicy": {
          "description": "The full resource name of the load balancer firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "backendService": {
          "description": "The full resource name of load balancer backend service, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\".",
          "type": "string"
        },
        "exposedService": {
          "description": "The name and version of the service, for example, \"Jupyter Notebook 6.14.0\".",
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "description": "The full resource name of the firewall policy of the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "publicPort": {
          "description": "Public port number of the exposed endpoint.",
          "type": "string"
        },
        "networkEndpointGroup": {
          "description": "The full resource name of the network endpoint group, for example, \"//compute.googleapis.com/projects/{project-id}/global/networkEndpointGroups/{name}\".",
          "type": "string"
        },
        "privateIpAddress": {
          "description": "Private IP address of the exposed endpoint.",
          "type": "string"
        },
        "privatePort": {
          "description": "Port number associated with private IP address.",
          "type": "string"
        },
        "exposedEndpoint": {
          "description": "The resource which is running the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/zones/{zone}/instances/{instance}.”",
          "type": "string"
        },
        "instanceGroup": {
          "description": "The full resource name of the instance group, for example, \"//compute.googleapis.com/projects/{project-id}/global/instanceGroups/{name}\".",
          "type": "string"
        },
        "publicIpAddress": {
          "description": "Public IP address of the exposed endpoint.",
          "type": "string"
        },
        "forwardingRule": {
          "description": "The full resource name of the forwarding rule, for example, \"//compute.googleapis.com/projects/{project-id}/global/forwardingRules/{forwarding-rule-name}\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Object": {
      "description": "Kubernetes object related to the finding, uniquely identified by GKNN. Used if the object Kind is not one of Pod, Node, NodePool, Binding, or AccessReview.",
      "properties": {
        "group": {
          "description": "Kubernetes object group, such as \"policy.k8s.io/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "Kubernetes object kind, such as \"Namespace\".",
          "type": "string"
        },
        "name": {
          "description": "Kubernetes object name. For details see https://kubernetes.io/docs/concepts/overview/working-with-objects/names/.",
          "type": "string"
        },
        "containers": {
          "type": "array",
          "description": "Pod containers associated with this finding, if any.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "ns": {
          "description": "Kubernetes object namespace. Must be a valid DNS label. Named \"ns\" to avoid collision with C++ namespace keyword. For details see https://kubernetes.io/docs/tasks/administer-cluster/namespaces/.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Object",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "description": "AWS metadata associated with the resource, only applicable if the finding's cloud provider is Amazon Web Services.",
      "properties": {
        "account": {
          "description": "The AWS account associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        },
        "organization": {
          "description": "The AWS organization associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        },
        "organizationalUnits": {
          "type": "array",
          "description": "A list of AWS organizational units associated with the resource, ordered from lowest level (closest to the account) to highest level.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "type": "object",
      "description": "An organization is a collection of accounts that are centrally managed together using consolidated billing, organized hierarchically with organizational units (OUs), and controlled with policies.",
      "properties": {
        "id": {
          "description": "The unique identifier (ID) for the organization. The regex pattern for an organization ID string requires \"o-\" followed by from 10 to 32 lowercase letters or digits.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganization"
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
      "description": "Represents an ADC template associated with the finding.",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdcApplication": {
      "type": "object",
      "id": "AdcApplication",
      "description": "Represents an ADC application associated with the finding.",
      "properties": {
        "attributes": {
          "description": "Consumer provided attributes for the AppHub application.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        },
        "name": {
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}",
          "type": "string"
        }
      }
    },
    "IamBinding": {
      "type": "object",
      "description": "Represents a particular IAM binding, which captures a member's role addition, removal, or state.",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "description": "The action that was performed on a Binding.",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ]
        },
        "role": {
          "description": "Role that is assigned to \"members\". For example, \"roles/viewer\", \"roles/editor\", or \"roles/owner\".",
          "type": "string"
        },
        "member": {
          "description": "A single identity requesting access for a Cloud Platform resource, for example, \"foo@google.com\".",
          "type": "string"
        }
      },
      "id": "IamBinding"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DiscoveredWorkload": {
      "type": "object",
      "description": "Represents discovered, customer managed workload that is not registered with the respective GCP service.",
      "properties": {
        "detectedRelevantKeywords": {
          "description": "A boolean flag set to true if associated keywords strongly predict the workload type.",
          "type": "boolean"
        },
        "detectedRelevantPackages": {
          "description": "A boolean flag set to true if installed packages strongly predict the workload type.",
          "type": "boolean"
        },
        "workloadType": {
          "description": "The type of workload.",
          "enumDescriptions": [
            "Unspecified workload type",
            "A workload of type MCP Server",
            "A workload of type AI Inference",
            "A workload of type LLM Agent"
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "detectedRelevantHardware": {
          "description": "A boolean flag set to true if associated hardware strongly predicts the workload type.",
          "type": "boolean"
        },
        "confidence": {
          "enumDescriptions": [
            "Unspecified confidence level.",
            "High confidence in detection of a workload."
          ],
          "description": "The confidence in detection of this workload.",
          "type": "string",
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ]
        }
      },
      "id": "DiscoveredWorkload"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision",
      "description": "Represents an ADC shared template associated with the finding.",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Shared Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "id": "GetIamPolicyRequest",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "description": "The state of an asset discovery run."
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication",
      "description": "Represents an ADC application associated with the finding.",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}",
          "type": "string"
        },
        "attributes": {
          "description": "Consumer provided attributes for the AppHub application.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      },
      "type": "object"
    },
    "ListSourcesResponse": {
      "type": "object",
      "description": "Response message for listing sources.",
      "properties": {
        "sources": {
          "description": "Sources belonging to the requested parent.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      },
      "id": "ListSourcesResponse"
    },
    "Application": {
      "description": "Represents an application associated with a finding.",
      "properties": {
        "baseUri": {
          "description": "The base URI that identifies the network location of the application in which the vulnerability was detected. For example, `http://example.com`.",
          "type": "string"
        },
        "fullUri": {
          "description": "The full URI with payload that can be used to reproduce the vulnerability. For example, `http://example.com?p=aMmYgI6H`.",
          "type": "string"
        }
      },
      "id": "Application",
      "type": "object"
    },
    "SecretStatus": {
      "description": "The status of the secret.",
      "properties": {
        "lastUpdatedTime": {
          "description": "Time that the secret was found.",
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "enumDescriptions": [
            "Default value; no validation was attempted.",
            "There is no mechanism to validate the secret.",
            "Validation is supported but the validation failed.",
            "The secret is confirmed to be invalid.",
            "The secret is confirmed to be valid."
          ],
          "description": "The validity of the secret.",
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ]
        }
      },
      "id": "SecretStatus",
      "type": "object"
    },
    "Access": {
      "type": "object",
      "description": "Represents an access event.",
      "properties": {
        "userAgentFamily": {
          "description": "Type of user agent associated with the finding. For example, an operating system shell or an embedded or standalone application.",
          "type": "string"
        },
        "callerIpGeo": {
          "description": "The caller IP's geolocation, which identifies where the call came from.",
          "$ref": "Geolocation"
        },
        "methodName": {
          "description": "The method that the service account called, e.g. \"SetIamPolicy\".",
          "type": "string"
        },
        "principalSubject": {
          "description": "A string that represents the principal_subject that is associated with the identity. Unlike `principal_email`, `principal_subject` supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format is `principal://iam.googleapis.com/{identity pool name}/subject/{subject}`. Some GKE identities, such as GKE_WORKLOAD, FREEFORM, and GKE_HUB_WORKLOAD, still use the legacy format `serviceAccount:{identity pool name}[{subject}]`.",
          "type": "string"
        },
        "userAgent": {
          "description": "The caller's user agent string associated with the finding.",
          "type": "string"
        },
        "principalEmail": {
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user or a service account acting on behalf of a third party principal making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id).",
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "description": "The identity delegation history of an authenticated service account that made the request. The `serviceAccountDelegationInfo[]` object contains information about the real authorities that try to access Google Cloud resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events.",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        },
        "userName": {
          "description": "A string that represents a username. The username provided depends on the type of the finding and is likely not an IAM principal. For example, this can be a system username if the finding is related to a virtual machine, or it can be an application login username.",
          "type": "string"
        },
        "callerIp": {
          "description": "Caller's IP address, such as \"1.1.1.1\".",
          "type": "string"
        },
        "serviceAccountKeyName": {
          "description": "The name of the service account key that was used to create or exchange credentials when authenticating the service account that made the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\". ",
          "type": "string"
        },
        "serviceName": {
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\"",
          "type": "string"
        }
      },
      "id": "Access"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "description": "An EffectiveSecurityHealthAnalyticsCustomModule is the representation of a Security Health Analytics custom module at a specified level of the resource hierarchy: organization, folder, or project. If a custom module is inherited from a parent organization or folder, the value of the `enablementState` property in EffectiveSecurityHealthAnalyticsCustomModule is set to the value that is effective in the parent, instead of `INHERITED`. For example, if the module is enabled in a parent organization or folder, the effective enablement_state for the module in all child folders or projects is also `enabled`. EffectiveSecurityHealthAnalyticsCustomModule is read-only.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\""
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name for the custom module. The name must be between 1 and 128 characters, start with a lowercase letter, and contain alphanumeric characters or underscores only."
        },
        "customConfig": {
          "description": "Output only. The user-specified configuration for the module.",
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services.",
            "Microsoft Azure."
          ],
          "description": "The cloud provider of the custom module."
        },
        "enablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given level.",
            "The module is disabled at the given level."
          ],
          "readOnly": true,
          "description": "Output only. The effective state of enablement for the module at the given level of the hierarchy."
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "description": "IP rule information.",
      "properties": {
        "protocol": {
          "description": "The IP protocol this rule applies to. This value can either be one of the following well known protocol strings (TCP, UDP, ICMP, ESP, AH, IPIP, SCTP) or a string representation of the integer value.",
          "type": "string"
        },
        "portRanges": {
          "description": "Optional. An optional list of ports to which this rule applies. This field is only applicable for the UDP or (S)TCP protocols. Each entry must be either an integer or a range including a min and max port number.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "type": "object"
    },
    "IpRules": {
      "description": "IP rules associated with the finding.",
      "properties": {
        "allowed": {
          "description": "Tuple with allowed rules.",
          "$ref": "Allowed"
        },
        "denied": {
          "description": "Tuple with denied rules.",
          "$ref": "Denied"
        },
        "destinationIpRanges": {
          "description": "If destination IP ranges are specified, the firewall rule applies only to traffic that has a destination IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sourceIpRanges": {
          "type": "array",
          "description": "If source IP ranges are specified, the firewall rule applies only to traffic that has a source IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "items": {
            "type": "string"
          }
        },
        "exposedServices": {
          "description": "Name of the network protocol service, such as FTP, that is exposed by the open port. Follows the naming convention available at: https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "direction": {
          "enumDescriptions": [
            "Unspecified direction value.",
            "Ingress direction value.",
            "Egress direction value."
          ],
          "description": "The direction that the rule is applicable to, one of ingress or egress.",
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        }
      },
      "id": "IpRules",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "description": "Defines the properties in a custom module configuration for Security Health Analytics. Use the custom module configuration to create custom detectors that generate custom findings for resources that you specify.",
      "properties": {
        "recommendation": {
          "description": "An explanation of the recommended steps that security teams can take to resolve the detected issue. This explanation is returned with each finding generated by this module in the `nextSteps` property of the finding JSON.",
          "type": "string"
        },
        "description": {
          "description": "Text that describes the vulnerability or misconfiguration that the custom module detects. This explanation is returned with each finding instance to help investigators understand the detected issue. The text must be enclosed in quotation marks.",
          "type": "string"
        },
        "customOutput": {
          "description": "Custom output properties.",
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "predicate": {
          "description": "The CEL expression to evaluate to produce findings. When the expression evaluates to true against a resource, a finding is generated.",
          "$ref": "Expr"
        },
        "resourceSelector": {
          "description": "The resource types that the custom module operates on. Each custom module can specify up to 5 resource types.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "description": "The severity to assign to findings generated by the module."
        }
      },
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "description": "Details about data retention deletion violations, in which the data is non-compliant based on their retention or deletion time, as defined in the applicable data security policy. The Data Retention Deletion (DRD) control is a control of the DSPM (Data Security Posture Management) suite that enables organizations to manage data retention and deletion policies in compliance with regulations, such as GDPR and CRPA. DRD supports two primary policy types: maximum storage length (max TTL) and minimum storage length (min TTL). Both are aimed at helping organizations meet regulatory and data management commitments.",
      "properties": {
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp indicating when the event was detected."
        },
        "minRetentionAllowed": {
          "description": "Min duration of retention allowed from the DSPM retention control. This field is only populated when event type is set to EVENT_TYPE_MIN_TTL_FROM_CREATION.",
          "type": "string",
          "format": "google-duration"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of objects that violated the policy for this resource. If the number is less than 1,000, then the value of this field is the exact number. If the number of objects that violated the policy is greater than or equal to 1,000, then the value of this field is 1000."
        },
        "maxRetentionAllowed": {
          "description": "Maximum duration of retention allowed from the DRD control. This comes from the DRD control where users set a max TTL for their data. For example, suppose that a user sets the max TTL for a Cloud Storage bucket to 90 days. However, an object in that bucket is 100 days old. In this case, a DataRetentionDeletionEvent will be generated for that Cloud Storage bucket, and the max_retention_allowed is 90 days.",
          "type": "string",
          "format": "google-duration"
        },
        "eventType": {
          "description": "Type of the DRD event.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDescriptions": [
            "Unspecified event type.",
            "Deprecated: This field is pending removal. Use EVENT_TYPE_MAX_TTL_FROM_CREATION or EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION instead.",
            "Max TTL from the asset's creation time.",
            "Max TTL from the asset's last modification time.",
            "Min TTL from the asset's creation time."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Label",
      "description": "Represents a generic name-value label. A label has separate name and value fields to support filtering with the `contains()` function. For more information, see [Filtering on array-type fields](https://cloud.google.com/security-command-center/docs/how-to-api-list-findings#array-contains-filtering).",
      "properties": {
        "value": {
          "description": "Value that corresponds to the label's name.",
          "type": "string"
        },
        "name": {
          "description": "Name of the label.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretStatus": {
      "id": "GoogleCloudSecuritycenterV2SecretStatus",
      "description": "The status of the secret.",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the secret was found."
        },
        "validity": {
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "enumDescriptions": [
            "Default value; no validation was attempted.",
            "There is no mechanism to validate the secret.",
            "Validation is supported but the validation failed.",
            "The secret is confirmed to be invalid.",
            "The secret is confirmed to be valid."
          ],
          "description": "The validity of the secret."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "description": "Fields related to Google Cloud Armor findings.",
      "properties": {
        "attack": {
          "description": "Information about DDoS attack volume and classification.",
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "adaptiveProtection": {
          "description": "Information about potential Layer 7 DDoS attacks identified by [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/adaptive-protection-overview).",
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of attack from the start until the current moment (updated every 5 minutes)."
        },
        "securityPolicy": {
          "description": "Information about the [Google Cloud Armor security policy](https://cloud.google.com/armor/docs/security-policy-overview) relevant to the finding.",
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "requests": {
          "description": "Information about incoming requests evaluated by [Google Cloud Armor security policies](https://cloud.google.com/armor/docs/security-policy-overview).",
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "threatVector": {
          "description": "Distinguish between volumetric & protocol DDoS attack and application layer attacks. For example, \"L3_4\" for Layer 3 and Layer 4 DDoS attacks, or \"L_7\" for Layer 7 DDoS attacks.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "description": "The Azure metadata of a resource associated with an issue.",
      "properties": {
        "subscription": {
          "description": "The Azure subscription of the resource associated with the issue.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "description": "Represents an Azure resource group.",
      "properties": {
        "name": {
          "description": "The name of the Azure resource group. This is not a UUID.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the Azure resource group.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "description": "Cloud SCC's Notification",
      "properties": {
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "Finding"
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "resource": {
          "description": "The Cloud resource tied to this notification's Finding.",
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "type": "object",
      "description": "Represents what's commonly known as an _indicator of compromise_ (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
      "properties": {
        "domains": {
          "type": "array",
          "description": "List of domains associated to the Finding.",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "description": "The list of matched signatures indicating that the given process is present in the environment.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          }
        },
        "ipAddresses": {
          "type": "array",
          "description": "The list of IP addresses that are associated with the finding.",
          "items": {
            "type": "string"
          }
        },
        "uris": {
          "type": "array",
          "description": "The list of URIs associated to the Findings.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Indicator"
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "description": "Information about the requests relevant to the finding.",
      "properties": {
        "longTermAllowed": {
          "description": "Allowed RPS (requests per second) over the long term.",
          "type": "integer",
          "format": "int32"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32",
          "description": "Denied RPS (requests per second) over the long term."
        },
        "ratio": {
          "description": "For 'Increasing deny ratio', the ratio is the denied traffic divided by the allowed traffic. For 'Allowed traffic spike', the ratio is the allowed traffic in the short term divided by allowed traffic in the long term.",
          "type": "number",
          "format": "double"
        },
        "shortTermAllowed": {
          "description": "Allowed RPS (requests per second) in the short term.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Requests",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "description": "Environment variable containing the secret.",
      "properties": {
        "key": {
          "description": "Environment variable name as a JSON encoded string. Note that value is not included since the value contains the secret data, which is sensitive core content.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FileOperation": {
      "description": "Operation(s) performed on a file.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "description": "The type of the operation",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents an open operation.",
            "Represents a read operation.",
            "Represents a rename operation.",
            "Represents a write operation.",
            "Represents an execute operation."
          ]
        }
      },
      "id": "FileOperation",
      "type": "object"
    },
    "InfoType": {
      "type": "object",
      "description": "Type of information detected by the API.",
      "properties": {
        "version": {
          "description": "Optional version name for this InfoType.",
          "type": "string"
        },
        "sensitivityScore": {
          "description": "Optional custom sensitivity for this InfoType. This only applies to data profiling.",
          "$ref": "SensitivityScore"
        },
        "name": {
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$_-]{1,64}`.",
          "type": "string"
        }
      },
      "id": "InfoType"
    },
    "Notebook": {
      "type": "object",
      "description": "Represents a Jupyter notebook IPYNB file, such as a [Colab Enterprise notebook](https://cloud.google.com/colab/docs/introduction) file, that is associated with a finding.",
      "properties": {
        "lastAuthor": {
          "description": "The user ID of the latest author to modify the notebook.",
          "type": "string"
        },
        "name": {
          "description": "The name of the notebook.",
          "type": "string"
        },
        "service": {
          "description": "The source notebook service, for example, \"Colab Enterprise\".",
          "type": "string"
        },
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The most recent time the notebook was updated."
        }
      },
      "id": "Notebook"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way.",
      "properties": {
        "groupType": {
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "enumDescriptions": [
            "Default value.",
            "Group represents a toxic combination.",
            "Group represents a chokepoint."
          ],
          "description": "Type of group."
        },
        "groupId": {
          "description": "ID of the group.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2GroupMembership",
      "type": "object"
    },
    "Cvssv3": {
      "description": "Common Vulnerability Scoring System version 3.",
      "properties": {
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ]
        },
        "userInteraction": {
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "scope": {
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability."
        },
        "attackVector": {
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible.",
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ]
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "type": "number",
          "format": "double"
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability."
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        }
      },
      "id": "Cvssv3",
      "type": "object"
    },
    "ArtifactGuardPolicy": {
      "type": "object",
      "description": "Represents an artifact guard policy.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Vulnerability type."
          ],
          "description": "The type of the policy evaluation."
        },
        "failureReason": {
          "description": "The reason for the policy failure, for example, \"severity=HIGH AND max_vuln_count=2\".",
          "type": "string"
        },
        "policyId": {
          "description": "The ID of the failing policy, for example, \"organizations/3392779/locations/global/policies/prod-policy\".",
          "type": "string"
        }
      },
      "id": "ArtifactGuardPolicy"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "description": "Represents an artifact guard policy.",
      "properties": {
        "type": {
          "description": "The type of the policy evaluation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Vulnerability type."
          ],
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        },
        "failureReason": {
          "description": "The reason for the policy failure, for example, \"severity=HIGH AND max_vuln_count=2\".",
          "type": "string"
        },
        "policyId": {
          "description": "The ID of the failing policy, for example, \"organizations/3392779/locations/global/policies/prod-policy\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "description": "Information related to the Google Cloud resource.",
      "properties": {
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "readOnly": true,
          "type": "array"
        },
        "projectDisplayName": {
          "description": "The project id that the resource belongs to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "type": "object"
    },
    "AwsAccount": {
      "type": "object",
      "description": "An AWS account that is a member of an organization.",
      "properties": {
        "name": {
          "description": "The friendly name of this account.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier (ID) of the account, containing exactly 12 digits.",
          "type": "string"
        }
      },
      "id": "AwsAccount"
    },
    "AttackExposure": {
      "description": "An attack exposure contains the results of an attack path simulation run.",
      "properties": {
        "exposedMediumValueResourcesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of medium value resources that are exposed as a result of this finding."
        },
        "latestCalculationTime": {
          "description": "The most recent time the attack exposure was updated on this finding.",
          "type": "string",
          "format": "google-datetime"
        },
        "score": {
          "description": "A number between 0 (inclusive) and infinity that represents how important this finding is to remediate. The higher the score, the more important it is to remediate.",
          "type": "number",
          "format": "double"
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of high value resources that are exposed as a result of this finding."
        },
        "attackExposureResult": {
          "description": "The resource name of the attack path simulation result that contains the details regarding this attack exposure score. Example: `organizations/123/simulations/456/attackExposureResults/789`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "description": "What state this AttackExposure is in. This captures whether or not an attack exposure has been calculated or not.",
          "enumDescriptions": [
            "The state is not specified.",
            "The attack exposure has been calculated.",
            "The attack exposure has not been calculated."
          ]
        },
        "exposedHighValueResourcesCount": {
          "description": "The number of high value resources that are exposed as a result of this finding.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AttackExposure",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "type": "object",
      "description": "The AWS metadata of a resource associated with an issue.",
      "properties": {
        "account": {
          "description": "The AWS account of the resource associated with the issue.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
    },
    "BackupDisasterRecovery": {
      "type": "object",
      "id": "BackupDisasterRecovery",
      "description": "Information related to Google Cloud Backup and DR Service findings.",
      "properties": {
        "storagePool": {
          "description": "The name of the Backup and DR storage pool that the backup and recovery appliance is storing data in. The storage pool could be of type Cloud, Primary, Snapshot, or OnVault. See the [Backup and DR documentation on storage pools](https://cloud.google.com/backup-disaster-recovery/docs/concepts/storage-pools). For example, `DiskPoolOne`.",
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "description": "The names of Backup and DR advanced policy options of a policy applying to an application. See the [Backup and DR documentation on policy options](https://cloud.google.com/backup-disaster-recovery/docs/create-plan/policy-settings). For example, `skipofflineappsincongrp, nounmap`.",
          "items": {
            "type": "string"
          }
        },
        "appliance": {
          "description": "The name of the Backup and DR appliance that captures, moves, and manages the lifecycle of backup data. For example, `backup-server-57137`.",
          "type": "string"
        },
        "host": {
          "description": "The name of a Backup and DR host, which is managed by the backup and recovery appliance and known to the management console. The host can be of type Generic (for example, Compute Engine, SQL Server, Oracle DB, SMB file system, etc.), vCenter, or an ESX server. See the [Backup and DR documentation on hosts](https://cloud.google.com/backup-disaster-recovery/docs/configuration/manage-hosts-and-their-applications) for more information. For example, `centos7-01`.",
          "type": "string"
        },
        "policies": {
          "type": "array",
          "description": "The names of Backup and DR policies that are associated with a template and that define when to run a backup, how frequently to run a backup, and how long to retain the backup image. For example, `onvaults`.",
          "items": {
            "type": "string"
          }
        },
        "applications": {
          "description": "The names of Backup and DR applications. An application is a VM, database, or file system on a managed host monitored by a backup and recovery appliance. For example, `centos7-01-vol00`, `centos7-01-vol01`, `centos7-01-vol02`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp at which the Backup and DR backup was created."
        },
        "profile": {
          "description": "The name of the Backup and DR resource profile that specifies the storage media for backups of application and VM data. See the [Backup and DR documentation on profiles](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#profile). For example, `GCP`.",
          "type": "string"
        },
        "backupType": {
          "description": "The backup type of the Backup and DR image. For example, `Snapshot`, `Remote Snapshot`, `OnVault`.",
          "type": "string"
        },
        "backupTemplate": {
          "description": "The name of a Backup and DR template which comprises one or more backup policies. See the [Backup and DR documentation](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#temp) for more information. For example, `snap-ov`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "description": "The mute information of the issue.",
      "properties": {
        "muteInitiator": {
          "description": "The email address of the user who last changed the mute state of the issue.",
          "type": "string"
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the issue was muted."
        },
        "muteReason": {
          "description": "The user-provided reason for muting the issue.",
          "type": "string"
        },
        "muteState": {
          "enumDescriptions": [
            "Unspecified mute state.",
            "Not muted.",
            "Muted."
          ],
          "type": "string",
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "description": "Output only. The mute state of the issue.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueMute",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2VertexAi": {
      "id": "GoogleCloudSecuritycenterV2VertexAi",
      "description": "Vertex AI-related information associated with the finding.",
      "properties": {
        "datasets": {
          "description": "Datasets associated with the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Dataset"
          },
          "type": "array"
        },
        "pipelines": {
          "type": "array",
          "description": "Pipelines associated with the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pipeline"
          }
        }
      },
      "type": "object"
    },
    "Container": {
      "description": "Container associated with the finding.",
      "properties": {
        "imageId": {
          "description": "Optional container image ID, if provided by the container runtime. Uniquely identifies the container image launched using a container image digest.",
          "type": "string"
        },
        "name": {
          "description": "Name of the container.",
          "type": "string"
        },
        "createTime": {
          "description": "The time that the container was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "array",
          "description": "Container labels, as provided by the container runtime.",
          "items": {
            "$ref": "Label"
          }
        },
        "uri": {
          "description": "Container image URI provided when configuring a pod or container. This string can identify a container image version using mutable tags.",
          "type": "string"
        }
      },
      "id": "Container",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "id": "GoogleCloudSecuritycenterV2OrgPolicy",
      "description": "Contains information about the org policies associated with the finding.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the org policy. Example: \"organizations/{organization_id}/policies/{constraint_name}\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Framework",
      "description": "Compliance framework associated with the finding.",
      "properties": {
        "name": {
          "description": "Name of the framework associated with the finding",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the framework. For a standard framework, this will look like e.g. PCI DSS 3.2.1, whereas for a custom framework it can be a user defined string like MyFramework",
          "type": "string"
        },
        "category": {
          "description": "Category of the framework associated with the finding. E.g. Security Benchmark, or Assured Workloads",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Security Benchmarks framework",
              "Assured Workloads framework",
              "Data Security framework",
              "Google Best Practices framework",
              "A user-created framework"
            ],
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          },
          "type": "array"
        },
        "type": {
          "description": "Type of the framework associated with the finding, to specify whether the framework is built-in (pre-defined and immutable) or a custom framework defined by the customer (equivalent to security posture)",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The framework is a built-in framework if it is created and managed by GCP.",
            "The framework is a custom framework if it is created and managed by the user."
          ],
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ]
        },
        "controls": {
          "description": "The controls associated with the framework.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          },
          "type": "array"
        }
      }
    },
    "ServiceAccountDelegationInfo": {
      "type": "object",
      "description": "Identity delegation history of an authenticated service account.",
      "properties": {
        "principalEmail": {
          "description": "The email address of a Google account.",
          "type": "string"
        },
        "principalSubject": {
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`",
          "type": "string"
        }
      },
      "id": "ServiceAccountDelegationInfo"
    },
    "GcpMetadata": {
      "description": "Google Cloud metadata associated with the resource. Only applicable if the finding's cloud provider is Google Cloud.",
      "properties": {
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "readOnly": true,
          "type": "array"
        },
[...]
