{
  "title": "Security Command Center API",
  "ownerDomain": "google.com",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/security-command-center",
  "discoveryVersion": "v1",
  "revision": "20260309",
  "ownerName": "Google",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "endpoints": [
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/"
    }
  ],
  "kind": "discovery#restDescription",
  "canonicalName": "Security Command Center",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "securitycenter",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "id": "securitycenter:v1",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
          "description": "The AWS account of the resource associated with the issue."
        }
      },
      "description": "The AWS metadata of a resource associated with an issue."
    },
    "AdcApplicationTemplateRevision": {
      "type": "object",
      "description": "Represents an ADC template associated with the finding.",
      "id": "AdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}",
          "type": "string"
        }
      }
    },
    "ListDescendantEventThreatDetectionCustomModulesResponse": {
      "id": "ListDescendantEventThreatDetectionCustomModulesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "eventThreatDetectionCustomModules": {
          "description": "Custom modules belonging to the requested parent.",
          "items": {
            "$ref": "EventThreatDetectionCustomModule"
          },
          "type": "array"
        }
      },
      "description": "Response for listing current and descendant resident Event Threat Detection custom modules.",
      "type": "object"
    },
    "ValidateEventThreatDetectionCustomModuleRequest": {
      "type": "object",
      "id": "ValidateEventThreatDetectionCustomModuleRequest",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of the module (e.g. CONFIGURABLE_BAD_IP)."
        },
        "rawText": {
          "type": "string",
          "description": "Required. The raw text of the module's contents. Used to generate error messages."
        }
      },
      "description": "Request to validate an Event Threat Detection custom module."
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "description": "Contains information about the IP connection associated with the finding.",
      "id": "GoogleCloudSecuritycenterV2Connection",
      "properties": {
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ]
        },
        "destinationPort": {
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "format": "int32",
          "type": "integer"
        },
        "sourcePort": {
          "type": "integer",
          "description": "Source port.",
          "format": "int32"
        },
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        },
        "sourceIp": {
          "type": "string",
          "description": "Source IP address."
        }
      }
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "type": "object",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "properties": {
        "primaryTechniques": {
          "type": "array",
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`).",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "T1001",
              "T1001.002",
              "T1003",
              "T1003.007",
              "T1003.008",
              "T1005",
              "T1020",
              "T1027",
              "T1027.003",
              "T1027.004",
              "T1027.010",
              "T1029",
              "T1033",
              "T1036",
              "T1036.005",
              "T1037",
              "T1037.005",
              "T1046",
              "T1053",
              "T1053.003",
              "T1053.007",
              "T1055",
              "T1056",
              "T1056.001",
              "T1057",
              "T1059",
              "T1059.004",
              "T1059.006",
              "T1068",
              "T1069",
              "T1069.003",
              "T1070",
              "T1070.002",
              "T1070.003",
              "T1070.004",
              "T1070.006",
              "T1070.008",
              "T1071",
              "T1071.004",
              "T1072",
              "T1078",
              "T1078.001",
              "T1078.003",
              "T1078.004",
              "T1083",
              "T1087.001",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1098",
              "T1098.001",
              "T1098.003",
              "T1098.004",
              "T1098.006",
              "T1104",
              "T1105",
              "T1106",
              "T1110",
              "T1119",
              "T1129",
              "T1132",
              "T1132.001",
              "T1134",
              "T1134.001",
              "T1136",
              "T1136.001",
              "T1140",
              "T1190",
              "T1195",
              "T1195.001",
              "T1203",
              "T1204",
              "T1212",
              "T1222.002",
              "T1484",
              "T1485",
              "T1486",
              "T1489",
              "T1490",
              "T1495",
              "T1496",
              "T1498",
              "T1526",
              "T1528",
              "T1531",
              "T1537",
              "T1539",
              "T1543",
              "T1546",
              "T1547",
              "T1547.006",
              "T1547.009",
              "T1548",
              "T1548.001",
              "T1548.003",
              "T1552",
              "T1552.001",
              "T1552.003",
              "T1552.004",
              "T1553",
              "T1553.004",
              "T1554",
              "T1555",
              "T1556",
              "T1556.003",
              "T1556.006",
              "T1562",
              "T1562.001",
              "T1562.006",
              "T1562.012",
              "T1564",
              "T1564.001",
              "T1564.002",
              "T1567",
              "T1567.002",
              "T1568",
              "T1570",
              "T1574",
              "T1574.006",
              "T1578",
              "T1578.001",
              "T1580",
              "T1587",
              "T1587.001",
              "T1588",
              "T1588.001",
              "T1588.006",
              "T1595",
              "T1595.001",
              "T1608",
              "T1608.001",
              "T1609",
              "T1610",
              "T1611",
              "T1613",
              "T1620",
              "T1649",
              "T1657"
            ]
          }
        },
        "version": {
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\".",
          "type": "string"
        },
        "additionalTactics": {
          "type": "array",
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any.",
          "items": {
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ],
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          }
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "T1001",
              "T1001.002",
              "T1003",
              "T1003.007",
              "T1003.008",
              "T1005",
              "T1020",
              "T1027",
              "T1027.003",
              "T1027.004",
              "T1027.010",
              "T1029",
              "T1033",
              "T1036",
              "T1036.005",
              "T1037",
              "T1037.005",
              "T1046",
              "T1053",
              "T1053.003",
              "T1053.007",
              "T1055",
              "T1056",
              "T1056.001",
              "T1057",
              "T1059",
              "T1059.004",
              "T1059.006",
              "T1068",
              "T1069",
              "T1069.003",
              "T1070",
              "T1070.002",
              "T1070.003",
              "T1070.004",
              "T1070.006",
              "T1070.008",
              "T1071",
              "T1071.004",
              "T1072",
              "T1078",
              "T1078.001",
              "T1078.003",
              "T1078.004",
              "T1083",
              "T1087.001",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1098",
              "T1098.001",
              "T1098.003",
              "T1098.004",
              "T1098.006",
              "T1104",
              "T1105",
              "T1106",
              "T1110",
              "T1119",
              "T1129",
              "T1132",
              "T1132.001",
              "T1134",
              "T1134.001",
              "T1136",
              "T1136.001",
              "T1140",
              "T1190",
              "T1195",
              "T1195.001",
              "T1203",
              "T1204",
              "T1212",
              "T1222.002",
              "T1484",
              "T1485",
              "T1486",
              "T1489",
              "T1490",
              "T1495",
              "T1496",
              "T1498",
              "T1526",
              "T1528",
              "T1531",
              "T1537",
              "T1539",
              "T1543",
              "T1546",
              "T1547",
              "T1547.006",
              "T1547.009",
              "T1548",
              "T1548.001",
              "T1548.003",
              "T1552",
              "T1552.001",
              "T1552.003",
              "T1552.004",
              "T1553",
              "T1553.004",
              "T1554",
              "T1555",
              "T1556",
              "T1556.003",
              "T1556.006",
              "T1562",
              "T1562.001",
              "T1562.006",
              "T1562.012",
              "T1564",
              "T1564.001",
              "T1564.002",
              "T1567",
              "T1567.002",
              "T1568",
              "T1570",
              "T1574",
              "T1574.006",
              "T1578",
              "T1578.001",
              "T1580",
              "T1587",
              "T1587.001",
              "T1588",
              "T1588.001",
              "T1588.006",
              "T1595",
              "T1595.001",
              "T1608",
              "T1608.001",
              "T1609",
              "T1610",
              "T1611",
              "T1613",
              "T1620",
              "T1649",
              "T1657"
            ]
          },
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques."
        },
        "primaryTactic": {
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any.",
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ]
        }
      }
    },
    "Denied": {
      "type": "object",
      "description": "Denied IP rule.",
      "id": "Denied",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          },
          "description": "Optional. Optional list of denied IP rules."
        }
      }
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2NodePool",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          },
          "description": "Nodes associated with the finding.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Kubernetes node pool name."
        }
      },
      "description": "Provides GKE node pool information."
    },
    "SimulateSecurityHealthAnalyticsCustomModuleResponse": {
      "id": "SimulateSecurityHealthAnalyticsCustomModuleResponse",
      "properties": {
        "result": {
          "$ref": "SimulatedResult",
          "description": "Result for test case in the corresponding request."
        }
      },
      "description": "Response message for simulating a `SecurityHealthAnalyticsCustomModule` against a given resource.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "type": "object",
      "description": "Kernel mode rootkit signatures.",
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "properties": {
        "unexpectedProcessesInRunqueue": {
          "type": "boolean",
          "description": "True if unexpected processes in the scheduler run queue are present. Such processes are in the run queue, but not in the process task list."
        },
        "unexpectedSystemCallHandler": {
          "description": "True if system call handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "description": "True if `kprobe` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "description": "True if `ftrace` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "description": "True if interrupt handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "name": {
          "description": "Rootkit name, when available.",
          "type": "string"
        },
        "unexpectedCodeModification": {
          "description": "True if unexpected modifications of kernel code memory are present.",
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean",
          "description": "True if unexpected modifications of kernel read-only data memory are present."
        },
        "unexpectedKernelCodePages": {
          "description": "True if kernel code pages that are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LoadBalancer",
      "properties": {
        "name": {
          "description": "The name of the load balancer associated with the finding.",
          "type": "string"
        }
      },
      "description": "Contains information related to the load balancer associated with the finding."
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "properties": {
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization",
          "description": "The AWS organization associated with the resource."
        },
        "account": {
          "description": "The AWS account associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          },
          "description": "A list of AWS organizational units associated with the resource, ordered from lowest level (closest to the account) to highest level."
        }
      },
      "description": "AWS metadata associated with the resource, only applicable if the finding's cloud provider is Amazon Web Services.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "type": "object",
      "description": "Aggregated count of a security context.",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "properties": {
        "value": {
          "description": "Aggregation value.",
          "format": "int32",
          "type": "integer"
        },
        "key": {
          "description": "Aggregation key.",
          "type": "string"
        }
      }
    },
    "OrgPolicy": {
      "type": "object",
      "description": "Contains information about the org policies associated with the finding.",
      "id": "OrgPolicy",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the org policy. Example: \"organizations/{organization_id}/policies/{constraint_name}\""
        }
      }
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "type": "object",
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding.",
      "id": "GoogleCloudSecuritycenterV2Finding",
      "properties": {
        "externalExposure": {
          "description": "External exposure associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "chokepoint": {
          "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations). This field cannot be updated. Its value is ignored in all update requests.",
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
          "description": "Fields related to Backup and DR findings."
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection",
          "description": "Cloud Data Loss Prevention (Cloud DLP) inspection results that are associated with the finding."
        },
        "externalSystems": {
          "type": "object",
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          }
        },
        "loadBalancers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          },
          "description": "The load balancers associated with the finding.",
          "type": "array"
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source and location the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. The following list shows some examples: + `organizations/{organization_id}/sources/{source_id}` + `folders/{folders_id}/sources/{source_id}` + `projects/{projects_id}/sources/{source_id}` + `organizations/{organization_id}/sources/{source_id}/locations/{location_id}` + `folders/{folders_id}/sources/{source_id}/locations/{location_id}` + `projects/{projects_id}/sources/{source_id}/locations/{location_id}`"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator",
          "description": "Represents what's commonly known as an *indicator of compromise* (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise)."
        },
        "aiModel": {
          "description": "The AI model associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "muteInfo": {
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo",
          "description": "Output only. The mute information regarding this finding.",
          "readOnly": true
        },
        "toxicCombination": {
          "description": "Contains details about a group of security issues that, when the issues occur together, represent a greater risk than when the issues occur independently. A group of such issues is referred to as a toxic combination. This field cannot be updated. Its value is ignored in all update requests.",
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the finding was created in Security Command Center.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "processes": {
          "type": "array",
          "description": "Represents operating system processes associated with the Finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          }
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails",
          "description": "Details about the compliance implications of the finding."
        },
        "iamBindings": {
          "type": "array",
          "description": "Represents IAM bindings associated with the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          }
        },
        "contacts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "description": "Output only. Map containing the points of contact for the given finding. The key represents the type of contact, while the value contains a list of all the contacts that pertain. Please refer to: https://cloud.google.com/resource-manager/docs/managing-notification-contacts#notification-categories { \"security\": { \"contacts\": [ { \"email\": \"person1@company.com\" }, { \"email\": \"person2@company.com\" } ] } }",
          "readOnly": true
        },
        "muteInitiator": {
          "description": "Records additional information about the mute operation, for example, the [mute configuration](https://cloud.google.com/security-command-center/docs/how-to-mute-findings) that muted the finding and the user who muted the finding.",
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "Output only. The human readable display name of the finding source such as \"Event Threat Detection\" or \"Security Health Analytics\".",
          "readOnly": true
        },
        "resourceName": {
          "description": "Immutable. For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string.",
          "type": "string"
        },
        "connections": {
          "type": "array",
          "description": "Contains information about the IP connection associated with the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "findingClass": {
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE"
          ],
          "description": "The class of the finding.",
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality.",
            "Describes a potential security risk due to a change in the security posture.",
            "Describes a combination of security issues that represent a more severe security problem when taken together.",
            "Describes a potential security risk to data assets that contain sensitive data.",
            "Describes a resource or resource group where high risk attack paths converge, based on attack path simulations (APS).",
            "Describes a potential security risk due to the resource being exposed to the internet."
          ]
        },
        "category": {
          "description": "Immutable. The additional taxonomy group within findings from a given source. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes",
          "description": "Kubernetes resources associated with the finding."
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile",
          "description": "Cloud DLP data profile that is associated with the finding."
        },
        "kernelRootkit": {
          "description": "Signature of the kernel rootkit.",
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "compliances": {
          "type": "array",
          "description": "Contains compliance information for security standards associated to the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "groupMemberships": {
          "type": "array",
          "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way. This field cannot be updated. Its value is ignored in all update requests.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "files": {
          "description": "File associated with the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          },
          "type": "array"
        },
        "dataAccessEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          },
          "description": "Data access events associated with the finding.",
          "type": "array"
        },
        "mute": {
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ]
        },
        "nextSteps": {
          "description": "Steps to address the finding.",
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "containers": {
          "type": "array",
          "description": "Containers associated with the finding. This field provides information for both Kubernetes and non-Kubernetes containers.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object"
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack",
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org"
        },
        "cloudArmor": {
          "description": "Fields related to Cloud Armor findings.",
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "affectedResources": {
          "description": "AffectedResources associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access",
          "description": "Access details associated with the finding, such as more information on the caller, which method was accessed, and from where."
        },
        "logEntries": {
          "type": "array",
          "description": "Log entries that are relevant to the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job",
          "description": "Job associated with the finding."
        },
        "attackExposure": {
          "description": "The results of an attack path simulation relevant to this finding.",
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "dataFlowEvents": {
          "description": "Data flow events associated with the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          },
          "type": "array"
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database",
          "description": "Database associated with the finding."
        },
        "networks": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          },
          "description": "Represents the VPC networks that the resource is attached to.",
          "type": "array"
        },
        "disk": {
          "description": "Disk associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "orgPolicies": {
          "description": "Contains information about the org policies associated with the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          },
          "type": "array"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ]
        },
        "eventTime": {
          "type": "string",
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp.",
          "format": "google-datetime"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application",
          "description": "Represents an application associated with the finding."
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "canonicalName": {
          "type": "string",
          "description": "Output only. The canonical name of the finding. The following list shows some examples: + `organizations/{organization_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}` + `folders/{folder_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}` + `projects/{project_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}` The prefix is the closest CRM ancestor of the resource associated with the finding.",
          "readOnly": true
        },
        "muteUpdateTime": {
          "type": "string",
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
          "description": "ArtifactGuardPolicies associated with the finding."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. The following list shows some examples: + `organizations/{organization_id}/sources/{source_id}/findings/{finding_id}` + `organizations/{organization_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}` + `folders/{folder_id}/sources/{source_id}/findings/{finding_id}` + `folders/{folder_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}` + `projects/{project_id}/sources/{source_id}/findings/{finding_id}` + `projects/{project_id}/sources/{source_id}/locations/{location_id}/findings/{finding_id}`"
        },
        "exfiltration": {
          "description": "Represents exfiltrations associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "moduleName": {
          "type": "string",
          "description": "Unique identifier of the module which generated the finding. Example: folders/598186756061/securityHealthAnalyticsSettings/customModules/56799441161885"
        },
        "vertexAi": {
          "description": "VertexAi associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "securityPosture": {
          "description": "The security posture associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "secret": {
          "description": "Secret associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "notebook": {
          "description": "Notebook associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules",
          "description": "IP rules associated with the finding."
        },
        "cryptoKeyName": {
          "type": "string",
          "description": "Output only. The name of the Cloud KMS key used to encrypt this finding, if any.",
          "readOnly": true
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          },
          "description": "Data retention deletion events associated with the finding."
        },
        "description": {
          "type": "string",
          "description": "Contains more details about the finding."
        },
        "vulnerability": {
          "description": "Represents vulnerability-specific fields like CVE and CVSS scores. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "description": "An Organizational Unit (OU) is a container of AWS accounts within a root of an organization. Policies that are attached to an OU apply to all accounts contained in that OU and in any child OUs.",
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier (ID) associated with this OU. The regex pattern for an organizational unit ID string requires \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits. For example, \"ou-ab12-cd34ef56\"."
        },
        "name": {
          "type": "string",
          "description": "The friendly name of the OU."
        }
      },
      "type": "object"
    },
    "SecurityMarks": {
      "type": "object",
      "id": "SecurityMarks",
      "properties": {
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object"
        }
      },
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization."
    },
    "GetPolicyOptions": {
      "type": "object",
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "GoogleCloudSecuritycenterV2PolicyDriftDetails": {
      "description": "The policy field that violates the deployed posture and its expected and detected values.",
      "id": "GoogleCloudSecuritycenterV2PolicyDriftDetails",
      "properties": {
        "detectedValue": {
          "type": "string",
          "description": "The detected value that violates the deployed posture, for example, `false` or `allowed_values={\"projects/22831892\"}`."
        },
        "field": {
          "type": "string",
          "description": "The name of the updated field, for example constraint.implementation.policy_rules[0].enforce"
        },
        "expectedValue": {
          "type": "string",
          "description": "The value of this field that was configured in a posture, for example, `true` or `allowed_values={\"projects/29831892\"}`."
        }
      },
      "type": "object"
    },
    "Attack": {
      "type": "object",
      "id": "Attack",
      "properties": {
        "volumePps": {
          "type": "integer",
          "description": "Total PPS (packets per second) volume of attack. Deprecated - refer to volume_pps_long instead.",
          "deprecated": true,
          "format": "int32"
        },
        "classification": {
          "description": "Type of attack, for example, 'SYN-flood', 'NTP-udp', or 'CHARGEN-udp'.",
          "type": "string"
        },
        "volumePpsLong": {
          "description": "Total PPS (packets per second) volume of attack.",
          "format": "int64",
          "type": "string"
        },
        "volumeBpsLong": {
          "description": "Total BPS (bytes per second) volume of attack.",
          "format": "int64",
          "type": "string"
        },
        "volumeBps": {
          "description": "Total BPS (bytes per second) volume of attack. Deprecated - refer to volume_bps_long instead.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Information about DDoS attack volume and classification."
    },
    "DataAccessEvent": {
      "description": "Details about a data access attempt made by a principal not authorized under applicable data security policy.",
      "id": "DataAccessEvent",
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "Timestamp of data access event.",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier for data access event."
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "description": "The operation performed by the principal to access the data.",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ]
        },
        "principalEmail": {
          "description": "The email address of the principal that accessed the data. The principal could be a user account, service account, Google group, or other.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "description": "Kubernetes-related attributes.",
      "id": "GoogleCloudSecuritycenterV2Kubernetes",
      "properties": {
        "roles": {
          "description": "Provides Kubernetes role information for findings that involve [Roles or ClusterRoles](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          },
          "type": "array"
        },
        "bindings": {
          "description": "Provides Kubernetes role binding information for findings that involve [RoleBindings or ClusterRoleBindings](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          },
          "type": "array"
        },
        "pods": {
          "description": "Kubernetes [Pods](https://cloud.google.com/kubernetes-engine/docs/concepts/pod) associated with the finding. This field contains Pod records for each container that is owned by a Pod.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          },
          "type": "array"
        },
        "nodes": {
          "description": "Provides Kubernetes [node](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture#nodes) information.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          },
          "type": "array"
        },
        "nodePools": {
          "description": "GKE [node pools](https://cloud.google.com/kubernetes-engine/docs/concepts/node-pools) associated with the finding. This field contains node pool information for each node, when it is available.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          },
          "type": "array"
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          },
          "description": "Kubernetes objects related to the finding."
        },
        "accessReviews": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          },
          "description": "Provides information on any Kubernetes access reviews (privilege checks) relevant to the finding.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "type": "object",
      "description": "Contact information of stakeholders.",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo",
      "properties": {
        "email": {
          "description": "Email address of the contacts.",
          "type": "string"
        }
      }
    },
    "ResourceValueConfigMetadata": {
      "id": "ResourceValueConfigMetadata",
      "properties": {
        "name": {
          "description": "Resource value config name",
          "type": "string"
        }
      },
      "description": "Metadata about a ResourceValueConfig. For example, id and name.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      },
      "description": "Represents a geographical location for a given access.",
      "type": "object"
    },
    "SensitivityScore": {
      "type": "object",
      "id": "SensitivityScore",
      "properties": {
        "score": {
          "description": "The sensitivity score applied to the resource.",
          "enumDescriptions": [
            "Unused.",
            "No sensitive information detected. The resource isn't publicly accessible.",
            "Unable to determine sensitivity.",
            "Medium risk. Contains personally identifiable information (PII), potentially sensitive data, or fields with free-text data that are at a higher risk of having intermittent sensitive data. Consider limiting access.",
            "High risk. Sensitive personally identifiable information (SPII) can be present. Exfiltration of data can lead to user data loss. Re-identification of users might be possible. Consider limiting usage and or removing SPII."
          ],
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      },
      "description": "Score is calculated from of all elements in the data profile. A higher level means the data is more sensitive."
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "properties": {},
      "description": "The response to a BulkMute request. Contains the LRO information."
    },
    "Database": {
      "id": "Database",
      "properties": {
        "version": {
          "description": "The version of the database, for example, POSTGRES_14. See [the complete list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).",
          "type": "string"
        },
        "name": {
          "description": "Some database resources may not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. Cloud SQL databases). In these cases only the display name will be provided. The [full resource name](https://google.aip.dev/122#full-resource-names) of the database that the user connected to, if it is supported by Cloud Asset Inventory.",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name of the database that the user connected to.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "The username used to connect to the database. The username might not be an IAM principal and does not have a set format."
        },
        "query": {
          "description": "The SQL statement that is associated with the database access.",
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The target usernames, roles, or groups of an SQL privilege grant, which is not an IAM policy change."
        }
      },
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of Cloud SQL instances or Cloud Spanner instances), or the database instance itself. Some database resources might not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types, such as Cloud SQL databases, are not yet supported by Cloud Asset Inventory. In these cases only the display name is provided.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "description": "Message that contains the resource name and display name of a folder resource.",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "properties": {
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "properties": {
        "values": {
          "description": "Context values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "description": "Context type.",
          "type": "string"
        }
      },
      "description": "Context of a security context.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "projectDisplayName": {
          "description": "The project id that the resource belongs to.",
          "type": "string"
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        }
      },
      "description": "Information related to the Google Cloud resource.",
      "type": "object"
    },
    "Disk": {
      "description": "Contains information about the disk associated with the finding.",
      "id": "Disk",
      "properties": {
        "name": {
          "description": "The name of the disk, for example, \"https://www.googleapis.com/compute/v1/projects/{project-id}/zones/{zone-id}/disks/{disk-id}\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExportFindingsResponse": {
      "type": "object",
      "id": "ExportFindingsResponse",
      "properties": {},
      "description": "The response to a ExportFindings request. Contains the LRO information."
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "description": "Consumer provided attributes for the application",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "properties": {
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "description": "Operator team that ensures runtime and operations."
        },
        "businessOwners": {
          "description": "Business team that ensures user needs are met and value is delivered",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "criticality": {
          "description": "User-defined criticality information.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "description": "Developer team that owns development and coding.",
          "type": "array"
        },
        "environment": {
          "description": "User-defined environment information.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        }
      },
      "type": "object"
    },
    "Dataset": {
      "id": "Dataset",
      "properties": {
        "displayName": {
          "description": "The user defined display name of dataset, e.g. plants-dataset",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the dataset, e.g. projects/{project}/locations/{location}/datasets/2094040236064505856"
        },
        "source": {
          "description": "Data source, such as BigQuery source URI, e.g. bq://scc-nexus-test.AIPPtest.gsod",
          "type": "string"
        }
      },
      "description": "Vertex AI dataset associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "properties": {
        "highSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "description": "Resource value mapping for high-sensitivity Sensitive Data Protection findings",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ]
        },
        "mediumSensitivityMapping": {
          "description": "Resource value mapping for medium-sensitivity Sensitive Data Protection findings",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      },
      "description": "Resource value mapping for Sensitive Data Protection findings If any of these mappings have a resource value that is not unspecified, the resource_value field will be ignored when reading this configuration."
    },
    "GoogleCloudSecuritycenterV2Label": {
      "type": "object",
      "description": "Represents a generic name-value label. A label has separate name and value fields to support filtering with the `contains()` function. For more information, see [Filtering on array-type fields](https://cloud.google.com/security-command-center/docs/how-to-api-list-findings#array-contains-filtering).",
      "id": "GoogleCloudSecuritycenterV2Label",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the label."
        },
        "value": {
          "description": "Value that corresponds to the label's name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "id": "GoogleCloudSecuritycenterV2Pod",
      "properties": {
        "ns": {
          "description": "Kubernetes Pod namespace.",
          "type": "string"
        },
        "name": {
          "description": "Kubernetes Pod name.",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "description": "Pod labels. For Kubernetes containers, these are applied to the container.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "description": "Pod containers associated with this finding, if any."
        }
      },
      "description": "A Kubernetes Pod.",
      "type": "object"
    },
    "Node": {
      "id": "Node",
      "properties": {
        "name": {
          "type": "string",
          "description": "[Full resource name](https://google.aip.dev/122#full-resource-names) of the Compute Engine VM running the cluster node."
        }
      },
      "description": "Kubernetes nodes associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "id": "GoogleCloudSecuritycenterV2Pipeline",
      "properties": {
        "name": {
          "description": "Resource name of the pipeline, e.g. projects/{project}/locations/{location}/trainingPipelines/5253428229225578496",
          "type": "string"
        },
        "displayName": {
          "description": "The user-defined display name of pipeline, e.g. plants-classification",
          "type": "string"
        }
      },
      "description": "Vertex AI training pipeline associated with the finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "type": "object",
      "description": "Security context associated with an issue.",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext",
      "properties": {
        "context": {
          "description": "The context of the security context.",
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        },
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
          "description": "The aggregated count of the security context."
        }
      }
    },
    "ListResourceValueConfigsResponse": {
      "type": "object",
      "id": "ListResourceValueConfigsResponse",
      "properties": {
        "resourceValueConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
          },
          "description": "The resource value configs from the specified parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message to list resource value configs"
    },
    "GoogleCloudSecuritycenterV2Allowed": {
      "description": "Allowed IP rule.",
      "id": "GoogleCloudSecuritycenterV2Allowed",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          },
          "description": "Optional. Optional list of allowed IP rules.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "description": "Indicates what signature matched this process.",
      "id": "GoogleCloudSecuritycenterV2ProcessSignature",
      "properties": {
        "memoryHashSignature": {
          "description": "Signature indicating that a binary family was matched.",
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "signatureType": {
          "description": "Describes the type of resource associated with the signature.",
          "enumDescriptions": [
            "The default signature type.",
            "Used for signatures concerning processes.",
            "Used for signatures concerning disks."
          ],
          "type": "string",
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ]
        },
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature",
          "description": "Signature indicating that a YARA rule was matched."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping",
      "properties": {
        "highSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "description": "Resource value mapping for high-sensitivity Sensitive Data Protection findings",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ]
        },
        "mediumSensitivityMapping": {
          "description": "Resource value mapping for medium-sensitivity Sensitive Data Protection findings",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      },
      "description": "Resource value mapping for Sensitive Data Protection findings. If any of these mappings have a resource value that is not unspecified, the resource_value field will be ignored when reading this configuration."
    },
    "ListValuedResourcesResponse": {
      "description": "Response message for listing the valued resources for a given simulation.",
      "id": "ListValuedResourcesResponse",
      "properties": {
        "totalSize": {
          "description": "The estimated total number of results matching the query.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "valuedResources": {
          "items": {
            "$ref": "ValuedResource"
          },
          "description": "The valued resources that the attack path simulation identified.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "type": "object",
      "description": "Describes a job",
      "id": "GoogleCloudSecuritycenterV2Job",
      "properties": {
        "errorCode": {
          "description": "Optional. If the job did not complete successfully, this field describes why.",
          "format": "int32",
          "type": "integer"
        },
        "location": {
          "description": "Optional. Gives the location where the job ran, such as `US` or `europe-west1`",
          "type": "string"
        },
        "name": {
          "description": "The fully-qualified name for a job. e.g. `projects//jobs/`",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. State of the job, such as `RUNNING` or `PENDING`.",
          "enumDescriptions": [
            "Unspecified represents an unknown state and should not be used.",
            "Job is scheduled and pending for run",
            "Job in progress",
            "Job has completed with success",
            "Job has completed but with failure"
          ],
          "type": "string"
        }
      }
    },
    "Compliance": {
      "description": "Contains compliance information about a security standard indicating unmet recommendations.",
      "id": "Compliance",
      "properties": {
        "version": {
          "description": "Version of the standard or benchmark, for example, 1.1",
          "type": "string"
        },
        "ids": {
          "type": "array",
          "description": "Policies within the standard or benchmark, for example, A.12.4.1",
          "items": {
            "type": "string"
          }
        },
        "standard": {
          "description": "Industry-wide compliance standards or benchmarks, such as CIS, PCI, and OWASP.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "properties": {
        "protocol": {
          "type": "string",
          "description": "The IP protocol this rule applies to. This value can either be one of the following well known protocol strings (TCP, UDP, ICMP, ESP, AH, IPIP, SCTP) or a string representation of the integer value."
        },
        "portRanges": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          },
          "description": "Optional. An optional list of ports to which this rule applies. This field is only applicable for the UDP or (S)TCP protocols. Each entry must be either an integer or a range including a min and max port number.",
          "type": "array"
        }
      },
      "description": "IP rule information.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "type": "object",
      "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way.",
      "id": "GoogleCloudSecuritycenterV2GroupMembership",
      "properties": {
        "groupType": {
          "description": "Type of group.",
          "enumDescriptions": [
            "Default value.",
            "Group represents a toxic combination.",
            "Group represents a chokepoint."
          ],
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "description": "ID of the group.",
          "type": "string"
        }
      }
    },
    "CreateResourceValueConfigRequest": {
      "id": "CreateResourceValueConfigRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. Resource name of the new ResourceValueConfig's parent."
        },
        "resourceValueConfig": {
          "description": "Required. The resource value config being created.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
        }
      },
      "description": "Request message to create single resource value config",
      "type": "object"
    },
    "Allowed": {
      "type": "object",
      "id": "Allowed",
      "properties": {
        "ipRules": {
          "description": "Optional. Optional list of allowed IP rules.",
          "items": {
            "$ref": "IpRule"
          },
          "type": "array"
        }
      },
      "description": "Allowed IP rule."
    },
    "AzureManagementGroup": {
      "description": "Represents an Azure management group.",
      "id": "AzureManagementGroup",
      "properties": {
        "id": {
          "description": "The UUID of the Azure management group, for example, `20000000-0001-0000-0000-000000000000`.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the Azure management group.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExfilResource",
      "properties": {
        "name": {
          "description": "The resource's [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name).",
          "type": "string"
        },
        "components": {
          "description": "Subcomponents of the asset that was exfiltrated, like URIs used during exfiltration, table names, databases, and filenames. For example, multiple tables might have been exfiltrated from the same Cloud SQL instance, or multiple files might have been exfiltrated from the same Cloud Storage bucket.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Resource where data was exfiltrated from or exfiltrated to."
    },
    "Process": {
      "description": "Represents an operating system process.",
      "id": "Process",
      "properties": {
        "userId": {
          "type": "string",
          "description": "The ID of the user that executed the process. E.g. If this is the root user this will always be 0.",
          "format": "int64"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Process arguments as JSON encoded strings.",
          "type": "array"
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter, while `script` provides information about the script file provided to the interpreter.",
          "$ref": "File"
        },
        "envVariablesTruncated": {
          "type": "boolean",
          "description": "True if `env_variables` is incomplete."
        },
        "pid": {
          "description": "The process ID.",
          "format": "int64",
          "type": "string"
        },
        "binary": {
          "description": "File information for the process executable.",
          "$ref": "File"
        },
        "argumentsTruncated": {
          "type": "boolean",
          "description": "True if `args` is incomplete."
        },
        "envVariables": {
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "description": "Process environment variables.",
          "type": "array"
        },
        "name": {
          "description": "The process name, as displayed in utilities like `top` and `ps`. This name can be accessed through `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`.",
          "type": "string"
        },
        "parentPid": {
          "type": "string",
          "description": "The parent process ID.",
          "format": "int64"
        },
        "libraries": {
          "items": {
            "$ref": "File"
          },
          "description": "File information for libraries loaded by the process.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "type": "object",
      "description": "Represents an Azure subscription.",
      "id": "GoogleCloudSecuritycenterV2AzureSubscription",
      "properties": {
        "id": {
          "description": "The UUID of the Azure subscription, for example, `291bba3f-e0a5-47bc-a099-3bdcb2a50a05`.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the Azure subscription.",
          "type": "string"
        }
      }
    },
    "ContactDetails": {
      "type": "object",
      "id": "ContactDetails",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "Contact"
          },
          "description": "A list of contacts",
          "type": "array"
        }
      },
      "description": "Details about specific contacts"
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the notification config (max of 1024 characters)."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Output only. The service account that needs \"pubsub.topics.publish\" permission to publish to the Pub/Sub topic.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\", \"folders/{folder_id}/notificationConfigs/notify_public_bucket\", or \"projects/{project_id}/notificationConfigs/notify_public_bucket\"."
        },
        "streamingConfig": {
          "$ref": "StreamingConfig",
          "description": "The config for triggering streaming-based notifications."
        },
        "pubsubTopic": {
          "description": "The Pub/Sub topic to send notifications to. Its format is \"projects/[project_id]/topics/[topic]\".",
          "type": "string"
        }
      },
      "description": "Cloud Security Command Center (Cloud SCC) notification configs. A notification config is a Cloud SCC resource that contains the configuration to send notifications for create/update events of findings, assets and etc.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "properties": {
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "description": "Cloud provider this configuration applies to",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ]
        },
        "scope": {
          "description": "Project or folder to scope this configuration to. For example, \"project/456\" would apply this configuration only to resources in \"project/456\" scope will be checked with `AND` of other resources.",
          "type": "string"
        },
        "resourceType": {
[...]
