{
  "documentationLink": "https://cloud.google.com/security-command-center",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "title": "Security Command Center API",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "name": "securitycenter",
  "schemas": {
    "Reference": {
      "properties": {
        "source": {
          "type": "string",
          "description": "Source of the reference e.g. NVD"
        },
        "uri": {
          "type": "string",
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527."
        }
      },
      "id": "Reference",
      "type": "object",
      "description": "Additional Links"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "properties": {
        "value": {
          "type": "integer",
          "description": "Aggregation value.",
          "format": "int32"
        },
        "key": {
          "type": "string",
          "description": "Aggregation key."
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "type": "object",
      "description": "Aggregated count of a security context."
    },
    "GoogleCloudSecuritycenterV2AffectedResources": {
      "id": "GoogleCloudSecuritycenterV2AffectedResources",
      "type": "object",
      "description": "Details about resources affected by this finding.",
      "properties": {
        "count": {
          "type": "string",
          "description": "The count of resources affected by the finding.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "description": "Contact information of stakeholders.",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the contacts."
        }
      }
    },
    "GcpMetadata": {
      "properties": {
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "organization": {
          "description": "The name of the organization that the resource belongs to.",
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project ID that the resource belongs to."
        }
      },
      "id": "GcpMetadata",
      "type": "object",
      "description": "Google Cloud metadata associated with the resource. Only applicable if the finding's cloud provider is Google Cloud."
    },
    "AzureTenant": {
      "description": "Represents a Microsoft Entra tenant.",
      "id": "AzureTenant",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the Microsoft Entra tenant, for example, \"a11aaa11-aa11-1aa1-11aa-1aaa11a\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the Azure tenant."
        }
      }
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "description": "Vertex AI dataset associated with the finding.",
      "id": "GoogleCloudSecuritycenterV2Dataset",
      "type": "object",
      "properties": {
        "source": {
          "type": "string",
          "description": "Data source, such as a BigQuery source URI, e.g. bq://scc-nexus-test.AIPPtest.gsod"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the dataset, e.g. projects/{project}/locations/{location}/datasets/2094040236064505856"
        },
        "displayName": {
          "type": "string",
          "description": "The user defined display name of dataset, e.g. plants-dataset"
        }
      }
    },
    "Control": {
      "properties": {
        "controlName": {
          "type": "string",
          "description": "Name of the Control"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the control. For example, AU-02."
        }
      },
      "description": "Compliance control associated with the finding.",
      "id": "Control",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Access": {
      "properties": {
        "callerIp": {
          "description": "Caller's IP address, such as \"1.1.1.1\".",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "A string that represents a username. The username provided depends on the type of the finding and is likely not an IAM principal. For example, this can be a system username if the finding is related to a virtual machine, or it can be an application login username."
        },
        "principalEmail": {
          "type": "string",
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user or a service account acting on behalf of a third party principal making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id)."
        },
        "methodName": {
          "description": "The method that the service account called, e.g. \"SetIamPolicy\".",
          "type": "string"
        },
        "userAgentFamily": {
          "description": "Type of user agent associated with the finding. For example, an operating system shell or an embedded or standalone application.",
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string",
          "description": "The name of the service account key that was used to create or exchange credentials when authenticating the service account that made the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\". "
        },
        "serviceAccountDelegationInfo": {
          "description": "The identity delegation history of an authenticated service account that made the request. The `serviceAccountDelegationInfo[]` object contains information about the real authorities that try to access Google Cloud resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          }
        },
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation",
          "description": "The caller IP's geolocation, which identifies where the call came from."
        },
        "userAgent": {
          "description": "The caller's user agent string associated with the finding.",
          "type": "string"
        },
        "serviceName": {
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\"",
          "type": "string"
        },
        "principalSubject": {
          "description": "A string that represents the principal_subject that is associated with the identity. Unlike `principal_email`, `principal_subject` supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format is `principal://iam.googleapis.com/{identity pool name}/subject/{subject}`. Some GKE identities, such as GKE_WORKLOAD, FREEFORM, and GKE_HUB_WORKLOAD, still use the legacy format `serviceAccount:{identity pool name}[{subject}]`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Access",
      "type": "object",
      "description": "Represents an access event."
    },
    "GoogleCloudSecuritycenterV2DynamicMuteRecord": {
      "properties": {
        "muteConfig": {
          "type": "string",
          "description": "The relative resource name of the mute rule, represented by a mute config, that created this record, for example `organizations/123/muteConfigs/mymuteconfig` or `organizations/123/locations/global/muteConfigs/mymuteconfig`."
        },
        "matchTime": {
          "format": "google-datetime",
          "description": "When the dynamic mute rule first matched the finding.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DynamicMuteRecord",
      "type": "object",
      "description": "The record of a dynamic mute rule that matches the finding."
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "id": "GoogleCloudSecuritycenterV2AwsOrganization",
      "type": "object",
      "description": "An organization is a collection of accounts that are centrally managed together using consolidated billing, organized hierarchically with organizational units (OUs), and controlled with policies.",
      "properties": {
        "id": {
          "description": "The unique identifier (ID) for the organization. The regex pattern for an organization ID string requires \"o-\" followed by from 10 to 32 lowercase letters or digits.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Context values."
        },
        "type": {
          "type": "string",
          "description": "Context type."
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "type": "object",
      "description": "Context of a security context."
    },
    "SecurityPolicy": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of Google Cloud Armor security policy for example, 'backend security policy', 'edge security policy', 'network edge security policy', or 'always-on DDoS protection'."
        },
        "preview": {
          "description": "Whether or not the associated rule or policy is in preview mode.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the Google Cloud Armor security policy, for example, \"my-security-policy\".",
          "type": "string"
        }
      },
      "description": "Information about the [Google Cloud Armor security policy](https://cloud.google.com/armor/docs/security-policy-overview) relevant to the finding.",
      "id": "SecurityPolicy",
      "type": "object"
    },
    "AwsMetadata": {
      "description": "AWS metadata associated with the resource, only applicable if the finding's cloud provider is Amazon Web Services.",
      "id": "AwsMetadata",
      "type": "object",
      "properties": {
        "organization": {
          "$ref": "AwsOrganization",
          "description": "The AWS organization associated with the resource."
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          },
          "description": "A list of AWS organizational units associated with the resource, ordered from lowest level (closest to the account) to highest level."
        },
        "account": {
          "description": "The AWS account associated with the resource.",
          "$ref": "AwsAccount"
        }
      }
    },
    "ListDescendantEventThreatDetectionCustomModulesResponse": {
      "properties": {
        "eventThreatDetectionCustomModules": {
          "description": "Custom modules belonging to the requested parent.",
          "type": "array",
          "items": {
            "$ref": "EventThreatDetectionCustomModule"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response for listing current and descendant resident Event Threat Detection custom modules.",
      "id": "ListDescendantEventThreatDetectionCustomModulesResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "id": "GoogleCloudSecuritycenterV2Notebook",
      "type": "object",
      "description": "Represents a Jupyter notebook IPYNB file, such as a [Colab Enterprise notebook](https://cloud.google.com/colab/docs/introduction) file, that is associated with a finding.",
      "properties": {
        "lastAuthor": {
          "description": "The user ID of the latest author to modify the notebook.",
          "type": "string"
        },
        "service": {
          "type": "string",
          "description": "The source notebook service, for example, \"Colab Enterprise\"."
        },
        "notebookUpdateTime": {
          "description": "The most recent time the notebook was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The name of the notebook."
        }
      }
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "properties": {},
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "description": "Represents an ADC template associated with the finding.",
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of an ADC Application Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}"
        }
      }
    },
    "SecurityBulletin": {
      "description": "SecurityBulletin are notifications of vulnerabilities of Google products.",
      "id": "SecurityBulletin",
      "type": "object",
      "properties": {
        "suggestedUpgradeVersion": {
          "type": "string",
          "description": "This represents a version that the cluster receiving this notification should be upgraded to, based on its current version. For example, 1.15.0"
        },
        "submissionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Submission time of this Security Bulletin."
        },
        "bulletinId": {
          "description": "ID of the bulletin corresponding to the vulnerability.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "description": "Information about [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/cloud-armor-overview#google-cloud-armor-adaptive-protection).",
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "description": "A score of 0 means that there is low confidence that the detected event is an actual attack. A score of 1 means that there is high confidence that the detected event is an attack. See the [Adaptive Protection documentation](https://cloud.google.com/armor/docs/adaptive-protection-overview#configure-alert-tuning) for further explanation.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "properties": {
        "partitionUuid": {
          "type": "string",
          "description": "UUID of the partition (format https://wiki.archlinux.org/title/persistent_block_device_naming#by-uuid)"
        },
        "relativePath": {
          "description": "Relative path of the file in the partition as a JSON encoded string. Example: /home/user1/executable_file.sh",
          "type": "string"
        }
      },
      "description": "Path of the file in terms of underlying disk/partition identifiers.",
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2StaticMute": {
      "id": "GoogleCloudSecuritycenterV2StaticMute",
      "type": "object",
      "description": "Information about the static mute state. A static mute state overrides any dynamic mute rules that apply to this finding. The static mute state can be set by a static mute rule or by muting the finding directly.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "description": "The static mute state. If the value is `MUTED` or `UNMUTED`, then the finding's overall mute state will have the same value."
        },
        "applyTime": {
          "format": "google-datetime",
          "description": "When the static mute was applied.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "type": "object",
      "description": "Defines the properties in a custom module configuration for Security Health Analytics. Use the custom module configuration to create custom detectors that generate custom findings for resources that you specify.",
      "properties": {
        "predicate": {
          "$ref": "Expr",
          "description": "The CEL expression to evaluate to produce findings. When the expression evaluates to true against a resource, a finding is generated."
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec",
          "description": "Custom output properties."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity to assign to findings generated by the module.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ]
        },
        "description": {
          "description": "Text that describes the vulnerability or misconfiguration that the custom module detects. This explanation is returned with each finding instance to help investigators understand the detected issue. The text must be enclosed in quotation marks.",
          "type": "string"
        },
        "recommendation": {
          "type": "string",
          "description": "An explanation of the recommended steps that security teams can take to resolve the detected issue. This explanation is returned with each finding generated by this module in the `nextSteps` property of the finding JSON."
        },
        "resourceSelector": {
          "description": "The resource types that the custom module operates on. Each custom module can specify up to 5 resource types.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        }
      }
    },
    "AdaptiveProtection": {
      "description": "Information about [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/cloud-armor-overview#google-cloud-armor-adaptive-protection).",
      "id": "AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "A score of 0 means that there is low confidence that the detected event is an actual attack. A score of 1 means that there is high confidence that the detected event is an attack. See the [Adaptive Protection documentation](https://cloud.google.com/armor/docs/adaptive-protection-overview#configure-alert-tuning) for further explanation.",
          "format": "double"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "id": "GoogleCloudSecuritycenterV2Connection",
      "type": "object",
      "description": "Contains information about the IP connection associated with the finding.",
      "properties": {
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        },
        "sourcePort": {
          "format": "int32",
          "type": "integer",
          "description": "Source port."
        },
        "destinationPort": {
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "type": "string",
          "description": "Source IP address."
        },
        "protocol": {
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2Detection": {
      "properties": {
        "binary": {
          "description": "The name of the binary associated with the memory hash signature detection.",
          "type": "string"
        },
        "percentPagesMatched": {
          "format": "double",
          "description": "The percentage of memory page hashes in the signature that were matched.",
          "type": "number"
        }
      },
      "description": "Memory hash detection contributing to the binary family match.",
      "id": "GoogleCloudSecuritycenterV2Detection",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudDlpDataProfile": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpDataProfile",
      "type": "object",
      "description": "The [data profile](https://cloud.google.com/dlp/docs/data-profiles) associated with the finding.",
      "properties": {
        "infoTypes": {
          "description": "Type of information detected by SDP. Info type includes name, version and sensitivity of the detected information type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InfoType"
          }
        },
        "dataProfile": {
          "description": "Name of the data profile, for example, `projects/123/locations/europe/tableProfiles/8383929`.",
          "type": "string"
        },
        "parentType": {
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "description": "The resource hierarchy level at which the data profile was generated.",
          "enumDescriptions": [
            "Unspecified parent type.",
            "Organization-level configurations.",
            "Project-level configurations."
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "properties": {
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "The state of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ]
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "createTime": {
          "type": "string",
          "description": "The time at which the finding was created in Security Command Center.",
          "format": "google-datetime"
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ]
        },
        "eventTime": {
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved. Must not be set to a value greater than the current timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only."
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        }
      },
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding.",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "type": "object"
    },
    "CloudDlpDataProfile": {
      "description": "The [data profile](https://cloud.google.com/dlp/docs/data-profiles) associated with the finding.",
      "id": "CloudDlpDataProfile",
      "type": "object",
      "properties": {
        "dataProfile": {
          "description": "Name of the data profile, for example, `projects/123/locations/europe/tableProfiles/8383929`.",
          "type": "string"
        },
        "parentType": {
          "enumDescriptions": [
            "Unspecified parent type.",
            "Organization-level configurations.",
            "Project-level configurations."
          ],
          "description": "The resource hierarchy level at which the data profile was generated.",
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        },
        "infoTypes": {
          "description": "Type of information detected by SDP. Info type includes name, version and sensitivity of the detected information type.",
          "type": "array",
          "items": {
            "$ref": "InfoType"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "description": "The AWS metadata of a resource associated with an issue.",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
          "description": "The AWS account of the resource associated with the issue."
        }
      }
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of resource names of findings associated with this toxic combination. For example, `organizations/123/sources/456/findings/789`."
        },
        "attackExposureScore": {
          "type": "number",
          "description": "The [Attack exposure score](https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_exposure_scores) of this toxic combination. The score is a measure of how much this toxic combination exposes one or more high-value resources to potential attack.",
          "format": "double"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ToxicCombination",
      "type": "object",
      "description": "Contains details about a group of security issues that, when the issues occur together, represent a greater risk than when the issues occur independently. A group of such issues is referred to as a toxic combination."
    },
    "AccessReview": {
      "id": "AccessReview",
      "type": "object",
      "description": "Conveys information about a Kubernetes access review (such as one returned by a [`kubectl auth can-i`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access) command) that was involved in a finding.",
      "properties": {
        "verb": {
          "type": "string",
          "description": "A Kubernetes resource API verb, like get, list, watch, create, update, delete, proxy. \"*\" means all."
        },
        "resource": {
          "type": "string",
          "description": "The optional resource type requested. \"*\" means all."
        },
        "subresource": {
          "type": "string",
          "description": "The optional subresource type."
        },
        "version": {
          "type": "string",
          "description": "The API version of the resource. \"*\" means all."
        },
        "group": {
          "type": "string",
          "description": "The API group of the resource. \"*\" means all."
        },
        "ns": {
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the resource being requested. Empty means all."
        }
      }
    },
    "GoogleCloudSecuritycenterV2AiModel": {
      "properties": {
        "usageCategory": {
          "description": "The purpose of the model, for example, \"Inteference\" or \"Training\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the AI model, for example, \"gemini:1.0.0\"."
        },
        "library": {
          "description": "The name of the model library, for example, “transformers”.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The region in which the model is used, for example, “us-central1”."
        },
        "deploymentPlatform": {
          "enumDescriptions": [
            "Unspecified deployment platform.",
            "Vertex AI.",
            "Google Kubernetes Engine.",
            "Google Compute Engine.",
            "Fine tuned model."
          ],
          "description": "The platform on which the model is deployed.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ]
        },
        "publisher": {
          "description": "The publisher of the model, for example, “google” or “nvidia”.",
          "type": "string"
        },
        "displayName": {
          "description": "The user defined display name of model. Ex. baseline-classification-model",
          "type": "string"
        },
        "domain": {
          "description": "The domain of the model, for example, “image-classification”.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AiModel",
      "type": "object",
      "description": "Contains information about the AI model associated with the finding."
    },
    "GroupMembership": {
      "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way.",
      "id": "GroupMembership",
      "type": "object",
      "properties": {
        "groupType": {
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "description": "Type of group.",
          "enumDescriptions": [
            "Default value.",
            "Group represents a toxic combination.",
            "Group represents a chokepoint."
          ]
        },
        "groupId": {
          "description": "ID of the group.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "type": "object",
      "description": "Security Command Center's Notification",
      "properties": {
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        }
      }
    },
    "ValuedResource": {
      "id": "ValuedResource",
      "type": "object",
      "description": "A resource that is determined to have value to a user's system",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the valued resource."
        },
        "name": {
          "type": "string",
          "description": "Valued resource name, for example, e.g.: `organizations/123/simulations/456/valuedResources/789`"
        },
        "resourceValue": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "RESOURCE_VALUE_LOW",
            "RESOURCE_VALUE_MEDIUM",
            "RESOURCE_VALUE_HIGH"
          ],
          "description": "How valuable this resource is.",
          "enumDescriptions": [
            "The resource value isn't specified.",
            "This is a low-value resource.",
            "This is a medium-value resource.",
            "This is a high-value resource."
          ]
        },
        "resourceValueConfigsUsed": {
          "type": "array",
          "items": {
            "$ref": "ResourceValueConfigMetadata"
          },
          "description": "List of resource value configurations' metadata used to determine the value of this resource. Maximum of 100."
        },
        "resource": {
          "description": "The [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name) of the valued resource.",
          "type": "string"
        },
        "exposedScore": {
          "format": "double",
          "description": "Exposed score for this valued resource. A value of 0 means no exposure was detected exposure.",
          "type": "number"
        },
        "resourceType": {
          "description": "The [resource type](https://cloud.google.com/asset-inventory/docs/supported-asset-types) of the valued resource.",
          "type": "string"
        }
      }
    },
    "ToxicCombination": {
      "id": "ToxicCombination",
      "type": "object",
      "description": "Contains details about a group of security issues that, when the issues occur together, represent a greater risk than when the issues occur independently. A group of such issues is referred to as a toxic combination.",
      "properties": {
        "attackExposureScore": {
          "description": "The [Attack exposure score](https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_exposure_scores) of this toxic combination. The score is a measure of how much this toxic combination exposes one or more high-value resources to potential attack.",
          "type": "number",
          "format": "double"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of resource names of findings associated with this toxic combination. For example, `organizations/123/sources/456/findings/789`."
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The UUID of the Azure management group, for example, `20000000-0001-0000-0000-000000000000`."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the Azure management group."
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup",
      "type": "object",
      "description": "Represents an Azure management group."
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "type": "object",
      "properties": {
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Database": {
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of Cloud SQL instances or Cloud Spanner instances), or the database instance itself. Some database resources might not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types, such as Cloud SQL databases, are not yet supported by Cloud Asset Inventory. In these cases only the display name is provided.",
      "id": "GoogleCloudSecuritycenterV2Database",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of the database, for example, POSTGRES_14. See [the complete list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Some database resources may not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. Cloud SQL databases). In these cases only the display name will be provided. The [full resource name](https://google.aip.dev/122#full-resource-names) of the database that the user connected to, if it is supported by Cloud Asset Inventory."
        },
        "query": {
          "description": "The SQL statement that is associated with the database access.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the database that the user connected to."
        },
        "userName": {
          "type": "string",
          "description": "The username used to connect to the database. The username might not be an IAM principal and does not have a set format."
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The target usernames, roles, or groups of an SQL privilege grant, which is not an IAM policy change."
        }
      }
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "properties": {
        "principalEmail": {
          "description": "The email address of a Google account.",
          "type": "string"
        },
        "principalSubject": {
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "type": "object",
      "description": "Identity delegation history of an authenticated service account."
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "properties": {
        "upstreamFixAvailable": {
          "description": "Whether upstream fix is available for the CVE.",
          "type": "boolean"
        },
        "observedInTheWild": {
          "description": "Whether or not the vulnerability has been observed in the wild.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527"
        },
        "exploitationActivity": {
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation has been reported or confirmed to widely occur.",
            "Limited reported or confirmed exploitation activities.",
            "Exploit is publicly available.",
            "No known exploitation activity, but has a high potential for exploitation.",
            "No known exploitation activity."
          ],
          "description": "The exploitation activity of the vulnerability in the wild.",
          "type": "string",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ]
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "description": "Date of the earliest known exploitation.",
          "type": "string"
        },
        "impact": {
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation would have little to no security impact.",
            "Exploitation would enable attackers to perform activities, or could allow attackers to have a direct impact, but would require additional steps.",
            "Exploitation would enable attackers to have a notable direct impact without needing to overcome any major mitigating factors.",
            "Exploitation would fundamentally undermine the security of affected systems, enable actors to perform significant attacks with minimal effort, with little to no mitigating factors to overcome."
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "The potential impact of the vulnerability if it was to be exploited."
        },
        "zeroDay": {
          "description": "Whether or not the vulnerability was zero day when the finding was published.",
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "description": "Date the first publicly available exploit or PoC was released.",
          "type": "string",
          "format": "google-datetime"
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3",
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document"
        },
        "references": {
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        }
      },
      "description": "CVE stands for Common Vulnerabilities and Exposures. Information from the [CVE record](https://www.cve.org/ResourcesSupport/Glossary) that describes this vulnerability.",
      "id": "GoogleCloudSecuritycenterV2Cve",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision",
      "type": "object",
      "description": "Represents an ADC shared template associated with the finding.",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Shared Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}",
          "type": "string"
        }
      }
    },
    "AdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "description": "The resource name of an ADC Shared Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}",
          "type": "string"
        }
      },
      "id": "AdcSharedTemplateRevision",
      "type": "object",
      "description": "Represents an ADC shared template associated with the finding."
    },
    "Object": {
      "description": "Kubernetes object related to the finding, uniquely identified by GKNN. Used if the object Kind is not one of Pod, Node, NodePool, Binding, or AccessReview.",
      "id": "Object",
      "type": "object",
      "properties": {
        "group": {
          "description": "Kubernetes object group, such as \"policy.k8s.io/v1\".",
          "type": "string"
        },
        "ns": {
          "type": "string",
          "description": "Kubernetes object namespace. Must be a valid DNS label. Named \"ns\" to avoid collision with C++ namespace keyword. For details see https://kubernetes.io/docs/tasks/administer-cluster/namespaces/."
        },
        "name": {
          "type": "string",
          "description": "Kubernetes object name. For details see https://kubernetes.io/docs/concepts/overview/working-with-objects/names/."
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          },
          "description": "Pod containers associated with this finding, if any."
        },
        "kind": {
          "type": "string",
          "description": "Kubernetes object kind, such as \"Namespace\"."
        }
      }
    },
    "CloudDlpInspection": {
      "id": "CloudDlpInspection",
      "type": "object",
      "description": "Details about the Cloud Data Loss Prevention (Cloud DLP) [inspection job](https://cloud.google.com/dlp/docs/concepts-job-triggers) that produced the finding.",
      "properties": {
        "inspectJob": {
          "description": "Name of the inspection job, for example, `projects/123/locations/europe/dlpJobs/i-8383929`.",
          "type": "string"
        },
        "fullScan": {
          "description": "Whether Cloud DLP scanned the complete resource or a sampled subset.",
          "type": "boolean"
        },
        "infoType": {
          "type": "string",
          "description": "The type of information (or *[infoType](https://cloud.google.com/dlp/docs/infotypes-reference)*) found, for example, `EMAIL_ADDRESS` or `STREET_ADDRESS`."
        },
        "infoTypeCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of times Cloud DLP found this infoType within this job and resource."
        }
      }
    },
    "Network": {
      "id": "Network",
      "type": "object",
      "description": "Contains information about a VPC network associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the VPC network resource, for example, `//compute.googleapis.com/projects/my-project/global/networks/my-network`."
        }
      }
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the org policy. Example: \"organizations/{organization_id}/policies/{constraint_name}\"",
          "type": "string"
        }
      },
      "description": "Contains information about the org policies associated with the finding.",
      "id": "GoogleCloudSecuritycenterV2OrgPolicy",
      "type": "object"
    },
    "AwsOrganization": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier (ID) for the organization. The regex pattern for an organization ID string requires \"o-\" followed by from 10 to 32 lowercase letters or digits."
        }
      },
      "id": "AwsOrganization",
      "type": "object",
      "description": "An organization is a collection of accounts that are centrally managed together using consolidated billing, organized hierarchically with organizational units (OUs), and controlled with policies."
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "id": "GoogleCloudSecuritycenterV2AwsAccount",
      "type": "object",
      "description": "An AWS account that is a member of an organization.",
      "properties": {
        "name": {
          "description": "The friendly name of this account.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier (ID) of the account, containing exactly 12 digits.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Label": {
      "description": "Represents a generic name-value label. A label has separate name and value fields to support filtering with the `contains()` function. For more information, see [Filtering on array-type fields](https://cloud.google.com/security-command-center/docs/how-to-api-list-findings#array-contains-filtering).",
      "id": "GoogleCloudSecuritycenterV2Label",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value that corresponds to the label's name."
        },
        "name": {
          "description": "Name of the label.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription": {
      "properties": {
        "id": {
          "description": "The Azure subscription ID of the resource associated with the issue.",
          "type": "string"
        },
        "displayName": {
          "description": "The Azure subscription display name of the resource associated with the issue.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription",
      "type": "object",
      "description": "The Azure subscription of the resource associated with the issue."
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "type": "object",
      "description": "Resource where data was exfiltrated from or exfiltrated to.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource's [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name)."
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Subcomponents of the asset that was exfiltrated, like URIs used during exfiltration, table names, databases, and filenames. For example, multiple tables might have been exfiltrated from the same Cloud SQL instance, or multiple files might have been exfiltrated from the same Cloud Storage bucket."
        }
      }
    },
    "Exfiltration": {
      "properties": {
        "sources": {
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "description": "Total exfiltrated bytes processed for the entire job.",
          "format": "int64"
        },
        "targets": {
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        }
      },
      "description": "Exfiltration represents a data exfiltration attempt from one or more sources to one or more targets. The `sources` attribute lists the sources of the exfiltrated data. The `targets` attribute lists the destinations the data was copied to.",
      "id": "Exfiltration",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      },
      "description": "Represents a geographical location for a given access.",
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "description": "Contains compliance information about a security standard indicating unmet recommendations.",
      "id": "GoogleCloudSecuritycenterV2Compliance",
      "type": "object",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Policies within the standard or benchmark, for example, A.12.4.1"
        },
        "version": {
          "type": "string",
          "description": "Version of the standard or benchmark, for example, 1.1"
        },
        "standard": {
          "description": "Industry-wide compliance standards or benchmarks, such as CIS, PCI, and OWASP.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "properties": {
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication",
          "description": "The App Hub application this resource belongs to."
        },
        "cloudProvider": {
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "description": "Indicates which cloud provider the resource resides in."
        },
        "location": {
          "type": "string",
          "description": "The region or location of the service (if applicable)."
        },
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "type": {
          "description": "The full resource type of the resource.",
          "type": "string"
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "adcSharedTemplate": {
          "description": "The ADC shared template associated with the finding.",
          "$ref": "AdcSharedTemplateRevision"
        },
        "azureMetadata": {
          "description": "The Azure metadata associated with the finding.",
          "$ref": "AzureMetadata"
        },
        "organization": {
          "description": "Indicates which organization or tenant in the cloud provider the finding applies to.",
          "type": "string"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision",
          "description": "The ADC template associated with the finding."
        },
        "resourcePathString": {
          "description": "A string representation of the resource path. For Google Cloud, it has the format of `organizations/{organization_id}/folders/{folder_id}/folders/{folder_id}/projects/{project_id}` where there can be any number of folders. For AWS, it has the format of `org/{organization_id}/ou/{organizational_unit_id}/ou/{organizational_unit_id}/account/{account_id}` where there can be any number of organizational units. For Azure, it has the format of `mg/{management_group_id}/mg/{management_group_id}/subscription/{subscription_id}/rg/{resource_group_name}` where there can be any number of management groups.",
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "adcApplication": {
          "description": "The ADC application associated with the finding.",
          "$ref": "AdcApplication"
        },
        "displayName": {
          "description": "The human readable name of the resource.",
          "type": "string"
        },
        "resourcePath": {
          "description": "Provides the path to the resource within the resource hierarchy.",
          "$ref": "ResourcePath"
        },
        "service": {
          "type": "string",
          "description": "The parent service or product from which the resource is provided, for example, GKE or SNS."
        },
        "awsMetadata": {
          "description": "The AWS metadata associated with the finding.",
          "$ref": "AwsMetadata"
        }
      },
      "description": "Information related to the Google Cloud resource.",
      "id": "GoogleCloudSecuritycenterV1Resource",
      "type": "object"
    },
    "GroupAssetsRequest": {
      "properties": {
        "compareDuration": {
          "description": "When compare_duration is set, the GroupResult's \"state_change\" property is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state change value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state_change\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present at the start of compare_duration, but present at reference_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at reference_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and reference_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all assets present at read_time. If this field is set then `state_change` must be a specified field in `group_by`.",
          "type": "string",
          "format": "google-duration"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW."
        },
        "groupBy": {
          "description": "Required. Expression that defines what assets fields to use for grouping. The string value should follow SQL syntax: comma separated list of fields. For example: \"security_center_properties.resource_project,security_center_properties.project\". The following fields are supported when compare_duration is not set: * security_center_properties.resource_project * security_center_properties.resource_project_display_name * security_center_properties.resource_type * security_center_properties.resource_parent * security_center_properties.resource_parent_display_name The following fields are supported when compare_duration is set: * security_center_properties.resource_type * security_center_properties.resource_project_display_name * security_center_properties.resource_parent_display_name",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
        },
        "pageToken": {
          "description": "The value returned by the last `GroupAssetsResponse`; indicates that this is a continuation of a prior `GroupAssets` call, and that the system should return the next page of data.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * update_time: `=`, `>`, `<`, `>=`, `<=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `update_time = \"2019-06-10T16:07:18-07:00\"` `update_time = 1560208038000` * create_time: `=`, `>`, `<`, `>=`, `<=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `create_time = \"2019-06-10T16:07:18-07:00\"` `create_time = 1560208038000` * iam_policy.policy_blob: `=`, `:` * resource_properties: `=`, `:`, `>`, `<`, `>=`, `<=` * security_marks.marks: `=`, `:` * security_center_properties.resource_name: `=`, `:` * security_center_properties.resource_display_name: `=`, `:` * security_center_properties.resource_type: `=`, `:` * security_center_properties.resource_parent: `=`, `:` * security_center_properties.resource_parent_display_name: `=`, `:` * security_center_properties.resource_project: `=`, `:` * security_center_properties.resource_project_display_name: `=`, `:` * security_center_properties.resource_owners: `=`, `:` For example, `resource_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `resource_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-resource_properties.my_property : \"\"`"
        }
      },
      "description": "Request message for grouping by assets.",
      "id": "GroupAssetsRequest",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "properties": {
        "id": {
          "description": "The ID of the Azure resource group.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the Azure resource group. This is not a UUID."
        }
      },
      "description": "Represents an Azure resource group.",
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "description": "Environment Type.",
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "description": "Environment of the Application, Service, or Workload",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment",
      "type": "object"
    },
    "Notebook": {
      "description": "Represents a Jupyter notebook IPYNB file, such as a [Colab Enterprise notebook](https://cloud.google.com/colab/docs/introduction) file, that is associated with a finding.",
      "id": "Notebook",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the notebook.",
          "type": "string"
        },
        "service": {
          "description": "The source notebook service, for example, \"Colab Enterprise\".",
          "type": "string"
        },
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The most recent time the notebook was updated."
        },
        "lastAuthor": {
          "description": "The user ID of the latest author to modify the notebook.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV2SecurityMarks",
      "type": "object",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name The following list shows some examples: + `organizations/{organization_id}/assets/{asset_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks`"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "description": "The canonical name of the marks. The following list shows some examples: + `organizations/{organization_id}/assets/{asset_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks` + `folders/{folder_id}/assets/{asset_id}/securityMarks` + `folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks` + `folders/{folder_id}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks` + `projects/{project_number}/assets/{asset_id}/securityMarks` + `projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks` + `projects/{project_number}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks`",
          "type": "string"
        }
      }
    },
    "Detection": {
      "id": "Detection",
      "type": "object",
      "description": "Memory hash detection contributing to the binary family match.",
      "properties": {
        "binary": {
          "description": "The name of the binary associated with the memory hash signature detection.",
          "type": "string"
        },
        "percentPagesMatched": {
          "format": "double",
          "description": "The percentage of memory page hashes in the signature that were matched.",
          "type": "number"
        }
      }
    },
    "ListMuteConfigsResponse": {
      "description": "Response message for listing mute configs.",
      "id": "ListMuteConfigsResponse",
      "type": "object",
      "properties": {
        "muteConfigs": {
          "description": "The mute configs from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "LogEntry": {
      "properties": {
        "cloudLoggingEntry": {
          "description": "An individual entry in a log stored in Cloud Logging.",
          "$ref": "CloudLoggingEntry"
        }
      },
      "description": "An individual entry in a log.",
      "id": "LogEntry",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "description": "Fields related to Google Cloud Armor findings.",
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "type": "object",
      "properties": {
        "threatVector": {
          "type": "string",
          "description": "Distinguish between volumetric & protocol DDoS attack and application layer attacks. For example, \"L3_4\" for Layer 3 and Layer 4 DDoS attacks, or \"L_7\" for Layer 7 DDoS attacks."
        },
        "securityPolicy": {
          "description": "Information about the [Google Cloud Armor security policy](https://cloud.google.com/armor/docs/security-policy-overview) relevant to the finding.",
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "attack": {
          "description": "Information about DDoS attack volume and classification.",
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "duration": {
          "type": "string",
          "description": "Duration of attack from the start until the current moment (updated every 5 minutes).",
          "format": "google-duration"
        },
        "adaptiveProtection": {
          "description": "Information about potential Layer 7 DDoS attacks identified by [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/adaptive-protection-overview).",
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests",
          "description": "Information about incoming requests evaluated by [Google Cloud Armor security policies](https://cloud.google.com/armor/docs/security-policy-overview)."
        }
      }
    },
    "BackupDisasterRecovery": {
      "properties": {
        "backupTemplate": {
          "type": "string",
          "description": "The name of a Backup and DR template which comprises one or more backup policies. See the [Backup and DR documentation](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#temp) for more information. For example, `snap-ov`."
        },
        "profile": {
          "description": "The name of the Backup and DR resource profile that specifies the storage media for backups of application and VM data. See the [Backup and DR documentation on profiles](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#profile). For example, `GCP`.",
          "type": "string"
        },
        "backupType": {
          "type": "string",
          "description": "The backup type of the Backup and DR image. For example, `Snapshot`, `Remote Snapshot`, `OnVault`."
        },
        "policyOptions": {
          "description": "The names of Backup and DR advanced policy options of a policy applying to an application. See the [Backup and DR documentation on policy options](https://cloud.google.com/backup-disaster-recovery/docs/create-plan/policy-settings). For example, `skipofflineappsincongrp, nounmap`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policies": {
          "description": "The names of Backup and DR policies that are associated with a template and that define when to run a backup, how frequently to run a backup, and how long to retain the backup image. For example, `onvaults`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storagePool": {
          "description": "The name of the Backup and DR storage pool that the backup and recovery appliance is storing data in. The storage pool could be of type Cloud, Primary, Snapshot, or OnVault. See the [Backup and DR documentation on storage pools](https://cloud.google.com/backup-disaster-recovery/docs/concepts/storage-pools). For example, `DiskPoolOne`.",
          "type": "string"
        },
        "appliance": {
          "description": "The name of the Backup and DR appliance that captures, moves, and manages the lifecycle of backup data. For example, `backup-server-57137`.",
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of Backup and DR applications. An application is a VM, database, or file system on a managed host monitored by a backup and recovery appliance. For example, `centos7-01-vol00`, `centos7-01-vol01`, `centos7-01-vol02`."
        },
        "backupCreateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp at which the Backup and DR backup was created."
        },
        "host": {
          "description": "The name of a Backup and DR host, which is managed by the backup and recovery appliance and known to the management console. The host can be of type Generic (for example, Compute Engine, SQL Server, Oracle DB, SMB file system, etc.), vCenter, or an ESX server. See the [Backup and DR documentation on hosts](https://cloud.google.com/backup-disaster-recovery/docs/configuration/manage-hosts-and-their-applications) for more information. For example, `centos7-01`.",
          "type": "string"
        }
      },
      "description": "Information related to Google Cloud Backup and DR Service findings.",
      "id": "BackupDisasterRecovery",
      "type": "object"
    },
    "SecretFilePath": {
      "properties": {
        "path": {
          "description": "Path to the file.",
          "type": "string"
        }
      },
      "description": "File path containing the secret.",
      "id": "SecretFilePath",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "id": "GoogleCloudSecuritycenterV2Job",
      "type": "object",
      "description": "Describes a job",
      "properties": {
        "errorCode": {
          "description": "Optional. If the job did not complete successfully, this field describes why.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The fully-qualified name for a job. e.g. `projects//jobs/`",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. Gives the location where the job ran, such as `US` or `europe-west1`"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified represents an unknown state and should not be used.",
            "Job is scheduled and pending for run",
            "Job in progress",
            "Job has completed with success",
            "Job has completed but with failure"
          ],
          "description": "Output only. State of the job, such as `RUNNING` or `PENDING`.",
          "readOnly": true,
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "description": "Information about the [Google Cloud Armor security policy](https://cloud.google.com/armor/docs/security-policy-overview) relevant to the finding.",
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of Google Cloud Armor security policy for example, 'backend security policy', 'edge security policy', 'network edge security policy', or 'always-on DDoS protection'."
        },
        "preview": {
          "type": "boolean",
          "description": "Whether or not the associated rule or policy is in preview mode."
        },
        "name": {
          "description": "The name of the Google Cloud Armor security policy, for example, \"my-security-policy\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "description": "Type of information detected by the API.",
      "id": "GoogleCloudSecuritycenterV2InfoType",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$_-]{1,64}`."
        },
        "sensitivityScore": {
          "description": "Optional custom sensitivity for this InfoType. This only applies to data profiling.",
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        },
        "version": {
          "description": "Optional version name for this InfoType.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Node": {
      "description": "Kubernetes nodes associated with the finding.",
      "id": "GoogleCloudSecuritycenterV2Node",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "[Full resource name](https://google.aip.dev/122#full-resource-names) of the Compute Engine VM running the cluster node."
        }
      }
    },
    "AttackPathEdge": {
      "description": "Represents a connection between a source node and a destination node in this attack path.",
      "id": "AttackPathEdge",
      "type": "object",
      "properties": {
        "source": {
          "type": "string",
          "description": "The attack node uuid of the source node."
        },
        "destination": {
          "type": "string",
          "description": "The attack node uuid of the destination node."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule",
      "type": "object",
      "description": "Represents an instance of a Security Health Analytics custom module, including its full module name, display name, enablement state, and last updated time. You can create a custom module at the organization, folder, or project level. Custom modules that you create at the organization or folder level are inherited by the child folders and projects.",
      "properties": {
        "cloudProvider": {
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services (AWS).",
            "Microsoft Azure."
          ],
          "description": "The cloud provider of the custom module.",
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "ancestorModule": {
          "type": "string",
          "description": "Output only. If empty, indicates that the custom module was created in the organization, folder, or project in which you are viewing the custom module. Otherwise, `ancestor_module` specifies the organization or folder from which the custom module is inherited.",
          "readOnly": true
        },
        "enablementState": {
          "description": "The enablement state of the custom module.",
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given CRM resource.",
            "The module is disabled at the given CRM resource.",
            "State is inherited from an ancestor module. The module will either be effectively ENABLED or DISABLED based on its closest non-inherited ancestor module in the CRM hierarchy."
          ]
        },
        "lastEditor": {
          "type": "string",
          "description": "Output only. The editor that last updated the custom module.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the Security Health Analytics custom module. This display name becomes the finding category for all findings that are returned by this custom module. The display name must be between 1 and 128 characters, start with a lowercase letter, and contain alphanumeric characters or underscores only."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the custom module was last updated.",
          "readOnly": true
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig",
          "description": "The user specified custom configuration for the module."
        },
        "name": {
          "description": "Immutable. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/customModules/{customModule}\" The id {customModule} is server-generated and is not user settable. It will be a numeric id containing 1-20 digits.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "id": "GoogleCloudSecuritycenterV2Denied",
      "type": "object",
      "description": "Denied IP rule.",
      "properties": {
        "ipRules": {
          "description": "Optional. Optional list of denied IP rules.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      }
    },
    "RunAssetDiscoveryRequest": {
      "description": "Request message for running asset discovery for an organization.",
      "id": "RunAssetDiscoveryRequest",
      "type": "object",
      "properties": {}
    },
    "Chokepoint": {
      "properties": {
        "relatedFindings": {
          "description": "List of resource names of findings associated with this chokepoint. For example, organizations/123/sources/456/findings/789. This list will have at most 100 findings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations).",
      "id": "Chokepoint",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "id": "GoogleCloudSecuritycenterV2Network",
      "type": "object",
      "description": "Contains information about a VPC network associated with the finding.",
      "properties": {
        "name": {
          "description": "The name of the VPC network resource, for example, `//compute.googleapis.com/projects/my-project/global/networks/my-network`.",
          "type": "string"
        }
      }
    },
    "Kubernetes": {
      "description": "Kubernetes-related attributes.",
      "id": "Kubernetes",
      "type": "object",
      "properties": {
        "pods": {
          "type": "array",
          "items": {
            "$ref": "Pod"
          },
          "description": "Kubernetes [Pods](https://cloud.google.com/kubernetes-engine/docs/concepts/pod) associated with the finding. This field contains Pod records for each container that is owned by a Pod."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "description": "Provides Kubernetes role binding information for findings that involve [RoleBindings or ClusterRoleBindings](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control)."
[...]
