{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "basePath": "",
  "resources": {
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "description": "Gets the settings for an organization.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Name of the organization to get organization settings for. Its format is \"organizations/[organization_id]/organizationSettings\".",
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getOrganizationSettings",
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "path": "v1beta1/{+name}"
        },
        "updateOrganizationSettings": {
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "deprecated": true,
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/{+name}",
          "request": {
            "$ref": "OrganizationSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Updates an organization's settings.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "type": "string",
              "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\".",
              "location": "path"
            },
            "updateMask": {
              "description": "The FieldMask to use when updating the settings resource.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "sources": {
          "methods": {
            "testIamPermissions": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "path": "v1beta1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "description": " Returns the permissions that a caller has on the specified source.",
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              }
            },
            "list": {
              "id": "securitycenter.organizations.sources.list",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/sources",
              "description": "Lists all sources belonging to an organization.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id]\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              }
            },
            "getIamPolicy": {
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+resource}:getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "description": "Gets the access control policy on the specified Source.",
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Relative resource name of the source. Its format is \"organizations/[organization_id]/source/[source_id]\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a source.",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.get",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "response": {
                "$ref": "Source"
              }
            },
            "setIamPolicy": {
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+resource}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified Source.",
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              }
            },
            "patch": {
              "id": "securitycenter.organizations.sources.patch",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "response": {
                "$ref": "Source"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "Source"
              },
              "description": "Updates a source.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "The FieldMask to use when updating the source resource.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
                  "location": "path"
                }
              }
            },
            "create": {
              "path": "v1beta1/{+parent}/sources",
              "request": {
                "$ref": "Source"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.create",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "response": {
                "$ref": "Source"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the new source's parent. Its format should be \"organizations/[organization_id]\".",
                  "location": "path"
                }
              },
              "description": "Creates a source.",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "updateSecurityMarks": {
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The FieldMask to use when updating the security marks resource.",
                      "location": "query"
                    },
                    "startTime": {
                      "description": "The time at which the updated SecurityMarks take effect.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "type": "string",
                      "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                      "location": "path"
                    }
                  },
                  "description": "Updates security marks.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "id": "securitycenter.organizations.sources.findings.create",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/findings",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "description": "Creates a finding. The corresponding source must exist for finding creation to succeed.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "findingId": {
                      "description": "Required. Unique identifier provided by the client within the parent scope. It must be alphanumeric and less than or equal to 32 characters and greater than 0 characters in length.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Resource name of the new finding's parent. Its format should be \"organizations/[organization_id]/sources/[source_id]\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+$"
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `source_properties.size = 100` is a valid filter string.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-",
                      "location": "path"
                    },
                    "fieldMask": {
                      "description": "Optional. A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1beta1/organizations/{organization_id}/sources/-/findings",
                  "path": "v1beta1/{+parent}/findings",
                  "id": "securitycenter.organizations.sources.findings.list",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setState": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "description": "Required. The relative resource name of the finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/finding/{finding_id}\".",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Updates the state of a finding.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:setState",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  }
                },
                "patch": {
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string",
                      "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The FieldMask to use when updating the finding resource. This field should not be specified when creating a finding.",
                      "location": "query"
                    }
                  },
                  "description": "Creates or updates a finding. The corresponding source must exist for a finding creation to succeed.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "group": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.group",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "path": "v1beta1/{+parent}/findings:group",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1beta1/organizations/{organization_id}/sources/-/findings",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\". To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        },
        "assets": {
          "methods": {
            "group": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Filters an organization's assets and groups them by their specified properties.",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the organization to groupBy. Its format is \"organizations/[organization_id]\".",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.assets.group",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "path": "v1beta1/{+parent}/assets:group",
              "request": {
                "$ref": "GroupAssetsRequest"
              }
            },
            "runDiscovery": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Runs asset discovery. The discovery is tracked with a long-running operation. This API can only be called with limited frequency for an organization. If it is called too frequently the caller will receive a TOO_MANY_REQUESTS error.",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the organization to run asset discovery for. Its format is \"organizations/[organization_id]\".",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.assets.runDiscovery",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              }
            },
            "updateSecurityMarks": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates security marks.",
              "parameters": {
                "updateMask": {
                  "description": "The FieldMask to use when updating the security marks resource.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "startTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "description": "The time at which the updated SecurityMarks take effect.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "type": "string",
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                  "location": "path"
                }
              }
            },
            "list": {
              "path": "v1beta1/{+parent}/assets",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.assets.list",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `resource_properties.size = 100` is a valid filter string.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent.",
                  "location": "query",
                  "type": "string"
                },
                "compareDuration": {
                  "type": "string",
                  "format": "google-duration",
                  "description": "When compare_duration is set, the ListAssetResult's \"state\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present before compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state is \"UNUSED\", which indicates that the asset is present at read_time.",
                  "location": "query"
                },
                "fieldMask": {
                  "description": "Optional. A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Name of the organization assets should belong to. Its format is \"organizations/[organization_id]\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                },
                "readTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                  "location": "query"
                }
              },
              "description": "Lists an organization's assets.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations$",
                  "required": true
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.operations.list",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "response": {
                "$ref": "ListOperationsResponse"
              }
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.operations.delete",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ]
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.operations.cancel",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1beta1/{+name}:cancel",
              "request": {
                "$ref": "CancelOperationRequest"
              }
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.operations.get",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$"
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260309",
  "version": "v1beta1",
  "fullyEncodeReservedExpansion": true,
  "title": "Security Command Center API",
  "canonicalName": "Security Command Center",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "ListAssetsResponse": {
      "type": "object",
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "readTime": {
          "description": "Time used for executing the list request.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of assets matching the query."
        },
        "listAssetsResults": {
          "type": "array",
          "items": {
            "$ref": "ListAssetsResult"
          },
          "description": "Assets matching the list request."
        }
      }
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "type": "object",
      "description": "Details about specific contacts",
      "properties": {
        "contacts": {
          "description": "A list of contacts",
          "items": {
            "$ref": "Contact"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "description": "Environment variable containing the secret.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Environment variable name as a JSON encoded string. Note that value is not included since the value contains the secret data, which is sensitive core content."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "id": "GoogleCloudSecuritycenterV2Cve",
      "type": "object",
      "description": "CVE stands for Common Vulnerabilities and Exposures. Information from the [CVE record](https://www.cve.org/ResourcesSupport/Glossary) that describes this vulnerability.",
      "properties": {
        "exploitReleaseDate": {
          "description": "Date the first publicly available exploit or PoC was released.",
          "type": "string",
          "format": "google-datetime"
        },
        "impact": {
          "description": "The potential impact of the vulnerability if it was to be exploited.",
          "type": "string",
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation would have little to no security impact.",
            "Exploitation would enable attackers to perform activities, or could allow attackers to have a direct impact, but would require additional steps.",
            "Exploitation would enable attackers to have a notable direct impact without needing to overcome any major mitigating factors.",
            "Exploitation would fundamentally undermine the security of affected systems, enable actors to perform significant attacks with minimal effort, with little to no mitigating factors to overcome."
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "id": {
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527",
          "type": "string"
        },
        "observedInTheWild": {
          "description": "Whether or not the vulnerability has been observed in the wild.",
          "type": "boolean"
        },
        "upstreamFixAvailable": {
          "description": "Whether upstream fix is available for the CVE.",
          "type": "boolean"
        },
        "references": {
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        },
        "cvssv3": {
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document",
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        },
        "zeroDay": {
          "type": "boolean",
          "description": "Whether or not the vulnerability was zero day when the finding was published."
        },
        "firstExploitationDate": {
          "description": "Date of the earliest known exploitation.",
          "type": "string",
          "format": "google-datetime"
        },
        "exploitationActivity": {
          "type": "string",
          "enumDescriptions": [
            "Invalid or empty value.",
            "Exploitation has been reported or confirmed to widely occur.",
            "Limited reported or confirmed exploitation activities.",
            "Exploit is publicly available.",
            "No known exploitation activity, but has a high potential for exploitation.",
            "No known exploitation activity."
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "description": "The exploitation activity of the vulnerability in the wild."
        }
      }
    },
    "FileOperation": {
      "description": "Operation(s) performed on a file.",
      "properties": {
        "type": {
          "description": "The type of the operation",
          "type": "string",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents an open operation.",
            "Represents a read operation.",
            "Represents a rename operation.",
            "Represents a write operation.",
            "Represents an execute operation."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      },
      "id": "FileOperation",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Property": {
      "description": "An individual name-value pair that defines a custom source property.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the property for the custom output."
        },
        "valueExpression": {
          "description": "The CEL expression for the custom output. A resource property can be specified to return the value of the property or a text string enclosed in quotation marks.",
          "$ref": "Expr"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Property",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "description": "Criticality of the Application, Service, or Workload",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Criticality Type."
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "description": "Contains information about the IP connection associated with the finding.",
      "properties": {
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17)."
        },
        "sourceIp": {
          "type": "string",
          "description": "Source IP address."
        },
        "sourcePort": {
          "description": "Source port.",
          "type": "integer",
          "format": "int32"
        },
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        },
        "destinationPort": {
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Connection",
      "type": "object"
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "description": "Represents a generic name-value label. A label has separate name and value fields to support filtering with the `contains()` function. For more information, see [Filtering on array-type fields](https://cloud.google.com/security-command-center/docs/how-to-api-list-findings#array-contains-filtering).",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value that corresponds to the label's name."
        },
        "name": {
          "type": "string",
          "description": "Name of the label."
        }
      }
    },
    "Process": {
      "description": "Represents an operating system process.",
      "properties": {
        "parentPid": {
          "type": "string",
          "format": "int64",
          "description": "The parent process ID."
        },
        "argumentsTruncated": {
          "type": "boolean",
          "description": "True if `args` is incomplete."
        },
        "envVariables": {
          "description": "Process environment variables.",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "pid": {
          "description": "The process ID.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The process name, as displayed in utilities like `top` and `ps`. This name can be accessed through `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`."
        },
        "binary": {
          "description": "File information for the process executable.",
          "$ref": "File"
        },
        "libraries": {
          "description": "File information for libraries loaded by the process.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter, while `script` provides information about the script file provided to the interpreter.",
          "$ref": "File"
        },
        "args": {
          "description": "Process arguments as JSON encoded strings.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the user that executed the process. E.g. If this is the root user this will always be 0."
        }
      },
      "type": "object",
      "id": "Process"
    },
    "ExportFindingsResponse": {
      "type": "object",
      "id": "ExportFindingsResponse",
      "description": "The response to a ExportFindings request. Contains the LRO information.",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve",
      "description": "The CVE of the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The CVE name."
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "type": "object",
      "description": "Criticality of the Application, Service, or Workload",
      "properties": {
        "type": {
          "description": "Criticality Type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Binding",
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding.",
      "properties": {
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          },
          "description": "Represents one or more subjects that are bound to the role. Not always available for PATCH requests."
        },
        "name": {
          "type": "string",
          "description": "Name for the binding."
        },
        "ns": {
          "description": "Namespace for the binding.",
          "type": "string"
        },
        "role": {
          "description": "The Role or ClusterRole referenced by the binding.",
          "$ref": "GoogleCloudSecuritycenterV2Role"
        }
      }
    },
    "DataRetentionDeletionEvent": {
      "type": "object",
      "id": "DataRetentionDeletionEvent",
      "description": "Details about data retention deletion violations, in which the data is non-compliant based on their retention or deletion time, as defined in the applicable data security policy. The Data Retention Deletion (DRD) control is a control of the DSPM (Data Security Posture Management) suite that enables organizations to manage data retention and deletion policies in compliance with regulations, such as GDPR and CRPA. DRD supports two primary policy types: maximum storage length (max TTL) and minimum storage length (min TTL). Both are aimed at helping organizations meet regulatory and data management commitments.",
      "properties": {
        "dataObjectCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of objects that violated the policy for this resource. If the number is less than 1,000, then the value of this field is the exact number. If the number of objects that violated the policy is greater than or equal to 1,000, then the value of this field is 1000."
        },
        "eventDetectionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp indicating when the event was detected."
        },
        "maxRetentionAllowed": {
          "description": "Maximum duration of retention allowed from the DRD control. This comes from the DRD control where users set a max TTL for their data. For example, suppose that a user sets the max TTL for a Cloud Storage bucket to 90 days. However, an object in that bucket is 100 days old. In this case, a DataRetentionDeletionEvent will be generated for that Cloud Storage bucket, and the max_retention_allowed is 90 days.",
          "type": "string",
          "format": "google-duration"
        },
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration",
          "description": "Min duration of retention allowed from the DSPM retention control. This field is only populated when event type is set to EVENT_TYPE_MIN_TTL_FROM_CREATION."
        },
        "eventType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unspecified event type.",
            "Deprecated: This field is pending removal. Use EVENT_TYPE_MAX_TTL_FROM_CREATION or EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION instead.",
            "Max TTL from the asset's creation time.",
            "Max TTL from the asset's last modification time.",
            "Min TTL from the asset's creation time."
          ],
          "description": "Type of the DRD event.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        }
      }
    },
    "GroupAssetsResponse": {
      "description": "Response message for grouping by assets.",
      "properties": {
        "groupByResults": {
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "readTime": {
          "description": "Time used for executing the groupBy request.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GroupAssetsResponse"
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "type": "object",
      "description": "Path of the file in terms of underlying disk/partition identifiers.",
      "properties": {
        "relativePath": {
          "type": "string",
          "description": "Relative path of the file in the partition as a JSON encoded string. Example: /home/user1/executable_file.sh"
        },
        "partitionUuid": {
          "type": "string",
          "description": "UUID of the partition (format https://wiki.archlinux.org/title/persistent_block_device_naming#by-uuid)"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Kubernetes",
      "description": "Kubernetes-related attributes.",
      "properties": {
        "pods": {
          "description": "Kubernetes [Pods](https://cloud.google.com/kubernetes-engine/docs/concepts/pod) associated with the finding. This field contains Pod records for each container that is owned by a Pod.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          }
        },
        "bindings": {
          "description": "Provides Kubernetes role binding information for findings that involve [RoleBindings or ClusterRoleBindings](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          }
        },
        "roles": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          },
          "type": "array",
          "description": "Provides Kubernetes role information for findings that involve [Roles or ClusterRoles](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control)."
        },
        "nodes": {
          "description": "Provides Kubernetes [node](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture#nodes) information.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "objects": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          },
          "type": "array",
          "description": "Kubernetes objects related to the finding."
        },
        "nodePools": {
          "description": "GKE [node pools](https://cloud.google.com/kubernetes-engine/docs/concepts/node-pools) associated with the finding. This field contains node pool information for each node, when it is available.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          },
          "type": "array"
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          },
          "description": "Provides information on any Kubernetes access reviews (privilege checks) relevant to the finding."
        }
      }
    },
    "Reference": {
      "description": "Additional Links",
      "properties": {
        "source": {
          "description": "Source of the reference e.g. NVD",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527."
        }
      },
      "id": "Reference",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "properties": {},
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the mute config."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation."
        },
        "filter": {
          "type": "string",
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`"
        },
        "type": {
          "description": "Required. The type of the mute config, which determines what type of mute state the config affects. Immutable after creation.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "A static mute config, which sets the static mute state of future matching findings to muted. Once the static mute state has been set, finding or config modifications will not affect the state.",
            "A dynamic mute config, which is applied to existing and future matching findings, setting their dynamic mute state to \"muted\". If the config is updated or deleted, or a matching finding is updated, such that the finding doesn't match the config, the config will be removed from the finding, and the finding's dynamic mute state may become \"unmuted\" (unless other configs still match)."
          ],
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "cryptoKeyName": {
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud KMS `CryptoKey` used to encrypt this configuration data, if CMEK was enabled during Security Command Center activation.",
          "type": "string"
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The expiry of the mute config. Only applicable for dynamic configs. If the expiry is set, when the config expires, it is removed from all findings."
        },
        "name": {
          "description": "Identifier. This field will be ignored if provided on config creation. The following list shows some examples of the format: + `organizations/{organization}/muteConfigs/{mute_config}` + `organizations/{organization}locations/{location}//muteConfigs/{mute_config}` + `folders/{folder}/muteConfigs/{mute_config}` + `folders/{folder}/locations/{location}/muteConfigs/{mute_config}` + `projects/{project}/muteConfigs/{mute_config}` + `projects/{project}/locations/{location}/muteConfigs/{mute_config}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "mostRecentEditor": {
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MuteConfig"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "description": "CWE stands for Common Weakness Enumeration. Information about this weakness, as described by [CWE](https://cwe.mitre.org/).",
      "properties": {
        "id": {
          "type": "string",
          "description": "The CWE identifier, e.g. CWE-94"
        },
        "references": {
          "description": "Any reference to the details on the CWE, for example, https://cwe.mitre.org/data/definitions/94.html",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Cwe"
    },
    "BackupDisasterRecovery": {
      "description": "Information related to Google Cloud Backup and DR Service findings.",
      "properties": {
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of Backup and DR advanced policy options of a policy applying to an application. See the [Backup and DR documentation on policy options](https://cloud.google.com/backup-disaster-recovery/docs/create-plan/policy-settings). For example, `skipofflineappsincongrp, nounmap`."
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp at which the Backup and DR backup was created."
        },
        "backupType": {
          "type": "string",
          "description": "The backup type of the Backup and DR image. For example, `Snapshot`, `Remote Snapshot`, `OnVault`."
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of Backup and DR applications. An application is a VM, database, or file system on a managed host monitored by a backup and recovery appliance. For example, `centos7-01-vol00`, `centos7-01-vol01`, `centos7-01-vol02`."
        },
        "storagePool": {
          "description": "The name of the Backup and DR storage pool that the backup and recovery appliance is storing data in. The storage pool could be of type Cloud, Primary, Snapshot, or OnVault. See the [Backup and DR documentation on storage pools](https://cloud.google.com/backup-disaster-recovery/docs/concepts/storage-pools). For example, `DiskPoolOne`.",
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of Backup and DR policies that are associated with a template and that define when to run a backup, how frequently to run a backup, and how long to retain the backup image. For example, `onvaults`."
        },
        "host": {
          "type": "string",
          "description": "The name of a Backup and DR host, which is managed by the backup and recovery appliance and known to the management console. The host can be of type Generic (for example, Compute Engine, SQL Server, Oracle DB, SMB file system, etc.), vCenter, or an ESX server. See the [Backup and DR documentation on hosts](https://cloud.google.com/backup-disaster-recovery/docs/configuration/manage-hosts-and-their-applications) for more information. For example, `centos7-01`."
        },
        "backupTemplate": {
          "description": "The name of a Backup and DR template which comprises one or more backup policies. See the [Backup and DR documentation](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#temp) for more information. For example, `snap-ov`.",
          "type": "string"
        },
        "appliance": {
          "description": "The name of the Backup and DR appliance that captures, moves, and manages the lifecycle of backup data. For example, `backup-server-57137`.",
          "type": "string"
        },
        "profile": {
          "description": "The name of the Backup and DR resource profile that specifies the storage media for backups of application and VM data. See the [Backup and DR documentation on profiles](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#profile). For example, `GCP`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BackupDisasterRecovery"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "type": "object",
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "properties": {
        "fixedPackage": {
          "description": "The fixed package is relevant to the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "offendingPackage": {
          "description": "The offending package is relevant to the finding.",
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "providerRiskScore": {
          "description": "Provider provided risk_score based on multiple factors. The higher the risk score, the more risky the vulnerability is.",
          "type": "string",
          "format": "int64"
        },
        "securityBulletin": {
          "description": "The security bulletin is relevant to this finding.",
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "cwes": {
          "description": "Represents one or more Common Weakness Enumeration (CWE) information on this vulnerability.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          },
          "type": "array"
        },
        "cve": {
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "reachable": {
          "type": "boolean",
          "description": "Represents whether the vulnerability is reachable (detected via static analysis)"
        }
      }
    },
    "YaraRuleSignature": {
      "description": "A signature corresponding to a YARA rule.",
      "properties": {
        "yaraRule": {
          "type": "string",
          "description": "The name of the YARA rule."
        }
      },
      "type": "object",
      "id": "YaraRuleSignature"
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "type": "object",
      "description": "IP rule information.",
      "properties": {
        "protocol": {
          "description": "The IP protocol this rule applies to. This value can either be one of the following well known protocol strings (TCP, UDP, ICMP, ESP, AH, IPIP, SCTP) or a string representation of the integer value.",
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          },
          "description": "Optional. An optional list of ports to which this rule applies. This field is only applicable for the UDP or (S)TCP protocols. Each entry must be either an integer or a range including a min and max port number."
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplication": {
      "description": "The App Hub Application associated with the finding's resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of an Application. Format: `projects/{host-project-id}/locations/{location}/applications/{application-id}`"
        },
        "attributes": {
          "description": "Consumer provided attributes for the application",
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplication",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "type": "object",
      "description": "An individual entry in a log.",
      "properties": {
        "cloudLoggingEntry": {
          "description": "An individual entry in a log stored in Cloud Logging.",
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "description": "Represents an artifact guard policy.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Vulnerability type."
          ],
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "description": "The type of the policy evaluation."
        },
        "policyId": {
          "description": "The ID of the failing policy, for example, \"organizations/3392779/locations/global/policies/prod-policy\".",
          "type": "string"
        },
        "failureReason": {
          "description": "The reason for the policy failure, for example, \"severity=HIGH AND max_vuln_count=2\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "type": "object"
    },
    "AiModel": {
      "description": "Contains information about the AI model associated with the finding.",
      "properties": {
        "library": {
          "description": "The name of the model library, for example, “transformers”.",
          "type": "string"
        },
        "name": {
          "description": "The name of the AI model, for example, \"gemini:1.0.0\".",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The region in which the model is used, for example, “us-central1”."
        },
        "deploymentPlatform": {
          "description": "The platform on which the model is deployed.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment platform.",
            "Vertex AI.",
            "Google Kubernetes Engine.",
            "Google Compute Engine.",
            "Fine tuned model."
          ],
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ]
        },
        "domain": {
          "description": "The domain of the model, for example, “image-classification”.",
          "type": "string"
        },
        "publisher": {
          "type": "string",
          "description": "The publisher of the model, for example, “google” or “nvidia”."
        },
        "usageCategory": {
          "description": "The purpose of the model, for example, \"Inteference\" or \"Training\".",
          "type": "string"
        },
        "displayName": {
          "description": "The user defined display name of model. Ex. baseline-classification-model",
          "type": "string"
        }
      },
      "id": "AiModel",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "description": "A resource value configuration (RVC) is a mapping configuration of user's resources to resource values. Used in Attack path simulations.",
      "properties": {
        "resourceValue": {
          "description": "Resource value level this expression represents Only required when there is no Sensitive Data Protection mapping in the request",
          "type": "string",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "cloudProvider": {
          "description": "Cloud provider this configuration applies to",
          "type": "string",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name for the resource value configuration"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp this resource value configuration was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "scope": {
          "type": "string",
          "description": "Project or folder to scope this configuration to. For example, \"project/456\" would apply this configuration only to resources in \"project/456\" scope and will be checked with `AND` of other resources."
        },
        "description": {
          "description": "Description of the resource value configuration.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp this resource value configuration was created."
        },
        "resourceType": {
          "description": "Apply resource_value only to resources that match resource_type. resource_type will be checked with `AND` of other resources. For example, \"storage.googleapis.com/Bucket\" with resource_value \"HIGH\" will apply \"HIGH\" value only to \"storage.googleapis.com/Bucket\" resources.",
          "type": "string"
        },
        "resourceLabelsSelector": {
          "description": "List of resource labels to search for, evaluated with `AND`. For example, \"resource_labels_selector\": {\"key\": \"value\", \"env\": \"prod\"} will match resources with labels \"key\": \"value\" `AND` \"env\": \"prod\" https://cloud.google.com/resource-manager/docs/creating-managing-labels",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sensitiveDataProtectionMapping": {
          "description": "A mapping of the sensitivity on Sensitive Data Protection finding to resource values. This mapping can only be used in combination with a resource_type that is related to BigQuery, e.g. \"bigquery.googleapis.com/Dataset\".",
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "tagValues": {
          "description": "Tag values combined with `AND` to check against. For Google Cloud resources, they are tag value IDs in the form of \"tagValues/123\". Example: `[ \"tagValues/123\", \"tagValues/456\", \"tagValues/789\" ]` https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "Cvssv3": {
      "description": "Common Vulnerability Scoring System version 3.",
      "properties": {
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "format": "double",
          "type": "number"
        },
        "privilegesRequired": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability."
        },
        "availabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability."
        },
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "scope": {
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "confidentialityImpact": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability."
        },
        "integrityImpact": {
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability."
        },
        "userInteraction": {
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        }
      },
      "type": "object",
      "id": "Cvssv3"
    },
    "Detection": {
      "description": "Memory hash detection contributing to the binary family match.",
      "properties": {
        "binary": {
          "description": "The name of the binary associated with the memory hash signature detection.",
          "type": "string"
        },
        "percentPagesMatched": {
          "description": "The percentage of memory page hashes in the signature that were matched.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "Detection",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "type": "object",
      "description": "Environment of the Application, Service, or Workload",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "description": "Environment Type."
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "description": "Represents an ADC application associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}"
        },
        "attributes": {
          "description": "Consumer provided attributes for the AppHub application.",
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      }
    },
    "Container": {
      "description": "Container associated with the finding.",
      "properties": {
        "name": {
          "description": "Name of the container.",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array",
          "description": "Container labels, as provided by the container runtime."
        },
        "createTime": {
          "description": "The time that the container was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "uri": {
          "description": "Container image URI provided when configuring a pod or container. This string can identify a container image version using mutable tags.",
          "type": "string"
        },
        "imageId": {
          "type": "string",
          "description": "Optional container image ID, if provided by the container runtime. Uniquely identifies the container image launched using a container image digest."
        }
      },
      "id": "Container",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Reference": {
      "description": "Additional Links",
      "properties": {
        "source": {
          "type": "string",
          "description": "Source of the reference e.g. NVD"
        },
        "uri": {
          "type": "string",
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Reference"
    },
    "Pipeline": {
      "id": "Pipeline",
      "type": "object",
      "description": "Vertex AI training pipeline associated with the finding.",
      "properties": {
        "name": {
          "description": "Resource name of the pipeline, e.g. projects/{project}/locations/{location}/trainingPipelines/5253428229225578496",
          "type": "string"
        },
        "displayName": {
          "description": "The user defined display name of pipeline, e.g. plants-classification",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "description": "An EffectiveSecurityHealthAnalyticsCustomModule is the representation of a Security Health Analytics custom module at a specified level of the resource hierarchy: organization, folder, or project. If a custom module is inherited from a parent organization or folder, the value of the `enablementState` property in EffectiveSecurityHealthAnalyticsCustomModule is set to the value that is effective in the parent, instead of `INHERITED`. For example, if the module is enabled in a parent organization or folder, the effective enablement_state for the module in all child folders or projects is also `enabled`. EffectiveSecurityHealthAnalyticsCustomModule is read-only.",
      "properties": {
        "cloudProvider": {
          "description": "The cloud provider of the custom module.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services.",
            "Microsoft Azure."
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name for the custom module. The name must be between 1 and 128 characters, start with a lowercase letter, and contain alphanumeric characters or underscores only.",
          "readOnly": true
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig",
          "readOnly": true,
          "description": "Output only. The user-specified configuration for the module."
        },
        "enablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Output only. The effective state of enablement for the module at the given level of the hierarchy.",
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given level.",
            "The module is disabled at the given level."
          ],
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\""
        }
      },
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "type": "object"
    },
    "AdcApplicationTemplateRevision": {
      "description": "Represents an ADC template associated with the finding.",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}",
          "type": "string"
        }
      },
      "id": "AdcApplicationTemplateRevision",
      "type": "object"
    },
[...]
