{
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://securitycenter.googleapis.com/",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version": "v1beta1",
  "basePath": "",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "resources": {
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the organization to get organization settings for. Its format is \"organizations/[organization_id]/organizationSettings\".",
              "required": true,
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the settings for an organization.",
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getOrganizationSettings",
          "path": "v1beta1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "OrganizationSettings"
          }
        },
        "updateOrganizationSettings": {
          "description": "Updates an organization's settings.",
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "The FieldMask to use when updating the settings resource.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "type": "string",
              "location": "path",
              "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\".",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "deprecated": true,
          "request": {
            "$ref": "OrganizationSettings"
          },
          "response": {
            "$ref": "OrganizationSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/{+name}"
        }
      },
      "resources": {
        "assets": {
          "methods": {
            "list": {
              "description": "Lists an organization's assets.",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent."
                },
                "readTime": {
                  "location": "query",
                  "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                  "format": "google-datetime",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "compareDuration": {
                  "type": "string",
                  "location": "query",
                  "description": "When compare_duration is set, the ListAssetResult's \"state\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present before compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state is \"UNUSED\", which indicates that the asset is present at read_time.",
                  "format": "google-duration"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `resource_properties.size = 100` is a valid filter string.",
                  "location": "query"
                },
                "fieldMask": {
                  "location": "query",
                  "description": "Optional. A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the organization assets should belong to. Its format is \"organizations/[organization_id]\".",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.organizations.assets.list",
              "path": "v1beta1/{+parent}/assets",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "runDiscovery": {
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "id": "securitycenter.organizations.assets.runDiscovery",
              "httpMethod": "POST",
              "description": "Runs asset discovery. The discovery is tracked with a long-running operation. This API can only be called with limited frequency for an organization. If it is called too frequently the caller will receive a TOO_MANY_REQUESTS error.",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization to run asset discovery for. Its format is \"organizations/[organization_id]\".",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "group": {
              "id": "securitycenter.organizations.assets.group",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/assets:group",
              "description": "Filters an organization's assets and groups them by their specified properties.",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization to groupBy. Its format is \"organizations/[organization_id]\".",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "updateSecurityMarks": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "parameters": {
                "updateMask": {
                  "description": "The FieldMask to use when updating the security marks resource.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "startTime": {
                  "type": "string",
                  "location": "query",
                  "description": "The time at which the updated SecurityMarks take effect.",
                  "format": "google-datetime"
                },
                "name": {
                  "location": "path",
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                  "required": true,
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates security marks."
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.operations.list",
              "httpMethod": "GET",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "name": {
                  "pattern": "^organizations/[^/]+/operations$",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            },
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.organizations.operations.get",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}"
            },
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "id": "securitycenter.organizations.operations.cancel",
              "path": "v1beta1/{+name}:cancel",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "httpMethod": "DELETE",
              "id": "securitycenter.organizations.operations.delete",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "sources": {
          "methods": {
            "testIamPermissions": {
              "path": "v1beta1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "httpMethod": "POST",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "description": " Returns the permissions that a caller has on the specified source."
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Source"
              },
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.sources.patch",
              "request": {
                "$ref": "Source"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "The FieldMask to use when updating the source resource.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a source."
            },
            "get": {
              "id": "securitycenter.organizations.sources.get",
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "description": "Gets a source.",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameters": {
                "name": {
                  "description": "Required. Relative resource name of the source. Its format is \"organizations/[organization_id]/source/[source_id]\".",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists all sources belonging to an organization.",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "parameters": {
                "pageToken": {
                  "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id]\".",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/sources",
              "id": "securitycenter.organizations.sources.list"
            },
            "create": {
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/sources",
              "id": "securitycenter.organizations.sources.create",
              "request": {
                "$ref": "Source"
              },
              "httpMethod": "POST",
              "description": "Creates a source.",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the new source's parent. Its format should be \"organizations/[organization_id]\".",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "getIamPolicy": {
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "path": "v1beta1/{+resource}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the access control policy on the specified Source.",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST"
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "path": "v1beta1/{+resource}:setIamPolicy",
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified Source."
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "create": {
                  "description": "Creates a finding. The corresponding source must exist for finding creation to succeed.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Resource name of the new finding's parent. Its format should be \"organizations/[organization_id]/sources/[source_id]\".",
                      "required": true
                    },
                    "findingId": {
                      "location": "query",
                      "description": "Required. Unique identifier provided by the client within the parent scope. It must be alphanumeric and less than or equal to 32 characters and greater than 0 characters in length.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.create",
                  "path": "v1beta1/{+parent}/findings",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateSecurityMarks": {
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "The FieldMask to use when updating the security marks resource.",
                      "format": "google-fieldmask"
                    },
                    "startTime": {
                      "location": "query",
                      "description": "The time at which the updated SecurityMarks take effect.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "name": {
                      "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates security marks."
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent.",
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "type": "string",
                      "location": "query",
                      "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                      "format": "google-datetime"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `source_properties.size = 100` is a valid filter string.",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldMask": {
                      "location": "query",
                      "description": "Optional. A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1beta1/organizations/{organization_id}/sources/-/findings",
                  "path": "v1beta1/{+parent}/findings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "id": "securitycenter.organizations.sources.findings.list"
                },
                "setState": {
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "path": "v1beta1/{+name}:setState",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the state of a finding.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string",
                      "description": "Required. The relative resource name of the finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/finding/{finding_id}\".",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "group": {
                  "path": "v1beta1/{+parent}/findings:group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "id": "securitycenter.organizations.sources.findings.group",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\". To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1beta1/organizations/{organization_id}/sources/-/findings"
                },
                "patch": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "parameters": {
                    "name": {
                      "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "The FieldMask to use when updating the finding resource. This field should not be specified when creating a finding.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Creates or updates a finding. The corresponding source must exist for a finding creation to succeed.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/security-command-center",
  "name": "securitycenter",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "title": "Security Command Center API",
  "id": "securitycenter:v1beta1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "protocol": "rest",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "revision": "20260309",
  "schemas": {
    "ResourcePathNode": {
      "description": "A node within the resource path. Each node represents a resource within the resource hierarchy.",
      "id": "ResourcePathNode",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the resource this node represents.",
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "description": "The type of resource this node represents.",
          "enumDescriptions": [
            "Node type is unspecified.",
            "The node represents a Google Cloud organization.",
            "The node represents a Google Cloud folder.",
            "The node represents a Google Cloud project.",
            "The node represents an AWS organization.",
            "The node represents an AWS organizational unit.",
            "The node represents an AWS account.",
            "The node represents an Azure management group.",
            "The node represents an Azure subscription.",
            "The node represents an Azure resource group."
          ]
        },
        "displayName": {
          "description": "The display name of the resource this node represents.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "description": "File path containing the secret.",
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "type": "object",
      "properties": {
        "path": {
          "description": "Path to the file.",
          "type": "string"
        }
      }
    },
    "DataAccessEvent": {
      "type": "object",
      "properties": {
        "eventId": {
          "description": "Unique identifier for data access event.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "description": "The operation performed by the principal to access the data.",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ]
        },
        "eventTime": {
          "description": "Timestamp of data access event.",
          "format": "google-datetime",
          "type": "string"
        },
        "principalEmail": {
          "description": "The email address of the principal that accessed the data. The principal could be a user account, service account, Google group, or other.",
          "type": "string"
        }
      },
      "id": "DataAccessEvent",
      "description": "Details about a data access attempt made by a principal not authorized under applicable data security policy."
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "type": "object",
      "properties": {
        "securityPolicy": {
          "description": "Information about the [Google Cloud Armor security policy](https://cloud.google.com/armor/docs/security-policy-overview) relevant to the finding.",
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "duration": {
          "type": "string",
          "description": "Duration of attack from the start until the current moment (updated every 5 minutes).",
          "format": "google-duration"
        },
        "requests": {
          "description": "Information about incoming requests evaluated by [Google Cloud Armor security policies](https://cloud.google.com/armor/docs/security-policy-overview).",
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "threatVector": {
          "description": "Distinguish between volumetric & protocol DDoS attack and application layer attacks. For example, \"L3_4\" for Layer 3 and Layer 4 DDoS attacks, or \"L_7\" for Layer 7 DDoS attacks.",
          "type": "string"
        },
        "adaptiveProtection": {
          "description": "Information about potential Layer 7 DDoS attacks identified by [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/adaptive-protection-overview).",
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "attack": {
          "description": "Information about DDoS attack volume and classification.",
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        }
      },
      "description": "Fields related to Google Cloud Armor findings."
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "description": "Represents a Kubernetes subject.",
      "id": "GoogleCloudSecuritycenterV2Subject",
      "type": "object",
      "properties": {
        "ns": {
          "description": "Namespace for the subject.",
          "type": "string"
        },
        "name": {
          "description": "Name for the subject.",
          "type": "string"
        },
        "kind": {
          "description": "Authentication type for the subject.",
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as secrets.",
            "Collection of users."
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent",
      "type": "object",
      "properties": {
        "operation": {
          "description": "The operation performed by the principal for the data flow event.",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "description": "Timestamp of data flow event.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "description": "Unique identifier for data flow event.",
          "type": "string"
        },
        "violatedLocation": {
          "description": "Non-compliant location of the principal or the data destination.",
          "type": "string"
        },
        "principalEmail": {
          "description": "The email address of the principal that initiated the data flow event. The principal could be a user account, service account, Google group, or other.",
          "type": "string"
        }
      },
      "description": "Details about a data flow event, in which either the data is moved to or is accessed from a non-compliant geo-location, as defined in the applicable data security policy."
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "description": "Information about [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/cloud-armor-overview#google-cloud-armor-adaptive-protection).",
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "description": "A score of 0 means that there is low confidence that the detected event is an actual attack. A score of 1 means that there is high confidence that the detected event is an attack. See the [Adaptive Protection documentation](https://cloud.google.com/armor/docs/adaptive-protection-overview#configure-alert-tuning) for further explanation.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GroupFindingsResponse": {
      "description": "Response message for group by findings.",
      "id": "GroupFindingsResponse",
      "type": "object",
      "properties": {
        "groupByResults": {
          "type": "array",
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "description": "Time used for executing the groupBy request.",
          "format": "google-datetime",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "Chokepoint": {
      "id": "Chokepoint",
      "type": "object",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "description": "List of resource names of findings associated with this chokepoint. For example, organizations/123/sources/456/findings/789. This list will have at most 100 findings.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations)."
    },
    "ArtifactGuardPolicies": {
      "id": "ArtifactGuardPolicies",
      "type": "object",
      "properties": {
        "failingPolicies": {
          "type": "array",
          "description": "A list of failing policies.",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "description": "The ID of the resource that has policies configured for it.",
          "type": "string"
        }
      },
      "description": "Represents the result of evaluating artifact guard policies."
    },
    "GoogleCloudSecuritycenterV2Chokepoint": {
      "id": "GoogleCloudSecuritycenterV2Chokepoint",
      "type": "object",
      "properties": {
        "relatedFindings": {
          "description": "List of resource names of findings associated with this chokepoint. For example, organizations/123/sources/456/findings/789. This list will have at most 100 findings.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations)."
    },
    "RunAssetDiscoveryRequest": {
      "description": "Request message for running asset discovery for an organization.",
      "id": "RunAssetDiscoveryRequest",
      "type": "object",
      "properties": {}
    },
    "GroupAssetsRequest": {
      "description": "Request message for grouping by assets.",
      "type": "object",
      "properties": {
        "groupBy": {
          "description": "Required. Expression that defines what assets fields to use for grouping. The string value should follow SQL syntax: comma separated list of fields. For example: \"security_center_properties.resource_project,security_center_properties.project\". The following fields are supported when compare_duration is not set: * security_center_properties.resource_project * security_center_properties.resource_type * security_center_properties.resource_parent The following fields are supported when compare_duration is set: * security_center_properties.resource_type",
          "type": "string"
        },
        "readTime": {
          "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
          "format": "google-datetime",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "format": "int32",
          "type": "integer"
        },
        "compareDuration": {
          "type": "string",
          "description": "When compare_duration is set, the Asset's \"state\" property is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present before compare_duration, but present at reference_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at reference_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and reference_time. This field is ignored if `state` is not a field in `group_by`.",
          "format": "google-duration"
        },
        "pageToken": {
          "description": "The value returned by the last `GroupAssetsResponse`; indicates that this is a continuation of a prior `GroupAssets` call, and that the system should return the next page of data.",
          "type": "string"
        },
        "filter": {
          "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `resource_properties.size = 100` is a valid filter string.",
          "type": "string"
        }
      },
      "id": "GroupAssetsRequest"
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "description": "Azure metadata associated with the resource, only applicable if the finding's cloud provider is Microsoft Azure.",
      "id": "GoogleCloudSecuritycenterV2AzureMetadata",
      "type": "object",
      "properties": {
        "managementGroups": {
          "type": "array",
          "description": "A list of Azure management groups associated with the resource, ordered from lowest level (closest to the subscription) to highest level.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        },
        "resourceGroup": {
          "description": "The Azure resource group associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "tenant": {
          "description": "The Azure Entra tenant associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        },
        "subscription": {
          "description": "The Azure subscription associated with the resource.",
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        }
      }
    },
    "Disk": {
      "description": "Contains information about the disk associated with the finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the disk, for example, \"https://www.googleapis.com/compute/v1/projects/{project-id}/zones/{zone-id}/disks/{disk-id}\".",
          "type": "string"
        }
      },
      "id": "Disk"
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "description": "Compliance framework associated with the finding.",
      "id": "GoogleCloudSecuritycenterV2Framework",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name of the framework. For a standard framework, this will look like e.g. PCI DSS 3.2.1, whereas for a custom framework it can be a user defined string like MyFramework",
          "type": "string"
        },
        "category": {
          "description": "Category of the framework associated with the finding. E.g. Security Benchmark, or Assured Workloads",
          "items": {
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Security Benchmarks framework",
              "Assured Workloads framework",
              "Data Security framework",
              "Google Best Practices framework",
              "A user-created framework"
            ]
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "description": "Type of the framework associated with the finding, to specify whether the framework is built-in (pre-defined and immutable) or a custom framework defined by the customer (equivalent to security posture)",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The framework is a built-in framework if it is created and managed by GCP.",
            "The framework is a custom framework if it is created and managed by the user."
          ]
        },
        "controls": {
          "description": "The controls associated with the framework.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          },
          "type": "array"
        },
        "name": {
          "description": "Name of the framework associated with the finding",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "description": "Details about a secret or credential associated with the finding.",
      "id": "GoogleCloudSecuritycenterV2Secret",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of secret, for example, GCP_API_KEY.",
          "type": "string"
        },
        "environmentVariable": {
          "description": "The environment variable containing the secret.",
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "filePath": {
          "description": "The file containing the secret.",
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "status": {
          "description": "The status of the secret.",
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "id": "GoogleCloudSecuritycenterV2Folder",
      "type": "object",
      "properties": {
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      },
      "description": "Message that contains the resource name and display name of a folder resource."
    },
    "ListAssetsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total number of assets matching the query.",
          "format": "int32",
          "type": "integer"
        },
        "readTime": {
          "description": "Time used for executing the list request.",
          "format": "google-datetime",
          "type": "string"
        },
        "listAssetsResults": {
          "type": "array",
          "description": "Assets matching the list request.",
          "items": {
            "$ref": "ListAssetsResult"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      },
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets."
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "id": "GoogleCloudSecuritycenterV2InfoType",
      "type": "object",
      "properties": {
        "sensitivityScore": {
          "description": "Optional custom sensitivity for this InfoType. This only applies to data profiling.",
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        },
        "version": {
          "description": "Optional version name for this InfoType.",
          "type": "string"
        },
        "name": {
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$_-]{1,64}`.",
          "type": "string"
        }
      },
      "description": "Type of information detected by the API."
    },
    "ExternalExposure": {
      "description": "Details about the externally exposed resource associated with the finding.",
      "id": "ExternalExposure",
      "type": "object",
      "properties": {
        "loadBalancerFirewallPolicy": {
          "description": "The full resource name of the load balancer firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "backendService": {
          "description": "The full resource name of load balancer backend service, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\".",
          "type": "string"
        },
        "networkEndpointGroup": {
          "description": "The full resource name of the network endpoint group, for example, \"//compute.googleapis.com/projects/{project-id}/global/networkEndpointGroups/{name}\".",
          "type": "string"
        },
        "publicIpAddress": {
          "description": "Public IP address of the exposed endpoint.",
          "type": "string"
        },
        "exposedEndpoint": {
          "description": "The resource which is running the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/zones/{zone}/instances/{instance}.”",
          "type": "string"
        },
        "privateIpAddress": {
          "description": "Private IP address of the exposed endpoint.",
          "type": "string"
        },
        "privatePort": {
          "description": "Port number associated with private IP address.",
          "type": "string"
        },
        "publicPort": {
          "description": "Public port number of the exposed endpoint.",
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "description": "The full resource name of the firewall policy of the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "exposedService": {
          "description": "The name and version of the service, for example, \"Jupyter Notebook 6.14.0\".",
          "type": "string"
        },
        "forwardingRule": {
          "description": "The full resource name of the forwarding rule, for example, \"//compute.googleapis.com/projects/{project-id}/global/forwardingRules/{forwarding-rule-name}\".",
          "type": "string"
        },
        "instanceGroup": {
          "description": "The full resource name of the instance group, for example, \"//compute.googleapis.com/projects/{project-id}/global/instanceGroups/{name}\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "description": "Indicates what signature matched this process.",
      "type": "object",
      "properties": {
        "yaraRuleSignature": {
          "description": "Signature indicating that a YARA rule was matched.",
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        },
        "memoryHashSignature": {
          "description": "Signature indicating that a binary family was matched.",
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "signatureType": {
          "type": "string",
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "description": "Describes the type of resource associated with the signature.",
          "enumDescriptions": [
            "The default signature type.",
            "Used for signatures concerning processes.",
            "Used for signatures concerning disks."
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ProcessSignature"
    },
    "AzureSubscription": {
      "description": "Represents an Azure subscription.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the Azure subscription.",
          "type": "string"
        },
        "id": {
          "description": "The UUID of the Azure subscription, for example, `291bba3f-e0a5-47bc-a099-3bdcb2a50a05`.",
          "type": "string"
        }
      },
      "id": "AzureSubscription"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "type": "object",
      "properties": {
        "remediations": {
          "type": "array",
          "description": "Approaches to remediate the issue in Markdown format.",
          "items": {
            "type": "string"
          }
        },
        "exposureScore": {
          "description": "The exposure score of the issue.",
          "format": "double",
          "type": "number"
        },
        "primaryResource": {
          "description": "The primary resource associated with the issue.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "issueType": {
          "type": "string",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ],
          "description": "The type of the issue.",
          "enumDescriptions": [
            "Unspecified issue type.",
            "Chokepoint issue type.",
            "Toxic combination issue type.",
            "Insight issue type."
          ]
        },
        "severity": {
          "description": "The severity of the issue.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "secondaryResources": {
          "description": "Additional resources associated with the issue.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          },
          "type": "array"
        },
        "detection": {
          "description": "The finding category or rule name that generated the issue.",
          "type": "string"
        },
        "mute": {
          "description": "The mute information of the issue.",
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "relatedFindings": {
          "description": "The findings related to the issue.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          },
          "type": "array"
        },
        "description": {
          "description": "The description of the issue in Markdown format.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the issue was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The state of the issue.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Active state.",
            "Inactive state."
          ]
        },
        "updateTime": {
          "description": "Output only. The time the issue was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the issue. Format: organizations/{organization}/locations/{location}/issues/{issue}",
          "type": "string"
        },
        "securityContexts": {
          "type": "array",
          "description": "The security context of the issue.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          }
        },
        "domains": {
          "description": "The domains of the issue.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          },
          "type": "array"
        },
        "lastObservationTime": {
          "description": "The time the issue was last observed.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Issue",
      "description": "Security Command Center Issue."
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "description": "Path of the file in terms of underlying disk/partition identifiers.",
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "type": "object",
      "properties": {
        "partitionUuid": {
          "description": "UUID of the partition (format https://wiki.archlinux.org/title/persistent_block_device_naming#by-uuid)",
          "type": "string"
        },
        "relativePath": {
          "description": "Relative path of the file in the partition as a JSON encoded string. Example: /home/user1/executable_file.sh",
          "type": "string"
        }
      }
    },
    "ExportFindingsResponse": {
      "description": "The response to a ExportFindings request. Contains the LRO information.",
      "type": "object",
      "properties": {},
      "id": "ExportFindingsResponse"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}",
          "type": "string"
        },
        "attributes": {
          "description": "Consumer provided attributes for the AppHub application.",
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "description": "Represents an ADC application associated with the finding."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "CloudDlpInspection": {
      "description": "Details about the Cloud Data Loss Prevention (Cloud DLP) [inspection job](https://cloud.google.com/dlp/docs/concepts-job-triggers) that produced the finding.",
      "id": "CloudDlpInspection",
      "type": "object",
      "properties": {
        "fullScan": {
          "description": "Whether Cloud DLP scanned the complete resource or a sampled subset.",
          "type": "boolean"
        },
        "inspectJob": {
          "description": "Name of the inspection job, for example, `projects/123/locations/europe/dlpJobs/i-8383929`.",
          "type": "string"
        },
        "infoType": {
          "description": "The type of information (or *[infoType](https://cloud.google.com/dlp/docs/infotypes-reference)*) found, for example, `EMAIL_ADDRESS` or `STREET_ADDRESS`.",
          "type": "string"
        },
        "infoTypeCount": {
          "description": "The number of times Cloud DLP found this infoType within this job and resource.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PolicyDriftDetails": {
      "id": "GoogleCloudSecuritycenterV2PolicyDriftDetails",
      "type": "object",
      "properties": {
        "detectedValue": {
          "description": "The detected value that violates the deployed posture, for example, `false` or `allowed_values={\"projects/22831892\"}`.",
          "type": "string"
        },
        "field": {
          "description": "The name of the updated field, for example constraint.implementation.policy_rules[0].enforce",
          "type": "string"
        },
        "expectedValue": {
          "description": "The value of this field that was configured in a posture, for example, `true` or `allowed_values={\"projects/29831892\"}`.",
          "type": "string"
        }
      },
      "description": "The policy field that violates the deployed posture and its expected and detected values."
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "description": "Consumer provided attributes for the application",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes",
      "type": "object",
      "properties": {
        "developerOwners": {
          "type": "array",
          "description": "Developer team that owns development and coding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "description": "User-defined criticality information.",
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
        },
        "operatorOwners": {
          "type": "array",
          "description": "Operator team that ensures runtime and operations.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "description": "User-defined environment information.",
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        },
        "businessOwners": {
          "description": "Business team that ensures user needs are met and value is delivered",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "description": "SecurityBulletin are notifications of vulnerabilities of Google products.",
      "type": "object",
      "properties": {
        "bulletinId": {
          "description": "ID of the bulletin corresponding to the vulnerability.",
          "type": "string"
        },
        "suggestedUpgradeVersion": {
          "description": "This represents a version that the cluster receiving this notification should be upgraded to, based on its current version. For example, 1.15.0",
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "description": "Submission time of this Security Bulletin.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription",
      "type": "object",
      "properties": {
        "id": {
          "description": "The Azure subscription ID of the resource associated with the issue.",
          "type": "string"
        },
        "displayName": {
          "description": "The Azure subscription display name of the resource associated with the issue.",
          "type": "string"
        }
      },
      "description": "The Azure subscription of the resource associated with the issue."
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "description": "Contact information of stakeholders.",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the contacts.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the Microsoft Entra tenant, for example, \"a11aaa11-aa11-1aa1-11aa-1aaa11a\".",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the Azure tenant.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "description": "Represents a Microsoft Entra tenant."
    },
    "SecurityCenterProperties": {
      "id": "SecurityCenterProperties",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Immutable. The full resource name of the Google Cloud resource this asset represents. This field is immutable after create time. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of the Google Cloud resource. Examples include: APPLICATION, PROJECT, and ORGANIZATION. This is a case insensitive field defined by Security Command Center and/or the producer of the resource and is immutable after create time.",
          "type": "string"
        },
        "resourceOwners": {
          "description": "Owners of the Google Cloud resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceParent": {
          "description": "The full resource name of the immediate parent of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceProject": {
          "description": "The full resource name of the project the resource belongs to. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      },
      "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user."
    },
    "CloudLoggingEntry": {
      "description": "Metadata taken from a [Cloud Logging LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry)",
      "id": "CloudLoggingEntry",
      "type": "object",
      "properties": {
        "timestamp": {
          "description": "The time the event described by the log entry occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceContainer": {
          "description": "The organization, folder, or project of the monitored resource that produced this log entry.",
          "type": "string"
        },
        "insertId": {
          "description": "A unique identifier for the log entry.",
          "type": "string"
        },
        "logId": {
          "description": "The type of the log (part of `log_name`. `log_name` is the resource name of the log to which this log entry belongs). For example: `cloudresourcemanager.googleapis.com/activity`. Note that this field is not URL-encoded, unlike the `LOG_ID` field in `LogEntry`.",
          "type": "string"
        }
      }
    },
    "OrganizationSettings": {
      "id": "OrganizationSettings",
      "type": "object",
      "properties": {
        "assetDiscoveryConfig": {
          "description": "The configuration used for Asset Discovery runs.",
          "$ref": "AssetDiscoveryConfig"
        },
        "enableAssetDiscovery": {
          "description": "A flag that indicates if Asset Discovery should be enabled. If the flag is set to `true`, then discovery of assets will occur. If it is set to `false`, all historical assets will remain, but discovery of future assets will not occur.",
          "type": "boolean"
        },
        "name": {
          "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\".",
          "type": "string"
        }
      },
      "description": "User specified settings that are attached to the Security Command Center organization."
    },
    "GoogleCloudSecuritycenterV2CloudDlpDataProfile": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpDataProfile",
      "type": "object",
      "properties": {
        "dataProfile": {
          "description": "Name of the data profile, for example, `projects/123/locations/europe/tableProfiles/8383929`.",
          "type": "string"
        },
        "parentType": {
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "description": "The resource hierarchy level at which the data profile was generated.",
          "enumDescriptions": [
            "Unspecified parent type.",
            "Organization-level configurations.",
            "Project-level configurations."
          ]
        },
        "infoTypes": {
          "description": "Type of information detected by SDP. Info type includes name, version and sensitivity of the detected information type.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InfoType"
          },
          "type": "array"
        }
      },
      "description": "The [data profile](https://cloud.google.com/dlp/docs/data-profiles) associated with the finding."
    },
    "ListSourcesResponse": {
      "type": "object",
      "properties": {
        "sources": {
          "description": "Sources belonging to the requested parent.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      },
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources."
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the resource this node represents.",
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "description": "The type of resource this node represents.",
          "enumDescriptions": [
            "Node type is unspecified.",
            "The node represents a Google Cloud organization.",
            "The node represents a Google Cloud folder.",
            "The node represents a Google Cloud project.",
            "The node represents an AWS organization.",
            "The node represents an AWS organizational unit.",
            "The node represents an AWS account.",
            "The node represents an Azure management group.",
            "The node represents an Azure subscription.",
            "The node represents an Azure resource group."
          ]
        },
        "displayName": {
          "description": "The display name of the resource this node represents.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "description": "A node within the resource path. Each node represents a resource within the resource hierarchy."
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "description": "Describes a job",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. State of the job, such as `RUNNING` or `PENDING`.",
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified represents an unknown state and should not be used.",
            "Job is scheduled and pending for run",
            "Job in progress",
            "Job has completed with success",
            "Job has completed but with failure"
          ]
        },
        "errorCode": {
          "description": "Optional. If the job did not complete successfully, this field describes why.",
          "format": "int32",
          "type": "integer"
        },
        "location": {
          "description": "Optional. Gives the location where the job ran, such as `US` or `europe-west1`",
          "type": "string"
        },
        "name": {
          "description": "The fully-qualified name for a job. e.g. `projects//jobs/`",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Job"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "id": "GoogleCloudSecuritycenterV2Network",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the VPC network resource, for example, `//compute.googleapis.com/projects/my-project/global/networks/my-network`.",
          "type": "string"
        }
      },
      "description": "Contains information about a VPC network associated with the finding."
    },
    "Finding": {
      "id": "Finding",
      "type": "object",
      "properties": {
        "kubernetes": {
          "description": "Kubernetes resources associated with the finding.",
          "$ref": "Kubernetes"
        },
        "toxicCombination": {
          "description": "Contains details about a group of security issues that, when the issues occur together, represent a greater risk than when the issues occur independently. A group of such issues is referred to as a toxic combination. This field cannot be updated. Its value is ignored in all update requests.",
          "$ref": "ToxicCombination"
        },
        "notebook": {
          "description": "Notebook associated with the finding.",
          "$ref": "Notebook"
        },
        "backupDisasterRecovery": {
          "description": "Fields related to Backup and DR findings.",
          "$ref": "BackupDisasterRecovery"
        },
        "complianceDetails": {
          "description": "Details about the compliance implications of the finding.",
          "$ref": "ComplianceDetails"
        },
        "orgPolicies": {
          "type": "array",
          "description": "Contains information about the org policies associated with the finding.",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "moduleName": {
          "description": "Unique identifier of the module which generated the finding. Example: folders/598186756061/securityHealthAnalyticsSettings/customModules/56799441161885",
          "type": "string"
        },
        "mitreAttack": {
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
          "$ref": "MitreAttack"
        },
        "dataFlowEvents": {
          "type": "array",
          "description": "Data flow events associated with the finding.",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "ipRules": {
          "description": "IP rules associated with the finding.",
          "$ref": "IpRules"
        },
        "connections": {
          "type": "array",
          "description": "Contains information about the IP connection associated with the finding.",
          "items": {
            "$ref": "Connection"
          }
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "files": {
          "type": "array",
          "description": "File associated with the finding.",
          "items": {
            "$ref": "File"
          }
        },
        "securityPosture": {
          "description": "The security posture associated with the finding.",
          "$ref": "SecurityPosture"
        },
        "chokepoint": {
          "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations). This field cannot be updated. Its value is ignored in all update requests.",
          "$ref": "Chokepoint"
        },
        "externalExposure": {
          "description": "External exposure associated with the finding.",
          "$ref": "ExternalExposure"
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "The state of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ]
        },
        "job": {
          "description": "Job associated with the finding.",
          "$ref": "Job"
        },
        "iamBindings": {
          "description": "Represents IAM bindings associated with the finding.",
          "items": {
            "$ref": "IamBinding"
          },
          "type": "array"
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true
        },
        "mute": {
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
[...]
