{
  "kind": "discovery#restDescription",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "id": "securitycenter:v1",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://securitycenter.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "description": "Represents an artifact guard policy.",
      "properties": {
        "type": {
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "type": "string",
          "description": "The type of the policy evaluation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Vulnerability type."
          ]
        },
        "policyId": {
          "type": "string",
          "description": "The ID of the failing policy, for example, \"organizations/3392779/locations/global/policies/prod-policy\"."
        },
        "failureReason": {
          "description": "The reason for the policy failure, for example, \"severity=HIGH AND max_vuln_count=2\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "description": "Represents a geographical location for a given access.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      },
      "type": "object"
    },
    "ComplianceDetails": {
      "id": "ComplianceDetails",
      "type": "object",
      "description": "Compliance Details associated with the finding.",
      "properties": {
        "frameworks": {
          "items": {
            "$ref": "Framework"
          },
          "type": "array",
          "description": "Details of Frameworks associated with the finding"
        },
        "cloudControl": {
          "description": "CloudControl associated with the finding",
          "$ref": "CloudControl"
        },
        "cloudControlDeploymentNames": {
          "description": "Cloud Control Deployments associated with the finding. For example, organizations/123/locations/global/cloudControlDeployments/deploymentIdentifier",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListEffectiveEventThreatDetectionCustomModulesResponse": {
      "type": "object",
      "description": "Response for listing EffectiveEventThreatDetectionCustomModules.",
      "properties": {
        "effectiveEventThreatDetectionCustomModules": {
          "type": "array",
          "description": "Effective custom modules belonging to the requested parent.",
          "items": {
            "$ref": "EffectiveEventThreatDetectionCustomModule"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListEffectiveEventThreatDetectionCustomModulesResponse"
    },
    "ExportFindingsMetadata": {
      "id": "ExportFindingsMetadata",
      "type": "object",
      "description": "The LRO metadata for a ExportFindings request.",
      "properties": {
        "bigQueryDestination": {
          "$ref": "BigQueryDestination",
          "description": "Required. The destination BigQuery dataset to export findings to."
        },
        "exportStartTime": {
          "description": "Optional. Timestamp at which export was started",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "description": "Contains information about the disk associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the disk, for example, \"https://www.googleapis.com/compute/v1/projects/{project-id}/zones/{zone-id}/disks/{disk-id}\"."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Disk"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "type": "object",
      "description": "Represents an ADC application associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of an ADC Application. Format: projects/{project}/locations/{location}/spaces/{space}/applications/{application}"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes",
          "description": "Consumer provided attributes for the AppHub application."
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplication"
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "type": "object",
      "description": "Denied IP rule.",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          },
          "description": "Optional. Optional list of denied IP rules.",
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Denied"
    },
    "GroupMembership": {
      "id": "GroupMembership",
      "description": "Contains details about groups of which this finding is a member. A group is a collection of findings that are related in some way.",
      "properties": {
        "groupType": {
          "type": "string",
          "description": "Type of group.",
          "enumDescriptions": [
            "Default value.",
            "Group represents a toxic combination.",
            "Group represents a chokepoint."
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "type": "string",
          "description": "ID of the group."
        }
      },
      "type": "object"
    },
    "AdcApplicationTemplateRevision": {
      "id": "AdcApplicationTemplateRevision",
      "description": "Represents an ADC template associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of an ADC Application Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}"
        }
      },
      "type": "object"
    },
    "EffectiveEventThreatDetectionCustomModule": {
      "id": "EffectiveEventThreatDetectionCustomModule",
      "description": "An EffectiveEventThreatDetectionCustomModule is the representation of an Event Threat Detection custom module at a specified level of the resource hierarchy: organization, folder, or project. If a custom module is inherited from a parent organization or folder, the value of the `enablement_state` property in EffectiveEventThreatDetectionCustomModule is set to the value that is effective in the parent, instead of `INHERITED`. For example, if the module is enabled in a parent organization or folder, the effective `enablement_state` for the module in all child folders or projects is also `enabled`. EffectiveEventThreatDetectionCustomModule is read-only.",
      "properties": {
        "type": {
          "description": "Output only. Type for the module. e.g. CONFIGURABLE_BAD_IP.",
          "readOnly": true,
          "type": "string"
        },
        "config": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. Config for the effective module.",
          "readOnly": true,
          "type": "object"
        },
        "enablementState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given level.",
            "The module is disabled at the given level."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Output only. The effective state of enablement for the module at the given level of the hierarchy."
        },
        "name": {
          "description": "Output only. The resource name of the effective ETD custom module. Its format is: * `organizations/{organization}/eventThreatDetectionSettings/effectiveCustomModules/{module}`. * `folders/{folder}/eventThreatDetectionSettings/effectiveCustomModules/{module}`. * `projects/{project}/eventThreatDetectionSettings/effectiveCustomModules/{module}`.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human readable name to be displayed for the module."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description for the module."
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "description": "The cloud provider of the custom module.",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services.",
            "Microsoft Azure."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Exfiltration": {
      "description": "Exfiltration represents a data exfiltration attempt from one or more sources to one or more targets. The `sources` attribute lists the sources of the exfiltrated data. The `targets` attribute lists the destinations the data was copied to.",
      "properties": {
        "targets": {
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "sources": {
          "type": "array",
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "description": "Total exfiltrated bytes processed for the entire job.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Exfiltration"
    },
    "AzureResourceGroup": {
      "description": "Represents an Azure resource group.",
      "properties": {
        "id": {
          "description": "The ID of the Azure resource group.",
          "type": "string"
        },
        "name": {
          "description": "The name of the Azure resource group. This is not a UUID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AzureResourceGroup"
    },
    "Reference": {
      "description": "Additional Links",
      "properties": {
        "source": {
          "type": "string",
          "description": "Source of the reference e.g. NVD"
        },
        "uri": {
          "type": "string",
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527."
        }
      },
      "type": "object",
      "id": "Reference"
    },
    "ValidateEventThreatDetectionCustomModuleResponse": {
      "description": "Response to validating an Event Threat Detection custom module.",
      "properties": {
        "errors": {
          "$ref": "CustomModuleValidationErrors",
          "description": "A list of errors returned by the validator. If the list is empty, there were no errors."
        }
      },
      "type": "object",
      "id": "ValidateEventThreatDetectionCustomModuleResponse"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "type": "object",
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2Role": {
      "id": "GoogleCloudSecuritycenterV2Role",
      "type": "object",
      "description": "Kubernetes Role or ClusterRole.",
      "properties": {
        "kind": {
          "description": "Role type.",
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        },
        "ns": {
          "description": "Role namespace.",
          "type": "string"
        },
        "name": {
          "description": "Role name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "id": "GoogleCloudSecuritycenterV2SecurityPosture",
      "type": "object",
      "description": "Represents a posture that is deployed on Google Cloud by the Security Command Center Posture Management service. A posture contains one or more policy sets. A policy set is a group of policies that enforce a set of security rules on Google Cloud.",
      "properties": {
        "revisionId": {
          "description": "The version of the posture, for example, `c7cfa2a8`.",
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          },
          "description": "The details about a change in an updated policy that violates the deployed posture.",
          "type": "array"
        },
        "policy": {
          "type": "string",
          "description": "The ID of the updated policy, for example, `compute-policy-1`."
        },
        "postureDeploymentResource": {
          "description": "The project, folder, or organization on which the posture is deployed, for example, `projects/{project_number}`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the posture, for example, `CIS-Posture`."
        },
        "policySet": {
          "type": "string",
          "description": "The name of the updated policy set, for example, `cis-policyset`."
        },
        "postureDeployment": {
          "description": "The name of the posture deployment, for example, `organizations/{org_id}/posturedeployments/{posture_deployment_id}`.",
          "type": "string"
        },
        "changedPolicy": {
          "type": "string",
          "description": "The name of the updated policy, for example, `projects/{project_id}/policies/{constraint_name}`."
        }
      }
    },
    "AttackPathNode": {
      "id": "AttackPathNode",
      "type": "object",
      "description": "Represents one point that an attacker passes through in this attack path.",
      "properties": {
        "resourceType": {
          "description": "The [supported resource type](https://cloud.google.com/asset-inventory/docs/supported-asset-types)",
          "type": "string"
        },
        "uuid": {
          "type": "string",
          "description": "Unique id of the attack path node."
        },
        "attackSteps": {
          "type": "array",
          "description": "A list of attack step nodes that exist in this attack path node.",
          "items": {
            "$ref": "AttackStepNode"
          }
        },
        "displayName": {
          "description": "Human-readable name of this resource.",
          "type": "string"
        },
        "associatedFindings": {
          "items": {
            "$ref": "PathNodeAssociatedFinding"
          },
          "type": "array",
          "description": "The findings associated with this node in the attack path."
        },
        "resource": {
          "description": "The name of the resource at this point in the attack path. The format of the name follows the Cloud Asset Inventory [resource name format](https://cloud.google.com/asset-inventory/docs/resource-name-format)",
          "type": "string"
        }
      }
    },
    "CloudDlpDataProfile": {
      "description": "The [data profile](https://cloud.google.com/dlp/docs/data-profiles) associated with the finding.",
      "properties": {
        "dataProfile": {
          "description": "Name of the data profile, for example, `projects/123/locations/europe/tableProfiles/8383929`.",
          "type": "string"
        },
        "infoTypes": {
          "description": "Type of information detected by SDP. Info type includes name, version and sensitivity of the detected information type.",
          "type": "array",
          "items": {
            "$ref": "InfoType"
          }
        },
        "parentType": {
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "description": "The resource hierarchy level at which the data profile was generated.",
          "enumDescriptions": [
            "Unspecified parent type.",
            "Organization-level configurations.",
            "Project-level configurations."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudDlpDataProfile"
    },
    "VulnerabilityCountBySeverity": {
      "id": "VulnerabilityCountBySeverity",
      "description": "Vulnerability count by severity.",
      "properties": {
        "severityToFindingCount": {
          "description": "Key is the Severity enum.",
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "description": "An individual entry in a log.",
      "properties": {
        "cloudLoggingEntry": {
          "description": "An individual entry in a log stored in Cloud Logging.",
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "type": "object",
      "description": "Metadata taken from a [Cloud Logging LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry)",
      "properties": {
        "logId": {
          "description": "The type of the log (part of `log_name`. `log_name` is the resource name of the log to which this log entry belongs). For example: `cloudresourcemanager.googleapis.com/activity` Note that this field is not URL-encoded, unlike in `LogEntry`.",
          "type": "string"
        },
        "timestamp": {
          "description": "The time the event described by the log entry occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "insertId": {
          "description": "A unique identifier for the log entry.",
          "type": "string"
        },
        "resourceContainer": {
          "type": "string",
          "description": "The organization, folder, or project of the monitored resource that produced this log entry."
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
    },
    "Dataset": {
      "type": "object",
      "description": "Vertex AI dataset associated with the finding.",
      "properties": {
        "displayName": {
          "description": "The user defined display name of dataset, e.g. plants-dataset",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the dataset, e.g. projects/{project}/locations/{location}/datasets/2094040236064505856"
        },
        "source": {
          "description": "Data source, such as BigQuery source URI, e.g. bq://scc-nexus-test.AIPPtest.gsod",
          "type": "string"
        }
      },
      "id": "Dataset"
    },
    "Kubernetes": {
      "id": "Kubernetes",
      "type": "object",
      "description": "Kubernetes-related attributes.",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array",
          "description": "Provides Kubernetes [node](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture#nodes) information."
        },
        "bindings": {
          "description": "Provides Kubernetes role binding information for findings that involve [RoleBindings or ClusterRoleBindings](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          }
        },
        "pods": {
          "items": {
            "$ref": "Pod"
          },
          "type": "array",
          "description": "Kubernetes [Pods](https://cloud.google.com/kubernetes-engine/docs/concepts/pod) associated with the finding. This field contains Pod records for each container that is owned by a Pod."
        },
        "roles": {
          "items": {
            "$ref": "Role"
          },
          "type": "array",
          "description": "Provides Kubernetes role information for findings that involve [Roles or ClusterRoles](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control)."
        },
        "nodePools": {
          "description": "GKE [node pools](https://cloud.google.com/kubernetes-engine/docs/concepts/node-pools) associated with the finding. This field contains node pool information for each node, when it is available.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "accessReviews": {
          "type": "array",
          "description": "Provides information on any Kubernetes access reviews (privilege checks) relevant to the finding.",
          "items": {
            "$ref": "AccessReview"
          }
        },
        "objects": {
          "items": {
            "$ref": "Object"
          },
          "type": "array",
          "description": "Kubernetes objects related to the finding."
        }
      }
    },
    "NotificationConfig": {
      "description": "Cloud Security Command Center (Cloud SCC) notification configs. A notification config is a Cloud SCC resource that contains the configuration to send notifications for create/update events of findings, assets and etc.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\", \"folders/{folder_id}/notificationConfigs/notify_public_bucket\", or \"projects/{project_id}/notificationConfigs/notify_public_bucket\"."
        },
        "description": {
          "description": "The description of the notification config (max of 1024 characters).",
          "type": "string"
        },
        "pubsubTopic": {
          "description": "The Pub/Sub topic to send notifications to. Its format is \"projects/[project_id]/topics/[topic]\".",
          "type": "string"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account that needs \"pubsub.topics.publish\" permission to publish to the Pub/Sub topic."
        },
        "streamingConfig": {
          "description": "The config for triggering streaming-based notifications.",
          "$ref": "StreamingConfig"
        }
      },
      "type": "object",
      "id": "NotificationConfig"
    },
    "Chokepoint": {
      "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations).",
      "properties": {
        "relatedFindings": {
          "description": "List of resource names of findings associated with this chokepoint. For example, organizations/123/sources/456/findings/789. This list will have at most 100 findings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Chokepoint"
    },
    "AzureMetadata": {
      "id": "AzureMetadata",
      "type": "object",
      "description": "Azure metadata associated with the resource, only applicable if the finding's cloud provider is Microsoft Azure.",
      "properties": {
        "resourceGroup": {
          "$ref": "AzureResourceGroup",
          "description": "The Azure resource group associated with the resource."
        },
        "tenant": {
          "description": "The Azure Entra tenant associated with the resource.",
          "$ref": "AzureTenant"
        },
        "subscription": {
          "description": "The Azure subscription associated with the resource.",
          "$ref": "AzureSubscription"
        },
        "managementGroups": {
          "type": "array",
          "description": "A list of Azure management groups associated with the resource, ordered from lowest level (closest to the subscription) to highest level.",
          "items": {
            "$ref": "AzureManagementGroup"
          }
        }
      }
    },
    "RunAssetDiscoveryRequest": {
      "id": "RunAssetDiscoveryRequest",
      "type": "object",
      "description": "Request message for running asset discovery for an organization.",
      "properties": {}
    },
    "GcpMetadata": {
      "type": "object",
      "description": "Google Cloud metadata associated with the resource. Only applicable if the finding's cloud provider is Google Cloud.",
      "properties": {
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        },
        "organization": {
          "description": "The name of the organization that the resource belongs to.",
          "type": "string"
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          }
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        }
      },
      "id": "GcpMetadata"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "description": "An EffectiveSecurityHealthAnalyticsCustomModule is the representation of a Security Health Analytics custom module at a specified level of the resource hierarchy: organization, folder, or project. If a custom module is inherited from a parent organization or folder, the value of the `enablementState` property in EffectiveSecurityHealthAnalyticsCustomModule is set to the value that is effective in the parent, instead of `INHERITED`. For example, if the module is enabled in a parent organization or folder, the effective enablement_state for the module in all child folders or projects is also `enabled`. EffectiveSecurityHealthAnalyticsCustomModule is read-only.",
      "properties": {
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig",
          "description": "Output only. The user-specified configuration for the module.",
          "readOnly": true
        },
        "enablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given level.",
            "The module is disabled at the given level."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The effective state of enablement for the module at the given level of the hierarchy."
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "description": "The cloud provider of the custom module.",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services.",
            "Microsoft Azure."
          ]
        },
        "name": {
          "description": "Output only. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\"",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The display name for the custom module. The name must be between 1 and 128 characters, start with a lowercase letter, and contain alphanumeric characters or underscores only.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of Cloud SQL instances or Cloud Spanner instances), or the database instance itself. Some database resources might not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types, such as Cloud SQL databases, are not yet supported by Cloud Asset Inventory. In these cases only the display name is provided.",
      "properties": {
        "version": {
          "description": "The version of the database, for example, POSTGRES_14. See [the complete list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).",
          "type": "string"
        },
        "grantees": {
          "description": "The target usernames, roles, or groups of an SQL privilege grant, which is not an IAM policy change.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Some database resources may not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. Cloud SQL databases). In these cases only the display name will be provided. The [full resource name](https://google.aip.dev/122#full-resource-names) of the database that the user connected to, if it is supported by Cloud Asset Inventory."
        },
        "userName": {
          "description": "The username used to connect to the database. The username might not be an IAM principal and does not have a set format.",
          "type": "string"
        },
        "query": {
          "description": "The SQL statement that is associated with the database access.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the database that the user connected to."
        }
      }
    },
    "GoogleCloudSecuritycenterV2Reference": {
      "type": "object",
      "description": "Additional Links",
      "properties": {
        "uri": {
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Source of the reference e.g. NVD"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Reference"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "type": "object",
      "description": "Indicates what signature matched this process.",
      "properties": {
        "signatureType": {
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "description": "Describes the type of resource associated with the signature.",
          "enumDescriptions": [
            "The default signature type.",
            "Used for signatures concerning processes.",
            "Used for signatures concerning disks."
          ],
          "type": "string"
        },
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature",
          "description": "Signature indicating that a binary family was matched."
        },
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature",
          "description": "Signature indicating that a YARA rule was matched."
        }
      },
      "id": "GoogleCloudSecuritycenterV2ProcessSignature"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "description": "Details about the externally exposed resource associated with the finding.",
      "properties": {
        "privatePort": {
          "description": "Port number associated with private IP address.",
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string",
          "description": "The resource which is running the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/zones/{zone}/instances/{instance}.”"
        },
        "backendService": {
          "type": "string",
          "description": "The full resource name of load balancer backend service, for example, \"//compute.googleapis.com/projects/{project-id}/global/backendServices/{name}\"."
        },
        "publicIpAddress": {
          "description": "Public IP address of the exposed endpoint.",
          "type": "string"
        },
        "privateIpAddress": {
          "description": "Private IP address of the exposed endpoint.",
          "type": "string"
        },
        "exposedService": {
          "description": "The name and version of the service, for example, \"Jupyter Notebook 6.14.0\".",
          "type": "string"
        },
        "publicPort": {
          "description": "Public port number of the exposed endpoint.",
          "type": "string"
        },
        "forwardingRule": {
          "type": "string",
          "description": "The full resource name of the forwarding rule, for example, \"//compute.googleapis.com/projects/{project-id}/global/forwardingRules/{forwarding-rule-name}\"."
        },
        "instanceGroup": {
          "type": "string",
          "description": "The full resource name of the instance group, for example, \"//compute.googleapis.com/projects/{project-id}/global/instanceGroups/{name}\"."
        },
        "loadBalancerFirewallPolicy": {
          "description": "The full resource name of the load balancer firewall policy, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\".",
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string",
          "description": "The full resource name of the firewall policy of the exposed service, for example, \"//compute.googleapis.com/projects/{project-id}/global/firewallPolicies/{policy-name}\"."
        },
        "networkEndpointGroup": {
          "type": "string",
          "description": "The full resource name of the network endpoint group, for example, \"//compute.googleapis.com/projects/{project-id}/global/networkEndpointGroups/{name}\"."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalExposure"
    },
    "BulkMuteFindingsRequest": {
      "id": "BulkMuteFindingsRequest",
      "description": "Request message for bulk findings update. Note: 1. If multiple bulk update requests match the same resource, the order in which they get executed is not defined. 2. Once a bulk operation is started, there is no way to stop it.",
      "properties": {
        "muteAnnotation": {
          "deprecated": true,
          "description": "This can be a mute configuration name or any identifier for mute/unmute of findings based on the filter.",
          "type": "string"
        },
        "muteState": {
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "MUTED",
            "UNDEFINED"
          ],
          "description": "Optional. All findings matching the given filter will have their mute state set to this value. The default value is `MUTED`. Setting this to `UNDEFINED` will clear the mute state on all matching findings.",
          "enumDescriptions": [
            "Unused.",
            "Matching findings will be muted (default).",
            "Matching findings will have their mute state cleared."
          ],
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Expression that identifies findings that should be updated. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Property": {
      "type": "object",
      "description": "An individual name-value pair that defines a custom source property.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the property for the custom output."
        },
        "valueExpression": {
          "description": "The CEL expression for the custom output. A resource property can be specified to return the value of the property or a text string enclosed in quotation marks.",
          "$ref": "Expr"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Property"
    },
    "Denied": {
      "description": "Denied IP rule.",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "description": "Optional. Optional list of denied IP rules.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Denied"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "description": "Consumer provided attributes for the application",
      "properties": {
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
          "description": "User-defined criticality information."
        },
        "operatorOwners": {
          "type": "array",
          "description": "Operator team that ensures runtime and operations.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "description": "User-defined environment information.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "type": "array",
          "description": "Developer team that owns development and coding."
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "type": "array",
          "description": "Business team that ensures user needs are met and value is delivered"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
    },
    "Allowed": {
      "id": "Allowed",
      "type": "object",
      "description": "Allowed IP rule.",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "description": "Optional. Optional list of allowed IP rules.",
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "type": "object",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name The following list shows some examples: + `organizations/{organization_id}/assets/{asset_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks`"
        },
        "canonicalName": {
          "description": "The canonical name of the marks. The following list shows some examples: + `organizations/{organization_id}/assets/{asset_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks` + `organizations/{organization_id}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks` + `folders/{folder_id}/assets/{asset_id}/securityMarks` + `folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks` + `folders/{folder_id}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks` + `projects/{project_number}/assets/{asset_id}/securityMarks` + `projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks` + `projects/{project_number}/sources/{source_id}/locations/{location}/findings/{finding_id}/securityMarks`",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityMarks"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "type": "object",
      "description": "Security context associated with an issue.",
      "properties": {
        "context": {
          "description": "The context of the security context.",
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        },
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
          "description": "The aggregated count of the security context."
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext"
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "id": "GoogleCloudSecuritycenterV2ExfilResource",
      "description": "Resource where data was exfiltrated from or exfiltrated to.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource's [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name)."
        },
        "components": {
          "description": "Subcomponents of the asset that was exfiltrated, like URIs used during exfiltration, table names, databases, and filenames. For example, multiple tables might have been exfiltrated from the same Cloud SQL instance, or multiple files might have been exfiltrated from the same Cloud Storage bucket.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "IpRule": {
      "type": "object",
      "description": "IP rule information.",
      "properties": {
        "protocol": {
          "description": "The IP protocol this rule applies to. This value can either be one of the following well known protocol strings (TCP, UDP, ICMP, ESP, AH, IPIP, SCTP) or a string representation of the integer value.",
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "description": "Optional. An optional list of ports to which this rule applies. This field is only applicable for the UDP or (S)TCP protocols. Each entry must be either an integer or a range including a min and max port number.",
          "items": {
            "$ref": "PortRange"
          }
        }
      },
      "id": "IpRule"
    },
    "GoogleCloudSecuritycenterV2StaticMute": {
      "description": "Information about the static mute state. A static mute state overrides any dynamic mute rules that apply to this finding. The static mute state can be set by a static mute rule or by muting the finding directly.",
      "properties": {
        "state": {
          "description": "The static mute state. If the value is `MUTED` or `UNMUTED`, then the finding's overall mute state will have the same value.",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "applyTime": {
          "description": "When the static mute was applied.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2StaticMute"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "type": "object",
      "description": "Fields related to Google Cloud Armor findings.",
      "properties": {
        "attack": {
          "description": "Information about DDoS attack volume and classification.",
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection",
          "description": "Information about potential Layer 7 DDoS attacks identified by [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/adaptive-protection-overview)."
        },
        "duration": {
          "type": "string",
          "description": "Duration of attack from the start until the current moment (updated every 5 minutes).",
          "format": "google-duration"
        },
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy",
          "description": "Information about the [Google Cloud Armor security policy](https://cloud.google.com/armor/docs/security-policy-overview) relevant to the finding."
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests",
          "description": "Information about incoming requests evaluated by [Google Cloud Armor security policies](https://cloud.google.com/armor/docs/security-policy-overview)."
        },
        "threatVector": {
          "type": "string",
          "description": "Distinguish between volumetric & protocol DDoS attack and application layer attacks. For example, \"L3_4\" for Layer 3 and Layer 4 DDoS attacks, or \"L_7\" for Layer 7 DDoS attacks."
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "description": "The AWS metadata of a resource associated with an issue.",
      "properties": {
        "account": {
          "description": "The AWS account of the resource associated with the issue.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "type": "object"
    },
    "PathNodeAssociatedFinding": {
      "description": "A finding that is associated with this node in the attack path.",
      "properties": {
        "findingCategory": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source."
        },
        "name": {
          "description": "Full resource name of the finding.",
          "type": "string"
        },
        "canonicalFinding": {
          "description": "Canonical name of the associated findings. Example: `organizations/123/sources/456/findings/789`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PathNodeAssociatedFinding"
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV2NotificationMessage",
      "type": "object",
      "description": "Cloud SCC's Notification",
      "properties": {
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        },
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        }
      }
    },
    "Resource": {
      "description": "Information related to the Google Cloud resource that is associated with this finding.",
      "properties": {
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication",
          "description": "The App Hub application this resource belongs to."
        },
        "adcApplicationTemplate": {
          "description": "The ADC template associated with the finding.",
          "$ref": "AdcApplicationTemplateRevision"
        },
        "projectName": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "type": {
          "type": "string",
          "description": "The full resource type of the resource."
        },
        "awsMetadata": {
          "$ref": "AwsMetadata",
          "description": "The AWS metadata associated with the finding."
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "folders": {
          "type": "array",
          "description": "Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "Folder"
          }
        },
        "azureMetadata": {
          "$ref": "AzureMetadata",
          "description": "The Azure metadata associated with the finding."
        },
        "resourcePath": {
          "description": "Provides the path to the resource within the resource hierarchy.",
          "$ref": "ResourcePath"
        },
        "adcApplication": {
          "$ref": "AdcApplication",
          "description": "The ADC application associated with the finding."
        },
        "adcSharedTemplate": {
          "description": "The ADC shared template associated with the finding.",
          "$ref": "AdcSharedTemplateRevision"
        },
        "resourcePathString": {
          "type": "string",
          "description": "A string representation of the resource path. For Google Cloud, it has the format of `org/{organization_id}/folder/{folder_id}/folder/{folder_id}/project/{project_id}` where there can be any number of folders. For AWS, it has the format of `org/{organization_id}/ou/{organizational_unit_id}/ou/{organizational_unit_id}/account/{account_id}` where there can be any number of organizational units. For Azure, it has the format of `mg/{management_group_id}/mg/{management_group_id}/subscription/{subscription_id}/rg/{resource_group_name}` where there can be any number of management groups."
        },
        "organization": {
          "type": "string",
          "description": "Indicates which organization / tenant the finding is for."
        },
        "location": {
          "type": "string",
          "description": "The region or location of the service (if applicable)."
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project ID that the resource belongs to."
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "parentName": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "service": {
          "type": "string",
          "description": "The service or resource provider associated with the resource."
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name of the resource."
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "description": "Indicates which cloud provider the finding is from.",
          "enumDescriptions": [
            "The cloud provider is unspecified.",
            "The cloud provider is Google Cloud.",
            "The cloud provider is Amazon Web Services.",
            "The cloud provider is Microsoft Azure."
          ]
        }
      },
      "type": "object",
      "id": "Resource"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder"
    },
    "Process": {
      "type": "object",
      "description": "Represents an operating system process.",
      "properties": {
        "args": {
          "type": "array",
          "description": "Process arguments as JSON encoded strings.",
          "items": {
            "type": "string"
          }
        },
        "parentPid": {
          "description": "The parent process ID.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The process name, as displayed in utilities like `top` and `ps`. This name can be accessed through `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`.",
          "type": "string"
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter, while `script` provides information about the script file provided to the interpreter.",
          "$ref": "File"
        },
        "envVariables": {
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "description": "Process environment variables.",
          "type": "array"
        },
        "libraries": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "File information for libraries loaded by the process."
        },
        "envVariablesTruncated": {
          "type": "boolean",
          "description": "True if `env_variables` is incomplete."
        },
        "argumentsTruncated": {
          "description": "True if `args` is incomplete.",
          "type": "boolean"
        },
        "userId": {
          "description": "The ID of the user that executed the process. E.g. If this is the root user this will always be 0.",
          "format": "int64",
          "type": "string"
        },
        "binary": {
          "description": "File information for the process executable.",
          "$ref": "File"
        },
        "pid": {
          "description": "The process ID.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Process"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo",
      "type": "object",
      "description": "Contact information of stakeholders.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the contacts."
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "type": "object",
      "description": "Details about a data flow event, in which either the data is moved to or is accessed from a non-compliant geo-location, as defined in the applicable data security policy.",
      "properties": {
        "eventId": {
          "description": "Unique identifier for data flow event.",
          "type": "string"
        },
        "operation": {
          "description": "The operation performed by the principal for the data flow event.",
          "enumDescriptions": [
            "The operation is unspecified.",
            "Represents a read operation.",
            "Represents a move operation.",
            "Represents a copy operation."
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "violatedLocation": {
          "type": "string",
          "description": "Non-compliant location of the principal or the data destination."
        },
        "eventTime": {
          "description": "Timestamp of data flow event.",
          "format": "google-datetime",
          "type": "string"
        },
        "principalEmail": {
          "type": "string",
          "description": "The email address of the principal that initiated the data flow event. The principal could be a user account, service account, Google group, or other."
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent"
    },
    "KernelRootkit": {
      "id": "KernelRootkit",
      "type": "object",
      "description": "Kernel mode rootkit signatures.",
      "properties": {
        "unexpectedKprobeHandler": {
          "description": "True if `kprobe` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean",
          "description": "True if unexpected modifications of kernel code memory are present."
        },
        "unexpectedKernelCodePages": {
          "description": "True if kernel code pages that are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean",
          "description": "True if `ftrace` points are present with callbacks pointing to regions that are not in the expected kernel or module code range."
        },
        "unexpectedInterruptHandler": {
          "description": "True if interrupt handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "description": "True if unexpected processes in the scheduler run queue are present. Such processes are in the run queue, but not in the process task list.",
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "description": "True if unexpected modifications of kernel read-only data memory are present.",
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "description": "True if system call handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "name": {
          "description": "Rootkit name, when available.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "properties": {
        "state": {
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "id": "GoogleCloudSecuritycenterV2Label",
      "description": "Represents a generic name-value label. A label has separate name and value fields to support filtering with the `contains()` function. For more information, see [Filtering on array-type fields](https://cloud.google.com/security-command-center/docs/how-to-api-list-findings#array-contains-filtering).",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value that corresponds to the label's name."
        },
        "name": {
          "type": "string",
          "description": "Name of the label."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "type": "object",
      "description": "IP rules associated with the finding.",
      "properties": {
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed",
          "description": "Tuple with allowed rules."
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "description": "Name of the network protocol service, such as FTP, that is exposed by the open port. Follows the naming convention available at: https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml.",
          "type": "array"
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "type": "string",
          "description": "The direction that the rule is applicable to, one of ingress or egress.",
          "enumDescriptions": [
            "Unspecified direction value.",
            "Ingress direction value.",
            "Egress direction value."
          ]
        },
        "destinationIpRanges": {
          "description": "If destination IP ranges are specified, the firewall rule applies only to traffic that has a destination IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "denied": {
          "description": "Tuple with denied rules.",
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "sourceIpRanges": {
          "type": "array",
          "description": "If source IP ranges are specified, the firewall rule applies only to traffic that has a source IP address in these ranges. These ranges must be expressed in CIDR format. Only supports IPv4.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "type": "object",
      "description": "Information about the ticket, if any, that is being used to track the resolution of the issue that is identified by this finding.",
      "properties": {
        "description": {
          "description": "The description of the ticket in the ticket system.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "The time when the ticket was last updated, as reported by the ticket system.",
          "format": "google-datetime"
        },
        "uri": {
          "description": "The link to the ticket in the ticket system.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier of the ticket in the ticket system."
        },
        "assignee": {
          "description": "The assignee of the ticket in the ticket system.",
          "type": "string"
        },
        "status": {
          "description": "The latest status of the ticket, as reported by the ticket system.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2TicketInfo"
    },
    "AzureManagementGroup": {
      "type": "object",
      "description": "Represents an Azure management group.",
      "properties": {
        "id": {
          "description": "The UUID of the Azure management group, for example, `20000000-0001-0000-0000-000000000000`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the Azure management group."
        }
      },
      "id": "AzureManagementGroup"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "type": "object",
      "description": "Information related to the Google Cloud resource.",
      "properties": {
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          }
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "projectDisplayName": {
          "description": "The project id that the resource belongs to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource"
    },
    "Indicator": {
      "description": "Represents what's commonly known as an _indicator of compromise_ (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
      "properties": {
        "ipAddresses": {
          "type": "array",
          "description": "The list of IP addresses that are associated with the finding.",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "description": "List of domains associated to the Finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "items": {
            "$ref": "ProcessSignature"
          },
          "description": "The list of matched signatures indicating that the given process is present in the environment.",
          "type": "array"
        },
        "uris": {
          "description": "The list of URIs associated to the Findings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Indicator"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "type": "object",
      "description": "Represents what's commonly known as an _indicator of compromise_ (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
      "properties": {
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "description": "The list of IP addresses that are associated with the finding.",
          "type": "array"
        },
        "domains": {
          "type": "array",
          "description": "List of domains associated to the Finding.",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "description": "The list of matched signatures indicating that the given process is present in the environment.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          }
        },
        "uris": {
          "items": {
            "type": "string"
          },
          "description": "The list of URIs associated to the Findings.",
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Indicator"
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "description": "Information about the [Google Cloud Armor security policy](https://cloud.google.com/armor/docs/security-policy-overview) relevant to the finding.",
      "properties": {
        "name": {
          "description": "The name of the Google Cloud Armor security policy, for example, \"my-security-policy\".",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of Google Cloud Armor security policy for example, 'backend security policy', 'edge security policy', 'network edge security policy', or 'always-on DDoS protection'."
        },
        "preview": {
          "description": "Whether or not the associated rule or policy is in preview mode.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy"
    },
    "MemoryHashSignature": {
      "type": "object",
      "description": "A signature corresponding to memory page hashes.",
      "properties": {
        "binaryFamily": {
          "type": "string",
          "description": "The binary family."
        },
        "detections": {
          "type": "array",
          "description": "The list of memory hash detections contributing to the binary family match.",
          "items": {
            "$ref": "Detection"
          }
        }
      },
      "id": "MemoryHashSignature"
    },
    "ToxicCombination": {
      "id": "ToxicCombination",
      "description": "Contains details about a group of security issues that, when the issues occur together, represent a greater risk than when the issues occur independently. A group of such issues is referred to as a toxic combination.",
      "properties": {
        "attackExposureScore": {
          "type": "number",
          "description": "The [Attack exposure score](https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_exposure_scores) of this toxic combination. The score is a measure of how much this toxic combination exposes one or more high-value resources to potential attack.",
          "format": "double"
        },
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of resource names of findings associated with this toxic combination. For example, `organizations/123/sources/456/findings/789`."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplication": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplication",
      "type": "object",
      "description": "The App Hub Application associated with the finding's resource.",
      "properties": {
        "name": {
          "description": "The resource name of an Application. Format: `projects/{host-project-id}/locations/{location}/applications/{application-id}`",
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
          "description": "Consumer provided attributes for the application"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision",
      "description": "Represents an ADC template associated with the finding.",
      "properties": {
        "name": {
          "description": "The resource name of an ADC Application Template Revision. Format: projects/{project}/locations/{location}/spaces/{space}/applicationTemplates/{application_template}/revisions/{revision}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Expr"
    },
    "AwsOrganizationalUnit": {
      "description": "An Organizational Unit (OU) is a container of AWS accounts within a root of an organization. Policies that are attached to an OU apply to all accounts contained in that OU and in any child OUs.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier (ID) associated with this OU. The regex pattern for an organizational unit ID string requires \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits. For example, \"ou-ab12-cd34ef56\"."
        },
        "name": {
          "description": "The friendly name of the OU.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AwsOrganizationalUnit"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      },
      "id": "Policy"
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "id": "GoogleCloudSecuritycenterV2IssueResource",
      "type": "object",
      "description": "A resource associated with the an issue.",
      "properties": {
        "adcApplication": {
          "description": "The ADC application associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "azureMetadata": {
          "description": "The Azure metadata of the resource associated with the issue. Only populated for Azure resources.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "description": "The cloud provider of the resource associated with the issue.",
          "enumDescriptions": [
            "Unspecified cloud provider.",
            "Google Cloud.",
            "Amazon Web Services.",
            "Microsoft Azure."
          ]
        },
        "displayName": {
          "description": "The resource-type specific display name of the resource associated with the issue.",
          "type": "string"
        },
        "googleCloudMetadata": {
          "description": "The Google Cloud metadata of the resource associated with the issue. Only populated for Google Cloud resources.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "name": {
          "description": "The full resource name of the resource associated with the issue.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the resource associated with the issue."
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
          "description": "The AWS metadata of the resource associated with the issue. Only populated for AWS resources."
        },
        "application": {
          "description": "The AppHub application associated with the resource, if any. Only populated for the primary resource.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "adcApplicationTemplate": {
          "description": "The ADC template associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "adcSharedTemplate": {
          "description": "The ADC shared template associated with the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        }
      }
    },
    "Source": {
      "id": "Source",
      "description": "Security Command Center finding source. A finding source is an entity or a mechanism that can produce a finding. A source is like a container of findings that come from the same scanner, logger, monitor, and other tools.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The source's display name. A source's display name must be unique amongst its siblings, for example, two sources with the same parent can't share the same display name. The display name must have a length between 1 and 64 characters (inclusive)."
        },
        "description": {
          "type": "string",
          "description": "The description of the source (max of 1024 characters). Example: \"Web Security Scanner is a web security scanner for common vulnerabilities in App Engine applications. It can automatically scan and detect four common vulnerabilities, including cross-site-scripting (XSS), Flash injection, mixed content (HTTP in HTTPS), and outdated or insecure libraries.\""
        },
        "name": {
          "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "canonicalName": {
          "description": "The canonical name of the finding source. It's either \"organizations/{organization_id}/sources/{source_id}\", \"folders/{folder_id}/sources/{source_id}\", or \"projects/{project_number}/sources/{source_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecretStatus": {
      "type": "object",
      "description": "The status of the secret.",
      "properties": {
        "lastUpdatedTime": {
          "description": "Time that the secret was found.",
          "format": "google-datetime",
          "type": "string"
        },
        "validity": {
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "type": "string",
          "description": "The validity of the secret.",
          "enumDescriptions": [
            "Default value; no validation was attempted.",
            "There is no mechanism to validate the secret.",
            "Validation is supported but the validation failed.",
            "The secret is confirmed to be invalid.",
            "The secret is confirmed to be valid."
          ]
        }
      },
      "id": "SecretStatus"
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "description": "Represents a particular IAM binding, which captures a member's role addition, removal, or state.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to \"members\". For example, \"roles/viewer\", \"roles/editor\", or \"roles/owner\"."
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "description": "The action that was performed on a Binding.",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "type": "string"
        },
        "member": {
          "type": "string",
          "description": "A single identity requesting access for a Cloud Platform resource, for example, \"foo@google.com\"."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "type": "object",
      "description": "An Organizational Unit (OU) is a container of AWS accounts within a root of an organization. Policies that are attached to an OU apply to all accounts contained in that OU and in any child OUs.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier (ID) associated with this OU. The regex pattern for an organizational unit ID string requires \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits. For example, \"ou-ab12-cd34ef56\"."
        },
        "name": {
          "type": "string",
          "description": "The friendly name of the OU."
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "description": "Finding related to an issue.",
      "properties": {
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve",
          "description": "The CVE of the finding."
        },
        "securityBulletin": {
          "description": "The security bulletin of the finding.",
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        },
        "name": {
          "description": "The name of the finding.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Control": {
      "description": "Compliance control associated with the finding.",
      "properties": {
        "displayName": {
          "description": "Display name of the control. For example, AU-02.",
          "type": "string"
        },
        "controlName": {
          "description": "Name of the Control",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Control"
    },
    "GoogleCloudSecuritycenterV2ComplianceDetails": {
      "type": "object",
      "description": "Compliance Details associated with the finding.",
      "properties": {
        "cloudControlDeploymentNames": {
          "type": "array",
          "description": "Cloud Control Deployments associated with the finding. For example, organizations/123/locations/global/cloudControlDeployments/deploymentIdentifier",
          "items": {
            "type": "string"
          }
        },
        "cloudControl": {
          "$ref": "GoogleCloudSecuritycenterV2CloudControl",
          "description": "CloudControl associated with the finding"
        },
        "frameworks": {
          "type": "array",
          "description": "Details of Frameworks associated with the finding",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Framework"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ComplianceDetails"
    },
    "Access": {
      "description": "Represents an access event.",
      "properties": {
        "serviceAccountKeyName": {
          "type": "string",
[...]
