{
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "version_module": true,
  "batchPath": "batch",
  "basePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "version": "v4",
  "title": "Google Sheets API",
  "ownerName": "Google",
  "revision": "20260401",
  "description": "Reads and writes Google Sheets.",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://sheets.googleapis.com/",
  "canonicalName": "Sheets",
  "documentationLink": "https://developers.google.com/workspace/sheets/",
  "resources": {
    "spreadsheets": {
      "methods": {
        "get": {
          "id": "sheets.spreadsheets.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "spreadsheetId": {
              "description": "The spreadsheet to request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "includeGridData": {
              "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request.",
              "location": "query",
              "type": "boolean"
            },
            "excludeTablesInBandedRanges": {
              "location": "query",
              "type": "boolean",
              "description": "True if tables should be excluded in the banded ranges. False if not set."
            },
            "ranges": {
              "description": "The ranges to retrieve from the spreadsheet.",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Spreadsheet"
          },
          "flatPath": "v4/spreadsheets/{spreadsheetId}",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "path": "v4/spreadsheets/{spreadsheetId}",
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges."
        },
        "create": {
          "parameters": {},
          "id": "sheets.spreadsheets.create",
          "request": {
            "$ref": "Spreadsheet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v4/spreadsheets",
          "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
          "response": {
            "$ref": "Spreadsheet"
          },
          "flatPath": "v4/spreadsheets"
        },
        "getByDataFilter": {
          "id": "sheets.spreadsheets.getByDataFilter",
          "request": {
            "$ref": "GetSpreadsheetByDataFilterRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "httpMethod": "POST",
          "parameters": {
            "spreadsheetId": {
              "description": "The spreadsheet to request.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Spreadsheet"
          },
          "flatPath": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "path": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data in one of two ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP. * Set the includeGridData parameter to `true`. If a field mask is set, the `includeGridData` parameter is ignored. For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want."
        },
        "batchUpdate": {
          "httpMethod": "POST",
          "request": {
            "$ref": "BatchUpdateSpreadsheetRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "id": "sheets.spreadsheets.batchUpdate",
          "parameters": {
            "spreadsheetId": {
              "location": "path",
              "type": "string",
              "description": "The spreadsheet to apply the updates to.",
              "required": true
            }
          },
          "flatPath": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "response": {
            "$ref": "BatchUpdateSpreadsheetResponse"
          },
          "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
          "parameterOrder": [
            "spreadsheetId"
          ]
        }
      },
      "resources": {
        "sheets": {
          "methods": {
            "copyTo": {
              "id": "sheets.spreadsheets.sheets.copyTo",
              "request": {
                "$ref": "CopySheetToAnotherSpreadsheetRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "POST",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet containing the sheet to copy.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "sheetId": {
                  "location": "path",
                  "type": "integer",
                  "format": "int32",
                  "description": "The ID of the sheet to copy.",
                  "required": true
                }
              },
              "response": {
                "$ref": "SheetProperties"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "parameterOrder": [
                "spreadsheetId",
                "sheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet."
            }
          }
        },
        "developerMetadata": {
          "methods": {
            "get": {
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "description": "Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata).",
              "parameterOrder": [
                "spreadsheetId",
                "metadataId"
              ],
              "response": {
                "$ref": "DeveloperMetadata"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "metadataId": {
                  "description": "The ID of the developer metadata to retrieve.",
                  "required": true,
                  "format": "int32",
                  "location": "path",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "GET",
              "id": "sheets.spreadsheets.developerMetadata.get"
            },
            "search": {
              "id": "sheets.spreadsheets.developerMetadata.search",
              "request": {
                "$ref": "SearchDeveloperMetadataRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "POST",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SearchDeveloperMetadataResponse"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "description": "Returns all developer metadata matching the specified DataFilter. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region."
            }
          }
        },
        "values": {
          "methods": {
            "batchGet": {
              "parameterOrder": [
                "spreadsheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "response": {
                "$ref": "BatchGetValuesResponse"
              },
              "parameters": {
                "valueRenderOption": {
                  "location": "query",
                  "type": "string",
                  "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ]
                },
                "majorDimension": {
                  "location": "query",
                  "type": "string",
                  "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ],
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ]
                },
                "dateTimeRenderOption": {
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ]
                },
                "spreadsheetId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "required": true
                },
                "ranges": {
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "sheets.spreadsheets.values.batchGet",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ]
            },
            "batchUpdate": {
              "id": "sheets.spreadsheets.values.batchUpdate",
              "request": {
                "$ref": "BatchUpdateValuesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "POST",
              "parameters": {
                "spreadsheetId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet to update.",
                  "required": true
                }
              },
              "response": {
                "$ref": "BatchUpdateValuesResponse"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges."
            },
            "batchClear": {
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchClearValuesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.values.batchClear",
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "response": {
                "$ref": "BatchClearValuesResponse"
              }
            },
            "get": {
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.",
              "response": {
                "$ref": "ValueRange"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "parameters": {
                "range": {
                  "location": "path",
                  "type": "string",
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
                  "required": true
                },
                "dateTimeRenderOption": {
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ]
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "valueRenderOption": {
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "majorDimension": {
                  "location": "query",
                  "type": "string",
                  "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ],
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ]
                }
              },
              "id": "sheets.spreadsheets.values.get",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "httpMethod": "GET"
            },
            "append": {
              "id": "sheets.spreadsheets.values.append",
              "request": {
                "$ref": "ValueRange"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "POST",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "responseValueRenderOption": {
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ]
                },
                "range": {
                  "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "valueInputOption": {
                  "description": "How the input data should be interpreted.",
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ]
                },
                "includeValuesInResponse": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values."
                },
                "responseDateTimeRenderOption": {
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "insertDataOption": {
                  "enum": [
                    "OVERWRITE",
                    "INSERT_ROWS"
                  ],
                  "description": "How the input data should be inserted.",
                  "enumDescriptions": [
                    "The new data overwrites existing data in the areas it is written. (Note: adding data to the end of the sheet will still insert new rows or columns so the data can be written.)",
                    "Rows are inserted for the new data."
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AppendValuesResponse"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](https://developers.google.com/workspace/sheets/api/guides/values#appending_values) and [sample code](https://developers.google.com/workspace/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to."
            },
            "batchUpdateByDataFilter": {
              "parameterOrder": [
                "spreadsheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "description": "Sets values in one or more ranges of a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.",
              "response": {
                "$ref": "BatchUpdateValuesByDataFilterResponse"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "sheets.spreadsheets.values.batchUpdateByDataFilter",
              "request": {
                "$ref": "BatchUpdateValuesByDataFilterRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "POST"
            },
            "update": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "ValueRange"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.values.update",
              "parameters": {
                "responseDateTimeRenderOption": {
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ]
                },
                "includeValuesInResponse": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns)."
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "responseValueRenderOption": {
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "valueInputOption": {
                  "location": "query",
                  "type": "string",
                  "description": "How the input data should be interpreted.",
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ],
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ]
                },
                "range": {
                  "location": "path",
                  "type": "string",
                  "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update.",
                  "required": true
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "response": {
                "$ref": "UpdateValuesResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ]
            },
            "batchClearByDataFilter": {
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "response": {
                "$ref": "BatchClearValuesByDataFilterResponse"
              },
              "parameterOrder": [
                "spreadsheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "description": "Clears one or more ranges of values from a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc.) are kept.",
              "id": "sheets.spreadsheets.values.batchClearByDataFilter",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchClearValuesByDataFilterRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "clear": {
              "httpMethod": "POST",
              "request": {
                "$ref": "ClearValuesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.values.clear",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "range": {
                  "location": "path",
                  "type": "string",
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear.",
                  "required": true
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "response": {
                "$ref": "ClearValuesResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ]
            },
            "batchGetByDataFilter": {
              "parameterOrder": [
                "spreadsheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "description": "Returns one or more ranges of values that match the specified data filters. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "response": {
                "$ref": "BatchGetValuesByDataFilterResponse"
              },
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "sheets.spreadsheets.values.batchGetByDataFilter",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchGetValuesByDataFilterRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        }
      }
    }
  },
  "schemas": {
    "DataSource": {
      "type": "object",
      "id": "DataSource",
      "description": "Information about an external data source in the spreadsheet.",
      "properties": {
        "dataSourceId": {
          "description": "The spreadsheet-scoped unique ID that identifies the data source. Example: 1080547365.",
          "type": "string"
        },
        "sheetId": {
          "description": "The ID of the Sheet connected with the data source. The field cannot be changed once set. When creating a data source, an associated DATA_SOURCE sheet is also created, if the field is not specified, the ID of the created sheet will be randomly generated.",
          "format": "int32",
          "type": "integer"
        },
        "spec": {
          "description": "The DataSourceSpec for the data source connected with this spreadsheet.",
          "$ref": "DataSourceSpec"
        },
        "calculatedColumns": {
          "description": "All calculated columns in the data source.",
          "type": "array",
          "items": {
            "$ref": "DataSourceColumn"
          }
        }
      }
    },
    "TextFormat": {
      "description": "The format of a run of text in a cell. Absent values indicate that the field isn't specified.",
      "properties": {
        "italic": {
          "description": "True if the text is italicized.",
          "type": "boolean"
        },
        "underline": {
          "description": "True if the text is underlined.",
          "type": "boolean"
        },
        "fontSize": {
          "description": "The size of the font.",
          "format": "int32",
          "type": "integer"
        },
        "link": {
          "description": "The link destination of the text, if any. Setting the link field in a TextFormatRun will clear the cell's existing links or a cell-level link set in the same request. When a link is set, the text foreground color will be set to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults.",
          "$ref": "Link"
        },
        "fontFamily": {
          "description": "The font family.",
          "type": "string"
        },
        "strikethrough": {
          "description": "True if the text has a strikethrough.",
          "type": "boolean"
        },
        "foregroundColor": {
          "$ref": "Color",
          "description": "The foreground color of the text. Deprecated: Use foreground_color_style.",
          "deprecated": true
        },
        "foregroundColorStyle": {
          "description": "The foreground color of the text. If foreground_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "bold": {
          "description": "True if the text is bold.",
          "type": "boolean"
        }
      },
      "id": "TextFormat",
      "type": "object"
    },
    "BooleanCondition": {
      "type": "object",
      "id": "BooleanCondition",
      "description": "A condition that can evaluate to true or false. BooleanConditions are used by conditional formatting, data validation, and the criteria in filters.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of condition.",
          "enumDescriptions": [
            "The default value, do not use.",
            "The cell's value must be greater than the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be greater than or equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be less than the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be less than or equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be not equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be between the two condition values. Supported by data validation, conditional formatting and filters. Requires exactly two ConditionValues.",
            "The cell's value must not be between the two condition values. Supported by data validation, conditional formatting and filters. Requires exactly two ConditionValues.",
            "The cell's value must contain the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must not contain the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must start with the condition's value. Supported by conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must end with the condition's value. Supported by conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be exactly the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be a valid email address. Supported by data validation. Requires no ConditionValues.",
            "The cell's value must be a valid URL. Supported by data validation. Requires no ConditionValues.",
            "The cell's value must be the same date as the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be before the date of the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be after the date of the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be on or before the date of the condition's value. Supported by data validation. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be on or after the date of the condition's value. Supported by data validation. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be between the dates of the two condition values. Supported by data validation. Requires exactly two ConditionValues.",
            "The cell's value must be outside the dates of the two condition values. Supported by data validation. Requires exactly two ConditionValues.",
            "The cell's value must be a date. Supported by data validation. Requires no ConditionValues.",
            "The cell's value must be listed in the grid in condition value's range. Supported by data validation. Requires a single ConditionValue, and the value must be a valid range in A1 notation.",
            "The cell's value must be in the list of condition values. Supported by data validation. Supports any number of condition values, one per item in the list. Formulas are not supported in the values.",
            "The cell's value must be empty. Supported by conditional formatting and filters. Requires no ConditionValues.",
            "The cell's value must not be empty. Supported by conditional formatting and filters. Requires no ConditionValues.",
            "The condition's formula must evaluate to true. Supported by data validation, conditional formatting and filters. Not supported by data source sheet filters. Requires a single ConditionValue.",
            "The cell's value must be TRUE/FALSE or in the list of condition values. Supported by data validation. Renders as a cell checkbox. Supports zero, one or two ConditionValues. No values indicates the cell must be TRUE or FALSE, where TRUE renders as checked and FALSE renders as unchecked. One value indicates the cell will render as checked when it contains that value and unchecked when it is blank. Two values indicate that the cell will render as checked when it contains the first value and unchecked when it contains the second value. For example, [\"Yes\",\"No\"] indicates that the cell will render a checked box when it has the value \"Yes\" and an unchecked box when it has the value \"No\".",
            "The cell's value must be exactly not the condition's value. Supported by filters on data source objects. Requires at least one ConditionValue.",
            "The cell's value must be exactly not the condition's value. Supported by filters on data source objects. Requires at least one ConditionValue.",
            "The cell's value must follow the pattern specified. Requires a single ConditionValue."
          ],
          "enum": [
            "CONDITION_TYPE_UNSPECIFIED",
            "NUMBER_GREATER",
            "NUMBER_GREATER_THAN_EQ",
            "NUMBER_LESS",
            "NUMBER_LESS_THAN_EQ",
            "NUMBER_EQ",
            "NUMBER_NOT_EQ",
            "NUMBER_BETWEEN",
            "NUMBER_NOT_BETWEEN",
            "TEXT_CONTAINS",
            "TEXT_NOT_CONTAINS",
            "TEXT_STARTS_WITH",
            "TEXT_ENDS_WITH",
            "TEXT_EQ",
            "TEXT_IS_EMAIL",
            "TEXT_IS_URL",
            "DATE_EQ",
            "DATE_BEFORE",
            "DATE_AFTER",
            "DATE_ON_OR_BEFORE",
            "DATE_ON_OR_AFTER",
            "DATE_BETWEEN",
            "DATE_NOT_BETWEEN",
            "DATE_IS_VALID",
            "ONE_OF_RANGE",
            "ONE_OF_LIST",
            "BLANK",
            "NOT_BLANK",
            "CUSTOM_FORMULA",
            "BOOLEAN",
            "TEXT_NOT_EQ",
            "DATE_NOT_EQ",
            "FILTER_EXPRESSION"
          ]
        },
        "values": {
          "description": "The values of the condition. The number of supported values depends on the condition type. Some support zero values, others one or two values, and ConditionType.ONE_OF_LIST supports an arbitrary number of values.",
          "type": "array",
          "items": {
            "$ref": "ConditionValue"
          }
        }
      }
    },
    "UpdateDataSourceRequest": {
      "description": "Updates a data source. After the data source is updated successfully, an execution is triggered to refresh the associated DATA_SOURCE sheet to read data from the updated data source. The request requires an additional `bigquery.readonly` OAuth scope if you are updating a BigQuery data source.",
      "properties": {
        "dataSource": {
          "description": "The data source to update.",
          "$ref": "DataSource"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `dataSource` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "UpdateDataSourceRequest",
      "type": "object"
    },
    "BatchUpdateValuesRequest": {
      "type": "object",
      "id": "BatchUpdateValuesRequest",
      "description": "The request for updating more than one range of values in a spreadsheet.",
      "properties": {
        "responseValueRenderOption": {
          "type": "string",
          "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
          "enumDescriptions": [
            "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
            "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
          ],
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ]
        },
        "valueInputOption": {
          "type": "string",
          "description": "How the input data should be interpreted.",
          "enumDescriptions": [
            "Default input value. This value must not be used.",
            "The values the user has entered will not be parsed and will be stored as-is.",
            "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
          ],
          "enum": [
            "INPUT_VALUE_OPTION_UNSPECIFIED",
            "RAW",
            "USER_ENTERED"
          ]
        },
        "includeValuesInResponse": {
          "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. The `updatedData` field within each of the BatchUpdateValuesResponse.responses contains the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
          "type": "boolean"
        },
        "responseDateTimeRenderOption": {
          "type": "string",
          "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
            "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
          ],
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ]
        },
        "data": {
          "description": "The new values to apply to the spreadsheet.",
          "type": "array",
          "items": {
            "$ref": "ValueRange"
          }
        }
      }
    },
    "AppendValuesResponse": {
      "description": "The response when updating a range of values in a spreadsheet.",
      "properties": {
        "tableRange": {
          "description": "The range (in A1 notation) of the table that values are being appended to (before the values were appended). Empty if no table was found.",
          "type": "string"
        },
        "updates": {
          "description": "Information about the updates that were applied.",
          "$ref": "UpdateValuesResponse"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AppendValuesResponse"
    },
    "RowData": {
      "type": "object",
      "id": "RowData",
      "description": "Data about each cell in a row.",
      "properties": {
        "values": {
          "description": "The values in the row, one per column.",
          "type": "array",
          "items": {
            "$ref": "CellData"
          }
        }
      }
    },
    "DeleteConditionalFormatRuleResponse": {
      "id": "DeleteConditionalFormatRuleResponse",
      "type": "object",
      "description": "The result of deleting a conditional format rule.",
      "properties": {
        "rule": {
          "description": "The rule that was deleted.",
          "$ref": "ConditionalFormatRule"
        }
      }
    },
    "UpdateValuesByDataFilterResponse": {
      "description": "The response when updating a range of values by a data filter in a spreadsheet.",
      "properties": {
        "dataFilter": {
          "description": "The data filter that selected the range that was updated.",
          "$ref": "DataFilter"
        },
        "updatedRows": {
          "type": "integer",
          "description": "The number of rows where at least one cell in the row was updated.",
          "format": "int32"
        },
        "updatedCells": {
          "format": "int32",
          "description": "The number of cells updated.",
          "type": "integer"
        },
        "updatedRange": {
          "description": "The range (in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell)) that updates were applied to.",
          "type": "string"
        },
        "updatedColumns": {
          "type": "integer",
          "description": "The number of columns where at least one cell in the column was updated.",
          "format": "int32"
        },
        "updatedData": {
          "description": "The values of the cells in the range matched by the dataFilter after all updates were applied. This is only included if the request's `includeValuesInResponse` field was `true`.",
          "$ref": "ValueRange"
        }
      },
      "id": "UpdateValuesByDataFilterResponse",
      "type": "object"
    },
    "FilterCriteria": {
      "description": "Criteria for showing or hiding rows in a filter or filter view.",
      "properties": {
        "visibleBackgroundColor": {
          "description": "The background fill color to filter by; only cells with this fill color are shown. Mutually exclusive with visible_foreground_color. Deprecated: Use visible_background_color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "visibleBackgroundColorStyle": {
          "description": "The background fill color to filter by; only cells with this fill color are shown. This field is mutually exclusive with visible_foreground_color, and must be set to an RGB-type color. If visible_background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "visibleForegroundColor": {
          "$ref": "Color",
          "description": "The foreground color to filter by; only cells with this foreground color are shown. Mutually exclusive with visible_background_color. Deprecated: Use visible_foreground_color_style.",
          "deprecated": true
        },
        "condition": {
          "description": "A condition that must be `true` for values to be shown. (This does not override hidden_values -- if a value is listed there, it will still be hidden.)",
          "$ref": "BooleanCondition"
        },
        "hiddenValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values that should be hidden."
        },
        "visibleForegroundColorStyle": {
          "description": "The foreground color to filter by; only cells with this foreground color are shown. This field is mutually exclusive with visible_background_color, and must be set to an RGB-type color. If visible_foreground_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        }
      },
      "type": "object",
      "id": "FilterCriteria"
    },
    "WaterfallChartSeries": {
      "type": "object",
      "id": "WaterfallChartSeries",
      "description": "A single series of data for a waterfall chart.",
      "properties": {
        "data": {
          "description": "The data being visualized in this series.",
          "$ref": "ChartData"
        },
        "dataLabel": {
          "description": "Information about the data labels for this series.",
          "$ref": "DataLabel"
        },
        "positiveColumnsStyle": {
          "description": "Styles for all columns in this series with positive values.",
          "$ref": "WaterfallChartColumnStyle"
        },
        "negativeColumnsStyle": {
          "description": "Styles for all columns in this series with negative values.",
          "$ref": "WaterfallChartColumnStyle"
        },
        "customSubtotals": {
          "description": "Custom subtotal columns appearing in this series. The order in which subtotals are defined is not significant. Only one subtotal may be defined for each data point.",
          "type": "array",
          "items": {
            "$ref": "WaterfallChartCustomSubtotal"
          }
        },
        "subtotalColumnsStyle": {
          "description": "Styles for all subtotal columns in this series.",
          "$ref": "WaterfallChartColumnStyle"
        },
        "hideTrailingSubtotal": {
          "description": "True to hide the subtotal column from the end of the series. By default, a subtotal column will appear at the end of each series. Setting this field to true will hide that subtotal column for this series.",
          "type": "boolean"
        }
      }
    },
    "DuplicateSheetResponse": {
      "description": "The result of duplicating a sheet.",
      "properties": {
        "properties": {
          "description": "The properties of the duplicate sheet.",
          "$ref": "SheetProperties"
        }
      },
      "id": "DuplicateSheetResponse",
      "type": "object"
    },
    "SlicerSpec": {
      "type": "object",
      "id": "SlicerSpec",
      "description": "The specifications of a slicer.",
      "properties": {
        "textFormat": {
          "description": "The text format of title in the slicer. The link field is not supported.",
          "$ref": "TextFormat"
        },
        "filterCriteria": {
          "description": "The filtering criteria of the slicer.",
          "$ref": "FilterCriteria"
        },
        "backgroundColor": {
          "description": "The background color of the slicer. Deprecated: Use background_color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "applyToPivotTables": {
          "description": "True if the filter should apply to pivot tables. If not set, default to `True`.",
          "type": "boolean"
        },
        "columnIndex": {
          "description": "The zero-based column index in the data table on which the filter is applied to.",
          "format": "int32",
          "type": "integer"
        },
        "backgroundColorStyle": {
          "description": "The background color of the slicer. If background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "title": {
          "description": "The title of the slicer.",
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "description": "The horizontal alignment of title in the slicer. If unspecified, defaults to `LEFT`",
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ],
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ]
        },
        "dataRange": {
          "description": "The data range of the slicer.",
          "$ref": "GridRange"
        }
      }
    },
    "TextRotation": {
      "description": "The rotation applied to text in a cell.",
      "properties": {
        "angle": {
          "type": "integer",
          "format": "int32",
          "description": "The angle between the standard orientation and the desired orientation. Measured in degrees. Valid values are between -90 and 90. Positive angles are angled upwards, negative are angled downwards. Note: For LTR text direction positive angles are in the counterclockwise direction, whereas for RTL they are in the clockwise direction"
        },
        "vertical": {
          "description": "If true, text reads top to bottom, but the orientation of individual characters is unchanged. For example: | V | | e | | r | | t | | i | | c | | a | | l |",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "TextRotation"
    },
    "BigQueryDataSourceSpec": {
      "id": "BigQueryDataSourceSpec",
      "type": "object",
      "description": "The specification of a BigQuery data source that's connected to a sheet.",
      "properties": {
        "projectId": {
          "description": "The ID of a BigQuery enabled Google Cloud project with a billing account attached. For any queries executed against the data source, the project is charged.",
          "type": "string"
        },
        "querySpec": {
          "description": "A BigQueryQuerySpec.",
          "$ref": "BigQueryQuerySpec"
        },
        "tableSpec": {
          "description": "A BigQueryTableSpec.",
          "$ref": "BigQueryTableSpec"
        }
      }
    },
    "BatchUpdateValuesByDataFilterResponse": {
      "id": "BatchUpdateValuesByDataFilterResponse",
      "type": "object",
      "description": "The response when updating a range of values in a spreadsheet.",
      "properties": {
        "totalUpdatedSheets": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of sheets where at least one cell in the sheet was updated."
        },
        "responses": {
          "description": "The response for each range updated.",
          "type": "array",
          "items": {
            "$ref": "UpdateValuesByDataFilterResponse"
          }
        },
        "totalUpdatedColumns": {
          "description": "The total number of columns where at least one cell in the column was updated.",
          "format": "int32",
          "type": "integer"
        },
        "totalUpdatedCells": {
          "type": "integer",
          "description": "The total number of cells updated.",
          "format": "int32"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "totalUpdatedRows": {
          "description": "The total number of rows where at least one cell in the row was updated.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DataSourceSpec": {
      "description": "This specifies the details of the data source. For example, for BigQuery, this specifies information about the BigQuery source.",
      "properties": {
        "looker": {
          "description": "A LookerDatasourceSpec.",
          "$ref": "LookerDataSourceSpec"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "DataSourceParameter"
          },
          "description": "The parameters of the data source, used when querying the data source."
        },
        "bigQuery": {
          "description": "A BigQueryDataSourceSpec.",
          "$ref": "BigQueryDataSourceSpec"
        }
      },
      "id": "DataSourceSpec",
      "type": "object"
    },
    "GridData": {
      "description": "Data in the grid, as well as metadata about the dimensions.",
      "properties": {
        "startRow": {
          "description": "The first row this GridData refers to, zero-based.",
          "format": "int32",
          "type": "integer"
        },
        "startColumn": {
          "type": "integer",
          "format": "int32",
          "description": "The first column this GridData refers to, zero-based."
        },
        "rowData": {
          "description": "The data in the grid, one entry per row, starting with the row in startRow. The values in RowData will correspond to columns starting at start_column.",
          "type": "array",
          "items": {
            "$ref": "RowData"
          }
        },
        "rowMetadata": {
          "type": "array",
          "items": {
            "$ref": "DimensionProperties"
          },
          "description": "Metadata about the requested rows in the grid, starting with the row in start_row."
        },
        "columnMetadata": {
          "type": "array",
          "items": {
            "$ref": "DimensionProperties"
          },
          "description": "Metadata about the requested columns in the grid, starting with the column in start_column."
        }
      },
      "type": "object",
      "id": "GridData"
    },
    "FindReplaceRequest": {
      "description": "Finds and replaces data in cells over a range, sheet, or all sheets.",
      "properties": {
        "range": {
          "description": "The range to find/replace over.",
          "$ref": "GridRange"
        },
        "replacement": {
          "description": "The value to use as the replacement.",
          "type": "string"
        },
        "allSheets": {
          "description": "True to find/replace over all sheets.",
          "type": "boolean"
        },
        "matchEntireCell": {
          "description": "True if the find value should match the entire cell.",
          "type": "boolean"
        },
        "sheetId": {
          "format": "int32",
          "description": "The sheet to find/replace over.",
          "type": "integer"
        },
        "searchByRegex": {
          "description": "True if the find value is a regex. The regular expression and replacement should follow Java regex rules at https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html. The replacement string is allowed to refer to capturing groups. For example, if one cell has the contents `\"Google Sheets\"` and another has `\"Google Docs\"`, then searching for `\"o.* (.*)\"` with a replacement of `\"$1 Rocks\"` would change the contents of the cells to `\"GSheets Rocks\"` and `\"GDocs Rocks\"` respectively.",
          "type": "boolean"
        },
        "matchCase": {
          "description": "True if the search is case sensitive.",
          "type": "boolean"
        },
        "includeFormulas": {
          "description": "True if the search should include cells with formulas. False to skip cells with formulas.",
          "type": "boolean"
        },
        "find": {
          "description": "The value to search.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FindReplaceRequest"
    },
    "CopyPasteRequest": {
      "type": "object",
      "id": "CopyPasteRequest",
      "description": "Copies data from the source to the destination.",
      "properties": {
        "pasteOrientation": {
          "description": "How that data should be oriented when pasting.",
          "enumDescriptions": [
            "Paste normally.",
            "Paste transposed, where all rows become columns and vice versa."
          ],
          "enum": [
            "NORMAL",
            "TRANSPOSE"
          ],
          "type": "string"
        },
        "destination": {
          "description": "The location to paste to. If the range covers a span that's a multiple of the source's height or width, then the data will be repeated to fill in the destination range. If the range is smaller than the source range, the entire source data will still be copied (beyond the end of the destination range).",
          "$ref": "GridRange"
        },
        "pasteType": {
          "type": "string",
          "description": "What kind of data to paste.",
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ]
        },
        "source": {
          "description": "The source range to copy.",
          "$ref": "GridRange"
        }
      }
    },
    "SetDataValidationRequest": {
      "description": "Sets a data validation rule to every cell in the range. To clear validation in a range, call this with no rule specified.",
      "properties": {
        "range": {
          "description": "The range the data validation rule should apply to.",
          "$ref": "GridRange"
        },
        "filteredRowsIncluded": {
          "description": "Optional. If true, the data validation rule will be applied to the filtered rows as well.",
          "type": "boolean"
        },
        "rule": {
          "description": "The data validation rule to set on each cell in the range, or empty to clear the data validation in the range.",
          "$ref": "DataValidationRule"
        }
      },
      "id": "SetDataValidationRequest",
      "type": "object"
    },
    "PasteDataRequest": {
      "id": "PasteDataRequest",
      "type": "object",
      "description": "Inserts data into the spreadsheet starting at the specified coordinate.",
      "properties": {
        "coordinate": {
          "description": "The coordinate at which the data should start being inserted.",
          "$ref": "GridCoordinate"
        },
        "data": {
          "description": "The data to insert.",
          "type": "string"
        },
        "html": {
          "description": "True if the data is HTML.",
          "type": "boolean"
        },
        "delimiter": {
          "description": "The delimiter in the data.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "How the data should be pasted.",
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ]
        }
      }
    },
    "BasicChartSeries": {
      "type": "object",
      "id": "BasicChartSeries",
      "description": "A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".",
      "properties": {
        "dataLabel": {
          "description": "Information about the data labels for this series.",
          "$ref": "DataLabel"
        },
        "type": {
          "description": "The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported.",
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ],
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "type": "string"
        },
        "color": {
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. Deprecated: Use color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "pointStyle": {
          "description": "The style for points associated with this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA, LINE, or SCATTER. If empty, a default point style is used.",
          "$ref": "PointStyle"
        },
        "colorStyle": {
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "styleOverrides": {
          "type": "array",
          "items": {
            "$ref": "BasicSeriesDataPointStyleOverride"
          },
          "description": "Style override settings for series data points."
        },
        "lineStyle": {
          "description": "The line style of this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA or LINE.",
          "$ref": "LineStyle"
        },
        "series": {
          "description": "The data being visualized in this chart series.",
          "$ref": "ChartData"
        },
        "targetAxis": {
          "type": "string",
          "description": "The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart. For most charts, this is the standard major axis. For bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart. For most charts, this is a minor axis. For bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart. For most charts, this is a minor axis. For bar charts, this is an unusual major axis."
          ],
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ]
        }
      }
    },
    "BaselineValueFormat": {
      "description": "Formatting options for baseline value.",
      "properties": {
        "comparisonType": {
          "description": "The comparison type of key value with baseline value.",
          "enumDescriptions": [
            "Default value, do not use.",
            "Use absolute difference between key and baseline value.",
            "Use percentage difference between key and baseline value."
          ],
          "enum": [
            "COMPARISON_TYPE_UNDEFINED",
            "ABSOLUTE_DIFFERENCE",
            "PERCENTAGE_DIFFERENCE"
          ],
          "type": "string"
        },
        "position": {
          "description": "Specifies the horizontal text positioning of baseline value. This field is optional. If not specified, default positioning is used.",
          "$ref": "TextPosition"
        },
        "positiveColorStyle": {
          "description": "Color to be used, in case baseline value represents a positive change for key value. This field is optional. If positive_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "negativeColor": {
          "description": "Color to be used, in case baseline value represents a negative change for key value. This field is optional. Deprecated: Use negative_color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "textFormat": {
          "description": "Text formatting options for baseline value. The link field is not supported.",
          "$ref": "TextFormat"
        },
        "description": {
          "description": "Description which is appended after the baseline value. This field is optional.",
          "type": "string"
        },
        "positiveColor": {
          "description": "Color to be used, in case baseline value represents a positive change for key value. This field is optional. Deprecated: Use positive_color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "negativeColorStyle": {
          "description": "Color to be used, in case baseline value represents a negative change for key value. This field is optional. If negative_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        }
      },
      "type": "object",
      "id": "BaselineValueFormat"
    },
    "AddConditionalFormatRuleRequest": {
      "description": "Adds a new conditional format rule at the given index. All subsequent rules' indexes are incremented.",
      "properties": {
        "rule": {
          "description": "The rule to add.",
          "$ref": "ConditionalFormatRule"
        },
        "index": {
          "description": "The zero-based index where the rule should be inserted.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AddConditionalFormatRuleRequest",
      "type": "object"
    },
    "AddDataSourceRequest": {
      "id": "AddDataSourceRequest",
      "type": "object",
      "description": "Adds a data source. After the data source is added successfully, an associated DATA_SOURCE sheet is created and an execution is triggered to refresh the sheet to read data from the data source. The request requires an additional `bigquery.readonly` OAuth scope if you are adding a BigQuery data source.",
      "properties": {
        "dataSource": {
          "description": "The data source to add.",
          "$ref": "DataSource"
        }
      }
    },
    "PivotGroupValueMetadata": {
      "type": "object",
      "id": "PivotGroupValueMetadata",
      "description": "Metadata about a value in a pivot grouping.",
      "properties": {
        "value": {
          "description": "The calculated value the metadata corresponds to. (Note that formulaValue is not valid, because the values will be calculated.)",
          "$ref": "ExtendedValue"
        },
        "collapsed": {
          "description": "True if the data corresponding to the value is collapsed.",
          "type": "boolean"
        }
      }
    },
    "KeyValueFormat": {
      "description": "Formatting options for key value.",
      "properties": {
        "textFormat": {
          "description": "Text formatting options for key value. The link field is not supported.",
          "$ref": "TextFormat"
        },
        "position": {
          "description": "Specifies the horizontal text positioning of key value. This field is optional. If not specified, default positioning is used.",
          "$ref": "TextPosition"
        }
      },
      "type": "object",
      "id": "KeyValueFormat"
    },
    "BatchUpdateSpreadsheetResponse": {
      "description": "The reply for batch updating a spreadsheet.",
      "properties": {
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "replies": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "Response"
          }
        },
        "updatedSpreadsheet": {
          "description": "The spreadsheet after updates were applied. This is only set if BatchUpdateSpreadsheetRequest.include_spreadsheet_in_response is `true`.",
          "$ref": "Spreadsheet"
        }
      },
      "id": "BatchUpdateSpreadsheetResponse",
      "type": "object"
    },
    "CandlestickDomain": {
      "id": "CandlestickDomain",
      "type": "object",
      "description": "The domain of a CandlestickChart.",
      "properties": {
        "data": {
          "description": "The data of the CandlestickDomain.",
          "$ref": "ChartData"
        },
        "reversed": {
          "description": "True to reverse the order of the domain values (horizontal axis).",
          "type": "boolean"
        }
      }
    },
    "DeleteDuplicatesRequest": {
      "type": "object",
      "id": "DeleteDuplicatesRequest",
      "description": "Removes rows within this range that contain values in the specified columns that are duplicates of values in any previous row. Rows with identical values but different letter cases, formatting, or formulas are considered to be duplicates. This request also removes duplicate rows hidden from view (for example, due to a filter). When removing duplicates, the first instance of each duplicate row scanning from the top downwards is kept in the resulting range. Content outside of the specified range isn't removed, and rows considered duplicates do not have to be adjacent to each other in the range.",
      "properties": {
        "range": {
          "description": "The range to remove duplicates rows from.",
          "$ref": "GridRange"
        },
        "comparisonColumns": {
          "type": "array",
          "items": {
            "$ref": "DimensionRange"
          },
          "description": "The columns in the range to analyze for duplicate values. If no columns are selected then all columns are analyzed for duplicates."
        }
      }
    },
    "FilterSpec": {
      "id": "FilterSpec",
      "type": "object",
      "description": "The filter criteria associated with a specific column.",
      "properties": {
        "columnIndex": {
          "description": "The zero-based column index.",
          "format": "int32",
          "type": "integer"
        },
        "dataSourceColumnReference": {
          "description": "Reference to a data source column.",
          "$ref": "DataSourceColumnReference"
        },
        "filterCriteria": {
          "description": "The criteria for the column.",
          "$ref": "FilterCriteria"
        }
      }
    },
    "MergeCellsRequest": {
      "description": "Merges all cells in the range.",
      "properties": {
        "range": {
          "description": "The range of cells to merge.",
          "$ref": "GridRange"
        },
        "mergeType": {
          "description": "How the cells should be merged.",
          "enumDescriptions": [
            "Create a single merge from the range",
            "Create a merge for each column in the range",
            "Create a merge for each row in the range"
          ],
          "enum": [
            "MERGE_ALL",
            "MERGE_COLUMNS",
            "MERGE_ROWS"
          ],
          "type": "string"
        }
      },
      "id": "MergeCellsRequest",
      "type": "object"
    },
    "CellData": {
      "description": "Data about a specific cell.",
      "properties": {
        "dataSourceFormula": {
          "description": "Output only. Information about a data source formula on the cell. The field is set if user_entered_value is a formula referencing some DATA_SOURCE sheet, e.g. `=SUM(DataSheet!Column)`.",
          "readOnly": true,
          "$ref": "DataSourceFormula"
        },
        "textFormatRuns": {
          "type": "array",
          "items": {
            "$ref": "TextFormatRun"
          },
          "description": "Runs of rich text applied to subsections of the cell. Runs are only valid on user entered strings, not formulas, bools, or numbers. Properties of a run start at a specific index in the text and continue until the next run. Runs will inherit the properties of the cell unless explicitly changed. When writing, the new runs will overwrite any prior runs. When writing a new user_entered_value, previous runs are erased."
        },
        "chipRuns": {
          "description": "Optional. Runs of chips applied to subsections of the cell. Properties of a run start at a specific index in the text and continue until the next run. When reading, all chipped and non-chipped runs are included. Non-chipped runs will have an empty Chip. When writing, only runs with chips are included. Runs containing chips are of length 1 and are represented in the user-entered text by an “@” placeholder symbol. New runs will overwrite any prior runs. Writing a new user_entered_value will erase previous runs.",
          "type": "array",
          "items": {
            "$ref": "ChipRun"
          }
        },
        "userEnteredFormat": {
          "description": "The format the user entered for the cell. When writing, the new format will be merged with the existing format.",
          "$ref": "CellFormat"
        },
        "effectiveValue": {
          "description": "The effective value of the cell. For cells with formulas, this is the calculated value. For cells with literals, this is the same as the user_entered_value. This field is read-only.",
          "$ref": "ExtendedValue"
        },
        "note": {
          "description": "Any note on the cell.",
          "type": "string"
        },
        "hyperlink": {
          "description": "A hyperlink this cell points to, if any. If the cell contains multiple hyperlinks, this field will be empty. This field is read-only. To set it, use a `=HYPERLINK` formula in the userEnteredValue.formulaValue field. A cell-level link can also be set from the userEnteredFormat.textFormat field. Alternatively, set a hyperlink in the textFormatRun.format.link field that spans the entire cell.",
          "type": "string"
        },
        "userEnteredValue": {
          "description": "The value the user entered in the cell. e.g., `1234`, `'Hello'`, or `=NOW()` Note: Dates, Times and DateTimes are represented as doubles in serial number format.",
          "$ref": "ExtendedValue"
        },
        "effectiveFormat": {
[...]
