{
  "schemas": {
    "SiteVerificationWebResourceListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      },
      "id": "SiteVerificationWebResourceListResponse"
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "id": "SiteVerificationWebResourceGettokenRequest",
      "type": "object",
      "properties": {
        "site": {
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "type": "object"
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "id": "SiteVerificationWebResourceGettokenResponse",
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        },
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        }
      }
    },
    "SiteVerificationWebResourceResource": {
      "id": "SiteVerificationWebResourceResource",
      "properties": {
        "site": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          },
          "description": "The address and type of a site that is verified or will be verified."
        },
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        },
        "owners": {
          "description": "The email addresses of all verified owners.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    }
  },
  "documentationLink": "https://developers.google.com/site-verification/",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "basePath": "/siteVerification/v1/",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "false",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "type": "string",
      "default": "json"
    }
  },
  "batchPath": "batch/siteVerification/v1",
  "servicePath": "siteVerification/v1/",
  "name": "siteVerification",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "protocol": "rest",
  "version": "v1",
  "ownerName": "Google",
  "rootUrl": "https://www.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "resources": {
    "webResource": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "description": "Attempt verification of a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.insert",
          "path": "webResource",
          "httpMethod": "POST",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "verificationMethod": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The method to use for verifying a site or domain."
            }
          },
          "parameterOrder": [
            "verificationMethod"
          ]
        },
        "update": {
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.update",
          "description": "Modify the list of owners for your website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "required": true,
              "description": "The id of a verified site or domain.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "get": {
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The id of a verified site or domain."
            }
          },
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.get",
          "description": "Get the most current data for a website or domain.",
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.patch",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "delete": {
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "DELETE",
          "description": "Relinquish ownership of a website or domain.",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "id": "siteVerification.webResource.delete"
        },
        "list": {
          "id": "siteVerification.webResource.list",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "description": "Get the list of your verified websites and domains.",
          "httpMethod": "GET",
          "path": "webResource",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "getToken": {
          "id": "siteVerification.webResource.getToken",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "description": "Get a verification token for placing on a website or domain.",
          "httpMethod": "POST",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "path": "token",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ]
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "description": "Verifies ownership of websites or domains with Google.",
  "title": "Google Site Verification API",
  "revision": "20191119",
  "id": "siteVerification:v1"
}