{
  "ownerDomain": "google.com",
  "version": "v1",
  "id": "siteVerification:v1",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "protocol": "rest",
  "revision": "20191119",
  "description": "Verifies ownership of websites or domains with Google.",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "false",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "siteVerification/v1/",
  "discoveryVersion": "v1",
  "schemas": {
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse"
    },
    "SiteVerificationWebResourceResource": {
      "id": "SiteVerificationWebResourceResource",
      "type": "object",
      "properties": {
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        },
        "site": {
          "type": "object",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          },
          "description": "The address and type of a site that is verified or will be verified."
        },
        "owners": {
          "description": "The email addresses of all verified owners.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "id": "SiteVerificationWebResourceGettokenRequest",
      "type": "object",
      "properties": {
        "site": {
          "type": "object",
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "description": "The site for which a verification token will be generated."
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      }
    },
    "SiteVerificationWebResourceListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "The list of sites that are owned by the authenticated user."
        }
      },
      "id": "SiteVerificationWebResourceListResponse"
    }
  },
  "batchPath": "batch/siteVerification/v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "resources": {
    "webResource": {
      "methods": {
        "list": {
          "description": "Get the list of your verified websites and domains.",
          "path": "webResource",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "id": "siteVerification.webResource.list"
        },
        "insert": {
          "id": "siteVerification.webResource.insert",
          "parameters": {
            "verificationMethod": {
              "description": "The method to use for verifying a site or domain.",
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Attempt verification of a website or domain.",
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "verificationMethod"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain.",
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.update"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Relinquish ownership of a website or domain.",
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.delete"
        },
        "get": {
          "path": "webResource/{id}",
          "description": "Get the most current data for a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.get"
        },
        "getToken": {
          "httpMethod": "POST",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "description": "Get a verification token for placing on a website or domain.",
          "path": "token",
          "id": "siteVerification.webResource.getToken",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.patch"
        }
      }
    }
  },
  "rootUrl": "https://www.googleapis.com/",
  "title": "Google Site Verification API",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/site-verification/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "basePath": "/siteVerification/v1/",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "name": "siteVerification"
}