{
  "id": "siteVerification:v1",
  "basePath": "/siteVerification/v1/",
  "version": "v1",
  "batchPath": "batch/siteVerification/v1",
  "title": "Google Site Verification API",
  "documentationLink": "https://developers.google.com/site-verification/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "rootUrl": "https://www.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "false"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "servicePath": "siteVerification/v1/",
  "revision": "20191119",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "protocol": "rest",
  "name": "siteVerification",
  "description": "Verifies ownership of websites or domains with Google.",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "resources": {
    "webResource": {
      "methods": {
        "getToken": {
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "httpMethod": "POST",
          "path": "token",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "description": "Get a verification token for placing on a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "id": "siteVerification.webResource.getToken"
        },
        "delete": {
          "id": "siteVerification.webResource.delete",
          "description": "Relinquish ownership of a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true
            }
          },
          "path": "webResource/{id}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ]
        },
        "list": {
          "id": "siteVerification.webResource.list",
          "description": "Get the list of your verified websites and domains.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "path": "webResource",
          "httpMethod": "GET"
        },
        "insert": {
          "parameterOrder": [
            "verificationMethod"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.insert",
          "httpMethod": "POST",
          "parameters": {
            "verificationMethod": {
              "required": true,
              "type": "string",
              "description": "The method to use for verifying a site or domain.",
              "location": "query"
            }
          },
          "description": "Attempt verification of a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true
            }
          },
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.patch"
        },
        "get": {
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.get",
          "description": "Get the most current data for a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true
            }
          },
          "path": "webResource/{id}"
        },
        "update": {
          "id": "siteVerification.webResource.update",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT"
        }
      }
    }
  },
  "schemas": {
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user.",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      },
      "type": "object"
    },
    "SiteVerificationWebResourceResource": {
      "type": "object",
      "id": "SiteVerificationWebResourceResource",
      "properties": {
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        },
        "owners": {
          "type": "array",
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          }
        },
        "site": {
          "properties": {
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          },
          "type": "object",
          "description": "The address and type of a site that is verified or will be verified."
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "id": "SiteVerificationWebResourceGettokenResponse",
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      },
      "type": "object"
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "site": {
          "type": "object",
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          }
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      }
    }
  }
}