{
  "kind": "discovery#restDescription",
  "rootUrl": "https://www.googleapis.com/",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "false"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    }
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "resources": {
    "webResource": {
      "methods": {
        "insert": {
          "id": "siteVerification.webResource.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "verificationMethod"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "parameters": {
            "verificationMethod": {
              "type": "string",
              "description": "The method to use for verifying a site or domain.",
              "location": "query",
              "required": true
            }
          },
          "path": "webResource",
          "description": "Attempt verification of a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "getToken": {
          "path": "token",
          "description": "Get a verification token for placing on a website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "id": "siteVerification.webResource.getToken",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ]
        },
        "list": {
          "id": "siteVerification.webResource.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource",
          "description": "Get the list of your verified websites and domains.",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          }
        },
        "delete": {
          "path": "webResource/{id}",
          "description": "Relinquish ownership of a website or domain.",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "id": "siteVerification.webResource.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "get": {
          "id": "siteVerification.webResource.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true
            }
          },
          "path": "webResource/{id}",
          "description": "Get the most current data for a website or domain.",
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "update": {
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.update",
          "httpMethod": "PUT",
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain.",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "patch": {
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true
            }
          },
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        }
      }
    }
  },
  "basePath": "/siteVerification/v1/",
  "protocol": "rest",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "name": "siteVerification",
  "discoveryVersion": "v1",
  "revision": "20191119",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "batchPath": "batch/siteVerification/v1",
  "documentationLink": "https://developers.google.com/site-verification/",
  "description": "Verifies ownership of websites or domains with Google.",
  "servicePath": "siteVerification/v1/",
  "id": "siteVerification:v1",
  "schemas": {
    "SiteVerificationWebResourceGettokenResponse": {
      "id": "SiteVerificationWebResourceGettokenResponse",
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      }
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "properties": {
        "site": {
          "type": "object",
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          }
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      },
      "id": "SiteVerificationWebResourceGettokenRequest",
      "type": "object"
    },
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user."
        }
      }
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        },
        "owners": {
          "type": "array",
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          }
        },
        "site": {
          "type": "object",
          "description": "The address and type of a site that is verified or will be verified.",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            }
          }
        }
      },
      "id": "SiteVerificationWebResourceResource",
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "title": "Google Site Verification API",
  "version": "v1",
  "ownerName": "Google"
}