{
  "name": "sqladmin",
  "version": "v1",
  "description": "API for Cloud SQL database instance management",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "resources": {
    "Backups": {
      "methods": {
        "DeleteBackup": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes the backup.",
          "id": "sql.Backups.DeleteBackup",
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/backups/{backupsId}",
          "parameters": {
            "name": {
              "description": "Required. The name of the backup to delete. Format: projects/{project}/backups/{backup}",
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "UpdateBackup": {
          "flatPath": "v1/projects/{projectsId}/backups/{backupsId}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "required": true
            },
            "updateMask": {
              "description": "The list of fields that you can update. You can update only the description and retention period of the final backup.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Updates the retention period and description of the backup. You can use this API to update final backups only.",
          "id": "sql.Backups.UpdateBackup",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Backup"
          }
        },
        "GetBackup": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a backup.",
          "id": "sql.Backups.GetBackup",
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/backups/{backupsId}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the backup to retrieve. Format: projects/{project}/backups/{backup}",
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Backup"
          }
        },
        "ListBackups": {
          "flatPath": "v1/projects/{projectsId}/backups",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListBackups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBackups` must match the call that provided the page token."
            },
            "parent": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The parent that owns this collection of backups. Format: projects/{project}",
              "pattern": "^projects/[^/]+$"
            },
            "pageSize": {
              "description": "The maximum number of backups to return per response. The service might return fewer backups than this value. If a value for this parameter isn't specified, then, at most, 500 backups are returned. The maximum value is 2,000. Any values that you set, which are greater than 2,000, are changed to 2,000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Multiple filter queries are separated by spaces. For example, 'instance:abc AND type:FINAL, 'location:us', 'backupInterval.startTime>=1950-01-01T01:01:25.771Z'. You can filter by type, instance, backupInterval.startTime (creation time), or location."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all backups associated with the project.",
          "id": "sql.Backups.ListBackups",
          "path": "v1/{+parent}/backups",
          "response": {
            "$ref": "ListBackupsResponse"
          }
        },
        "CreateBackup": {
          "flatPath": "v1/projects/{projectsId}/backups",
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "description": "Required. The parent resource where this backup is created. Format: projects/{project}",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "sql.Backups.CreateBackup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a backup for a Cloud SQL instance. This API can be used only to create on-demand backups.",
          "path": "v1/{+parent}/backups",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Backup"
          }
        }
      }
    },
    "backupRuns": {
      "methods": {
        "list": {
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of backup runs per response."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "id": "sql.backupRuns.list"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "id": {
              "required": true,
              "format": "int64",
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/backupRuns/list) method.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "id": "sql.backupRuns.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes the backup taken by a backup run.",
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a backup run.",
          "id": "sql.backupRuns.get",
          "parameters": {
            "id": {
              "description": "The ID of this backup run.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "response": {
            "$ref": "BackupRun"
          }
        },
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "BackupRun"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a new backup run on demand."
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "id": "sql.operations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "path": "v1/projects/{project}/operations",
          "flatPath": "v1/projects/{project}/operations",
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of operations per response.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OperationsListResponse"
          }
        },
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/operations/{operation}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "operation": {
              "description": "Required. Instance operation ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "sql.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "path": "v1/projects/{project}/operations/{operation}"
        },
        "cancel": {
          "response": {
            "$ref": "Empty"
          },
          "id": "sql.operations.cancel",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Cancels an instance operation that has been performed on an instance.",
          "path": "v1/projects/{project}/operations/{operation}/cancel",
          "flatPath": "v1/projects/{project}/operations/{operation}/cancel",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "operation": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Instance operation ID."
            }
          }
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "response": {
            "$ref": "TiersListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project for which to list tiers.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{project}/tiers",
          "path": "v1/projects/{project}/tiers",
          "id": "sql.tiers.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For more information, see https://cloud.google.com/sql/pricing."
        }
      }
    },
    "sslCerts": {
      "methods": {
        "createEphemeral": {
          "response": {
            "$ref": "SslCert"
          },
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the Cloud SQL project."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "id": "sql.sslCerts.createEphemeral",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "path": "v1/projects/{project}/instances/{instance}/createEphemeral"
        },
        "get": {
          "id": "sql.sslCerts.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "sha1Fingerprint": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Sha1 FingerPrint."
            }
          },
          "response": {
            "$ref": "SslCert"
          }
        },
        "insert": {
          "id": "sql.sslCerts.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "response": {
            "$ref": "SslCertsInsertResponse"
          }
        },
        "list": {
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "id": "sql.sslCerts.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all of the current SSL certificates for the instance.",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "response": {
            "$ref": "SslCertsListResponse"
          }
        },
        "delete": {
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "sha1Fingerprint": {
              "description": "Sha1 FingerPrint.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "sql.sslCerts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "connect": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "id": "sql.connect.get",
          "path": "v1/projects/{project}/instances/{instance}/connectSettings",
          "flatPath": "v1/projects/{project}/instances/{instance}/connectSettings",
          "parameters": {
            "readTime": {
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "ConnectSettings"
          }
        },
        "generateEphemeralCert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "path": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "id": "sql.connect.generateEphemeral",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          }
        }
      }
    },
    "users": {
      "methods": {
        "list": {
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists users in the specified Cloud SQL instance.",
          "id": "sql.users.list",
          "response": {
            "$ref": "UsersListResponse"
          }
        },
        "update": {
          "path": "v1/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Updates an existing user in a Cloud SQL instance.",
          "id": "sql.users.update",
          "parameters": {
            "databaseRoles": {
              "description": "Optional. List of database roles to grant to the user. body.database_roles will be ignored for update request.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "revokeExistingRoles": {
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `database_roles` field. If `false` or unset, the database roles specified in `database_roles` are added to the user's existing roles.",
              "type": "boolean",
              "location": "query"
            },
            "host": {
              "location": "query",
              "type": "string",
              "description": "Optional. Host of the user in the instance."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "host": {
              "type": "string",
              "location": "query",
              "description": "Host of the user in the instance."
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes a user from a Cloud SQL instance.",
          "id": "sql.users.delete"
        },
        "get": {
          "id": "sql.users.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a user.",
          "path": "v1/projects/{project}/instances/{instance}/users/{name}",
          "flatPath": "v1/projects/{project}/instances/{instance}/users/{name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "parameters": {
            "host": {
              "type": "string",
              "location": "query",
              "description": "Host of a user of the instance."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "name": {
              "description": "User of the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "User"
          }
        },
        "insert": {
          "path": "v1/projects/{project}/instances/{instance}/users",
          "id": "sql.users.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a new user in a Cloud SQL instance.",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "instances": {
      "methods": {
        "releaseSsrsLease": {
          "id": "sql.instances.releaseSsrsLease",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
          "path": "v1/projects/{project}/instances/{instance}/releaseSsrsLease",
          "flatPath": "v1/projects/{project}/instances/{instance}/releaseSsrsLease",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The project ID that contains the instance."
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The Cloud SQL instance ID. This doesn't include the project ID. The instance ID contains lowercase letters, numbers, and hyphens, and it must start with a letter. This ID can have a maximum length of 98 characters."
            }
          },
          "response": {
            "$ref": "SqlInstancesReleaseSsrsLeaseResponse"
          }
        },
        "demote": {
          "request": {
            "$ref": "InstancesDemoteRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.demote",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Demotes an existing standalone instance to be a Cloud SQL read replica for an external database server.",
          "path": "v1/projects/{project}/instances/{instance}/demote",
          "flatPath": "v1/projects/{project}/instances/{instance}/demote",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Required. ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Cloud SQL instance name."
            }
          }
        },
        "RotateServerCertificate": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesRotateServerCertificateRequest"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCertificate",
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Rotates the server certificate version to one previously added with the addServerCertificate method. For instances not using Certificate Authority Service (CAS) server CA, use RotateServerCa instead.",
          "id": "sql.instances.RotateServerCertificate"
        },
        "switchover": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/switchover",
          "id": "sql.instances.switchover",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Switches over from the primary instance to the DR replica instance.",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "dbTimeout": {
              "location": "query",
              "format": "google-duration",
              "type": "string",
              "description": "Optional. (MySQL and PostgreSQL only) Cloud SQL instance operations timeout, which is a sum of all database operations. Default value is 10 minutes and can be modified to a maximum value of 24 hours."
            },
            "project": {
              "description": "ID of the project that contains the replica.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/switchover"
        },
        "update": {
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.update",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}"
        },
        "addServerCertificate": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCertificate",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Add a new trusted server certificate version for the specified instance using Certificate Authority Service (CAS) server CA. Required to prepare for a certificate rotation. If a server certificate version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one certificate version waiting to be rotated in. For instances not using CAS server CA, use AddServerCa instead.",
          "id": "sql.instances.addServerCertificate",
          "path": "v1/projects/{project}/instances/{instance}/addServerCertificate"
        },
        "RotateEntraIdCertificate": {
          "request": {
            "$ref": "InstancesRotateEntraIdCertificateRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "id": "sql.instances.RotateEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Rotates the server certificate version to one previously added with the addEntraIdCertificate method.",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateEntraIdCertificate"
        },
        "preCheckMajorVersionUpgrade": {
          "flatPath": "v1/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "sql.instances.preCheckMajorVersionUpgrade",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Execute MVU Pre-checks",
          "path": "v1/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesPreCheckMajorVersionUpgradeRequest"
          }
        },
        "promoteReplica": {
          "path": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "id": "sql.instances.promoteReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Promotes the read replica instance to be an independent Cloud SQL primary instance. Using this operation might cause your instance to restart.",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL read replica instance name."
            },
            "failover": {
              "location": "query",
              "type": "boolean",
              "description": "Set to true to invoke a replica failover to the DR replica. As part of replica failover, the promote operation attempts to add the original primary instance as a replica of the promoted DR replica when the original primary instance comes back online. If set to false or not specified, then the original primary instance becomes an independent Cloud SQL primary instance."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "response": {
            "$ref": "Operation"
          }
        },
        "addEntraIdCertificate": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Adds a new Entra ID certificate for the specified instance. If an Entra ID certificate was previously added but never used in a certificate rotation, this operation replaces that version.",
          "id": "sql.instances.addEntraIdCertificate",
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate"
        },
        "demoteMaster": {
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.demoteMaster",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "path": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "flatPath": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance name."
            }
          }
        },
        "executeSql": {
          "request": {
            "$ref": "ExecuteSqlPayload"
          },
          "response": {
            "$ref": "SqlInstancesExecuteSqlResponse"
          },
          "path": "v1/projects/{project}/instances/{instance}/executeSql",
          "id": "sql.instances.executeSql",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Execute SQL statements.",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Required. Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/executeSql"
        },
        "stopReplica": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL read replica instance name."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/stopReplica",
          "path": "v1/projects/{project}/instances/{instance}/stopReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Stops the replication in the read replica instance.",
          "id": "sql.instances.stopReplica"
        },
        "ListEntraIdCertificates": {
          "response": {
            "$ref": "InstancesListEntraIdCertificatesResponse"
          },
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "path": "v1/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all versions of EntraID certificates for the specified instance. There can be up to three sets of certificates listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out.",
          "id": "sql.instances.ListEntraIdCertificates"
        },
        "acquireSsrsLease": {
          "request": {
            "$ref": "InstancesAcquireSsrsLeaseRequest"
          },
          "response": {
            "$ref": "SqlInstancesAcquireSsrsLeaseResponse"
          },
          "path": "v1/projects/{project}/instances/{instance}/acquireSsrsLease",
          "id": "sql.instances.acquireSsrsLease",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance (Example: project-id)."
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id)."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/acquireSsrsLease"
        },
        "failover": {
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.failover",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "path": "v1/projects/{project}/instances/{instance}/failover",
          "flatPath": "v1/projects/{project}/instances/{instance}/failover",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "restart": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance to be restarted."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/restart",
          "path": "v1/projects/{project}/instances/{instance}/restart",
          "id": "sql.instances.restart",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Restarts a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          }
        },
        "truncateLog": {
          "id": "sql.instances.truncateLog",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "path": "v1/projects/{project}/instances/{instance}/truncateLog",
          "flatPath": "v1/projects/{project}/instances/{instance}/truncateLog",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the Cloud SQL project."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "flatPath": "v1/projects/{project}/instances",
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "sql.instances.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists instances under a given project.",
          "path": "v1/projects/{project}/instances",
          "response": {
            "$ref": "InstancesListResponse"
          }
        },
        "export": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "id": "sql.instances.export",
          "path": "v1/projects/{project}/instances/{instance}/export",
          "flatPath": "v1/projects/{project}/instances/{instance}/export",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance to be exported."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "ListServerCertificates": {
          "response": {
            "$ref": "InstancesListServerCertificatesResponse"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCertificates",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all versions of server certificates and certificate authorities (CAs) for the specified instance. There can be up to three sets of certs listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out. For instances not using Certificate Authority Service (CAS) server CA, use ListServerCas instead.",
          "id": "sql.instances.ListServerCertificates",
          "path": "v1/projects/{project}/instances/{instance}/listServerCertificates"
        },
        "pointInTimeRestore": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Point in time restore for an instance managed by Google Cloud Backup and Disaster Recovery.",
          "id": "sql.instances.pointInTimeRestore",
          "path": "v1/{+parent}:pointInTimeRestore",
          "flatPath": "v1/projects/{projectsId}:pointInTimeRestore",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The parent resource where you created this instance. Format: projects/{project}",
              "pattern": "^projects/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "PointInTimeRestoreContext"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "path": "v1/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "id": "sql.instances.get",
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Database instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "DatabaseInstance"
          }
        },
        "insert": {
          "flatPath": "v1/projects/{project}/instances",
          "httpMethod": "POST",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong."
            }
          },
          "id": "sql.instances.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a new Cloud SQL instance.",
          "path": "v1/projects/{project}/instances",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "DatabaseInstance"
          }
        },
        "delete": {
          "path": "v1/projects/{project}/instances/{instance}",
          "id": "sql.instances.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes a Cloud SQL instance.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "finalBackupTtlDays": {
              "description": "Optional. Retention period of the final backup.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "enableFinalBackup": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to opt-in for final backup. By default, it is turned off."
            },
            "finalBackupDescription": {
              "type": "string",
              "location": "query",
              "description": "Optional. The description of the final backup."
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "finalBackupExpiryTime": {
              "description": "Optional. Final Backup expiration time. Timestamp in UTC of when this resource is considered expired.",
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance to be deleted."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          }
        },
        "listServerCas": {
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "path": "v1/projects/{project}/instances/{instance}/listServerCas",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "id": "sql.instances.listServerCas",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCas"
        },
        "startReplica": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/startReplica",
          "parameters": {
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Starts the replication in the read replica instance.",
          "id": "sql.instances.startReplica",
          "path": "v1/projects/{project}/instances/{instance}/startReplica"
        },
        "resetSslConfig": {
          "path": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "id": "sql.instances.resetSslConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "mode": {
              "description": "Optional. Reset SSL mode to use.",
              "enum": [
                "RESET_SSL_MODE_UNSPECIFIED",
                "ALL",
                "SYNC_FROM_PRIMARY"
              ],
              "enumDescriptions": [
                "Reset SSL mode is not specified.",
                "Refresh all TLS configs. This is the default behaviour.",
                "Refreshes the replication-related TLS configuration settings provided by the primary instance. Not applicable to on-premises replication instances."
              ],
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "response": {
            "$ref": "Operation"
          }
        },
        "rotateServerCa": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method. For instances that have enabled Certificate Authority Service (CAS) based server CA, use RotateServerCertificate to rotate the server certificate.",
          "id": "sql.instances.rotateServerCa",
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "reencrypt": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesReencryptRequest"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/reencrypt",
          "path": "v1/projects/{project}/instances/{instance}/reencrypt",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Reencrypt CMEK instance with latest key version.",
          "id": "sql.instances.reencrypt"
        },
        "import": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/import",
          "path": "v1/projects/{project}/instances/{instance}/import",
          "id": "sql.instances.import",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage."
        },
        "clone": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Required. Project ID of the source as well as the clone Cloud SQL instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Required. The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/clone",
          "path": "v1/projects/{project}/instances/{instance}/clone",
          "id": "sql.instances.clone",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesCloneRequest"
          }
        },
        "restoreBackup": {
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "id": "sql.instances.restoreBackup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/restoreBackup"
        },
        "addServerCa": {
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCa",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Adds a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in. For instances that have enabled Certificate Authority Service (CAS) based server CA, use AddServerCertificate to add a new server certificate.",
          "id": "sql.instances.addServerCa",
          "path": "v1/projects/{project}/instances/{instance}/addServerCa",
          "response": {
            "$ref": "Operation"
          }
        },
        "patch": {
          "path": "v1/projects/{project}/instances/{instance}",
          "id": "sql.instances.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "performDiskShrink": {
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "PerformDiskShrinkContext"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "project": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Project ID of the project that contains the instance."
                },
                "instance": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                }
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "path": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "id": "sql.projects.instances.performDiskShrink",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Perform Disk Shrink on primary instance."
            },
            "resetReplicaSize": {
              "request": {
                "$ref": "SqlInstancesResetReplicaSizeRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "sql.projects.instances.resetReplicaSize",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Reset Replica Size to primary instance disk size.",
              "path": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "flatPath": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "httpMethod": "POST",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the project that contains the read replica."
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Cloud SQL read replica instance name."
                }
              }
            },
            "verifyExternalSyncSettings": {
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Verify External primary instance external sync settings.",
              "path": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "flatPath": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "httpMethod": "POST",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "startExternalSync": {
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "sql.projects.instances.startExternalSync",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Start External primary instance migration.",
              "path": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "flatPath": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "httpMethod": "POST",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "getDiskShrinkConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Get Disk Shrink Config for a given instance.",
              "id": "sql.projects.instances.getDiskShrinkConfig",
              "path": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "flatPath": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "parameters": {
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "response": {
                "$ref": "SqlInstancesGetDiskShrinkConfigResponse"
              }
            },
            "getLatestRecoveryTime": {
              "response": {
                "$ref": "SqlInstancesGetLatestRecoveryTimeResponse"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "parameters": {
                "sourceInstanceDeletionTime": {
                  "type": "string",
                  "location": "query",
                  "format": "google-datetime",
                  "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp."
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "instance": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Get Latest Recovery Time for a given instance.",
              "id": "sql.projects.instances.getLatestRecoveryTime",
              "path": "v1/projects/{project}/instances/{instance}/getLatestRecoveryTime"
            },
            "rescheduleMaintenance": {
              "id": "sql.projects.instances.rescheduleMaintenance",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Reschedules the maintenance on the given instance.",
              "path": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "flatPath": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "httpMethod": "POST",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the project that contains the instance."
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    },
    "databases": {
      "methods": {
        "list": {
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists databases in the specified Cloud SQL instance.",
          "id": "sql.databases.list",
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "update": {
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "id": "sql.databases.update",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes a database from a Cloud SQL instance.",
          "id": "sql.databases.delete",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "database": {
              "description": "Name of the database to be deleted in the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "patch": {
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "database": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the database to be updated in the instance."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}"
        },
        "get": {
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
[...]
