{
  "protocol": "rest",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "documentationLink": "https://cloud.google.com/sql/docs",
  "id": "sqladmin:v1",
  "discoveryVersion": "v1",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "BackupRunsListResponse": {
      "type": "object",
      "id": "BackupRunsListResponse",
      "description": "Backup run list results.",
      "properties": {
        "kind": {
          "description": "This is always `sql#backupRunsList`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "BackupRun"
          },
          "description": "A list of backup runs in reverse chronological order of the enqueued time."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        }
      }
    },
    "GenerateEphemeralCertResponse": {
      "id": "GenerateEphemeralCertResponse",
      "description": "Ephemeral certificate creation request.",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      },
      "type": "object"
    },
    "InsightsConfig": {
      "type": "object",
      "id": "InsightsConfig",
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration.",
      "properties": {
        "queryInsightsEnabled": {
          "type": "boolean",
          "description": "Whether Query Insights feature is enabled."
        },
        "recordClientAddress": {
          "type": "boolean",
          "description": "Whether Query Insights will record client address when enabled."
        },
        "enhancedQueryInsightsEnabled": {
          "type": "boolean",
          "description": "Optional. Whether enhanced query insights feature is enabled."
        },
        "queryStringLength": {
          "type": "integer",
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query lengths greater than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database.",
          "format": "int32"
        },
        "recordApplicationTags": {
          "description": "Whether Query Insights will record application tags from query when enabled.",
          "type": "boolean"
        },
        "queryPlansPerMinute": {
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SslCertsCreateEphemeralRequest": {
      "id": "SslCertsCreateEphemeralRequest",
      "description": "SslCerts create ephemeral certificate request.",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "access_token": {
          "type": "string",
          "description": "Access token to include in the signed certificate."
        }
      },
      "type": "object"
    },
    "DemoteMasterConfiguration": {
      "id": "DemoteMasterConfiguration",
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterConfiguration`."
        },
        "mysqlReplicaConfiguration": {
          "$ref": "DemoteMasterMySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory."
        }
      },
      "type": "object"
    },
    "InstancesRotateEntraIdCertificateRequest": {
      "type": "object",
      "id": "InstancesRotateEntraIdCertificateRequest",
      "description": "Rotate Entra ID certificate request.",
      "properties": {
        "rotateEntraIdCertificateContext": {
          "description": "Optional. Contains details about the rotate server certificate operation.",
          "$ref": "RotateEntraIdCertificateContext"
        }
      }
    },
    "FlagsListResponse": {
      "id": "FlagsListResponse",
      "description": "Flags list response.",
      "properties": {
        "kind": {
          "description": "This is always `sql#flagsList`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Flag"
          },
          "description": "List of flags."
        }
      },
      "type": "object"
    },
    "InstancesRotateServerCaRequest": {
      "type": "object",
      "id": "InstancesRotateServerCaRequest",
      "description": "Rotate server CA request.",
      "properties": {
        "rotateServerCaContext": {
          "$ref": "RotateServerCaContext",
          "description": "Contains details about the rotate server CA operation."
        }
      }
    },
    "RotateServerCaContext": {
      "type": "object",
      "id": "RotateServerCaContext",
      "description": "Instance rotate server CA context.",
      "properties": {
        "kind": {
          "description": "This is always `sql#rotateServerCaContext`.",
          "type": "string"
        },
        "nextVersion": {
          "type": "string",
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version."
        }
      }
    },
    "PointInTimeRestoreContext": {
      "id": "PointInTimeRestoreContext",
      "description": "The context to perform a point-in-time recovery of an instance managed by Backup and Disaster Recovery (DR) Service.",
      "properties": {
        "targetInstanceSettings": {
          "$ref": "DatabaseInstance",
          "description": "Optional. Specifies the instance settings that will be overridden from the source instance. This field is only applicable for cross project PITRs."
        },
        "targetInstance": {
          "type": "string",
          "description": "Target instance name."
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "Optional. The name of the allocated IP range for the internal IP Cloud SQL instance. For example: \"google-managed-services-default\". If you set this, then Cloud SQL creates the IP address for the cloned instance in the allocated range. This range must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035) standards. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use."
        },
        "preferredSecondaryZone": {
          "description": "Optional. Point-in-time recovery of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The region of the target instance where the datasource will be restored. For example: \"us-central1\".",
          "type": "string"
        },
        "privateNetwork": {
          "description": "Optional. The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`.",
          "type": "string"
        },
        "preferredZone": {
          "description": "Optional. Point-in-time recovery of an instance to the specified zone. If no zone is specified, then clone to the same primary zone as the source instance.",
          "type": "string"
        },
        "pointInTime": {
          "description": "Required. The date and time to which you want to restore the instance.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetInstanceClearSettingsFieldNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies the instance settings that will be cleared from the source instance. This field is only applicable for cross project PITRs."
        },
        "datasource": {
          "description": "The Backup and Disaster Recovery (DR) Service Datasource URI. Format: projects/{project}/locations/{region}/backupVaults/{backupvault}/dataSources/{datasource}.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReadPoolAutoScaleConfig": {
      "id": "ReadPoolAutoScaleConfig",
      "description": "The read pool auto-scale configuration.",
      "properties": {
        "disableScaleIn": {
          "description": "Indicates whether read pool auto scaling supports scale in operations (removing nodes).",
          "type": "boolean"
        },
        "scaleInCooldownSeconds": {
          "description": "The cooldown period for scale-in operations.",
          "format": "int32",
          "type": "integer"
        },
        "scaleOutCooldownSeconds": {
          "description": "The cooldown period for scale-out operations.",
          "format": "int32",
          "type": "integer"
        },
        "maxNodeCount": {
          "description": "Maximum number of read pool nodes to be maintained.",
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "description": "Indicates whether read pool auto scaling is enabled.",
          "type": "boolean"
        },
        "minNodeCount": {
          "description": "Minimum number of read pool nodes to be maintained.",
          "format": "int32",
          "type": "integer"
        },
        "targetMetrics": {
          "description": "Optional. Target metrics for read pool auto scaling.",
          "type": "array",
          "items": {
            "$ref": "TargetMetric"
          }
        }
      },
      "type": "object"
    },
    "SqlInstancesResetReplicaSizeRequest": {
      "type": "object",
      "id": "SqlInstancesResetReplicaSizeRequest",
      "description": "Instance reset replica size request.",
      "properties": {}
    },
    "BackupConfiguration": {
      "id": "BackupConfiguration",
      "description": "Database instance backup configuration.",
      "properties": {
        "backupTier": {
          "description": "Output only. Backup tier that manages the backups for the instance.",
          "enum": [
            "BACKUP_TIER_UNSPECIFIED",
            "STANDARD",
            "ADVANCED",
            "ENHANCED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Instance is managed by Cloud SQL.",
            "Deprecated: ADVANCED is deprecated. Please use ENHANCED instead.",
            "Instance is managed by Google Cloud Backup and DR Service."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ]
        },
        "location": {
          "description": "Location of the backup",
          "type": "string"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Whether point in time recovery is enabled.",
          "type": "boolean"
        },
        "replicationLogArchivingEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `sql#backupConfiguration`.",
          "type": "string"
        },
        "binaryLogEnabled": {
          "type": "boolean",
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well."
        },
        "backupRetentionSettings": {
          "$ref": "BackupRetentionSettings",
          "description": "Backup retention settings."
        },
        "transactionLogRetentionDays": {
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7.",
          "format": "int32",
          "type": "integer"
        },
        "startTime": {
          "type": "string",
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`."
        },
        "transactionalLogStorageState": {
          "enumDescriptions": [
            "Unspecified.",
            "The transaction logs used for PITR for the instance are stored on a data disk.",
            "The transaction logs used for PITR for the instance are switching from being stored on a data disk to being stored in Cloud Storage. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are now stored in Cloud Storage. Previously, they were stored on a data disk. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are stored in Cloud Storage. Only applicable to MySQL and PostgreSQL."
          ],
          "readOnly": true,
          "enum": [
            "TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED",
            "DISK",
            "SWITCHING_TO_CLOUD_STORAGE",
            "SWITCHED_TO_CLOUD_STORAGE",
            "CLOUD_STORAGE"
          ],
          "type": "string",
          "description": "Output only. This value contains the storage location of transactional logs used to perform point-in-time recovery (PITR) for the database."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this configuration is enabled."
        }
      },
      "type": "object"
    },
    "BackupRun": {
      "type": "object",
      "id": "BackupRun",
      "description": "A BackupRun resource.",
      "properties": {
        "windowStartTime": {
          "type": "string",
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "maxChargeableBytes": {
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "format": "int64",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "type": {
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "type": "string"
        },
        "databaseVersion": {
          "description": "Output only. The instance database version at the time this backup was made.",
          "type": "string",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "enqueuedTime": {
          "type": "string",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#backupRun`.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "diskEncryptionConfiguration": {
          "description": "Encryption configuration specific to a backup.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "description": "The status of this run."
        },
        "timeZone": {
          "type": "string",
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server."
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "backupKind": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "Snapshot-based backups.",
            "Physical backups."
          ],
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT."
        }
      }
    },
    "SslCertsListResponse": {
      "type": "object",
      "id": "SslCertsListResponse",
      "description": "SslCerts list response.",
      "properties": {
        "kind": {
          "description": "This is always `sql#sslCertsList`.",
          "type": "string"
        },
        "items": {
          "description": "List of client certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        }
      }
    },
    "InstancesPreCheckMajorVersionUpgradeRequest": {
      "type": "object",
      "id": "InstancesPreCheckMajorVersionUpgradeRequest",
      "description": "Request for Pre-checks for MVU",
      "properties": {
        "preCheckMajorVersionUpgradeContext": {
          "$ref": "PreCheckMajorVersionUpgradeContext",
          "description": "Required. Contains details about the pre-check major version upgrade operation."
        }
      }
    },
    "User": {
      "type": "object",
      "id": "User",
      "description": "A Cloud SQL user resource.",
      "properties": {
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for `update` because it is already specified on the URL.",
          "type": "string"
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "host": {
          "type": "string",
          "description": "Optional. The host from which the user can connect. For `insert` operations, host defaults to an empty string. For `update` operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional."
        },
        "name": {
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for `update` because it is already specified in the URL.",
          "type": "string"
        },
        "iamEmail": {
          "type": "string",
          "description": "Optional. The full email for an IAM user. For normal database users, this will not be filled. Only applicable to MySQL database users."
        },
        "iamStatus": {
          "description": "Indicates if a group is active or inactive for IAM database authentication.",
          "type": "string",
          "enumDescriptions": [
            "The default value for users that are not of type CLOUD_IAM_GROUP. Only CLOUD_IAM_GROUP users will be inactive or active. Users with an IamStatus of IAM_STATUS_UNSPECIFIED will not display whether they are active or inactive as that is not applicable to them.",
            "INACTIVE indicates a group is not available for IAM database authentication.",
            "ACTIVE indicates a group is available for IAM database authentication."
          ],
          "enum": [
            "IAM_STATUS_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE"
          ]
        },
        "kind": {
          "description": "This is always `sql#user`.",
          "type": "string"
        },
        "databaseRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Role memberships of the user"
        },
        "passwordPolicy": {
          "$ref": "UserPasswordValidationPolicy",
          "description": "User level password validation policy."
        },
        "type": {
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account.",
            "Cloud IAM group. Not used for login.",
            "Read-only. Login for a user that belongs to the Cloud IAM group.",
            "Read-only. Login for a service account that belongs to the Cloud IAM group.",
            "Microsoft Entra ID user."
          ],
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT",
            "CLOUD_IAM_GROUP",
            "CLOUD_IAM_GROUP_USER",
            "CLOUD_IAM_GROUP_SERVICE_ACCOUNT",
            "ENTRAID_USER"
          ],
          "type": "string",
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type."
        },
        "password": {
          "description": "The password for the user.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for `update` because it is already specified on the URL."
        },
        "dualPasswordType": {
          "description": "Dual password status for the user.",
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "Do not update the user's dual password status.",
            "No dual password usable for connecting using this user.",
            "Dual password usable for connecting using this user."
          ],
          "enum": [
            "DUAL_PASSWORD_TYPE_UNSPECIFIED",
            "NO_MODIFY_DUAL_PASSWORD",
            "NO_DUAL_PASSWORD",
            "DUAL_PASSWORD"
          ]
        }
      }
    },
    "PerformanceCaptureConfig": {
      "id": "PerformanceCaptureConfig",
      "description": "Performance Capture configuration.",
      "properties": {
        "runningThreadsThreshold": {
          "type": "integer",
          "description": "Optional. The minimum number of server threads running to trigger the capture on primary.",
          "format": "int32"
        },
        "transactionDurationThreshold": {
          "description": "Optional. The amount of time in seconds that a transaction needs to have been open before the watcher starts recording it.",
          "format": "int32",
          "type": "integer"
        },
        "secondsBehindSourceThreshold": {
          "description": "Optional. The minimum number of seconds replica must be lagging behind primary to trigger capture on replica.",
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "description": "Optional. Enable or disable the Performance Capture feature.",
          "type": "boolean"
        },
        "probingIntervalSeconds": {
          "description": "Optional. The time interval in seconds between any two probes.",
          "format": "int32",
          "type": "integer"
        },
        "probeThreshold": {
          "description": "Optional. The minimum number of consecutive readings above threshold that triggers instance state capture.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "SqlServerDatabaseDetails": {
      "id": "SqlServerDatabaseDetails",
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "properties": {
        "recoveryModel": {
          "type": "string",
          "description": "The recovery model of a SQL Server database"
        },
        "compatibilityLevel": {
          "type": "integer",
          "description": "The version of SQL Server with which the database is to be made compatible",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Value": {
      "id": "Value",
      "description": "The cell value of the table.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The cell value in string format."
        },
        "nullValue": {
          "type": "boolean",
          "description": "If cell value is null, then this flag will be set to true."
        }
      },
      "type": "object"
    },
    "SqlScheduledMaintenance": {
      "id": "SqlScheduledMaintenance",
      "description": "Any scheduled maintenance for this instance.",
      "properties": {
        "canDefer": {
          "type": "boolean",
          "deprecated": true
        },
        "scheduleDeadlineTime": {
          "description": "Maintenance cannot be rescheduled to start beyond this deadline.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "format": "google-datetime"
        },
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ConnectionPoolConfig": {
      "type": "object",
      "id": "ConnectionPoolConfig",
      "description": "The managed connection pooling configuration.",
      "properties": {
        "connectionPoolingEnabled": {
          "description": "Whether managed connection pooling is enabled.",
          "type": "boolean"
        },
        "poolerCount": {
          "type": "integer",
          "description": "Output only. Number of connection poolers.",
          "format": "int32",
          "readOnly": true
        },
        "flags": {
          "type": "array",
          "items": {
            "$ref": "ConnectionPoolFlags"
          },
          "description": "Optional. List of connection pool configuration flags."
        }
      }
    },
    "InstancesListServerCertificatesResponse": {
      "id": "InstancesListServerCertificatesResponse",
      "description": "Instances ListServerCertificates response.",
      "properties": {
        "caCerts": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of server CA certificates for the instance."
        },
        "activeVersion": {
          "description": "The `sha1_fingerprint` of the active certificate from `server_certs`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListServerCertificates`."
        },
        "serverCerts": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of server certificates for the instance, signed by the corresponding CA from the `ca_certs` list."
        }
      },
      "type": "object"
    },
    "Database": {
      "id": "Database",
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "properties": {
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "kind": {
          "description": "This is always `sql#database`.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable."
        },
        "collation": {
          "description": "The Cloud SQL collation value.",
          "type": "string"
        },
        "charset": {
          "type": "string",
          "description": "The Cloud SQL charset value."
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "name": {
          "type": "string",
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name."
        }
      },
      "type": "object"
    },
    "ReplicaConfiguration": {
      "type": "object",
      "id": "ReplicaConfiguration",
      "description": "Read-replica configuration for connecting to the primary instance.",
      "properties": {
        "failoverTarget": {
          "type": "boolean",
          "description": "Specifies if the replica is the failover target. If the field is set to `true`, the replica will be designated as a failover replica. In case the primary instance fails, the replica instance will be promoted as the new primary instance. Only one replica can be specified as failover target, and the replica has to be in different zone with the primary instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#replicaConfiguration`."
        },
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory.",
          "$ref": "MySqlReplicaConfiguration"
        },
        "cascadableReplica": {
          "description": "Optional. Specifies if a SQL Server replica is a cascadable replica. A cascadable replica is a SQL Server cross region replica that supports replica(s) under it.",
          "type": "boolean"
        }
      }
    },
    "InstancesListEntraIdCertificatesResponse": {
      "type": "object",
      "id": "InstancesListEntraIdCertificatesResponse",
      "description": "Instances ListEntraIdCertificates response.",
      "properties": {
        "certs": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of Entra ID certificates for the instance."
        },
        "activeVersion": {
          "description": "The `sha1_fingerprint` of the active certificate from `certs`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListEntraIdCertificates`."
        }
      }
    },
    "GeminiInstanceConfig": {
      "id": "GeminiInstanceConfig",
      "description": "Gemini instance configuration.",
      "properties": {
        "activeQueryEnabled": {
          "description": "Output only. Whether the active query is enabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "entitled": {
          "readOnly": true,
          "description": "Output only. Whether Gemini is enabled.",
          "type": "boolean"
        },
        "flagRecommenderEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the flag recommender is enabled.",
          "type": "boolean"
        },
        "indexAdvisorEnabled": {
          "description": "Output only. Whether the index advisor is enabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "googleVacuumMgmtEnabled": {
          "type": "boolean",
          "description": "Output only. Whether the vacuum management is enabled.",
          "readOnly": true
        },
        "oomSessionCancelEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether canceling the out-of-memory (OOM) session is enabled."
        }
      },
      "type": "object"
    },
    "InstanceReference": {
      "id": "InstanceReference",
      "description": "Reference to another Cloud SQL instance.",
      "properties": {
        "project": {
          "type": "string",
          "description": "The project ID of the Cloud SQL instance being referenced. The default is the same project ID as the instance references it."
        },
        "name": {
          "type": "string",
          "description": "The name of the Cloud SQL instance being referenced. This does not include the project ID."
        },
        "region": {
          "description": "The region of the Cloud SQL instance being referenced.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlExternalSyncSettingError": {
      "id": "SqlExternalSyncSettingError",
      "description": "External primary instance migration setting error/warning.",
      "properties": {
        "detail": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "kind": {
          "description": "Can be `sql#externalSyncSettingError` or `sql#externalSyncSettingWarning`.",
          "type": "string"
        },
        "type": {
          "description": "Identifies the specific error that occurred.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "The replication user is missing privileges that are required.",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions.",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres. Note that this is a warning and won't block the migration.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name.",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting.",
            "The primary instance has tables with unsupported storage engine.",
            "Source has tables with limited support eg: PostgreSQL tables without primary keys.",
            "The replica instance contains existing data.",
            "The replication user is missing privileges that are optional.",
            "Additional BACKUP_ADMIN privilege is granted to the replication user which may lock source MySQL 8 instance for DDLs during initial sync.",
            "The Cloud Storage bucket is missing necessary permissions.",
            "The Cloud Storage bucket has an error in the file or contains invalid file information.",
            "The source instance has unsupported database settings for migration.",
            "The replication user is missing parallel import specific privileges. (e.g. LOCK TABLES) for MySQL.",
            "The global variable local_infile is off on external server replica.",
            "This code instructs customers to turn on point-in-time recovery manually for the instance after promoting the Cloud SQL for PostgreSQL instance.",
            "The minor version of replica database is incompatible with the source.",
            "This warning message indicates that Cloud SQL uses the maximum number of subscriptions to migrate data from the source to the destination.",
            "Unable to verify definers on the source for MySQL.",
            "If a time out occurs while the subscription counts are calculated, then this value is set to 1. Otherwise, this value is set to 2.",
            "Count of subscriptions needed to sync source data for PostgreSQL database.",
            "Final parallel level that is used to do migration.",
            "The disk size of the replica instance is smaller than the data size of the source instance.",
            "The data size of the source instance is greater than 1 TB, the number of cores of the replica instance is less than 8, and the memory of the replica is less than 32 GB.",
            "The warning message indicates the unsupported extensions will not be migrated to the destination.",
            "The warning message indicates the pg_cron extension and settings will not be migrated to the destination.",
            "The error message indicates that pg_cron flags are enabled on the destination which is not supported during the migration.",
            "This error message indicates that the specified extensions are not enabled on destination instance. For example, before you can migrate data to the destination instance, you must enable the PGAudit extension on the instance.",
            "The source database has generated columns that can't be migrated. Please change them to regular columns before migration.",
            "The source database has users that aren't created in the replica. First, create all users, which are in the pg_user_mappings table of the source database, in the destination instance. Then, perform the migration.",
            "The selected objects include system objects that aren't supported for migration.",
            "The source database has tables with the FULL or NOTHING replica identity. Before starting your migration, either remove the identity or change it to DEFAULT. Note that this is an error and will block the migration.",
            "The selected objects don't exist on the source instance.",
            "PSC only destination instance does not have a network attachment URI.",
            "Selected objects reference unselected objects. Based on their object type (foreign key constraint or view), selected objects will fail during migration.",
            "The migration will delete existing data in the replica; set replica_overwrite_enabled in the request to acknowledge this. This is an error. MySQL only.",
            "The migration will delete existing data in the replica; replica_overwrite_enabled was set in the request acknowledging this. This is a warning rather than an error. MySQL only.",
            "The replication user is missing specific privileges to setup DDL replication. (e.g. CREATE EVENT TRIGGER, CREATE SCHEMA) for PostgreSQL."
          ],
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING",
            "UNSUPPORTED_STORAGE_ENGINE",
            "LIMITED_SUPPORT_TABLES",
            "EXISTING_DATA_IN_REPLICA",
            "MISSING_OPTIONAL_PRIVILEGES",
            "RISKY_BACKUP_ADMIN_PRIVILEGE",
            "INSUFFICIENT_GCS_PERMISSIONS",
            "INVALID_FILE_INFO",
            "UNSUPPORTED_DATABASE_SETTINGS",
            "MYSQL_PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "LOCAL_INFILE_OFF",
            "TURN_ON_PITR_AFTER_PROMOTE",
            "INCOMPATIBLE_DATABASE_MINOR_VERSION",
            "SOURCE_MAX_SUBSCRIPTIONS",
            "UNABLE_TO_VERIFY_DEFINERS",
            "SUBSCRIPTION_CALCULATION_STATUS",
            "PG_SUBSCRIPTION_COUNT",
            "PG_SYNC_PARALLEL_LEVEL",
            "INSUFFICIENT_DISK_SIZE",
            "INSUFFICIENT_MACHINE_TIER",
            "UNSUPPORTED_EXTENSIONS_NOT_MIGRATED",
            "EXTENSIONS_NOT_MIGRATED",
            "PG_CRON_FLAG_ENABLED_IN_REPLICA",
            "EXTENSIONS_NOT_ENABLED_IN_REPLICA",
            "UNSUPPORTED_COLUMNS",
            "USERS_NOT_CREATED_IN_REPLICA",
            "UNSUPPORTED_SYSTEM_OBJECTS",
            "UNSUPPORTED_TABLES_WITH_REPLICA_IDENTITY",
            "SELECTED_OBJECTS_NOT_EXIST_ON_SOURCE",
            "PSC_ONLY_INSTANCE_WITH_NO_NETWORK_ATTACHMENT_URI",
            "SELECTED_OBJECTS_REFERENCE_UNSELECTED_OBJECTS",
            "PROMPT_DELETE_EXISTING",
            "WILL_DELETE_EXISTING",
            "PG_DDL_REPLICATION_INSUFFICIENT_PRIVILEGE"
          ]
        }
      },
      "type": "object"
    },
    "InstancesListServerCasResponse": {
      "type": "object",
      "id": "InstancesListServerCasResponse",
      "description": "Instances ListServerCas response.",
      "properties": {
        "certs": {
          "description": "List of server CA certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        },
        "activeVersion": {
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#instancesListServerCas`.",
          "type": "string"
        }
      }
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "description": "Read-replica configuration specific to MySQL databases.",
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8."
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "kind": {
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        }
      },
      "type": "object"
    },
    "DemoteContext": {
      "id": "DemoteContext",
      "description": "This context is used to demote an existing standalone instance to be a Cloud SQL read replica for an external database server.",
      "properties": {
        "sourceRepresentativeInstanceName": {
          "description": "Required. The name of the instance which acts as the on-premises primary instance in the replication setup.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#demoteContext`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupReencryptionConfig": {
      "id": "BackupReencryptionConfig",
      "description": "Backup Reencryption Config",
      "properties": {
        "backupLimit": {
          "description": "Backup re-encryption limit",
          "format": "int32",
          "type": "integer"
        },
        "backupType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown backup type, will be defaulted to AUTOMATIC backup type",
            "Reencrypt automatic backups",
            "Reencrypt on-demand backups"
          ],
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "Type of backups users want to re-encrypt."
        }
      },
      "type": "object"
    },
    "FinalBackupConfig": {
      "type": "object",
      "id": "FinalBackupConfig",
      "description": "Config used to determine the final backup settings for the instance.",
      "properties": {
        "retentionDays": {
          "type": "integer",
          "description": "The number of days to retain the final backup after the instance deletion. The final backup will be purged at (time_of_instance_deletion + retention_days).",
          "format": "int32"
        },
        "enabled": {
          "description": "Whether the final backup is enabled for the instance.",
          "type": "boolean"
        }
      }
    },
    "SqlInstancesReleaseSsrsLeaseResponse": {
      "id": "SqlInstancesReleaseSsrsLeaseResponse",
      "description": "Response for the release SSRS lease request.",
      "properties": {
        "operationId": {
          "description": "The unique identifier for this operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PoolNodeConfig": {
      "id": "PoolNodeConfig",
      "description": "Details of a single read pool node of a read pool.",
      "properties": {
        "dnsName": {
          "description": "Output only. The DNS name of the read pool node.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the read pool node, to be used for retrieving metrics and logs."
        },
        "gceZone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The zone of the read pool node."
        },
        "pscAutoConnections": {
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "readOnly": true,
          "description": "Output only. The list of settings for requested automatically-setup Private Service Connect (PSC) consumer endpoints that can be used to connect to this read pool node."
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          },
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node.",
          "readOnly": true
        },
        "dnsNames": {
          "type": "array",
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this read pool node.",
          "readOnly": true
        },
        "pscServiceAttachmentLink": {
          "type": "string",
          "description": "Output only. The Private Service Connect (PSC) service attachment of the read pool node.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "description": "Output only. The current state of the read pool node.",
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "IpMapping": {
      "id": "IpMapping",
      "description": "Database instance IP mapping",
      "properties": {
        "timeToRetire": {
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired.",
          "format": "google-datetime",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address assigned."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported."
        }
      },
      "type": "object"
    },
    "DemoteMasterContext": {
      "id": "DemoteMasterContext",
      "description": "Database instance demote primary instance context.",
      "properties": {
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup."
        },
        "replicaConfiguration": {
          "$ref": "DemoteMasterConfiguration",
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance."
        },
        "skipReplicationSetup": {
          "type": "boolean",
          "description": "Flag to skip replication setup on the instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterContext`."
        },
        "verifyGtidConsistency": {
          "description": "Verify the GTID consistency for demote operation. Default value: `True`. Setting this flag to `false` enables you to bypass the GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ExportContext": {
      "type": "object",
      "id": "ExportContext",
      "description": "Database instance export context.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#exportContext`."
        },
        "csvExportOptions": {
          "description": "Options for exporting data as CSV. `MySQL` and `PostgreSQL` instances only.",
          "properties": {
            "selectQuery": {
              "type": "string",
              "description": "The select query used to extract the data."
            },
            "escapeCharacter": {
              "type": "string",
              "description": "Specifies the character that should appear before a data character that needs to be escaped."
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "quoteCharacter": {
              "type": "string",
              "description": "Specifies the quoting character to be used when a data value is quoted."
            }
          },
          "type": "object"
        },
        "tdeExportOptions": {
          "type": "object",
          "description": "Optional. Export parameters specific to SQL Server TDE certificates",
          "properties": {
            "privateKeyPassword": {
              "description": "Required. Password that encrypts the private key.",
              "type": "string"
            },
            "certificatePath": {
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have write access to the bucket. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPath": {
              "type": "string",
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have write access to the location. Applicable only for SQL Server instances."
            },
            "name": {
              "description": "Required. Certificate name. Applicable only for SQL Server instances.",
              "type": "string"
            }
          }
        },
        "databases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Databases to be exported. `MySQL instances:` If `fileType` is `SQL` and no database is specified, all databases are exported, except for the `mysql` system database. If `fileType` is `CSV`, you can specify one database, either by using this property or by using the `csvExportOptions.selectQuery` property, which takes precedence over this property. `PostgreSQL instances:` If you don't specify a database by name, all user databases in the instance are exported. This excludes system databases and Cloud SQL databases used to manage internal operations. Exporting all user databases is only available for directory-formatted parallel export. If `fileType` is `CSV`, this database must match the one specified in the `csvExportOptions.selectQuery` property. `SQL Server instances:` You must specify one database to be exported, and the `fileType` must be `BAK`."
        },
        "sqlExportOptions": {
          "type": "object",
          "description": "Options for exporting data as SQL statements.",
          "properties": {
            "parallel": {
              "type": "boolean",
              "description": "Optional. Whether or not the export should be parallel."
            },
            "postgresExportOptions": {
              "type": "object",
              "description": "Options for exporting from a Cloud SQL for PostgreSQL instance.",
              "properties": {
                "ifExists": {
                  "description": "Optional. Option to include an IF EXISTS SQL statement with each DROP statement produced by clean.",
                  "type": "boolean"
                },
                "clean": {
                  "type": "boolean",
                  "description": "Optional. Use this option to include DROP <object> SQL statements. Use these statements to delete database objects before running the import operation."
                }
              }
            },
            "schemaOnly": {
              "type": "boolean",
              "description": "Export only schemas."
            },
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table."
            },
            "threads": {
              "type": "integer",
              "description": "Optional. The number of threads to use for parallel export.",
              "format": "int32"
            },
            "mysqlExportOptions": {
              "description": "Options for exporting from MySQL.",
              "properties": {
                "masterData": {
                  "type": "integer",
                  "description": "Option to include SQL statement required to set up replication. If set to `1`, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. If set to `2`, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. If set to any value other than `1`, --set-gtid-purged is set to OFF.",
                  "format": "int32"
                }
              },
              "type": "object"
            }
          }
        },
        "offload": {
          "type": "boolean",
          "description": "Whether to perform a serverless export."
        },
        "fileType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ],
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ],
          "description": "The file type for the specified uri."
        },
        "bakExportOptions": {
          "description": "Options for exporting BAK files (SQL Server-only)",
          "properties": {
            "differentialBase": {
              "description": "Whether or not the backup can be used as a differential base copy_only backup can not be served as differential base",
              "type": "boolean"
            },
            "exportLogStartTime": {
              "type": "string",
              "description": "Optional. The begin timestamp when transaction log will be included in the export operation. [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`) in UTC. When omitted, all available logs from the beginning of retention period will be included. Only applied to Cloud SQL for SQL Server.",
              "format": "google-datetime"
            },
            "stripeCount": {
              "description": "Option for specifying how many stripes to use for the export. If blank, and the value of the striped field is true, the number of stripes is automatically chosen.",
              "format": "int32",
              "type": "integer"
            },
            "copyOnly": {
              "description": "Deprecated: copy_only is deprecated. Use differential_base instead",
              "deprecated": true,
              "type": "boolean"
            },
            "striped": {
              "type": "boolean",
              "description": "Whether or not the export should be striped."
            },
            "bakType": {
              "description": "Type of this bak file will be export, FULL or DIFF, SQL Server only",
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ],
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ],
              "type": "string"
            },
            "exportLogEndTime": {
              "description": "Optional. The end timestamp when transaction log will be included in the export operation. [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`) in UTC. When omitted, all available logs until current time will be included. Only applied to Cloud SQL for SQL Server.",
              "format": "google-datetime",
              "type": "string"
            }
          },
          "type": "object"
        },
        "uri": {
          "type": "string",
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`. If the file already exists, the request succeeds, but the operation fails. If `fileType` is `SQL` and the filename ends with .gz, the contents are compressed."
        }
      }
    },
    "SslCert": {
      "id": "SslCert",
      "description": "SslCerts Resource",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`",
          "format": "google-datetime"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCert`."
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "commonName": {
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+.",
          "type": "string"
        },
        "certSerialNumber": {
          "type": "string",
          "description": "Serial number, as extracted from the certificate."
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecuteSqlPayload": {
      "type": "object",
      "id": "ExecuteSqlPayload",
      "description": "The request payload used to execute SQL statements.",
      "properties": {
        "application": {
          "type": "string",
          "description": "Optional. Specifies the name of the application that is making the request. This field is used for telemetry. Only alphanumeric characters, dashes, and underscores are allowed. The maximum length is 32 characters."
        },
        "partialResultMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode, effectively the same as `FAIL_PARTIAL_RESULT`.",
            "Throw an error if the result exceeds 10 MB or if only a partial result can be retrieved. Don't return the result.",
            "Return a truncated result and set `partial_result` to true if the result exceeds 10 MB or if only a partial result can be retrieved due to error. Don't throw an error."
          ],
          "enum": [
            "PARTIAL_RESULT_MODE_UNSPECIFIED",
            "FAIL_PARTIAL_RESULT",
            "ALLOW_PARTIAL_RESULT"
          ],
          "description": "Optional. Controls how the API should respond when the SQL execution result is incomplete due to the size limit or another error. The default mode is to throw an error."
        },
        "sqlStatement": {
          "type": "string",
          "description": "Required. SQL statements to run on the database. It can be a single statement or a sequence of statements separated by semicolons."
        },
        "database": {
          "description": "Optional. Name of the database on which the statement will be executed.",
          "type": "string"
        },
        "rowLimit": {
          "type": "string",
          "description": "Optional. The maximum number of rows returned per SQL statement.",
          "format": "int64"
        },
        "user": {
          "type": "string",
          "description": "Optional. The name of an existing database user to connect to the database. When `auto_iam_authn` is set to true, this field is ignored and the API caller's IAM user is used."
        },
        "autoIamAuthn": {
          "description": "Optional. When set to true, the API caller identity associated with the request is used for database authentication. The API caller must be an IAM user in the database.",
          "type": "boolean"
        }
      }
    },
    "SqlInstancesGetLatestRecoveryTimeResponse": {
      "type": "object",
      "id": "SqlInstancesGetLatestRecoveryTimeResponse",
      "description": "Instance get latest recovery time response.",
      "properties": {
        "earliestRecoveryTime": {
          "type": "string",
          "description": "Timestamp, identifies the earliest recovery time of the source instance.",
          "format": "google-datetime"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#getLatestRecoveryTime`."
        },
        "latestRecoveryTime": {
          "type": "string",
          "description": "Timestamp, identifies the latest recovery time of the source instance.",
          "format": "google-datetime"
        }
      }
    },
    "InstancesTruncateLogRequest": {
      "type": "object",
      "id": "InstancesTruncateLogRequest",
      "description": "Instance truncate log request.",
      "properties": {
        "truncateLogContext": {
          "description": "Contains details about the truncate log operation.",
          "$ref": "TruncateLogContext"
        }
      }
    },
    "TruncateLogContext": {
      "id": "TruncateLogContext",
      "description": "Database Instance truncate log context.",
      "properties": {
        "logType": {
          "description": "The type of log to truncate. Valid values are `MYSQL_GENERAL_TABLE` and `MYSQL_SLOW_TABLE`.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#truncateLogContext`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MySqlSyncConfig": {
      "id": "MySqlSyncConfig",
      "description": "MySQL-specific external server sync settings.",
      "properties": {
        "initialSyncFlags": {
          "type": "array",
          "items": {
            "$ref": "SyncFlags"
          },
          "description": "Flags to use for the initial dump."
        }
      },
      "type": "object"
    },
    "SqlInstancesStartExternalSyncRequest": {
      "id": "SqlInstancesStartExternalSyncRequest",
      "description": "Instance start external sync request.",
      "properties": {
        "syncMode": {
          "description": "External sync mode.",
          "type": "string",
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ]
        },
        "replicaOverwriteEnabled": {
          "description": "Optional. MySQL only. True if end-user has confirmed that this SES call will wipe replica databases overlapping with the proposed selected_objects. If this field is not set and there are both overlapping and additional databases proposed, an error will be returned.",
          "type": "boolean"
        },
        "syncParallelLevel": {
          "description": "Optional. Parallel level for initial data sync. Currently only applicable for MySQL.",
          "enumDescriptions": [
            "Unknown sync parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "enum": [
            "EXTERNAL_SYNC_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ],
          "type": "string"
        },
        "mysqlSyncConfig": {
          "description": "MySQL-specific settings for start external sync.",
          "$ref": "MySqlSyncConfig"
        },
        "migrationType": {
          "description": "Optional. MigrationType configures the migration to use physical files or logical dump files. If not set, then the logical dump file configuration is used. Valid values are `LOGICAL` or `PHYSICAL`. Only applicable to MySQL.",
          "type": "string",
          "enumDescriptions": [
            "Default value is a logical dump file-based migration",
            "Logical dump file-based migration",
            "Physical file-based migration"
          ],
          "enum": [
            "MIGRATION_TYPE_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ]
        },
        "skipVerification": {
          "type": "boolean",
          "description": "Whether to skip the verification step (VESS)."
        }
      },
      "type": "object"
    },
    "PscConfig": {
      "type": "object",
      "id": "PscConfig",
      "description": "PSC settings for a Cloud SQL instance.",
      "properties": {
        "pscEnabled": {
          "type": "boolean",
          "description": "Whether PSC connectivity is enabled for this instance."
        },
        "pscAutoConnections": {
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "description": "Optional. The list of settings for requested Private Service Connect consumer endpoints that can be used to connect to this Cloud SQL instance."
        },
        "networkAttachmentUri": {
          "description": "Optional. The network attachment of the consumer network that the Private Service Connect enabled Cloud SQL instance is authorized to connect via PSC interface. format: projects/PROJECT/regions/REGION/networkAttachments/ID",
          "type": "string"
        },
        "allowedConsumerProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of consumer projects that are allow-listed for PSC connections to this instance. This instance can be connected to with PSC from any network in these projects. Each consumer project in this list may be represented by a project number (numeric) or by a project id (alphanumeric)."
        }
      }
    },
    "UsersListResponse": {
      "type": "object",
      "id": "UsersListResponse",
      "description": "User list response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Unused.",
          "deprecated": true
        },
        "kind": {
          "description": "This is always `sql#usersList`.",
          "type": "string"
        },
        "items": {
          "description": "List of user resources in the instance.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      }
    },
    "IpConfiguration": {
      "type": "object",
      "id": "IpConfiguration",
      "description": "IP Management configuration.",
      "properties": {
        "ipv4Enabled": {
          "type": "boolean",
          "description": "Whether the instance is assigned a public IP address or not."
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.`",
          "type": "string"
        },
        "enablePrivatePathForGoogleCloudServices": {
          "description": "Controls connectivity to private IP instances from Google services, such as BigQuery.",
          "type": "boolean"
        },
        "customSubjectAlternativeNames": {
          "description": "Optional. Custom Subject Alternative Name(SAN)s for a Cloud SQL instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sslMode": {
          "enumDescriptions": [
            "The SSL mode is unknown.",
            "Allow non-SSL/non-TLS and SSL/TLS connections. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS and with valid client certificates. When this value is used, the legacy `require_ssl` flag must be true or cleared to avoid the conflict between values of two flags. PostgreSQL clients or users that connect using IAM database authentication must use either the [Cloud SQL Auth Proxy](https://cloud.google.com/sql/docs/postgres/connect-auth-proxy) or [Cloud SQL Connectors](https://cloud.google.com/sql/docs/postgres/connect-connectors) to enforce client identity verification. Only applicable to MySQL and PostgreSQL. Not applicable to SQL Server."
          ],
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY",
            "TRUSTED_CLIENT_CERTIFICATE_REQUIRED"
          ],
          "type": "string",
          "description": "Specify how SSL/TLS is enforced in database connections. If you must use the `require_ssl` flag for backward compatibility, then only the following value pairs are valid: For PostgreSQL and MySQL: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false` * `ssl_mode=TRUSTED_CLIENT_CERTIFICATE_REQUIRED` and `require_ssl=true` For SQL Server: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=true` The value of `ssl_mode` has priority over the value of `require_ssl`. For example, for the pair `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false`, `ssl_mode=ENCRYPTED_ONLY` means accept only SSL connections, while `require_ssl=false` means accept both non-SSL and SSL connections. In this case, MySQL and PostgreSQL databases respect `ssl_mode` and accepts only SSL connections."
        },
        "serverCaPool": {
          "description": "Optional. The resource name of the server CA pool for an instance with `CUSTOMER_MANAGED_CAS_CA` as the `server_ca_mode`. Format: projects/{PROJECT}/locations/{REGION}/caPools/{CA_POOL_ID}",
          "type": "string"
        },
        "authorizedNetworks": {
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          },
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: `157.197.200.0/24`)."
        },
        "serverCaMode": {
          "type": "string",
          "enumDescriptions": [
            "CA mode is unspecified. It is effectively the same as `GOOGLE_MANAGED_INTERNAL_CA`.",
            "Google-managed self-signed internal CA.",
            "Google-managed regional CA part of root CA hierarchy hosted on Google Cloud's Certificate Authority Service (CAS).",
            "Customer-managed CA hosted on Google Cloud's Certificate Authority Service (CAS)."
          ],
          "enum": [
            "CA_MODE_UNSPECIFIED",
            "GOOGLE_MANAGED_INTERNAL_CA",
            "GOOGLE_MANAGED_CAS_CA",
            "CUSTOMER_MANAGED_CAS_CA"
          ],
          "description": "Specify what type of CA is used for the server certificate."
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "PSC settings for this instance."
        },
        "requireSsl": {
          "description": "Use `ssl_mode` instead. Whether SSL/TLS connections over IP are enforced. If set to false, then allow both non-SSL/non-TLS and SSL/TLS connections. For SSL/TLS connections, the client certificate won't be verified. If set to true, then only allow connections encrypted with SSL/TLS and with valid client certificates. If you want to enforce SSL/TLS without enforcing the requirement for valid client certificates, then use the `ssl_mode` flag instead of the `require_ssl` flag.",
          "type": "boolean"
        },
        "serverCertificateRotationMode": {
          "enumDescriptions": [
            "Unspecified: no automatic server certificate rotation.",
            "No automatic server certificate rotation. The user must [manage server certificate rotation](/sql/docs/mysql/manage-ssl-instance#rotate-server-certificate-cas) on their side.",
            "Automatic server certificate rotation during Cloud SQL scheduled maintenance or self-service maintenance updates. Requires `server_ca_mode` to be `GOOGLE_MANAGED_CAS_CA` or `CUSTOMER_MANAGED_CAS_CA`."
          ],
          "enum": [
            "SERVER_CERTIFICATE_ROTATION_MODE_UNSPECIFIED",
            "NO_AUTOMATIC_ROTATION",
            "AUTOMATIC_ROTATION_DURING_MAINTENANCE"
          ],
          "type": "string",
          "description": "Optional. Controls the automatic server certificate rotation feature. This feature is disabled by default. When enabled, the server certificate will be automatically rotated during Cloud SQL scheduled maintenance or self-service maintenance updates up to six months before it expires. This setting can only be set if server_ca_mode is either GOOGLE_MANAGED_CAS_CA or CUSTOMER_MANAGED_CAS_CA."
        },
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set."
        }
      }
    },
    "Tier": {
      "type": "object",
      "id": "Tier",
      "description": "A Google Cloud SQL service tier resource.",
      "properties": {
        "tier": {
          "type": "string",
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing)."
        },
        "region": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The applicable regions for this tier."
        },
        "RAM": {
          "type": "string",
          "description": "The maximum RAM usage of this tier in bytes.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#tier`."
        },
        "DiskQuota": {
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Interval": {
      "type": "object",
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SqlInstancesVerifyExternalSyncSettingsRequest": {
      "id": "SqlInstancesVerifyExternalSyncSettingsRequest",
      "description": "Instance verify external sync settings request.",
      "properties": {
        "syncMode": {
          "description": "External sync mode",
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "type": "string"
        },
        "syncParallelLevel": {
          "type": "string",
          "enumDescriptions": [
            "Unknown sync parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "enum": [
            "EXTERNAL_SYNC_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ],
          "description": "Optional. Parallel level for initial data sync. Only applicable for PostgreSQL."
        },
        "verifyConnectionOnly": {
          "description": "Flag to enable verifying connection only",
          "type": "boolean"
        },
        "mysqlSyncConfig": {
          "description": "Optional. MySQL-specific settings for start external sync.",
          "$ref": "MySqlSyncConfig"
        },
        "verifyReplicationOnly": {
          "type": "boolean",
          "description": "Optional. Flag to verify settings required by replication setup only"
        },
        "selectedObjects": {
          "type": "array",
          "items": {
            "$ref": "ExternalSyncSelectedObject"
          },
          "description": "Optional. Migrate only the specified objects from the source instance. If this field is empty, then migrate all objects."
        },
        "migrationType": {
          "type": "string",
          "enumDescriptions": [
            "Default value is a logical dump file-based migration",
            "Logical dump file-based migration",
            "Physical file-based migration"
          ],
          "enum": [
            "MIGRATION_TYPE_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ],
          "description": "Optional. MigrationType configures the migration to use physical files or logical dump files. If not set, then the logical dump file configuration is used. Valid values are `LOGICAL` or `PHYSICAL`. Only applicable to MySQL."
        }
      },
      "type": "object"
    },
    "CloneContext": {
      "id": "CloneContext",
      "description": "Database instance clone context.",
      "properties": {
        "destinationInstanceName": {
          "type": "string",
          "description": "Required. Name of the Cloud SQL instance to be created as a clone."
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "pitrTimestampMs": {
          "description": "Reserved for future use.",
          "format": "int64",
          "type": "string"
        },
        "preferredZone": {
          "type": "string",
          "description": "Optional. Copy clone and point-in-time recovery clone of an instance to the specified zone. If no zone is specified, clone to the same primary zone as the source instance. This field applies to all DB types."
        },
        "pointInTime": {
          "type": "string",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "format": "google-datetime"
        },
        "databaseNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty."
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "preferredSecondaryZone": {
          "type": "string",
          "description": "Optional. Copy clone and point-in-time recovery clone of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field. This field applies to all DB types."
        },
        "destinationProject": {
          "description": "Optional. The project ID of the destination project where the cloned instance will be created. To perform a cross-project clone, this field is required. If not specified, the clone is created in the same project as the source instance.",
          "type": "string"
        },
        "sourceInstanceDeletionTime": {
          "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "destinationNetwork": {
          "type": "string",
          "description": "Optional. The fully qualified URI of the VPC network to which the cloned instance will be connected via Private Services Access for private IP. For example:`projects/my-network-project/global/networks/my-network`. This field is only required for cross-project cloning."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#cloneContext`."
        }
      },
      "type": "object"
    },
    "InstancesFailoverRequest": {
      "id": "InstancesFailoverRequest",
      "description": "Instance failover request.",
      "properties": {
        "failoverContext": {
          "$ref": "FailoverContext",
          "description": "Failover Context."
        }
      },
      "type": "object"
    },
    "BinLogCoordinates": {
      "type": "object",
      "id": "BinLogCoordinates",
      "description": "Binary log coordinates.",
      "properties": {
        "binLogFileName": {
          "type": "string",
          "description": "Name of the binary log file for a Cloud SQL instance."
        },
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#binLogCoordinates`.",
          "type": "string"
        }
      }
    },
    "InstancesCloneRequest": {
      "type": "object",
      "id": "InstancesCloneRequest",
      "description": "Database instance clone request.",
      "properties": {
        "cloneContext": {
          "description": "Required. Contains details about the clone operation.",
          "$ref": "CloneContext"
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "description": "The additional metadata information regarding the execution of the SQL statements.",
      "properties": {
        "sqlStatementExecutionTime": {
          "type": "string",
          "description": "The time taken to execute the SQL statements.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "Backup": {
      "type": "object",
      "id": "Backup",
      "description": "A backup resource.",
      "properties": {
        "instance": {
          "type": "string",
          "description": "The name of the source database instance."
        },
        "maxChargeableBytes": {
[...]
